[2014-12-10 08:38] minggo commented on #9445
You are welcome.

[2014-12-10 08:38] #9445 closed, assigned to nobody

[2014-12-10 08:39] jasofan opened #9446 "cocos2d-x-3.1rc0 android版本，当同时起多个应用，并且与引擎来回切，会导致引擎所有的显示不正常（OpenGL error 0x0505 ）"
描述：
cocos2d-x-3.1rc0 android版本，当同时起多个应用，并且与引擎来回切，会导致引擎所有的显示不正常

错误显示见附件

通过日志发下如下错误：
E/cocos2d-x assert(  361): /home/test/LEO_Inside/BesTV_EPG/proj.android/../cocos2d/cocos/./2d/CCRenderTexture.cpp function:initWithWidthAndHeight line:275

![device-2014-11-21-140504](https://cloud.githubusercontent.com/assets/9956707/5372913/1840b4ba-808b-11e4-8f86-21b2719a3847.png)

D/cocos2d-x debug info(  361)

[2014-12-10 08:42] minggo commented on #9445
Could you please use English in future?
Then more guys will help you.

Thanks.

[2014-12-10 08:52] jasofan opened #9447 "cocos2d-x-3.1rc0 android版本，当同时起多个应用，并且与引擎来回切，会导致引擎黑屏（glError: 0x0505 ）"
描述：
cocos2d-x-3.1rc0 android版本，当同时起多个应用，并且与引擎来回切，会导致引擎黑屏（glError: 0x0505 ）

完整日志：
11-20 15:41:11.098 D/cocos2d-x debug info( 1271): imgUrl: http://ottpic.bbtv.cn//20141024/F1896594.jpg
11-20 15:41:11.098 D/cocos2d-x debug info( 1271): cachePath: /data/data/com.bestv.ott.baseservices/rs_data/imagedata//20141024/F1896594.jpg
11-20 15:41:11.098 D/cocos2d-x debug info( 1271): image file is exist
11-20

[2014-12-10 10:27] WenhaiLin commented on #8988
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9449

[2014-12-10 10:29] sappho192 commented on #8988
I checked it. Thanks @Dhilan007 .

[2014-12-10 10:31] zilongshanren opened #9450 "we should add CocosStudio 1.6 json reader test"
Since we have already added the 1.3,1.4 and 1.5 tests. We need to add 1.6 test.

[2014-12-10 10:43] #9398 closed, assigned to minggo

[2014-12-10 10:59] minggo commented on #9446
Duplicated with #9447.

[2014-12-10 10:59] #9446 closed, assigned to nobody

[2014-12-10 11:00] minggo commented on #9444
We will do it in next version.
We have already mentioned it in this file currently.

[2014-12-10 11:01] minggo commented on #9440
Lest's merge it next version.

[2014-12-10 11:02] #9429 closed, assigned to nobody

[2014-12-10 11:06] minggo commented on #9403
@natural-law
This issue is fixed.
Could you please paste the PR for this issue?

[2014-12-10 11:06] minggo commented on #9397
What's the issue?

[2014-12-11 01:35] natural-law commented on #9403
@minggo
https://github.com/cocos2d/cocos2d-x/pull/9413
This is the PR solved the problem.

[2014-12-11 01:49] #9376 closed, assigned to nobody

[2014-12-11 01:56] samuele3hu commented on #9337
The related pr is https://github.com/cocos2d/cocos2d-x/pull/9422

[2014-12-11 01:58] #9337 closed, assigned to samuele3hu

[2014-12-11 02:00] #8988 closed, assigned to WenhaiLin

[2014-12-11 02:28] zilongshanren opened #9456 "[v3.3 iOS] Console Custom Commands Test"
When input `telnet localhost 5678` in terminal, it shows me the following erorors:

[code]

[2014-12-11 02:52] zilongshanren opened #9457 "[v3.3 iOS]Extension->TimelineTest->TestChangePlaySection"
Click the test and it will crash.

@chengstory  please take a look at it.

Thanks.

[2014-12-11 03:13] chengstory commented on #9457
@pipu please take a look at it.

[2014-12-11 03:24] WenhaiLin commented on #8651
@pipu It's look like right-aligned text automatically move space to left side on iOS 7 above. I can't find any solution to fix it.

[2014-12-11 03:39] pipu commented on #9457
@andyque

I have fixed this bug and create a pull request.
web is:
https://github.com/cocos2d/cocos2d-x/pull/9459

You could review this pull request.
Thanks

[2014-12-11 04:03] zilongshanren commented on #8910
@doomsdayer
We should call this method on the `onEnter` method.
Since it is very historical issue and I can't find a perfect solution in a short time.

[2014-12-11 05:38] pipu commented on #8651
Okay

[2014-12-11 05:55] WenhaiLin commented on #8990
@pyrosphere Are there any other devices can reproduce this issue? We don't have Huawei U8510 IDEOS X3

[2014-12-11 06:03] zilongshanren opened #9463 "[v3.3 Linux]Console Test: The second test will crash"

[2014-12-11 06:26] super626 commented on #9396
ok

[2014-12-11 07:08] #9151 closed, assigned to minggo

[2014-12-11 07:12] #9457 closed, assigned to nobody

[2014-12-11 07:41] super626 commented on #9396
@jonyrock
Which version of cocos2d-x are you using?

@jonyrock , @minggo
I had checked this.
And I find it can work correctly since cocos2d-x-3.3rc0. Can you update your engine?

[2014-12-11 07:48] super626 commented on #9395
@jonyrock thanks.
I will fix this. It dues to the different order of multiplication of translation, scale and rotation.
A quickly solution for this is that import it into 3DS MAX and then export it to FBX again.

[2014-12-11 08:12] zilongshanren opened #9464 "[v3.3 Linux] RenderTextureTest -> Clipping To RenderTexture"
When click the "Reproduce bug" button , the app will crash.

[2014-12-11 08:17] ghost opened #9465 "Testing Sprite3D crash in release mode"
run cpp-tests->Node:Sprite3D->Testing Sprite3D(Sprite3d with effects)
press next arrow will crash

engine version: v3.3 commit 498ad489fe797e71b9dbc6c0798167dc8df46ac9

only tested on Andorid

[2014-12-11 08:17] fusijie opened #9466 "NotificationNode can't run action?"
`Version:` v3.3rc2
`Issue:` NotificationNode can't run action, it seems to be invalid.
`Reproduce:` eg. HelloWolrd.cpp

[code]

[2014-12-11 08:20] zilongshanren opened #9467 "[v3.3 Linux]Label Old API Test-> testing labelTTF with Chinese character"
ubuntu 14.04

It can't display CJK character properly.

[2014-12-11 08:32] zilongshanren opened #9468 "[v3.3 Linux]Node::Node Test Regular expression crash"

[2014-12-11 08:33] pyrosphere commented on #8990
I don't know on what other devices this happens - I only have 3 different android devices. I'm not even sure if this is caused by the device or by the Android version since this is the only one I have running 2.x. Sorry I couldn't be of more help.

[2014-12-11 08:55] zilongshanren opened #9469 "[v3.3 Linux] URL Open Test is not working."

[2014-12-11 08:57] zilongshanren opened #9470 "[v3.3 Linux]Shader-Sprite"
Some shader effect is not working.

[2014-12-11 08:58] fusijie opened #9471 "DrawNode can't run FadeOut and FadeIn action."
`Version`: v3.3rc2
`Issue`: DrawNode can't run FadeOut and FadeIn action.
`Reproduce`: eg. HelloWolrd.cpp

[code]

[2014-12-11 08:58] zilongshanren opened #9472 "[v3.3 Linux]Shader-Basic"
Most shaders are not working.

[2014-12-11 10:20] minggo commented on #9468
Should use gcc4.9.

[2014-12-11 10:20] #9468 closed, assigned to nobody

[2014-12-11 10:22] minggo commented on #9466
What did you mean invalid?
Don't have effect or compiling error?

[2014-12-11 10:23] minggo commented on #9464
Because of regular expression.
Should use gcc4.9.

[2014-12-11 10:23] #9464 closed, assigned to nobody

[2014-12-11 10:24] minggo commented on #9463
Duplicate with #8809.

[2014-12-11 10:24] #9463 closed, assigned to nobody

[2014-12-11 10:25] fusijie commented on #9466
Compile ok, it just only has **no effect**.

[2014-12-11 10:28] #8105 closed, assigned to nobody

[2014-12-11 10:29] #8147 closed, assigned to WenhaiLin

[2014-12-11 10:30] #8223 closed, assigned to nobody

[2014-12-11 10:31] #8267 closed, assigned to zilongshanren

[2014-12-11 10:32] #8264 closed, assigned to nobody

[2014-12-11 10:32] #8266 closed, assigned to nobody

[2014-12-11 10:33] #8261 closed, assigned to nobody

[2014-12-11 10:35] #8314 closed, assigned to nobody

[2014-12-11 10:35] #8303 closed, assigned to nobody

[2014-12-11 10:36] #8300 closed, assigned to nobody

[2014-12-11 10:39] liamcindy opened #9474 "UIListView 和UIScrollView添加UI控件，UIImageView 和 UIText这两个控件拖拽有问题"
当UIImageView 和 UIText这两个控件作为UIListView和UIScrollView的子控件的时候，超出UIListView和UIScrollView的渲染区的时候，无法进行拖拽；

红框中的button是可以拖动的，红框中的图片是不可以拖动的；

![utsing](https://cloud.githubusercontent.com/assets/2688189/5392764/f206c462-8164-11e4-8958-d555ef84cfdd.png)

[2014-12-11 10:41] #8348 closed, assigned to nobody

[2014-12-11 10:43] #8371 closed, assigned to nobody

[2014-12-11 10:43] #8366 closed, assigned to nobody

[2014-12-11 10:44] liamcindy commented on #9421
@andyque TextAtlas 好像也有这个问题，麻烦帮忙查一下吧

[2014-12-11 10:46] #8382 closed, assigned to nobody

[2014-12-11 10:47] #8413 closed, assigned to nobody

[2014-12-11 10:48] #8427 closed, assigned to nobody

[2014-12-11 10:48] #8438 closed, assigned to nobody

[2014-12-11 10:49] #8466 closed, assigned to nobody

[2014-12-11 14:37] emadpres opened #9479 "SocketIO Incompatibility"
Hi;
Summary:
We just noticed that SocketIO class (in cocos2d-x v3.3) is not compatible with the socket.io library version 1 and above.

Detail:
The SocketIO class of cocos was designed for socket.io 0.9. Nowadays all server are using socket.io v1 (and above) and this causes some incompatibility issues in using cocos2dx. please update cocos2dx SocketIO Class to use new version protocol of socket.io

[2014-12-11 16:32] jonyrock commented on #9396
@super626 Thank you for your reply.
My version is `cocos2d-x-3.3-rc0  Oct.21 2014`
Do you want me to update the engine?

[2014-12-11 17:03] ethankennerly opened #9480 "(v2) cc.ControlButton.addTargetWithActionForControlEvents silently fails on second button with same callback."
Workaround: For each target, create a unique function.

GOTCHA: In Cocos2d-x v2, adding the same function and event to a different target silently fails.
`if (it->second->_jsFunc == jsFunc && arg2 == it->second->_type)`
https://github.com/cocos2d/cocos2d-x/blame/v2/scripting/javascript/bindings/jsb_cocos2dx_extension_manual.cpp#L687

Test case:
cocos2d-html5 v2.2.2 accepts cc.Control.addTargetWith

[2014-12-11 22:26] ricardoquesada commented on #9436
let's fix this for v3.3-final.

[2014-12-12 01:52] minggo commented on #9436
@chengstory
What's the status?

[2014-12-12 02:54] #9391 closed, assigned to WenhaiLin

[2014-12-12 03:01] WenhaiLin commented on #9204
@sbhhbs I can't reproduce this issue. The only glitch I ran into is 'cannot locate 'rand''  when build base on Android 21. For more information: https://code.google.com/p/android/issues/detail?id=73725

[2014-12-12 03:33] minggo commented on #9396
@super626
It is better if you can tell @jonyrock how to fix it in the version it uses.
A pull request link is enough.

[2014-12-12 03:34] minggo commented on #9396
@jonyrock
Since it is resolved in new engine version.
Can i close this issue?

[2014-12-12 04:03] liamcindy commented on #9474
@andyque 这个问题我已经解决了，等cocos2dx合并过来以后，我提个PR吧

[2014-12-12 04:03] #9474 closed, assigned to zilongshanren

[2014-12-12 06:51] einverne commented on #9065
same error

[2014-12-12 07:48] #9465 closed, assigned to super626

[2014-12-12 08:16] pipu commented on #9436
I have fixed this, and submit pull request, and the pull request has been merged.
But I can't find the pull request id.
Please wait for a moment. I will continue to find the id.

[2014-12-12 08:38] #9436 closed, assigned to chengstory

[2014-12-12 08:46] RaoZiJian opened #9484 "PageView cannot only touch by horizontal, no matter how I try to rotate the pageview"
I'm running on Cocos2d-x 3.3 rc2.

The pageView can only touch by horizontal.
Even when I change the rotation , it still make no sense

[2014-12-12 08:50] kaikai2 opened #9485 "dead loop in Cocos2dxBitmap.java Cocos2dxBitmap.divideStringWithMaxWidth"
When maxWidth is too small to hold a single character, it will fall into a dead loop trying to divide that single character's string into next line.

[2014-12-12 08:58] kaikai2 commented on #9485
if a character is the only character of one line, it should not be divided into next line.

[code]

[2014-12-12 11:51] kyo9999 opened #9487 "cocos2d-x 3.2 getCurrentLanguage alway is en in iPhone6 simulator"
cocos2d-x 3.2 getCurrentLanguage alway is en in iPhone6 simulator
LanguageType Application::getCurrentLanguage()
{
    // get the current language and country config
    NSUserDefaults *defaults = [NSUserDefaults standardUserDefaults];
    NSArray *languages = [defaults objectForKey:@"AppleLanguages"];
    NSString *currentLanguage = [languages objectAtIndex:0];

[code]

}

[2014-12-12 12:26] jonyrock commented on #9396
@minggo I think so. I believe you that it is fixed :)

[2014-12-12 12:26] #9396 closed, assigned to super626

[2014-12-12 16:26] kaplad commented on #8321
Can I implement this issue?

[2014-12-12 16:45] #9338 closed, assigned to samuele3hu

[2014-12-12 16:49] minggo commented on #8321
@kaplad
Sure. You are appreciated if you can send a pull request for it.

[2014-12-12 16:51] minggo commented on #9396
@jonyrock
Thanks. If you find any problem, please reopen it again.

[2014-12-12 16:53] minggo commented on #9487
@kyo9999
Did you change the language in simulator?

[2014-12-12 16:54] minggo commented on #9485
@kaikai2
Could you add some codes to reproduce it?

[2014-12-12 23:10] hawkwood opened #9488 "setColor and TintTo/By work on a whole armature, but not on an individual bone"
Trying to setColor or run TintTo on just one bone in an armature does not work.  Verify by adding following code to the end of TestCSWithSkeleton::onEnter() of ArmatureScene.cpp

[code]

With this, hat should be black.  If line 1 is commented out, hat should be teal. If lines 2 & 3 are commented out, hat should be red.

The problem seems to be line 260 of CCBone.cpp, where _realColor is reset to W

[2014-12-13 18:57] tankorsmash commented on #8906
Has this been addressed in anyway yet?

[2014-12-13 23:32] sappho192 commented on #8906
I think not..

[2014-12-14 06:02] GreatToad opened #9493 "3.3rc0 DrawNode drawRect"
I find DrawNode drawRect , what it show not a rect , it is a circle!
code:
this->drawRect(Vec2(0,0),Vec2(0,100),Vec2(100,100),Vec2(100,0),Color4F::RED);

[2014-12-14 08:43] yagjak commented on #9355
@andyque , any news about this bug please, i can't publish my game :(

[2014-12-14 10:30] angelvet commented on #8964
I have upgraded to android-ndk-r10c and cocos2d-x-3.3rc2 and still experiencing this issue:

Program received signal SIGSEGV, Segmentation fault.
0xabaee9a1 in cocos2d::MathUtil::multiplyMatrix(float __vector(4) const_, float __vector(4) const_, float __vector(4)*) (
    m1=0xa0d14a8, m2=0xab581400, dst=0xa0d14a8)
    at ../cocos2d/cocos/./math/MathUtilSSE.inl:48
48  __m128 v0 = _mm_mul_ps(m1[0],

[2014-12-14 14:29] zilongshanren commented on #9347
@sgleizes
Could you please grab the crash log from your tested phone and paste it at here?
If I could see the crash log, it would be much simpler for me to find the reason.
Thanks.

[2014-12-14 14:30] zilongshanren commented on #8777
@minggo
please close this issue, it has  already been solved.
thanks.

[2014-12-14 14:31] zilongshanren commented on #9484
@RaoZiJian
Thanks for reporting this issue. I will check it out later.

[2014-12-15 02:20] zilongshanren commented on #9421
@liamcindy
Thanks, I will check it later.

[2014-12-15 02:50] zilongshanren opened #9496 "[Bug] PageView removePageAtIndex doesn't update _currentPageIndex"
When call removePageAtIndex method, the currentPageIndex() returns a old pageIndex.

[2014-12-15 04:44] Yehsam23 commented on #9466
Try
label->onEnter();
When you setNotificationNode.

[2014-12-15 05:56] #8777 closed, assigned to zilongshanren

[2014-12-15 06:10] ghost commented on #9493
@GreatToad You should use another function drawRect(drawRect(const Vec2 &origin, const Vec2 &destination, const Color4F &color))
this->drawRect(Vec2(0,0),Vec2(100,100),Color4F::RED);

[2014-12-15 06:11] chengstory commented on #9488
@pipu   please take a look

[2014-12-15 06:17] fusijie commented on #9466
Thanks, it works good.

[2014-12-15 06:31] pipu commented on #9488
@2youyouo2

Take a look, please.

[2014-12-15 06:40] kyo9999 commented on #9487
@minggo yes, i change the language in simulator, it ok in iphone4s/iphone5, but not ok in iphone6 resize simulator

[2014-12-15 06:43] WenhaiLin commented on #9421
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9497

[2014-12-15 06:49] minggo commented on #8964
Hi guys,

How to reproduce it?

[2014-12-15 06:55] minggo commented on #9467
The OS doesn't have the font.

[2014-12-15 06:55] #9467 closed, assigned to nobody

[2014-12-15 07:51] zilongshanren commented on #9345
@liamcindy
The issue can't be resolved by us, since it is determined by operating system.

[2014-12-15 07:52] zilongshanren commented on #9254
@liamcindy
There are many exceptions here, so it might need one or more weeks to resolve it.
Thanks.

[2014-12-15 07:53] lalaloha commented on #9466
what is the use of "setnotificationnode"? i don't find it anywhere..

[2014-12-15 08:22] zilongshanren commented on #9214
I need to change the manual stencil configuration to ClippingNode.

[2014-12-15 08:25] zilongshanren commented on #8733
@stammen
we are using curl 7.26.

[2014-12-15 08:37] matsukaz opened #9499 "Fonts not shown on some android devices"
When I create multiple Labels at once, sometimes fonts disappeared like "H   o Wor d" instead of "Hello World".
This occurs on some android devices like Galaxy S3 or Xperia Z.

I found out that this problem occurs when Texture2D object, defined as "FontAtlas::_atlasTextures", fails to update correctly.
Texture2D::updateWithData() is calling

[code]

to update Texture2D object, but it seems like th

[2014-12-15 09:30] liamcindy opened #9500 "Different font has different display with the same text"
1.Fingerpop字体会不显示空格，并且将所有字体，包含文本中第二行的字体，渲染区压缩显示为1行；2.Runez of Omegd.ttf，在渲染区，会把空格变为换行

Text\* alert = Text::create("Text","fonts/Fingerpop.ttf", 20);
        alert->ignoreContentAdaptWithSize(false);
        alert->setContentSize(Size(200,200));
        alert->setString("Text Label : Fingerpop.ttf");
        alert->setColor(Color3B(159, 168, 176));
        alert->setPosition(Vec2(widgetSize.width

[2014-12-15 10:57] 2youyou2 commented on #9488
hi, hawkwood.
I have test it. It seems it's ok to remove those two lines in CCBone.cpp.
I forgot what problem to solve with those two lines.

[2014-12-15 10:58] PodcastDave commented on #9499
I have also seen a similar issue when updating ui::Text on applicationWillEnterForeground. As described above, letters would be missing. I think this must be an issue with font atlas as the same letters will be missing across all ui::Text. If another scene is launched, the issue is resolved.

See the example below. On Moto G (v4.4.4, cocos2d-x-3.2), the ui::Text instances initially read 'Init', th

[2014-12-15 16:59] zszen opened #9502 "cocos2dx 2.2.5 can't play background music ogg or mp3"
12-16 00:57:18.572: E/MediaPlayer(29018): Should have subtitle controller already set
12-16 00:57:18.572: E/MediaPlayer(29018): Should have subtitle controller already set
12-16 00:57:19.979: E/MediaPlayer(29018): start called in state 1
12-16 00:57:19.979: E/MediaPlayer(29018): error (-38, 0)
12-16 00:57:19.979: E/MediaPlayer(29018): Error (-38,0)

[2014-12-15 17:57] irisdominguez opened #9503 "Material file loading for .obj 3D models"
I have been experimenting with loading obj files on a Sprite3D, and the material files (.mtl) are not loaded for any object. I found the two bugs that are related to this issue, and I think I have found both solutions.

In the cocos2dx forum you can find an example of a cube failing and my solution:

http://discuss.cocos2d-x.org/t/sprite3d-materials-in-mtl-file-not-applied-to-object-in-game/16871

[2014-12-16 01:27] minggo commented on #9503
@super626
Could you please take a look?

[2014-12-16 01:28] minggo commented on #9502
How to reproduce it?

[2014-12-16 01:29] minggo commented on #9502
And what's the Android version you tested on?
If you run on Android 5.0, it is fixed in v2.2.6.

[2014-12-16 01:51] minggo commented on #9421
@liamcindy
Could you please check it?

[2014-12-16 02:02] zilongshanren commented on #9500
@liamcindy
Your code doesn't match the picture. What's the code to display "textInputTest" label?

[2014-12-16 02:11] liamcindy commented on #9421
Thanks, I will check it later.

[2014-12-16 02:13] liamcindy commented on #9500
@andyque
Sorry, it's my mistake.

alert->setString("Text Label : TTF Test");
alert1->setString("Text Label : TTF Test");

[2014-12-16 03:03] zilongshanren commented on #8490
@minggo
Yes, it's already fixed.
Now we have `setColor` for changing button's color and `setTitleColor` for changing button title color only.

[2014-12-16 03:35] zilongshanren opened #9506 "Modification the default behavior of some UI widgets"
As a user, we hope we could use minimal resources to create a widget.
1. Modification default resource usage of the following widgets:
   a) ui::CheckBox: "background selected state", "background disabled state" and "cross icon disabled state" resources are empty on default
   b) ui::Slider: "inner progress bar", "slider ball pressed state" and "slider ball disabled state" resources are empty on d

[2014-12-16 03:49] WenhaiLin commented on #9254
@liamcindy It's cause by the value of text height obtained from Willowheart.ttf is incorrect. I can't find any alternative schemes for FontFreeType::getFontMaxHeight(). Maybe I'm missing something here.

![1](https://cloud.githubusercontent.com/assets/5234286/5448373/92e7e7be-8519-11e4-9cd7-e5f33d865294.jpg)

[2014-12-16 03:50] samuele3hu commented on #9487
@kyo9999, Did you use Xcode6.1 and iOS 8.1.Referring to the  Xcode 6.1 release notes, simulator has some changes that might have caused this.
https://developer.apple.com/library/ios/releasenotes/DeveloperTools/RN-Xcode/Chapters/xc6_release_notes.html

[2014-12-16 03:57] WenhaiLin commented on #9345
Whether you set the area size of Text by setTextAreaSize?

[2014-12-16 04:09] thinkong commented on #9389
I am having the same issue.. or almost the same issue..
we are using cocos2dx 3.3 rc0 and cannot load a csb file from the most recent cocostudio update

any help?

edit:
oh well never mind..
http://discuss.cocos2d-x.org/t/cocos2dx-3-2-cocosstudio-2-x-x-not-compatible/18764/4
guess the newest cocostudio wasn't compatible with cocos2dx 3.3rc0

[2014-12-16 05:15] herojia2021 opened #9507 "isMaxLengthEnabled handling in UITextField::setString"
in cocos3.2 , if i setMaxLength of textField to 5, then if the textfield already have "abc" and i setText with "def"
it will be a assert of access out of arraybound.

i findout cocs3.3 have a little change in setText implement, getSubStringOfUTF8String avoid the assert

but actually, why the code compare the maxlimit with length of "abc" plus "def", it should just compare
maxlimit with "def", then

[2014-12-16 05:56] zilongshanren commented on #9507
@Japarazzi
Thanks, I think you are right here. Could you send a PR to resolve this issue?

[2014-12-16 06:19] zhaijialong opened #9508 "Timeline json support is broken"
In the `ExtensionTest/CocoStudioActionTimeTest`, csb works well, but json not. You can try with `TestTimelineFrameEvent`, will get this error:

[code]

 If I revert the changes of retain & release in #https://github.com/cocos2d/cocos2d-x/commit/85fb2c91aba64c9945cbde1fc5cf802a250c17b8 , it turns ok.

[2014-12-16 06:19] zilongshanren commented on #9484
@RaoZiJian
Currently PageView doesn't support touch by vertical. We will implement it in later version.

[2014-12-16 06:51] thinkong opened #9509 "Opacity changing tweens in cocostudio 2.0.5 crashing game when loading."
we we're using 2.0.4 with cocos2dx 3.3 rc0.
and everything seemed to be fine.

but today we updated it to 3.3 final and 2.0.5 and now any cocostudio file with opacity changing tweens(timelines) seem to make it crash.

any help would be great

[2014-12-16 06:51] thinkong commented on #9509
I also opened up an issue here
https://github.com/darkdukey/Cocos-Studio/issues/29

[2014-12-16 08:38] minggo opened #9510 "Rotation representation with quaternion"

[2014-12-16 08:39] minggo opened #9511 "Load 3d sprite using another thread"

[2014-12-16 08:39] minggo opened #9512 "Refactor Renderer to support FantasyWorrior"

[2014-12-16 08:40] minggo opened #9513 "Add hook in FileUtils to support customer reader"

[2014-12-16 08:42] minggo opened #9514 "Replace libcurl with system network module on iOS and android."
@samuele3hu implements Android port
@huangshiwu implements iOS port

[2014-12-16 08:42] minggo opened #9515 "3d frustum culling"

[2014-12-16 08:43] minggo opened #9516 "faster tilemap (experimental -> stable)"

[2014-12-16 08:44] minggo commented on #9516
- should keep compatibility with TMXTiledMap
- should support new features of Tiled Editor

[2014-12-16 08:45] zilongshanren opened #9517 "UI::Button restrict capInsetSize logic is duplicated"

[2014-12-16 08:46] minggo opened #9518 "New audio support all platforms"
Should implements new audio engine on `linux`, `WP8.1/WinRT` and `WP8`.

[2014-12-16 08:50] #8490 closed, assigned to zilongshanren

[2014-12-16 08:54] minggo opened #9520 "Optimize v3.4"

[2014-12-16 08:55] minggo opened #9521 "Animate supports callback when a specific frame is invoked"

[2014-12-16 08:55] minggo opened #9522 "Spine runtime license: what to do with it."

[2014-12-16 08:56] minggo opened #9523 "Update libcurl to latest version"

[2014-12-16 09:08] minggo commented on #9421
@liamcindy
Please close this issue if you confirm it is resolved.

[2014-12-16 09:15] chengstory commented on #9389
Cocos Studio correspondence with cocos2dx:
￼￼![111](https://cloud.githubusercontent.com/assets/2960368/5451015/0dff410e-8547-11e4-9072-099ee7877bc6.png)

[2014-12-16 09:17] mumreg opened #9524 "Crash while loading .csb file on CocoStudio 2.0.5 + cocos2d-x 3.3"
How to reproduce:
`Node *node = cocostudio::SceneReader::getInstance()->createNodeWithSceneFile("MainScene.csb");`

got crash in CocoLoader.cpp (line 45):
`tType = Type(tpAttribDescArray[m_AttribIndex].m_cTypeName - 'N' + kNullType);`

*.csb file published with CocoStudio 2.0.5 (MacOS version)

[MainScene.csb](https://drive.google.com/file/d/0BypRmcthNgLLZWhIcG96U0xaUjQ/view?usp=sharing)

[2014-12-16 09:17] chengstory commented on #9389
cocos2d-x version is minimum version to support Studio.

[2014-12-16 09:18] minggo commented on #9389
Thanks @chengstory.
I think it is better put these information in a url in english, then you can refer it in future.

[2014-12-16 09:20] minggo commented on #9500
@liamcindy
Please change the title in English.
Thanks.

[2014-12-16 09:23] mumreg commented on #9524
Handled with issue by replacing SceneReader call to CSLoader::createNode

[2014-12-16 09:23] #9524 closed, assigned to nobody

[2014-12-16 09:30] honeboy commented on #9389
Where can I download cocos studio 2.0.6?

[2014-12-16 09:41] chengstory commented on #9389
We plan to release cocos studio 2.0.6 tomorrow(2014.12.17 in Beijing)

[2014-12-16 10:04] lvlonggame commented on #9503
@Greezael
I think you are right, the  "NMaterialData materialdata" should be declared inside the loop.

[2014-12-16 10:31] #9440 closed, assigned to zilongshanren

[2014-12-16 11:01] stammen commented on #9523
What versions of libcurl and png are you going to use?

[2014-12-16 11:07] liu-ben opened #9527 "The director's destructor will not be executed in IOS platform."
The helloworld project generated by cocos (ver3.3rc0) command has following code when a user touch the quit button.

...
    Director::getInstance()->end();
# if (CC_TARGET_PLATFORM == CC_PLATFORM_IOS)

[code]
# endif

...

In the director's end() method, it just sets a flag to inform that in the next cycle the director will be purged. However, the following exit(0) will end the program immediatel

[2014-12-16 13:24] claytoncurmi opened #9528 "Access is denied"
Hi,

I've just downloaded the latest version of Cocos2d-x from GitHub (project is stored in C:\Cocos2Dx folder). After running the download-deps.py and setup.py (and closing the terminal window), I tried to create a new project using the following command (I opened terminal in Administrator mode);

cocos.py new FooBar -p com.foo.bar-l cpp -d C:\FooBar

I'm getting the following response;

C:\Cocos

[2014-12-16 13:31] claytoncurmi commented on #9403
Hi,

I've just downloaded the latest version of Cocos2d-x from GitHub (project is stored in C:\Cocos2Dx folder). After running the download-deps.py and setup.py (and closing the terminal window), I tried to create a new project using the following command (I opened terminal in Administrator mode);

cocos.py new FooBar -p com.foo.bar-l cpp -d C:\FooBar

I'm getting the following response;

C:\Cocos

[2014-12-16 13:55] claytoncurmi commented on #9403
Fixed, it was a problem in the paths (COCOS_X_ROOT was invalid)

[2014-12-16 17:14] samueldedavid opened #9529 "GLEW_INCLUDE_DIR GLEW_LIBRARY win32-msvc-2013-x86.bat"
it says glew not found GLEW_INCLUDE_DIR GLEW_LIBRARY
also zlib.h not found.when building after modifications

[2014-12-16 22:17] KrissMu commented on #8964
Hi,

I have updated NDK to r10d and I'm using cocos2d-x-3.3 (downloaded yesterday).
I'm still experiencing the SSE issue.

What I did:
I used cocos console to create a new project, then I import the project into Android Studio (import, not open, it then creates some folders and so on).
I had to do some tricks here and there to make it work such as copying Resources folderto a newly created assets

[2014-12-17 00:14] thinkong commented on #9389
@chengstory will it have a fix for the opacity stuff?
and.. do you have an estimated time? in Beijing time? I am super waiting for a 2.0.6@@

[2014-12-17 01:36] minggo commented on #8964
@KrissMu
Thanks for feedback.

There is a known issue when build with Android 21 for x86 architecture. You can refer to [this issue](https://github.com/cocos2d/cocos2d-x/issues/9204) for detail information. It is nothing about engine.

And we haven't tested Android studio, is there any problem if you don't use Android studio?

[2014-12-17 01:48] #9403 closed, assigned to natural-law

[2014-12-17 02:06] zhaijialong commented on #9508
@pipu @andyque
Any thought?

[2014-12-17 02:42] pandamicro commented on #9508
@chengstory

[2014-12-17 03:33] chengstory commented on #9508
The export file of json is not supported now.

[2014-12-17 03:35] pipu commented on #9508
The export file of json is not supported in current version of cocos2d-x and CocosStudio editor.

[2014-12-17 03:55] zhaijialong commented on #9508
ok , thanks.

[2014-12-17 04:20] pandamicro commented on #9508
So you mean Cocos2d-x 3.3 doesn't support Cocos Studio 1.6, am I correct?

[2014-12-17 04:25] nbtthief opened #9532 "Engine scale the bones imported from cocostudio, but not scale the textures attached to it"
Hi, i'm not really sure if this is a bug, but i notice our engine only scale the bones but not the textures attached to it, that's why we have a problem with gaps between our sprites in armature when we don't have a set of resources specifically for that scale factor.

Would you please take a look at this topic, and my topic (linked on it)?
http://discuss.cocos2d-x.org/t/cocos-studio-2-feedback/18

[2014-12-17 06:14] lvlonggame commented on #9503
@Greezael
Could you give me more info about your second question or give me an example !

[2014-12-17 06:27] zilongshanren opened #9534 "WebP format with alpha channel displayed wrong in v3.3"
more details, please refer to
http://discuss.cocos2d-x.org/t/webp-images-with-transparency-alpha-render-cocos2d-x-3-3-rc0/18330/2

[2014-12-17 07:02] ryukbk commented on #9436
So this didn't make it to 3.3 final it seems.

[2014-12-17 07:42] minggo commented on #9436
@ryukbk
What did you mean?

[2014-12-17 08:14] natural-law opened #9535 "Screen will blink once when portrait project launching on android."
How to reproduce the problem:
1. Modify the AndroidManifest.xml of cpp-empty-test. Replace `landscape` with `portrait`.
2. Run cpp-empty-test on android.

The performance of the problem:
The screen will blink once when `cpp-empty-test` is launching.

[2014-12-17 08:29] minggo opened #9536 "Can not load 3d model correctly"
Engine version: v3.3

Description:
The model can be loaded correctly with Unity, but the effect is wrong when using Sprite3D to load it.

[2014-12-17 08:29] minggo commented on #9536
Wrong effect:
![ectk r p 70u n7v g8ea7](https://cloud.githubusercontent.com/assets/488203/5468434/d1919a6e-8609-11e4-9b14-8de8bc138b8d.jpg)

[2014-12-17 08:29] minggo commented on #9536
Expected effect
![9wt68 e8h zs7 wvsllfep](https://cloud.githubusercontent.com/assets/488203/5468441/e84b534e-8609-11e4-9146-be57a112a0fc.jpg)

[2014-12-17 08:46] minggo opened #9537 "Make parameters more sense"
- position: vec2, vec3 (for scripts)
- color: color3b, color4b, color3f, color4f (for scripts)
- angles: degreesCW, radiansCW, degrees CCW, radiansCCW
- time: seconds, miliseconds, microseconds

[2014-12-17 09:16] irisdominguez commented on #9503
The loadObj function has a fifth parameter (mtl_basepath) for the path were it will load the .mtl file, with the materials. Right now, it is left as default, just a nullptr.

Inside the Bundle3D::loadObj implementation, that parameter falls to the ObjLoader::LoadObj function, and from there to the LoadMtl function (inside CCObjLoader.cpp). As the parameter is always nullptr, when it tries to load

[2014-12-17 09:43] #9536 closed, assigned to super626

[2014-12-17 10:33] ryukbk commented on #9436
@minggo Never mind, it seems I had mistaken 3.3 RC2 as 3.3, and the fix is indeed in. Thanks!

[2014-12-17 10:34] minggo commented on #9436
Got it.
No problem:)

[2014-12-17 13:05] naive231 opened #9541 "Small gap in `AudioEngine`'s loop."
I write a very small function to test this situation as follows:

[code]

I saved them as a header file, and include it into _cpp-empty-test_ project.Then I run my project, audio played well except 2 problems.

First,if I don't loop this player, my lambda function can be invoked, but the message at logcat isn't correct:

[code]

Final "time" value shows that current time is less than duration, but

[2014-12-17 15:16] KrissMu commented on #8964
I can't try outside of Android Studio at the moment, but changing the API version of the emulator from 15 to 16 or 19 has a different behavior. It can launch, but will crash after a few seconds.
Anyway, I don't think it's the same issue than above. It has someting to do with x86, but not with SSE I guess.

Edit:
After a long debugging session, I finally think it's still related to the same functio

[2014-12-17 16:38] ruslanmaley opened #9542 "cocos2d-x 3.3 iOS 8 GLView wrong frame"
GLView has wrong frame when keyboard is hiding at EditBox in landscape orientation. It seems that the new frame has the value corresponding to the portrait but not to landscape orientation.
I think, problem is at CCEAGLView-ios.mm file -(void) doAnimationWhenKeyboardMoveWithDuration:(float)duration distance:(float)dis method

[2014-12-18 01:30] lvlonggame commented on #9503
OK!! I will try it, thank you.

[2014-12-18 01:46] minggo commented on #8964
But we built with Android SDK lower than 21 and run on X86 device, it doesn't have problem. I am not sure if it is caused by Android Studio or not.

[2014-12-18 11:41] KrissMu commented on #8964
I'm still investigating to see if I can find the exact thing that does not work.

However, could it be related to the emulator ? As far as I know, Android Studio does nothing else than using NDK tools to compile the C++ code and copy/run the apk on the emulator. I don't really see what could be different from cocos console, except for the emulator definition/configuration.

[2014-12-18 13:47] minggo commented on #8964
You don't test on android device?

[2014-12-18 16:00] angelvet commented on #8964
Hello minggo,

NDK r10c, cocos2d-x-3.3rc2

See my steps to reproduce,
- create initial cocos application with 'cocos new -l cpp ...'
- cocos compile -v -p android -m debug -j 8 --ap android-10
- adb -s emulator-5554 install -s "application.apk"'
- run app on emulator.

My emulator setup are: Android 4.0.3 (API Level 15), CPU/ABI: Intel Atom (x86), Use Host GPU option is set.

Also I tested with ND

[2014-12-18 16:46] klemsFR opened #9545 "cocos2d-x 3.3 : TextFieldTTF::setTextColor issue"
The behaviour of the TextFieldTTF::setTextColor has changed between version 3.2 and 3.3:
In 3.2 the new color was applied after the call of setTextColor function
In 3.3 the new color is not applied despite the call to setTextColor until at least one call to setString is peformed (before or after the call to setTextColor, that makes no difference).
Otherwise the textfield remains greyed as if it we

[2014-12-18 18:23] raould opened #9546 "Could NOT find GLEW (missing: GLEW_INCLUDE_DIR GLEW_LIBRARY)"
Ubuntu 14.04 intel 32bit
:~/Dev/cocos2d-x/Test/MyTest$ dpkg-query -l|egrep -i "glew|glfw"
ii  glew-utils                                                  1.10.0-3                                            i386         OpenGL Extension Wrangler - utilities
ii  libglew-dbg                                                 1.10.0-3                                            i386         OpenGL Extensi

[2014-12-18 23:46] KrissMu commented on #8964
minggo,

Unfortunately I don't have a real x86 device, so I have to test this architecture on a virtual one (API 19 for now).

After several hours of various tests, I can confirm that the crash happens when dst is modified at the end of the multiplyMatrix(const __m128 m1[4], const __m128 m2[4], __m128 dst[4]) function.
It won't happen the first call, but quite regularly after about 2000 calls.

I

[2014-12-19 00:20] #9541 closed, assigned to nobody

[2014-12-19 01:21] zilongshanren commented on #9546
Have you installed GLEW on your system?
If so, please refer to https://github.com/cocos2d/cocos2d-x/pull/9544
And add FindGLEW.cmake to the `cmake/Module`.
thanks.

[2014-12-19 01:26] raould commented on #9546
Thanks for your comment. The part in the logs above "dpkg-query -l|egrep -i "glew|glfw"" is showing what I already have installed, so I think I already have lib GLEW installed. Is there anybody else using Ubuntu who has this problem who has fixed it? Obviously #9544 has that problem on Ubuntu 12, I'm on Ubuntu 14. What is the smallest local change to the CMake files to fix it, does anybody know?

[2014-12-19 01:37] minggo commented on #8964
@KrissMu
We tested on x86 real device, there is not problem.
As we always suggestion, i suggest you test on real device in Android world.

[2014-12-19 01:40] thinkong opened #9548 "crash in android when using cocostudio 2.0 with 3.3"
related thread
http://discuss.cocos2d-x.org/t/crash-in-android-after-upgrading-to-3-3-final/18982/2

dunno exactly how to reproduce it. but it works fine in windows but crashes in android.. any help please

[2014-12-19 01:56] #9534 closed, assigned to zilongshanren

[2014-12-19 01:57] stevetranby opened #9549 "UI Widgets should propagate and swallow both touches and mouse events."
I believe UI Widgets should respond to and propagate or swallow mouse and touch events in the same manner so that when a touch event is swallowed by a button, the left mouse button event would also swallowed. If there isn't a clean way to support having both event types then another option would be to force UI Widgets to use mouse events OR touch events based on some flag (likely using a preproces

[2014-12-19 02:10] minggo commented on #9548
I think it is about studio reader and engine mismatch issue.
Duplicated with #9389?

[2014-12-19 02:39] thinkong commented on #9548
@minggo
Oh.. right.. :(
I thought I had already published my project files.. guess i forgot..

[2014-12-19 02:39] #9548 closed, assigned to nobody

[2014-12-19 02:42] kienvn opened #9550 "Cocos2d-x 3.3, Cocos studio: Relative percentage of parent container not working"
I can't use this function.
Can you send me format of .csb file?

[2014-12-19 03:02] minggo opened #9552 "KeyCode issue in lua-binding"
No due date   Last updated less than a minute ago
When resolving #8988, forget to synchronize the modification in lua-binding.
Now these enum values are maintained manually, it is easy to have problem such as this issue.
I think we should these values should be updated automatically by binding-generator.

Fixed in #9551.

[2014-12-19 03:02] #9552 closed, assigned to minggo

[2014-12-19 08:01] minggo opened #9555 "MoveTo and MoveBy supports Vec3"

[2014-12-19 08:34] minggo opened #9556 "Can not set background color"
Now Director clear default color like this:

[code]

There is not way to change the color used in `glClearColor()`.

[2014-12-19 09:40] liamcindy commented on #9345
@Dhilan007 Just set ignoreContentAdaptWithSize ture

[2014-12-19 09:47] liamcindy commented on #9421
@minggo Ok,thanks!

[2014-12-19 09:47] #9421 closed, assigned to WenhaiLin

[2014-12-19 11:56] KyoChen opened #9559 "LabelTTF display unexpectedly"
issue: Words of label created with TTF display unexpectedly. Look at the attached picture, part of each word doses not displayed, especially the edge of rounded part of 'b'/'e'/'2'/'1'.
reason: The situation may be caused by error or offset of textureRect of sprite
advice: Add 2 px width/height padding(empty) among words on texture that created with TTF. Just like Glyph Padding option of GlyphDesi

[2014-12-19 12:36] vovkasm commented on #9546
@raould, can you run this command in you environment, please:

[code]

For ex, on my ArchLinux, results are:

[code]

[2014-12-19 14:54] dotsquid opened #9560 "MotionStreak jittering"
TL;DR
When frame rate is higher than 60fps the motion streak is jerky. To be more precise, the 'beginning' of the motion streak freezes for a short time every second.
This is caused by assuming that the game will run at 60fps or less

Here is the description and a short conversation http://discuss.cocos2d-x.org/t/motionstreak-jittering/18158

[2014-12-19 15:34] minggo commented on #9542
@ruslanmaley
I can not catch your idea.
What's the matter?

[2014-12-19 15:40] minggo commented on #9527
When invoking exit(0), the application will be terminated. There is not need to purge anything. All memories will be released to system.

But i am not sure what's the correct way to terminate an application on iOS.

[2014-12-19 15:51] vovkasm commented on #9546
I just install [ubuntu/trusty32](https://atlas.hashicorp.com/ubuntu/boxes/trusty32) (Official Ubuntu Server 14.04 LTS (Trusty Tahr) builds) with vagrant.
- Upgrade `apt-get update`, `apt-get upgrade`
- Install git, cmake, gcc, etc...
- clone v3 branch
- Then install all deps (`python2 download_deps.py -r no`, `build/install-deps-linux.sh` and `tools/travis-scripts/install_glfw.sh`)
- Then `mkdir ~

[2014-12-19 21:17] milos1290 commented on #8906
Not yet, soon i hope

[2014-12-19 21:19] tankorsmash commented on #8906
What can a casual dev do to help this along?

[2014-12-20 05:15] zilongshanren commented on #9545
Thanks, @klemsFR
I think it's a normal behavior.

The `setTextColor` API is reserved for changing the color of user input text.

But the TextFieldTTF control also has a placeholder text and a placeholder color. When the input text is zero length, we use the `_inputText` for displaying placeholder text, when the `_inputText` is larger than zero, we use it for displaying user inputed text.

So if we

[2014-12-20 05:46] zilongshanren commented on #9546
Hi, @vovkasm
When I try to build cocos2d-x v3 on my Ubuntu 12.04 64bit server, it indeed gives me errors, I added another FindGLEW.cmake to resolve this issue. And I have also made a PR: https://github.com/cocos2d/cocos2d-x/pull/9544  But this PR is not perfect, so I closed it.

But I can build it successfully on my Ubuntu 14.04 desktop. I don't know why. It seems the installation of GLEW is faile

[2014-12-20 06:40] vovkasm commented on #9546
@andyque,

Yes, 12.04 is another story... I'll try to look into it today (also, only configure part)...

Yes, me too. But that script contains list of packages, so I can install them manually.

[2014-12-20 07:01] raould commented on #9546
Linux x 3.13.0-43-generic #72-Ubuntu SMP Mon Dec 8 19:35:44 UTC 2014 i686 i686 i686 GNU/Linux

/usr/share/cmake-2.8/Modules/FindGLEW.cmake
/usr/share/doc/libglew1.10
/usr/share/doc/glew-utils
/usr/share/doc/libglew-dbg
/usr/share/doc/libglewmx1.10
/usr/lib/i386-linux-gnu/libGLEWmx.so.1.10
/usr/lib/i386-linux-gnu/libGLEW.so.1.10.0
/usr/lib/i386-linux-gnu/libGLEW.so.1.10
/usr/lib/i386-linux-gnu/libG

[2014-12-20 07:18] raould commented on #9546
Ok, I re-did things like run the install-deps-linux.sh, and apt-get install glew-utils libglew-dev. I noticed e.g. gnutls failed during the sh script, so I did a manual install. Now I am getting further, past the GLEW problem, hooray! (I apparently am missin CURL libs, next :-)

[2014-12-20 07:18] #9546 closed, assigned to nobody

[2014-12-20 07:27] raould opened #9564 "Compilation warnings on Linux"
I don't know if anybody cares about compiler warnings?

On Ubuntu 14.04 intel 32bit, I set up the simple 'hello lua' app using the "cocos" command line tool, then I did "cocos run -p linux" and the compilation spat out a few warnings here and there as it went along.

Here is a small part of all the warnings I've seen:

[  9%] Building CXX object cocos2d-x/cocos/CMakeFiles/cocos2d.dir/2d/CCFastTMXT

[2014-12-20 07:33] raould opened #9565 "Window close button doesn't kill app"
Ubuntu 14.04 intel 32bit.
Set up the "hello lua" chipmonk project, did "cocos run -p linux" and it built and started running. The shell is blocked until the app quits.
Then I clicked on the window close/kill button.
Expected: App to quit: window to go away, and command line to return to regular prompt.
Actual: The command line didn't return to regular prompt. The app wasn't fully killed. Only the

[2014-12-20 11:42] ruslanmaley commented on #9542
@minggo
There is problem with OpenGL frame on iOS 8+ when keyboard is showing and hiding from EditBox. I'm attaching screenshot of my app when keyboard was hiding.
![img_0194](https://cloud.githubusercontent.com/assets/4919677/5514658/1b3f0cec-884d-11e4-911d-8364c199f35b.PNG)

[2014-12-20 14:51] klemsFR commented on #9545
OK, thank you!

[2014-12-20 21:27] KrissMu commented on #8964
Ok fine for me then, I'll try to report the issue to the AVD developers if I can find them.

Thanks

[2014-12-21 07:19] zilongshanren commented on #9545
@klemsFR
You are welcome:)

@minggo
I think we could close this issue now.

[2014-12-21 08:12] liu-ben commented on #9527
The purgeDirector calls scene->onExit and other similar stuffs. A user may put code for saving user progresses in the onExit method, and it will not be executed on IOS platform. As I mentioned, putting the code at the end of purgeDirector,  it works for me.
#if (CC_TARGET_PLATFORM == CC_PLATFORM_IOS)
exit(0);
#endif

[2014-12-21 14:40] vovkasm commented on #9529
Hi, @samueldedavid
I fix this (and some other errors) in [vovkasm/cocos2d-x branch dev/cmake-msvc-fixes](https://github.com/vovkasm/cocos2d-x/tree/dev/cmake-msvc-fixes)

Please test in you environment, but note, that other problems exists, for ex. tests not correctly placed in build directories, and can not be executed (to execute all *.dll should be copied in same dir, where exe file, also resour

[2014-12-22 01:52] #9545 closed, assigned to zilongshanren

[2014-12-22 04:47] anayi opened #9571 "Trouble with setting up in VS Express 2012"
Good evening!

I am trying to set up Cocos2D-X version 3.3 and I am having trouble.

After opening 'cocos2d-win32.vc2012' in Visual Studio (as stated in Cocos2d-X's wiki page: http://www.cocos2d-x.org/wiki/Win32_Installation_and_Setup), this was displayed in the Output window:

C:\Users\I.T\AppData\Local\Temp\Temp1_cocos2d-x-3.3.zip\cocos2d-x-3.3\tests\cpp-tests\proj.win32\cpp-tests.vcxproj : erro

[2014-12-22 05:40] zhaijialong opened #9572 "problem of UIEditbox::setFontSize & setPlaceholderFontSize"
[code]

As you can see, `setFontSize` need `_fontName.length()>0` to work. So if I just want to use default font, and don't invoke `setFontName`, I can't change the font size.
@andyque

[2014-12-22 06:43] minggo commented on #9479
We may not have enough resource in v3.4 as we planned to release v3.4beta0 on Dec.31.

[2014-12-22 06:44] minggo opened #9576 "Binary version of GAF"

[2014-12-22 06:45] minggo commented on #9520
@dabingnn handle the performance issue of renderer.
@Dhilan007 handle the performance issue of physics.

[2014-12-22 06:51] pandamicro opened #9577 "Cocos2d-x have conflict with iOS 8 third party IME (sogou)"
Possibly related to some `system` call which have been deprecated.
This issue will due to random crash

How to reproduce:
Open and close IME panel repeatly in game

[2014-12-22 09:48] #9555 closed, assigned to minggo

[2014-12-22 10:05] volzhs opened #9581 "Hindi is missing in cocos2d::LanguageType"
As wikipedia says, Hindi speakers rank 4th by population.

http://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers

Would cocos2d-x team add Hindi language type?

[2014-12-22 10:19] twolight opened #9582 "The position of BMFont Label is not correct"
string is in chinese.
    label->setAnchorPoint(Point(0.5,1));
    label->setPosition(CCP(319,443));
    label->setWidth(int(422));
    label->setLineBreakWithoutSpace(true);
Label has not be setted to the position controlled by the AnchorPoint.

[2014-12-22 17:18] tankery opened #9586 "FileUtils::isDirectoryExist not correct on Android when using relative path in 'assets'"
`FileUtils::isDirectoryExist` use sys/stat to check whether directory exist, witch is not work when check relative directory in 'assets', like 'assets/res-hdpi'.

On Android, we can use `AAssetManager_openDir` & `AAssetDir_getNextFileName` to check directory in 'assets'.

Here is the code for my fix (override isDirectoryExistInternal in platform android):

[code]

[2014-12-22 18:52] maltium opened #9587 "Botched rendering of 3D objects on Tegra 3 devices"
Tegra 3 devices (ex. Nexus 7) only support 16-bit non-linear depth buffers, hence initializing OpenGL with the default 24-bit depth buffer in v3.3 always fails. The fallback configuration specifies 0-bit depth buffer, so 3D objects are guaranteed to be rendered incorrectly.

[2014-12-22 20:02] darkdukey commented on #9587
Forum link [here](http://discuss.cocos2d-x.org/t/sprite3d-botched-rendering/19047)

[2014-12-23 06:13] zilongshanren commented on #9523
@stammen
I haven't started the update process yet. I want to update libpng to 1.6.15 and libcurl to 7.39.0.

What's your opinion?

BTW, could you give me some hints about how to compile static libraries for WP8.1 and WinRT8.1?
Some tutorials would be great.

Thanks.

[2014-12-23 07:19] twolight commented on #9582
i guess that set 0.5 AnchorPoint caused the problem.

[2014-12-23 07:24] twolight commented on #9582
if the BMFontLabel set scale,then the middle point of label can not be canculated corrected.

[2014-12-23 11:53] adilghaffar commented on #8260
Any progress in this issue ?

[2014-12-23 13:43] shkatulo opened #9597 "Crash after lock / unlock on some Android devices"
On some Android devices (Samsung SM-N9005, Samsung Galaxy Tab and on default Android simulator)  app sometimes crashes after locking / unlocking device.

Crash in CCEventDispatcher.cpp in line 736:
CCASSERT(listeners->getGt0Index() <= static_cast<ssize_t>(fixedPriorityListeners->size()), "Out of range exception!");

Quickly fixed by:

//        CCASSERT(listeners->getGt0Index() <= static_cast<ssiz

[2014-12-23 19:26] kary24 opened #9598 "editbox animate to a wrong position only on iPad with ios8"
i have used this PR:
https://github.com/cocos2d/cocos2d-x/pull/8149/files
it can work normally on iPhone(both ios7 and ios8)
but i move all the screen to a wrong place on iPad(ios8)...
it can work when i just apply 2 UISupportedInterfaceOrientations:
UIInterfaceOrientationLandscapeRight & UIInterfaceOrientationLandscapeLeft
and it cant work(move to a wrong place) when i set all 4 UISupportedInterf

[2014-12-24 01:42] zilongshanren commented on #9598
@kary24
You can't  set all the 4 UISupportedInterfaceOrientations. Because cocos2d-x can only support portrait or landscape, not both.

Thanks.

[2014-12-24 01:46] maltium opened #9599 "Android: minimizing/restoring app causing assertion errors and OpenGL issues"
Minimizing the barebones cocos2d-x app created with _cocos new_ causes the following warning in logcat

`W/ManagedEGLContext(23450): doTerminate failed: EGL count is 3 but managed count is 1`

Additionally when restoring my game, I sometimes get an assertion error and numerous OpenGL errors. This is not reproducible with the barebones app.

[code]

Link to Cocos-2dx forum [thread](http://discuss.c

[2014-12-24 02:42] minggo commented on #9511
Fixed in #9554.

[2014-12-24 02:42] #9511 closed, assigned to super626

[2014-12-24 02:52] minggo commented on #9597
@shkatulo
Thanks.
What's the engine version?
And as you described, it is not easy to reproduce the issue. Right?

[2014-12-24 03:09] minggo commented on #9506
Need to add the modification in release note after the pull request is merged.

[2014-12-24 06:46] #9556 closed, assigned to minggo

[2014-12-24 07:34] kary24 commented on #9598
emmmm but unipay need  4 UISupportedInterfaceOrientations(our game runs on lanscape).how can i fix  this problem??:)

[2014-12-24 07:38] #9576 closed, assigned to zilongshanren

[2014-12-24 08:27] fusijie opened #9608 "Label::setGlobalZOrder() is invalid."
`version:` v3.3Final
`Issue:` `Sprite:::setGlobalZOrder()` works good, but `Label::setGlobalZOrder()` is invalid.
`Reproduce:` eg:HelloWorld.cpp

[code]

[2014-12-24 08:51] zilongshanren commented on #9214
@liamcindy
This issue need to change a lot of low level things, so we won't include it in the v3.4 version, we will do it in v4.0.

[2014-12-24 08:53] minggo commented on #9515
Corresponding PR is #9558.

[2014-12-24 09:21] kaminaritukane commented on #8733
This issue stlll exists in v3.3 final version. Can you fix it ASAP?

[2014-12-24 09:28] zilongshanren commented on #8733
@kaminaritukane
I will fix it in v3.4, thanks.

[2014-12-24 10:58] maltium commented on #9599
I pushed a fix for the assertion error. Please review it [here](https://github.com/maltium/cocos2d-x/commit/1bd130d494ceea160d32ffbeefc46d2ef40c5334?diff=split). The problem was that when the _EVENT_RENDERER_RECREATED_ event it triggered, the uniforms were not being updated immediately. So when `MeshCommand::batchDraw()` makes a call to `_glProgramState->setUniformVec4(...)`, it tries to access th

[2014-12-25 02:29] minggo commented on #9599
@dabingnn
It is a critical bug, please review it ASAP.
Thanks.

[2014-12-25 02:34] pandamicro opened #9621 "Really needed a set of file access functions"
Cocos2d-x have three option for data storage:
- FileUtils::writeToFile
- localStorageSetItem
- UserDefault

I want to talk about `FileUtils` which have a whole set of functions to read a file, and one function to write a map object to a file. The balance is obviously not quite well here. The reason we need a set equivalent functions to write content into a file are:
1. To balance the API design.
2

[2014-12-25 02:41] minggo commented on #9621
What functions you think are needed?
Could you write more detail of requirement?

[2014-12-25 02:45] pandamicro commented on #9621
What we have now for reading:
- FileUtils::getStringFromFile
- FileUtils::getDataFromFile
- FileUtils::getFileDataFromZip
- FileUtils::getValueMapFromFile
- FileUtils::getValueVectorFromFile

For write access:
- FileUtils::writeToFile

The API `writeToFile` doesn't represent what we understand from the name, it actually write a value map to a file.

What I suggest:
- FileUtils::writeStringToFile
-

[2014-12-25 03:05] minggo commented on #9621
Thanks.
We will consider the requirements.

[2014-12-25 03:16] minggo commented on #9571
How to reproduce the issue?
Did you open `build/cocos2d-win32.vc2012.sln` to build `cpp-tests`?

[2014-12-25 03:32] minggo commented on #9542
So the issue is that, the screen is black?
And what's the engine version?

[2014-12-25 03:33] minggo commented on #9542
Oh sorry, you said the engine is v3.3 in title.

[2014-12-25 03:38] minggo commented on #9528
@claytoncurmi
Could you please make sure you have the permission.

@natural-law modified the codes to catch the exception, but can not fix the permission issue because the exception is caused by your permission.

[2014-12-25 03:47] zilongshanren commented on #9542
@ruslanmaley

How to reproduce this issue?  Thanks.

[2014-12-25 05:07] chengstory commented on #9532
@pipu Please take a look

[2014-12-25 05:44] minggo commented on #9586
@tankery
Why not send a pull request?

[2014-12-25 06:01] zilongshanren commented on #9598
@kary24
I don't understand why unipay needs 4 orientations, maybe you should contact with them.

[2014-12-25 06:26] #9517 closed, assigned to zilongshanren

[2014-12-25 06:33] kary24 commented on #9598
they need  portrait ...but our game runs on landscape.

[2014-12-25 06:51] pandamicro opened #9627 "ccui's buttons weird behavior with multitouch"
On mobile devices with multitouch:
1. one finger touch down a button, keep it touched
2. another finger touch another button
3. then release both at the same time

Both button will respond, is this expected behavior ?

[2014-12-25 07:01] zilongshanren opened #9628 "[Bug]ui::Button setTitleColor calls setColor method"
The ui::Button's setTitleColor & getTitleColor method implement as follow:

[code]

But some developers said it should calls _titleRenderer->setTitleColor and _titleRenderer->getTitleColor.

If we change the color instead of the title color of the label, it will conflicts with other label effect, such as glow and outline.

[2014-12-25 07:23] ghost opened #9629 "cocos2dx3.3f spine:GLProgram"
spine 动画使用 着色器 会导致 spine 动画坐标缩放等信息全部为默认值， 修改无效。或者是我代码写错了?

auto p = ShaderCache::getInstance()->getGLProgram(GLProgram::SHADER_NAME_POSITION_TEXTURE_COLOR);
    p->initWithFilenames("res/Shader/gray.vsh", "res/Shader/gray.fsh");
    p->bindAttribLocation(GLProgram::ATTRIBUTE_NAME_POSITION, GLProgram::VERTEX_ATTRIB_POSITION);
    p->bindAttribLocation(GLProgram::ATTRIBUTE_NAME_COLOR, GLProgram::VER

[2014-12-25 08:08] zilongshanren opened #9633 "[Feature] Add Title Alignment for ui::Button"
Wish to have changes in UIButton.h and UIButton.cpp for titleAligment.

void setTitleAlignment(TextHAlignment hAlignment);
void setTitleAlignment(TextHAlignment hAlignment, TextVAlignment vAlignment);
void Button::setTitleAlignment(TextHAlignment hAlignment)
{
_titleRenderer->setAlignment(hAlignment);
}

void Button::setTitleAlignment(TextHAlignment hAlignment, TextVAlignment vAlignment)
{
_titleR

[2014-12-25 14:29] ychua842655 commented on #9445
Sorry, i have not login the github too many days and my English is really poor~~~i will do my best in future

[2014-12-25 16:38] ruslanmaley commented on #9542
My application has only landscape orientation.
Steps to reproduce:
1. Select editbox to show keyboard.
2. Tap Enter key on keyboard or somewhere in empty field of screen to hide keyboard.
After hiding keyboard screen changed his layout. You can see it at screenshot I've attached.
This bug reproduce only with iOS 8. iOS 7 work well.

[2014-12-25 16:43] volzhs opened #9639 "setColor of ImageView with cocostudio 1.6 not applied when load it with cocos2d-x 3.3 final"
1. place a ImageView with cocostudio 1.6
2. set a png file and make 3x3 grids to ImageView
3. set Colot tint to ImageView
4. export json
5. load it with cocos2d-x 3.3

ImageView is not applied color.

[2014-12-25 18:07] huytd commented on #9259
Any update on this issue?
I got the same problem when trying to addChild a label created in code to widget loaded from json file

[2014-12-26 01:53] zilongshanren commented on #9639
@chengstory
Please take a look, thanks.

[2014-12-26 02:19] volzhs commented on #9597
I guess, as my experience, you can reproduce by doing this.
set `minSdkVerion="10" targetSdkVerion="21"` and `android:screenOrientation="landscape"` in manifest.xml
1. run on device
2. turn screen off by power button (or leave it untill screen off)
3. turn screen on
4. unlock screen

this will cause weird things of android Activity.
when screen goes off, android Activity is destroyed and created a

[2014-12-26 03:02] chengstory commented on #9639
@pipu Please take a look, Thanks.

[2014-12-26 07:27] volzhs commented on #9597
I think, this reproduction step might be related with issue #9599 also.

[2014-12-26 07:38] #9513 closed, assigned to minggo

[2014-12-26 07:54] shkatulo commented on #9597
@minggo
I'm using cocos2d-x v 3.2
Yes, it is not easy to reproduce: on some devices it not happens anyway, but on some devices (including default Android 4.1.2 emulator) it happens always after some actions in my game. It never crashes when app is in foreground, only after locking/unlocking device. Maybe this is important: I'm using Spine animated characters in my game.

There is no crashes in iOS

[2014-12-26 08:44] Ksamp opened #9653 "SetScale causes Node to change it's position"
When I apply SetScele function or ScaleTo action to Node it causes this Node to change it's position.

[2014-12-26 09:07] xiaozzjl opened #9654 "Please Add a Head File crypt.h into external/unzip.cpp"
When I want to extract the encrypted compressed file.

I commentate “#define NOUNCRYPT” and call the function.

int ZEXPORT unzOpenCurrentFile3 (unzFile file, int\* method, int\* level, int raw, const char\* password).

then compile the code, xcode hint me the head file crypt.h was not found.

Hope the official will join this header file.

Forgive my poor English, hope someone can understand.

[2014-12-26 09:58] ffskyfan opened #9655 "Can't get data from file when file was using by other application on windows"
In my project,I use csv file to store my game config data.
When I tried to get data from the csv file While I was using open-office open this file, I got an error code 32.
I solved this problem.
Change the 3th par of function CreateFileW  from NULL to FILE_SHARE_READ|FILE_SHARE_WRITE in function FileUtilsWin32::getFileData .It will make getFileData function read the file properly when other app us

[2014-12-26 11:40] iamjohnwang opened #9657 "crash in org.cocos2dx.lib.Cocos2dxRenderer.nativeRender(Native Method)"
My game is base on v3.0, the main login is developed with lua. I use a 3rd party crash log collector library to collect crash log. I found that the game sometimes crash in org.cocos2dx.lib.Cocos2dxRenderer.nativeRender(Native Method) (please find detailed information about the crash below), I have no idea how this crash happen, and I also find that the crash probability of release version is highe

[2014-12-26 15:50] dhb118 commented on #9389
yes, good job guys ,thanks.

2014-12-17 8:14 GMT+08:00 Kyuhun Lee notifications@github.com:

[2014-12-26 16:51] cheyiliu opened #9658 "suggestion for one code optimization"
HI, I am studying the cocos code recently. Cocos is greate!
I think one place code in EventDispatcher could be better.
That is, the _gt0Index related code, the only usage of _gt0Index is to
indicate the begin of priority 0 listener, but the listeners are sorted.
We may choose to compare the priority in the loop rather than use the index.

That is my option, and if I am wrong, I appreciate you coul

[2014-12-27 00:12] travnick commented on #9259
workaround: create another widget (with absolute positioning) and place label into it.

[2014-12-27 02:47] huytd opened #9661 "Problem with loading widget from JSON file in cocos2d-x v3.2"
Hi, I have problem with loading widget from JSON file.

After loaded, I want to modify some UI elements (for example: I have a widget contains a Label, for display highscore, I want to show the widget and change the highscore text)
But there are 2 problem when I get the Label inside widget and modify it: cannot `setString` and crash when use `addChild`.

**Dev environment:**
- cocos2d-x v3.2
- Coc

[2014-12-27 02:48] huytd commented on #9259
Thanks! I also post the detail of my problem include the workaround here #9661

[2014-12-27 05:18] tankorsmash opened #9664 "EventListenerKeyboard.onKeyPressed event not firing for back button on Android?"
Switching the listener to `onKeyReleased` instead of `onKeyPressed` works, ie this works:

[code]

but

[code]

doesn't, specifically when trying to press the back button on the android hardware phone. The escape key works properly with both Pressed and Released on the PC, through VS2013.

[2014-12-27 12:29] zilongshanren commented on #8705
@minggo We don't need to upgrade libpng, the warning was caused by the wrong png format.
We could use `convert in.png out.png` to solve this issue.

And we should also replace the ccFPSImages.c file.

[2014-12-27 13:14] minggo opened #9666 "Labels will become white block after resume from background on xiaomi3"
Engine version: v3.2
Device to reproduce: xiaomi2s
Android version: 4.1.1
Font size: 20

Steps to reproduce:
- press HOME to go to background
- open app again 5 seconds later

[2014-12-27 14:06] lalaloha commented on #8705
@andyque how to fix this issue? what is "convert" command here? i use the terminal, and "convert" is not detected. What could be the problem? how should we save the png format next time to not encounter this issue? thanks,

[2014-12-27 14:13] zilongshanren commented on #8705
@lalaloha
I think I have posted the solution in this ticket.

At first, you should install ImageMagick. If you are using MacOSX and you are also an Homebrew user， you could simply install it by executing the following command:

[code]

Then if you encounter the same warning when loading a specific png file, you could convert the png file like this:

[code]

Done.

[2014-12-27 15:41] lalaloha commented on #8705
@andyque Hi, there's no mention of ImageMagick before. Thanks for the detail. Anyway, I want to know in the first place, Why this issue happened, and how should we save the png next time to not encounter this anymore without using the convert tool from imagemagick? Thanks

[2014-12-27 17:50] andriisavin commented on #9120
The crash with the latest version (just 10 mins ago downloaded) on win 7. In Cocos studio 2.0.6 add ScrollView and press "play" -> crash. Or run the code
Node\* resource = CSLoader::createNode("test.csb");
addChild(resource);
Result again  -> crash
For this line: glDrawArrays(GL_TRIANGLE_STRIP, 0, 4); of CCLayer.cpp (615)

[2014-12-28 03:44] kyo9999 commented on #9487
yes, i use Xcode6.1 and iOS 8.1

[2014-12-29 01:37] naive231 opened #9670 "Is any other `pushScene()` can "block" until it end?"
I have many scenes in a vector, and I want play them in sequence.
But I realize that `pushScene()` will return at once after new scene is shown.
I need them be shown **one after another**, don't show them totally.
Can this goal be done?

[2014-12-29 01:43] #9515 closed, assigned to super626

[2014-12-29 01:59] zilongshanren commented on #8705
![qq20141229-2](https://cloud.githubusercontent.com/assets/785541/5565675/3573bb12-8f41-11e4-836e-1e1c1b3b803e.png)

When export your png file from Photoshop, you should leave out the "embed  sRGB color" option in the above screenshot.

[2014-12-29 02:00] naive231 commented on #9670
Sorry, I misunderstand the `pushScene()`, it **would** block as my wish.
Sorry for bother everyone. This issue can be closed.

[2014-12-29 02:10] zilongshanren commented on #8705
@lalaloha
And you could also refer to this post: http://stackoverflow.com/questions/22745076/libpng-warning-iccp-known-incorrect-srgb-profile

[2014-12-29 02:44] #9522 closed, assigned to nobody

[2014-12-29 03:54] hjcapple opened #9681 "频繁调用setContentScaleFactor，会拖慢游戏速度"
我的游戏中，所有屏幕尺寸都只使用一套图片。所以Director中的contentScaleFactor绝大多数时候为1。

而需要动态生成文字的时候，就根据屏幕尺寸设置contentScaleFactor，来生成更符合屏幕尺寸的文字（还有其它需要根据屏幕动态生成的矢量素材）。之后再还原旧的contentScaleFactor。

这样就使得我不断地调用setContentScaleFactor来修改恢复_contentScaleFactor。

而每次调用setContentScaleFactor，总是会调用createStatsLabel()来生成状态Label, 就算直接将_displayStats设置为false也一样。这样频繁调用就会拖慢运行速度。

我现在的做法是直接在源码中注释掉 Director::setContentScaleFactor中的createStatsLabel

[2014-12-29 06:37] #9628 closed, assigned to zilongshanren

[2014-12-29 09:35] dabingnn opened #9689 "cpp-Test case crash or behave wrong on android device after a background/foreground switch"
These test Case behave wrongly or crash:
1. Node:Sprite3D -> Testing UV Animation
2. Node:Sprite3D -> fake shadow effect
3. Node:Sprite3D -> basic toon shader
4. Node:Sprite3D-> light map test

The code can be reproduced by enable `Developer options->Don't keep activities` on android devices.

[2014-12-29 09:46] fusijie opened #9690 "pushScene and popScene bug."
`version:` v3.3Final
`issue:` repeat to push and pop scene. the program crashed.
`reproduce:` download the zip, then unzip to HelloWorld Project.
`How to fix it:`
comment the following line:

[code]

[code]

but I don't know it is the right way or not? Somebody help?
[click me to download the zip](http://www.cocoachina.com/bbs/job.php?action=download&aid=83476)

[2014-12-29 10:37] NewCai opened #9691 "Paused game awaked by the Clock on Android"
We can reproduce this bug by following steps:
1. Start a game normally which plays a BGM (this could be a indicator later)
2. Press the power button to lock the android devices.
3. Wait for the Clock to ring(assuming we have settled before)
4. Click the "take a nap" label on Screen(most android phones have this function). The device locked again but the game resumed!

I found the reason is that on

[2014-12-29 14:57] dakikifr opened #9694 "Sprite::getTextureRect should be const"
The getTextureRect method from cocos2d::Sprite should be const :

"inline const Rect& getTextureRect(void) const { return _rect; }"

instead of

"inline const Rect& getTextureRect(void) { return _rect; }"

[2014-12-29 16:01] mannewalis opened #9695 "updatePhysicsBodyTransform not called if parent without physics is scaled."
This update should be moved to where the transform is updated if dirty so that if parent nodes transforms change, then the physics body updates still occur. I.e. move the call into **processParentFlags** or **getNodeToParentTransform**. This will also solve the problem of being called multiple times depending on what changes. It will get called 3 times if you change scaleX, scaleY, scaleZ separate

[2014-12-29 16:47] unkiwii commented on #9499
I've found that when updating the `_atlasTextures` map, in some resolutions (larger ones) the height of the data is just too large. Inside `bool FontAtlas::prepareLetterDefinitions(const std::u16string&)` there is (near the end) a line like this:

[code]

In that line, the last parameter (the height) is (in my case) larger than 900 and the maximum value it seems to be 512 so OpenGL throws me the e

[2014-12-30 02:06] minggo commented on #9695
Yep. We are optimizing it.
Thanks.

@Dhilan007
Please consider @mannewalis 's opinion.

[2014-12-30 02:09] #9510 closed, assigned to super626

[2014-12-30 05:48] #9658 closed, assigned to nobody

[2014-12-30 05:48] minggo commented on #9694
Fixed in #9700.

[2014-12-30 05:48] minggo commented on #9694
Thanks.

[2014-12-30 06:45] calfjohn opened #9702 "there're two instances when using cocos run on android platform"
there is the steps:
1 run ' cocos new -l cpp testcpp1' in terminal
2 run ' cocos run -s testcpp1 -p android ' in terminal and wait until the application is running
3 back to the main screen on android device
4 click the new application icon of testcpp1

so, there's two instances of testcpp1 in your device.
repeat step 3 and 4, you may find more instances.

I test these on lenovo S90, xiaomi 2s, ne

[2014-12-30 06:59] minggo commented on #9657
Could you please give more information:
- how to reproduce it
- what's the invoking stack of c++(you can use ndk-stack to get the c++ invoking stack)

[2014-12-30 07:22] minggo commented on #9655
Thanks.
Why not send a pull request for it?

[2014-12-30 07:42] minggo commented on #9654
@xiaozzjl
Where to get `crypt.h`?

[2014-12-30 07:46] minggo commented on #9702
As we discussed, it is the problem of cocos console.

[2014-12-30 07:46] #9702 closed, assigned to nobody

[2014-12-30 08:36] #9694 closed, assigned to nobody

[2014-12-30 08:45] xiaozzjl commented on #9654
@minggo @andyque
I find it here
https://github.com/nmoinvaz/minizip/blob/master/crypt.h

[2014-12-30 08:50] minggo commented on #9654
@andyque
Could you please add this header file.

[2014-12-30 09:07] #9689 closed, assigned to super626

[2014-12-30 09:53] dakikifr commented on #9694
I saw you have set getTextureAtlas to be const too, but I'm not sure it's true since it returns a pointer and not a const& like getTextureRect does.
Pointed data can be altered by the retriever so the method should not be set as const.

[2014-12-30 11:15] lalaloha commented on #8705
@andyque Thx for the detailed information..

[2014-12-30 18:52] yishin opened #9715 "EditBox focus problem in ScrollView (v3.3f)"
ScrollView display area outside EditBox Focused.
I use iOS8. But I guess other OS has same problem.

[2014-12-30 18:56] joaopedronardari opened #9716 "Cocos2d-Console cannot generate new cpp project templates/*.*"
In the most recent version I can't generate a new cpp project.

I saw that another user had the same problem in another version:
https://github.com/cocos2d/cocos2d-x/issues/9293

But this message error bellow appeared in 3.3 (final version):
NOTE: I've used 3.3rc0 a month ago and worked. Now I used 3.3 final (in a new machine using Windows 8.1) and this problem appeared.

`C:\Users\myuser\Desktop\

[2014-12-31 02:06] minggo commented on #9716
@natural-law
Could you please take a look?

[2014-12-31 02:36] dabingnn commented on #9599
assert error fixed, GL_INVALID_VALUE still exist.

[2014-12-31 02:44] natural-law commented on #9716
@joaopedronardari
I'm sorry for the problem. Here is a PR from another developer: https://github.com/cocos2d/cocos2d-console/pull/205
Could you please help me to check whether it's works? Because I don't have the environment to reproduce the problem.
Thank you very much!

[2014-12-31 03:25] bryanwong opened #9730 "Critical Bug: New AudioEngine causes game 'freeze' on Android"
Cocos2D-X 3.3 finial. Tested on KuPai Dashen and Oppo with Android 4.2.2.  After playing about 10 minutes or 8-9 levels of the game. It just stopped to react to touch event. Game audio is playing OK, logcat works good.
Error log:

12-31 10:57:53.362: D/(3549): audioPlayer_dispatch_headAtEnd_lockPlay callback
12-31 10:57:53.500: D/(3549): Callback 0x5d7e7a7c(0x5f19dfa8, 0x612e6a70, SL_PLAYEVENT_HEA

[2014-12-31 07:11] natural-law commented on #9716
@joaopedronardari
The problem is solved by this PR of cocos2d-x :https://github.com/cocos2d/cocos2d-x/pull/9743
The related PR in cocos2d-console is : https://github.com/cocos2d/cocos2d-console/pull/207

Thanks for your feedback!

[2014-12-31 07:13] natural-law commented on #9528
It's duplicated with https://github.com/cocos2d/cocos2d-x/issues/9716

[2014-12-31 07:47] #9528 closed, assigned to natural-law

[2014-12-31 07:48] #9716 closed, assigned to natural-law

[2014-12-31 07:54] zilongshanren opened #9747 "[Bug ios simulator]CCControlExtension the 2nd tests crash"

[2014-12-31 08:08] zilongshanren opened #9749 "[bug ios-simulator] RenderTexture test -> Testing issue #937"
The tests said "All images should be equal", but it is not the same.

[2014-12-31 08:13] zilongshanren opened #9750 "[Bug ios-simulator] TMX Iso VertexZ"
Sprite should hide behind the trees.

But it also display on top of tree.

[2014-12-31 08:21] zilongshanren opened #9752 "[Bug ios-simulator] Texture2D -> PVRv3 premult Flag"
All images should look exactly the same.

The middle image is different from the other two

[2014-12-31 09:52] samuele3hu opened #9756 "[BUG]cocos run command would trigger error"
For a Lua project created by template,using cocos run -p mac -m release,then get the error as follows:

[code]

[2014-12-31 13:39] HoffmanWang2004 commented on #9466
so, in cocos2d-lua, how to do?

[2014-12-31 14:32] joaopedronardari commented on #9716
@natural-law @minggo Thanks so much! I will try again next friday. =D

[2015-01-01 21:34] maltium opened #9767 "Sprite3D::setGLProgram(...) does not work"
Calling `Sprite3D::setGLProgram(...)` with a program doesn't change the shader program. Using Cocos2d-x v3.3.

[2015-01-02 00:47] maltium commented on #9599
Finally I've managed to create a small project that recreates the `GL_INVALID_VALUE` bug.

Create a standard Cocos2d-x v3.3 project and replace the applicable files with those from [here](http://1drv.ms/1AfVL4K).

Note specifically the code in the `onResume()` handler in the Android project. As soon as the `createBug()` method is executed, you should see the OpenGL errors in the logcat and one of

[2015-01-02 14:53] idrise opened #9768 "When a Button is a child of ScrollView, any slight movement while pressing the button results in a cancelled press."

[2015-01-03 08:15] sidshekar commented on #8321
HI was this feature implemented :D ?? Thanks for @kaplad for trying to implement it.

[2015-01-04 02:26] ghost opened #9772 "iOS HttpClient's immediately mode works wrong"
version 3.4 beta's HttpClientTest's immediately tests works wrong on iOS platform.

[2015-01-04 02:43] minggo commented on #9767
@super626
Could you please take a look?

[2015-01-04 02:54] joewan opened #9773 "SimpleAudioEngine profile"
hi
@minggo simpleAudioEngine::playEffect has serious performance problem,
even though I have cached the sound effect, it needs 0.03s to play a sound effect.
It has brought us significant confusion.
maybe this problem only happens on win32 platform.

can you give us some suggestions.   the new sound engine is in experimental status, is it a good idea to use it..

Test case:
1.cache a sound effect
2

[2015-01-04 03:00] minggo commented on #9773
New sound engine in experimental namespace is because it has not been implemented on all supported platforms. Now it supports iOS, Android, Mac, Windows. You can use it if you don't care linux and WP8/WP8.1.

[2015-01-04 03:00] dabingnn opened #9774 "Libcurl does not work correctly on WP8"
Post in cocos2d-x thread
http://discuss.cocos2d-x.org/t/req-upgrade-libcurl-version-in-wp8-please/18969
`curl_easy_perform()` return `CURLE_RECV_ERROR` on WP8.

@huangshiwu Could you please confirm that?

[2015-01-04 03:02] #9523 closed, assigned to zilongshanren

[2015-01-04 03:03] #9514 closed, assigned to samuele3hu

[2015-01-04 03:04] #9512 closed, assigned to darkdukey

[2015-01-04 03:04] joewan commented on #9773
new audio engine is great, this has solved our problem on win32, and I also need to verify it on android and ios.

do you know SimpleAudioEngine::playSoundEffect has performance problem, or I have used it in a wrong way.

[2015-01-04 03:10] minggo commented on #9773
I don't know if it has performance issue on Windows. But i suggest you use new audio engine instead, because we will deprecated SimpleAudioEngine in future.

[2015-01-04 03:18] joewan commented on #9773
thanks.

[2015-01-04 03:18] #9773 closed, assigned to nobody

[2015-01-04 03:25] shrimpz commented on #9774
I'm sorry that my wrong approach leads this issue.
I ported my project to WP8 in cocos2d-x 3.2 (patch bug with self).
My team member use VS2013, but it link WP8's lib, so this issue is made.
later, I use VS2012 and link WP8's libcurl, it's ok.
but, This libcurl version had OpenSSL-Heartbleed ?
now, some appstore reject it.....

[2015-01-04 03:59] ghost commented on #9774
@shrimpz Some appstore?You mean android and iOS also have the problem?

[2015-01-04 04:04] shrimpz commented on #9774
@huangshiwu

I have an another app published in google play.
some days ago, I recv google's mail:

**So, I think that libcurl need upgrade...**

[2015-01-04 05:38] ghost commented on #9774
What's your app's engine version?

[2015-01-04 06:06] ghost commented on #9774
Now curl's OpenSSL had already been updated to 1.0.1j on android platform.

[2015-01-04 08:33] zilongshanren commented on #9768
@idrise
I think it's a normal behavior. There is a moving threshold when you press the button on top of ScrollView. If you don't like this value, you could simply change it in UIScrollView.cpp.

[2015-01-04 08:38] minggo commented on #9653
What's the  issue?

[2015-01-04 08:39] minggo commented on #9655
@Dhilan007
Could you please send a pull request for it?

[2015-01-04 09:38] zilongshanren commented on #8730
This issue is not exists in the latest version.  @minggo  We could close it now.

[2015-01-04 09:40] zilongshanren commented on #8730
For testing the arch of libpng.a

[code]

[code]

As shown above, it does have the i386 arch.

[2015-01-04 09:40] zilongshanren commented on #9654
@minggo
I will fix it the v3.4rc0

[2015-01-04 09:45] zilongshanren opened #9779 "[Win32 CurlTest] Error Code 23"
Since version 3.4beta

When upgrade libCURL from 7.26 to 7.39.0, the CurlTest displayed "Error Code 23".

[2015-01-04 09:59] WenhaiLin opened #9781 "Physics body not still after disable gravitational force by PhysicsBody::setGravityEnable"
Node:Physics-->Set Gravity Enable Test:The white ball should still unless you drag it

[2015-01-04 10:01] WenhaiLin commented on #9781
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9780

[2015-01-04 10:08] BorgLee opened #9782 "Label 使用描边(enableOutline)异常！！！"
使用Label描边时，如果使用纯黑色的字和纯白色的描边会出现全都是黑色的情况。
TTFLabel我已通过修改ccShader_Label_outline.frag这个文件解决，修改如下：
 void main()
{
    vec4 sample = texture2D(CC_Texture0, v_texCoord);
    float fontAlpha = sample.a;
    float outlineAlpha = sample.r;
    if (outlineAlpha > 0.0){
        vec4 color = v_fragmentColor * fontAlpha + u_effectColor * (1.0 - fontAlpha);
        gl_FragColor = vec4( color.rgb,max(fontAlpha,ou

[2015-01-04 11:39] willmoon opened #9784 "UIListView::insertCustomItem(item,index) won't work on ios,but work well onwin32... I have "insertCustemItem(item,0)" in my code,because I want to pushfront the item into the listView.But it will be pushback, not pushfront.just like the older #issue 7520."

[2015-01-04 11:43] willmoon commented on #9784
https://github.com/cocos2d/cocos2d-x/pull/7520/files

[2015-01-04 11:53] ziyouchutuwenwu opened #9785 "websocket库可能有问题"
test里面的extension test，network test，websocket，服务器地址换成自己的测试服务器，就失败

服务器：
用erlang的cowboy里面的websocket的sample做了websocket的服务器（链接https://github.com/ninenines/cowboy/tree/master/examples/websocket）

网页测试连接：
https://www.websocket.org/demos.html
http://www.baiyangliu.com/lab/websocket/

平台：
mac，ios，android4.2的webkit

websocket服务器地址：
ws://127.0.0.1:8080/websocket

web测试结果没问题，但是用2dx的websocket库链接，test一直显示waiti

[2015-01-04 12:54] willmoon commented on #9784
ok,it's fixed in the #issue 7520.My fault.

[2015-01-04 12:54] #9784 closed, assigned to nobody

[2015-01-05 01:39] ghost commented on #9774
WP8's OpenSSL version is still 1.0.1c

[2015-01-05 01:41] stammen commented on #9774
I will be fixing this with the update to version 7.39.0.

[2015-01-05 03:32] dabingnn opened #9787 "Windows can not work because of libcurl can not support VS2012"
libcurl of v3_dep_30.zip is built based on VS2013, it can not work on VS2012.

[2015-01-05 03:40] samuele3hu opened #9788 "XmlHttpRequest for Lua can't get the correct _statusText on the iOS and android platform"

[2015-01-05 03:49] herojia2021 opened #9789 "read file of size 0 cause memory leak on win32"
i use vld to detect memory leak, in file CCFileUtilsWin32.cpp there is a function getData()

there must be a

if(buffer)
    free(buffer);

in if(buffer == nullptr || size==0) block, i meet this bug when i use a spine file with no texture,
because i only need the skeleton info, but spine still export a empty atlas for read. thats the file with size 0.

[2015-01-05 04:08] dabingnn opened #9790 "GLProgram log crash on windows"
When there is a shader compile error in shader, cocos2d-x will crash on windows.

[2015-01-05 05:47] minggo commented on #9789
Thanks.

[2015-01-05 05:56] #9790 closed, assigned to dabingnn

[2015-01-05 06:21] #9789 closed, assigned to minggo

[2015-01-05 06:21] #9772 closed, assigned to nobody

[2015-01-05 08:51] dabingnn commented on #9599
Hi, @maltium
By running your test case, I found the bug was caused by particle system. I will keep track on this.
If you have more information, please tell me. Thanks.

[2015-01-05 08:54] samuele3hu opened #9796 "Extract related physical auto-binding codes to manual-binding to add `CC_USE_PHYSICS` limit"
By this method,if developer don't want to use physical module, they can define CC_USE_PHYSICS 0.It can reduce package size further.

[2015-01-05 09:04] samuele3hu commented on #9796
In the release mode，it can reduce the size of liblua_empty_test.so package size 0.4M and related apk size 0.1M.

[2015-01-05 09:04] iamjohnwang commented on #9657
This issue it not reproducible, it happens uncertainly. I capture this log with a 3rd party crash log collector(http://bugly.qq.com/).

---

From the log, it seems that the stack has been corrupted.

SIGSEGV(SEGV_ACCERR)
#00 pc 5568b018
#00 lr 54e84cf0

---

And for other occasion, the crash log look like this:
SIGSEGV(SEGV_MAPERR)
         #00  pc 0031eb0c  /data/app-lib/cn.mlong.sgf-1/libcocos2d

[2015-01-05 09:45] minggo opened #9800 "JumpTo can not be applied more than once"
Detail information can refer to #9769.

[2015-01-05 09:45] minggo commented on #9800
Fix in #9769.

[2015-01-05 09:58] dabingnn commented on #9599
Hi, could you please try my pull request to fix `GL_INVALID_VALUE` bug? The pull request can fix your test case.

[2015-01-05 10:59] adamlwgriffiths opened #9804 "EditBox position wrong in web build"
Using various code from our the web, I've tried to place an EditBox.
The sprite appears where I have positioned it, but the text input itself is always located at the bottom of the screen (sometimes off it until I click near by, which moves it onto the screen).

![screen shot 2015-01-05 at 9 58 56 pm](https://cloud.githubusercontent.com/assets/1239156/5612258/16566bd6-9526-11e4-8dac-e1ff2d2f8ebb.p

[2015-01-05 11:46] maltium commented on #9599
@dabingnn that seemed to fix the issue with the recurring `GL_INVALID_VALUE` messages.

I've made a small addition to the test case; loading and rendering a 3D Sprite and occasionally I'm getting another error in the log.

[code]

This occasionally happens when starting the app on my Moto G. The error is only printed once, unlike the previous problem. I'm using v3.3 with the two fixes in this issu

[2015-01-05 12:06] dabingnn commented on #9599
@maltium It seems that this issue contains too much work. Could you please add another issue for the newly reported problem?

[2015-01-05 12:38] maltium commented on #9599
@dabingnn sure, no problem.

Thank you!

[2015-01-05 12:44] leoussama opened #9805 "cocos2d-x v3 compile errors"
OS : Ubuntu 14.04 64bit
All requirements installed except gnutls-dev (there's no packege named "gnutls-dev" in the ubuntu repository but there's packege named "gnutls-bin" so i installed it)
I followed thease instructions http://www.cocos2d-x.org/wiki/Linux_Installation_and_Setup
and every thing gose right until the last step "Compile"
## When I try to compile the project there's some errors that

[2015-01-05 12:52] ruslanmaley commented on #9542
@minggo the screen is black and my screen was moved down and cropped. You can see that at the bottom of screenshot

[2015-01-05 13:54] ruslanmaley commented on #9542
I'm sorry, I've found solution. Problem was with screen resolution detection, not with cocos2d-x.

[2015-01-05 13:58] maltium opened #9806 "Android: GL_INVALID_VALUE on application startup"
Running [this test case](http://1drv.ms/1xwXCSW) occasionally causes the error below to appear in the log on startup. Testing on Moto G with Android 4.4.

Originally reported in #9599

[code]

[2015-01-05 23:23] jooddang commented on #8555
I have the same issue.. Did you fix it?

[2015-01-06 02:04] minggo commented on #8555
Did you copy cocos2d-x java codes into your project?
You should reference the project.
More detail information please refer to [this document](http://cocos2d-x.org/programmersguide/C/).

[2015-01-06 02:15] minggo commented on #9774
@stammen update libcurl in cocos2d-x-3rd-party-libs-bin#80.

[2015-01-06 02:17] minggo commented on #9774
fix in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/80

[2015-01-06 02:19] minggo commented on #9774
@huangshiwu
Please check it.

[2015-01-06 02:22] #9655 closed, assigned to nobody

[2015-01-06 03:12] dabingnn commented on #9599
@maltium  Thanks, I have update my pull request to reset `_VAOname` to 0 if VAO is supported.

This issue will be closed.

[2015-01-06 03:12] #9599 closed, assigned to dabingnn

[2015-01-06 03:39] stammen commented on #9774
I updated openssl to 1.1.0.

[2015-01-06 07:16] dabingnn opened #9814 "Fix GLProgramState assert and delete wild VAO VBO handle"
Originally posted in #9599, When android app comes to foreground,
There is a openGL resource recreation, if makes uniforms and attributes outdated in `GLProgramState`, and VAO, VBO in particle system will become wild handle.

[2015-01-06 07:29] bryanwong commented on #9730
Hi dabingnn,

This bug was critical. It happened 100% in my game and caused the game 'freeze'.  The problem was caused by new AudioEngine.  I switch back to SimpleAudioEngine on Android, the problem was gone.

You may refer here https://groups.google.com/forum/#!msg/android-ndk/zANdS2n2cQI/AT6q1F3nNGIJ

Thanks,
Bryan

[2015-01-06 07:59] mooncode163 opened #9815 "RenderTexture 3.0显示不出来 2.2.2可以"
以下是两个版本的工程代码：
http://pan.baidu.com/s/1pJC23tp

[2015-01-06 08:06] zilongshanren commented on #9815
In v3.x, you should call `Director::getInstance()->getRenderer()->render();`  .

[code]

[2015-01-06 08:08] minggo commented on #9804
I think you should create issue in [this repo](https://github.com/cocos2d/cocos2d-js).

[2015-01-06 08:09] #9800 closed, assigned to nobody

[2015-01-06 08:17] mooncode163 commented on #9815
我实验了一下，加了这个代码在我的工程里也显示不出来，可以能需要在我工程里具体分析吧，谢谢！

[2015-01-06 08:19] zilongshanren commented on #9815
ok, It's your turn now, haha @dabingnn

[2015-01-06 08:22] mooncode163 commented on #9815
如果是 sprite可以显示出来 如果是其他的GL语句绘图就显示不出来

[2015-01-06 08:40] #9781 closed, assigned to WenhaiLin

[2015-01-06 08:52] WenhaiLin opened #9816 "Remove XXXXInfo_chipmunk class in 'chipmunk' folder to simplify implementation of physics"
These wrappers  are unnecessary because we have no plans to integrated Box2D into physics module.

[2015-01-06 08:53] WenhaiLin commented on #9816
Done: https://github.com/cocos2d/cocos2d-x/pull/9813

[2015-01-06 08:56] minggo commented on #9730
@Dhilan007
Please check it.
It is very important for New Audio.

Thanks @bryanwong .

[2015-01-06 08:57] minggo commented on #9730
@bryanwong
Could you please change the title?
Thanks.

[2015-01-06 09:18] dabingnn commented on #8519
If we can not fix the bug now, we need to know the side effect of this bug.

[2015-01-06 09:27] bryanwong commented on #9730
@minggo Title changed.

If you guys need assistance, feel free to add my QQ  1766018980.

[2015-01-06 09:28] minggo commented on #9730
Thanks.

[2015-01-06 09:34] #9774 closed, assigned to nobody

[2015-01-06 09:58] ZengyiMa opened #9817 "在2d-x中的物理引擎，地面和物体弹力设置为0，也会弹跳的问题"
我发现这也发生在官方示例里面，你们看Node：physics里面的 physics Test当物体静止后和地面有反弹力，这是bug吗？

[2015-01-06 11:59] darmie commented on #9502
@minggo I have this problem in Cocos2d-x 3.2 , and  I tested on Android 5.0.1

[2015-01-06 15:29] Yamomota opened #9820 "Inconsistent :setBlendFunc(...) function binding for Sprite and LabelBMFont classes"
Hi friends,

**First of all I would like to thank you for your great work. 8)**
I've found the following issues (it was in the previous releases (3.3rc0,3.3rc1,3.3rc2) as well) in the latest 3.3 release:
 :setBlendFunc(...) is bound to lua for Sprite class and LabelBMFont one in different way. The following code fragment explains the difference:

[code]

Of course this issue is minor as it lives f

[2015-01-06 16:04] ericmux opened #9821 "CCGLView's Viewport rectangle not initialized on desktops"
This is based upon the current tip of the `v3` branch. What I noticed is that unless the user explicitly calls the method `glview->setDesignResolutionSize(...);`  the variable `_viewPortRect` on CCGLView will not be set on desktops, since `GLViewImpl::initWithRect` never writes to it. This causes the touch events' coordinates from GLFW to not be converted correctly, and this is where I came across

[2015-01-07 01:37] adamlwgriffiths commented on #9804
derp, thanks =P

[2015-01-07 01:37] #9804 closed, assigned to nobody

[2015-01-07 01:59] minggo commented on #9502
@darmie
It is fixed in v3.3 and synchronized to v2.26.

[2015-01-07 01:59] minggo commented on #9502
You can refer to #9336 for detail information.

[2015-01-07 02:01] minggo commented on #9560
@dotsquid
Will you check @ericmux 's pull request?

[2015-01-07 02:06] #9779 closed, assigned to zilongshanren

[2015-01-07 02:22] #9816 closed, assigned to WenhaiLin

[2015-01-07 02:34] WenhaiLin opened #9826 "Improve performance of Physics"
1. Performance shouldn't be affected by physics if the scene hasn't physics enabled.
   2.Try to avoid the recursion

[2015-01-07 02:43] gameogre opened #9827 "sprite 创建指针返回为非空，却显示不出。"
if(!fullpath.empty())
        {
            title=Sprite::create(fullpath.c_str());
            log("_@@@__ fullpath is : %s ",fullpath.c_str());
        }
        if(title==nullptr)
        {
            frameName=**String::createWithFormat("title%d.png",titleIdx);
            title=Sprite::createWithSpriteFrameName(frameName->getCString());
        }
        else
        {
            log("**!!!

[2015-01-07 02:53] samuele3hu opened #9828 "The executeScriptFile of LuaStack in V3.4 isn't compatible with V3.3"

[2015-01-07 03:00] minggo commented on #9828
@samuele3hu
- please add more detail information about the issue, what's incompatible
- please track this issue

Thanks.

[2015-01-07 03:07] #9814 closed, assigned to dabingnn

[2015-01-07 03:08] samuele3hu opened #9829 "The font files were useless by using cocostudio2.1beta,but in the cocostudio2.0.6 they had effect"
The screenshot as follow:

![studio_erro](https://cloud.githubusercontent.com/assets/4231014/5640195/879292d8-965d-11e4-82b0-fdcd9eaf4939.jpg)

[2015-01-07 03:15] minggo commented on #9796
Can auto-binding add macro automatically?

[2015-01-07 04:43] Yamomota commented on #9820
Hi all again,

Additionally, if the blending operands are passed via table (the code below just in case):

[code]

 it causes **OpenGL error 0x500 in ..\render\CCTextureAtlas.cpp cocos2d::TExtureAtlas::drawNumberOfQuads 689** on each rendered frame. Of course it's going to be caused of some improper specified OpenGL parameters (blending operators).
**Nevertheless everything visually looks good. Th

[2015-01-07 05:26] jooddang commented on #8555
I didn't copy it. I reference it from $(AndroidProjectDir)/../cocos2d/cocos/platform/android/java . But somehow, cocos2dx path was on project property -> Java Build Path -> Source. And, I resolved this problem by removing it.

[2015-01-07 05:46] minggo commented on #8555
@jooddang
How did you resolve it?
Modify which file?

[2015-01-07 05:55] jooddang commented on #8555
![screenshot 2015 01 06 21 52 55](https://cloud.githubusercontent.com/assets/1115552/5641499/adc9b248-95ee-11e4-9724-0429f9888428.png)
like this, I removed the cocos2dx path from source path..

[2015-01-07 06:23] fusijie opened #9834 "EditBox-PopScene-Bug"
`version:` v3.3

`Issue:` the editbox is invalid to key anything once you pushScene and popScene on the Mac platform.

the error log is

`platform:` Mac

`reproduce:`

download the 2 classes(HelloWorldScene & HelloWorldScene2) to v3.3 HelloWorld Project.

[https://github.com/fusijie/Cocos2dx-Issue/tree/master/EditBox-PopScene-bug](https://github.com/fusijie/Cocos2dx-Issue/tree/master/EditBox-PopSc

[2015-01-07 06:46] dabingnn commented on #8844
Point Size can be set, but the effect is wrong, we need to fix it later.

[2015-01-07 06:48] dabingnn commented on #8963
`Color` problem has been fixed,`PointSize` problem is duplicated with #8844

[2015-01-07 07:08] #9796 closed, assigned to samuele3hu

[2015-01-07 09:07] samuele3hu opened #9841 "Running `cocos run -p android -j 4` command for cpp-tests would meet a error on the android 2.3.6"
Compile successful,but install failed.The error msg as follows:

[code]

[2015-01-07 09:11] WenhaiLin commented on #9826
Done: https://github.com/cocos2d/cocos2d-x/pull/9840

[2015-01-07 09:51] natural-law commented on #9841
It's be solved in this PR: https://github.com/cocos2d/cocos2d-x/pull/9846
The related PR in cocos2d-console is : https://github.com/cocos2d/cocos2d-console/pull/210

[2015-01-07 09:56] #9841 closed, assigned to natural-law

[2015-01-07 09:57] dabingnn opened #9848 "Optimize 3.4 rendering"
This is the subtask of #9520

[2015-01-07 10:04] zilongshanren opened #9849 "ui::Text and ui::TextField creation method have performance issue"
As we know, the TTF label has a struct TTFConfig to change its properties.
Every time, when we call `setTTFConfig`, the label would refresh the whole font.

When the label string is bigger, the refresh time is longer.

The creation method of ui::Text is as follow:

[code]

So we should change the calling order as follow to improve performance.

[code]

[2015-01-07 10:07] #8154 closed, assigned to samuele3hu

[2015-01-07 10:09] dabingnn commented on #9520
Postponed to final

[2015-01-07 10:09] dabingnn commented on #8844
`PointSize` problem postponed

[2015-01-07 10:09] #8963 closed, assigned to nobody

[2015-01-07 10:10] #9493 closed, assigned to nobody

[2015-01-07 10:14] dabingnn commented on #9521
The feature is included in engine. Need Docs for this feature.

[2015-01-07 11:08] manelizzard commented on #8305
Hi all, I'm expecting this issue to in the latest version available in git. Is it supposed to be fixed?

[2015-01-07 12:43] ZengyiMa opened #9851 "建议在ActionTimeline添加不恢复原状的方法"
在使用ActionTimeline时发现没有防止恢复原状的方法，每次动画播放完成都回到最开始的状态

[2015-01-07 12:58] kaplad commented on #8321
Not yet :) Soooon

[2015-01-07 14:24] elr0nd opened #9852 "New audio engine - Bug"
Using cocos2d-x v3.3 and NDK-r10d(64bits) when sound effects are played several times, Android's logcat shows the following error "243 message:create player for 'sound file name here' fail" and no more sounds are played anymore...

For Android, this error is thrown in the file "AudioEngine-inl.cpp" in the number line 243.

Thanks for your help.

[2015-01-07 21:11] redminion opened #9854 "New AudioEngine getCurrentTime() precision BUG (win32)"
The precision of AudioEngine::getCurrentTime(id) is not ideal.

The win32 implementation updates currentTime when the audio buffers are rotated, which is set to 0.1 seconds.

This is not adequate for testing. The precision doesn't need to be perfect, but I think calling getCurrentTime() every frame (at 60fps) should return a different value.

I have only looked at the win32 and android implementat

[2015-01-07 21:23] zachprinz commented on #9690
I was having this issue.

I checked out the recent changes made to CCMenuItem and saw that there was a commit made recently that overwrites the onExit method in CCMenuItem.

https://github.com/cocos2d/cocos2d-x/commit/93fdcf1f041e2946b300f505dc3cc64805b27095

After I removed these additions in my CCMenuItem.h the issue no longer occurred.

[2015-01-08 01:32] #9849 closed, assigned to zilongshanren

[2015-01-08 01:48] samuele3hu opened #9856 "TextBMFont created by cocostudio2.0.6 have different display between v3.3 and v3.4beta"
V3.3 display as follow:
![v3_3_1](https://cloud.githubusercontent.com/assets/4231014/5656702/d65dfdda-971b-11e4-9684-c0965de9e476.png)

V3.4 display as follow:
![v3_4_1](https://cloud.githubusercontent.com/assets/4231014/5656719/0f8e2e86-971c-11e4-8428-07e516df6e64.png)

It seems that labelBMFontScaleChangedWithSize of TextBMFont have different processing logic:
![different_logic](https://cloud.gi

[2015-01-08 02:01] chengstory commented on #9851
I ask @doomsdayer to think it.

[2015-01-08 02:17] dabingnn opened #9857 "refactor cocos2dEGLConfigChooser to public internal class of Cocos2dxActivity"
cocos2dEGLConfigChooser is an internal class in `Cocos2dxActivity::onCreateView()` function, it is not easy for extension.

[2015-01-08 02:17] dabingnn commented on #9857
Fixed in #9811

[2015-01-08 02:17] #9857 closed, assigned to dabingnn

[2015-01-08 02:22] chengstory commented on #9856
I ask @pipu to take a look.

[2015-01-08 02:27] #9828 closed, assigned to samuele3hu

[2015-01-08 02:28] #9788 closed, assigned to samuele3hu

[2015-01-08 02:34] dabingnn commented on #9787
3rd libs need to be updated.
pr link is
https://github.com/cocos2d/cocos2d-x/pull/9850

[2015-01-08 02:59] ZengyiMa commented on #9851
thanks

[2015-01-08 02:59] #9851 closed, assigned to chengstory

[2015-01-08 03:43] samuele3hu commented on #9820
Thank you @Yamomota .This problem does exists for a long time. At the begin I think using two parameters for setBlendFunc would better,It can reduce a table conversion.But, this function can be auto-binding by adding the convertible functions and wouldn't  be called frequently. So i think i should modify the bindings-generator and add a convertible functions to solve the problems that parameters a

[2015-01-08 05:44] minggo commented on #9520
Close this issue.
Because there is a corresponding physics performance issue #9826.

[2015-01-08 05:44] #9520 closed, assigned to nobody

[2015-01-08 05:44] #9826 closed, assigned to WenhaiLin

[2015-01-08 06:19] gameogre commented on #9827
编译问题导致，不是引擎问题。

[2015-01-08 06:19] #9827 closed, assigned to nobody

[2015-01-08 06:32] ddalcu opened #9863 "Cocos2d-x-js / JSB project crashes on android when using NDK-r10d"
E/AndroidRuntime(29440): FATAL EXCEPTION: main
E/AndroidRuntime(29440): Process: com.symplestudios.penguinwars, PID: 29440
E/AndroidRuntime(29440): java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "atof" referenced by "libcocos2djs.so"...
E/AndroidRuntime(29440):        at java.lang.Runtime.loadLibrary(Runtime.java:364)
E/AndroidRuntime(29440):        at java.lang.System.loadLib

[2015-01-08 06:57] pipu commented on #9856
You could check in definition of WidgetReader::setPropsWithFlatBuffers() in WidgetReader.cpp.
Focus on below code:
widget->setUnifySizeEnabled(false);
widget->setLayoutComponentEnabled(true);
widget->ignoreContentAdaptWithSize(false);
Size contentSize(options->size()->width(), options->size()->height());
widget->setContentSize(contentSize);

[2015-01-08 07:41] samuele3hu opened #9865 "[MAC]When moving the FastTiledMap, It would appear black lines"
The screenshot as follow:
![fasttilemap](https://cloud.githubusercontent.com/assets/4231014/5659416/b8b9b00e-974c-11e4-8c45-d10b96cd6d5a.png)

[2015-01-08 07:50] litefeel opened #9866 "cpp-tests.exe can not run in windows 7 64bit."
![qq 20150108154411](https://cloud.githubusercontent.com/assets/1288575/5659459/86e2cc18-974d-11e4-89a4-f9425b312af0.png)

vs 2012 update 4.
cocos2d-x-3.4

I can build and run cocos2dx3.2. but now I clone 3.4, build and not run.

[2015-01-08 07:50] samuele3hu commented on #9856
In V3.4:
widget->ignoreContentAdaptWithSize(false);

In V3.3:
 bool ignoreSize = options->ignoreSize();
 widget->ignoreContentAdaptWithSize(ignoreSize);

Why?

[2015-01-08 07:59] ghost opened #9867 "[wp8] Test Node:RenderTexture-Testing issue #937 works wrong"
The test's subtile write:All images should be equal, but now they are not equal

[2015-01-08 08:00] zilongshanren opened #9868 "[bug ios-simulator] Physics Body size doesn't fit the sprite"

[2015-01-08 08:05] ghost opened #9869 "[WP8.1] Test Node:RenderTexture-Touch the Screen draw lines too slow"
In this test touch to draw lines works fast and well on other platform but WP8.1 draws too slow.

[2015-01-08 08:12] dabingnn opened #9870 "(cpp-tests)Typo error"
![image](https://cloud.githubusercontent.com/assets/4794489/5659661/ef4378c2-9750-11e4-8acb-f242c94ee299.png)

[2015-01-08 08:16] pipu commented on #9856
1. Value ignoreSize is a variable of Widget in UI framework in cocos2d-x, its default value is false.
2. Almost all node and widget in CocoStudio Editor cannot be modified their property "ignoreSize".
3. Only 1 widget "Text" can be modified its property "ignoreSize", therefore, TextReader.cpp is responsible to parse value for "ignoreSize" from .csb file published from CocoStudio Editor.

[2015-01-08 08:21] ghost commented on #9865
WP8.1 also have the problem,but WP8 and WinRT_8.1 don't

[2015-01-08 08:22] samuele3hu opened #9871 "[MAC]Lua-tests->PhysicsTest->Pump display wrong."
![b147ab06-a6d9-4fdf-a193-78ad5d947d5c](https://cloud.githubusercontent.com/assets/4231014/5659725/59a2bd62-9752-11e4-988b-96eca81b8181.png)

[2015-01-08 08:23] zilongshanren commented on #9750
@dabingnn
This issue is still exists in v3.4 rc

[2015-01-08 08:39] quanghoangminh commented on #8555
thanks jooddang, it work fine for me.

[2015-01-08 08:45] samuele3hu commented on #9750
I also meet the same bug on the mac platform.

[2015-01-08 08:45] minggo commented on #9871
Please add platform information.

[2015-01-08 09:00] WenhaiLin commented on #9870
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9872

[2015-01-08 09:08] zilongshanren commented on #9866
@lite3
The latest code has solved this issue. You should clone the latest code and run `python download-deps.py`
Thanks.

[2015-01-08 09:16] dabingnn opened #9873 "[linux]cpp-tests->node:ui->GUI editor test->gui texturefield editor test can not input any characters"

[2015-01-08 09:24] dabingnn opened #9874 "[linux]luatest->ActionMgrTest->RemoveTest can not remove sprite"

[2015-01-08 09:27] WenhaiLin opened #9875 "[win32-cpptests]Node:Physics-->PhysicsTransformTest:Wall body's sacle and rotation is wrong"
![d_zi6u g8 2lqd 404_dgdn](https://cloud.githubusercontent.com/assets/5234286/5660450/4937bba4-975b-11e4-8a82-831805f14b85.png)

[2015-01-08 10:00] WenhaiLin opened #9876 "[win32-cpptests]Node:TileMap-->TMX Iso VertexZ: The sprite not hide behind the trees"

[2015-01-08 10:01] ghost opened #9877 "[WP8.1] Some tests' performance is too poor"
1.MultiTouch test: only use two fingers touch the screen then the fps drops to 20
2.Some tests of Performance tests' fps are too low
test device:lumia 625

[2015-01-08 10:23] minggo commented on #9877
@stammen
Could you please take a look?

[2015-01-08 10:25] minggo commented on #9869
@stammen
Could you please take a look?

[2015-01-08 10:27] #9870 closed, assigned to nobody

[2015-01-08 10:28] minggo commented on #9863
Please create the issue in [this repo](https://github.com/cocos2d/cocos2d-js).

[2015-01-08 10:28] #9863 closed, assigned to nobody

[2015-01-08 10:33] dabingnn commented on #9876
duplicated with #9750

[2015-01-08 10:33] #9876 closed, assigned to dabingnn

[2015-01-08 10:35] dabingnn commented on #9750
@darkdukey Could you please take a look at the mechanism of this?
It happen after refactor rendering.

[2015-01-08 11:07] smitpatel88 opened #9878 "Be able to remove key pairs from UserDefault"
First create any key field,
UserDefault::getInstance()->setIntegerForKey("keyName", 1);
after that we cannot delete "keyName" from database.
If we can remove unwanted fields from database, less memory will occupied.

[2015-01-08 11:45] #9866 closed, assigned to nobody

[2015-01-08 15:12] birdkingz opened #9880 "CCClippingNode (cocos2dx v2) doesn't work on iOS 8"
Hi, I just realised CCClippingNode doesn’t on all iOS 8 devices. (It works on iOS 7 and below devices)
I’m currently using cocos2dx v2.2.1 (I did try to update to v2.2.6 but it’s still not working)
I found out it is because Stencil buffer is not enabled but I've already enabled the Stencil during the EAGLView initialization.

[2015-01-09 01:24] samuele3hu opened #9884 "[Android]Node:UI->GUI Dynamci Create Test->WebViewTest -> click `Visit URL` crash"

[2015-01-09 01:39] WenhaiLin commented on #9875
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9885

[2015-01-09 01:45] #9875 closed, assigned to WenhaiLin

[2015-01-09 01:46] samuele3hu opened #9886 "[Android and iPhone4s]LuaTests->FastTiledMapTest->TMX tile flip run time test display error"
The Screenshot as follows:
![tilemap-bug](https://cloud.githubusercontent.com/assets/4231014/5674378/4c687b9a-97e4-11e4-80e4-9e05805f761e.png)

It lack a Component,this bug also exist LuaTests->TiledMapTest->TMX tile flip run time test

[2015-01-09 01:49] minggo commented on #9880
Have you tried cpp-tests?
There is a test case for CCClippingNode.

[2015-01-09 02:04] minggo commented on #9856
So what's the conclusion?
The fact is that, effects are different in two versions.
It means it breaks compatibility.

[2015-01-09 02:25] WenhaiLin commented on #9871
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9888

[2015-01-09 02:36] WenhaiLin commented on #9868
It's can’t be reproduced.

[2015-01-09 03:34] WenhaiLin opened #9890 "[win32-luatests]CocoStudioTest-->CocoStudioActionTimelineTest--"

[2015-01-09 03:36] WenhaiLin opened #9891 "[win32-luatests]CocoStudioTest-->CocoStudioActionTimelineTest-->Test Change Play Section:Show unusual behavior after multiple clicks."

[2015-01-09 03:54] #9890 closed, assigned to nobody

[2015-01-09 05:19] priyanka91 opened #9893 "Problem with CCEditBox when CCMoveBy or CCScaleTo is used"
I have created CCSprite and added CCEditBox as its child,but whenever CCMoveTo or CCScaleTo action is run on that sprite,typing is not proper in editbox. Text is not shifting to left side.
  I would really appreciate any help..Thanks!!!

[2015-01-09 05:31] dabingnn commented on #9873
Reported wrongly, it works well.

[2015-01-09 05:31] #9873 closed, assigned to zilongshanren

[2015-01-09 05:37] #9871 closed, assigned to WenhaiLin

[2015-01-09 05:41] minggo commented on #9893
What's the engine version?

[2015-01-09 05:46] samuele3hu commented on #9891
I would fix this bug

[2015-01-09 05:47] minggo commented on #9869
@huangshiwu
Please track this issue.

[2015-01-09 05:47] minggo commented on #9877
@huangshiwu
Please track this issue.

[2015-01-09 06:03] fusijie opened #9894 "applicationDidEnterBackground() not called on the WP8"
`version:` v3.3

`Issue:` applicationDidEnterBackground() don't called on the WP8 when press windows key. And applicationWillEnterForeground() don't called on the WP8 when return to the game.

`platform:` WP8

`reproduce:`

download the HelloWorldScene class to v3.3 HelloWorld Project.

[https://github.com/fusijie/Cocos2dx-Issue/tree/master/applicationDidEnterBackground-WP8-bug](https://github.com

[2015-01-09 06:05] minggo commented on #9894
@stammen
Could you please take a look?

[2015-01-09 06:07] dabingnn opened #9895 "getParentToNodeTransform() will return a wrong transform."
fixed in pull request #9887

[2015-01-09 06:11] #9895 closed, assigned to nobody

[2015-01-09 06:18] #9787 closed, assigned to zilongshanren

[2015-01-09 07:02] WenhaiLin commented on #8555
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9897

[2015-01-09 07:04] #8555 closed, assigned to WenhaiLin

[2015-01-09 07:08] minggo commented on #9200
Please refer to #8555.

[2015-01-09 07:19] hackthehackerman commented on #9471
Hi, I am wondering if anyone is working on this issue? It seems that DrawNode does not respond to alpha channel at all unless the alpha value is defined during creation. It would be great if this can be fixed.

[2015-01-09 07:23] fusijie opened #9898 "EventDispatcher: crash if adding/removing event listeners and dispatching event in event callback function"
`version:` v3.3

`Issue:` if dispatch the same event on the listener's event callback, the program will crash.

`reproduce:`

download the 2 classes(HelloWorldScene & BugUnit) to v3.3 HelloWorld Project.

[https://github.com/fusijie/Cocos2dx-Issue/tree/master/dispatchCustomEvent-crash](https://github.com/fusijie/Cocos2dx-Issue/tree/master/dispatchCustomEvent-crash)

[2015-01-09 07:28] ghost commented on #9471
@yansuck This is a feature we may going to add in version 4.x.

[2015-01-09 07:31] hackthehackerman commented on #9471
@huangshiwu Good to know! Out of curiosity, is there a timeline for 4.x release? Also, awesome works guys, cocos2d-x is amazing.

[2015-01-09 07:33] minggo opened #9899 "Clang static analyzer crash"
Fix in #9489.

[2015-01-09 07:34] #9899 closed, assigned to nobody

[2015-01-09 07:39] minggo commented on #9471
@yansuck
It will take months to finish v4.0.
Because it is a big version, it will support multiple GPU API, such as OpenGL and mental.
And we will start v4.0 on Jan.16.

[2015-01-09 07:40] zilongshanren commented on #9785
@ziyouchutuwenwu
Thanks for report. Could you add my QQ: 254041321
I want to know more details of the issue. But you guys use Chinese here...
I will compile another WebSocket for you.

[2015-01-09 07:42] zilongshanren commented on #9805
@leoussama

Have you successfully installed the libglfw3?

And you should also run `sudo apt-get remove libglfw2`.(N.B. The command would be wrong here, but the point is you should remove glfw2)

[2015-01-09 07:43] zilongshanren commented on #9715
How to reproduce this issue?

Could you give some code snippets here?

Thanks

[2015-01-09 07:45] #9654 closed, assigned to zilongshanren

[2015-01-09 07:45] zilongshanren commented on #9654
@minggo We have added it in v3.4 rc0.  So we could close this issue now.

[2015-01-09 08:50] samuele3hu opened #9903 "[Android]When passing the fullpath of video resource, VideoPlayer can't play"

[2015-01-09 08:56] WenhaiLin commented on #9485
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9904
@kaikai2 Thanks a million!

[2015-01-09 08:58] #9891 closed, assigned to samuele3hu

[2015-01-09 10:17] priyanka91 commented on #9893
cocos2d-x 2.2.3..Initially it was working well, but after I upgraded my Xcode to 5.1,text is not shifting

[2015-01-09 10:31] naghekyan opened #9905 "ui::TextBMFont auto batching"
When single Bitmap Font is used to draw different `TextBMFont`s then they should be drawn with only one draw call. Now it uses more draw calls and is extremely not effective as texts can be used in the HUD extensively., hence they add lots of draw calls in-game.

[2015-01-09 10:58] hackthehackerman commented on #9471
@minggo Thanks! Thank you so much for all the works! Also, 春节快乐 in a month!

[2015-01-09 11:06] minggo commented on #9471
Thanks @yansuck .
The same to you.

[2015-01-09 11:07] #9485 closed, assigned to WenhaiLin

[2015-01-09 11:16] WenhaiLin commented on #9903
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9906

[2015-01-09 11:22] shubham-jain opened #9907 "drawing model in cocos2dx using md2 file format"
I have been using md2 files to draw and animate 3d objects in cocos2dx. But for a particular case the texture on turns black for some frames while animating.
I am using CCModelMd2 class which is inherited from CCModel class .

[2015-01-09 11:24] #9903 closed, assigned to WenhaiLin

[2015-01-09 11:32] minggo commented on #9907
@shubham-jain
What's the issue? cocos2d-x now doesn't support md2 format.
Are you asking requirement of cocos2d-x?

[2015-01-09 11:36] minggo opened #9908 "Test package manager"

[2015-01-09 13:03] shubham-jain commented on #9907
i am using cocos2dx 2.2.3, and i have used CCModel as base class to draw 3d models .
The problem is while animating this model the texture turns black sometimes.

[2015-01-09 18:07] ricardoquesada opened #9910 "cannot set or read volume on win32"
Using Simple Audio engine, it is not possible to set or read the volume on win32, because it is not implemented.

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/audio/win32/SimpleAudioEngine.cpp#L262

[2015-01-10 06:14] qiankanglai opened #9911 "SimpleAudioEngine::playEffect() lagged on Android 5.0.x"
After updating Android 5.0.1, cocos2d-x 2.x freezes when playEffect()

I've found other's fix for [backgound music](https://github.com/cocos2d/cocos2d-x/pull/9088) and [preload](http://www.zhihu.com/question/24843109), but they don't work for me.

After some debugging, I find comment out `mSemaphore` works well. This makes `public int playEffect(final String pPath, final boolean pLoop, float pitch

[2015-01-10 06:34] darkdukey opened #9912 "Controller support for Win/Mac/Linux"
Seems some developer already did it, http://cocos2d-x.org/issues/4689

[2015-01-10 06:34] darkdukey commented on #9912
And their game is greenlit on steam
http://discuss.cocos2d-x.org/t/a-quiver-of-crows-steam-greenlight/19325

[2015-01-10 09:26] shysean opened #9913 "使用Sprite * TMXLayer::getTileAt(const Vec2& pos)函数丢失filp信息"
在Tiled Editor编辑tile时，使用了Flip功能（快捷键X）。

这时所有tile的翻转显示正常，被翻转的tile的gid应该包含了翻转信息gid的值类似-2147483639

这时Tile应该变成了一个Sprite，同时翻转显示错误，这时应该如何获取Filp信息或者是个Bug？

[2015-01-10 10:31] ghost opened #9914 "Please remove event tracking from lua-template-rumtime (cocos2d-x 3.4rc0)"
Please remove event tracking from default Lua rumtime
- it's slow down application startup
- it's sending user's GUID to intenet :-(

It send event to **google-analytics** every-time application start
[/templates/lua-template-runtime/frameworks/runtime-src/Classes/AppDelegate.cpp](https://github.com/cocos2d/cocos2d-x/commit/d4681c115009bb6d70e126a9a8252cb0c11e692e#diff-064bbb0ec05aa6fbb632a17d9d7c

[2015-01-10 11:06] ghost commented on #9914
- It's better to track the event from 'Cocos Code IDE'.
  - Hash GUID before sending to internet.

[2015-01-10 17:13] ginobean opened #9916 "bitmap fonts are being parsed inefficiently (MAJOR time complexity issue)"
Easiest way to see this is to insert 3 debugging statements into CCFontFNT.cpp

[code]

Then, load and use a bitmap font.
example: (comment out 1 line and insert 1 new line into HelloWorldScene.cpp

[code]

Add the files:  marker-felt-glyph.fnt and marker-felt-glyph.png to your Xcode project under Resources/

Run the resulting app on a simulator or device and look for the "total characters copied

[2015-01-11 14:01] hsdk123 opened #9918 "Win32 Video Player"
Hi, I originally posted a question on Win32 Video Player implementation back July 2014:

http://discuss.cocos2d-x.org/t/what-features-do-you-wish-cocos2d-x-provided/14822/45

I was told at the time that the feature would be on it's way, but it's currently Jan 2015 and I still hear no sound of an implementation. Win32 support (and future OSX) is currently crucial for the company games I work on - t

[2015-01-11 15:22] justinboswell commented on #8536
I ran into this issue as well in 3.3. The fix in the description works perfectly.

[2015-01-11 21:33] stevetranby opened #9920 "UserDefault char* to std::string parameters"
I would suggest moving UserDefault over to using std::string instead of const char*

[2015-01-12 02:30] litefeel opened #9924 "Wild pointer"
[code]

[2015-01-12 02:31] zilongshanren commented on #9785
@ziyouchutuwenwu
The problems would be the mismatch version of the websocket protocol provided by the Erlang server.

http://stackoverflow.com/questions/4245858/erlang-and-websockets

Still need more effort to confirm this issue.

[2015-01-12 02:34] litefeel commented on #9924
I recommend call `cleanupWithoutSendEvent` in destructor.

[2015-01-12 02:42] KioriSun opened #9925 "Batching the UI and other things in 1 draw call"
This issue is related to https://github.com/cocos2d/cocos2d-x/issues/9905.

Right now UI items are each their own thing, and a fancy UI will lead to a monstrous amount of -wasted- draw call. Cocos needs to change the current implementation of UI elements so they can all be batched into 1 Draw. Unity does that already, and cocos is the better engine.
Also, perhaps the devs should look into a simila

[2015-01-12 02:55] samuele3hu opened #9926 "[iOS&android] Add test cases to display Facebook sdk version"

[2015-01-12 03:20] dualface commented on #9914
- because the Google Analysis request is async, so it's not slow down startup
- we will hash GUID before sending to internet, thanks

[2015-01-12 03:38] #9785 closed, assigned to zilongshanren

[2015-01-12 03:42] zilongshanren commented on #9785
@ziyouchutuwenwu

I will update the libwebsockets library in v3.4.

Thanks for reporting.

[2015-01-12 03:51] dabingnn opened #9928 "allow GL_STATIC_DRAW and GL_DYNAMIC_DRAW in vertex buffer and indexbuffer"

[2015-01-12 04:37] ghost commented on #9914
Thank you for quick response. But my concern is Cocos2d-x + Lua runtime should not tracking .
- It should not  track from Cocos2d-x + Lua runtime,
  other developer don't known that the runtime send data to Google Analysis if they don't look in AppDelegate.cpp.
- Other case is user (who play game) was tracked, too.

[2015-01-12 06:36] dualface commented on #9914
Yes, you are right. we will remove google analysis from template, keep it in pre-build simulator. We need known how many developers use simulator for development.

Thanks for your advices.

[2015-01-12 06:39] zilongshanren opened #9930 "libwebsocket doesn't support OpenSSL"
I have compiled a libWebsocket with OpenSSL support, but when running it , it crash on the following line:

[code]

Here is the error message:

[code]

Maybe the setup code is wrong in cocos2d-x.

We need to fix it in the future.

[2015-01-12 06:45] csrongquan commented on #9782
我也遇到了，先用你的方法解决一下。后面再看

[2015-01-12 06:56] csrongquan commented on #9782
多谢了

[2015-01-12 07:20] zilongshanren commented on #9805
@leoussama
Any updates?

[2015-01-12 07:37] pipu commented on #9856
Effects of the above two pictures seem same.

[2015-01-12 07:40] edwardzhou commented on #9856
exactly, not same.
it will scale the text when add more (or minus more) '.' to the string.

I just tested with the latest engine code.

[2015-01-12 07:53] chengstory commented on #9856
exactly, not same. I have asked @pipu to fix it.

[2015-01-12 08:13] pipu commented on #9856
@samuele3hu
Could you upgrade CocoStudio Editor to v2.1Beta?

[2015-01-12 08:26] edwardzhou commented on #9856
@pipu
I have upgraded to CocoStudio Editor v2.1Beta (CocosStudioForMac-v2.1-Beta-2015-0112-1427-Small) which provided by @chengstory this afternoon. And then re-exported. still same problem.

[2015-01-12 08:31] pipu commented on #9856
@samuele3hu
Could you give us your .fnt file which TextBMFont uses?

[2015-01-12 11:33] #9806 closed, assigned to dabingnn

[2015-01-12 11:33] #9928 closed, assigned to dabingnn

[2015-01-12 11:35] Yehsam23 opened #9938 "3.4rc0 PhysicsBody can't getPosition when addPhysicsBody"
Node *testNode = Node::create();
testNode->setPosition(Vec2(100, 100));
this->addChild(testNode);

PhysicsBody *physicsBody = PhysicsBody::create()
testNode->setPhysicsBody(physicsBody);

Then physicsBody->getPosition() is Zero

Please fix issue.....

[2015-01-12 11:41] #9884 closed, assigned to zilongshanren

[2015-01-12 11:59] minggo commented on #9938
Does testNode be added into node tree?

[2015-01-12 12:03] leoussama commented on #9805
there's no package named libglfw3 only libglfw 2 in ubuntu 14.04
please include all libraries dependencies in the source project so we can install every thing once and for all or you can compile and intall it on your owen machine then generate deb file using apt

[2015-01-12 12:06] dabingnn opened #9941 "Result returned in FileUtils::fullPathForFilename is not clear"
Fixed in #9915
When file is not found, we can not know it because the original filename is returned.

[2015-01-12 12:06] #9941 closed, assigned to nobody

[2015-01-12 12:10] minggo commented on #9938
PhysicsBody::getPosition() will return the attacked node's world position. Why you need to use it?

[2015-01-12 12:10] Yehsam23 commented on #9938
Yes~~~

3.4rc0 update PhysicsBody position in "updatePhysicsBodyTransform" method
It will call updatePhysicsBodyTransform when next frame.

So......getPosition is correct when next frame.

But first frame always zero position.

[2015-01-12 12:14] zilongshanren commented on #9805
@leoussama
I think the problems is the libglfw2 which is ship with ubuntu 14.04. Cocos2d-x depends on libglfw3.

So if you successfully calls the `install-linux-deps.sh`, you should also remove the libglfw2.

I will try to fix the install-linux-deps.sh scripts.

[2015-01-12 12:14] Yehsam23 commented on #9938
We need get shape position~~

[2015-01-12 12:40] doomsdayer commented on #9856
![ios simulator screen shot 2015 1 12 8 27 34](https://cloud.githubusercontent.com/assets/3272795/5702908/0e2a7262-9a9a-11e4-8f61-fea19e0eb1be.png)

This is from Cocos2d-x 3.4Beta0 loading the csb file published by CocosStudio 2.1Beta, it's seems no problem, like your first picture.

Are you using the Cocos2d-x 3.4beta0 from the official site?

[2015-01-12 15:39] stammen commented on #9869
We are aware of the issue. We will continue to investigate.

[2015-01-12 18:23] pekayatt opened #9946 "Universal App (wp8.1-win8.1) cannot use 3rd-party libs"
It looks like there is a problem with Visual C++ projects that even if they use XAML they can't use controls no designed exclusive for that.

The issue is that there is no Ad library available in this new method (except AdDuplex, but they don't pay for clicks).

Keep both version for the time being looks like the best way to support both freemium and paid apps (paid could use the native that has m

[2015-01-13 02:34] zilongshanren opened #9949 "Game screen turn black when hidden 91 SDK logo"
How to reproduce:
1. add 91 SDK to your game
2. run the game and the 91 SDK logo will show
3. After the logo is disappeared, the game screen will turn black.

There is a similar patch in cocos2d-iphone:

And a solution is here:(One CP confirmed the solution is work.)
https://code.google.com/p/cocos2d-iphone/issues/detail?id=1153

We need to reproduce this issue and figure it out why it happens.

[2015-01-13 03:33] edwardzhou commented on #9856
I have just tested on Cocos2d-x 3.4beta0 downloaded from the official site (http://cocostudio.download.appget.cn/Cocos2D-X/cocos2d-x-3.4beta0.zip).
Same problem.

here is the test case for u http://pan.baidu.com/s/1kTqWkwn (run with 'cocos run -pandroid -j8')

[2015-01-13 05:42] doomsdayer commented on #9856
This issue occurs when get the lable widget from csb file, and setString with longer text. The lable's size keeps constant, so every character becomes thinner.

To solve this issue, after the lable is gotten, execute:

[code]

[2015-01-13 06:10] minggo opened #9954 "Add preload for new audio"
Some games such as musical games are sensitive with delay. Though current implementation has little delay but can not satisfy these games. So preload function is needed.

[2015-01-13 06:12] #9886 closed, assigned to samuele3hu

[2015-01-13 07:34] fusijie opened #9955 "Label create with createWithSystemFont setTextColor() the alpha channel has no effect."
`version:` v3.3Final
`Issue:` Label create with `createWithSystemFont`, the function of `setTextColor()` alpha channel has no effect. But label create with `createWithTTF` works good.
`reproduce:` add following code to HelloWorld Project.

[code]

![settextcolor](https://cloud.githubusercontent.com/assets/5085300/5717313/792e8982-9b39-11e4-8c3f-6130049ff317.jpg)

[2015-01-13 08:13] samuele3hu opened #9957 "Optimize the bindings-generator tools"
1.Make tools search the dependent library path automatically
2.Add record of deprecated functions
3.Add finalize support of no-ref class
4.Add parse of public member variable
5.Make the enum class be generated automatically

[2015-01-13 08:14] samuele3hu opened #9958 "Optimize the bindings-generator tool"
## Highlighted
- [x] Add finalize support of no-ref class
- [x] Add parse of public member variable
- [x] Should refine lambda support ( it doesn't support complexe parameters (like std::string) )
- [ ] Should support lambda in Lua bindings (@dualface can you take a look)
- [ ] The return value is Object value, it would trigger the compile error.
- [ ] If the functions of class are limited by the

[2015-01-13 08:17] Yehsam23 opened #9959 "3.4rc0 Scale9Sprite can't use Move Scale Action if use physics scene"
Version: 3.4 rc0

It can reproduce at PhysicsTest

[code]

The testSprite can't move

[2015-01-13 08:22] #9957 closed, assigned to nobody

[2015-01-13 10:05] b562516128 opened #9961 "my ogg file can't be played"
I use the newAudioEngine to play ogg file recently with the cocos2d-x 3.3 Final.
I change my ogg file to three qualities. High, Medium and Low with Format Factory .
And I found that the Engine Could only play the ogg file of low quality.  The other two play with no sound and console didn't print any wrong message.
By the way, I use Windows+ VS.

[2015-01-13 10:05] minggo opened #9962 "Add method to disable auto culling"

[2015-01-13 10:22] minggo commented on #9961
Did you use SimpleAudioEngine or new audio?
SimpleAudioEngine doesn't support ogg format.

[2015-01-13 10:26] #9908 closed, assigned to nobody

[2015-01-13 11:26] priyanka91 opened #9964 "How to get suggestions of keyboard as input in CCTextFieldTTF?"
Hey all,
            I am using CCTextFieldTTF for get using some input ,but whenever I try to use suggestions or auto corrections,word is not added to string..

[2015-01-13 11:40] WenhaiLin commented on #9898
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9963

[2015-01-13 12:06] bryanwong opened #9965 "iOS glClear crash"
Cocos2d-X 3.3 finial, iOS 7

glClear(GL_COLOR_BUFFER_BIT | GL_DEPTH_BUFFER_BIT);  Crashed on startup.

![screen shot 2015-01-13 at 8 03 34 pm](https://cloud.githubusercontent.com/assets/2644678/5720460/88cc5254-9b5f-11e4-8bfc-075f751713e7.png)

[2015-01-13 12:13] leoussama commented on #9805
you can just include it in the installation packages and link it localy

[2015-01-13 12:39] dabingnn opened #9966 "Add options to enable or disable culling"

[2015-01-13 12:43] sidshekar commented on #8321
Excited!!! :D

On Wed, Jan 7, 2015 at 6:28 PM, Vladislav Kaplun notifications@github.com
wrote:

[2015-01-13 19:48] ondesly opened #9968 "Crash on Android devices with arm-v7a, but without NEON"
LOCAL_ARM_NEON := true in cocos/Android.mk and APP_ABI := armeabi-v7a in Application.mk causes crash on launch (SIGILL) on Android devices with CPU arm-v7a, but without NEON instructions.

Such CPU is Nvidia Tegra 2. It supports arm-v7a, but it doesn't support NEON instructions.
Devices: Samsung Galaxy Tab 10.1 (P7500), Asus Transformer TF101, Motorola XOOM and others.

[2015-01-14 03:04] #9898 closed, assigned to WenhaiLin

[2015-01-14 03:30] minggo commented on #9965
How to reproduce it?

[2015-01-14 03:38] #8844 closed, assigned to nobody

[2015-01-14 03:51] ghost commented on #8668
@ahlwong What is the "node"? A layerColor?

[2015-01-14 04:06] fusijie opened #9977 "Scale9Sprite is not supported to be the stencil of ClippingNode"
`version:` 3.3Final
`reproduce:`

[code]

![2015-01-14 11 57 30](https://cloud.githubusercontent.com/assets/5085300/5733916/cb8b1a2c-9be5-11e4-9662-34915f85836c.png)

[2015-01-14 04:52] KioriSun opened #9978 "text, layers, sprites, everything should be optionally resizable acording to the scene size(screen size)."
There are hacky ways of doing this, but this should be built-in and exposed to cocos studio as a standard.
In labels for instance, currently the font size is static, and there is no clear built-in manner to allow them to auto re-size in relation to the text label size/scope/scenario.

Where as a button for instance can resize its self in % to the overall scene, buttons are following the ideal beha

[2015-01-14 05:38] #9966 closed, assigned to dabingnn

[2015-01-14 05:41] dabingnn commented on #9962
duplicated with #9966.

[2015-01-14 05:41] #9962 closed, assigned to dabingnn

[2015-01-14 05:47] minggo commented on #9968
As you said, the device doesn't support NEON instructions, why you use `LOCAL_ARM_NEON := true`?

[2015-01-14 06:04] ghost opened #9980 "WP8 and WP8.1 DrawNode's drawPoint do not work"
In test case Node:Draw
1.WP8.1 can't draw point at all ,while WinRT8.1 works well
2.WP8 can't set point's size

[2015-01-14 06:05] ghost commented on #9980
@stammen
Could you please take a look?

[2015-01-14 06:16] stammen commented on #9980
Angle on WIndows Phone 8.1 does not yet implement glPointSize. Angle on Windows Phone 8.0 only supports a size of 1. Angle on WinRT 8.1 (with DirectX Level 10 or higher) can support glPointSprite using a compute shader which is not available to WIndows Phone (DirectX level 9_3).

The Angle developers are aware of this issue but have not released a solution yet.

[2015-01-14 06:33] zilongshanren commented on #9805
@leoussama
Hi, could you make a new ubuntu virtual machine and try the updated scripts in the PR 9984?

I think it should be working now.

Thanks.

[2015-01-14 06:58] ondesly commented on #9968
I don't. It's enabled in cocos/Android.mk by default for all arm-v7a devices.

[2015-01-14 07:18] samuele3hu opened #9986 "Add lua bindings for Component and related test cases"

[2015-01-14 08:07] ghost commented on #8668
@ahlwong I think you should use
`renderTexture->setVirtualViewport(Director::getInstance()->getVisibleOrigin(), Rect(0.0f, 0.0f, winSize.width, winSize.height), Rect(0.0f, 0.0f, winSizeInPixels.width, winSizeInPixels.height));`

[2015-01-14 08:15] minggo commented on #9926
Fixed in #9956.

[2015-01-14 08:15] #9926 closed, assigned to samuele3hu

[2015-01-14 08:16] minggo commented on #9820
Fixed in #9983.

[2015-01-14 08:16] #9820 closed, assigned to samuele3hu

[2015-01-14 08:35] #9805 closed, assigned to zilongshanren

[2015-01-14 08:54] zilongshanren commented on #9521
The doc is updated in https://github.com/chukong/programmers-guide/pull/74

[2015-01-14 09:03] WenhaiLin commented on #9938
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9991

[2015-01-14 09:06] #9986 closed, assigned to samuele3hu

[2015-01-14 09:07] #9938 closed, assigned to WenhaiLin

[2015-01-14 09:13] #9521 closed, assigned to zilongshanren

[2015-01-14 09:25] zilongshanren opened #9997 "External directory should only contains a config.json file"
We should remove the Box2d/CMakeLists.txt and put it back to cocos2d-x-3rd-party-libs-bin repository.

[2015-01-14 09:29] zilongshanren commented on #8730
@minggo  We could close this issue now.

[2015-01-14 10:21] WenhaiLin opened #9999 "[Physics]Fail to query the shapes which add to PhysicsWorld in the current frame"

[2015-01-14 13:57] vinchkovsky opened #10001 "Palm swipes without onTouchEnded event"
I use Cocos2d-x 3.3 final, Samsung Galaxy S5, Android 4.4.2

There's a possibility to make a palm swipe to take screenshot: http://www.samsung.com/us/support/faq/FAQ00047978/52118/SCH-I535RWAVZW

When I'm doing that, onTouchBegan is called 2-4 times (all touches have different IDs) while onTouchEnded for this touches is never called.

Also if I do palm swipe without taking screenshot, onTouchEnded

[2015-01-14 14:31] pandamicro commented on #9621
Here is a related user request: https://github.com/cocos2d/cocos2d-js/issues/1315

[2015-01-14 15:37] #9997 closed, assigned to nobody

[2015-01-14 16:15] herojia2021 opened #10003 "many scheduleUpdate() call without corresponding unscheduleUpdate() make hashkey "leak""
in cocos3.2 there are  many scheduleUpdate() call without corresponding unscheduleUpdate() ,

if you don't call unscheduleUpdate(), the _hashForUpdate in Scheduler will keep the hash pair forever.

i don't know in normal situation this will make problem or not. but in my situation this make problem.

i notice this because i always got :

[code]

in console output. if you got this warning then func

[2015-01-15 02:15] zilongshanren opened #10011 "Bug Test-> 1159Test"
![test](https://cloud.githubusercontent.com/assets/785541/5751495/7b820e9a-9c9f-11e4-901f-599a90198796.gif)

[2015-01-15 02:25] super626 commented on #9767
@maltium
Can send me your .fbx file?

[2015-01-15 02:33] samuele3hu opened #10012 "[Mac]Cpp Tests->Audio - NewAudioEngine -> AudioProfileTest can't play sometimes"

[2015-01-15 02:36] WenhaiLin opened #10013 "[win32]Extensions-->WebSocketTest:Application freeze when click 'Back' button"

[2015-01-15 02:58] zilongshanren opened #10015 "[ios bug] Particle Test-> ue3990, setTotalParticle"
It says "Show 998  or 999 at bottom right side",

But it never goes to 998 or 999.

[2015-01-15 03:07] samuele3hu opened #10016 "[Mac]Cpp Tests->Node : Sprite3D -> Testing Sprite3D: sprites added seems to be wrong"
The display as follows:

![347b5753-e84c-47c4-b6f6-f32e38305236](https://cloud.githubusercontent.com/assets/4231014/5751908/6920fbec-9ca6-11e4-8fd7-dcccebab35fc.png)

The sprite highlighted in red has shadow.

[2015-01-15 03:08] WenhaiLin opened #10017 "[win32]Sometimes application crash within DrawNode::init"

[2015-01-15 03:56] minggo commented on #10017
@Dhilan007
Please test it.

[2015-01-15 04:00] samuele3hu opened #10020 "[Mac]Cpp Tests->BillBoard Test: sprites added seems to be wrong"
![bilboardtest](https://cloud.githubusercontent.com/assets/4231014/5752298/9272bc9a-9cad-11e4-8064-364d30525b29.gif)

This display has different from the 3.4beta0,and test codes didn't do too much changes.

[2015-01-15 05:33] #10017 closed, assigned to nobody

[2015-01-15 06:52] mooncode163 opened #10025 "How to play effect many times"
想实现音效播放多次该怎么做呢？

[2015-01-15 08:00] samuele3hu opened #10027 "[iPhone4s]Lua-tests->BugsTest->Bug-914 display error"
The screenshot as follows:
![img_0334](https://cloud.githubusercontent.com/assets/4231014/5754149/9b894c28-9ccf-11e4-87ee-a5dc676e0a8c.PNG)

The correct display as follows:

![correct](https://cloud.githubusercontent.com/assets/4231014/5754200/53d70ae0-9cd0-11e4-8c65-75e1956fa1d2.png)

[2015-01-15 09:50] bryanwong commented on #9965
@minggo I can't reproduce it, either.
It happened several times, and I guess it's relevant to the low memory?

[2015-01-15 10:16] herojia2021 opened #10028 "pair unsheduleUpdate() with scheduleUpdate() still make scheduleUpdate() fail in some situation"
this issue is a continue of https://github.com/cocos2d/cocos2d-x/issues/10003

pair unsheduleUpdate() with scheduleUpdate() fix problem in some situation.
but there is still a situation make scheduleUpdate() fail even you do unscheduleUpdate()
its hard to describe in text why code goes scheduleUpdate fail in schedulePerFrame() and get a warning msg:
            CCLOG("warning: you CANNOT change up

[2015-01-15 10:34] zilongshanren opened #10030 "[bug] ui::Widget enableDpadNavigation crash when set to false at the first time."

[2015-01-15 10:34] #10030 closed, assigned to nobody

[2015-01-15 10:35] minggo commented on #9965
So there is not problem in tests?

[2015-01-15 11:59] daneric opened #10031 "Button disappeared when setFlippedX(true) on 3.3final"
Code is very simple:
Button\* arrow = Button::create();
arrow->loadTextureNormal("arrowbtn.png", TextureResType::PLIST);
arrow->setFlippedX(true);
addChild(arrow);

on v3.3rc0 is OK, on v3.3final the arrow button not display, but it still can be clicked.

Please help!

[2015-01-15 19:03] darkdukey commented on #10020
That looks correct, I think

[2015-01-15 22:57] maltium commented on #9767
@super626
To give you some more details, I'm using `GLProgram::createWithByteArrays()` to create a program and then passing the returned instance to `Sprite3D::setGLProgram(...)`.

You can download the FBX file from [here](http://1drv.ms/1Byvl01). It's a simple mesh without any animations.

[2015-01-16 02:40] #10011 closed, assigned to dabingnn

[2015-01-16 02:41] #10027 closed, assigned to nobody

[2015-01-16 02:51] #9750 closed, assigned to darkdukey

[2015-01-16 06:02] volzhs commented on #9639
I found this ImageView looks fine when add it to Node.
But the ImageView color ignored when add it to ListView.

[2015-01-16 06:25] WenhaiLin commented on #9999
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10037

[2015-01-16 06:28] #9999 closed, assigned to WenhaiLin

[2015-01-16 06:48] zilongshanren opened #10039 "[ios-Bug]Effect Baisc -> PageTurn3D issues many OpenGL Errors"
OpenGL error 0x0500 in /Users/guanghui/cocos2d-x-v2/cocos/renderer/CCTextureAtlas.cpp drawNumberOfQuads 689

[2015-01-16 07:28] qiutaoleo opened #10041 "建议在win32的FileUtils中加上区分文件路径和名字大小写"
因为在win32下面开发的时候，资源和文件名windows平台忽略大小写区别，所以之前出的问题就是打包到Android和ios上面有出错，再去排查麻烦。
不如就让win32和linux下面表现一样也区分大小写。
自己已经改了，希望官方加入。

[2015-01-16 07:32] zilongshanren commented on #10041
thanks, @qiutaoleo
Can you send a PR?

[2015-01-16 07:39] zilongshanren commented on #10031
@daneric
Could you give me your game assets?
I have included the flip test of ui::Button in cpp-tests. I think it's ok.

[2015-01-16 08:30] #8705 closed, assigned to WenhaiLin

[2015-01-16 08:31] WenhaiLin commented on #8733
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9729

[2015-01-16 08:31] #8733 closed, assigned to WenhaiLin

[2015-01-16 08:34] #10039 closed, assigned to dabingnn

[2015-01-16 09:00] larsven commented on #9664
I came across this problem too when trying to measure the time between onKeyPressed and onKeyReleased. Will have to find a workaround.

[2015-01-16 09:04] larsven commented on #9597
I have seen this happen occasionally on a Samsung S4.

v 3.3

No Spine animated characters here.

[2015-01-16 09:07] pandamicro commented on #9621
Another user requested similar features for FileUtils: https://github.com/cocos2d/cocos2d-js/issues/1323
1. Save content to file
2. Uncompress zip file
3. Calculate MD5 value for verification

[2015-01-16 09:43] qiutaoleo commented on #10041
PR #10042

[2015-01-16 10:43] zilongshanren opened #10044 "Console -> CCLOG is not thread safe"
[code]

// we should push fflush here for better debugging
    SendLogToWindow(buf);
    fflush(stdout);

[2015-01-16 10:46] #10013 closed, assigned to nobody

[2015-01-16 11:07] eonghk opened #10047 "Load c3b fail."
Assert failed: VERTEX_ATTRIB_TEX_COORD4
voyage: /home/eong/develop/cocos2d-x/cocos/3d/CCBundle3D.cpp:1956: unsigned int cocos2d::Bundle3D::parseGLProgramAttribute(const string&): Assertion `false' failed.

[2015-01-16 15:37] ondesly commented on #8964
Hi guys,
I started to get crash logs with this issue after update to 3.3. I think it happens only on few devices. That's why it's hard to reproduce.
Devices:
Asus ME302C, K00Z, T00G
Samsung P5200, P5210, P5220
Motorola XT890

[2015-01-16 20:08] yishin commented on #9715
[code]

![editbox_focus_error](https://cloud.githubusercontent.com/assets/4854468/5783489/da2a891e-9e06-11e4-85ef-931cfd3c2cf4.png)

[2015-01-17 09:59] BorgLee commented on #9782
10几天过去了。真的很着急。能否给个临时的解决方案呢？

[2015-01-18 07:22] ghost commented on #9914
Changed in 3.4rc1 is looking good.
- Tracking only in pre-build simulator
- Manual build is not tracking (both debug, and release)

Thank you

[2015-01-18 07:22] #9914 closed, assigned to nobody

[2015-01-18 09:03] meiry opened #10054 "[Win 7] cpp-test crash when clicking the next button in the clipping example"
windows 7 32 bit visual studio 2012 crash when entering the clipping test and pressing the next button
error:

[code]

[2015-01-18 09:14] meiry opened #10055 "[Win 7] Crash in cpp-test in Extension ->AssetsManagerExTest when waiting few secounds"
Using windows 7 32 bit and VC 2012
once clicking the AssetsManagerExTest and wating for few min's i got
get assertion that looks like this:
![assetsmanagerextest](https://cloud.githubusercontent.com/assets/1107316/5791935/e30a3172-9f02-11e4-8f25-56c79c46d0ed.png)

also in the output window i see very strange stuff the sample try to create files and directory's :

[code]

[2015-01-18 09:25] meiry opened #10056 "[Win 7] Crash in cpp-test -> Multi Touch example"
Again after 2-3 sec im getting :

[code]

[2015-01-18 12:36] joewan opened #10057 "libcurl on linux"
we need install "libcurl" on ubuntu in build/install-deps-linux.sh.

[2015-01-18 12:37] joewan commented on #10057
sudo apt-get install libcurl4-openssl-dev

[2015-01-18 15:33] zilongshanren commented on #10057
@joewan
We do install the libcurl in install-deps-linux.sh

[2015-01-18 15:34] zilongshanren commented on #10057
@joewan
we install the libcurl4-gnutls-dev in the above script.

[2015-01-19 01:45] minggo commented on #10056
What's the engine version?

[2015-01-19 01:45] minggo commented on #10055
What's the engine version?

[2015-01-19 01:45] minggo commented on #10054
What's the engine version?

[2015-01-19 02:11] minggo commented on #8964
@ondesly
Could you please turn off SSE to have a try?
We will take a look.
Thanks

[2015-01-19 02:20] zilongshanren commented on #9834
@fusijie  @minggo

It‘s a very strange problem here. Since it only exists on Mac platform, so we could take the priority a little down.  If I don't have enough time, I won't solve it in v3.4 final.

Now I should add the cell reuse mechanism back to ListView.

[2015-01-19 02:23] minggo commented on #9834
Ok.

[2015-01-19 02:59] sbhhbs opened #10061 "Make it available as a Fragment in android instead of Activity?"
We're writing a android app that really like to leverage the power of cocos2d-x. But since it's an app, we would like to have it as a fragment.

[2015-01-19 03:07] Dhilan007 commented on #9782
Please replace setColor with setTextColor

[2015-01-19 03:08] minggo opened #10062 "Can not modify anchor point after setting physics body"

[2015-01-19 03:15] Dhilan007 commented on #9782
@minggo It's not a bug.

[2015-01-19 03:21] Dhilan007 commented on #9782
@minggo It's not a bug.

[2015-01-19 03:32] BorgLee commented on #9782
不是setColor这个方法 是enableOutline这个方法

[2015-01-19 03:36] Dhilan007 commented on #9782
Please try to do like this:
label->setTextColor(Color4B::BLACK);
label->enableOutline(Color4B::WHITE, 1);

[2015-01-19 03:36] BorgLee commented on #9782
enableOutline 在使用系统字体时 描边会出现异常，例如使用黑色字，白色描边。

[2015-01-19 03:38] Dhilan007 commented on #9782
Which platform you develop for?

[2015-01-19 03:41] BorgLee commented on #9782
测试有效 非常感谢。

[2015-01-19 03:45] #9782 closed

[2015-01-19 04:42] sss316 opened #10063 "3.3中 子节点不跟随父节点移动"
子节点label不跟随父节点移动，子节点是label，父节点是3d场景的UI层。

发现：
lua-tests 中，我在UI层增加了一个label. 创建方法 cc.Label:createWithTTF。
UI层移动，label不跟着移动，
最后发现下面这句代码导致，label是不是有bug？

local camera = cc.Camera:createPerspective(60.0, size.width/size.height, 10.0, 4000.0)
camera:setCameraFlag(cc.CameraFlag.USER1)
self:addChild(camera)

另外系统字label在3d场景中显示不出来，ttf可以。

[2015-01-19 05:30] pipu commented on #9639
@volzhs

I''ve tested this issue refer to your step.
I didn't discover that ImageView is not applied color.

Effect:
original:

![original](https://cloud.githubusercontent.com/assets/3690622/5796235/b266b7ca-9fde-11e4-9d57-2d79d7ae5a0c.PNG)

after set Colot tint to ImageView:
![setcolorwithgreen](https://cloud.githubusercontent.com/assets/3690622/5796244/0ea407cc-9fdf-11e4-9f26-17e64e29afa3.PNG)

[2015-01-19 05:31] powerhyn commented on #8910
@yushenglu this problem just calling refreshView  (if your version is v3.3) before call jumpToBottom();

[2015-01-19 05:39] samuele3hu opened #10065 "The project created by lua-template-default should not connect the wifi when it run on the android in the debug model"

[2015-01-19 06:05] meiry commented on #10054
Latest 3.4 rc1

[2015-01-19 06:06] meiry commented on #10055
I'm doing QA to the letest 3.4 rc1

[2015-01-19 06:07] meiry commented on #10056
3.4 rc1

[2015-01-19 06:31] ghost commented on #10054
We have test v3.4rc1 on our PC but we can't reproduce the crash(issue 10054-56) you said. Our test environment is win8.1 64bit vs2013update3 and win7 64bit vs2012. So can you please clean your rep and project and test again? Thank you!

[2015-01-19 06:50] dkthach opened #10067 "Cocos2d-x js 3.2 , I had problem with Widget ccui.labelBMFont"
HI guys !, when i used cocos studio 1.6 and create a Widget labelBMFont ,I had one a few problems:
my code js :
var ccsNode = ccs.uiReader.widgetFromJsonFile(res.iapDialog_json);
this.addChild(ccsNode);
var label = ccui.helper.seekWidgetByName(ccsNode, "label" );
var oop = label.getVirtualRenderer();
oop.setBoundingWidth(140);//fail and log "setBoundingWidth is not a function"
oop.setAlignment(cc.

[2015-01-19 06:54] #10067 closed, assigned to nobody

[2015-01-19 07:07] samuele3hu opened #10068 "Cpp-Test ->ActionsTest->RotateBy3D has different show between V3.3 and V3.4"
3.3:
![rotateby3d3_3](https://cloud.githubusercontent.com/assets/4231014/5796984/a5d80988-9fec-11e4-8801-b2905129a721.gif)

3.4
![rotateby3d3_4](https://cloud.githubusercontent.com/assets/4231014/5796995/d26c201a-9fec-11e4-9f0d-f98102f29f06.gif)

[2015-01-19 07:23] ondesly commented on #8964
@minggo
It works with -U__SSE__ flag.

But after that I caught crash in release mode in another place on the same device (only x86).
App works fine few seconds and then crash happens. I disabled all rotation animations and it started to work fine.

CCNode.cpp:1712:
   float radiansX = -CC_DEGREES_TO_RADIANS(_rotationZ_X);
   float radiansY = -CC_DEGREES_TO_RADIANS(_rotationZ_Y);      <- Crash here

[2015-01-19 07:33] meiry commented on #10054
sure i will do it ,
i by the way testing in 32bit  not 64bit  bit with 2012 express version.

[2015-01-19 07:36] ghost commented on #10054
Yes, I know that, but now we don't have the test environment as yours.If the crash still happens, we will try to setup the same environment to figure it out.

[2015-01-19 08:06] ghost commented on #10054
What I mean 64bit and 32bit is about the system, not the cocos2d-x project.

[2015-01-19 09:28] samuele3hu opened #10076 "Lua-test-> Different Texture Sizes don't output the correct log message"

[2015-01-19 13:59] dabingnn opened #10079 "clippingNode crash on some win32 machine"
rc0 runs well, rc1 have some problems

[2015-01-19 16:44] stammen opened #10080 "Please update download-deps.py version when release v3.4"
v3-deps-32.zip contains old header files for libwebsockets for WP8 and WiNRT. Please update the version so the correct files will be downloaded.

[2015-01-19 23:18] stevetranby opened #10082 "Label and Text have different types for fontSize"
Label's fontSize parameter is float
Text fontSize parameter is int

We should make these the same type. Text should probably accept float?

[2015-01-19 23:21] stevetranby opened #10083 "[feature] Add GridView support with similar functionality or derive from ListView"
It would be great to support a ListView that has multiple columns or rows depending on scroll direction.

If vertical scroll it could allow a number of children per row setting. With an add child order using the following.
1,2,3
4,5,6
7,8

If horizontal scroll it could allow a number of children per column setting.
1,4,7
2,5,8
3,6

[2015-01-19 23:23] stevetranby commented on #9356
Actually some games have scroll bars and on mobile we could try to support making it visible only on scroll. I'll vote for this one!

[2015-01-20 00:39] diamond-msc opened #10084 "Crash on Android loading default GL programs"
### git bisect

[code]
### crash log

[code]

[2015-01-20 01:43] minggo commented on #10080
@andyque
Is it true?

[2015-01-20 01:52] minggo commented on #10084
@diamond-msc
What's the engine version?
How to reproduce it?
What's the device you tested on?
What's the Android OS version?

[2015-01-20 02:22] minggo opened #10085 "Add Animation::getCurrentFrame()"

[2015-01-20 02:22] minggo commented on #10085
Can refer to this ticket for detail information https://github.com/cocos2d/cocos2d-html5/issues/1050#issuecomment-70594064.

[2015-01-20 02:36] zilongshanren commented on #10080
@minggo
Yes, @stammen  send a new PR after we publishing the tag. Could we change it now?

[2015-01-20 02:37] pandamicro opened #10086 "Question about Sprite::setTexture"
Here is the implementation of `Sprite::setTexture`

[code]

Two questions:
1. The second ASSERT indicate that we accept `nullptr` as texture parameter, but in the first ASSERT we already used the texture which will cause crash, so `nullptr` cannot be passed, please fix the problem
2. It's a question, why instead of making `_texture` null, we make it a `2x2` white texture ? I don't think it should

[2015-01-20 02:40] minggo commented on #10080
@stammen
Because it is a pain to release a new version of updating deps. It means every one should download about 70+M libraries, it is a long time in China. And we will release new version of cocos2d-x on Jan.23, so i think we can release v3-deps-33.zip when we release it.

Please let me know if it is acceptable?
Thanks.

[2015-01-20 02:42] xiaozzjl commented on #10083
cocos2d-x support ScrollView, ListView extend on ScrollView.
You can realize the function like ListView.

[2015-01-20 02:47] zilongshanren opened #10087 "Bug: ImageView render error when ignoreSize is true"

[2015-01-20 02:47] #10087 closed, assigned to nobody

[2015-01-20 02:51] stammen commented on #10080
As long as you do not release v3.4 without updating download-deps.py to v3-deps-33.zip it is fine with me.

[2015-01-20 02:52] zilongshanren commented on #10087
When the ImageView's ignoreSize is true and it's not a Scale9 enabled ImageView, the rendered content size is wrong.

[2015-01-20 02:54] minggo commented on #10080
@stammen
We will update it.
Just not want to update it so frequently.

Thanks for your mention.

[2015-01-20 03:42] zilongshanren opened #10088 "Add state for layoutcomponent to use percent size and percent position only"

[2015-01-20 03:49] WenhaiLin opened #10089 "Label lose the precision of dimensions"

[2015-01-20 04:16] stammen commented on #10080
OK. Thanks!

[2015-01-20 04:19] fqamic opened #10091 "setDisplayStats (false) moving fasttmx Crash"
Before 3.4rc0 version has disappeared BUG reproduced on 3.4rc1 again.
In cpp-tests, AppDelegate.cpp file director-> setDisplayStats (false), after TileMapTest2.cpp use fasttmx, moving scene, when there does not appear in the original part of the map screen, it will collapse. The BUG in the previous version have been fixed amazing.

Collapse at:
CCTextureAtlas.CPP 644 line
glDrawElements (GL_TRIANG

[2015-01-20 05:35] WenhaiLin commented on #10089
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10090

[2015-01-20 05:42] WenhaiLin opened #10092 "FlatBuffersSerialize: Memory leak cause by not freed the data from FileUtils::getInstance()->getFileData"

[2015-01-20 05:43] WenhaiLin commented on #10092
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10064

[2015-01-20 05:50] #10092 closed, assigned to nobody

[2015-01-20 05:59] fqamic commented on #10091
sorry!
I found 3.4rc0 The cpp-tests is also a problem, but for my own projects in 3.4rc0 does not crash.

[2015-01-20 06:09] mooncode163 opened #10093 "RenderTexture 如何保存指定区域的图像"
如题，有例子最好啦 谢谢

[2015-01-20 06:12] minggo commented on #10093
Please discuss similar topic in the forum: http://discuss.cocos2d-x.org/.
Thanks.

[2015-01-20 06:12] #10093 closed, assigned to nobody

[2015-01-20 06:15] mooncode163 opened #10094 "RenderTexture 如何保存指定区域的图像"
如题，有示例代码最好，谢谢！

[2015-01-20 06:24] sunzhuoshi commented on #8964
hi @KrissMu @ondesly
Sorry for such a late response.
I wrote SSE code in cocos2d-x, and I'm trying to reproduce and fix it.
Unfortunately, I still can't reproduce the issue by now :(

cocos2d-x version: 3.3
test app: cpp-tests
Dev env: MacOS X
Device: Samsung P5200, Asus K011
Android: 4.2.2
NDK: r10c

Would you please share your test apks to me? my email is sunzhuoshi#gmail.com.
thanks a lot

[2015-01-20 06:50] WenhaiLin opened #10096 "TextBMFont should refresh content size when update the font resource"

[2015-01-20 06:56] diamond-msc commented on #10084
engine: c++ cocos2d.x.version: cocos2d-x 3.4 fea492ab4fef3deca96f2c47534038243ea58b40
device/version: Android/cm_acclaim/acclaim:4.3.1(rooted http://en.wikipedia.org/wiki/Nook_Tablet#16_GB_version)
reproduce: Seen on my project, that crashed after updating cocos2d-x, I'm going to check if it occurs on a test project.

[2015-01-20 07:06] WenhaiLin commented on #10096
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10072

[2015-01-20 07:12] super626 opened #10098 "anchor point has not effect to rotation"
It always rotate along (0, 0), the anchor point does not work at all.

[2015-01-20 07:27] diamond-msc commented on #10084
Reproducible with `android-build.py -p17 -n -j8 cpp-empty-test`
App crashes immediately on startup.

[2015-01-20 07:28] minggo commented on #10084
I think it is fixed in v3.4rc1. Because we tested before releasing.
Could you please have a try?

[2015-01-20 07:38] minggo commented on #10091
@fqamic
How to reproduce it?

[2015-01-20 07:48] wasedaigo commented on #9977
Experiencing the same issue, this was working before.

[2015-01-20 07:51] dabingnn opened #10105 "Memory leak may exists in texturecache in version 3.2"
To be tested and confirmed
Memory leaks may exists on win32 and android

[2015-01-20 07:51] ondesly commented on #8964
Hi @sunzhuoshi
I checked build with r10c. It works fine.
It seems that you should use r10d to reproduce this issue.

[2015-01-20 07:59] minggo commented on #10084
What's your Android device tested on?

[2015-01-20 08:06] geron-cn opened #10107 "binding AnimationInfo to lua"
need add AnimationInfo (it is a struct in CCActionTimeline.h) into cocos2dx_studio.ini line:33

[2015-01-20 08:11] #9537 closed, assigned to samuele3hu

[2015-01-20 08:15] super626 opened #10108 "Animate3D::setSpeed has not effect when it is used in Sequence"

[2015-01-20 08:17] fqamic commented on #10091
@minggo
![qq20150120-1](https://cloud.githubusercontent.com/assets/7044155/5813911/aa51ad60-a0bf-11e4-9f0e-bbc63454cb76.png)
![qq20150120-2](https://cloud.githubusercontent.com/assets/7044155/5813913/abab521a-a0bf-11e4-81fd-776c0b5046e9.png)
![qq20150120-3](https://cloud.githubusercontent.com/assets/7044155/5813923/c0913cda-a0bf-11e4-941c-810cf7755df7.png)

crash!
version 3.4rc1 cpp-tests

[2015-01-20 08:34] diamond-msc commented on #10084
Still reproducible on https://github.com/cocos2d/cocos2d-x/tree/cocos2d-x-3.4rc1

[2015-01-20 08:36] zilongshanren opened #10111 "ui::ImageView toggle Scale9Enabled property is not working properly."

[2015-01-20 08:36] diamond-msc commented on #10084
Nook tablet 16 GB ARM Cortex-A9, 2x 1.00GHz (TI OMAP 4430) • 1GB • PowerVR SGX540

[2015-01-20 08:37] super626 commented on #10047
hi @eonghk
Currently we do not support so many coordinates, 4 coordinates actually. Otherwise, it may crash on some android devices. Can you have your artist remove some unused coordinates?

[2015-01-20 08:44] zilongshanren commented on #9893
@priyanka91
Cocos2d-x 2.2.3 is not maintained now.
@minggo Should we skip this issue?

[2015-01-20 08:50] zilongshanren commented on #9893
@minggo  @priyanka91
I have tested it on V3.4rc1 and it is working properly.

[2015-01-20 09:06] eonghk commented on #10047
Hi @super626
Could you please explain "coordinates"? The artist doesn't understand what "coordinates" is. He uses 3dsMax for modeling. Will "Reset Xform" work on this issue?

[2015-01-20 09:10] sunzhuoshi commented on #8964
@ondesly  thanks and you mean with SSE on or off?

[2015-01-20 09:19] ondesly commented on #8964
@sunzhuoshi
Build with r10c works with SSE on and off.
Build with r10d works only with SSE off.

Target SDK = 21
cocos2d-x = 3.3
Device = Asus ME302C, Android 4.3

[2015-01-20 09:21] fqamic commented on #10091
@minggo
This seems to have a relationship and Label.
I found that if you do not have any Label on the current screen you can see, it will not collapse.
Hope that helps

[2015-01-20 09:24] Yehsam23 opened #10112 "[Android] Some device will crash on armeabi-v7a lib"
Version: 3.3 and 3.4rc0
NDK version: r10c
device: ASUS Eee Pad Transformer TF101
reproduce: change cpp-tests Application.mk
and Add
APP_ABI := armeabi-v7a

It will only build armeabi-v7a lib.

Some device will crash if only has armeabi-v7a lib.
But it works fine at cocos2dx v2.2

Please help us

D/JniHelper( 9668): JniHelper::setJavaVM(0xd0c3e0), pthread_self() = 1074152584
D/main    ( 9668): coco

[2015-01-20 10:11] WenhaiLin commented on #8775
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10114

[2015-01-20 13:05] meiry commented on #10054
Ok i did little debugging , the problem remain by the way .
in function :

[code]

void Ref::release()
{
    CCASSERT(_referenceCount > 0, "reference count should greater than 0");

the _referenceCount  is 2
but when it out of the scop of this function things get messed up

something strange is going on here :

[code]

[2015-01-21 01:37] #10096 closed, assigned to nobody

[2015-01-21 01:45] #8775 closed, assigned to WenhaiLin

[2015-01-21 01:59] sunzhuoshi commented on #8964
@ondesly thanks for your valuable information, I'll check and try to fix it.

[2015-01-21 02:04] #10098 closed, assigned to super626

[2015-01-21 02:11] super626 commented on #9767
@maltium

Sorry, I can not download the FBX. Can you send me via email. tony.yang@chukong-inc.com
Thanks.

[2015-01-21 02:12] samuele3hu commented on #10107
The related api as follows were all bound to lua:
virtual void play(std::string animationName, bool loop);
virtual void addAnimationInfo(const AnimationInfo& animationInfo);
virtual void removeAnimationInfo(std::string animationName);
virtual bool IsAnimationInfoExists(const std::string& animationName);
virtual AnimationInfo getAnimationInfo(const std::string& animationName);

In the current mecha

[2015-01-21 02:13] #10068 closed, assigned to nobody

[2015-01-21 02:35] #9756 closed, assigned to natural-law

[2015-01-21 02:53] WenhaiLin commented on #9955
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10127

[2015-01-21 03:00] dabingnn commented on #10084
@diamond-msc Could you please test the latest version of cocos2d-x v3 branch?
It seems that this problem is similar to #10079

[2015-01-21 03:03] #10107 closed, assigned to samuele3hu

[2015-01-21 03:09] #9955 closed, assigned to WenhaiLin

[2015-01-21 03:18] #10089 closed, assigned to WenhaiLin

[2015-01-21 03:19] #10079 closed, assigned to dabingnn

[2015-01-21 05:30] xzhixian opened #10133 "需要多行输入框"
1.需要输入的文字能多行显示
2.输入框的文字能改变样式

[2015-01-21 05:43] zilongshanren opened #10135 "Slider progress bar render error when toggle scale9 state."

[2015-01-21 06:10] #10135 closed, assigned to nobody

[2015-01-21 06:11] #10108 closed, assigned to nobody

[2015-01-21 06:43] minggo opened #10141 "SpriteFrameCache::addSpriteFramesWithFile may cause crash if plist file doesn't exist"
It will cause crash if
- a.plist doesn't exist
- a.png exist

[2015-01-21 06:43] #10141 closed, assigned to minggo

[2015-01-21 07:00] minggo commented on #10091
@fqamic
Would you try it.
It is fixed in #10138.

[2015-01-21 07:07] #9893 closed, assigned to zilongshanren

[2015-01-21 07:09] #10091 closed, assigned to dabingnn

[2015-01-21 07:10] #10111 closed, assigned to nobody

[2015-01-21 07:10] #10088 closed, assigned to nobody

[2015-01-21 07:11] #9868 closed, assigned to WenhaiLin

[2015-01-21 07:12] #9506 closed, assigned to nobody

[2015-01-21 07:12] #9384 closed, assigned to chengstory

[2015-01-21 07:20] #9747 closed, assigned to zilongshanren

[2015-01-21 07:22] #10015 closed, assigned to nobody

[2015-01-21 07:23] #9749 closed, assigned to dabingnn

[2015-01-21 07:27] zilongshanren opened #10145 "When ui::Button pressActionEnabled is true, the button renderer's scale is wrong"
And the title label is also have the same issue when ignoreContentSize is false and only use normal state texture with pressActionEnabled set to true.

[2015-01-21 07:28] zii commented on #10063
UI里是这样的, 可能是设计上的选择. 感觉应该增加相对位置和绝对位置的概念.

[2015-01-21 07:51] dabingnn commented on #10054
It was fixed in pull request #10115

[2015-01-21 07:51] #10054 closed, assigned to nobody

[2015-01-21 07:54] dabingnn commented on #10056
I think it is similar as #10054, could you please try the latest v3 branch?

[2015-01-21 08:20] WenhaiLin commented on #9730
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10149

[2015-01-21 08:23] #9730 closed, assigned to WenhaiLin

[2015-01-21 08:27] meiry commented on #10056
by try the latest v3 branch? you mean to check out from git or download the v3.3 zip  again ?

[2015-01-21 08:37] dabingnn commented on #9968
Because Neon support can not be checked when compiling the code.
So the solution for neon on android is that the neon code will always be include in the apk file, and when code is running, CPU features is checked, if neon is enabled, math computation will use NEON, or C implementation will be used.
Please refer to
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/math/MathUtil.cpp

Could you plea

[2015-01-21 08:56] minggo commented on #9968
[this document](http://www.kandroid.org/ndk/docs/CPU-ARM-NEON.html) says

So we can not use `LOCAL_ARM_NEON := true` to select neon version of math library.

[2015-01-21 09:02] minggo commented on #10055
@meiry
Thanks for doing QA for cocos2d-x.

May i ask why?
I am just interested with it.

[2015-01-21 09:05] minggo commented on #9968
@ondesly
Is it work correctly if you comment `LOCAL_ARM_NEON := true`?
Could you please help to check it because we don't have the devices you mentioned.

[2015-01-21 09:11] super626 opened #10151 "Callback in Animate3D is needed"
Users should be able to set callbacks at specific frame in the Animate3D.

[2015-01-21 09:13] minggo commented on #10112
I think it is related to #9968.

[2015-01-21 09:17] dabingnn commented on #10056
If you have a git repo for cocos2d-x, I think you can test it by checkout the latest code of v3 branch.

[2015-01-21 09:18] #10084 closed, assigned to dabingnn

[2015-01-21 09:19] dabingnn commented on #10055
@meiry, I found there are some error `Can not create file C:/Users/meiry/AppData/Local/cpp-tests/CppTests/AssetsManagerExTest/scene1/Images/Plitvice_National_Park.jpg.temp: errno 2`
Have you turned off internet access?

[2015-01-21 09:24] samuele3hu commented on #10065
#10146 fixed this issue further.

[2015-01-21 09:31] meiry commented on #10055
@minggo
I love the framework . and i try to contribute to it in my way as much as i can
part of it is to test the new releases . so i know that finding bugs early will help .
please see
https://github.com/meiry?tab=repositories

[2015-01-21 09:31] WenhaiLin commented on #9852
@elr0nd I can't reproduce this issue. Do you know how to reproduce this issue easier ?

Engine version: the latest code on github
Device to test: Nexus 9
Android version: 5.0

[2015-01-21 09:31] minggo commented on #10025
In new audio, you can use `setFinishCallback` to play effect again in call back functions.

[2015-01-21 09:31] meiry commented on #10055
@dabingnn
no internet is running all time , does it try to download something ?

[2015-01-21 09:33] minggo commented on #10055
@meiry
Thanks. You are appreciated.
Your work is helpful for the community.

[2015-01-21 09:43] WenhaiLin commented on #9499
@unkiwii What's the engine version? You can modify FontAtlas::CacheTextureWidth and FontAtlas::CacheTextureHeight in cocos\2d\CCFontAtlas.cpp

[2015-01-21 10:05] meiry commented on #10056
@dabingnn @minggo
now that i thinking about it , how can i test this bug in v3 ?
it  didn't Happened in v3.3 so the results will be the same ...

[2015-01-21 10:08] minggo commented on #10056
@meiry
Yep, it is brought in v3.4 rc1.
There is a shader that use more than 8 attributes.

I think the best way is to use [git cherry-pick](http://git-scm.com/docs/git-cherry-pick) to merge that pull request to have a try.

[2015-01-21 10:10] Yehsam23 commented on #9968
I comment LOCAL_ARM_NEON := true....then i works fine on my device.

My device is Asus Transformer TF101.

So...we can comment this?

[2015-01-21 10:10] Yehsam23 commented on #10112
Yes~~

Thanks you

[2015-01-21 10:11] WenhaiLin opened #10155 "[android-cpptests]Background transparent when foreground-background exchanging"
Device to test: Nexus 9
Android version: 5.0.1

[2015-01-21 10:13] minggo commented on #9968
@Yehsam23
Yep, it is safe to comment this line.
We use it to select neon version of math library.
As you know, neon instructions are more efficient.

[2015-01-21 10:27] Yehsam23 commented on #10112
Please close this issue~~~

thanks a lot

[2015-01-21 10:28] #10112 closed, assigned to nobody

[2015-01-21 10:37] dabingnn commented on #9968
@Yehsam23
I submitted a pr #10157，it works on armv7 with neon support, could you try it?
I don't know if it works on armv7-a without neon

[2015-01-21 10:43] elr0nd commented on #9852
Hi, i will try to do, in the next couple of days, an example project which produces this behaviour, ok?

Thanks for your time

[2015-01-21 11:23] meiry commented on #10056
@minggo
Can you please give me the right commands i need to execute in git shell by order
so i could do it right

[2015-01-21 11:26] minggo commented on #10056
`git cherry-pick 79eee9b`
But it may cause conflict.

[2015-01-21 11:27] minggo commented on #10056
If you have already cloned cocos2d-x, then the convenient way is to update to latest codes.

[2015-01-21 11:30] meiry commented on #10056
So if i understand it right  to start from clean / fresh
1. git clone  https://github.com/cocos2d/cocos2d-x.git
2. git cherry-pick 79eee9b

[2015-01-21 11:40] minggo commented on #10056
You didn't clone cocos2d-x?
How did you test?
Download released zip file?

[2015-01-21 11:54] dabingnn commented on #10055
@meiry Yes, it will download something. We will try to reproduce the bug, it seems that the files are always downloaded successfully in our previous test.

[2015-01-21 11:56] meiry commented on #10056
i download the zip

[2015-01-21 11:59] minggo commented on #10056
Got it.

So i think you should do like this

git clone https://github.com/cocos2d/cocos2d-x.git
cd cocos2d-x
./download-deps.py

Then you can have a try.

[2015-01-21 12:01] meiry commented on #10055
can you tell me what this cpp -test supposed to download ?
it didn't download any thing before .

[2015-01-21 12:20] ondesly commented on #9968
@minggo
I already released build without LOCAL_ARM_NEON := true. It works fine.
I haven't such device now, but I will get it soon and check @dabingnn solution.

[2015-01-21 12:21] minggo commented on #9968
Thanks @ondesly .

[2015-01-21 12:57] meiry commented on #10055
well now it crashing when i just guessing here it try to re download the images again
here is the output :

[code]

[2015-01-21 13:01] meiry commented on #10056
@minggo
You can close the bug its working now

[2015-01-21 13:02] meiry commented on #10054
@minggo
you can close it also its working great

[2015-01-21 13:05] minggo commented on #10056
Thanks @meiry.

[2015-01-21 13:05] #10056 closed, assigned to nobody

[2015-01-21 13:09] ghost commented on #10055
@meiry Does your folder "C:/Users/meiry/AppData/Local/cpp-tests/CppTests" empty? Delete it and test again?

[2015-01-21 13:16] unkiwii commented on #9499
@Dhilan007 I fixed here by making FontAtlas::CacheTextureHeight and FontAtlas::CacheTextureWidth non-const and so I can modify them from my game. In the build we have (cocos2d-x-3.2) the values are 512 for both, in some devices (sd) that is a fine value but in other devices (hd) that size is too short and we use 1024, but as we don't want textures so big in small devices we still use 512 as the de

[2015-01-21 13:35] meiry commented on #10055
1. i deleted the dir
   2.enterd the Extentions example  then AssentsManagerExt  i see the progress bar starts to increase
2. before it ends i click MainManu button and im getting:
   ![assetsmanagerextest_2](https://cloud.githubusercontent.com/assets/1107316/5836824/8c02b7d2-a182-11e4-84c2-43876a8a8914.png)

i know this is different test
4. the images continue to download in the background and i

[2015-01-21 13:35] ghost opened #10161 "[WP8]cpp-empty-test and cpp-tests flash back on both simulator and device"
DXGI WARNING: Process is terminating. Using simple reporting. Please call ReportLiveObjects() at runtime for standard reporting. [ STATE_CREATION WARNING #0: ]
DXGI WARNING: Live Producer at 0x0059ECD8, Refcount: 5. [ STATE_CREATION WARNING #0: ]
DXGI WARNING:   Live Object at 0x005A1C48, Refcount: 3. [ STATE_CREATION WARNING #0: ]
DXGI WARNING: Live                         Object :      1 [ STATE

[2015-01-21 13:39] minggo commented on #10161
@stammen
Could you please help to fix it?
Thanks.

[2015-01-21 13:48] minggo commented on #10055
Yep, it will download resources in a separate thread.

[2015-01-21 14:02] WenhaiLin commented on #9666
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10162

[2015-01-21 14:21] stammen commented on #10161
@huangshiwu Would you please provide more detail? What is "flash back"? Thanks.

[2015-01-21 14:57] ghost commented on #10161
@stammen It means crash at starting the app.I try to debug and find it crash in GLProgramCache::loadDefaultGLProgram --- case kShaderType_PositionTexture_uColor  --- GLProgram::initWithByteArrays --- initWithPrecompiledProgramByteArray --- CCPrecompiledShaders::getInstance()->loadProgram  --- glProgramBinaryOES

[2015-01-21 15:40] ghost commented on #10161
@stammen It seems I found the reason, we change the shaders in pr #10115 and do not update the precompiledshader for WP8, I will update it.

[2015-01-21 18:53] stammen commented on #10161
Fixed in pull request https://github.com/cocos2d/cocos2d-x/pull/10163

[2015-01-21 19:28] krithikb007 commented on #8533
Any update on when this issue will be resolved ?

[2015-01-21 19:33] mariusz102102 commented on #8533
I am interested too....

Regards
Mariusz

-----Original Message-----
From: "krithikb007" notifications@github.com
Sent: ‎1/‎21/‎2015 20:28
To: "cocos2d/cocos2d-x" cocos2d-x@noreply.github.com
Cc: "mariusz102102" mariusz102102@gmail.com
Subject: Re: [cocos2d-x] Images Getting Streched in the RenderTexture afterrepeated visits  (#8533)

Any update on when this issue will be resolved ?
—
Reply to thi

[2015-01-21 20:57] diamond-msc commented on #10084
verified :+1:

[2015-01-22 01:36] #10161 closed, assigned to nobody

[2015-01-22 01:48] #9666 closed, assigned to WenhaiLin

[2015-01-22 01:55] Yehsam23 commented on #9968
@dabingnn
I try your pr #10157 , it works on my device (ASUS TF101).
Thanks a lot.

[2015-01-22 01:57] dabingnn commented on #9968
Thanks.

[2015-01-22 01:59] #9968 closed, assigned to dabingnn

[2015-01-22 03:21] ahlwong commented on #8668
Sorry for the delay in response, I've been really busy with our current project.

The visibleOrigin doesn't seem to fix it. For some reason, the RenderTexture is still capturing too much. It's capturing > 527px and then distorting the vertical scale of the resulting texture to fit. However, renderTexture->getSprite()->getTextureRect() has the correct size.

Here's the output:
01-21 18:46:11.589: D

[2015-01-22 03:58] WenhaiLin commented on #9817
@codemzy Do you know how to reproduce this issue easier ?

[2015-01-22 06:08] samuele3hu opened #10168 "Update Lua LayoutComponent Test case of UIEditTest"

[2015-01-22 06:09] WenhaiLin opened #10169 "[win32-luatests]LabelTest-->LabelAtlas:The string of LabelAtlas no longer refreshed after restart this test case."

[2015-01-22 06:11] #10168 closed, assigned to nobody

[2015-01-22 06:11] dabingnn commented on #10168
Sync test case to be compatible with studio.

[2015-01-22 07:03] ryukbk opened #10170 "When building cpp-tests with VS2013, the Chinese font name generates errors"
Hello, when building cpp-tests with VS2013, the Chinese font name in the code generates errors.

[code]

...

https://github.com/cocos2d/cocos2d-x/blob/32632896800e573281170f26a4fd6b324bc09023/tests/cpp-tests/Classes/LabelTest/LabelTestNew.cpp#L600
https://github.com/cocos2d/cocos2d-x/blob/32632896800e573281170f26a4fd6b324bc09023/tests/cpp-tests/Classes/LabelTest/LabelTestNew.cpp#L1068

The commen

[2015-01-22 07:10] WenhaiLin opened #10171 "[android]CppTests-->Renderer-->SpriteBatchTest:Touch screen might cause rendering order disorder when the screen have numerous sprites"

[2015-01-22 07:53] zilongshanren opened #10174 "ui::Slider scale9 progress renderer is wrong"

[2015-01-22 08:09] dabingnn opened #10176 "[linux ios etc] outline is wrong for sprite3D"
![screen shot 2015-01-22 at 3 55 49 pm](https://cloud.githubusercontent.com/assets/4794489/5852304/60f01daa-a24f-11e4-9fa1-111cf64c812f.png)

[2015-01-22 08:13] dabingnn commented on #10171
linux has this bug too.

[2015-01-22 09:59] #10174 closed, assigned to zilongshanren

[2015-01-22 22:20] nickav opened #10178 "fix physics world attached to scene (with scaling)"
When a Layer of Nodes with physics bodies starts to resize (change scale), the physics world remains fixed on the scene.

This behavior is counter intuitive for someone using the physics world and trying to create dynamic camera effects in a game. As it has been discussed already (in https://github.com/cocos2d/cocos2d-x/pull/5493), a PhysicsLayer doesn't make sense because it is going to be remove

[2015-01-22 22:38] kompjoefriek commented on #8234
I don't think this problem exists any longer. Current implementations of widgetFromJsonDictionary do not have this error.
Please see: /cocos/editor-support/cocostudio/CCSGUIReader.cpp line [534](https://github.com/cocos2d/cocos2d-x/blob/38b0d25bc5823f9a0bd4c8ad1f0effeaedbe86e0/cocos/editor-support/cocostudio/CCSGUIReader.cpp#L534) and [1449](https://github.com/cocos2d/cocos2d-x/blob/38b0d25bc5823f

[2015-01-23 02:08] dabingnn commented on #10176
@darkdukey @ricardoquesada @super626
This issue does not exist in 3.3final and 3.4beta0, the outline error plane is a transparent one. I think it is a bug of renderer in current v3.4 branch.

[2015-01-23 03:27] mooncode163 opened #10181 "RenderTexture 如何保存透明png"
如题

[2015-01-23 03:45] zilongshanren opened #10183 "call ui::TextField getContentSize in insert or delete event callback ,the result is wrong"

[2015-01-23 04:02] #9503 closed, assigned to super626

[2015-01-23 04:14] pandamicro opened #10185 "Improve SkeletonRenderer for scripting"
![d 2k x0n gnq qd8 9rg 0c](https://cloud.githubusercontent.com/assets/632460/5869721/8ec17860-a2f8-11e4-8c97-b14d0225a53e.jpg)

If we want to remove the texture: In C++, we can pass `nullptr`, but in lua or js, passing `null` won't be accepted by the binding function. What we can do is suggested in the picture, when receiving empty string, just use `nullptr` instead.

[2015-01-23 06:07] samuele3hu opened #10186 "setSDKVersion of facebookagent would trigger crash on the iOS platform"

[2015-01-23 06:57] #10186 closed, assigned to nobody

[2015-01-23 07:05] super626 opened #10190 "3d objects and 2d objects overlap"
The cpp-tests->Node: Sprite3D is something like this. The Menu and 3d objects overlap each other. It looks bad.

![tmp7262cc9a](https://cloud.githubusercontent.com/assets/4159090/5870921/4f85e752-a308-11e4-8f3e-7098abe1bc65.png)

[2015-01-23 07:20] minggo commented on #10080
@stammen
It is updated.

[2015-01-23 07:20] #10065 closed, assigned to samuele3hu

[2015-01-23 07:39] samuele3hu commented on #10169
This issue was fixed in the https://github.com/cocos2d/cocos2d-x/pull/10192. @Dhilan007,you could check it later on.

[2015-01-23 07:54] #10169 closed, assigned to samuele3hu

[2015-01-23 08:01] chengstory opened #10193 "Armature::create("xxx") too slow"
Armature::create("animation name") is too slow(1ms ~ 10ms), even if Developer have called ArmatureDataManager::getInstance()->addArmatureFileInfo(xxxx)

[2015-01-23 08:35] minggo opened #10194 "Fadeout action can not work if duration is 0"
Can refer to https://github.com/cocos2d/cocos2d-html5/issues/2488 for detail information.

[2015-01-23 10:01] fusijie opened #10197 "[FantasyWarrior3D] Shadow bug."
All of the shadows in the game may be blink sometimes, and the shadow of the ice trail cover the ice trail itself.

[2015-01-23 10:03] fusijie opened #10198 "[FantasyWarrior3D] Animation speed bug."
All of the animation speed of the sprite3D is wrong.

[2015-01-23 10:04] fusijie opened #10199 "[FantasyWarrior3D] Billboard bug."
The billboard sometimes does not face to current camera.

[2015-01-23 10:08] fqamic commented on #10091
@minggo
Can, thank you very much!

[2015-01-23 11:09] stammen commented on #10080
Thanks! websockets are now working for WP8.

[2015-01-23 11:09] #10080 closed, assigned to zilongshanren

[2015-01-23 11:14] LotfiAghel commented on #9546
i'm install glfw3 manuly and fixed that problem in ubuntu 14 64bit
please fallow this link
http://stackoverflow.com/questions/17768008/how-to-build-install-glfw-3-and-use-it-in-a-linux-project

[2015-01-23 11:18] chengstory opened #10201 "【mac】修复：导出的合图文件包含灰度图片，灰度图片边花图。"
http://punchbox.info:3000/issues/13454

[2015-01-23 18:00] darkdukey commented on #10197
Can you create a test-case that can easily reproduce this? otherwise it's going to take time

[2015-01-23 18:01] darkdukey commented on #10198
@super626 can you look into this? also we need test-case for this.

[2015-01-24 01:57] joewan commented on #10193
we have suffered similar problems a lot.

[2015-01-24 01:58] #10057 closed, assigned to nobody

[2015-01-24 08:45] WenhaiLin commented on #9916
Hi @ginobean I try to improved the parsing performance of bitmap fonts, look at  https://github.com/cocos2d/cocos2d-x/pull/10203

[2015-01-24 14:05] ginobean commented on #9916
Hi LinWenhai,

Improving the performance by 250-300% would probably _not_ adequately resolve the issue.

Below is the change that I made to fix the issue. If memory serves me correctly, the below change should yield performance much better than 250-300%:

From what I saw of the cocos2d-x 3.x code, you could probably apply it almost verbatim to CCFontFNT.cpp:

[code]

[2015-01-24 14:10] ginobean commented on #9916
BTW, below is the fix I applied to the 2.1.4 version of cocos2d-x. From what I saw of the cocos2d-x 3.x code, you could probably apply it almost verbatim to CCFontFNT.cpp:
[code]

[2015-01-24 14:52] WenhaiLin commented on #9916
Hi @ginobean ,the parsing performance just improved 118%[35.9s-->16.4s] after applied your patch. It's no better than my patch.

[2015-01-24 15:02] ginobean commented on #9916
What's the size of the .fnt file being parsed ? In other words, how well does your solution scale ?
If you double the size of the .fnt file, how does your solution compare, in terms of performance ?
For instance, try a 100 kilobyte .fnt file versus a 200 kilobyte .fnt file and see how the times compare.

[2015-01-24 15:24] WenhaiLin commented on #9916
my test case:

[code]

The most recent test result with markerFelt.fnt[146kb]：
1.the latest version of cocos2d-x v3 branch：35.32s
2.applied your patch:17.12s
3.applied my patch:8.73s

Update:
The most recent test result with arial16.fnt[22kb]：
1.the latest version of cocos2d-x v3 branch：1.292s
2.applied your patch:0.954s
3.applied my patch:0.267s

[2015-01-24 15:31] WenhaiLin commented on #9916
If performance matters,i suggest you should consider using the binary version of bitmap font.

[2015-01-24 16:07] ginobean commented on #9916
Assuming correctness, obviously your patch seems to be the way to go.

Go ahead and close this issue out if you've tested it to your satisfaction. I don't want to close it myself since I haven't tested your patch myself.

Thanks for looking into it :).

[2015-01-25 10:57] otakuyu opened #10204 "mkdir() Permission Denied when using AssetManager on Mac"
When using AssetManagerEx on mac machine, at line 1134 of CCFileUtills.cpp, mkdir() throw Permission Denied error when downloading version manifest file.

[2015-01-25 11:51] sss316 commented on #10063
另外系统字label在3d场景中显示不出来，ttf可以。希望这个尽快支持，因为我想在模型上显示玩家名字，名字是玩家输入

[2015-01-25 12:05] sss316 commented on #10063
相对位置一定要保留啊，多年的开发习惯了

[2015-01-25 12:51] ghost opened #10205 "Crash when loading cocostudio json files with null or empty fontName"
Call this function:
cocostudio::GUIReader::getInstance()->widgetFromJsonFile(filename);

If the specified json file contains a "TextField" with the property "fontName" set to either null or "", it prints a could not load file error and then crashes.

[2015-01-25 13:11] elr0nd commented on #9852
Hi @Dhilan007, I have created an example project which causes this bug, you can find it here: https://github.com/elr0nd/TestNewAudioEngine.

It has two buttons, one for background music and another for sound effects. If you click on the sound effects button, it launches a scheduler which plays a sound each 0.05 seconds, after some time (in my Galaxy S is about one minute), the bug shows in the and

[2015-01-25 21:28] otakuyu commented on #10204
Set the storagePath to /Users/username/........ fixed the problem

[2015-01-25 21:28] #10204 closed, assigned to nobody

[2015-01-26 01:46] WenhaiLin commented on #9852
@elr0nd Thanks,i will test it today.

[2015-01-26 01:50] zilongshanren commented on #10031
@daneric
How about this issue now?

[2015-01-26 01:51] dabingnn commented on #10063
@sss316
Can you give a detailed description of bug, which version has the bug?
Could you create a short test case for the bug?

[2015-01-26 02:00] WenhaiLin commented on #10194
@minggo Fadeout action work normal if duration is zero. Test base on the latest code on github

[2015-01-26 02:02] minggo commented on #10194
Ok. Thanks.

[2015-01-26 02:02] #10194 closed, assigned to WenhaiLin

[2015-01-26 02:37] super626 opened #10207 "Bug on GLProgram::setUniformLocationWith3fv"
It will crash when we modify the config file to set the max directional/point/spot light to 3. It fails to pass the light array to the shader.

However, it works if we modify the MeshCommand::setLightUniforms like this,
the function call setUniformLocationWith3f to glUniform3fv

There may be bugs on the hash cache of GLProgram::setUniformLocationWith3f.

[2015-01-26 05:54] #9155 closed, assigned to WenhaiLin

[2015-01-26 06:45] WenhaiLin commented on #9852
@elr0nd I test your example project  on nexus7,mx 3 and nexus 9,there is no error message as you say.It's work normal on mx3,but not getting any volume on nexus7.

I then replace the count-points.ogg file with the other mp3 file,it's work normal on all devices.

[2015-01-26 06:48] zilongshanren opened #10210 "ui::Scale9Sprite when toggling Scale9 state, some position information will lose."

[2015-01-26 06:59] WenhaiLin commented on #9852
@elr0nd I converts the count-points.ogg file to mp3 format and test again, it work noamal on all devices. I think this issue have a direct relationship with device.

[2015-01-26 07:03] #10145 closed, assigned to nobody

[2015-01-26 07:04] zilongshanren commented on #9977
@wasedaigo
I will take a look at this issue.
Thanks for confirm this issue.

[2015-01-26 07:07] zilongshanren commented on #9959
@Yehsam23
Thanks for reporting this issue.

[2015-01-26 07:12] super626 opened #10212 "Transparent 3d sprite + 2d sprite can not work correctly"
There are transparent 3d girl and 2d circle on the scene. The girl or circle stay on top alternatively. Look the girl's legs.

![tmp736df607](https://cloud.githubusercontent.com/assets/4159090/5896278/d01b7518-a564-11e4-9e1e-4ebfbd14bc38.png)
![tmp0f1fd2c7](https://cloud.githubusercontent.com/assets/4159090/5896283/ed87a82e-a564-11e4-94df-d4a842c2bac6.png)

[2015-01-26 07:13] liamcindy opened #10213 "Different object has different event in listview"
[code]

Sprite在ListView的渲染区之外，滚动区之内，点击Sprite是不可以拖动的；
UIBUtton在ListVIew的渲染区之外，滚动区之内，点击UIBUtton是可以拖动的；

[2015-01-26 07:14] liamcindy commented on #10213
@andyque  Please check this problem, thanks.

[2015-01-26 07:19] zilongshanren commented on #9959
@Yehsam23
I have tested on PhysicsTest, and it indeed exists.
@Dhilan007 please take a look at this issue, thanks.

[2015-01-26 07:27] elr0nd commented on #9852
Yes, I think the same, it depends on the device as you have checked... but it is strange, it happens in my three devices... let it go and I will continue testing. @Dhilan007, do you recommend the use of mp3 above ogg?

[2015-01-26 07:34] WenhaiLin commented on #9852
@elr0nd I think it's need test on more devices,but i only have a few devices.

[2015-01-26 07:39] WenhaiLin commented on #9852
@elr0nd I test again with other ogg file from cpp-tests, it's work normal on all my devices.

[2015-01-26 07:42] minggo commented on #10212
Related test case is #10211

[2015-01-26 07:56] minggo opened #10214 "Release note should include cocos package manager description"

[2015-01-26 08:38] masterhou commented on #10207
I found glUniform**v , have a cache, buffer length is stable at first, but when cache data length is changed, may larger than last time, memcpy will overflow.

[2015-01-26 08:53] zilongshanren commented on #10213
@liamcindy @minggo
AFAIK, the sprite and other node types are not supported touch handling on default. So if studio want to achieve dragging of these node type, please add custom touch event listener to them.

Thanks.

[2015-01-26 09:01] super626 commented on #10198
ok

[2015-01-26 09:23] liamcindy opened #10216 "ScrollView drag event will effect it's parent drag event"
[code]

scrollView 嵌套 scrollView的时候，子对象scrollview内部滚动的时候，事件会传递到父级ScrollVIew，会出现级联滚动的情况；

[2015-01-26 09:24] liamcindy commented on #10216
@andyque Please check is this a problem, thanks.

[2015-01-26 09:44] zilongshanren commented on #10216
@liamcindy
Please call `setPropagateTouchEvents(false)` of the inner scrollView

[2015-01-26 09:58] #10210 closed, assigned to zilongshanren

[2015-01-26 10:24] masterhou opened #10217 "Many Audios are playing together, will crash"
10+ audios are playing in battle, will crash.
mp3 44100
device: ipad2

[2015-01-26 20:16] zawasp opened #10221 "Unable to load CocoStudio files"
With the latest commits, I am unable to load files published with the current CocoStudio version available for download (2.1beta from cocos2d-x.org). I get this error at runtime:

`Assert failed: The reader build id of your Cocos exported file() and the reader build id in your Cocos2d-x(2.1.0.0) are not match.
Please get the correct reader(build id )from http://www.cocos2d-x.org/filedown/cocos-rea

[2015-01-26 20:46] diamond-msc opened #10222 "OpenGL error 0x0501 on Android"
`cpp-empty-test` log shows 2 OpenGL errors on my Android 4.3.1 (Nook tablet 16 GB ARM Cortex-A9, 2x 1.00GHz (TI OMAP 4430) • 1GB • PowerVR SGX540):

[code]

on another project I see a lot of those (like each frame) scrolling by:

[code]
### bisect:

[code]

[2015-01-27 00:20] stevetranby opened #10224 "Feature Request for setting Mouse relative or exclusive mode."
Please consider adding support for taking exclusive control of mouse like some games and Virtual Machine hosts do where hitting ESC will release the mouse. If cocos uses SDL2 for input we could just get better hooks into the underlying feature set?

The goal is to prevent the mouse from exiting the screen while also supporting the ability to set the cursor position of the onscreen mouse whether th

[2015-01-27 00:47] darkdukey commented on #10199
@super626 can you take a look at this one? I created a test case for it.

[2015-01-27 01:08] darkdukey commented on #10176
I briefly investigated this. It's because depth write was off when rendering the spaceship
It only happens to the fade effect, because the fade effect change the alpha which set transparency flag of the RenderCommand which turn off the depth write as a result.

Fade effect -> Sprite3D->setTransparent -> RenderCommand -> setTransparent -> DepthWriteOff

Haven't thought of a good solution.

[2015-01-27 02:47] WenhaiLin commented on #10217
@masterhou  I can't reproduced on iPhone4S and iPhone5S. This issue can be reproduced only on ipad2?

[2015-01-27 03:16] fusijie opened #10229 "If the parent of ClippingRectangleNode setScale, the position of ClippingRectangle is wrong."
`Version:` 3.3Final
`reproduce:` Copy the following code to HelloWorld project.

[code]

`The position of ClippingRectangle is not center now.`

![2015-01-27 11 14 10](https://cloud.githubusercontent.com/assets/5085300/5912911/a9eaf952-a615-11e4-8e0e-5b79f72b977f.png)

`How to solve it?`

[code]

I don't know why the position is necessary to multiply by scaleX and scaleY.
![2015-01-27 11 15 24](ht

[2015-01-27 03:18] zilongshanren commented on #9768
@idrise
How about this issue now?

[2015-01-27 03:27] xiaozzjl commented on #10229
Thank you to help me commit the issue.

[2015-01-27 03:46] flamefox opened #10230 "templates/cocos2dx_files.json does not have "tools/bindings-generator/tools/win32/dos2unix.exe","
when you use "cocos new xxx -p xxx.xx.xxx -l lua -d xxx“ to create a new lua project,
it don't copy this file. After this, when you want to gen lua custom binding on windwos, it will show you that you do not have this command in your path,.

[code]

  "tools/bindings-generator/tools/win32/dos2unix.exe",

[code]

[2015-01-27 03:59] zilongshanren commented on #9977
@wasedaigo It is working. The test is wrong here. The position of the stencil is wrong.

[2015-01-27 03:59] fusijie commented on #9977
Sorry, It's my fault. Scale9Sprite is supported to be the stencil of ClippingNode. The wrong effect is because the wrong position.

[code]

@wasedaigo yeah?

[2015-01-27 03:59] #9977 closed, assigned to nobody

[2015-01-27 05:17] smartcompany opened #10232 "using scheduleOnce(..., std::string & key) has a critical bug"
I am making simple game using cocos2d-x 3.3 final
i used schedule function with lamda
void schedule(const std::function<void(float)>& callback, const std::string &key);

and also used
void scheduleOnce(SEL_SCHEDULE selector, float delay);

but it maked a crash some times usually on android JNI build
I found wrong codes in your source named CCScheduler.cpp

 for (int i = 0; i < element->timers->num

[2015-01-27 07:32] super626 opened #10237 "3d + 2d use case (ui - 3d - ui) does not work correctly"
ui - 3d - ui is a common use case for 3d + 2d.

![tmp23393bea](https://cloud.githubusercontent.com/assets/4159090/5914951/019b8746-a631-11e4-965a-d1d7c87516c1.png)

When click Message menu to pop up a message layer. The message layer should be top most. But it is something like this currently,

![tmp734e482b](https://cloud.githubusercontent.com/assets/4159090/5914971/49c44e86-a631-11e4-9e58-65c34b

[2015-01-27 07:33] super626 commented on #10237
Relative PR is #10236

[2015-01-27 08:07] WenhaiLin commented on #8305
Hi all,I fixed it at https://github.com/cocos2d/cocos2d-x/pull/10162, please test again.

[2015-01-27 08:22] #9916 closed, assigned to nobody

[2015-01-27 08:27] WenhaiLin commented on #9959
@andyque Fixed at https://github.com/cocos2d/cocos2d-x/pull/10238

[2015-01-27 08:38] #8651 closed, assigned to WenhaiLin

[2015-01-27 08:43] #9695 closed, assigned to WenhaiLin

[2015-01-27 08:45] maltium commented on #9767
@super626 Please let me know if you need anymore info

[2015-01-27 09:36] piotrros opened #10240 "Multitouch doesn't work on windows phone 8.1"
Reproduce:
1. Create clean project (I'm using cocos2d-x 3.3 c++).
2. Open wp8-xaml project in visual studio (i'm using 2013 community).
3. Add this in helloworldscene.cpp in init method:

[code]
1. In project (Windows Phone 8.0) go into properties and in debug tab select 'Native Only' below UI Task.
2. Run app on device (I tested on nokia lumia 730 with windows phone 8.1).

And you always see ther

[2015-01-27 09:38] WenhaiLin commented on #10232
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10241

[2015-01-27 09:47] lvlonggame opened #10242 "loadConfigFile() should be called earlier than the default shader's initialization"
For example, when we modify the light' number from 1 to 3 in the file of "config-example.plist", we also just have one light, because "loadConfigFile()" is called later than "GLProgramCache::loadDefaultGLProgram()" , so the light's number in the shader is still one.

[2015-01-27 10:29] WenhaiLin commented on #9364
This issue cannot be reproduced on the latest codes in V3 branch.

[2015-01-27 12:05] idrise commented on #9768
Im afraid buttons still cancel if there is any slight movement during the click on a scrollview.

My beta testers continue to report this as a problem which means that they have to press the button multiple times and very deliberately to get a click to occur.

Dave Elliott.

[2015-01-28 01:58] #10183 closed, assigned to zilongshanren

[2015-01-28 03:04] #9364 closed, assigned to WenhaiLin

[2015-01-28 07:15] #10237 closed, assigned to nobody

[2015-01-28 07:15] #10212 closed, assigned to nobody

[2015-01-28 07:15] #10190 closed, assigned to nobody

[2015-01-28 07:15] #10176 closed, assigned to darkdukey

[2015-01-28 07:17] #9959 closed, assigned to WenhaiLin

[2015-01-28 07:19] samuele3hu opened #10251 "Node::stopAllActions only remove all actions but didn't call `stop` of related action"

[2015-01-28 07:35] liamcindy commented on #9500
@andyque Fingerpop.ttf is still display different

[2015-01-28 08:00] WenhaiLin commented on #9691
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10255

[2015-01-28 08:07] #10232 closed, assigned to WenhaiLin

[2015-01-28 08:20] fusijie opened #10257 "If the parent of DrawNode setScale, the effect is different on the each platform."
`Version:` 3.3Final
`Reproduce:` Copy the following code to HelloWorld project.

[code]

`Mac`
![2015-01-28 15 26 04](https://cloud.githubusercontent.com/assets/5085300/5934372/70972172-a709-11e4-9540-5491e39d3a12.png)
`iOS simulator`
![2015-01-28 15 30 35](https://cloud.githubusercontent.com/assets/5085300/5934377/7d11c9c0-a709-11e4-88f5-635491841d28.png)
`iOS`
![2 pic](https://cloud.githubuserco

[2015-01-28 08:20] carycarter opened #10258 "Cocos Studio ActionNode Memory Leaks"
In actionNode destructor, when member _action is not null then _actionSpawn could not be null, but it only destructs _action and _actionSpawn leaks.
The same question, in method refreshActionProperty, if the original _action is not null, _actionSpawn could not be null as well. So the origianal _action and _actionSpawn should both be released.

![actionnodememoryleak](https://cloud.githubuserconten

[2015-01-28 09:06] liamcindy opened #10260 "TextField display different between MAC and Windows with passworld enbled"
[code]

MAC, 显示为"&&";
Windows, 显示为"&";

[2015-01-28 09:06] liamcindy commented on #10260
@andyque  Please check this problem, thanks

[2015-01-28 09:31] liqt opened #10261 "创建一个label，锚点(0,0),位置(0,0)，最下面一行文字只显示出来一个边"
测试代码如下：
static const char\* g_text = "中中中中中中中中中中";
    TTFConfig ttfConfig("fonts/HKYuanMini.ttf", 32, GlyphCollection::DYNAMIC);
    auto width = visibleSize.width \* 0.2;
    width = 80;
    auto label3 = Label::createWithTTF(ttfConfig
                                       , g_text
                                       , TextHAlignment::LEFT
                                       , width);

[2015-01-28 09:32] liqt opened #10262 "创建一个label，锚点(0,0),位置(0,0)，最下面一行文字只显示出来一个边"
测试代码如下：
static const char\* g_text = "中中中中中中中中中中";
    TTFConfig ttfConfig("fonts/HKYuanMini.ttf", 32, GlyphCollection::DYNAMIC);
    auto width = visibleSize.width \* 0.2;
    width = 80;
    auto label3 = Label::createWithTTF(ttfConfig
                                       , g_text
                                       , TextHAlignment::LEFT
                                       , width);

[2015-01-28 09:33] liqt commented on #10262
![label](https://cloud.githubusercontent.com/assets/2296367/5935253/ce83257e-a713-11e4-9802-13fbe67ad968.png)

[2015-01-28 09:45] #10261 closed, assigned to nobody

[2015-01-28 10:00] WenhaiLin commented on #10262
@liqt It's not a bug,you should use visible origin for label.

[code]

[2015-01-28 10:25] liqt commented on #10262
tks, now i think so too! tks again

[2015-01-28 13:54] reagentoo opened #10264 "Build system: strict use of external libraries"
Should be allowed to build totaly without libs in /external directory (cocos2d-x-3rd-party-libs-bin). It would be useful to build packages for various distributions. Include libraries in cocos2d-x do not meet the standard ways in the directory (/usr/include/...). It is also preferred build shared libraries instead of static. At this time there is no way to build packages using unfinished cmake bui

[2015-01-28 15:12] sss316 commented on #10063
Where to upload resources?
version:cocos2d-x3.3. Written in lua language and cocos code ide.
I uploaded to this,  http://dl.vmall.com/c07xe8gsj3

email:sss316@163.com
qq:469222092

[2015-01-28 15:28] sss316 commented on #10063
描述： 我增加了2个label，第一个可以看见，第二个看不见
        local ttfconfig = {outlineSize=7,fontSize=50,fontFilePath="fonts/britanic bold.ttf"}
        local blood = cc.Label:createWithTTF(ttfconfig,"-100")
        blood:enableOutline(cc.c4b(0,0,0,255))
        blood:setColor(cc.c3b(255,0,0))
        blood:setRotation3D({x=90,y=0,z=0})
        self:addChild(blood)
        blood:setPosition(500,500)
        blood:setP