[2015-06-07 15:58] hamburml opened #12232 "MIT License?"
Is cocos2d-x MIT License or a own license?
Readme says

[code]

But License-File doesn't mention MIT License.

[2015-06-07 17:15] ricardoquesada commented on #12232
MIT license.

[2015-06-08 00:22] pandamicro commented on #12217
@WenhaiLin Please explain the behavior and how to adjust

[2015-06-08 01:41] pandamicro commented on #12229
If you are new to Cocos, please try our v3.x version, v2 is no longer in active maintenance. I believe there won't be such problem in v3.

[2015-06-08 03:08] WenhaiLin commented on #12104
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12236

[2015-06-08 07:05] #12232 closed, assigned to nobody

[2015-06-08 08:37] jicaixin opened #12244 "conversion problem in ActionTimeline::step"
My cocos2d-x version is 3.6, and CocosStudio version is 2.2.9

I have two different monster plist files, one works well but another was wrong.  I checked code in ActionTimeline.cpp and found my frame event was not triggered because you calculate a double value and then cast it to integer, my endFrame will be never triggered at all.

[code]

My  _endFrame is 220 here, but after  code `(int)(_time /

[2015-06-08 09:10] stari4ek commented on #12217
we have this "issue" (let's call it specific behavior) also.
currently, if outline is enabled, it changes letters spacing:

[code]

I'd expect, that it shouldn't happened by default. or it should be configurable
We've moved advance correction to `FontAtlas::prepareLetterDefinitions`

[code]

Please note, that if advance is 0, letters will overlap each other, and probably this isn't good eighther

[2015-06-08 09:12] stari4ek commented on #12097
can anyone review it? there is PR for it

[2015-06-08 09:23] pandamicro commented on #12208
I have tested it, it's in fact correctly loaded, but as the result is big, when you try to print it, it won't give you anything. But you can try to print:

[code]

You will see the result.

Oh, by the way, there is no value map in JS, we transform it to a JS object.

[2015-06-08 11:00] dariodepaolis opened #12249 "Button touch doesn't work with setScale9Enabled"
If I create a Button in this way (like the wiki):

[code]

The Touch event doesn't work, but if I remove the scale9enabled flag it works.

Instead, if I create with the image as params of the create function the touch event works with scale9enabled:

[code]

Maybe a bug between _setScale9Enabledand_ and _loadTextures_

[2015-06-08 14:03] AIGRIND-LLC commented on #12217
@pandamicro You can reproduce it using Cocos Studio.
Just drop Label widget to the scene, assign any TTF font to it and adjust Outline Size property:
![outline-bug1](https://cloud.githubusercontent.com/assets/6168693/8036388/c7628bae-0df7-11e5-9e30-bd8b93d233a2.png)

[2015-06-08 14:26] Pouja commented on #10318
@stevetranby I think that is true looking at [tmxxml parser](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCTMXXMLParser.cpp#L380). I think that they only assume that you only hang a spritesheet and not individual images.

[2015-06-08 15:11] AIGRIND-LLC commented on #12217
Probably the appropriate bechavior could be achieved by editing the following code in `FontFreeType::getGlyphBitmap()`

[code]

[2015-06-08 15:23] stari4ek commented on #12217
minimizing influence of outline on letters spacing isn't a fix.
any extra value we add here, it _extra_ spacing, comparing to label without outline.

btw, here is an example of font rendering with disabled `xAdvance` correction (from another PR):
![image](https://cloud.githubusercontent.com/assets/327778/8038242/02d8760e-0e0b-11e5-862f-1fc8857af007.png)
compare "loading" with outline disabled:
![n

[2015-06-08 16:23] hamburml commented on #12177
This is really useful for using cocos studios csb files! That would be a extreme performance boost when the csb-file could be cached/precached! Would love to see this happen in the near future!

[2015-06-08 16:33] JiekeZhu commented on #3395
Hi,
I meet this same problem now. I wonder if you have resolved it or not ?
And how to resolve it.
Thanks.

[2015-06-08 22:56] araker commented on #12208
Thanks for looking into this. Painful that I didn't log a few more values.

[2015-06-08 22:56] #12208 closed, assigned to nobody

[2015-06-09 00:15] hawkwood commented on #10981
Fixed but with a question:

https://github.com/cocos2d/cocos2d-x/pull/12250

[2015-06-09 00:42] pandamicro commented on #12244
@jicaixin Sorry for the issue, we have already a fix here: https://github.com/cocos2d/cocos2d-x/pull/12040/files
We will review it as soon as possible to make it right in the next version

[2015-06-09 01:38] zilongshanren commented on #3395
@JiekeZhu  `./build_native.py` is deprecated, you should use cocos_console instead.

[2015-06-09 01:43] darkdukey commented on #3395
use `cocos compile -p android` instead of build_native.py

[2015-06-09 02:01] zilongshanren commented on #3395
@darkdukey  please check the Jenkins slaves in US office. Both of them are broken. :(
Thanks.

[2015-06-09 02:33] letzgame opened #12252 "[cocos new] fail to create a portrait project"
steps:
1.) cocos new -p com.test.test -l cpp -d ~/Desktop/ --portrait  test
2.) logs from cocos console:
"> Copying cocos2d-x files...

[2015-06-09 02:38] darkdukey commented on #3395
I think might be a power outage, I'll check tmr.

[2015-06-09 02:54] pandamicro commented on #10820
Finished
Related PRs:

https://github.com/cocos2d/cocos2d-x/pull/12206
https://github.com/cocos2d/cocos2d-x/pull/12176
https://github.com/cocos2d/cocos2d-x/pull/11925
https://github.com/cocos2d/cocos2d-x/pull/11758

[2015-06-09 02:54] #10820 closed, assigned to nobody

[2015-06-09 03:09] pandamicro commented on #12097
Thanks @stari4ek It's merged

[2015-06-09 04:07] pandamicro commented on #12208
No problem

[2015-06-09 04:38] jicaixin commented on #12244
Good job guys. 么么哒

[2015-06-09 06:40] folgerhu opened #12254 "AudioEngine's bug"
Code in cocos2d-x v3.4 HellowWorld:

[code]

When I click on the menuClose button repeatedly fast, wind_level1.mp3 have more probability not looping play. Click slowly when less probability.

[2015-06-09 07:08] WenhaiLin commented on #12156
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12256

[2015-06-09 07:21] nocrim commented on #8384
Is there any solution to fix this bug now?
I've done lots of search and i found out that cocos2d-iphone has a same bug from 2010. link: https://code.google.com/p/cocos2d-iphone/issues/detail?id=704
And i still have no idea how to fix it.

[2015-06-09 07:24] #10062 closed, assigned to WenhaiLin

[2015-06-09 10:08] nocrim commented on #8384
Finally i find a way to get my expected effect now.
I was so closed without a step to change the transform mat in method "ParticleSystemQuad::draw".

[code]

[2015-06-09 10:27] WenhaiLin opened #12259 "Label:the texture of character have not cropped if character cross the axis-aligned bounding-box."
![qq 20150609182643](https://cloud.githubusercontent.com/assets/5234286/8055853/35361eec-0ed5-11e5-97b4-b7ba0a789668.png)

[2015-06-09 10:30] #10258 closed, assigned to chengstory

[2015-06-09 10:31] #10408 closed, assigned to chengstory

[2015-06-09 14:42] dariodepaolis commented on #12029
Is it a bug or not?

[2015-06-09 21:23] namezero111111 opened #12266 "Some ease actions access violate when they contain a Sequence"
Hi,

When using the following setup:

It will access violate in `CCActionInterval.cpp line 354` at `_actions[found]->startWithTarget(_target);` because `_target` is `NULL`.

This happens because in line 343, stop() is called previously on the sequence action. I think the problem is that these actions somehow have math problems, but that shouldn't lead to an access violation.

Any idea on how to fi

[2015-06-09 22:07] namezero111111 commented on #12266
Sample code to reproduce:

[code]

[2015-06-10 03:48] folgerhu opened #12274 "js-tests about the animation API sample is too old, please update it"
I search the sample about play animation, only found:
src/CocoStudioTest/SceneTest/SceneEditorTest.js

[code]

It's too old, the new API is like this:

[code]

please update it.
cocos2d-x v3.6

[2015-06-10 04:47] pandamicro opened #12275 "Notify when API is not compatible in JSB for Chipmunk classes"
Originally reported in : http://discuss.cocos2d-x.org/t/properties-missing-from-chipmunk-body-on-compiled-js-app/21908

[2015-06-10 05:35] waitingfy opened #12276 "Spine, SkeletonAnimation getContentSize and setAnchorPoint have problem"
1.Spine, create one SkeletonAnimation getContentSize  does not return right value, always return size(0,0)
2.Spine, create one SkeletonAnimation, setAnchorPoint does not have effect.

[2015-06-10 05:49] WenhaiLin commented on #12041
I can't reproduce this issue.

[2015-06-10 05:52] dumganhar commented on #12041
Yep, it only happens on the old version of tencent QQ browser. It seems it was fixed by tencent. :)
Thanks @WenhaiLin to check this issue.

[2015-06-10 05:52] #12041 closed, assigned to WenhaiLin

[2015-06-10 05:58] WenhaiLin commented on #12200
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12261

[2015-06-10 08:03] pandamicro opened #12278 "Upgrade Cocos Samples projects"
- [x] Add Lua Killbug game (current hello world) to samples (@samuele3hu)
- [x] Add JS MoonWarriors game to samples (@jianglong0156)
- [ ] Add Cpp / Lua / JS Plugin-x sample which should include Facebook samples
- [x] Upgrade engine to v3.8
- [x] Create a complete package which can be directly download and run
- [ ] Upload the package and submit it to Cocos Store

Samples repo: https://github.com/

[2015-06-10 08:52] yangws opened #12279 "CppTests's textures disappeared after app push to/ pop from background on android."
Env:
   Nexus 5 with andorid 4.4.4
Repreduct step:
1. enable "don't keep activity" in developer configrations
2. launch app, enter test case
3. push app to background
4. pop from background

bug1 is main menu, bug2 is "Player walk around in terrain" test case.
![bug1](https://cloud.githubusercontent.com/assets/488183/8078520/dfc41128-0f90-11e5-91d8-04bdfbb9d63e.png)
![bug2](https://cloud.githubuse

[2015-06-10 09:15] waitingfy opened #12280 "3.6 cocos luacompile error"
1. my lua code was in src1/
2. I try to use  "cocos luacompile -s src1/ -d src/ -e -k 123456 -b 123456 --disable-compile" to compile lua code, but can not open the game after compile.  And I create a new lua runtime template project, use the same "cocos luacompile -s src1/ -d src/ -e -k 123456 -b 123456 --disable-compile", have the same problem. However, only use "cocos luacompile -s src1/ -d src/

[2015-06-10 13:20] pandamicro commented on #12279
I think @WenhaiLin is investigating this issue, please give some update about it, thank you

[2015-06-11 02:49] #12200 closed, assigned to nobody

[2015-06-11 02:55] #12097 closed, assigned to nobody

[2015-06-11 02:57] pandamicro commented on #11568
Related PR: https://github.com/cocos2d/cocos2d-x/pull/12243

[2015-06-11 05:49] flamefox opened #12292 "UIText clone not clone the outline and shadow"
as the title, and the label's '_outlineSize' have should be 0 in the reset function. some time it will cause  the problom #9499

[2015-06-11 06:26] zilongshanren commented on #12292
thanks @flamefox
We will test the issue.

[2015-06-11 06:41] pandamicro opened #12295 "Bind utils::captureScreen to JSB and add web implementation"
- Review captureScreen API
- Bind in JSB
- Add web implementation

[2015-06-11 07:59] IgorMats commented on #12295
Can this be an async operation?

[2015-06-11 08:00] pandamicro commented on #12295
This is indeed a-synchronized, it will wait for the end of rendering during the current frame, then create the screen caption and invoke a callback.

[2015-06-11 08:08] #12156 closed, assigned to WenhaiLin

[2015-06-11 08:54] #12104 closed, assigned to WenhaiLin

[2015-06-11 09:18] WenhaiLin commented on #12259
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12299

[2015-06-12 00:21] #10570 closed, assigned to samuele3hu

[2015-06-12 00:22] #12244 closed, assigned to chengstory

[2015-06-12 02:30] walzer commented on #11932
Well, I mark it as a feature request, but unplanned. I'm not sure if we should implement this feature in the engine. Perhaps we should allow developers to manually batch these sprites with the same custom shader.

[2015-06-12 02:39] walzer commented on #11970
Thanks for your feedback. It do looks like a bug here.

[2015-06-12 02:42] walzer commented on #11974
Designed as this.
When moving your spider, you should use `VisibleRect::left().x` instead of x coordinate `0` to calculate.

[2015-06-12 02:43] #11982 closed, assigned to nobody

[2015-06-12 02:45] walzer commented on #11999
引擎版本？安卓版本？
`SimpleAudioEngine` 本身并不是设计为线程安全的。如果你需要在不同线程里面调用，则需要自己加上锁。

[2015-06-12 03:05] WenhaiLin commented on #10779
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12310

[2015-06-12 03:09] ricardoquesada commented on #11932
I think it is a "nice to have" but low priority. But our documentation should mention how batching works and its exceptions.

[2015-06-12 06:45] folgerhu opened #12311 "ListView in user Camera can't visible"
cocos2d-js v3.6

ListView in user Camera can't visible, if setClippingEnabled(false) then listview can visible. I suspect the problem in ui::Layout::visit.

Test code:

[code]

![screen shot 2015-06-12 at 2 32 47 pm](https://cloud.githubusercontent.com/assets/3455415/8124609/0abb5b22-1110-11e5-8ece-ed297d113d53.png)

[2015-06-12 07:10] zilongshanren commented on #12311
@super626  Could you have a look at this issue?

[2015-06-12 08:11] folgerhu opened #12315 "NotificationNode with CCLabel with TTF, Can let the program crashes!"
Using CCLabel with third party label font, if added to the NotificationNode, when program exits will crash!

Because the Director at the time of release calls to reset () method,  and there is no reset NotificationNode in this method, but it cleared all the freetype cache!

So when NotificationNode clean up itself, the label will clean up the font cache, but this time the font cache is empty point

[2015-06-12 08:41] VisualSJ commented on #12274
Hi @folgerhu
The new interface only used to parsing that the new file.
Analytical old scene files, can not return to action objects.
So you must use ccs.actionManager.playActionByName

We do not recommend using this old version to export json files.
You can try to use the new version of Studio

SJ

[2015-06-12 09:39] #10779 closed, assigned to WenhaiLin

[2015-06-12 10:28] fangjianh opened #12317 "spine动画修改着色器错位"
spine骨骼动画添加轮廓着色器后，显示图像错位

[2015-06-12 12:24] mateuszf commented on #11932
Well, they are actually batched when using custom shader (program id is part of the hash generated for every batch). It's just when using uniforms inside the shader when they are not batched, which is a completely standard use case scenario.

I don't want to sound rude but just think about it - batching sprites with user-defined shader seems like it should be a standard feature, much more importan

[2015-06-12 13:30] #12274 closed, assigned to VisualSJ

[2015-06-12 13:33] #12259 closed, assigned to WenhaiLin

[2015-06-12 14:22] folgerhu commented on #12274
@VisualSJ
I understand what you mean, but i can't find out about the new API DEMO in js-tests, user can't study the new API in js-tests.

[2015-06-12 15:11] pandamicro opened #12322 "Editbox have text rendering issue on iOS 8.3"
Engine version : v2.x
Platform : iOS 8.3

If enter numbers only in the editbox, it won't be rendered correctly, for example: 1111111
When it's a combination of Chinese character and numbers, the editbox can be rendered correctly.

[2015-06-12 15:54] chenleijava opened #12323 "call glfwCreateWindow method failed ,return null"
on mac os, GLFWError #65544 Happen, NSGL: Failed to create OpenGL pixel format, the glfwCreateWindow return null. not found any Solutions in google !
cocos2dx version 3.6

[2015-06-12 17:14] ricardoquesada commented on #11932
the issue is the uniforms I think. How do I know that you are not using different uniforms for different sprites?
I guess if the sprite is using the same `GLProgramState` (which includes `GLProgram`) then we will be able to batch them.

[2015-06-13 05:18] #12322 closed, assigned to nobody

[2015-06-14 09:09] ppawlak commented on #12252
Same problem here, using cocos2d js v3.6.1 and -l js option.
When I run the game on an iOS device it appears landscape.

[2015-06-14 09:09] flamefox opened #12331 "why different camera mask produce sprite3d transparent mask?"
I make some code like set2D on sprite3d to make sprite3d show on ui.

[code]

and

[code]

and it works, the sprite3d show normal on the ui
then I make some normal sprite3d on the 3d layer,
![normal sprite3d](http://images0.cnblogs.com/blog2015/44186/201506/141705088791867.png)

but when i open the ui, the ui's sprite3d show with a transparent mask of the normal sprite3d
![normal sprite3d](http://

[2015-06-14 09:55] Alovez opened #12332 "When import lua ,error: Android NDK: Aborting"
this is my Andorid.mk

[code]

I want to using lua with C++,but eclipse put some error:
    Description Resource Path Location Type
    make: **\* Android NDK: Aborting  . Stop. HappyBird line 30, external location:
    C:\UserApp\android-ndk-r10d\build\core\build-shared-library.mk C/C++ P roblem

What should i do ?

[2015-06-14 11:23] pandamicro commented on #12332
@folgerhu Please check

[2015-06-14 11:34] pandamicro commented on #12317
Please describe the following informations:
1. Exact steps to reproduce the issue.
2. Engine version.
3. Test environment, system, version, etc.
4. Correct behavior, observed behavior and screen captions of incorrect effect if possible.
5. Error message if there is any.
6. Call stack if there is a crash.

[2015-06-14 11:44] pandamicro commented on #12252
The template project will be modified to support creating portrait project

[2015-06-14 11:50] pandamicro commented on #12323
@chenleijava Please tell us how to reproduce the issue ?

[2015-06-14 11:52] pandamicro commented on #12276
Which engine version are you meeting this issue ?

[2015-06-14 12:01] pandamicro commented on #12226
What's the engine version ? and can you show some sample code to reproduce the issue ?

[2015-06-14 12:04] pandamicro commented on #12215
Related pr: https://github.com/cocos2d/cocos2d-x/pull/12205

[2015-06-14 12:10] #12215 closed, assigned to nobody

[2015-06-14 12:41] eschriek commented on #12226
I'm using version 3.5.

This is the code I use to initialize the above motionstreak.

[code]

Where 'outer' is a rotating rectangle sprite. It produces more of these artifacts as the rotation accelerates.
The problem appears in one of the motionstreak tests aswell, but less frequently. This is probably because the sprite moves much slower.

[2015-06-14 13:24] pandamicro commented on #12226
Thank you, we will check it in 3.8, as we can't add any task in v3.7

[2015-06-14 14:34] chenleijava commented on #12323
The strange thing is working well now! opengl version 4.1 .. ..   may next time ,i'll take it and offer to more detail . thanks @pandamicro

[2015-06-14 14:34] #12323 closed, assigned to nobody

[2015-06-14 14:40] pandamicro commented on #12323
OK, thanks for the update

[2015-06-14 21:43] Seryusjj opened #12334 "cannot compile cocosv3.5 for tizen"
I follow the documentation in here https://github.com/cocos2d/cocos2d-x/blob/v35-for-tizen/docs/RELEASE_NOTES.md but it fails when compiling, I'm using Tizen 2.3 Rev2 SDK has it something to do?

[2015-06-14 21:46] #12334 closed, assigned to nobody

[2015-06-15 01:51] xpol opened #12335 "HttpRequest.h inline function uses deprecated API."
In HttpRequest.h:
function: [void HttpRequest::setResponseCallback(Ref\* pTarget, SEL_CallFuncND pSelector)](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/network/HttpRequest.h#L245) uses deprecated function [void HttpRequest::setResponseCallback(Ref\* pTarget, SEL_HttpResponse pSelector)](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/network/HttpRequest.h#L2550). This cause any cpp file

[2015-06-15 03:55] folgerhu commented on #12332
1.

[code]

2.
Copy the following files to your project from the engine：
cocos2d/external/lua
cocos2d/cocos/scripting

3.
Modify your proj.android/build-cfg.json, like this:

[code]

Note: If you have a using problem may you ask a questions in [http://support.cocos.com](http://support.cocos.com). If it's a specific bug, plese submit issue to the github.

[2015-06-15 05:39] pandamicro commented on #10823
Added in #12102

[2015-06-15 05:40] #10823 closed, assigned to nobody

[2015-06-15 06:21] tangyiyang opened #12340 "Add spine atlas to SpriteFrameCache and Texture2DCache."
It's better and easier to manage spine texture and sprite frames the same way we manage sprites.  So the Sprite can use the texture stored in the atlas, instead of add something interface like 'CCSprite::setSpriteFrame'.

[2015-06-15 07:49] super626 commented on #12311
@andyque
Ok

[2015-06-15 08:24] wulei opened #12343 "CocoStudio using TTFLabe and enableShadow return opengl 0x0502 errors in cocos2dx 3.6"
CocoStudio using TTFLabe  and enableShadow return errors in cocos2dx 3.6

Error Log:
OpenGL error 0x0502 drawNumberOfQuads

[2015-06-15 08:26] WenhaiLin commented on #12343
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11696

[2015-06-15 08:28] tangyiyang opened #12344 "set attachment of a spine after create it immediately will not take effect."
Here is the code snippet.

[code]

[2015-06-15 08:31] #12343 closed, assigned to nobody

[2015-06-15 08:32] pandamicro commented on #12343
Duplicated with: https://github.com/cocos2d/cocos2d-x/issues/11374

[2015-06-15 09:02] Seryusjj opened #12347 "cocos2d-x 3.5 tizen not working"
The cpp-tes project runs following the instrunctions but when creating a new project, libcocos2d compiles with out problems but where our Classes are sais the following when trying to compile:
Description Resource    Path    Location    Type
cannot find -lwebsockets    CocosProject            C/C++ Problem
make: **\* [hellocpp] Error 1    CocosProject            C/C++ Problem
recipe for target 'he

[2015-06-15 09:11] WenhaiLin commented on #12347
@sukwonsuh @QingliWang

[2015-06-15 09:17] QingliWang commented on #12347
/CocosProject/Emulator
Because you are building on "Emulator" mode,
please change the Platform Architecture to "X86".
Project->properties->C/C++ Build->Tizen Settings->Platform->Architecture
Thanks a lot.

[2015-06-15 09:21] Seryusjj commented on #12347
I'm already running both projects with architecture x86
Platform Tizen 2.3
Architecture x86
Tolchain GCC -4.8
Thanks to you :+1:

[2015-06-15 09:28] Seryusjj commented on #12347
If setting active debug or release, with architecture ARMv7-a it compile (don't know if works because I dont have a fisical device), the problem just happend when trying to use the emulator. Thanks

[2015-06-15 09:41] folgerhu opened #12348 "Bug: isTargetPaused return a function rather than a Boolean."
`2d-js v3.6.1`

If call function "cc.director.getScheduler().isTargetPaused(target)" and not call "scheduleUpdateForTarget(target)",  the isTargetPaused will return a function rather than a Boolean.

Expected a Boolean value.

[2015-06-15 09:56] WenhaiLin commented on #12315
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12349

[2015-06-15 10:25] zilongshanren opened #12350 "ui::Slider precision is not enough"
Add `setMaxPercent` and `getMaxPercent` functions to ui::Slider to support big precision.

[2015-06-15 10:25] zilongshanren opened #12351 "ui::Slider addEventListener doesn't respect the button pressed and button release event"
We should tell the user when the slider ball is pressed or is released.

[2015-06-15 11:34] flamefox opened #12353 "RenderTexture with sprite3d show error"
make a function and create a rendertextue

[code]

then use it at sprite3d

[code]

if I modify the code of meshcommand _is3d to false and set the

[code]

it show with no depthtest,
![img](http://images0.cnblogs.com/blog2015/44186/201506/151919444201234.jpg)

[2015-06-15 18:32] pandamicro commented on #12348
On web ? or native ?

[2015-06-16 05:18] zj8487 opened #12360 "feature request: 输入框UITextField带光标"

[2015-06-16 05:28] zj8487 commented on #12360
https://github.com/ArcherPeng/EditBox4Cocos2dx

[2015-06-16 08:32] WenhaiLin commented on #10837
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12362

[2015-06-16 10:50] folgerhu commented on #12348
native

[2015-06-16 12:31] pkxpp commented on #9019
I have this problem, too.

[2015-06-16 14:46] jokerlee opened #12370 "CCTextureCache and ArmatureDataManager have race condition in async loading"
We capture some crash stacks of TextureCache and ArmatureDataManager from our ios game by Crashlytics.
#### CCTextureCache

![qq20150617-1 2x](https://cloud.githubusercontent.com/assets/1501465/8201749/49a25f4e-1506-11e5-8dca-b15a7524af0b.png)

CCTextureCache's _textures member can be access by the async loading worker thread and be modified by the main thread concurrently which will cause race co

[2015-06-17 03:03] folgerhu opened #12376 "Spine has been a memory leak"
Cocos2d-x v3.6

SkeletonRenderer.cpp, line 127: _atlas = spAtlas_createFromFile(atlasFile.c_str(), 0).
But in the next time, this variable has been reset to zero in the initialize ().

[code]

[code]

This will cause a memory leak.

Related git address:
https://github.com/EsotericSoftware/spine-runtimes

[2015-06-17 03:05] jie-meng opened #12378 "luacompile problem"
I use cocos2dx-3.5 built a lua project.

First I modify frameworks/runtime-src/Classes/AppDelegate.cpp as the following

[code]

Then I use command
"cocos compile -p win32 -s out --compile-script 1 --lua-encrypt --lua-encrypt-key mykey --lua-encrypt-sign mypassword" to compile my lua project.

Then I got an exe in runtime/win32, run it, I got an error message "[LUA ERROR] load ".../runtime/win32/s

[2015-06-17 03:19] jie-meng commented on #12378
I input password not right, sorry. problem fixed.

[2015-06-17 03:19] #12378 closed, assigned to nobody

[2015-06-17 05:59] WenhaiLin commented on #12217
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12386

[2015-06-17 06:14] #12315 closed, assigned to WenhaiLin

[2015-06-17 06:47] yangws commented on #12279
This bug isn't in v3 branch, report by mistake.

[2015-06-17 06:47] #12279 closed, assigned to dabingnn

[2015-06-17 07:16] pandamicro commented on #10397
Delayed to v3.8

[2015-06-17 07:17] #12217 closed, assigned to WenhaiLin

[2015-06-17 07:27] dabingnn commented on #12138
Memory leak does not exists. Tested on IOS by using profile tools.
However, the program would crash if there are two many glprograms create in a short while because the release of the memory is delayed.

Please close it.

[2015-06-17 07:27] dabingnn commented on #12138
@fusijie @pandamicro @andyque

[2015-06-17 07:33] #11568 closed, assigned to fusijie

[2015-06-17 07:34] pandamicro commented on #10242
Delayed t v3.8

[2015-06-17 07:40] #12138 closed, assigned to dabingnn

[2015-06-17 08:35] dabingnn commented on #10824
@pandamicro @andyque
Bug has been fixed in version 3.7. please close it.

[2015-06-17 08:45] dabingnn commented on #9815
@Jaykie Is there any more info about this problem? Could you please give me a test case to reproduce the bug? Thanks.

[2015-06-17 09:02] stari4ek commented on #12217
Works great. Thank You.
Checked on 3.5

[2015-06-17 09:06] wulei opened #12402 "cocos2d-x 3.6 ListView do not response addEventListener in lua using cocostudio"
[code]

-- create a csb node
        local event_banner = AnimationNode.load("nodes/home/event_banner.csb")
        event_banner:setTouchEnabled(true)
        local custom_item = ccui.Layout:create()
        custom_item:setContentSize(cc.size( Helpers:getCascadeBoundingBox(event_banner).width, Helpers:getCascadeBoundingBox(event_banner).height))
        event_banner:setPosition(cc.p(custom_item:ge

[2015-06-17 09:09] #12402 closed, assigned to nobody

[2015-06-17 09:10] wulei commented on #12402
fix it :custom_item:setTouchEnabled(true)

[2015-06-17 09:25] pandamicro commented on #11913
Backup plan: Use Emscripten to compile C++ csb parser to JS and maintain only one version of parser for C++/Lua/JS

[2015-06-17 10:26] pandamicro opened #12404 "Some 3d classes can't be constructed with new in JS"
Classes that can not be constructed in JS with new:
- [x] PointLight
- [x] SpotLight
- [x] Terrain
- [x] Camera
- [x] Physics3DShape
- [x] Physics3DHingeConstraint
- [x] Physics3DSliderConstraint
- [x] Physics3DConeTwistConstraint
- [x] Physics3D6DofConstraint
- [x] PhysicsSprite3D

Classes that can be constructed with new but not done yet:
- [x] Material
- [x] Animate3D
- [x] Animation3D
- [x] Sk

[2015-06-17 10:29] pandamicro opened #12405 "Use generational gc in SpiderMonkey"
The background of this feature: http://blogs.msdn.com/b/abhinaba/archive/2009/03/02/back-to-basics-generational-garbage-collection.aspx

This requires to adopt the new GC coding style in all JSB code.

The new GC coding style can be verified with this tool: https://github.com/joshuastray/RootAnalysis

[2015-06-17 10:35] folgerhu opened #12406 "Clone function of stroke and the shadow is invalid"
Cocos 2d-x v3.6

![11](https://cloud.githubusercontent.com/assets/3455415/8204832/2c865c4a-151e-11e5-879e-7a172e0d9d4b.png)

[2015-06-17 10:35] #10824 closed, assigned to dabingnn

[2015-06-17 12:01] zilongshanren opened #12407 "[Test v3.7] rapidjson assert in DictionaryHelper"
const rapidjson::Value& DictionaryHelper::getSubDictionary_json(const rapidjson::Value &root, const char\* key)
{
    return root[key];
}

const rapidjson::Value& DictionaryHelper::getSubDictionary_json(const rapidjson::Value &root, const char\* key, int idx)
{
    return root[key][idx];
}

const rapidjson::Value& DictionaryHelper::getSubDictionary_json(const rapidjson::Value &root, int idx)
{

[2015-06-17 12:12] zilongshanren opened #12408 "[V3.7 ios simulator 6] ParticleIssue12310 crash"

[2015-06-17 12:31] zilongshanren opened #12409 "[V3.7 ios simulator 6] Node::UI test, UITextFieldTest_LIneWrap is wrong"

[2015-06-17 12:32] zilongshanren opened #12410 "[V3.7 ios simulator 6] Node::UI test, UITextTest_ignoreContentSize is wrong"

[2015-06-17 12:33] zilongshanren opened #12411 "[Test v3.7] Node::ui UITestAltasTest the label is cropped."

[2015-06-17 15:37] AIGRIND-LLC commented on #12217
The problem is solved.
Thanks!

[2015-06-17 23:39] SvDyer opened #12413 "Particle Demo test crashes cpp-tests"
1. Run cpp-tests (reproduced on Win32 build and universal app)
   2, From the main menu go to Node: Particles
2. Tap on the left arrow to get to the Particle Demo test (you should see two Particle Emitters using different texture).
   4.Tap left/right arrow to move to another text - the app crashes

[2015-06-17 23:41] stammen commented on #12413
Please open an issue on the main cocos2d-x repo.

[2015-06-18 01:40] samuele3hu opened #12414 "Add UIS9NinePatchTest for Lua and js"

[2015-06-18 02:38] WenhaiLin opened #12416 "cpp-tests[ Lumia 830--WP8.1]:Material System-->Sprites with multiple meshes:Crash"
error log：D3D11: Removing Device.

[2015-06-18 03:07] WenhaiLin commented on #12416
The response from MS Open Tech:

[code]

[2015-06-18 06:08] gheaeckkseqrz opened #12422 "On a MacOS, pressing enter/return on a textfield is ignored."
On iOS, when you press "Enter / Return" on the virtual keyboard goes away and the app receive a DETACH_WITH_IME event.

On mac, the keypress is just ignored (UICCTextField.cpp line 82).

Not sure is this is a wanted behavior or not, but that mean you cant validate your input by pressing enter if you have a physical keyborad.

[2015-06-18 08:15] fusijie opened #12426 "Director::setClearColor(const Color4F& clearColor) have no effect."
`version:` 3.7alpha
`issue:` Director::setClearColor(const Color4F& clearColor) have no effect. v3.6 is OK.
`reproduce:` add following code to HelloWorld project, init function.

[code]

[2015-06-18 10:06] folgerhu opened #12430 "Suggest the log information in detail as far as possible"
Cocos2d-x v3.6

![](http://support.cocos.com//uploads/feedback/470346/a178d5c73933a3ad85b0ab7530a0b5a2.png)
This log information let me unable to know the specific path to the file.

UIScale9Sprite.cpp line 734, initWithSpriteFrameName of assert, suggest print spriteFrameName parameters.

[2015-06-18 10:37] milos1290 opened #12431 "It is time to support resizable Open GL view/window"
Currently desktop version doesn't support resizing like normal windows. We should be able to resize window, and with that resize OpenGl view. There should be some kind of callback that will return us new visible size, so we can reposition all elements on the screen. This will give us option to test different aspect ratios while resizing a window. This should also be implemented with all other plat

[2015-06-18 16:13] prmigo opened #12435 "Label::createWithTTF() does not support Arabic language"
Please make the "Label::createWithTTF()" to support Arabic language, because in the version cocos2d-x v3.6 still does not support arabic language although I used an arabic font file.

[2015-06-18 16:39] zawasp opened #12436 "IllegalArgumentException"
With this commit 67d008810377a3cbad63f9af73beb02e8a1af297 I get a lot of IllegalArgumentExceptions for Android 2.3.3 - 2.3.7

`Caused by: java.lang.IllegalArgumentException: ALIGN_LEFT is not a constant in class android.text.Layout$Alignment
at java.lang.Enum.valueOf(Enum.java:176)
at android.text.Layout$Alignment.valueOf(Layout.java:1947)
at org.cocos2dx.lib.Cocos2dxBitmap.createTextBitmapShadowS

[2015-06-18 22:36] SvDyer opened #12439 "Cpp-tests app crashes after opening Socket IO"
1. Build and run cpp-tests from v3
2. From the main menu go to Extensions > Socket IO Test
3. Click on the Open SocketIO Client  and wait for a after a few seconds
4. Click Back and select another test - cpp-tests app crashes after about a second or two

(reproduced on Windows 10, and Windows 8.1 and Win32 platforms)

[2015-06-19 03:20] man2 commented on #12439
maybe the socket.io callback has not been cleared when exiting the scene?

[2015-06-19 05:40] WenhaiLin commented on #12409
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12444

[2015-06-19 06:25] folgerhu opened #12447 "LabelTTF appear similar to stroke under the WEB"
Cocos 2d-js 3.6

[code]

Run on chrome, safari:
![screen shot 2015-06-19 at 2 16 30 pm](https://cloud.githubusercontent.com/assets/3455415/8248159/3585ea74-168e-11e5-8168-e4dc1863bf41.png)

Run on simulator:
![screen shot 2015-06-19 at 2 25 27 pm](https://cloud.githubusercontent.com/assets/3455415/8248228/085f8e32-168f-11e5-8010-709593dace5e.png)

[2015-06-19 06:33] WenhaiLin opened #12448 "cpp-tests[ win8.1-universal--window 8.1]:Audio - CocosDenshion:Crash"
@stammen Could you please take a look?

[2015-06-19 09:01] stammen commented on #12448
@WenhaiLin I will take a look

[2015-06-19 09:11] WenhaiLin commented on #12448
Crash cause by CreateMasteringVoice returns ERROR_NOT_FOUND. It's mean no default audio device exists and NULL is passed in as the szDeviceId parameter.

https://msdn.microsoft.com/en-us/library/windows/desktop/hh405048(v=vs.85).aspx

[2015-06-19 09:41] man2 opened #12451 "cant generate js binding"
when I run genbindings.py I got this error

can't open file '/Users/Documents/cocos/TestJS/frameworks/cocos2d-x/tools/bindings-generator/generator.py': [Errno 2] No such file or directory

[2015-06-19 10:32] man2 commented on #12451
solved, I have to copy bindings-generator folder to tools. But it should be done automatically with the cocos tool

[2015-06-19 11:08] enrevol opened #12457 "CCVector erase wrong element"
I use cocos2d-x with box2d. I have a joint (called A) linked with a node (called B). Joint A and node B have the same parent and A comes before B in their parent's children list. When I remove B from the scene, joint A will also be removed because box2d is integrated.

[code]

`it` will point to wrong element after `(*it)->release()` is executed.

[2015-06-19 11:46] naghekyan opened #12458 "I change a file in Resources but it does not have an effect on Windows"
Formerly when I was using cocos2d-x 3.2 the files were looked in Resources folder for windows applications. Hence, when I had a configuration file with game settings I could easily change some values and re-run the game and see what is changed. But now in cocos2d-x 3.5 the content of Resources is copied into `proj.win32/Debug.win32` during Pre-Link Event which in Visual Studio is setup as follows:

[2015-06-19 13:46] naghekyan opened #12459 "Capured image with RenderTexture loses quality"
I use this code to capture the screen and then I put the image a bit shifted down:

[code]

Here is the result of distortion:
![capture](https://cloud.githubusercontent.com/assets/7469377/8254606/1020b526-16ab-11e5-853b-da6f088683c8.PNG)

Here is the related link: http://discuss.cocos2d-x.org/t/3-0-beta-2-rendertexture-stretching/11618/18

[2015-06-19 15:04] stammen commented on #12448
@WenhaiLin I tested CocosDenshion this morning on commit e0ea8a460a87c68e71adf133afee8fd3fe374a22 and it was working fine on the Windows Phone. Do you still have this issue with the latest code?

Also please restart the phone and see it that fixes the issue.

[2015-06-19 15:20] WenhaiLin commented on #12448
@stammen This issue only applies to window 8.1,not Window Phone.

[2015-06-19 15:22] stammen commented on #12448
@WenhaiLin What device are you testing on?

[2015-06-19 15:23] WenhaiLin commented on #12448
@stammen It's cause by the PC(desktop) not have any audio device.

[2015-06-19 15:27] stammen commented on #12448
@WenhaiLin So the crash occurs when there is no audio device installed on the PC?

[2015-06-19 15:27] WenhaiLin commented on #12448
@stammen Yes

[2015-06-19 15:28] stammen commented on #12448
@WenhaiLin Thanks for the update .I can reproduce the issue. We will fix this.

[2015-06-19 15:33] stammen commented on #12448
Opened issue https://github.com/MSOpenTech/cocos2d-x/issues/168

[2015-06-21 13:36] waitingfy commented on #12276
cocos2d-x 3.6

[2015-06-21 15:33] man2 opened #12464 "VS2013 An invalid parameter was passed to a service or function."
I'm using win7 with Visual studio 2013 update 3, tried it on template cpp project, with no other addition.

Compile success, but got error when running the application:
"An invalid parameter was passed to a service or function."

Is it bug?

[2015-06-22 03:46] yscheng commented on #8560
Hi, sorry for the delay. The problem is solved after enabled Stencil Buffer, thank you.

[2015-06-22 05:03] #8560 closed, assigned to zilongshanren

[2015-06-22 13:20] man2 commented on #12464
do i have to use visual studio 2013 update 4?

[2015-06-22 13:54] deathemperor opened #12468 "Cocos simulator 3.5rc0, lua's print() messages are truncated"
![screen shot 2015-06-22 at 8 42 20 pm](https://cloud.githubusercontent.com/assets/4255482/8283202/1ef2ad44-1920-11e5-911e-f4455f8763af.png)

I'm unsure what is causing message from print() not fully displayed. There is a few times I still get to see the full message but most of the time I can't.

[2015-06-22 14:52] #12451 closed, assigned to nobody

[2015-06-22 14:53] pandamicro commented on #12451
You should update the submodules, and run `download-deps.py`

[2015-06-22 14:59] deathemperor commented on #12468
it actually prints a lot of message before the last messages got truncated. Any messages after this will be truncated.

Copying the whole log msg:

[code]

[2015-06-22 15:01] #12414 closed, assigned to nobody

[2015-06-22 15:03] #12409 closed, assigned to WenhaiLin

[2015-06-22 17:20] man2 commented on #12464
did a clean build on vs2013 update 4, with no success. still same error message

[2015-06-22 22:54] man2 commented on #12464
Solved, the problem is my outdated vga card driver..

[2015-06-22 22:54] #12464 closed, assigned to WenhaiLin

[2015-06-23 01:50] WenhaiLin opened #12470 "Label should be invisible when the line height is set to zero."

[2015-06-23 01:50] WenhaiLin commented on #12470
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12469

[2015-06-23 02:06] #12411 closed, assigned to zilongshanren

[2015-06-23 02:06] zilongshanren commented on #12411
This is not a bug.

[2015-06-23 02:12] zilongshanren commented on #12426
@pandamicro  I think you'd better assign this issue to some other guys. thanks.

[2015-06-23 02:39] zilongshanren commented on #12410
fixed at https://github.com/cocos2d/cocos2d-x/pull/12471

[2015-06-23 02:59] stammen commented on #12448
@WenhaiLin This is fixed in PR https://github.com/cocos2d/cocos2d-x/pull/12472

[2015-06-23 03:05] WenhaiLin commented on #12413
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12473

[2015-06-23 03:14] #12470 closed, assigned to nobody

[2015-06-23 03:17] #12410 closed, assigned to nobody

[2015-06-23 03:18] #12332 closed, assigned to nobody

[2015-06-23 05:39] WenhaiLin commented on #12436
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12478

[2015-06-23 05:51] algenepulido opened #12479 "New Audio Engine Freezes game on android 5.0.2"
I have a game for ios and android. The new audio engine works well on ios but has a bug on android. I tested on android 5.0.2. To replicate the bug, quickly stop then play, stop then play, stop then play the same audio file all over again and again... In ios it's fine... The following is the log on android.

E/libOpenSLES(28903): frameworks/wilhelm/src/android/AudioPlayer_to_android.cpp:779: pthre

[2015-06-23 06:05] WenhaiLin commented on #12479
Duplicated with: https://github.com/cocos2d/cocos2d-x/issues/11466
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11762

[2015-06-23 06:07] #12479 closed, assigned to nobody

[2015-06-23 06:12] WenhaiLin commented on #12408
Duplicated with: https://github.com/cocos2d/cocos2d-x/issues/12413

[2015-06-23 07:26] travnick commented on #11930
I'm really interested in get the issue resolved. Is there any possibility to fix this or create a workaround?

[2015-06-23 07:27] #12436 closed, assigned to WenhaiLin

[2015-06-23 07:34] #12407 closed, assigned to zilongshanren

[2015-06-23 07:36] folgerhu opened #12483 "Transition in the process of closing the simulator can lead to crush"
Cocos2d-x v3.6

[code]

If TestScene is in the transition, click the simulator close button, app can lead to crush:

[2015-06-23 08:24] xzben opened #12486 "void PhysicsWorld::debugDraw() 当body都删除后body的绘制还在"
问题描述：
    在一个场景中增加开启DebugDraw 增加 PhysicsBody 后，删除全部 PhysicsBody 则绘制的所有 DebugDraw 会一直存在。
问题代码：
在 void PhysicsWorld::debugDraw() 中当在下次绘制前将全部body都删除后会导致 下么判断失败，则直接跳过了所有操作，这是时候应该把 debugDraw 中的 DrawNode 都clear 才对。
    if (_debugDraw && !_bodies.empty())

[2015-06-23 09:11] WenhaiLin commented on #10837
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12488

[2015-06-23 09:12] #12413 closed, assigned to WenhaiLin

[2015-06-23 09:27] pandamicro opened #12489 "Parse Touch/Click callback in JS Studio parser"

[2015-06-23 09:27] pandamicro commented on #12489
![screen shot 2015-06-23 at 5 20 17 pm](https://cloud.githubusercontent.com/assets/632460/8302981/1fdd838e-19cd-11e5-834f-e4721d10038b.png)

[2015-06-23 09:34] #12408 closed, assigned to samuele3hu

[2015-06-23 09:37] eonghk opened #12491 "3.6 version Child in another camera will not follow parent"
Have a background layer in default camera, and some sprites as children of the layer in another Camera.
When we move the layer(set position), the children will not follow.

[2015-06-23 09:54] WenhaiLin commented on #12406
@pandamicro I think you'd better assign this issue to @andyque . thanks.

[2015-06-23 10:23] eonghk opened #12493 "ScrollView _childFocusCancelOffset should consider DPI"
It's difficult to click a item in a listview in 2k screen phones.
The _childFocusCancelOffset should based on screen dpi like this:

bool ScrollView::init()
{
    if (Layout::init())
    {
        //mod,scale with dpi.
        int dpi = Device::getDPI();
        _childFocusCancelOffset = _childFocusCancelOffset \* dpi / 160;
        //end mod
        setClippingEnabled(true);
        _innerContain

[2015-06-23 10:28] zilongshanren commented on #12493
@eonghk  Yes, This issue will be fixed in v3.8.
you could hack the engine with https://github.com/cocos2d/cocos2d-x/pull/8948

[2015-06-23 10:30] WenhaiLin opened #12494 "Cannot differentiate between Windows Phone Application and Windows Store Application by `Application::getTargetPlatform`"

[2015-06-23 10:42] WenhaiLin commented on #12494
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12496

[2015-06-23 11:26] eonghk commented on #12311
Same bug here, upgrade from 3.3 and it just happens. Working fine in 3.3. It's really annoying.

[2015-06-23 11:43] #10837 closed, assigned to WenhaiLin

[2015-06-23 13:32] eonghk commented on #12493
I have no problem with hacking. I know this problem since 3.3 and you guys say you fix it in 3.8. Is it tooooo long? Not everyone knows this place and knows how to locate the problem. I think you guys should really consider about a bug fix branch like the linux kernel. If there is a open bug fix branch 3.6.1, we can commit the fix and work around. No one need to wait until 3.8. It will be much eas

[2015-06-23 13:51] eonghk commented on #12311
@folgerhu Try this below, you may need to modify the header file yourself.

diff ui/UILayout.cpp ../../cocos2d-x-3.6-orig/cocos2d-x-3.6/cocos/ui/UILayout.cpp
1939,1946c1939
<
< void Layout::setCameraMask(unsigned short mask, bool applyChildren){
<   Widget::setCameraMask(mask, applyChildren);
<   if (_clippingStencil){
<       _clippingStencil->setCameraMask(mask, applyChildren);
<   }
< }

## <

[2015-06-23 15:24] pandamicro commented on #12494
Update in JSB: https://github.com/cocos2d/cocos2d-x/pull/12504

[2015-06-23 15:24] #12494 closed, assigned to nobody

[2015-06-24 02:28] zilongshanren commented on #11628
This issue can't be reproduced in v3.7.

[2015-06-24 02:28] #11628 closed, assigned to nobody

[2015-06-24 02:30] zilongshanren commented on #10044
@walzer  The point is that when using CCLOG in thread callback, it will easily block the thread callback and resulting deadlock.
And this bug is verrrrrrry difficult to debug.

[2015-06-24 02:36] zilongshanren commented on #9752
![qq20150624-1 2x](https://cloud.githubusercontent.com/assets/785541/8321706/d40052e4-1a5c-11e5-8948-83c3a2c2fa9f.png)

[2015-06-24 03:21] stammen opened #12505 "Resources/Shaders/example_Blur.fsh is not OpenGL ES 2.0 compliant"
The for loop in Resources/Shaders/example_Blur.fsh is not OpenGL ES 2.0 compliant and will not compile on some platforms that enforce the requirement that control flow be limited to forward branching and to loops where the maximum number of iterations can easily be determined at compile time.

The use of the calculated value r from a uniform value means the maximum number of loop iterations cannot

[2015-06-24 03:36] walzer opened #12506 "Benefit from parallel project builds by decoupling framework into multiple libraries"
Issue reported from zhihu

Visual Studio supports `parallel project builds`, we can have a try and estimate how faster it can be.

[2015-06-24 04:01] walzer commented on #11566
Copy paste from Zhihu http://www.zhihu.com/question/31163146

---

说个具体的:cocos2d-x的粒子系统
之前有看到zhihu上有人说写的很一般,什么云风只要多少行就能写完,cocos2d-x写了啦么多.
其实这个还不是关键,关键是当我闲的无聊想用neon对这个模块做加速的时候,发现整个模块cache-miss特别多,抛开粒子内存结构的问题,cocos2d-x是一个粒子一个粒子的去add并init,一个粒子一个粒子的去update,然后每个粒子update以及填充vertexbuffer时里面尽然还带各种if,这简直就是我大学时代写出来的过度设计的代码啊!
最后我做了个测试,iPhone4s上,光改一下粒子内存结构,批量去add,init以及update,把各种if提到循环外,就提升了将近15%左右的更新性能,更别说用n

[2015-06-24 04:14] stammen commented on #12506
Before you create a lot of new projects simply enable Multi-processor Compilation in the C++/General properties. When using msbuild add the /m option to the command line. We do this in the Windows 8.1 Universal App project and it builds may times faster than the Win32 project. Also, make sure the Win32 projects are using precompiled headers especially libcocos2d and cpp-tests.

[2015-06-24 05:03] pandamicro commented on #12213
The two unimplemented feature will be delayed to v3.8, the current implementation can be very tricky to support those features

[2015-06-24 05:47] zilongshanren commented on #12493
@eonghk Yep, I should fix it soon, I mean in v3.7, but the branching and release cycle is not determined by me. @walzer Toughts?

[2015-06-24 07:34] linshun commented on #11561
The framework of AnySDK frontend could be merged with Plugin-x.
I don't think SDKBox could be merged with Plugin-x.

Before we merged the framework of AnySDK, it is better to create a PRD in google docs.

[2015-06-24 07:37] zj8487 commented on #11561
+1 replace but keep compatibility

[2015-06-24 09:34] pandamicro opened #12512 "Support Android Studio 1.3 for compilation and debugging C++"

[2015-06-24 09:37] zilongshanren commented on #12512
here is a few links:
- http://kvurd.com/blog/compiling-a-cpp-library-for-android-with-android-studio/
- http://arstechnica.com/gadgets/2015/05/good-news-for-game-devs-android-studio-1-3-supports-androids-cc-ndk/

[2015-06-24 10:24] RaoZiJian opened #12513 "Hold on the button, and the touchEvent still keep execute when its node has been removed."
The step is:
1. Pressed the button, and hold on it.
2. Remove, set visible false the button, keep your finger hold on the position
3. Leave your finger now, and the touchEvent (ended event) would still be executed even when button is gone.

This could be prevented by several ways, it wouldn't take a long time.
So maybe it should be fixed?

[2015-06-24 10:24] RaoZiJian commented on #12513
Cocos2d-x 3.3 with Lua.
UIButton

[2015-06-24 10:45] pandamicro commented on #11823
Duplicated with https://github.com/cocos2d/cocos2d-x/issues/12404

[2015-06-24 10:45] #11823 closed, assigned to nobody

[2015-06-24 10:48] dabingnn opened #12515 "Texture2D refactor: hardware compression"
There is a `TexturePixelFormatInfoTablesValue` table in `CCTexture2D.cpp`, the entry should be determined in run time instead of compile time by Macro.

[2015-06-24 10:57] pandamicro commented on #11618
This should have been solved in this PR: https://github.com/cocos2d/cocos2d-x/pull/12239
we will merged it in v3.8

[2015-06-24 11:00] pandamicro commented on #11739
Proposed PR: https://github.com/cocos2d/cocos2d-x/pull/11583

[2015-06-24 11:23] pandamicro opened #12516 "Refine UI system in native engine"
This bug is a collection for all UI related improvement tasks
## Features:
- [X] Easing out for scroll view: https://github.com/cocos2d/cocos2d-x/pull/12466
- [x] Slider: https://github.com/cocos2d/cocos2d-x/pull/12352
- [x] Slider event handling: https://github.com/cocos2d/cocos2d-x/issues/12351
- [x] Vertical scroll for PageView: https://github.com/cocos2d/cocos2d-x/issues/10778
## Refine:
- [x]

[2015-06-24 11:51] pandamicro commented on #11133
I think a basic conversion unit test can be helpful

[2015-06-24 12:36] pandamicro commented on #12483
Duplicated with https://github.com/cocos2d/cocos2d-x/issues/10834

[2015-06-24 12:36] #12483 closed, assigned to dabingnn

[2015-06-24 13:05] WenhaiLin commented on #12426
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12507

[2015-06-24 13:06] #12426 closed, assigned to samuele3hu

[2015-06-24 13:18] pandamicro commented on #10185
It's fixed by accepting null in JS and convert to nullptr by binding functions.
Lua should support this too, @samuele3hu please check

[2015-06-24 13:44] pandamicro commented on #9516
I think this feature may have lower priority than other refines in v3.8

[2015-06-24 13:49] pandamicro commented on #9484
Duplicated with : https://github.com/cocos2d/cocos2d-x/issues/10778

[2015-06-24 13:49] #9484 closed, assigned to zilongshanren

[2015-06-24 13:53] pandamicro commented on #9399
It's because the anchor point is ignored by default for Layers: https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCLayer.cpp#L64

please try

[code]

[2015-06-24 13:53] #9399 closed, assigned to nobody

[2015-06-24 13:56] pandamicro commented on #9333
@WenhaiLin  Please review this issue

[2015-06-24 14:07] pandamicro commented on #9061
Partially scheduled to v3.8
@jianglong0156 Please set the possible tasks for v3.8

[2015-06-24 14:08] pandamicro opened #12517 "Bind new audio engine in JSB"

[2015-06-24 14:13] richieyan commented on #10471
Why 3.6 not fix this problem?
[It's fixed! Thanks]

[2015-06-24 14:15] stammen commented on #10471
It is fixed in v3.6. Just copy the DLL's to your v3.4 project.

[2015-06-24 15:35] Shulepov opened #12518 "iOS: ARC support"
Is it possible to add ARC support for generated project? I'm not asking for adding ARC support for cocos2d-x itself, just for game project. Many libraries require ARC support and i don't see any reason why it can't be added, at least as an additional option when starting new project.

It won't bring any performance issues as usually there are no any performance sensitive iOS code in the generated

[2015-06-24 15:47] #10471 closed, assigned to nobody

[2015-06-25 02:03] RaoZiJian opened #12519 "A bug of editBox"
Cocos2d-x 3.3 with Lua
The `setMaxLength` is not available sometimes. It's not easy to describe and I would talk this to QuGuanghui.
And The way to fix it is modify the `UIEditBoxImpl-ios.mm` on `Line 236`
-     return newLength <= getEditBoxImplIOS()->getMaxLength();  // delete this line
-    return (newLength<=oldLength) || (newLength <= getEditBoxImplIOS()->getMaxLength());  //add this line

[2015-06-25 02:10] samuele3hu commented on #9958
9.The return value is Object value, it would trigger the compile error.
10.If the functions of class are limited by the macro, the binding function have get the macro limit.
11.Enum class can't be bound automatically.
12.public member variable should be bound.
13.For Lua,no Ref Class have not collect function.

[2015-06-25 02:29] zilongshanren opened #12521 "Add template create and compilation in Jenkins-ci"
It is better to add them as daily build.

[2015-06-25 02:33] zilongshanren opened #12522 "framework build scripts should be added into Jenkins ci"
It it recommended to be daily build.

[2015-06-25 02:59] pandemosth opened #12524 "Downloader should use native HttpClient implementations"
We have native implementations of HttpClient now, which is great. But, AssetManager and Downloader still have a separate implementation that is dependant on libcurl, and this comes with its own ongoing bugs and issues.

Its confusing when scripting that `cc.loader.getXMLHttpRequest()` will use the native HttpClient and yet `cc.loader.loadImg(url, ...)` will not (since it is internally implemented

[2015-06-25 03:01] pandamicro commented on #12524
An issue have been created for removing libcurl dependency in Downloader: https://github.com/cocos2d/cocos2d-x/issues/10382

[2015-06-25 03:33] #10903 closed, assigned to samuele3hu

[2015-06-25 04:57] wulei opened #12527 "3.6 cpp-test ios ogg play2d error"
Error log:
void cocos2d::experimental::AudioCache::readDataTask(): ExtAudioFileOpenURL FAILED, Error = 1954115647

[2015-06-25 05:37] WenhaiLin opened #12528 "FullType test"
FullType : A software library to render fonts from `HANYI FONTS`
For more information : http://www.hanyi.com.cn/solution/?type=detail&id=5

[2015-06-25 06:17] zilongshanren opened #12530 "Merge JSB test project into cocos2d-x"
This would reduce jenkins compile time dramatically.

[2015-06-25 06:32] zilongshanren opened #12531 "Win32 project can't change debugging working directory"

[2015-06-25 08:28] zilongshanren opened #12536 "Add Android studio build to Jenkins PR build and Daily build"

[2015-06-25 12:22] zilongshanren commented on #12493
@eonghk  fixed at https://github.com/cocos2d/cocos2d-x/pull/12537

[2015-06-25 13:15] pandamicro opened #12543 "Refactor Web engine's core to modules"
The web engine is now managed by a dependency config file (moduleConfig.json) and a poor script insertion mechanism. AMD/CMD module management will be great for the web engine to manage module dependencies.
## Essential benefits
1. User and the engine itself can profit from module management feature.
2. It can help user to build up their own web workflow and easily combine cocos with other framewo

[2015-06-25 13:42] dakikifr opened #12544 "WinRT: PreloadSoundEffect search path error"
Hi,

on winRT (checked from cocos3.3 to 3.6), there is a bug in the PreloadSoundEffect function that prevent it from find the sound resource if using FileUtils searchPaths.

My resources folder looks like this:
Resources/common
Resources/lowres
Resources/highres

In common, I store all resolution-independant files, and lowres/highres speaks for themselves.
During game init, I setup my search paths

[2015-06-25 13:48] zilongshanren commented on #12544
@daiki1003  Have you tried v3.7? I think it should be fixed now.

[2015-06-25 13:52] dakikifr commented on #12544
Like I said, I tried up to 3.6, but I'm currently stuck at 3.3 (too much work to upgrade).
I checked 3.7 quickly but the diff was quite big (new sound engine?). I was looking for a quick fix to cherry-pick :)

[2015-06-25 13:55] zilongshanren commented on #12544
@dakikifr  The PR is here: https://github.com/cocos2d/cocos2d-x/pull/10388

[2015-06-25 13:56] zilongshanren commented on #12544
@daiki1003  And also https://github.com/cocos2d/cocos2d-x/pull/10426
I forget to add `cocos2d` namespace in that PR.

[2015-06-25 13:58] dakikifr commented on #12544
Well thanks.
I used the search tool but couldn't find a matching issue on github.

[2015-06-25 13:58] #12544 closed, assigned to nobody

[2015-06-25 16:02] gykapur opened #12546 "fbx-conv "loses" clamping on materials"
Fbx-conv has a bug where we seem to "lose" whether a file has clamping on its textures or not. A working .obj file with clamping set to true for materials will have wrapModeU and wrapModeV set to REPEAT in the converted c3t file (and corresponding c3b) instead of "CLAMP".

If needed, send me an email and I can send an example material and obj file.

[2015-06-25 17:27] daiki1003 commented on #12544
@andyque Was it wrong mention to me? :)

[2015-06-25 21:37] AIGRIND-LLC opened #12548 "Request: add 'enable cascade color' option in CocosStudio"
There is no any option available in CocosStudio which is equivalent of `Node::setCascadeColorEnabled(bool cascadeColorEnabled)` method in runtime.

![image](https://cloud.githubusercontent.com/assets/6168693/8366179/662083da-1b9b-11e5-8cf9-69bae1a2210b.png)

[2015-06-25 22:14] dakikifr opened #12549 "Label with outline crash on winRT"
I've found a bug playing with Labels, it only occurs on winRT (fine in iOS/Mac/Win32/Android).
It's only for specific glyphs, and specific fonts, and always when outline is enabled.

An example of such a crash can be make easily.
Create a new project using the cocos console (from cocos 3.3 up to current v4-develop version), and change the Label creation from HelloWorldScene.cpp to this:

auto labe

[2015-06-25 23:07] stammen commented on #12549
It worked for me using cocos2d-x v3.7. Make sure you put the intuitive.ttf font in the Resources/fonts folder. Screen resolution is 1920 x 1080.

![image](https://cloud.githubusercontent.com/assets/1226490/8367541/221f653a-1b54-11e5-8308-c115a85785d4.png)

[2015-06-25 23:29] dakikifr commented on #12549
It works if I comment the outline command (the glyph is obviously not drawn with outline in this case), but does crash with the line.
In fact I extracted this sample from my whole game that I'm porting to windows phone, everything works fine on all platforms except all the 'e' glyphs for this font that crash.
If nobody produces this error on their computer, I'll give a call stack of the crash.
I m

[2015-06-25 23:30] dakikifr commented on #12549
I should add that I did only try v3.3 and v4.0, haven't try 3.7 yet but will do tomorrow

[2015-06-26 01:03] gykapur opened #12551 "Sprite3D::getAABBRecursively does not get AABB of Nodes with Sprite3d children"
I needed to the bounding box of a sprite3d that I created that has children that are nodes, with Sprite3d children to those nodes (don't know why as I'm using someone else's fbx-conv converted .obj file and not a 3d whizz by any means). The current Sprite3d does not allow this use case (it assumes the Sprite3D only has Sprite3d objects with Sprite3d children.)

The following ugly modification (whi

[2015-06-26 01:10] gykapur commented on #12546
A sample obj file is at http://tf3dm.com/3d-model/hn48-flying-car-10381.html . fbx-conv also loses the directory structure so I had to move the textures from the Maps folder to the main folder (I guess another bug) but I am a 3d newbie so please let me know if it's because I'm clueless to something.

[2015-06-26 01:16] gykapur commented on #12551
A sample obj file that generates this issue is located at: http://tf3dm.com/3d-model/hn48-flying-car-10381.html which will needed to be converted to a c3t file (and then persuant to bug https://github.com/cocos2d/cocos2d-x/issues/12546 will have to be reassigned clamping) This also might be an issue with fbx-conv as the original .obj file does not have this issue but the c3t does.

I can also send

[2015-06-26 01:43] pandamicro commented on #12543
@hyperandroid @Yi @linshun @VisualSJ @Wu-Hao @jwu @jareguo
What do you think about this proposition?

[2015-06-26 01:51] linshun commented on #12543
Yes, we should do some research on it.
We do need the modules feature to make engine maintaining more easier and reducing the package size. Let's put it in v3.8.

[2015-06-26 02:01] yixiaoqingyuz opened #12554 "Camera::project(const Vec3& src) method return the wrong Vec2::y value"
cocos2d-x version is 3.6.
When i set the xoz as the ground,i found that the Camera::project(const Vec3& src) method returned a reverse Vec2::y value.

For example the Camera::LookAt(Vec3(0,0,0)) and the postion of the 3D node in the 3D world is (0,0,-400)(display on the top of the screen),so, the Camera::project(const Vec3& src) should return a Vec2::y that on the top of the screen( for example 80

[2015-06-26 02:30] pandamicro commented on #11562
Duplicated with : https://github.com/cocos2d/cocos2d-x/issues/9954

[2015-06-26 02:30] #11562 closed, assigned to WenhaiLin

[2015-06-26 02:50] pandamicro commented on #9958
Highlighted tasks will be scheduled to v3.8

[2015-06-26 03:45] jareguo commented on #12543
Separating your code in AMD/CMD will lead to a highly organized code structure. And will make it easier to strip unused parts of code. The solution in Fireball's engine-framework is CMD and just inspired by [pixi.js](https://github.com/GoodBoyDigital/pixi.js).

The benefit of CMD is you don't need to define config file(http://requirejs.org/docs/api.html#config), and therefore reduce conflicts so m

[2015-06-26 03:59] jianglong0156 commented on #9061
the assetsmanager will improve these feather in v3.8
- [x] When Downloader::batchDownload receives zero units to download, it will return directly without any notifications. When this happens, AssetsManager won't know everything have been updated already, and end up with a endless wait.
- [x] When the assets manager is released, the download callbacks should be canceled
- [ ] add the option. when

[2015-06-26 08:22] dakikifr commented on #12549
I've done some more tests:
3.3: Crash
3.5: Crash
3.6: OK
3.7-beta: OK
4.0-beta: Crash

So it seems the bug is fixed in current stable branch, but not in dev? Weird.
I didn't test 3.7 since I tested 3.3 and 4.0 (I thought that if the bug was fixed, it would be in devel branch too).

I'll investigate a little more, see if I can find anything

[2015-06-26 09:08] litefeel opened #12563 "CC_PLATFORM_WINDOWS in CCClippingNode.cpp for v2"

[2015-06-26 10:09] dakikifr commented on #12549
Also, it should be noted that the render is absolutly not the same between v3.7 and v3.6 (the 2 that works):

This is 3.6
![cap-3 6](https://cloud.githubusercontent.com/assets/4882169/8375272/136f8530-1bfc-11e5-8795-e885e8039d85.png)

and this is 3.7
![capt-3 7](https://cloud.githubusercontent.com/assets/4882169/8375280/231081ce-1bfc-11e5-9507-f8bfd520e192.png)

[2015-06-26 11:23] dakikifr commented on #12549
I just saw the 3.6 changelog and noticed freetype lib was upgraded to v2.5.5.
I guess it's the reason it's now working fine.

So my question is now:
Is there an easy way to upgrade freetype for my v3.3 project (not easy for me to upgrade to 3.6)??

And you might have a new issue in 3.7 like I described in my previous reply (glyph size changed btw 3.6 and 3.7beta)

(The only weird thing is that it

[2015-06-26 13:22] stammen commented on #12549
You should be able to copy the freetype libs and include files from v3.6 to your v3.3 external folder and then rebuild. Please let me know if this works for you.

[2015-06-26 13:26] dakikifr commented on #12549
It worked (only tried Windows, not WindowsPhone), but I had to change the filename (freetype250.lib vs freetype.lib).
Not very convenient but better than nothing, and not straightforward for managing multiple projects.

I'll consider upgrading to 3.6 but I fear new bugs might arise (like the font size one with 3.7)

[2015-06-26 19:05] trojanfoe opened #12567 "Physics-enabled nodes are teleported during a scene transition."
When a scene transition is used to replace a scene, any physics-enabled nodes in the new scene are sometimes teleported to offscreen positions.  This is caused by `Node::updateTransformFromPhysics()`.

I worked around the issue by not loading sprites in `init` or `onEnter`, but did it in `onEnterTransitionDidFinish()` instead.

This is using v3.7 beta 0 (v3 branch).

See this article of the forum

[2015-06-27 07:07] man2 commented on #12548
+1 for this.. really important feature

[2015-06-27 09:12] zhaijialong opened #12570 "cc.pIsSegmentIntersect"
[code]

@samuele3hu

[2015-06-27 09:44] dakikifr commented on #12549
@stammen Should I close this issue now it has some answers for other ppl (and I got it fixed on my side by upgrading cocos version.. I lost some time but it was not that hard)?
Should I then open a new issue for the label size bug in 3.7 then?

[2015-06-27 11:24] stammen commented on #12549
Yes. Go ahead and close the issue and open a new one for the the label size.

---

From: dakikifr notifications@github.com
Sent: Saturday, June 27, 2015 2:44 AM
To: cocos2d/cocos2d-x
Cc: Dale Stammen (MS OPEN TECH)
Subject: Re: [cocos2d-x] Label with outline crash on winRT (#12549)

@stammenhttps://github.com/stammen Should I close this issue now it has some answers for other ppl (and I got it fix

[2015-06-27 12:46] #12549 closed, assigned to nobody

[2015-06-27 12:53] dakikifr opened #12572 "v3.7-beta createWithTTF label size bug"
Hi,

it looks like v3.7 introduced a bug in the label size for TTF **Label**, compared to all previous cocos versions, as seen on this screenshot showing side-by-side an empty project (tested on win32 and win8.1 desktop), left is cocos3.6, right is cocos3.7 beta up-to-date at commitID 9f32db91549e25581f8c14f5dd95e84216106ca7 )
![labelbug-3 7](https://cloud.githubusercontent.com/assets/4882169/8392

[2015-06-27 14:16] dakikifr commented on #12549
As a reference, the label size bug: https://github.com/cocos2d/cocos2d-x/issues/12572

[2015-06-27 14:43] zilongshanren commented on #12572
@WenhaiLin please check this issue.

[2015-06-28 01:19] Mazyod opened #12573 "Missing RelativeBox Tests"
I can't seem to find any tests that implement `RelativeBox` convenience class.

[2015-06-28 05:06] twolight opened #12574 "crash in mac"
![10e70ce4-ddcf-46b1-9737-17b928c9c3c1](https://cloud.githubusercontent.com/assets/5369941/8395232/bfb96a90-1d96-11e5-9131-eb5b4f87fd2f.png)

in cocos2d-x 3.5,http response statue is 304, game has crash because statusString is nil

[2015-06-28 20:58] tankorsmash commented on #12458
The workaround I use for this is add the xcopy command to the post link step, bind a shortcut to link your project, and hit that shortcut each time you want to use the updated file. Otherwise we're stuck with the current functionality.

[2015-06-28 21:01] naghekyan commented on #12458
@tankorsmash could you be more specific how you have solved this problem. What we should change in project settings? And couldn't it be included into Cocos2d-x default settings?

[2015-06-28 21:08] tankorsmash commented on #12458
It's not ideal, so I'd rather a better fix be implemented, rather than this hacky workaround.

In your projects properties, go to Build Events -> Pre-Link Event, add

[code]

I copied most of that from the post-build event, but it doesn't seem to hurt to be there either.

In Tools -> Options -> Environment -> Keyboards -> look up 'link' -> click Build.Link -> bind to key (I used Ctrl Shift G, glob

[2015-06-29 01:41] fusijie commented on #12554
@yixiaoqingyuz

It's the camera created by yourself or the default one?

And what's the detail args of the camera if the camera is created by yourself?

[2015-06-29 02:16] jie-meng opened #12578 "self:getApp():enterScene("MyScene", "MOVEINB") got exception"
I use cocos2dx 3.5.

When I call self:getApp():enterScene("MyScene", "MOVEINB"), there is an exception.

[code]

if type(t) == "table" then, this line will always be "table" and never go to else.

Because

[code]

all the display.SCENE_TRANSITIONS elements are tables.

So if I use FADE, ok, it works. others FADEEBL, FADEDOWN ... these elements which looks like not table values would go wrong.

[2015-06-29 02:21] #12493 closed, assigned to zilongshanren

[2015-06-29 02:46] litefeel commented on #12563
`CC_PLATFORM_WINDOWS`
at
https://github.com/cocos2d/cocos2d-x/blob/v2/cocos2dx/misc_nodes/CCClippingNode.cpp#L275
https://github.com/cocos2d/cocos2d-x/blob/v2/cocos2dx/misc_nodes/CCClippingNode.cpp#L281
https://github.com/cocos2d/cocos2d-x/blob/v2/cocos2dx/misc_nodes/CCClippingNode.cpp#L317

it's `CC_PLATFORM_WIN32` ?

[2015-06-29 02:56] pandamicro commented on #12563
You are right, I think they are missed when refactoring the macros
https://github.com/cocos2d/cocos2d-x/blob/v2/cocos2dx/platform/CCPlatformConfig.h#L41

[2015-06-29 03:14] yixiaoqingyuz commented on #12554
@fusijie
I created the camera by myself,and the gound base on the xoz plane.
    Size vs = Director::getInstance()->getVisibleSize();
    mCamera3D = Camera::createPerspective(60, vs.width/vs.height, 0.1, 2600);
    mCamera3D->setCameraFlag(CameraFlag::USER1);
    mCamera3D->setPosition3D(Vec3(0, 978, 482));
    mCamera3D->lookAt(Vec3(0, 0, 50),Vec3(0, 0, -1));
    addChild(mCamera3D);

[2015-06-29 03:15] pandamicro commented on #11563
Current status: AudioEngine is only absent on Linux, Win 8.1 universal support have been done in :

https://github.com/cocos2d/cocos2d-x/pull/11893
https://github.com/cocos2d/cocos2d-x/pull/12068
https://github.com/cocos2d/cocos2d-x/pull/12234
https://github.com/cocos2d/cocos2d-x/pull/12472
https://github.com/cocos2d/cocos2d-x/pull/12547

Now considering our tasks priority, I think Linux support c

[2015-06-29 03:17] pandamicro commented on #11563
@cesarpachon If you are willing to support it on Linux, we will really appreciate any kind of contributions. If you have any question, you can ask @WenhaiLin . He is the designer of new AudioEngine

[2015-06-29 03:22] WenhaiLin commented on #12572
@dakikifr Hi,I can't reproduce this issue.
![20150629111319](https://cloud.githubusercontent.com/assets/5234286/8400437/f08e68d6-1e50-11e5-869d-1a14bb950f3b.png)
![_20150629112038](https://cloud.githubusercontent.com/assets/5234286/8400441/fa56cc0a-1e50-11e5-941b-04b4a1bb2374.png)

[2015-06-29 03:28] zilongshanren opened #12581 "Unify getTimeOfDay and String related functions"

[2015-06-29 06:27] dakikifr commented on #12572
That's weird.
I simply checked out tag cocos2d-x-3.6, updated submodules and deps, then created a new project that I compiled.
Next I checked out latest v3 (commit iD provided in my original post), updated submodules and deps, created a new project and compiled.
I tried both win32 and win8.1 and got the issue.
If I find some time in the next couple hours I'll try to dual debug this, but I'd like t

[2015-06-29 06:38] fusijie commented on #12554
please use this method: `Vec2 projectGL(const Vec3& src) const;`

`Vec2 project(const Vec3& src) const;`: Origin point at left top corner in screen-space.
`Vec2 projectGL(const Vec3& src) const;`: Origin point at left bottom corner in GL-screen-space.

so you get a reverse Vec2::y value...

[2015-06-29 06:40] WenhaiLin commented on #12572
This issue cause by https://github.com/cocos2d/cocos2d-x/pull/12201. It is not a bug.

[2015-06-29 06:44] super626 commented on #12311
@eonghk
@folgerhu
Thanks.

@eonghk  's  method does work.

[2015-06-29 06:50] dakikifr commented on #12572
Hum, I'll than make a new test and use the same appdelegate and helloworld Files, if it's ok I'll close this thanks

[2015-06-29 06:52] pandamicro commented on #12530
@andyque Please help @jianglong0156 for platforms that he is not very familiar with.

[2015-06-29 07:04] zilongshanren commented on #12530
@pandamicro  ok , @jianglong0156  you could ask me anytime. But please finish this issue ASAP.
We need it to improve Jenkins build performance.
Thanks.

[2015-06-29 07:07] aababy commented on #10453
@KrissMu, have you resolve this problem?

[2015-06-29 07:12] jianglong0156 commented on #12530
ok. I will take this job as a first priority

[2015-06-29 07:13] yixiaoqingyuz commented on #12554
Thanks for your help!
Maybe change the name of these method to Consistent with the name of Touch::getLocationInView() and Touch::getLocation() will be better.

[2015-06-29 07:24] fusijie commented on #12554
ok, please close this issue.
thanks for your suggestion. @super626

[2015-06-29 07:25] pandamicro commented on #10185
@dualface Please check whether lua `null` can be passed as parameter and be converted to `nullptr` in C++

[2015-06-29 07:26] fusijie commented on #12505
@stammen As we have tested, Win/Mac/iOS/Android is OK. I know the GLSL spec, but we need the blur effect controlled dynamically.

Is the shader compile requirement need by all windows 8.1 universal devices or angle? And will win10 support this feature?

[2015-06-29 07:30] pandamicro commented on #11739
Duplicated with https://github.com/cocos2d/cocos2d-x/issues/9479

[2015-06-29 07:30] #11739 closed, assigned to nobody

[2015-06-29 07:33] pandamicro commented on #10076
@samuele3hu Can you be more specific about this issue ?

[2015-06-29 07:36] aababy commented on #10453
this is the solution
Director::getInstance()->setProjection(Director::Projection::_2D);
http://www.gimoo.net/t/1506/558e2dd315b08.html

[2015-06-29 07:38] fusijie commented on #10171
The test case is not exist now . @WenhaiLin

[2015-06-29 07:44] dualface commented on #11894
add to main.lua

[code]

[2015-06-29 07:58] zilongshanren commented on #12573
@Mazyod  It's missing in cpp-tests, I'll add them back in v3.8. Thanks.

[2015-06-29 08:00] Mazyod commented on #12573
Thanks, what do you mean "missing in cpp-tests"? Can I find them elsewhere? I am trying to learn about them.

[2015-06-29 08:07] dakikifr commented on #12572
Ok good, I didn't notice a scaleFactor was applied. I expected the sprite to be scale too, since there is only one version of it (not a double sized, or half sized one).
Everything looks ok. I'll try my game using 3.7 then.

[2015-06-29 08:07] #12572 closed, assigned to WenhaiLin

[2015-06-29 08:09] WenhaiLin commented on #10171
Test case:`Node:Sprite-->Testing SpriteBatchNode` has this bug too.

[2015-06-29 08:11] zilongshanren commented on #12573
@Mazyod  `UILayoutTest_Layout_Relative_Location`  is a test for testing relative layout.
And `RelativeBox` is just a wrapper class for `Layout` with relative alignment.

There are currently no `RelativeBox` tests as you mentioned above.

I mean I should add `RelativeBox` tests in cpp-tests in the future.

[2015-06-29 08:25] zilongshanren commented on #11784
@lalaloha How to reproduce this issue?

[2015-06-29 08:42] zilongshanren commented on #9004
@puckery I have optimized the ui::Text in v3.7, could you help me to test it?
The memory consumption should be reduced now.
But as I mentioned above, they are still extra memory consumption in ui::Text.
Thanks.

[2015-06-29 09:01] #12351 closed, assigned to zilongshanren

[2015-06-29 09:01] #12350 closed, assigned to zilongshanren

[2015-06-29 09:39] fusijie commented on #10487
I have added a test case to reproduce this bug.

Renderer->Auto-culling is affected by transform and view matrix. Now the implementation ignore the view matrix dirty so lead to this bug.

The `checkVisibility` method is fixed [here](https://github.com/cocos2d/cocos2d-x/commit/4b768c5fd81a5cfd6b0e4e1fc5210630a7f8e75e) by @yangws ?

But `draw` method still not check view matrix dirty. Let's discuss

[2015-06-29 10:26] dakikifr opened #12589 "v3.7-beta Label issue with shadow&outline"
Hi,

Labels (TTF) have an issue using v3.7 beta (v3 being at commit 85af18f6341d55a1e22f46cf0754fb167af22f49).
If you enable either shadow or outline, characters are not correctly displayed as see on this screenshot comparing v3.6 (top) and v3.7 (bottom) :
![buglabel](https://cloud.githubusercontent.com/assets/4882169/8406114/a02ce18e-1e59-11e5-8190-e48bd8ce23e1.PNG)

Some pixels are tunctated at

[2015-06-29 11:57] stari4ek opened #12590 "Label: outline color is affected by main label's color"
Main color of label affect's outline color:
![outline_issue](https://cloud.githubusercontent.com/assets/327778/8407411/ffbaf982-1e6e-11e5-86fb-70c6205de8bd.png)
Expected:
![outline_issue_fixed](https://cloud.githubusercontent.com/assets/327778/8407396/e0d618e4-1e6e-11e5-93d5-12e1589d05f3.png)

[2015-06-29 12:08] WenhaiLin commented on #12590
@stari4ek Because to me,you are confusing the two color:the color of node and the text color of label.

[2015-06-29 12:12] WenhaiLin commented on #12590
@stari4ek Node:setColor: the color should affect to text color,outline color,shadow color.
Label:setTextColor: the text color of label and the color of node are not the same.

[2015-06-29 12:16] stari4ek commented on #12590
hm.
You're right. color of node messes with outline color.
Currently I'm checking it with LWF. When it's label is rendered:
- color of text is bypassed with node's color (come with vertex data)
- "u_textColor" uniform is WHITE (ffffffff)
- "u_effectColor" uniform is outline color

I was going to create PR, but probably It's more about LWF than cocos. But can You check next commit: https://github.c

[2015-06-29 12:23] stari4ek commented on #12590
Checked LWF. You're right, It performs setColor. Will go deep with LWF.
Thank You

[2015-06-29 12:27] dakikifr opened #12592 "win8.1 crash when loading specific png file"
Using this png file: https://drive.google.com/open?id=0B1_hJ_Q8mPOBWWtzV3ZKUFhBNHc&authuser=0

and replacing the "HelloWorld.png" by "flare.png" in the template project
v3.5 and before: OK
v3.6 and 3.7 : crash

Only crashing on Win8.1-universal build.
Win32/ios/android/mac are all OK

Crash is in CCTexture2D.cpp, inside bool Texture2D::initWithImage(Image *image, PixelFormat format):
Line PixelFor

[2015-06-29 14:36] #12554 closed, assigned to fusijie

[2015-06-29 15:43] stammen commented on #12592
@andyque @pandamicro This is fixed in PR https://github.com/cocos2d/cocos2d-x/pull/12593

[2015-06-29 16:22] dakikifr commented on #12592
Does it mean I have to change the format of my PNG file, or your PR will fix the loading of my png?
If the former, to what (and how) should I convert the file?

[2015-06-29 16:44] stammen commented on #12592
The pull request fixes cocos2d-x to work with your png which appears to be in 64 bpp format.

---

From: dakikifr notifications@github.com
Sent: Monday, June 29, 2015 9:22 AM
To: cocos2d/cocos2d-x
Cc: Dale Stammen (MS OPEN TECH)
Subject: Re: [cocos2d-x] win8.1 crash when loading specific png file (#12592)

Does it mean I have to change the format of my PNG file, or your PR will fix the loading of

[2015-06-29 16:58] dakikifr commented on #12592
hum ok thanks. I don't know why it's in 64bpp, I'll try to convert it to 32bbp instead and see if it's visually correct, so I don't have to wait for the PR.

Edit: I know why is was in 64bpp, because I can see some artefacts in only 32bpp (It's not that big of a deal for a windows phone, but I can clearly see it on a win desktop)

[2015-06-30 02:21] RaoZiJian opened #12595 "WebView has a white edge on iPhone 5"
![iphone 5](https://cloud.githubusercontent.com/assets/5220134/8422702/ae27aa90-1f11-11e5-9965-8e3136e9dedf.PNG)
![iphone 6 plus](https://cloud.githubusercontent.com/assets/5220134/8422704/b2f227e4-1f11-11e5-9a71-f6aa91704d61.PNG)

Cocos2d-x 3.3 with Lua
iPhone 6 Plus(Bottom) is nice while iPhone 5 leaving white edge.
iPhone 6 is the same as iPhone5

[2015-06-30 02:25] zilongshanren commented on #12595
@RaoZiJian  How to reproduce? Could you make a sample demo?

[2015-06-30 02:25] #12311 closed, assigned to super626

[2015-06-30 02:40] RaoZiJian commented on #12595
local url = "http://caipiao.163.com/nfop/crazythreeabout/index.htm"
 local webView = ccexp.WebView:create()
        :size(scrollSize)
        :align(display.BOTTOM_CENTER, alignX, bottomY)
        :addTo(self.frame)
    webView:loadURL(url)
    webView:setScalesPageToFit(true)

[2015-06-30 02:41] RaoZiJian commented on #12595
![common_window_bg_3](https://cloud.githubusercontent.com/assets/5220134/8422930/7f67eee2-1f14-11e5-90fd-63f0456b20ea.png)
This is the self.frame, it is just a background of the webView in the previous code

[2015-06-30 02:43] RaoZiJian commented on #12595
The scrollSize is about cc.size(649, 381)

[2015-06-30 02:43] RaoZiJian commented on #12595
I cannot make a new demo at right now

[2015-06-30 03:12] almostasleep opened #12596 "ADT Support is Ending"
Google is ending support for eclipse. What are your plans about this? http://www.androidpolice.com/2015/06/26/google-officially-ends-support-for-adt-with-eclipse-urges-android-developers-to-migrate-projects-to-android-studio/

[2015-06-30 03:19] WenhaiLin commented on #12596
Cocos2d-x has supported Android Studio.

[2015-06-30 03:23] cy-zhang-lei commented on #12596
If we are using Cocos2d-x V3.2, do we necessarily need to upgrade to a later version in order to migrating to Android studio ? Thank you.

[2015-06-30 03:47] yue19870813 commented on #9627
I don't think so.You can give gamer two choice, because it's a trouble in my project.

[2015-06-30 03:58] WenhaiLin commented on #10314
@joewan I can't reproduce this issue on iPhone 4s(iOS 7.1.2) and iPhone 5s(iOS 8.3)

[2015-06-30 04:04] WenhaiLin commented on #10314
@joewan Is it has lower fault probability?

[2015-06-30 05:50] WenhaiLin commented on #12596
@cy-zhang-lei I think you do not need to upgrade before the official launch of Android Studio 1.3 final  version. Android Studio 1.3 is a new version of the IDE with built-in support for the NDK.

[2015-06-30 05:52] WenhaiLin commented on #12596
@almostasleep Please close this issue.

[2015-06-30 05:55] cy-zhang-lei commented on #12596
Thank you very much :)

[2015-06-30 06:41] SweetEyesVN commented on #8528
Is this issue fixed pls? I have the same problem here :(.

[2015-06-30 07:29] yangws commented on #8161
[code]

The codes iterate all frames, every frame may be have different delay units, which is a member field in class AnimationFrame. The codes is correct:)

[2015-06-30 07:36] #8161 closed, assigned to nobody

[2015-06-30 07:40] WenhaiLin commented on #10314
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12604

[2015-06-30 07:40] fusijie commented on #11970
@yiquanshui

`_alloca` allocates size bytes from the program stack. The allocated space is `automatically freed` when the calling function exits (not when the allocation merely passes out of scope). Therefore, `do not pass` the pointer value returned by _alloca as an argument to free.

We often do this:

[code]

You can refer to [Linux man-pages](http://linux.die.net/man/3/alloca) or [MSDN](https:

[2015-06-30 08:36] tony-hoang999 opened #12605 "Add Vietnamese as an official supported language in cocos2d-x"
Dear cocos2d-x team,

I am writing to ask for an officially support from cocos2d-x for Vietnamese language.
I'm really appreciated

Thank you very much!

[2015-06-30 08:52] WenhaiLin commented on #11822
@huangzhentao It's not surplus, `numLines  * theLabel->_commonLineHeight`  is not necessarily equal to `labelHeightPixel`.
In the latest version, the code has changed.

@pandamicro Please close this issue.

[2015-06-30 09:06] WenhaiLin commented on #9920
@pandamicro I suggest delayed this issue to future versions.
UserDefault should be refactored for no longer base on XML. I think change parameters at that time is more appropriate.

[2015-06-30 09:08] #11822 closed, assigned to WenhaiLin

[2015-06-30 09:09] pandamicro commented on #9920
Ok, I agree, add APIs or break backward compatibility is not very appropriate

[2015-06-30 12:53] kmbriedis opened #12608 "WinRT Unicode failure"
Cocos2d-x is incorrectly converting from Unicode to UTF-8  in WinRT and therefore apps are crashing for users having username with non-Latin symbols.

E.g., for Windows 8.1 user with name "Māris", writable path should be `"C:/Users/Māris/AppData/.../LocalState/"`
But `FileUtils::getInstance()->getWritablePath();`
is returning `"C:/Users/M\x1ris/AppData/.../LocalState/"` instead, which is invalid f

[2015-06-30 14:29] stammen commented on #12608
@kmbriedis  We will look into this.

[2015-06-30 15:22] #12596 closed, assigned to nobody

[2015-06-30 15:23] zilongshanren commented on #12605
Could you send a patch?

[2015-07-01 01:47] #11974 closed, assigned to nobody

[2015-07-01 02:18] super626 commented on #10928
@woc2006
@walzer
It is cropped by the camera.

Take a look at the default camera.

[code]

The camera's near plane is 10, and far plane is zeye + size.height/ 2.0f;
Only the scene between the near plane and far plane can be seen.

[2015-07-01 02:44] WenhaiLin commented on #11154
@ginobean You should register a collision listener by event dispatcher.
You can get access to contacts by implementing a contact listener. The contact listener supports several events: begin, pre-solve, post-solve and separate.

For more information: http://cocos2d-x.org/programmersguide/12/index.html#collision

[2015-07-01 02:45] WenhaiLin commented on #11154
@pandamicro @andyque This issue should be close.

[2015-07-01 03:16] ginobean commented on #11154
The reason why a separate post step callback is useful is that typically during a collision, as I understand it, it's not a good idea to destroy physics objects during the collision callback.
So, typically, what I tend to do is, during the collision callback, set a flag on the object to indicate that the object should be removed/destroyed at the end of the current physics step.
Then, in the post s

[2015-07-01 03:25] WenhaiLin commented on #11154
@ginobean OK, i get it.

[2015-07-01 06:24] yue19870813 commented on #12134
How about this now?

[2015-07-01 06:41] folgerhu opened #12616 "FontAtlasCache::releaseFontAtlas() need fault-tolerant"
RefPtr < widgets > gWidget, the gWiget tree contains the ui::Label objects, when the end of the program:
1. _atlasMap first be destructor, this variable is void
2. to gWidget destructor, ui::Label destructor
3. ui::Label destructor sort used static FontAtlasCache: : releaseFontAtlas(), access to _atlasMap inside
4. but because _atlasMap is invalid, the program will be crash

[code]

Note: All simi

[2015-07-01 06:58] WenhaiLin commented on #12589
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12619

[2015-07-01 07:54] yangws commented on #8074
Add massive text using system default font in single ui::Text will cause glError, should use TTF font or split massive text to different text controls.

[2015-07-01 07:59] #8074 closed, assigned to zilongshanren

[2015-07-01 08:12] sbrednikhin opened #12621 "Unable to get correct path from FileUtilsWin32::getWritablePath if it has Unicode symbols"
FileUtilsWin32::getWritablePath uses SHGetFolderPathA, SHCreateDirectoryExA, GetModuleFileNameA, it looks like SHGetFolderPathW, SHCreateDirectoryExW, GetModuleFileNameW must be used instead.

[2015-07-01 08:31] dakikifr commented on #12589
Is your commit fixing the char spacing too, or only the top being truncated?

[2015-07-01 08:43] WenhaiLin commented on #12589
@dakikifr The letter spacing should not be expanded with outline enabled.For more information : https://github.com/cocos2d/cocos2d-x/issues/12217

[2015-07-01 08:45] WenhaiLin commented on #12589
@dakikifr You can still change the space between characters by `Label::setAdditionalKerning`.

[2015-07-01 08:45] yangws commented on #8225
Test engine version 3.7 on android and ios devices:  emojis displayed correct in edit box.
![android](https://cloud.githubusercontent.com/assets/488183/8450778/71243b04-2010-11e5-8ea1-94edfcfe02f1.png)
![ios](https://cloud.githubusercontent.com/assets/488183/8450777/70c90a0e-2010-11e5-997e-93a6fc1d8923.png)

[2015-07-01 08:49] minggo commented on #8225
@yangws Good job.
Thanks.

[2015-07-01 08:49] #8225 closed, assigned to nobody

[2015-07-01 08:50] dakikifr commented on #12589
Thanks for the function, but my concern was about the default behaviour. Same code (if not deprecated) should not behave differently when changing cocos version.
In my bug report, we can see 2 bugs (or at least 1 visual bug and 1 change of behaviour):
- Glyphs truncated at the top (bug) which you seemed to have fixed (thanks)
- Glyphs spacing shorter and overlapping (bug or change of default behav

[2015-07-01 08:52] dakikifr commented on #12589
Or maybe kerning was not correctly supported in previous cocos version for TTF fonts, I don't have this answer (and if it's the case, then the chars are now properly using kerning and so more tighly packed, and thus it's my job to change my code to behave like it pleases me).
But I don't think it's "normal" for glyphs to overlap their outlines

[2015-07-01 09:20] WenhaiLin commented on #11143
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12624

[2015-07-01 09:24] fusijie commented on #10584
Is the issue need to be fixed in v3.8? @pandamicro

[2015-07-01 09:31] yangws opened #12626 "Engine support composite 2D/3D scene by moving UI and camera far away."
Forum thread: http://discuss.cocos2d-x.org/t/found-bugs-when-composite-3d-2d-mixed-scene-by-moving-ui-and-the-camera-which-look-at-far-away/21907

@pandamicro

This function seperated to several PRs, list below:
- [x] https://github.com/cocos2d/cocos2d-x/pull/12419
- [x] https://github.com/cocos2d/cocos2d-x/pull/12602 :bugfix https://github.com/cocos2d/cocos2d-x/pull/12711 , https://github.com/coc

[2015-07-01 09:35] WenhaiLin commented on #10584
This issue no longer exist.

[2015-07-01 09:35] #10584 closed, assigned to nobody

[2015-07-01 09:44] fusijie commented on #10171
@WenhaiLin Please help to check. Thanks.

[2015-07-01 11:12] pandamicro opened #12628 "Add cc.director.setClearColor for the web engine"
Already done in Cpp: https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/base/CCDirector.cpp#L691
1. This feature should be supported by WebGL and Canvas renderer
2. Transparent color should be supported

WebGL sample code provided by @jwu

[code]

[2015-07-01 16:24] stammen opened #12632 "v3 branch jsb_cocos2dx_ui_auto.cpp breaks Win32. Windows 8.1 and Windows 10 builds"
v3 branch

jsb_cocos2dx_ui_auto.cpp breaks Win32. Windows 8.1 and Windows 10 builds. hitTest is incorrect.

..\auto\jsb_cocos2dx_ui_auto.cpp(1691): error C2660: 'cocos2d::ui::Widget::hitTest' : function does not take 1 arguments

[2015-07-02 03:22] fusijie commented on #10105
@dabingnn  How to reproduce it?

[2015-07-02 03:45] natural-law opened #12638 "Support package & run win8.1-universal project with console."
Now console only support compile the win8.1-universal project. Should support generate package & run the package.

[2015-07-02 06:02] pandamicro opened #12642 "JSB cc.easeBounceIn(...).reverse is not a function"
Synced from here: https://github.com/cocos2d/cocos2d-js/issues/1777

[2015-07-02 07:17] yangws commented on #8228
Test in engine version 3.7, can't reproduct this bug on v3.
![2015-07-02 15 16 24](https://cloud.githubusercontent.com/assets/488183/8471676/756bada6-20cd-11e5-89a9-5212d429d6b9.png)

[2015-07-02 07:19] minggo commented on #8228
Thanks @yangws .

[2015-07-02 07:19] #8228 closed, assigned to yangws

[2015-07-02 07:38] jareguo commented on #12628
It seems like you should also change the hardcoded background color in `cc.Director.setGLDefaultValues`.

from

[code]

to

[code]

[2015-07-02 08:02] yangws commented on #8242
Test on engine version 3.7, can't reproduct this bug by codes below:

[code]

[2015-07-02 08:21] WenhaiLin commented on #9664
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12644

[2015-07-02 08:31] stari4ek opened #12645 "iOS: depth/stencil buffers attributes are ignored"
1. disable depth and stencil buffers: `GLView::setGLContextAttrs({8, 8, 8, 0, 0});` usually from `AppDelegate::initGLContextAttrs`
2. `GLViewImpl::convertAttrs` checks for RGBA8888 and 24+8(depth+stencil) only
3. otherwise default will be used `kEAGLColorFormatRGB565`/`GL_DEPTH_COMPONENT16`

[2015-07-02 08:41] minggo commented on #8242
Thanks @yangws .

[2015-07-02 08:46] #8242 closed, assigned to yangws

[2015-07-02 09:19] xpol opened #12650 "[ios] ccui.EditBox, bug when hide keyboard without enter."
I have a ccui.EditBox used as username input:
1. Remove old app
2. reinstall my app using Xcode run
3. run app, tap the ccui.EditBox, switch IME to **English (US)**
4. When input `li` and the `Ali` will have focus, see attached image.
5. Click outside of keyboard, the keyboard hides, and the ccui.EditBox will have `li` filled.
6. ccui.EditBox:getText() will returns `Ali`.

![1_pic](https://cloud.g

[2015-07-02 09:39] yangws commented on #8254
Can't reproduct this bug with engine version 3.7 on Nexus5 android 4.4.4, which metioned in that stackoverflow post. onResume and onPause called once when lock/unlock screen.

[2015-07-02 09:41] minggo commented on #8254
Thanks @yangws.

[2015-07-02 09:41] #8254 closed, assigned to yangws

[2015-07-02 09:44] pandamicro commented on #12650
Thanks for reporting, if we have names for the bugs, we will name it after Li, :-)

[2015-07-02 09:47] zilongshanren commented on #12650
@xpol  How could I reproduce this issue? Which device is needed for reproducing this issue?

[2015-07-02 09:48] zilongshanren commented on #12650
@xpol  Which input method do you use?

[2015-07-02 09:51] xpol commented on #12650
@andyque

IME: English (US)

I tested under iOS 8.4 (iPhone 6 Plus) and iOS 8.3 (iPad Air 2).

[2015-07-02 09:56] zilongshanren commented on #12650
@xpol  I still can't reproduce this issue. Have you try a different device?

[2015-07-02 10:01] yangws commented on #8252
Can't reproduct this issue with engine version 3.7 on windows 8.1.
![2015-07-02 17 59 58](https://cloud.githubusercontent.com/assets/488183/8474679/5f6ee8a8-20e4-11e5-8848-fdb6bdd76592.png)

[2015-07-02 10:02] pandamicro commented on #12632
Hi, Dale, I confirmed, Widget's hitTest api do accept only one argument, the autobindings code shouldn't have any problem

[2015-07-02 10:09] rabee198 opened #12652 "cc.loader.getXMLHttpRequest() can't be retain in JSB"
cocos js 3.6.1在jsb下 cc.loader.getXMLHttpRequest() 赋值给全局变量后，下次再调用的话，已经被释放，希望能加个类似retain的方法。

[2015-07-02 10:11] rabee198 opened #12653 "LabelTTF enableStroke have no effect in JSB"
cocos js 3.6.1 jsb下enableStroke不生效

[2015-07-02 10:15] rabee198 commented on #12653
cc.LabelTTF的enableStroke方法~

[2015-07-02 10:17] yangws commented on #8258
Can't reproduct this issue with engine version 3.7 on windows 8.1, which set Display and select Larger - 150% radio box.

[2015-07-02 10:18] dakikifr commented on #12589
Oh I didn't see your answer with the link to the issue 12217. So it explains what I replied just above :)
So it's a change in the default behaviour and I'll now have to play with setAdditionalKerning. Thanks!

Please notify (and close) this issue when it's merged in v3.7, thanks!

[2015-07-02 10:22] minggo commented on #8258
Thanks @yangws.

[2015-07-02 10:22] #8258 closed, assigned to yangws

[2015-07-02 10:25] fusijie commented on #10105
@dabingnn

I have reviewed the TextureCache source code, then tested following case for TextureCache in v3.7, can't reproduce any memory leakage:

`platform, IDE and memory detected tools:`
`Mac:` Xcode v6.3.2, Instruments
`Windows:` VS2013, vld v2.4rc2

`Test1: addImage synchronously and removeImage`

[code]

`Test2: addImage asynchronously and removeImage`

[code]

any suggestion?

[2015-07-02 10:29] WenhaiLin commented on #12589
@dakikifr Sorry to be slow replying. The letter spacing should not be expanded with outline enabled(References to Android,etc..). We need to change it today or in the future.

[2015-07-02 10:35] pandamicro commented on #12628
@jareguo Thanks !

[2015-07-02 10:35] pandamicro commented on #12628
@ZhangMenghe Please try to fix this issue

[2015-07-02 10:47] #11143 closed, assigned to WenhaiLin

[2015-07-02 10:57] dakikifr commented on #12589
Isn't this already changed by commit from issue 12217, in v3.7 branch?
If so, then it has already been changed :D (and my screenshots show it has)
Anyway, I'll try with the setAdditionalKerning method, as soon as your  fix for top of glyphs being cropped is pushed in v3.7 (if not already)

[2015-07-02 11:06] #10314 closed, assigned to nobody

[2015-07-02 13:25] tankorsmash commented on #9664
Thank you

[2015-07-02 13:27] Jumes opened #12655 "IndexBuffer::recreateVBO() generated buffer object is bound to GL_ARRAY_BUFFER"
Hello, I found the code below in cocos2d-x-3.6, GL_ARRAY_BUFFER should be replaced with GL_ELEMENT_ARRAY_BUFFER

void IndexBuffer::recreateVBO() const
{
    CCLOG("come to foreground of IndexBuffer");
    glGenBuffers(1, &_vbo);
    glBindBuffer(GL_ARRAY_BUFFER, _vbo);
    const void\* buffer = nullptr;
    if(isShadowCopyEnabled())
    {
        buffer = &_shadowCopy[0];
    }
    CCLOG("recreate

[2015-07-02 15:33] #12592 closed, assigned to zilongshanren

[2015-07-02 15:47] pandamicro opened #12657 "Make transition from separated images to sprite frames in packed texture more smooth"
Developers use images separately in development, but at debug/release phase, they often use packed texture. That means they need to change their code:

[code]

It's better to let them keep the same code no matter they use packed texture or not.

[2015-07-03 01:37] jminht commented on #12154
请问解决了么？

[2015-07-03 01:57] minggo commented on #8252
Thanks @yangws .

[2015-07-03 01:57] #8252 closed, assigned to yangws

[2015-07-03 03:08] yangws commented on #12626
All PRs are done.
@pandamicro

[2015-07-03 03:11] pandamicro commented on #12626
Thanks

[2015-07-03 03:11] #12626 closed, assigned to yangws

[2015-07-03 06:37] pandamicro opened #12665 "Add some 3D show cases"
We can buy some resources to build up some 3D show cases with great visual effects

Proposed features
- [ ] Light Map
- [ ] Water
- [ ] UV animation
  etc...

[2015-07-03 06:54] WenhaiLin commented on #12589
@dakikifr The behavior of letter spacing is changed in v3.7 branch. The cropped issue have been fixed in v3.7 branch.

[2015-07-03 07:12] jminht opened #12666 "LabelTTF:the letters slightly cut"
i'm using the cocos2dx v3.1.1.
i found the labelttf may slightly cut with some letters, especially "069".
as you may see, the upper one is from v3.6 and the performance is right.
the one below is from my project.
for some reason, i can't update the project to v3.6 immediately, i can only slowly compare the code and update my project.
So, which part of the code in the engine should i compare to sol

[2015-07-03 07:26] folgerhu opened #12668 "Lua-bindings-manual-network--LuaMinXmlHttpRequest have a memory leak"
[code]

LuaMinXmlHttpRequest if only create, not to use, can lead to memory leaks, _httpRequest should be released in the destructor.

[2015-07-03 07:30] WenhaiLin commented on #12666
This issue may be fixed at https://github.com/cocos2d/cocos2d-x/pull/7770/files. I'm not sure
I suggest you synchronize the following files from https://github.com/cocos2d/cocos2d-x:
CCFontAtlas.h and CCFontAtlas.cpp
CCFontFreeType.h and CCFontFreeType.cpp
CCLabel.h and CCLabel.cpp
CCLabelTextFormatter.h and CCLabelTextFormatter.cpp

[2015-07-03 07:33] dakikifr commented on #12589
Thanks, I'll take a look and try to see how I can achieve my previous spacing using Label::setAdditionalKerning (maybe it's just outlineSize*2)

[2015-07-03 07:33] #12589 closed, assigned to WenhaiLin

[2015-07-03 07:43] #9664 closed, assigned to WenhaiLin

[2015-07-03 08:20] folgerhu opened #12672 "cc.RenderTexture.setBlendFunc(cc.ONE_MINUS_SRC_ALPHA, cc.ZERO) NATIVE and WEB run results are different"
[code]

![dfb11c38-9a50-4a1d-9949-e4a46907e401](https://cloud.githubusercontent.com/assets/3455415/8495316/3e2d1b9a-219f-11e5-9d2a-7e2db6518142.png)

If setBlendFunc(cc.SRC_ALPHA, cc.ZERO) then the result will in turn.

[2015-07-03 08:33] jminht commented on #12666
@WenhaiLin
thanks.
i've synchronized those files as you said, but the problem is still there.
with v3.1.1, the node draw and visit are:

[code]

but v3.6, it's turns to be:

[code]

i don't know whether the different params matters.

[2015-07-03 08:49] WenhaiLin opened #12673 "Label:the characters are displayed incorrect with "dark roast.ttf"."

[2015-07-03 08:54] WenhaiLin commented on #12673
![tt](https://cloud.githubusercontent.com/assets/5234286/8495946/0ba2542e-21a4-11e5-81e5-5fec0c43d15f.png)

[2015-07-03 08:54] WenhaiLin commented on #12673
Feedback from the community:http://discuss.cocos2d-x.org/t/custom-ttf-font-rendering-issue/16094/2

[2015-07-03 09:32] yangws commented on #8270
Can't reproduct this issue using engine version 3.7 on android JellyBrain, which that post mentioned.
@minggo

[2015-07-03 09:36] jminht commented on #12666
![diff](https://cloud.githubusercontent.com/assets/4132186/8496794/8eb4d606-21aa-11e5-8e0a-43211f1b8cfa.png)

@WenhaiLin
the left is from v3.6 and the right is from my project.
i compare the screenshots in beyond compare.
the result seems that font in my project is a little bigger than the font in v3.6, so that the font in my proj appears to be slightly cut at the edge.
where can i check to track

[2015-07-03 09:41] yangws commented on #8271
As design, one Sprite instance should only init once, the behavior of the sprite which init twice is undefined.
As your description, after create a Sprite for initWithSpriteFrame, you should create another Sprite instance for initWithTexture.
@minggo

[2015-07-03 10:06] venetanji commented on #12632
This breaks android too. I think this commit may be causing it:

https://github.com/cocos2d/cocos2d-x/commit/f8a5b1e18c071bb1bcc37c4dd273f93ee4d730ad#diff-b4f082f82b3fd911e648b8966b8353b0

[2015-07-03 10:06] minggo commented on #8271
Thanks @yangws .

[2015-07-03 10:06] #8271 closed, assigned to yangws

[2015-07-03 10:07] minggo commented on #8270
Thanks @yangws .

[2015-07-03 10:07] #8270 closed, assigned to yangws

[2015-07-04 00:37] ddegese opened #12681 "EXC_BAD_ACCESS on Transition on OSX 10.11 beta 2"
The problem is in the file **CCTransition.m**

When method
`-(void)draw:(CCRenderer *)renderer transform:(const GLKMatrix4 *)transform`
tries to run, the objc_msgSend call causes EXC_BAD_ACCESS.

I fixed it changing this
<code>typedef id (*Func)(id, SEL);
((Func)objc_msgSend)(self, _drawSelector);</code>

to this
<code>void (_Func)(id, SEL) = (void (_)(id, SEL)) objc_msgSend;
Func(self, _drawSelec

[2015-07-04 03:43] WenhaiLin commented on #12673
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12674

[2015-07-04 04:14] man2 commented on #12516
could you guys add batch draw for TextBMFont(s) and LabelBMFont(s)? for now each BMFont is rendered in 1 draw call. I have my implementation which replace each character with a Sprite. But I think it's not the most clever idea

[2015-07-04 09:24] xpol commented on #10675
这个确实需要啊。比起各自修改各自的，不如官方统一改一下。

[2015-07-05 05:20] crosslife opened #12685 "add to home page"

[2015-07-05 05:20] #12685 closed, assigned to nobody

[2015-07-05 13:15] jonyrock opened #12686 "segfault isFileExist on Mac"
Hi!

A simple call `FileUtils::getInstance()->isFileExist("cool/path.txt")` leads to a segfault on Mac OS X

I gonna investigate it by myself soon.

[2015-07-05 18:57] milos1290 opened #12687 "v3.7rc0 Label setOpacity(0)"
Label setOpacity(0) with enableShadow just removes color from characters leaving it black without hiding it.

[2015-07-05 20:31] milos1290 opened #12688 "xxtea not included in xcode and android mk file."
xxtea is not included in xcode and cocos android mk file.

[2015-07-06 01:54] super626 commented on #12665
@pandamicro
light map, uv animation already exist.
We do not have water in the sprite3d test until now. However, we can move the water from FantasyWarrior to the sprite3d test.
The problem is that many user do not know about that.
Maybe we need some course to help the user to understand and use it.

[2015-07-06 02:28] #12652 closed, assigned to pandamicro

[2015-07-06 03:33] pkxpp commented on #9167
I copy cocos-3.3 spine model to cocos-3.2, and solve the erro.But the result is I see nothing when i create a chracter(sp.SkeletonAnimation:create) and setAnimation.can you help me?

[2015-07-06 08:03] jimrange opened #12691 "getPhysicsWorld()->setAutoStep(false) physics initialization issue in 3.7 rc0"
[code]

[2015-07-06 08:25] folgerhu opened #12692 "UILayout viewing area cutting position calculation error"
Cocos2d-x v3.6

![2a1b630de0d747e8111bce23810dccce](https://cloud.githubusercontent.com/assets/3455415/8518237/c44e7a9a-23fa-11e5-9a69-0dfbefbd8dbc.png)

If UIListView setClippingType for the SCISSOR, and it has a listview item also set the SCISSOR, listview display will go wrong.

[2015-07-06 08:41] jianglong0156 opened #12694 "The operation function of String need to arrange into a single file"
current situation:
namespace StringUtils in CCString.h, and the file location is cocos\deprecated\CCString.h
need to move the StringUtils to other file

the other namespace StringUtils  in ccUTF8.h, need to be arranged

[2015-07-06 09:10] perminovVS commented on #12621
Use this #11866

[2015-07-06 09:28] folgerhu opened #12699 "Suggested add sqlite, encryption to jsb"
Suggested add sqlite, encryption to jsb, these are commonly used.

[2015-07-06 10:19] hgokturk commented on #10333
I am getting "namespace cocos2d::ui has no member Text" error in a similar case. Any idea why?

[2015-07-07 01:22] xpol opened #12704 "[WIN32] Should not force include algorithm and compile as cpp."
in file https://github.com/cocos2d/cocos2d-x/blob/v3/templates/lua-template-default/frameworks/runtime-src/proj.win32/HelloLua.vcxproj .

Should not force include `algorithm` and compile as cpp.

[code]

This is not friendly for c source code.

[2015-07-07 01:25] yangws opened #12705 "Texture2D drawAtPoint drawInRect Implement by direct gl call, can't works with render queue."

[2015-07-07 01:47] pandamicro opened #12706 "Add scroll bar feature into ScrollView"
Proposed PR: https://github.com/cocos2d/cocos2d-x/pull/12683

@VisualSJ This should be merged to web engine

[2015-07-07 02:31] #9156 closed, assigned to fusijie

[2015-07-07 02:50] WenhaiLin opened #12712 "Label should allow add child nodes."

[2015-07-07 03:46] fusijie commented on #10086
https://github.com/cocos2d/cocos2d-x/pull/12748 is to fix first issue.

@dabingnn please help to check.

[2015-07-07 05:41] fusijie commented on #10086
[This branch ](https://github.com/cocos2d/cocos2d-x/compare/v3...fusijie:remove_cc_2x2_white_image)is to fix second issue. But @dabingnn & I think it not necessary to remove 2x2 white image, because it used to give a warning to developers that there are some null sprite exist.

[2015-07-07 06:17] yangws commented on #12616
Apply RAII mechanism on static class instances are unsafed practice.
The reason is C/C++ runtime ensure all static class instances will be destruct, but not ensure the destruct order is suitable.
In this issue, _atlasMap and gWidget are static class instances, and they are continers. For the reasion we talked above, they will be destruct on app termination, but the destruct order is uncertain.
The

[2015-07-07 06:21] WenhaiLin commented on #12712
Done: https://github.com/cocos2d/cocos2d-x/pull/12718

[2015-07-07 07:32] #12616 closed, assigned to yangws

[2015-07-07 08:07] #8262 closed, assigned to yangws

[2015-07-07 10:04] almostasleep opened #12724 "Can't Use Box2d as Physics Engine"
I can use box2d as my physics engine

error

Box2D/Box2D.h No such file or directory

[2015-07-07 10:59] almostasleep commented on #12724
Box2d Doesn't work when compiling on linux. but work on android. haven't tried on windows. Please help

[2015-07-07 18:14] trojanfoe commented on #12567
A possible detail that I missed from my initial report is that I had the main menu scene, that is performing the transition to the game scene, "auto start" as I was developing the game scene and didn't want to keep pressing the "Start Game" button.  This means that the transition is kicked off from the very first `update()` of the main menu scene, which might have some bearing on the issue, perhap

[2015-07-08 03:41] RaoZiJian commented on #12595
We modify the native code of webView on iOS to modify the background, and this issue has been avoided.

self.uiWebView.backgroundColor = [UIColor clearColor];

So a suggestion is to add a "setBackgroundColor(color3B)" api to allow the developers modify the backColor by themselves to keep this bug from the logic.

[2015-07-08 04:15] jimrange commented on #12567
I was able to reproduce this bug.
Code to do so found here: https://github.com/jimrange/cocos2dxPhysicsBug/tree/teleport
To reproduce:
**1)** Clone the above repo and checkout the branch teleport.
**2)** Run the project in Xcode with Cocos2d-x 3.7 rc0.
**3)** Press the button in the bottom right corner of the MainMenuScene to transiton to the HelloWorldScene.
**4)** In MainMenuScene.cpp, you can e

[2015-07-08 05:39] trojanfoe commented on #12567
Nice work Jim

[2015-07-08 05:42] zilongshanren commented on #12595
@RaoZiJian Thanks. I will add this API in v3.8.

[2015-07-08 06:10] huangzhentao commented on #11822
@WenhaiLin My mistake,Sorry.

[2015-07-08 07:30] minggo opened #12733 "Schedule::dispatchCustomEvent() is skipped in lua-binding"
As you can see [here](https://github.com/cocos2d/cocos2d-x/blob/v3/tools/tolua/cocos2dx.ini#L114), `Schedule::dispatchCustomEvent()` is skipped.

Is there any reason to skip this function?

[2015-07-08 07:44] super626 opened #12734 "obj loading failed on windows"
.obj file can be downloaded here,
http://pan.baidu.com/s/1kTgUdiJ

This obj file contains many objects, each objects have different vertex attributes.

[2015-07-08 09:52] ZhangMenghe commented on #12628
2015/7/8
The issue was completed the and pulled request, waiting to be merged.
The PR links as below:
https://github.com/cocos2d/cocos2d-html5/pull/2975#issuecomment-119526872

[2015-07-08 10:06] pandamicro commented on #12733
dispatchCustomEvent is done in pure script for JS: https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/js-bindings/script/jsb_cocos2d.js#L1649

I think it can be done equally in Lua in the same way

[2015-07-08 10:10] pandamicro commented on #12665
But the test in the current test cases are really ugly, it can't show how great our technique can do.

[2015-07-08 10:17] pandamicro commented on #12687
You mean the shadow ?

[2015-07-08 10:39] pandamicro commented on #10675
@dualface Please take a look, seems a good proposition

[2015-07-08 11:37] emfox opened #12743 "[cocos2d-js] cc.RenderTexture.saveToFile is async but no callback"
cocos2d-js 3.6.1

RenderTexture.setPosition(cc.p(winSize.width / 2, winSize.height / 2));
RenderTexture.beginWithClear(255, 255, 255, 0.0);
cc.director.getRunningScene().visit();
RenderTexture.end();
var imgPath = jsb.fileUtils.getWritablePath();
var result = RenderTexture.saveToFile(fileName, cc.IMAGE_FORMAT_PNG);
if (result) {
    imgPath += fileName;
        open_img(imgPath); // imgPath file n

[2015-07-08 13:13] WenhaiLin commented on #10217
I can't reproduced this issue.
Tested on:
- iPad Air
- iPad 2
- iPhone 4S
- iPhone 5S
- iPhone 6S

[2015-07-08 17:18] milos1290 commented on #12687
I'm not sure but letters are still visible only in black color.

[2015-07-09 00:02] #12673 closed, assigned to WenhaiLin

[2015-07-09 00:09] pandamicro commented on #12632
It was because the auto bindings haven't been updated automatically for v3 branch, it have been fixed.

[2015-07-09 00:09] #12632 closed, assigned to nobody

[2015-07-09 02:02] WenhaiLin commented on #12687
@milos1290 Could you provide sample code for reproduce this issue?

[2015-07-09 02:54] fusijie opened #12752 "[Web]PageTurn3D effect abnormal"
Related issue please refer to https://github.com/cocos2d/cocos2d-x/issues/10973.

Web also has this issue.

[2015-07-09 03:01] folgerhu opened #12753 "ClippingNode does not support Scale9Sprite in some platform"
Cocos2d-x v3.6

[code]

Display the results on Linux is ok,  on android, ios is wrong:

![img_0357](https://cloud.githubusercontent.com/assets/3455415/8587067/b3411218-2629-11e5-93c9-9716af4483ae.jpg)

[2015-07-09 03:26] WenhaiLin opened #12754 "Update Nibiru SDK"
For more information: http://www.nibiruplayer.com/

[2015-07-09 03:50] dabingnn commented on #12734
The obj file can not be parsed correctly by the previous `ObjLoader`, Pull request #12738 fixed it.

[2015-07-09 04:05] pandamicro opened #12757 "Make UI classes extendable in JSB"

[2015-07-09 06:24] songchengjiang commented on #12551
The issue has been fixed, your code is correct, or you can use the following code:

AABB Sprite3D::getAABBRecursivelyImp(Node *node)
{
    AABB aabb;
    for (auto iter : node->getChildren()){
        aabb.merge(getAABBRecursivelyImp(iter));
    }

[code]

}

AABB Sprite3D::getAABBRecursively()
{
    return getAABBRecursivelyImp(this);
}

[2015-07-09 07:23] kompjoefriek commented on #12347
@Seryusjj `Emulator` should be able to build for newly created `C++` and `Lua`projects.

[2015-07-09 07:25] #12734 closed, assigned to super626

[2015-07-09 07:41] #10928 closed, assigned to super626

[2015-07-09 07:56] fusijie commented on #10793
This issue only appear on the Mac platform. And on the contrary, v3.x has the right effect, v2.x has the wrong effect.

[code]

The above code make sprite alpha value to zero, so any vertices color of the sprite is (r, g, b, 0).It means source color vector is (r, g, b, 0.0f). The destination color is glClearColor(now is BLACK), (0.0f, 0.0f, 0.0f ,1.0f).

So according to the BlendFunc({GL_ONE, GL_O

[2015-07-09 08:05] fusijie commented on #10086
@pandamicro Please close this issue.

[2015-07-09 08:35] pandamicro commented on #10793
The v3 effect is correct, v2 is wrong.

[2015-07-09 09:15] yangws commented on #10759
I send a pr for this issue, but i don't have any device to reproduct this issue.
Please test my pr if can reproduct this issue, thanks.
If the pr works correctly, please tell me, thanks.

[2015-07-09 09:33] #10086 closed, assigned to fusijie

[2015-07-09 09:47] minggo opened #12765 "Mechanism to pass event to lua is inconsistent"
- pass `update` event to lua

There is `Node::scheduleUpdateWithPriorityLua()`, so you can receive update event in lua like this

[code]
- pass `onEnter`, `onExit` event to lua

You should write like this in lua

[code]

`registerScriptHandler()` is not a member function of any Node, if you want to invoke this function on a Node, you should write lua-binding codes yourself.

Add functions in Node

[2015-07-09 15:22] milos1290 commented on #12687
[code]

[2015-07-10 01:28] zilongshanren opened #12769 "Js template is not working on Linux platform."

[2015-07-10 01:28] zilongshanren commented on #12769
@pandamicro  please resolve it, thanks. I think v3.7 also has this issue.

[2015-07-10 01:38] pandamicro commented on #9958
Done `Add automatic extend to JSB for classes "need to extend"` in https://github.com/cocos2d/cocos2d-x/pull/12974

[2015-07-10 02:18] minggo opened #12771 "Node::scheduleUpdate() is missing in lua-binding"

[2015-07-10 02:51] pandamicro commented on #12771
Lua have an API : scheduleUpdateWithPriorityLua

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/lua-bindings/manual/cocos2d/lua_cocos2dx_manual.cpp#L5062

maybe this is what you are looking for

[2015-07-10 03:26] WenhaiLin opened #12775 "Label:Create fail if the font(TTF) not contain a Unicode charmap."
eg:xingkai.TTF   http://pan.baidu.com/s/1i3u5yYx

[2015-07-10 03:28] WenhaiLin commented on #12775
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12774
3.7 branch fixed at https://github.com/cocos2d/cocos2d-x/pull/12881

[2015-07-10 03:34] fusijie commented on #11846
@walzer The bottleneck of screen capture is Image IO. My test data as following:
![captureperformancetestdata](https://cloud.githubusercontent.com/assets/5085300/8612846/0636ec00-270a-11e5-914c-666b863eda27.png)
The Image IO execute time account for more than 90% in the mobile platform.

@perminovVS  Thanks your solution.

[2015-07-10 03:55] #11887 closed, assigned to yangws

[2015-07-10 03:55] pandamicro commented on #10759
@piotrros @hsienwei @tomhmp @lalaloha
Can you help to test our fix #12762 ? Thanks

[2015-07-10 05:39] #12551 closed, assigned to super626

[2015-07-10 05:43] #12590 closed, assigned to WenhaiLin

[2015-07-10 05:44] minggo commented on #12771
It is not the same.
`Node::scheduleUpdatePriorityLua()`:
1. make `Node::update()` in enabled
2. it will invoke a lua function passed to `scheduleUpdatePriorityLua()`

And `Node::scheduleUpdate()` is just do step 1.

[2015-07-10 05:46] WenhaiLin commented on #11907
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12774

[2015-07-10 05:50] minggo commented on #12771
This function is not important for pure lua games. But it is needed when mixing use lua and c++, for example:
- create a Node in lua
- want to Node::update be enabled then all its components will be looped

[2015-07-10 05:53] WenhaiLin commented on #11424
This issue not exhibit on WP8.1.

[2015-07-10 05:53] #11424 closed, assigned to nobody

[2015-07-10 06:03] #11970 closed, assigned to fusijie

[2015-07-10 06:58] #10704 closed, assigned to dabingnn

[2015-07-10 08:46] folgerhu commented on #11846
@fusijie @pandamicro    I test in android 2.3.6, it's ok! thanks.

[2015-07-10 09:04] #11846 closed, assigned to fusijie

[2015-07-10 09:08] #10171 closed, assigned to fusijie

[2015-07-10 09:24] WenhaiLin commented on #12687
@milos1290 I can't reproduced this issue in v3.7rc0. This issue should be cause by https://github.com/cocos2d/cocos2d-x/pull/12718, not in version 3.7rc0.

[2015-07-10 10:53] pandamicro opened #12784 "Set Label with text definition then setSystemFontSize won't have effect"
Code to reproduce the issue.

[code]

Correct effect, the label should be very large in size 70.
But the label will be shown in size 10

[2015-07-10 11:11] hyperandroid commented on #12543
Sorry, but i am on holidays and had not read the request until now.

I really have second thoughts about modules in the engine's core, as you already know by which i wrote in the cocos2d-html5 document we shared for some time.

Back to modules, a Director instance would probably depend on all the other core classes/modules, from math, to node, to renderer, to everything else. So i really don't the

[2015-07-10 12:50] WenhaiLin commented on #12754
Done: https://github.com/cocos2d/cocos2d-x/pull/12785

[2015-07-10 14:22] WenhaiLin commented on #10085
Done https://github.com/cocos2d/cocos2d-x/pull/12786

[2015-07-11 08:24] pandamicro commented on #12672
Tested in which version ?

[2015-07-11 08:57] pandamicro opened #12787 "Canvas transform calculation issue"
Originally reported: https://github.com/cocos2d/cocos2d-js/issues/1781 by @Dolaham

@ZhangMenghe Please confirm this issue.

[2015-07-11 09:13] pandamicro commented on #10085
Thanks I will add a function to the web engine too

[2015-07-11 09:18] #12769 closed, assigned to pandamicro

[2015-07-11 09:18] pandamicro commented on #12769
Fixed in https://github.com/cocos2d/cocos2d-x/pull/12772

[2015-07-11 13:56] yi commented on #12543
Hi guys, I’m sorry for the lag of reply. I had some problem with my gmail access :( and just saw this discussion.

I think "Refactor Web engine's core" might be a heck lot of work to do, and would suggest a thoroughly consideration before implementation

In the past few months, we have been working on a html5 mobile game based on cocos-html5. In order to improve our workflow, we did few modificati

[2015-07-11 17:53] volzhs commented on #12527
I had same problem.
Any update for this?

[2015-07-12 04:18] pandamicro commented on #12733
Ok, I see, the reason this API have been skipped is that `void *` can not be converted in auto bindings, so I suggest to bind this function manually.
https://github.com/cocos2d/cocos2d-x/pull/12788/files

PR reverted: https://github.com/cocos2d/cocos2d-x/pull/12791

[2015-07-12 07:31] zeas2 opened #12792 "ScrollView::onTouchBegan miss touch while rotated"
original code is "convert rect frame and check is touch hit in"
the implemention of Widget::onTouchBegan is "convert touch point to self node space and check"

[2015-07-12 07:40] zeas2 opened #12794 "wrong clipping effect of ScrollView while rotated"
if rotation is 90 or -90, it will total black.
between 0 and 90, the clipping is always screen direction's rect

[2015-07-12 12:37] dionysiusmarquis opened #12795 "moving SpritePolygon::triangulate / calculateUV to DrawNode"
I would like to know if its possible to move/add the triangulate and calculateUV functions of SpritePolygon to the DrawNode. I'd like to use this functions for a SVG parsed Polygon. The polygon needs to get tessellated and UVs would be handy for custom FragmentShader.

[2015-07-12 14:21] ZhangMenghe commented on #12787
I wrote a test case based on the newest version but haven't yet found any difference effect between canvas and WebGL,could you please give more information?

[2015-07-12 14:22] ZhangMenghe commented on #12787
I wrote a test case based on the newest version but haven't yet found any difference effect between canvas and WebGL,could you please give more information? @Dolaham

[2015-07-12 15:30] pandamicro opened #12796 "Fix color/opacity manipulations in MenuItems"
Reported here: http://discuss.cocos2d-x.org/t/cocos2d-js-3-6-1-possible-bug-setopacity-fadein-shows-different-behavior-on-web-and-ios/22362

[2015-07-12 15:30] pandamicro commented on #12796
Fixed: https://github.com/cocos2d/cocos2d-html5/pull/2979

[2015-07-12 15:30] #12796 closed, assigned to pandamicro

[2015-07-13 01:48] pandamicro commented on #12792
Solution proposed: https://github.com/cocos2d/cocos2d-x/pull/12793
@zilongshanren Please take a look

[2015-07-13 03:03] #9586 closed, assigned to yangws

[2015-07-13 03:12] WenhaiLin commented on #9954
Done :https://github.com/cocos2d/cocos2d-x/pull/12742 and https://github.com/cocos2d/cocos2d-x/pull/13039

[2015-07-13 06:03] WenhaiLin commented on #12527
@volzhs Could you provide an audio file for reproduced this issue?

[2015-07-13 06:20] volzhs commented on #12527
![menu ogg](https://cloud.githubusercontent.com/assets/8281454/8643751/de0f9748-2972-11e5-8f3b-15056fe5e971.jpg)

I uploaded ogg file with jpg file extension. just rename it.

[2015-07-13 06:43] minemilk opened #12803 "Are you killing the support for Box2d Physics engine?"
I am making a game for linux , windows and  mac, but my main aim was linux for the upcoming steam os. I don't see a good tutorial on setting up the project in linux and compiling for linux platform so I used clion, everything works fine but not on windows which I had to use visual studio which is so slow when building. my project compile fine, as I am about to start my journey in Physics game, and

[2015-07-13 08:15] ZhangMenghe commented on #12672
@pandamicro @folgerhu
To get the effect like eraser,when we set the blendFunc,the parameters should be (SRC_ALPHA, ZERO),for the source color is the background and destination one is the dirty image.
If we make this blender,it works proper on Web engine.

[2015-07-13 09:59] fusijie commented on #11447
It fixed with https://github.com/cocos2d/cocos2d-x/pull/12810.

[2015-07-13 10:19] liu-ben opened #12811 "_recreateVBOEventListener in VertexBuffer & IndexBuffer"
Both VertexBuffer & IndexBuffer have _recreateVBOEventListener to monitor the event "EVENT_RENDERER_RECREATED". "_recreateVBOEventListener" is supposed to be put into Director::getInstance()->getEventDispatcher(), so that when the event is fired, it will recreate VBO objects.  It is created in the constructors, destroyed in the destructor, and removed from the event dispatcher. But  I can't find t

[2015-07-13 10:30] pandamicro commented on #12145
Related PR: https://github.com/cocos2d/cocos2d-x/pull/12806

[2015-07-13 10:39] pandamicro commented on #12787
@Dolaham can you confirm it ? How to reproduce this issue

[2015-07-13 12:48] #10085 closed, assigned to WenhaiLin

[2015-07-13 12:49] #9954 closed, assigned to WenhaiLin

[2015-07-13 12:55] pandamicro commented on #12672
Should it be set by default for `cc.RenderTexture` ? Have it be set in the native engine ?
What do you think?

[2015-07-13 13:28] fusijie commented on #12795
@dionysiusmarquis We remove SpritePolygon and add a helper class `AutoPolygon` to integrate to Sprite. I don't have any idea about why to `move/add the triangulate and calculateUV functions of SpritePolygon to the DrawNode`...

[2015-07-13 15:28] dionysiusmarquis commented on #12795
@fusijie Helper class sounds great. My intention was to be able to use the `triangulate` and `UV creation` functionality outside `SpritePolygon`. I just realized that `PolygonSprite` don't extend `DrawNode` so it's indeed not practical to move it there.

[2015-07-13 15:37] fusijie commented on #12795
@dionysiusmarquis er... Although it is a helper class, I think it would not meets your needs. The purpose of AutoPolygon is to serve the polygon sprite. But you can do any thing you like, It's a free engine, happy hacking. If you have any problems, please contact with me. lol

[2015-07-13 15:49] dionysiusmarquis commented on #12795
@fusijie Mhm... ok I'm extending `PolySprite` right now. It's maybe not that bad because it would provide a way to support svg image fills as well. Will the `PolySprite` class functions survive and remain accessible in any kind?

[2015-07-13 23:43] jorovipe97 opened #12820 "cocostudios/CocoStudio.h Too many include problems"
I did a scene with Cocos Studio later I export it as **.csb** file, all right for now. The problem appear when I try to use the **.csb** file into the code, I am use the following code for import the scene.

[code]

...But when I try this on the terminal:

[code]

I see that in: **CocoStudio.h** not can include the **"cocostudio/CCActionFrame.h"** and all the others includes that have it the **coc

[2015-07-14 00:46] kaizhao opened #12822 "Lua project creation issue on Windows"
1. On Windows 8, create a new Lua project.
2. Got an error about modify_files:
   ![image](https://cloud.githubusercontent.com/assets/1088790/8663995/346cedd0-2986-11e5-99bf-4947f0e01e7f.png)
3. Try to compile the created project for Android. Got this error:
   ![image](https://cloud.githubusercontent.com/assets/1088790/8664066/e7b8ba18-2986-11e5-89b6-74ec39007fa0.png)

[2015-07-14 00:56] kaizhao commented on #12822
never mind, forgot update submodules....

[2015-07-14 00:56] #12822 closed, assigned to nobody

[2015-07-14 01:13] dabingnn commented on #10105
The bug could not be reproduced. Close it.

[2015-07-14 01:13] #10105 closed, assigned to fusijie

[2015-07-14 01:34] fusijie commented on #12795
Let me show you some code. The usage of polygon sprite:

[code]

[2015-07-14 01:48] minggo commented on #12733
Yep, there is an optional parameter that accepts `void*`.

[2015-07-14 02:31] liu-ben commented on #12811
Sorry for my mistakes. The listener is added to the dispatcher in the constructor by the statement "Director::getInstance()->getEventDispatcher()->addCustomEventListener(EVENT_RENDERER_RECREATED, callBack);", and it was done in "addCustomEventListener" method. Please ignore this issue.

[2015-07-14 03:14] #12621 closed, assigned to yangws

[2015-07-14 03:21] #12811 closed, assigned to fusijie

[2015-07-14 03:36] fusijie commented on #10858
@Mazyod As following picture, you can uncheck **Debug executable** item to turn off `NSLog` output in RELEASE mode.
![schemes](https://cloud.githubusercontent.com/assets/5085300/8665935/734ffe84-2a1c-11e5-82cd-cf0f7334f84d.png)

[2015-07-14 04:05] #12668 closed, assigned to yangws

[2015-07-14 06:01] fusijie commented on #10445
@zilongshanren It has to do with some specified android devices.

@Chocolate777 Could you provide more details (such as reproduce code, engine version, android devices and so on...)

[2015-07-14 07:05] zilongshanren commented on #12522
fixed https://github.com/cocos2d/cocos2d-x/pull/12695

[2015-07-14 07:05] #12522 closed, assigned to zilongshanren

[2015-07-14 07:28] pandamicro opened #12834 "JS override cleanup function won't get invoked during node detaching"

[2015-07-14 08:05] WenhaiLin opened #12837 "Label:draw incorrectly with Simsun font if font size lower than 19."
![screenshot_1_1435559518](https://cloud.githubusercontent.com/assets/5234286/8668868/20d79326-2a42-11e5-8d84-a6533c6f50e6.png)

[2015-07-14 08:44] dionysiusmarquis commented on #12795
Ok, I'll see. Thank you so far!

[2015-07-14 08:45] #12795 closed, assigned to nobody

[2015-07-14 09:45] WenhaiLin commented on #12837
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12842

[2015-07-14 10:18] #12834 closed, assigned to pandamicro

[2015-07-14 10:44] Stephen-Sachson commented on #10778
After I rotated a page view by 180°, it turned into a piece of SH**. The scroll direction was totally messed up. What a time-wasting worthless volatile stuff.

[2015-07-14 11:01] Stephen-Sachson commented on #10778
It's going nuts if I rotate it by 180°. Really a shoddy & cheap piece of work ehhh.

[2015-07-14 11:03] UKDeveloper99 opened #12847 "SpriteFrame rect offset changing on device, with textures exported from TexturePacker."
I encountered this problem when I started cutting the level in my game in to smaller peices. I am using a sprite atlas exported from TexturePacker. If I move my Cocos2d::Camera (orthographic) in the Y axis the rect for each sprite frame appears to be changing its offset 1 by pixel. It doesn't happen consistently every frame, but maybe every 4-5 frames.
There is a visible offset of the spriteframe

[2015-07-14 11:06] UKDeveloper99 commented on #12847
Oh I forgot to mention, it's much easier to see visually if you set the background clear colour to red or white. It's also easier to see the problem if you disabled anti aliasing.
sprite->getTexture()->setAliasTexParameters();

Don't misunderstand the cause however, the problem still exists with anti aliasing and no glclearcolour enabled.

[2015-07-14 11:26] anjandaffo commented on #10778
@Stephen-Sachson  If you check original PageView with horizontal direction also not worked after rotate . After rotate page change reverse. shame is happen with vertical direction. I did't worked for rotate I just make modification to support Vertical direction. I required Vertical PageView in my one of our project. I made these changes and working fine. Here I just share If any one need he can ta

[2015-07-14 11:35] UKDeveloper99 commented on #12847
![levelone_pack_complete](https://cloud.githubusercontent.com/assets/11443031/8672248/8721dfba-2a24-11e5-84f0-9e058f075c98.png)

Here is a sprite atlas that I made with texture packer that you can use to test, just load 2 copies of "test_50x50.png" in to a spriteframe and position them on top of each other in the y-axis, one above the other.

[2015-07-14 12:24] Mazyod commented on #11732
Yes, I think it was by design that you can't change it later, maybe for security reasons. Can you please explain why you would want to change a textfield from plain text to Secure Input, then back again?

[2015-07-14 14:03] Mazyod commented on #11732
There are many apps that provide a "show password" icon, where the user has the ability to reveal the password they typed, so they can make sure they are typing it correctly, since it is sometimes hard to get right on mobile. Maybe that was the use case?

It should be easy to accommodate on iOS and Mac. I am thinking, just add a `InputFlag::PLAIN_TEXT` enum value, and switch back to plain text fro

[2015-07-14 18:06] UKDeveloper99 commented on #12847
Thought I'd add a few more comments on this problem. Here's a couple of things about reproducing the bug, make sure to move the camera up or down on the Y-axis, problem doesn't appear on the x-axis movement (this may give clues to fixing it). Make sure to move the camera by 0.05f every frame, this made the bug most noticeable for me, I think it's because this slow movement allows you to see exactl

[2015-07-15 02:04] zilongshanren commented on #12521
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12851

[2015-07-15 02:04] #12521 closed, assigned to zilongshanren

[2015-07-15 02:15] yangws commented on #11585
you should call setCascadeOpacityEnable function first:

[code]

[2015-07-15 02:19] fusijie commented on #11585
OK, I see, thanks @yangws .

[2015-07-15 02:25] pandamicro commented on #12847
Thank you for the detailed explanation, we will check this issue later

[2015-07-15 02:49] ricardoquesada commented on #12847
@pandamicro  let me know if you need my help.

[2015-07-15 03:15] #11211 closed, assigned to nobody

[2015-07-15 03:40] WangPengJu commented on #11585
cocos2d-x 3.2, this problem can't be solved. @yangws  What is your version? I use the same code.

[code]

[2015-07-15 03:54] WangPengJu commented on #11585
It's work only in the new version? @fusijie  @zilongshanren  @pandamicro  Have you tested?

[2015-07-15 03:59] WangPengJu commented on #11585
英语翻译有点烂, 我还是说中文吧.见谅.  我现在用的版本的是3.2,这个问题我最早是在cocoachina提的,目前为止还是找不到解决的方法.看到上面的那个方法,我用相同的代码测试,也是不行.不知道 @yangws 是用什么版本.你们测试这个问题通过了吗?怎么直接把issue给关了.还是说在下个版本这样调用才生效?

[2015-07-15 05:50] 0xJimmyBeh opened #12857 "cc.textureCache.addImageAsync is not fully asynchronous"
Currently we have cc.textureCache.addImageAsync to load online image with url which is async.

But after downloaded image, it will invoke Image::initWithImageData to create the texture which will blocking the main thread and cause freeze.

Thus, the whole process is not fully asynchronous as Image::initWithImageData is synchronous.

In this case, i would like to request implementation of Image::in

[2015-07-15 06:02] WangPengJu commented on #11585
cocos2d-x  3.6 ,same problem.

[2015-07-15 06:18] pandamicro commented on #9958
Done `JSB configuration without namespace will cause compilation error` in https://github.com/cocos2d/bindings-generator/pull/175

[2015-07-15 06:21] fusijie commented on #11585
yes, It's not work in the v3 branch too. @yangws

[2015-07-15 06:32] #10445 closed, assigned to fusijie

[2015-07-15 06:36] fusijie opened #12859 "PolygonSprite operation invalid."
related pr: https://github.com/cocos2d/cocos2d-x/pull/12841

some APIs must be re-checked:
- [x] setColor: Fix at #12863
- [x] setOpacity: Fix at #12863
- [x] setTexture: Fix at #12863
- [x] setTextureRect:Fix at #12863
- [x] setPosition: OK
- [x] setAnchorPoint: OK
- [x] setScale: OK
- [x] setFlip: Fix at #13138
- [x] setSkew: OK
- [x] setRotation: OK
- [ ] SpriteBatchNode: Doesn't support, pleas

[2015-07-15 07:00] #11310 closed, assigned to yangws

[2015-07-15 08:51] folgerhu commented on #12686
I test is in OSX with xcode6.4, Cocos2d-x v3.6：

[code]

Program is running normally,  console out put:

[code]

[2015-07-15 09:04] zilongshanren commented on #9227
@yagjak  fixed at here: https://github.com/cocos2d/cocos2d-x/pull/12864

[2015-07-15 09:22] WangPengJu commented on #11585
跟了一个下午,还好有源码可以修改.问题出在void Label::updateColor()里面,每个字的color保持不变,把alpha修改一下就可以了,不懂你们为什么覆盖掉颜色的值 -_-!!! 把如下代码修改一下就可以了:
 for (int index = 0; index < count; ++index)
        {
            quads[index].bl.colors = color4;
            quads[index].br.colors = color4;
            quads[index].tl.colors = color4;
            quads[index].tr.colors = color4;
            textureAtlas->updateQuad(&quads[index]

[2015-07-15 09:35] fusijie commented on #11585
@WenhaiLin please review.

@pandamicro please reopen this issue.

[2015-07-15 09:38] WangPengJu commented on #11585
这样子改了,会导致正常label->setColor(Color3B)无效.. 郁闷中.

[2015-07-15 09:38] zilongshanren commented on #11926
@anjandaffo  duplicated with https://github.com/cocos2d/cocos2d-x/issues/10778

[2015-07-15 09:38] #11926 closed, assigned to nobody

[2015-07-15 09:41] jonyrock commented on #12686
Sorry guys, I gonna close it.
I will reopen it if find it in the last version.

[2015-07-15 09:41] #12686 closed, assigned to folgerhu

[2015-07-15 10:33] zeyangl commented on #12516
seriously need auto batching BMFont here.

[2015-07-15 11:20] a19352226 commented on #11585
已经解决了,加了个判断字符颜色是否被改变.谢谢各位大牛.
for (int index = 0; index < count; ++index)
        {
			std::set<int>::iterator itr = _changed.find(index);
			if (itr != _changed.end())
			{
				quads[index].bl.colors.a = color4.a;
				quads[index].br.colors.a = color4.a;
				quads[index].tl.colors.a = color4.a;
				quads[index].tr.colors.a = color4.a;
			}
			else
			{
				quads[index].bl.colors = color4;
				quad

[2015-07-15 11:27] WangPengJu commented on #11585
网络好卡, 一直发不上来. 我加了一个判断当前索引的字符是否被改变过,被改变过就alpha值改变,其他不变,否在直接覆盖. 项目可以用了, 在此谢过各位大牛的帮助.
![qq 20150715192008](https://cloud.githubusercontent.com/assets/9954852/8697380/28ad64d2-2b27-11e5-9f00-dbd089b32913.png)

[2015-07-15 11:59] milos1290 opened #12866 "AllocatorStrategyFixedBlock crash if app is stopped forcefully"
When i quit app forcefully, app crashes here. This happens on OS X
Thing is that _pages are empty when this occurs. This happens when block is initialised but not a single object is instantiated yet.

[code]

[2015-07-15 12:18] WenhaiLin commented on #11585
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12867

[2015-07-15 12:35] WangPengJu commented on #11585
3.2版本没有std::unordered_map<int, Sprite*> _letters; 唉,现在升级项目有点蛋疼.

[2015-07-15 12:44] WenhaiLin commented on #11585
@a19352226 额，版本跨度太大。或许你可以考虑比对同步ttf相关的以下几个文件：CCFontAtlas CCFontFreeType CCLabelTextFormatter CCLabel

[2015-07-15 12:48] WenhaiLin commented on #11585
@a19352226 3.2版本的话，你试试
[code]

[2015-07-15 12:50] WangPengJu commented on #11585
@WenhaiLin  那两个函数我试过了, 不管用. 依然谢谢你的解答. 我就用那个笨办法,实现需要的功能就好.  下个项目升级就不用这么麻烦了.

[2015-07-15 16:19] Mazyod commented on #10858
@fusijie thanks, but I don't think that will solve the issue. What you are proposing is not attaching the debugger to the app, so the NSLog is still working, but you don't see it. It's like sweeping the dirt under the rug :)

[2015-07-15 19:04] slackmoehrle commented on #12847
@pandamicro, @UKDeveloper99  is working on a very tight deadline for a large scale Cocos2d-x game. If we could see about resolving this as soon as makes sense, I think he would appreciate it very much :-)

[2015-07-15 19:08] cesarpachon commented on #11563
sure @WenhaiLin, I would like to contribute. posted request for guidelines here: http://discuss.cocos2d-x.org/t/implementation-of-audioengine-for-linux/22684

[2015-07-15 19:12] ivcoder opened #12869 "Cameras do not work during Transition scene"
Any nodes that have non-default camera are invisible during transition.

How to reproduce. Open HelloWorld project. Replace code inside  HelloWorld::menuCloseCallback(Ref\* pSender) with followed code:

[code]

Tap close button. Transition animation will start and current scene will immediately become invisible.

The same happens with the TransitionScene self when we add camera to it (If I want to

[2015-07-15 21:59] kompjoefriek commented on #12803
This seems to be related to issue #12724.

I have no experience with Box2d myself, but maybe these forum posts can help you out:
- [Box2d on Linux](http://discuss.cocos2d-x.org/t/cocos2d-v-3-how-to-enable-box2d/15597/5)
- [Box2d on Windows](http://discuss.cocos2d-x.org/t/box2d-questions-and-set-cc-enable-box2d-integration-1-in-testcpp/18489/2)

[2015-07-16 01:45] fusijie commented on #12847
@UKDeveloper99 I I almost understand the problem. but could you please provide me some reproduce codes and resource to avoid my misunderstanding test case. Thank you.

[2015-07-16 02:07] jxianglonggg commented on #10217
We have met this problem.
it crashed here
void AudioEngineImpl::_play2d(AudioCache *cache, int audioID)
![qq 20150716100340](https://cloud.githubusercontent.com/assets/10494088/8713980/7d829790-2ba2-11e5-9746-b952a2e0196c.png)

[2015-07-16 02:11] jxianglonggg commented on #10217
We have met this problem.
it crashed here
void AudioEngineImpl::_play2d(AudioCache *cache, int audioID)
![qq 20150716100340](https://cloud.githubusercontent.com/assets/10494088/8714032/0b600084-2ba3-11e5-9d9c-6f0b0ea6dc1a.png)

[2015-07-16 03:00] WenhaiLin commented on #10217
@jxianglonggg WIN32 platform? Which version of cocos2d-x are you using?

[2015-07-16 03:07] jxianglonggg commented on #10217
@WenhaiLin   both win32  and Android.Android is more frequence.version is cocos2d-x 3.3

[2015-07-16 05:50] qiululu commented on #9582
using the test code, there seems no problems. only in some very small sized ones it will have some slightly edge cuts.

[2015-07-16 05:58] qiululu commented on #12154
using the test code, there seems no problems. only in some very small sized ones it will have some slightly edge cuts. here's the picture:
<img width="231" alt="cutprob" src="https://cloud.githubusercontent.com/assets/5564318/8716338/8ad4931a-2bc2-11e5-8eff-82c2acf8b3d1.png">
<img width="230" alt="cutprob2" src="https://cloud.githubusercontent.com/assets/5564318/8716341/92f36116-2bc2-11e5-8a2c-52a

[2015-07-16 06:15] yixiaoqingyuz commented on #12665
The current light map  test cases is a fake lightmapping.
It is just a baked light texture.

[2015-07-16 06:25] qiululu commented on #9582
it seems that this bug has been fixed already . adding the code below :

---

   Node\* setAnchorLab(const Vec2 &vec)
  {
    auto s = Director::getInstance()->getWinSize();
    auto label = Label::createWithBMFont("fonts/bitmapFontTest2.fnt", "cocos2D`@%^&*()");
    label->setAnchorPoint(vec);
    label->setPosition(Vec2(s.width/2, s.height/2));
    //label->setWidth(int(422));
    label->setLine

[2015-07-16 06:30] yixiaoqingyuz opened #12873 "The Light's performance need to be improved."
You can create a big room then use a light(any type),then set the camera to show the room on the entire screen,you will found that the fps will be low,please test the Light's performance on mobile devices too.

[2015-07-16 06:49] qiululu commented on #10688
also see in CCLabel.cpp

        if(ttfConfig.distanceFieldEnabled)
        {
            this->setFontScale(1.0f * ttfConfig.fontSize / DistanceFieldFontSize);
        }

to set the scale size of distantFieldFont ,we do get a fixed size bitmap from freetype to align the text,and compute the content size, and then scale it  in opengl render pipline, fragment shader, in this situation ,it seem that

[2015-07-16 06:59] fusijie commented on #10858
@Mazyod Thanks so much, I have fixed it in https://github.com/cocos2d/cocos2d-x/pull/12875.

[2015-07-16 07:24] eonghk commented on #11368
Is cell reusing working in 3.7? A listview with 10 complicated items is very slow on 2k android phones.(Nexus 6, Galaxy S6).  cocos2d-x 3.6
@zilongshanren

[2015-07-16 08:16] folgerhu opened #12876 "function name ‘“pToAngleSelf” in cocos2d.lua is easy to be misunderstood."
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/lua-bindings/script/cocos2d/Cocos2d.lua

[code]

The function name let a person is difficult to understand.

[2015-07-16 08:35] IgorMats commented on #12873
Even more, I can't even use light for more than 5 3D cubes, so light is totally unusable now.

[2015-07-16 09:27] UKDeveloper99 commented on #12847
@fusijie Sure I'll put something together.

[2015-07-16 11:47] Mazyod commented on #10858
🌹 thank you

[2015-07-16 14:01] zawasp opened #12882 "Add SpriteFrame support for AutoPolygon"
Right now AutoPolygon only supports generating PolygonInfo's from individual sprite files. We need to create them from a given SpriteFrame (loaded from SpriteFrameCache).

Currently, there's no direct way to do this.

[2015-07-16 15:09] fusijie commented on #12882
@zawasp You can specify a rect for sprite sheet, please refer to polygon sprite test case 2.

[code]

[2015-07-16 16:14] cesarpachon commented on #11563
guys I already begun a simple implementation, added CC_PLATFORM_LINUX to all the places where AudioEngine was restricted in Linux (audio folder and tests) and the implementation right now uses the existing FmodAudioPlayer. the existing test can play and stop a sound. My idea is to check if the general approach is good and then remove FmodAudioPlayer dep from my AudioEngine-linux.cpp file and reimp

[2015-07-16 16:59] UKDeveloper99 commented on #12847
Hi @pandamicro @fusijie @ricardoquesada

I put together a small test case using the hello world example project. I used Cocos2D-x v3.4 final from the cocos store, but I'll try later with the newer versions, I have a feeling the bug will still be there however.

Here is the test project, all the code is the in the helloworldscene class.
https://drive.google.com/file/d/0BzImXAeK77t4Z2dCNEZ4X0d4SHM/v

[2015-07-16 20:00] wefiends commented on #12687
This is caused by `_isOpacityModifyRGB` not being set correctly, now that Label is not subclassing SpriteBatchNode (since #12718) . PNG textures need this set to true, otherwise the display color and alpha will not be set correctly.

This is a quick fix:

[code]

This will break if the font atlas has more than one texture and they don't all have the same premult value.

[2015-07-17 03:35] armedpotato opened #12887 "[Android] Cocos2dxHelper will not be initialized after activity recreate"
Sometimes the devices will recreate the activity after application enter foreground, like too heavy memory load or on specified process policy.
You can use the development tools in Android settings to simulate it. In Settings > Developer options > Apps > Don't keep activities[turn on]

In this case, since the application go in background, the main activity will be destroyed, meanwhile the Cocos2dx

[2015-07-17 03:59] fusijie commented on #10229
The specified region rectangle is base on screen coordinate, so ClippingRectangleNode's region doesn't support any transforms, such as setScale, setRotate and so on.

[2015-07-17 06:53] folgerhu opened #12892 "collision rebound will slow, and sometimes will stop"
@WenhaiLin

cocos2d-x v3.6
1. PhysicsMaterial(0.0f,1.0f,0.0f)
2. setGravityEnable(false);
But collision rebound will slow, and sometimes will stop.

[code]

log:

[code]

My test project: http://vdisk.weibo.com/s/u2pFxSLdtiYi

[2015-07-17 07:42] rangercyh opened #12895 "touch event pass to another layer?"
[code]

I create a scene, and two layer added to it.
layer1 is a cocos studio layer, and have a button, I bind a touch event to it, in the function, I remove the button from the layer, it's ok! But the touch event passed to layer2, that's strange.
layer2 is a normal layer, and I create a AllAtOnce listener, and bind a function.
anybody can help me to figure it out? If button1's function not call r

[2015-07-17 08:54] jasonzhangxx opened #12897 "Use RenderTexture with stencil buffer on Terga cause error!"
Same error: https://github.com/gameplay3d/GamePlay/issues/774

GL error on XiaoMi 3

[2015-07-17 09:33] fusijie commented on #12847
@UKDeveloper99 Thanks for your detailed description and code. I have reproduced this issue and found that the cause may be the texture coordinates. Cocos2d-x provide a precompiled macro `CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL` to use 99% of the texture. You can enable it in the `base/ccConfig.h`.

[2015-07-17 11:29] shutup commented on #8656
hello，may be i have the same question,i am new to coco2dx,and i am using v3.6.But when i use render command ,i do not got what i want,i am follow an tutorial here http://blog.csdn.net/akof1314/article/details/9293797
and try to port to v3.6.
follow is some code ,no matter how i change local z-order ,or global z-order,
the terrain is always in the back,i am not sure if i use render texture in a cor

[2015-07-17 11:54] shutup commented on #9815
@dabingnn follow tutorial shows one  http://blog.csdn.net/akof1314/article/details/9293797,it works in v2,but not in v3.6,and here is what i do to port it to v3.6 http://www.jianshu.com/p/431c74334cca .please also help me why the issue #8656 happen.

[2015-07-17 13:44] WenhaiLin commented on #12687
@wefiends Thank you. You needn't worry about "the font atlas has more than one texture and they don't all have the same premult value".
Label with TTF may have more than one texture,but they have the same premult value.
Label with bitmap font only have one texture.
Label with char map only have one texture.

[2015-07-17 14:14] WenhaiLin commented on #12784
@qiululu This issue should be fixed at https://github.com/cocos2d/cocos2d-x/pull/12828. Please verify that.

[2015-07-17 14:17] pepeek opened #12902 "[cocos2d-js] Cc.EditBox incorrect positioning on Android and ALWAYS in CAPS"
On Android is the normal9SpriteBg placed on expected position but the corresponding native edit control is ALWAYS placed on fixed top position regardless the required/set node position.

Also, the input text is always in CAPS with no option to switch is to lower case.
Regardless what mode/flag is set.
I've tried:

n = new cc.EditBox(cc.size(size.width*0.8, 50), new cc.Scale9Sprite("editbox_bg.png"

[2015-07-17 14:27] pepeek opened #12903 "[cocos2d-js] Cc.EditBox show virtual keyboard automatically"
Implement a method on cc.EditBox to show the virtual keyboard. Similar to ccui.TextField.attachWithIME().

First I thought that I can use this:

[code]

it does open the keyboard but the focus is not in the EditBox

so I've ended up with this DIRTY trick:

[code]

which is called from JS using JSB. Sad, but working... at least for now.

Any proper solution would still be appreciated, thanks.

[2015-07-18 00:27] ricardoquesada commented on #12847
@fusijie Does the `CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL` fix the issue?

IIRC, I added `CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL` in cocos2d-iphone to prevent some bugs with textures. But actually it was fixing the bugs but it worked ok for some textures.

[2015-07-18 02:59] #10858 closed, assigned to fusijie

[2015-07-18 03:01] cesarpachon opened #12904 "cocosui folder not found on ubuntu when running test"
working on implementation of AudioEngine for linux. when running the test NewAudioEngine on Ubuntu, I got this error and some UI sprites are not shown:
 cocos2d: fullPathForFilename: No file found at cocosui/sliderTrack.png. Possible missing file.
cocos2d: fullPathForFilename: No file found at cocosui/sliderThumb.png. Possible missing file.
cocos2d: fullPathForFilename: No file found at cocosui/sl

[2015-07-18 15:25] Mazyod commented on #11732
@zilongshanren Can someone confirm if this is a bug/feature request? It's easy to fix, I can submit a PR using the solution described in previous comment.

[2015-07-18 15:34] zilongshanren commented on #11732
@Mazyod In my opinion, I think it could be  a bug fix. But we should also consider the multiple platform implementation, especially for Android.

[2015-07-18 15:36] Mazyod commented on #11732
@zilongshanren thanks, I think I can deal with that as well. Will try to submit something very soon

[2015-07-18 15:38] zilongshanren commented on #11732
@Mazyod  Great :+1:

[2015-07-18 15:38] zilongshanren commented on #12904
Did you run the command `git submodule update --init`?

[2015-07-18 15:39] zilongshanren commented on #12903
@pepeek
thanks for reporting this issue.
EditBox optimization has a higher priority in v3.8 roadmap.

[2015-07-18 15:43] #12754 closed, assigned to WenhaiLin

[2015-07-18 21:45] cesarpachon commented on #12904
nope. I miss that step. thanks!

[2015-07-18 21:45] #12904 closed, assigned to nobody

[2015-07-19 06:21] wade0317 opened #12905 "quick 3.3 or 3.5 trans to cocos2d-x 3.7 rc1"
I create a lua HelloWorld project by running "cocos new MyLuaGame -p com.yourcompany.mygame -l lua -d MyLuaGame" with the newest cocos2d-x . I copy framework of quick 3.5 to my HelloWorld Project, and replace app directory , main.lua, config.lua with the sample code in mvc, when i run the project, it said : [LUA ERROR] [string "src/framework/cocos2dx/NodeEx.lua"]:278: attempt to call a nil value.

[2015-07-19 11:59] anton-skripnik opened #12906 "[Mac] Can't add custom member to cocos2d::Scene subclass."
On Mac, new project crashes as soon as I add a member to my custom cocos2d::Scene subclass.
# Steps to reproduce
1. Create a new project with `cocos new rnj -p org.myself.rnj -l cpp -d .`
2. Go `cd rnj/ && cocos run -p mac`. Everything goes as expected.
3. Create a new subclass of Scene, and add a pointer member to it. E.g.

[code]
1. In `AppDelegate.cpp` instead of `HelloWorld::createScene()`, do

[2015-07-19 15:44] qiululu commented on #12784
maybe the bug has already been fixed?  now it works correct

[2015-07-19 18:20] milos1290 opened #12907 "Sprite3D Attribute not found: a_normal"
Exported 3d model from Blender produces this warning if there are no lights in the scene

cocos2d: warning: Attribute not found: a_normal

It happens because model contains normals, but if there are no light sources in the scene, shader that doesn't have normals will be used and this warning will pop up, when trying to bind attributes.

[2015-07-19 21:39] Dredok commented on #11955
This still happens in 3.7

any plan to fix it soon?

[2015-07-20 01:45] #12775 closed, assigned to WenhaiLin

[2015-07-20 01:50] #12712 closed, assigned to WenhaiLin

[2015-07-20 02:13] pkxpp opened #12913 "[LUA ERROR] function refid '8182' does not reference a Lua function"
description: when I want my spine eventcallback don't work any more, I unregister the callback(as: :unregisterSpineEventHandler(sp.EventType.ANIMATION_EVENT)). But, after I do this, this problem come, why? And, How can I do? Thank you

[2015-07-20 02:23] man2 commented on #12857
any updates on this?

[2015-07-20 03:12] WenhaiLin commented on #12687
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12914

[2015-07-20 03:21] qiululu commented on #8397
I think it has already been fixed at latest version. it works correctly

[2015-07-20 03:22] #8397 closed, assigned to qiululu

[2015-07-20 03:27] qiululu commented on #12784
checking out the latest version of the code , it appears no problems. see the picture:
<img width="695" alt="98217b07-1eae-40ad-8bc6-d5373ef5fb11" src="https://cloud.githubusercontent.com/assets/5564318/8769552/33c76c6a-2ed2-11e5-8c91-139d7b6b7354.png">

[2015-07-20 03:41] pandamicro commented on #9582
@twolight Please check out the new versions of Cocos2d-x, v3.6 and v3.7. If you found any problem, you can reopen this issue

[2015-07-20 03:44] #9582 closed, assigned to qiululu

[2015-07-20 06:01] #12887 closed, assigned to yangws

[2015-07-20 06:02] Mazyod commented on #11732
@pandamicro I hope there wasn't any confusion about my previous PR. I didn't fix the bugs listed, since we decided to create separate PRs for each one. The PR was just cleanup work to prepare for future improvements

[2015-07-20 06:06] pandamicro commented on #11732
Sorry, my bad

[2015-07-20 06:11] #11585 closed, assigned to WenhaiLin

[2015-07-20 06:24] pandamicro commented on #11073
When @dumganhar originally designed the event system, he wrapped events with our high level APIs, but he didn't change any behavior of targeted platforms. On android, mutiTouch `onTouchesBegan` did always trigger once for every touch (event contains only one touch), so the behavior is different than iOS.

There is no optimal solution for this problem, the solution proposed by @yangws solve the dif

[2015-07-20 06:25] #11073 closed, assigned to yangws

[2015-07-20 06:48] wade0317 commented on #11585
I’m sorry to send Email to everybody directly!

I Known that cocos2d-x supports C++,Lua and JS, it do not support quick。But my project was developed by quick3.3.  because there is some bugs in quick 3.3 , such as emoji letter was not support very good. I found these bugs was resolved in coco2dx-3.7.  So i decided to trans our project from quick 3.3 to coco2dx-3.7。

I create a lua HelloWorld projec

[2015-07-20 08:20] folgerhu opened #12918 "TMXXMLParser.cpp -- In the function getRectForGID have small errors"
cocos2d-x v3.6

![33333](https://cloud.githubusercontent.com/assets/3455415/8772025/a3b7ea40-2efa-11e5-9083-a0d6b6e120e8.png)
_imageSize.width = 256, _margin = 1, _spacing = 1, _tileSize.width = 31

Can see in the Tiled editor tilesets is 8 columns,
<img width="368" alt="screen shot 2015-07-20 at 4 17 49 pm" src="https://cloud.githubusercontent.com/assets/3455415/8772049/fef603ba-2efa-11e5-98a2-bc

[2015-07-20 09:05] zawasp commented on #12882
@fusijie I know, but there's no direct way of doing it, eg:

[code]

More (and worse) than this, the AutoPolygon constructor will reload the same SpriteSheet texture file each time it's called, for each SpriteFrame. This takes a lot of time for large spritesheets.
It should just lookup the texture name in the texture cache.

[2015-07-20 09:06] pandamicro commented on #12918
I can't see any problems here

[2015-07-20 09:24] man2 opened #12920 "How to load remote texture?"
Tried with
Director::getInstance()->getTextureCache()->addImageAsync("http://discuss.cocos2d-x.org/images/logo-vertical.png",[&](Texture2D *tex){});

I got this
cocos2d: fullPathForFilename: No file found at http://discuss.cocos2d-x.org/images/logo-vertical.png. Possible missing file.

It used to be working. I'm using github codes.

[2015-07-20 09:47] pandamicro commented on #12920
This is not supported in CPP, only supported in JS

[2015-07-20 09:48] qiululu commented on #11019
using xcode profile <img width="819" alt="pf" src="https://cloud.githubusercontent.com/assets/5564318/8773478/249e2a50-2f07-11e5-972f-416995723654.png">and testing tools on mac to run your code
<img width="960" alt="memlk" src="https://cloud.githubusercontent.com/assets/5564318/8773484/2f883ec4-2f07-11e5-9d53-14760fb4c8dc.png">,there seem no problem

[2015-07-20 09:51] qiululu commented on #11019
<img width="955" alt="memlk2" src="https://cloud.githubusercontent.com/assets/5564318/8773595/e6bad304-2f07-11e5-94cb-1696a5b2f0dd.png">

[2015-07-20 09:59] pandamicro commented on #11019
@amuseamuse Please check out our research. I will close this issue for now, if there is any other way to reproduce the memory leak, please reopen this issue

[2015-07-20 10:00] #11019 closed, assigned to WenhaiLin

[2015-07-20 10:03] #12687 closed, assigned to WenhaiLin

[2015-07-20 10:57] pandamicro commented on #11585
@dualface can you please give some advise for quick users? Do you plan to migrate more quick feature into Lua?

[2015-07-20 11:02] #12784 closed, assigned to qiululu

[2015-07-20 13:13] IgorMats opened #12925 "Spine: issue with scheduleUpdate"
Hi everyone.
I found a problem with latest version of **CCSkeleton.cpp**.

When you create a new Spine instance it calling **scheduleUpdate** method on **onEner** event.
It's okay, but when you using **javascript bindings** and wants to control update method from **javascript** there are some issue because **update** method in **javascript** is never calling because scheduleUpdate was called from

[2015-07-20 13:25] pandamicro commented on #12925
Temporarily, you can remove `this._super()` in JS update function, then the spine animation's speed should be normal.

The final solution should fix the default update in skeleton, if it found the call is invoked from script, then ignore it

[2015-07-20 13:29] IgorMats commented on #12925
I tried it but then it ignores my changes for class properties, so now I commented scheduleUpdate and unscheduleUpdate in c++, but it is not very convenient.

[2015-07-20 13:34] pandamicro commented on #12925
Can you post the code in your update function ?

[2015-07-20 13:40] IgorMats commented on #12925
@pandamicro there are nothing special, just `this.x += 1;`.

[2015-07-20 14:52] pandamicro commented on #12905
@dualface Can you take a look at this issue

[2015-07-20 15:07] UKDeveloper99 commented on #12847
@fusijie @ricardoquesada  I was aware of CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL, however a lot of my research indicated that this option was essentially a hack fix. it's also worth mentionining that there is visual stretching and shrinking of the textures. It really makes the visual quality poor.

I don't think this can realistically be considered as a fix. I really think this issue needs revisiting

[2015-07-20 15:17] fusijie commented on #12920
@man2 I have forked a repo which may be helpful to you. It's base on Cocos2d-x cpp branch.

https://github.com/fusijie/WebSprite

[2015-07-20 15:30] fusijie opened #12926 "getDepthInView issue"
`version:` 3.7
`issue:`Create a empty Sprite3d to be the container of Sprite, for the purpose of rendering 2d object as 3d. Rotate the sprite by Y axis, get the depth of sprite in view, the value of depth is varying. What's the definition of 2d sprite's depth?
`reproduce:` Add following code to **HelloWorld::init**.

[code]

Add following log code to **RenderCommand::init**

[code]

[2015-07-20 15:33] fusijie commented on #12926
@darkdukey Could you please have a look?
@pandamicro You can attach the tech support here.

[2015-07-20 15:40] fusijie commented on #12882
@zawasp Yes, you are right. Polygon Sprite is not a mature product, and I think we need a detailed discuss about it and relative tool.

[2015-07-20 15:51] UKDeveloper99 commented on #12847
@ricardoquesada
look familiar?

http://forum.spritebuilder.com/t/possible-bug-of-cocos2d-texture-packer/11429

https://code.google.com/p/cocos2d-iphone/issues/detail?id=1345

The first link has a post which I believe describes the exact cause of the issue.

[2015-07-20 15:57] UKDeveloper99 commented on #12847
That does mention about the float precision in the shader, I haven't tried that yet, but it seems like a more sensible fix. Is there any big performance implications to having high precision floats in the shader?

Edit: seems it does have a noticeable performance hit on some lower end devices.

[2015-07-20 17:33] man2 commented on #12920
Thanks, I also found this implementation
https://developerhuddle.wordpress.com/2015/02/22/remotesprite-sprite-extension-to-support-server-hosted-graphics-cocos2d-x-c/

I think this feature is important to include in main repo

[2015-07-20 17:42] UKDeveloper99 commented on #12847
http://blog.seasons.cc/entry/20101231/1293802694

[2015-07-20 18:02] jimrange commented on #12691
Hopefully this bug can be confirmed and added to 3.8.
I think this is a critical bug since it results in strange and unexpected behavior, essentially making the physics wrapper unusable without the temporary workaround I mentioned above.

[2015-07-20 18:07] jimrange commented on #12567
Hopefully this bug can be confirmed and added to 3.8.
I think this is a critical bug since it results in strange and unexpected behavior, essentially making the physics wrapper unusable if scene transitions are used.

This bug might be related to https://github.com/cocos2d/cocos2d-x/issues/12691.

[2015-07-20 19:06] ricardoquesada commented on #12847
@UKDeveloper99  absolutely... that's why I was surprised that `CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL` fixed the issue.

@pandamicro @fusijie could you please check this issue again with the info posted by @UKDeveloper99 ? Thanks.

[2015-07-20 22:20] ricardoquesada commented on #11955
thanks. scheduled for v3.8

[2015-07-21 00:32] jimrange commented on #10527
I looked into this, but was unable to find a fix.

The audio file I was using is a 44.1KHz 8-bit mono wave file with a perfect seamless loop when played on iOS, Android 4.x, and Mac.

At the time of the stutter, this logcat message is printed:
`I/NuPlayer(  184): audio discontinuity (formatChange=0, time=1)`

I reviewed the OpenSLES specification 1.0.1.
There does not seem to be anything setup wro

[2015-07-21 00:49] jimrange commented on #11563
The open bug https://github.com/cocos2d/cocos2d-x/issues/10527 in AudioEngine regarding a gap in looping on Android should probably be fixed before wrapping AudioEngine with the SimpleAudioEngine interface.

Audio looping works good in SimpleAudioEngine.  But in AuidoEngine there is a noticeable gap in playback when the track loops back to the start of the audio.

So removing SimpleAudioEngine's i

[2015-07-21 01:34] dualface commented on #12905
You can upgrade your project to Quick 3.6 (3.7 coming soon), without modify many codes.

New Quick repo: https://github.com/dualface/quick-ng

[2015-07-21 01:58] wade0317 commented on #12905
OK, I will have a try。 Thanks!

[2015-07-21 01:58] wade0317 commented on #12905
OK, I will have a try。 Thanks!

[2015-07-21 01:59] wade0317 commented on #12905
OK, I will have a try.  Thanks!

[2015-07-21 02:08] #12448 closed, assigned to nobody

[2015-07-21 02:27] #9382 closed, assigned to yangws

[2015-07-21 02:59] #10759 closed, assigned to yangws

[2015-07-21 03:02] folgerhu commented on #12918
[code]

if _imageSize.width = 256, _margin = 1, _spacing = 1, _tileSize.width = 31, then:

[code]

But see in the Tiled editor tilesets is 8 columns...

[2015-07-21 04:06] pandamicro commented on #12847
Ok, @fusijie is checking it

[2015-07-21 08:52] hackthehackerman opened #12939 "Is v3.7 using a difference size system?"
Hello, I am trying to migrate my project from 3.6 to 3.7 and notice that all my Labels are huge! It turns out that v3.7 has changed the size system from pixels to a "universal dimension"?

With the following codes:

[code]

It used to print out the pixel dimension of the display, so 750 and 1334 for iphone 6. But it's now giving me 179.91,320 for iphone 6 and 180,320 for iphone 6+.

Here is a scre

[2015-07-21 09:16] WenhaiLin commented on #12528
Done in:
https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/171
https://github.com/cocos2d/cocos2d-x/pull/12938

[2015-07-21 09:43] fusijie commented on #12847
@UKDeveloper99 @ricardoquesada I have refined the test case on [my branch](https://github.com/fusijie/cocos2d-x/tree/check_spriteframebug). There are some similar issues happened and people either enable `CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL` or `setAntiAliasTexParameters()` (implemented by use GL_LINEAR Filtering mode internally) to cover it, but it seems as hack fix. I have not found the solution

[2015-07-21 10:20] UKDeveloper99 commented on #12847
@fusijie A couple of things, I'm fairly sure you can't reproduce the issue if the single image occupies the entire texture pack. It's something to do with the texture coordinates that are < 1 and > 0 I think.

Also if this was the case then a regular sprite would also have the same issue.

I think CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL just masks the issue, because when the flash line appears the tex

[2015-07-21 10:27] fusijie commented on #12847
@UKDeveloper99 yes, you are right, but Test2 and  Test4 both have a 2 pixels padding, and Test3 just as a contrast test. No matter CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL or setAntiAliasTexParameters only to cover the issue. Sorry for my poor English...

[2015-07-21 10:30] UKDeveloper99 commented on #12847
@fusijie Your English is fine :) Hmm unless I was sat trying to fix the issue myself I'm not sure what to suggest. Can you look at some more things in the debugger. See if the sprite frame rect is changing somewhere maybe?

Also I remember making a test with 0 padding and several frames and I was still experiencing the issue. I don't think the padding makes a difference.

[2015-07-21 14:46] pandamicro opened #12940 "Fix studio JSON parser performance by removing SimpleAudio play"

[2015-07-21 14:47] pandamicro opened #12941 "Fix ccs.Skin construction issue in JSON parser"
Originally reported : http://www.cocoachina.com/bbs/3g/read.php?tid=313677&from=singlemessage&isappinstalled=0

[2015-07-21 16:31] tizbecool commented on #12166
I've got the same Error and checking that libcocos2djs.so and libcocos2dx.jar was well rebuild fixed the thing.

[2015-07-21 17:29] ermanhaskan opened #12942 "Android 5.1.1 (Nexus) Audio Playback Causes Frame Skipping"
Hello

WAV. files played by SimpleAudioEngine's playEffect() method is causing frame skipping from time to time on Android 5.1.1 on different Nexus devices (tested on Nexus 5 and 6). Sounds are also not played properly when they are played rapidly which works without any problems on any other device.

I am receiving strange audio logs each time an effect is played:

D/audio_hw_primary(  355): out_

[2015-07-21 19:22] ricardoquesada commented on #12847
@fusijie Please, create a test case that reproduces this bug, call it "Bug #12847" and send a Pull Request with the test case.
If you cannot fix it, I'll take a look at it.
thanks

[2015-07-21 22:36] ermanhaskan commented on #12942
Tried out 3.7 and this issue still persists.

[2015-07-22 00:10] hawkwood opened #12943 "Physics debugDraw does not match with nodes when Scene is transformed"
If a transformation is applied to the Scene, such as MoveBy/To, ScaleBy/To, or RotateBy/To,  the debugDraw layer no longer matches up with the visual nodes.

This is easiest to see by adding a runAction to PhysicsTests.cpp of cpp-tests:

You can see that the debug frames spin as expected with the non-physics elements on the scene, whereas the actual nodes (such as the sprites of grossini in Pyrami

[2015-07-22 00:48] ricardoquesada commented on #12847
@fusijie One more thing. Please, make sure to add the test in the "cpp-tests" -> "bugs" section.
Thanks!

[2015-07-22 01:13] pandamicro opened #12944 "Add addChild(child, zOrder, name) in the web engine"

[2015-07-22 02:45] yangws commented on #12918
max_x = 7 is correct, the tile has 8 columns, values in [0, 8), means [0, 7].

[2015-07-22 03:16] wulei opened #12948 "lua_cocos2dx_ArmatureAnimation_setLastFrameCallFunc why not supported, setEvent super?"
[code]

[2015-07-22 03:19] pandamicro commented on #12787
I will close this issue for now, @Dolaham if you have any further information, you can tell us and reopen it .

[2015-07-22 03:20] #12787 closed, assigned to ZhangMenghe

[2015-07-22 03:21] pandamicro commented on #12672
Do we have any progression on this issue ?

[2015-07-22 03:26] pandamicro commented on #12530
Fixed via https://github.com/cocos2d/cocos2d-x/issues/12530

[2015-07-22 03:26] #12530 closed, assigned to jianglong0156

[2015-07-22 03:30] ZhangMenghe commented on #12672
It's a bit odd by now.
We applied the testcase on Web,js-win32 and js-mac in v3.7.The former two  performed good when set blendFunc(SRC_ALPHA, ZERO) which I think it a proper way.But when it went wrong on mac and show white(alpha=0) color instead normal picture on the vestige of eraser.
Therefore, I think there may be something wrong in the implemention under mac.

[2015-07-22 03:46] pandamicro commented on #11913
We have do some test based on v3.7

Web version performance test:
![wechat_1437536659](https://cloud.githubusercontent.com/assets/632460/8817562/2fe4a05e-3067-11e5-8539-4cc0c4ed866b.jpeg)

iOS performance test:
![wechat_1437536627](https://cloud.githubusercontent.com/assets/632460/8817566/3cd7901e-3067-11e5-8a35-0ad4e4632ee4.jpeg)
![wechat_1437536622](https://cloud.githubusercontent.com/assets/632

[2015-07-22 03:47] pandamicro commented on #11913
Basically, the strange time consumption is in SimpleAudio and TextBMFont parser, they could be improved.

@VisualSJ Can you state the meaning of each column ?

[2015-07-22 04:08] pandamicro commented on #11561
I think we should have a complete product design and target definition for this task.
- First of all, what's the difference between Plugin-x, SDKBOX, AnySDK ?
- How to merge AnySDK & SDKBOX ? With source code or prebuilt library ?
- How to solve the difference between SDKBOX & AnySDK ? They have different API, client application, integration instruction.
- How to keep compatible with Plugin-x and

[2015-07-22 04:13] pandamicro commented on #10847
I removed this task from current milestone, and leave the PR here for anyone who may need it. If anyone think this is a serious bug which should be taken care of, please comment

[2015-07-22 04:36] darkdukey commented on #11561
- Plugin-x: old attempt to create plugin for cocos2d-x nobody is maintaining it now, and it's seriously out of date, I highly doubt it will be missed if we remove it since most of them are barely working.
- SDKBOX: a package manager for third party SDKs, actively maintained and super easy to use.
- AnySDK: very good product, but right now only focus on chinese market

Firstly I don't think the com

[2015-07-22 06:00] yangws commented on #12724
Which version engine do you use?
If you clone codes from github, make sure call git submodule update --init yet.

[2015-07-22 06:25] natural-law opened #12952 "Support generate prebuilt libs of engine with debug mode."
The script in framework-compile should support generating prebuilt libs with debug mode.

[2015-07-22 07:02] #11780 closed, assigned to nobody

[2015-07-22 07:02] #9496 closed, assigned to zilongshanren

[2015-07-22 07:22] WenhaiLin commented on #12939
@yansuck That size system has not changed in cocos2d-x 3.7 version. Please check the design resolution within AppDelegate::applicationDidFinishLaunching.

[2015-07-22 07:24] WenhaiLin commented on #12939
@pandamicro I think this issue should be close.

[2015-07-22 07:42] #12528 closed, assigned to WenhaiLin

[2015-07-22 07:47] pandamicro commented on #12672
You mean for JSB？

[2015-07-22 07:49] fusijie commented on #8656
@shutup Please provide completed, runnable project(Include terrain implementation & corresponding resource). Thanks.

[2015-07-22 08:17] shutup commented on #8656
@fusijie please check this repository https://github.com/shutup/hill-climb-race  .this project is not working ok until i turn the draw function in TerrainTest.h to use RenderCommand  rather than open-gl statements. i am new to port this game, so if i use something in the wrong way,please let me know.

[2015-07-22 08:17] #12906 closed, assigned to yangws

[2015-07-22 08:23] #12939 closed, assigned to WenhaiLin

[2015-07-22 08:37] hsdk123 commented on #9918
@walzer @pandamicro  Hi, this issue's been open for more than half a year now - will this be available for 3.8?

[2015-07-22 08:47] ZhangMenghe commented on #12672
I think so.

[2015-07-22 12:53] hackthehackerman commented on #12939
I was running my codes inside HelloWorld:init() from a fresh application template generated by cocos. HelloWorld:init() is "inside" AppDelegate::applicationDidFinishLaunching.

I ran the following codes again on iphone 6, iphone 6+ and ipad simulator.

<img width="1202" alt="screen shot 2015-07-22 at 8 48 49 pm" src="https://cloud.githubusercontent.com/assets/1932380/8825662/588d01bc-30b3-11e5-973

[2015-07-22 13:07] TheCodez commented on #12166
Indeed, it works. Thank you :+1:

[2015-07-22 13:07] #12166 closed, assigned to WenhaiLin

[2015-07-22 13:33] zilongshanren commented on #12519
http://blog.csdn.net/jasonblog/article/details/23771117

[2015-07-22 13:34] #12905 closed, assigned to dualface

[2015-07-22 13:54] martell opened #12960 "cmake now supports windows store apps"
I don't know if you guys are aware or not but MS have sponsored some work on cmake

https://github.com/Microsoft/CMake

cmake can now generate projects using xaml files and can target windows phone winRT universal app etc.

All the more reason to move to a full cmake build system for cocos2d-x

[2015-07-22 18:35] redminion opened #12962 "Scene can't have std::vector member"
Creating a class that inherits from cocos2d::Scene, and giving it a std::vector member variable causes a runtime error but compiles fine.  The error I get is "vector iterators incompatible" and occurs on line457 of CCNavMesh.cpp.  (Im running windows7 and visual studio 2013 update 4)

This bug is related to the physics code since disabling CC_USE_PHYSICS no longer produces an error.

This bug is n

[2015-07-22 18:56] ricardoquesada commented on #12847
@fusijie thanks. I'm working on the bug now.

[2015-07-22 19:22] ricardoquesada commented on #12962
can you post the code that reproduces the bug? thanks.

[2015-07-22 20:45] kompjoefriek opened #12963 "gen_prebuildlibs no longer works correctly on windows, Remove it"
The script `gen_prebuild_libs.py` goes into an endless loop on Windows 7 (64bit) and Windows 8.1 (64bit).
This can be fixed by changing `continue` to `break` on line 199. Not sure if that is the correct thing to do.

The configuration in `build_config.json` is outdated:
- `build/cocos2d-win32.vc2013.sln` was renamed to `build/cocos2d-win32.sln`
- `libcocosdenshion`, `libchipmunk` and `libcocosbuil

[2015-07-22 21:31] ricardoquesada commented on #12847
I haven't fixed the bug, and I'm not sure what is the best strategy to fix it yet.

I continued with @fusijie 's test and replaced the top line with Pink and the bottom line with Yellow.
The example from the left is using simple sprites. The example from the right is using `SpriteFrame`.
As you can see the example from the left doesn't show the "gap", the background red line, because it is drawing

[2015-07-22 22:09] ricardoquesada commented on #12847
Pull Request that improves that test case: https://github.com/cocos2d/cocos2d-x/pull/12964/files

[2015-07-23 02:04] c3076802 opened #12965 "非线程安全的容器操作"
1. 在CCRef里面通过CC_REF_LEAK_DETECTION跟踪Ref对象生命周期，由于现在Image是继承自Ref，在TextureCache里面通过线程加载时就有可能导致__refAllocationList数据污染。
2. FileUtils的fullPathForFilename也是一样在TextureCache的loadImage线程里面操作_fullPathCache这个容器。
3. TextureCache的loadImage里面_textures.find(asyncStruct->filename);操作也是不安全的

问题1,确认过是会crash的

[2015-07-23 02:06] c3076802 opened #12966 "libsimulator的内存泄露"
我们在3.6工程里面使用vld检查内存泄露,libsimulator有大量的泄露问题。
cocos2d-x一直以来也是如此，退出程序必然有一堆内存泄露，静态的Ref对象引用对象。

[2015-07-23 02:11] c3076802 opened #12967 "请提供更多的App消息透传到脚本"
1. 程序退出的消息，虽然现在可以通过场景的exit事件监听来实现，但是实际上能够有程序退出的各个阶段的消息提供给脚本更好，这样可以帮助脚本检查自身的引用情况。
2. 内存警告消息

[2015-07-23 02:16] c3076802 opened #12968 "3.6 cocosStudio CSLoader 读取csb文件重复fopen"
1. 3.6 cocosStudio CSLoader 读取csb文件的节点和Timeline使用两次fopen

[2015-07-23 02:26] c3076802 opened #12969 "cocos3.6 lua导出userdata安全检查问题"
1. 在脚本运行过程中一不小心就可能引用了已经失效的userdata，比如在callback里面使用Node。在COCOS2D_DEBUG下是有安全检查的，但是到了release下就有可能导致crash，期望仅仅是脚本的异常。

期望将lua导出接口在任何build下面都可以有脚本的参数检查，至少是可选，而不是一刀切使用COCOS2D_DEBUG来控制。

[2015-07-23 02:34] dreamlover opened #12970 "cocos' -p option won't change the package name of the generated android project."
cocos new -p com.xx.xxx -l lua
When I create a new project with the command line above, the package name of the generated android project is still org.cocos2dx.lua.

[2015-07-23 02:40] WenhaiLin commented on #12939
@yansuck
The value is equal to `Director::getWinSize()` if don't invoke `GLView::setDesignResolutionSize()`.
Do you invoke `GLView::setDesignResolutionSize()` within AppDelegate::applicationDidFinishLaunching

[2015-07-23 03:23] #12918 closed, assigned to yangws

[2015-07-23 05:47] hackthehackerman commented on #12939
You are right. I didn't see the newly added design resolution routine in the default AppDelegate.cpp. Thank you for helping!

[2015-07-23 07:04] c3076802 commented on #12966
析构PlayerMenuItemWin这些窗口时不应该使用CCLog打印，因为这样会导致重新创建console，造成内存泄露，应该改为使用printf

[2015-07-23 07:08] hiki343726700 commented on #8313
@minggo
this the issue ,from cocos2dx3.2 and android Blade E,How to solve？thanks

[2015-07-23 07:17] WenhaiLin commented on #8313
@hiki343726700 This issue should be fixed at https://github.com/cocos2d/cocos2d-x/pull/9088 . Please refer to https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/android/java/src/org/cocos2dx/lib/Cocos2dxMusic.java

[2015-07-23 07:18] WenhaiLin commented on #8313
@hiki343726700 Sorry,i got it wrong.

[2015-07-23 07:20] WenhaiLin commented on #8313
@hiki343726700 Please try this solution: https://github.com/cocos2d/cocos2d-x/pull/12256

[2015-07-23 07:38] #12252 closed, assigned to natural-law

[2015-07-23 07:56] yantian001 commented on #10724
@kumsook it's seems not work ...

[2015-07-23 08:33] hiki343726700 commented on #8313
check passed

[2015-07-23 10:11] #12752 closed, assigned to ZhangMenghe

[2015-07-23 10:22] UKDeveloper99 commented on #12847
@ricardoquesada interesting, I have seen some posts on forums about setting the projection to 2D. It's definitely not a straightforward bug. Keep up the good work, I'm sure you'll find the fix :) !

[2015-07-23 10:43] xiaofengxyz commented on #9344
It also has happened in cocos2dx3.2 on nexus5,  but the NDK need r9d. What should I do? Please help me.

[2015-07-23 11:00] pandamicro opened #12982 "Merge Skeleton Animation support for Cocos v2.3.2"

[2015-07-23 11:02] pandamicro opened #12983 "Implement JSON Parser for skeleton animation"

[2015-07-23 11:03] #12489 closed, assigned to VisualSJ

[2015-07-23 11:08] pandamicro commented on #12983
https://github.com/cocos2d/cocos2d-html5/pull/3009

[2015-07-23 11:09] pandamicro opened #12984 "Implement Skeleton Animation for the web engine"

[2015-07-23 11:10] pandamicro commented on #12984
https://github.com/cocos2d/cocos2d-html5/pull/3009

[2015-07-23 11:12] pandamicro opened #12985 "Add node.getNodeToParentTransform with selected ancestor"

[2015-07-23 11:12] pandamicro commented on #12985
Web implementation: https://github.com/cocos2d/cocos2d-html5/pull/3012

[2015-07-23 11:13] pandamicro commented on #12985
Native implementation: https://github.com/cocos2d/cocos2d-x/pull/12912

[2015-07-23 11:14] #12985 closed, assigned to zilongshanren

[2015-07-23 13:51] WenhaiLin commented on #9344
@xiaofengxyz You can replace those  precompiled third party libraries with libraries in cocos2d-x 3.3 version,then build your project with NDK r10c +.

[2015-07-23 15:14] wulei opened #12986 "Fix ActionTimeline setLastFrameListener"
if  setLastFrameListener play other action, _currentFrame be cover, fix code:

[code]

[2015-07-23 16:07] ricardoquesada commented on #12847
@UKDeveloper99  have you tried with "extrude + 2 pixels of padding/border"? did it work?

[2015-07-23 16:12] UKDeveloper99 commented on #12847
@ricardoquesada I believe I tried it before and it didn't make a difference, but I'll try it again now and see if it makes a difference, so for clarity I will use. Extrude: 1, Padding: 2, Border: 2 and Projection::_2d

[2015-07-23 16:33] ricardoquesada commented on #12847
yes, please. thanks.

[2015-07-23 16:56] UKDeveloper99 commented on #12847
@ricardoquesada Yes I can confirm this appears to look correct to me. It's a little difficult to tell with the extrude option as obviously the outer edge of pixels looks identical so without a pink or yellow line like you have used you it's a little difficult to see. But it definitely doesn't look anywhere near as bad as the CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL fix, with the visual stretching and s

[2015-07-23 18:51] redminion commented on #12962
To reproduce the problem create a brand new c++ project.

(1) --- Edit HelloWorldScene.h to inherit Scene and have member vector:

[code]

(2) --- Edit HelloWorldScene.cpp to make createScene() return a Scene:

[code]

(3) --- Edit HelloWorldScene.cpp to make init() call Scene::init():

[code]

Note that this code works fine in v3.6 or older.

[2015-07-23 18:51] UKDeveloper99 commented on #12847
@ricardoquesada @fusijie out of interest is there any performance implications or features that may stop working with 2D projection?

[2015-07-23 19:16] ricardoquesada commented on #12962
looks like a compiler bug... not a cocos2d bug.
But to be sure, you should post the whole project... or try to compile it on Mac, or on Android.
If it works with other compilers, then it is a VS bug.

[2015-07-23 19:23] ricardoquesada commented on #12847
2d projection is not really needed. But if you are not going to use 3d features, I suggest using it. No performance implications in using one or the other.

Creating spritesheets with extrude and 2 pixels of padding/border is pretty much what I have been recommending from day one in cocos2d-iphone and cocos2d-x. All spritesheets must be created like that.

You are not triggering the bug you mentio

[2015-07-23 20:17] redminion commented on #12962
Okay Ricardo, I have created a new repository with a brand new v3.7 project (and my changes),  you can find it here: https://github.com/redminion/cc37final_bugTest

I don't have a Mac to try it on,  but I can try it on Android later today.

[2015-07-23 20:33] ricardoquesada commented on #12962
Thanks. Yes, please, test it on Android. If it crashes on Android I'll take a look at your test project. Thanks.

[2015-07-24 01:25] pandamicro commented on #12986
Why not contribute to our engine with PR ?

[2015-07-24 01:27] pandamicro commented on #12986
@geron-cn Can you check this out

[2015-07-24 01:50] pandamicro commented on #12962
It should have been fixed in https://github.com/cocos2d/cocos2d-x/issues/12906
@yangws Please confirm

[2015-07-24 02:05] jonnyijapan commented on #11672
Sorry to bump again but I get a LOT of warnings when building for Android, because cocos2d-x (3.6) seems to be using the old callback itself... Maybe it's fixed in 3.7 or something, but I'm still on 3.6 and will try to find a way to silence those warnings for whatever in cocos2d-x that is using that. I made sure my game only uses the lambda/block function variant.

[2015-07-24 02:13] jonnyijapan commented on #11672
Got it.

Instead of just including HttpClient.h, which caused the deprecated warnings, I use this:

[code]

[2015-07-24 02:13] zj8487 commented on #12489
is there any example to indicate how to use callback in js？
@pandamicro
@VisualSJ

[2015-07-24 02:16] pandamicro commented on #12489
@VisualSJ Please add a test case for the callbacks

[2015-07-24 02:19] zj8487 commented on #12489
when will the 3.7.1 be released?

[2015-07-24 02:24] pandamicro commented on #12489
About 8.11

[2015-07-24 02:30] pandamicro commented on #12963
It's no longer used by Cocos workflow and no longer maintained, we will remove it in v3.8

[2015-07-24 02:32] pandamicro commented on #12960
This is a good news, @yangws

[2015-07-24 02:32] ricardoquesada commented on #12962
good finding. yes. closing it.

[2015-07-24 02:32] #12962 closed, assigned to yangws

[2015-07-24 02:41] pandamicro commented on #9918
Hi, @hsdk123 VideoPlayer is a experimental feature now, and win32 is not our focused platform, so this task has a low priority in our plan. Please stay tuned for the news

[2015-07-24 02:58] pandamicro commented on #11561
I really like this idea !
AnySDK plugin need to be installed manually now, and SDKBOX can solve it.

In my comprehension, AnySDK / SDKBOX are different products:
- SDKBOX should be able plug any kind of 3rd party library into user project.
- AnySDK wrapped many SDKs APIs into AnySDK API and delegate their functionalities.
- Both of them are targeted to a general usage, should not be limited to one

[2015-07-24 03:00] darkdukey commented on #11561
Yes that's correct, there is plan for SDKBOX support other engine, adobe air, unity as well.

[2015-07-24 03:29] xiaofeng11 commented on #12968
@c3076802
能具体说下这个问题是指哪个函数里的处理么？

[2015-07-24 03:34] hylthink commented on #11561
AnySDK can be a plugin as well.So the tool is under development to solve it that AnySDK plugin need to be installed manually, it bases on 'cocos package’.

The tool will be integrate into AnySDK client in next version.

AnySDK
黄艳丽

[2015-07-24 03:55] folgerhu opened #12994 "20 * 2000 TMXTiledMap last few tiles can't display"
cocos2d-x v3.7

Map size: 20 x 2000
Last few tiles can't display in cocos2d-x:

[code]

<img width="1279" alt="screen shot 2015-07-24 at 11 52 05 am" src="https://cloud.githubusercontent.com/assets/3455415/8867323/771d0bf2-31fa-11e5-87f4-7da16bc74791.png">

Here is my map resource: http://vdisk.weibo.com/s/u2pFxSLc-nv-

[2015-07-24 04:07] darkdukey commented on #11561
@hylthink do you know who is maintaining `cocos package` right now? As far as I know `cocos package` are no longer been maintained, and the original maintainer joined SDKBOX team.

[2015-07-24 04:31] pandamicro commented on #9479
Final fix here: https://github.com/cocos2d/cocos2d-x/pull/11583

[2015-07-24 04:31] #9479 closed, assigned to nobody

[2015-07-24 04:50] pandamicro commented on #12962
As it's a new issue caused by v3.7, we decided to migrate the fix into v3.7.1

[2015-07-24 05:37] Cybertwip commented on #10487
This happens also when drawing a FastTMXTiledMap and its TMXLayer objects.

This seems to partially solve the camera cull for TMX Layers:

[code]

[2015-07-24 05:53] WenhaiLin opened #12996 "Label:text vertical with multiple lines should base on the label’s whole text."

[2015-07-24 06:55] #12982 closed, assigned to nobody

[2015-07-24 07:25] #12984 closed, assigned to VisualSJ

[2015-07-24 07:25] fusijie commented on #12416
It's a angel issue. @stammen Could you please take a look?

[2015-07-24 07:25] #12983 closed, assigned to VisualSJ

[2015-07-24 07:38] pandamicro opened #12997 "Bind BoneNode/SkeletonNode/SkinNode to JS and Lua and Add test cases"
- [x] Add JS Bindings (@pandamicro)
- [x] Add Lua Bindings (@dualface)
- [x] Add JS test case (@VisualSJ)
- [x] Add Lua test case (@dualface)

[2015-07-24 08:16] kompjoefriek commented on #12963
ok, thank you.

[2015-07-24 09:45] WenhaiLin commented on #12996
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12993

[2015-07-24 09:46] yangws commented on #8524
I try to reproduct this issue, adding test code in both TMXIsoVertexZ test and TMXIsoVertexZNew test. TMXIsoVertexZNew as sample below:

[code]

The tests render results:
- TMXIsoVertexZ
  ![tmxisovertexz_render](https://cloud.githubusercontent.com/assets/488183/8871863/30960112-322b-11e5-91c6-dd2cc5f67fa7.gif)
- TMXIsoVertexZNew_Render
  ![tmxisovertexznew_render](https://cloud.githubusercontent.

[2015-07-24 09:46] pandamicro opened #13003 "JSB ccui.Widget onEnter cause infinite recursion"
Migrate from: https://github.com/cocos2d/cocos2d-js/issues/1789

Reproduce by:

[code]

This may be another problem

[2015-07-24 09:52] VisualSJ commented on #11913
5: Parse all of the properties
1: Don't do anything, only to return empty CCNode
2: Not parsing anything, returns the correct object
3: Not parsing generic properties(LayoutComponent, position, anchor...)
4: Not parsing LayoutComponent

[2015-07-24 10:00] #12941 closed, assigned to VisualSJ

[2015-07-24 10:01] lyubomirv commented on #8524
From what I see in the `gif` animation, it looks like TMXIsoVertexZNew_Render is working correctly.

You've basically made it render the map elements line by line, right? I mean map line.

If this gets approved as a possible solution, is it possible to make the render mode configurable? Like, add a boolean parameter in the `TMXTiledMap::init()` method, that sets the render mode to either 1-call (c

[2015-07-24 10:22] fusijie opened #13004 "[Test Case] Shader position offset."
`reproduce:` TestCase-Shader-All shaders
`issue:` position of shaders have offsets on retina screen, such as iPhone6+, Mac retina screen.
ps: JS also have this issue.

[2015-07-24 10:33] yangws commented on #8524
@lyubomirv
Currently, there are two TMXTiledMap in engine, one in cocos2d namespace, another in cocos2d::experimental namespace.
The  TMXIsoVertexZ is test case for cocos2d::TMXTiledMap, the TMXIsoVertexZNew is same test case for cocos2d::experimental::TMXTiledMap.
It should be easily that using exprimental::TMXTiledMap instead cocos2d::TMXTiledMap in codes.

I don't know when cocos2d::TMXTiledMap

[2015-07-24 10:51] lyubomirv commented on #8524
@yangws
Maybe I didn't express myself correctly.

II understand that the classes from `experimental` eventually replace the same ones in the main `cocos2d` namespace. However, you expressed concern about that, because the new rendering method is slower than the current one.

So, what I suggested, is: Instead of completely replacing the old `TMXTiledMap` with the experimental one, why not merge onl

[2015-07-24 11:22] UKDeveloper99 commented on #12847
@ricardoquesada I know they are recommended, when you select the cocos2d preset in TexturePacker in turns them on for you. I was experimenting with them turned off because when I was trying to fix the original bug they weren't making a difference.
Of course they help with the various OpenGL artifacts/issues that can crop up, as can pre multiplied alpha.

I don't think using highp is an option, I t

[2015-07-24 11:40] c3076802 commented on #12968
SLoader.h

[code]

//然后你们测试代码
// ExtensionsTest\CocoStudioActionTimelineTest\ActionTimelineTestScene.cpp

[code]

两次调用同一个文件"ActionTimeline/DemoPlayer.csb"，两次fopen

[2015-07-24 11:47] c3076802 commented on #12965
我们的游戏是有大量图片异步加载的，基本上和页游一个处理办法都是边下边玩的，才会出现上面的问题。毕竟cocos也就一个加载线程在跑，还有一点，现在取消异步加载实际上它还是会读取的，只不过读取完不回调而已，但是这样就意义不大了。

[2015-07-24 12:48] ricardoquesada commented on #12962
makes sense.

[2015-07-24 12:57] stammen commented on #12416
I am working with the Angle team on this issue. It won't be fixed for several weeks.

[2015-07-24 12:57] ricardoquesada commented on #12847
@UKDeveloper99  good point. We should put it in the Programmers Guide!

The "real fix" has to do with subpixeling... at least that is my understanding of this problem. And the fix is to prevent subpixeling.

So, rouding the pixels, as you said before, should fix this. But I wouldn't know right now what is the best way to do it.

[2015-07-24 13:23] geron-cn commented on #12986
@wulei   thank you, this issue may be fixed in
https://github.com/cocos2d/cocos2d-x/pull/12040

could you check about this?

[2015-07-24 15:48] UKDeveloper99 commented on #12847
@slackmoehrle Programmers Guide^

[2015-07-24 15:58] slackmoehrle commented on #12847
Yes, we should definitely add. If you want to take a pass at the content to
add I can then put it in the correct format, make sure it makes sense, etc,
etc.

On Fri, Jul 24, 2015 at 11:49 AM, Mark notifications@github.com wrote:

[2015-07-24 16:01] UKDeveloper99 commented on #12847
@slackmoehrle sure, if I get a spare moment. This project is really intense at the moment.

[2015-07-25 03:49] c3076802 commented on #12969
因为开发过程中，脚本程序员未必很清楚C++对象的生命周期，C++对象生命周期检查还是重要的。尤其这种问题大多是延时调用才会出现

[2015-07-25 03:55] c3076802 opened #13008 "RenderQueue:sort 在android机器上有可能出现错乱问题，std::sort is not always stable on every platform"
这个是我同事提交给我的bug，经实测是有问题的，需要具体测试环境和bug描述，请联系我。

[code]

[2015-07-25 04:03] c3076802 opened #13009 "RenderTexture:onClear() 深度缓存没被清空"
RenderTexture:onClear() 深度缓存没被清空
因为深度缓存并没有设置可写入，渲染带有3D模型的RTT的时候就会出现深度错乱。
既然可选clearFlag GL_DEPTH_BUFFER_BIT，那么应该要设置glDepthMask(true);

[2015-07-25 04:42] #12505 closed, assigned to fusijie

[2015-07-25 05:22] pandamicro commented on #11913
Removing Audio play is effectively speed up the parse performance: https://github.com/cocos2d/cocos2d-x/pull/13002

[2015-07-25 05:23] #12940 closed, assigned to VisualSJ

[2015-07-25 05:35] #12944 closed, assigned to pandamicro

[2015-07-25 07:15] saganhim opened #13016 "Need suport sprite or animation timeline from cocostudio 2.3.1 to cocos2dx3.4 not display blend src"
I create animation using cocostudio v2.3 and load csb using cocos2dx v3.4, i have set blend src to change.
but after build. this animation not display blend src.
this is code load:

[code]

I have same problem when using tween frame.
https://www.youtube.com/watch?v=HFVbqf-rDpE

please help me frown emoticon

[2015-07-26 14:31] pandamicro commented on #11312
Hi, you should use
`release_print("any string")`

[2015-07-26 14:32] #11312 closed, assigned to pandamicro

[2015-07-26 14:35] pandamicro commented on #11133
@dualface I put this task in unplanned, because we need to discuss more in detail about this and it's not urgent. But if you think it's however important, I can add it back into v3.8

[2015-07-26 14:40] #9878 closed, assigned to jianglong0156

[2015-07-26 20:56] mmathews92 opened #13023 "Problem with Socket.io emit"
I have a problem trying to use "emit" for send data to my server.
Connect, disconnect and On functions are working well, but when i trying to send some data to server, nothing is happend, no error log and server do nothing.

I use Socket.io 1.3.6

Sorry for my bad english.

[2015-07-26 23:10] zilongshanren commented on #10777
I remember this issue has already been fixed. If it is still exists, anyone could reopen it.

[2015-07-26 23:10] #10777 closed, assigned to nobody

[2015-07-27 02:38] fusijie opened #13025 "[Test Case]ShaderRetroEffect random crash."
`version:` v3.7
`issue:` ShaderRetroEffect random crash. because fragment source gets a wild pointer from a temporary string object.

[2015-07-27 03:15] hylthink commented on #11561
I am not quite clear about it. Maybe junfeng zhu is  maintaining cocos package right now.

[2015-07-27 04:00] xiaofeng11 commented on #12968
这里是有这种问题，当初添加ActionTimeline的时候忽略了同时加载，在V3上创建了一个pr，增加从Data缓存加载Node和ActionTimeline的接口，这样只要打开一次文件读取到Data缓存就可以了
https://github.com/cocos2d/cocos2d-x/pull/13032

[2015-07-27 05:37] #12963 closed, assigned to natural-law

[2015-07-27 05:40] #13025 closed, assigned to nobody

[2015-07-27 06:10] jonnyijapan opened #13035 "Basic question: how to create scenes"
I'm on cocos2d-x v3.6. What is the recommended/supported way to create scenes - specifically when using replaceScene()?

I used to use the `director->replaceScene(Myscene::createScene())` way from the template, but later when switching to RapidGame (you can find here on Github) it seems that the create() method was incompatible (it crashed in onExit for me) so I changed to the recommended way in R

[2015-07-27 06:13] yangws commented on #8524
The cocos2d::TMXTiledMap and experimental::TMXTiledMap use different technology, if wan't insert another transparent sprite in to tile map, should use experimental::TMXTiledMap implementation. Due to the batch node limitation, cocos2d::TMXTiledMap only works fine with one texture.

[2015-07-27 07:40] #13004 closed, assigned to fusijie

[2015-07-27 09:22] flamefox commented on #12969
should try tolua.isnull

[2015-07-27 09:27] pandamicro commented on #9507
@qiululu Please take a look at this issue

[2015-07-27 10:25] c3076802 opened #13045 "HttpClient crash on App Quit （windows)"
[code]

_requestSentinel might have ref > 1 when _responseQueue is not empty,
CC_SAFE_RELEASE_NULL should be called instead.

[2015-07-27 13:49] zj8487 commented on #12489
@VisualSJ is the testcase added? i don't find it! i really want to know how to use it!

[2015-07-27 16:34] acros opened #13046 "3.7版本的CC_ENABLE_BULLET_INTEGRATION宏的继承问题"
CC_ENABLE_BULLET_INTEGRATION=1在cocos2d-x DLL中启用，但是继承项目中并没有添加这个宏，导致主项目引用DLL时，实际编译头文件忽略了 Physics3DWorld\* 和 Camera*两个指针，DLL外进行Scene类内寻址_Physics3DWorld成员之后的变量全部出错。

另外，Scene还重定义覆盖了Node中的 PhysicsWorld\* _physicsWorld成员。

[2015-07-27 17:36] andersonmadeira opened #13047 "Callback gets called no matter where I touch!"
I think this may not be the right place to ask questions, but I've searched all over the internet to no avail. I just want to check for touch events on Sprites or DrawNodes, but when I bind the listener and run the application, the function gets called no matter where I click. This is the last place i'm looking for a solution to this problem, It's driving me crazy! -_-'

auto sprite = Sprite::crea