[2014-10-17 03:05] minggo commented on #8770
@chengstory
Please take a look.

[2014-10-17 03:07] samuele3hu opened #8771 "[Mac]Sometimes touch event would be useless"
Error Tip as follow:
`if the index doesn't exist, it is an error cocos2d: touchesEnded or touchesCancel: size = 0`

[2014-10-17 03:10] samuele3hu opened #8772 "[MAC]The display of cpp-tests/Node:Label - New API/New Lablel + .TTF has a error"
SubTitle is : New Label with CJK + ASCII characters

[2014-10-17 03:30] chengstory commented on #8770
Thanks，today I fix it.

[2014-10-17 03:30] minggo commented on #8545
I will check it myself.

[2014-10-17 03:32] minggo commented on #8772
What's the error?
Please describe it in more detail.

[2014-10-17 03:37] samuele3hu commented on #8772
The last letter exceed the limit of the width of line.

[2014-10-17 03:43] samuele3hu commented on #8772
![new label ttf error](https://cloud.githubusercontent.com/assets/4231014/4674108/8b777236-55af-11e4-81c6-22c0ba661458.png)

[2014-10-17 03:45] minggo commented on #8545
I have checked too, and it works ok.
I used `cpp-empty-test` to test.

[2014-10-17 03:57] samuele3hu opened #8775 "[MAC] cpp-tests/Node: UI/GUI Dynamic Create Test/EditBox Test has a error display for Password"
![ui editorbox error](https://cloud.githubusercontent.com/assets/4231014/4674162/f2768dcc-55b0-11e4-84af-eaa3daf2d476.png)

[2014-10-17 05:34] samuele3hu opened #8777 "[Mac] The display of cpp-tests/GUI Dynamic Create Test/Test/UITextTest_LineWrap has a error"
![uitext_linewrap](https://cloud.githubusercontent.com/assets/4231014/4674861/888dd346-5602-11e4-8d15-5e5a33cb2bea.png)

[2014-10-17 05:43] #8670 closed, assigned to dabingnn

[2014-10-17 05:48] samuele3hu opened #8780 "[Mac] cpp-tests/Performance tests/Texture Perf Test has a error"
The error tip as follows:
fullPathForFilename: No file found at Images/landscape-1024x1024.png. Possible missing file.
cocos2d: Get data from file(Images/landscape-1024x1024.png) failed!
cocos2d:  ERROR

[2014-10-17 05:55] samuele3hu opened #8782 "[Mac] cpp-tests/Shader - Basic/ShaderToy Test have not effect"

[2014-10-17 06:03] minggo commented on #8545
I tested all test cases, and all is ok on iphone 6.
May be you should clean your projects first.

[2014-10-17 06:07] minggo commented on #8769
@pipu
It is fixe in #8783.
Would you please test it?
I haven't merged it, just wait CI result.

[2014-10-17 06:16] pipu commented on #8770
Fixed it, please review

[2014-10-17 06:16] minggo commented on #8770
@samuele3hu
It is fixed in #8770.
Could you please merge that branch and test it?

[2014-10-17 06:46] minggo opened #8789 "Performance issue of `Node::setScale()`"
[code]

Cocos Studio guys reported that, this function had bad performance.
We should check it.

[2014-10-17 06:54] #8769 closed, assigned to zilongshanren

[2014-10-17 07:49] WenhaiLin opened #8792 "[Android-CppTests]'CocoStudioSceneTest-->loadSceneEditorFile Test' crash when click 'change to load with binary file' button."

[2014-10-17 07:52] minggo commented on #8792
Duplicated with #8770.

[2014-10-17 07:52] #8792 closed, assigned to chengstory

[2014-10-17 07:54] ghost opened #8793 "[wp8] template project crash"

[2014-10-17 08:01] zilongshanren opened #8794 "ImageViewTestContentSize initialize position is wrong"

[2014-10-17 08:02] ghost opened #8795 "[android-Mac] template project crash"

[2014-10-17 08:03] #8770 closed, assigned to chengstory

[2014-10-17 08:06] ghost opened #8796 "[android-Mac] template project crash"

[2014-10-17 08:06] zilongshanren commented on #8794
![qq20141017-1](https://cloud.githubusercontent.com/assets/785541/4675980/1c338ef8-55d4-11e4-8460-dffeac486f7c.png)

[2014-10-17 08:06] #8796 closed, assigned to nobody

[2014-10-17 08:14] samuele3hu opened #8797 "[Mac] lua-tests/LabelTest/Testing cc.LabelTTF Word Wrap error"
![image](https://cloud.githubusercontent.com/assets/4231014/4676067/8dd07dc2-55d5-11e4-962e-3915e0bb2662.png)

[2014-10-17 08:15] xiebaochun commented on #8796
my god! If there are any problem on you mac hardware?

[2014-10-17 08:20] samuele3hu opened #8798 "[Mac] lua-tests/CocoStudioGuiTest/TextArea line wrap error"
![lua-test cocostudio textarea error](https://cloud.githubusercontent.com/assets/4231014/4676133/73f60934-55d6-11e4-8759-0eaf57911a3a.png)

[2014-10-17 08:27] samuele3hu opened #8799 "[Mac] lua-tests/Performance/PerformanceTextureTest error like cpp-tests"
Error tip is :
cocos2d: cocos2d: fullPathForFilename: No file found at Images/landscape-1024x1024.png. Possible missing file.
cocos2d: Get data from file(Images/landscape-1024x1024.png) failed!
cocos2d: [LUA-print]  ERROR

[2014-10-17 08:34] minggo opened #8802 "local storage module is not linked on Android"

[2014-10-17 08:36] WenhaiLin opened #8803 "[Android CppTests]Don't see the expected behavior in 'ShaderTest-->ShaderToy Test'."

[2014-10-17 08:45] samuele3hu opened #8806 "[Mac] CPP template project crash"

[2014-10-17 08:54] minggo commented on #8802
It is used in JSB.

[2014-10-17 08:54] #8802 closed, assigned to WenhaiLin

[2014-10-17 09:03] WenhaiLin commented on #8806
Fixed at https://github.com/cocos2d/cocos2d-x/pull/8807

[2014-10-17 09:11] dabingnn opened #8809 "console test case crash (linux cpp, 3.3 rc test)"

[2014-10-17 09:17] #8806 closed, assigned to WenhaiLin

[2014-10-17 09:18] minggo commented on #8793
Duplicated with #8807.

[2014-10-17 09:18] #8793 closed, assigned to nobody

[2014-10-17 09:18] minggo commented on #8793
@huangshiwu
Please check it.

[2014-10-17 09:21] dabingnn opened #8810 "[linux]Wrong effect for Label old API Test case"
3.3 rc
linux cpp
![screen shot 2014-10-17 at 11 43 18 am](https://cloud.githubusercontent.com/assets/4794489/4676696/3cb43c5e-55de-11e4-8490-9c7a811e31a8.png)

[2014-10-17 09:24] dabingnn opened #8812 "Title Typo in cpp-tests"
Node:UI->gui TextAtals EditorTest
Node:UI->TextAtalsTest
Typo error

[2014-10-17 09:25] dabingnn opened #8813 "[linux]LuaTest->Camera3DTest no scene and actor in screen"
lua linux in 3.3 RC

[2014-10-17 09:26] dabingnn opened #8814 "[lua-tests linux]Can not Enter some test case in lua-tests"
CocostudioTest->CocoStudioUIEditorTest
ExternsionsTest->CCControlButtonTest
last 7-8 test case of Node:SpriteTest

[2014-10-17 09:28] dabingnn opened #8815 "[lua-tests linux]No Effect in Zwoptex Tests"
lua-tests linux 3.3 rc

[2014-10-17 09:29] dabingnn opened #8816 "new AssetManager will change the resources in Resources folder on linux"
3.3 rc

[2014-10-17 09:30] dabingnn commented on #8813
cocos2d: [LUA ERROR] [string "Camera3DTest/Camera3DTest.lua"]:155: attempt to index global 'bit' (a nil value)

[2014-10-17 09:42] minggo commented on #8795
Duplicated with #8806.

[2014-10-17 09:51] #8795 closed, assigned to nobody

[2014-10-17 10:39] minggo commented on #8803
Please added a picture for it.

[2014-10-17 10:44] dabingnn commented on #8803
must support multiple resolution for shaders come from shaderToy

[2014-10-17 10:49] #8782 closed, assigned to nobody

[2014-10-17 11:04] WenhaiLin commented on #8076
Fixed at https://github.com/cocos2d/cocos2d-x/pull/8824

[2014-10-17 14:48] slackmoehrle commented on #8545
The project templates are not yet updated so this isn't closed really. We
need to still verify that a user can create a new project and build for
iphone6 and iphone6 plus. As of now these dont work and iphone 6 still
doesn't work for me. 6plus does.

On Thu, Oct 16, 2014 at 11:04 PM, minggo notifications@github.com wrote:

[2014-10-17 14:50] #8076 closed, assigned to WenhaiLin

[2014-10-17 14:51] minggo commented on #8545
Template is added in #8776.

[2014-10-17 14:53] minggo commented on #8545
Ok, i open it.
Does any other developer test it?

[2014-10-17 14:53] slackmoehrle commented on #8545
I just updated and created a new project and it doesn't contain the proper
info.plist or launch images.

On Fri, Oct 17, 2014 at 7:52 AM, minggo notifications@github.com wrote:

[2014-10-17 14:55] slackmoehrle commented on #8545
I'll see if anyone else can. Perhaps Nite or Justin.

On Fri, Oct 17, 2014 at 7:53 AM, minggo notifications@github.com wrote:

[2014-10-18 00:13] minggo commented on #8545
Any update?
I tested templates too.
And it was ok.

[2014-10-18 02:56] slackmoehrle commented on #8545
Hi Minggo,

OK, I checked out a new copy, submodule update --init, download-ceps, cocos
new and everything works both iPhone 6 and 6 plus. Thanks for sticking with
me.

Jason

On Fri, Oct 17, 2014 at 5:13 PM, minggo notifications@github.com wrote:

[2014-10-18 07:27] zilongshanren opened #8838 "[cpp-test all] GUI Slider Editor Test"
Scale9 slider doesn't work. Maybe there are something wrong with the Resource.
@chengstory  Please don't change the resource name while adding new one.  WP8 can't accept very long file path. I have changed all the paths of UI editor tests.

Thanks.

[2014-10-18 07:36] Yamomota opened #8841 "CCScene class transformations (scale,position,rotation) don't effect anything"
Any transformations (scale,position,rotation) of any instance of CCScene class don't effect anything but they used to effect in all previous version of cocos2d-x.
Thank you in advance for fixing this.

Yamomota

[2014-10-18 21:26] ledenis opened #8843 "Crash DrawNode::drawPoint()"
Try the following code in cpp-tests, DrawPrimitivesTest.cpp in `DrawNodeTest()`

[code]

It causes a crash.
Tested as win32 app in Visual Studio 2013.

[2014-10-18 21:35] ledenis opened #8844 "DrawNode::drawPoints(), cannot set pointSize"
[code]

`drawPoints` has no `pointSize` argument, whereas `drawPoint` has it. How to set the size?

[2014-10-19 12:05] minggo commented on #8545
Thanks.

[2014-10-19 14:50] samuele3hu commented on #8815
Already fixed,please review

[2014-10-19 14:50] samuele3hu commented on #8814
Already fixed,please review

[2014-10-19 14:51] samuele3hu commented on #8813
Already fixed,please review

[2014-10-19 14:51] samuele3hu commented on #8755
Already fixed,please review

[2014-10-19 14:52] samuele3hu commented on #8753
Already fixed,please review

[2014-10-19 14:52] samuele3hu commented on #8751
Already fixed,please review

[2014-10-19 14:52] samuele3hu commented on #8746
Already fixed,please review

[2014-10-20 01:27] chengstory commented on #8838
Thanks andyque, Today I fix it.

[2014-10-20 01:34] minggo commented on #8838
We will release v3.3rc0 on Oct.21.
Please fix it quickly.

[2014-10-20 01:57] dabingnn commented on #8813
Fixed.

[2014-10-20 01:57] #8813 closed, assigned to samuele3hu

[2014-10-20 01:57] dabingnn commented on #8815
Fix is confirmed

[2014-10-20 01:57] #8815 closed, assigned to samuele3hu

[2014-10-20 02:01] dabingnn commented on #8814
Fix is confirmed

[2014-10-20 02:01] #8814 closed, assigned to samuele3hu

[2014-10-20 02:03] minggo commented on #8794
@andyque
Is it fixed?

[2014-10-20 02:05] WenhaiLin commented on #8755
@minggo Fix is confirmed

[2014-10-20 02:06] WenhaiLin commented on #8753
@minggo Fix is confirmed

[2014-10-20 02:07] WenhaiLin commented on #8751
@minggo Fix is confirmed

[2014-10-20 02:09] WenhaiLin commented on #8746
@minggo Fix is confirmed

[2014-10-20 02:11] WenhaiLin commented on #8736
@minggo Fix is confirmed

[2014-10-20 02:11] pandamicro opened #8850 "Certain scene transition effects trigger texture malfunction"
Effects affected:
- TransitionProgressRadial
- TransitionProgressHorizontal
- TransitionProgressVertical
- TransitionProgressOut
- TransitionProgressOutIn

Effect:
During transition, the out scene's render texture will encounter such issue, its texture will be filled with incorrect pixels, and more transition ran, it became worse and worse.

![transition](https://cloud.githubusercontent.com/assets

[2014-10-20 02:17] #8736 closed, assigned to chengstory

[2014-10-20 02:19] samuele3hu commented on #8522
This problems caused by the copy-pasted code exist.

[2014-10-20 02:19] #8746 closed, assigned to samuele3hu

[2014-10-20 02:20] samuele3hu commented on #8493
This problem has already fixed in the early version.

[2014-10-20 02:21] WenhaiLin commented on #8734
@minggo Fix is confirmed

[2014-10-20 02:24] #8751 closed, assigned to samuele3hu

[2014-10-20 02:25] #8753 closed, assigned to samuele3hu

[2014-10-20 02:25] #8755 closed, assigned to samuele3hu

[2014-10-20 02:27] ghost commented on #8780
To figure out this issue need to add two missing png to cpp-test's resources depository:
LANDSCAPE IMAGE   Images/landscape-1024x1024.png
SPRITESHEET IMAGE Images/PlanetCute-1024x1024.png
but I don't know the demand details of the two images for this test.

[2014-10-20 02:29] #8734 closed, assigned to chengstory

[2014-10-20 02:29] #8493 closed, assigned to samuele3hu

[2014-10-20 02:30] minggo commented on #8522
Is it fixed?

[2014-10-20 02:32] samuele3hu commented on #8522
Already fixed,I will give a pr soon.

[2014-10-20 03:03] WenhaiLin commented on #8492
Fixed at https://github.com/cocos2d/cocos2d-x/pull/8854

[2014-10-20 03:03] WenhaiLin commented on #8772
Fixed at https://github.com/cocos2d/cocos2d-x/pull/8854

[2014-10-20 03:25] samuele3hu commented on #8522
The related pr is https://github.com/cocos2d/cocos2d-x/pull/8856.

[2014-10-20 03:37] #8522 closed, assigned to samuele3hu

[2014-10-20 05:53] minggo commented on #8772
@samuele3hu
Could you please check it?

[2014-10-20 06:07] samuele3hu commented on #8772
Already fixed.

[2014-10-20 06:08] #8772 closed, assigned to WenhaiLin

[2014-10-20 06:15] #8816 closed, assigned to dabingnn

[2014-10-20 06:16] #8794 closed, assigned to zilongshanren

[2014-10-20 07:01] WenhaiLin commented on #8810
Fixed at https://github.com/cocos2d/cocos2d-x/pull/8863

[2014-10-20 07:07] minggo commented on #8810
@dabingnn
Could you please check it?

[2014-10-20 07:09] minggo opened #8864 "Move `CCCamera.cpp/h` `CCLight.cpp/h` into 2d"

[2014-10-20 07:12] minggo commented on #8864
Please refer to [this thread](http://discuss.cocos2d-x.org/t/camera-light-in-3d-directory/17413) for detail information.

[2014-10-20 07:14] #8838 closed, assigned to nobody

[2014-10-20 07:17] samuele3hu commented on #8142
When LuaMinXmlHttpRequest fails to connect network, it would output the log in the console as follow:
`cocos2d: Response failed, error buffer: Connection timed out after 30132 milliseconds`

[2014-10-20 07:27] #8780 closed, assigned to nobody

[2014-10-20 07:42] dabingnn commented on #8810
Color is fixed,but with some jags.

[2014-10-20 07:46] ghost commented on #8799
Similar to #8780, can be closed.

[2014-10-20 07:47] dabingnn commented on #8810
![screen shot 2014-10-20 at 3 42 44 pm](https://cloud.githubusercontent.com/assets/4794489/4697885/4c04a120-582d-11e4-9788-c7458b5fcba4.png)

[2014-10-20 08:00] #8799 closed, assigned to nobody

[2014-10-20 10:11] minggo commented on #8864
Fixed in #8869.

[2014-10-20 10:11] #8864 closed, assigned to WenhaiLin

[2014-10-20 12:44] pipu opened #8873 "Question of Button::onPressStateChangedToDisabled() in UIButton.cpp"
Code:
void Button::onPressStateChangedToDisabled()
{
    _buttonNormalRenderer->setVisible(false);
    _buttonClickedRenderer->setVisible(false);
    _buttonDisableRenderer->setVisible(true);
    _buttonNormalRenderer->setScale(_normalTextureScaleXInSize, _normalTextureScaleYInSize);
    _buttonClickedRenderer->setScale(_pressedTextureScaleXInSize, _pressedTextureScaleYInSize);
}

pay attention to

[2014-10-20 13:26] ghost opened #8874 "Using TTF, crash when press home button on Android"
Tested version: cocos2d-x-3.2, cocos2d-x-3.3beta0
Tested device : Galaxy Note 3
### Reproduct step:
1. Create TTF Label with string with "" (This bug only occurs with empty string)
2. Make a button as a trigger to set string having length over 1 when touch a button
3. Press home button
4. Unlock and resume
5. Crash or broken texture shows

[2014-10-20 13:34] ghost commented on #8874
### My own solution

Insert codes below into Label() constructor

[code]

[2014-10-20 13:38] minggo commented on #8873
What's the issue?

[2014-10-20 13:54] pipu commented on #8873
When call setBright(false), onPressStateChangedToDisabled() is called in setBright(),
then onPressStateChangedToDisabled() that override version in class Button is called,
and this line:
_buttonNormalRenderer->setScale(_normalTextureScaleXInSize, _normalTextureScaleYInSize); is executed.
This line makes _buttonNormalRenderer turn flipped.

I think that I only would like to call setBright(false) in

[2014-10-20 13:56] minggo commented on #8873
@andyque
Could you please take a look?

[2014-10-20 15:25] litefeel commented on #8710
@pipu
where are .proto file?

[2014-10-21 03:06] WenhaiLin opened #8875 "[Win7 CppTests]Don't see the expected behavior in 'Node:Clipping-->Clipping to RenderTexture Test'."
![c1](https://cloud.githubusercontent.com/assets/5234286/4712520/33ff3304-58cf-11e4-996a-02d7fcdf96eb.png)

![c2](https://cloud.githubusercontent.com/assets/5234286/4712527/3f662194-58cf-11e4-97f8-76d79c6b0a78.png)

[2014-10-21 06:02] WenhaiLin opened #8882 "[Win7 LuaTests]Don't see the expected behavior in 'Texture2DTest-->Texture2D:drawInRect' and 'Texture2DTest-->Texture2D:drawAtPoint'"
![c3](https://cloud.githubusercontent.com/assets/5234286/4713798/c2495320-58e7-11e4-988f-7431fb48fe10.png)

![c4](https://cloud.githubusercontent.com/assets/5234286/4713800/c6c6a16e-58e7-11e4-8ca4-9fc4b6c33185.png)

[2014-10-21 07:49] #8686 closed, assigned to nobody

[2014-10-21 10:42] WenhaiLin commented on #8797
Fixed at https://github.com/cocos2d/cocos2d-x/pull/8889

[2014-10-21 10:43] samuele3hu commented on #8797
Already fixed

[2014-10-21 10:44] WenhaiLin commented on #8777
Fixed at https://github.com/cocos2d/cocos2d-x/pull/8889

[2014-10-21 10:45] samuele3hu commented on #8777
Already fixed

[2014-10-22 06:14] minggo opened #8896 "Wrong effect if using trimmed resources output from texture packer"

[2014-10-22 06:16] #8812 closed, assigned to zilongshanren

[2014-10-22 06:31] WenhaiLin commented on #8516
Fixed at https://github.com/cocos2d/cocos2d-x/pull/7770

[2014-10-22 07:12] minggo opened #8897 "Update GAFExamples to v3.3"
Github address of this sample is: https://github.com/cocos2d/cocos2d-x-samples/tree/v3/samples

[2014-10-22 07:13] minggo opened #8898 "Update SwiftTetris to v3.3"
Github address is: https://github.com/cocos2d/cocos2d-x-samples/tree/v3/samples

[2014-10-22 07:14] minggo opened #8899 "Update LiquidFun-EyeCandy to v3.3"
Github address is: https://github.com/cocos2d/cocos2d-x-samples/tree/v3/samples

[2014-10-22 07:15] minggo opened #8900 "Update LiquidFun-Testbed to v3.3"
Github address is https://github.com/cocos2d/cocos2d-x-samples/tree/v3/samples

[2014-10-22 07:15] minggo opened #8901 "Performance test between v3.3 and v3.2"

[2014-10-22 08:48] nocrim commented on #8653
@andyque
when will new version of CocosStudio for mac be published?

[2014-10-22 09:19] samuele3hu commented on #8882
Fix at https://github.com/cocos2d/cocos2d-x/pull/8903.

[2014-10-22 09:22] samuele3hu commented on #8142
Add callback when connect network,the related pr is at https://github.com/cocos2d/cocos2d-x/pull/8868

[2014-10-22 12:37] WenhaiLin commented on #8583
Fixed at https://github.com/cocos2d/cocos2d-x/pull/8904

[2014-10-22 21:04] milos1290 opened #8906 "There is no pitch and pan in new AudioEngine"

[2014-10-23 03:43] minggo commented on #8882
@Dhilan007
Could you please check it?

[2014-10-23 03:51] pipu opened #8907 "Question of UICheckBox"
When call the below 2 lines:

checkBox->setSelected(false);
checkBox->setBright(false);

CheckBox can still be touched.
I think that checkbox should become disabled state.

[2014-10-23 10:20] bucengyongyou opened #8909 "2.2.4 ios8 CCClipingNode doesnt work"
2.2.4  ios8 CCClipingNode  doesnt work

[2014-10-23 10:29] yushenglu opened #8910 "ScrollView::jumpToBottom() don't works"
I have loaded my csb file with a tall ScrollView, and want to set it to bottom after my init:

[code]

But it doesn't work. The scrollView is still on the left-top area.

p.s. The problem occurs in the newest version,  older versions are ok.

[2014-10-23 10:38] stonejiang208 opened #8911 "How to generate *.xcodeproj files by cmake?"
How to generate *.xcodeproj files by cmake?

Thanks.

[2014-10-23 11:08] #8909 closed, assigned to nobody

[2014-10-23 13:05] meiry opened #8912 "fbx-conv in windows create files without file name"
when running this command :
cocos2d-x-3.3rc0\tools\fbx-conv\win>fbx-conv.exe -a ........\cocos2d-x-3.3rc0\Projects\IsoTest\Resources\3d\earth.fbx

2 files created :
.c3b
.c3t
as you can see it created with out the file name
also it create in the fbx-conv.exe not where the earth.fbx is

[2014-10-23 13:16] meiry opened #8913 "VC++ 2012 project source not in place in version 3.3 rc0"
when creating new VC project the source are not in place and empty src virtual directory created
see image :
![vc_notinplace](https://cloud.githubusercontent.com/assets/1107316/4753398/bfed3fe4-5ab6-11e4-8f74-bfd33f9e3a4b.png)

[2014-10-23 13:26] darklinden opened #8914 "cocos2d::PhysicsJointFixed Logic Error."
PhysicsJointFixed will joint two physics body with one same center.

Was it designed to be? I thought the joint may be like SpriteKit/SKPhysicsJointFixed, right?

I've go in the code and I guess the two node become issues in

void PhysicsJointFixed::init(PhysicsBody\* a, PhysicsBody\* b, const Vec2& anchr)
{
...
getBodyNode(a)->setPosition(anchr);
getBodyNode(b)->setPosition(anchr);
...

I thought

[2014-10-23 16:09] lpcdma opened #8915 "a curl static library error in cocos2d-x-3.3rc0"
I try to build lua-empty-test use the nkd-r10c,but failed.
the luajit error has been resolved.use "cocos2d-x-3.3rc0/external/lua/luajit/build_android.sh" recompile static library.
maybe the curl static libray need recompiled,but I don't know compile it.
At the same time, I found that can be used libcurl.a in 3.1.
Please help to solve this problem, thank you!

error log:
/Users/xxx/sandbox/android-

[2014-10-23 16:22] araratispiroglu opened #8917 "Android build error"
![screen shot 2014-10-23 at 19 06 05](https://cloud.githubusercontent.com/assets/1640626/4756628/f576eb8e-5ace-11e4-8d37-6503adc446f3.png)

I'm trying to compile older project with latest cocos2d-x library for iPhone 6. For iOS there's not problem. But for Android it crashes, even if I create new Test project with HelloWorld file it's not compiling. When I setup project and compile it, for the fir

[2014-10-23 21:09] diamond-msc commented on #8459
Perhaps duplicate of https://github.com/MSOpenTech/angle/issues/2

[2014-10-24 01:31] minggo commented on #8912
@meiry
What's the issue?
Did you mean the output folder is not suitable?

[2014-10-24 01:31] minggo commented on #8913
How did you create a new project?
Please use cocos to create a cross-platform project.

[2014-10-24 01:33] minggo commented on #8915
Please don't use NDKr10, it has a problem.
You can refer to [this thread](http://cocos2d-x.org/news/307) for detail information.

[2014-10-24 01:33] #8915 closed, assigned to nobody

[2014-10-24 01:36] minggo commented on #8917
How to reproduce it?

[2014-10-24 01:48] dumganhar commented on #8912
@meiry probably means that the generated files should be

[code]

but the results are just extension without file names

[code]

[2014-10-24 03:07] dumganhar commented on #8843
Thanks for your reply. I also reproduced this issue on Mac.
It's an `out of range` issue. In the DrawNode::init, we ensure the point capacity to 64. I will try to fix it. :)
![drawpoint](https://cloud.githubusercontent.com/assets/493372/4764698/f4729948-5b2a-11e4-962b-7350379b0020.png)

[2014-10-24 03:59] ahlwong commented on #8583
Fixed!

[2014-10-24 03:59] #8583 closed, assigned to WenhaiLin

[2014-10-24 04:09] dumganhar commented on #8843
Hi ledenis, I fixed the issue at https://github.com/cocos2d/cocos2d-x/pull/8918

[2014-10-24 07:14] meiry commented on #8912
@dumganhar
yes this what happen if i do it with the long path
it dosnt happen when i do it without the long path
@minggo
also what is this empty  earthblend.fbm directory that created when i run for example:

[code]

[2014-10-24 07:18] meiry commented on #8913
@minggo
i allways do it from cocos console i don't think there is other way
by the way is there any way in cocos console to create only project without copy all the cocos2d sources ?
my command is :

[code]

[2014-10-24 13:04] zilongshanren commented on #8907
@pipu
Hi， there are some historical problems why it behaviors this way.
Currently we use `setEnable` only to disable touch event and we use `setBright(false)` to change the control to disable state.  These two methods need to be used together.

We have discussed it already, but to keep back compatibility, we should just keep it like this.

[2014-10-24 13:05] zilongshanren commented on #8907
@pipu
And this issue is already discussed here https://github.com/cocos2d/cocos2d-x/issues/8137

[2014-10-24 14:06] minggo commented on #8913
@Dhilan007
Could you please check it?
You tested it before releasing v3.3rc0, right?

[2014-10-24 14:09] minggo commented on #8912
@super626
Could you please check it?

[2014-10-24 15:22] WenhaiLin commented on #8913
@minggo Yes,I tested it before releaseing v3.3rc0.This issue does not affect compile.
@meiry Thanks. Fixed at https://github.com/cocos2d/cocos2d-x/pull/8927

[2014-10-25 07:39] #8913 closed, assigned to WenhaiLin

[2014-10-25 07:52] minggo opened #8932 "cocos console support wp template"
Please refer to #8926 for detail information.

[2014-10-25 11:22] araratispiroglu commented on #8917
I don't know how to reproduce it, but it can be general problem. Because if I crate project and try to build HelloWorld in another mac os, same error occuring. I think the problem begins after version 3.1.1. I can build with 3.1.1 without errors, but if I create project with version 3.2 or 3.3rc0 it crashes.

[2014-10-25 15:52] ledenis commented on #8843
Thank you!

[2014-10-25 15:52] #8843 closed, assigned to dumganhar

[2014-10-25 16:33] stammen commented on #8297
This is fixed in pull request https://github.com/cocos2d/cocos2d-x/pull/8926

[2014-10-25 18:59] tealcwu opened #8933 "[WP8] The project created by Cocos2dx-3.x cannot be launched on Windows Phone 8.1 devices"
Test Environment:
Windows 8.1 Enterprise English, Visual Studio 2012 Update 4, Windows Phone 8.0 SDK
Test Device:
HuaWei W1, Windows Phone 8.1, build 8.10.14176.243, English

Repro Steps:
1. Download Cocos2d-x v3.x (we use v3.3rc0 here) from http://cn.cocos2d-x.org/download/.
2. Unzip it when the download is completed, e.g. unzip it to folder D:\cocos2d-x-3.3rc0.
3. In Command Promote, run "D:\coc

[2014-10-26 08:15] edudemy commented on #8933
+1

[2014-10-26 12:55] thenewvu opened #8936 "[cocos2d-console] Compile on win32 failure due to 'devenv' not found"
Sorry for this duplication. I posted this issue on cocos2d-console repo, but no anwser for long time.

I have an issue when compile cocos2d-x projects on win32 by using cocos2d-console.

My dev environment:
- Windows 7 x64
- Visual Studio express 9, 10, 11, 12

This is what I got:

I found out that 'devenv' is not exists in Visual Studio express.

Moreover, I found a solution to resolve this issue

[2014-10-26 16:34] MFHSchoonbrood opened #8937 "UserDefault.xml missing from win32 debug build dir [Cocos2d-x v3.3rc0]"
Hi guys,

In platform\win32\CCFileUtils-win32.cpp 2 lines got commented out in the getWritablePath() function.
This results in the debug build no longer reading/writing the UserDefault.xml in the debug build dir, which was pretty useful :)

I'm assuming these got commented out by accident while testing something.

Could you please enable them again in the next version?

To be precise, it's line 28

[2014-10-27 01:57] minggo commented on #8936
@thenewvu
coocs2d-x supports VS2012 or higher version.
And you said it has problem even on VS2012, right?

@natural-law
Could you please take a look?

[2014-10-27 01:58] zilongshanren commented on #8873
@pipu
Thanks. Because we mix use `flip` and `scale` in Scale9Sprite. I think the problems only appears when we are using Scale9 Button, right?

[2014-10-27 02:02] minggo commented on #8933
@stammen
Did you know the issue?

[2014-10-27 02:03] #8297 closed, assigned to nobody

[2014-10-27 02:11] stammen commented on #8933
I will investigate

[2014-10-27 02:14] thenewvu commented on #8936
@minggo : even on VS2012 (v11) and VS2013 (v12), but express versions.

[2014-10-27 02:29] minggo commented on #8933
Thanks.

[2014-10-27 02:30] pipu commented on #8907
Thanks a lot.
I'll check up it.

[2014-10-27 02:32] minggo commented on #8907
If it is a duplicate issue.
Please close it.

[2014-10-27 02:48] ghost commented on #8897
GAFExample is update in https://github.com/cocos2d/cocos2d-x-samples/pull/25
now iOS, android, win32, wp8 are supported

[2014-10-27 02:49] ghost commented on #8898
SwiftTetris had update in https://github.com/cocos2d/cocos2d-x-samples/pull/26

[2014-10-27 02:56] stammen commented on #8933
It seems there are two shaders that can crash some models of Windows phones

kShaderType_LabelDistanceFieldNormal
kShaderType_LabelDistanceFieldGlow

Please comment out lines 375 to 383 in cocos/renderer/ccglprogramcache.cpp and let me know if it solves your problem.

Also, can you check with the debugger if it is crashing on these lines?

[2014-10-27 02:59] zilongshanren commented on #8910
@yushenglu
Thanks for your reporting.
What does you mean "older version"? V3.2 or v3.3beta?

[2014-10-27 03:07] zhaijialong opened #8939 "hard coded _defaultResRootPath in FileUtils"
The `_defaultResRootPath` in FileUtils is hard coded , for example on Linux it is "/xxx/xxx/xxx/Resources/" :https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/linux/CCFileUtils-linux.cpp#L74

But we use a different name of resource folder, we use `res`, and seems no way to configure it. This is a bug?

[2014-10-27 03:09] #8907 closed, assigned to nobody

[2014-10-27 05:54] jackie7788 commented on #8186
cocos2d-x 3.3 RC0  Memory leaks solves the UI animation? thx

------------------ 原始邮件 ------------------
发件人: "cheng.zhang"notifications@github.com;
发送时间: 2014年9月30日(星期二) 下午2:49
收件人: "cocos2d/cocos2d-x"cocos2d-x@noreply.github.com;
抄送: "等待→缘份"21196183@qq.com;
主题: Re: [cocos2d-x] 使用UI动画导致内存泄露问题.. (#8186)

Sorry, I asked @liamcindy to take a look.

—
Reply to this email directly or view it on GitHub

[2014-10-27 06:05] pipu commented on #8873
@andyque
Yep. What you said is right.
The problem only appears when using Scale9 Button.

[2014-10-27 06:08] samuele3hu commented on #8900
LiquidFun-Testbed updated in the https://github.com/cocos2d/cocos2d-x-samples/pull/27.Now iOS/mac,win32 and android platform are supported.

[2014-10-27 06:09] samuele3hu commented on #8899
LiquidFun-EyeCandy updated in the https://github.com/cocos2d/cocos2d-x-samples/pull/27.Now iOS/mac,win32 and android platform are supported,and win32 platform would crash when loading shader.

[2014-10-27 06:25] natural-law commented on #8936
It's a known issue. The reason is:
Now the cocos command is using `devenv` to update the VS project if user is using VS2013.
But the Express version of VS is not contains `devenv` command tool.

I'm sorry I have no solution for the issue by now.

[2014-10-27 08:50] thenewvu commented on #8936
So I will do a PR to resolve the issue. I'm not sure that it's stable, hope some persons help me test the solution.

[2014-10-27 16:32] stammen commented on #8897
What do we need to do to support the Windows 8.1 Universal App?

[2014-10-27 16:33] stammen commented on #8933
Did the change I suggested solve the problem?

[2014-10-27 17:07] tealcwu commented on #8933
Crash issue is fixed, but none content is displayed (the cocos2dx picture and label cannot be appeared) on Windows Phone device and emulator. Please refer to the attached screenshot.
![cocos2dx_issue_8933_fix1](https://cloud.githubusercontent.com/assets/359581/4795329/a8513f50-5dfb-11e4-9d2f-36d1a8df5a78.png)

[2014-10-27 17:23] stammen commented on #8933
Thanks for the feedback. Please just comment out lines 383-385 and report if it now works. I have ordered a HuaWei W1 phone so I can repro. Until it arrives,  I appreciate your help.

[2014-10-27 17:42] jacket-code opened #8942 "update to 3.3rc0, it crashed when load cocostudio json file, crash in function createNodeWithSceneFile"
when I update to 3.3rc0, it crashed when load cocostudio json file,
crash in function createNodeWithSceneFile, can you give me some help?
the json file is ok , the content is :
{
  "version": "1.0.0.0",
  "designWidth": 960,
  "designHeight": 640,
  "dataScale": 1.0,
  "textures": [],
  "texturesPng": [
    "ICGE-logo-iep.png"
  ],
  "nodeTree": {
    "options": {
      "$type": "EditorCommon.Json

[2014-10-27 17:45] tealcwu commented on #8933
Just comment line 383-385 works for emulator, but it crashes the device. Does these fixes work on any Windows Phone devices on your hand?

[2014-10-27 18:15] stammen commented on #8933
All of the shader code works uncommented on all of my devices. I have 4 different phones. I ordered a HuaWei W1 to see if I can reproduce the problem. I will have the phone tomorrow.

[2014-10-27 18:27] tealcwu commented on #8933
Cool, so it should be a specified device issue. I think I should order a Lumia phone for testing purpose:)

[2014-10-27 18:40] stammen commented on #8933
Just checking but did you do the following from the cocos2d-x root directory?

downloaddeps.py
git submodule update --init
setup.py (then restart the console)

[2014-10-27 19:07] tealcwu commented on #8933
No, I didn't run these commands. I download cocos2d-x-3.3rc0 from http://cn.cocos2d-x.org/download/ but not from github. I just extract zip file to D:\GitHub\cocos2d-x-3.3rc0.
Do these commands make sense to this issue?

The results after I executed the commands are as below.

*****_command line content begins**_***
D:\GitHub\cocos2d-x-3.3rc0>download-deps.py
*=====================================

[2014-10-27 19:25] tealcwu opened #8943 "[WP8] The orientation of app cannot be changed along with the orientation of emulator"
Test Environment:
Windows 8.1 Enterprise English, Visual Studio 2012 Update 4, Windows Phone 8.0 SDK.

Repro Steps:
1. Download Cocos2d-x v3.3rc0 from http://cn.cocos2d-x.org/download/.
2. Unzip it when the download is completed, e.g. unzip it to folder D:\cocos2d-x-3.3rc0.
3. In Command Promote, run "D:\cocos2d-x-3.3rc0\tools\cocos2d-console\bin\cocos new -l cpp TestGame" to create a new Cocos2d-

[2014-10-28 03:19] samuele3hu commented on #8900
Linux's support was added at the https://github.com/cocos2d/cocos2d-x-samples/pull/29 and https://github.com/cocos2d/cocos2d-x-samples/pull/30

[2014-10-28 03:21] jacket-code commented on #8942
my step is :
1. create a project using3.3rc0
2. use cocostudio(mac) to export a json (just a simple layer with a texture sprite)
3. load the json file using createNodeWithSceneFile
4. it crashed when read the json file
5. crash at get the json value "classname"

why?

[2014-10-28 03:22] samuele3hu commented on #8899
Linux's support was added at the cocos2d/cocos2d-x-samples#29 and https://github.com/cocos2d/cocos2d-x-samples/pull/30
And now run it would trigger crash because of the problem of gl.

[2014-10-28 06:42] KaiFengGame opened #8950 "PhysicsSprite的setB2Body 崩溃问题"
预处理已经修改了 CC_ENABLE_BOX2D_INTEGRATION=1 。下边的截图可以进入
![bwg6m0059q9qau q k5 8my](https://cloud.githubusercontent.com/assets/8076367/4804510/7a14a858-5e6d-11e4-9aa4-7730048e404b.jpg)
可是进入setB2Body里 却崩溃了 如下图
![gm x8g6pd_r aw le v8](https://cloud.githubusercontent.com/assets/8076367/4804514/8eef77da-5e6d-11e4-8fe9-70948b3d414f.jpg)

请问这是BUG么 为啥都是CC_ENABLE_BOX2D_INTEGRATION 。判断结果不一样？

[2014-10-28 06:51] KaiFengGame commented on #8950
下边这张图是我的设置预编译
![731d213c-2c18-49f8-90fe-3ccb0d3de306](https://cloud.githubusercontent.com/assets/8076367/4804569/c20e3060-5e6e-11e4-8fee-e4b02026d634.png)

[2014-10-28 07:01] KaiFengGame commented on #8950
已解决 原来是CC_ENABLE_CHIPMUNK_INTEGRATION=0 和 CC_ENABLE_BOX2D_INTEGRATION=1 都必须设置才可以。。。。

[2014-10-28 07:01] #8950 closed, assigned to nobody

[2014-10-28 07:03] WenhaiLin opened #8952 "Streamline include path to improve build performance"

[2014-10-28 09:09] takaken1994 commented on #8936
Can we use MSBuild?

[2014-10-28 09:29] natural-law commented on #8936
@takaken1994, MSBuild can only build the project, but can't update it.

[2014-10-28 09:54] thenewvu commented on #8936
@minggo , @natural-law , @takaken1994 : I did a [PR](https://github.com/cocos2d/cocos2d-console/pull/171), please take a look.

[2014-10-28 09:58] natural-law commented on #8936
@thenewvu
It's looks OK. I will try your PR later. And I will merge it as soon as possible.
Thanks for your contribution!

[2014-10-28 10:21] thenewvu commented on #8936
@natural-law : Thank you :dancers:

[2014-10-28 14:06] minggo commented on #8942
@chengstory
Could you please take a look?

[2014-10-28 14:14] minggo commented on #8943
@huangshiwu
Could you please take a look?

[2014-10-28 14:17] minggo commented on #8933
@tealcwu
You don't need to do these commands because you are downloading a released zip file.
These commands are needed only if you use github to get cocos2d-x source code.

[2014-10-28 14:19] minggo commented on #8897
@stammen
I don't think we need to do anything for Windows 8.1 Universal App.

Is it right, @huangshiwu ?

[2014-10-28 14:20] minggo commented on #8897
@stammen
Does Windows 8.1 Universal App supporting finished?

[2014-10-28 14:27] ghost commented on #8897
@minggo do you mean that the examples don't need to provide Windows 8.1 Universal App?

[2014-10-28 14:29] minggo commented on #8897
No, i don't mean that.
I don't know what we need to do to support Windows 8.1 Universal App.
As you said, WP8 was supported, right?

[2014-10-28 14:49] ghost commented on #8897
Yes, now WP8 is supported on GAFExamples and LiquidFun-Testbed.
@stammen Does create Windows 8.1 Universal project similar to create WP8 project.If so, I think we can handle it.

[2014-10-28 15:27] stammen commented on #8897
@minggo Were you able to fix cocos console to generate the correct project names for the Windows 8.1 Universal App?

[2014-10-28 15:29] minggo commented on #8897
@stammen
#8923 is created for it.

[2014-10-28 15:30] minggo commented on #8932
@natural-law
When can you finish it?
I think it will not take too much time.

[2014-10-28 15:35] minggo commented on #8897
@stammen
After having Windows 8.1 Universal App, we don't need WP8 project, right?
And now only template has problem, all other things for WP8.1 are ok, right?

[2014-10-28 15:38] stammen commented on #8897
We still need the WP8 project for Windows Phone 8. The Universal App does not support WP8 only 8.1.? Microsoft did not provide a universal solution for Windows 8.0 projects.

---

From: minggo notifications@github.com
Sent: Tuesday, October 28, 2014 8:35 AM
To: cocos2d/cocos2d-x
Cc: Dale Stammen (MS OPEN TECH)
Subject: Re: [cocos2d-x] Update GAFExamples to v3.3 (#8897)

@stammenhttps://github.com/

[2014-10-28 15:39] stammen commented on #8897
All other things are good for WP8.1. I will be making more pull requests with minor fixes.

---

From: minggo notifications@github.com
Sent: Tuesday, October 28, 2014 8:35 AM
To: cocos2d/cocos2d-x
Cc: Dale Stammen (MS OPEN TECH)
Subject: Re: [cocos2d-x] Update GAFExamples to v3.3 (#8897)

@stammenhttps://github.com/stammen
After having Windows 8.1 Universal App, we don't need WP8 project, right?
A

[2014-10-28 15:41] minggo commented on #8897
Oh, it is not a good news. And we have to have a WP8.2 project when WP8.2 ready?

[2014-10-28 15:46] stammen commented on #8897
I could add the WP8 project to the Universal App project. It would be all of the separate project files required by the WP8 build. The developer would need to add their classes code twice, once for the 8.1 and again for WP8.

I do not yet know the visual studio project plans for Windows 10, but based on past experience it will require new project files.

Another team at Microsoft is working on CMa

[2014-10-28 15:48] jacket-code commented on #8942
tonight, I do it again, and just add a few line code, it still crash, it breaks my heart, can you fixed it fast?
thank you.
tonight, the step is :
1. create a new project using 3.3rc0
cocos new TestGame -p com.jacket.tgame -l cpp -d /Users/jack/Test
2. in HelloWorldScene.cpp, I just add the fallowing codes:
   at file top:

---

[code]

---

   in init() function:

---

[code]
1. command + R
2. it

[2014-10-28 15:57] minggo commented on #8897
@stammen
Thanks for your answer.

But in VS, VS2013 can open VS2012 project, it makes sense that we only have one VS project.
If we have to have each project for WP, it is not convenient.

[2014-10-28 16:22] stammen commented on #8897
If I add the WP8 project into the universal app project, the developer will have to use Visual Studio 2013. They will no longer be able to open the project with VS 2012.

[2014-10-28 16:25] minggo commented on #8897
I am not sure.
Let's keep as it is now.
I will discuss it in our forum.

[2014-10-28 16:27] stammen commented on #8897
That is fine with me. In order to build the Universal App, the developer will need Visual Studio 2013 Update 3. They can build the WP8 version with either VS2013 or VS2012.

[2014-10-28 16:29] minggo commented on #8897
Got it.
Thanks.

[2014-10-28 16:30] minggo commented on #8897
But if he wants to compile shaders, he has to use VS2013 Update 3 now.
Right?

[2014-10-28 16:33] stammen commented on #8897
Yes. Currently that is true.

[2014-10-28 16:35] jacket-code commented on #8942
I test it using other code, it has problem in the reading order
my test codes:

[code]

it only prints :
cocos2d: json value is 640
cocos2d: json value is 1.0.0.0
so the classname is can't be read!!!, it maybe the order question?
and the func : createNodeWithSceneFile() inside is :

[code]

the createObject() function first the "classname", it can't be read, it that right?

[2014-10-28 16:38] minggo commented on #8897
Ok, got it.
So may be VS2013 Update 3 is needed because developers will use their own shaders.
Any way, i will discuss in forum and invite you to join it.

Thanks.

[2014-10-28 17:22] jacket-code commented on #8942
last time I reconlize that my misstakes
then I use
    auto uiLayer = cocostudio::GUIReader::getInstance()->widgetFromJsonFile("LoginSceneBgLayer.json");
it still crash,
using windows cocostudio 1.3 is ok, but mac cocostudio is still crash

[2014-10-28 22:40] stammen commented on #8933
My order of the Huawei W1 windows phone just arrived and I am able to reproduce your crash. I will investigate.

[2014-10-29 01:15] chengstory commented on #8942
mac cocostudio?   2.0.0.0 beta0?

[2014-10-29 01:25] natural-law commented on #8932
@minggo, Do you mean only the cpp template? What about the lua templates?

[2014-10-29 02:20] minggo commented on #8932
Now, lua doesn't support WP platform.
We will add them after lua is supported.

[2014-10-29 02:23] natural-law commented on #8932
OK. I will finish this issue in one or two days.

[2014-10-29 02:37] minggo commented on #8932
Ok.

[2014-10-29 02:55] natural-law commented on #8936
@thenewvu
I have reviewed your PR. It's very good!
But here is a little problem should be fixed. I have added a feedback in the PR.
Please check it. Thank you very much!

[2014-10-29 03:09] samuele3hu opened #8955 "Optimize the head files search path for the related cocos project"

[2014-10-29 03:52] pedro-vicente commented on #8545
I tried the current git source code to generate the default sample project.

cocos new mygame  -p com.your_company.mygame -l cpp -d NEW_PROJECTS_DIR

Running it on the simulator (XCode 6.1)  for iPhone6 and iPhone 6 Plus still shows

cocos2d: surface size: 640x1136

Was this fix merged to the main branch?

[2014-10-29 04:11] stammen commented on #8943
In MainPage.xaml change

[code]

to

[code]

[2014-10-29 04:58] stammen commented on #8932
Please fix the win-8.1-universal template, The WP8 template works fine.

[2014-10-29 05:01] stammen commented on #8933
It appears that the ccShader_Label_df.frag and ccShader_Label_df_glow.frag shaders will crash older Windows Phones such as the Huawei W1, I disabled these shaders (and the use of these shaders) and now apps run fine on the phone.

[2014-10-29 05:05] tealcwu commented on #8943
yes, I have updated the SupportedOrientation in step 4.

[2014-10-29 05:07] stammen commented on #8933
If you would like to test the work before I make a pull request please do the following from the command console.

git clone https://github.com/MSOpenTech/cocos2d-x.git
cd cocos2d-x
git checkout wp8-shader-fix
git submodule update --init
downloaddeps.py
setup.py (then restart command console)

Please verify that the new code runs on your phone.

Thank you for your detailed bug reports and your hel

[2014-10-29 05:07] tealcwu commented on #8943
Please notice the text "Memory:xxxxMB Peak xxxxMB" in screeshots, its orientation can be changed correctly.

[2014-10-29 05:39] ghost commented on #8943
For now this is because in function GLViewImpl::UpdateWindowSize can't process ResolutionPolicy::UNKNOWN case, so you need to add code in AppDelegate.cpp like this:
glview->setDesignResolutionSize(640,480,ResolutionPolicy::SHOW_ALL);
We will keep trying to find a better solution.

[2014-10-29 05:42] tealcwu commented on #8933
Tested with wp8-shader-fix branch, this issue is fixed. Thanks for your quick fix!

[2014-10-29 05:43] ghost commented on #8545
Yes, this fix had merged into the main branch.
Does your new iOS project's Info.list file have the codes like:
<key>UILaunchImageName</key>
<string>Default-667h</string>
<key>UILaunchImageOrientation</key>
<string>Portrait</string>
<key>UILaunchImageSize</key>
<string>{375, 667}</string>

[2014-10-29 05:56] tealcwu commented on #8943
Thanks for the workaround! I added the following code snippet to method AppDelegate::applicationDidFinishLaunching() can fix this issue.

auto _winSize = director->getWinSize();
glview->setDesignResolutionSize(_winSize.width, _winSize.height, ResolutionPolicy::SHOW_ALL);

[2014-10-29 06:07] thenewvu commented on #8936
@natural-law : I fixed it. It's obviously faster. Please help me double-check it. Thanks.

[2014-10-29 06:23] natural-law commented on #8936
@thenewvu, The PR is merged. Thank you!

[2014-10-29 06:42] pedro-vicente commented on #8545
this was my mistake, a bad installation from the git repo and still using version 3.2

[2014-10-29 08:08] minggo commented on #8936
Thanks guys.

[2014-10-29 08:08] #8936 closed, assigned to natural-law

[2014-10-29 08:15] minggo commented on #8933
@stammen
I will close this issue when the commit is merged.
Is it ok?

[2014-10-29 09:33] ghost commented on #8943
Cocos2d-x now don't support portrait and landscape at the same time in one product for that almost all games just have one orientation version.Or if you use the engine to develop some app need to support portrait and landscape at the same time?

[2014-10-29 09:46] tealcwu commented on #8943
Gotcha, I just realized what you said after opening this issue. I'm a newbie to Cocos2d-x and found this problem when trying some features. I compared Cocos2d-x with normal Xaml app design subconsciously. Anyway this issue doesn't affect games design. So you can close it for now.

[2014-10-29 10:03] ghost commented on #8943
OK, thanks for your feedback and welcome to join cocos2d-x developer family!

[2014-10-29 10:11] twolight opened #8959 "ClippingNode 在部分android设备出现白屏现象"
in cocos2dx 3.2.

auto DrawRoundRect = [](Sprite* avatarSprite, Point origin, Point destination, float radius, unsigned int segments){

[code]

Can not draw Polygon，and other ui is not visible.
Device is xiaomi 4.
I guess my device not support BGRA8888 and PVRTC.

[2014-10-29 11:02] jacket-code commented on #8942
mac cocostudio 1.0.0.0 beta, it will crash when i run the code:
 auto uiLayer = cocostudio::GUIReader::getInstance()->widgetFromJsonFile("LoginSceneBgLayer.json");

and when i use mac cocostudio 2.0.0.0beta, loading the csb file,  it will show nothing when i run the code:
 auto uiLayer = cocostudio::GUIReader::getInstance()->createNodeWithSceneFile("LoginSceneBgLayer.csb");

[2014-10-29 11:21] chengstory commented on #8942
if you use cocos studio 2.0beta, please refer to：
http://www.cocoachina.com/bbs/read.php?tid-236704.html

[2014-10-29 15:08] Bilalmirza opened #8962 "SimpleAudioEngine::sharedEngine()->playBackgroundMusic(); Crashes on Lollipop"
I've test it with ndk r9 and ndk-10c
Everything works fine on android 4.0+ .... but playbackgroundmusic() causes crash on 5.0.... All of my cocos2dx games have stopped workinig. This is a Critical issue.

Thanks!

[2014-10-29 18:20] ledenis opened #8963 "DrawNode::drawPoint uses the last color"
When using DrawNode to draw points, it uses the color of the last point.

The bug can be reproduced by putting this code in cpp-tests, DrawPrimitivesTest.cpp in DrawNodeTest():

[code]

The three points are blue, instead of red / green / blue.

Tested as a win32 application.

[2014-10-29 19:03] angelvet opened #8964 "SSE issue on x86"
Application crashes on startup with error:
- Unhandled exception at 0x0FA8D528  (libcocos2d.dll) in TestApp.exe: 0xC0000005: Access violation reading location 0xFFFFFFFF. (on Windows)
- A/libc(1489): Fatal signal 11 (SIGSEGV) at 0x00000000 (code=128) ( on Android x86)

when reaching MathUtil::multiplyMatrix from MathUtilSSE.inl. line 43.

Tested clean cocos2d-x application debug build on android x

[2014-10-29 20:38] hawkwood opened #8965 "New AudioEngine in 3.3rc0 does not loop on Android 2.3.x"
I built (using NDK r9d) and installed CppTests an original Kindle Fire (Android 2.3.3) and Samsung Nexus S (Android 2.3.4), selected "Audio - NewAudioEngine", tapped "enabled-loop" (which changed to "disable-loop") and tapped play.  The audio played through once and stopped.  I have verified that it does work properly on a Kindle Fire HDX.

[2014-10-29 20:42] hawkwood opened #8966 "New WebView and VideoPlayer in 3.3rc0 in wrong place on Android 2.3.x"
I built (using NDK r9d) and installed CppTests an original Kindle Fire (Android 2.3.3) and Samsung Nexus S (Android 2.3.4), selected "Node: UI" > "GUI Dynamic Create Test" > "VideoPlayerTest" or "WebViewTest".  In  both instances, the view appeared in the upper-left hand corner, not centered as expected.  I have verified that it does work properly on a Kindle Fire HDX.

[2014-10-30 02:27] minggo commented on #8959
Are you sure you have enabled stencil buffer?
And stencil buffer may not be supported on your device.

And please use English in future.
Thanks.

[2014-10-30 02:35] jacket-code commented on #8942
the refer is ok for mac 1.0.0.0beta and 2.0.0.0 beta
but auto uiLayer = cocostudio::GUIReader::getInstance()->widgetFromJsonFile("LoginSceneBgLayer.json");
auto uiLayer = cocostudio::GUIReader::getInstance()->createNodeWithSceneFile("LoginSceneBgLayer.csb");
still error, and have some problems

[2014-10-30 02:44] chengstory commented on #8942
1,  x.csb that 2.0.0.0 beta exported needs to use "CSLoader::createNode("x.csb")",
2,  x.json that UI Editor exported needs to use "cocostudio::GUIReader::getInstance()->widgetFromJsonFile("x.json")".
3,  x.json that Scene Editor exported needs to use cocostudio::SceneReader::getInstance()->createNodeWithSceneFile("x.json").

[2014-10-30 03:03] super626 commented on #8481
It crashed when multiple texture coordinate exist at that time.
It is fixed now.
However, it will crash when there are 4 texture coordinates (Harrison has commented some).  The best way is that do not bind the predefined attributes.

[2014-10-30 04:02] minggo commented on #8964
Can run cpp-tests reproduce it?

[2014-10-30 04:07] minggo commented on #8965
So, you mean it only happened on Kindle Fire?

[2014-10-30 04:29] jacket-code commented on #8942
I use mac 1.0.0.0 to export the ui x.json, and used "cocostudio::GUIReader::getInstance()->widgetFromJsonFile("x.json")".
it will crash,  i use CSLoader::createNode("x.json") is ok,
when i use windows cocostudio 1.3.0.1 to export ui and
use CSLoader::createNode("x.json"), it will be also crash,
why?

[2014-10-30 04:40] chengstory commented on #8942
If file(json or csb) is exported by mac 1.0.0.0 or mac 2.0.0.0 beta0, please use CSLoader::createNode("xxx"), because new data format is used in mac version.
if file(json or csb) is exported by windows 1.x, please use parse function of GUIReader,
SceneReader and Armature.

[2014-10-30 04:50] #8481 closed, assigned to nobody

[2014-10-30 04:55] tangziwen opened #8971 "Control setSwallowsTouches is not working"
In Control 'init it created a touchlistener, but the pointer of listener is local ,so the setSwallowsTouches  which's inherited from Layer has no effect on the Control listener

[2014-10-30 04:56] minggo commented on #8962
@Dhilan007
Please take a look.
It is critical bug.

[2014-10-30 04:57] #8943 closed, assigned to nobody

[2014-10-30 05:35] hawkwood commented on #8965
No, it failed to loop on both the original Kindle Fire (Android 2.3.3) and Samsung Nexus S (Android 2.3.4)

[2014-10-30 05:40] minggo commented on #8965
Thanks.
So it happened on some Android devices, not all Android devices.
Right?

[2014-10-30 05:59] twolight commented on #8959
in cocos2dx 3.2.

auto DrawRoundRect = {

[code]

};
Can not draw Polygon，and other ui is not visible.
Device is xiaomi 4.
I guess my device not support BGRA8888 and PVRTC.

[2014-10-30 09:33] angelvet commented on #8964
Yes, I have built and run cpp-empty-test on android and got the same issue.
To reproduce you just need to enable x86 ABI before compiling and run it on x86 device/emulator.

[2014-10-30 10:27] hanrea opened #8978 "Use same image（.png） file ,the ImageView（UIimageview） darker than sprite"
Use same image file（.png）,the ImageView（UIimageview） darker than sprite.please @andyque to deal it.

If need help，please contact me with code ”FGv6wBTkI4THMBDFEwGY0bY9h2_gJII“

[2014-10-30 14:30] jacket-code commented on #8942
OK, thank you very much, i hope that the engine will suport one interface to do all things in the further, like load the resources files

[2014-10-30 14:30] #8942 closed, assigned to chengstory

[2014-10-30 15:03] hawkwood commented on #8965
Correct.  On my little investigation I would surmise that it has to do with Android 2.3.x, as The Fire HDX runs Android 4.x and worked fine.

[2014-10-30 17:18] takaaptech commented on #8932
@minggo can you please estimate when will we support wp8 with LUA? Thank so much!

[2014-10-30 17:20] stammen commented on #8932
The cocos2d-x community added lua support for WP8 in 2.x. Which developer did the work?

[2014-10-31 01:36] minggo commented on #8932
@takaaptech
We can add support in v3.4.

[2014-10-31 01:40] ghost commented on #8897
GAFExample is update in https://github.com/cocos2d/cocos2d-x-samples/pull/31
add linux and mac platform support

[2014-10-31 01:47] minggo commented on #8965
Thanks.
We will check it.

[2014-10-31 02:25] minggo commented on #8959
In v3.2, you should enable stencil buffer in Java codes.
You can refer to `/tests/cpp-tests/proj.android/src/org/cocos2dx/cpp_tests/AppActivity.java` for detail information.

[2014-10-31 02:35] minggo commented on #8964
Ok, i will test it.

[2014-10-31 07:45] doomsdayer commented on #8910
@andyque
I'm LuYuSheng of CocoStudio Team in Beijing.
Sorry I only know the OK version is a developing version of 3.3(cuz I copied that from other's pc)，and the newest cocos2d-x on github still make this issue.

If necessary, u can contact me for the demo with this issue~
rtx: 卢玉升
qq: 1119616884
mail: yusheng.lu@chukong-inc.com

[2014-10-31 09:35] zhangyufei49 opened #8984 "cocos/platform/linux/CCStdC-linux.cpp some code is unnecessary"
In file cocos/platform/linux/CCStdC-linux.cpp this code is unnecessar:
# if (CC_TARGET_PLATFORM == CC_PLATFORM_WIN32)

int CC_DLL gettimeofday(struct timeval \* val, struct timezone *)
{
    if (val)
    {
        SYSTEMTIME wtm;
        GetLocalTime(&wtm);

[code]

}

[2014-10-31 09:56] ledenis commented on #8963
I also found out that the **pointSize** is affected as well.

[2014-10-31 10:26] ghost commented on #8483
Already fixed in https://github.com/cocos2d/cocos2d-x/pull/6243
More information about this http://www.cocos2d-x.org/issues/4762

[2014-10-31 14:56] #8483 closed, assigned to nobody

[2014-10-31 15:13] stammen commented on #8933
Please close this issue as the commit is merged.

[2014-10-31 15:25] #8933 closed, assigned to nobody

[2014-10-31 16:08] GameDevIvan opened #8987 "Access violation on MouseButtonCallback when working via RDP"
I'm following http://www.gamefromscratch.com/post/2014/10/03/Cocos2d-x-Tutorial-Series-Handling-Touch-and-Mouse-Input.aspx and when I work via RDP, starting the TouchScene throws a reading access violation in libcocos2d.dll (It works if I just do it on the machine locally).

Breaks at CCGLViewImpl-desktop.cpp:363 "    glfwSetMouseButtonCallback(_mainWindow, GLFWEventHandler::onGLFWMouseCallBack);"

[2014-11-01 07:48] sappho192 opened #8988 "can't check right Shift and right Ctrl now"
It seems that KeyCode in cocos2d-x is not able to check right Shift and right Ctrl.
I think this should be solved.
And how can I check these keys in current version?(3.3 rc0)

[2014-11-01 09:03] TheJohnTalent opened #8989 "cocos2s-x-emscripten frame rate divided by 2 after small browser usage"
Compiled cocos2s-x emscripten based demos (particle effects) goes from 60 fps frame rates
continually to 30 fps frame rate from then on after small browser you tube viewing occurs in between.

i am using the latest debian Iceweasel (firefox) browser under debian 7.7 (3.2 kernel) linux.

If you have any questions i can be reached at lutz.john@yahoo.com.

Thanks!

[2014-11-01 18:11] pyrosphere opened #8990 "Label not increasing capacity beyond 30 on old Android device"
While testing a cocos2dx project on an old Android device I noticed long labels were missing letters.

This doesn't happen on my other Android devices, just on this one, a Huawei U8510 IDEOS X3 running Android 2.3.3 - not sure if it's caused by the OS version or something specific on the hardware.

I reproduced the bug on a clean new project with the latest repository version of cocos2dx by replac

[2014-11-02 11:55] miguel12345 opened #8991 "ScrollView with solid color crash"
## Steps:

1 - Download latest commit of cocos2d-x from github repo
2 - Download depedencies
3 - Create a simple scene
4 - Add a scrollview as its child like so:

[code]

5 - Run the application

Expected result : The list view should appear
Observed result : The application crashes here:

![screenshot 2014-11-02 11 53 19](https://cloud.githubusercontent.com/assets/1169497/4875160/e040e282-6286-11

[2014-11-03 01:46] minggo commented on #8990
What's your engine version?

[2014-11-03 01:58] super626 commented on #8912
ok，we will fix it. Thanks.

[2014-11-03 02:39] pedro-vicente commented on #8545
The iPhone 6 Plus resolution is 1080 x 1920 pixels.

Running a new application on the XCode Simulator for iPhone 6 Plus, for the values of

//size in points
  Size size_visible = Director::getInstance()->getVisibleSize();
  //real screen size in pixels
  Size size_frame = director->getOpenGLView()->getFrameSize();

both show

1242 x 2208

[2014-11-03 02:48] super626 commented on #8912
It is the bug of fbx-conv, we have fixed it. It will work on next release.
@minggo
You can close this issue.

[2014-11-03 05:16] pedro-vicente commented on #8545
I removed the launch image sections from Info.list.

Now, for iPhone 6, resolution is 640 x 960

Is there a way to get the correct resolution without the Info.list  launch image sizes defined ?

I have my previous project, all launch images and icons defined in a Asset Catalog

[2014-11-03 05:45] ghost commented on #8545
You can refer to this two articles for details:
http://matthewpalmer.net/blog/2014/09/10/iphone-6-plus-launch-image-adaptive-mode/
http://www.paintcodeapp.com/news/iphone-6-screens-demystified

[2014-11-03 09:13] miguel12345 opened #8994 "Different header search paths on iOS and android"
## Steps:

1 - Download latest commit of cocos2d-x from github repo
2 - Download dependencies
3 - Create new project
4 - Include UILayout in HelloWorldScene.cpp

[code]

5 - Compile on android and on iOS

Expected result - Should compile successfully on both platforms
Observed result - Fails to compile on Android
## Problem

Inside iOS cpp template `HEADER_SEARCH_PATHS` contains `"$(SRCROOT)/../co

[2014-11-03 10:27] pyrosphere commented on #8990
3.3rc0 from github

[2014-11-03 12:57] pandamicro opened #8996 "Why EventListener's isRegistered, isPaused, getFixedPriority, getAssociatedNode functions are protected ?"
I think these functions are useful and should be public for user. For example, if a user register listeners dynamically in his game, and he didn't know for sure whether the listener have been registered, he should have a way to know it.
Personal opinion, happy to hear different voices

[2014-11-04 01:27] aeonmine opened #8999 "memory leak leak cocos studiov2.0 and zipUtils in engine v3.3"
please merge pull req
https://github.com/cocos2d/cocos2d-x/pull/8998#comments

[2014-11-04 04:14] puckery opened #9000 "UIText使用自己的.ttf字体会产生内存泄露问题"
UIText使用自己的.ttf字体会产生内存泄露问题，使用系统字体是正常的。
原生CCLabel是没问题的。

[2014-11-04 04:45] aeonmine commented on #9000
now all of the ui widget object occur memory leak
it fixed   #8999

[2014-11-04 06:11] zilongshanren opened #9001 "SrollView _childFocusCancelOffse shouldn't be a fixed pixel value"
We should calculate this value by DPI.

[2014-11-04 06:13] puckery commented on #9000
我用的是3.2版本

[2014-11-04 07:21] samuele3hu opened #9002 "'Cocos2dxLuaJavaBridge' was optimized because of usage of LOCAL_STATIC_LIBRARIES on the android"

[2014-11-04 08:48] puckery opened #9004 "Label和Text生成产生的内存差别非常大！！"
[code]

如上，在3.2版本中测试，直接用Label生成1000个是45M，用Text是66M.
(3.3版本存在同样问题)

[2014-11-04 10:34] huji0624 opened #9006 "cocos compile does not support google api."
when I use cocos compile -p android,if my project.property file's target is "target=Google Inc.:Google APIs:13",then the compile can not be done.

[2014-11-04 13:41] zawasp opened #9008 "New feature - AudioEngine::cache"
We need to be able to cache the sound effects, to avoid delays when playing the sound for the first time (similar to preloadSoundEffect in SimpleAudioEngine).

Thanks.

[2014-11-04 23:06] sappho192 commented on #9008
I think this is necessary, too!

[2014-11-05 03:02] zilongshanren commented on #9004
@puckery
Thanks, We will test it and give you feedback later.

[2014-11-05 03:04] zilongshanren commented on #8991
@miguel12345
Thanks for reporting the issue. I will check it later.

[2014-11-05 03:31] RonTang opened #9014 "new method of CCSchedluer：CCSchedluer should have performTaskInCocosThread function improve performFunctionInCocosThread."
当ui线程完成其他线程传递的函数时，通知其他线程，UI线程函数执行完毕，返回运算结果等。
当某些其他线程运算需要等待ui线程更新完成后进行时，此函数提供便利。
//-------------------------------------------------------------------------
头文件更改如下：CCScheduler.h
Add code:
std::future performTaskInCocosThread(std::function &function);
std::vectorstd::packaged_task<bool()> _tasksToPerform;
//-------------------------------------------------------------------------
实现文件更改如下：CCSchedlu

[2014-11-05 07:04] rny opened #9016 "ttf font not found crash bug fix."
CCFontFNT.cpp

[code]

[code]

will crash because it is autoreleased.

FIX:

delete two lines of:

delete newConf;

[2014-11-05 07:08] WenhaiLin commented on #9008
Hi @zawasp Which platform do you develop for?

[2014-11-05 08:57] doyoubi opened #9019 "Question about "cocos2d: removeAction: Target not found""
I'm using cocos2dx v3.2.
When there is already an Action running on a sprite and we call sprite->runAction(another Action), the program will crash.
So I add sprite->stopAllActions() before run another Animate. But this will cause the error message "cocos2d: removeAction: Target not found" arise again and again.

The code of ActionManager::removeAction is:

[code]

When the error message occur, rem

[2014-11-05 09:18] zawasp commented on #9008
Hi @Dhilan007, I develop for Android and iOS, but do the development on Windows in Visual Studio. I added some code for win32 and iOS in my branch:

https://github.com/zawasp/cocos2d-x/tree/v3-audio-cache

This is based on a part of AudioEngine::play2d method on win32 and iOS.

[2014-11-05 13:22] Bilalmirza commented on #8962
hey,

was this fixed?

[2014-11-06 02:32] samuele3hu opened #9031 "setScale of Scene didn't run in the v3.3rc0"

[2014-11-06 03:40] sappho192 commented on #9008
Thanks for the win32 implement, @zawasp .

[2014-11-06 04:41] RonTang commented on #9014
#9034 intend to slove this problem

[2014-11-06 09:43] samuele3hu opened #9036 "In the newest cocos2-x,android platform would give some OpenGL errors and sometimes make phone die"
The error message as follow:
OpenGL error 0x0505 in /Users/cocos2d/MyWork/cocos2d-x-develop/MyLuaGame/frameworks/runtime-src/proj.android/../../cocos2d-x/cocos//ui/UILayout.cpp onBeforeVisitStencil 338
11-06 16:20:08.584: I/BufferQueue(170): [SurfaceView](this:0x41b6fc58,api:1) [queue] queued:2 (lag)

This bug didn't exist in the v3.3rc0.

[2014-11-06 15:03] pandamicro opened #9038 "AssetsManagerEx will crash if developer execute update after checkUpdate"

[2014-11-07 02:09] duhaibo0404 opened #9051 "csb plist repeated loading"
When loading the CSB file into stage

If reuse plist would lead to repeated addSpriteFrames

details see https://github.com/cocos2d/cocos2d-html5/pull/2441#event-189702180

path is : CSLoader.cpp::nodeFromProtocolBuffersFile

[2014-11-07 02:15] samuele3hu commented on #9031
Take Controller scene of cpp-tests for example,modify controller.cpp as follows:
void TestController::menuCallback(Ref \* sender)
{
   ....
   int idx = menuItem->getLocalZOrder() - 10000;

[code]

//    auto scene = g_aTestNames[idx].callback();
//
//    if (scene)
//    {
//        scene->runThisTest();
//        scene->release();
//    }
    auto scene = Director::getInstance()->getRunningScene

[2014-11-07 02:25] #8939 closed, assigned to nobody

[2014-11-07 02:33] #9036 closed, assigned to nobody

[2014-11-07 03:36] puckery opened #9058 "在lua中生成的C++对象内存无法释放"
test sample：
collectgarbage("collect")
-- 5600.0302734375
print("1:",collectgarbage("count"))
for i=1,50000 do
local p = cc.Node:create()
end
print("2:",collectgarbage("count"))
collectgarbage("collect")
-- 11061.815429688
print("3:",collectgarbage("count"))

增加的内存无法被释放！

[2014-11-07 03:50] dualface commented on #9058
只要不是在同一帧里连续创建对象就不会有问题。你会在一帧里创建50,000个对象吗？不会。

[2014-11-07 04:05] puckery commented on #9058
类似这种问题有办法强制清除么？

[2014-11-07 04:27] #9014 closed, assigned to nobody

[2014-11-07 04:42] edwardzhou commented on #9058
正确的方法是在架构、设计、实现中避免这种问题的发生。强制清除只能带来更严重的问题。

[2014-11-07 06:21] litefeel commented on #9058
[code]

output:

[code]

所以内存是被释放掉了。

[2014-11-07 06:23] puckery commented on #9058
嗯，我们现在也差不多用这种方法来解决，只是不太明白为什么！

[2014-11-07 06:25] samuele3hu commented on #9058
I agree with dualface and edwardzhou,you can refer to Programming in Lua,it is a bug of Lua.

[2014-11-07 06:28] puckery commented on #9058
tnk...

[2014-11-07 07:00] puckery commented on #9058
lite3的办法也没彻底清除，只能规避这种遍历

luajit本身也有gc的问题

[2014-11-07 07:51] elonlo commented on #9000
这个问题是什么原因导致的？

[2014-11-07 17:49] vovkasm commented on #8911
I do it that way:

If you need only to build cocos itself, then in cocos2d-x source folder do

[code]

But it will be Xcode project for Mac platform, not for iOS.

But if you need to make self-projects with cmake and cocos, then things got not so easy...

[2014-11-07 17:57] pandamicro opened #9061 "Polish AssetsManagerEx"
Based on feedbacks from developers who published their games using AssetsManagerEx in Cocos2d-JS and pushed hot updates to several hundreds K users.

Issue :
- The met this issue : https://github.com/cocos2d/cocos2d-x/issues/9038

Important features they require :
- Delay the timing for modify downloaded file name from .temp to avoid resources being used before real success of an update
- Need to

[2014-11-07 20:59] cpascal opened #9062 "Sprite3D's rendering order problem with material transparency"
I have 3D characters(Sprite3D, mesh material have transparency) within complex  UI widgets..

For simple example,
  Root
    + Dialog background
    + Character (Sprite3D, mesh material have transparency)
    + Another Dialog is overlapped the character partially

But the character renders last because cocos2d-x 3.x rendering pipeline (Renderer::render() function) renders with "all opaque RenderQu

[2014-11-08 07:17] kary24 opened #9064 "luac from cocos2d-x 3.3rc0 console's luacompile cant not run on iPhone5s\iPhone6(64bit devices)"
luac from cocos2d-x 3.3rc0 console's luacompile cant not run on iPhone5s\iPhone6(64bit devices)

[2014-11-08 12:23] zhourihu5 opened #9065 "使用CocosStudio2.0中的.csb资源创建Node出现错误"
使用CocosStudio资源来创建节点等报错load_library(linker.cpp:760): library "libmaliinstr.so" not found 这个是什么原因造成的，怎么解决？

auto rootNode = CSLoader::createNode("MainScene.csb");

[code]

![wvx5c 8sa1qy6ae l 9p](https://cloud.githubusercontent.com/assets/6065046/4964125/d0c28736-6784-11e4-8e5d-8568cb54d098.jpg)

[2014-11-09 03:25] aeonmine opened #9067 "bug cocosstudio2.2 fill background color to none"
set color to type none is not working

LayoutReader
ListViewReader
PageViewReader
ScrollViewReader

[2014-11-09 15:03] minggo commented on #9064
Yep, luac uses luagit to generate binary format.
And we use lua compiler on iPhone5s\iPhone6(64bit devices) because luajit doesn't support 64 bit.

[2014-11-09 15:04] minggo commented on #9062
@super626
Could you please take a look?

[2014-11-09 16:30] kary24 commented on #9064
emm but its not a good idea to make two diffent ipa for 32bit or 64bit devices .is that any good idea to fix the problem？

[2014-11-10 01:42] chengstory commented on #9067
I ask @pipu to take a look.

[2014-11-10 01:47] pipu commented on #9067
We've fixed this bug.
Wait for next version of CocosStudio editor, please.
Thanks a lot.

[2014-11-10 02:48] natural-law commented on #8932
@stammen
I'm the developer of cocos2d-console. I have supported building the wp8 project in template with console. But I have encountered a problem when I building the `cpp-empty-test` with `cocos` command.

The implementation of cocos2d-console is : using `devenv` to compile the wp8 project.
The problem is :
1. I created a new project from template. Then compile the wp8 project with command:
`"C:

[2014-11-10 07:24] aeonmine commented on #8519
android also has this issue (device: optimus vu l-06d) in v3.2
in v3.1.1 it seems fine

[2014-11-10 08:22] pandamicro commented on #9061
Update 1

Issues :
- When user updated the app package, then local manifest may be more recent than the cached manifest, but we always use cached manifest when it exists. This behavior should be modified
- When Downloader::batchDownload receives zero units to download, it will return directly without any notifications. When this happens, AssetsManager won't know everything have been updated alread

[2014-11-10 11:27] pandamicro commented on #9061
Update 2

Related PR: https://github.com/cocos2d/cocos2d-x/pull/9039
- When user updated the app package, then local manifest may be more recent than the cached manifest, but we always use cached manifest when it exists. This behavior should be modified
- When Downloader::batchDownload receives zero units to download, it will return directly without any notifications. When this happens, AssetsMana

[2014-11-10 11:33] pandamicro commented on #9061
A discussion thread have been created on the forum: http://discuss.cocos2d-x.org/t/assetsmanagerex-bugs-and-new-features-requests/18211

[2014-11-11 02:26] minggo commented on #9031
@samuele3hu
Please test it.
Thanks.

[2014-11-11 07:27] waitingfy opened #9079 "cocos2d-x 3.2 and 3.3rc0's "Accelerometer" out of control especially in IOS8.1"
1. My game just use acc->x, when I left greatly inclined the mobile phone after a few seconds, and then right inclined the mobile phone, the value of acc->x still is Negative。
2. It happed in IOS 8.1. IOS 7 sometimes happend。
3. Accelerometer works well in android, but I only test it in one android mobile phone.

因为我的游戏类似doodle jump的，只用到了陀螺仪的x值变化。 陀螺仪获得的值有时候会很奇怪，必现操作: 一直把手机往左大幅度倾斜，acc->x 的值是负的，过了几

[2014-11-11 08:18] waitingfy commented on #9079
1. It's my problem
   how I fix:
2. before change scene, use  "Device::setAccelerometerEnabled(false);"
3. set interval much lower:
   Device::setAccelerometerInterval(0.1);
   Device::setAccelerometerEnabled(true);

[2014-11-11 09:16] MelonS commented on #8305
Confirmed fixed in v3 branch?
@minggo @Dhilan007 How to fix? Let me know commit number.

[2014-11-11 18:06] milos1290 opened #9081 "HttpClient not working on Nexus 5 running L Developer preview"
Here is sample code:

[code]

Not receiving anything in callback.

[2014-11-12 01:43] davidboya opened #9086 "Cocos2d-x 3.3rc0 webView setOnShouldStartLoading Android"
setOnShouldStartLoading callback doesn't work on Android, I get no callback.
Tested it using cpp-tests. No callback there either.
Using One Plus One with Android 4.4.4. This callback works fine on iOS though.

[2014-11-12 05:44] WenhaiLin commented on #8962
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9088. It's seem some system issue that  MediaPlayer causes an immediate freeze on Lollipop.For more information: https://code.google.com/p/android-developer-preview/issues/detail?id=1787

[2014-11-12 06:32] liamcindy opened #9091 "THe loadingbar get a wrong display if you set the scale9 enbled"
[code]

[2014-11-12 06:44] WenhaiLin commented on #8874
I can't recreate the problem. Could you give me some sample code for recreate the problem.
Tested version: latest version on github
Tested device : MEIZU MX 3

[2014-11-12 06:56] liamcindy commented on #9091
![1](https://cloud.githubusercontent.com/assets/2688189/5006351/070df9a2-6a7c-11e4-9921-0de3caf12709.png)

[2014-11-12 08:31] colayue opened #9093 "关于FileUtils::getWritablePath(), ios app 审核被拒绝 Reason 2.23"
我的应用在审核时被拒绝，原因如下：
2.23: Apps must follow the iOS Data Storage Guidelines or they will be rejected
因此我查看了 iOS Data Storage Guidelines并找到了被拒绝的原因，如下：
我在我的应用中，使用了FileUtils::getWritablePath()作为下载路径，即<Application_Home>/Documents，这是不被允许的，在新的ios系统中，该路径只能用于存储用户产生的数据，并且会被icloud自动备份。如果需要存储下载数据，则应该使用<Application_Home>/Library/Caches路径。详见 iOS Data Storage Guidelines。
因此我在 FileUtils 加入了 getDownloadPath()函数，如下：

[2014-11-12 08:55] MFHSchoonbrood opened #9094 "Cocos2d-x v3.3rc0 Visual Studio Release build compile setting"
Hi guys,

The release builds in visual studio always do a full rebuild, which takes a lot of time.
If you set Configuration Properties -> C/C++ -> General -> Debug Information Format to "Program Database (/Zi) for libbox2d, libcocos2d and libSpine, then the release version doesn't rebuild everything all the time anymore.

The above setting together with turning on incremental linking will speed up

[2014-11-12 09:10] WenhaiLin opened #9095 "Label:It may display incomplete for multiline text with outline feature enabled."

[2014-11-12 09:27] WenhaiLin commented on #9095
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9096

[2014-11-12 09:39] WenhaiLin commented on #8480
It will consume more CPU resources if using QuadCommand for reduce GL call

[2014-11-12 10:14] samuele3hu commented on #9064
I think we could optimize `cocos luacompile`.Now we already support xxtea encrypt,but this mechanism only takes effect after the files compiled by the `luajit`.I have modified the related luacompile files manually to let xxtea encryp can used to the original lua files,and verified on 32bit and 64bit iOS simulator,the result is ok.How do you think this solution?

[2014-11-12 10:33] kary24 commented on #9064
@samuele3hu its great .But how can i do that.

[2014-11-12 13:08] tmsoft commented on #8267
Anyone else get compile errors with libcurl?

/Users/todd/dev/android/ndk/toolchains/arm-linux-androideabi-4.8/prebuilt/darwin-x86_64/lib/gcc/arm-linux-androideabi/4.8/../../../../arm-linux-androideabi/bin/ld: error: jni/../../cocos2d/external/curl/prebuilt/android/armeabi/libcurl.a(sha512-armv4.o): requires unsupported dynamic reloc R_ARM_REL32; recompile with -fPIC
/Users/todd/dev/android/ndk/so

[2014-11-12 14:18] YuukiHogo opened #9097 "[branch:v3] Invalid CMake path in set(CMAKE_MODULE_PATH)"
To be able build cocos2d as submodule it must use CMAKE_CURRENT_SOURCE_DIR instead of CMAKE_SOURCE_DIR.

[2014-11-13 02:45] masterhou commented on #8597
Hi, guys, have some feedback?
I test iOS 8, I think g_touchIdReorderMap's key is Touch ptr, the ptr mybe changed, so, the index changed.

[2014-11-13 03:30] WenhaiLin commented on #8965
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9098

[2014-11-13 03:35] WenhaiLin commented on #8705
@andyque  We should upgrade libpng.

[2014-11-13 03:46] super626 commented on #9062
@cpascal
@minggo
Thanks.

You would better create another camera, and have this camera see the transparent Sprite3D.

The camera can be same as default camera. Sample code is,
auto camera = Camera::create();
camera->setCameraFlag(CameraFlag::USER1);
addChild(camera);
sprite->setCameraMask((unsigned short)CameraFlag::USER1);

Then it should work. Because the default camera is rendered at last, and

[2014-11-13 03:56] samuele3hu opened #9100 "Make the `cocos luacompile` support encrypt the original lua files"

[2014-11-13 06:30] ghost opened #9102 "CMake Errors"
Hi,

I tried to use the v3.3 rc0 on a mac, with CLion, and got these errors from the cmake file :

[code]

The first one comes from the line 61 of the cmake file, there is this line `include(Classes/CMakeLists.txt)` if we are running on a mac, which is weird because there is no `CMakeLists.txt` in the `Classes` directory. I just deleted it, is it ok ?

For the other one, I just don't know where to

[2014-11-13 06:34] jianglong0156 opened #9103 "tilemap test -- many black lines in tmx anchorpoint test"
There are some black line in the map when I drag the screen

[2014-11-13 06:45] minggo commented on #8965
@hawkwood
Could you check it?

[2014-11-13 07:14] #9095 closed, assigned to WenhaiLin

[2014-11-13 07:30] minggo commented on #8962
@Bilalmirza
What device did you test on?

[2014-11-13 07:39] Bilalmirza commented on #8962
nexus 5.... this is fixed at #9088

Thanks :D

[2014-11-13 07:40] minggo commented on #8962
Ok.
Thanks.

[2014-11-13 07:45] Bilalmirza commented on #8962
There is another issue .... some of the fonts .ttf arent picked up on lollipop nexus 5
and the same fonts work perfectly in android 4.0

[2014-11-13 08:02] minggo commented on #8962
Could you create a new issue for it?

[2014-11-13 08:04] Bilalmirza commented on #8962
sure

[2014-11-13 08:06] minggo commented on #8962
Thanks.

[2014-11-13 08:06] #8962 closed, assigned to WenhaiLin

[2014-11-13 10:17] WenhaiLin commented on #8966
Fix at https://github.com/cocos2d/cocos2d-x/pull/9105

[2014-11-13 10:29] WenhaiLin commented on #8733
@andyque I think we should upgrade libcurl to make AssetsManagerEx work as expected on window.

[2014-11-13 10:53] minggo opened #9106 "compiling error caused by disable CC_ENABLE_SCRIPT_BINDING"
Refer to https://github.com/cocos2d/cocos2d-x/pull/9026 for detail information.

[2014-11-13 11:00] #9031 closed, assigned to super626

[2014-11-13 11:01] minggo commented on #8966
@hawkwood
Could you please test it?

[2014-11-13 11:04] #8898 closed, assigned to nobody

[2014-11-13 11:05] #8897 closed, assigned to nobody

[2014-11-13 12:05] Almax27 commented on #8991
I have also experienced this issue. The crash point is either at glDrawArrays seen above or occasionally:

**CCEAGLView-ios.mm (line 318)**

[code]

http://stackoverflow.com/questions/22693753/bad-access-error-in-eaglview-mm

-- similar issue here: possibly somewhere is not unbinding VAO after use
http://stackoverflow.com/questions/14196977/gpus-returnguiltyforhardwarerestart-crash

[2014-11-13 17:19] sappho192 commented on #9008
did this applied on official branch?

[2014-11-13 19:23] hawkwood commented on #8965
Downloaded zip of repo, built, installed, ran, tapped "Audio - NewAudioEngine" and the app crashed.  The folder .../tests/cpp-tests/Resources/ccs-res/ was empty.  Copied content of folder from RC0, built, installed, ran, and it works!  And loops correctly too.

Verified on Samsung Google phone (Android 2.3.4) and Kindle Fire (Android 2.3.3)

[2014-11-13 19:53] hawkwood commented on #8966
Verified web view works properly in CppTests on Samsung Google phone (Android 2.3.4).  On Kindle Fire (Android 2.3.3) looks like the GL layer is incorrectly sized, not taking in to account the bar at the bottom.  This is a general issue of Cocos, not specific to the web view/video player issue.

![img_1962](https://cloud.githubusercontent.com/assets/672455/5035175/f6ea7682-6b29-11e4-93f3-30c6ecac9

[2014-11-13 22:15] martell opened #9109 "CSParseBinary.proto"
Where is this file?
If someone uses a different version of google's protobuf
They get this error
CSParseBinary.pb.h:18:2: error:
# error This file was generated by an older version of protoc which is
# error incompatible with your Protocol Buffer headers.  Please
# error regenerate this file with a newer version of protoc.

I have no idea what protobuf does but we need the source not a generated b

[2014-11-13 23:03] stammen commented on #8733
@minggo What is the known bug? We are seeing the same problem with Windows Phone builds.

[2014-11-14 01:37] pandamicro commented on #8267
We should recompile lib curl with -fPIC, it seems solved when we test our machines. Please try it out on your side, you can download the new binary in this pull request:

https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/54

[2014-11-14 07:13] WenhaiLin commented on #9106
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9113

[2014-11-14 08:19] aeonmine opened #9114 "cocos2dx v3.3rc0 The labelTest, layoutTest,labelTestNew will cause freeze on Android L"
in cocos2dx v3.3rc0 The labelTest, layoutTest, labelTestNew can not work on Android L,

and the files exported from cocosstudio 1.5 json   and  cocosstudio 2.0 csb when using bitmap font in design will cause freeze on Android L

please fix this as soon as ..

in cocos2dx v3.2 it works fine.

[2014-11-14 08:58] aeonmine commented on #9114
i think the issue is caused by BmFont

[2014-11-14 09:49] zawasp commented on #9008
@sappho192 There's no pull request for it yet. I just modified it for my own use - feel free to use it and add it to the official branch.

[2014-11-14 11:30] aeonmine opened #9116 "New AudioEngine will crash when play same audio file in same time"
the following code will crash in New AudioEngine  on Android

local sound_flg = 0
  local audio_id = 0
  local function update()
    if sound_flg == 0 then
      cclog("1".." aucioId "..audio_id)
      ccexp.AudioEngine:stop(audio_id)
      cclog("2".." aucioId "..audio_id)
      audio_id = ccexp.AudioEngine:play2d("/res/test.ogg")
      cclog("3".." aucioId "..audio_id)
      sound_flg = 1
    el

[2014-11-14 11:33] jgod opened #9117 "UIWebView doesn't initialize properly (fails to load first time) when using loadHTMLString"
**Expected behavior**: Webview loads page just like it does with loadURL and loadFile.
**Actual behavior**: self.uiWebView isn't initialized until the second loadHTMLString request, the first request brings up a blank page and a NSURLErrorDomain -999 error if it even fires at all.

How to reproduce:

[code]

Here's how to fix:
[`UIWebViewImpl-ios.mm` line 142](https://github.com/cocos2d/cocos2d-x/

[2014-11-14 12:02] minggo commented on #8733
It seems the version of libcurl of windows have some bugs.
We should update libcurl to fix it.

[2014-11-14 12:04] minggo commented on #9109
We will use flat buffer instead of protocol buffer before releasing v3.3.

[2014-11-14 12:46] aeonmine commented on #9116
if change ccexp.AudioEngine:stop(audio_id) to ccexp.AudioEngine:pause(audio_id) that will not crash

[2014-11-14 13:04] sappho192 commented on #9008
Thanks @zawasp . I was exactly needed it. So you don't think pull request to the official branch now?

[2014-11-14 13:09] zawasp commented on #9008
@sappho192 I will refactor it a bit a do a pull request these days.

[2014-11-14 13:21] aeonmine commented on #9114
I tested in cocos2dx v3.3rc0
all using BMFont can not work on Android L

[2014-11-14 13:22] aeonmine commented on #9116
but this issue can resolve by how to use

just change

ccexp.AudioEngine:stop(audio_id) to

ccexp.AudioEngine:pause(sound_id_02)
ccexp.AudioEngine:resume(sound_id_01)
ccexp.AudioEngine:setCurrentTime(sound_id_01,0)

it will run well

[2014-11-14 14:31] stammen commented on #8733
What version do you recommned?

[2014-11-14 16:01] martell commented on #9109
Thanks for the reply minggo :)
I am in the middle of releasing a cocos.py for msys2.
and the end user cant use CCB or CCS because of this.

The sooner the better on this so I can get in time for testing before 3.3 :)

[2014-11-14 16:07] sappho192 commented on #9008
nice!

[2014-11-14 16:22] huangliu opened #9120 "Scrollview crash when put a sprite or a button in front of it"
Scrollview crash when put a sprite or a button in front of it, I use cocostudio2.0, but I think it's engine's bug

[2014-11-15 00:47] SvDyer opened #9128 "SpriteRenderTextureBug test crashes after a number of multi-touch additions of sprites"
1. Run cpp-test > Node: RenderTexture > SpriteRenderTextureBug
2. Using 3-4 fingers add multiple sprites at a time, quickly repeat about 15-20 times

Actual result: frame rate drops and then cpp-test app crashes

Reproduced in branch v3, on Windows Phone and Android platforms

[2014-11-15 01:14] naive231 opened #9129 "`Node.addChild()` seems don't add its children recursively, is it a bug?"
At `Node::insertChild()`, it just `pushBack(child)`, but `child` may have its children, should it add them all automatically?

[2014-11-17 02:08] dumganhar commented on #9093
Yep, I also referred to https://developer.apple.com/icloud/documentation/data-storage/index.html
the downloaded game resources should `not` be placed at `Documents` folder.
I think `getDownloadPath` isn't specified enough. How about just using `getCacheDirectory`?

[2014-11-17 02:40] dumganhar commented on #8511
@Dhilan007, what's status of this issue? Was it fixed?

[2014-11-17 03:34] dumganhar commented on #8900
@samuele3hu , @minggo , was the upgrade finished?

[2014-11-17 03:38] dumganhar commented on #8733
@andyque, was the library of libcurl for windows updated?

[2014-11-17 03:43] dumganhar commented on #8656
@milos1290, could you please paste some codes about how you setting `Z order`? Did you use global z for nodes?

[2014-11-17 03:48] zilongshanren commented on #8733
@dumganhar Not yet, the build scripts for win32 will be finished this week.

[2014-11-17 03:49] dumganhar commented on #8653
Hi all , any updates for this issue? Was it fixed in the latest cocos studio?

[2014-11-17 03:56] dumganhar commented on #8154
dualface has sent a PR for this: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/52
@minggo , how about to merge it ?

[2014-11-17 04:00] dumganhar commented on #8634
@dabingnn, did you check this issue?

[2014-11-17 04:02] minggo commented on #9062
@cpascal
Have you resolved the issue?

[2014-11-17 04:03] minggo commented on #9129
No, the children of the child will be contained in the child.

[2014-11-17 04:03] #9129 closed, assigned to nobody

[2014-11-17 04:23] cpascal commented on #9062
@minggo
@super626
Thank you very much. I'm sorry for late response.
I'm refactoring my ui framework to the Camera method today.

[2014-11-17 05:42] dumganhar commented on #8597
@masterhou, I could not reproduce this issue on my iOS8 device(ipad2 v8.1).
Which device were you testing on?

[2014-11-17 06:00] aeonmine commented on #9114
I change the cocos2dx v3.3 rc0 Application.mk  to cocos2dx v3.2 it works fine
and the httpclient also works fine

I guess the APP_LDFLAGS := -latomic in  cocos2dx v3.3 rc0 has a problem

thanks

[2014-11-17 06:06] volzhs opened #9136 "UIText.cpp unnecessary setDirty on setString"
I added some code to increase performance & save battery
# UIText.cpp

[code]
# UILoadingBar.cpp

[code]
# UIImageView.cpp

[code]

[2014-11-17 08:21] minggo opened #9138 "HttpClient does not work correctly with android 5.0"
Detail information please refer to http://discuss.cocos2d-x.org/t/httpclient-does-not-work-correctly-with-android-5-0/18190/6.

[2014-11-17 08:23] natural-law commented on #8932
@stammen,
The issue has been fixed in this PR: https://github.com/cocos2d/cocos2d-x/pull/9137 .

But there are two problems I encountered have not been solved:
1. The one I mentioned before: I can't compile the wp8-xaml project of `cpp-empty-test` & `cpp-tests`.
2. I've no idea how to deploy & run the win8.1-universal project with command line.

I will spend more time to solve them. If you have an

[2014-11-17 09:51] aeonmine commented on #9114
@minggo
For BMFont and Httpclient Crash on Android L
I fixed it by use cocos2dx v3.2 Androidk  instedof cocos2dx v3.3rc0 Androidk

ex:
  Android.MK   in cocos2dx v3.3 rc0   (this will crash on Android L)

[code]

Android.MK   in cocos2dx v3.2 (this works fine  )

[code]

[2014-11-17 14:28] pyrosphere commented on #8459
I've also noticed a decrease in performance in WP8 v3. It seems to happen mostly when there's a lot of nodes inside other nodes. For example I sometimes add text labels to the normal and selected nodes of a MenuItemSprite. The objective is for the text of a button has a different color when the button is selected. While in most platforms I don't notice any change in performance in WP8 v3 this make

[2014-11-17 14:47] minggo commented on #8459
Because it uses angle on WP8.

[2014-11-17 15:02] pyrosphere commented on #8459
Yes, but v2 also used ANGLE and it seemed faster.

[2014-11-17 17:02] stammen commented on #8932
I will be making a pull request that fixes cocos2d-wp8.sln.

This now works

"C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\IDE\devenv.com" ".\build\cocos2d-wp8.sln" /Build "Debug|Win32" /Project "cpp-empty-test"

"C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\IDE\devenv.com" ".\build\cocos2d-wp8.sln" /Build "Debug|Win32" /Project "cpp-tests"

You can build universal ap

[2014-11-17 20:59] Zambiorix opened #9140 "iOS PIE"
I have noticed that the cocos2d-x libraries for iOS (OSX?) are not PIE enabled. I know that Apple still accepts non-PIE libraries, but at some point that will change.

The issues are with a few external libraries :
libjpeg.a
libtiff.a

Currently I have replaced the libraries (together with the header files + there one extra .h file) with those from ImageMagick:
http://www.imagemagick.org/download/

[2014-11-18 03:08] natural-law commented on #8932
@stammen
Thanks for your excellent work. I've tried your PR, it's worked.

On the other hand, I think you misunderstood the 2nd problem.
I can compile the win8.1-universal projects (Both Windows & WindowsPhone can be compiled by command line).

 The problem is :  I don't know how to deploy & run the application by command line.

[2014-11-18 03:09] samuele3hu opened #9144 "Use `cocos run -p android -j 4` to run lua-tests/cpp-tests will trigger error."
The error msg as follows:
COCOS_X_ROOT not defined. Please define it in your environment

[2014-11-18 03:09] #8932 closed, assigned to natural-law

[2014-11-18 03:37] zhaijialong commented on #9144
this has been fixed in #9142

[2014-11-18 03:50] stammen commented on #8932
Take a look at

http://msdn.microsoft.com/en-us/library/dn632395.aspx

[2014-11-18 03:51] ghost opened #9145 "Fonts don't have crispness (looks very ghostly) and thickness varies between browsers"
I've been trying to fix the quality of fonts for a while now. I'm using CCLabelTTF and the font thickness seems to vary a lot between browsers as well. Here's an example of MuseoSans_100.ttf:
Safari:

![screen shot 2014-11-17 at 7 50 48 pm](https://cloud.githubusercontent.com/assets/8293968/5082310/11921bf4-6e93-11e4-9390-0e470460750b.png)

Chrome:

![screen shot 2014-11-17 at 7 48 40 pm](https://

[2014-11-18 03:53] minggo commented on #9145
I think you should create this issue here: https://github.com/cocos2d/cocos2d-js.

[2014-11-18 03:53] #9145 closed, assigned to nobody

[2014-11-18 05:44] redism commented on #9081
It looks like same issue with https://github.com/cocos2d/cocos2d-x/issues/9138

[2014-11-18 08:27] Spellzlol opened #9150 "Emoji working incorrect on android"
Emoji in text labels does not work on android version.

Code sample for sample application:

[code]

Ios result:

![ios simulator - iphone 6 - iphone 6 ios 8 1 12b411 2014-11-18 11-22-44](https://cloud.githubusercontent.com/assets/4716576/5084274/4827c704-6f15-11e4-9b28-a44946149a04.jpg)

Android result:

![screenshot](https://cloud.githubusercontent.com/assets/4716576/5084295/8bccdb8e-6f15-11e4-9

[2014-11-18 08:40] happyfire commented on #8798
I have meet the same problem, and when I put a Text in a vertical list view, and set the gravity of Text to left, it is OK if I don't call setTextArea, and it will changed to center align if I call setTextArea.

[2014-11-18 09:02] Folyd opened #9151 "Cocos2d-x java方面的源码写的一点也不规范"
今天看了一下Cocos2d-x java有关的源码，写得确实不太规范，一股很浓的c++风格。
比如注释完全不是Java的风格，另外缩进全都是TAB键。
作为一个开源项目还望也遵循一下Java的Code style。
谢谢。

[2014-11-18 09:04] minggo commented on #9151
Thanks for your suggestion.
Any other suggestions?
We can correct them.

[2014-11-18 09:11] Folyd commented on #9151
Cocos2dxActivity.java

[code]

`framelayout_params` 这个变量命名也不符合Java 规范呀。

[2014-11-18 09:18] MatthijsSpaans opened #9152 "Cocostudio Bug when loading action object twice"
widgetFromJsonFile
ActionObject o = ActionManagerEx::getInstance()->getActionByName
o->play()

.. replace scene
.. replace scene back and execute same code:

widgetFromJsonFile
ActionObject o = ActionManagerEx::getInstance()->getActionByName
o->play() // crash

[2014-11-18 09:22] MatthijsSpaans opened #9153 "Cocosstudio animation sequence is not always correct"
every object in an animation appears to start at the first frame it is defined, not on their place in the timeline.

For example i have three buttons which move from left to right. Horizontally on the same path, vertically spaced.

i have an animation timetime as follows.

button 1 : start at 0ms move into view for 1000ms
button 2 start at  500ms move for 1000 ms
button 3 start at 1000 ms move int

[2014-11-18 10:56] irisdominguez opened #9155 "Android UIWebView loadHTMLString uses baseURL as Mimetype"
I'm working with the UIWebView on both android and iOS, providing some dynamic HTML code with the loadHTMLString method. I was having problems with the Android implementation, as the HTML code was being rendered as plain text.

I just realized that on the Android implementation, the baseURL argument falls to the mimetype of the text on the actual WebView. Thus, something like:

<pre>webView->loadH

[2014-11-18 11:02] sappho192 opened #9156 "I think the types to handle time are not consistent."
I found DisplayLinkDirector::setAnimationInterval gets argument "interval" which is double, and schedule methods in Node class get argument "delay" which is float.
AFAIK, schedule methods are belong to setAnimationInterval but they have different types to control time. I think this makes data loss and dulls time precision, right?

It needs to be same type(especially double) to save data and sharpe

[2014-11-18 11:57] jgod commented on #9155
:+1:

 I noticed this too, same use case as you, except I actually did need the baseURL (using javascript, html, css, linked resources).

This is what I ended up with:

`Cocos2dxWebViewHelper.java`:

[code]

All those nulls translate into the default mimetypes and stuff (looked at [Android api docs](http://developer.android.com/reference/android/webkit/WebView.html#loadDataWithBaseURL%28java.lang.

[2014-11-18 12:08] irisdominguez commented on #9155
Ohhhh, that's really nice. my kludge works, but having the baseURL available seems much more nice. And yes, you already saved me before with the iOS fix.

Thanks!

[2014-11-18 13:00] jgod commented on #9155
You're welcome. Trying to get this and the other issue's prs accepted in the meantime, don't think I missed anything.

[2014-11-19 02:50] SilkyPants opened #9161 "ui::ScrollView causing strange render issues on some Android devices"
Hi,

I've noticed a strange render issue on my Nexus 7 test device, that I cannot replicate on other android devices (yet). It seems that if I use a ui::ScrollView in my scene, the entire screen is taken up with a white image, with a green box where my scrollview would be.

I'm guessing this might have something to do with the stencil buffer or something? I haven't had a chance to dig deeper into

[2014-11-19 02:51] chengstory opened #9162 "It is invalid for TMXTiledMap to "setOpacity" and "setColor""
TMXTiledMap *map = TMXTiledMap::create("Default/defaultMap.tmx");
map->setPosition(_contentSize.width / 2, _contentSize.height / 2);
map->setOpacity(80);
map->setColor(Color3B(255, 0, 189));
this->addChild(map);
![1](https://cloud.githubusercontent.com/assets/2960368/5099965/fbf72f8a-6fd9-11e4-99f5-02c022a96dd4.png)

[2014-11-19 02:51] chengstory commented on #9162
@minggo  Please take a look.

[2014-11-19 02:51] minggo commented on #9161
Yep, i think it is something about stencil buffer.

[2014-11-19 02:55] minggo commented on #9162
Please give these informations:
- engine version
- what platform did you test on

[2014-11-19 02:57] #9144 closed, assigned to nobody

[2014-11-19 02:59] minggo commented on #9140
Yep.
We will update them when 3rd party build script is ready.

[2014-11-19 03:02] minggo commented on #9156
Yep, you are right.
I think we should use float in `DisplayLinkDirector::setAnimationInterval()` too.

[2014-11-19 03:34] happyfire opened #9163 "[cocos2d-x 3.3 RC0 bug] UIImageView with scale9 enabled is upside down."
After upgrade to cocos2d-x 3.3 RC0, we found that the ImageViews create in the cocos studio 1.6 with scale9 enabled are upside down in game. And I try to call setFlippedY(true) in lua code to make it right, but it have no effect.

[2014-11-19 03:46] zilongshanren commented on #9163
This issue was solve at here: https://github.com/cocos2d/cocos2d-x/pull/9057

[2014-11-19 04:25] SilkyPants commented on #9161
Yep - it's not enabled :)

Is this something I can turn on/off myself, or is this a case that certain devices do not support Cocos2dx implementation?

## Logcat

D/OpenGLRenderer(18458): Render dirty regions requested: false
D/Atlas   (18458): Validating map...
D/libEGL  (18458): loaded /system/lib/egl/libEGL_tegra.so
D/libEGL  (18458): loaded /system/lib/egl/libGLESv1_CM_tegra.so
D/libEGL  (18458

[2014-11-19 04:49] kary24 opened #9164 "CCDirector::getInstance()->setAnimationInterval() dose not work on iOS in 3.3rc0"
it's work on win32,but does not work on iOS.
i have set setAnimationInterval(1/10),but the game still run 60FPS rate in iPhones

[2014-11-19 06:24] richieyan opened #9165 "cocos2d-x label position is not right when upgrade from v3.1 to v3.3rc0 in iOS"
version: cocos2d-x 3.3 rc0
issue: label position is a little upwards when upgrade from v3.1 to v3.3rc0 in iOS but android is normal.

before upgrade:
![image](https://cloud.githubusercontent.com/assets/839363/5101635/6a36e752-6ff7-11e4-9498-ccb04eec0ad4.png)
after upgrade:
![image](https://cloud.githubusercontent.com/assets/839363/5101637/76c1bb32-6ff7-11e4-8246-2d2d3de623a0.png)

Font file for th

[2014-11-19 06:56] minggo commented on #9165
Could you please paste some codes for this issue?
Thanks.

[2014-11-19 06:56] minggo commented on #9165
And could you share the .ttf file.

[2014-11-19 07:27] chenyan2009 opened #9167 "cocos2dx 3.2 使用哪个spine版本？"
cocos2dx 3.2使用spine生成的文件有问题，spine试过1.9.15和2.1，都不对
经过比较cocos自带的例子和自己用spine生成的文件，
发现主要问题有两个

一是 自己生成的.atlas文件多了一行size
二是 自己生成的.json文件多了一行"skeleton"，且"type"不能为"mesh"

请问，要用什么版本的spine？

[2014-11-19 07:59] richieyan commented on #9165
code like this:

[code]

font file: http://yun.baidu.com/s/1sjkCORr

[2014-11-19 08:35] zilongshanren commented on #9086
Hi, @davidboya
I have tested the `setOnShouldStartLoading` callback on Android and it works for me.

One thing you should make sure: you should add a `http://` prefix to the url.

[2014-11-19 11:20] jgod commented on #9114
Hey I'm running into this freeze now with v3.3.rc0.
You said it might be `-latomic` but these lines are also changed (seem pretty drastic):

[code]

I'm working on a massive project that takes a while to recompile, any assistance to narrow it down is greatly appreciated!

I'll see if the sample projects will behave in my env in the meantime.

[2014-11-19 12:37] jgod commented on #9114
Some testing with release at `HEAD` (I forked it and added a couple things but it's pretty much the same):
Using ndk-r9d
- Created new project "LabelTest"
- Left default `.mk` files
- **Text-based .fnt freezes, Binary-based .fnt doesn't** (confirming [this](http://discuss.cocos2d-x.org/t/android-5-0-lollipop-freezes-with-cocos2dx-3-2-version-l-api-21/17811))

[2014-11-19 14:11] sappho192 commented on #9156
How about unify to double?

[2014-11-19 15:02] wildbunny commented on #8238
I have exactly the same problem in windows. Stopping a looping sound doesn't work if you have another stream playing at the same time.

[2014-11-19 18:33] davidboya commented on #9086
@andyque Very weird... I am using `http://` for all my URLs. But the weirdest thing is that `setOnShouldStartLoading` works nice on iOS simulator with exactly the same code. (Tested with cpp-tests, and my own app)

I've tested this on my app and cpp-tests on the following devices without any result getting a callback on `setOnShouldStartLoading`, something must be wrong with my development environ

[2014-11-20 01:55] zilongshanren opened #9172 "Potential wrong orientation of Editbox"
A developer said that code compile with ios sdk below 8 and run on devices with ios 8+ would be wrong.

So we need to test it.

For more details, see

http://discuss.cocos2d-x.org/t/cocos2dx2-2-5-on-ios8-cceditbox-make-the-main-view-appear-error/17042/14

[2014-11-20 02:02] minggo commented on #9156
Because most of other API uses float.

[2014-11-20 02:19] minhtoantm commented on #9138
Please fix it as soon as, I'm realy happy when it is fixed.
Thanks you.

[2014-11-20 02:30] minggo commented on #9164
I have tested in cpp-tests, it can work.

[2014-11-20 02:40] kary24 commented on #9164
@minggo
i  try to use it at both c++(Appdelegate::applicationDidFinishLaunching) and lua's main function ,it can work when i run my game at win32 platform.but dose not work at ios....the same code

[2014-11-20 02:50] kary24 commented on #9164
@minggo
there is my lua main function .it's the first function will be called at lua and i set animationInterval and never change it again. it take effect on win32 but doesnt work on ios.

##

local function main()
    collectgarbage("collect")
    -- avoid memory leak
    collectgarbage("setpause", 100)
    collectgarbage("setstepmul", 5000)
    -- initialize director
    local director = cc.Dire

[2014-11-20 02:53] minggo commented on #9164
May be your c++ codes change it too.
So please check your c++ codes in AppDelegate.cpp.

[2014-11-20 02:54] kary24 commented on #9164
@minggo  i checked it yet.but i have not found i changed it at another where.:(

[2014-11-20 02:57] minggo commented on #9164
You said c++ project can not work too, right?
Will you please try cpp-test or cpp-empty-test to take a look?
I just tried cpp-tests, modified codes in `AppDelegate.cpp`, and it worked on iOS simulator.

Thanks.

[2014-11-20 02:59] kary24 commented on #9164
i said it's work on win32.but it is not work on ios Simulator and iPhone devices....but it is use the same code....

[2014-11-20 03:00] minggo commented on #9164
Did you mean new c++ project can not set FPS too?

[2014-11-20 03:03] kary24 commented on #9164
中文吧- -我的英文确实挫。。
我的意思是..我一样的代码 在windows上 是可以的..然后在ios上是不行的..包括ios的模拟器和ios的真机设备都不行.但我还没尝试cpp-tests里面的 我一会试试看.但我已经check过我的代码 包括在cpp还有lua的代码 均没有再次设置fps

[2014-11-20 03:11] #8320 closed, assigned to nobody

[2014-11-20 03:13] #8485 closed, assigned to nobody

[2014-11-20 03:48] jonigata commented on #8713
+1

[2014-11-20 05:38] jonyrock opened #9175 "Borders Drawing artifact"
Hi.

An inherited from DrawNode class contains following methods:

[code]

Then play with `eps` value
eps = 0.1
<img src="https://trello-attachments.s3.amazonaws.com/546273eaeb982da2a29fc283/122x125/35b356cd467055cc2dbf1df0f7d010dc/Selection_045.png"/>
eps = 5
<img src="https://trello-attachments.s3.amazonaws.com/546273eaeb982da2a29fc283/87x84/fb8116167cb4ebee13a94054cfbc95c5/Selection_047.png" />

[2014-11-20 05:42] lokukuol commented on #9138
I have the same problem. Please fix it as soon as possible,
Thanks you.

[2014-11-20 06:40] ombug commented on #9138
HttpClient stop at curl_easy_perform() and can't go on ，please fix the bug quickly.

[2014-11-20 08:21] ahmed-belal commented on #8305
@minggo @Dhilan007 Can you please let me know the commit number? I need to merge this fix into my application running @ v3.2

[2014-11-20 09:19] natural-law commented on #8732
The problem is disappeared when using Xcode 6.1.

[2014-11-20 21:03] pyrosphere opened #9184 "Deprecated kCCVertexAttrib_Color = GLProgram::VERTEX_ATTRIB_POSITION"
I believe it should instead be:

[code]

Edit: Disregard this issue, I must have somehow edited the file by mistake.

[2014-11-21 01:27] dumganhar commented on #9138
Hi all, we will fix it when we get an Android 5.0 device to reproduce this issue. :)

[2014-11-21 01:30] dumganhar commented on #9163
@happyfire ,could you please pull the latest codes on v3 branch to have a try?
If it was fixed, we should close this issue. :)

[2014-11-21 01:43] #9184 closed, assigned to nobody

[2014-11-21 01:46] chengstory commented on #9162
Based on cocos2dx 3.3rc0
Window 7, Mac

[2014-11-21 02:40] samuele3hu commented on #9164
@kary24, The DisplayLinkDirector class has the declarations as follows:

[code]

I have been check it by calling setAnimationInterval(1/30) and setAnimationInterval(1/15),the results are ok.

[2014-11-21 03:01] kary24 commented on #9164
ok thx..

[2014-11-21 03:01] #9164 closed, assigned to samuele3hu

[2014-11-21 03:06] WenhaiLin commented on #8305
Hi all, i fixed this issue at https://github.com/cocos2d/cocos2d-x/pull/7363.​ But some people reported this  issue is not yet resolved. I will  check again ASAP.

[2014-11-21 06:02] dumganhar commented on #9138
@minhtoantm, @lokukuol ,@ombug, could this issue be reproduced on android 5.0 emulator?

[2014-11-21 06:42] samuele3hu opened #9191 "[Android 5.0 simulator]Audio-CocosDenshion->Control Music -> play -> stop ->play trigger error"
Error message as follows:

[code]

[2014-11-21 06:44] minhtoantm commented on #9138
@dumganhar : sorry, I can start my android 5 emulator ( I use genymotion), so I don't know is this issue be reproduced.

[2014-11-21 07:13] hayago commented on #9138
@dumganhar : Yes, this issue could be reproduced on android 5.0 emulator.

[2014-11-21 07:34] dumganhar commented on #9138
@hayago , thanks. I will check it soon.

[2014-11-21 08:05] minggo commented on #9162
@huangshiwu
Please take a look.

[2014-11-21 08:58] nurbed commented on #9094
Ciao!
I have the same problem, but set the Debug Information Format option isn't a real solution... any other suggestion?

[2014-11-21 09:33] VisualSJ opened #9192 "Studio coordinate positioning error"
![image](https://cloud.githubusercontent.com/assets/7113508/5140121/59cc5af8-71a2-11e4-9da4-60d899e74024.png)

Figure, I inserted the layer (the big box)
Then insert a small sprite( position: 960, 0)(anchor: 1, 0)
Finally I insert a box in a small box inside.

The climax caming...
He appeared in 1 of the position.
Because of his relative to the box of bottom left corner .

But why I saw on Studio1

[2014-11-21 15:40] litefeel commented on #9192
http://www.litefeel.com/tools/cocostudioPositionFixer.php

this tool will fixed.
1. put content of export json in left box.
2. click `转换=>` button.
3. copy content of right box to json file.

[2014-11-21 17:03] KrissMu commented on #8964
Hello,

Any news concerning this issue ? I'm facing it too and I can't find any workaround ...

Does this mean that we can't build application running on x86 terminal ? I'm new to Android development.

Thanks

[2014-11-21 18:54] angelvet commented on #8964
As a workaround you can disable SSE instructions for x86 build, just add -U__SSE__ onto your compiler flags list.

[2014-11-22 01:09] minggo commented on #8964
Sorry for late reply.
We already tested on x86 device, not problem.
Could you please test it with latest codes?
We will confirm it too.

[2014-11-22 01:10] minggo commented on #8964
@Dhilan007
Please check it again.

[2014-11-22 02:54] VisualSJ commented on #9192
Thanks for your tool @lite3

[2014-11-22 04:12] jiyucn commented on #9138
You guy working on Wangjing Fangheng, right? If possible, I would like to share my Android 5.0 device with you guys. :-)

[2014-11-22 05:25] jgod commented on #9191
I can confirm this, getting on KitKat

[2014-11-22 05:27] jgod commented on #9136
Submit this as a PR so it can be properly reviewed

[2014-11-22 05:34] cashish commented on #9138
I encountered the same problem using nexus 5 with android lollipop but with cocos2d-x ver 3.2
there is no callback to onHttpRequestCompleted

[2014-11-22 11:47] KrissMu commented on #8964
Well I might be wrong because I can't say for sure that the error I get is related to SSE.

I have the error message:
A/libc﹕ Fatal signal 11 (SIGSEGV) at 0x00000000 (code=128)

occuring when I use APP_ABI = x86 and an x86 AVD, but no error with arm and an arm AVD.
I'm using Android Studio, worth mentioning it I guess.

I'm very new to Cocos and Android, and I don't know how I could investigate de

[2014-11-22 14:07] angelvet commented on #8964
Earlier I have created a bug on Issue Tracker  http://www.cocos2d-x.org/issues/6002#change-14796
There is a logcat attached, probably it would help.

[2014-11-22 16:15] KrissMu commented on #8964
At first look, it seems to be quite similar than mine.

You talked earlier about deactivating SSE in compiler, using "-U__SSE__", I'm not quite sure where I would have to use this.
Is it something I need to add in one of the .mk files ? In the .gradle ?

Thank you for your help.

[2014-11-22 17:09] angelvet commented on #8964
Hello,

Yes, you can check by extending APP_CPPFLAGS directive on your Application.mk file like
APP_CPPFLAGS :=  [other flags...] -U__SSE__

Probably there also must be some logic added to disable sse instructions for x86 ABI only, instead of all declared abis within APP_ABI directive.

[2014-11-22 19:31] KrissMu commented on #8964
OK it works great, thanks !

Now last (maybe ;) ) questions: is it ok to distribute an application like that (having SSE disabled for x86) ?
Should we expect some update (even if it might not be urgent) that would solve this issue ? Is it related with Cocos2d-x ? (I guess so, but as I said before, I'm new to all this development environment and I'm still learning :) ).

Thanks again.

[2014-11-23 17:12] ahmed-belal commented on #8305
@Dhilan007 It appears that it was merged into v3.2 already when I downloaded it, but I get the problem still on 3.2. Any advice?

[2014-11-23 22:45] fdocr opened #9200 "Android execution problem [Conversion to Dalvik format failed]"
I followed step-by-step a great tutorial of Sonar Systems here: https://www.youtube.com/watch?v=2LI1IrRp_0w

iOS version compiles and run correctly on the simulator, but when opening Eclipse to run the Android application (after succesfully compiling using "python ./build_native.py") I recieve the following error:

[code]

I'm using OS X Yosemite (10.10.1), android-ndk-r9d, adt-bundle-mac-x86_64-2

[2014-11-24 02:10] #9106 closed, assigned to WenhaiLin

[2014-11-24 02:22] #8732 closed, assigned to natural-law

[2014-11-24 02:31] chengstory commented on #9162
@minggo  @huangshiwu  Particle also have the same problem. Thanks

[2014-11-24 03:01] sbhhbs opened #9204 "cocos2d-x 3.3rc0 crash on android x86"
I'm experiencing crash on android x86 4.4.4. Here's the stack:
*********\* Crash dump: **********
Build fingerprint: 'generic/vbox86p/vbox86p:4.4.4/KTU84P/eng.buildbot.20141001.101335:userdebug/test-keys'
pid: 1448, tid: 1477, name: GLThread 183  >>>com.mycompany.app <<<
signal 11 (SIGSEGV), code 128 (SI_KERNEL), fault addr 00000000
Stack frame #00  pc 001e2382  /data/app-lib/com.mycompany.app-1/l

[2014-11-24 03:07] #8965 closed, assigned to WenhaiLin

[2014-11-24 03:22] minggo commented on #8917
@araratispiroglu
Could you describe it step by step?

[2014-11-24 03:23] #8912 closed, assigned to nobody

[2014-11-24 03:24] #8882 closed, assigned to samuele3hu

[2014-11-24 03:43] chengstory commented on #8713
@minggo  Please let guanghui to take a look, It is not reader‘s bug.

[2014-11-24 03:45] litefeel commented on #8713
this is cocostudio bug. this tools fix export json.
http://www.litefeel.com/tools/cocostudioPositionFixer.php

[2014-11-24 03:47] dumganhar commented on #9079
@waitingfy so was your solution a workaround?

[2014-11-24 03:53] waitingfy commented on #9079
yes

[2014-11-24 03:53] #9079 closed, assigned to dumganhar

[2014-11-24 05:40] dumganhar commented on #9138
@jiyucn , thanks for sharing. I have gotten a Nexus 5 with android5.0. I will look inside this issue. :)

[2014-11-24 05:50] minggo commented on #9000
Duplicated with #8999.

[2014-11-24 05:50] #9000 closed, assigned to zilongshanren

[2014-11-24 05:51] minggo commented on #9204
Duplicated with #8964?

[2014-11-24 05:52] #8959 closed, assigned to nobody

[2014-11-24 05:57] dumganhar commented on #9138
Hi @redism, @minhtoantm, @lokukuol, @ombug, @hayago, @jiyucn, @cashish
I tested this issue. And found that HttpClient works without crash and

[code]

the callback could be invoked. Anything i missed?

[2014-11-24 05:58] minhtoantm commented on #9138
This bug don't happend when using cocos2d-x v2.2.5 on Android 5.0

[2014-11-24 05:58] dumganhar commented on #9138
I used the test codes written by @hayago here (https://github.com/hayago/HttpClientSample-cocos2dx/blob/master/Classes/AppDelegate.cpp).

[2014-11-24 05:59] dumganhar commented on #9138
I'm using the latest codes on github v3 branch. And my device is `Nexus 5 Android 5.0`.

[2014-11-24 06:00] minhtoantm commented on #9138
Can you use ccp-tests project and check? I'm using code in this sample.

[2014-11-24 06:02] dumganhar commented on #9138
@minhtoantm ,yes , I also used cpp-tests for testing. But it works ok. :(

[2014-11-24 06:04] minhtoantm commented on #9138
I'm using cocos2d-x final v3.2 in website cocos2d-x.org, and ccp-tests don't work. Can you give me a link what you use?

[2014-11-24 06:08] dumganhar commented on #9138
@minhtoantm , I  used the latest codes on github. You could follow the readme from https://github.com/cocos2d/cocos2d-x to clone the latest codes. I seems that this issue was fixed in the latest codes. :)

[2014-11-24 06:08] minhtoantm commented on #9138
Thanks a lot, I will check

[2014-11-24 06:09] dumganhar commented on #9138
I will also check this problem in final 3.2. :)

[2014-11-24 06:38] chengstory commented on #9065
@pipu Please take a look.

[2014-11-24 06:45] minggo opened #9206 "Fast TMX may cause black screen on some Android devices"
Engine version: v3.2
Devices that have the issue:
- huawei G750-T01
- Lenovo A316

How to reproduce: just run corresponding test case in test-cpp.

[2014-11-24 06:47] dumganhar commented on #8988
@sappho192 , thanks for your feedback.
Yes, desktop platforms need to distinguish `left control key` and `right control key`.
What i'm thinking about is how to make compatibility with the old design? I mean we have `KeyCode::KEY_SHIFT`, if we add `KeyCode::KEY_LEFT_SHIFT` and `KeyCode::KEY_RIGHT_SHIFT`, should we dispatch `KEY_SHIFT` event?

[2014-11-24 06:51] dumganhar commented on #8984
@FlyingFishBird, thanks for reminding this. I will remove the unused codes. :)

[2014-11-24 06:53] liam commented on #8713
Wrong Liam

On Monday, 24 November 2014, cheng.zhang notifications@github.com wrote:

[2014-11-24 06:54] dumganhar commented on #9138
Hi all, I have checked the issue by using final3.2 version. Yep, the issue did exist. But I could not reproduce it by the latest codes on github. It seems to be fixed. :)
Could someone who got the problem also test it by the latest code on github? Thanks.

[2014-11-24 07:26] dumganhar commented on #8984
Fixed it at #9207, Thanks.

[2014-11-24 07:33] dumganhar commented on #8716
@wildbunny, thanks for your feedback. I will check this issue.

[2014-11-24 07:59] WenhaiLin commented on #9016
@rny Fixed at https://github.com/cocos2d/cocos2d-x/pull/9212 .Thanks

[2014-11-24 08:36] minhtoantm commented on #9138
Hi @dumganhar: can you check it again? I'm get lastest code from githup, and build ccp-tests, but the issue did exist.
I'm using Nexus 5 android 5.0 ( not emulator)

[2014-11-24 08:39] dumganhar commented on #8716
Hi @wildbunny, could you please paste some codes for how to reproduce this issue? Thanks.

[2014-11-24 08:51] samuele3hu commented on #8937
This modification is requested by the Cocos IDE to guarantee the writable path of release and debug the same.In this mechanism,the UserDefault.xml is not in the debug build dir.You could trace the code to get the detail of path.I have been tried in the debug condition, i could read/write the UserDefault.xml.

[2014-11-24 08:52] dumganhar commented on #9138
@minhtoantm , it's really strange. We're using the same android device but the result is different.
What's the ndk version you're using? I'm using ndk-r10c.

[2014-11-24 08:57] minhtoantm commented on #9138
@dumganhar : Sorry, I'm using ndk 9c, I will build again now.

[2014-11-24 08:59] liamcindy opened #9214 "层容器裁切问题"
层容器的裁切后，显示少裁切一个像素
![qq 20141027140223](https://cloud.githubusercontent.com/assets/2688189/5162520/2dadf4d0-73fb-11e4-887b-78eb4f4e99a4.png)

[2014-11-24 09:32] minhtoantm commented on #9138
@dumganhar : When I use ndk-r10c to build, this issue is fixed.
Can you release cocos2d-x v3.3 final? Because using lastest code from github is not stable.

[2014-11-24 09:34] aeonmine commented on #9114
this line also had a problem

NDK_TOOLCHAIN_VERSION=clang
->
NDK_TOOLCHAIN_VERSION=4.8

[2014-11-24 09:36] aeonmine commented on #9138
I works fine httpclient in v3.3rc0

this is my android.MK

   NDK_TOOLCHAIN_VERSION=4.8
         APP_STL := gnustl_static
         APP_CPPFLAGS := -frtti -DCOCOS2D_DEBUG=1 -DCC_ENABLE_CHIPMUNK_INTEGRATION=1 -std=c++11 -fsigned-char
         APP_CPPFLAGS += -fexceptions

you can try this

[2014-11-24 09:43] dumganhar commented on #9138
@minhtoantm, thanks for testing.

So it was fixed by using the latest codes on github and using ndk-r10c, right?

We're preparing 3.3rc1 this week, if without any problems, 3.3 final will be released at next weekend. :)

@aeonmine , what's difference of your workaround? Did you find the real reason of this issue? Thanks.

[2014-11-24 09:56] minhtoantm commented on #9138
@dumganhar : yes, when I use ndk-r10c with lastest code in github this issue is fixed.
I'm wating 3.3 final from you.
Thanks a lot.

[2014-11-24 10:03] zilongshanren commented on #9120
@huangliu

Could you please give me more information about this issue?
Some code snippets would be great. :)

Thanks.

[2014-11-24 10:04] dumganhar commented on #8716
Hi @wildbunny , the `runningIsTransition` flag is used for identify whether current running scene is a transition scene. If it is, `Director::setNextScene` is invoked from

[code]

In this way, the onEnter of next scene should be called before the transition started.
I don't know why it doesn't work for you. If you could tell us how you're using transition, it will be more helpful for us to find o

[2014-11-24 10:16] wildbunny commented on #8716
Hi there,

The problem is that if you are changing scenes inside the
onEnterTransitionDidFinish, or onEnter callbacks,
then Director::setNextScene() will not call those callbacks if the
runningIsTransition flag is set. So if the current scene is a transition,
and the next scene is not, those important callbacks never get called.

Cheers, Paul.

On 24 November 2014 at 10:04, James Chen notification

[2014-11-24 10:34] dumganhar commented on #8716
Hey @wildbunny , thanks for your reply.
I will try to reproduce this issue in your way.
But for workaround, I think you could use a schedule in `onEnter` or `onEnterTransitionDidFinish`.
And in the schedule callback, do the `replaceScene` stuff.

[2014-11-24 10:37] wildbunny commented on #8716
Hi James,

Thanks for the advice - for my use case, I actually edited the
CCDirector::setNextScene() function like this:

 if (/*(! runningIsTransition) && */_runningScene)
    {
        _runningScene->onEnter();
        _runningScene->onEnterTransitionDidFinish();
    }

which has had no ill effects so far :)

On 24 November 2014 at 10:34, James Chen notifications@github.com wrote:

##

Paul Firt

[2014-11-24 10:48] #8984 closed, assigned to dumganhar

[2014-11-24 11:09] minggo commented on #9162
I don't think it is a bug.
Can not change opacity and color for a tile map.

[2014-11-24 11:09] minggo commented on #9162
@ricardoquesada
What's your opinion?

[2014-11-24 14:34] zilongshanren commented on #9214
怎么重现这个问题？有相关做代码片断吗？

How to reproduce this issue?  Could you give me some code snippets?

Thanks.

[2014-11-24 17:02] nilium opened #9220 "Compilation error — missing flatbuffers module?"
Not sure if this is an issue on my end or an issue with Cocos2D-x not supplying
dependencies or that I need to build a library from source or what, but doing a
`cocos compile` no longer works (for both iOS and Android). They both fail due
to a missing flatbuffers module (in iOS's case, it reports the files can't be
found, in Android's case it reports the module can't be found [see below]).

The fo

[2014-11-25 01:34] zilongshanren commented on #9086
@davidboya
I'm not sure whether your development environment is wrong or not.
I have tested on my Xiaomi Android phone(Android version is 4.4.4) and it works well.

I will try to test the cpp-test on Samsung Galaxy S4.
Thanks.

[2014-11-25 01:35] dumganhar commented on #8716
+@ricardoquesada , is it reasonable to do a `replaceScene` operation in `onEnter`, `onEnterTransitionDidFinish`, `onExit` or `onExitTransitionDidStart`?

[2014-11-25 02:25] ghost commented on #9206
V3.2 have the same problem on Huawei G750-T20, but v3.3 works well on this device.

[2014-11-25 02:33] Virenz commented on #9138
@aeonmine , can you tell me why you so set MK file?

[2014-11-25 02:37] jonigata commented on #8713
I read the source codes because our designer says that he thinks CocoStudio's behavior is expected one, and I found the code which specialize "Panel(Layout)" in here( https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/editor-support/cocostudio/CCSGUIReader.cpp#L1508 ). When I try removing this line, expected behavior was shown.
For what is this condition?

[2014-11-25 02:37] zilongshanren commented on #8873
@pipu
Hi, could you please test the latest version from the Github.
I think this issue is solve here https://github.com/cocos2d/cocos2d-x/pull/9057

[2014-11-25 02:40] zilongshanren commented on #8991
@miguel12345 @Almax27
Thanks.
This issue was solved at https://github.com/cocos2d/cocos2d-x/pull/9052

Please check the latest code from Github. I think it is solved now.

[2014-11-25 03:18] WenhaiLin commented on #9116
@aeonmine I can't reproduce this issue by your codes.I used the latest codes on github.

[2014-11-25 03:31] zilongshanren commented on #9120
@huangliu
I have tested this issue and added a sprite to a scrollView, then add the scrollView to the scene.

It works very well, no crash. Please help me to confirm this issue?

Thanks.

[2014-11-25 03:36] zilongshanren opened #9226 "[Mac] EditBox placeholder text not disappeared when inputing starts"
The EditBox's placeholder text don't disappear when text inputing starts.
![qq20141125-1](https://cloud.githubusercontent.com/assets/785541/5177618/3ca93c5a-7497-11e4-90d0-46622b293f94.png)

[2014-11-25 03:41] huangliu commented on #9120
@andyque
Not add a sprite to the scrollView, instead of add a sprite to the scrollView's parent node, and in front of the scrollView, maybe set scrollView's color too.My thinkpad X200 crash on LayerColor::onDraw() function, when call glDrawArrays function inside.

[2014-11-25 05:42] zilongshanren opened #9227 "Feature request: PageView::JumpToPage"
Many developers need this feature, the original `scrollToPage` is not good enough.

We might need to add this feature in the next release.

[2014-11-25 06:02] minggo commented on #9206
It is fixed in latest code.

[2014-11-25 06:02] #9206 closed, assigned to nobody

[2014-11-25 06:06] WenhaiLin commented on #9114
This issue is cause by 'sscanf' function. The specific reasons is unclear

[2014-11-25 07:05] WenhaiLin commented on #9114
This issue should be fixed in NDK r10c. For more information : https://code.google.com/p/android/issues/detail?id=77988

[2014-11-25 07:11] ghost commented on #9206
For Engine V3.2, can modify the code as bellow to fix the problem(base on v3.2's code):
CCFastTMXLayer.h:
246      `std::vector<int>  _indices;`   -->    `std::vector<GLushort>  _indices;`

CCFastTMXLayer.cpp:
192      `glDrawElements(GL_TRIANGLES, (GLsizei)count * 6, GL_UNSIGNED_INT, (GLvoid*)(offset * 6 * sizeof(int)));`  -->
           `glDrawElements(GL_TRIANGLES, (GLsizei)count * 6, GL_UNSIGN

[2014-11-25 07:55] zilongshanren commented on #9136
@volzhs
Thanks, Could you please send PR?

[2014-11-25 07:58] ombug commented on #8915
@lpcdma are you successed in NDK10 !

[2014-11-25 08:11] lokukuol commented on #9138
@dumganhar
Can you tell how to compile with ndk-r10c and cocos2dx 3.3rc0 success?
I had try the http://www.cocos2d-x.org/news/307,but still have errors.

[2014-11-25 08:15] dumganhar commented on #9138
@lokukuol , what kinds of error you met?

[2014-11-25 08:50] lokukuol commented on #9138
@dumganhar,hi,I send the errors log to your email.

[2014-11-25 08:53] volzhs commented on #9136
I sent PR for this.
https://github.com/cocos2d/cocos2d-x/pull/9230

[2014-11-25 08:55] miguel12345 commented on #8991
Checked latest code from Github and I can confirm that the crash no longer happens.

[2014-11-25 08:55] #8991 closed, assigned to zilongshanren

[2014-11-25 09:20] ombug commented on #9138
@dumganhar  i'm NDKr10c and cocos2dx3.2rc, but complie lua fail
i have referenced the http://cocos2d-x.org/news/307
following the error

C:\cocos2d-x-client\frameworks\runtime-src\proj.android../../cocos2d-x/external/curl/prebuilt/android/armeabi/libcurl.a(sha512-armv4.o): requires unsupported dynamic reloc R_ARM_REL32; recompile with -fPIC
C:\cocos2d-x-client\frameworks\runtime-src\proj.android..

[2014-11-25 09:28] dumganhar commented on #9138
+@samuele3hu
+@andyque
Please help to check the problem @ombug met. Thanks.

[2014-11-25 09:35] lokukuol commented on #9138
D:\developer\cocos2d-x-3.3rc0\external/lua/luajit/prebuilt/android/armeabi/libluajit.a(lib_base.o):lib_base.c:function lj_cf_print: error: undefined reference to '__swbuf'
D:\developer\cocos2d-x-3.3rc0\external/lua/luajit/prebuilt/android/armeabi/libluajit.a(lib_base.o):lib_base.c:function lj_cf_print: error: undefined reference to '__swbuf'
D:\developer\cocos2d-x-3.3rc0\external/lua/luajit/prebui

[2014-11-25 09:42] hongliang-goudou opened #9231 "3.3rc0 MI 3: OpenGL error 0x0505 UILayout.cpp onBeforeVisitStencil 338"
It seems like a duplicate of #9036 , but my code is the newest from github. These logs are from XIAOMI 3:

[code]

This bug occured from no reason and no where. It suddenly just appeared and the device screen would keep blinking forever. No user interactions can be made. The user has to kill the application manually.

[2014-11-25 09:51] samuele3hu commented on #8900
I have been updated the newest cocos2d-x submodule, and modify the related android configure to support `cocos run` command and remove the `build_native.py`. At the same time,update the CMakeLists.txt for Linux.The pr is in https://github.com/cocos2d/cocos2d-x-samples/pull/34. When release the rc1, i  will check it again.

[2014-11-25 10:13] WenhaiLin commented on #9138
@lokukuol You should rebuild luajit. For more information: http://discuss.cocos2d-x.org/t/build-android-base-on-ndk-r10c/18543

[2014-11-25 10:13] wildbunny commented on #8716
@dumganhar How else are we expected to chain sequences of transitions together?

At the very least, the code should CCASERT that a replaceScene has not occurred in a callback in which it is forbidden?

[2014-11-25 10:22] dumganhar commented on #8716
@wildbunny , so you're chaining sequences of transitions by running another transition scene in

[code]

?
Yep, I think doing `replaceScene` in onEnterTransitionDidFinish is reasonable. :)
We need to investigate and find a better solution. :) Thanks.

[2014-11-25 10:25] wildbunny commented on #8716
Indeed! There appears to be no other clean way to chain transitions
together that I could find :)

On 25 November 2014 at 10:23, James Chen notifications@github.com wrote:

##

Paul Firth
http://www.wildbunny.co.uk/blog
http://twitter.com/paul_m_firth

[2014-11-25 11:08] ghost commented on #9175
@jonyrock
I can't get your idea clear, can you give me more information about it?

[2014-11-25 11:36] ombug commented on #9138
I compile lua is success  with ndk r10b and cocos2dx 3.2rc0  , but httpclient is not work.
Is must use lastest code and nkd r10c ?

[2014-11-25 11:57] shrimpz opened #9232 "in Current Develop Version, can't fire EVENT_RENDERER_RECREATED event on Android!!!!"
in cocos\platform\android\javaactivity.cpp

void Java_org_cocos2dx_lib_Cocos2dxRenderer_nativeInit(JNIEnv\*  env, jobject thiz, jint w, jint h)
{
    auto director = cocos2d::Director::getInstance();
    auto glview = director->getOpenGLView();
    if (!glview)
    {
        glview = cocos2d::GLViewImpl::create("Android app");
        glview->setFrameSize(w, h);
        director->setOpenGLView(glv

[2014-11-25 13:07] jonyrock commented on #9175
@huangshiwu
can you reproduce the bug?

[2014-11-25 13:16] ghost commented on #9175
@jonyrock
I use your code and i don't know what you mean artifact, set the eps to 0.1 is strange, you just want to test the method's limit？

[2014-11-25 14:27] jonyrock commented on #9175
@huangshiwu
Nope. Actually it is a problem for me. I have a game where I need to draw such tight rects. My `drawRect` procedure look like this.

[code]

[2014-11-25 15:52] sappho192 commented on #8988
I agree with make compatibility, but don't understand what "dispatch KEY_SHIFT event" exactly mean. Are you saying should we leave KeyCode::KEY_SHIFT for compatibility issue? Then, I think yes. How about regard KEY_SHIFT as KEY_LEFT_SHIFT(because most think Shift as Left Shift) and mark KEY_SHIFT as deprecated? Then people wil fix if they need to do it.

![image](https://cloud.githubusercontent.co

[2014-11-25 18:37] ghost commented on #9175
@jonyrock
When the angle is too small, the offset will be very big, so may be you can try the workaround as below:add the code in CCDrawNode.cpp
776   `offset = (offset.x*offset.x+offset.y*offset.y) > 4 ? v2fmult(v2fnormalize(offset), sqrt(4)) : offset;//you can try to change 4 to other number to get better result`
Help me to test it and let me know if it works as you want, thank you!

[2014-11-25 18:59] nilium commented on #9220
Looks like this is fixed now.

[2014-11-25 18:59] #9220 closed, assigned to nobody

[2014-11-26 02:52] WenhaiLin commented on #9138
@ombug I think you only need use ndk r10c.

[2014-11-26 03:19] dumganhar commented on #8988
@sappho192 , I sent a PR #9241 for fix this issue. Could you take a look? Thanks.

[2014-11-26 03:22] ricardoquesada commented on #9162
it could be a minor bug I guess. I think Tiled allows you set the opacity of the maps (although I could be wrong). If so, then looks like a bug since users might expect to set the opacity programmatically as well.

But for sure this should not be fixed for v3.3rc1. All the tilemap fixes and improvements must be fixed for v3.4.

[2014-11-26 03:40] minggo commented on #9162
Yep, Tiled allows to set opacity and color.

I have removed the version.

[2014-11-26 03:43] #8937 closed, assigned to samuele3hu

[2014-11-26 03:44] #8797 closed, assigned to samuele3hu

[2014-11-26 03:49] WenhaiLin commented on #8789
Done.https://github.com/cocos2d/cocos2d-x/pull/9210

[2014-11-26 03:52] #9016 closed, assigned to WenhaiLin

[2014-11-26 04:52] instantaphex opened #9243 "PhysicsSprite doesn't move with B2Body when using Follow action"
I'm using Box2d and using the Follow action so that my layer will follow a physics sprite.  Here is my follow code:

`this->runAction(Follow::create(guy, Rect(0, 0, Director::getInstance()->getWinSize().width * 2, Director::getInstance()->getWinSize().height)));`

guy is a standard physics sprite.  When the PhysicsSprite moves to the end of the Rect, the actual sprite keeps moving and the actual B

[2014-11-26 04:53] jonyrock commented on #9175
@huangshiwu it is working perfect now. Thank you!

[2014-11-26 05:42] #9138 closed, assigned to dumganhar

[2014-11-26 05:58] zilongshanren opened #9245 "Load CocosStudio Json file many times makes game slow"
when adding some UIText into the Studio UI interface and replace scene many times, the loading time would increase.

We should test this issue on Android device to verify it.

[2014-11-26 06:38] araratispiroglu commented on #8917
@minggo Here I uploaded video showing step by step. You must download the video for watch in HD quality http://1drv.ms/1uUYcZY

[2014-11-26 07:11] sappho192 commented on #8988
It's a little bit hard to understand the codes in line 664~697 of CCGLViewImpl-desktop.cpp. Does this codes separate Left events and Right events? Then, I think you did a great job! Thanks!

[2014-11-26 07:15] dumganhar commented on #8988
Yes. New enums have been added. If there are left or right CONTROL event, the original CONTROL without `left` and `right` will also be triggered for compatibility.

[2014-11-26 07:19] sappho192 commented on #8988
Hmm...Then actually 2 events are triggered, right?

[2014-11-26 07:25] dumganhar commented on #8988
Yes, is there any problem of this ? Developer will never focus on `KEY_LEFT_SHIFT` and `KEY_SHIFT` at the same time.

[2014-11-26 07:27] ombug commented on #9138
Yes, i compile success with NDK r10c , but Lua is different from C++, follow my steps
1: referenced http://cocos2d-x.org/news/307
2: referenced http://discuss.cocos2d-x.org/t/build-android-base-on-ndk-r10c/18543
3: use cocos2d-x-2.1.5\cocos2dx\platform\third_party\android\prebuilt\libcurl\libs\armeabi\libcurl.a to replace ，I use the lastest code to replace the curl is not work

[2014-11-26 07:29] zilongshanren commented on #8665
@pipu
This issue was fixed at https://github.com/cocos2d/cocos2d-x/pull/9248

Please verify it, thanks.

[2014-11-26 07:49] sappho192 commented on #8988
I'm making rhythm game using cocos2d-x, and there will be a judgement for double input of shift key..

[2014-11-26 08:07] dumganhar commented on #8988
What do you mean of `a judgement for double input`? Could you paste some pseudo codes?

[2014-11-26 08:09] ghost commented on #9175
@jonyrock
Have you try another number instead of 4? What number are you using for your game?

[2014-11-26 08:40] minggo commented on #9138
I think you should use latest libcurl.a here: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin.

[2014-11-26 08:44] wcjscm opened #9251 "ubuntu14.04 make error, linux platform not found glfw3.h"
Linking CXX executable ../../bin/cpp-empty-test/cpp-empty-test
../../lib/libcocos2d.a(CCGLViewImpl-desktop.cpp.o): In function `cocos2d::GLViewImpl::GLViewImpl()':
/home/ubuntu/cocos2d-x/cocos2d-x/cocos/platform/desktop/CCGLViewImpl-desktop.cpp:287: undefined reference to`glfwSetErrorCallback'
../../lib/libcocos2d.a(CCGLViewImpl-desktop.cpp.o): In function `cocos2d::GLViewImpl::initWithRect(std::s

[2014-11-26 08:58] zilongshanren commented on #9251
Have you  run `build/install-deps-linux.sh` on your machine?

[2014-11-26 09:04] zilongshanren commented on #9251
My virtual machine is also ubuntu 14.04 and it's working.

[2014-11-26 09:10] wcjscm commented on #9251
I've been running build/install-deps-linux.sh

[2014-11-26 09:17] zilongshanren commented on #9251
try this patch please: https://github.com/cocos2d/cocos2d-x/pull/9250

[2014-11-26 09:18] zilongshanren commented on #9251
And please change your issue title and content to English. It would be friendly to other developers.

[2014-11-26 09:33] wcjscm commented on #9251
thanks

[2014-11-26 11:35] liamcindy opened #9254 "一些第三方的TTF字体，加载以后返回的尺寸和渲染有差别"
比如：Willowheart.ttf

![1](https://cloud.githubusercontent.com/assets/2688189/5200692/63154f7a-75a3-11e4-888f-f279ba0e10dd.jpg)

[2014-11-26 11:36] jonyrock commented on #9175
@huangshiwu Sorry, I've got confused. Artifact disappeared but I'm not sure whether it is drew right. Should the border be inside of the polygon?
btw,  the reason I draw border is some kind of anti aliasing.

[2014-11-26 11:36] WenhaiLin commented on #8964
Hi all,  i can't reproduce this issue  base on the latest codes on github.
Tested device : ASUS K011
Android Version: 4.4.2
NDK version:r10c

[2014-11-26 11:40] liamcindy commented on #9254
![20141003_194012](https://cloud.githubusercontent.com/assets/2688189/5200746/2060c4f6-75a4-11e4-9d6b-7b592f94f15d.jpg)

[2014-11-26 11:49] ghost commented on #9175
@jonyrock
The drawPolygon method draw the border upside of the edge of the polygon, and you should set the border color's alpha value to see how it draw.

[2014-11-26 12:49] dumganhar commented on #8809
When I tested it on Ubuntu 32bit with QTCreator, I didn't see the crash. :(
But I think it's a potential issue. :)

[2014-11-26 13:25] dumganhar commented on #9232
@minggo , please check this issue. If it does exist, we should fix it in 3.3rc1. :)

[2014-11-26 13:48] minggo commented on #9232
This event is fired only GL context is lost.
We have checked it, there is not problem:
- select `don't keep activity` in setting
- run test-cpp, enter any test case
- click `HOME` button
- re-enter the app, and it will show the test case

[2014-11-26 13:59] shrimpz commented on #9232
ok, fired EVENT_RENDERER_RECREATED

I will PR a patch for another crashed in android.
this "issue“ is found for write testcase for another crash bug.

now, this EVENT is fired, i will write testcase go on..

i'm sorry that i weak in english.

[2014-11-26 14:00] shrimpz commented on #9232
other PR, will commit in next day.....

[2014-11-26 14:01] minggo commented on #9232
Your english is good.
At least i can understand it.

Can i close this issue?

[2014-11-26 14:02] shrimpz commented on #9232
ok, close

[2014-11-26 14:02] #9232 closed, assigned to nobody

[2014-11-26 14:06] shrimpz opened #9255 "label crashed in android."
this issue will fix by me.
i need an issue code for write testcase.

:{

[2014-11-27 00:41] travnick opened #9259 "cocos2d::Label crash addChild with relative layout"
cocos2d::Label *label = cocos2d::Label::createWithBMFont(...);

widget->addChild(label); // it crashes if widget is panel with relative layout

[2014-11-27 01:57] #8665 closed, assigned to zilongshanren

[2014-11-27 02:04] pandamicro opened #9262 "Link fail on iOS5 caused by NSParagraphStyleAttributeName usage in CCDevice-ios.mm"
NSParagraphStyleAttributeName is only supported from iOS 6
Related Issue: https://github.com/cocos2d/cocos2d-html5/issues/2472

[2014-11-27 03:17] shrimpz commented on #9255
[code]

switch home & switch back, crashed

[2014-11-27 03:18] jiyucn commented on #9138
@minggo

I tried to resolve this android 5.0 libcurl issue on our game (Our game is based on cocos 3.2 final release)

I use NDK r9d to build the game and replace libcurl with in your link https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin. But libcurl still fails to work on Android 5.0.

Am I missing something?

[2014-11-27 03:26] redism commented on #9138
I could solve this issue by using latest github cocos2dx + ndk r10c (64bit). But newly compiled binary does not work on Android < 5 devices.
(Because of this issue : https://code.google.com/p/android-developer-preview/issues/detail?id=168 )

It may or may not be related to cocos2d-x. I'm looking into this problem now.

[2014-11-27 03:29] #8789 closed, assigned to WenhaiLin

[2014-11-27 04:08] ghost opened #9268 "CCControlSwitch::create without labels will crash"
CCControlSwitch's internal methods assign a nullptr to Label\* onLabel, Label\* offLabel, which will crash when trying to add to the ClippingNode on line 196

[code]

[2014-11-27 04:49] #8964 closed, assigned to nobody

[2014-11-27 04:50] #8142 closed, assigned to samuele3hu

[2014-11-27 04:51] minggo commented on #8988
We fire both key just to keep compatibility.

[2014-11-27 04:52] #9116 closed, assigned to WenhaiLin

[2014-11-27 04:52] #9114 closed, assigned to WenhaiLin

[2014-11-27 04:52] #8874 closed, assigned to WenhaiLin

[2014-11-27 05:50] #8873 closed, assigned to zilongshanren

[2014-11-27 05:57] redism commented on #9138
For anyone who is still stuck, these are steps I successfully resolved this issue, both on Android-5 device and Android<5 devices.
- changed cocos2d-x to the latest version on github
- changed ndk to r10c (64 bit)
- set target=android-20 (proj.android/project.properties)
- added APP_PLATFORM := android-9 (proj.android/jni/Application.mk)

[2014-11-27 06:13] WenhaiLin commented on #9138
@redism Thank you.Whether  you use gnustl_static + gcc4.9  for build project ? I will check again.

[2014-11-27 06:45] jiyucn commented on #9138
Fixed.
1. Cocos2d-x 3.2 final release.
2. Build based on android ndk r10c.
3. Using the lasted liburl from https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin

Thanks you guys.

[2014-11-27 06:47] redism commented on #9138
@Dhilan007 These are Application.mk settings I used.

APP_STL := c++_static
NDK_TOOLCHAIN_VERSION := clang

APP_CPPFLAGS := -frtti -DCC_ENABLE_CHIPMUNK_INTEGRATION=1 -std=c++11 -fsigned-char -DCOCOS2D_DEBUG=1
APP_LDFLAGS := -latomic

LIBCXX_FORCE_REBUILD := true
APP_ABI := armeabi-v7a
APP_PLATFORM := android-9

[2014-11-27 07:17] vovkasm commented on #9251
@wcjscm, see [this forum post](http://discuss.cocos2d-x.org/t/cmake-for-mac-qtcreator-and-clion/16889/108)
In short: check what exactly packages installed on you system `dpkg --get-selections | grep glfw`, if you see `libglfw-dev` or `libglfw2` that it may cause problems. Simply deinstall them. You should have `libglfw3` and `libglfw3-dev` installed.
We will add correct checks that shows problem e

[2014-11-27 07:35] starwing opened #9269 "Sprite::setTexture当文件不存在的时候会crash"
[code]

当texture不存在的时候，texture->getContentSize()访问空指针了。

这地方得加个判断

[2014-11-27 08:23] ghost commented on #8519
about WP8:  cocos2d-x for WP8 now needs to draw at the lower resolution to maintain the frame rate so it is best to leave it there.  A newer faster version of ANGLE that might be able to support the higher resolutions is being developed.
about Android: I have test several android devices in v3.2 and all get correct value(include an device with unusual resolution 1080*1800), and we now don't have o

[2014-11-27 08:38] miguel12345 commented on #9120
He mentioned having set the scrollView's color and crashing on glDrawArrays, most likely its this issue

https://github.com/cocos2d/cocos2d-x/issues/8991

that was already solved. @huangliu Could you download the latest version from repo and confirm if the crash still happens?

[2014-11-27 09:02] sxd1140 opened #9272 "请问能提供一下mozjs-28的pdb么"
崩溃在这里了 ![1](https://cloud.githubusercontent.com/assets/541212/5214431/0bb56c74-7657-11e4-90a1-63a88c53c47d.png)

能提供下pdb文件看下么

[2014-11-27 09:11] dabingnn commented on #9175
@jonyrock
Thanks for you report. I found that the `drawPolygon()` function has a intrinsic bug as you proposed. Here is my suggestion:
1. fix bug if border width is 0 in this version.
2. Deprecate this method, and add a new pure `drawPolygon()` with parameters(vertices, count, color, fillmode), in the next version.

For your situation, could you please tell us what effect do you want to do, and we

[2014-11-27 10:26] sappho192 commented on #8988
@dumganhar didn't make code yet, but I can explain.
![image](https://cloud.githubusercontent.com/assets/7788738/5215342/b51144ac-7669-11e4-835f-762e7d8403c7.png)
In this image, user will press a key which corresponds to Scratch(leftmost or rightmost red note) soon. In general the red note will removed by pressing Left Shift(for 1P player) or Right Shift(for 2P player).
Like your solution, KEY_LEFT

[2014-11-27 11:44] WenhaiLin opened #9277 "'PerformanceSprite Test' does not work correctly on Window[lua tests]"
error:
     cc.Texture2D:setDefaultAlphaPixelFormat argument 2 is 'nil'; 'number' expected.

[LUA ERROR] [string ".\PerformanceTest/PerformanceTest.lua"]:1249: invalid arguments in function 'lua_cocos2dx_Texture2D_setDefaultAlphaPixelFormat'

[2014-11-27 12:39] wcjscm commented on #9251
Thank you for your help, This problem has solved
run:
sudo apt-get --purge remove libglfw-dev  libglfw2
and
sudo cocos2d-x/tools/travis-scripts/install_glfw.sh

[2014-11-27 12:46] #9251 closed, assigned to nobody

[2014-11-27 12:52] minggo commented on #8988
@sappho192
I think it will have problem if the application response KEY_SHIFT and KEY_LEFT_SHIFT.
In your sample, the app should only response KEY_LEFT_SHIFT, it will not response KEY_SHIFT.
Right?

[2014-11-27 14:01] #9038 closed, assigned to nobody

[2014-11-27 14:17] stammen opened #9293 "cocos console cannot generate cpp projects from template"
The most recent version of cocos console in the v3 branch cannot generate a project using the cpp template. My computer is using Windows 8.1

[code]

[2014-11-27 19:39] ricardoquesada commented on #9293
fixed. thanks.

[code]

[2014-11-27 19:39] #9293 closed, assigned to nobody

[2014-11-27 20:21] KrissMu commented on #8964
For information, I've updated to NDK r10c and I'm still facing the issue: works with "-U__SSE__", does not work without.

[2014-11-28 02:19] #9269 closed, assigned to nobody

[2014-11-28 04:01] samuele3hu commented on #9277
Fix this error at https://github.com/cocos2d/cocos2d-x/pull/9302, please check it.

[2014-11-28 04:47] jonyrock opened #9303 "ClipingNode + CameraFlag::USER2"
Hi.

[code]

where `class TestScene : public cocos2d::Scene`
## with initClipingTestCamera();

![selection_071](https://cloud.githubusercontent.com/assets/1022757/5223770/88445a22-76d2-11e4-8b4a-2a93f9127a34.png)
## without initClipingTestCamera();

![selection_070](https://cloud.githubusercontent.com/assets/1022757/5223771/8845d35c-76d2-11e4-8d6d-b74338e3b502.png)

I supposed that the second case

[2014-11-28 05:13] jonyrock commented on #9303
And the most funny thing that we can fix it with this line

[code]

So bug is not to set camera flag to stencil.

[2014-11-28 06:18] stammen commented on #9293
- tools/cocos2d-console/bin/cocos new MyGame -p com.your_company.mygame -l cpp -d projects
  Running command: new
  Traceback (most recent call last):
  File "c:/Program Files (x86)/Jenkins/jobs/cocos2d-x-v3/workspace/tools/cocos2d-console/bin/cocos.py", line 740, in <module>
    run_plugin(command, argv, plugins)
  File "c:/Program Files (x86)/Jenkins/jobs/cocos2d-x-v3/workspace/tools/cocos2d-con

[2014-11-28 06:19] stammen commented on #9293
@ricardoquesada  @minggo

cocos console still does not work. Please reopen the issue

[2014-11-28 06:21] dabingnn commented on #9293
We have just fixed a cocos console bug in pull request: https://github.com/cocos2d/cocos2d-x/pull/9304
Could you please try it?

[2014-11-28 06:52] sappho192 commented on #8988
@minggo Exactly. So I said on above,

![image](https://cloud.githubusercontent.com/assets/7788738/5224397/c43fb4a6-7716-11e4-9491-c12d4504728f.png)
I think it can be done by same enumeration like above.

[2014-11-28 06:53] stammen commented on #9293
It works now on my computer and on our Jenkins build computer. Thanks!

[2014-11-28 07:32] zilongshanren commented on #9091
The scale9sprite was designed like this. So I think it's not a problem or at least, we shouldn't treat this behavior as an issue

[2014-11-28 08:24] puckery opened #9308 "UI系统启动裁剪后，裁剪部分仍参与渲染"
裁剪部分不显示，但是仍参与渲染，这是正常设定？？
比如在UIScrollView里添加200个精灵，Verts为2000，启用裁剪后仍然为2000

[2014-11-28 10:55] pcrazyc opened #9310 "Sprite3D 左右镜像与外发光错误"
当只出现左右镜像没有问题，当只使用Effect3DOutline也不会有问题，但当对角色做左右镜像后，再使用Effect3DOutline，就会出现外发光乱掉

[2014-11-29 04:54] minggo commented on #8988
@sappho192
I think it is better.

[2014-11-29 04:55] minggo commented on #8988
@Dhilan007
Could you please fix it？

[2014-11-29 08:25] guoyaxin opened #9313 "cocosIDE1.0.1 不提示cc.ui.UILabel"
IDE 只提示到 framework 层的提示，比如 framework 下的 cc.ui.UILabel 不提示

[2014-11-30 11:26] kosl90 opened #9319 "change python to python2"
this is an advice, I hope you guys to change python to python2 on all the shebang, this will be much more friendly to those poeple who use python3 as the major python interpreter. especially for unix like users.

[2014-12-01 01:37] dabingnn commented on #9204
@sbhhbs
This crash happened in function `LabelAtlas* ret = new (std::nothrow) LabelAtlas();` Could you tell us how to reproduce the crash?

[2014-12-01 01:39] garrettshearer opened #9320 "Building 8.1 Universal in VS 2013 Community and Express"
The following situation occurs on Windows 8.1, in both Visual Studio 2013 Express and Community.  After having pulled the latest source from Github, running `python download-dependencies.py` and `git submodule update --init`, and created the "HelloWorld" C++ skeleton project from the cocos console.

While trying to build the HelloWorld skeleton project for Windows 8.1 (Store), I keep running into

[2014-12-01 02:03] dabingnn commented on #9167
Hi, spine lib has been updated to https://github.com/EsotericSoftware/spine-runtimes/tree/2.0.18 in cocos2d-x 3.3 rc0.
I cannot find a github link for cocos2d-x 3.2, but according to the license link https://github.com/cocos2d/cocos2d-x/commit/5a96751a19abce547257b6443a4cbdde67028a22
version 1.1 is used.

BTW, the license of spine has been changed, please refer to
https://github.com/cocos2d/cocos2

[2014-12-01 02:03] #9167 closed, assigned to nobody

[2014-12-01 02:05] lvyile opened #9321 "win32上，AssetsManagerEx部分中的renameFile经常会失败。"
fclose()
            Sleep(300)  //加这句就OK了
            renameFile()  //win32 调的是MoveFileA()
        会不会是fclose与MoveFileA这两套文件系统用的不是同一套文件缓存方式。

[2014-12-01 02:11] ghost commented on #9231
@hongliang-goudou Does your project have the problem in 3.3rc0?  I have checked the 3.3rc1 cpptests' ui test cases on XIAOMI 3 and all work well for this problem seems to had been fixed in #9052
And if it still exist can you provide more code for me to reproduce your case?

[2014-12-01 02:26] dabingnn commented on #8901
Update:
Tests has been done on Iphone4S, Ipad4, some android and WP8 devices.
The performance test result link:
https://docs.google.com/spreadsheets/d/1XolpgYfoWszA2rxnVRCAVS7ILAGiV049o5mpL29cwLs/edit?pli=1#gid=1561044615

[2014-12-01 03:08] nishimoto-wao opened #9322 "I was able to build the cocos2d-x 2.2 in arm64 (Xcode 6.1)"
before:

[code]

 after:

[code]

[code]

 before:

[code]

 after:

[code]

 in the same way:

[code]

[code]

[code]

[2014-12-01 04:12] jminht opened #9323 "trouble with setUniformLocationWith4iv v3.1.1"
hi there, i've trouble using setUniformLocationWith4iv in lua, v3.1.1
i read the src code and found that the param (int\* )from lua didn't get any valua in c++.
lua_cocos2dx_auto.cpp  L:33046
https://gist.github.com/jminht/22452e9b01f4e1f91cf9#file-gistfile1-txt-L5

[2014-12-01 04:15] jminht commented on #9323
how can i paste the code from gist??

[2014-12-01 05:24] stammen commented on #9320
Did you rerun setup.py and restart your console before generating the game? I just pulled the latest code and was able to build the game generated by the console.

I am using Visual Studio 2013 Community Update 4

[2014-12-01 05:48] #8671 closed, assigned to zilongshanren

[2014-12-01 05:56] #8521 closed, assigned to zilongshanren

[2014-12-01 05:59] zilongshanren commented on #9136
@minggo
This issue should be closed now, since the PR is already merged.

[2014-12-01 06:04] minggo commented on #8653
@nocrim
It will be release on Dec.5.

So this issue can be closed?

[2014-12-01 06:14] garrettshearer commented on #9320
Yes I have reinstalled Cocos2d-x 3 times on my windows machine and two or three times on my mac.  Projects created from either installation won't build for me.  I also have reinstalled Visual Studio two or three times.

[2014-12-01 06:16] zilongshanren commented on #8653
@nocrim
Please confirm this issue with the later CocosStudio, thanks.

[2014-12-01 06:21] stammen commented on #9320
If the problem is the Windows Store build, are you sure you have Update 3 or 4? winsock api becomes enabled for Windows Store Apps only in Update 3 and higher.

If you are using Express, make sure you have Visual Studio Express 2013 with Update 4 for Windows installed and not just the Desktop version.

[2014-12-01 06:22] zilongshanren commented on #9120
@huangliu
I think @miguel12345  is right here, the issue was solved. Please help us to verify the latest code.
Thanks.

[2014-12-01 06:29] chenyan2009 commented on #9167
I see,
Thanks a lot.

At 2014-12-01 10:03:51, "Huabing.Xu" notifications@github.com wrote:

Hi, spine lib has been updated to https://github.com/EsotericSoftware/spine-runtimes/tree/2.0.18 in cocos2d-x 3.3 rc0.
I cannot find a github link before cocos2d-x rc0, but according to the license link 5a96751
version 1.1 is used.

BTW, the license of spine has been changed, please refer to
https://github.

[2014-12-01 06:29] zilongshanren commented on #8651
@Dhilan007
Please take a loot at this Label issue, thanks.

[2014-12-01 06:31] zilongshanren commented on #8798
@happyfire @samuele3hu
I think this issue has already solve in the latest code.
@minggo
we could close it now.

[2014-12-01 06:37] samuele3hu commented on #8798
Yes,it has already solved in the latest version.

[2014-12-01 06:38] huangliu commented on #9120
@miguel12345 @andyque Which version you solved it? The issue occur in cocos2d-js v3.1 which embedded cocos2d-x v3.3-rc0

[2014-12-01 06:48] zilongshanren commented on #9120
@huangliu
I think the latest cocos2d-x v3.3-rc1 has solved this issue.

[2014-12-01 07:04] ghost commented on #9175
#9285 modify the internal implementation of DrawNode::drawPolygon

[2014-12-01 07:09] zilongshanren commented on #8475
I can confirm this issue on cocos2d-x v3.3rc1. I will fix it later.

[2014-12-01 07:10] zilongshanren commented on #8978
@hanrea
Thanks for reporting this issue. I have tested it but I can't notice the differences.

Could you please upload some screenshot here?

[2014-12-01 07:12] zilongshanren commented on #9172
I'm trying to download the iOS SDK 7.1 and build cocos2d-x with it.
After that, I will test the app on any devices with SDK 8.0+.

[2014-12-01 07:28] dabingnn commented on #9200
@FernandoValverde Hi, there is a simpler way to run cocos2d tests
you just need to run two commands (after you have run `setup.py`)

`cocos new -l cpp` for cpp or `cocos new -l lua` for lua
then you can plug in your android device to computer, enter you project folder, run `cocos run -p android`

For more detailed information, you can ask questions in our forums.
http://forum.cocos2d-x.org
Thanks.

[2014-12-01 07:28] #9200 closed, assigned to nobody

[2014-12-01 07:49] #8410 closed, assigned to nobody

[2014-12-01 07:53] pandamicro commented on #8265
Issue out of date

[2014-12-01 07:54] #8265 closed, assigned to nobody

[2014-12-01 07:57] #8295 closed, assigned to nobody

[2014-12-01 08:03] dabingnn commented on #8239
Issue out of date.
The code is very different in current version.

[2014-12-01 08:03] #8239 closed, assigned to nobody

[2014-12-01 08:04] aeonmine commented on #9138
I tested android5.0(L) on cocos2dx_v3.2, it was works fine
and then when update to cocos2dx_v3.3 rc0. the BMFont and Httplicent will cause application freeze.

I just copy  cocos2dx_v3.2 application.mk to cocos2dx_v3.3 rc0 that both work fine.

Android L (5.0) use art and changed jni role

i will test cocos2dx_v3.3 to find the real reson.

thanks

[2014-12-01 08:10] dabingnn commented on #8334
Bug could not be reproduced.

[2014-12-01 08:10] #8334 closed, assigned to nobody

[2014-12-01 11:18] aeonmine opened #9328 "Child node refer anchorPoint not correct"
local image_01 = cc.Sprite:create("Default/ImageFile.png")
  local image_02 = cc.Sprite:create("Default/ImageFile.png")
  image_01:setAnchorPoint(cc.p(0.5,0.5))
  image_01:setPosition(200,200)
  image_02:setPosition(0,0)
  image_02:setAnchorPoint(cc.p(0.5,0.5))
  image_01:addChild(image_02)

image_02 always refer anchorPoint(0,0) of image_01

[2014-12-01 13:28] silwings opened #9329 "Renderer::render() seems to be called too earlier in Scene::render()"
Calling `Renderer::render()` right after `Scene::visit()` in `Scene::render()` may cause problem under below scenario:

Assuming we need to render all the scene graph into a `RenderTexture` for post processing or screen capturing. A common way would be register two `EventListener`, one for `EVENT_AFTER_UPDATE` and one for `EVENT_AFTER_VISIT`.

[code]

Then call `RenderTexture::begin` and `RenderTe

[2014-12-01 14:10] garrettshearer commented on #9320
I have Update 4.  The Windows machine is brand new.  The only things installed on it are Mercurial, Git, Python, and the three newest releases of VS 2012 and VS 2013.

I literally spent the entire weekend deleting everything, installing everything, creating a test project, and trying to get it to build.  Over and over and over again.  The Windows 8.1 builds are the only ones I can't get to work.

[2014-12-01 14:16] garrettshearer commented on #9320
I find it somewhat fishy that I'm working on a completely fresh machine, following instructions to the letter over and over, and it doesn't want to work.  Makes me suspect that it will NEVER build with a standard install of Cocos2d-X, VS, and Windows.

[2014-12-01 14:19] stammen commented on #9320
FYI: This weekend I built a core i7 computer from scratch, installed a fresh copy of Windows 8.1, installed git and python, installed VS 2013 Community with the Windows Phone 8 and Maintain WIndows Store Apps options selected, cloned the cocos2d-x repo and it built and ran immediately without any problems.

Does the wp8-xaml project build for you?

[2014-12-01 14:38] stammen commented on #9320
What do you mean by " three newest releases of VS 2012 and VS 2013"?

You only need Visual Studio 2013 Community to build everything.

[2014-12-01 14:47] garrettshearer commented on #9320
VS 2012 Express for building Cocos2d-JS projects because Spine and Box2d from that repo won't build in VS 2013 Express or Community.  And I also installed VS 2013 Express and Community.

From what you just said about doing a fresh build over the weekend makes me suspect there is another issue at play on my machine.  I will dig a little further and report back with my findings.  Thanks for the help

[2014-12-01 14:56] garrettshearer commented on #9320
Yes the wp8-xaml project built no problem.

[2014-12-01 14:58] garrettshearer commented on #9320
Out of curiosity, when installing Cocos2d-x on Windows, did you run the command line "As Administrator"?  I know I did not, and am wondering if somehow that has something to do with it.

[2014-12-01 15:44] garrettshearer commented on #9320
Reinstalling Cocos2d-X and creating a new project with the cocos-console, both running "As Administrator", did not make any difference.  So thats out.

[2014-12-01 15:51] garrettshearer commented on #9320
When I hold my cursor over `fd_set`, it reads off the error that `fd_set is undefined`.  However if I right-click on `#include <WinSock2.h>`, it shows me the header file which includes a definition of `fd_set`.  I can't figure out why the text-editor can find the header, but the compiler can't.

[2014-12-01 16:34] huangliu commented on #9120
@andyque
I tested the issue and it occur again with cocos2d-x v3.3-rc1. It hasn't been solved yet!

[2014-12-01 18:34] garrettshearer commented on #9320
@stammen, Thank you so much for your assistance.  I got it running.

For anyone else that runs into a similar issue, I re-ran the Visual Studio 2013 Community Installer.  However this time I did not uninstall Visual Studio before doing so.  Instead I ran the "Repair" option in the installer.  30 minutes and a restart later and the projects started building.

Thanks Again!

[2014-12-01 18:36] stammen commented on #9320
Thanks for the update. Uninstalling one version of Visual Studio can have side affects on other versions installed on your computer. I am glad you got it working!

[2014-12-02 00:27] zilongshanren commented on #9120
@huangliu
How do you test it？
could you paste some code here？and what platform do you use？

[2014-12-02 01:19] huangliu commented on #9120
@andyque
The code is very simple like this:
Node *node = CSLoader::createNode("test.csb");
this->addChild(node);

and my platform is windows 8.1, thinkpad X200.

[2014-12-02 01:59] samuele3hu opened #9331 "getBoolForKey of UserDefault would trigger crash on android platform"
If the value type is Integer,calling getBoolForKey of UserDefault would trigger crash on android platform.

[2014-12-02 02:13] samuele3hu commented on #9323
This setUniformLocationWith4iv was bound to lua by manual in the lua_coocos2dx_manual.cpp, you could refer to https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/lua-bindings/manual/cocos2d/lua_cocos2dx_manual.cpp L:3916.

[2014-12-02 03:25] MinotaurosLee opened #9333 "Label with some specific font is cropped"
![image](https://cloud.githubusercontent.com/assets/1762194/5257488/923054d8-7a14-11e4-9ab7-830b94ee5caf.png)
![image](https://cloud.githubusercontent.com/assets/1762194/5257496/b2bb8e52-7a14-11e4-8f89-a1b156ad48e5.png)
![image](https://cloud.githubusercontent.com/assets/1762194/5257506/c7fb45fa-7a14-11e4-9cbb-48d317a0b5d9.png)

Already tried #7770 and #7004
Font used: LiHei Pro.ttf, download : ht

[2014-12-02 03:37] minggo opened #9334 "Support iOS 64 bit"

[2014-12-02 03:43] Pythians opened #9335 "3.3rc1 setDesignResolutionSize 不能正常工作"
3.3 rc1 中  glview->setDesignResolutionSize( 640, 1136, ResolutionPolicy::FIXED_WIDTH );
在屏幕分辨率大于 640， 1136 的设备中有黑边
![ios simulator screen shot 2014 12 2 11 41 02](https://cloud.githubusercontent.com/assets/7250578/5257700/64fe7554-7a18-11e4-9baa-30a538f4ae79.png)

[2014-12-02 03:43] minggo opened #9336 "SimpleAudioEngine::sharedEngine()->playBackgroundMusic(); Crashes on Lollipop"
The same issue as #8962.

[2014-12-02 03:44] minggo opened #9337 "Lua support encryption"

[2014-12-02 03:49] minggo opened #9338 "Document about lua usage"
Should show developers how to develop lua applications.
Should mentioned:
- why choose lua/luajit together on iOS
- suggestion usage(lua/luajit + lua source code + encryption)

[2014-12-02 04:04] yangws opened #9339 "Spirte移动速度不平滑的时候，对象会抖动"
移动速度不平滑的时候，对象会抖动，在android平台也会。测试例中的代码以模拟的方式降帧率低来模拟掉帧的情况。

期望的结果是：
移动掉帧时可以卡但不应该抖动。

重现步骤：
运行测试例中的exe，点击右下角的按钮，图像从左到右的工程中会发现图像的抖动现象。按钮可以重复点。

引擎版本：3.3 rc0， 另外反馈 3.2 也有同样的问题。

测试例下载：http://pan.baidu.com/s/1nt9hLd3

[2014-12-02 04:56] #9320 closed, assigned to nobody

[2014-12-02 05:19] darkdukey commented on #9329
@dabingnn @super626 is there any reason we should call render separately with camera? multiple viewports?

[2014-12-02 05:38] WenhaiLin commented on #9334
Update 3rd-party-libs:  https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/67
SpiderMonkey: https://github.com/Dhilan007/Spidermonkey/tree/v22-x-226
 https://github.com/cocos2d/cocos2d-x/pull/9332

[2014-12-02 06:36] minggo commented on #9333
There is not the engine version: v3.11.
And please paste some pseudocode to help to reproduce it.

Thanks.

[2014-12-02 07:10] WenhaiLin commented on #9191
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9340

[2014-12-02 07:27] WenhaiLin commented on #9336
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9341

[2014-12-02 07:53] #9255 closed, assigned to nobody

[2014-12-02 08:37] zilongshanren opened #9342 "UI:EditBox setScale issue"
When call `setScale` method of UI::EditBox, the hints text display is wrong.

![xx](https://cloud.githubusercontent.com/assets/785541/5259816/734d9b48-7a41-11e4-928f-b8460edbc740.png)

[2014-12-02 11:25] ahmed-belal commented on #8508
@Dhilan007 Can you please guide me to the commit in which this issue is fixed? I am having LabelTTF turning to black boxes after switching to home screen and back on android, using v3.2.

[2014-12-02 11:51] takaaptech opened #9343 "when is cocos2dx support admob officially like facebook?"
I hope tutorials will coming soon!
Thank so much!

[2014-12-02 12:06] daneric opened #9344 "ANR on Nexus5 when use LabelBMPFont in cocos2dx3.3rc0"
Very simple code:
Label\* scoreLabel = Label::createWithBMFont("font.fnt", scores, TextHAlignment::CENTER);
    scoreLabel->setPosition(position);
    scoreLabel->runAction(Sequence::create(
        DelayTime::create(delay),
        FadeIn::create(1.0f),
        Spawn::create(
            ScaleTo::create(1.0f, 1.5f),
            MoveBy::create(1.0f, Vec2(0.0f, 50.0f)),
            Sequence::create

[2014-12-02 12:54] liamcindy opened #9345 "Mac版本文本渲染不一致的问题"
UIText输入文本为“TextLabel\n”的情况下，在MAC上边渲染效果不一致：

字体库为5.0版本的时候是正常的：
![1](https://cloud.githubusercontent.com/assets/2688189/5262834/3d5ece8e-7a65-11e4-86af-6b16662a0d45.jpg)

字体库为5.0.1版本的时候是不正常的：

![screenshot_1_1415781826_tmp339bd4ae](https://cloud.githubusercontent.com/assets/2688189/5262853/65c4c162-7a65-11e4-9724-c5dd43f7b893.png)

[2014-12-02 14:50] WenhaiLin commented on #9344
Please build cocos2d-x project base on NDK r10c on Android.

[2014-12-02 15:46] KenRogoway opened #9346 "arm64 support for 2.x tree"
Is there any chance of getting the arm64 support added to the 2.x tree?

[2014-12-02 18:59] sgleizes opened #9347 "cocos2d-x3.3rc0 UIEditBox crash"
What I know is this :
- The crash appears to come from UIEditBox since by removing it from the scene it works fine
- The crash occurs after the call to onEnter i.e. after Node construction.
- There is no log indicating an error source.
- I've been able to reproduce it on only two devices (out of ~50)

The devices have nothing in common:
- Tablet Samsung GT-P1000 running Android 4.0.4, cyanogen 9.1

[2014-12-03 02:07] super626 commented on #9329
@silwings and @darkdukey
Thanks.

The camera has effect on the render texture. I am thinking better way to use render texture.

The reason we call `Renderer::render()` early is that one object can be seen by many cameras, these cameras can have same viewport or different viewports.
Because the render command we push during visit is pointer, we should render it after single visit routine. It may be

[2014-12-03 02:29] jminht commented on #9323
@samuele3hu Got it, thank you!But what's the lua_cocos2dx_auto used for?Or which one should I treat as the REAL lua-binding code?

[2014-12-03 02:44] dabingnn commented on #8251
issue has been resolved

[2014-12-03 02:44] #8251 closed, assigned to nobody

[2014-12-03 02:47] dabingnn commented on #8528
@Dhilan007
Could you please take a look at it and check if it exists in 3.3 or not?

[2014-12-03 02:53] dabingnn commented on #8307
Duplicated with #8308

[2014-12-03 02:53] #8307 closed, assigned to nobody

[2014-12-03 03:09] #8798 closed, assigned to zilongshanren

[2014-12-03 03:09] #9091 closed, assigned to zilongshanren

[2014-12-03 03:09] #9136 closed, assigned to zilongshanren

[2014-12-03 03:10] #9163 closed, assigned to zilongshanren

[2014-12-03 03:35] daneric commented on #9344
Thanks a lot! It did work when I have changed NDK version from NDK r10 to NDK r10c.

[2014-12-03 03:39] dabingnn commented on #9344
3.3 rc1 has been released, NDK 10c is recommended for android in Release Notes.

[2014-12-03 03:39] #9344 closed, assigned to nobody

[2014-12-03 03:45] MinotaurosLee commented on #9333
不好意思，版本是3.1。我们是使用cocostudio设计好文本控件UIText，然后在lua中获取该控件再填充文本内容，如果直接从lua中create一个UIText好像不会出现这种情况

[2014-12-03 03:55] minggo commented on #9333
@chengstory
Please take a look.

[2014-12-03 05:13] playgithub opened #9349 "Is 3.3rc download link removed from the official website?"
I download 3.3rc0 last month, now I am going to see if there is a newer one, but can find anyone, even 3.3rc0. Because the document is for 3.3, so I want to download the newest version of 3.3. Any suggestion, thanks.

[2014-12-03 05:22] playgithub opened #9350 "Is cocos2d-x suitable for android app development?"
Mainly consider battery energy consumption, can it consume battery energy as effectively as possible?

[2014-12-03 05:29] playgithub opened #9351 "ProgrammersGuide.pdf bookmarks bug"
![image](https://cloud.githubusercontent.com/assets/3665590/5276292/433c2794-7af0-11e4-8be4-7925294f7b28.png)

OS: Windows 7
Reader: Adobe Reader XI

[2014-12-03 05:38] minggo commented on #9349
Please refer to [this thread](http://discuss.cocos2d-x.org/t/where-is-the-cocos2d-x-3-3-rc1/18659).

[2014-12-03 05:38] #9349 closed, assigned to nobody

[2014-12-03 05:45] minggo commented on #9350
It will consume more energy compared to normal app. But i can implement effect easily. And you can slow down the FPS to save energy.

And please discuss these topics in cocos2d-x forum: http://discuss.cocos2d-x.org/.
Thanks.

[2014-12-03 05:45] #9350 closed, assigned to nobody

[2014-12-03 05:56] slackmoehrle commented on #9351
The PDF is generated by Pandoc. Whats the real issue? That the bookmarks title is being cut off? I'll test this in a few readers to understand and decide on a fix.

[2014-12-03 06:00] #9336 closed, assigned to WenhaiLin

[2014-12-03 06:40] playgithub commented on #9351
Yes.

[2014-12-03 06:42] playgithub commented on #9349
Fine, thanks.

[2014-12-03 06:42] playgithub commented on #9350
OK, thanks.

[2014-12-03 07:09] silwings commented on #9329
@super626
Another workaround that doesn't have to change cocos2d-x would be to insert RenderTexture's `begin()` and `end()` at the start and end of a node's `visit()`. It may render the node and all its children to the FBO. I will give it a try.

[2014-12-03 07:20] zilongshanren commented on #9120
@huangliu
I have used the CocosStudio 2.0 to create a sample scene with a ScrollView and a button on top of it.
It works very well.

I have tested it on MacOSX 10.10.

If you are using Windows, please check the resources path is correct.
And please paste the error stack and any output from your console to here.

Thanks.

[2014-12-03 07:38] yagjak opened #9355 "cocos2d-x v3.3 rc, scrollView problem with TransitionPageTurn( Green Background )"
Hi,
i have problem with the `scrollView` (on **android** and **iOS**), there is a green background on in the back of the `ScrollView`, this problem exist only if i run `TransitionPageTurn`.

I have used the following code:

[code]

it worked very good(there's no green background)
and when i run this:

[code]

i will have 2 problems:
1- background of the _scrollView is green,
2- the MainLayer is wh

[2014-12-03 07:41] yagjak commented on #9227
Yes, i realy need that

[2014-12-03 07:47] yagjak opened #9356 "Feature request: scroll bar on the cocos2d::ui::ScrollView"
Hi,
me and many other developers need to the scroll bar on the  `cocos2d::ui::ScrollView` , it can really help us.
Thanks.

[2014-12-03 07:49] litefeel commented on #9356
how to scroll?

[2014-12-03 14:46] playgithub commented on #9356
horizontally and vertically, :), I don't often see scroll bars in games, but I think it's helpful when develop applications using cocos.

[2014-12-03 15:10] yagjak commented on #9356
@playgithub yes,  you're right

[2014-12-03 18:33] slackmoehrle commented on #9351
I tested this in:

Preview, OS X 10.10
Adobe Reader, 11.0.09, OS X
Adobe Reader, 11.0.09, Windows

![screen shot 2014-12-03 at 10 31 21 am](https://cloud.githubusercontent.com/assets/7491758/5286283/be9a0fa0-7ad7-11e4-8fcc-a6b410fddd14.png)
![screen shot 2014-12-03 at 9 13 36 am](https://cloud.githubusercontent.com/assets/7491758/5286285/c2cb3b26-7ad7-11e4-93ad-bf63a259f1e5.png)

[2014-12-04 02:39] playgithub commented on #9351
I have downloaded it from http://cocos2d-x.org/programmersguide/ProgrammersGuide.pdf, it still has the same problem.

Windows 7
Adobe Reader 11.0.09

[2014-12-04 02:55] slackmoehrle commented on #9351
I did as well. I dont know what to say about it. It works on my end and I had another guy test it on his Windows/Reader as well.

[2014-12-04 02:59] WenhaiLin commented on #9346
Done.
arm64：https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/67
x86_64：https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/69
https://github.com/cocos2d/cocos2d-x/pull/9332

[2014-12-04 03:11] playgithub opened #9362 "Why is this so implicit?"
Application class use a static member to hold the this pointer, why not a clear explicit way?
I can't see the link between the two lines:

[code]

[code]

[2014-12-04 03:13] playgithub commented on #9351
![capture_0](https://cloud.githubusercontent.com/assets/3665590/5293098/95ad4ca4-7ba6-11e4-8ac7-56073934c1b7.PNG)
![capture_1](https://cloud.githubusercontent.com/assets/3665590/5293099/95ae72aa-7ba6-11e4-8699-19c6ccb4dc9b.PNG)

[2014-12-04 03:19] slackmoehrle commented on #9351
What are you trying to show?

[2014-12-04 03:27] playgithub commented on #9351
The same problem exists, and Is it the newest .pdf file? Is the problem related to the fonts?

[2014-12-04 03:36] slackmoehrle commented on #9351
I'm not sure at this time. I dont run any special fonts on my Mac and the others that I had test this on Windows have no additional fonts installed. Their systems are pretty Vanilla. I'll see if I can fire a virtual machine, install vanilla windows and adobe and see if it persists.

[2014-12-04 03:41] playgithub commented on #9351
OK, thanks a lot.

[2014-12-04 05:23] stammen opened #9363 "Projects generated with the cocos console are failing to build.in V3 branch"
Projects generated with the cocos console are failing to build. templates/cocos2dx_files.json needs to be updated.

1>D:\GitHub\cocos2d-x-v3\projects\foo\cocos2d\cocos\editor-support\cocostudio/WidgetReader/WidgetReader.h(32): fatal error C1083: Cannot open include file: 'cocostudio/WidgetReader/NodeReaderProtocol.h': No such file or directory
Etc…

[2014-12-04 05:34] minggo commented on #9363
This file is updated automatically.

[2014-12-04 05:34] minggo commented on #9363
https://github.com/cocos2d/cocos2d-x/pull/9360 is for it.

[2014-12-04 05:40] stammen commented on #9363
Thanks

[2014-12-04 05:46] stammen commented on #9363
I verified that it is fixed. Thanks.

[2014-12-04 05:46] #9363 closed, assigned to nobody

[2014-12-04 05:47] minggo commented on #9363
Thanks.

[2014-12-04 05:57] pandamicro opened #9364 "Repeated sequence doesn't work correctly"
[code]

This code snippet will trigger the issue, after every loop the sprite will be moved to the right by 20px.

By looking into the code of Sequence::update, it reset the state of the second action before running the first one, and the second action have a initial state which noted the position of the sprite (20px at the right due to the first action in the previous loop).

![t lubo1 f os d 1bn

[2014-12-04 06:33] minggo commented on #9346
We will release v2.2.6 on Dec.12 to support iOS 64.
Detail information please refer to http://discuss.cocos2d-x.org/t/64-bit-and-ios-8-requirements-for-new-apps/17797/37.

[2014-12-04 06:33] #9346 closed, assigned to nobody

[2014-12-04 06:42] zeyangl opened #9367 "blend mode does not work with animated sprite"
This issue was reported long ago on the forum for 2.2, and it's still the same in 3.0. http://discuss.cocos2d-x.org/t/setblendfunc-does-not-work-when-sprite-runs-a-ccanimate-object/10639/5
This looks like a serious bug.

[2014-12-04 06:48] minggo commented on #9367
We migrate to github issue system a few months ago. And it is more efficient to report discuss issues here.

[2014-12-04 07:20] WenhaiLin opened #9372 "Label may show nothing when using system font on Mac"

[2014-12-04 07:21] WenhaiLin commented on #9372
Fixed at https://github.com/cocos2d/cocos2d-x/pull/9366

[2014-12-04 07:21] #9372 closed, assigned to WenhaiLin

[2014-12-04 07:21] #8477 closed, assigned to nobody

[2014-12-04 07:27] pandamicro opened #9373 "Cocos Studio exported armature animation with particles will crash when loading"
Cocos Studio 1.5 or 1.6

Related issue: https://github.com/cocos2d/cocos2d-js/issues/1164

If we append a particle system on a armature bone in Cocos Studio, then in the export file's ResourceFileList section will include the particle's plist file. In this case, the reader doesn't treat the particle's plist correctly, it consider it as a sprite frames plist, and eventually lead to crash.

[2014-12-04 07:27] #9231 closed, assigned to nobody

[2014-12-04 07:27] #9191 closed, assigned to WenhaiLin

[2014-12-04 07:28] #9175 closed, assigned to nobody

[2014-12-04 07:28] #8901 closed, assigned to dabingnn

[2014-12-04 07:29] #8653 closed, assigned to zilongshanren

[2014-12-04 07:36] liamcindy opened #9374 "TextField设置锚点以后，在customSize状态下，输入文本渲染错位"
1.默认的文本会显示在TextField原始位置；
2.重新输入的文本会显示在锚点附近，以控件的锚点为原点；
3.当输入文本的长度大于输入框的长度时，文本不会自动向前滚动；

[2014-12-04 08:15] bapai1212 opened #9375 "Access Android third rounds of SDK organic rate automatically restart my"
Recently encountered a problem, search many posts, solve in your official forum also made a post and request problem, has not been answered, and now the official technical support request:
My project is the development of cocos2dx-3.2 Android games, game development process there is no problem, then I project access third rounds of Android SDK, such as Alipay, access is successful, I can also the

[2014-12-04 08:21] bapai1212 commented on #9375
My main problem is the core problem of automatic restart the game, in Cocos2dxGLSurfaceView I replace / / this.mGLSurfaceView.setCocos2dxRenderer (Cocos2dxRenderer) (New)
This.mGLSurfaceView.setCocos2dxRenderer (MyRenderer) (New);
; but restart problem still can not solve the

[2014-12-04 08:44] #9335 closed, assigned to nobody

[2014-12-04 08:48] Pythians commented on #9335
[code]

放错地方了 X

[2014-12-04 09:03] super626 commented on #9329
Ok, thanks.

On Wed, Dec 3, 2014 at 3:10 PM, Wang Cong notifications@github.com wrote:

[2014-12-04 09:34] NewCai opened #9376 "LayerColor could be effected by Android theme"
I covered a Layer by a semi-transparent LayerColor.

[code]

Everything just looked as expected as below when I used a default theme on Android.
![screenshot_2014-12-04-17-21-35](https://cloud.githubusercontent.com/assets/3471662/5296095/fd59abac-7bda-11e4-876f-929c07e92361.png)

But the weird thing happened after I changed the theme to

[code]

LayerColor was rendered with my wallpaer!

![screens

[2014-12-04 12:10] mrFranklin opened #9380 "cocos2d-x v3.3-rc0 的lua版本编译报错"
在官网上下载的最新版本：v3.3-rc0
使用命令新建了lua版本：
python cocos.py new HelloLua -p com.cocos2dx.org -l lua -d D:\Projects

打开frameworks/runtime-src/proj.win32/HelloLua.sln 编译会报如下错误：
frameworks\runtime-src\classes\lua_module_register.h(13): fatal error C1083: 无法打开包括文件:“lua/quick/lua_cocos2dx_quick_manual.hpp”: No such file or directory

网上搜了一下有两位也提到此问题，但没有得到官方的回复。
http://cn.cocos2d-x.org/tutorial/show?id=1717
http

[2014-12-04 14:23] zeyangl commented on #9367
Understood. I just ran into the same issue and wonder if it's actually a bug.

[2014-12-04 14:27] volzhs opened #9382 "ui::ListView->getCurSelectedIndex() is out of range"
1. create ListView
2. add 10 items
3. touch 10th item
4. remove all items
5. add 5 items
6. listView->getCurSelectedIndex() // output 9 which is out of range

[2014-12-04 14:42] playgithub commented on #9362
Is this better? In which AppDelegate should be inherit from Application "public" instead of "private".

[code]

[2014-12-04 15:07] playgithub opened #9383 "Animate problem"
In the guide: http://www.cocos2d-x.org/programmersguide/ch4.html
section: Animate

![image](https://cloud.githubusercontent.com/assets/3665590/5300344/4776aabc-7c0a-11e4-8268-9325921625f2.png)

Windows 7
Visual Studio 2013

[2014-12-05 00:35] jonyrock commented on #9303
.... and it completely doesn't work on Android. Android shows nothing in case`stencil->setCameraMask((unsigned short)CameraFlag::USER2);`
Please guys, answer me something.

[2014-12-05 00:42] darkdukey commented on #9383
Can you provide more detail about this issue? it's hard to tell what's wrong from the screen shot.

[2014-12-05 01:28] #8875 closed, assigned to nobody

[2014-12-05 01:57] playgithub commented on #9383
![image](https://cloud.githubusercontent.com/assets/3665590/5309838/0d9f1b66-7c65-11e4-9f04-5767e530f715.png)

The extras in the red closure is always there when the animation is playing?

[2014-12-05 03:18] zilongshanren opened #9384 "[iphone5s]CocosStudioActionTimelineTest second test crash"
"Test Change Play Scetion" test crash.

when click, the app will crash.

[2014-12-05 03:20] minggo commented on #9384
@chengstory
Please take a look.

[2014-12-05 04:21] darkdukey commented on #9383
@slackmoehrle Have you see this happen before?

[2014-12-05 04:26] slackmoehrle commented on #9383
I'm on OS X, 10.10, with XCode 6 and this doesn't happen for me when using ios or osx as a target. We haven't yet tested the examples in the programmers guide with Windows. I'll create a virtual machine this weekend and create a visual studio project and try it.

[2014-12-05 04:27] slackmoehrle commented on #9383
If you have problems with the Programmers Guide, can you create an issue in its repo? https://github.com/chukong/programmers-guide/issues

Thanks I usually dont check this repo for issues unless I'm tagged in it.

[2014-12-05 05:37] minggo commented on #9383
@playgithub
Would you please create a new issue in programmer guide repo and close this one?
Thanks.

[2014-12-05 05:45] playgithub commented on #9383
OK

[2014-12-05 06:01] darkdukey commented on #9383
Thanks a lot :)

[2014-12-05 06:41] #9334 closed, assigned to WenhaiLin

[2014-12-05 07:48] zilongshanren opened #9386 "CMake is not working for template project on Mac"
on Linux platform, it is working. But it's not working on Mac.
We need a more cleaner way to resolve this issue.

[2014-12-05 08:06] 79630217 opened #9387 "cocos2dx 3.3rc1 bug"
本帖属于CocoaChina会员发表，转帖请写明来源和帖子地址
3.3rc1编译的bug
.\auto\lua_cocos2dx_3d_auto.cpp(794): error C2039: “getMeshCount”: 不是“cocos2d::Sprite3D”的成员
.\auto\lua_cocos2dx_auto.cpp(20388): error C2039: “setBoundarySet”: 不是“cocos2d::Follow”的成员
.\auto\lua_cocos2dx_auto.cpp(46913): error C2039: “hasContent”: 不是“cocos2d::ClippingNode”的成员
\auto\lua_cocos2dx_studio_auto.cpp(20498): error C2039: “setLastFrameCallFunc”:

[2014-12-05 08:15] samuele3hu commented on #9387
Which platforms and test-case did you use to compile.

[2014-12-05 08:25] 79630217 commented on #9387
win8 x86_64
项目中添加了cocos\scripting\lua-bindings\proj.win32项目

[2014-12-05 08:38] samuele3hu commented on #9387
How was your project created?Can you check your `Additional Include Directories` refer to `lua-tests` or `lua-empty-test`

[2014-12-05 08:41] 79630217 commented on #9387
cocos new 项目 -p org.项目.game -l cpp -d D:\cocos2d-x\
创建时创建的是c++的项目，因为项目里有一部分需要使用lua，所以就倒入了cocos\scripting\lua-bindings\proj.win32。这个错误在3.3rc0里没有出现

[2014-12-05 08:42] 79630217 commented on #9387
cocos2d\extensions\gui\cccontrolextension\cccontrolutils.h(39): fatal error C1083: 无法打开包括文件:“extensions/ExtensionExport.h”: No such file or directory这个错误，把
#include "extensions/ExtensionExport.h"  =〉 #include "../../ExtensionExport.h" 就没有问题，lua得错误依旧没有解决

[2014-12-05 08:49] samuele3hu commented on #9387
Can you check whether those functions exists in c++ class?

[2014-12-05 09:07] phatvan99 opened #9389 "Cocos2dx 3.2 can’t read *.csb File . Result NULL"
I'm using cocos2dx 3.2 . The old *.csb file which were created by cocosStudio 2.0 then it can't load , result = NULL. my code these following:

//0. Header cocosStudio declaring :
include "ui/CocosGUI.h"
USING_NS_CC;
using namespace ui;

//1.set path to ROOM Folder

std::vectorstd::string vtStr;
vtStr.push_back("room");
FileUtils::getInstance()->setSearchPaths(vtStr);

//2.Load *.csb FILE
auto __r

[2014-12-05 09:17] phatvan99 commented on #9389
I have Debugged . It's leaved at line 362 (File: CCSGUIReader.cpp)
....
        if (rapidjson::kObjectType == tType || rapidjson::kArrayType == tType)
....

Basing on above code : My *.csb file . The my tType = -78  of Buffer OBJ not containing  rapidjson::kObjectType or rapidjson::kArrayType. So it leaved and return NULL for result

(T___T) how i can do ! thanks

[2014-12-05 10:02] kary24 commented on #9380
如果不是用quick的话 把这句注释了就好了

[2014-12-05 13:14] qwertyway opened #9391 "cocos2d-x-3.3rc1 Android BackgroundMusic incorrect lifecycle"
After playing background music and stopping it, you won't be able to start it again:

SimpleAudioEngine::getInstance()->playBackgroundMusic(filePath, true);
SimpleAudioEngine::getInstance()->stopBackgroundMusic();
SimpleAudioEngine::getInstance()->playBackgroundMusic(filePath, true);

Method stopBackgroundMusic calls mBackgroundMediaPlayer.stop();
According to http://developer.android.com/referenc

[2014-12-06 01:42] darkdukey commented on #9389
Can you try `CSLoader`

[2014-12-06 02:50] phatvan99 commented on #9389
CSLoader not available in 3.2 version. I think this problem is bug of  enginer with cocos version. It not synchronize .someone talked me use cocosstudio 1.6 for 3.2 cocos2dx, but I don't think so !

[2014-12-06 06:51] jonyrock opened #9395 "Fbx-conv.exe fails simple tests"
Hi.
There are <a href="https://trello-attachments.s3.amazonaws.com/54539ba178767dd47f03d3df/547a575e126e9ed9e9729169/f8acdf4281234501e0150ab791f50f19/lego.FBX">a simple .fbx file</a> and <a href="https://trello-attachments.s3.amazonaws.com/54539ba178767dd47f03d3df/547a575e126e9ed9e9729169/f8acdf4281234501e0150ab791f50f19/lego.FBX">another</a> . Both of them are failed (application stops) in fbx-co

[2014-12-06 11:31] jonyrock opened #9396 "SIGFPE and big .obj files"
Hi.
Lets try <a href="http://people.sc.fsu.edu/~jburkardt/data/obj/airboat.obj" > this .obj file </a> . We will get  `0` from `MeshData::getPerVertexSize()` and that zero will be used in division in `MeshVertexData::create()`
Output is empty.

[2014-12-06 11:46] jonyrock commented on #9396
Similar happens with other files from here http://people.sc.fsu.edu/~jburkardt/data/obj/obj.html
The first one,`airboat.obj`, mentioned above

btw, I don't like it, but Unity opens this.

[2014-12-06 15:22] ghost commented on #9389
i updated my cocos2dx to 3.3rc2 with cocos studio being 2.0.2, still the bug persists, any update on this issue, also i dunno how to use CSLoader, unable to include

[2014-12-06 23:32] design365 opened #9397 "紧急，cocos2dx 3.2版本在iphone6上的bug"
请教一下 ， 3.2版本是不是不支持iphone6 ，在iphone5上跑得好好的，到iphone6上跑刚启动就提示如下错误 ：
![41_354404_20fdb2f59b38175](https://cloud.githubusercontent.com/assets/3348948/5329325/4d4e5aa4-7de3-11e4-814e-ff072e8f84b8.png)

[2014-12-07 13:40] walzer opened #9398 "CCFileUtils.cpp line 1107, no closedir() after opendir(char*)"
This behaviour will lead to subsequent `fopen` and `libcurl` internal errors. We need to closedir() after we don't need it.

This bug was reported by user in weibo http://www.weibo.com/1692965182/BzC8HwtLM?from=page_1005051692965182_profile&wvr=6&mod=weibotime

[2014-12-07 13:46] stammen commented on #8733
What version of libcurl will you be using?

[2014-12-07 14:12] woc2006 opened #9399 "Anchor point bug in Layer"
Put this code in Stage::init

[code]

the red rect is not displayed.

and change line 3 to:

[code]

the rect displayed as expect. Which means, the anchor point (1,1) works as Point(0, 0)

Tested in cocos2dx 3.2 3.3.

[2014-12-07 15:39] NewCai commented on #9376
Does nobody care this bug? It really troubled us :sob:

[2014-12-07 16:53] volzhs opened #9400 "Widget::setHighlighted does not work after setBright"
# how to reproduce

[code]

I'm using 3.3rc1.

[2014-12-08 00:34] milos1290 commented on #9399
try adding origin.x and origin.y to visible size. But since it works when subtracting 80 it could be that this is a bug.

[2014-12-08 02:00] minggo commented on #9398
fix in #9401

[2014-12-08 02:23] dabingnn opened #9403 "cocos2d-console throw exception when it does not have access to that directory"
Our developer report a minor bug in this thread
http://discuss.cocos2d-x.org/t/cocos2d-x-v3-3-rc2-released/18740/4

[2014-12-08 02:32] #9362 closed, assigned to nobody

[2014-12-08 02:33] #9383 closed, assigned to nobody

[2014-12-08 02:34] playgithub commented on #9351
I have found that the wiki is has newer content, so I will read the wiki instead.
Thanks all the same.

[2014-12-08 02:34] #9351 closed, assigned to nobody

[2014-12-08 03:21] slackmoehrle commented on #9351
What info on the wiki is newer?

[2014-12-08 03:51] slackmoehrle commented on #9383
You closed this without a resolution.

[2014-12-08 03:56] playgithub commented on #9351
e.g. http://www.cocos2d-x.org/wiki/EditBox

[2014-12-08 03:59] minggo commented on #9397
It supports iPhone 6.

[2014-12-08 04:00] minggo commented on #9395
@super626
Could you please take a look?

[2014-12-08 04:01] minggo commented on #9396
@super626
Could you please take a look?

[2014-12-08 04:01] slackmoehrle commented on #9351
This will be in chapter 6

[2014-12-08 04:08] minggo commented on #9380
Fixed as @kary24 said.

[2014-12-08 04:08] #9380 closed, assigned to samuele3hu

[2014-12-08 06:28] zilongshanren opened #9405 "[v2.2.6 issue]EditBox iOS8 orientation issue + iphone6 display logic error"
@minggo  please move this issue to 2.2.6

[2014-12-08 06:29] zilongshanren opened #9406 "[v2.2.6]iOS project launch images are incomplete"
we should modify js/lua/cpp tests and templates.

[2014-12-08 09:53] #9120 closed, assigned to zilongshanren

[2014-12-08 09:58] #8899 closed, assigned to samuele3hu

[2014-12-08 09:58] #8900 closed, assigned to samuele3hu

[2014-12-08 10:03] minggo commented on #8966
@hawkwood
Could you please create new issue for the wrong size?
Thanks.

[2014-12-08 10:03] #8966 closed, assigned to WenhaiLin

[2014-12-08 10:18] #9405 closed, assigned to zilongshanren

[2014-12-08 11:47] MinotaurosLee commented on #9333
有结果么？

[2014-12-08 15:31] WenhaiLin commented on #9391
@qwertyway This issue fixed at https://github.com/cocos2d/cocos2d-x/pull/9340

[2014-12-09 02:26] zilongshanren opened #9419 "Device::getDPI() is not working with iPhone6 Plus"
The DPI of iPhone6 Plus is 401, but the `Device::getDPI()` returns 489 which is wrong.

And some UI controls rely on the DPI of device, so we should fix this issue.

[2014-12-09 02:37] zilongshanren commented on #9419
[code]

[2014-12-09 02:51] super626 opened #9420 "Require a viewport reset after window size changed"
When window size is changed we should reset the viewport, so that it can be full of the screen.

Editors need this.

[2014-12-09 03:02] liamcindy opened #9421 "Content size will not be updated if text is set to empty string"
[code]

======================CCLOG=================================
（BMFontSize, width: 120.500000, height: 52.000000）

[2014-12-09 03:49] pipu commented on #8663
Issue was resolved

[2014-12-09 03:50] #8663 closed, assigned to zilongshanren

[2014-12-09 05:52] wuzhiming opened #9424 "手机虚拟返回键消失后引起屏幕下移导导致触摸位置出错"
现在手机虚拟返回键消失后引起屏幕下移导，然后触摸的点还是在没有变更前的位置，导致触摸区域出错，如下截图。
![pic1](https://cloud.githubusercontent.com/assets/6093737/5352908/21902d34-7faa-11e4-9c63-b10991b105b0.png)
![pic2](https://cloud.githubusercontent.com/assets/6093737/5352926/7532d4e6-7faa-11e4-95fa-f2b1620628da.png)

@crazyboymx

[2014-12-09 06:17] WenhaiLin opened #9425 "[v2-window]TestLua-->TitleMapTest-->TMX Ortho vertexZ:The sprite not hide behind the trees"

[2014-12-09 06:19] WenhaiLin opened #9426 "[v2-window]TestLua-->TitleMapTest-->TMX title flip run time test : titles not flip"

[2014-12-09 06:22] WenhaiLin opened #9427 "[v2-window]TestLua-->TitleMapTest-->TMX Orthogonal test: Don't see the desired result."

[2014-12-09 06:33] WenhaiLin opened #9428 "[v2-window]TestLua-->Texture2DTest-->Texture Async Test Load : Don't see the expected behavior."
[LUA ERROR] [string ".\luaScript/Texture2dTest/Texture2dTest.lua"]:1066: attempt to call method 'addImageAsync' (a nil value)

[2014-12-09 06:35] samuele3hu opened #9429 "[v2-ios]TestJavascript->CocoStudio Test->CocoStudioArmature Test-> Test CCArmature Nesting2->Change Mount"
error msg:
TestJavascript.app/CocoStudioTest/ArmatureTest/ArmatureTest.js:976:Error: Invalid Native Object

[2014-12-09 06:40] #9428 closed, assigned to nobody

[2014-12-09 06:40] #9427 closed, assigned to nobody

[2014-12-09 06:40] #9426 closed, assigned to nobody

[2014-12-09 06:40] #9425 closed, assigned to nobody

[2014-12-09 06:51] zilongshanren opened #9430 "Cpp-empty-test and cpp template still use deprecated API"

[2014-12-09 06:56] #9406 closed, assigned to zilongshanren

[2014-12-09 08:37] woc2006 commented on #9399
origin.x and origin.y of visible size is always 0.
and it doesn't works.

[2014-12-09 11:21] kary24 opened #9435 "SimpleAudioEngine will stop background music automatically in a low rate on iOS"
platform:ios 7.x
engine version:cocos2d-x 3.3 rc1

[2014-12-09 12:05] robojiannis commented on #9322
did you also get spidermonkey errors?
scripting/javascript/spidermonkey-ios/include/js/Value.h throws a _'moz-static-assert13' declared as an array with a negative size_ error at lines 335 & 1227 (moz_static_assert18).

Same semantic issue (moz_static_assert37) at scripting/javascript/spidermonkey-ios/include/jsfriendapi.h line 1351.

Any clues?

[2014-12-09 15:59] walzer opened #9436 "Replace "微软雅黑" with English name in TextFieldReader.cpp"
Reported in the forum http://discuss.cocos2d-x.org/t/in-some-source-files-cause-compiler-error-on-vs2013/18790

[2014-12-09 16:03] walzer opened #9437 "Supports reading Android obb expansion files"
Reported in the forum http://discuss.cocos2d-x.org/t/cocos2d-x-v3-has-anyone-managed-to-create-an-android-expansion/18476

For Android obb file, read this http://developer.android.com/google/play/expansion-files.html

We need to add this feature supported in `FileUtils` or some other places.

[2014-12-10 01:48] zilongshanren commented on #9421
@liamcindy
Thanks, I will check this issue.

[2014-12-10 02:07] minggo commented on #9435
Will you try new audio?

[2014-12-10 02:10] minggo commented on #9322
Please refer to [this thread](http://cocos2d-x.org/news/383).
We will release v2.2.6 this Friday. Spidermonkey issue is fixed too.

[2014-12-10 02:18] ryukbk commented on #9436
Thanks,
https://github.com/cocos2d/cocos2d-x/search?utf8=%E2%9C%93&q=%E5%BE%AE%E8%BD%AF%E9%9B%85%E9%BB%91
TextField.cpp I mentioned is actualluy TextFieldReader.cpp

[2014-12-10 02:23] edwardzhou commented on #8222
any update on this?

[2014-12-10 02:28] kary24 commented on #9435
i think won't until it can preload resources.

[2014-12-10 02:30] kary24 commented on #9435
I don't want my game be lag when it play sound on first time

[2014-12-10 02:53] minggo commented on #9436
@chengstory
Please take a look?

[2014-12-10 03:19] zilongshanren opened #9440 "Ui::LoadingBar creation is not well-thought-out"
Details, please see  here

http://discuss.cocos2d-x.org/t/ui-loadingbar-creation-is-not-well-thought-out/18789

[2014-12-10 03:33] chengstory commented on #9436
@pipu Please take a look.

[2014-12-10 03:41] ghost commented on #9367
@zeyangl  By now Sprite::setTexture use texture's blendfunc instead of sprite's blendfunc as new blendfunc. And we now are going to release v3.3 final so may change this behavior in future, and for your case, you can temporary modify the code(base on v3.3rc2, in file CCActionInterval.cpp) as below to get behavior you want:
![image](https://cloud.githubusercontent.com/assets/8086269/5370629/3ee6daa

[2014-12-10 04:43] dhb118 opened #9442 "load 'csb' file crash in 'cocos2d-x-3.3rc2' with 'cocos studio v2.0.5'"
i'm working on  cocos code IDE v1.0.2 ,i trying to load 'csb'
![2f2b763f-4ef1-4c12-9f3f-fff6f189c107](https://cloud.githubusercontent.com/assets/3306204/5371048/f4eda872-8069-11e4-8db8-b0723e8e96a2.png)
 file and get crash .

[2014-12-10 05:14] napjon opened #9443 "CocosStudio 2.0.5 csd not showing up"
I install cocostudio 2.0.2, and update it to 2.0.5 still get the same problem.
The sample csd (login or everything else) doesn't show any layer to edit, with output "Failed to Init GameWindow"

I'm using OSX 10.8.5

Is cocostudio have some kind of requirements?

[2014-12-10 05:48] darkdukey commented on #9443
I think it only supports 10.9 and up...

[2014-12-10 05:52] minggo commented on #8222
Sorry, there are two many issues created.
We don't have enough resource to fix all.
We will take a look ASAP.

[2014-12-10 05:54] minggo commented on #9435
It uses stream internally.
So it is less lag.
Have you tried it?

[2014-12-10 05:57] chengstory commented on #9443
Thanks @darkdukey ,  Only supports 10.9 and up.

[2014-12-10 05:58] #9443 closed, assigned to chengstory

[2014-12-10 06:04] ghost commented on #9376
@NewCai  What's your purpose by changing the android:theme to Theme.Wallpaper.NoTitleBar.Fullscreen?  In fact I think the behavior is right for you modify and the behavior of version 2.2.3  was wrong instead. And it is not caused by LayerColor, the real reason is the alpha value--if you do sprite->setOpacity(128) you will also see the same "proplem", and the code make the new version different fro

[2014-12-10 06:28] dhb118 commented on #9442
**here is the crash log**

Process:               PrebuiltRuntimeLua Mac [74912]
Path:                  /Users/USER/*/PrebuiltRuntimeLua.app/Contents/MacOS/PrebuiltRuntimeLua Mac
Identifier:            org.cocos2dx.PrebuiltRuntimeLua
Version:               1.0 (1)
Code Type:             X86-64 (Native)
Parent Process:        eclipse [69236]
Responsible:           PrebuiltRuntimeLua Mac [74912]
Use

[2014-12-10 06:29] kary24 commented on #9435
@minggo u means new engine needn't preload and will not be lag?i have not tried it yet:)

[2014-12-10 06:35] minggo commented on #9435
Yep.
Indeed it is supported in v3.3rc1.

[2014-12-10 06:35] zilongshanren opened #9444 "Deprecated build_native.py and use cocos run command instead"

[2014-12-10 06:40] kary24 commented on #9435
thx i m using 3.3rc1 i will try it later:) thx for ur answer:)

[2014-12-10 06:41] #9435 closed, assigned to nobody

[2014-12-10 06:57] ychua842655 opened #9445 "（cocos2dx 2.x） 在自定义node的onEnter当中调用getParent()->addChild(); 相对于在数组遍历的时候往里面添加数据"
如果在onEnter中添加数据是合法的，那么是不是应该在onEnter中，对遍历方式进行更改？

[2014-12-10 06:59] minggo commented on #9445
Sorry, what's the issue?

[2014-12-10 07:40] ychua842655 commented on #9445
在父层调用onEnter的时候，会随机崩溃 ，错误是 野指针

[2014-12-10 07:42] ychua842655 commented on #9445
[code]

在这个遍历的时候， node->onEnter(){
  getParent()->addChild(d,0);
}
m_pChildren 发生变化

[2014-12-10 07:46] NewCai commented on #9376
@huangshiwu We changed the theme because there is a short period of time of black screen when you start a game on android. And I found the time was uncontrolled(OpenGL part is initializing I guess). Changing the theme to theme.Wallpaper.NoTitleBar.Fullscreen could make screen transition more fluent at the beginning.BTW,Our splash screen is white, so the black screen at the beginning is very obviou

[2014-12-10 07:50] minggo commented on #9445
You can not modify array when looping.
It is not safe to do it like this.

[2014-12-10 08:18] ychua842655 commented on #9445
嗯，是这样，看来我们只能自己多注意了，谢谢。