[2016-11-24 14:30] nangsan commented on #16795
Hi, minggo
same issue happened to me also I'm installing coco2d-x in Ubuntu.
cocos.py file has only [ -rw-rw-r-- Jul 20 14:27 ~/cocos2d-x-3.13.1/tools/cocos2d-console/bin/cocos] permission.
As @ryojishimura suggested I added execution permission, and it solved the issue.

[2016-11-25 01:36] minggo commented on #16795
It is strange, i reopen this issue.

[2016-11-25 02:29] minggo commented on #16865
Sound reasonable. How to modify it? I am not an expert of Android Studio.

[2016-11-25 02:32] minggo commented on #16862
Yep, it is possible. Is there a way to make IDENTITY be initiated first since it is a static variable.

[2016-11-25 02:41] minggo commented on #16900
Don't have to consider Android Studio, Android Studio doesn't support normal cmake files.

[2016-11-25 02:45] minggo commented on #16899
You can create an instance of BlendFunc by your self.

Why it has 4 parameters?

[2016-11-25 02:52] minggo commented on #16890
May be it is the same issue to https://github.com/cocos2d/cocos2d-x/issues/16582

[2016-11-25 02:59] minggo commented on #16887
the codes in Director::draw() is
[code]
It is used to draw status and notification nodes.

[2016-11-25 02:59] #16887 closed, assigned to nobody

[2016-11-25 03:06] minggo commented on #16873
sounds reasonable

[2016-11-25 03:13] minggo commented on #16873
fixed in https://github.com/cocos2d/cocos2d-x/pull/16904

[2016-11-25 07:15] waqas19921 commented on #16899
i want to user `glBlendFuncSeparate` how to use that with above params in triangle command.

[2016-11-25 08:20] FrankStain commented on #16865
So, i had tested it on my current version of cocos2d-x. I can make a PR if necessary, but only if it will take small time for me.

Real working code is (file - .../cocos/platform/android/libcocos2dx/build.gradle):
[code]

[2016-11-25 08:37] FrankStain commented on #16865
In addition.

Next code, which must be placed at `build.gradle` of root project, will cause the suggested feature to work.
[code]

[2016-11-25 10:04] dumganhar commented on #16894
@RustyMoyher, I found a solution for this issue. You need to modify 4 positions:

1.  renderTexDefault->setKeepMatrix(true);
2.  renderTexWithBuffer->setKeepMatrix(true);
3. renderTexWithBuffer->beginWithClear(0, 0, 0, 0, 1, 0); // depth buffer must be clear with 1.0f
4. fixes the bug of clear depth buffer in `RenderTexture::onClear`
![screen shot 2016-11-25 at 18 02 10](https://cloud.githubuserco

[2016-11-25 10:04] lsc1414 commented on #16543
@wulv1985 @jminht Thanks!

[2016-11-25 10:10] sofensymbole commented on #15871
https://github.com/sofensymbole/Libpng-1.6.23

Try this link , it is created to remove vulnerability of libpng. app sucessfully uploaded by use of it.

[2016-11-25 13:44] pablorealini commented on #16849
@dumganhar didi you have any time to look at this?

Thanks!

[2016-11-25 14:08] RustyMoyher commented on #16894
Yes! I can confirm this works. Both on my test scene posted here and in other larger projects.

`setKeepMatrix(true)` seems to be required.

`beginWithClear(0, 0, 0, 0, 1, 0)` also seems to be required. Although leaving off the last "0" seems fine too: `renderTexWithBuffer->beginWithClear(0, 0, 0, 0, 1)`

This change to `RenderTexture::onClear` appears to properly restore the OpenGL state too.

Th

[2016-11-25 15:37] RustyMoyher commented on #14877
I think your Sprite3D bug is similar to mine: [Issue #16894](https://github.com/cocos2d/cocos2d-x/issues/16894). See this issue for the fix. I've also added an answer to the Stack Overflow question.

[2016-11-25 15:39] RustyMoyher commented on #12353
I think your Sprite3D bug is similar to mine: [Issue #16894](https://github.com/cocos2d/cocos2d-x/issues/16894). See this issue for the fix. I've also added an answer to [this Stack Overflow question](http://stackoverflow.com/questions/34595594/cocos2dx-sprite3d-wont-render-to-texture).

[2016-11-25 17:53] DavidDeSimone commented on #16846
Update on this:

I have written async versions of each of the basic file operations in CCFileUtils, each taking a callback, and each done off thread. I am currently in the process of writing tests for all of this. I also need to make sure that the auto binding generator works properly for the new functions I've created. I hope to have a PR open next week for this feature.

[2016-11-26 05:43] nangsan commented on #16795
Thanks for the response,
And one more thing, when I tried to run a new project using _cocos run_ for android [ Android Studio ],
ndk-build was successful but while starting Gradle build I got permission denied.
Then I added the execute permission to the _gradlew_ file in proj.android-studio.
Again I started _cocos run_ this time all was fine and APK generated successfully.

[2016-11-27 01:46] NuLL3rr0r commented on #14877
@RustyMoyher Thank you so much for mentioning the fix. Yes, I remember seeing the StackOverflow answer. I somehow forgot to answer it. Sorry about that.

Unfortunately, at the moment I am not using Cocos2d-x. So, I'll have to set it up again before I'll be able to check that out.

Thank you.

[2016-11-27 12:51] dumganhar commented on #16894
Pull Request was sent: https://github.com/cocos2d/cocos2d-x/pull/16908

[2016-11-27 12:59] dumganhar commented on #16894
Pull Request was sent: https://github.com/cocos2d/cocos2d-x/pull/16908

[2016-11-28 01:51] #16894 closed, assigned to nobody

[2016-11-28 01:59] #16873 closed, assigned to nobody

[2016-11-28 02:45] dumganhar commented on #16892
@linyouhappy, thanks for your feedback. Could you please upload a demo for this issue?
I'm not familiar with the 3d code, so it will make the debugging work easier if you could provide a demo.

[2016-11-28 02:49] dumganhar commented on #16893
@zilongshanren , could you please take a look at this issue? Thanks.

[2016-11-28 02:56] beerhall commented on #16893
Now I use Windows API to simulate a right click when left click event is detected, and add a boolean attribute in class Button to make a distinction between left click and right click.

[2016-11-28 02:57] minggo opened #16912 "Frame rate is not accurate if it is set to 60 or higher on Android"
Current implementation of FPS controller codes are
[code]
There is not doc says `onDrawFrame` is invoked 60 per second. So if onDrawFrame is invoked more than 60 per second and `sAnimationInterval < 1.0 / 60 * Cocos2dxRenderer.NANOSECONDSPERSECOND`, then there is not FPS controlling, which may make real FPS is more than 60.

[2016-11-28 02:59] minggo commented on #16912
`onDrawFrame` is invoked 60 per second when vsync is enabled.

[2016-11-28 05:00] MrCapone commented on #16900
Generated Visual Studio 2015 project crashes on linking because of prebuilt libs. I will try to fix i and then i can make pull request.

[2016-11-28 07:03] dumganhar commented on #16866
Thank you. I will check this issue today.

[2016-11-28 07:49] dumganhar commented on #16866
I found that it's this PR (https://github.com/cocos2d/cocos2d-x/pull/16172) broke it.
@minggo , any thought about this?

[2016-11-28 12:31] shaniamjad commented on #16617
I am facing the same issue with my game..
cocos2d-x version: 3.13.1
Is there anyone looking at this issue? Thanks

[2016-11-29 01:55] dumganhar commented on #16617
Could you describe more about the reproducing steps?

[2016-11-29 06:10] shaniamjad commented on #16617
It happens quite random and only happens on very selective number of devices.. For instance it produces only on "HUAWEI G610-U20" OS "4.2.1" on my side.
Reproduction steps are quite random but it happens when i resume my app to foreground and perform some activity on it.. I am sorry for not being so helpful in reproduction steps but there is no significant steps to reproduce this other then moving

[2016-11-29 06:51] dumganhar commented on #16617
@shaniamjad
If you run the game after in the `install finished` activity, it will be crash after your game go to background then entering foreground by clicking the game icon. It was a known issue and it's probably a bug of android since it creates a different game activity in the same progress while clicking icon on launcher.

So could you confirm that it's not the issue I described above?

Just

[2016-11-29 08:26] cezheng commented on #16814
@DavidDeSimone I guess it's just because you didn't pass the option to tell the compiler to use C++11, and I don't think cocos2d-x works if you don't pass that option since it just relies on so many C++11 features.

[2016-11-29 09:41] shaniamjad commented on #16617
@dumganhar I tried the steps you said and crash didn't occur.. It seems to me a low memory crash as after killing all process my available RAM increased hence no crash occurred.. and i have seen my crashes on crashlytics all of them were having very less available memory.. So its more likely low memory crash... But they started appearing after upgrading my cocos2dx from 3.8.1 to 3.13.1. So do you

[2016-11-29 15:56] DavidDeSimone commented on #16814
@cezheng   I was indeed passing the option to use c++11 to the compiler, as I was doing with work is the cocos2d project, and was actively using many c++11 features. It looks like Apple made a descision pre Xcode 8 to not support thread local in their version of clang.

http://stackoverflow.com/questions/28094794/why-does-apple-clang-disallow-c11-thread-local-when-official-clang-supports

The reas

[2016-11-29 18:23] mnowak13 commented on #16814
Is there any particular reason why we don't use the mutex? I don't think a few nanoseconds lost using the mutex is worth the added complexity of maintaining search paths across threads.

I can't imagine a situation where you'd need to read or write enough files where the mutex is holding back the engine performance. I would hope the first priority should be ensuring engine stability, then optimize

[2016-11-30 00:34] cezheng commented on #16814
@DavidDeSimone I see, thanks for the information.

[2016-11-30 00:38] cezheng commented on #16814
@mnowak13
As we have discussed, adding a mutex will affect apps that adopts the traditional single-threaded model, and FileUtils is the class that is likely to have very few contentions.

[2016-11-30 02:26] dumganhar opened #16921 ".9.png file is shown incorrect"
- cocos2d-x version: 3.14
- devices test on: macOS, iOS
- developing environments
   - NDK version: N/A
   - Xcode version: 8.1
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Pull the latest code in v3.14 branch
2. build js-tests for Mac or iOS
3. go to js-tests -> UITest -> UIS9NinePatchTest

Result:

![screen shot 2016-11-30 at 10 20 20](https://cloud.githubuser

[2016-11-30 02:28] dumganhar commented on #16921
@ricardoquesada, could you please look at this issue? I guess it's caused after refactoring Scale9Sprite. Thanks.

[2016-11-30 02:37] dumganhar opened #16924 "Widget::clone() is broken"
- cocos2d-x version: v3.14
- devices test on: macOS, iOS
- developing environments
   - NDK version: N/A
   - Xcode version: 8.1
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. cpp-tests -> 52:Node: UI -> 1:GUI Dynamic Create Test -> 16: PageViewTest -> 5: UIPageViewJumpToPageTest
2. Only `Jump to Page1` could be clicked, `Jump to Page(2,3,4)` buttons isn't clickab

[2016-11-30 03:50] dumganhar opened #16928 "The display of UISliderTest_scale9_State_Change is wrong"
- cocos2d-x version: v3.14
- devices test on: macOS
- developing environments
   - NDK version: N/A
   - Xcode version: 8.1
   - VS version:N/A
   - browser type and version:N/A

Steps to Reproduce:

1. cpp-tests -> 52:Node: UI -> 1: GUI Dynamic Create Test -> 7: Slider Test -> UISliderTest_Scale9_State_Change

Current Result (Wrong):

![screen shot 2016-11-30 at 11 46 27](https://cloud.githubuser

[2016-11-30 03:53] dumganhar commented on #16928
@ricardoquesada , please take a look at this issue.  It's also relative to Scale9Sprite.

[2016-11-30 03:56] dumganhar commented on #16928
7: UISliderIssue12249Test is also broken.
In 3.13.1, we get:
<img width="960" alt="screen shot 2016-11-30 at 11 54 21" src="https://cloud.githubusercontent.com/assets/493372/20739230/e0ebfe74-b6f3-11e6-8cad-57d34dc863fa.png">

But in current v3.14 branch:

![screen shot 2016-11-30 at 11 54 29](https://cloud.githubusercontent.com/assets/493372/20739234/e9de8920-b6f3-11e6-8080-21f1e24d916f.png)

[2016-11-30 04:02] dumganhar opened #16930 "UILoadingBarTest is broken"
- cocos2d-x version: v3.14
- devices test on: macOS
- developing environments
   - NDK version: N/A
   - Xcode version: 8.1
   - VS version:N/A
   - browser type and version:N/A

Steps to Reproduce:

1. cpp-tests -> 52:Node: UI -> 1: GUI Dynamic Create Test -> 9: LoadingBar Test

2. UILoadingBarTest_Left:

The right direction loading bar is missing:

Current Result (Wrong):

![screen shot 2016-11-

[2016-11-30 04:03] dumganhar commented on #16928
Probably, the `LoadingBar issue` (https://github.com/cocos2d/cocos2d-x/issues/16930) is the same as this one.

[2016-11-30 05:16] ricardoquesada commented on #16921
@dumganhar yep, thanks. I took the "magic" number from v3.13, so I guess there must be something else somewhere

[2016-11-30 06:12] dumganhar commented on #16930
@ricardoquesada , please take a look at this issue too. Thanks.

[2016-11-30 06:59] ricardoquesada commented on #16921
fixed.

[2016-11-30 06:59] #16921 closed, assigned to ricardoquesada

[2016-11-30 08:04] stnguyen commented on #8305
any solution to this one? it happens on LWF node as well, not just labels

[2016-11-30 08:16] dumganhar commented on #8305
@stnguyen, could you make sure that:
1. You didn't set string from non-GL thread?
2. You didn't call EventDispatcher::removeAllEventListeners?

If you didn't do these, please make a demo to reproduce this issue.

[2016-11-30 08:56] dumganhar opened #16938 "Audio could not be played entirely on iOS/macOS"
Reported at http://forum.cocos.com/t/topic/41723

- cocos2d-x version: v3.14
- devices test on: iOS, macOS
- developing environments
   - NDK version: N/A
   - Xcode version: 8.1
   - VS version: N/A
   - browser type and version:N/A

Steps to Reproduce:

Just play this audio [1018.mp3.zip](https://github.com/cocos2d/cocos2d-x/files/621300/1018.mp3.zip).

There are some frames at the end could not

[2016-11-30 09:18] sbrednikhin opened #16939 "GetFirstWordLen method breaks line on "no-break" space symbol"
- cocos2d-x version: 3.13
environmental and platform independent problem

Steps to Reproduce:

1.  Try to enable word wrapping on label and use symbol of "no-break" space 0xA0
https://unicodelookup.com/# /1
For example line: "This line contains only nonbreak spaces and no spaces at all" shouldn't be broken by word wrapping. Just like in this text field: ------------------------------------------->

[2016-11-30 09:59] cezheng commented on #16814
@minggo
The thread_local approach turned out to have some problems.

1. We cannot clear cache on all threads
2. Search Paths will be static, making APIs like setDelegate look weird
3. Hard to determine when to release the previous search path vector

I'm thinking about just making _fullPathCache thread safe, and make it clear the all the methods that changes _searchPathArray are not thread safe.

[2016-11-30 10:01] dumganhar commented on #16938
[code]

returns wrong frame size, it should be **61440**, but it returns **50688**.

[2016-11-30 10:45] cezheng commented on #16814
I used std::atomic to implement a simple spin lock and had some rough tests.

so far pthread_rwlock seems to have the best performance, std::mutex is the worst, it is 10~20 times slower than pthread_rwlock on macOS. Not sure how the performance will be on other platforms.

My own spin lock implementations is almost as fast as pthread_rwlock on some occasions but 2-5 times slower on many occasions

[2016-11-30 14:41] formatCvt commented on #10724
Same problem here
Samsung Galaxy Grand (Baffin)

[2016-11-30 14:43] formatCvt commented on #16849
Same problem here
Samsung Galaxy Grand (Baffin)

[2016-11-30 14:52] pablorealini commented on #16849
@dumganhar  did you have time for this? thanks!

[2016-11-30 15:05] meiry opened #16941 "If Layer is deprecated please chanage the "HelloWorld" Example that is created with Cocos console"
- cocos2d-x version:
3++
- devices test on:
all
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Create new project in cocos console
2. The Example is create with Layer , which is deprecated  long time ago ...

please change it to something valid like sprite or node

[2016-11-30 20:40] ChristianFischer commented on #16862
Not in a standardized, reliable way..

Better to rewrite the constructor like this:
[code]

[2016-12-01 05:56] ricardoquesada commented on #16930
I already fixed these ones, but I'll send a PR with the slider fix as well. they are different bugs

[2016-12-01 07:30] wintersui opened #16943 "UIScrollView一滚动，动画就停止了。"
在iOS平台上面，显示动画的时候，UIScrollView一滚动，动画就停止了。松开手，动画又继续了。
在百度搜索了一些信息，发现说的都是cocos2d的，不是cocos2dx的解决方案。

想问大神们，有办法吗？

[2016-12-01 08:09] wintersui commented on #16943
我用的是cocos2dx-2版本，自己尝试了一下，将CCDirectorCaller.mm里的两处
[displayLink addToRunLoop:[NSRunLoop currentRunLoop] forMode:NSDefaultRunLoopMode]
改成
[displayLink addToRunLoop:[NSRunLoop currentRunLoop] forMode:NSRunLoopCommonModes]
就解决问题了。
但不知道有什么影响。

[2016-12-01 09:34] AIGRIND-LLC commented on #16862
Agree with @ChristianFischer.
His approach is preferable.

[2016-12-01 10:12] pineoc opened #16945 "Audio still playing app dead."
- cocos2d-x version: 3.13.1
- devices test on: Samsung Galaxy S2, API 15
- developing environments
   - NDK version: r12b
   - Xcode version: 8.1

when i test my game to my phone, background music file like ``background.wav``.
Background music still playing even though the app is dead.
This '.wav' file seems to be causing the problem. zombie background music.
Another phone S3, did not occur. just

[2016-12-01 13:26] moonwith commented on #16746
@ricardoquesada, could you please take a look?

[2016-12-01 14:46] dumganhar commented on #16938
fixed at #16946

[2016-12-02 02:56] ricardoquesada commented on #16930
well, this is very strange. Slider + LoadingBar bugs fixed. But there is a parsing bug in CS reader that is feeding Sprite9SCale with the incorrect information...

...I don't know if this is a bug in rapidjson or not... working on this.

[2016-12-02 04:52] ricardoquesada commented on #16928
PR is here: https://github.com/cocos2d/cocos2d-x/pull/16949

[2016-12-02 04:53] ricardoquesada commented on #16930
PR is here: https://github.com/cocos2d/cocos2d-x/pull/16949

[2016-12-02 04:59] ricardoquesada commented on #16746
sure. I'll add it to my todo list.

[2016-12-02 05:28] waqas19921 commented on #16899
@minggo i didn't understand your suggestion
calling `glBlendFuncSeparate()` does not effect at all.
you have provided `setBlendFunc()`  with two parameters for sprite but it should also have an `glBlendFuncSeparate()` with four parameters so that one can set different blending modes for colors and alpha channels.

[2016-12-02 07:23] dumganhar commented on #16928
@ricardoquesada ,there are still two issues. I have posted it in your Pull Request.

[2016-12-02 07:25] dumganhar commented on #16924
@ricardoquesada , this issue is probably the same as `copy` problem in https://github.com/cocos2d/cocos2d-x/pull/16949.
Please also help to check. Thanks.

[2016-12-02 07:26] Dauch opened #16952 "Unknow crash In android."
- cocos2d-x version: 3.13.1
- devices test on: Androids
- developing environments
   - NDK version:android-ndk-r12b
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

It rarely happens. Can't be reproduce, and report to my backstage, I can't find any reason why it happens.(It will cause crash), I hope got some help here.
[code]

[2016-12-02 15:14] ricardoquesada commented on #16924
@dumganhar part of the same bug. fixed in this PR: https://github.com/ricardoquesada/cocos2d-x/commit/b7a769aac8dbcef4408791c6d29dfb95dd928b62

[2016-12-03 08:46] k-akiyama1991 commented on #13523
I'm using ver 3.13.1 and I get the same problem in win32.

I agree with **@graphidoc**, the program clashes because these threads attempt to access a member valiable which was already destroied by `AudioEngineThreadPool`'s destructor.

I'm newbie of C++ thread programming, so someone please tell me, why should we detach these threads?
If we don't do that, the destructor can wait these threads afte

[2016-12-03 09:06] mrleelp opened #16957 "14148"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2016-12-03 23:07] formatCvt commented on #16849
There is something wrong with multithreading.
Temporary solution is replace `ThreadPool::newCachedThreadPool(1, 8, 5, 2, 2)` by `ThreadPool::newSingleThreadPool()` in AudioPlayerProvider.cpp

[2016-12-04 02:12] pablorealini commented on #16849
@formatCvt that worked for you? will try it on monday.

[2016-12-04 07:37] formatCvt commented on #16849
yes, that fix this issue on Samsung Galaxy Grand (Baffin), but i still trying to figure out what is wrong with multithreading.

[2016-12-04 15:13] rbermudez opened #16959 "EditBox not show any character when type on keyboard"
- cocos2d-x version:3.13
- devices test on:android 4.4
- developing environments
   - NDK version: 10
   - Xcode version:Eclipse
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Run CppTest
2.Select 52:Node:Ui ->1:GUI:Dynamic Create Test ->3:EditBoxTest.
3.The problem is the component ui EditBox not show any character when type on keyboard, but when  the focus is lost the c

[2016-12-04 16:42] markroth8 opened #16960 "cc.ActionTweenDelegate not exposed to JavaScript bindings on Android"
- cocos2d-x version: 3.13
- devices test on: Android
- developing environments
   - NDK version: r12b
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Create new JavaScript class, e.g. var TweenProperty = cc.ActionTweenDelegate.extend({ ... })
2. At runtime, get: D/cocos2d-x debug info: JS: assets/src/TweenProperty.js:1:TypeError: cc.ActionTw

[2016-12-05 01:36] minggo commented on #16814
@cezheng sorry, i am busy for v3.14, i will take a look after releasing v3.14.

[2016-12-05 01:50] dumganhar commented on #16938
Closed this issue since https://github.com/cocos2d/cocos2d-x/pull/16946 was merged.

[2016-12-05 01:50] #16938 closed, assigned to dumganhar

[2016-12-05 02:06] dumganhar commented on #16849
@pablorealini, sorry for my late reply.
I'll check your demo today.

@formatCvt ,

So is it possible OpenSLES API isn't multithread-safe implementation?

[2016-12-05 06:00] formatCvt commented on #16849
@dumganhar maybe only on Samsung Galaxy devices, because on other devices multithreading working fine.

[2016-12-05 10:02] qiwucwb commented on #16959
me too.
android log: Warning! You can't change Android Hint fontName and fontSize.
testing...

[2016-12-05 12:49] pablorealini commented on #16849
@formatCvt

This seems to work fine on Galaxy Devices we tested on (S3, S4, S6, S6 Edge)

[2016-12-07 05:51] #16930 closed, assigned to ricardoquesada

[2016-12-07 05:51] #16928 closed, assigned to ricardoquesada

[2016-12-07 05:52] #16924 closed, assigned to ricardoquesada

[2016-12-07 18:41] thienphuoc commented on #16775
* temporarily repair : ( it works for me )
at "UIAbstractCheckButton.cpp" :
comment 3 line :
void AbstractCheckButton::loadTextures(const std::string& backGround,
                            const std::string& backGroundSelected,
                            const std::string& cross,
                            const std::string& backGroundDisabled,
                            const std::string& fr

[2016-12-08 01:42] dumganhar commented on #16866
@Paco777, you could revert the change in https://github.com/cocos2d/cocos2d-x/pull/16172/files to fix this issue temporarily.

[2016-12-08 01:45] dumganhar commented on #16849
@pablorealini, @formatCvt ,

Probably, we need to use the third-party ogg decoder (libvorbis) for Android to avoid the multi-thread problems in the implementation of `OpenSLES`.
I'll try to implement it.

[2016-12-08 07:42] minggo opened #16973 "Mesh enable depth write by default"
https://github.com/cocos2d/cocos2d-x/pull/13635 enables depth write by default no matter it is transparent or not. I don't know why, but obviously it is wrong.

[2016-12-08 19:57] Paco777 commented on #16866
@dumganhar thanks a lot, I will !
And thanks to all the cocos team for this great library and support.

[2016-12-08 22:55] formatCvt commented on #16849
@dumganhar
Sounds good =)

[2016-12-09 03:19] Gofive opened #16975 "SimpleAudioEngine::sharedEngine()->playBackgroundMusic() will stop suddenly with no error"
cocos2d-x V2.6 when i play a mp3 about 1min long, SimpleAudioEngine::sharedEngine()->playBackgroundMusic() will stop suddenly with no error. I test that in Demo TestCpp, meet that again. just meet that on Android .

[2016-12-09 03:38] hgwzyyx opened #16976 "cocos2d-x v3.9 android4.3后的版本getaddrinfo概率闪退"
- cocos2d-x version: 3.9
- devices test on: android4.3以后的所有设备
- developing environments
   - NDK version:android-ndk-r10c
   - Xcode version:
   - VS version: VS 2012
   - browser type and version:

Steps to Reproduce:

1. 安卓4.3版本以后 getaddrinfo会概率性闪退，以下是通过腾讯BUG收集到的闪退log
#00 pc 00026480 /system/lib/libc.so (__srefill +219) [armeabi-v7a]
2 #01 pc 00025b27 /system/lib/libc.so (fread +358) [armeabi-v7

[2016-12-09 06:14] dumganhar commented on #16975
Would this issue exist in v3.x?

[2016-12-09 06:19] dumganhar commented on #16952
@zilongshanren , could you take a look at
[code]
crash problem?

@Dauch , Could it happen because system is lack of memory or something else?

[2016-12-09 06:20] dumganhar commented on #16957
There is nothing described about any issues. Close this one.

[2016-12-09 06:20] #16957 closed, assigned to nobody

[2016-12-09 06:33] dumganhar commented on #16862
PR https://github.com/cocos2d/cocos2d-x/pull/16980 was submitted.

[2016-12-09 06:37] Gofive commented on #16975
@dumganhar  i haven't tested in v3.x

[2016-12-09 06:40] dumganhar commented on #16975
Currently, we don't maintain v2.x, so please check whether this issue exist in v3.x. If it does exist, we will fix it in v3.x.

[2016-12-09 06:43] dumganhar commented on #16960
Javascript doesn't need a cc.ActionTweenDelegate class and also doesn't support multiple inheritance. Just add functions to an object for delegate purpose.

[2016-12-09 07:34] dumganhar commented on #16862
Oops, windows compiler doesn't support this solution:
[code]

[2016-12-09 20:51] chuckhacker commented on #16355
OpenAL-soft has a OpenSLES driver built-in:

https://github.com/kcat/openal-soft/blob/2f1f7f4c6aaf54f9361865d508d82cdf027368bf/Alc/backends/opensl.c

[2016-12-11 22:13] fcapano commented on #16721
Linux builds have been failing for almost two months and no mantainer seems to care...
Last successful build: http://45.56.80.45:8080/job/daily-build-v3/node=linux/606/

[2016-12-12 03:18] ismyhc commented on #8545
Ps. I just downloaded the latest cocos2dx 3.13.1 and created a new project for ios tonight and still had the issue on iphone6 of getFrameSize() returning the wrong size.  It was returning (640x1136) and I was not in zoomed mode.

I was able to add what @slackmoehrle posted above into my info.plist to get it working correctly, but it seems this should've been fixed by now right?

[2016-12-12 03:54] ijm700 commented on #15652
is this issue fixed in the latest version of cocos2dx or do i have to go in the code and make the changes ? @minggo

[2016-12-12 06:39] Gofive commented on #16975
@dumganhar i have tested in v 3.13.1 , it also exist, show my mp3 file. [http://video.tunbaobao.com/test_music.mp3](url). Test by 'Audio-CocosDenshion' item in the 'CocosDenshionTest', SimpleAudioEngine::getInstance()->playBackgroundMusic(MUSIC_FILE);

[2016-12-12 06:52] dumganhar commented on #16975
I tested it with
[code]
And the music file could be played entirely. I could not reproduce the issue. :(

Does this issue only happen on some specific devices?

[2016-12-12 07:08] Gofive commented on #16975
@dumganhar show you the video . It only stop in the first time when i play the music , it's ok in the after playing. I have test in 3 devices .[http://video.tunbaobao.com/test_video.MP4](url)

[2016-12-12 07:31] dumganhar commented on #16975
@longmian , I tested it with cpp-tests. It still worked without any problems.

[2016-12-12 07:37] dumganhar commented on #16975
[doudoulong.mp4.zip](https://github.com/cocos2d/cocos2d-x/files/645302/doudoulong.mp4.zip)

@longmian ,you could check this video.

[2016-12-12 10:20] ghost commented on #11735
I confirm this issue too, it is quite troublesome to not be able to filter only cocos logs!

[2016-12-12 11:23] paddyesch opened #16992 "Calling reorderChild does not update TouchListener with scene graph priority"
- cocos2d-x version: 3.13.1
- devices test on: Windows UWP / Android
- developing environments
   - NDK version: 11
   - Xcode version:
   - VS version: 15
   - browser type and version:

See also: http://discuss.cocos2d-x.org/t/updating-scene-graph-event-order-in-node-sortallchildren/17961/1

Steps to Reproduce:

Parent Node:
- has Child Node 1 (added first -> lower zorder)
- has Child Node 2 (ad

[2016-12-13 05:42] IcarusLi opened #16999 "[Editbox bug] Xcode Device Orientation Portrait"
- cocos2d-x version: 3.11.1
- devices test on: iphone6 6p 6s 6sp 7
- developing environments
   - NDK version:
   - Xcode version:8.1
   - VS version:
   - browser type and version:

Steps to Reproduce:
1. 勾选Xcode中 Device Orientation 的 Portrait 选项。
1.Check this Portrait checkbox .[Xcode -> Device Orientation -> Portrait]
2. 点击Editbox输入完任意字符后，屏幕有较大几率飞到左下角
2.Running this application on iphone6.
Fram

[2016-12-13 08:44] #16768 closed, assigned to dumganhar

[2016-12-14 00:19] ijm700 commented on #16590
@dhuang11 @dumganhar will this occur on all android 7.0 phones ? or was the problem fixed

[2016-12-14 00:33] ijm700 commented on #16912
@minggo how do you recommend we fix this ? or is cocos team already working on it

[2016-12-14 01:32] minggo commented on #16912
I think we can just remove the codes of `if` statement to have a try. I will work on it after releasing v3.14.

[2016-12-14 04:12] dhuang11 commented on #16590
Yes this still occurs on all Android 7.0 phones for us.

[2016-12-14 04:23] ijm700 commented on #16590
@dhuang11 I would test it and see what I could do but I don't have an android 7.0 phone available , I wonder if cocos team figured it out yet

[2016-12-14 04:25] dhuang11 commented on #16590
Of the Android 7.0 phones we have, we've been able to reproduce on:
Nexus 5X
Nexus 6P
LG-V20
Nexus 6
Nexus 9

[2016-12-14 06:08] #16992 closed, assigned to nobody

[2016-12-14 06:56] minggo commented on #16862
May move to in constructor like
[code]

[2016-12-14 07:15] minggo commented on #16976
getaddrinfo is system interface, i will close this issue because:

* no test case to reproduce it
* use Chinese

[2016-12-14 07:15] #16976 closed, assigned to nobody

[2016-12-14 07:16] minggo commented on #16999
Please use english in future, or i will close it.

[2016-12-14 08:56] minggo commented on #16973
fixed in https://github.com/cocos2d/cocos2d-x/pull/17013

[2016-12-14 10:10] #16973 closed, assigned to nobody

[2016-12-14 12:32] liketemple opened #17017 "built faild with json/document-wrapper.h not found."
- cocos2d-x version: 3.13
- devices test on: mac pro
- developing environments
   - NDK version:
   - Xcode version: 8.2
   - VS version:
   - browser type and version:

just simply create a new project, then use xcode to build it, get:
In file included from /Users/like/gitsrc/cocos2dx/cocos/3d/CCAnimation3D.cpp:26:
/Users/like/gitsrc/cocos2dx/cocos/3d/CCBundle3D.h:31:10: fatal error: 'json/docume

[2016-12-14 15:09] sxxdjj opened #17018 "ClippingNode bug"
In the real machine failure.
How to fix?

[2016-12-14 16:25] AIGRIND-LLC commented on #16625
It seems that the current implementation of ```AudioEngine``` is really faulty.
It does not allow to perform any operations with audio right after ```play2d``` call.
For example this code will not work properly:
[code]
Now it's impossible for example to create paused audio to know its audioID or make gap-less switching between two tracks. Also large ogg file can't be played (I've tested on ~5MB fi

[2016-12-14 18:11] ijm700 commented on #16912
ok will this have any effect on my game play if I release to android or should I wait for new update ? @ricardoquesada any recommendations?

[2016-12-14 23:45] stevetranby commented on #16625
@AIGRIND-LLC it's probably a hack, or otherwise should be internalized into the core engine behind the public API, but I believe you could setup a scheduled update function to wait for playability and then call your code.
[code]

[2016-12-15 01:32] minggo commented on #16912
I think it will not affect your game too much, it just prevent to run too fast on devices that has high performance and invoke `onDrawFrame` more than 60 per second.

[2016-12-15 01:33] minggo commented on #16912
I haven't found such a device myself.

[2016-12-15 02:02] knuth opened #17019 "cocos2d-x 3.10 lua project will crash on simulator for XCode 8.2"
- cocos2d-x version: 3.10
- devices test on:
- developing environments
   - NDK version:
   - Xcode version: **Version 8.2 (8C38)**
   - VS version:
   - browser type and version:

I just update the Xcode to 8.2
Steps to Reproduce:

1. create a new lua project based on cocos2d-x 3.10 (e.g. cocos new -p cn.test -l lua Test)
2. build and run on iOS simulator [e.g. iPhone 6 (10.2) or (8.1version)]
3.

[2016-12-15 02:08] zgc0911 commented on #17019
I also met this problem.
How to fix it.

[2016-12-15 02:10] zgc0911 commented on #17019
build and run on iOS simulator(iPhone 6s(10.2 or 9.3)

[2016-12-15 02:59] Gofive commented on #16975
@dumganhar hey,what's device version you test on ? I have tested on two device, Android 4.1.2 is ok, but 5.0 is bad

[2016-12-15 03:56] dumganhar commented on #16975
@longmian , I tested it on Meizu MX3, Android 5.0.1

[2016-12-15 06:16] DavidDeSimone opened #17021 "[RFC] Support of non-bottom left coord system, replacement for ignoreAnchorPointForPosition,"
Proposal:

cocos2d-x only currently supports the origin being in the bottom left. The engine has the ability to change the anchor point of a node, and toggle if this anchor point will be used for positioning calculations, however there is no way to change the basis of the coordinate system. It seems that overall there is a desire to support upper-left, and center based coordinate systems.

This ca

[2016-12-15 09:10] ghost commented on #16647
I worked fine with ndk 13b!
However, it is broken with ndk 11c, you should add this somewhere in the doc.

[2016-12-15 09:10] #16647 closed, assigned to nobody

[2016-12-15 11:12] AIGRIND-LLC commented on #16625
@stevetranby I think due to different threads (scheduler and audio playback) this kind of approach won't work. The audio thread may already start to play track before scheduler calls the update function.

[2016-12-15 15:43] ijm700 commented on #16912
okay, but isn't that a good thing that it doesn't let it go more than 60 fps ? I thought thats how it was supposed to be ?

[2016-12-15 15:51] ijm700 commented on #16912
because if it goes more than 60 fps it could not be good for game play if you built it for 60 fps

[2016-12-15 16:02] ijm700 commented on #16912
http://discuss.cocos2d-x.org/t/too-many-fps-in-android-device/8629/6  something like this could possibly happen

[2016-12-15 19:29] stevetranby commented on #16625
Well these ideas needs to exist then.

- Accept an options dict that supports things like "start this paused", "start this at XX time",  "start this with pitch == .7", etc
- The audio system should also have a "started playing" callback that fires as soon as the audio's state changes to PLAYING.

[2016-12-16 01:31] minggo commented on #17021
Doesn't `Node::setAnchorPoint()` meets it?

Currently, the position set in child is relative to its parent. So i don't quite understand this requirement.

[2016-12-16 01:32] minggo commented on #16912
Yep, that's why i create this issue.

[2016-12-16 01:39] stevetranby commented on #17021
@DavidDeSimone what would your client usage API look like? Is this a positioning method you've used elsewhere?

I think I kind of understand your stated desire to move a node along a path while adjusting anchor,scale, and rotation separately without having to write the re-calculate function to use every step of the action.

I believe the simplest solution working within the bounds of the cocos2d-x

[2016-12-16 01:40] DavidDeSimone commented on #17021
@minggo Thank you for the response, apologies for some miscommunicates. Let me clarify.

Node::setAnchorPoint does meet that requirement, however it also means I must scale and rotate from that point too. The ask is to have the ability to have my anchor point be in the upper left, but scale and rotate around my center (or vice versa). IIRC, Flash is an example of a system like this. The anchor poi

[2016-12-16 01:43] DavidDeSimone commented on #17021
@stevetranby Let me give you more background on my teams current situation.

I work in a legacy cocos2d-x codebase, where old team members wanted 0,0 to be in the upper left hand corner of every view. They heavily modified the transform function in a clunky way to accomplish this.

I have spent the past few days cleaning this up. I have programmed an API for setting 0,0 to be any position you woul

[2016-12-16 02:19] stevetranby commented on #17021
@DavidDeSimone I understand now. I would say as long as it doesn't add any conditionals, change behavior (backward compatible), or otherwise affect performance then it's worth the discussion and I'd post the code as a PR, but you may want to wait for confirmation from the team (ie: @minggo  and company). Otherwise you may also get more discussion over on the forums??
http://discuss.cocos2d-x.org/

[2016-12-16 02:21] minggo commented on #17021
@DavidDeSimone thanks for explanation. I understand the requirement of the `anchor point requirement`. So you want two different anchor points, one for position, one for rations and scale. But it will break compatibility.

About the second requirements of your implementation showed above, it seems it will affect the performance.

[2016-12-16 02:55] dumganhar opened #17022 "LabelIssue4428Test is broken in v3.14"
- cocos2d-x version: 3.14
- devices test on: macOS 10.12.2
- developing environments
   - NDK version:
   - Xcode version: 8.2
   - VS version:
   - browser type and version:

Steps to Reproduce:

Node: Label - New API -> New Label Bugs Test (LabelIssue4428Test)

Result:

The letter of bitmap font isn't flipped.

![new label bugs test](https://cloud.githubusercontent.com/assets/493372/21250144/e80

[2016-12-16 02:58] dumganhar commented on #17022
@ricardoquesada ,

I found that this test case uses getting sprite from bitmap font label and setting flipY for sprite.
It's probably caused by our sprite refactoring.

Could you take a look at this issue? Thanks.

[code]

[2016-12-16 06:52] ricardoquesada commented on #17022
@dumganhar thanks. good catch!

fix is here: https://github.com/cocos2d/cocos2d-x/pull/17025

[2016-12-16 07:43] dumganhar commented on #17022
Thank you. @ricardoquesada . :)

[2016-12-16 08:34] dumganhar opened #17029 "[android] DistanceField label can't work on some android devices"
- cocos2d-x version: v3.13.1, v3.14
- devices test on: Meizu MX3
- developing environments
   - NDK version: r10e
Steps to Reproduce:

cpp-tests -> Node: Label - New API -> 22: New Label + .TTF (Testing rendering base on DistanceField)

Result:

![distancefield](https://cloud.githubusercontent.com/assets/493372/21256467/76e8a8d0-c3ad-11e6-97fc-84994a63e0dc.jpg)

[2016-12-16 10:27] leeyeh opened #17030 "WebSocket JS binding should implement EventTarget"
https://www.w3.org/TR/2011/WD-websockets-20110419/#the-websocket-interface

[2016-12-16 13:01] waqas19921 commented on #8533
@myourys Can you please explain how to do that programmatically.

[2016-12-16 19:11] Islam94 commented on #8488
Hello,

I am trying to install opencv on a beagleboneblack to use in a school project but this error pops up when running the command line make

Please help...
![capture2](https://cloud.githubusercontent.com/assets/24612503/21275159/514c9172-c380-11e6-962d-3aeaa0be461a.PNG)

[2016-12-16 19:12] Islam94 opened #17031 "Opencv [SIZE_MAX] error when installing"
Hello,

I am trying to install opencv on a beagleboneblack to use in a school project but this error pops up when running the command line # make

Please help...
![capture2](https://cloud.githubusercontent.com/assets/24612503/21275206/84ca8ae0-c380-11e6-90d9-31aefb5a1745.PNG)

[2016-12-16 21:57] Rubonnek opened #17032 "CCASSERT is not defined for Linux in debug mode"
- cocos2d-x versions tested: 3.13.1, and latest git commit as of December 16, 2016
- devices test on: Mac Mini late 2014 (Sierra), Arch Linux
- developing environments
   - Mac:  Xcode version: 8.2
   - Linux: GCC version: 6.2.1

Steps to Reproduce - Run for each environment:

1. Create a new project:
[code]
2. Edit HelloWorldScene.cpp -- simply add the same node as a child of the layer various ti

[2016-12-16 22:00] Rubonnek commented on #17032
Just tested Android and the same is happening. The application starts and runs when we compile in Android in debug mode -- CCASSERT does not seem to get defined for Android either.

[2016-12-16 22:20] Rubonnek commented on #17032
For Linux, the issue lies in [this block of ccMacros.h](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/base/ccMacros.h#L39-L54). Changing [line 53](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/base/ccMacros.h#L53) to:

[code]

and recompiling yields the assertion failed error. Seems like COCOS2D_DEBUG is not defined at this point which is why CCASSERT yields nothing in Linux. I'll check

[2016-12-16 23:05] Rubonnek commented on #17032
Just noticed CCASSERT works on Android. The application doesn't crash but `adb logcat` shows the assert message:

[code]

[2016-12-17 13:15] Sejen27 opened #17034 "Could NOT find Freetype (missing: FREETYPE_LIBRARIES FREETYPE_INCLUDE_DIRS)"
- cocos2d-x version:3.13.1
- devices test on:
- developing environments
   - NDK version:android-ndk-r13b

when i compile proj.android-studio with cmake, i encount this error

See also "F:/code/cocos2d-x/Test/proj.android-studio/app/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/CMakeOutput.log".
It appears you are cross compiling for  with Clang
CMake Error at cocos2d/cmake/Modules/FindP

[2016-12-17 13:19] Sejen27 opened #17035 "Could NOT find Freetype (missing: FREETYPE_LIBRARIES FREETYPE_INCLUDE_DIRS)"
- cocos2d-x version:3.13.1
- devices test on:
- developing environments
   - NDK version:android-ndk-r13b

when i compile proj.android-studio with cmake, i encount this error

See also "F:/code/cocos2d-x/Test/proj.android-studio/app/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/CMakeOutput.log".
It appears you are cross compiling for  with Clang
CMake Error at cocos2d/cmake/Modules/FindP

[2016-12-17 13:29] #17034 closed, assigned to nobody

[2016-12-17 17:48] MrCapone opened #17036 "cocos2d::Menu wrong touch logic"
- cocos2d-x version: 3.13.1

Steps to Reproduce:

1. create cocos2d::Menu with multiple menu items
2. press one menu item and move finger (cursor) without touch up to another
3. first menu item become unselected and next one become selected

But it wrong touch logic. menu item must respond to moving touches only when it was touched first.

I recorded webms:
how it works now - https://www.dropbox.c

[2016-12-17 17:51] MrCapone opened #17037 "ui::CheckBox wrong touch logic"
- cocos2d-x version: 3.13.1

Steps to Reproduce:

1. create cocos2d::ui::CheckBox
2. touch it and move move finger (cursor) far from checkbox without touch up
3. release it

checkbox will receive touch but it shouldn't.

I recorded webms:
how it works now - https://www.dropbox.com/s/mjcxr9rgnacxyp4/before.webm
how it should works - https://www.dropbox.com/s/fvpvy48m4k0uo1i/after.webm

[2016-12-18 04:40] fnc12 commented on #16959
probably you pass `Size::ZERO` in `EditBox::create` function as first parameter.

[2016-12-18 04:45] fnc12 opened #17039 "EditBox iOS autocorrection changes UITextView's text but doesn't change EditBox label's text"
- cocos2d-x version: cocos2d-x-3.13.1
- devices test on: iPhone 5s
- developing environments
   - NDK version: none
   - Xcode version: 8.2
   - VS version: none
   - browser type and version: none

Steps to Reproduce:

1. create an EditBox on a scene
2. type something that iOS might autocorrect
3. text is changed well
4. lose focus (tap somewhere outside the editBox)
5. EditBox's text (inactive l

[2016-12-19 01:23] minggo commented on #8488
I think you should read the documentation of opencv about the compiling environment.

[2016-12-19 07:59] nbtthief commented on #16414
@dhuang11  @ermanhaskan hi there, did you solve this bug?? it look like i'm encoutering the same bug as you two

[2016-12-19 08:22] mima-tomotaka commented on #2270
![images](https://cloud.githubusercontent.com/assets/22589352/21305531/a66992a4-c60f-11e6-93eb-d60079a9d3a3.jpeg)

[2016-12-19 08:48] stnguyen commented on #17019
this is urgent, no simulator works for me. anyone has any solution?

[2016-12-19 09:13] ermanhaskan commented on #16414
@nbtthief  I found no solutions to this problem :/

[2016-12-19 11:55] ChristianFischer commented on #16862
AFAIK that's not allowed in standard C++.

Maybe you could try calling another construcor:
[code]

Unfortunately I dont have a MSVC toolchain here so I cannot verify if that works on MSVC.

Otherwise, the easiest solution would be calling `set(...)` (or call `setIdentity` and change setIdentity to avoid the Mat4 constant, too)

[2016-12-20 01:32] #17032 closed, assigned to nobody

[2016-12-20 02:08] liqt opened #17043 "lua-tests crash when LuaStack::init() function invoked lua_open()"
- cocos2d-x version: v3.13.1
- devices test on: ios simulator 5s
- developing environments
   - NDK version:
   - Xcode version: 8.2
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  compile and run lua-tests
2. lua-tests crash when LuaStack::init() function invoked lua_open()

[2016-12-20 03:40] minggo commented on #17043
Yep, i reproduced it. We are working on it.

[2016-12-20 07:54] dumganhar opened #17044 "[win32] AudioEngine doesn't support to play wav file"
- cocos2d-x version: v3.14
- devices test on: Windows 10
- developing environments
   - NDK version: N/A
   - Xcode version: N/A
   - VS version: VS2013
   - browser type and version: N/A

Steps to Reproduce:

1. Just use AudioEngine::play2d("test.wav");
2. No sound output.

[2016-12-20 08:12] takesoon commented on #8305
I have used a violence method to fix this question
in FontAtlasCache.cpp addMethod

[code]
in FontAtlas::listenRendererRecreated
[code]
the reason of the block is fontAtlas sometimes can not be release,but i can't find how it happend

[2016-12-20 08:21] Bilalmirza opened #17045 "AudioEngine choppy sound played on MAC"
use Audio engine to play sound effects. Sounds aren't played correctly.
File type: wav

[2016-12-20 09:07] minggo commented on #17043
Also crashed in Xcode 8.2.1. And the invoking stack is
[code]
`lj_vm_cpcall` is generated in fly using [DynASM](https://luajit.org/dynasm.html) to compile vm_x86.dasc(may use other architecture corresponding files).  And i found `cpluaopen` is invoked correctly, so the error happened inside `lj_vm_cpcall`.

What i found is that, `lj_vm.S`(the assembly codes that generated by DynASM) on Mac and iOS

[2016-12-20 10:57] minggo commented on #17043
It will crash on iOS 10.0 SDK too. Some developer said there is not issue on Xcode 8.1, i will install it to have a try.

[2016-12-20 19:15] bolso80 opened #17046 "Problem with shaders on retina display"
We are trying to draw a circle with shaders and use some math functions to calculate the distance from the center of the circle to the coordinates of pixel to draw.

We do something like this:

First attempt (just use distance function)

[code]

This code does a mask with a red circle without opacity from the "position" like the center of the cirlcle.

This works fine on non retina displays, but w

[2016-12-20 19:27] pablorealini commented on #16849
@dumganhar  Sound good.
Let me know if you find a solution for this, for now @formatCvt workaround seems to work.

[2016-12-21 01:04] zgc0911 commented on #17043
On the Xcode8.1 can work well.

[2016-12-21 02:23] minggo commented on #17046
Could you please provide a test case?

[2016-12-21 02:25] minggo commented on #17046
I think the problem may be:

* gl_FragCoord is resolution depend
* position is always in pixel as cocos2d-x enable retina by default

[2016-12-21 02:27] minggo commented on #17045
It is better to provide the wav file.

[2016-12-21 02:31] minggo commented on #17035
currently, cocos2d-x doesn't support Android Studio + camke.

[2016-12-21 02:32] #17035 closed, assigned to nobody

[2016-12-21 02:33] #17022 closed, assigned to ricardoquesada

[2016-12-21 02:34] minggo commented on #17031
i think you should create an issue to opencv issue sytem instead

[2016-12-21 02:34] #17031 closed, assigned to nobody

[2016-12-21 02:35] minggo commented on #17019
duplicated with #17043

[2016-12-21 02:35] #17019 closed, assigned to nobody

[2016-12-21 02:37] minggo commented on #17018
Sorry, what's the issue? How to reproduce it? What's the engine version?

[2016-12-21 02:38] minggo commented on #17017
I think you didn't update external by running `./download-deps.py`.

[2016-12-21 02:38] #17017 closed, assigned to nobody

[2016-12-21 02:43] minggo commented on #16959
@zilongshanren have you resolved it? I can't reproduce it in v3.14.

[2016-12-21 02:46] minggo commented on #16945
What API level used when building?

[2016-12-21 02:48] minggo commented on #16941
Yep, you are right. We should modify it.

[2016-12-21 02:58] dumganhar opened #17047 "[android] Playing very short audio causes crash on some android devices"
Reported at http://forum.cocos.com/t/cocos2dx-3-13-1-5/42313

- cocos2d-x version: v3.13.1
- devices test on: 华为畅享5
- developing environments
   - NDK version: r10e
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Play audio [x011.mp3.zip](https://github.com/cocos2d/cocos2d-x/files/665364/x011.mp3.zip)

[2016-12-21 03:03] minggo commented on #17036
A menu is the object to accept the touch information. The menu will receive move touch event, and determine which menu item is selected dynamically. So it is not an error, it is designed like this.

[2016-12-21 03:03] #17036 closed, assigned to nobody

[2016-12-21 03:15] pineoc commented on #16945
In my case,
Android OS API : 15
in `build.gradle` file
compileSdkVersion 23
buildToolVersion "23.0.3"

[2016-12-21 03:21] minggo commented on #16941
fixed in https://github.com/cocos2d/cocos2d-x/pull/17048

[2016-12-21 03:49] dumganhar commented on #16849
@pablorealini @formatCvt ,

I reviewed the source code of

https://android.googlesource.com/platform/hardware/samsung_slsi/exynos5/+/android-5.0.1_r1/exynos_omx/openmax/exynos_omx/core/Exynos_OMX_Core.c

https://android.googlesource.com/platform/hardware/samsung_slsi/exynos5/+/android-5.0.1_r1/exynos_omx/openmax/exynos_omx/core/Exynos_OMX_Component_Register.c

, I found this code:
[code]

`Exynos_

[2016-12-21 03:57] dumganhar commented on #16849
UPDATE: Pull Request is here https://github.com/cocos2d/cocos2d-x/pull/17049

@pablorealini , @formatCvt , please help to test and be sure that you have enable multithread decoding(I mean to revert code to ThreadPool::newCachedThreadPool(1, 8, 5, 2, 2)).

[2016-12-21 04:21] pablorealini commented on #16849
That's great! I will help test this tomorrow morning in all our Samsung devices.

Sent from my iPhone

[2016-12-21 07:06] minggo commented on #17043
So it may be a bug of Xcode 8.2. I have not idea how to fix it.

[2016-12-21 07:39] Bilalmirza commented on #17045
I've spent hours finding what is wrong.

Sounds work fine in all scene. But when i play the same sounds in my gamescene (where alot of stuff is happening) It is completely distorted. I cant reproduce this in other projects.  I can only make a video and show it to you. I'll post the video in half an hour.

I think ill stick to cocosdenshion for now.

[2016-12-21 08:45] dumganhar opened #17052 "[android] Cocos2dxActivity is re-created which will cause crash"
It's a bug of android: Please refer to
http://stackoverflow.com/questions/16283079/re-launch-of-activity-on-home-button-but-only-the-first-time/16447508#

- cocos2d-x version: v3.13.1
- devices test on: All android devices
- developing environments
   - NDK version: r10e
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Click 'Run' button in the Installer

[2016-12-21 08:52] dumganhar commented on #17047
Another issue reported by developer seems to be the same as this one:
http://forum.cocos.com/t/cocos3-13-1-note-4-ccexp-audioengine-play2d/42090

[2016-12-21 08:55] Bilalmirza commented on #17045
https://www.dropbox.com/s/cuv2bwrz11jp93i/cocosAudioEngine.mov?dl=0

[2016-12-21 08:59] minggo commented on #17045
@dumganhar please take a look.

[2016-12-21 09:01] dumganhar commented on #17045
@minggo, OK, I'm downloading the video.

[2016-12-21 09:33] dumganhar commented on #17045
@Bilalmirza, It's probably an issue which has been resolved already.
For minimum fix in your current engine, you just need to add a line in AudioCache.mm
[code]
We will release v3.14 in these days. Another way for some audio bug fixes is to pull the latest code in v3.14 branch. Then copy `cocos/audio/apple` folder in v3.14 branch to your engine folder. Don't forget to update xcode project configur

[2016-12-21 09:37] Bilalmirza commented on #17045
@dumganhar Thanks! that fixed it :D

[2016-12-21 09:37] #17045 closed, assigned to nobody

[2016-12-21 09:38] dumganhar commented on #17045
@Bilalmirza, good to hear that it works. :)

[2016-12-21 10:06] shooga opened #17053 "timeout is not working for LuaMinXmlHttpRequest"
Timeout is not working for LuaMinXmlHttpRequest class.
seems like _httpRequest->setTimeoutForConnect() should be called in LuaMinXmlHttpRequest:setTimeout method

[2016-12-21 10:34] rablwupei commented on #14370
这句确实需要.....多谢....iphone6s, ios10.2

[2016-12-21 10:43] yangzhu6263736 commented on #17052
android:launchMode="singleTask"
这个应该对解决这个问题有帮助。

[2016-12-21 13:31] formatCvt commented on #16849
thanks, but doesn't help (Samsung Galaxy Grand). I submitted review with changes, but with my changes it's look like a fake multitherading =)

[2016-12-21 15:31] bolso80 commented on #17046
Hi @minggo

I copy below a link with 3 examples on file fragmentShader.frag, calculating the distance with "distance" function, calculating the distance manualy without abs, and another with abs.

On ipad retina with iOS 9 all the examples behave incorrectly, but on iOS 8 the last one works fine.
On non retina display all of them work fine (when testing on mac they also work).

https://drive.googl

[2016-12-21 20:22] bolso80 commented on #16849
@dumganhar we tested your change with the revert to (ThreadPool::newCachedThreadPool(1, 8, 5, 2, 2))) on galaxy s3, s4 and s6 edge and is working.

[2016-12-21 21:03] bsy6766 commented on #16481
Will there be an update for GLFW on Cocos2d-x? Latest GLFW (on github not released version) added awesome feature for desktop platform window settings and would love to PR new features.

[2016-12-22 01:15] DavidDeSimone commented on #17021
@stevetranby That's a good callout. I will prepare a post on the forums and let people discuss this matter there.

@minggo I believe this will be backwards compatible.

I think at this point, it would be best to let the code speak for itself. Here is my current work in progress patch:

[positionBasis.txt](https://github.com/cocos2d/cocos2d-x/files/667774/positionBasis.txt)

[2016-12-22 01:50] dumganhar commented on #16849
@bolso80, good to know it works for you.
But @formatCvt still get problem on `Samsung Galaxy Grand`.
@bolso80 , did you have a Samsung Galaxy Grand to test?

[2016-12-22 01:53] dumganhar commented on #16849
@formatCvt , did the crash stack on your `Samsung Galaxy Grand` the same as @bolso80 and @formatCvt  got?
I just wanna confirm that whether it's the same issue.

[2016-12-22 01:56] huangapple opened #17054 "3.14 support ssl?"
3.14 support ssl?

[2016-12-22 02:00] minggo commented on #17046
I tested it, it works fine on Mac OS X(10.12.2). And it is wrong on my iPhone6(10.1.1), the whole screen will be red at the end. I tested example 1, i will test others and try to find the reason.

Edit: i used latest codes in v3.14 branch.

[2016-12-22 02:27] Dauch opened #17055 "When creating the tableView cells, click the tableView area quickly, it crashes."
- cocos2d-x version:3.13.1
- devices test on: win7
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: vs2015
   - browser type and version:

Steps to Reproduce:

[2016-12-22 04:04] slackmoehrle commented on #17054
of course and we have had SSL support for a long time. We use OpenSSL.

[2016-12-22 06:21] stevetranby commented on #17021
Initial glance:

It does add conditionals, but they look to be limited to the infrequent code paths (in common case), `setContentSize` and `Node::getNodeToParentTransform()`.

You also prevent dirty flag being set (backward incompatibility):
[code]
It does appear to be backward compatible, but if you don't use this feature there are 2 extra conditional tests that will run always, but as above usua

[2016-12-22 09:57] minggo commented on #17046
I have not idea of this issue. @ricardoquesada any idea?

[2016-12-22 09:59] formatCvt commented on #16849
Hmm, may be you are right and this is a different issue.
I have two types of crash (both with and without patch from pull request #17049 ):
`D/CrashAnrDetector(  549): Build: samsung/baffinxx/baffin:4.2.2/JDQ39/I9082XXUBNA4:user/release-keys`
`D/CrashAnrDetector(  549): Hardware: capri`
`D/CrashAnrDetector(  549): Revision: 5`
`D/CrashAnrDetector(  549): Bootloader: unknown`
`D/CrashAnrDetector(

[2016-12-22 13:29] koestlerWang commented on #16894
3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333

[2016-12-22 13:42] Guy-kun commented on #15367
A bump to this because it happens on every device I've encountered and gives a pretty bad development experience:
Having to quickly unlock the device every time before your development tool pushes the app or ending up with the wrong orientation

[2016-12-23 01:20] zgc0911 commented on #17043
I find a new version of Xcode, i will download Xode 8.2.1 to have a try.

[2016-12-23 01:56] minggo commented on #17043
It crashed in Xcode 8.2.1 too as i mentioned above.

[2016-12-23 02:07] #17054 closed, assigned to nobody

[2016-12-23 02:15] ricardoquesada commented on #17046
@minggo I think it is as you said... we are not using independent resolution variables in our shaders.

Is this a v3.14 bug? otherwise I can take a look at it for v3.15

[2016-12-23 02:19] minggo commented on #17046
No, it is not a v3.14 bug.

[2016-12-23 02:28] pablorealini commented on #17046
Do you have any viable workaround for this or maybe we should wait for a fix in 3.15?
Thanks both!

[2016-12-23 03:27] zgc0911 commented on #17043
Sorry，I didn't see clear，I think you may be using Xcode 8.2. Because, this version was released in two days ago.

[2016-12-23 05:43] huangapple commented on #17054
@minggo
socketio support ssl?

[2016-12-23 05:46] minggo commented on #17054
yep, socketio uses HttpClient, and HttpClient supports ssl. Did you meet any problem?

[2016-12-23 05:50] huangapple commented on #17054
@minggo
https://github.com/cocos2d/cocos2d-x/issues/15972
Has it been solved?

[2016-12-23 05:55] minggo commented on #17054
No, it is not fixed. We will fix it ASAP.

[2016-12-23 05:59] minggo commented on #17046
It it caused by precision. You can added `precision highp float;` at the begin of fragmentShader.frag.

@ricardoquesada i think we can change the default precision to highp, i met similar issue a few days ago.

[2016-12-23 05:59] #17046 closed, assigned to nobody

[2016-12-23 17:17] slackmoehrle opened #17059 "3D physics debug draw showing wrong"
Please see this forum post: http://discuss.cocos2d-x.org/t/in-v3-13-1-3d-physics-debug-draw-showing-wrong/33880/

Screenshots included and reproducible by just running `cpp-tests`.

[2016-12-24 01:33] liqt commented on #17043
I had try xcode 8.2 and ios simulator 5  to test， it runs ok， simulator 5s
or above simulator all crash

2016-12-23 11:27 GMT+08:00 zgc0911 <notifications@github.com>:

[2016-12-24 09:01] Sluysarev opened #17060 "The control buttons+Box2d+scrolling"
The control buttons are located in the lower left corner as you move the player control buttons are moved, how to make sure that buttons were always in the left corner and did not move?
![scrolling](https://cloud.githubusercontent.com/assets/23049273/21466134/f95c0004-c9c6-11e6-9e02-d64291b689f0.jpg)

[code]

------------------------------------------------
cocos2d-x version: Cocos2d-x 3.13.1
VS v

[2016-12-25 09:39] Bilalmirza opened #17062 "Add $(SRCROOT)/../cocos2d/cocos/editor-support"
Sorry accidentally created this topic twice.

[2016-12-25 09:40] Bilalmirza opened #17063 "Add "$(SRCROOT)/../cocos2d/cocos/editor-support" to target in xcode"
- cocos2d-x version: v3.13

Steps to Reproduce:

1. #include <spine/spine-cocos2dx.h>
2. All spine files will generate an error because header search files dont have path the editor support.

[2016-12-26 01:34] minggo commented on #17043
@liqt it is because you use old cocos2d-x version. In latest cocos2d-x codes, it uses luajit for all platforms.

[2016-12-26 06:15] #17062 closed, assigned to nobody

[2016-12-26 06:18] jasonlxz opened #17064 "cocos-js apk carsh problem!Help"
- cocos2d-js version:3.6

Steps to Reproduce:

1. I build an anroid apk file, but it run to an android mobile to carsh.I watch device logcat, found the message  "Permission Denied:checkComponentPermission() owningUid:10122", how can i deal it?

[2016-12-26 09:06] nineskys opened #17066 "i want to disable association function of Input method,but it will cause a crash of ios."
- cocos2d-x version:3.13.1
- devices test on:itouch5
- developing environments
   - NDK version:
   - Xcode version:4.6
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. void GLViewImpl::setIMEKeyboardState(bool open)
{
    CCEAGLView *eaglview = (CCEAGLView*) _eaglview;

    if (open)
    {
        [eaglview becomeFirstResponder];
        [eaglview setAutocorrectionType:UIT

[2016-12-26 10:52] Kotaiba opened #17068 "ui::ListView setGlobalZOrder will Show Green Background ."
- cocos2d-x version:3.13
- devices test on:ios

Steps to Reproduce:

1. _listView->setGlobalZOrder(204);
2. will show green background .
<img width="1127" alt="screen shot 2016-12-26 at 1 46 36 pm" src="https://cloud.githubusercontent.com/assets/3635272/21480825/a6e10276-cb69-11e6-9a8b-ce0d196185db.png">

[2016-12-26 13:34] geeksupport1 commented on #15969
http://stackoverflow.com/questions/30385939/git-clone-fails-with-sslread-error-on-os-x-yosemite

Here is a simple way to connect with your WIFI -

Click on Edit from the menu section
Virtual Network Editor
Change Settings
Add Network
Select a network name
Select Bridged option in VMnet Information -> Bridge to : Automatic
Apply
That's it. You might be asked password to connect. Add it and you woul

[2016-12-26 19:36] fyt000 opened #17069 "Using contentSize instead of winSize for Menu"
As in title, Menu always set everything with respect to windows size.
For example,
In Menu::alignItemsInColumnsWithArray we have
`Size winSize = Director::getInstance()->getWinSize();`
The position of each MenuItem will be set relative to the winSize. This makes it very difficult to align items in a given area, it always expands to the whole screen.
I suggest changing it to the following
`Size win

[2016-12-27 01:53] dumganhar commented on #16849
@formatCvt, thanks for your feedback.
I will try to refactor decoding thing for android.
For first test, decoding ogg by third-party library will improve performance by twice, I mean time cost will be half.

I will continue to investigate and let you know.

[2016-12-27 02:09] dumganhar opened #17070 "The 'disconnect' event could not be triggered while closing SocketIO"
Just reported by a developer, we need to make a test case to reproduce it.

[2016-12-27 04:01] mangogan-git commented on #15312
I have same issue

I think it's cause by this:
[https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/js-bindings/script/ccui/jsb_cocos2d_ui.js#L567](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/js-bindings/script/ccui/jsb_cocos2d_ui.js#L567)

edit to
`if (url.indexOf("http://") >= 0 || url.indexOf("https://") >= 0)`

it work for me

[2016-12-27 06:19] Bilalmirza commented on #17069
I think it would be better if its
menu->setPosition(Point::Zero);

I have to call this every time i create a menu.

[2016-12-27 16:16] xdeop commented on #15713
Hi,
The error is still appearing using android NDK R13 with cocos2dx 3.13.1 version.

$ cocos compile -p android --android-studio

Android NDK: ERROR:/Users/xxx/Projects/Cocos2dx/SampleProject/proj.android-studio/../cocos2d/external/freetype2/prebuilt/android/Android.mk:cocos_freetype2_static: LOCAL_SRC_FILES points to a missing file
Android NDK: Check that /Users/xxx/Projects/Cocos2dx/SampleProje

[2016-12-28 04:03] zilongshanren opened #17076 "call label::disableEffect many times will compress the label to one character"
var tipLabel = new ccui.Text("一个大傻帽", app.TITLE_FONT_NAME, scaledFontSize(30));
		tipLabel.setColor(cc.color("#ffffff"));
		tipLabel.setTextHorizontalAlignment(cc.TEXT_ALIGNMENT_CENTER);
		tipLabel.x = cc.winSize.width * 0.5;
		tipLabel.y = cc.winSize.height * 0.5;
		aa.scheduler.loopCall(function() {
			tipLabel.disableEffect();
			tipLabel.enableOutline(cc.color("#ffffff"),3);
		}, null, 0.1, 20

[2016-12-28 09:52] aseem2625 opened #17077 "Bug in RichText::createWithXML()"
using Cocos2d-x 3.11.1, Android.

```cardFooter = ui::RichText::createWithXML("<font color='#545454' face='fonts/Open_Sans/OpenSans-Regular.ttf' size='32'> Here is my  <b>TEXT</b></font>");```

I've to give double space before ``<b>`` to get a single space on my screen.

[2016-12-28 10:35] minggo commented on #15972
After enable ssl support and update lws to v2.1.0, it will crash if creating more than one WebSocket instance. The reason is discussed [here](https://github.com/warmcat/libwebsockets/issues/468).

It seems we should only create one lws context, which means should refactor the implementation of WebSockets. Currently, WebSockets will create a new thread and create a new lws instance. We should use o

[2016-12-28 20:34] bouc0277 commented on #16565
Is this still being fixed in 3.14?

[2016-12-29 01:16] minggo commented on #16565
it is fixed

[2016-12-29 05:53] bouc0277 commented on #16565
on 3.14? I am still seeing this on 3.13.1

[2016-12-29 05:58] minggo commented on #16565
Yep, i will be in v3.14 as the `Milestone` is marked as v3.14. And you can refer to the above PR that you can apply to your engine.

[2016-12-29 06:00] #17076 closed, assigned to nobody

[2016-12-29 06:06] zilongshanren opened #17083 "TextField shouldn't use autoCorrection on iOS platform"
Because the auto correction feature is not working with TextField and people usually don't want autoCorrection when typing.

[2016-12-29 06:22] #16614 closed, assigned to nobody

[2016-12-29 07:42] #16849 closed, assigned to dumganhar

[2016-12-29 08:44] minggo commented on #17077
I tested with latest codes in v3.14 branch, it seems it is fixed. You can have a try.

[2016-12-29 08:44] #17077 closed, assigned to nobody

[2016-12-29 08:49] minggo commented on #17069
@three0s it sounds reasonable.
@ricardoquesada what's your opinion?

[2016-12-29 09:04] minggo commented on #17068
global z order is used to sort commands, less global z order will be renderer first. So what's the global z order of the background?

[2016-12-29 09:09] minggo commented on #17066
Sorry, i don't quite understand the `Steps to Reproduce`. Could you please describe it in more detail? Thanks.

[2016-12-29 09:13] minggo commented on #17064
What's `checkComponentPermission()`? cocos2d-x doesn't have the interface.

[2016-12-29 09:14] aseem2625 opened #17086 "CC_SPRITE_DEBUG_DRAW = 2 is not drawing texture area"
using Cocos2d-x 3.11.1, Android.

In ``/base/CCConfig.h``
``#define CC_SPRITE_DEBUG_DRAW 2``

Setting it 2 only gives what setting it 1 gives which is outline. I need to draw debug texture area.
AFAIK, it used to work in 3.10.

Please close if it works fine in v3.14.

Thanks

[2016-12-29 09:15] Kotaiba commented on #17068
@minggo  i don't have background ,this will popup at the top of game scene that have many objects with deferent global z order.
this is how it will look like without global  z order
<img width="1127" alt="screen shot 2016-12-29 at 12 15 59 pm" src="https://cloud.githubusercontent.com/assets/3635272/21540523/4718ec18-cdb8-11e6-81ab-3a3bf3b80a03.png">

[2016-12-29 09:15] minggo commented on #17063
i think you just need to include `#include "spine/spine.h"` to use spine.

[2016-12-29 09:18] minggo commented on #17068
I don't quite understand the issue. Did you mean the background changes to green or it is a green background but now it is on the top?

[2016-12-29 09:19] minggo commented on #17068
Could you please provide a test case to reproduce it?

[2016-12-29 09:19] Kotaiba commented on #17068
@minggo  I mean if i set global z order for listView a green layer will show from no where

[2016-12-29 09:24] minggo commented on #17059
It is fixed in https://github.com/cocos2d/cocos2d-x/pull/16927

[2016-12-29 09:24] #17059 closed, assigned to nobody

[2016-12-29 09:28] Kotaiba commented on #17068
@minggo  you can use cocos2d test , bool UIListViewTest_Vertical::init()
remove this line
  _listView->setBackGroundImage("cocosui/green_edit.png");
and add  GlobalZOrder you will see the green layer
    _listView->setGlobalZOrder(200);

<img width="742" alt="screen shot 2016-12-29 at 12 27 05 pm" src="https://cloud.githubusercontent.com/assets/3635272/21540717/dcbd3bb0-cdb9-11e6-974c-f1918d5685e0

[2016-12-29 09:35] jasonlxz commented on #17064
It's android interface,I build to apk,it carsh and I saw that logcat,but i found other problem to make the app carsh, cc.Tableview  , it run with Brower is ok, but build apk run into mobile, it carsh,

the code:

this.tableView = new cc.TableView(this, cc.size(contentSize.width, 413));
        this.tableView.setDirection(cc.SCROLLVIEW_DIRECTION_VERTICAL);  //设置table 方向
        //this.tableView.set

[2016-12-29 09:39] minggo commented on #17064
Could you please provide a test case to reproduce it? Thanks.

[2016-12-29 09:40] jasonlxz commented on #17064
/**
 * Created by junfeng on 2016/12/7.
 */

var CustomTableViewCell = cc.TableViewCell.extend({
    draw:function (ctx) {
        this._super(ctx);
    }
});

var RankItem = cc.Layer.extend({
    ctor : function () {
        this._super();
        this.init();
    },

    tableView : null,
    itemSize : cc.size(0,0),

    init : function () {
        var bg = new cc.Sprite(rank_img_res.rank_bg);

[2016-12-29 09:53] minggo commented on #17068
Yep, after adding `_listView->setGlobalZOrder(200)`, the background becomes green. I will take a look.

[2016-12-29 10:02] minggo commented on #17064
@jasonlxz thanks, how can i use it? Could you please tell me how to do it step by step? Thanks.

[2016-12-29 10:30] hussain-sohaib opened #17087 "vungle wrapper crash"
VungleWrapper.mm line 127
-[PluginVungleDelegate vungleSDKAdPlayableChanged:]

this line causes the app to crash. how do we fix it. the app crash on a scene which is not handling vungel delegate.

- cocos2d-x version: 3.10
- devices test on: iPhone 6s+

[2016-12-30 01:47] toreinkun opened #17089 "there is not a release invoking in some block inside LuaMinXmlHttpRequest::_sendRequest"
lua_xml_http_request.cpp:201 and lua_xml_http_request.cpp:229 need invoke self:release() before return.

[2016-12-30 02:11] ricardoquesada commented on #17069
@minggo makes sense. PR here: https://github.com/cocos2d/cocos2d-x/pull/17090

[2016-12-30 02:58] minggo commented on #17069
@ricardoquesada thanks. The PR breaks compatibility, i think it is better to keep compatible by default, and add a new method to use content size.

[2016-12-30 03:26] fyt000 commented on #17069
or just add a default parameter to use the windows size

[2016-12-30 03:43] nineskys commented on #17066
ok.
Reproduce
1.set a uitextfield for inptut
2.input some words and click association you will find no word input.
3.then add this line [eaglview setAutocorrectionType:UITextAutocorrectionTypeNo];
4.repeat 1,2 you will got a crash.

[2016-12-30 04:26] ricardoquesada commented on #17069
@minggo it might break compatibility if the user changed the menu's `contentSize` manually.
But by default, the menu's `contentSize()` is the Director's `contentSize`.
See this line:
https://github.com/cocos2d/cocos2d-x/blob/cocos2d-x-3.13.1/cocos/2d/CCMenu.cpp#L142

[2016-12-30 08:33] Bilalmirza commented on #17069
hey,
I was wondering why use contentSize? All nodes are created with Point::Zero position why change it here? I understand its usability in multi-resolution but we lose the consistency in code due to this.

[2016-12-30 09:52] Bilalmirza commented on #17063
@minggo
It seems like i have to make a video for every issue to prove it :(
there are 2 bugs with a new project

steps to reproduce:
1. pull latest repo
2.cocos new test -l cpp
3. run project
4. will give error of document-wrapper.h

"let me know if you want me to create a new issue for this"

5. change all document-wrapper.h to document.h
6. project will run

2nd bug: spine error mentioned above!

[2016-12-30 10:37] suroorwijdan opened #17091 "Failed to find class DTiPhoneSimulatorSystemRoot at runtime"
- cocos2d-x version: cocos2d-x-3.13.1
- devices test on: running build on simulator ios
- developing environments
   - NDK version: android-ndk-r13b
   - Xcode version: Version 8.1 (8B62)
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  cocos run -p ios
2. Build Succeeds but simulator doesn't open up and following is the out in the console Failed to find class DTiPhoneSimu

[2016-12-30 17:20] tankorsmash opened #17092 "ProgressTimer have setPercentage, but ui::Slider, ui::LoadingBar etc have setPercent, making ProgressTo useless for those ui nodes, what to do?"
- cocos2d-x version: 3.10

I only noticed because the `ProgressTo` Action wasn't doing anything (because of a [cast](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCActionProgressTimer.cpp#L80)) when I set it to run on a `ui::LoadingBar`.

Is it worth changing the `ui` nodes to all use the `setPercentage` style, and which allows the Action to be run on both, and clears up any confusion bet

[2016-12-30 17:24] ricardoquesada commented on #17069
@Bilalmirza
sorry, I didn't understand the question.
we are not changing menu's contentSize. we are just using it instead of using Director's winSize. And by default, menu's contentSize is Director's winSize.

[2016-12-30 20:25] Bilalmirza commented on #17069
@ricardoquesada  oh okay, thanks

[2016-12-31 18:22] alkhimey commented on #15137
Another problem, my system does not have ```fmod``` installed at all but ```build/install-deps-linux.sh``` did not even alert me about it. (cocos version 3.13.1)

[2017-01-01 01:33] Rubonnek opened #17093 "HelloWorld::init() does not get called when HelloWorld::createWithPhysics() is called."
- cocos2d-x version: latest git repository as of December 31, 2016
- devices test on: Linux, Mac
- developing environments
   - Mac Xcode version: 8.2
   - Linux GCC: 6.2.1

Steps to Reproduce:

1. Create a new CPP sample project:
[code]
2. Change [line 8 from HelloWorldScene.cpp](https://github.com/cocos2d/cocos2d-x/blob/v3/templates/cpp-template-default/Classes/HelloWorldScene.cpp#L8) to:
[code]

[2017-01-01 02:31] Rubonnek commented on #17093
Related:
* Issue: #16941
* Pull Request: #17048

[2017-01-01 05:30] Rubonnek commented on #17093
The problem lies in [lines 41 through 56 of CCPlatformMacros.h](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/CCPlatformMacros.h#L41-L56). Doing the changes I stated above to HelloWorldScene.cpp avoids running the `create()` function created by the `CREATE_FUNC` macro which also avoids running the `HelloWorld::init()` method.

Changing [line 8 of HelloWorldScene.cpp](https://github.c

[2017-01-01 07:23] luyikk commented on #16506
@minggo  我有碰到这个问题，这个问题怎么解决？ WIN10 手机根本就无法使用。

[2017-01-01 08:46] Bilalmirza commented on #17063
@minggo  Due to document-wrapper.h bug... "cocos gen-libs -c" doesn't compile either!

[2017-01-01 16:28] Rubonnek commented on #17093
Just noticed that the proper way of initiating a scene with physics now is to change [line 16 of HelloWorldScene.cpp](https://github.com/cocos2d/cocos2d-x/blob/v3/templates/cpp-template-default/Classes/HelloWorldScene.cpp#L16) to the following:
[code]

[2017-01-01 16:28] #17093 closed, assigned to nobody

[2017-01-02 09:29] fatfatson commented on #17043
严重关注。。。现在模拟器跑不起，真机似乎无问题。

[2017-01-02 13:40] siarsky opened #17096 "Android 6.0 : TextFieldTTF (Text Input) Soft Keyboard in full screen"
- cocos2d-x version: cocos2d-x-3.13.1
- devices test on: Phone Wiko3 (**Android 6.0**) and Tablet Nexus 7 (**Android 5.1.1**)
- developing environments
   - NDK version: NDK 4.9, android-19

Steps to Reproduce:
1. compile cppTests
2. run them on Android 5.* and 6.* device
3. run test 51 : Node : Text Input
4.  On **Android 5.1.1** the soft keyboard is **shown correctly** - does not cover the entir

[2017-01-03 01:48] minggo commented on #17063
You should update the 3rd party library by running `./download-deps.py`

[2017-01-03 01:53] #17069 closed, assigned to ricardoquesada

[2017-01-03 01:57] liqt commented on #17043
@minggo i used the latest cocos2d-x version, ios simulator 5 is ok, 5s or +
is crashed, it seems the luajit lib not

compatibility with xcode 8.2 and ios simulator 5s or 5s+

2017-01-02 17:29 GMT+08:00 fatfatson <notifications@github.com>:

[2017-01-03 02:01] minggo commented on #17043
@liqt what i mean latest cocos2d-x is v3.14 which will be released in these days. Yep, luajit is not compatible with Xcode8.2, and i am not sure if it is a problem of luajit or Xcode8.2.

[2017-01-03 02:24] #16045 closed, assigned to dumganhar

[2017-01-03 02:27] #10438 closed, assigned to nobody

[2017-01-03 02:27] #16784 closed, assigned to nobody

[2017-01-03 02:34] minggo commented on #14349
Close it since it is a duplicate issue.

[2017-01-03 02:34] #14349 closed, assigned to dumganhar

[2017-01-03 02:37] minggo commented on #15017
the latest version doesn't have the issue, so close it

[2017-01-03 02:37] #15017 closed, assigned to zilongshanren

[2017-01-03 02:56] #14335 closed, assigned to dumganhar

[2017-01-03 07:31] silly0128 commented on #17043
我也碰到这个问题，可能跟32位和64位有关，iphone5是32位cpu，iphone5s及之后都是64位cpu

[2017-01-03 07:39] luyikk opened #17097 "Windows10 Mobile D3D11: Removing Device."
- cocos2d-x version: 3.8
- devices test on: NOKIA Lumia 929
- developing environments
   - NDK version:  Windows Mobile 10.0.14393.448
   - VS version: VS 2015 UPDATE 3
   - browser type and version: #WIN10  10.0.14393.448
Steps to Reproduce:

WIN10 手机 模糊+崩溃：

LOG：
D3D11: Removing Device.
0x77014B37 处(位于 ZYCS.exe 中)引发的异常: Microsoft C++ 异常: _com_error，位于内存位置 0x0A1DDD28 处。
0x77014B37 处(位于 ZYCS.exe 中

[2017-01-03 08:38] minggo commented on #17068
fixed in https://github.com/cocos2d/cocos2d-x/pull/17098

[2017-01-03 08:42] Bilalmirza commented on #17063
@minggo ./download-deps.py removes the document-wrapper error... but doesn't remove the spine bug

[2017-01-03 09:16] minggo opened #17099 "Use highp in shaders by default"
Currently, the default float precision is mediump, and it will cause problems which are difficult to fix, such as this one https://github.com/cocos2d/cocos2d-x/issues/17046. And i also met similar issue in Chinese forum. I think we should change to use highp by default.

@ricardoquesada what's your opinion?

[2017-01-03 09:24] Bilalmirza commented on #17063
http://discuss.cocos2d-x.org/t/spine-include-spine-spine-cocos2dx-h-file-not-found-solved/30862

heres a 4 month old forum post about it too.

[2017-01-03 09:27] minggo commented on #17063
But why did you include `<spine/spine-cocos2dx.h>` instead of `spine/spine.h`?

[2017-01-03 09:30] Bilalmirza commented on #17063
spine/spine.h doesn't work. Is it suppose to or am i missing something?

[2017-01-03 09:31] Bilalmirza commented on #17063
https://www.dropbox.com/s/86xdvuvtsk2f2j1/Screen%20Shot%202017-01-03%20at%202.32.36%20PM.png?dl=0

[2017-01-03 09:35] Kotaiba commented on #17068
@minggo  great will test it soon ,can you please take a look at this globalZorder issue .https://github.com/cocos2d/cocos2d-x/issues/16726

[2017-01-03 09:39] minggo commented on #17063
I added `spine/spine.h` in `cpp-empty-test`, no problem. I will create a new project to have a try.

[2017-01-03 09:57] Bilalmirza commented on #17063
thanks :)

[2017-01-03 09:59] minggo commented on #17063
Yep, it has problem in new project.

[2017-01-04 01:48] iNeverSleeeeep commented on #16291
对不起现在才看到这个。我想用中文回复因为我的英文较差，很难表达我的意思，希望你理解。
上面那个测试用例可能在实际项目中不会有很大影响，我是觉得我们项目有内存泄漏问题时测出的这个问题。
我现在的项目不用cocos2d-js了，上一个使用js的项目已经上线。
个人认为spidermonkey在GC方面有很大的问题（卡顿明显），是否有内存泄漏并不是很确定（使用xcode leaks可以看到内存泄漏）。希望cocos creator能注意到这些: )。

[2017-01-04 02:33] minggo commented on #16726
I think you can change to the codes
[code]
to
[code]
Because std::sort can not guarantee that the order of equal elements is to be preserved.

Edit: The codes is in `CCRenderer.cpp`

[2017-01-04 03:07] #17068 closed, assigned to minggo

[2017-01-04 03:13] hgwzyyx opened #17102 "lua_cocos2dx_Widget_addTouchEventListener crash"
- cocos2d-x version: v3.9
- devices test on:Does not distinguish between devices
- developing environments
   - NDK version:NDK-r10e
   - Xcode version:8.2
   - VS version:VS2013
   - browser type and version:

Steps to Reproduce:

crash random happen
crash stack:
#00 pc 005895b6 libcocos2dlua.so addCustomHandler (E:/WPYSStudio2/Client/frameworks/runtime-src/proj.android/../../cocos2d-x/cocos//scr

[2017-01-04 04:00] #17083 closed, assigned to nobody

[2017-01-04 08:45] gelldur commented on #16483
Ok something here isn't okay. I will prepare small test case in few days.

[2017-01-04 09:17] #17060 closed, assigned to nobody

[2017-01-04 16:55] ricardoquesada commented on #17099
@minggo
what about doing something like:
if phone is "fast enough", use `highp`, otherwise, keep using `mediump` ?

is there a way to figure out the GPU speed of the phone?

[2017-01-04 19:18] aipeople opened #17107 "`setSurfaceVelocity` not works on iOS device"
Things work fine on Mac.
However, on a real device, calling `setSurfaceVelocity` shows no effects.

- cocos2d-x version: 3.13.1
- devices test on: iPhone 6, iOS 10.2
- developing environments
   - Xcode version: 8.2.1

Steps to Reproduce:
[code]

[2017-01-04 19:37] slackmoehrle opened #17108 "Video Player always plays video on top, regardless of z-order."
- cocos2d-x version: 3.13.1
- devices test on: iPhone 7P

Video Player always plays a video on top, regardless of z-order. You can test this in cpp-tests.
1. run the default test and play a video.
2. add a Sprite and give it a z-order higher than the video player. Re-run cpp-tests. Notice the Sprite is on top of the video player. Press play. Video then comes to the top.
3. I tried adding a Layer,

[2017-01-05 01:25] minggo commented on #17099
I am not sure. I will do some research.

[2017-01-05 01:49] minggo commented on #17108
Videoplayer just use system widget, it is not rendered by OpenGL ES, there is not z value concept about it.

[2017-01-05 01:49] #17108 closed, assigned to nobody

[2017-01-05 02:03] bingle123 commented on #17043
严重关注

[2017-01-05 02:50] minggo commented on #17102
any codes to reproduce it?

[2017-01-05 03:01] natural-law commented on #17091
@suroorwijdan
The problem is solved is [this PR of cocos2d-console](https://github.com/cocos2d/cocos2d-console/pull/388). But I'm sorry that version 3.13.1 is not include the change.

So, maybe you can solve the problem by one of the two solutions:
1. Update the engine.
2. Apply the change in the cocos2d-console of your engine manually.

Sorry for the inconvenience!

[2017-01-05 03:02] #17091 closed, assigned to nobody

[2017-01-05 03:05] minggo commented on #17087
sorry, what's vungle? It is not part of engine.

[2017-01-05 03:05] #17087 closed, assigned to nobody

[2017-01-05 03:10] hussain-sohaib commented on #17087
vungle sdkbox

On Thu, Jan 5, 2017 at 8:05 AM, minggo <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-01-05 03:16] zilongshanren opened #17114 "ui::EditBox setPlaceHolderFontColor crash when creating single line EditBox"
- cocos2d-x version: cocos2d-x-3.14
- devices test on: iphone 7 with iOS 10.2
- developing environments
   - NDK version: NA
   - Xcode version: 8.2
   - VS version: NA
   - browser type and version: NA

Steps to Reproduce:

1.  create a EditBox with InputMode::SINGLE_LINE
2.  call method `setPlaceholderFontColor`

[2017-01-05 03:25] DavidDeSimone commented on #17114
@zilongshanren I believe this may have been introduced in https://github.com/cocos2d/cocos2d-x/pull/16821, and I believe is fixed in https://github.com/cocos2d/cocos2d-x/pull/16915

[2017-01-05 03:27] zilongshanren commented on #17114
@DavidDeSimone
👍   thanks, I'm considering to fix this issue and you guys had already fixed it.

[2017-01-05 03:59] minggo commented on #17087
Oh, this repo is not for sdkbox. You should report it to sdkbox guys.

[2017-01-05 05:57] minggo commented on #17086
I tested in v3.14, there is debug texture area with sprites, so close it.

[2017-01-05 05:57] #17086 closed, assigned to nobody

[2017-01-05 06:13] minggo commented on #17066
Word is input and shown. You can run `cpp-tests -> Node: UI -> GUI Dynamic Create Test -> TextField Test`.

[2017-01-05 06:52] nineskys commented on #17066
use this component UICCTextField or run Node:textInput test and click association will got nothing.

[2017-01-05 06:57] minggo commented on #17066
What did you mean? I can get input in `Node:textInput` if i click the words input.

[2017-01-05 06:58] nineskys commented on #17066
click association function ,no word input.

[2017-01-05 07:03] nineskys commented on #17066
input some  word , you will get the association words then click it,you will find  no  word input.

[2017-01-05 07:04] nineskys commented on #17066
@minggo

[2017-01-05 07:07] minggo commented on #17066
Did you mean the small triangle? I can get input.

[2017-01-05 07:10] minggo commented on #17066
Oh, i got it. Yep, i can get the associated words, though just show squares because it doesn't show Chinese words.

[2017-01-05 07:11] minggo commented on #17066
But there is not associated words if inputing English words. I am using latest codes and iPhone6.

[2017-01-05 07:19] nineskys commented on #17066
you can use ipad.

[2017-01-05 07:20] nineskys commented on #17066
@minggo

[2017-01-05 07:21] nineskys commented on #17066
or with simulator 5s

[2017-01-05 07:40] minggo commented on #17066
this issue doesn't exist on iPhone6?

[2017-01-05 08:41] danut007ro opened #17116 "Setting opacity on an ui::Button doesn't work anymore ?"
- cocos2d-x version: 3.14
- devices test on: linux, android
- developing environments
   - NDK version: r10e
   - Xcode version:
   - VS version:
   - browser type and version:

A new project on 3.13.1 is ok, but a new project on 3.14 doesn't set opacity. The code I used in HelloWorldScene.cpp on both projects is this :

[code]

Steps to Reproduce:

1. Create a new project
2. Add a spritesheet
3.

[2017-01-05 08:56] nineskys commented on #17066
i test it  on IPhone6,also can Reproduce.

[2017-01-05 08:59] minggo commented on #17066
could you please record a video to show it? did you try latest codes?

[2017-01-05 09:24] nineskys commented on #17066
cocos2dx version 3.13.1 ,i dont know why your iPhone 6 cant Reproduce.but on ipad it will show associated words,you can use ipad test.

[2017-01-05 09:39] minggo commented on #17066
Yep, i can reproduce it if i removing 3rd party keyboard.

[2017-01-05 09:41] minggo commented on #17066
But why add this line `[eaglview setAutocorrectionType:UITextAutocorrectionTypeNo]`?

[2017-01-05 10:11] minggo commented on #17066
Ok, it is used to disable association. But i don't meet crash doing as you said. You can try latest codes.

[2017-01-05 12:51] Bilalmirza opened #17119 "Spritesheet created with algorithm polygon now works incorrectly"
- cocos2d-x version: v3.14
- devices test on: Mac
- developing environments
   - NDK version:
   - Xcode version: v8.1
   - VS version:

All spritesheets with polygon algorithm now works incorrectly. This worked fine in v3.13.

here is an image of spritesheet
https://www.dropbox.com/s/we5qzb8fqmdd0hx/Screen%20Shot%202017-01-05%20at%205.52.16%20PM.png?dl=0

here is its display in game

https://www.

[2017-01-05 19:28] teestudio commented on #14307
We can't use slashes ("/" symbols) in the names of the XML tags, so the UserDefault class won't work right in this case on Windows, where the UserDefault keys are mapped as tag names because a slash can't appear in a tag name.
Since that,

[2017-01-05 22:50] felippeduran opened #17120 "globalZOrder relative to parent node"
Hi,

Is there a reason to why globalZOrder doesn't work like a Z axis integrated to the node to parent transform matrix? Sometimes it gets really annoying to set some children globalZOrder when you doesn't know the structure of the parent node beforehand.

This feature would make the globalZOrder perfect as it would keep possible to ignore the node hierarchy and also make group translations (z-axi

[2017-01-06 01:22] toreinkun commented on #17053
I think the property of timeout should inside HttpRequest, but now it is only inside HttpClient.

[2017-01-06 01:24] minggo commented on #14307
Yep, i think document is needed. Different platforms have different implementations, we should mentioned that.

[2017-01-06 01:33] minggo commented on #14307
Yep, i think document is needed. Different platforms have different implementations, we should mentioned that.

[2017-01-06 01:46] minggo commented on #17120
Sorry, i can't quite understand it. Could you please describe it in more detail? Thanks.

[2017-01-06 01:51] minggo commented on #17119
@ricardoquesada could you please take a look? I think it is something related with Sprite slice9 support modification. Thanks.

[2017-01-06 02:23] minggo commented on #17116
I tested with v3.14 on Android device, can not find the issue. Could you please provide a test case?

[2017-01-06 02:25] minggo commented on #17116
I don't create from plist, so it is something about plist?

[2017-01-06 02:36] minggo commented on #17116
I tried with plist, can not reproduce too.

[2017-01-06 02:41] #16535 closed, assigned to dualface, dabingnn

[2017-01-06 02:43] felippeduran commented on #17120
Thanks for the reply, minggo!

Take for example Unity's GameObject transform component. When you translate it's parent transform, the relative position of the child keeps the same, but the global position changes by the same amount. This works just like de Node position in cocos2dx.

However, for the globalZOrder property it's not the case, where the child value remains unchanged. To sum up, I thi

[2017-01-06 02:43] nineskys commented on #17066
ok，but is latest codes version  3.13.1???i got a breakpoint when that line added.

[2017-01-06 02:46] nineskys commented on #17066
ios simulator 5s

[2017-01-06 02:51] #16941 closed, assigned to minggo

[2017-01-06 03:08] dumganhar commented on #17053
+1 for timeout property should be in `HttpRequest` class since HttpClient is a singleton.

[2017-01-06 03:08] minggo commented on #17120
Got it. Let's ask @ricardoquesada to take a look as he added globalZOrder. I think globalZOrder is used to resolve some issues.

[2017-01-06 03:11] minggo commented on #17066
The latest codes version is v3.14, or you can use github latest codes.

[2017-01-06 03:12] nineskys commented on #17066
ok i will try more.

[2017-01-06 03:21] minggo commented on #16795
close this one as there is nothing happen even i added permission for it.

[2017-01-06 03:21] #16795 closed, assigned to nobody

[2017-01-06 03:23] #17037 closed, assigned to nobody

[2017-01-06 03:23] langit opened #17121 "unable to install v3.14 on ubuntu"
- cocos2d-x version: 3.14
- devices test on: linux (ubuntu 16.04 LTS)
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. download cocos2d-x 3.14 zip file and unzip
2. cd "unzipped folder for cocos2d-x"/build
3. sudo ./install-deps-linux.sh
4. mkdir linux-build
5. cd linux-build
6. cmake ../..

[code]

[2017-01-06 06:01] nineskys commented on #17066
the same perform at version 3.14.

[2017-01-06 06:03] minggo commented on #17066
crash in v3.14?

[2017-01-06 06:24] minggo commented on #14307
I added some comments https://github.com/cocos2d/cocos2d-x/pull/17122

[2017-01-06 06:30] danut007ro commented on #17116
I tried from a brand new 3.14 project and with the code above.

[2017-01-06 06:33] minggo commented on #17116
It is strange, will you please share your branch?

[2017-01-06 06:44] Bilalmirza commented on #16469
@minggo this problem still exists, when i shifted to v3.14 i had to go comment these lines.
// if (!isVisitableByVisitingCamera())
// return parentFlags;

[2017-01-06 06:45] hgwzyyx commented on #17102
i don't know how to reproduce it, it just random happen, I use as follow, use a shop module for example.
[code]

[2017-01-06 06:46] hgwzyyx commented on #17102
it random crash in open shop module or refresh shopItemList

[2017-01-06 06:46] minggo commented on #16469
Sorry, i thought it is fixed.

[2017-01-06 06:50] danut007ro commented on #17116
I'm sorry I don't understand. I'm attaching the  plist and texture file used.
[buttons.zip](https://github.com/cocos2d/cocos2d-x/files/689120/buttons.zip)

[2017-01-06 06:54] hgwzyyx commented on #17102
I can't use clone funciton?

[2017-01-06 07:05] minggo commented on #14826
Currently, triangle command's vertices will be transformed to world coordinate in renderer. If providing custom VAO/VBO, then how to do the transform operation?

[2017-01-06 07:06] minggo commented on #17116
I though you use git, then it is easy to share your testing branch.

[2017-01-06 07:35] nineskys commented on #17066
yes

[2017-01-06 07:36] minggo commented on #17116
Yep, i can reproduce it with your resources. But if you use the resources(`tests/cpp-tests/Resources/animations/crystals.plist` and `tests/cpp-tests/Resources/animations/crystals.png`) in cpp-tests, then there is not problem. It is strange.

Edit: update the plist and png path

[2017-01-06 07:37] minggo commented on #17066
how many times did you repeat? i repeated it more than 10 times, but not crash

[2017-01-06 08:03] nineskys commented on #17066
...,step
1.GLViewlmpl.mm add this code.
void GLViewImpl::setIMEKeyboardState(bool open)
{
CCEAGLView eaglview = (CCEAGLView) _eaglview;

if (open)
{
[eaglview becomeFirstResponder];
[eaglview setAutocorrectionType:UITextAutocorrectionTypeNo];//(this new line)
}
else
{
[eaglview resignFirstResponder];
}
}
2.run node textinput
3.click textinput
then you got.

[2017-01-06 08:06] minggo commented on #17116
Sorry, it is `tests/cpp-tests/Resources/animations/crystals.plist` and `tests/cpp-tests/Resources/animations/crystals.png`.

[2017-01-06 09:14] bushimichi opened #17123 "DUTCH of Language Type does not exists in Lua Code."
- cocos2d-x version: 3.14 and less

cocos/scripting/lua-bindings/script/cocos2d/Cocos2dConstants.lua

about line 190
cc.LANGUAGE_ENGLISH    = 0
cc.LANGUAGE_CHINESE    = 1
cc.LANGUAGE_FRENCH     = 2
cc.LANGUAGE_ITALIAN    = 3
cc.LANGUAGE_GERMAN     = 4
cc.LANGUAGE_SPANISH    = 5
cc.LANGUAGE_RUSSIAN    = 6
cc.LANGUAGE_KOREAN     = 7
cc.LANGUAGE_JAPANESE   = 8
cc.LANGUAGE_HUNGARIAN  = 9
cc.LANGUAGE_P

[2017-01-06 09:42] danut007ro commented on #17116
Also strange is the fact that if running the following animation, the button changes opacity. Any ideas?

[code]

[2017-01-06 14:18] iyexiao commented on #17043
destop TARGETS 中修改Build Setting 里的Other Linker Flags
添加-pagezero_size 在3.10版本下Xcode8.2.1能够编译通过

[2017-01-06 18:44] ricardoquesada commented on #17119
@Bilalmirza thanks for the report.

What's the best way to reproduce it. how did you create the spritesheet ? should attach the code/assets to reproduce it? Thanks!

also, from the screenshot I can't tell where is the bug.

[2017-01-06 19:01] ricardoquesada commented on #17120
@felippeduran the `globalZOrder` is not relative. It is absolute.

So, if the parent has a value of 0 and the child has a value of 5, and then you change the parent's value to 3, then the child's value will remain unchanged, that is: 5.

besides that, it behaves as you said. It will affect both the z-axis and the rendering order.

[2017-01-06 19:30] Rubonnek commented on #17121
There are some environment variables that need to get exported before attempting to build.

You are missing the following:
[code]
Now you can do your step 6.

As a side note, what you are doing above will just build the test projects. To create a new project you must use the `cocos new` command. For example, for using the C++ API you can do the following:

[code]

See `cocos new --help` for more i

[2017-01-06 19:31] felippeduran commented on #17120
But couldn't we make it relative?

We could have a `setGlobalZOrder` and a `setLocalZOrder` (different that the one related to node hierarchy) that would map to the same inner variable or transformation matrix (just like x and y axis). The `setGlobalZOrder` would have it's behaviour unchanged, and the new `setLocalZOrder` would set this inner variable just as I mentioned before.

Think like `setLo

[2017-01-07 06:11] langit commented on #17121
Thanks a lot for the help. I followed your steps but when I tried step 6, nothing changed, still missing the FMOD, which  seems to be an audio library used by cocos2d-x.

[2017-01-07 08:59] Bilalmirza commented on #17119
@ricardoquesada  Sorry about that ... i figured out what was causing it. It occurs when ->setFlipped is called.

here is the link for spritesheet and images
https://www.dropbox.com/s/aa3zaeezc49oob2/testFolder.zip?dl=0

heres the video to produce it.
https://www.dropbox.com/s/fvslra7ujv0u6aa/setFlip%20Bug.mov?dl=0

Thanks

[2017-01-07 09:45] xifengxi opened #17124 "Why can't I use evalString"
- cocos2d-x version: 3.13.1
- devices test on: xiaomi5
- developing environments
   - NDK version: 4.9
   - Xcode version:r10c
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  I use a static method to call Cocos2dxJavascriptJavaBridge.eavlString(), but it does not respond. this is some pic
![image](https://cloud.githubusercontent.com/assets/10802972/21740829/ae8858ee-d500-

[2017-01-07 17:47] Rubonnek commented on #17121
I'm not able to reproduce your issue on a brand new installation of Ubuntu 16.04. The FMOD library is included with Cocos2D-X 3.14. CMake version 3.5.1 is able to find it in my virtual machine.

[code]

[2017-01-07 18:31] teestudio commented on #14307
Great! I think that the ticket can be closed.

[2017-01-07 18:56] DavidDeSimone commented on #17124
This was a known issue in 3.13.1 fixed in 3.14 by https://github.com/cocos2d/cocos2d-x/pull/16751

[2017-01-08 04:04] xifengxi commented on #17124
Oh! thank you. I have seen your pull yesterday. But it was closed.

[2017-01-08 04:04] #17124 closed, assigned to nobody

[2017-01-08 07:17] stevetranby commented on #17099
Consider Apple's recommendations:
https://developer.apple.com/library/content/documentation/3DDrawing/Conceptual/OpenGLES_ProgrammingGuide/BestPracticesforShaders/BestPracticesforShaders.html

- Default to high precision
- Colors in the 0.0 to 1.0 range can usually be represented using low precision variables.
- Position data should usually be stored as high precision.
- Normals and vectors used i

[2017-01-08 08:23] langit commented on #17121
I see why: for current version, under the external folder, there is only one single file 'config.json'.

https://github.com/cocos2d/cocos2d-x/tree/v3/external

[2017-01-08 10:36] vlabo opened #17126 "EventListenerPhysicsContact event order problem"
- cocos2d-x version: 3.13.1
- devices test on: macOS Sierra 10.12.2
- developing environments
   - Xcode version: 8.2 (8C28)

I'm trying to implement jumping for my player with 2d physics. And I try to do it with the physics event listener to check if the player is on the ground or not.

Here is my code:

[code]

[code]

The result is:
[code]
0 is the player's physics group and 77 the ground's

I

[2017-01-08 16:15] Rubonnek commented on #17121
That file is used by `download-deps.py`, which can be found at the root of the repository, to download the necessary external libraries including FMOD. These external libraries are included in the [official zip file](http://cdn.cocos2d-x.org/cocos2d-x-3.14.zip), but have to be manually downloaded if you are using the git repository. Running `env python2 download-deps.py` will fetch the libraries a

[2017-01-08 19:02] ricardoquesada commented on #17120
It makes sense have `globalZorder` relative to its parent.
But, I don't know if it is possible to make it backward compatible... which if we can't, the it will be an issue.

I'm not familiar with Unity's `localPosition` vs. `position`. More info on this would be great.

[2017-01-08 19:05] ricardoquesada commented on #17119
Thanks for the detailed bug report. I'll work on this this Monday.

[2017-01-08 20:25] felippeduran commented on #17120
From Unity's [Transform](https://docs.unity3d.com/ScriptReference/Transform.html) documentation:

@ricardoquesada has a good point regarding backwards compatibility. The change I'm suggesting would alter `setGlobalZOrder()` behaviour, as it would interfere in all children nodes. Even tought, wouldn't this be a good improvement for a cocos2d-x major version, like v4? It'd take some effort to migrat

[2017-01-09 01:27] #14307 closed, assigned to minggo

[2017-01-09 03:06] minggo commented on #17116
@danut007ro
Ok, i found the reason. _quad's color will be modified in `Sprite::updatePoly()`
[code]
But _quad's color is 255 by default.

Why the resources in cpp-tests can work? It is because _polyInfo and _quad will be the same if a sprite frame doesn't include polygon information. And your resources includes polygon information, so Sprite's _polyInfo will be modified by `Sprite::setSpriteFrame(

[2017-01-09 03:11] minggo commented on #17116
@ricardoquesada Sprite::updateColor() will modify _polyInfo's color, but it will be replaced by _quad's color in `Sprite::updatePoly()`.

[2017-01-09 03:17] ricardoquesada commented on #17116
@minggo I think I fixed it in my latest patch (the one that reduces the polygons), but I'll try it tomorrow (Monday).

[2017-01-09 03:20] minggo commented on #17116
I merged your PR about  reducing polygons. So did you mean i can try it with v3 latest codes?

[2017-01-09 03:34] minggo commented on #17099
@stevetranby the guide makes sense. I think we can follow the guide.

[2017-01-09 03:39] minggo commented on #17116
The issue exists in v3 latest codes.

[2017-01-09 03:46] minggo commented on #17102
It seems it is related with Cocos Studio reader. As Cocos Studio is canceled, we don't have resource to fix it. Sorry.

[2017-01-09 03:46] minggo commented on #16726
@Kotaiba have you fixed the issue?

[2017-01-09 03:52] minggo commented on #17121
The zip file includes 3rd-party-libraries, you don't have to download it anymore.

[2017-01-09 03:52] #17121 closed, assigned to nobody

[2017-01-09 03:54] minggo commented on #17123
We can not add all the languages, you can add it yourself, or you can send a PR to add it. But please don't break compatibility.

[2017-01-09 03:58] minggo commented on #17066
I added the codes as you said, no crash. May be it is something about 3rd party keyboard. What keyboard did you use?

[2017-01-09 04:00] langit commented on #17121
OK, I finally got it compiled successfully! Thanks a lot for the help all along the way!

[2017-01-09 05:45] Garretthh07 opened #17128 "TextField Black Box on Windows"
- cocos2d-x version: 3.14 and less
- devices test on: windows
- developing environments
   - VS version: VS2015

Steps to Reproduce:

1.  Use  `TextField` on Windows, while inputting by Chinese Mode, It always appear a Black Box with Green Arrow. like this [Black Box Sample](http://www.zhangseng.com/id-66061216.html), what can I do to delete this

[2017-01-09 05:47] Garretthh07 commented on #17128
By the way, `EditBox` while pop an input dialog, this is too ugly.

[2017-01-09 07:15] langit commented on #17121
I did a test run but here is what I got:

[code]

Any idea how to fix this? Is there a way to have all libs statically linked into the program?

[2017-01-09 07:38] nineskys commented on #17066
3rd party keyboard ?5s's simulator keyborad...what you mean.
i change a pc and test it on mac mini ,use 5s's simualtor ,got the same perform.

[2017-01-09 07:44] minggo commented on #17066
Check the `Settings -> General settings -> Keyboard -> Keyboard` on your device. I use Chinese OS version, i translated the names myself, but you can find if you have other keyboards.

[2017-01-09 08:00] Kotaiba commented on #16726
@minggo  yes the issue seems to be fixed .Thank you

[2017-01-09 08:12] minggo commented on #17097
@stammen could you please take a look?

[2017-01-09 09:42] aqeeliqbal commented on #17034
why this is closed?
is it resolved? how?

[2017-01-09 12:00] dhuang11 opened #17131 "Cocos2D-X 3.14 breaks some Polygon spritesheets"
- cocos2d-x version: 3.14
- devices test on: Android and iOS both have this issue
- developing environments
   - NDK version: r10e
   - Xcode version: 8.2.1

Steps to Reproduce:

1. Using Cocos2D-X 3.14, some Sprites taken from existing polygon spritesheets show artifacts of other images in the same sheet. This doesn't happen for all images in the polygon spritesheet.
2. Rolling back to Cocos2D-X

[2017-01-09 12:18] Dauch commented on #17102
@hgwzyyx
I think you meet
[code]
and
[code]
you should keep ```addClickEventListener``` once like
[code]

[2017-01-09 13:54] Rubonnek commented on #17121
The following works in Arch Linux. It should work in Ubuntu too:

[code]

[2017-01-09 14:04] Rubonnek commented on #17121
So far I see no need to compile all the libraries statically at least from my end. I haven't tried that myself, but when distributing the game you can always include a shell script and use the `LD_PRELOAD` environment variable to load the libraries included in Cocos2D-X for Linux builds.

Assuming you are using a 64-bit Ubuntu, the following also fixes your issue but this fix is not permanent:
[co

[2017-01-09 16:40] stammen commented on #17097
What shaders are you using? The blur shader can cause this issue on some windows phones.

[2017-01-09 17:10] slackmoehrle commented on #17121
did you symlink Fmod?

http://discuss.cocos2d-x.org/t/error-while-building-for-linux-libfmod-so-6/26553/4

[2017-01-09 23:09] ricardoquesada commented on #17120
Yes, probably we should consider adding it in v4.

[2017-01-10 01:46] QwincyLi opened #17134 "if called setContentSize then the sprite position will have offset!"
- cocos2d-x version: 3.13.1
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: VS 2015
   - browser type and version:

Steps to Reproduce:

1.   create a sprite
2.   called setContentSize

test code :
[code]
        their  position was the same! but in the simulator thier be draw in different position!

[2017-01-10 01:58] nineskys commented on #17066
i test it on itouch 5.(if i  add that lines.)
all the node input test will get this
result：
Flashback
my build tools xcode.
and no 3d party input.

[2017-01-10 03:24] ricardoquesada commented on #17116
PR here: https://github.com/cocos2d/cocos2d-x/pull/17135

[2017-01-10 03:24] ricardoquesada commented on #17119
PR here: https://github.com/cocos2d/cocos2d-x/pull/17135

[2017-01-10 03:56] minggo commented on #17063
fixed in https://github.com/cocos2d/cocos2d-x/pull/17137

[2017-01-10 03:57] #17063 closed, assigned to nobody

[2017-01-10 04:11] fangchenxuan commented on #15417
E:/BaiduYunDownload/cocos2d-x-2.2.0/external/libwebsockets/android/./lib/armeabi/libwebsockets.a(libwebsockets.c.o):libwebsockets.c:function libwebsocket_create_context: error: undefined reference to 'getdtablesize'
clang++.exe: error: linker command failed with exit code 1 (use -v to see invocation)
make: *** [E:/BaiduYunDownload/cocos2d-x-2.2.0/samples/Cpp/adai/proj.android.cm/obj/local/armeabi/

[2017-01-10 05:40] minggo commented on #15417
Sorry, 2.2.0 is too old. We don't have resource to support it.

[2017-01-10 06:46] waqas19921 commented on #15313
i have also this problem on android.

[2017-01-10 06:51] zilongshanren commented on #15313
@yaxinhoo
Could you test the latest v3.14 version?

[2017-01-10 06:56] waqas19921 commented on #15313
i am using ui::EditBox
in editing mode everything works fine but when editing ends it shows the color of background view  at its edges if I make background view's color red: than it will show red around edges.
One more observation, even if I just render label to `CCRenderTexture ` with fully transparent background, I still can see artifacts around letters.

[2017-01-10 06:58] waqas19921 commented on #15313
i am using cocos2dx 3.13.1

[2017-01-10 07:00] waqas19921 commented on #15313
@zilongshanren is there any major change in v3.14 so that this issue can be fixed.

[2017-01-10 07:02] zilongshanren commented on #15313
@waqas19921
I can't fully got what you mean. Can you show me some pictures?

[2017-01-10 07:08] waqas19921 commented on #15313
![sketch](https://cloud.githubusercontent.com/assets/17469425/21796874/64ab5cb0-d72d-11e6-8cef-05f3c817e16c.png)

[2017-01-10 07:09] waqas19921 commented on #15313
here left text has no white edges as there is black view behind it
while right text has some white edges as it has white view behind it
look by zooming it

[2017-01-10 07:17] waqas19921 commented on #15313
![sketch](https://cloud.githubusercontent.com/assets/17469425/21797075/b8b4f270-d72e-11e6-95c9-bef9c537429e.png)

[2017-01-10 07:18] waqas19921 commented on #15313
@zilongshanren Here above it is clear where background is white it disappears.

[2017-01-10 07:19] zilongshanren commented on #15313
@waqas19921
I think this PR https://github.com/cocos2d/cocos2d-x/pull/17024/files might fix your issue.

please give v3.14 a try.

[2017-01-10 07:23] waqas19921 commented on #15313
i can not use new version as it takes too much time to setup and compile again.

[2017-01-10 07:24] waqas19921 commented on #15313
@zilongshanren  thanks for your help i try that pull request now.

[2017-01-10 07:37] #17116 closed, assigned to ricardoquesada

[2017-01-10 07:41] waqas19921 commented on #15313
@zilongshanren  still same result i am using simple text no border no outline why it is mixing with a view behind `glsurfaceview`

[2017-01-10 07:44] waqas19921 opened #17142 "label without outline&shadow is blending with scene or previous activity not the background of cocos ui panel"
- cocos2d-x version: 3.13.1
- devices test on: android phones
- developing environments
   - NDK version: 13

Steps to Reproduce:
i am using ui::EditBox
in editing mode everything works fine but when editing ends it shows the color of background view that is behind `Cocos2dxglsurfaceview` at its edges if I make background view's color red: than it will show red around edges.
One more observation,

[2017-01-10 07:45] zilongshanren commented on #15313
I'm not sure, could you provide a sample code?

[2017-01-10 07:45] waqas19921 commented on #17142
#15313

[2017-01-10 07:46] #17119 closed, assigned to ricardoquesada

[2017-01-10 07:49] waqas19921 commented on #17142
@zilongshanren you could simply reproduce it by adding an activity other than cocos2dx like splash  and over it a transparent cocos2dx activity you can see the splash activity color around text label.

[2017-01-10 08:07] waqas19921 commented on #15313
@zilongshanren you could simply reproduce it by adding an activity other than cocos2dx like splash  and over it a transparent cocos2dx activity you can see the splash activity color around text label.

[2017-01-10 11:29] rh101 opened #17148 "Android build freezing when audio file is played Cocos2d-x 3.13.1 and 3.14"
[log.txt](https://github.com/cocos2d/cocos2d-x/files/695970/log.txt)

[audiotest.zip](https://github.com/cocos2d/cocos2d-x/files/695975/audiotest.zip)

- cocos2d-x version: 3.13.1 and 3.14
- devices test on: Nexus 6P with Android v7.1.1
- developing environments
   - NDK version: crystax-ndk-10.3.1
   - Xcode version: -
   - VS version: -
   - browser type and version: -

Steps to Reproduce:

1. P

[2017-01-10 11:48] cinakyn opened #17149 "Possible Memory Bad Access Error on cocos2d::Scheduler"
- cocos2d-x version: 3.12
- devices test on: iMac
- developing environments
   - NDK version: none
   - Xcode version: 8.0
   - VS version: none
   - browser type and version: none

1. start scheduler's update loop
2. create object `one` which has `TypeA`.
3. address of object `one` is 0x12341234
3. run Scheduler::scheduleUpdate for `one`
4. unschedule `one` immediately. Scheduler will mark it as

[2017-01-10 13:22] MrCapone opened #17150 "3.14 linux linker failed on glfw"
- cocos2d-x version: 3.14
- devices test on: Linux Mint 18

Steps to Reproduce:

1. create blank cpp project
2. run `cocos run -p linux`
3. you will get errors like

[code]

[2017-01-10 17:33] slackmoehrle commented on #17150
We don't test on Linux Mint. I will fire up an Ubuntu 16.01 instance and see if I can reproduce this too.

[2017-01-10 18:10] NinjaGah opened #17151 "[Linux] AudioEngine does not erase audio instance (id) after playback"
- cocos2d-x version: 3.14
- devices test on: Debian (Jessie)
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Play > 32 sound effects and let them finish playing on their own
2. Any sound effect after will "Fail to play %s cause by limited max instance of AudioEngine"

Potential fix:
I'm not too familiar with t

[2017-01-10 18:15] MrCapone commented on #17150
@slackmoehrle Linux Mint 18 based on Ubuntu 16.04, so it must be similar.

[2017-01-10 19:29] slackmoehrle commented on #17150
So far, I
* cloned the `cocos2d-x-3.14` branch
* ran `git submodule ...`
* ran `download-deps.py`
* ran `setup.py`
* ran `./build/install-deps-linux.sh` - this failed saying I was missing packages.
* I then ran `sudo apt-get install sqlite3 libsqlite3-dev libglew-dev, libglfw3` and the packages `install-linux-deps.sh` told me to.
* I re-ran `./build/install-deps-linux.sh`, completed successfully.

[2017-01-10 21:08] ricardoquesada commented on #17131
duplicate of #17119

[2017-01-10 21:08] #17131 closed, assigned to nobody

[2017-01-11 02:47] minggo commented on #17150
I just tested in ubuntu 16.04 in v3.14, no problem met.

[2017-01-11 02:54] cinakyn commented on #17149
This is sample codes.

**HelloWorldScene.h**
[code]

**HelloWorldScene.cpp**
[code]

**output**
[code]

[2017-01-11 03:02] minggo commented on #17142
@waqas19921 it is better to provide the test case. You can do it based on cpp-empty-test and share your branch. If you don't use git, you can provides the codes without engine.

Thanks.

[2017-01-11 03:07] minggo commented on #17128
Windows is a developing platform, not a publishing platform. We will focus mostly on mobile platforms.

[2017-01-11 03:07] #17128 closed, assigned to nobody

[2017-01-11 03:11] Garretthh07 commented on #17128
thanks a lot

[2017-01-11 03:14] minggo commented on #16726
fixed in https://github.com/cocos2d/cocos2d-x/pull/17156

[2017-01-11 03:42] minggo commented on #14322
I tested with latest codes on Mac, and nothing shown.

[2017-01-11 03:52] minggo commented on #17134
I tested on Mac with v3 latest codes, can not reproduce it. Could you please try it with latest v3 codes? If it also has the issue, could you please paste a picture to show the error effect?

Thanks.

[2017-01-11 04:26] bushimichi commented on #17123
My explanation was bad.
This issue is Typo in Lua Code.
Although it is in C ++ code, it is a constant missing in Lua's code.
The constants are different between C ++ and Lua.

[2017-01-11 06:04] minggo commented on #17123
thanks, fixed in https://github.com/cocos2d/cocos2d-x/pull/17160

[2017-01-11 06:05] #17123 closed, assigned to nobody

[2017-01-11 06:08] sanzenwin commented on #13807
I'm facing this issue too, it caused crash when call it at second times ,here is the log:

 signal 11 (SIGSEGV) at 0x00000030 (code=1), thread 5098

[2017-01-11 06:12] minggo commented on #13807
@sanzenwin could you please provide a test case? Thanks.

[2017-01-11 06:30] sanzenwin commented on #13807
Cocos2dxGLSurfaceView.getInstance().queueEvent(new Runnable() {
        @Override
        public void run() {
            Cocos2dxJavascriptJavaBridge.evalString("javaCallback()");
        }
    });

I change my code to above, it works !!!
I'am testing Weibo's sso feature. Goto Weibo's AuthActivity from MainActivity , and then click cancel button to go back MainActivity, then call Cocos2dxJavascri

[2017-01-11 07:47] #16726 closed, assigned to nobody

[2017-01-11 09:12] minggo commented on #17150
From the [doc](http://www.glfw.org/docs/latest/group__window.html#ga81c76c418af80a1cce7055bccb0ae0a7) we know `glfwSetWindowMonitor` is added  since GLFW v3.2. And [install_glfw.sh](https://github.com/cocos2d/cocos2d-x/blob/v3/tools/travis-scripts/install_glfw.sh#L3) require 3.2 version. So please make sure you installed correct glfw version.

[2017-01-11 13:23] langit commented on #17121
Hey, thanks a million for all the tips and fixes! I finally got my Virtualbox to start my Ubuntu again, so I can try your suggestions (It somehow stopped working after I installed the VS 2015 Community Version).

I was strictly following the instructions in README.md to see if things would work out without doing anything extra, maybe I still need to inform the executable one way or another where t

[2017-01-11 14:59] igoofyy opened #17162 "run "cocos " in zsh is error"
- cocos2d-x version:3.9
- devices test on: iphone
- developing environments
   - NDK version: NO
   - Xcode version:Xcode8.2
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. when I run this command "cocos " .I get this error
Traceback (most recent call last):
  File "/Users/goofy/coco/cocos2d-x-3.9/tools/cocos2d-console/bin/cocos.py", line 22, in <module>
    import cocos_p

[2017-01-11 15:51] MrCapone commented on #17150
I have projects with older cocos version on same machine (3.12 and 3.13.1). And both projects build and run fine, so it's not deps problem. I also try build cpp-empty-test 3.14 and get same error.

[2017-01-11 16:22] slackmoehrle commented on #17162
what if you add this to your shell startup config?
[code]

[2017-01-11 16:23] slackmoehrle commented on #17150
![screen shot 2017-01-11 at 11 10 51 am](https://cloud.githubusercontent.com/assets/7491758/21856511/4a6536be-d7f0-11e6-8929-9ff0969357d9.png)

[2017-01-11 16:50] MrCapone commented on #17150
problem appear after add `glfwSetWindowMonitor` method. Maybe this method require some specific linker flags?

[2017-01-11 17:13] MrCapone commented on #17150
I found the problem. I have `libglfw3` and `libglfw3-dev` installed in my system by apt package manager from ubuntu repos. And ubuntu repos have version 3.1. So linker uses system version of glfw (3.1) instead of cocos2d-x version (3.2). After uninstalling `libglfw3` and `libglfw3-dev` by `sudo apt-get purge libglfw3 libglfw3-dev` build runs fine.

Maybe you should modify `install-deps-linux.sh` t

[2017-01-11 18:22] slackmoehrle commented on #17150
@MrCapone  good find. I purged those 2 and now it builds for me as well.

[2017-01-12 01:26] minggo commented on #17150
`install-deps-linux.sh` will uninstall libglfw, but it seems outdated, it just tries to uninstall libglfw2. I will update it.

[2017-01-12 02:08] minggo commented on #17150
fixed in https://github.com/cocos2d/cocos2d-x/pull/17165

[2017-01-12 02:12] minggo commented on #17150
and send to v3.14.1 too https://github.com/cocos2d/cocos2d-x/pull/17166

[2017-01-12 03:43] #17150 closed, assigned to nobody

[2017-01-12 03:49] hgwzyyx commented on #17102
@Dauch Thank you for your reply, thank you very much

[2017-01-12 03:57] Dauch commented on #17102
That's ok.

[2017-01-12 04:11] bingle123 opened #17167 "Font Atlas crashed in function FontAtlas::prepareLetterDefinitions after a memory warning emitted."
- cocos2d-x version:3.14
- devices test on:iPad
- developing environments
   - NDK version:android-ndk-r10e
   - Xcode version:Version 8.2.1 (8C1002)
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  add a UIButton to scene
2. update the title of the button in a timer scheduler.
3. add many sprites to make system eject a memory warning.
4.after  a memory warning emitted, th

[2017-01-12 08:41] igoofyy commented on #17162
Good job .Thanks

[2017-01-12 08:41] #17162 closed, assigned to nobody

[2017-01-12 08:49] tapblaze opened #17171 "Android 7.1 Landscape Screen Orientation Issues"
- cocos2d-x version: 3.10
- devices test on: Google Pixel, Nexus 6P
- developing environments
   - NDK version: 10e

We have a game that is in landscape mode. The game works fine on Android 4.X, 5.X, 6.X and even 7.0 but for some reason on 7.1 devices it gets confused about the orientation and tries to set itself as portrait which breaks the game's layout and makes it unplayable. We have the follo

[2017-01-12 10:11] piotrros commented on #17017
Fresh cocos2d-x 3.14 from download page.

./download-deps.py
=======================================================
==> Prepare to download external libraries!
==> Not need to update!

Still the same error.
Seems like paths are wrong.
I fixed it like this:

`#include "../../../external/json/document-wrapper.h"`

But then more errors are popping up. So you have to remove json from path in each err

[2017-01-12 10:14] minggo commented on #17017
Where did you download from? If you downloaded from [here](http://www.cocos2d-x.org/), you don't have to download external libraries yourself. The zip file includes all needed libraries.

[2017-01-12 10:16] piotrros commented on #17017
Yes - from "here" :) I fixed several path error using relative paths and it worked. Strange.

[2017-01-12 10:20] minggo commented on #17017
yep, it is always path error. You should make sure what search paths are added, and what paths you used in codes.

[2017-01-12 10:22] piotrros commented on #17017
Yes, but it should work, I have /Users/piotr/Documents/pierdoly/cocos2d-x-3.14/cocos/external in search paths and there's "json" directory inside. Errors were only related to rapidjson library, if I didn't have this search path added it would have the same errors with other external libraries.

[2017-01-12 11:57] hgwzyyx commented on #17102
@Dauch Can I add your QQ or WeChat ask some more detai?

[2017-01-12 16:57] mikejw opened #17173 "Error compiling on Linux (Debian stretch)"
- cocos2d-x version: cocos2d-x-3.14

Steps to Reproduce:

1.  Install
2.  Create new app
3. run "cocos run -s . -p linux"

Output:

Building mode: debug
running: 'cmake -DCMAKE_BUILD_TYPE=Debug -DDEBUG_MODE=ON ..'

It appears you are building natively for Linux with GCC
-- OpenGL include dirs: /usr/include
-- GLEW include dirs: /usr/include
-- PkgConfig found
-- GLFW3 include dirs: /usr/include/GL

[2017-01-12 17:45] tapblaze commented on #17171
Is this fixed in cocos2dx 3.14? I see this in the change log:

`Android: adapt to Android pixel`

However, this orientation issue affects any device running android 7.1

[2017-01-12 23:11] toreinkun commented on #17167
if the ReferenceCount <= 0, it means that the object has been released.
So atlas.second->purgeTexturesAtlas() won't be invoked.

[2017-01-12 23:57] bingle123 commented on #17167
Yes，you’re right. May be we should reconstruct the atlasTexture vector(map) as the rendering thread approaches here while the vector(map) is empty.
The text will not be rendered if we just only add a NULL judgement statement before the crashed line, in which case I've tested.

[2017-01-13 01:09] toreinkun commented on #17167
Which font did you used?  Ttf or system font?

[2017-01-13 01:15] bingle123 commented on #17167
Sniglet-Regular.ttf,DroidSerif.ttf or Arial.ttf ,etc.

[2017-01-13 02:01] dumganhar commented on #17148
@rh101, thanks for your feedback.
Does this issue only occur on Nexus 6P with Android v7.1.1? I tested your demo on one of my device with android 5.0.1 and it didn't crash.

[2017-01-13 02:12] dumganhar commented on #17148
I have reproduced this issue on Nexus 9 with Android 7.0.
And I found this log output:
![screen shot 2017-01-13 at 10 11 04](https://cloud.githubusercontent.com/assets/493372/21916048/b63a7d66-d978-11e6-8483-a32e6d572969.png)
It seems that OpenSLES decoding stuff didn't work correctly on Android 7+.

[2017-01-13 03:40] wanjia opened #17181 "Enabling depth test and disabling depth mask equals disabling depth test in Android/IOS"
when i draw some translucent objects and opaque objects, i found translucent object in cocos3.13.1 will be drawed after all opaque objects.  And the code in CCRenderer.cpp handle transparent command like this
glEnable(GL_DEPTH_TEST);
glDepthMask(false);

In my opinion,  these codes mean it will do the depth test, if fragments fail the depth test, it will be discarded, otherwise if fragments pass t

[2017-01-13 03:57] minggo commented on #14341
fixed in https://github.com/cocos2d/cocos2d-x/pull/17182

[2017-01-13 05:20] rh101 commented on #17148
@dumganhar yes, you are right, I just tested it on a Samsung S6 with Android 5.x and it worked, but it won't work on the Nexus 6P with Android 7.1.1.

Using Cocos2dx v3.12 works fine though on Android 7.1.1, so what exactly has changed between Cocos2dx 3.12 and 3.13.1/3.14?

[2017-01-13 05:40] #14341 closed, assigned to nobody

[2017-01-13 06:02] langit commented on #17121
I was finally able to run the tests, after I corrected the env variable ${COCOS_X_ROOT} from home (which was set by setup.py) to where I unzipped the cocos2d-x zip file.

However, when I clicked "Start AutoTest", I got an error in the end:

[code]

P.S.: I found this project might help with preparing libraries for release on linux systems:
https://github.com/pgbovine/CDE

[2017-01-13 12:10] piotrros opened #17186 "PreloadEffect on android devices with new version of android"
- cocos2d-x version: 3.14
- devices test on: Nexus 6P Android 7.1.1 [Samsung Galaxy A3 (2016) Android 5.1.1 - WORKS FINE]
- developing environments
   - NDK version: r12b

Steps to Reproduce:

1. Add several .ogg to a project and call preloadEffect on them.
2. Watch in logcat how slowly they load (92 small .ogg files took 25 seconds on Nexus 6P).

I've described more details in this post: http://d

[2017-01-13 12:39] xdeop opened #17187 "Android NDK compile error"
- cocos2d-x version: 3.13.1
- developing environments
   - NDK version: R13

Steps to Reproduce:

1. Create cocos2dx project.
2. Modify proj.android-studio/app/jni/Application.mk adding:
APP_ABI := armeabi-v7a arm64-v8a x86 x86_64 mips mips64
3. Compile android project:
$ cocos compile -p android --android-studio

ERROR:

Android NDK: ERROR:/Users/xxx/Projects/Cocos2dx/SampleProject/proj.android-s

[2017-01-13 12:52] ryule commented on #17119
After I applied this commits and calling setStrechEnabled(false) causes following CCASSERT:
`CCASSERT(_renderMode == RenderMode::QUAD || _renderMode == RenderMode::SLICE9, "centerRect can only be used with SLICE9 or QUAD render modes");`
because of `_renderMode == RenderMode::POLYGON`.

[2017-01-13 13:40] hgwzyyx commented on #17102
@minggo  具体引发的问题并不清楚，但是加了这个代码之后就不会闪退了。提交给官方下，希望把代码加进去。
ScriptHandlerMgr::HandlerType ScriptHandlerMgr::addCustomHandler(void* object, int handler)
{
    assert(nullptr != object);

    auto iter = _mapObjectHandlers.find(object);
    VecHandlerPairs vecHandlers;
    vecHandlers.clear();
    HandlerType handlerType = HandlerType::EVENT_CUSTOM_BEGAN;

    if (_mapObjectHandlers.end() != iter)
    {

[2017-01-13 14:07] rh101 commented on #17148
@dumganhar I just tested MP3 and WAV versions of the same audio file, and they worked perfectly fine on the Nexus 6p with Android 7.1.1.  The problem only appears if the OGG format is used.  Does it process the file via a different code path to decode it?

[2017-01-13 14:45] langit commented on #17121
I also tested the js-test on ubuntu, the OpenGL Test ended with a core dump:

[code]

[2017-01-13 14:46] Rubonnek commented on #17121
That's not a bug. See `"${COCOS_X_ROOT}"/tests/cpp-tests/Classes/BugsTest/Bug-15776.cpp`.

Pull request #17125 didn't make it into 3.14. Comment line 37 on `"${COCOS_X_ROOT}"/tests/cpp-tests/Classes/BugsTest/BugsTest.cpp` to avoid that crash.

[2017-01-13 14:48] langit commented on #17121
I see, that's good to know, thanks for the clarification.

[2017-01-13 16:35] ricardoquesada commented on #17119
@ryule I'll change the assert to a warning. thanks.

[2017-01-14 00:16] myxrome commented on #14936
#17190

[2017-01-14 01:18] jacket-code opened #17191 "Label getContentSize Crash"
- cocos2d-x version:3.14
- devices test on:ios monitor
- developing environments
   - NDK version:
   - Xcode version:7.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.     Label * pLabel = Label::createWithSystemFont( "abc",
                                                "Helvetica",
                                                 m_fontSzie );
2.  Size lsize = pLabel-

[2017-01-14 05:23] #17191 closed, assigned to nobody

[2017-01-15 08:07] Dimon4eg commented on #17052
Hi, solution from @yangzhu6263736 works for me, thank you!

[2017-01-15 10:20] nanmuyao opened #17193 "crash on honor 3c android version 4.2.2"
- cocos2d-x version: 3.13.1
- devices test on: honor 3c android 4.2.2
- developing environments
   - NDK version: ndk r11
   and i had tried ndk r10c r10b
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. cocos compile -p android then run on honor 3c android 4.2.2 and it crashed
2.code desc when i send http request it will crash like this
xhr:send(json.en

[2017-01-15 21:41] SBJoker commented on #17171
I used solution from this post:
http://discuss.cocos2d-x.org/t/resolution-problem-while-launching-game-through-push-notification-from-lock-screen/22254/2

[2017-01-16 01:26] minggo commented on #17102
@hgwzyyx thanks, but i need your help to reproduce the issue, or i am not sure if it fixed the bug or not. And please use english in future.

[2017-01-16 01:31] wulei opened #17196 "使用--no-native生成的项目无法使用问题"
### 我用如下命令生成一个测试项目
[code]

### 然后cd到目录下使用：
[code]

### 报错：
[code]

[2017-01-16 03:34] minggo commented on #17149
fixed in https://github.com/cocos2d/cocos2d-x/pull/17198

[2017-01-16 05:08] rh101 opened #17199 "AudioEngine does not call finishCallback if audio is removed before it has stopped playing"
- cocos2d-x version: 3.14 (but possibly in all previous releases where this code exists)
- devices test on: N/A
- developing environments
   - NDK version: N/A
   - Xcode version: N/A
   - VS version: VS 2015
   - browser type and version: N/A

Steps to Reproduce:

1. Build a test application that plays an unsupported audio file format (such as AAC/MP4 on Windows).
If the player->_removeByAudioEng

[2017-01-16 06:02] minggo commented on #17193
could you please provide a test case?

[2017-01-16 06:05] nanmuyao commented on #17193
you mean source code (caused crashed )and android apk ,is this?

[2017-01-16 06:12] minggo commented on #17193
the codes that i can reproduce the issue, i don't need the apk, i can compile it myself.

[2017-01-16 06:15] nanmuyao commented on #17193
i'll take this to you as soon as possible, please wait a moment , thanks a lot

[2017-01-16 09:38] #17149 closed, assigned to nobody

[2017-01-16 10:35] nanmuyao commented on #17193
ndk version is Pkg.Revision = 11.0.2655954 from source.properties file
i had upload the test code file name is MainScene.lua ,sorry waitting for so long time

1. code
[code]
2.  png info

![mainscene](https://cloud.githubusercontent.com/assets/7760063/21979641/ceeece58-dc1a-11e6-9d3b-6221805b2c56.png)

[2017-01-16 10:40] nanmuyao commented on #17193
thanks a lot @minggo

[2017-01-16 13:26] piotrros commented on #17187
Show your gradle files, android.mk file.
If you've pulled cocos2d-x from github also make sure you've downloaded all dependencies (download-deps.py).

[2017-01-16 14:38] xdeop commented on #17187
Hi,

Thanks for answering.
I've downloaded cocos2d-x from the website and unzipped the downloaded file.

The content of the files you've pointed out is:

/*** global project's build.gradle ***/

buildscript {
    repositories {
        jcenter()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:1.3.0'

        // NOTE: Do not place your application dependencies here; they

[2017-01-16 16:28] suroorwijdan opened #17200 "cocos2d: CCSpriteFrameCache: Trying to use file perfectBounce.png as texture, cocos2d: CCSpriteFrameCache: Couldn't load texture"
- cocos2d-x version: cocos2d-x-3.13.1
- devices test on: running build on simulator iphone 6s
- developing environments
   - NDK version: android-ndk-r13b
   - Xcode version: Version 8.1 (8B62)
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Running the build from xcode, getting exception when initializing a new scene which uses sprite frame cache.
2. Have a spritesheet ge

[2017-01-16 16:32] suroorwijdan commented on #17200
Some more info: Already tried cleaning in Xcode and deleting the data in Derived Data directory respective to the project.

Using Cocos2d-js Everything works perfect on browser. But throws the above exception when running the build on iOS Simulator and device too.

[2017-01-16 21:39] stevetranby commented on #15367
@Guy-kun did you try the smitpatel88 solution? I understand that it gets overwritten upon upgrading, but if it solves your issue that would be enough data points to submit a PR with the solution's code.

[2017-01-17 01:28] minggo commented on #17193
Could you please tell me how to reproduce it step by step? Can i create a new lua project and replace the MainScene.lua, then i will reproduce the issue?

[2017-01-17 01:48] #14936 closed, assigned to nobody

[2017-01-17 01:52] minggo commented on #17196
the command is used for cocos studio, as cocos studio is canceled, the command will be removed.

[2017-01-17 01:52] #17196 closed, assigned to nobody

[2017-01-17 01:54] minggo commented on #17187
cocos2d-x doesn't support mips

[2017-01-17 01:54] #17187 closed, assigned to nobody

[2017-01-17 01:56] minggo commented on #17186
Did you use AudioEngine or SimpleAudioEngine?

[2017-01-17 02:02] nanmuyao commented on #17193
1. create lua project with cocos2dx version 3.13.1
2.replace the new project MainScene.lua,with my MainScene.lua
3.ndk version is Pkg.Revision = 11.0.2655954
4.run the command cocos compile -p android
5.run the apk to the android version 4.2.2 my case is huawei honor 3c (the system version is 4.2.2)
6.it will crashed
Do not know whether the detailed enough thanks a lot that you had helped me many

[2017-01-17 02:06] minggo commented on #17173
//usr/lib/x86_64-linux-gnu/libstdc++.so.6: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit status

It seems there is some problem of c++ library. What's your g++ version? cocos2d-x needed g++ 4.9+.

[2017-01-17 02:10] minggo commented on #17193
Thanks for the information, it's my pleasure.

What does it mean? Which file should i modify to use this information?

[2017-01-17 02:16] minggo commented on #17181
@wanjia i think [cocos2d-x forum](http://discuss.cocos2d-x.org/) is more suitable for the topic. But if you found any issue, please create one here. Thanks.

[2017-01-17 02:16] #17181 closed, assigned to nobody

[2017-01-17 02:33] nanmuyao commented on #17193
I use the NDK  链接：http://pan.baidu.com/s/1cagT1k 密码：t42g and unzip the file you can see the file source.properties
![ndkinfo](https://cloud.githubusercontent.com/assets/7760063/22005676/34747c0c-dca0-11e6-8c50-68a93febff44.png)

[2017-01-17 02:37] minggo commented on #17193
Got it, thanks. I will try to reproduce it first.

[2017-01-17 02:51] minggo commented on #17193
I tested on huawei p9(Android 6.0), can not reproduce it. Does it only happen on huawei hornor 3c? Have you tried other devices or other Android versions?

[2017-01-17 02:57] nanmuyao commented on #17193
Yes, the Real machine only on huawei hornor 3c crash (android version 4.2.2), other device no chrash, and I have a android Simulator(version is 4.2.2 also crashed),and the simulator download url 链接：http://pan.baidu.com/s/1mh8IdNM 密码：aefw

[2017-01-17 03:05] rh101 commented on #17199
The code I suggested in the previous comment would still call _finishedCallbak even if a sound is stopped explicitly by a call to AudioEngine::stop().

I'm not sure if this is the preferred behavior, but that is up to you guys to decide.

[2017-01-17 03:43] minggo commented on #17193
it is strange, i am not sure if i can find huawei hornor 3c

[2017-01-17 04:06] nanmuyao commented on #17193
I use the cloud phone http://remote.utest.qq.com/ the huawei p6 android verison 4.2, and you could try this, the huawei p6 is free for using, and it crash either,just now
![phone](https://cloud.githubusercontent.com/assets/7760063/22007351/05d036d6-dcad-11e6-8278-24df0c16ace8.png)

[2017-01-17 06:42] alexander-vi commented on #15367
@larsven solution helped me well.

[2017-01-17 07:20] piotrros commented on #17186
SimpleAudioEngine

[2017-01-17 07:29] deathemperor commented on #16746
My case is when showing an English text with about 2000+ characters it takes ~1s to display but when showing the same content but in Burmese (Myanmar's language) it takes 3s+.

[2017-01-17 08:41] suroorwijdan commented on #17200
Getting the same error when building for Android:

Logcat screenshot:

<img width="1432" alt="screen shot 2017-01-17 at 14 10 21" src="https://cloud.githubusercontent.com/assets/1986887/22013402/d610365a-dcbe-11e6-9fcc-69d41d29a571.png">

[2017-01-17 09:54] xdeop commented on #17187
Hi,

Thanks for the answer, but the error also appears when compiling for x86_64:

Changing the line of Application.mk:

- APP_ABI := armeabi-v7a arm64-v8a x86 x86_64 mips mips64
+ APP_ABI := armeabi-v7a arm64-v8a x86 x86_64

The error still showing:

Check that
/Users/xxx/Projects/Cocos2dx/SampleProject/proj.android-studio/../cocos2d/external/freetype2/prebuilt/android/x86_64/libfreetype.a
exists

[2017-01-17 09:58] piotrros commented on #17187
Why do you need so many abis? It increases APK size. I use only armeabi or armeabi-v7a.

[2017-01-17 10:01] xdeop commented on #17187
To support the maximum number of platforms, therefore the maximum number of
devices.

2017-01-17 10:58 GMT+01:00 mk <notifications@github.com>:

--
Xavi Deop

[2017-01-17 10:03] piotrros commented on #17187
When you have armeabi it'll work also on armeabi-v7a and arm64-v8a. x86 in only on smartphones with Intel Atom, I think.

[2017-01-17 10:34] xdeop commented on #17187
The x86_64 ABI is for devices with Intel Atom at 64 bits (such as HP,
lenovo, etc.). I image that compiling for the x86 ABI makes it compatible
with the 64 bit devices of the same processor, but it will doesn't take
advantage of the 64 bits performance on this devices.

Thanks.

2017-01-17 11:04 GMT+01:00 mk <notifications@github.com>:

--
Xavi Deop

[2017-01-17 15:02] jabson opened #17204 "Laggy framerate on iPhone 7"
- cocos2d-x version: 3.13
- devices test on: iPhone 7 and iPhone 6
- Xcode version: 8.21

I tested our cocos2d-x v3.13 game on iPhone 7 device. It Sometimes passes 50 fps, while other iOS devices (including iPhone 6 or below) ran very smoothly. I tried everything in my code but no result.
It seems iPhone 7 runs other processes which eats much cpu. when i run QuickPlayer to record video on iPhone 7

[2017-01-18 02:36] minggo commented on #17204
What does it mean? Run QuickPlayer will make game more smoothly?

[2017-01-18 02:43] minggo commented on #17199
It depends how we treat the `finished` state. We treat `finished` as the audio is played from start to end. We can change the behavior, but it will break compatibility, so i think it is better to keep as it is now.

[2017-01-18 03:11] rh101 commented on #17199
Keeping the behavior the same is fine, but is there anything that can be done about the issue where AudioEngine::play2d is called, it always returns a valid ID even if the audio file format is not supported on that platform.  If it instead returned AudioEngine::INVALID_AUDIO_ID, then that would solve the problem completely.

If a valid ID is always returned, the assumption is that the sound starte

[2017-01-18 05:41] dumganhar opened #17210 "Removes linux 32-bit support"

[2017-01-18 06:28] minggo commented on #17186
Why not try to use new audio engine? And could you please provide a test case to reproduce the issue?

[2017-01-18 06:31] minggo commented on #17200
Could you please upload the plist and png file?

[2017-01-18 07:37] minggo commented on #17102
fixed in first commit of https://github.com/cocos2d/cocos2d-x/pull/17211

[2017-01-18 07:56] minggo commented on #17171
@tapblaze 3.14 doesn't fix the log. I tried cpp-empty-test on Nexus5x with Android 7.1.1, no error happen.

[2017-01-18 07:56] suroorwijdan commented on #17200
Here is one of the png and plist files which is throwing the same error.

![countdown_num](https://cloud.githubusercontent.com/assets/1986887/22055451/3f6ce6bc-dd81-11e6-9aa2-28ec0beaae56.png)

countdown_num.plist

[code]

[2017-01-18 08:36] jabson commented on #17204
I mean, when you launch quick time on the mac then select File->New Movie Recording and drop down on the record button then select iOS device to record game screen. It seems QuickTime kills some other processes which drop downs game performance. About 5 times the game made faster.

Thanks for quick reply.

[2017-01-18 08:45] minggo commented on #17204
Good to know. Thanks.

[2017-01-18 09:05] #17102 closed, assigned to nobody

[2017-01-18 09:16] rnnbl opened #17213 "applicationDidEnterBackground not called for Android"
- cocos2d-x version:  3.13.1
- devices test on: android 5.1, 4.4.2
- developing environments
   - NDK version: r10e
   - Xcode version: 8.2.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Run your cocos2d-x app on android
2. Switch to another activity outside the app
3.  applicationDidEnterBackground is not called

Notes:
I found some fixed issues regarding this problem

[2017-01-18 09:41] mikejw commented on #17173
mike@dwayne:~/Desktop/gamename/MyCppGame$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/6/lto-wrapper
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Debian 6.2.1-5' --with-bugurl=file:///usr/share/doc/gcc-6/README.Bugs --enable-languages=c,ada,c++,java,go,d,fortran,objc,obj-c++ --prefix=/usr --program-suffix=-6 --pr

[2017-01-18 09:55] grrr2828 opened #17214 "how to use CCFrameBuffer in cocos? For example？"
how to use CCFrameBuffer in cocos? For example？

[2017-01-18 10:12] minggo commented on #17193
fixed in https://github.com/cocos2d/cocos2d-x/pull/17215, it seems HttpURLConnection.getResponseMessage() returns null if there is no response message on Android 4.2, and will return a empty string on higher Android versions.

[2017-01-18 10:28] SBJoker commented on #17171
First of all, game should run in landscape orientation.

Steps to reproduce:
1. Launch game - everything should be okay at this point.
2. Send game to background, rotate device to portrait orientation
3. Optionally: launch another application in portrait orientation
4. Restore/switch to our game, game screen may rotate again to wrong orientation. (Swap of width and height will occur).

Hope it wil

[2017-01-18 10:30] nanmuyao commented on #17193
I don't know what i should say, a big problem solved  ,thanks a lot @minggo

[2017-01-18 11:15] jabson commented on #17204
If you have iPhone 7 and are interesting with the problem, i can send you game invite on test flight.

[2017-01-18 13:25] suroorwijdan commented on #17200
No worries. I figured it out. Was a very silly issue on my side. The urls had a starting `/` in the resources just for these files that is why they were failing.

[2017-01-18 13:25] #17200 closed, assigned to nobody

[2017-01-18 14:15] piotrros commented on #17186
As I wrote here: http://discuss.cocos2d-x.org/t/preloadeffect-very-slow-loading/33946/8?u=piotrros
audio engine is experimental and it's even more problematic.
Here's simple test project, it uses android studio only (you have to configure path to cocos in build.gradle file):

[PreloadBug.zip](https://github.com/cocos2d/cocos2d-x/files/714090/PreloadBug.zip)

Testing on Nexus 6P:
10 waves: 0.4s
10

[2017-01-18 14:23] jabson commented on #17204
I have made a new template using cocos2d-x 3.14. create a scene and add parallax with 3 sprite iPhone 7 still lagging :|

[2017-01-19 01:33] #17193 closed, assigned to nobody

[2017-01-19 01:34] minggo commented on #17193
It's my pleasure, and thanks for the detail feedback.

[2017-01-19 02:05] minggo commented on #17214
I think it is designed to be used internally. @ricardoquesada any idea about it?

[2017-01-19 02:08] minggo commented on #17213
comment `super.onPause()` is because it will prevent OpenGL context being destroyed as possible.

[2017-01-19 02:11] minggo commented on #17210
Yep, most 3rd party libraries are installed by `build/install-deps-linux.sh`, and you can build 32bit of some libraries using this repo https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src

[2017-01-19 02:18] grrr2828 commented on #17214
I need to implement water ripple screen distortion effect, use glCopyTexImage2D will drop frames.

[2017-01-19 02:20] minggo commented on #17171
Did you mean it will not hundred percent reproduce？

[2017-01-19 02:23] minggo commented on #17199
It is an issue. But i think it's better to create a new issue to describe it.

[2017-01-19 02:29] rh101 commented on #17199
Will do, and I'll close this one.

[2017-01-19 02:29] #17199 closed, assigned to nobody

[2017-01-19 02:35] minggo commented on #17214
I think you can use shader+rendertexture, or you can take a look test cases in `cpp-tests/Classes/EffectsTest/EffectsTest.cpp`.

[2017-01-19 02:35] rh101 opened #17226 "AudioEngine::play2d always returns a valid ID even if audio format is not supported"
- cocos2d-x version: 3.14 (and previous releases)
- devices test on: N/A (although tested on Win32 and Android 7)
- developing environments
   - NDK version: N/A
   - Xcode version: N/A
   - VS version: 2015
   - browser type and version: N/A

Steps to Reproduce:

When AudioEngine::play2d is called, it always returns a valid ID even if the audio file format is not supported on that platform (such

[2017-01-19 02:39] zjinpeng commented on #8479
I got the same problem on android.
CocosDenshion::SimpleAudioEngine::sharedEngine()->playEffect();
I get -1.
v3.7.1

[2017-01-19 03:18] zjinpeng opened #17228 "Android:CocosDenshion::SimpleAudioEngine::sharedEngine()->playEffect() return -1"
- cocos2d-x version: v3.7.1
- devices test on: GT-I9502

With -1 we can't stop it.

Anyone can help me?

[2017-01-19 03:24] liuyi opened #17229 "Where Can I get the latest documents about cocos2dx(JS/jsb)?"
I found latest url is: http://cocos2d-x.org/docs/api-ref/js/v3x/
BUT, the document miss lots of api.
For example:Webview
We can find more method can be use in source code, but only parts of them are display in the document.

I think good document and stable function than more new feature.
(Maybe if you guys have  give up cocos2dx , pay more attention to Creator.)

![image](https://cloud.githubuser

[2017-01-19 03:28] slackmoehrle commented on #17229
We are probably just missing some doxygen comments in the source.

[2017-01-19 03:32] ricardoquesada commented on #17214
take a look at the Effects examples in cpp-tests. The use the `CCGrid` class which uses the IIRC `CCFrameBuffer`

[2017-01-19 04:05] #17228 closed, assigned to nobody

[2017-01-19 05:57] grrr2828 commented on #17214
Can I modify the shape of the Ripple3D?Now is a circle

[2017-01-19 05:59] dumganhar commented on #15972
wss support was finished at https://github.com/cocos2d/cocos2d-x/pull/17172
Please help to test.
Known issues:

1. Although libwebsockets source code has ignore `SIGPIPE` signal, xcode will still catch this kind of signal and pause at the breakpoint while debugging. But this will not cause any problems if you're not debugging.
2. Developers who is using linux system should update `binutils` (conta

[2017-01-19 07:11] dumganhar commented on #17186
@piotrros,

We are trying to decoding audio files by ourself rather than OpenSLES API.
Since on android, using OpenSLES API to decode ogg, mp3 to pcm buffer will cause bundle of system issues that we can't fix.

I have submitted a pull request for this (https://github.com/cocos2d/cocos2d-x/pull/17233)
Could you have a try and give me feedback.

SimpleAudioEngine is really slow on some devices, and

[2017-01-19 07:11] dumganhar commented on #17047
Fixed at https://github.com/cocos2d/cocos2d-x/pull/17233 by using third-party libraries for decoding audio files.

[2017-01-19 07:31] grrr2828 commented on #17214
I need to distort with A texture. help!!!

[2017-01-19 09:21] minggo commented on #15972
About 2, i think we should install new binutils in `build/install-deps-linux.sh`.

[2017-01-19 10:52] ghost opened #17234 "A little bug about build_android.py in Cocos2d-x-3.14"
- cocos2d-x version: 3.14
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. enter the project directory and run `cocos compile -p android --android-studio -m release`
2. it will produce some outputs like: `ioerror no such file or directory: jni/Application.mk`

I found this bug in `tools/cocos

[2017-01-19 15:52] SBJoker commented on #17171
I mean i don't sure about accurate of steps to reproduce. Because it's from feedback reports from our users. I'm have not device with Android 7.1 to test it by my self. The issue 100% exists.

[2017-01-19 18:11] xdeop opened #17237 "AudioEngine not working in iOS"
- cocos2d-x version: 3.13
- devices test on: simulator
- developing environments
   - NDK version: R13b
   - Xcode version: 8.2.1

Steps to Reproduce:

experimental::AudioEngine::play2d("audio.mp3", false, 1.0);
Doesn't play any sound. Always returns -1;

PD: we have SimpleAudioEngine running a BackgroundMusic and other effects.
We want to change some effects to AudioEngine because in Android > 5

[2017-01-19 18:14] ricardoquesada commented on #17214
@grrr2828 please, use the forum for support. and use github issues to report bugs/enhancements.

please, take a look at the code of Ripple3D. thanks.

[2017-01-19 18:14] #17214 closed, assigned to nobody

[2017-01-19 22:16] slackmoehrle opened #17238 "Missing search path for SPINE"
Reported by users on the forums.

- cocos2d-x version: v3.14.1

it seems we forgot to add header for Spine:

$(SRCROOT)/../cocos2d/cocos/editor-support

[2017-01-20 02:03] minggo commented on #17238
it is fixed in v3 branch https://github.com/cocos2d/cocos2d-x/pull/17137. Developers can add it to fix the issue, it is not a critical issue so i don't synchronize it to v3.14.1.

[2017-01-20 02:03] #17238 closed, assigned to nobody

[2017-01-20 02:04] minggo commented on #17234
yep, it is fixed in v3.14.1

[2017-01-20 02:04] #17234 closed, assigned to nobody

[2017-01-20 02:23] minggo commented on #17210
fixed https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/267

[2017-01-20 02:23] #17210 closed, assigned to minggo

[2017-01-20 05:43] dumganhar commented on #16849
@pablorealini , @formatCvt

We are trying to decoding audio files by ourself rather than OpenSLES API.
Since on android, using OpenSLES API to decode ogg, mp3 to pcm buffer will cause bundle of system issues that we can't fix.

I have submitted a pull request for this (#17233)
Could you have a try and give me feedback.

[2017-01-20 08:59] dumganhar commented on #17237
I don't know which platform could this issue be reproduced on.
iOS or Android?
And
* which devices?
* which system version?
* which `audio.mp3`?
Besides, we don't support to mix usage of SimpleAudioEngine with AudioEngine.

[2017-01-20 09:12] xdeop commented on #17237
Hi, thanks for your answer.

As the title suggested, AudioEngine isn't reproducing sound when testing on iOS simulator (target 10.0).

We've tried this AudioEngine as an alternative to SimpleAudioEngine because when using SimpleAudioEngine, it works fine on iOS, but some sound effects aren't reproducing on Android...

What is the best way to play sounds that works correctly on boths platforms?

[2017-01-20 09:16] dumganhar commented on #17237
Keep going to use `AudioEngine`, `SimpleAudioEngine` will be deprecated sooner or later.

If you have issues with `AudioEngine`, it's better to make a demo or paste some code and resources for reproducing it.

[2017-01-20 11:36] formatCvt commented on #16849
thanks, i will try next week

[2017-01-20 12:18] xdeop opened #17239 "Android crash on start when compiling for armeabi"
- cocos2d-x version: 3.13.1
- devices test on: Samsung Galaxy Alpha
- developing environments
   - NDK version: r13b
   - Xcode version: 8.2.1
   - Android Studio version: 2.2.3

I'm getting this crash on game start:

********** Crash dump: **********
Build fingerprint: 'samsung/sltexx/slte:5.0.2/LRX22G/G850FXXU2COI3:user/release-keys'
pid: 1855, tid: 3046, name: GLThread 4983  >>> com.example.myg

[2017-01-20 13:08] pablorealini commented on #16849
Great! We will test this early next week in all our android devices and let you know

Sent from my iPhone

[2017-01-20 16:02] rona-dinihari opened #17240 "Cannot use TTF and Button in native platform"
- cocos2d-x version: 3.14.1
- devices test on: Android 4.4.2, Android 7.0
- developing environments
   - NDK version: 13.1
   - Xcode version:
   - VS version:
   - browser type and version: Chromium 55.0.2883.87 Built on Ubuntu , running on Ubuntu 16.04

Steps to Reproduce:

1. Create button using cc.LabelTTF/cc.Label.createLableTTF and ccui.Button
2. Web platform works, but native platforms don'

[2017-01-22 06:34] MissiontoMars commented on #13743
Yes，rotation in Tile Map Editor and .tmx should be surpported.

[2017-01-22 15:39] aardvarkk commented on #16714
Just tested this with the latest version of Cocos (3.14.1) and the problem still exists.

[2017-01-22 17:48] Guy-kun commented on #16714
@aardvarkk 's solution definitely fixes this, hopefully this can get applied if it has no side-effects

[2017-01-23 05:30] uhever opened #17244 "ccui.Editbox singleline setPlaceholderFontSize error"
- cocos2d-x version:3.14.1 - lua
- devices test on:iPhone SE 10.1 (14B72)
- developing environments
   - NDK version:
   - Xcode version:8.1 (8B62)
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. create ccui.EditBox
2. setInputMode with cc.EDITBOX_INPUT_MODE_SINGLELINE
3. setPlaceholderFontSize

-[CCUISingleLineTextField ccui_placeholderLabel]: unrecognized selector sent t

[2017-01-23 06:03] tapblaze commented on #17171
Yes, over a dozen players have complained about this and we worked with a few beta testers to confirm that the fix @SBJoker used resolved the issue finally.

[2017-01-23 07:21] DavidDeSimone commented on #17244
I believe this should have been fixed in https://github.com/cocos2d/cocos2d-x/pull/17127. I'm not sure if that made it into 3.14.1 or not. If not, can you try applying that patch and seeing if the issue persists?

[2017-01-23 08:05] fresair opened #17245 "using both restart and spine will cause memory leak and system crash"
- cocos2d-x version:this bug occur on cocos2d js 3.11 to cocos2d js 3.14
- devices test on:iphone6sp and simulator 6se
- developing environments
   - NDK version:
   - Xcode version:8.2
   - VS version:
   - browser type and version:

Steps to Reproduce:
unpack sdk 3.14
1. run js test project included in sdk packet
2. press Spine Test and then press Main Menu
3. press Sys Tests and find restartGam

[2017-01-23 08:21] hgwzyyx opened #17246 "2dx Adaptation problem"
- cocos2d-x version:v3.9
- devices test on:Adaptation problem
- developing environments
   - NDK version:r10e
   - Xcode version:
   - VS version:vs2013
   - browser type and version:

this is a adaptation problem. some phone type crash when start
the  crash  stack:
#00 pc 00738c68 libcocos2dlua.so setBlend (F:\GameStudio\Client\frameworks\runtime-src\proj.android\../../cocos2d-x/cocos//./renderer

[2017-01-23 08:38] hgwzyyx commented on #16414
also happen in 3.9

[2017-01-23 08:39] hgwzyyx commented on #16414
#00 pc 00738c68 libcocos2dlua.so setBlend (F:\GameStudio\Client\frameworks\runtime-src\proj.android../../cocos2d-x/cocos//./renderer/CCRenderState.cpp:731-732) [armeabi-v5te]
2 #1 pc 007408f1 libcocos2dlua.so SetBlending (F:\GameStudio\Client\frameworks\runtime-src\proj.android../../cocos2d-x/cocos//./renderer/ccGLStateCache.cpp:120) [armeabi-v5te]
3 #2 pc 007409ab libcocos2dlua.so blendFunc (F:\G

[2017-01-23 08:52] zilongshanren commented on #8764
@zawasp  I have added the opacity support to DrawNode at https://github.com/cocos2d/cocos2d-x/pull/17248

please give it a try.

[2017-01-23 09:14] fresair commented on #17245
<img width="569" alt="qq20170123-171135 2x" src="https://cloud.githubusercontent.com/assets/4372955/22197930/1a56dfe2-e18f-11e6-88f6-94b17b979646.png">

in the attached pic, you can see the memory is increased to 1.62GB, and keep increasing.
if run on real device, it end with crash.

[2017-01-23 10:03] Bilalmirza opened #17249 "Mac fullscreen works incorrectly when Retina display is scaled from Preferences"
- cocos2d-x version: v3.14.1
- devices test on: MAC
- developing environments
   MacOSx

Steps to Reproduce:

1. Go to system preferences->displays-> set resolution to scaled
2. Select more Space
https://www.dropbox.com/s/dg78y8lm6m85zkz/Screen%20Shot%202017-01-23%20at%203.04.50%20PM.png?dl=0

3. Run Mac build ***Fullscreen*** on xcode
4. Incorrect results (scaling is wrong)

[2017-01-23 10:33] takesoon commented on #16543
thankyou，it works

[2017-01-23 12:11] dhuang11 commented on #16590
Note that this is no longer an issue on Android 7.1.1 on both Nexus 5X and Nexus 6P as long as all audio is preloaded/cached before first use. On Android 7.0.x, preloading helps the problem a lot but it still hangs a bit when playing audio for the first time.

However, what we've noticed is that building an NDK DEBUG build, preloading a lot of audio crashes very easily on Android 7.1.1. However, a

[2017-01-23 15:22] markovitch57 opened #17250 "Current build gives unresolved __imp____iob_func and __imp___vsnprintf"
- cocos2d-x version: bleeding edge 2017_01_23
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2015 community
   - browser type and version:

Steps to Reproduce:

1.  download as zip from github
2.  run download-deps.py (fills in external folder)
3.  click on build/cocos2d-win32.sln (brings up VS 2015 community edition)
4.  right-click on Solution

[2017-01-23 15:29] markovitch57 commented on #17250
Please note that 3.14.1 builds without problems on the same system.

[2017-01-24 07:45] KarenHuang2016 opened #17251 "cmake error Could NOT find WEBSOCKETS (missing: WEBSOCKETS_LIBRARIES WEBSOCKETS_INCLUDE_DIRS)"
- cocos2d-x version: b1f2a05
- devices test on: Windows 10
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
1. git clone https://github.com/cocos2d/cocos2d-x.git D:\Cocos2dx\src
2. cd cocos2dx
3. mkdir build && cd build
4. cmake –G “Visual Studio 14” ..\src

Note: This issue happens from revision b1f2a05. It is due

[2017-01-24 09:07] rnnbl commented on #17186
@minggo Converting to the new audio engine is not really an option if you are using the pan parameter which hasn't been build in yet as far as I know.

[2017-01-24 09:07] xdeop commented on #17239
I've discovered that the crash happens when compiling for:
APP_ABI := armeabi

If I compile it for APP_ABI := armeabi-v7a the crash is not occuring.

Any idea of what is causing the error?

Thanks.

[2017-01-24 09:47] ghost opened #17252 "Fatal signal 11 (SIGSEGV) between onStop() and onCreate() caused by Label::setTTFConfig"
- cocos2d-x version: 3.13.1
- devices test on: Lenovo TAB S8-50F
- developing environments
   - NDK version: 11c

Steps to Reproduce:

The problem occurs only when the App is stopped (onStop), killed and than created (onCreate) again.
The left side on the [Android Lifecyle](http://www.javatpoint.com/images/androidimages/Android-Activity-Lifecycle.png).

If these steps are executed depends on the s

[2017-01-24 13:26] pabitrapadhy commented on #16590
Any update on this issue @dhuang11
whether you were able to find a fix ?

[2017-01-25 00:34] ishmar opened #17255 "Background sprite not resizing on UI button"
- cocos2d-x version: 3.14.1
- devices test on: win32, xiaomi redmi 1s, moto g 2
- developing environments:
   - NDK version: 12b
   - VS version: 2015 community

Steps to Reproduce:

I've copied code from [cocos2d-X wiki](http://www.cocos2d-x.org/wiki/Widget) to generate a Text Button scale9 render. Resizing using setSize() worked fine with 3.13.1 but with 3.14.1, I get a deprecated warning , advi

[2017-01-25 01:13] QwincyLi commented on #17255
maybe you should call setScale9Enable(true) before you use setContentSize! i guess

[2017-01-25 01:29] ishmar commented on #17255
@saint-knight As I've copied code from the example given in the link, I call setScale9Enable(true) before calling setContentSize(). My code is as follows:

[code]

[2017-01-25 08:34] Bilalmirza commented on #17251
After cloning the repo, please execute download-deps.py to download and install dependencies.

 $ cd cocos2d-x
 cocos2d-x $ python download-deps.py
After running download-deps.py.

 cocos2d-x $ git submodule update --init

have you ran these?

[2017-01-25 11:00] sachingarg05 opened #17256 "Cocos2dx pre-defined uniforms cause shader link failure on some Mali GPUs"
Cocos2dx adds these uniforms to all vertex and fragment shaders:
[code]
These definitions do not specify precision, which makes them highp in vertex shaders and mediump in fragment shaders. Because the code does:

`        (type == GL_VERTEX_SHADER ? "precision highp float;\n precision highp int;\n" : "precision mediump float;\n precision mediump int;\n"),
`

While this works fine on most devices

[2017-01-25 12:01] sachingarg05 commented on #17256
The solution implemented in cocos2dx-html5 seems interesting. It looks like it will automatically pick the highest precision supported by fragment shaders and use that for both vertex and fragment shaders.

https://github.com/cocos2d/cocos2d-html5/blob/develop/cocos2d/shaders/CCGLProgram.js

[code]

[2017-01-25 13:36] sachingarg05 commented on #17256
The `#ifndef GL_FRAGMENT_PRECISION_HIGH` solution at the end of first post seems like a better way of doing what we have done with `_isHighpSupported()` in cocos2dx-html5. ( @pandamicro )

And if we choose to hardcode mediump for cocos2dx defined uniforms, we will probably need to use `#ifdef GL_ES`

[code]

[2017-01-25 15:36] sachingarg05 commented on #17256
To match what we have in cocos2d-html5, we can do something like this:

CCGLprogram.cpp current has:

[code]

We can replace it with something like:

[code]

This would match the precision in both vertex and fragment shaders. And use the highest precision available. This has the disadvantage of making everything in frag shader highp which can result in a performance hit, but we are already doing t

[2017-01-25 16:00] ibaranskyi commented on #16291
I have same problem with memory growing up without scheduleOne inside update function
1. Create simple js project with cocos2d-x-3.13.1
2. Add code in app.js
`var HelloWorld = cc.Layer.extend({
            ctor: function () {
                this._super();
                this.scheduleUpdate();
            },
            update: function () {
                cc.log("update called");
            }

[2017-01-25 16:54] Miouyouyou commented on #17256
Note that ARM employees [advise the use of highp](http://cc.bingj.com/cache.aspx?q=Is+there+practical+examples+of+Half-float+%28FP16%29+%3f&d=4876808140948495&mkt=ja-JP&setlang=ja-JP&w=BHjJH4mLHQ2ptyFDnPHSC02_RDnR52Dk) for anything related to position (vertexes, textures points, ...).

Also, if you're able to detect the right precision for the current GPU from the C++ code, you could just generate

[2017-01-25 22:50] rnnbl commented on #17213
If this is true then cocos2d-x android apps will slow down device and drain the battery of users when going to background. Not to mention bad reviews and possible rejection from play store. So this is a real serious problem or am I the only one having this?

[2017-01-26 11:45] vlabo commented on #17126
The problem was that I did't notice that the function is called for every separate shape. The ground of the game is made from a lot of shapes so I made a counter if all the onContactBegin calls are equal to  onContactSeparate and its working.

[2017-01-26 11:45] #17126 closed, assigned to nobody

[2017-01-26 14:14] thangenius opened #17257 "libwebsocket with openssl rejected by apple for using non-public API"
I was trying to upgrade libwebsockets (2.1.0) with ssl supported which I downloaded from cocos 3rd party github and using it in my project which is using cocos2d-x 3.8.1. It built and ran successfully in our development environment, but when submitting to Apple to be reviewed, it was rejected because the following reason:

Non-public API usage:

The app references non-public symbols in <our-projec

[2017-01-27 23:45] ishmar commented on #17255
@ricardoquesada @minggo , could it be that pull request https://github.com/cocos2d/cocos2d-x/pull/16891 had broken it?

[2017-01-28 14:54] Rubonnek commented on #17256
Related: #17099

[2017-01-28 15:09] Rubonnek commented on #17245
`cppcheck` reports memory leaks in the automatically generated JS bindings:

[code]

and one memory leak in the manually created bindings:

[code]

This report has to be double checked by manually inspecting the code, of course, but it could be the cause of that memory leak.

[2017-01-28 15:13] hussain-sohaib commented on #17245
On android using cocos2dx 3.14.1 causes memory leak using spine. Game
crashes after sometime it self.

On Sat, 28 Jan 2017 at 20:09, Wilson E. Alvarez <notifications@github.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-01-30 08:52] alonlevylll opened #17260 "js-tests application: SpiderMonkey crashes after EGL Context Lost"
- cocos2d-js version: 3.10
- devices test on: Galaxy Tab A, LG G4 Beat
- developing environments
   - NDK version: r10e
   - Xcode version:
   - VS version:
   - browser type and version:

After a long debug process, I noticed that it happens always after glsurface calls onSurfaceCreated on the second time, (and a new GLThread is created, I print the GLThread ID, and notice that it changes).

Afte

[2017-01-30 12:04] hussain-sohaib commented on #17245
I have just tested it on iOS, spine is causing massive memory leak on iOS
as well. @fresair can you please confirm are you using spine API shipped
with cocos2dx or you are using API provided by esotericsoftware.

Cocos2dx guys should ship the latest API provided by esotericsoftware. But
I am having memory leak  with both API's.

On iOS I tested it with Cocos2dx 3.10.

Thanks

On Sat, Jan 28, 2017

[2017-01-30 12:20] fresair commented on #17245
@hussain-sohaib , I'm using spine API shipped with cocos2dx.

[2017-01-30 12:56] hussain-sohaib commented on #16886
@limetris or @Jameschen I am facing same issue, I am using spine latest api
provided by esotericsoftware. I have 2 scenes scene1 has spine animations
(loads of them), scene2 does not have any spine animation. My game starts
with scene1 and no memory leak occurs and than I move to scene2 and than
when i go back to scene1 from scene 2 there is a massive spine memory leak.

Also memory leak also occu

[2017-01-30 21:17] slackmoehrle opened #17262 "Cannot agree to Cocos License in an automated fashion"
- cocos2d-x version: 3.14.1 (but previous versions as well)

When the usage/data collection is shown you must select Y or N. This is a manual selection. There is not a __flag__ one can pass to accept the license agreement automatically. This is handy for those running build servers.

You can modify __.cocos/local_cfg.json__ and set: __"agreement_shown": true__ but a __flag__ would be nice. Some us

[2017-01-30 22:00] stammen commented on #17262
On my Jenkins build machine I do the following:

Running download-deps.py:

c:/Python27/python.exe download-deps.py -r yes > NUL

Creating a new game project
rm -rf projects/
set ans="Y"
echo %ans%|.\tools\cocos2d-console\bin\cocos new MyGame -p com.your_company.mygame -l cpp -d projects

[2017-01-31 10:47] Bilalmirza opened #17263 "setIntegerForkeys() doesn't work on win32"
- cocos2d-x version: 3.14.1
- devices test on: win32 simulator
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2015 enterprise
   - browser type and version:

Steps to Reproduce:
int score = 333;
UserDefault::getInstance()->setIntegerForKey("intKey", score);
log("int score %d", UserDefault::getInstance()->getIntegerForKey("intKey"));

always returns 0;//works fine

[2017-01-31 19:04] slackmoehrle commented on #17262
@stammen Thanks. This is useful too.

[2017-02-01 10:32] sharyu-unreal commented on #15634
@dhb118 Hi, have you fix this problem? I reproduce 416 error in cocos2dx 3.12 version. Seems #15465 haven't fix this issue.

[2017-02-01 18:40] hussain-sohaib opened #17265 "Particles don't stick to node to which they were attached"
- cocos2d-x version: 3.10 - 3.14.1
- devices test on: iPhone 6s plus Galaxy 6s

Lets say we have a scroll view and we have added 10 images to it. Than we add snow particles to image5. the Snow particle since they are flowing will move with the movements of scroll view. But they should stay attached to the image node 5. of course the source stays attached to image5 but particle move around.

[2017-02-01 18:52] SBJoker opened #17266 "Sprites with ETC1 with alpha texture loses shader after restore from background."
- cocos2d-x version: 3.14.1
- devices test on: Samsung TAB A
- developing environments
   - NDK version: r10e (64-bit)

Steps to Reproduce:

1. Launch game with sprites use etc1 with alpha textures.
2. Game should have button to launch another app, let say open browser.
3. Launch other application using button
4. Restore game from background
 Expected result: all sprites lost shader and transparen

[2017-02-02 08:17] xdeop opened #17267 "Get device's RAM memory or device's spare RAM memory"
- cocos2d-x version: 3.13

Is there a way to get the device's RAM memory?

Our game consumes up to 1Gb of RAM memory with animations, sounds, movements, etc and we would like to check if the device can handle them to load the animations or not...

Thanks.

[2017-02-02 10:18] lonedev opened #17268 "Invalid write of size 4 in cocos2d::BitmapDC::getBitmap(...)"
- cocos2d-x version: 3.14.1
- devices test on: Lenovo B590, Arch Linux

When running my app on Linux using valgrind I get "Invalid write of size 4" error.

CCDevice-linux.cpp:264: `*(int*) &_data[(iY + iX) * 4 + 0] = iTemp;`

The `_data` array is indexed using negative index. This is because `iY` is negative. `iY` is negative because `yoffset` is negative. And `yoffset` is negative because `comput

[2017-02-02 13:00] whitegfx opened #17269 "Update flatbuffers to v1.5"
Update flatbuffers to the latest version (1.5) please, now we have initial 1.0 release.

Lots of features added, for anyone big time saver.
- can read, write json, populate c++ generated objects from binary or json, send messages to server and all generated from simple fbs schema
- Object API read & write to generated C++ objects.
- php, java support easy server client message interchange with ver

[2017-02-02 14:13] yuriilychak opened #17271 "cocos2d::Label wrong texture offset after update font size"
- cocos2d-x version: 3.14.1

Hello.
I'm trying to reduce the number of draw calls in my UI, and add all bitmap fonts with sprites in one UI atlas. When you initialize the font with constructor and don't change font size it works fine, but when you change font size, his texture coordinates back to the zero position. After hour analysis of engine code I found the problem. If you change the font size

[2017-02-02 14:54] piotrros commented on #17186
New AudioEngine from @dumganhar is fine, but it's one problem with it: you can only play 16 sounds at one time. It seems to be enough, but not in every case.

I have a music game, which main feature is the piano. Piano has several keys and each note have 2-3 seconds length. It's very easy to play these keys more than 16 times in these 2-3 seconds. When limit is exceeded new sounds won't play at al

[2017-02-02 15:47] slackmoehrle commented on #17267
I don't believe we have anything built in.

on iOS, this has good results: http://stackoverflow.com/questions/5012886/determining-the-available-amount-of-ram-on-an-ios-device

Android looks to have ways too: http://stackoverflow.com/questions/7374246/how-to-get-total-ram-size-of-a-device

[2017-02-03 02:24] dumganhar commented on #17268
@lonedev, thanks for the report. Do you have any ideas to fix this issue?

[2017-02-03 02:29] dumganhar commented on #17257
@thangenius, thanks for your feedback.
`setcontext` is used in `async_posix.h` and `getcontext, makecontext` is used in `async_posix.c`.
`async_posix.h/c` are both in the `openssl-1.1.0c`. I have no idea about this.

[2017-02-03 02:49] dumganhar commented on #17257
Similar issue: https://github.com/iCepa/Tor.framework/issues/9

Probably, we need to disable `async` and rebuild `openssl` library.

[2017-02-03 02:51] thangenius commented on #17257
@dumganhar that sounds great! Please notify me when the rebuilt openssl is available, thanks!

[2017-02-03 02:54] dumganhar commented on #17257
@thangenius, I will.
I also created an issue in `openssl` repo: https://github.com/openssl/openssl/issues/2545
I'm waiting the reply of openssl official.

[2017-02-03 03:17] dumganhar commented on #17186
@piotrros , you could play 32 instances of sound at the same time by setting `AudioEngine::setMaxAudioInstance(32);`

[2017-02-03 08:22] piotrros commented on #17186
Thanks, it's better now, but it's still pretty easy to bypass limit. Damn, that stupid SoundPool bugs.

[2017-02-03 10:48] lonedev commented on #17268
As a quick workaround rows with negative iY could be skipped using simple `if (iY < 0) continue;`. It won't solve the problem of text being cropped from above, but at least the code won't be writing outside array bounds. A proper solution would probably require `computeLineStartY(...)` method to use bounding box of text glyphs, perhaps obtained using `FT_Glyph_Get_CBox(...)`. Or the target bitmap

[2017-02-03 11:12] osknoes opened #17272 "CCNode::visit - Performance issue for pushMatrix"
- cocos2d-x version: 3.3 and 3.14
- devices test on: Iphone 5
- developing environments
   - Xcode version: 7.3.1

Steps to Reproduce:

1. Create a scene with many many nodes ( about 2000 ).
2. Use instruments to profile the scene.
3. About 3-4% of the cpu is used to do the pushmatrix stack operations, although I could not find why this operation is still required. I noticed because the code has a

[2017-02-03 13:48] whitegfx opened #17273 "Exclude fps images from library (.so) in release build"
Android library in release mode contain fps images (array with png fps image).
Add define flag to  cc config to use fps images functionality, if not def strip all functions and array for fps functionality.

nm output the last big one entry (28127 is the size):
05060136 00028127 D cc_fps_images_png

[2017-02-04 01:40] summerinsects commented on #17244
I found this issue too, and it is still exists in 3.14.1.

[2017-02-04 02:04] minggo commented on #17255
@ishmar could you please provide a test case to reproduce the issue? @ricardoquesada could you please take a look?

[2017-02-04 03:16] lishaizhe commented on #17043
官方现在有解决方案了吗？现在很多机器都自动升级到8.2了，严重影响啊

[2017-02-04 03:42] minggo commented on #17239
Could you please help to reproduce the issue?

[2017-02-04 03:57] minggo commented on #17265
could you please help to provide a test case?

[2017-02-04 06:25] redclock opened #17277 "[JSB] cc.eventManager: event.getUserData() returns undefined for multiple listeners"
After upgrading cocos2d-x to the latest code in branch v3, the event manager doesn't work correctly.

**The problem**:  If two listeners are registered for the same event, the second listener callback to be called will always get `undefined` from `event.getUserData()`

**The reason**: In function `js_EventListenerCustom_create` (jsb_event_dispatcher_manual.cpp), the JS object for the event is remo

[2017-02-04 07:06] minggo commented on #17262
I mentioned the issue to @natural-law moths ago, but i don't remember why we don't add a flag for it. It seems only have to do it one time, so @natural-law seems it is not a problem.

[2017-02-04 07:27] natural-law commented on #17262
Yep, this problem can be solved by modify the config `agreement_shown` one time.
@slackmoehrle @minggo I can add an option to skip the manually select step if necessary!

[2017-02-04 09:09] minggo commented on #17266
fixed in https://github.com/cocos2d/cocos2d-x/pull/17278

[2017-02-04 09:11] minggo commented on #17262
@natural-law i think it is better to add a flag for convenient.

[2017-02-04 09:15] minggo commented on #17260
can fix it according to https://github.com/cocos2d/cocos2d-x/issues/16520

[2017-02-04 09:20] dumganhar commented on #17257
@thangenius , I have updated the prebuilt library for openssl.
Please refer to https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/268
You could download the new `.a` files and update opensslconf-`archname`.h header file, then submit to App Store again now.

[2017-02-04 09:27] thangenius commented on #17257
@dumganhar thanks a lot!

[2017-02-04 10:13] KarenHuang2016 commented on #17251
Sorry for reponding so late. Yes, I have ran these 2 steps beofore executing cmake command.

[2017-02-04 10:16] KarenHuang2016 commented on #17251
After investigation, I found this error is caused by the changes in external/config.json file (revision b1f2a05). This file is used to configure the downloaded external libraries. It upgraded the version of external libraries to “v3-deps-120”. If we download “v3-deps-117.zip” external libraries, there will be no cmake error reported. If we download “v3-deps-120.zip” external libraries, the cmake e

[2017-02-04 10:16] minggo commented on #17252
Could you please describe it step by step?

[2017-02-04 12:47] alonlevylll commented on #17260
Thanks,
However, I'm using cocos 3.10, and the generated template project already includes

It doesn't help.

[2017-02-04 14:21] rnnbl commented on #17213
@minggo Any updates on this?

[2017-02-04 19:24] ishmar commented on #17255
Hi @minggo, @ricardoquesada

I've attached Classes & Resource folder inside that zip to reproduce the issue. Just create a new project using something like:

`cocos new -p com.testing.issue17255  -d C:\Ishmar -l cpp test3141
`
and replace Classes & Resource folder.

This is the result of executing this code with v3.13.1 (desired result):

![button_test_3 13 1](https://cloud.githubusercontent.com/a

[2017-02-04 23:11] hussain-sohaib commented on #17265
attached classes folder has all the files and resources to recreate the
issue.
Make a new sample project named sample. replace the classes file with files
in here and copy resources (image and particles file ) to resources folder
of your project. run on a device. particle are attached to sprite6 but when
we scroll view they move with movement and move to other images. particle
should not be effect

[2017-02-06 04:47] thangenius commented on #17257
After update the new lib, I noticed there're following log in the console:

"...
NOTICE:  Compiled with OpenSSL support
NOTICE:  SSL disabled: no LWS_SERVER_OPTION_DO_SSL_GLOBAL_INIT
..."

Does it mean SSL is disabled by default? If it is, how to enable it?

P/S: I did try to open an wss connection and it failed to open connection

[2017-02-06 05:55] dumganhar commented on #17257
Did you update `cocos/network/WebSocket.h/.cpp`, `external/openssl`, `external/websockets`?
The new `WebSocket.cpp` will use `LWS_SERVER_OPTION_DO_SSL_GLOBAL_INIT`. Therefore I guess you use an old version of `WebSocket.cpp/h`.

[2017-02-06 06:05] thangenius commented on #17257
oh, that's right, thank you!

[2017-02-06 07:35] #8764 closed, assigned to nobody

[2017-02-06 07:46] minggo commented on #17272
matrix is needed

[2017-02-06 07:46] #17272 closed, assigned to nobody

[2017-02-06 07:48] #17266 closed, assigned to nobody

[2017-02-06 07:49] minggo commented on #16446
it is updated to 1.1.0c

[2017-02-06 07:49] #16446 closed, assigned to minggo, zilongshanren

[2017-02-06 07:50] #15972 closed, assigned to minggo, dumganhar

[2017-02-06 07:55] Sluysarev opened #17291 "Box2D and Collisions"
Box2D and Collisions

There is a code

[code]
In the version cocos 2d-x 3.11  it works

In the version cocos 2d-x 3.14.1    I receive an error   vector

[code]

how do I do that the code worked in version cocos 2d-x 3.14.1 ?

thanks for the help!

-----------------------------------------------------------
- cocos2d-x version: 3.14.1
 - VS version: 2013

[2017-02-06 08:30] minggo commented on #14738
@youlanhai can not fix this issue, because it is saved as `std::string` in Node. So even can get correct characters from lua, the characters after `\0` will be truncated.

[2017-02-06 08:34] minggo commented on #16678
@ondesly did you https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src to rebuild jpeg lib? What special behavior did you do?

[2017-02-06 08:39] ondesly commented on #16678
@minggo I just removed libjpeg.a in armeabi-v7a and copied it from armeabi.

[2017-02-06 08:46] minggo commented on #16678
Got it, so your app is built with armeabi-v7a? I am not sure if it is a good choice to do like this in cocos2d-x because it is just to avoid the issues and there is not much NVIDIA Tegra devices.

[2017-02-06 08:53] thangenius commented on #17257
@dumganhar I now encounter this assert

CCASSERT(!_caFilePath.empty(), "CA file path is empty!");

I wonder why client-side need to specify the ca file path? The web version of our game creates wss connection without having to specify the ca path.

Please help me justify this assertion, thanks!

[2017-02-06 10:01] dumganhar commented on #17257
Please refer to http://discuss.cocos2d-x.org/t/websocket-supports-ssl-connections/34611

You need a CA file in native since Websocket implementation in libwebsockets is different from browser, native doesn't know where to find the CA file.

[2017-02-06 10:19] thangenius commented on #17257
I see, thank you!

[2017-02-06 10:20] pbs0512 commented on #17043
the same problem with xcode 8.3 beta

[2017-02-06 10:24] minggo commented on #17043
It is sad to hear that. I tried @iyexiao 's method, but can not fix it.

[2017-02-06 10:45] sp-oscar-noguera commented on #17272
@minggo could you elaborate more on your response ?

[2017-02-06 12:11] redclock opened #17292 "ProgressTimer doesn't show after a Sprite, only on Android"
- cocos2d-x version: 3.14
- devices test on: Android Galaxy 4S

Steps to Reproduce:
[code]

On Android, the pProgress node will not be displayed, while on iOS it is all correct.
If we remove the line

     pNode->addChild(Sprite::create("native/battery.png"));

The pProgress will show correctly.
I think there are some problems when the ProgressTimer is rendered after a Sprite node on Android.

[2017-02-06 13:53] piotrros opened #17293 "Please update spine runtimes"
- cocos2d-x version: 3.14

After updating spine to the latest version we've experienced problem when opening binary model (.skel). It simply crashes the app while opening file. I had to manually add new spine files, but the problem is some changes in spine methods were made. For example parameters in event listeners.

I'd be nice if you'll update spine runtimes to the latest version in the next re

[2017-02-06 21:10] crazyhappygame opened #17299 "Change std::sort to std::stable_sort in CCEventDispatcher.cpp"
- cocos2d-x version: 3.14
- devices test on: All
- developing environments
   - NDK version: r13
   - Xcode version:
   - VS version: 2015
   - browser type and version:

Steps to Reproduce:

1. Add few listeners to the same node "node"

`cocos2d::Director::getInstance()->getEventDispatcher()->addEventListenerWithSceneGraphPriority(listener, node);`
2. Issue: order of dispatching is undetermined (

[2017-02-06 21:11] crazyhappygame commented on #17299
@minggo Could you fix it?

[2017-02-06 21:42] MileyHollenberg commented on #17249
If you select Larger Text (the first option) the issue happens as well, only with the three options in the middle does the scaling seem right

Edit:

I was just about to look into this issue myself but it appears to be working fine now, the only thing that changed (that might have some effect on this) is that I plugged in an external 1080P monitor today, other then that I haven't made any changed

[2017-02-07 01:35] minggo commented on #17272
Since OpenGL ES 2.0, the developer should manage the matrix themselves. There is not glPushMatrix/glPopMatrix and other similar functions anymore.

[2017-02-07 01:38] minggo commented on #17299
@crazyhappygame sure. You can send a PR to fix it too, why not?

[2017-02-07 02:46] hussain-sohaib commented on #17265
Hi,

Any update on this issue?

Thanks

On Sun, 5 Feb 2017 at 04:11, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-02-07 03:35] nicolechen819 opened #17303 "Sprite with cannot be stretched if in polygon mode"
- cocos2d-x version: 3.14.1

Hi, I see a snippet of code in CCSprite.cpp Sprite::setContentSize function:
[code]
Are there other ways to stretch the sprite in polygon mode?

[2017-02-07 06:07] milani opened #17304 "socket.io emit with multiple arguments"
In socket.io protocol, It is possible to emit an event with multiple arguments i.e. `client.emit("event","arg1","arg2")` but it is not possible in cocos2d implementation.

Also the underlying structure of `SocketIO.cpp` allows this (with multiple call to `packet->addData`), the `emit` signature is limited to a single string argument.

- cocos2d-x version: 3.14.1

[2017-02-07 11:11] MrCapone opened #17305 "CMake Visual studio build failed"
I use CMake build system for build desktop project. This is the easiest way to include third-party libraries in a multi-platform project.  After this commit be43c4210f1dc648a8e8925398fda4cf1b1245ba build audio engine on win32 fails with CMake. Compile error: `cocos2d\cocos\audio/win32/AudioCache.h(35): fatal error C1083: cannot open include file: AL/al.h: No such file or directory`. Seems it wrong

[2017-02-07 17:46] sandfresh opened #17307 "Attached bitmap label with same texture batch doesn't merge"
- cocos2d-x version: 3.13.1
- devices test on: Mi2S
- developing environments
   - NDK version: r13
   - Xcode version:
   - VS version: vs2015
   - browser type and version:

Steps to Reproduce:

1. Add  Bitmap Label to any Sprite
2. Loop the step 1 n time, the draw call will become n.

If the sprite add label,the label batch only work in this sprite.
for example, if 1 sprite adds N bitmap label,

[2017-02-07 20:06] ZolnerBen commented on #17305
The compiler generates a C1083 error when it can’t find a file. Are you sure the file is in the Compiler search path? It could also be because of a wrong version name.Try looking over the compiled files.It may be because your precompiled headers are not yet precompiled.

[2017-02-08 02:06] sandfresh opened #17315 "Websocket has not event when off screen disconnect on iOS"
- cocos2d-x version: 3.13.1
- devices test on: iphone 5
- developing environments
   - NDK version:
   - Xcode version: 8.2.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Turn off iphone screen
2. Turn on iphone and back to game.
This time actually the websocket has disconnected
,but the websocket didn't send any event.
This time check the websocket status is still conn

[2017-02-08 02:22] #17305 closed, assigned to nobody

[2017-02-08 02:27] MrCapone commented on #17305
@ZolnerBen
I already found solution and push it as pull request. Problem was in search path, yes. In default project search path is `.../OpenAL/include` and _FindOpenAL.cmake_ generate `.../OpenAL/include/AL` search path.

[2017-02-08 02:53] minggo commented on #17299
fixed in https://github.com/cocos2d/cocos2d-x/pull/17321

[2017-02-08 03:36] njh0602 commented on #17269
I have a problem that is incompatible with the header file generated by the latest version of flatbuffers and the code of existing flatbuffers. So I replaced it with the latest version of the flatbuffers code and removed the code for cocos-studio, and it works fine.

[2017-02-08 05:31] QwincyLi commented on #17134
Sorry for my later reply!  Perhaps my test code and description is not correct!

i had tested it on v 3.14.

if parent node called setContentSize! the method setAnchorPoint() was invalid ! The position of the child node is wrong!

      `auto scene = Scene::create();

	auto visibleSize = Director::getInstance()->getVisibleSize();
	Vec2 origin = Director::getInstance()->getVisibleOrigin();

	auto s

[2017-02-08 05:57] #17299 closed, assigned to nobody

[2017-02-08 07:25] minggo commented on #17134
I think the result is correct. sprite1's anchor point only affect sprite1's position, its origin is bottom left. sprite2 is a child of sprite1, so sprite2's position(center of sprite2 as the anchor point is (0.5,0.5)) is relative to sprite1's origin.

[2017-02-08 07:42] minggo commented on #17303
@ricardoquesada any idea of this issue?

[2017-02-08 07:47] minggo commented on #17291
What's the error? A runtime error or compiling error?

[2017-02-08 08:42] Sluysarev commented on #17291
The compilation is successful, run-time error.

![error](https://cloud.githubusercontent.com/assets/23049273/22729382/2d9d45c4-edeb-11e6-9062-64463755a883.jpg)

[2017-02-08 09:33] alonlevylll opened #17325 "android js binding CCJavasciptJavaBridge not calls env->DeleteLocalRef"
I got JNI max table=512 exception, after a lot of JS jsb.reflection.callStaticMethod calls.

After some investigations, seems like there is no call to DeleteLocalRef for all argument passed through the JNI call.

[2017-02-08 13:25] jarsj opened #17326 "WebSocket doesn't connect on 3G"
WebSocket consistently doesn't work on some connections. I can replicate the following behavior 100% of the time on my Vodafone (India) 3G connection. It works on my WIFI connection. On the same connection 3.9 works, tests on websockets.org also work. So, this seems to have been recently introduced somewhere between 3.9 and 3.14.

lws_client_connect in WebSocket.cpp:619 returns NULL.

- cocos2d-x

[2017-02-08 13:57] ilqvya commented on #15283
I have the same problem

[2017-02-08 14:10] ilqvya opened #17327 "Physics movement and setSpriteFrame(for animation) method issue"
- cocos2d-x version: 3.14.1
- devices test on: HP Pavilion g6 with windows10
- developing environments
   - VS version: 2015

Steps to Reproduce:
1. Start to move sprite to up or down direction by setVelocity method
2. Start sprite frame animation with Animate action or directly with: RepeatForever::create Sequence::create({  CallFunc::create([this] { setSpriteFrame(nextFrame); }, DelayTime::creat

[2017-02-09 01:44] dumganhar commented on #17326
Thanks for the issue report. I will check it and let you know what I get.

[2017-02-09 01:45] dumganhar commented on #17257
@thangenius, does your application pass AppStore now?

[2017-02-09 02:34] thangenius commented on #17257
@dumhanhar the previous version of our game which uses libwebsocket 1.6.0 w/o SSL is still in review. I will try to use libwebsocket 2.1.0 in the next version and report the result to you soon.

[2017-02-09 02:40] minggo commented on #17293
fixed in https://github.com/cocos2d/cocos2d-x/pull/17331. Update to v3.5.35 which is latest version.

[2017-02-09 02:46] dumganhar commented on #17257
@thangenius ,thank you. 👍  :)

[2017-02-09 07:23] dumganhar commented on #17326
@jarsj , I tested it with cpp-tests/WebSocketTest of v3.14.1 and found that it worked well on my iPhone 6 with 4G network.

[2017-02-09 08:04] hussain-sohaib commented on #17265
Hi,

@mingo could you please confirm that you got the code files to recreate the
issue?

thanks

On Tue, Feb 7, 2017 at 7:45 AM, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-02-09 08:14] jarsj commented on #17326
@dumganhar Yep. For me

Version | Vodafone 3G | Airtel 3G | WiFI
------- | -------------- | -------- | -----
3.14.1 | No | Yes | Yes
3.9 | Yes | Yes | Yes

Do you have a strategy to debug this or you want me to paste some logs ? As I said the function lws_client_connect returns NULL. I tried looking at the websockets source code but couldn't even find where this function is defined.

I can create

[2017-02-09 08:15] jarsj commented on #17326
I am testing facebook's SocketRocket on the same connection and post results.

[2017-02-09 08:36] zilongshanren commented on #17303
@nichos1983
I think you could only scale the sprite with polygon mode.

[2017-02-09 09:23] dumganhar commented on #17326
Probably, it's a bug in libwebsockets.
v3.9 uses libwebsockets1.3 while v3.14.1 uses libwebsockets1.6.0.

If you wanna debug inside libwebsockets, you could go to https://github.com/warmcat/libwebsockets/releases/tag/v1.6.0-chrome48-firefox42 to get the source code.

BTW, Recently, we have upgraded `libwebsockets` to `v2.1.0` version.
And refactored some code of WebSocket to make it support `wss`

[2017-02-09 10:20] div5yesh commented on #17326
Have tried the above solution, not working for android native build. There are errors in WebSocket.cpp and libwebsockets.a(ssl.c.o).

[2017-02-09 10:37] dumganhar commented on #17326
What's the errors?

发自我的 iPhone

[2017-02-09 10:42] div5yesh commented on #17326
I have posted the issue #https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/issues/272

[2017-02-09 11:14] fresair commented on #17245
Please help to solve the problem, otherwise this engine can not be used since spine will 100% cause crash.

[2017-02-09 11:24] hussain-sohaib commented on #17245
hi,

Are you by any change calling removealleventlistner() in a scene with spine
animations? Because I was calling it in a scene with spine animation when I
was changing scenes. They way I solved it was to remove all event listeners
by name. Also just to tell you I use API provided by spine guys and not the
one shipped by cocos2dx as it is outdated and don't work with latest spine
files.

thanks

[2017-02-09 11:37] hussain-sohaib commented on #17245
Just make sure you are not calling removealleventlistners() (or equivalent
because i am using c++) any where in your code.

On Thu, Feb 9, 2017 at 4:24 PM, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-02-09 13:20] jarsj commented on #17326
Hi @dumganhar, Latest V3 doesn't work as well. I cloned a fresh copy and ran cocos2d-tests. Here is the output from "WebSocket Test". Note, I enabled DEBUG, PARSER, etc by uncommenting line 417, but nothing changed in the log output.

Also note that I also integrated facebook's SocketRocket, which works on the same connection.

I will now try to add libwebsocket source and add breakpoints in the s

[2017-02-09 13:33] jarsj commented on #17326
Figured out why the logging didn't change. I am now building debug library for websockets and will update with more detailed logging.

[2017-02-09 13:39] moonwith commented on #15652
@minggo, galaxy tab4 still has this problem.I have commont "mapbuffer"

[2017-02-09 17:58] formatCvt commented on #16849
@pablorealini what about your test results?

[2017-02-09 18:17] jarsj commented on #17326
I hit a wall trying to compile websockets for debug mode. @dumganhar Is it possible for you or someone from cocos2d team to generate a libwebsockets.a (debug) version. It might give more info.

[2017-02-09 21:43] jarsj commented on #17326
The issue seems to be restricted to IOS (both simulator and multiple devices). Same network and 3.14.1 works for android.

[2017-02-10 02:30] minggo commented on #17293
and some binding codes updated https://github.com/cocos2d/cocos2d-x/pull/17335/files

[2017-02-10 02:33] minggo opened #17336 "Should auto bind std::function for lua binding"
Now binding generator supports binding std::function<> type, but lua binding doesn't use it. For example, in `lua_cocos2dx_spine_manual.cpp` it still uses manual binding codes for `SkeletonAnimation::setXXXListener()`. It is not convenient.

[2017-02-10 02:40] Areaper commented on #13207
@zilongshanren Cocos use addProtectedChild in UIRichText. Is there any way to get these child node?

[2017-02-10 03:57] minggo commented on #17325
fixed in https://github.com/cocos2d/cocos2d-x/pull/17338

[2017-02-10 05:51] #17325 closed, assigned to nobody

[2017-02-10 05:57] #17303 closed, assigned to nobody

[2017-02-10 06:01] #16871 closed, assigned to dumganhar

[2017-02-10 06:17] minggo commented on #17327
does the sprite's position is changed both by action and physics engine?

[2017-02-10 06:24] div5yesh commented on #17326
@jarsj have you compiled libwebsocket or using pre-compiled binaries (for android)?