[2015-01-28 22:06] #10199 closed, assigned to super626

[2015-01-28 23:37] #10020 closed, assigned to super626

[2015-01-28 23:40] darkdukey commented on #10197
Should be fixed by #10248
Also require to merge https://github.com/chukong/FantasyWarrior3D/pull/202

[2015-01-29 01:48] #10262 closed, assigned to WenhaiLin

[2015-01-29 01:57] sss316 commented on #10063
Two bugs.
detailed description:
https://github.com/cocos2d/cocos2d-x/issues/10063

At 2015-01-26 09:52:16, "Huabing.Xu" notifications@github.com wrote:

@sss316
Can you give a detailed description of bug, which version has the bug?
Could you create a short test case for the bug?

¡ª
Reply to this email directly or view it on GitHub.

[2015-01-29 02:10] WenhaiLin commented on #10260
@liamcindy What's the engine version? I can't reproduce it base on the latest version of cocos2d-x v3 branch.

[2015-01-29 02:13] #10207 closed, assigned to super626

[2015-01-29 02:23] WenhaiLin commented on #10260
@liamcindy Sorry,i can reproduce it now.

[2015-01-29 03:58] WenhaiLin commented on #10260
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10271

[2015-01-29 05:51] liamcindy commented on #10260
@Dhilan007 Thanks

[2015-01-29 05:56] #10260 closed, assigned to WenhaiLin

[2015-01-29 08:25] liamcindy opened #10273 "TextField has different dispaly between windows and mac with the same text"
[code]

OnWindows:
![windows](https://cloud.githubusercontent.com/assets/2688189/5954517/6a053e1e-a7d3-11e4-9dae-a971f2829fe3.png)

OnMAC:
![mac](https://cloud.githubusercontent.com/assets/2688189/5954521/780399e8-a7d3-11e4-851f-15d186b8d03a.png)

[2015-01-29 08:26] liamcindy commented on #10273
@Dhilan007 Please check this issue, thanks

[2015-01-29 08:29] naghekyan opened #10275 "A sprite in the frustum with depth test enable is not being rendered. (cocos2d-x 3.2, 3.3)"
I create a HelloWorld project with cocos2d-x 3.2 or 3.3. In HelloWorld.cpp there is a `sprite`.  I activate depth buffers on Director like this:

[code]

and set `sprite` Z position as follows:

[code]

The result is that the image moves right and up. Which is clear as I have a perspective projection. So when I set now the position to (-1, -1)  and change anchor point to right-bottom:

[code]

the

[2015-01-29 08:58] WenhaiLin opened #10276 "[win32]cpptests-->Node:Cliping-->Clipping to RenderTexture: Show different after click button 'Reproduce bug'"
![qq 20150129165810](https://cloud.githubusercontent.com/assets/5234286/5954864/128918e0-a7d8-11e4-84c8-95970feedcc1.png)
![qq 20150129165827](https://cloud.githubusercontent.com/assets/5234286/5954865/16eef97c-a7d8-11e4-9504-721a90c85e5f.png)

[2015-01-29 10:02] doomsdayer commented on #10193
@joewan, the key reason for this problem is found, in:

cocostudio::Armature::init
┗ cocostudio::Armature::createBone
    ┗cocostudio::Bone::setBoneData
        ┗cocos2d::Ref::release

When calling cocostudio::Armature::init for 1000 times, if we don't call the release function, cocostudio::Armature::init CPU time is reduced by more than 12s. (13588ms→1108ms).

I think it's not good that the engin

[2015-01-29 10:35] jasonzhangxx opened #10280 "某些Activity切换情况，会导致Cocos2dxRenderer onDrawFrame不再调用"
某些Activity切换的情况（我这边是使用小米2，在接入应用宝SDK，使用QQ登录，很高概率发生），会导致Cocos2dxRenderer实效，onDrawFrame不再被调用，mainloop停止。

cocos2dx原代码如下：

[code]

//super.onPause();是被注释的。

我修改为：

[code]

回复surfaceview的正常super.onPause， Cocos2dxRenderer可以正常工作。

但是，对cocos2dx的事件处理造成的影响就未知了，请问下有没有更完善的解决方案？或者如何可以更好的处理surfaceview的onPause?  以及我这样修改造成的cocos2dx的异常可能会有哪些？

[2015-01-29 10:39] zhangzhibin commented on #10193
@doomsdayer,
Could you pls elaborate your idea?

I take a quick look at the code, but not sure where it is.

Do you mean the cause is in below method:

void Bone::setBoneData(BoneData *boneData)
{
    CCASSERT(nullptr != boneData, "_boneData must not be nullptr");

[code]

}

[2015-01-29 10:51] doomsdayer commented on #10193
@zhangzhibin  you are right.
You can delete this sentence, your program will have a better performance.

[2015-01-29 11:31] minggo commented on #10280
The reason `super.onPause` is commented is that, it will make glContext lost every time return from background. Then, all resources should be reloaded every time.

[2015-01-29 12:51] robslove opened #10282 "About lua executeScriptFile error"
int CCLuaStack::executeScriptFile(const char\* filename)
{
# if (CC_TARGET_PLATFORM == CC_PLATFORM_ANDROID)

[code]
# else

[code]
# endif

}

when use on ANDROID
invoke  "scripe.lua"
the first time is ok
the secend time has no response and the return value is also ok

I comment MACRO #if (CC_TARGET_PLATFORM == CC_PLATFORM_ANDROID)
use the #else part fix this program

donot know why use "require "

[2015-01-29 13:12] WenhaiLin commented on #10276
Android have this problem.

[2015-01-29 13:13] Dhilan007 commented on #10276
Android have this problem.

[2015-01-29 14:26] zilongshanren opened #10283 "[bug iphone5s lua-tests]ParallaxTest ZFlighting"

[2015-01-30 01:35] #9848 closed, assigned to dabingnn

[2015-01-30 02:05] ghost commented on #10276
This had already fixed in #10278

[2015-01-30 02:08] minggo commented on #10276
@Dhilan007
Please check it.

[2015-01-30 02:23] WenhaiLin commented on #10276
@minggo It is fixed.

[2015-01-30 02:23] #10276 closed, assigned to dabingnn

[2015-01-30 02:27] fusijie commented on #9690
@Dhilan007 pls have a look~

[2015-01-30 03:05] minggo opened #10284 "Limitation of current attribute usage"
Now cocos2d-x uses `glBindAttributeLocation` to bind all attributes statically when loading a shader. It is not convenient, because many attributes may not be used in a shader, but it occupies a location.

So we should get attributes dynamically.
And should trigger a warning message if a shader uses more than 8 attributes.

[2015-01-30 03:09] minggo commented on #10283
@andyque
Please check it.

[2015-01-30 03:22] zilongshanren commented on #10283
@minggo This issue was fixed.

[2015-01-30 03:22] #10283 closed, assigned to dabingnn

[2015-01-30 03:31] jasonzhangxx commented on #10280
all resources包括所有图片都要重新加载吗？而且是每次切后台都会发生……？reload的操作需要自己完成吗……？

[2015-01-30 03:47] minggo commented on #10280
Yep, it includes all pictures, and it will do every time.
Engine will reload it automatically.

[2015-01-30 04:01] minggo opened #10288 "remove vs2012 supporting"
Only supports VS2013.
Refer to [this ticket](http://discuss.cocos2d-x.org/t/how-about-remove-supporting-vs2012/19208) for detail information.

[2015-01-30 04:02] minggo opened #10289 "Remove Spine reader"

[2015-01-30 04:03] minggo opened #10290 "Merge JSB into cocos2d-x"

[2015-01-30 04:03] jasonzhangxx commented on #10280
3Q，有新的发现会继续发上来。

[2015-01-30 04:03] minggo opened #10291 "Remove cocos studio reader"

[2015-01-30 04:04] minggo opened #10292 "Remove cocosbuilder reader"

[2015-01-30 05:58] pandamicro opened #10293 "More mobile features requested: Album access, Camera access etc"
There are some common used features in mobile games, like Album for save screen captions or upload user images. Camera access for taking photos or reality augmented games. If Cocos2d-x can provide a common API across iOS / Android / Windows Phone, it should be very useful.

Here is a what I can image:
- Album
- Camera
- Microphone
- Geolocalisation

You can add your own ideas to this list

[2015-01-30 06:01] minggo opened #10294 "remove deprecated API that are deprecated in v2.x"

[2015-01-30 06:05] zilongshanren commented on #10293
+1 for Vibration

[2015-01-30 06:07] gyf19 commented on #10293
+1

[2015-01-30 06:46] fusijie opened #10296 "[v2.2.6]CCLabelBMFont::setFntFile"
`version:` v2.2.6
`reproduce:` add following code to helloworld project.

[code]

![2015-01-30 14 33 02](https://cloud.githubusercontent.com/assets/5085300/5972092/99b61d98-a88e-11e4-9cc4-4d5a75a7d3c4.png)
`How to fix it?`

[code]

![2015-01-30 14 33 18](https://cloud.githubusercontent.com/assets/5085300/5972102/c069cf70-a88e-11e4-920d-b3953fd14381.png)

you can download the resource [here](https:

[2015-01-30 07:02] zhangyi commented on #10280
@firegames  最后你是如何处理的啊   :)

[2015-01-30 07:39] jasonzhangxx commented on #10280
暂时把这个bug留着……现在影响的用户还算比较少，不敢动

[2015-01-30 07:47] WenhaiLin commented on #9690
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10299

[2015-01-30 07:48] minggo commented on #10280
I think it is better to do special operation for xiaomi2.

[2015-01-30 07:50] fusijie commented on #9690
Thanks @Dhilan007

[2015-01-30 09:22] minggo opened #10302 "Remove duplicated test cases"

[2015-01-30 10:29] minggo opened #10304 "Refactor external folder structure"
In current structure, cocos2d-x should include many header search paths. And it is hard to use the header files in source codes.

Take png for example, it is used like

[code]

It is better to use like

[code]

[2015-01-30 10:59] reagentoo commented on #10304
But standart path for png in many linux distros is just png.h.

ls -l /usr/include/png.h
lrwxrwxrwx 1 root root 14 янв 23 16:04 /usr/include/png.h -> libpng16/png.h

I have a nearly complete cocos2d-x package for Gentoo. But I can't finish it because of the many similar problems in the source code and in build system of cocos.

[2015-01-30 11:27] FrancoisDupayrat opened #10306 "UIEditBox: add support for WillBegin/WillEnd"
Currently, UIEditBox only call delegate for editBoxEditingDidBegin and editBoxEditingDidEnd.

Sometime, you need to do something before showing the EditBox, and something else after showing it.

Furthermore, on current Android implementation, editBoxEditingDidBegin is called before the EditTextDialog is shown.

I did the implementation of editBoxEditingWillBegin for iOS and Android: https://github

[2015-01-30 12:29] emadpres opened #10309 "ui::Text cause seperated letter - in persian or arabic"
I did some project with `cocos2dx 2.x` and `CCLabelTTF` works fine with Persian(Farsi) fonts ( both Windows and Android output )
Now, when I do the same with `ui::Text` of `cocos2dx 3.3rc` ( and I think also `3.3` final ), I face the word's letter are breaking aprat in Android devices.
for clarity, check below screenshot:

![sceenshot](https://cloud.githubusercontent.com/assets/2047884/5975635/455

[2015-01-30 15:24] emadpres opened #10311 "[v3.3] ui::TextField wrong Event happen"
`ui::TextField` in v3.3 gives wrong `TextField::EventType`.
I test it in windows ( but maybe other platform also).

**Scenario:**
**TAP 1**: If you press on a `TextField` ,  the `ATTACH_WITH_IME` event happens.
**TAP 2**: if in this condition (you pressed once), touch the area again , you get two event (in sequence): `ATTACH_WITH_IME` === and immediately then==>  `DETACH_WITH_IME`.

Also after **T

[2015-01-30 15:33] ghost commented on #10288
So, we have to wait 998 years for Visual Studio, which will support the Cocos.
Please correct misspell :D

[2015-01-30 15:59] minggo commented on #10288
@CasteyDaSilva
What did you mean?

[2015-01-30 15:59] minggo commented on #10288
Oh, i got it.
Correct it.

Thanks:)

[2015-01-30 18:55] slackmoehrle opened #10312 "Apple/IOS 8.1 naming conventions are causing users to get apps rejected."
Forum chatter is stating that users using v3.2 and v3.3 and submitting to the App Store are having apps rejected due to the face "ios" is my default in the `Product Name`. This is due to the target containing "ios" in it and `Product Name` by default uses it. The simple change is manually changing `Product Name` however there some users feel that out of the box we are setting them up to have apps

[2015-01-31 04:22] Kiranatus opened #10313 "glError: 0x0502 on CCTexture2D->initWithData"
I'm trying to create a texture using CCTexture2D->initWithData. But in the "Texture2D::initWithMipmaps" function OpenGL gives an error.

[code]

My code:

[code]

Image Width/Height = 1024
DataLen = 3145728

I also trying generate a texture by myself:

[code]

But it still gave an error. The program does not stop, but the texture (CCTexture2D) is empty (NULL), because the OpenGL error in CCTexture

[2015-01-31 07:22] joewan opened #10314 "AudioEngine bug (iOS only)"
AudioPlayer.mm

[code]

sometimes alError is -1.

my cocos2d-x's version is 3.3rc1.

[2015-01-31 08:13] zilongshanren commented on #10311
@Emadpres
Thanks, we have transpose the the Attach event and Detach event in v3.4, please check it out.

[2015-01-31 10:56] MohHeader commented on #10309
I have the same problem with Arabic fonts,
as a workaround try to use
Label::createWithSystemFont method.

[2015-01-31 11:21] Emadpres commented on #10309
@MohHeader Thanks dude. I know that when I give a fake font name ( and make `ui::Text` to use system default font) letters look ok again. But I need to have not only sticked-together letters, but also use my desire font.

[2015-01-31 11:37] MohHeader commented on #10309
You can use your own font
Label::createWithSystemFont("Text", "fonts/font.ttf",  FONT_SIZE_INT );

[2015-01-31 12:15] uniharmony commented on #9499
I have encountered exactly the same problem as @matsukaz reported.

It can be easily reproduced by a piece of simple code.

[code]

[code]

If it works properly, it should turn out to be like this:
![image](https://cloud.githubusercontent.com/assets/9277290/5987682/d7ffec2e-a973-11e4-869f-5f0062dcabb8.png)

But sometimes it fails like this:
![image](https://cloud.githubusercontent.com/assets/92772

[2015-01-31 13:24] hamburml opened #10316 "[v3.4 with cocos studio 2.1 and cocos code IDE 1.1.0] not working, simulator shows 3.4rc1, errors"
http://discuss.cocos2d-x.org/t/update-project-to-cocos2d-x-3-4/19705

[2015-01-31 16:44] yagjak commented on #10293
Yes, it will be very useful for us, thanks cocos team.

[2015-01-31 18:16] vasumahesh1 opened #10318 "TileMap Rendering Issue Cocos v3.3"
Hi,

I was trying to render a simple tile map on windows phone. And I got it loaded successfully but my Tile maps are loading quite differently than I had set it up in Tiled.

Here is the screenshot from my phone (wp8.1 preview for developers)

![bug](https://cloud.githubusercontent.com/assets/5372612/5989110/3b3833fe-a9a2-11e4-938a-783532dbbd28.png)

Here is what i expected (Screenshot from Tiled

[2015-02-01 00:35] stammen commented on #10318
Does this happen for Windows Phone 8 or Windows Phone 8.1 (universal app) projects?

[2015-02-01 05:27] vasumahesh1 commented on #10318
WP8 Project

[2015-02-01 08:44] jooddang opened #10319 "ClippingNode does not work correctly on Android"
What I've found are that:
- If I add multiple ClippingNode's as a child of a scene, only the last ClippingNode is shown. -> I suspect drawing buffer is overwritten.
- Stencil of the ClippingNode does not work. It means that it does not draw node as I intended.

I tested it on Android 4.4.2 Nexus 7 emulator. On Xcode and iOS simulator, it works well.

[2015-02-01 09:55] sss316 opened #10320 "如何选中3d场景中的模型"
3d世界中，因为相机视角是可移动的，所有每个模型显示在屏幕上的位置也不确定，
问题来了，我触摸屏幕，怎么得到我触摸了哪个模型？
例如：war3游戏中，必须选中敌人才能攻击它。

[2015-02-01 15:19] KrissMu opened #10321 "Label::createWithBMFont and text with accents does not show"
Hi,

I'm trying to use image based fonts (with a PNG and the associated .fnt file) and to display text containing accents with it.

It does not work, the labels are not shown at all.
After investigation, I found that setString() calls StringUtils::UTF8ToUTF16() that will consider the accent as invalid character (in ConvertUTF.c) since its ASCII value is not in the range of 0x80 - 0xC2 (128 - 194).

[2015-02-01 15:21] zqw87699 opened #10322 "如何获取图片中某点的RGB值（非用作像素级碰撞检测）"
麻烦cocosjs添加一个函数，可以获取到图片中某点的RGB值（非用作像素级碰撞检测）

[2015-02-01 17:09] vasumahesh1 commented on #10318
I just made a fresh new project and loaded the TMX File. Got the same Render Issue.

[2015-02-01 17:20] stammen commented on #10318
Do you have the same problem with the Universal App project? It uses a newer version of our Angle (OpenGL -> DirectX) lib.

[2015-02-01 19:34] stevetranby opened #10323 "CCData needs include for CCLOGINFO when COCOS2D_DEBUG >= 2"
Android builds fail if debug level set at or above where CCLOGINFO is defined as console::log. The reason is that there is no header files bringing in base/CCConsole.h.

Either logs should be removed because the Data class is robust now, or correct headers need to be included.

[2015-02-02 01:48] SilkyPants opened #10324 "Error compiling clean HelloWorld sample with latest v3 branch"
Hi,

I've noticed a problem after attempting to create a new project with the latest (commit 173578c) v3 branch. If I create a new cpp project and try to compile I get an error about compiling cocos2d/extensions/assets-manager/Downloader.cpp on android (used cocos compile -p android)

[code]

Also if I try to compile the sample for iOS/Mac I get the following errors

[code]

If I roll back the coc

[2015-02-02 02:13] vasumahesh1 commented on #10318
Haven't tried yet .. Will try now .. Can you redirect me to a setup link for Windows 8.1 Universal ? Im having some build issues with it regarding libSpine.Windows

[2015-02-02 02:56] #10214 closed, assigned to dabingnn

[2015-02-02 03:01] zilongshanren commented on #10324
@SilkyPantsDan
Have you downloaded the latest 3rd-party deps? I mean you should run `python download-dpes.py` in your root directory of cocos2d-x.

[2015-02-02 03:10] WenhaiLin commented on #10321
@KrissMu Could you please make a sample project/code for reproduced this  issue?

[2015-02-02 07:05] zhangyi commented on #10280
我参与的游戏也遇到类似的问题，从360手机助手下载游戏后，它会自动安装。安装完成后，如果游戏已经启动，通过360手机助手再点击启动游戏，就会黑屏。这边的处理方法是，再弄一个Activity，然后启动游戏的主Activity（相当于外层套了一个壳子）

public class MainActivity extends Activity
{
    @Override
    public void onCreate(Bundle savedInstanceState)
    {
        super.onCreate(savedInstanceState);

[code]

}

[2015-02-02 07:29] happyfire commented on #9138
Hello, I have make our app compiled against ndk r10c, cocos2dx-3.2, and the latest libcurl prbuild, but when run on android 5.0, there is a error:
02-02 13:34:55.854: A/art(32240): art/runtime/verifier/method_verifier.cc:3321] Check failed: !Thread::Current()->IsExceptionPending()
The app can not be lanuched.
Anyone can give some help? Thanks!

Update:
The problem is only happend when we build on

[2015-02-02 07:30] happyfire commented on #9138
Hello, I have make our app compiled against ndk r10c, cocos2dx-3.2, and the latest libcurl prbuild, but when run on android 5.0, there is a error:
02-02 13:34:55.854: A/art(32240): art/runtime/verifier/method_verifier.cc:3321] Check failed: !Thread::Current()->IsExceptionPending()
The app can not be lanuched.
Anyone can give some help? Thanks!

[2015-02-02 08:26] minggo commented on #10319
What's your engine version?
Have you enabled stencil buffer?

[2015-02-02 08:30] minggo opened #10326 "Remove Director::loadMatrix, getMatrix, push/popMatrix"

[2015-02-02 09:20] joewan commented on #10314
@Dhilan007  I have provided code and res to @samuele3hu.

[2015-02-02 09:38] yiyayiyayo opened #10327 "incorrect display position in Huawei Mediapad 10 FHD"
The display rect in Huawei Mediapad 10 FDH is (0, 0, viewport.width, viewport.height) rather than (visibleOrigin - visibleSize).

You can see it clearly from the MultiTouch in CppTests, the actually touch point isn't the same position displayed(see image below)

![device-2015-02-02-173148](https://cloud.githubusercontent.com/assets/2703698/5998365/6c872a0e-ab01-11e4-8879-68a1425f78e2.png)
(snapsho

[2015-02-02 09:45] KrissMu commented on #10321
I can't provide full code, but this should behave the same that mine:

[code]

It will call:
- Label::setString
  - StringUtils::UTF8ToUTF16
    - UTF8ToUTF16
      - llvm::ConvertUTF8toWide
        - ConvertUTF8toUTF16
          - isLegalUTF8

The last will return false while processing the "é" character.

[code]

The hex code for "é" is 233, the code uses the table "trailingBytesForUTF8", maybe

[2015-02-02 11:40] vasumahesh1 commented on #10318
I was able to get hold of a Mac , and i got the same iOS render issue (Note this is an older map so it looks different but we see the same issue)....

![ios simulator screen shot feb 2 2015 5 08 02 pm](https://cloud.githubusercontent.com/assets/5372612/5999993/38f9dd1a-aafe-11e4-8e2b-0e4dccf6e0fe.png)

Can anyone inspect my TMX file ... I really don't know if this is correct or not.

[2015-02-02 12:42] stammen commented on #10318
You should probably open this issue on the main cocos2d-x repo

https://github.com/cocos2d/cocos2d-x/issues

[2015-02-02 12:46] vasumahesh1 commented on #10318
Umm ? My issue is listed there in that link right? I am on the main repo ...

[2015-02-02 12:53] vasumahesh1 commented on #10318
This was the output of the XCode Ouput Window :

[code]

[2015-02-02 13:44] WenhaiLin commented on #10321
@KrissMu The 'é' character without appearing to show cause by the 'futura-48.fnt' file not contains the 'é' character. What font that you use in your project?

[2015-02-02 14:23] KrissMu commented on #10321
I modified the picture and the .fnt file to include the missing character. Also, note that the issue is not the character is missing but the whole label does not show.

[2015-02-02 14:31] WenhaiLin commented on #10321
@KrissMu  Could you provide me the font file for test?

[2015-02-02 14:40] KrissMu commented on #10321
Well I'm not sure how to include non-image files here, so I'll put the contents of the file.

Image:

![futura-48](https://cloud.githubusercontent.com/assets/9886322/6002161/51c929fc-aaf1-11e4-88b0-d07d2847ab11.png)

fmt file:

info face="Futura-CondensedExtraBold" size=48 bold=0 italic=0 charset="" unicode=0 stretchH=100 smooth=1 aa=1 padding=0,0,0,0 spacing=2,2
common lineHeight=62 base=48 scale

[2015-02-02 15:19] WenhaiLin commented on #10321
The UTF16 code for 'é' character is 233,please view  the image
![20150202231341](https://cloud.githubusercontent.com/assets/5234286/6002798/7c17e3de-ab31-11e4-998c-4bebf6f98857.png)

[2015-02-02 15:23] WenhaiLin commented on #10321
@KrissMu You can test the code-set conversion like this:

[code]

[2015-02-02 15:26] KrissMu commented on #10321
Do you mean I need to change Cocos2d files or this can be done in my code ?

[2015-02-02 15:50] WenhaiLin commented on #10321
@KrissMu You should modified the font file.

[2015-02-02 15:58] KrissMu commented on #10321
Sorry, what should I change in the font file ? I just noticed that the font file I sent above contains "id=130" for letter="é", I modified it to 233 but with the same result.

The code that causes the failure does not seem to be related to the font file, but with the conversion to UTF16 that does not work for this character.

[2015-02-02 16:45] vasumahesh1 commented on #10318
Update on the situation :

When I Use a "TileSet Image" (Earlier was Individual Image per Tile) it Renders Perfectly on any platform.

But when I have individual Images for each tile it renders it in this manner.

For now it has seemed to fixed the issue.

As per the wiki:
http://www.cocos2d-x.org/wiki/TileMap

As a newbie to cocos and game dev, I have no idea what this means.. and seems misleadin

[2015-02-02 16:57] Seryusjj opened #10332 "drawLine in DrawNode does not allow to change the line width"
need a way to change the glLineWidth(2); on the DrawNode::onDrawGLLine method

[2015-02-02 18:55] piotrros opened #10333 "Label crash getString()/setString()"
Hi, I've made an empty project using cocos studio 2.1 and added to scene a label. But I can't change or get it's contents from code:

[code]

and I'm getting this exception:
[Imgur](http://i.imgur.com/O94hxZR.png)
As much as I understand this error it says that something is null and cannot be accessed. However label is not null, because if I comment last line it works and opacity is label is chang

[2015-02-02 18:58] lalaloha commented on #10333
no. this is not a bug. you're typecasting a "cocos2d::ui::Text *" type to "cocos2d::Label *" type, because of that it will crash. Simply typecast it to "cocos2d::ui::Text *" will solve the problem. cocostudio is using "cocos2d::ui::Text *" class if you're using the "Label" widget. I think you need to include "ui/CocosGUI.h"

[2015-02-02 19:04] piotrros commented on #10333
Wow thanks. I never though something named Label is not a Label, but Text class. This was very confusing.

[2015-02-02 19:04] #10333 closed, assigned to nobody

[2015-02-02 20:16] jooddang commented on #10319
I think it's cocos2d-x-3.4beta0. And, yeah, stencil buffer is not enabled.
D/cocos2d-x debug info(1174): create rendererRecreatedListener for GLProgramState
D/cocos2d-x debug info(1174): Stencil buffer is not enabled.
D/cocos2d-x debug info(1174): create rendererRecreatedListener for GLProgramState
D/cocos2d-x debug info(1174): create rendererRecreatedListener for GLProgramState

I think this log

[2015-02-02 20:51] transdb opened #10334 "Anchor point bug when loading csb file"
Hello,

in CSLoader.cpp there is bug with loading anchor point from csb file.
How to reproduce:
1) in cocos studio place button to scene set anchor point 0.5, 0.5 set position in % to 50%
![screen shot 2015-02-02 at 21 48 34](https://cloud.githubusercontent.com/assets/6638080/6008919/82cf85ee-ab25-11e4-9b8d-d7f75ce64ff3.png)
2) export csb file
3) load in your cocos C++ project (in cocos studio pre

[2015-02-02 22:56] hamburml commented on #10221
Try cocos studio 2.1 from http://cocos2d-x.org/download

[2015-02-02 22:57] hamburml commented on #10316
i would appreciate some help here
_edit_

I know it! The v 3.4 final is working. It's the cocos2d.dll which is inside of templates/lua-template-runtime/runtime/win32. It's downloaded with download_deps (the v3_lua_runtime_1.9.zip). It is build for cocos2d-x v3.4rc1. The cocos studio readers changed between 3.4rc1 and 3.4final. So the dll isn't working with cocos studio 2.1. Please update the lua_r

[2015-02-02 23:20] SilkyPants commented on #10324
@andyque

This was on a clone of the repository that had already been set up and dependancies downloaded, redownloading now.

Thanks for the help, confirming that it has fixed this issue. :)

[2015-02-02 23:20] #10324 closed, assigned to nobody

[2015-02-03 00:58] joewan commented on #10314
this bug will happen in both AudioEngine and SimpleAudioEngine on ios.

another question is about mutex,
why we do not use try_lock() in invokingCallbacks, AudioCache.mm
_callbackMutex.lock();

sometimes this will cause crash.  @minggo  @Dhilan007

[2015-02-03 01:02] joewan commented on #10314
maybe this bug is resource-related,
if we change "get_coin.mp3" to another sound res,  this bug disappear.
it is a little strange.

[2015-02-03 02:14] WenhaiLin commented on #10314
@joewan Thank you for feedback. Could you provide me the audio file for test?

[2015-02-03 02:17] WenhaiLin commented on #10314
@joewan Sorry, i have "get_coin.mp3" file already.

[2015-02-03 02:26] joewan commented on #10314
all bad sounds(like get_coin.mp3) have a common feature: it is single channel. @Dhilan007

[2015-02-03 03:24] Yehsam23 opened #10336 "3.4 Physics has critical bug"
3.4 Physics has critical bug.
If we add a physicsBody into B node.
Then A node addChild B
Scale A node....

You will see B node's position incorrect.

Version: cocos2dx v3.4

[code]

The PosX and PosY must -100, -100
But if use 3.4 cocos2dx will broken position.

Please fix this issue.

[2015-02-03 03:27] gcheih opened #10337 "请问如何对Sprite3D批次渲染?"
请问如何对Sprite3D做批次渲染

[2015-02-03 03:51] WenhaiLin commented on #10336
@Yehsam23 It's not a bug, 'Vec2(-100, -100)' is relative coordinate,PhysicsBody use the world coordinate of node.The initial implementation is wrong.

[2015-02-03 03:56] Yehsam23 commented on #10336
@Dhilan007
I know 'Vec2(-100, -100)' is relative coordinate.
You can see i print the "physicsNode" position not "PhysicsBody" position.
And if physicsNode do not setPhysicsBody, then position is correct "-100, -100"

I use version 3.3 the position is -100, -100

You can try it

[2015-02-03 07:48] dabingnn opened #10341 "cocos package -h and cocos framework -h can not show help info"

[2015-02-03 08:05] puckery opened #10342 "audios are playing together in android will crash"

[2015-02-03 08:17] dabingnn commented on #10341
@dualface Could you please take a look at the problem, the bug exist in 3.4

[2015-02-03 08:22] zawasp commented on #10221
Yes, it works with the final version. The problem was the repo was updated to version 2.1 and CocoStudio was still on 2.1 beta.

[2015-02-03 08:22] #10221 closed, assigned to chengstory

[2015-02-03 09:57] fusijie opened #10346 "Acceleration bug."
`version:` 3.4Final
`platform:` iphone
`issue:` the acceleration sprite will delay obviously after 30s. if you back to home screen, then return to the game, the direction of the acceleration is error.
`reproduce:` TestCpp-EventDispatcher-Sprite receives acceleration event test.

`ps:` this issue comes from the cocos support.

[2015-02-03 10:25] WenhaiLin commented on #10321
@KrissMu What platform you test on?

[2015-02-03 10:52] rdtr commented on #8305
Is there still possibility that a label still be broken when you pop a current scene and go back to a previous scene(if exists), because your newly created events are tied to a scene graph priority?

[2015-02-03 11:23] BangHee opened #10349 "How can I use "getNumBytesForUTF8(UTF8 firstByte)" In cocos2dx V3.4 version?"
Hi

How can I use "getNumBytesForUTF8(UTF8 firstByte)" In cocos2dx V3.4 version?

I'm getting these unfamiliar errors when attempting to compile it

error LNK1120 and error LNK2019.

What the check is going on ?

[2015-02-03 12:04] joewan commented on #10314
after we change the sound res to 2-channel, it is fixed.
We'd better do some resource-checking, give users some warning info.

And we'd better add a reset function into audio engine.
User can reset audio engine during switching scene, it can reduce the problems brought by Audio Engine.  it can break the audio bugs from spreading everywhere.
maybe AudioEngine::stopAll can use in this situation,  bu

[2015-02-03 12:41] #10332 closed, assigned to nobody

[2015-02-03 15:05] hamburml commented on #10221
I am sorry for writing on a closed issue but I have a problem with cocos studio 2.1 and cocos2d-x 3.4. What did you load? did you load json or binary?

I get following error ASSERT FAILED ON LUA EXECUTE: The reader build id of your Cocos exported file(t???) and the reader build id in your Cocos2d-x(2.1.0.0) are not match. He is unable to load the right id out of the binary files (i am using binar

[2015-02-03 15:12] zawasp commented on #10221
I loaded the binary version (.csb) from C++. I neeeded to export the project again from Cocos Studio (2.1 final).

[2015-02-03 16:06] KrissMu commented on #10321
I'm working on Windows 7.

[2015-02-03 16:29] flamefox opened #10353 "is this a bug? Sprite3D and Sprite mixture draw have different zorder between 3.4 and 3.4rc1[v3.4]"
这是3.4的[this is v3.4]
![image](https://cloud.githubusercontent.com/assets/3197993/6024053/609f408e-ac03-11e4-9d37-34d9912f8388.png)

[code]

添加顺序绝对在sprite3d之前，
Camera3DTest.cpp的332行之后添加即可
add after Camera3DTest.cpp line 332.

这是3.4rc1的[this is v3.4rc1]
![image](https://cloud.githubusercontent.com/assets/3197993/6024122/ddaab07c-ac03-11e4-82cc-1c6995079b0b.png)

[code]

因为3d旋转锚点有问题，这里调整了下位置，可以看到角色和精

[2015-02-03 17:24] mannewalis opened #10355 "using removeAllChildren on Scene causes Camera to be destroyed"
Like the title says. The camera is added to the scene during creation, but if you call remove all children it destroys the camera. Why is the camera a child? Can't it be a protected member? The scene or the renderer should just visit its list of cameras directly, and not rely on the scene graph IMO.

[2015-02-03 21:31] syswow opened #10356 "新的V3.4中，new一个新工程编译好了运行时发现少了 MSVCR110.DLL。"
我的系统是WIN8.1 X64, VS 2013 DESKTOP EXPRESS,
后来从http://www.microsoft.com/en-us/download/details.aspx?id=30679#
下载了Visual C++ Redistributable for Visual Studio 2012 Update 4 x86 才行。
请问这是为什么呢？ 3.4还依赖VS2012吗？

[2015-02-03 21:40] mannewalis opened #10357 "Stats labels are recreated 3 times during launch"
createStatsLabel() is called 3 times during launch. This is a fairly expensive operation as the font atlas cache does not hold on to the atlas since no other labels refer to it.
1. setOpenGLView
2. setContentScaleFactor
3. updateDesignResolutionSize

Perhaps they should be marked as invalid and have the frame update do it, or just find a better place to put it.

[2015-02-03 21:53] Blackbunny12 commented on #10321
Hi folks!

The same problem occurs with Label::createWithTTF  with Labels containing a German Umlaut (öäü).

I made sure the TTF I use contains these characters. (Same String in MS Word with same TTF displays fine).

But all labels with those characters dont show up at all in my cocos2dx app. Other strings are displayed fine.

[2015-02-03 22:01] KrissMu commented on #10321
Yes it won't work for the exact same reason: the isLegalUTF8 function considers any "unusual" character as an error and returns false, that makes the whole UTF16 string empty, and then the Label draw function exits at the beginning.

I don't understand how this has not been detected earlier.

[2015-02-04 02:24] minggo commented on #10346
We should fix it in v3.x and synchronize to v4.

[2015-02-04 02:25] minggo commented on #10342
@puckery
How to reproduce it?
What's the engine version?

[2015-02-04 02:51] lvlonggame commented on #10353
In 3.4final, you need to set the global-z like this "spr->setGlobalZOrder(-1)", after that ,the 3d-sprite will be drawn behind the 2d-sprite, just try it.

[2015-02-04 02:57] flamefox commented on #10353
at last, I use an empty node, and it works!

[code]

[2015-02-04 02:58] #10353 closed, assigned to nobody

[2015-02-04 03:21] dabingnn opened #10360 "version number is wrong in CMakefile of cocos2d-x root folder."
The version number should be 3.4, but it is
`set(COCOS2D_X_VERSION 3.3.0-rc1)`

[2015-02-04 04:27] darkdukey commented on #10353
We did this change because the previous way don't supports camera rotation correctly.

[2015-02-04 04:30] darkdukey commented on #10355
Maybe put it in a Vector container so it will increase the reference count.

[2015-02-04 05:11] stevetranby commented on #10318
I don't believe the cocos2d-x TileMap engine and parser supports the collection of individual images yet.

[2015-02-04 05:39] wangzongjun opened #10361 "UIListView显示都是正常的，但是截屏的图片：整张白色背景，UIListView背景是绿色的等问题"
使用cocos2dx-2.2.4，关于截屏分享这一块，发现一个问题问题
CCScene中包含UIListView，使用如下函数截屏：
bool saveScreenshot(const string strImageName,string &strFullPath)
{
    CCSize size = CCDirector::sharedDirector()->getWinSize();
    CCRenderTexture\* texture = CCRenderTexture::create((int)size.width, (int)size.height);
    texture->setPosition(ccp(size.width/2, size.height/2));
    texture->begin();
    CCDirector::sharedDirect

[2015-02-04 06:14] zilongshanren commented on #10361
For saving screenshot with stencil buffer enabled, you should create the RenderTexture like this:

[code]

[2015-02-04 06:16] wangzongjun commented on #10361
![buy_gift](https://cloud.githubusercontent.com/assets/4986683/6035974/53027642-ac78-11e4-93c9-e8d6077b06d2.jpg)

[2015-02-04 06:19] wangzongjun commented on #10361
Thank you reply so soon.
Texture2D::PixelFormat::RGBA8888在2.2.4是什么？

[2015-02-04 06:20] wangzongjun commented on #10361
o ,i see kTexture2DPixelFormat_RGBA8888.

[2015-02-04 06:25] wangzongjun commented on #10361
All right now! Many thanks!

[2015-02-04 06:41] minggo opened #10363 "cocos2d-x v3.3 lock screen issue"
Detail information please refer to [this ticket](http://discuss.cocos2d-x.org/t/cocos2d-x-v3-3-lock-screen-issue/19619).

[2015-02-04 06:47] #10361 closed, assigned to nobody

[2015-02-04 06:51] minggo opened #10364 "Websocket supports cookie"

[2015-02-04 07:21] minggo commented on #10356
VS2013 should not depend on VS2012.
It is strange that you need to install VS2012 Update 4.

[2015-02-04 07:42] sgcx0620 opened #10365 "wrong position happened when add shader to spine skeleton animation"
cocos2dx engine version 3.4final
when i create a sprite with a "jpg" picture and craete a spine skeleton animation at the same time, then i add shader to it (use CC_PMatrix), the position of sprite is right, however the position of spine skeleton animation is wrong ; if i add shader with CC_MVPMatrix to both of it , the opposite thing happen. the position of spine skeleton animation is right and t

[2015-02-04 07:53] WenhaiLin commented on #10294
First PR: https://github.com/cocos2d/cocos2d-x/pull/10379
Second: https://github.com/cocos2d/cocos2d-x/pull/10423

[2015-02-04 07:54] minggo commented on #10290
First PR is #10347.

[2015-02-04 07:55] fusijie opened #10366 "setTouchPriority() is misleading"
`version:` 2.2.x
`issue:`

[code]

couldn't used to change the priority of the layer dynamically, it is easy to mislead developers.

`The real method is`

[code]

[2015-02-04 07:57] yszheda opened #10367 "TTFLabel cannot have non-black shadow"
The shadow color cannot be set other than black in v3.3

[2015-02-04 08:54] seobyeongky commented on #9487
I got same issue. I use Xcode6.1.1 and [NSLocale preferredLanguages] always returns english on iPhone Simulator 8.1. And this function works ok on the real device. I think this is not a cocos2d-x bug.

[2015-02-04 09:04] neokoala commented on #9343
I wrote a complete tutorial for how to integrate Admob in Cocos2d-x v3.4 by using plugin-x. (OS X)

http://cocos2dmaster.blogspot.kr/2015/02/admob-integration-in-cocos2d-x-v34-with_4.html

Enjoy it ~~

[2015-02-04 09:49] piotrros commented on #10334
I wanted to make an issue about that. This is not a bug with cocos2d-x, it's a bug with cocos studio on mac os. Actually it only happens to me on mac os, try exporting csb on windows :)
And it's not only anchor point, the same goes for scale. Looks like cocos studio on mac os is writing wrong data to csb file.

[2015-02-04 09:56] piotrros opened #10368 "drawPolygon bug"
Hi, I've just ran into strange bug:

[Imgur](http://i.imgur.com/lE18Rt1.png)

These are 2 rectangles, first is drawn by using drawPolygon and second is drawn by using deprecated drawRect. Here's a code:

[code]

as you can see first rectangle (drawPolygon) has one line with wrong thickness.

[2015-02-04 10:04] ts0307 opened #10370 "addSpriteFramesAsync not defined in display.lua"

[2015-02-04 10:07] ts0307 commented on #10370
addSpriteFramesAsync not defined in cc.SpriteFrameCache:getInstance()

[2015-02-04 10:20] litefeel opened #10371 "Non-standard names and usage in function.lua"
[code]

Why not use camel name?

[code]

why not return an new table?

[2015-02-04 10:20] litefeel commented on #10371
https://github.com/cocos2d/cocos2d-x/blob/v4-develop/cocos%2Fscripting%2Flua-bindings%2Fscript%2Fcocos2d%2Ffunctions.lua#L445-L502

[2015-02-04 10:22] litefeel commented on #10371
@minggo @dualface

[2015-02-04 12:33] panxh opened #10372 "v3.4 on windows render abnormal"
We upgrade our project fro v3.3 to v3.4, and upgrade  cocoStudio to v2.1, then export all the csb files used by the project. The upgrade process was successful, but after that,when  running the project,we found the render system seems running abnormal on windows,  however it runs on on mac and android, we thought maybe the opengl issue. Follows figure is the screenshots on windows.
![1](https://cl

[2015-02-04 12:49] emadpres commented on #10309
@MohHeader wow. Thanks my friend. your suggestion solve my problem ! Thanks a lot :+1:  :)

[2015-02-04 21:29] stevetranby opened #10373 "Build error when CC_USE_CULLING=0"
Build error when CC_USE_CULLING=0
This line should probably be outside the #if

[code]

[2015-02-04 21:54] #10197 closed, assigned to nobody

[2015-02-05 02:49] dabingnn opened #10375 "Label::createWithBMFont("Common_NumberBlue.fnt","0") behave wrongly."
In 3.3 final, the code works well, in 3.4 final, "9" would not be shown correctly.

[2015-02-05 02:50] dabingnn commented on #10375
It is better to support the font file `Common_NumberBlue.fnt` to reproduce the bug.

[2015-02-05 03:09] fusijie opened #10377 "the render logic of Camera3D is error"
`version:` 3.4Final
`issue:` the render logic of Camera3D is error
`reproduce:` add following code to TestCpp-Camera3DTest.cpp, the label doesn't run the action.

[code]

`How to fix it?`

[code]

[2015-02-05 03:26] WenhaiLin commented on #10375
I can't reproduce this issue with 'arial16.fnt' font file.

[code]

![testfnt](https://cloud.githubusercontent.com/assets/5234286/6054510/642a2c24-ad29-11e4-975b-325dd09628ba.png)

It's better to provided me an sample for reproduce this issue .

[2015-02-05 03:48] WenhaiLin opened #10378 "Fix warn cause by uses deprecated API"

[2015-02-05 05:35] yasuharu519 commented on #9165
I got same issue as here. Is that already fixed? @minggo

[2015-02-05 06:23] #10378 closed, assigned to nobody

[2015-02-05 06:39] fusijie opened #10381 "NewAudioEngine bug."
`version:` 3.4Final
`platform:` iPhone ( with siri )
`issue & reproduce:` open the Test-Cpp, New AudioEngine, audio control test, click the `play` button. now the music is playing, then press and hold the home button to show the siri interface, after that return to the Test-Cpp, music is stopped and couldn't play again.

[2015-02-05 06:43] fusijie commented on #10381
I open the issue here. @Dhilan007

[2015-02-05 07:04] zengKun2002 commented on #10314
i have the same problem.Change the single-channel to 2-channel, problem solved. Still dont know why?!

[2015-02-05 07:34] maginemu commented on #9165
I'm in the same situation too.  It occurs only on ios Device.  but ios-simulator is normal.

[2015-02-05 08:18] Yehsam23 opened #10382 "Remove curl dependency from AssetsManager, AssetsManagerEx, Downloader"
Cocos2d-x v3.4 had a big improved feature.

Smaller Size
Libcurl has been replaced by system network library on mobile platform such as IOS and android, which make game package more lightweight.

But the AssetsManager & Downloader still use curl libs.

Would you change those curl to use HttpClient?

Thanks

[2015-02-05 08:42] minggo commented on #10382
Yep, we will replace curl in AssetsManager too.
Because it needs more time, so we don't implement it in v3.4.

[2015-02-05 09:26] #10365 closed, assigned to nobody

[2015-02-05 09:32] meiry opened #10384 "Add in Data or in Texture2D the initial file name as string member name"
This is feature request
when set new Texture2D from file , if i don't keep track of the name of the file in some class
i actually don't know which file i did setup the Texture2D.
it will be very useful to know it . by querying this member file
something like :

[code]

[2015-02-05 09:47] MFHSchoonbrood opened #10385 "BlueTooth keyboard ON/OFF = Black screen with only fonts showing"
I'm testing on a nexus 7 with a bluetooth keyboard.

If I turn the keyboard on or off while a cocos app is running, the screen turns black and I only see font texts (tested with ttf and bitmap font).

What seems to happen is that the whole app is destroyed and recreated (judging by the message flow).
Here is the relevant log:

[code]

First of all, it seems weird this happens at all... Why does th

[2015-02-05 10:08] Yehsam23 commented on #10382
Thanks a lot

[2015-02-05 11:38] MFHSchoonbrood commented on #10385
Here is the callstack when I break at the main activities onStop() function.

[code]

[2015-02-05 11:53] Elrinth opened #10386 "ui::TextField hitTest not working as expected"
If you do: setTouchSize and setTouchAreaEnabled(true) and have setAnchorPoint(Vec2::ANCHOR_MIDDLE_LEFT)
Then it will do the hit collision wrong. Plus why isn't the Rect function containsPoint used?

My suggested solution is replace the function code with (my code might be wrong, but it seems to work okay for me now):
bool TextField::hitTest(const Vec2 &pt)
{
    if (_useTouchArea)
    {
        Ve

[2015-02-05 13:30] anadre opened #10387 "Grid Action bug"
When using any Grid3DAction together with the ScrollView(extension class), GL_SCISSOR_TEST which is inside ScrollView cuts off more than you need. This effect appears when the screen resolution and selected in setDesignResolutionSize are not the same!

[code]

 If you comment out the last line, then everything works fine. Otherwise, cut almost the entire area  inside the scroll is!
This bug also a

[2015-02-05 14:19] zilongshanren opened #10389 "SimpleAudioEngine search path won't work on winRT and WP8.1-universal"
When we use FileUtils:getInstance()->setSearchPaths, the SimpleAudioEngine code won't work the same as other platforms.

[2015-02-05 19:05] JOOpdenhoevel opened #10390 "Raspberry Pi Support"
A support for Raspberry Pi would be nice. You can't use the Linux-options, because the is no FMODX for ARM devices.

[2015-02-06 02:12] zilongshanren commented on #10390
@Janonard  I will try to port to Raspberry Pi this weekend. If I'm lucky, I will post the solution here.

[2015-02-06 02:13] fusijie commented on #10390
I am very interested in this issue.

[2015-02-06 05:48] toanpv12345 commented on #8305
Hi Dhilan007,
This bug still sometime appear on version 3.4. I tested on some diveces LG android 4.1.2, Samsung Galaxy Note 3.
Please fix this bug!

[2015-02-06 06:01] fusijie opened #10393 "DrawNode::drawCircle() bug."
`version:` 3.4Final
`issue:` DrawNode::drawCircle function have the effect only the first time. But DrawNode::drawSolidCircle function is always valid.
`reproduce:` Add the following code to HelloWorld project.

[code]

[2015-02-06 06:11] super626 commented on #10337
@gcheih
你所说的批次渲染是什么概念呢。
我们目前对于单材质单mesh的Sprite3D如果相邻，有一定的优化措施，
1. 设置顶点buffer，渲染状态
2. 渲染所有模型
所有模型公用顶点buffer及渲染状态。

把所有模型合并到一个渲染批次提交到显卡，无法做到，尤其是对于带骨骼动画的模型，合并起来很复杂，动态合并代价也大，不建议使用。

[2015-02-06 06:53] ruhen opened #10397 "CCArmature Rendering Issue"
![qq 20150206144404](https://cloud.githubusercontent.com/assets/7741860/6075521/00a2c008-ae0f-11e4-9bb3-053f4864b3a0.jpg)

my cocos2dx version is 3.2,  as the image show ,my ccarmature will not be rendered sometimes ,especially in the release mode on IOS

[2015-02-06 06:57] super626 commented on #10320
@sss316

3D模型有aabb属性，aabb是模型的包围盒
从相机发出一条射线与aabb判断是否相交，相交则为选中该模型。
auto size = Director::getInstance()->getWinSize();
Vec3 screenPos(x, y, 1.f); //z == 1.0 远裁剪面上的点
Vec3 posWorld;
camera->unproject(size, &screenPos, &posWorld); // convert it into world space
//cameraPos is the camera's position in world
Ray ray; //3d 射线
ray._origin = cameraPos;
ray._direction = posWorld - cameraPos;

//decide which s

[2015-02-06 07:25] super626 commented on #10355
@mannewalis
@darkdukey
Thanks. It is a problem should be fixed.

The advantage of treating the default camera as a child of scene is that it can move and rotate with scene.

What Nite said can not work well in some situation.
option 1,
auto scene = Scene::create();
scene->removeAllChildren(); //in fact, the scene is empty in the user's opinion
acene->addChild(sprite);
option 2,
auto scene = Scene:

[2015-02-06 07:38] gcheih commented on #10337
@super626
我是想做Dynamic batching:在一定范围内去判断在同个material的mesh做mesh合并合并到一个渲染批次提交到显卡，以及可能的话，场景内所有静态物件可以一次做合并的static batching
所以你认为这两种在现在的架构下，会有实行的困难，以及没有那个效益？

另外可否了解一下现阶段的mesh render优化更详细原理？
 谢谢！ QQ

[2015-02-06 07:42] minggo commented on #10355
I like this solution.
And i think we should separate transform from Node in v4.

[2015-02-06 08:10] ruhen commented on #10397
debuging this problem for a long time,and i found that  in the "Texture2D::initWithMipmaps" function OpenGL gives an error.:
      Texture2d:uploading compressed texture level:0 . glerror 0x0502
 glerror 0502  meas GL_INVALID_OPERATION  ,now, how to fix this bug?

[2015-02-06 08:15] darius2013 commented on #8511
this bug is also in v3.4 final. my android device is 2.3.4

[2015-02-06 08:45] dingpinglv opened #10399 "[Bug] Network modules is paused when calling Director.pause()"
Some developers want to pause game only, but network modules is still working.

But network modules is paused, because Scheduler doesn't update the them.

[2015-02-06 09:14] dumganhar commented on #9621
It will be awesome if these features could be supported. :)
It's really a strong requirement for games which use `Cocos2d-JS`. So please support it.

[2015-02-06 10:03] mori1234 opened #10401 "Memory Leak: s_requestSentinel is not called delete"
Memory Leak: static HttpRequest *s_requestSentinel is not called delete

[2015-02-06 11:54] ts0307 opened #10404 "a better CSLoader::bindCallback implementing"
look at https://github.com/cocos2d/cocos2d-x/pull/10403

[2015-02-06 13:06] anadre commented on #10387
The first part of the question, if the Grid3DAction be applicable to the TableView itself - to be fixed as

[code]

But this will not work if the Grid3DAction be applicable to a single elements TableViewCell ...

[2015-02-06 14:35] KrissMu commented on #10321
Any news about this ? Am I suppose to update Cocos2d sources to make it work ?

[2015-02-06 15:08] newnon opened #10405 "flatbuffers main()"
flatbuffer already have main() in file flatc.cpp
it must be excluded from all project because of linker conflict with main()
Exemple
CMakeLists.txt
set(FLATBUFFERS_SRC
./flatc.cpp
./idl_gen_cpp.cpp
./idl_gen_fbs.cpp
./idl_gen_general.cpp
./idl_gen_go.cpp
./idl_gen_text.cpp
./idl_parser.cpp
)
must be without flatc.cpp

[2015-02-06 16:32] JOOpdenhoevel commented on #10390
Maybe you can make it work without X, that would save resources.

[2015-02-06 19:43] #10320 closed, assigned to super626

[2015-02-06 19:43] #10337 closed, assigned to super626

[2015-02-07 11:37] ebenmo opened #10407 "Label breakLineWithSpace (CJKUnicode) Issue"
Default TTF Label's Space can't break line when characters are CJKUnicode.
I temporarily fixed this by modifying  function below:
bool LabelTextFormatter::multilineText(Label *theLabel)

//issue #8492:endless loop if not using system font, and constrained length is less than one character width
                if (isStartOfLine && last_word.size() == 0)
                    last_word.push_back(char

[2015-02-07 14:07] UNKNwYSHSA opened #10408 "CocoLoader destructure bug"
CocoLoader.cpp in cocos2d-x-3.3.

[code]

But if class method:

[code]

`m_pMemoryBuff = pTempBuff' and 'char* pTempBuff = pBinBuff`
The pBinBuff is a input buffer, the destructure has no right to release the buffer;

[2015-02-07 22:21] Kiraffi opened #10410 "Lua simulator height and monitor resolution height problem"
There seems to be a problem when the simulators height in pixels is more than the height of resolution on monitor. At least those that have higher than 1080 pixel height, for example using portrait or retina display. This problem seems to happen for me at least on windows when using LUA simulator.

What happens is that when the resolution is for example 1536x2048, ipad retina resolution and on my

[2015-02-08 05:33] lzubiaur opened #10411 "Bug in Physics manual Lua binding"
Hi, the PhysicsShape***::getPoints does not return any value in Lua and this is because the following functions in lua_cocos2dx_physics_manual.cpp should return 1 instead of 0.

lua_cocos2dx_physics_PhysicsShapeBox_getPoints
lua_cocos2dx_physics_PhysicsShapePolygon_getPoints
lua_cocos2dx_physics_PhysicsShapeEdgeBox_getPoints
lua_cocos2dx_physics_PhysicsShapeEdgePolygon_getPoints
lua_cocos2dx_physi

[2015-02-08 11:12] diamond-msc commented on #10222
Fixed by a later change to https://github.com/cocos2d/cocos2d-x/commits/v3/cocos/renderer/ccGLStateCache.cpp

[2015-02-08 11:12] #10222 closed, assigned to nobody

[2015-02-08 17:24] KrissMu commented on #8964
Hi, any news about this issue ? Working on emulators with x86 is far faster than ARM, but the application randomly crashes because of this.

Thanks.

[2015-02-09 01:47] samuele3hu commented on #10411
I think you are right, i would fix it as soon as possible.

[2015-02-09 03:25] mdsb100 commented on #9138
how about cocos2d-x-2.2.6 ?

[2015-02-09 03:37] sss316 commented on #10320
Thanks!!

在 2015-02-06 14:58:20，"XiaoYang" notifications@github.com 写道：

@sss316

3D模型有aabb属性，aabb是模型的包围盒
从相机发出一条射线与aabb判断是否相交，相交则为选中该模型。
auto size = Director::getInstance()->getWinSize();
Vec3 screenPos(x, y, 1.f); //z == 1.0 远裁剪面上的点
Vec3 posWorld;
camera->unproject(size, &screenPos, &posWorld); // convert it into world space
//cameraPos is the camera's position in world
Ray ray; //3d 射线
ray._ori

[2015-02-09 04:45] RadhikaInfotech opened #10414 "UserDefault getting corrupted in Windows"
Hello All, For last couple of days I am trying to get out the this problem but I didn't get success.
There seems to a problem in fetching data from UserDefault on Windows. I am using cocos2dx 3.2.
Whenever I set Multiple value in user default using loop. User Default gets corrupted and after that I just get default Values of every Data type. And It gives "read root node error"
Here is the Code Sni

[2015-02-09 06:22] sunzhuoshi commented on #8964
@KrissMu
Sorry about the late update.
I've tried to fix it, but the root cause is not the engine code.
The only workaround now is to use NDK r10c and turn off SSE via "-U__SSE__"
:(

[2015-02-09 06:29] fusijie commented on #10393
DrawNode needs to call clear() while to redraw a new shape.

`How to fixed it?`

[code]

[2015-02-09 06:29] #10393 closed, assigned to dabingnn

[2015-02-09 06:57] Dipakce opened #10415 "Vibrate phone effect missing in SimpleAudioEngine."
Unable to vibrate the Phone either in iOS or android as SimpleAudioEngine Does not has a support for that.If vibrate effect is added somewhere else please let me know.

[2015-02-09 10:21] #10370 closed, assigned to nobody

[2015-02-09 14:20] KrissMu commented on #8964
I have downgraded my NDK version to r10c, but I can't compile with SSE off, I get the message:

android-ndk-r10c/toolchains/llvm-3.5/prebuilt/windows-x86_64/bin..\lib\clang\3.5\include\xmmintrin.h:28:2: error: "SSE instruction set not enabled"

just like in r10d :(

[2015-02-09 17:01] ghost commented on #10414
Possible error of "read root node error" is using invalid character in key string, e.g. '|' (vertical line)
It work fine when I replace with ':'

**Important:** you have to delete UserDefault.xml file after fix key string, because the file is corrupt (missing userDefaultRoot node) after this error.
The file on Windows is usually in C:/Users/${user}/AppData/Local/${your_game},
or print FileUtils::g

[2015-02-10 01:56] WenhaiLin commented on #10288
Done https://github.com/cocos2d/cocos2d-x/pull/10418

[2015-02-10 01:59] cpascal opened #10419 "Why don't you delete ui/proj.win32/libui.vcxproj and filters file?"
https://github.com/cocos2d/cocos2d-x/blob/v4-develop/cocos/ui/proj.win32/libui.vcxproj
https://github.com/cocos2d/cocos2d-x/blob/v4-develop/cocos/ui/proj.win32/libui.vcxproj.filters

They seems unmaintained files now.
- 'UIWebViewImpl-win32.cpp/h' (removed file because of ATL-dependencies) still exist in the vcxproj.
- 'UIEditBox/UIEditBoxImplWin.cpp' instead of 'UIEditBox/UIEditBoxImpl-win32.cpp'

[2015-02-10 02:11] #10389 closed, assigned to zilongshanren

[2015-02-10 02:33] minggo commented on #10419
@cpascal
Thanks.
We will check it, and delete it if it is useless.

[2015-02-10 02:53] zilongshanren commented on #10419
@cpascal
Thanks, we should remove it.

[2015-02-10 02:55] #9165 closed, assigned to WenhaiLin

[2015-02-10 03:19] #10373 closed, assigned to nobody

[2015-02-10 03:20] #10288 closed, assigned to WenhaiLin

[2015-02-10 03:25] fusijie opened #10422 "LabelBMFont randomly crashes on glDrawElements"
`version:` 3.2Final
`issue:` LabelBMFont crashes randomly at glDrawElements
`reference:` [http://discuss.cocos2d-x.org/t/labelbmfont-randomly-crashes-on-gldrawelements-for-cocos2d-x-3-2/19637](http://discuss.cocos2d-x.org/t/labelbmfont-randomly-crashes-on-gldrawelements-for-cocos2d-x-3-2/19637)
[http://stackoverflow.com/questions/19236534/ios-7-and-cocos2d-exc-bad-access-on-gldrawelements-complete

[2015-02-10 04:27] #10404 closed, assigned to darkdukey

[2015-02-10 07:53] kkgame commented on #10422
it's hard to repro with a few lines of code. There are few situations we identified where the problem happens:
1. using the same bmfont file to create bmfont labels, but put the label at different z order or attaching them to different nodes.
2. Not initialized ? (not sure why. It happens in one case where some other labels are not initialized, but somehow it crashes at the glDrawElements() for a

[2015-02-10 08:32] sunzhuoshi commented on #8964
@KrissMu
Show you full log here.
It looks strange, for all SSE header files SHOULD be included as follows:

[code]

[2015-02-10 08:49] oktears commented on #8313
请问是如何解决的BUG？

[2015-02-10 10:28] minggo commented on #10407
@ebenmo
cocos2d-x only supports utf-8.

[2015-02-10 10:29] minggo commented on #10405
@newnon
Any problem of it?

[2015-02-10 10:30] minggo commented on #10415
@Dipakce
It is a feature required, but why does this effect needs to be in `SimpleAudioEngine`?

[2015-02-10 10:41] minggo commented on #10371
@dualface
Please take a look.
I think @lite3 is right.

[2015-02-10 10:44] xiedantibu opened #10428 "drawPoly方法中少添加了_dirtyGLLine的判断"
在CCDrawNode.cpp文件中的void drawPoly(const Vec2 *poli, unsigned int numberOfPoints, bool closePolygon, const Color4F &color)方法中少添加了_dirtyGLLine = true的判断

[2015-02-10 10:46] minggo commented on #8313
@oktears
This issue is migrated from redmine, it is an old issue.
Did you meet the issue?

[2015-02-10 10:56] newnon commented on #10405
Yes 2 main functions in one program raise linker error.
Duplicate symbol main ...
on some systems declaration of main can be different and you can get result program with entry point in flatbuffers main();

[2015-02-10 10:56] huangqiaobo opened #10429 "CCLabel cant be visited by custom camera"
first,I creat a perspective camera and setCameraFlag(CameraFlag::USER1);
add the camera to scene;

then I creat a label and add it to a billboard ;

auto label = Label::create();
label->setString("label");
auto billboard = BillBoard::create();
billboard->addChild(label);
billboard->setCameraMask((unsigned short)CameraFlag::USER1, true);

then add the billboard to the scene;
but i cant find the lab

[2015-02-10 11:27] zilongshanren commented on #10419
@cpascal
I have removed it in https://github.com/cocos2d/cocos2d-x/pull/10430

[2015-02-10 14:47] tangyiyang opened #10432 "Export TMXTilesetInfo Class to lua."
It seems that it's impossible to draw the 'object layer' in pure Lua code, because the TMXTilesetInfo class is not properly exported. we can't get the member variable such as '_sourceImage' in Lua.

[2015-02-10 15:16] zszen opened #10433 ""Stencil buffer is not enabled" on cocos2dx 2.2.6"

[2015-02-10 15:27] zszen commented on #10433
Myself error, my old project don't set the right depth enable:

this is the right code.

EAGLView *__glView = [EAGLView viewWithFrame: [window bounds]
                                     pixelFormat: kEAGLColorFormatRGB565
                                     depthFormat: GL_DEPTH24_STENCIL8_OES
                              preserveBackbuffer: NO
                                      sharegroup:

[2015-02-10 15:28] #10433 closed, assigned to nobody

[2015-02-10 15:30] zszen opened #10434 "Please fix " CCClippingNode" bug."
this bug is still in 2.2.6

clear the open gl buffer:

[code]

[2015-02-10 16:12] tmsoft opened #10435 "Fix Scale9Sprite to work with Global Z Order"
Scale9Sprite does not support usage of Global Z Order.  This is because the visual elements are stored as protected children outside of the standard children array.  Overriding the setGlobalZOrder method with the following code fixes this issue:

[code]

[2015-02-10 18:29] transdb commented on #10334
ok thanks for info :)

[2015-02-10 19:58] KrissMu commented on #8964
Hi,

Here is the log

[code]

Note that I have the following line at the beginning of Application.mk:

[code]

If I remove it, the compiler complains about not finding "std" stuff like thread or mutex.

[2015-02-11 01:28] minggo commented on #10405
How to reproduce it?

[2015-02-11 02:10] super626 commented on #10337
@gcheih
理解你说的内容。
静态物体合并批次很容易，带骨骼动画的物体合并批次比较麻烦，意义不大。
但静态物体合并批次是否值得呢，也分情况。现在的架构实现起来很容易，但有个问题就是需要动态根据场景中的物体来合并批次，这个合并需要创建VBO，拷贝顶点数据，索引数据等等，这个代价很大的。所以这种方法不一定能提高效率。这种优化可以放到美术做模型阶段，就是美术不要把模型分的太细，这个本身就增加渲染批次了，那么模型太大好不好呢？也不好，3.4中可以开启视锥裁剪功能，可以剔除一部分模型，根本不用提交到GPU，如果模型太大，这个视锥裁剪就不起作用了。所以这也是一个平衡。

我们有同学做技术支持。吕龙，群里边论坛上都有他的身影，吼一下他就到。

[2015-02-11 03:20] WenhaiLin commented on #10346
Accelerometer has lagged when the update interval of Accelerometer is too small on iOS. Fixed at https://github.com/cocos2d/cocos2d-x/pull/10436.

[2015-02-11 04:02] dualface commented on #10371
1. All functions in "functions.lua" file, used naming rule is same as Lua standard library, all chars is lowercase.
2. table.map(), table.filter() should return a new table, @lite3 is right.

[2015-02-11 05:19] hsienwei opened #10438 "spine binary support."
Do you have any plans to support spine's binary file?

[2015-02-11 05:42] minggo commented on #10438
Is it a new feature?
We use spine official runtime.

[2015-02-11 06:04] hsienwei commented on #10438
![spine](https://cloud.githubusercontent.com/assets/1848607/6142607/7f24e724-b1f4-11e4-9a6b-c37f364cf9db.png)
It's a new export format.
But actually cannot find more detail in spine's official website.
Below text is part of [website](http://en.esotericsoftware.com/spine-using-runtimes).

i just wanna know have any plan on it?

[2015-02-11 06:05] minggo commented on #10438
Got it, thanks.
I think the author will support it in cocos2d-x runtime.
We will update it when it is ready.

[2015-02-11 06:10] hsienwei commented on #10438
thank for your reply :)

[2015-02-11 06:11] minggo commented on #10438
You are welcome.
Thanks for the notification.

[2015-02-11 06:13] #10419 closed, assigned to zilongshanren

[2015-02-11 07:16] macbearchen commented on #8430
cocos2d-x/cocos/platform/ios/CCDevice-ios.mm
https://github.com/cocos2d/cocos2d-x/blob/v4-develop/cocos/platform/ios/CCDevice-ios.mm

## // line: 474, still incorrect

## info.strokeColorB           = textDefinition._stroke._strokeAlpha / 255.0f;

// should fix as following:

## info.strokeColorA           = textDefinition._stroke._strokeAlpha / 255.0f;

info.strokeColorB is wrong, that should be

[2015-02-11 07:33] minggo commented on #8430
@Dhilan007
Please check it.

[2015-02-11 07:35] minggo commented on #10434
@zszen
We will fix critical bugs in v2.x.

[2015-02-11 07:36] minggo commented on #10434
We will not spend too much time in v2.x for a long time.

[2015-02-11 07:36] #10434 closed, assigned to nobody

[2015-02-11 07:37] WenhaiLin commented on #10381
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10440

[2015-02-11 07:41] #10407 closed, assigned to nobody

[2015-02-11 07:45] #9690 closed, assigned to nobody

[2015-02-11 07:57] WenhaiLin commented on #8430
@macbearchen Thank you very muck. Fixed at https://github.com/cocos2d/cocos2d-x/pull/10441

[2015-02-11 08:01] minggo commented on #10381
@fusijie
Could you please check it?

[2015-02-11 08:19] litefeel commented on #10371
@dualface  and do not modify param value .

[2015-02-11 08:32] litefeel commented on #10371
@dualface
I think we use cocos2dx  not pure base lua. so use camel name is OK.
like `string.formatnumberthousands` in function.lua.
https://github.com/cocos2d/cocos2d-x/blob/v4-develop/cocos%2Fscripting%2Flua-bindings%2Fscript%2Fcocos2d%2Ffunctions.lua#L625

it's bad. it's so long, and not clear.
change to `string.formatNumberThousands`.
it's clear.
What you think?

so I think we can use camel nam

[2015-02-11 08:36] WenhaiLin commented on #8731
@minggo I think we no need for support the iOS SDK below version iOS7.

[2015-02-11 08:41] newnon commented on #10405
try to compile it under linux with cmake. or under windows with mingw. on linux you will get linker error on windows can get wrong entry point. flatc.cpp - it is a simple test program it must not be compiled to library.

[2015-02-11 08:41] #8731 closed, assigned to WenhaiLin

[2015-02-11 08:42] minggo commented on #10405
But the jenkins doesn't detect the compiling issue.
It uses cmake in linux.

[2015-02-11 08:51] WenhaiLin commented on #10405
@minggo I agree with @newnon, the 'flatc.cpp' file must not be compiled to library.

[2015-02-11 09:17] minggo commented on #10405
@Dhilan007
Please fix it.

[2015-02-11 10:09] zilongshanren opened #10445 "RenderTexture switch foreground to background issue"
How to reproduce:

Use  RenderTexture in Android and WP,  draw something and switch to background and switch back to foreground, the drawn texture will be missing. It won't rebuild.

The following code is grabbed from V4.0 latest version.

[code]

[2015-02-11 10:14] zilongshanren opened #10446 "When turn off Android Virtual Button, the touch point is wrong"
On some Android phones(Hua Wei and MeiZu), they have virtual buttons at the bottom of screen.
When turn off the virtual button, the touch event will be wrong.

[2015-02-11 10:17] zilongshanren commented on #10446
![wechat_1423649754](https://cloud.githubusercontent.com/assets/785541/6145196/27596d96-b21a-11e4-88ea-af6908c0f661.jpeg)

[2015-02-11 10:29] zilongshanren opened #10448 "Android system font line wrap and line height calculation is wrong."
Developer is curious why we should calculate it by ourselves. Why not use system component.
He said he had fixed the issue by using "staticlayout".

[2015-02-11 11:16] zilongshanren opened #10449 "All use components don't support camera mask except the default mask"
Details, please refer to the following link

http://www.cocoachina.com/bbs/read.php?tid-283376.html

[2015-02-11 12:20] newnon commented on #10405
The same problem in android.mk

[2015-02-11 12:31] KyoChen opened #10451 "No Cascade Effect on ProgressTimer"
setCascadeOpacityEnabled(true);
setCascadeColorEnabled(true);

unexpected effect for these functions

[2015-02-11 16:02] KrissMu opened #10453 "Weird offset while visiting a sprite in a RenderTexture"
Hi,

I need to use a big RenderTexture (>= 1024 \* 1024) but when I render into it with the begin()/visit()/end() logic, the sprites are slightly offset. The bigger the texture is, the bigger the offsets are. On a 8192 \* 8192 texture, they are between 5 and 10 pixels.

Also, the rendering at (0,0) offsets the image on the left while the rendering at the right of the image offsets on the right. So

[2015-02-11 17:01] JOOpdenhoevel commented on #10390
Another aspect of RaspPi-support: a possibility to switch between HDMI and analog audio output.

[2015-02-11 21:55] araratispiroglu commented on #8917
After I upgraded cocos2d-x 3.4 version project compiles successfully for the first time, when I closed eclipse and reopened again same errors happened again. But this time I found some solution via stackoverflow, here's the link: http://stackoverflow.com/questions/25462415/cocos2d-x-android-set-up-error-java-lang-nullpointerexception/25892787#25892787

[2015-02-12 01:30] minggo commented on #8917
@Dhilan007
Please take a look.

[2015-02-12 01:38] hsienwei opened #10456 "cocos2d-x 3.4 load cocos 2.1 json file crash"
as title.
I use CSLoader to load json file created by cocos 2.1.
It' s not work.
Is now json file only works on cocos2d-js ?

[2015-02-12 01:40] minggo commented on #10456
Yep, json file only supported in cocos2d-js.

[2015-02-12 01:41] #10456 closed, assigned to nobody

[2015-02-12 01:41] Sheado opened #10457 "Default bit depth is too low on desktop"
The default bit depth on desktop is too low - causing pixelization and color banding issues on sprites with smooth gradients.

In CCGLView.cpp

[code]

This should probably be defaulted to the following instead:

[code]

[2015-02-12 01:45] Sheado opened #10458 "CCLabelBMFont setPositionZ() not implemented"
CCLabelBMFont setPositionZ() is not implemented and as a result z position cannot be modified on labels. Passing the setPositionZ() call to the internal _label of CCLabelBMFont fixes this issue.

[2015-02-12 02:54] pferguso6222 opened #10459 "cc.MoveTo action won't work on a Node that does not have a parent"
//I want to create a node, but do not add it as a child
// of another node, so that its movement can control something else.
var n = new cc.Node();
var moveAction = cc.moveTo(2.0, cc.winSize.width / 2, cc.winSize.height/2);
n.runAction(moveAction);
cc.log("n.isRunning(): " + n.isRunning());//outputs false

[2015-02-12 02:55] #10459 closed, assigned to nobody

[2015-02-12 03:08] fusijie commented on #10381
@minggo @Dhilan007 thanks, it's fixed.

[2015-02-12 07:37] #10381 closed, assigned to WenhaiLin

[2015-02-12 08:39] minggo opened #10468 "add 3d particle support"

[2015-02-12 08:40] minggo opened #10469 "cocos studio reader support 3d editor"

[2015-02-12 08:52] minggo opened #10470 "3d slice"

[2015-02-12 09:20] bhonzo opened #10471 "Cant upload v3.4 project to windows store because of error 'CreateEventExA() isn’t allowed in assembly libcurl.dll'"
uploaded an app on windows phone store developed using v3.4  and the following error is produced

Validation errors

1028: The native API api-ms-win-core-synch-l1-2-0.dll:CreateEventExA() isn’t allowed in assembly libcurl.dll. Update it and then try again.

1028: The native API api-ms-win-core-localization-l1-2-0.dll:FormatMessageA() isn’t allowed in assembly libcurl.dll. Update it and then try ag

[2015-02-12 09:48] minggo commented on #10471
@stammen
Could you please take a look?

[2015-02-12 10:01] #9924 closed, assigned to nobody

[2015-02-12 10:34] mumreg commented on #9911
Got same issue on Nexus 7 (2013), Android 5.0.1

[2015-02-12 11:05] mixogames opened #10482 "New AudioEngine class can't play large OGG files"
Hi,

I have tried to play longer OGG files by new AudioEngine::play2D() but it doesn't work at all. I tried several longer OGG files (>2MB).  I debugged the audio engine and the problem seems to be in AudioCache.cpp, if the sound PCM size is larger than PCMDATA_CACHEMAXSIZE.  The loading / queing thread is not calling this method again or something....
I detected this problem on Windows 8, in the

[2015-02-12 11:07] mumreg commented on #9911
I think it may be the result of this bug: https://code.google.com/p/android/issues/detail?id=81187

[2015-02-12 11:08] mixogames commented on #10482
I forgot that i detected this problem on win32 device, in latest Cocos2dx 3.4

[2015-02-12 13:34] ondesly opened #10484 "Memory leak via autorelease with no pool in place on iOS 5.1.1"
Cocos2d-x 3.4, iPad 1 with iOS 5.1.1.

There is an infinite cycle in networkThread function in HttpClient-ios.mm. In this cycle autoreleased NSStrings and other NS objects are created. But this thread hasn't NSAutoreleasePool.

So I see warning messages:
objc[2897]: Object 0x5edbc90 of class __NSCFString autoreleased with no pool in place - just leaking - break on objc_autoreleaseNoPool() to debug

[2015-02-12 14:01] Dipakce commented on #10415
@minggo
I don't force that this effect needs to be in SimpleAudioEngine but it has to be somewhere else...which is what I can't find in cocos2dx v3.2.It was previously existed in lower version of cocos2dx .Please do add it as early as possible.

[2015-02-12 23:01] darkdukey opened #10486 "SetColor will overwrite Label's outline color"
[code]

Result:
![screen shot 2015-02-12 at 2 58 36 pm](https://cloud.githubusercontent.com/assets/371584/6178855/e51093c0-b2c7-11e4-8f71-a9588e432cba.png)

Expected Result:
![screen shot 2015-02-12 at 2 59 35 pm](https://cloud.githubusercontent.com/assets/371584/6178859/edaac08c-b2c7-11e4-9ea5-69fbc154c910.png)

[2015-02-12 23:41] Tiger-Coding opened #10487 "Camera fails to show sprites outside visible size"
From the forum:
http://discuss.cocos2d-x.org/t/camera-bug-when-moving/19904/2

Using 3.4 final, I create a bunch of sprites, then position them one by one to the right.  I move the camera to the right, and everything off the screen is hidden.  However, if I move the layer to the left, I can see the sprites.

Code from forum post:

The init of HelloWorld:

[code]

Then I create the sprites and add

[2015-02-13 00:02] kompjoefriek opened #10488 "Fix Jenkins Win32 build"
Please fix this build error in the Jenkins Win32 target.
It seems to be caused by box2d:

[code]

[Full log](http://115.28.72.132:8000/job/cocos-2dx-pull-request-build/7114/node=win32_win7/console)

It looks like the v110_xp tools are selected automatically due to this line in libbox2d.vcxproj:

[code]

[2015-02-13 01:54] minggo commented on #10488
@kompjoefriek
Thanks.
It is fixed in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/95.

[2015-02-13 01:55] minggo commented on #10488
And we will update 3rd party libs quickly.

[2015-02-13 01:56] #10488 closed, assigned to nobody

[2015-02-13 02:04] WenhaiLin commented on #10486
@darkdukey You should replace Node::setColor with Label::setTextColor

[2015-02-13 02:12] Hioln commented on #10397
I also meet this problem, any suggestion??

[2015-02-13 02:15] Hioln commented on #9447
is this fixed??

[2015-02-13 03:36] puckery opened #10491 "android上连续分配的内存无法销毁？"
cocos2d-x版本： 3.2
测试机： vivo x3L

class TestData
{
public:
    TestData() {}
    ~TestData() {}
    std::string name;
};
std::map<int, TestData*> _testMap;

clicked button1:

[code]

clicked button2:
    CCLOG("remove begin...");
    for (auto iterator = _testMap.begin(); iterator != _testMap.end(); ++iterator)
    {
        CC_SAFE_DELETE(iterator->second);
    }
    CCLOG("remove end...");
    _te

[2015-02-13 03:54] #10346 closed, assigned to WenhaiLin

[2015-02-13 06:10] minggo commented on #10491
It is nothing about engine.
And how did you know the memory is not released?

[2015-02-13 06:14] jasofan commented on #9447
还没有

[2015-02-13 06:24] minggo commented on #10397
@chengstory
Could you please take a look?

[2015-02-13 07:49] minggo commented on #9821
@ericmux
How to reproduce it?

[2015-02-13 09:54] Dhilan007 commented on #10482
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10498

[2015-02-13 14:19] mixogames commented on #10482
Thanks for fast response!

I tried the fix but it still doesn't work well on long OGG files. Now I can hear a half second (or maybe less) part of the music from its begining.  I tested it with 2-3 ogg music files (all were bigger than 3MB).

[2015-02-13 14:31] michaeeh opened #10499 "Can't use addTouchEventListener and setLocalZOrder in VideoPlayer"
引擎：cocos2d-x 3.4
环境：iOS, Android
VideoPlayer addTouchEventListener 和 setLocalZOrder 无法使用

[2015-02-13 14:45] devekaam commented on #9587
I tested cocos2d-x v3.4 with 2 Android devices which have Tegra.

One  has NVIDIA Tegra (A01SH Android4.0.3),
and the other has  NVIDIA Tegra 3 (Nexus7 2012 Android 4.2.2).

Both caused the same situation.

In AppDelegate.cpp,  void AppDelegate::initGLContextAttrs()

I set
GLContextAttrs glContextAttrs = {8, 8, 8, 8, 24, 8};

This causes depthBits:0  and 3D rendering is botched.

I set
GLContextAt

[2015-02-13 22:24] joewan opened #10504 "bug of audio engine."
if we receive a phone call when we are playing game.
the game audio doesn't not recovery after we finish our phone call.

our cocos version is 3.4.

[2015-02-14 00:04] jmogilner commented on #9399
Agree with this bug. The anchor point is completely ignored.

[2015-02-15 06:32] FlagellumDei commented on #9852
Samsung Galaxy Tab 2 has this bug.

[2015-02-15 07:32] WenhaiLin commented on #10414
@RadhikaInfotech  @bhichien The implementation of UserDefault base on XML,'|' is not a valid character for key string.

[2015-02-15 07:36] WenhaiLin commented on #10414
@minggo  I think the implementation of UserDefault  should not base on XML.

[2015-02-15 07:39] WenhaiLin commented on #10446
@andyque Please list the specified devices.

[2015-02-15 07:42] WenhaiLin commented on #10422
@dabingnn Please help to verifying this issue.

[2015-02-15 08:24] WenhaiLin commented on #10296
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10505

[2015-02-15 09:18] larsven commented on #8964
I have to include "-U__SSE__" to be able to run my game in Genymotion. With other emulators, or when running directly on devices, this is not needed.

I have tested with both r10c and r10d and there is no difference.

[2015-02-15 11:13] minggo commented on #10414
@Dhilan007
What's your suggestion?
Now all supported platforms except iOS and Android use XML to implement UserDefault.

[2015-02-15 11:47] minggo opened #10506 "Update GAF to latest version and add lua-binding"

[2015-02-15 11:48] minggo commented on #10468
fixed in #10447

[2015-02-15 19:04] poowww opened #10511 "PhysicsBody and Follow action bug in 3.4"
In 3.4final, Follow Action doesn't work when follow Node added PhysicsBody.
In 3.3, it works.

Please fix this bug.

[2015-02-16 06:43] syswow opened #10513 "4.0版本会带预编译包吗？"
Hi，
现在3.x版本，每次编译都要好久，如果引擎自带的话，可以节省时间。
: - )

[2015-02-16 10:55] kenanb opened #10515 "glView->setIMEKeyboardState parameter number error"
I encountered the bug in Arch Linux x64 with this commit: https://github.com/cocos2d/cocos2d-x/commit/16ac6c2709ccdd68e05b28e598a066de4fd246a9

The platform specific definitions of setIMEKeyboardState and the references to it are reversed. The WINRT specific definition has 2 parameters but WINRT specific references have 1 parameter and vice versa.

cocos/platform/CCGLView.h

[code]

cocos/2d/CCTex

[2015-02-16 11:27] kenanb commented on #10515
It works when I swap the expressions in preprocessor commands of `TextFieldTTF::attachWithIME()` and `TextFieldTTF::detachWithIME()` in `CCTextFieldTTF.cpp`.

cocos/2d/CCTextFieldTTF.cpp

[code]

[2015-02-17 11:51] radekluner opened #10517 "CCLabelTTF and setGlobalZOrder"
v3.4
It seems that CCLabelTTF is not working correctly with setGlobalZOrder.
If i create Sprite with Z 10, then CCLabelTTF with Z 11. Sprite is still above CCLabelTTF.

[2015-02-17 13:04] RadhikaInfotech commented on #10414
Sorry for the Late Reply but I have crossed checked it that I Haven't used any '|' character in User Default  keys . This problem occurs when we write values in user Default using loop(let say loop is for 5 iterations). And after that user default stops fetching values.

[2015-02-17 13:08] prespondek opened #10518 "screen rotation not supported on ios8 and above"
on ios8 and above rotation is handled through at new method:
- (void)viewWillTransitionToSize:(CGSize)size withTransitionCoordinator:(id <UIViewControllerTransitionCoordinator>)coordinator

rather than the old:
- (void)didRotateFromInterfaceOrientation:(UIInterfaceOrientation)fromInterfaceOrientation

suggest adding a new method to RootViewController.mm

[2015-02-18 07:15] stevetranby commented on #10517
Are you setting both setPositionZ() and setGlobalZOrder()? We are setting both and it seems to work as expected in v3.4

[2015-02-18 11:48] nicolas33 opened #10522 "helloworld linux target fails while linking against libchipmunk.a "could not read symbols: Bad value""
`$ cocos new myGame -p com.mycompagny.mygame -l cpp -d myGame-sandbox`
`$ cd myGame-sandbox/myGame`
`$ cocos run -p linux -j4`
`Linking CXX executable bin/MyGame
/usr/lib/gcc/x86_64-pc-linux-gnu/4.8.3/../../../../x86_64-pc-linux-gnu/bin/ld: ../cocos2d/external/chipmunk/prebuilt/linux/64-bit/libchipmunk.a(chipmunk.c.o): relocation R_X86_64_32 against '.rodata' can not be used when making a shared o

[2015-02-18 14:42] alexodus opened #10523 "missing cocos bin for complete install from cocos2d-x-3.4.tar.gz"
step:
1) tar xvzf cocos2d-x-3.4.tar.gz
2) cd cocos2d-x-cocos2d-x-3.4/
3) python download-deps.py

result:
tools/cocos2d-console/ IS EMPTY

[2015-02-18 16:42] KrissMu commented on #10453
Anyone ?

I have the issue with smaller texture (512*512) too.

[2015-02-18 19:09] roed commented on #9479
Is fixed in pull request: https://github.com/cocos2d/cocos2d-x/pull/10033

Hasn't been merged yet, but works for our project

[2015-02-18 19:27] go4nishu commented on #10414
Anyone knows why UserDefault is not working for windows? It is working properly on iOS & Android but not on windows phone. I have tried flush & my keys are not using any | symbol

[2015-02-19 06:30] puspesh commented on #8528
is this issue fixed? or any patch available for the same.

[2015-02-19 11:02] maltium opened #10527 "Silent gap when looping audio with the new audio engine on Android"
In cocos2d-x v3.4, when using `AudioEngine::play2d("sample.ogg", true)` you can hear a silent gap each time the clip ends/starts.

This makes it impossible to create a seamless audio effect and instead sounds like the game is stuttering.

[2015-02-20 08:40] shuse2 opened #10537 "Android Cocos2dxHttpURLConnection with basic authentication not working"
Android version of Cocos2dxHttpURLConnection doesn't take basic authentication in consideration.

For example, if I pass "https://username:password@example.com", it will crash with FileNotFoundException even though it actually exists, and it worked for version 3.2.

[2015-02-20 08:50] hamburml opened #10538 "lua bindings - cc.Label:createWithTTF is missing"
Hi.

FontTests for lua is using createWithTTF.

CocosCodeIDE isn't showing createWithTTF when typing cc.Label:
It only shows create(), createWithBMFont() createWithCharMap() and so on...

[2015-02-21 14:58] antkillerfarm opened #10540 "Building mode is not working on Linux"
I want to use gdb to debug my app.
But when I run

`cocos run -s ~/my/HelloWorld -p linux -m debug`

it still cannot use gdb or CCLOG.

After researchment, I find that:
tools/cocos2d-console/plugins/project_compile/project_compile.py Line 1242~1243

[code]

may be changed to:

[code]

[2015-02-22 17:45] Mazyod commented on #9226
@andyque I think this is the default behavior provided by AppKit, and we shouldn't fight it.

[2015-02-22 20:06] marianopixowl commented on #10487
I've experienced this issue too in cocos2d-x 3.4. It seems as if culling is not taking into account the camera movement, but only the original screen bounds. (Looking at _Renderer::checkVisibility()_ seems to confirm this. I can't see the camera being used in the visibility calculations).

For the time being, I'm setting _#define CC_USE_CULLING 0_ as a workaround. (Which by the way, creates a comp

[2015-02-23 01:27] zilongshanren commented on #9226
@Mazyod
thanks for pointing out it. Is there any documentation for this behavior?

[2015-02-23 05:51] Mazyod commented on #9226
@andyque Sorry, I couldn't find a documentation. So, I made a quick Cocoa app, and as you can see in the video, the behavior is that the placeholder doesn't go away:

https://www.dropbox.com/s/lzn79722zog7ilo/textfield-test.mp4?dl=0

[2015-02-23 06:48] Mazyod commented on #10484
@ondesly Nice find, I submitted a PR that should fix this issue:
https://github.com/cocos2d/cocos2d-x/pull/10545

[2015-02-23 09:04] piotrros commented on #10471
I've got the same error. Previously I was successfully sending apps with 3.3 version.

Fix:
copy & replace cocos2d-x-3.4\external\curl\prebuilt\wp8\arm with the same files from 3.3.

[2015-02-23 10:47] luky1984 opened #10547 "There is parent-child physics body position issue in Cocos 3.4"
It is described here http://discuss.cocos2d-x.org/t/parent-child-physics-body-position-in-cocos-3-4/20090

[2015-02-23 10:58] Kugagames opened #10548 "Missing essential sound functions in new AudioEngine for 3.4"
1. There is no function for changing the pitch if the sound plays already.
2. It would be nice to have some basic effects on sound effects like fading in and out and crossfading between two sounds.

[2015-02-23 18:30] stammen commented on #10471
I will be making a pull request tomorrow with updated libcurl dlls.

[2015-02-23 22:02] mariusz102102 opened #10554 "addImageAsync crashes on Android/Windows (and probably others platforms)"
I found that current async implement is incorrect.
Below test cases when it crashes:

Step1
Added 10 images to _asyncStructQueue

Step2
Thread1 calls 10 times but _imageInfoQueue is empty (i.e. thread2 did not start job)
void TextureCache::unbindImageAsync(const std::string& filename)

Step3
Thread2
in void TextureCache::loadImage() _asyncStructQueue has 10
_imageInfoQueue is empty but _asyncStruc

[2015-02-24 01:46] kompjoefriek commented on #8414
Would you consider either of these suggestions for v4?

[2015-02-24 05:35] stevetranby opened #10562 "I think Value needs asUInt() or maybe asLong() issue parsing TMX"
The following overflows for unsigned integers > INT_MAX
if (_type == Type::STRING)
{
 return atoi(_field.strVal->c_str());
}
Could maybe add an option to convert to uint (32 or 64), maybe figure out how to make sure it overflows into a negative number (unsigned int > INT_MAX cast into int). Possibly switch to using strtol or stringstream?

[2015-02-24 07:15] stevetranby commented on #10562
Solved specific related Issue is from discussion:
http://discuss.cocos2d-x.org/t/problem-with-cctmxtiledmap/20102?u=stevetranby
Edit: fixed get const char\* from attributeDict

[code]

If you want to go with #2 you can add the following to Value's impl

[code]

[2015-02-24 18:27] hamburml commented on #10316
Anything? You want to release v4 alpha0 this friday but 3.4 release has errors :(

[2015-02-24 20:33] mannewalis opened #10568 "Uses of Director::getInstance()->getRunningScene()->"
Really just calling getLights()

This can crash. It is possible to get into states between scenes where there is not a running scene. This crashes...
#0  0x0000000101f9b45f in std::__1::vector<cocos2d::BaseLight*, std::__1::allocator<cocos2d::BaseLight*> >::begin() const [inlined] at /Applications/Xcode6.1.1.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/../include/c++/v1/vecto

[2015-02-25 00:03] roed opened #10570 "make getItemForTouch in Menu virtual"
What if you want to override the getItemForTouch in Menu? Why not make it virtual? We had a use case for this:

We used labels with ttf fonts as buttons. The buttons were hard to touch, because the content size of the menuitem didn't have 'padding'. We would be able to fix this if we could just override menuitem with a different rect, however, the Menu::getItemForTouch overrides the origin on the

[2015-02-25 01:08] darkdukey commented on #10513
Probably not, but you can try this, It will create prebuild lib for you. https://github.com/NatWeiss/RapidGame

[2015-02-25 01:41] minggo commented on #10316
@Michael-Hamburger
I have asked @dualface to take a look.

[2015-02-25 02:40] WenhaiLin commented on #10504
@joewan We fix this issue at https://github.com/cocos2d/cocos2d-x/pull/10467

[2015-02-25 03:14] #10504 closed, assigned to WenhaiLin

[2015-02-25 03:29] #10491 closed, assigned to nobody

[2015-02-25 03:45] minggo commented on #10513
@syswow
There is not plan now.

[2015-02-25 03:45] #10513 closed, assigned to nobody

[2015-02-25 03:47] minggo commented on #10486
@darkdukey
Any question now?

[2015-02-25 03:55] #10468 closed, assigned to super626

[2015-02-25 03:56] #10486 closed, assigned to nobody

[2015-02-25 04:04] minggo commented on #10523
@alexodus
console is a submodule, you can not use cocos2d-x like that.
You use use cocos2d-x in two ways:
- use git to clone cocos2d-x and run `python download-deps.py` to download 3rd party libs
- download full package here http://www.cocos2d-x.org/download

[2015-02-25 04:04] #10523 closed, assigned to nobody

[2015-02-25 05:51] #10470 closed, assigned to nobody

[2015-02-25 06:09] WenhaiLin opened #10578 "[win7-cpptests]Node:Clipping-->Some objects in a strange position"
Test base on the latest code of v4-develop branch on github.

![qq 20150225140712](https://cloud.githubusercontent.com/assets/5234286/6365775/b53b665e-bcf7-11e4-9144-794f7ebe2a41.png)

![qq 20150225140727](https://cloud.githubusercontent.com/assets/5234286/6365779/bb9f5780-bcf7-11e4-9d5c-ffafc5c385d7.png)

![qq 20150225140739](https://cloud.githubusercontent.com/assets/5234286/6365795/e51a0fa6-bcf

[2015-02-25 06:28] WenhaiLin opened #10579 "[win7-cpptests]Node:Label-New API-->Label render incorrectly base on DistanceField"
Test base on the latest code of v4-develop branch on github.

![qq 20150225141117](https://cloud.githubusercontent.com/assets/5234286/6365946/9fc773e2-bcf9-11e4-98ab-0f66421275f9.png)

[2015-02-25 06:37] WenhaiLin opened #10581 "[win7-cpptests]Node:Label-New API-->LabelAlignmentTest not displays label on the screen."
Test base on the latest code of v4-develop branch on github.

![qq 20150225143141](https://cloud.githubusercontent.com/assets/5234286/6366072/71aa615c-bcfb-11e4-9e29-3cdea7f469eb.png)

[2015-02-25 06:56] WenhaiLin commented on #10579
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10582

[2015-02-25 07:10] WenhaiLin opened #10583 "[win7-cpptests]Node:Particle3D(PU)-->BlackHole:Crash"
Test base on the latest code of v4-develop branch on github.

![qq 20150225144147](https://cloud.githubusercontent.com/assets/5234286/6366198/0f0bbf30-bcfd-11e4-96d5-3c7c7ff68a02.png)

[2015-02-25 07:25] WenhaiLin opened #10584 "[win7-cpptests]Node:Spine-->The debug draw of bones is incorrect."
Test base on the latest code of v4-develop branch on github.

![qq 20150225151941](https://cloud.githubusercontent.com/assets/5234286/6366531/e0602450-bd01-11e4-9019-5294896c9a9b.png)

![qq 20150225151952](https://cloud.githubusercontent.com/assets/5234286/6366538/f0bb5216-bd01-11e4-82d6-cf32cb29c44b.png)

[2015-02-25 08:23] #10579 closed, assigned to nobody

[2015-02-25 08:34] fusijie opened #10589 "MoveTo::reverse() have no effect"
`version:` 3.4Final
`issue:` MoveTo::reverse() have no effect.
`How to reproduce:` add following code to HelloWorld Project.

[code]

`How to fix?`

[code]

startWithTarget(Node *target) initial the `_positionDelta` property. if you don't call the function, `y action` will be wrong.

[2015-02-25 08:36] WenhaiLin commented on #10584
This issue applies to Mac/iOS platform, too.

[2015-02-25 08:37] WenhaiLin commented on #10578
This issue applies to Mac/iOS platform, too.

[2015-02-25 10:07] natural-law opened #10593 "Building mode is not working on Linux"
The origin issue : https://github.com/cocos2d/cocos2d-x/issues/10540
The problem has been fixed on branch v3.

This issue is created for fix the problem on branch v4.

[2015-02-25 10:09] natural-law commented on #10540
@antkillerfarm
Thanks for your feedback. I have fixed this problem on branch v3 by this PR:
https://github.com/cocos2d/cocos2d-x/pull/10591

The related PR of cocos2d-console is : https://github.com/cocos2d/cocos2d-console/pull/226

Also, I will fix the problem on branch v4 with this issue: https://github.com/cocos2d/cocos2d-x/issues/10593

Thank you once more!

[2015-02-25 10:11] #10294 closed, assigned to WenhaiLin

[2015-02-25 10:12] #10290 closed, assigned to natural-law

[2015-02-25 10:20] WenhaiLin commented on #10581
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10594

[2015-02-25 10:22] minggo commented on #10360
Fixed in #10595.

[2015-02-25 10:22] #10360 closed, assigned to nobody

[2015-02-25 10:27] minggo commented on #10304
@reagentoo
We will make all platforms use the same way.
The benefit is that, there is less header files to be included, and it will not cause conflict if different libs have the same header file name.

[2015-02-25 10:29] #10581 closed, assigned to nobody

[2015-02-25 22:57] SvDyer opened #10600 "CocosBuilderTest crashes in v4"
Cpp-tests > Extensions> CocosBuilderTest crashes in v4. Verified on Win32 and Universal App platforms.

[2015-02-26 01:39] mannewalis commented on #10578
fixed with PR https://github.com/cocos2d/cocos2d-x/pull/10599

[2015-02-26 01:42] mannewalis commented on #10578
Reopening for testing.

[2015-02-26 02:30] WenhaiLin commented on #10578
@minggo I've checked it, it is OK now.

[2015-02-26 02:31] #10578 closed, assigned to nobody

[2015-02-26 03:13] WenhaiLin commented on #10600
This issue applies to Mac/Android platform, too.

[2015-02-26 05:21] sunzhuoshi commented on #8964
Sorry @KrissMu  I failed to reproduce your issue.
cocos2d-x: 3.3
OS: windows 7
NDK: r10c
I tried to build "cpp-empty-test" project via "build/android-build.py cpp-empty-test", it just passed.

[2015-02-26 07:23] samuele3hu commented on #10600
This crash also happened on ubuntu platforms.

[2015-02-26 07:55] WenhaiLin opened #10609 "[ios-cpptests]Node:Particles-->issue3990,setTotalParticle should work-->Render incorrectly or crash"
![img_0203](https://cloud.githubusercontent.com/assets/5234286/6387970/f82ac2ca-bdce-11e4-9b0c-3d3758932199.png)

![qq 20150226154840](https://cloud.githubusercontent.com/assets/5234286/6388027/bf284032-bdcf-11e4-826d-eab0955e2127.png)

[2015-02-26 07:56] samuele3hu opened #10610 "[Linux and iOS]cpp-tests->Node:Particles->reset total particles would crash or display error in v4-develop"
Click `add 10 particles` an `remove 10 particles` randomly, then trigger this bugs.The wrong display as follows:
![image](https://cloud.githubusercontent.com/assets/4231014/6388193/f094b7de-bdd1-11e4-8b78-8044cd0815c9.png)

[2015-02-26 07:57] DionysosLai opened #10611 "Action listener isn't auto delete?"
As we know, we can play an action , and can set an action listener function to know whether action plays complete or not that the action is not loop.This function is setMovementEventCallFunc().But there is a problem in v2\v3. When we set a new action, and the old listner funtion is not delete.
An animation can have many action lists. As example, there is an animation that have two actions with are

[2015-02-26 08:12] samuele3hu commented on #10609
This error would be triggered on linux platform.

[2015-02-26 08:14] samuele3hu commented on #10584
This bug would be triggered on Linux platform.

[2015-02-26 08:29] samuele3hu opened #10613 "[Linux-cpp-tests]Performance tests->Scenario Perf Test would crash in v4-develop"
This bug also existed on the iOS platform.

[2015-02-26 08:46] samuele3hu opened #10614 "[Linux-lua-tests]Some tests in the ActionTestsin weren't triggered in v4-develop"
The error message as follows:

[code]

[2015-02-26 09:03] minggo commented on #10583
We should remove particle3d in from v4-develop

[2015-02-26 09:18] #10540 closed, assigned to natural-law

[2015-02-26 09:31] minggo commented on #10515
@kenanb
The implementation of `TextFieldTTF::attachWithIME()` is

[code]

[2015-02-26 09:31] minggo commented on #10515
If it is the same as you said, it will cause compiling error.

[2015-02-26 09:33] puckery commented on #10342
02-26 17:25:35.216: A/libc(21526): bionic/libstdc++/src/pure_virtual.cpp:6: void __cxa_pure_virtual(): assertion "!"Pure virtual function called. Are you calling virtual methods from a destructor?"" failed
02-26 17:25:35.216: A/libc(21526): Fatal signal 11 (SIGSEGV) at 0xdeadbaad (code=1), thread 21526 (mediaserver)
02-26 17:25:35.316: V/AudioFlinger(21526): presentationComplete() reset: mPresenta

[2015-02-26 09:33] puckery commented on #10342
@minggo
cocos version 3.2

[2015-02-26 10:29] dingpinglv opened #10615 "Add Gradient Color Stops Feature to LayerGradient"
Add Gradient Color Stops Feature to cc.LayerGradient, The H5 canvas implement at  https://github.com/cocos2d/cocos2d-html5/pull/2693

[2015-02-26 11:50] KrissMu commented on #8964
@sunzhuoshi I think the compile error I had was related to the flag APP_STL := gnustl_static I was using. I changed it to what CppTest is using (APP_STL := c++_static) and it's working now.

Thanks

[2015-02-26 11:54] si-design opened #10616 "TextView - Android - Displays White Background"
On certain devices such as the Nexus 4 (mine is running 4.4.4), a TextView will display a white background over the entire game. Also, things like setMaxLength do not work.

This does not happen on other devices such as the Galaxy S3.

I suspect the TextView is being displayed in the foreground, when it should be in the background.

[2015-02-26 12:15] si-design opened #10617 "VideoPlayer - Android - Play Unreliable"
Playing a video on Android seems to be very unreliable.

If you try to load and play a video in a scene's init function, it won't work.

If you try to load and play a video in a scene's update function, it will sometimes work. On some devices (seems to be slower ones), the video won't play, but will starting playing when the keyboard is showing.

Overall, VideoPlayer on Android seems to be very bu

[2015-02-26 13:37] minggo commented on #10589
Because MoveTo is just to move to a absolute position, there is not meaning for MoveTo::reverse().

[2015-02-26 14:05] minggo commented on #10617
@si-design
Could you please give some codes to reproduce it?
And on which Android device it will not work?

[2015-02-26 15:16] #10484 closed, assigned to nobody

[2015-02-26 15:35] kenanb commented on #10515
@minggo it already causes compiler error. I am only able to build when I manually patch the repo the way I showed in my second comment. the code in my second comment is not from the repo, it is from my patch.

also, thank you for quick reply on the issue.

[2015-02-26 16:24] si-design commented on #10617
I have traced the problem down to this section of code at the start of openVideo in Cocos2dxVideoView.java:

[code]

If you comment out the return statement, the video playback will be performed much more reliably.

[2015-02-26 16:26] si-design commented on #10617
Oh and the devices I had trouble with were Nexus 7, Galaxy S3, Hudl. Was trying to play an mp4 movie.

[2015-02-26 21:34] SvDyer commented on #10613
Sam issue on Win32 and Universal App platforms

[2015-02-27 01:41] minggo commented on #10515
@kenanb
But i didn't find any compiling error.

[2015-02-27 01:45] mannewalis commented on #10515
I think the #if CC_PLATFORM_WINRT should be != to instead of ==

[2015-02-27 01:48] minggo commented on #10515
@mannewalis
The code is != as i pasted, that's why we don't have compiling error.

[2015-02-27 01:50] mannewalis commented on #10515
Oh in the first comments it was ==

[2015-02-27 03:59] minggo commented on #10515
Yep, i don't know why @kenanb 's code is different from github codes.

[2015-02-27 05:30] #9062 closed, assigned to super626

[2015-02-27 06:17] minggo commented on #10589
After thinking more about it, i think it is a bug.

[2015-02-27 06:22] fusijie commented on #10589
I also confused it a bug or not. Because if `MoveTo`'s reverse action is a `MoveTo` action, nobody know the d

[2015-02-27 06:32] fusijie commented on #10589
I also confused it is a bug or not. Because if `MoveTo`'s reverse action is a `MoveTo` action too, nobody know the destination of the target(It has no target for now), such as,

[code]

But now, the reverse action of `MoveTo` is a `MoveBy` action( from base class). the implemention is

[code]

So the destination issue should be resolved by `_positionDelta`.  `startWithTarget()` is a internal API,

[2015-02-27 06:35] minggo commented on #10589
I think MoveTo::reverse() should move to its original position.
What's your opinion?

[2015-02-27 06:39] fusijie commented on #10589
Yes, MoveTo::reverse() should move to its original position.
But no matter to use MoveBy or MoveTo, we need a target so that we can get the original position from the target by `target->getPosition()`.

[2015-02-27 06:51] WenhaiLin commented on #10583
Remove Particle3D: https://github.com/cocos2d/cocos2d-x/pull/10631

[2015-02-27 06:51] #10583 closed, assigned to nobody

[2015-02-27 06:51] minggo commented on #10589
Yep, what's your suggestion?

[2015-02-27 07:11] fusijie commented on #10589
＝。＝

A.enable MoveTo::reverse()
add a new API to bind target and record the original position, and note the limits. It's not a good idea.

B.disable MoveTo::reverse()
overrite the `reverse()` API, such as

[code]

[2015-02-27 08:41] #10230 closed, assigned to nobody

[2015-02-27 08:57] WenhaiLin commented on #10547
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10636

[2015-02-27 09:37] WenhaiLin commented on #10511
@Poowww Can you provided a test case that can easily reproduce this?

[2015-02-27 10:16] WenhaiLin commented on #9817
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10643

[2015-02-27 12:10] kenanb commented on #10515
@minggo found it! turns out it is already fixed by @mannewalis here: https://github.com/cocos2d/cocos2d-x/commit/63b57da58f4947c1865a2b9fb75d2a67172ed5b8

thank you :)

[2015-02-27 12:10] #10515 closed, assigned to nobody

[2015-02-27 15:56] kenanb opened #10648 "wrong GLFW import path"
CCGLViewImpl-desktop.h is looking for glfw by `#include "glfw/glfw3.h"` while the path of GLFW 3 include file in my system (ArchLinux x64) is `GLFW/glfw3.h` (upcase directory name). I don't know this is the case in all systems. So I don't know if this is a bug in all platforms.

[2015-02-27 20:48] mannewalis commented on #10609
Should be fixed with PR https://github.com/cocos2d/cocos2d-x/pull/10649
I'll merge it as soon as it passes jenkins

[2015-02-27 21:09] zawasp opened #10650 "C++ crash in flatbuffers?"
Ever since I'm using binary csb files, I get these random (rare) crash reports in my Google Play console. They seem to be releated to flatbutffers somehow:

`backtrace:
#00 pc 0017fecc /data/app-lib/com.x.y-2/libxy.so (cocos2d::CSLoader::nodeWithFlatBuffersFile(std::string const&)+99)
#01 pc 0017fec9 /data/app-lib/com.x.y-2/libxy.so (cocos2d::CSLoader::nodeWithFlatBuffersFile(std::string const&)+9

[2015-02-27 21:25] #10547 closed, assigned to WenhaiLin

[2015-02-27 21:31] darkdukey commented on #10517
Can you provide some code snippets what can reproduce this issue?

[2015-02-27 21:33] mannewalis commented on #10609
merged. ready for verification.

[2015-02-28 01:40] minggo commented on #10609
@Dhilan007
Please verify this issue and other crash issues.
Thanks.

[2015-02-28 01:43] minggo commented on #10648
@kenanb
Please refer to [this ticket](http://discuss.cocos2d-x.org/t/linux-64bit-and-32bit-support/20187/26) for detail information.

Now we use prebuilt version of GLFW.

[2015-02-28 02:08] kenanb commented on #10648
I see, still there probably is a problem with include path because I get `cocos2d-x/cocos/platform/desktop/CCGLViewImpl-desktop.h:32:24: fatal error: glfw/glfw3.h: No such file or directory` error while building my game. I just pulled the latest sources. I downloaded latest external deps and I am on branch v4-develop. The problem still exists.

[2015-02-28 02:08] chengstory commented on #10611
Thanks @DionysosLai,   I ask @yushenglu to take a look.

[2015-02-28 02:21] minggo commented on #10609
I tested on Mac, it is fixed.

[2015-02-28 02:21] #10609 closed, assigned to nobody

[2015-02-28 02:22] minggo commented on #10600
Fixed in #10649.

[2015-02-28 02:22] #10600 closed, assigned to WenhaiLin

[2015-02-28 02:23] minggo commented on #10610
Please check if it is fixed in #10649

[2015-02-28 02:24] minggo commented on #10613
Please check if it is fixed in #10649

[2015-02-28 02:36] minggo commented on #10648
You can find the header file in `external/linux/x86-64/include/glfw/glfw3.h`.

[2015-02-28 02:43] zilongshanren commented on #10648
@kenanb
Why in your system the glfw directory is GLFW(upper case)?  Could you paste your cmake config output here?

[2015-02-28 03:04] kenanb commented on #10648
@andyque it is for the systemwise GLFW installation, here is the Arch Linux official GLFW package file list: https://www.archlinux.org/packages/community/x86_64/glfw/files/

[2015-02-28 03:07] zilongshanren commented on #10648
@kenanb
But now we are using prebuilt version of GLFW. Why it will search the system GLFW installation?

[2015-02-28 03:10] #9817 closed, assigned to WenhaiLin

[2015-02-28 03:57] kenanb commented on #10648
@andyque @minggo it turns out I didn't change the CMakeLists.txt in my project path with the new one in the template directory. That was the cause of the problem. My mistake. Sorry for the confusion and thank you so much for the help :) Closing.

[2015-02-28 03:57] #10648 closed, assigned to nobody

[2015-02-28 06:16] zilongshanren opened #10656 "[crash ios-ipad3-v4-alpha0] Js-tests crash in ExtensionTest->CocosBuilderTest"

[2015-02-28 06:20] zilongshanren opened #10657 "[crash ios-ipad3-v4-alpha0] Js-tests crash in ExtensionTest->AssetManagerTest"
Crash!!

[2015-02-28 06:22] zilongshanren opened #10658 "[bug ios-ipad3-v4-alpha0] Js-Tests -> Effects Advanced Test -> Lens + Waves3d and OrbitCamera Test"
The effect is wrong here.

[2015-02-28 06:29] zilongshanren opened #10660 "[bug ios-ipad3-v4-alpha0] Js-Tests -> ParticleTest"
Some test cases are not working.
1. BoilingFoam
2. BurstPipe
3. Comet
4. ExpodlingRing
   5.LavaFlow
   6.SpinningPeas
   7.SpookyPeas
   8.Phoenix
   9.Particle Resize Test

And some tests crash!!

[2015-02-28 06:39] zilongshanren opened #10661 "[crash ios-ipad3-v4-alpha0] Js-Tests -> PerformanceTest -> PerformanceParticleTest"
it just crashes.

[2015-02-28 06:41] zilongshanren opened #10662 "[bug ios-ipad3-v4-alpha0] Js-Tests-> spineTest is not working."

[2015-02-28 06:45] zilongshanren opened #10663 "[bug ios-ipad3-v4-alpha0] Js-Tests -> TransitionTest -> FlipXLeftOver"
The screen will blink which looks like a abnormal behavior.

And many other Flip transitions are also wrong.

[2015-02-28 07:14] samuele3hu commented on #10613
Yes, it has already been fixed.

[2015-02-28 07:16] samuele3hu commented on #10610
Yes,It has already been fixed.

[2015-02-28 07:40] WenhaiLin opened #10664 "[v4-alpha0-win7-cpptests]Node:Label-Old API-->Testing LabelTTF:Render incorrectly"
![qq 20150228153725](https://cloud.githubusercontent.com/assets/5234286/6425338/e19dabc0-bf5f-11e4-88c5-bae88c277756.png)

[2015-02-28 07:40] #10610 closed, assigned to nobody

[2015-02-28 07:40] #10613 closed, assigned to nobody

[2015-02-28 07:47] WenhaiLin commented on #10664
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10665

[2015-02-28 08:14] #10664 closed, assigned to nobody

[2015-02-28 08:42] samuele3hu opened #10667 "[Mac]The project created by js-template would trigger the compile error when use `cocos run -p mac -m release` in the v4-develop"

[2015-02-28 08:45] #10614 closed, assigned to nobody

[2015-02-28 08:45] samuele3hu opened #10668 "[Mac]lua-tests-> RenderTextureTest -> Touch the screen -> click Save Image have not effect in the v4-develop"
The error msg as follows:

[LUA ERROR] [string "RenderTextureTest/RenderTextureTest.lua"]:27: attempt to call method 'addUIImage' (a nil value)

[2015-02-28 10:07] minggo commented on #10405
Now flatbuffer samples is not ocmpiled.

[2015-02-28 10:07] #10405 closed, assigned to WenhaiLin

[2015-02-28 10:51] emmychen opened #10673 "Try to run cocos2d-js 3.2 on ios 5.1.1 the app crashed with error"
Try to run cocos2d-js 3.2 on ios 5.1.1 the app crashed with error

dyld: Symbol not found: _NSParagraphStyleAttributeName
  Referenced from: /var/mobile/Applications/9DC2D817-E75C-4916-BBDF-D27111B1EEA9/ABC Phonics Rhyming Bee.app/ABC Phonics Rhyming Bee
  Expected in: /System/Library/Frameworks/UIKit.framework/UIKit
 in /var/mobile/Applications/9DC2D817-E75C-4916-BBDF-D27111B1EEA9/ABC Phonics Rhy

[2015-02-28 12:38] emmychen commented on #10673
I found out the problem with xcode project configuration.  I have some frameworks that does not support ios 5.1.1.  I had to make these framewors as option in order to run the app on ios 5.1.1

[2015-02-28 12:38] #10673 closed, assigned to nobody

[2015-02-28 12:49] abcjjy opened #10674 "cpp-tests crashes constantly on Asus zenfone 6 and Galaxy Tab 3 10.1" when using x86"
The two devices all uses Atom 25xx cpus. And their primary architecture is x86. If I compiles only with armeabi or armeabi-v7a, cpp-tests runs smoothly. However, when x86 is enabled, the tests crashes constantly.

Here is the stack:

Build fingerprint: 'asus/CUCC_a600cg/ASUS_T00G:4.3/JSS15Q/CUCC_user_1.18.40.16_20140911_3821:user/release-keys'
pid: 22647, tid: 22662, name: Thread-8692  >>> org.coc

[2015-02-28 15:54] davidxifeng opened #10675 "proper process for different Lua bytecode on different platform (32/64 bit) or different Lua implementation"
Lua bytecode is different between 32-bit and 64-bit platform, and so does luajit bytecode,

add process for these in Cocos2dxLuaLoader.cpp and `cocos-console` (plugin_luacompile) would be better, I have written a little **dirty fix** for this, but it is still not ready for send pull request.

Lua字节码因为word size和byte order的原因而在不同平台上不兼容(如iphone 4s/ iphone 6), luajit字节码和lua字节码也不兼容, 如果游戏使用加密后的字节码的话, 则需

[2015-02-28 18:23] ginobean opened #10676 "rotated sprite displays incorrectly if a physics body is attached"
1. In Cocos Studio, add a rectangular sprite to a layer and set it's Rotation value to 90 via the Properties pane in Cocos Studio.
2. Run the app to verify that the sprite is displaying with the correct rotation value.  It should display correctly at this point.
3. Add C++ code to bind the sprite to a variable. Then, attach a static physics body to this variable.
   In this example, the variable n

[2015-03-01 04:28] stevetranby opened #10677 "CC_DIRECTOR_FPS_POSITION unused"
Be nice to add this simple feature of where to display stats.

[2015-03-01 08:46] #10356 closed, assigned to nobody

[2015-03-01 19:51] Mazyod commented on #9226
@andyque I see that EditBox draws the placeholder on openGL _and_ the Cocoa control. You are referring to the OpenGL label here?

[2015-03-01 23:39] PeqNP commented on #9162
I'm still not seeing this feature in v3.4. Is it possible I'm using the API incorrectly?

The code below still shows 255 opacity:

[code]

I really need this feature, so I may see what I can do to add it.

Thanks all!

[2015-03-02 01:20] Rumist commented on #10611
@DionysosLai
I think that this method functionally is normal, you used abnormally.

See this comment in CCArmatureAnimation.h(Line 188).

/**
     \* Set armature's movement event callback function
     \* To disconnect this event, just setMovementEventCallFunc(nullptr, nullptr);
     */
    CC_DEPRECATED(v3) void setMovementEventCallFunc(cocos2d::Ref *target, SEL_MovementEventCallFunc callFunc);

[2015-03-02 01:39] zilongshanren commented on #9226
@Mazyod
Yes, exactly. When input start, the placeholder should disappear, but it still displayed.

[2015-03-02 03:39] poowww commented on #10511
@WenhaiLin Thanks for reply.

Please rewrite "Default project's HelloWorldScene.cpp" as follows.
It's a test case which this bug can reproduce.

[code]

[2015-03-02 03:40] fusijie opened #10688 "Label::enableGlow() bug."
`version:` 3.4Final
`issue:` While create a menuItem with MenuItemLabel, then enable the Label's glow feature, the position of the menuItem will shift. and the touch position is shift too.
![399a4b2d-be9f-47ea-94d7-43038167324c](https://cloud.githubusercontent.com/assets/5085300/6435079/bb2a9ca6-c0d0-11e4-877d-5fcdbe0dc84f.jpg)
`reproduce:` add following code to HelloWorld project.

[code]

[2015-03-02 06:33] WenhaiLin commented on #10367
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10689

[2015-03-02 10:20] hamburml commented on #10316
FYI. The lua-template-runtimes in version 4.0alpha0 is still from 3.4rc1.

![image](https://cloud.githubusercontent.com/assets/7239350/6438952/307bdacc-c0ce-11e4-88dc-096344a4176a.png)

[2015-03-02 11:27] yuanotes commented on #10063
This is annoying. Any suggestion to solve this problem?

[2015-03-02 11:29] DionysosLai commented on #10611
@Rumist
Yeah, I know what your mean.But I think this problem may is a design bug.For a game engine, a open engine and many people use to develop game,what you do is made the engine more easily, not set some invisible barriers.Such as this ex,many developer may ignore the function prompt, and do not  know how to deal with it.Why don`t engine do this thing, 'To disconnect this event'.

[2015-03-02 15:54] ghost opened #10696 "Tiled Map Crash"
app will crash if tileset have different  tile size like this

http://i.imgur.com/2gV3VJO.png

update : may not support detail at http://www.cocos2d-x.org/hub/23

[2015-03-02 16:52] PeqNP commented on #9162
I'm not really comfortable making a pull request for this because I feel that my approach is a bit of a hack. Here is the code, which I may create a pull request for, depending on what you guys think. I feel that there is a better way to do this.

[code]

I had issues iterating over the `_children` variable. I'm sure it's because of my misunderstanding with C++. This is my first time writing in it

[2015-03-02 17:57] #10696 closed, assigned to nobody

[2015-03-03 01:53] #10469 closed, assigned to chengstory

[2015-03-03 03:29] #10367 closed, assigned to WenhaiLin

[2015-03-03 03:30] #10304 closed, assigned to zilongshanren

[2015-03-03 03:30] #8955 closed, assigned to samuele3hu

[2015-03-03 03:34] minggo opened #10698 "Migrate jenkins to MS"

[2015-03-03 04:00] rdtr commented on #8305
Hi, I have still struggled this issue and today seem to find a possible solution.

In my case, I found this issue remaining only when installing via Android Installer, and doesn't happen when I installed via Eclipse or after once kill the App and re-launch. So I googled for a while and found [this stack overflow thread](http://stackoverflow.com/questions/6356467/activity-stack-ordering-problem-whe

[2015-03-03 05:10] yuanotes commented on #10063
The same here: http://discuss.cocos2d-x.org/t/label-as-child-doesnt-move-when-parent-position-updated-with-2-cameras/20267

[2015-03-03 08:36] minggo commented on #10063
@darkdukey
@super626
Any suggestion?

[2015-03-03 10:15] fqamic opened #10704 "Two Camera,"experimental :: TMXTiledMap" black"
Use two custom Camera, after the "Add" into the scene camera, add map "experimental :: TMXTiledMap" created, move it out of the screen when originally appeared on the screen inside the area, the black, not drawn . First "Add" into the scene camera, no problem.
Code:
void initTmx()
{
    Layer\* _backgroundlayer = Layer::create();
    addChild(_backgroundlayer, 1);
    Camera\* _backgroundcamera =

[2015-03-03 10:17] stevetranby opened #10705 "Label transform not updating correctly if masked"
It seems in testing that Label (possibly others) don't update their transforms because the Node visit method processes the nodes flags before the isVisitingCamera check is called. But in Label the checking of camera mask/flag is done before processing the parent/transform flags.

Reference discussion of solving the issue.
http://discuss.cocos2d-x.org/t/label-as-child-doesnt-move-when-parent-positi

[2015-03-03 10:20] yuanotes commented on #10063
I think we solved this issue. The scene iterates all cameras in every frame. When the node tree is visited with the 1st camera, the parent node of the label processed `_transformUpdated` and `_contentSizeDirty` and set them to `false`.

If the label's camera mask is the same with the 1st camera, it would be processed correctly. Otherwise, it won't update with its parent node.

[2015-03-03 10:25] wantnon2 commented on #10063
our solution:
uint32_t Node::processParentFlags(const Mat4& parentTransform, uint32_t parentFlags)
{
    if(_usingNormalizedPosition) {
        CCASSERT(_parent, "setNormalizedPosition() doesn't work with orphan nodes");
        if ((parentFlags & FLAGS_CONTENT_SIZE_DIRTY) || _normalizedPositionDirty) {
            auto s = _parent->getContentSize();
            _position.x = _normalizedPosition.x

[2015-03-03 15:15] WenhaiLin commented on #10291
Done: https://github.com/cocos2d/cocos2d-x/pull/10703

[2015-03-03 15:15] WenhaiLin commented on #10289
Done: https://github.com/cocos2d/cocos2d-x/pull/10703

[2015-03-03 15:15] WenhaiLin commented on #10292
Done: https://github.com/cocos2d/cocos2d-x/pull/10703

[2015-03-03 15:19] #10291 closed, assigned to WenhaiLin

[2015-03-03 15:19] #10292 closed, assigned to WenhaiLin

[2015-03-03 15:20] #10289 closed, assigned to WenhaiLin

[2015-03-04 06:43] darkdukey commented on #10675
Is this been fixed? or its still a problem?

[2015-03-04 07:24] davidxifeng commented on #10675
我已经简单的解决了这个问题: 带上两份字节码文件, 修改`Cocos2dxLuaLoader`来根据不同的平台加载不同的字节码,不过晚上紧急加的,代码比较dirty.

@darkdukey

[2015-03-04 07:51] darkdukey commented on #10675
Thanks a lot @dualface worth look at it.

[2015-03-04 08:13] WenhaiLin commented on #10429
I think this issue cause by the camera mask no be cascaded when invoking Node::addChild.

[2015-03-04 08:24] davidxifeng commented on #10675
另外,我们项目现在使用的cocos2d-x 3.2, (iOS) 我发现这个版本附带的liblua.a只有64位的,然后libluajit.a只有32位的.

就是说项目在不同的平台上使用的Lua也不一样, 如果带字节码的话,也要注意好使用不同的编译工具生成字节码, 需要修改 `plugin_luacompile`.

[2015-03-04 09:39] #10296 closed, assigned to nobody

[2015-03-04 10:09] yantian001 opened #10724 "Background music stopped when other sound play"
i use below code to loop play background music ,

[code]

it's work perfectly on win32 , but when i test on iPhone 4 ,sometimes the backgroud music stopped when
sounds play , and the print the below logs in the console

[code]

so what happened? i program with cocos2dx 3.3

[2015-03-04 12:10] jphw opened #10727 "ui::Layout cannot work with scaled widgets"
If you create some ui::Buttons, then scale them up with setScale (because texture is too small for example) and you need bigger button
and then add them to a ui::Layout (i.e. Vertical) - all buttons will overlap each other.
Also Margin works incorrectly if objects are scaled.

[2015-03-04 18:37] jdedona opened #10729 "Decouple GL_DEPTH_TEST and glDepthMask"
Can't draw 2D UI in 3D space because enabling depthMask, and depth test are coupled through Director::setDepthTest.

In Renderer::visitRenderQueue, if _isDepthTestFor2D is set it will enable both depthTest and depthMask. However when drawing UI you can have several nodes on the same plane overlapping one another. The only way to draw them in order without Z fighting is to have depthTest set to Tru

[2015-03-05 01:49] yantian001 commented on #10724
git@github.com:yantian001/testaudio.git
this demo could reproduce this issue

[2015-03-05 03:37] WenhaiLin commented on #10705
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10730

[2015-03-05 03:38] WenhaiLin commented on #10377
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10730

[2015-03-05 03:49] fqamic commented on #10704
@minggo
Hello, may I ask this question can be resolved? Project more anxious! Thank you.

[2015-03-05 06:06] toanpv12345 commented on #8305
Hi redtree1112
Thanks for your help, I tested again on some android devices as LG, SamSung, but these bug still exist.
I hope this bug fixed with version 3.5

Thank you.

[2015-03-05 06:28] puckery opened #10732 "cocos2dx's vector has memory leaks on android?"
test sample on cocos2d-x 3.2, android ndk r9d

Vector<Node*> list;

button1 clicked:
    for (int i = 0; i < 500000; i++)
    {
        auto ss = Node::create();
        list.pushBack(ss);
    }

button2 clicked:
       list.clear();

[2015-03-05 06:54] naghekyan commented on #8327
There is no such issue in cocos2d-x 3.2 any more. I guess, it is fixed on the fly.

[2015-03-05 09:10] rdtr commented on #8305
I'm sorry to hear that.

Just FYI, I'm using v3.2 and also have put a patch in CCLabel's constructor as follows:

[code]

This totally refreshes all labels so I know it's not an efficient way but it might be effective for some cases.
Also you should check if you're not using your own custom shaders. Otherwise you should reload your shaders on resuming your application to prevent them from breaking

[2015-03-05 09:44] sienlam commented on #10471
copy & replace cocos2d-x-3.4\external\curl\prebuilt\wp8\arm with the same files from 3.3.
it work???????

[2015-03-05 10:09] zilongshanren opened #10743 "UITextField lack a way to call digital keyboard"
We might need to add more options to the keyboard type.

[2015-03-05 10:11] WenhaiLin commented on #10357
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10744

[2015-03-05 10:11] WenhaiLin commented on #9681
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10744

[2015-03-05 12:27] smitpatel88 opened #10746 "applicationDidEnterBackground not called when low battery popup & title bar interruption"
This bug is applicable on both Android & iOS.
Using v3.4 final

Whenever low battery pop-up comes applicationDidEnterBackground() method should called but its not getting called. Due to this user can lost current level easily.
Also for title bar its same, when user drag title bar in Android or iOS, it should call applicationDidEnterBackground().

[2015-03-05 12:29] dariodepaolis opened #10747 "UI Button don't set default fontname"
If I create a button and set only the graphics (normal state, selected, etc) when I compile I get the following:

No file found at Thonburi. Possible missing file.

I've seen in UIButton (and also in UI Text and UI Textfield), that a default _fontname("Thonburi") has been set.

But if I don't want to setTitleFontName("something else") I think I shouldn't get this warning.

[2015-03-05 13:34] zhuoyikang commented on #10650
i also get this crash...

#1  0x0000000100ae9a7d in std::**1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> >::basic_string(char const_) [inlined] at /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/../include/c++/v1/string:1968
#2  0x0000000100ae9a5f in std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<c

[2015-03-05 14:13] stnguyen commented on #8990
I'm having the same issue. It's happening on "Samsung Galaxy Gio" and "Nexus S" devices running 2.3.
Please help. I'm using cocos2d-x 3.2 btw

[2015-03-05 15:56] ginobean opened #10749 "physics objects do not scroll as expected when parent node position is changed"
Create a node W. Add a couple visible Sprites to this node W (but without attaching any physics bodies).

If you change node W's position by delta x, the Sprites that are the children of W will actually visually change positions. This is the expected behavior and actually allows for easy scrolling, simply by changing the position of the parent container node.

Now, attach a static physics body (su

[2015-03-06 01:45] #10698 closed, assigned to zilongshanren

[2015-03-06 01:46] minggo opened #10750 "Fix all warnings"

[2015-03-06 03:55] #10705 closed, assigned to WenhaiLin

[2015-03-06 03:58] minggo commented on #10377
@fusijie
Could you please check it?

[2015-03-06 04:00] minggo commented on #10705
@stevetranby
Could you please check it?

[2015-03-06 05:01] vermilliontear commented on #10589
I agree with fusijie. MoveTo is just an action, any Sprite can use it. So before startWithTarget(), the action doesn't know who will be using it. I think the MoveTo::reverse() should be disabled. Maybe we need a class, just like MoveToFrom, and we can use MoveToFrom::reverse() to reverse the action.

[2015-03-06 05:47] fusijie commented on #10377
@minggo yes, the bug is fixed.

[2015-03-06 05:53] minggo commented on #10377
Thanks.

[2015-03-06 05:53] #10377 closed, assigned to super626

[2015-03-06 07:23] yuyangame opened #10754 "3.4Final 生成的lua版 通过Name获取ccs节点的问题"
不会遍历所有子节点，而是只遍历一级子节点，记得之前是能过遍历所有的啊，现在只能自己写方法解决了么

[2015-03-06 07:48] #10357 closed, assigned to nobody

[2015-03-06 07:48] #9681 closed, assigned to nobody

[2015-03-06 07:56] chengstory commented on #10754
I ask @pipu to answer your question.

[2015-03-06 08:21] pipu commented on #10754
@yuyangame
1. Node::getChildByName() 只能查找一级子节点。
2. Helper::seekWidgetByName() 可以递归查找子节点，但是节点类型必须是 Widget 及其子类对象。

[2015-03-06 09:04] toanpv12345 commented on #8305
Thank redtree1112,
I'm using v3.4, this bug, cocos team fixed in CCLabel's constructor as follows:

[code]

But some devices still appears this bug. In my case, I edited code above as follow:

[code]

and it fixed!
Thank redtree1112 very much!

[2015-03-06 09:28] Yehsam23 commented on #10676
I fix this issue by set "_updateTransformFromPhysics" default value to false at CCNode.ccp

CCNode.cpp

, _updateTransformFromPhysics(false)

[2015-03-06 11:11] minggo opened #10758 "TextBMFont will hung the program on Android 5.0"
Detail information please refer to [this ticket](http://www.cocoachina.com/bbs/read.php?tid-287229.html).

[2015-03-06 12:36] cgebe commented on #10445
We are facing the same issue right now, fix would be appreciated!

[2015-03-06 13:13] ginobean commented on #10676
It doesn't seem to work for me. As a test, I set _updateTransformFromPhysics(false) both in the constructor and in Node::updatePhysicsBodyTransform, where it was again setting it to true.
[code]
Also be sure to enable physics debug shapes:
[code]
It sort of looks like it's working, but if you set the debug draw shapes flag, you'll see that the physics shape and the sprite no longer match on the sc

[2015-03-06 15:02] yuyangame commented on #10754
@chengstory  @pipu 谢谢，解决啦

[2015-03-06 21:24] piotrros opened #10759 "Clipping node doesn't work on Android 5.0:"
See this topic:

http://stackoverflow.com/questions/28842039/cocos2d-x-android-5-0-clipping-node-not-working

[2015-03-07 00:33] Sheado commented on #8451
I just updated to latest and had this issue. It should be:

[code]

[2015-03-08 09:14] bhonzo commented on #10471
Thanks it worked

[2015-03-09 02:01] #10754 closed, assigned to chengstory

[2015-03-09 02:43] WenhaiLin commented on #10758
This issue is cause by 'sscanf' function. This issue should be fixed in NDK r10c. For more information : https://code.google.com/p/android/issues/detail?id=77988

[2015-03-09 02:51] fusijie opened #10763 "RichText infinite loop"
`version:` 3.4Final
`issue:`

[code]

will call it self to fall into infinite loop if I don't `setContentSize` or `setContentSize` with wrong args.
`reproduce:` TestCpp->UITest->RichText
**comment**

[code]

or **modify**

[code]

[2015-03-09 03:16] WenhaiLin commented on #8990
I can't reproduce this issue on the devices here:
1.samsung GT-I9100, Android 2.3.6
2.MEIZU MX3,Android 4.4
3.XIAOMI MI 3,Android 4.4.4
4.HTC Nexus 9, Android 5.0.2

I will try to test this issue on more devices.

[2015-03-09 06:23] zhaijialong opened #10767 "Transition breake when there is a Sprite3D in the scene"
you can try it with the TransitionTest.cpp, add to `TestLayer1::TestLayer1`:

[code]

then it will break when transition occurs, callstack:

![_20150309142230](https://cloud.githubusercontent.com/assets/2784749/6550716/c6a64cb4-c667-11e4-8379-ad0b5a26733d.png)

[2015-03-09 06:28] zhaijialong opened #10768 "Sprite3D can't be shown in a LayerGradient"
is it a bug?

[2015-03-09 06:28] stevetranby commented on #10705
I reverted my fix, applied this fix, and it worked as expected for me. Thanks!

[2015-03-09 06:38] birdkingz opened #10769 "[cocos2dx-2.2.6]CCLabelTTF doesn't load font file in Android 5.0"
Recently I just got my device updated to Android 5.0 (Lollipop) and noticed all my games (cocos2dx-v2.x)
have issue with the font. When I launch the game in Android 5.0 I noticed the device automatically uses system font (default font) to render all the labels that I've created with CCLabelTTF.

I didn't noticed any errors while loading the .ttf file. It works on older devices (< 5.0).
I'm not sur

[2015-03-09 06:38] minggo commented on #10768
What's the error?

[2015-03-09 06:39] minggo commented on #10705
Thanks @stevetranby .

[2015-03-09 06:50] zhaijialong commented on #10768
there is no error, just can not be shown.

[2015-03-09 08:04] WenhaiLin opened #10771 "[v4-alpha1-win7-cpptests]Node: MotionStreak-->MotionStreak test1:Crash"

[2015-03-09 08:07] 0xJimmyBeh commented on #10293
Any milestone for this feature to be implemented? Need to bind them to use in Cocos2d-JS for cross platform project.

Thanks!

[2015-03-09 08:50] chenquanjun opened #10773 "Label setString bug after getLetter function using TTF font"
quickx 3.3 final

[code]

It will cause assert in TextureAtlas function removeQuadAtIndex
"CCASSERT( index>=0 && index<_totalQuads, "removeQuadAtIndex: Invalid index");"

if getLetter index larger than setString length, it happens

[2015-03-09 09:53] zilongshanren opened #10777 "iOS 8.0+ When click EditBox, the game scene displayes wrongly"
For more information, please refer to the following link.

http://www.cocoachina.com/bbs/read.php?tid=271139&uid=162815

[2015-03-09 09:55] zilongshanren opened #10778 "PageView should support Vertical scroll"
Since many developers are asking me for this feature, we might need to implemented in v3.5 and v4.x.

[2015-03-09 10:32] minggo commented on #10589
Thanks guys.
I think disable `MoveTo::reverse()` is reasonable.

[2015-03-09 10:53] #10769 closed, assigned to nobody

[2015-03-09 11:40] ginobean opened #10779 "ParticleDesigner files always use the same texture file name, even for different textures"
ParticleDesigner will always set the texture file name to particleTexture, when embed texture option is chosen. This is problematic if you have two different particle systems, created via ParticleDesigner, that use two _different_ textures. cocos2d-x will actually only be able to use one texture, because it will think the second texture is identical, due to the use of the same texture file name fo

[2015-03-09 12:52] ginobean commented on #10779
Also, I just realized there's an easy further optimization. If the texture is already in the cache, just use that  instead of going through the whole ZipUtils::inflateMemory stuff.

[code]

[2015-03-10 02:09] birdkingz commented on #10769
Found out that is not cocos2dx problem is Android 5.0 problem
https://code.google.com/p/android-developer-preview/issues/detail?id=608

[2015-03-10 03:12] JeongShin-Park opened #10785 "getGLContextAttrs"

[2015-03-10 03:53] minggo commented on #10589
@fusijie
Could you send a pull request to disable `Move::reverse()`?

[2015-03-10 03:55] #10785 closed, assigned to nobody

[2015-03-10 05:59] fusijie commented on #10589
@minggo the pr is https://github.com/cocos2d/cocos2d-x/pull/10789

[2015-03-10 06:06] ricardoquesada commented on #10293
sounds good to me.

What other useful features are missing? Let's identify them and then prioritize them.

[2015-03-10 06:29] VitaminPSG opened #10791 "Windows Phone LabelTTF not display symbols"
version::cocos2d-x v3.3.
fonts::Roboto
platform:: windows phone

The bug comes out after create LabelTTF (when one scene is followed by another one, when cells are downloaded etc.). The bug description: the symbols partially disappear when turning back to the previous cell or scene.

![wp_ss_20150309_0005](https://cloud.githubusercontent.com/assets/5839897/6556673/1e1c1f06-c680-11e4-80aa-edd344da0

[2015-03-10 06:32] minggo commented on #10589
Thanks.

[2015-03-10 07:58] fusijie opened #10793 "How to make setOpacity and setBlendFunc effectively at the same time?"
`version:` 3.4Final
`issue:` the same code have different effect in v2.2.6 and v3.4. How to make setOpacity and setBlendFunc effectively at the same time?
`reproduce:` add following code to HelloWorld project.
`v3.4:` setOpacity(0) has no effect.

[code]

`v2.2.6:` setOpacity(0) has right effect.

[code]

[2015-03-10 09:20] ginobean opened #10794 "do not require Node name's to be of length > 0"
I notice in CCNode.cpp that there are about 3 lines that have this assertion in them:
`CCASSERT(name.length() != 0, "Invalid name");`

I can think of cases where I don't necessarily want to give every node a unique name. And in those cases, I may want to find those children that have a name length of zero. To me this seems to a valid corner case.

It seems like, in this case, you're dictating poli

[2015-03-10 12:40] phoenixcw opened #10797 "bug of cocos2d-console/plugins/project_compile/project_compile.py"
seems that line 846:
version_pattern = re.compile(r'(\d+).(\d+)')
should be:
version_pattern = re.compile(r'(\d+).(\d+)$')
because sometimes there are some alpha-chars after the last digit.

[2015-03-11 02:38] fusijie opened #10804 "PhysicsBody don't follow the action of it's parent layer."
`version:` 3.4Final
`issue:` Add a PhysicalBody to a layer, if move the layer, the PhysicalBody is still resting.
`reproduce:` modify the following code to TestCpp - PhysicsTest.cpp, then click the toggle debug menu.

[code]

[2015-03-11 02:54] rdtr commented on #8305
I'm glad to hear that😄

[2015-03-11 07:57] #10589 closed, assigned to nobody

[2015-03-11 08:22] huynhlam1991 opened #10818 "Help PhysicsBody animation create by CocoStudio v2.1.5"
pleae help me add physicBody to animation create by cocostudio.Please give me tutorial. I use cocos2dx V3.4 and cocostudio v2.1.5. I need tutorial used animation create by cocosStudio
Node\* node = CSLoader::getInstance()->createNode("Node.csb");
    cocostudio::timeline::ActionTimeline\* action = CSLoader::createTimeline("Node.csb");
    action->gotoFrameAndPlay(0,true);
    node->setPosition(300

[2015-03-11 08:38] masterhou opened #10819 "Terrain"
Support height map for height, material map for detail textures.
Need trunk LOD and camera cull.

[2015-03-11 08:52] masterhou opened #10820 "3D Physics"
Use 3rd Physic Library Bullet.
1. Geometry
2. Collision
3. Joint
4. Constraint
5. RigidBody

[2015-03-11 09:05] 0xJimmyBeh commented on #10293
From the post on Cocos2d-x forum :
http://discuss.cocos2d-x.org/t/more-mobile-features-requested-album-access-camera-access-etc/19694/3

Gyroscope
Text to speech
Local Notifications
Gesture Support
Social
Payments
Advertising

[2015-03-11 09:18] minggo commented on #10797
I think you should create issues in [plugin-x repo](https://github.com/cocos2d-x/plugin-x).

[2015-03-11 09:20] zilongshanren opened #10822 "EditBox font size doesn't scale when EditBox scales"
More details, please refer to this thread:

http://discuss.cocos2d-x.org/t/scaling-editbox/20379

[2015-03-11 09:24] minggo commented on #10794
@ginobean
Did you mean `CCASSERT(name.length() != 0, "Invalid name")` are not needed in these cases? If empty string is passed, then it will return the first found child that its name is empty string?

[2015-03-11 09:38] #10758 closed, assigned to WenhaiLin

[2015-03-11 09:43] minggo commented on #10746
cocos2d-x just forward information from system. iOS doesn't invoke `applicationDidEnterBackground` in these situations.

[2015-03-11 09:44] masterhou opened #10823 "Navigate Mesh for Path finding"
Load Navigate Mesh data
Path finding

[2015-03-11 09:47] minggo opened #10824 "Bug of Node::getParentToNodeTransform()"
Engine version: 3.3
More detail information please refer to [this ticket](http://www.cocoachina.com/bbs/read.php?tid-287885.html)

[2015-03-11 09:59] minggo commented on #10732
@puckery
What's the problem?
Could you please give more detail information?

[2015-03-11 09:59] litefeel commented on #10824
TextBMFont ?

[2015-03-11 10:01] wantnon2 commented on #10824
minggo，连接好像给错了。

[2015-03-11 10:25] minggo commented on #10824
Thanks guys.
Corrected the url.

[2015-03-11 11:19] ginobean commented on #10794
Yes, exactly.
One of the problems is that node->removeFromParent() will actually call end up calling removeChild() to effect the node removal. Suppose node has a name of empty string. Because of the CCASSERT, the call to node->removeFromParent() will fail.

I just took a look at some of my code (see below). Both scene and gameLayer have an empty string for the name. Which seems perfectly acceptabl

[2015-03-11 14:17] zawasp commented on #10674
I get the same reports on a production game - it only crashes on x86 Atom devices:
Venue 8 (yellowtail)
Fonepad 7 (K00Z)
ZenFone 6 (ASUS_T00G)
ZenFone 4 (ASUS_T00I)
ZenFone 5 (ASUS_T00J)
MeMO Pad 7 (K01A)
ASUS MeMo Pad ME302C (ME302C)
Iconia One 8 (vespa8)
Iconia Tab 8 (ducati2hd)

This is a sample crash log:

`*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
Build fingerprint: 'asu

[2015-03-11 14:19] zawasp commented on #10650
This was caused by my own code, not the engine. Closing.

[2015-03-11 14:19] #10650 closed, assigned to nobody

[2015-03-11 15:17] kenanb opened #10826 "Unsupported Platform error on Linux"
I'm testing on on Arch Linux x86-64 with commit https://github.com/cocos2d/cocos2d-x/commit/b02293d012ca9cb3177c79a4d79184384cd34f16 on v4-develop.

When I normally build repo with cmake tests run perfectly. When I try to build a repo using `cocos new foo -l lua` and then `cocos run -p linux` I get `CMake Error at CMakeLists.txt:73 (message): Unsupported platform, CMake will exit` error.

It seems

[2015-03-11 17:26] ricardoquesada commented on #10293
What do you mean by Text-to-Speech ?

I think these features should be divided in two:

a)
those features that are offered by the device itself. eg: camera, gyroscope, etc.

b)
those features that are services. eg: social, payments, advertising

this issue should only cover a)... a different issue should be created for b).

regarding a)... this is the list so far, any other feature ?
- Gyroscope
-

[2015-03-11 18:07] idrise opened #10828 "Bug in ParticleSystemQuad where embedded images in plist are not cached."
Recreate...

Take a plist of a particle system with an embedded image in the textureImageData field.
Create 2 ParticleSystemQuad objects with this plist.
Notice that each ParticleSystemQuad re-decodes the image and creates a new image for each instance.

Fix :

diff --git a/cocos/2d/CCParticleSystem.cpp b/cocos/2d/CCParticleSystem.cpp
index e6605225590c74243ebcbca5b8f856c7d623cd7e..944cc02a93e4dcc

[2015-03-11 18:13] 0xJimmyBeh commented on #10293
Those features are copy from the comments of forum post as summary.

From what i understand, Text-to-Speech is more to feature provided by the app itself, so should not related to this issue.

I'm not sure what mobile features does Cocos2d-X provided, so i just listed out what may fall on category a)
- Gyroscope
- Camera
- Gestures
- Microphone
- Photo Albums
- Geolocation (GPS)
- Magnetic Sensor

[2015-03-11 20:24] kenanb commented on #10826
It seems all `CMakeLists.txt` files including the ones in `tests` folder are changed in commit https://github.com/cocos2d/cocos2d-x/commit/4810a8314775efd37b6e05d3ff3e6f390768a6b1 but the `CMakeLists.txt` files in `templates` folder has stayed exactly the same. Is it possible that some needed revisions to those are forgotten? Because Cocos builds perfectly, tests build perfectly too. Only the proj

[2015-03-11 21:50] ricardoquesada commented on #10293
thanks.... probably NFC could be considered a mobile feature.

[2015-03-11 22:29] slackmoehrle opened #10830 "generate pre-built libraries fails"
xcodebuild: error: The project '/Users/chukongus/Chukong-Inc/cocos2d-x/tools/gen-prebuilt/../../cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj' does not contain a target named 'build all lualibs iOS'.
Traceback (most recent call last):
  File "./gen_prebuilt_libs.py", line 358, in <module>
    gen_obj.do_generate()
  File "./gen_prebuilt_libs.py", line 344, in do_generate

[2015-03-12 00:19] c0ffeeartc opened #10831 "3.3, 3.4, 3.5, 3.6alpha0 PhysicsJointFixed is broken in Node:Physics Joints test"
PhysicsJointFixed behaves differently from https://github.com/chukong/programmers-guide/blob/v3.7/chapters/12-img/joints.PNG (Linux build)

![joints](https://cloud.githubusercontent.com/assets/5057859/8956512/5d8f9458-35ff-11e5-9b16-7c99b7c6f27d.PNG)

![143817103332479](https://cloud.githubusercontent.com/assets/5057859/8956864/7cd32fd4-3602-11e5-8661-9b374c6eb540.png)

[2015-03-12 00:39] ginobean commented on #10794
Out of curiosity, I took a look at the equivalent code in cocos2d-swift (or cocos2d-spritebuilder)
Interestingly, the assert is against nil (which more closely corresponds to NULL in C++). And there, the assert makes sense because a few lines later, it compares the node's name string with the name
parameter that's been passed in. There, without the assert, the code will encounter a NULL pointer ex

[2015-03-12 02:02] super626 commented on #10198
@minggo

This can be closed. It is all right but usage of FantasyWarrior3D is wrong.

[2015-03-12 03:38] fusijie opened #10834 "TransitionTurnOffTiles bug"
`version:` 3.4Final
`issue:` While the scene is transiting by `TransitionTurnOffTiles` mode, close the app will crash.
the error is

[code]

`reproduce:`the bug can be reproduced in the TestCpp.

[2015-03-12 04:00] #10449 closed, assigned to super626

[2015-03-12 04:01] #10198 closed, assigned to super626

[2015-03-12 07:38] fusijie opened #10835 "EaseRateAction::create()"
`version:` 3.3Final
`issue:`

in `v2.x` Cocos2d-x have the API:

[code]

but in `v3.x` the `create` method is removed, and what is the substitute？

[2015-03-12 08:31] samuele3hu opened #10837 "Application would be created several times because of the calling of cocos_android_app_init on the android platform in the V3"

[2015-03-12 09:57] 0xJimmyBeh commented on #10293
Found Vibration is being implemented.

https://github.com/cocos2d/cocos2d-x/pull/10530
http://discuss.cocos2d-x.org/t/vibrate-requirement-collection/20207/23

[2015-03-12 09:57] anadre opened #10840 "ControlButton & ui::Button(pop - replace Scene problem)"
When in the slot, coming from pressing button you use pop - replace Scene in Scene Called Node::cleanup() -> this->stopAllActions(); its stop the button action( to normal scale).
As a result, the button is in big size. This becomes noticeable when the scene is called again later

[2015-03-12 09:58] #10840 closed, assigned to nobody

[2015-03-12 09:58] anadre opened #10841 "ControlButton & ui::Button(pop - replace Scene problem)"
When in the slot, coming from pressing button you use pop - replace Scene in Scene Called Node::cleanup() -> this->stopAllActions(); its stop the button action( to normal scale).
As a result, the button is in big size. This becomes noticeable when the scene is called again later

[2015-03-12 14:53] anadre commented on #10841
my solution for ControlButton :

[code]

[2015-03-12 15:20] idrise commented on #9768
I changed the #define MOVE_INCH to 1.0f from (7.0f/160.0f). Still the cancel occurred.
To recreate the issue...

Create a scrollview and a button on the scrollview. Press and hold the button and roll your finger very slightly then release, the button press is cancelled. I have seen one user (with biggish fingers) who couldn't get the button to press despite multiple attempts.

Is MOVE_INCH the mov

[2015-03-12 23:27] kenanb commented on #10826
Ok, it turns out some definitions are removed from `CMakeBuildHelpers` and some are modified. But those modifications are not reflected to `CMakeLists.txt` files in `templates` folder.

The problems I could find are:

`pre_build` macro is removed from CMakeBuildHelpers, but it is still used in templates.
Variables like `LINUX`, `WINDOWS` are replaced with `COCOS_TARGET_SYSTEM` but templates still

[2015-03-13 04:59] kenanb commented on #10826
So removal of cocosstudio, cocosbuilder and spine related code from `templates/lua-template-default/frameworks/runtime-src/Classes/lua_module_register.h` and some modifications to `templates/lua-template-default/frameworks/CMakeLists.txt` made it work again. These two revisions did the job for me: https://gist.github.com/kenanb/2e324862e69c28e940ab

I don't think putting back `pre_build` macro ins

[2015-03-13 05:41] yangws commented on #10826
Recently, cmake config has been adjusted for support multi-platform, new project templete out of sync with this modification, we'll fix this problem as soon as possiable.

[2015-03-13 05:53] kenanb commented on #10826
@yangws thank you very much. Good luck. :)

[2015-03-13 06:13] #10355 closed, assigned to super626

[2015-03-13 06:25] fusijie opened #10847 "When slide the WebView, the main loop of engine is paused."
`version:`3.4Final
`platform:` iOS
`issue:`When slide the WebView, the main loop of engine is paused.
`reproduce:`Add following code to mainloop, then open the TestCpp - webview test, slided the webview and found that nothing output.

[code]

[2015-03-13 07:46] abcjjy commented on #10674
I found a workaround for this issue.

Turn off following optimization options:
#LOCAL_CPPFLAGS += -ftree-pre
#LOCAL_CPPFLAGS += -fgcse
#LOCAL_CPPFLAGS += -fcaller-saves

Use -O1 and add all the optimization options in -O2 except the above ones. Then the test can run without crash.

But I think it is only a workaround, not an ideal solution.

And this issue only happens on the Atom 25xx series. I t

[2015-03-13 08:23] naghekyan commented on #8305
I have this issue on 3.2 and in my case I don't understand even how to reproduce. So don't have a way to check if it is fixed or not. Sometimes it happens sometimes no. Is there a final fix to this?

[2015-03-13 09:56] Mazyod opened #10858 "NSLog in HttpAsynConnection"
In general, `NSLog` statements used for debugging should never make it to production code, however, there are a bunch of `NSLog` statements in `HttpAsynConnection` class.

I was wondering if they should be removed completely, or converted into `DLog`? `DLog` will be a new ObjC macro that will only print in DEBUG mode.

[2015-03-13 13:24] toilet1paper commented on #8270
现在这个问题有什么进展了嘛？

[2015-03-13 13:24] toilet1paper commented on #8270
尝试了很多办法 还是会有这个问题

[2015-03-13 13:41] #9097 closed, assigned to nobody

[2015-03-13 14:14] dariodepaolis opened #10860 "Scrollview should support Pinch/Zoom"
I think many developers will need this function, I've seen a lot of custom codes around, but maybe it will be a good idea to implement natively.

[2015-03-13 16:33] fbbarros commented on #9911
So any news on a workaround for this issue? I've been looking into using OpenSL or optionally shipping a static libmedia.so with our app. How are you guys thinking of dealing with this issue?

[2015-03-13 16:58] qiankanglai commented on #9911
Finally I switched to fmod and ignore cocosdension

[2015-03-13 18:18] toanpv12345 commented on #8305
I'm using 3.4, with this patch that I posted above, it only reduces the frequency appear of this bug, I tested my game: resume more times and sometimes it appear. There is not a final fix to this!

[2015-03-13 18:27] 0xJimmyBeh opened #10862 "WebView Android not support file upload"
There is no openFileChooser in WebView Android which allow user to choose file for upload in WebView.

WebView iOS is working properly for photo select and take photo with camera.

Tested with webpage :
http://www.anyimg.org/

[2015-03-13 20:36] klemsFR opened #10863 "New AdMob Android Plugin complient with latest googleplay API (code provided)"
Hi dear cocos2d-x developers,
I was interrested in using your AdMob plugin for Android but there were several things that make me rewrote it :

1)This plugin is based on deprecated AdMob GoogleAdMobAdsSdk.jar. Now all google api have been included into GooglePlayService.
Unfortunately the API was updated but google provides a migration guide (https://developers.google.com/mobile-ads-sdk/docs/admob

[2015-03-14 05:44] pip1998 commented on #10847
I have found something useful from the [link to stakoverflow](http://stackoverflow.com/questions/7222449/nsdefaultrunloopmode-vs-nsrunloopcommonmodes)
As Eonil Said:

So, what I did is to change the following code with **NSRunLoopCommonModes** in the source file [CCDirectorCaller-ios.mm](https://github.com/cocos2d/cocos2d-x/blob/1e11f3b3daeb187cde5dd8dc551eb9009ac7c621/cocos/platform/ios/CCDirecto

[2015-03-14 09:44] stonejiang208 opened #10869 "Where is the "editor-support/cocostudio" in V4?"
HI, all.
   I upgrade the cocos2d-x to v4-developer, but I can not find the "editor-support/". And the test codes about "cocos studio"  in  TestCpp does not exist.
  Is the v4 will remove "cocos reader"?

Thanks.

[2015-03-14 17:43] cmedinasoriano1 opened #10871 "TMX Parser does not scales polygon neither polyline based on content scale factor as it does with objects"
TMXParser does not scales polygon neither polyline based on content scale factor as it does with objects. This is located at TMXMapInfo::startElement method and the fix is very easy.
Replace in both sections (polygons and polylines):
<code>

[code]

</code>
With:
<code>

[code]

</code>

[2015-03-14 23:23] VitaminPSG opened #10872 "Windows Phone Scale factor"
CCGLView.h
 virtual float getFrameZoomFactor() const { return 1.0; }

CCGLViewImpl-wp8.h
float getFrameZoomFactor();

CCGLViewImpl-wp8.cpp
float GLViewImpl::getFrameZoomFactor()
{
    return _frameZoomFactor;
}

MainPage.xaml.cs
float scale = (float)App.Current.Host.Content.ScaleFactor;
// real scale  (1.6f on my test)
scale /= 100.0f;
//update size for new scale
 m_d3dInterop.WindowBounds = new W

[2015-03-15 16:35] ginobean opened #10874 "feature request: add ability to track current number of live nodes"
This is a feature request. In debugging, I've personally found it helpful to see how many live Node's currently exist. Usually, if this number increases significantly over time, that's an indication that I have some kind of object leakage going on somewhere.

[code]

[2015-03-15 18:32] lzubiaur opened #10875 "bug in Lua manual binding"
Hi, cc.GLProgram:setUniformLocationF32 only takes up to 4 parameters but it should be possible to pass up to 5 parameters.

Line 3815 in lua_cocos2dx_manual.cpp there's a typo that prevent to pass up to 5 parameters.

[code]

should be

[code]

Thanks.

[2015-03-15 20:31] travnick opened #10876 "Non standard FileUtilsLinux::_defaultResRootPath value"
In FileUtilsLinux cocos does quite tricky things with getting resource path.
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/linux/CCFileUtils-linux.cpp#L77

As XDG stands there is `XDG_DATA_DIRS` variable and this directory should cocos search for resources - you are using `XDG_CONFIG_HOME` already.

If there is no `XDG_DATA_DIRS` defined then it should search in current running direc

[2015-03-15 20:40] zilluss opened #10877 "Render to RenderTexture with User Camera not working"
When I render to a RenderTexture, the camera for the visited nodes is ignored. For example if I try to do something like this:

[code]

The camera is ignored.

[2015-03-16 02:01] rdtr commented on #8305
Hmm...it seems we have not found a fundamental solution for this issue yet.
(At least so far I haven't see this happen on our game after I put the patch written above though)

If anyone can indicate a way to still reproduce this issue to cocos2d-x team, they'd re-investigate it I think.

[2015-03-16 02:51] fusijie commented on #10847
Thanks @pip1998 , it is a right solution, and I found it's ok on the android platform.

But I have no idea about the `NSRunLoopCommonModes` mode has side effects?

[2015-03-16 04:03] walzer opened #10879 "Finish the design of Terrain"
Deliverable: A documentation or wiki page of Terrain module design, including:
- Classes and their relations.
- API
- Sample usage code.

[2015-03-16 04:06] walzer opened #10880 "Implements the Terrain in C++"
Deliverables:
- C++ implementation of terrain
- Doxygen style comments of all public API
- A terrain test case in TestCpp

[2015-03-16 04:39] walzer opened #10881 "Implements glasses and trees based on terrain"

[2015-03-16 05:37] minggo opened #10882 "Test automation"
Corresponding discussion ticket: http://discuss.cocos2d-x.org/t/tests-automation/20272

[2015-03-16 05:44] masterhou commented on #10881
This is advanced feature, I think implement it will take more time.

[2015-03-16 05:59] jianglong0156 opened #10883 "menuitem click position not change in Camera 3D,"
menu item click position not change in Camera 3D,
![image](https://cloud.githubusercontent.com/assets/3940568/6661253/64b0098c-cbe4-11e4-86b5-2692d05c8138.png)
![image](https://cloud.githubusercontent.com/assets/3940568/6661255/728b6b96-cbe4-11e4-988d-c3094be80aaa.png)

when camera changed, the menu item still need click old position.

[2015-03-16 06:42] minggo opened #10885 "Synchronize 3rd party libraries"
3rd party libraries in [3rd party src repo](https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src) and [3rd party bin repo](https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin) are not sync. They have different versions.

[2015-03-16 06:43] #10506 closed, assigned to samuele3hu

[2015-03-16 07:43] stevetranby commented on #10727
I also have this issue. My workaround is changing each ::doLayout(LayoutProtocol\* layout) in UILayoutManager `Size cs = child->getContentSize();` => `Size cs = child->boundingBox().size;` (swap child for subWidget in vertical). For the margins you can try making `getLayoutAccumulatedSize()` public and then calling it on each layout.

[2015-03-16 07:54] tangziwen commented on #10877
because the Camera::_visitingCamera is not set yet , there are two solutions to solve it
(1) hack the CCCamera.cpp file add a method like setVisitingCamera,then invoke it before you visit your sprite
(2) the Camera::_visitingCamera is set in the Scene::render , you can add your sprite into an scene ,say that S , then invoke S->render(Director::getInstance()->getRenderer()).

[2015-03-16 08:00] super626 commented on #10877
@zilluss
Thanks

Please read the comment above.

[2015-03-16 08:06] walzer commented on #10879
Design documentation: https://docs.google.com/a/cocos2d-x.org/document/d/1eP8rt3Hgu1Stu0SPSDzWjQ81Z2VYbZPrEUNRnfBMmCQ/

[2015-03-16 11:46] ElmerNing opened #10903 "bug in Lua binding of GLProgramState"
[code]

run in windows, the error is

[code]

It looks like there are some errors in binding overload functions.
the first "setUniformFloat" report the argument error, but it work fine.
the second "setUniformFloat"  will report can't find the setUniformFloat  function.

My version is v3.4. Thanks!

[2015-03-16 15:34] tigranminasyan commented on #8305
Hi all, first of all thanks for suggestions I have the same issue and this thread saved my time.

In my application (https://play.google.com/store/apps/details?id=com.things76.sugarhunt Version
1.1) I am using TTF font in Text::create(); I am developing with cocos2d-x-3.2 and getting this bug tested on Samsung galaxy S4 and galaxy ace 3.

to fix the issue I applied patch  fix of @WenhaiLin (at #10

[2015-03-16 15:59] ginobean opened #10906 "move cocos2d_libs.xcodeproj and cocos2d_tests.xcodeproj to a different path"
Currently, they are located under `cocos2d/build`

The problem with this is that the build directory is typically used to house artifacts. I believe this is a fairly standard and common industry practice. And I think most experienced developers would also expect a build directory to only house artifacts as well.

For example, gradle uses a build directory to house artifacts. Android Studio uses a

[2015-03-16 17:10] darkdukey commented on #10797
This is cocos console bug I think.

[2015-03-16 21:04] kaplad commented on #10746
If you need to pause your game, just handle this event:

[code]

[2015-03-17 01:28] minggo commented on #10797
@natural-law
Could you please take a look?

[2015-03-17 01:37] samuele3hu commented on #10875
Yes, it's a low-level error,i would fix it.Thanks to @lzubiaur.

[2015-03-17 02:07] samuele3hu opened #10914 "io.open(filepath) would failed on the android platform because of the the file is in the package"

[2015-03-17 03:29] dannyjiajia commented on #10397
I also meet this problem, any suggestion??

[2015-03-17 04:50] dannyjiajia opened #10920 "glError: 0x0502 on CCTexture2D->initWithData and PremultipliedAlpha"
我的2dx 版本为3.3
CCTexture2D->initWithData:760 _hasPremultipliedAlpha变量未被设置 会导致预乘Alpha的pvrV2一直返回为false,然后无效。

[2015-03-17 05:57] natural-law commented on #10797
@phoenixcw
Could you please show me the problem you encountered? For example:
1. What's your register looks like?
2. What's the problem when you are using `cocos compile`?

Because there isn't anyone else feedback similar problem. I think I should find the real reason of your problem. Maybe I should adjust the implementation of `cocos compile`.

Thanks for your feedback! Looking forward to your re

[2015-03-17 06:46] twolight opened #10925 "OpenGL error 0x0502 in CCTextureAtlas.cpp drawNumberOfQuads 689"
I use a sdk.
In java code
if (_glSurfaceView != null) {
            _glSurfaceView.queueEvent(new Runnable() {
                @Override
                public void run() {
                    nCompletedVideo();
                }
            });
}
in nCompletedVideo method,I post a notify event.
And in the reception method,I add a view to the window.
but the BMFont in the view can not be displayed

[2015-03-17 10:36] woc2006 opened #10928 "strange behavior of Node::setRotation3D with different anchor points"
1. Add a sprite to scene, set anchor point to center, and position to center sceen, and rotate the sprite by it's x axis, like below:

[code]

Result looks correct.

![0](https://cloud.githubusercontent.com/assets/1716430/6685331/e1d343bc-ccd3-11e4-8d6e-c5a111034c56.png)
1. Change anchor point to bottom left, and position to zero, like below:

[code]

Result

![1](https://cloud.githubusercontent.c

[2015-03-17 11:29] #10429 closed, assigned to super626

[2015-03-17 11:29] #10568 closed, assigned to super626

[2015-03-17 15:45] MFHSchoonbrood opened #10933 "Incorrect windows behavior: applicationWillEnterForeground"
Hi guys,

Minimizing and maximizing a window on windows will correctly trigger applicationDidEnterBackground and applicationWillEnterForeground.
But if you don't minimize the cocos2d-x game, but activate something else, and then activate the cocos game again, you will recieve 2 applicationWillEnterForeground events.

Is this done on purpose, or is this a bug?

Because naming wise, this is illogica

[2015-03-17 15:53] lyubomirv commented on #8372
I believe this should be the same issue as #8524. Is it fixed or are there plans to fix it? This is a real showstopper for moving to version 3, at least for me.

[2015-03-17 15:55] lyubomirv commented on #8524
What is the status of of this issue? Is it fixed or are there plans to fix it? This is a real showstopper for moving to version 3, at least for me.

[2015-03-17 22:28] bwaresiak commented on #8536
I bump this with the same problem:
It happens for me on Mac OS X 10.10.2, using CC2D-x v3.4.

[2015-03-18 04:02] super626 commented on #10429
#10936

[2015-03-18 13:36] betaShine commented on #10773
met same issue.... find a temp solution from:
http://www.cocoachina.com/bbs/read.php?tid=203887
hope fix soon

[2015-03-18 16:46] davidejones88 opened #10965 "NewAudioEngine bug after incoming call"
version: 3.3
platform: iPad Mini
issue & reproduce: while the game is running if you receive a phone call and close it, when the game opens again, there is no audio at all. I think it is similar to "NewAudioEngine bug. #10381" but even with the proposed fix "Fixed at #10440" I'm still able to reproduce the issue

[2015-03-18 19:10] Ohad11 opened #10966 "Mesh loading with transparency is weird."
I was looking through the c3t file to see if it would support adding multiple textures to a file which it seemed to do (textures is an array). However when looking through the code, it seemed to conflict with this. In particular this seems only to be used for transparent objects which will have two textures defined for them, both with the same file one marked as diffuse and the other transparent.

[2015-03-19 01:51] woc2006 commented on #10925
try runInGLThread

[2015-03-19 04:01] fusijie opened #10973 "PageTurn3D effect abnormal."
`version:` 3.4Final
`issue:` The PageTurn3D action effect is abnormal. The original position of the NodeGrid is shift. And if move the gridnode to left, the zigzag will display.
`reproduce:` Add following code to HelloWorld.

[code]

![untitled2](https://cloud.githubusercontent.com/assets/5085300/6724257/1374899c-ce2f-11e4-88a0-88916b113003.gif)

`reproduce:`

[code]

![untitled3](https://cloud.gi

[2015-03-19 08:00] sbrednikhin opened #10981 "TextureCache::addImageAsync doesn’t calls callback if fails to load image"
If texture cache fails to load image asynchronous it doesn't calls given callback

From HeloCpp project:
# include "HelloWorldScene.h"

USING_NS_CC;

/// this texture name is wrong
static const std::string TEXTURE_FILENAME = "HelloWorld__.png";

Scene\* HelloWorld::createScene()
{
    // 'scene' is an autorelease object
    auto scene = Scene::create();

[code]

}

void HelloWorld::Callback( cocos

[2015-03-19 08:09] phoenixcw commented on #10797
@natural-law

Thanks for you response!
If I run the default `project_compile.py`, it raise an error like:
`
  File "D:\Projects\02_GameDevelop\01_cocos\02_cocos2d-x-3.4\tools\cocos2d-console\plugins\project_compile\project_compile.py", line 877, in _get_vs_path
    ver_float = float(version)
ValueError: invalid literal for float(): 7.0Exp
`
I think the reason is that I have too many visual studio

[2015-03-19 08:45] natural-law commented on #10797
@phoenixcw
Thanks for your information. I think I should adjust the logic of `cocos compile` to be compatible with your situation.
I will solve it later. Thanks for your feedback!

[2015-03-19 09:20] samuele3hu commented on #10903
The first error message only warning message because it has overload functions,so it should judge the type of parameter to choose the correct function.

The second message is correct, setUniFormFloat is not the same as setUniformFloat.Have you found that the difference between them?

[2015-03-19 11:59] #10875 closed, assigned to nobody

[2015-03-19 15:21] dariodepaolis opened #11006 "Listview pushbackdefaultitem ignore Text setTextColor"
This is what I have noticed, following wiki example on Listview: (omitting cosmetic rows)

auto lv = ListView::create();
for (int i = 1; i <= 5; i++) {
  auto lvItem = Layout::create();
  auto lvText = Text::create("Test");
  lvText->setTextColor(Color4B::BLACK);
  lvItem->addChild(lvText);
  lv->setItemModel(lvItem);
  lv->pushBackDefaultItem();
}

The setTextColor doesn't work, the Text is defau

[2015-03-20 02:40] KyoChen opened #11012 "Cascade Functions do not work on ProgressTimer"
Cascade Functions do not work on ProgressTimer

[2015-03-20 06:07] amuseamuse opened #11019 "[Possible bug?]v3.4 Label memory leak in mac but not in iOS?"
also posted in:
http://discuss.cocos2d-x.org/t/possible-bug-label-memory-leak-in-mac-but-not-in-ios/20555

cocos2d-x version:3.4 (download from cocos2d-x.org)
platform: macbook pro/10.10.2

I created a scene which has a function to create and destroy Label continuously:

HelloWorldScene.h

[code]

HelloWorldScene.cpp

[code]

when run,I found in iOS simulator the memory usage seems remains unchang

[2015-03-20 06:19] samuelion opened #11020 "Linker failed to add libx11 on linux with cmake 3.2.1"
Hello,
Just to inform, to warm, to let you aware of the following behavior I got after updating my system.
Long story short, I think the behavior I got is caused by the update of cmake 3.1.3 to 3.2.1 and this new deprecation :

http://www.cmake.org/cmake/help/v3.2/release/3.2.html#id12

[code]

Manually adding the -lx11 to the linker command line resolves issues.
Don't know at all cmake and git to

[2015-03-20 07:00] zilongshanren commented on #11020
@samuelion
Which branch do you use? v4-develop?

[2015-03-20 07:07] samuelion commented on #11020
Your question make me think I didn't post the bug at the right place =).
I'm using the release version v3.4 directly taken from cocos2d website.
I can test with a git branch to confirm or not.

[2015-03-20 07:15] zilongshanren commented on #11020
@samuele3hu
Thanks. So I think this is a bug in v3.x.  We might need to specify the linker flag manually and don't rely on FindOpenGL.

[2015-03-20 07:20] WenhaiLin opened #11021 "[v4-alpha1-win7-cpptests]Node: BillBoard Test-->Bill BoardTest:Crash"
![c01](https://cloud.githubusercontent.com/assets/5234286/6747457/977fe16a-cf14-11e4-9c97-52d87817b4e2.png)

[2015-03-20 07:58] sbrednikhin opened #11022 "UIImageView exported from cocostudio with scale9 enabled has wrong position"
Exporting image from cocostudio with enabled scale9 through atlas causes wrong positioning

![scale9bug4](https://cloud.githubusercontent.com/assets/4668006/6747849/a4e46b8c-cee7-11e4-8550-81eb356b58b8.png)

sample project here
http://discuss.cocos2d-x.org/t/uiimageview-exported-from-cocostudio-with-scale9-bug/20544

[2015-03-20 08:02] samuele3hu opened #11023 "AssetsManagerTest in the lua-tests would be crash randomly in cocos2d-x v3.4"

[2015-03-20 08:56] samuele3hu opened #11025 "Lua-tests->PhysicsTest->One Way Platform: the ball can't enter into the pipe from the edge side"

[2015-03-20 09:30] samuelion commented on #11020
Other way possible could be to explicitally use FindX11. Didn't manage to modify CMakeList to solve this (im a cmake newbie) but findx11 seems to give decent logs.

[2015-03-20 12:05] WenhaiLin opened #11036 "[v4-alpha1-win8.1-universal-cpptests]Node: Sprite3D-->Testing Sprite3D for skinned outline"
![e1](https://cloud.githubusercontent.com/assets/5234286/6751170/124b5fd8-cf3c-11e4-9a66-049958e406a9.png)

[2015-03-20 15:54] ginobean opened #11038 "adding static physics body to a node sometimes screws up it's position"
I had laid out some nodes by position and attached static physics bodies to them. Inexplicably, I was unable to find the nodes at the positions I had specified. Interestingly, if I skipped the step that attached the static physics body to each node, the nodes then appeared in the expected locations.

Digging into the code, I tried making this change to CCNode.cpp:

[code]

And this fixed the issue

[2015-03-20 17:29] samuelion commented on #11020
Manage to get something working, easier than I thought.

cocos2D/CMakelist :
 cocos_find_package(OpenGL OPENGL REQUIRED)
++ cocos_find_package(X11 X11 REQUIRED)

cocos2d/cocos/CMakelist
In each foreach loop where OPENGL appear, I added X11.

[2015-03-21 10:21] Mazyod commented on #10858
Any thoughts on this?

[2015-03-21 14:46] klemsFR commented on #10863
Post updated.
I don't know how to share some sources code files...

[2015-03-22 02:16] phofman opened #11062 "Add BlackBerry support to Cocos2d v3.x"
Do you think it's a big effort and worth it to port BlackBerry support from v2.x to v3.x? And would you actually do it or is there anything blocking?

According to this [post](http://supportforums.blackberry.com/t5/Native-Development/C-11-and-BlackBerry-10/m-p/2985632), the latest SDK supports C++11 features and on the other hand I am the author of the [plugin](/phofman/vs-plugin) allowing BlackBe

[2015-03-22 02:20] natural-law commented on #10797
@phoenixcw
I think this commit will solve your problem:https://github.com/natural-law/cocos2d-console/commit/9159a36ca69720d1447bc17d72dced352a700c2f

I'll send it to the v3 & v4-develop branches of cocos2d-x later.

[2015-03-22 04:47] phoenixcw commented on #10797
@natural-law
It seems to work:)
Thanks very much!

[2015-03-22 04:47] #10797 closed, assigned to natural-law

[2015-03-22 18:08] milos1290 opened #11064 "Set Camera Flag on newly added children"
I've noticed that that when you set a camera flag on parent node, only the current children that are already added to that node will have same camera flag. Newly added children will have default camera flag.

This is a snippet from Node

[code]

[2015-03-23 07:10] jianglong0156 opened #11073 "mutiTouch trigger touches always only one size"
cpp-tests mutitouchTest sample.
I add the test code
![image](https://cloud.githubusercontent.com/assets/3940568/6775612/b4f85f54-d16e-11e4-9cc8-c4a8e43d7a66.png)

But the touches' size always one.

engine version:Cocos2d-x 3.4
platform:android4.0
device:xt885

the test codes in onTouchesBegan:

[code]

[2015-03-23 12:35] tryy commented on #9094
3d/3dExport.h
base/CCPlatformConfig.h
base/CCPlatformMacros.h
are miss, remove them from libcocos2d project.

[2015-03-24 04:27] kenanb commented on #10826
This issue seems to be fixed now. Thank you.

[2015-03-24 04:27] #10826 closed, assigned to nobody

[2015-03-24 04:31] kenanb opened #11098 "CMakeLists.txt in Templates/lua-template-default looks for ide-support in v4-develop"
There is a bug in `v4-develop` branch `templates/lua-template-default/frameworks/CMakeLists.txt`:

[code]

There is no `ide-support` folder in `v4-develop`. It is only in v3. So these lines cause cmake error.

[2015-03-24 04:57] zilongshanren commented on #11098
@kenanb
Thanks, could you make a PR to resolve this issue?

[2015-03-24 08:31] minggo opened #11106 "Merge JSB into cocos2d-x"

[2015-03-24 08:32] minggo opened #11107 "update 3rd party libraries"

[2015-03-24 08:32] ruhen opened #11108 "Flickering Sprites on Android"
I am using the cocos2dx-3.1, my game works perfectly  iOS, but on android some sprites flicker badly,
then i changed
 this.addChild(mySprite)
to
this.addChild(mySprite, 100);
and  this worked find.
however ,i had to add it to every addChild call in my code.

[2015-03-24 08:34] minggo commented on #11107
- update libcurl to v7.4
- update chipmunk to v6.2.2
- update openssl to v1.0.11
- update png to v1.6.16
- update freetype to v2.5.5

[2015-03-24 08:37] minggo opened #11110 "Position of physics body is wrong when the position of parent node changes"

[2015-03-24 08:38] minggo opened #11111 "Physical body will jump even if there's not any force applied to it"

[2015-03-24 08:39] minggo opened #11112 "Label: stroke color of system font is incorrect on iOS"

[2015-03-24 08:40] minggo opened #11113 "MenuItem: crash if MenuItem::onExit is called multiple times"

[2015-03-24 08:40] minggo opened #11115 "Performance: Lag if Director::setContentScaleFactor is called frequently"

[2015-03-24 08:41] minggo opened #11116 "Label's shadow color is incorrect"

[2015-03-24 08:42] minggo opened #11117 "HttpResponse: reference count error will cause assert error"

[2015-03-24 08:42] minggo opened #11118 "EditBox: remove 100 bytes limit, users can input unlimited bytes"

[2015-03-24 16:41] felixjingga commented on #11107
Hi, can't you update the openssl to latest version? 1.0.2a?

[2015-03-24 20:30] PinchukAlexey opened #11127 "Create toggle fullscreen at runtime for Mac and Win32."
Cocos2d-x 3.4 use glfw 3.0. And it hasn't this feature.
http://discuss.cocos2d-x.org/t/cocos2dx-3-4-how-to-create-toggle-fullscreen-at-runtime-mac-win32/20640/3

[2015-03-24 20:41] shkatulo commented on #8305
Current code in CCLabel's constructor reloads only labels in node hierarchy. If Label have no parent, it won't be reloaded. To fix it I've aloso replaced both "addEventListenerWithSceneGraphPriority(...)" with "addEventListenerWithFixedPriority(...)" in constructor.

[2015-03-24 20:57] stevetranby commented on #11127
Please include this feature in cocos2d-x 3.x as well as 4.x

[2015-03-24 20:57] stevetranby commented on #8321
Related issue opened: https://github.com/cocos2d/cocos2d-x/issues/11127

[2015-03-25 01:58] samuele3hu opened #11133 "Add more Lua test cases to determine whether the basic conversion between Lua and C++ is correct"

[2015-03-25 02:11] minggo commented on #11117
Fixed in #10325.

[2015-03-25 02:11] #11117 closed, assigned to minggo

[2015-03-25 02:32] minggo commented on #11118
Fixed in #10514.

[2015-03-25 02:32] #11118 closed, assigned to minggo

[2015-03-25 02:47] woc2006 commented on #10928
Is this bug or i missed something?

[2015-03-25 03:33] toanpv12345 commented on #8305
Hi shkatulo!
Can you show detail your patch?

[2015-03-25 03:37] WenhaiLin commented on #8305
@shkatulo Why Label have no parent?

[2015-03-25 03:56] WenhaiLin commented on #11112
Fixed at https://github.com/cocos2d/cocos2d-x/pull/10780

[2015-03-25 05:43] #11112 closed, assigned to WenhaiLin

[2015-03-25 06:17] SuYaoHui opened #11143 "The NewAudioEngine bug."
`version:` 3.4Final
`platform:` iPhone
`issue & reproduce:` In first Scene,I am add "AudioEngine::play2d("backsound.mp3",true);" to "onEnter()" function and "AudioEngine::stopAll();" to "onExit()".
Now I am replace the scene to Second scene and add"AudioEngine::play2d("LuckyDay.mp3",true);" to the second scene "onEnter()" function, The LuckyDay.mp3 is not play.
Then i am try play the "LuckyDay.mp3

[2015-03-25 07:36] minggo commented on #11113
It is fixed in #10299 in v4.0alpha0, should synchronize to v3.6.

[2015-03-25 07:39] minggo commented on #11115
It is fixed in #10744 in v4, should synchronize to v3.6.

[2015-03-25 07:45] minggo opened #11144 "Use luajit for on iOS 64-bit"

[2015-03-25 08:20] minggo opened #11145 "Performance improvement in UI system"
Batch draw call as much as possible.

[2015-03-25 08:27] shkatulo commented on #8305
Hi, @toanpv12345 !
In original Label's constructor i've just replaced:

[code]

with

[code]

and

[code]

with

[code]

I think update order is not matter. So it works for me.

[2015-03-25 08:33] shkatulo commented on #8305
@WenhaiLin I have 3-5 labels loaded from CCBI-file. Every has 10-50 lines of text. These labels are loaded during scene creation. Only one of them can be added to node hierarchy in any moment of time. Other labels are cached in memory to avoid its creation every time I add them to hierarchy.

This is particular case. But i think such labels should be updated too.

[2015-03-25 08:53] sbrednikhin opened #11147 "Bug in sceduler"
Trying to rechedule callback (for example with another time) from inside of it causes no schedule at all:

In sample callback must be called 10 times with increasing interval, but it will be called only once:

[code]

[2015-03-25 09:19] davidejones88 commented on #10965
Update:
- xCode 6.2, iOS 7/8, cocos2dx-3.4, iPhone/iPad alike
- test-cpp with new audio engine does not play sound when coming back from siri/incoming call
- github fix fixes the siri problem (https://github.com/cocos2d/cocos2d-x/issues/10381)
- this page fix fixes the incoming call problem for iPad (http://discuss.cocos2d-x.org/t/cocos2d-x-3-4-bug-audioengine-3-4-freeze-incoming-call/20547/7)

Th

[2015-03-25 14:34] LeninaCrowne opened #11151 "Looking for Interviewees"
Hello!
I’m currently working on my bachelor’s thesis in “leader emergence in open source software projects“. For my research I’m looking for interviewees, preferably 2 people per OSS project: one person with some sort of leadership role and one “normal” project member.
The interviews will take place via Skype over the next couple of weeks and last around half an hour.
Feel free to forward this req

[2015-03-25 15:31] ginobean opened #11152 "have ios accelerometer always use the latest data (else it gets very laggy)"
Interestingly, I noticed that the ios accelerometer on the _second_ game play of my game would always be incredibly laggy and slow to respond. So much so that it was unusable for actual game play.

To reproduce, create a game scene that creates a visual gravity arrow that changes direction based on the accelerometer's x and y values and, of course, adds an accelerometer event handler. Add a button

[2015-03-25 15:41] ginobean opened #11153 "Use fully position independent code (PIE) on iOS"
Building under XCode 6.2 and using cocos2d-x version 3.4, I'm getting a linker warning message:

[code]

This sounds pretty serious. If I'm reading it correctly, this means that we cannot currently generate cocos2d-x ios apps that are fully position independent. Which may be a problem, if at some point, if Apple decides to start rejecting non-position independent code..

Can you guys fix this at t

[2015-03-25 17:01] ginobean opened #11154 "add ability to add a post step callback to PhysicsWorld"
please add the ability to add a post step callback to the PhysicsWorld.

For example, this is useful when you want to perform an operation that occurs outside of a physics step, such as removing physics objects that are no longer valid or updating the gravity vector on the fly:

[code]

something like this:

[code]

[2015-03-25 19:05] ricardoquesada commented on #11147
could you post the code using backticks ? thanks.

[2015-03-26 03:48] SuYaoHui opened #11163 "The RichText Bug"
`version:`3.4Final
`issue:` The function of getVirtualRendererSize() No Effect in current frame.But you can get the value    in next frame.
`code:`

``` CPP```
bool HelloWorld::init()
{
    if ( !Layer::init() )
    {
        return false;
    }

    Size visibleSize = Director::getInstance()->getVisibleSize();
    Vec2 origin = Director::getInstance()->getVisibleOrigin();

    auto closeItem = Me

[2015-03-26 06:50] sbrednikhin commented on #11147
Sorry for that, it's new for me. Next time I will.

[2015-03-26 09:02] fusijie opened #11170 "Performance issue between v3.0 and v3.4"
`version:` 3.4Final
`issue:` If call **setTextureRect** frequently, compare with v3.0,  the FPS falls behind 10fps for v3.4.
`reproduce:` Add following code to HelloWorld project. On my RMBP, v3.0->20FPS, v3.4->10FPS. Mac platform.

[code]

[2015-03-26 09:18] fusijie commented on #11170
The following code can **improve** about 5FPS.

[code]

[2015-03-26 10:03] twolight opened #11171 "a issue about the method replaceScene()"
I used to doing SpriteFrameCache::getInstance()->addSpriteFramesWithFile in construction method and creating ui view in init method.
if clicking the button fast to replace scene,and the layer of the scene do some thing waste time in  construction or init method,i found that will cause CREATE method  running some times.

so,do the waste time thing like addSpriteFramesWithFile and called init method

[2015-03-26 10:17] twolight commented on #10925
i solved that call the view in delay.
may be, Android need more time to exchange the thread.
so strange!

[2015-03-27 05:14] twolight commented on #11171
replaceScene method does not really replace scene right now but next loop.
so the old scene is still can receive touch event and button callback is still triggered.

[2015-03-27 10:17] pandamicro opened #11203 "PUParticleSystem3D::create implementation don't follow cocos2d convention"
The cocos2d convention is to use `initWithXXX` functions to do the initialization job, concrete initialization code shouldn't be placed into create functions.

This helps code reusability, and it helps JSB to bind constructor functions

[code]

[2015-03-27 10:23] flamefox opened #11204 "why remove the feature of debug with cocos code IDE in v3.5?"
before 3.5 I can use
`-workdir $(ProjectDir)../../../  -debugger studio` for remote debug
or just debug in  cocos code IDE

the code 3.4final

[code]

3.5:

[code]

and not include any runtime

can any one tell me why?

[2015-03-27 12:07] InfResearch opened #11206 "cocos2dx3.3 GLProgramState:setUniformVec2 to_lua Error"
The following error when I run lua-tests on windows7 :

error:
     cc.GLProgramState:setUniformVec2 argument #2 is 'string'; 'number' expected.

error:
     cc.GLProgramState:setUniformVec2 argument #2 is 'string'; 'number' expected.

[2015-03-27 14:23] hamburml commented on #11204
I would really like to know that, too!

[2015-03-27 18:55] hsdk123 commented on #9918
@minggo Hi, do you have any idea on how progress is going for this feature?

[2015-03-28 05:46] smitpatel88 commented on #10746
@kaplad Thanks, That works fine.
What about Android? Which event should i handle? even googling is not helping.

[2015-03-28 10:10] scari opened #11210 "python3 support?"
Hello, I'm new here.
It looks like you're using python widely but only version 2, not python3.
Any plans? I would gladly lend a hand for that.

[2015-03-28 12:14] kaplad commented on #10746
On Android onPause should be invoked. It's already handled by cocos2d-x:

[code]

[2015-03-28 12:25] smitpatel88 commented on #10746
@kaplad No, for only normal interrupts its working.
Not for low battery pop-up & title bar dragging.

[2015-03-28 13:34] kaplad commented on #10746
@smitpatel88 Activity has [onWindowFocusChanged (boolean hasFocus)](http://developer.android.com/reference/android/app/Activity.html#onWindowFocusChanged%28boolean%29) Try to handle it

[2015-03-28 16:01] smitpatel88 commented on #10746
@kaplad Thanks.
That works for both battery pop-up & title bar interrupt.

 @Override
    public void onWindowFocusChanged(boolean hasFocus) {
        super.onWindowFocusChanged(hasFocus);

[code]

[2015-03-28 16:01] #10746 closed, assigned to nobody

[2015-03-28 16:59] andres-lee opened #11211 "cocos2d-x lua run in mac error: NSConcreteAttributedString initWithString:: nil value"
If the `str` is nil, the app will crash.

[code]

[2015-03-28 22:01] programmerdave commented on #11153
I received this issue as well.

ld: warning: PIE disabled. Absolute addressing (perhaps -mdynamic-no-pic) not allowed in code signed PIE, but used in _jinit_arith_decoder

Any ideas?

[2015-03-30 02:06] zilongshanren commented on #11107
@felixjingga
What's the benefit for updating openssl to 1.0.2.a?

[2015-03-30 05:43] davidejones88 commented on #11153
Whenever I create a new project with cocos2d I get the same warning.
I usually can get rid of that by simply switching "Dont create position independent executables" from NO to YES in the "Build Settings" of cocos2d project.

Let me know if this helps!

[2015-03-30 12:08] programmerdave commented on #11153
That just gets rid of the warning. Your still building a non Position Independent build which is not good.

This other issue seems to have found the answer but it's not part of the Cocos Repo yet: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/issues/35

The real way to solve seems to be to rebuild the libjpeg and libtiff libraries with PIE enabled and packaging them into cocos.

[2015-03-30 12:20] ginobean commented on #11153
It looks like Apple is moving toward position independent code as a security measure.

"By ensuring memory addresses and offsets are unpredictable, exploit code can’t hard code these values."
[http://blog.hoachuck.biz/blog/2013/06/28/non-pie-binary-app-on-ios-could-lead-to-security-issue/]

I think all that may be required is for someone at cocos2d-x to recompile the offending code with the correc

[2015-03-30 17:40] Kiranatus commented on #10313
Hello!
Is there any chance to get this works?
Thanks!

[2015-03-31 01:53] samuele3hu opened #11225 "Use a custom font file for cpptest->LabelTestNew->LabelTTFLongLineWrapping, the long sentence didn't auto-wrapping"
I have gave the @WenhaiLin the font file.

[2015-03-31 01:55] samuele3hu opened #11226 "UITextField should add setLineBreakWithoutSpace interface to auto-wrapping"

[2015-03-31 02:01] samuele3hu opened #11227 "Label don't auto-wrapping by using the system font on the win32 platform"

[2015-03-31 02:01] samuele3hu commented on #11227
@WenhaiLin

[2015-03-31 08:04] SunLightJuly commented on #11204
Codes of runtime have been removed from cocos2dx 3.5. Please use the product "cocos" to support cocos code IDE.

[2015-03-31 11:03] jeason1997 opened #11238 "I found a bug with the physics engine"
3.x 版本封装的物理引擎，刚体有时候会突然猛烈运动，最后弹出包围盒。

这不是我一个人才有的BUG，我搜索了下论坛里的其他帖子，发现不少人有这个问题。

就算是静止的刚体，有时候也会突然剧烈弹起来。

而且这个BUG的发生有一定偶然性。

[2015-03-31 13:29] hamburml commented on #11204
How can I update a cocos code ide cocos-source 3.4 project to 3.5 framework?

_edit_

I created a new project with 3.5 framework and copies my lua-files in it. It is working BUT the particle bindings were removed. I tried to add them but I can't because the generate-bindings-tool isn't working. Please read here: http://discuss.cocos2d-x.org/t/error-when-executing-genbindings/15336/2

[2015-03-31 14:48] zc5872061 commented on #10282
唉。。被坑的好惨

[2015-03-31 16:57] mumreg commented on #9911
Did the same thing, moved to fmod.

[2015-03-31 19:09] hamburml opened #11239 "[3.5 Cocos Framework + lua] Android prebuilt has errors?"
Hi!

In 3.4 we were able to use cc.ParticleSystem to manipulate particles. The setTotalParticles ect were working. Not with 3.5 it's only working in cocos simulator on windows but not on android. I've made a thread here. http://discuss.cocos2d-x.org/t/3-5-lua-bindings-removed-from-particlesystem-android-prebuilt-has-error/20799 Any advice is appreciated.

Thanks!

[2015-03-31 21:57] jimrange commented on #11238
I think this bug is probably a result of parameters that set by the user of the API when tuning the physics engine.

If the physics step is too small or a physics computation takes too much time to complete, then non-converging integration calculations can result in the physics engine due to large time deltas. The result of exploding non-converging values is what you describe as sudden and extreme

[2015-03-31 22:16] jimrange opened #11240 "3.4 PhysicsJointMotor setRate and getRate Bad Access Crash"
If setRate(50) or getRate are called on a PhysicsJointMotor after it is created (in the same code block that it was created in), then a bad access crash occurs on the iPhone 6 simulator and iPhone 5 device running iOS 8.2.

If getRate or setRate are called later in an update / tick method, then no crash occurs.

This code below can be added to the case 10 in the PhysicsTest.cpp class to

// This i

[2015-04-01 01:31] minggo commented on #11239
@Michael-Hamburger
Did you use cocos or cocos2d-x?

[2015-04-01 01:32] minggo commented on #11238
@WenhaiLin
I think it was fixed in v4, we should synchronize it to v3.x.

[2015-04-01 01:53] samuele3hu commented on #10282
@zc5872061, Which version of cocos2d-x did you use?

[2015-04-01 01:59] samuele3hu commented on #10282
@robslove, can you give me the `script.lua` for test.

[2015-04-01 03:09] #10675 closed, assigned to dualface

[2015-04-01 05:39] hamburml commented on #11239
Cocos framework. Prebuilt files are only delivered with cocos and not with cocos2d-x. Cocos2d-x also doesn't have the lua runtimes (which are now in cocos framework).

[2015-04-01 09:24] BKChoi79 commented on #9389
so... where is the solution??

[2015-04-01 11:55] hussain-sohaib opened #11251 "3D Sprite Not Visible in Cocos2dx 3.4 and 3.5"
This Problem occurred on iOS, I am not sure about android since I didn't tried it.

We are trying to use 3D sprite in our game but it is not getting shown on the screen. Here is the code snippet that I use to bring on 3d sprite on screen .

auto sprite3d = Sprite3D::create("zhujue.c3b");

[code]

I used the zhujue.c3b file from programming guide sample even then its not being shown on the screen (

[2015-04-01 13:59] KrissMu commented on #10321
Hi,

Any news ?

[2015-04-01 14:10] masterhou commented on #11251
Can you use testcpp's c3b file for a test.

[2015-04-01 15:25] hussain-sohaib commented on #11251
Hi,

So I just figured out, the issue is not that the c3b files are not visible
but they get hidden behind the 2d Sprites, no matter what you set the Z
value 3d sprite always gets hidden behind the 2d sprite. even if you add 3d
sprite as a child to 2d sprite 3d sprite appears behind the 2d sprite. I am
also sharing a pictures here. sprite1 is where tortoise is added to scene
with z value 100, spri

[2015-04-02 07:04] minggo commented on #11170
@fusijie
Could you please send a pull request and add comments for new codes.

[2015-04-02 11:05] dariodepaolis opened #11259 "There's no way to get the real height of Text Widget"
Read this: http://discuss.cocos2d-x.org/t/new-ui-scrollview-with-text-widget-how-to-set-dynamic-height/20793

Please give us a function to determine dynamic height.

auto textWidget = Text::create("multiline text, blah blab blah", "mybeautyfont.ttf", 50);

There's no way to specify a fixed width, with a variable height.
The only workaround is described here:
http://discuss.cocos2d-x.org/t/ui-text-

[2015-04-02 14:04] 1085075003 opened #11262 "performance optimization,ask for help. too many arithmetic."
there is 500+ sprite in screen, and 100+ sprite do the action like move, callback , rotate.
those action is cost cpu too much. how do i optimize ？reduce action?
![test](https://cloud.githubusercontent.com/assets/7587389/6965494/7e9408d2-d984-11e4-9b53-e87d306e3869.jpg)

[2015-04-02 15:28] WenhaiLin commented on #11113
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11263

[2015-04-02 15:37] WenhaiLin commented on #11115
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11264

[2015-04-03 02:50] lvlonggame opened #11265 "Some DDS texture format can't be loaded correctly on specific android device."
For example:
1. unsigned 16-bit:X1R5G5B5
2. Four CC 8-bit: DXT3

[2015-04-03 12:39] meiry opened #11279 "Cocos 3.5 c++ In Windows 7 32 bit cocos script console output error"
i executed python setup.py and it executed succefuly
then i closed the CMD and reopen it tryed to excute this command (what i do always ):
 `cocos new help`

and i get this error

[code]

[2015-04-05 08:14] perminovVS commented on #11262
You need analyze performance, find bottleneck and fix it.
You use sprite sheet ?

[2015-04-05 08:57] tttreal opened #11287 "A LabelTTF object created by Webview's callback will cause crash on Android device"
The code will cause crash or produce error(*) continuously

[code]

The label that is created at webview::shouldStartLoading might be wrong, I guess.

My Android device "F-02E" is crashed.
"Nexus 7 (2013 model)" is not crashed but raised error(*), maybe, every frame.

(*) error message is like this : D/cocos2d-x debug info( 9289): OpenGL error 0x0502 in /Develop/cocos2dx/projects/test3/proj.androi

[2015-04-05 16:59] stammen commented on #10382
The Windows 8.1 Universal App version of cocos2d-x would also like curl removed from AssetsManager. We have implemented WinRT native networking but will still need curl for the AssetsManager.

[2015-04-06 04:06] matsujun opened #11291 "Crash on Android devices with arm-v7a, but without NEON"
#9968 is not fixed completely.

pr #10157 still compile math/MathUtil.cpp for devices with NEON.
So device is crashed when MathUtil is used.

e.g. cocos2d::LabelAtlas::initWithString finally call MathUtil::multiplyMatrix and cause crash.

[2015-04-06 12:08] hamburml opened #11294 "[3.5 framework] Build apk api 16"
I created a new cocos2d-x 3.5 lua project with 3.5 framework.
Using win 8.1 64 bit, ndk r10c and android api 16.
When building the apk i get following error:

[code]

What I really don't understand is this text2source directory. I don't have a test2source directory....

[2015-04-06 12:17] hamburml commented on #11294
Meh, I tested it again (uninstalled cocos framework and installed it again) and now it works with api 16 and a brand new project -_- _sigh_

[2015-04-06 16:11] #11294 closed, assigned to nobody

[2015-04-06 21:12] iSevenDays opened #11298 "Mac OS retina mode not working"
[code]

After I enabled retina mode, nothing changed. I still at 1440 \* 900 mode.

It's a known bug: glfwGetFramebufferSize returns size in screen coordinates.
Solution: update glfw( your version is 3.0, bug was fixed in 3.0.1 )
http://www.glfw.org/changelog.html

From the link above:
Version 3.0.1
[Cocoa] Bugfix: glfwGetFramebufferSize return the size in screen coordinates

[2015-04-07 01:32] jeason1997 opened #11299 "What's happening with the physics engine in 3.5?"
I don't know how to import image here, so i publish my question in cocoachina
http://www.cocoachina.com/bbs/read.php?tid=294225&page=e&#a

[2015-04-07 01:43] minggo commented on #11291
But it determines if NEON is supported or not in runtime. If it is not a right way to check NEON supporting ,then i don't know if there is better way to do it.

Are you sure it is caused by NENO instructions?

[2015-04-07 01:51] #11113 closed, assigned to WenhaiLin

[2015-04-07 01:51] #11115 closed, assigned to WenhaiLin

[2015-04-07 02:08] 1085075003 commented on #11262
yes, I use sprite sheet,but the 500+ sprite call the function of setPosition every frame cost too much cpu.how can i optimize?

[2015-04-07 02:09] 1085075003 commented on #11262
@perminovVS  yes, I use sprite sheet,but the 500+ sprite call the function of setPosition every frame cost too much cpu.how can i optimize?

[2015-04-07 02:27] WenhaiLin commented on #11116
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11302

[2015-04-07 04:15] matsujun commented on #11291
Yes, if I change
MATHNEONFILE := math/MathUtil.cpp.neon
to
MATHNEONFILE := math/MathUtil.cpp
there are no crash. It works.

In MathUtil, it use isNeon32Enabled() method to check NEON is supported or not.
I think this method works fine, but both MathUtilC and MathUtilNeon are compiled for devices which support NEON, so it crash.
Maybe you need to change MathUtilNeon and MathUtilC from .inl to .h/.c

[2015-04-07 06:08] minggo commented on #11170
@fusijie
Will you please test the PR?
The PR is merged.
Thanks.

[2015-04-07 06:11] fusijie commented on #11170
ok～sorry, I missed it.

[2015-04-07 06:41] fusijie commented on #11170
@minggo  @perminovVS

For the demo above, On the my iPhone6+

before merge the pr: `FPS 36.8~39.0`
after merge the pr: `FPS 39.2~41.2`

[2015-04-07 06:46] minggo commented on #11170
Will you please send a pull request based on @perminovVS's modification. As i see, the Vec3 issue was fixed.

[2015-04-07 06:59] lalaloha opened #11306 "Label is rendered incorrectly in low resolution device (android only)"
Hi,

Label in cocos2d-x, both Label class and ui::Text class, suffer incorrect render in low resolution device.

How to reproduce:
1. Get a device with low resolution, like Samsung Galaxy Ace.
2. Set design resolution to 960x640 (portrait),
3. Set content scale factor to 0.5
4. With a brownish background, we will create the background

[code]

and the text will be rendered incorrectly.
here is the

[2015-04-07 07:33] hamburml commented on #11204
@SunLightJuly I am using 3.5 framework but i am unable to debug with cocos code ide a lua project.
Any ideas?

[2015-04-07 08:43] perminovVS commented on #11262
Write fps call setPosition every frame and no set position

[2015-04-07 09:43] dcshi commented on #9657
I meet the same problem too, @iamjohnwang , your problem has gone?

[2015-04-07 10:16] #11116 closed, assigned to WenhaiLin

[2015-04-07 10:19] #10879 closed, assigned to nobody

[2015-04-07 10:19] #10880 closed, assigned to nobody

[2015-04-07 10:27] lvlonggame opened #11310 "multiple camera case utils::captureScreen bug."
If i have two or more cameras, the first camera draws nothing(use camera flag control this), but it is visited first in the scene, under this condition use utils::captureScreen function will get nothing, just a black image.

[2015-04-07 10:37] minggo commented on #11144
Fixed in #11301.

[2015-04-07 10:37] #11144 closed, assigned to samuele3hu

[2015-04-07 10:43] minggo commented on #10819
Need lua-binding for it.
@samuele3hu Please add lua-binding of it.
Thanks.

[2015-04-07 13:30] hamburml commented on #11239
Sorry, the setTotalParticles-Bindings are working (sadly the android apk simulator isn't working with them o.O). Should I leave this open or not?

[2015-04-07 13:37] hamburml opened #11312 "[3.5 Cocos Framework + lua + win32 Simulator] print not working (lua_print removed in CCLuaStack.cpp"
Again me.

As you might know we are using: 3.5 framework + lua
We also use: cocos code ide 1.2.0 and now we have build our own win32 simulator with cocos code ide build win32 simulator.

Works like expected but now the print("...") method in lua isn't printing something to the console. I was searching for the print-bindings and found out that in cocos2d-x-3.4 in cocos/scripting/lua-bindings/manuel

[2015-04-07 14:05] hamburml commented on #11312
Please, come on. You can't expect someone to use cocos framework and advertise all the new stuff, when there are problems which exists through versions....
Here is the solution.
http://discuss.cocos2d-x.org/t/why-the-lua-function-print-cant-output-message-in-cocos2d-x3-3rc0-at-windows-cocos-ide/18150
I don't want to build liblua again with debug-flag = 1 so I will just map release_print to print i

[2015-04-07 18:19] hawkwood opened #11316 "focused webview on Android breaks onKeyReleased"
If a scene with a ui::WebView and a listener with onKeyReleased, once the WebView has focus (usually by scrolling it) then it will catch the keyboard listener calls, and if it does not respond to them (by default it does not), then it sends those calls to the overall application, NOT the GLSurfaceView, so the EventListener is not triggered properly.  For example, the BACK button will exit the app

[2015-04-08 02:06] #11145 closed, assigned to zilongshanren

[2015-04-08 02:12] minggo commented on #11110
It was already fixed in #10641.

[2015-04-08 02:12] #11110 closed, assigned to WenhaiLin

[2015-04-08 03:24] minggo commented on #11310
Could you give some codes to describe it?
How did you invoke `utils::captureScreen`?

[2015-04-08 03:35] lvlonggame commented on #11310
You can use utils::captureScreen in the sample of "CameraCullingDemo",  i copy the code from CaptureScreenTest.

[2015-04-08 03:51] #10819 closed, assigned to samuele3hu

[2015-04-08 05:47] minggo commented on #11310
Put `utils::captureScreen` to where?
Could you please add more detail information?
It is better if you can create a new branch in your own repo to describe it.
Thanks.

[2015-04-08 07:00] minggo commented on #11226
Why need this feature?

[2015-04-08 07:02] minggo commented on #10914
What's io.open()?

[2015-04-08 07:03] #10667 closed, assigned to nobody

[2015-04-08 07:03] #10668 closed, assigned to nobody

[2015-04-08 07:06] #9100 closed, assigned to nobody

[2015-04-08 07:10] samuele3hu commented on #10914
io module is a standard module of Lua. `open` is a function of io module.

[2015-04-08 07:28] minggo commented on #11298
@iSevenDays
Thanks for the information.

[2015-04-08 07:30] minggo commented on #11291
Why they are both compiled that support NEON?

[2015-04-08 07:33] minggo commented on #11265
What does this issue mean?

[2015-04-08 07:36] minggo commented on #11210
There is not plan right now.

[2015-04-08 07:36] #11210 closed, assigned to nobody

[2015-04-08 07:38] minggo commented on #11203
It is fixed, right?

[2015-04-08 07:50] lvlonggame commented on #11265
some dds format texture can't be loaded at the mobile "coolpad 8720L"!!!!

[2015-04-08 07:57] minggo commented on #11108
Could you please share some code to reproduce it?

[2015-04-08 08:05] minggo commented on #10914
Got it.
Is it an issue?
May be we should use FileUtils to open a file.

[2015-04-08 08:10] natural-law commented on #11279
@meiry, I think the version of your python is lower than 2.7.
Because `OrderedDict` is a new class in python version 2.7. Take a look at the document of python here : https://docs.python.org/2/library/collections.html?highlight=ordereddict

The `cocos` command require python 2.7 (My python version is 2.7.5). Please update your python.
Thanks for your feedback.

[2015-04-08 09:12] lvlonggame commented on #11310
https://github.com/lvlonggame/cocos2d-x/tree/captureScreen
run cpp-tests->Node:Camera 3D Test->Camera Frustum Clipping, press the button of "capture all"

[2015-04-08 10:11] mvp89120 opened #11338 "_openGLView->pollEvents()"
想问下这个函数是干嘛的

[2015-04-08 11:11] pandamicro commented on #11203
Still the same:

https://github.com/cocos2d/cocos2d-x/blob/v3/extensions/Particle3D/PU/CCPUParticleSystem3D.cpp#L244

[2015-04-08 12:44] meiry commented on #11279
yes my version is Python 2.6.6 , consider to do python check when the script is executed and print more informative error massage to the stdout

[2015-04-08 12:50] dantezhu opened #11339 "why remove lua-template-runtime in 3.5?"
why remove lua-template-runtime in 3.5?

i want create proj in cocos code ide with 3.5, but it will blocked.

if I use cocos, the proj it created is only libs, the call of print will never show.

so, I dont understand why do you remove lua-template-runtime?

[2015-04-08 14:26] stammen opened #11342 "zlib include files are now in cocos2d-x/external and cocos2d-x-3rd-party-libs-bin"
A newer version of zlib include files are in cocos2d-x/external/zlib/include. They also are part of download-deps. When the user uses download-deps the zlib include files in the cocos2d-x/external repo are overwritten. This causes git to think the files have been changed.

The zlib include files should only be in one repo not both.

See issue: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bi

[2015-04-08 14:35] #11107 closed, assigned to zilongshanren

[2015-04-08 14:44] minggo commented on #11342
Yep, we should remove it from cocos2d-x. It is added by mistake.

[2015-04-08 14:47] minggo commented on #11342
@WenhaiLin
Please fix it.
Thanks.

[2015-04-08 15:17] stammen commented on #11342
@WenhaiLin  Fixed in pr https://github.com/cocos2d/cocos2d-x/pull/11343

[2015-04-08 23:44] zilongshanren commented on #11342
@minggo
I know the issue now.
Zlib was commited by CocosRobot. i think we should add zlib to .gitignore such that the CocosRobot won't commit the zlib again. I think I don't commit these files and I have removed it before.

So next time when merging PR of CocosRobot, I think we should pay a eye to it.