[2016-05-10 06:48] minggo commented on #15602
From the call stack, not cocos2d-x codes are invoked. Could you please try to run NDK gl related samples to check if it has problem or not.

I am not sure if i can find `Lenovo S890` to test. Does it has problem on other devices? Does the error happened all the time if it has problem on a devices or it just happens sometimes.

[2016-05-10 06:50] minggo commented on #15597
fixed in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/218
and update deps to cocos2d-x repo in #15603

[2016-05-10 07:00] zilongshanren commented on #14827
A few issues with Editbox:

1.现在Editbox 不能支持连续输入模式，我在尝试用any多行模式通过判断换行符实现，还没开始尝试

2.Editbox现在editBoxEditingDidEnd和editBoxReturn的触发机制完全一样，根本没法判断用户到底是点击的虚拟键盘的send按钮还是因为控件失去焦点，安卓可以利用EventListenerKeyboard 来实现键盘的监听，但是iOS 貌似不行。

[2016-05-10 07:07] mars3142 opened #15604 "command line tool cocos does not respect Android productFlavors"
The command line tool cocos does not respect productFlavors from build.gradle. I've added

[code]

and after that, the APK is named **product-flavor-debug.apk**, but this isn't moved to bin/debug/android. Instead it crashes, because it did not find any **product-debug.apk**.

The best way to do it, is to change the command **cocos compile** command to do a **gradlew clean** to delete all old data

[2016-05-10 10:01] dannyjiajia commented on #15602
hi @minggo, thanks your reports.
I am not sure if the error happens sometimes,it's from bugly, and i have search the similar reports on google.  I think the bug maybe caused by the life cycle of SurfaceView or hardware acceleration.
[http://stackoverflow.com/questions/6039107/android-glsurfaceview-egl-bad-alloc](http://stackoverflow.com/questions/6039107/android-glsurfaceview-egl-bad-alloc)
[http:

[2016-05-10 10:06] minggo commented on #15602
@dannyjiajia it may be better to ask it in cocos2d-x forum, there are many developers there. And please add a link here after you crate a ticket in forum. Thanks.

[2016-05-10 10:17] minggo commented on #15413
fixed in #15607

[2016-05-10 10:36] UkiyoESoragoto opened #15608 "cocos2d-x 3.10 can't use png file to create sprite"
engine: cocos2d-x
language: cpp
version: 3.10
work platform: mac osx
target platform: ios 9.3.1

error info: "libpng error: CgBI: unhandled critical chunk"

I cerate a new project and it can't use png to create sprite.
But jpg file is ok.
The HelloWorld.png is fine, but when I import myself png file, it can't be use.

FileUtils::getInstance()->isFileExist()
show is the file is exist

FileUtils::ge

[2016-05-10 10:49] UkiyoESoragoto commented on #15608
libpng error: CgBI: unhandled critical chunk

![image](https://cloud.githubusercontent.com/assets/7730737/15144112/e8c3d8ce-16df-11e6-9bc3-2f0ab252227d.png)

OK
It is not a error about cocos2d-x,  I'm so soory.

[2016-05-10 10:49] #15608 closed, assigned to nobody

[2016-05-10 11:06] daniaDlbani commented on #15417
My Android version is 4.4.2 , Cocos2dx version 2.2.6

[2016-05-10 13:39] razermirtz commented on #8414
i want to try , http://www.ibetvip.com/ , http://www.dosenpoker.com/ , http://www.iopoker.com/ , http://www.santaipoker.com/ , http://www.prediksibos.com/ , http://www.panasqq.com/ , http://www.situsdaftarpoker.com/ , http://www.daftar.poker/ , http://www.memberqq.poker/ , http://www.1001togel.com/ , http://www.agenpoker99.net/ , http://www.daftarsbobetbca.asia/ , http://www.agendomino88.net/ , ht

[2016-05-10 20:52] kompjoefriek commented on #8414
@minggo This issue is over 2 years old now, but still relevant because those defines remain unchanged. I would still very much like to do the changes as @dumganhar suggested in the original topic, create an _enum class_ to put those values in.

I'm willing to create the pull-request for it, just as long as it is clear what is expected (for what branch, and in what format the change should be).

[2016-05-11 02:03] minggo commented on #15417
The errors happened when invoking native method `nativeSetApkPath`. The function is [here](https://github.com/cocos2d/cocos2d-x/blob/v2/cocos2dx/platform/android/jni/Java_org_cocos2dx_lib_Cocos2dxHelper.cpp#L25). So it is strange why it has problem. Could you make sure `cocos2dx/platform/android/jni/Java_org_cocos2dx_lib_Cocos2dxHelper.cpp` is built and linked into libcocos2dx.so?

[2016-05-11 02:12] minggo commented on #8414
@kompjoefriek i think it is an outdate issue. Now coocs2d-x uses GLFW for desk platforms, and it uses `GLFW_MOUSE_BUTTON_LEFT` internally. And i also searched the source codes of cocos2d-x, and no any codes uses these macros. So i think i can remove these macros.

I will close this issue. If you have any problem, please let me know. Thanks.

[2016-05-11 02:56] #8414 closed, assigned to nobody

[2016-05-11 02:57] #15413 closed, assigned to minggo

[2016-05-11 03:02] #15597 closed, assigned to zilongshanren

[2016-05-11 03:11] minggo commented on #15431
done in #15611

[2016-05-11 03:58] daniaDlbani commented on #15417
thanks for the reply, it is built and give this output file "Java_org_cocos2dx_lib_Cocos2dxHelper.o"
by the way the app is running on android 5 devices and above.. and this problem occurs when I upgrade the NDK from 9 to 10 in order to fix the ssl warning reported by google play in the past few weeks..

[2016-05-11 05:16] robslove opened #15613 "ui::EditBox random crash on iOS"
random crash or black screen  on

textFieldShouldEndEditing...

**\* Terminating app due to uncaught exception 'CALayerInvalidGeometry', reason: 'CALayer position contains NaN: [nan 512]'

[2016-05-11 05:59] alphabet26 opened #15614 "window flicker"
Window flicker when runing the win32 demo directly, but attach to visual studio it dont happen.Using spy can see some repaint message log.

[code]

[2016-05-11 06:00] dannyjiajia commented on #15602
thanks @minggo I have create a ticket:[http://discuss.cocos2d-x.org/t/egl-bad-alloc-crash-on-some-android-devices/29234](http://discuss.cocos2d-x.org/t/egl-bad-alloc-crash-on-some-android-devices/29234)

[2016-05-11 06:00] #15602 closed, assigned to minggo

[2016-05-11 06:32] minggo commented on #15417
Except updating NDK from 9 to 10, did you modify anything else? Such as Android.mk. And did you rebuild the source code?

[2016-05-11 07:04] daniaDlbani commented on #15417
Yes I have change the libcurl as mention [here](http://discuss.cocos2d-x.org/t/openssl-problem-again/28270) then clean rebuild

[2016-05-11 07:07] minggo commented on #15417
Ok, it is nothing about libcurl. I think it is better to create a new issue. This issue is something about v3.10.

[2016-05-11 07:24] daniaDlbani commented on #15417
thanks I will, but I am using cocos2dx 2.2.6 not v3.10..

[2016-05-11 07:37] daniaDlbani opened #15616 "java.lang.UnsatisfiedLinkError: Native method not found:"
My cocos2dx app crash on the startup giving me unsatisfied link error:
I am using cocos2dx 2.2.6
compiling android project with android API 21
My ndk version is NDKr10c
this error occurs on android device with 4.4.2 os and the app is working on android5 and above

I was using NDK9 to avoid this [issue](https://github.com/cocos2d/cocos2d-x/issues/14034) and it was working on android 4+
but few week

[2016-05-11 07:39] daniaDlbani commented on #14034
Did you try it?

[2016-05-11 08:05] #15431 closed, assigned to minggo

[2016-05-11 08:44] minggo commented on #15616
It is strange, it related with NDK version and Android OS version. I think it is a problem of NDK though i don't have any clue.

[2016-05-11 14:01] Joilnen opened #15621 "some compiling errors in js-bindings*"
Linux
gcc 5.3 glibc 2.23
## I fixed including cmath  and using namespace std;, c includes like math.h seems doesn't works, anyway reporting.

 /home/joilnen/cocos2d-x_devel/my/cocos2d-x_HEAD_09_05_2016/cocos/scripting/js-bindings/manual/js_manual_conversions.cpp:1660:13: error: 'isnan' was not declared in this scope
     !isnan(x) && !isnan(y);
             ^
/home/joilnen/cocos2d-x_devel/my/cocos

[2016-05-11 20:39] ehthxC7x9D opened #15624 "Make error @ jscocos target"
Ubuntu 16.04

While running make in /linux-build:

[code]

[2016-05-11 20:43] ehthxC7x9D commented on #15544
It seems to get past those issues at this point but now I am hung up on #15624. I am using fresh installs of 16.04, so I am not sure where I am going wrong. In the cocos forums, user slackmoehrle seems to have been able to install just fine on 16.04 (see [here](http://discuss.cocos2d-x.org/t/building-on-ubuntu-16-04-issues/29051/2?u=eht)), despite earlier issues. At any rate, thanks for your atten

[2016-05-11 20:43] #15544 closed, assigned to minggo

[2016-05-12 04:24] ShuraLiu opened #15627 "otiose unscheduleUpdate() in onExit() in ui::Widget"
there is no scheduleUpdate() in onEnter(), so unscheduleUpdate() in onExit() should be deleted.

[2016-05-12 10:08] minggo opened #15629 "Supporting IPv6-only Networks"
As [apple required to support IPv6-only Networks](https://developer.apple.com/news/?id=05042016a) since June 1, 2016. So we need to make sure cocos2d-x can work on IPv6-only Networks.

I think we should check
- 3rd party libraries supports IPv6-only networks
  - [x]  CURL
  - [x]   websocket

  any other?
- cocos2d-x provided network modules support IPv6-only networks
  - [x] HttpClient
  - [x] As

[2016-05-12 10:15] minggo commented on #15629
[this doc](https://developer.apple.com/library/mac/documentation/NetworkingInternetWeb/Conceptual/NetworkingOverview/UnderstandingandPreparingfortheIPv6Transition/UnderstandingandPreparingfortheIPv6Transition.html#//apple_ref/doc/uid/TP40010220-CH213-SW1)  is a good material about how to support IPv4/v6 together and test IPv6 compatibility.

[2016-05-12 10:24] alfogrillo opened #15630 "Cocos2d-x 3.11: PhysicsBody damping does not work [WITH SOLUTION]"
In cocos2d-x 3.11 the damping does not work.
I figure out the lines 776:781 in file CCPhysicsBody.cpp were left commented!
Un-commenting these lines damping seems to work fine!

[2016-05-12 10:26] minggo commented on #15629
@zilongshanren Please help to check the 3rd party libraries supports IPv6.

[2016-05-12 12:18] alfogrillo opened #15631 "Cocos2d-x 3.11: PageView::setCurrentPageIndex does not trigger event "PageView::EventType::TURNING""
I don't know if this is a bug or a design choice, but when it is called setCurrentPageIndex() on a PageView object the event PageView::EventType::TURNING does not trigger!
PageView::scrollToPage() does trigger the event PageView::EventType::TURNING correctly, but only when scroll ends.
Sometimes can be useful to jump immediately to a page triggering the turning event!

[2016-05-12 13:58] cezheng commented on #15629
is cURL still used in iOS? I guess since 3.9 it has been removed from the xcodeproj's link options

[2016-05-12 14:42] minggo commented on #15629
@cezheng CURL is not used in cocos2d-x itself, but it is shift with cocos2d-x, so we should make sure it supports IPv6 too.

[2016-05-13 01:58] alphabet26 opened #15632 "Can't deliver the string contains chinese to javascript."
test in <js-tests> project, print full path of main.js correctly, but spidermonkey can not find it.

[code]

see log

[code]

The same problem in other javascript interface, delivering the string contains chinese from java to C++ is OK, but C++ to javascript is not correct.

[2016-05-13 03:01] mogemimi commented on #15426
I've submitted a new PR #15633

[2016-05-13 03:30] dhb118 opened #15634 "'CCDownloader' continue download got 416 code in android."
version:cocos2d-x-3.10

step: is to difficult to reproduce ,i'm use 'CCDownloader' download files one by one , then relaunch app continue download until got 416 error.

here is .tmp file when got 416 error , It is strange that file is larger than the remote.

[code]

the binary part match the remote.I guess program interrupt before modify the file name.But I do not understand why the HTTP-Response

[2016-05-13 04:54] aaronebby opened #15635 "IGameTuningService cannot be resolved to a type - Game crashes when downloading it from google play store"
`java.lang.Error: Unresolved compilation problem:
    IGameTuningService cannot be resolved to a type
    at org.cocos2dx.lib.Cocos2dxHelper.init(Cocos2dxHelper.java:119)
    at org.cocos2dx.lib.Cocos2dxActivity.onCreate(Cocos2dxActivity.java:270)
    at org.cocos2dx.cpp.AppActivity.onCreate(AppActivity.java:105)
    at android.app.Activity.performCreate(Activity.java:6245)
    at android.app.Inst

[2016-05-13 05:32] #15635 closed, assigned to nobody

[2016-05-13 06:59] dhb118 commented on #15634
i think should replace 'FileAsyncHttpResponseHandler' for 'RangeFileAsyncHttpResponseHandler' in Cocos2dxDownloader.java.

here is 'RangeFileAsyncHttpResponseHandler'  code ,Already handle error 416 code.

[code]

[2016-05-13 08:12] yafen commented on #15629
Hi, just test my cocos2d-x project  for IPv6 DNS64/NAT64 Compatibility by following Apple Doc. It fails to communicate with the server. We use HttpClient in our case. Any update at your side?

[2016-05-13 08:14] sbrednikhin opened #15636 "Minimizing window on desktop causes drop of _designResolutionSize"
Version: cocos 3.11, OS: Windows 10.

onGLFWWindowSizeFunCallback was changed so that it's calling setFrameSize on window minimizing/maximizing.
It causes drop of _designResolutionSize value (initial value not restored). Should I restore it manually now after minimize/maximize, or it's a bug?

(Looks like it finally fired :
http://discuss.cocos2d-x.org/t/potential-bug-in-cceglviewprotocol-setframe

[2016-05-13 09:52] alfogrillo commented on #15439
If it can be useful my game crashes the 90% of times when a moving Particle Effect enters in the Scene.
I think this can be used to reproduce the crash for further inspections.

Bye

[2016-05-13 10:28] AIGRIND-LLC commented on #15636
Bug is confirmed with CPP-Test on Windows 10.

Before the window is minimized:
![cpp-test1](https://cloud.githubusercontent.com/assets/6168693/15245302/f8a32ee8-1905-11e6-882b-85982faaefa8.png)

After the window is restored:
![cpp-test2](https://cloud.githubusercontent.com/assets/6168693/15245318/0bb9d9be-1906-11e6-8dcd-1ff64d5c3e10.png)

[2016-05-13 11:53] ryukbk opened #15637 "Lazy initialization of shader programs in GLProgramCache"
(originally from http://discuss.cocos2d-x.org/t/lazy-initialization-of-shader-programs-in-glprogramcache/29306/1)

Looking into GLProgramCache::loadDefaultGLPrograms() & GLProgramCache::reloadDefaultGLPrograms() (which is called when the renderer is recreated on Android), there are some shaders which are not necessary for certain use cases (not all apps use 3D / CCDrawNode / distance field etc.) a

[2016-05-13 11:58] BlackStar0313 commented on #15206
i get this all the time ,and have been searching this problem a few days .
i try to replace audio engine at version v3.10, but also timeout.
play my game a few min , maybe 10min?  and play many sounds at the same time. maybe that's the reason?
Nexus6   , Android 6.0   and  kindle fire os 5.1.2
http://www.cocoachina.com/bbs/read.php?tid-1679095.html

[2016-05-13 13:22] whitegfx commented on #15439
Hi @minggo @ricardoquesada  @Obg1
- today after update from v. 3.10 to 3.11. (Xcode 7.3.1)
- Our project have random crashes  When I initiated ParticleSystemQuad.
- (one system with little coins, max items 200), PSQ started, shown, crash with
  cocos2d: QuadCommand: resizing index size from..
- crashed in 80% on iPad A1395, 20% on iPhone6.
- tested many times Obg1 fix and no crash.

Any other solu

[2016-05-13 17:02] fuyifan commented on #15206
you can try it on any mi box小米盒子. play the same audio frequently the process will be locked. very easy to repriduce.@minggo

[2016-05-13 20:32] teosbpl commented on #15624
Clone of of PR #15522

[2016-05-13 21:34] teosbpl commented on #14961
Hi everybody. Another solution is to use the ldconfig machinery:
sudo cat > /etc/ld.so.conf.d/cocos.conf
Enter a line /<MYCOCOS2DXDIR/external/linux-specific/fmod/prebuilt/64-bit
or /<MYCOCOS2DXDIR/external/linux-specific/fmod/prebuilt/32-bit
Run sudo ldconfig
Enjoy cpp_tests - without any compilation

If you have nothing in /<MYCOCOS2DXDIR/external/linux-specific/fmod/prebuilt/64-bit - then you n

[2016-05-13 21:47] teosbpl commented on #15624
It may be related with compilation using many jobs (as make -j4 in my case). Running 'make -j4' several times fixed the problem. There apparently is a problem with precedence of build targets, which I'm unable to solve.

[2016-05-14 10:35] liuyi opened #15642 "[BUG] version3.11 pro.android/build_native.py has error path."
LINE 139

 resources_dir = os.path.join(app_android_root, "../../../frameworks/cocos2d-x/cocos/js-bindings/bindings/script")

SHOULD BE:
resources_dir = os.path.join(app_android_root, "../../../frameworks/cocos2d-x/cocos/scripting/js-bindings/script")

error info:

No such file or directory: '/Volumes/data/work/temp/test/frameworks/runtime-src/proj.android/../../../frameworks/cocos2d-x/cocos/js-bi

[2016-05-14 11:28] liuyi opened #15643 "[QUESTION] 3.11 Why we got these "may crash " and "Unsupported source file extensions" warnings, when compile android project with build_native.py"
yiliudeMac-mini:proj.android yiliu$ python build_native.py -b debug
/Volumes/data/work/git/play2math/dev/frameworks/runtime-src/proj.android/../../cocos2d-x
**Parse NDK version from file /Volumes/data/dev_programs/android-ndk-r10e/RELEASE.TXT failed.**
NDK_TOOLCHAIN_VERSION: 4.9
**Your application may crash when using c++ 11 regular expression with NDK_TOOLCHAIN_VERSION 4.9**
/Volumes/data/dev_pro

[2016-05-14 11:34] liuyi commented on #15613
I think you should check your code, because we can find the reason is that:"NaN".

Maybe you code generate an NaN value, and set it to layer's position.

[2016-05-14 11:44] cmzx3444 commented on #15643
Android.mk in your LOCAL_SRC_FILES?

[2016-05-14 12:55] liuyi opened #15644 "[QUESTION] 3.11How to deal with nativeObj.retain()/ nativeObj.release(), when we upgrade code from 3.10 to 3.11 (JSB)?"
As we knwon, cocos2dx  changed jsb logic, make javascript coder,don't need use retain() and release().
But they don't tell us how to do when we used retain() and release() in old engine.(such as 3.10)
I haven't  check c++ code.
Hope developer group can write a post teach us how to face this new feature or trouble.
THANKS!

[2016-05-14 21:11] #14658 closed, assigned to nobody

[2016-05-15 03:17] Rypac commented on #15439
I've submitted a PR to fix the issue.

The `EventDispatcher` option seems kind of heavy handed and I don't feel it belongs in the `QuadCommand`.

In my proposal whenever `__indices[]` needs to expand, the `QuadCommand` becomes the owner of the current shared memory buffer for the duration of its lifecycle (as many times as required). This should prevent the `Renderer` from gaining access to any in

[2016-05-15 07:27] marah-sh commented on #15439
How can I apply this solution on Cocod2dx 2.2.6??

[2016-05-15 07:50] whitegfx commented on #15439
@marah-sh 2.2.6 doesn't have this issue.

[2016-05-15 07:54] marah-sh commented on #15439
@whitegfx
I'm facing random crashes in EAGLView.mm swapBuffers method at the same line
if(![_context presentRenderbuffer:GL_RENDERBUFFER])

[2016-05-15 08:23] whitegfx commented on #15439
@Rypac #15646 tested on iPad A1395 with iOS 8.3 and iPhone6 iOS 9.3.1, no crash Thx.

[2016-05-15 17:04] larsven commented on #15378
This looks like the same issue discussed here: http://discuss.cocos2d-x.org/t/random-font-artifacts/27486/5. And yes, it only occurs with some fonts. But those fonts are perfectly rendered everywhere else.

[2016-05-15 17:11] larsven commented on #11742
In our case it was caused by a sdkbox callback sent on a different thread than we expected.

[2016-05-15 21:40] stevetranby commented on #13203
We just had this discussion come up again. We think that the sprite should get added with the parent node's camera mask. Maybe have a flag as whether to cascade or not. I would guess there's only a few, or none, instances where someone would want to addChild(node) while setting a different camera mask than it's parent.

I can submit a PR, but wanted to see if there's any discussion first.

[code]

[2016-05-16 01:32] minggo commented on #15629
@yafen thanks for testing. I will test it today.

[2016-05-16 02:55] minggo commented on #15629
@yafen I just tested with `cpp-tests/Extensions/HttpClientTest` by following Apple Doc, the it works great. What's your cocos2d-x version? And other developer also said v3.11 works as expected in [this ticket](http://discuss.cocos2d-x.org/t/supporting-ipv6-only-networks/29266).

[2016-05-16 03:17] zhaijialong commented on #15644
cocos说这功能至少3年了吧，小孩都能打酱油了。。以我的经验这功能应该是用不了的。。一定很多bug

[2016-05-16 04:28] liuyi opened #15647 "[BUG]3.11 download zip file got crash. repeat create/remove nodes got crash!"
I upgraded my app from 3.10 to 3.11, because I thought it  maybe fixed the crash bug when download zip files.

BUT,new bugs come and old bugs still stay in the latest version.
OLD BUG:
When files loading(such as zip file), then touch screen quickly, app would get crash.

BTW, decompress zip file can block UI thread. If touch in the same time, app get crash either.

NEW BUG in 3.11:
1.Create some n

[2016-05-16 05:52] minggo commented on #15439
@marah-sh any opengl error can cause problem in `if(![_context presentRenderbuffer:GL_RENDERBUFFER])`. 2.26 doesn't use render command, so it is not the same issue.

[2016-05-16 06:35] alankevin2 commented on #15573
Hi, thanks for the reply.
I will pick up some time to try those solutions!
But I still wondering why the text in the labels are blurred? That's what I mentioned in the original post.
If the images are the case, why the label is somehow effected too?

[2016-05-16 06:44] minggo commented on #15573
As i know the launching image size will affect resolution on iOS.

[2016-05-16 07:34] weiwest opened #15650 "Sprite3D __contentSize is always size(0,0)"
Sprite3D _contentSize will be size(0,0) if it is loadFromCache

[2016-05-16 08:37] minggo opened #15652 "Android rendering performance issue"
Some developers report there is performance issue on Android, specially on Android 6.0 + QHD devices. There are also many tickets in forum reporting about it: http://discuss.cocos2d-x.org/t/cocos2d-x-and-poor-updates/29296.

[2016-05-16 08:40] minggo opened #15653 "Full gradle support"

[2016-05-16 09:05] davidchai-6waves commented on #15631
I think it should be fixed in v3.11, you can check the latest CHANGE_LOG here.
I am so sure, because that is the one of the reason i upgraded to 3.11

[2016-05-16 09:31] minggo commented on #15629
libwebsocket supports IPv6 is fixed in this PR: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/219. Other platforms supporting will be added soon.

Edit: linux platform supports IPv6: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/220

[2016-05-16 09:34] minggo commented on #15629
Console and ScriptingCore add ipv6 compatibility support is fixed in #15654.

[2016-05-16 10:16] #14677 closed, assigned to nobody

[2016-05-16 10:16] cezheng opened #15655 "Make Downloader & AssetsManagerEx able to pause/resume"
When Internet connection is lost, the AssetsManagerEx current isn't aware of that, and will keep starting all the download tasks then failing all of them, dispatching a large amount of error events, triggering the event listener many times, which is not very ideal.

We implemented [Reachability](https://developer.apple.com/library/ios/samplecode/Reachability/Introduction/Intro.html) on iOS/Android

[2016-05-16 10:24] minggo commented on #15655
@cezheng Thanks. I am not sure, may be there is other solution.

[2016-05-16 13:22] klemsFR opened #15656 "[3.11] particles and SpriteFrames limitation"
Hi ,

I try to use a particle flower with an image from a texture pack so i use :

particleFlower->setDisplayFrame(SpriteFrameCache::getInstance()->getSpriteFrameByName("myPackedImage.png"));

Unfortunatly on android cocos2d displays the whole texture and not only the part of it corresponding to "myPackedImage.png". I think this behaviour can be seen because android does not assert.

The file CCPa

[2016-05-16 20:42] larsven commented on #15636
It seems setting design resolution manually after restore does not work.

[2016-05-16 20:51] larsven commented on #15636
There is an attempt to fix it here: https://github.com/cocos2d/cocos2d-x/commit/061fc2f28773447d817e6152a0f2b857295a0305, but it does not fully solve the problem

[2016-05-16 21:07] larsven commented on #15378
This is fixed in 3.11

[2016-05-16 21:13] larsven commented on #15367
This is discussed here: http://discuss.cocos2d-x.org/t/resolution-problem-while-launching-game-through-push-notification-from-lock-screen/22254.

The solution from smitpatel88 works on some devices.

[2016-05-16 21:34] larsven commented on #15321
Try using cocos2d-x 3.11, our TTF label problems were fixed there

[2016-05-16 21:39] larsven commented on #15243
Check which VS2015 Update version you have compiled with (for example VS2015 Update 2) and use the corresponding redistributable file.

[2016-05-16 21:45] larsven commented on #14973
This is discussed here:
http://discuss.cocos2d-x.org/t/ccdrawnode-antialiasing-problem/7916
http://discuss.cocos2d-x.org/t/cocos2d-x-v3-anti-aliasing-for-primitives/20548
http://discuss.cocos2d-x.org/t/line-primitives-look-terrible-smooth-lines/14955

[2016-05-17 00:51] tankorsmash opened #15657 "`ui::ScrollView::setScrollBarOpacity()` doesn't update `ScrollViewBar`'s effective opacity without autohide being enabled"
Cocos2dx 3.10 c++

The following line sets the opacity of the scrollbarview

[code]

but it doesn't actually take into effect unless you toggle the autohide:

[code]

which calls

[code]

It's because the opacity of the ProtectedNode inside the ScrollViewBar is unchanged, because it's not the same as the opacity as ScrollViewBar.

I don't know the solution because I don't yet know why the `setOpac

[2016-05-17 03:17] #14703 closed, assigned to nobody

[2016-05-17 03:56] minggo commented on #15652
Run `cpp-tests` on Xiaomi4 with Android 6.0.1, its resolution is 1920*1080. Its FPS is 59-60, not performance issue.

[2016-05-17 04:06] eduhub123 commented on #15378
I updated it to version 3.11, which has solved my problem.
Thanks @larsven.

[2016-05-17 04:35] liuyi opened #15658 "JS function:call node.getBoundingBoxToWorld() getBoundingBoxToWorld make crash on low android devices."
call node.getBoundingBoxToWorld()  getBoundingBoxToWorld   make crash on low android devices.

If the node has lots of children, it would appear more frequently .

[2016-05-17 06:32] QuangBang commented on #15439
Just upgrade to cocos2d-x 3.11 and the crash appear more frequently just like @whitegfx . Almost 100% on iPhone 5. I noticed that when change scene using transition fade, there are some glitch appear, after change scene 2-3 times, then the app crash.

Edit: just apply @Rypac and no crash. Thanks 👯

[2016-05-17 06:47] cezheng commented on #15577
https://github.com/cocos2d/cocos2d-console/pull/342/files
I believe this PR is setting gcc 4.9 rather than clang as the toolchain, so we are still not able to use clang by cocos compile

[2016-05-17 06:51] minggo commented on #15577
@cezheng Thanks. I mentioned in the work to do above.

[2016-05-17 07:34] minggo commented on #15629
SocketIO depends on libwebsocket, so there is not problem.

[2016-05-17 07:42] yafen commented on #15629
Thx for updating. We use cocos2dx 2.2.6. So have to update to version 3.11?

[2016-05-17 07:42] cezheng commented on #15653
It seems currently only gradle-experimental can make Android Studio show jni sources, but it's still in active development and constantly changing.
http://tools.android.com/tech-docs/new-build-system/gradle-experimental

[2016-05-17 07:44] minggo commented on #15629
No, you just need to update libwebsocket and libcurl, becuase libcurl supports IPv6 in v3.10.

[2016-05-17 07:46] minggo commented on #15653
Yep. But debugging C/C++ codes is needed.

[2016-05-17 07:48] yafen commented on #15629
ok. will try. thx.

[2016-05-17 07:50] minggo commented on #15629
You are welcome.

[2016-05-17 08:16] PorkyPixels commented on #15652
I have the performance issues on my game and it appears to be something to do with SimpleAudioEngine?

My game makes a sound every time you tap the screen. When tapping the screen on an Android 6 device, the game stutters quite badly. I found that disabling the sound effects (but leaving the background music playing) stops all stuttering and the game runs at a smooth 60fps.

Cocos2D-X 3.10
Android

[2016-05-17 08:26] minggo commented on #15652
@PorkyPixels Thanks for your information. Why not use new Audio engine? It uses OpenSL and have good performance.

[2016-05-17 08:29] larsven commented on #15652
@minggo one reason could be it is still "experimental"

[2016-05-17 08:31] PorkyPixels commented on #15652
@minggo I use SimpleAudioEngine as I'm familiar with it and never had a problem with it before. Thanks for the suggestion though, I will look into the the new audio engine and see if that resolves the issues on Android 6.

[2016-05-17 08:32] minggo commented on #15652
@larsven the only reason that it is named `experimental` is only because it is not implemented on all platforms. That's @ricardoquesada required.

[2016-05-17 08:35] larsven commented on #15652
@minggo ok thanks for the info

[2016-05-17 09:04] larsven commented on #15636
There is a fix here that solves the problem: https://github.com/cocos2d/cocos2d-x/commit/061fc2f28773447d817e6152a0f2b857295a0305

[2016-05-17 09:23] Kotaiba opened #15661 "Experimental::AudioPlayer stopped playing sounds after 10 min of game play"
After around 10 min of playing on my game the AudioPlayer stopped playing the audio and start giving me this message on play2d .

cocos2d::experimental::AudioPlayer::play2d(cocos2d::experimental::AudioCache *):alGenBuffers error code:a003
I tried to clear the cash and re cash on replacing the scenes and it did't fix it .
i tried to

experimental::AudioEngine::end();
But the game crash .

[2016-05-17 09:33] larsven commented on #15657
The behavior is changed in 3.11 but not to the better.

Setting setScrollBarAutoHideEnabled() to false makes the scrollbar invisible as opacity is always 0. setScrollBarOpacity() does not have any effect in this case.

[2016-05-17 10:00] minggo commented on #15661
What's the engine version?
How can i reproduce it?
What's the Android OS version?
What's the device?

[2016-05-17 10:02] minggo commented on #15658
@pandamicro could you please take a look?

[2016-05-17 10:03] minggo commented on #15657
@zilongshanren could you please take a look?

[2016-05-17 10:05] minggo commented on #15656
@ricardoquesada any idea?

[2016-05-17 10:08] minggo commented on #15650
@westsuper2 I will ask somebody to take a look, but please use english. You can use google translate if you are not confident with English together with Chinese.

[2016-05-17 10:10] minggo commented on #15647
Could you please write some codes to reproduce it?
Thanks.

[2016-05-17 10:11] minggo commented on #15644
@pandamicro any idea?

[2016-05-17 10:13] Kotaiba commented on #15661
1-Cocos2d-x 3.10 C++ .
2- My game run around 10 to 24 sounds at the same time( 5 running all the time and 19 on and off)  so you can say 24 max at the same time . after playing for like 10 to 15 min .60% of the sounds will stop working and this error message show every time it try to play sound effect (Will Show On Log).
`cocos2d::experimental::AudioPlayer::play2d(cocos2d::experimental::AudioCache

[2016-05-17 10:13] minggo commented on #15643
We recommend to use NDK r10c. What's your Android.mk?

[2016-05-17 10:14] larsven commented on #15657
Here is a minimal change to make setScrollBarOpacity() work. It solves the problem temporarily but requires that setScrollBarOpacity() is called after setScrollBarAutoHideEnabled(false).

[code]

[2016-05-17 10:14] minggo commented on #15643
How to reproduce it?

[2016-05-17 10:15] minggo commented on #15642
Please use cocos command instead.

[2016-05-17 10:17] pandamicro commented on #15644
You can just remove all usage of retain / release, or just ignore them, if you enabled `CC_ENABLE_GC_FOR_NATIVE_OBJECTS` in ccConfig.h, the retain / release function will do nothing.

So far, no bug found in the new memory model, but if you meet crashes in GC or Spidermonkey level, please report to us. @zhaijialong  The theory of new memory model is valid, I can't say for sure that there won't be

[2016-05-17 10:17] minggo commented on #15661
Could you please give a sample code to reproduce it?
Thanks.

[2016-05-17 10:18] minggo commented on #15642
build_native.sh will be removed.

[2016-05-17 10:19] pandamicro commented on #15658
Can you show us the call stack when crash happens ? And the location in JS code where it happens

[2016-05-17 10:20] minggo commented on #15636
Yep, it is fixed in latest code.

[2016-05-17 10:20] #15636 closed, assigned to nobody

[2016-05-17 10:27] minggo commented on #15634
Could you please use v3.11 to have a try, it merged a PR seems to fix this problem: https://github.com/cocos2d/cocos2d-x/pull/15465

[2016-05-17 10:28] minggo commented on #15632
@pandamicro is it possible to pass Chinese from C++ to JS?

[2016-05-17 10:29] minggo commented on #15631
@zilongshanren please take a look

[2016-05-17 10:30] minggo commented on #15630
@ricardoquesada could you please take a look?

[2016-05-17 10:34] minggo commented on #15630
@ricardoquesada i found you comment these codes, is there any reason?

[2016-05-17 10:35] minggo commented on #15627
@zilongshanren Please take a look.

[2016-05-17 10:36] minggo commented on #15624
@e-ht i don't have the problem, i used ubuntu 16.04 too.

[2016-05-17 10:37] minggo commented on #15621
did you use latest codes? i think it is fixed

[2016-05-17 10:44] pandamicro commented on #15632
Passing string is ok, but `runScript` doesn't accept Chinese characters.

[2016-05-17 11:29] Kotaiba commented on #15661
i think the bug related to
`void AudioEngine::stop(int audioID)`
i've got it fixed after making sure that the audio `state == AudioState::PLAYING `before calling any `AudioEngine::stop`

[2016-05-17 11:39] Kotaiba commented on #15661
i think its related to `experimental::AudioEngine::stop` i will keep testing to find out what reproduce it.

[2016-05-17 12:18] Kotaiba commented on #15661
So far i have no idea how this exactly reproduce.
Is there any way i can restart the AudioEngine . i tried `experimental::AudioEngine::end` but the game always crash . if you could help me with that so i can test it .

[2016-05-17 14:43] TheCodez commented on #15653
@minggo this is a good starting point: http://stackoverflow.com/questions/34207158/cocos2dx-based-project-in-android-studio-using-gradle-experimental-plugin/34207874

[2016-05-17 15:27] wdd817 opened #15663 "ccexp.AudioEngine is nil"
I compiled and run cocos2dx 3.10 & 3.11 example on linux(deepin 2015, based on debian unstable)
everything is just fine except lua_test's ComponentTest
lua script can't access **ccexp.AudioEngine**(attempt to index field 'AudioEngine' (a nil value))

[2016-05-17 17:33] ip opened #15665 "Programmer's Guide is corrupted"
For example, this page is 404:
http://www.cocos2d-x.org/docs/programmers-guide/4/index.html

[2016-05-17 19:02] klemsFR commented on #15665
API reference is also concerned!

[2016-05-17 19:29] slackmoehrle commented on #15665
Weird, let me look into this. It was working earlier today as I was reading content to update.

[2016-05-17 19:57] slackmoehrle commented on #15665
Fixed. I apologize for the inconvenience.

[2016-05-17 19:57] #15665 closed, assigned to slackmoehrle

[2016-05-17 22:16] iPruch commented on #15652
I started developing an infinite runner game last year, starting with Cocos2d-x 3.6 and I've been updating the cocos version up to 3.9 (and not further because I stopped developing the game for now, but I plan to work on finishing it soon). It has always performed great on iOS devices (even on an old iPhone 4), but Android has always been some steps behind. From my experience, Android devices can

[2016-05-18 02:01] minggo commented on #15652
@iPruch thanks for the detail information. It seems it is Android OS version and Android device related. What i can find is that the audio engine will affect performance issue on all situations. I found Android provide [high performance Audio](https://googlesamples.github.io/android-audio-high-performance/), hope it is so high performanne as it says.

Edit: AudioEngine already uses OpenSL ES.

[2016-05-18 02:03] minggo commented on #15652
@iPruch could you please update `Samsung Galaxy mini (S5570)` to Android 6 to have a test too. I just want to make sure if Android 6 causes performance issue.

[2016-05-18 04:00] minggo commented on #15653
Thanks @TheCodez for the link. I will take a look when i implement it.

[2016-05-18 06:23] ricardoquesada commented on #15630
@minggo bug I guess

[2016-05-18 07:43] minggo commented on #15629
v2 branch is fixed in #15666 , windows and wp8 has not been updated, waiting @stammen 's  update.
@yafen you can refer to the PR, it also needs to modify some cpp codes to use new version of libwebsockets.

@yafen to be more clear, should refer to [this commit](https://github.com/cocos2d/cocos2d-x/pull/15666/commits/43dd696750014efa9b0419a59f72ba1c4cdaba50) to fix compiling error.

[2016-05-18 08:27] minggo opened #15669 "VideoPlayer window becomes black block when come back from background"
Steps to reproduce:
- run cpp-test enter VideoPlayer test
- play a video and click Home key to enter background
- make the app come to foreground and the window of VideoPlayer become black

Developers reported it has problem since v3.4. I tested with latest codes, the issue still exists. If you understand Chinese, can refer to [this ticket](http://forum.cocos.com/t/cocos2dx-3-10-videoplayer/36620)

[2016-05-18 08:33] minggo commented on #15661
There is not other way to restart AudioEngine.

[2016-05-18 08:41] minggo opened #15670 "Remove build_native.sh in templates"
**build_native.sh** is created before `cocos command`, and we suggest to use `cocos command` long a ago. So i think it is time to remove the script.

[2016-05-18 08:47] minggo commented on #15670
done in #15671
@slackmoehrle Could you please check if the docs still use **build_native.sh**? If so, then we should update the docs.

[2016-05-18 09:58] alankevin2 commented on #15573
@minggo You saved our day**S**!!! The launching image **DOES** effect!
After I modify the launching image(I did not make a new picture, instead, just new a Launch Screen in storyboard and let the size class do the rest), the text in the label did become clearer 👍
Much obliged !
But still wondering if this only effect on Cocos2d-x

[2016-05-18 10:05] minggo commented on #15573
I think it is the feature of iOS. The window size returned from iOS changed based on launching image size.

Can i close this issue?

[2016-05-18 10:07] dabingnn opened #15672 "async load for 3d animation"
[CCAnimation3D.zip](https://github.com/cocos2d/cocos2d-x/files/270162/CCAnimation3D.zip)

it is a zip from our game developer.

[2016-05-18 10:08] iPruch commented on #15652
@minggo I don't think that such an old device can officially update that far, and also I wanted to keep it with 2.3.6 to have an old Android device to test. Maybe an Android 6 ROM can be flashed, but I've never done that before and I don't know the process and risks. I'll take a look

[2016-05-18 10:13] minggo commented on #15652
@iPruch I found the specification of [Samsung Galaxy mini (S5570)](http://www.gsmarena.com/samsung_galaxy_s5_mini-6252.php) and [Samsung Galaxy Tab 3 (7.0)](http://www.gsmarena.com/samsung_galaxy_tab_3_7_0-5422.php). It seems S5570 has more powerful of CPU and less powerful of GPU:
- S5570
  - CPU: Quad-core 1.4 GHz Cortex-A7
  - GPU: [Mali-400MP4](http://www.notebookcheck.net/ARM-Mali-400-MP4.110

[2016-05-18 10:28] iPruch commented on #15652
@minggo No, that is not the Samsung Galaxy mini S5570. This is it: http://www.gsmarena.com/samsung_galaxy_mini_s5570-3725.php

Much older and powerless: Just 1 core @ 600 MHz and Adreno 200 GPU

[2016-05-18 10:33] minggo commented on #15652
Oh, its resolution is **240 x 320 pixels (~127 ppi pixel density)**, so it is GPU related.

[2016-05-18 10:35] minggo commented on #15652
Because cocos2d-x is a 2d game, almost all objects are drawn in the same layer(the z is 0), so the overlap issue is more serious because z-test has not effect.

[2016-05-18 10:37] iPruch commented on #15652
@minggo But what I was saying on my first and long post above is that the S5570 performance is good (around 45 FPS) considering the lack of power of the device, and other devices as the Tab 3 only achieve around 20 FPS being more powerful. I think sometime ago I saw a thread on the Cocos2d-x forum about the bad performance in some Samsung devices being fault of Samsung's custom implementations of

[2016-05-18 10:40] minggo commented on #15652
Yep, because S5570's resolution is much lower than Galaxy Tab 3.

[2016-05-18 10:42] iPruch commented on #15652
@minggo Ok, I didn't understand you at first.

[2016-05-18 12:58] daniaDlbani commented on #15616
I found that there is someone at cocos team reported similar  [issue](https://code.google.com/p/android/issues/detail?id=73907)
 and they announce that it is fixed at the new NDK12beta1
but trying it I am getting new build errors something like this:

[armeabi] SharedLibrary  : libcocos2dcpp.so
./MyProject/cocos2d-x-2.2.6/external/libwebsockets/android/./lib/armeabi/libwebsockets.a(libwebsockets.c

[2016-05-18 13:58] daniaDlbani commented on #14034
@Narvikz trying the new ndk but it failed to build the project and here my error log:

[armeabi] SharedLibrary : libcocos2dcpp.so
./MyProject/cocos2d-x-2.2.6/external/libwebsockets/android/./lib/armeabi/libwebsockets.a(libwebsockets.c.o):libwebsockets.c:function libwebsocket_create_context: error: undefined reference to 'getdtablesize'
./MyProject/cocos2d-x-2.2.6/external/libwebsockets/android/./l

[2016-05-18 15:23] stammen opened #15674 "V3: cocos-console broken on windows"
V3: running cocos console on windows is broken on v3 branch. Generates a /.cocos\local_cfg.json file not found error. Should not crash if there is no config file.

[code]

[2016-05-18 15:55] slackmoehrle commented on #15674
This also happens on OS X and Linux.

[code]

[2016-05-18 16:36] iPruch commented on #15652
Maybe the Samsung devices low FPS problem is due to the power saving mode? http://stackoverflow.com/a/17670350

It's a shame that I can't test it with those Tab 3 and S III mini because I don't have them anymore.

[2016-05-18 17:46] stammen opened #15675 "V3 cocos console new console requires response from user"
The first time a user runs cocos new it asks the user to respond to the following:

In order to continually innovate and improve Cocos products, Chukong Aipu may collect certain usage statistics from the software including but not limited to a unique identifier,  version number of the software, and information on which tools and/or services in Cocos products are being used and how they are being u

[2016-05-18 17:47] stammen commented on #15674
The user agreement code also introduces a new issue: https://github.com/cocos2d/cocos2d-x/issues/15675. There is now no way to run cocos new from jenkins to test building a newly generated game from the templates.

[2016-05-18 18:10] stammen commented on #15675
I can use

set ans="Y"
echo %ans%|cocos new foo -l cpp -d projects

[2016-05-18 18:10] #15675 closed, assigned to nobody

[2016-05-18 19:38] chaoren commented on #15674
Fix here: https://github.com/cocos2d/cocos2d-console/pull/345

[2016-05-18 19:45] obushnell commented on #15036
So where is the default example that uses only MIT code, since this is an MIT project?

[2016-05-18 19:54] obushnell opened #15678 "Remove the Spine library as it has a personal only license"
The Spine library's license is for personal use only. Which means it cannot be used in commercial software. This was mentioned and agreed to here [https://github.com/cocos2d/cocos2d-x/issues/15036#issuecomment-217066236](url).

Remove the Spine library from cocos2d-x.

[2016-05-18 20:01] Seryusjj opened #15679 "Memory leak when setting Texture2D to Sprite"
I have the following code:
Texture2D \* texture = new Texture2D();  //referece count = 1
texture->initWithData(..)
sprite->setTexture(texture); // reference count = 2

Later on i change the texture
sprite->setTexture(texture2); //reference count of texture  = 1
and the first texture is not going to be released, is this correct?
Do i have to release it? or the sprite should do it automatically?

[2016-05-18 20:52] felixjingga commented on #15679
@Seryusjj use Texture2D::create() interface.. don't new it.. if u new it, it will result in memleak...

[2016-05-19 00:14] OMGBrewmaster opened #15680 "Race Condition Resulting in Deadlock in TextureCache::addImageAsync() and ::loadImage()"
Sometimes, when addImageAsync() is called, a deadlock can occur. This has been observed in the iOS simulator, but occurs only infrequently.

What appears to be happening is addImageAsync() is calling _sleepCondition.notify_one() before loadImage() calls _sleepCondition.wait(signal). Because of this, once wait() is called, the thread blocks and is never resumed.

I believe that, in loadImage() the

[2016-05-19 01:59] minggo commented on #15674
@natural-law Could you please take a look.
About working with jenkins, it think it is better to pass a parameter to agree it or just have to select one time?

[2016-05-19 02:20] minggo commented on #15679
Yep, if you use new, then you should release it too. Sprite::setTexture() will retain it internally. As @felixjingga said, use `create` instead, create function will return an autoreleased object.

[2016-05-19 02:20] #15679 closed, assigned to nobody

[2016-05-19 02:21] #15670 closed, assigned to minggo

[2016-05-19 03:16] natural-law commented on #15674
@minggo This PR is a right solution. Sorry for my mistakes.
@chaoren Thanks for your contribution.

Yep, the agreement will only show once. For jenkins environment, the solution is: create a file `[USER_PATH]/.cocos/local_cfg.json` with content:

[code]

[2016-05-19 03:42] chaoren commented on #15674
Just a little nit pick. The correct grammar should be `agreement_shown`.

[2016-05-19 03:43] minggo commented on #15674
Good catch @chaoren .

[2016-05-19 04:06] natural-law commented on #15674
Sorry for my poor English. I've fixed it.

[2016-05-19 04:07] hbflyhbfly opened #15682 "TimeLineAction random cash. version 3.10"
In cocostudio if  the node is import from another csd file.use
`Node* CSLoader::nodeWithFlatBuffers(const flatbuffers::NodeTree *nodetree, const ccNodeLoadCallback &callback)
`
 create the node,if **classname** is "# **ProjectNode**", create the action is use `action = timeline::ActionTimelineCache::getInstance()->loadAnimationActionWithFlatBuffersFile(bug,filePath)`,but this action is not clone.I

[2016-05-19 12:10] Seryusjj commented on #15679
Texture2D and Image do not have that interface, you just can have an instance of them by calling new

[2016-05-19 16:02] stammen commented on #15674
PR https://github.com/cocos2d/cocos2d-console/pull/346 fixed the issue.

[2016-05-19 16:02] #15674 closed, assigned to natural-law

[2016-05-19 17:30] mogemimi commented on #15426
I've submitted #15685

[2016-05-20 01:35] minggo commented on #15679
Oh, yep. Sorry about that. So you need to invoke release when you don't need it.

[2016-05-20 03:55] minggo commented on #15621
Fixed in this #15687

[2016-05-20 03:55] #15621 closed, assigned to minggo

[2016-05-20 04:00] minggo commented on #15573
ping @alankevin2

[2016-05-20 04:02] minggo commented on #15682
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-20 04:02] #15682 closed, assigned to nobody

[2016-05-20 06:27] #15642 closed, assigned to nobody

[2016-05-20 06:28] #15632 closed, assigned to pandamicro

[2016-05-20 06:55] alankevin2 commented on #15573
Yes, this actually solved the issue!

[2016-05-20 06:55] #15573 closed, assigned to minggo

[2016-05-20 09:17] looliver opened #15688 "Cocos JS 3.11 PhysicsSprite chipmunk Bug"
create a physicsSprite and set space，shape body
update to cocos 3.11
this sprite cannot move with shape in sence
useing cocos3.10 not have this bug

[2016-05-20 17:19] slackmoehrle opened #15691 "Ubuntu 16.04 - isnan error"
Ubuntu 16.04. Cocos2d-x v3.11.

Compiling `cpp-tests` results in an error when compiling spidermonkey/js bindings.

![screen shot 2016-05-20 at 1 14 45 pm](https://cloud.githubusercontent.com/assets/7491758/15435889/f1aff242-1e8c-11e6-8b95-368ef4faec6b.png)

Please see this thread on the forums: http://discuss.cocos2d-x.org/t/building-on-ubuntu-16-04-issues/29051

One user suggested adding `using

[2016-05-20 17:31] ricardoquesada commented on #15656
@klemsFR sure, we add it into the roadmap. IIRC, when I implemented QuadParticle in cocos2d-iphone I found some issues in implementing sprite frames with offset > 0. But we can take a look at it again

[2016-05-20 20:30] crazyhappygame commented on #15577
Please upgrade also NDK to latest version r11c.
Currently for example:
`cocos gen-libs -p android`
fails with android-ndk-r11c

[2016-05-21 13:24] vellozo commented on #15199
The position is wrong only in my iPhone (5C). In the simulator is fine. How to fix that? I'm using XCode 7.3.1 and before it works in both "devices".

[2016-05-21 14:55] rws08 commented on #15199
![png](https://cloud.githubusercontent.com/assets/7792240/15449114/8836ffa8-1faf-11e6-844c-2b63cc56d495.png)

[2016-05-22 01:29] pluspingya opened #15693 "Suggestion: TextFieldTTF gives an option to disable text auto correction."
With current v3.11, I couldn't find an easy way to do that for all platforms.
It would be great if I could add one line of code and TextFieldTTF disables text auto correction for me.

[2016-05-22 03:23] Seryusjj opened #15694 "RenderTexture -> newImage() not working"
Hello I have the following code that actually works v3.11 on windows (I have an sprite that executes a custom shader and want to get the raw output so I just try that):

[code]

But if initializing the sprite in that way (to get the image data that is what i want):

[code]

It does not print anything on screen, when debugging seems like the buffer that it's copiying is empty.
Correct size, but emp

[2016-05-22 04:51] youlanhai opened #15695 "Suggestion: Move the macro `COCOS2D_VERSION` to ccConfig.h"
In current version, the macro `COCOS2D_VERSION` is in `cocos2d.h`. We need this macro, but we don't want to include `cocos2d.h`. Because `cocos2d.h` includes a lot of c++ header files, which will slow down the compilation when i include `cocos2d.h` directly in my project.

[2016-05-22 04:58] noprops opened #15696 "Animation reset color and opacity of Sprite"
When I change color or opacity of Sprite and run Animate, color and opacity will be back to default in every setSpriteFrame.
This happens only if TexturePacker algorithm is polygon.

http://discuss.cocos2d-x.org/t/animation-reset-color-and-opacity-of-sprite/29452

[2016-05-22 21:43] slackmoehrle commented on #15199
@vellozo This was answered above by myself and below by @rws08

[2016-05-23 01:54] #9437 closed, assigned to minggo

[2016-05-23 05:58] jamjamcat commented on #15629
Hi zhangxm

Thank you, but I'm using cocos2dx v2.2.2.

Cocos2d-x root/external/config.json and download-deps.py scripts don't exist in v2.2.2.
Please tell me what to do, to update libwebsockets and CURL in cocos2dx v2.2.2.

Thank you.

[2016-05-23 06:04] minggo commented on #15629
@jamjamcat you can down load the libraries [here](https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/releases).

[2016-05-23 06:04] minggo commented on #15629
To be more clearly, it is [here](https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/releases/tag/v2-deps-6)

[2016-05-23 08:44] ztech opened #15697 "cocos2d-x 3.11 link error on Linux"
cocos2d-x 3.11 & Linuxmint 17.3(based on ubuntu 14.04)

1.unzip cocos2d-x-3.11.zip from offical site
2.python setup.py
3.build/install-deps-linux.sh
4.cocos new MyGame -l js
5.cocos compile -p linux

got errors below

[code]

cocos2d-x 3.10 works fine, so did  I miss something?

[2016-05-23 10:55] ryukbk opened #15698 "libpng error: CgBI: unhandled critical chunk"
Originally discussed in this thread, https://github.com/cocos2d/cocos2d-x/issues/15199
The error happens at Texture2D::initWithImage (Cocos2d-x 3.10) only with an actual iOS device, not on an iOS simulator, and the solution is we had to disable both "Compress PNG Files" and "Remove Text Metadata From PNG files" on Xcode 7.2. It seems this issue persists for years. Is it possible to remedy it at th

[2016-05-23 13:12] Bleno commented on #15697
Try

[code]

It worked for me

[2016-05-23 17:08] niekvse commented on #15652
I'm experiencing a similar issue (Cocos2d-x 3.10)

I'm showing a Scene, and tested on these two Android phones:
- LG Nexus 5x (2015, Snapdragon 808, Android 6.0.1, resolution 1080 x 1920)
- HTC One M7 (2013, Android 5.0.2, resolution 1080 x 1920)

On the Nexus 5x, I get an FPS of 11-13.
On the HTC (a much older, slower phone), I get an FPS of 60.

Same APK, same Scene, same resolution. The scene h

[2016-05-23 17:35] slackmoehrle commented on #15698
I am not sure, @minggo? @ricardoquesada?

We have a few other issues with this same subject and yes the fix was what you mentioned.

[2016-05-23 17:37] slackmoehrle commented on #15697
There are dependencies that you need. Please review: http://cocos2d-x.org/docs/installation/F/

I just went through this instructions on 14.04, 14.10, 15.04, 15.10 and 16.04. On 16.04 I do get an error that I reported a few days ago.

[2016-05-23 17:56] mars3142 commented on #15449
I saw a talk about NDK and in this talk they said, that clang is compiling faster (https://youtu.be/Ok97X9Z4Si8?t=1827) and since NDK r11 "GCC in the NDK is now deprecated in favor of Clang." (https://developer.android.com/ndk/downloads/revision_history.html). So it would be cool if in the future the NDK build could switch. Should I open a new bug?

[2016-05-23 23:53] joewan commented on #15661
I have also met the same problem, I think the audio bug is a serious bug. I feel very disappointed with cocos, this bug has existed a century. Everytime you ask us to reproduce  this bug, obviously it is very difficult to reproduce. and why you do not provide a restartAudioEngine interface?
http://forum.cocos.com/t/cocos2d-js-3-6-mp3/36614
http://forum.cocos.com/t/cocos2dx3-10-bug/36710
http://for

[2016-05-24 01:23] ztech commented on #15697
@Bleno Thanks,I have already added this ppa but problem not solved

[code]

@slackmoehrle
Thanks!
I compile & run js-tests/cpp-tests yesterday, it works well:
![cocos](https://cloud.githubusercontent.com/assets/1282144/15489058/f6514dd2-218e-11e6-9607-b3269dfb2a31.png)
Use `cocos new -l cpp` to create project, it works well.
But, if i use `cocos new -l js` to create a project, it will link error.

[2016-05-24 01:33] minggo commented on #15661
@joewan it is because android has so many devices and so OS version, the issue doesn't happen on all devices. As you know, sometimes it happened on some devices with some specific OS version. So we need a way to reproduce it, then we can verify if it is fixed or not.

Yep, i think we need to do more testing. And restartAudioEngine, i am not sure it it can help or not. AudioEngine uses OpenSL ES on

[2016-05-24 01:35] minggo commented on #15449
@mars3142  There is already an issue #15577.

[2016-05-24 01:49] minggo commented on #15698
@ryukbk I think we can set `Remove Text Metadata From PNG files` to false by default.

[2016-05-24 02:04] minggo commented on #15652
@niekvse Thanks. Could you share the codes? I can find Nexus 5 to test, but i don't have Nexus 5x.

[2016-05-24 02:08] minggo commented on #15698
Fixe it in #15702.
The issue is caused because Xcode 7.3 enable it by default.

[2016-05-24 03:15] kun2012 opened #15703 "The function "stExpCocoNode::GetType" may return wrong type"
Consider line 45 of file "cocos/editor-support/cocostudio/CocoLoader.cpp":
I think the attribute type should be encoded with cTypeName[] = {'N','F','T','O','A','S','V'};
If the attribute type is 'O', which is an object, then tType = Type(1), which will be a kFalseType.

[2016-05-24 07:06] minggo commented on #15629
libwebsocket for windows is updated by this PR: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/224, it is included in v2-deps-v7. And the corresponding PR for cocos2d-x is #15704

[2016-05-24 07:06] #15629 closed, assigned to minggo

[2016-05-24 07:15] cezheng commented on #15629
After gradle support and this IPv6 support update, will there be a new release?

[2016-05-24 07:21] minggo commented on #15629
About IPv6 support, i think you just need to update 3rd party libs. And gradle support is not ready, there is bug about apk size.

There is not plan to release a new version currently. I think we can release it if we find and fix Android performance issue.

[2016-05-24 08:15] sergey-shpital opened #15706 "CheckBox isn't working"
ui/UICheckBox.cpp:78
`create` call `init` with `backGroundSeleted = ""`
then
ui/UIAbstractCheckButton.cpp:171
`loadTextureBackGroundSelected` call `setSpriteFrame("")`
then
2d/CCSprite.cpp:1034
`setSpriteFrame` func have assert
`CCASSERT(!spriteFrameName.empty(), "spriteFrameName must not be empty");`
and it strange but next line
`if (spriteFrameName.empty())
 {
     return;
 }`

in some previous

[2016-05-24 08:57] zilongshanren opened #15707 "BMFont and LabelAtlas support TextureAtlas and benefit from auto-batch"

[2016-05-24 09:38] alfogrillo opened #15708 "[Cocos2d-x 3.11, Linux]: SimpleAudioEngine::playEffect() doesn't work correctly on Linux"
After invoking 32 times the function "playEffect()" on a SimpleAudioEngine instance you get the message:

`"Fail to play <wav sound name> cause by limited max instance of AudioEngine"`

A test case can be made scheduling this function on the HelloWorld cocos project:

[code]

[2016-05-24 10:29] niekvse commented on #15652
@minggo I wanted to add that I tried the same thing with lower resolution sprites (the same sprites but for a lower res phone), and it was just as slow. But it seems to be related to Sprites: when I remove them and replace them with DrawNodes (simple square of the same dimensions), it's 60 FPS instead of 12 FPS. and I also ran the App Tune-up Kit from Qualcomm to see if the bottleneck is CPU or GP

[2016-05-24 10:37] minggo commented on #15652
@niekvse thanks for testing. It is ok to mail me, thanks. I have test it on Nexus 5.

[2016-05-24 11:28] niekvse commented on #15652
@minggo I sent you the entire project (360MB or so) by wetransfer. You should get the email shortly. The big size is from Cocos - the actual code is only a few lines - but I thought it would be best to send everything, so you can reproduce it as accurately as possible.

Please DO NOT distribute this project anywhere online.

Let me know if you have any questions! I included screenshots of the app

[2016-05-24 12:29] rynkowsg opened #15709 "[v3.9, iOS/Android] EditBox prints capital letters by default"
problem: **EditBox by default uses capital letters.**
cocos2d-x version: **v3.9**
platform: **iOS, Android**

Code sample:

[code]

As a workaround, I set the input flag to SENSITIVE. On iOS this setting makes as a capital letter only for the first character. Unfortunately, **there is no flag to print all characters lowercase.**

![firstletteriscapital](https://cloud.githubusercontent.com/assets/5

[2016-05-24 13:26] rynkowsg opened #15710 "[v3.9, iOS/Android] EditBox wraps text and loses text's alignment"
problem: **EditBox wraps text and loses text's alignment.**
cocos2d-x version: **v3.9**
platform: **iOS, Android**

Sample code:

[code]

iOS:
When I type it is fine:
![lackoftrancating](https://cloud.githubusercontent.com/assets/5878299/15504674/02526494-21b8-11e6-9575-2ad75d49e60d.png)
When I leave the editBox it will truncate the text a bit, but it also loses texts alignment:
![lackoftrancating

[2016-05-24 13:32] slackmoehrle commented on #15697
@ztech I did not test JS.

@minggo I think we have a problem with this on Linux.

[2016-05-24 13:55] #15630 closed, assigned to ricardoquesada

[2016-05-24 14:30] ricardoquesada commented on #15439
I took a look at it. @Rypac 's approach is the correct one. No dependencies with the Events should be added for this fix. Merged rypac's PR

[2016-05-24 14:30] #15439 closed, assigned to ricardoquesada

[2016-05-24 17:37] niekvse commented on #15652
@minggo I solved the issue by more strategically adding my Nodes (I'm new to Cocos so I wasn't aware of the details of the batch algorithms). This does **not** completely explain why it was fast on the much older phone, but I have an idea.

I had 80 sprites and 80 drawnodes (background boxes), each drawnode containing one sprite (so they could be scaled and moved together, etc.) Apparently this me

[2016-05-24 18:56] ryancerium opened #15713 "NDK 12"
The new NDK that Android Studio downloads by default adds the `arm64-v8a` support that https://github.com/cocos2d/cocos2d-x/issues/15566 is looking for, but it doesn't appear to work.

[code]

[2016-05-24 21:49] ricardoquesada commented on #15154
I couldn't find the bug in the copy constructor and/or the `operator=`... looks good to me, but it is obvious that there is a bug because it is crashing on windows.
Unfortunately, at the moment, I don't have a windows machine with me to test it. So I'm doing a code review of the whole `PolygonInfo` class, and I found that there are too many copies `PolygonInfo` instance making the code slower...

[2016-05-24 23:47] quangmycom commented on #13767
Hey, I get error same. I compile with cocos compile -p web -m release but get error Uncaught Error: Invalid argument game.min.js 1862.
Facebook Plugin SDK error???

I write by -l JS and using pluginx, plugin-facebook.
I upgrade v3.11 (v3.9) and using sdkbox facebook for web, but sdkbox is not defined on web.

Facebook_sdk.js new /_1464152818,,JIT Construction: v2354536,en_US_/
old /_1411456395,,JI

[2016-05-25 00:00] ricardoquesada commented on #15154
@minggo can you try my patch on Windows? if it still crashes on windows, could you send me the stack trace? Thanks.

This is my patch: https://github.com/ricardoquesada/cocos2d-x/commit/9ad3db063503a2b1af97ce05c358c2e2fbb342e0

[2016-05-25 01:38] minggo commented on #15154
I will try it when i have time.

[2016-05-25 01:41] stammen commented on #15154
@ricardoquesada @minggo I will test the patch.

[2016-05-25 01:46] minggo commented on #15154
@stammen thanks.

[2016-05-25 02:04] ricardoquesada commented on #15154
@stammen thanks. I couldn't find the bug in the copy constructor, so I just cleaned a little bit the interfaces and added a few asserts. thanks!

[2016-05-25 02:11] minggo commented on #15652
@niekvse thanks, i am downloading the codes. And for sure, i will not distribute the codes.

[2016-05-25 02:13] minggo commented on #15697
Ok, i will take a look.

[2016-05-25 02:16] luckyouch commented on #15629
@minggo  I found a strange status:
My project is developed with cocos2d-x 2.2.2, I update the libcurl.a from cocos2d-x 3.10, then build successful, and when tested success for ipv6 in simulator on iOS, But failed when I burned it to any ios device. All http requests failed with Timeout error.
So I don't know how to fix it.

[2016-05-25 02:22] minggo commented on #15629
Did you test on IPv6-only network? And does your device network is good?

[2016-05-25 02:26] luckyouch commented on #15629
Yes, I test it on ipv6-only network as the doc above. and my network is good because I test some other apps, some test well.

[2016-05-25 02:31] minggo commented on #15629
Would you please use latest CURL? I tested with it, i don't test on v3.10.

[2016-05-25 02:47] luckyouch commented on #15629
If I use latest libcurl.a and libssl.a in v3.11, my project will occurs some link error about ssl. So I use them in v3.10 as you say above.

[2016-05-25 02:53] minggo commented on #15629
The latest is not v3.11, it is the link: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/releases/tag/v3-deps-95

[2016-05-25 02:54] luckyouch commented on #15629
OK, thanks, I will try it.

[2016-05-25 03:32] minggo commented on #15652
@niekvse I tested on Nexus 5 and other devices, all are about 60fps. I will try to upgrade Nexus 5 to Android 6 to take a look.

[2016-05-25 03:34] minggo commented on #15652
Oh, sorry. The Nexus 5 i tested on is already Android 6.0. I have not idea why Nexus 5x is so slow right now.

[2016-05-25 03:48] minggo commented on #15652
@niekvse I found there is [a doc](http://www.androidauthority.com/nexus-5x-problems-fixes-665234/) mentioned performance issue of Nexus 5x, could you please take a look?

And i found it is only 30fps on iOS simulator, i will take a look what cause the problem.

[2016-05-25 04:02] minggo commented on #15691
I think it is fixed with latest codes.

[2016-05-25 05:16] joewan commented on #15661
this bug almost happens on on all devices,  at least iPhone 6s (os version 9.3.2).
thanks very much for immediate response.

[2016-05-25 05:49] minggo commented on #15661
@joewan Do you have codes to reproduce easily? This issue is about on iOS, but your link above is about on Android. Audio engine implementation is different in these two platforms.

[2016-05-25 05:58] luckyouch commented on #15629
@minggo  fortunatly, it works, but I don't know does the version supply 64-bits?

[2016-05-25 06:01] minggo commented on #15629
@youchlucky This version is the same as before except supporting IPv6.

[2016-05-25 07:05] minggo commented on #15652
Since iOS simulator is so different with iOS device and it is 60 fps on Mac OS X, so i will not look into the issue on iOS simulator.

[2016-05-25 07:07] #15698 closed, assigned to nobody

[2016-05-25 07:09] minggo commented on #15695
Yep, it sounds reasonable.

[2016-05-25 08:37] niekvse commented on #15652
@minggo Yes I noticed that 30fps on the iOS emulator, but I thought it was mainly because of the emulator overhead. I didn't test on a real iOS device yet.

I saw your document (regarding the 5x), but I don't have any general slowdown issues on that phone.

As I mentioned, the issue is now fixed by adding the nodes in a different order (adding all Sprites after each other rather than interleave th

[2016-05-25 08:41] minggo commented on #15652
Yep, it is pity that i don't have Nexus 5x.

[2016-05-25 09:48] Kotaiba commented on #15661
This is the code that coz the Bug.(I have trains running on the map i need the audio to play when it get closer to my hero and stop if it gets far ) ,Hope it will help .

[code]

[2016-05-25 09:55] minggo commented on #15661
@Kotaiba Sorry, what did you modify? I am doing testing, playing 13 sound/effect all the time, and haven't found the issue.

[2016-05-25 09:56] Kotaiba commented on #15661
i test that too ,playing sounds is not the issue , after testing on my project found that the code above coz the bug to happen .

[2016-05-25 09:59] Kotaiba commented on #15661
ive modifed the error code : cocos2d::experimental::AudioPlayer::play2d(cocos2d::experimental::AudioCache *):alGenBuffers error code:a003

[2016-05-25 10:07] Kotaiba commented on #15661
One more thing , the audio will play normally but when ever i play `Train.mp3` again the audio will stop ,So if `Train.mp3` is not running the audio will play perfectly.

[2016-05-25 10:18] minggo commented on #15661
@Kotaiba I added log in [this commit](https://github.com/minggo/cocos2d-x/commit/0e6b4116a54cea66019869737d8808b3b8d3dd42), will you apply the modification of `cocos/audio/apple/AudioPlayer.mm`, then it will print which line caused the error.

And you can take a look of [this doc](http://forum.sparrow-framework.org/topic/spsound-error-could-not-allocate-openal-buffer-a003). It seems need to check

[2016-05-25 10:21] minggo commented on #15661
Did you mean can not play the same audio more than one time?

[2016-05-25 10:25] TerranTian opened #15717 "image doest't show in device xiaomi 3, other device work just fine."
here is my gpu info:
gl.supports_vertex_array_object: true
gl.supports_BGRA8888: false
gl.supports_ATITC: false
gl.supports_S3TC: true
cocos2d.x.version: cocos2d-x-3.9
gl.supports_discard_framebuffer: false
cocos2d.x.compiled_with_profiler: false
gl.supports_PVRTC: false
cocos2d.x.build_type: DEBUG
gl.renderer: NVIDIA Tegra
gl.supports_ETC1: true
cocos2d.x.compiled_with_gl_state_cache: true
gl.ver

[2016-05-25 10:30] Kotaiba commented on #15661
I mean After the bug happen ,It happen on 1 audio but it will effect all the running audios cozing them to stop also ,so if that bugged audio play again the other audios will stop also .and if its stopped the audio will work again.

[2016-05-25 10:31] Kotaiba commented on #15661
Will test the code now .

[2016-05-25 10:32] minggo commented on #15661
Thanks.

[2016-05-25 10:40] Kotaiba commented on #15661
`openal error code: 0 line: 232`

[2016-05-25 10:41] Kotaiba commented on #15661
Let me know if you need me to test anything else.

[2016-05-25 10:46] minggo commented on #15661
@Kotaiba Thanks. I have to analyze it, then make a new patch to ask your help.

[2016-05-25 10:53] minggo commented on #15661
Oh, sorry, could you please modify the macro of `ERROR_CHECK()` to

[code]

and test again? The previous version lost error code.
Thanks.

[2016-05-25 11:03] Kotaiba commented on #15661
`openal error code: 1 line: 232`

[2016-05-25 17:20] stammen commented on #15154
@ricardoquesada @minggo I fixed the crash in PR https://github.com/ricardoquesada/cocos2d-x/pull/9.

@ricardoquesada Please review.

[2016-05-25 18:07] ricardoquesada commented on #15154
@stammen many thanks! PR looks good!

[2016-05-25 20:56] urokuta commented on #9367
I have same issue. Any progress or suggestions?
I also tried following code in
http://stackoverflow.com/questions/22009687/can-i-use-blendfunc-in-ccanimation

[code]

but not worked.

[2016-05-25 23:44] urokuta commented on #9367
As a result,
I commented out few codes following stackoverflow.
http://stackoverflow.com/questions/22009687/can-i-use-blendfunc-in-ccanimation

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCSprite.cpp

[code]

to

[code]

and it works but I'm afraid of other impacts as same as "Ah Wen" in stackoverflow.
Would you please tell me whether it is correct or other choice?

UPDATED: @ghost way

[2016-05-26 00:19] urokuta commented on #9367
@ghost Sorry, finally I figured out what you mentioned.
Following your code, I changed CCActionInterval.cpp

[code]

[code]

I confirmed it worked as my expected.
just in case I will send pull request for fixing this issue but I don't know whether the way is correct.
please kindly merge if it is correct.

[2016-05-26 00:26] ricardoquesada commented on #15154
closed: https://github.com/cocos2d/cocos2d-x/pull/15722

[2016-05-26 00:26] #15154 closed, assigned to ricardoquesada

[2016-05-26 08:15] johngirvin opened #15730 "EXC_BAD_ACCESS with CC_USE_PHYSICS=0"
In an empty iOS project with `CC_USE_PHYSICS=0` there is an immediate exception at startup as shown. Reproduced with v3.11 in debug and release modes.

![2a7816bc84_690x218](https://cloud.githubusercontent.com/assets/672750/15568148/2af1a66a-2322-11e6-9de5-0c809aaf23b0.png)

![9ba3022e05_690x439](https://cloud.githubusercontent.com/assets/672750/15568147/2aedb474-2322-11e6-876f-71817e41c0ba.png)

[2016-05-26 08:21] minggo commented on #15661
@Kotaiba sorry, i reviewed the codes, and can not find the bug. Does `openal error code: 1 line: 232` happened immediately or it is about 10 minutes later after playing as before?

[2016-05-26 08:32] Kotaiba commented on #15661
It happen after 5-10 min of playing .

[2016-05-26 08:36] Kotaiba commented on #15661
line: 232 ,is on play2d or on stop ?

[2016-05-26 08:38] minggo commented on #15661
It is the line number of `AudioPlayer.mm`.

[2016-05-26 08:41] Kotaiba commented on #15661
i know i mean is the error related to AudioEngine::stop or AudioEngine::play2d ?

[2016-05-26 08:54] minggo commented on #15661
I think it is related with AudioEngine::play2d(). But you can try to check the value before stop and have a try.

[2016-05-26 08:56] Kotaiba commented on #15661
I've tried to check the value ,it did't solve it .

[2016-05-26 09:07] minggo commented on #15661
Some comments about your codes:

[code]

[2016-05-26 09:39] taotaotaotaohan commented on #12672
why i cant get the dirty  pic in the pRtec ?

[2016-05-26 11:10] ghost commented on #15624
Still getting this error. Any workaround? I tried 'make -j4' quite a times, but no luck.
Using Ubuntu 16.04

EDIT: Got it working. Command 'make -j4' did not work for me though. Instead, replacing 'isnan' with 'std::isnan' in few other cpp files [the one's that caused the error (Eg. file `jsb_cocos2dx_auto.cpp` according to error posted above)] did the trick.

[2016-05-26 11:34] AlwynC opened #15733 "Crash on UIKeyboardNotification on glView on iOS platform"
When cocos 2d-x is integrated on top of UIKit,that is,we have a few native iOS view controllers and then move into cocos 2d-x screen,the application works fine.Now,when we move back to iOS screen from the cocos 2d-x screen by invoking Director::getInstance()->end(),without exiting the application,we are able to transition back to iOS screen from cocos 2d-x screen without problems.Supposing there i

[2016-05-26 14:27] e-ht commented on #15624
I've given up and happily moved forward with LibGDX. Cocos2d has proven dysfunctional and inconsistent on Linux and even a messy hassle installing on OSX.  At this point, unless you use Windows (which I only assume works) I suggest you move on.

[2016-05-26 18:33] ghost commented on #15624
It's working now :)

[2016-05-26 23:30] #15624 closed, assigned to minggo

[2016-05-27 06:17] wulei opened #15736 "3.11.1 release package tools/cocos2d-console null folder"
...why? ...

[2016-05-27 06:24] #15736 closed, assigned to nobody

[2016-05-27 08:19] minggo opened #15738 "GLViewImpl::create() should support full screen"
GLViewImpl::createWithRect() accept a parameter to determine support full screen or not. GLViewImpl::create() should do it like this.

I think it is better to add a new method:

[code]

[2016-05-27 08:41] minggo commented on #15652
@ricardoquesada any idea?

[2016-05-27 09:54] minggo opened #15739 "compiling error with ndk r11c"
Will cause compiling error with JSB projects, the error message is

The reason is __page_size was replaced with PAGE_SIZE for Android API levels 12 and under since NDK r11+. The commit of NDK modification is: https://android.googlesource.com/platform/development/+/11ae5ebfb66727ba6f6d4e9a878ec0795e18993a%5E!/

[2016-05-27 10:08] minggo commented on #15713
@ryancerium i also download new Android Studio version and NDK r12. And i can compile the codes without any problem.

[2016-05-27 10:18] minggo commented on #15733
@AlwynC Could you please provide a test case? Thanks.

[2016-05-27 10:20] minggo commented on #15717
@TerranTian What's the engine version? How to reproduce it?

[2016-05-27 10:21] minggo commented on #15710
@zilongshanren please take a look.

[2016-05-27 10:23] minggo commented on #15709
@zilongshanren please take a look

[2016-05-27 10:25] minggo commented on #15708
Does #15735 fixed it?

[2016-05-27 10:30] minggo commented on #15703
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-27 10:30] #15703 closed, assigned to nobody

[2016-05-27 10:35] minggo commented on #15691
@slackmoehrle will you please test with latest codes?

[2016-05-27 10:53] ricardoquesada commented on #15652
@minggo now idea what's happening on android, but I can take a look next week. Seems to be a critical bug.

[2016-05-27 11:18] AlwynC commented on #15733
@minggo Is it fine if I share a sample application which reproduces the crash?

[2016-05-27 14:22] qbart commented on #15404
Hi, had the same problem in v3.11, I modified my
`linux-build/CMakeCache.txt` in my game project folder and seemed to work :)

`CMakeCache.txt`:

[code]

[2016-05-27 15:54] slackmoehrle commented on #15691
@minggo ok, sure. Happy to test.

[2016-05-27 17:15] slackmoehrle commented on #15691
so I updated v3-branch, submodule update, download-deps.py

cleaned, cmake, make, etc, still fails.

![screen shot 2016-05-27 at 1 14 12 pm](https://cloud.githubusercontent.com/assets/7491758/15615551/07e91400-240d-11e6-9084-956bdb2d4a24.png)

[2016-05-28 03:19] quangmycom opened #15741 "Deploy web release, touch event not working on mobile browser chrome"
Test in browser PC is OK, but in Mobile Chrome not touch. Please fix it, and update i try v3.11 but not yet.

[2016-05-28 04:09] wulei opened #15742 "[3.11.1 WebSocket] ERR: lws_rx_sm: doing draining flow"
Safely done, msg(21)!
msg(21) append: 0 + 44 = 44
## msg(21) was totally sent!

Receiving data:index:24, len=1023
ERR: lws_rx_sm: doing draining flow

ERR: lws_rx_sm: doing draining flow

ERR: lws_rx_sm: doing draining flow

ERR: lws_rx_sm: doing draining flow

[2016-05-28 12:53] mogemimi commented on #15426
I just made a new PR: #15744

[2016-05-29 07:59] weiwest opened #15745 "UILayout,UIListView openClip cause Frame rate fall down"
Cocos3.10

[2016-05-29 10:54] crazyhappygame opened #15746 "Windows 10 Mobile needs 5 seconds more than Android to start - compiling shaders"
Issue:
Start any cocos2dx app on android: startup time 1s
Start the same app on Windows 10 Mobile: startup time 6 seconds

5 seconds in mobile world it is really to much ...

Issue exist for Windows 10 Mobile and Windows Phone 8.1.
It caused by compiling shaders from OpenGL to DirectX:
GLProgramCache::loadDefaultGLPrograms()
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/renderer/CCGLProgramCa

[2016-05-29 17:31] mogemimi commented on #15426
I've submitted #15747

[2016-05-29 20:50] crazyhappygame opened #15748 "Windows 10 Mobile - crash on AutoTests"
1. Open cpp-test
2. Press "Start AutoTest"
3. Bug: crashes after few test

[2016-05-29 21:04] crazyhappygame opened #15749 "Windows Phone 8.1 - incorrect libcurl.dll"
After upgrading to cocos2d-x.3.11. I have below error on Windows App Certification

`FAILED
Supported APIs
•Error Found: The supported APIs test detected the following errors:◦This API is not supported for this application type - Api=inet_pton. Module=ws2_32.dll. File=libcurl.dll.
•Impact if not fixed:  Using an API that is not part of the Windows SDK for Windows Phone Store apps violates the Wind

[2016-05-29 21:47] stammen commented on #15749
@crazyhappygame I will investigate. Is this for Windows Phone 8.1?

[2016-05-30 02:07] minggo commented on #15733
@AlwynC Yep, thanks.

[2016-05-30 02:10] minggo commented on #15652
@ricardoquesada yep, it is critical if it is true. The problem is that i can not find a device to reproduce it.

[2016-05-30 02:53] #9367 closed, assigned to nobody

[2016-05-30 02:56] alk-aries opened #15750 "AssetsManagerEx zip decompression unrecoverable error"
There's a bug in AssetsManagerEx that can cause invalid state of assets update. In any circumstances where decompressDownloadedZip failed, there's no way for the game to recover from this error. The only solution is to uninstall and reinstall the game.

[code]

The problem might be caused after writing the temp manifest, AssetsManager won't be able to retry on files that fails in decompression. To

[2016-05-30 03:24] wulei commented on #15742
@zilongshanren please see this issue it

[2016-05-30 03:30] zilongshanren commented on #15745
@westsuper2
Which Android device do you use and what's your tested engine version?

[2016-05-30 03:40] CarineAmiot commented on #8555
Thanks for your help.

[2016-05-30 06:36] jmclaveria commented on #15652
About the sound lag problem I could test in a HTC Desire 800 with critical lags. I tested in other devices but didn't find any issues. People in Google Play are complaining with problems using a Samsung Galaxy S6/S7/Edge. Hope it helps

[2016-05-30 07:06] minggo commented on #15652
@jmclaveria Thanks. What's the Android OS version in these devices? And did you use audio engine or SimpleAudioEngine?

[2016-05-30 07:13] minggo commented on #15742
How to reproduce it?

[2016-05-30 07:14] minggo commented on #15741
@pandamicro could you please take a look?

[2016-05-30 07:28] wulei commented on #15742
@minggo Not necessarily reproduce the error， but cocos 3.10 can't find this error.
my project user 3.11.1 receive maybe 8kb data, first receive no problem , next must reproduce this error

[2016-05-30 08:40] minggo commented on #15742
I found the comment in a [websocket issue](https://github.com/warmcat/libwebsockets/issues/485).

[2016-05-30 08:41] #15742 closed, assigned to nobody

[2016-05-30 08:47] minggo commented on #15691
I modified binding generator in #15687 to fix the bug, but because there is not codes to trigger generating new binding codes, so `jsb_cocos2dx_auto.app` is not changed. I will generate the binding codes manually.

[2016-05-30 09:44] minggo commented on #8321
It is already supported.

[2016-05-30 09:44] #8321 closed, assigned to nobody

[2016-05-30 10:21] minggo commented on #15691
It is fixed in #15754 and #15753

[2016-05-30 13:12] AlwynC commented on #15733
@minggo The sample application using cocos2d-x v3.11.1 reproducing the crash is ready.How do I share it?

[2016-05-30 14:02] stammen commented on #15748
@crazyhappygame I will take a look at this issue.

[2016-05-30 16:20] crazyhappygame commented on #15749
Yes. For Windows Phone 8.1. (I did not check Windows 8.1)
The same is for cpp.tests
1. Open. cocos2d-x-3.11\build\cocos2d-win8.1-universal.sln
2. Select cpp-tests.WindowsPhone
3. build, create package - Visual Studio Project->Store->Create App Packages
4. Launch Windows App Certification

p.s.
I think that it would be good to add step 4 to CI and check after every change.
Do you know how to "Visua

[2016-05-30 16:21] crazyhappygame commented on #15748
Is it possible to run those tests after every build in CI? I checked it once for some older cocos version and it also fails ....

[2016-05-30 21:57] jmclaveria commented on #15652
HTC Desire 800 is 5.0.2, I don't know Samsung OS version, users didnt report.

I tried with both engines, and tested with NuPlayer and AwesomePlayer with same laggy results.

[2016-05-30 22:26] slackmoehrle commented on #15691
I'll test again!

[2016-05-31 00:39] #15741 closed, assigned to nobody

[2016-05-31 01:22] minggo commented on #15691
I think you can sync to latest code to test.

[2016-05-31 01:28] minggo commented on #15733
@AlwynC it is better if you can for cocos2d-x and create a branch for it, or you can paste some codes that i can used it in `cpp-empty-test` to reproduce it

[2016-05-31 02:06] weiwest commented on #15745
I have work it out，cause i open anti-aliasing.

[2016-05-31 06:15] jasonz1987 commented on #15629
is luasocket support ipv6?i cant not connect server in my game?

[2016-05-31 06:17] GodHong opened #15756 "CCTableView.cpp _moveCellOutOfSight method issue"
Hello, I get a trouble with this file.

when I set a duration action in a cell , when I scroll out of sight, it will be stopped by this code
this->getContainer()->removeChild(cell, true) in  _moveCellOutOfSight method. Finally the action I set in cell is not finished.

BTW,It seems like there are 2 semicolons at the end of this code in your repository.

I think if we should change this code to thi

[2016-05-31 06:24] minggo commented on #15629
@jasonz1987 I am not sure. I din't test luasocket. It is missed. But we use source code of luasocket, so i think if it doesn't support IPv6-only, then we can do nothing.

[2016-05-31 07:27] AlwynC commented on #15733
@minggo I've pushed the sample application reproducing the crash on my forked cocos2d-x Github repository https://github.com/AlwynC/cocos2d-x/tree/AlwynC_iOSKeyboardCrash on the Alwyn_iOSKeyboardCrash branch.The folder for the application is added as MyGame within the repository folder.Please have a look.

[2016-05-31 07:34] AlwynC commented on #15733
The crash occurs due to creating a CCEAGLView property with strong semantics in RootViewController.mm as @property(strong,nonatomic) CCEAGLView *eaglView.Since manual reference counting is followed,if we do not manually release the CCEAGLView property using self.eaglView = nil in RootViewController.mm file,the dealloc method of CCEAGLView-ios.mm is not called since the CCEAGLView instance in RootV

[2016-05-31 07:38] AlwynC commented on #15733
To fix this,we can perform the set up for CCEAGLView in RootViewController.mm in the viewDidLoad method,in the same way as I have done in the sample project and manually release the CCEAGLView in viewDidDisappear method.In this way,there will be no crash on the iOS screen's textfield.I can provide the fix in the next commit if you say so.

[2016-05-31 07:42] minggo commented on #15733
@AlwynC Thanks. I will think about it when i have time. I am busy right now.

[2016-05-31 10:44] AlwynC commented on #15733
@minggo Sure.I've anyways added the fix for the crash on the sample application on https://github.com/AlwynC/cocos2d-x/tree/AlwynC_iOSKeyboardCrash_Fix and refined the code on the actual cocos2d-x cpp templates for iOS on https://github.com/AlwynC/cocos2d-x/tree/refine_cpp_template_for_iOS. Please do have a look and do get back to me if you have any concerns.Thanks.

[2016-05-31 13:01] kuket15 opened #15757 "CRT Memory Leaks v 3.11.1"
In Visual Studio 2015 Community Edition, the CRT reveals memory leaks in Cocos2d-x 3.11.1.

1) Create a new project with the command
`cocos new -l cpp -p com.test.leaks -d .\Desktop TestLeaks`

2) Change main.cpp under proj.win32 like the following

[code]

3) Run the application and close it with the close button. In output window I can see something like:

[code]

[2016-05-31 13:06] joewan commented on #15661
audio engine always goes wrong on ios device in our game，can you add some key logs and we can reproduce this problem easily，then we give you the log information.

[2016-05-31 13:13] GrzegorzDuraj commented on #15404
Hi Bartek,

BTW even if set preprocesson to use BOX2D, I think cocos2dx still use Chipmunk. But I have to check it once again.

/br Greg

[2016-05-31 15:24] erradicated commented on #15652
I have the same perfomance issues on LG G4 Android 6, ~10-12 frames on ScrollView, where alll other devices get 60+ and old ones 30+.
In main game scene it has 20-30 fps, where others (Samsung Galaxy Note4, xiomi mipad2) are ok (60+).

[2016-05-31 16:04] alfogrillo opened #15758 "[Cocos2d-x 3.11, Android]: SimpleAudioEngine::playEffect() stops previous playing effects!"
When a relatively long (3-4 seconds) sound effect is playing while a burst of little sounds are playing, the long sound likely will stop its execution. This happens on Android (5.1.1) and does NOT happens on iOS.

The bug can be reproduced with this code to add to Hello World proejct:

[code]

[2016-05-31 16:14] alfogrillo commented on #15708
https://github.com/cocos2d/cocos2d-x/pull/15735 seems to work! :-)

[2016-05-31 18:09] niekvse commented on #15652
Interesting: the LG G4 is probably reasonably similar to the Nexus 5x: both are made by LG, in a similar timeframe, and both use the Snapdragon 808. Definitely worth getting to the bottom of this!

[2016-05-31 19:48] slackmoehrle commented on #15691
@minggo

it works for `cpp-tests`:
![screen shot 2016-05-31 at 2 54 07 pm](https://cloud.githubusercontent.com/assets/7491758/15686971/7521dd46-2740-11e6-9ad4-08a46e2e629b.png)

and `cocos new ...` too:
![screen shot 2016-05-31 at 3 47 33 pm](https://cloud.githubusercontent.com/assets/7491758/15688245/0ba6b6fa-2747-11e6-8373-bf518ad48403.png)

The only issue I ran into is the well documented **fmo

[2016-05-31 20:11] alfogrillo opened #15759 "[Cocos2d-x 3.11, Linux]: SimpleAudioEngine::setBackgroundMusicVolume has no effect!"
The function SimpleAudioEngine::setBackgroundMusicVolume() has no effect under Linux.
Even if it is called:
`SimpleAudioEngine::getInstance()->setBackgroundMusicVolume(0);`
Tha background music volume remains to maximum.
The function seems to work properly under Android and iOS.

[2016-05-31 23:33] xiongdi9456 commented on #14276
The issue still exists at cocos2d-x 3.11

[2016-06-01 02:55] GodHong commented on #15756
:(

[2016-06-01 10:11] Kotaiba commented on #15661
Hi, you guys doing great job on cocos2d-x but why the bugs on audio, i have big game and the game is bug free except the audio engines bugs the bug above and another bug is the game crash on
 (
AudioCache.mm file ios random crash happen around every 20 to 100 lunch it crashes 1 time on iphone 6 cocos2d-x 3.10

`void AudioCache::readDataTask()`
line 160
        `alGenBuffers(1, &_alBufferId);`
)

[2016-06-01 10:51] joewan commented on #15661
I have met the same problem, our game is also bug free except the audio engines bugs. @Kotaiba

[2016-06-01 11:58] wsyfire opened #15762 "SimpleAudioEngine::playEffect() pan参数无效"
用的是SimpleAudioEngine的
unsigned int playEffect (const char \*   filePath,bool  loop = false,float  pitch = 1.0f,float      pan = 0.0f,float      gain = 1.0f )     接口
想实现切换左右声道，但是打出来的包发现没有效果，还是立体声，请问是什么问题？感谢
说明：ios上无效，android有效

[2016-06-01 12:44] minggo commented on #15661
Hi guys, i need your help to reproduce the bug. Now i can not reproduce it.

[2016-06-01 13:16] minggo commented on #15691
@slackmoehrle yep, i know it. So i close this one since the compiling issue is fixed.

[2016-06-01 13:16] #15691 closed, assigned to minggo

[2016-06-01 13:18] minggo commented on #15652
@erradicated Thanks for the information.
@niekvse Good finding.

But it is a pity that i don't have Nexus 5x and LG G4.

[2016-06-01 13:34] minggo commented on #15708
@Drakon-Cocos Thanks.

[2016-06-01 13:34] #15708 closed, assigned to nobody

[2016-06-01 15:45] Dalmax commented on #15749
I got the exact same error, I confirm it is still present also in the cocos2d-x 3.11.1

[2016-06-01 17:32] Kotaiba commented on #15652
I have performance issue in our game on android too the game run 60 fps on all ios devices and run around 30 fps on android ,Please if you need us to test anything let us know .(Tested on Samsung s06 note 4 ,note 2 )

[2016-06-01 17:48] Kotaiba commented on #15661
@minggo  please let me know if you need me to do anything for you I'm all yours

[2016-06-02 02:47] minggo commented on #15661
@Kotaiba Thanks. You are appreciated if you can give me an example to reproduce the issue easily.

[2016-06-02 03:24] minggo opened #15763 "[desktop]depth test is disabled when application size changed"
Can refer to [this ticket](http://discuss.cocos2d-x.org/t/mac-version-rejected-by-apple/28002) for detail information.

[2016-06-02 03:32] minggo commented on #15733
cocos2d-x doesn't create a CCEAGLView property in RootViewController.mm. So it is your code created it? I think you should be take care of it for your code.

[2016-06-02 05:33] AlwynC commented on #15733
@minggo Yes cocos2d-x does not create a CCEAGLView property in RootViewController.mm.It is created as local variable in AppController.mm and the RootViewController is presented as the first scene of the application by default in cocos2d-x.That is how it is in the cpp-templates for iOS.But generally,when we build a game using cocos2d-x on iOS,we normally have a few native iOS screens on top of whic

[2016-06-02 06:08] minggo commented on #15733
@AlwynC May be we should uncomment [these codes](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/ios/CCGLViewImpl-ios.mm#L118) to release eaglview. But i don't know why it is commented. And i think it is something related with using cocos2d-x with cocoa.

[2016-06-02 06:32] minggo commented on #15577
change cocos console to clang: https://github.com/cocos2d/cocos2d-console/pull/350

[2016-06-02 06:48] zmox opened #15767 "websocket receive package size > 1023 error."
win32  platform,  if server send msg size > 1023
WebSocket::onClientReceivedData

[code]

the log is :
remainingSize: 0, isFinalFragment: 0

and just receive one package size = 1023

but other platform can receive more than one package

[2016-06-02 06:59] mogemimi commented on #15426
I've submitted a new PR #15766

[2016-06-02 07:27] Bilalmirza commented on #15652
hey,
 I've previously reported http://discuss.cocos2d-x.org/t/cocos2d-x-and-android/26921/19

Clipping nodes have a big performance issue.

I almost have my report ready for performances on different devices, I will probably share it by the end of today!

Thanks

[2016-06-02 07:49] minggo commented on #15738
Done in #15768

[2016-06-02 08:10] ruifly2012 opened #15770 "3.11.1 xcode 新建工程 #include "cocostudio/CocoStudio.h" 出错"
提示找不到文件，怎么解决

[2016-06-02 08:12] VizXu commented on #15770
不是#include<cocostudio/CocoStudio.h>吗？

[2016-06-02 08:17] ruifly2012 commented on #15770
@VizXu #include "cocostudio/CocoStudio.h"在vs工程上引入每问题，在xcode上就报错，不清楚xcode哪里要配置下

[2016-06-02 08:19] VizXu commented on #15770
这个你去stackoverflow上问问

[2016-06-02 08:20] minggo commented on #15763
fixed in #15771

[2016-06-02 08:31] cmzx3444 commented on #15770
#include "editor-support/cocostudio/CocoStudio.h"

[2016-06-02 08:45] Bilalmirza commented on #15652
Sound definitely has performance issues on android and win32.

For android what is the best type to use for images. Currently I'm using png. Should I try and switch to something else? So i cant test that as well?

Thanks

[2016-06-02 08:46] minggo commented on #15504
I can not reproduce it.
I can compile cpp-empty-test, cpp-tests, and i can compile and run with new cpp project on windows 7 with VS2013.

[2016-06-02 08:46] #15504 closed, assigned to nobody

[2016-06-02 08:52] minggo commented on #15739
fixed in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/225
update deps to cocos2d-x in #15772

[2016-06-02 09:05] #15763 closed, assigned to minggo

[2016-06-02 09:34] zilongshanren commented on #15770
@ruifly2012  楼上正解，所有引擎的包含目录都要从 `cocos` 目录算起。

[2016-06-02 09:34] #15770 closed, assigned to nobody

[2016-06-02 10:11] Kotaiba commented on #15661
@minggo i Emailed you a project the project is crashing and showing `cocos2d::experimental::AudioPlayer::play2d(cocos2d::experimental::AudioCache *):alGenBuffers error code:a003` message randomly

[2016-06-02 10:18] minggo commented on #15661
@Kotaiba Thanks, i received it.

[2016-06-02 13:45] j-jorge commented on #15652
Same problem here, with a Nexus 5X. There are a lot of calls to `Renderer::drawBatchedTriangles()` which are triggered by a call to `flush()` when `Renderer::processRenderCommand()` receives a  `CustomCommand`.

In my case these custom commands come from `ClippingNode`, `ScrollView`, `SkeletonRenderer` (from Spine) and maybe from `Label`. The more I disable these `CustomCommands`, the higher the f

[2016-06-02 16:31] Dimon4eg commented on #14861
Solution which works for me [on forum](http://discuss.cocos2d-x.org/t/problem-when-use-rendertexture-newimage-the-image-is-black-empty/13636/10)

call
`Director::getInstance()->getRenderer()->render();`
before
`render->newImage();`

[2016-06-03 01:28] #15738 closed, assigned to minggo

[2016-06-03 01:31] jonnyijapan opened #15776 "cocos2d::Texture2D addImage crashes if fed a bad cocos2d::Image"
cocos2d::Texture2D addImage crashes if fed a bad cocos2d::Image

Confirmed to crash with Cocos2d-x 3.10...
Sorry I didn't test with Cocos2d-x 3.11.

How to reproduce:

[code]

[2016-06-03 01:35] #15739 closed, assigned to minggo

[2016-06-03 06:08] ghost commented on #15199
IT DOESN'T WORK

[2016-06-03 06:15] dumganhar commented on #15661
@Kotaiba , thanks for your feedback. I'll dig into the issue. :)

[2016-06-03 07:57] daiyijun opened #15779 "libwebsocket would crash after Ipv6 update"
# Env: VS2015, Windows7.1

After update the libwebsocket lib for IPv6, program would crash when initialize websocket (lws_create_context). I think the reason is that websockets.lib is compiled by VS2013. Through VS2015 can link the lib, but the VS2015 and 2013 use different CRT may cause crash.
I use VS2015 compile libwebsocket.lib to work around this issue. Maybe it would be better if we can chan

[2016-06-03 10:21] zilongshanren opened #15780 "UIScrollBar should cache the texture created with base64 encoded images"
And it should reuse the textures when needed.

And it is also the same with UIPageViewIndicator

[2016-06-03 10:48] ricardoquesada opened #15781 "migrate android 3rd party libs to clang"
migrate android 3rd party libs to clang

[2016-06-03 11:46] Bilalmirza commented on #15652
Besides custom commands... when i turn off sound in my game i gain around 20fps :)

[2016-06-03 11:49] Bilalmirza commented on #15652
SkeletonRenderer causes no problems at my end. I have tons of spine objects spawn at all times

[2016-06-03 11:55] Bilalmirza commented on #15652
Big images cause a hit to the fps.
small images scaled to big size also cause performance issues.

These cases are well handled by IOS and no effect to performance.

[2016-06-03 12:23] AlwynC commented on #15733
@minggo I tried out the solution you suggested above to release eaglview for two cases-
1.When CCEAGLView is created as a local variable - the above solution leads to a crash since a release is being sent to an already autoreleased instance of CCEAGLView.

2.When CCEAGLView is created as a property with strong/retain semantics as @property(strong,nonatomic) CCEAGLview *eaglView or @property(retain

[2016-06-03 14:13] slackmoehrle commented on #15199
It does work, there are so many documented questions about it. Can you show your build settings and errors?

[2016-06-03 19:00] jie-meng opened #15782 "cocos2dx v3.11 [lua] [Android] audio.playMusic() cannot find mp3 file"
cocos2dx version: v3.11
language: lua
platform: android

mp3 was put under 'res' dir.

audio.playMusic() can not make any music, adb log shows java.io cannot find file exception.

audio.playSound() works well.

On desktop

[2016-06-03 19:04] jie-meng commented on #15782
I also test it with cocos2dx version v3.11.1, bug still there.

[2016-06-03 19:04] jie-meng commented on #15782
[code]

[2016-06-03 19:46] ricardoquesada commented on #15781
info about clang: https://developer.android.com/ndk/guides/standalone_toolchain.html

[2016-06-03 19:48] alfogrillo opened #15783 "[Cocos2d-x 3.11] NodeGrid actions don't work correctly with content scale factor < 1"
NodeGrid actions don't work correctly with content scale factor (csf) < 1
(maybe also with csf > 1, I haven't tested this case).
The children of the NodeGrid are partially clipped or, worse, not correctly drawn.
Here the core code snippet ("Liquid" action is only an example, the problem remain with other actions):

[code]

Content Scale Factor = 0.5f (artifacts!)
![csf-0 5](https://cloud.githubuse

[2016-06-03 20:55] Shulepov commented on #15758
As i know currently `SimpleAudioEngine` internally implemented on android using `SoundPool`. And cocos-team allowed it to play `5` sounds simultaneously (`3` on GT-I9100). Possibly it has some issues on some devices so them can play less sounds (just assumption).

You can try to use `experimental::AudioEngine` instead. It works nice on android for me.

[2016-06-03 21:12] alfogrillo commented on #15758
Thanks Shulepov
Probably the interruption is due to the sound threshold!
I will do some other test! :-)

I chose `SimpleAudioEngine` (instead of `AudioEngine`) because I needed to manipulate the "pitch" property of the sounds effects (to simulate time slow down).
If I remember well `AudioEngine` does not support sound pitch! :-(

[2016-06-03 21:31] ricardoquesada commented on #15781
relevant: https://code.google.com/p/android/issues/detail?id=206021

[2016-06-03 22:15] ricardoquesada commented on #15781
my WIP branch: https://github.com/ricardoquesada/cocos2d-x-3rd-party-libs-src/tree/clang_android

[2016-06-03 22:46] Shulepov commented on #15733
I think issue in current implementation is next:
`_viewController = [[RootViewController alloc] initWithNibName:nil bundle:nil];`

There is no `release` in dealloc or `autorelease` of `_viewController`. So it's view also not released. After fixing that and trying to call `Director::end` - CCEAGLView was successfully deallocated.

Issue with releasing `eaglView` property belongs only to your code..

[2016-06-03 23:02] Shulepov commented on #15733
@minggo this `release` line is commented properly, because `GLViewImpl` not retains it, so it shouldn't release it.

[2016-06-04 06:10] AlwynC commented on #15733
@Shulepov Yes issue with releasing eaglView strong/retain property belongs to my code as you said.But if I somehow miss out on releasing it when closing the game scene,then the cocos2d-x engine should be able to handle it. You've mentioned something about touches.This issue is not related with touches and releasing CCEAGLView after next touch.It's only about releasing a strong,retained CCEAGLView

[2016-06-04 06:22] jie-meng commented on #15782
I checked the source of cocos2dx 3.9 (which is ok) and 3.11.1, found createMediaplayer(final String path) method are different.

3.9

[code]

3.11.1

[code]

These lines removed from v3.11

[code]

And

[code]

Does this line indicate that I should use resource(image/music) with a relative path from the directory "assets" instead of "res"?

I change

[code]

to

[code]

then it works.

So why does

[2016-06-04 09:29] Shulepov commented on #15733
Actually, i think it may be a good idea to move CCEAGLView initialization into RootViewController.

But want to make few comments:
- is there a real need to create private property for `eaglView`? Even in that case it can be released in `dealloc` as usual. If you'll follow that rule - things that was retained should be released - then there are wouldn't appear any issues. Or you can enable ARC sup

[2016-06-04 13:05] mogemimi commented on #15426
I submitted #15775 and #15784

[2016-06-04 17:18] traviswimer opened #15785 "Android project.properties file may have typo"
In the templates for the android `project.properties` files, I think the comments may contain an incorrect statement. It says:

[code]

I'm guessing this was meant to have the same comment as in `local.properties`:

[code]

I'll gladly make a pull request if someone can verify that this is a mistake.

Example file:
`cocos2d-x/templates/cpp-template-default/proj.android-studio/app/project.propertie

[2016-06-05 00:19] crazyhappygame commented on #15637
#15746 It will be very useful for windows phones

[2016-06-05 01:50] eray-z opened #15786 "Binary Template"
Hi. Can you add binary templates without needed gen-libs command in next version?

[2016-06-05 07:10] AlwynC commented on #15733
@Shulepov That's what I'd suggested before-Moving CCEAGLView initialization to the root view controller from the AppController.There are many ways to initialize the CCEAGLView either as a private property,or by local initialization etc. which is decided by the developer who is building his application using cocos2d-x.What my point is that for whichever approach the developer follows to create the

[2016-06-05 08:18] flyingglass opened #15787 "app maybe hang when i use simulator on mac"
the simulator maybe hang when i use it on mac platform.
when i output a large log, the simulator hang.
I checked the code and found that simulator use NSPipe to redirect log to textview.but, the readend and writeend of pipe in the same thread.

Think about it.  What does NSFileHandle do when it has read some data in the background?  It queues up a message for the main thread (or whatever thread yo

[2016-06-05 10:19] Shulepov commented on #15733
@AlwynC i don't think that cocos2d-x can properly handle memory issues introduced by the developers. To find them should be used profiling instruments. Though cocos2d-x can try to hide some issues that can appear by making cleanup of CCEAGLView when `Director::end` called - so memory leaks still will be there, but without crashes. But that's also questionable.

Btw moving to ARC is quite easy - ht

[2016-06-06 02:21] minggo commented on #15785
About the comment, it is generated by Eclipse. And we need this file to make sure `cocos2d/cocos/platform/android/java` is depended on correctly, so that's why it is traced by git.

[2016-06-06 02:23] minggo commented on #15786
Did you mean provide binary version of cocos2d-x in the repo too?

[2016-06-06 02:25] minggo commented on #15787
@2016flyinbed Sorry, which file does the codes to be added to?

[2016-06-06 02:34] jasonchin commented on #15709
Came across the same problem. The fix is in CCUIEditBoxIOS.mm:

changing lines 205-207 from

[code]

to

[code]

Not sure about android

[2016-06-06 02:40] flyingglass commented on #15787
/tools/simulator/frameworks/runtime-src/proj.ios_mac/mac/SimulatorApp.mm

the above code still has some problem, when the size of log > 4096(maybe the pipe capacity on my
mac), the app will not hang and works well, but the parts of larger than 4096 can not output to textview

[2016-06-06 03:01] dumganhar commented on #15652
@iPruch , I have reproduced low FPS performance issue on Nexus 5X, I'll try to find out what the problem is. :)

[2016-06-06 03:07] vkreal commented on #15652
I have same issue with low FPS on Nexus 5X

[2016-06-06 03:31] minggo commented on #15709
Android doesn't have the issue.

[2016-06-06 03:53] minggo commented on #15709
@jasonchin Will you please send a pull request?

[2016-06-06 05:25] AlwynC commented on #15733
@Shulepov I'll try out the ARC transition for iOS as mentioned in #13937 ,and see if that would be useful to handle memory issues introduced by developers.

[2016-06-06 05:26] jasonchin commented on #15709
@minggo Sorry, I don't have git or the repository setup so I can't. Thought I would just confirm the bug and share the fix.

[2016-06-06 05:48] minggo commented on #15733
@AlwynC Yep, cocos2d-x can not resolve memory issues caused by developer codes.

[2016-06-06 05:52] minggo commented on #15709
@jasonchin Got it, i will send a PR to fix it.

[2016-06-06 06:00] minggo commented on #15709
Fixed in #15788

[2016-06-06 07:11] AlwynC commented on #15733
@minggo @Shulepov I tried with ARC enabled as mentioned in #13937 but still there is a crash when CCEAGLView is created as a strong property and not released in RootViewController.mm.Hence if strong/retain properties are created by the developer in RootViewController,the developer has to compulsorily perform the cleanup for the strongly retained property by himself when closing the cocos2d-x game

[2016-06-06 07:14] AlwynC commented on #15733
@minggo I have a suggestion.Can we have a more detailed assertion during the crash due to such memory issues which will notify the developer that he has not released something which he has retained as part of his code?I think this way debugging such memory issues will be easier for the developer.

[2016-06-06 07:17] minggo commented on #15733
@AlwynC I have not idea how to add the asset codes.

[2016-06-06 07:41] jmclaveria commented on #15652
@minggo @dumganhar please, let us know if any progress :)

[2016-06-06 07:54] dumganhar commented on #15652
@Progress updated: I found out that `glBufferData` on `Nexus 5x` is nearly 10 times slower than other less powerful devices.

[2016-06-06 08:11] dumganhar commented on #15652
I'll make a demo which contains profile code. Please help to test the code on your devices to check whether your result is the same as my Nexus 5X.

[2016-06-06 08:11] Bilalmirza commented on #15652
wow! that was fast. Lets hope after this fix all performance issues are solved.(besides the sounds) :)

[2016-06-06 08:21] yunmin97 opened #15789 "AudioEngine接完电话出问题"
使用AudioEngine播放音乐，接完电话回到游戏就没有声音了，调试发现调用play2d播放能返回一个有效ID（非-1），但是就是播放不出声音来！！！

cocos2dx版本：cocos2dx3.8.1版本
ios：8.x到9.x都有测出来

[2016-06-06 08:28] minggo opened #15791 "update glfw to 3.2"

[2016-06-06 08:41] AlwynC commented on #15733
@minggo It's just CCAssert.I've added the assertion for this crash on https://github.com/AlwynC/cocos2d-x/tree/AlwynC_iOSKeyboardCrashFix. Could you please have look?Also,I think we can move the CCEAGLView setup from AppController.mm to RootViewController.mm as I've done in https://github.com/AlwynC/cocos2d-x/tree/refine_cpp_template_for_iOS. Please have a look.

[2016-06-06 08:45] minggo commented on #15733
@AlwynC Sorry, i can not open the link. Could you just show me the commit?

Sounds good to me, will you send a PR for it?

[2016-06-06 09:01] AlwynC commented on #15733
@minggo Here is the commit link. https://github.com/AlwynC/cocos2d-x/commit/b26ac5ee47bb5ac5b3126d7a967168675398c930.

[2016-06-06 09:26] minggo commented on #15782
No, resources is relative to `Resources` folder. On Android, all resources are copied to `assets`.

[2016-06-06 09:26] #15782 closed, assigned to nobody

[2016-06-06 09:32] minggo commented on #15758
No matter SimpleAudioEngine or Audio Engine, there is limitation of sound instance limitation.

[2016-06-06 09:32] #15758 closed, assigned to nobody

[2016-06-06 09:39] Shulepov commented on #15733
I think main issue here was of using `CCEAGLViewImpl` from `CCEAGLView` after `Director::end` was called. And usually it's accessed via `Director::getInstance()->getOpenGLView()`. Possibly some assertions may be added to `getOpenGLView` to check that it's not null.

P.S.
@AlwynC sorry for stupid question, but have you enabled ARC in build settings after applying those changes?

[2016-06-06 09:43] AlwynC commented on #15733
@minggo Submitted a pull request for cpp-template refining at #15792 .

[2016-06-06 09:44] rynkowsg commented on #15709
Originally I was referring to the problem that "EditBox by default uses capital letters" for all characters. And the problem is common for both Android and iOS (INITIAL_CAPS_ALL_CHARACTERS is default flag).

As I wrote I used SENSITIVE flag as a partly worked workaround. @minggo, in #15788 you improved that workaround - for SENSITIVE flag all characters are small. But SENSITIVE should focus on bei

[2016-06-06 09:47] dumganhar commented on #15652
I wrote a demo and added some profile code, please help us to check the time cost of glBufferData function on your device which has low FPS, thanks!

# How to Test?
- Checkout a branch and pull https://github.com/dumganhar/cocos2d-x/tree/glBufferData
- Open terminal and goto tests/cpp-empty-test folder,
- Run command:

  cocos run -p android -m release  (Be sure to make a release build!)
- Please

[2016-06-06 09:51] dumganhar commented on #15652
Please give me the feedback after you test. Thanks a lot.

BTW, currently, VAO support was disabled by default, when i enabled it, it crashed on `Nexus 5x`.
And the crash information is :

[code]

And I found that `glMapBuffer` causes the crash. Any ideas?

[2016-06-06 09:54] dumganhar commented on #15652
@Bilalmirza , I think `sound issue` is another problem. Anyway, I'll also try to find out the reason. :)

[2016-06-06 09:59] zhaijialong commented on #15652
@dumganhar
`glMapBuffer` is not in GLES 2.0 core profile, you can only use `glMapBufferOES` when your device supports the extension `GL_OES_mapbuffer`.

[2016-06-06 10:07] dumganhar commented on #15652
@zhaijialong , in fact , cocos2d-x already uses `glMapBufferOES`,
It's a macro definition:
`#define glMapBuffer glMapBufferOES` in `cocos/plaftorm/android/CCGL-android.h`

[2016-06-06 10:07] minggo commented on #15709
@rynkowsg Sorry for my misunderstood. But @zilongshanren told me that he tested on Android and didn't have the problem.

I think it is reasonable, and i think UPPERCASE_ALL_CARACTERS is needed too, because you may want to change to upper case after you set lower case.

[2016-06-06 10:08] rynkowsg commented on #15709
Uppercase is there already:

[code]

and as I mentioned before this is a default flag for EditBoxes.

[2016-06-06 10:10] dumganhar commented on #15652
[CppEmptyTest-release-signed.apk.pdf](https://github.com/cocos2d/cocos2d-x/files/300143/CppEmptyTest-release-signed.apk.pdf)

You could also download the attachment for testing. please rename `CppEmptyTest-release-signed.apk.pdf` to `CppEmptyTest-release-signed.apk` and install.

[2016-06-06 10:11] minggo commented on #15709
Yep, you are right.
I have to discuss with @zilongshanren about the feature.

And the issue is
- Need a way such as LOWERCASE_ALL_CARACTERS
- and use LOWERCASE_ALL_CARACTERS by default

right?

[2016-06-06 10:12] rynkowsg commented on #15709
Yep, exactly.

[2016-06-06 10:19] rynkowsg commented on #15709
Just one thing, LOWERCASE_ALL_CHARACTERS not LOWERCASE_ALL_CARACTERS. I did a typo  in my previous comment. Sorry.

[2016-06-06 10:20] zhaijialong commented on #15652
@dumganhar
A define is not enough, you will need to use 'eglGetProcAddress' to load it dynamically on android , and make sure your device support the extension

[2016-06-06 10:23] dumganhar commented on #15652
@zhaijialong , thanks. :)

[2016-06-06 10:27] AlwynC commented on #15733
@Shulepov Turns out that I had not enabled ARC in build settings after applying the changes in #13937 earlier.Hence I still got the crash.I tested it out now with ARC enabled in build settings along with the ARC changes in code as you've mentioned.And I'm very happy to say it works pretty good!!!Even if I don't release the strongly retained CCEAGLView in RootViewController.mm manually,with ARC ena

[2016-06-06 10:29] niekvse commented on #15652
I tested on both the HTC One M7 (2013), and the Nexus 5x. Seems to confirm what you said. Could it be a configuration issue? (EGL) I doubt that something as fundamental as glBufferData would really be that slow on this device, unless perhaps something was not configured right, or the particular data that's used isn't optimal for this device.

HTC One M7:

[code]

Nexus 5x:

[code]

[2016-06-06 10:34] dumganhar commented on #15652
@niekvse , thanks for your feedback. I hope it's a configuration issue too. Otherwise, if it's a bug of OpenGL driver, this issue will be difficult to be fixed. :(

[2016-06-06 10:49] iPruch commented on #15652
LG G3 (Android 6) with 40-55 FPS fluctuating a lot, sometimes reaching 60 FPS.

[code]

[2016-06-06 10:58] dumganhar commented on #15652
@iPruch , the result of LG G3 seems not bad. At least, glBufferData doesn't cost much like which on `Nexus 5X`.

[2016-06-06 11:04] iPruch commented on #15652
@dumganhar The LG G3's fluctuating FPS problem must be something different to this. I created an empty project, built an APK and ran it. First seconds it's 60 FPS, but after a while it starts fluctuating from 45 to 60 FPS (~5 seconds at the lower FPS value, less than 1 second at 60 FPS, repeat). This started happening since I updated to Android 6.

[2016-06-06 11:16] Bilalmirza commented on #15652
i have access to 30+ android devices let me know if any devices you want to test this on. thanks

[2016-06-06 11:41] niekvse commented on #15652
@dumganhar I agree this should be a configuration issue: "Depending on the platform, failing to select a suitable EGLConfig, particularly in the case of colour depth, could potentially reduce performance or cause a runtime failure. For example, in the case of mismatching colour depth/format the GPU may have to render to an off-screen temporary buffer (which requires extra memory) and then the CPU

[2016-06-06 12:31] dumganhar commented on #15652
@niekvse , thanks for your tips, I will try other egl configurations tomorrow. :)

[2016-06-06 12:31] dumganhar commented on #15652
@Bilalmirza , thank you. :)

[2016-06-06 13:29] joewan opened #15793 "Serious Memory Leak in CCLabel"
now we found a serious memory leak in CCLabel. if we create a cocos2d::Label, it will create two custom listeners: _purgeTextureListener && _resetTextureListener. and the two listener will always in memory, it will cause serious memory leak when we create many labels. @minggo pls help us.
now.  and it is very easy to reproduce this problem.

[2016-06-06 13:43] dumganhar commented on #15652
After upgrading nexus 5x to `Android N`, this issue is fixed. Nexus 5x got 55fps on android N.

[2016-06-06 14:13] niekvse commented on #15652
Interesting result! Though, 55fps is still slightly low.. I don't know why this phone can't just do 60fps, when an old HTC One can easily do it.

How is the result from your debug info test code?

[2016-06-06 14:22] dumganhar commented on #15652
@niekvse , here it is:

[code]

It seemed to be not very stable FPS, sometimes it fell to 40+ fps. :(

[2016-06-06 20:58] mogemimi commented on #15426
I've submitted #15795

[2016-06-06 21:29] Obg1 commented on #15757
Maybe it's because of the Singletons? Director, etc..

[2016-06-07 00:26] joewan commented on #15793
our cocos is 3.8.1. maybe you have solve this problem. and i will check the latest modification of CCLabel.cpp or
 EventDispatcher.cpp

[2016-06-07 00:45] wulei commented on #15742
#15767 same error? Support ipv6 is very important to my product

[2016-06-07 00:47] IgorMats commented on #12353
Bump)

[2016-06-07 00:49] wulei opened #15796 "[3.11.1 webocket] receive error"
#15742
#15767

same error? Support ipv6 is very important to my product,please help me fix this issue

@minggo @zilongshanren

[2016-06-07 01:32] minggo commented on #15767
IPv6 is not supported on Windows, please refer to https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/219

[2016-06-07 01:33] minggo commented on #15796
Please don't create duplicate issues.

[2016-06-07 01:33] #15796 closed, assigned to nobody

[2016-06-07 01:41] joewan commented on #15793
https://github.com/cocos2d/cocos2d-x/commit/ffb2cfa9e0349c05853a55f74120b6b494fab756  we have fixed this bug.

[2016-06-07 01:41] #15793 closed, assigned to nobody

[2016-06-07 01:51] joewan commented on #15793
![image](https://cloud.githubusercontent.com/assets/1213438/15843460/e03ae6c8-2c94-11e6-8900-11891d129cca.png)
`void FontAtlas::purgeTexturesAtlas()
{
    if (_fontFreeType && _atlasTextures.size() > 1)
    {
        auto eventDispatcher = Director::getInstance()->getEventDispatcher();
        eventDispatcher->dispatchCustomEvent(CMD_PURGE_FONTATLAS,this);
        eventDispatcher->dispatchCustomEv

[2016-06-07 01:55] minggo commented on #15793
Sorry, i have not idea.
@zilongshanren do you know it?

[2016-06-07 01:57] joewan commented on #15793
and I also think it is a bad design to destroy resource in destructor function.
![image](https://cloud.githubusercontent.com/assets/1213438/15843627/36a6ee16-2c96-11e6-8ef7-6e7056e87597.png),these two function calls are very dangerous,

[2016-06-07 02:02] vkreal commented on #15793
@joewan can you please share why you think it's a bad design to destroy resource in destructor function?

[2016-06-07 02:17] zhaijialong commented on #15652
@dumganhar
your apk is 30 - 60 fps on my Nexus 4, not stable. Can you add the network permission to the apk and re-upload it, so we can profile it to find what happened(almost all android profiler tool need network permission)? I mean add `<uses-permission android:name="android.permission.INTERNET"/>` to `AndroidMenifest.xml`.

[2016-06-07 04:43] minggo commented on #15709
fixed in #15797

[2016-06-07 05:46] dumganhar commented on #15652
[CppEmptyTest-release-signed-160607-internet.apk.pdf](https://github.com/cocos2d/cocos2d-x/files/302513/CppEmptyTest-release-signed-160607-internet.apk.pdf)
@zhaijialong , it was updated.

[2016-06-07 06:08] zmox commented on #15767
@minggo

so, how to fix this?

[2016-06-07 06:12] minggo commented on #15767
I have not idea, may be we should update websocket to latest version to have a try.

[2016-06-07 06:14] Bilalmirza commented on #15652
I've tested this on nexus 4.... same result 30-60 fps, not stable.

[2016-06-07 06:27] zero1234567 opened #15798 "pointer is not initialized !!!!"
class TextureFrame
{
    cocos2d::Sprite\* _sprite;
}
TextureFrame::TextureFrame()
    : _textureName("")
{
     // _sprite is not initialized !!!!
}

[2016-06-07 08:16] zhaijialong commented on #15652
@dumganhar
I downloaded new apk, but it seems still no network support....
![1](https://cloud.githubusercontent.com/assets/2784749/15850539/274b55da-2ccb-11e6-882d-9a258a9960fd.PNG)

[2016-06-07 08:38] haosen opened #15799 "[v3.11,web, iOS]ccui.UIScrollView's childnode not display in cocos2d-html, but normally display in cocos2d-x jsb"
problem:

cocos2d engine version: **v3.11**
platform: **web, iOS**

[2016-06-07 08:45] Longpc commented on #15024
sample problem here.
Currently, I try to make chat message list using scroll view.
When user add more message I need to increment my scrollview container size.
If i use setInnerContainnerSize(), All old message view (Custom sprite) fall to wrong position and scroll view auto scroll to top @@

[2016-06-07 09:38] niekvse commented on #15652
@dumganhar perhaps you can use the android-ndk-r1xx/samples/gles3jni and/or android-ndk-r1xx/samples/hello-gl2, and try to set up some (simple) example which draws basically the same thing as your sample does (using a similar amount of glBufferData calls), but without any cocos2d code in it (you can hardcode the vertex arrays, etc.). After this test, you'll hopefully be able to rule out whether it

[2016-06-07 10:16] minggo commented on #14756
all platforms except Tizen is update to 0.5.0 in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/226

[2016-06-07 10:17] minggo commented on #14756
@zilongshanren it's your turn now

[2016-06-07 11:40] pankaj-pp opened #15800 "Progress timer breaks on webgl render mode - Cocos2d-x v3.11"
New WebGL Renderer is not working properly
I have created a progress timer and added in on a sprite and when i rotate the sprite the progress timer breaks
It works properly when i render it in canvas mode.

p.s This issue is coming only on v3.11 and not on the lower versions.

[2016-06-07 12:05] GodHong commented on #15756
Anyone alive?

[2016-06-07 12:13] dumganhar commented on #15652
@zhaijialong , sorry for that. I modified the proj.android-studio/AndroidManifest.xml in AndroidStudio. But the `cocos` command uses proj.android/AndroidManifest.xml to build an apk. I'll upload another apk.

[CppEmptyTest-release-signed-160607-internet.apk.pdf](https://github.com/cocos2d/cocos2d-x/files/302513/CppEmptyTest-release-signed-160607-internet.apk.pdf)

@niekvse , ok, I'll write a simpl

[2016-06-07 13:12] zhaijialong commented on #15652
Hey, @dumganhar
I just took a look at your newly updated apk. I think the main reason of low fps is absolutely the VBO uploading.

唉，太累还是说中文吧。。。
现在的代码是update vbo, draw, update vbo, draw, update vbo, draw....这样的顺序执行，这是最糟糕的情况。。。你可以试着重新组织一下代码，让他以update vbo, update vbo...update vbo, draw, draw, draw...这样的顺序执行。
因为在很多移动gpu(各个实现不同，而且gl是个黑盒，很多时候确实只能猜)上，为了保证数据安全性，更新vbo是一个同步的，阻塞的行为，而且会强制等待当前驱动内部的command buf

[2016-06-07 13:24] zhaijialong commented on #15652
上边资料是powervr的，这几个图是高通的，他们应该都类似：
![1](https://cloud.githubusercontent.com/assets/2784749/15859092/2c11279a-2cf6-11e6-8437-10d2b73d0eda.PNG)
![2](https://cloud.githubusercontent.com/assets/2784749/15859093/2c4178f0-2cf6-11e6-9f4a-944e5ac3ea75.PNG)

[2016-06-07 13:48] eray-z commented on #15786
I mean the released version. I need to download released version and call gen-templates and gen-libs command for that in cocos2d-x for now. Actually I always create prebuilt project with Cocos Console. I don't understand, why we're working these factors for create prebuilt projects. So, binary template and prebuilt libraries may be added released versions? My other reason, I use my home made tool

[2016-06-07 14:03] erradicated commented on #15652
Just FYI:
- tested last apk on LG G4 & Samsung Galaxy Note 4.

LG G4 - 4.5 FPS
Galaxy Note 4 - 60 FPS

[2016-06-07 15:05] eray-z opened #15802 "Bunnymark Test between Cocos2d-x and Unity"
Hi, there.

https://github.com/eray-z/Game-Engine-Benchmarks

My test results for 60fps; (Device: Iphone 4s)
Unity v5.3.5f1 : max 800 bunnies
Cocos2d-x v3.10 : max 1800 bunnies

The results are looking good. (But unity isn't the same segment with cocos2d-x) But cocos2d-x bunnymark results isn't better then libgdx, haxeflixel...vs. I think, it must be better. Cocos2d-x is c++ based engine, it has g

[2016-06-07 15:34] alfogrillo commented on #15783
A similar wrong behavior happens when it is called:

`Director::getInstance()->getOpenGLView->setFrameZoomFactor(0.7f);`
inside `AppDelegate::applicationDidFinishLaunching`

this independently by the content scale factor!

[2016-06-07 18:11] stammen opened #15803 "ccs-res cocosui is missing CloseNormal.png"
The ccs-res cocosui folder is missing CloseNormal.png. The following test fails on win32, win10 UWP and Windows 8.1 universal.

9:Bugs Test #12 Crash after line 17:

[code]

cocosui/CloseNormal.png is missing. Please add it to ccs-res.

[2016-06-07 18:23] stammen commented on #15803
@minggo Both 9:Bugstests #12 and #13 are broken due to missing resources. They were broken by your commit https://github.com/dumganhar/ccs-res/commit/0c31b046de539d745ecd0ab522e6d45f97725c7d

Please remove the tests or replace the resources. Running Auto-test reveals these crashes.

[2016-06-07 19:43] niekvse commented on #15652
I agree this is a reason - and it may be that this has a bigger overhead on some GPU's than on others. I'm just surprised the overhead is **this** much bigger: the same code runs much slower on a modern Nexus 5x compared to an HTC One M7 (several years old).

Also, it's strange that updating the Nexus 5x to Android N makes this issue much less severe: this would suggest it's not only related to th

[2016-06-07 21:05] KingOfTheBees commented on #15652
At my company our games had been suffering performance problems on many devices from last year such as those using new Snapdragon chips. These seem similar to what many of you have seen in your own games.

We experimented and found we could resolve the issue by changing the **cocos2d::Renderer::VBO_SIZE** value in **cocos/renderer/CCRenderer.h** to **8192**. It seems like the GL implementations on

[2016-06-07 22:28] ricardoquesada commented on #15652
Interesting.
@KingOfTheBees could you please tell me which cocos2d-x version are you using and in which device did you test it? thanks.

[2016-06-08 01:24] vkreal commented on #15652
@KingOfTheBees Thank you very much! That fixed the perf issues for me!

[2016-06-08 01:43] dumganhar commented on #15652
@KingOfTheBees , good finding, I changed VBO_SIZE to 8192, the fps on Nexus 5x increased to 28, so it seems a driver issue.

[2016-06-08 01:44] minggo commented on #15803
@stammen Thanks, i will take a look.

[2016-06-08 02:03] #15709 closed, assigned to minggo

[2016-06-08 02:17] minggo commented on #15803
fixed in #15804

[2016-06-08 03:01] #15577 closed, assigned to minggo

[2016-06-08 03:10] pbs0512 commented on #15652
@KingOfTheBees Thank you!!! G4 issue is fixed. but Samsung Galaxy Note4 issue has not yet been resolved. Samsung Galaxy Note4 issue is  should work with 60 frames However, a serious frame drop begins after a certain period of time.

[2016-06-08 03:16] dumganhar opened #15805 "Need to check whether GPU supports glMapBuffer"
The code snippet in CCRenderer.cpp:

[code]

We only check whether device supports VAO, If VAO is enabled, we invoke `glMapBuffer` directly.
But it's wrong, glMapBuffer/glMapBufferOES also needs to be checked, we could find `GL_OES_mapbuffer` in GL extension string.

Maybe we need to add a function like `Configuration::getInstance()->supportsMapBuffer()`.

[2016-06-08 03:41] cryptozion opened #15806 "setup.py doesn't check ndk_root correctly on windows"
There is only sdk/ndk-bundle/ndk-build.cmd on windows platform when I download the NDK from the  The Android Studio 2.12. When running setup.py,cocos2d-x-3.11.1 only check for "ndk-build".

The correct code should be like this:

[code]

[2016-06-08 05:36] #15803 closed, assigned to minggo

[2016-06-08 06:44] KingOfTheBees commented on #15652
@ricardoquesada Our games are using cocos2d-x v 3.9. We were seeing problems on devices like the Nexus 6P, 5X and the LG G4. Common theme seemed to be they all had Snapdragon 810 or 808 processors and were on Android 5.1 or Android 6.

[2016-06-08 06:53] dumganhar commented on #15652
@all, I finally found a solution:

[code]

And leave VBO_SIZE as before (65536), you would get 60fps.
Please test and give me feedback. :)

[2016-06-08 07:19] tomisalready opened #15808 "为什么texture2d存入texturecache后，引用计数应该加1编程2的，但是还是1？"
cocos2dx版本：3.8
代码如下：
Texture2D \* TextureCache::addImage(const std::string &path)
{
    Texture2D \* texture = nullptr;
    Image\* image = nullptr;
    // Split up directory and filename
    // MUTEX:
    // Needed since addImageAsync calls this method from a different thread

[code]
# if CC_ENABLE_CACHE_TEXTURE_DATA

[code]
# endif

[code]

}

调试是看到是1，求解
![image](https://cloud.githubusercontent.

[2016-06-08 07:19] j-jorge commented on #15652
@dumganhar commenting the line does fix the framerate on my Nexus 5X indeed. Kudos :)

There's a small side effect though: calling `cocos2d::Director::getInstance()->setDisplayStats( true );` does not display the stats anymore.

[2016-06-08 07:23] jmclaveria commented on #15652
My publisher have tons of Android devices and I can't find one failing due to Graphic issues, just sound issuer are dropping FPS. Still good find that one!

[2016-06-08 07:25] jie-meng commented on #15782
@minggo

I put "boss.mp3" under the path 'res'.

Then I call audio.PlayMusic("boss.mp3", true), There is no music on cocos2dx V3.11, but on V3.9 it's OK, please check it. (Android platform)

[2016-06-08 07:26] meiry opened #15809 "setup.py doesn't add the console path to the PATH environment variable in windows"
This is new it used to always to add the cocos console to the  PATH environment variable in windows
In 3.11.1 it doesn't do it any more , why?

[2016-06-08 07:29] dumganhar commented on #15652
@jmclaveria, I'll optimize AudioEngine for Android, i think there are some improvements we could do.

[2016-06-08 07:31] dumganhar commented on #15652
@j-jorge, thanks for your feedback, but the fps did show on my device. Did you close it somewhere?

[2016-06-08 07:39] Obg1 commented on #15652
@dumganhar your solution works great, tested on the LG G4.
Besides improving the audio on Android, I think adding batching for BitmapFont Labels can also give a nice performance boost, but this is for a different issue.

[2016-06-08 07:44] dumganhar commented on #15652
@Obg1, thanks for testing. About low performance of BitmapFont label, could you please create an issue and describe the detailed information?

[2016-06-08 07:49] Obg1 commented on #15652
@dumganhar there is an existing issue here:
#9925

The problem is the when having more than one label using the same BitmapFont, the labels aren't being batched into one draw call.

[2016-06-08 07:57] dumganhar commented on #15652
@Obg1,
@zilongshanren is responsible for UI thing. He will check it. :)

[2016-06-08 08:05] zilongshanren commented on #9925
@man2  @KioriSun
It is implemented here: https://github.com/cocos2d/cocos2d-x/pull/13201
Could you test this issue with the latest v3.11 version?
thanks.

[2016-06-08 08:06] zilongshanren commented on #15652
@Obg1
Does the issue still exists on the latest v3.11 version?  I think it should be resolved with https://github.com/cocos2d/cocos2d-x/pull/13201

[2016-06-08 08:15] minggo commented on #15782
I think it is a bug on v3.9 because it is different from other platforms.

[2016-06-08 08:37] minggo commented on #15137
I have the same issue on ubuntu. It is strange why it links to `libfmod.so.6`, coocs2d-x indeed need to link `libfmod.so`, not `libfmod.so.6`. And i searched in my computer, there is not a symbol file named `libfmod.so` links to `libfmod.so.6`. That's what it confused me.

[2016-06-08 08:49] j-jorge commented on #15652
@dumganhar When the stats are displayed I have either a single `G` displayed (the beginning of the  `GL verts:  …` line) or nothing. Here's attached a capture with `CC_LABELATLAS_DEBUG_DRAW` set to 1. You can see that the labels are drawn but not their content.

It happens on the Android and Linux build when I comment the `mapBuffers()` line. By the way, my version of `CCRenderer.cpp` is prior to

[2016-06-08 08:57] dumganhar commented on #15652
@j-jorge , it seems a bug. which version of cocos2d-x are you using?

[2016-06-08 09:48] niekvse commented on #15652
Great find, @dumganhar!! I tried the fix, and I can't fully confirm at this point because the FPS isn't showing when I comment mapBuffers. I'm using 3.10, so that method also contained an extra line:

[code]

When I have a bit more time, I can check it a different way. Already the phone seems to get less hot :)

[2016-06-08 09:48] dumganhar commented on #15652
@j-jorge , it seems that you're using a version less than 3.11.
In 3.10, LabelAtlas uses QuadCommand for rendering, and renderer allocates VBO for quad commands.
Every time render a quad command, the index buffer will not be updated. Since we have commented mapBuffers function invocation, all quad command rendering will failed.

The  solution is:

[code]

Please try and give me feedback. :)

[2016-06-08 09:48] dumganhar commented on #15652
@niekvse , please see my previous reply. :)

[2016-06-08 09:49] niekvse commented on #15652
Will try immediately :)

[2016-06-08 09:54] niekvse commented on #15652
@dumganhar Confirmed! It works with 60 FPS. Great job. What's the reason that this change makes such a difference?

[2016-06-08 09:59] erradicated commented on #15652
@dumganhar are this changes safe & ok for other platforms/devices?

[2016-06-08 10:00] zilongshanren commented on #15652
@niekvse
The performance bottleneck on mobile devices usually is related to the CPU, the GPU or the bandwidth. Cocos2d-x initialize a very large VBO which reach the limit of some GPU's bandwidth. That's the simple reason, for more information, you could refer to articles made by ARM graphics gurus:

https://community.arm.com/groups/arm-mali-graphics/blog/2014/02/03/the-mali-gpu-an-abstract-machine

[2016-06-08 10:02] erradicated commented on #15652
Another question... do we need the same changes in TextureAtlas::mapBuffers()?

[2016-06-08 10:10] j-jorge commented on #15652
@dumganhar Indeed I use the an intermediate version after 3.7 : 3e0ada4c84b7cf7b8b2e3eb4b852771368fed875

With your last solutions I have 60 fps and the stats displayed. Thank you :)

[2016-06-08 10:13] dumganhar commented on #15652
@j-jorge , could you test your game on other android & iOS devices to make sure this change doesn't have any drawbacks?

[2016-06-08 10:18] erradicated commented on #15652
@dabingnn  I'll ask my QA to test build with last changes on several devices.

[2016-06-08 10:54] ricardoquesada commented on #15652
@dumganhar well done James!!

[2016-06-08 14:21] jie-meng commented on #15782
@minggo
I don't think it is bug of v3.9, because I update my project on 3.5, 3.6, 3.8, 3.9, they are all ok, until I update it to 3.11, BGM cannot play.

So I tried to check the c++ code in framework and I found in 3.11

[code]

was removed from method

[code]

Then I change 'audio.playMusic("boss.mp3", true)' to 'audio.playMusic("res/boss.mp3", true)', BGM works.

[2016-06-08 18:07] crazyhappygame commented on #15749
Any workaround for this issue?

[2016-06-08 18:09] stammen commented on #15749
@crazyhappygame I should have it completed on Friday.

[2016-06-08 23:54] mogemimi commented on #15426
These are the PRs specific to Android NDK/Clang: #15807 #15737

[2016-06-09 03:09] eray-z opened #15812 "The Sprite Anchor Point Bug and PhysicsBody Removing Bug"
Hi there.

1- The sprite object anchor point is Vec2(0.5,0.5) as a default.(according to helper documents) Sprite objects doesn't respect anchor point like node objects when I add a new child. The child object must be added center of the sprite object.

I don't have that problem with node objects.Only sprite.

You may try the example helloworldscene.cpp file; http://codepaste.net/9d8rjj
I tried: v

[2016-06-09 06:05] vkreal commented on #15652
Very well done!! Which solution to use @dumganhar or @KingOfTheBees ?

[2016-06-09 08:23] Bilalmirza commented on #15652
@dumganhar well done! :)

[2016-06-09 09:27] jmclaveria commented on #15652
Maybe the GPU critical performance has been solved with @dumganhar fix, now I hope to avoid those 1 star reviews from G4 and NexusX5 users :)

I would focus now in audio performance cos the games are unplayable when sound is enabled in many devices, too laggy. I can check the audio fixes, got a HTC Desire 800 which has terrible lags with sound enabled.

[2016-06-09 09:52] frankwun opened #15813 "ipv6 cocos2d-x(v3.11.1) ERR: lws_rx_sm: doing draining flow"
My iOS app to adapt to IPV6-only, so we upgrade the cocos2d-x to the v3.11.1+ version. Now it work in the IPV6 environment, but encountered another problem:
When SocketIO (websocket) receives the data more than 1024 bytes. Even now (10 times will appear 1-2 times) reported the following wrong, the return of the data is garbled or incomplete.

Data:index:104 len=1023, Receiving
Lws_rx_sm: doing dra

[2016-06-09 10:15] iPruch commented on #15652
Great! I tried to comment those lines to see if this fixes the LG G3 fluctuations of FPS problem, but it's still happening :/

So the most critical problem is fixed, but there are still these remaining:
- Playing sounds causes noticeable FPS drops, in some cases making it unpleasant or even unplayable.
- The nobody-knows-why FPS fluctuation problems in some devices such as the LG G3 with Android 6

[2016-06-09 10:23] Almax27 opened #15815 "ClippingNode::setStencil() does not clean up _stencil correctly"
When ClippingNode::setStencil() is called, _stencil may have had it's onEnter() function called, setting _running = true. However it is released without onExit() being called resulting in CCASSERT(!_running) triggering in Node::~Node().

PR: https://github.com/cocos2d/cocos2d-x/pull/15814

[2016-06-09 12:31] daniaDlbani commented on #15616
finally I manage to solve it and [here](http://stackoverflow.com/questions/31516952/cocos2d-x-java-lang-unsatisfiedlinkerror-app-crash-on-startup?noredirect=1#comment50995473_31516952) what I did

[2016-06-09 12:31] #15616 closed, assigned to minggo

[2016-06-09 12:35] daniaDlbani commented on #14034
I have fix this problem by setting up the application make correctly as shown [here](http://stackoverflow.com/questions/31516952/cocos2d-x-java-lang-unsatisfiedlinkerror-app-crash-on-startup?noredirect=1#comment50995473_31516952)

[2016-06-09 13:45] Guy-kun commented on #14034
Targeting an old android version is NOT a solution unless you want all dialogue boxes to be themed like a 5-year old app or to lock yourself out of new APIs.
I wish these issues would stop being closed while there is no real solution except 'use old API'

[2016-06-10 07:43] jmclaveria commented on #15652
Already built a new version with the fix, lets see the reviews in next days.

Does anyone know where to start looking the audio issue?

[2016-06-11 03:47] tuantuannd opened #15820 "Help me! Problem with: make Linux, #include<new> 'new ' file not found"
After cmake../.. success, i type: make and it appear error:
/root/Desktop/cocos2d-x/external/bullet/LinearMath/btAlignedObjectArray.h:39:10: fatal error:
      'new' file not found
# #include<new> //for placement new
# ^

1 error generated.
external/bullet/CMakeFiles/bullet.dir/build.make:62: recipe for target 'external/bullet/CMakeFiles/bullet.dir/BulletCollision/BroadphaseCollision/btAxisSweep3.

[2016-06-11 10:00] Shulepov commented on #15537
Absolutely agree with @xpol. Interface classes is much more verbose and extendable than just lambda function. @xpol already shows some possible future modifications. Interface `Crypt` requires only one additional file for implementation but gives much more abilities and makes code more verbose and readable. Also `Crypt` can contain both `ecnrypt` for saving files and `decrypt` for reading them (i

[2016-06-12 01:38] minggo commented on #15782
@joshua-meng In which file is the codes removed?

[2016-06-12 01:45] dumganhar commented on #15652
@iPruch, @jmclaveria

I'll do some refactors on New Audio Engine in these days. Generally, we also need to support `preload` strategy for Android.

[2016-06-12 01:47] dumganhar commented on #15652
@iPruch , about the FPS fluctuation on LG G3 in cpp-empty-test, could this issue be reproduced on `Nexus 5x` too?

[2016-06-12 02:17] minggo opened #15823 "Compiling error with Android 6.0(API 23)"
`Cocos2dxDownloader.java` uses [Apache HTTP Client](https://developer.android.com/about/versions/marshmallow/android-6.0-changes.html#behavior-apache-http-client) which is removed in Android 6.0, should use `HttpURLConnection` instead.

There is corresponding [ticket](http://discuss.cocos2d-x.org/t/cant-compile-to-android/26874) in the forum.

[2016-06-12 02:28] zilongshanren opened #15824 "EditBox placeholder font size and label font Size differ even when use the same font size"

[2016-06-12 02:33] #8435 closed, assigned to nobody

[2016-06-12 02:56] minggo commented on #15815
How to reproduce it?

[2016-06-12 03:27] jie-meng commented on #15782
@minggo

frameworks/cocos2d-x/cocos/platform/android/java/src/org/cocos2dx/lib/Cocos2dxMusic.java

In function

[code]

[2016-06-12 03:51] minggo commented on #15782
Yep, i found it. The codes are something related with cocosplay. I think it is good to remove them. And pass the path will full path relative to `Resources` is more reasonable.

And i think the reason that `audio.playMusic()` can work is because [main.lua](https://github.com/cocos2d/cocos2d-x/blob/v3/templates/lua-template-default/src/main.lua) adds `res` into search path. And the codes keep the s

[2016-06-12 04:38] jie-meng commented on #15782
No I did not modify it at all.

[code]

You can reproduce this bug easily by
- Create a new lua project "cocos new Test -p com.example.test -l lua"
- Put a "test.mp3" file under "res"
- Call `audio.playMusic("test.mp3")` On MainScene onCreate function

There's no music playing on v3.11.1

[2016-06-12 06:19] minggo commented on #15782
@joshua-meng I think it is fixed in [this commit](https://github.com/cocos2d/cocos2d-x/pull/15512).

[2016-06-12 06:47] jie-meng commented on #15782
@minggo I checked the code in cocos/audio/android/jni/cddandroidAndroidJavaEngine.cpp and found it still not merged into v3.11.1 yet, thanks.

[2016-06-12 08:35] zilongshanren opened #15826 "Label System font support Overflow: clamp and shrink"
supported platforms:
- [x] iOS
- [x] Mac
- [x] Android
- [ ] Win32
- [ ] Windows Universal
- [ ] Linux
- [ ] Tizen
- [ ] Window RT

[2016-06-12 08:46] Almax27 commented on #15815
Call setStencil() twice with different nodes after ClippingNode has been added to a running scene.

[2016-06-12 11:35] Shulepov opened #15828 "RenderTexture: missed setOpacityModifyRGB"
Just noticed an issue, that changing opacity of sprite from RenderTexture doesn't work properly.

It sets:

[code]

But it doesn't set:

[code]

[2016-06-12 16:48] springrider opened #15829 "sometimes websocket.cpp broke the gzip message"
I just updated my web socket wrapper to the latest, commit: 264bf87c87ded7e1ed0c3f86ca0b51622d2af11e

and got some wired issue, I am using server side gzip to optimize  the data traffic,  it went well on older version web socket wrapper(commit: 507f221).

but after update to the latest wrapper, I occasionally encounter error like this:

[LUA-print] [ERROR] InvalidInput: input string does not confo

[2016-06-12 16:54] springrider commented on #15829
and after disabled gzip, I got this error:

eceiving data:index:3, len=1023
[code]

what does it mean?

[2016-06-12 17:18] springrider commented on #15742
same issue here: #15829
and I am pretty sure my msg got chunked, I printed my msg in lua like this:
print("msg:"..msg.."#end")

and what I got is:
msg::(some reasonable data and length=1023) ~z\363\216\342~\215\252\221\233l\206NG#end

I am not sure: " ~z\363\216\342~\215\252\221\233l\206NG" is , but it definitely not right.

[2016-06-12 17:19] springrider commented on #15829
I just noticed issue: #15742, please allow me to post the new findings here:

[2016-06-12 17:22] springrider commented on #15829
and the entire log is like this:

[code]

[2016-06-12 17:25] unexpect3rd commented on #14276
I am on 3.10.
I called [[UIApplication sharedApplication] openURL:url] to open a website, and when returning to the app using the top left iOS quick return link, this happens.

And after some testing I noticed, for me, it happens when the above actions are performed and SDKBox::PluginAdmob::cache() is being called in AppDelegate::applicationWillEnterForeground().

[2016-06-12 18:17] springrider commented on #15829
not sure if it's the right way to debug, but I printed the receivedData before and after like this:

[code]

[code]

[2016-06-12 18:18] springrider commented on #15813
same issue here: #15829

[2016-06-12 18:31] springrider commented on #15829
I have managed to get through once, the total length of the "problem packet" should be about: "17625.(frame size) ".

but in most cases,  after the the frame size reached 1038,  the final fragment mark change to 1:
isFinalFragment: 1

not sure how this woks.... does it because my server send some special character? like space or "\n" or "\0" something like that?    is there anyway to force binary

[2016-06-13 01:30] minggo commented on #15815
To simplify my life, would you please write some demo codes to reproduce it? Thanks.

[2016-06-13 03:16] wulei commented on #15813
same issue +1 here: #15742

[2016-06-13 05:08] SeanIchikawa opened #15830 "CCMenuItem doesn’t work (Xcode 7.3~)"
Hi, I’m a Japanese game developer. I develop some games with cocos2d-x.
I’m confused by the following problem. So, if you any idea, please help me.

When tap the button put on a cocos2d-x layer, the button doesn’t work.
If the button be tapped, the call-back function of the button doesn’t be called.
I have found some workarounds of the problem. However, I have no idea why the problem occurs. And,

[2016-06-13 07:09] jonnyijapan commented on #13773
I'm also seeing crashes on cocos2d::FontAtlasCache::releaseFontAtlas(cocos2d::FontAtlas*), I'm not sure what exactly causes it but this issue might be related. For me the destructor of cocos2d::Label::~Label() + 120 seems to be called almost like an endless loop and finally it crashes in the above function.

I have no idea how to reproduce it. It seems to happen to 1% or less of users on a live ap

[2016-06-13 09:31] #15780 closed, assigned to zilongshanren

[2016-06-13 09:45] j-jorge commented on #15652
@dumganhar I have tested the changes on an iPhone 5, an iPhone 6 Plus, a Nexus 5X and a Linux build. I do not see any drawback.

[2016-06-13 10:54] Almax27 commented on #15815
Test case:
- "cocos new -d ./test -l cpp"
- Replace HelloWorldScene.h and HelloWorldScene.cpp with:

**HelloWorldScene.h**

[code]

**HelloWorldScene.cpp**

[code]

[2016-06-13 10:55] Almax27 commented on #15815
I have also updated the pull request to add correct initialisation of the new stencil

[2016-06-13 12:51] springrider commented on #15829
just found out the error is caused by encryption(I disabled gzip to test and forgot somehow the encrypted data can't be transferred via websocket).  after gzip the encrypted data.  the problem goes away.

but I still encounter the problem I mentioned in the first post :
`[LUA-print] [ERROR] InvalidInput: input string does not conform to zlib format or checksum failed at lua_extensions/zlib/lua_zli

[2016-06-13 13:15] frankwun commented on #15829
@springrider ，How to disable gzip?

[2016-06-13 16:06] stammen opened #15833 "Test 30:Node:Label - New API #29 Missing resource XueJ2312F.ttf"
Test 30:Node:Label - New API #29 Missing resource XueJ2312F.ttf. The file XueJ2312F.ttf does not exist in Resource so the test will crash.

[2016-06-14 02:43] zilongshanren commented on #14756
@minggo  https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/229  PR has been created, please review, thanks.

[2016-06-14 08:09] dumganhar commented on #15652
@j-jorge , thanks for your test.

[2016-06-14 12:15] davidejones88 commented on #11773
using 3.11, looks like this problem is still there.
any confirmation?
any help on how to hotfix it?

[2016-06-14 13:38] springrider commented on #15829
I gzipped the msg by myself, so just disabled gzip in my code...
I am not sure if libwebsockets also do gzip...

[2016-06-14 22:31] stammen commented on #15749
@crazyhappygame @Dalmax  Fixed in PR https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/230

[2016-06-15 01:37] minggo commented on #14756
I generate a new version of 3rd party libs and update to cocos2d-x in #15840

[2016-06-15 02:21] zilongshanren commented on #14982
@pabitrapadhy
Could I reproduce this issue with cpp-tests? thanks

[2016-06-15 02:42] dumganhar opened #15841 "[android] Video/GameView region is wrong after unlocking screen"
Reported by @chuanweizhang2013
### How to Reproduce ?
- Engine version: 3.x
- Platform: Android
- Landscape game
- Playing a video in game
- Lock screen
- Unlock screen before the video ends
- Result: Show only 1/4 region of video, and game view is probably 1/4.

![1787727740602657fb6799fdee32843c](https://cloud.githubusercontent.com/assets/493372/16066329/c687a1b6-32e4-11e6-9021-e4605a925f5c.jpg)

[2016-06-15 06:34] minggo commented on #15828
How to reproduce the issue?

[2016-06-15 06:55] minggo commented on #15815
Thanks @Almax27 . I merged the PR.

[2016-06-15 06:55] #15815 closed, assigned to nobody

[2016-06-15 08:22] minggo opened #15845 "Hide virtual button"
Some Android devices, such as huawei phones, use virtual menu button. We should hide it to make game full scree, or it will have black blocks occupied by the virtual menu button like this(right area is black):

![image](https://cloud.githubusercontent.com/assets/488203/16072807/49f05586-3315-11e6-810d-ef55180d1db4.png)

[2016-06-15 10:08] minggo commented on #15845
fixed in #15847

[2016-06-15 10:08] #15845 closed, assigned to minggo

[2016-06-15 10:13] Shulepov commented on #15828
If i want to render something once and use result later:

[code]

In both cases sprite shouldn't be visible, but it is.

[2016-06-15 10:47] crazyhappygame commented on #15749
Is it enough to replace libcurl.dll in cocos2dx.3-11.1?

[2016-06-15 11:51] frankwun commented on #15829
@springrider ，thank you

[2016-06-15 12:18] stammen commented on #15749
@crazyhappygame It is best to copy the entire curl/prebuilt/wp_8.1 and curl/include/wp_8.1 folders

[2016-06-15 12:24] pandemosth opened #15851 "Crash (JSB) when action sequence contains an action with easing"
Seen in versions: cocos2d-x v3.11.1, and latest from v3 branch.

The crash is shown in the attached XCode screenshot.

<img width="789" alt="crash" src="https://cloud.githubusercontent.com/assets/1736144/16079419/dcb8767e-3346-11e6-97a2-16e35599dd3d.png">

The access violation happens if garbage collection take place. To reproduce, create a new js project using cocos command line, and in app.js, a

[2016-06-15 16:04] 42stones commented on #12146
Any progress on that?

[2016-06-16 02:52] #15828 closed, assigned to nobody

[2016-06-16 03:01] minggo commented on #15833
Thanks. It is fixed in #15857 . The test case is not needed.

[2016-06-16 03:11] #15833 closed, assigned to minggo

[2016-06-16 03:54] tungnt11 commented on #15234
@minggo and @zilongshanren : Hi, I also crashes when I run app with error :
E/AndroidRuntime(11959): java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "rand" referenced by "libcocos2djs.so"...
E/AndroidRuntime(11959):    at java.lang.Runtime.loadLibrary(Runtime.java:361)
 E/AndroidRuntime(11959):   at java.lang.System.loadLibrary(System.java:525)

I'm using cocos 3.9, NDK R10e an

[2016-06-16 04:26] tungnt11 opened #15860 "[Android][Cocos2dx v3.9] Crashes Android app with Android 6.0 (Api 23) !"
Hi all, I also crashes when I run app with error :
E/AndroidRuntime(11959): java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "rand" referenced by "libcocos2djs.so"...
E/AndroidRuntime(11959): at java.lang.Runtime.loadLibrary(Runtime.java:361)
E/AndroidRuntime(11959): at java.lang.System.loadLibrary(System.java:525)

I'm using cocos 3.9, NDK R10e and target SDK is 23 (Android 6.0

[2016-06-16 06:03] zilongshanren commented on #15851
@pandamicro  please take a look at this issue.

[2016-06-16 06:05] zilongshanren commented on #15808
For this kind of question, I suggest to open a ticket in http://forum.cocos.com/

[2016-06-16 06:05] #15808 closed, assigned to nobody

[2016-06-16 06:06] minggo commented on #15234
@dimaria11 I will have a try with latest codes.

[2016-06-16 06:06] minggo commented on #15234
@dimaria11 did you use jsb too?

[2016-06-16 06:09] zilongshanren commented on #15789
please upgrade  your engine to 3.10 or later.
It is fixed in https://github.com/cocos2d/cocos2d-x/pull/13706

[2016-06-16 06:09] #15789 closed, assigned to nobody

[2016-06-16 06:10] zilongshanren commented on #15613
@robslove
I agree with @liuyi   please check your code.
If you still have this issue, feel free to reopen this issue again.

[2016-06-16 06:10] #15613 closed, assigned to nobody

[2016-06-16 06:10] #15860 closed, assigned to nobody

[2016-06-16 06:14] zilongshanren opened #15862 "TTF and BMFont label word wrap issue"
1. when the label width is less than a word's boundary, we should change the wrap mode from word wrap to char wrap.

[2016-06-16 06:17] minggo commented on #15862
@zilongshanren From your description, i don't know what's the error.

[2016-06-16 06:23] tungnt11 commented on #15234
@minggo : Yes, I used jsb. I just change target Android down to 5.1.1. It still crashes. :(.

[2016-06-16 06:31] minggo commented on #15234
How did you change target?

[2016-06-16 06:34] tungnt11 commented on #15234
I use Eclipse: Android -> change Project Build Target to: Android 5.1.1. I use SDKBox.

[2016-06-16 06:38] mogemimi commented on #15426
I submitted #15861

[2016-06-16 07:01] #15862 closed, assigned to nobody

[2016-06-16 07:14] minggo commented on #15234
I can run js-tests with Android 5.0(21), i will try Android 6.0

[2016-06-16 07:21] tungnt11 commented on #15234
Before I integrate SDKBox, my app run fine. Then, I integrate SDKBox with: JSBinding, Jni: Android.mk + sdkJni. I recompile to generate new libcocos2djs.so and run -> app crashes. This app run with CocosJS v 3.9.
With other app run with CocosJS v3.8.1, I still integrate SDKBox normal with Android 6.0.

[2016-06-16 07:44] #14756 closed, assigned to zilongshanren

[2016-06-16 07:51] minggo commented on #15234
@dimaria11  I can run with Android 6.0 too. I use latest codes. I don't use SDKBox. I think you should ask SDKBox guys to take a look.

[2016-06-16 07:51] #15234 closed, assigned to nobody

[2016-06-16 14:57] 4rchitect opened #15868 "clear"

[2016-06-16 18:00] #14182 closed, assigned to nobody

[2016-06-17 01:40] ricardoquesada commented on #15652
@dumganhar
I'm trying to understand why your patch works.

If you don't call `mapBuffers()`, then the buffer objects won't be created and when you bind the objects something strange should happen.

Am I missing something? Perhaps it is not really needed. Do you have more info about it?

Whatever we do, we should also change `CCTextureAtlas.cpp` which has the same logic.

**UPDATE**: Yes, the calli

[2016-06-17 01:50] minggo opened #15871 "Need to update libpng for v2.x because of security issue reported by Google Play"
More detail information please refer to [the forum ticket](http://discuss.cocos2d-x.org/t/google-play-how-fix-apps-containing-libpng-vulnerability/30160).

[2016-06-17 02:27] jimrange commented on #15871
More info from Google below...

Hello Google Play Developer,

We detected that your app(s) listed at the end of this email are using an unsafe version of the libpng library. Apps with vulnerabilities like this can expose users to risk of compromise and may be considered in violation of our Malicious Behavior policy.

What’s happening

Beginning September 17, 2016, Google Play will block publishing

[2016-06-17 02:34] AlwynC commented on #13816
@ricardoquesada @pandamicro @super626 This issue has been fixed in pull request #14471.I've tested for this issue in latest version cocos2d-x v3.11.1 and it does not seem to be appearing there.Why is this issue still open then?

[2016-06-17 02:38] minggo commented on #15823
@cezheng How do you think this issue? Have you fixed the issue? If so, could you please send a PR? If not, then i will implement it, and please help to review it. Thanks.

[2016-06-17 02:59] ricardoquesada commented on #13816
let's close then. thanks.

[2016-06-17 02:59] #13816 closed, assigned to nobody

[2016-06-17 03:45] cezheng commented on #15823
android-async-http uses apache http, the way to work around it is to add the legacy class path to it. I don't think it is really necessary to remove it yet, since google's volley also uses apache

[2016-06-17 03:47] minggo commented on #15823
yep, it is easy to add class path in Android Studio, but how about ADT?

[2016-06-17 05:54] minggo commented on #15871
@jimrange thanks for the detail information

[2016-06-17 06:05] AlwynC commented on #15733
@minggo @Shulepov This issue has been fixed by pull request #15792 (for non ARC) and pull request #13937(with ARC support).Hence closing this issue.

[2016-06-17 06:05] #15733 closed, assigned to nobody

[2016-06-17 07:54] xingshh commented on #13374
i try to fix this bug by set cameramask,
     Camera\* visitCamera = Camera::getVisitingCameraEx();
     Camera::setVisitingCamera(_activeCamera);
    _rendTexture->setKeepMatrix(true);
    _rendTexture->setCameraMask(0x2);

[code]

it can work for draw3d. but for sprite3d, it is failed, there is no 3dmodel displayed in picture file .
i find it is caused by meshcammand. if not use meshcammand and

[2016-06-17 08:45] cezheng commented on #15823
I will take a look then. I guess the modification might take place in the cocos-console project.

We have a legacy internal android library that has nothing to do with cocos2d-x. It is still on ADT.

 We build it in this way

[code]

[2016-06-17 08:51] cezheng commented on #15823
I realized that they have a new release for this, so maybe the correct approach is:
1. Update android-async-http to 1.4.9, resolve any compile errors if exists
2. Since only the range header for download resuming explicitly uses apache.http, rewrite that part

https://github.com/loopj/android-async-http/blob/1.4.9/CHANGELOG.md#149-released-19-9-2015

The current version used is 1.4.8

[2016-06-17 08:56] minggo commented on #15823
@cezheng Thanks for the information.

I think we don't have to rewrite since the library updates it. I am not sure.

[2016-06-17 09:02] cezheng commented on #15823
@minggo `That part` means that part in Cocos2dxDownloader, more specifically, this part

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/android/java/src/org/cocos2dx/lib/Cocos2dxDownloader.java#L255-L259

[2016-06-17 09:03] cezheng commented on #15823
If you want a fast fix, maybe modifying `cocos compile` to copy the legacy jar is an easier approach

[2016-06-17 09:06] minggo commented on #15823
No, i think we should fix it in correct way. `Head` is needed by the parameter of the library. I think we can change it since the library remove the dependence of legacy jar.

[2016-06-17 10:16] dumganhar commented on #15652
@ricardoquesada

Yes, we may also need to comment it in CCTextureAtlas.cpp, but the vertex count in TextureAtlas is smaller than which in Renderer (65536) normally. But for best performance on android, feel free to comment them. :)

correct. :)

Yes, commenting the whole mapBuffers will not get mistakes in the future.

[2016-06-17 10:20] dumganhar commented on #15652
@iPruch, @jmclaveria, and all of you:

I have submitted a new PR (https://github.com/cocos2d/cocos2d-x/pull/15875) for resolving audio latency on Android. Could you help to test it on your android devices which have terrible lags?

Please feel free to give me any feedback. :)

[2016-06-17 10:27] jmclaveria commented on #15652
@dumganhar I will test it as soon as I arrive to the office on next Monday, I'm out of the office right now.

Thanks!!

[2016-06-17 10:36] dumganhar commented on #15652
@jmclaveria , be sure to preload effect audio files before entering game scene.
If you don't preload them, the first time you play an audio may cost a lot (may be 20 - 100ms). :)

[2016-06-17 10:57] IgorMats opened #15877 "Sprite3D batching does not working."
According to cocos2d::Renderer::processRenderCommand I can see that batchDraw method will be called in any condition so CC_INCREMENT_GL_DRAWN_BATCHES_AND_VERTICES will be increment too!

flush3D method is really calling only 1 time but only batchDraw will really draw the content.

Can you please help me with this?
Extremely grateful!

Forum link: http://discuss.cocos2d-x.org/t/performance-question

[2016-06-17 20:17] slackmoehrle opened #15879 "`tinyxml2` missing when building `libsimulator`"
I tried to build the prebuilt libraries and they failed citing errors in **libsimulator**

[code]

I tried to build **tools/simulator/libsimulator/proj.ios/libsimulator.xcodeproj**, it fails

![screen shot 2016-06-17 at 4 03 45 pm](https://cloud.githubusercontent.com/assets/7491758/16163267/5db7e038-34a6-11e6-81f6-835a5e2e30f2.png)

I opened **tools/simulator/libsimulator/proj.ios/libsimulator.xco

[2016-06-17 21:44] ricardoquesada commented on #15877
answered in the forum. Closing issues as batching in 3d never worked... in any case, it could be a feature request... and perhaps it could be implemented with instancing of something like that.

Reopen this one if you want this feature. Please add as more detail as possible since batching in 3d is not as common as in 2d.

[2016-06-17 21:44] #15877 closed, assigned to nobody

[2016-06-17 21:44] #15868 closed, assigned to nobody

[2016-06-17 21:57] ricardoquesada commented on #15830
So, you are saying that it works on Xcode v7.2 but does not work on Xcode 7.3? is that correct?

[2016-06-17 21:59] ricardoquesada commented on #15820
try editing "btAlignedObjectArray.h" and comment line 29, like this:

[code]

Also, please also mention which linux distro you have and what gcc version you are using

[2016-06-17 22:06] eduhub123 commented on #13681
Thanks @ermanhaskan
Provided that the application must be removed first and then reset the device

[2016-06-17 23:09] ricardoquesada commented on #15776
Added "fix".
The thing is that cocos2d-x has an strange policy of crashing when the data is invalid. We have to change that policy in the whole cocos2d-x.

What I did, was to add an ASSERT. But a proper solution is to return null instead... but in order to do that we have to change the "crash on fail" policy.

[2016-06-17 23:11] ricardoquesada commented on #15802
interesting. thanks. do you have the tests for libgdx and haxflixel?

But I just want to add that BunnyTest is not a good measure of how fast is your engine in a real world scenario... but it is useful anyway.

[2016-06-17 23:13] ricardoquesada commented on #15798
Please, add more info. Why do you think Sprite should be initialized if you don't initialize it?

Closing it as invalid... please reopen it with more data. thanks.

[2016-06-17 23:13] #15798 closed, assigned to nobody

[2016-06-17 23:13] ishmar opened #15881 "Slow startup on windows phone 8.1 & windows 10 mobile"
Cocos2d-x by default is really slow at startup on windows phone 8.1 and windows 10 mobile.

I own a microsoft lumia 435 and last time I tried to create a new project, compile and deploy it to my lumia  it takes about 5 seconds to start. (Today, using cocos2d-x v3.11.1)

I compile using visual studio 2015 community.

Found that the problem is the time it takes to Angle to transform/compile the coco

[2016-06-17 23:15] ricardoquesada commented on #15785
closing it. Please reopen it if you think this is still a bug.

[2016-06-17 23:15] #15785 closed, assigned to nobody

[2016-06-17 23:17] ricardoquesada commented on #15757
yes, as @Obg1 cocos2d-x uses some singletons.
You can destroy them if you want with:

[code]

Closing this issue. Please, reopen it if you think it is still a bug.

[2016-06-17 23:17] #15757 closed, assigned to nobody

[2016-06-17 23:32] ishmar commented on #15881
I 'think' adding a progress bar with something such as 'Preparing for first run' while precompiling shaders would do the trick too, sadly, my knowledge of XAML isn't good enough to achieve as I need to pass progress information from GLProgram to the progress bar widget that I would create in OpenGLESPage::swapChainPanel.

Btw, I don't have startup times anymore, but I got a Lumia 620 to test my ga

[2016-06-17 23:39] ricardoquesada commented on #8403
closing it as deprecated. The correct way to do is to use `Camera` now.

[2016-06-17 23:39] #8403 closed, assigned to nobody

[2016-06-17 23:40] ricardoquesada commented on #8841
Closed as fixed. Please reopen it if you think it is still valid. Please, add more info in that case.

[2016-06-17 23:40] #8841 closed, assigned to nobody

[2016-06-17 23:44] ricardoquesada commented on #9456
you have to `telnet localhost 5678` when you run it in your mac/windows.
if you run it in iOS you have to replace "localhost" the the iOS ip address.

closed as invalid.

[2016-06-17 23:44] #9456 closed, assigned to nobody

[2016-06-17 23:48] #15776 closed, assigned to nobody

[2016-06-18 01:09] #15214 closed, assigned to ricardoquesada, zilongshanren

[2016-06-18 01:09] ricardoquesada commented on #15214
either wait until v3.13 is released, or use `setTextColor()` instead. thanks.

[2016-06-18 02:05] traviswimer opened #15883 "What should be .gitignored?"
There are a lot of files generated by cocos2d-x that in general one would want to exclude from version control in their project, but it is really hard to know which files those are. This means any time you build your project there can be hundreds of generated files to check in, and it becomes very confusing. Not to mention, it can cause issues if developing in multiple environments. (http://stacko

[2016-06-18 07:47] Alireza-Ashayer commented on #15883
You can use .gitignore file inside cocos2d-x root directory. It covers almost all build artifacts that should not be in your version control system.

[2016-06-18 14:25] traviswimer commented on #15883
Thanks for the reply. What you said appears to be partially correct. I'm not sure if it includes a lot of the android files though. Also, most of the files/directories in the .gitignore are specific to this repo and irrelevant to an actual cocos2d-x project.

Although this is helpful, I wouldn't really call it a solution. I still think it would be very beneficial to have an officially supported li

[2016-06-18 17:24] 4rchitect commented on #15868
Wtf. I Dont know how it just happen, sorry.

[2016-06-18 19:17] ricardoquesada commented on #15868
no problem :)

[2016-06-19 16:06] arloistale commented on #15851
This issue also exists in 3.11. Every version before that is fine. Please help this issue is breaking us :(

[2016-06-19 16:28] slackmoehrle commented on #15851
@zilongshanren @pandamicro @linshun this issue is becoming a bigger deal on the forums. It seems that a number of folks are now getting hit by it. v3.11.1 and v3.12 from GitHub are also affected.

[2016-06-20 03:17] dumganhar commented on #15652
@jmclaveria , what about the progress of testing audio performance of my change?

[2016-06-20 05:00] jmclaveria commented on #15652
I will try it in a couple of hours, I just woke up :D It's 7:00 here in Spain, i will arrive to the office at 8:00

[2016-06-20 05:06] dumganhar commented on #15652
@jmclaveria , ok, thanks :)

[2016-06-20 05:38] #15823 closed, assigned to nobody

[2016-06-20 07:32] jmclaveria commented on #15652
Compiling now, it was a bit tricky because I use a tuned old version of cocos (3.8), so existing files needed a check. I will report as soon as it builds with no errors.

[2016-06-20 08:14] dumganhar commented on #15652
@jmclaveria , any updates?

[2016-06-20 08:28] jmclaveria commented on #15652
Still trying to resolve compilation errors, there has been a lot of code changes since 3.8

[2016-06-20 08:39] dumganhar commented on #15652
Do you mean  there're some code changes in Audio module from 3.8?

[2016-06-20 08:43] jmclaveria commented on #15652
I mean there are a few dependencies from the new Audio module that needs to be resolved: JNIHelper, CCData, etc. there are a lot of calls to functions that don't exist in 3.8 code. It's a bit slow because anytime I change a header file the compiler will start again to build the whole project...

[2016-06-20 09:15] pandemosth commented on #15851
I've tracked down the issue to jsb_ref_rebind function in ScriptingCore.cpp, where a new js obj (for easing, repeat, etc) is being bound to the new action, but is not being rooted so eligible for garbage collection.
Thats my primitive understanding of it at least, would appreciate comment from @pandamicro / @ricardoquesada who wrote the function. Cheers.

This fix seems to work for me, if anyone e

[2016-06-20 09:29] mallun opened #15887 "typo on video play code"
in Cocos2dxVideoView.java
public void fixSize() {
if (mFullScreenEnabled) {
fixSize(0, 0, mFullScreenWidth, mFullScreenHeight);
} else {
fixSize(mViewLeft, mViewTop, mViewWidth, mVideoHeight);
}
}
mVideoHeight should be mViewHeight
This typo still exists on 3.11
Hope it can be fix in next release

[2016-06-20 09:57] minggo commented on #15851
@pandemosth thanks for your sharing, i have asked @pandamicro to take a look. He added these codes.

[2016-06-20 09:58] pandamicro commented on #15851
Thanks for reporting this, I will dig into it this week, sorry for the inconvenience. @pandemosth  I think your hypothesis is valid, ~~I will try to fix it using another way because `AddNamedObjectRoot` may cause memory leak.~~

By the way, have you activated `CC_ENABLE_GC_FOR_NATIVE_OBJECTS` in ccConfig.h ？

[2016-06-20 10:00] minggo commented on #15879
Will you change

[code]

to

[code]

to have a try?

[2016-06-20 13:01] slackmoehrle commented on #15879
Ah, yes, I see all of the **Header Search Paths** in build settings. Indeed it does work. I can build the Xcode project and also `cocos gen-libs` succeeds as well.

[2016-06-20 14:14] jmclaveria commented on #15652
Finally got a build!

First attempt is a fail, when trying to play an effect the game freezes. The output throws this:

D/PcmAudioPlayerPool( 5725): Insert a PcmAudioPlayer (0x804b7ea8, channels:2) to pool ...
D/PcmAudioPlayer( 5725): PcmAudioPlayer (0x804b7ea8) is waiting ...
D/cocos2d-x debug info( 5725): play2d, **_audioPlayers.size=0**
D/AudioPlayerProvider( 5725): (assets/sounds/android/doorC

[2016-06-20 14:43] dumganhar commented on #15652
Could you upload your ogg file ?

This is no problem. while there isn't any play instance, size is zero.

[2016-06-20 14:48] jmclaveria commented on #15652
I tried to convert the file to OGG (got the sources in .wav) again with ffmpeg and no results.

Here you can find the file:

https://www.dropbox.com/s/ir2ekfytt30xhge/doorClose.ogg?dl=0

I'm testing with a Samsung Galaxy Tab SM-T230

[2016-06-20 14:56] dumganhar commented on #15652
Oops, dropbox is blocked in China, I couldn't download it without a VPN service.
 please rename `doorClose.ogg` to `doorClose.ogg.pdf`, and drag it to comment area to upload by github directly.

[2016-06-20 15:00] dumganhar commented on #15652
And what's the android version of `Samsung Galaxy Tab SM-T230`?

[2016-06-20 15:02] jmclaveria commented on #15652
I have downloaded an ogg from internet and goes fine, so the problem is how i archive the ogg. I'm using ffmpeg like this:

ffmpeg -y -i "$f" -c:a libvorbis -qscale:a 1

tried with sox and it doesn't work:

sox "$f" -r 44k -c 1

Here you have the ogg renamed:

[doorOpen.ogg.pdf](https://github.com/cocos2d/cocos2d-x/files/323696/doorOpen.ogg.pdf)

[2016-06-20 15:03] jmclaveria commented on #15652
Android version is 4.4.2

[2016-06-20 15:07] dumganhar commented on #15652
For first glance at this, it's probably the limitation of OpenSLES API for decoding an ogg file to PCM data.
I'm out of office right now, I'll investigate it and find out the problem tomorrow.
For testing, you can also use mp3 format, and check whether the performance is boosted. :)

[2016-06-20 15:14] dumganhar commented on #15652
@jmclaveria , `doorOpen.ogg` works on my Nexus 5x (Android 6.0) device.
Could you please try another device to check whether is a device related problem?

[2016-06-20 15:19] jmclaveria commented on #15652
now I only have this one :( Tomorrow I can test it in a lot of devices. But I'm worried about the game hanging when audio can't be loaded. Is there a quick fix for that?

[2016-06-20 15:27] dumganhar commented on #15652
`doorOpen.ogg` also works ok on `Meizu M1 metal Android 5.1`.
I have tested my changes on many android devices, But didn't find the problem you mentioned.
Anyway, it's probably a bug, maybe OpenSLES or device related.

Yep, please help to test on other devices and give me feedbacks. I'll try my best to fix all problems you guys report. :)

About the performance issue, could you use available audio

[2016-06-20 15:29] jmclaveria commented on #15652
The game runs laggy in this device, but is due to the low powered specs. I will try tomorrow with the HTC that runs smoothly at 60fps but got lagged when sound is played.

[2016-06-20 15:54] slackmoehrle opened #15889 "Linking with pre-built libraries fails for iOS."
I tested this in `v3.11.1` and everything works as expected. This bug occurs in branch `v3` and `v3.12`.
I generated the pre-built libraries using `cocos gen-libs -c -p ios` and they compile successfully.

When I try to drop them into a project, I get the following linker errors:

<img width="760" alt="screen shot 2016-06-20 at 9 41 38 am" src="https://cloud.githubusercontent.com/assets/7491758/16

[2016-06-20 15:57] slackmoehrle opened #15890 "Cocos command-line tool -> --list-templates returns {}"
Latest from Github, try running: `cocos new --list-templates` and you will get:

[code]

To be sure, I tried to run `cocos gen-templates` and then `cocos new --list-templates` again and same thing, just `{}`

[2016-06-20 15:57] dumganhar commented on #15652
OK, thanks.

[2016-06-20 19:20] jmclaveria commented on #15652
@dumganhar BTW, what do you use for encoding OGG? I tried with ffmpeg + libvorbis and sax, but it didnt worked with the new audio module.

[2016-06-20 22:15] frranck opened #15891 "[v 3.11] crash on Android 2.3"
Hi,
I have this crash on Android 2.3, though it's working fine on more recent android versions:

how to troubleshout this ?

[2016-06-20 23:51] ricardoquesada commented on #15891
Please, add more info like:
- device model
- when does it crash? what code do you have to run in order to crash it?

The more info you add, the easier for us to reproduce it and fix it.

thanks.

[2016-06-20 23:53] ricardoquesada commented on #15889
@minggo @linshun what about removing the "gen-libs" functionality from "cocos" and put it in a different script.

[2016-06-20 23:59] ricardoquesada commented on #15887
are you sure it is not fixed in v3.11?
seems to be fixed in v3.11: https://github.com/cocos2d/cocos2d-x/blob/cocos2d-x-3.11/cocos/platform/android/java/src/org/cocos2dx/lib/Cocos2dxVideoView.java#L336

please, double check your version. reopen if you think the bug is still there.

[2016-06-20 23:59] #15887 closed, assigned to nobody

[2016-06-21 00:01] ricardoquesada commented on #15879
can we close this bug? or should we fix `RuntimeCCimpl`? BTW, what is the `RuntimeCCImpl` file for?

[2016-06-21 00:17] ricardoquesada commented on #15830
tried your code... tested on Xcode v7.3.1 both in debug and release mode in an iPhone 5S with iOS 8 and it worked Ok.

No idea why it might not be working, but it seems to be an LLVM related bug. My suggestion is that you create the smallest possible code that reproduces it and submit a bug to apple.

closing this bug. reopen it if you think it is a cocos2d-x bug and not an Xcode bug. If so, pleas

[2016-06-21 00:17] #15830 closed, assigned to nobody

[2016-06-21 00:57] ricardoquesada commented on #15812
Links don't work. Could you post the code to reproduce the bug? thanks.

[2016-06-21 00:59] ricardoquesada commented on #15812
this is not correct. the child will always be added to 0,0, regardless of the parent's anchor point.
this is a design feature.

[2016-06-21 00:59] #15812 closed, assigned to nobody

[2016-06-21 01:10] ricardoquesada commented on #15378
closing as fixed.

[2016-06-21 01:10] #15378 closed, assigned to zilongshanren

[2016-06-21 01:27] pandemosth commented on #15851
Hey @pandamicro in my case CC_ENABLE_GC_FOR_NATIVE_OBJECTS is not activated.
Thanks

[2016-06-21 01:33] ricardoquesada commented on #15119
yep, you are right. Internally it works like this:
- Director will create the Console
- Director will delete the Console when `Director::purge` is called

So, when you call `director end` from the console, it will destroy the console as well.
the solution is to dissociate the `Console` from the `Director`... and users should start and end the console manually, and the console should be a singleton

[2016-06-21 01:35] ricardoquesada commented on #15813
closing it since it is a duplicate.

[2016-06-21 01:35] #15813 closed, assigned to nobody

[2016-06-21 01:37] ricardoquesada commented on #15742
@minggo is this bug scheduled for v3.12? it seems important since in v3.12 we are supporting ipv6-only networks.

[2016-06-21 01:40] ricardoquesada commented on #14757
yes, there should be a way to define spritesheets and generate them with a "cocos" command.

[2016-06-21 01:46] dumganhar commented on #15652
I uses ogg file in `cpp-tests` project for testing.
I will try to use ffmpeg & sax to test.

[2016-06-21 01:48] ricardoquesada commented on #14730
at least in v3.11 it doesn't crash anymore but it doesn't render the sprites... just the frames.

**UPDATE**: it didn't crash for me... but only by pure chance.

[2016-06-21 02:57] youlanhai opened #15894 "BUG: Application crashed when the particle file doesn't exists in method `ParticleSystem::initWithFile(const std::string& plistFile)`"
The following is the source code of `ParticleSystem::initWithFile`:

[code]

The application will crash, when the particle file doesn't exist.
It should return false instead of crash the application. We should never assume that a file will always exists.

[2016-06-21 03:16] halx99 opened #15896 "Please Attention: simplify file raw data read APIs."
@minggo
I suggest only leave one API for read raw data, such as:

[code]

Remark: The 'std::string' is not just string, Actual it can handle binary or null-terminated-string.
So, at least, for engine, We can replace every raw read APIs with this API.

[2016-06-21 03:47] ricardoquesada commented on #14730
fixed.

[2016-06-21 03:47] #14730 closed, assigned to ricardoquesada

[2016-06-21 04:22] grayzou1983 commented on #15871
Hi, we have received this mail from google too. We tried to update it by open sources for android libpng, but failed to load .png and app crashed. The dead line for google play is Sept, 2016. Plz help us to fixed in time.
Thank you!

[2016-06-21 05:27] matdennoigi commented on #15713
I also got it :(

[2016-06-21 06:13] ricardoquesada commented on #15894
correct, cocos2d should never crash... even if invalid input is provided.
this is a "global" feature... we need to change it in many places.

[2016-06-21 07:12] dumganhar commented on #15652
@jmclaveria , I think I found out the problem, I will add a new commit to my pull request. :)

EDIT: It's a problem of UrlAudioPlayer, but if your file is small enough, should not trigger that problem. Continue to check the problem.

BTW, what about the status on other android devices?

[2016-06-21 07:15] frranck commented on #15891
@ricardoquesada It's a Samsung GT-S5360. running Android 2.3.6

It's crashing when launching the app, nothing special about it, except it is using SDKBOX/Facebook.

[2016-06-21 07:16] dumganhar commented on #15652
[code]

@jmclaveria , the above log was outputed on your device.
Did you modify anything in PcmAudioPlayer.cpp? :)

[2016-06-21 07:20] zhoujianghai commented on #15629
My project was developed with cocos2d-x 2.1.5, I updated the libcurl.a from v2-deps-v7, but build error with arm64, the version of libcurl.a not supporting 64-bits?
the error log info:
Undefined symbols for architecture arm64:
  "_MD4_Init", referenced from:
      _Curl_ntlm_core_mk_nt_hash in libcurl.a(libcurl_la-curl_ntlm_core.o)
  "_MD4_Update", referenced from:
      _Curl_ntlm_core_mk_nt_hash

[2016-06-21 07:30] jmclaveria commented on #15652
I just modified the h and cpp of "AudioEngine-inl" to add a new method, but it's empty already. I didn't modify PcmAudioPlayer.cpp

I'm trying with different audio encoder options with no luck.

[2016-06-21 07:36] jmclaveria commented on #15652
BTW, could you upload the .APK you used for test "doorOpen.ogg" in your devices? I would like to test it in my Samsung Galaxy Tab, so if your build works then the problem would be my implementation.

[2016-06-21 07:39] dumganhar commented on #15652
Sure, I will upload it soon. Please wait a moment.
Could you please add me to your Skype friend for better communication?
My Skype id: dumganhar

[2016-06-21 07:41] dumganhar commented on #15652
@jmclaveria , new commit added : https://github.com/cocos2d/cocos2d-x/pull/15875/commits/fd63f420838391f0f7bf02ce8ed765e06e3564bb

Please sync it. :) Otherwise, UrlAudioPlayer may not work.

[2016-06-21 07:42] jmclaveria commented on #15652
on my way

[2016-06-21 07:50] jmclaveria commented on #15652
Failed :(

I have added you to Skype, so we can continue there

[2016-06-21 07:50] dumganhar commented on #15652
[app-arm7-debug.apk.pdf](https://github.com/cocos2d/cocos2d-x/files/325018/app-arm7-debug.apk.pdf)

Here it is.

Click the `play` button will play the audio file `doorOpen.ogg` you sent me.

[2016-06-21 07:55] jmclaveria commented on #15652
Works like a charm. Man, I have a real problem here... something is wrong with my implementation. Maybe I will try to port the game to 3.11 version and try again. Thanks @dumganhar for the support.

[2016-06-21 07:56] dumganhar commented on #15652
What's the problem you found?

[2016-06-21 08:02] jmclaveria commented on #15652
I mean the "real problem" is a big problem because I don't know where is the problem xD

Don't worry, I will go hard with this, I'll let you know with the progress.

Thanks again and sorry for messing up the thread.

[2016-06-21 09:22] eray-z commented on #15812
Ok, I tried set parent sprite object anchor point (0.5,0.5)  and it's still not working.

[2016-06-21 09:24] eray-z commented on #15812
And parentSprite->getPosition() always give the center point . But If I add child sprite always add bottom-left point of parentSprite. : (

[2016-06-21 09:24] jasonz1987 commented on #15629
@zhoujianghai you must also include `libcrypto.a` `libssl.a` in your project,then your question will be fixed~

[2016-06-21 10:29] jmclaveria commented on #15652
Seems like the problem is in the decode function, don't know why.

Calling "AudioDecoder::start" will return false because "CreateAudioPlayer" will fail with the error "pAudioSrc: data format 2 not allowed”. SLDataFormat_PCM params are set from code, maybe could be the reason.

So, if you try to play a sound effect and the preload fails then the game will be hang because the "_pcmAudioPlayerPool"

[2016-06-21 10:50] iNeverSleeeeep opened #15898 "cocos2d-js 3.9 render的时候发生crash"
发生crash的直接原因是我使用的一个renderTexture在delete后依然会被绘制。
下面写一下我猜测的原因：
我的项目使用websocket做网络连接，在收到某一个消息后我会调用renderTexture.removeFromParent();
有没有这种可能，在某一帧的update里面我调用了renderTexture.beginWithClear()，在这之后收到了上述消息的回调，将renderTexture delete，但是那个CustomCommand依然还在renderQ里面，所以导致了crash。
以上是我的猜测，若不可能发生，我再查查还有没有其他的可能。

[2016-06-21 10:56] zhoujianghai commented on #15629
@jasonz1987 thanks, build success!

[2016-06-21 11:04] springrider commented on #15742
not sure if anything wrong, but based on my test,  sometimes the large packet received(>10000 bytes)are not right.  and maybe has potential stack overflow.   I am newbie on cpp and not sure how to debug it.
but comment out the new extension seems fixed the problem:
`//info.extensions = exts;`

[2016-06-21 11:07] springrider commented on #15742
and the data I mentioned earlier:

sorry for the mislead information, it's my encrypted data.   though I thinks this has nothing todo with the packet receiving problem.
I changed the server side to send packet in binary format, still had the same problem.

[2016-06-21 14:04] slackmoehrle commented on #15889
@zilongshanren said this requires **CoreText.framework** and this indeed does fix the problem. I will send in a PR to document this in README and RELEASENOTES.

[2016-06-21 14:15] slackmoehrle commented on #15879
@ricardoquesada `RuntimeCCimpl` does indeed require a fix. Replacing: `include "tinyxml2.h"` with `include "tinyxml2/tinyxml2.h"`

[2016-06-21 14:49] dumganhar commented on #15652
@jmclaveria
Great finding, the patch looks good. 👍  Thank you. Are there other problems?
Did the audio laggy issue fixed?

[2016-06-21 15:22] ricardoquesada commented on #15812
that's correct, that's the expected behavior.
children will always be added relative to the bottom/left (0,0) corner of its parent. I added more info in the forum thread: http://discuss.cocos2d-x.org/t/cocos2d-x-node-sprite-anchor-points-and-removing-physicsbody-bugs/29875

[2016-06-21 15:58] crazyhappygame commented on #15881
+1
I created #15746 , there is also #15637
@ishmar could you create pull request with your update "Caching compiled program binaries"?
Is it possible to deliver precompiled shaders with game? How big it is?

[2016-06-21 16:05] crazyhappygame opened #15901 "Bad rendering quality on Windows 10 mobile"
Please run cpp-test on Windows 10 mobile and Android and compare graphic.
It works fine (on both devices) but quality of rendered app is lower on Windows Phone.

I released (cocos2dx-3.10) exactly the same apps on Google Play and Windows Store.
1. Google Play (https://play.google.com/store/apps/details?id=com.crazyhappygame.coloringpagespuzzleforkids).
2. Windows 10: (https://www.microsoft.com/sto

[2016-06-21 16:10] crazyhappygame commented on #15881
@ishmar could you have a look #15901 ?
Do you have similar issue?

[2016-06-21 16:31] ricardoquesada commented on #15891
@frranck
which app are you running? does it crash with the "test-cpp" app that is part of cocos2d-x?

if we can't reproduce the bug, we won't be able to fix it.

[2016-06-21 16:32] ricardoquesada commented on #14754
fixed in v3.11 (or v3.10)

[2016-06-21 16:32] #14754 closed, assigned to nobody

[2016-06-21 16:35] ricardoquesada commented on #14647
yes, cocos2d-x should not crash, even if you are passing invalid parameters to the public API.

but right now it crashes (assert) on purpose. we should change that policy and make it fail safely.

[2016-06-21 16:38] ricardoquesada commented on #14606
thanks for the bug report.
unfortunately we don't have the bandwidth to take a look a this bug. we are only going to support clang/llvm for Mac OS X.

but we do support gcc in Linux... and we compile Linux using cmake, so should work ok.

closing this bug as "won't fix", but thanks again for reporting it.

[2016-06-21 16:38] #14606 closed, assigned to nobody

[2016-06-21 16:38] ricardoquesada commented on #14599
closing it as "fixed". thanks.

[2016-06-21 16:38] #14599 closed, assigned to nobody

[2016-06-21 17:16] frranck commented on #15891
@ricardoquesada sure, the problem is I can't run test-cpp, it doesn't compile:

[armeabi] Compile++ thumb: cpp_tests_shared <= ChipmunkTest.cpp
[armeabi] Compile++ thumb: cpp_tests_shared <= ClickAndMoveTest.cpp
[armeabi] Compile++ thumb: cpp_tests_shared <= ClippingNodeTest.cpp
jni/../../Classes/ChipmunkTest/ChipmunkTest.cpp: In destructor 'virtual ChipmunkTest::~ChipmunkTest()':
jni/../../Classe

[2016-06-21 17:53] adesentenac commented on #15879
I've submitted https://github.com/cocos2d/cocos2d-x/pull/15900 to fix the include paths.
Replacing tinyxml2/tinyxml2.h by tinyxml2.h was a change I made in https://github.com/cocos2d/cocos2d-x/pull/15837 because the headers in the external folder where conflicting with the system one when not using prebuilts.

[2016-06-21 17:55] iPruch commented on #15652
@dumganhar I'm sorry, I can't test this yet. I don't have my test devices here, but maybe in a few days I will have them back to test. Also, I'm a Git beginner and I don't know how to test your pull request. I mean, how do I merge it? Should I clone the cocos2d-x repo first or use my current cocos version?

[2016-06-21 18:01] apocarteres commented on #14606
/(º_º)\

[2016-06-21 19:03] Dimon4eg commented on #15694
Hi @Seryusjj, looks like the same issue [#14861](https://github.com/cocos2d/cocos2d-x/issues/14861#issuecomment-223346963).

try to call
`Director::getInstance()->getRenderer()->render();`
before
`render->newImage();`

[2016-06-21 19:36] Seryusjj commented on #14861
Thank you so much @Dimon4eg it's working for me too.

[2016-06-21 19:37] hawkwood commented on #12146
Looks like this is fixed in 3.11 using NDK r10e.  I tested on 5 devices, ranging from Android 4.1 to 6.

[2016-06-21 19:37] #12146 closed, assigned to fusijie

[2016-06-21 19:37] Seryusjj commented on #15694
Thank you so much @Dimon4eg it's working for me too.

[2016-06-21 19:45] hawkwood commented on #14972
I just tested 3.11 using NDK r10e and this is still broken on my 4 test devices running Android 5.x or older.  The Nexus 6P running Android 6.0 did not exhibit this issue.

[2016-06-21 20:15] crazyhappygame commented on #14972
I have the same issue on Xperia T.

[2016-06-21 21:10] jmclaveria commented on #15652
@iPruch I downloaded the files 1 by 1 and then compared with my project files using a merge tool. Almost all the files are new so you don't have to compare too much.

@dumganhar The audio laggy issue isn't fixed because the patch just prevents the game to crash if the decoder can't load a sound. In fact no sound is loaded in the game because they fail all at load time. BTW, large sounds can be hea

[2016-06-21 21:47] ishmar commented on #15901
Yeah, got same issue.  Don't have my phone now to capture screens but remember having it.

With original code it was easy to notice the ugly graphics (first I blamed 480x800 of Lumia 435). Later, I found that as I already had my designResolution(), removing the call to
director->setContentScaleFactor() my game was still working, performance on Lumia 435 improved a bit, and graphics, while not bein

[2016-06-21 22:10] ricardoquesada commented on #14390
Please add the code the reproduce this bug. it is not clear what should be the expected behavior.
Just remember that `FontAtlasCache::getFontAtlasFNT` is a cache.

[2016-06-21 22:12] ricardoquesada commented on #14356
looks like a compiler bug. which compiler are you using ?

[2016-06-21 22:15] ricardoquesada commented on #14326
please, post all your particle code. Most probably it has to do with your `setStartColorVar()` or similar

[2016-06-21 22:18] ricardoquesada commented on #14291
The JS bindings are doing that. It is not trivial, but my suggestion is that you take a look at our JS binding code.
In particular take a look at our manual bindings:
https://github.com/cocos2d/cocos2d-x/tree/v3/cocos/scripting/js-bindings/manual

After reading the our code, most probably you will further questions about this. If so, please, use the forum for that. thanks.

[2016-06-21 22:18] #14291 closed, assigned to nobody

[2016-06-21 22:19] ricardoquesada commented on #14225
closed as fixed.

[2016-06-21 22:19] #14225 closed, assigned to pandamicro

[2016-06-21 22:22] ricardoquesada commented on #13984
Added "scene 3d" which is 3d scene which also has 2d elements.
reopen it if you think you need more. also, please be more specific. thanks.

[2016-06-21 22:22] #13984 closed, assigned to nobody

[2016-06-21 23:41] ricardoquesada commented on #14861
yes, you should force flushing the renderer. I'm closing this issue then. Reopen if you still think it is a bug. thanks.

[2016-06-21 23:41] #14861 closed, assigned to ricardoquesada

[2016-06-21 23:45] ricardoquesada commented on #13981
Could you describe the issue with more detail? Do you mean that `onTouchBegan()` should only process the event when the Visiting Camera is the default one ?

[2016-06-22 00:02] ricardoquesada commented on #13896
Apparently a new 3rd-party-external-libs bin version was needed. Seems to be fixed now.

[2016-06-22 00:02] #13896 closed, assigned to nobody

[2016-06-22 00:03] ricardoquesada commented on #13521
What kind of error did you get? Could you add more details? Thanks.

[2016-06-22 00:04] ricardoquesada commented on #13492
won't fix since we are not supporting Cocos Studio anymore.

[2016-06-22 00:04] #13492 closed, assigned to nobody

[2016-06-22 00:39] zilongshanren commented on #15889
@slackmoehrle  Thanks.

[2016-06-22 00:45] zilongshanren commented on #14972
@crazyhappygame  @hawkwood  I will try to reproduce this issue and fix it.

[2016-06-22 01:17] minggo commented on #15889
@ricardoquesada Why need to use another script?

[2016-06-22 01:49] dumganhar commented on #15652
@jmclaveria , could `app-arm7-debug.apk.pdf` which I uploaded yesterday works on your device?
@iPruch , you could clone cocos2d-x repo, and make a new branch, then pull my Pull Request to get the files I changed, and apply (copy) them to your game project.
For testing , you could just use `app-arm7-debug.apk.pdf` now,  it just plays a ogg file by clicking the play button. I will upload another dem

[2016-06-22 01:57] ricardoquesada commented on #15889
@minggo because the script `cocos` was created to help users manage its games: compile their game, run it, create new games, create spritesheets, etc...

but building cocos2d libs with `cocos` it outside the scope of the `cocos` tool. I think it was added only because some there was no better place to put it... but it shouldn't be there.
less is more

[2016-06-22 02:10] minggo commented on #15889
I think cocos can be used more than just for compile and run. I think gen-lib is part of game, because developers may want to use binary version. And there are `gen-simulator`, `gen-template`, these command is needed for some developers when developing a game.

Because cocos uses plugin, so different command don't effect other command. Though these commands are not needed for all developers, but t

[2016-06-22 02:21] ricardoquesada commented on #15889
no need to add new env. variables.
I think this is minor issue, but I think it is an issue to add that kind of functionality to `cocos`.

[2016-06-22 02:23] dumganhar opened #15904 "Wrong lua handler in LuaWebSocket::onError"
Reported by @dannyjiajia at https://github.com/cocos2d/cocos2d-x/pull/14867

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/lua-bindings/manual/network/Lua_web_socket.cpp#L136

[2016-06-22 02:26] minggo commented on #15889
yep, we can discuss what functions can be added into cocos. Then we can avoid it in future.

[2016-06-22 02:50] ricardoquesada commented on #15889
sure. my point is this... we tell users to use `cocos` to create and run new games... so the type `cocos` and they see this:

[code]

"what are those commands for?" will ask most of the users

[2016-06-22 03:11] minggo commented on #15889
So should we ask it in forum?

[2016-06-22 03:12] ricardoquesada opened #15909 "cpp-tests Scene3D -> description buttons don't work"
- cd cpp-tests
- click Node::Scene3D
- click Description
- click `hair` or `glass`

The hair or glass are not changed.

In v3.11, it works as expected. I don’t remember if there is any codes except your VR PR changed the logic.

[2016-06-22 03:41] #15879 closed, assigned to nobody

[2016-06-22 05:09] ricardoquesada commented on #15889
could be... since we have other more important things to do, I wouldn't make this change right now. Instead I would keep it in our minds so when the next opportunity to make a big change in `cocos` arrives, we also move the extra functionality somewhere else.

[2016-06-22 06:53] meiry opened #15917 "WebSocket.cpp LOGD(..) using printf for logging but not console window is opened when starting game"
in the code  the line #define  LOGD(...) printf(**VA_ARGS**) :

[code]

is using printf for longing but it useless because i windows there is no console that is opened , all logs should go to :

[code]

[2016-06-22 08:03] minggo commented on #15909
`27:Node:Camera 3D Test->5:Camera ArcBall Moving` can not move the scene and click the `Switch Operation` and `Switch Target` doesn't have effect.

[2016-06-22 08:58] jmclaveria commented on #15652
I mean the whole source code, the APK works fine in my device. I just want to trace your project and see the memory content in the line where my project fails, I could then track the differences between each other and try to understand whats wrong in my code.

[2016-06-22 10:10] zilongshanren opened #15923 "EditBox can't use custom font on Android platform"

[2016-06-22 12:22] frankwun commented on #15742
comment out the new extension seems fixed the problem:
//info.extensions = texts;

I tried, it's ok.
@springrider, thank you.

[2016-06-22 12:33] frranck commented on #15891
@ricardoquesada sorry this is very weird but I ran into some problems compiling the tests:

[2016-06-22 12:59] slackmoehrle commented on #15889
I cover some of these options in the `cocos command-line` chapter in docs/ However, I don't cover them all. I am happy to cover more if I get clarification on what they do.

[2016-06-22 13:26] sbrednikhin opened #15926 "UITextField crash when text exceeds content with enabled cursor"
Repeating:
In UITextFieldTest_LineWrap::init

add
'''textField->setCursorEnabled( true );'''
after
''' TextField\* textField = TextField::create("input words here","fonts/Marker Felt.ttf",30);'''

then run test and in test tape some letters till test will crash.

[2016-06-22 14:42] yzb0510 opened #15927 "cocos2dx v2 libwebsockets vs2010 编译 faild"
l链接库增加 ws2_32.lib

4>websockets.lib(base64-decode.obj) : error LNK2001: 无法解析的外部符号 ___report_rangecheckfailure
4>websockets.lib(client.obj) : error LNK2001: 无法解析的外部符号 ___report_rangecheckfailure

[2016-06-22 16:10] ricardoquesada commented on #13482
yes, this seems like a bug. it could happen in any platform though. perhaps it happens right now on android because we are using the std from gcc while on iOS we are using the one from clang and the `std::sort` implementation might be different... but yes... we should use `std::stable_sort` here

[2016-06-22 16:12] ricardoquesada commented on #13507
how can I reproduce it ? what framework should I include to trigger this bug? thanks.

[2016-06-22 18:30] ricardoquesada commented on #15909
Patch for v3.12: https://github.com/cocos2d/cocos2d-x/pull/15931

Patch for v3: https://github.com/cocos2d/cocos2d-x/pull/15930