[2015-09-06 02:19] fusijie commented on #13637
@jminht The source file has the edges too...

https://cloud.githubusercontent.com/assets/4132186/9578441/aa5fb3ee-501c-11e5-988c-d5c8b16b760e.png

[2015-09-06 02:25] jminht commented on #13637
@fusijie
yeah, maybe the source file has problem.
but when i run the code with the v3.6 sample project, i got the right result.
i want to know where did i change caused the difference.

[2015-09-06 02:29] c3076802 commented on #13656
@seivan
What I am trying to state is How the problem should be handled, not what the problem is.
I think this kind of error should be and can be handled by the lib. If we need to retain every object before we pass to any function we don't we just use smart-pointer ? This problem similar to self-assign. It should be and can be handled by the container, like what I commented before at least should r

[2015-09-06 02:34] jminht commented on #13637
@fusijie @zilongshanren
maybe you can check the source file in the photoshop.
i doubt that i came to some boundary conditions when using png files.

[2015-09-06 02:46] jminht commented on #13637
@fusijie @zilongshanren
it seems that one pixel will be cropped.
when the effective content is far from the edge, we couldn't figure it out.
but when the content is tightly to the edge, the problem came out Obviously.

[2015-09-06 03:00] seivan commented on #13656
@c3076802
I am guessing, release doesn't mean deallocation, it means it's added on the autorelease pool and will eventually be deallocated (deleted)
If you release and retain in the same tick, nothing actually happens (a dangerous guess though)

What I am agreeing on here, is that the notion of calling release without knowing if the object is inside the vector.

[code]

my c++ is pretty weak, but

[2015-09-06 03:49] c3076802 commented on #13656
In Cocos in order to add an object into autorelease-pool, the method autorelease() is needed to be called. release will delete the object then the ref-count == 1

[code]

[code]

I coded similar fix as you commented above.

[code]

Thx for your rely, have a nice day.

[2015-09-06 04:00] #13616 closed, assigned to zilongshanren

[2015-09-06 04:00] zilongshanren commented on #13616
@anjandaffo  please test it on v3.8 branch.
It is already fixed.

[2015-09-06 07:50] pandamicro commented on #13672
@felixjingga  Which version have you used ?

[2015-09-06 07:52] pandamicro commented on #11911
@xzben Please confirm

[2015-09-06 07:53] #9829 closed, assigned to chengstory

[2015-09-06 07:54] pandamicro commented on #9829
Anyone met this issue, please try what @xiaofeng11 said, if issue still occur, please comment here

[2015-09-06 09:04] WenhaiLin opened #13694 "Newly created JS project have some compile errors on Linux"
Test base on v3.8 branch

[2015-09-06 09:17] Cola-Zhang opened #13695 "mac模拟器console窗口文字区不响应 鼠标选中等事件"
mac模拟器console窗口文字区不响应  鼠标选中等事件

[2015-09-06 09:48] jheroy opened #13696 "在mac平台使用cocos run -p mac 会报错"
具体表现为第一次可以正常运行, 第二次以后就会报 Unable to load nib file: MainMenu, exiting
cocos run -p ios 没有任何问题

[2015-09-06 10:02] felixjingga commented on #13672
it was clearly stated v3.8
On Sep 6, 2015 2:51 PM, "pandamicro" notifications@github.com wrote:

[2015-09-06 10:15] WenhaiLin commented on #13522
Fixed at https://github.com/cocos2d/cocos2d-x/pull/13698

[2015-09-06 12:32] jminht opened #13699 "why the label effect in cocos2dx can't be so clear ?"
I played a game called "梦幻西游" made by netease, and the effect of its label shocked me.
why its label can be so clear, while the effect in my game is so blurred ?

[2015-09-06 12:33] jminht commented on #13699
![label](https://cloud.githubusercontent.com/assets/4132186/9704347/816abcfe-54d6-11e5-9143-d443f40c688c.png)

[2015-09-06 13:01] wade0317 opened #13700 "There is bug when run command line "cocos new""
Just because i add "--no-native" when run cocos new, such as:

Shuangquan:cocos2d-x shuangquan$ source /Users/shuangquan/.bash_profile
Shuangquan:cocos2d-x shuangquan$ cocos new MyDemoGame --portrait --no-native -p com.demoproject.mydemogames -l lua -d /Users/shuangquan/Documents/workspace/
执行命令：new

[2015-09-06 13:07] felixjingga commented on #13581
@mazestoxic I can't reproduce this too..

[2015-09-06 16:43] seivan commented on #13656
@c3076802 That just proves my point, that it's wrong to call release before retain. I think there is a language barrier here.

Regardless, you fix will add a penalty as you're doing _two_ `find(key)`
One in insert() and one in erase()

Also, append append your first ``` with c++ when doing markdown for code, it will give us some syntax highlight.

[2015-09-06 19:18] felixjingga commented on #10382
Please see #13672 I think there are some issues after the rewrite in v3.8.. If the manifests contains hundred of files, it "seek" the files and make all the process slower and looks "not responding" to user. Another one was if there's no internet connection, on some devices it will crash. I'm trying this on Android.. so maybe @ricardoquesada @yangws can take a look at this issue.

Also, is it poss

[2015-09-07 00:58] jimrange commented on #12567
@pandamicro Do you think this bug is a critical issue?

[2015-09-07 03:12] c3076802 commented on #13656
@seivan
1. There won't be duplicate find called, since the overload method insert doesn't call find.

[code]

erase that take const_iterator as param

[code]

2..  I don't see how I call release before retain, It won't happen on a very same object.  :-)

[2015-09-07 03:15] WenhaiLin commented on #13699
@jminht blurred? Which version of cocos2d-x are you using? Any source code to reproduce this issue?

[2015-09-07 03:27] pandamicro commented on #10965
@WenhaiLin Please take a look

[2015-09-07 03:28] #13568 closed, assigned to nobody

[2015-09-07 04:24] jminht commented on #13699
@WenhaiLin
I'm using v3.1.1.
I synchronize part of code from the issue []https://github.com/cocos2d/cocos2d-x/issues/12666.

I simply create the label by these code

[code]

here is the result pic
![difflabel](https://cloud.githubusercontent.com/assets/4132186/9709267/3dba3b80-555b-11e5-9ef4-e201d78956b7.PNG)

it's more obvious when running on the ipad.

[2015-09-07 04:27] jminht commented on #13699
the font blow isn't only brighter.
it looks like his font is vectorgraph, while mine is normal font.

[2015-09-07 04:30] jminht commented on #13699
@WenhaiLin
you can check the screenshot from the game.

![shot](https://cloud.githubusercontent.com/assets/4132186/9709339/755cfc98-555c-11e5-8770-21b9b7d56bf0.png)

[2015-09-07 05:41] #13439 closed, assigned to zilongshanren

[2015-09-07 05:41] zilongshanren commented on #13439
already done.

[2015-09-07 05:47] pandamicro commented on #10382
@felixjingga Thanks for reporting this, the issue #13672 is scheduled to v3.9

[2015-09-07 05:54] pandamicro commented on #12567
@jimrange @trojanfoe We are not focusing on Physics now, the plan to fix this issue will be scheduled to the next version. Sorry for the delay and inconvenient.

[2015-09-07 06:09] felixjingga commented on #13699
how could we duplicate their label? they have emoticon, and different color on the same line, etc.. This is what cocos2d-x label lack of. I saw richlabel, and tested it but it was still inconsistent and difficult to used. Is there any way we can emulate this using bmfont? is there in any way we can do ":P" to translate to one emoticon character in bmfont?

[2015-09-07 07:20] start530 opened #13705 "There is problem when use Label::createWithCharMap"
Sometimes it can be used, sometimes not used。
it is so ungelivable.
code:
auto label = Label::createWithCharMap("costFont.png",30,45,47);
label->setString("100");
label->setPosition(Point(400,250));
this->addChild(label,10);

console print:WARNING: can't find letter definition in font file for letter: 1

the picture just like “/ 1 2 3 4 5 6 7 8 9"

[2015-09-07 07:24] WenhaiLin commented on #13705
@start530 Which version of cocos2d-x are you using? Could you provide related resources for test?

[2015-09-07 07:27] mazestoxic commented on #13581
@felixjingga @zilongshanren Yes.. I think it only happens to me. Maybe I did something wrong. I'll check more.

[2015-09-07 07:28] WenhaiLin commented on #13699
@jminht Could you provide related font resources for test?

[2015-09-07 07:31] start530 commented on #13705
cocos2d-x 3.3
http://yunpan.cn/cm84sDAnb3GXw  访问密码 e1d8

[2015-09-07 07:33] jminht commented on #13699
@WenhaiLin
how can i upload my font resources here?
i tried but failed, said "only PNG, GIF, JPG supported"

[2015-09-07 07:38] jminht commented on #13699
@WenhaiLin
i uploaded my file to Pan.baidu.com.
Please check it.
[http://pan.baidu.com/s/1i3AiDrJ](http://pan.baidu.com/s/1i3AiDrJ)

2s8h

[2015-09-07 08:33] WenhaiLin commented on #10965
@milos1290 I fixed it at https://github.com/cocos2d/cocos2d-x/pull/13706

[2015-09-07 08:54] milos1290 commented on #10965
I'll test it today and post results here. I've also noticed that this couldn't be reproduce every time. Sometimes audio will be totally bugged, and no sound will be played,  force close of the game will restore it back, sometimes it will resume normally.

[2015-09-07 09:02] WenhaiLin commented on #13705
@start530  Your image height is 44,not 45. It’s not a bug.

[2015-09-07 09:09] WenhaiLin commented on #13705
@zilongshanren Please close this issue

[2015-09-07 09:10] start530 commented on #13705
sorry,it copy by cocos2dx 2.1.4 ,CCLabelAtlas,and it could be used successfully，so when I use  createWithCharMap, just modify startCharMap 。=。=

[2015-09-07 09:10] #13705 closed, assigned to nobody

[2015-09-07 09:10] semgilo commented on #12692
I try to fix bug by the way, but it doesnt work?why ?whien i set the scrollview clippingtype 1
![image](https://cloud.githubusercontent.com/assets/7121873/9713305/2fb526e4-5583-11e5-95e9-4a619f55af6b.png)

[2015-09-07 09:11] semgilo commented on #12692
Cocos2dx 3.6   window 7

[2015-09-07 09:14] zilongshanren commented on #12692
@yangws  please take a look at this.

[2015-09-07 09:15] semgilo commented on #12692
normal state
![image](https://cloud.githubusercontent.com/assets/7121873/9713436/ec418bcc-5583-11e5-922f-c3269487bf3f.png)

[2015-09-07 09:47] pandamicro commented on #13618
@super626 Can you explain

[2015-09-07 09:48] pandamicro commented on #13694
@yangws @WenhaiLin Can one of you fix this issue ?

[2015-09-07 09:52] jminht commented on #11484
is this available now?
or is there any way simular with this?

[2015-09-07 16:13] larsven commented on #11674
I am seeing this problem in our game too and I have not yet figured out any workaround.

Any news on when it will be fixed?

[2015-09-07 16:16] larsven commented on #11674
ClippingNode inside a ScrollView does not work in any of the cocos2d-x versions we have tested.

In v3.6, ClippingRectangleNode did the job correctly inside a ScrollView, but after upgrade to v3.8 it does no longer work.

[2015-09-07 20:34] Dredok commented on #13679
Try to extrude your tiles by 2 pixels. This is an issue with OpenGL when tries to render a floating point position which must be interpolated, picking half of next pixel which is black transparent in your sprite sheet. If you extrude your tiles by 1 or 2 pixels the issue should go. Or you could try to enforce integer positions in screen space for all the tiles

[2015-09-07 21:26] Cybertwip commented on #13679
Thanks @Dredok we solved it like that that by adding a gutter between tiles like you indicate and it worked.

[2015-09-07 21:26] #13679 closed, assigned to nobody

[2015-09-07 21:32] Cybertwip commented on #13699
We're having the same experience with the issue [#13677](https://github.com/cocos2d/cocos2d-x/issues/13677)

What we did was setting aliasing for the texture but after 3.8 there seems not to exist any method to apply aliasing to the TTF font.

[2015-09-08 03:45] foxhu17 opened #13712 "Bug reporting about removing joint from physics world(chipmunk)"
Hi,
I create a lot of nodes width physics body bound with joints  in my game, and remove the nodes when their hp=0. A random bug happen when removing the node.It stops at this code:
        cpSpaceRemoveConstraint(_cpSpace, constraint);
in CCPhysicsWorld.cpp line.729 with message "EXC_BAD_ACCESS"

I searched this problem on google and find this article:http://chipmunk-physics.net/forum/viewtopic.p

[2015-09-08 04:27] nbtthief opened #13713 "If replacing scene with Transition, built-in physics initialized at the beginning of the scene disappear"
Like the title said, if i create a scene with a physics Edgebox that i called it AScene, then if i replace the AScene with transition effect, the edge box disappear.

This bug wont happen if i replace AScene without any transition effect, or the older version(version 3.4 to be specific)

[2015-09-08 05:02] halx99 opened #13714 "Recommand: Add the interface: sharedFromThis for cocos2d::Ref"
template<typename _ImplT>
cocos2d::RefPtr<_ImplT> cocos2d::Ref::sharedFromThis()
{
    cocos2d::RefPtr<_ImplT>(this);
}
/// Just like std

[2015-09-08 05:51] WenhaiLin commented on #13699
@VirtualSJ  I got it. I will add `setAntiAliasTexParameters/setAliasTexParameters` to Label later.

[2015-09-08 06:33] TheSachin opened #13715 "Unit Testing"
Cocos2d-x must have unit testing library. It is important for developers to know when they have broken down a functionality.

[2015-09-08 06:37] jminht commented on #13699
@VictorJL
hi, my label seems don't have the function "getTexture()".
Did you export it yourself ?

[2015-09-08 08:49] WenhaiLin commented on #10965
@milos1290 What are the test results?

[2015-09-08 13:01] hp90002 opened #13719 "凑足"
涂抹咯

[2015-09-08 14:37] mirth commented on #8583
Resolved by increasing the label node content size.

[2015-09-08 15:51] woc2006 opened #13720 "OpenGL error 0x0502 in CCTextureAtlas"
I use shader on sprite with the code:

[code]

the move.vsh is copy from ccPositionTextureColor_noMVP_vert with one line change:

[code]

Which result to error: OpenGL error 0x0502 in /cocos2d/cocos/renderer/CCTextureAtlas.cpp drawNumberOfQuads 689

Environment:
XCode 6.4
Mac OS 10.10
cocos2dx: 3.2 (Also tried 3.8)

[2015-09-09 01:48] jianglong0156 opened #13724 "action can't extend in javascript code"
action can't extend in javascript code

[2015-09-09 01:50] #13477 closed, assigned to ZhangMenghe

[2015-09-09 01:50] #13522 closed, assigned to WenhaiLin

[2015-09-09 02:00] pandamicro commented on #13715
It's true that the unit test is very helpful, though it request a huge effort to build them for such a complex engine and even more to maintain them.

We have discussed it a few times, but most of us think, it requires a double team size with 1:1 developer and QA ratio to maintain the unit test, though it is not possible for us with limited resources. So personally, even if unit test is a good way

[2015-09-09 02:26] #13724 closed, assigned to jianglong0156

[2015-09-09 02:28] jianglong0156 opened #13729 "AssetsManagerEx can not continuous transmission for large zip file."
AssetsManagerEx can not continuous transmission for large zip file.

[2015-09-09 02:33] pandamicro commented on #13671
Yes, this is intended, so that we can always use touch events on both desktop and mobile platform.

If you want to use mouse event instead of touch event on Mac, you can use :

[code]

[2015-09-09 02:41] pandamicro commented on #13729
PR proposed by user: https://github.com/cocos2d/cocos2d-x/pull/13617

[2015-09-09 02:49] pandamicro commented on #13713
Duplicated with https://github.com/cocos2d/cocos2d-x/issues/12567
Please discuss in that thread

[2015-09-09 02:49] #13713 closed, assigned to nobody

[2015-09-09 02:50] pandamicro commented on #13623
@fusijie @ZhangMenghe Is this related with the modification you did?

[2015-09-09 02:53] fusijie commented on #13623
@pandamicro No, IIRC, PageView/ScrollView uses clippingNode but transition's framebuffer doesn't enable depth buffer. The issue has been around since v3.0.

[2015-09-09 02:57] #13719 closed, assigned to nobody

[2015-09-09 02:58] natural-law commented on #13696
@jheroy
What's the version of your xcode? Is it 6.0 or 6.1?
The command `xcodebuild` in xcode 6.0 & 6.1, there is the problem you mentioned.
Please update the xcode version. I'm using xcode 6.4. There isn't the problem anymore. Hope it's helpful.

[2015-09-09 03:00] pandamicro commented on #13700
Lua doesn't support --no-native tag, this is for creating pure web game.

[2015-09-09 03:00] #13700 closed, assigned to nobody

[2015-09-09 03:04] pandamicro commented on #13695
Please be more specific.

Issue reports should follow issue description rules, an issue report should include the following informations:
1. Exact steps to reproduce the issue.
2. Engine version.
3. Programming language. (C++/Lua/JS)
4. Test environment:
   - Development platform and IDE version (VS, Xcode, NDK, Cocos)
   - Deployment mode: release or debug
   - Test device and its os version
   -

[2015-09-09 03:07] pandamicro commented on #13678
In fact, it helps with all the classes for JS bindings, if you don't write your game in JS, you can turn it into protected, it won't affect anything. But in JSB, the value must be public.

As we merged Cocos2d-JS into Cocos2d-x in v3.7, this is obligated.

[2015-09-09 03:08] pandamicro commented on #13680
Yes, we have solved it, please upgrade to latest version

[2015-09-09 03:08] #13680 closed, assigned to nobody

[2015-09-09 03:10] pandamicro commented on #13676
Sorry, the maintenance of GUI module is not active for now.

[2015-09-09 03:17] #13620 closed, assigned to nobody

[2015-09-09 03:18] #13669 closed, assigned to nobody

[2015-09-09 03:20] pandamicro commented on #13668
@zilongshanren @neokim

[2015-09-09 03:22] #13658 closed, assigned to WenhaiLin

[2015-09-09 03:26] pandamicro commented on #13648
For web engine or native JSB engine ?

[2015-09-09 03:33] zeyangl opened #13737 "cocostudio adds webp support"
webp format provides great compression and cocos2d-x supports it. We see really good results using webp. No reason the editor does not support it.

[2015-09-09 03:34] zeyangl opened #13738 "cocostudio supports export filter"
Sometimes I want to do some extra processing(convert certain image formats) before exporting the file. Cocostudio should allow external scripts to be executed when publishing.

[2015-09-09 03:35] jheroy commented on #13696
Xcode Version 6.4 (6E35b)
cocos run -p mac
2015-09-09 11:35:13.887 test Mac[23737:417306] Unable to load nib file: MainMenu, exiting

[2015-09-09 03:37] pandamicro commented on #13609
Thanks, it's a known issue, but we haven't planned to solve it yet, it's low priority

[2015-09-09 03:40] zeyangl opened #13739 "Add native localization support"
Localization should be an integrated part of the game engine and provides ease to use interface. Right now common hacks are employed, like reading key strings from an external spreadsheet, replacing UI widget text by hand. It's inconvenient and hard to maintain. A locale setting should be allowed with hooks embedded in common widget classes.

[2015-09-09 03:41] zeyangl opened #13741 "Pooled action classes"
Action classes are frequently used. It should be automatically pooled, according to some settings probably, to avoid frequent allocations.

[2015-09-09 03:43] pandamicro commented on #13611
In this case it did take effect, but we also find that the calculation of progression is taking account of the size already downloaded, so it shows always from 0 - 100.

Please watch this issue: https://github.com/cocos2d/cocos2d-x/issues/13729

[2015-09-09 03:43] #13611 closed, assigned to nobody

[2015-09-09 03:46] pandamicro commented on #13613
@dabingnn @super626

[2015-09-09 03:46] zeyangl opened #13742 "Android build script should allow linking of specific jars and build targets"
Right now cocos-console compile androids with everything in proj.android/libs/
Sometimes I want to place both test and release version of a lib in libs, and I just can't do that with current setup.

[2015-09-09 03:47] pandamicro commented on #13633
@super626

[2015-09-09 03:48] #13638 closed, assigned to nobody

[2015-09-09 03:49] natural-law commented on #13696
Please check the xcodebuild version by running command `xcodebuild -version` in terminal.
If the output version is not 6.4. Please switch xcodebuild version with command `xcode-select -s [xcode 6.4 app Path]`.
If the output version is 6.4. I've no idea how to solve it. You must clean the project every time before build it with command `xcodebuild`.

[2015-09-09 04:09] quannv108 opened #13743 "Support load rotation in tile map objects"
Currently, our tile map doest not support load rotation for objects
please support in it default by adding in CCTMXXMLParser:
if (element == "objects" ){
...
//after load another value
//load rotation of object
 if(attributeDict.find("rotation") != attributeDict.end()){
            dict["rotation"] = attributeDict["rotation"];
        }
}

[2015-09-09 06:16] chengstory commented on #13675
Hi meiry, If you want to create game project based on cocos2d-x 3.7.1, you need to upgrade Cocos Studio to 2.3.1 at least, check your cocos studio version and upgrade it to 2.3.1 or higher verison. Thanks.

[2015-09-09 06:19] chengstory commented on #13657
what's visual studio version used for building simulator "release"?

[2015-09-09 06:43] felixjingga commented on #13739
:+1:  to this

[2015-09-09 06:44] stevetranby commented on #13656
Why not just call retain first?

[code]

[2015-09-09 07:39] WenhaiLin commented on #8376
Fixed at https://github.com/cocos2d/cocos2d-x/pull/13746

[2015-09-09 08:01] jianglong0156 opened #13747 "can not use setUniformCallback in js code"
can not use setUniformCallback in js code

[2015-09-09 08:32] Almax27 commented on #13678
@pandamicro if that's the case should we not only define public if bindings are in use? Having protected constructors and init methods when working in c++ enforces the create() paradigm correctly.

[code]

[2015-09-09 08:42] WenhaiLin commented on #13656
@seivan @c3076802 I think @stevetranby presented a better solution.

[2015-09-09 09:14] wjlin opened #13750 "cocos2dx"

[2015-09-09 09:17] wjlin opened #13751 "cocos2dx 3.5 Cocos2dxActivity.runOnGLThread can not work"
Cocos2dxActivity.runOnGLThread  can not work  After replacing native activity with java activity, this function can not work correctly. with error "E/libEGL(7868): call to OpenGL ES API with no current context (logged once per thread)"

[2015-09-09 09:44] MariusAvram commented on #8533
Please find the screenshot at the following address, with the result of multiple rendering actions:
https://www.dropbox.com/s/8tb1wnh3t56st6v/IMG_0095.jpg?dl=0
It seems that the rendering is made in tiles and maybe the buffer sizes for those tiles are not correctly computed?
Any help would be appreciated!
Thank you!

[2015-09-09 09:51] pandamicro commented on #13678
That's a good idea, we can do that

[2015-09-09 10:03] pandamicro opened #13752 "[Web] Add Wechat Audio support"

[2015-09-09 10:04] #13747 closed, assigned to jianglong0156

[2015-09-09 10:07] milos1290 commented on #10965
Sorry for a late reply.

Anyway i've tested it with this fix and i couldn't reproduce it anymore. It seems that everything is working normally after resuming the game from call. I'll post here if i notice anything else.

[2015-09-09 10:37] pandamicro commented on #10965
Thanks, please comment if you find other issues

[2015-09-09 10:37] #10965 closed, assigned to WenhaiLin

[2015-09-09 11:49] #9323 closed, assigned to nobody

[2015-09-09 13:01] yixiaoqingyuz commented on #12873
@super626 @pandamicro Thanks!
Maybe you are right, but,why other games can do it better? for example "crossy road" i know that this game was created by unity.
Maybe "crossy road" use light mapping to simulate the light,but cocos2d-x no this  light mapping feature for Sprite3D now.

[2015-09-09 13:17] yixiaoqingyuz opened #13756 "Pls add light map support for Sprite3D"

[2015-09-09 13:18] yixiaoqingyuz opened #13757 "Pls add dynamic shadow"

[2015-09-09 15:38] ginobean opened #13758 "in sweep.cc, nested for loops using same variable name (ambiguous coding style)"
XCode compiler warning is: "Declaration shadows a local variable." If you look at the two for-loops, you'll see that the inner for-loop is using the _same_ variable name as the outer for loop. Ambiguous coding style.. Suggest rewrite to use two different iter variable names.

[code]

}

[2015-09-09 16:01] seivan commented on #13656
Haha that is a much better solution!

[2015-09-09 16:05] seivan commented on #13671
@pandamicro But if you right-click you get no touch event. So you have to implement a mouse-event. It's seems counter-intuitive because with a mouse-event and a touch event you will get _two_ events with for left-click.

I will probably use the code snippet provided (thank you!) But I think it's not something you should know when encountering this.

Does only the Mac target give left-click as touc

[2015-09-09 20:28] stevetranby commented on #12873
They may be using vertex lighting. Or they're using fake lighting/shadows by just adjusting colors of faces on each cube/voxel. That said, Unity's lighting engine and system is far superior because that was their initial design goal for their product, and so it's very optimized and includes fallback to lower-requirement settings. Cocos' lighting is currently tacked on and somewhat half-baked, but

[2015-09-09 23:43] ginobean commented on #13758
Actually, I hadn't really noticed this before but there seem about a couple hundred warning messages from the compiler regarding issues such as these: e.g. "declaration shadows a local variable". "implicit conversion loses integer precision", "register storage class specifier is deprecated".

Not a big deal, but you guys could probably resolve the vast majority of these issues pretty easily/quickl

[2015-09-09 23:53] jgod commented on #13758
:+1:
I've been thinking about this for a while. It's likely a bunch of little changes like this, improving the code itself and the user experience.

[2015-09-10 00:48] ghost opened #13759 "ClippingNode is not perfect and does not work in some cases"
Here are some issues found with clipping node:
1. ClippingNode fails to work if you have a nested ClippingNodes e.g. masked sprite in a scrollview, nested sprite masks
2. ClippingNode and label does not seem to work together. e.g. using label to mask a sprite does not work
3. ClippingNode does not seem to have a smooth output. Does it support alpha?

[2015-09-10 02:08] tungnt11 commented on #13648
@pandamicro : For native JSB engine !

[2015-09-10 02:31] neokim commented on #13668
I got the same problem. The cause is that the inner container's position is getting reset twice after it created even though the position was already changed. Resetting places are `onEnter()` and its first `visit()`.

Regarding `onEnter()`, the content size is forced to reset by `Widget::onEnter()` and it leads to reset the inner container's position. It is related to layout component that I don't

[2015-09-10 03:37] #13729 closed, assigned to jianglong0156

[2015-09-10 03:46] c3076802 commented on #13656
@seivan @c3076802 @stevetranby @WenhaiLin
I suggested before "Of course I could retain the object then insert then release or check if the object already inserted".
I had coded fix similar to @stevetranby 's, but I changed my mind later, here are the reasons.
1. The problem is actually self-assigning, it should be solved by comparing self with input ( to make the problem clear).
2.  @stevetranby '

[2015-09-10 04:07] PeqNP opened #13761 "Support Lua on Windows phone"
I would love to see Lua on Windows phone. We are in this process of porting our games, which are all written in Lua, to the platform and realized that Lua on the Windows phone platform is unsupported.

I wouldn't mind doing the work to complete this. I wanted to know 1) who I can talk to help with this work? 2) does anyone know platform specific issues that may give me trouble when trying to port

[2015-09-10 05:08] abhisheksahay opened #13762 "Not able to set physics body for any sprite"
Hi ,
I am trying to set physics body for a sprite. Here is my code:
`auto physicsBody = PhysicsBody::createBox(Size(65.0f, 75.0f), PhysicsMaterial(0.1f, 1.0f, 0.0f));
 testSprite1->setPhysicsBody(physicsBody);`

I even followed the tutorial (http://jslim.net/blog/2014/10/10/cocos2d-x-v3-accurate-physics-body-shape-with-physicseditor/) and tried with physics editor but in both the ways my applicati

[2015-09-10 05:45] crystal891002 opened #13763 "ImageView使用shader问题"
同样的shader使用，sprite正常，imageview不支持
这是怎么回事？

[2015-09-10 06:28] c3076802 commented on #13656
I think again I might be wrong, because most of time, the situation "input object already inside Map" is pretty rare I assume.   @stevetranby 's fix is right Thanks.

[2015-09-10 07:02] c3076802 commented on #13664
@WenhaiLin
We solved the problem by add an extra function that return the reference list and set the list onto the node is created from csb as userObject.

[code]

[code]

m_plistMapOfSpriteName holds the info of plist and its frames.

[code]

[code]

It solve the problem but not in an  elegance way.

[2015-09-10 07:40] Davarg commented on #13762
Hi, what exactly exception you see? Do you debbuged your code, I mean is everything fine with variable '_physicsWorld' ?

[2015-09-10 08:10] c3076802 opened #13766 "How can we keyframe zorder in CocosStudio ?"
There is a class ZOrderFrame in Cocos2dx framework, But we can't find any way to keyframe ZOrder in Studio, need help.

[2015-09-10 08:15] #8376 closed, assigned to WenhaiLin

[2015-09-10 08:26] abhisheksahay commented on #13762
_physicsWorld is NULL

please find the log below:

`this   cocos2d::Sprite *   0x7ff28085c600  0x00007ff28085c600
cocos2d::Node   cocos2d::Node
_textureAtlas   cocos2d::TextureAtlas * NULL    0x0000000000000000
_atlasIndex ssize_t -1  -1
_batchNode  cocos2d::SpriteBatchNode *  NULL    0x0000000000000000
_dirty  bool    true    true
_recursiveDirty bool    true    true
_shouldBeHidden bool    false

[2015-09-10 08:37] pepeek opened #13767 "[JS-plugin-FB] FAILS in release mode"
Works great in debug but in release mode it throws:

[code]

I've double checked that this is called:

[code]

The log shows the `FB JS-support ENABLED` message.
Any hint how could I identify the problem?
I've put several log dump messages inside the `js_register_pluginx_protocols_FacebookAgent` to make sure it is called and it is...

I've tried it with cocos 3.5, 3.7 and 3.8 and all have this sam

[2015-09-10 08:39] Davarg commented on #13762
Ok, now we know that your variable _physicsWorld  is NULL,  maybe you just forget to initialize it? Where variable _physicsWorld  is created?

[2015-09-10 09:08] perminovVS opened #13768 "Windows Platform need static link library"
All other platform use static link, only windows use dynamic link.
For PC version it is not so important, but WinRT necessary.

Example:
Dynamic link need
glew32.dll
iconv.dll
libcocos2d.dll
libcurl.dll
libeay32.dll
libidn-11.dll
libmpg123.dll
libogg.dll
libtiff.dll
libvorbis.dll
libvorbisfile.dll
OpenAL32.dll
sqlite3.dll
ssleay32.dll
websockets.dll
zlib1.dll
And
msvcp100.dll
msvcp110.dll
msvcr100

[2015-09-10 09:18] perminovVS commented on #13768
![example](https://cloud.githubusercontent.com/assets/126923/9784770/08bec114-57b6-11e5-981d-c72a2c4a918f.png)

[2015-09-10 09:20] abhisheksahay commented on #13762
Do I need to initialize the _physicsWorld?
Its crashing in CCNode.cpp
I just followed the tutorial.

[2015-09-10 09:26] zilongshanren commented on #13762
@minggo
maybe it's related to the new physics component?

[2015-09-10 09:46] abhisheksahay commented on #13762
Yes thanks for your help, I got it I had to create the scene using physics.

Thanks

[2015-09-10 09:46] #13762 closed, assigned to nobody

[2015-09-10 10:20] pandamicro commented on #13671
Yes, if you want to occupy both left and right mouse event, you should only listen to mouse event.
The behavior is the same on Mac, Windows and Linux

[2015-09-10 10:46] woc2006 commented on #13763
((Sprite*)imageView->getVirtualRender())->setGLProgram(program)

[2015-09-10 10:56] crystal891002 commented on #13763
这样也是不行的，ImageView的getVirtualRender()是个Scale9Sprite，直接对其设置和直接对ImageView也是一样的

[2015-09-10 10:59] woc2006 commented on #13763
S9S 内部是9个Sprite, 要分别设置shader

[2015-09-10 11:41] vitkovskii opened #13771 "Chipmunk's addCollisionHandler doesn't work using JSB"
1. Download cocos2d-x v3.8 final
2. `cd tests/js-tests/`
3. `cocos run -p mac` (I'm using El Capitano beta)
4. Go to "Chipmunk test" in launched app
5. Go to "Chipmunk Collision test"
6. There is no "Collision detected" text in test: http://take.ms/uKbPp

Other thoughts:
1. It doesn't work on all native platforms because of issue in chipmunk's manual binding cpp code
2. setDefaultCollisionHandler

[2015-09-10 12:00] seivan commented on #13671
How about a crossplatform game on Windows and Windows phone.
How do I say do touch on Windows Phone and Mouse Windows since they both share the same target?

[2015-09-10 13:42] Leandros opened #13772 "Compiling for Android NDK fails"
While compiling for Android, some of my subclasses from cocos2dx classes fail to compile, due to undefined reference errors.

And no, the error lies not in my code.

[code]

[2015-09-10 17:36] stevetranby commented on #13656
The compiler may inline erase automatically. Also, in your method if it finds the object you don't insert it? I'm not sure what the correct behavior is, but I think I'd rather that anytime I call insert that the object I pass in should be the value that exists in the map after that point.

[2015-09-10 17:37] stevetranby commented on #13671
Use the platform defines. #ifdef PLATFORM_WIN32 or PLATFORM_IOS, etc
(the actual macro name may be slightly different)

[2015-09-10 18:46] seivan commented on #13671
I think it's a poor surprise that shouldn't be there at all.
If you want touch, use touch, if you want mouse then use mouse.
The API should never surprise you.

If you're cross plattform you _still_ have to implement both, and now suddenly your left-clicks will trigger twice on desktops.

@stevetranby But Windows share the same Macro for phone/tablets and computers beyond  Win 8.

Why can't touch

[2015-09-10 21:33] jgod commented on #13739
Standardizing this sounds like a good idea :+1:

[2015-09-11 01:16] ghost opened #13773 "Crash on Label release"
This crash happens when scene is quickly pushed and then popped using the Director.

error type BAD_EXE_ACCESS in CCFontAtlasCache.cpp

[code]

Queue:
![screen shot 2015-09-11 at 11 13 18 am](https://cloud.githubusercontent.com/assets/10916275/9804918/31a5ec0e-5876-11e5-9b1c-6d0d4709db34.png)

[2015-09-11 02:04] WenhaiLin commented on #13773
Which version of cocos2d-x are you using? Any source code to reproduce this issue?

[2015-09-11 02:07] pandamicro commented on #13771
Hi, it's confirmed, we will try to fix it as soon as possible.
Temporarily, please use `setDefaultCollisionHandler` instead.

[2015-09-11 04:51] ghost commented on #13773
I am using 3.7.1. I would love to give you some code but its confidential. But basically,

I replicated the issue this way which crashed 100%. Although I don't use it this way, It still produces a similar error 1 out of 1000 scene changes:
    auto scene=TestLabelScene::createScene();
    Director::getInstance()->pushScene(scene);
    Director::getInstance()->popScene(); //or replace

But it basic

[2015-09-11 05:48] FlagellumDei opened #13777 "Label BUG if label's maxLineWidth != 0 and label's scale != 1"
There is a bug in Label when setting a _maxLineWidth other than 0 and the Label scale is not 1. The lines width are always computed for the scale value of 1, and it will not display correctly. If the scale is less than 1, then the text appears narrower than it should, and if the scale is greater that 1, then it's wider. I just upgraded my project from v3.3 to v3.8 and noticed this bug.

[2015-09-11 06:16] fztcjjl commented on #13657
VS 2013

[2015-09-11 09:58] #13771 closed, assigned to pandamicro

[2015-09-11 10:00] pandamicro commented on #13771
It's fixed, in the PR I sent, what matters for this issue is lines like the following:

[code]

And the modification of `__jsb_cpSpace_addCollisionHandler`

[2015-09-11 10:11] zjsxcm commented on #8242
The bug happened in 2.x version.
Then I have find a method called "updateTexCoords" in v3.7 with note fix issue. After copy the method to v2.x  the issue fixed.

[2015-09-11 10:37] pandamicro opened #13783 "Made bindings code initialize numeric/pointer variables to avoid potential issues"
As mentioned in https://github.com/cocos2d/cocos2d-x/pull/13779

This is an example of issue this can cause

[2015-09-11 12:19] yixiaoqingyuz commented on #12873
@stevetranby Thanks for your reply！

[2015-09-11 13:53] WenhaiLin commented on #13773
@StrikerScoleriWilliams I can't reproduced this issue in latest version. Can you provide more details?

[2015-09-11 13:55] WenhaiLin commented on #13777
Any source code to reproduce this issue?

[2015-09-11 14:11] WenhaiLin commented on #13777
@FlagellumDei   What the control you use, Label or ui::Text?

[2015-09-11 15:17] dumganhar commented on #12969
@pandamicro , I also think it's an issue, we should not use `COCOS2D_DEBUG` for safe check in lua bindings code.
Probably, 3.x should use `TOLUA_RELEASE` or another macro for checking.
IMO, the argument invalid checking will not waste too much time, for the `procedure haleness` is more important. **We should not make engine crash for games developed by `Lua` or `JS`**.

[2015-09-11 15:23] dumganhar commented on #13195
@zilongshanren , it's actually a bug. We need to fix it.

[2015-09-11 15:51] backviet commented on #10724
same this issue with ios 8.4 simulator (iphone 6). It will appear when has just begun game

[2015-09-11 22:56] stevetranby commented on #13671
We use touch events for all of our left-click. Then we use Mouse event listener for right-click and scroll wheel. I know we struggled to figure out how we should tackle it, but I do realize it's not perfect.

[2015-09-12 02:22] webcrawler commented on #13759
the first  issue, if you use UIScrollview, you can try to use the "setClippingType" to change the clipping type

[2015-09-12 08:18] seivan commented on #13671
Except your left-click also triggers on Mouse Event listener, which is what I am saying.
Meaning it triggers a duplicate.

Obviously you can solve that by ignoring left clicks on mouse events.
But that's not _obvious_ to begin with, making the API poorly designed as it should be an obvious decision.

[2015-09-12 08:47] stevetranby commented on #13671
I don't know what the solution is, but if you develop your app for touch it is nice to be able to just have it run correctly on a platform using a mouse instead of touch. So for the WinRT platform allowing a person to use a mouse or touch to cause the same "touch" events seems like an obvious basic solution.

In other words 75%+ games (guess) only ever need to worry about using the touch events.

[2015-09-12 09:22] seivan commented on #13671
Yeah, the easy way you're thinking of would be have a separate listener for mouse and one for touch. Which we currently have. Except for one tidbit; duplicate events are fired for the left-click.

You will have duplicate events on Windows that have no separate targets(?)

I am not sure what you're missing or what I am being ambiguous about, this is essentially a bug on Windows and a poor API desig

[2015-09-13 13:40] neokim commented on #13668
I took an easy solution for this. The list view's lazy refresh is kept. Instead, every `jumpToSomewhere()` function of list view now calls `refreshView()` if it is not up-to-date.

And the problem regarding position reset in `onEnter()` is resolved by adding a guard statement in `ScrollView::setContentSize()` which stops to reset content size with same size.

@zilongshanren I think the guard state

[2015-09-14 00:39] stevetranby commented on #13671
I don't understand what you mean? If you only need to support left-clicking (not right or middle clicks) then just use Touch only for everything. Simple. One event listener. No confusion. Everything just works.
(edit: in other words, don't even bother creating a mouse listener)

Is your issue that you want to support right-clicking?

[2015-09-14 00:43] stevetranby opened #13791 "Disable TIFF support causes Camera 3D Test to ASSERT"
(low-priority crash in Cpp-Tests)

The reason for the ASSERT when running the test is that I'm guessing the imageTextureData stored inside SmallSun.plist is of the format TIFF?

camera3dtest.cpp (line 90)

[code]

Debug Log

[code]

[2015-09-14 01:35] #13750 closed, assigned to nobody

[2015-09-14 01:57] c3076802 commented on #13009
我使用CodeXL查看RenderTexture调用onClear的OpenGL变量的时候发现的，觉得是有这个风险。

[2015-09-14 02:04] pandamicro commented on #13475
For now, we do dispatch events to all node for each camera, and event handling you can check wether the camera mask match and then handle it. like the following PR: https://github.com/cocos2d/cocos2d-x/pull/13557 which is also exactly what you are doing in your solution

The current implementation:
1. Event dispatcher loop all camera to dispatch the event
2. Each camera loop all node to dispatch t

[2015-09-14 03:54] #13783 closed, assigned to pandamicro

[2015-09-14 03:58] #13224 closed, assigned to nobody

[2015-09-14 03:59] ZhangMenghe commented on #13648
@dimaria11
Hi, I've tested your code and found it works proper.For the testcase you could refer to `UIlistViewTest`, in which we setup a new a layout and attach it to listView.
I think the reason why your code refuse to run is something abnormal in `jsonPath2` file. Check the resource and find if mistakes in loaded layout.
Or else please offer me more specific  error message.

[2015-09-14 03:59] VisualSJ opened #13798 "[Web] Optimized setTexture"
remove originalTexture and add renderTexture
move Sprite._changeTextureColor to Texture2D

[2015-09-14 05:45] ghost commented on #13773
I wasn't able to replicate this on 3.8 either. This may already been fixed. You can close this issue.

[2015-09-14 05:50] fusijie commented on #13791
Yes, the image data is `TIFF` format, so you can't disable TIFF support for cpp-tests.

[2015-09-14 06:29] abhisheksahay opened #13803 "3D Sprite Not Visible on top of another 3D Sprite"
Hi,
I am trying to add a 3D sprite on top of another 3D Sprite but only the first sprite is visible on the screen.
Here is my code:
`ground = Sprite3D::create("fieldwithgp.c3t");`
`ground->setScale(0.01f);`
 `addChild(ground);`
 `auto testSprite = Sprite3D::create("orange.c3t");`
  `testSprite->setScale(0.4f);`
  `testSprite->setPosition(Vec2(visibleSize.width/4 + origin.x, visibleSize.height/4 +

[2015-09-14 06:59] WenhaiLin commented on #13773
@StrikerScoleriWilliams I fixed a possible related crash on 3.8 version at https://github.com/cocos2d/cocos2d-x/pull/13210

[2015-09-14 07:00] ghost commented on #13773
Ok, I replicated this on Xcode using test cases. It crashes when you pop the scene but also close the application at the same time. When I use IOS test navigator it tests the scene but it also closes the application after test which causes the crash.

[2015-09-14 08:10] stevetranby commented on #13791
Alright, I guess it's a test specific project issue. I guess I should always use pre-processor macros instead of changing the core cocos2d_libs ccConfig.h file. Makes sense.

[2015-09-14 08:10] #13791 closed, assigned to fusijie

[2015-09-14 08:43] FlagellumDei commented on #13777
I create a Label with the code below:

label = Label::createWithBMFont("test.fnt", "some long text goes here!", TextHAlignment::CENTER, 500.0f);
label->setScale(0.6f);
addChild(label);

[2015-09-14 08:43] sianzain opened #13805 "CocosStudio的.csd檔案放在資料夾下，輸出json到loadTexture沒辦法自動預載plist"
CocosStudio的.csd檔案放在資料夾下
輸出json到使用
使用JSB或Html5，ccs.load()
到loadTexture沒辦法自動預載plist
似乎是路徑組合有問題
JSB：

![image](https://cloud.githubusercontent.com/assets/11533618/9845516/0f84d24a-5afe-11e5-8a1d-25291566fe8c.png)

Html5：

![image](https://cloud.githubusercontent.com/assets/11533618/9845552/5e4f5706-5afe-11e5-96ce-84890b15cefb.png)

CocosStudio：
![image](https://cloud.githubusercontent.com/assets/115

[2015-09-14 08:54] sianzain commented on #13805
似乎不是程式的問題
是CocoStudio導出json的plist路徑有問題

[2015-09-14 11:22] tungnt11 opened #13807 "[V3.7:JS][Android] Crashes when many times call Cocos2dxJavascriptJavaBridge.evalString("")!"
activity.runOnGLThread(new Runnable() {
                    @Override
                    public void run() {
                        Cocos2dxJavascriptJavaBridge.evalString("cc.log(\"--------------------onAdLoaded\");");
                    }
                });

I run above code about 5-6 times, app is crashes!

[2015-09-14 14:14] pandamicro commented on #13648
If your jsonPath2 is created with Cocos Studio and nothing have been modified, then please give us a link to download the file and related resources (all related cocos studio output) so that we can investigate

[2015-09-14 14:30] pandamicro commented on #12969
I don't think safe check is the correct way for the mentioned issue, of course safe check can avoid crash, but released node can't be restored by safe check. The real reason of this issue is that _userData is a void\* pointer and won't be retained by the owner, instead _userObject will, that's the reason I suggested to use _userObject. In this way, the stored Node won't be released by auto release

[2015-09-14 16:18] seivan commented on #13671
I am saying it's a bug  to dispatch two events when you should be dispatching one.

You dispatch _two_ events
1) one for touch
2) one for mouse
on the _single_ event of a left-click.

And there is _no way(?)_ to add a macro to avoid it on Windows, or to differentiate between Touch and Mouse type targets.
Which makes sense because Windows accepts both mouse and touch actions, which is why I suspect

[2015-09-14 23:57] dimaria11 commented on #13648
Sorry, i can't public file and resource because some reasons.

[2015-09-14 23:59] dimaria11 commented on #13648
Sorry, i can't public file and resource because some reasons.

[2015-09-15 00:13] rauluranga opened #13816 "FrameBuffer is not fully deallocated - Cocos2d-x v3.8"
Hi Guys!
I just found that the `_defaultFBO` property (a FrameBuffer) on the `CCDirector` class is not fully deallocated. I was trying to integrate UIKit with the latest Cocos2d-x v3.8 and everything was fine but re-assign the CCEAGLView.
This bug is because the `FrameBuffer` has two static variables:

[code]

and they need to be cleared when you re-assign the CCEAGLView.

so i added two things:

[2015-09-15 00:17] tungnt11 commented on #13648
Sorry, i can't public file and resource because some reasons. I will describe as: If I add
1.    var layOutJson = ccs.load(res.BarHonors_Json);
2.      this._listView.pushBackCustomItem(layOutJson.node);
When i run, app is crashes in line 2.
But if I create new Layout as:
3.  var layoutItem = new ccui.Layout();
4.  layoutItem.setContentSize(layOutJson.node.getContentSize());
5.  layoutItem.addChil

[2015-09-15 01:37] joewan commented on #10314
“after we change the sound res to 2-channel, it is fixed.
We'd better do some resource-checking, give users some warning info.

And we'd better add a reset function into audio engine.
User can reset audio engine during switching scene, it can reduce the problems brought by Audio Engine. it can break the audio bugs from spreading everywhere.
maybe AudioEngine::stopAll can use in this situation, but

[2015-09-15 01:38] c3076802 commented on #12969
Yes, I do agree with @pandamicro,
    The real problem is that our C++ objects and script objects life cycle isn't the same.

But the problem is in fact more complicated.

quote for issue #13072

##

## 现在各个平台都有崩溃率这个指标，搞不好就下架了。

##

[2015-09-15 01:48] zilongshanren commented on #13581
@mazestoxic  I close the issue here.
If you still have something wrong, feel free to reopen it.

[2015-09-15 01:48] #13581 closed, assigned to zilongshanren

[2015-09-15 01:56] c3076802 commented on #13656
Hmm
The behavior of CCMap::insert is really depends on how you look into the problem, there is no right or wrong; or we should ask the class designer what he/she was thinking.

But As a wrapper of std::map CCMap works in a different way.
std::map:insert,  In this case should fail silently.

CCMap::insert is actually similar std::map::operator[]

[code]

And @stevetranby I think you misunderstand m

[2015-09-15 02:00] zilongshanren opened #13818 "Node:Text Input test in cpp-tests touch detection is wrong"

[2015-09-15 02:01] zilongshanren commented on #9577
@pandamicro  I can't reproduce after refactoring iOS EditBox.

[2015-09-15 02:05] fusijie commented on #13803
You can `setGlobalZOrder/setPositionZ` for testSprite.

[2015-09-15 02:35] stevetranby commented on #13671
I'll agree that the API could be improved, even if I think it's easy for us to work with for our combined mobile+desktop game needs (touch + right-mouse + scroll wheel + keyboard). It would be nice if there was an API to get available input devices and which or if they're connected.

[2015-09-15 02:40] zilongshanren opened #13820 "XCode 7 GM can't linker cpp-tests on iOS simulator and device"
http://discuss.cocos2d-x.org/t/cocos2d-x-v3-8-rc0-ios-simulator-linking-error/23635/3

[2015-09-15 02:41] stevetranby commented on #13656
Oops, didn't read your fix closely enough, sorry about that. Thanks for the clarification. Maybe I'll go submit a PR tomorrow.

[2015-09-15 02:47] zilongshanren commented on #13668
@neokim
Yes, the guard statement should be in `Widget::setContentSize()`, I will fix it based on your PR.

[2015-09-15 03:07] 1078559858 opened #13821 "Code hinting errors of keyBackClicked"
Code the "EventKeyboard::KeyCode::KEY_HOME(KEY_BACKSPACE)" in the "@deprecated Please override onKeyReleased and check the keycode of KeyboardEvent::KeyCode::Menu(KEY_BACKSPACE) instead. " is wrong

[2015-09-15 03:30] WenhaiLin commented on #13656
Fixed at https://github.com/cocos2d/cocos2d-x/pull/13701

[2015-09-15 03:31] #13656 closed, assigned to nobody

[2015-09-15 03:46] abhisheksahay commented on #13803
I did setPositionZ. Now my screen looks like
![screenshot](https://cloud.githubusercontent.com/assets/1061148/9867370/68e9766a-5b8a-11e5-9fea-3d6d6d8175b5.png)

I wanted to show the ball on center of the field.

[2015-09-15 03:52] pandamicro commented on #13334
Duplicated with https://github.com/cocos2d/cocos2d-x/issues/13248
And fixed at https://github.com/cocos2d/cocos2d-x/pull/13249

[2015-09-15 03:52] #13334 closed, assigned to nobody

[2015-09-15 04:05] jminht commented on #12177
@pandamicro
how is this thing going ?
can't wait to use the cache !

[2015-09-15 05:38] fusijie commented on #13803
You can refer to [Cocos2d-x Program Guide: 3D](http://www.cocos2d-x.org/programmersguide/9/index.html) and [Depth Test](http://learnopengl.com/#!Advanced-OpenGL/Depth-testing).

[2015-09-15 05:57] won-ex opened #13825 "Bugs in ui::Button. setPressedActionEnabled(false) not working"
ui::Button`s 'setPressedActionEnabled(false)'  is not working when not set pressed texture image

ui/widgets/UIButton.cpp Line 495:
'onPressStateChangedToPressed()' should check '_pressedActionEnabled' when else block.

like this

[code]

cf) http://discuss.cocos2d-x.org/t/button-problem-setpressedactionenabled-is-not-working/16508#

I check it v3.8. Please fix this issue.

[2015-09-15 06:24] #13454 closed, assigned to fusijie

[2015-09-15 06:31] pandamicro commented on #13671
The original thoughts is just as @stevetranby said, we want our engine to be friendly with our targeted users.

Two facts:
- Cocos2d-x have always been mostly popular for mobile games on iOS & Android.
- These developers develop mostly on windows and Mac OS.

So the current implementation is for simplify development on Windows/Mac for iOS/Android, I agree with @seivan that the API doesn't suggest

[2015-09-15 07:12] 1078559858 opened #13829 "Bitcode 导致编译失败"
问题：Xcode 7 编译 3.8 ios模拟器 编译失败
详细描述：libcocos2d iOS.a(ftbase.ios8_x86_64.o), building for iOS simulator, but linking in object file built for OSX, for architecture x86_64
我创建了个新的3.8版本的项目直接编译6s模拟器然后出现这个错误，用的是Xcode7 GM Seed版本
我把项目的target Enable Bitcode 设置为No之后 真机上可以编译成功

[2015-09-15 07:18] fqamic commented on #13829
主要是模拟器编译不过，真机可以在自己关闭target Enable Bitcode后编译通过

[2015-09-15 08:02] zjsxcm commented on #13699
@jminht the label is inherit from SpriteBatchNode,  it has the getTexture() method.

[2015-09-15 08:30] stevetranby commented on #13699
`label->getFontAtlas()->setAliasTexParameters()` from here:
http://discuss.cocos2d-x.org/t/release-cocos2d-x-3-8-final-please-enjoy/23479/94?u=stevetranby

[2015-09-15 09:22] wassil opened #13831 "Getting bounding box of CocoStudio skeleton is broken for JS in 3.8"
I tried creating a skeleton based animation in cocostudio and then importing it in JS.
It loads fine, but when trying to get bounding box, it crashes in CCBoneNode.js line 286
I did a quick fix by changing
    displayRect.setRect(minx, miny, maxx - minx, maxy - miny);
into
    displayRect = type.rect(minx, miny, maxx - minx, maxy - miny);
It works fine now, but I don't understand the engine deep e

[2015-09-15 10:28] #13668 closed, assigned to zilongshanren

[2015-09-15 11:21] wassil opened #13834 "MoveBy action doesn't work when applied to CCBoneNode in Browser"
I'm using cocos2d-x 3.8, I have added animation from cocostudio using ccs.load, it displays without issues and plays animation
when I try to use cc.moveBy action, the object doesn't move when I'm running the game in browser, but moves on iOS

[2015-09-15 14:06] seivan commented on #13671
@pandamicro How can it be friendly if it's buggy for Windows users?

I feel like I am repeating myself, there are two events being sent.
If I shoot with left-click then my character will try to shoot twice.
This is a bug foremost, and unexpected API (bad design) second.

I know you wanted to make it easy for Mouse users by just having 1 event listener for both, but that shit breaks down when you w

[2015-09-15 14:40] zilongshanren opened #13837 "RadioButtonGroup clone will cause program crash"
If we add some RadioButtons to a RadioGroup and then we use `clone` method to create another RadioGroup and add it to the scene graph.

When click to switch RadioButton, the program will crash.

@neokim  Thoughts?

[2015-09-15 14:56] milos1290 opened #13838 "CCLabel not rendered with culling enabled"
So i've came across this issue several times, if i remember well CCSprite with same setup will also show same problem.

If you set for example Label out of screen initially with CC_CULLING_ENABLED, and using action like MoveTo/MoveBy to move label to visible part of the screen, it won't render any letter.

[code]

and later

[code]

To solve this issue, i usually have to call

[code]

[2015-09-15 23:17] stevetranby commented on #13671
We have Win32 and Windows Phone working with the following. I get it's not a perfect API, but it is what it is. If you hate it, write your own GLFW Input wrapper or pull SFML's or SDL's input sub-system into your project and don't use the cocos2d one.

Thanks for the info that Apple provides left/right in event details. That will help them in the future when the core team (I'm not one of them) dec

[2015-09-16 01:32] neokim commented on #13837
@zilongshanren I couldn't reproduce the situation but I see that `RadioButtonGroup::copySpecialProperties()` is not cloning its radio buttons but just copying the pointers. This is a problem obviously, even though it may not be the cause of this issue.

Can you provide any codes to reproduce the situation? I'd like to make sure its working in my local.

[2015-09-16 01:34] stevetranby commented on #13671
If you want to submit a patch inside the experimental namespace they might merge into 3.9+, otherwise feel free to create a PR for v4.x

[2015-09-16 01:42] pandamicro commented on #13671
Exactly, that's a desktop user's need, but what I want to clarify is that most of our user only targets on mobile platforms for deployment, not windows desktop. And I agree with you that it's annoying for users who targets on both desktop and mobile windows deployment.

I also like the Apple solution, it could be a solution to make everyone happy

[2015-09-16 03:37] pandamicro commented on #13513
Thanks for the suggestion

[2015-09-16 03:46] c3076802 opened #13844 "ActionTimeline triggers multiple lastFrameEvent when its FPS is lower then application FPS"
1. create an animation in cocos-studio with fps **30**
2. run cocos-application in fps **60**
3. set **CCActionTimeline::setLastFrameCallFunc** with a print
4. receive multiple lastFrameEvents

[code]

Say we set the **ActionTimeLine's** FPS to **30**, then **_timeSpeed** will be **0.5**

[code]

So that_time increase slower than real time.
After **the first "last frame event"** is triggered,  sin

[2015-09-16 04:00] pandamicro commented on #13844
@chengstory @xiaofeng11 @geron-cn Please take a look at this issue

[2015-09-16 05:01] chengstory commented on #13844
@geron-cn Please take a look. Thanks.

[2015-09-16 06:15] fullmetal248 opened #13846 "Label::getLetter(int)->setVisible(bool) doesn't work"
Label::getLetter(int)->setVisible(bool) doesn't work.
e.g.

[code]

[2015-09-16 07:34] ZhangMenghe opened #13855 "[Web Engine] Modification for ccui.scale9Sprite"
- Merge ccscale9Sprite and RenderCmd to UIscale9Sprite
- Set an array (_protectedChildren array) to store 9 pieces rather than attach them to _scale9Image
  Refer to UIscale9Sprite.cpp with a little difference.
- Future work: detach textureRenderCmd and Sprite(if attached now) and use 9 renderCmds instead of creating sprites

[2015-09-16 07:49] geron-cn commented on #13844
@c3076802
the key note is reentry a same frameindex after scale actiontime's speed, it fixed in this pr: https://github.com/cocos2d/cocos2d-x/pull/13859/files   .

thank you very much.
@chengstory @pandamicro .

[2015-09-16 07:57] pandamicro commented on #10382
Fixed by https://github.com/cocos2d/cocos2d-x/pull/13832

[2015-09-16 07:58] pandamicro commented on #13672
We have refactored Downloader in #13832, instead of using libcurl, we are now using Android & iOS native network libraries, it should be more stable now

[2015-09-16 08:01] pandamicro commented on #13846
In which version ?

[2015-09-16 08:01] c3076802 commented on #13844
I tried to fix it myself How about setting the _playing flag to false to prevent it revisit ?
I think the animation is end, _playing should be false when not in a loop.

[code]

Thank you.

[2015-09-16 08:14] fullmetal248 commented on #13846
In "cocos2d-x-3.8 final September.6 2015", downloaded at "www.cocos2d-x.org/filedown/cocos2d-x-3.8.zip"

[2015-09-16 08:41] geron-cn commented on #13844
no , it can not resolve the problem from the root: `ReEntery the same frameindex`, and it will cause new issue:
- may not emit the _lastFrameListener while loop play and fps <60
  if you fix like that.

the correct way to set _playing has been set in `endtooffset >= _fraemInternal`

[2015-09-16 09:04] Neo1975 opened #13871 "[Spine] memory leak"
Engine Version: 3.6

To reproduce: create a spine animation, free textureCache from spine texture and make run another time the animation. This scenario is tipical for animation that required a big atlas. In a scene you show an animation, for memory reson you free textureCache but no memory will be free and the second time you run the animation another texture was loaded.

Motivation:
I notice tha

[2015-09-16 09:05] pandamicro commented on #13871
It have been fixed in v3.8 https://github.com/cocos2d/cocos2d-x/pull/13335

[2015-09-16 09:06] #13871 closed, assigned to nobody

[2015-09-16 09:24] c3076802 commented on #13844
OK thanks for your explanation :+1:

[2015-09-16 09:54] seivan commented on #13671
@stevetranby That code won't work if you're abstracting clicks/touch. _Unless_ there is "data" in the Event that says this is a mouse click (doesn't need to say left, since only left works)
Then that might work

e.g.

[code]

Would something like that be approved for 3.9? I genuinely don't want to sit on my own 4.0 fork if it won't be ready soon, but for 3.9 I'd love to rewrite the touch handling.

[2015-09-16 11:26] larsven opened #13876 "ClippingRectangleNode inside ScrollView does not work after 3.8rc0"

[2015-09-16 11:38] larsven commented on #13876
to fix it:

[code]

[2015-09-16 13:03] milos1290 opened #13878 "Android: Activity reopens after calling Director::getInstance()->end();"
On some devices, like Samsung Galaxy Note 4 when calling Director::getInstance()->end(); to exit game,
Activity will be recreated and game will be started again due to calling

[code]

This happens because system thinks that process was killed forcefully and tries to restore it back.

One solution could be to call Activity.finish(), and let the system take care of resources, or even System.exit(0)

[2015-09-16 15:15] zilongshanren commented on #13837
@neokim
Sep16-18, I will attend TDC in Shenzhen, I will post my code here after the conference.

[2015-09-16 15:54] felixjingga commented on #13878
Yes, i can confirm this bug exists.. sometimes it restores the application, sometimes it won't.

[2015-09-16 16:09] #13551 closed, assigned to yangws

[2015-09-16 16:10] larsven commented on #11674
For ClippingRectangleNode and cocos2d-x 3.8, apply the patch posted here: https://github.com/cocos2d/cocos2d-x/issues/13876

[2015-09-16 16:20] larsven commented on #11674
We are using a temporary workaround until this bug is fixed:

ClippingNode seems to be working correctly inside a ScrollView when first placed on a ClippingRectangleNode.

We have the following hierarchy, from parent to child:
1. ScrollView
2. ClippingRectangleNode
3. ClippingNode
4. Sprite to be clipped

Everything gets clipped and displayed correctly now.

Note: In cocos2d-x 3.8, the ClippingRec

[2015-09-16 18:19] milos1290 commented on #13878
Yeah, this is not 100% reproducible bug.

[2015-09-16 22:45] stevetranby commented on #13671
Sorry, I now realize that you are correct, thanks for making me think about it further.

We currently support left-drag RTS selection on Win32/Mac/Linux, but as you've made me realize we force the user interaction based on platform, not input device.

So, yes your ideas and code are great, as we've discussed. If you want any help or want me to test it out I'll gladly do so either pulling from your

[2015-09-17 01:16] neokim commented on #13837
@zilongshanren Okay. Is it a long trip for you? Hope you have a good trip.

[2015-09-17 03:24] pandamicro opened #13885 "VideoPlayer lost progression bar when returning from full screen"
![wechat_1442458955](https://cloud.githubusercontent.com/assets/632460/9924079/9b263a50-5d2e-11e5-8cd0-0d956a4764d9.jpeg)

[2015-09-17 03:40] #13513 closed, assigned to pandamicro

[2015-09-17 06:35] #8281 closed, assigned to natural-law

[2015-09-17 07:09] 1078559858 opened #13889 "VideoPlayer视频播放问题"
描述：加入3D场景后，视频就不显示了
环境：2dx 3.8 c++
测试代码：
        auto _3dNode = CSLoader::createNode("Scene3D.csb");
    this->addChild(_3dNode);
# if (CC_TARGET_PLATFORM == CC_PLATFORM_ANDROID || CC_TARGET_PLATFORM == CC_PLATFORM_IOS)

[code]
# endif

}

[2015-09-17 07:44] jianglong0156 opened #13891 "CCGLprogram setUniformLocationWithMatrix can't use in js code"
CCGLprogram setUniformLocationWithMatrix can't use in js code

[2015-09-17 08:23] #13818 closed, assigned to yangws

[2015-09-17 09:07] yaoyinbear opened #13894 "v3.8 compatibility issue with json file exported by cocostudio v1.6"
In function SpriteFrameCacheHelper::retainSpriteFrames we can see :
 ValueMap& framesDict = dict["frames"].asValueMap();
Once there is no tag with name of "frames", the ASSERT will occured in Value::asValueMap
Unfortunately, if you added a particle in the cocostudio v1.6, then you would got a exported json file
with a particle plist file in it. And, the particle plist file had no tag names "frames

[2015-09-17 09:44] w1o7l5 opened #13896 "Xcode 7.0 ld warning - 3.8"
Updated to 3.8, compiled to get the following warning:

[code]

What's mean? How to solve?

[2015-09-17 09:45] #13891 closed, assigned to jianglong0156

[2015-09-17 10:19] xkf815 opened #13898 "glsl在iphone6(a8 gpu) 下提示错误 OpenGL error 0x0502 但在其他 iphone和ipad设备上没有错误"
错误提示:penGL error 0x0502 in /cocos2d-x/cocos/renderer/CCRenderer.cpp restoreRenderState 182
以下是glsl代码:
vsh:
attribute vec4 a_position;
attribute vec2 a_texCoord;
attribute vec4 a_color;

varying vec4 v_fragmentColor;
varying vec2 v_texCoord;

void main()
{
    gl_Position = CC_PMatrix \* a_position;
    v_fragmentColor = a_color;
    v_texCoord = a_texCoord;
}
fsh:
varying vec2 v_texCoord;
varying

[2015-09-17 13:06] zawasp opened #13901 "'Configure' like script for cocos2d-x"
I need a way to remove some cocos2d-x libraries for specific games. For example, for 3D games I don't cocos3d_static and others, for games without physics I don't need Box2D etc.

Perhaps cocos console can have an option to disable some dependencies when creating a new project. This will dramatically reduce compilation time + library size.

Right now I do it manually for each project, but it's les

[2015-09-17 14:23] #10382 closed, assigned to yangws

[2015-09-17 14:27] pandamicro commented on #13820
Fixed in https://github.com/cocos2d/cocos2d-x/pull/13880

[2015-09-17 14:27] #13820 closed, assigned to WenhaiLin

[2015-09-17 14:31] seivan commented on #13671
I am not even sure why this is a "tech discussion" and not a bug. You're dispatching a touch event on a mouse click. That's just poor design through and through, it doesn't make things easier, as it executes both touch code as well as mouse code on Windows targets <- bug.

If you want to be a cross platform dev tool, you have to be it full through and support Windows desktop without breaking it ju

[2015-09-17 14:46] #13481 closed, assigned to natural-law

[2015-09-17 14:47] pandamicro commented on #13526
Hi, @man2 Linux is not our focusing platform, so we can't spend too much time on it, we have a small group size and we must focus on what is important for most of our users. So I'm sorry we can't improve it recently, I'm closing it.

[2015-09-17 14:47] #13526 closed, assigned to nobody

[2015-09-17 14:48] #13475 closed, assigned to yangws

[2015-09-17 14:48] pandamicro commented on #13475
Done

[2015-09-17 14:48] #13434 closed, assigned to zilongshanren

[2015-09-17 14:48] #13431 closed, assigned to WenhaiLin

[2015-09-17 14:54] pandamicro commented on #12672
@ZhangMenghe what do you suggest for this issue

[2015-09-17 14:56] pandamicro commented on #11911
If there is no further informations, I will close it for now, anyone find it's still an issue, please comment

[2015-09-17 14:56] #11911 closed, assigned to chengstory

[2015-09-17 14:57] pandamicro commented on #11259
So what's the plan

[2015-09-17 15:00] #9577 closed, assigned to zilongshanren

[2015-09-17 16:53] stoshb opened #13904 "Can not link cocos2d-x in just released XCode 7.0"
Because I like to live dangerously (and please don't flame me for this stupidity), I usually just download all updates from Apple as they occur.

Yesterday, I saw the release version of XCode 7 and put it on my system, replacing previous release.  Now my XCode project fails to link when loading xcode.  So, I went and downloaded cocos2d-x v3.8 and tried to load this and failed again.

Now I am gett

[2015-09-17 16:55] stoshb commented on #13904
For specificity sake here is last error:

ld: in /Users/Stan/Library/Developer/Xcode/DerivedData/cocos2d_tests-bqsluxlnuocyzxbuuzkxhaelcseb/Build/Products/Debug-iphonesimulator/libcocos2d iOS.a(ftbase.ios8_x86_64.o), building for iOS simulator, but linking in object file built for OSX, for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

and here

[2015-09-18 01:17] ZhangMenghe opened #13908 "[Web Engine] Draw labels directly on Screen instead of creating new canvas"
This is a modification for labelTTF under Canvas Mode
- Avoid drawing creating new _labelCanvas to temporarily store labels.
- In this mode, `use fillText()` instead of `drawImage()`
- use function `setDrawMode` to switch between draw on cached Canvas and Screen.

[2015-09-18 02:00] stevetranby commented on #13671
It is definitely NOT a bug. It is a design choice. Treat everything as touches. Offer the mouse listener and EventMouse only for those who want to try and customize the experience when using a mouse. Touch is the standard method of positional input.

v4 can break this design choice.
v3.9+ will probably only accept a PR that augments, not change this design choice.

You can have different build for

[2015-09-18 02:27] dpclove commented on #13829
我也碰到了这个问题，昨天更新了xcode7之后就这样了~~

[2015-09-18 02:37] VisualSJ opened #13910 "[Web]Child element coordinates will not be updated of Chilpmunk Tests"
PhysicsSprite location of the update error in the webgl

[2015-09-18 02:37] #13910 closed, assigned to VisualSJ

[2015-09-18 02:44] WenhaiLin commented on #12837
@pandamicro  It can not be finished in 3.9 due to the time limit. I planning to fix this issue in future version.

[2015-09-18 02:44] VisualSJ commented on #13470
https://github.com/cocos2d/cocos2d-html5/pull/3115
this pr is separated Texture's update logic.

[2015-09-18 02:55] jianglong0156 commented on #13362
already fix:https://github.com/cocos2d/cocos2d-x/pull/13717

[2015-09-18 03:13] wangxingfred opened #13912 "[ScriptingCore] Require cached js script lead to app crash after GC"
In cocos2dx-3.7 and cocos2dx-3.8:

Cached js scripts in ScriptingCore.cpp as filename_scripts are not Rooted, which means they are not GC-reachable.
After reclaimed by GC, anthoer JS_ExecuteScript call using the dangling pointer cause app crash.

[2015-09-18 03:29] ZhangMenghe commented on #13763
目前只能对Sprite(及其子类)设置shaderprogram.UI部分的node，包括button,imageView,s9Sprite等暂无此功能。
有的节点，比如imageview，可以通过设置Sprite类型子节点_imageRenderer的shaderProgram实现

[2015-09-18 03:35] ZhangMenghe commented on #12672
@pandamicro @folgerhu
Firstly, to think it the proper way to achieve eraser effect, parameters should be (SRC_ALPHA, ZERO),for the source color is the background and destination one is the dirty image.
In this case, effect works fine on Web,Win,Mac platform now.
Therefore, nothing to be change by now.

[2015-09-18 03:44] 1078559858 opened #13915 "shander叠加"
Cocos2d-x 的 shader 不能叠加，这样要做复杂点的功能就要全部写成一个shader， 调试起来很麻烦热情容易出错啊，也不利于做成模块化
希望shader可以叠加，谢谢。

[2015-09-18 03:57] Curtis-ly opened #13916 "skybox各个面贴图左右颠倒"
skybox各个面贴图和Pano2VR/Unity3D对比发现图像左右颠倒

[2015-09-18 04:02] jianglong0156 commented on #9019
the bug had already fix in 3.8, Please test again

[2015-09-18 04:02] #9019 closed, assigned to jianglong0156

[2015-09-18 04:37] c3076802 commented on #13915
简单的话可以参考gamebyro的标准材质的做法，
根据渲染体所绑定的纹理（是否有法线图，漫反射图等），是否接受光照，是否有阴影，uniform输入等参数，运行时生成shader，相对还是比较灵活的，不过如果定制shader的话还是得自己写。

[2015-09-18 04:53] pandamicro commented on #13904
Duplicated with https://github.com/cocos2d/cocos2d-x/issues/13820
And fixed in #13880

Please try to download v3.8.1 which supports Xcode 7: http://cocos2d-x.org/download

[2015-09-18 04:53] #13904 closed, assigned to nobody

[2015-09-18 05:10] pandamicro commented on #13912
How can I reproduce the crash ?

[2015-09-18 05:17] wangxingfred commented on #13912
1.require("xx.js")
2.forceGC()
3.require("xx.js")

[2015-09-18 05:28] 1078559858 commented on #13915
多谢回答，我尝试一下！

[2015-09-18 05:28] #13915 closed, assigned to nobody

[2015-09-18 05:32] ZhangMenghe opened #13919 "[Web Engine] Fix setColor and Opacity in uiButton"
- Should not setOpacity while setColor.
- There exists a mechanism in the Engine that when visit the protected nodes attached to button, `_synStatus` will be called, in which color and opacity will be changed as button did.
- Avoid set repetitive attributes.

[2015-09-18 05:39] #13919 closed, assigned to ZhangMenghe

[2015-09-18 05:39] #13908 closed, assigned to ZhangMenghe

[2015-09-18 05:53] super626 opened #13920 "Feature request: 3D MotionStreak"
Similar to 2D motion streak, 3D Motion streak is needed which can be used in trail of motion

[2015-09-18 05:54] pandamicro commented on #13470
VisualSJ have improved the texture's logic
Future improvement will be scheduled to next version

[2015-09-18 05:56] #13920 closed, assigned to super626

[2015-09-18 06:22] wangxingfred commented on #13912
It's easier to reproduce with vs2012 debug mode.

[2015-09-18 07:12] c3076802 opened #13924 "Event can't be received when calling addEventListener and dispatchEvent inside dispatchEvent."
I have just received a interesting bug report from my colleague.
I modified NewEventDispatcherTest.cpp to reproduce the bug.

[code]

(1). when dispatchEvent "game_custom_event1" （_inDispatch+1 = 1）

[code]

(2). Inside "game_custom_event1" receiver function, call addEventListener "1", since
（_inDispatch > 1) _toAddedListeners.push_back(listener);

[code]

(3). call dispatchEvent "1", because even

[2015-09-18 07:57] joewan opened #13926 "audio crash (version cocos2d3.8)"
http://bugly.qq.com/share/IRli00

0   libsystem_platform.dylib    0x3b20c1cc  __platform_memmove$VARIANT$CortexA9 + 160
1   OpenAL  0x31fff2be  OALSource::DoRender(AudioBufferList_, unsigned long) + 2050
2   OpenAL  0x31ffea5c  OALSource::SourceInputProc(void_, unsigned long_, AudioTimeStamp const_, unsigned long, unsigned long, AudioBufferList_) + 28
3   AudioToolbox    0x301627a0  AU3DMixerEmbed

[2015-09-18 07:59] joewan commented on #13926
@WenhaiLin.      can you give us some advice?

[2015-09-18 08:25] mirth commented on #11699
Problem occurs with cyrillic "Ы" and "Й" letters in ttf font. Is it problem of my ttf or is it cocos bug? (cocos2d-js 3.6)
![bug](https://cloud.githubusercontent.com/assets/1296970/9955201/cf68c0d4-5df7-11e5-9c93-bcfd6ce9dd85.png)

[2015-09-18 08:27] super626 opened #13928 "Material Refactor: Use material files to simplify code"
There are many sprite3d test in cpptests that use user custom shaders.  It take much effort to to use GLProgramState. We can use material files instead.
auto material = Material::createWithFilename("xx.material");
sprite3d->setMaterial(material);

[2015-09-18 08:43] #13928 closed, assigned to super626

[2015-09-18 09:16] man2 opened #13929 "socket.io 1.3.6 can't create custom namespace"
@himynameschris
Tried with server code from
https://github.com/himynameschris/socket.io-testserver

SocketIO::connect("http://localhost:3010/testpoint", *this);

can only connect to default namespace.

this is the server log
  socket.io:socket socket connected - writing packet +0ms
  socket.io:socket joining room I6LarO9Dg0hqscrpAAAA +12ms
connection
  socket.io:socket joined room I6LarO9Dg0hqscrp

[2015-09-18 09:29] #13855 closed, assigned to nobody

[2015-09-18 09:41] vladniki12 opened #13932 "cocos2d-x debug on Android/"
Unable to start debugging on the cocos2d-x Android Studio. Android Studio requires the use Gradel 2.5. Does anyone at all happen?

[2015-09-18 09:46] 1078559858 opened #13933 "popScene的BUG"
BUG原因：
 void ComExtensionData::onExit()
    {
        onRemove();
    }
正常退出时没事
但是如果场景没有移除在移除就不对了

Google Translate: Nothing normal exit
But if the scene is not removed in the removal is not right

[2015-09-18 09:56] TimothyZhang commented on #9621
Unfortunately, `writeDataToFile` is not supported yet by JSB in cocos2d-x v3.8

I created a pull request #13960 for this.

[2015-09-18 10:54] c3076802 commented on #13844
Hi
@geron-cn We apply your patch, it works on Window but halts animation on android, we are trying to find out what happen , report later.

[2015-09-18 14:04] tmsoft opened #13943 "Scale9Sprite doesn't apply Global Z order to protected children"
[code]

[2015-09-18 14:42] geron-cn commented on #13844
@c3076802   may be some multithreading reasons?

[2015-09-18 16:34] seivan commented on #13671
Thanks for the explaining what macros are available and what they target, it wasn't so obvious I appreciate that.
I wonder if it's valid though, on Windows you compile once for all platforms. How does the macro work there?

In the quest of making things _easy_ you make it harder by adding so many conditions to avoid _DOUBLE_ events being triggered.

It's actually much easier to tell the user to ca

[2015-09-18 18:06] stevetranby commented on #13671
You don't have to convince me (and again I'm just a game dev using the engine) and that's why I agree with your improvements to be added, I'm just trying to explain why they aren't there now and why you might find that they don't merge your additions until v4.0 and why you might have to add in a small amount of code for your needs to better detect capabilities to support mouse more extensively.

I

[2015-09-19 01:43] man2 commented on #13929
It seems like socketio packet toString() doesn't need ":" separator for 1.0

[2015-09-19 01:56] pandamicro commented on #12969
We are investigating how to solve the retain/release issue in script, we'd like to remove them entirely in JSB

[2015-09-19 06:11] c3076802 commented on #13844
I am guessing the problem might be the function **abs** on Linux works only with **integer**, then when we pass a double as param cause something unexpected.

**http://linux.die.net/man/3/abs**

[code]

we should use **fabs** or **std::abs** for instead. I will do some tests next Monday.

[2015-09-19 06:23] c3076802 commented on #12969
Great !
I did have some experience of handling object that share between script and C/C++ , BigWorld with python, GameBryo with lua and wrapping early version of Irrlicht  with lua, might be helpful.

[2015-09-19 09:20] pandamicro commented on #13876
It have been fixed by #13913

[2015-09-19 09:20] #13876 closed, assigned to nobody

[2015-09-19 09:20] pandamicro commented on #11674
Fixed by #13913

[2015-09-19 09:20] #11674 closed, assigned to zilongshanren

[2015-09-19 09:22] geron-cn commented on #13844
yes, that is a problem , than you very much.

[2015-09-19 09:30] pandamicro commented on #13912
It's irrelevant with GC, in fact you are not really suppose to do such thing. While requiring a script, the consequence is related with its content, you may load many objects into the current context, GC will release some of the local objects, but not global ones. Re-requiring it will not succeed because previous require have already saved a cache of the compiled script. Anyway, you won't be able

[2015-09-19 14:19] winneryong commented on #13816
today, i find this bug too. thank your solution

[2015-09-19 14:46] winneryong opened #13951 "_defaultFBO释放问题"
我使用cocos2d-x的场景和其他人可能不太一样，需要将cocos2d-x集成到我们的app中，可以在不同的页面中来回切换，由于cocos2d-x不支持多导演，所以使用的时候流程为，每个页面打开运行一个新的场景和导演，当用户切换页面时将当前页面中的场景和导演都要销毁（Director::getInstance()->end();），每次进到一个新的页面到重新运行一个全新的导演和场景。但是我发现当切换到第2个页面的时候就会显示不出来，黑屏，控制台一直打印OpenGL的错误，于是我跟踪了一下当Director::getInstance()->end();后为什么没有销毁所有对象，发现_defaultFBO有些问题，我觉得是问题，本人c++刚学没几天，所以不能断定到底是不是bug，下面我把说一下我分析的过程：

环境： iOS Xcode  UIKit和cocos2d-x集成
我的测试程序有2

[2015-09-19 15:04] pandamicro commented on #13816
@ricardoquesada @super626 Can you confirm this issue ?

[2015-09-19 16:24] pandamicro commented on #13807
You shouldn't directly run SpiderMonkey APIs (via ScriptingCore) in another thread (Runnable is a thread)

[2015-09-19 16:26] pandamicro commented on #13767
Facebook JS SDK doesn't support advanced mode, please use

[code]

no `--advanced`

[2015-09-19 16:38] ermanhaskan commented on #13932
Same here.

[2015-09-19 18:15] seivan opened #13952 "[Request] 2d CCLightNode"
Would be cool to have a CCLightNode for 2d similar to SKLightNode on SpriteKit
with the following attributes (getter/setters)
- `categoryBitMask`
- `ambientColor`
- `lightColor`
- `falloff`

[2015-09-19 23:28] himynameschris commented on #13929
I tested and confirmed that this was an issue, in fact i was having trouble communicating with the default namespace as well as custom namespaces.

@pandamicro @zilongshanren @minggo it looks like somewhere between my commits and the release of 3.8, a bug was introduced to the socket.io extension that prevents it from functioning correctly with socket.io servers version 1.3.x (the same version bun

[2015-09-20 00:03] himynameschris commented on #12439
you need to disconnect any sockets opened during the test, otherwise you are correct, callbacks will happen on pointers that have been released. the test could easily be changed to force this to happen upon exiting the scene, but at the moment it relies on users to manually disconnect endpoints.

[2015-09-20 00:34] himynameschris commented on #13929
@man2 nailed it, the separator ":" on line 233 being used for v1.0 packets is incorrect, should be changed to ""

[2015-09-20 00:40] ZeroHackeR commented on #13929
@himynameschris Please kindly let us know if you get that work... :+1:

[2015-09-20 00:50] tungnt11 commented on #13807
I read this doc: http://cocos2d-x.org/docs/manual/framework/html5/v3/reflection/en

[2015-09-20 00:55] himynameschris commented on #13929
fixed in #13953

change line 233 of SocketIO.cpp from _endpointseperator = ":" to _endpointseperator = "", credit to @man2 for figuring it out first

[2015-09-20 07:56] man2 commented on #13929
also thanks to @toothpaste-and-bubblegum for their working code of socket.io 1.0 implementation
https://github.com/toothpaste-and-bubblegum/cocos2d-x/blob/e7537e49330d9edd2283807651fb502404bd065c/cocos/network/SocketIO.cpp

[2015-09-20 08:25] #13798 closed, assigned to VisualSJ

[2015-09-20 08:28] pandamicro commented on #13672
Please have a try with github v3 branch or in v3.9 releases, I will close it now because we can't reproduce the problem, but if you met any further problems with the new implementation, please tell us

[2015-09-20 08:28] #13672 closed, assigned to jianglong0156

[2015-09-20 08:29] #13436 closed, assigned to zilongshanren

[2015-09-20 08:29] #13432 closed, assigned to WenhaiLin

[2015-09-20 08:32] pandamicro commented on #12672
Thanks

[2015-09-20 08:32] #12672 closed, assigned to nobody

[2015-09-20 08:33] pandamicro commented on #9535
What's the state now?

[2015-09-20 08:34] pandamicro commented on #13844
abs usage have been fixed in https://github.com/cocos2d/cocos2d-x/pull/13954

[2015-09-20 08:35] #13844 closed, assigned to chengstory

[2015-09-20 09:32] pandamicro commented on #13908
Please add a test case to test this feature

[2015-09-20 11:50] loveyanbei opened #13955 "cocosstudio的诡异问题：直接在csb写入文字会崩溃"
崩溃的时候dvm打印了这样的log:
09-20 19:43:57.580    6121-6185/org.cocos2dx.heretictrainer W/dalvikvm﹕ Invalid indirect reference 0x41ffbb58 in decodeIndirectRef       //这里是关键
09-20 19:43:57.580    6121-6185/org.cocos2dx.heretictrainer I/dalvikvm﹕ "GLThread 2514" prio=5 tid=13 RUNNABLE
09-20 19:43:57.580    6121-6185/org.cocos2dx.heretictrainer I/dalvikvm﹕ | group="main" sCount=0 dsCount=0 obj=0x42017798 self

[2015-09-20 12:00] pandamicro opened #13956 "Packed lite version can't run under WebGL mode"

[2015-09-20 15:02] zilongshanren commented on #11259
@pandamicro  I should apply my patch here.
I will do it tomorrow.

[2015-09-20 15:15] #13929 closed, assigned to nobody

[2015-09-20 15:42] pandamicro opened #13958 "[Canvas] setClearColor cause opacity animation abnormal"
This task have modified canvas clear logic: https://github.com/cocos2d/cocos2d-x/issues/12628

For improve performance, in cc.RendererCanvas's clear function, we have replaced clearRect with fillRect, but it have caused some strange issue in combined opacity actions, see the following code:

[code]

[2015-09-21 01:23] pandamicro opened #13959 "[WEB] Improve ScrollView by eliminating out of clip nodes"
@ZhangMenghe Please link it to your PRs

And please add a test case to test the performance improvement

[2015-09-21 01:57] wangxingfred commented on #13912
In fact, I try the 3 steps asynchronously:
Step1 - click button1 for require("xx.js")
Step2 - click button2 for forceGC()
Step3 - click button1 for require("xx.js")

So, I think the require consequence is not the reason.

Besides, what's the meaning of compiled scripts cache if a cleanScript call is need everytime re-require a script ?

[2015-09-21 02:31] 1078559858 opened #13963 "关于Cocos Studio2.3.2的帧事件回调触发不正确的Bug"
HTML5版本的cocos2d-js, 在播放带有帧事件回调的动画时， 帧事件回调触发会在不正确的帧中触发， 经过与参考对比C++版本实现，有用户 发现并解决了此问题，我替他上传到GIT中。
这是代码链接：http://yunpan.cn/cHj9Q57Qf3v46 （提取码：f51d）

[2015-09-21 02:38] VisualSJ opened #13964 "[Web] Merge some transformation logic"
There are two sets of all the transform in logic
WebGL / Canvas

In fact, the inside of the logic can be merged

[2015-09-21 02:38] VisualSJ commented on #13964
https://github.com/cocos2d/cocos2d-html5/pull/3106

[2015-09-21 02:39] #13964 closed, assigned to VisualSJ

[2015-09-21 06:20] #11566 closed, assigned to fusijie

[2015-09-21 07:31] zilongshanren commented on #13235
@man2
We do not recommend to change the innerConatiner's anchorPoint.
Do you have any particular reasons to do this?

[2015-09-21 08:20] c3076802 opened #13972 "[script][bug]void Console::addCommand(const Command& cmd) lua-binding is not thread-safe."
**[Fix]**
_file lua_cocos2dx_manual.cpp_
_function lua_cocos2dx_Console_addCommand_

[code]

[2015-09-21 08:30] IgorMats opened #13973 "Spine: issue with extending since 3.8"
Hi guys! I notice that Spine extending don't work since 3.8 in JSB. What happens?

[2015-09-21 09:55] jie-meng opened #13977 "Set orientation portrait"
I use cocos2dx-3.6, Lua project, I want to change the default orientation landscape of Android to portrait.

Modified frameworks/runtime-src/proj.android/AndroidManifest.xml:

[code]

But it seems did not take effect.

[2015-09-21 12:14] xifengxi opened #13981 "The menuitem be selected but I don't touch it."
Now, Every camera need calculate which item be touched. Though you don't touch the item, the 3D cemara think you touch the item.

[code]

I think need use the camera mask.

[code]

Do you think so?

[2015-09-21 12:37] AIGRIND-LLC opened #13983 "Should Node::getName() return the string by reference?"
At this moment `Node::getName()` returns node's name by the value.
It would be more effecient to declare and implement this method in the folllowing way:

[code]

[2015-09-21 13:00] maxwzg commented on #13963
我是提交代码的用户， 补充一下， cocos2d-js版本是3.8.1

[2015-09-21 13:21] yixiaoqingyuz opened #13984 "Pls add more 3D effect showcas in cpp-test project."

[2015-09-21 14:56] #13977 closed, assigned to nobody

[2015-09-21 16:45] pandamicro opened #13989 "Add script component for attaching script as component of Nodes"

[2015-09-21 17:53] #8396 closed, assigned to zilongshanren

[2015-09-21 18:03] #13958 closed, assigned to ZhangMenghe

[2015-09-22 03:04] tungnt11 commented on #13807
I commented Runnable thread but app is still crashes after go to <b> onAdLoaded() </b>several times:
publisherInterstitialAd.setAdListener(new AdListener() {
              <b>  public void onAdLoaded() {       </b>
                 super.onAdLoaded();
//              activity.runOnGLThread(new Runnable() {
//                  @Override
//                  public void run() {
                Cocos2

[2015-09-22 03:08] loveyanbei opened #13993 "It’s recommended that developers should add md5/sha1 sum in releases"
It proves that unity and cocos2d-x are in danger of being infected by xcodeghost.
http://www.digi-wo.com/thread-34634-1-1.html

[2015-09-22 03:13] feijing566 opened #13994 "clone Text will miss the outline setting"
clone Text will miss the outline setting

void Text::copySpecialProperties(Widget _widget)
{
    Text_ label = dynamic_cast<Text*>(widget);
    if (label)
    {
        setFontName(label->_fontName);
        setFontSize(label->getFontSize());
        setTextColor(label->getTextColor());
        setString(label->getString());
        setTouchScaleChangeEnabled(label->_touchScaleChangeEnabled);

[2015-09-22 03:23] pandamicro commented on #13993
We are verifying our official packages, I believe there won't be any problem. But it's indeed possible to repackage cocos2d-x and redistribute it to some unofficial channel.

So please download Cocos packages from our website and Cocos Store

http://cocos2d-x.org/download
http://www.cocos.com/download/
http://store.cocos.com/

[2015-09-22 03:25] loveyanbei commented on #13993
thanks

[2015-09-22 06:03] larsven commented on #11674
With https://github.com/cocos2d/cocos2d-x/pull/13913, it is still required to use a ClippingRectangleNode as wrapper for a ClippingNode to work in a ScrollView. This should be fixed or at least documented.

[2015-09-22 06:17] #13694 closed, assigned to nobody

[2015-09-22 07:55] man2 commented on #13235
@zilongshanren
sorry I haven't made the PR, been super busy with my works..
I need to resize the size of innerContainer  and make the contents of scrollView updated with animation like it has been scaled from top to bottom. If the anchor point is 0,0 it will be animated from down to top

[2015-09-22 10:13] patriciog opened #13998 "Windows / Code IDE 1.2: Reload Issue"
Hi all:

We are using Cocos Code IDE 1.2 only for Remote Debugging and Code Live now.

Here is our issue resume:
- **Platform**: Windows 10
- **Cocos2d-x**: 3.8 JS
- **Project creation**: `cocos new runtimeTest -l js -t runtime`
- **Runtime apk creation** (simulator): `cocos compile -p android -m debug --ap android-10 -j 3 --no-res`
- **Device**: Android 5.1
- **Cocos Code IDE**: 1.2.0
- Success c

[2015-09-22 11:42] patriciog commented on #13998
**Failure case A (HALF-SOLVED)**:
- _SOLUTION:_ Cocos Code IDE.exe > Right Click > Compatibility: Windows 7

Now don't crash in this case, but this error is reported and js is not updated:

[code]

[2015-09-22 12:31] IgorMats commented on #13973
Hi @pandamicro and @jianglong0156! Any news? Just asking you coz this issue very important for me coz we can't build old version for iOS 9 (xCode 7). I can't find where is the problem by myself.

[2015-09-22 13:30] corcimaria opened #14000 "EditBox PlaceHolder hint before start enter text"
![img](https://cloud.githubusercontent.com/assets/12607219/10019870/7a6885fc-6148-11e5-93fe-f8b2076aa996.png)
v 3.8.1, IOS
1. i user black background color for EditBox
2. focus the EditBox (apair Keyboard, but not start tape text, pointer its blinking on start of the text field)
3. !!! place holder hint color it's any time black transparent, and invisible on black background !!!

how to set color

[2015-09-22 14:40] 1scaR1 commented on #13964
After merge #3106 on scene wit a lot of sprites(about 600-700 sprites) and a lot of ccui elements animations related to all ccui elements doesn't work. Also settings positions of ccui elements with moving mouse(by "onTouchMoved") not works.
With animations of simple nodes and sprites everything is ok.(but moving with mouse not)
Frame rate is 60.0.

[2015-09-22 15:03] 1scaR1 opened #14001 "Wrong enabling of scale9 background in ccui.Layout"
When calling `setBackGroundImageScale9Enabled(true)` after setting background image in ccui.Layout size of sprite doesn't fit the layout's size (if it called before everything is ok). It seems to me that `setBackGroundImageScale9Enabled` must call `setPrefferedSize` of  `_backGroundImage` like this:

[code]

[2015-09-22 16:39] ricardoquesada commented on #13816
@pandamicro  confirmed. it is a bug.

[2015-09-23 00:22] jimrange opened #14002 "iOS Splash Screens and iOS Icons Not Configured Properly"
It looks like the Cocos2d-x 3.8.1 iOS template (and previous 3.x versions) uses a configuration for iOS splash screens and a few icons that was not configured properly.

To fix the issue, I deleted the UILaunchImages array of dictionaries in the Info.plist and ensure the following files are added as resources to the iOS project.

Default-568h@2x.png
Default-667h@2x.png
Default-736h@3x.png
Default.

[2015-09-23 03:40] zilongshanren commented on #14002
@jimrange
nice fix. :+1:
Could you send a PR for this issue?

Thanks.

[2015-09-23 07:01] jianglong0156 commented on #13973
@IgorMats  yes, I show the problem as you said. There is a error in the console "invalid native object", it's may be the c++ object is autoRelease without  index， are you the same problem with me.

[2015-09-23 07:11] IgorMats commented on #13973
@jianglong0156 yes, this is a problem. I can't find where is mistake. Help me please.

[2015-09-23 09:08] jianglong0156 commented on #13973
i'm finding the error. it's very strange. which version are you use before.

[2015-09-23 14:00] IgorMats commented on #13973
@jianglong0156 with 3.7 it's works perfect!

[2015-09-23 14:35] IgorMats commented on #13973
@jianglong0156 I noticed that in **v. 3.7** JSB is called empty constructor of `SkeletonAnimation` but in **v. 3.8** all constructors of `SkeletonAnimation` is binded (because it's `public`).

In `sp.SkeletonAnimation.prototype._ctor` function (called after **this._super(json, atlas, scale)**) it looks all working fine but in `ctor` function **NOT**. I can't explain this behavior :(

[2015-09-23 14:39] IgorMats commented on #13973
The same issue at **cocos2d-js** repo: https://github.com/cocos2d/cocos2d-js/issues/1800

[2015-09-23 14:52] IgorMats commented on #12925
Closed due to Spine update in **3.8**.

[2015-09-23 14:52] #12925 closed, assigned to nobody

[2015-09-23 15:58] RustyMoyher commented on #13743
yes please!

[2015-09-24 07:09] IgorMats commented on #13973
@pandamicro sorry, can you take your look on it? It's hard to find a mistake :(

[2015-09-24 09:19] jianglong0156 commented on #13973
@IgorMats  sorry for reply latter. i have already found the error. it's a binding bug in spine ctor function. I will fix it, and send the pr soon.

[2015-09-24 14:31] JoHuang opened #14009 "v3.8.1 android "emoji" UserDefault setStringForKey crash"
Asus Zenfone android 5.0
1. Use edit box type some emojis, then save it by UserDefault setStringForKey CRASH
2. The same with v3.5, maybe not related to jstring2string

I know the new jstring2string fixed some UTF8,16 issue, but it cause crash.
Could you please teach me how to work around with it?

Thread : Crashed:
0  libc.so                                                0xf76a1066 tgkill
1  lib

[2015-09-24 14:45] stnguyen commented on #11674
what about cocos2d-js?

[2015-09-24 14:58] jianglong0156 commented on #13973
@IgorMats it's the fix pr. you can run the generate.py in tools/tojs , generate the spine cpp,
or you can replace the code in jsb_cocos2dx_spine_auto.cpp first

[code]

[2015-09-24 18:10] loveyanbei opened #14010 "Cocos2d-x build failed on linux due to cocostudio headers"
Looks like developers have forgotten to put those headers into cmakefiles.

Terminal Says:

Scanning dependencies of target MyGame
[100%] [100%] [100%] Building CXX object CMakeFiles/MyGame.dir/Classes/HelloWorldScene.cpp.o
Building CXX object CMakeFiles/MyGame.dir/Classes/AppDelegate.cpp.o
Building CXX object CMakeFiles/MyGame.dir/proj.linux/main.cpp.o
/home/lyt/Desktop/LLPractice_cocos/heretictr

[2015-09-24 18:37] IgorMats commented on #13973
@jianglong0156 it's great! You are awesome!

@jianglong0156  and @pandamicro, please, take your look at the file: `cocos/scripting/js-bindings/script/jsb_spine.js`. This file should be refactored according to the latest changes.

@pandamicro, you also promise me to fix this issue: https://github.com/cocos2d/cocos2d-x/issues/12925
I guess that code:

[code]

is fixed my issue, **BUT NOT**. This bug

[2015-09-24 21:30] Dredok commented on #13682
hi adilson63~
I would be interested in the diff, i'm getting troubles with rendering order with widgets

thanks
Dredok

[2015-09-24 22:00] Dredok commented on #13682
What I have done till now is to override setGlobalZOrder in Widget, Label, Scale9Sprite and UILayout. Also in Label I had to setGlobalZOrder of _textSprite.

It's almost working :-)

[2015-09-24 22:32] Dredok commented on #13682
Ok finally I got it working! needed to modify a couple more data members.
I attach a patch on this forum post
http://discuss.cocos2d-x.org/t/please-review-globalzorder-issues-with-ui-elements-and-label/24028

[2015-09-24 22:46] IgorMats commented on #13507
Someone aware of this issue? We can't build for iOS 9, guys! This is a critical issue!

[2015-09-25 03:50] pandamicro commented on #13973
@IgorMats Sorry for the bug caused by our changes, I have talked with @jianglong0156 , a unnoticed bug in bindings-generator had been triggered, now his fix have been merged, he will add a test case for it.

I will take a look at #12925 too.

[2015-09-25 04:18] letrungtrung opened #14011 "Have a render issue with SpriteFrame"
Hi guy,

The problem just occurred on web( on native it's so good). Please see the image and my code to re-product my problem:

var sf = cc.spriteFrameCache.getSpriteFrame(frameName);
if (sf == null) {
            cc.spriteFrameCache.addSpriteFrames(plist);
            sf = cc.spriteFrameCache.getSpriteFrame(frameName);
}
var tRect = sf.getRect();
var tWidth = tRect.width;
var tHeight = tRect.heig

[2015-09-25 05:59] adilson63 commented on #13682
My changes are:

[code]

[2015-09-25 06:53] 1078559858 opened #14013 "BUG：Layout裁剪"
环境：3.8
描述：
创建Layout
{
    创建Layout1
    {
        Layout1->setClippingEnabled(true);//面板1开启裁切
        创建Layout2
        {
            创建Layout2->setClippingEnabled（true）;//面板2开启裁切
            创建Btn
            Btn->setTouchEnabled(true);
            }
    }
}

当一个面板含有这种结构的时候，点击里面的按钮响应消息就需要点击两次
问题分析：
bool Widget::isClippingParentContainsPoint(const Vec2 &pt)函数中的
if (layoutParent->isClippingEnabled(

[2015-09-25 07:43] pandamicro commented on #14013
Hi, this issue have been fixed, thanks for your report :

https://github.com/cocos2d/cocos2d-x/pull/13884

[2015-09-25 07:47] man2 commented on #11674
it should be affected also, just compile the c++ codes with jsb build tool

[2015-09-25 09:00] stnguyen commented on #11674
@man2 there's no `ClippingRectangleNode` in js
I'm talking about html5 version

[2015-09-25 09:14] Kingson commented on #8527
same issue on iOS device, any solution for this？（cocos2d-x 2.2.6）

[2015-09-25 10:18] yaxinhoo opened #14017 "autopolygon error"
![polygon](https://cloud.githubusercontent.com/assets/405604/10098182/b777b88a-63b1-11e5-8e2a-c13e1d89da0a.png)

this picture contain three sprite , the right mini tringles is the autopolygon generated.  why ?

[2015-09-25 10:22] yaxinhoo commented on #14017
![aa_0](https://cloud.githubusercontent.com/assets/405604/10098221/2db45bc0-63b2-11e5-9880-deb3ee6b6e9c.png)
this is the sprite source picture.

[2015-09-25 10:36] ZhangMenghe opened #14019 "[Web Engine] Abnormal display when contains' positions change"
For example, in the third testcase in scrollView Test.
If `setInnerContainerSize` before `setPosition` for the widget inside, there could exist a wrong judgement about whether the widget should be draw.
The reason is that we ever determined the existence of widgets in `_moveChildren`, after which the reference could get changed.

[2015-09-25 10:39] pandamicro commented on #14019
Please add a test case for this issue

[2015-09-25 11:04] sbrednikhin opened #14020 "Can't get writable path on android in AppDelegate constructor"
[code]

wpath will be empty string

[2015-09-25 13:43] rbpolaris opened #14021 "onTouchMoved() repeatedly called when there is no movement occurring"
Issue found with cocos2d-x 3.71 running on Android 5.1.1 (lollipop) .  When a touch-and-hold (with no movement) is executed, onTouchMoved() is continuously called until the touch is released.  This has been confirmed by a second party on Lollipop with cocos2d-x 3.8, but they said it does not occur on 4.4.2 KitKat.

Add the following class (testNode.h) as a child of the HelloWorldScene example and

[2015-09-25 16:36] MariusAvram commented on #8533
Please find the below the problematic part of my coloring book source code that I'm trying to report to you. Just schedule the following code to be executed repeatedly:

if(mainTarget == NULL) {

[code]

Please find the output in a movie at (sorry about the quality reduced by dropbox):
https://www.dropbox.com/s/id27gwfmfo0lcb6/IMG_2126.m4v?dl=0

You can find the code integrated in a scene also at

[2015-09-26 01:20] ZhangMenghe commented on #14019
The third testcase in scrollView is already a typical one for this issue.

[2015-09-26 14:09] stammen commented on #13761
Hi Eric,

The cocos2d community briefly added lua support for Windows Phone 8.0 in cocos2d-x v 2.x but that work did not continue into cocos2d-x v3.x.

If you are interested in doing the port I would be happy to guide you. Please feel free to contact me directly by email.

Thanks,

Dale

[2015-09-26 14:12] stammen commented on #12416
Update: The Angle team has fixed 2 of the 4 issues that were causing crashes. They are still working on fixing the problem. We should have a fix soon.

[2015-09-26 17:29] ginobean opened #14025 "FPS (frames per second) display is incorrect when actual framerate is low"
To reproduce:
   write a test driver to display 700 Sprite3D objects (for example, you can use cubes that are 1 unit on a side) in a three dimension grid structure, with a PointLight and ambient light enabled. To make it easier to see the FPS inconsistency, set up a simple animation, like a cube that moves a short distance in every frame. (set up an Action).

  set the animation interval to 30 fps

[2015-09-26 17:52] PeqNP commented on #13761
Yes. I am very interested in doing this. I'll shoot you an email as soon as I am able. Thank you, Dale.

Eric

[2015-09-26 19:35] stammen commented on #13761
Great! Talk with you soon.

---

From: Eric Chamberlain notifications@github.com
Sent: Saturday, September 26, 2015 10:53:00 AM
To: cocos2d/cocos2d-x
Cc: Dale Stammen
Subject: Re: [cocos2d-x] Support Lua on Windows phone (#13761)

Yes. I am very interested in doing this. I'll shoot you an email as soon as I am able. Thank you, Dale.

Eric

##

Reply to this email directly or view it on GitHubhttps

[2015-09-27 09:48] ermanhaskan commented on #13681
Any ideas guys?

[2015-09-27 15:09] #13989 closed, assigned to nobody

[2015-09-27 17:04] man2 opened #14031 "socket.io sending and getting data (acknowledgements)"
@himynameschris
Is there a way to do ack with current socket.io client implementation?
This is the documentation for this : http://socket.io/docs/#sending-and-getting-data-(acknowledgements)

From socket.io js client implementation, It's just adding callback on emit function. I need this, because on slow connection, I get lost data so many times when emitting from server to client. And socket.io d

[2015-09-28 10:24] denisk20 opened #14034 "Android builds don't work with NDK r10 when running on Android 4.x devices"
Using cocos2d-x 3.8.1 on OSX 10.10.5.

I use android NDK `r10e` to run a Hello World autogenerated project. After I compile the project

[code]

I and run it from android studio on Android API 17 device. The app crashes on startup. From logcat:

[code]

This thread provides some detail
http://discuss.cocos2d-x.org/t/android-debug-mode-works-but-release-dont-crashes-at-launch/20247

In particular:

[2015-09-28 10:37] zhangyongxing opened #14035 "cocos2d-x 2.2.2 jsBinding ios9闪退"
SpiderMonkey compiled with incorrect page size; please update js/public/HeapAPI.h.

[2015-09-28 10:54] denisk20 commented on #14034
Just found this post where it's suggested to use NDK 9 but the reasons for that seem to be different.
http://www.cocos2d-x.org/news/307

[2015-09-28 14:33] pandamicro commented on #14035
Sorry we stopped to support v2.x, please use latest v3

[2015-09-28 14:33] #14035 closed, assigned to nobody

[2015-09-28 14:59] slackmoehrle opened #14036 "Cocos Framework 3.8.1 - no windows phone solution created"
When using the Framework, a Windows phone project is not created. When using source, a Windows phone project is created.

Forum discussion: http://discuss.cocos2d-x.org/t/cocos-framework-3-8-1-no-windows-phone-solution-created/23997

[2015-09-28 15:01] slackmoehrle commented on #13453
@pandamicro is this on the agenda for v3.8.x or v3.9?

[2015-09-28 15:28] pandamicro commented on #14036
Windows phone haven't been supported by Cocos Framework yet

[2015-09-28 15:41] slackmoehrle commented on #14036
Alright, that explains it. Is there a plan for support in the frameworks or not for a while yet?
The user can always is `cocos new` to create a Windows phone project, then decide to add in the pre-built libraries if they choose..

Edit: I see you posted a reply on the forums, no need to answer me here now.

[2015-09-28 18:25] denisk20 commented on #14034
The issue appears on Ubuntu 14.04 64-bit too.

[2015-09-28 19:05] denisk20 commented on #14034
Based on
http://stackoverflow.com/questions/27091001/how-to-use-mkfifo-using-androids-ndk
https://code.google.com/p/android-developer-preview/issues/detail?id=888
the workaround is to set
`APP_PLATFORM=android-20`
in `Application.mk`. Not sure if it will work for APIs < 16 though.

[2015-09-28 19:26] ondesly opened #14037 "Wrong line height in FontAtlas"
There is function prepareLetterDefinitions in CCFontAtlas.cpp.
Each time bitmapHeight is compared with _currLineHeight and new value for _currLineHeight is set if it's needed. If char is rendered on next row, _currLineHeight is set to 0.
But this first symbol is not compared with _currLineHeight. So if the first symbol in row is the biggest one, it will overlay with another row.
And we will get fo

[2015-09-28 21:59] letzgame opened #14038 "iPhone 6s plus: all cocos2d-x games have jitters on the edge"
1.) http://www.cocoachina.com/bbs/read.php?tid-325634.html
2.) http://www.zhihu.com/question/35987706
I deploy the HelloWorld Demo into the iPhone 6s plus, it also has this problem.  And the engine version is v3.8 final.

[2015-09-28 22:02] letzgame commented on #14038
Maybe it's the iOS issue, as other games also have this problem

[2015-09-28 22:02] #14038 closed, assigned to nobody

[2015-09-29 05:16] pandamicro commented on #13453
Sorry, it's currently not a priority

[2015-09-29 05:19] slackmoehrle commented on #13453
So is a work-a-round to put multiple shapes into a single `DrawNode` if you can to prevent the drastic frame rate drop?

[2015-09-29 06:02] pandamicro commented on #13453
I think it's better to use less DrawNode and draw multiple shapes with one DrawNode

[2015-09-29 08:12] man2 commented on #14031
I got loss data on emit from server to client so many times even on localhost server. So I'm guessing there is a bug somewhere in the socket.io c++ code

[2015-09-29 14:02] slackmoehrle commented on #13453
Thanks @pandamicro

[2015-09-29 14:07] fantasygan commented on #12043
So many versions of the past, no one to deal with this problem?

[2015-09-29 14:11] fantasygan opened #14048 "allocator bug"
CCAllocatorGlobalNewDelete
// @brief overrides global operator new array
void\* operator new[](std::size_t size)
{
    void\* ptr = global.allocate(size);
# if CC_TARGET_PLATFORM != CC_PLATFORM_ANDROID

[code]
# endif

[code]

}

We also need to rewrite delete function，Otherwise speak to cause a crash：
void operator delete[](void* p) throw()
{
    if (p)
        global.deallocate(p);
}

[2015-09-29 16:32] hsdk123 commented on #9918
@pandamicro Thanks for the continuous replies - perhaps someone could work on this in the near future. I am sure this will allow a lot more teams to use cocos2d-x if this one feature is implemented.

[2015-09-29 20:53] himynameschris commented on #14031
can you provide a sample of the client and server code you are using so we can try and replicate the lost data?

[2015-09-30 03:39] SongCF opened #14050 "ActionManager memory leak"
when I create a node with an action, and not add to any other node, such as:

[code]

This will lead to memory leak, in correctly, 'sp' will be released in next frame, but when it run an action, 'sp' will not be released forever.

//CCActionManager.cpp/addAction

[code]

we solved by this code:

[code]

[2015-09-30 13:58] Leandros commented on #14025
:+1:

[2015-09-30 14:19] Leandros commented on #14034
Doesn't fix your issue, but you shouldn't use `srand()`/`rand()` anyway. [rand() considered harmful](https://channel9.msdn.com/Events/GoingNative/2013/rand-Considered-Harmful).

[2015-09-30 15:00] gouartzo commented on #12873
I  can verify. Created a small game. 10 planes as background, a moving player spacecraft (low poly) and around 100~150 3d cubes.

Fps with single light on: 10~12 fps.
Fps with no lights at all: 60 solid fps.

The above test was performed on an iphone 4.
Hope this will get improved! Keep up the good work.

[2015-09-30 15:33] stefan80 opened #14057 "cocos2d-x v3.X -> FlipY3D does not flip at Y center position"
Hi!

When I tryo to FlipY3D the layer of the default hello world template, the conent will flip but also move to upper corner.

So, it is not flipped at Y-Center position anymore. It worked with v2.2.6

Here is my code which I added to the end of the HelloWorldScene.init() method:

// add "HelloWorld" splash screen"
auto sprite = Sprite::create("HelloWorld.png");

// position the sprite on the cen

[2015-09-30 16:12] denisk20 commented on #14034
@Leandros Thanks for the link. I don't use it, it is used in Cocos, for example, in `CCConsole.cpp`, `CCActionTiledGrid.cpp`.

[2015-09-30 23:37] saeedakhter opened #14059 ""cocos run -p metro" fails for cocos2d-js project"
Failure is below.  Opening \MyTestProject\frameworks\runtime-src\proj.win8.1-universal\MyTestProject.sln shows all modules as (unavailable).

Potentially I'm interested in contributing/fixing problems with the windows build process for cocos2d-js, but I am looking for background on what is the current status.  Has it ever worked?  Is there any effort underway to make cocos2d-js compile as a Win10

[2015-10-01 06:19] man2 commented on #14031
there is nothing special with my code. I just tried to send request to socket.io server, then the server emit back data to connected socket in a namespace with json data. Currently there is only 2 clients connected to namespace. So this is the schema

There is a namespace called test-namespace.
Client A and B connect to test-namespace.
Client A send emit to server.
Server emit data back to all cli

[2015-10-01 12:43] jandujar commented on #13507
same problem here. I found that we can define the macro  JSC_OBJC_API_ENABLED=0 to turn off ios javascript, unfortunately if we use some cocos2d-x jsb with gamekit we get this problems and we cannot compile

[2015-10-01 12:50] IgorMats commented on #13507
@pandamicro please! We need to resolve this issue ASAP.

[2015-10-01 14:15] CodeAndWeb commented on #12882
I've extended SpriteFrameCache to load sprite frames with polygon information from a plist file. The format now contains 3 new optional values which can be used to pass the vertices and triangles:
- `triangles`:        3 indices per triangle, pointing to vertices and verticesUV coordinates
- `vertices`:         vertices in sprite coordinates, each vertex consists of a pair of x and y coordinates
-

[2015-10-02 07:37] Leandros commented on #8305
Can be reopened.

Since the 5.0 update for the Galaxy S4, all labels using the default font are black. Labels using a non-default font are crashing the application.

[2015-10-03 16:30] halx99 opened #14065 "Suggestion: optimize some interfaces such as: FileUtils,base64,gzip to avoid unnecessary memory alloc and copy."
I privide a example(gz-compress), that return std::string, so that wen can use std::move to avoid memory alloc&copy at anywhere.
// gzip
static std::string _gzcompr(const purelib::unmanaged_string& in, int level)
{
    int err;
    Bytef buffer[128];
    z_stream d_stream; /\* decompression stream */

[code]

}

I also privide a implemented unmanaged_string which can accept std::string and c style

[2015-10-04 12:23] dannyjiajia opened #14067 "Is there a wp8.1 project template in cocos2dx lua ?"
I didn't find a project template with  wp8.1 in  cocos2dx  lua project. not support?

[2015-10-04 14:29] PeqNP commented on #14067
There currently is not. I plan on working on this integration as soon as I am able. You can reference issue [13761](https://github.com/cocos2d/cocos2d-x/issues/13761) to track the progress.

[2015-10-04 15:34] xpol commented on #13829
我觉得应该支持Enable Bitcode。
（似乎要从新编译预编译的.a？）

[2015-10-04 21:09] mariuskurgonas opened #14069 "IOS and Android FileUtils"
Hi,

I am using latest (3.8.1) cocos2dx build. Written my game in Javascript. When i am calling jsb.fileUtils.isFileExist(DIRECTORY_PATH) returns TRUE on iOS and FALSE on Android. jsb.fileUtils.isDirectoryExist(DIRECTORY_PATH) returns FALSE on iOS and TRUE on Android.....

[2015-10-04 23:02] RustyMoyher commented on #11748
GLFW 3.1.1 has been the current version since March 19, 2015. But cocos2d-x is still using the older GLFW from 2013. Can we expect cocos2d-x to be updated with the latest GLFW soon?

[2015-10-05 07:41] firefly2442 opened #14070 "CMake does not check for sqlite3 dependency"
It seems that it's possible to run CMake and generate a solution without having the sqlite dependency (libsqlite3-dev on Linux) installed.  This results in the code not being able to compile because it's missing the appropriate include headers.

tested version hash: b38eec4d470d3ed7cf3062c4cad5f821ebc352d5
OS: Linux

[2015-10-05 07:41] shysean opened #14071 "关于cc.convertColor的BUG"
Cocos2d.lua 的方法 cc.convertColor

[code]

是不是应该把条件 input.a >= 1 改为 input.a <= 1 ???

[2015-10-05 09:03] dannyjiajia commented on #13761
how is the progress about this plan?

[2015-10-05 16:27] krishan711 commented on #13772
I have the same error, did you find a solution for it?

[2015-10-05 17:05] Leandros commented on #13772
Yes, it seems that `ndk-build clean` doesn't actually clean the object files, it only cleans the actual final output. Delete all object files and it should build just fine.

[2015-10-05 17:05] #13772 closed, assigned to nobody

[2015-10-05 22:52] thebradisrad commented on #12681
Correction: Needed an asterisk

void (Func)(id, SEL) = (void (*)(id, SEL)) objc_msgSend;
Func(self, _drawSelector);

[2015-10-05 22:59] Super-Genius opened #14076 "Move viewport settings to CCCamera class"
Moving the viewport settings to the camera allows for 2UP (VR) and 4UP (4 Player mode) rendering and helps with mixing 3D and 2D objects.

[2015-10-05 23:08] #14076 closed, assigned to nobody

[2015-10-05 23:09] Super-Genius commented on #14076
Looks like current version has implemented setDefaultViewport!

[2015-10-05 23:30] jimrange commented on #11392
I didn't intend to discuss it.
I think it is a bug that multi-touch has inconsistent implementations between Android, iOS and WP8.1.

[2015-10-06 03:26] ZeroHackeR opened #14077 "SocketIO - Connect failed after Disconnected"
Setup:
- Platform: Android
- Framework: 3.8 (JS) (with SocketIO patch for incorrect packet format)
- Create a button to Connect to any working SocektIO (v1+) server
- Create on SocketIO's connect and disconnect event handlers

Test Flow:
- Connect to server
- You should receive connect event
- Disable your Wifi/Mobile Data
- You should receive disconnect event
- Now, enable your Wifi/Mobile Data
-

[2015-10-06 04:07] ZeroHackeR commented on #14077
Update:

As per catlog,
JSB SocketIO.connect method was called
But, JSB SocketIO::SIODelegate->fireEventToScript method was NOT called

[2015-10-06 06:29] man2 commented on #14077
I think it's because cocos2d-x socket.io implementation haven't implemented reconnect even. I don't know how to do it also. I tried adding on "reconnect" event with no success

[2015-10-06 06:30] ZeroHackeR commented on #14077
Fixed:

![image](https://cloud.githubusercontent.com/assets/3157700/10301985/f1b0abe0-6c2d-11e5-8f88-200d03d62ba6.png)

Update: https://github.com/ZeroHackeR/cocos2d-x/commit/4cfe13999115970613151e407889910fc718a5d4

[2015-10-06 06:34] ZeroHackeR commented on #14077
@man2 Yes.. there is no reconnect methods. We got to manually monitor and connect again if it gets disconnected. And there was a bug as above when tried to connect again.

[2015-10-06 06:36] man2 commented on #14077
thanks for the fix.. awesome..

[2015-10-06 06:58] ZeroHackeR commented on #14077
@pandamicro  Please check and merge

[2015-10-06 07:44] zilongshanren commented on #14000
@raduev
Currently the EditBox doesn't support settings placeholder color.
It's a missing feature. And it is also tricky to implement it across all the supported platforms.

[2015-10-06 07:46] zilongshanren commented on #14001
@1scaR1
yeah, could you open a PR?
Thanks.

[2015-10-06 13:57] Kiranatus commented on #10313
Up!

[2015-10-06 17:56] gamedolphin commented on #12543
I have re-written the bootstrap cocos2d js app with webpack such that i'm able to require modules. Still relies on project.json to pick up the two source files though.

[cocos2dx-webpack-example](https://github.com/gamedolphin/cocos2dx-webpack-example)

[2015-10-07 07:11] AnkoosMohd commented on #12681
![screen shot 2015-10-07 at 12 38 46 pm](https://cloud.githubusercontent.com/assets/11290022/10331134/6d060c6e-6cf0-11e5-8f17-757ef0e61aaf.png)

i also got same issue after i update my Mac OS to 10.11 ,while i am running sample build while click on ENOUGH PINK to goto next scene while transitioning to other scene i got this
can any one help me out

[2015-10-07 07:15] thebradisrad commented on #12681
@AnkoosMohd - Replaced that error with the code provided above.

[2015-10-07 07:21] AnkoosMohd commented on #12681
![screen shot 2015-10-07 at 12 50 11 pm](https://cloud.githubusercontent.com/assets/11290022/10331315/03c4650a-6cf2-11e5-97df-27733ce3de73.png)
after updating code provided above i got another error

[2015-10-07 07:22] AnkoosMohd commented on #12681
finally i got it its resolved by this code

 void (_Func)(id, SEL) = (void(_)(id, SEL)) objc_msgSend;
    Func(self, _drawSelector);

here asterisk are not showing when we paste code check in below screen shot

[2015-10-07 07:23] AnkoosMohd commented on #12681
![screen shot 2015-10-07 at 12 53 17 pm](https://cloud.githubusercontent.com/assets/11290022/10331371/6f5ce882-6cf2-11e5-8819-a7d976b08ded.png)

[2015-10-07 11:44] lwwhb opened #14081 "Sprite3D with light will become black on IOS9 Device, not on simulator, not on IOS8"
It's OK, when not use light on sprite3d object , but use any light in scene will make the sprite3d black on ios9 device.
That's must be a light bug,

[2015-10-07 19:13] dzarowny commented on #9854
Any progress on this issue?  I am now experiencing issues with setCurrentTime() being slightly off --- I change the time but it continues to play a bit before changing,  I am guessing this is because of the 100ms buffer.  I will create another issue for this if I don't get a response here.

[2015-10-08 01:04] fqamic commented on #13829
3.8.1可以编译模拟器了，但是Enable Bitcode还是得关闭才行

[2015-10-08 01:30] super626 commented on #13951
@winneryong
多谢，是同一个问题。
可以按他的方法修复。我稍后发个修复的PR

[2015-10-08 02:16] ghost commented on #13773
I got more time to test this and I have found some code to replicate this:

In XCODE test navigator:

[code]

From ObjC to C++

[code]

In C++

[code]

[2015-10-08 02:47] pandamicro commented on #14077
Thanks for the fix, it have been reviewed and merged

[2015-10-08 03:26] lwwhb commented on #14081
fixed!

before:
s_spotLightUniformInnerAngleCosValues.assign(maxSpotLight, 0.0f);
s_spotLightUniformOuterAngleCosValues.assign(maxSpotLight, 0.0f);

affter
s_spotLightUniformInnerAngleCosValues.assign(maxSpotLight, 0.0f);
s_spotLightUniformOuterAngleCosValues.assign(maxSpotLight, 1.0f);

[2015-10-08 03:40] super626 opened #14085 "Light bug on iphone6plus"
Sprite3D turns black when using light.

[2015-10-08 03:43] #13983 closed, assigned to nobody

[2015-10-08 04:02] ZeroHackeR commented on #14031
[code]

Try socket.emit instead of nsp

[2015-10-08 04:03] ZeroHackeR commented on #14077
Glad to be a part of this awesome engine ;)

[2015-10-08 04:03] #14077 closed, assigned to nobody

[2015-10-08 04:07] pandamicro commented on #14077
The pleasure is ours ～

[2015-10-08 23:49] ghost commented on #13773
Btw this is v3.8

[2015-10-09 00:30] #14013 closed, assigned to nobody

[2015-10-09 00:31] zilongshanren commented on #14048
@mannewalis  Thoughts?

[2015-10-09 00:32] zilongshanren commented on #14010
@loveyanbei
What's the engine version?

The CI is passed.

[2015-10-09 00:33] zilongshanren commented on #14070
@firefly2442
Could you send a PR to resolve it?
Thanks.

[2015-10-09 00:34] #14085 closed, assigned to nobody

[2015-10-09 00:35] zilongshanren commented on #14081
@super626
Could you please take a look at this issue?

[2015-10-09 00:36] zilongshanren commented on #14071
@shysean
Yeah, I think you are right.

@dualface  @samuele3hu  Could you please take a look at this issue?

[2015-10-09 00:37] zilongshanren commented on #14069
@mariuskurgonas
Wired...  @WenhaiLin  @minggo  Thoughts?

[2015-10-09 00:39] zilongshanren commented on #14067
@dannyjiajia
please move to #13761 to continue discussion.

[2015-10-09 00:39] #14067 closed, assigned to nobody

[2015-10-09 00:41] zilongshanren commented on #14059
@pandamicro  @stammen  thoughts?

[2015-10-09 00:41] zilongshanren commented on #14057
@super626  please take a look at this.

[2015-10-09 00:42] zilongshanren commented on #14050
@SongCF
Thanks, could you open a PR?

[2015-10-09 01:35] minggo commented on #14069
@zilongshanren
I don't know why it happens, but it is an issue if it works like that.
I think we should try to reproduce it and fix it.

[2015-10-09 03:11] dualface commented on #14071
@shysean You are right.

[2015-10-09 05:40] SongCF opened #14092 "crash when 'ScriptingCore::cleanup'"
platform: ios
engine: v3.7 js-binding

when I exit the game, call the following code (same as the demo of cpp-helloworld click close menu item)

[code]

allways crash at ScriptingCore::cleanup:

[code]

I try to find where freed `iter->second->jsclass` before `ScriptingCore::cleanup`, but not found.
why crash at this code, please tell me if you known, thanks.

[2015-10-09 07:10] super626 commented on #14081
It is fixed. Thanks @lwwhb
#14085

[2015-10-09 07:12] super626 commented on #14081
@zilongshanren It can be closed.

[2015-10-09 07:56] super626 commented on #13633
Thanks @kybird
I can not understand what is real reskin or remapping in your mind.
In the PC game, we often split the player into many parts, head, body, and equipments. And then assemble them together. Do you mean this?
Cocos does not support this right now. But you can achieve this by exporting multiple fbx and assemble them together using attach node(see cpp-tests for detail). You can switch an

[2015-10-09 08:25] loveyanbei commented on #14010
3.8.1. I manually added editor-support files,and files under Classes folder
to cmakelists and solve the problem.

子龙山人 <notifications@github.com>于2015年10月9日星期五 08:33写道：

[2015-10-09 14:21] man2 commented on #14031
@ZeroHackeR
Tried that already, same result.. I iterate over all connected socket with nsp.connected then do socket.emit for each of them.

There is always big probability that one of the socket will not receive message emitted from server

[2015-10-09 14:29] ZeroHackeR commented on #14031
Have you patch your socketio.cpp? There were a few errors in v 3.8

[2015-10-10 01:06] firefly2442 commented on #14070
Please test, I haven't worked with CMake in some time.

[2015-10-10 01:39] #14001 closed, assigned to nobody

[2015-10-10 02:45] xpol opened #14101 "Any way to get class name for tolua C++ class?"
I want to call the follow wrap function like: `local w1 = wrap(cc.Node)` `local w1 = wrap(cc.Sprite)` etc...

[code]

`iskindof()` requires 2nd arg as a string.
I  can't find way to get class name for tolua C++ class (eg cc.Node, cc.Sprite ...).

[2015-10-10 03:38] xpol commented on #14101
I have add a pull request cocos2d/cocos2d-x-3rd-party-libs-bin#179 should add support for this.

I can't write `iskindof(instacne, toluaclass['.name'])` then.

[2015-10-10 11:26] dionysiusmarquis commented on #13666
Yes! That's killing the ability to async preload and initiate the Images. It will always uncompress the file again in the main loop.

[2015-10-11 22:23] rynkowsg opened #14110 "AppDelegate deconstructor is not called on Android"
I used at `AppDelegate`'s deconstructor a log, and it was not printed.
I was looking and I found that `AppDelegate` object is created on the heap and probably it is not released.
Please look on the Android's `main.cpp`:

[code]

Does it should be like this?

[2015-10-12 01:18] ZaneGJun opened #14111 "当Sprite3D拥有多个mesh时候，setGLProgramState()有问题"
发现一个错误，当一个SPrite3D读取模型后拥有多个mesh时，用setGLProgramState()重设shader后模型渲染出错，这个模型是用了蒙皮骨骼动画的，shader的代码直接复制引擎提供的cc3D_SkinPositionTex_vert 和cc3D_ColorTex_frag。如下图，左边是用setGLProgramState的，右边没有，用的是同一个模型。
![ttt](https://cloud.githubusercontent.com/assets/8038483/10420271/0aa8af92-70c2-11e5-8224-35b1bf39e65e.png)

[2015-10-12 02:07] jminht commented on #9621
how about Lua?
we also need support like FileUtils::getDataFromFile.
@pandamicro @minggo

[2015-10-12 02:14] jminht opened #14112 "support getDataFromFile in lua"
Is there any way for me to use getDataFromFile in lua ?
And how is the export going ?
https://github.com/cocos2d/cocos2d-x/issues/9621

[2015-10-12 02:16] fuyifan opened #14113 "Memory leak from CCSpriteFrameCacheHelper.cpp"
In SpriteFrameCacheHelper's retainSpariteFrames function, it will retain every SpriteFrame defined in .plist file. However, when I call the purge function, the destructor of SpriteFrameCacheHelper does not call release for each SpriteFrame. I find that Cocos defines SpriteFrameCacheHelper::releaseSpriteFrames(const std::string &plistPath), however, this function dosen't been called for each file i

[2015-10-12 02:27] tooolkit opened #14114 "3.8/3.81版本 js项目在android微信下会有偏移"
`cocos new Test -l js`新建一个项目
然后修改`mian.js`  `cc.view.setDesignResolutionSize(640, 960, cc.ResolutionPolicy.EXACT_FIT);`
运行项目 在android微信浏览器中就会产生偏移 并且可以拖动偏移的地方
![59_503580_682170a915d9df8](https://cloud.githubusercontent.com/assets/358364/10420651/3e242b0e-70cb-11e5-89d5-d3355892f060.jpg)
![1](https://cloud.githubusercontent.com/assets/358364/10420682/c657945c-70cb-11e5-8871-d0f0eaf9de80.jpg)

使用未合并

[2015-10-12 02:31] VisualSJ commented on #14114
请问微信是什么版本的哦？
系统看上去是5.0的么？

[2015-10-12 02:36] jminht commented on #14112
@pandamicro @WenhaiLin @zilongshanren
please check my issue.

[2015-10-12 02:36] tooolkit commented on #14114
华为型号CHE-TL00H android版本 5.0.2 emui3.1   微信版本6.2.6
三星Galaxy Note3 SM-N9009 android版本4.3 微信版本 6.2.5

[2015-10-12 03:19] WenhaiLin commented on #13666
Fixed at https://github.com/cocos2d/cocos2d-x/pull/14063

[2015-10-12 05:19] zeyangl commented on #13644
Is there a good reason not supporting c++_static? This seems like the foundation while gnustl the feature, since c++_static is a lot better with C++11 compatibility.

[2015-10-12 05:21] zeyangl opened #14116 "c++_static over gnustl"
c++_static fixes a lot of C++11 compatibility issues in gnustl. It should be the default C++ library for cocos. SDKBOX uses gnustl as well, and should be fixed too.

[2015-10-12 05:46] zilongshanren commented on #14112
@pandamicro  Any plans?

[2015-10-12 05:50] zilongshanren commented on #13644
I think @minggo   know better about why we don't support c++_static.

[2015-10-12 06:09] ANUBIS-V opened #14117 "IOS主动暂停后切到后台再恢复时会自动继续游戏"
暂停后锁屏再解锁一样会出现这个问题
安卓没有问题
ios9,cocos2d-x3.81

[2015-10-12 06:14] minggo commented on #13644
@dzarowny
@zeyangl
A prebuilt version can only support one type of c++ lib. Did you mean we should provide two kinds of prebuilt libcocos2d that using two different c++ libs?

I don't know if cocos2d can compile with c++_static or not. I don't remember if there is a good reason to choose one instead of other one. But cocos2d-x uses gnustl_static from very early version, so we know it works well. Y

[2015-10-12 06:46] ANUBIS-V opened #14119 "cc.log 第一个参数为整数时报错"
IOS9   xcode7   cocos2d-x3.8.1

cc.log(1,1,1);

script/jsb_boot.js:727:TypeError: str.match is not a function

[2015-10-12 08:25] zeyangl commented on #13644
I think 2 versions of prebuilt is fair. 3.7 is already working with c++_static when compiled by src. It's the prebuilt sdkbox that's causing linker issues with source-compiled cocos2d-x.

This post also discusses this issue     http://discuss.cocos2d-x.org/t/why-gnustl-static/23780/11

[2015-10-12 08:31] zeyangl commented on #13644
c++_static is more comprehensive than gnustl, for example std::to_string family of methods are nonexistent in gnustl. I think better C++11 support counts as one good reason. Another is because of gnu's strict GPL license. Especially when compiled statically, everything linking against it counts as derivatives. Not to mention the llvm+clang is generally better than gcc mentality. I do remember test

[2015-10-12 09:22] thuydx55 opened #14120 "Set self texture uniform to GLProgramState if node js ProgressTimer"
I've created custom shader to run on a Sprite which need to send a texture mask uniform.

[code]

For an example, this is my mask texture. I used it to set it as alpha channel for my sprite
![progress-bar-alpha](https://cloud.githubusercontent.com/assets/1469984/10424778/40715ab8-70fc-11e5-814d-0d3ef97a6654.jpg)

My main texture looks like
![progress-bar](https://cloud.githubusercontent.com/assets

[2015-10-12 09:28] pandamicro commented on #14117
@chenstory @xiaofeng11

[2015-10-12 09:28] pandamicro commented on #14119
第一个参数必须是字符串

[2015-10-12 09:29] #14119 closed, assigned to nobody

[2015-10-12 10:45] iNeverSleeeeep opened #14121 "使用spriteFrameCache时重复加载image，效率很低"
[code]

以上代码，在addImage中根据fileName产生了一个临时image，在addSpriteFramesWithDictionary中，也产生了一个临时image，虽然结构较为合理，但是产生image耗时很长（我这一个图片用时0.24s)，建议addImage可以返回一个share_ptr<Image>。

[2015-10-12 11:08] iNeverSleeeeep commented on #14121
但是如果texture已经存在的情况，还是不能返回image。上面的建议只解决一点点问题。

[2015-10-12 11:16] iNeverSleeeeep commented on #14121
不好意思，应该是将
 image = new Image();
image->initWithImageFile(textureFileName);
移动到下面函数内，可以提高很多效率(因为只在下面函数中使用)
        bool flag = NinePatchImageParser::isNinePatchImage(spriteFrameName);
        if(flag)
        {
            parser.setSpriteFrameInfo(image, spriteFrame->getRectInPixels(), spriteFrame->isRotated());
            texture->addSpriteFrameCapInset(spriteFrame, parser.parseCapInset());

[2015-10-12 11:50] WenhaiLin commented on #14121
Duplicated with https://github.com/cocos2d/cocos2d-x/issues/13666

[2015-10-12 12:14] WenhaiLin commented on #11927
Fixed at https://github.com/cocos2d/cocos2d-x/pull/14107

[2015-10-13 00:29] jgod opened #14122 "BAD_EXCEPTION crash in CCSpriteBatchNode::removeAllChildrenWithCleanup"
I've always seen `removeAllChildren()` as a very safe api to call, even if the node had already been processed as destroyed by cocos (like when leaving a scene) and you had pointers to it hanging around for some reason.  Usually you can call it with no negative consequences.

But `CCSpriteBatchNode` doesn't behave the same as the other Node types here.
You get a bad_exception on [this line](https:

[2015-10-13 01:29] iNeverSleeeeep opened #14124 "js_callFunc will not pass extra data parameter when no sender"
版本3.8.1。请看以下else代码中的改动

[code]

[2015-10-13 02:01] 1078559858 opened #14125 "BUG: 新建helloworld项目android会调用applicationWillEnterForeground，而ios不会"
问题描述：
1.新建helloworld项目android会调用applicationWillEnterForeground，而ios不会
2.3.4和3.5版本的android也不会调用，但是3.8和3.8.1会调用

这样导致接SDK时会发送两次数据

[2015-10-13 03:57] pandamicro commented on #14122
I agree with you, but I want to know more specifically about how I can trigger the issue

[2015-10-13 08:36] FrankStain commented on #14020
@ricardoquesada I had found this behaviour uncommon too.
Why it not fixed yet?

[2015-10-13 08:38] thuydx55 commented on #14120
@minggo @pandamicro

[2015-10-13 09:49] alankevin2 commented on #13771
Hi, I tested addCollisionHandler with cocos2d-x 3.8.1 engine, it still doesn't work in native app but html5 WebGL.

Is there anything should I do before I use it?

---

Sorry for another question, I tested our game in many platforms, they all worked great as expected, but it lost so many frames in "chrome app" whether in iOS or Android OS. Especially in Android OS, the game stucked and cannot be p

[2015-10-13 09:53] pixmaster opened #14128 "[bug][jsb_boot.js] getRes crash if url is null"
cocos\scripting\js-bindings\script\jsb_boot.js
"cc.path.extname(url)" can return null and variable "type" is not checking it and immediately calling "type.toLowerCase()".
And in function "extname", can checking pathStr on null.

[2015-10-13 16:20] jimrange commented on #14002
Sorry for the delay. I have been very busy lately.
Here is the pull request: https://github.com/cocos2d/cocos2d-x/pull/14130

[2015-10-13 16:52] ricardoquesada commented on #14020
@FrankStain I guess nobody reported it before. Please, feel free to send a patch. Thanks.

[2015-10-13 23:51] yixiaoqingyuz opened #14131 "New project:Undefined symbols for architecture arm64: "_iconv_open" error!"
Creat a new project by cocos new commond,then run this project's ios target on ios9 you can see this error.

[2015-10-14 00:04] yixiaoqingyuz commented on #14131
I know how to fix it.but, it should be fixed from the source.

[2015-10-14 01:29] yecaokinux opened #14133 "Cocos2d-x 3.8.1 cpp template compile error"
版本: cocos2d-x 3.8.1
操作:
1. cocos new -p com.x.xAct -l cpp -d . xAct
2. 然后在 HelloWorldScene.h里面添加
# include "cocos-ext.h"

USING_NS_CC;
USING_NS_CC_EXT;
这样几行；
3.编译工程

failed msg:
\cocos2d\extensions\gui\cccontrolextension\cccontrolutils.h(39): fatal error C1083: Cannot open include file: 'extensions/ExtensionExport.h': No such file or directory (..\Classes\HelloWorldScene.cpp)
# \cocos2d\extensions

[2015-10-14 06:06] pandamicro commented on #14131
Can you send us a patch via github ?

[2015-10-14 07:57] rainfallljs commented on #12567
I had the same problem.I tried "onEnterTransitionDidFinish" but did not work.

I'm using v3.8.1.
There is another problem,All the sprites with physics disappear if you call setAutoStep(false).
It words well when I use v3.6.

[2015-10-14 08:00] rainfallljs commented on #12567
@pandamicro Is this problem on schedule?

[2015-10-14 12:12] rajibchisim commented on #13538
Same with me. working on emulator but no luck with device.

[2015-10-14 17:52] ghost opened #14142 "ccui.Button does not show disabled image in cocos2d-html5"
cocos2d-x 3.8.1

var okBtn = new ccui.Button("res/ok_button_normal.png", "res/ok_button_pressed.png", "res/ok_button_disabled.png");

( or auto create pressed & disabled images:
var okBtn = new ccui.Button("res/ok_button_normal.png", "", ""); )

okBtn.attr({
    enabled: false
});

running in html5 engine does not show grey disabled image but normal image instead. Same code running native android

[2015-10-15 04:59] super626 opened #14145 "Terrain render bug on some devices"
Terrain can not be rendered correctly on MeiZu MX3 and IPOD5.

[2015-10-15 05:04] super626 commented on #14145
@pandamicro

[2015-10-15 07:12] mikrosNikolas opened #14147 "cocos/sdkbox import iap auto generated code bug"
Hi
My setup is cocos on linux sdk and ndk from Android Studio installation.

I do
cocos new -l cpp -d . -p <package> <projectname>
to create a new project
cd to the created directory and compile the project for android and/or android-studio
cocos compile -p android
cocos compile -p android --android-studio
I test it on my mobile and it is ok.

Then I try to add iap with sdkbox
sdkbox import iap

T

[2015-10-15 07:55] ANUBIS-V opened #14148 "can not play audio if not playing any effect and come back from background on iOS"
15:47:15.912 ERROR:    [0x19e5fa000] >aurioc> 807: failed: '!pla' (enable 2, outf< 2 ch,  44100 Hz, Float32, non-inter> inf< 2 ch,      0 Hz, Float32, non-inter>)

IOS9 xcode7 cocos2d-x3.8.1

进入游戏后如果没有播放任何音效就切出游戏会报以上错误, 之后无法再播放任何音效
如果在进入游戏后播放过一次音效, 之后切出游戏不会再报错误

[2015-10-15 07:58] #14145 closed, assigned to super626

[2015-10-15 08:03] iPruch opened #14149 "MotionStreak causes crashes sometimes (more details in the post)"
Hello,

I am currently developing a game with Cocos2d-x 3.7 (updated the project to 3.8.1 to check if the problem would magically go away, but it didn't. Same with cocos2d-x 3.9). The game is a kind of endless runner, and I am using the `cocos2d::MotionStreak` class to add a nice effect to the coins collected by the player. Coins travel to the coins counter when the player collides with them, and

[2015-10-15 08:12] iPruch commented on #12226
Something new on this?

[2015-10-15 10:09] lcellentani opened #14150 "EventMouse and EventTouch report different values on Win32 platform"
I noted that the result of calling _getLocation()_ and _getLocationInView()_ from **EventMouse** and **EventTouch** is returning a different value on Win32 platform.
Digging a bit the sources I noted there is a different code path between touches events and mouse events.
Starting from the _CCGLViewImpl-desktop.cpp_ file, inside the method _GLViewImpl::onGLFWMouseCallBack_ at line 646~647 we have:

[2015-10-15 10:11] pandamicro commented on #14148
@xiaofeng11 Please confirm this issue
@WenhaiLin may provide some help

[2015-10-15 10:12] sefiroths opened #14151 "Sprite3D culling"
Adding 2 sprites with different z to a sprite3d and rotating it, one sprite hides before is hidden from the other sprite
[code]

[2015-10-16 03:52] fuyifan opened #14160 "EventListener will cause leak while deleting nodes during event dispatching"
这两天在检查内存漏洞的时候发现有大量的EventListenerCustom没有释放的问题, 我的多个朋友在开发的过程中也和我遇到相同的问题, 后网上搜索发现确实有不少开发人员也碰到相同问题, 这个问题是非常非常严重的, 具体内容可以根据这篇帖子. http://www.cocoachina.com/bbs/read.php?tid=202831

[2015-10-16 05:39] pandamicro commented on #14160
@xiaofeng11 Please take a look at this, it should be solved in this version

[2015-10-16 10:56] anjandaffo opened #14165 "Editbox multiline text should be verticle top."
In multiline Editbox the text should be vertically top align. Better to provide Api so user can set alignment of text as per requirement. But obviously in multiline textfield typing should start from top and after typing label should also start from top.

[2015-10-17 01:39] yixiaoqingyuz commented on #14131
@pandamicro Sorry,i don't no how to send a patch to your via github.
In cocos2d-x 3.8 your added the 'libiconv.dylib' library,but in iOS9 sdk this library was changed to 'libiconv.tbd'

[2015-10-17 02:14] kawais opened #14176 "选择支持x86 cpu在编译apk时出错了"
windows10下在cocos中创建项目时如果选择了支持x86 cpu和gcc优化，编译apk时提示错误

E:\test\clientproject\ZYRS>cocos compile -p android
执行命令：compile
编译模式：debug
使用 Eclipse 工程：E:\test\clientproject\ZYRS\frameworks\runtime-src\p
roj.android
未指定 Android 目标平台版本，自动查找一个可用版本...
正在执行：'"E:\cocos\androidsdk\sdk\tools\android" update project -t android-10
-p E:\test\clientproject\ZYRS\frameworks\runtime-src\proj.android'

Updated project

[2015-10-17 04:25] zilongshanren commented on #14165
Yeah, We should add alignment API for EditBox.
Could you make one?
Thanks.

[2015-10-17 09:18] xiaofeng11 commented on #14160
CCEventDispatcher里存在逻辑bug，如果label实在按钮点击之类的事件中被释放，removeEventListener发现当前在事件分发处理过程中，不会release掉listener，只是标记为registered false，事件分发完成后updateListener清理Listener时，只是针对当前事件的listener进行清理。而label注册的事件正常情况下基本不会发生，所以label的事件永远不会释放。修改了一下代码，如果当前是点击事件，清理整个监听列表，不再根据事件进行清理。
https://github.com/cocos2d/cocos2d-x/pull/14177

[2015-10-17 21:01] VivekFitkariwala commented on #13205
I am using cocos2dx 3.8.1 build which has Samsung EnhancedAPI but still getting 30fps on Samsung Note 4 with android version 5.0.1

[2015-10-17 21:39] VivekFitkariwala opened #14178 "Low fps on Samsung Note 4 device"
I am using cocos2dx 3.8.1 which has CCEnhanceAPI-android.h file but still giving 20-30 fps on Samsung Note4 and giving 55-60 fps on other devices?
Samsung Note4 android version 5.0.1

Any idea how to fix this issue?

[2015-10-18 13:07] nexplus commented on #12681
thanks a lot, worked for me also!

[2015-10-18 14:02] Cola-Zhang opened #14179 "mac模拟器console窗口无法响应鼠标选中log事件"
版本： cocos3.8.1
模拟器：  mac模拟器
现象：运行mac模拟器  会有两个window,  一个是游戏的window,  一个是日志的window(这里成为consoleWindow)
经调查代码consoleWindow是调用 openConsoleWindow 产生的，   生成后由于游戏window 一直调用mainLoop一直循环，  而consoleWindow无法响应鼠标选中log中的任何一行（注释掉mainLoop后consoleWindow能响应鼠标选中log）
对于mac模拟器 调试有很大影响

[2015-10-18 14:14] FrankStain commented on #14020
@ricardoquesada , i can make a fix, but i had never pull into cocos repo and don't know code style. Thinking it will be long and hard way for me. So it would much better if somewho more qualified make such fix.

Actually, for fixing this bug, i suggest to make next things:
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/android/javaactivity-android.cpp#L56

Frankly it's bad idea placin

[2015-10-18 15:02] 0xJimmyBeh commented on #14148
@pandamicro

I have this issue on the version iOS9 Xcode 7 cocos2d-JS v3.8.1 too.

How to reproduce this issue :
1.Open app, then open a link with `cc.sys.openURL("http://www.cocos2d-x.org/");` which open the link with browser, Xcode will log the error

[code]

2.Play sound effect with cc.audioEngine.playEffect, no sound coming out from speaker.

Thanks.

[2015-10-18 15:43] Seonghyun-Lee opened #14181 "DirectionLight has a bug"
http://discuss.cocos2d-x.org/t/how-to-make-directionlight-works/23508/4

in iOS, Using DirectionLight makes distortion images.

[2015-10-18 17:27] #9980 closed, assigned to nobody

[2015-10-18 20:43] crazyhappygame opened #14182 "cocos gen-libs - debug overwrites release"
Command1 debug mode:
cocos gen-libs -p android -m debug
generate file to: prebuilt\android\armeabi

Command2 release mode:
cocos gen-libs -p android -m release
generate file to the same directories: prebuilt\android\armeabi

Issue: Files are overwritten

Suggestion: add mode to output dir:
prebuilt\android\armeabi\release
prebuilt\android\armeabi\debug

Comments:
The same issue exist for other pla

[2015-10-19 05:28] anjandaffo commented on #14165
@zilongshanren  Yes I can, Can you give me the short details to how I create pull request.

[2015-10-19 08:02] FrankStain commented on #14110
@rynkowsg , all it's totally true.
It's an cocos2d-x design issue, and it's very hard to fix it. Jni and Java design must be changed to fix this issue.
Currently there is no place in java code, where `Application` could be safely finalized.

[2015-10-19 09:15] #14160 closed, assigned to nobody

[2015-10-19 09:45] MariusAvram commented on #8533
There are a lot of people interested in this issue, what should we do to have it planned and fixed?

[2015-10-19 11:59] ermanhaskan commented on #13681
?

[2015-10-19 12:00] ermanhaskan commented on #14178
Same here. Hardly pulls 30 fps.

[2015-10-19 12:03] nil1511 commented on #14178
I am also facing the same issue.
please share any possible solution.

[2015-10-19 19:41] dex36 opened #14187 "Physics3DConstraint"
i think it would be great if we can create complicated mechanism with a few connected rigid body not only 2. :)

[2015-10-19 19:57] rynkowsg commented on #14110
@FrankStain
Thanks for the clarification.

[2015-10-19 23:19] pekayatt opened #14188 "UIRichText does not handle well "\n""
Most of it from:
http://discuss.cocos2d-x.org/t/does-richtext-support-multiple-line-of-text/21105/9

It only handles a element "\n", when it is in the middle of the text all element goes crazy.

[2015-10-20 00:02] pekayatt commented on #14188
On JS this code has show some efficiency:

at line 400 on UIRichText.js

if(text.indexOf("\n") > -1) { //String contains \n
            var leftLength = text.indexOf("\n")+2;
            var leftWords = text.substr(0, leftLength -2);
            var cutWords = text.substr(leftLength, text.length - 1);

[code]

[2015-10-20 03:00] zilongshanren commented on #9001
already fixed.

[2015-10-20 03:00] #9001 closed, assigned to nobody

[2015-10-20 03:02] zilongshanren commented on #14165
@anjandaffo
This link might be helpful:
https://help.github.com/articles/creating-a-pull-request/

[2015-10-20 03:39] alankevin2 opened #14192 "Is Zindex of a ccui.WebView can be modify?"
Hi, I'm using cocos2d-x JS framework to test `ccui.WebView` functionality.
I know `setLocalZOrder` does not work for `ccui.WebView`.
But I wonder if there is a way to bring it to front or send it to back?
It seems that the `ccui.WebView` is always in the front in currently 3.8.1 ver., will it support the functionality I describe above?

Thanks in advance

[2015-10-20 03:49] jminht commented on #10319
i got the same problem.
how is this bug going ?
@jooddang @minggo @sulewicz @angelvet @walzer

[2015-10-20 11:19] Leandros opened #14199 "Android: Labels are crashing."
The cocos2d labels aren't working on Android.
They produce a crash.

I already reported it 20 days ago, and nobody seems to care. You should consider removing Android support, since cocos2d was neither working good on Android.

[code]

[2015-10-20 11:53] FrankStain commented on #14178
What target abi you use to build native libs?
Also, it would be good to know, what SoC installed inside your SGN4 device. It may be Adreno Snapdragon 805 or Exynos 5433.

[2015-10-20 15:29] tooolkit commented on #14114
请问这个问题大概什么时候会解决啊

[2015-10-20 16:57] TheCodez opened #14201 "Physics: ContactListener Collision ordering bug"
I have a platform which has a PhysicsBody(Box). This platform has a child node with a PhysicsBody(EdgeBody) acting as a trigger.

The problem is even though the player landed inside the trigger first, the collision of the platforms body is detected first.

For example the player lands in the middle hitting the top trigger but still dies, because the collision is somehow detected in the platform bo

[2015-10-21 01:41] fiskercui commented on #8305
cocos2d-x 3.6 still the same problem

[2015-10-21 01:43] Seonghyun-Lee opened #14202 "Sprite3D AABB bug report"
http://discuss.cocos2d-x.org/t/sprite3d--meshes-size-always-0/24462

Sprite3d::_meshes.size() = 0

always.

It drives Sprite3D::getAABB() dumb.

And, it incapacitate Ray.intersact() function from any processes.

[2015-10-21 11:23] uniharmony commented on #8305
You guys can read my comment under this post:
https://github.com/cocos2d/cocos2d-x/issues/9499

In one word, don't use glTexSubImage2D to update font texture.

For cocos2d-x 3.3, just simply making _rendererRecreate ALWAYS true, can fix this problem.
Unfortunately, cocos2d-x 3.4 removes _rendererRecreate flag and always uses glTexSubImage2D to update font texture... So the bug appears more frequen

[2015-10-21 15:46] jimrange opened #14206 "Inconsistent calling of AppDelegate::applicationWillEnterForeground() on iOS vs Android"
On iOS and Mac, the method AppDelegate::applicationWillEnterForeground() is only called after a game resumes. Not on first launch.

But on Android, AppDelegate::applicationWillEnterForeground() is called after resuming AND on first launch.

This result in inconsistent behavior of games on different platforms, where the behavior can and should be consistent.

More info: http://discuss.cocos2d-x.org

[2015-10-22 01:39] pandamicro commented on #14128
Thanks for report this, I will submit a PR soon

[2015-10-22 01:44] Cola-Zhang opened #14208 "mac模拟器尺寸错误"
mac显示器分辨率： 2560X1600
mac模拟器设置尺寸： 960X640
cocos2dx版本：3.8.1
实际模拟器启动显示 明显偏大  大概显示分辨率在1920X1280左右（2倍）

[2015-10-22 02:35] fmo080308 commented on #14206
Yup!
No problem on IOS but Android.
AppDelegate::applicationWillEnterForeground() will be called on first launch continuously (like an update method)

[2015-10-22 03:37] pandamicro commented on #14202
@super626 Please take a look

[2015-10-22 03:39] pandamicro commented on #14199
@xiaofeng11 will take a look at this, thanks for reporting

[2015-10-22 04:17] #14002 closed, assigned to nobody

[2015-10-22 04:20] #14128 closed, assigned to pandamicro

[2015-10-22 06:39] rinlac commented on #8528
I have the same problem, and I hope the problem is resolved.
cocos2d-x V3.7.1

[2015-10-22 06:48] jarsj commented on #8528
The code still seems to be doing the same thing (3.8.1). You can try my change above. It has been working without problems for me.

[2015-10-22 07:41] rinlac commented on #8528
I tried to fix it like you did but the same problem occured.

CC_SAFE_DELETE_ARRAY(data->bytes);
CC_SAFE_DELETE(data);
CC_SAFE_DELETE_ARRAY(buf);
_wsHelper->_subThreadWsMessageQueue->erase(iter++);
CC_SAFE_DELETE(subThreadMsg);

process in the following threads

I resolved it in the following way, but It is too slow.

[2015-10-22 07:48] jarsj commented on #8528
Can you share your modified WebSocket.cpp ? I am sure I fixed this issue, because my games depend on this behavior. Would love to get to the bottom of this.

[2015-10-22 08:13] super626 commented on #14202
Sprite3D::create returns the root of nodes when the Sprite3D is complex. That is why your 3D Sprite has no meshes. You can find the meshes in the offsprings.

Sprite3D::getAABB only returns the AABB its own. You can use getAABBRecursively instead. This function returns the AABB combined from its own and its offsprings.

[2015-10-22 08:17] super626 commented on #14181
Let's discuss it on the forum.

[2015-10-22 08:29] ermanhaskan commented on #13681
Finally found the solution to this problem :) Just remove com.enhance.gameservice.IGameTuningService library from the cocos library and any code related to it.

[2015-10-22 08:29] rinlac commented on #8528
That's all I modified.

[2015-10-22 09:06] dongtaohan opened #14212 "AudioEngine::setFinishCallback error"
当使用 AudioEngine 播放比较长的音乐时， 接收不到 setFinishCallback 回调， 且在update里面一直检测到它的状态为 PLAYING。
Windows 上 cocos2d-x 3.6 版本可用， 3.8，3.8.1 均不可用。
Mac OSX 上 3.8.1 可用。
使用测试用例 cpp-tests 中的 AudioControlTest，把 background.mp3 换成一个长点的音乐即可再现。

[2015-10-22 10:24] #14124 closed, assigned to nobody

[2015-10-22 12:08] linguofeng commented on #14112
[code]

[2015-10-22 14:38] SniderThanYou commented on #13090
I've seen the same thing happen. Did you find a solution?

[2015-10-22 18:37] 0xJimmyBeh commented on #14148
@pandamicro

Found easier way to reproduce this issue with iOS 9, cocos2d-JS v3.8.1

When app at splash screen, press home button to make app go into background, the issue will happen.
The audio engine can't initialise when app in background mode.

When comment out `SimpleAudioEngine code` in AppDelegate.cpp, the issue won't happen.

[code]

I found a suggestion is to initialise audio engine until

[2015-10-22 19:44] eliodecolli commented on #13090
No actually I've simply dropped Cocos.

[2015-10-23 01:52] jminht commented on #14112
@linguofeng thanks.

[2015-10-23 01:59] toanpv12345 opened #14215 "Run on Web error when using --advanced property"
Hi Cocos team!
I'm using v3.8.1 for my project. When I compiled project with command:

[code]

then project run on Browser ok.
But when I compile with command:

[code]

then run on Browser, it show error **Cannot found module parseuri when load project.json file.**
Thanks!

[2015-10-23 02:01] pandamicro commented on #14215
have you extended moduleConfig with a `parseuri` module ?

[2015-10-23 02:06] toanpv12345 commented on #14215
I don't extended moduleConfig with a parseuri module!

[2015-10-23 02:07] super626 commented on #14202
@pandamicro We had discussed on the forum. This issue can be closed.

[2015-10-23 07:36] 0xJimmyBeh commented on #14148
@kongyuan @pandamicro @xiaofeng11 @WenhaiLin

I found the solution and tested with 2 issues which would trigger the error on iOS only, Android don't have the issue.

Issue 1 :
Once open app and while app at splash screen, press home button to cause app go into background mode.

Issue 2 :
Open app as usual, while not using any play sound effect function, switch out app with home button or open url

[2015-10-23 07:58] sianzain opened #14217 "FileServer::removeResFileInfo error"
--------- beginning of crash
D:\Porject\frameworks\runtime-src\proj.android-studio../../cocos2d-x/cocos/./../external/json/document.h:1688: bool rapidjson::GenericValue<Encoding, Allocator>::StringEqual(const rapidjson::GenericValue<Encoding, SourceAllocator>&) const [with SourceAllocator = rapidjson::MemoryPoolAllocator<>; Encoding = rapidjson::UTF8<>; Allocator = rapidjson::MemoryPoolAllocator<>

[2015-10-23 08:38] #14202 closed, assigned to super626

[2015-10-23 12:20] nil1511 commented on #14178
@FrankStain. Sorry for replying so late.
abi is arm-v7 and Processor is Exynos 5433

[2015-10-23 16:32] rynkowsg commented on #13090
I have the same.

[2015-10-23 18:01] SniderThanYou commented on #13090
@rynkowsg (and anyone else looking at this)

I've been trying to follow this tutorial: http://www.sonarlearning.co.uk/coursepage.php?topic=game&course=cocos2d-x-flappy-bird-cplusplus

It's basically a Flappy Bird clone. The pipes, with their physics bodies, appear just fine. It's the bird that won't show up. The only real difference is that the bird is added in the GameScene's 'init' method, but t

[2015-10-23 23:05] krishan711 opened #14220 "Multiple definition of `__ctype_get_mb_cur_max'"
When building for arm64-v8a I get the error "multiple definition of `__ctype_get_mb_cur_max'" during the "install" phase of building for android. The definitions are in:
CCApplication-android.cpp:45
CCEnhanceAPI-android.cpp:35

Removing the repeated definition from CCEnhanceAPI-android.cpp seems to fix it for me.

[2015-10-23 23:14] krishan711 opened #14221 "__system_property_get is deprecated in 64 bit android NDK"
As discussed here https://code.google.com/p/android/issues/detail?id=143627, the __system_property_get method has been removed from the 64 bit NDK. It is used in cocos/audio/android/jni/cddandroidAndroidJavaEngine.cpp:59 and should be replaced.

[2015-10-24 11:50] eliodecolli commented on #13090
@SniderThanYou Well, try to use a different compiler, I would recommend Intel Parallel Studio.
I will try to build the game from my laptop with both visual c++ compiler and intel's one. Will post back results asap.

[2015-10-24 20:36] githubsaturn opened #14223 "Music resumes on power button click after lock"
Test case:

Open the game and have the music playing.
Lock the phone by pressing the power button. [Music will stop playing upon lock - which is good]
Press the power button to turn on the LCD backlight (but do not unlock the phone)
Observe that the music starts playing!

<b>The issue has been reported here:</b>
http://android-developers.blogspot.co.uk/2011/11/making-android-games-that-play-nice.h

[2015-10-25 03:48] pandamicro opened #14225 "Research on JSB memory mode, use Script to control native object life cycle"
https://github.com/cocos2d/bindings-generator/pull/198
https://github.com/cocos2d/cocos2d-x/pull/14224

[2015-10-25 12:37] TheCodez commented on #13090
I think I also had this problem. Try adding those lines at the end of your init method:

[code]

[2015-10-25 12:41] eliodecolli commented on #13090
@TheCodez Is that like a "kickstart" for the physics wold ?

[2015-10-25 12:44] TheCodez commented on #13090
It might be, as it updates your bodies once. Removing those lines causes all my phyisical sprites to dissappear.

[2015-10-25 17:55] TheCodez commented on #12567
Another workaround for this bug is to add those lines at the end of your init function :

[code]

[2015-10-25 20:35] VivekFitkariwala commented on #14178
@pandamicro hey can you look into this issue
Thanks

[2015-10-26 01:57] pandamicro commented on #14223
@liamcindy @WenhaiLin Please take a look at this issue

[2015-10-26 02:30] super626 commented on #14181
@pandamicro
It is not bug.
This can be closed.

[2015-10-26 05:35] rynkowsg commented on #13090
@TheCodez: Your workaround causes a crash on Android platform (on Linux is ok).

Until now I use @SniderThanYou 's workaround. To apply it I used `scheduleOnce` in the GameScene's `init()` method:

[code]

In the above line I put `1.0f` seconds as a delay. In my case 0.6s works fine too, but 0.5s is to low - the player doesn't appear. I didn't check why is it so. Apparently something needs to init

[2015-10-26 05:45] #14121 closed, assigned to nobody

[2015-10-26 05:45] #13666 closed, assigned to zilongshanren

[2015-10-26 05:50] zilongshanren commented on #13664
@chengstory  please take a look at this issue.

[2015-10-26 05:51] zilongshanren commented on #11597
I close this issue here. Because the target engine version is v3.2.
If it still exists in v3.9, feel free to reopen it.

[2015-10-26 05:51] #11597 closed, assigned to nobody

[2015-10-26 05:53] zilongshanren opened #14229 "RadioButton add more convenient APIs."
- createWithSpriteFrameName()
- createWithSprite()

[2015-10-26 05:55] #12023 closed, assigned to nobody

[2015-10-26 06:01] zilongshanren commented on #14221
@krishan711
thanks. Does it affect the compilation?

[2015-10-26 06:02] zilongshanren commented on #14220
@krishan711
Could you send a PR to resolve this issue?
Thanks.

[2015-10-26 06:02] zilongshanren commented on #14192
@alankevin2
No, not yet at the moment.

[2015-10-26 06:03] zilongshanren commented on #14192
The ccui.webview is added at the top of OpenGL view, so it's will be difficult to support the feature you requested.

[2015-10-26 06:04] #14192 closed, assigned to nobody

[2015-10-26 06:06] zilongshanren commented on #14133
@yecaokinux
which platform do you use ?

[2015-10-26 10:26] sianzain commented on #14217
Error in remove file on runtime.

[2015-10-26 10:33] sianzain commented on #14217
FileServer.cpp
![image](https://cloud.githubusercontent.com/assets/11533618/10726743/a61edea8-7c0f-11e5-80e4-f1caf3f7bab7.png)

FileServer.h
![image](https://cloud.githubusercontent.com/assets/11533618/10726770/d8175eda-7c0f-11e5-90ab-2d0f86909a84.png)
![image](https://cloud.githubusercontent.com/assets/11533618/10726775/e2291206-7c0f-11e5-9001-9be6c6161f93.png)
ConsoleCommand.h
![image](https://c

[2015-10-26 10:38] sianzain commented on #14217
fileinfo_debug
json Changed plist

[2015-10-26 10:45] TheCodez commented on #13090
@rynkowsg @SniderThanYou  Are you using scene transitions? If you are using them its this issue causing the problem. https://github.com/cocos2d/cocos2d-x/issues/12567

[2015-10-26 14:11] rynkowsg commented on #13090
@TheCodez Thanks, I'll check it later. For now I'll stay with @SniderThanYou's workaround.

[2015-10-26 14:22] TheCodez commented on #13090
@rynkowsg you could also try to init your player in the `onEnterTransitionDidFinish` function. Im guessing the 0.6s in your `scheduleOnce` is your transition duration, that's why it isn't working with values below that.

[2015-10-26 14:38] rynkowsg commented on #13090
@TheCodez You almost guessed, I use 0.5s for transition duration. I read #12567 also and like you I think it could be cause of this problem. I will check the initialization of the player in the `onEnterTransitionDidFinish` when I switch to Windows. For now I leave it aside.
Thanks anyway.

[2015-10-26 14:42] SniderThanYou commented on #13090
Thanks for all of the workaround suggestions, and for referring me to that bug ticket. I'm glad to know I'm not the only one running up against this problem. Hopefully the bug is fixed soon!

[2015-10-26 15:15] TheCodez opened #14231 "3.9 PhysicsBody update() is called twice"
It's called in PhysicsWorld and ComponentContainer
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/physics/CCPhysicsWorld.cpp#L845
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCComponentContainer.cpp#L129

Before the integration of Script Components it was only called in PhysicsWorld, as script components added `scheduleUpdate()` to node's `addComponent()` method

[2015-10-26 16:00] pandamicro commented on #14231
@WenhaiLin  Can you confirm this issue ?

[2015-10-27 06:50] Liane0827 opened #14233 "TVOS JS Binding"
I see the branch tvos, but is for c++.

When will support tvos to JSBinding?

Thx.

[2015-10-27 07:37] MaryJaneInChain opened #14234 "使用了std命名空间下的string类与函数，编译通过，却在android平台上跳出"
在win32平台上运行正常，cocos2d-x版本为v3.4

[2015-10-27 08:11] jooddang commented on #10319
I couldn't solve the problem on cocos2d-x-3.4beta0. Hope it's resolved on the latest version but I didn't catch up yet.

[2015-10-27 10:37] UkiyoESoragoto commented on #14234
安卓平台需要重写你需要的函数
这里给个 std::to_string() 的做参考吧

[code]

[2015-10-27 10:44] UkiyoESoragoto commented on #14176
是用cocos studio创建的项目吗？
建议先用cocos console创建新项目然后尝试编译，通过则表示cocos环境没有问题
参考这里：
http://www.cocos2d-x.org/wiki/Cocos_new

[2015-10-27 18:24] pekayatt opened #14242 "textDefinition in JS does not saves shadowColor"
When using textDefinition (or embedded solutions like the UIRichText) it doesn't make possible to set the shadow Color;

line 518 of CCLabelTTF.js
// shadow
        if (textDefinition.shadowEnabled)
            this.enableShadow(textDefinition.shadowOffsetX,
                textDefinition.shadowOffsetY,
                textDefinition.shadowOpacity,
                textDefinition.shadowBlur);

If c

[2015-10-27 18:30] TheCodez commented on #11766
@pandamicro @WenhaiLin @minggo Are you upgrading to Chipmunk 7.0 in Cocos v3.10?

[2015-10-28 01:39] pandamicro commented on #14242
@WenhaiLin Why we haven't supported shadow color ?

[2015-10-28 03:30] cpascal opened #14245 "fopen(filename, "ab") must not be called in DownloadTaskCURL::init();"
In Win32, there are 512 fopen files limit(can be set up to 2048).

AssetsManagerEx::batchDownload() create network::DownloadTaskCURL classes as many as their download-file-list in the network::DownloadTaskCURL::init().

It seems the logic must move to DownloadTaskCURL::writeDataProc() or DownloadTaskCURL::initProc();

[2015-10-28 05:01] wetiontop opened #14247 "3.9be ./setup.py error"
-bash: ./setup.py: /usr/bin/python^M: bad interpreter: No such file or directory

[2015-10-28 05:55] #14247 closed, assigned to nobody

[2015-10-28 07:36] bazhi opened #14249 "websocket is unuseable in v3.8.1 at win32 platform"
in the tests project, when run the websocket test, the exception throwed at libwebsocket_client_connect(). what's more, I used VS2013.

[2015-10-28 07:43] #14019 closed, assigned to nobody

[2015-10-28 08:07] Leandros commented on #14199
Any status update?

[2015-10-28 08:15] sianzain opened #14250 "UIHelper 不能找到Sprite底下的子節點"
Widget\* child = dynamic_cast<Widget*>(subWidget);
Sprite不能被轉成Widget
所以child 為 NULL

![image](https://cloud.githubusercontent.com/assets/11533618/10782940/19f96818-7d8f-11e5-9fa5-db67036dc6bb.png)

[2015-10-28 08:20] 1078559858 opened #14251 "含有Btn的RichText 放到Listview里 Btn无法触发点击事件"
现在的用法是 开发聊天 使用的是 ListView 里面 添加 RichText  richText 里面自定义了一个按钮 这个按钮接受不到 点击事件

我在DEMO 里面 做的个例子 如果没有放到 LIstView 的时候 RichText里面的Button 是 可以点击的，
然而 我把RichText 放到listview 里面 按钮 不可点击
我在 coco2d-x 3.6 3.7 3.8 都测试过
能不能 listview 里面的RichText 里面的 Button 能接收到点击事件啊 多谢 多谢 ；）

下面是例子代码
    self._richText = ccui.RichText:create()
    self._richText:ignoreContentAdaptWithSize(false)
    self._richText:setContentSize(

[2015-10-28 08:27] xiaofeng11 commented on #14199
@Leandros I have do some test with cpp-test on android, but can not reappear the crash. And recently a critical js bug have spend most of my time. Could you give us a sample can reappear your problem? Thank you very much.

[2015-10-28 08:54] iPruch commented on #14149
Anyone, please? @minggo @ricardoquesada

I know that post is long and you guys have little time, but I'm really stuck with this. I'd be really thankful to you.

[2015-10-28 09:49] zawasp commented on #12882
Awesome, will test with the new beta TexturePacker (off-topic: does the 3.x license include an upgrade for 4.x?)

[2015-10-28 12:45] ghua78 opened #14258 "Cocos2d-x 3.8.1 Win 10 Universal Build crash"
I am trying to have different xaml files on mobile and desktop.
If I add DeviceFamily-Mobile directory to the project and inside it create another OpenGLESPage.xaml (this one is without .cpp as in theory it should reuse original cpp code) then there is crash on mobile emulator when I try to click/touch anywhere on the screen:

Catastrophic failure 0x8000ffff in cocos2d::GLViewImpl::OnPointerPresse

[2015-10-28 12:48] CodeAndWeb commented on #12882
@zawasp We don't care about major or minor releases. You get all released that are covered within your upgrade period. E.g. if you have upgrades included until 2015-12 you can use the current version.

[2015-10-28 13:09] boons commented on #14215
Hi,

I don't know if it will help you, but in your cocos2D-html5 dir, edit modulesConfig.json and at the bottom of the file replace

[code]

with

[code]

It worked for me.

[2015-10-28 14:05] stammen commented on #14258
There is bug in the current win 10 mobile emulator that crashes on pointer press events. You will need to run your app on a windows phone upgraded to windows 10 for now. Keep working on the store app until the emulator is fixed.

[2015-10-28 16:26] pekayatt commented on #14242
I verified and in CPP it has the same problem that can be solved very easily.
Thanks.

[2015-10-28 17:58] wetiontop opened #14259 "SimulatorApp.mm 224-225行"
[code]

模拟器加载config.json文件路径会截取多一层文件夹如
cocos/test/config.json 通过上面的代码会输出 cocos/config.json 导致无法加载配置文件

[2015-10-29 06:24] #14113 closed, assigned to nobody

[2015-10-29 06:28] fuyifan commented on #9245
It may have relationship with bug #14160 which has been fixed in v3.9. @zilongshanren you can have a test with current issue to see its existence. :)

[2015-10-29 09:07] letrungtrung commented on #14011
@pandamicro Can you take a look at this issue? Please help me.

[2015-10-29 18:56] jimrange opened #14266 "3.9beta0 2D Physics Wrapper Refactoring Changed Physics Behavior"
Looks like the refactoring of the 2D physics wrapper has resulted in changes to the mass, moment and size of shapes.

I haven't figured out the root cause of this issue, but this discussion shows before and after images from upgrading from 3.8.1 to 3.9beta0. In 3.8.1 the mass and moment of the vehicle were tuned so that the torque applied to the wheels would make the vehicle move responsively and

[2015-10-29 19:14] jimrange commented on #14125
Same as this bug.
https://github.com/cocos2d/cocos2d-x/issues/14206

It is unclear which is the "correct" way.
Option 1: all platforms call applicationWillEnterForeground on first launch and all successive launches.
Option 2: all platforms call applicationWillEnterForeground not on the first launch but on all successive launches (this is the iOS default).

Cocos2d-x should be updated to make the c

[2015-10-29 19:23] jimrange commented on #14206
Same as this bug: https://github.com/cocos2d/cocos2d-x/issues/14125

[2015-10-30 00:06] pandemosth commented on #14092
+1

This has been an issue for a while and causes lots of unnecessary crash reports.

[2015-10-30 01:54] 1078559858 opened #14267 "iOS上cc.director.end()与安卓表现不同"
cocos-js v3.6.1
安卓调用cc.director.end()会直接结束进程，而iOS上调用后屏幕会一直黑掉，进程实际还未结束，
PS：在frameworks\js-bindings\cocos2d-x\cocos\platform\ios\CCGLViewImpl-ios.mm文件第195行void GLViewImpl::end()方法中，方法最后添加exit(0)，然后可以结束进程。

[2015-10-30 02:10] zilongshanren opened #14268 "Refactoring UI Scale9 enabled Widget"
After the new Scale9Sprite improvement is merged, we should also refactoring the old way to handle scale9 enabled widget.

When these widgets are scale9 disabled, we only need to change the RenderingType to simple.

[2015-10-30 05:45] iota01 commented on #8528
I same problem
Please quick fix!!

[2015-10-30 06:29] fztcjjl commented on #13657
发现问题了，是因为debug版链接的lua51.lib库冲突的问题

[2015-10-30 08:48] pandamicro commented on #13404
Fixed by https://github.com/cocos2d/cocos2d-x/pull/13923

[2015-10-30 08:48] #13404 closed, assigned to nobody

[2015-10-30 08:49] pandamicro commented on #12567
@jimrange I just tested v3.9 with the combination of physics objects and transition scene, I think this issue should have been fixed. Your test project also runs correctly with v3.9.

Should be related to https://github.com/cocos2d/cocos2d-x/pull/13923

[2015-10-30 08:49] #12567 closed, assigned to nobody

[2015-10-30 11:18] toanpv12345 commented on #14215
Thank boons,
It worked for me too!

[2015-10-30 12:33] kakamatong opened #14274 "IO"

[2015-10-30 12:39] kakamatong opened #14275 "ios"

[2015-10-30 12:39] #14275 closed, assigned to nobody

[2015-10-30 12:42] kakamatong opened #14276 "ios 9 opengl error"
When I cut back my game from an application，opengl take a error
![20151030203314](https://cloud.githubusercontent.com/assets/12620172/10845910/adcdb64e-7f46-11e5-9277-f5df0c87ec0c.jpg)

[2015-10-30 12:43] kakamatong commented on #14276
OpenGL error 0x0506 in -[CCEAGLView swapBuffers] 324

[2015-10-30 12:44] kakamatong commented on #14276
use cocos2dx 3.3

[2015-10-30 12:44] #14274 closed, assigned to nobody

[2015-10-30 20:23] pekayatt commented on #12145
This has been solved for JS as well? Having the same problem here in the HTML5...

[2015-10-30 20:26] solodon4 opened #14278 "Unknown CMake command "cocos_find_package"."
F:\OpenSource\cocos2d-x\tests\cpp-tests\build>cmake ..
-- Building for: Visual Studio 14 2015
-- The C compiler identification is MSVC 19.0.23419.0
-- The CXX compiler identification is MSVC 19.0.23419.0
-- Check for working C compiler using: Visual Studio 14 2015
-- Check for working C compiler using: Visual Studio 14 2015 -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info

[2015-10-31 09:43] ondesly commented on #14276
Found the same issue on cocos2dx 3.8. I am just hiding the app by central button. It happens only if I use Launch Screen File.

failed to call context
cocos2d: surface size: 0x0
Failed to make complete framebuffer object 0x8CD6

OpenGL error 0x0506 in cocos/renderer/CCFrameBuffer.cpp applyFBO 444

FrameBuffer Status Error 36054
OpenGL error 0x0506 in cocos/renderer/CCFrameBuffer.cpp applyFBO 444

[2015-10-31 10:08] ppzflpp opened #14279 "Memory leak in ScriptingCore.cpp?"
In cleanup function which belongs to ScriptingCore.cpp,
why not variable _runLoop been delete ?
Is it memory leak?

this code has no use:

[code]

[code]

[2015-10-31 13:20] zj8487 opened #14281 "featureRequest:make Node can be added to the listview!"
@pandamicro

[2015-10-31 13:45] zilongshanren commented on #14281
@zj8487  Node doesn't support layout in Widget system. So it can't be added into the listview.

[2015-11-01 02:07] zj8487 commented on #14281
@zilongshanren
but i think it is necessary, for example, we create a node in the cocostudio. and want the node can be shared, and want make it be added into the listview in the runtime.

[2015-11-01 10:45] pandamicro commented on #14281
Sorry, it's not the purpose of ListView, it can only accept Widget type node in its children. If you want to reuse a node, maybe you need to manually control it in the scene graph, for example:
- parent
  - node
  - ListView

[2015-11-01 13:57] liuyi opened #14284 "gl.readPixels:Can not got transparent color, alpha always got 255 as its value."
[code]

[2015-11-01 14:11] muffinny opened #14285 "Glview::getFrameSize() & GLView::getVisibleSize() are getting the wrong size on iPhone6s+ and IOS 9.1"
Actually it wasn't a bug. It was the zoom option on the 6+ that was retriving 2001x1125 and we didn't know.

Original post:

Cocos2d-x 3.6
Deployment iPhone/iPad

We released our first app for Iphone/ Ipad. It works great on most devices, but we found out that only on the new iPhone6S Plus that run 9.0.2 or 9.1 Glview::getFrameSize() & GLView::getVisibleSize() are getting the wrong device size, th

[2015-11-01 17:10] TheCodez commented on #14266
Maybe it's because `update` is called twice. As a result damping is applied twice https://github.com/cocos2d/cocos2d-x/issues/14231

[2015-11-01 17:25] milos1290 opened #14286 "Button with setEnabled(false) always visible"
Button with setEnabled(false) and setOpacity(0) will always stay visible, because of this FadeIn action wont work.

[2015-11-02 00:04] pandemosth opened #14287 "Socket.IO crash due to over-release"
If a Socket.IO connection is dropped a crash occurs when attempting to reconnect. This has been observed on iOS but likely impacting other platforms.

Steps to reproduce:
- connect to a Socket.IO server (websocket)
- break the connection
- reconnect to the same url

Then the ref count assertion in cocos2d::Ref fires:
`CCASSERT(_referenceCount > 0, "reference count should be greater than 0");`

Her

[2015-11-02 01:11] super626 commented on #13916
@Curtis-ly
unity用的是左手坐标系，cocos用是右手坐标系，设置的天空盒的贴图是以坐标系为准的，所以左右是反的。

[2015-11-02 02:27] pandamicro commented on #14284
@xiaofeng11 Can you take a look at this issue？

[2015-11-02 03:12] xiaofeng11 commented on #14284
I'm not familiar on OpenGL related functions.
@super626 Could you take a look on this issue.

[2015-11-02 03:45] 1078559858 opened #14288 "UIText的copySpecialProperties方法拷贝属性不全"
CocosV3.8    c++
UIText的这个copySpecialProperties这个方法里没有对阴影和描边等属性进行拷贝

[2015-11-02 03:48] sianzain opened #14289 "Scale9Sprite custom shader support"
I first came across this when trying to use a Scale9Sprite as the stencil for ClippingNode. On mobile devices ClippingNode recursively calls setGLProgram on it's stencil renderer and it's children, however Scale9Sprite's subsprites are stored as protected children and are not effected by this process.

My current solution is to implement setGLProgram for Scale9Sprite as such:

void Scale9Sprite::s

[2015-11-02 03:58] youlanhai opened #14290 "some suggestion for cocos v4.x"
1. **Use smart pointer instead of auto release.** Because the smart pointer is more safe for memory management and threading. The reference counter of an object should start at zero, any creation function should return a smart pointer instead of raw pointer.
2. **Don't call any OpenGL function directly.** Wrapper all OpenGL function with c++ class. (eg, VertexBuffer, IndexBuffer, RenderContext). W

[2015-11-02 06:32] liuyi commented on #14284
I found a article said that the reason maybe is render queue cased this problem. just cached it in queue but not execute at once.
A code clip at below:

[code]

//alpha always got 255 as its value.
//And found when click on the transparent place in this Sprite,
//got the color of background of current Scene.
        renderTexture.end();

[code]

ref link:http://blog.csdn.net/super_level/article/de

[2015-11-02 06:37] liuyi commented on #14284
I just wan get the pixel on the texture... help you guys can give some advices. THANKS!

[2015-11-02 06:46] liuyi opened #14291 "How to send Cocos2d object from javascript to c++ ?"
See an example first:
JS: var sp=new cc.Sprite("res.hello");//a picture

then send it to c++:

var result=custom_jsb_utils.pixelHitCheck(sp,cc.p(10,10));
#

So how can we send a Sprite instance or a native object identifier  to cpp,  and then send back the result to JS side?

[2015-11-02 12:04] netunlimited opened #14297 "AudioEngine's getDuration method always returns -1"
Tested on iOS and on Android, with MP3 files.

Code:
<code>
auto snd = cocos2d::experimental::AudioEngine::play2d(filename);

float duration = cocos2d::experimental::AudioEngine::getDuration(snd);
</code>

[2015-11-02 14:02] Leandros commented on #14199
Sorry, I was busy with something different. I've made you small demo.
Here is an .apk to run on your Android devices.
https://mega.nz/#!Os5BSToR!USpK1EMHLpbIHaKmar33Yc7yebcwo-lMP4BCKgipisU

And here is the project (you have throw in cocos2d yourself, I used 3.8):
https://mega.nz/#!LwIySTTY!ibsaLMEASpmfjyXjznctTjpL_SkCQh5i_ItpSaqe5U4

Here you will see the very same app running on a Samsung Galaxy

[2015-11-02 17:43] liuyi commented on #14284
OKEY.. I use cpp resolved this issue. Added a new method in Sprite, do all the action in cpp side.

[2015-11-02 17:46] liuyi commented on #14297
Maybe the filename is wrong path, AudioEngine is works fine in my device. IOS and ANDROID

[2015-11-02 18:05] netunlimited commented on #14297
I don't think it's a filename issue - the audio plays properly. Also the setFinishCallback method works as expected on the same file.
getDuration just returns only -1.000000

Here's someone else mentioning the same problem:
http://discuss.cocos2d-x.org/t/getting-duration-of-an-audio-file/4194/7

[2015-11-02 19:41] netunlimited commented on #14297
Here's one of the mp3 files I'm using. I couldn't upload it here so I've put it on Wetransfer ( expires after 7 days).
http://we.tl/UTu1aTxyZH

[2015-11-02 21:28] jimrange commented on #14266
That could potentially be part of the issue I am seeing. But I am also seeing shapes getting sized differently with the same code. e.g. in 3.8.1 the shapes were one size, but now in 3.9beta0 the shapes are a different size with the identical game code.

[2015-11-03 01:38] #12376 closed, assigned to jianglong0156

[2015-11-03 10:06] 1078559858 opened #14306 "tiledmap 半透明图 变黑"
环境：2dx 3.8.1 c++
代码修改如下：
fasttmxlayer改draw方法，blendfunc部分
int index = 0;
    for(const auto& iter : _primitives)
    {
        if(iter.second->getCount() > 0)
        {
            auto& cmd = _renderCommands[index++];
            auto blendfunc = _texture->hasPremultipliedAlpha() ? BlendFunc::ALPHA_PREMULTIPLIED : BlendFunc::ALPHA_NON_PREMULTIPLIED;
            cmd.init(iter.first, _texture->getNa

[2015-11-03 13:43] Dimon4eg commented on #10435
Hi,
It's still reproduce in cocos 3.8.1. Issue duplicate - #13943
Fix is simple, why it's not yet fixed?

[2015-11-03 14:40] teestudio opened #14307 "Wrong behaviour of the UserDefault class"
Egnine version: Cocos2d-x 3.8
The issue is, when any data with the key, which is not correct as name of an XML tag, is being put into the UserDefault class on Windows (and on ony other platform which is using the default tinyxml2 data backend), the XML file gets corrupted (the root "userDefault" node gets removed from the document). It makes impossible to continue working with that UserDefault fil

[2015-11-03 19:39] letzgame opened #14309 "AssetsManager can not work with https protocol on v3.9 beta0"
1.)DESC:
While downloading resources using https, It gives no any callbacks.
2.)HOW TO TEST
You guys could try to test to download this file to local:
https://github.com/cocos2d/cocos2d-x/blob/v3/extensions/assets-manager/AssetsManager.cpp

[2015-11-03 19:58] eldaranne commented on #8752
Hello,
Any news on this issue?
More than just supporting traditional chinese, I think it would be a good thing to have access to the ISO3 language code and possibly the country code (including the JNI calls for these). It would allow the end users to have more flexibility on language detection. There are other examples of overloaded languages like portuguese/brazilian portuguese from the top of my

[2015-11-04 00:40] #14281 closed, assigned to nobody

[2015-11-04 01:37] xiaofeng11 commented on #14199
@Leandros I've check your code, the bug reason is "AppDelegate::initializeFilesystem" set different resource search path under Android. In your code :

#if (CC_TARGET_PLATFORM == CC_PLATFORM_ANDROID)
    std::string prefix ("assets/");
#else
    std::string prefix ("res/");
#endif

All CocoStudio resource file is under "res" folder, when run on Android system, these file is in "assets/res" folder,

[2015-11-04 02:48] pandamicro commented on #14306
@xiaofeng11 Please take a look at this issue for the next version

[2015-11-04 03:03] xiaofeng11 commented on #14306
@super626 Please confirm this render issue.

[2015-11-04 08:17] Leandros commented on #14199
Nope, as you can even see (because it's logged to the console), the font .ttf file is found. That's not the issue.

[2015-11-04 08:25] wasedaigo commented on #13507
Is anybody taking a look at it?

[2015-11-04 09:50] minhtoantm opened #14316 "System font error with text contain "jgp""
Hi dev team.
I get error with system font, when I using ttf font, not get this error.
I'm using system font: HiraMinProN-W3
Thanks for reading my issue.
![screen shot 2015-11-04 at 4 44 47 pm](https://cloud.githubusercontent.com/assets/5442921/10934680/da61a2c6-8313-11e5-96b7-5b0363e7d243.png)

[2015-11-05 02:26] SnowStorms opened #14322 "3.81版本 lua的严重bug"
3.81版本 lua有个非常严重的bug:     两个继承于Node的A与B       1. 在layer的init里  new A add A,  2.在onTouch时 new B    removeA  3.再次touch时 removeB     此时一定会挂在Node的析构函数这一句CCASSERT(!_running, "Node still marked as running on node destruction! Was base class onExit() called in derived class onExit() implementations?");

我分析在step2    new B    与   removeA 这里，c++的内存分配上有问题，把A的内存分配给了B   导致了最终的奇怪crash

[2015-11-05 02:29] SnowStorms commented on #14322
示例代码如下
local a = myClassA:new()
    self:addChild(a)
    self.a = a

[code]

[2015-11-05 02:52] pandamicro commented on #14322
@xiaofeng11 Please assign someone to investigate

[2015-11-05 03:36] shkertt opened #14323 "UILayout clipping issue"
[code]

[2015-11-05 03:41] zilongshanren commented on #14323
@serhtt
What's the problem here?

[2015-11-05 03:43] shkertt commented on #14323
finalY = parentClippingRect.origin.y

[2015-11-05 03:49] pandamicro commented on #14322
In general, we don't encourage removing child or release things during event callback, it may be not very stable in some circumstances. We will need to know better the problem to define it as a bug or not

[2015-11-05 05:56] SnowStorms commented on #14322
花了点时间，构造了一个更简单而且完整的例子，首先需要新建一个3.81版lua工程，之后将MainScene.lua的内容替换为下面的代码，则你会得到一个必现的crash

[code]

[2015-11-05 05:59] SnowStorms commented on #14322
崩溃的情况比我描述的更复杂一些，但是代码应该把情景展示的很清楚啦

[2015-11-05 09:12] Leandros commented on #14199
I dug around a little bit, and found out the `std::u16string _utf16Text` is reset somewhere.
The method `FontAtlas::prepareLetterDefinitions` seems to reset it, to be precise the statement `_letterDefinitions[it.first] = tempDef;` at the end of the loop is the culprit.

I have no damn clue what is happening. Removing the assignment does fix it, but only for this method, `_utf16Text` is still reset

[2015-11-05 12:03] jie-meng opened #14325 "cocos2dx 3.9-lua TMXTiledMap has black lines when role move"
I create a scene with TMXTiledMap scrollview, when role moves and view scrolls, there are black lines appear between tileds.

I tried set CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL=1 in the ccConfig.h

and cc.Director:getInstance():setProjection( cc.DIRECTOR_PROJECTION2_D )

the map still jitter when scroll.

I tried:

[code]

But compiler tips layer and map does not have the "getTexture" method.

[2015-11-05 13:22] davewang opened #14326 "ParticleSystemQuad setStartColor setEndColor"
ParticleSystemQuad   emitter:setStartColor(cc.c4f(1,1,0,1))  应该显示成为黄色的粒子，但是效果是绿色

translated by google: "It should show become yellow particles, but the effect is green"

[2015-11-06 02:01] liuyi commented on #14284
中国人做项目就是这个样子，谁谁谁去看下 然后就没有然后 也没有任何回复 真是搞笑。。。

[2015-11-06 02:06] cheerayhuang commented on #14284
@liuyi， completely agree with you.  what a pity!  :dart:

[2015-11-06 03:34] rosone opened #14329 "fbx-conv bug? changed bone name"
I have a fbx file, and I use 3d tools to see its bone name is Bip001, but after I convert to c3b, its name changed to Bip0011, what should I do?

[2015-11-06 04:32] SongCF opened #14332 "new uieditbox in 3.8"
[code]

issue:  script call method `setText` to change editbox text, but `this->onEndEditing(text);` restore it.

[2015-11-06 04:32] SongCF commented on #14332
@zilongshanren

[2015-11-06 04:59] pandamicro commented on #14332
@liamcindy @zilongshanren Please take a look at this issue
If it's new introduced in v3.8, we need to fix it

[2015-11-06 05:26] SongCF commented on #14267
请问一下 这样exit时，在`ScriptingCode::cleanup`中会crash吗？
因为我们在`Director::end`中调用exit时会因野指针导致crash
https://github.com/cocos2d/cocos2d-x/issues/14092
https://github.com/cocos2d/cocos2d-x/issues/14279

[2015-11-06 05:38] zilongshanren commented on #14332
@SongCF Good catch :+1:

[2015-11-06 05:56] zilongshanren commented on #14332
@SongCF

Sorry, I have checked this issue again, the _text is the same as text.
please pay attention to the first line of `editBoxEditingDidEnd` method.

[code]

[2015-11-06 05:57] zilongshanren commented on #14332
@SongCF
If I'm wrong here please point me out, thanks.

[2015-11-06 07:46] huujiee opened #14335 "cocos2d-x iOS loop effect interrupt by the 32th effect"
http://stackoverflow.com/questions/26945149/there-has-a-bug-with-openal-or-cocos2dx

[2015-11-06 07:53] pandamicro commented on #14335
@liamcindy Please take a look

[2015-11-06 08:18] SongCF commented on #14332
@zilongshanren

[code]

[2015-11-06 15:04] Leandros commented on #14199
I'm pretty much out of ideas. I suspect it to be corrupted memory, to a very high degree. If this is true, it would mean cocos2dx is heavily flawed.

I would love to get some feedback and not be ignored. Could you also do me a favor? Compile an .apk of the cocos2dx cpp-tests project, confirm it's working on your devices and send it to me, it's possibly related to some compiler / linker issue (even

[2015-11-06 17:27] emadpres opened #14339 "AudioEngine: Never `FinishCallback` in Windows (But Android works)"
Hi
I simply play a .mp3 file ( ~ 3min)  like this:

[code]

**Problem:**
In `windows`, my `finishCallback` (above lambda function) doesn't trigger after play finished, but the same code works fine in `Android`. therefore I have to test my every change in Android !

**PS:** I test multiple mp3 files and problem for most of them (except one short ~10 sec mp3) exists always .

_Cocos2dx version: 3.7_

[2015-11-07 05:14] xiaofeng11 commented on #14199
Sorry Leandros, I'm busy on some other works and won't have enough time to continue debugging on this problem recently, but that won't mean we will ignore this issue, I'll check it some later, maybe next week end. Here's I compile a cpp-tests.apk, you can download it from http://pan.baidu.com/s/1qWMjUaC

[2015-11-07 09:10] pengsheng998 commented on #14267
@SongCF exit(0)应该是结束进程了啊，你是不是连着Xcode点了退出。

[2015-11-07 16:18] pandamicro commented on #14339
@WenhaiLin Have this been fixed yet?

[2015-11-08 09:16] qqjckimo opened #14341 "Can not get binary data from file in a lua project?"
I'm using Cocos2d-x v3.8 and create a lua project.
When trying to reading a binary file , *.mo file actually, I found that there are no binding of `getDataFromFile` nor `getFileData` via

[code]

The call of `cc.Helper` and `cc.HelperFunc` also return `nil`.
I've also tried to use native `io.open` and wrapped `io.readfile` , but no way to get full path of a file from relative path in cocos, becaus

[2015-11-09 01:39] SnowStorms commented on #14322
Nobody answer?

[2015-11-09 04:06] #13959 closed, assigned to nobody

[2015-11-09 04:57] xiaofeng11 commented on #14309
@letzgame Does this issue is platform related or it will appear on all platform? 3.9beta0 have refactor
 the downloader implementation, on some platform it use platform library, but not libCurl as before.

[2015-11-09 04:59] letzgame commented on #14309
@xiaofeng11
I just tested it on ios 9.
To repeat this issue, you guys could try to download a file from github.

I figured out that the callback function should be called while version is downloaded. but actually it's not.

[2015-11-09 05:05] xiaofeng11 commented on #14309
@letzgame Thank you very much. I'll check it some later.

[2015-11-09 06:09] super626 opened #14345 "OpenGL state bug on render queue"
In the following case,
1. 2D Sprite can rotate along x, y axis.
2. 2D user may draw their custom triangles at a wrong order.
It will get wrong results if some one turn on the cull face, for example 3D Sprite, Skybox camera brush.

So it is better to have the cull face of 2D queue turned off explicitly, and turn on it for 3D queue.

[2015-11-09 06:27] #14345 closed, assigned to super626

[2015-11-09 08:17] Leandros commented on #14199
Thanks. I would love to take a look at the .apk, the download, however, is not starting (and I'm getting a network error if it is starting). Could you kindly upload it to some other mirror?

[2015-11-09 09:33] piotrros commented on #14297
I'm using ogg files and getDuration for first few frames returns indeed -1 and later it returns correct number.

[2015-11-09 10:54] xiaofeng11 commented on #14199
@Leandros http://uploaded.net/file/x7qx8qrw please try this link.

[2015-11-09 10:56] Leandros commented on #14199
Thank you very much! Much appreciated.

[2015-11-09 10:58] Leandros commented on #14199
Which version of cocos is this? Compiled with which ndk / compiler (gcc? clang? version?)? Which operating system?

It is working!

[2015-11-09 11:14] war3gu opened #14347 "cocos2d-x-3.8.1 js can not debug on Firefox 40 and above"
按照官方教程，使用firefox，进行到需要点击Hello Cocos2d-X JSb，就继续不下去了。

[2015-11-09 11:37] xiaofeng11 commented on #14199
You're welcome Leandros.
This cpp-test is from cocos2dx V3 branch, the version is 3.9, compile with ndk-r9b. I just use build_native.py to compile the project, I think the compiler is gcc as default. And it was compile under MacOSX 10.10. Hope these info can help you.

[2015-11-09 12:58] nil1511 commented on #14347
for jsb debugging try with firefox version 39 or below. JSB Debugging is not working from firefox version 40 onwards.

[2015-11-09 13:05] piotrros opened #14349 "SimpleAudioEngine CocosDension playSound bug and possible fix"
Hi, I've experienced a bug with playSound function.
How to reproduce problem:
1) play a sound in a loop at startup
2) add button which plays other sound
3) click button 32 times and boom.. sound played at startup will stop.

That's because this function seems working wrong:

[code]

I don't understand how exactly _getSourceIndexForSourceGroup:sourceGroupId works so I've added simple fix after this

[2015-11-09 13:20] Dredok commented on #13482
hi,
did someone evaluate the impact on performance? I had issues with globalzorder in android and would like to change to std::stable_sort

[2015-11-10 02:02] super626 commented on #14329
@rosone
Do you have bones or nodes with the same name?
We will not modify the name unless you have nodes with the same name.
You can send me a email with your fbx attached. tony.yang@chukong-inc.com
Thanks

[2015-11-10 03:38] rosone commented on #14329
seems ok now, I don't know what happened.

[2015-11-10 03:43] super626 commented on #14329
ok. You can contact with me if there is something wrong.

[2015-11-10 06:15] zilongshanren commented on #11748
@RustyMoyher  @sridenour
I will upgrade GLFW to 3.1.2 in the next release cycle.

[2015-11-10 06:16] #11815 closed, assigned to zilongshanren

[2015-11-10 06:16] zilongshanren commented on #11815
this issue should be resolved in the v3 branch.

[2015-11-10 06:17] zilongshanren commented on #13438
After https://github.com/cocos2d/cocos2d-x/pull/14252 is merged. There is no need to do the refine.

[2015-11-10 06:17] #13438 closed, assigned to zilongshanren

[2015-11-10 06:58] pandamicro commented on #14347
Please do as @nil1511 suggested.

Thanks, @nil1511

[2015-11-10 08:53] pandamicro opened #14352 "[Web engine] Removed node may still be hold by actions and cause memory leak"
A developer reported that when removing a node from the scene, if it has some actions attached, the action will cause the node still reachable from ActionManager, then it won't be collected by GC.

In the engine logic, normally, when a node detached from the scene, the cleanup should be called recursively from itself to its children node tree. The cleanup function is in charge of stopping actions

[2015-11-10 09:07] piotrros opened #14353 "No sound on mac os x app when using precompiled libs"
I have no sound in my desktop mac os x app. I'm using cocos2d-x 3.8.1, latest xcode. And precompiled libs. Works fine without precompiled cocos2d-x lib.
When I'm launching app I'm getting following error in logs:

[code]

So I've removed AVFoundation.framework from desktop target. Project still compiles and error is gone. However still no sound. I'm using SimpleAudioEngine to play sounds.

After d

[2015-11-10 09:12] piotrros commented on #14353
Nevermind. I didn't select sounds directory target membership to desktop. Anyway you can edit your xcode project template and remove AVFoundation.framework to remove my first issue.

[2015-11-10 09:12] #14353 closed, assigned to nobody

[2015-11-10 09:59] fuyifan commented on #14339
@pandamicro  and @WenhaiLin  Yes, I get this bug and have found some clue. First, this problem only occurs in Windows and mp3 size should larger than PCMDATA_CACHEMAXSIZE so the _queBufferFrames not is equal to 0. In this situation, AudioPlayer's rotateBufferThread _readForRemove is set to true. When the music stopped, in AudioEngionImpl's update function it = _audioPlayers.erase(it); is called, b

[2015-11-10 16:13] #13973 closed, assigned to jianglong0156

[2015-11-10 16:13] #13956 closed, assigned to VisualSJ

[2015-11-10 16:15] #12278 closed, assigned to jianglong0156

[2015-11-10 16:16] #11259 closed, assigned to zilongshanren

[2015-11-11 02:41] 13m00n opened #14355 "PhysicsBody behaves like convulsion after 3.6"
Hi, I found a bug,that physics body behaves wrongly when a physics body overlapped the other physics body.PhysicsBody behaves like convulsion.

This bug is confirmable on cpp-test [Node:Physics].
・Pyramid Stack
・Slice

I confirmed this bug on following conditions.
・iPhone6
・iOS9.1
・Cocos2d-x 3.6( ~ 3.9beta0)

I observed this bug doesn't occur on following conditions.
・iPhone6
・iOS9.1
・Cocos2d-x 3.

[2015-11-11 03:49] pjkui opened #14356 "problem in CCNode.cpp"
In CCNode.cpp line 1431.

[code]

![image](https://cloud.githubusercontent.com/assets/6873307/11083397/28aab296-886a-11e5-8d55-754a8d59c936.png)

I have portal tencent behaviac in my project(Tencnt behaviac is a solution for the game agent's  behavior tree). but this two lines will be crash. if I have change this code to

[code]

then it work well.

but I don't know why?

[2015-11-11 04:10] ppzflpp commented on #14267
安卓如何不结束进程，但是引擎本身占用的资源都能释放掉？尤其是c++，还有js那块所有内存释放掉，java 层surfaceview不释放掉

[2015-11-11 05:26] pengsheng998 commented on #14267
@ppzflpp replaceScene应该会做释放资源动作的吧，不过对于泄露的资源就没办法了

[2015-11-11 05:43] pandamicro commented on #14335
Maybe related to https://github.com/cocos2d/cocos2d-x/issues/14349

[2015-11-11 05:44] yuyangame opened #14357 "[cocos2dx-js]ccs Listview's clipping function has bug"
When ListView has any ClippingNode children, the ListView's clipping function will not work!

[2015-11-11 05:49] #14329 closed, assigned to super626

[2015-11-11 05:54] pandamicro commented on #14316
Which platform are you testing ?

[2015-11-11 05:58] pandamicro commented on #14290
@youlanhai Thank you very much for your suggestion, indeed, memory management, multi thread and portable renderer are all very important for Cocos2d to getting anywhere further. We will consider your suggestions for our v4

[2015-11-11 06:00] pandamicro commented on #14288
@xiaofeng11 please check whether it have been fixed

[2015-11-11 06:15] ppzflpp commented on #14267
我现在的做法就是当js里面触发某个动作，我直接调用js里面的director.end函数,c+这边，我在GLViewImpl里面没有并没有杀进程，而是调用delete appdelegate,这个类的的析构函数会调用scriptingCore.cleanup函数，这样做可以达到我的预期，可以重复开启关闭引擎（不用杀死进程），但是每次关闭开启会泄露大概2M  native相关的内存，这个你有什么好的建议没

[2015-11-11 06:23] pandamicro commented on #14259
It should have been fixed @xiaofeng11 ?

[2015-11-11 06:25] pandamicro commented on #14250
It's designed this way, you can't find a normal node with UIHelper's API, please use Node::enumerateChildren API

[2015-11-11 06:25] #14250 closed, assigned to nobody

[2015-11-11 06:26] #14231 closed, assigned to nobody

[2015-11-11 06:30] pandamicro commented on #14215
Ok, I was misleading by `Cannot found module parseuri when load project.json file.` error, it shouldn't print such message though, we don't have any module named `parseuri`.

The reason was socket.io 's min file don't support Closure Compiler advanced mode, advanced mode have some side effect while compiling, it may break your program, we can ensure all cocos code can pass advanced mode, but any t

[2015-11-11 06:30] #14215 closed, assigned to nobody

[2015-11-11 06:35] #14181 closed, assigned to super626

[2015-11-11 06:40] #14081 closed, assigned to nobody

[2015-11-11 06:48] tioalexis-indigo opened #14365 "UIRichText word wrapping cuts words instead of spaces"
For example, the string:

[code]

will be wrapped like this, given the width is small enough:

[code]

The word "target" should not be cut in the middle. It should be sent to the next line instead:

[code]

[2015-11-11 07:07] tioalexis-indigo commented on #14365
I edited this block of code to `UIRichText::handleTextRenderer()` (just after line 265) and it seems to work. But I'm not sure of its performance and how it will interact with other languages like Chinese or Japanese.

[code]

[2015-11-11 07:09] xiaofeng11 commented on #14259
按照我们当前编辑器创建项目的路径结构是 : "项目目录/cocosstudio/MainScene.csd"，config.json保存在“项目目录”文件夹下，solutionDir是指包含csd文件的目录，也就是"cocosstudio"一层，所以目录必须多截取一层才能让模拟器正确加载"项目目录"下的config.json。
@pandamicro 上一次提交的修改是修正少截取了一层目录，去读取"项目目录/cocosstudio"目录下的config.json导致文件找不到。

[2015-11-11 07:27] 1scaR1 opened #14367 "UILayoutManager doesn't consider transform of widget"
I have some image views in ccui.HBox (for example, this bug works with all layout types).
Some of them has scale != 1.
And their position on screen is like they doesn't have scale transformation.
![2015-11-11 10 15 13](https://cloud.githubusercontent.com/assets/10628482/11085978/862bee2e-885d-11e5-87d3-f4e94f9b43cf.png)
(Code examples are in JS, but it reproduces both in C++ ant JS versions)

[cod

[2015-11-11 07:48] dungmv commented on #14290
cocos2d-x v4 seems to be frozen. so, when it will be resumed?

[2015-11-11 09:26] alankevin2 opened #14369 "Cocos2d-x JS ccs.csLoader.createNode() problem"
I just found that when I put two csd file in to same folder, let's say we have /Test/A.csd and /Test/B.csd
If we use CocosStudio to open A.csd, and drag a new Node created from B.csd, after that, we publish csd into json, and use ccs.csLoader.createNode("res/Test/A.json") , an error will occur saying : "/Test/Test/B.csd should be preload".

I supposed that createNode function was implemented someh

[2015-11-11 09:32] pandamicro commented on #14369
You actually can manually define the resource root:

`cc.loader.load(jsonPath, resourceRootPath)`

[2015-11-11 15:14] jasonz1987 opened #14370 "ios9 cceditbox键盘适配问题"
在iOS9的设备上，点击cceditbox会出现游戏屏幕尺寸异常，键盘隐藏后还是无法恢复（这个问题曾经在ios8上出现过，我按照官方的代码修复了）
后来，我在 `onUIKeyboardNotification` 方法后添加了以下代码：
<pre><code>if(originalRect_.size.height > originalRect_.size.width) {
      CGFloat tempValue = originalRect_.size.height;
       originalRect_.size.height = originalRect_.size.width;
       originalRect_.size.width = tempValue;
}</pre></code>
游戏的屏幕可以被正常推到上面，但是键盘的弹出方向会出现问题
1. 手机横屏

[2015-11-11 18:19] stefan80 commented on #14057
Someone taking care of it? We need this asap for our commercial game

[2015-11-12 01:42] alankevin2 commented on #14369
Hi it worked!
But I think it should be `cc.loader.resPath = "res"` to make it work.
I supposed if you never set resPath (default value should be ""), then createNode function has no idea where to located other resources, hence, it exploit the path of the current file to look up.

[2015-11-12 03:51] alankevin2 commented on #14369
oops, I thought it worked but it didnt in fact...
still got this error even if I set resPath
![2015-11-12 11 54 04](https://cloud.githubusercontent.com/assets/8981679/11110161/a31d1ca2-8933-11e5-91d3-7ab98d45f1f2.png)
![2015-11-12 11 54 20](https://cloud.githubusercontent.com/assets/8981679/11110162/a808a1f0-8933-11e5-9e6c-6d9f81125b92.png)

so the MainScene.csd was located at "CocosStudioProject/

[2015-11-12 04:19] alankevin2 commented on #14369
Well, after look deep into the ccs._load and ccs._parse,
Now I use:
![2015-11-12 12 19 11](https://cloud.githubusercontent.com/assets/8981679/11110463/0e63fe92-8937-11e5-805c-122258df73cd.png)
I skip the second parameter type and pass the third parameter which was for the search path of the children  of the current json.
And it worked like charm.
But still think that every time we call ccs.load, w

[2015-11-12 07:36] letzgame commented on #14309
@xiaofeng11
Just now test it on UWP windows10 project, It can not work either.

[2015-11-12 09:48] SongCF opened #14374 "crash js::jit::AutoFlushICache"
When my game enters the background, there is a probability that it will crash.

[code]

I did not find this function in SpiderMonkey, I can't understand why it's here to crash.
Who knows, could you tell me, or give me some advice.
thank you.