[2017-02-10 06:40] minggo commented on #17292
I tested in huawei p9 with latests code, can not reproduce it.

[2017-02-10 06:42] minggo commented on #17307
What did you mean? Add label as a child of sprite or what?

[2017-02-10 06:45] sandfresh commented on #17307
Yes.Add label as child of sprite
.

[2017-02-10 06:58] minggo commented on #15652
@moonwith this PR just fix the type of performance issue. So there may be other performance issue in galaxy tab4.

[2017-02-10 08:42] dumganhar commented on #17326
@jarsj, we use https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src repo to build a library of  libwebsockets.

[code]
If you wanna debug the library in xcode. Just copy the `lws_config.h` which is generated by `cmake`, the source code in `libs` folder of `libwebsockets`, remove some unused source code in `libs` folder,  remove prebuilt library dependence in xcode, then add source code of `libw

[2017-02-10 09:19] jarsj commented on #17326
Building websockets is failing. I think the 3rd-party uses zlib-1.2.8, which is no longer available on the given URL.

[code]

[2017-02-10 09:33] jarsj commented on #17326
@div5yesh I am using cocos2d-tests, that uses precompiled binaries. As far as I know, this is an IOS specific issue, so I am currently not investigating android.

[2017-02-10 09:33] alonlevylll commented on #17325
Thanks

[2017-02-10 09:50] div5yesh opened #17343 "cocos android build fails with SSL enabled in libwebsocket"
- cocos2d-x version: 3.14.1
- devices test on: android
- developing environments
   - NDK version: android-ndk-r13b
   - Xcode version: NA
   - VS version: NA
   - browser type and version: NA

Steps to Reproduce:

1. create a new js project
2. add pre-compiled libwebscoket with SSL enabled
3. compile for android

### I have created js project using cocos2d-x 3.14.1. I get the following errors whe

[2017-02-10 12:10] hussain-sohaib commented on #17265
Hi,

Any update on this issue. This is very important to us as we are using
particles in our game and they are affected by scrolling.

Your help will be much appreciated.

Thanks
On Thu, 9 Feb 2017 at 13:04, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-02-10 13:21] jarsj commented on #17326
@dumganhar I was able to replicate the error on multiple Vodafone 3G connections in my area and atleast one starbucks public WiFI. I also found that libwebsockets guys don't test on IOS, only on Mac.

For now I have modified WebSocket.h/cpp to use Facebook's SocketRocket for IOS, which internally uses CFNetwork and other cocoa goodies. It uses libwebsockets for everything else as before. It has be

[2017-02-10 15:08] ilqvya commented on #17327
i don't thins so, i just swap textures with setSpriteFrame.

for now, i rewrote physics movement to action movement

[2017-02-10 18:17] radman0x commented on #8414
@minggo this isn't an outdated issue. The defines in question still very much exist in version 3.13 in ``CCEventMouse.h`` lines 32-39. Regardless of what cocos is using internally it needs to specify publicly to a client what the codes are. Otherwise how are they to know which number correlates to which mouse button? What I'd like to see is an ``enum class`` in ``EventMouse`` that defines the butt

[2017-02-10 18:36] aardvarkk opened #17345 "Android app is killed in low memory scenario (very large texture cache)"
- cocos2d-x version: 3.14.1
- devices test on: Motorola Moto G 2014 (CyanogenMod), Sony Xperia
- developing environments
   - NDK version: r13b
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Across several Scenes, load and display large textures
2. Over time, the texture cache fills up and eventually the Android app is killed due to low mem

[2017-02-10 19:16] aardvarkk commented on #17345
Is there code anywhere to even *try* to clear out the texture cache in some kind of automated manner, or will it always get larger as the game continues to run and new textures are loaded?

[2017-02-10 19:57] bolso80 commented on #16849
@formatCvt

We merged this fix on 3.14 and test it with @pablorealini in some devices and we dont have any crashes at the moment.

[2017-02-11 11:58] summerinsects opened #17346 "Why does 'EditBoxImplCommon' have the same member variable with 'EditBox'?"
Why does 'EditBoxImplCommon' have the same member variable with 'EditBox'?
These are

    EditBox::InputMode    _editBoxInputMode;
    EditBox::InputFlag    _editBoxInputFlag;
    EditBox::KeyboardReturnType  _keyboardReturnType;
    cocos2d::TextHAlignment _alignment;
    std::string _text;
    std::string _placeHolder;
    Color4B _colText;
    Color4B _colPlaceHolder;
    int   _maxLength;

Why

[2017-02-11 18:46] Rubonnek opened #17347 "ui::PageViewIndicator rendering glitch"
- cocos2d-x version: 3.14.1, and latest git version
- devices test on:
- developing environments
   - Linux, GCC version: 6.3.1

Steps to Reproduce:

1. Create a new C++ project and replace `HelloWorldScene.cpp` with the attached code: [HelloWorldScene_cpp.txt](https://github.com/cocos2d/cocos2d-x/files/768814/HelloWorldScene_cpp.txt)
2. Compile and run.
3. Note that only two items where pushed in

[2017-02-11 19:57] Rubonnek commented on #17347
Adding `page_view->forceDoLayout();` before the return statement seems to fix the problem. Not quite sure if the third indicator that appears is considered a bug, but if it isn't please close this issue.

[2017-02-12 14:19] hussain-sohaib commented on #17265
hello,

 attached classes folder has all the files and resources to recreate the
 issue.
 Make a new sample project named sample. select portrait orientation only in xcode .replace the classes file with files in here and copy resources (image and particles file ) to resources
 folder of your project. run on a device. particle are attached to sprite6
 but when we scroll view they move with movement

[2017-02-13 01:41] SASkievua opened #17348 "Crash when using debug prebuilt libs"
do:
1. cocos gen-libs -c -p win32 -m debug
2. cocos gen-templates
3. cocos new project -p com.company.project -l cpp -t binary

then open-compile-run project in vs2015
project will crash on first cocos function call with std::string parameter
VS show this parameter in that cocos function as "Error reading characters of string"

everything ok when using release version of prebuilt libs

- cocos2d-x

[2017-02-13 02:20] dumganhar commented on #17343
Hi, I guess you didn't link with openssl static library.
You probably need to link with `libssl.a` and `libcrypto.a` like which in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/blob/v3/openssl/prebuilt/android/Android.mk

[2017-02-13 02:21] dumganhar commented on #17348
Could you upload more detailed log about the crash?

[2017-02-13 02:28] zilongshanren commented on #17346
@summerinsects
I think it's a design flaw, the member variables could be merged into EditBoxCommon.
If you could do this and send a PR, I'm glad to help and merge.
thanks.

[2017-02-13 02:41] summerinsects commented on #17346
@zilongshanren  I will have a try

[2017-02-13 03:09] zilongshanren commented on #17244
@uhever @summerinsects
please give the latest v3 branch a test or manually apply the patch provided by @DavidDeSimone
Thanks.

[2017-02-13 05:32] Rubonnek commented on #17327
@effolkronium I also found the same issue yesterday. In my case, the animation frames differed in size due to TexturePacker cropping out the transparent pixels on the sprites. Making a call to `SpriteFrame::setOriginalSize(const Size &sizeInPixels)` to set each of the frames to the same size as they were originally before getting cropped (note that they all had the same size), and another call to

[2017-02-13 06:01] minggo commented on #8414
@radman0x could you please create a new issue?

[2017-02-13 06:15] minggo commented on #17345
Did you mean VolatileTextureMgr?

[2017-02-13 06:18] minggo commented on #17345
The app should take charge of the memory. Apps is better to add a callback when there is any memory warning message sent by app. And please use forum for such discussion instead of issue system.

[2017-02-13 06:18] #17345 closed, assigned to nobody

[2017-02-13 08:33] Sumxx opened #17352 "Crash: Restart Game Multithreading problem"
- cocos2d-x version: 3.6 and new
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

Please look at those following key points:
[code]
When running 'restart()', the JS engine will restart, because of the uneffective management of 't'.
[code]
## Crash point
Then the thread is waiting for the return

[2017-02-13 08:35] Kingwl commented on #17352
cooooooooooooooool!

[2017-02-13 08:55] youlanhai commented on #14738
**Suggestion for tools `bindings-generator`**
Convert lua string to std::string should use API `lua_tolstring`, and convert std::string to lua string should use API `lua_pushlstring`. This two API will copy every characters in string(include '\0').

[2017-02-13 09:05] minggo commented on #14738
@youlanhai i know you meaning, but after the string got from lua to c++, it is set to a string in Node too. For example,

1. use lua_tolstring get all characters(let's say it C) from lua
2. Node::setName(C)
3. though C includes all characters, but Node::setName() will truncate characters after `\0`

[2017-02-13 09:09] keppelcao opened #17353 "CCNode#rotation. RotationX != RotationY. Don't know which one to return"
- cocos2d-x version: 3.14.1
- devices test on: mac
- developing environments
   - NDK version: r10c
   - Xcode version: 8.2.1
   - VS version:??
   - browser type and version:??

Steps to Reproduce:

1. Assert on CCNode.cpp line 293
2. float compare with ==

[2017-02-13 09:53] radman0x commented on #8414
Sure thing, I'll see about putting a PR up for the suggested changes too.

[2017-02-13 09:58] youlanhai commented on #14738
@minggo
The C++ std::string is different from C string(char*), only the C API `strxxx` will use '\0' as the terminal symbol. The std::string is safe when assign to another std::string variable, all characters will be copied(include '\0').

An example convert from binary lua string to std::string:
[code]

And an example convert from binary std::string to lua string:
[code]

[2017-02-13 10:26] minggo commented on #14738
[code]
The output in Xcode is
[code]

[2017-02-13 10:26] bluce opened #17355 "能否提供 libsimulator.xcodeproj 下的Protos.proto protobuf原文件，现在没办法用其他版本的protobuf"
- cocos2d-x version:3.13.1
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. cocos2d-x libsimulator.xcodeproj
2.

[2017-02-13 10:43] piotrros opened #17356 "Content size in ui::Button becomes 0, 0"
- cocos2d-x version: 3.14

Steps to Reproduce:

1. Create a ui::Button without an image (ui::Button::create())
2. call setContentSize and set some size

contentSize will soon become 0, 0 again. I don't know what exactly causes that.
I moved to Node and this ain't happening anymore.
I suspect there's something in ui::Button code which checks if there's no texture it resest content size to 0. This f

[2017-02-13 11:01] div5yesh commented on #17343
I have linked the libraries. @dumganhar please take a look. This is my repository [https://github.com/div5yesh/cocositup](https://github.com/div5yesh/cocositup)

[2017-02-13 11:30] radman0x opened #17357 "Better encapsulate the definition of mouse buttons"
- cocos2d-x version: 3.13.1
- devices test on: Linux
- developing environments
   - NDK version: NA
   - Xcode version: NA
   - VS version: NA
   - browser type and version: NA

This issue is to propose a design adjustment to ``EventMouse`` so that it exposes the definition of a mouse button as an ``enum class`` instead of raw ``#define``'s (for the obvious beneficial reasons).  The result of the

[2017-02-13 11:53] radman0x commented on #17357
I've put up a PR for my suggested changes #17358.

[2017-02-13 11:54] radman0x commented on #8414
New issue and PR are both up, at #17357 and #17358 respectively. @minggo let me know if there is anything else I should do and some comments on the changes would be great if possible.

[2017-02-13 17:07] xdeop opened #17360 "Android crashing on first launch"
- cocos2d-x version: 3.13.1
- devices test on: Nexus 7 (2012) with Android 5.1.1  and Samsung Galaxy Alpha with Android 5.0.2
- developing environments
   - NDK version: r13b
   - Xcode version: 8.2.1

On first start of application, it crashes with the following log:

02-13 17:53:11.909 122-122/? I/DEBUG: Revision: '0'
02-13 17:53:11.909 122-122/? I/DEBUG: ABI: 'arm'
02-13 17:53:11.909 122-122/? I

[2017-02-13 17:28] aardvarkk commented on #17345
I haven't seen any examples of `VolatileTextureMgr` -- is there a way to limit the amount of memory textures can occupy with it? I don't see any public functions that would imply that functionality.

I understand your belief that the app should handle the memory, but the problem is that it's basically impossible to do this on Android (from what I've seen). The reason I filed this issue is that *ev

[2017-02-13 20:52] SASkievua commented on #17348
i don't know where cocos crash log is
here some screenshots

crash happened on first call with string parameter
![screenshot - 13 02 2017 22_42_40](https://cloud.githubusercontent.com/assets/15831256/22902653/6ecd05c8-f23e-11e6-8b81-ccae0df768bf.png)

exception thrown in setViewName function and VS can't show string characters
![screenshot - 13 02 2017 22_45_04](https://cloud.githubusercontent.com

[2017-02-14 02:54] minggo commented on #17360
I think it is caused by it. Could you please tell me how did you do it in detail?

[2017-02-14 02:57] minggo commented on #17353
what's the issue?

[2017-02-14 03:20] KarenHuang2016 commented on #17251
This issue has been fixed in revision 8bf29a4. Close this issue.

[2017-02-14 03:20] #17251 closed, assigned to nobody

[2017-02-14 03:23] minggo commented on #17263
you need to invoke `UserDefault::getInstance()->flush()` to save all keys.

[2017-02-14 03:43] youlanhai commented on #14738
We shouldn't assign a binary `char*` value to std::string directly. It's better to use a buffer  pointer and buffer length to construct a std::string value.
[code]

The output in Xcode is: ('\0' is not visible on console)
[code]

In your code, `std::string s("ab\0cd");` is equivalent to:
[code]

The following is a simple implementation for std::string:
[code]

[2017-02-14 06:14] hussain-sohaib commented on #17265
Hi,

any update on this issue?

thanks

On Fri, Feb 10, 2017 at 5:09 PM, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-02-14 06:21] minggo commented on #17265
Sorry, i am too busy to check it.

[2017-02-14 06:25] hussain-sohaib commented on #17265
Its a major issue, particles aren't behaving they way they should.
Particles are very important part of game development. I request you to
please look into this or assign some one else to it. I have given you guys
every thing you need to reproduce the issue.

thanks

On Tue, Feb 14, 2017 at 11:21 AM, minggo <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-02-14 06:26] minggo commented on #14738
Yep, you are right. I will take a look at it.

[2017-02-14 06:32] minggo commented on #17269
fixed in https://github.com/cocos2d/cocos2d-x/pull/17349/

[2017-02-14 06:32] #17269 closed, assigned to nobody

[2017-02-14 06:58] dumganhar commented on #17148
@rh101, sorry for my late.
I submitted a PR (https://github.com/cocos2d/cocos2d-x/pull/17233) to improve stability and performance.
That PR should resolve this issue. Please have a try.

[2017-02-14 07:03] dumganhar commented on #17030
@leeyeh, sorry for my late reply.
I reviewed that draft link you attached, but I didn't find any information about how to implement a `EventTarget`. Anywhere I could find a more detailed information?

[2017-02-14 07:31] rh101 commented on #17148
@dumganhar No worries, I did already test your changes, and I did post on the other thread you made regarding the changes. I'm just waiting on the next official Cocos2d-x release with these changes (you mentioned it will be in v3.15).

[2017-02-14 07:46] leeyeh commented on #17030
https://www.w3.org/TR/2000/REC-DOM-Level-2-Events-20001113/events.html#Events-EventTarget

https://developer.mozilla.org/en-US/docs/Web/API/EventTarget#Specifications

[2017-02-14 08:17] minggo commented on #14738
fixed in https://github.com/cocos2d/cocos2d-x/pull/17367

[2017-02-14 08:42] minggo commented on #17355
simulator is used for cocos studio, as cocos studio is canceled, i don't have the files too.

[2017-02-14 08:42] #17355 closed, assigned to nobody

[2017-02-14 08:52] minggo commented on #17265
I tested with latest codes on Mac, the effect seems wrong
<img width="480" alt="screen shot 2017-02-14 at 4 51 58 pm" src="https://cloud.githubusercontent.com/assets/488203/22921779/fabe0d9c-f2d5-11e6-9d6d-833621785037.png">

[2017-02-14 08:54] hussain-sohaib commented on #17265
this is just the image, scroll down

On Tue, Feb 14, 2017 at 1:52 PM, minggo <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-02-14 08:56] hussain-sohaib commented on #17265
test it on iphone or on an android device

On Tue, Feb 14, 2017 at 1:54 PM, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-02-14 09:10] hussain-sohaib commented on #17265
When you test on iPhone, scroll down, when you will go down you will see
 snow particles. than check that particle change path with movement of
scroll view, and thats the issue. Particle should not be affected by
scrolling.

On Tue, Feb 14, 2017 at 1:56 PM, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-02-14 09:11] minggo commented on #17265
I don't quite understand what's the error. The particle moved with its parent(image6), it is expected behavior.

[2017-02-14 09:13] minggo commented on #17265
Ok, i got your idea. The particle should run in horizontal. Right?

[2017-02-14 09:15] minggo commented on #17265
But its parent's position changed, so particles will be modified by its parent.

[2017-02-14 09:17] hussain-sohaib commented on #17265
yes, they should not be affected by scrolling and should not move or change
path or move to other images. they should follow their own path (horizontal
in this test case) independent of scrolling.

On Tue, Feb 14, 2017 at 2:14 PM, minggo <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-02-14 09:19] hussain-sohaib commented on #17265
no parent position is not changing, source remains attached to image6.

On Tue, Feb 14, 2017 at 2:17 PM, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-02-14 09:22] minggo commented on #17265
As scroll down, image6(item6 of scrollview)'s position will changed. I am not sure, i am not familiar with UI system. I will take a look.

[2017-02-14 09:27] hussain-sohaib commented on #17265
this is not the intended behavior. particle must always stay attached to
image6 and should not change path. if we attached spine animations or other
images to image6 they wont move around with scrolling. so particles must
also follow the same rule.

On Tue, Feb 14, 2017 at 2:22 PM, minggo <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-02-14 09:36] minggo commented on #17265
You should change the position type as
[code]

[2017-02-14 09:37] hussain-sohaib commented on #17265
let me test.

On Tue, Feb 14, 2017 at 2:36 PM, minggo <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-02-14 09:51] xdeop commented on #17360
Hi,
I've developed a native Activity which handles the download of the .obb file (zip extension changed) if it doesn't exists. After the download (first launch), or if the file exists (next launches), I start the verification of the file and if is correct, I start the AppActivity (Cocos2dxActivity). I've followed google developers instructions and samples (https://developer.android.com/google/play

[2017-02-14 09:53] Bilalmirza commented on #17265
@hussain-sohaib come on man, cocos2d-x team has a very busy timeline. This should be a forum post not a git issue. Or you could have just simply looked at CCParticleSystem.h

[2017-02-14 09:58] hussain-sohaib commented on #17265
Thanks minggo, it works fine now. @bilalmirza I wasnt sure whether it was a
usage issue or issue with cocos2dx. Usually i dont create issue and always
try to sort stuff my self. In this case i just couldn't help my self.

Thanks
On Tue, 14 Feb 2017 at 14:53, Bilalmirza <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-02-14 10:00] minggo commented on #17265
@hussain-sohaib good to hear that it is fixed.
@Bilalmirza thank you for your understanding.

[2017-02-14 10:00] #17265 closed, assigned to nobody

[2017-02-14 11:01] div5yesh commented on #17343
I'm thinking of compiling libwebsocket with wolfssl, instead of openssl as I suspect there are issues in openssl header files, but wolfssl also creates problem as mentioned in https://github.com/warmcat/libwebsockets/issues/741.

[2017-02-14 12:38] songtm commented on #17186
@dumganhar  I upgrade Audio part to 3.14.1, use AudioEngine to play mp3 sound effect also very slow(on Huawei p9 android 7.x),it stuck a while before play the sound, sometimes it may have preload error. I test on other devices I have, it worked perfectly.

02-14 18:06:12.047 31547 31647 I AudioDecoder: Original audio info: numChannels: 1, sampleRate: 44100, bitPerSample: 16, containerSize: 16,
02-

[2017-02-15 01:27] #14738 closed, assigned to nobody

[2017-02-15 01:51] minggo commented on #17360
Sorry, i don't have similar experience about using native activity to start cocos2d-x activity. May be you can post a ticket in the [forum](http://discuss.cocos2d-x.org/), other developers may give some help.

Do you know the which line cause the issue?

[2017-02-15 02:26] liubaishui opened #17369 "When call WebSocket::close cause the ios signal SIGPIPE(crash)"
- cocos2d-x version: 3.3 merged the #17342 code
- devices test on: ios
- developing environments
   - NDK version:
   - Xcode version: 8.2.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. When upgrade the 3.3's Websocket to the last version we found when call the WebSocket::close() function will cause the ios signal SIGPIPE(crash). The step will stop on the row "_closeCon

[2017-02-15 02:29] dumganhar commented on #16704
@pandamicro , was this issue fixed in v3 branch?

[2017-02-15 02:32] dumganhar commented on #16590
@dhuang11, did you try this PR: https://github.com/cocos2d/cocos2d-x/pull/17233
I guess it will fix lots of Audio preload issues.

[2017-02-15 02:36] dumganhar commented on #15750
@pandamicro, please check whether this issue was fixed in v3 branch. Thanks.

[2017-02-15 03:11] pandamicro commented on #15750
My refactor to AssetsManagerEx haven't been submitted yet, but it can solve this problem, because I put decompression before file load succeed, only when file successfully decompressed, it can be marked as complete. Any break during decompress process will cause the file incomplete, so it could be finished in the next try

[2017-02-15 03:28] dumganhar commented on #14442
@lovekankan , any update of this issue?

[2017-02-15 03:28] dumganhar commented on #14425
It was fixed in v3.14. I closed this issue.

[2017-02-15 03:28] #14425 closed, assigned to dumganhar

[2017-02-15 03:30] dumganhar commented on #14442
I guess this issue was fixed in the latest release v3.14.1.
I closed this issue. If you still find any problems, feel free to open it again.

[2017-02-15 03:30] #14442 closed, assigned to dumganhar

[2017-02-15 03:33] #17257 closed, assigned to nobody

[2017-02-15 03:38] dumganhar commented on #13523
I think this issue was fixed in v3.14.1.
I closed this issue.
If you find that it still exists, feel free to re-open it.

[2017-02-15 03:38] #13523 closed, assigned to dumganhar

[2017-02-15 03:38] liuyi opened #17370 "Feature suggest:Can the video will be render into cocos2dx view?"
Now the video player is too simple and can not do some cool effect with it.
And is too hard to  add UI  on the top of video.( We can write it by native code(OC and java),but the style is not the same as game's style.

[2017-02-15 03:41] #17292 closed, assigned to nobody

[2017-02-15 03:44] dumganhar commented on #17030
@leeyeh , I read those articles. Yes, the standard WebSocket class should implement `EventTarget` interface. But in native, it's difficult to achieve that.
I still can't figure out why you need this feature? Any specific requirement?

[2017-02-15 03:47] dumganhar commented on #17326
@jarsj, good to know you have resolve it at the end.
But since it's an issue of libwebsockets, could you create an issue for libwebsockets official? Thank you.

[2017-02-15 03:51] dumganhar commented on #16732
@minggo , since we could not break compatibility in v3, we could not resolve this issue right now.
Could we close this issue?

[2017-02-15 03:55] dumganhar commented on #16625
@stevetranby , good idea, I will consider to add those callbacks.
Yep, because audio playing is asynchronous, some callbacks of status are needed indeed.

[2017-02-15 03:56] dumganhar commented on #16866
@Paco777 , any updates of this issue?

[2017-02-15 03:57] #16732 closed, assigned to dumganhar

[2017-02-15 03:58] minggo commented on #17293
forgot to update web engine, so re-open it

[2017-02-15 04:01] dumganhar commented on #15750
@pandamicro , could you submit that patch to cocos2d-x repo? Thank you.

[2017-02-15 04:39] dumganhar commented on #14212
Closed it since I could not reproduce this issue.
If you this issue still exists in the latest release, feel free to open it again.

[2017-02-15 04:39] #14212 closed, assigned to dumganhar

[2017-02-15 06:14] leeyeh commented on #17030
I have a cross-platform JavaScript SDK on top of the w3c WebSocket API to port to cocos2d-x.  I need to use `WebSocket#addEventLister` to register multiple event handlers.

I'm not familar with the architecture of cocos2d-x bindings. IMHO, the WebSocket interface, along with EventTarget, should be implemented in a JavaScript layer on top of the existing cpp abstract layer. Here is an example from

[2017-02-15 08:24] minggo commented on #17250
I just used VS2015 to compile the project yesterday. Not problem.

[2017-02-15 08:24] #17250 closed, assigned to nobody

[2017-02-15 08:29] yuriilychak opened #17371 "Random crashing of glBuffer on Ubuntu"
- cocos2d-x version: 3.14.1
- devices test on: PC Ubuntu 16.04, Mac mini
- developing environments
   - QT Creator, CLion, CodeBlocks

Earlier for my project I use 3.11.1 version of engine. Now after update to 3.14.1 and install install-linux-deps.sh on Ubuntu I have random crashes of my application. In debug mode all crashes are in render part of engine when locate and relocate glBuffers in engin

[2017-02-15 08:34] Shufel opened #17372 "when load mp3 file(duration is over 15sec) and set currentTime, problem"
- cocos2d-x version: 3.10
- devices test on: Window10
- developing environments
   - NDK version: r9d
   - Xcode version:
   - VS version: VS community
   - browser type and version:

Steps to Reproduce:

1. use cocos2d::experimental::audioengine
load mp3 file(over 15sec duration)
2. and set current time in this file and play,
didn't start current time, only start file's 0:00.

[2017-02-15 08:49] minggo commented on #17370
We don't consider it. And i think it will meet performance issue.

[2017-02-15 08:49] #17370 closed, assigned to nobody

[2017-02-15 08:52] minggo commented on #17372
It is an old version. Why not try latest version?

[2017-02-15 08:58] Shufel commented on #17372
oh, sorry, my version is 3.10
I confuse 3.1 &3.10

[2017-02-15 10:54] xdeop commented on #17360
Hi,
I've found the solution to avoid the crash, although I don't understand what is causing it.

Because the download is managed with a service and updates the current Activity with a pendingIntent, if I start de Cocos2dxAcitivity without the intent flag Intent.FLAG_ACTIVITY_SINGLE_TOP, Android starts the Cocos2dxActivity in a new task and this is causing the crash.

Do you have any explanation of

[2017-02-15 13:50] dumganhar commented on #17369
It's not a crash, you could just click `resume` button to make your game continue to run.
Since libwebsockets has ignore SIGPIPE signal, application should not receive this signal, but it's probably a bug of xcode while debugging.

You could test your game without debugging in the xcode, I'm sure there will not be any crashes.

[2017-02-15 21:05] Paco777 commented on #16866
Hi,
the problem is still there in 3.14.1.
But your workaround to temporarily fix this issue is still working.

[2017-02-16 01:29] minggo commented on #17360
Sorry, i have not idea about it. Could you please find which line cause the crash?

[2017-02-16 02:50] zhichaoLii opened #17373 "JSAutoCompartment"
- cocos2d-x version:  3.14.1
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

Crashed: cocos.solitaire
SIGSEGV SEGV_MAPERR 0x0000000000000004
 Raw Text
0	libcocos2djs.so
JSAutoCompartment::JSAutoCompartment(JSContext*, JSObject*)

I don't have any crash info.

[2017-02-16 07:02] IcarusLi commented on #15652
cocos version:  3.11
Listview or ClippingNode that have stencil widgets will make Andriod running slowly.
I test this on MT6753(or other mediatek- CPU)
Every ClippingNode or Listview will reduce about 5 fps .
I had make some changed  on RenderingCPP,but I don't think it affect to this.

[2017-02-16 07:40] minggo opened #17374 "Android Studio support"
goole guys sent a PR about Android Studio support: https://github.com/cocos2d/cocos2d-x/pull/15676. I tested it and it works. Currently there is only one issue that, engine native codes and other 3rd party c++ codes can not be shown. But can use `step into` to refer to it when debugging.

Cocos console command should adjust for it too.

[2017-02-16 08:26] dumganhar commented on #17148
PR (https://github.com/cocos2d/cocos2d-x/pull/17233) was merged. I closed this issue.

[2017-02-16 08:26] #17148 closed, assigned to dumganhar

[2017-02-16 08:29] dumganhar commented on #16590
PR (https://github.com/cocos2d/cocos2d-x/pull/17233) was merged. I closed this issue.
Please have a test and feel free to re-open this issue if the issue still exists.

[2017-02-16 08:29] #16590 closed, assigned to dumganhar

[2017-02-16 08:31] dumganhar commented on #17226
@rh101, thanks for your feedback, I will check this issue.
Mark it in the v3.15. :)

[2017-02-16 08:35] rh101 commented on #17226
@dumganhar I appreciate that, thank you!

[2017-02-16 08:38] dumganhar commented on #17186
@songtm, PR (https://github.com/cocos2d/cocos2d-x/pull/17233) was merged.
I think it will resolve the `preload error`  issues.
Please have a try in the latest v3 branch.
BTW, could you please upload `assets/res/sound/VOICE10003.mp3` which is decoded without success?

I closed this issue since i think the bad performance of loading `ogg`, `mp3` files has been fixed in the latest v3 branch. If you s

[2017-02-16 08:38] #17186 closed, assigned to dumganhar

[2017-02-16 08:40] dumganhar commented on #17151
It's hard to maintain so many platforms.
Since linux also supports `OpenAL`, I will do a refactor to make linux, win32, mac and ios share the same code base which uses `OpenAL`. :)
I mean, replace FMOD with `OpenAL` for linux.

[2017-02-16 08:42] dumganhar commented on #17047
Closed this issue since #17233 was merged.

[2017-02-16 08:42] #17047 closed, assigned to dumganhar

[2017-02-16 08:44] dumganhar commented on #16945
@pineoc, which audio module are you using, `SimpleAudioEngine` or `AudioEngine`?

[2017-02-16 08:46] dumganhar commented on #16575
@itxiaohua, Is this a problem of cocos2d-html5?

[2017-02-16 08:52] dumganhar commented on #12942
@ermanhaskan, if you're using `SimpleAudioEngine` which is implemented by java `SoundPool`, we could not fix this issue since it's definitely a bug of `Android`.
I refactored a lot code of `experimental::AudioEngine` in v3.14. And use `software decoding` in v3.15 (https://github.com/cocos2d/cocos2d-x/pull/17233).
I think it will work without problems uses the `AudioEngine` in latest v3 branch.
The

[2017-02-16 08:52] #12942 closed, assigned to dumganhar

[2017-02-16 09:25] wulei commented on #17043
现在严重影响开发啊，这个基础问题能优先解决吗？谢了

[2017-02-16 09:28] YuweiXiao commented on #17043
unity + tolua + luajit 在 xcode8.2 下也有这个问题。感觉是 xcode 的问题。

[2017-02-16 10:54] linhbanhmi opened #17376 "Cocosjs : Blocked a frame with origin"
- cocos2d-x version:3.14
- devices test on: PC Windows 8.
- developing environments: Cocos2dx - js

   - browser type and version: GoogleChrome Version 56.0.2924.87 (64-bit)

Steps to Reproduce:

1. This is my game in Facebook. It's work fine with Cocos v3.10. Then i tried update Cocos to v3.14.
2. When run it on Facebook canvas i have an error:
![sc1](https://cloud.githubusercontent.com/assets/11

[2017-02-16 11:13] xdeop commented on #17360
Hi,
I don't know the exact line that causes the crash  due to the difficulty to debug or trace errors in the Android version of the cocos2dx app. Is there a way to develop and debug it with Android Studio?

The crash is occurring before the first's scene init method, after director->runWithScene(scene);

[2017-02-16 12:48] IcarusLi commented on #15652
-------------
I had solved this issues !
version 3.11.1

 CCClippingNode.cpp   line 59,  "  new StencilStateManager()"
...为ClippingNode创建了一个StencilStateManager
ClippingNode::visit()
.....然后在visit函数里面调研到onBeforVisit函数
StencilStateManager::onBeforVisit()
...这个函数干了什么呢？----draw**FullScreen**QuadClearStencil
this  onBeforVisit() function will do this:
**/////``     drawFullScreenQuadClearStencil()

[2017-02-16 12:50] pineoc commented on #16945
When i used `SimpleAudioEngine`.
This error occur on `.wav` files. not `.mp3` files.

[2017-02-16 14:14] ychua842655 opened #17377 "Lable::createWithSystemFont with chinese show as block on windows"
- cocos2d-x version: 3.13.1
- devices test on: windows 10
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:  vs2015
   - browser type and version:

Lable::createWithSystemFont with chinese show as block on windows ,
Lable::createWithTTF is work fine;
Picture show below is a screenshot of my App run on windows
![c805c81995f41f63783bae5fb2707281](https://cloud.githubus

[2017-02-16 23:50] mdmivanov commented on #17315
I encountered a similar issue but on my side is reproduced only for SSL connection, I think the problem is in internal library crash (libwebsocket) that raise signal SIGPIPE when ssl connection was aborted.

[2017-02-17 01:27] jstock78 opened #17378 "Multiline Editbox on Mac Misbehaving"
- cocos2d-x version: 3.13.1
- devices test on: Mac Sierra & El Capitan
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

We're seeing a problem with a multiline EditBox (setInputMode(ui::EditBox::InputMode::ANY)).  The EditBox is at the bottom of our scene and whenever we start typing in it the typing appears at the top, outside the bo

[2017-02-17 02:20] minggo commented on #17360
You can try this PR https://github.com/cocos2d/cocos2d-x/pull/15676. I will merge it in this version or next version.

[2017-02-17 03:01] bluesheet opened #17380 "Label with TTF will cause Memory Leak"
- cocos2d-x version:3.12
- devices test on:SAMSUNG Galaxy Grand2,Android4.3; Asus...and so on
- developing environments
   - NDK version:r9d
   - Xcode version:8.1

Hi,there.
I use engine version 3.12 and now I have some problems with Label::create() on android,
if i use it like
auto pLabel = Label::create("testlabel","res/cocostudio/ui/fonts/msyh.ttf",20);
which will cause memory leak,every time

[2017-02-17 07:52] minggo commented on #17377
did you write the characters in source code?

[2017-02-17 07:56] minggo commented on #17378
Have you tried editbox tests in cpp-tests? How do it work?

[2017-02-17 07:57] minggo commented on #17373
Any test case to reproduce it?

[2017-02-17 07:58] #17346 closed, assigned to nobody

[2017-02-17 08:04] minggo commented on #8245
close this one since CREATE_FUN is not used in engine any more.

[2017-02-17 08:04] #8245 closed, assigned to nobody

[2017-02-17 08:04] #8269 closed, assigned to nobody

[2017-02-17 08:05] #8279 closed, assigned to nobody

[2017-02-17 08:07] #8354 closed, assigned to nobody

[2017-02-17 08:07] #8369 closed, assigned to nobody

[2017-02-17 08:10] #8432 closed, assigned to nobody

[2017-02-17 08:10] #9093 closed, assigned to nobody

[2017-02-17 08:12] #8528 closed, assigned to nobody

[2017-02-17 08:12] #8489 closed, assigned to nobody

[2017-02-17 08:13] #8622 closed, assigned to nobody

[2017-02-17 08:14] minggo commented on #8633
no plan to support it, so close it

[2017-02-17 08:14] #8633 closed, assigned to nobody

[2017-02-17 08:15] #8636 closed, assigned to nobody

[2017-02-17 08:16] minggo commented on #8752
no plan to support it, reopen it when needed

[2017-02-17 08:16] #8752 closed, assigned to nobody

[2017-02-17 08:16] minggo commented on #8906
no plan to support it currently, reopen it if needed

[2017-02-17 08:16] #8906 closed, assigned to nobody

[2017-02-17 08:17] #9061 closed, assigned to nobody

[2017-02-17 08:18] #9064 closed, assigned to nobody

[2017-02-17 08:19] minggo commented on #9447
i think it is fixed, if not please create a new issue

[2017-02-17 08:19] #9447 closed, assigned to nobody

[2017-02-17 08:19] #9424 closed, assigned to nobody

[2017-02-17 08:19] #9516 closed, assigned to dabingnn

[2017-02-17 08:21] #9397 closed, assigned to nobody

[2017-02-17 08:21] #9387 closed, assigned to nobody

[2017-02-17 08:22] #9374 closed, assigned to zilongshanren

[2017-02-17 08:22] #9345 closed, assigned to nobody

[2017-02-17 08:22] #9339 closed, assigned to nobody

[2017-02-17 08:23] #9308 closed, assigned to nobody

[2017-02-17 08:25] minggo commented on #9204
close it since x86 market share is small

[2017-02-17 08:25] #9204 closed, assigned to nobody

[2017-02-17 08:26] minggo commented on #10133
no plan to support it

[2017-02-17 08:26] #10133 closed, assigned to nobody

[2017-02-17 08:27] #10001 closed, assigned to nobody

[2017-02-17 08:28] #9949 closed, assigned to zilongshanren

[2017-02-17 08:28] minggo commented on #9946
close it since not support wp8.1 now

[2017-02-17 08:28] #9946 closed, assigned to nobody

[2017-02-17 08:30] dumganhar commented on #17315
@mdmivanov , please refer to this issue https://github.com/cocos2d/cocos2d-x/issues/17369

[2017-02-17 08:30] bluesheet commented on #17380
hi there,

when can solve this problem?

this problem not only affects Label::create(,xx.ttf) in c++ , but also affects cocostudio's json files that  use ui::Text in js scripts, then it becomes so seriously

in last our game test in market, game's memory will reach 1GB..... :(

thanks a lot!

[2017-02-17 08:31] #10293 closed, assigned to nobody

[2017-02-17 08:33] #11349 closed, assigned to nobody

[2017-02-17 08:33] minggo commented on #12020
already update spine runtime

[2017-02-17 08:33] #12020 closed, assigned to nobody

[2017-02-17 08:34] #8996 closed, assigned to nobody

[2017-02-17 08:37] #15672 closed, assigned to dabingnn

[2017-02-17 08:38] #9874 closed, assigned to nobody

[2017-02-17 08:39] #8442 closed, assigned to nobody

[2017-02-17 08:39] #8453 closed, assigned to nobody

[2017-02-17 08:40] #8475 closed, assigned to zilongshanren

[2017-02-17 08:40] #11111 closed, assigned to nobody

[2017-02-17 08:40] dumganhar commented on #17030
@leeyeh, I think you could simply wrap a pure JS `WebSocket` class and make it inherited from `EventTarget`. A simple EventTarget is implemented like the following code which in https://developer.mozilla.org/en-US/docs/Web/API/EventTarget#Specifications .

[code]
You could modify some code to use `var EventTarget = cc.Class.extend({...})` and wrap `WebSocket` class like this:

[code]

[2017-02-17 08:54] pandamicro commented on #17376
There is an issue with cc.LayerColor.prototype.visit, please add a parameter `parent` in the function definition

https://github.com/cocos2d/cocos2d-html5/blob/develop/cocos2d/core/layers/CCLayer.js#L250

we will fix it later

[2017-02-17 09:10] ychua842655 commented on #17377
No, I get it from utf8 file.And it work's fine with api createWithTTF

[2017-02-17 09:10] leeyeh commented on #17030
Thank you for your detailed solution. I do have a work around for the lack of `addEventListener` API. However If the w3 WebSocket interface was fully implemented by cocos2d-x, it will be much easier for me to port existing codes. There are also use cases for third party libraries relaying on EventTartget interface, which are difficult to modify。Anyway, not much of a  problem for me now. Feel free

[2017-02-17 13:58] jstock78 commented on #17378
The editbox cpp-test is misbehaving for me as well.  Here's a screenshot that should show some random letters in the bottom multiline editbox, but nothing appears.  (See the console log that is visible below it to see what I was typing.)

<img width="859" alt="screen shot 2017-02-17 at 5 56 55 am" src="https://cloud.githubusercontent.com/assets/5265252/23067852/f09d0faa-f4d5-11e6-972b-4cc9cf7add05

[2017-02-17 15:57] germinolegrand commented on #8305
Any news on that ?
I get the white boxes 95% of the time on Label ...
@takesoon "violence" solution does not work

[2017-02-18 10:29] Sumxx commented on #17352
@minggo please at

[2017-02-18 12:17] lws-team commented on #17343
There are no issues with lws and openssl afaik.

As @dumganhar said it looks like you failed to link to the ssl libs,

[2017-02-20 01:34] minggo commented on #17377
Any codes to reproduce it? Did you pass system font name, may be your system doesn't have the font you specified.

[2017-02-20 01:41] minggo commented on #17352
the restart() function is added to for JSB to just re-load js-script, please don't use it in multi thread environment.

[2017-02-20 01:49] minggo commented on #8305
@germinolegrand could you please create a new issue and describe it in detail? It is better to provide steps to reproduce it.

[2017-02-20 01:53] ychua842655 commented on #17377
@minggo
I pass the system font name as "Helvetica",just like as ios/android .
test code is：
     	std::string str = FileUtils::getInstance()->getStringFromFile("testFile.txt");
	auto label = Label::createWithSystemFont(str,"Helvetica",20,Size(getContentSize().width/4,0));
	label->setPosition(getContentSize() / 2);
	this->addChild(label,2);
[testFile.txt](https://github.com/cocos2d/cocos2d-x/files/

[2017-02-20 01:59] Sumxx commented on #17352
Firstly of all, I don't use the Multi-Threading environment, and it's the part of network request to use it. Then if I want to solve the problem, I have to modify your network layer. Therefore, do you have any better  solution for the problem? HttpClient is cocos network function, not mine

[2017-02-20 02:02] minggo commented on #17352
Could you please provide a test case?

[2017-02-20 02:07] minggo commented on #17377
I don't have win10, i will test on win7 to take a look.

[2017-02-20 02:09] Sumxx commented on #17352
All right, please wait for a moment.

[2017-02-20 02:23] minggo commented on #17378
I tested in with latest codes, can show one line characters because the height only can show one line. I do it in like:

* enable multiline(click the `Multiline` item on the right)
* input multiline words

[2017-02-20 02:26] ychua842655 commented on #17377
Thank you

[2017-02-20 03:42] bluesheet commented on #17380
hi,there,
i have found the reason of this problem.

former,we packed the ttf files in our own game.pak file,this will cause memory leak
now,we don't packed ttf files into game.pak,just let it in it's folder,this will be normal

but,i don't know the why it works like this

[2017-02-20 03:43] minggo commented on #17377
I tested with latest codes on window7, no problem. I will test on v3.13.1 branch.

[2017-02-20 07:04] ychua842655 commented on #17377
Thank you ,Dose results  about v3.13.1 branch out now?

[2017-02-20 07:22] Sumxx commented on #17352
[code]
![image](https://cloud.githubusercontent.com/assets/1875780/23115320/11389e86-f77f-11e6-80a1-d08da975abdb.png)

An important theme to notice: In my network environment, Google is not accessible, and it will timeout.

[2017-02-20 07:26] Sumxx commented on #17352
What's more, if there is no trigger, please wait a little longer, thank you. @minggo

[2017-02-20 07:29] AngryPowman commented on #17352
It's very helpful to me

[2017-02-20 07:36] DevilNeverCry commented on #17352
Jesus...it's very helpful to me

[2017-02-20 07:57] CoderNeko commented on #17352
Wow,dude,it's quite **helpful** to me.

[2017-02-20 08:01] Kingwl commented on #17352
God...It's very **helpful** to me

[2017-02-20 08:06] spacemeowx2 commented on #17352
Oh, it's **very** helpful to me

[2017-02-20 08:18] div5yesh commented on #17343
My Android.mk file is same as [https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/blob/v3/openssl/prebuilt/android/Android.mk](https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/blob/v3/openssl/prebuilt/android/Android.mk). @dumganhar am I missing something??

[2017-02-20 08:39] ouenging commented on #17352
OH GOD.  IT‘S VERY HELPFUL TO ME.....

[2017-02-20 09:33] pineoc opened #17386 "SimpleAudioEngine not playing effect after openURL on iOS"
- cocos2d-x version: 3.13.1
- devices test on: iPhone 5s, 6s
- developing environments
   - NDK version: r12b
   - Xcode version: 8.2.1

Steps to Reproduce:

1. i just add this code on button listener function, and click.
[code]
2. effect sounds works well. but sometimes not working on iOS.

I Think something issues on focusing view or audioEngine file release.
And i test
[code]
not working neithe

[2017-02-20 10:13] dumganhar commented on #17343
@div5yesh,
Where did you include this Android.mk?
https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/blob/8dcfc483b62c8b7b7eaf29754ee5ecfa89814ddd/websockets/prebuilt/android/Android.mk#L12

Are your libwebsockets link ssl library like the above Android.mk?

[2017-02-20 10:32] minggo commented on #17377
windows7 also works on v3.13.1, so the problem may be something related with windows10. Yep, latest version is v3.14.1.

[2017-02-20 10:35] div5yesh commented on #17343
Yes @dumganhar libwebsockets does link ssl just as you have mentioned. This is my [Android.mk](https://github.com/div5yesh/cocositup/blob/master/frameworks/cocos2d-x/external/websockets/prebuilt/android/Android.mk#L12) file inside **"cocos2d-x/external/websockets/prebuilt/android/"** folder.

[2017-02-20 16:02] ychua842655 commented on #17377
Thank you very much,I will test it on windows phone 10 and give the feedback to you

[2017-02-20 17:48] artemtarassov commented on #16959
i still see this behavior in v3.14.1 on my mac sierra

[2017-02-21 01:09] ychua842655 commented on #17377
@minggo  If you can, please test it on win10 environment.（will it be a question of access?）

[2017-02-21 02:00] dumganhar opened #17387 "The Strategy of playing more than 32 audios at the same time needs to be changed"
Please refer to https://github.com/cocos2d/cocos2d-x/pull/17233

- cocos2d-x version: v3.14.1
- devices test on: Android devices
- developing environments
   - NDK version: r10e
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Just AudioEngine::play2d(...) as many audios as possible
2. The latest audio will not be played, there is an output l

[2017-02-21 02:24] dumganhar commented on #17343
@div5yesh, you have missed something in `cocos/Android.mk`
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/Android.mk#L333

[2017-02-21 03:07] Dauch commented on #15823
hey, since doing hot update I meat [https://github.com/loopj/android-async-http/issues/990](url), Then I downward ```android-async-http`` version to 1.4.8, revert to this patch [https://github.com/cocos2d/cocos2d-x/commit/84db1ac294a9829cfc3d7a8aa0de18d292208e63](url),  and ervrything wroks ok, any thought about this?

[2017-02-21 03:14] Dauch commented on #15823
More about hot update couldn't work detail, It's when I start update ```AssetsManagerEx:update()``` after minutes past, I got those err, It's rarely happen, not everytimes.
[code]

[2017-02-21 04:33] pineoc commented on #17386
I solve this problem some trick.
Just add this code and reload files.
[code]
But This code not good because of loading time.
I guess this problem maximum limit of sound file pool

[2017-02-21 06:07] dumganhar commented on #17386
Do you use `SimpleAudioEngine` & `AudioEngine` both at your game?
If so ,it will cause this issue.

[2017-02-21 07:51] piotrros commented on #17387
+1
I agree :D

[2017-02-21 08:05] pineoc commented on #17386
Nope. I use only ```SimpleAudioEngine``` at first time and error occurred.
I used AudioEngine test this error.

[2017-02-21 08:34] SBJoker commented on #17266
this fix has an potential issue: it will try reload alpha textures for all color textures, even for textures without alpha couple. And will cause crash on restore.

[2017-02-21 08:58] kashikume opened #17388 "Sprite3D::setGLProgramState does not set _usingAutogeneratedGLProgram to false"
- cocos2d-x version: 3.14.1

I was struggling with setting custom shaders to my Sprite3D objects for some time. I realized, that any shader which I add to my Sprite3D is overwritten by autogenerated one, because _usingAutogeneratedGLProgram is never set to false.
my quick fix for this is:

[code]
after this change everything started to work for me.

[2017-02-21 10:00] minggo commented on #17374
tests and templates are fixed in https://github.com/cocos2d/cocos2d-x/pull/17389

@natural-law it's your turn to update cocos console command.

[2017-02-21 11:04] div5yesh commented on #17343
@dumganhar Added ssl import in cocos/Android.mk. It worked. Thanks a lot.

[2017-02-21 12:18] dmrdev commented on #17260
Have the same issue on 3.14. This issue is also present in the JSTests app and all cocos2d-x JS apps. And it has nothing to do with android:configChanges.

[2017-02-21 12:22] dmrdev commented on #17260
I also have another way to easily recreate the crash.

Launch the app using the following command:
cocos run -p android
when app is launched, press the home button in order to send it to background. Then launch the app from the launcher screen and it will crash (also it may just print "JS: too much recursion" error on the logcat and stop executing JS code in all event handlers).
Tried on Samsung G

[2017-02-21 14:34] SBJoker opened #17390 "Crash on Android after restore from background in Texture2D::updateWithData"
- cocos2d-x version: 3.14.1
- devices test on: Samsung Galaxy Tab A
- developing environments
   - NDK version: r10e (64-bit)

Description:
Game crashes if it was restored from background on Android, and game state was restored.
Callstack:
1. Texture2D::updateWithData()
2. FontAtlas::prepareLetterDefinitions()

Steps to Reproduce:

1. Game should use TTF font for labels.
2. Send game to background

[2017-02-21 14:37] SBJoker commented on #17390
Maybe label's text should be updated to get crash

[2017-02-22 02:16] dumganhar commented on #17386
@pineoc, thanks for your feedback. If you could provide a demo for reproducing this  issue, I will try to check it out. :)

[2017-02-22 02:20] dumganhar commented on #17343
@div5yesh , good to know it works for you now. So I closed this issue.

[2017-02-22 02:20] #17343 closed, assigned to nobody

[2017-02-22 02:36] minggo commented on #17293
web version is updated in https://github.com/cocos2d/cocos2d-html5/pull/3457

[2017-02-22 02:36] #17293 closed, assigned to minggo

[2017-02-22 03:36] dumganhar commented on #17380
Interesting.
BTW, how did you check memory usage?

[2017-02-22 05:18] pineoc commented on #17386
Okay, I will make test project same environment and share it.

[2017-02-22 08:14] gestern opened #17394 "Performance issue of cocos2d-x"
- cocos2d-x version: 3.11, 3.12, 3.13, 3.14, 3.14.1
- devices test on: iPad Air, iPhone 6s
- developing environments
   - Xcode version: 8.2.1

Steps to Reproduce:

1. Create new project from scratch for iOS in console with language type CPP ``./cocos new -p <package> -d <directory> -l cpp Test``
2. Launch just created project inside xCode with real iOS device;
3. Follow to Debug navigator view (s

[2017-02-22 08:40] dumganhar commented on #17394
Did you mean the versions before v3.11 don't have the issue you said?

[2017-02-22 08:50] dumganhar commented on #17394
Thanks for your reply, I will check this issue.

[2017-02-22 09:20] gestern commented on #17394
Just finished testing with 3.6, so here is results:
## Pad Air
- Energy Impact: **Very High/High** - Utilization between yellow and red areas (more better than 3.1X )
- **CPU:** 10%-11%

## iPhone 6s
- Energy Impact: **Low**
- **CPU:** 10%

[2017-02-22 10:03] semgilo opened #17395 "AudioEngine alSourcePlay error code:a003"
- cocos2d-x version:3.9 (audio had upgrade to 3.15)
- devices test on:iPhone 7
- developing environments
   - NDK version:
   - Xcode version:8.2
   - VS version:
   - browser type and version:

Steps to Reproduce:

it can't produce often
1. press home menu to background a while or goto siri
2. music and sound is disappeared

log:
E/AudioPlayer (217): bool cocos2d::experimental::AudioPlayer::play2

[2017-02-22 10:39] SBJoker commented on #17390
Fixed it by myself. Here are attached modifies files.
Also it fix for another issue:
https://github.com/cocos2d/cocos2d-x/issues/17167
[CCFontAtlas.zip](https://github.com/cocos2d/cocos2d-x/files/793061/CCFontAtlas.zip)

[2017-02-22 11:29] MrCapone opened #17397 "Win32 AudioEngine linker errors when build by CMake"
- cocos2d-x version: 3.14.1
- devices test on: Windows 10
- developing environments
   - VS version: 2015

Steps to Reproduce:

1. create blank cocos project and generate VS solution by cmake
2. try load mp3 or ogg by` AudioEngine::play2d("");`

error:

[code]

[2017-02-22 12:47] alonlevylll commented on #17260
Thanks for reopen the issue!

I did some further investigations, and found in android API:

        // Test to fix the resume background bug
        if (Build.VERSION.SDK_INT >= 11) {
            glSurfaceView.setPreserveEGLContextOnPause(true);
        }

It didn't fixed or reduced the issue also.

[2017-02-22 13:56] gestern commented on #17394
I've finished testing with **iPhone 4** device, and several versions of cocos2d-x (including 2.x version). And the problem reproduced everywhere. It is awful - turn over in my mind a bit before when I tried to downgrade xCode from 8.2.1 to 7.3.1. And... **problem is gone**. Wow! Then I'm roll back again to 8.2.1 and checking with simulating environment on swift language - and all devices (except i

[2017-02-22 13:56] #17394 closed, assigned to dumganhar

[2017-02-22 19:19] BryceStevenWilley commented on #17353
@keppelcao might be complaining about the fact that this line compares floats with ==, as opposed to something with a tolerance.  But from what I can understand, the exact same operations are used to get _rotationZ_X and _rotationZ_Y, so they should both be the exact value, no floating point error.

Also regarding this line, I had a bug where the physics engine would mistakenly set the _rotationZ_

[2017-02-23 02:00] Weststreet commented on #9785
@ziyouchutuwenwu 我也遇到相同的问题，请问你的问题解决了么？

[2017-02-23 02:04] dumganhar commented on #17395
Thanks for your feedback.
Could the test case in cpp-tests/New AudioEngine Test reproduce this issue?

[2017-02-23 02:08] dumganhar commented on #17397
I will update `CMakeLists.txt` for win32 to fix this issue soon.

[2017-02-23 02:25] dumganhar commented on #17394
@gestern , thanks for your detailed tests.
Good to know it's something about Xcode version and programming languages except `swift`.
Therefore, shouldn't we rely on the `Energy Impact` & `time profiling` in Xcode 8.2.1 to find out performance issues?

[2017-02-23 02:30] semgilo commented on #17395
@dumganhar I will give it a try, and then to answer you

[2017-02-23 02:52] dumganhar commented on #17397
fixed at https://github.com/cocos2d/cocos2d-x/pull/17401.

[2017-02-23 02:52] #17397 closed, assigned to dumganhar

[2017-02-23 03:00] dumganhar commented on #9785
@Weststreet ,try to use the latest version of cocos2d-x to check out whether it was fixed. thanks.

[2017-02-23 03:50] dumganhar commented on #9086
@davidboya, could you try the latest version to test it again?

[2017-02-23 05:18] Awaken929 opened #17402 "lua范例(cocos3.14.1)运行出错"
- cocos2d-x version:3.14.1
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:8.2.1
   - VS version:
   - browser type and version:

Steps to Reproduce:
运行lua范例时出现个错误，不知道怎么解决
1. 报错地方 string(类)->__zero()(函数)->__a[__i] = 0;(函数具体地方)
![b](https://cloud.githubusercontent.com/assets/5218377/23245993/90ece076-f9cb-11e6-8884-21e2f2d1f866.png)
![a](https://cloud.githubusercon

[2017-02-23 06:02] dumganhar commented on #17402
It's a known issue while running lua project in ios simulator using xcode 8.2.
There isn't an available solution for this, therefore, please debug your game on real ios device.

[2017-02-23 06:07] dumganhar commented on #17402
You could refer to https://github.com/cocos2d/cocos2d-x/issues/17043,
It's similar issue, so I closed this one. Please discuss in that thread.

[2017-02-23 06:07] #17402 closed, assigned to nobody

[2017-02-23 06:09] dumganhar commented on #17371
So can I make sure that it works fine in v3.11.1 but crashes in v3.14.1?

[2017-02-23 06:24] dumganhar commented on #17262
@natural-law , is this issue fixed?

[2017-02-23 06:30] natural-law commented on #17262
I have not implement this feature.

[2017-02-23 08:03] dumganhar commented on #17204
@jabson

Could you send me the demo project based on template?

[2017-02-23 08:04] dumganhar commented on #17173
@mikejw ,
Could you switch to gcc 4.9 to test?

[2017-02-23 08:28] dumganhar commented on #15841
Similar issue was reported at https://github.com/cocos2d/cocos2d-x/issues/15367

[2017-02-23 09:13] Sumxx commented on #17352
I have been waiting for 2 days, how should I deal with this problem? @minggo

[2017-02-23 09:14] Sumxx commented on #17352
I have been waiting for 2 days, how should I deal with this problem? @minggo

[2017-02-23 09:36] Weststreet commented on #9785
@dumganhar 用最新版试了下还是有问题
![image](https://cloud.githubusercontent.com/assets/11329810/23253204/9fd3f0de-f9ee-11e6-9e13-9c225ab12ee6.png)

[2017-02-23 10:16] Dauch opened #17403 "Lua project set a ccui.Text String crash on Android"
- cocos2d-x version: 3.14+
- devices test on: android windows
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

[code]

On windows it will prop a error(not crash):

But on android it will crash, I think best way to is prop a error rather then crash.

[2017-02-23 12:53] gestern commented on #17394
@dumganhar I think we shouldn't do so. Because Xcode 8.2.1 shows incorrect result with cocos2d-x 2.x.

[2017-02-23 13:02] zhichaoLii commented on #17373
sorry, i don't know how to reproduce it, but i have a lot of crash log in the fabric.

[2017-02-23 20:46] rnnbl commented on #17213
This line of code is never called on android:
JNIEXPORT void JNICALL Java_org_cocos2dx_lib_Cocos2dxRenderer_nativeOnPause()

However the JNICALL Java_org_cocos2dx_lib_Cocos2dxRenderer_nativeOnResume() is called.

[2017-02-24 01:24] slackmoehrle opened #17405 "iOS 10 issue with input lagging"
- cocos2d-x version: 3.14.1

Please read this forum thread: http://discuss.cocos2d-x.org/t/ios-10-issue-with-scroll-ontouch/35210

[2017-02-24 03:21] MRLuowen commented on #9977
I meeet the same case as http://www.cocoachina.com/bbs/read.php?tid-281608.html
,the AlphaThreshhold did not work.
how did you solve it?
I need you help.

[2017-02-24 03:53] dumganhar commented on #17352
Basically, we should not use `.detach()`  stuff in our code, it will cause this issue.
If director is restarting and HttpClient should exit and join network thread to make a safety destruction.

[2017-02-24 04:50] vovanrost opened #17406 "ISSUE with getting x, y properties for objects on isometric map"
- cocos2d-x version:  3.14.1

module: CCTMXXMLParser.cpp
method: TMXMapInfo::startElement

**original code is:**
        // But X and Y since they need special treatment
        // X
        int x = attributeDict["x"].asInt();
        // Y
        int y = attributeDict["y"].asInt();

        Vec2 p(x + objectGroup->getPositionOffset().x, _mapSize.height * _tileSize.height - y  - objectGroup->getPo

[2017-02-24 06:15] natural-law commented on #17262
I've add an argument `--agreement` for cocos command. Here is the PR of cocos2d-x: #17407

[2017-02-24 10:09] fred1024 opened #17408 "Wondering why allocating/clearing memory in system for CCRenderTexture ?"
Hello, we are seeking some perfs on our project.
I came across this in CCRenderTexture

[code]

I understand you want the newly RT to be clean ... but as for some reasons it is advised to do a glClear() after a RT is binded (for Tiled Architecture on mobile)... and that the Render Texture is fully rendered into ... and that glTexImage2D() accept null pointers as data ...

i was wondering if it cou

[2017-02-24 15:33] jianghaiinchengdu opened #17411 "Cocos2dx"

[2017-02-24 17:22] markchou commented on #16618
Thanks!

[2017-02-24 21:05] slackmoehrle commented on #17411
No comments or description. Closing.

[2017-02-24 21:05] #17411 closed, assigned to nobody

[2017-02-25 09:29] rnnbl commented on #17213
@minggo Can you please add  a label 'critical'?

[2017-02-26 05:50] yuriilychak commented on #17371
Hello.
I am confident that the problem isn't in engine upgrade, and i think some dependencies in install-deps-linux.sh. After many attempts to update and downgrade of drivers I localize the problem. It will also be present to attend the version 3.11.1. The program breaks when the freed memory occupied texture, mainly at the startup and shutdown of program. At start, program sometimes crashing when

[2017-02-26 07:29] ka7713 opened #17412 "crtdbg " Detected memory leaks!" fix patch"
- cocos2d-x version:  3.14.1
- devices test on:  win32(windows10)
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:  2015
   - browser type and version:

Steps to Reproduce:

1.  cpp-empty-test, cpp-tests

[code]

[code]

2. patch
[code]

[2017-02-27 02:31] dumganhar commented on #17408
Thanks, if your patch improves  a lot and doesn't break the compatibility. Feel free to send a Pull Request to us, we will review your code and give some feedbacks to you. :)

[2017-02-27 02:33] dumganhar commented on #17213
@rnnbl, added.

[2017-02-27 02:41] dumganhar commented on #17371
@yurillychak, what kind of tool are you using for detecting the crash stack?
Do `cpp-empty-test` or `cpp-tests` also crash at startup and shutdown?

[2017-02-27 06:01] dumganhar opened #17413 "[Android] AudioEngine::play2d may still wait 2 seconds if preload is too fast."
Reported by @Dauch .
Please refer to https://github.com/cocos2d/cocos2d-x/pull/17233

- cocos2d-x version: v3.14.1
- devices test on: YeShen(夜神) Emulator (X86)
- developing environments
   - NDK version: r10e
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Extract [17.mp3.zip](https://github.com/cocos2d/cocos2d-x/files/802750/17.mp3.zip) to

[2017-02-27 06:08] dumganhar commented on #17413
The patch is at https://github.com/cocos2d/cocos2d-x/pull/17414

[2017-02-27 07:11] #17413 closed, assigned to dumganhar

[2017-02-27 07:22] xiayangqun commented on #17403
DelayCall.delay(function()
    pText:removeFromParent()
    DelayCall.delay(function()
        pText:setString("")
    end, 1)
end, 1)

look at this code:
you remove this node and after 1 second you want to setString age.
when you remove it ,this node will free in native. So there will be a  invaild 'cobj'

[2017-02-27 07:28] lcc3536 commented on #17352
CCDirector add reset event.
[code]

MinXmlHttpRequest release js callback before js vm restart.
[code]

[2017-02-27 07:33] Shufel opened #17415 "can't play audio from buffer?"
- cocos2d-x version: 3.10
- devices test on: win32
- developing environments
   - VS version: community
   - browser type and version:

Steps to Reproduce:

I want play audio file from buffer.
but now, audioengine just only support from filepath(exist on computer)
I want resource's security.
so, I packing resource file and unpacking when I use this
and contain target file on BYTE buffer an use
(no

[2017-02-27 07:39] dumganhar commented on #15917
Output log in visual studio was fixed.
Please refer to https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/network/WebSocket.cpp#L110

About the thread-safe problem, I think it's probably because invoking `Director::getInstance()->getConsole()->log(buf);` at the end of `cocos2d::log`.

Since the latest v3 branch has supported to output log in visual studio, I closed this issue.

If you still meet i

[2017-02-27 07:39] #15917 closed, assigned to nobody

[2017-02-27 07:39] #17262 closed, assigned to natural-law

[2017-02-27 07:50] dumganhar opened #17416 "Wrong default port of SocketIO connection"
- cocos2d-x version: 3.14.1
- devices test on: ALL platforms
- developing environments
   - NDK version: r10e
   - Xcode version: 8.2.1
   - VS version: 2013, 2015
   - browser type and version: N/A

[code]

[2017-02-27 08:05] dumganhar commented on #17403
I guess the native object associated with `pText` was released since `pText:removeFromParent` was invoked.

@Dauch , yes, anyway, any lua invocations should not make game crash.
For a quick fix, please don't use a binding object which was released.

[2017-02-27 08:49] Dauch commented on #17403
Yes I knew, but sometimes coder forgot to check,

I think the engine should check a binding object is valid before use.

[2017-02-27 09:01] MrCapone opened #17417 "macOS FileUtils::getWritablePath() uses Ducuments directory"
When you call `cocos2d::FileUtils::getInstance()->getWritablePath()` on macOS it returns `NSDocumentDirectory` [code link](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/apple/CCFileUtils-apple.mm#L239). I think its not good idea use User's Documents directory to store game data and files. I, as a mac user, do not want to fill my Documents folder with service data.
On windows cocos us

[2017-02-27 09:41] Dauch commented on #16952
I don't think so, is not the lack of memory. Since I can't reproduce this bug, I close it for now.

[2017-02-27 09:42] #16952 closed, assigned to nobody

[2017-02-27 10:37] rnnbl commented on #17213
@dumganhar Thank you!

[2017-02-27 14:14] semgilo commented on #17395
@dumganhar it also produced in lua-tests
iphone 6
cocos2dx 3.14

hold down the home button utils the siri called, the issue will produced sometime

[2017-02-28 01:41] dumganhar commented on #17415
Probably, a new interface called `AudioEngine::play2dWithData` needs to be added.

[2017-02-28 01:50] dumganhar commented on #17417
I was confused about this too.
I remember when I debugged `AssetsManagerEx` somedays ago, I passed in `getWritablePath` as the storage path, `AssetsManagerEx` will delete all files and directories in the storage path, then my all documents were gone. :(

[2017-02-28 01:50] dumganhar commented on #17417
I wanna know is there a place only owned by current application?

[2017-02-28 01:51] dumganhar commented on #17395
@semgilo, thank you. I will give it a try.

[2017-02-28 02:06] Shufel commented on #17415
then, will add a function called play2dWithData in the future?

[2017-02-28 02:48] dumganhar commented on #17415
We will consider this feature.
For now, I think it's not difficult to achieve that by hacking `AudioEngine` source code. :)

[2017-02-28 03:15] dumganhar opened #17418 "Does win10 platform support Lua and JS?"
A developer reported that he didn't know how to create a win10 project with Lua support.

Currently, I only find `proj.win10` folder in `cpp` tests and `cpp` template.
It seems it is missing in `lua` & `js` testcase and template projects.

@stammen , could you please take some time to answer this question?

[2017-02-28 03:20] stammen commented on #17418
@dumganhar win10 platform currently only supports c++.

[2017-02-28 03:25] stammen commented on #17418
@dumganhar It might be possible to create a  Windows Store cocos2d-x lua or js app by using the Win32 lua or js project templates and then converting the Win32 app to a Windows 10 Store app with the [Desktop App Converter](https://docs.microsoft.com/en-us/windows/uwp/porting/desktop-to-uwp-run-desktop-app-converter)

[2017-02-28 03:26] Shufel commented on #17415
thanks.

[2017-02-28 03:36] dumganhar commented on #17418
Got it. Thank you

[2017-02-28 03:36] #17418 closed, assigned to nobody

[2017-02-28 04:46] Usopp-Code opened #17419 "websocket cant connected in android"
- cocos2d-x version:3.4
- devices test on: samsung sm-c5000
- developing environments
   - NDK version: r10d
   - Xcode version:
   - VS version:
   - browser type and version:

hi
i upgrade my code by https://github.com/cocos2d/cocos2d-x/pull/17172
then compile well in windows and ios, and connected well
in android, i can't connect to my server
i got this log

02-28 12:26:09.912 10213 10464 D Web

[2017-02-28 05:23] Usopp-Code commented on #17419
reason is  “HS: URI missing”

[2017-02-28 05:42] dumganhar commented on #17419
What's the URL did you connect to ?

[2017-02-28 05:49] lee2doge commented on #17419
i found the problem.
my URL is ws://xx.xx.xx.xx:xxxx?sign=xxxxxxxxx
in android the URI resolved to sign=xxxxxxxxx
but, in other platform is ok

[2017-02-28 05:54] Usopp-Code commented on #17419
i found the problem.
my URL is ws://xx.xx.xx.xx:xxxx//?sign=xxxxxxxxx
in android the URI resolved to ?sign=xxxxxxxxx
but, in other platform is /?sign=xxxxxxxxx

[2017-02-28 05:54] dumganhar commented on #17419
Hi, please try to use WebSocket.h/.cpp in v3 branch.
I have modified some code after the refactoring pull request.

https://github.com/cocos2d/cocos2d-x/pull/17342
https://github.com/cocos2d/cocos2d-x/pull/17381
https://github.com/cocos2d/cocos2d-x/pull/17379

[2017-02-28 05:55] Usopp-Code commented on #17419
thank you very much

[2017-02-28 05:56] dumganhar commented on #17419
It's basically because this https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/network/WebSocket.cpp#L870

`lws_parse_uri` will modify the input parameter `url`.

[2017-02-28 06:21] Usopp-Code commented on #17419
yep,  it is running well after i fix my URL.
thx

[2017-02-28 06:22] dumganhar commented on #17419
OK. So I closed this issue since it was fixed in the upstream.

[2017-02-28 06:22] #17419 closed, assigned to nobody

[2017-02-28 06:40] 1scaR1 commented on #17417
If you enable App Sandbox in capabilities for application it will use special sandboxed directory(returned by `cocos2d::FileUtils::getInstance()->getWritablePath()`) like:
/Users/your_user/Library/Containers/com.yourcompany.app/Data/Documents/

[2017-02-28 06:41] MrCapone commented on #17417
@dumganhar go to `~/Library/Application Support` folder on your mac. You will see that all apps create their folder there and use it to store service data.

[2017-02-28 07:19] MrCapone commented on #17417
Example:
[code]

`getWritablePath()` will return /Users/_your_user_name_/Library/Application Support/_your_app_name_/

[2017-02-28 08:02] dumganhar commented on #17417
@MrCapone , thanks for the code, this change will break the compatibility on macOS.
Old game will lost its data if upgrading to the latest engine.

@1scaR1 ,

/Users/your_user/Library/Containers/com.yourcompany.app/Data/Documents/

Do you mean current implementation could not be changed, just enable App Sandbox is enough? If so, is there any documentation which describes this feature?

[2017-02-28 08:27] MrCapone commented on #17417
@dumganhar i just tested my example, it's not works. Seems app does not have write access to Application Support folder.
I also tested solution with App Sandbox. It works fine, but it will break the compatibility with old versions of engine too.
[Official apple documentation about App Sandbox](https://developer.apple.com/library/content/documentation/Miscellaneous/Reference/EntitlementKeyReference

[2017-02-28 08:35] Bilalmirza commented on #17417
@MrCapone how do you fill in /your_user/ ?

[2017-02-28 08:39] MrCapone commented on #17417
@Bilalmirza

`NSArray *paths = NSSearchPathForDirectoriesInDomains(NSApplicationSupportDirectory, NSUserDomainMask, YES);`
`[paths objectAtIndex:0]` will return full path to _Application Support_ folder for current user. But it seems you cant just write to this folder.

[2017-02-28 08:41] qingwabote opened #17421 "functions.lua "iskindof" returns wrong result"
- cocos2d-x version: 3.13.1
- devices test on: mac desktop

Steps to Reproduce:

1. define class A = class("A", cc.Node) and its sub class B = class("B", A)
2. instance b = B.new()
3. iskindof(b, "A") return false

[2017-02-28 10:27] young40 opened #17422 "The log should be reorder"
- cocos2d-x version: 3.14

Steps to Reproduce:

1. Open some demo of cocos2d-x 3.14
2. Check the log of console.

[code]
The log is too hard to read, I think it should be reordered

[2017-02-28 11:03] shaniamjad opened #17423 "experimental::AudioEngine::remove Crash on IOS"
- cocos2d-x version: cocos2d-x-3.13.1
- devices test on: All IOS devices
- developing environments
   - NDK version: N/A
   - Xcode version: 8.2.1
   - VS version: N/A
   - browser type and version: N/A

Facing random crashes on LIVE game with stacktrace mentioned below.. cocos2d::experimental::AudioEngine::remove(int) + 2586436
Here is the detailed stacktrace below. also attaching screenshot of f

[2017-03-01 03:54] dmrdev opened #17424 "cocos compile run -p android no longer works after Android SDK update"
Just updated Android SDK tools to the latest version 25.3.1 and now tools/android.bat no longer works, it reports:
[code]

- cocos2d-x version: 3.14

Steps to Reproduce:

1. Update android SDK to the latest versions
2. Launch android app build `compile compile -p android` or ``compile run -p android``

[2017-03-01 04:11] dmrdev commented on #17424
Moreover even `compile compile -p android --android-studio` doesn't work because it also depends on `android.bat` utility.

[2017-03-01 06:03] dmrdev commented on #17260
Little bit more info on this. SpiderMonkey stops working every time when the app activity is recreated by the system after it was destroyed.

So when we launch app using `cocos run` command, it launches the app using the following command:
`adb shell am start -n "com.example.myapp/org.cocos2dx.javascript.AppActivity"`

If this type of launch is used, Android will destroy activity immediately after

[2017-03-01 06:25] liketemple commented on #17424
meet same problem.

[2017-03-01 06:52] Usopp-Code opened #17426 "Android build freezing when ogg audio file is played in latest audioEngine"
cocos2d-x version:3.4
devices test on: 华为麦芒5（MLA-AL10) and 乐视x620
developing environments
NDK version: r10d
Xcode version:
VS version:
browser type and version:

i use the latest version audioEngine in github branch v3, and i use ogg file in android.
it is random freezing when i call the play2d/stopall.
i dont know how to Reproduce it.
because never happen again when i dump log.
it is happen three

[2017-03-01 06:57] dmrdev commented on #17260
Maybe it's a dirty hack but I found a workaround. Just add the attribute `android:launchMode="singleTask"` to the activity in AndroidManifest.xml, so now it is:

[code]

After this Android will no longer kill the main activity and it is just resumed after process moved back from the background.

[2017-03-01 07:44] Usopp-Code commented on #17426
i try to use mp3 file in android.
but in sm-c5000, it is stuck main thread when i call preload.

[2017-03-01 08:21] MrCapone commented on #17417
I found why my code does not working. On mac you need create folder and then use it as writable path. Updated version of code:
[code]
maybe it will be helpful for someone.

[2017-03-01 09:50] golergka commented on #17260
@dmrntpv I don't think that preventing activity from being killed can be a proper fix. Android can kill any activity in the foreground, and it should be able to restore itself from `savedInstanceState`. Debugging menu usually has "kill background activities" option to test for that behaviour.

[2017-03-01 09:55] NathanLi opened #17427 "websocket connected bug"
- cocos2d-x version: 3.14
In JSB the webSocet connect was failed.

ws://domain.com/abc/d

It will parse the path is: abc/d

The correct path is: /abc/d

[2017-03-01 12:58] Usopp-Code commented on #17426
vivo X7 also freezing

[2017-03-01 13:34] dumganhar commented on #17427
Did you use the version on v3 branch rather than v3.14?

[2017-03-01 13:40] dumganhar commented on #17426
Please attach the log of freezing.

[2017-03-01 14:11] Usopp-Code commented on #17426
i ’m trying

[2017-03-01 14:50] dumganhar commented on #17424
@natural-law , please take a look at this issue. Thanks.

[2017-03-01 14:52] dumganhar commented on #17422
Yep, I guess we need to sort the keys by alphabetical order.

[2017-03-01 15:12] young40 commented on #17422
alphabetical order is acceptable.

Maybe sort it by manual is better.
always put version of cocos2dx first😊.

[code]

[2017-03-01 17:45] aaron7090 commented on #17260
@golergka android noob here but.. if I understand correctly, single task can still be killed and brought back?(I'll have to verify this). The only difference is that a new activity would not be created when a new intent is sent to launch it.

[2017-03-01 19:19] Rubonnek opened #17428 "runAction is not executed under setonEnterTransitionDidFinishCallback when returning a TransitionFade* on HelloWorld::createScene()"
- cocos2d-x version: v3.14
- devices test on: LG G3 Stylus (Android), Lenovo x220T (Linux)
- developing environments
   - NDK version: r13
   - GCC version: 6.3.1

Steps to Reproduce:

1. Create a new C++ project and replace  `Classes/HelloWorldScene.cpp` template with the attached code: [HelloWorldScene.cpp.txt](https://github.com/cocos2d/cocos2d-x/files/811773/HelloWorldScene.cpp.txt)
2. After s

[2017-03-01 22:53] netherglaive commented on #17260
@dmrntpv this does not work when you go into developer settings and turn on 'do not keep activities'

[2017-03-02 01:11] dmrdev commented on #17424
As a temporary solution I downloaded the previous version (25.2.3) of SDK tools from this page:
https://developer.android.com/studio/index.html (see the bottom of the page)
and then replaced tools folder in the Android sdk with the previous one.

[2017-03-02 01:15] dmrdev commented on #17424
Sorry, maybe I created an issue in a wrong repository because the same issue was already posted to the cocos2d-console repository almost two weeks ago:
https://github.com/cocos2d/cocos2d-console/issues/404

but unfortunately it is not fixed yet.

[2017-03-02 01:31] dmrdev commented on #17260
@golergka, @aaron7090, I'm absolutely agree, this is only a temporary workaround while we're waiting for the proper solution from the developers.

[2017-03-02 02:42] natural-law commented on #17424
Yep, I will fix the problem later.
Before that, you can rollback the version of Android SDK tools to avoid the problem. Sorry for the inconvenience!

[2017-03-02 02:58] keppelcao commented on #17353
@minggo Game crashed on this line, when RotationX=0.0001; AND RotationY=0.0002, but I do not call any api about setRotation.

[2017-03-02 03:00] keppelcao commented on #17353
@BrownRiceRice Yes, you are totally right. I got the same result.

[2017-03-02 03:31] nineskys opened #17429 "Particle3D(pu):if use this blendFuc(scene_blend alpha_blend) it will get a Black border."
- cocos2d-x version:3.14
- devices test on:ios simualator
- developing environments ios
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. produc a pu effect (use alpha_blend blendfunc) and put it in a scence(not black scence).
2. run it then you will find a Black border surround your material texture(may white texture will find easier ).

[2017-03-02 05:39] #17357 closed, assigned to nobody

[2017-03-02 06:31] DavidDeSimone commented on #16846
Closing this issue as the corresponding PR was merged.

[2017-03-02 06:31] #16846 closed, assigned to nobody

[2017-03-02 06:35] DavidDeSimone commented on #17021
After discussing with other community members, I think that this RFC would not be a good fit for the cocos2d-x engine. It adds a layer of complexity that most engine users do not need, and will add maintenance overhead. Thank's to @minggo and @stevetranby for the discussion.

If anyone needs this functionality in their own engine fork, feel free to use the patch provided in the issue, and feel fre

[2017-03-02 06:35] #17021 closed, assigned to nobody

[2017-03-02 08:27] NathanLi commented on #17427
It's no problem in v3.13

[2017-03-02 08:30] dumganhar commented on #17427
I confirm that this issue doesn't exist in v3.14.1 and it's a bug in v3 branch.
So I guess you're using v3 branch to reproduce this issue, right?

[2017-03-02 09:17] natural-law commented on #17424
@dmrntpv How did you got the Android SDK tools 25.3.1? I just installed the latest version of Android Studio. But I can't update the Android SDK tools version to 25.3.1 (I tried it both on Mac & Windows):
![image](https://cloud.githubusercontent.com/assets/488169/23500752/0dbfbf2e-ff6c-11e6-842c-03859c6ebb51.png)

[2017-03-02 09:30] retrobrain commented on #16652
@dhuang11, could you please confirm that this issue is fixed? Because I'm still seeing this crash in my logs. Using 3.14.1 version.

[2017-03-02 10:44] dmrdev commented on #17424
@natural-law, I just run update and chose to update to the latest versions of all suggested packages.

[2017-03-02 10:48] dmrdev commented on #17424
@natural-law, just checked again and this is something interesting, now it suggests to update not to 25.3.1, but to 25.2.5.

[2017-03-02 10:52] dmrdev commented on #17424
Just now I have updated the tools to 25.2.5 and Android Studio no longer suggests to upgrade it further.

Maybe they rolled back the update after so many complaints.

[2017-03-02 10:54] dmrdev commented on #17424
I don't have any special update settings (canary, beta etc). All my Android Studio update settings are set to default.

[2017-03-02 13:17] Usopp-Code opened #17433 "webSocket random crash in win32"
- cocos2d-x version:
- devices test on:PC
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2013 update4
   - browser type and version:

i got the latest patch on webSocket
there is random crash when call init
the crash line is in
void WsThreadHelper::onSubThreadLoop()
...

->  lws_service(__wsContext, 2);

0x684FC59F (websockets.dll) (war.exe 中)处有未经处理的异常:  0xC000000

[2017-03-02 13:59] yuriilychak commented on #17371
@dumganhar, I use Qt creator for detecting crashes.
cpp-empty-test or cpp-tests work properly.
But I don't know what to do to fix that. On my working Mac all works fine, but some times i refactor code on my personal PC with Ubuntu. Earlier at version 3.11.1 all works perfectly, but after updating dependencies that need 3.14.1 both versions of engine crash on this project. I also run project on vir

[2017-03-03 01:28] natural-law commented on #17424
Yep, maybe it is. So, i'll solve the problem once i can reproduce it. Thanks for your feedback!

[2017-03-03 07:01] yjwong commented on #17424
Got this issue 2 days ago. As an alternative for the time being, I switched to using Gradle and `externalNativeBuild` to accomplish my needs. It does bring other great benefits like full debugger support and reliable code-completion in Android Studio.

[2017-03-03 08:35] Usopp-Code commented on #17433
非常抱歉，我的英语不好，由于项目即将上线，所以时间比较紧急，我就用中文描述这个问题，恳请好心人帮忙翻译一下我说的
在windows环境下，开4个客户端，都连接上websocket网络
然后再开第5个客户端，不断重复close 和 init，就可以复现这个crash
开多个客户端只是为了比较容易可以复现这个问题。
单独开一个客户端，首次init，也有较小的几率出现这个crash
望引擎组的兄弟们可以重视一下这个问题。
我并没有在android或者ios上面复现这个问题。
非常感谢

[2017-03-03 14:00] NathanLi commented on #17427
Maybe you are right. I revert my code to v3.13.

[2017-03-03 17:39] mars3142 opened #17438 "main/patch obb files in Android"
This is not a bug, but more a feature request. The implementation of the OBB file finder is not as expected. See https://developer.android.com/google/play/expansion-files.html#ReadingTheFile

Your implementation only returns a main.obb file, but an Android app can have two OBB files (main and patch). The second file is completely ignored, if it exists. And with your implementation the user has alw

[2017-03-03 23:56] harvey2953 opened #17439 "When have web support spine mesh"
When have web support spine mesh

[2017-03-04 01:07] #17439 closed, assigned to nobody

[2017-03-04 01:08] harvey2953 commented on #17439
cocos2d/cocos2d-html5#3457

[2017-03-04 02:10] semgilo commented on #17395
@dumganhar how about the result

[2017-03-04 02:43] huachangmiao commented on #17433
the patch is at https://github.com/cocos2d/cocos2d-x/pull/17440

[2017-03-04 03:14] dmrdev commented on #17424
@yjwong, could you please describe how you did that? Does it work with JSB to copy the fresh versions of js-files to resources?

[2017-03-04 10:28] aldoshkind opened #17442 "runWithScene(TransitionSlideInT) and onEnterTransitionDidFinish trouble"
- cocos2d-x version: github v3 branch commit c69d14c32ecd5f23b071f091e66ba1f4d4ed235a
- devices test on: Xubuntu GNU/Linux 16.04.2
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. inherit `Scene` (I just modified HelloWorld);
2. overload `onEnterTransitionDidFinish()`;
3. do `director->runWithScene(TransitionSl

[2017-03-04 19:11] Tom29 commented on #14973
Any solution for this?

[2017-03-05 02:50] owen200008 opened #17443 "mac android studio compile with 2.3 ndk 14 always error"
Error:(686, 0) Android NDK: Module MyGame_shared depends on undefined modules: log
<a href="openFile:/Volumes/data/sdk/ndk-bundle/build/core/build-binary.mk">Open File</a>

Error:(699, 0) *** Android NDK: Aborting (set APP_ALLOW_MISSING_DEPS=true to allow missing dependencies)    .  Stop.
<a href="openFile:/Volumes/data/sdk/ndk-bundle/build/core/build-binary.mk">Open File</a>

should set it to tru

[2017-03-05 02:53] owen200008 commented on #17443
success with ndk r10d version

[2017-03-05 07:39] owen200008 opened #17444 "windows android studio compile with lua error(path too long)"
lua compile for android studio error

E:\project\testapp_stable\client\frameworks\cocos2d-x\cocos\scripting\lua-bindings\manual\platform\android\jni\Java_org_cocos2dx_lib_Cocos2dxLuaJavaBridge.cpp

change to 1.cpp and change android.mk is ok. it no long 260 but fail create .o and .o.d
add
LOCAL_SHORT_COMMANDS := true
APP_SHORT_COMMANDS := true
is not valid for this

[2017-03-06 01:35] minggo commented on #14973
added it into next version

[2017-03-06 01:45] nineskys commented on #17429
add：1.use particle3d test (uvanim) and change the black background,you can also find it.

[2017-03-06 02:37] dumganhar commented on #17433
@huachangmiao , thanks for your patch. But I still don't know the reason. I will keep investigating.
@lee2doge , thanks for your feedback. Could you paste the crash stack here?
It will be better if you could provide the demo code for reproducing this issue.

[2017-03-06 02:37] dumganhar commented on #17433
@lee2doge , BTW, what's the engine version are you using?

[2017-03-06 03:02] dumganhar commented on #17443
I got this issue too. It seems google breaks the compatibility again.

[2017-03-06 03:31] minggo commented on #17443
@owen200008 What's the engine version? How did you compile the codes?

[2017-03-06 03:35] Usopp-Code commented on #17433
the engine version i use is 3.4, but the websocket i pull the latest update in branch v3

the crash stack is
 	websockets.dll!0f35c59f()	未知
 	[下面的框架可能不正确和/或缺失，没有为 websockets.dll 加载符号]
 	websockets.dll!0f35c510()	未知

 	libcocos2d.dll!cocos2d::network::WsThreadHelper::wsThreadEntryFunc() 行 419	C++
 	[外部代码]

[2017-03-06 03:36] dumganhar commented on #17443
@minggo , the latest code on v3 branch will be able to reproduce this issue.

[2017-03-06 03:39] dumganhar commented on #17433
@lee2doge , could @huachangmiao 's patch work for you?

[2017-03-06 03:57] owen200008 commented on #17443
lldb also have the crash problem when debug。 I can't commit the report using the shadowsocks also。
the lastest version also have this problem。It is lldb's bug.

[2017-03-06 05:32] Usopp-Code commented on #17433
yes, there is no crash anymore
@huachangmiao  thx

[2017-03-06 05:41] huachangmiao commented on #17433
i think
if the lws_service called in wsThreadEntryFunc is faster than WS_MSG_TO_SUBTHREAD_CREATE_CONNECTION msg create in mainThread
then crash.
you can mark this line
    WsMessage* msg = new (std::nothrow) WsMessage();
    msg->what = WS_MSG_TO_SUBTHREAD_CREATE_CONNECTION;
    msg->user = this;
    __wsHelper->sendMessageToWebSocketThread(msg);
then crash

[2017-03-06 06:13] dumganhar commented on #17433
@lee2doge , @huachangmiao, I finally reproduce this issue. I will check @huachangmiao 's patch again.

[2017-03-06 06:19] #17433 closed, assigned to nobody

[2017-03-06 06:21] dumganhar commented on #17433
@lee2doge , @huachangmiao , the patch was merged. Thank you. :)

[2017-03-06 06:26] minggo commented on #17443
Yep, i can reproduce the issue. From the [changelog](https://github.com/android-ndk/ndk/wiki/Changelog-r14) it seems should add `APP_ALLOW_MISSING_DEPS=true` to keep compatible, but i don't know why `log` is missing.

[2017-03-06 07:21] minggo commented on #17443
fixed here: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/283.

[2017-03-06 07:21] #17443 closed, assigned to minggo

[2017-03-06 08:02] zhichaoLii opened #17447 "libc.so crash"
- cocos2d-x version: c++ 3.10
- devices test on: android
- developing environments
   - NDK version: r10e

Steps to Reproduce:

1.
2.

Crash info from fabric :

#0. Crashed: olitaire:remote
0  libc.so                        0xf6e93070 tgkill
1  libc.so                        0xf6e6e861 pthread_kill
2  libc.so                        0xf6e6f477 raise
3  libc.so                        0xf6e6bcbd (Mis

[2017-03-06 08:05] dumganhar commented on #17395
@semgilo , sorry, I'm really busy these days.
I will test it when I have time.

[2017-03-06 08:07] dumganhar commented on #17070
It was confirmed, we need to refactor SocketIO module since there are some differents from socket-io-client.

[2017-03-06 08:09] dumganhar commented on #16037
The same issue as https://github.com/cocos2d/cocos2d-x/issues/16829

[2017-03-06 08:17] dumganhar commented on #9785
@Weststreet , are you using erlang server too?

[2017-03-06 10:12] dumganhar commented on #17433
@huachangmiao , after merging your patch, our websocket test case is broken.
My fix is at https://github.com/cocos2d/cocos2d-x/pull/17450
@lee2doge , please apply the changes in my pull request.

[2017-03-06 10:15] huachangmiao commented on #17433
that's good : )

[2017-03-06 16:15] yuriilychak opened #17452 "Glitch with ListView scrollToItem"
- cocos2d-x version: 3.14.1
- devices test on: Mac
 I have ui::ListView with 8 items. I add event listeners to button to loop through the items.
[code]
Clipping part of ui::ListView 4 items. When I loop under 5 element i got glitch with position of  inner container, because his position move under the boundary and return to maximal position without animation. I think the problem is in function:
[c

[2017-03-07 00:51] Weststreet commented on #9785
@dumganhar yes,erlang cowboy

[2017-03-07 02:08] dumganhar commented on #17395
@semgilo , I couldn't reproduce by lua-tests/AudioEngineTest.
The audio is always playing.

[2017-03-07 02:28] dumganhar commented on #17427
fixed it at https://github.com/cocos2d/cocos2d-x/pull/17455

[2017-03-07 02:32] dumganhar commented on #17416
Uses Uri class to parse URL will resolve this issue.
Depend on https://github.com/cocos2d/cocos2d-x/pull/17455 to be merged.

[2017-03-07 03:35] dumganhar commented on #17447
How did you reproduce this problem?

[2017-03-07 05:36] #17427 closed, assigned to dumganhar

[2017-03-07 05:38] dumganhar commented on #9785
@Weststreet , I think it's a different issue.
The issue you met was fixed at https://github.com/cocos2d/cocos2d-x/pull/17455.
I have tested it with cowboy websocket server and it works.
You could pull the latest code to test it again.

[2017-03-07 06:25] dumganhar commented on #17416
fixed at https://github.com/cocos2d/cocos2d-x/pull/17459

[2017-03-07 07:22] minggo commented on #17444
yep, it file name is a little long, but i is not 260 longer.

[2017-03-07 07:30] minggo commented on #17438
google play is blocked in China, we can not test it here. The OBB support is added by community

[2017-03-07 07:33] mars3142 commented on #17438
Okay, someone or I have to create a PR for this feature. I see.

[2017-03-07 07:44] owen200008 commented on #17444
but it will fail create the .o and .o.d

[2017-03-07 07:45] owen200008 commented on #17444
change to short name will success

[2017-03-07 07:49] minggo commented on #17444
what's the error message?

[2017-03-07 07:49] #17416 closed, assigned to dumganhar

[2017-03-07 07:50] owen200008 commented on #17444
link the file, the file no exist.
the file no create.

[2017-03-07 07:50] semgilo commented on #17395
@dumganhar it was reproduced easily , please do it more times
1.open app and play music
2.hold home until siri openned
3.say something
4.hold home return app
 i found the other issue : sometime the app crashed when audio uncaching file
i got  many crash info
<img width="849" alt="30283beb-8455-4191-835f-6844d5f661ae" src="https://cloud.githubusercontent.com/assets/7121873/23646808/7c9b4870-034d-11

[2017-03-07 07:51] owen200008 commented on #17444
just windows

[2017-03-07 07:51] owen200008 commented on #17444
mac is ok

[2017-03-07 08:48] minggo commented on #15367
@alexander-vi  Should reproduce it like this? And should reproduce on a tablet?

[2017-03-07 09:08] minggo commented on #17417
Yep, for Mac OS, it is not a good idea to write file in documents folder. But as @dumganhar said it will break compatibility though there are not many developers release game on Mac. So i will close this issue.

[2017-03-07 09:08] #17417 closed, assigned to nobody

[2017-03-07 09:15] minggo commented on #17428
Could you please describe it in more detail? Paste some codes is better.

[2017-03-07 09:27] minggo commented on #17428
the reason is that `TransitionFade` is destroyed after `setonEnterTransitionDidFinishCallback` is invoked.

[2017-03-07 09:27] #17428 closed, assigned to nobody

[2017-03-07 09:33] hussain-sohaib opened #17462 "ttf label cant set (or change) outline of each letter in label."
Can not set the outline of each character individually?

Cocos2dx version 3.10

[2017-03-07 09:46] yuriilychak commented on #17452
The problem is when function `startAutoScroll` start. `_innerContainer` start to scroll independently and in first frame change position out of boundary. After update animation manager drop it to max position. I fix it by chacking `deltaMove` and change it by max `_innerContainer` position. If container position bigger than boundery I set `deltaMove `to zero. If both of cords are zero I dont add s

[2017-03-07 11:05] fuyifan opened #17463 "Remote debug using Firefox 51.0.1 doesn't work on windows using JSB project with cocos 3.14"
- cocos2d-x version: 3.14
- Firefox: 51.0.1 (32bit)
- devices test on: windows
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
I do it by some web tutorial, but it doesn't work. I made the test on not only my project but also the js-tests one, and both of them. Why? Any buddy has the same experience with me?

[2017-03-07 12:11] Kotaiba commented on #16561
@minggo  any update about the fix ?

[2017-03-07 14:49] owen200008 opened #17464 "since 3.14.1 load csb file with flatbuffer will crash"
since 3.14.1 load csb file with flatbuffer will crash
it is no good test!!!

- cocos2d-x version:
3.14.1 and the github version.
3.13.1 is run well
- devices test on:
windows

[2017-03-07 14:58] owen200008 commented on #17464
i have find the issue CSLoader.cpp:1069
node = reader->createNodeWithFlatBuffers(tableOptions); is wrong
must be tableOptions->data()

[2017-03-07 15:03] owen200008 commented on #17464
i think it is no test!!!

[2017-03-07 15:07] yuriilychak commented on #17452
And about inner margin. In this [topic](http://discuss.cocos2d-x.org/t/listview-container-margins/21081/2) I think is good idea for create inner margin for `ui::ListView`. I the answer for solving this problem.
The idea that `_innerContainer ` layoutParameter contains innerMargin:
[code]
I edit only 3 function in `ui::ListView`:
- I must edit `_innerContainer` size with margin:
[code]
- And change

[2017-03-07 17:45] Morozov-5F commented on #17424
Not only cocos project experiencing this issue. Android SDK developers just removed a whole bunch of tools. There's a comment on how to make a temporary workaround: https://github.com/NativeScript/nativescript-cli/issues/2583#issuecomment-283712933

[2017-03-08 01:51] minggo commented on #17464
there is not resource to support cocos studio reader.

[2017-03-08 01:51] #17464 closed, assigned to nobody

[2017-03-08 01:58] minggo commented on #17442
fixed in https://github.com/cocos2d/cocos2d-x/pull/17466

[2017-03-08 01:58] dumganhar commented on #17395
@semgilo , I tried really lots of times without reproducing this issue.
Could you upload a video of reproducing? I guess I have something missing.

[2017-03-08 02:11] minggo commented on #16561
Sorry, not yet. Because Mac is not a release platform, so i put it in low priority.

[2017-03-08 02:40] zjsjmvn opened #17467 "cocos engine will be very slowly when I create 100 or more same physics body in the same position。"
- cocos2d-x version: 3.13 and later
- devices test on:ALL devices
- developing environments
   - NDK version:
   - Xcode version:8.2.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. cocos engine will be very slowly when I create 100 or more same physics body in the same position。
2. I set them cant collide each other，and cant contact each other

code:
setCategoryBitmask(B

[2017-03-08 03:23] Rubonnek commented on #17428
Thanks a lot -- this had been bugging me for a while.

[2017-03-08 05:03] atinagrawal commented on #11716
@minggo: Any comments on this issue? I'm receiving this crash hundreds of times daily from different users. Please provide a final solution as soon as possible.

Here is the log:

java.util.ConcurrentModificationException
	at java.util.HashMap$HashIterator.nextEntry(HashMap.java:851)
	at java.util.HashMap$EntryIterator.next(HashMap.java:891)
	at java.util.HashMap$EntryIterator.next(HashMap.java:89

[2017-03-08 06:24] minggo commented on #11716
@atinagrawal it seems there is a solution in [this ticket](http://discuss.cocos2d-x.org/t/android-cocos2dxsound-has-concurrentmodificationexception/10461/7), you can have a try. Did you modify the volume in a new thread?

[2017-03-08 06:27] #17442 closed, assigned to minggo

[2017-03-08 06:35] semgilo commented on #17395
@dumganhar i upload to youku  http://v.youku.com/v_show/id_XMjYxMjIwNjg4MA==.html

[2017-03-08 06:43] minggo commented on #17463
cocos2d-x port firefox debug server, but it strongly depends on firefix client codes. It is not easy to port the debug server, so we can not follow closely with its update. Please use VSCode or lower firefox version to debug the codes.

[2017-03-08 06:43] #17463 closed, assigned to nobody

[2017-03-08 06:47] minggo commented on #11716
@atinagrawal any feedback is appreciated.

[2017-03-08 07:59] fuyifan commented on #17463
@minggo I use the latest VSCode and your plugin. However, the plugin does not work. Please check and I will very appreciate your kindly help. Thanks

[2017-03-08 08:32] minggo commented on #17463
Ok, i will update to latest VSCode to have a try. Where did you get the plugin? Use creator?

[2017-03-08 08:37] fuyifan commented on #17463
http://discuss.cocos2d-x.org/t/use-vscode-to-debug-cocos2d-x-jsb-programs/27588 Here is the URL @minggo

[2017-03-08 08:51] minggo commented on #17463
I just tried it, can work. What's your error message?

[2017-03-08 09:02] wkdtjsgur100 opened #17470 "ListView::SetPosition function does not work when ui::ListView component added to ui::TabControl"
- cocos2d-x version: 3.13
- devices test on: mac OS
- developing environments
   - NDK version:  -
   - Xcode version: 7.3.1
   - VS version: -
   - browser type and version: -

[code]

[2017-03-08 09:10] minggo opened #17471 "Remove methods forbid by Apple"
These functions are forbid by Apple:

* respondsToSelector:
* performSelector:
* dlopen()
* dlsym()
* method_exchangeImplementations

I am not sure if we can remove the usage of them, but i seems we have to do so.

[2017-03-08 09:53] fuyifan commented on #17463
I just copy the compiled path to the %USERPROFILE%\.vscode\extensions and restart the vscode. For options in debugger window, i can not find anything about cocosXXX.
Would you please leave me your QQ or wechat and it's more convenient.

[2017-03-08 09:57] minggo commented on #17463
please send a mail to xiaoming.zhang@chukong-inc.com

[2017-03-08 14:28] DavidDeSimone commented on #17471
Some key notes on respondsToSelector and performSelector: Apple cares about using these to execute arbitrary selectors, say by getting a string from an HTTP request and then executing that. Apple seems to be fine if you use them in a "static" way where you explicitly declare the selector you are testing against.

One call out is the JS to Obj C bridge. That seems like the kind of reflection that A

[2017-03-09 01:37] dumganhar commented on #17395
@semgilo , thanks for the video. I will check it again.

[2017-03-09 02:04] dumganhar opened #17473 "[Android] Downloader doesn't support SSL connection"
Reported at http://forum.cocos.com/t/creator1-4-5s-https-certificate-for-cdn-qiyimofang-com-doesnt-match-any-of-the-subject-alternative-names-ucd1-pp-uc-cn/44489/3

- cocos2d-x version: v3.14
- devices test on: Android
- developing environments
   - NDK version: r10e
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Just download a file with `

[2017-03-09 02:11] minggo commented on #17471
Yep, i think so. But i am not sure about it. Apple doesn't make it clear.

[2017-03-09 02:18] dumganhar opened #17474 "[Android] Cocos2dxSound has ConcurrentModificationException"
Reported at http://discuss.cocos2d-x.org/t/android-cocos2dxsound-has-concurrentmodificationexception/10461

Crash stack:
[code]

- cocos2d-x version: v3.14
- devices test on: Android
- developing environments
   - NDK version: r10e
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Hard to reproduce, but the crash informations were collected fr

[2017-03-09 02:56] minggo commented on #11716
duplicated with https://github.com/cocos2d/cocos2d-x/issues/17474

[2017-03-09 02:56] #11716 closed, assigned to nobody

[2017-03-09 03:02] Weststreet commented on #9785
@dumganhar thanks，i'll try

[2017-03-09 03:13] NathanLi commented on #15562
I have this issues too.

[2017-03-09 03:16] dumganhar commented on #17395
@semgilo , could you check the AppDelegate.cpp in your game  project?
If it has the following `SimpleAudioEngine` invocation, try to remove it since you're using AudioEngine and test again.
[code]

[2017-03-09 03:35] dumganhar commented on #17395
It could be reproduced stably by the following steps:
* Game code only uses `AudioEngine` interfaces
* In AppDelegate.cpp, applicationDidEnterBackground & applicationWillEnterForeground invoke `SimpleAudioEngine` methods
* Launch Lua-tests or your game
* Press Home button to switch to background
* Click game icon to enter foreground
* Long press Home button to call Siri out
* Press Home button to

[2017-03-09 03:54] NathanLi commented on #15644
开启 CC_ENABLE_GC_FOR_NATIVE_OBJECTS 后，内存泄露好严重！！！

[2017-03-09 04:37] dumganhar opened #17475 "[feature] SocketIO supports to transfer binary data"

[2017-03-09 06:13] dumganhar commented on #16945
@pineoc, did you test it on other android devices?
I wanna check whether it's a device specific issue.

[2017-03-09 06:55] pineoc commented on #16945
@dumganhar other device (galaxy s3, galaxy a5, nexus 5x) not occurred.
I guess .wav file issued on low android version.

[2017-03-09 07:35] minggo commented on #17471
i sent https://github.com/cocos2d/cocos2d-x/pull/17477 to remove some usage of `respondsToSelector:` and `performSelector:`. I didn't remove it in `CDAudioEngine.m` because i can not remove it. But i will remove it if these two functions are really forbid by Apple because this file is used to implement SimpleAudioEngine, and SimpleAudioEngine doesn't use these features though developers may use it

[2017-03-09 09:12] sachingarg05 opened #17478 "Create OpenGL ES 3.0 context on devices that support it - significant performance boost with no known compatibility issues."
Only changing opengl es context from 2.0 to 3.0 significantly improves performance of some of our shaders, without needing any changes in app or cocos2dx code.

For example, on iPhone6, simply changing context to opengl es 3.0 gives shaders access to 15 varying vectors instead of 8 available when using opengl es 2.0 context (Max Varying Vectors).

On iOS, code change is also very simple, including

[2017-03-09 09:20] dumganhar commented on #17474
fixed at https://github.com/cocos2d/cocos2d-x/pull/17479

[2017-03-09 10:11] #17474 closed, assigned to dumganhar

[2017-03-09 10:44] dmrdev commented on #17424
@natural-law, the new version (25.3.1) of SDK tools is available again via Android Studio updater tool. You can update now and try to fix the issue. Thank you!

[2017-03-09 12:10] Anywhere-Music-Player opened #17480 "Radial Gradient Layer"
Hello,

I'm looking for a RadialGradientLayer for cocos2d-x.
Discussion started here http://discuss.cocos2d-x.org/t/radial-gradient/26602/6

I don't know OpenGL and shaders, so I can't implement it in any way. Really looking for solution from cocos2d-x developers.

Some helpful links from thread:
https://github.com/saeedafshari/ShaderLayer
https://github.com/SFML/SFML/wiki/Source:-Radial-Gradient-

[2017-03-10 01:24] dumganhar commented on #17473
I replaced the link in `DownloaderTest` to https://cct.ccsize.com/1.tar.gz .
And it could download the file through https connection successfully.

[2017-03-10 03:32] sevenChilde opened #17482 "cc.audioEngine.playEffect(); Not have play end callback?"
I need now get cc.audioEngine.playEffect(); play end callback
but.
I find it seems not  to exits

[2017-03-10 05:38] dumganhar commented on #17482
cc.audioEngine is implemented by `CocosDenshion::SimpleAudioEngine` which doesn't support play ended callback.
Try to use `jsb.AudioEngine` which supports this feature.
You could refer to js-tests/src/NativeTest/AudioEngineTest.js

[2017-03-10 06:33] Weststreet opened #17484 "new lua project compile error"
- cocos2d-x version:3.14.1
- devices test on:macOS 10.12.3
- developing environments
   - NDK version:android-ndk-r13b
   - Xcode version:8.2.1

![image](https://cloud.githubusercontent.com/assets/11329810/23784680/545a38e6-059e-11e7-8682-2ae5597dcf00.png)

[2017-03-10 06:50] dumganhar commented on #17395
@semgilo, could my solution work for you?

[2017-03-10 07:07] zhichaoLii commented on #17447
i don't know, it's only happen in the os 5.x.

[2017-03-10 07:08] pbs0512 commented on #14178
@minggo
I tested with cocos2d-x 3.14, but I have the same problem(device: Samsung Note4(Exynos 5433)). As described above At first FPS is 60. But when continue (4-5 minutes) to rendering the same texture drops to 30fps. please share any possible solution.

[2017-03-10 07:14] dumganhar commented on #17395
I sent a PR (https://github.com/cocos2d/cocos2d-x/pull/17485) for this issue to avoid invoking any SimpleAudioEngine methods if game only uses AudioEngine.

[2017-03-10 07:30] dumganhar commented on #17447
The information you provided is limited, we can't find out what's going wrong according this since all the functions in crash stack are system API.

[2017-03-10 07:33] rhzchina commented on #17043
这个问题这么久了，没人去解决啦？

[2017-03-10 07:33] dumganhar commented on #14178
We don't get a `Samsung Note4`..., could  the issue be reproduced on other android devices?

[2017-03-10 07:44] dumganhar commented on #17043
@rhzchina，xcode的问题，我们如何解决？等新版本xcode看看了，或者只能切换回旧版本。

[2017-03-10 08:43] semgilo commented on #17395
@dumganhar it doesn't work for me,  i try it by

`// This function will be called when the app is inactive. Note, when receiving a phone call it is invoked.
void AppDelegate::applicationDidEnterBackground()
{
    Director::getInstance()->stopAnimation();

//    SimpleAudioEngine::getInstance()->pauseBackgroundMusic(); // Remove this line
// Remove all SimpleAudioEngine invocations
}

// this funct

[2017-03-10 08:46] dumganhar commented on #17395
@semgilo , did you try with lua-tests in v3.14?

[2017-03-10 08:49] semgilo commented on #17395
@dumganhar yes

[2017-03-10 08:54] sevenChilde commented on #17482
oh,Ok.  I gonna go see AudioEngineTest.
Thank you

[2017-03-10 08:57] dumganhar commented on #17423
@shaniamjad, did you invoke `AudioEngine` interfaces in different threads?

[2017-03-10 09:01] dumganhar commented on #17395
@semgilo , could you define CD_DEBUG=2 in `cocos/audio/ios/CocosDenshion.h`?
And re-compile and test again?
[code]

I wanna check it's definitely not caused by SimpleAudioEngine in your environment.

[2017-03-10 09:14] semgilo commented on #17395
@semgilo  i got the issue when it goto siri  100percent

[2017-03-10 09:16] dumganhar commented on #17395
Please try to test it according my previous post.
It's possible to output some log if it's an issue in SimpleAudioEngine.

[2017-03-10 09:22] semgilo commented on #17395
these my modifications
AppDelegate.cpp
[code]

CocosDenshion.h
[code]

[2017-03-10 11:38] #17484 closed, assigned to nobody

[2017-03-10 11:38] owen200008 opened #17486 "how to pause PhysicsWorld? use cc.Director:getInstance():pause() is no valid"
- cocos2d-x version:
github version
- devices test on:
windows
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
vs 2013
   - browser type and version:

how to pause PhysicsWorld? use cc.Director:getInstance():pause() is no valid

[2017-03-11 11:58] newnon commented on #8354
@ricardoquesada @TheCodez i made pull request for this problem, 2 days my team spend to find why cocos crop some pixels on screen border. And it is because constant error i think  @TheCodez got artefact because wrong texture but before cocos always crop one pixel on every side of screen.

[2017-03-12 01:25] Guy-kun commented on #16414
Has anyone had any more progress on this or has anyone found a cause?
This issue is affecting an in-production app quite badly (1000 crashes+ per day) but no developer can reproduce it. The stack trace is the same as reported above

<img width="628" alt="screen shot 2017-03-12 at 01 21 34" src="https://cloud.githubusercontent.com/assets/1477129/23828200/48bac81e-06c2-11e7-939c-010216608343.png">

[2017-03-12 10:52] hussain-sohaib opened #17488 "AudioEngine ios does not play sound"
- cocos2d-x version: 3.10
- devices test on: iPhone 6s+  iOS 10.2

AudioEngine does not play sound because AudioEngine::lazyInit()  always returns false.

In  AudioEngineImpl::init()

s_ALDevice = alcOpenDevice(nullptr);

s_ALDevice is not created and is always nullptr, so if(s_ALDevice) { ... }  fails and ret is always false.

[2017-03-12 12:29] formatCvt commented on #17424
Confirm bug. Downgrade to 25.2.3 helps.
Looks like the solution should be come from Google

[2017-03-12 15:18] thorx2 commented on #17424
@formatCvt Unfortunately Google has completely dropped the standalone GUI manager, ergo "android", and has moved all command line SDK management to a new tool found here <SDK_ROOT>\tools\bin\ **sdkmanager**

Not sure if somehow pointing the build command to the new tool would work or not but I am currently in the midsts of trying it.

[2017-03-13 01:47] dumganhar commented on #17473
Need to check with the bug reporter again. Mark this issue to `next` version.

[2017-03-13 01:48] dumganhar commented on #17395
@semgilo
How about the log output after adding `#define CD_DEBUG 2`?

[2017-03-13 01:51] dumganhar commented on #17423
Could not be reproduced.
I analyzed the logic in AudioEngine of iOS port, can't find out the which code could cause this crash.
I will dig into more, but mark this issue to be resolved in `next` milestone.

[2017-03-13 01:52] dumganhar commented on #17226
@rh101
This issue isn't as easy as it seems to be, mark it in `next` milestone.
I will continue to investigate.

[2017-03-13 01:53] dumganhar commented on #17070
Refactoring thing should be done in `next` milestone.

[2017-03-13 01:56] dumganhar commented on #16829
Should refactor SocketIO implementation and add more test case for SocketIO.
Therefore, mark this issue to `next` milestone.
Relative issue: https://github.com/cocos2d/cocos2d-x/issues/17070

[2017-03-13 02:01] rh101 commented on #17226
@dumganhar For me personally this is not an issue any more, since your work on the OGG playback has solved the issue of using OGG files, which seem to work with all platforms, so I'm using that format again. If I'm the only one who has mentioned this specific issue, and no-one else cares about it, then there is no rush at all to get it sorted.

[2017-03-13 02:03] #13299 closed, assigned to nobody

[2017-03-13 03:34] dumganhar commented on #17488
Hey, how did you reproduce this issue? Could cpp-test, lua-test reproduce it?

[2017-03-13 03:42] semgilo commented on #17395
@dumganhar  @minggo

i don't know the log what you expected
i had modified with you posted code
the  issue still exist and l got the logs

I/AudioEngine-inl.mm (260): OpenAL was initialized successfully!
V/AudioCache (86): AudioCache() 0x10ae42748, id=1
V/AudioCache (144): readDataTask, cache id=1
V/AudioCache (196): Orignal total frames: 353664, adjust frames: 529, current total frames: 354193
V/

[2017-03-13 03:51] dumganhar commented on #17395
@semgilo , please contract to my QQ account (280324383) for more efficient communication.

[2017-03-13 05:21] bsy6766 commented on #16393
I'm getting same error on latest build (3.14.1). Only happens on Release mode. I'm using Windows 10, VS2015, and running win32 project.

I also tested with cpp-test and both debug and release mode seem to work without issue.

I think there is an issue with naming with libcurl.lib in 3.14.1 win32 projects.
My old project(3.14) has 'libcurl_imp.lib' in external folder, but my new project(3.14.1) has

[2017-03-13 05:27] formatCvt commented on #17424
@gamer-11 Cocos (and other game engines) uses tool "android" for project actions (https://developer.android.com/studio/tools/help/android.html), not for sdk management.
And now we have no command line tool for this, maybe Google knows how to create/update project from command line since they removed android tool.

[2017-03-13 06:01] dumganhar opened #17490 "[jsb] SocketIO client receives message twice"
Reported at https://github.com/cocos-creator/cocos2d-x-lite/issues/563

- cocos2d-x version: v3.14.1
- devices test on: all
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2017-03-13 06:06] yjwong commented on #17424
@dmrntpv I wrote a post on Medium detailing how to use `externalNativeBuild` with cocos2d-x so it doesn't depend on the `cocos` command line tool. I'm not sure if it works with JSB though, but I would imagine a Gradle script could function as a replacement.

If anyone's interested: https://medium.com/@yjwong/using-externalnativebuild-with-cocos2d-x-f6a3c8eacfc8

[2017-03-13 06:09] minggo commented on #17486
I think you can use `PhysicsWorld::setAutoStep(false)` to pause it.

[2017-03-13 06:09] #17486 closed, assigned to nobody

[2017-03-13 06:26] minggo commented on #17480
The post you provide has the shader, you can use them in your project. If adding a feature in cocos2d-x, then we may need to make it as common as possible, such as should change from one color to another one? Should support multiple colors? If you only need the feature as you posted above, i think i can give you an example work in cocos2d-x.

[2017-03-13 06:26] dumganhar commented on #16393
I tested it on v3 branch and couldn't reproduce this issue.
So it was fixed in the latest v3 branch. I closed this issue.

[2017-03-13 06:26] #16393 closed, assigned to nobody

[2017-03-13 07:17] formatCvt commented on #17424
`externalNativeBuild` also discussed here https://github.com/cocos2d/cocos2d-x/pull/15676

[2017-03-13 07:24] #17482 closed, assigned to nobody

[2017-03-13 07:26] minggo commented on #17412
why not send a PR? It is hard to read the patch

[2017-03-13 07:32] natural-law commented on #17424
Hello, everybody. I'm improving command `cocos compile` to support the externalNativeBuild in gradle. After that, I'll solve the problem caused by the Android SDK tools 25.3.x.

Thanks for all your feedback!

[2017-03-13 07:56] hussain-sohaib commented on #17488
Hello,

So the issue is we cant play sounds at same time using SimpleEngine and AudioEngine, What ever engine is used to play sound or background music first will take the lead, meaning only sounds related to them will play. Please see attached classes file and resources file to reproduce the issue. this issue appears to on iOS only, because on android I am using both simple and audio engine in sa

[2017-03-13 08:11] bsy6766 commented on #16393
I just downloaded github repo again, followed the instruction, double checked, then built the win32 project with release mode (Windows10, VS2015) and I still get the same error. LNK1181 cannot open input file 'libcurl_imp.lib'.

At least, I was able to fix this problem by simply changing 'libcurl.lib' to 'libcur_imp.lib' and run the project.

[2017-03-13 10:11] dumganhar commented on #16393
@bsy6766 , did you run `python download-deps.py` after pulling the latest code?

[2017-03-13 10:14] dumganhar commented on #17488
Don't use `SimpleAudioEngine` and `AudioEngine` in a game, please just choose one, don't mix them.

[2017-03-13 10:24] shaniamjad commented on #17423
@dumganhar Sorry for the late response.. I am not calling it in different thread.. I am also not able to reproduce this on my end but as i said i am getting lots of crashes related to AudioEndine on LIVE users.. So i am also not sure which could possibly cause this.. which is why i am seeking for advice OR some fix for it. Thanks

[2017-03-13 10:30] myxrome commented on #17424
Hi, could you plese share your fix?

[2017-03-13 10:44] volodymyr-vestasoft commented on #17480
I'm just looking for almost same as LayerGradient. So, with typical options like:
 - startColor
 - endColor
 - startOpacity
 - endOpacity

But for radial, LayerRadialGradient I believe should be added a few more options:
 - radius
 - expand
 - center(optional), should be like always (0.5,0.5) in a node as I think

[2017-03-13 10:45] Anywhere-Music-Player commented on #17480
I'm just looking for almost same as LayerGradient. So, with typical options like:
 - startColor
 - endColor
 - startOpacity
 - endOpacity

But for radial, LayerRadialGradient I believe should be added a few more options:
 - radius
 - expand
 - center(optional),  I think should be by default (0.5,0.5), in a node center.

[2017-03-13 12:47] bsy6766 commented on #16393
@dumganhar Yes I did (v3-deps-128.zip).

[2017-03-13 14:05] thorx2 commented on #17424
@formatCvt Forgive me if I am wrong. I understand that the command had various purposes(and that other game engines use them, well even the Unity projects are affected by this update). I was merely stating the reason for Google to drop the tool might be that they wanted people to use Android Studio for most of the development. From the link you have shared I get the sense that they have bundled th

[2017-03-13 19:58] slackmoehrle commented on #17424
@natural-law a user on the forums posted this: https://goo.gl/IlUvSp might be worth a look. He had success.

[2017-03-14 01:51] dumganhar commented on #16393
@bsy6766 , it seems that you're using templates to create new projects.
Yes, some template files were not updated.
I have sent another PR (https://github.com/cocos2d/cocos2d-x/pull/17491) for this issue.

[2017-03-14 02:38] dumganhar commented on #17426
@lee2doge , any update?

[2017-03-14 02:50] dumganhar commented on #17395
I sent another PR (https://github.com/cocos2d/cocos2d-x/pull/17492) to fix A003 error.

[2017-03-14 04:16] semgilo opened #17494 "AudioEngine crash"
- cocos2d-x version:3.14
- devices test on:iPhone 6
- developing environments

May be it crash when preloading and uncaching the sound At the same time, but i can't produce it always

i received some crashes from test flight
<img width="803" alt="294aff8a-b1e9-4ee9-9d17-c77f5b914a24" src="https://cloud.githubusercontent.com/assets/7121873/23885646/8964b9ee-08af-11e7-8783-0066db9210f1.png">

the de

[2017-03-14 05:41] #17374 closed, assigned to natural-law, minggo

[2017-03-14 08:33] bsy6766 commented on #17480
Shader can be an easier way and actually might be a better way to draw smooth circle, plus messing around with colors, compared to polygon circle.
I followed your shader example with LayerColor and the result was like [this](http://imgur.com/a/fVqnh).

[2017-03-14 09:54] formatCvt commented on #17424
@gamer-11 no problem =) You can try open/code/compile/deploy/debug in studio (Android Studio 2.3) with patch from here https://github.com/cocos2d/cocos2d-x/pull/15676
But we need console too, for continuous integration

[2017-03-14 11:23] Anywhere-Music-Player commented on #17291
I also wanted to add: currently I'm converting my game code from ObjC to C++. My game uses Box2d v2.3.2. But when I converted major parts of code in my game with latest cocos2d-x(that time it was 3.13) - I got a lot exceptions for Box2D functions and as I remember I noticed, that Box2D that was downloaded to external folder for cocos2d-x has a lower version that I'm using. So I updated it by downl

[2017-03-14 13:59] Kotaiba opened #17497 "Win32 performance is bad."
- cocos2d-x version:14.1
- devices test on:Win32
- developing environments
   - VS version: vs community 2015 14.0.25431.01

Steps to Reproduce:
print the fps.
 if (dt>0.0167f){
cclog("dt=%f",dt);
}

Our game is running with steady 0.0166667f on all devices ,but on win32 the game is lagging
i tried to print the fps since i noticed that the update function is not steady like other platforms.
  if y

[2017-03-15 00:40] bsy6766 commented on #17497
Are you running on release mode or debug mode?

[2017-03-15 01:39] dumganhar commented on #17494
Thanks for your feedback. I could reproduce this issue by the last test case in cpp-tests/NewAudioEngineTest.

![screen shot 2017-03-15 at 09 37 35](https://cloud.githubusercontent.com/assets/493372/23929757/36d5ad5a-0963-11e7-85df-aa637f88f8a1.png)

[2017-03-15 01:46] dumganhar commented on #17237
@xdeop, any update for this issue?
Did you resolve the problem?

[2017-03-15 01:59] dumganhar commented on #17494
Fixed this issue at https://github.com/cocos2d/cocos2d-x/pull/17500.

[2017-03-15 04:35] atinagrawal commented on #11716
Thank you for the solution.

[2017-03-15 05:51] #17494 closed, assigned to nobody

[2017-03-15 05:58] hussain-sohaib commented on #17237
Hi,

We were having same issue, it appears SimpleAudioEngine and AudioEngine
wont work together on iOS. you need to choose and select one and use it
everywhere in project.

But AudioEngine has issues while playing background music, for instance it
wont pause immediately after playing a background music of length around 1
mins and audio format .mp3.
Example

int i= experimental::AudioEngine::play2d

[2017-03-15 06:33] dumganhar opened #17503 "[Android] Playing specific mp3 file causes crash"
- cocos2d-x version: v3.14.1
- devices test on: Android
- developing environments
   - NDK version: r10e
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. AudioEngine::play2d("SmallFile3.mp3");

[SmallFile3.mp3.zip](https://github.com/cocos2d/cocos2d-x/files/843571/SmallFile3.mp3.zip)

[2017-03-15 06:40] Kotaiba commented on #17497
@bsy6766  on both release and debug .
@dumganhar i will try to stop all the audio to see if this issue audio relevant .

[2017-03-15 07:46] natural-law commented on #17424
Hi, guys! In the latest code of cocos2d-console, I've solved the error when using Android SDK Tools 25.3.x.

As [the release note of Android SDK Tools 25.3.0](http://tools.android.com/recent/androidsdktoolsrevision2530feb2017) said, the ant scripts has been removed. So, **The Eclipse project will not be supported** with Android SDK Tools 25.3.x.

Hope it's helpful!

[2017-03-15 07:55] #17424 closed, assigned to nobody

[2017-03-15 07:58] liqt opened #17506 "PU particles mode： explosion.pu not show right"
- cocos2d-x version: 3.14.1
- devices test on: ios simulator
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  test code, the follow code is cpp-test pu test case, i just replace the pu script file
    auto rootps = PUParticleSystem3D::create("explosion.pu", "pu_example.material");
    rootps->setCameraMask((un

[2017-03-15 08:00] Kotaiba commented on #17497
@dumganhar i think this not audio issue ,i stoped all the audio and the issue remain.
please note the fps go down too so the range will be  0.013 ->0.02  on win32 only ,on other platform same game running perfectly .

[2017-03-15 08:47] #17503 closed, assigned to dumganhar

[2017-03-15 08:52] sunweiliang opened #17508 "求助：新建lua项目，iOS运行出错"
cocos2d-x-3.14.1
Cocos Console 2.2
Xcode8.2

创建项目：
cocos new luagame -p com.testbe.game -l lua -d /Users/ystx_mbp/Documents/cocos2dx/project

运行iOS，出错了

![image](https://cloud.githubusercontent.com/assets/4755841/23940377/a009cb3a-099f-11e7-8fa1-4f9fc66360e7.png)

js 和 c++ 是正常的，lua报错，求助，谢谢各位

[2017-03-15 08:56] Simon-Meng commented on #16652
@minggo  I get same issue  。Using 3.14.1 version

[2017-03-15 09:02] xdeop commented on #17237
As @hussain-sohaib answered, SimpleAudioEngine and AudioEngine
won't work together on iOS. We've moved to AudioEngine although we are having some crashes. We'll post detailed info about them.

[2017-03-15 09:56] dumganhar commented on #17508
Duplicated issue: https://github.com/cocos2d/cocos2d-x/issues/17043
Closed this one.

[2017-03-15 09:56] #17508 closed, assigned to nobody

[2017-03-15 10:00] dumganhar commented on #17237
@hussain-sohaib , thanks for your feedback.
Could you create two issues about `glitch` and `pause state`?
Could you upload the audio file which could reproduce the `glitch` issue?

@xdeop , if you find any issues with AudioEngine, feel free to create new issues.

[2017-03-15 10:14] kienvn commented on #17473
CCDownloader-curl doesn't support https connection too.

[2017-03-15 10:34] hussain-sohaib commented on #17237
Hi,

James Chen I cant post the music here, but I can send you on your email or
Skype id as it is confidential.

thanks

On Wed, Mar 15, 2017 at 3:00 PM, James Chen <notifications@github.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-03-15 11:14] sunweiliang commented on #17043
@dumganhar 谢谢，真机就可以了。十分感谢

[2017-03-15 11:44] semgilo commented on #17494
@dumganhar @minggo
timerWithTimeInterval only available for iOS 10.0 ,when run in iOS 9.0 or other, it will crash
`+ (NSTimer *)timerWithTimeInterval:(NSTimeInterval)interval repeats:(BOOL)repeats block:(void (^)(NSTimer *timer))block API_AVAILABLE(macosx(10.12), ios(10.0), watchos(3.0), tvos(10.0));`
[code]

[2017-03-15 11:47] hussain-sohaib commented on #17237
Hi,

What could be the best sampling rate for audio file that provide quality
and high optimization? Also what audio format works best with AudioEngine ?
.wav, .caf or .mp3 for both background music( looping) and effects (non
looping) in iOS.  Also in SimpleAudioEngine we used to set pan what is the
default value of pan in AudioEngine?

thanks

On Wed, Mar 15, 2017 at 3:34 PM, Sohaib Hussain <soha

[2017-03-15 13:26] ntrrgc opened #17514 "Changing a test case header file forces a recompile of all tests"
- cocos2d-x version: latest `v3` from this repo (8c542d711d1d341b59c4905827a2b7bde23da19b)
- developing environments
   - CMake: 3.7.2

Steps to Reproduce:

1. Compile the Cocos2D-x test suite.
2. Make a cosmetic change in any header file in the `tests/cpp-tests/Classes` directory.
3. Run `cmake --build` to recompile.

Expected behavior:

The test case is recompiled in a short time span.

Actual b

[2017-03-15 14:03] samodadela opened #17515 "Cocos documentation should be corrected after #17424"
Hi,

Win10/Cocos2d-x 3.14.1

Was just following the cocos documentation on http://cocos2d-x.org/docs/static-pages/installation.html in order to try out Android Studio Setup. I've downloaded the latest/greatest(?) Android Studio and related sdk, ndk, ant (added to path, etc) When following the steps I had first to complete the prerequisite: http://cocos2d-x.org/docs/installation/Android-terminal/in

[2017-03-15 14:23] samodadela commented on #17515
The exact error I get when trying to follow the instructions at:
http://cocos2d-x.org/docs/installation/Android-terminal/index.html

[code]

[2017-03-15 15:15] samodadela commented on #17515
I guess that android-build.py should be updated to build proj.android-studio?

I then went to build it manually:
`C:\Cocos2d-x\3.14.1\tests\cpp-tests\proj.android-studio>cocos compile -p android -s C:\Cocos2d-x\3.14.1\build\..\tests\cpp-tests --ndk-mode debug --app-abi armeabi-v7a --ap android-25`

Cleaned up the project in Android studio, rebuild... same problem. The build does not seem to pick-u

[2017-03-15 15:27] samodadela commented on #17515
Found this about problems building with gradle:
http://discuss.cocos2d-x.org/t/do-we-work-with-android-studio-yet/20383/14

Basically it talks about problems using gradle to build.

Is this still valid? Can the android studio project build the required libcpp_tests.so?

[2017-03-15 15:53] samodadela commented on #17515
Note that I even downgraded sdk tools to r25.2.3 in which case I was able to compile proj.android. However  I did not manage to get proj.android-studio going - not even from cli.

[2017-03-15 19:47] Andrii-Ishchenko commented on #17348
Have the same issue and dont know how to handle it. Just did what said in this tutorial http://www.cocos2d-x.org/docs/editors_and_tools/cocosCLTool/ .

[2017-03-16 02:31] dumganhar commented on #17237
@hussain-sohaib
My Skype ID: dumganhar

and high optimization?

Mobile devices normally uses 44kHZ sample rate. If your audio match the sample rate of device. Extra resampling could be avoided. In that case, you will get better performance, lower CPU cost  while playing audio.

.wav, .caf or .mp3 for both background music( looping) and effects (non
looping) in iOS.

We suggest using .ogg for andro

[2017-03-16 02:50] dumganhar commented on #17515
@natural-law , could you take a look at this issue? Thanks.

[2017-03-16 03:13] minggo commented on #17515
@slackmoehrle I think we should update [this doc](http://cocos2d-x.org/docs/installation/Android-terminal/index.html). `android-build.py` is removed, we should use `cocos command` instead. And we need a doc about how to use Android Studio to develop android apps.

[2017-03-16 03:20] dumganhar commented on #17497
@kobake , thanks. I will have a check. Could the simplest cpp-empty-test or the new project created by `cocos new` reproduce this issue?

[2017-03-16 03:51] dumganhar commented on #17348
@natural-law, please take a look at this issue. Thanks.

[2017-03-16 04:02] natural-law commented on #17348
@SASkievua Please don't use command `cocos gen-templates` anymore. In fact, it's a internal command for Cocos Studio usage. I'll remove the command later! @slackmoehrle Could you please update the documents to remove the binary-templates related information?

 Sorry for the confusion!

[2017-03-16 04:52] jaunt opened #17521 "Impossible Dependency in setCenterRectNormalized"
- cocos2d-x version: 3.14.1 (downloaded from website)
- devices test on: (simulator iOS 10)
- developing environments
   - NDK version:
   - Xcode version: 8.2.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Call setCenterRectNormalized in default RenderMode::POLYGON mode with the intent of switching to RenderMode::SLICE9 mode (this is currently the only function that wi

[2017-03-16 06:22] minggo commented on #16652
@retrobrain @Simon-Meng how to reproduce it?

[2017-03-16 06:56] minggo commented on #17514
Why need to use cmake every time? I think you can just use `make` instead if not adding new cpp files.

[2017-03-16 06:58] #17488 closed, assigned to nobody

[2017-03-16 07:04] retrobrain commented on #16652
Sorry, but I couldn't find a way to reproduce it, I can only see it in our crash logs

[2017-03-16 07:09] liqt commented on #17506
@minggo  pls assign this issue to owner? tks

[2017-03-16 07:16] minggo commented on #17478
On android, i think we can just use the codes to check if supporting 3.0 without using the context.

Edit: should use the result.

[2017-03-16 07:23] dumganhar commented on #16652
@retrobrain, are you sure that the crash log was uploaded after you upgrade engine version to v3.14.1? Would it be possible that it was uploaded by the old version? Since while in no network environment, crash log will be stashed until the next time user enter game.
Probably, you can analyzing the crash informations daily and compare them to see whether the count of this kind of crash logs is decr

[2017-03-16 07:48] Bilalmirza commented on #17497
@dumganhar win32 performance is really pathetic... there are some fixes mentioned in this post

http://discuss.cocos2d-x.org/t/cocos2d-x-windows-performance-issues-examined/27915

i have to go through these every time i update cocos2dx version.

Even after all the changes, Performance on a mac beats windows... Even though my windows laptop is much more faster and has a much better graphics card.

[2017-03-16 07:49] Bilalmirza commented on #17497
atleast merge these changes in v3.15
http://discuss.cocos2d-x.org/t/cocos2d-x-windows-performance-issues-examined/27915

Thanks :)

[2017-03-16 08:57] pandamicro commented on #15750
My PR have been merged https://github.com/cocos2d/cocos2d-x/pull/17115

The new AssetsManagerEx behavior is more secured, a zip file is only succeed after successfully decompressed

[2017-03-16 09:26] ntrrgc commented on #17514
Note `cmake --build` is just a generic way to invoke make, ninja or whatever task runner you use, it does not build the project from scratch, nor is a noticeable time difference compared to executing raw commands.

Anyway, I no longer can reproduce the issue, so I'm closing this. 😕 I'll reopen if it happens again.

[2017-03-16 09:26] #17514 closed, assigned to nobody

[2017-03-16 10:01] Dauch opened #17530 "Could new implement of AssetsManagerEx support how many bytes need to download, and how many bytes downloaded in dispatchUpdateEvent?"
I think ```AssetsManagerEx``` need 3 more feature(because the ```project.manifest``` has been can provide size field)
1. after download new ```project.manifest``` and detach a event tell user how many bytes we need to download this update, and decide whether to download or not. if yes, then call ```AssetsManagerEx::startUpdate()```
2. detach ```UPDATE_PROGRESSION``` event need know how many we had

[2017-03-16 18:42] slackmoehrle commented on #17515
@minggo ok, I'll start working on this doc. We have an Android Studio doc that you and I worked on a while back. I'll review this as well.

[2017-03-16 21:57] ryanbourneuk commented on #15713
@xdeop My issues were caused as when I first download Cocos2dx I didn't clone the git repository for it, and I didn't call `python download-deps.py ` and `git submodule update --init ` on the engine directory. This meant that my external folder didn't have any of the required files and I kept getting that error.

Now the folders are populated correctly, I believe that you may be experiencing issue

[2017-03-16 22:11] SASkievua commented on #17348
@natural-law thanks for your replay!
but how we are supposed to create new projects with precompiled libraries without corresponding template?
there are no template for precompiled libraries in downloaded cocos2dx package

[2017-03-17 01:21] minggo commented on #17515
thanks

[2017-03-17 01:43] codinghaven opened #17536 "Running Liquid Action on NodeGrid changes appearance of nodes to a black hue/tint"
cocos2d-x v3.14
Iphone 5s, Samsung Tab E
- developing environments
   - NDK version: 11.2.2725575
   - 8.2.1
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Create NodeGrid
2. Create Liquid Action
3. add some Button images with transparency and with `setTouchEnabled()` to the node grid
4. run liquid action
5. add NodeGrid to a rendering layer
6. run app and click o

[2017-03-17 01:53] dumganhar commented on #17536
Could you please upload the sample code for reproducing this issue? Thanks.

[2017-03-17 02:27] codinghaven commented on #17536
`auto liquid = Liquid::create(2, Size(15, 15), 3, 5);`
  `auto nodeGrid = NodeGrid::create();`
  `nodeGrid->runAction(RepeatForever::create(liquid));`
  `this->addChild(nodeGrid) // add nodeGrid to the layer`

  `auto b1 = Button::create("button.png")`
  `auto b2 = Button::create("button.png")`
  `auto b3 = Button::create("button.png")`

   `nodeGrid->addChild(b1);`
   `nodeGrid->addChild(b2);`

[2017-03-17 02:33] minggo commented on #17478
https://github.com/cocos2d/cocos2d-x/pull/17537 for this issue. On Android, we should use custom EGLConfigureChooser and EGLContextFactory:

* In the custom EGLConfigureChooser, we should use GLES3 configure first, if failed then use GLES2 configure.
* In EGLContextFactory, will create GLES3 context first, if failed, then create GLES2 context.

[2017-03-17 02:53] dumganhar opened #17538 "Crash in EventDispather::setDirty"
- cocos2d-x version: v3.14.1
- devices test on: Android
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Could not be reproduced, it's reported by `bugly` (https://bugly.qq.com/v2/)  from online crash analyzing system.
2. Crash stack:

1 #00 pc 00c72954 /data/app/org.joygames.mine.wwc-1/lib/arm/libcocos2djs.so

[2017-03-17 02:57] owen200008 opened #17539 "void PhysicsWorld::update(float delta, bool userCall/* = false*/) error"
// usercall use delta(no speed) and auto use dt
//also test PhysicsFixedUpdate is write error, because some code is no use(void PhysicsFixedUpdate::update(float /*delta*/))
if (userCall)
    {
#if CC_TARGET_PLATFORM == CC_PLATFORM_WINRT || CC_TARGET_PLATFORM == CC_PLATFORM_WIN32
        cpSpaceStep(_cpSpace, delta);
#else
        cpHastySpaceStep(_cpSpace, delta);
#endif
    }
    else
    {

[2017-03-17 03:14] owen200008 commented on #17539
if on enter create physics world and setautostep(false), it will delete when EnterTransitionFinish.

[2017-03-17 03:19] minggo opened #17540 "Path issue in build.gradle"
Currently the build.gradle uses path string like
[code]

there are two issues:
* use `:` to separator paths, it can not work on windows, should use `;` on windows
* there is too many `..` in path which will easily meet path length limitation on windows

[2017-03-17 03:42] tdebock opened #17541 "Sprite3D not clipped to bounds in ScrollView or TableView cell."
- cocos2d-x version: V 3.13
- devices test on: iPhone 6
- developing environments
   - Xcode version: 8.x

Steps to Reproduce:

1. Add a Sprite3D node to a table cell in a TableView.
2. Scroll the table and the 3D node is not clipped to the bounds.

[2017-03-17 03:54] minggo commented on #17540
fixed in https://github.com/cocos2d/cocos2d-x/pull/17542

[2017-03-17 06:02] tdebock commented on #17541
Just a heads up I created a hack around:

1) create a new Layer over the TableView.
2) use a ClippingNode setup on this new layer to the bounds of the TableView.
3) position the Sprite3D nodes where they would be relative to the table cells on the new clipped layer
4) use the scrollViewDidScroll delegate method and update the position of the layer with the 3D nodes as the table scrolls.
5) the Spr

[2017-03-17 09:14] stnguyen commented on #8305
for me I just need to put the game in background mode, rotate device, then reopen the game to get my labels turn to white boxes.

Watching a Unity ads and rotate device will do the same thing

[2017-03-17 13:27] formatCvt commented on #17424
Thanks!

[2017-03-18 08:03] elecstudent commented on #15320
Hi there,
I am trying to run ndk for tess-two but I am getting following error  regardless of my ndk version. Any idea how can I fix that?
"
C:\Users\Mcodes\tess-two-master\tess-two>ndk-build
[armeabi] Compile thumb : jpgt <= jaricom.c
error: error opening './obj/local/armeabi/objs/jpgt/jaricom.o.d': Error opening
output file './obj/local/armeabi/objs/jpgt/jaricom.o.d': No such file or
directory
1

[2017-03-18 12:52] rnnbl commented on #17213
I fixed it with the following. In cocos2d/cocos/platform/android/java/src/org/cocos2dx/lib/Cocos2dxActivity.java:
@Override
    protected void onPause() {
          super.onPause();
//Add these 2 lines:
**Cocos2dxHelper.onPause();
this.mGLSurfaceView.onPause();**
          SDKBox.onPause();
    }

[2017-03-18 12:54] rnnbl commented on #17213
It was the SDKBOX doing this, the automatic installer

[2017-03-18 13:09] #17213 closed, assigned to dumganhar

[2017-03-20 09:44] dumganhar commented on #17497
Fixed at https://github.com/cocos2d/cocos2d-x/pull/17556
The patch is based on the post in the form but makes a little change.
@Kotaiba  @Bilalmirza , could you test my patch? Thanks.

[2017-03-21 03:35] dumganhar commented on #17426
Bump !!!

[2017-03-21 03:37] dumganhar commented on #17447
Closed this issue since it have been long time for response. If you still get this issue and could reproduce it. Feel free to re-open it.

[2017-03-21 03:37] #17447 closed, assigned to nobody

[2017-03-21 06:22] dumganhar commented on #17423
@shaniamjad, did you invoke `AudioEngine::stopAll()` or `AudioEngine::uncacheAll()` in your game code? If there is, how did you use these two interfaces?

[2017-03-21 06:36] Bilalmirza commented on #17497
@dumganhar After applying the #17556 fps is more stable at 60 on a empty project.

[2017-03-21 06:58] dumganhar commented on #17497
@Bilalmirza, thanks for testing. :)

[2017-03-21 07:24] dumganhar commented on #17390
@SBJoker , thanks for investigating the issue.
How about submit a Pull Request? In that case, we could review it on the github.

[2017-03-21 07:29] dumganhar commented on #17405
A Developer in the forum said that this issue was fixed in iOS 10.3 beta.

[2017-03-21 08:44] dumganhar commented on #13926
Fixed at https://github.com/cocos2d/cocos2d-x/pull/17500 and https://github.com/cocos2d/cocos2d-x/pull/17518 .

[2017-03-21 08:44] #13926 closed, assigned to nobody

[2017-03-21 08:47] dumganhar commented on #15206
I think this issue was fixed in v3.14. Please have a test.
Therefore, I closed this issue. If you still met this issue, feel free to open it again. Thanks.

[2017-03-21 08:47] #15206 closed, assigned to dumganhar

[2017-03-21 08:49] dumganhar commented on #16710
@liuyi, what's state of this issue now?

[2017-03-21 08:52] dumganhar commented on #16975
I closed this issue since we didn't get response from the reporter  for a long time.
@longmian, If you still meet this issue, feel free to open it again. Thanks.

[2017-03-21 08:52] #16975 closed, assigned to nobody

[2017-03-21 09:03] Bilalmirza commented on #17263
@minggo yes im using flush()
@dumganhar could you have look please?
same code works perfectly on mac.

I think the problem is with userdefaults

thanks

[2017-03-21 09:44] Bilalmirza commented on #17263
ill make a testcase first ... sorry about that

[2017-03-21 10:43] Bilalmirza commented on #17263
hey!

unlike mac version we cant use a space in the key.

for example
UserDefaults::getInstance->setIntegerForKey("WAR MACHINE",2);
.
.
.

once space is used flush() no longer works.

[2017-03-21 16:34] AknEp opened #17559 "CallFunc called twice when wrapped in TargetedAction"
Title says all.

- cocos2d-x version: 3.14.1 π :)
- devices test on: iOS Simulator [iPhone 7 Plus - iOS 10.2 (14C89) ]
- developing environments
   - Xcode version: 8.2.1 (8C1002)

Steps to Reproduce:

1. clone https://github.com/AknEp/TargetedActionExample
2. run in xcode & check output

and, core reproduction is ...

[code]
"Called" message is printed twice.

[code]

Although `TargetedAction` wr

[2017-03-21 16:43] myxrome commented on #17559
I've fixed the same bug here https://github.com/cocos2d/cocos2d-x/pull/17190

[2017-03-21 16:47] AknEp commented on #17559
@myxrome great!

( ... I've searched only `TargetedAction` in issues ... sorry! )

[2017-03-21 16:47] #17559 closed, assigned to nobody

[2017-03-22 01:13] huangleon commented on #15592
Android Build Tools works for me for same issue with different project.
I just delete Android SDK Build-tools 25.0.x from Android SDK Manager, and only 23.0.x left.

[2017-03-22 01:40] dumganhar commented on #17263
I reproduced this issue on Win32 by adding space to `key`.
It's an issue indeed.

[2017-03-22 02:00] dumganhar commented on #17263
@Bilalmirza , we use TinyXML2 to implement UserDefault for win32.
I checked the documentation about what is a valid XML file and I found this:
[code]
You could refer to https://www.w3schools.com/xml/xml_elements.asp .
So I guess `key` with space will not be supported in xml.

[2017-03-22 02:11] minggo opened #17561 "c++/lua for creator"

[2017-03-22 02:30] fuyifan commented on #17260
I do recommend Cocos puts this issue as high priority. It effects all the android devices used CocosJS and resuming from background is such a common thing that will make countless abnormal behavior for all the users. I don't know whether Cocos with the lower version has the same issue. If no, I will abandon v3.14 and degrade to that version. @minggo @ricardoquesada . BTW, as i know Cocos Creator u

[2017-03-22 04:47] Bilalmirza commented on #17263
thanks @dumganhar  :)

[2017-03-22 04:47] #17263 closed, assigned to dumganhar

[2017-03-22 05:56] #17478 closed, assigned to minggo

[2017-03-22 06:10] Bilalmirza commented on #17497
@dumganhar what could be other reasons that mac build is much faster than win32 build (even with having  a hardware advantage for win32).

[2017-03-22 06:15] Bilalmirza opened #17565 "cocos deploy -p win32 doesn't contain a .exe file"
- cocos2d-x version: v3.14.1
- devices test on: PC (windows 10)
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: VS Enterprise 2015
   - browser type and version:

Steps to Reproduce:

1. run $cocos deploy -p win32 -m release
2. it will create a bin folder with all the correct files but there wont be any .exe
3. you can copy the exe from the  Release.win32 folder in

[2017-03-22 07:04] #17497 closed, assigned to dumganhar

[2017-03-22 07:27] minggo opened #17567 "lua/luac loading sequence issue"
`LuaStack::executeScriptFile()` find .lua first then .luac, but `cocos2dx_lua_loader()` in `Cocos2dxLuaLoader.cpp`find .luac first then .lua. Should make them load lua fine in the same sequence: find .luac first.

[2017-03-22 07:53] dumganhar opened #17568 "[win32] luajit.exe can't be executed on 32bit windows."
- cocos2d-x version: v3.14.1
- devices test on: Windows 32bit
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

Reported at http://forum.cocos.com/t/cocos2dx-3-14-1-pc-cocos-luacompile-64/44897

[2017-03-22 08:02] minggo commented on #16561
@Kotaiba I tested cpp-tests, the `Mandelbrot` shader test will drop to 30 fps. And other test cases don't have the issue. Did you mean the Mandelbrot shader test is an issue?

[2017-03-22 08:29] Kotaiba commented on #16561
@minggo  No the issue happen on my game 90% of the time when the game is on full screen, not only on the shaders .see the attached video it will show the issue clearly .
[IMG_2350.zip](https://github.com/cocos2d/cocos2d-x/files/860776/IMG_2350.zip)

[2017-03-22 08:46] minggo commented on #16561
Can not download it currently because of network speed. How can i reproduce it?

[2017-03-22 08:51] Kotaiba commented on #16561
the Mandelbrot shader test ,is one way to reproduce it .

[2017-03-22 08:54] Kotaiba commented on #16561
try to set on-off button to switch between fullscreen inside the shader test ,you will see how the fps limit it self to 30 ,and jump back to 60 on popup mode.

[2017-03-22 09:07] minggo commented on #16561
Yep, Mandelbrot shader test can reproduce it. But because it uses a specific shader and other shaders don't have the issue. So it is not a good test case. I wonder if it is shader related or not.

[2017-03-22 09:11] Kotaiba commented on #16561
I have 4 scenes on my game and the issue happen in all of them ,the scene on the video that i attached got spine animation and only few sprites.

[2017-03-22 10:55] fuyifan commented on #17380
@bluesheet  How do you detect the memory leak in Android?

[2017-03-22 11:02] Bilalmirza commented on #16481
updating to 3.2.1 works :) thanks guys

[2017-03-22 13:21] RustyMoyher commented on #16561
@kaishiqi Have you seen this? https://github.com/glfw/glfw/issues/772

The fun technical dive on this issue can be found here: http://stackoverflow.com/questions/27758027/sprite-kit-serious-fps-issue-in-full-screen-mode-on-os-x

[2017-03-23 01:10] zTristan opened #17571 "WebSocket SSL crash in iOS"
I'm creating a game that uses WebSockets securely. When testing with some of the older iOS devices I see a crash in SSL. The crash always occurs in `WsThreadHelper::onSubThreadLoop` when calling `lws_service(__wsContext, 2);`.

The error is `EXC_BAD_ACCESS (code=EXC_ARM_DA_ALIGN, address=0x1f196574)`

Using a newer version of WebSocket.cpp from the `v3` branch.

Info:
- iOS Version 9.3.5
- iPad Mi

[2017-03-23 01:27] dumganhar commented on #17571
It seems that it crashed in OpenSSL library.
Could this issue easily reproduced? Does it only appear in older iOS device? How about the newer devices? Did you try it on other platforms?

[2017-03-23 01:33] zTristan commented on #17571
It's consistent with older devices, iPad Mini and iPad 3 so far.

Newer devices, iPadAir2, does not experience this issue.

Doesn't occur on Win32 or Android as far as we have tested.

[2017-03-23 01:40] dumganhar commented on #17571
I have no idea about the crash stack.
@lws-team, could you please take a look at this issue? Thanks.

[2017-03-23 01:45] minggo commented on #16561
@RustyMoyher thanks for the link. Interesting issue. I think we should wait glfw to fix the issue, or you guys can modify the glfw source code to have the patch which i don't think it is a elegant way to fix it.

[2017-03-23 01:49] lws-team commented on #17571
He is getting a data access abort exception, due to alignment.

It looks like on those older processors, they do not have kernel fixup for alignment problems like doing a 32-bit read that is not on 32-bit alignment.  Modern ARM cores either hide it in the BIU or the kernel fixes up the exception if it is Linux.

OpenSSL has no alignment requirements at its apis, so unless it's something else doing

[2017-03-23 01:59] RustyMoyher commented on #16561
I don't think the bug I linked to was with glfw. It a bug with macOS.

[2017-03-23 01:59] minggo commented on #17567
fixed in https://github.com/cocos2d/cocos2d-x/pull/17572

[2017-03-23 02:02] minggo commented on #16561
Yep, you are right. I mean if we want to work around, we should modify glfw source codes, but it is not a good way.

[2017-03-23 02:06] dumganhar commented on #17571
@lws-team, thanks for the quick reply and such detailed information.
Yes, we built OpenSSL as a static library, I will try to find out the `alignment` flag in OpenSSL.

[2017-03-23 02:19] zTristan commented on #17571
Thanks for the detailed response @lws-team!

I just wanted to point out we are **not** using the cocos2dx/externals OpenSSL. We have another library that builds in **OpenSSL 1.1.0e** for us.

I'll also look for the `alignment` flag to be set.

[2017-03-23 02:28] dumganhar commented on #17571
@zTristan , is there any reason why you don't wanna use the openssl library in `external`?

[2017-03-23 02:36] stephenhurry opened #17573 "ActionManager 's functions are not virtual"
Node::setActionManager is available to set a custom action manager, while ActionManager's functions are not virtual, users cannot deploy one with overridden methods.

[2017-03-23 02:40] lws-team commented on #17571
There are two things to check... first is simple, make sure the compiler flags used to build it really reflect the exact cpu variant you are targeting... if that's OK then you'll have to dig deeper in terms of making OpenSSL choose precooked code that doesn't rely on alignment.

[2017-03-23 02:43] #17567 closed, assigned to minggo

[2017-03-23 02:53] PitayaDEV commented on #15312
web view not display in iOS 8.4

[2017-03-23 02:53] PitayaDEV commented on #15312
@minggo

[2017-03-23 02:53] PitayaDEV commented on #15312
how to fix them

[2017-03-23 03:41] minggo commented on #15312
@PitayaDEV i don't have iOS 8.4 device, can reproduce it in simulator?

[2017-03-23 03:58] #17540 closed, assigned to nobody

[2017-03-23 04:00] minggo commented on #17521
Yep, this feature only support for scale9 sprite.

[2017-03-23 04:00] #17521 closed, assigned to nobody

[2017-03-23 05:01] zTristan commented on #17571
@dumganhar We have an internal library that all our games are required to use that prepackages OpenSSL.

@lws-team We're using the https://github.com/x2on/OpenSSL-for-iPhone project to make the framework. I'll check for those flags tomorrow.

[2017-03-23 05:48] minggo commented on #17444
We can just make the file name as short as possible, but can not fix the issue. It is the limitation of windows. And you'd better put cocos2d-x into a path that its length is as short as possible.

[2017-03-23 05:52] owen200008 commented on #17444
ok

[2017-03-23 05:52] #17444 closed, assigned to nobody

[2017-03-23 06:39] minggo opened #17574 "cocos command remove wp8 support"

[2017-03-23 07:00] minggo commented on #17574
fixed in https://github.com/cocos2d/cocos2d-console/pull/417

[2017-03-23 07:02] minggo commented on #17573
Yep, it is an issue.

[2017-03-23 15:22] kibozh opened #17576 "EventListenerKeyboard not working on ios simulator"
- cocos2d-x version:3.14.1
- devices test on:ios simulator iphone6s plus /ios 9.3 (mac osx 10.12.3 (16D32))
- developing environments
   - Xcode version:Version 7.3.1 (7D1014)
Steps to Reproduce:

1. create a new lua project
2. add the following code to function MainScene:onCreate()
[code]
3.just build and run and then press any key, nothing print in xcode's console

[2017-03-23 17:04] jaunt commented on #17521
But I don't see how this code can be triggered in any circumstance.  Hence my "impossible dependency".  The only place you can set it into SLICE9 mode currently is through this function yet you can't call this function unless it's in SLICE9 mode.

What am I missing?

[2017-03-23 23:59] zTristan commented on #17571
I've done some research for the alignment problem and tried a few fixes, but I'm still getting the crash in OpenSSL.

- Removed the OpenSSL 1.1.0e from our shared library.
- Switched to the cocos2dx/externals OpenSSL 1.1.0c. Crash still occurs.
- Built the OpenSSL-for-iPhone framework and used that. Crash still occurs.

I cannot find any config for `alignment` in the openssl project. I did however

[2017-03-24 00:36] lws-team commented on #17571
There's plenty of config for alignment in OpenSSL same as BoringSSL, but it's hidden away in the code.  This one looks like it might be related, it's in CBC AES code and allows unaligned by default (I think... you can check it, you are the guy with the problem...)

https://git.openssl.org/?p=openssl.git;a=blob;f=crypto/modes/cbc128.c;h=4ce5eb2ae341841a36c9a29dbe11aff262d2c20d;hb=refs/heads/master#

[2017-03-24 02:27] liuyi commented on #17530
这个你自己在调用热更新之前就可以自己处理噢
You can do the logic by yourself

[2017-03-24 02:43] Dauch commented on #17530
I think it's batter handle in engine level.
我觉得在引擎层面上处理更好一点

[2017-03-24 02:53] zTristan commented on #17571
I've modified the OpenSSL 1.1.0e to always `# define STRICT_ALIGNMENT 1` in `cbc128.c`, `modes_lcl.h`, and `wp_block.c`.

I repackaged the source back into the tar.gz for the build script to use.

I then rebuilt the openssl.framework  with OpenSSL-for-iPhone with the following output:
[code]

I then install the new framework into my game and run on the iPad Mini.

The same error still occurs. I wi

[2017-03-24 02:55] lws-team commented on #17571
OK... you need to study exactly what line blows in openssl and work back from that.

[2017-03-24 03:22] minggo commented on #17536
fixed in https://github.com/cocos2d/cocos2d-x/pull/17577

The reason is that:

* Button is created without `selectedImage`, then engine will provide a default 2*2 white texture, and it is set to not alpha premultiplied, which cause the blend function to `{GL_SRC_ALPHA, GL_ONE_MINUS_SRC_ALPHA}`
* when Button is clicked, `Button::onPressStateChangedToPressed()` is invoked, and `_buttonClickedRendere

[2017-03-24 03:33] codinghaven commented on #17536
ok also the issue also applies when I schedule a function to be called every frame on a Sprite
it also tints the whole node grid children to blackish?
Is this the same root of the issue?

[2017-03-24 03:36] minggo commented on #17536
Sorry, i can't catch your idea. Did you say another issue?

[2017-03-24 03:38] codinghaven commented on #17536
Yes it's the same thing but the issue is happening through a different cause.
When I create a `Sprite` and I schedule a update function the moment I add that sprite as a child to node grid it also turns everything to blackish color.

[2017-03-24 03:39] minggo commented on #17521
Sorry, i don't quite understand what you want to do.

[2017-03-24 03:45] minggo commented on #17536
I think it is a different issue. Could you please create a new issue for it? You are appreciated if you can provide some codes as this issue did.

[2017-03-24 03:52] codinghaven commented on #17536
Yep I checked it is Ill close this one though

[2017-03-24 03:52] #17536 closed, assigned to minggo

[2017-03-24 03:56] liqt commented on #17506
我已经解决了。。。。

[2017-03-24 04:06] codinghaven opened #17578 "removing and adding from layer to node grid running a liquid action blackens sprite appearance"
- cocos2d-x version: 3.14
- devices test on: Iphone 5s
- developing environments
   - NDK version: 11.2.2725575
   - Xcode version: 8.2.1
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1.  create a sprite  with transparent image
2. add it to a layer
3. take that sprite remove it from the layer
4. create a node grid
5. add the node grid to a layer
6. add sprite to nod

[2017-03-24 07:41] owen200008 opened #17580 "pleace hittest three param give default nullptr"
pleace hittest three param give default nullptr
when lua use the hittest, nil can not be use.

[2017-03-24 10:53] kamran-raei opened #17581 "getMesh() and getMeshCount() not work"
- cocos2d-x version: 3.14
- devices test on: pc(linux)
- developing environments :
     qtcreator

Steps to Reproduce:
hi.
i create a multipart mesh in blender and convert it to c3b file .
then load it with sprite3d in cocos2d getMeshCount return zero and getMesh return runtime error.
what happened and what can i do?

[2017-03-24 11:24] lesterlu commented on #10732
You should just test  your project! I run empty project on android using cocos2d-x 3.10. Memory is always leak...at about 20 KB per 10 minutes. Note that is just Empty Default Project!

[2017-03-24 12:25] #16583 closed, assigned to nobody

[2017-03-24 15:04] bsy6766 opened #17582 "repeatforever with sequence doesn't repeat"
- cocos2d-x version: 3.14.1
- devices test on: Windows 10
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2015 community
   - browser type and version:

Steps to Reproduce:
1. Create new project
2. Create sprite and sequence, then run action ([reference](http://www.cocos2d-x.org/wiki/Actions#An-example-sequence))
[code]
I tried with several other ways with RepeatFo

[2017-03-24 15:48] yuriilychak opened #17584 "cc.Node.setPosition native build set position to NaN"
- cocos2d-x version: 3.14.1
- devices test on: Mac-Mini

Hello.
When I try to override `cc.Node.setPosition(newPosOrxValue, yValue)` and setting value by `cc.p`. Sprite coords setting to NaN. I think this problem cause virtual machine interpretate yValue that equels 'undefined', as varible and use `setPosition (float x, float y)`.

[2017-03-24 15:59] jaunt commented on #17521
I just want the new cocos2d::sprite to work as a scale9 sprite.  The only way I can see this happening is if I call setCenterRectNormalized.  In 3.14.1, how do you make a scale9 sprite?  Seems impossible.  If I simply remove the assert in setCenterRectNormalized, my code works fine.  Clearly I'm missing something.  My apologies for that.  My entire game was functioning perfectly in 3.10 but once I

[2017-03-24 17:56] ijm700 commented on #16912
Hey @minggo I found out some new info on this,  the issue seems to be with samsung galaxy ace devices running 2.3 as the user from the cocos2dx was using and in this article below that I found.

http://gamedev.stackexchange.com/questions/90317/capping-framerate-independently-of-logic-updates-in-single-threaded-android-game

after looking around more I found this article below, and it also was with

[2017-03-24 18:09] ijm700 commented on #16912
https://nayaneshguptetechstuff.wordpress.com/2014/07/01/what-is-vsyc-in-android/ this article also references it

[2017-03-25 02:12] zTristan commented on #17571
I found two solutions.

First is to add the `no-asm` when configuring the OpenSSL build process. This will remove assembly altogether and side step the problem. Found that in an issue on the OpenSSL-for-iPhone project.
https://github.com/x2on/OpenSSL-for-iPhone/issues/131

The second solution is from openssl https://github.com/openssl/openssl/issues/3031

I tested both solutions and they both fixe

[2017-03-25 12:00] kamran-raei opened #17585 "load multipart mesh in sprite3d"
- cocos2d-x version: 3.14
- devices test on: pc(linux)
- developing environments
   - QTCreator

i create multi part mesh in blender and load it in a sprite3d.
when run the game nothing show in the scene ( just happened when using c3b or c3t files ) and sprite->getBoundingBox().size return (-199998,-199998) but when the mesh have one part sprite->getBoundingBox().size return true value.

(multi pa

[2017-03-25 13:33] Bilalmirza commented on #17582
the above code works fine on iOS and Mac... didn't test it on windows yet.

[2017-03-26 11:58] kcy336 commented on #14178
<cocos2d-x 3.12 on Samsung Galaxy Note 4>
Same here. hardly get 30fps....

[2017-03-26 18:28] klnvnv opened #17588 "CCNode.h setAnchorPoint - function documentation mentions wrong default anchor point value"
- cocos2d-x version: all

The documentation for the setAnchorPoint function in CCNode.h mentions the wrong default value for _anchorPoint in Node - it says (0.5,0.5) and it should be (0, 0). It trips me up sometimes when I forget from what I did subclass from - Node or Sprite.
[patch.txt](https://github.com/cocos2d/cocos2d-x/files/871024/patch.txt)

[2017-03-26 20:41] klnvnv commented on #17588
Never mind that other patch, I did that edit in a hurry, so I messed it up.
This one is correct and sounds better.
[patch.txt](https://github.com/cocos2d/cocos2d-x/files/871022/patch.txt)

[2017-03-27 01:21] minggo commented on #17578
take that sprite remove it from the layer

Should add then removed from a layer? Why need so strange behavior?

[2017-03-27 01:40] minggo commented on #17521
How did you create the sprite? The default render mode is `Sprite::RenderMode::QUAD`.

[2017-03-27 02:30] minggo commented on #10732
@lesterlu what tools did you used to detect memory leak on Android?

[2017-03-27 02:58] codinghaven commented on #17578
Because I need to run an action on a specific group of sprites while the other sprites on the board remain the same, so i have to put this group on a node grid.

[2017-03-27 03:01] minggo commented on #17578
I mean step 2 and 3 just do nothing. Right?

[2017-03-27 03:07] codinghaven commented on #17578
No.
For example: In the beginning I add it to the layer then at a certain point in the program I will remove it from the layer and add it to `NodeGrid`.

This is when the issue get's created when running a liquid action on the node grid.

[2017-03-27 03:10] minggo commented on #17578
Ok, i will try to reproduce it.

[2017-03-27 06:52] dumganhar opened #17591 "[ios, mac, win32] Audio could not be played in the callback of AudioEngine::setFinishedCallback"
- cocos2d-x version: v3.14.1
- devices test on: ios, mac, win32

[code]

[2017-03-27 08:25] minggo commented on #17565
We tested and it could copy the exe file.

[2017-03-27 08:26] #17565 closed, assigned to nobody

[2017-03-27 09:03] minggo commented on #17584
how reproduce it?

[2017-03-27 09:09] PitayaDEV commented on #15312
@minggo yes , you can try with simulator

[2017-03-27 09:11] minggo commented on #17580
Sorry, what's the issue?

[2017-03-27 09:27] minggo commented on #17578
I can not reproduce it. The codes i used is
[code]

And i used the picture you provided in another issue.

[2017-03-27 09:35] minggo commented on #17573
fixed in https://github.com/cocos2d/cocos2d-x/pull/17594

[2017-03-27 09:35] #17573 closed, assigned to minggo

[2017-03-27 09:40] minggo commented on #17576
Where to popup the keyboard?

[2017-03-27 09:46] jezzmemo opened #17595 "Resume download file failure"
- cocos2d-x version:3.1.2
- devices test on:ipad air
- developing environments
   - NDK version:
   - Xcode version:8.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. if user the Downloader,you file did not downloaded,the temp file exist
2. next time you download the file from the same url,the Downloader will resume the download file,the result will return error,i find th

[2017-03-27 10:03] minggo commented on #17588
fixed in https://github.com/cocos2d/cocos2d-x/pull/17597

[2017-03-27 10:03] #17588 closed, assigned to minggo

[2017-03-28 01:27] codinghaven commented on #17578
Try adding multiple sprites and a label to each of the sprites.
If that doesn't produce the issue I'll give you my code line by line.

[2017-03-28 01:34] minggo commented on #17578
Why not just give your test case? It may be more convenient and can save the time.

[2017-03-28 01:51] codinghaven commented on #17578
There are a couple of components to the exact code however if it really wastes time I will paste all the code

[2017-03-28 01:54] minggo commented on #17578
I think you can just reproduce it based on cpp-empty-test except of your current project.

[2017-03-28 02:04] codinghaven commented on #17578
ok will do

[2017-03-28 03:41] goleoh opened #17598 "Scheduler crash with jsb"
- cocos2d-x version: 3.x all & all device possible
- tested wtih cocos3.14.1, visual studio 15 and win8.1 universal

at js_CCNode_unschedule :: cocos2d_specifics.cpp

if the target is current target, sched->unscheule() doesn't remove the unscheduled hash element.
but js target is released by JSScheduleWrapper::removeTargetForJSObject

[code]

at this point if we schedule with new target,
the relea

[2017-03-28 05:12] dadidzf opened #17599 "Visit rendertexture failed with unmatched visiting camera"
- cocos2d-x version: Cocos2d-x-3.14.1
- devices test on:
- developing environments - VS version: vs 2015 community

Steps:

**1. Just Run the test() function below on any scene with cocos2dx-lua project**

[code]

**2. Press the three buttons that draw text on renderTexture, you will find only " Camera8 Button visit RenderTexture" not work.**

**3. I have got the reason, It's because when we press

[2017-03-28 07:24] dumganhar opened #17601 "High CPU usage in Scene3DTest"
- cocos2d-x version: v3.14.1
- devices test on: mac, win32
- developing environments
   - NDK version:
   - Xcode version: 8.3
   - VS version: 2015
   - browser type and version:

Steps to Reproduce:

1.  cpp-tests/1:Node: Scene3D
2.

[2017-03-28 09:02] owen200008 opened #17602 "AssetsManagerEx is support https?"
- cocos2d-x version:
3.14.1
- devices test on:
windows

use AssetsManagerEx to update
https download fail, http is ok

[2017-03-28 09:04] yuriilychak commented on #17584
Use native platform
1) Create your own class with overriding method setPosition:
[code]
2) Create object of this class and set position by point:
[code]

[2017-03-28 09:57] dumganhar opened #17603 "Connection Error in Console UploadFile Test"
Reported by QA team at http://punchbox.info:3000/issues/26211

- cocos2d-x version: v3.15
- devices test on: windows 10
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: vs 2015
   - browser type and version:

Steps to Reproduce:

1. cpp-tests -> Console Test -> 2:Console UploadFile
2.
![13-2-android](https://cloud.githubusercontent.com/assets/493372/24399614/e76d817

[2017-03-28 10:15] dumganhar commented on #17603
fixed at https://github.com/cocos2d/cocos2d-x/pull/17604
and https://github.com/cocos2d/cocos2d-x/pull/17607

[2017-03-28 11:14] Kotaiba opened #17605 "drawPolygon Bug"
- cocos2d-x version:3.10
- devices test on:iphone 7
- developing environments
   - Xcode version:8.2.1

Steps to Reproduce:
 stencil->drawPolygon(point2, countPoints, Color4F(1, 0, 0, 1), 1, Color4F(1, 0, 0, 1));

stencil->drawPoly(point2, countPoints, true,  Color4F(1, 0, 0, 1));
same vlaues but somehow drawPolygon missing some points , on the other hand drawPoly is drawing it perfectly
<img widt

[2017-03-28 20:49] sedapsfognik commented on #15652
Hello, guys, did you fix this problem?
Is this fix applied to cocos which we use in Cocos Creator?
I faced a problem in a js/html5 game created in Cocos Creator: 60fps on iOS on both iPhone 5s and iPhone 6s devices.
And 10fps on HTC One X and Samsung Edge 7 with exactly the same conditions.

Here is the screen:

https://gyazo.com/835a8b55b2a48c04934bb0ea3554e69f

It is after drawing ~20 sprites wi

[2017-03-29 04:48] sail1024 opened #17608 "UIEditBox's two issues:setText when editting; iOS placeholder's font and color"
- cocos2d-x version:3.13 and later
- devices test on:iPhone 7 Andriod device
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. When call setText in the text changed event(some time, I need to modify the input at the same time, eg:divide the input Phone Number by '-' every four letter or limit the input), it will

[2017-03-29 04:52] sail1024 commented on #17244
maybe you can see the issue #17608, that's my resolution!

[2017-03-29 06:35] summerinsects commented on #17608
hey, I found a similar issues about platform android
it wont display any text in EditBox when you call 'setText' just after creating sometimes(occasionally reproduce)
My resolution is similar to yours, but I don't modify the method 'setText'

[2017-03-29 08:23] zgc0911 commented on #17043
有人试过Xcode8.3了吗~~~不知道Xcode8.3有没有问题

[2017-03-29 08:30] goleoh opened #17611 "Scheduler - unscheduled callback is called & crash at CCDownloader"
- cocos2d-x version: 3.x all version
- devices test on: win8.1 universal

if _elapsed is 2 more times than interval
trigger(interval) is called 2 or more times in a tick.

in the same condition if the first callback call unschedule,
the successive callback - which is unscheduled - is called.

this happened when we use CCDownloader.
the download's job is finished and the all objects are released,
b

[2017-03-29 08:55] dumganhar commented on #17043
@zgc0911, it wasn't fixed in xcode 8.3.

[2017-03-29 09:20] liuyi opened #17613 "bindings-generator:How to export an cpp class which extend Node?"
1.   When I tried export my cpp class to JS binding,
The cpp Class is extend Node, (I want write a custom node).
i got some errors likes:
--Errors in parsing headers
   Fatal error in parsing headers"

2. I added these code to test.ini :
cocos_headers = -I%(cocosdir)s/cocos -I%(cocosdir)s/cocos/platform/android -I%(cocosdir)s/external
cocos_flags = -DANDROID

But it dose no work, can somebody show

[2017-03-29 09:41] 253056965 commented on #17043
我更新了 8.3 的XCODE 依然会编译不通过  请cocos 官方重视一下

[2017-03-29 16:58] goleoh opened #17614 "dispatchCustomEvent's user data is disappeared at js with jsb"
- cocos2d-x version: 3.x all
- devices test on: windows 8.1  universal

if two listener is listening to the same custom event,
the second listener which is added first can't get userData.

it's because removeJSObjetct is called after the first event listener's callback,
the c++ event object has lost connection with the right js object.

at cocos/scripting/js-bindings/manual/jsb_event_dispatcher_ma

[2017-03-29 22:29] th7nder opened #17615 "No support for GLES 2.0"
- cocos2d-x version: cocos2d-x-3.15
- devices test on: Huawei P7 Lite, Simulator Android Studio 7.1.1
- developing environments
   - NDK version: r14
   - Xcode version: 8.3
   - Android Studio Version: 2.3

When you build game with android-studio no matter which SDK launching with android simulator will fail with thrown error: EGL_BAD_CONFIG, same with device Huawei P7 Lite and some I tested with

[2017-03-29 23:35] Mishok43 opened #17616 "Crashing on Android 4.4 links with gpu memory and the Internet Connection"
Hello.
Our game sometimes chashes if a player tries to login to Facebook or executes some graphic effects or just on the spot only on Android 4.4.
If a player isn't connected to the Internet this bug appears much less than with the Internet.
We have understood by logcat that the game crashes after these errors:

[code]

And some logs from GP:

[code]
That's why we came to the conclusion that our g

[2017-03-30 00:25] codinghaven commented on #17578
When I added the label to my sprite in initialization it causes the blackish hue on the node grid I tested it on my game but when I created an empty project and I added a label to the sprite the node grid didn't turn into black so I don't know what's going on so here I wrote what I'm doing when I'm using Liquid action it's a sketch but this is the best I can do because to get the whole thing in wi

[2017-03-30 00:31] fpruitt commented on #16680
Is this still a problem? If so, could you answer the question above? @yiquanshui

[2017-03-30 00:39] hussain-sohaib commented on #17615
Hello,

Just out of interest, where did you downloaded cocos2dx 3.15 from?  is it
released already? I can't see it on website, here
http://www.cocos2d-x.org/download

thanks

On Thu, Mar 30, 2017 at 3:29 AM, th7nder <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-03-30 02:22] th7nder commented on #17615
Hi!

When you clone directly from github v3 branch and you type cocos -v into your terminal version 3.15 is shown.

Regards
th7

[2017-03-30 02:48] a85265656 commented on #17043
xcode 8.3  问题依然存在   感觉cocos这边的问题概率比较大

[2017-03-30 02:57] owen200008 commented on #17602
please add AssetsManagerEx  config  interface for download curl
ssl set and timeout set and so on

[2017-03-30 04:15] owen200008 commented on #17473
test on windows no curl_multi_add_handle use sync is ok
if use curl_multi_add_handle must be timeout

[2017-03-30 05:05] letrungtrung commented on #16626
@minggo This issue is real? Can you confirm that?

[2017-03-30 06:46] BPri1 opened #17617 "Can not build latest version from github (android and win32)"
- cocos2d-x version: latest from github 3.14.1+ or 3.15
- devices test on:
- developing environments
   - NDK version: R13b R12b
   - VS version: 2015 2017
   - AndroidStudio version: 2.3

Steps to Reproduce:

1. Download a branch from github (branch v3 or v3.15)
2. Download the cocos console
3. Install JDK, SDK, NDK, Python, Ant,
VS, Eclipse, AndroidStudio (Yeah, I tried everything)
4. Run downlo

[2017-03-30 10:10] dumganhar opened #17619 "[android] Crash if uncache audio in the finished callback"
- cocos2d-x version: v3.14.1
- devices test on: MX3
- developing environments
   - NDK version: r10e
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

[code]

[code]

[2017-03-30 10:22] flyingkisser opened #17621 "onCreateView in AppActivity.java of template file"
templates/js-template-default/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/javascript/AppActivity.java

should comment this function for your OpenGLES 2.0 or 3.0 choosing.

@Override
    public Cocos2dxGLSurfaceView onCreateView() {
        Cocos2dxGLSurfaceView glSurfaceView = new Cocos2dxGLSurfaceView(this);
        // TestCpp should create stencil buffer
        glSurfaceView

[2017-03-30 11:39] itsabhiaryan commented on #10318
Is there any plan for this issue ??

[2017-03-30 13:52] jabson commented on #17204
There is test project with moving 3 sprites.
There is not lag on iPhone 6 or 6s. if you run on iPhone 7 it mades laggy. cocos2d-x version is 3.14. also try to change MoveSpeed in HelloWorldScene.

Sorry for late answer.

https://drive.google.com/file/d/0B0tGqNGLqq29Z0tUV3daN2JnZmc/view

[2017-03-30 15:28] atsimerman commented on #17424
How about cocos2d-x-3.13.1 and earlier ?

[2017-03-31 02:28] minggo commented on #17424
It is nothing about cocos2d-x version. It is about the tools version you used.

[2017-03-31 02:56] minggo opened #17623 "cocos run can not work on windows for release mode"
steps to reproduce:

* cocos new -l lua
* cocos run -p win32 -m release

can not run.

[2017-03-31 14:06] ibaranskyi commented on #17611
@goleoh, do you have some maybe temporary fix this crash?
We have same crash on iOS platform with cocos 3.13.1
Also we got fix https://github.com/cocos2d/cocos2d-x/commit/67d16bee98015c49c962e783b854436122f540ca but crash is strill reproduced.

[2017-04-01 02:35] #17619 closed, assigned to dumganhar

[2017-04-01 02:36] dumganhar commented on #17619
fixed at https://github.com/cocos2d/cocos2d-x/pull/17620
Closed this issue

[2017-04-01 02:37] dumganhar commented on #17571
Fixed at https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/pull/149
The fix will be in v3.15.

[2017-04-01 02:37] #17571 closed, assigned to dumganhar

[2017-04-01 03:26] #17603 closed, assigned to dumganhar

[2017-04-01 03:27] dumganhar commented on #17591
fixed at https://github.com/cocos2d/cocos2d-x/pull/17593

[2017-04-01 03:27] #17591 closed, assigned to dumganhar

[2017-04-01 04:43] toreinkun commented on #17611
i add a guard when the Scheduler::_scriptHandlerEntries updating, like CCEventDispatcher.

[2017-04-01 09:34] minggo commented on #17621
Yep, you are right. Now all attributes should be set in cpp codes.

[2017-04-01 10:03] minggo commented on #17617
v3.14.1 is the latest version.

[2017-04-01 11:36] gallipoly opened #17631 "FileUtils::getFileSize("anyInBundleFile.json") always returns -1 on Android platform"
- cocos2d-x version: 3.14.1
- devices test on: Huawei Nexus 6p
- developing environments
   - NDK version: r10e
   - Xcode version: -
   - VS version: -
   - browser type and version: -

Steps to Reproduce:

1. call FileUtils::getFileSize("inside.json") to any file inside game bundle (android)
2. result -1 if file exist / 0 if not exist

-------
with files in external storage function works well

[2017-04-01 12:02] jgod commented on #17424
Replacing the tools works for me. Thanks guys 👍

[2017-04-01 12:54] gallipoly commented on #17631
added PR https://github.com/cocos2d/cocos2d-x/pull/17632

[2017-04-01 20:33] j-jorge commented on #17582
This issue is fixed by #17557.

[2017-04-01 23:57] BPri1 commented on #17617
Oook. What I mean by the "latest version":

If I download https://github.com/cocos2d/cocos2d-x/tree/cocos2d-x-3.14.1
Then it works.

But!
I need a version with fixed audio decoding. And maybe some other fixes.

So I tried to download https://github.com/cocos2d/cocos2d-x/tree/v3
or https://github.com/cocos2d/cocos2d-x/tree/v3.15
which have a more "later" hotfix than 3.14.1.
I called "3.14.1+" and "

[2017-04-02 03:28] goleoh commented on #17611
@ibaranskyi we replaced the while to the if condition to prevent enter trigger multiple times in the same tick. and you should know there is the same problem if the _useDelay is true.

our game don't need the multiple runs in a tick when the elapsed time is too long than the interval. so we fixed like below.

[code]

[2017-04-02 12:44] pmichos commented on #17617
Same problem here with "Latest" version of github. Possible the new paths of android.mk is the problem

3.14.1 Works Fine!

[2017-04-03 01:02] ForestRingGames opened #17635 "EditBox is unusable due to various bugs (10+ seconds of full freeze on iOS, double text dispaly, etc.)"
Please see this forum thread for a discussion and videos of the issues:

http://discuss.cocos2d-x.org/t/uieditbox-lag-of-up-to-5-seconds-on-ios/35560/29

[2017-04-03 09:24] itsabhiaryan opened #17636 "Unable to build android-studio module using Android Studio 2.3"
- cocos2d-x version: 3.15
- devices test on: Unable to build
- developing environments
   - NDK version: android-ndk-r14b
   - Xcode version: 8.3
   - VS version: 2015
   - browser type and version:

Steps to Reproduce:

1. After setting all requirements whenever i run Android Studio module by Android Studio 2.3

On mac working fine but on window i am not able to build. I tried with both version v

[2017-04-03 11:40] BPri1 commented on #17617
@devkatara Thank you so much! Now I know that I'm not alone.

@minggo Do you see now? Sometimes I'm not sure that the cocos team even reads topics. So sad.

[2017-04-03 12:05] rh101 commented on #17636
Check this out:
http://stackoverflow.com/questions/12598933/ndk-build-createprocess-make-e-87-the-parameter-is-incorrect

That solved my issue, because I was having the same error come up: "make (e=87): The parameter is incorrect."

[2017-04-03 13:08] itsabhiaryan commented on #17636
Thanks it was my mistake.

By mistake I kept same flag `LOCAL_SHORT_COMMANDS := true ` in both file `Android.mk` and in `Application.mk`

But flag `LOCAL_SHORT_COMMANDS := true`  need to be set in Android.mk and flag `APP_SHORT_COMMANDS := true` in `Application.mk`

[2017-04-03 13:08] #17636 closed, assigned to nobody

[2017-04-03 16:27] pmichos commented on #17617
@BPri1 it's ok... Cocos is free project and we must stay patience

[2017-04-03 21:00] flener opened #17639 "Memory leak on setDimentions if overflow mode is set to shrink"
- cocos2d-x version: 3.13.1 ( and 3.14.1 )
- devices test on: Ubuntu 14.04 (amd64)
- developing environments
   - NDK version: --
   - Xcode version: --
   - VS version: --
   - browser type and version: --

Steps to Reproduce:

1.  Create a label and setOverflow to Shrink
2. Use setDimensions
3. Close program. Leak Occurs

I wrote a more detailed explanation in forum: http://discuss.cocos2d-x.org

[2017-04-03 23:52] BPri1 commented on #17617
Yes, it's the free project, but its engineers do not work for free.

I try to be patient, and I hate being not polite. But while communicating with the three of team members on this issue, I have a feeling that none of them actually read the topic/issue.
I understand that they can be busy. But three of them... It looks like a pattern.

Now I feel like I was... er... not clever because I chose coco

[2017-04-04 00:29] Rubonnek opened #17640 "Cannot build Android project using cocos compile -p android"
- cocos2d-x version: v3 branch up to git commit acc97516d8
- developing environments
   - NDK version: r14b

Steps to Reproduce:

1. Create a new project using git commit acc97516d8 and try to compile for Android
[code]
2. You'll get the following error:

[code]

Possible fix:

This issue was introduced in commit 55362547fa. Removing  `$(LOCAL_PATH)` from `LOCAL_SRC_FILES` in `proj.android/jni/And

[2017-04-04 01:05] Rubonnek opened #17642 "Android application crash using the latest code -- EGL_BAD_ATTRIBUTE"
- cocos2d-x version: v3.15, git commit acc97516d8 plus patch #17641
- devices test on: LG G3 Stylus - Android 5.0.2
- developing environments
   - NDK version: r14b

Steps to Reproduce:

1. Create a new C++ project, compile for android and deploy to device:
[code]
2. `adb logcat` will show the following error:
[code]

[2017-04-04 02:24] EXKulo commented on #14501
https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin

[2017-04-04 14:54] felippeduran opened #17643 "New Renderer Pipeline - Roadmap Status"
Hi, cocos2d-x team!

Quite a long time ago, you guys announced a [new renderer pipeline roadmap](http://www.cocos2d-x.org/wiki/Cocos2d_v30_renderer_pipeline_roadmap). So far, I can see that the main structure is already functional for the cocos2dx version I'm working with (v3.13). However, some of the major features are still missing, like the full featured command keys:

![alt text][logo]

[logo]

[2017-04-05 01:40] minggo commented on #17617
@BPri1 sorry about it. The last three days are holiday here. We just come back from holiday. About the latest v3.15 branch, the QA team just tested it and don't find the issue. I will try the latest codes now.

[2017-04-05 02:22] minggo commented on #17617
I just tried latest v3.15 branch, created a new cpp project and with with VS2015, no problem. I will try android later.

[2017-04-05 03:33] kibernet opened #17644 "AlphaFrame 默认值_alpha为255的BUG"
- cocos2d-x version:  3.12
- devices test on: all
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
龙骨动画dragonbones加载后，如果设置其透明度，则不会影响其子节点的透明度。我也设置了setCascadeOpacityEnabled(true),效果也是一样，没有任何反应。我追踪代码发现龙骨动画里面调用了AlphaFrame之后，AlphaFrame内部没有使用父节点的透明度，而是直接初始化为255，所以父节点的透明度影响不了子节点。

[2017-04-05 06:26] BPri1 commented on #17617
Hi @minggo !
I understand that you can be busy and I understand that you have holidays.
I'm  little not happy that I needed to explain the problem several times.

I just installed the new win10 and VS2017 (It seems that I can not download VS2015 anymore, I had the same issue with VS2015, so it probably does not depend on the version of VS).

Branch v3.15. Same issue.

Now I installing Android Stud

[2017-04-05 06:32] minggo commented on #17617
win10 + vs2017 can not work right now. If you want to build on VS, you don't have to install Android Studio. You can try VS first.

I just checkout the branch and update external libraries locally, because i cloned 3rd party bin repo. And i don't run `setup.py` as i already set it before.  You should do it if you haven't done it before.

[2017-04-05 06:33] minggo commented on #17617
@BPri1 what's you error message of using VS2015 to build the new created project?

[2017-04-05 06:47] BPri1 commented on #17617
I use VS to build a win32 project, not an android. Because it's faster for me to write most of the code in the studio. But my target platform is an android.

Can it give a different result than using download-deps.py?

I have no VS2015 right now, but the error was that it could not find lib while open of the project. Screenshot with the same error but in VS2017 you can see in the topic.

[2017-04-05 07:01] minggo commented on #17617
I think `download-deps.py` don't have problem, because i used it to make zip file for QA team, and they don't meet the problem. In the topic you posted in forum, the error is because VS2010 is not supported.

[2017-04-05 07:05] BPri1 commented on #17617
So should I get VS2015?
And thank you very much for helping.

[2017-04-05 07:08] minggo commented on #17617
Yep, you should use VS2015 or VS2013. And there is not problem using VS2017 on windows7 but have issue on win10 which we should fix it.

[2017-04-05 07:10] vladcioaba commented on #17642
I found it too, the crash occurred on Android 4.4.4.
On Android 6.0.1 it works.

[2017-04-05 09:15] BPri1 commented on #17617
@minggo Ok, I finally got VS2015. Still same issue. I added the new screenshot to the topic.

[2017-04-05 09:56] sbrednikhin opened #17649 "ETC1 images with alpha channel (2 textured) are rendered with artifacts."
- cocos2d-x version: 3.14 and earlier
- devices test on: any
- developing environments
   - NDK version: any
   - VS version: any
   - browser type and version: any

Steps to Reproduce:

1.  Pack some image with alpha channel in two etc textures with RGB channels with premultiplied alpha and A channel
2.  Render it. You will see artifacts.

In the source code `Texture2D::setAlphaTexture`, line 150

[2017-04-05 12:30] Rubonnek opened #17650 "Memory leak found in WebSocket.cpp"
- cocos2d-x version: v3.15, git commit c27cca3d17
- devices test on:
- developing environments
   - GCC

Steps to Reproduce:

1. Create a new C++ project, compile it in debug mode and run `valgrind` against it:

[code]

2. You'll get the following report:
[code]

3. Add the following to `Classes/HelloWorldScene.cpp` under `USING_NS_CC`:

[code]

And under `HelloWorld::init`, add the following:

[c

[2017-04-06 01:53] james-muldoon commented on #17424
What version of the tools works? I've been trying to install cocos for the past 3 days using this guide http://cocos2d-x.org/docs/installation/Android-terminal/index.html but all the versions are out of date

[2017-04-06 03:08] wijanarko-sukma commented on #14092
+1
I was wondering if this issue is fixed or not because it happened to me every time I restarted the game using restart method from the Director
`cocos2d::Director::getInstance()->restart();`
FYI, I mainly used C++ on the game with JSB so I frequently invoke C++ codes from javascript and vice versa

[2017-04-06 03:12] BPri1 commented on #17617
Just in case, I'll duplicate it here. The problem is found.
http://discuss.cocos2d-x.org/t/android-ndk-jni-android-mk-cannot-find-module-with-tag-cocos-in-import-path/35287/29

@minggo Thank you for your help!

[2017-04-06 03:34] #17617 closed, assigned to nobody

[2017-04-06 03:42] BPri1 opened #17652 "download-deps.py needs to be fixed"
- cocos2d-x version: branch v3 v3.15

download-deps.py uses git to clean external folder, that is causing the error if git is not installed.

Please see http://discuss.cocos2d-x.org/t/android-ndk-jni-android-mk-cannot-find-module-with-tag-cocos-in-import-path/35287/36

[2017-04-06 05:51] xiayangqun opened #17654 "ui::Button 和ui::ImageView设置九宫格区域不正常的问题"
- cocos2d-x version:3.14.1
- devices test on:iphone6
重现场景，在创建一个ImageView并加载到屏幕上之后，点击一个按钮，更换这个ImageView的纹理，比如说从彩色的纹理换成黑白的纹理。会发现这个ImageView的九宫格拉伸出现了问题，是按照默认的九宫格区域拉伸的，而不是更换纹理之前的九宫格设定区域拉伸。
使用的是
ui::Button::loadTextures
ui::ImageVIew::loadTexture
这个两个api的进行纹理的更换。

[2017-04-06 06:48] nineskys commented on #17429
solved

[2017-04-06 06:48] #17429 closed, assigned to nobody

[2017-04-06 08:41] #17649 closed, assigned to nobody

[2017-04-06 09:34] SongCF commented on #14092
I'm sorry I forgot how to solved it. i no longer develop games

[2017-04-07 02:47] bin-zhao opened #17663 "[Android] Package Cocos2dx Game with Android Studio"
Can I package Cocos2dx game only use Android Studio?
I upgrade my Android Studio and Android SDK yesterday, when I run cocos command, Android toolchains print an error, then quit. message here:
[code]
I know revert my Android SDK is a practicable way. but I try to package Cocos2dx game only use Android Studio with JNI. Is anything possible for this mind? Have some guide to do this? thanks.
Maybe t

[2017-04-07 08:54] dadidzf commented on #17663
You need to update the cocos-console to newest

[2017-04-07 08:55] dadidzf commented on #17663
https://github.com/cocos2d/cocos2d-console/pull/410

[2017-04-07 08:56] dadidzf commented on #17663
It's solved already

[2017-04-07 09:32] dumganhar opened #17665 "[android] Crash while launching on the devices only support OpenGL ES 2"
It's caused after merging https://github.com/cocos2d/cocos2d-x/pull/17537
- cocos2d-x version: v3 branch
- devices test on: Meizu MX3
- developing environments
   - NDK version: r10e
Steps to Reproduce:

1.  Just run cpp-empty-test

[2017-04-07 20:29] jgod commented on #17424
@james-muldoon 25.2.3 works for me

[2017-04-07 21:22] Rubonnek commented on #17665
This issue is also related to #17642. I also got the crash on LG G3 Stylus (Android 5.0.2) which has a Mali-400MP2 GPU that only supports OpenGL ES 2.

[2017-04-08 03:29] glennerichall commented on #16623
Seems that it is missing a delegate callback here:
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/network/SocketIO.cpp#L1039
_delegate->onConnect(this);

[2017-04-08 07:46] bin-zhao commented on #17663
@dadidzf thank you, it works.

[2017-04-08 12:08] xhcnb opened #17667 "Where to get the source Protos.proto file"
protobuffer file
https://github.com/cocos2d/cocos2d-x/blob/v3/tools/simulator/libsimulator/lib/runtime/Protos.pb.h
but, there is no source file Protos.proto
Anyone knows where to find it?
thanks.

[2017-04-09 08:24] ivcoder commented on #13773
the bug still exists in 3.13.1

[2017-04-10 02:10] dumganhar commented on #17650
👍

[2017-04-10 02:28] #17650 closed, assigned to nobody

[2017-04-10 03:49] #17665 closed, assigned to dumganhar

[2017-04-10 06:21] james-muldoon commented on #17424
@jgod thanks for the reply.
That's the version of tools that I have, but I'm still getting the message "The "android" command is deprecated" (shown in screenshot).
Are you perhaps using a different SDK or NDK version to me? My NDK is r10c.
<img width="960" alt="2017-04-10" src="https://cloud.githubusercontent.com/assets/12402930/24848284/50c070be-1e09-11e7-94d6-10f73e95ff27.png">

[2017-04-10 06:29] minggo commented on #17424
@james-muldoon i think @natural-law has already answered it above. You should copy `tools` from old Android SDK because some tools are deleted in new Android SDK.

[2017-04-10 07:02] #17642 closed, assigned to nobody

[2017-04-10 07:12] minggo commented on #17640
v3.15 doesn't includes the commit `5536254`.

[2017-04-10 08:46] minggo commented on #17652
fixed in https://github.com/cocos2d/cocos2d-x/pull/17677

[2017-04-10 08:48] #17663 closed, assigned to nobody

[2017-04-10 08:49] parcool opened #17678 "Android NDK: ERROR:/Users/tanyi/ndk-r9/sources/cxx-stl/gnu-libstdc++/Android.mk:gnustl_static: LOCAL_SRC_FILES points to a missing file"
- cocos2d-x version:3.14.1
- devices test on:any device
- developing environments
   - NDK version:ndk-r9
   - Xcode version:no xcode
   - VS version:no vs
   - browser type and version:any browser

Steps to Reproduce:

1. setup `setup.py`
2. execute `cocos compile -p android --ap android-25`
got this error:
`
编译模式：debug
使用 Eclipse 工程：/Users/tanyi/mygame/gamename/proj.android
正在执行：'/Users/tanyi/An

[2017-04-10 08:50] parcool commented on #17678
mac os 10.12

[2017-04-10 08:50] minggo commented on #17667
the json file for flatbuffer is in https://github.com/cocos2d/cocos2d-x/tree/v3/cocos/editor-support/cocostudio/fbs-files

[2017-04-10 08:50] #17667 closed, assigned to nobody

[2017-04-10 08:57] minggo commented on #17678
First, you ndk version is too old. Please use latest one.
Second, the error said `LOCAL_SRC_FILES points to a missing file`. Did you add inexistent cpp files in the `Android.mk`?

[2017-04-10 09:07] #17652 closed, assigned to minggo

[2017-04-10 09:16] #17631 closed, assigned to nobody

[2017-04-10 09:25] Rubonnek commented on #17640
Right, I meant I was using the v3 branch. `cocos --version` returns `cocos2d-x-3.15` on that branch.

I just noticed the v3.15 branch does not include that commit 5536254. I updated the first comment.

[2017-04-10 09:40] minggo commented on #17621
fixed in https://github.com/cocos2d/cocos2d-x/pull/17680

[2017-04-10 09:41] #17621 closed, assigned to minggo

[2017-04-10 09:43] minggo commented on #17615
v3 branch is not v3.15. There is a v3.15 branch.

[2017-04-10 09:44] minggo commented on #17615
it is fixed https://github.com/cocos2d/cocos2d-x/issues/17665

[2017-04-10 09:44] #17615 closed, assigned to nobody

[2017-04-10 09:51] parcool commented on #17678
@minggo First,the ndk version is manual changed by some issue occured then i search from stackoverflow  to got the ndk-r9(sorry for that i forgot the error and the web-url).
Second,I never add any file into `Android.mk` just download from official url-link.

[2017-04-10 09:58] alfogrillo opened #17681 "[Cocos2d-x 3.14.1] Slow application initialization"
I noticed a big delay in the application init.
Every time I launch the app the program spend 8-10 seconds before printing:
`platform initialization successful`
Cocos2d-x 3.13.1 seems to work much faster.

- cocos2d-x version: 3.14.1
- devices test on: iPad mini 2
- developing environments
   - Xcode version: 8.3.1

Steps to Reproduce:

1. Create a new project
2. Run the project on the device from

[2017-04-10 10:15] parcool commented on #17678
@minggo when i execute `python android-build.py -p <target # from above> cpp-tests` got the error:`编译模式：debug
使用 Eclipse 工程：/Users/tanyi/cocos2d-x-3.14.1/tests/cpp-tests/proj.android
正在执行：'/Users/tanyi/Android/sdk/tools/android update project -t android-25 -p /Users/tanyi/cocos2d-x-3.14.1/tests/cpp-tests/proj.android'

Updated project.properties
Updated local.properties
Updated file /Users/tanyi/c

[2017-04-10 10:40] james-muldoon commented on #17424
Doing this just creates a different error for me. Do you download the SDK through Android Studio? Since downloading the command line tools now no longer includes the android SDK (further complicating following the given installation instructions)
<img width="960" alt="2017-04-10 3" src="https://cloud.githubusercontent.com/assets/12402930/24857880/2c755e3a-1e2d-11e7-9fa5-32ee49d7423c.png">

[2017-04-10 11:14] vollen opened #17682 "ccui.Button getContentSize has error result after setTitleText() and loadTextureNormal()"
- cocos2d-x version: 3.13.1
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.   create a Button
2.  call button's  setTitleText()
3.  call button's  loadTextureNormal()
4.  call button's getContentSize()

By normal circumstances, the expected result is the texture's size. But now, the result I

[2017-04-10 11:25] weiiiiii opened #17683 "GVR - Camera viewport is not reset"
[-](url) cocos2d-x version: 3.14.1
- devices test on: Mi 4i
- developing environments
   - NDK version:
   - Xcode version: using Visual Studio and Android Studio
   - VS version: Version 14.0.25431.01 Update 3

Intro:
We are creating a scene that plays a 360 video that can be viewed 1) like other 360 videos in Facebook or Youtube and 2) using vr. To achieve this, we loaded a .csb file containing