[2016-02-25 02:08] zilongshanren commented on #15110
@robslove  I have fixed in v3.11, please tell me after apply the fix, thanks.

[2016-02-25 02:23] slackmoehrle commented on #15107
This is being fixed.

[2016-02-25 02:45] icecity96 opened #15111 "When make get error：‘isnan’ was not declared in this scope"
When I make I got the following error：

[code]

OS:Arch linux
Compiler: GNU 5.3.0

[2016-02-25 03:06] #15110 closed, assigned to nobody

[2016-02-25 05:56] #15100 closed, assigned to zilongshanren

[2016-02-25 07:49] iSuneast opened #15115 "Support loading .psd file"
I wonder why cocos2d doesn't support .psd file now?

I have checked the code, and noticed that when I create a sprite by calling `Sprite::create(const std::string& filename)`. This function would finally call `Director::getInstance()->getTextureCache()->addImage()` to load the texture file.

However, the comment said, `* Supported image extensions: .png, .bmp, .tiff, .jpeg, .pvr.`. There is no ".p

[2016-02-25 08:48] #14910 closed, assigned to nobody

[2016-02-25 08:51] semgilo commented on #12459
@pandamicro how about the issue now?
@zilongshanren

[2016-02-25 14:01] pixmaster commented on #15106
Solution: need install lzma tool.
Maybe need specify dependencies?

[2016-02-26 05:13] takumi-shimomura opened #15119 "Can't resume application by CCConsole on iOS."
Can't resume application by `director start` after executing `director stop` command on CCConsole.
`director pause` and `director resume` pair is too.
`Director::mainLoop` is never called after executing `director start`.
This probrem is recoverable by going to background(taskmgr) once.

Both  iPhone and iOS simulator have that problem. (XCode7, iOS 9)

[2016-02-26 07:19] liketemple commented on #9471
DrawNode still could not fadeOut at v3.10, hope to see this feature at v4.0. However not see it in the v4.0 alpha.

[2016-02-26 11:30] eranzhao opened #15124 "Provide flatbuffer schemes for custom edit?"
There's a lots of generated code in cocos2dx for serialization, such as CSParseBinary_generated.h. The generated protocol is not full and complete, and we need to update them for making advanced prefabs. But I can not find the flatbuffer schemes, should cocos2dx provide these schemes?

[2016-02-27 07:27] xiaofeng11 commented on #15124
Sorry, these files are belong to CocosStudio project, and CocosStudio is not an open source project.

[2016-02-27 10:25] rmuratov commented on #14961
@Dimon4eg Also helped me on Linux Mint 17.1, thanks

[2016-02-27 15:04] praubic commented on #11889
I had similar crash. It was caused by the fact that I connected a monitor to my mac book (mirrored display). It doesn't occur when the monitor is disconnected or when the mac book is folded/closed while the monitor is connected. Do you have two monitors connected to your mac ?

[2016-02-27 18:42] RizkiePratama commented on #15115
I'm not sure, PSD not just storing image/color data, it also store other data needed by Adobe software suite. and As far as i know cocos directly load the asset and process it on runtime. If it's going to have a psd support i think it best to have / create some custom asset database and pack it into something cocos2d can read when compiling.

unless you think you'll getting benefit from using psd

[2016-02-27 19:10] CodeAndWeb commented on #11889
The problem is indeed related to 2 monitors. I have a Retina iMac with a standard non retina monitor. After removing the external monitor the problems stopped.

[2016-02-27 19:12] chmyaf opened #15129 "Fails on linking android application."
In 3 version from git repository build and run for linux and win32 platforms is correct.

But, build for android:

$ cocos new FirstApp -p com.my.cocos.firstapp -l cpp -d projects
$ cd projects/FirstApp
$ cocos run -p android -j 4
. . .
[armeabi] SharedLibrary  : libcocos2dcpp.so
/home/opt/cocos2d-x/projects/FirstApp/proj.android/../cocos2d/cocos/./base/CCDirector.cpp:981: error: undefined referen

[2016-02-28 05:45] iSuneast commented on #15115
Hi Rizkie,

Thank you so much for your reply. :>

As you may know, most of the designers use photoshop to create the sprite. It would simply be more convenient if cocos does support loading psd, since we don't want to export png for every psd. Moreover, we don't want to maintain multiple copies of a sprite (psd version and png version).

You said, "it would be bad for the production". Do you mean

[2016-02-28 14:09] RizkiePratama commented on #15115
Well, indeed it will be much easier for the designer comparing to export it to other format each time you create new asset. but just like i said, cocos load asset diretly as the developer give, ex: if you have the texture as a png, the you will be easily get that png file on final version on the asset folder. The same goes for other format, including psd file. Unless you don't mind to expose the y

[2016-02-29 07:25] m-yukio opened #15131 "Request for createWithXML() of RichText"
- I want to set the default value.
  - color
  - font size
  - font face
- I want to set values (color, size, face, etc) of the font in the A tag.
- I want to extend the hyperlink. For example, the callback can be registered.
  - For example, I want to go to the scene.
- I want to add own tags.

[2016-02-29 07:33] zilongshanren commented on #15131
@m-yukio
It's already there in the latest v3 branch, please check... @ricardoquesada  did this, cheers :smile:

[2016-02-29 07:52] m-yukio commented on #15131
@zilongshanren
sorry, this request is for the latest v3 branch.

[2016-02-29 07:59] piotrros commented on #14685
This is a serious bug! I know 6.0 is still on < 0.5% devices, but some day it will be on most of devices.

[2016-02-29 13:12] larsven commented on #11742
We are seeing this in 3.10 too. Often together with unreadable text or missing shadows.

Only on Android.

[2016-02-29 15:48] RequiemSouls opened #15137 "error while loading shared libraries: libfmod.so.6 in Debian"
OS: Debian 8
version: cocos2d-x-3.10

when I build over I got this error:

I did anything I can.

execute install-deps-linux.sh again and again.
but it still error. somebady can help me?

[2016-02-29 15:57] RequiemSouls commented on #14961
hello @mozartalouis
how did you fix this bug?
I did cp libfmod.so /usr/local/lib/ and ln -s libfmod.so libfmod.so.6
but it's still doesn't work.

[2016-02-29 16:05] madebymozart commented on #15137
http://discuss.cocos2d-x.org/t/error-while-building-for-linux-libfmod-so-6/26553/12

Make sure after you copy the files you run ./install-deps-linux.sh again

[2016-02-29 17:36] Dimon4eg commented on #14961
Hi @RequiemSouls
Did you try my solution described above?

@mozartalouis Why did you close the bug? Is it fixed?

[2016-02-29 18:38] slackmoehrle commented on #8545
@rustybox so the info.plist I provided is not enough. Actually, in testing, I got rid of it completely and just made the Launch Images according to the sizing Apple provides. Now, every device works, portrait and landscape and I have native resolution on 6P and iPad Pro. So I think the proper fix for us it to re-do our Launch Images and name them more precisely.

[2016-02-29 23:07] dimitarpetrunov opened #15139 "js bindings android Segmentation Fault Facebook Plugin"
This is the call from js code:

plugin.FacebookAgent.getInstance().api("/me/apprequests", plugin.FacebookAgent.HttpMethod.GET, function (code, response) {cc.log(JSON.stringify(response))}):

It crashes only in android and not in ios. In order to reproduce it do 3-5 subsequent .api calls.
I'm using cocos2d-js 3.10 with NDK r10c.

Here is the call stack for the seg fault:

`js::jit::AutoFlushICache:

[2016-03-01 01:31] zilongshanren commented on #15131
@ricardoquesada  Thoughts?

[2016-03-01 11:44] RequiemSouls commented on #14961
@Dimon4eg
I try your solution. but it's still error.
How according to the print message to check the operating is success.
I never get error when execute install-deps-linux.sh

[2016-03-01 11:52] jramstedt commented on #15019
changing

[code]

to

[code]

fixes the problem.

[2016-03-01 14:40] oilandrust commented on #10457
Confirmed that I had the same issues on some mac devices, GLContextAttrs GLView::_glContextAttrs = {8,8,8,8, 16, 0}; makes more sense in my opinion, this should be changed.

[2016-03-01 15:12] RequiemSouls commented on #14961
W: Failed to fetch http://ppa.launchpad.net/ubuntu-toolchain-r/test/ubuntu/dists/jessie/main/binary-i386/Packages  404  Not Found
I found this error when I execute`install-deps-linux`
this is the cause of the error?

[2016-03-01 17:46] xdeop commented on #8305
Hi,
Any update to fix this issue?

[2016-03-02 02:01] kimnamcham commented on #8305
same problem on v3.10 cpp, device is sky a870. Any update to fix this issues?
![render_issues](https://cloud.githubusercontent.com/assets/6441065/13448380/664d654c-e055-11e5-8a38-f13a1e81c86c.jpg)

[2016-03-02 02:53] cnogo opened #15147 "AssetsManagerEx为何不加入设置超时接口？感觉也是一个通用功能啊"

[2016-03-02 03:03] darkdukey commented on #8305
If you experience this issue on android, try make sure you're modifying the label in the cocos2d-x thread, a easy way to do that is using following code.

[code]

[2016-03-02 03:59] kimnamcham commented on #8305
cocos2d::Director::getInstance()->getScheduler()->performFunctionInCocosThread([=](){
// put your code here.
}

Thanks. I will try it.

[2016-03-02 04:12] NathanSweet commented on #14955
Fixed in spine-c, thanks.
EsotericSoftware/spine-runtimes@93db323ed2a551b34b077778d92be7c7b1d506fc

[2016-03-02 10:13] geometrydash commented on #15137
Very interesting blog. Alot of blogs I see these days don't really provide anything that I'm interested in, but I'm most definately interested in this one. Just thought that I would post and let you know. [geometry dash](http://geometrydash.co/)| [sniper games](http://snipergamesaz.com) |[happy wheels demo](http://happywheels10.com) | [happy wheels 2](http://happywheels2.co/) |[agario](http://agar

[2016-03-02 10:14] geometrydash commented on #15124
Very interesting blog. Alot of blogs I see these days don't really provide anything that I'm interested in, but I'm most definately interested in this one. Just thought that I would post and let you know. [geometry dash lite](http://geometrydash.co/)| [sniper games](http://snipergamesaz.com) |[happy wheels](http://happywheels10.com) | [happy wheels 2](http://happywheels2.co/) |[agario](http://agar

[2016-03-02 10:15] geometrydash commented on #15107
Useful information.I am actual blessed to read this article.thanks for giving us this advantageous information.I acknowledge this post.and I would like bookmark this post.Thanks [five nights at freddy's 3](http://fivenightsatfreddysaz.com/five-nights-at-freddys-3)  [five nights at freddy's 4](http://fivenightsatfreddysaz.com/five-nights-at-freddys-4)  [five nights at freddy's 2](http://fivenightsa

[2016-03-02 11:09] xiaofeng11 opened #15154 "cpp-tests crash at Scene 8 - 11 in Node:SpritePolygon"
@ricardoquesada Please take a look on this issue.

When onTouchMoved called, these test scene will crash. It occur on all platform.

And when initSprites function in SpritePolygonTestNoCrash test case called, it will crash on Windows platform.

[2016-03-02 13:16] MatthewPringle opened #15155 "3.9 and 3.10 do not work on iOS Safari"
3.9 and 3.10 do not work in iOS Safari.

You can see this bug in action by downloading the html5 version ( lite or full ) and viewing the HelloWorld.html page in Safari.

The issue is that Safari won't append styles to the body. This causes a crash and the app stops running.

line 878 of the uncompressed, full version of cocos2d-js-v3.10.js

878 document.body.appendChild(fontStyle);

Change to

87

[2016-03-02 18:01] slackmoehrle commented on #15155
@pandamicro can you take a look at this? I talked with Matthew yesterday on the forums and it seems like this needs attention.

[2016-03-03 02:46] ricardoquesada commented on #15131
yep, we already implemented something like that. Please, take a look at this test case:
https://github.com/cocos2d/cocos2d-x/blob/v3/tests/cpp-tests/Classes/UITest/CocoStudioGUITest/UIRichTextTest/UIRichTextTest.cpp#L438

Search for "createWithXML" in that file. It supports the `<a href>` tag as well.
Closing this issue. Please, reopen it if you think a particular feature is missing. thanks.

[2016-03-03 02:46] #15131 closed, assigned to nobody

[2016-03-03 17:41] chaoren opened #15172 "Why is there a DEBUG_MODE option wrapping around CMAKE_BUILD_TYPE?"
See here: https://github.com/cocos2d/cocos2d-x/blob/v3/CMakeLists.txt#L98

This is a bit problematic for systems that expect a standard way to configure a CMake project. I.e., `-DCMAKE_BUILD_TYPE=Debug` or `-DCMAKE_BUILD_TYPE=Release`. Is setting `CMAKE_BUILD_TYPE` directly insufficient for this project?

[2016-03-03 17:55] chaoren commented on #15172
Since the option is already out there, I think wrapping it around `if(NOT CMAKE_BUILD_TYPE)` would be a good idea to maintain backwards compatibility while preventing a manually specified `CMAKE_BUILD_TYPE` from getting overwritten.

[2016-03-03 18:01] VivekFitkariwala commented on #12447
Any update on this issue?

[2016-03-03 19:16] xdeop commented on #8305
Hi,
I think I've found my problem. I've removed: _eventDispatcher->removeAllEventListeners();
I had in my code, and its not occurring anymore now! I don't know why it affected because this instruction was called time before pausing the app.

Thanks!

[2016-03-04 00:54] uxdxdev opened #15173 "Windows 10 http request not working"
There is an issue with 'HttpRequest' on Windows 10. To get it working I have added a custom header setting `Content-Type: application/x-www-form-urlencoded\r\n` but this does not work with Win32. Removing the custom header works for Win32, Android, Windows8.1 & 8.1 Phone.

[2016-03-04 03:19] martianma opened #15176 "AssetsManagerEx有严重问题，3.10的代码如果下载到一半关了APP，在打开会判断下载完成了"
现在下载了一个version就放在那里了，关掉后又起来version之前的verison已经下载好了，然后判断一下version相同就跳过下载了，其实上次下载还没有完

[2016-03-04 04:35] #15176 closed, assigned to nobody

[2016-03-04 06:55] 1078559858 opened #15182 "内存泄露：removeTimeline"
cocos 3.10 c++

void ActionTimeline::removeTimeline(Timeline\* timeline)
{
int tag = timeline->getActionTag();
if (_timelineMap.find(tag) != _timelineMap.end())
{
if(_timelineMap[tag].contains(timeline))
{
timeline->retain();// 增加
_timelineMap[tag].eraseObject(timeline);
_timelineList.eraseObject(timeline);
timeline->setActionTimeline(nullptr);
timeline->release();// 增加
}
}

[2016-03-04 07:01] xiaofeng11 commented on #15182
Latest v3 brach have already fix this issue, new code is
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/editor-support/cocostudio/ActionTimeline/CCActionTimeline.cpp#L287

[2016-03-04 11:05] larsven commented on #11596
In our project a CC_EDIT_BOX_PADDING value of 35 is optimal.

So, yes, an API to customize CC_EDIT_BOX_PADDING would be great!

[2016-03-04 13:23] xdeop commented on #15072
Hi,
I think I've found my problem. I've removed: _eventDispatcher->removeAllEventListeners();
I had in my code, and its not occurring anymore now! I don't know why it affected because this instruction was called time before pausing the app.

Thanks!

[2016-03-04 18:53] larsven commented on #13139
This appears to be a problem with iOS in general - not just iPhone 5.

[2016-03-04 20:02] TitanChris opened #15184 "DrawNode -> setting shader uniforms on GLProgramState does not work"
You can setGLProgramState() on a DrawNode, but any uniform variables you set will not be passed in to the shader.  (I have verified this using a fragment shader.)

[2016-03-04 20:04] TitanChris commented on #15184
I believe the problem is that DrawNode::onDraw() calls:

[code]

When instead, it should be calling:

[code]

(I am providing this description of the fix, rather than a pull request, because although this patch works for me, I am not in a position to run and verify all the cocos2d tests, sorry....)

[2016-03-04 22:11] ricardoquesada commented on #15172
fixed https://github.com/cocos2d/cocos2d-x/pull/15186

[2016-03-04 22:11] #15172 closed, assigned to ricardoquesada

[2016-03-05 05:59] icecity96 commented on #15111
I have solved this problem,just using std::isnan repalce isnan...
[see here](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=48891)

[2016-03-07 09:57] pwang08 opened #15193 "Failed to play background music on Android"
I found a bug of Playing backgroudn music on Android. Please check the attachment.
![63db5578-3b41-4457-b7b4-a823c070e55f](https://cloud.githubusercontent.com/assets/5799825/13565939/05d500fc-e48e-11e5-8399-e8da7783671f.png)

[2016-03-07 09:59] pwang08 commented on #15090
I have fixed this issue, check this:   #15193 .

[2016-03-07 12:49] zartako opened #15199 "Load sprites in XCode 7.3 Beta"
If I try to load a sprite it fails with this error on the console:

libpng error: CgBI: unhandled critical chunk.

Everything works fine when I run it on simulator, only happens when running in device. If it might help, I am using Xcode 7.3 beta and iOS 9.3 beta. Downgrading to Xcode 7.2 solve the problem.

[2016-03-07 18:12] perminovVS commented on #15173
try to remove \r\n

[2016-03-07 18:21] perminovVS commented on #15129
It method added https://github.com/cocos2d/cocos2d-x/commit/d122784ad4cb997feae8875723983da61bd49fe4

Check cocos\network\Android.mk WebSocket.cpp

[2016-03-07 18:34] uxdxdev commented on #15173
So the content-type needs to be set explicitly?

[2016-03-07 18:37] perminovVS commented on #15173
@damorton winrt parse headers string on key and value.
potentially remove \r\n can help you

[2016-03-07 20:25] uxdxdev commented on #15173
@perminovVS Thanks that did the trick.

[2016-03-07 20:25] #15173 closed, assigned to nobody

[2016-03-07 21:32] tapblaze opened #15206 "Bug: Audio Engine Freezes game on Android 5.1.1"
Running on Cocos2d-x Version 3.8.1 and sometimes game will freeze on Android 5.1.1 device with following logcat:

`03-08 00:15:28.213: E/libOpenSLES(2618): frameworks/wilhelm/src/android/AudioPlayer_to_android.cpp:410: pthread_mutex_lock_timeout_np returned 110`

[2016-03-08 06:40] kimnamcham commented on #14178
same problem with samsung galaxy tab 4, fps always about 25 ~ 30

[2016-03-08 07:59] tungnt11 opened #15208 "[CocosJS v3.8.1] cc.spriteFrameCache removeSpriteFrame not Free memory !"
Hi team Cocos, I have a problem similar issues in this link:
http://forum.cocos2d-objc.org/t/removing-sprite-sheet-plist-and-textures-pvr-not-freeing-up-memory/13949
My game use very much of image, and i use a lot of plist file and big png file.

[2016-03-08 11:00] elloop opened #15210 "logForOpenGLShader() and logForOpenGLProgram() in CCGLProgram.cpp have some flaws"
I've been using cocos2d-x v2.2.3 for a long time. Recently, My cocos program crashed on Windows because of the call of logForOpenGLObject() function when I have some errors in my shaders. Then I checked v3 branch, and I found that the problem have been fixed already. However, I've found that these two functions : `logForOpenGLShader()` and `logForOpenGLProgram()` have some flaws:

[code]
1. I thin

[2016-03-08 11:50] TheSachin opened #15211 "Please fix issues or close non required ones"
Apparently the number of issues are staggering 800 plus and close to 900.
I understand that some of them are false positives. But please close the non required ones or fix the ones which are buggy.

[2016-03-08 12:21] rosone opened #15212 "help for add cocos2dx framework source to vs2015 project"
I'm new to c++.

I need change some of the cocos's code, so I want to rebuilt win32 sln in my vs2015 on windows 2008 server, however I built coco's sln successfully after my code updated,

but when I run my project, there is a lot of problem,

so I want to include cocos2dx source code to my project, what should I do?

I've tried add libcocos2d libSpine libbox2d and other 2 proejects that the libco

[2016-03-08 17:35] #15211 closed, assigned to nobody

[2016-03-08 17:36] slackmoehrle commented on #15212
Have you been through this: http://cocos2d-x.org/docs/installation/G/index.html

[2016-03-08 17:37] slackmoehrle commented on #15199
I don't have Xcode 7.3 yet, but I can snag it and try to reproduce this.

[2016-03-09 01:56] m-yukio opened #15214 "The color of the underline is different from the text color."
If use TrueType font, the color of the underline is different from the text color.

[code]

![uilabel](https://cloud.githubusercontent.com/assets/9098173/13622886/8d41cf72-e5e5-11e5-87ba-ac3f82c4a790.jpg)

[2016-03-09 04:32] rosone commented on #15212
yes, completely follow above url. but after I run my projects there are a lot of small things wrong, it worked correct before, like: setViewName(view), I can't read view string.

[2016-03-09 08:54] csy1988525 opened #15216 "Bug:IOS系统下下载文件遇到新建文件夹会失败"
CCDownloader-app.mm 中 downloadTask 接口中，在下载一个新文件夹的文件的时候，不会创建文件夹，而是不停的尝试下载此文件并且报错。请修复

[2016-03-10 01:17] Obg1 commented on #15129
I'm having the same issue, the fix is not working

[2016-03-10 07:19] perminovVS commented on #15129
@Obg1 WebSocket.cpp have closeAllConnections?

[2016-03-10 08:07] redclock opened #15219 "Bugs in Mat4::createLookAt"
I believe the code is wrong for creating a look at matrix.
In Mat4.cpp, code in Mat4::createLookAt:

[code]

should be

[code]

And I got the correct rotation after the modification.

[2016-03-10 08:10] xiaofeng11 commented on #15129
The pr https://github.com/cocos2d/cocos2d-x/pull/15135 will fix this issue

[2016-03-10 10:26] rosone commented on #15212
after 2 weeks struggle, I realized that, I created the coco project with PREBUILD library, then after I change source project it won't affect the library, so I get various funny errors, I download the latest coco studio again, when I create new project, it shows the option: prebuilt or source code, so I create with source code projects, then I can run it successfully.

[2016-03-10 10:26] rosone commented on #15212
after 2 weeks struggle, I realized that, I created the coco project with PREBUILD library, then after I change source project it won't affect the library, so I get various funny errors, I download the latest coco studio again, when I create new project, it shows the option: prebuilt or source code, so I create with source code projects, then I can run it successfully.

[2016-03-10 10:26] #15212 closed, assigned to nobody

[2016-03-10 15:57] pyrosphere opened #15221 "Error when having a class named Game in Win32"
I have a class named `Game`in my project. It has worked on all platforms but now added a win32 project which throws the error: "Game is ambiguous".

It seems to be caused by the line 162 `friend class Game;` in [CCProperties.h](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/base/CCProperties.h#L162) which, as far as I can tell, doesn't do anything at all. I've commented this line and now it wo

[2016-03-11 04:28] redclock commented on #15219
Sorry, it's my mistake. This function is used for creating a view matrix, but not a rotation matrix. I should use Mat4::createBillboard for rotation. Forget this issue :(

[2016-03-11 04:28] #15219 closed, assigned to nobody

[2016-03-11 09:41] zartako commented on #8545
Hi,
@slackmoehrle I managed to fix this issue by copying UILaunchImages in info.plist.

I am designing a game for iPhone6 (1134x750) NO BORDER and as this post stands, the frame size returned is not correct. This is my output in console:

**DesignRes: (1134.000000,750.000000)
FrameSize: (1136.000000,640.000000)
ResSize: (1134.000000,750.000000)
visibleSize: (1134.000000,638.873230)
origin: (0.0000

[2016-03-11 13:19] p-m-j commented on #8545
Does your phone have zoom made enabled?

Sent from my iPhone

[2016-03-11 16:55] slackmoehrle commented on #8545
@rustybox +1 here. When I had Zoom enabled on my phone I did get non-standard sizes being reported.

@zartako I don't have any of this in my info.plist. Just the Launch Images on the file system like I showed above.

[2016-03-12 06:47] wulei opened #15230 "cocosstudio一个场景中，多个相同节点，使用不同的嵌套动画，无法完全播放"
如题，我在cocosstudio中，创建了多个相同的node节点，绑定了相同的csd文件，但是在动画中嵌套播放了不同的嵌套动画（NoLoopAction）

播放出现了问题

[2016-03-12 06:49] wulei commented on #15230
补充一下，原来使用下面版本，是没问题的：
cocos2dx：3.6
cocosstudio：2.3.1.2

有问题的使用版本如下：
cocos2dx：3.10
cocosstudio：3.10

[2016-03-12 07:58] wulei commented on #15084
@xiaofeng11  这里是不是会引起 #15230 问题？

[2016-03-12 08:20] wulei commented on #15230
@xiaofeng11
我跟了一下代码，貌似问题出在
相同的
第一个node innerActiontimeline 返回的是nullptr，就没有走完onEnter
如果是多个，为什么只有最后一个能获取？
所以相同的多个只有最后一个能播放出嵌套动画

void InnerActionFrame::onEnter(Frame *nextFrame, int currentFrameIndex)
{
    if (_node == nullptr)
    {
        return;
    }

[code]

[2016-03-12 08:34] geron-cn commented on #15230
@wulei 这个问题已经修复， 参考这个pr：
https://github.com/cocos2d/cocos2d-x/pull/14888

[2016-03-12 09:10] wulei commented on #15230
@geron-cn fixed it！谢谢~

[2016-03-12 09:11] #15230 closed, assigned to nobody

[2016-03-12 18:18] emadpres opened #15232 "Windows Phone 8.1: Seperate Characters in RTL Label"
Hi
I use below code to show a text :
`auto label = Label::createWithSystemFont("سلام و خداحافظ", "BTitrBold", 24);`
( RTL text like Persian, Arabic and Hebrew)
This code works fine in both `**Android**` and `**iOS**`. But when I run project on `**WindowsPhone8.1-universal**` device, the label shows the characters not only **separated** but also **LTR** , as below screenshot:
![winphone](https://cl

[2016-03-13 12:11] Seryusjj opened #15233 "Rotation3D not working if Sprite3D has a Physics3DComponent or if using PhysicsSprite3D"
Using cocos 3.10
I have an Sprite3D and after creation I add an Physics3DComponent, something like this:
Sprite3D \* sprite = Sprite3D::create("mode.c3b");
Physics3DRigidBodyDes rbDes; //fill data, mass, shape etc
auto physicsBody = Physics3DRigidBody::create(&rbDes);
auto physicsComponent = Physics3DComponent::create(physicsBody);
sprite -> addComponent(physicsComponent);
//sync the node with the

[2016-03-13 19:53] guivanrv opened #15234 "cocos run -p android fails with dlopen failed: cannot locate symbol "atof" referenced by "libcocos2djs.so""
All fresh clean project created with 'cocos create' fails after
'cocos run -p android'. adb logcat returned log similar to
[https://github.com/cocos2d/cocos2d-js/issues/1288](https://github.com/cocos2d/cocos2d-js/issues/1288)

[code]

Using help from [http://discuss.cocos2d-x.org/t/need-help-android-app-crash-on-launch/18908](http://discuss.cocos2d-x.org/t/need-help-android-app-crash-on-launch/189

[2016-03-14 01:31] xiaofeng11 commented on #15084
@wulei #15230 是另外一个问题，返回的Action没有进行clone导致的，已经在其它pr里修复。你可以参考garon-cn在那个issue里面的回复。
如果可以的话请帮忙确认一下合并这两个修复之后是不是相关问题已经解决了，谢谢！

[2016-03-14 13:42] zilongshanren commented on #15234
@guivanrv
I will check this issue tomorrow, thanks for reporting.

[2016-03-14 13:43] #15107 closed, assigned to nobody

[2016-03-14 16:54] rosone opened #15243 "release application in vs2015 to win7 msvcr110.dll is missing dll"
for debug version, missing MSVCP140D.DLL

for relase verson, missing MSVCR110.DLL

could any body tell me how to release coco app in vs 2015?

I've set all build settings to MTd for debug, and MT for release, and use of MFC: use static MFC.

and tried c++ redistributable for vs 2015/2012/2010/2008, no any luck.

[2016-03-14 23:31] Lechindianer commented on #15111
Same problem occurs here with the same architecture. It would be great if this fix would get merged into master. @icecity96: Could you please reopen the issue to fix this issue for all? :)

The isnan <-> std::isnan problem exists in 2 files:  cocos/2d/CCActionCamera.cpp and extensions/GUI/CCControlExtension/CCControlUtils.cpp

[2016-03-15 06:18] cosedahe opened #15247 "ControlSwitch causes crash"
`m_switch = ControlSwitch::create(sp_switch_off, sp_switch_on, sp_switch_off, sp_switch_thumb);`
I don't use 'onLabel' and 'offLabel', but when I run this program, it crashes.
Because in ControlSwitchSprite::initWithMaskSprite(), onLabel and offLabel are added to clipper without checking whether is null or not.

[2016-03-15 08:16] zartako commented on #8545
Thanks for your answers. I am trying all this in simulator and on an iPhone6 without zoom enabled.

In cocos2dx tests, there is an UILaunchImages property in info.plist. I just copied it in my info.plist and then it works like I mentioned.
If I remove UILaunchImages from info.plist, the size returned running in iPhone6 is 1135x640 (iPhone5), no matter which images I have in the file system. Maybe

[2016-03-15 08:52] p-m-j commented on #8545
@zartako for 6s my launch image was named **Default-375w-667h@2x~iphone.png**

[2016-03-15 18:10] crobertsbmw opened #15249 "Error in reference docs"
Right here:
http://www.cocos2d-x.org/reference/native-cpp/V3.2/d7/d7b/classcocos2d_1_1_physics_body.html#a181c3f106c811648c21bcbcad04e2219

It says applyImpulse will add a constant force and that applyForce will add an immediate force. This is backwards. impulse is an immediate force and applyForce applies a constant force.

Thanks for your support. This is a great project.

[2016-03-16 02:57] xpol opened #15250 "规范头文件"
目前 cocos2d-x 的头文件有这些问题：
## 1 搜索路径太多

以 Windows 为例，根据 cocos2d-x/cocos/2d/cocos2d_headers.props 需要搜索的路径有（不包含外部依赖）：

虽然这样内部使用没有问题，但是影响其他项目中使用 cocos 头文件。

完全可以 **只搜索 `$(EngineRoot)cocos** 嘛。其他的就在这个路径上的相对路径进行包含就好了。
单一搜索路径的好处是便于设置编译：比如我要弄一个 Lua 模块，依赖 cocos 的 C++ 代码。我只要设置一个搜索路径就好了。
## 2 没有区分内部和公开头文件

目前没有独立的 include 目录，在代码变迁过程中难免出现有人不小心直接 `#include "abc.h"` 而不是用 `#include "relative/path/to/abc.h"`。

比如 `

[2016-03-16 04:46] icecity96 commented on #15111
I really want to fix it.But if I just simply using `std::isnan` replace `isnan` will cause some problem on windows(window doesn't have `std::isnan`,just `isnan`).So If you use linux, the following command might help you.

[code]

And I think this could be written in CMakefile in some way(I hope, I am not very familiar with CMake) @Lechindianer

[2016-03-16 07:18] harvey2953 opened #15253 "cc.LayerColor设置透明度问题"
在web下设置透明度后会导致这个层附带HTML的body背景颜色

[2016-03-16 14:56] dyegos commented on #15155
Not only on Safari in iOS. All mobile web browsers.

[2016-03-16 15:47] sbrednikhin opened #15256 "Distance of press cancelling for button on scroll view has no interface for changing it."
Distance of disabling widget highlight (and button press state) that is placed to ScrollView is located in variable _childFocusCancelOffsetInInch, but there is no interface for changing that variable.
Are you planning to add it?

[2016-03-16 20:55] lysanntranvouez opened #15257 "cocos2d::extension::ScrollView::removeAllChildrenWithCleanup() should not remove _container"
Since 3.9 removeChild is overridden for ScrollView. The issue is that as part of this change removeAllChildrenWithCleanup will clear all children from the _container, and then remove the _container itself by calling the base implementation.
This will usually remove the last reference to _container, thus making the _container instance variable a dangling pointer.

Setting _container to nullptr is n

[2016-03-16 21:01] lysanntranvouez opened #15258 "cocos2d::extension::ScrollView::setContainer() should not call removeAllChildrenWithCleanup()"
Since 3.9 `removeAllChildrenWithCleanup` is overridden for ScrollView and will now remove all children from the _container.
setContainer calls `this->removeAllChildrenWithCleanup(true)`, which will remove all children of the current container before assigning the new container.

This is unexpected behavior and new to 3.9. I would expect that the current container's children are not removed when ca

[2016-03-17 03:45] zilongshanren commented on #15250
头文件的规范确实很有必要，不过这个修改影响也很大。只能慢慢一点点来完善。楼主可以先提PR，不过尽量不要修改目录结构。

[2016-03-17 03:46] zilongshanren commented on #15256
@sbrednikhin Yeah， we should provide a option to change this value.

[2016-03-17 07:01] wkdtjsgur100 opened #15270 "getRandomObject() issue in Vector"
My develop environment is consist of eclipse, cocos2d-x 3.10, windows 10 64bit and
my android build target is Android 6.0

I want to use getRandomObject() in cocos2d::Vector class.
It works well on win32-platform, but the same code doesn't work in android-platform.
so I track my class's member methods. And figure out rand() function cause this problem.

getRandomObject function in CCVector is:

T

[2016-03-17 11:25] murlock opened #15275 "[cocos2d-x-js][3.10] mismatch between JS and bindings"
At http://cocos2d-x.org/docs/api-ref/js/v3x/symbols/cc.MenuItemLabel.html, it show that class has getString() method to return the string of cc.MenuItemLabel

If you look at http://www.cocos2d-x.org/docs/api-ref/cplusplus/v3x/d5/dc4/classcocos2d_1_1_menu_item_label.html, this method doesn't exist.

When using JS bindings, application will crash due to missing getString binding:

<pre>
        onEn

[2016-03-17 13:05] Super-Man commented on #14077
When the server disconnects 。 the client response disconnect function. Re-connect Crash。
How to reconnect socket ? please give an example 。

sioManager.init = function(){
   sioManager._clientSio = SocketIO.connect("www.xxx.ur",{"force new connection": true });
   sioManager._clientSio.on("connect",function(){
   });
  sioManager._clientSio.on("disconnect",sioManager.disconnect);
};

sioManager.di

[2016-03-17 13:33] ZeroHackeR commented on #14077
@Super-Man what is your cocos version? make sure your socketio.cpp has the fixes as above...

and try to add some delay before calling init...

[2016-03-17 13:45] ZeroHackeR commented on #15275
I am not sure

MenuItemFont and MenuItemLabel

are the same. Please check them first.

[2016-03-17 13:49] ZeroHackeR commented on #15275
Confirmed they are two different classes.
You are using Font class which does not have getString().
http://www.cocos2d-x.org/reference/html5-js/V3.8/symbols/cc.MenuItemFont.html

[2016-03-17 14:45] murlock commented on #15275
But it is cleary said in your link that

<pre>
Methods borrowed from cc.MenuItemLabel:
    getString
</pre>

And it works in browser but crashed with JS bindings

[2016-03-17 23:55] bretsko commented on #14961
Why is this bug closed? By the way @Dimon4eg solution is working perfectly fine on my Debian machine.

[2016-03-18 02:08] Super-Man commented on #14077
@ZeroHackeR  I try to disconnect the response received when a record label, indicating disconnected. Then call disconnect (); time to get in the timer status is disconnected, go to init () but the connection again, unsuccessful.
And call disconnect (),the project will be crash.

this is my code

var sioManager = sioManager || {};
sioManager._sioClient = null;
sioManager.connectState = 1; // 0: con

[2016-03-18 03:20] xpol commented on #15250
不改目录的话，1 和 3 可以实现，4 的话需要将 ccTypes.h 这样的头文件分成多个小文件，然后把引用的地方改成引用那些小的头文件。

[2016-03-18 04:50] xpol commented on #15250
随便吐槽一下：

PR 到是没问题，就是不知道猴年马月能处理或者合并啊，这样很影响提 PR 的积极性啊。

去年的 cocos2d-x 相关的 PR 有将近20个没有处理：

https://github.com/cocos2d/cocos2d-x/pulls/xpol
https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pulls/xpol
https://github.com/cocos2d/cocos2d-console/pulls/xpol
https://github.com/cocos2d/bindings-generator/pulls/xpol

有些连零回复都没有消灭。倒不是要求每个都能合并，不合适的 close 就行啊。

[2016-03-18 05:23] zilongshanren commented on #15250
@xpol 唉。。。 一个人处理不过来呀。。。

[2016-03-18 06:01] ZeroHackeR commented on #14077
@Super-Man  I think, you don't need to call sioManager._sioClient.disconnect() as socket must be already disconnected to reach to "disconnect" event handler.

All the best and I'm already using Socket.IO in two of my games and they are working fine.

Good Luck Bro!

[2016-03-18 06:01] dumganhar commented on #15270
Good point, could you please send a Pull Request for this? Thanks.

[2016-03-18 06:23] Super-Man commented on #14077
@ZeroHackeR
thank you!
I'll try, but found again in the timer init (), the connection is unsuccessful. SocketIO and no reconnection mechanism ..
I want to reconnect it, how?   Can you give me some advice?

[2016-03-18 06:25] ZeroHackeR commented on #15275
You were right. But, the problem is we don't even have `getString` in core.

Check:
[CCMenuItem.cpp](https://github.com/cocos2d/cocos2d-x/blob/ca836aa5cba596a6d542ccda8aab6d4311bd6601/cocos/2d/CCMenuItem.cpp)

Add this at line 232:

[code]

[2016-03-18 06:26] xpol commented on #15250
雇佣我嘛，远程 :smile: 。

[2016-03-18 06:39] ZeroHackeR commented on #14077
Here're my codes (not full version) using Cocos 3.8 (with custom socketio.cpp fix as above)

[code]

[2016-03-18 06:40] zilongshanren commented on #15250
@xpol  我不是老板。。 我给你合了bindings的PR，还有一个生成lua ctags的，你回复一下吧。怎么用你那个patch来生成tags?

[2016-03-18 06:42] zilongshanren commented on #14101
@xpol  This PR seems good, but I'm not sure whether we really need this feature and it will add a .classname field to every meta table created by toulua c++, I think it's not a good idea..

Someone might not want to have this feature..

[2016-03-18 06:44] Super-Man commented on #14077
@ZeroHackeR  OK , i'll check my codes。 thank you !

[2016-03-18 06:49] zilongshanren commented on #15275
@ZeroHackeR
Do you mean in JS, the menuItemLabel class has the `getString` method and in JSB it doesn't?

[2016-03-18 06:49] zilongshanren commented on #15275
@ZeroHackeR  I have confirmed your issue, I will fix it later, thanks.

[2016-03-18 06:52] ZeroHackeR commented on #15275
@zilongshanren  My pleasure.. as always... :)

[2016-03-18 09:29] murlock commented on #15275
Thanks guys :)

Do I have to close the issue or it will be done with 3.11 release ?

[2016-03-18 09:32] zilongshanren commented on #15275
@murlock  I think you could close this issue now.

[2016-03-18 10:17] #15275 closed, assigned to nobody

[2016-03-18 13:58] shauket commented on #8399
one body should be setDynamic true

body->setDynamic(true);

[2016-03-18 16:24] wkdtjsgur100 commented on #15270
I sent a pull request.. please check :)

[2016-03-19 12:36] Michinin commented on #15075
I have the same issue - crashes when open file csd on CocosStudio 3.10, Win10
I tried re-install but nothing changes

[2016-03-20 11:53] pulidoEuge opened #15280 "How to clear or delete UserDefault"
I simulate my app in both IOS and MAC. I can easily delete saved UserDefault data on IOS but i dont know how to do it in MAC simulator. I can't also find the UserDefault.xml in /Library/Caches or in /Documents..

I also tried clean then building the app but no avail.. Pls help

[2016-03-21 09:37] KJTang opened #15283 "Bugging when use setPhysicsBody and runAction(Animate*) at the same time"
for a example, when write the code below(PhysicsWorld was created and inited successfully):

[code]

compile and run with cocos2d-x v3.10, the sprite will move fastly from the center of screen to the
bottom left corner and disappear;
but compile and run with cocos2d-x v3.7.1, it works fine.

[2016-03-21 18:17] slackmoehrle commented on #15199
XCode 7.3 final comes out today. I will try with this version. Beta 5 seemed to work.

[2016-03-21 18:22] slackmoehrle opened #15288 "Older Coco Studio binaries are crashing in v3.10"
v3.10. Tried using source and also creating a new project using Cocos Launcher.

This repo: https://github.com/chukong/CocosStudioSamples

clone it and try and build the iOS project. It will run and you will crash at the first `.csb` it tries to load.

Users are complaining about this and also starting to experience this in their own projects. Older Cocos Studio files are not working in newer Coco

[2016-03-21 18:24] slackmoehrle commented on #15280
UserDefault.xml lives where `getWriteablePath()` returns. Take a look where this is using the debugger and then navigate to it on your file system.

[2016-03-21 18:26] slackmoehrle commented on #15104
Can you tell me how I would reproduce this? Running `cocos new` has a **deployment target** of iOS 6 and it works for me in simulator and on hardware.

[2016-03-21 18:29] slackmoehrle commented on #15288
@xiaofeng11 has had a thread here: https://github.com/cocos2d/cocos2d-x/issues/15075 and there is no resolution. He is recommending updating drivers for an ATI card, which OS X users cannot do (under normal use circumstances and assuming their Mac has an ATI card even), as Cocos Studio needs hardware acceleration.

I'd say this is a known issue and we need to look into a proper fix as user complai

[2016-03-22 06:54] #12044 closed, assigned to zilongshanren

[2016-03-22 07:05] rws08 commented on #15199
I have this problem too. using Xcode 7.3(7D175) and iOS 9.3.

 CCImage.cpp

[code]

[2016-03-22 07:19] minggo commented on #14913
Hi Riq, what's the status of this issue?

[2016-03-22 07:35] secredut commented on #15199
I also have same problem with Xcode 7.3 and iOS 9.3.

[2016-03-22 08:41] ValeryKV opened #15297 "cocos2d-x-3.10 JS leaks on iPad."
Hi,

My demo application leaks about 100Kb every 20 seconds on real device. I thought that it could be because of garbage collector, but I waited during 20 minutes.

Here are my steps:
1. I used Cocos.app v 3.10. I created new JS project with precompiled libraries.
2. I added the code to create new sprite, move it, remove from parent and do all in a loop.
3. When I run the app the memory was 25.1M

[2016-03-22 10:12] Super-Man commented on #14077
@ZeroHackeR   Very helpless！
I try to reconnect delay also checked cocos version, and socketIO.cpp, .h file. With the 3.8 version of the same. But recall init (), or cause the application to crash, and the connection is unsuccessful.

[2016-03-22 10:18] pabitrapadhy commented on #15288
It crashes in Android as well.

[2016-03-22 15:08] ValeryKV opened #15305 "cocos2d-x-3.10 JS compiled version (.jsc) leaks on iPad."
Hi,

Simple JS project with compiled files (jsc) and empty scheduleUpdate function leaks.
It leaks about 100K every 15 seconds.

Steps to reproduce:
1. Run Cocos.app. Create new JS project with "Precompiled Library".
2. Open Terminal. change dir to the root of your new project where there are 'src' and 'res' folders.
3. Compile cocos sources: "cocos jscompile -s script -d lib/script".
4. Compile t

[2016-03-22 15:31] slackmoehrle commented on #15199
Thanks. I am downloading the latest XCode 7.3 build. Takes me quite some time.

[2016-03-22 16:20] ValeryKV commented on #15297
I was wrong. The problem is in incorrect using of "delsprite" function. It must the following:

[code]

This version does not leak.

Should I close the issue?

[2016-03-22 16:22] zilongshanren commented on #15297
@ValeryKV  If it's a misreport, I think it's "Yes".. you could close this issue.

[2016-03-22 17:14] ricardoquesada commented on #14913
@minggo  some of the improvements mentioned on that thread were added into the renderer. the others shouldn't be part of v3.x. closing it implemented.

[2016-03-22 17:14] #14913 closed, assigned to ricardoquesada

[2016-03-22 19:30] slackmoehrle commented on #15199
set:
Remove Text Metadata From PNG Files = NO.

[2016-03-22 23:30] secredut commented on #15199
Thanks! It works fine :)

[2016-03-23 00:24] Almax27 commented on #12869
This was an issue for me too, the above suggested fix does seem to work for most simple transitions but I don't have the time to test all of them.

[2016-03-23 01:08] rws08 commented on #15199
Thanks!

[2016-03-23 03:42] minggo opened #15307 "Windows 10 UWP fixes"
A new issue for this #15228

[2016-03-23 03:52] Super-Man opened #15308 "cocos2dx-js v3.6 scrollview 里面加了一个 sclippingnode 裁剪的node，滑出显示区域还是显示。"
项目是cocos2dx-js v3.6版本， 在scrollview 里面 addchild 一个 clippingNode裁剪出得node，滑动scrollview的时候 这个裁剪的node显示有问题..！ 我知道最新版本的cocos 是解决的这个问题，但是我们项目不能换新引擎。 我想问 主要修改了哪些地方... @zilongshanren

[2016-03-23 05:13] ValeryKV commented on #15297
Invalid. Close.

[2016-03-23 07:31] ValeryKV commented on #15297
Reopen. My previous comment about declaration `delsprite: function(self, sprite)` was wrong. (I am sorry. It was hard day yesterday.)
So my original code is correct with one note: it is not mandatory to pass sprite in `cc.callFunc(this.delsprite, this, sprite)`, because `delsprite` will be called with it as I run action on it.

[2016-03-23 08:07] ryukbk opened #15309 "Can't compile with NDK r11 for Android"
With NDK 11.1.2683735 (r11) which comes with Android Studio 2, building a project by "cocos compile" with --app-abi x86 fails by make errors that wrongly assumes it's toolchain 4.8 (4.9 is correct) and tries to find Android/sdk/ndk-bundle/toolchains/x86-4.8/prebuilt/darwin-x86_64/bin/x86-g++.

[2016-03-23 08:33] 1scaR1 commented on #15309
Use --ndk-toolchain flag to specify Android Toolchain version(type full name, for example : arm-linux-androidabi-4.9)
It will solve your problem, but there is another one: it wouldn't compile because of some changes in r11 and you will get such error:
_Error:error: undefined reference to '__page_size'_

[2016-03-23 08:48] ryukbk opened #15310 "Compile errors with APP_CPPFLAGS := -std=c++14 and APP_STL := c++_static on Android"
With APP_CPPFLAGS := -std=c++14 with APP_STL := c++_static in Application.mk for x86 Android build, I got the following errors.

`Library/Android/sdk/ndk-bundle/sources/cxx-stl/llvm-libc++/libcxx/include/tuple:290:102: error: invalid initialization of reference of type 'cocos2d::AsyncTaskPool::ThreadTasks::ThreadTasks()::<lambda()>&' from expression of type 'const cocos2d::AsyncTaskPool::ThreadTas

[2016-03-23 09:23] ryukbk commented on #13644
Is there any roadmap for the migration to c++_static on Android? If it's nearer than C++14 support there's this issue for using c++_static with C++14
https://github.com/cocos2d/cocos2d-x/issues/15310

[2016-03-23 09:58] Yehsam23 commented on #12882
Does any other solution if i don't have TexturePacker v4 ?
Maybe we need add generate SpriteFrame AutoPolygon method?

Thanks

[2016-03-23 14:37] Nanyx commented on #15155
Run into the same problem. We currently using 3.10

Do you know a quick way to fix it ? I don't think regression will work, we use cocos studio 3.10 for all the visual integration.

Thanks ;)

[2016-03-23 14:40] MatthewPringle commented on #15155
line 878 of the uncompressed, full version of cocos2d-js-v3.10.js

878 document.body.appendChild(fontStyle);

Change to

878 document.head.appendChild(fontStyle);

[2016-03-23 20:07] stammen commented on #15307
@minggo @ricardoquesada Fixed in PR https://github.com/cocos2d/cocos2d-x/pull/15311

[2016-03-23 23:55] jstock78 commented on #14466
@robslove are you setting a custom font?  I encountered a similar problem while attempting to use a custom font, where I had set the font name incorrectly.  I found that my custom size was getting overwritten by the default (huge in my case) size.  I modified EditBoxImplIOS::constructFont to log instances where the custom font is set incorrectly and default back to the system font.  Here's my chan

[2016-03-24 01:06] emmychen opened #15312 "webview does not load the external link on iOS cocos2d-x 3.10"
webview does not load the external link on iOS cocos2d-x 3.10 using js. It works fine on web browser.  Have not tested on android yet!

Run the js-test, got the same result, no external link loaded.

[2016-03-24 01:48] minggo commented on #15307
@stammen Thanks.

[2016-03-24 01:55] minggo commented on #13644
@ryukbk There is not plan to change it. Do you meet any problem? I think you can change it in your project if you need it.

[2016-03-24 03:16] linxuanwei commented on #14077
function linxuanwei_sio(_uri){
    this._socket = null;
    this._uri = _uri;
    this._isConnected = false;
}

linxuanwei_sio.prototype.connect = function(){
    var self = this;
    var theSock = SocketIO.connect(self._uri,{"force new connection":true,"reconnection": false});
    theSock.on('connect',function(){
        console.log('>>>> connect Server success');
        self._isConnected = true

[2016-03-24 03:17] linxuanwei commented on #14077
function linxuanwei_sio(_uri){
    this._socket = null;
    this._uri = _uri;
    this._isConnected = false;
}

linxuanwei_sio.prototype.connect = function(){
    var self = this;
    var theSock = SocketIO.connect(self._uri,{"force new connection":true,"reconnection": false});
    theSock.on('connect',function(){
        console.log('>>>> connect Server success');
        self._isConnected = true

[2016-03-24 03:28] linxuanwei commented on #14077
![image](https://cloud.githubusercontent.com/assets/10094722/14007639/85e70808-f1b3-11e5-90c6-ae6ef3d8b313.png)

[2016-03-24 03:40] ZeroHackeR commented on #14077
@linxuanwei @Super-Man

Thanks for reporting guys...
I will check and try to fix them when I got time...

For time being, please try to restart the game if you got disconnected.
`cc.game.restart();`

[2016-03-24 07:15] ryukbk commented on #13644
@minggo With APP_STL := gnustl_static some standard functions such as std::to_string are not available.

[2016-03-24 07:36] fuyifan commented on #14664
I am sorry for this bug. Actually, the audio will not resume any longer no matter you answer or not answer the call. The problem with my issue is caused by some code that invokes the SimpleAudioEngine and this makes the system notifcation to NewAudioEngine stop working. So I recommand cocos should use some mechanism to prevent programmer use both two AudioEngine at the same time. @pandamicro

[2016-03-24 07:36] #14664 closed, assigned to nobody

[2016-03-24 07:40] fuyifan commented on #10965
@umair6  do you use SimpleAudioEngine somewhere in your project, please check. You can simply add breakpoint at the init function of SimpleAudioEngine

[2016-03-24 07:50] umair6 commented on #10965
@fuyifan  No, I dont use SimpleAudioEngine in my project. I double checked by putting breakpoint. It is not getting called from any where.

[2016-03-24 08:26] linxuanwei commented on #14077
@ZeroHackeR  @Super-Man @pandamicro

**I found the reason of crash, after the server rebooted.**

when the server stopped, cocos would call method "SIOClientImpl::onClose()", and
method "SIOClientImpl::onClose" would call method "SIOClient::socketClosed()",

then, cocos would call method "connect", but method "connect" called method "SIOClient::disconnect()".

so bug came ,  method "SIOClient::soc

[2016-03-24 08:44] yaxinhoo opened #15313 "3.9's label with outline&shadow is blend with scene not the background of cocos ui panel"
3.9's label with outline&shadow is blend with scene not the background of cocos ui panel . does someone meet this ?
3.9版本的Label开了阴影和描边之后会和场景混合，而不是跟UI背景混合，导致透过label可以看到场景的内容在动，请问其他版本有人遇到过嘛？

in iPhone simulator & iPhone 6 device.

[2016-03-25 01:42] #15307 closed, assigned to nobody

[2016-03-25 02:39] minggo commented on #13644
@ryukbk But now cocos2d-x tests use `gnustl_static`, and not meet problem. The reason not using `c++_static` is that it will cause .so bigger. And i am not sure if it is a good time to use c++14, does all compilers support it well?

[2016-03-25 06:57] ryukbk commented on #13644
@minggo I do use Android and iOS, they seem to be fine (gnustl_static for Android and libc++ for iOS) with C++14 and I can build Cocos2d-x without errors.

As for Visual Studio, most C++14 features are available in VS2005 and I think most unsupported features are trivial.
https://msdn.microsoft.com/en-us/library/hh567368.aspx#cpp14table

Some parts of C++14 is stricter than C++11, but it looks it

[2016-03-25 09:53] xzben opened #15318 "luaval_to_ccvaluemap 遍历 hash table 的时候如果 key 为 number 就会出现错误"
example:
lua table 为   local tbl = {}  tbl[2] = 100
当在c++中使用  luaval_to_ccvaluemap  时会导致 错误
，看了lua 官方的文档有提到
![image](https://cloud.githubusercontent.com/assets/4037682/14042097/b4573cc2-f2b1-11e5-90a6-94ca95727b0c.png)
在使用 lua_next 的过程中不能对非string类型的key使用 lua_tolstring 如果使用了会破坏 table 的index结构的。

现在的代码只是简单的判断  lua_isstring ，但是在lua 5.1的源码中
LUA_API int lua_isstring (lua_State _L, int idx) {
  int t =

[2016-03-25 15:50] #15199 closed, assigned to nobody

[2016-03-26 11:39] anagorko opened #15320 "Compiling for android with ndk-r11b fails"
It fails with empty cpp  project. The NDK_TOOLCHAIN_VERSION should be 4.9. Here is the relevant error log:

Building native...
NDK build mode: debug
Parse NDK version from file /Users/Monika/Library/Android/ndk-r11b/RELEASE.TXT failed.
NDK_TOOLCHAIN_VERSION: 4.8
running: '/Users/Monika/Library/Android/ndk-r11b/ndk-build -C /Users/Monika/kinf/Cocos/TestGame/proj.android -j4 NDK_MODULE_PATH=/Users/M

[2016-03-26 15:12] dimbonix commented on #15320
As an adhoc, in the root directory of ndk you can create file RELEASE.TXT and write to it text(without quotes): "r11b (64-bit)" or "r11b (32-bit)" depends on what version you are using. It works for me, but i dont know why ndk requires that file. I have found RELEASE.TXT file in previous ndk versions, but ndk11b doesnt contains it.

[2016-03-26 15:14] dimbonix commented on #15309
As an adhoc, in the root directory of ndk you can create file RELEASE.TXT and write to it text(without quotes): "r11b (64-bit)" or "r11b (32-bit)" depends on what version you are using. It works for me, but i dont know why ndk requires that file. I have found RELEASE.TXT file in previous ndk versions, but ndk11b doesnt contain it.

[2016-03-26 19:44] Kotaiba opened #15321 "Label createWithTTF (Arabic font is broken)"
Hi, Arabic font is always broken on createWithTTF ,Arabic font only work on createWithSystemFont .
please look at the image how createWithTTF is broken and createWithSystemFont working fine
![img_1121 copy](https://cloud.githubusercontent.com/assets/3635272/14062097/c544147a-f39b-11e5-87cb-6f79ac83076b.png)

[2016-03-27 03:34] Kiranatus commented on #10313
I'm still here!

[2016-03-27 09:11] leejuen commented on #10313
@Kiranatus  Maybe you need denounce chukong at http://www.zhihu.com/ .

[2016-03-27 16:26] 4ian commented on #15234
@zilongshanren Any news on that issue? :)
Note that an alternative solution is to add:

[code]

inside `frameworks/runtime-src/proj.android/jni/Application.mk`. This also dismiss a warning, displayed when calling `cocos run -p android`, telling that APP_PLATFORM is too high:

[code]

[2016-03-27 16:38] 4ian opened #15322 "Shader uniform update with cc.GLProgram only works with HTML5"
Hi,

I stumbled upon an inconsistency in the usage of Cocos2d between the HTML5 engine and Cocos2d-x with JS bindings. I'm using Cocos2d-x 3.10.

After creating a shader and setting it to a cc.Node, you can update the uniforms it uses using `cc.GLProgram` and its `setUniformLocationWithXXX` functions. This works properly with HTML5, but won't work when the game is run with Cocos2d-x on native plat

[2016-03-27 17:16] anagorko opened #15323 "cocos compile -p mac fails with #include "SimpleAudioEngine.h""
I needed to add

[code]

to HEADER_SEARCH_PATHS in proj.ios_mac/*.xcodeproj/project.pbxproj to get it working.

I see that this path is included in CMakeLists.txt in the project root directory.

[2016-03-27 17:20] anagorko commented on #15320
I downgraded to r10e, which also solves the problem.

I confirm that your workaround fixes the problem for me with ndk-r11b. Thanks!

[2016-03-28 01:53] songwentong opened #15324 "出了个问题,请帮忙看一下"
详情请看图片

 raise ValueError, 'unknown locale: %s' % locale name
![screen shot 2016-03-28 at 9 52 34 am](https://cloud.githubusercontent.com/assets/561644/14069322/d50acb3a-f4ca-11e5-9bdd-f91c70e5e416.png)

[2016-03-28 02:05] zilongshanren commented on #15323
@anagorko  thanks. I will fix this issue later.

[2016-03-28 02:09] xpol commented on #15323
@anagorko
Can you attach full error log please?

[2016-03-28 02:28] zilongshanren commented on #15323
@anagorko

We have cleaned up our header file search path, now all the include should relative to `$engineRoot/cocos` .

~~So please change `#include "SimpleAudioEngine.h" to`#include "audio/include/SimpleAudioEngine.h" "--``~~

I will fix the back compatibility issue.

Thanks.

[2016-03-28 02:29] lifzgreat opened #15325 "PageView addEventListener() doesn't work in Android"
This works in web but not in Android (posted [here](https://github.com/cocos2d/cocos2d-js/issues/1827) but realized that was deprecated). It's possible that it's not necessarily web vs Android but mouse vs touch.

[code]

[2016-03-28 02:45] lifzgreat commented on #14909
I'm sorry if I just duplicated this with #15325. That's for web vs Android but it's the same issue. I see this was just removed from the 3.11 milestone last week. Why is that? The PageView is not currently usable.

Thank you for all you guys do!

[2016-03-28 02:50] zilongshanren commented on #15325
@lifzgreat  The latest v3 has already fixed this issue.

[2016-03-28 02:51] lifzgreat commented on #15325
Is it available on cocos2d-x.org? I had the latest as of not long ago! Or do I need to clone the repo?

[2016-03-28 02:53] zilongshanren commented on #14909
@lifzgreat  it has been fixed in the latest v3 branch, please check...

[2016-03-28 02:54] zilongshanren commented on #15325
@lifzgreat  no, it's not on cocos2d-x.org, you should clone the repo if you want to test it now.

[2016-03-28 02:57] lifzgreat commented on #15325
Ok, I will test it. I will respond with findings here. Thanks for the quick response!

When does the main site get updated with the latest v3 branch?

[2016-03-28 03:00] zilongshanren commented on #15325
@lifzgreat  It will happen in the early April, but I can't promise the exactly release date, lots tests need to be done before we officially announce the release to the public.

[2016-03-28 03:10] lifzgreat commented on #15325
Thanks so much! I am cloning now...wish me luck :)

[2016-03-28 03:24] lifzgreat commented on #15325
Ok, I just cloned the newest v3 branch and ran `coocs run -p android` against the existing project. The PageView's event listener didn't fire. I'm using a PageView from Cocos Studio's UI elements and it works great on web but just not in Android. I can try manually creating the PageView in code again like the code in the initial bug report above.

[2016-03-28 03:26] zilongshanren commented on #15325
@lifzgreat  Which project do you test? I have tested js-tests and it works fine.

[2016-03-28 03:28] lifzgreat commented on #15325
I ran it against my personal project. I will test js-tests on Android again to see if it works.

Do I _have_ to create the PageView in code or can I use Cocos Studio?

[2016-03-28 03:33] jareguo opened #15327 "怪不得 -x 发展这么多年了，每个公司都有一套的版本，但就是不回馈给社区"
因为太难 clone 了，我从来就没成功过，这个项目如果还重视**墙内**用户，请把 clone 好的版本放到**墙内**网盘里让大家下载，否则想提 PR 都没办法。

[2016-03-28 03:37] zilongshanren commented on #15325
@lifzgreat  I think both ways should be working... either in code or with CocoStudio.

[2016-03-28 03:46] litefeel commented on #15327
使用代理会好很多

[2016-03-28 03:48] leejuen commented on #15327
...这都能吐槽啊

[2016-03-28 03:50] lifzgreat commented on #15325
Yes sir, it works perfectly in js-tests. I did notice a couple differences:

[code]

I've always done:

[code]

Also, js-test has a pageview.json file that looks vastly different than the one that was exported from Cocos Studio for me.

[2016-03-28 03:57] zilongshanren commented on #15325
@lifzgreat
The search method you used should working, the code in js-tests might be more time efficient.
I think the core reason doesn't in here, nor does the pageview.json file..

Maybe you should pay attention to the page turn event callback.

[2016-03-28 04:01] lifzgreat commented on #15325
The callback is incredibly simple so this can't be it, right?

[code]

I'm going to remove the /frameworks/runtime-src/proj.android folder and let it compile everything fresh. Maybe the new v3 I cloned isn't compiling certain pieces because they already existed from an old compile.

[2016-03-28 04:04] zilongshanren commented on #15325
@lifzgreat
I suggest you create a new project with `cocos new -l js` and add your code to the newly created project.

I don't quite understand how you are using the v3 branch code to do the test...

[2016-03-28 04:05] lifzgreat commented on #15325
Ok, I will do that if this doesn't work. Just for the sake of information, I moved my old cocos2d-x-3.10 folder to cocos2d-x-3.10_OLD and cloned the v3 branch into cocos2d-x-3.10. So it's using all of the new branch to compile. But I will do what you suggested if this next compile doesn't work :)

[2016-03-28 04:39] lifzgreat commented on #15325
As you suggested, I created a new project and imported my code into the newly created project and it worked perfectly.

Thanks so much for the quick responses! I can't wait for the new cocos to come out to the public. What a fantastic framework.

[2016-03-28 05:48] zilongshanren commented on #15320
@anagorko  maybe it's a bug related NDK...

[2016-03-28 05:49] zilongshanren commented on #15325
@lifzgreat  :smile:  Should I close this issue now?

[2016-03-28 05:50] zilongshanren commented on #15327
@jareguo  这个问题还是关了吧。。 可以去论坛吐槽。。

[2016-03-28 05:51] zilongshanren commented on #15324
@swtlovewtt  你的.bash_profile或者.zshrc文件里面的locale不正确, 改成en_US.UTF-8试试？

[2016-03-28 05:51] zilongshanren commented on #15324
这种问题希望去论坛提问，谢谢。

[2016-03-28 05:55] zilongshanren commented on #15308
@Super-Man  https://github.com/cocos2d/cocos2d-x/pull/14470
主要是修改了clipping node.cpp里面的两个静态变量，UILayout需要和clippingNode共用那两个变量。

[2016-03-28 05:55] #15308 closed, assigned to nobody

[2016-03-28 07:49] xzben opened #15329 "ConnectWaitLayer 导致crash 的bug"
在ConnectWaitLayer 中
`_imageShine = new Image();
    _imageShine->initWithImageData(__shinePngData, sizeof(__shinePngData));
    Texture2D* textureShine = Director::getInstance()->getTextureCache()->addImage(_imageShine, "shine");
`
这里new 的Image 在
`void VolatileTextureMgr::addImage(Texture2D *tt, Image *image)
{
    VolatileTexture *vt = findVolotileTexture(tt);
    image->retain();
    vt->_uiImag

[2016-03-28 09:47] 1scaR1 opened #15330 "ui TextFiled show password"
If set password enabled in ui::TextField, then enter some text to it and remove focus from it, password will be shown as raw string. It will be hidden by password style text only if enter focus and write something.

Reproduces at HEAD of v3.

[2016-03-28 09:55] zilongshanren commented on #15330
@1scaR1 I will check this issue, thanks for reporting.

[2016-03-28 10:11] 1scaR1 commented on #15073
Any ideas?
My temp solution is change code part to this:

[code]

[2016-03-28 10:12] #15327 closed, assigned to nobody

[2016-03-28 10:18] minggo opened #15331 "Node:Physics crashed on first test case"
`cpp-tests` crashed on iPad4 iOS 9.0.1 and worked ok on:
- Mac OS X
- iPhone4 iOS 6.1.2

`lua-tests` crashed on Windows 10.

[2016-03-28 11:12] lifzgreat commented on #15325
Yes sir! Thanks again :)

[2016-03-28 11:32] #15325 closed, assigned to nobody

[2016-03-28 21:00] ricardoquesada commented on #15331
which project did you try? win32 or universal?

When I tested it, it worked ok.  mmmm... perhaps the new libraries broke it?

[2016-03-29 01:28] minggo commented on #15331
The QA team reported the bug. I will ask them to give more detail information.

[2016-03-29 01:50] chengshan1 commented on #15331
cpp-tests project crashed on iPad4 iOS 9.0.1
lua-tests project crashed on Windows10(win32)

[2016-03-29 03:00] ricardoquesada commented on #15331
@chengshan1 could you tell me which test? The more information you add, the easier it is going to reproduce it and fix it. Thanks!

[2016-03-29 03:04] minggo commented on #15331
@ricardoquesada I think the tile tells which test case

[2016-03-29 03:05] chengshan1 commented on #15331
cpp-tests  Node:Physics test case
lua-tests   PhysicsTest   test case

[2016-03-29 03:23] #15042 closed, assigned to nobody

[2016-03-29 03:24] jareguo commented on #15327
嗯，我去论坛发发牢骚，希望 -x 越发展越好。

[2016-03-29 03:51] minggo opened #15338 "Chipmunk demo issue"
Steps to reproduce:
- run cpp-tests -> Node::Physics -> enter `3:PhysicsComponentTest`
- touch the screen to add some sprites
- continue clicking `Toggle debug` and touching screen to add sprites

result:
- sometimes sprites disappeared after clicking `Toggle debug`

test device：`iPad4 iOS 9.0.1`
PS: Mac works ok.

[2016-03-29 03:52] minggo commented on #15338
@chengshan1Please add more detail information if i missed something.

[2016-03-29 18:44] slackmoehrle opened #15345 "Repeat does not work properly"
consider the following:

[code]

and the output:

[code]

No **repeat B** and breakpoint doesn't halt execution either. And **repeat D** repeats 4 times instead of 3.

[2016-03-29 21:36] hawkwood commented on #14972
Does this mean that it is NOT going to be fixed in 3.11?  This bug should be easy to fix, right?

[2016-03-29 22:29] ricardoquesada commented on #15338
@minggo I cannot reproduce it
My environment is:
- Xcode 7.3
- iPhone 5S
- iOS 8.3
- cocos2d-x from v3 (last commit 9762a2616e75376cbaa475c6b444a28fcbc4d44f)

[2016-03-30 01:17] ricardoquesada commented on #15331
everything seems to be working on for me on iPhone... (cpp-tests and lua-tests).
 I'll try it on iPad Air

[2016-03-30 01:35] minggo commented on #15338
@ricardoquesada Thanks. I may be hard to reproduce.

[2016-03-30 01:37] ricardoquesada commented on #15338
Anyway, I had many chipmunk bugs when compiling it with Xcode 7.2. I had to compile the chipmunk libraries with Xcode 6.4. Not sure if someone re-generated the chipmunk libraries with Xcode 7.2.

[2016-03-30 01:42] minggo commented on #15338
@zilongshanren Is anyone re-generated chipmunk libraries with Xcode 7.2?
@ricardoquesada Does it mean the library is Xcode dependent?

[2016-03-30 01:43] chengshan1 commented on #15331
You can try it on Windows。

[2016-03-30 01:46] ricardoquesada commented on #15338
@minggo i had to compile it with xcode 6.4. but cocos2x can be compiled with any version.
according to this https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/commits/v3/chipmunk/prebuilt/ios i'm the last one to commit the chipmunk library so it is the good one (compiled with 6.4)

[2016-03-30 01:47] ricardoquesada commented on #15331
@chengshan1 yes, sure. ill do that

[2016-03-30 01:50] minggo commented on #15345
I will take a look.

[2016-03-30 01:51] minggo commented on #15338
@ricardoquesada My Xcode is 7.2 too, and i can run cpp-tests.

[2016-03-30 01:52] minggo commented on #15338
Oh i upgrade it to 7.3 the day before yesterday. And can run cpp-tests.

[2016-03-30 04:49] ricardoquesada commented on #15331
More tests that I did:

iPhone 6S with iOS 9.3: Everything worked Ok
iPad Air with iOS 8.3: Everything worked Ok.
Testing windows now...

[2016-03-30 05:31] ricardoquesada commented on #15331
I confirm that it crashes on win32.
It could be something else, but it seems that the version pushed by @xiaofeng11 broke it :-(
https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/commits/v3/chipmunk/prebuilt/win32/release-lib/libchipmunk-2015.lib

[2016-03-30 05:39] minggo commented on #15331
@xiaofeng11 Could you please take a look?

[2016-03-30 05:48] xiaofeng11 commented on #15331
OK, I'll check it.

[2016-03-30 06:09] minggo commented on #15345
fix in #15348
@slackmoehrle Could you please verify it?

[2016-03-30 07:10] minggo opened #15350 "[JSB]Physics demos have different effects as before"
I will ask QA team to give more detail information.

[2016-03-30 07:15] ricardoquesada commented on #15350
as far as I know, the only one that works differently is the buoyancy test.

[2016-03-30 07:33] xiaofeng11 commented on #15331
@ricardoquesada Studio project is canceled, so export won't need any more, I will rollback chipmunk to old version to solve this issue, I see Win10 & WindowsPhone version have been update after I commit export change to src lib, shall I rollback these 2 lib either?

[2016-03-30 07:46] ricardoquesada commented on #15331
@xiaofeng11
I wouldn't know what to say because I don't know why they are crashing.
If the new win10 & winphone libs don't crash, then I think it is safe to use them. No need to roll them back

[2016-03-30 08:00] xiaofeng11 commented on #15331
@ricardoquesada  The crash is because in follow function, Assert will be triggered. Seems it has nothing related with export function, but I can not find the reason, maybe compile param related. I'll check does win10 project crash now.

cpVect cpCircleShapeGetOffset(const cpShape *shape)
{
    cpAssertHard(shape->klass == &cpCircleShapeClass, "Shape is not a circle shape.");
    return ((cpCircleS

[2016-03-30 08:15] minggo commented on #15350
@chengshan1 please add more detail information about this issue. Pictures are better to describe the issue. Thanks.

[2016-03-30 08:27] xiaofeng11 commented on #15331
Win10 pass the test, I'll rollback src and win32 libs

[2016-03-30 08:31] ricardoquesada commented on #15331
ok. great. thanks

[2016-03-30 09:14] chengshan1 commented on #15350
Is there any difference in the two versions of the buoyancy?

[2016-03-30 10:18] quannd commented on #14199
Please reference to this resolution that I test OK. http://discuss.cocos2d-x.org/t/crash-in-cocos2dx-3-8/27842
In proj.android\jni\main.cpp
There should be  void cocos_android_app_init (JNIEnv\* env) {
without " jobject thiz" parametter

[2016-03-30 12:53] cxfshelter commented on #10778
this should be done early

[2016-03-30 14:02] #15330 closed, assigned to nobody

[2016-03-30 14:32] ricardoquesada commented on #15350
@chengshan1 I'll fix the buoyancy, but is there any other example with issues? thanks.

[2016-03-30 14:51] 1scaR1 opened #15354 "ccui::TextInput changes password style symbol"
If ui TextField is in focus then password style text is like '*****', but after loosing focus it changes to '● ● ● ● ●'.

Works with HEAD of v3.

[2016-03-30 17:48] TheCodez commented on #15350
@ricardoquesada i think `applyImpulse` is also not the same as before.

[2016-03-30 17:49] ricardoquesada commented on #15350
@TheCodez good tip. I'll take a look at it.

[2016-03-31 00:57] Guy-kun commented on #9437
Is this still not on the roadmap?
This is pretty critical for an engine that 'supports Android' and the lack of it is yet another blow to the half-baked Android support cocos2dx seems to have...

[2016-03-31 03:48] minggo commented on #15331
The lib is reverted.

[2016-03-31 03:48] #15331 closed, assigned to ricardoquesada

[2016-03-31 06:45] piotrros commented on #15345
[code]

Nice, it's working :)

[2016-03-31 06:48] #15345 closed, assigned to minggo

[2016-03-31 10:15] minggo commented on #15154
@ricardoquesada Do you think we should fix it in v3.11? I plan to release it on Apr.20.

[2016-03-31 13:14] coidx opened #15357 "关于3.10的新骨骼动画的性能问题"
现在我用新版本的骨骼动画同屏渲染30个左右就掉帧到10-20多左右，这是正常的吗？还是有什么优化手段呢？

[2016-03-31 13:43] ricardoquesada commented on #15154
yes.
I think the Autogeometry feature that we have is kind of broken. Not very useful. I think we should replace it with the one that comes with Chipmunk 7.
If you are asking me if I can fix it before April 20, then I don't know since I'm working on something else right now. I think this is a question for @linshun

[2016-03-31 13:48] minggo commented on #15154
Got it, then i think we can not include it in v3.11 since it is not a new bug brought in this version.

[2016-03-31 14:41] pandamicro commented on #15350
@ricardoquesada  Also, how should we deal with the API changes ? Do we have a change List to let user know how to upgrade ?

[2016-03-31 15:14] zilongshanren commented on #15354
@1scaR1  Got it :+1:  I will fix it later, thanks

[2016-03-31 15:32] ricardoquesada commented on #15350
@pandamicro I haven't changed our physics API, the `CCPhysics` stuff. Users who are using our API directly won't need to change anything.
Not sure if you are referring to the chipmunk API, or our API.

**UPDATE**:
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/physics/cpCompat62.h

It is not complete, but will work for >80% of the games based on chipmunk 6.2.

[2016-03-31 16:50] linshun commented on #15154
Sure, please take it in the later version.

[2016-03-31 17:12] ricardoquesada commented on #15154
@linshun are you still awake? I think it is 1:00am there. Have some sleep :)

[2016-04-01 01:49] minggo opened #15359 "Update OpenSSL for libcurl"
Some developers met the issue on Android: http://discuss.cocos2d-x.org/t/openssl-problem-again/28270. I think we should update it in v3.11, and it seems there is pull request in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/pull/80.

[2016-04-01 06:58] andres-blanco opened #15360 "Bug in nexus 5"
Hey! I have a vertex shader that defines 3 attributes. It works fine on iOS but when I try to compile in my Nexus 5 I get the following message once per draw call:

[code]

It's worth saying that the drawing is done correctly.

If I remove any one of the attributes in the vertex shader the problem disappears.
Here is my non-working vertex shader:

[code]

Here is my working vertex shader:

[code]

[2016-04-01 20:29] jptester commented on #11867
Hey guys, can you tell me how to use AudioEngine and SimpleAudioEngine in JS? (using 3.10 right now)  The only class I see is: cc.audioEngine, but no cc.simpleAudioEngine, or cc.experimentalAudioEngine or something

[2016-04-02 06:46] princegoyal1987 commented on #12177
Any updates? Or is there any way i can implement the cache in application for csb files? And is there any way I can avoid re-deserialization of these fils?

[2016-04-02 06:51] princegoyal1987 commented on #12177
I can see that createTimeline() uses cache but createNode() does not. I am not sure whats the reason behind that? Can somebody tell me? I am planning to implement the cache in createNode() as well..

[2016-04-02 12:03] zilongshanren commented on #15354
@1scaR1  I have fixed it in v3 HEAD, please give it a try.

[2016-04-04 05:50] abhinavpachauri commented on #15359
Can you please let us know when is the scheduled date of release of 3.11 with the above fix?

[2016-04-04 07:36] 1scaR1 commented on #15354
@zilongshanren now all is ok. Thanks!

[2016-04-04 08:21] fgolemo opened #15363 "Socket.io bottleneck / weird buffering"
Hi everybody,

I set up a test project of cocos2d-JS with socket.io. In the cocos2d app I scheduled an update function (about every 16ms, with `this.scheduleUpdate()` ), and during every update cycle I tried to send a signal to the socket.io server via `socket.emit()`. When I set the server up to measure how many incoming signals there are per second, weird things happen:
- in cocos2d-html5 (`coco

[2016-04-04 19:11] ntrrgc opened #15365 "MenuItemSprite requires 2 parameters or fails silently"
If you are working with `MenuItemImage` you can add a button with a single image like this:

[code]

You can pass a second parameter to specify a different image for the _selected_ status, but that's not necessary.

You would expect the same behavior with MenuItemSprite, but unfortunately, something like this...

[code]

will do nothing. No sprites will be actually added to the menu item.

[2016-04-05 00:06] hawkwood commented on #14972
FYI, I am not getting this issue when using https://www.assetstore.unity3d.com/en/#!/content/31086 in Unity, nor was I getting it when using Gree's Webview for Cocos 3.2, so it's not an Android problem.

[2016-04-05 01:33] minggo commented on #15359
We planned to release v3.11 on Apr.26.

[2016-04-05 01:44] #15354 closed, assigned to nobody

[2016-04-05 01:45] #15324 closed, assigned to nobody

[2016-04-05 01:58] minggo commented on #15350
@ricardoquesada Any progress of this issue? We plan to ask QA team to test on next Monday.

[2016-04-05 02:03] #14909 closed, assigned to zilongshanren

[2016-04-05 02:03] zilongshanren commented on #14909
this issue is already fixed in upstream

[2016-04-05 02:04] zilongshanren commented on #15323
@anagorko  please check the latest V3 head, it should be fixed now.

[2016-04-05 02:05] #15323 closed, assigned to zilongshanren

[2016-04-05 06:43] alexander-vi opened #15367 "Incorrect screen positioning and scale while launching app from the lock screen on Android"
Hi, I am using Cocos2d-x 3.8.1. My game runs only in the **landscape** mode
I've implemented local notifications on Android similar to [https://github.com/kobakei/CCLocalNotification](https://github.com/kobakei/CCLocalNotification). But it is not so important.

If I exit the game via `Director::getInstance()->end();` then wait for notification to appear and launch the game via this notification fr

[2016-04-05 10:15] stevetranby opened #15368 "VSync and Inconsistent Performance Issues on Windows"
Posting this issue to help get it looked at and hopefully a PR once a fix is determined.
http://discuss.cocos2d-x.org/t/cocos2d-x-windows-performance-issues-examined/27915/
https://randomascii.wordpress.com/2013/04/02/sleep-variation-investigated/

This PR fixed the busy waiting, but introduces sleep(1) which potentially waits for 15ms instead of 1ms.
https://github.com/cocos2d/cocos2d-x/pull/9368

[2016-04-05 14:04] jasonz1987 opened #15370 "launchimage of iphone5/5s on ios7.x/ios8.x?"
my game is landscape,this is my info.plist for iphone5/iphone5s

<dict>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>6.0</string>
            <key>UILaunchImageName</key>
            <string>Default-568h</string>
            <key>UILaunchImageOrientation</key>
            <string>Portrait</string>
            <key>UILaunchImageSize</key>
            <string>{320, 568}</

[2016-04-05 15:59] zilongshanren commented on #10319
@jooddang  Since it a very old issue, I need to bump up it.  could you reproduce this issue on the latest version of cocos2d-x?

thanks.

[2016-04-05 20:20] slackmoehrle commented on #15370
this is long, but go towards the bottom for a current explanation. https://github.com/cocos2d/cocos2d-x/issues/8545

[2016-04-05 23:37] stammen opened #15372 "v3.11 #if not is not a legal C++ preprocessor directive."
# if not  is not a legal C++ preprocessor directive and it causes an "unexpected tokens following preprocessor directive" warning in Visual Studio.

For example:
# if not CC_ENABLE_GC_FOR_NATIVE_OBJECTS is not a legal C++ preprocessor directive.

Here are all of the incorrect preprocessor directives:

 D:\GitHub\cocos2d-x-v3\cocos\scripting\js-bindings\manual\cocos2d_specifics.cpp(2221):#if not CC

[2016-04-06 00:09] slackmoehrle commented on #15372
Thanks @stammen. I think @ricardoquesada is working on the bindings.

[2016-04-06 03:05] minggo commented on #15350
`buoyancy` is fixed via #15373

[2016-04-06 07:40] fuyifan commented on #10965
@umair6 add breakpoint on all alcMakeContextCurrent to see whether the context is set wrong value or not called when you get your game back

[2016-04-06 08:56] dariodepaolis commented on #11742
So it's not fixed?

[2016-04-06 09:18] gestern commented on #15270
Here is better to use a more elegant solution `random(0,_data.size());` than `RandomHelper:: random_int(0,_data.size());` Because random is:

[code]

[2016-04-06 15:32] ricardoquesada commented on #15372
thanks. I guess it should be replaced with `#if !`, correct?

[2016-04-06 16:09] slackmoehrle commented on #15372
@ricardoquesada I believe you are correct: https://msdn.microsoft.com/en-us/library/ew2hz0yd.aspx

[2016-04-07 02:04] haanhman opened #15378 "Label with TTF font error"
I am using Cocos2d-x-3.9 and have tried to use Cocos2d-x-3.10 and still experienced the following issue with **Label::createWithTTF**.
As you can see from the pictures, the words just have some random marks around them. If I use **getLetter(int index)**, then the errors happen even more often, sometimes the letters just get overlapped with each other.
Here is our code
https://github.com/haanhman/L

[2016-04-07 07:51] minggo commented on #15372
@ricardoquesada Could you please add milestone in future, it will be convenient when writing release note.

[2016-04-07 08:16] iNeverSleeeeep opened #15382 "sqlite localStorageSetItem error"
`
/*\* sets an item in the LS */
void localStorageSetItem( const std::string& key, const std::string& value)
{
    assert( _initialized );

[code]

}
`
_ok_ is SQLITE_BUSY         5   /\* The database file is locked */
I don't know why this happened.

[2016-04-07 08:20] minggo opened #15384 "update spine runtime"

[2016-04-07 08:24] minggo commented on #15382
It seems it is your own codes, right?

[2016-04-07 08:25] minggo commented on #15368
@stammen Could you please take a look?

[2016-04-07 08:25] iNeverSleeeeep commented on #15382
I think it because i launched the game twice at same time.

[2016-04-07 08:36] #15382 closed, assigned to minggo

[2016-04-07 09:11] pandamicro commented on #15365
Thanks for your contribution !

[2016-04-07 09:12] #15365 closed, assigned to nobody

[2016-04-07 10:02] kiranb47 opened #15385 "Downloader is crashing on Android"
I have cloned latest source code from git, Downloader is now crashing on Android.

Not crashing on IOS

![screen shot 2016-04-07 at 3 27 25 pm](https://cloud.githubusercontent.com/assets/13976093/14347622/b4dfd356-fcd5-11e5-885f-4aa04b76a5d7.png)

[2016-04-07 10:21] kiranb47 commented on #15385
My bad, It was a JAR dependency issue.

Missing android-async-http-1.4.8

[2016-04-07 10:21] #15385 closed, assigned to nobody

[2016-04-07 11:05] irshadmpm opened #15386 "ScrollView scrollToPercentVertical does not scroll to the correct position"
I found in the code that the percentage calculation is only considering the difference of **_contentSize.height - _innerContainer->getContentSize().height** which is not correct.

**As is:**

[code]

**After fix:**

[code]

After fixing the code as above, the scrolling correclty positions where I am expecting it to.

[2016-04-07 12:20] isghost opened #15387 "lua 正常调用函数会报一个错误"
lua_cocos2dx_auto.cpp  文件里的`lua_cocos2dx_GLProgramState_setUniformFloat`函数,第一个参数即可以是整数也可以是字符串，但如果第一个参数字符串，当程序运行到

[code]

会报一个错误，break，然后运行是字符串情况下的代码。这是正常的调用函数过程。如果游戏中每帧都调用`setUniformFloat`，打印出来的log将变的非常的恶心。而且没啥问题报一个error也不太合理。类似的函数挺多的。

[2016-04-07 20:38] ricardoquesada commented on #15372
@minggo sure!
it says "milestone = next" now... shouldn't it say "3.11" instead?

[2016-04-08 01:30] minggo commented on #15372
I have created v3.11 branch, then we can continue merging pull request in master branch. If you think it is an important issue, then could you please send to v3.11 branch too?

[2016-04-08 02:09] minggo commented on #15338
@ricardoquesada Could you please connect the corresponding pull request to this issue?
Thanks.

[2016-04-08 03:28] minggo commented on #15387
Yep, you are right. We should remove the log in `luaval_to_int32()`. And we should enhance the binding codes to make it more smart to check errors.

[2016-04-08 03:41] minggo commented on #15329
Yep, cocos2d-x use reference count to control object life cycle. Image is a special case, may be we should add `Image::create()`?

[2016-04-08 03:51] minggo commented on #15321
Could provide some codes and the font file to reproduce it? And only this type of font can not work?

[2016-04-08 03:52] minggo commented on #15320
@anagorko Did you use `cocos` to compile the android project?

[2016-04-08 03:57] minggo commented on #15318
Could you please highlight your modification?
Thanks.

[2016-04-08 03:59] minggo commented on #15312
So what's the error?

[2016-04-08 04:00] minggo commented on #15310
We haven't decided to use c++14.

[2016-04-08 04:00] #15310 closed, assigned to nobody

[2016-04-08 04:20] ricardoquesada commented on #15338
done.

[2016-04-08 04:44] minggo commented on #15338
Thanks.

[2016-04-08 04:47] #15338 closed, assigned to ricardoquesada

[2016-04-08 05:11] anagorko commented on #15320
I compiled it from command line with "cocos compile"

[2016-04-08 05:43] minggo commented on #15320
I think it is fixed in latest code, could you please have a try?

[2016-04-08 05:53] minggo commented on #15309
It is fixed with latest codes.

[2016-04-08 05:53] #15309 closed, assigned to nobody

[2016-04-08 06:00] xzben commented on #15329
Only need to replace CC_SAFE_DELETE to CC_SAFE_RELEASE can solve

[2016-04-08 06:05] minggo commented on #15305
@pandamicro I am not sure if it is a real bug caused by JSB new memory model. But i think you'd better take a look since it would be critical bug if it exists.

[2016-04-08 06:05] minggo commented on #15297
Duplicate with #15305?

[2016-04-08 06:06] xzben commented on #15318
if (lua_isnumber(L, -2))
        {
            int key =  lua_tonumber(L, -2);
            std::stringstream ss;
            ss << key;
            ss >> stringKey;
        }
        else if ( !lua_isstring(L, -2) || !luaval_to_std_string(L, -2, &stringKey))
        {
            lua_pop(L, 1);                                      /\* removes 'value'; keep 'key' for next iteration*/
            co

[2016-04-08 06:09] minggo commented on #15329
ConnectWaitLayer is your own class, so engine can not do anything helpful, right?

[2016-04-08 06:12] minggo commented on #15283
I think it is correct to drop down to bottom because it  is controlled by physics, and it is wrong to move left. Right?

[2016-04-08 06:20] minggo commented on #15280
@juuj Have you resolved you issue? I will  close this issue if it is resolved.

[2016-04-08 06:54] minggo commented on #15318
Thanks, i will check it.

[2016-04-08 08:09] Kotaiba commented on #15321
I tried many fonts and all of them got the same issue .

[code]

[code]

[FrutigerLTArabic-65Bold.ttf.zip](https://github.com/cocos2d/cocos2d-x/files/209815/FrutigerLTArabic-65Bold.ttf.zip)

[2016-04-08 08:18] minggo commented on #15321
Oh, what's the language. I think first you should make sure the string is utf-8 code, because labelTTF only support utf-8 string.

[2016-04-08 08:28] Kotaiba commented on #15321
How can i convert the string to utf-8 code ? Can you share code .

[2016-04-08 08:32] minggo commented on #15321
Because you write the string the source file, so you'd better make the source file be utf-8.

[2016-04-08 08:40] Kotaiba commented on #15321
Can you share a code how to do that ?

[2016-04-08 08:43] minggo commented on #15321
I mean you should save the .cpp file to utf-8 using an editor, such as sublime.

[2016-04-08 08:45] Kotaiba commented on #15321
ah, in my code i get the text from plist ,so i should save the plist to utf-8  .

[2016-04-08 08:59] minggo commented on #15321
But you wrote that:

[code]

`("عربي"` is in a .cpp file.

[2016-04-08 09:03] Kotaiba commented on #15321
yes ,I've tried both and both same result ,I use both codes on my game .

[2016-04-08 09:31] minggo commented on #15321
FrutigerLTArabic-65Bold.ttf.zip it is a .ttf file doesn't include Arabic language, it just includes english word.

[2016-04-08 09:37] Kotaiba commented on #15321
Somehow the letters will not show but its arabic font . arabic letters will not show only english letter will show on arabic's fonts. but you can test its working fine .
<img width="275" alt="screen shot 2016-04-08 at 12 35 35 pm" src="https://cloud.githubusercontent.com/assets/3635272/14380097/7a94991e-fd86-11e5-9ddf-5d556f305f6e.png">

[2016-04-08 09:59] minggo commented on #15321
Sorry, i have not idea with it. So let @zilongshanren to take a look.

[2016-04-08 12:01] pulidoEuge commented on #15280
Not yet. But ive made a remedy. You can close it already. Thanks

[2016-04-08 12:05] ValeryKV commented on #15297
The steps are different. I am not sure this is a dup, but possible.

[2016-04-08 16:49] #15280 closed, assigned to nobody

[2016-04-08 18:49] anagorko commented on #15320
I confirm that it is indeed fixed. Good work!

[2016-04-08 18:49] #15320 closed, assigned to nobody

[2016-04-08 19:15] gestern commented on #14276
**The issue is still exists at cocos2dx 3.10**

[2016-04-08 21:05] slackmoehrle commented on #14276
any idea on how to reproduce this?

[2016-04-09 02:47] emmychen commented on #15312
There is no error, but the empty webview.  It is the same in the cocos2d demo.

[2016-04-09 09:03] fantasy opened #15402 "JSB binding support for win10 project."
Is there any plan for this?

[2016-04-09 11:02] KJTang commented on #15283
no, the Sprite moves so fast that I don't think it moves right.
Try this: download cocos2d from http://cocos2d-x.org, (v3.10); and then modify "Scene\* HelloWorld::createScene()" in HelloWorldScene.cpp like this:

[code]

put action01.png and action02.png in resource folder, compile and run it, the result is not right. but its works fine in v3.7

[2016-04-09 13:57] Lostmonkey opened #15403 "New AudioEngine not pause when enterbackground"
On Android platform, our apps still play bgm after the user press "home" button.

[2016-04-10 12:36] GrzegorzDuraj opened #15404 "change option from CHIPMUNK to BOX2D doesn't have any effect"
Hi,

Before created new project I change CMakeList regarding Physics Engine:

option(USE_CHIPMUNK "Use chipmunk for physics library" OFF)
option(USE_BOX2D "Use box2d for physics library" ON)

next I started work on new project but every preprocessor definitions are still set tu chipmunk
attachment from grep:
$ grep -rIn CC_ENABLE_CHIPMUNK_INTEGRATION ./\* --exclude *.cpp  --exclude *.h

[chipmunkG

[2016-04-10 23:12] gestern commented on #14276
You have to specify "Launch Screen File" in your cocos2d-x project in xCode

[2016-04-11 03:22] jooddang commented on #10319
Hi,
Thanks for your interest. But I'm not working on the project anymore.

On Tuesday, April 5, 2016, 子龙山人 notifications@github.com wrote:

##

Best,
EunKwang

[2016-04-11 03:26] zilongshanren commented on #10319
@jooddang Ok, I will close this issue, feel free to reopen if you have problem again.

[2016-04-11 03:26] #10319 closed, assigned to zilongshanren

[2016-04-11 03:55] xzben opened #15408 "关于lua 引用 C++ 指针的安全问题"
example：
# if COCOS2D_DEBUG >= 1

[code]
# endif

[code]
# if COCOS2D_DEBUG >= 1

[code]
# endif

在 debug 的情况下，我们 lua 引用c++ 的时候会做一些安全的检测，这种情况下，运行程序不会crash，且正确的抛出的错误信息，但是到了release 却少了这个关键的安全检测，导致 拿到的 cobj 可能为 nullptr然后就下就是crash了。
在实际开发过程中，由于我们的log信息太多，在测试的时候很有可能忽略这些报错的log信息，导致我们一打包到手机时就可能会crash，而且在那个时候对于手机crash信息也不方便，如果能够让 在 debug 的时候打印错误且直接crash的时候能够方便在测试阶段及时发现问题，release 的时候也加上这些安全性的检测保证发行包的稳定性将会更

[2016-04-11 04:02] wulei opened #15409 "cocosstudio 3.10 fnt font hight NaN"
![a](https://cloud.githubusercontent.com/assets/1661601/14416479/15338d42-ffdd-11e5-857b-7967e3645420.png)
how to fix it in cocos?

[2016-04-11 17:35] klemsFR opened #15413 "[3.10] HttpClient Content-Type limitation on iOS only"
Hi ,

The HttpClient for iOS always set a content-type (in the http headers) to "application/x-www-form-urlencoded" for PUT request.
I think that's an issue because all put requests are not limited to this content type!

For example i need to use "application/json" to be compliant with my REST webservices...

The android version of HttpClient is not affected.

Issue can be fixed by removing the fo

[2016-04-12 01:54] JasonBoBo commented on #15409
me too ,i need help...

[2016-04-12 08:57] zx6733090 opened #15414 "cocos2d-js load Particle file Crash"
Hi,

  　　In js version，I found the file with the texture data crash. Only with pictures  normal~。

Stack display, `cc.unzipBase64AsArray`  In this function there will be problems。

  Environment：window 7 chrome

[2016-04-12 09:03] vocko opened #15415 "CCLabelTextFormatter::MultilineText starts new line with a space"
There is a an issue with CCLabelTextFormatter::MultilineText, in some cases it starts new line with an empty line. It happens when we use break line with space under conditions:

nonCJKWord.empty() == true
lineIsEmpty == true
last_word.empty() == true
character == ' ' // space 0x20

My suggestion is to add this condition branch to the `if (!nonCJKword.empty())` condition:

[code]

[2016-04-12 09:07] zx6733090 commented on #15414
#### `ActionTimeline` Skeletal animation can not be moved

  In js version(*v3.10*)，When a node is added first time，Position effective，Behind the setting has no effect。

Call functions ·setNodeDirty· of parent become effective~..

[2016-04-12 09:16] zx6733090 opened #15416 "ActionTimeline Skeletal animation can not be moved"
In js version(_v3.10_)，When a node is added first time，Position effective，Behind the setting has no effect。

now,   I can only call functions `setNodeDirty` of parent become effective~..

Please help me see~~，thanks。

[2016-04-12 09:35] vocko commented on #15415
I was working with an old version, the method was completely rewritten, this issue is offtopic now.

[2016-04-12 09:35] #15415 closed, assigned to nobody

[2016-04-12 09:49] eduhub123 commented on #15378
@minggo @zilongshanren
Hi Minggo and Zilongshanren
Has my error been solved yet?

[2016-04-12 14:44] hamatani63 opened #15417 "[v3.10] cocos run -p android --android-studio fails"
I'm trying to build a sample program to make an Android app. I used cocos2d-x-3.10 (also 3.11), and tried a command below:

[code]

Then its execution gave errors.

[code]

Another member found the same problem in https://github.com/cocos2d/cocos2d-x/issues/15309.
How do I fix it?

[2016-04-12 15:48] slackmoehrle commented on #15378
Have you tried a different TTF font to see if the issue persists? I use Arial and Marker Felt a lot and I don't see this happening, at least on iOS.

[2016-04-13 04:55] anjandaffo opened #15418 "Apple tv support."
I downloaded the cocos2d-x version 3.10 and it's not supporting the apple tv.

Previously I created a app using cocos2d-x and now I need to support same app for apple tv. currently it supporting android and iOS.

Please suggest me how to cocos2d-x app run on Apple Tv.

Are you planning to give the Apple Tv support on next version i.e 3.11.

Cocos2d-x test project is also not supporting Apple Tv.

[2016-04-13 05:46] minggo commented on #15312
So can i close this issue?

[2016-04-13 05:58] rh101 opened #15419 "AudioEngine to OpenAL sync issue on Win32"
In AudioEngine-win32.cpp, the AudioEngineImpl::update is scheduled to be called every 0.05 seconds.  This is done in AudioEngineImpl::play2d, via the following call:

[code]

The AudioEngineImpl layer uses its own audio state, which becomes out of sync with the true state of the audio source being played via the OpenAL layer.

This causes a problem with any method that is called with an the audio

[2016-04-13 07:01] eduhub123 commented on #15378
@slackmoehrle
Our project includes multipule languages of various fonts. Please download our trouble code/ project and run it on Simulator Iphone 5, you will see the results as attached.
My Project: https://www.dropbox.com/s/0cuud1vzhq69jnq/v10.zip?dl=0
![aaaa](https://cloud.githubusercontent.com/assets/7600709/14484953/229343e0-017e-11e6-92ea-035c00fde357.png)

[2016-04-13 07:53] cxfshelter opened #15420 "how to make a whole text change some characters' color dynamically."
怎么动态改变整个文本中个别内容的颜色，
比如："Hello, I am Chinese"中'am'是红色，其他是黑色

[2016-04-13 07:54] #15034 closed, assigned to nobody

[2016-04-13 17:21] slackmoehrle commented on #15418
Please use our forums to research: http://discuss.cocos2d-x.org/

Here are two threads where users are doing it successfully.

http://discuss.cocos2d-x.org/t/building-for-the-new-appletv-tvos/23758

http://discuss.cocos2d-x.org/t/appletv-support/25416

[2016-04-13 17:23] slackmoehrle commented on #15370
You either use an info.plist of just name your launch images correctly and it works also

[2016-04-14 03:47] minggo opened #15423 "Node:UI->GUI Dynamic Create Test->19:Rich Text Test crashed on windows"
OS: win7
compiler: VS2015

![screenshot_1_1459243006](https://cloud.githubusercontent.com/assets/488203/14516532/89fccab6-0236-11e6-9eca-b41058890694.png)

[2016-04-14 03:47] minggo commented on #15423
@ricardoquesada Could you please take a look?

[2016-04-14 05:13] linhbanhmi commented on #12020
I create a spine boy,and add it to current scene, its never shown up, but shown when run scene again.
Value "renderMode" in project.json is 0.
When i change   "renderMode" in project.json to 1. its shown all the time.
Here's my code:
spineBoy = new sp.SkeletonAnimation('res/skeletons/choingay.json', 'res/skeletons/choingay.atlas');
        this.addChild(spineBoy, 99);
        spineBoy.setAnimation

[2016-04-14 05:54] minggo commented on #15417
I think you just need `cocos run -p android`

[2016-04-14 06:00] minggo commented on #15408
But it will cause performance issue.

[2016-04-14 06:00] minggo commented on #15408
We can remove it if it is acceptable.

[2016-04-14 06:03] minggo commented on #15404
Oh, it is interesting to reuse configuration like that.

[2016-04-14 06:16] minggo commented on #15403
Did you pause it in `AppDelegate::applicationDidEnterBackground()`?

[2016-04-14 06:17] minggo commented on #15402
@pandamicro Win10 doesn't support JSB?

[2016-04-14 06:18] hamatani63 commented on #15417
tks. I'll try it later.

[2016-04-14 07:40] minggo commented on #15384
Spine runtime added new features, but haven't released a new version. So update it when there is a new version.

[2016-04-14 09:57] minggo opened #15426 "Fix warnings as possible"

[2016-04-14 10:13] #15372 closed, assigned to nobody

[2016-04-14 10:18] minggo commented on #15360
@andres-blanco Could you please paste some demo codes to reproduce this issue?

[2016-04-14 10:19] minggo commented on #15359
@zilongshanren What's the progress of this issue?

[2016-04-14 10:25] zilongshanren commented on #15359
@minggo  it's done

[2016-04-14 10:29] #15359 closed, assigned to zilongshanren

[2016-04-14 10:31] #15270 closed, assigned to nobody

[2016-04-14 10:34] #15250 closed, assigned to nobody

[2016-04-14 10:37] minggo commented on #15243
May be @stammen have some idea.

[2016-04-14 10:42] minggo commented on #15234
@guivanrv Did you mean `cocos run -p android` will failed with JS?

[2016-04-14 12:49] Guy-kun commented on #14034
According to a post in http://discuss.cocos2d-x.org/t/cant-find-ndk-r9d-download-anymore/15719/7 a (now dead link) new post on the main site said

"We suggest you use NDK r10c or upper version, because it fixed some bugs that exist on Android 5.0." which means not using NDK 9 anymore.
This issue is still relevant.

[2016-04-14 14:43] stammen commented on #15402
@minggo @fantasy Win10 UWP currently does not support JSB. The work is currently not scheduled.

[2016-04-14 15:18] stammen commented on #15423
@ricardoquesada  The crash also happens in Win10 and Windows 8.1 builds. The crash is at line 714 of UIRichText.cpp

static bool isWrappable(const std::string& text)
{
    for (int i=0; i<text.length(); ++i)
    {
        if (!std::isalnum(text[i])) // CRASH IS HERE
            return true;
    }
    return false;
}

text is "ä¸­å›½ä¸­å›½ä¸­å›½ä¸­å›½ä¸­å›½ä¸­å›½ä¸­å›½ä¸­å›½ä¸­å›½ä¸­å›½"

[2016-04-14 15:28] stammen commented on #15243
@rosone Did you try installing https://www.microsoft.com/en-us/download/details.aspx?id=30679#?

[2016-04-14 22:55] stammen commented on #15372
@minggo  @ricardoquesada  This is still an issue in the v3.11 branch

7>..\manual\ScriptingCore.cpp(219): warning C4067: unexpected tokens following preprocessor directive - expected a newline
7>..\manual\ScriptingCore.cpp(2195): warning C4067: unexpected tokens following preprocessor directive - expected a newline
7>..\manual\ScriptingCore.cpp(2265): warning C4067: unexpected tokens following pre

[2016-04-15 01:27] minggo commented on #15402
@stammen Thanks for the information.

[2016-04-15 01:35] minggo commented on #15372
Ok, i send a pull request to synchronize the modification #15429

[2016-04-15 02:16] #15350 closed, assigned to ricardoquesada

[2016-04-15 03:05] minggo opened #15431 "Disable JSB GC by default"

[2016-04-15 03:59] pandamicro commented on #15431
Please discuss the final decision with @linshun

[2016-04-15 04:02] minggo commented on #15431
I have discussed it with linshun, and i told you in BearyChat.

[2016-04-15 04:04] pandamicro commented on #15431
I see, thanks

[2016-04-15 04:06] robslove opened #15432 "new ParticleSystemQuad crash"
ParticleSystemQuad \* one = ParticleSystemQuad::create("particle.plist");
    one->setAnchorPoint(Vec2::ANCHOR_TOP_LEFT);
    one->setPosition(visibleSize.width/2, visibleSize.height/2);
this->addChild(one);

ParticleSystemQuad \* two = ParticleSystemQuad::create("debian.plist");
    two->setAnchorPoint(Point::ZERO);
    two->setPosition(visibleSize.width/2, visibleSize.height/2);
this->addChild(t

[2016-04-15 06:21] summerinsects commented on #15423
`std::isalnum((int)(unsigned char)text[i])` may be ok
other `std::isXXX`s are likewise

[2016-04-15 07:20] cxfshelter commented on #15420
label:getLetter()?

[2016-04-15 08:06] linse073 opened #15433 "带有描边的label的位置显示有问题？"
uitext或者uibutton里面的label如果设置了描边，显示位置会偏上，而且如果描边宽度越大，偏移会越大。修改了一下源码，立即更新contentsize和anchorpointinpoints，发现还是不行，暂时还未找到问题根源，想咨询一下？

[2016-04-15 14:44] stammen commented on #15423
@wohaaitinciu @ricardoquesada  The suggestion by wohaaitinciu works but moves the crash to line 851

[code]

We need a review the use of all isXXX() code in cocos2d-x for correct usage and syntax.

[2016-04-16 02:46] maurimo opened #15436 "[JS] cc.labelTTF.create hangs"
The following code hangs on both 3.10 and current git (add it in the HelloWorld layer):
`
var yourbug = cc.LabelTTF.create("already, yet", "Sans", 21.621174113322585,
                                        cc.size(83.3, 0), cc.TEXT_ALIGNMENT_CENTER,
                                        cc.VERTICAL_ALIGNMENT_CENTER);
yourbug.x = size.width / 4;
yourbug.y = size.height / 4;
this.addChild(yourbug

[2016-04-16 07:28] iNeverSleeeeep opened #15437 "scrollview触摸锁死的BUG"
如果scrollview在moving的过程中visible从true变为false, 会导致onTouchEnded和onTouchCanceled不能正确结束，_touchMoved一直为true。触摸就被锁死了。附上简单的代码。
`

[code]

`

[2016-04-16 12:59] Obg1 opened #15439 "EXC_BAD_ACCESS Random crashes on iOS context presentRenderbuffer"
I'm getting random crashes at:

[code]

EXC_BAD_ACCESS (code=1, address 0x1)

OK, I was finally able to identify the cause for it.
The bug is because of the new static __indices in QuadCommand:

[code]

When calling realloc, it moves the memory that is being used by OpenGl, thus causing the BAD ACCESS error.
I was able to "Fix" it by calling realloc with null (will work like malloc):

`__indices =

[2016-04-16 16:26] xpol commented on #15250
#15435 removes include of `cocos2d.h`.

[2016-04-17 08:12] stevetranby commented on #13645
You can close this. While it may be a bug, we've worked around it in our game and I'm sure its either been fixed indirectly (with Layout/Widget commits) or it's something that could just be left as "undefined behavior" or "unsupported".

[2016-04-17 08:12] #13645 closed, assigned to zilongshanren

[2016-04-17 13:43] felixjingga commented on #15439
the more important question is, how do we replicate this bug reliably..? I got this bug too, and can't ever seem to replicate it reliably.. is there any simple way to do so?

[2016-04-18 06:53] panni1843 opened #15441 "Add lua project of win10"
Is there any plan for this?

[2016-04-18 07:09] xpol commented on #15426
I have done some of it: #15443

[2016-04-18 09:05] xpol opened #15449 "Android: Warning about -Wno-extern-c-compat"
Android flag `-Wno-extern-c-compat` added at:
- https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/Android.mk#L280
- https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/Android.mk#L282
- https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/android/Android.mk#L36
- https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/android/Android.mk#L38

cause a lot of warnings:

Is `-Wno-extern-c-c

[2016-04-18 09:18] minggo commented on #15049
I don't have any problem with Xcode 7.3

[2016-04-18 09:58] xpol commented on #15426
Here is more fixes: #15446 #15447 #15448 #15451 and a related issue #15449 .

[2016-04-18 10:32] #15210 closed, assigned to nobody

[2016-04-18 10:38] minggo commented on #15426
Thanks @xpol .

[2016-04-18 16:07] hijikix commented on #15312
I have same issue, no error log

[2016-04-19 01:29] minggo commented on #15312
@zilongshanren Please take a look.

[2016-04-19 02:36] Obg1 commented on #15439
I think this bug is related to threading so it is not easy to reproduce it.
But by looking at the code your can notice the realloc function is deleting a pointer that is still being use by previous render commands.

[2016-04-19 02:39] minggo commented on #15073
How can it turn on `Sanbox entitlement` to test?

[2016-04-19 05:46] #14842 closed, assigned to nobody

[2016-04-19 07:40] xpol opened #15456 "[FileUtils] Should not support text mode."
We are current using `"rt"` to open files:
1. https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/CCFileUtils.cpp#L627
2. https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/android/CCFileUtils-android.cpp#L297

For 1, it works only on Windows.
For 2, it is already android, `"rt"` has not effect here.

And as cocos2d-x it is a cross platform game engine, what's the point of support

[2016-04-19 07:53] xpol opened #15457 "[FileUtils] memory leak when read emty file."
in `cocos/platform/CCFileUtils.cpp`:

[code]

The buffer only assigned to ret when not `(nullptr == buffer || 0 == readsize)`.
That is when malloc buffer succeed, and the file has zero length, the `buffer` leaks.

[2016-04-19 09:09] myourys commented on #8533
I found a way to fix this issue. when OnEnd() restore viewport should use a stack to restore last viewport but not default viewport

[2016-04-19 16:56] hijikix commented on #15312
I think this method is not invoked
but I don't know why..

https://github.com/cocos2d/cocos2d-x/blob/08383628ccbf87f49330bd22b7bf5620385047e4/cocos/scripting/js-bindings/auto/jsb_cocos2dx_experimental_webView_auto.cpp#L164

[2016-04-19 17:15] hijikix commented on #15312
[code]

doesn't work

[code]

but this works instead

[2016-04-19 20:57] ricardoquesada commented on #15423
sent PR both to v3.11 and v3

[2016-04-19 23:08] dakikifr commented on #8519
I confirm the issue, and the fix from @EugenyN

Edit: Just to add something I forgot to mention, this code should be #ifdef for WP only, not Windows (RawPixelsPerViewPixel does not exist on windows, it's a WP only variable)

[2016-04-19 23:25] StreakyGames commented on #8519
Great, but this fix needs implementing into Cocos2d-x.
People shouldn't have to scour the internet looking for fixes to put in themselves ;)

[2016-04-20 02:26] #15073 closed, assigned to nobody

[2016-04-20 02:28] minggo commented on #15423
@ricardoquesada
- The PR for v3 has compiling error
- The PR for v3.11 is contains many unneeded commits

Could you please fix them?

[2016-04-20 03:58] cezheng opened #15463 "[AssetManagerEx] Stuck if the last download task fails"
Due to a bug in AssetManagerEx, if the last download task fails, the AssetManager will not end its `UPDATING` state causing the download process to hang forever.

As we have fixed it in our project, a fix PR will be made soon.

[2016-04-20 04:11] isghost commented on #12082
how to solve this problem? it is  also exist in v3.10

[2016-04-20 04:44] ricardoquesada commented on #15423
@minggo what is the easiest way to send a PR to v3.11 if the PR was based on the v3 branch?

[2016-04-20 05:00] cezheng opened #15464 "[HttpAsynConnection]Crash if a custom SSL certificate is set"
## Problem

If a custom SSL certificate is set, the app will crash in NSURLConnectionLoader thread.
## Investigation

If we turn on Zombie Object, we will see a message like this

[code]

If we look into the malloc history, we will see something like this

[code]

It turns out that this is caused by bad memory management in HttpAsynConnection-apple.m.

Since we have fixed this on our project, a fi

[2016-04-20 05:39] minggo commented on #15423
I think you can use [git cherry-pick](https://git-scm.com/docs/git-cherry-pick).

[2016-04-20 06:13] ricardoquesada commented on #15423
@minggo I mean... there should be a better workflow. If each PR should go both to v3 and and v3.11, there should be a better way than doing cherry pick... just as guess.

what have you been doing? cherry-pick? rebase? something else? thanks.

[2016-04-20 06:19] minggo commented on #15423
Yep, i use cherry-pick. And i only merge critical commits into v3.11 since it is release candidate. And after release v3.11, i will merge it back to v3 and remove the branch.

[2016-04-20 08:44] rynkowsg opened #15468 "No exit from EditBox with InputMode::PHONE_NUMBER"
Tested on iPhone 5 and iPhone Touch 5G.
Using Cocos2d-x 3.9

Using modes DECIMAL, NUMERIC and PHONE_NUMBER there is no exit from edit box. Touching the background doesn't work.

![noexitfromageeditbox](https://cloud.githubusercontent.com/assets/5878299/14668436/27c4180e-06dc-11e6-9a5b-b4aa193b3f44.png)

[2016-04-20 08:53] zilongshanren commented on #15468
@rynkowsg what's your engine version? it should be OK in the latest branch.

[2016-04-20 09:16] anonfreak opened #15469 "Problem while creating a cc.GLProgramm()"
So I encountered a problem while creating a cc.GLProgramm(). In the log there I found this:
`Uncaught TypeError: locGL.createProgram is not a function
cc.GLProgram.cc.Class.extend.initWithVertexShaderByteArray
@ CCGLProgram.js:146cc.GLProgram.cc.Class.extend.initWithVertexShaderFilename
@ CCGLProgram.js:200cc.Layer.extend.ctor @ layerBlur.js:7(anonymous function)
@ CCClass.js:128Class
@ CCClass.js

[2016-04-20 09:20] zilongshanren commented on #15468
@rynkowsg  please try 3.10, it should be fixed.

[2016-04-20 10:01] rynkowsg commented on #15468
Thanks @zilongshanren,
Because of our fixed development process I can't update cocos2d-x now. I'll check this out when we update cocos2d-x and I'll let you know here.

[2016-04-21 01:45] #15423 closed, assigned to ricardoquesada

[2016-04-21 06:28] #14287 closed, assigned to nobody

[2016-04-21 06:44] #14122 closed, assigned to nobody

[2016-04-21 07:02] #13285 closed, assigned to nobody

[2016-04-21 07:43] minggo commented on #15426
#15480

[2016-04-21 07:45] minggo commented on #15426
#15472

[2016-04-21 07:46] minggo commented on #15426
#15460

[2016-04-21 07:47] minggo commented on #15426
#15453

[2016-04-21 13:41] klodha commented on #15320
I downloaded cocos2d-x 3.10 today. After that spent hours trying to setup it and each time faced error with NDK. Earlier I was using NDK r8c, but then downloaded the current version from Android website. Version which I got was r11c. I was looking for the version mentioned on cocos2d-x setup guide, but couldn't find.

Then cpp-tests step kept giving strange errors related to missing files etc in N

[2016-04-21 14:09] klodha commented on #15417
I am trying to setup cocos2d-x and tried to build test using command `python android-build.py -p 9 cpp-tests` where 9 is id of android platform `id: 9 or "Google Inc.:Google APIs:23"`.

After building for several minutes, it exit with an error `/Users/klodha/Developer/cocos2d-x-3.10/tests/cpp-tests/proj.android/../../../external/websockets/prebuilt/android/armeabi/libwebsockets.a(context.c.o):cont

[2016-04-21 22:47] vkumar79 commented on #15320
@dibondi :+1: thanks man

[2016-04-22 01:43] minggo commented on #15417
@klodha I suggest you use `cocos` command instead.

[2016-04-22 02:35] dabingnn opened #15489 "NaVMesh crash on v3.10"
when using NaVMesh feature on armeabi-v7a debug version on android, the program will crash.
armeabi works correctly.
the release version for armeabi-v7a works.

[2016-04-22 03:42] mogemimi commented on #15426
I've just submitted #15490

[2016-04-22 04:38] klodha commented on #15417
@minggo I actually tried compiling my own project using cocos first. But with that when I got same error, I was attempting every possible solution mentioned on forums, github and thus encountered same error while trying to build tests.

Below is complete log for default Hello World project compilation using `cocos`. I really need to get it solved today. Really appreciate any help around this.

---

[2016-04-22 06:28] minggo commented on #15417
What's your cocos2d-x version? And how did you create the project? Did you have problem if building cocos2d-x tests shift by cocos2d-x?

[2016-04-22 06:59] klodha commented on #15417
Cocos2d-x version 3.10 (downloaded yesterday from cocos2d-x website). I created one project using `cocos` command line (`cocos new hello-cocos`). Then I faced same errors. So I downloaded cocos-studio, configured NDK, Android SDK path in preferences and created 1 project using that too (hello world template) and when I hit build, it worked fine. But in compile, it gave error with hint to check nat

[2016-04-22 07:12] hamatani63 commented on #15417
I apologize for my late reply.

I just tried `cocos run -p android` and I got the same error.

I found a similar problem in [stack overflow](http://stackoverflow.com/questions/36002823/ndk-build-fails-to-build-superpowered-audio-library-after-recent-ndk-update). Is the article related to our issue?

[2016-04-22 07:17] minggo commented on #15417
@hamatani63 It seems it is the same issue. Anyway, i always use ndk-r10c, and i suggest you use this version too.

[2016-04-22 07:24] hamatani63 commented on #15417
I understand. tks.

[2016-04-22 07:29] klodha commented on #15417
@minggo / @hamatani63, thanks for updates. I checked stack overflow link and its seems 1st error is surely related to this. However, second error in libwebsocket (`getdtablesize`) part seems different to me.

Though I am not a C++ developer, I find solution suggested in stack overflow link little confusing. I am trying to find download link for ndk-r10c for OS X, though unfortunately it will be an

[2016-04-22 07:34] minggo commented on #15417
@klodha I will download r11c to have a try with latest code. You created an JS project, right?

[2016-04-22 07:35] klodha commented on #15417
@minggo yes, it was a JS project. I really appreciate your support over this issue.

[2016-04-22 07:41] minggo commented on #15417
@klodha You are welcome, but it will make me much time to download r11c too.

[2016-04-22 08:26] klodha commented on #15417
@minggo can understand. I will look forward for your findings & suggestion to resolve the issues.

[2016-04-22 09:03] hamatani63 commented on #15417
@minggo / @klodha, I downloaded [android-ndk-r10c-darwin-x86_64.bin](http://dl.google.com/android/ndk/android-ndk-r10c-darwin-x86_64.bin). Then I use the ndk-r10c, both `cocos run -p android` and `cocos run -p android --android-studio` work.

I used ndk-r11c so far and it failed. So, it seems that this issue depends on the version of NDK.

[2016-04-22 10:23] StreakyGames commented on #8519
I just want to add, for clarity, that the file to change (in cocos2d-x 3.9 at least) is **proj.win8.1-universal\App.Shared\OpenGLESPage.xaml.cpp** and NOT cocos2d\cocos\platform\win8.1-universal\OpenGLESPage.xaml.cpp

Also, how are you guys accessing mCustomResolutionScale from CCGLViewImpl-winrt.cpp ?

[2016-04-22 10:27] minggo commented on #15417
When using r11c, i met the issue too, the error message is

[code]

@klodha I can not fix the issue of NDK. And i don't have other errors.

[2016-04-22 10:41] klodha commented on #15417
@minggo For me, other error along with __page_size was with libwebsocket for method `getdtablesize`. Since its confirm that these error won't appear with `r10c`, I am already downloading `r10c` now from the link @hamatani63 shared (thanks for sharing link @hamatani63). I can understand that NDK issue are not part of cocos2d-x and I really appreciate you putting in time to help me with r11c.

Btw,

[2016-04-22 10:43] EugenyN commented on #8519
my workaround:

pass mCustomResolutionScale in Cocos2dRenderer constructor and store in m_renderScale

in Cocos2dRenderer::Resume():

[code]

using setFrameZoomFactor  looks like hack. probably better to introduce a new property/member.

and in GLViewImpl::TransformToOrientation(Windows::Foundation::Point p):

[code]

also need to fix dpi in OpenGLESPage::StartRenderLoop():

[code]

[2016-04-22 11:08] minggo commented on #15417
@klodha Commonly, you don't have to upgrade NDK. cocos2d-x requires upgrading NDK when it meets problems that caused by NDK, and we will mentioned it in README.

[2016-04-22 11:15] klodha commented on #15417
@minggo thanks for revert. Little more confident about using cocos2d-x for next project. Just waiting for r10c download to complete. If I encounter any further issue, will share the same.

I think you can close this issue for now.

[2016-04-22 11:21] dakikifr commented on #8519
I'm still using v3.8, but my fix is something similar. And I agree that it should be put in the official release (in one form or another) asap.

[2016-04-22 11:46] hamatani63 commented on #15417
That's okay with me. Thank you!

[2016-04-22 11:46] #15417 closed, assigned to minggo

[2016-04-22 11:48] mogemimi commented on #15426
I just made a pull request #15492

[2016-04-22 14:15] stammen commented on #8519
We'll put this fix in for cocos2d-x v3.12.

[2016-04-22 15:21] aozhimin opened #15494 "Why not rename all cocos file name by remove CC prefix"
I know cocos2d-x which is based on cocos2d-iphone, was implement by c++ . in objective-c, there is no namespace, so we always name a class with a namespace, in 2.x, we use this style, however, in 3.x, all class prefix was removed, but, the file name still named by CC prefix

[2016-04-22 18:12] stevetranby commented on #15494
I think there's benefit to keeping it this way for code/file navigation in larger project and amongst other STL and platform methods during autocomplete/search, but I guess I would be fine if the prefix was dropped going forward (probably a v4+ thing).

[2016-04-22 19:19] dakikifr commented on #8519
Nice, but please give us the commitID here when it's been pushed, so we can merge a tested/validated fix on our code base, thanks!

[2016-04-22 22:42] stevetranby opened #15495 "WebSocket crash on Director end (app exit)"
Invalid _delegate pointer if the app exits. It appears that _isDestroyed flag was trying to prevent this crash, but for me it occurs with latest github v3 (2016-04-22) both after running auto test and then quit app as well as running just the extensions -> WebSocket test by clicking the menu item in 2nd test to force exit.

[code]

[code]

[2016-04-23 00:42] aozhimin commented on #15494
Got it, thank you for answer me!

[2016-04-23 10:02] liuhello commented on #8305
same problem on v3.10 cpp, device is mi 3 、htc m8 and 红米. happened when i background game and change system language times.

[2016-04-23 11:22] liuhello commented on #8305
I have fixed it like this code :
void FontAtlas::listenRendererRecreated(EventCustom *event)
{
    if (_fontFreeType)
    {
        //add this code
        for( auto &item: _atlasTextures)
        {
            item.second->setName(0);
        }
        auto eventDispatcher = Director::getInstance()->getEventDispatcher();
        eventDispatcher->dispatchCustomEvent(CMD_PURGE_FONTATLAS,this);

[2016-04-25 02:22] ShuraLiu opened #15499 "RenderTexture在嵌套使用时onEnd方法会重置错误的viewport"
CCRendertexture.cpp的605行，onEnd方法重置viewport时会直接重置为屏幕的viewport，而如果是嵌套使用Rendertexture时应该重置为上一次Rendertexture对应的viewport
伪代码：
RenderTexture\* pRT_1 = RenderTexture::create(1136, 6640, Texture2D::PixelFormat::RGBA8888, GL_DEPTH24_STENCIL8);
pRT_1->begin();
RenderTexture\* pRT_2 = RenderTexture::create(1136, 6640, Texture2D::PixelFormat::RGBA8888, GL_DEPTH24_STENCIL8);
pRT_2->begin();
something->visit();

[2016-04-25 02:39] mogemimi commented on #15426
I created a pull request #15500

[2016-04-25 05:50] dumganhar commented on #15495
Thanks for your feedback, which platform did you reproduce the issue on?

[2016-04-25 05:53] stevetranby commented on #15495
OSX, Xcode, cocos2d_tests project -> run(debug) cpp-tests target

[2016-04-25 05:56] dumganhar commented on #15495
Got it , I will try to reproduce it by your step. :)

[2016-04-25 06:05] dumganhar commented on #15495
@stevetranby , Sorry for that I couldn't reproduce this issue. :(

I did enter the 2nd websocket test, and force exit by close button. But the application exited without crashes. Did I do something wrong?

[2016-04-25 06:06] yi opened #15501 "[feature request] [CCAudio] suggest CCAudio to support playing a remote sound asset by given an url"
[Reason]
The current implementation of (native/runtime)CCAudio supports only play local files. This brings limitation to runtime game development. On runtime, developers have to implement some sort of preloading mechanism to insure remote sound assets are locally available to CC prior to playing them. Such an implement could easily lead to problems:
- developers’ code bases have to be differentiat

[2016-04-25 06:06] stevetranby commented on #15495
Probably not. Likely a machine-dependent crash ... ? I'll repo, and create a little screen cap.

[2016-04-25 06:12] dumganhar commented on #15495
Yes, a screenshot of crash stack is better for analyzing. Thanks.

[2016-04-25 06:20] stevetranby commented on #15495
Sorry, I realize now that I can't reproduce it easily, seems to be some sort of race condition. Seems as if it works fine if I go through clicking to the websocket 2nd test and clicking the close menu item. But if I reset that test (middle main menu circle between next/prev arrows) a few times quickly and then click close I do get the error.

Actually I can reproduce now: If you go to Extensions T

[2016-04-25 06:35] dumganhar commented on #15495
Thank you, I will check it.

[2016-04-25 07:13] rabee198 opened #15502 "调用 cos2dxJavascriptJavaBridge.evalString 崩溃"
调用 cos2dxJavascriptJavaBridge.evalString
第三次一定发生这个异常，然后崩溃，有谁知道如何解决不？
异常信息如下：04-25 14:39:14.722: Fbc(8092): Fatal signal 11 (SIGSEGV) at 0x00000030 (code=1), thread 8092

这个问题如何解决呢？

[2016-04-25 07:16] rabee198 commented on #15502
版本是3.6.1的

[2016-04-25 07:32] minggo opened #15503 "Add log message to say that can not usage gradle to build native codes currently"
The issue comes from http://forum.cocos.com/t/mac-cocos-3-10-apk/36065/2

[2016-04-25 07:48] minggo opened #15504 "Issues on windows release mode"
Some developers reports the bugs on win32 with release mode:
- some one has compiling errors
- some one run with black screen

[2016-04-25 08:26] dumganhar commented on #15495
@stevetranby , it's the bug of using a deleted pointer `_wsText->close`.
The test case didn't check whether _wsText was valid.
I fixed it at https://github.com/cocos2d/cocos2d-x/pull/15505

Please pull my Pull Request to test. Thanks again for your feedback.

[2016-04-25 08:54] stevetranby commented on #15495
Makes sense.
Tested. I cannot reproduce the issue. It seems to be fixed.
Thanks.

[2016-04-25 08:54] #15495 closed, assigned to nobody

[2016-04-25 15:43] stammen opened #15506 "Windows Universal 8.1 Build Machine error code '23'"
The Windows Universal 8.1 Jenkins Build Machine  is having an issue with error code '23'

fatal error C1090: PDB API call failed, error code '23'

[2016-04-25 15:44] stammen commented on #15506
@minggo What version of Visual Studio are you using on the Windows Universal 8.1 Jenkins build machine? Visual Studio 20XX Update X?

[2016-04-25 16:58] rynkowsg commented on #15468
Hi @zilongshanren,

I haven't updated cocos2d-x to v3.10, but I fixed the issue. I've just cherry-picked commits from #14505 and #14514 and the problem is gone.

I consider that this issue could be closed.

[2016-04-25 16:58] #15468 closed, assigned to nobody

[2016-04-25 23:46] Narvikz commented on #14034
Apparently the issue has been fixed with r12 beta release: https://code.google.com/p/android/issues/detail?id=73907#c10

[2016-04-26 02:02] minggo commented on #15506
@zilongshanren Do you know?

[2016-04-26 02:09] zilongshanren commented on #15506
@minggo  Sometimes Jenkins Windows Universal 8.1 Build machine got this issue, But I don't know why, somebody says the PDB process broken when it reaches the limits.. I'm also quite confused by this error message...

[2016-04-26 02:21] minggo commented on #15506
@zilongshanren Do you know the answer of @stammen question `What version of Visual Studio are you using on the Windows Universal 8.1 Jenkins build machine?`

[2016-04-26 05:44] zilongshanren commented on #15506
@stammen

We use VS 2013 on the Windows Universal 8.1 Jenkins build machine?

[2016-04-26 05:49] minggo commented on #15494
Yep, it is a history issue. We hope we can remove it in future.

[2016-04-26 05:49] #15494 closed, assigned to nobody

[2016-04-26 05:51] #15457 closed, assigned to nobody

[2016-04-26 05:52] #15456 closed, assigned to nobody

[2016-04-26 06:10] minggo commented on #15449
Fixed in #15509. These flags were used for clang, since we use gcc, so remove these flags.

[2016-04-26 06:11] minggo commented on #15441
There is not plan currently.

[2016-04-26 06:11] #15441 closed, assigned to nobody

[2016-04-26 06:21] minggo commented on #15439
@Obg1 Good catch. But i am not sure if it is caused by the codes. How did you make sure? But i think we should use `malloc` here since we don't care about the value of `__indices`.

@ricardoquesada Did you know why use `realloc` here?

[2016-04-26 06:22] xpol commented on #15426
#15510 and #15508

[2016-04-26 06:23] minggo commented on #15439
And i think it is a potential issue here as @Obg1 mentioned.

[2016-04-26 06:39] minggo commented on #15432
It looks related to #15439. Could you please try the resolution mentioned there?

[2016-04-26 06:41] minggo commented on #15418
Can close this issue?

[2016-04-26 07:03] minggo commented on #15193
Yep, i think it is a mistake.

[2016-04-26 07:05] minggo commented on #15206
How to reproduce it?

[2016-04-26 07:06] anjandaffo commented on #15418
@minggo I gone through the above link and it working. But there is an issue to update cocos2d-x. In above repos use cocos2d-x 3.9. If I want to update the cocos2d to next version then build is failed because library are not building for Apple TV.

So I request If Cocos2d team give official support It will help to many users.

[2016-04-26 07:07] minggo commented on #15184
I think it is fixed in #14005.

[2016-04-26 07:08] #15184 closed, assigned to nobody

[2016-04-26 07:11] minggo commented on #15418
@anjandaffo I know nothing about Apple TV support. I think @ricardoquesada knows more about it.

[2016-04-26 07:23] minggo commented on #15193
@pwang08 Thought it looks like a bug, but could you tell me how to reproduce it since it is not an issue all the time. Thanks.

[2016-04-26 07:31] stammen commented on #15506
@zilongshanren Which update of VS 2013? There are updates 1 to 5.

[2016-04-26 07:40] pwang08 commented on #15193
It's easy to reproduce, if cc.loader.resPath has been set to a nonempty path.

[2016-04-26 07:41] pwang08 commented on #15193
In that case, relative path isn't equal with the full path.

[2016-04-26 07:49] minggo commented on #15193
Got it. Thanks.

[2016-04-26 08:00] minggo commented on #15193
It is fixed in #15512

[2016-04-26 08:04] #15449 closed, assigned to minggo

[2016-04-26 08:05] #15193 closed, assigned to minggo

[2016-04-26 08:12] minggo commented on #15129
Can i close this issue?

[2016-04-26 08:12] minggo commented on #15137
Can i close this issue?

[2016-04-26 08:20] minggo commented on #15221
I am not familiar with CCProperties.h, @ricardoquesada do you know it?

[2016-04-26 08:24] minggo commented on #15233
Physics and Node can changed Nodes's properties, so i think it is better not use any action when using physics.

[2016-04-26 08:25] minggo commented on #15243
@rosone Have you resolved your problem? If so please close this issue. Thanks.

[2016-04-26 08:27] minggo commented on #15115
There is not plan to support psd file. Please use png or jpeg instead.

[2016-04-26 08:27] #15115 closed, assigned to nobody

[2016-04-26 08:35] #15090 closed, assigned to nobody

[2016-04-26 08:36] minggo commented on #15086
Yep, Android doesn't support preload now.

[2016-04-26 08:38] minggo commented on #15082
Thanks. But please don't use issue system for sharing codes.

[2016-04-26 08:38] #15082 closed, assigned to nobody

[2016-04-26 16:22] Obg1 commented on #15439
@minggo  my temp fix for it was when allocating a new __indices
to save the previous allocated __indices without releasing it, it is only release on the next "reIndex" call.
This is not 100% fix, but it did stop the crash from happening. Crash only appears on iOS, but it may cause unknown errors on other platform, it all depends on what the system does with the free memory.

realloc = causes the m

[2016-04-26 20:10] mogemimi commented on #15426
I've submitted #15514

[2016-04-26 20:20] Seryusjj commented on #15233
Ok may be is better to use just physics or just actions but wath is the purpose of the following flag: Physics3DComponent::PhysicsSyncFlag::NODE_AND_NODE ? isn't it suppose to sync the physics to the node movements and vice versa or am I wrong? Thanks in advance.

[2016-04-27 01:31] xpol commented on #15426
Lets eliminate them all: #15511

[2016-04-27 01:45] minggo commented on #15233
I am not the author of this module, but I think it is a wrong design. If both Node and physics can modify the Node's properties, it will make things complex.

[2016-04-27 01:52] minggo commented on #15439
@Obg1 I think it is better to release previous __indices is in next frame, for example

[code]

[2016-04-27 03:18] minggo commented on #15439
After reading codes more carefully, i think the reason is that
1. realloc modified __indices that used in previous triangles
2. renderer will copy indices in `Renderer::fillVerticesAndIndices()`, because the __indices contents is changed so it may copy wrong value into Renderer::_indices
3. OpenGL get wrong indices which causes the problem

In fact, there may be problem in step 2 too.

@ricardoque

[2016-04-27 03:58] minggo commented on #15049
@aardvarkk What did you mean `doing a simulator build`?

[2016-04-27 04:00] aardvarkk commented on #15049
@minggo Trying to run a project that executes on a simulator instead of an actual device.

[2016-04-27 04:02] minggo commented on #15049
As i said, i have not problem with XCode 7.3, and i didn't meet problem in previous Xcode versions.

[2016-04-27 04:04] aardvarkk commented on #15049
Could have been an issue in a previous version of Cocos at this point. Perhaps it’s safe to close.

[2016-04-27 05:38] #15049 closed, assigned to minggo

[2016-04-27 06:05] minggo commented on #15111
Cocos2d-x will only test on Ubuntu, but we accept PR that fix the issue and will not affect other platforms.

[2016-04-27 06:06] minggo commented on #15106
It is better not report 3rd party libs issue here.

[2016-04-27 06:06] #15106 closed, assigned to nobody

[2016-04-27 06:08] #15086 closed, assigned to nobody

[2016-04-27 06:19] minggo commented on #15036
Sorry, i can't catch your idea. What's the problem?

[2016-04-27 06:23] minggo commented on #15010
Could you show me some test codes?

[2016-04-27 07:11] minggo commented on #14973
It is better if you can share some codes and upload a picture to describe it. And you said older version works ok, could you tell me which version?

[2016-04-27 09:07] minggo commented on #14960
What did you mean prebuilt windows version?

[2016-04-27 09:09] minggo opened #15519 "remove cocos studio related test cases and resources"
Since cocos studio is canceled, we have not resources to maintain it, so we remove the test cases and resources but keep the reader.

[2016-04-27 09:32] minggo opened #15520 "Remove code ide related codes in templates"
Since Code IDE is canceled, we don't needed its related codes in template, such as files in [this folder](https://github.com/cocos2d/cocos2d-x/tree/v3/templates/lua-template-default/frameworks/runtime-src/Classes/ide-support)

[2016-04-27 09:40] minggo opened #15521 "remove tools/simulator"
As i know it is used by cocos studio, but cocos studio is canceled now, so should remove it too.

[2016-04-27 09:43] minggo commented on #13174
It is already updated to v1.0.2g.

[2016-04-27 09:43] #13174 closed, assigned to nobody

[2016-04-27 09:52] minggo commented on #14999
@JimmyYouyy Could you paste some test code to reproduce the issue?

[2016-04-27 10:19] #15521 closed, assigned to nobody

[2016-04-27 11:16] gelldur commented on #15111
@minggo PR :)

ok not working on windows beacuse of:

`cocos/platform/winrt/CCStdC.h:49:    #define isnan   _isnan`

[2016-04-27 12:57] Obg1 commented on #15439
@minggo we also need to check what happens if QuadCommand::reIndex is called more than once on one frame. If that happens having one "tmp" pointer will no be enough, so we need to save them on a list or something and than release them on the next frame.

[2016-04-27 13:14] minggo commented on #15439
@Obg1 Sorry, i didn't express it clearly. We can listen the event of `Director::EVENT_AFTER_DRAW` sent after invoking renderer(), and in the call back do it like

[code]

Then no matter how many times reIndex() is invoked, there is not problem.

Of course there may be other method, such as not share indices for all quad commands.

[2016-04-27 13:21] feijing566 opened #15523 "[bug]PageView::pageTurningEvent doesn't work"
[bug]PageView::pageTurningEvent doesn't work
@zilongshanren

The lua test project about ccui.PageViewEventType.turning is invalid

[code]

the ver is v3.10

[2016-04-27 14:57] PeqNP opened #15524 ".cocos-project.json file not found."
I upgraded from 3.8.1 to 3.10.0 yesterday. I ran the `cocos` command only to find that it couldn't find the `.cocos-project.json` file. Typically I have this in the `<Cocos2d-x-path>/frameworks/runtime-src`. After some investigation I saw that the `cocos` script invokes bash with `#!/bin/bash -l` (it runs the script as if it was ran in a new terminal). In my case, this will always change the direc

[2016-04-27 15:16] bolino opened #15525 "Getting different values stored with scientific notation in a plist."
I'm reading the plist using`FileUtils::getInstance()->getValueMapFromFile(path)` and then reading the value using `asFloat()`.

For example: if you save the number 1.52587890625E-05 in a plist and then try to read it, the correct decimal number (0.0000152587890625) will be returned in iOS, however in android it will return the number 1.52587890625.

Xcode will automatically convert numbers to scie

[2016-04-27 17:56] adesentenac commented on #9437
Hi @minggo, I've created a pull request to add OBB (zip) support into cocos2d-x: https://github.com/cocos2d/cocos2d-x/pull/15515

Regards,
Adrien

[2016-04-27 23:33] PeqNP commented on #15524
A separate issue: By default, the .cocos-project.json is not created. I end up having to copy the one I used in an older version to `frameworks/runtime-src`. Is there a reason for this? Because not having it, and building for Android, will always fail.

[2016-04-28 01:04] slackmoehrle commented on #15524
I just ran `cocos new...` and `.cocos-project.json` was created for me.

[2016-04-28 01:22] sianzain opened #15526 "ClippingNode "init" function BUG"
![image](https://cloud.githubusercontent.com/assets/11533618/14872838/ac844680-0d22-11e6-9138-0d38d439c480.png)

[2016-04-28 01:34] zilongshanren commented on #15523
@feijing566
It should be fixed in v3.11...

[2016-04-28 01:39] zilongshanren commented on #15526
Thanks @sianzain

[2016-04-28 01:54] ricardoquesada commented on #15418
yes, I started working on AppleTV support, but then priorities shifted to other things.
I was able to run the test-cpp on the tvOS simulator, but I didn't test them on the real device since I don't have one.

[2016-04-28 01:56] ricardoquesada commented on #15221
bug.

[2016-04-28 01:57] PeqNP commented on #15524
Huh. Sometimes I wonder if my machine is configured so much more different from others that it's causing issues.

That is good to know.

Were you using the zip download for v3.8.1? Was it on a Mac? Was it a Lua project?

Thank you!

[2016-04-28 02:04] feijing566 commented on #15523
@zilongshanren
3Q,i will test it

[2016-04-28 02:04] #15523 closed, assigned to nobody

[2016-04-28 02:07] minggo commented on #9437
@adesentenac thanks, i will take a look

[2016-04-28 02:59] #15221 closed, assigned to ricardoquesada

[2016-04-28 05:05] anjandaffo commented on #15418
@ricardoquesada  So Can We get Apple tv support in cocos2d-x next version 3.11? How you test menuItem or button click on simulator?

[2016-04-28 11:12] daniaDlbani commented on #15417
Hi @minggo I faced the same problem when upgrading to NDK r11c and now downloading the r10c to check if this problem will go away.. but backing to the NDK r10 compiling my game with android 21 cause it to crash on other older android os version on the start up of the application giving unsatisfied link error message what do you suggest and can't compile such a big project with older version take m

[2016-04-28 12:28] minggo commented on #15417
@daniaDlbani What's your cocos2d-x version? And i suggested using NDK r10c, not r10. If you can describe the error in more detail, it will be easy to get helper.

[2016-04-28 12:38] daniaDlbani commented on #15417
@minggo  so many thanks for the fast reply, I am using cocos2d-x 2.2.6
I found that it is a bug in ndk10, I was using NDKr10e

[2016-04-28 12:42] minggo commented on #15417
Glad to hear you fixed the issue.

[2016-04-28 13:15] daniaDlbani commented on #15417
in fact I haven't fixed it, but I hope cause the launch is soon I will try the ndk r10c and keep you updated..

[2016-04-28 14:57] joshbodily opened #15532 "Unicode characters not displaying correctly in CCLabel [Windows only]"
See:
https://github.com/cocos2d/cocos2d-x/pull/15473#issuecomment-213562896

Steps to reproduce:
1) Create a CCLabel
2) label->setText("👐👊💝"); // See https://github.com/cocos2d/cocos2d-x/blob/v3/tests/cpp-tests/Classes/UITest/CocoStudioGUITest/UIEditBoxTest.cpp#L67 if the Unicode chars aren't showing up.

Expected:
Same glyphs show up

Actual:
Box glyphs show up

@stammen @minggo Feel free to assi

[2016-04-28 16:14] ricardoquesada commented on #15418
@anjandaffo It won't be part of v3.11.
The only thing that I tried was running cpp-test, and just that. Most probably the buttons don't work since we haven't added remote control support.

[2016-04-28 23:28] pabitrapadhy commented on #14982
any fix for this found, it seems like, I am also facing the same issue.
but for me it happens in iOS as well. in v3.9

[2016-04-29 00:42] obushnell commented on #15036
My problem is that all of these libraries are included by default when you create a new project. If you don't explicitly go in and remove them, not a trivial thing, you will not be using MIT licensed code.

As it is not trivial to remove them after the fact, the project should only directly include code that is MIT licensed. You can make it easy to "turn on" non-MIT licensed code, but don't make i

[2016-04-29 01:42] minggo commented on #15036
But i think all these license are friendly to developers.

[2016-04-29 01:44] minggo commented on #15532
@joshbodily Thanks. But i can not assign to you because you are not in assignee. But i will leave it to you :)

[2016-04-29 02:37] #15520 closed, assigned to minggo

[2016-04-29 02:57] zeguRepository opened #15536 "cocos2dx 3.9引擎，ios越狱i5, 纹理渲染出现严重马赛克"
平台：ios，越狱版本，iphone6不会出现该问题；
引擎：3.9部分升级到3.10

[2016-04-29 02:59] zilongshanren commented on #15536
@xiaoyudoudou

show me some screenshot and code？

[2016-04-29 03:09] xiaoyudoudou commented on #15536
我上传不了图片哦~~~

[2016-04-29 03:16] xiaoyudoudou commented on #15536
![Uploading eg.png…]()

[2016-04-29 03:28] gdgoldlion commented on #15536
![d17_ rwv5ro9xw3 hc2](https://cloud.githubusercontent.com/assets/1749001/14907571/54484ce2-0dfd-11e6-865b-4956eb8e4219.jpg)
代传图片

[2016-04-29 03:34] voiddog commented on #11476
There is a `_priorityDirtyFlagMap` in the `CCEventDispatcher.cpp`, at the end of `dispatchEvent(event)`, it will called `updateListeners(event);`

In the `updateListeners(event)`, it will remove the listener whitch is unregistered. But the cocos did not set the dity flag to `DirtyFlag::SCENE_GRAPH_PRIORITY` or `DirtyFlag::FIXED_PRIORITY`.

To resolve this bug, I add two sentences to the `updateLis

[2016-04-29 03:38] zeguRepository commented on #15536
@zilongshanren

[2016-04-29 05:41] minggo opened #15537 "Add a callback in FileUtils"
Some developers suggesting add a callback in FileUtils, then can use the callback to decrypt data read by FileUtils. If you understand Chinese, can refer to [this thread](http://forum.cocos.com/t/cocos2d-x/36192/15).

[2016-04-29 05:43] minggo opened #15538 "Support alpha channel for ETC1"

[2016-04-29 06:00] Guy-kun commented on #9911
So this was closed despite being critical with the only solution being to move to an 'experimental' player? (The experimental player has terrible latency too for sound effects and can't keep up)

[2016-04-29 06:06] minggo commented on #15537
@xpol Do you have any suggestion about this feature?

[2016-04-29 06:06] chmyaf commented on #15129
@minggo Yes. Thanks!

[2016-04-29 06:06] #15129 closed, assigned to minggo

[2016-04-29 06:26] xpol commented on #15537
My solution in my current project, have a CryptFileUtils like this:

[code]

And in `frameworks/runtime-src/Classes/AppDelegate.cpp`:

[code]

[2016-04-29 06:28] xpol commented on #15537
I think the abstract class of `Crypt` is nessary.

If need, I can port CryptFileUtils into FileUtils with Crypt support.

[2016-04-29 06:31] minggo commented on #15537
Why need `Crypt` class? A callback is not enough?

[2016-04-29 06:40] zeguRepository commented on #15536
@zilongshanren
i5 7.1.2
i5 8.2
i5c 8.3 都有问题

i5s 9.3
ipad mini 3  9.2
ipad air2  9.1
i6 9.1+    都没问题

现在确定的情况是A6芯片的时候 就问题了～～

[2016-04-29 06:44] zilongshanren commented on #15536
@xiaoyudoudou  回头我测试一下，现在我手上没设备。。。

[2016-04-29 06:50] xpol commented on #15537
Abstract `Crypt` class make it more flexible can support both encrypt and decrypt:

[code]

These can't be done in one simple callback function.

[2016-04-29 06:53] xpol commented on #15537
[code]

[2016-04-29 07:00] xpol commented on #15537
BTW, I can't login/register http://forum.cocos.com/t/cocos2d-x/36192/4.

For packing all resource as a package, there is [LÖVE](https://love2d.org) which [does it very well](https://love2d.org/wiki/love.filesystem).

[2016-04-29 07:11] minggo commented on #15537
@xpol Thanks.
But i think add a callback is more simple and flexible, because you can just pass an lambda. And you can do what you want in the callback.

About the callback parameter, i think return unsigned char\* is more common, the prototype looks as

[code]

[2016-04-29 07:17] halx99 commented on #15537
Yes, I think, we just need add a callback, but should be:
void callback(const std::string& filename/_a relative path key_/, unsigned char\* buffer, size_t length);

[2016-04-29 07:26] minggo commented on #15537
@halx99 Yep, needs to pass filename too, then developers know how to do based on filename. But i think should pass full path of filename because many files may have the same name. And i think FileUtils needs to know the final size after callback, such as:

[code]

[2016-04-29 07:41] minggo commented on #15538
If you understand Chinese, can refer to [this thread](http://forum.cocos.com/t/cocos2d-x/36192) for detail information.

I am not sure if there is a simple way to support alpha channel with ETC format easily.

[2016-04-29 07:41] halx99 commented on #15537
@minggo Actually, the developers should avoid use same relative path which will lead ambiguity texture load, so I think, the follow callback should be ok:
std::function<void(const std::string& filename, unsigned char\* buffer, ssize_t& size)> decryptFunc;

[2016-04-29 07:45] minggo commented on #15537
Yep, relative path(relative to Resources) should be ok.

[2016-04-29 07:58] xpol commented on #15537
for `void callback(const std::string fullPathOfFileName, unsigned char* buffer, const size_t originSize, size_t *finalSize);`:
1. It makes us go back to use raw buffer like `FileUtils::getFileData()`
2. It don't support some decryption which don't allow work on original buffer.

How about:

[code]

[2016-04-29 08:05] halx99 commented on #15537
For performance, I think use overlapped encrypt/decrypt algorithm is a better choice, such as AES. Certainly we need test that.

[2016-04-29 08:12] minggo commented on #15537
@xpol looks good to me. Yep, it may be better not use raw data.

@halx99 what did you mean `overlapped encrypt/decrypt algorithm`? Engine will not provide encryption algorithm by default.

[2016-04-29 08:29] halx99 commented on #15537
@minggo It means reuse inputbuffer: inputbuffer == outputbuffer, No unnecessary memory alloc & copy.
And many block encrypt algorithm suppurt the feature.

[2016-04-29 08:38] halx99 commented on #15537
@minggo The openssl support AES, https://en.wikipedia.org/wiki/Advanced_Encryption_Standard, so Engine already privide it.

[2016-04-29 08:48] minggo commented on #15537
@halx99 so did you mean we don't need outputbuffer parameter? Could you please write the prototype and the usage? About OpenSSL support AES, i don't know if it is something related with this issue.

@xpol the prototype has a problem

[code]

`ResizableBuffer` doesn't contain size information, and the size information for `inBuffer` is important.

[2016-04-29 09:28] halx99 commented on #15537
@minggo  Yes, I mean no need outputbuffer parameter. The follow usage is from My project:

[code]

And the engine FileUtils implement should add some code support it like follow:
![qq 20160429172747](https://cloud.githubusercontent.com/assets/6977319/14912571/c10e982c-0e2f-11e6-8c89-38db2c0f6c74.png)

[2016-04-29 09:33] minggo commented on #15537
@halx99 but we can't make sure that inBuffer and outBuffer will be the same all the time. And if they are the same, just do `outBuffer = inBuffer`, right?

[2016-04-29 09:35] minggo commented on #15537
outBuffer and inBuffer may not be `unsigned char*`, may be can use Data or other types, but they support `std::move`, so not alloc and copy is needed.

[2016-04-29 10:18] halx99 commented on #15537
@minggo  Yes, Data should be ok, but when you want use it to std::string parameter interface, you must copy the data. It goback std::string maybe more common useful than Data.

[2016-04-29 10:55] xpol commented on #15537
string can not cover every needs. An abstract buffer is certainly needed.

[2016-04-29 11:35] halx99 commented on #15537
Yes, I agree.

[2016-04-29 15:14] xpol commented on #15537
I thought it again, the abstract of `Crypt` is necessary.
Because a single callback is not enough, see follow usage:

[code]

The crypt interface would be:

[code]

[2016-04-29 15:37] sbrednikhin opened #15540 "Heap corruption on dispatched event listener multiple remove."
Calling EventDispatcher::removeEventListener multiple times with listener that is dispatched in same moment causes heap corruption.

To repeat change NewEventDispatcherTest\NewEventDispatcherTest.cpp line 199 from one line

[code]

to two lines

[code]

and run Tests->NewEventDispatcherTest->test number 14
That click on red square.

[2016-04-29 15:51] halx99 commented on #15537
I  think, fixed use a  temporary buffer 's' not good, the developer chould't select reusable algorithm.
case COPY_ENCRYTION:
        std::string s;
        s.resize(size);
        fread(&s.front(), 1, size, fp);
        crypt->decrypt(s, buffer);
        return Status::OK;
    }

Leave the implement for developer, engine just privide a hook maybe a better solution.

[2016-04-29 19:14] obushnell commented on #15036
How is a "for personal use only" license friendly to developers? You can't distribute anything using Spine code.
Furthermore you release cocos2d-x under an MIT license. That is specifically incompatible with the MPL/GPL/LGPL license of SpiderMonkey. So again you cannot distribute anything using the SpiderMonkey code.

[2016-04-30 00:22] xpol commented on #15537
why user must choose reusable algorithm？it's so limited.
i want compress + encryption, and this can be a reusable algorithm.

halx99 notifications@github.com于2016年4月29日周五 下午11:53写道：

[2016-04-30 00:24] xpol commented on #15537
And a abstract class doing this can support them all: plan file, inplace
encrypted and copy encrypted.

Xpol Wan xpolife@gmail.com于2016年4月30日周六 上午8:21写道：

[2016-04-30 06:31] halx99 commented on #15537
Not must be, such as, I want reuse the input buffer, that's after I decrypt the inputbuffer, the inputbuffer become plaintext, and  I can use it to init a Image directly when it's a texture file. My mean is, the temp variable 's' is unnecessary in this case.

[2016-05-01 13:58] patriciog opened #15542 "[HTML5] Add support for initWithXML into ccui.RichText"
Hi,

This method is very helpful on JSB, but it is not supported on HTML5. Could you add it on HTML5, please?

![RichTextTest](http://discuss.cocos2d-x.org/uploads/default/9207/584d06fb9bb3064a.png)

Thanks and best!

[2016-05-02 02:13] mogemimi commented on #15426
I've just created a new PR #15543

[2016-05-02 04:14] stevetranby commented on #10677
Also maybe getter for the individual labels. Or set color method if only fill color is deemed necessary
http://discuss.cocos2d-x.org/t/how-can-i-change-fps-color-or-position/6612

[2016-05-02 15:00] RustyMoyher commented on #11748
Any update on this issue? I've been manually updating to GLFW 3.1.2 with each new project, but I'd love to have the new version already updated.

[2016-05-02 23:17] ehthxC7x9D opened #15544 "Make error in function ‘luaH_set’:"
Build: Ubuntu 16.04

[code]

[2016-05-03 01:39] #15329 closed, assigned to minggo

[2016-05-03 01:51] minggo commented on #15537
@xpol the callback is not just for encrypt, it can be used for everything. I think the most flexible way is the same mechanism as unix pipe. In the callback function, it passed input and accept output, looks like

[code]

[2016-05-03 02:12] xpol commented on #15537
how to optimize when no copy is required?

[2016-05-03 02:17] minggo commented on #15537
XXX can be `cocos2d::Data`, and you can just use `Data::takeBuffer()` you added a few days ago.

[2016-05-03 02:39] minggo commented on #15540
@sbrednikhin Did meet assert issue in Ref::release()?

[2016-05-03 02:57] minggo commented on #15540
@sbrednikhin  fixed in #15545.

[2016-05-03 03:16] zeguRepository commented on #15536
问题解决了，原因是frag着色器里面使用的低精度浮点书导致的问题，可能是iphone5等设备的GPU支持问题导致的；代码如下
![aee22cd7-eed4-4d08-9ca1-eac357e3290b](https://cloud.githubusercontent.com/assets/6153203/14973868/2a8ac468-1120-11e6-8775-beafa8879d43.jpg)

我后来加了etc1的支持，导致frag里面又额外的计算。
但是我还有一个疑问呢，假如我注释掉自定义的纹理采样部分的代码也能解决这个问题，问题是逻辑上不应该走u_hasAlpha后面的代码呢。

[2016-05-03 03:17] zeguRepository commented on #15536
@zilongshanren  能不能解答一下我额外的疑问呢，感激不尽呢！

[2016-05-03 03:26] minggo commented on #15526
fixed in #15546

@sianzain @pandamicro Please take a look.

[2016-05-03 03:31] zilongshanren commented on #15536
@xiaoyudoudou
你的自定义纹理采样的代码是什么样子的？

[2016-05-03 03:31] minggo commented on #15525
It is interesting, i will take a look.

[2016-05-03 03:35] zeguRepository commented on #15536
我的意思是采样第二张纹理的颜色；
![image](https://cloud.githubusercontent.com/assets/6153203/14974093/0b754ece-1123-11e6-886e-53bca9c9e678.png)

[2016-05-03 03:38] zilongshanren commented on #15536
@xiaoyudoudou
你指的注释掉的代码，是上图中if 语句里面的代码，还是只注释掉 采样 alpha channel 的代码啊？

[2016-05-03 03:41] zeguRepository commented on #15536
我现在是把原来的低精度浮点数改为了中精度，可解决锯齿问题；或者把原来的低精度设置去掉也可以；还有一种就是把我alpha channel这些代码去掉。但是不应该走到alpha channel这边的逻辑啊～

[2016-05-03 03:44] zilongshanren commented on #15536
@xiaoyudoudou  会不会是 uniform 的初始值有问题，你是直接没有给 uniform 传值对么？
我还是不是很理解你说的不应该走 alpha channel 的逻辑。。 如果 u_hasAlpha > 0 就会走啊。。

[2016-05-03 03:47] zeguRepository commented on #15536
![image](https://cloud.githubusercontent.com/assets/6153203/14974219/a6dafa70-1124-11e6-9a62-2cadf4b65558.png)

[2016-05-03 03:49] zeguRepository commented on #15536
只有在逻辑判断有alpha通道时，才会设置为1，才会走u_hasAlpha虾面的逻辑

[2016-05-03 03:51] zilongshanren commented on #15536
@xiaoyudoudou
我的建议是你直接在 u_hasAlpha if 语句里面人为添加一些设置，比如把 color 手动设置为一个值，然后确定在没有 alpha 的情况下面也进入了 alpha 采样的 shader。

此时，说明 u_hasAlpha 这个 Uniform 的值确实是大于 0 的，再在 C++层打个断点看看，先定位一下问题，然后再找原因。

[2016-05-03 03:55] zeguRepository commented on #15536
嗯嗯，好的～主要是对shader不是太熟悉，有点疑惑，谢谢你的建议～ 我先去试试

[2016-05-03 03:58] #15536 closed, assigned to nobody

[2016-05-03 04:00] zilongshanren commented on #15536
@xiaoyudoudou
继续讨论可以移步 http://forum.cocos.com/

[2016-05-03 04:06] zeguRepository commented on #15536
测试了，并没有走到那边的逻辑里面，问题现在就确定了：浮点数精度问题

[2016-05-03 06:01] minggo commented on #15525
K, i know what causes this issue. On Android, it uses [utils::atof()](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/CCFileUtils.cpp#L286) to convert string to float. And `utils::atof()` is to fix [`std::atof` issue](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/base/ccUtils.h#L86) on Android.  So `1.52587890625E-05` is converted to `1.5258789`  on Android.

I can fix it by appen

[2016-05-03 06:02] #15526 closed, assigned to minggo

[2016-05-03 06:22] minggo commented on #15525
`utils::atof` is added in #7440, it is almost two years ago, may be the bug is fixed by new NDK. So i will try to use `std::atof`.

[2016-05-03 07:45] minggo commented on #15525
It worked as expected with `std::atof()`, my environment is:
- Device: Nexus 5
- Android version: 5.1
- NDK version: r10c
- cocos2d-x codes: latest codes in v3 with the commit hash: `fba4bead704497f7c111746f703fbef56c35bec2`
- PC: Mac OS X 10.11.4

[2016-05-03 07:51] minggo commented on #15525
fixed in #15549

@bolino Please have a try.

[2016-05-03 09:38] #15463 closed, assigned to nobody

[2016-05-03 09:38] #15464 closed, assigned to nobody

[2016-05-03 10:46] letrungtrung opened #15551 "How to load .csb file on js-binding"
Loading json file with large size is very slow on js-binding, please tell me how to load csb on jsb

[2016-05-03 19:01] mogemimi commented on #13395
This issue has already been fixed in #14062 and in #14162, so I think we can close it.

[2016-05-04 01:30] OneSecure opened #15557 "Mac下编译Android目标失败"
我从 Github 取下的最后的 cocos2d-x 代码。然后编译 android 目标。编译 一直失败。

首先，在 Android Studio 里编译成功后。运行失败。说找不到 .so 文件。

然后，用命令行  cocos compile -p android  编译，就遇到下面的错误。
Android NDK: ERROR:/Users/xxx/proj.android/../cocos2d/external/freetype2/prebuilt/android/Android.mk:cocos_freetype2_static: LOCAL_SRC_FILES points to a missing file
Android NDK: Check that /Users/xxxx/proj.android/../cocos2d/external/freetype2/prebu

[2016-05-04 01:38] #15525 closed, assigned to minggo

[2016-05-04 01:39] #15540 closed, assigned to minggo

[2016-05-04 03:02] minggo commented on #15182
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:02] #15182 closed, assigned to nobody

[2016-05-04 03:02] minggo commented on #15124
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:02] #15124 closed, assigned to nobody

[2016-05-04 03:03] minggo commented on #15084
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:03] #15084 closed, assigned to nobody

[2016-05-04 03:03] minggo commented on #15077
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:03] #15077 closed, assigned to nobody

[2016-05-04 03:03] minggo commented on #15075
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:03] #15075 closed, assigned to nobody

[2016-05-04 03:03] minggo commented on #15020
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:03] #15020 closed, assigned to nobody

[2016-05-04 03:04] minggo commented on #14987
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:04] #14987 closed, assigned to nobody

[2016-05-04 03:04] minggo commented on #14968
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:04] #14968 closed, assigned to nobody

[2016-05-04 03:04] minggo commented on #14452
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:04] #14452 closed, assigned to nobody

[2016-05-04 03:05] minggo commented on #13512
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:05] #13512 closed, assigned to nobody

[2016-05-04 03:05] minggo commented on #12548
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:05] #12548 closed, assigned to nobody

[2016-05-04 03:06] minggo commented on #11930
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:06] #11930 closed, assigned to nobody

[2016-05-04 03:07] minggo commented on #11723
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:07] #11723 closed, assigned to nobody

[2016-05-04 03:07] minggo commented on #11547
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 03:07] #11547 closed, assigned to nobody

[2016-05-04 06:08] minggo commented on #13664
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:08] #13664 closed, assigned to WenhaiLin

[2016-05-04 06:09] minggo commented on #11376
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:09] #11376 closed, assigned to nobody

[2016-05-04 06:09] minggo commented on #11022
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:09] #11022 closed, assigned to zilongshanren

[2016-05-04 06:09] minggo commented on #10818
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:09] #10818 closed, assigned to nobody

[2016-05-04 06:09] minggo commented on #10611
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:09] #10611 closed, assigned to nobody

[2016-05-04 06:10] minggo commented on #10334
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:10] #10334 closed, assigned to nobody

[2016-05-04 06:10] minggo commented on #9509
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:10] #9509 closed, assigned to nobody

[2016-05-04 06:10] minggo commented on #9245
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:10] #9245 closed, assigned to nobody

[2016-05-04 06:11] minggo commented on #9152
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:11] #9152 closed, assigned to nobody

[2016-05-04 06:11] minggo commented on #8713
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:11] #8713 closed, assigned to nobody

[2016-05-04 06:12] minggo commented on #8553
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:12] #8553 closed, assigned to nobody

[2016-05-04 06:12] minggo commented on #8531
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:12] #8531 closed, assigned to nobody

[2016-05-04 06:13] minggo commented on #8498
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:13] #8498 closed, assigned to nobody

[2016-05-04 06:13] minggo commented on #8312
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:13] #8312 closed, assigned to nobody

[2016-05-04 06:13] minggo commented on #8311
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:13] #8311 closed, assigned to nobody

[2016-05-04 06:13] minggo commented on #8310
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:13] #8310 closed, assigned to nobody

[2016-05-04 06:14] minggo commented on #8308
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:14] #8308 closed, assigned to nobody

[2016-05-04 06:14] minggo commented on #8186
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:14] #8186 closed, assigned to nobody

[2016-05-04 06:16] minggo commented on #15409
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:16] #15409 closed, assigned to nobody

[2016-05-04 06:17] minggo commented on #15288
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:17] #15288 closed, assigned to nobody

[2016-05-04 06:18] minggo commented on #14771
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:18] #14771 closed, assigned to nobody

[2016-05-04 06:19] minggo commented on #14492
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:19] #14492 closed, assigned to nobody

[2016-05-04 06:20] minggo commented on #14369
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:20] #14369 closed, assigned to nobody

[2016-05-04 06:21] minggo commented on #13955
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:21] #13955 closed

[2016-05-04 06:21] minggo commented on #13963
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:21] #13963 closed, assigned to nobody

[2016-05-04 06:22] minggo commented on #13805
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:22] #13805 closed, assigned to nobody

[2016-05-04 06:22] minggo commented on #13766
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:22] #13766 closed, assigned to nobody

[2016-05-04 06:23] minggo commented on #13738
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:23] minggo commented on #13738
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:23] #13738 closed, assigned to nobody

[2016-05-04 06:23] minggo commented on #13737
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:24] #13737 closed, assigned to nobody

[2016-05-04 06:24] minggo commented on #13654
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:24] #13654 closed

[2016-05-04 06:25] minggo commented on #13641
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:25] #13641 closed, assigned to nobody

[2016-05-04 06:25] minggo commented on #13583
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:25] #13583 closed, assigned to nobody

[2016-05-04 06:27] minggo commented on #12820
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:27] #12820 closed, assigned to zilongshanren

[2016-05-04 06:32] minggo commented on #9442
Cocos Studio has been EOL'd as of April 2016.  There will be no more releases of Cocos Studio.

The last version of Cocos Studio is v3.10 and can be downloaded for [Mac](http://www.cocos2d-x.org/filedown/CocosForMac-v3.10.dmg) and [Windows](http://www.cocos2d-x.org/filedown/CocosForWin-v3.10.exe).
This version of Cocos Studio requires version [v3.10](http://www.cocos2d-x.org/filedown/cocos2d-x-3.1

[2016-05-04 06:32] #9442 closed, assigned to nobody

[2016-05-04 07:16] minggo commented on #15557
You should use `cocos compile -p android --android-studio` to compile for android-studio.

[2016-05-04 07:36] minggo commented on #15551
Can not load csb on JSB.

[2016-05-04 07:36] #15551 closed, assigned to nobody

[2016-05-04 07:40] minggo commented on #15544
I will install the ubuntu version to have a try.

[2016-05-04 07:44] minggo commented on #15524
I am not sure if it has problem in v3.8.1 or not, but i don't have problem with github latest code.

[code]

PS: i use MBP, Mac OS X version is 10.11.4.

[2016-05-04 07:44] #15524 closed, assigned to nobody

[2016-05-04 07:52] OneSecure commented on #15557
改用 “ cocos compile -p android --android-studio ” 命令后。错误信息还是一样的。
反正就是缺 /prebuilt/android/arm64-v8a/libfreetype.a  文件。

[2016-05-04 08:09] minggo commented on #15557
Have you run `cocos2dx-root/download-deps.py` to download external libraries needed by cocos2d-x?

[2016-05-04 08:34] OneSecure commented on #15557
已经运行过了 说明文档的第二步。
 $ cd cocos2d-x
 cocos2d-x $ python download-deps.py

[2016-05-04 08:40] minggo commented on #15557
Oh, there is not prebuilt libs for arm64-v8a, why it will find the architecture? Did you modify `Android.mk` to specify special architecture?

[2016-05-04 08:48] OneSecure commented on #15557
用 cocos new yyyyy -p com.xxxxx.yyyy -l cpp  生成的工程直接编译的。没做任何改动。

[2016-05-04 08:51] minggo commented on #15557
what's your NDK version?

[2016-05-04 08:56] OneSecure commented on #15557
android-ndk-r12-beta1-darwin-x86_64.zip

[2016-05-04 08:58] minggo commented on #15557
I suggest you using NDK r10c now, and i will try r12.

[2016-05-04 09:03] OneSecure commented on #15557
好的。我马上用回 r10C 谢谢。

[2016-05-04 09:10] OneSecure commented on #15557
我的 ndk 是 Android Studio 的 SDK manager 自己替我做主安装的，版本号也是它替我选的。
我手工改回 r10c 去。

[2016-05-04 09:17] OneSecure commented on #15557
建议啊，你们发布安装包时，注明一下需要的 NDK 的版本号。您以为如何？

[2016-05-04 09:21] minggo commented on #15557
It is [here](https://github.com/cocos2d/cocos2d-x#build-requirements) but not all developers will notice it.

[2016-05-04 09:39] zilongshanren opened #15562 "Cocos2d-x v3.11 with CC_ENABLE_GC_FOR_NATIVE_OBJECTS = 1 has some unknown memory management issues"
How to reproduce:
1. Download V3.11 with  CC_ENABLE_GC_FOR_NATIVE_OBJECTS = 1
2. build js-tests on iOS device
3. In  `CocoStudio Test -> CocoStudioArmaatureTest -> Test Performance`, when keep adding armatures the title and arrow sprites will disappeared... I can't reproduce it in cpp-tests.

[2016-05-04 09:40] zilongshanren commented on #15562
@pandamicro

[2016-05-04 09:44] minggo commented on #15557
I found the latest version is r11c [here](http://developer.android.com/ndk/downloads/index.html), where did you download r12?

[2016-05-04 10:22] OneSecure commented on #15557
我的 ndk 是 Android Studio 的 SDK manager 自己替我做主安装的，版本号也是它替我选的。
我发现它的自动安装很不靠谱，不稳定。 然后我把这个 URL 复制下来专门下载了一份。
https://dl.google.com/android/repository/android-ndk-r12-beta1-darwin-x86_64.zip

安装路径默认是 /Users/xxxxxx/Library/Android/sdk/ndk-bundle

与手工安装的习惯路径不一样。

[2016-05-04 10:52] nanmuyao opened #15564 "提审的google商店的安装包被拒绝了"
![nvomn ml fa 16b c atk](https://cloud.githubusercontent.com/assets/7760063/15012174/2e1116dc-1229-11e6-9e07-fdef3d3cb6fc.png)
上面是提示，我想在github cocos2dx 目录下的external目录中找到openssl编译后的类似libcrypto.a 这杨的文件但是没有找到@zilongshanren

[2016-05-04 11:32] ppawlak opened #15565 "[HTML5] Text in buttons are not centered vertically in Firefox"
This happens only with Firefox : texts in all buttons of my game are not centered vertically, they are a little bit too high. The bigger the font is, the more they are not centered. This happens only if I set a custom font, whatever the font is.

I made a little code snippet to demonstrate :

[code]

I tested with cocos-2d v3.10 and the upcoming v3.11. Same result.
And here what the button looks l

[2016-05-04 11:43] ManidakisM commented on #15544
I actually came across the same problem. I run the sed command again
to fix the issue with colons since the compiler responds with error at ":".

[code]

Im not sure if that will fix the problem since the `make` has not yet completed on my end. Still running.

Update:
`make` finished without any errors. That's a fix maybe?

[2016-05-04 12:45] mars3142 opened #15566 "Android prebuilt no arm64-v8a support"
In the external folder are not prebuilts with 64bit support like arm64-v8a. Is there a way to get 64 bit support?

[2016-05-04 13:00] WenhaiLin commented on #15566
https://github.com/WenhaiLin/cocos2d-x-lite-external/tree/master/android

[2016-05-04 13:10] Garretthh07 commented on #14976
I encountered the same problem on Red Mi 2, I use Cocos2d v3.60

[2016-05-04 14:34] Garretthh07 commented on #14976
I have watched cocos2d v3.10, and what's the mean of `Set the font. Only system font is allowed.`

[2016-05-04 16:36] stammen commented on #15154
@minggo  @ricardoquesada The bug is at line 674 of CCAutoPolyon.cpp. The return value ret is created on the stack and destroyed when the method goes out of scope. ret contains some pointers which are not correctly copied with the copy constructor. This is a bug for all platforms.

[code]

[2016-05-04 16:38] stammen commented on #15154
@minggo  @ricardoquesada  The copy constructor for PolygonInfo is not correctly copying the TrianglesCommand data.

[2016-05-05 02:09] minggo commented on #15154
@stammen thanks for the information. I think we need to refactor the class.

[2016-05-05 02:11] minggo commented on #15544
there is #15522 for it

[2016-05-05 02:15] minggo commented on #15557
r12beta1 is not released in google doc, so i think you'd better not use it.

[2016-05-05 02:15] #15557 closed, assigned to minggo

[2016-05-05 02:25] zilongshanren commented on #15562
And VideoPlayer and WebView also can't be released properly...

[2016-05-05 02:41] minggo commented on #15036
You can distribute it, but can not modify its codes. cocos2d-x doesn't modify the codes.

I am not expert with it. @ricardoquesada @linshun Could you please take a look?

[2016-05-05 03:11] ricardoquesada commented on #15036
@obushnell Are you sure that MPL is not compatible with MIT?
As far as I know they are compatible. IANAL, but I asked one about using MPL and he told me that we can ship it. And apparently  it is Ok to bundle it with closed source projects:
https://en.wikipedia.org/wiki/Mozilla_Public_License#Compatibility_with_other_licenses

Regarding Spine, yes, you are right. We should fix that.

But, if for s

[2016-05-05 03:37] minggo commented on #15111
fixed in #15569

[2016-05-05 03:37] #15111 closed, assigned to minggo

[2016-05-05 03:40] minggo commented on #15564
Please refer to [this ticket](http://discuss.cocos2d-x.org/t/openssl-problem-again/28270/)

[2016-05-05 03:41] minggo commented on #15564
And there is a [blog](http://blog.cocos2d-x.org/2016/04/openssl-update/).

[2016-05-05 03:41] #15564 closed, assigned to nobody

[2016-05-05 03:43] minggo commented on #15566
@mars3142 did you meet any issue or just want to improve performance?

[2016-05-05 06:19] nanmuyao commented on #15564
@minggo I have done like the blog ，and then i need to Recompile ？？

[2016-05-05 06:34] minggo commented on #15564
yep, you need to recompile.

[2016-05-05 07:07] youlanhai opened #15571 "Logic error in `ConfigParser::readConfig`"
The temporary search path was inserted into the begin of the array, but the last element was removed from the array when operation finished.

https://github.com/cocos2d/cocos2d-x/blob/v3/tools/simulator/libsimulator/lib/runtime/ConfigParser.cpp

[code]

Notice, the code `searchPathArray.erase(searchPathArray.end() - 1);` means to erase the last element.

[2016-05-05 08:14] davidejones88 opened #15572 "utils::captureScreen memory leak"
Hi there!

I've been using the captureScreen command lately like this

[code]

but I constantly have a memory leak which can increase the memory usage quite heavily if I take too many screenshots. (using xCode, iOS 9)

If I go into onCaptureScreen in ccUtils.cpp and return immediately like this

[code]

the leak does not occur.

Any help?

Davide

[2016-05-05 08:44] davidejones88 commented on #15572
It looks like if I comment this line

`// succeedSaveToFile = image->saveToFile(outputFile);`

like this

[code]

the leak does not occur.

Davide

[2016-05-05 10:25] alankevin2 opened #15573 "Quality low on iOS but Android (v. 3.10)"
Recently we found that the same app run on **iOS** and Android can result slight difference in quality.
The quality(images, labels) is better on **Android**.
For what comes to my mind in the first time, I thought of **retina** may not enabled on **iOS**, but with some time of research on the internet, it looked like **Cocos2d-x** now automatically enable **retina** for **iOS** now.
Furthermore, it

[2016-05-05 10:48] minggo commented on #15519
done in #15574

[2016-05-05 12:42] cwasp commented on #15573
I recently ran into this problem, and after some time found the cause of blurred images.
Antialias is enabled by default, so all images and text labels are blurred, if some transform with not integer coordinates are applied.

After I changed default antialiasEnabled to false, all images become clear.
Texture2D::Texture2D()
...
, _antialiasEnabled(false)//true)

FontAtlas::FontAtlas(Font &theFont)

[2016-05-05 13:10] nanmuyao commented on #15564
oh my gold, i refused by googleplay again, this time it tips me  this [https://support.google.com/faqs/answer/6376725?hl=zh-Hant](google play tips) ,  first i use cocos version is v2.x,  i have done like the [http://blog.cocos2d-x.org/2016/04/openssl-update/](blog) , i guess the proplem is caused by  recompile . but i don't know how to do next
this  is my android.mk, and i have deleted my game cla

[2016-05-05 14:09] stevetranby commented on #15572
Submitted a PR for this.
https://github.com/cocos2d/cocos2d-x/pull/15575

[2016-05-05 14:17] minggo commented on #15564
Does your own 3rd-party-library, such as `cocos2dx-talkingdata`, has OpenSSL codes that causes the issue?

[2016-05-05 14:23] nanmuyao commented on #15564
yes i used 3rd sdk and i use talkingdata for report some data in my game。

[2016-05-05 14:27] minggo commented on #15564
So you should check if it uses older version of OpenSSL that cause the problem.

[2016-05-05 14:35] nanmuyao commented on #15564
You mean the problem with the OpenSSL version is too older of the talkingdata used ，caused i was refused by google play

[2016-05-05 15:26] minggo commented on #15564
I just a guess. Because cocos2d-x itself only CURL uses OpenSSL, and it is not problem if you updated them because so many developers resolve the issue.

[2016-05-05 16:24] mars3142 commented on #15566
I found it, because I used the ndk-bundle from the Android SDK. Which seems to use arm64-v8a as default. And in my Application.mk I can't set

[code]

only

[code]

is possible. And because more 64 bit phones are coming, I was just wondering.

Another problem was, that I had to downgrade my NDK toolchain to r10, because r11 isn't working. But this seems to be an Google bug.

@WenhaiLin And why isn

[2016-05-06 01:14] nanmuyao commented on #15564
![1](https://cloud.githubusercontent.com/assets/7760063/15061699/d3fbb01a-136a-11e6-9629-714309576b43.png)
thank you veru much, i'll check the 3rd sdk.

[2016-05-06 01:25] minggo commented on #15564
You should modify the deps version in [external/config.json](https://github.com/cocos2d/cocos2d-x/blob/v2/external/config.json) first as the blog said.

`"version":"v2-deps-5"`

[2016-05-06 01:40] minggo opened #15577 "Use clang toolchain for Android"
From http://developer.android.com/ndk/downloads/revision_history.html (history of r11)

Works to do:
- choose `clang` toolchain in `cocos console`, refer to [this PR](https://github.com/cocos2d/cocos2d-console/pull/342)
- use `clang toolchain` to build 3rd party libraries of Android platform: #15781

[2016-05-06 01:45] minggo commented on #15566
@mars3142 thanks for the information. I agree with you that cocos2d-x should support arm-64-v8a now. @zilongshanren any idea of it?

[2016-05-06 01:49] alankevin2 commented on #15573
@cwasp Weird, I turn anti-alias to false and the quality became much worse.
I think anti-alias is to make the quality better isn't it?
Anyway, thanks for the reply!
I will keep looking for some answer on the internet.

[2016-05-06 01:56] zilongshanren commented on #15566
@minggo
The current directory structure is not good for have both 32-bit and 64-bit support, we have to do some refactoring of the external deps just as we do in v4.0.

I think it's very important to include arm64 not just for iOS but also for Android.

[2016-05-06 03:44] mogemimi commented on #15426
I've just submitted a new PR #15578

[2016-05-06 05:38] #15519 closed, assigned to minggo

[2016-05-06 07:43] minggo commented on #15573
@alankevin2 You can add search path based on resolution, please refer to [the sample](https://github.com/cocos2d/cocos2d-x/blob/v3/tests/cpp-empty-test/Classes/AppDelegate.cpp#L54) for detail information.

[2016-05-06 07:52] minggo commented on #15571
Yep, it is a bug.

[2016-05-06 07:56] minggo commented on #15519
remove invalid search path #15580

[2016-05-06 08:00] minggo commented on #15571
fixed in #15581

[2016-05-06 08:48] #15571 closed, assigned to minggo

[2016-05-06 08:57] #15572 closed, assigned to nobody

[2016-05-06 09:18] wengxianxun commented on #15199
i set:
Remove Text Metadata From PNG Files = NO.

but position is wrong

[2016-05-06 10:35] cwasp commented on #15573
@alankevin2  Then apparently you just not load proper HD graphics, and the @minggo advice should help.

[2016-05-06 14:55] rh101 commented on #14297
It may have something to do with cocos2d::experimental::AudioEngine being out of sync with OpenAL, as described in this issue I recently submitted:

https://github.com/cocos2d/cocos2d-x/issues/15419

For the first few loops after play2d is called, the sound isn't actually playing yet in OpenAL, but once the OpenAL status is AL_PLAYING (I think this is the right state, can't verify at the moment),

[2016-05-06 17:33] ricardoquesada commented on #15154
@stammen thanks. yes, good finding.

@minggo
short-term:we should review its code, and fix the obvious bugs (the ones spotted by stammen, and probably will find others too)
long-term: replace it with chipmunk auto-poly code

[2016-05-06 22:01] obushnell commented on #15036
I chose cocos2d-x because it uses an MIT license, which is friendly to the Apple App Store.
I called out the MPL/GPL/LGPL licensed code because of the known issue that using such code in the Apple App Store would require the violation of 1 or more of the licenses involved.
I refer you to the most recent discussion I can find: https://forums.developer.apple.com/thread/18922.
Which is an extension o

[2016-05-07 00:34] ricardoquesada commented on #15036
@obushnell
you are confusing MPL with GPL. You can use it in the AppStore. If you don't believe me, contact an attorney. I already did and that's why we are using spidermonkey.

[2016-05-07 02:22] OneSecure opened #15587 "Package name is `libcocos2dx` if building with Android Studio"
如下图所示，安卓手机上，安装包的显示名字是 “libcocos2dx” 而不是应用名称
[错误的包名字截图](http://ww3.sinaimg.cn/large/a8c38b53gw1f3ml2ojgs8j20dc0nqdhu.jpg)

其实修正相当简单：
- 找到 Android Studio 工程的  App 的 [AndroidManifest.xml](https://github.com/cocos2d/cocos2d-x/blob/v3/templates/cpp-template-default/proj.android-studio/app/AndroidManifest.xml) 文件，为 `<application>` 标签添加一个子属性  `android:label="@string/app_name"`
- 找到 cocos2d 的 [AndroidMani

[2016-05-07 04:10] fantasy opened #15588 "webp not support for winrt project"
miss this feature

[2016-05-07 09:25] Obg1 commented on #15439
@minggo , based on your suggestion I've made the following change to my code and it works well:

[code]

Thanks

[2016-05-07 14:13] minggo commented on #15154
@ricardoquesada sounds good.

[2016-05-07 14:15] minggo commented on #15439
@Obg1 thanks. Let's listen @ricardoquesada 's idea too.

[2016-05-08 07:32] daniaDlbani commented on #15417
I am using NDK r10e and when run the app on android version less than 5 (android 21 which is using in compiling the app) it crash immediatly and here what I am getting

05-08 10:29:56.581: E/AndroidRuntime(11183): FATAL EXCEPTION: main
05-08 10:29:56.581: E/AndroidRuntime(11183): Process: ae.test.test, PID: 11183
05-08 10:29:56.581: E/AndroidRuntime(11183): java.lang.UnsatisfiedLinkError: Native m

[2016-05-08 21:06] Alozavr commented on #13386
workaround with two cameras works only if you don't add sprite3D as a child to TMXTiledMap.
In that case tiles are always drawn over sprite. ZOrder doesn't take any effect.
Maybe someone found another workaround?

[2016-05-09 01:30] alexandreservian opened #15592 "Error in the compiler for android"
hello guys, i am with a problem in the compiler for android, its generates this error:
Exception in thread "main" java.lang.UnsupportedClassVersionError: com/android/dx/command/Main : Unsupported major.minor version 52.0
can someone help me?

[2016-05-09 06:18] gekailin opened #15593 "These codes cause trouble:"
In cocos/network/HttpClient-apple.mm line 174-177:

[code]

These codes set "Content-Type" for all "PUT" request, and I can't even override it. Maybe these code should test whether the headers set by user contains custom "Content-Type" first.

[2016-05-09 06:29] minggo commented on #15417
What's your Android OS version? cocos2d-x supports Android 2.3+.

[2016-05-09 08:22] minggo opened #15597 "Can not run on windows with VS2013 installed only"
If you run any tests shift by cocos2d-x, you will meet an issue that says `VCRUNTIME140.dll is missing` error. It is because curl depends on it.

If you install VS2015 redistribution, then the error is fixed. But as cocos2d-x supports VS2013+, so we should fix it.

[2016-05-09 08:27] minggo commented on #15592
You'd better describe what did you do step by step.

[2016-05-09 08:28] minggo commented on #15593
@gekailin I am not familiar with it, do you have any idea of it?

[2016-05-09 08:28] minggo commented on #15588
@stammen Any plan of it?

[2016-05-09 08:33] minggo commented on #15587
How did you create the Android project? Have you input your package name? Such as

[code]

[2016-05-09 08:34] minggo commented on #15573
@alankevin2 have you fixed the issue?

[2016-05-09 08:36] OneSecure commented on #15587
Yes

[2016-05-09 08:39] minggo commented on #15593
ok, it is duplicated with #15413

[2016-05-09 08:39] #15593 closed, assigned to nobody

[2016-05-09 08:41] minggo commented on #15587
Ok, i will have a try.

[2016-05-09 09:50] minggo commented on #15587
I did as you suggested, but the package name also showed `libcocos2dx`.

[2016-05-09 09:56] minggo commented on #15587
The package name shown correctly after restarting Android device. I will check if it breaks compatibility if using Android ADT.

[2016-05-09 09:56] OneSecure commented on #15587
简单粗暴地改成 'android:label="HelloCpp"' 怎样？我一开始就是这样改的。后来才改回上面的建议的。都能正确显示包名。不知你那里为啥不起作用。记得把第二条提及的属性删掉。我这里如果不删，会报错。

[2016-05-09 10:06] minggo commented on #15587
@OneSecure Please use English in future. If you are not confident with English, then you can translate it with Google translate, and paste Chinese and English together, such as

[code]

[2016-05-09 10:08] OneSecure commented on #15587
OK.

[2016-05-09 10:11] minggo commented on #15587
Thanks. Because developers all over the world will join the discussion, and english is the only language that all developers know.

[2016-05-09 10:16] minggo commented on #15587
Fixed in #15598

[2016-05-09 10:17] #15587 closed, assigned to nobody

[2016-05-09 12:26] redclock commented on #15573
Do you have the launching images with the correct resolution? We solved a similar problem several days ago. At that time, we only prepared a iphone 5 launching image (640x1136) but no iphone 6 one (750x1334). So the quality was low because we only got a 640x1136 GL frame buffer in iPhone 6 and iPhone 6 Plus! After the proper launching images were prepared in the project, the quality became correct

[2016-05-09 17:12] ricardoquesada commented on #15439
I'll take a look at it a few days.

[2016-05-10 02:11] alexandreservian commented on #15592
I am trying build a app for android with the command: compile -p android.
I am using ubuntu 14.10, java version 1.7.0, cocos2dx 3.10, apache int 1.9 and android nkd r10e. However, when using command compile -p android, it generates the next error:

-pre-compile:

-compile:
    [javac] Compiling 3 source files to /home/servian/cocos2d-x-3.10/projects/HelloWorld/proj.android/bin/classes

-post-compi

[2016-05-10 02:34] ehthxC7x9D commented on #15544
Any update on this?

[2016-05-10 03:01] minggo commented on #15544
@e-ht haven't seen my comments?

[2016-05-10 03:05] ehthxC7x9D commented on #15544
@minggo I see your comments on #15522. Was that fix also for this?

[2016-05-10 03:08] minggo commented on #15544
Yep, i think so. Because i succeed building in Ubuntu 16.04 after applying the PR i sent though i met error when run the app because of .so missing issue.

[2016-05-10 03:11] minggo commented on #15592
According [the ticket](http://stackoverflow.com/questions/22489398/unsupported-major-minor-version-52-0), your problem is similar with Java version mismatching. May be your computer also installed other Java versions, such as 1.8.

[2016-05-10 03:13] dannyjiajia opened #15602 "EGL_BAD_ALLOC crash on some android devices"
Hi guys, i found crashs on some android devices:

[code]

[http://bugly.qq.com/share/IZnsQb](http://bugly.qq.com/share/IZnsQb)

I have use the cocos2dx 3.5,i have upgrade the `Cocos2dxActivity.java` file with the lastest version. But it's not working...