[2016-07-27 08:00] dumganhar commented on #16229
The crash stack seems to say nothing. :(

[2016-07-27 08:01] dumganhar commented on #16229
The attachment url is broken.

[2016-07-27 08:17] alfogrillo commented on #16229
@dumganhar
I now, not much information! :-(
If I get something more specific I will post!
Have you the possibility to install 4.4.2 on one of your devices?
I uploaded the project again, now should work!

[2016-07-27 08:27] wildrabbit commented on #16100
That's brilliant, thank you! :)

[2016-07-27 08:31] dumganhar commented on #16229
I don't have a 4.4.2 device. But it works on Android 4.4.4.
Could you help to debug which line cause the crash?

[2016-07-27 09:04] dumganhar commented on #16229
@Drakon-Cocos, the attachment still could not be downloaded. please check it again.

[2016-07-27 09:08] minggo commented on #16225
@jasonchin i don't remember cocos2d-x uses icon on iOS, could you please point out the url? Thanks.

[2016-07-27 09:14] minggo commented on #16217
@pandamicro do you have any idea? Can invoke `Node::visit()` in JSB?

[2016-07-27 09:16] alfogrillo commented on #16229
@dumganhar
I uploaded again! :-/

[2016-07-27 09:16] minggo commented on #16199
@Gargo have you tried as @natural-law suggested? Can i close this issue?

[2016-07-27 09:22] dumganhar commented on #16229
Thanks. It could be downloaded.

[2016-07-27 09:33] jasonchin commented on #16225
@minggo

Sorry, not sure what you mean. Is it some reference image?

[2016-07-27 09:35] minggo commented on #16225
Sorry, i mean iconv.

[2016-07-27 09:39] jasonchin commented on #16225
@minggo ah sorry, yes of course.
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCLabelAtlas.cpp

[2016-07-27 09:45] stirem commented on #10390
I have some experience with [openFrameworks](http://openframeworks.cc/setup/raspberrypi/) on the Raspberry Pi. openFrameworks is a similar type of open C++ library as Cocos2d-x, except it is not primarily targeting games, but creative coding in general. It has great graphical performance on the Pi. Maybe there are useful code there if someone with more experience then me, are into making Cocos2d-x

[2016-07-27 09:49] minggo commented on #16225
Sorry, does CCLabelAtlas.cpp uses iconv?

[2016-07-27 09:52] dumganhar commented on #16045
Sorry, I could not reproduce this issue on iPhone6.
I used https://github.com/crossbario/autobahn-python to create a websocket server.
Is there some step to reproduce this issue?

[2016-07-27 09:54] dumganhar commented on #16045
@DineshKachhot , does this issue occur on all platforms? Did I miss something?

[2016-07-27 10:47] jasonchin commented on #16225
@minggo I'm an idiot sorry, wrong file
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCFontAtlas.cpp

[2016-07-27 11:11] alfogrillo commented on #16229
@dumganhar
I think identified the line that makes the program to crash.
Look this log:

[code]

The program crashes always when try to preload the **second** sound:
1) `ThreadPool::stretchPool` is called
2) Then `ThreadPool::setThread` is called
3) `ThreadPool::setThread` crashes here: `_threads[tid].reset(new(std::nothrow) std::thread(f));`. Print `after reset` is missing!

Here the full `ThreadP

[2016-07-27 11:27] ryanxia2016 commented on #16192
@dumganhar
Thanks a lot!

[2016-07-27 11:27] perminovVS opened #16231 "GLProgram::link() check result only debug or WinRT"
Why GLProgram::link correct check status result only DEBUG build or CC_TARGET_PLATFORM == CC_PLATFORM_WINRT ?

[code]

Faced with the problem of the players, as it turned out the program will not be linked.
Compiling and linking your programs tested, but Results linking was not true, I spent a lot of time did not find this error.
If you check the linking properly, you can display a message to the

[2016-07-27 14:28] ricardoquesada commented on #16220
@minggo ah... thanks. sorry for the confusion!

**UPDATE**: See my post below... actually, it will only compile on 10.11

[2016-07-27 14:33] alfogrillo commented on #16220
@minggo @ricardoquesada
No problems with Xcode 7.3.1

[2016-07-27 14:40] ricardoquesada commented on #16220
@Drakon-Cocos good to know.

@minggo sorry, actually there are two more calls that are not using that guards... I'll fix them using those guards.
they are at lines 163 and 136.

[2016-07-27 14:49] ricardoquesada commented on #16231
My guess is that it was added only on debug for performance reasons, but I think that is legacy code. `glGetProgramiv()` shouldn't be an issue.
And it should be added in release mode as well since some users might download shaders on hot-updates, or via DLC.

[2016-07-27 17:06] Gargo commented on #16199
@minggo yes, it works, thanks. But anyways I think it should be added into readme file

[2016-07-27 17:48] ricardoquesada commented on #16231
thanks. merged your PR.

[2016-07-27 17:48] #16231 closed, assigned to ricardoquesada

[2016-07-27 20:31] ricardoquesada commented on #16220
compile on OS 10.10 fixed.
Xcode 6.4 won't be supported.

So, closing this bug as fixed. thanks.

[2016-07-27 20:31] #16220 closed, assigned to ricardoquesada

[2016-07-27 22:34] ricardoquesada commented on #16225
@jasonchin as far as I know, we are using the built-in iconv library that is part of iOS. So, this shouldn't be an issue.

If so, we can safely close this issue.

[2016-07-27 22:54] ricardoquesada commented on #16224
Probably similar to #14826 (but not the same)

**UPDATE**
@ShuraLiu
Yes, TriangleCommands cannot be batched. I'll take a look at it to see whether or not it is feasible to do it without affecting the performance.

[2016-07-28 00:17] minggo commented on #16199
@Gargo sounds good. Could you please send a PR for it? I think you can describe it better as a user.

[2016-07-28 00:17] #16199 closed, assigned to nobody

[2016-07-28 01:36] ricardoquesada commented on #16115
@Bilalmirza thanks. I started the upgrade. Everything that you can share would be great.
So far I was able to test it on Mac without major problems. I just needed to update the .json files...  Apparently v3.4 requires to to re-export certain animations

[2016-07-28 02:05] dumganhar commented on #16229
It looks like you were using `clang` + `c++_static` to compile your project.
Could you switch to `gcc` + `gnustl_static` to test?

About how to switch to gcc, you could modify (cocos2d-x/tools/cocos2d-console/plugins/plugin_compile/build_android.py), search `clang`, replace with `4.8` or `4.9`

[code]

[2016-07-28 02:09] dumganhar commented on #16169
@ricardoquesada , ok, I'll try to reproduce it with a simple demo.
Hopefully, it could be reproduced.

[2016-07-28 02:31] minggo opened #16244 "move back to use gcc instead of clang"
We found there are bugs using clang+gnustl_static. Can refer to #16169 for detail information. So move back to use gcc.

We will move to use clang+c++_static when c++_static is stable.

[2016-07-28 02:43] minggo commented on #16244
done in #16245

[2016-07-28 02:43] #16244 closed, assigned to minggo

[2016-07-28 02:58] minggo commented on #16244
fixed in #16246

[2016-07-28 02:58] dumganhar commented on #16045
@DineshKachhot, @huangapple
What kind of WebSocket server did you use?

[2016-07-28 03:01] huangapple commented on #16045
@dumganhar  socket-io
"url": "git://github.com/Automattic/socket.io.git"

[2016-07-28 03:13] ShuraLiu commented on #16224
@ricardoquesada
the API getMaterialID() is only used when doing batching in CCRenderer.cpp now, and if we generate material ID at that time, not in init(), we can confirm the uniform values are the same or not in differernt TriangleCommands.

[2016-07-28 03:18] ricardoquesada commented on #16224
@ShuraLiu
There are a few issues with uniforms a material id, and basically is that we should compare them.
and the question is how to compare them in an efficient and reliable way?
currently they are stored in a `unordered_map<int,UniformValue>`.
comparing them in each iteration could be very time consuming... but perhaps it is worth it.
perhaps hashing them and update the hash each time a unifor

[2016-07-28 03:19] #16169 closed, assigned to dumganhar

[2016-07-28 03:54] dumganhar commented on #16045
@huangapple , So did you use `cocos2d::network::SocketIO` class to connect to server? Or just use `WebSocket` class directly?

[2016-07-28 03:56] huangapple commented on #16045
@dumganhar
use cocos2d::network::SocketIO

[2016-07-28 04:57] Bilalmirza commented on #16115
yes... most of the animations require a re-export. I had a few problems earlier but it seems like spine has fixed those problems :)
cheers

[2016-07-28 06:11] minggo commented on #16215
@dumganhar does invoke these functions on iOS have any side-effect? If not, i think there is not problem.

[2016-07-28 06:14] minggo commented on #16198
does it mean we should update rapidjson?

[2016-07-28 06:26] dumganhar commented on #16215
No side effects. But our template comments the code of pause & resume music.
On iOS, developers could leave the template code as it is there, everything will work correctly on iOS/Mac, but it's broken on other platforms.

[2016-07-28 06:31] minggo commented on #16215
So we should uncomment these codes in template.

[2016-07-28 06:40] dumganhar commented on #16215
But there is still a problem. Currently, we have two audio engines, One is `SimpleAudioEngine`, other is `cocos2d::experimental::AudioEngine`.
Would you add pauseAll & resumeAll for both of them?

[2016-07-28 06:45] dumganhar commented on #16045
@huangapple,
With SocketIO, I still couldn't reproduce this problem.
Every thing works fine.
Could you send me a simple demo including both server & client source code?

[2016-07-28 07:09] alfogrillo commented on #16229
@dumganhar
I tried to use `'4.9'`.
I generated a new project e recompiled everything.
It continues to crash, but the cause seems different:

[code]

When I start `cocos run` I see `NDK_TOOLCHAIN_VERSION=4.9`, this should be a confirmation I'm using gcc. The NDK is 11c

[2016-07-28 07:14] dumganhar commented on #16229
I have no idea about `dlopen` error really.

@minggo ，any thoughts about @Drakon-Cocos  posted above?

[2016-07-28 07:20] minggo commented on #16229
@Drakon-Cocos will you please use latest github codes and try again?

[2016-07-28 07:25] alfogrillo commented on #16229
@minggo
Yes I'm going to pull `v3` branch and redo the test!

EDIT: have you switched to `gcc + gnustl_static` in the last commits?

[2016-07-28 07:57] minggo commented on #16156
fixed in #16247

[2016-07-28 07:58] #16156 closed, assigned to nobody

[2016-07-28 07:58] minggo commented on #15697
duplicated with #16156, and it is fixed in #16247

[2016-07-28 07:58] #15697 closed, assigned to minggo

[2016-07-28 08:01] minggo commented on #16215
But if we change the behavior on Android, it may break compatibility too. So i think we should just modify the template, add more comments. And i think we should use AudioEngine internally in SimpleAudioEngine, then deprecated SimpleAudioEngine.

[2016-07-28 08:06] alfogrillo commented on #16229
I found out some interesting things:
- The problem in opening the cocos library is due to the fact that in the file `proj.android-studio/app/project.properties` there is the line
  `target=android-21`
  replacing with (api 19 are 4.4.2)
  `target=android-19`
  project works!
  I think this file should contain as default the lowest Android api supported by cocos2d-x
- The audio crash seems to be re

[2016-07-28 08:16] minggo commented on #16229
Yep, we found clang+gnustl_static may cause crash issues. `target=android-21` is needed by AudioEngine to optimize the performance, but it should not cause crash if running with Android OS version lower than 21. @dumganhar could you please double check it?

[2016-07-28 08:18] polluxchi commented on #12353
The problem is still in 3.12.

[2016-07-28 08:20] #16179 closed, assigned to nobody

[2016-07-28 08:27] ShuraLiu commented on #16224
@ricardoquesada
Maybe the key is not TriangleCommand but GLProgram. In 2dx if we render different nodes using the same glprogram with different uniforms, we need to add a custom command before the render command of each node, such as :
CustomCommand cmd1;
renderer->addCommand(&cmd1);
TrianglesCommand cmd2;
renderer->addCommand(&cmd2);
For example, we need to write a subclass of cocos2d::Sprite and

[2016-07-28 08:40] dumganhar commented on #16229
`target` section could be set to 19.
Currently,
- we need at least `API 17` to get the device sample rate & sample buffer size.

Cocos2dxHelper.java

[code]
- we need at least `API 19` to implement full screen logic (hide the virtual button bar at the bottom)

Cocos2dxActivity.java

[code]

@minggo , therefore, we need to change API 21 to API 19

[2016-07-28 08:40] ryanxia2016 commented on #16229
@minggo
I read this Issue and got the information: "gcc + gnustl_static is a better choose now"
So, I switched my config from clang to 4.8 + gnustl_static

But, the game crashed at IdeaTab (x86), previous version with clang is OK.
quite confused....

clang+gnustl_static will cause arm to crash, and gcc +gnustl_static will cause x86 to crash?

saddly story...

[2016-07-28 08:43] minggo commented on #16229
@ryanxia2016 please use gcc 4.9.

[2016-07-28 08:47] minggo commented on #16229
@dumganhar ok, i will change to 19.

[2016-07-28 08:55] minggo commented on #16229
I changed to api 19 in #16248

[2016-07-28 09:22] dumganhar commented on #16215
Yep, should this change be in 3.13? If so, please set the Milestone, thanks.

[2016-07-28 09:35] dumganhar commented on #16037
@huangapple , I will check it.

[2016-07-28 09:45] minggo commented on #16215
done

[2016-07-28 09:49] minggo commented on #16229
Oh, we need api 21 to fix compiling issue if using api lever 21+. Detail information can refer to #15891.

@Drakon-Cocos did you fix the issue if using gcc+api21?

[2016-07-28 09:59] dumganhar commented on #15767
@zmox , try to disable permessage-inflate by
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/network/WebSocket.cpp line598
// info.extensions = exts; // comment this line.

[2016-07-28 10:05] dumganhar commented on #16037
I couldn't reproduce the issue you said. No crash occurred on my iphone6 with iOS9.3.3

[2016-07-28 10:21] dumganhar commented on #16155
@minggo , for a glance, I think @sdspageprotein 's change is reasonable, if _texture isn't released, it may cause memory leak.

[2016-07-28 10:22] alfogrillo commented on #16229
@minggo
On Android 4.4.2 with api 21  and gcc 4.9 I get this (with `cpp_empty_test`):

[code]

[2016-07-28 10:23] dumganhar commented on #16074
@damorton , any updates? Could you provide more information?

[2016-07-28 10:39] ryanxia2016 commented on #16229
@minggo
4.9 still crash at IdeaTab, clang is ok

is any document describe the key difference between 4.8 / 4.9  and clang?

[2016-07-28 10:47] minggo commented on #16229
@ryanxia2016  No, there is not a document. Is there any crash log? What's you engine version? Can `cpp-empty-test` or `cpp-tests` work on that machine.

@Drakon-Cocos It is strange. I will try to find `Samsung Galaxy S4` or `Asus Transformer TF103C` to test. Could you please use NDK r12b to have a test?

[2016-07-28 11:09] alfogrillo commented on #16229
@minggo
I think you could have a try with any Android 4.4.2 device.
I'll test Ndk r12b (I think you mean with api 21)!

[2016-07-28 11:59] ryanxia2016 commented on #16229
@minggo
I am using a self-modified version of quick-x (based on 3.3 but merged a lot of bug fix and PR), so I am not confirm the issue is connected with latest cocos2d-x version.

I will try later.

[2016-07-28 12:15] pbs0512 opened #16251 "test project crash in android 5.0 device (Galaxy Note3) when use 3.12"
- cocos2d-x version: 3.12
- devices test on: Galaxy Note3(android 5.0)
- developing environments
  - NDK version: 11c

Steps to Reproduce:
1. cocos2d-x\tests\cpp-tests>cocos run -p android
2. run and crash

[code]

----------------------- test 1
1. change CCFontAtlas.cpp  https://github.com/cocos2d/cocos2d-x/commit/66fac82f007514e9ec4021515e325c49d129a45b
2. but crash while launch

---------------

[2016-07-28 12:43] alfogrillo commented on #16251
It was fixed here #16169
Take a look!

[2016-07-28 12:44] alfogrillo commented on #16229
@minggo
Ndk r12b does not change the thing: `cpp_empty_test` crashes with Android 4.4.2 when using api 21

[2016-07-28 13:31] #16251 closed, assigned to nobody

[2016-07-28 13:32] pbs0512 commented on #16251
@Drakon-Cocos thank you

[2016-07-28 14:27] ricardoquesada commented on #16115
fixed.

[2016-07-28 14:27] #16115 closed, assigned to ricardoquesada

[2016-07-28 15:09] slackmoehrle opened #16254 "CocoStudio.h needs to be deprecated."
A user pointed out that **CocoStudio.h** is not yet deprecated.

[2016-07-28 16:01] ricardoquesada commented on #16224
Sorry, why do you need to write a custom command to have uniforms? Are you adding attributes as well?

If you are adding custom attributes, then this is a duplicate of #14826, if you just want to add custom uniforms, then you don't need to add a custom command.
The idea behind GLProgramState (and not GLProgram) is that you can add uniforms easily.
Am I missing something?

[2016-07-28 19:16] meiry opened #16255 "Cocos2d-x Prevent mouse click location triggered when offscreen"
- cocos2d-x version: Cocos2d-x 3.12 javascript for web ( HTML5)
- devices test on: Chrome
- developing environments
  - NDK version:
  - Xcode version:
  - VS version:
  - WEB  <------------ This is missing
    Steps to Reproduce:
1. I have web cocos2d-x js test , i set it to be in the index.html :

   <canvas id="gameCanvas" width="800" height="450"></canvas>

Then in main.js i set it to be :

[c

[2016-07-29 01:05] jasonchin commented on #16225
@ricardoquesada Ahh, so this means Apple has some unwritten free license agreement I guess? Yeah if so then apologies, feel free to close.

[2016-07-29 01:28] #14148 closed, assigned to dumganhar

[2016-07-29 01:39] minggo commented on #16229
@Drakon-Cocos you said it is Android OS related, not device related? I will try to find a device with Android 4.4.2.

[2016-07-29 02:09] minggo commented on #16229
Yep, i can reproduce it, the error says `failed: dlopen failed: cannot locate symbol "atof" referenced by "libcpp_empty_test.so"...`. I have to replace `atof` with `std::atof` though i think i replaced it.

[2016-07-29 03:08] ShuraLiu commented on #16224
@ricardoquesada
Because I use the same GLProgram for more than one node, and for the same uniform, the values are different for different nodes. If I set the uniforms in draw function(or visit() func), the values will be covered, only setting unforms in a command can ensure that different nodes take different effects.
If I want to set values in draw function, I need to create GLPrograms for each n

[2016-07-29 04:06] minggo commented on #16229
Can not resolve it just replace `::atof` with `std::atof` because the are the same. So have to use API 19.

[2016-07-29 04:20] ricardoquesada commented on #16225
ok. closing it. Apple can use iconv as a dynamic library I guess. No need for an unwritten free license.

[2016-07-29 04:20] #16225 closed, assigned to nobody

[2016-07-29 04:27] ricardoquesada commented on #16224
Cocos2d-x has two classes:
- `GLProgram`: which is basically a pointer to a GLProgram: it includes the vertex and fragment shader. You can manually set attributes/uniforms but it is not user friendly, and it is not reusable (consider the uniform/attributes API deprecated).
- `GLProgramState`: which is basically the "state" of the GLProgram. It contains a GLProgram, but  also contains a user friend

[2016-07-29 06:07] minggo commented on #16229
fixed in #16248, use api 19

[2016-07-29 06:07] #16229 closed, assigned to nobody

[2016-07-29 06:35] ShuraLiu commented on #16224
You are right. I used the GLProgram in wrong way, I should use GLProgramState.
The same GLProgramState means the same uniforms, so what about using GLProgramState instead of GLProgram as part of the material ID , and we do not need to hash and compare the uniforms.

[2016-07-29 07:25] minggo opened #16267 "link error caused by `bsd_signal` if building with API level 21+ and uses libwebsocket"
If compiling with API level 21+, then it will cause link error that `bsd_signal` is missing if uses libwebsockets. It is because libwebsockets used `signal()`, and on Android 19 or lower version, `signal` is implemented as(can refer to `NDK_ROOT/platforms/android-19/arch-arm/usr/include/signal.h`)

[code]

But `bsd_signal` is removed with 21+. There is also [an issue](https://github.com/android-nd

[2016-07-29 08:02] dumganhar commented on #16045
Reported to the official libwebsockets: https://github.com/warmcat/libwebsockets/issues/593
Please disable `permessage-deflate` extension until the problem is resolved.

[2016-07-29 08:07] minggo commented on #16267
But it is strange that, when i build with 19 and run on Nexus 5x(Android 6.0), it doesn't crash. But it may crash on some devices. I don't know why. I think it will crash on all devices with Android OS 5.0+(21).

[2016-07-29 09:12] minggo commented on #16254
Should deprecated it?

[2016-07-29 09:21] minggo commented on #16181
fixed in #16269

[2016-07-29 09:21] #16181 closed, assigned to nobody

[2016-07-29 09:35] minggo opened #16271 "Should refactor external folder structure"
Currently, there is only one include path for all architectures, for example, take a look of [this folder](https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/tree/v3/jpeg/include). 32-bit and 64-bit may have different header files, especially the header file that defines type sizes based on architecture.

We can use the structures as [v4](https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bi

[2016-07-29 15:28] yaoqiang commented on #15742
@dumganhar，did this bug fixed? first, I'm using cocos2d-js v3.10, and I did covers the curl and  websocket folder use the patch of v104. then the bug produce.
the log:
Receiving data:index:142, len=1023
ERR: lws_rx_sm: doing draining flow

then when I decode the message, i get a exception...

I have two question,
1> is this bug fixed, witch version... how get...?
2> to support IPv6, do I have to c

[2016-07-29 16:38] felippeduran commented on #15696
Any progress in this issue? I have the same problem here (cocos2dx 3.12). Besides, it seems that Animate/Animation resets `flippedX` and `flippedY` properties too (or just ignores them).

[2016-07-29 17:38] felippeduran commented on #15696
I've found that this issue is related to `setSpriteFrame` method in `CCSprite` and seems to be indeed a bug:

[code]

Every frame, `_polyInfo` is reset and flipped vertices and color info are lost.

I've managed to fix the issue by making the following changes to `setSpriteFrame` method:

[code]

And refactored `setFlippedX` and `setFlippedY` to the following:

[code]

Hope this issue gets officia

[2016-07-29 18:35] pijush-paldragon opened #16276 "Fatal signal 11 (SIGSEGV) on Android 4.4 API 19"
D/dalvikvm( 3772): Trying to load lib /data/app-lib/com.pumtum.wordexact-1/libMyGame.so 0xa500d690
D/MobileDataStateTracker(  548): default: setPolicyDataEnable(enabled=true)
F/libc    ( 3772): Fatal signal 11 (SIGSEGV) at 0x000000b4 (code=1), thread 3772 (umtum.wordexact)
W/genymotion_audio(  222): out_write() limiting sleep time 1832237403 to 39909
W/genymotion_audio(  222): out_write() limiting

[2016-07-29 22:36] ricardoquesada commented on #16224
@ShuraLiu good point. I think that should work. thanks.

[2016-07-30 00:13] ricardoquesada commented on #13203
@stevetranby this patch broke the Scene3dTest. No nodes are shown on that test (cpp-tests -> Scene3dTest)

Any idea how improve this patch so that it works with the Scene3dtest ?

Perhaps this patch if fixing a real bug, but I'm worried that perhaps some games are relying on this bug... like Scene3dtest.

@minggo any idea what should we do?

Thanks.

[2016-07-30 00:33] stevetranby commented on #13203
@ricardoquesada ah, interesting, I wonder if just testing if the child's mask is currently set? I presume it's camera default at construction, so maybe if default then set as parent? I'm sure that's still wrong, with respect to anything similar to Scene3DTest where default camera may be used in the same way as the other cameras.

Maybe it's the wrong idea for a default as well, though we've found

[2016-07-30 00:49] stevetranby commented on #13203
Yeah, being reminded that the set mask cascades it should probably at minimum send in false for the optional cascade param. I'll continue to look through that test to understand why child is setting different camera mask than its parent.

[2016-07-30 01:06] ricardoquesada commented on #13203
@stevetranby ok. thanks.
I'll keep the PR applied for now. If we can't find a better solution, I'll revert it. thanks.

[2016-07-30 09:56] xingshh opened #16282 "android glbufferdata glbuffersubdata error:not release memory"
- cocos2d-x version: 3.12
- devices test on: huawei m2 801 huaweip8
- developing environments
  - NDK version: 10e
  - Xcode version: 2013
  - VS version:

my app is about 3d model, so need to updtae model's vertex number and index

i create vertextbuffer and indexbuffer with  GL_DYNMIC_DRAW，
and write function to update vertextbuff and indexbuff
bool VertexBuffer::updateVerticesData(const void\*

[2016-07-30 09:59] xingshh commented on #16186
不能正确捕捉。场景旋转结束时，矩阵没有恢复，你用例子的代码里面把ray画出来就可以看到的

[2016-07-30 22:25] stevetranby commented on #13203
(sorry a bit long for such a minor change, I could move/copy over to forums if desired)

@ricardoquesada @minggo

After a little investigation I've noticed a few use cases with different ideas of how to use cameras and their masks. This is a common case of myself understanding some 'pattern' and thinking it makes the most logical sense and not thinking of others.

HOWEVER, I would also admit that

[2016-07-31 16:15] #16276 closed, assigned to nobody

[2016-08-01 02:20] minggo commented on #13203
@stevetranby @ricardoquesada if we can not define which behavior is a correct, then keep original implementation is better.

[2016-08-01 02:54] xingshh commented on #16282
need not receate vbo, just call glBufferData，not call glSubbufferData
glBufferData(GL_ARRAY_BUFFER, getSize(), verts, _usage);
glBindBuffer(GL_ARRAY_BUFFER, 0);
//updateVertices(verts, vertexNumber,0);

[2016-08-01 03:01] minggo commented on #13482
@ricardoquesada should we change it with `std::stable_sort`? Or we need to some optimization after changing to `std::stable_sort`? As i know, `std::stable_sort` is slower than `std::sort + lambda`.

[2016-08-01 03:07] minggo commented on #16255
thanks, i added an item `browser type and version` in issue template

[2016-08-01 03:16] minggo commented on #14356
`_children` holds `Node*`, so i think we can remove `&` here. But i don't think it is related with this issue. @pjkui will you change the codes to

[code]

and have a try?

[2016-08-01 03:25] minggo commented on #14347
It is fixed.

[2016-08-01 03:25] #14347 closed, assigned to nobody

[2016-08-01 03:41] minggo commented on #14316
@minhtoantm could you please add some codes to reproduce it? Thanks.

[2016-08-01 03:42] minggo commented on #14316
Oh, it is a test case in `cpp-tests`, i will run on iOS device to have a try.

[2016-08-01 05:45] dumganhar commented on #14335
The person on the second floor said nearly correct.

But I don't wanna modify the default behavior of `CocosDeshion` which will interrupt the old audio  when there're more 32 audio files being played at the same time.

Compared to the post, I suggest to invoke `setSourceGroupNoInterruptible` after `[self _setUpSourceGroups:sourceDefs total:1];`

That's:

[code]

[2016-08-01 05:46] dumganhar commented on #14349
The same issue as https://github.com/cocos2d/cocos2d-x/issues/14335.
Please refer to my post in that issue.

[2016-08-01 05:46] minggo commented on #14316
@minhtoantm i can not reproduce it, could you please upload the `HiraMinProN-W3` font file?

[2016-08-01 05:50] #14309 closed, assigned to nobody

[2016-08-01 05:57] minggo commented on #14307
@teestudio sorry, what's the issue?

[2016-08-01 06:02] #14289 closed, assigned to nobody

[2016-08-01 06:18] #14288 closed, assigned to nobody

[2016-08-01 06:19] minggo commented on #14285
Did you provide correct icon for iPhone6s+?

[2016-08-01 06:25] minggo commented on #14284
@liuyi you are right, render texture just sends commands to renderer, and will take effect after `Renderer::render()` is invoked. If you want to get the result immediately, i think you can invoke `Director::getInstance()->getRenderer()->render()` yourself before getting the result.

[2016-08-01 06:31] minggo commented on #14278
I think it is fixed, i have met the issue. Please reopen it if it still exists.

[2016-08-01 06:31] #14278 closed, assigned to nobody

[2016-08-01 06:34] mastakrishna commented on #16267
What's the crash log / call stack?

[2016-08-01 06:35] dumganhar commented on #15419
@rh101, thanks for your feedback and advice. I'll check this problem and let u know my thought soon. :)

[2016-08-01 06:37] mastakrishna commented on #16267
If the bsd_signal is indeed missing in some devices libc.so, you may modify my code from http://stackoverflow.com/a/38660684 to dlsym "signal" if "bsd_signal" is missing. You may try using RTLD_NEXT/RTLD_DEFAULT or dlopen "libc.so" and dlsym from there.

[2016-08-01 10:01] badlogic commented on #16115
Hi, Mario from Spine here. I wonder, would it be possible to include the official Spine runtime as Git submodules? That way we'd be in charge of keeping things in sync, and there'd be a single source of truth.

[2016-08-01 10:30] dumganhar commented on #10482
@Sheado, thanks for your feedback, please upload the ogg file then I could test it.

[2016-08-01 17:53] MinhHTML5 opened #16289 "Tilemap Bug"
- cocos2d-x version: 3.12
- devices test on: Browser
- developing environments
  - NDK version: 10e
  - Xcode version:
  - VS version:
  - brower type and version: Chrome newest

Steps to Reproduce:
1. Load a tmx tilemap, and tileset texture file.
2. Error at: CCTMXLayer.js, line 115.
3. How to fix: at line 117, change "tex" to "texID".

[2016-08-01 19:04] ricardoquesada commented on #16115
@badlogic yes, makes sense.

[2016-08-01 23:43] ricardoquesada commented on #13482
@minggo I kept thinking about this bug, we have to define what does `globalZOrder` mean.

Because when you use a `globalZOrder == 0`, the rendering order is clear:
- it is decided by the scene graph

But what does it mean when `globalZOrder !=0` ?  It won't use the scene graph. `globalZOrder != 0` creates a rendergraph order.

If two nodes have the same `globalZOrder == 10`... which one should be

[2016-08-02 02:46] Ronalses commented on #16255
hola. si programo en JS puedo compilar para todas las plataformas?

Hi. if I program in JS I can compile for all platforms ?

[2016-08-02 03:46] iNeverSleeeeep opened #16291 "[Cocos2d-js] How to release JSScheduleWrapper? memory keeps grow up."
- cocos2d-x version: cocos2d-x-3.9
- devices test on: Mac Mini
- developing environments
  - NDK version: N/A
  - Xcode version: Version 7.2 (7C68)
  - VS version: N/A
  - brower type and version: N/A

This is a cocos2d-js issue.
Create an empty cocos2d-js project, and copy these code, run and wait:

[code]

And the memory keeps grow up because of _JSScheduleWrapper_.
![before](https://cloud.githu

[2016-08-02 05:57] dumganhar commented on #14664
Yes, basically, we need to deprecate `SimpleAudioEngine`, and implement `SimpleAudioEngine` with `AudioEngine`.

[2016-08-02 06:20] dumganhar commented on #15403
@Lostmonkey , any update? You probably need to invoke `AudioEngine::pauseAll` in `AppDelegate::applicationDidEnterBackground()` and invoke `AudioEngine::resumeAll` in `AppDelegate::applicationWillEnterForeground`.

I closed this issue, if you still get the problem, feel free to re-open it.

[2016-08-02 06:20] #15403 closed, assigned to minggo

[2016-08-02 06:24] dumganhar commented on #15086
It's gonna be supported in cocos2d-x 3.13.
Rather, preload for android is supported in the v3 branch.

[2016-08-02 06:26] dumganhar commented on #14425
@eldaranne @fuyifan , thanks for your feedback.
I'm gonna check this problem.

[2016-08-02 06:29] dumganhar commented on #14442
Basically, we need to deprecate SimpleAudioEngine and use `AudioEngine` to implement it.
I'm gonna achieve this. It's probably in cocos2d-x 3.14.

[2016-08-02 06:40] dumganhar commented on #12254
@folgerhu, sorry for my late reply.
Could you tell me which platform you tested on?
It seems to be a platform dependence problem since AudioEngine is implemented separately.
I assume you got the issue on Android. I've already refactored AudioEngine for Android platform.
It will be appreciated if you could pull v3 branch to test this issue again.
I closed this issue temporarily, feel free to re-ope

[2016-08-02 06:40] #12254 closed, assigned to dumganhar

[2016-08-02 06:55] dumganhar commented on #10724
@yantian001, @kumsook, @backviet01, I fixed some issues of Audio recently.
I assumed this issue has been fixed, so I closed this issue.

Could you pull the latest code on v3 branch to test it again? If you still get this issue, feel free to re-open this issue. Thanks.

[2016-08-02 06:55] #10724 closed, assigned to dumganhar

[2016-08-02 07:02] dumganhar commented on #10527
Similar issue with https://github.com/cocos2d/cocos2d-x/issues/16144.
I was fixed at the latest code of v3 branch. Plz have a try.
The patch will be in v3.13 if you could wait.

Currently, we encapsulate a `PcmAudioPlayer` for playing small audio file, it's perfect to loop a music without any gaps.

Therefore, I closed this issue. And feel free to re-open it if you find any problems.

[2016-08-02 07:02] #10527 closed, assigned to dumganhar

[2016-08-02 07:09] dumganhar commented on #9854
Yep, it's really a problem. Currently, we have 100ms delay for getting the current time. :(

[2016-08-02 07:14] dumganhar commented on #9911
@Guy-kun, I refactored `experimental::AudioEngine` recently, it should have addressed the latency problem. Do you mind to use the latest code on v3 branch to test?

[2016-08-02 07:22] Guy-kun commented on #9911
I've switched all of my audio to FMOD to avoid this a fair while ago so I'll have to leave it to someone else to try out.

[2016-08-02 07:24] dumganhar commented on #9911
OK. 👍

[2016-08-02 07:30] minggo commented on #13482
@ricardoquesada make sense.

[2016-08-02 07:35] minggo commented on #16267
@mastakrishna thanks, but i think can simplify it with

[code]

Because 21+ has `signal()`.

[2016-08-02 07:46] mastakrishna commented on #16267
No, you can't. I tried it and it's not the way to go, because if you do so you'll loose compatibility with devices that don't have signal in their libc.so (API <= 19, as back then it was just an inline, so no symbol on the disk).
It'll compile and link fine, but the library will fail to load at runtime on older devices.

[2016-08-02 07:53] minggo commented on #16267
Yep, you are right. My method only can link but can not run under 21.

[2016-08-02 08:00] mastakrishna commented on #16267
FYI: I've updated StackOverflow code a bit to include #if condition for `__ANDROID_API__` and some comment about `dlsym`-ing `signal`if things go south.

[2016-08-02 08:19] minggo commented on #16267
fixed in #16292

[2016-08-02 08:19] #16267 closed, assigned to minggo

[2016-08-02 10:50] Almax27 opened #16293 "Inefficient batch capacity resizing"
cocos2d-x version: 3.12
### Steps to Reproduce:
1. Create a label with string of 90 characters
2. Observe SpriteBatchNode increasing it's capacity 4 times. Each time memory is reseated, indices reinitialised and the GL buffers remapped.
   29 -> 40
   40 -> 54
   54 -> 73
   73 -> 98
### Proposed solution:

Follow behaviour of std::vector:
When assigned initial content it's capacity will equal it'

[2016-08-02 17:36] ricardoquesada commented on #13482
From our documentation:

[code]

closing but as won't fix since it was designed to be undefined when multiple nodes have the same global z order

[2016-08-02 17:36] #13482 closed, assigned to ricardoquesada

[2016-08-03 03:23] minggo opened #16297 "Will crash caused by missing `rand`"
If building with Android 21+ and running under 21, it will crash. The error message is

[code]

It is because `libtiff` is built with Android 21+, and it uses `rand`, but `rand` is not defined under Android 21.

Edit: and cocos2d-x should use `std::rand` instead of `rand`.

[2016-08-03 03:28] minggo commented on #15891
`bsd_signal` issue is fixed in #16267

[2016-08-03 03:29] minggo commented on #15616
the issue is fixed in #16267

[2016-08-03 05:49] minggo commented on #16297
compiling with high API level can not make sure to run with low API level, it is not an bug, so close it

[2016-08-03 05:49] #16297 closed, assigned to minggo

[2016-08-03 06:51] dumganhar commented on #10482
@Sheado , I reproduced this issue and gonna find the reason.

[2016-08-03 07:50] minggo commented on #13203
@ricardoquesada @stevetranby i think we should revert it since we can not define `correct` behavior and it breaks compatibility.

[2016-08-03 07:50] sxxdjj opened #16301 "etc1 with alpha in android"
I used etc1 with alpha in android.Game client enter background,then active game client.ETC1 shader can't work in game.
code:

[code]

shader:

[code]

[2016-08-03 08:32] zilongshanren opened #16302 "Test cases Bug15776Layer Crash"
- cocos2d-x version: 3.13
- devices test on: Mac

Steps to Reproduce:
1. compile and run cpp-tests
2. select "Bugs -> Bug15776Layer"

@minggo

![image](https://cloud.githubusercontent.com/assets/785541/17359084/a6571230-5997-11e6-9930-c56250ed8e0c.png)

The code snippet:

[code]

[2016-08-03 08:36] dumganhar commented on #14212
@dongtaohan ,  does this issue exist in Cocos2d-x v3.12?
I tested with a large mp3 file and I could get the finished callback while play ended.

[2016-08-03 09:13] minggo commented on #16302
it is designed as it is, please refer to #15880

[2016-08-03 09:13] #16302 closed, assigned to nobody

[2016-08-03 09:15] dumganhar commented on #10482
@Sheado , it was fixed at https://github.com/cocos2d/cocos2d-x/pull/16303.
Please test and give us feedback. Thanks.

[2016-08-03 09:36] ttdjong opened #16304 "Use VSCode to debug cocos2d-x jsb with cocos2d-x 3.12 version, got timeout"
- cocos2d-x version: 3.12
- devices test on: win7
- developing environments
  - VS version: 2013, debug model

Steps to Reproduce:
1. Download the cocos2d-x 3.12 from [Cocos2d-x site](http://www.cocos.com/download/cocos2d-x/)
2. Execute the setup.py.
3. Open the cocos2d-win32.sln solution and run the js-test project.
4. Open the js-test folder with VSCode and debug the project.
5. The VSCode conso

[2016-08-03 09:49] dumganhar commented on #15419
I think this issue exists in all cocos2d-x supported platforms which use OpenAL to play sounds.
For example, ios and Mac should have this problem too.

[2016-08-03 10:28] minggo commented on #16304
Will you please replace `localhost` to `::1` to have a test. As i know, Windows 7 uses IPV6 format address. But i am curious why 3.11.1 doesn't have issue.

[2016-08-03 13:40] minggo commented on #16224
Hi @ricardoquesada , if i understand correctly
- triangle command using different custom uniforms(different number or different name) can not batch
- we need to find a way to batch two triangle commands if they use the same custom uniforms(the same number and the same names)

right?

[2016-08-04 00:49] congling commented on #16224
More and more devices support  opengles 3.0 now, do you consider to add opengles 3.0 support recently?
Opengl 3.0 has the instancing feature, which will use gl_instanceID/buffer and glDrawElementsInstanced/glDrawArraysInstanced to batch the drawcall.

Unity 5.4 also support instancing too.
http://unitytaiwan.blogspot.tw/2016/05/unite-2016-unity-54-gpu-instancing.html

[2016-08-04 02:01] ttdjong commented on #16304
I test the 3.12 with `::1`, yes, it runs well. Sorry for my poor knowledge and Thank you for your patience guidance.

[2016-08-04 02:10] minggo commented on #16304
@djwind it is ok. I will update the plugin to try `::1` when `localhost` can not work.

[2016-08-04 02:10] minggo commented on #16304
Can i close the issue?

[2016-08-04 02:12] ttdjong commented on #16304
Ok, i close it.

[2016-08-04 02:12] #16304 closed, assigned to nobody

[2016-08-04 02:49] dumganhar opened #16307 "Encapsule Audio Engine implementation for the platforms using OpenAL"
Currently, new AudioEngine uses the following technique:
- Android: OpenSLES
- Windows / Mac / iOS: OpenAL
- Linux: fmod  --> could be replaced with `OpenAL` too.
- Tizen: platform depended SDK

Except Android and Tizen, other platforms could all use OpenAL.
But now, we have separated folder for platforms using OpenAL, the bad thing is although they all use OpenAL , the source code are so differen

[2016-08-04 03:10] minggo commented on #16307
@dumganhar i think you can refer to [EditBox](https://github.com/cocos2d/cocos2d-x/tree/v3/cocos/ui/UIEditBox), please use the same rule as others.

[2016-08-04 03:15] minggo commented on #16301
@sxxdjj i found you used builtin shader like this

[code]

But you also said you use your own shader. I am confused. Could you please share the test case?

[2016-08-04 03:19] minggo commented on #16254
@slackmoehrle why need to deprecated `CocoStudio.h`?

[2016-08-04 03:25] #14284 closed, assigned to nobody

[2016-08-04 03:26] pandamicro commented on #16289
Thanks for reporting, this is fixed in v3.13

[2016-08-04 03:27] #16289 closed, assigned to nobody

[2016-08-04 03:30] #14234 closed, assigned to nobody

[2016-08-04 03:30] #14233 closed, assigned to nobody

[2016-08-04 03:34] minggo commented on #14382
Yep, i think it is needed.

[2016-08-04 03:36] minggo commented on #14390
close this issue since cocos studio is canceled

[2016-08-04 03:36] #14390 closed, assigned to nobody

[2016-08-04 03:38] #14380 closed, assigned to zilongshanren

[2016-08-04 03:39] pandamicro commented on #14380
Solved by overwrite back the prompt function to original one

[2016-08-04 03:40] minggo commented on #14400
Sorry, don't quite understand the issue. And please use english in future, then developers all over the world can help you. Thanks.

[2016-08-04 03:46] dumganhar commented on #16307
Good point. :)

[2016-08-04 03:48] minggo commented on #14407
I don't think it is an issue. If there is not `deltaAngleY`, then use `deltaAngleX`.

[2016-08-04 03:48] #14407 closed, assigned to nobody

[2016-08-04 03:49] minggo commented on #14413
close this issue since cocos studio is canceled

[2016-08-04 03:49] #14413 closed, assigned to nobody

[2016-08-04 03:50] minggo commented on #14416
close this issue since cocos studio is canceled

[2016-08-04 03:50] #14416 closed, assigned to nobody

[2016-08-04 03:54] minggo commented on #14422
currently, cocos2d-x doesn't support restart like this, we may consider how to add it in future, but it will be in v4

[2016-08-04 03:54] #14422 closed, assigned to nobody

[2016-08-04 04:03] minggo commented on #14424
Yep, it seems yes if using AssetsManagerEx. We don't use CURL is just to reduce the package size.

[2016-08-04 04:05] minggo commented on #14424
[this site](https://developer.apple.com/support/app-store/) shows that iOS 8 + iOS 8 takes up 97% market share. So i think it is ok not supporting iOS 6.

[2016-08-04 05:36] wefiends commented on #16153
This also happens when using just C++. Reversing bf996c5bac5862827aff7675b606b2f7244ee8f8 fixes the issue. That commit touches a lot of code so I couldn't find an easy fix.

Edit: Just remembered the web platform is completely separate. This is a separate issue.

[2016-08-04 06:00] wefiends commented on #16153
Took another look. ProgressTimer now sets it's GLProgramState by getting it from the Sprite (`setGLProgramState(sp->getGLProgramState())`). By default, the Sprite will use a **noMVP** shader, which won't work with the way the ProgressTimer is drawn.

You can fix it by going back to using:
`setGLProgramState(GLProgramState::getOrCreateWithGLProgramName(GLProgram::SHADER_NAME_POSITION_TEXTURE_COLOR)

[2016-08-04 06:03] minggo commented on #14424
I updated the requirements of iOS version and Mac OS version.

[2016-08-04 06:03] #14424 closed, assigned to nobody

[2016-08-04 07:52] #10482 closed, assigned to dumganhar

[2016-08-04 07:56] dumganhar commented on #14425
I also don't know it we need to `detach` just for windows platform. :(

[2016-08-04 08:18] #14400 closed, assigned to nobody

[2016-08-04 08:56] minggo commented on #14434
close this issue since cocos studio is closed

[2016-08-04 08:56] #14434 closed, assigned to nobody

[2016-08-04 08:57] minggo commented on #14437
close this issue since cocos studio is canceled

[2016-08-04 08:57] #14437 closed, assigned to nobody

[2016-08-04 09:13] minggo commented on #14450
@teestudio you are right, we should use `apply` instead.

[2016-08-04 09:19] minggo commented on #14460
I tested with latest codes on iPhone6(iOS 9.3.3), no crash. So close this issue. Please feel free to re-open it if the issue still exists.

[2016-08-04 09:19] #14460 closed, assigned to nobody

[2016-08-04 09:21] minggo commented on #14462
close it since cocos studio is canceled

[2016-08-04 09:21] #14462 closed, assigned to nobody

[2016-08-04 09:21] minggo commented on #14463
close it since cocos studio is canceled

[2016-08-04 09:21] #14463 closed, assigned to nobody

[2016-08-04 09:22] minggo commented on #14465
What's the bug?

[2016-08-04 09:24] minggo commented on #14473
close it since cocos studio is canceled

[2016-08-04 09:24] #14473 closed, assigned to nobody

[2016-08-04 09:24] minggo commented on #14490
close it since cocos studio is canceled

[2016-08-04 09:24] #14490 closed, assigned to nobody

[2016-08-04 09:27] minggo commented on #14516
MingW support is contributed by developers. You are appreciated if you can send a PR to fix it.

[2016-08-04 09:27] #14516 closed

[2016-08-04 09:34] minggo commented on #14561
duplicated with #15972

[2016-08-04 09:34] #14561 closed, assigned to nobody

[2016-08-04 09:35] minggo commented on #14575
there is not plan currenlty

[2016-08-04 09:35] #14575 closed, assigned to nobody

[2016-08-04 09:40] AIGRIND-LLC commented on #14437
- CocosCreator does not support C++ and estimates are unknown
- CocosCreator can't import CocosStudio projects without errors
- CocosCreator can't be used as just stand-alone UI editor
- CocosStudio is cancelled
  What a great news! :D

[2016-08-04 09:40] minggo commented on #14594
@marswj  what's the error of this issue? I mean any crash or wrong effect?

PS: please use english in future, then developers all over the world can discuss together. Thanks.

[2016-08-04 09:41] minggo commented on #14605
close it since cocos studio is canceled

[2016-08-04 09:41] #14605 closed, assigned to nobody

[2016-08-04 18:51] Sheado commented on #10482
Sorry for the delayed response,
Thanks for taking a look at this @dumganhar
I'll report back if I find any further issues.

[2016-08-05 01:50] ricardoquesada commented on #13203
@stevetranby Thanks. Makes what you said. Do you think there is a way to make it work the way you want and also making it backwards compatible?

I noticed that the method `Node::setCameraMask()` supports an additional argument `applyChildren`, which will recursively will apply the mask to all its current children.

something like this:

[code]

Not sure if such argument will help in this scenario,

[2016-08-05 01:53] ricardoquesada commented on #16224
@minggo correct.  I think we can do that following @ShuraLiu 's suggestion of just comparing the pointer to the `GLProgramState`.

@congling yes, we have considered supporting it. Of course it is a great feature. Most probably it will be added in v4.0

[2016-08-05 02:13] minggo commented on #16224
@ricardoquesada so should use the same `GLProgramState` if want to be batched?

[2016-08-05 02:14] congling commented on #16224
@ricardoquesada this might work, but it'll let the programmer to merge the same state.

Consider this scenario: In a game scene with snow, there're hundreds of snowflake around, a shader to let the snowflake(sprite) rotate 6 degree every frame (for 30 fps).  The most common way is to create a GLProgram globally, and then create GLProgramState for each snowflake.

But if I want to batch the drawcal

[2016-08-05 02:43] ricardoquesada commented on #16224
@minggo correct. so when we the `GLProgramState()` has custom uniforms we should check if it is using the same `GLProgramState()` as the previous batched command triangle. If so, then they can be batched together. I'll work on this tomorrow.

@congling Sorry, I didn't get the example.
If you have hundreds of snowflakes (same GLProgram, same Texture ID, and same uniforms) then they should all reuse

[2016-08-05 02:49] dumganhar commented on #10482
@Sheado , Thank you. Please notice that, I sent this patch to v3.13 branch. :)

[2016-08-05 03:02] minggo commented on #16224
@ricardoquesada sounds good to me.

[2016-08-05 03:34] minggo commented on #14437
@AIGRIND-LLC i don't know the plan of CocosCreator. If you have any question, you are appreciated reported in cocos forum. Thanks.

[2016-08-05 05:47] stevetranby commented on #13203
@ricardoquesada so the second argument is true by default and we never specify false mostly because either it's being applied to some root parent node and we want it to cascade or the node has no children so it doesn't matter.

This PR is just a convenience default and my only idea that I think might work that would be "backward compatible" is to have an UNSET mask at construction and only apply t

[2016-08-05 07:05] Bilalmirza opened #16322 "Cameras don't work anymore."
I pulled the latest cocos2dx from github(v3.13).

I'm not sure what the problem is. Either the all cameras stopped working or the function
sprite->setCameraMask()  doesnt do anything anymore.

here is my game running on v3.12
https://www.dropbox.com/s/f5c21h05uhc53b4/forMusic.mp4?dl=0

running on v3.13
https://www.dropbox.com/s/8nglvua4mxrhl1x/cameraBug.mov?dl=0

cameras dont seem to follow the pl

[2016-08-05 07:24] zhengfangxin opened #16323 "Scheduler may crash"
cocos2d-x version: 3.11

Steps to Reproduce:

[code]

schedulerUpdate will set markedForDeletion to false, but not update callback

all the code is in one update frame

[2016-08-05 07:31] minggo commented on #16322
I think it is related to #13203.

[2016-08-05 08:00] minggo commented on #16323
Sorry, i can't catch your idea. Could you please describe it in more detail? You can
- provide codes to reproduce it
- describe what's the error behavior

[2016-08-05 08:04] minggo commented on #14618
@michaelcontento did you mean current Socket.IO doesn't do auto reconnection?

[2016-08-05 08:19] minggo commented on #14627
`cpp-tests` uses many resources that contain capital characters and haven't met issue. So close it. Feel free to reopen it if you find it is still has problem.

[2016-08-05 08:19] #14627 closed, assigned to nobody

[2016-08-05 08:21] minggo commented on #14646
You can try tolua++ to bind it or use [binding-generator](https://github.com/cocos2d/bindings-generator) that is used by cocos2d-x.

[2016-08-05 08:21] #14646 closed, assigned to nobody

[2016-08-05 08:22] zhengfangxin commented on #16323
[code]

when the new target's address is same to old target，but they are not same type。
the update will crash。

[2016-08-05 08:24] minggo commented on #14678
Yep, it seems similar and the implementation is a little different. I don't know it too. @ricardoquesada have idea?

[2016-08-05 08:33] minggo commented on #14679
I don't have issue with latest codes. I use MBP, and my environments are:
- Xcode 7.3.1
- Mac OS X: 10.11.6

We also upgraded GLFW, i am not sure if it is something related. So close this issue. Feel free to reopen it if you still has the issue.

[2016-08-05 08:33] #14679 closed, assigned to nobody

[2016-08-05 08:54] minggo commented on #14706
How can i reproduce it?

[2016-08-05 09:10] minggo commented on #15566
@ricardoquesada now the testing engineer reported that, it will be black screen when building and running `lua-tests` on 64-bit Android devcices with `cocos run -p android --app-abi arm64-v8a`.

[2016-08-05 09:27] minggo commented on #13203
I reverted it. So let's open the issue again to find a way that may not break compatibility.

[2016-08-05 09:59] minggo commented on #14711
@1078559858 i think you are right.
@ricardoquesada i think  [these two lines](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/renderer/CCVertexAttribBinding.cpp#L147) should be moved to the end of `if` block:

[code]

PS: please use english in future, then developers all over the world can join the discussion. Thanks.

[2016-08-05 10:02] minggo commented on #14731
@semgilo have you fixed your issue as @zilongshanren 's suggestion?

[2016-08-05 10:04] minggo commented on #14732
@nbtthief could you please paste some codes to describe it? Thanks.

[2016-08-05 10:06] minggo commented on #14737
@stammen i found you closed #14848. So what's the status of this issue?

[2016-08-05 10:07] minggo commented on #14738
@youlanhai how to reproduce it?

[2016-08-05 10:12] minggo commented on #14796
@LingJiJian thanks for reporting it. But please divide it into more issues. And please use english in future, then developer all over the world can join the discussion.

[2016-08-05 10:12] #14796 closed, assigned to nobody

[2016-08-05 10:14] minggo commented on #14819
how to reproduce it?

[2016-08-05 10:52] minggo commented on #14829
@FernandoB i think you should use `GLProgramState` to set your own defined uniforms. Or you should set it before it is adding to Sprite. After program is added into Sprite, all uniforms are controlled by `GLProgramState`.

My be use the codes like:

[code]

[2016-08-05 11:21] michaelcontento commented on #14618
Yes, at least was that the case a few months ago.

[2016-08-05 14:33] stammen commented on #14737
@minggo It was fixed in pull request https://github.com/cocos2d/cocos2d-x/pull/14848

[2016-08-05 17:30] slackmoehrle commented on #16254
I think because it confuses users to think it is still available as we have removed everything else about it. http://discuss.cocos2d-x.org/t/cocos-creator-v1-1-2-released/30763/17

[2016-08-05 22:06] DavidDeSimone opened #16327 "Large Memory Leaks on iOS-JS due to Spidermonkey"
- cocos2d-x version: 3.11
- devices test on: iPad Air 2
- developing environments
  - NDK version: N/A
  - Xcode version: 7.2.1
  - VS version: N/A
  - brower type and version:

We have discovered several large and concerning memory leaks originating from spidermonkey in our Cocos2d-x project on the iOS platform. We have not confirmed if this issue is or isn't happening on other platforms due to l

[2016-08-06 06:55] sxxdjj commented on #16301
I created my shader stored in GLProgramCache with key SHADER_NAME_POSITION_TEXTURE_COLOR_ETC1_NO_MVP
This bug appeared when game entered background, android os had no enough memory, clear the game memory.Then active game.My shader can't work.
Later, i shared the test case.

[2016-08-06 08:13] sxxdjj commented on #16301
test case:https://github.com/sxxdjj/shadertest.git
android used android studio
used build_native.py in proj.android-studio folder to build client

[2016-08-06 09:37] rynkowsg commented on #14110
@FrankStain,
I reopened the issue because I prepared a solution for it:
https://github.com/cocos2d/cocos2d-x/pull/16333
https://github.com/cocos2d-x/plugin-x/pull/174

In my organisation I applied this fix couple months ago and it works perfectly.

[2016-08-06 10:57] FrankStain commented on #14110
@rynkowsg ,
Wow, nice solution!

Frankly, i had never thought in such direction. Also `JNI_OnUnload` may be used for such purposes.
And, yep, i can confirm, this solution is safe. `AppDelegate` will be created only one time per library load and removed just before unloading of library (and after invocation of `JNI_OnUnload`).

[2016-08-06 14:00] raydelto commented on #14961
It worked for me copying libfmodL.so  and libfmod.so to **/usr/lib** , then creating a link to libfmod.so  named libfmod.so.6 .

I'm using Ubuntu 14.04

[2016-08-06 14:49] UKDeveloper99 commented on #16301
@sxxdjj There's nothing broken with ETC1 files in Cocos2D-x engine. I managed to get it working myself some time ago. Although I will admit it took a lot of trial and error. It was very difficult. The problem is probably with your shader code or the way you're creating the shader. Go and research the best way to create a shader in Cocos2D-x and close this issue.

[2016-08-06 14:54] UKDeveloper99 commented on #16322
Unrelated but @Bilalmirza have you got an e-mail I can contact you on?

[2016-08-06 15:10] UKDeveloper99 commented on #14826
Has any progress been made in regards to fixing this @ricardoquesada

[2016-08-06 15:38] UKDeveloper99 commented on #15538
@minggo I put ETC1 with alpha in to my game a long time ago. It was a really time consuming and frustrating process. Firstly ETC1 format by default can only accept RGB channels. So there is no way to have a single ETC1 texture with alpha. That means you have to supply the alpha channel in a separate texture.
Using the Mali GPU Texture Compression tool made by the arm developers they allow you to d

[2016-08-06 15:48] ericanne opened #16334 "在IOS下播放MP3没声音，3.12"
不好意思，自己的问题

[2016-08-06 16:27] ricardoquesada commented on #14826
@UKDeveloper99 not yet sorry. I'll work on this for v3.14

[2016-08-06 16:29] ricardoquesada commented on #14711
@minggo you might be right... but problem are those two lines causing? What is the bug? thanks.

[2016-08-06 16:31] ricardoquesada commented on #15566
@minggo yes, that was what I was saying about the encrypted bytecodes. Because it works ok on lua-empty-tests.

I'm not aware of the internals of our Lua implementation... I also don't know how the encryption works... but I can take a look at it if you want.

[2016-08-06 16:33] ricardoquesada commented on #14678
it seems that they are doing exactly the same thing.
yes, one should be deprecated... I can fix it. Which one should I deprecate?
I'll take a look at the history of the file a deprecate the oldest one.

[2016-08-07 03:15] ericanne commented on #16334
补充下，创建的是LUA项目，刚生成了一个新的项目，新的项目在MainScene:onCreate()中调用：cc.SimpleAudioEngine:getInstance():playMusic("xxxx.mp3",true)     xxxx.mp3放在res根目录下，同样的也是MAC调试有声音，烧到IPHONE6 PLUS上完全没有声音，也没有报任何错误。

[2016-08-07 04:14] #16334 closed, assigned to nobody

[2016-08-07 10:15] maklaus commented on #15652
Hey guys! Any chance to have v2 version of this fix?

[2016-08-07 15:05] iWoz commented on #14646
For the sake of successors, I made a tolua binding [repository](https://github.com/iWoz/LiquidFun_toLua) for LiquidFun, and successfully used in [my game](http://wuzhiwei.net/liquidfun_in_soda_world/).

[2016-08-07 21:51] ricardoquesada commented on #16224
fixed in v3 (planned for v3.14)
@minggo let me know if you want to have it for v3.13.

[2016-08-07 21:51] #16224 closed, assigned to ricardoquesada

[2016-08-08 01:25] minggo commented on #15652
@maklaus no, v2 doesn't use new audio engine.

[2016-08-08 01:26] minggo commented on #16224
@ricardoquesada i think it is ok to just fix it in v3.14.

[2016-08-08 01:32] minggo commented on #15566
@ricardoquesada i don't know it uses  bytecodes in lua-tests, i will take a look too.

[2016-08-08 01:37] minggo commented on #14711
Oh, i can translate the error message:

The scene includes a 3d model and a panel. The panel is created in cocos studio, and it has two listview, every listview has a clip attribute. The app also uses camera and lights, and it works correctly if not using 3d model, but it will crash when 3d model is added. It crashed in `UILayout.cpp`.

And the developer said the reason is because `glBindBuffer` i

[2016-08-08 01:40] minggo commented on #15538
@UKDeveloper99 thanks, it is fixed in v3.13.

[2016-08-08 01:40] #15538 closed, assigned to minggo

[2016-08-08 01:42] minggo commented on #16301
ect1 support is added in v3.13 which will be released on Aug.22. You can fetch the v3.13 branch to have a try.

[2016-08-08 01:42] #16301 closed, assigned to nobody

[2016-08-08 01:51] minggo commented on #16254
But the cocosbuilder reader works as the same way.

[2016-08-08 02:10] minggo commented on #14737
Oh, it is fixed in #14915

[2016-08-08 02:10] #14737 closed, assigned to nobody

[2016-08-08 03:24] maklaus commented on #15652
@minggo so this fps drop (i have it on galaxy tab4 only) is because of audio? But I tried to turn audio conpletely (not to call play methods) and still experience 30-35 fps

[2016-08-08 03:27] maklaus commented on #15652
I tried to comment //mapBuffers(); but in CCTextureAtlas.cpp (in v2 there is no Render.cpp) but its not fixed the fps (only fps stats dissapiars)

[2016-08-08 03:27] minggo commented on #15652
@maklaus audio engine is just one issue. And the rendering performance fixed can not be applied to v2, their rendering codes are different.

[2016-08-08 03:30] maklaus commented on #15652
@minggo ok, thanks for quick response!

[2016-08-08 03:33] minggo commented on #15652
@maklaus may be you can try as [this comment](https://github.com/cocos2d/cocos2d-x/issues/15652#issuecomment-224541762)

[2016-08-08 03:37] id-0x76adf1 opened #16336 "There is no OpenGL ES extensions called GL_IMG_texture_format_BGRA8888"
There are extensions GL_EXT_texture_format_BGRA8888 and GL_APPLE_texture_format_BGRA8888.

[2016-08-08 03:37] maklaus commented on #15652
Ive seen this fix but I have no experience to adjust it for v2.

[2016-08-08 03:38] id-0x76adf1 commented on #16336
_supportsBGRA8888 = checkForGLExtension("GL_IMG_texture_format_BGRA888");
_supportsBGRA8888 is always false

[2016-08-08 06:29] Bilalmirza commented on #16322
@UKDeveloper99
Bilalmirza@msn.com

skype: bilalmirza13

[2016-08-08 07:13] minggo commented on #15566
@ricardoquesada have you already modify `cocos2d-x-3rd-party-libs-src` to built luajit for arm64? And have you updated it to 2.1.0-beta2? If so, could you please send a PR? Then i will fix the error.

[2016-08-08 07:47] Bilalmirza commented on #16322
i actually think its related to #13203
when you set camera mask of its parent what happens is eventually when it reaches the first parent which doesn't have a camera mask or it is default, and in my case there is not camera set to default. which may be causing the problem.

[2016-08-08 10:36] minggo commented on #15566
Now android uses lua for 64bit, and it can not load the bytecodes generated by luajit, that's the reason lua-tests failed. I think we can just ignore the test case and create a new issue in v3.14 that:
- use luajit for arm64 on android
- provide tools that can generate bytecodes for luajit32 and luajit64 and add corresponding test case

[2016-08-08 14:17] rynkowsg commented on #14110
My changes have been merged. I'm going to close the issue.

[2016-08-08 14:17] #14110 closed, assigned to nobody

[2016-08-08 22:47] ricardoquesada commented on #15566
@minggo ok. makes sense.

just to know, what are we doing for iOS 64bit? Are we using  LuaJIT 2.1.0-beta2? Whatever we are doing with iOS 64-bit, we should do for Android.

[2016-08-08 23:22] ricardoquesada commented on #14678
I found this:
the code was copied from cocos2d-iphone v2. or v1.
but cocos2d-iphone doesn't have the `reverseProgress` function... it only has the `reverseDirection`. So I'll deprecate the `reverseProgress` one.

[2016-08-09 00:47] ricardoquesada commented on #14711
@minggo yes, your suggestions looks good. Sent PR.

of course, a test case for this would be great.
@1078559858 could you send us the code to reproduce the crash? thanks

[2016-08-09 04:05] #14065 closed, assigned to nobody

[2016-08-09 04:05] #13714 closed, assigned to nobody

[2016-08-09 06:18] mars3142 opened #16344 "cocos commandline failed if iOS project has xcworkspace (because of pod)"
- cocos2d-x version: 3.11.1
- developing environments
  - Xcode version: 7.3.1 (7D1014)

I have added pods to my project, so the project is moved from xcodeproj to xcworkspace. But after that, I can't compile the iOS project with the command "cocos compile -p ios", because it failed to find the pod library.

[2016-08-09 07:53] Bilalmirza commented on #13773
I'm also getting this ... seems like  item.second is NULL
I applied many tests to this... with no luck finding what exactly the problem is.

[2016-08-09 10:44] cezheng commented on #16344
Yep, that's the reason I use the prebuilt binaries of 3rd party SDKs instead of cocoapods.

Actually that might be better because cocoapods tend to generate lots of garbage and it constantly breaks backward compatibility. Also, it might even break or mess the build settings of cocos2d-x projects. Even for pure iOS apps I have switched to [Carthage](https://github.com/Carthage/Carthage), which is m

[2016-08-09 12:29] cezheng commented on #13203
Yep, actually we also reverted this commit on our fork which being used by our project.
https://github.com/cezheng/cocos2d-x/commit/b1e77a209233854cb8dcdb59e9434ff74b1ac4c1

maybe adding a addChild method with a extra `useParentCameraFlag` should do the job.

[2016-08-09 14:22] gdbobu commented on #15953
I have fix it , it's xcode problem

2016-07-04 9:28 GMT+08:00 minggo notifications@github.com:

[2016-08-09 17:06] stevetranby commented on #13203
@cezheng that'd prob be the one backward compatible way to add it. I'm not a huge fan of further overloading addChild, however, especially when most use cases seem to stick to passing in the child node and leaving the rest as default values. It's most likely easier to set the mask separately even if there were a fourth (4th) parameter option for the mask.

The best path forward until v4 (or never)

[2016-08-09 22:32] ggc87 commented on #16254
Hi all.
The discussion @slackmoehrle was with me. I was not suggesting to deprecate `CocoStudio.h`, I was just asking if it is going to be deprecated since Cocos studio is not supported anymore.
What is not clear is if it's going to work in the same way with Cocos creator, I mean if `CSLoader::createNode` is going to work.

[2016-08-09 22:37] ggc87 commented on #16254
Hi all.
The discussion @slackmoehrle mentioned was with me.
I was not suggesting to deprecate `CocoStudio.h`, I was just asking if it is going to be deprecated since Cocos studio is not supported anymore.

What is not clear is if it's going to work in the same way with Cocos creator, I mean if for example`CSLoader::createNode` is going to work.

If everything is going to work in the same way I wou

[2016-08-10 01:58] ricardoquesada commented on #16336
@identifer well, yes, actually we have a typo:

It checks for: `GL_IMG_texture_format_BGRA888`... only three 8s.. and it should have four 8s. eg: `GL_IMG_texture_format_BGRA8888`

Searching on google it seems that it does exist... at least with four 8s.

[2016-08-10 02:00] ricardoquesada commented on #16327
Thanks for the info!
Just to make sure, are you calling the garbage collector after calling `eval` and the `_super` thing?

[2016-08-10 02:06] ricardoquesada commented on #16293
SpriteBatchNode is rather conservative when increasing the buffer size. It just does a 4/3 of the previous size.
But the bug is that it should allocate the needed size if we already know it. If a label contains 90 chars, then it should do the resizing just once, not four times.

[2016-08-10 03:02] semgilo commented on #14731
@minggo may be spriteframe args was wrong, i had used single png, final

[2016-08-10 05:44] skoolguy commented on #15592
A similar problem happened to me too.

Try this...   Goto File > Project Structure

open apps in the modules section (in the sidebar)
change the Build Tools Version from 24.0.1 to 23.0.3

[2016-08-10 06:44] fuyifan commented on #16063
@minggo The file curlbuild.h you sent in iOS include directory in cocos2d-x-3rd-party-libs-bin, can not be compiled. Pls fix it.

[2016-08-10 09:46] dumganhar opened #16348 "Timeout support for WebSocket"
This requirement comes from http://forum.cocos.com/t/websocket/38812

[2016-08-10 10:25] ricardoquesada commented on #16336
fixed.

[2016-08-10 10:25] #16336 closed, assigned to ricardoquesada

[2016-08-10 14:44] vpadmnabh opened #16349 "Started getting strange error on upgrade to cocos2d-x 3.10 from 3.8"
- cocos2d-x version: 3.10
- devices test on: iPad
- developing environments
  - NDK version:
  - Xcode version: 7.3.1
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. Upgrade project created from cocos2d-x 3.8 to cocos2d-x 3.10
2. Started getting strange warning on compile and crash on cocos2d::CSLoader::createNode

Following for warnings
1)  Direct access in cocos2d::CSLoader:

[2016-08-11 02:49] dumganhar commented on #16045
fixed at https://github.com/cocos2d/cocos2d-x/pull/16350.
But it seems that we have to upgrade libwebsockets library since `lws_set_extension_option` isn't supported in libwebsockets which cocos2d-x is using now.

[2016-08-11 04:40] semgilo commented on #15573
After I changed default antialiasEnabled to false, all images become clear.
Texture2D::Texture2D()
...
, _antialiasEnabled(false)//true)

FontAtlas::FontAtlas(Font &theFont)
...
, _antialiasEnabled(false)//true)

I think that this is not quite right solution, but how to set antialiasing when you start the game, I haven't found.

If someone tells us a more flexible solution, I'll be happy to test i

[2016-08-11 15:23] FSMaxB opened #16354 "Replace image of the frameworks architecture in the README"
The big image in the README has these ugly JPEG artifacts.

I would really like to see it replaced by a losslessly compressed version, as PNG for example.

[2016-08-11 15:32] ricardoquesada commented on #14711
fixed. thanks.

[2016-08-11 15:32] #14711 closed, assigned to ricardoquesada

[2016-08-11 17:18] slackmoehrle opened #16355 "Replace fmod on Linux with SDL Audio or something similar"
Users have stated that we are not truly open-source on Linux because we require `fmod`. This isn't free and they have no other options. During our weekly meeting @ricardoquesada suggested that we could offer SDL Audio as an alternative and let users turn on `fmod` if they choose to. @linshun agreed. The timing of this change is TBD.

@slackmoehrle is happy to test when ready.

[2016-08-11 18:09] ricardoquesada commented on #16355
yes, other alternatives are:
- use ALSA driver directly
- or use [PulseAudio](https://en.wikipedia.org/wiki/PulseAudio)

[2016-08-11 21:02] mtak- opened #16356 "SimpleAudioEngine does not unpause game music after other music is paused"
- cocos2d-x version: latest v3 (d41124a5b1fc4fe42c421a5d9e92f9d122c0330b)
- devices test on: iPhone6 (iOS 9.3.2)
- developing environments
  - Xcode version: 7.3.1

Steps to Reproduce:
1. Bring up the Control Center, play Wannabe by Spice Girls
2. Run game that has music
3. Notice game music doesn't play (good)
4. Reopen Control Center
5. Pause Spice Girls
6. Close Control Center, game music doesn

[2016-08-11 23:40] ricardoquesada commented on #16354
ha! yes, why not.

[2016-08-12 04:03] graph commented on #15713
I still get this error.

[2016-08-12 04:38] graph commented on #15713
I see this line

[code]

in Application.mk should be

[code]

To compile on all processors. And on the latest stable there is no APP_ABI. If anyone is on latest stable they should try setting APP_ABI to the above and see if it works.

[2016-08-12 04:41] matdennoigi commented on #15713
@graph That work for me:

`APP_ABI := armeabi armeabi-v7a x86`

Seem, statble version of CCX still not support x64 arch

[2016-08-12 06:13] cwq commented on #8354
@minggo I was wondering why not use the exact value, and use 1.1566f.

[2016-08-12 07:26] cezheng commented on #16176
@zilongshanren @minggo
So what's the conclusion? If you guys can confirm that this simple fix is OK, I'll happy to make a PR though.

[2016-08-12 08:24] zilongshanren commented on #16176
@cezheng  I think you are right here,  after changing the spriteframe, we should also reset the content size. If you send a PR, I'm glad to merge. thanks.

[2016-08-12 09:58] ghost commented on #13523
I am using cocos2d-x v3.12 and I have the same exact issuein Win32, I think it is not fixed !

The program crashes when doing:

[code]

The program generally crashes in AudioEngine.cpp in threadFunc(), on _taskCondition.wait(lk); at line 127, with an access violation error

[code]

It looks like something was destroyed while the thread was still running.
Probably when destroying the AudioEngineThr

[2016-08-12 10:04] davidejones88 commented on #14276
Hello,
I'm facing a similar issue with 3.12

When I put the device to sleep mode (iphone5, sleep mode induced by tapping the hardware button on top of the device, NOT the home button) this is the log I get in xCode:

[code]

When I reopen the app from sleep mode (Slide to unlock the phone etc) this is the xCode log:

[code]

And the log loops endlessly.
On screen EVERYTHING is frozen, but I can ac

[2016-08-12 10:14] dumganhar commented on #13523
@graphiboc , thanks for your feedback. I'll check it.

[2016-08-12 10:15] dumganhar commented on #13523
Reopened this issue.

[2016-08-12 10:15] ghost commented on #14425
Just not detaching on Win32 solved the issue for me:

[code]

I think detaching is important for brojects in which you have lots of sounds playing at the same time in order to have better performance ?

PS: in my project, it crashes while I am using very short files, so this is not linked to the sounds duration I think

[2016-08-12 10:20] dumganhar commented on #14425
Yep, it's relative to audio objects released before audio thread exits. audio thread may use a freed audio objects(AudioPlayer or AudioCache).

[2016-08-12 10:40] cwq commented on #16155
can test in Sprite3DBasicTest

[code]

the reference count of texture is 2, because RenderState did not release _texture

[2016-08-12 21:14] DavidDeSimone commented on #16327
So we have an update:

It turns out that "leaks" is unreliable for profiling spidermonkey. Source: https://developer.mozilla.org/en-US/docs/Mozilla/Performance

If you look at the passage for "Leaks":
`Apple provides some tools for Mac OS X that report similar problems to those reported by LSAN and Valgrind. The "leaks" tool is not recommended for use with SpiderMonkey or Firefox, because it gets

[2016-08-13 12:34] maklaus commented on #15652
@minggo could you please adapt [this solution](https://github.com/cocos2d/cocos2d-x/issues/15652#issuecomment-224541762) for Cocos2d-x v2.2.6? I cant understand all these low-level functions at all =(

[2016-08-13 16:38] ricardoquesada commented on #16293
fixed.

[2016-08-13 16:38] #16293 closed, assigned to ricardoquesada

[2016-08-14 02:40] Rubonnek opened #16361 "ListView::addEventListener - VS2015 error C2668 ambiguous call to overloaded function"
- cocos2d-x version: 3.12
- devices test on: Lenovo T410s
- developing environments
  - VS version: Visual Studio Community 2015

If one has the following block in the code in a win32 project:

[code]

Compiling this will yield the following error with Visual Studio 2015:

[code]

According to (MSDN documentation)[https://msdn.microsoft.com/en-us/library/da60x087.aspx] on this error, a C-like cast

[2016-08-14 05:26] zhenqicai opened #16362 "vs2013 compile cocos2d-x2.2.6 is Error:"
- cocos2d-x version:2.2.6
- devices test on:windows8.1 win32
- developing environments
  - NDK version: 64bit-r9d
  - Xcode version:
  - VS version:vs 2013
  - brower type and version:

Steps to Reproduce:

1.e:/cocos2d-x2.2.6/cocos2dx/platform/win32/ccgl.h(28): fatal error C1083:"GL/glew.h":NO such file or directory
2.

[2016-08-14 19:34] mateosss opened #16363 "Default javascript project compile fails for linux platform"
- cocos2d-x version: 3.12
- devices test on: Ubuntu 16.04 (CPU: FX-6300, GPU: GTX-960)

Steps to Reproduce:

[code]

It compiles up to 100% and on

[code]

The it throws a large error (http://pastebin.com/PtLXRjra) being the first and last lines:

First lines:

[code]

Last lines:

[code]
#### Complete output: http://pastebin.com/PtLXRjra

It seems to be happening for javascript projects because f

[2016-08-14 20:09] mateosss commented on #16255
@Ronalc yes you can...
Use the forum for questions: http://discuss.cocos2d-x.org and **Don't ask questions not related to the issue.**

[2016-08-15 00:34] jphutter opened #16364 "in JS project, import SDKBOX share do not set Appdelegate.cpp and Classes folder"
- cocos2d-x version: cocos2d-x-3.12 Jul 06 2016
- devices test on: Xcode simulator set as iPhone 6S Plus
- developing environments
  - NDK version: --
  - Xcode version: 7.3.1 El Capitan
  - VS version: --
  - brower type and version: --

Steps to Reproduce:
1. cocos new MyGame -l js -d Path
2. sdkbox import share
3. missing PluginShareJS(Helper) in Appdelegate.cpp and PluginShareJS\* in Classes
4

[2016-08-15 01:31] minggo opened #16365 "use luajit 2.1.0-beta2"
now we use 2.1.0-alpha on iOS and use lua for Android 64-bit, we should upgrade to use luajit 2.1.0-beta2.

Edit: and some platforms use lua, should change to use luajit too.

[2016-08-15 01:31] minggo commented on #15566
@ricardoquesada i think we used luajit 2.1.0-alpha for iOS 64-bit. I created #16365 to trace it.

[2016-08-15 01:31] #15566 closed, assigned to ricardoquesada, zilongshanren

[2016-08-15 01:43] minggo commented on #8354
@ricardoquesada do you have any idea?

[2016-08-15 01:47] minggo commented on #15713
@matdennoigi arch64 will be supported in v3.13. @graph the default ABI is set to armeabi instead of `armeabi armeabi-v7a x86 arm64-v8a` is because it will slow down the compiling speed. Developers should change it themselves. And you have compiling issue with latest codes(the codes in github)?

[2016-08-15 02:06] minggo commented on #15573
@semgilo i think it is another issue, could you please create a new one? Thanks.

[2016-08-15 02:11] minggo commented on #16063
@fuyifan could you please use latest version? I think i fixed it.

[2016-08-15 02:15] fuyifan commented on #16063
https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/blob/v3/curl/include/ios/curl/curlbuild.h
https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/blob/v3/curl/include/android/curl/curlbuild.h
shows like this
#if defined(**LP64**) && **LP64**
#include "curlbuild-64.h"
#else
#include "curlbuild-32.h"

[2016-08-15 02:16] minggo commented on #14731
@semgilo should i close this issue or you will help us to reproduce it?

[2016-08-15 02:22] minggo commented on #16254
@ggc87 cocos studio is canceled means that we will not put energy on the readers, but we accept PR that fix issues.

[2016-08-15 02:29] jphutter opened #16367 "new JS project with SDKBOX Share is crashing with the the sample application"
- cocos2d-x version: cocos2d-x-3.12 Jul 06 2016
- devices test on: Xcode simulator set as iPhone 6S Plus
- developing environments
  - NDK version: --
  - Xcode version: 7.3.1 El Capitan
  - VS version: --
  - brower type and version: --

Steps to Reproduce:
1. cocos new MyGame -l js -d Path
2. replace app.js with https://github.com/sdkbox/sdkbox-sample-share/blob/master/js/src/app.js
3. sdkbox im

[2016-08-15 02:39] minggo commented on #16063
It is

[code]

Yep, is there any problem? The original version also use the same logical to include correct header file.

[2016-08-15 04:20] weiwest commented on #11773
3.12 stil have this problem
after you push back items, setCameraMask Again , can resolve temporary。

[2016-08-15 04:55] fuyifan commented on #16063
No #endif at the end of the file?

[2016-08-15 05:59] pandamicro commented on #16291
Hi, @minggo I can confirm this issue, the main reason is that we hold JSSchedulerWrapper instance with `_schedFunc_target_ht` and `_schedObj_target_ht`,  they prevent it from being released and deallocated, I will fix it in v3.13

https://github.com/cocos2d/cocos2d-x/blob/cocos2d-x-3.9/cocos/scripting/js-bindings/manual/cocos2d_specifics.hpp#L41

[2016-08-15 06:05] minggo commented on #16291
@pandamicro thanks. And please attach the PR to this issue when it is fixed.

[2016-08-15 06:08] #14678 closed, assigned to ricardoquesada

[2016-08-15 06:23] minggo commented on #16155
@cwq i think you are right. @ricardoquesada could you please take a look? `_texture` is retained in `RenderState::setTexture()` but it is not released.

[2016-08-15 06:32] semgilo commented on #14731
@minggo close it

[2016-08-15 07:04] #14731 closed, assigned to nobody

[2016-08-15 09:33] minggo commented on #14276
@ricardoquesada do you have any idea? It seems it is something about OpenGL ES context conflict.

[2016-08-15 09:38] davidejones88 commented on #14276
yesterday I tried to fix it buy wrapping

`- (void) layoutSubviews`

in CCEAGLView-ios.mm

with this code

[code]

Basically, if I execute the layoutSubviews just ONCE, it seems to fix the problem. I found the fix in this thread http://stackoverflow.com/questions/9120090/cocos2d-fails-on-ipad-yet-works-in-simulator (the accepted answer), but I'm not sure if this causes other issues (it hasn't so f

[2016-08-15 10:00] ondesly commented on #14276
DisplayLinkDirector has variable _invalid and I added method to get it from Director and add these lines in CCEAGLView-ios.mm:

[code]

It fixed the issue.

[2016-08-15 12:20] williamchong commented on #15953
@gdbobu how did you fix it?

[2016-08-15 13:35] graph commented on #15713
Yes I had issue in latest git. There is a missing `#endif` in one of the curl headers.  this file `./curl/include/android/curl/curlbuild.h` also in the ios one `./curl/include/ios/curl/curlbuild.h`. After I figured out why I couldn't compile with the latest android Ndk(APP_ABI issue), I went back to stable and everything is good. Maybe have a comment above that line of supported archs will be help

[2016-08-15 17:46] ricardoquesada commented on #15566
@minggo ok. good to know, thanks.

[2016-08-15 17:49] ricardoquesada commented on #8354
@minggo yes, we should use the exact value.
that number came from cocos2d-iphone, and IIRC, I added that harcoded number in cocos2d-iphone because it worked for me.

[2016-08-16 01:46] minggo commented on #16365
@dumganhar [added luajit 2.10-beta2 for Android arm64](https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/246) to fixed the bug caused by `ByteCodeEncryptTest` in `lua-tests`. So the things left are:
- update luajit to 2.1.0-beta2 for iOS, Mac and win32
- use luajit 2.1.0-beta2 instead of lua for other platforms

[2016-08-16 01:53] minggo commented on #15767
fixed in #16366

[2016-08-16 01:53] #15767 closed, assigned to dumganhar

[2016-08-16 02:13] minggo commented on #15713
@graph thanks, i fixed it. What's the error you met? How can i reproduce it?

[2016-08-16 04:20] cwq commented on #16185
@dumganhar I change the FPS limit of mac as win32, and the FPS is stable
CCApplication-mac.mm

[code]

[2016-08-16 05:05] graph commented on #15713
At first I had the same error as the original error in this thread. Then I decided to try the latest git build to see if it was fixed there. I followed the [Git user attention](https://github.com/cocos2d/cocos2d-x) instructions and just followed the instructions for `How to start a game` section. And for compiling on android it wouldn't compile because of the missing `#endif`. After finding out AP

[2016-08-16 05:56] #15713 closed, assigned to minggo

[2016-08-16 06:27] ricardoquesada commented on #8354
fixed.

[2016-08-16 09:27] youlanhai commented on #14738
@minggo
我英语不好，中文解释吧：

## 举个简单的例子：

[code]

C++跟lua交互的过程中，字符串中从'\0'以后的数据会被丢弃掉。原因我在楼顶已经解释过了。
当然，我们通常不会这么去使用setName，但是不排除有极少数的API会存在二进制格式的数据交互。

## 类似的情况：

在cocos2d-x中有一个给lua用的http类`LuaMinXmlHttpRequest`，这个类是手动导出到lua的，且使用了`lua_pushlstring`和`lua_tolstring`来传递数据，所以没有数据截断的问题。
假设这个类是用`bindings-generator`导出到lua，它的方法`inline std::string getDataStr() { return _data; }`就会丢失数据，因为从服务器收到的数据很有可能是二进制的(比如使用了protobu

[2016-08-16 14:14] kmenager opened #16373 "Node run action crash randomly with RepeatForever of a Sequence"
- cocos2d-x version: 3.9
- devices test on: Nexus 5
- developing environments
  - NDK version: Android ndk > 11

I have integrated Cocos in an Android app. I use a NDK Helper which create a sequence from a function like in sample [http://cocos2d-x.org/docs/programmers-guide/actions/](url)

[code]

When I send to many time this part above (1 called every 16 ms), my app crash with this dump

[code]

[2016-08-17 02:16] minggo commented on #16364
@jphutter you should report it to SDKBOX guys.

[2016-08-17 02:16] #16364 closed, assigned to nobody

[2016-08-17 02:20] minggo commented on #16363
it is fixed in latest codes

[2016-08-17 02:20] #16363 closed, assigned to nobody

[2016-08-17 02:24] minggo commented on #16349
close it since cocos studio is canceled, but you are appreciated if you can send PR to fix it

[2016-08-17 02:24] #16349 closed, assigned to nobody

[2016-08-17 02:24] pandamicro commented on #16291
Hi, @iNeverSleeeeep I have been tracking down the issue, now I find the real problem.

So, your test case shows a extreme use case that haven't been well handled by JSB, as you call scheduleOnce with the layer itself, and the layer is always in the node tree, then all ScheduleWrapper it created won't be deleted, along with the JS target and function wrapped in the ScheduleWrapper, that's the reaso

[2016-08-17 02:26] minggo commented on #16344
cocos command doesn't support pod, and we have no plan to support it

[2016-08-17 02:26] #16344 closed, assigned to nobody

[2016-08-17 02:27] #16322 closed, assigned to nobody

[2016-08-17 02:30] minggo commented on #16373
Could you please provide a test case for it?

[2016-08-17 02:31] minggo commented on #16367
Please don't report SDKBOX related issues here, it is not part of cocos.

[2016-08-17 02:31] #16367 closed, assigned to nobody

[2016-08-17 02:36] pandamicro commented on #16327
@DavidDeSimone Thanks for the insight of restart issue, we were using Maybe because PersistentRootObject can't be declared in the header directly and can't be created with the constructor of ScriptingCore, but as you said, now I think we can declare it as `JS::PersistentRootedObject *` and use new/delete to manage it. I will check this out.

I have also found the reason of #16291, it's actually no

[2016-08-17 06:40] zilongshanren opened #16375 "PageView Page Turning event issue"
Steps to Reproduce:
1.  scroll PageView continuously
2. Only one page turning event will be triggered after scroll ended.

Expected behavior:
1. Each page turning should trigger the page turning event.

[2016-08-17 07:09] dumganhar commented on #16045
UPDATED：#16350 didn't actually fix the issue. We re-opened this issue.
For a workaround, we commented `info.extension` line to disable `permessage-deflate` temporarily.

[2016-08-17 09:53] redclock opened #16378 "Win10 project for JS game"
Cocos version: 3.12
I can't find the proj.win10 directory in the JS template. Does it mean that win10 projects are only supported for cpp games now?

[2016-08-17 14:00] zhenqicai opened #16381 "vs2013 compile cocos2d-x2.x error C2659: “=”:"
- cocos2d-x version:cocos2d-x2.2.2
- devices test on:windows8.1 win32
- developing environments
  - NDK version:64bit-r9d
  - Xcode version:
  - VS version: vs2013-64bit
  - brower type and version:

Steps to Reproduce:
1. 1>e:\cocos2dx\cocos2d-x-2.2.2\cocos2dx\platform\win32\cceglview.cpp(111): error C2659: “=”: 作为左操作数
   1>e:\cocos2dx\cocos2d-x-2.2.2\cocos2dx\platform\win32\cceglview.cpp(112): e

[2016-08-17 16:44] ntrrgc opened #16382 "Missing closure-compiler jar file"
- cocos2d-x version: cocos2d-x-3.13
- developing environment: linux

Steps to Reproduce:
1. Install cocos2d-x (clone, clone submodules, `./setup.py`, `exec bash`)
2. Create new JS project: `cocos new -l js test`
   3: `cd test`
3. Try to compile it: `cocos compile -p web -m release`

Result:

[code]

Looking at `build.xml` I can find this line:

[code]

It fails because `tools/cocos2d-console/plug

[2016-08-17 18:39] jphutter commented on #16367
sorry minggo!

[2016-08-17 20:03] DavidDeSimone commented on #16327
Hello @pandamicro

Thank you for looking into this. I am going to submit a PR with our work around. You may choose not to use it, or fix this issue in another way, but I figure it can save you some effort in diving into the potential problem.

[2016-08-17 21:30] DavidDeSimone commented on #16327
I have submitted the PR that supplies our code here. https://github.com/cocos2d/cocos2d-x/pull/16383

[2016-08-17 22:30] adrianimboden commented on #14150
I can confirm the same problem (in my case its on a Linux Ubuntu 16.10, but the affected file is CCGLViewImp-desktop.cpp, so that makes entirely sense).

The reason for the difference is, as @lcellentani stated, because the cursor coordinates are calculated differently for touch emulation and mouse events.

The following piece of code is being used in the touch-emulation codebase (called by onGLFW

[2016-08-17 23:04] ricardoquesada commented on #16365
@minggo I've just updated the makefile to use LuaJIT instead of Lua for Android64.

I tested it, and now lua-tests works Ok.

[2016-08-18 01:00] minggo commented on #16365
Yep, it is fixed in v3.13 branch. And @dumganhar thought it is better to fix the issue in 3.13 and he is working on it. So i assign it to @dumganhar ?

[2016-08-18 01:18] ricardoquesada commented on #16365
some updates:

I recompiled myself luajit-2.1-beta for:
- android (all version, using ndk12b)
- ios (all versions)
- mac (all versions)

and it only works on ios.
but it doesn't work on android (both 32-bit and 64-bit versions) and mac.

Not sure if we need to re-generate the bytecodes or not.
I traced the problem until this file:
https://github.com/cocos2d/cocos2d-x/blob/v3/tests/lua-tests/src/By

[2016-08-18 01:25] slackmoehrle opened #16386 "MessageBox problem on Android."
There are MessageBox issues on Android.

Please see this thread: http://discuss.cocos2d-x.org/t/messagebox-problem-in-android/31496

[2016-08-18 01:31] ricardoquesada commented on #16365
@minggo yes, if you want to assign it to him, Ok for me.
@dumganhar I added my some code here:
https://github.com/cocos2d/cocos2d-x/pull/16384

[2016-08-18 01:42] ricardoquesada commented on #8354
reopened since `tanf(pi/6) * 2` doesn't work as expected. See comments here:  #16369

[2016-08-18 02:54] dumganhar commented on #16365
I have updated it to 2.1.0-beta2, and updated cocos2d-console, 3rd-party-libs-bin, 3rd-party-libs-src. cocos2d-console could generate 64bit luajit bytecode either.

I didn't notice that this issue was assigned to @ricardoquesada .
Please check my work:

cocos2d-console: https://github.com/cocos2d/cocos2d-console/pull/368
3rd-party-libs-bin: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/p

[2016-08-18 02:57] dumganhar opened #16387 "Update SpiderMonkey to Firefox v48"
Since Cocos Runtime was dead, how about updating JS VM(SpiderMonkey) to the latest version in Firefox v48.?
Currently, we're using a very very old version, firefox v32. It's a version about two years ago.

[2016-08-18 05:23] kenwaters opened #16388 "The order of function calls in ProtectedNode::onEnter method"
- cocos2d-x version: Quick-3.3
- devices test on: Windows 8.1
- developing environments
  - NDK version: r10c
  - VS version: VS2013

Class ProtectedNode has this method: onEnter.
In this method, why Node::onEnter called before iterate _protectedChildren?
This order is different from Node::onEnter method.
In onEnterTransitionDidFinish, onExitTransitionDidStart, onExit also have this problem.

Can

[2016-08-18 06:13] ricardoquesada commented on #16365
@dumganhar how did you compile for android?
because the version that I compiled doesn't work ( https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/commit/6aa7b0fbe6a267292315581d331a6550556b0d92 ) with encrypted bytecodes. But the one that was commited by you, worked ok.
thanks.

[2016-08-18 06:16] dumganhar commented on #16365
@ricardoquesada , please refer to this PR: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/pull/124/files

And the make file: https://github.com/dumganhar/cocos2d-x-3rd-party-libs-src/blob/9ee955114e6e94e2c615986d60ef73b88b542630/contrib/src/luajit/rules.mak

[2016-08-18 06:24] ricardoquesada commented on #16365
@dumganhar yes, yes. I was using those changes.
which NDK did you use? I used ndk12b. thanks.

[2016-08-18 06:28] minggo commented on #16365
@ricardoquesada thanks
@dumganhar please fix the conflicts

[2016-08-18 06:29] dumganhar commented on #16365
@ricardoquesada
I used `ndk 12b` too.  I don't know what `encrypted bytecodes` means. Could you explain how to generate encrypted bytecode?
I used

[code]

 to generate bytecode and tested.

[2016-08-18 06:31] pandamicro commented on #16327
@DavidDeSimone Thanks for your help, our implementation was actually the same, but I missed the `js_type_class_t`, so just merged your commit into my PR https://github.com/cocos2d/cocos2d-x/pull/16380.

[2016-08-18 06:43] dumganhar commented on #16365
@ricardoquesada , I assumed that you used the following command to generate `encrypted bytecode`:

[code]

If you meant this, I didn't test it since I think encrypt logic is independent of luajit version.

[2016-08-18 07:20] chlinxxoo opened #16389 "Addchild on NotificationNode without create Scene would be crash"
- cocos2d-x version:3.10
- devices test on:Mac
- developing environments
  - NDK version:-
  - Xcode version:7.3
  - VS version:-
  - brower type and version:-

Steps to Reproduce:
1. Do not create any Scene
2. Director::setNotificationNode(`nodeObj`)
3. Create Label/Scale9Sprite/Sprite as `obj`
4. Director::getInstance()->getNotificationNode()->addChild(`obj`)

Trace:
![58779f7a4542fdca5bebb4250a

[2016-08-18 07:20] ricardoquesada commented on #16365
I'll try that command. thanks.

[2016-08-18 10:03] halx99 commented on #16365
@minggo I relalized that recently, you are updgrade luajit to 2.1.0 beta2
I just tried it at win32 & android a short time, and there have a problem of the luajit-2.1.0 beta2:

When our game use the bytecode of luajit-2.1.0, It will gone to deadblock frequently on both win32 & android platform.

[2016-08-18 10:04] halx99 commented on #16365
And I rollback to luajit 2.0.4, the problem has been solved.

[2016-08-18 10:21] zilongshanren commented on #16375
Now you could use `setAutoScrollStopEpsilon(0.5)` to resolve this issue.

[2016-08-18 10:44] minggo commented on #16365
@halx99 are you should it is a problem of luajit, could you please give some test case to reproduce it?

[2016-08-18 10:46] minggo commented on #16365
@halx99 and we use 2.1.0 alpha for a long time on iOS.

[2016-08-18 10:59] halx99 commented on #16365
I use it in our game, It's not easy to provide test case directly, I will provide the libs I use on win32 & android later.

[2016-08-18 11:14] halx99 commented on #16365
I realized that, when use luajit2.1.0 beta2, It will cause some win32 exception from KernelObject.dll, I'll test again and provide detail exception logs later.

[2016-08-18 22:44] ArchDelta opened #16393 "LNK1181 error when compiling in Release mode"
- cocos2d-x version: v3.12
- developing environments
  - VS version: 2015

When I am building game in Release mode using Visual Studio 2015, this error pops out :
LINK : fatal error LNK1181: cannot open input file 'libcurl_imp.lib'

No issues when building in debug mode.

Please assist, thanks.

[2016-08-18 23:49] ricardoquesada commented on #16365
@dumganhar
Actually I couldn't make it work :(
The thing is that in our repo there are some already compiled files here: https://github.com/cocos2d/cocos2d-x/tree/v3/tests/lua-tests/src/ByteCodeEncryptTest
- ByteCodeAndEncryptTest-arm64.luac
- ByteCodeAndEncryptTest.luac
- ByteCodeTest-arm64.luac
- ByteCodeTest.luac

But I don't know what are the original source files. So, when I try "lua-tests" i

[2016-08-19 00:10] halx99 commented on #16365
As I known, the bytecode must be match luajit-2.1.0beta2, It's not compatible with old version bytecode(such generated by luajit-2.04)

[2016-08-19 00:33] ricardoquesada commented on #14276
I tried to reproduce the issue, but I couldn't :(
But the patch sent by @ondesly makes sense. So I applied it.
I also removed the `DisplayLinkDirector` since it was something inherited from cocos2d-iphone that doesn't make sense on cocos2d-x.

[2016-08-19 01:12] ricardoquesada commented on #16365
@halx99 Ah ha... that explains it. Probably the .luac files that we have in the repo were compiled for luajig-2.0.4, and that's why it is not working for me. But why does it work for iOS?
Apparently those .luac files were created more than 1 year ago, so I guess they were created for 2.0.4.

[2016-08-19 01:13] ricardoquesada commented on #14276
fixed.

[2016-08-19 01:13] #14276 closed, assigned to ricardoquesada

[2016-08-19 01:33] minggo commented on #16365
@ricardo yep, we have to update the bytecode, and i haven't updated 3rd-party-library-bin which contains luajit-2.1.0beta2 for all platforms(android arm64 is already updated), and the console haven't be updated to work with 2.1.0beta2.

I planned to update luajit-2.1.0beta2 in v3.13 but it seems we should do it in next to do more testing.

[2016-08-19 01:36] ricardoquesada commented on #16365
@minggo I already updated all the binaries (except windows). They are in v110:
https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/releases/tag/v3-deps-110

but I need to update those .luac files to make it work. If you have an idea how to re-generate them, it would be great.

[2016-08-19 01:43] minggo commented on #16365
@ricardoquesada yep, you can use latest console:
- and use `cocos luacompile` to generate 32-bit bytecode
- use `cocos luacompile ----bytecode-64bit` to generate 64bit bytecode

[2016-08-19 01:44] dumganhar commented on #16365
@ricardoquesada ,

Please check this change on v3.13 branch: https://github.com/cocos2d/cocos2d-x/commit/86b8a633f3c5e1bd18f3b2726907aaa0965342a0

Basically, you were not use the correct bytecode for device.
If your executable file(.so) is built with 64bit (arm64-v8a), In ByteCodeTest, you should choose the correct one.

About where are these files from, sorry for that I don't know either.

[code]

[2016-08-19 01:49] minggo commented on #16365
@ricardoquesada but i will revert https://github.com/cocos2d/cocos2d-console/pull/368 to release v3.13, and we will make it work after releasing v3.13.

[2016-08-19 01:54] ricardoquesada commented on #16365
@minggo yes, do whatever you think is better for the release.
probably it is better if @dumganhar continues with this, since he is very advanced (he did the windows binaries and I didn't).

what we should try to figure out, is how to regenerate those .luac files... and if we can't we just need to create them from scratch (unless I'm missing something).

[2016-08-19 02:00] minggo commented on #16365
@ricardoquesada yep, indeed everything is ready. I revert it just because we don't do enough testing. So i will do it in next version, and ask @halx99 to do a test with our new luajit lib.

[2016-08-19 02:02] ricardoquesada commented on #16365
@minggo ok.

[2016-08-19 02:03] halx99 commented on #16365
@minggo ok

[2016-08-19 03:31] halx99 opened #16399 "The latest Label calculate Size seems not correct with some .ttf font"
- cocos2d-x version: github latest
- devices test on: Windows  10 14393.82 win32 program
- developing environments
  - NDK version:
  - Xcode version:
  - VS version: 2013 or 2015
  - brower type and version:

Steps to Reproduce:
1. Use latest cocosstudio to edit a demo UI with Label
2. publish to .csb and load it, then the postion not correct because the contetSize of Label not be calculated corr

[2016-08-19 03:34] halx99 commented on #16399
@minggo please take a look, does this is a bug?

[2016-08-19 03:37] minggo commented on #16399
@halx99 sorry, cocos studio is canceled, we don't have resource to support it.

[2016-08-19 03:43] halx99 commented on #16399
@minggo Well, I think it's not cocosstudio problem, you also can reproduce this issue draw the border of the label, the render text will surpass right edge.

[2016-08-19 03:46] minggo commented on #16399
@halx99 could you please provide a test case? Thanks.

[2016-08-19 03:52] halx99 commented on #16399
ok, I will.

[2016-08-19 04:10] kgom1028 opened #16400 "cocos2d-x 3.12 ProgressTimer setPosition does not work."
- cocos2d-x version: 3.12
- devices test on:
  emulator and android device and windows
- developing environments
  visualstudio 2013
  - NDK version:
    android-ndk-r11c

Steps to Reproduce:
1.The ActionProgress at test-cpp also show them at (0,0) at the screen.
  setPosition does not work.
It worked properly on 3.8.
I upgraded and meet the error.

[2016-08-19 05:05] halx99 commented on #16399
@minggo The test case: https://github.com/halx99/cocos2d-x/tree/labelsizebugtest

My test result:
![a _mrg6co5oa tkv 2n89 w](https://cloud.githubusercontent.com/assets/6977319/17798940/b8586f06-6608-11e6-940b-a6b435bd1589.png)

[2016-08-19 05:54] minggo commented on #16399
@halx99 i can not find the error from your pasted image. What does the red rectangle mean?

[2016-08-19 06:09] halx99 commented on #16399
@minggo The red rectangle is border of the label, normally all letters shoud at inner of the rectangle, you can see the last letter is surpassed a little.

[2016-08-19 06:11] minggo commented on #16399
Yep.

[2016-08-19 07:23] ricardoquesada commented on #16155
fixed. thanks.

[2016-08-19 07:23] #16155 closed, assigned to ricardoquesada

[2016-08-19 10:42] Almax27 opened #16404 "Camera::_viewProjectionUpdated not initialised"
cocos2d-x version: 3.12

Camera::_viewProjectionUpdated is not initialised in constructor. Should be initialised to false.
This can lead to redundant visibility checks if _viewProjectionUpdated happens to resolve true.

Furthermore as Camera::visit() is never called, _viewProjectionUpdated is never actually updated, resulting in no visibility tests when the camera transform changes.

I propose we

[2016-08-19 17:32] puckery opened #16407 "CCDownloader-apple DownloadFile Error"
- cocos2d-x version:3.10
- devices test on:iphone6
- developing environments
  - NDK version:
  - Xcode version:7.3.1
  - VS version:
  - brower type and version:

Steps to Reproduce:
1.  download and save file error:
   The file “CFNetworkDownload_ERkw5r.tmp” doesn’t exist.

error in this line:
if ([fileManager copyItemAtURL:location toURL:destURL error:&error])

[2016-08-20 08:51] zhenqicai opened #16408 "vs2013编译cocos2d-x2.2.2报错？怎么没人解答啊？"
1>e:\cocos2dx\cocos2d-x-2.2.2\cocos2dx\platform\win32\cceglview.cpp(250): error C2065: “GLEW_OK”: 未声明的标识符
1>e:\cocos2dx\cocos2d-x-2.2.2\cocos2dx\platform\win32\cceglview.cpp(252): error C3861: “glewGetErrorString”:  找不到标识符
1>e:\cocos2dx\cocos2d-x-2.2.2\cocos2dx\platform\win32\cceglview.cpp(256): error C2065: “GLEW_ARB_vertex_shader”: 未声明的标识符
1>e:\cocos2dx\cocos2d-x-2.2.2\cocos2dx\platform\win32\cc

[2016-08-22 02:01] minggo commented on #16355
Can refer to #16410. The PR use OpenAL for linux.

[2016-08-22 02:03] minggo commented on #16408
This is a too old version, we don't have enough source to fix it. I'd better to upgrade to v2.2.6 or latest codes in github v2 branch.

And please use english. Thanks.

[2016-08-22 02:04] minggo commented on #16407
How to reproduce it?

[2016-08-22 02:09] puckery commented on #16407
I haved resovled, it's must be create directory beforce copyItemFromUrl.

[2016-08-22 02:09] #16407 closed, assigned to nobody

[2016-08-22 02:09] minggo commented on #16404
@Almax27 i think you are right, thanks. @ricardoquesada could you please take a look?

[2016-08-22 02:15] minggo commented on #16400
Yep, i can reproduce it with latest codes.

[2016-08-22 02:29] minggo commented on #16400
I mean v3 branch latest codes.

And i tested 3.12 and v3.13 branch, both work ok. v3 branch has problem is because i haven't synchronized codes from v3.13 to v3. @kgom1028 are you sure you use 3.12?

[2016-08-22 02:30] minggo commented on #16389
`Director::getInstance()->getNotificationNode()` is null if haven't invoked `Director::setNotificationNode()`.

[2016-08-22 02:31] minggo commented on #16388
@zilongshanren did you know the reason?

[2016-08-22 02:32] minggo commented on #16387
@pandamicro what's your opinion?

[2016-08-22 02:35] zilongshanren commented on #16388
@wyb1991
could you give me an example why the order in ProtectedNode is bad? I can't see the difference of the order change in the `onEnter` method.

thanks.

[2016-08-22 02:45] minggo commented on #16382
@natural-law could you please take a look? Thanks.

[2016-08-22 02:51] minggo commented on #16378
Yep, JSB is not supported on win10.

[2016-08-22 02:51] #16378 closed, assigned to nobody

[2016-08-22 03:35] kenwaters commented on #16388
@zilongshanren
If i call self:removeParent() in self:onEnter() callback in lua, and the node is create on current frame,
will be trigger the assertion CCASSERT(!_running) in Node's disconstructor, i'm debug code on windows and find the reason.

The code in ProtectedNode::onEnter():
    Node::onEnter();
    for( const auto &child: _protectedChildren)
        child->onEnter();

If the _protectedChil

[2016-08-22 03:40] kenwaters commented on #16388
I think the child's onEnter() and onExit() should called in block of parent's onEnter() and onExit().

Thanks.

[2016-08-22 04:01] natural-law commented on #16382
@ntrrgc I just checked the logic. The files in `build_web/bin` should be downloaded before invoking `ant -f /tmp/test/publish/html5/build.xml` if the files are missed. I've no idea why it's not downloaded correctly.

You can try to download the files manually by invoking `download-bin.py` in the path `cocos2d-x/tools/cocos2d-console`.

[2016-08-22 07:00] chlinxxoo commented on #16389
@minggo Sorry, I left out one step when I create this issue.I edit it one more time and upload the xcode trace when the issus happen.

[2016-08-22 07:39] markovitch57 commented on #10877
cocos2dx ccUtils captureScreen works fine with 3D and, I assume, anything.

[2016-08-22 08:47] markovitch57 commented on #10877
and here is a working example of (cut down) captureScreen which derives texture and returns sprite instead of saving image to file:

Sprite \*  CcGlobal::getScreenAsSprite(void) {
    Size screenSize = Director::getInstance()->getWinSize();
    int width = screenSize.width;
    int height = screenSize.height;

[code]

}

[2016-08-22 09:43] halx99 commented on #16365
@minggo Hi, sorry, I just test on win32 again, and the exception gone, I could not confirm why?
maybe before, I made a 2.1.0beta2 dll with not matched header.
I will continue test on other platform with our project

[2016-08-22 10:01] halx99 commented on #16365
@minggo  @ricardoquesada
Wait...
It still has problem for 2.1.0-beta2, even through, I use luajit2.10-beta2 matched .dll and header:
![e9iq81kb3q 9 l d bvk k](https://cloud.githubusercontent.com/assets/6977319/17850971/49652cba-6892-11e6-8661-765df974f428.png)

[2016-08-22 10:05] halx99 commented on #16365
And when I first time call `cocos2d::LuaEngine::getInstance()->executeScriptFile("scripts/src/deploy.lua");`
The exception also occured: `0x769596C2 (KernelBase.dll) (thisapp.exe 中)处的第一机会异常:  0xE24C4A02。`

[2016-08-22 10:29] halx99 commented on #16365
I download the the luajit2.1.0-beta2.zip from luajit official website, and compare with my luajit2.1.0-beta2, there are many different source code. And I think the root cause is because I use the developing git version, wen I execute 'git pull' again, There are many source updated. And it seems there is no problem for the lib which provided by yours.

[2016-08-22 10:39] minggo commented on #16365
@halx99 thanks for your information.

[2016-08-22 11:16] ermanhaskan opened #16414 "Random Crash At Launch - cocos2d::RenderState::StateBlock::setBlend(bool)"
Hello

We are getting this very rare crash at launch across many android devices and all android versions. This error has been occurring in all cocos2d-x versions v3.x including the latest one.  We tried everything to solve the crash but failed. We can cause the crash by rapidly closing and launching the app, crash occurs randomly.
##

signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 00000010

[2016-08-22 14:01] JOOpdenhoevel commented on #16355
I don't really know how powerful/fast/etc. those alternatives are, but from my point of view, OpenAL has a big advantage: It's a cross-platform library. The implementation for Windows only uses OpenAL, MPEG, and Vorbis, which are available for Windows as well as for Linux. Due to this fact, I could simply copy the source files and it worked. All tests were positive, the C++ test and the Lua test.

[2016-08-22 22:40] DavidDeSimone commented on #16387
My team recently investigated this issue while looking at https://github.com/cocos2d/cocos2d-x/issues/16327. We came across the following bugzilla report, https://bugzilla.mozilla.org/show_bug.cgi?id=1257185, which states that building without JIT has been broken since Spidermonkey v38. Seeing as this bug as been open since 2016-03-16 without Mozilla commenting on it, I assume it is not a priority

[2016-08-22 23:27] ricardoquesada commented on #16404
@minggo looks good to me. I'll merge it once the build is green.

[2016-08-23 01:51] minggo commented on #16387
@DavidDeSimone why you need to build without JIT? As i know, JIT can be disabled in codes. Am i wrong?

[2016-08-23 01:53] minggo commented on #16355
@Janonard you are right. @dumganhar i think you can take a look too. I think it is better that we can use OpenAL as possible, then it is easy to main the codes.

[2016-08-23 01:54] minggo commented on #16355
Yep, it is better.

[2016-08-23 02:03] dumganhar commented on #16355
Agree this.

We only need OpenSLES for Android & OpenAL for other platforms. Easily maintaining our engine is really important.

BTW, we also need to improve New Audio Engine since I think the logic isn't very clear for developer to understand, we need to do more encapsulation, abstraction and documentation.

[2016-08-23 02:31] minggo commented on #16414
@ermanhaskan could you please also paste the java log info? And what's the API level you build with?

[2016-08-23 03:16] pyy07 commented on #8305
any final solution to this issue?

[2016-08-23 05:02] DavidDeSimone commented on #16387
I would defer to @pandamicro here. When we researched disabling JIT, the only documentation and suggestions we could find on the internet (and in Mozilla's documentation) involved setting various JIT-disabling flags during the build process. These flags are currently set in the build process of the version of Spidermonkey used in cocos for iOS.

However you mentioning disabling JIT at run time wou

[2016-08-23 06:31] pandamicro commented on #16387
Disabling JIT is indeed only for iOS, because Apple has forbidden it. As we disabled it for iOS build, Runtime setting with `JS::RuntimeOptionsRef` won't have any effect on iOS, it won't trigger problem for compilation neither.

@dumganhar I totally agree with updating Spidermonkey to latest version, big benefit. But we still have a very important task to do before it:

We need a generic abstract

[2016-08-23 06:52] minggo commented on #16387
@pandamicro sounds reasonable to me. But i think we need to a plan of it or we can not upgrade SpiderMonkey forever.

[2016-08-23 07:02] pandamicro commented on #16387
Yes, the most important thing now is to define an API set that is similar to the current one and can delegate all functionalities.

I think we should first assign someone to design the API set, then have a discussion on it.

For reference, I know we have an user tried to do the same, they are using C++ macro to define unified types and functions for JS & Lua engine, @linshun should have some of th

[2016-08-23 07:16] gelldur opened #16426 "BUILD_SHARED_LIBS ON needs -fPIC"
- cocos2d-x version: 3.12 (stable)
- devices test on: Linux machine
- developing environments
  - NDK version: 12rb
  - Xcode version: None
  - VS version: None
  - brower type and version: Chrome 52

Steps to Reproduce:
1. Use such flags:

[code]
1. Compile :)

[code]

PR with fix comming

[2016-08-23 10:13] pandamicro commented on #16387
Also, we talked about [jxcore](https://github.com/jxcore/jxcore) long before, they have unified V8, Spidermonkey and Chakra for all important platforms, but the maintenance seems suspended from April.

[2016-08-23 19:19] ermanhaskan commented on #16414
---

Build fingerprint: 'samsung/j1nlteub/j1nlte:4.4.4/KTU84P/J100MUUBU0APD1:user/release-keys'
Revision: '0'
pid: 8596, tid: 8615, name: Thread-568  >>> XXX <<<
signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 00000010

..

backtrace:
    #00  pc 00ae0c2c  /mnt/asec/XXX-1/lib/libcocos2dcpp.so (cocos2d::RenderState::StateBlock::setBlend(bool))
    #01  pc 00aee5dc  /mnt/asec/XXX-1/lib/libcoco

[2016-08-23 19:21] ermanhaskan commented on #16414
compileSdkVersion 24
buildToolsVersion '24.0.0'
minSdkVersion 11
targetSdkVersion 24

[2016-08-24 02:08] minggo commented on #16414
@ermanhaskan will you please change `AndroidMenifest.xml` to

[code]

to have a try? More information about `android:configChanges` can be found [here](https://developer.android.com/guide/topics/manifest/activity-element.html).

[2016-08-24 02:50] dumganhar commented on #16414
@ermanhaskan ,
try this:

[code]

[2016-08-24 02:52] minggo commented on #16414
yep, @dumganhar 's version is right

[2016-08-24 06:29] dujiadui opened #16429 "Crash and will restart when it enter foreground from background."
- cocos2d-x version:cocos2djs v3.6 or cocos2dx v3.12
- devices test on: SamsungNote 3 :SM-N9002 Android OS 4.4.2  ROM:KOT49H.N9002ZNUFNK1
- developing environments
  - NDK version: ndk-r10c
  - Xcode version:
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. js-test demo
2. app from the background into the foreground and repeat click will be forced stop.
3. However, this problem

[2016-08-24 07:35] dabingnn opened #16432 "bugs in function void Bone3D::updateLocalMat()"
- cocos2d-x version: cocos2d-x v3.10+
- devices test on: all platform
- developing environments
  - NDK version:
  - Xcode version:
  - VS version:
  - brower type and version:

the code in this function

[code]

the interpolation for rotation and weight handling seems wrong.

[2016-08-24 08:12] ermanhaskan commented on #16414
I was using

android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboardHidden"

Somehow I can't cause the crash even using old configChanges in my devices right now. I will use your version of configChanges in the last update and post the result here. Thanks.

[2016-08-24 08:44] dumganhar commented on #16429
Hello, doesn't it also crash on iOS or Mac?

[2016-08-24 09:48] raksa opened #16437 "cocos2d-js cc.Layer anchor point is not work"
- cocos2d-x version: 3.11.1
  Steps to Reproduce:
1. create extended class from var MyLayer = cc.Layer
2. set anchor point object of Mylayer

var myLayer = new MyLayer();

myLayer.setAnchorPoint(cc.p(1, 1));

it seem to be not working anyway

[2016-08-24 09:56] raksa opened #16438 "cocos2d-js editBox.touchDownAction is not function"
- cocos2d-x version: 3.11.1
- devices test on: Chrome Web browswer, Samsung Galaxy S5

Steps to Reproduce:
1. i want make the editbox is automatically be focus and open keyboard (in mobile device)
2. try method touchDownAction

var editBox = new cc.EditBox(...);

editBox.touchDownAction(editBox, cc.CONTROL_EVENT_TOUCH_UP_INSIDE);

it not work on Web browser

in mobile device show error message "ed

[2016-08-24 10:13] minggo commented on #16426
@gelldur did you build libcocos2d as shared library?

[2016-08-24 10:14] gelldur commented on #16426
Yeap

[2016-08-24 10:15] #16404 closed, assigned to ricardoquesada

[2016-08-24 14:08] huangapple commented on #16020
androidManifest.xml  里面的  <uses-sdk android:minSdkVersion="8" />  一定要是8, 要不按电源， 或 切到其它应用， 横竖屏切换就崩。 （小米4c， andorid 5.1)

@minggo  这是为什么？  8感觉很少了， 如果要用到一些新的api， 那不是会麻烦一点？ 而且为什么填14或16， 会这样子？  是因为用到的一些库是 按 8来编译的吗？

[2016-08-25 00:49] ricardoquesada commented on #16426
thanks. this is needed. merged.

[2016-08-25 00:50] #16426 closed, assigned to nobody

[2016-08-25 00:56] ricardoquesada commented on #16387
yes yes yes.
In fact, once we have that API, we could use another engine if needed.
As far as I know, Apple opened the JavaScriptCore API, and it is framework now. Is that correct? If so, we could use it and there is no need to ship our own VM for iOS.

[2016-08-25 01:36] pandamicro commented on #16387
Exactly, seems v8 is also smaller than spidermonkey on Android, so it's also beneficial for iOS/Android package size

Besides, as Apple opens JavaScriptCore API, I suppose they are gonna keep its backward compatibility, so maybe it's good to take JavaScriptCore API as our example.

[2016-08-25 03:53] #16408 closed, assigned to nobody

[2016-08-25 03:55] minggo commented on #16437
@raksa how did you find it can not work since an empty layer has nothing to be shown.

[2016-08-25 03:57] minggo commented on #16400
@kgom1028 any update?

[2016-08-25 03:59] minggo commented on #16429
it seems related to #16414

[2016-08-25 04:00] dabingnn commented on #14554
links with issue https://github.com/cocos2d/cocos2d-x/issues/16432

[2016-08-25 04:02] pandamicro commented on #16438
Hi, touchDownAction have been added in latest version, but unfortunately, it's empty implemented, the reason is that we simply can't open the keyboard automatically without user interaction, it's forbidden by most browsers. It's by design and I don't think it's possible to have a walk around here.

ref: https://www.quora.com/Mobile-Safari-iPhone-or-iPad-with-JavaScript-how-can-I-launch-the-on-scre

[2016-08-25 06:39] dumganhar commented on #16020
Which api version did you use for compiling java code?
If you used high version (>10), you probably need to add `screenSize` to `android:configChanges` in the AndroidManifest.xml.

[2016-08-25 06:43] huangapple commented on #16020
android 19, 20, 21, 22, 23  都试过， 如果 uses-sdk android:minSdkVersion="8"   这个配置的不是8， 而是14或16， 切到其它应用就会崩。

[2016-08-25 06:52] dumganhar commented on #16020
minSdkVersion是指你的app要能跑在最小的android版本。我问的是你用来编译java代码的sdk版本。
如果是用Android Studio, 在build.gradle中有compileSdkVersion，如果是用ant/eclipse, 在project.properties中配置。还有，有尝试加上screenSize的配置么？

[2016-08-25 06:53] peerobo opened #16441 "Cannot set position for CCProgressTimer"
- cocos2d-x version: 3.12 (obtained from github)
- devices test on: GT-P7300 (android os 4.0.4)
- developing environments
  - NDK version: 12b (64bit)
  - Application.mk:

[code]

Steps to Reproduce:
1. Create new cocos C++ project
2. Modified HelloWorldScene.cpp:

[code]

![scr](https://cloud.githubusercontent.com/assets/4023681/17959401/57eedcc4-6aca-11e6-8529-c332dab0ea03.png)

The logo must be

[2016-08-25 06:56] huangapple commented on #16020
我说的就是  编译用的sdk版本， 试过 android 19， 20， 21， 22， 23， 只要 android:minSdkVersion 不是8， 切到外部就会崩。  androidManifest.xml 里面除了改  android:minSdkVersion 这个， 没有改其它的。screenSize是配在 androidManifest.xml 里面？？那就没有， cocos 默认怎么样就怎么样的。

[2016-08-25 06:59] dumganhar commented on #16020
能尝试修改
android:configChanges="orientation|screenSize"试试么？

[2016-08-25 07:05] huangapple commented on #16020
好的， 我正在测试

[2016-08-25 07:09] huangapple commented on #16020
@dumganhar  测试了 ， 把  android:configChanges="orientation"  改成 android:configChanges="orientation|screenSize" 的话， 不管  android:minSdkVersion 是8， 还是14， 都不会崩了。
cocos要不要考虑在 xml里面 直接把 android:configChanges="orientation" 换成 android:configChanges="orientation|screenSize"？  还是有其它考虑？

[2016-08-25 08:26] rilbim opened #16443 "How to integrate 3rd party SDK (Vungle SDK) on cocos2dx win10 platform?"
- cocos2d-x version: 3.12
- devices test on: mobile emulator
- developing environments
  - NDK version:
  - Xcode version:
  - VS version: vs 2015
  - brower type and version:

Steps to Reproduce:

The vungle SDK need to integrate in XAML, but when I integrate the vungle SDK in OpenGLESPage, how can I access the interface of OpenGLESPage from cocos2dx game logic code?
Attach the vungle URL:
https:

[2016-08-25 08:34] xingshh opened #16444 "android glbufferdata"
- cocos2d-x version:
- devices test on:
- developing environments
  - NDK version:
  - Xcode version:
  - VS version:
  - brower type and version:

Steps to Reproduce:
1.
2.

[2016-08-25 08:34] #16444 closed, assigned to nobody

[2016-08-25 09:30] xingshh commented on #16282
i find it is bug now。 when undo the model, it will crash in android.
first load a model, then subdivide and updatevertex buf and index buf, it is ok.
then undo and call updatevertex buf and index buf, it will crash only in android platform. it tested HUAWEI, lenvo, xiaomi.

[2016-08-25 11:31] huangapple commented on #16020
谢谢各位大大们的解答

[2016-08-25 11:31] #16020 closed, assigned to nobody

[2016-08-26 01:33] minggo opened #16446 "upgrade OpenSSL to v1.1.0"

[2016-08-26 01:38] dumganhar commented on #16020
@huangapple , screenSize是在高版本的api中才加入的，目前cocos2d-x已经回退到使用api level 10来编译java代码了，所以在3.13版本中不需要加入screenSize。

[2016-08-26 01:59] liuyi opened #16447 "cc.TextFieldTTF &cc.LabelTTF need more optimization. Create a instance of TextFieldTTF need 50ms."
cocos2dx 3.10 JSB
test on ipad 3

simple code:
var t=Date.now();
var txt=new cc.TextFieldTTF();
console.log(">>>>>>>>>>>>>> txt:"+(Date.now()-t));   //echo 50-53ms

Hope text components can be more efficient.

[2016-08-26 04:09] liuyi opened #16448 ""this.initWithString is not a function" when new cc.TextFieldTTF with params"
cocos2dx 3.10 JSB  run on  ipad3

code:

issue 1:
var snTxt=new cc.TextFieldTTF("","arial",24);   //echo : this.initWithString is not a function

issue 2:
var snTxt=new cc.TextFieldTTF();
snTxt.setFontSize(36);  //echo  setFontSize is not a function

issude 3:
var snTxt=new cc.TextFieldTTF();
snTxt.fontSize=36 //Nothing happened.....

How to set the size of  cc.TextFieldTTF?

[2016-08-26 04:31] kiranb47 opened #16449 "Update RapidJSON to 1.1.0 - 2016-08-25"
It has a lot bug fixes and new features.

[2016-08-26 07:02] jminht opened #16450 "How to replace the simpleaudioengine with the new audio engin?"
i'm using cocos2dx v3.1.1.
and i got the problem "audio lagged in nexus 4".
i want to try the new audio engine and found that the cocos i used is so different from the lastest cocos2dx v3.12.
how can i replace the old audio engine without modify files which are not related to the audio engine?

[2016-08-28 12:30] zloop1982 opened #16453 "crash in void Renderer::fillVerticesAndIndices(const TrianglesCommand* cmd)"
- cocos2d-x version:3.13(branch v3)
- devices test on:iphone 6plus  ios 9.3.3
- developing environments
  - NDK version:
  - Xcode version: 7.3.1 (7D1014)
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. upgrade spine to newest (spine-c ,spine-cocos2dx)
2. try example in spine-cocos2dx.

will crash when you run BatchingExample or run RaptorExample and tap screen enter the batch

[2016-08-29 01:47] minggo commented on #16453
@zloop1982 v3.13 already update to spine-3.4, you can just try v3.13. We haven't updated to newest spine-cocos2dx.

[2016-08-29 02:39] zloop1982 commented on #16453
@minggo you are right, newest  spine-c have supported all Spine features, include support loading the binary format[not supported by spine-cocos2dx yet].
but I think this is an issue in fillVerticesAndIndices, BatchingExample is just an test case which can reproduce the crash.
It seems like memory manage about _verts have some problem.
there is some different between iOS simulator  and iphone devi

[2016-08-29 03:45] zilongshanren opened #16455 "Possible crash when label string is empty and the overflow is shrink"
Tested on the latest v3 branch.

Steps to Reproduce:
1.  create a system font label with no string content.
2.  Set the overflow to shrink

[2016-08-29 07:23] #16063 closed, assigned to minggo

[2016-08-29 07:23] minggo commented on #16063
@fuyifan thanks, i fixed it.

[2016-08-29 07:24] yunmin97 commented on #16045
@dabingnn cocosdx-3.13版本的什么时候能在官网下载？？

[2016-08-29 07:26] huangapple commented on #16045
刚上了

[2016-08-29 08:05] michael-ordering commented on #15901
Are there any workround for solve this problem? I faced same thing on porting from Android to UWP.
How can I solve this?

[2016-08-29 09:54] huangapple opened #16459 "cocos3.13 jsval_to_std_string"
- cocos2d-x version:  3.13

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/js-bindings/manual/js_manual_conversions.cpp  line:604

原本是 if(v.isString() || v.isNumber())

现在变成  if(v.isString() || v.isBoolean())

这真的好吗？  在js代码中， 经常 setString(123), 很少setString(true)吧？

[2016-08-29 09:55] dumganhar commented on #16459
@pandamicro , please take a look.

[2016-08-29 13:55] raksa commented on #16437
i just see there are option of ignoreAnchorPoint, i'm trying it

[2016-08-29 14:02] raksa commented on #16438
because i see in some game eg. Clash of Clans, they use this technique to make input chat more interactive.
just click on a button and then keyboard opening with input box
i just want to make my game like so
and currently i'm testing on Android phone

[2016-08-29 16:07] zloop1982 commented on #16453
bad news, it still crash in the same line when I use the old spine .
so the reproduce step is:

test the BatchingExample[commit 3af5290e23108d409c9dc5754b4adbfedf2e814d] from {https://github.com/EsotericSoftware/spine-runtimes} with the cocos2d-x 3.13 [commit 6c9a05f8319553bb7c3fd81fcca32c6d767903b6]

don't need to upgrade spine.

{
    gl.supports_OES_map_buffer: true
    gl.supports_vertex_array

[2016-08-29 18:02] zloop1982 commented on #16453
my bad.
EXC_BAD_ACCESS is on cmd->getVertices();  not  _verts.
getVertices() return _triangles.verts, address is 0x000000010783c810.

[2016-08-29 19:22] zloop1982 commented on #16453
finally, the crash is because for 50 spine boys , SkeletonBatch::setBufferSize(512)
is not enugh.
create 50 spine boys on device must use SkeletonBatch::setBufferSize(3600).
seems like the size of SkeletonBatch can not auto increase on iphone.

[2016-08-29 19:35] ricardoquesada opened #16460 "Support for Game Controllers on Mac"
iOS and Mac share the same API for game controllers.
Adding support for Mac is almost free and it makes more sense to play game on Mac with game controllers than on iOS

[2016-08-29 20:45] vvaldik opened #16462 "Problem with SpriteFrame::hasAnchorPoint()"
- cocos2d-x version: **3.11.1**
- developing environments
  - NDK version: **r10d**

Steps to Reproduce:

Hello, I've just upgraded my project from version 3.7 to 3.11.1, and on Android platform most of the sprites became invisible... After some investigation I've found, that the source of the problem was the following check

[code]

In my case, the check frame->hasAnchorPoint() was **returning tr

[2016-08-29 22:28] jasonnaldi opened #16463 "Crash on touch if widget is not listening to touches but has a touch event listener"
- cocos2d-x version: 3.12
- devices test on: iPhone 5
- developing environments
  - NDK version: none
  - Xcode version: 7.3.1
  - VS version: none
  - brower type and version: none

Steps to Reproduce:
1. Create ui::Widget or child class
2. Add touch event listener via `addTouchEventListener`
3. Tap the widget

[2016-08-29 23:59] ricardoquesada commented on #16460
merged.

[2016-08-29 23:59] #16460 closed, assigned to ricardoquesada

[2016-08-30 01:40] minggo commented on #16453
@zloop1982 there is not `SkeletonBatch` test in cocos2d-x, is it a new test case?

[2016-08-30 01:45] pandamicro commented on #16459
Sorry, it should be

[code]

I suppose it's caused during code merging, sorry for the inconvenient, @huangapple

[2016-08-30 01:48] huangapple commented on #16459
Thank you!

[2016-08-30 02:35] liuyi commented on #16448
Is Cocos2dx(JSB) is so important that you guys don't care fix these issues?
Or
You guys want all the cocos2d-js user move to CREATOR, so don't want fix these little bugs in cocos2d(JSB)?

[2016-08-30 02:42] liuyi opened #16464 "Could cocos2dx team will fix/optimize some little bugs in cocos2d-x(JSB)?"
I found some little bugs on cocos2dx(JSB) code, or missing some function.
such as:
https://github.com/cocos2d/cocos2d-x/issues/16448

Or some components need be optimized, like below:
https://github.com/cocos2d/cocos2d-x/issues/16447

So,
Is Cocos2dx(JSB) is so important that you guys don't care fix these issues?
Or
You guys want all the cocos2d-js user move to CREATOR, so don't want fix these lit

[2016-08-30 02:47] dumganhar commented on #16448
cc.TextFieldTTF is so old and out of maintaining for a long time.
How about switching to `cc.EditBox`?

[2016-08-30 02:50] zloop1982 commented on #16453
no,cocos2d-x already have SkeletonBatch.
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/editor-support/spine/SkeletonBatch.h

[2016-08-30 02:52] zloop1982 commented on #16453
BatchingExample set SkeletonBatch::setBufferSize(512) at start.
It's ok for simulator. but crash in device.
on device should set enough size at beginning.

[2016-08-30 02:53] zloop1982 commented on #16453
oh, you mean SkeletonBatch test case. yes.
this test case is from EsotericSoftware/spine-runtimes/spine-cocos2dx.

[2016-08-30 02:56] minggo commented on #16453
yep, i mean the test case. So it is an issue of spine-runtime itself?

[2016-08-30 03:34] zloop1982 commented on #16453
I don't know. need more deep debug. 75% is SkeletonBatch's issue.

[2016-08-30 05:14] DavidDeSimone opened #16465 "Ref's reference counting is using non-atomic ints, while allowing reference count mutation across multiple threads"
- cocos2d-x version: 3.11
- devices test on: iPad Air 2
- developing environments
  - NDK version:
  - Xcode version:
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. This is a rare race condition that is most common in networking code. A common usage pattern of HTTP requests looks like the following:

[code]

Calling send will send the request into an input queue, which it wil

[2016-08-30 05:32] zloop1982 commented on #16453
I read the code, this is SkeletonBatch's issue. 100%

[2016-08-30 05:48] minggo commented on #16453
so please report it to spine-runtime repo.

[2016-08-30 06:34] zloop1982 commented on #16453
already reported.

[2016-08-30 06:52] minggo commented on #16453
can i close the issue?

[2016-08-30 07:09] zloop1982 commented on #16453
yes

[2016-08-30 07:27] cellininicholas commented on #12044
So a Textfield cursor was never implemented?...
I was using EditBox, but found that it had no text alignment properties (am I wrong?)
So I decided to use Textfield, but it has no Cursor.
Is it possible to center align the EditBox?

[2016-08-30 07:38] zilongshanren commented on #12044
@cellininicholas  EditBox TextAlignment will be implemented in the future.
Here is a implementation only for iOS and Android.

https://github.com/cocos2d/cocos2d-x/pull/14459

[2016-08-30 07:58] cellininicholas commented on #12044
Thanks @zilongshanren! Found it a little tricky to merge into v3.12, so I've given up for now :\

[2016-08-30 08:35] #16453 closed, assigned to nobody

[2016-08-30 08:46] yuriilychak opened #16467 "Don't build New Project in cross platform IDE's on OS X"
- cocos2d-x version: 3.13 && 3.12
- devices test on: mac Mini
- developing environments
  - NDK version:
  - Xcode version: 7.3.1
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. Create project from console.
2. Build project in QTCreator, CLion, NetBeans, CodeBlocks etc on OS X.
3. Get "Undifinded symbol for architecture x86-64".

In cocos2d-x v3.11 all works fine. Seems like s

[2016-08-30 09:23] liuyi commented on #16467
I suggest InteliJ IDEA OR PHP Storm and XCODE

[2016-08-30 09:25] liuyi commented on #16450
You can write a wrapper to avoid change audio api when audio engine API changed.

[2016-08-30 09:35] liuyi commented on #16448
OK, Thanks!
Because there are too much api & components such as  ccui.TextField, cc.TextFieldTTF ,cc.EditBox
I'm confused to choose which one ...

[2016-08-30 09:48] yuriilychak commented on #16467
Sorry, but I'm using C++ version of engine. Intelij IDE and PHP Storm don't support  C++. In JetBrains CLion it don't builds (under OS X). I use XCode for building for IPhone, but it not cross platform, I can't use it on Ubuntu or Windows.

[2016-08-30 10:05] Bilalmirza opened #16469 "Camera changes v3.13"
Cameras are giving different results v3.12 and v3.13.

I've made a video for clarity.

https://www.dropbox.com/s/sab8pjpazbk191v/camera%20problem.mov?dl=0

I've experienced few other bugs/differences as well. Maybe they are all related.

[2016-08-30 10:29] Bilalmirza commented on #16469
Orthographic and perspective cameras both have wrong results!

[2016-08-30 12:46] Dauch opened #16471 "Text color lose in cocos2d-x 3.13"
- cocos2d-x version: 3.13
- devices test on: win32
- developing environments
  - NDK version:
  - Xcode version:
  - VS version: 2015
  - brower type and version:
- cocostudio 3.10

Steps to Reproduce:

open csb, is Text type's color is lose, it won't set
origin:
![image](https://cloud.githubusercontent.com/assets/5201160/18089332/07eac9c8-6ef2-11e6-8f64-8c3464093945.png)
output:
![image](https://

[2016-08-30 12:51] Dauch opened #16472 "couldn't open release mode in vs 2015 used by cocos2d-x 3.13"
- cocos2d-x version: 3.13
- devices test on:
- developing environments
  - NDK version:
  - Xcode version:
  - VS version: 2015
  - brower type and version:

Steps to Reproduce:
1. cocos new TD -p org.cocos2dx.test -l lua -d D:\client\test
2. open it with vs 2015, the debug model is fine. but release model crash with error.
   ![image](https://cloud.githubusercontent.com/assets/5201160/18089623/73

[2016-08-30 12:53] huangapple opened #16473 "3.13 android OpenSLES error while play background music in writablepath or sdcard"
![0gssc8wzu5 4as56k e2r j](https://cloud.githubusercontent.com/assets/10572028/18089676/ad61cdd8-6ef3-11e6-925a-7d5ef08b3d36.png)

this is bug?

[2016-08-30 12:57] Dauch opened #16474 "Does it normal the empty "hello world" project consume cpu 40% around is fine?"
- cocos2d-x version: 3.13
- devices test on:
- developing environments
  - NDK version:
  - Xcode version:
  - VS version: 2015
  - brower type and version:

Steps to Reproduce:

use debug model, it is highly cpu consume.
![image](https://cloud.githubusercontent.com/assets/5201160/18089827/65beb12a-6ef4-11e6-857d-f1accea777fe.png)

[2016-08-30 13:06] zhaozhantao commented on #16471
Me too.

[2016-08-30 13:39] huangapple commented on #16474
This is normal.

[2016-08-30 14:23] Dauch commented on #16474
@huangapple  what? (black man ???)

[2016-08-30 14:25] Dauch commented on #16471
pls give some help @minggo

[2016-08-30 15:37] huangapple commented on #16474
再空的项目， cocos也要一秒60帧的刷啊。他又不是应用程序的引擎， 是游戏的引擎， 大部分游戏界面是一直动的， 所以无条件刷是比较合适的。如果有大量不动的ui时， cocos 好像也有脏矩阵 策略。但要手动开， 并不适合大部分游戏。

[2016-08-30 15:41] PengboGai commented on #16474
that's the problem 60 fps

[2016-08-30 17:51] stnguyen commented on #14178
@minggo any update on this pls?

[2016-08-30 19:27] crazyhappygame commented on #15901
No workaround so far ...

[2016-08-30 19:48] ishmar commented on #15901
Sadly, One of my top interest about using cocos2d-x was the possibility to develop for all platforms (android, ios AND wp), more than a year after, I've stopped all efforts for WP due the lack of support for basic stuff such as a fast app startup (blame ANGLE) and my schedule doesn't include update my WP game (yeah, it's published for WP8.1 and UWP win10/win10mobile) as there is no answer from dev

[2016-08-31 00:49] stevetranby commented on #16462
https://stackoverflow.com/questions/7263404/mingw32-stdisnan-with-ffast-math

[code]

Could also probably use FLT_MIN or similar either always or only when -ffast-math is enabled.

[2016-08-31 01:35] minggo commented on #16471
sorry, cocostudio is canceled, we don't have resource to handle corresponding issues.

[2016-08-31 01:36] minggo commented on #14178
I think it is fixed in v3.12.

[2016-08-31 01:43] minggo commented on #16473
how to reproduce it? And please use english in future, then all developers can join the discussion. Thanks.

[2016-08-31 01:45] minggo commented on #16474
yep, it is normal. Game engine is different from app, it will re-draw everything in a frame.

[2016-08-31 01:45] #16474 closed, assigned to nobody

[2016-08-31 01:46] minggo commented on #16469
@ricardoquesada could you please take a look? Thanks.

[2016-08-31 01:48] minggo commented on #16467
We don't make sure the engine can work on all IDE, but we accept PR if it will not too complex.

[2016-08-31 01:48] #16467 closed, assigned to nobody

[2016-08-31 01:49] minggo commented on #16465
Yep, it is design like this. Make it thread-safe will slow down the performance.

[2016-08-31 01:49] #16465 closed, assigned to nobody

[2016-08-31 01:49] minggo commented on #16464
@pandamicro please take a look.

[2016-08-31 01:52] #16455 closed, assigned to zilongshanren

[2016-08-31 01:53] minggo commented on #16449
yep, it is updated

[2016-08-31 01:53] #16449 closed, assigned to nobody

[2016-08-31 01:54] minggo commented on #16450
yep, you can do as @liuyi 's suggestion.

[2016-08-31 01:54] #16450 closed, assigned to nobody

[2016-08-31 01:55] #16448 closed, assigned to nobody

[2016-08-31 01:55] Dauch commented on #16471
@minggo  any suggestion for this bugifx?

[2016-08-31 01:56] minggo commented on #16443
@stammen any suggestion?

[2016-08-31 01:58] minggo commented on #16471
I am sorry, i are not familiar with cocostudio and we don't make sure v3.13 can work with cocos studio.

[2016-08-31 01:59] stammen commented on #16443
@minggo I will investigate

[2016-08-31 01:59] minggo commented on #16441
Duplicated with #16400? How about change clang to gcc to have a try?

[2016-08-31 02:01] minggo commented on #16443
@stammen thanks

[2016-08-31 02:06] minggo commented on #16116
I am working on travis CI these days, and found it will exceed the time-limit when building our tests on all platforms except linux. And it will take about 42 minutes on linux. I build all tests (include `cpp-empty-test`, `cpp-tests`, `lua-empty-test`, `lua-tests` and `js-tests`). So we should optimize the compiling time.

[2016-08-31 02:33] minggo commented on #16473
@dumganhar please take a look.

[2016-08-31 02:34] zhaozhantao commented on #16471
this is min code:

[code]

[2016-08-31 02:37] huangapple commented on #16473
wait, i',m trying make a demo package

[2016-08-31 02:40] dumganhar commented on #16473
@huangapple , I reproduced it. Don't worry, I will submit a Pull Request to fix.

[2016-08-31 02:42] Dauch commented on #16471
In CCLabel.cpp line 1893, I comment line 1893&1894 it work fine. changging those has any bad influence?
@minggo
`
void Label::updateDisplayedColor(const Color3B& parentColor)
{
    Node::updateDisplayedColor(parentColor);

[code]

`

[2016-08-31 02:48] liuyi commented on #16447
Here is some points need optimized in my opinion.

1\ The way load csb, it cost too much time. The simple scene cost 179ms
![scene](https://cloud.githubusercontent.com/assets/848803/18114136/5fd8c368-6f67-11e6-8ef5-c516ab6badac.png)

I knew cocos studio is not support now, but if we can make the parser more faster it would be cool!

2\ TextField components, see my screenshot at below:
![test-ios-i

[2016-08-31 02:49] dumganhar commented on #16473
@huangapple , fixed it at https://github.com/cocos2d/cocos2d-x/pull/16475

Please try to apply that patch and test it again.

BTW, `FileUtils` doesn't provide a API to copy a file to /sdcard or writable path. It's hard for me to add a test case. :(

[2016-08-31 02:52] minggo commented on #16116
It will take about 18 minutes to setup environments on Mac:
- download engine, deps
- set up environments to generate binding codes
- generate binding codes

On linux it is more quickly, and the linux job is started first(about 5 minutes first compared to Mac job).

Edit: it seems mac os performance is slower than linux os in travis.

[2016-08-31 02:56] zhaozhantao commented on #16471
@Dauch I delete the two line code. It work fine.
I compare cocos2d-x 3.12 and 3.13 , this two line is 3.13 added. same a bugfix.
Who know the two line should delete or save.

[2016-08-31 03:02] zhaozhantao commented on #16471
in this commit https://github.com/cocos2d/cocos2d-x/commit/35008702bfe7a33f75b9ad823d64b6c4773ca45b

[2016-08-31 03:23] huangapple commented on #16473
now it can play background music in writablepath or sdcard, but can't stop music in writablepath or sdcard??
maybe is my problem,  I'm will try again.
@dumganhar

[2016-08-31 03:26] dumganhar commented on #16473
How did you stop music? cpp-tests -> NewAudioEngineTest could stop background music.
Did you pass a correct `audioId` to `AudioEngine::stop(int id)`?
Or did you use `AudioEngine::stopAll()`?

[2016-08-31 03:33] huangapple commented on #16473
jsb.AudioEngine.stop(id).
That seems to be accidental.
maybe is my problem

[2016-08-31 03:33] huangapple commented on #16473
i try again, but no reproduced

[2016-08-31 03:40] huangapple commented on #16473
var id = jsb.AudioEngine.play2d("xxx.mp3", true)
in other scene, i use jsb.AudioEngine.stop(id)  and  play other background music.
maybe  in xxx.mp3 in loop clearance,  jsb.AudioEngine.stop(id) can't to stop it??
May this be the case???
I  reproduced twice, that seems to be accidental.

[2016-08-31 03:55] dumganhar commented on #16473
@Please send an email to me(jianhua.chen@cocos2d-x.org) and leave your QQ account.
I will help to find out the issue. Thanks.

[2016-08-31 03:58] Valiancer commented on #16473
I have the same problem，play downloaded music，It is not valid，fixed it at #16475， apply that patch，then it works，but when i stop it  by AudioEngine::stop(_audioID), it crashed,

[2016-08-31 04:05] dumganhar commented on #16473
@Valiancer, could you paste some code snippets and upload the logcat output?

[2016-08-31 04:27] ricardoquesada commented on #16469
@Bilalmirza thanks for the video.
could you please attach the code to reproduce the error?
and also, which one has the correct behavior ? 3.12 or 3.13? thanks!

[2016-08-31 05:00] huangapple commented on #16459
@pandamicro
fix it on github?

[2016-08-31 05:49] Bilalmirza commented on #16469
@ricardoquesada The behaviour was correct in 3.12
Heres the link to files.
https://www.dropbox.com/s/5v3n52o4omd51fa/files.zip?dl=0

when sprite is assigned to a camera in MissionPopUp.cpp
mainSprite->setCameraMask((unsigned int)CameraFlag::USER1);

this->setPosition() has no effect

[2016-08-31 05:57] ricardoquesada commented on #16469
@Bilalmirza thanks. I'll test it tomorrow wednesday

[2016-08-31 06:22] Dauch commented on #16471
just delete it if you don't use underline @zhaozhantao

[2016-08-31 06:37] dumganhar opened #16477 "Deadlock if preload the same file more than 3 times in preload callback"
- cocos2d-x version:3.13
- devices test on: Android
- developing environments
  - NDK version: r10e

Steps to Reproduce:

[code]

[2016-08-31 06:57] ermanhaskan commented on #14178
I tried the game on this device as soon as I upgraded to 3.12 but it was the same.

[2016-08-31 07:24] yunmin97 opened #16479 "怎么才能正确生成mips、mips64、arm64-v8a、x86_64对应的libcocos2dcpp.so？"
cocos2dx版本：3.8.1
1、生成armeabi、armeabi-v7a、x86下面的libcocos2dcpp.so没有问题，但是生成其他的mips、mips64、arm64-v8a、x86_64就报各种错！
2、看了一下貌似cocos库里面的external扩展库中没有mips、mips64、arm64-v8a、x86_64对应的xxx.a文件，但是armeabi、armeabi-v7a、x86这三个是有的（比如：chipmunk、png的都没有）！
3、请问这个要怎么解决？cocos官方可以提供其他cpu架构（mips、mips64、arm64-v8a、x86_64）的xxx.a吗？？

[2016-08-31 07:35] yunmin97 commented on #16479
平台：andriod

[2016-08-31 07:54] minggo commented on #14178
So it may be a different issue. @ermanhaskan could you please provide a demo for it?

[2016-08-31 08:03] dumganhar commented on #16479
3.13之前支持 armeabi, armeabi-v7a, x86，其他架构不支持。
3.13支持 armeabi, armeabi-v7a, arm64-v8a, x86，其他架构不支持。

[2016-08-31 08:16] yunmin97 commented on #16479
Get了，目前接腾讯的MSdk和米大师支付sdk多了mips、mips64、arm64-v8a、x86_64的cpu架构，如果cocos2dx没有对应的cpu架构的xxx.a，估计在这些cpu架构的机器上无法完成登陆或者支付！

[2016-08-31 08:17] dumganhar commented on #16479
Forget those archs. They have really small users.

[2016-08-31 08:21] yunmin97 commented on #16479
ok，got it!!

[2016-08-31 08:22] #16479 closed, assigned to nobody

[2016-08-31 09:31] dumganhar commented on #16471
@minggo ,it seems to be an issue which isn't related to CocosStudio. I re-opened this.

@ricardoquesada , could you please take a look this issue since https://github.com/cocos2d/cocos2d-x/commit/35008702bfe7a33f75b9ad823d64b6c4773ca45b was updated by you.

[2016-08-31 09:42] minggo commented on #16116
From the [doc](https://docs.travis-ci.com/user/ci-environment/#Virtualization-environments), we can find the Mac virtual machine is lower performance. It only has 3G memory and only one core. Linux virtual machine has 7.5G memory and 2 cores.

[2016-08-31 10:16] yunmin97 opened #16480 "把cocos2dx-3.13版本的AudioEngine移植到cocos2dx-3.8.1版本后报错！"
- cocos2d-x version:    cocos2dx-3.8.1
- devices test on:    三星平板【型号：SM-P601】
- developing environments
  - NDK version:    ndk-rd10e
  - VS version:    vs2015
  - eclipse android platform:   android4.4.2

Steps to Reproduce:
1.  按照此贴https://github.com/cocos2d/cocos2d-x/issues/16144步骤把cocos2dx-3.13版本的AudioEngine移植到cocos2dx-3.8.1版本后报错：Couldn't find the pcm cache: ()
2. 错误定位：cocos\audio\android\Audi

[2016-08-31 10:17] duuyia commented on #16480
https://github.com/cocos2d/cocos2d-x/issues/16144

[2016-08-31 10:18] duuyia commented on #16480
链接：
https://github.com/cocos2d/cocos2d-x/issues/16144

[2016-08-31 10:18] yunmin97 commented on #16480
链接： https://github.com/cocos2d/cocos2d-x/issues/16144

[2016-08-31 10:19] dumganhar commented on #16480
logcat过滤进程后的详细日志贴一下。

[2016-08-31 10:21] ZeroObject opened #16481 "How to use joystick in cocos2d-x?"
cocos2d-x used GLFW and GLFW support joystick function. I tried to use it. it does not work on windows, but osx and linux is no problem.

[code]

[code]

[2016-08-31 16:41] gelldur opened #16483 "Building without CHIPMUNK"
- cocos2d-x version:
  3.13 (current)
- devices test on:
  linux

In CMakeLists.txt i have:

[code]

When i;m building with this configuration everything is fine. App compiles and runs.
BUT

I just use in my code `TMXTiledMap` and everything is ok on 2 PC but on 2 other PC i have problem that:

[code]

When i debug code i see in `TMXTiledMap::_tileSize` has correct values. But when calling `TMXTil

[2016-08-31 17:38] ermanhaskan commented on #16414
Unfortunately we are still experiencing the crash using: android:configChanges="orientation|screenSize"

[2016-08-31 18:00] ermanhaskan commented on #16414
Just received this error on cocos2dx 3.13

backtrace:
 #00  pc 00a41ca8  /data/app-lib/com.test.test-63/libcocos2dcpp.so (cocos2d::RenderState::StateBlock::setBlend(bool))
 #01  pc 00a4df14  /data/app-lib/com.test.test-63/libcocos2dcpp.so
 #02  pc 00a0929c  /data/app-lib/com.test.test-63/libcocos2dcpp.so (cocos2d::Director::setGLDefaultValues()+12)
 #03  pc 00a0932c  /data/app-lib/com.test.test-63

[2016-08-31 23:38] ricardoquesada commented on #16471
I can reproduce and also happens on `Label()`. This is not related to Cocos Studio.

[2016-09-01 01:39] slackmoehrle opened #16485 "v3.13 -> apps crashing if they don't specify a design resolution"
Apps are crashing if not using a Design resolution:
http://discuss.cocos2d-x.org/t/cocos2d-x-3-13-crashes-when-not-using-design-resolution/31756/6

user posted a work around of:

[code]

[2016-09-01 01:58] Valiancer commented on #16473
@huangapple sorry，yesterday's question is my fault. but i found when i stop the music，it will call the callback，AudioEngine::setFinishCallback(_audioID, std::bind(&MusicPlayer::callbackMusicFinish, this, std::placeholders::_1, std::placeholders::_2));    in Android

[2016-09-01 02:11] yunmin97 commented on #16480
@dumganhar
09-01 10:06:45.861: D/CCFileUtils-android.cpp(20090): relative path = Animation/OpenAnimation.ExportJson
09-01 10:06:50.491: D/beacon(20090): rqdp{  FileDAO.query() end success} 0
09-01 10:06:50.491: D/beacon_step_db(20090): rqdp{  queryFile result num } 0
09-01 10:06:50.491: D/beacon(20090):  FileDAO.querySum() start
09-01 10:06:50.496: D/beacon(20090):  query sum: 1
09-01 10:06:50.496

[2016-09-01 02:16] yunmin97 commented on #16480
能播放音乐，但是在播放结束的时候报错了，好像是AudioPlayerProvider类clearPcmCache函数里面报错。
09-01 10:07:51.046: W/AudioPlayerProvider(20090): Couldn't find the pcm cache: ()【上面log27行】

[2016-09-01 02:18] Valiancer commented on #16473
@dumganhar sorry，yesterday's question is my fault. but i found when i stop the music，it will call the callback，AudioEngine::setFinishCallback(_audioID, std::bind(&MusicPlayer::callbackMusicFinish, this, std::placeholders::_1, std::placeholders::_2)); in Android

[2016-09-01 02:40] ZeroObject commented on #16481
http://gamedev.stackexchange.com/questions/129225/how-to-use-joystick-in-cocos2d-x

[2016-09-01 03:11] Rubonnek opened #16488 "Memory leaks found in the Zlib library"
Memory leaks were found in ioapi_mem.cpp in the Zlib library. The following errors where shown by cppcheck:

[code]

Memory is allocated in line 41, but it's not being handled before any of the return statements whose lines are shown above.

Since ioapi_mem.cpp is currently being ignored by git, here is my proposed patch:

[code]

Another way we could go about this is to update the Zlib library to

[2016-09-01 03:14] dumganhar commented on #16480
你是不是uncache的是否传入了空字符串？

[2016-09-01 03:17] dumganhar commented on #16473
@Valiancer , good to know it works for you now.

[2016-09-01 03:20] ricardoquesada commented on #16471
thanks. fixed.

[2016-09-01 03:21] ricardoquesada commented on #15214
re-fixed in v3.14.

`setColor()` changes the color of the text and underline.
`setTextColor()` changes the color of only the text. This is the same behavior as system fonts.

[2016-09-01 03:28] dumganhar commented on #16481
What was the error?

[2016-09-01 03:34] Valiancer commented on #16473
@dumganhar  i found when i stop the music，it will call the callback，AudioEngine::setFinishCallback(_audioID, std::bind(&MusicPlayer::callbackMusicFinish, this, std::placeholders::_1, std::placeholders::_2)); in Android

[2016-09-01 03:46] #16477 closed, assigned to dumganhar

[2016-09-01 03:47] dumganhar commented on #16473
@Valiancer , I'll check it.

[2016-09-01 03:50] dumganhar commented on #16473
@Valiancer , I checked the code and found that it should not happen, could you please upload logcat output for me to analyze?

[2016-09-01 04:06] Valiancer commented on #16473
@dumganhar [http://forum.cocos.com/t/cocos2d-x-3-13-android-audioengine-stop/39432](url)

[2016-09-01 05:58] ZeroObject commented on #16481
It was not any error. GLFWEventHandler::onGLFWError was not called.

[code]

[code]

[code]

[2016-09-01 06:54] dumganhar opened #16490 "[android, audio] AudioEngine::stop() triggers 'finished' callback"
Reported at http://forum.cocos.com/t/cocos2d-x-3-13-android-audioengine-stop/39432
- cocos2d-x version: 3.13
- devices test on: Android
- developing environments
  - NDK version: r10e

Steps to Reproduce:
1. NewAudioEngineTest -> ControlTest
2. Click play, then click stop button
3. finished callback will be triggered

[2016-09-01 07:02] ermanhaskan commented on #16485
Experienced this issue yesterday, did the same thing to fix it. Only occurs on Android.

[2016-09-01 07:03] dumganhar commented on #16485
@ricardoquesada , could you please take a look at this issue?
It does crash in Camera::projectGL. Thanks.

[2016-09-01 07:05] ermanhaskan opened #16492 "v3.13 -> RapidJSON Crashes in Release mode on Android"
NDK: r12b
API-LEVEL: 11 <also occurs in other api levels>

Rapidjson's memory allocation functions crash every time when compiled in release mode. Fix is to use custom types instead of rapidjson::Document and rapidjson::Value.

[code]

[2016-09-01 07:06] Bilalmirza commented on #16469
Let me know if you need any more test examples

[2016-09-01 07:14] dumganhar commented on #16481
So it's probably an issue of glfw on windows. Could you check whether there is a new version of GLFW released? If this issue exits in the latest version of GLFW, you probably need to submit this issue to GLFW official. Thanks.

[2016-09-01 07:25] minggo commented on #16116
I added two jobs on Mac platform, only building `cpp-empty-test` and `cpp-tests` also met timeout issue: https://travis-ci.org/minggo/cocos2d-x/builds/156724132. So should make some modules into binary mode first, such as
- box2d
- bullet
- studio reader
- builder reader
- spine reader

[2016-09-01 07:27] ZeroObject commented on #16481
I build and run GLFW 3.2 source code build-in joystick test. It was perfect worked anywhere except for PS4 Controller with bluetooth on ubuntu, but use USB cable is right. I have tested GLFW 3.1, 3.2, 3.2.1 and cocos2d-x 3.11, 3.12, 3.13. The results are the same.

[2016-09-01 07:35] dumganhar commented on #16481
Currently, cocos2d-x is using GLFW 3.2.0, so according to what you experiment, it should work on Windows. Did you try put the GLFW 3.2.0 source code to cocos2d-x VS projects and check that why joystick devices could not be found?

[2016-09-01 07:38] ZeroObject commented on #16481
I known it can use Xinput, but I really would not like to call the local API.

[2016-09-01 08:04] minggo commented on #16116
I send #16494 for new travis script.

[2016-09-01 08:06] #16490 closed, assigned to dumganhar

[2016-09-01 09:28] dumganhar commented on #16492
How about changing API-LEVEL to 10 and make sure API 10 is installed?

[2016-09-01 09:29] dumganhar commented on #16459
@pandamicro , could send a PR for that?

[2016-09-01 09:42] ZeroObject commented on #16481
I do not know how to build it after put it in. Finally, I tried to do that, but always build failing. Would you help me with this problem? I known it can use Xinput, but I really would not like to call the local API. Thanks.

[2016-09-01 10:01] vvaldik commented on #16462
Code proposed by stevetranby solved the problem, everything works just fine with -ffast-math now

[2016-09-01 10:17] ermanhaskan commented on #16492
Haven't tried api level 10 but it was working without any problems in previous cocos versions on API-LEVEL 11. I think it has something to do with gcc changing in 3.13.

[2016-09-02 01:33] minggo commented on #16492
@ermanhaskan we just move back to gcc, only 3.12 uses clang. And how to reproduce it?

[2016-09-02 02:49] dumganhar commented on #16472
@Dauch , did you build it in debug mode and then build it in release mode ?

[2016-09-02 02:53] dumganhar commented on #16472
@Dauch ,please check this https://github.com/cocos2d/cocos2d-x/pull/16501

[2016-09-02 03:05] yunmin97 commented on #16480
你好，昨天我又测了一天，刚刚也在测试
1、发现3.13版本的audioengine和3.8.1（或者3.13之前的版本）在AudioEngine::setFinishCallback回调顺序或处理方式变了。
2、3.13版本之前的回调在调用AudioEngine::stop后不确定的时间内收到回调，3.13版本是先收到回调后才会执行AudioEngine::stop后面的代码？！用了单线程处理？！是这样的吗？
3、我刚移植了一个版本，播放停止音乐基本上没有问题了，但是还会出现一些其他的错误（倒是没有引起游戏奔溃），我上传了一个demo（大概实现了没有z轴的3D音效封装），如果你有时间可以帮忙看看log出来的那些错误有没有什么影响和问题（错误log文件：error_log.txt ， 放在demo里面）！！
4、demo地址：http://git.oschina.net/duuyia/Aud

[2016-09-02 03:07] dumganhar commented on #16480
About 1, 2, please check this patch: https://github.com/cocos2d/cocos2d-x/pull/16491

[2016-09-02 03:08] yunmin97 commented on #16480
@dumganhar
我没有上传cocos2d库文件（移植了3.13AudioEngine版本后的3.8.1库）
如果你需要，我发到你邮箱里面，你的邮箱？？

[2016-09-02 03:11] dumganhar commented on #16480
@duuyia , 把cocos/audio/android 和 cocos/platform/android两个目录打成zip包，上传到你的oschina仓库即可。

[2016-09-02 03:11] yunmin97 commented on #16480
ok

[2016-09-02 03:14] yunmin97 commented on #16480
@dumganhar
已上传完成。

[2016-09-02 03:28] dumganhar commented on #16480
你的代码修改的比较多，我这里比较难跑起来。
现在没有崩溃了，那错误信息具体是？

[2016-09-02 03:29] dumganhar commented on #16480
My QQ account ID: 280324383, please connect me.

[2016-09-02 04:15] yunmin97 commented on #16480
ok，apk 包和工程都发给你一个了

[2016-09-02 04:30] Dauch commented on #16472
yes, ok, I will try :)

[2016-09-02 05:14] Dauch commented on #16472
Thanks, It works. @dumganhar ,pls close this issue.

[2016-09-02 05:14] ghost opened #16502 "v3.13 -> SPINE color bug."
SPINE will display objects as black, when color is at all modified in the editor. Comparing color code with previous SPINE versions fixed it. Since I am not sure if this is a correct fix, I will not make a PR.

![screen shot 2016-09-02 at 08 14 11](https://cloud.githubusercontent.com/assets/21215757/18193340/45331200-70e5-11e6-8d81-f85bbb5a2ae1.png)

[2016-09-02 05:33] dumganhar commented on #16472
Good to know it works for you now. I closed this issue.

[2016-09-02 05:33] #16472 closed, assigned to nobody

[2016-09-02 05:44] dumganhar commented on #16502
It's a bug, I will check whether it was fixed at https://github.com/EsotericSoftware/spine-runtimes.

[2016-09-02 05:55] dumganhar commented on #16502
It seems to be fixed at https://github.com/EsotericSoftware/spine-runtimes/commit/c8b72e382f10d555187ef74e38306893972bd489

Could you apply that patch and test again?
But I think your patch should also work. 👍

[2016-09-02 05:56] SokarCodes commented on #14150
I also noticed this "feature" just now when developing my game. I am using mouseEvents on win/linux and touch events on android because win/linux version have slightly different input system on my game.

I have to use `mouse->getLocationInView();` on windows/linux and `touch->getLocation();` on Android to get the same effect.

[code]

Feels weird when different input systems need different API cal

[2016-09-02 06:17] ghost commented on #16502
Yes, the fix you posted also works fine.

[2016-09-02 06:20] dumganhar commented on #16502
I submitted a PR for this: https://github.com/cocos2d/cocos2d-x/pull/16503

[2016-09-02 06:32] dumganhar commented on #16483
But Chipmunk has nothing to do with Tilemap stuff. It's really strange.

[2016-09-02 06:34] #16480 closed, assigned to nobody

[2016-09-02 06:46] dumganhar commented on #16492
rapidjson is used in `CocosStudio` editor reader. But currently, we have removed the test case in `cpp-tests`.  Could @ermanhaskan add a test case to `cpp-tests` -> `UnitTest` for this issue?

[2016-09-02 06:49] dumganhar commented on #16459
fixed it at https://github.com/cocos2d/cocos2d-x/pull/16504, closed this issue.

[2016-09-02 07:44] gelldur commented on #16483
@dumganhar yeah i know but this is probably bug with linking? Something bad is with memory where code is stored. I try to make minimal bug reproduction.

I can say only that i know stuff about retain/release and i use cocos since v2.

Also when i moved my code to AppDelegate it still occurs.

[2016-09-02 07:57] jhyoon77 commented on #13581
@mazestoxic It is reproduced on my case. (v3.12)

I don't know why, but I added this code and it was fixed.

[code]

[2016-09-02 07:59] pbs0512 commented on #16492
NDK: r12b
API : 23
engine : cocos2d-x 3.13 Lua
I have crashes when running in debug mode

The first run was fine. Since then crash

Fix :
cocos2d-x/tools/simulator/libsimulator/lib/runtime/FileServer.cpp
`void FileServer::readResFileFinfo()
{
    std::string filecfg = _writePath + "/fileinfo_debug.json";
    FILE \* pFile = fopen (filecfg.c_str() , "r");
    if(pFile)
    {
        rapidjson::File

[2016-09-02 08:24] jhyoon77 commented on #13581
In my case, SystemUiVisibility is 5894, before editbox first touch,
It changed to 5888 after touched. (0x6 is SYSTEM_UI_FLAG_FULLSCREEN, SYSTEM_UI_FLAG_HIDE_NAVIGATION)

[2016-09-02 09:15] zmox opened #16505 "websocket (JSB) cause lag when recieve msg"
- cocos2d-x version: 3.11 (JSB)
- devices test on: iOS/Android

Steps to Reproduce:
1. use websocket recieve msg, cause obvious lag,  (seem block ui thread???)

[2016-09-02 09:33] dumganhar commented on #16505
How did you test it? And how did you measure the lag.

[2016-09-02 09:44] jhyoon77 commented on #13581
I think it is related 'immersive full-screen mode'.
And this is my code. I fixed my source, not cocos2dx code.

[code]

[2016-09-02 10:33] rilbim opened #16506 "Cocos2dx 3.12 transplanted to win10, pictures and text becomes blurred"
- cocos2d-x version: 3.12
- devices test on: NOKIA Lumia 930
- developing environments
  - NDK version:
  - Xcode version:
  - VS version: vs 2015
  - brower type and version:

Steps to Reproduce:

The same picture resource is very clear on android and iOS device, but when we transplanted the project into win10, all the pictures and text becomes blurred. I've been investigating this issue for very

[2016-09-02 11:33] liuyi opened #16507 "JSB special action can not work, see simple code:"
COCOS2DX 3.10 IOS

[code]

LOG:

[code]

toySp  should move up and down, but it don't move 1 pixel.

[2016-09-02 11:39] liuyi commented on #16507
replacement method:

[code]

[2016-09-02 11:50] liuyi opened #16508 "Scaled Sprite drop down framerate, it comes from cocos2dx 3.6(or earlier) not be fixed yet.(test in 3.10)"
Testing on IOS and Android, JSB APP
# See screenshot:

The brown background is a Sprite. It's texture is a small png file and scale to fit width of window.
**The scale more bigger the framerate is more slowly.**
**More Sprite being scaled, the framerate is more slowly**
simple code:
var landBg = new cc.Sprite("#land_bg.png");
var landBg.scaleX = 1024 / _self.landBg.width;
this.addChild(landBg);

J

[2016-09-03 05:13] wduminy opened #16510 "New app crash on Android"
- cocos2d-x version: 3.13
- devices test on: virtual android x86
- developing environments
  - NDK version: 10e
  - Xcode version: n/a
  - VS version: Community 2015
  - brower type and version: n/a

Steps to Reproduce:
1. cocos new cocostest -p com.cocostest -l cpp
2. cocos run -p android --app-abi x86 -m debug
3. App starts up fine, all seems OK
4. Wait a little while (maybe 10 seconds or so), t

[2016-09-03 13:32] MatthieuG9 opened #16511 "libfmod not found when I run cpp-tests"
When I run cpp-tests I got the error `error while loading shared libraries: libfmod.so.6: cannot open shared object file: No such file or directory`

Configuration :
- cocos2d-x version: 3.13
- devices test on: Linux Ubuntu 14.04 i686

Steps to Reproduce:
1. Clone the cocos repository,
2. python download-deps.py
2. git submodule update --init
2. ./install-deps-linux.sh
2. Build tests files
3. Run

[2016-09-03 13:51] JOOpdenhoevel commented on #16511
Yes, I know this problem and it will be fixed when #16410 is merged. Basically, fmod is going to be replaced by openal.

[2016-09-03 17:59] wduminy opened #16512 "Hexagonal map fails on TMXTiledMap::getTileAt"
- cocos2d-x version: 3.13
- devices test on: Windows 8.1 (win32)
- developing environments
  - NDK version: n/a
  - Xcode version: n/a
  - VS version: 2015 Community
  - brower type and version: n/1

I really like the idea that _tiles are sprites :)_ -- but I could not get it to work. The problem I found can be reproduced with the code snippet below.  You may need the provided map to reproduce the

[2016-09-04 10:59] Shulepov commented on #16510
Try to compile with NDK r10c, recently also encountered similar crashes with ndk r10e after updating cocos2d-x.

[2016-09-04 14:58] Bilalmirza commented on #16469
Hi,
Any news on this?

[2016-09-04 15:37] ricardoquesada commented on #16469
I'm working on this. thanks.

[2016-09-05 03:33] stevetranby commented on #16485
Also, while this is probably an improvement, our game broke on upgrade as well because we were setting the projection type before setting our design resolution, which worked fine using 3.7 to 3.12.

Maybe setProjection throw an assertion instead of just a warning? With a note that says to make sure design resolution is set before changing state in the Director?

[2016-09-05 03:35] stevetranby commented on #16469
This may be related to https://github.com/cocos2d/cocos2d-x/issues/16485 if you're setting the director projection type before setting the design resolution. It borked our camera positioning.

[2016-09-05 04:23] peerobo commented on #16441
After update to the latest cocos2d-x on github, everything is ok (still using clang).

[2016-09-05 05:47] dumganhar commented on #16510
@codespear , I tested  it with cocos2d-x 3.13 & ndk-10e & x86 simulator, and I didn't find the crash you said.
BTW, the `screenSize` section in `AndroidManifest.xml` should be deleted since we reverted to use API 10 in v3.13.

Could you check that which API version you're using?
And could you provide the logcat output?

[2016-09-05 06:15] minggo commented on #16459
v3.13.1 fixed in #16515.

[2016-09-05 06:53] minggo commented on #16471
#16516 for v3.13.1 branch, @ricardoquesada please check it.

[2016-09-05 06:57] minggo commented on #16473
synchronize to v3.13.1 in #16521, @dumganhar , please take a look.

[2016-09-05 07:48] rockingdice opened #16518 "outlined LabelTTF sometimes rendered dirty with artifacts"
- cocos2d-x version: 3.8
- devices test on: iPhone 6+
- developing environments
  - NDK version: --
  - Xcode version: 7.3.1
  - VS version: --
  - brower type and version: --

Steps to Reproduce:
1. Use Chinese Language TTF to create some LabelTTF with outline enabled.
2. Not always reproducible. I think those artifacts are used to be former characters. since our game needs to display lots of Chi

[2016-09-05 07:53] rockingdice commented on #16518
By the way, I also checked the change history of CCFreeTypeFont.cpp till v3.13, and I don't find anything helpful to this issue. Hopefully this will be fixed in latest version or just give a patch to fix it, thank you.

[2016-09-05 08:26] shenwei0415 commented on #16518
This bug has been fixed in v3.13, you can merge from cocos/2d/CCFontAtlas.cpp

[2016-09-05 08:51] kmenager commented on #16373
@minggo I have the same issue on iOS, but with more details.

In CCActionInterval.cpp

[code]

<img width="462" alt="screen shot 2016-09-05 at 10 47 27" src="https://cloud.githubusercontent.com/assets/1276307/18242367/4093f016-7356-11e6-9913-6151b1a5795d.png">
Object is not null (_innerAction, target, etc...)

The code is :

[code]

[2016-09-05 09:41] #16441 closed, assigned to nobody

[2016-09-05 09:43] #16473 closed, assigned to dumganhar

[2016-09-05 09:43] #16459 closed, assigned to nobody

[2016-09-05 09:47] dumganhar commented on #16473
@minggo , I have reviewed it and it's great.

[2016-09-05 10:01] minggo opened #16520 "Crash if restart app from background by clicking icon on Android"

[2016-09-05 12:07] rockingdice commented on #16518
@shenwei0415 Thank you, I'll try it.

[2016-09-05 12:50] liuyi commented on #16508
@minggo @pandamicro  Could you guys have a look this issue?

I am sure this is an render bug, and only need serval minutes to do a simple test.
In this testing, I set framerate to 30fps.

[2016-09-05 16:49] ishmar opened #16523 "Node::Draw not smooth on complex, wider lines"
Drawing thicker lines show sawtooth and other artifacts. Tested on win32. Haven't tested it on other platforms. See screen captures (taken from a modified cpp-test)
- Original, with no line width:
  ![image](https://cloud.githubusercontent.com/assets/20006414/18253919/056008ca-7399-11e6-9f32-ef4681fb2df2.png)
- With line width:
  ![cardinalspline](https://cloud.githubusercontent.com/assets/2000641

[2016-09-05 23:22] ishmar commented on #16506
Guess it's related to [#15901](https://github.com/cocos2d/cocos2d-x/issues/15901)... sounds familiar to you?

@rilbim, how is app startup? any lag/slow startup? I opened [#15881](https://github.com/cocos2d/cocos2d-x/issues/15881) and @crazyhappygames opened [#15746](https://github.com/cocos2d/cocos2d-x/issues/15746) too.

[2016-09-06 01:50] dumganhar commented on #16508
@liuyi
So do you think it's the problem of scaled sprite?
Could you test it by only adding a single scaled sprite and check out the frame rate?

[2016-09-06 02:09] minggo commented on #16490
synchronized to v3.13.1 in #16524

[2016-09-06 02:12] #16502 closed, assigned to nobody

[2016-09-06 02:32] liuyi commented on #16508
OK  I can write a test sample tonight.

[2016-09-06 02:52] minggo commented on #16520
It is because by default some configuration changes will restart the activity, so we should prevent it by declare the events in AndroidMenifest.xml:

[code]

`screenSize` is added since API 13, and API 13, so we should change the API level to 13 by default. Good news is that, if you are building with API 13, you can also run on API 10 because our java codes can work with API 10+.

[2016-09-06 03:00] minggo commented on #16520
fixed in #16525

[2016-09-06 06:34] minggo commented on #16506
@stammen could you please take a look?

[2016-09-06 06:41] #16518 closed, assigned to nobody

[2016-09-06 07:14] Longpc commented on #11742
For me. I got black screen when use admob video reward that have callback is show confirm dialog. But dialog is Black with same error. (Dialog was created from Node, LayerColor and Sprite like background image). Hope that was fixed soon

[2016-09-06 07:20] Dauch opened #16526 "while playing music in background, preload it make this music stop."
- cocos2d-x version:3.13
- devices test on:Samsunm I9300
- developing environments
  - NDK version:r10b
  - Xcode version:
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. play the background music:
   `cc.SimpleAudioEngine:getInstance():playMusic("a.mp3")`
2. preload this background music:
   `cc.SimpleAudioEngine:getInstance():preloadMusic("a.mp3")`

then it stop.

and anothe

[2016-09-06 07:24] dumganhar commented on #16526
It seems that some system errors appeared.
Could you provide more informations?
e.g.
- The Android Version of your device?
- The logcat output

What do you mean `stop`, is it freezing?

[2016-09-06 07:24] mars3142 opened #16527 "can't compile libcocos2dx-with-controller with "--android-studio""
- cocos2d-x version: 3.13
- developing environments
  - NDK version: r12b (NDK in Android SDK)

Steps to Reproduce:
1. create new project
2. edit <project>/proj.android-studio/settings.gradle and change the path to libcocos2dx-with-controller
3. call _compile compile -p android --android-studio_
   --> error: package com.android.vending.expansion.zipfile does not exist

PS: A change to the proj.an

[2016-09-06 07:44] Dauch commented on #16526
The Android Version of my device:
![image](https://cloud.githubusercontent.com/assets/5201160/18265573/f7c4364a-7448-11e6-8017-3825c567a936.png)

[log.txt](https://github.com/cocos2d/cocos2d-x/files/456168/log.txt)
and stop just stop playing. music stop.

[2016-09-06 08:12] #16520 closed, assigned to minggo

[2016-09-06 08:44] dumganhar commented on #16526
Are you sure that you're using v3.13?
I could not find any keywords of v3.13.
And did you use `SimpleAudioEngine` to play audio? If so, how about trying to use `AudioEngine` instead and test again?

[2016-09-06 08:45] Dauch commented on #16526
Yes, of cource I using 3.13, I use `SimpleAudioEngine` as beyong
ok, I will try to use `AudioEngine`.

[2016-09-06 10:47] mars3142 commented on #16527
https://github.com/cocos2d/cocos2d-x/pull/16529

[2016-09-06 12:41] Kotaiba opened #16531 "setAnimationInterval bug in win32"
- cocos2d-x version: 3.11.1
- devices test on: win32  (4-devices)

  case 1 :
  `director->setAnimationInterval(1.0 / 60);`  the game frame will be - between 61 and 57, and there is lag in the game -on some devices it will run  between 60 and 59.
  case 2:
  `director->setAnimationInterval(1.0 / 61.5);`  the game frame will be - between 60 and 59, runs perfect (same device that got lag on 1.0/60 t

[2016-09-06 13:51] stammen commented on #16506
@minggo I will take a look at this.

[2016-09-06 13:51] Dauch commented on #16526
I used `AudioEngine`, it didn't cause stop playing problem. But it still keep throwing those err but is running is ok, do you know what's going on? @dumganhar

09-06 21:40:40.905 31770-31770/? W/native_eup: empty
09-06 21:40:40.945 2314-2411/? E/NotificationService: Ignoring notification with icon==0: Notification(pri=0 contentView=com.kingroot.kinguser/0x10900aa vibrate=null sound=null defaults=0

[2016-09-06 15:03] dumganhar commented on #16526
I don't know why the system output this logs. We just use the standard `OpenSLES` API Android provides. So if there're no side-effects, just keep on.

[2016-09-06 15:36] ishmar commented on #16506
@stammen, could you please take a look at slow startup too? there is already issue [#15881](https://github.com/cocos2d/cocos2d-x/issues/15881) opened. The slow startup is because the time a windows phone takes to compile cocos2d default shaders.

[2016-09-06 18:05] sachingarg05 commented on #16485
Our code failed because Director::getInstance()->getVisibleSize(); would return zero.

Using the above workaround fixed it for us too.

[2016-09-06 20:07] hawkwood commented on #13926
I see this is a year old and no movement.  I just released an app build using Xcode 7 and Cocos 3.8.1 and am getting a lot of reports of this, but I and my team have not seen it.  Interestingly, I have a different app using 3.8.1 that is not seeing it, but I don't know what version of Xcode was used to compile/build that.

Did you find a solution?  Does using a newer version of Cocos help (seeing

[2016-09-06 20:48] IgorMats commented on #12459
Same issue with my project!

[2016-09-06 23:20] ricardoquesada commented on #16471
@minggo looks good to me

[2016-09-07 01:01] ricardoquesada commented on #16485
**UPDATE 1:** it is crashing here:
09-06 18:00:31.946 25830-25855/org.cocos2dx.cpp_empty_test E/cocos2d-x assert: /Users/riq/progs/cocos2d-x/tests/cpp-empty-test/proj.android/../../../cocos/./2d/CCCamera.cpp function:projectGL line:281

**UPDATE 2:** Why did it work in the first place without a design resolution. I guess the default one should be the one posted above as the workaround.

**UPDATE 3

[2016-09-07 01:45] #16471 closed, assigned to ricardoquesada

[2016-09-07 01:45] minggo commented on #16471
@ricardoquesada thanks.

[2016-09-07 02:02] ricardoquesada commented on #16469
As @stevetranby said, it is probably related to not having a design resolution.

@Bilalmirza if you add these linen to your project, does it work?:

[code]

**UPDATE:**
Or if you can try with this patch: https://github.com/cocos2d/cocos2d-x/pull/16533/files

thanks.

[2016-09-07 02:26] dabingnn opened #16535 "migrate sprite used in cocos2d-x-lite to cocos2d-x"
The requirement is from cocos creator lua support, sprite used in cocos2d-x-lite need to be migrated into cocos2d-x repo. The files is https://github.com/cocos-creator/cocos2d-x-lite/blob/develop/cocos/editor-support/creator/CCScale9Sprite.h and https://github.com/cocos-creator/cocos2d-x-lite/blob/develop/cocos/editor-support/creator/CCScale9Sprite.cpp.
@ricardoquesada @dualface @minggo Which name

[2016-09-07 02:34] minggo commented on #16535
@dabingnn i think Sprite already support scale9 feature. Why need this class? @zilongshanren am i  wrong?

[2016-09-07 02:39] zilongshanren commented on #16535
@minggo  Sprite class doesn't support Slice-9 feature ATM, but `ui::Scale9Sprite` does support this feature. Maybe we could enhance the existing `ui::Scale9Sprite` class and keep back compatibility.

[2016-09-07 02:43] minggo commented on #16535
@zilongshanren sounds good to me. @dabingnn what's your opinion.

[2016-09-07 02:51] dabingnn commented on #16535
It is impossible to achieve the goal as @zilongshanren suggested. To keep backward compatibility and fulfill creator lua support. In creator, simple/sliced 9/tiled/filled are all sprites. Since we have paid much time to achieve the same goal in cocos2d-x-lite several month ago, but failed as last, I am opposed to do it again.

[2016-09-07 03:34] minggo commented on #16492
@finebe did you use simulator to run lua scripts?

[2016-09-07 04:01] #16527 closed, assigned to nobody

[2016-09-07 04:01] #16485 closed, assigned to ricardoquesada

[2016-09-07 04:06] xbw12138 commented on #15199
thanks ！ it's very cool

[2016-09-07 08:15] ricardoquesada commented on #16535
What is cocos2d-x-lite?

Adding sprite-9-slice in sprite sounds good to me.
Adding something similar to SpriteKit's `centerRect` could be a nice feature:
https://developer.apple.com/library/ios/documentation/GraphicsAnimation/Conceptual/SpriteKit_PG/Sprites/Sprites.html

[2016-09-07 09:07] minggo commented on #16535
cocos2d-x-lite is the custom cocos2d-x version of cocos2d-x used in cocos creator, it remove many components, such as 3d, cocos studio reader and so on, and it also adds some features needed by cocos creator.

Yep, it is good if @dabingnn wants to do it like this. But i think it just wants to add a file into cocos2d-x.

[2016-09-07 10:07] flybird opened #16541 "ScriptingCore::evalString not work"
- cocos2d-x version: v3.13
- devices test on:iPhone stimulate
- developing environments
  - NDK version:android-ndk-r12b
  - Xcode version:7.3.1
  - VS version:
  - brower type and version:

Steps to Reproduce:
I use latest version 3.13. I found I call ScriptingCore::evalString but It don't fire. the code always return false, the "script" is nullptr,

I think it should be compare with point "&scri

[2016-09-07 16:50] ricardoquesada commented on #16535
we should avoid doing that. it adds "bloat-ness" to the engine

[2016-09-07 22:40] ricardoquesada commented on #16511
yes, as @Janonard  said.
In the meantime, you have to install fmod manually.

[2016-09-08 02:23] rilbim commented on #16506
@stammen Any update for this issue? Thanks.
BTW, I tried the approach that you commented in another issue as below, but it didn't work.
https://github.com/Microsoft/angle/issues/57#issuecomment-185882500

[2016-09-08 03:40] wulv1985 opened #16543 "Spine: PolygonBatch flush cause crash"
- cocos2d-x version: 3.3
- devices test on: iphone6s plus
- developing environments
  - NDK version:
  - Xcode version: 7/8
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. upgrade ios to ios10 beta7, app may crash when we use spine

i think there is a problem in function PolygonBatch::flush:

[code]

it should be replace by:

 GL::enableVertexAttribs(GL::VERTEX_ATTRIB_FLAG_POS

[2016-09-08 06:17] rilbim commented on #16506
@ishmar the startup is also slow, waiting for the appropriate solution for this.

[2016-09-08 06:58] rilbim commented on #16506
@stammen Thanks for you comments in issue https://github.com/Microsoft/angle/issues/57
I combined the solution in https://github.com/Microsoft/angle/issues/57 and https://github.com/Microsoft/angle/wiki/Scaling-your-app-to-run-at-different-resolution-on-the-device
Now the picture render issue is solved, but the FPS drop.. Is there any solution to improve the FPS?

[2016-09-08 08:31] semgilo opened #16544 "schedule::update dt is not accurate"
- cocos2d-x version:3.9
- devices test on:android huawei

when fps is low than 60, the dt is 0.016, in fact it maybe 0.02 or more

[code]

[2016-09-08 08:42] heyikun commented on #16446
Whould u please tell me when can it be fninished , cause our apk  had been rejected by google play.

[2016-09-08 09:02] minggo commented on #16446
I think you can refer to [this topic](http://discuss.cocos2d-x.org/t/openssl-problem-again/28270). OpenSSL issue is resolved a few months ago, this issue is just upgrade it to latest version in advance.

[2016-09-08 09:23] minggo opened #16545 "Will crash if playing audio on Android 2.3.x"
It is because `SimpleAudioEngine` or `new AudioEngine` uses `popen` to get some system property, and it will crash on Android 2.3.x.

[2016-09-08 09:25] minggo commented on #16545
fixed in #16546

[2016-09-08 09:25] nicolechen819 opened #16547 "Memory leak in AudioPlayer.mm"
- cocos2d-x version:3.13

If set _isDestroyed = true in rotateBufferThread function, then AudioPlayer::destroy() will return at the beginning. Which will cause memory leak.

[2016-09-08 09:29] dumganhar commented on #16547
Which object would be leaked? How did you test it?

[2016-09-08 09:45] nicolechen819 commented on #16547
I use xcode Instruments to find the leak. Instruments does not point out what is leaked clearly. I found out by tracing code.

[2016-09-08 09:58] dumganhar commented on #16547
So you find the leak by reviewing the code?
Which object do you think is leaked?

[2016-09-08 10:12] nicolechen819 commented on #16547
So I think memory need to release in AudioPlayer::destroy() will cause leak, i.e. _rotateBufferThread. Because AudioPlayer::destroy() return at the beginning.

[2016-09-08 10:23] thuydx55 commented on #16541
I'm also getting this issue

[2016-09-08 11:03] raksa opened #16549 "cocos2d-js uiRichText.initWithXML not accept 1 argument anymore"
- cocos2d-x version:3.13
- devices test on: windows 8.1, project win32
- developing environments
  - VS version: 2015

Steps to Reproduce:
1. test js-test in cocos2d-x-3.13\tests\js-tests\project\proj.win32
2. test with "UI Test/UIRichTech"

it produces error
and log in console

[2016-09-08 11:30] cinakyn opened #16550 "how to prevent frame half drop (60 -> 30)"
- cocos2d-x version: 3.12
- devices test on: iPhone6, iPhone4, iPhone4s, etc...
- developing environments
  - NDK version: none
  - Xcode version: 7.3.1
  - VS version: none
  - brower type and version: none

Steps to Reproduce:
1. make high cpu load
2. frame drops to 30 during about 5 seconds.

---

Hi, when I test my game, There's some section which uses 90% ~ 100% of cpu because of loading proc

[2016-09-08 13:00] Bilalmirza commented on #16469
@ricardoquesada @stevetranby  its not related to design resolution in anyway.

I've figured out the above solution 16533 even before posting this issue... its not related in my opinion.

If you want i could make more tests?
Thanks

[2016-09-08 14:00] ricardoquesada commented on #16512
I working on this. And I was able to reproduce it.

[2016-09-08 15:43] wduminy commented on #16510
@dabingnn , I am using platform 4.4.2 (API 19).
Get the logcat output from [dropbox](https://www.dropbox.com/s/mgas9t1eoi7jjtw/log.zip?dl=0).

[2016-09-08 23:35] ricardoquesada commented on #16544
could you post a complete snippet... something that I can copy & paste and reproduce the issue? Thanks.

[2016-09-08 23:36] ricardoquesada commented on #16550
not sure... could you please post the code to reproduce it?
It could be a bug in cocos2d-x or in your code... or something else.

[2016-09-08 23:41] ricardoquesada commented on #16469
@Bilalmirza If can make more tests, it would be great.
I'll also try to find why it is not working for you.

[2016-09-09 00:43] rastermax commented on #12458
Hi,
why is this file not copied like the rest of the files from the src folder ?

[2016-09-09 01:42] minggo commented on #16535
@dabingnn please move it to `cocos/scripting/lua-bindings/cocos-creator`. You should create the `cocos-creator` folder.

[2016-09-09 02:17] dumganhar commented on #16510
@codespear, it's probably a bug of our x86 optimized code.
You could try to disable `__SSE__` optimization in Application.mk by adding

[code]

Let me know whether this workaround works for you.

[2016-09-09 06:25] dumganhar commented on #16547
@nicolechen819 , you should be right.
Marked it to be resolved at v3.14. Thank you.

[2016-09-09 07:45] dumganhar commented on #16547
@nicolechen819 , fixed it at https://github.com/cocos2d/cocos2d-x/pull/16556.
Please check again. I could not write a test case for this patch since AudioPlayer is an internal class.

[2016-09-09 08:40] nicolechen819 commented on #16547
Thanks, leaks is gone.

[2016-09-09 08:40] #16547 closed, assigned to dumganhar

[2016-09-09 10:05] liuyi commented on #16508
Tested on IPAD3  cocos2dx version:3.10

**Can not reproduce this problem when test with simple case.**
1\Create 50 scaled Sprites,
scale them to (w:1024 ,h:768)  frame rate about:30-38fps

2\Create 50 normal Sprites, but has the same display area with scaled Sprites.
(w:1024 ,h:768) frame rate about:28-38fps

3\Their almost have the same frame rate.

4\ But the scaled image make my game frame rate

[2016-09-09 10:34] cinakyn commented on #16550
@ricardoquesada
I typed simple codes like this, but can't reproduce issue.
So I need to inspect more precisely and will open issue again.

[code]

[2016-09-09 10:34] #16550 closed, assigned to nobody

[2016-09-09 20:09] wduminy commented on #16510
@dumganhar I tried it and it still crashed.  When I get a bit of time I will try other variations of the SDK and NDK.

[2016-09-10 03:02] gekailin opened #16559 "This line should be removed"
https://github.com/cocos2d/cocos2d-x/blob/v3/tools/simulator/frameworks/runtime-src/proj.android/jni/Application.mk#L12

[2016-09-10 03:07] vkreal commented on #16559
Is that line dead?

[2016-09-10 09:55] gekailin commented on #16559
No, but in release build I think this macro should not be present.

[2016-09-10 11:32] rilbim commented on #16506
@minggo Could you help me on this issue? We have been confused by this issue for a very long time, now our project is hardly stopped. Is there any successful win10 transplantation case that we can refer to?

[2016-09-10 12:35] stammen commented on #16506
@rilbim  We are looking into this issue. Thanks.

[2016-09-10 12:55] rilbim commented on #16506
@stammen Thank you very much. Looking forward your good news!

[2016-09-11 09:18] Kotaiba opened #16561 "Mac ,FPS drop from 60 to 30 on FullScreen ."
- cocos2d-x version: 3.11.1
- devices test on: Macbook Retina 15 , MAC OSX
- developing environments
  - Xcode version: Version 7.3.1

This Issue only on  `glview = GLViewImpl::createWithFullScreen("DCR");`
if i use this the game will run 60 fps `glview = GLViewImpl::createWithRect("DCR", Rect(0, 0, 1136 ,640));`
On some mac devices the fps will drop from 60 to 30 . and go back to 60 again
the gam

[2016-09-11 15:09] huangapple commented on #15972
what time to support ssl?

[2016-09-12 01:49] #16545 closed, assigned to nobody

[2016-09-12 03:08] cyutao7545 opened #16564 "ui::Scale9Spite使用pvrtc4纹理中间区域拉伸问题"
- cocos2d-x version: v3.7.1
- devices test on: iphone
- developing environments
  - NDK version:
  - Xcode version: 7.3.1
  - VS version:
  - brower type and version:

Steps to Reproduce:

在创建ui::Scale9Spite时使用 pvrtc4的纹理时，虽然中间区域是纯色的，但是拉伸出来有竖条状图形。
![qq20160912-1](https://cloud.githubusercontent.com/assets/13072519/18423687/aebecd12-78d9-11e6-9cb3-af6d8d14b42d.png)

[2016-09-12 03:17] cyutao7545 commented on #15953
@ @williamchong007  try using xcode 7.0 build release

[2016-09-12 07:41] Bilalmirza commented on #16469
@ricardoquesada sorry I am on Eid holidays... ill really try and find time for the tests.

Thanks

[2016-09-12 08:50] stevetranby commented on #16531
The better metric is time per frame. Unreal, Unity, et al show frame stats as ms spent on CPU/GPU for rendering and other aspects and then calculate frame rate based on that (1000/frame_time_in_ms).

The point is that if you're measuring FPS based on the visible label that's set by cocos2d it's not that accurate.

If you're seeing actual lag (skipped animation frames, jerky movement, etc), that's

[2016-09-12 15:54] stammen commented on #16443
@rilbim @minggo See https://github.com/stammen/win10-vungle-sdkbox for instructions on how to use Vungle in a Windows 10 UWP cocos2d-x app. This also works for Windows 8.1.

[2016-09-12 16:29] dirtyshadowss opened #16565 "cocos2dx 3.12 and 3.13.1 device orientation"
Hello,
when i create New Project with version 3.12, 3.13 and 3.13.1 i have this:

Landscape:
![06993cd2707c4c6d55b6774f7e4622618716550e](https://cloud.githubusercontent.com/assets/22153658/18443537/09746840-791e-11e6-8156-1bb89908eccb.PNG)
and Portrait:
![0f4502b69ccc2d7b8dc6d9226c79ef2cb0976edb](https://cloud.githubusercontent.com/assets/22153658/18443570/1a437ef4-791e-11e6-9a5e-a54ab4177e03.PNG)

[2016-09-12 21:54] slackmoehrle commented on #16561
I watched the video. Interesting. But can you clarify a bit? Which line are you using that cases the drop? Also, by Mac devices do you you mean iphones and ipads or desktop OSX?

[2016-09-13 01:17] zmox commented on #16505
sorry, it seem its my logic problem... already fix it

[2016-09-13 01:17] #16505 closed, assigned to nobody

[2016-09-13 01:28] zmox opened #16568 "Do you plan update jsbuilder to 3.13"
http://cocos2d-x.org/filecenter/jsbuilder/

jsbuilder still 3.12

[2016-09-13 02:59] feijing566 commented on #15387
@minggo any plant about this?

[2016-09-13 04:00] ttt1088 opened #16570 "android UILabel lost text on some devices"
- cocos2d-x version:3.0alpha1
- devices test on:honor4X,zuk z1
- developing environments
  - NDK version:
  - Xcode version:
  - VS version:
  - brower type and version:

Steps to Reproduce:

I'm using an old version of cocos2dx because of a long-time game project.
The game runs well on ios and most of android devices, but an issue happen to some devices such as huawei honor4x and lenovo zuk z1. I

[2016-09-13 04:27] man2 opened #16571 "Crash when adding ClippingNode to ScrollView on Android 6.01"
- cocos2d-x version: 3.13
- devices test on: Android One 6.01
- developing environments
  - NDK version: r12b
  - Xcode version:
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. Create a ClippingNode
2. Add it to ScrollView

[2016-09-13 07:16] Kotaiba commented on #16561
Only on desktop OSX , the drop happen only when the game is on FullScreen
`glview = GLViewImpl::createWithFullScreen("DCR");`

[2016-09-13 07:29] dumganhar commented on #16561
If the issue only appears on macOS desktop, it's probably an issue of GLFW in fullscreen.

[2016-09-13 07:46] Kotaiba commented on #16561
@dumganhar  let me do more test on windows .

[2016-09-13 07:48] dumganhar commented on #16561
@Kotaiba, that will be better for us to check the issue. Thanks. :)

[2016-09-13 07:54] Kotaiba commented on #16561
@dumganhar Same issue on windows but it drop to 20-30-60fps only on FullScreen.

[2016-09-13 07:56] dumganhar commented on #16561
@Kotaiba, interesting. I will try to reproduce it.

[2016-09-13 08:21] dumganhar commented on #16561
@Kotaiba , I tried cpp-empty-test on my MacBook Pro (Retina, 15-inch, Early 2013). And I could not reproduce it. Could you test cpp-empty-test?

[2016-09-13 08:32] minggo commented on #15387
@feijing566 sorry, we have other more important issues to fix, so there is not plan this issue right now. You are appreciated if you can send a PR for it.

[2016-09-13 08:45] Kotaiba commented on #16561
@dumganhar  cpp-empty-test  worked fine . but try to run cpp-tests on fullscreen and open basic-shaders it sometimes happen see the attached image . i am using MacBook Pro (Retina, 15-inch, Mid 2014)
<img width="1440" alt="screen shot 2016-09-13 at 11 43 20 am 1" src="https://cloud.githubusercontent.com/assets/3635272/18467126/5e0b1a5a-79a7-11e6-9725-ac56c8b9356d.png">

question: why when i set th

[2016-09-13 09:16] dumganhar commented on #16561
Yep, I reproduced it by Shader test.
And even though I set fps to 120, it still kept 30 fps on my Mac.
Probably, while in full screen of `Frag shader test`, GPU is too busy. And V-Sync takes effect and makes CPU to wait GPU to finish its operation. My description may be wrong.
I asked @dabingnn who is an expert of Rendering for help. And he said fps jump from 60 to 30 in fullscreen is reasonable w

[2016-09-13 09:33] Kotaiba commented on #16561
@dumganhar i mean when i set the fps to 120 it stay at 60 not on this issue ,in general .but on some windows devices it go up to 120 and other it stay on 60 .?

[2016-09-13 09:42] dumganhar commented on #16561
@Kotaiba , sorry, I have no idea about that now.
Maybe @ricardoquesada could help. :)

[2016-09-14 01:23] minggo commented on #16443
@stammen thanks.
@slackmoehrle should we add it into our programming guide?
@rilbim have you resolved your issue? Can i close this issue?

[2016-09-14 01:52] Dauch commented on #16526
sorry for delay, pls close it. @dumganhar

[2016-09-14 02:24] xingshh opened #16574 "TableView bug when removeCellAtIndex"
- cocos2d-x version:3.12
- devices test on: win10
- developing environments
  - NDK version:
  - Xcode version:
  - VS version:2013
  - brower type and version:

Steps to Reproduce:
1. create a tableview and add some items
   2.del one items

result: items is deleted , but others item behinds deleted item can not scroll to colllect position

[2016-09-14 03:15] itxiaohui opened #16575 "After resuming from background, SimpileAudioEngine::playEffect will become small volumn."
- cocos2d-x version:3.10
- devices test on:iPhone 6 Plus   iOS9.3.5
- developing environments
  - NDK version:
  - Xcode version:
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. Press Home at Game running.
2. In WeChat,listen a voice.
3. After resuming from background,the game  play effect in small volumn.

[2016-09-14 04:47] ricardoquesada commented on #16512
fixed.

[2016-09-14 04:47] #16512 closed, assigned to ricardoquesada

[2016-09-14 12:34] jminht commented on #16543
@wulv1985 where did you get the crash ?
is that in LayerColor::onDraw glDrawArrays(GLTRIANGLE_STRIP, 0, 4)?
how did you find out the problem in Spine: PolygonBatch?
i just find out may be the problem is something while remove spine.
could you share your way of solving the problem?

[2016-09-14 13:07] slackmoehrle opened #16577 "RapidXML issues in v3.13.1"
I am seeing RapidXML issues in `v3.13.1`. iOS and Android

Example on iOS:
![screen shot 2016-09-13 at 12 16 36 pm](https://cloud.githubusercontent.com/assets/7491758/18513235/a5dc1fec-7a5a-11e6-92be-01401b16ae5a.png)

Example on Android:

[code]

[2016-09-14 15:46] superrad opened #16581 "JniHelper no long thread safe."
In Cocos 3.11 JniHelper was modified to clean up local references to converted strings automatically, this however has made JniHelper no longer threadsafe. I know that most of Cocos2dx isn't thread safe, but as JniHelper is a platform interop class it would be more useful if it itself was.

The static localRefs variable which is a member of JniHelper (https://github.com/cocos2d/cocos2d-x/blob/v3/c

[2016-09-14 16:42] jianhuang0 opened #16582 "ios10 crash LayerColor onDraw"
- cocos2d-x version: cocosdx3.3
- devices test on: ios10
- developing environments
  - NDK version:
  - Xcode version: the last version
  - VS version:
  - brower type and version:

i upgrade my iphone6s's system from ios9 to ios10， game crash frequently on LayerColor  onDraw function glDrawArrays(GL_TRIANGLE_STRIP, 0, 4)

[2016-09-14 17:27] slackmoehrle commented on #16577
This is solved by updating the deps. I had done this. A fresh clone and downloading them again worked.

[2016-09-14 18:08] ricardoquesada commented on #16582
Interesting. Have you tried with cocos2d-x v3.13?

[2016-09-14 18:10] ricardoquesada commented on #16581
thanks. yes, cocos2d-x is not threadsafe.
are you using JniHelper is a way that you need it to be thread safe? you you attach an example that triggers the bug? thanks.

[2016-09-14 19:17] bryonglodencissp opened #16583 "[js-bindings] unconfirmed undefined behavior"
- cocos2d-x version: v3

Steps to Reproduce:
1. On line number [792](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/js-bindings/manual/ScriptingCore.cpp#L792) & [800](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/js-bindings/manual/ScriptingCore.cpp#L800) of [ScriptingCore.cpp](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/js-bindings/manual/ScriptingCor

[2016-09-14 20:11] ricardoquesada commented on #16583
I don't think it is possible to occur, since after the first delete, it will call `filename_script.erase()`

[2016-09-15 00:15] ricardoquesada commented on #16565
Either it is already fixed, or something is wrong with your example. I tried with v3 branch (HEAD) and this is the result after using EXACT_FIT AND 960x640 as designed resolution.

<img width="480" alt="screen shot 2016-09-14 at 5 13 49 pm" src="https://cloud.githubusercontent.com/assets/232330/18534333/c6167304-7a9e-11e6-9d4a-506b46194886.png">

[2016-09-15 01:00] ricardoquesada commented on #16561
For me, cpp-tests was working at 60FPS in most of the tests. Some run at 15, specially the shader ones.
I guess it is because in full screen it has "more pixels" to fill ? But it created a 1440x900 screen which is not that big, specially compared to iPhones and other 6" devices.
My guess is that it could be a bug either in GLFW or in the Mac OpenGL driver... or perhaps we are setting it incorrectl

[2016-09-15 01:47] slackmoehrle commented on #16577
It turns out that the `v3.13.1`.zip doesn't contain __cocos2d-x root / external / rapidxml __ folder

[2016-09-15 06:20] dirtyshadowss commented on #16565
Hello ricardo,
i don't have problem with iphone simulator with IOS 9.2 toо, the problem is IOS 7.0.3 on real device (iphone 4S). For me is no problem to upgrade my device to IOS 9.3 but when going time to production deployment whats should be minimum IOS system requirement (7.1, 8.0, 8.1).   Is  Cocos2d-x Runtime Requirements for IOS 7.0+ is right or must be highter?

[2016-09-15 07:58] wulv1985 commented on #16543
@jminht Yes! Exactly in LayerColor::onDraw glDrawArrays(GLTRIANGLE_STRIP, 0, 4) !

first, i found the crash is caused by reading invalid address by the crash infomation.

in LayerColor::onDraw, before glDrawArrays function , we will call glEnableVertexAttribArray and glVertexAttribPointer. i guess it's not match.

after print the VertexAttribArray status, i confirm that there is a problem!  The s_

[2016-09-15 08:03] wulv1985 commented on #16543
@jminht hi, i finally solve the problem by the way i mentioned above.

[2016-09-15 08:11] ricardoquesada commented on #16565
yep. I tested also on a real device: iPhone 4S + iOS 8.3 and it worked Ok.
As of Xcode 8, the minimum deployment target is iOS 8.

[2016-09-15 08:12] wulv1985 commented on #16582
i guess you are using spine in you app. i met the same problem before, and i found a way to solve:

the following lines in function PolygonBatch::flush is not correct,  it cause the s_attributeFlags in GL:enableVertexAttribs dismatch the real state:

GL::bindVAO(0);
glEnableVertexAttribArray(GLProgram::VERTEX_ATTRIB_POSITION);
glEnableVertexAttribArray(GLProgram::VERTEX_ATTRIB_COLOR);
glEnableVert

[2016-09-15 08:26] Bilalmirza commented on #16561
Hey,
@ricardoquesada @dumganhar  I had the same issue, when running fullscreen on xcode. Fps would bounce between 30-60.

Instead go to debug folder and run .app file. It gives much better fps for me its 58-60.

Thanks

[2016-09-15 08:33] dirtyshadowss commented on #16565
Thanks man,
install unsigned versions of iOS is hard, maybe try to install iOS 8 or stay on 3.11.1. It is better to change  Cocos2d-x Runtime Requirements on official github page. Thanks for solve the problem.

[2016-09-15 09:29] Bilalmirza commented on #16469
I have the same thing happening with my health bars on each unit...

HealthBar class contains 2 sprites.

On update() I update HealthBar object to certain locations.

In v3.13 they don't change their locations. Since this->setPosition is called.
(this used to work in 3.12).

They change location if I do  This->sprite1->setposition   and this->sprite2->setposition.

I've also tested other operation

[2016-09-15 09:35] Kotaiba commented on #16561
Debug folder did't solve it for me . and i tied to export it from Archive same issue .
It's weird how good the game running as popup ,and how bad its on fullscreen the hole game is lagging not only on the shaders .even on the loading.

if you run cpp-tests on fullscreen you can see the fps is not as stable as the popup not only on the shader test .

[2016-09-15 09:48] Bilalmirza commented on #16561
@Kotaiba  You are right... i tested it on a 2 year old macbook and it was lagging pretty bad.