[2017-06-29 13:28] continuemycoding commented on #18005
@zilongshanren

[2017-06-30 01:31] minggo commented on #18003
@Bilalmirza yep, i created v3.15.2 to fix some critical bugs, include sequence issue.

[2017-06-30 01:32] devimc opened #18006 "Error LNK2001 unresolved external symbol __imp____iob_func"
- cocos2d-x version: 3.15.1
- developing environments
   - VS version: Community 2017 Version 15.2

Steps to Reproduce:
build a project in visual studio community 2017 version 15.2

[2017-06-30 01:48] weiiiiii commented on #17683
No one else is experiencing this issue? I am still needing help on this!!

[2017-06-30 02:06] minggo commented on #18003
@Bilalmirza v3.15 doesn't modify Actions related codes. The issues only exists in github latest codes.

[2017-06-30 05:04] mplulu commented on #17723
@div5yesh I have same issue
have you got the solution of your SSL socket connections ?

[2017-06-30 05:57] ambitslix opened #18008 "Fedora 23 git build fails"
cmake..
make

[ 99%] Building CXX object tests/cpp-tests/CMakeFiles/cpp-tests.dir/Classes/ExtensionsTest/NetworkTest/WebSocketTest.cpp.o
[ 99%] Linking CXX executable ../../bin/cpp-tests/cpp-tests
/usr/bin/ld: ../../../external/websockets/prebuilt/linux/64-bit/libwebsockets.a(libwebsockets.c.o): unrecognized relocation (0x2a) in section `.text'
/usr/bin/ld: final link failed: Bad value
collect2: e

[2017-06-30 06:15] Rubonnek commented on #18008
Seems like you are linking against a different library at some point. It builds successfully in Arch Linux.

Did you run:

[code]

from the root of the repository? There should be no need to build libwebsockets from other repositories, nor  libglfw. I'm not sure, but there should be a package for libglfw in Fedora.

[2017-06-30 06:16] minggo commented on #18003
fixed in https://github.com/cocos2d/cocos2d-x/pull/18009.

[2017-06-30 07:19] Bilalmirza commented on #18003
@minggo I am pretty sure there is a problem v3.15  (not git hub). What i do in  my game is use

bullet->runAction(Sequence::create(MoveBy, RemoveSelf::create());

what happens is most of the time this works... but after i play a while i keep seeing undeleted bullets on my screen... this only happens when i update the code to v3.15

I hope its fixed in #18009 I will test this when v3.16 comes out

[2017-06-30 07:24] minggo commented on #18003
@Bilalmirza i think it is fixed in ##17557, but it brings some issues. #18009 is just one PR to fixed issues brought by #17557.

Yep, you can try latest codes in github to have a try.

[2017-06-30 07:27] Bilalmirza commented on #18003
@minggo thanks again man... ill try the github code and let you know :)

[2017-06-30 08:23] dingwenjie commented on #17987
The RenderTexture class visit method replaced by the following, and do not enable keepMatrix var  ( I do not know what this keepMatrix is used to do, what circumstances should be enabled what should not be enabled ) can fix this problem:

<中文原文>
把RenderTexture类的visit方法换成以下内容，并且不要启用keepMatrix （我不知道这个keepMatrix是用来做什么的，什么情况下应该启用什么情况不该启用） 可以修正这个问题：
[code]

But the draw function of the second parameter

[2017-06-30 10:02] yuanyouli opened #18010 "Down image from https://xxxx, NSURLSession/NSURLConnection HTTP load failed kCFStreamErrorDomainSSL, -9813"
- cocos2d-x version:3.15.1
- devices test on:ios
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Download image from  https://xxxx
2. NSURLSession/NSURLConnection HTTP load failed (kCFStreamErrorDomainSSL, -9813)
download Data onTaskError -3 此服务器的证书无效。您可能正在连接到一个伪装成“XXXX”的服务器，这会威胁到您的机密信息的安全。

[2017-06-30 10:20] continuemycoding opened #18011 "cocos web版本密码模式输入框文本不隐藏。"
- cocos2d-x version:3.15
- devices test on:chrome
![image](https://user-images.githubusercontent.com/8704149/27731525-e36928ac-5dbf-11e7-8269-7786ddb252ce.png)
![image](https://user-images.githubusercontent.com/8704149/27731586-3b314ae2-5dc0-11e7-95c8-23e7d74b3ab8.png)
![image](https://user-images.githubusercontent.com/8704149/27731354-310451c8-5dbf-11e7-819c-ec87952d75a7.png)

[2017-06-30 10:46] paddyesch opened #18012 "VR not working on Android in cpp-tests and newly created project"
- cocos2d-x version: 3.15.1
- devices test on: OnePusX, Pixel C Tablet
- developing environments
   - NDK version: r11

I wanted to try VR and compiled the cpp-tests project. But the VR test shows a black screen on button click.

I also wanted to compile a newly created project with the gvr-sdk which failed to build (Android SDK is updated):

error: undefined reference to 'gvr_destroy_render_param

[2017-06-30 11:32] paddyesch commented on #17794
I found a workaround by using the native WinUWP API which succeeds to send the image as base64 string content:

[code]

[2017-06-30 18:05] hszhsh commented on #17326
iOS won't activate 3G network sometimes if you don't use CFNetwork API. A workaround might be requsting a url using CFNetwork API before connecting with libwebsockets.

[2017-06-30 20:26] ambitslix commented on #18008
I did the following:
git clone...
cd cocosd2d-x
setup.py
download-deps
git update submodule init
$ cd cocos2d-x/build
$ ./install-deps-linux.sh <-- did not work so I dnf installed the missing libs, or compiled them from source
$ cmake ..
$ make

[2017-06-30 20:46] ambitslix commented on #18008
Maybe this helps:
make VERBOSE=1

cd /home/alian/local/cocos2d-x/BUILD/tests/cpp-tests && /usr/bin/cmake -E cmake_link_script CMakeFiles/cpp-tests.dir/link.txt --verbose=1
/usr/bin/c++    -std=c++11 -Wno-deprecated-declarations -Wno-reorder -Wno-invalid-offsetof -fPIC -O3 -DNDEBUG   CMakeFiles/cpp-tests.dir/Classes/ActionManagerTest/ActionManagerTest.cpp.o CMakeFiles/cpp-tests.dir/Classes/ActionsE

[2017-07-01 01:03] dumganhar commented on #17326
Where could I find this information？

发自我的 iPhone

[2017-07-01 03:05] continuemycoding commented on #18011
发现再设置下inputMode为非cc.EDITBOX_INPUT_MODE_ANY是可以隐藏的，比如cc.EDITBOX_INPUT_MODE_SINGLELINE。

[2017-07-01 04:17] dingwenjie commented on #17987
Or that the above sprModelMatrix should not be used, so that the sprite can be through the scaling, rotation, translation of the screen to achieve a specific area of the crop? Do not know the original design intention is this?

<中文原文>
或者说上面的这个sprModelMatrix是不应该使用的，这样可以通过对sprite的缩放、旋转、平移实现对屏幕里特定区域的裁剪吗？不知道原始的设计意图是这样的吗？ @minggo

[2017-07-01 04:35] deguilardi opened #18016 "Moto G 5th gen exclusive error."
- cocos2d-x version: 3.14.1
- devices test on: Motorola Moto G 5th Gen.
- developing environments
   - NDK version: r11C

App won't open on Motorola Moto G 5th gen with Android 7.0 or 7.1 ONLY.
Works on any Samsung S7, S8, Sony or ZTE.

This error could happen in more devices, but we catch it exclusively on Moto G 5th gen.
We tested with about 5 moto G devices, in 100% of the cases the app crashes

[2017-07-01 05:50] hszhsh commented on #17326
@dumganhar FYI
https://developer.apple.com/library/content/documentation/NetworkingInternetWeb/Conceptual/NetworkingOverview/CommonPitfalls/CommonPitfalls.html#//apple_ref/doc/uid/CH73-SW4

Avoid POSIX Sockets and CFSocket on iOS Where Possible
The main disadvantages are:
Sockets have many complexities that are handled for you by higher-level APIs. Thus, you will have to write more code, which usu

[2017-07-01 19:13] halcyonx commented on #17953
Android OS verion on device is 4.3, I've installed older API, android-18, android-19 via **android** command, after this I've tried the command **cocos run -p android --ap android-18**, but it was failed with output message:
[code]

[2017-07-01 19:16] halcyonx commented on #17953
@minggo, but command **cocos run -p android --ap android-21** still builds fine without errors, but apk still crashing on old device

[2017-07-02 01:05] Rubonnek opened #18018 "Debug and release builds cannot coexist in Linux when using the cocos console tool"
- cocos2d-x version: 3.15.1

Steps to Reproduce:

1. Create a new project and get into the directory:
[code]
2. Compile the project for debug mode:
[code]
3. Compile the project for release mode:
[code]
4. Compile the project in debug mode again:
[code]

And the whole building process will start from the beginning.

I'm aware I can just create another folder and use CMake to separate the builds an

[2017-07-02 06:38] kyleYang opened #18019 "The iOS client is well ,but android is nothings"
- cocos2d-x version:3.15.1
- devices test on:Xiaomi 4C API:24
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

The clinet print out LUA-Print message
I can also see more message when I touch the screen . But I can see nothing but the black screen .
I am sure the game is running . the lua message is the same as the

[2017-07-02 13:17] kyriakos89 opened #18020 "HIGH energy consumption and GPU load on empty cocos2d-x starter project for iPhone6/6+. Probably more models affected."
**Test Specs:**
- cocos2d-x version: 3.15.1
- devices test on: iphone 6, iphone6+
- developing environments
   - Xcode version:8.3.3 (8E3004b) but probably any version will have the same results.
   - iOS 10.x

**Steps to Reproduce:**
1. Download the latest Cocos2d-x v3.15.1
2. Run the cpp-empty-test iOS on iPhone 6 or iPhone 6+.
3. It should be at running at 60fps with 72 GL vests, 3 GL calls
![1

[2017-07-02 14:18] #18019 closed, assigned to nobody

[2017-07-02 21:23] ambitslix commented on #18008
Resolved, for those of you who may run into this, the library builds after I exclude CPP and JS tests:

**cmake -G "Unix Makefiles" -DBUILD_CPP_TESTS=OFF -DBUILD_LUA_LIBS=OFF -DBUILD_JS_TESTS=OFF ..**

make -j8

Then we still need:

sudo cp ../external/linux-specific/fmod/prebuilt/64-bit/libfmod* /usr/local/lib
sudo cp ../external/linux-specific/fmod/include/fmod.h /usr/local/include
sudo ln -s /u

[2017-07-02 21:24] #18008 closed, assigned to nobody

[2017-07-03 01:16] #18003 closed, assigned to minggo

[2017-07-03 01:18] minggo commented on #17953
You should make sure that, build with android-21 can not make sure run on Android devices with older devices. It is the same that, application build for windows 7 can not make sure run on windows xp.

[2017-07-03 02:20] dumganhar commented on #18004
[code]
How did you reproduce this issue?
I reviewed the code of `PcmAudioService::resume` and found that it's just one line to set the play state to `PLAYING`. I have no idea about why this line could lead to crash...

[2017-07-03 06:25] dumganhar opened #18022 "[iOS] Could not trigger 'onclose' event after network status is changed"
- cocos2d-x version: v3.15.1
- devices test on: iPhone6
- developing environments
   - NDK version:
   - Xcode version: 8.3.3
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Go to cpp-tests/extension tests/WebSocketTest
2. Start webSocket test
3. Switch network from wifi to 4G or from 4G to wifi
4. No 'onclose' event is received and 'send'ed message also go into black hole

[2017-07-03 06:50] continuemycoding opened #18024 "web加载完一点击界面上任何地方就出现下方白屏。"
- cocos2d-x version:3.15
- devices test on:mobile browser(比如微信、qq以及系统自带浏览器)

加载完一点击界面上任何地方就出现下方白屏。

![a39fa5091c2021d64f4ed0f302d47325](https://user-images.githubusercontent.com/8704149/27781049-ccbed7aa-5ffe-11e7-85fc-fe03f4571234.jpg)
![3d61baac43393234a4ac3b0dff3a044c](https://user-images.githubusercontent.com/8704149/27781050-d0f04566-5ffe-11e7-8d13-53caf028e640.jpg)

[2017-07-03 06:53] continuemycoding commented on #18024
@dumganhar @zilongshanren

[2017-07-03 09:20] #18006 closed, assigned to nobody

[2017-07-03 09:31] minggo commented on #17991
the prebuilt template is added for cocos studio, as cocos studio is canceled, they are not supported.

[2017-07-03 09:31] #17991 closed, assigned to nobody

[2017-07-03 09:33] continuemycoding commented on #18024
@minggo

[2017-07-03 09:45] minggo commented on #17981
May be you should try this PR: https://github.com/cocos2d/cocos2d-x/pull/17943

[2017-07-03 09:47] minggo commented on #17972
cocos2d-x only supports ubuntu, other platforms can not make sure to work.

[2017-07-03 09:47] #17972 closed, assigned to nobody

[2017-07-03 09:49] minggo commented on #17973
Yep, you should copy `tools` folder from older Android SDK version.

[2017-07-03 09:49] #17973 closed, assigned to nobody

[2017-07-03 09:51] minggo commented on #17967
What's `CreateProcess`? As i know, cocos2d-x doesn't have such a source file.

[2017-07-03 14:00] j-jorge opened #18026 "Deadlock in WebSocket / Update libwebsockets to 2.2.0"
- cocos2d-x version: 3.15
- devices test on: iOS
- developing environments
   - Xcode version: 8.3.1

Steps to Reproduce:

1. Open a WebSocket
2. Turn off the iPhone's screen
3. Wait 3 minutes
4. Turn on the iPhone
5. Call `WebSocket::close()`
6. Observe that the app is frozen

When the app is in the background the web socket may be disconnected without notifying the client code. If one tries to c

[2017-07-04 01:36] dumganhar commented on #18026
The latest release of libwebsocket is 2.2.1, shall we upgrade it to 2.2.1?

[2017-07-04 01:46] huangapple commented on #18026
upgrade it!

[2017-07-04 01:48] continuemycoding commented on #18026
@dumganhar 没人要求一定要最新版吧，但是cocos3.15之前的版本不会有这种问题，你们不能明知道有问题的情况下不去修复吧？我感觉你们维护团队有点不负责任。。

[2017-07-04 03:30] continuemycoding commented on #18026
https://github.com/cocos2d/cocos2d-x/issues/17992
https://github.com/cocos2d/cocos2d-x/issues/17965

@dumganhar

[2017-07-04 03:34] continuemycoding commented on #18026
@Dauch 难道我说的不是？反馈的问题也不给点回应，问题还没解决就把帖子关闭了。这是什么解决态度？

[2017-07-04 03:50] Dauch commented on #18026
你责任都搞不明白就开喷，有意思吗？

[2017-07-04 04:07] continuemycoding commented on #18026
@Dauch 那请问应该是谁背锅？libwebsocket？我项目出现cocos的bug也应该跟老板说是你们的责任就撒手不管了？

[2017-07-04 04:07] Dauch commented on #18026
libwebsocket

[2017-07-04 04:08] Dauch commented on #18026
你应该在libwebsocket那里喷，你们怎么写出bug了，导致我项目有问题！

[2017-07-04 04:09] continuemycoding commented on #18026
@Dauch 你们用了有问题的版本不是你们的责任？然后就放任不管帖子关闭？你确定这是正常解决问题的态度？

[2017-07-04 04:09] continuemycoding commented on #18026
@Dauch 我只是希望cocos变的更好，不然谁有空跟你扯这些。我自己顺手修复了提给你们干嘛？

[2017-07-04 04:12] continuemycoding commented on #18026
@Dauch 还有声明一下，我只是喷你们维护团队解决问题的态度，谁写代码没bug，bug没什么好喷的。

[2017-07-04 04:47] dumganhar commented on #17992
@gdboy , you have to know the following
1. It's not us closed this issue.
2. signal pipe is only triggered when you're using xcode to debug, it's a bug of xcode since libwebsocket code has ignored that signal but xcode still trigger it. But it will not affect anything, you could click `resume` button in the xcode to make your app continue running. Running your app by clicking app  icon directly wi

[2017-07-04 05:36] continuemycoding commented on #17992
@dumganhar 我解释过了啊，随便多点击几次就出现了，不是只会出现在xcode调试环境下，native平台都会出现。平均出现概率保守估计达到三分之一，也就是没三次会出现一次。

[2017-07-04 06:25] dumganhar commented on #17326
@hszhsh, Yep, but apple didn't mention how to active device's cellular modem manually. :(
I played with `SocketRocket` today, found that it works perfectly.
Any suggestion if we switch to `SocketRocket` for websocket implementation for iOS/macOS platforms?

Currently, I found the following benefits:

* The API of SocketRocket is easy for use, it's all asynchronous API.
* No need to deal with `thre

[2017-07-04 06:30] dumganhar commented on #18026
@gdboy, and all
I'm digging into this issue, we don't ignore any feedback of our developers.
Sometimes we did have some higher priority task to deal with, therefore, we probably can't reply to everyone quickly.
I posted a thread about websocket problem on iOS/macOS, could you guys give me some advice?
https://github.com/cocos2d/cocos2d-x/issues/17326

[2017-07-04 06:32] dumganhar commented on #18026
@gdboy, BTW, we need to use English for communication.

[2017-07-04 06:38] continuemycoding commented on #18026
@dumganhar 我不觉得用英文交流更高效，我不觉得你能说出我看不懂的英文，同时我并不认为你们的开发者外国人居多。用英语的话，可能很多国人要看懂就要借助于词典翻译。用中文，国际友人想看懂请自行翻译。同样是中国人，你喜欢用英语，习惯用英语我表示理解，但是要求国人和你交流也用外语就有点。。。让我不知所措

[2017-07-04 06:40] continuemycoding commented on #18026
@dumganhar 这是一个设备无关的bug，任何设备都会出现。

[2017-07-04 08:27] j-jorge commented on #18026
@dumganhar 2.2.1 is OK indeed. My first post has a typo, it's actually the one I have tested.

[2017-07-04 08:48] dumganhar commented on #18024
Help you to @pandamicro

[2017-07-04 08:52] pandamicro commented on #18024
In full screen mode, some browser is resizing the html document size to a smaller size than the screen, then your background color won't apply to all the screen.

The solution is forbidden full screen mode on such browser environment, using cc.view.enableAutoFullScreen(false) in main.js.

Pay attention to your engine version, in some old version, CCEGLView.js register full screen request in its ct

[2017-07-04 08:52] continuemycoding commented on #18024
@pandamicro 这个bug导致了界面上如果是登录按钮，第一次点击会出现如题描述的下方白屏，需要再次点击才会正常进行自己的逻辑，所以算是比较严重的，希望能优先解决下。

[2017-07-04 08:55] continuemycoding commented on #18024
// Disable auto full screen on baidu and wechat, you might also want to eliminate sys.BROWSER_TYPE_MOBILE_QQ
    if (sys.isMobile &&
        sys.browserType !== sys.BROWSER_TYPE_BAIDU &&
        sys.browserType !== sys.BROWSER_TYPE_WECHAT) {
        cc.view.enableAutoFullScreen(true);
    }

你们样例是这样的。。那我再试试，谢了。

[2017-07-04 09:10] continuemycoding commented on #18024
@pandamicro sys.BROWSER_TYPE_MOBILE_QQ也要和百度微信浏览器一样排除。手机上，魅族自带浏览器有问题，它的类型打印是Chrome，这个肯定有问题，试过Chrome本身是正常的。

[2017-07-04 09:21] zilongshanren commented on #18005
@gdboy
could you provide a test case to reproduce this issue?

I think `2.父节点被隐藏时仍然可以点击` is considered in

[code]

What do you mean " 1.没有实现setTouchEnabled"?? Does this API has bug or something else?

[2017-07-04 09:25] continuemycoding commented on #18005
@zilongshanren 比如你一个场景有两个Layer，两个Layer都有EditBox，两个Layer是不同时显示的，所以会隐藏掉其中一个Layer，而这时候隐藏的Layer中的EditBox会响应点击，也就是你可以在上面输入内容，也会显示上面。测试样例不想提供了，这个是必现的。web版本找不到setTouchEnabled这个函数，报错是not a function

[2017-07-04 09:40] pandamicro commented on #18024
It's exactly the reason we added the comment to help developers disable full screen based on browser environment, the behavior of browsers varies with their versions and device environment, so it's hard to tell which one to disable in the engine, but user can make their own decisions based on their test.

[2017-07-04 09:49] zilongshanren commented on #18005
@gdboy  我回头看一下。感谢反馈。

[2017-07-04 09:55] continuemycoding commented on #18024
@pandamicro sys.browserType能不能改为再获取不到已经浏览器类型的情况下，返回原始数据，不然魅族浏览器返回一个chrome很忧伤啊

[2017-07-04 18:56] virgilcwylie commented on #17940
Hello, I guess we can run on NDK 15 by commenting few lines in that file? As Android Studio isnt supporting downgrading of NDK in sdk manager. I will have to manually download older version else..

[2017-07-05 05:34] zilongshanren commented on #18011
@gdboy  inputMode 本来就要设置为 `cc.EDITBOX_INPUT_MODE_SINGLELINE`

[2017-07-05 05:34] #18011 closed, assigned to nobody

[2017-07-05 15:14] #17997 closed, assigned to nobody

[2017-07-05 15:21] hussain-sohaib opened #18033 "Poor Graphics Performance On Android devices with Exynos Processors"
- cocos2d-x version: 3.15
- devices test on: S6(have Exynos processor ), Sony Experia Z1 (have snapdragon processor)
- developing environments
   - NDK version: r13b
   - Xcode version:

I have tested on many devices and have figured out that devices (in particular Galaxy S6) which have Exynos processors have very  bad graphics performance and results in low FPS and lagging animations. How can we

[2017-07-05 17:46] Bilalmirza commented on #18033
@hussain-sohaib are you sure its because of the graphics? can you make a video please?

[2017-07-05 17:55] hussain-sohaib commented on #18033
Hi,

I have made many videos to compare results. But I can not post here because
of copyrights. I am not using any thing for example network or sounds,
nothing but running in house particles system.

On all devices it works very well, but S6 creates most issues. Even low end
devices perform much better but they all have snapdragon processor and S6
create issues. S8 works perfectly though!

Thanks

[2017-07-05 17:56] Bilalmirza commented on #18033
remove the particle system and test

[2017-07-05 17:58] hussain-sohaib commented on #18033
Than it will be a empty ccp test. Real game is very different than empty
ccp test, how can I compare it with that?

Thanks

On Wed, 5 Jul 2017 at 22:56, Bilalmirza <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-07-05 20:00] deguilardi opened #18034 "compiling all cocos library for every android flavor"
- cocos2d-x version: 3.15.1

Steps to Reproduce:

1. create a project with multiple flavors
2. compile the project

issues:

1. We have a project with 21 different flavors, after the update to the version 3.15.1 it takes 4 hours to compile the project. Before the update it used to take about 20 minutes.
2. The build folder is 45 gigs now!!!

[2017-07-05 20:03] deguilardi opened #18035 "android subprojects won't compile"
- cocos2d-x version: 3.15.1
- developing environments
   - NDK version: bundled

Steps to Reproduce:

1. add any subproject as "compile project(':sub_project_name')" on build.gradle;
2. add "project(': sub_project_name').projectDir = new File(...)" on settings.gradle;
3. try to compile the project

This used to work. But now all subprojects stoped compiling.

[2017-07-05 20:06] deguilardi commented on #18033
I use a S6 for tests. And this only happens if:
. The graphics are too big;
. Too much scale on the graphics.

[2017-07-05 20:11] deguilardi commented on #17982
how are the target sdk, min sdk and app platform configured?

[2017-07-06 01:33] dumganhar commented on #16618
The latest code has checked the `messageInfo`.
Please refer to https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/network/HttpClient-android.cpp#L706
So I closed this issue. Thanks for your feedback.

[2017-07-06 01:33] #16618 closed, assigned to nobody

[2017-07-06 02:03] LouisChen79 commented on #16618
Hi Markchou and Dumganhar,
    Thank you for your effort.
Louis

[2017-07-06 02:19] dumganhar commented on #11473
I could not reproduce this issue in `v3.15.1`.
Closed this issue temporarily. If you still get this issue, feel free to open it again. Thanks.

[2017-07-06 02:19] #11473 closed, assigned to nobody

[2017-07-06 04:24] jenthone opened #18039 "setRotation not working for particles inside ParticleBatchNode"
- cocos2d-x version: 3.15.1
If my particles are inside Node, rotation works ok. But if parent is ParticleBatchNode, rotation is always 0.
Any ideas how to fix this? Thanks!

[2017-07-06 04:26] enrevol commented on #18034
It seems that each build variant will generate its own libraries.
Solution is to use prebuilt libs or use old external build script.
Reference: https://stackoverflow.com/questions/43495127/gradle-android-single-ndk-build-for-multiple-flavors

[2017-07-06 05:32] Kingurus commented on #17424
I had the same problem. Thank you rohitchauhan365 for posting the fix.

[2017-07-06 07:25] rohitchauhan365 commented on #17424
If you still have .apk compilation problem with the latest ndk and sdk, you need to add "#include <unistd.h>" in cocos/platform/android/jni/ProcessCpuTracker.cpp

#ifdef ANDROID
#include <jni.h>
#include <android/log.h>
#include <unistd.h>
.........................

[2017-07-06 07:39] rohitchauhan365 commented on #17424
You can use the latest and greatest SDK and NDK with Cocos 3.15. I used the following steps on Ubuntu to get it working without the Ant and the Slow and Bulky Emulator and Android-Studio, using command-line Gradle.

Extract java-jdk, android-sdk, android-ndk, cocos to /opt, and copy gradle-4.0-bin.zip to /opt
-----------------------------------------------------------------------------------------

[2017-07-06 07:59] rohitchauhan365 commented on #17940
You can use the latest and greatest SDK and NDK with Cocos 3.15. I used the following steps 2 days back on Ubuntu 16.04 to get it working without Ant and without slow-and-bulky Emulator and Android-Studio, using command-line Gradle.

Extract java-jdk, android-sdk, android-ndk, cocos to /opt, and copy gradle-4.0-bin.zip to /opt
-----------------------------------------------------------------------

[2017-07-06 12:27] er-bpradip commented on #17424
I have an old project in cocos 3.13.x and I have now modified the game code. i am unable to compile this code for android devices.
Is there any easy way to upgrade my code to cocos 3.15.x version and compile it. I have upgraded by copying cocos2d folder from new version 1.15.x to my existing project and I saw following error

**Try:
Run with --stacktrace option to get the stack trace. Run with --d

[2017-07-06 22:24] deguilardi commented on #18034
@enrevol that's not correct.
The folders build/intermitates/ndkBuild/**FLAVOR**/**RELEASE**/obj/local store the same libraries for every flavor/release. The libraries are all repetitions. And this behavior didn't happen on the version 3.14 or older.

[2017-07-07 02:31] enrevol commented on #18034
cocos2d-x 3.15 uses a new build system, which is different from 3.14 and older versions.

[2017-07-07 03:00] deguilardi commented on #18034
@enrevol I know about the changes. But this behavior is not because of the build system, it's because of the way it is configured to build. There is no restrictions on gradle to build the libraries separately in a shared libs folder, one that every flavor can reach.

After building for development and production my build folder is 68 gigs. This is bad, very bad.
I work on a mac pro with 6 3.5ghz

[2017-07-07 14:55] gestern commented on #18020
Any news with the issue?

[2017-07-07 16:28] kyriakos89 commented on #18020
Hi @gestern . We noticed a post you made in the past regarding a similar issue. And we remember that nobody replied. :) Yes, we have some more info. We created a new cocos2d-x empty project and we noticed  low energy consumption on the above devices. After some comparison between an new cocos2d-x project and cpp-empty-test iOS, the difference was the surface size of the phone. In new project, the

[2017-07-07 16:28] kyriakos89 commented on #18020
No help yet from cocos2d-x team.

[2017-07-08 06:46] zwm1028 opened #18043 "RenderTexture截屏后，字体颜色变深"
- cocos2d-x version:3.13.1

效果图如下：

![2](https://user-images.githubusercontent.com/29996109/27983366-299fb858-63ed-11e7-9266-112d86852f37.png)

代码：
[main.zip](https://github.com/cocos2d/cocos2d-x/files/1132806/main.zip)

[2017-07-08 12:39] owen200008 opened #18045 "all callback export to lua is not support bind in coroutine"
all callback export to lua is not support bind in coroutine。
like following:

now is wrong:
[code]

correct:

[code]

[2017-07-09 15:57] hussain-sohaib opened #18046 "Sequence fails to complete."
- cocos2d-x version: 3.15
- devices test on: 6S Plus

 sequences some time fails to complete for no apparent reason.

Thanks

[2017-07-09 16:08] hussain-sohaib opened #18047 "Poor scrolling quality of scrollview if its camera mask is set to user defined camera and its related mask"
- cocos2d-x version: 3.15
- devices test on:6S Plus

[code]

this will result in very very poor scrolling of scroll view.

thanks

[2017-07-09 17:36] mantoun1984 commented on #15321
Any new about this ?

[2017-07-09 18:49] hussain-sohaib commented on #18046
I have also tested with the Git Hub version and it has same issue.

[2017-07-10 05:47] krishanfrog commented on #16087
Hello,
any update on this? is DOM supported?

[2017-07-10 07:41] nicolechen819 commented on #17303
I don't think scale is a good solution for scale9Sprite

[2017-07-10 18:48] Rubonnek opened #18053 "FPS down to 30 on Mac even in window mode"
- cocos2d-x version: latest git version up to commit a7482b4bd13cdcc1875690b2bb6749bb329cdd87
- devices test on: Mac Mini
- developing environments
   - Xcode version: 8.3.2

Steps to Reproduce:

1. Create a new C++ project.
2. Compile and run a new C++ project.
3. The FPS stays at 30.

Note: also compiling `cpp-tests` will result in the same problem.

[2017-07-11 15:42] halcyonx commented on #17953
Yes, but with older android api I'm getting error, I described that in my second comment

[2017-07-11 21:56] #17776 closed, assigned to nobody

[2017-07-11 21:56] #17855 closed, assigned to nobody

[2017-07-12 02:00] dumganhar opened #18055 "[android] urlConnection.getResponseCode may trigger exception which needs to be handled"
- cocos2d-x version: v3.15.1
- devices test on:
- developing environments
   - NDK version: r10e
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Uses HttpClient to request an URL in no network environment
2. May not response error but it should.

This issue was reported at http://forum.cocos.com/t/httprequest-android/45905

[2017-07-12 08:30] nicolechen819 commented on #17390
Hi developers, can you review the solution? We also got lots of it. Thanks so much!

[2017-07-12 10:08] Dauch opened #18058 "Crash in ContextFactory.createContext(Cocos2dxActivity.java)"
- cocos2d-x version: cur v3 branch
- devices test on: android

It is report to my backstage. It happen in a lot devies. This is my code in ```Cocos2dxActivity.java```
[code]
This is one of the crash info.

crash info:
[code]
device logcat crash info:
[code]
more logcat crash info:
[code]
[the whole complete logcat](https://github.com/cocos2d/cocos2d-x/files/1141609/new.9.txt)

[2017-07-12 10:24] umair6 commented on #17423
@dumganhar I am facing similar issue on android. I am using cocos2d-x-3.13.1. Following is the crash log.

0  libcocos2dcpp.so               0xa196f738 std::__ndk1::hash<std::__ndk1::basic_string<char, std::__ndk1::char_traits<char>, std::__ndk1::allocator<char> > >::operator()(std::__ndk1::basic_string<char, std::__ndk1::char_traits<char>, std::__ndk1::allocator<char> > const&) const [clone .isra

[2017-07-12 18:44] ghost commented on #13773
@zilongshanren sorry for late reply.

This is a seemingly random crash. I have only experienced it once myself some time ago, but I can't provide any useful test cases.

All I can say is that this crash is happening once ~30 minutes with 500k daily active users, affecting < 1% of them. So it's not critical, but still.

Also it appears to be universal, affecting every app we release. So there must

[2017-07-13 01:54] #18055 closed, assigned to dumganhar

[2017-07-13 02:47] fuyifan commented on #18026
@dumganhar coz we don't have the experience to change the 3rd party library for cocos, so we guys may have the idea that the job might not take too much time. Actually we DO want to contribute our effort to make cocos better if the document is fine.

[2017-07-13 03:15] minggo commented on #18046
I think it is fixed in latest github codes, could you please have a try? It may be fixed with this PR: https://github.com/cocos2d/cocos2d-x/pull/17557. And it brings some other issues which are fixed by me in other some PRs.

[2017-07-13 03:16] minggo commented on #18053
I think it is duplicated with https://github.com/cocos2d/cocos2d-x/issues/16561

[2017-07-13 03:23] minggo commented on #18058
Since we don't support creating EGL context 3, so i think we don't have to use custom EGLContextFactory.

[2017-07-13 03:34] minggo commented on #18058
i sent https://github.com/cocos2d/cocos2d-x/pull/18062 to fix it, could you please have a try?

[2017-07-13 03:37] minggo commented on #18039
could you please provide a test case to reproduce it?

[2017-07-13 03:40] minggo commented on #18034
Did you use gradle before?

[2017-07-13 03:44] minggo commented on #18033
Will you try this PR https://github.com/cocos2d/cocos2d-x/pull/18060? And if don't have effect, then may be you can modify `VBO_SIZE` from `65536` to `8192` to have a try. `VBO_SIZE` is defined in `CCRender.h`.

[2017-07-13 03:48] minggo commented on #18020
Oh, i haven't noticed it. It seems it is a tricky issue since all the codes are the same.

[2017-07-13 03:52] Rubonnek commented on #18053
The problem I'm reporting is a bit different from #16561 since the FPS drop in this case happens even while not in fullscreen. I mean, I don't have to do anything at all after running the C++ project to get the FPS to stay at 30, but both of the problems do seem to be related. The cause could be the same.

[2017-07-13 06:26] unix2dos commented on #15783
how to slove this problem

[2017-07-13 06:38] alfogrillo commented on #15783
@unix2dos
In my case the solution was not using NodeGrid actions!
Did you try with the last cocos2d-x version?

[2017-07-13 07:01] unix2dos commented on #15783
@drakon-ag
Inside CCGrid.cpp  i find Class GridBase
 I replace all `director->getWinSizeInPixels()` to `director->getWinSize()`
It's ok, thanks

[2017-07-13 09:02] minggo commented on #17478
After using GLES3 context, `Configuration::supportsShareableVAO()` will return false, it is bad performance.

[2017-07-13 09:28] minggo commented on #17478
i reverted gles3 context for iOS in https://github.com/cocos2d/cocos2d-x/pull/18066

[2017-07-13 12:12] hussain-sohaib commented on #18046
hello,

I have tried latest git hub codes, and the issue still persists, also it is
random and most of the time sequence complete it self and at times just
fails to complete at random, but from a game point of view it is very
damaging because it forces the user to kill the game and start over again.

thanks

On Thu, Jul 13, 2017 at 8:15 AM, minggo <notifications@github.com> wrote:

--
Best Regards

[2017-07-13 18:44] n-bes commented on #17944
I'm solve my problem after update from 3.14.1 to 3.15.1 and rebuild libwebsockets

[2017-07-14 01:20] minggo commented on #18046
could you please provide a test case to reproduce it?

[2017-07-14 03:54] Dauch commented on #18058
Thanks. But I don't know how to reproduce this bug, I think your patch should fix the problem. After I apply the patch and still meet this crash info I will reopen it. :)

[2017-07-14 03:54] #18058 closed, assigned to minggo

[2017-07-14 06:42] yuanyouli opened #18068 "Mac 选中 Incoming connections(Client) websockets 连接失败"
- cocos2d-x version:3.15.1
- devices test on:mac
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

D/WebSocket.cpp (167): ERR: ERROR on binding fd 17 to port 0 (-1 1)
D/WebSocket.cpp (1338): protocol init...D/WebSocket.cpp (1350): WebSocket (0x613000018a00) Unhandled websocket event: 33
D/WebSocket.cpp (1341): prot

[2017-07-14 07:27] joelyoung commented on #18046
this.runAction(cc.sequence(
            cc.moveTo(0.05,pos),
            cc.scaleTo(0.05,1,1)
        ));
will 100% fail when you set frameRate to 20

[2017-07-14 07:53] joelyoung commented on #18046
sequence will fail when the action interval in sequence is the same as the frame interval .

[2017-07-14 08:10] fuyifan commented on #18026
I see mingo sent a pull #17968 Is It fixed this issue?

[2017-07-14 08:36] loohoo commented on #15007
just give up using cocos2dx

[2017-07-14 08:44] Bilalmirza commented on #18046
all sequences worked fine in v3.14 the problem is somewhere afterwards i think.

[2017-07-14 10:34] hussain-sohaib commented on #18046
yes, I have gone back to 3.14.1 and thats a sigh of relief for me.

On Fri, Jul 14, 2017 at 1:44 PM, Bilalmirza <notifications@github.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-07-14 10:40] hussain-sohaib opened #18070 "httpClient will not response if iOS internal message shows up."
- cocos2d-x version: 3.15, 3.14.1
- devices test on: 6S Plus, iPad mini 2

when an iOS internal message for example mygame will send you notifications shows up than it can some time cause the httpClient to fail to response.

thanks

[2017-07-14 10:42] hussain-sohaib commented on #18047
@dumganhar , @minggo , @Rubonnek

can you guys please have a look at this.

[2017-07-14 11:10] Dauch opened #18071 "Using etc1 with alpha pic to create a sprite, After set the sprite to gray shader, the alpha channel will lost"
- cocos2d-x version: cur v3 branch
- devices test on: win32

[code]
Before I set the gray shader, the sprite is normal,
After I set the gray shader, the sprite lost the alpha channel.

[2017-07-14 19:16] Paco777 opened #18072 "inconsistant delta value from "void update(float delta)" when app is back active in Release mode."
- cocos2d-x version: 3.15.1
- devices test on: different  iOS devices  with different iOS versions
- developing environments : Xcode Version 8.3.3 (8E3004b)

If you open the notification center, the app is paused (music still working).
If you close if few seconds layer, the app is resumed.

This is good and works as expected when compiled in Debug mode but there is a problem in Release mode.

In R

[2017-07-14 19:40] gamehelphere commented on #17962
Hi guoyingtao,

I also have this problem in Android Studio. I am still using Cocos2D-X 3.15. I noticed that the problem started after a new update on Android Studio's emulator. Things became like this after the update. I tried to add the missing shader variable '**depth**' in all the vertex shader files, but the problem is still there.

I hope a fix would be made soon for us Android fans. :)

[2017-07-15 04:03] Modificator opened #18073 "How can I sencond launch cocos2dx page"
- cocos2d-x version: 3.15 lua
- devices test on: Android&iOS
- developing environments
   - NDK version:15.1.4119039
   - Xcode version: 8.3.3

I merged cocos2dx with native app,
first launch,close cocos2dx page,,it's OK.

But when I launch it again,it was crashed.

[code]

I changed `Cocos2dxHelper` to keep app alive
[code]

[2017-07-15 05:07] #18068 closed, assigned to nobody

[2017-07-15 05:08] yuanyouli commented on #18068
rebuild libwebsockets
client-handshake.c line 195
		//n = lws_socket_bind(wsi->vhost, wsi->sock, 0, wsi->vhost->iface);
		//if (n < 0)
		//	goto failed;

[2017-07-15 06:36] BlackCatz94 commented on #17953
You just need to clean build folder first.

[2017-07-15 06:40] BlackCatz94 commented on #17876
Mine working fine

[2017-07-15 10:20] kyriakos89 commented on #18020
@minggo - Is there any way to change cocos2d-x surface size? Even if device has a bigger surface size. Let's say force it /2 so there are 50% less pixels to render on screen.

[2017-07-17 01:06] minggo commented on #18020
currently, retina is enabled by default, you may [disable it](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/ios/CCEAGLView-ios.mm#L151) but it may cause problem.

[2017-07-17 01:44] kienvn opened #18076 "[Android] Bad Request"
I tested Android 7.0.1
I request this link http://vportal.static.zingplay.com/susun/mobile/version.manifest
It take error:
400 - Bad Request

[2017-07-17 07:01] minggo commented on #18046
Did you mean invoke `Director::setAnimationInterval(1.0f / 20)`?

[2017-07-17 07:08] minggo commented on #18071
You should handle alpha information in your fragment shader, can refer to [this shader](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/renderer/ccShader_ETC1AS_PositionTextureColor.frag) for example.

[2017-07-17 07:08] #18071 closed, assigned to nobody

[2017-07-17 07:09] minggo commented on #18076
What's your engine version? How did you do request?

[2017-07-17 07:11] minggo commented on #18073
It is not supported.

[2017-07-17 07:11] #18073 closed, assigned to nobody

[2017-07-17 07:15] minggo commented on #18072
have you tried this PR: https://github.com/cocos2d/cocos2d-x/pull/18041?

[2017-07-17 07:19] minggo commented on #18033
@hussain-sohaib any feedback about my above comment?

[2017-07-17 07:23] hussain-sohaib commented on #18033
Yes I did both things as you mentioned. And performance has just improved a
bit. Snapdragon processor devices still perform much much much better and
intel processor devices also perform vey well. There is something wrong
with exynos processors.

Thanks

On Mon, 17 Jul 2017 at 12:19, minggo <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-07-17 07:27] zip520123 opened #18078 "git submodule update --init fail"
I try to build a iOS app.

I follow steps in the Git user attention.
1. git clone https://github.com/cocos2d/cocos2d-x.git, OK
2. python download-deps.py, OK
3. git submodule update --init, fail

fatal: unable to connect to github.com:
github.com[0: 192.30.253.113]: errno=Operation timed out
github.com[1: 192.30.253.112]: errno=Operation timed out

![2017-07-17 3 21 31](https://user-images.githubu

[2017-07-17 07:52] #17654 closed, assigned to zilongshanren

[2017-07-17 08:55] minggo commented on #18045
Sorry, i am not familiar with lua coroutine. Could you please describe it in more detail? Does it break compatibility?

[2017-07-17 15:29] Paco777 commented on #18072
Hi,
I just did.

Unfortunately this fix doesn't seems to solve the problem.

You should be able to reproduce the problem (in Release mode) by displaying the control center with a swipe from the bottom, wait a few seconds, and touch the screen to make it disappear.
The next delta time will be equal to the few seconds spent during that wait time.

[2017-07-17 15:37] #17914 closed, assigned to nobody

[2017-07-17 15:43] toreinkun commented on #17914
i replaced loopj to okhttp.

[2017-07-17 16:51] kienvn commented on #18076
I use cocos2d-x 3.15, AssestsManagerEx to update game, i tried many other host is ok, except this link.

[2017-07-17 23:14] gamehelphere commented on #17962
Hi guoyingtao and everyone in the Cocos2d-x community,

I solved the black screen problem! :D I did some tinkering with a running emulator and changed a little setting that was applied from the recent Android Studio Emulator update. Here are the steps:

1. Do not run your project yet. Open an emulator using the command line or by clicking the AVD Manager button. Wait until the emulator shows its m

[2017-07-18 02:02] Dauch commented on #17914
may be you can make a patch.

[2017-07-18 02:19] minggo commented on #18078
may be there is some issue with github, you can try it later

[2017-07-18 02:19] #18078 closed, assigned to nobody

[2017-07-18 02:40] minggo commented on #18072
fixed in https://github.com/cocos2d/cocos2d-x/pull/18084
thanks for feedback

[2017-07-18 02:40] zip520123 commented on #18078
It still time out today. I will try it tomorrow.

[2017-07-18 03:22] halcyonx commented on #17953
Yes, I've cleaned bin/, gen/ and libs/, and build has success. Thanks.

[2017-07-18 03:22] #17953 closed, assigned to nobody

[2017-07-18 10:56] jainayush1993 commented on #8338
Can you tell me the pull request in which this was fixed? @minggo  @WenhaiLin

[2017-07-18 11:19] mandolor commented on #17989
Encountered same issue yesterday on several devices. Any ideas how to fix?

[2017-07-18 15:07] Paco777 commented on #18072
Thank you for your hard work !

[2017-07-19 01:52] JackXuXin commented on #14999
`local body = cc.PhysicsBody:createPolygon({cc.p(0,0), cc.p(0,50), cc.p(50,50), cc.p(50,0)}, 4)`return nil

[2017-07-19 03:08] #15696 closed, assigned to nobody

[2017-07-19 05:47] #18072 closed, assigned to nobody

[2017-07-19 05:54] minggo commented on #18016
Only happens on Moto G? I can not find it to test.

[2017-07-19 06:21] minggo commented on #18016
I tested on nexus 6(Moto), there is not problem. I can not find any other Moto device.

[2017-07-19 06:36] dumganhar commented on #17423
@umair6, could you try to use the latest audio code (cocos/audio/android) on github v3 branch and test again? Thanks.

[2017-07-19 06:44] dumganhar commented on #18068
@yuanyouli, could you please send the patch to libwebsockets official? Thanks.

[2017-07-19 07:08] umair6 commented on #17423
@dumganhar  I have already updated my code to latest. Will let you know if I see this crash again in latest code.

[2017-07-19 09:34] owen200008 commented on #18045
it mustbe no break compatibility。
every coroutine have own luastate，main thread is same。
all the cocos callback is in c++ ui thread， so it mean's all the lua coroutine is suspend. it is wait the lua main thread to wakeup.
now the code callback with coroutine luastate, but this coroutine is suspend.
so we must callback in the lua main thread.

[2017-07-20 06:09] joelyoung commented on #18046
I'm using jsb. i mean frameRate in project.json.

[2017-07-20 07:52] zilongshanren commented on #17635
this issue should be resolved with the latest code  @ForestRingGames Could I close it now?

[2017-07-20 08:09] qingwabote opened #18088 "notificationNode appears to be zoom out to a half in my retina mbp"
- cocos2d-x version: 3.15
- devices test on: mac desktop

The issue occurs in my native retina screen of MBP, but doesn't in the external screen.
I try to fix it by these lines addition in the function "drawScene" of "CCDirector.cpp":
[code]

[2017-07-21 02:14] wayne5ning opened #18089 "Node::setOpacity renders desktop when android:theme is set to Theme.Translucent.NoTitleBar"
- cocos2d-x version: bug reproduced on 3.3 and 3.15. All 3.x versions seem to have this problem.
- devices test on: Redmi Note 4x
- developing environments
   - NDK version: android-ndk-r10d
   - Android SDK version: android-19

Steps to Reproduce:

1. Create a cpp project
2. Change theme to Theme.Translucent.NoTitleBar
3. add a LayerColor(255, 0, 0, 128) with opacity 128 to HelloWorldScene:
addCh

[2017-07-21 13:47] longchuan commented on #18089
the " Theme.Translucent.NoTitleBar" was half opacity theme

[2017-07-21 13:54] longchuan opened #18090 "prebuilt\android/armeabi/flatbuffers.a(flathash.o): multiple definition of 'main'.flatc.cpp:generators: error: undefined reference to 'flatbuffers::GenerateCppGRPC("
- cocos2d-x version:3.15.1
- devices test on:win32
- developing environments win
   - NDK version:android-ndk-r14b
   - VS version:2015
   - browser type and version:

Steps to Reproduce:

1. cocos gen-libs
2. build my lib project
![1 rp96i vdvbkkf aw6 hq](https://user-images.githubusercontent.com/3708075/28466491-306a0b6c-6e5f-11e7-924d-5960c1c02b9e.png)

[2017-07-22 01:09] continuemycoding opened #18092 "ccui.Text在win32平台不会自动换行"
- cocos2d-x version:3.15

    var message = new ccui.Text("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", GFontDef.fontName, 32);
    message.ignoreContentAdaptWithSize(false);
    message.setContentSize(200, 800);

web平台是正常的，此bug必现。

[2017-07-22 01:11] continuemycoding commented on #18092
@minggo

[2017-07-22 08:40] continuemycoding commented on #18026
@fuyifan 自力更生吧，我那样改之后在几个平台上测试都是正常的。

[2017-07-22 15:09] longchuan opened #18093 "Some questions about Android EditBox"
- cocos2d-x version:all
- devices test on:android
- developing environments

We should  modify the EditBox.Because the pictures:
![screenshot_2017-07-22-23-05-20-79](https://user-images.githubusercontent.com/3708075/28492272-a94a438e-6f32-11e7-8e66-512ba021d9f3.png)
![screenshot_2017-07-22-23-05-24-39](https://user-images.githubusercontent.com/3708075/28492276-b3f6700a-6f32-11e7-9530-ec67037b5cb3.

[2017-07-22 15:13] deguilardi commented on #18016
Happens on every Moto G 4th and 5th gen with android 7.0

[2017-07-22 15:21] longchuan commented on #18005
......这哪里是bug，Layer默认是穿透的

[2017-07-22 18:02] zhaozhantao opened #18094 "There is some crash happend. CCScheduler.cpp:721 pauseTarget"
- cocos2d-x version: 3.13
- devices test on: very much
- developing environments
   - NDK version: r10d

Steps to Reproduce: no

I recive some crash log from "Bugly" (http://bugly.qq.com)

In CCScheduler.cpp:721

[code]

SIGSEGV(SEGV_MAPERR)

1 #00 pc 0162fc4c libcocos2dlua.so pauseTarget (/Users/zhaozhantao/me/doc/tank2/trunk/tank2/frameworks/runtime-src/proj.android/../../cocos2d-x/cocos//./base

[2017-07-22 18:04] zhaozhantao commented on #18094
In CCScheduler.cpp:721

void Scheduler::pauseTarget(void *target)
{
CCASSERT(target != nullptr, "target can't be nullptr!");

// custom selectors
tHashTimerEntry *element = nullptr;

//-------------------------------------
// line number 721, crash happend at this line
HASH_FIND_PTR(_hashForTimers, &target, element);

//-------------------------------------

if (element)
{
    element->paused = tr

[2017-07-23 04:46] deguilardi commented on #18034
yes, I use gradle for a long time.
Gradle allows us to build a project a single time and use it as a sub project of infinite other projects.
Instead of compiling the entire cocos library for each flavor, you can build it as a sub project.
What I am not familiar is NDK build. If we find a way to build the cocos library inside the "cocos library" (libcocos2dx/build) every flavor will be able to load

[2017-07-23 04:48] deguilardi commented on #17989
Wait for the cocos team to see how urgent this is...

[2017-07-23 16:56] noprops opened #18095 "I cannot remove tiles on FastTMXLayer in the screen"
- cocos2d-x version:3.15.1
- devices test on:iOS
- developing environments
   - NDK version:r14b
   - Xcode version:8.3.3

http://discuss.cocos2d-x.org/t/i-cannot-remove-tiles-on-fasttmxlayer-in-the-screen/38122

I want to remove tiles on experimental::TMXLayer in my game.
When I try to remove tiles, tiles outside the screen are removed, but tiles in the screen remain without being removed.

Steps

[2017-07-23 17:30] Kingurus commented on #15137
hi all,

  I have the same problem as RequiemSouls. On aarch64. I did the same things. it says libfmod.so: error adding symbols: file wrong format

  Please help.

[2017-07-23 19:23] tarakan012 opened #18096 "How add library Protobuf-lite"
- cocos2d-x version: 3.3.15
- devices test on:
- developing environments
   - NDK version: r15b
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  I tried to add a library by changing the Android.mk file.
[code]
cocos compile -p android --ap android-22

[code]

[2017-07-24 01:26] zilongshanren commented on #18092
@gdboy 试试最新的 v3 分支，看看这个问题是否还存在

[2017-07-24 02:37] wayne5ning commented on #18089
What if we don't cover the whole screen with opaque colored layer, say half size. Should this be the expected behavior?
![setOpacity bug](https://raw.githubusercontent.com/wayne5ning/share/master/cocos2dx/setOpacity_Bug2.png)

[2017-07-24 05:35] minggo commented on #18096
please ask similar questions in [forum](http://discuss.cocos2d-x.org/)

[2017-07-24 05:35] #18096 closed, assigned to nobody

[2017-07-24 07:23] minggo commented on #18093
The effect pictures are the result of your modification, right? Have you tested on more Android devices and OS versions?

[2017-07-24 07:27] minggo commented on #18089
the result is correct, what's your expectation?

[2017-07-24 07:48] dumganhar opened #18099 "Fixes hardcode '/socket.io/1' in SocketIO.cpp"
- cocos2d-x version: v3
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2017-07-24 11:20] Anywhere-Music-Player commented on #17962
Same here and thank you so much. It helps. @minggo I believe this should be considered as bug\problem...

[2017-07-25 01:18] gamehelphere commented on #17962
You're welcome KAMIKAZEUA. I'm glad it helped. ;D

[2017-07-25 08:48] Josrph opened #18101 "Could NOT find GLEW (missing: GLEW_INCLUDE_DIR GLEW_LIBRARY) On cocos2d-x 3.15"
sys info
- cocos2d-x version: 3.15
- OC: Win 10 64bit
- cmake: 3.9
- qt creator: 5.6.2 with x86-mingw492 as compiler

when ever i open CMakeLists.txt using using qt creator i get this error:

[code]

how should i fix this?

[2017-07-25 18:59] banjocat commented on #14961
I only ran into this issue if I was using lua or javascript.

My solution was to just create a link within the project. I did no copying into /usr/lib

Below is an example.. as I linked via full path.
[code]

[2017-07-25 21:37] newnon opened #18104 "Broken touch processing after widget removed and added again"
- cocos2d-x version:3.15+
- devices test on: mac, ios, android
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. add button to scene
2. retain it
3. remove it from scene
4. add it to scene again

button will by not clickable

commit that broke this
https://github.com/cocos2d/cocos2d-x/commit/95baff70869c130922fe

[2017-07-26 01:18] minggo commented on #17962
I think the problem is because the simulator uses x86 instructions, but the apps are not build with x86.

[2017-07-26 02:03] longchuan commented on #18093
Only the new version had the problem.The placeholder's size was different with each other.

[2017-07-26 02:10] longchuan commented on #18089
cocos2d-x's android was glsurfaceview and the main activity was AppActivity.the " Theme.Translucent.NoTitleBar"  only effect on android's components..

[2017-07-26 02:21] minggo commented on #18093
Why not send a PR?

[2017-07-26 02:25] longchuan commented on #18093
add the PR
![qq 20170726102336](https://user-images.githubusercontent.com/3708075/28601749-b7f40e44-71ec-11e7-81b9-45983d0028ca.png)

[2017-07-26 02:28] longchuan commented on #18093
Perhaps,android added an api about placeholder in new version.

[2017-07-26 02:30] longchuan commented on #18093
UserName=EditBox::create(Size(600.0f,100.0f),"InputBack.png");
	UserName->setAnchorPoint(Point(0,0.5));
	UserName->setPosition(Point(463.0f,933.37f));
	UserName->setFontColor(Color3B::RED);
	UserName->setPlaceHolder(LocalText["UserNameHolder"].asString().c_str());
	UserName->setPlaceholderFontColor(Color3B::WHITE);
	UserName->setMaxLength(18);
	UserName->setFontSize(50);
	UserName->setReturnType(u

[2017-07-26 08:27] Anywhere-Music-Player commented on #17962
I'm compiling currently only for x86 and using x86 emulator images, because I don't have any devices

[2017-07-26 08:56] yingnierxiao opened #18105 "crash on android"
- cocos2d-x version:3.13.1
- devices test on:Huawei P8 Lite (hwALE-H), 2048MB RAM, Android 5.0
- developing environments
   - NDK version:10c
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. google play console carsh log.i think carsh when decode sound or music
[code]

2.other crash  Samsung Galaxy S6 (zeroflte), 3072MB RAM, Android 7.0

[code]
3.other c

[2017-07-26 12:27] wayne5ning commented on #18089
@minggo The expected behavior would be the translucent colored layer with half opacity is rendered on top the background which is black.

It seems that when rendering the translucent colored layer, the colored layer is rendered together with the desktop. Is it true that every Node is rendered with the desktop too? If the rendered area is not translucent, then the desktop is overlapped by the node?

[2017-07-27 00:06] minggo commented on #18089
@wayne5ning the background [is cleared as black by default](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/base/CCDirector.cpp#L302). The LayerColor will blend with background. As LayerColor you said is half transparent, then the result opacity will not be 255.

I think you can `add a LayerColor(255, 0, 0, 255) with opacity 255 to HelloWorldScene` to have a try.

[2017-07-27 00:08] Anywhere-Music-Player commented on #18104
@dumganhar this issue breaks development of my game. @minggo this really requires fix.

[2017-07-27 00:11] minggo commented on #18104
@dumganhar please take a look.

[2017-07-27 01:49] dumganhar commented on #18104
@newnon , @KAMIKAZEUA  if you want to remove it from scene and add it to another scene, please don't cleanup node. I mean, don't use `node->removeFromParent();` or `node->removeFromParent(true)`. Without an argument or with a argument `true` will cleanup `action`, `schedule` and `eventlistener` associated with that node. Instead, you need to call `node->removeFromParent(false)` which means keep th

[2017-07-27 01:53] dumganhar commented on #18105
What kinds of audio format are you using?

[2017-07-27 01:58] dumganhar commented on #17989
Is it relevant to https://github.com/cocos2d/cocos2d-x/issues/18104?

[2017-07-27 02:13] deguilardi commented on #17989
In fact, this #18104 is a totally different thing.
To reproduce this issue, you just need to create two scenes, open the app and navigate from one to another in an android device or android emulator. 1 in every 5 tests the touch will stop working on the second scene no matter what.

[2017-07-27 02:17] dumganhar commented on #17989
@deguilardi , thanks for your feedback. Could you please upload a demo for reproducing this issue?
That will help me save lots of time to check this problem. Thanks.

[2017-07-27 02:24] deguilardi commented on #17989
Just to make it clear, happens with new projects, old projects, devices, emulators, android 4, 5, 6 and 7.

I tried keeping the entire project, replacing the cocos2d folder only. Downgrading to 3.14.1 (keeping ALL config/project files) and this issue specifically is gone now.

@dumganhar I will try to make you a video ASAP.  Does this work?

[2017-07-27 02:36] dumganhar commented on #17989
Yep, please upload the video.
And it's better you could provide the demo which bases on cpp template.

[2017-07-27 04:48] wayne5ning commented on #18089
@minggo If LayerColor is blended with background, which is black, then why is the desktop rendered together with LayerColor? Should the black background block the desktop?

[2017-07-27 05:21] yingnierxiao commented on #18105
ogg

[2017-07-27 07:36] minggo commented on #18089
After LayerColor blending with black, then the result is not black.

[2017-07-27 08:35] Huwell commented on #15439
I met the same crash on cocos2d-x 3.15 & xcode 9beta & iOS 11
@Obg1 's codes cannot resolve it. How to fix?

[2017-07-27 08:51] minggo commented on #15439
@Huwell i think it is a different issue.

[2017-07-27 08:55] Huwell commented on #15439
I have tried 3.15 & 3.15.1. You will met this crash on test example of official sdk.
(iOS 11 + xcode 9 beta + cocos2d-x 3.15.x)
<img width="1124" alt="screen shot 2017-07-26 at 4 15 04 pm" src="https://user-images.githubusercontent.com/486553/28662340-5f576c08-72ec-11e7-9760-58bff1bc2a89.png">

[2017-07-27 09:13] newnon commented on #18104
but if you add it again it touches can't be enabled normally if you just call call setTouchEnabled it will do nothing because flag _touchEnabled already true
may be check this flag and add _touchListener again?

[2017-07-27 09:48] faresbh commented on #15439
@Huwell I had the same issue, with IOS 11 Beta 4. It'a always happening now.

[2017-07-27 10:06] v1993 commented on #17983
@minggo Look at this one, please. I really need some help.

[2017-07-27 10:17] v1993 opened #18109 "Uploading game without engine copy"
- cocos2d-x version: 3.15.1

I want to write some test for my library and upload them into github repo. I don't need engine copy, because I always will test on fresh version downloaded by script. Is there a way to publish copy of source code (project) without engine's copy?

[2017-07-27 11:16] Anywhere-Music-Player commented on #18104
@dumganhar I'm just using `runAction` :
[code]
And I'm adding it to the same Node next time.

[2017-07-27 13:25] minggo commented on #17983
prebuilt template is used by cocos studio, as cocos studio is canceled, so it is not longer maintained.

[2017-07-27 14:06] v1993 commented on #17983
I've described problem at another issue: #18109, so I close this one. Let's complete discussion there.

[2017-07-27 14:10] v1993 commented on #17983
Oops, I also wrote about prebuilding libraries for linux. What about it?
It is minor for me, but it is probably a problem.

[2017-07-27 14:24] newnon opened #18110 "Crash on application close(Mac)"
- cocos2d-x version:3.15.1
- devices test on:mac
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. open websocket
2. close application
you will get crash(SIGPIPE)

callstack
#0	0x00007fffc4522bf2 in __psynch_cvwait ()
#1	0x000000010304fab1 in _pthread_cond_wait ()
#2	0x00007fffc2f8d4cd in std::__1::condition_var

[2017-07-28 01:05] minggo commented on #15439
May be it is a bug of iOS itself, as [the thread](http://discuss.cocos2d-x.org/t/3-15-1-crash-in-ios-11-beta-4/38168) said, it is ok with iOS 11 Beta 3. I think beta version is not stable enough.

[2017-07-28 01:38] dumganhar commented on #18105
@yingnierxiao , in the latest version, we decode `mp3`, `ogg`, `wav` by ourself, it gets better performance and less system bugs.  You could try to replace `cocos/audio` folder which in `v3` branch to upgrade `audio` module only and submit the app to google play to see whether this issue is fixed. Thanks.

[2017-07-28 01:44] dumganhar commented on #18104
@newnon

may be check this flag and add _touchListener again?

Did you try `node->removeFromParent(false)`? Did you mean this also didn't work for you?
If it's ,did you try to revert(delete) this line `_eventDispatcher->removeEventListenersForTarget(this);` in Node::cleanup to see whether it's caused by this line?

@KAMIKAZEUA
If I understand correctly, did you add a same action to different nodes

[2017-07-28 01:52] minggo commented on #18101
I think you should run `build/install-deps-linux.sh` first. And cocos2d-x doesn't make sure to support qt.

[2017-07-28 01:52] #18101 closed, assigned to nobody

[2017-07-28 02:48] enrevol commented on #17390
Any new updates on this issue?

[2017-07-28 03:24] minggo commented on #18109
I think you can make engine as the submodule of your repo.

[2017-07-28 03:24] #18109 closed, assigned to nobody

[2017-07-28 03:26] minggo commented on #18110
it is because websocket is using multi-thread, when you close the app, it is waiting another thread.

[2017-07-28 03:33] minggo commented on #18094
Any code to reproduce it?

[2017-07-28 03:37] minggo commented on #18093
Sorry, i don't quite understand your PR. What did you modified?

[2017-07-28 03:42] Dauch opened #18113 "Crash on void org.cocos2dx.lib.Cocos2dxGLSurfaceView.onResume()"
- cocos2d-x version: current v3 branch
- devices test on: android

hey guys, I got crash on
[code]
and I don't know why this happen. can someone check this out?
(I didn't change any of ``` org.cocos2dx.lib ```  files.)

[the whole logcat](https://github.com/cocos2d/cocos2d-x/files/1181948/com.luhuogame.tdsgqx.mi.zip)

[2017-07-28 05:13] tranhoangduong1994 opened #18116 "LabelTTF's ugly stroke on web platform"
- cocos2d-x version: 3.13.1
- devices test on: MacBook Pro (Retina, 15-inch, Mid 2014)
- developing environments
   - browser type and version: Google Chrome 59.0.3071.115 (Official Build) (64-bit)

I am encountering a problem enabling stroke for my cc.LabelTTF object in my web game. This issue only exists after I upgraded my project from Cocos2d-x 3.10 to Cocos2d-x 3.13.1.

You can see the proble

[2017-07-28 05:31] stnguyen commented on #18116
👍  this is pretty annoying :(

[2017-07-28 06:04] dumganhar commented on #18110
Please refer to https://github.com/cocos2d/cocos2d-x/issues/17369
BTW, bsd socket on iOS have lots of issues hard to be fixed. We're trying to use SRWebSocket which is based on `CFNetwork` for iOS & macOS platforms.

[2017-07-28 06:12] wayne5ning commented on #18089
@minggo  Where is the desktop in the rendering process?

[2017-07-28 06:13] #17955 closed, assigned to nobody

[2017-07-28 06:14] minggo commented on #18089
I don't know what's your meaning.

[2017-07-28 06:34] dumganhar commented on #18113
Any way to reproduce this issue?

[2017-07-28 09:11] Anywhere-Music-Player commented on #18104
@dumganhar I just described how I'm removing node. It's just pause popup. It's removes itself when user tap resume button and that action executes. And I'm adding it at the same node again, when user press pause button again.

[2017-07-28 09:53] newnon commented on #18104
@dumganhar node->removeFromParent(false) solve problem but if i want really cleanup node?
i think we need to ad some code in widget that will be add listener again after adding it to scene again

[2017-07-28 10:02] newnon commented on #18110
i fink it is bad design. Шt will crash on all desktop platforms that have close button. I think there is no need to lister dispatcher reset because on program close all sockets will be closed.

[2017-07-28 13:40] v1993 opened #18118 "SIGSEGV on exit"
- cocos2d-x version: git
- devices test on: linux mint 18.2

Steps to Reproduce:

1. build any game
2. launch and close it

I found a strange bug with cocos: it always crashes on exit. No matter which project, which language, which way to close - always segfault on exit. Some information from gdb:

    ...
    Program received signal SIGSEGV, Segmentation fault.
    0x00007f7c4eae1a30 in ?? ()

[2017-07-29 04:49] nguyenphuthien commented on #18116
I have the same problem, please help!

[2017-07-29 07:15] v1993 opened #18119 "Lua add modules directory"
- cocos2d-x version: git
- devices test on: linux mint 18.2

Steps to Reproduce:

1. Create directory `lib` in `src`
2. Add this code to `main.lua`:

 

    package.path = ';./lib/?.lua;./lib/?/init.lua'
3. Create this structure in lib:

 

    lib +
         |- test1.lua
         |- test2 +
                      |- init.lua
4. For some reasons I can do `require 'test1'`, but can't `require 'test2

[2017-07-29 08:17] Dauch commented on #18113
I can't find a way to reproduce, It is the output of  xiaomi platform's ```monkey test```.

[2017-07-29 12:52] v1993 commented on #18119
@minggo What do you think about this problem?

[2017-07-30 09:13] v1993 commented on #12733
Any news?

[2017-07-30 13:43] DanielNNN commented on #18116
Hello Cocos2d-x team.
We also suffer from the same problem.
Please fix the text-stroke rendering issues.

Here's how the "pointy spikes" are solved with Adobe Illustrator using the "miter limit" function:
https://stevencrawley.wordpress.com/2015/09/17/what-is-the-miter-limit/

Although this example is for a graphic program, the theory is the same.

[2017-07-31 01:10] minggo commented on #18119
I am not sure. This feature may not be supported, but you can use full path to require the lua file.

[2017-07-31 03:31] pillar commented on #17702
me too, after fixed #17922

[2017-07-31 12:05] mori1234 commented on #15937
the last  __indices new is not inserted _ownedIndices when is delete ?
void QuadCommand::reIndex(int indicesCount)
{
    // first time init: create a decent buffer size for indices to prevent too much resizing
    if (__indexCapacity == -1)
    {
        indicesCount = std::max(indicesCount, 2048);
    }

    if (indicesCount > __indexCapacity)
    {
        // if resizing is needed, get needed si

[2017-07-31 12:06] puckery opened #18120 "RichText ListenerComponent can't be touch when addto UIListView"
- cocos2d-x version:3.15.1
- devices test on:all platform
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2017-07-31 16:04] abelidze commented on #18090
Same problem here.
As a temporary solution found [this](http://discuss.cocos2d-x.org/t/trouble-compiling-on-android/35263/22). And another problem which i've decided - windows backslashes generation by gen-libs. Simply replaced all of them on win platform with forwardslashes. (before: on my Windows 7 i had '.... /..prebuiltandroid/ .....' not found error):
`<cocos2d/tools/cocos2d-console/plugins/p

[2017-08-01 02:17] zhaozhantao commented on #18094
No. Many days happend once.

[2017-08-01 08:08] mori1234 commented on #17989
cocos2d-x version:  github latest
i have a same issue
touch is odd

when touch bug
_toAddedListeners not empty()

maby be not work updateListeners(Event* event)
_inDispatch ======= ? not to confirm

===> monday to confirm

[2017-08-02 02:10] minggo commented on #18118
how did you exit the program?

[2017-08-02 05:12] longchuan opened #18121 "If you face on a problem about no elf execute libray ,there was an answer"
- cocos2d-x version:all
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  Make android project.Then compile successfully.Run with no library error.
This problem was casued by the android version.You could modify the android version to below 23.
The other not verified answer was modifying the

[2017-08-02 06:34] longchuan commented on #18121
Maybe this caused by android version.

[2017-08-02 06:45] longchuan commented on #18093
无语啊。。。我把注释的内容去掉了，还想让上下两段都有小文字格式，但是失败了。。。

[2017-08-02 07:00] v1993 commented on #18118
:endToLua, closing window - always crash.

[2017-08-02 14:44] hussain-sohaib opened #18123 "On Android release build performance issue"
- cocos2d-x version: 3.14.1, 3.15
- devices test on: S6, Sony xperia z1
- developing environments
   - NDK version: 13rb

On Android release build performance is pretty bad as compared to debug build. How do I fix it?

Thanks

[2017-08-02 21:54] jhchiarelli commented on #17151
In version 3.15 has not yet been fixed, can you tell me if you have any corrections for the next version?
Thank you.

[2017-08-04 01:07] matt-loflin commented on #15439
If you are using iOS 11 Beta 4 someone posted a workaround here: https://stackoverflow.com/questions/45319215/ios-11-beta-4-presentrenderbuffer-crash/45375569#45375569

[2017-08-04 01:19] gestern opened #18125 "iOS EditBox crashes if placeholder defined"
- cocos2d-x version: cocos2d-x-3.15.1
- devices test on: iPhone 6, 7, 6+, 7+
- developing environments
   - Xcode version: 8.3.3

Steps to Reproduce:

1. Run cpp-test on any iOS device;
2. Select "51: Node: UI" menu item then "GUI Dynamic Create Test" then "3. EditBox Test"
3. Push to 2nd text box with placeholder "Password":
4. Application will crashed on [CCUISingleLineTextField.mm:64](https://g

[2017-08-04 01:55] minggo commented on #18118
endToLua just invoke `Director::end()`. I always click window's close item, didn't find crash.

[2017-08-04 01:56] minggo commented on #18093
I mean why not send a pull request to cocos2d-x?

[2017-08-04 07:36] DylanXing commented on #15439
close 'GPU Frame Capture' works fine. thanks ,@matt-loflin

[2017-08-04 08:00] Huwell commented on #15439
You save my life, @matt-loflin

[2017-08-04 18:00] Pedrotok opened #18127 "Checking force touch availability on cocos"
Cocos checks for forceTouchAvailabilty using:

-        if ([[[UIDevice currentDevice] systemVersion] floatValue] >= 9.0f)

Can this be a source of bugs when using forceTouch with cocos?

Isn't the best practice to use:

-        if (self.traitCollection.forceTouchCapability == UIForceTouchCapabilityAvailable)

[2017-08-05 09:11] ghost opened #18128 "Why does the ImageViewReader::setPropsWithFlatBuffers method need to check the existence of the plist file when it doesn't find out the image file in the SpriteFrameCache?"
- cocos2d-x version: 3.15.1

[code]

In case 1, why do we need to parse the plist file when we doesn't find out the image file in the `SpriteFrameCache`? I don't think this step is necessary, because that parsing plist file is very slow, and it seems that `errorFilePath` will never be used. So what is the purpose of the this piece of code?

[code]

[2017-08-07 01:34] wayne5ning commented on #18089
Why is the desktop rendered before the black background, with the hierarchy is like this:
Desktop -- Black Background -- LayerColor ?

[2017-08-07 02:33] minggo commented on #18089
I think desktop is always there no matter which app is running. It is the app determines whether to see the desktop or not.

[2017-08-07 03:01] minggo commented on #17260
I uses v3 latest codes: 4be6eb532567f747ec2ad62e84893123e236e9f4 to test, what i did are:

- use cocos run -p android to build and run js-tests
- click Home button to make js-tests into background
- click js-tests app icon to run js-tests again
- no crash, but there is OpenGL ES rendering error, so can not response any input

There is not error if i did like this
- click js-tests icon to run js-te

[2017-08-07 03:32] minggo commented on #18123
It is strange. Are you sure it is the release mode you built for? How did you measure the performance?

[2017-08-07 04:19] G17hao opened #18130 "JNI 相关函数存在没有释放引用的情况"
- cocos2d-x version: 3.13.1
- devices test on: 网易MOMO
- developing environments
   - NDK version: r10e

Steps to Reproduce:
Java_org_cocos2dx_lib_Cocos2dxHelper.cpp
conversionEncodingJNI
这个函数调用次数超过512次时程序崩溃，报错提示
E/dalvikvm( 3307): JNI ERROR (app bug): local reference table overflow (max=512)
检查发现newArray没有释放

其他地方也可能存在没有释放的情况，建议加上相关测试。

[2017-08-07 06:49] xshagg opened #18131 "Missing argument in CSLanguageDataBinary_generated.h:81"
- cocos2d-x version: 3.15.1 (latest commit efe95fd89971a8cad4820c5aa44a6dc5eebd4790)
- devices test on: none
- developing environments
   - NDK version: r14b
   - Xcode version: -
   - VS version: 2.3.3
   - browser type and version: -

Error:
.../proj.android-studio/app/jni/../../../cocos2d/cocos/./editor-support/cocostudio/CSLanguageDataBinary_generated.h:81:88: error: no matching member functio

[2017-08-07 07:43] minggo commented on #18125
fixed in https://github.com/cocos2d/cocos2d-x/pull/18132. It is not an issue of v3.15.1, just with v3 branch codes after v3.151. And the issue is caused by https://github.com/cocos2d/cocos2d-x/pull/17970 which is merged after v3.15.1.

[2017-08-07 08:13] Y-way commented on #17989
Encountered same issue when i use new AudionEngin. But i use SimpleAudioEngine everything is OK.
cocos2d-x lua version: 3.15.1

[2017-08-07 09:00] #18125 closed, assigned to minggo

[2017-08-07 10:09] G17hao opened #18133 "使用Console->addCommand 添加远程调试命令，调用命令时偶现的崩溃情况"
- cocos2d-x version:3.15.1
- devices test on:all platform

Steps to Reproduce:

1. using console->addCommand in project
2. use it

addCommand添加回调时是在Console的socket接收线程中直接回调的（包括导出到lua和js），存在同步问题，应考虑使用performFunctionInCocosThread在主线程中执行（导出到lua和js则是必要的）

[2017-08-07 10:11] G17hao commented on #18133
提个bug已经费了些时间，还要说英语实在是很打击别人提bug的积极度。
尤其我这种英语渣

[2017-08-09 11:10] letrungtrung commented on #18026
@j-jorge I have same problem. Can you give me the libwebsocket v2.2.1 was built for cocos?

[2017-08-09 11:28] mori1234 commented on #17989
I think this issue is related to threads.

I read a file using a thread
****

_inDispatch : 3  skip updateListeners

_toAddedListeners remains EventListener

touch stops responding on android devices

FileUtils::Status FileUtilsAndroid::getContents(const std::string& filename, ResizableBuffer* buffer)
{
    //Director::getInstance()->getEventDispatcher()->dispatchCustomEvent(EVENT_BEFORE_READ_FILE

[2017-08-10 00:40] Obg1 commented on #16775
Here's my fix:

[code]

[2017-08-10 01:22] dumganhar commented on #17989
@mori1234 , did you invoke `getContents` in a sub thread?

[2017-08-10 01:51] Grantley opened #18137 "EditBox Single Line 100% crashing upon edit start when PlaceHolderText is set (iOS Only)"
- cocos2d-x version: 3.15
- devices test on: iPhone 7+
- developing environments
   - NDK version: N/A
   - Xcode version: 8.3.3
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Add the following code to the base project inside HelloWorldScene.cpp at the end of HelloWorld::init() :

	cocos2d::ui::Scale9Sprite *bgSprite = cocos2d::ui::Scale9Sprite::create();
	bgSprit

[2017-08-10 03:33] MinhHTML5 opened #18138 "Additive blending failed: getBlendFunc return wrong value after a setBlendFunc call"
- cocos2d-x version: 3.15.2 (javascript)
- devices test on: Chrome
   - browser type and version: Chrome 60.0.3112.90 (Official Build) (64-bit)

I've just upgraded my Cocos2D-JS game from 3.12 to 3.15.2, and all additive drawing sprites suddenly failed. Upon some digging, here is my result:

Steps to Reproduce:
1. Create a sprite.
2. SetBlendFunc to "new cc.BlendFunc(gl.SRC_ALPHA, gl.ONE)"
3. GetB

[2017-08-10 06:18] mori1234 commented on #17989
i use some image thread
Director::getInstance()->getTextureCache()->addImageAsync
and
SimpleAudioEngine preloadEffect used thread

[2017-08-10 06:31] dumganhar commented on #17989
@mori1234 , did it work after applying your patch?
[code]

[2017-08-10 09:53] mori1234 commented on #17989
it works fine.
but It is inefficient to read a lot of files use dispatchCustomEvent(EVENT_BEFORE_READ_FILE);
so
i removed all EVENT_BEFORE_READ_FILE;

Java_org_cocos2dx_lib_Cocos2dxEngineDataManager.h
// change
public:
static void onBeforeReadFile(EventCustom* event);

CCFileUtils-android.cpp
// add
#include "platform/android/jni/Java_org_cocos2dx_lib_Cocos2dxEngineDataManager.h"

FileUtils::Statu

[2017-08-10 14:11] continuemycoding opened #18139 "热更新重大bug，必现"
- cocos2d-x version:3.15

热更新不能断点续传，没更新完成的时候断开，下次不但不能断点续传而且不能重新下载，把cocos creator的热更新复制过去替换重新绑定就好了。试过很多次都能正常断点续传。

[2017-08-10 16:07] perminovVS opened #18140 "QuadCommand::reIndex performance degradation."
Each create QuadCommand and init, call reIndex((int)quadCount*6);
QuadCommand::reIndex fill always static buffer __indices.
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/renderer/CCQuadCommand.cpp

Why is that? It error ?
Need fill it buffer only recreate __indices?

[2017-08-11 02:37] dumganhar commented on #17989
@mori1234 , thanks for providing so useful information.
Could you help me to insert a line in `FileUtilsAndroid::getContents`?
[code]

I wanna know whether there is another thread to visit `getContents`.
After you have tested, please attach logcat output here. Thanks.

[2017-08-11 04:26] Shukalovich opened #18151 "TintTo action does not change color at all if duration is 0.0f"
- cocos2d-x version: cocos2d-x-3.15.1
- devices test on: iPhone 7
- developing environments
   - NDK version: not use
   - Xcode version: Version 8.3.3 (8E3004b)
   - VS version: not use
   - browser type and version: not use

Steps to Reproduce:
auto sprite = cocos2d::Sprite::create("SpriteSileName.png");
sprite->setColor(cocos2d::Color3B::WHITE);
sprite->runAction(cocos2d::TintTo::create(0.0f, c

[2017-08-11 04:59] Shukalovich opened #18152 "Checkbox has problem with check sign scaling when select and unselect checkbox by touch"
- cocos2d-x version: cocos2d-x-3.15.1
- devices test on: iPhone 7
- developing environments
   - NDK version: not use
   - Xcode version: Version 8.3.3 (8E3004b)
   - VS version: not use
   - browser type and version: not use

Steps to Reproduce:
At firs time in function
void AbstractCheckButton::frontCrossTextureScaleChangedWithSize()
scale of _frontCrossRenderer sets relatively to _frontCrossRen

[2017-08-11 05:03] Shukalovich commented on #18152
I attach my fix of this problem in git patch format.

[ChckboxPatch.diff.zip](https://github.com/cocos2d/cocos2d-x/files/1216966/ChckboxPatch.diff.zip)

[2017-08-11 08:13] mori1234 commented on #17989
08-11 17:13:16.052 26317-26510/? D/cocos2d-x debug info: thread id: 0x6201ec30
08-11 17:13:16.052 26317-26510/? D/cocos2d-x debug info: thread id: 0x6201ec30
08-11 17:13:16.052 26317-26510/? D/cocos2d-x debug info: thread id: 0x6201ec30
08-11 17:13:16.057 26317-26510/? D/cocos2d-x debug info: thread id: 0x6201ec30
08-11 17:13:16.057 26317-26510/? D/cocos2d-x debug info: thread id: 0x6201ec30
08-11

[2017-08-11 10:29] piotrros commented on #17387
Any chance to add this "feature"? I'm really struggling with this issue A LOT.

[2017-08-11 13:30] sanchguy commented on #14374
could you tell me more detail?! I have this problem now ?

[2017-08-11 13:31] sanchguy commented on #14374
could you tell me more detail?! I have this problem now ~~~~~~！thank you

[2017-08-11 16:23] ghost commented on #9546
i was try install manually all dependencies, but some dependencies have an error, my source.list was broken, and my debian version was Sid (unstable version). I fix it doing downgrade to Jessie.

I follow the step-by-step in this link: [https://www.vivaolinux.com.br/dica/apt-pinning-Forcando-downgrades-em-Debian-likes](url)

the link is in pt-br, in this link the author do:
**1 - prepare the apt-p

[2017-08-11 19:12] Stark1919 opened #18155 "Coco2d-x build issue on Ubuntu (Netbeans)"
- cocos2d-x version: 3.15.1
- devices test on: N/A. Just on the IDE Netbeans 8.2
- developing environments
   - NDK version: r15c
   - g++ version: 4.9.4

Hello everybody,

I created a new project with "cocos new ... ", built it, ok! HelloWorld works fine.

I started making some modification on classes, added new ones.
Whatever I change in classes I get the same errors. Modifications were the same

[2017-08-13 00:35] xiaolaji opened #18156 "bug ！CULLING bug when the sprite created by “createWithSpriteFrame” or “setSpriteFrame”"
- cocos2d-x version:3.15.1
- devices test on:win10 64bit
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:2015
   - browser type and version:
if a sprite is created by create（）or createwithtexture（） normally and added on a scene，when moving the scene by “setposition（getposition（）+vec2（-1，0））”in update（） ，the sprite disappears when it is out of visiblesize.But when th

[2017-08-13 08:56] v1993 opened #18157 "Can't push same scene again"
- cocos2d-x version: git
- devices test on: linux mint 18.2
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

`src/views/SceneTwo.lua`:

    local SceneTwo = cc.Scene:create()

    function SceneTwo:onCreate()
    	print('SceneTwo onCreate')
    	local BackButton = cc.MenuItemImage:create('prev.png', 'prev.png')

[2017-08-13 08:57] v1993 commented on #18157
Also, I can't push subclass of scene created in lua...

[2017-08-13 09:13] NinjaGah opened #18158 "Vec2 (2D) MoveTo forces Z coordinate to 0"
- cocos2d-x version: 3.13.1 (but same on latest)
- devices test on: Windows

In my opinion this is more of bad design than a bug. When you call MoveTo::create(Vec2()) it does not preserve z coordinate. It took me a long time to figure out why my 2D animations weren't ordering correctly when placed in a 3D environment.

Steps to Reproduce:

1. Create a BillBoard
2. Add a few 2D Sprites to a billboa

[2017-08-14 01:37] dumganhar commented on #17989
@mori1234, I looked at the log and found that there were at least 3 threads (0x6201ec30, 0x65b19a78, 0x6eef6798) visiting `FileUtilsAndroid::getContents`.
That's the problem because `EventDispatcher` isn't thread safe.

Director::getInstance()->getTextureCache()->addImageAsync
and
SimpleAudioEngine preloadEffect used thread

As you said, you only use `addImageAsync` and `SimpleAudioEngine::preload

[2017-08-14 03:48] liuyi opened #18160 "How to upgrade AudioEngine from 3.10 to 3.51?"
- cocos2d-x version:3.10 JSB
- devices test on: Android/Ios

Hi, guys.
I want upgrade AudioEngine from 3.10(jsb) to 3.51, because there are lots of issues be fixed.
But can I only replace AudioEngine, and how to do it?

[2017-08-14 06:19] johnyxu commented on #17373
the same problem appear in cocos2d-js 3.10.
we use bugly to detect the crash,we can provide log to help fix the issue

[2017-08-14 09:19] MrCapone commented on #16900
@minggo should i push my [CmakeLists.txt](https://gist.github.com/MrCapone/ccdc1826cb7362086107e8096bfe6f90) as PR? It works good on cpp projects with `linux/gcc`, `macOS+clang`, `Windows+nmake`, also it generates valid projects for `Xcode (only macOS target)` and `Visual Studio 2013/2015/2017 (only win32 target)`. Also i changed macOS output target for generate valid macOS .app bundle.

[2017-08-14 09:28] v1993 opened #18161 ".gitignore for cocos2d-x"
Is there any `.gitignore` examples for cocos2d-x projects? It would be useful.

[2017-08-14 11:24] johnyxu commented on #17373
### #GLThread 2273(2273)
    SIGSEGV(SEGV_MAPERR)
    1 #00 pc 008e75a4 /mnt/asec/com.xxx.xxx/lib/arm/libcocos2djs.so (JSAutoCompartment::JSAutoCompartment(JSContext*, JSObject*)+8) [armeabi-v6]
    2 java:
    3 org.cocos2dx.lib.Cocos2dxRenderer.onDrawFrame(Cocos2dxRenderer.java:104)
    4 android.opengl.GLSurfaceView$GLThread.guardedRun(GLSurfaceView.java:1522)
    5 android.opengl.GLSurfaceView

[2017-08-14 11:41] qianwen36 opened #18162 "crash on loading csb at TextFieldReader::setPropsWithFlatBuffers"
- cocos2d-x version: 3.15.1
- devices test on: simulator on win32 or android
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:2013
   - browser type and version:

Steps to Reproduce:
1. make a scene with text field, generate .csb file
2. test with lua. when loading the file. it crash on following
[code]
It seems the TextFieldOptions::placeHolder() got a null pointer.

[2017-08-14 11:59] v1993 commented on #18161
My .gitignore for `frameworks/runtime-src/proj.android`:

    # Dirs
    /assets
    /bin
    /gen
    /libs
    /obj

    # Files
    /local.properties

[2017-08-14 12:03] v1993 commented on #18161
My .gitignore for project's root (only linux build, please help with other platforms):

    # Common place
    /simulator

    # Linux build
    /linux-build

    # Prerequisites
    *.d

    # Object files
    *.o
    *.ko
    *.obj
    *.elf

    # Linker output
    *.ilk
    *.map
    *.exp

    # Precompiled Headers
    *.gch
    *.pch

    # Libraries
    *.lib
    *.a
    *.la
    *.lo

[2017-08-14 12:08] v1993 commented on #17877
But what about linux?

[2017-08-14 12:09] v1993 commented on #18119
Does cocos2d-x implement its own require function?

[2017-08-14 14:36] madrazo opened #18163 "Missing game-controller-test for Windows msvc (and Linux)"
- cocos2d-x version: git
- devices test on: Windows
- developing environments
   - VS version: 2015 update 3

Hi. I am eager to test CController for Windows, as it is something I wished for a long time. I mean this commit https://github.com/cocos2d/cocos2d-x/commit/5dd81e758a874f42da9f42a216824edc566dd4b0

However in the tests\game-controller-test directory, there are only tests for android, ios a

[2017-08-14 16:51] madrazo commented on #18163
OK, I made it work and seems to be good. Even with 2 controllers at the same time. The only issue I had was that there are different mappings in the 3 controllers I had tested. These are a Windows controller, the Ps4 and de Xbox One controllers.  But this was expected. Thanks

[2017-08-15 03:25] dumganhar commented on #17989
Pull Request: https://github.com/cocos2d/cocos2d-x/pull/18165

[2017-08-15 06:08] qianwen36 commented on #18162
why the field 'isLocalized' was insert before 'placeHolder'? and I think the .fbs has some error

[2017-08-15 06:46] minggo commented on #18119
this function: https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/lua-bindings/manual/Cocos2dxLuaLoader.cpp

[2017-08-15 06:50] v1993 commented on #18119
This function doesn't understand pathes without `?.lua` at end, so it is a problem's source.

[2017-08-15 06:55] v1993 commented on #18119
It should replace `?` with module's name with `.` replaced with `/`. More details: https://www.lua.org/manual/5.1/manual.html#pdf-package.loaders.

[2017-08-15 09:23] minggo commented on #16900
Yep, thanks.

[2017-08-15 10:34] nicolechen819 commented on #17996
Hi @hussain-sohaib,
Maybe the solution can fix it: https://github.com/cocos2d/cocos2d-x/pull/17923/files

[2017-08-15 14:23] MrCapone commented on #16900
done https://github.com/cocos2d/cocos2d-x/pull/18167

[2017-08-15 16:10] gestern commented on #18137
Duplicates with #18125

[2017-08-16 09:46] #18163 closed, assigned to nobody

[2017-08-16 09:48] v1993 commented on #18119
I'm fixing it right now, and will open PR soon.

[2017-08-16 12:59] minggo commented on #17390
@SBJoker could you please add some comment of the PR: https://github.com/cocos2d/cocos2d-x/pull/18145? @newnon sent a PR based on your modification.

Thanks.

[2017-08-16 13:05] minggo commented on #17167
@bingle123 did you invoke `FontAtlasCache::purgeCachedData` in your game code?

[2017-08-16 13:27] vahagn-noorgames opened #18168 "Crash on dispatchEventToListeners caused by vector size overflow"
- cocos2d-x version: 3.15.1
- devices test on: Galaxy S6 Edge, SM-G532M, Galaxy Tab3 Lite, LG-M250, HUAWEI Y6 Compact
- developing environments
   - NDK version: r13b
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Throw a custom event
Here is the crashlytics callstack
![screen shot 2017-08-16 at 17 19 09](https://user-images.githubusercontent.com/31069

[2017-08-16 16:06] #17390 closed, assigned to nobody

[2017-08-16 16:06] minggo commented on #17167
fixed in https://github.com/cocos2d/cocos2d-x/pull/18145

[2017-08-16 16:06] #17167 closed, assigned to nobody

[2017-08-17 07:15] Namyi opened #18170 "cocos2d game crashed in Samsung DEX mode."
- cocos2d-x version:
- devices test on: Samsung S8
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Some COCOS2d game crashed in Samsung Dex mode. When I launch some game, Crash occurred
Please refer to below log

06-24 17:04:22.140 13645 13645 F DEBUG   : pid: 13464, tid: 13495, name: GLThread 72  >>> com.gtarcade.loa.ph <<<
06-24 17

[2017-08-17 08:16] v1993 commented on #18119
Pull request: #18171

[2017-08-17 09:21] liuyi opened #18172 "Got crash when lots of sprites executed update at js side(jsb)"
- cocos2d-x version:3.10
- devices test on:ios

Steps to Reproduce:
1.Class MySprite Extend cc.Sprite
2. override update with empty:

update:function(deltaTime){
          var _self = this;
            _self._super(deltaTime);
            return;
}
3. create more than 50 MySprite with texture( png ), and all open scheduleUpdate

4.Wait more some minutes, apps crashed...

How to avoid this problem,

[2017-08-17 09:43] zcgit commented on #18139
cocos creator的热更新在哪？

[2017-08-17 09:46] gclock56 opened #18173 "cc.view.resizeWithBrowserSize didn't work!"
- cocos2d-x version: 3.15.1
- devices test on: web browser (safari, chrome)
- developing environments
   - NDK version: 12b
   - Xcode version: 8.3.3
   - VS version: -
   - browser type and version: safari (10.1.2), chrome (60.0.3112.101)

Steps to Reproduce:

1. create a javascript sample project.
2. simple run 'cocos run -p web' and check it.

![resize_screenshot](https://user-images.githubuser

[2017-08-17 10:05] gclock56 opened #18174 "Can't repeat sequence action in JSB."
- cocos2d-x version: 3.15.1 (javascript)
- devices test on: iphone 6, galaxy s8
- developing environments
   - NDK version: 12b
   - Xcode version: 8.3.3
   - VS version: -
   - browser type and version: -

Steps to Reproduce:

1. create a sequence action and run it using RepeatForever.
2. In web, it works perfectly but it didn't in native devices.

[2017-08-17 12:19] sendsol commented on #18168
How can we get this issue looked at by the cocos-2dx team. This is a pretty critical crash that we need to solve.

[2017-08-17 12:48] minggo commented on #18168
is there any way to reproduce it?

[2017-08-17 12:49] minggo commented on #18168
@dumganhar could you please take a look?

[2017-08-17 15:37] pyrosphere commented on #17877
I have very little experience with Linux and don't know how icons work there, sorry. Someone else might know?

[2017-08-17 16:31] ahlwong commented on #13773
This is our biggest crash as well, it's still an issue in 3.15.0

[2017-08-18 01:17] dumganhar commented on #18168
@sendsol, could you reproduce this issue?
Please merge the patch https://github.com/cocos2d/cocos2d-x/pull/18165
and test it again.

[2017-08-18 06:42] liuyi opened #18176 "TransitionPageTurn source code mistake"
- cocos2d-x version:3.15.1

source code mistake:

[code]

[2017-08-18 09:55] jenthone commented on #18039
Sorry for my late reply. I have to try another way to use ParticleBatchNode with rotation.

    auto emitter1 = ParticleSystemQuad::create("Particles/LavaFlow.plist");
    emitter1->setRotation(90); // Not working for batchnote
    emitter1->setStartColor(Color4F(1,0,0,1));
    auto emitter2 = ParticleSystemQuad::create("Particles/LavaFlow.plist");
    emitter2->setStartColor(Color4F(0,1,0,1));

[2017-08-18 14:19] umair6 commented on #16581
@superrad @ricardoquesada
I am facing one crash in JniHelper class which, I think, is related to above discussion.
[Crash.txt](https://github.com/cocos2d/cocos2d-x/files/1234651/Crash.txt)

`#0. Crashed: ohs.egypt.slots|
0  libcocos2dcpp.so               0xa0117a84 std::__ndk1::__hash_table<std::__ndk1::__hash_value_type<_JNIEnv*, std::__ndk1::vector<_jobject*, std::__ndk1::allocator<_jobject*> >

[2017-08-18 23:35] deguilardi commented on #18016
@minggo Just found a workaround for this bug.

To reproduce this error in 100% of the cases: after receiving a rewarded video, logging in with facebook or any other activity change, after closing the activity, if any cocos call is made from the Java, the error occurs.

I tried a postDelay call and a runOnGLThread call, no success.
It works fine when I combine both as the following example:

[code]

[2017-08-18 23:38] deguilardi commented on #17988
not a cocos issue

[2017-08-18 23:38] #17988 closed, assigned to nobody

[2017-08-20 07:02] erikaemma opened #18177 "I can't build my cocos2d-x or cocos2d-x's project by Ubuntu 17.04."
- cocos2d-x version: 3.15.1
- devices test on: Ubuntu 17.04 x64
- developing environments
   - NDK version: I do not know.
   - Xcode version: I do not know what it is.
   - VS version: I do not know what it is.
   - browser type and version: firefox, but I do not know the version, and I do not use browser.

Steps to Reproduce:

1. download cocos2d-x-3.15.1.zip and unzip to /opt
2. apt-get install

[2017-08-20 08:38] orionnoir commented on #17981
I have this same exact issue on Android, using mac os. I have rolled the tools folder back to get around the `android` utility being missing (downgraded to r25.2.5.) But this is a new install of the Android SDK otherwise.

I've tried the `APP_DEPRECATED_HEADERS := true` in the android mk files to no avail. https://android.googlesource.com/platform/ndk/+/ndk-r15-release/docs/UnifiedHeaders.md

But

[2017-08-21 01:17] minggo commented on #17981
@orionnoir yep, since v3.16, we will ask QA team to use the same environment to test. And we will provide this information in README.

[2017-08-21 07:15] yingnierxiao opened #18178 "quick swich crash"
- cocos2d-x version: 3.13.1
- devices test on:
- developing environments
   - NDK version:10d
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  adb shell monkey -p packageName -v 500000
2. VolatileTextureMgr::reloadAllTextures  double call.

[2017-08-21 07:37] sasivarnan commented on #17866
@keppelcao Can you share how you used `OrbitCamera` with `javascript`?
Thanks in advance.

[2017-08-21 14:59] vahagn-noorgames commented on #18168
@dumganhar @minggo
We are not able to reproduce the issue by testing. However, It is causing crashes with a large percentage of our users. Can you please follow up further?

[2017-08-21 15:29] #17989 closed, assigned to dumganhar

[2017-08-21 15:30] minggo commented on #18168
@vahagn-noorgames i think you can merge #18165 and release a new version to test. The issue imported in v3.15.1.

[2017-08-21 16:24] stnguyen commented on #8305
@minggo same as what @Swipes13 described.
Basically it happens after:

1. App is put on background mode (either by pressing home button or by watching an ads)
AND
2. In background mode, change device orientation (or ad was played in another orientation compared to game)

[2017-08-21 17:14] Kotaiba opened #18179 "Android Touching the screen, Frame drop"
- cocos2d-x version: 3.15.1
- devices test on:S8
- developing environments
   - NDK version: android-ndk-r10e

Steps to Reproduce:

1. The game scene should be full with sprite but ,the Frame Rate almost 60 .
2.Try to touch any area on the device the frame will drop only when u touch the screen , Please note i did't register the touch yet so no touch code at all .please see the attached video
[IMG

[2017-08-22 02:10] minggo commented on #18177
sorry, we don't test on `Ubuntu 17.04 x64`, and we can not make sure of it

[2017-08-22 02:10] #18177 closed, assigned to nobody

[2017-08-22 02:13] minggo commented on #18179
how much frame rate dropped. Though you don't have any codes to handle the touch events, engine will receive these touch messages from OS and send it from java to c++.

[2017-08-22 02:14] minggo commented on #18178
what does it mean?

[2017-08-22 02:16] minggo commented on #18176
yep, seems a mistake.

[2017-08-22 02:17] minggo commented on #18174
please use v3 latest codes to have a try. v3 fixes some sequence issues

[2017-08-22 02:18] minggo commented on #18172
could you please provide a test case?

[2017-08-22 02:21] minggo commented on #18170
i will try to find S8 to test

[2017-08-22 02:23] minggo commented on #18162
It is because flatbuffer is updated, and the .fbs files seems not correct. The reader and flatbuffer will  be reverted in v3.16. So i suggest you revert them manually to fix it.

[2017-08-22 02:23] #18162 closed, assigned to nobody

[2017-08-22 02:25] gclock56 commented on #18174
I tested it latest version and check it again.
I found a trick solution.

If I added a blank callfunc at last sequence action then it works.

below is the code.
without blank callfunc it happens.

`this._node.runAction(new cc.Sequence(
            new cc.FadeIn(0.25),
            new cc.DelayTime(0.25),
            new cc.FadeOut(0.25),
            new cc.CallFunc(function(){})
        ).repeatFor

[2017-08-22 02:25] minggo commented on #18161
you can take a look of this file :https://github.com/cocos2d/cocos2d-x/blob/v3/.gitignore. And the ignore files depends your need, you can adjust them to meet your requirements.

[2017-08-22 02:25] #18161 closed, assigned to nobody

[2017-08-22 02:28] minggo commented on #18160
yep, you can update it yourself, but it is not easy to describe it. What i think are:

- replace AudioEngine folder
- fix compiling error
- update corresponding 3rd party libraries for audio
- update binding codes if needed

[2017-08-22 02:28] #18160 closed, assigned to nobody

[2017-08-22 02:35] minggo commented on #18158
Yep, you are right. There are many things that if you using in 3d environments. Node is designed for 2d environment, then 3d is asked and need to use the same codes as 2d by help developers move to 3d. Then 2d and 3d mixed but can not make all things work perfect.

I don't want to modify the codes to make 3d happy, because it can not fix all issues. As you said, it is a design issue.

[2017-08-22 02:35] #18158 closed, assigned to nobody

[2017-08-22 02:49] minggo commented on #18156
could you please provide a test case?

[2017-08-22 02:52] minggo commented on #18151
i think the effect is right. TintTo is a finite time action, it is not instant action. If you want to change the color without duration, you can set the color directly or use CallFunc to change the color.

[2017-08-22 02:52] #18151 closed, assigned to nobody

[2017-08-22 02:55] minggo commented on #18174
Will you try c++ to check if it is an issue of JSB?

[2017-08-22 03:37] gclock56 commented on #18174
I checked it using c++ code. Working great.

[2017-08-22 03:45] minggo commented on #18174
thanks, so it seems it is an issue of JSB.

[2017-08-22 06:35] Kotaiba commented on #18179
@minggo Frame drop to 45-50-52 frame (Randomly) ,this is clearly an issue ,if i did't touch the screen it will be 60-56. when i start touching it (No touch code at all on the scene) it will start dropping . you can see the attached video up top .

[2017-08-22 07:45] #16900 closed, assigned to nobody

[2017-08-22 07:48] bingle123 opened #18184 "CCEventDispatcher.cpp几率崩溃"
- cocos2d-x version:3.15
- devices test on:android
- developing environments
   - NDK version:android-ndk-r14b
   - Xcode version:8.3.3
   - VS version:
   - browser type and version:

问题规律总结:

1. 在响应触屏事件时，回调业务逻辑之前偶尔崩溃，与具体业务无关，在好几处业务场景都有发生
2.多次崩溃Crash reason总是SIGSEGV,Crash address不定，有时候是0x0，有时候不是。
3.崩溃最后指向都是setDirtyForNode-> _Rb_tree_insert_and_rebalance,tree.cc无源代码，应该是在标准std库里面。

breakpad抓捕分析后的调用

[2017-08-22 07:55] umair6 commented on #16581
@minggo Please have a look. We have several occurrences of above issue in our games.

[2017-08-22 07:59] minggo commented on #18016
Cool, did you mean should post a delay to invoke cocos codes when back from other activity?

[2017-08-22 08:07] Namyi commented on #18170
Thank you!
This is occurred when Game goes into onPause as soon as onResume.
Because Samsung DEX launch activity as ForcedResizableInfoActivity.
So google give a warning popup first. And it makes to move into onPause as soon as in OnResume.
---------------------------------------------------------------------------------------
08-17 07:10:34.125 11853 11853 D Cocos2dxActivity: ACTIVITY ON RESUME 

[2017-08-22 08:15] minggo commented on #18170
What does it mean? Only Samsung DEX do it like this?

[2017-08-22 08:21] minggo commented on #16581
sure, i will take a look tomorrow

[2017-08-22 08:49] Namyi commented on #18170
Yes right.

[2017-08-22 08:53] minggo commented on #18170
Is there any docs says it?

[2017-08-22 09:40] Namyi commented on #18170
what kind of docs do you mean?

[2017-08-22 10:02] minggo commented on #18170
Samsung DEX launch activity as ForcedResizableInfoActivity

[2017-08-22 10:08] Namyi commented on #18170
No I don`t have

[2017-08-23 01:22] minggo commented on #18170
Then how can you make sure that `Samsung DEX launch activity as ForcedResizableInfoActivity`?
And it is a pity that i can not find s8 to test.

[2017-08-23 01:46] zmox opened #18185 "recursive runAction bug or maybe cc.callFunc bug?"
- cocos2d-x version: 3.15.1 (js)
- devices test on: iphone

run below function _testAction() in scene :

[code]

in IOS platform: this recursive function will  random stop.
but in Android or html5 platform work well.

what is the problem?

[2017-08-23 01:46] zmox opened #18186 "recursive runAction bug or maybe cc.callFunc bug on ios platform?"
- cocos2d-x version: 3.15.1 (js)
- devices test on: iphone

run below function _testAction() in scene :

[code]

in IOS platform: this recursive function will  random stop.
but in Android or html5 platform work well.

what is the problem?

[2017-08-23 02:15] #18185 closed, assigned to nobody

[2017-08-23 02:28] Namyi commented on #18170
You can find it in log files like below.

///////////////////////////////////////////////////////////////////////////////////////////////
08-17 07:10:34.062 1213 1306 I am_create_activity: [0,128740244,1366,com.android.systemui/.stackdivider.# ForcedResizableInfoActivity,NULL,NULL,NULL,276824064,com.android
08-17 07:10:34.063 1213 1306 I am_focused_activity: [0,com.android.systemui/.stackdivider.F

[2017-08-23 03:02] minggo commented on #16581
@umair6 does the log you pasted from Fabric's crashlyitcs? Can release mode also generate such a crash call stack?

[2017-08-23 06:07] umair6 commented on #16581
@minggo  yes this is from Fabri'c crashlyitcs.  This log is from release mode build. Check attached crash.txt for complete log.

[2017-08-23 06:11] Shukalovich commented on #18151
But if I calculate duration dynamically and it passible to be zero. At this point I must write additional if statement like:  duration == 0.0f ? cocos2d::CallFuncN::create([](auto node) { node->setColor(color); }) : cocos2d::TintTo::create(duration, color).
Do you think it's normal? I think it's **redundant**.

[2017-08-23 07:20] minggo commented on #18151
May be you can change duration to 0.0001 when it is 0?

[2017-08-23 12:35] Shukalovich commented on #18151
Yes, I can. I already have done this. But it's not perfect for cocos2d API. I wasted some time in debugger while I looked up the problem in my code.

[2017-08-23 22:39] eligt opened #18187 "CMake build on Ubuntu 14.04 not working"
- cocos2d-x version: latest v3 from git   (e79f21c)
- devices test on: Kubuntu 14.04.1 LTS
- developing environments CMake

Seems like the CMake build on Ubuntu 14.04 is broken due to link errors.

First error:
[code]
This seems to be caused by using a version of `binutils` which is too new and incompatible with 2.24

Second error:
There are linking errors when building `CCGLViewImpl-desktop.cpp`

[2017-08-24 01:26] dumganhar opened #18188 "[Android] PcmAudioService::pause crash"
Reported at http://forum.cocos.com/t/bug/50296
![6cef365e8a69f924dfff1c4e4b4d36060a427e17](https://user-images.githubusercontent.com/493372/29611656-e4ef24a6-8830-11e7-9343-2eaa45eddc1d.png)

cocos creator 1.6.1.beta2
Device: 乐视 LE X620
System Version: Android 6.0,level 23

[2017-08-24 05:37] minggo commented on #18187
It is strange, i just tested it on ubuntu 14 yesterday, and didn't meet error.

[2017-08-24 06:58] MrCapone commented on #18187
@eligt
can you show your `cmake` command output?

[2017-08-24 07:06] minggo commented on #16581
fixed in https://github.com/cocos2d/cocos2d-x/pull/18189. Avoid using mutex for performance reason, because gl thread may be blocked if using mutex.

[2017-08-24 07:23] umair6 commented on #16581
@minggo
Thanks.
I will merge these changes and will let you know in case of issue.

[2017-08-24 09:22] MrCapone commented on #18155
`/usr/lib/gcc/x86_64-linux-gnu/crt1.o` provided by `libc6-dev` package,  check your version and reinstall it if needed.
Also read [this](https://stackoverflow.com/questions/7965437/undefined-reference-to-main-collect2-ld-returned-1-exit-status) and ckeck your main function at `proj.linuxf/main.cpp`.
At last try my new [CMakeLists.txt](https://github.com/cocos2d/cocos2d-x/blob/v3/templates/cpp-temp

[2017-08-24 11:30] eligt commented on #18187
[code]

[2017-08-24 13:26] v1993 opened #18190 "Slow travis-ci builds"
Travis-ci build often reaches time limit. Do you use ccache? If no, why?

[2017-08-24 16:01] v1993 opened #18191 "Bind steamworks to lua"
Is it possible (and how?) to bind precompiled steamworks libs to lua? They are closed-source, only headers a aviable.

[2017-08-25 01:32] #18119 closed, assigned to nobody

[2017-08-25 02:01] liuyi commented on #18172
After upgrade to 3.15.1, this problem looks like fixed already.
Thanks!

[2017-08-25 02:01] loyalwind commented on #17471
so can i use the following method ?
    objc_msgSend(BridgeObjc , sel_reigsterName("someMethod"));
Will Apple reject my app ?

[2017-08-25 02:04] minggo commented on #17471
I am not sure about it. That's why i don't send the PR.

[2017-08-25 02:10] minggo commented on #18172
thanks for the information

[2017-08-25 02:10] #18172 closed, assigned to nobody

[2017-08-25 02:24] loyalwind commented on #17471
i use clang -rewrite-objc .m , find [BridgeObjc   someMethod] is equal to objc_msgSend(BridgeObjc , sel_reigsterName("someMethod")); i'm not sure whether can i user rumtime method?

[2017-08-25 10:34] MrCapone commented on #18187
About websockets you can build your own lib and place it to `/home/user/sw/build/cocos2dx/source/external/websockets/prebuilt/linux/64-bit/libwebsockets.a`. Here is [official repo](https://github.com/warmcat/libwebsockets).

About GLFW. Lib path correct. Check `/usr/local/lib` that you have `libglfw3.a` there. Also you need glfw v3.2 or newer.

[2017-08-25 13:37] eligt commented on #18187
There is no libglfw3.a there, only libglfw3.so, looks like cocos2d-x is expecting a static library but the GLFW installed by install-linux-deps builds a shared library?

[2017-08-25 14:33] MrCapone commented on #18187
cocos can use shared libs, but i prefer static. install-linux-deps works fine. What link errors you got? Can you check glfw version you have? install-linux-deps must install v3.2. Also in /use/local/lib should be 3 files: libglfw.so.3.3, libglfw.so.3(symlink to libglfw.so.3.2) libglfw.so (symlink to libglfw.so.3).

[2017-08-25 14:48] eligt commented on #18187
Yup, it's 3.2. These are the errors:
[code]

[2017-08-25 15:10] MrCapone commented on #18187
For some reason linker cant find glfw at all. Can you show your `/usr/local/include/GLFW` and `/usr/local/lib` directories?

[2017-08-25 15:37] #11732 closed, assigned to nobody

[2017-08-25 16:18] eligt commented on #18187
[code]

[2017-08-25 16:19] eligt commented on #18187
I think the problem might be that the `/usr/local/lib` is not added as a library location as maybe install-linux-deps expects /usr/lib?

[2017-08-25 23:08] orionnoir commented on #17981
Thank you. Has there been any more developments? I just saw the announcement for 3.16. I am rolling back NDK/SDK/IDE versions to find a combo that works so we can proceed. Is there another resource we can tap on this to get the min/max requirements? I am looking at the 3.15.1 readme and starting with the following guidance:

If I understand you correctly starting with 3.16 the readme will also be

[2017-08-26 14:46] MrCapone commented on #18187
No. `install-linux-deps` build glfw-3.2 from sources and put it to `/usr/local/lib`. I really don't know why you have this problems cause everything looks good. You can try build glfw-3.2 by your self, even static lib as i did.

[2017-08-27 01:53] eligt commented on #18187
By adding manual references to /usr/local/include/GLFW and /usr/local/lib I was able to avoid those link errors. Websockets is still giving linking errors about OpenSSL, tried everything but just giving up at this point. I simply skipped building the cpp-tests project as I only really need to build my own project (and am not using websockets there).

[2017-08-27 01:53] #18187 closed, assigned to nobody

[2017-08-27 15:33] hotcoco11 opened #18193 "renderTexture->saveToFile() bugged for image alpha values"
- cocos2d-x version: 3.15.1
- devices test on: Windows

Steps to Reproduce:

Take any image that has transparent pixels in it and try to save it as a png using renderTexture. The transparent pixels will get added with the background color of the renderTexture despite setting the background's alpha channel to zero with clear(0,0,0,0). Below is the code I used:

[code]
So in the above case because I

[2017-08-27 15:42] Anywhere-Music-Player commented on #18193
@minggo I've reproduced this bug in the latest cocos.

[2017-08-27 15:48] Anywhere-Music-Player commented on #18193
Also http://discuss.cocos2d-x.org/t/rendertexture-savetofile-artifacts/38787/6

[2017-08-27 23:49] kyleYang opened #18194 "cocos2dx-lua android hot update problem"
- cocos2d-x version: 3.15.1
- devices test on:Android
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

EventAssetsManagerEx  to update the new version for my app
The iOS app can update the new version . I am use the lua version

I can not find any floder about my app in my phone under data/data , should I change t

[2017-08-28 01:13] zmox commented on #18186
anyone?

[2017-08-28 01:48] kyleYang commented on #18194
有人帮助我下吗

[2017-08-28 01:49] kyleYang commented on #18139
热更新我Android出现不能下载问题，能问下你吗？

[2017-08-28 02:25] continuemycoding commented on #18139
everything搜索下文件就知道在哪了 @zcgit @kyleYang

[2017-08-28 02:39] kyleYang commented on #18139
@gdboy ，我是用 cocos2dx-lua 的。没有用cocos creator。 而且我刚接触cocos2dx 。遇到好多坑。 我热更新在iOS上面是OK，但是在Android里面就不行。在Android的机器上面，也没有在data/data 路径下找到下载的文件。
整个社区，发现在github上面提问，被回答的比较慢。很急

[2017-08-28 02:43] gdboy commented on #18139
可能是https的问题，android和windows你试试http。@ykleYang

[2017-08-28 02:43] continuemycoding commented on #18139
可能是https的问题，android和windows你试试http。 @kyleYang

[2017-08-28 02:51] kyleYang commented on #18139
@gdboy 我这边没有用https，我只是简单的架设在阿里云的 oss上面。地址我刚看了是http的。在其他的人里面看到了https的问题。但是貌似我这边没有。

[2017-08-28 04:39] ZhouWeikuan opened #18195 "wrong parse for lua search path"
- cocos2d-x version: latest
- devices test on: any
- developing environments
   - NDK version: any
   - Xcode version: any
   - VS version: any
   - browser type and version: any

Steps to Reproduce:

1.  in file:  cocos2d-x/cocos/scripting/lua-bindings/manual/Cocos2dxLuaLoader.cpp
2.  at about line 80:
         std::string prefix = searchpath.substr(begin, next);

It will parse out a wrong path f

[2017-08-28 06:37] minggo commented on #17981
In previous we just min/max for to require NDK and Android Studio version. But we can not test all versions. What i mean is that, the QA team will only test on version of NDK and one version of Android Studio, other versions may work, but we can not make sure.

[2017-08-28 09:20] kyleYang commented on #18194
有人遇到过吗？

[2017-08-28 09:32] v1993 commented on #18195
I dont't know what are you talking about, look at git: https://github.com/cocos2d/cocos2d-x/blob/18709f38d14daf9c30c1eb382367ea9983c6347a/cocos/scripting/lua-bindings/manual/Cocos2dxLuaLoader.cpp#L76

[2017-08-28 10:06] blazekyo opened #18198 "Issue Linking CXX executable ../../bin/cpp-tests/cpp-tests"
/usr/bin/ld: ../../../external/websockets/prebuilt/linux/64-bit/libwebsockets.a(libwebsockets.c.o): unrecognized relocation (0x2a) in section `.text'

[2017-08-28 10:07] blazekyo opened #18199 "Issue Linking CXX executable ../../bin/cpp-tests/cpp-tests"
/usr/bin/ld: ../../../external/websockets/prebuilt/linux/64-bit/libwebsockets.a(libwebsockets.c.o): unrecognized relocation (0x2a) in section `.text'

[2017-08-28 10:23] j-jorge commented on #18026
@letrungtrung You can use the scrip below to build the updated library yourself. Please adapt it to fit your need.

[libwebsockets-cocos2d-x.txt](https://github.com/cocos2d/cocos2d-x/files/1256475/libwebsockets-cocos2d-x.txt)

[2017-08-28 10:26] continuemycoding commented on #18139
那我就不知道了，我那个问题是断点续传的问题，下载本身是正常的。 @kyleYang

[2017-08-29 01:08] kyleYang commented on #18139
@gdboy 嗯。好的，谢谢你了。

[2017-08-29 06:47] liuyi opened #18201 "3.15.1 setEndListener doesn't work any more."
- cocos2d-x version:3.15.1
- devices test on: android & ios native app
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

 var hero =  sp.SkeletonAnimation.createWithJsonFile(_self.res.anim.dd.spine_json, _self.res.anim.dd.spine_atlas, 0.18);
hero.anchorX = 0.5;
hero.anchorY = 0;
hero.setTimeScale(_self.roleAnimSpee

[2017-08-29 06:57] orionnoir commented on #17981
I think I know what caused the confusion (if proven to be true...) It was not clear to me what the '+' meant (I now think it means the 'minor' version value. e.g., 'r11a' or 'r11b' for the NDK to use. I indeed am looking for the exact tested android ide/tool versions for 3.15.1 at its release. I am reading between the lines that specifically NDK r11[a-z] (and NDK r11+ was not meant to mean r12 or

[2017-08-29 08:33] liuyi commented on #18201
Maybe I fixed this ：
Modified file:AnimationState.c
spTrackEntry* _spAnimationState_trackEntry (spAnimationState* self, int trackIndex, spAnimation* animation, int /*boolean*/ loop, spTrackEntry* last) {
	spTrackEntry* entry = NEW(spTrackEntry);
	entry->trackIndex = trackIndex;
	entry->animation = animation;
	entry->loop = loop;

	entry->eventThreshold = 0;
	entry->attachmentThreshold = 0;
	entry-

[2017-08-29 11:39] shaniamjad opened #18202 "Crash on Timeline::~Timeline"
- cocos2d-x version: 3.15.1
- devices test on: multiple Android devices from Crashlytics

I am getting crashes on crashlytics dashboard related to Timeline::~Timeline(). I have looked into the code and confirmed that from all places i am creating ActionTimelines are autoreleased objects and i am not releasing them.
However few users are getting the crash on scene switching OR when we call "cocostu

[2017-08-29 15:11] ZhouWeikuan commented on #18195
Checked.
It is in version 3.15.1/3.16,  you 've just fixed it 5 days ago?
 look #18171
Should be a dup.

[2017-08-29 15:27] orionnoir commented on #17981
NDK r11c compiles at the console with the latest Android SDK with the downgraded tools (downgraded to r25.2.5 using the Android SDK Manager)

ndk_r11c (March 2016)
Windows 32-bit : (http://dl.google.com/android/repository/android-ndk-r11c-windows-x86.zip)
Windows 64-bit : http://dl.google.com/android/repository/android-ndk-r11c-windows-x86_64.zip
Mac OS X 64-bit : http://dl.google.com/android/repo

[2017-08-29 20:02] v1993 commented on #18195
I think that `cocos2d-x version: latest` means `git version`. So my pull request already fixed it. Also, just for interest, you can check related question on stack owerflow: https://stackoverflow.com/q/45713055/5697743. You can close this issue, it is related to `next` milestone.

[2017-08-30 07:23] luomuhanxue commented on #15360
I have the same error on my Google Nexus 7 II.
cocos2dx version: v3.16 branch
android studio 2.3.3
compileSdkVersion 25
buildToolsVersion '26.0.0'
device:Nexus 7 II android 6.0.1

My project used the Cocos Studio to export csb, it works well on cocos2d-x3.10，but I test on 3.16 branch，It's always ouput this log on Nexus 7 II. I have test on other phone,it is ok!

[code]
Create a new lua project,tes

[2017-08-30 13:02] liqt opened #18205 "PU particle billboard TEXTURE_COORDS rotate type logic error"
- cocos2d-x version: 3.x
- devices test on: all
- developing environments
   - NDK version: all
   - Xcode version: all
   - VS version: all
   - browser type and version:

Steps to Reproduce:

The follow code is not right:

PUParticle3DQuadRender::render function line 176 &&177
         if (_rotateType == TEXTURE_COORDS){
            float costheta = cosf(-particle->zRotation);
            float

[2017-08-31 03:00] centny opened #18207 "Is android x86_64 supported? if not, why?"
- cocos2d-x version:3.15
- devices test on:android x86
- developing environments
   - NDK version:r14
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

I want to build the cocos app to android x84_64, but the prebuild is not cotained x86_64 library.

[2017-08-31 09:57] ZhouWeikuan commented on #18195
OK, thanks!

[2017-08-31 09:57] #18195 closed, assigned to nobody

[2017-08-31 17:58] umair6 commented on #17423
@dumganhar https://github.com/cocos2d/cocos2d-x/pull/18124 fixed issue for me on android side.

[2017-08-31 19:10] gaetandezeiraud commented on #17888
Hi,
I don't have the same errer, but with the last version of Tiled, 'getLayer' return nullptre and :
getMapSize().width return 0
getMapSize().height return 1077805056
Yet I have a 32 by 32 map...

If you have information about the support of this version I am taker.
Thanks.

[2017-09-01 01:10] dumganhar commented on #17423
@umair6 , thanks for your test. We will put the patch into v3.16.

[2017-09-01 03:21] bingle123 commented on #18184
这个问题应该可以定位了，跟UIWidget.cpp克隆有关。
void Widget::copyProperties(Widget *widget)
{
         ...
        _touchEventListener = widget->_touchEventListener;
        ...
}
这个是有问题的，克隆的widget与原widget共享一个_touchEventListener对象，想象一下任意一个克隆的widget对象与原widget对象析构了，释放了_touchEventListener，会怎样？

[2017-09-01 03:26] bingle123 commented on #18184
请触控的兄弟把上面的问题代码修复下-:) 我自己的代码是做了适时retain和适时release处理，问题已经得到解决。

[2017-09-01 03:40] dumganhar commented on #18184
I found this changes in https://github.com/cocos2d/cocos2d-x/pull/6885
I'm trying to make a simple demo for reproducing this issue.

[2017-09-01 03:46] dumganhar commented on #18184
[code]
@bingle123 , did you use this method for listening touch event? This method was deprecated,
Uses `void addTouchEventListener(const ccWidgetTouchCallback& callback);` instead.

[2017-09-01 05:47] dumganhar commented on #18184
@bingle123, could you provide a demo for reproducing this issue? Thanks.

[2017-09-01 06:07] liuyi commented on #18191
I think  of course!
You can write a Class  to wrap whole functions which you need.

[2017-09-01 09:38] qingwabote commented on #18088
And, I must reset glViewport to display the notification node after setNotificationNode on IOS
[code]

[2017-09-01 17:22] v1993 commented on #18191
But how can I add binary libraries for platforms for correct results? I'm working on linux.

[2017-09-01 21:05] mars3142 opened #18217 "Layout with PLIST can't stretch background image"
- cocos2d-x version: 3.15.1
- devices test on: macOS
- developing environments
   - NDK version: 16 (but also in 15)
   - Xcode version: -
   - VS version: -
   - CLion: 2017.2.2
   - browser type and version: -

Steps to Reproduce:

1. A call ala **layoutView->setBackGroundImage("Background.png");** will stretch the image to the content size of layoutView
2. If I pack the image with TexturePacker

[2017-09-04 11:59] vahagn-noorgames opened #18218 "cocos2d::Director::getInstance()->pause(); is commented in applicationWillResignActive"
- cocos2d-x version: 3.15.1
- devices test on: iPad Pro 9.7 iOS 10.3.2; iPad Air1 iOS 10.0; iPhone7 iOS 10.3.3
- developing environments
   - NDK version:
   - Xcode version: 8.3 (8E162)
   - VS version:
   - browser type and version:

Here are two methods from the AppController.mm

![screen shot 2017-09-04 at 16 00 39](https://user-images.githubusercontent.com/31069521/30025598-455d9374-918a-11e7

[2017-09-05 08:32] linyouhappy opened #18219 "base64Decode 和微信的sdk冲突"
- cocos2d-x version:3.15
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
base64Decode 和微信的sdk冲突   -all_load
1.
2.

[2017-09-05 14:59] tangyiyang opened #18220 "Is that possible to make the ParticleSystem.update() in another thread."
Cocos2d-x have got some performance issue when rendering particles. (5 particle emitter with 500 particle for each would consume 80% percent of CPU on iPhone 6S).

The caculations consumes most of the cycles, if we could do this in another thread, it would be much better.

Does anyone have done this? Have any suggestion?

Thanks in advance.

[2017-09-06 02:50] ghost commented on #17636
@prasannaboppe have you sove ?

[2017-09-06 06:36] jareguo commented on #17099
I think we should follow the guide to increase float precision. Cocos2d-x is serving for 2D games so it is not GPU bound in most case.

[2017-09-06 07:07] #16581 closed, assigned to nobody

[2017-09-06 07:08] minggo commented on #16581
@umair6 any update? If it can not fix the issue, then i will re-open it.

[2017-09-06 08:36] umair6 commented on #16581
@minggo  issue is fixed. Thanks.

[2017-09-06 10:38] umair6 opened #18225 "cocos2d::experimental::PcmAudioPlayer::prepare crash"
- cocos2d-x version:3.15.1
- devices test on: multiple devices
- developing environments
   - NDK version: r13b

Getting following crash on several android devices. Log is from crashlytics dashboard.

`Crashed: lots.wolf.magic|
0  libcocos2dcpp.so                                        0xa442b66a cocos2d::experimental::PcmAudioPlayer::prepare(std::__ndk1::basic_string<char, std::__ndk1::char_trait

[2017-09-07 17:54] yayawoo commented on #17475
请问这个问题有更新吗？

[2017-09-08 02:41] dumganhar commented on #15926
After merging this Pull Request, it breaks ShaderTest/ShaderRetroEffect.
Because `Label::getLetter(i)` will return `nullptr` if the letter is a `space`.

[2017-09-08 06:25] Bilalmirza commented on #17700
@minggo please update this... people have been asking for this for over a year.

[2017-09-08 06:32] BlackCatz94 commented on #18225
did you play .ogg file?

[2017-09-08 06:43] umair6 commented on #18225
@Sevellion  yes. I am playing .ogg files.

[2017-09-08 06:48] minggo commented on #17700
@Bilalmirza sorry about it, i will update it after releasing v3.16. I am busy with creator cpp support for a long time.

[2017-09-08 08:38] Bilalmirza commented on #17700
@Bilalmirza , the upgrade will not be in v3.15 since it's in RC now.I create an issue #17700 here.It will probably be in v3.16.
--
:( :( :( :( :(

[2017-09-09 10:48] jiteshwadia opened #18246 "New project doesn't run on ios and android"
Hi,

**Issue:**
I created my first project in cocos2d-x and its working only for web, but not for ios and android.

I have setup ANT_PATH path in .bash_profile too.

[code]

**log for ios,**
[code]

**log for android,**
[code]

**Steps to Reproduce:**
1. Create new project using: `cocos new MyGame -p com.myprofile.xyz -l js`
2. cd MyGame & than for ios, `cocos run -p ios`
3. for android, `cocos ru

[2017-09-09 16:39] #18220 closed, assigned to nobody

[2017-09-10 03:30] tom3q commented on #17256
FYI, the same spec restriction is enforced by Mesa-based drivers, e.g. i965 for Intel integrated GPU. Here is a Mesa issue, which resolved few similar problems as application bugs: https://bugs.freedesktop.org/show_bug.cgi?id=97532

[2017-09-10 10:08] stnguyen commented on #18116
I found the issue and made this pull request https://github.com/cocos2d/cocos2d-html5/pull/3520
Please try it out

[2017-09-10 16:23] williamxhero commented on #17424
cocos2dx is dead. if not for the legacy project, We will definite using Unity.

[2017-09-10 16:28] v1993 commented on #17424
@minggo do you agree with @williamxhero?

[2017-09-11 01:10] minggo commented on #17424
No, it is caused by Android SDK issue. I think i answered it above. You can use `cocos run -p android --android-studio` or copy tools folder from old Android SDK.

[2017-09-11 02:59] udzhou commented on #18173
In your project path  "frameworks/cocos2d-html5/cocos2d/core/platform/", edit file "CCEGLView.js" in 128 line , change "_orientationChanging: true" to "_orientationChanging: false", then it work.

[2017-09-11 04:08] udzhou opened #18248 "TMXTiledMap display black, cannot show image(size: 3168x1376, tiled size: 32*32),"
- cocos2d-x version: 3.15
- devices test on: web
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version: chrome 60

Steps to Reproduce:

1. in cocos2d-x 3.9，it work, but in 3.15 it do not work.
2. ios and android is ok.

[2017-09-11 09:05] xiaoweiLoveyou commented on #9446
这个解决了吗？？

[2017-09-11 10:40] Kotaiba commented on #8305
![screenshot_20170911-133626](https://user-images.githubusercontent.com/3635272/30270798-a0e9b918-96f6-11e7-8c68-f49f52b21c10.png)
@minggo  i got the same problem ,using cocos2d-x 3.15.1 . happen on android devices .i use sdkbox gps online when the matach started after finding players 80% of the label turn to white boxes . anyway i can fix it

[2017-09-11 12:09] minggo commented on #8305
@Kotaiba how did you fix it?

[2017-09-11 12:12] Kotaiba commented on #8305
@minggo  I did't ,Im asking for a fix :)

[2017-09-11 12:19] hussain-sohaib opened #18249 "Shaders not working properly for sprite made using Sprite Sheets"
- cocos2d-x version: 3.14.1, 3.15
- devices test on: iPhone6S Plus

[code]

if we make a sprite from an image in sprite sheet, than the shaders effect is not as should be. Sprite made like below produce the right effect. How can we fix it?
Sprite* star1=Sprite::create("Stars_1.png");

[2017-09-11 12:20] hussain-sohaib commented on #18249
@minggo @dumganhar   please have a look at this issue. Its urgent.

[2017-09-11 22:05] aataprian opened #18250 "ios"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2017-09-12 02:28] hussain-sohaib commented on #18249
hello,

the attached folder contains video for correct behavior and issue behavior. When we make stars from spritesheet the shader dont works correctly.

@minggo @dumganhar please have a look.

thanks

[spritesheetshaderissue.zip](https://github.com/cocos2d/cocos2d-x/files/1294541/spritesheetshaderissue.zip)

[2017-09-12 05:41] dumganhar commented on #18249
@hussain-sohaib , could you provide the shader and png/plist file?

[2017-09-12 05:42] hussain-sohaib commented on #18249
Ok i will email you now. Not here but on your email.

On Tue, 12 Sep 2017 at 10:41, James Chen <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-09-12 05:57] hussain-sohaib commented on #18249
I have emailed you the resources.

On Tue, Sep 12, 2017 at 10:42 AM, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-09-12 06:24] dumganhar commented on #18249
@hussain-sohaib I used the code you provide. But there are not any `xx` and `yy` uniform in your shaders. Did you forget something?

[2017-09-12 06:27] hussain-sohaib commented on #18249
Emailed you.

On Tue, 12 Sep 2017 at 11:25, James Chen <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-09-12 10:01] piotrros commented on #10523
Unfortunetly download-deps doesn't download cocos2d-console.
So you have also do this:

[code]

yet, still bin directory is missing and you have to copy it from downloaded zip (from github)

[2017-09-12 10:52] ty5236305 commented on #17755
@minggo this bug is really serious. Could you fix it?

[2017-09-12 14:25] v1993 commented on #10523
Correct way is using `git submodule update --init`, refer to readme.

[2017-09-12 15:34] #12126 closed, assigned to nobody

[2017-09-12 15:34] #12340 closed, assigned to nobody

[2017-09-13 00:56] minggo commented on #17755
@pandamicro please take a look.

[2017-09-13 02:51] gclock56 commented on #18173
@udzhou Thanks! Great solution. it works!!!

[2017-09-13 02:57] dumganhar commented on #18225
Try to replace the audio module in v3.16 branch and test again.
We have fixed some audio issues in v3.16 branch.

[2017-09-13 03:47] #17755 closed, assigned to pandamicro

[2017-09-13 03:56] ty5236305 commented on #17755
I try it and it works! Thank you! @minggo @pandamicro

[2017-09-13 07:53] piotrros commented on #10523
You're right, I forgot about this :)

[2017-09-13 11:40] continuemycoding opened #18261 "webview渲染有问题，如果后面有骨骼动画会一直闪屏"

[2017-09-13 11:41] gdboy commented on #18261
@dumganhar

[2017-09-13 20:36] siarsky commented on #17096
**HISTORY:**
An immersive mode was introduced in Android 4.4 (Kitkat), version code 19. This mode allows games to run in a full screen mode - which was then integrated into cocos2dx in a commit "hide virtual button by default" [8634773](https://github.com/cocos2d/cocos2d-x/commit/8634773be30d44184973341b5f91ab7bbdb41930#diff-248c9b86bb00b0acd8d41eb1aabbcf9c) on Jun 15, 2016 by minggo

This mode ha

[2017-09-14 08:20] gitForGunther opened #18265 "3.15版本new出来的lua项目，编译android，链接时报network/Uri.cpp regex未定义"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2017-09-15 10:11] shaniamjad opened #18277 "File Reading on UI Thread"
- cocos2d-x version: cocos2d-x-3.15.1
- devices test on: Samsung Galaxy S7
Steps to Reproduce:
Enabled StrictMode to investigate Possible ANR investigation on my game and got this violation in logcat. I am attaching the text file containing the Stack traces of all violations. These operations might leads to an ANR on android devices. so it would be great if these can be fixed? Thanks

Enabled Stri

[2017-09-15 11:12] #18249 closed, assigned to nobody

[2017-09-18 02:44] lin1314 commented on #18101
是64位的window系统，怎么跑 intall-deps-linux.sh

[2017-09-18 03:01] wzx110113627 opened #18280 "应用内跳转，切回来会处于半卡死状态。"
- cocos2d-x version:3.15.1

这个版本做应用内跳转的时候，如果跳转的应用也是用cocos2d-x 开发的，那么跳回来之后，应用处于半瘫痪状态。每秒4-5帧，且所有子系统，例如动画，音频，全部都不工作。 如果跳转的是其他非2dx应用，就没有问题.

[2017-09-18 03:05] yiyang-tang commented on #18280
Android or iOS?

[2017-09-18 03:07] tangyiyang commented on #18280
Android or iOS ?
可以多给一些细节么。

[2017-09-18 10:55] Kotaiba commented on #8305
@minggo After a lot of test ,i think enableOutline(Color4B(0, 0, 0, 255), 3); 90% of the time got the bug ,after stoping enableOutline the bug was 90% less.

[2017-09-18 14:19] gaetandezeiraud opened #18285 "Label::createWithTTF, text with accents does not show"
- cocos2d-x version: 3.15.1
- devices test on: Win32
- developing environments
   - VS version: VS Community 2017 - v.15.3.4
   - OS : Windows 10 Creators Update

**Steps to Reproduce:**
1. Use this simple code :
`
__String* tempHighScore = __String::createWithFormat("Démarrer");

	m_pBestScoreLabel = Label::createWithTTF(tempHighScore->getCString(), "fonts/arial.ttf", 42.0f);
	m_pBestScoreLabel->

[2017-09-18 14:31] bingsoo opened #18286 "Performance issue on android devices if set c++_static as APP_STL in application.mk"
- cocos2d-x version:3.15
- devices test on: Galaxy Note 3 (but it Happen on all android devices)
- developing environments
   - NDK version: 15
   - Xcode version: (this issue only happen on android devices)
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. set c++_static as APP_STL in application.mk file
2. build release. (only happen in release mode)

game will jitter ever

[2017-09-18 21:37] Pr05p3ro opened #18287 "[Proposal] Use Choreographer on Android for API >= 16 (stable fps)"
Being inspired by this pull requiest https://github.com/cocos2d/cocos2d-x/pull/17852
I have played with Choreographer on Android platform for some time.
https://developer.android.com/reference/android/view/Choreographer.FrameCallback.html

Choreographer's callback is called when a new display frame is being rendered and it provides the time in nanoseconds when the frame started being rendered.
Thi

[2017-09-18 23:53] Pr05p3ro opened #18288 "Android, unpredictable behaviour of onDrawFrame in case of default animation interval"
- cocos2d-x version: 3.15.1
- devices test on: Samsung Galaxy S7
- developing environments
   - NDK version: 15.2.4203891
   - Android Studio version: 2.3.3

I have noticed following problem in `onDrawFrame` implementation:
`Cocos2dxRenderer.sAnimationInterval` calculated in native code and provided to java via JNI is equal to `16666668` and `(long) 1.0 / 60 * Cocos2dxRenderer.NANOSECONDSPERSECOND

[2017-09-19 05:12] umair6 commented on #18188
@dumganhar I am facing this issue in my android app. Any update on fix?

[2017-09-19 06:31] Dauch commented on #18004
Issues happen again in #18188

[2017-09-19 07:07] rizwangaminations commented on #18188
@dumganhar i am facing similar issue as well.
![screen shot 2017-09-19 at 12 03 23 pm](https://user-images.githubusercontent.com/31472835/30579581-bdb92488-9d32-11e7-8e7e-cd96113c41da.png)

[2017-09-19 13:22] random25umezawa opened #18291 "RenderTexture shifts slightly"
- cocos2d-x version: 3.15.1
- devices test on: win32
- developing environments
   - NDK version: -
   - Xcode version: -
   - VS version: 2017
   - browser type and version: -

Steps to Reproduce:

1. When using RenderTexture to generate an image with width or height greater than 1024 pixel, the pixel shifts slightly, producing a stretched line (the overall size increases about 0.1% relative to th

[2017-09-19 16:48] devfat opened #18293 "websocket lib memory leaks when using for server"
- cocos2d-x version:  the lastest commit ( 0c5ba22  )
- devices test on: win32
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:VS2013
   - browser type and version:

Steps to Reproduce:

1. I use the cocos2d-x lastest websocket lib (HttpClient.h/cpp  HttpRequest.h/cpp HttpResponse.h/cpp WebSocket.h/cpp )
2. I use Setp 1 to create a server application to connect with

[2017-09-20 02:57] minggo commented on #17935
Win10 and Tizen are not supported in v3.16, so don't update them.

[2017-09-20 02:57] #17935 closed, assigned to minggo

[2017-09-20 03:29] minggo commented on #17252
I think it is fixed in https://github.com/cocos2d/cocos2d-x/pull/18145.

[2017-09-20 03:29] #17252 closed, assigned to nobody

[2017-09-20 03:43] minggo commented on #18286
Why you need to change to c++_static?

[2017-09-20 03:45] minggo commented on #18280
Please use english, at least you should paste google translate result with Chinese.

[2017-09-20 03:45] #18280 closed, assigned to nobody

[2017-09-20 03:45] minggo commented on #18265
Please create a new one in English.
Thanks.

[2017-09-20 03:45] #18265 closed, assigned to nobody

[2017-09-20 03:46] minggo commented on #18261
please use english to create a new one, thanks

[2017-09-20 03:46] #18261 closed, assigned to nobody

[2017-09-20 03:46] minggo commented on #18219
please use english to create a new one, thanks.

[2017-09-20 03:46] #18219 closed, assigned to nobody

[2017-09-20 03:48] minggo commented on #18184
please create a new one in english, thanks

[2017-09-20 03:48] #18184 closed, assigned to nobody

[2017-09-20 03:49] minggo commented on #18133
please create a new one in english, thanks.
You can use google translate to translate Chinese and paste them, such as
[code]

[2017-09-20 03:49] #18133 closed, assigned to nobody

[2017-09-20 03:50] minggo commented on #18130
please use english, thanks

[2017-09-20 03:50] #18130 closed, assigned to nobody

[2017-09-20 03:50] minggo commented on #18139
please use english, thanks

[2017-09-20 03:50] #18139 closed, assigned to nobody

[2017-09-20 03:54] gdboy commented on #18261
@minggo 问题没解决为什么关闭了？没用英语cocos官方人员看不懂？中国人交流一定要这么浮夸？

[2017-09-20 04:01] minggo commented on #18261
cocos不单是我们开发的，全世界的开发者共同维护的。如果每个开发者用自己的语言，那还怎么维护？如果你一定要用中文，可以到中文论坛: http://forum.cocos.com/。另外你可以用google translate来翻译成英文。请尊重非中文国家的开发者。谢谢。

cocos not only we developed, the world's developers to maintain the common. If each developer with their own language, then how to maintain? If you have to use Chinese, you can go to the Chinese forum: http://forum.cocos.com/. In addition you can use google tran

[2017-09-20 04:06] gdboy commented on #18261
@minggo 不伦不类的翻译我很难受，你喜欢英文你可以用英文来回复，我只希望你们能重视提出的bug，而不要纠结于语言，别人肯定不会用法语、德语、俄语之类的语言来和你们交流，这点你们可以放心。

[2017-09-20 04:07] gdboy commented on #18261
@minggo 提在这里你们都基本没重视，你让我提到中文论坛，那不是更石沉大海？

[2017-09-20 04:19] zcgit opened #18295 "opengl issues"
Can we just refresh the screen with target rect area, in some situation , for example, we play a 1080p movie in the GLView , we don't need clear all screen at every GL frame , we should refresh it just we received the new movie frame , or we can refresh the other rect area except the movie rectangle . I've tried the glScissor but no effect. can anyone give me some suggestion , thks all?

[2017-09-20 05:32] summerinsects opened #18296 "JNI value not released"
#18130

- cocos2d-x version: 3.13.1
- devices test on: 网易MOMO
- developing environments
   - NDK version: r10e

Steps to Reproduce:
in file `Java_org_cocos2dx_lib_Cocos2dxHelper.cpp`
When the function `conversionEncodingJNI` is called more than 512 times, it will crashes.
error messages are
E/dalvikvm( 3307): JNI ERROR (app bug): local reference table overflow (max=512)

line 144
[code]
The value

[2017-09-20 05:58] #18198 closed, assigned to nobody

[2017-09-20 05:58] minggo commented on #18199
what's your linux version?

[2017-09-20 06:27] #16959 closed, assigned to nobody

[2017-09-20 06:28] #16864 closed, assigned to nobody

[2017-09-20 07:14] dumganhar commented on #18261
@pandamicro

[2017-09-20 07:21] pandamicro commented on #18261
Hi, @gdboy WebView on web is a simple iframe on the same page, you can access to the iframe element by `webview._renderCmd._iframe`, I suppose you are facing some browser related bugs, normally, you can adjust the iframe's css to get things right. Please give it a try.

By the way, can you share the device, browser, browser version informations.

[2017-09-20 07:22] dumganhar commented on #18004
Since we could not reproduce this issue, could you merge the latest code of audio module in v3 branch and test it again?

[2017-09-20 07:25] dumganhar commented on #18188
@rizwangaminations , any way to reproduce this problem?

[2017-09-20 07:52] rizwangaminations commented on #18188
@dumganhar
I don't have any way to reproduce this bug, Only Crashlytics logs.
Logs indicate that App crashes while entering background.

I am are using
- cocos2d-x version:3.15.1
- NDK version: r13b
- file format: .ogg

[2017-09-20 08:00] dumganhar commented on #18188
But the crash stack looks weird. It has to be

PcmAudioService::pause
AudioPlayerProvider::pause
AudioEngineImpl::onEnterBackground

I mean the AudioPlayerProvider::pause is missing.

[2017-09-20 08:02] minggo commented on #18261
@gdboy you can use Chinese but you should paste the corresponding english(may be translated by google translate) too for other developers to join it. Thanks.

[2017-09-20 08:45] rizwangaminations commented on #18188
@dumganhar
I don't know why **AudioPlayerProvider::resume** is missing.
I am having same crash on my other apps as well with similar logs.

[2017-09-20 09:48] Dauch commented on #18004
OK，When it happen I will let you know.

[2017-09-20 12:26] yiyang-tang opened #18298 "OpenGLES 3 support."
A lot of devices have support OpenGLES3, (After iPhone 5S or Android 4.3) .
Could cocos support the ES3 correctly?

If we have ES3, we may be able to take full use of the GPU, and implement the ParticleSystem with `transform feedback` instead of the gl_PointSprite( this have a good performance but lack of scale and rotation).

We would benefit a lot performance when there were a lot of particles i

[2017-09-20 14:56] #18296 closed, assigned to nobody

[2017-09-20 17:02] #18076 closed, assigned to nobody

[2017-09-20 22:59] chizhanov opened #18302 "Clone SpriteFrame does not work correctly"
- cocos2d-x version: 3.13

Steps to Reproduce:

[code]
as a result of
`spriteFrame-> _textureFilename != cloneSpriteFrame-> _textureFilename;`

[2017-09-21 06:38] martianma opened #18303 "3.15.1 lua-tests run crush getProtocol(),help me,thank you"
- cocos2d-x version:**3.15.1**
- devices test on: **simulator**
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

![0e79843e-c716-492b-9935-5460ecff1797](https://user-images.githubusercontent.com/10465247/30681982-679839aa-9eda-11e7-80cc-015b9fc7e2b0.png)

[2017-09-21 07:27] shaniamjad commented on #18277
@minggo Can you please give it a look.. There are many violations inside cocos2dx.. Which may leads to ANR and right now our game is suffering from ANR's

[2017-09-21 07:55] bin-zhao opened #18304 "ListView::updateInnerContainerSize type conversion bug."
- cocos2d-x version: 3.14.1
- devices test on:
- developing environments
   - NDK version:
   - Xcode version: 8.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. It is a code bug, may be no view error. see code below:
[code]

[2017-09-21 07:57] minggo commented on #18277
[code]
Could you please describe it in more detail?

[2017-09-21 08:10] shaniamjad commented on #18277
Kindly paste this code it on onCreate method of AppActivity class and this code tells us on Logcat if we are doing any I/O operation on UIThread which is a violation on Android platform and this may leads to an ANR.
In the Logcat you can see violations logs similar to the one i have shared in the file. There are many violations i have noticed inside Cocos2dxActivity.java and Cocos2dxHelper.java. W

[2017-09-21 08:12] dumganhar opened #18305 "Provide a API for getting device identity"
As iPhone X has been released, it's an irregular screen rather than a rectangle screen.
Therefore, game elements need to be re-arranged for iPhone X.
But currently, there isn't an API for testing whether game is running on iPhone X.

Could refer to:
https://stackoverflow.com/questions/26028918/ios-how-to-determine-the-current-iphone-device-model-in-swift

[2017-09-21 08:17] #17244 closed, assigned to nobody

[2017-09-21 08:29] dumganhar opened #18306 "[iOS] Uses Asset Catalog for setting icon"
Could refer to :
https://developer.apple.com/ios/human-interface-guidelines/icons-and-images/app-icon/
https://developer.apple.com/library/content/qa/qa1686/_index.html

[2017-09-21 08:32] minggo commented on #18277
Thanks for the information. I will take a look ASAP.

[2017-09-21 08:42] #17561 closed, assigned to minggo

[2017-09-21 09:00] minggo commented on #18277
It seems all violations are cause in `Cocos2dxActivity.onCreate()`.

[2017-09-21 09:13] minggo commented on #18277
`and right now our game is suffering from ANR's` does your game meet ANR at startup?

[2017-09-21 09:25] shaniamjad commented on #18277
Correct, All violations noted on Cocos2dxActivity.onCreate(). By Looking at the ANR's its not really clear when this ANR is occurring.. but it does tell that an I/O operation is causing this. Which i found using this method. So i suspect that might be causing on some devices.

[2017-09-21 09:27] minggo commented on #18277
I will fix violations as possible, but i am not sure i can fix all, because some codes are sequence dependent.

[2017-09-21 09:35] shaniamjad commented on #18277
Thanks @minggo Your best is enough for me.

[2017-09-22 00:54] owen200008 opened #18308 "cnode zorder advice"
Node, zorder design, I personally think it does not need to be so complicated.
1. the join order have the draw order with the same zorder， we can supply the interface to change join order to change draw order， it is no need to set sort dirty。
2.also to support the setting of zorder to reorder

[2017-09-22 02:00] wnddpd01 commented on #18246
i think you dont have android-13 SDK

set your project min sdk or install sdk

[2017-09-22 02:12] wnddpd01 commented on #18207
check this http://www.cocos2d-x.org/wiki/Build_HelloWorld_on_android_x86_platform

you have to set Application.mk

[2017-09-22 02:14] minggo commented on #18277
I fixed some violations in https://github.com/cocos2d/cocos2d-x/pull/18309, there are two violations i can not fix:

- Activity.onCreate()
`Cocos2dxActivity.onCreate()` will invoke `Activity.onCreate()`, and Activity.onCreate() has violation, i have not idea how to fix it.
- loading .so file
`Cocos2dxActivity.onCreate()` will invoke `Cocos2dxActivity.onLoadNativeLibraries()` to load .so files. It

[2017-09-22 02:33] minggo commented on #18277
And @dumganhar has a suggestion that, can load libraries in static field, such as
[code]
Then all violations are fixed. But cocos2d-x can not use this method, because engine doesn't know the real `.so` name, should get the name dynamically. I put it here just for some developer that want to fix all violations. You can use this method because you know the real .so name.

[2017-09-22 02:46] minggo commented on #18306
I don't think we should use asset catalog, as [discussed here](http://discuss.cocos2d-x.org/t/iphone-x-slow-transitions-xcode-bug-and-not-full-screen-solved/38942).

[2017-09-22 10:20] Shukalovich opened #18314 "PageView switches to first page if its size changed"
- cocos2d-x version: cocos2d-x-3.15.1
- devices test on: iPhone 6
- developing environments
   - NDK version: -
   - Xcode version: Xcode8, Xcode9
   - VS version: -
   - browser type and version: -

PageView switches to first page if its size is changed. At this case PageView does not even fire event EventType::TURNING.

I try to free little space for ad banner, so my function receive abstract no

[2017-09-22 16:35] devfat commented on #18293
It‘s done.  I used the latest libwebocket (v2.3.0 [)](https://github.com/warmcat/libwebsockets) having a API named **lws_vhost_destroy**.  And when I destroy a websocket, I will destroy the vhost using **lws_vhost_destroy**.

[2017-09-22 16:36] #18293 closed, assigned to nobody

[2017-09-23 03:10] loohoo opened #18315 "feature request : 文本框省略号"
不知道能不能给 文本框(label, ricktext) 等文本框添加省略号功能？

[2017-09-23 08:11] Shukalovich commented on #18314
At first glance this strange behaviour is because PageView tries to change its innerContainer size from ScrollView. ScrollView is base class of PageView. When innerContainer size is changed ScrollView scrolls to beginning position of innerContainer.

[2017-09-23 08:37] Shukalovich opened #18316 "ListView jumps to first item if its size is changed"
- cocos2d-x version: cocos2d-x-3.15.1
- devices test on:  iPhone 6
- developing environments
   - NDK version: -
   - Xcode version: Xcode8, Xcode9
   - VS version: -
   - browser type and version: -

ListView jumps to first item if its size is changed.

I try to free little space for ad banner, so my function receive abstract node to change its size which contains ListView. Sizes are changed hier

[2017-09-23 08:38] Shukalovich commented on #18316
See dependent issue: PageView switches to first page if its size changed #18314

[2017-09-23 08:38] Shukalovich commented on #18314
See dependent issue: PageView switches to first page if its size changed #18316

[2017-09-23 13:42] pyrosphere commented on #18286
I don't know about bingsoo but I use c++_static instead of gnustl_static because it doesn't support some functions, like `std::to_string`.

[2017-09-23 14:02] ilqvya commented on #18286
Use this: http://www.boost.org/doc/libs/1_65_1/doc/html/boost_lexical_cast.html

[2017-09-25 01:28] #18277 closed, assigned to minggo

[2017-09-25 05:50] shaniamjad commented on #18277
Thanks alot @minggo I will integrate them into out game asap.

[2017-09-25 06:19] minggo commented on #18277
Sounds good, could you please let me know if it works.

[2017-09-25 06:22] shaniamjad commented on #18277
Sure. Will confirm on this thread after integration.

[2017-09-25 07:20] Shukalovich commented on #18316
My fast and temporal fix for this problem  in attachment. It has git patch format.
It fix only size changing. ListView scrolls automatically to the beginning If new item will be inserted in it. But I think it's not a problem because if you insert new item you can save current item index and after insertion you also can jump to needed item.

[ListView_PageView_Resizeing_Patch.diff.zip](https://gith

[2017-09-25 07:22] Shukalovich commented on #18314
My fast and temporal fix for this problem in attachment. It has git patch format.
It fix only size changing. PageView scrolls automatically to the beginning If new item will be inserted in it. But I think it's not a problem because if you insert new item you can save current item index and after insertion you also can jump to needed item.

[ListView_PageView_Resizeing_Patch.diff.zip](https://githu

[2017-09-25 11:40] lunicleonid opened #18318 "How can colorStops be used on android/ios when programming in Javascript?"
https://github.com/cocos2d/cocos2d-x/blob/f2db054edbd674b03dc84569919f5493744af52a/cocos/scripting/js-bindings/script/jsb_create_apis.js#L62

[2017-09-25 13:21] piotrros opened #18319 "Xcode 9 warning - possible misuse of comma operator here"
- cocos2d-x version: latest github source (25.09.2017)
- devices test on: N/A
- developing environments
   - NDK version:
   - Xcode version: 9.0
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Open any cocos2d-x project in Xcode 9.0.
2. I'm getting the following warning in CCAnimationCurce.inl file:
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/3d/CCAnimationCurve.in

[2017-09-25 13:38] formatCvt commented on #17395
same issue with itunes, game is paused with message "Audio session is still interrupted, pause director!"

[2017-09-25 14:43] d-bug opened #18320 "Scene cameras"
- cocos2d-x version: 3.15.1 May.27 2017
- devices test on: Windows 10/64
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: Microsoft VS Community 2017
   - browser type and version:

Steps to Reproduce:

Hi!
I am new to Cocos2d and had the same (worst!) problem. After some debugging I discovered that when a scene is created, a new camera is added. If you look closely

[2017-09-25 15:52] formatCvt commented on #17395
https://developer.apple.com/library/content/documentation/Audio/Conceptual/AudioSessionProgrammingGuide/AudioGuidelinesByAppType/AudioGuidelinesByAppType.html#//apple_ref/doc/uid/TP40007875-CH11-SW1
looks like AVAudioSessionSilenceSecondaryAudioHint is not implemented

[2017-09-25 18:39] siarsky opened #18321 "Performance issues with RenderTexture on non-iOS devices (Android, Windows)"
An application using RenderTexture, runs smoothly on iOS - rendering of 34 sprites takes ca. 200ms. The same operation takes 3420ms on Android.

A similar problem was observed on Windows Phone [http://discuss.cocos2d-x.org/t/solved-rendertexture-is-very-slow-on-3-7-versions/28055](http://discuss.cocos2d-x.org/t/solved-rendertexture-is-very-slow-on-3-7-versions/28055), where Yusel described an work

[2017-09-26 02:50] bingsoo commented on #18286
@minggo like @pyrosphere, I used c++_static to avoid some build errors on my project. I don't think this issue is major one since I can simply use gnustl_static instead but I created this issue to track or help someone who suffer debugging like me who set c++_static as APP_STL. If c++_static is not supported in android device, I think the cocos2d-x document should at least notice it.

[2017-09-26 03:06] minggo commented on #18286
We don't know if it is supported as we don't test it. So i can't say it is good or not as we don't have enough resources to test every situation.

[2017-09-26 03:09] zhangjiequan opened #18323 "The first character is disappeared at the head of a new line in UIRichTxt"
In some cases， the first character is disappeared at the head of a new line in UIRichTxt.

- cocos2d-x version:3.15
- devices test on:Windows7 64
- developing environments
   - NDK version:NA
   - Xcode version:NA
   - VS version:Visual Studio Community 2013
   - browser type and version:NA

Steps to Reproduce:

1. push two RichElementText， "캐릭터헤라클래스,로키,나폴레옹“，”획득시 물리공격+20%", into a RichText, and a

[2017-09-26 15:08] Anywhere-Music-Player commented on #18193
Hey @minggo currently I'm start using RenderTexture in my game and it's really broken.
It's renders that artefacts to my image. Thats really like urgent, because for other people RenderTexture is really used component.
Just take code and images to test from [this post](http://discuss.cocos2d-x.org/t/rendertexture-savetofile-artifacts/38787/6)

[2017-09-26 17:01] #18318 closed, assigned to nobody

[2017-09-27 02:04] dumganhar opened #18325 "Support to play wav audio on Win32"

[2017-09-27 06:13] JiekeZhu opened #18326 "ccui.ListView does not work when published to web with advanced mode."
- cocos2d-x version: cocos2d-x-3.15
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version: Google Chrome 1.0.3163.100

Steps to Reproduce:
1. Copy the needed test code from UIListViewTest.js to a empty project.
2. Publish the project with the following command.
    cocos compile -p web -m release --advanced
3. Run the run

[2017-09-27 12:15] piotrros opened #18328 "Please update spine runtimes to latest version"
After updating Spine to the latest version I'm no longer able to open skeletons.

- cocos2d-x version: 3.15 from github (27.09.2017)
- devices test on: iPad 2
- developing environments
   - NDK version: N/A
   - Xcode version: 9.0
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Acquire the latest Spine and save the model as binary (.skel extension).
2. call Skeleto

[2017-09-27 12:31] piotrros commented on #18328
I've also tried to replace spine runtimes by myself, but I'm getting tons of linker errors:

[code]

[2017-09-27 12:34] hussain-sohaib commented on #18328
Use runtime provided by spine run time esoteric software.

On Wed, 27 Sep 2017 at 17:31, mk <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-09-27 12:38] piotrros commented on #18328
This is exactly what I'm using (and getting these linker errors).

I've got them from here:
http://esotericsoftware.com/spine-runtimes

Just copy-pasted files from: spine-c and spine-cocos2dx.

[2017-09-27 12:47] hussain-sohaib commented on #18328
I am using the same and it’s working fine. Double check if you missed
something.

On Wed, 27 Sep 2017 at 17:38, mk <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-09-27 12:49] hussain-sohaib commented on #18328
Do check you are using branch 3.6 and latest version of spine editor.

On Wed, 27 Sep 2017 at 17:46, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-09-27 12:53] hussain-sohaib commented on #18328
Also clear you project and compile again.
Product press option clear build folder and than do normal clear and than
compile again.

On Wed, 27 Sep 2017 at 17:49, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-09-27 13:13] piotrros commented on #18328
Ok, I found out the problem: I had to re-add (drag&drop) all spine files to Xcode. Some files were missing.

BUT.. I've found an even more problematic issue. Now I have no problem with opening skeletons saved in the latest version, but I cannot open the old ones. And I have hundreds of these models in several games. There's no backward compatibility I see. Aaand I cannot re-save new ones with olde

[2017-09-28 01:53] kkuk6-dev628 opened #18329 "undefined reference to 'stderr'"
- cocos2d-x version: cocos creator v1.6.1
- devices test on: Samsung SHV-E330L (Android 5.0.1, API 21)
- developing environments
   - NDK version: 15.2.4203891
   - Xcode version: not using
   - VS version: VS 2015 professional 14.0.25431.01 Update 3
   - browser type and version: Google Chrome 61.0.3163.100 (Official Build) (64-bit)

Steps to Reproduce:

1. When I did set API level to 23 and comp

[2017-09-28 07:33] piotrros commented on #18328
More about this topic here: https://github.com/EsotericSoftware/spine-runtimes/issues/1006

[2017-09-28 11:20] hussain-sohaib opened #18331 "App icon issue"
- cocos2d-x version: 3.16
- devices test on: iPhone6S plus
- developing environments

   - Xcode version: Xcode 9.0

Since Xcode9 we need to send icon for App Store with in the build and we have to use asset catalog for that. I tried to add Assets.xcassets but icon is not showing on phone. Can you @dumganhar @minggo please have a look.

I got error while uploading the build.

@dumganhar check your

[2017-09-28 11:25] hussain-sohaib commented on #18331
here is contents.json I am using.

{
	"images": [{
			"idiom": "iphone",
			"size": "20x20",
			"scale": "2x",
			"filename": "Icon-App-20x20@2x.png"
		},
		{
			"idiom": "iphone",
			"size": "20x20",
			"scale": "3x",
			"filename": "Icon-App-20x20@3x.png"
		},
		{
			"idiom": "iphone",
			"size": "29x29",
			"scale": "1x",
			"filename": "Icon-App-29x29@1x.png"
		},
		{
			"idiom": "iphone",

[2017-09-28 20:06] v1993 opened #18332 "How to keep listener attached to node enabled"
- cocos2d-x version: git

As I know keeping node priority listener enabled is impossible righ now. But I want to keep listener enabled (update text lablels on changing language), so I've got some suggestions. Using fixed priority is very bad idea: it is a library, and I should remove listener with node. But a small question at first: will be child listeners called if its node is disabled? I'll sha

[2017-09-28 20:07] v1993 commented on #18332
@minggo it require some discussion.

[2017-09-29 01:18] minggo commented on #18332
Sorry, i don't quite understand the issue. Could you please write some codes to describe it? @dumganhar will you please take a look?

[2017-09-29 01:39] dumganhar commented on #18331
I found that there are 4 icons which are `unsigned`. You could delete them and try again.
You could also try to use `Images.xcassets` below to check whether it works.
[Images.xcassets.zip](https://github.com/cocos2d/cocos2d-x/files/1342795/Images.xcassets.zip)

It has high probability that you have done something wrong.

[2017-09-29 05:53] hussain-sohaib commented on #18331
Hello,

I fixed the icon issue, the issue was i had not selected target Membership for
assets.xcassets. But now since we are using assets catalog launch screen
turns black with story board.

For launch screen I kept it to use assets catalogs.. which means its not
connected with catalog as you did with launch screen.

Now what?

Thanks

On Fri, 29 Sep 2017 at 06:40, James Chen <notifications@github

[2017-09-29 08:26] dumganhar commented on #18331
![50e9b149-2dcd-4b8a-82f1-5561082be43b](https://user-images.githubusercontent.com/493372/31007331-dd09d89c-a4c5-11e7-877e-d6315f73caca.png)
If you want launch screen to use `Assets Catalogs`, you need to select the second configuration.
And leave empty for `Launch Screen File`.

[2017-09-29 09:11] minggo opened #18334 "All effects will be canceled if play many effects at the same time and turn to background on iOS"
- cocos2d-x version: 3.6
- devices test on: iPhone5s(10.2.1)   iPhone 6S(10.3.3)
- Xcode version: 8.3

1. play many effects at the same time
2. click HOME to make app into background
3. make app to foreground
4. all effects will lost even invoke codes to resume effects

Use `SimpleAudioEngine`.

[2017-09-29 11:17] v1993 commented on #18332
I'll try to describe it better. There is some node on scene. We attaches custom listener to it, then leaves scene and node auto-disablels attached listener, so emiting correspondenting evend will not trigger listener. I want a way to still call listener, whether it on current scene or not.

Current behavior:

    Create SCENE
    Create SCENE2
    Create NODE
    Create LISTENER
    Add NODE to SC

[2017-09-29 11:40] Bilalmirza commented on #18332
you expected behaviour is wrong... If the scene is changed everything is deleted from previous scene ... triggering the listeners can cause a lot of crashes.

[2017-09-29 11:46] v1993 commented on #18332
W... what?! So how can I visit the same scene twice?!

[2017-09-29 17:59] Bilalmirza commented on #18332
are you calling replaceScene()?

[2017-09-29 19:52] v1993 commented on #18332
Emmm... yes. Or `pushScene`, or anything else...

[2017-09-30 23:18] hussain-sohaib commented on #18331
Hi,

I have solved this issue. Kindly send me 1536x1536 cocos icon and I will send a Xcode project with correct configurations for App Icons and Launch images.

But I don't have iPad pro so you guys will have to test it on iPad pro. I didn't used simulator because it is very slow.

thanks.

[2017-10-02 10:34] Bilalmirza commented on #18331
@hussain-sohaib FFS use the forum for your problems... You keep on making these issue for every little problem you have...  Plus before posting do some simple research... try google!!!!!

[2017-10-02 19:32] perminovVS commented on #18285
Some of my players also have a similar problem, on Win32 and Android.

[2017-10-03 08:56] piotrros commented on #18328
Can we update it with 3.16 @minggo ? Replacing spine files is easy, but you have also drag & drop files in xcode and modify jsb_cocos2dx_spine_manual.cpp (I don't need js so I just commented everything :D)

[2017-10-03 10:38] piotrros commented on #18328
To get this working on android you have to add:

Array.c \
ClippingAttachment.c \
Color.c \
PointAttachment.c \
SkeletonClipping.c \
SkeletonTwoColorBatch.cpp \
Triangulator.c \
VertexEffect.c \

in cocos/editor-support/spine/Android.mk.

[2017-10-03 17:05] hussain-sohaib commented on #18331
Please see the attached project. this has the correct way of adding icons and lauchimage.storyboard configurations and thats how I solved this issue.

[proj.ios_mac.zip](https://github.com/cocos2d/cocos2d-x/files/1353203/proj.ios_mac.zip)

[2017-10-03 18:13] v1993 commented on #18332
Anyone?

[2017-10-04 03:43] G17hao commented on #18188
@dumganhar
this stack information is the release version, the call may be optimized by the compiler.

[2017-10-04 06:20] f4th4n commented on #15137
I fix them by running this command

`sudo ldconfig -v`

[2017-10-04 08:59] #18331 closed, assigned to dumganhar

[2017-10-04 09:55] seventhrank opened #18341 "SimpleAudioEngine playEffect() not work"
Short sound does not work.
[sample_sound.zip](https://github.com/cocos2d/cocos2d-x/files/1355298/sample_sound.zip)

other sound for 1 second or more is work.

- cocos2dx 3.15 & 3.16

- devices test on:
iPhone6, 6s, 7 (iOS 10, 11) work
Nexus5 (android 4.4.2) work
Nexus7 2013 (android 5.0.2) ".wav" not work
Huawei P9 Lite (android 6.0) work
FREETEL Raijin (android 7.0) work
Galaxy s8 (android 7.0) "

[2017-10-04 10:26] piotrros opened #18342 "Gap between sound loop"
- cocos2d-x version: 3.16
- devices test on: Nexus 6P
- developing environments
   - NDK version: r13b
   - Xcode version: 9.0
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

So, in my app, I have a music playing in a loop. It's 26 seconds long.

On iOS I'm using caf file format and it works fine.
On Android, I tried using wav (2.3 MB) or ogg (217 KB). Tried different

[2017-10-05 06:37] piotrros commented on #18342
@mingoo can you take a look?

[2017-10-05 09:34] saganhim commented on #18033
Try remove all components using MASK in your objects.  I did remove it and see a good ferformence on this devices. But i don't know the way implement and replace some UI using Mask such as ScrollView, Node Mask, ImageView, ....

[2017-10-06 15:24] AwaisQmar commented on #17423
@dumganhar , this issue is reproducing again and causing a lot of crashing.

Crash log is as following:

0  libcocos2dcpp.so               0x9d1a5aa8 std::__ndk1::__function::__func<cocos2d::experimental::PcmAudioPlayer::prepare(std::__ndk1::basic_string<char, std::__ndk1::char_traits<char>, std::__ndk1::allocator<char> > const&, cocos2d::experimental::PcmData const&)::$_0::operator()(cocos2d::exp

[2017-10-07 14:43] akk0rd87 opened #18349 "Font: Distance Field Label Shader"
- cocos2d-x version: 3.15
- devices test on: Windows Desktop 10
- developing environments
   - NDK version: android-ndk-r10c
   - Xcode version:
   - VS version: 2013 Express Edition
   - browser type and version: Google Crome.

Steps to Reproduce:

I use TTF with Distance Field Mode. When I scale down font using setScale method it looks little bit fuzzy.

![First image](http://discuss.cocos2d-x.o

[2017-10-08 16:42] yuriilychak opened #18353 "Terrible performance of spine on native platform."
- cocos2d-x version: 3.15.1 JS
- devices test on: PC Ubuntu 16.04. Mac mini late 2012. IPhone 5c,
- developing environments
   - browser type and version: Chrome 61

Steps to Reproduce:

1. Create a lot of spine animations (for example 3000) from one atlas.
2. Add to stage and change visible of 2990 of them to false.
3. Have FPS near 5 frames.

On browser all works fine, but on native I think some

[2017-10-08 16:48] yuriilychak commented on #18326
What code you copy? I use list view and in my case all work fine, except terrible performance (but it ease to fix).

[2017-10-09 03:07] georges-berenger commented on #16492
FWIW, we just ran into the same issue on Windows, with release & debug builds alike, 100% reproducible. Merely switching to CRTDocument magically resolved our issues. We are building for MacOS, Ubuntu, Android and Windows.
It seems to me that this isn't a platform or compiler issue, but rather, a bug in the default MemoryPool allocator that some are running into, probably because of some complex c

[2017-10-09 03:08] dumganhar commented on #18342
The gap is caused by `OpenSLES` internally, when the ogg file size is bigger than 128K, we use `UrlAudioPlayer` for playing audio. `UrlAudioPlayer` streams and mixes audios in system side
 which cost a lot. The implementation of `UrlAudioPlayer` is really simple, just some invocations of `OpenSLES` so I could confirm that it's the bug of Android.

For the further, we need to deprecate `UrlAudioPla

[2017-10-09 03:40] miloyip commented on #16492
@georges-berenger Is it possible to make a minimal reproducible example?

[2017-10-09 04:40] georges-berenger commented on #16492
Unfortunately, no. I've spent a nice chunk of time trying to make the issue happen in our unit tests, but I was unable to get anything there.

The issue started happening after we made a very unrelated project change, but then, it would happen 100% of the time on the same very "innocent looking" rapidjson code after making a call to SetString(const char*, size, alloc) and returning the rapidjson::

[2017-10-09 11:58] shaniamjad commented on #18277
Sorry for the late update.. I have integrated the changes and it removed most of the violations. I hope that now i see less ANR's in my game. Thanks @minggo and @dumganhar for your help

[2017-10-09 12:27] formatCvt commented on #17395
any news?

[2017-10-09 12:28] v1993 commented on #18332
@minggo I need a help!

[2017-10-09 13:42] piotrros commented on #18342
So, in other words, it works like that:

1) when file is smaller than limit it's loading a whole file
2) limit is needed because the whole file is loaded and it can cause memory problems and/or long loading on bigger files. Instead, it should use streaming, but it's not implemented yet.
3) as a workaround, it's using UrlAudioPlayer for bigger files, but it has its downsides such as audio won't loo

[2017-10-10 06:02] dumganhar commented on #18342
Other platforms like `macOS`, `iOS`, `win32` which are using `OpenAL` for the backend of AudioEngine is support streaming.
Streaming is needed to be implemented for Android only.
Basically, we need to implement a `partial audio decoder` rather that `whole file decoder`.
`tremolo` which is used for decoding `ogg` files and `pvmp3dec` for decoding `mp3` files should support partial decoding since `A

[2017-10-10 06:43] dumganhar commented on #17395
Try to merge this patch https://github.com/cocos2d/cocos2d-x/pull/18146 and test again.

[2017-10-10 06:53] ShuraLiu opened #18358 "Can't get the duration of audio correctly"
- cocos2d-x version: 3.15
- devices test on: ios
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. preload any audio file with experimental::AudioEngine
2. call experimental::AudioEngine::play2d
3. call experimental::AudioEngine::getDuration, and it returns -1
The reason is :
1. in AudioEngineImpl::_play2d, Audi

[2017-10-10 07:49] dongzhejia opened #18359 "catch crash of Cocos2dxDownloader from bugly"
- cocos2d-x version:3.10
- devices test on:android
- NDK version:android-ndk-r10e
can not Reproduce
如下：
 @![image](https://user-images.githubusercontent.com/7333084/31374748-b410ab0e-add1-11e7-95f3-8656ab1bd44e.png)
![image](https://user-images.githubusercontent.com/7333084/31375172-3f10d462-add3-11e7-8e8d-95596eaa326b.png)

@minggo @pandamicro @dumganhar @pwang08

[2017-10-10 07:59] dongzhejia opened #18360 "catch crash of Cocos2dx3.10 from bugly"
- cocos2d-x version:3.10
- devices test on:android
- NDK version:android-ndk-r10e
can not Reproduce
如下：
![image](https://user-images.githubusercontent.com/7333084/31375385-eab3eea8-add3-11e7-8d61-30a7b4b373dd.png)

@minggo  @dumganhar

[2017-10-10 08:02] dongzhejia opened #18361 "catch crash of Cocos2dx3.10 from bugly"
cocos2d-x version:3.10
devices test on:android
NDK version:android-ndk-r10e
can not Reproduce
如下：
![image](https://user-images.githubusercontent.com/7333084/31375490-591914a4-add4-11e7-835e-54810ffe1bab.png)

@minggo @dumganhar

[2017-10-10 08:54] minggo commented on #18360
duplicated with https://github.com/cocos2d/cocos2d-x/issues/18361

[2017-10-10 08:54] #18360 closed, assigned to nobody

[2017-10-10 13:53] piotrros commented on #18341
SimpleAudioEngine sucks, just saying
try AudioEngine, it has it's problems, but less than SimpleAudioEngine :)

[2017-10-10 13:56] piotrros commented on #18342
Seems hard, I don't think I have enough knowledge about audio to do this :( But this needs to be fixed. Why audio on Android has so many problems :( ?

[2017-10-11 02:11] linyouhappy opened #18362 "[aurioc] 1411: AUIOClient_StartIO failed (1852797029)"
- cocos2d-x version:3.15
- devices test on:iphone7 iOS11

CocosDenshion.m
- (BOOL) _initOpenAL

204 line
 context = alcCreateContext(newDevice, 0);
app run in here occur a error.
[aurioc] 1411: AUIOClient_StartIO failed (1852797029)

[2017-10-11 03:39] linyouhappy commented on #18362
It is a big error.the app will be slow when play music.

[2017-10-11 03:41] linyouhappy commented on #18362
AUIOClient_StartIO failed  and no any sound.

[2017-10-11 08:55] ermanhaskan commented on #11449
Hello everyone. We have encountered this issue on some of our devices in the latest version and it is incredibly rare. We have managed to fix it. The cause of this issue is DispatchGuard in CCEventDispatcher.cpp does not work properly sometimes and _inDispatch remains 2. That's why touches are not sent to listeners anymore. We found that this was caused by EventDispatcher::dispatchEvent(Event* eve

[2017-10-11 09:15] dumganhar commented on #11449
`EventDispatcher::dispatchEvent` should not be invoked in non-cocos thread.
You could wrap the runnable method to be executed in cocos thread like:

[code]

[2017-10-11 09:22] ermanhaskan commented on #11449
We are not sending any events manually or using dispatchEvent function in our code. We just use regular touch listeners created in scene init functions. This issue occur very rarely and sometimes occurs immediately at launch. We had to launch the game about 25 times to experience this issue at each try.

[2017-10-11 11:12] b1joker opened #18363 "Crash if key not exist in rapidjson"
- cocos2d-x version: 3.16
- devices test on: iphone6s
- developing environments
   - NDK version: r10d
   - Xcode version: 8.3.3
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. I'm load file json
2. if "key" rapidjson::Document not exist, crash before jump to function check IsNull

[2017-10-11 22:14] cirosantilli commented on #18177
also raised at: http://discuss.cocos2d-x.org/t/cocos2d-v3-out-of-the-box-build-hello-world-bullet-linker-error-ubuntu-16-10/39104

[2017-10-11 22:43] angelvet opened #18364 "EditBox crash"
- cocos2d-x version: v3.16
- devices test on: Motorola Xoom
- developing environments
   - NDK version: r12b
   - Xcode version:
   - VS version:2015
   - browser type and version:

After upgrading my project to cocos2d-x v3.16 my game started to crash occasionally when I update text in EditBox.

Steps to Reproduce:

1. Set focus to EditBox, virtual keyboard pops out
2. Update value in EditBox and

[2017-10-12 06:30] akk0rd87 commented on #9255
Just look at this thread please http://discuss.cocos2d-x.org/t/test-for-issue-9255-crashed/39439.

[2017-10-12 08:30] dumganhar commented on #18364
It was fixed at https://github.com/cocos2d/cocos2d-x/pull/18330 .
This patch isn't in v3.16.

[2017-10-12 09:17] JethroSovr commented on #13752
Does it support now?

[2017-10-12 09:20] VisualSJ commented on #13752
It has been supported.

[2017-10-12 11:30] angelvet commented on #18364
Thanks

[2017-10-12 19:35] cirosantilli commented on #15137
I needed:

[code]

Note that `readelf -a cpp-tests` tells us that the full path to that folder is hard coded in the binary:

     0x000000000000001d (RUNPATH)            Library runpath: [/path/to/git/cocos2d-x/external/linux-specific/fmod/prebuilt

so we need to put `libfmod.so.6` there.

@minggo the file `libfmod.so.6` is still not present inthe prebuilts: https://github.com/cocos2d/cocos2d-x-3r

[2017-10-12 19:48] cirosantilli commented on #18177
I managed to make it work!

The problem seemed to be with the pre-built binaries for bullet present at: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/tree/15149f454f6cf30652ee3df35b3b7fac26c4da28/bullet/prebuilt/linux/64-bit so I compiled them from source again and replaced the pre-built ones (TODO: maybe you have to also apply https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/pull

[2017-10-13 00:33] JethroSovr commented on #13752
I have load the music res.test_music,
Then I used  "cc.audioEngine.playMusic(res.test_music,true);"  to play audio.
the web on Android is ok, it can autoplay and loop the music.
but web on iOS, it cant autoplay, when i touch screen,it playe once, and no loop , any idea?

[2017-10-13 01:12] minggo commented on #15137
libfmod is downloaded directly by running `build/install-deps-linux.sh`.

[2017-10-13 01:49] VisualSJ commented on #13752
This is very helpless...

First, audio is divided into webaudio and dom.
Background music use dom playback.

For ios, music, which is played on the dom, must be the user's touch screen to play.
We don't recommend using webaudio here, because the memory consumption is too high.

If you want to try, you can put the `effect` code into `music`:

https://github.com/cocos2d/cocos2d-html5/blob/develop/co

[2017-10-13 02:13] JethroSovr commented on #13752
My effect code is like this...
I set web on iOS music cant loop , only played once.Then touch screen it not play yet .
Any alternative solutions？ We want the background music loop play, not once.Thx for review.

[2017-10-13 02:20] shrimpz commented on #9255
I can't logon on discuss.cocos2d-x.org
run the testcase, no crashed, is normal
if the issue is not fixed, run this testcase will be crashed.

[2017-10-13 05:04] BlackCatz94 commented on #18341
best use .ogg for android

[2017-10-13 05:07] BlackCatz94 commented on #18353
if you create a lot of spine with same json, make sure to batch create.

[2017-10-13 06:04] piotrros commented on #18341
Even with .ogg there are many problems :)

[2017-10-13 07:16] dumganhar opened #18368 "[iOS] Audio isn't paused while double pressing home button"

[2017-10-13 12:47] yuriilychak commented on #18353
@Sevellion Batch isn't important. I mean if I create 3000 spine animations from one atlas they are batching in the same draw-call. The problem is when i create 3000 animations and set visible of 2990 (they are don't render, because invisible) of them to false, change rate to 0 to stop animation an unschedule update (to stop calculating animation transformation), I have 4 fps, and I think even when

[2017-10-13 15:09] CdrJamison opened #18369 "setCascadeColorEnabled() does not work correctly for MenuItemImage"
- cocos2d-x version:
cocos2d-x-3.15.1 May.27 2017

- devices test on:
Windows 10 UWP
Visual Studio 2015

Steps to Reproduce:

1.  Create a MenuItemImage
2.  Call setColor on the MenuItemImage
3.  Call setCascadeColorEnabled(false) on the MenuItemImage
4. The MenuItemImage will not be tinted by the colour

eg.

    auto menuItem = MenuItemImage::create("white_image.png", "white_image.png", callback

[2017-10-13 19:08] StevenCoober opened #18370 "https://github.com/loopj/android-async-http/issues/990"
request failure with reason：failed to connect to localhost/127.0.0.1

Android latest version is 26, and android-async-http.jar is not used, i hope cocos could replace this jar to new version because this issue is appeared in github more times, the android-async-http author is update to it, but the newest cocos version 3.16 still use the old version.
the issue link is https://github.com/loopj/andro

[2017-10-13 20:16] anlide commented on #18199
Last stable version of Debian (version = 8.9)  - got the same error.

[2017-10-13 20:41] anlide commented on #18199
This post solve problem: Cocos2d-js setup.py cocos command not found

Here we have missed step:
http://www.cocos2d-x.org/wiki/Linux_Installation_and_Setup
"git submodule update --init" before “cmake” step.

[2017-10-16 00:15] #18364 closed, assigned to nobody

[2017-10-16 01:27] minggo commented on #18199
The documentation assumed getting the engine from [here](http://cocos2d-x.org/download). If you get engine from github, then you should know update submodules.

[2017-10-16 03:16] BlackCatz94 commented on #18353
if you create 3000 spine without batching, it will read .json file 3000 times, visibility doesn't matter, even if it is not added to scene, because what makes it lag is when reading .json files.

i'm not using js, i will show example in C++:
Ex 1:
[code]

Ex 2:

[code]

in Example 2, it is thousand times faster than Example 1.

[2017-10-16 05:59] #15680 closed, assigned to nobody

[2017-10-16 06:33] cirosantilli commented on #18001
fmod appears to be a proprietary closed source https://www.fmod.com/licensing which just makes distribution harder. I wish cocos could get optionoally get rid of it and use something open source instead, e.g. SDL.

Issue requesting optional fmod: https://github.com/cocos2d/cocos2d-x/issues/16355

[2017-10-16 07:06] anlide commented on #18199
Understand, thank you.

Please sorry - issue not solved yet.
I will answer any question and provide any information about my system for solve this issue.

[2017-10-16 07:24] yuriilychak commented on #18353
@Sevellion The problem is that in JSB there is no  declaration of SkeletonData and getSkeletonData. And no matter how I tried to get an answer - on the forum or here from the developers, how to add it there. I never received a reply. I perfectly understand that every time when I create new skeleton I pull out the json file from the memory of the device, but I can't cache it, because there is no fu

[2017-10-16 08:21] 1scaR1 opened #18373 "TextFiled breaks with cursor && (0, 0) anchor point"
- cocos2d-x version: current HEAD
- devices test on: all platforms

Steps to Reproduce:

1.  Create TextFiled like this:
[code]
2. Press on text field
3. Cursor is on unexpected place. **<--- The first bug**

Optional steps:

4. Input some text **<-- Here cursor places on right place**
5. Delete all text
6. Press outside the text field, for detach keyboard
7. Text field(or it's placeholder, I don'

[2017-10-16 09:02] minggo commented on #16116
windows ci is added too: https://github.com/cocos2d/cocos2d-x/pull/18077

[2017-10-16 09:02] #16116 closed, assigned to minggo

[2017-10-16 09:16] XueChenChen commented on #8875
thanks

[2017-10-16 10:43] BlackCatz94 commented on #18353
I read example from : [here](https://github.com/MadDugan/spine-cocos2d-html5)
Try this to get skeletonData:
(or create a new func in cc.SkeletonAnimation class that return skeletonData)
[code]

then for 3000 times:
cc.SkeletonAnimation.createWithData(skeletonData);

[2017-10-16 10:59] BlackCatz94 commented on #18363
I think it is just a wrong implementation.
please check : [this post](http://discuss.cocos2d-x.org/t/solved-rapidjson-isstring-assertion-failure/38711/4?u=sevent7)

[2017-10-16 11:34] yuriilychak commented on #18353
@Sevellion Yes, I can cache skeleton data on html version of engine, but spine namespace exist only in html version of engine not JSB. As you can see in [jsb_cocos2dx_spine_auto.cpp](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/js-bindings/auto/jsb_cocos2dx_spine_auto.cpp) binds only functions that create animation with json, and I don't have acces to spineData because in native it

[2017-10-17 03:29] Chonger8888 opened #18376 "void Node::update(float fDelta) 的bug"
- cocos2d-x version: 3.16之前的版本

建议修改为：
void Node::update(float fDelta)
{
    retain();
#if CC_ENABLE_SCRIPT_BINDING
    if (0 != _updateScriptHandler)
    {
        //only lua use
        SchedulerScriptData data(_updateScriptHandler,fDelta);
        ScriptEvent event(kScheduleEvent,&data);
        ScriptEngineManager::getInstance()->getScriptEngine()->sendEvent(&event);
    }
#endif

    if (_com

[2017-10-17 08:42] scutXu opened #18377 "spine-runtime的licence问题"
我看spine github主页上写的的是使用spine-runtime必须有spine软件的licence。那如果我dragonbone导出spine格式的资源，用cocos里面的spine代码加载，会有问题吗

[2017-10-17 09:35] eryue commented on #17835
@dumganhar 你好。
有这样的代码
`
widget:retain();
widget:removeFromParentAndCleanup(true);
parent:addChild(widget);
widget:release();
`
cleanup的时候加了removeEventListenersForTarget后，_touchListener被移除了，这个widget就无法触发点击事件了。

[2017-10-17 09:37] summerinsects commented on #17835
@eryue  用removeFromParentAndCleanup(false)，true的话会清理_touchListener

[2017-10-17 10:09] CodeMasterYi opened #18379 "CCProgressTimer"
<= v3.16
[code]

expected:
[code]

我们该如何实现圆形进度条 用任意点作为中心（包括纹理矩形范围之外）！

[2017-10-17 10:20] gestern commented on #18379
No, generally the middle point should belong to the normalised vector (or unit vector) is a vector of length 1, so the code with ``getClampPoint()`` is correct.

[2017-10-17 10:25] gestern commented on #18379
BTW, better (to avoid hardcode) will be:
[code]

[2017-10-17 10:55] CodeMasterYi commented on #18379
BUT, In this way, i must provide a full circle image, while i just want to make a fan-shaped progress~
I tried TexturePacker with trim-mode, but the actual texture rect is also trimmed~

[2017-10-18 12:43] rizwangaminations opened #18380 "cocos2d::network::HttpClient::sendImmediate random crash"
- cocos2d-x version: 3.15.1
- devices test on: Various android devices
- developing environments
   - NDK version: 12b
   - Xcode version: 9
   - VS version:
   - browser type and version:

I am getting random crash reports on crashlytics in cocos2d::network::HttpClient::sendImmediate function. I am unable to reproduce it.
can you Guys take a look and help me out. If you need more information rela

[2017-10-19 02:57] jasonz1987 opened #18381 "ios回调lua闪退"
- cocos2d-x version:3.1.10
- devices test on:iphone all
- developing environments
   - NDK version:
   - Xcode version:8.2
   - VS version:
   - browser type and version:

最近在bugly上看到了一些闪退，貌似是oc回调lua导致的，错误堆栈如下

0 GAME517roject-mobile | _debug_framepc
-- | --
1 GAME517roject-mobile | _lj_debug_funcname + 144
2 GAME517roject-mobile | _lj_debug_getinfo + 756
3 GAME517roject-mobile | _luaL_traceback +

[2017-10-19 19:37] ahcox commented on #17991
So does this mean that only source builds are supported now? If so these docs need updating: http://www.cocos2d-x.org/docs/editors_and_tools/cocosCLTool/index.html#using-the-pre-built-libraries-in-your-projects

[2017-10-19 20:18] crazyhappygame opened #18384 "RepeatForever Sequence run once - regression to cocos2d-x.3.14.1"
- cocos2d-x version: 3.16
- devices test on: Win/Android/iOS/Mac
- developing environments
   - NDK version: 14b
   - Xcode version: 9
   - VS version: 2017
   - browser type and version:

Steps to Reproduce:
1.  Paste below code
	auto f = cocos2d::CallFunc::create([]() {
		CCLOG("AAAA");
	});
	auto a = cocos2d::Sequence::create(f, nullptr);
	runAction(cocos2d::RepeatForever::create(a));
2.  Run
B

[2017-10-20 01:27] minggo commented on #17991
there is command of building prebuilt libs, but not corresponding template for it.

[2017-10-20 02:27] melody1304 opened #18386 "cocos2dx 3.16 version ios lua version iphone simulator cup 100%"
- cocos2d-x version: 3.16
- devices test on: iso simulator
- developing environments
   - NDK version:
   - Xcode version: xcode 11
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. ios lua version iphone simulator cup 100%

[2017-10-20 02:32] #16945 closed, assigned to dumganhar

[2017-10-20 07:17] owen200008 opened #18387 "cc.AssetsManagerEx:create("project.manifest", GetUpdatePath()) will delete the path files。。。。"
- cocos2d-x version:
near 3.16
66471154b036cdef53b68e5bdac2193289327081
- devices test on:
android phone
- developing environments
   - NDK version:
new version
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
cc.AssetsManagerEx:create("project.manifest", GetUpdatePath())
will delete the path files。。。。

[2017-10-20 07:36] owen200008 commented on #18387
versionGreater is different with before same will delete also。

[2017-10-20 09:30] redkoda opened #18388 "OTF line spacing problem on 3.16"
- cocos2d-x version:3.16
- devices test on:iPhone and Android
- developing environments
   - NDK version:android-ndk-r10e
   - Xcode version:9.0
   - VS version:
   - browser type and version:

It looks the problem is related to the OTF font like SourceHanSans-Normal.otf. You may download the font in the following URL https://github.com/jenskutilek/free-fonts/tree/master/Source/Source%20Han%20Sans

[2017-10-20 22:16] cirosantilli commented on #17150
I wish we wouldn't require such edge libglfw. Removing distro packages from the user is invasive :-(

[2017-10-20 22:20] cirosantilli commented on #18001
Related: https://github.com/cocos2d/cocos2d-x/issues/16355

[2017-10-20 22:56] cirosantilli commented on #16511
Possible duplicate of: https://github.com/cocos2d/cocos2d-x/issues/15137

[2017-10-20 22:57] cirosantilli commented on #17917
Possible duplicate of: https://github.com/cocos2d/cocos2d-x/issues/15137

[2017-10-20 23:33] cirosantilli commented on #15137
@minggo I understood why the libmod.so.6 symlink is required: it is because of the SONAME field of the ELF libmod.so file.

Please consider: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/304 to restore it.

[2017-10-21 06:25] cirosantilli commented on #16355
In particular, this blocks a Debian package from being created.

And creates problems that we can't solve properly because no source, e.g.:

- porting fmod: https://github.com/cocos2d/cocos2d-x/issues/18001
- binary file build option quirks: https://github.com/cocos2d/cocos2d-x/issues/15137#issuecomment-338345077

[2017-10-21 08:28] MrCapone opened #18390 "add Win64 support"
I successfully added Win64 support to my project based on cocos2d-x.
I built all `.lib` and `.dll` dependencies for Win64 target. I also added Win64 target for all Visual Studio projects ( templates and dependencies ). Set all paths for external libraries. Also i lightly modified CMakeLists.txt for Win64 support (check [my gist](https://gist.github.com/MrCapone/ccdc1826cb7362086107e8096bfe6f90/rev

[2017-10-21 10:03] dumganhar commented on #17924
I also met this issue from bugly report.
Could you reproduce this issue?

[2017-10-21 19:03] rynkowsg opened #18392 "Android.mk is not self-contained"
VERSION
---------
v3

PROBLEM
----------

From the perspective of a developer that link his target with
`cocos2dx_static` library, it should specify in his `Android.mk` only
a path to a makefile that defines that module, by

a) using `import-add-path` and `import-module`

    $(call import-add-path, <path-to-cocos-root>)
    $(call import-module, cocos)

  or ...

b) using directly an `include` co

[2017-10-21 21:32] cirosantilli opened #18395 "Build with USE_PREBUILT_LIBS:BOOL=OFF on Ubuntu Linux fails with "Could NOT find FMOD""
Why I want this: overcome quirks wth prebuilt binaries, e.g. https://github.com/cocos2d/cocos2d-x/issues/18399

Platform:

- cocos2d-x version: 0398875a22702b5c781ecb87dd8ca592e5895717
- devices test on: Ubuntu 17.04

Reproduce:

[code]

Outcome:

[code]

Expected behavior: downloads external lib source and compiles them all from scratch.

Kind of expected since FMOD is a blob, wondering if there

[2017-10-22 06:51] princegoyal1987 commented on #15713
@graph @minggo Just asking if APP_ABI is set to 'armeabi', will it run on all the devices? Or we have to mention all the ABIs to support those devices?

[2017-10-22 08:12] v1993 commented on #16355
It also may create big problems with licensing target product.

[2017-10-22 08:15] v1993 commented on #18332
@dumganhar @minggo

[2017-10-22 16:20] graph commented on #15713
I don't think armeabi is officially supported anymore by processor manufacturers. I don't know how backwards compatible armv7 is to it. If it's fully backwards compatible then you are in luck and should be fine (except for x86). If you must support it then perhaps also do the armv7 compilation too. I would only compile for 1 arch that is specific to the device I'm testing on, to speed up compilati

[2017-10-23 02:00] minggo commented on #15713
@princegoyal1987 @graph as i know `armeabi` will support all devices except x86 architecture.

[2017-10-23 02:07] dumganhar commented on #18332
Your eventlistener is associated with `The first scene`, while you switch to `The second scene`, the eventlistener will be removed since `The first scene` is `onExit`ed or `cleanup`ed.
If you need to listen to some event in `The second scene` too, I think there are two ways:
1. Try to use fixed priority event listener whose lifecycle will not depend on node.
2. Try to add a new listener in `the se

[2017-10-23 02:15] minggo commented on #15137
good to know, thanks

[2017-10-23 02:16] minggo commented on #17917
yep, it is duplicated

[2017-10-23 02:16] #17917 closed, assigned to nobody

[2017-10-23 02:21] minggo commented on #17150
yep, do you have any better suggestions?

[2017-10-23 03:17] minggo commented on #18392
`path-to-cocos-root` is added into NDK_MODULE_PATH by default in cocos command. And i still don't understand how to reproduce the issue.

[2017-10-23 05:12] MrCapone commented on #17150
Disable Findglfw.cmake, put glfw library to cocos/external and link static.

[2017-10-23 06:12] minggo commented on #17150
If so, then should we do for other libs, such as png, jpeg and so on. I think it is better if we don't have to store external lib as possible.

[2017-10-23 06:31] cirosantilli commented on #17150
I think the problem is that glfw is a new library with constantly changing interfaces, while png and jpeg are much more solid.

Maybe we should keep things as shared as possible (also a debian package requirement and makes binaries smaller), until it starts causing us problems, then we build static.

Or alternatively, limit the GLFW features to a given GLFW version present in most distros.

[2017-10-23 07:03] minggo commented on #17150
We may update it as GLFW updates, and it is hard to limit it in a given version because we provide prebuilt lib on other platforms. So i think it is reasonable to provide prebuilt GLFW lib as @MrCapone  suggested.

[2017-10-23 07:05] minggo opened #18398 "Provide prebuilt version of GLFW on linux"
Can refer to https://github.com/cocos2d/cocos2d-x/issues/17150 for detail information.

[2017-10-23 07:10] cirosantilli opened #18399 "Build cocos2d-x as a shared library on Linux with BUILD_SHARED_LIBS:BOOL=ON fails with "libfreetype.a(ftbase.linux64.o): relocation R_X86_64_32 against `.rodata' can not be used when making a shared object; recompile with -fPIC""
Why I want to do this:

- make executables smaller
- make it more Debian packageable (Debian requires shared libs I think)

Specs:

- cocos2d-x version: 0398875a22702b5c781ecb87dd8ca592e5895717
 trunk
- devices test on: Linux Ubuntu 17.04

Steps to Reproduce:

1. `cmake -DBUILD_SHARED_LIBS:BOOL=ON && make`
(Using gcc 6.3 from my distro)

Outcome: link fails with:

[code]

However, freetype is alre

[2017-10-23 07:53] acrazing opened #18401 "Proposal: a new resolution & node location policy."
When I read the document, I find that the cocos2d-x only supports some scale resolution policy, it's not enough. For example:

We have a scene, it contains a square sprite, which is located at the bottom right corner, just like this:

![designed](https://user-images.githubusercontent.com/10029810/31877830-8f6a5306-b79d-11e7-93d9-5d2627cc4869.png)

And we want to:

- the scene always fills the scre

[2017-10-23 11:08] rynkowsg commented on #18392
@minggo yep, that proofs what I said. `cocos` command sets `NDK_MODULE_PATH` to provide paths for cocos modules. Problem is that everyone who doesn't use `cocos` command, had to provide the missing paths for modules imported inside of `cocos/Android.mk` in his mk files, by adding lines like:

    $(call import-add-path, <path-to-cocos-root>/cocos)
    $(call import-add-path, <path-to-cocos-root>/e

[2017-10-23 12:45] v1993 commented on #18332
I can go to second scene, return and listner will be reenabled, you can check it.

[2017-10-23 12:46] v1993 commented on #18332
Also, it is bad ideas for me, because I use component system.

[2017-10-23 16:40] jstock78 commented on #16652
I'm still seeing the same issue.  We're see it in Cocos2d-x v3.15.1.  Like @retrobrain we're only seeing it in crash reports coming in.  We've been unable to reproduce it at the office.

[2017-10-24 01:20] minggo commented on #18392
Thanks for explanation, sounds reasonable. And i will modify the places you mentioned above after merging the PR.

[2017-10-24 07:46] takesoon commented on #18381
检查是不是非主线程 回调

[2017-10-24 09:02] #18392 closed, assigned to nobody

[2017-10-24 09:22] MrCapone opened #18403 "TextField::initRenderer() missing font"
When i trying to create `TextField` by
[code]
I got log warning

breakpoint brings me to this [line](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/ui/UITextField.cpp#L335). What is **Thonburi** and why it missing?

[2017-10-24 15:30] stevetranby commented on #18319
I believe there's already a PR that was merged to fix this. Replace with this:
[code]

[2017-10-25 01:44] minggo commented on #18392
Then how can you import `cocos/Android.mk` in your app?

[2017-10-25 01:59] melody1304 opened #18404 "can't set music volume successful if before call playMusic function"
- cocos2d-x version: 3.16
- devices test on: iphone
- developing environments mac
- NDK version:
   - Xcode version: 11
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. can't set music volume successful if before call playMusic function
(if you run app and set music volume at first and then play music ,the music volume can't set successful,the music volume is 1 not which I

[2017-10-25 02:06] minggo commented on #18392
I got it, should add `$(call import-add-path, xxx)` to the app to import it.

[2017-10-25 06:29] minggo commented on #18392
I have sent https://github.com/cocos2d/cocos2d-x/pull/18405 to remove setting of NDK_MODULE_PATH.

[2017-10-25 06:29] Ander456 commented on #18380
hi, I also got this crash on my project, and i collect the crash log :
lua_cocos2dx_XMLHttpRequest_send(lua_State*) + 432
LuaMinXmlHttpRequest::_sendRequest(int) + 152
cocos2d::network::HttpClient::sendImmediate(cocos2d::network::HttpRequest*) + 132

libc++.1.dylib | std::__1::thread::detach() + 120

Can you look at this problem? @minggo

by the way .my project is cocos2d-lua.

[2017-10-25 06:31] minggo commented on #18380
@dumganhar could you please take a look.

[2017-10-25 09:46] hulifu opened #18407 "骨骼动画问题 3.16"
在cocos2dx-js 里用
用createWithJsonFile能创建骨骼动画
用new sp.SkeletonAnimation创建不了骨骼动画会报错 用的是cocos2dx自带的spineboy这个骨骼动画资源
var spineBoy = sp.SkeletonAnimation.createWithJsonFile('spine/spineboy.json', 'spine/spineboy.atlas', 0.6);
var spineBoy = new sp.SkeletonAnimation(('spine/spineboy.json', 'spine/spineboy.atlas', 0.6);

[2017-10-25 09:53] AIGRIND-LLC commented on #18104
Just want to confirm that this issue broke our project too.

[2017-10-25 10:06] Anywhere-Music-Player commented on #18104
I've used that fix and all okay now.. but some logic looks like not really good.. anyway it woks.

[2017-10-25 10:17] deguilardi commented on #18286
I need to use this library to use some basic functions as codecvt.

@minggo google says "LLVM's libc++ is the C++ standard library that has been used by the Android OS since Lollipop, and in the future **WILL BE THE ONLY** STL available in the NDK." [https://developer.android.com/ndk/guides/cpp-support.html#libc]

Isn't it the time to start testing it? Supporting it? What if Google decides stop su

[2017-10-25 10:39] sbrednikhin commented on #18104
Confirm issue. Looks like it would be better to remove all event listeners except touch listeners.

[2017-10-25 11:08] rynkowsg commented on #18392
Yep, I think you got it 👍

Just to be clear. If someone wanted to use cocos library in his Android.mk, there are two ways of doing it:

* by using `include` command directly:

        include <cocos-root>/cocos/Android.mk

* or by using NDK commands `import-add-path` and `import-module`

        $(call import-add-path, <cocos-root>)
        $(call import-module, cocos)

The second approach is a "n

[2017-10-25 11:43] sbrednikhin opened #18408 "Incorrect sprite with etc + alpha texture rendering."
- cocos2d-x version: 3.16
- devices test on: any
- developing environments: any

Steps to Reproduce:

1. Create sprite with normal texture.
2. Change sprite texture through `setTexture` to etc texture with additional alpha texture.
Result sprite will be rendered without alpha channel.

Problem is in
`
if(_glProgramState == nullptr)
{
setGLProgramState(GLProgramState::getOrCreateWithGLProgramName(G

[2017-10-25 12:46] AIGRIND-LLC opened #18409 "cocos2d::Image::saveImageToPNG saves image in wrong PNG format"
Hi,
We often use `cocos2d::utils::captureScreen()` to save screenshot to PNG file and open that screenshots in Photoshop. Till recently it worked well until we updated Photoshop to the latest version.
![image](https://user-images.githubusercontent.com/6168693/31997162-45c4ec94-b98b-11e7-962c-33b753c62575.png)

Here is a screenshot file created by cocos:
![screen_1508931029975](https://user-images.

[2017-10-25 12:52] AIGRIND-LLC commented on #18409
And here is the correct PNG structure after the fix is applied.
![image](https://user-images.githubusercontent.com/6168693/31999563-06d0b136-b994-11e7-9253-b700891f3c06.png)

[2017-10-25 14:56] tqwewe commented on #13090
Nearly 2018, any updates on this? I'm currently having this issue.

[2017-10-25 15:02] tqwewe opened #18411 "Sprite does not render after physics body is set"
This issue is based upon this original issue created here: https://github.com/cocos2d/cocos2d-x/issues/13090
_I opened a new issue because the creator of the issue linked above closed his issue instantly._

**When drawing a sprite in cocos2d, it draws correctly, but if the scene uses physics then the sprite is no longer rendered.**

- cocos2d-x version: v3.16

Steps to Reproduce:

1. Create a game