[2017-04-10 13:28] tongwangj commented on #17616
I have the same problem ,could you tell me that you have solve this problem ?

[2017-04-10 14:19] ivcoder commented on #13773
Here is the crash report
<pre>
OS Version:          iPhone OS 10.2.1 (14D27)
Report Version:      104

Exception Type:  EXC_BAD_ACCESS (SIGSEGV)
Exception Subtype: KERN_INVALID_ADDRESS at 0xbaddcbd992c3bed5
Termination Signal: Segmentation fault: 11
Termination Reason: Namespace SIGNAL, Code 0xb
Terminating Process: exc handler [0]
Triggered by Thread:  0

Thread 0 name:
Thread 0 Crashed:
0   MyCo

[2017-04-11 02:01] dumganhar opened #17685 "[android] Audio in game couldn't be mute while a ring or a call is coming"
Reported at http://punchbox.info:3000/issues/26198
- cocos2d-x version: v3.14.1
- devices test on: Only appears on some specific devices like XiaoMi 2S
- developing environments
   - NDK version: r10e
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. cpp-tests/NewAudioEngineTest, play a audio by loop
2. Go to background , make a system `count-down` clock

[2017-04-11 02:33] dumganhar commented on #17616
@Mishok43
How did you use Facebook SDK?
* Did you make sure that you `queueEvent` to GL thread while you get event from Facebook SDK?
* Did you make sure that you `runOnUiThread` before you invoke Facebook SDK from native code?

[2017-04-11 02:34] dumganhar commented on #13773
@ivcoder, does it also exist in v3.14.1?

[2017-04-11 03:19] minggo opened #17687 "luajit performance issue"
More detail information can refer to [this Chinese forum ticket](http://forum.cocos.com/t/luajit/45347).

[2017-04-11 03:36] sianzain commented on #14217
tools/simulator/libsimulator/lib/runtime/FileServer.h
tools/simulator/libsimulator/lib/runtime/FileServer.cpp

[2017-04-11 03:36] sianzain commented on #14217
tools/simulator/libsimulator/lib/runtime/ConsoleCommand.h

[2017-04-11 03:39] minggo commented on #14217
Oh, simulator is used for cocos studio. Did you use Cocos Studio? It is not supported any more.

[2017-04-11 03:41] sianzain opened #17688 "ActionTimeline not trigger _lastFrameListener"
[https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/editor-support/cocostudio/ActionTimeline/CCActionTimeline.cpp#L211](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/editor-support/cocostudio/ActionTimeline/CCActionTimeline.cpp#L211)

when

endtoffset = -0.0000
_currentFrame = _endFrame

not trigger _lastFrameListener

fix line:211
bool isLast = endtoffset >= 0 || _currentFrame == _endFrame;

[2017-04-11 17:33] madrazo opened #17690 "CalculateBillboardTransform always updates"
On the following line there is an "if" with lots of conditions (make sure to scroll to the right), but at the end there is a "|| true" which forces to enter the if block anyway.

https://github.com/cocos2d/cocos2d-x/blob/d07794052fed5c3edc29d4a60f99399d49271515/cocos/3d/CCBillBoard.cpp#L160

- cocos2d-x version: 2.14 git
- devices test on: windows
- developing environments
   - NDK version:
   - X

[2017-04-11 20:57] Mishok43 commented on #17616
@dumganhar
Thank you, for the answer.
I use the Facebook SDK Plugin from sdkbox for working with Facebook.

[2017-04-11 21:02] Mishok43 commented on #17616
@tongwangj
Unfortunately, I haven't solved the problem yet (

[2017-04-11 21:11] Mishok43 commented on #17616
@tongwangj
Do you use the AdColony lib in your project?

[2017-04-12 03:57] tongwangj commented on #17616
@Mishok43  Yeah. My project use Facebook SDK and  AdColony and some other Ads SDK

[2017-04-12 09:52] #15750 closed, assigned to dumganhar, pandamicro

[2017-04-12 16:34] Mishok43 commented on #17616
@tongwangj
Did you try to remove AdColony lib from your project for fixing the bug? I have a lot of problems with the lib and maybe it's the reason of the strange bug. Or you had met this bug before you added this AdColony lib to the project?

[2017-04-13 02:44] #17685 closed, assigned to dumganhar

[2017-04-13 02:55] dadidzf opened #17694 "tolua logic error in function class_table_get_index (tolua_event.c)"
- cocos2d-x version:cocos2dx3.14 Lua

Steps to Reproduce:
**1.Run the code below in cocos2dx lua**
[code]
**2. getmetatable(billboard).setVisible should be a function value, but it's nil as tested above, It is because the recursion for metatable access is interrupt by wrong logic in function class_table_get_index  in tolua_event.c
3. I think we should modify the logic in tolua_event.c function cla

[2017-04-13 07:40] Bilalmirza commented on #16481
@minggo @dumganhar Guys could you please update glfw to 3.2.1 for v3.15? it doesn't take long.

[2017-04-13 07:56] minggo commented on #17561
released alpha0 version in forum:

* english forum: http://discuss.cocos2d-x.org/t/c-and-lua-support-for-creator-alpha0-released/36168
* Chinese forum: http://forum.cocos.com/t/cocos-creator-c-lua-alpha0/45488

[2017-04-14 02:31] dumganhar opened #17700 "Update GLFW to 3.2.1"
Refer to https://github.com/cocos2d/cocos2d-x/issues/16481

[2017-04-14 02:32] dumganhar commented on #16481
@Bilalmirza , the upgrade will not be in v3.15 since it's in RC now.
I create an issue https://github.com/cocos2d/cocos2d-x/issues/17700 here.
It will probably be in v3.16.

[2017-04-14 10:45] superkinglabs opened #17702 "Audio Engine crash on app resume"
- cocos2d-x version: 3.14.1 (with latest audio engine from v3)
- devices test on: Asus Z010D (Android 6.0.1), Motorola XT1635-02 (Android 7.0)
- developing environments
   - NDK version: 14.1
   - Xcode version: 8.2.1
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:
Not able to reproduce. But I have the stack trace from BugSnag.

Segmentation fault: Fatal signal from na

[2017-04-14 17:29] Dimon4eg commented on #11839
Try off wrap on label:
`enableWrap(false);`

[2017-04-14 20:22] saumyamukul opened #17704 "[Android] Issue with backgrounding while touch is in progress"
- cocos2d-x version: 3.15
- devices test on: OnePlus 2, 5.1.1
- developing environments
   - NDK version: r10e
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Start cpp-tests and navigate to "Node Scene"->"Test pushScene"->"replaceScene"
2. Press down on "replaceScene"
3. Start task switcher without releasing the touch
4. Release touch
5. Fo

[2017-04-15 01:34] pwang08 opened #17707 "Audio Engine crash on Android when playing and stopping some audios repeatedly"
- cocos2d-x version: 3.14.1 (with latest audio engine from v3)
- devices test on: all Android test devices of my company
- developing environments
   - NDK version: r10d
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Play 3 or 4 audios simultaneously
2. Stop them all and re-play the same audios
3. The crash occurs after repeating several times.

[2017-04-15 18:09] div5yesh opened #17709 "Android app crashes with websockets"
- cocos2d-x version: 3.14.1
- devices test on: nexus 5x api 25 x86 virtual device
- developing environments
   - NDK version: 13rb
   - Xcode version: NA
   - VS version: NA
   - browser type and version: NA

Steps to Reproduce:

1. cocos new testproject -l js
2. cocos compile -p android --ap android-21 --android-studio --ndk-mode debug
3. just add **this.soc = new WebSocket("ws://echo.websocket.o

[2017-04-16 03:06] jiessen opened #17710 "C++导出lua接口"
建议自适应ndk版本
Android ndk version must be ndk-r9b.

要不每次导接口一个ndk打包一个nkd 好纠结

[2017-04-16 15:37] Mishok43 commented on #17616
@tongwangj
Hi. I have tried to remove AdColony plugin from project - 0 results. Did you try to change Facebook SDK version or some dependies? Maybe you know something more about this problem.
It's awful, because 4.4 - is one of the most popular android version in the World.

[2017-04-16 22:04] jojojames opened #17711 "Regenerating Projects after updating CmakeLists?"
Hi, was wondering how to update other project files using Cmake after modifying CmakeLists.

https://github.com/cocos2d/cocos2d-x/issues/8911

Is a similar question though the answer leads to an xcode only solution (and the xcode solution isn't similar to what would be built with 'cocos new'.

[2017-04-17 02:12] dumganhar opened #17713 "<no filename=“filename”> line:0 msg:too much recursion"
Workaround: http://blog.csdn.net/potato47/article/details/70169481

[2017-04-17 03:02] Rubonnek commented on #17709
This issue could have been fixed by #17440 which is not included in v3.14.1.

[2017-04-17 03:21] quannv108 opened #17714 "Singleline EditBox not return right Action when keyboard closed"
- cocos2d-x version: 3.15, 3.14
- devices test on: iphone 5c
- developing environments
   - NDK version: ...
   - Xcode version: 8.3.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. create a single line editbox in code and run this code to device
auto bg = ui::Scale9Sprite::create("chat_boxchat.png");
[code]
3a. in application tap on editbox, write some things, and click

[2017-04-17 05:03] tongwangj commented on #17616
@Mishok43 , I forgot it，maybe no problem before i add AdColony sdk.My FB sdk version is 4.16.I will try remove AdColony ,thanks.

[2017-04-17 05:47] Rubonnek commented on #17711
I had the same question some time ago and as far as I know there is no official way of doing this. Using the cmake generators will not regenerate the project templates that are provided in the repository.

A quick-and-dirty way to go about this this would be to parse the `CMakeLists.txt` and updating the other project files as needed. You can use Ruby and [Xcodeproj](https://github.com/CocoaPods/X

[2017-04-17 06:37] lvc opened #17715 "API/ABI changes review for Cocos2d-x"
The review of API/ABI changes for Cocos2d-x since 3.8 version: https://abi-laboratory.pro/tracker/timeline/cocos2d-x/

Created with the help of open-source abi-tracker tool: https://github.com/lvc/abi-tracker. Hope it will be helpful for users and maintainers of the library.

![cocos2d-1](https://cloud.githubusercontent.com/assets/1517837/25081058/0bc057a4-2359-11e7-8e02-cd5ba794801a.png)
![cocos2

[2017-04-17 08:32] jiangtaoye commented on #17373
I also encountered this problem

[2017-04-17 08:33] jiangtaoye commented on #17373
I have a lot of crash log in the bugly. cocos2d-js version is 3.9.

[2017-04-17 09:33] imtrobin commented on #17683
I'm seeing same issues. It seems that GVR changes certain parts and does not reset properly. e.g in CCVRGvrRenderer::render, there is a line 199 which changes camera viewport, and not resetted.

Camera::setDefaultViewport(vp);

[2017-04-17 10:36] pwang08 commented on #17707
Ok, I have fixed this issue, see pr #17716

[2017-04-17 11:29] div5yesh opened #17717 "Android websocket fails when SSL enabled"
- cocos2d-x version: 3.14
- devices test on: Motorola XT1022 API 22
- developing environments
   - NDK version: r13b
   - Xcode version: NA
   - VS version: NA
   - browser type and version: Na

Steps to Reproduce:

1. ./build.sh -p=android --libs=websockets --arch=armv --mode=debug
2. cocos new testproject -l js
3. copy compiled websocket libraries and includes to testproject
4. just add this.soc

[2017-04-17 12:12] bin-zhao opened #17718 "[Android] Crash when use Cocos2dxJavascriptJavaBridge.evalString"
- cocos2d-x version: 3.14.1
- devices test on: SM-N9100
- developing environments
   - NDK version: r11c
   - Xcode version: 8.1 (8B62)
   - VS version:
   - browser type and version:
   - Android Studio version: 2.3.1
   - Android version: 6.0.1

Steps to Reproduce:

1.  I want to dispatch Android back key event to javascript, so write some code below:
[code]

[code]

[code]

2. When I test it, I

[2017-04-17 14:42] felippeduran commented on #17643
I'm not a user of the 3D features from cocos2dx, but it seems that the 3D pipeline also have the same problem of using only the depth information when sorting the render commands:

[code]

[2017-04-17 16:00] #17582 closed, assigned to nobody

[2017-04-17 17:14] Mishok43 commented on #17616
@tongwangj
I tried it. It didn't helped. Maybe deleting Facebook SDK will help (if it's true, we can try to change version of it).

[2017-04-18 01:30] sianzain commented on #14217
I am not use Cocos Studio.
I used Cocos IDE Debug JS.

[2017-04-18 01:37] minggo commented on #14217
Sorry about it, Cocos IDE is canceled too.

[2017-04-18 05:09] bsergean commented on #17043
Should we create an issue on the Apple radar website, or on the luajit github page ?

[2017-04-18 08:10] huangapple commented on #15972
3.15 can't support ssl with public key is rsa2048, sha2 signature?
@minggo

[2017-04-18 08:14] div5yesh opened #17723 "IOS build fails when using SSL enable libwebsockets"
- cocos2d-x version: 3.14
- devices test on: iphone simulator
- developing environments
   - NDK version: NA
   - Xcode version: 8.3.1
   - VS version: NA
   - browser type and version: NA

Steps to Reproduce:

1. cocos new testproject -l js
2. ./build.sh -p=ios --libs=websockets --arch=i386 --mode=debug
3. copy built websocket libraries to testproject
4. cocos compile -p ios
5. open testproject.x

[2017-04-18 10:42] huangapple opened #17724 "cocos3.15 SocketIO can't support ssl with public key is rsa2048, sha2 signature?"
socketio 不支持 sha2签名的ssl证书啊。（sha256 ， rsa:2048)
会报这个错 Websocket error received: 1

sha1签名的ssl证书是支持的

求确认， 求这个版本解决啊

[2017-04-18 18:47] bsergean commented on #17043
I confirm that this problem is going away with the latest 2.1 branch.

[2017-04-19 01:10] nieyanbing opened #17725 "AudioEngine Crash"
- cocos2d-x version:3.14
- devices test on: Some Android models
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

AudioEngine may be crash on some android models
audioengine play2d在少部分安卓机型上会crash 比如华为AL-100，OPPO R9等

[2017-04-19 01:19] minggo commented on #17043
@bsergean thanks for the information.
@dumganhar i think we should apply the patch in next version.

[2017-04-19 01:27] dumganhar commented on #17723
You built it as i386 arch, it will definitely cause the linking problem for `x86_64` arch.

[2017-04-19 01:33] dumganhar commented on #15972
@huangapple , I'm not sure about this.
We uses `libwebsockets-2.1.1` for websocket connection. Probably, you need to check it out in libwebsockets official (https://github.com/warmcat/libwebsockets).

[2017-04-19 01:45] dumganhar commented on #17724
Did you create a `self-signed certificate`? How did you create it?

[2017-04-19 01:54] dumganhar commented on #15972
@huangapple , I tested with the certificate which was got from `qcloud`, and I could make sure that it uses ras2048 and sha2 signature and it works.

![sig](https://cloud.githubusercontent.com/assets/493372/25160001/f1546f02-24e5-11e7-950e-74b076f63ddf.png)

[2017-04-19 01:57] dumganhar commented on #17718
......

It will definitely crash since onKeyDown is in UI thread and evalString should be run on GL thread.
[code]

Yep, yep, it's a bug. Thanks for the report.

[2017-04-19 01:59] dumganhar commented on #17718
For a workaround, you should `queueEvent` the runnable to GL thread and evalString in the runnable implementation.

[2017-04-19 02:04] DCMay commented on #17515
when I do cocos compile -p android I get :
 `Ant (Eclipse project) is not supported from Android SDK Tools 25.3.0.`
what the hell is going on ?
I can not find any useful information in anywhere.
can anybody please tell me what  should I do ?

[2017-04-19 02:14] huangapple commented on #17724
aliyun create
https://help.aliyun.com/knowledge_detail/42218.html

openssl req -new -nodes -sha256 -newkey rsa:2048 -keyout myprivate.key -out mydomain.csr

[2017-04-19 02:17] huangapple commented on #15972
@dumganhar
额，我那边是阿里云那边系统生成的， 可以开启https服务， 浏览器也能正常访问， 绿色的。
应该不会错的。

我把证书发给你， 你测试下吧？

[2017-04-19 02:22] huangapple commented on #15972
@dumganhar
把证书发到你  jianhua.chen@cocos2d-x.org 这个邮件了

[2017-04-19 04:51] jojojames commented on #17711
@Rubonnek That's unfortunate. Cmake would be a good one stop. Automatic project generation on a CMake would be a great next first step.

I'd be interested if you ever open sourced your work around that.

[2017-04-19 06:47] div5yesh commented on #17723
@dumganhar sorry my bad, the project does gets compiled when libraries built for x86_64 arch.

[2017-04-19 06:51] div5yesh commented on #17723
I'm still facing issues when connecting to wss://echo.websocket.org. It works fine for ws://echo.websocket.org.

[code]

[2017-04-19 08:34] hetao1024768 opened #17728 "externalNativeBuildDebug"
- cocos2d-x version: 3.15
- devices test on: macOS 10.12.4
- developing environments
   - NDK version: 14.1.3816874
   - Xcode version: 8.3.1
   - VS version: x
   - browser type and version: x
   - Android Studio: 2.3.1

Steps to Reproduce:

1.  open proj.android-studio -> run -> show logs
Executing tasks: [:tools:assembleDebug]

Configuration on demand is an incubating feature.
Incremental java

[2017-04-19 08:50] hetao1024768 commented on #17728
* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':tools:externalNativeBuildDebug'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:84)
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.java:55)
	at org.gradle.api.internal.tasks.executi

[2017-04-19 09:50] Rubonnek commented on #17711
@jojojames the [code has been released](https://github.com/Rubonnek/ucm) under the GPL v3. If you are using Arch Linux, there's a [PKGBUILD in the AUR](https://aur.archlinux.org/packages/ucm/).

[2017-04-19 10:05] huangapple opened #17729 "3.15 cc.Label object can't use that 【var setString = label.setString.bind(label); setString('xxx");】"
3.15
--------------------------------------------
var label = new cc.Label(....);
var setString = label.setString.bind(label);
setString('xxx");
--------------------------------------------
error:   .../script/jsb_boot.js:1837:TypeError: 'prototype' property of fNOP is not an object

[2017-04-19 10:34] stirem commented on #14021
I have the same issue with Cocos2d-x 3.14.1 when using multi touch on iPhone 6. The issue is not present on iPhone SE, iPhone 5 or iPad mini. When I touch and hold finger on iPhone 6 screen, touchMoved is continuously called.

[2017-04-19 13:14] Serisu opened #17730 "[lua] XMLHttpRequest status code always 200 or 0"
- cocos2d-x version: 3.14.1

in XMLHttpRequest

status will be set to zero when response->isSucceed() returns false.

NOTE: if it happens, please let me know and send me detailed information.

[2017-04-20 03:08] bin-zhao commented on #17718
@dumganhar Thanks, I will try.

[2017-04-20 05:55] jiangtaoye commented on #15139
I also meet it, I feel cocos2d-js very unstable.

[2017-04-20 15:10] fd5788 commented on #16138
just，export LC_CTYPE=en_US.UTF-8

[2017-04-21 13:06] sergiiy-oliynik opened #17739 "Android custom event issue: userData is empty"
- cocos2d-x version: 3.14.1
- devices test on: Xiaomi Redmi 3 Pro (Android 5.1), OSX, Web Browser
- developing environments
   - NDK version: 13
   - Xcode version: 8.1
   - VS version: -
   - browser type and version: GoogleChrome  57.0.2987.133

Steps to Reproduce:

1. Create scene:
`var GameScene = cc.Scene.extend({...});`

2. Override onEnterTransitionDidFinish like this:
[code]

3. Result:

I

[2017-04-21 13:53] Mishok43 commented on #17616
@dumganhar
Well, Do you have any ideas about this bug? What's the probable reasons of the strange behavior?

[2017-04-22 06:33] 253056965 commented on #17043
希望官方提供一个修复方案，要不我们老版本的用户怎么办。

[2017-04-22 14:51] xbpiao commented on #17710
呃！一直就可以使用一个版本的ndk打包和生成Lua绑定接口，之前用的是android-ndk-r10d。
如果用android-ndk-r10e可以参考这个小修改[Lua bindings-generator support android-ndk-r10e](https://github.com/xbpiao/cocos2d-x/commit/d4601a2f1f14d8a763557e64187ae067eb126ab8)

[2017-04-23 11:38] iyexiao commented on #17043
@minggo  -pagezero_size 10000 我这个的时候是没问题的，xcode是自动升级的，而且在3台机器上试过都没问题

[2017-04-23 13:07] Rubonnek opened #17740 "experimental::AudioEngine cannot play .OGG files in Mac"
- cocos2d-x version: v3.15, official release
- devices test on:
- developing environments
   - Xcode version: 8.2

Steps to Reproduce:

1. Try playing an `.ogg` audio file with  `experimental::AudioEngine::play2d`, there will be no sound.

[2017-04-23 13:42] hussain-sohaib commented on #17740
Hello,

But .ogg files are only supported on Android, that's what I know. Rest
James Chen can confirm.

thanks

On Sun, Apr 23, 2017 at 6:07 PM, Wilson E. Alvarez <notifications@github.com

--
Best Regards
Sohaib Hussain

[2017-04-24 03:06] dumganhar commented on #17740
@Rubonnek @hussain-sohaib
Yep, ogg format is only supported on Android and Win32 platform now.

[2017-04-24 07:24] Rubonnek commented on #17740
@hussain-sohaib @dumganhar Thanks, good to know.

Are there any plans to support `.ogg` files on the remaining platforms at some point?

[2017-04-24 09:17] ljwlaji opened #17742 "G++ Compile Error With backslash"
- cocos2d-x version: 3.15
- devices test on: none
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:2015
   - browser type and version:

Steps to Reproduce:

1.  typing cocos compile -p android
...
...
when compile libmygame.so
arm-linux-androideabi -g++: error: E:testcocos2dexternal/xxx/xxx/xxx/xxx.a No Such file or dir
arm-linux-androideabi -g++: error: E:testcocos2

[2017-04-24 11:31] alfogrillo opened #17743 "[iOS] Touch began event delayed with 3D Touch devices"
- cocos2d-x version: 3.13.1
- devices test on: iPhone 7 (3D Touch on)
- developing environments
   - Xcode version: 8.3.2

Steps to Reproduce:
1.  Build the project with the provided test source code
2. Put a finger in the red area without moving it (see the photo)
3. Observe that `touchBegan` is delayed respect to a touch in the white area

This is a problem especially with touch gestures like lo

[2017-04-24 17:20] lovesharyn commented on #17043
@minggo can we have a compiled version of LuaJit that fixes this issue? So that we can just drop and replace what we have and we do not need to wait till the next release for this to be fixed?

[2017-04-25 02:41] codinghaven commented on #17578
were you able to reproduce it?

[2017-04-25 02:43] minggo commented on #17043
@lovesharyn sorry, we have other high level tasks. You can build it using https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src.

[2017-04-25 02:43] minggo commented on #17578
Sorry, i haven't tried. Have other more important things to handle.

[2017-04-25 05:05] liuyi opened #17744 "Has Screenshot! How to apply color effect like FLASH in cocos2dx?"
- cocos2d-x version:3.10
I want to write a function to apply the same color effect (at below) in cocos2dx, but have no idea yet.
Can somebody give me a help~ THANKS!

![color_effect](https://cloud.githubusercontent.com/assets/848803/25369620/d6be9f6a-29b7-11e7-9dc7-8dfbed4d0a6a.png)

[2017-04-25 05:25] yuriilychak commented on #17744
Hello. Open cocos test case. I think you need to see the examples:
45. Node:Sprite -> 30. Testing SpriteBatchNode Color & opacity.
59. Shader - Basic.
If you know russian I know a little tutorial for  [base Adobe Flash filters](http://abdulgalimov.com/Cocos2d/Shader-Examples/) in javascript version of engine. in C++ code will be the same

[2017-04-25 06:13] liuyi commented on #17744
@yuriilychak Thanks for your advise. I checked the Russian sample,  maybe I need learn more  OPENGL before write this color effect...   !_!

[2017-04-25 06:18] liuyi commented on #17744
I found a article introduced color martrix, it looks like what I need, but I don't know how to use it in cocos2dx...

 [http://www.graficaobscura.com/matrix/](url)

OK, here is an nice project!

[https://github.com/stevetranby/cocos2dx-shader-cookbook/blob/master/docs/E12_ColorMatrix.md](url)

[2017-04-25 07:52] liuyi commented on #17744
@yuriilychak Do you know how to use this shader?
Can someone write an simple code example?
No OPEN GL experience...

FSH:

#ifdef GL_ES
precision mediump float;
#endif

uniform mat4 u_ColorMatrix;

varying vec2 cc_FragTexCoord1;

void main(){
	gl_FragColor = u_ColorMatrix * texture2D(CC_Texture0, cc_FragTexCoord1);
}

//-----------------------------
vsh:
uniform vec2 u_NoiseTexturePixelSize;
unifo

[2017-04-25 07:53] liuyi opened #17745 "HOW TO DELETE THIS?"

[2017-04-25 08:19] qiyer opened #17746 "【iOS】Keyboard events' deal cause screen confusion"
- cocos2d-x version: all version (3.2 3.7 3.9 test)
- devices test on: iphone 6 ,iphone 6 P,iphone 6s ,iphone 6s P,iphone 7 ,iphone 7 P
- developing environments
   - Xcode version:Version 8.2.1 (8C1002)

Steps to Reproduce:

1. The project is landscape . (iOS project Device Orientation setting supports Landscape & Portrait)
2. The project should have an EditBox on the screen.
3. run the project o

[2017-04-25 08:29] liuyi commented on #17744
Resolved!

 var _self=this;

        _self.shader = new cc.GLProgram("res/shader/E12_ColorMatrix.vsh", "res/shader/E12_ColorMatrix.fsh");
        //_self.shader.retain();
        _self.shader.link();
        _self.shader.updateUniforms();

         var glProgram_state = cc.GLProgramState.getOrCreateWithGLProgram(_self.shader);
        var u_ColorMatrix=[
            1,0,0,0,
            0,1,0,0,

[2017-04-25 09:21] #17745 closed, assigned to nobody

[2017-04-25 10:22] dumganhar commented on #17707
https://github.com/cocos2d/cocos2d-x/pull/17748

[2017-04-25 12:15] jezzmemo commented on #13682
i also find the problem in v3.1.2,
why cocos2d-x developer do not fix it?

[2017-04-25 16:13] maplelol opened #17749 "the label create with function "Label.createWithTTF" has a wrong PositionY"
- cocos2d-x version:cocos2d-x-3.8.1     September.17 2015
- devices test on:windows
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:vs 2015
   - browser type and version:

i create 2 labels with the following lua code

`local pLblTTF = createLabelTTF('你好世界','font/simhei.ttf',20,Size(0,0),0,0);
	pLblTTF:setAnchorPoint(Vec2(0,0));
	pLblTTF:setPosition(Vec2(5,10));
	se

[2017-04-25 22:07] NuLL3rr0r opened #17750 "fatal error: 'new' file not found #include <new> //for placement new"
- cocos2d-x version: 3.14.1 and 3.15
- devices test on: GNU/Linux and Clang as Compiler
- developing environments
   - NDK version: Not Relevant
   - Xcode version: Not Relevant
   - VS version: Not Relevant
   - browser type and version: Not Relevant

Steps to Reproduce:

1. Create a new C++ project
2. Try building it with Clang on GNU/Linux

[code]

OK, when I try to build a newly created C++ pr

[2017-04-25 22:17] NuLL3rr0r opened #17751 "3.15 fails to build while 3.14.1 is fine"
- cocos2d-x version: 3.15
- devices test on: GCC/Linux
- developing environments
   - NDK version: -
   - Xcode version: -
   - VS version: -
   - browser type and version: -

Steps to Reproduce:

1. git clone cocos2d-x from GitHub
2. try to build the samples using CMake

[code]

[2017-04-26 01:24] #15021 closed, assigned to nobody

[2017-04-26 02:24] jezzmemo commented on #13682
@3DanD Did you pull request this code?

[2017-04-26 05:12] stnguyen commented on #8305
@minggo @dumganhar is there an update to this issue?

[2017-04-26 05:46] minggo commented on #8305
@stnguyen what's your engine version? Any test case to reproduce it?

[2017-04-26 10:11] tomblenz opened #17753 "iOS: SimpleAudioEngine will not play .ogg files after migrating 3.6->3.15"
- cocos2d-x version: 3.15
- devices test on: iPhone 5, Simulator, Google Pixel
- developing environments
   - Xcode version: 8.3.2

I've migrated my game from 3.6 to 3.15 by simply to generate a new game project using 3.15 in order to get up-to-date base projects, then migrating my Resources and Classes across.  Apart from a minor update to my AppDelegate, I made no code changes.

This has been su

[2017-04-26 12:22] AIGRIND-LLC opened #17754 "[UI] Label shadow with blur"
Hi,
It looks like `Label::enableShadow()` method accepts `blurRadius` parameter to adjust shadow blur strength.
But there is no implementation for now and this parameter is just suppressed in `CCLabel.cpp`.
Is there any news on this topic?

[2017-04-26 16:29] edmand46 opened #17755 "ProgressTimer Bug on move parent"
- cocos2d-x version: 3.14.1, 3.15
- devices test on: Mac OS Chrome 58
   - browser type and version:

Steps to Reproduce:
[code]
And mouse down, in mouse move i update position crosshire
[code]

http://discuss.cocos2d-x.org/t/progress-timer-radial/36492
![0a425a871245594b1545ba56728ee2e110dbc4dd](https://cloud.githubusercontent.com/assets/10086099/25445265/a0b5d37a-2ab6-11e7-9f94-c47333053e89.gif)

[2017-04-26 20:32] tomblenz commented on #17753
Apparently I'm mistaken and it didn't work in 3.6.  Sorry, I clearly need to investigate this more... closing for now :)

[2017-04-26 20:32] #17753 closed, assigned to nobody

[2017-04-27 01:20] chenjienan commented on #17515
I have the same problem as @DCMay

I think the project cannot find the cocos2d library.
Please let me know if there is a solution.
if I run "cocos compile -p android -d android-studio" I got "Ant (Eclipse project) is not supported from Android SDK Tools 25.3.0."

Very frustrating, please help.

[2017-04-27 01:28] minggo commented on #17515
@chenjienan you should copy tools folder from older Android SDK version.

[2017-04-27 01:44] chenjienan commented on #17515
@minggo  which version of the SDK should I use?

[2017-04-27 01:46] minggo commented on #17515
Older than 25

[2017-04-27 02:39] chenjienan commented on #17515
@minggo I tried to copy and paste the `tools` from android sdk 24.4.1.
I got this "The directory 'android-13' can't be found in ANDROID_SDK_ROOT/platforms, please use -
-ap to set needed API level"

[2017-04-27 02:43] minggo commented on #17515
Your SDK doesn't include API level 13, and the default API level is 13. You should use --ap to she the API level. I think the log is clear.

[2017-04-27 02:54] chenjienan commented on #17515
@minggo You're right. Apologize for that stupid question. Yes, it solve the "cocos compile" problem. However, my android project still cannot find the cocos2d library.

<img width="775" alt="screen shot 2017-04-26 at 7 50 22 pm" src="https://cloud.githubusercontent.com/assets/3772868/25465889/04c2a5de-2aba-11e7-8580-518988bd67a0.png">

<img width="979" alt="screen shot 2017-04-26 at 7 51 01 pm" sr

[2017-04-27 03:25] minggo commented on #17515
As you can see, there is bug when building .so, you should fix the issue first.

[2017-04-27 05:20] chenjienan commented on #17515
You are right! It's a build issue.

[2017-04-27 06:19] fuyifan opened #17758 "xcrun: error: unable to find utility "PackageApplication", not a developer tool or in PATH"
- cocos2d-x version: 3.14.1
- devices test on: mac
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  Run cocos console : cocos compile -p ios -m release -j4 --sign-identity "iPhone Developer"
2. Get the error: cocos compile -p ios -m release -j4 --sign-identity "iPhone Developer"

[2017-04-27 08:00] zhangyufei49 opened #17759 "AVAudioSessionInterruptionNotification not fired caused by CDAudioManager set AVAudioSession's delegate"
- cocos2d-x version: 3.x
- devices test on:  运行 iOS 9.x and 10.x的几个设备
- developing environments
   - Xcode version: 8.3.2 and 8.2.x

### 问题原因:

* AVAudioSessionDelegate 已经被标记为 deprecated 但是 CDAudioManager  仍在使用这个东西。
* 在CDAudioManager::init方法里，给AVAudioSessionManager的单例对象设置了delegate 从而导致系统的其他原生模块注册的通知观察者不可用了。
* 我的app有一个虚拟的MIDI发生设备用来模拟钢琴键盘。播放midi文件的时候闹铃响起，但是因为上述原因导致无法收到音频中断，从而无法恢复播放状态。

### 修改办法:

将

[2017-04-27 09:45] div5yesh commented on #17717
fixed in [cocos2d-x-3.15](https://github.com/cocos2d/cocos2d-x/blob/v3/CHANGELOG).

[2017-04-27 09:45] #17717 closed, assigned to nobody

[2017-04-28 06:04] minggo commented on #17751
Have you updated 3rd party libraries?

[2017-04-28 06:07] minggo commented on #17750
`<new>` is a standard c++ header file. Please make sure your environment is good for c++ developing. And linux has too many platforms, we only tested on ubuntu. We will not maintain other platforms, but accept PR if it fixes an issue and will not break ubuntu.

Thanks.

[2017-04-28 06:07] #17750 closed, assigned to nobody

[2017-04-28 06:09] #17744 closed, assigned to nobody

[2017-04-28 06:11] minggo commented on #17742
It seems the path is error. Can you build the tests shift by engine?

[2017-04-28 06:13] minggo commented on #17729
Did you use lua or js? I am confused about your given information.

[2017-04-28 06:15] huangapple commented on #17729
js

[2017-04-28 06:16] minggo commented on #17723
@dumganhar  SSL support is added in v3.15, right?

[2017-04-28 06:17] #17715 closed, assigned to nobody

[2017-04-28 06:18] minggo commented on #17715
How does the tool work? What is defined compatibility? Does add new functions be treated compatible?

[2017-04-28 06:46] huangapple opened #17763 "cocos3.15 热更新 使用https， 安卓， win 失败， ios可以"
详情见这边
http://forum.cocos.com/t/creator1-4-5s-https-certificate-for-cdn-qiyimofang-com-doesnt-match-any-of-the-subject-alternative-names-ucd1-pp-uc-cn/44489/8

[2017-04-28 06:47] #17724 closed, assigned to nobody

[2017-04-28 08:52] minggo commented on #17758
Did you use Xcode 8.3+? `PackageApplication ` is deprecated in Xcode 8.3 +. It seems [this thread](http://stackoverflow.com/questions/43094380/whats-the-replacement-for-xcodes-packageapplication) has a solution, but i can not even compile the project using the command of `cocos compile -p ios -m release -j4 --sign-identity "iPhone Developer: XXXX"`. I met the error:

[code]

[2017-04-28 23:12] fuyifan commented on #17758
Mingo, iPhone developer is the sign for publish the formal IPA. Without the signing you can only compiled and get the simulated i386 package. The issue is related with xcode8.3

[2017-04-29 04:03] lvc commented on #17715
It is generally comply with https://community.kde.org/Policies/Binary_Compatibility_Issues_With_C++.

Adding new functions is OK (green color in the report). Adding new virtual functions may not be OK in several cases (red color).

Thank you.

[2017-04-29 15:43] Jobcrazy opened #17764 "UIRichText无法获取高度"
这应该是引入官方库时就存在的Bug。

getVirtualRendererSize无法获取高度，即使在之前formatText也不行，只能获取setContentSize时的高度。

这两篇文章也许有帮助：
http://www.it165.net/pro/html/201412/29300.html
http://blog.csdn.net/lnslc/article/details/50040069

另外，UIRichText在处理超长且有换行的文本时，setContentSize经常失效，导致文字超出ContentSize的宽度，跑到外面去了。

[2017-04-29 15:48] Jobcrazy commented on #17764
不好意思，写错地方了

[2017-04-29 15:48] #17764 closed, assigned to nobody

[2017-04-30 09:40] hussain-sohaib opened #17766 "What could be the max value of MAX_AUDIOINSTANCES, default is 24."
- cocos2d-x version: 3.15

The sounds just stops when loads of files are played simultaneously. By setting  MAX_AUDIOINSTANCES to 64 solve the issue temporarily. What could be the safest max value of  MAX_AUDIOINSTANCES?

Thanks

[2017-05-01 05:51] ahlwong opened #17767 "Commit #b017934 for OpenGLES3 breaks multisampling on iOS"
- cocos2d-x version: 3.15
- devices test on: iPhone 7 plus

Steps to Reproduce:
Commit #b017934 made changes to cocos/platform/ios/CCES2Renderer-ios.m.
Now running this following code creates a black screen with swap buffer errors.
[code]
More info here:
https://github.com/cocos2d/cocos2d-x/commit/b0179340be4a2dc956c8ada5c1d0ee9ec34a2d0e

[2017-05-01 15:07] v1993 commented on #13677
I've got the same problem on 3.15.

[2017-05-02 01:42] dumganhar commented on #17723
@minggo , yes, it's supported from v3.15.
@div5yesh , could you try with v3.15(http://www.cocos2d-x.org/filedown/cocos2d-x-3.15.zip)
There are test case in ExtensionTests/WebSocketTest which also connects to `echo.websocke.org` with `wss` protocol. And we could make sure the test case works.

[2017-05-02 01:45] dumganhar commented on #17766
The max value of `MAX_AUDIOINSTANCES` should be `32` on Android. Don't set a value greater than 32.

[2017-05-02 13:37] arkrian opened #17769 "csb bug in cocos2d-x 3.15"
I upgraded my game from version 3.141 to version 3.15 and found some bugs.

1) In previous versions, applying opacity or fade-action to a node created with Cocostudio in code has been applied to all children. However, in 3.15, it seems that Opacity or Fade may not apply to Children.
2) Alignment of Text created in Cocostudio is not applied. Also, custom-size does not apply. In my game, the text al

[2017-05-02 19:15] meiry opened #17770 "websockets can't connect to localhost ws server , can't initiate connection"
- cocos2d-x version: 3.15 c++
- devices test on: windows 10
- developing environments
  - VS version: 2015 64 bit
 c++

Steps to Reproduce:
simple code that is taken from the WebSocketsTest cocos2dx example i setup simple web socket server
running local host
trying to make simple websocket connection to the server without success , connecting from HTML5 working great so the server is working
i cal

[2017-05-03 01:37] minggo commented on #17758
Yep, i pass the sign information in `--sign-identity`, but it seems now it can not work just pass sign information.

[2017-05-03 02:24] minggo commented on #17746
So should stop listening keyboard event instead of change the size?

[2017-05-03 02:32] qiyer commented on #17746
Yes, i try to stop listening keyboard event, but it will effect 2dx‘s Editbox .Then, i just change the size. The best to , stop listening keyboard event for the right time.

[2017-05-03 02:40] qiyer commented on #17746
最好是在合适的时机 移除键盘监听， 我尝试过 这样做法，但是会影响 Editbox 的键盘伸缩上下位置。
最后我只好修改了size，能解决问题，但不是最优的方案。
我之前有在你们Editbox监听事件回调里面判断 当前事件是否是 Editbox传来的，根据编辑状态判断，但是会影响Editbox，所以不能以编辑状态作为判断依据，最好你们能加入一个新的标示，比如tag 之类的，判断一下。
（因为我不是cocos2d-x 开发者，是一名 iOS SDK开发，对你们引擎不是很熟悉，所以也没深入 研究。）

[2017-05-03 02:52] minggo commented on #17746
thanks

[2017-05-03 03:22] minggo commented on #17751
close it since it is not responsible

[2017-05-03 03:22] #17751 closed, assigned to nobody

[2017-05-03 03:22] minggo commented on #17742
close it since it is unresponsible

[2017-05-03 03:22] #17742 closed, assigned to nobody

[2017-05-03 03:24] minggo commented on #17740
currently, there is not plan especially on iOS because it will make the app size bigger.

[2017-05-03 03:24] #17740 closed, assigned to nobody

[2017-05-03 03:27] minggo commented on #17769
As mentioned a long time ago, cocos studio is canceled, so there is not resource to its related issues though PR is accepted.

[2017-05-03 03:27] #17769 closed, assigned to nobody

[2017-05-03 03:33] minggo commented on #17766
@dumganhar  are you sure? AFAIK, there is not documentation of this.

[2017-05-03 04:02] arkrian commented on #17769
It was no problem until 3.141.
This is a problem that occurred in 3.15.
Is there no plan to fix it in the future?
Does that mean I should not upgrade my project to 3.15 or later?

[2017-05-03 04:06] hussain-sohaib commented on #17769
Hello,

I will suggest you to move away from cocos studios for ui. First it has
reached eof. Second csb file are very heavy and take a lot of time to load.

I will suggest you to use sprite sheets and make ui"s programmatically. It
is just my suggestion, choice is yours.

Thanks

On Wed, 3 May 2017 at 09:02, arkrian <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-05-03 04:11] xygahs0801 opened #17773 "我想问一下你们统一的测试开发编译环境，NDK版本用的哪个，targetSdk version是哪个，compileSDK version是哪个，谢谢！"

[2017-05-03 06:21] fuyifan commented on #17758
mingo, I use the PackageApplication from the older xcode version and it compiled successful. However, it seems the compiled ipa contains only the 32bit app and after installation in iphone it shows dialog 应用开发者需要更新此应用以改进其兼容性. But if i use xcode to build the package it doesn't show this issue.

[2017-05-03 06:27] minggo commented on #17758
So it seems there are 3 issues:

* PackageApplication with Xcode 8.2 or lower version has compatibility issue
* PackageApplication is deprecated in Xcode 8.3+
* console can not build with Xcode 8.3+

[2017-05-03 07:48] minggo commented on #17767
Refer to [the doc](https://developer.apple.com/library/content/documentation/3DDrawing/Conceptual/OpenGLES_ProgrammingGuide/WorkingwithEAGLContexts/WorkingwithEAGLContexts.html#//apple_ref/doc/uid/TP40008793-CH103-SW4), currently cocos2d-x doesn't support multiple sample correctly. cocos2d- x doesn't

* clear sample buffer at the beginning of a frame
* doesn't resolve the contents from the multisa

[2017-05-03 08:02] minggo commented on #17767
Oh, it seems `CCEAGLView-ios.mm` do the things mentioned above.

[2017-05-03 08:39] dzpt opened #17774 "setContentSize and setScale give poor graphic quality"
- cocos2d-x version: 3.14
- devices test on: iPhone

I want to create sprite with size is relative to the screen size. I.e: Sprite size is equal to screen width * 0.2.

I use `setContentSize` but it gives ugly and poor graphic quality. I've read about multiple resolution supports, but it doesn't work on this case because i need sprite size adapt to the any screen size.

This is an error of cocos2d

[2017-05-03 09:09] #17114 closed, assigned to zilongshanren

[2017-05-03 09:13] zilongshanren commented on #17608
@summerinsects  @tinysail
The duplicated text display issue when call `setText` in textChanged callback is fixed now.
Thanks for your contribution.

[2017-05-03 09:13] zilongshanren commented on #17635
@ForestRingGames
The duplicated text display issue when call setText in textChanged callback is fixed now.
Thanks for your contribution.

[2017-05-03 09:18] #17134 closed, assigned to nobody

[2017-05-03 09:41] ForestRingGames commented on #17635
@zilongshanren Thank you! I will test it and report back. In the Cocos2d-x forums you said it's only fixed on Android. But the duplicated text bug also happens on iOS.
Did you also check out the issues on iOS and how the app might freeze for up to 20 seconds just to open up the edit box?

[2017-05-03 09:45] zilongshanren commented on #17635
@ForestRingGames
Yes, the duplicated text issue also be fixed on iOS.

But the lag issue, I can't reproduce it on my side. I'm using an iphone 7 device

[2017-05-03 09:50] ForestRingGames commented on #17635
@zilongshanren That's good to hear.

Did you test the latest demo project I uploaded there and see the videos? I also posted a stacktrace where it happens, maybe this gives you some ideas what is going on.
I'm also testing on fairly new devices - iPad Pro and iPhone 6S and I'm getting the issue constantly.
You might need to try it a couple of times, the issues is random. If it doesn't happen with

[2017-05-03 09:52] zilongshanren commented on #17635
@ForestRingGames
Ok, I will try to follow your instructions to reproduce the lag issue.

[2017-05-03 10:50] Rubonnek commented on #17770
Have you tried connecting using "http://" instead of "ws://"? For example, change

[code]
to

[code]
libwebsockets should handle the http handshake for you. I'm not quite sure if that will work -- I haven't tested it, but it seems like your server expects an `http` connection first that will then be upgraded to a `websocket` connection.

I coded my own websocket server in C and the Cocos2D-X wrapp

[2017-05-03 12:13] meiry commented on #17770
Hey , no i didn't as the standard is ws:: .
well in my case i don't think its even reaching to the server .... will try with wireshark ...

[2017-05-03 21:35] Anywhere-Music-Player opened #17776 "Latest cocos2d-x v3.15 not using latest Box2D v2.3.2"
Cocos2d-x v3.15 uses old Box2D v2.3.0.

https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/blob/v3/Box2D/Common/b2Settings.cpp#L24

Need update to v2.3.2

https://github.com/erincatto/Box2D/blob/master/Box2D/Box2D/Common/b2Settings.cpp#L24

[2017-05-03 23:42] Rubonnek commented on #17770
@meiry I knew your username sounded familiar -- I used your tutorial to make my websockets server in C. I even sent you an email with the memory leak patch I found in the Cocos2D-X client code wrapper (which is at #17653), and to which you replied to. Sir, I will personally help you with your C++ client code. Thanks again for the tutorial, it was very helpful.

We are on the same boat when it come

[2017-05-04 02:26] zilongshanren commented on #17635
@ForestRingGames

Try to add some code in your AppController.mm,

[code]

Refer:

http://stackoverflow.com/questions/9357026/super-slow-lag-delay-on-initial-keyboard-animation-of-uitextfield

After apply this trick, the lag time would be reduced to ~20ms, I think this is an accept value with my iPhone 7.

[2017-05-04 02:56] zilongshanren commented on #17635
@ForestRingGames
One more tip, try to build your test demo in release mode and unplug your device from Xcode.
And retest it.

[2017-05-04 03:22] minggo commented on #17478
Find a conflict issue:

* multi sample conflict on iOS, can refer to https://github.com/cocos2d/cocos2d-x/issues/17767

[2017-05-04 03:24] minggo commented on #17767
Can fix it by replacing `glResolveMultisampleFramebufferAPPLE ` with `glBlitFramebuffer ` as [the doc](https://developer.apple.com/library/content/documentation/3DDrawing/Conceptual/OpenGLES_ProgrammingGuide/AdoptingOpenGLES3/AdoptingOpenGLES3.html) says. But `glBlitFramebuffer` is an GLES3 function. Can not link it with GLES2.0.

[2017-05-04 03:25] jojojames commented on #17711
@Rubonnek Thanks. I'll be keeping a close watch on that!

[2017-05-04 03:58] fireyang commented on #9785
我们用cowboy 2.0也有这个问题，降到1.0.2没问题。。。

[2017-05-04 04:08] hetao1024768 opened #17777 "Label::draw() memory leak"
- cocos2d-x version:3.15
- devices test on:iphone6p
- developing environments
   - NDK version:
   - Xcode version:8.3.2
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Label::createWithTTF()  then remove it
2. _customCommand.func = CC_CALLBACK_0(Label::onDraw, this, transform, transformUpdated); memory leak

[2017-05-04 04:08] hetao1024768 commented on #17777
<img width="833" alt="wx20170504-120612 2x" src="https://cloud.githubusercontent.com/assets/9963866/25690293/63eaf710-30c2-11e7-9ba3-3fdcbe9e2235.png">

[2017-05-04 05:10] meiry commented on #17770
Hey @Rubonnek
Thanks allot for your kind words and the help .
The problem with my code I guess is that
I do not use libwebsockets as the server as in the tutorial .
This time I'm using uWS as server
https://github.com/uWebSockets/uWebSockets
And I guess the problem is in that server.
As setting up uWS server and libwebsockets client do not work

Ok i tryed your code using the latest cocos code .
b

[2017-05-04 06:37] minggo commented on #17767
Fixed in https://github.com/cocos2d/cocos2d-x/pull/17778. Just not use GLES3 context if using multisampling.

[2017-05-04 07:02] minggo commented on #17704
I tested on xiaomi4, can not reproduce it, and i tested on huawei P9, task switcher can not take effect when touching `replaceScene`.

[2017-05-04 07:10] #17608 closed, assigned to nobody

[2017-05-04 07:20] #17640 closed, assigned to nobody

[2017-05-04 08:25] #17767 closed, assigned to minggo

[2017-05-04 09:28] ForestRingGames commented on #17635
@zilongshanren

I have this code in app for about four weeks now and I found the exact same Stackoverflow thread as you did. It didn't help, still lags of at least 1 second, randomly spiking up:

[code]

[2017-05-04 10:27] Rubonnek commented on #17770
That's strange. I compiled the [uWS echo server](https://github.com/uWebSockets/uWebSockets/blob/master/examples/echo.cpp) in Linux and I was able to connect. After sending the text "Test", I received the same text on my client.

Mind if we double check the URL you are using? The [uWS echo server example](https://github.com/uWebSockets/uWebSockets/blob/master/examples/echo.cpp#L11) listens in port

[2017-05-04 11:16] Rubonnek commented on #17770
Here, let me add how the log looks when I successfully connected to the uWS echo server and sent the "Test" text:

[code]

To get the log above, you'll have to [rewrite the `onOpen` and `onMessage`](https://github.com/Rubonnek/minimal-cocos2d-x-websocket-client/blob/master/Classes/HelloWorldScene.cpp#L20-L28) delegate methods in my test with the following:

[code]

[2017-05-04 12:02] meiry commented on #17770
Thanks for your testing , i know you are using linux as your working box .
maybe the problem is im using windows and uWS have problem there ...
can you test on windows ? if it is working on windows .
definitely the problem is my .
as im using VSC++ 2015 both client and server on the same machine.

[2017-05-04 12:19] Rubonnek commented on #17711
By the looks of it, it seems like Urho3D is already able to do this for all their supported platforms. Under the [Urho3D CMake folder](https://github.com/urho3d/Urho3D/tree/master/CMake) there seems to be the necessary CMake modules and whatnot to generate the iOS, Mac, Android, and Windows builds. Perhaps someone could modify that back to work with Cocos since those files are also under the MIT l

[2017-05-04 16:56] Rubonnek commented on #17770
You are right -- I was able to reproduce the connection error on Windows when both client and server are running on the same machine. I also tried connecting from Linux to my Windows machine running the uWS server and I got a timeout error, as if the communication got stuck while connecting. Seems like [uWebSockets issue #582](https://github.com/uWebSockets/uWebSockets/issues/582) could be related

[2017-05-04 17:00] meiry commented on #17770
Great ! thanks so we are on something , there is problem lts try to fix it ..

Did testing down to version v0.10.0 and still it is not working .. i guess not need to get lower then this .
There is major bug there ..

[2017-05-04 21:52] tiagomartines11 commented on #17654
That issue applies to several UI components which accept 9-slice sprites.

Whenever `loadTexture()` is called on a ImageView with 9-slice data, its `virtualRenderer` loses `_capInsets` data and the `_renderMode` variable is reset to `QUAD` instead of `SLICE9`.

This is an annoying behaviour introduced with the Sprite re-work on v3.14.

I also tried an alternative, using `getVirtualRenderer()->setS

[2017-05-05 05:13] rh101 opened #17782 "Crash when AudioEngine::end() is called from AppDelegate.cpp"
- cocos2d-x version: v3.15
- devices test on: Windows win32
- developing environments
   - NDK version: -
   - Xcode version: -
   - VS version: VS2017
   - browser type and version: -

Steps to Reproduce:

1. Use the experimental audio engine (enable the USE_AUDIO_ENGINE define in AppDelegate.cpp).
2. Close the game window manually (like clicking the X icon on the window).

When AudioEngine::end(

[2017-05-05 06:12] minggo commented on #17043
@bsergean yep, the patch resolve the crash. Thanks.
I updated luajit for iOS in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/293. And i updated 3rd party library version of cocos2d-x in https://github.com/cocos2d/cocos2d-x/pull/17783.

[2017-05-05 06:40] minggo commented on #17773
We don't have the uniform environments. I always use NDK r13. targetSDk version and compile SDK version depends on what versions you want to support.

[2017-05-05 06:40] #17773 closed, assigned to nobody

[2017-05-05 07:03] #17574 closed, assigned to minggo

[2017-05-05 07:12] minggo commented on #17327
@Rubonnek thanks for the information, so it is not a bug of engine?

[2017-05-05 07:15] alfogrillo opened #17784 "[Feature request] Haptic Feedback"
In Cocos2d-x we have `Device::vibrate(float duration)` to trigger device vibration. 🙂
Similarly it could be very useful to have multi platform haptic feedbacks.
On iOS it is very straightforward to implement, I don't know nothing about Android.
Referer the iOS documentation [here](https://developer.apple.com/reference/uikit/uifeedbackgenerator).

The ideal could be something like that:

[code]

[2017-05-05 07:18] minggo commented on #17480
@KAMIKAZEUA what does `expand ` used for?

[2017-05-05 07:20] #17043 closed, assigned to minggo

[2017-05-05 07:24] minggo commented on #17728
@hetao1024768 how to reproduce it?

[2017-05-05 07:25] Anywhere-Music-Player commented on #17480
@minggo full visual explanation you can find here https://github.com/SFML/SFML/wiki/Source:-Radial-Gradient-Shader

[2017-05-05 07:33] minggo commented on #17480
I think we don't need expand since we have `startColor` and `endColor`.

[2017-05-05 07:36] minggo commented on #17480
Oh, it seems expand is used to make inner color. But what's the inner color, it is the startColor in the case?

[2017-05-05 07:38] Anywhere-Music-Player commented on #17480
Yes, inner it's startColor. And gives a bit more flexibility to configure gradient.

[2017-05-05 07:41] minggo commented on #17480
Sounds reasonable. Thanks @KAMIKAZEUA .

[2017-05-05 07:49] hetao1024768 commented on #17728
@minggo When I first build it ,everything is ok.
All troubles come with me when I found static librarys had disapeard (xxx.a xxx.a xxx.a)

[2017-05-05 07:55] minggo commented on #17728
Did you mean after first time, you met the issue using Android Studio to build the project? What did you do after first time?

[2017-05-05 08:04] hetao1024768 commented on #17728
@minggo Yep, I use CMM to clean my OSX, after that I found the static librarys in ~/project-name/proj.android-studio/app/build/intermediates/ndkBuild/ were cleaned.

[2017-05-05 08:07] minggo commented on #17728
What's CMM? I think you can use Android Studio to rebuild the project.

[2017-05-05 08:32] hetao1024768 commented on #17728
@minggo CMM is CleanMyMac.app , used for system maintenance. When I rebuild it, it cause this issue.

[2017-05-05 08:46] minggo commented on #17728
Sorry, i have no idea.

[2017-05-05 08:49] hetao1024768 commented on #17728
@minggo so I get a new project to go on

[2017-05-05 09:28] div5yesh commented on #17723
@dumganhar yes, I will surely try that and update this issue.

[2017-05-05 13:26] Rubonnek commented on #17327
@minggo I don't think it's a bug in the physics engine. The difference in sprite frame size seems to be triggering a `cocos2d::Node` repositioning somewhere that makes its way into the physics engine and screws up with the physics simulation. Whenever I triggered my "jump" event in the game, which just sets an upwards velocity on the physics object, the sprites would jump way higher than normal de

[2017-05-05 14:55] AIGRIND-LLC commented on #15926
There is pull request containing fix for this issue:
https://github.com/cocos2d/cocos2d-x/pull/17786

[2017-05-05 16:05] saumyamukul commented on #17704
You're right, some devices don't allow task switching when a touch is in progress.
But I was able to repro with ease on the following device (They allow task switching while touching the screen)
Galaxy S4
Nexus 4

You can also get it to show on some devices by timing your touch just right. Tap on the task switcher and then immediately press "replaceScene". This is slightly harder to repro, but I w

[2017-05-05 22:13] Rubonnek commented on #17777
@hetao1024768 Could you share some code to reproduce this issue?

[2017-05-06 01:29] hetao1024768 commented on #17777
@Rubonnek I just create a label by calling this function(Label::createWithTTF()) , and attach it on a sprite. After that I run an action with the sprite ,then I remove this sprite. After create and remove for a while I found memory increase (picture above)

[2017-05-06 07:46] v1993 opened #17788 "Get data from zip in lua"
- cocos2d-x version: 3.15

I want to get resource file from zip, but it looks like it is impossible in lua or js. I think that we really need port of `getFileDataFromZip` in those languages.

Or did I understood purpose of this function wrong?

[2017-05-06 13:27] iamjohnwang opened #17789 "why RuntimeEngine is no longer supported in 3.15?"
I upgraded the engine from 3.7 to 3.15, found that RuntimeEngine is no longer supported by default? I used to collect log from console window and interact with engine via CCConsole tool, why these tools are removed and how I can get them work again? Or is there some other more convenient debug tool?

[2017-05-06 14:17] Rubonnek commented on #17777
@hetao1024768 I tried this in the simulator for iPhone 6 Plus:

[code]

But there weren't any leaks detected, and `valgrind` in Linux doesn't show anything unusual either.

[2017-05-06 14:34] Rubonnek commented on #17777
I also tried:

[code]

Still no leaks. Do you mind sharing some code to reproduce this issue?

[2017-05-06 16:54] v1993 opened #17790 "XXTea bindings in lua"
- cocos2d-x version: 3.15

Does xxtea aviable in lua for now? If not, we really need bindings for it in lua (and js probably?).

[2017-05-07 08:36] alfogrillo commented on #17681
It seems the init is slower when the app is launched from Xcode, no problems when started from the device.

[2017-05-07 08:36] #17681 closed, assigned to nobody

[2017-05-07 10:30] div5yesh commented on #17723
@dumganhar SSL socket connections are working fine with wss://echo.websocket.org without any issues.

But when I try to connect with my server, I get following errors:

D/WebSocket.cpp (879): ssl:1
D/WebSocket.cpp (837): WARNING: CA Root file isn't set. SSL connection will not peer server certificate
D/WebSocket.cpp (167): NOTICE: Creating Vhost 'default' port -1, 1 protocols, IPv6 on

D/WebSocket

[2017-05-07 10:48] antonicg opened #17791 "PhysicsBody setDynamic"
- cocos2d-x version: 3.10
- devices test on: Windows
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2017
   - browser type and version:

Steps to Reproduce:

1. Add a PhysicsBody to a Node
2. Set the PhysicsBody as Dynamic
3. After a while set the PhysicsBody as Static
4. Set it again as Dynamic
5. The PhysicsBody remains static

[2017-05-07 14:35] hussain-sohaib opened #17792 "Test for orthogonal camera. With zoom in and zoom out feature"
- cocos2d-x version: all

Please add tests for orthogonal camera, with zoom in and zoom out features.

Thanks

[2017-05-08 01:31] dumganhar commented on #17766
@minggo , it's the limit in Android Source code. You could refer to Android Source code: https://android.googlesource.com/platform/frameworks/av/+/master/services/audioflinger/AudioMixer.h#53

[code]
And we copy the implementation of AudioMixer class to our AudioEngine.

[2017-05-08 01:40] minggo commented on #17327
@Rubonnek thanks.

[2017-05-08 01:40] #17327 closed, assigned to nobody

[2017-05-08 01:42] minggo commented on #17766
I am not sure if they are the same thing. So should we change the default value to 32 too?

[2017-05-08 01:54] minggo commented on #17654
@xiayangqun could you please provide a test case to save our time? Thanks.

[2017-05-08 02:47] tiagomartines11 commented on #17654
Here is a quick example:

[code]

If you press the button **two** times you see the texture is changed and the insets are lost (image gets stretched) both for ImageView and Button.
This didn't happen before 3.14 Sprite refactor.

Thank you for looking into this!

Images:
![red](https://cloud.githubusercontent.com/assets/2766836/25788379/fe0f2fd2-337e-11e7-89fe-c6816755219a.png)
![yellow](https://c

[2017-05-08 03:11] zilongshanren commented on #15926
@AIGRIND-LLC
I have tested this issue on IOS, and it didn't crash.

 I have tested this issue with the latest v3 branch code.

Does this issue happen only on Win32 or cocos2d-x v3.12?

thanks.

[2017-05-08 03:27] yemingyu opened #17793 "run JS_CallFunctionValue in Sub-Thread produce JS: <no filename="filename">:0:too much recursion"
- cocos2d-x version: latest
- devices test on: iOS
- developing environments
   - NDK version:
   - Xcode version: 8.3
   - VS version:
   - browser type and version:

[2017-05-08 03:40] DavidDeSimone commented on #17793
You should only interact with Spidermonkey on the main cocos thread. If you interact with Spidermonkey on any other thread besides the main cocos thread, it may cause bizarre bugs and hard to track down issues.

[2017-05-08 10:55] xbpiao commented on #17773
编译Android版本无所谓的，用最新的NDK也没问题，Lua绑定的脚本支持android-ndk-r9d或者android-ndk-r10d

其它版本就得自己改改.py了

[2017-05-08 13:20] paddyesch opened #17794 "Multipart POST Request corrupted on WinUWP"
- cocos2d-x version: 3.14.1
- devices test on: Win10
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: Professional 2015 Update 3
   - browser type and version:

I have the following code to create a multipart POST request with the HttpRequest class. In my App I send a JPG image to my server. This code works fine under Android / iOS / Mac / Win32. However, under WinU

[2017-05-08 23:12] saumyamukul opened #17795 "[Android] Edit box text is larger and mis-aligned"
- cocos2d-x version: 3.15
- devices test on: LG G5, Galaxy S8, Nexus 6P
- developing environments
   - NDK version: r10e
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Start cpp-tests and navigate to "Node:UI"->"GUI Dynamic Create Test"->"EditBox Test"
2. Tap the first edit box. Notice how the font size increases when the edit box is focuse

[2017-05-09 02:40] hetao1024768 commented on #17777
class Fish : public cocos2d::Sprite
`
static const std::string FISH_FONTNAME = "fonts/方正喵呜.ttf";
static const float FISH_FONTSIZE = 20.0f;

initWithSpriteFrame(_spriteFrames.front());
    setPosition(position + _fishOffset);
    setRotation(90.0f);
    setOpacity(1);
    runAction(_fishAnimation);

    _fishShadow = Sprite::createWithSpriteFrame(_spriteFrames.front());
    _fishShadow->setPosition

[2017-05-09 04:22] ghost commented on #17770
@meiry You are most probably mixing Ipv6 and Ipv4 up. Windows servers only listen to either, not both. Make sure what you listen for is the same you connect to. You can use listen option ONLY_IPV4 on Windows to force Ipv4 server side. Just because you feel frustrated with an issue doesn't mean you can just drop it at me without making any kind of effort to figure things out youself.

[2017-05-09 05:38] G17hao opened #17797 "sprite culling bug when using SpriteFrame"
-- cocos2d-x version:3.15
-- platform: win32 (i didn't try other platform)
--[[
create a lua project
copy this code to main.lua
run it.
the helloWorld.png will be hide when it close to top of screen
--]]
------------------------------------
local s = cc.Scene:create()

local spr = cc.Sprite:create("res/HelloWorld.png");
local tex = spr:getTexture();
print(tex)
local sz = spr:getContentSize()
sz.x

[2017-05-09 09:50] huangapple opened #17798 "cocos3.15 ccui.WebView can't visit https 【Android JSB】"
JSB
-----------------------------------------
Android
ccui.WebView, can't  visit https
eg: https://www.baidu.com
-----------------------------------------
IOS
ccui.WebView, can't  visit https、http
eg: https://www.baidu.com  http://www.baidu.com
-----------------------------------------

[2017-05-09 11:29] Anywhere-Music-Player commented on #17480
Looking forward for implementation :)

[2017-05-09 13:26] zengKun2002 opened #17799 "about CCDownloader-apple.mm"
when do doDestroy,actually,  the taskDict is empty. because when i shut down the wifi, it first run didCompleteWithError, and in this function it will remove the task from taskDict. Is that resume data works?

[2017-05-09 13:28] zengKun2002 commented on #17799
with the newest CCDownloader-apple.mm

[2017-05-09 23:40] kmaker opened #17800 "AudioEngine loops get eventually cut"
- cocos2d-x version: 3.15
- devices test on: iPad
- developing environment: Xcode version:

Steps to Reproduce:
1. Using AudioEgine, play a sound bigger than PCMDATA_CACHEMAXSIZE (1048576) with loop
2. Let the file loop a few times and eventually it will stop looping

The problem seems to be that AudioPlayer::rotateBufferThread will feed the buffer with 100ms of data and sleep for 75ms. If the thr

[2017-05-10 01:58] minggo commented on #17798
what's your engine version?

[2017-05-10 01:59] huangapple commented on #17798
cocos3.15

[2017-05-10 01:59] minggo commented on #17789
What's RuntimeEngine?

[2017-05-10 02:01] minggo commented on #17798
The content of the issue is different with the title. So what's the real issue?

[2017-05-10 02:06] huangapple commented on #17798
是 cocos-js  3.15

使用 ccui.WebView
安卓  不能访问  https://www.baidu.com
但可以 访问  http://www.baidu.com

ios， 也不能访问  https://www.baidu.com
连 http://www.baidu.com
ios的http不能访问可能是因为苹果那边的限制及项目配置有关

[2017-05-10 02:09] dumganhar commented on #17800
@kmaker , thanks for your report.
Does this issue exist by a specific audio file or most audio files?
If it happen by a specific audio file, could you please upload one for reproducing?

[2017-05-10 02:15] kmaker commented on #17800
I've seen it with many different files (at least 6). The shorter the file, the faster it breaks (since it loops more frequently). Keep in mind that the file must still be bigger than PCMDATA_CACHEMAXSIZE to enable the "streaming mode". Let me know if you are not able to reproduce it and I could upload an audio file of mine.

[2017-05-10 03:01] minggo commented on #17797
Why you set this
[code]

[2017-05-10 03:08] minggo commented on #17793
@yemingyu did you use SpiderMonkey as @DavidDeSimone said?

[2017-05-10 03:14] minggo commented on #17792
Did you meat any issue?

[2017-05-10 03:16] minggo commented on #17790
Please bind it yourself for 3rd party libraries.

[2017-05-10 03:16] #17790 closed, assigned to nobody

[2017-05-10 03:21] minggo commented on #17788
You can refer to https://github.com/cocos2d/cocos2d-x/issues/14341 and modify it by yourself to read data from zip file. We will add it in future.

[2017-05-10 03:32] hussain-sohaib commented on #17792
Its not about meeting an issue. No orthogonal camera test is available and
there is very little information available on how to use orthogonal camera.
So please add this test in camera tests.

Thanks

On Wed, 10 May 2017 at 08:14, minggo <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-05-10 03:36] minggo commented on #17792
I am not sure what you want to do. You can use `Camera::createOrthographic()` to create a orthogonal camera.

[2017-05-10 03:48] G17hao commented on #17797
ohh. ok. it not a issue.
it also Reproduce for spritesheet frame.
we have some spritesheet animation, all frame in spritesheet has offset.
i just seted offset. but didn't set the OriginalSize.

[2017-05-10 03:48] #17797 closed, assigned to nobody

[2017-05-10 07:27] zilongshanren commented on #14165
this issue should be  resolve in the latest v3 branch.

[2017-05-10 07:27] #14165 closed, assigned to zilongshanren

[2017-05-10 07:28] #17795 closed, assigned to zilongshanren

[2017-05-10 07:45] yunmin97 opened #17801 "AudioEngine Issues in cocos2dx-v3.8.1"
- cocos2d-x version:   3.8.1
- devices test on:   android7.0
- developing environments
   - NDK version:     ndk-10re
   - VS version:   vs2015
问题：
1、 以前因为音频无法完美循环问题，根据官方建议把v3.12版本的AudioEngine移植到3.8.1版本下来使用，确实解决了不完美循环的问题，但是现在发现移植后的音频在android7.0机型下卡顿严重甚至播放不出声音！！
2、请问现在3.15版本的AudioEngine模块是否解决了不完美循环和是否在android7.0机型上面会卡顿?
3、如果3.15版本的AudioEngine完全没问题，那么是否有无可能移植到3.8.1版本上使用？
4、如果能够移植，官方有没有移植的具体方案？

备注：以

[2017-05-10 07:53] zilongshanren commented on #16959
@artemtarassov
I have fixed it, could you please give it a test?

[2017-05-10 07:53] zilongshanren commented on #16864
@flyingkisser
I have fixed it, could you please give it a test?

[2017-05-10 07:56] JokerHappy opened #17803 "cocos2d-x 3.4 libpng warning: Application built with libpng-1.6.2 but running with 1.5.12"
- cocos2d-x version:3.4
- devices test on: iOS Simulator
- developing environments
   - Xcode version: 7.2.1

Loading 3d scene error：

[code]
And

[code]
Sprite-> NULL

[2017-05-10 07:59] flyingkisser commented on #16864
@zilongshanren sure, maybe I'll test it on this weekend.

[2017-05-10 08:00] sbrednikhin commented on #15926
All versions of cocos between 3.12 and 3.14. On Win32 and Android.
More: It's not fully stable crush. It may crush after 3 symbols or after 20. It depends on cursor "pahse".
Please look into pull request.

[2017-05-10 09:40] AIGRIND-LLC commented on #15926
@zilongshanren
This bug can be reproduced in the latest version of framework (incl. 3.15)
Did you **enable cursor** for the text field? Also a **fixed content size** must be set for it.

[2017-05-10 09:44] retrobrain commented on #16652
@dumganhar, sorry for a long response. I wanted to wait till my latest app update is live so I can be 100% sure that it is using the 3.14.1 version of cocos. Anyway the crash still exist...

[2017-05-10 09:46] artemtarassov commented on #16959
@zilongshanren , i see you changed some java files but i had this issue with the mac implementation. i'm about to update to 3.15 in few days and will check if the editbox error is still there.

[2017-05-10 09:52] v1993 opened #17804 "Cross-compilation"
- cocos2d-x version: 3.15
- devices test on: my linux mint 18.1

I'm not sure about this feature, but it will be really cool, if cross-compilation with extrenal compilers will be possible. For example, I want to deploy my game to steam, but have only linux machine and using virtualbox with windows is impossible. Today we have migwin64 for this.

Any ideas?

[2017-05-10 12:22] ibaranskyi commented on #17798
huangapple, I had same issue
Look please in this file
https://github.com/cocos2d/cocos2d-x/blob/cocos2d-x-3.15/cocos/scripting/js-bindings/script/ccui/jsb_cocos2d_ui.js
`>>

    ccui.WebView.prototype._loadURL = ccui.WebView.prototype.loadURL;
    ccui.WebView.prototype.loadURL = function (url) {
        if (url.indexOf("http://") >= 0)
        {
            this._loadURL(url);
        }
        e

[2017-05-10 14:13] Anywhere-Music-Player commented on #17776
@minggo ?

[2017-05-11 01:19] minggo commented on #17776
I think you can update it yourself easily.

[2017-05-11 01:25] minggo commented on #17798
iOS UIWebView doesn't support SSL, we need to find a way to fix it. About Android, i haven't done research.

@ibaranskyi yep, i think it is an issue, we should consider `https` too.

[2017-05-11 01:44] huangapple commented on #17798
fix only consider http issue
 android  UIWebView   is support ssl

@minggo

[2017-05-11 01:45] huangapple commented on #17798
@minggo
IOS UIWebView support SSL too;

[2017-05-11 01:52] minggo commented on #17798
@huangapple you can refer to [this thread](http://stackoverflow.com/questions/12659264/loading-https-in-uiwebview). UIWebView doesn't support https.

[2017-05-11 01:53] zilongshanren commented on #16864
@flyingkisser thanks

[2017-05-11 01:53] zilongshanren commented on #16959
@artemtarassov
thanks.

[2017-05-11 01:54] zilongshanren commented on #16959
@qiwucwb It's fixed now in the upstream, you could refer to the merged PR to resolve this issue by yourself.

[2017-05-11 01:58] huangapple commented on #17798
but i test https is ok in ios

[2017-05-11 02:02] huangapple commented on #17798
Because his certificate is self signed? So not?
I tested is ok on iOS, my certificate is Symantec wildcard DV

@minggo

[2017-05-11 02:04] minggo commented on #17798
@huangapple please use english in future. You are right, that's why you can not access `https://www.baidu.com` on iOS.

[2017-05-11 02:07] minggo commented on #17798
android UIWebView is support ssl

What did you mean? The title says the issue is about https.

[2017-05-11 02:10] huangapple commented on #17798
fix
 if (url.indexOf("http://") >= 0)
to
 if (url.indexOf("http://") >= 0 || url.indexOf("https://") >= 0)

I  can access https://www.baidu.com on iOS、Android

[2017-05-11 02:21] minggo commented on #17798
Got it.

[2017-05-11 02:23] huangapple commented on #17798
@ibaranskyi
@minggo
thank you

[2017-05-11 02:25] minggo commented on #17798
fixed in https://github.com/cocos2d/cocos2d-x/pull/17805
thanks @ibaranskyi

[2017-05-11 02:25] #17798 closed, assigned to nobody

[2017-05-11 03:21] zilongshanren commented on #15926
@AIGRIND-LLC  I do follow your instructions and add `''textField->setCursorEnabled( true );` in cpp-tests/UITextFieldTest_LineWrap, anything missing here?

[2017-05-11 06:45] Anywhere-Music-Player commented on #17776
For sure, but it's not about that.

[2017-05-11 08:28] halx99 commented on #15537
Hi @minggo,  I agree with @xpol, If somebody interest about this, you can see: https://github.com/halx99/cocos2d-x/blob/v3/tests/cpp-empty-test/Classes/EncryptManager.cpp
And this issue could be closed.

[2017-05-11 09:04] Anywhere-Music-Player opened #17806 "Not stable delta time in default update() method, CADisplayLink duration or timestamp not used?"
- Cocos2d-x 3.15 and other
 - Devices test on: iPhone 6 and any other

Steps to Reproduce:

1. Create a simple HelloWorld project and add only `scheduleUpdate(); `
2. Check `delta` from
[code]

Notice output like this:

[code]

For compare, same setup but using **cocos2d-iphone v3**, so Objective C, gives me rock and solid output:

[code]

As result, using cocos2d-x for my game(I ported it from co

[2017-05-11 10:48] Anywhere-Music-Player commented on #17806
@minggo I've found some info: http://www.learn-cocos2d.com/2013/10/game-engine-multiply-delta-time-or-not/

So, as I see, this was fixed since that time for cocos2d-iphone v3, but currently a problem for cocos2d-x.

[2017-05-11 12:34] sbrednikhin commented on #15926
Add
`textField->setCursorEnabled( true );
textField->setCursorChar( '@' );`.
Looks like font used in UITextFieldTest_LineWrap has no default symbol for cursor.

You may also change
` textField->setContentSize(Size(240, 170));` to  ` textField->setContentSize(Size(240, 30));` it will require less typing until crash.

[2017-05-11 14:52] Anywhere-Music-Player commented on #17806
@minggo Here is how it works for cocos2d-iphone
https://github.com/cocos2d/cocos2d-objc/blob/v3.5.0/cocos2d/Platforms/iOS/CCDirectorIOS.m#L379

I believe this should be same for cocos2d-x for iOS. More stable delta - more smooth and more quality from game. Thats what I'm seeing when playing my game compiled under cocos2d-iphone v3..

[2017-05-11 17:15] Anywhere-Music-Player commented on #17806
Also, this similar solution was for android https://github.com/cocos2d/cocos2d-objc/blob/v3.4/cocos2d/Platforms/Android/CCDirectorAndroid.m#L195

[2017-05-11 19:30] Anywhere-Music-Player commented on #17806
Okay, so what is needed to do is back this code to iOS:

[code]

and for android:

[code]
I'm not really familiar with engine code.. and my C++ knowledge is limited just for my game needs, so I can't implement this.. anyone can help?

[2017-05-12 00:56] minggo commented on #17806
@KAMIKAZEUA thanks for the information. But it seems it just a tricky method
[code]
It just change the delta time in debug mode to make it smooth, it is not the really delta time.

[2017-05-12 03:03] zilongshanren commented on #15926
@sbrednikhin
Thanks, I will give it a try.

[2017-05-12 03:13] YYXuelangwang commented on #15608
I get this issue today, even i set the Build settings
![2017-05-12 11 09 29](https://cloud.githubusercontent.com/assets/16287226/25980799/9f9e81a4-3703-11e7-92ad-713a2d5347f8.png)
![2017-05-12 11 09 51](https://cloud.githubusercontent.com/assets/16287226/25980803/a406861a-3703-11e7-9423-d2f23107169c.png)
engine: cocos2d-x
language: cpp
version: 3.14.1
work platform: mac osx
xcode: 8.2.1
i have no

[2017-05-12 06:43] Anywhere-Music-Player commented on #17806
@minggo 0.016 and 0.2 .. hmm o_0 this code do nothing about VSYNC...
Actually cocos2d-x has same code  https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/base/CCDirector.cpp#L353

So, issue with cocos2d because it does not use the CADisplayLink duration property. Instead it relies on system timers to calculate the time difference. As a result, cocos2d’s delta time is merely an approximation and ev

[2017-05-12 06:52] Dauch opened #17808 "A bug in action, can't stop action at once."
- cocos2d-x version: 3.15
- devices test on: win7
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
![u84 mv789yia 6e x zq_0](https://cloud.githubusercontent.com/assets/5201160/25986440/8f0211f2-3722-11e7-8280-8975b9307504.png)

[code]
output
[code]
this ```aaa``` will be execute twice, but we need only once.

[2017-05-12 07:28] fuyifan commented on #17801
你直接将Audio下的所有东西复制过去试试就可以了吧，我记得我之前3.7升级到3.12版本的没有问题3.14升3.15也是可以的。

[2017-05-12 14:29] yemingyu commented on #17793
@minggo Yes, and I need to use SpiderMonkey to run js code in  any other thread besides the main cocos thread,run js code in main cocos thread would cause Interface Caton

[2017-05-13 09:27] yemingyu commented on #17793
Do you know how to build a threadsafe Spidermonkey @DavidDeSimone @minggo

[2017-05-13 11:37] SeniorPlayer opened #17810 "Is cocos2d-x suitable for win32 desktop games?"
Win32 desktop games need D3D for render. But I can't find any support in cocos2d-x.

[2017-05-13 12:09] bpk0928 commented on #17636
I created Sample game using Cocos2dx 3.15 and it's running fine in studio. I'm able to compile, run and debug as well. But my problem is after I copied all my classes, resources from my other project (it's running fine another system) and updated Android.mk file according to that. Now I'm not able to build from Android Studio. and in External Build Files Application.mk file also not showing.
![scr

[2017-05-13 12:56] itsabhiaryan commented on #17636
@prasannaboppe what is the error output on Gradle Console ?

[2017-05-13 12:58] bpk0928 commented on #17636
it's same as your issue that posted

[2017-05-13 13:01] bpk0928 commented on #17636
If I'm copying classes one by one it's building.. but I have 200 classes around.. if I copy all at once it's not building

[2017-05-13 13:12] bpk0928 commented on #17636
I observed one thing.. If I add some 50 classes.. it's starts building.. If add all 200 classes it's not even starting build.. and showing the error immediately. **cocos2dx ndk build with arguments {NDK_PROJECT_PATH=null**

[2017-05-13 14:33] hussain-sohaib opened #17811 "setIgnoreAnchorPointForPosition(false) does not work for node"
- cocos2d-x version: 3.15
- devices test on: 6S+

  Size visibleSize = Director::getInstance()->getWinSize();

  auto node= Node:: create();
  auto sprite= Sprite::create("test.png");
  node->addChild(sprite);
  sprite->setPosition(Vec2(sprite->getContentSize().width*.5,sprite->getContentSize().height*.5 ));
  node->setPosition(Vec2(visibleSize.width*.5,visibleSize.height*.5));
  node->setAnchorPo

[2017-05-13 16:14] yemingyu opened #17816 "Why use non-thread safe Spidermonkey"

[2017-05-14 08:47] yuangu commented on #17810
What about cocos2dx for uwp。It's use  angel (for more: https://github.com/google/angle) . sorry for my english.

我觉得我还是用中文说一遍吧，毕竟我的英语不是很好。我觉得你可以用使用cocos2dx 中的uwp工程。毕竟那个是用angle做的支持。它是用DX来模仿opengl的api。如果你只是找一个DX的引擎，我建议你可以使用monogame ，https://github.com/MonoGame/MonoGame

[2017-05-14 08:54] SeniorPlayer commented on #17810
看了一下 cocos2dx for uwp 是不是只支持win10？

[2017-05-14 13:29] yuangu commented on #17810
呃，你是中国人啊？我个去，我还说了这么一大堆。嗯，uwp肯定 只支持win10。你为啥只要dx实现呢？

[2017-05-14 15:48] Lavinci opened #17818 "A bug in Action JumpTo,can't stop at the place we supposed"
- cocos2d-x version: 3.15
- devices test on: win7 x64
- developing environments
   - NDK version: Not Used
   - Xcode version: Not Used
   - VS version: vs2015
   - browser type and version: Not Used

Steps to Reproduce:

[code]
**The code of JumpTo can run correctly when the Botton
 clicked once,but it does't run well when multiple clicked.The sprite can't stop at the place we supposed**

[2017-05-14 19:20] Arman92 opened #17819 "replaceScene in TouchEventListener of Button Crashes"
- cocos2d-x version: 3.15
- devices test on: Linux env
Steps to Reproduce:

1. Create a button widget and add an TouchEventListener to it, call replaceScene, crashes on
[code]

Sample code tested:
[code]

I have never overrided onExit() of any of my classes.
The current Scene which is being replaced by new scene, is similar to this [tutorial](http://cocos.sonarlearning.co.uk/docs/scenes)

Possible

[2017-05-14 22:07] DavidDeSimone commented on #17816
Threading in Spidermonkey is complicated, and it would be a very large undertaking to support. In general, cocos2d-x is not a thread safe engine.

If you really need a degree of multi-threaded JavaScript, I can provide you with some information on how to implement it yourself. Cocos uses a specific fork of Spidermonkey, located here: https://github.com/cocos2d/Spidermonkey/tree/v33/build. I believ

[2017-05-14 22:31] perminovVS commented on #17810
Yes cocos2d-x support Win32 and WinRT.
cocos2d-x use OpenGL for render(WinRT use angel as wrapper on Direct3D)
My game run on Windows XP and later.

[2017-05-14 22:59] Guy-kun commented on #16414
Still looking for any further information on this or if anyone found a cause...
Still #1 crash bug for an app in production together with variants of this and setBlend()

[2017-05-14 23:39] lavapx commented on #17810
perminov is right. You don't need DirectX, even on Windows. I wrote this article on opengl in cocos2dx. The first part explains opengl vs DirectX a bit:
http://www.lavaxp.net/an-intro-to-opengl-using-cocos2d-x/

[2017-05-14 23:46] lavapx commented on #17818
This is not a bug. You need to control input. If youre already jumping you dont want to be able to jump again. You can use bools and if statements to track the state youre in or build a state machine:
http://www.lavaxp.net/a-player-class-and-state-machine-in-cocos2d-x/
Also look into sequences so you can call custom functions after your jumpTo ends.

[2017-05-15 00:52] minggo commented on #17793
@yemingyu sorry, i don't know. I think SpiderMonkey can not be thread-safe.

[2017-05-15 00:52] #17793 closed, assigned to nobody

[2017-05-15 01:30] yunmin97 commented on #17801
是的，已经完成移植，谢谢。。

[2017-05-15 01:30] #17801 closed, assigned to nobody

[2017-05-15 02:12] yemingyu commented on #17816
@DavidDeSimone Thank you for your reply，I make sure 2 threads do not make calls on a single Javascript context simultaneously by using mutex. Could I access the property, run Javascript code and do other things in context from different threads? I want to use context from sub thread, this can not block the main thread

[2017-05-15 02:19] yemingyu commented on #17816
@DavidDeSimone This is the default configuration in https://github.com/cocos2d/Spidermonkey/tree/v33/build, and it disable threadsafe, does it still support to access context content from different threads? Does the contents of the context are shared in different threads?
../configure --with-ios-target=iPhoneSimulator --with-ios-version=$IOS_SDK --with-ios-min-version=$MIN_IOS_VERSION --with-ios-a

[2017-05-15 03:37] zilongshanren commented on #15926
@sbrednikhin
the PR is merged, thanks for the testing method.

@AIGRIND-LLC
thanks for the patch.

[2017-05-15 03:37] #15926 closed, assigned to nobody

[2017-05-15 04:54] Lavinci commented on #17818
ok，I really appreciate you for the answers.thanks.

[2017-05-15 04:54] #17818 closed, assigned to nobody

[2017-05-15 20:04] tiagomartines11 commented on #17654
Any updates on this issue? Thanks!

[2017-05-16 03:20] huimiao638 opened #17821 "bug :Sprite3D 18:Use Case For 2D + 3D"
- cocos2d-x version:cocos2d-x-3.15
- devices test on:win
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2013
   - browser type and version:

Steps to Reproduce:
circle no show.....

1.
![image](https://cloud.githubusercontent.com/assets/3351669/26088269/b7bb8534-3a28-11e7-9d4c-805f6e1d3b6d.png)

2.
![image](https://cloud.githubusercontent.com/assets/3351669/260883

[2017-05-16 17:38] dzpt commented on #15901
I'm facing the same while scaling big image to small on iOS.
Have you solved this trouble?

[2017-05-17 00:05] aardvarkk commented on #13682
I'm running into this issue in Cocos v3.14.1 -- setting the Global Z Order on a `ui::Button` has no effect. In my mind, this is very unexpected behaviour. I would expect a descendent of `Node` to honour `setGlobalZOrder`. Is there a reason this issue was closed but seemingly not addressed?

[2017-05-17 02:24] minggo commented on #17480
@KAMIKAZEUA i sent https://github.com/cocos2d/cocos2d-x/pull/17826 for you to do testing. You can merge the PR into your codes and have a try. I modified `HelloWorldScene.cpp` of `cpp-empty-test` to do testing, the codes looks like:
[code]

And the effect looks like following on mac:
<img width="242" alt="screen shot 2017-05-17 at 10 22 30 am" src="https://cloud.githubusercontent.com/assets/488203

[2017-05-17 02:35] jezzmemo opened #17827 "ClippingNode Bug"
- cocos2d-x version:3.1.2
- devices test on:iPAD air2
- developing environments
   - NDK version:
   - Xcode version:8.3.2
   - VS version:iOS8
   - browser type and version:

Steps to Reproduce:

1. ClippingNode set the rect stencil,if set the globalzorder for the ClippingNode's children
2. ClippingNode feature can't work,the  ClippingNode's children Not in stencil area，ClippingNode's children  c

[2017-05-17 07:34] Fraggle commented on #16224
Hi Ricardo,

Do you plan to go one step further at some point and allow batching even if the glProgramState are different but their glProgram and uniforms are the same?
The improvement you did is nice but we have several use case where it's tricky for us to share the glProgramState even if most of the time (but not all the time) consecutive node will have exactly the same uniforms.

Thanks,

Sebas

[2017-05-17 09:16] minggo commented on #17480
@KAMIKAZEUA any feedback?
@bsy6766 how did you implement it with LayerColor? Will you please also give some feedback too?

Thanks.

[2017-05-17 09:29] Anywhere-Music-Player commented on #17480
@minggo my time zone a bit diff from yours :) so, I just started to work a couple of hours ago on my main work. In 8h since now, I would love to test this asap when I get home. This is really cool thing what I need for my game, can't wait1!

p.s. its called "...works on mac and iOS" but on android it will work too? This thing needed for my cross-platform game :)

[2017-05-17 09:37] minggo commented on #17480
No. When i sent the PR, i just tested on iOS and Mac. Now i tested on Android and windows too, so it should work on all supported platforms.

[2017-05-17 11:59] Swipes13 commented on #8305
in 3.14 same problem.
To reproduce: android after ad-reward video (hide & open again cocos activity)
in details: IronSource integration, after video some labels in game is just colour boxes

[2017-05-17 13:05] G0561 commented on #17480
cocos2dx 3.13  下，这么段代码，本身点移动是从右上角往左下角，但是现在确实往右上角移动，不知道为什么会这样，求解答

DrawNode* dot = DrawNode::create(5.0);
dot->drawDot(Vec2(visibleSize.width*0.8, visibleSize.height*0.8), 50, Color4F::GREEN);
this->addChild(dot);
ActionInterval * move1 = MoveTo::create(2.0, Vec2(origin.x + visibleSize.width*0.5, origin.y + visibleSize.height*0.5));
dot->runAction(move1);
这段代码， drawnode 的图形，移动会有问题，上面是从右上角往左下角移动，但方向

[2017-05-17 16:13] pablorealini commented on #17426
Hi @dumganhar ,
I don't know if we are currently having this same issue.

But we are testing our game on a Samsung Galaxy S7 with Android 7.0 and no sound is being played and each time try to play a sound effect the game freeze for 2 seconds.

Could this be the same issue? we are currently using v3.14 but we will do some tests with v3.15

[2017-05-17 17:32] pablorealini commented on #17426
My mistake! We are testing this in v3.13.1

This is the console log:

`
05-17 13:55:15.670  9261  9286 V cocos2d-x debug info: play2d, _audioPlayers.size=1
05-17 13:55:15.670  9261  9286 V AudioPlayerProvider: (assets/KR4_Android/Sounds/Fx/Commons/kr4_selection.ogg) file size: 5787
05-17 13:55:15.670  9261  9286 V AudioPlayerProvider: audio (assets/KR4_Android/Sounds/Fx/Commons/kr4_selection.ogg)

[2017-05-17 18:43] Anywhere-Music-Player commented on #17480
@minggo I just tested it on iOS device and Mac. All looks good for me 👍 . But I wanted to change startOpacity.

I believe it should work like that:

`LayerRadialGradient::create(Color4B(145, 106, 209, 150),Color4B(0, 0, 0, 0), 250.0f, center, 0.0f);`

Also, startOpacity is private.

[2017-05-18 01:04] minggo commented on #17480
@KAMIKAZEUA yep, as i said, i will complete them when the effect is good.

What did you mean?

@G0561 i think you add comment in wrong issue.

[2017-05-18 02:01] rainfallljs commented on #17386
@dumganhar have you solved this issue?
I have the similar issue: after back to game, SimpleAudioEngine  playEffect not work on iOS

[2017-05-18 02:06] dumganhar commented on #17386
@rainfallljs , if you could reproduce the issue, could you please test the issue on v3.15 to check out whether it was fixed?

[2017-05-18 06:30] minggo commented on #17480
@KAMIKAZEUA i complete the work and move the test case to `cpp-tests/LayerTest`.

[2017-05-18 06:59] Anywhere-Music-Player commented on #17480
I mean that passing color Color4B(145, 106, 209, **150**) with opacity value is this startOpacity value.

My target image actually this:

![image](https://cloud.githubusercontent.com/assets/3391456/26189435/5ad4b62a-3bad-11e7-9e8d-0f36e37e5d7d.png)

I just checked cpp-tests/LayerTest.
Q: is there an option to chance whole opacity for layer? Like `_layer->setOpacity(150);`

[2017-05-18 07:03] minggo commented on #17480
@KAMIKAZEUA i think you can take a look of `LayerRadialGradient::setBlendFunc()` . I don't know what's your requirements, or is the effect is wrong? Could you please describe it in more detail?
Thanks.

[2017-05-18 07:10] Anywhere-Music-Player commented on #17480
Yes, sure. I'm converting my game written in Objc and here is method I've used to create my radial gradient for iOS:

[code]

[code]

Output was as I posted image before. Current effect looks similar, but not really exactly the same.

I rendered it to check(I've set opacity to 180, but with old options it's should be 140, but it's too light with current implementation):
[code]
![123](https://cloud

[2017-05-18 07:38] minggo commented on #17480
It is because the background color is black, so the effect is a little different. If you set the background to white, then you will see the effect. For example, modify the codes like
[code]

[2017-05-18 07:41] Anywhere-Music-Player commented on #17480
But I'm rendering only radial layer, and save png file to compare here, so it's whatever what bg color is. And I compare them both here on github by posting links and on white bg by the way :)

[2017-05-18 07:45] minggo commented on #17480
alpha:0.55 = 255 * 0.55 = 140, not 180.

[2017-05-18 07:50] minggo commented on #17480
`render->saveToFile("123.png", Image::Format::PNG);`, the result is `radial gradient` blend with `background color`. So make sure the background color is (0,0,0,0), can use `director->setClearColor(0,0,0,0)` to make sure.

[2017-05-18 07:51] Anywhere-Music-Player commented on #17480
I wrote why is that before

[2017-05-18 08:35] minggo commented on #17480
@KAMIKAZEUA you can use `LayerGradientColor::setBlend()` to try different blend mode, such as

[code]
More blend function can refer to [this doc](https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/glBlendFunc.xhtml).

LayerGradientColor uses `{GL_SRC_ALPHA, GL_ONE_MINUS_SRC_ALPHA}` by default.

[2017-05-18 09:17] minggo commented on #17480
@KAMIKAZEUA what's the effect of your Objc version?

[2017-05-18 09:46] Anywhere-Music-Player commented on #17480
This https://github.com/cocos2d/cocos2d-x/issues/17480#issuecomment-302318405

[2017-05-18 10:01] minggo commented on #17480
It seems objc version doesn't interpolation the alpha value. You can change the shader(`ccShader_LayerRadialGradient.frag`)
from

[code]
to

[code]

[2017-05-18 10:40] Anywhere-Music-Player commented on #17480
@minggo I've changed ccShader_LayerRadialGradient.frag as you suggested and used this code:

[code]
Result is almost what I need:

![1](https://cloud.githubusercontent.com/assets/3391456/26198604/5200201c-3bcf-11e7-862c-1adad7aa4466.png)

Except it's using black color.. and not transparent now?

Setting doesn't change anything:
[code]

[2017-05-18 11:19] piotrros commented on #17424
@mingoo I've updated cocos console, android sdk tools to the latest and I'm still getting:

**cocos gen-libs -p android --app-abi armeabi-v7a**

[code]

[2017-05-18 13:51] minggo commented on #17480
@KAMIKAZEUA how did you get the png file? I can not get full png file on Mac.

I think you can do it like:

* revert the shader
* pass `Color4B(0,0,0,200)` to end color: the opacity is the same as begin

Edit: i mean, the png file on Mac just part of the circle, not a full circle.

[2017-05-18 13:53] Anywhere-Music-Player commented on #17480
@minggo it's just a print screen.

[2017-05-18 13:54] minggo commented on #17480
I see, i use the codes you paste above. The result is error on Mac since render texture has bug on Mac with retina display.

[2017-05-18 13:57] Anywhere-Music-Player commented on #17480
How to revert a shader?
Passing 200 to end color gives me this(also I'm playing a bit with opacity now it's 180 here):
![123](https://cloud.githubusercontent.com/assets/3391456/26205618/fd7aaec4-3bea-11e7-8534-34175df66511.png)

End color and opacity should be 0, thats for sure.
Anyways, this gradient looks almost good as needed, except it goes to black.
p.s. I'm using Ctrl+Shift+4 on my hackintos

[2017-05-18 14:08] Anywhere-Music-Player commented on #17480
It's like should be something mix of this code :)
`gl_FragColor = mix(u_startColor, u_endColor, (d - u_expand) / (1.0 - u_expand));`
and this
`gl_FragColor = vec4(mix(u_startColor, u_endColor, (d - u_expand) / (1.0 - u_expand)).rgb, u_startColor.a);`

Because first code gives opacity goes to 0 and second is that what I need, but it goes to wrong color..

[2017-05-18 14:17] minggo commented on #17480
The difference is whether to interpolate opacity. The opacity will be used when doing blending. Change blend function to `{GL_ONE, GL_ONE_MINUS_SRC_ALPHA }` should have effect. What platform did you test on?

[2017-05-18 14:21] Anywhere-Music-Player commented on #17480
[code]

![screen shot 2017-05-18 at 5 21 21 pm](https://cloud.githubusercontent.com/assets/3391456/26206819/78a29474-3bee-11e7-8b4c-10cf00a9be43.png)

[2017-05-18 14:36] pablorealini commented on #17426
Hi, we tested this on version 3.15 and it seems to be working.

[2017-05-18 14:37] Anywhere-Music-Player commented on #17480
Just tested on iPhone.
Only this code:
[code]
Output:
![1](https://cloud.githubusercontent.com/assets/3391456/26207476/5154ff36-3bf0-11e7-9f4b-270d7762fef3.png)

This code:

[code]
Output:

![2](https://cloud.githubusercontent.com/assets/3391456/26207515/67dd7968-3bf0-11e7-8179-fc5f2edf1d1d.png)

And this:
[code]

Output:

![3](https://cloud.githubusercontent.com/assets/3391456/26207574/976f3c52-3

[2017-05-18 15:05] minggo commented on #17480
Oh, i think you end color should be Color4B(255, 255, 255, 0);

[2017-05-18 16:50] Anywhere-Music-Player commented on #17480
Ehhm.. are you sure? I need transparent color at the end, but not white.
In my game behind this gradient can be many objects with many other colors. So endColor can be only Color4B(0, 0, 0, 0).

[2017-05-18 17:03] madrazo commented on #17810
We have the issue that there is no Joystick for Windows and you can't toggle Fullscreen (Alt+Enter).

[2017-05-18 17:07] Anywhere-Music-Player commented on #17480
Also, same code works differently on macOS and iOS.
Running code:
[code]

![ios](https://cloud.githubusercontent.com/assets/3391456/26214300/8eadbb52-3c04-11e7-8d41-46488e633896.png)

![screen shot 2017-05-18 at 8 06 49 pm](https://cloud.githubusercontent.com/assets/3391456/26214572/8ae548f4-3c05-11e7-917c-e6c741a418bd.png)

[2017-05-18 18:11] Bilalmirza commented on #17810
@madrazo just update glfw to fix joystick issue

[2017-05-18 19:54] Anywhere-Music-Player commented on #17480
Also, I'm trying to implement this to https://github.com/newnon/cocos2d-x which I'm using with https://github.com/newnon/SpriteBuilderX.

Question 1: `GLViewImpl::getFrameSize()`  for newnon/cocos2d-x it's cause problems with coordinates on macOS.. don't know why, but when I removed this override - and all works as before. Tested removed override on your cocos2d-x, Is this really needed?

Question

[2017-05-19 01:16] minggo commented on #17480
In my game behind this gradient can be many objects with many other colors. So endColor can be only Color4B(0, 0, 0, 0).

The opacity determine it transparent or not, not the color component, and (0, 0, 0) is black. There are two components will be interpolated: the color component(r,g,b) and opacity(a).

I found the radius calculation has some issue, i will fix it.

I need to get windows size in

[2017-05-19 02:15] dtroitskiy commented on #15367
Hi devs!
Is this issue fixed?

[2017-05-19 02:46] dumganhar opened #17835 "pauseEventListenersForTarget doesn't work correctly while in dispatching event"
- cocos2d-x version: v3.15
- devices test on: mac
- developing environments
   - NDK version:
   - Xcode version: 8.3.2
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Create a MenuItemFont and a sprite and add them to scene
2. Create EventListenerTouchOneByOne in MenuItemFont's callback and addEventListenerWithSceneGraphPriority(listener, sprite), then pauseEventListeners

[2017-05-19 04:59] BlackCatz94 opened #17837 "AudioEngine::preload crash occasionally when preload ogg file"
- cocos2d-x version: v3.15
- devices test on: Samsung Galaxy Tab A, Samsung Galaxy J7
- developing environments
   - NDK version: r13b
   - Xcode version: -
   - VS version: - (Android Studio)
   - browser type and version: -

Steps to Reproduce:
1. Play ogg file or preload ogg file

it happen rarely and on random file, so i tried preload all files (130 files) at splash screen, crash rate is 25%.

[2017-05-19 06:03] #17835 closed, assigned to dumganhar

[2017-05-19 08:00] piotrros opened #17839 "Sound in new AudioEngine won't loop"
- cocos2d-x version: 3.14.1 with 3.15 audio engine
- devices test on: Nexus 6P with Android 7.1.1
- developing environments
   - NDK version: r13b
   - Xcode version: n/a
   - VS version: n/a
   - browser type and version: n/a

So, I was using 3.14.1 with some adjustments and new audio engine. Lastly I've updated audio directory from 3.15 and now sound won't loop:

`soundId = cocos2d::experimental

[2017-05-19 09:15] minggo commented on #17480
@KAMIKAZEUA you are right. I used local coordinate now. You can try the test case again, you can change the attribute in the test case, such as change the scale, skewx attribute that belongs to Node, and it will take effect.

[2017-05-19 10:04] minggo commented on #17810
please discuss such topic in forum: http://discuss.cocos2d-x.org/c/cocos2d-x

[2017-05-19 10:04] #17810 closed, assigned to nobody

[2017-05-19 10:07] minggo commented on #17804
Did you mean can compile any target platform on any platform? I think it is not possible, for example you can not compile for Mac on Windows. I may wrong, but it may take a lot effect if possible.

[2017-05-19 10:10] minggo commented on #17839
Did you try the audio engine in 3.15? May be there are some problem when porting the audio engine into v3.14 because it is not self-complete, it has some relationship with other modules.

[2017-05-19 10:14] dzpt commented on #8545
I've upgraded to 3.15 and still get this error.
The correct resolution is 750x1334 not 640x1136

[2017-05-19 10:44] v1993 commented on #17804
I'm not sure about cross-compilation on mac or windows, but there is some tools/scripts for linux.
Of couse, it isn't easy to do, as I see.

[2017-05-19 10:49] v1993 commented on #17804
Yes, I mean compiling for any target platform on any platform if you have compiler.

[2017-05-19 11:02] hussain-sohaib commented on #8545
this happens because of design resolution, check appdelegate.cpp file.

their must be a method that can return physical pixel of device.

On Fri, May 19, 2017 at 3:14 PM, Tom29 <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-05-19 11:30] piotrros commented on #17839
Ok I've recovered old cocos2d-x 3.14 (with modifications) from timemachine and it's working. I guess I screwed something up.

I tried 3.15, audio was fine, but I'm impacted by problems with cocos studio - I don't see any labels.

[2017-05-19 11:30] #17839 closed, assigned to nobody

[2017-05-19 11:49] dzpt commented on #8545
@hussain-sohaib on the AppDelegate, i print `glview->getFrameSize()` , and the result is wrong for iPhone6,7 ... After following these https://github.com/cocos2d/cocos2d-x/issues/15038 , it fixed. But have no idea why. Will it happen on Android devices?

[2017-05-19 13:09] liuyi opened #17842 "Can not find blur shader on cocos2djs, can someone give a example?"
I only find a simple_blur.fsh file in cocos2dx cpp samples folder, and have not found how to use it in cocos2djs(web).

Can some one give me a example or just .vsh and .fsh file?

Thanks!

[2017-05-19 16:51] Anywhere-Music-Player commented on #17480
@minggo Everything works as expected so far 👍 . Tested on iOS and macOS. Thank you very much.
I hope on android all will be ok too, but I can't test this currently. Maybe only on emulator.

[2017-05-19 17:51] liuyi opened #17843 "How to convert the gaussian-blur to cocos2dJs? The guy write it with nodejs"
https://github.com/Jam3/glsl-fast-gaussian-blur

I need apply gaussian-blur on html5 game, but I am not good at shader, so   found this  nice project with demo.
But I don't know how to convert  it to cocos2djs.
Can somebody help me?      help~~ and thanks! @pandamicro @minggo

[2017-05-19 20:20] pengdong1983 commented on #16721
mac also has error

[2017-05-20 12:24] shooga commented on #17386
how to reproduce:
* just put the app into background when SimpleAudioEngine is not yet initialized, then applicationDidEnterBackground will call SimpleAudioEngine::getInstance()->pauseBackgroundMusic(), and then getInstance() will try to init, finally [CDSoundEngine init] will fail, and funtioning_ flag wil keep NO. This flag will cause the effect not work.

[2017-05-21 04:55] Rubonnek commented on #17639
@minggo This issue can be closed since #17756 was merged which fixes this issue.

[2017-05-21 21:40] Arman92 commented on #17819
Can anyone help me here please?

[2017-05-21 21:40] Arman92 commented on #17819
Can someone help me here please?

[2017-05-22 00:50] minggo commented on #17480
@KAMIKAZEUA good to hear that, it should work on Android too.

[2017-05-22 00:52] minggo commented on #17639
thanks

[2017-05-22 00:52] #17639 closed, assigned to nobody

[2017-05-22 00:57] minggo commented on #17843
Please use [forum](http://discuss.cocos2d-x.org/) for the help, this is for issues.
Thanks.

[2017-05-22 00:57] #17843 closed, assigned to nobody

[2017-05-22 02:06] minggo opened #17847 "gradle configuration issue"
- cocos2d-x version: 3.15

`PROP_TARGET_SDK_VERSION` is used for `APP_PLATFORM` and `targetSdkVersion`. They are different, so should use another variable for `APP_PLATFORM`.

Corresponding forum issue is [here](http://discuss.cocos2d-x.org/t/cocos2d-x-3-15-wrong-logic-in-android-gradle-causing-critical-bug/36877).

[2017-05-22 03:16] minggo commented on #17842
please ask these questions in forum http://discuss.cocos2d-x.org/. Since WebGL is similar to OpenGL ES, so the shaders are similar too.

[2017-05-22 03:16] #17842 closed, assigned to nobody

[2017-05-22 03:21] minggo commented on #17821
Sorry, i don'e quite understand how to reproduce it? Did you mean the circle will disappear without doing anything?

[2017-05-22 03:28] minggo commented on #17816
cocos2d-x is not thread safe, so we don't need a thread-safe SpiderMonkey. And a js context can not be visit in different threads, it is not safe.

[2017-05-22 03:28] #17816 closed, assigned to nobody

[2017-05-22 03:30] minggo commented on #17819
[code]

[2017-05-22 05:42] #17480 closed, assigned to minggo

[2017-05-22 06:45] minggo commented on #17808
Yep, it is an issue, fixed in https://github.com/cocos2d/cocos2d-x/pull/17849

[2017-05-22 06:45] #17808 closed, assigned to minggo

[2017-05-22 06:55] Dauch opened #17850 "Couldn't open Hello world in 海马玩 Android Simulator"
- cocos2d-x version: current v3 branch
- devices test on: 海马玩Android Simulator
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

install 海马玩Android Simulator
connet to it by: ```adb connect 127.0.0.1:26944```
excute a hello world progrom.
then couldn't open it(is stuck in black all the time).
the logcat is:
[code]

[2017-05-22 06:58] Dauch commented on #17808
Thanks @minggo

[2017-05-22 07:05] minggo commented on #17811
Node's anchor point value is (0,0), so no matter `node->setIgnoreAnchorPointForPosition(true or false)`, there is not different.

[2017-05-22 07:05] #17811 closed, assigned to nobody

[2017-05-22 07:08] minggo commented on #17850
Not intend to support 海马simulator. Please test in on devices.

[2017-05-22 07:09] Dauch commented on #17850
I have check this in [stackoverflow](http://stackoverflow.com/questions/23992281/e-libegl-called-unimplemented-opengl-es-api), It may be relate to
https://github.com/cocos2d/cocos2d-x/pull/17537/files
![image](https://cloud.githubusercontent.com/assets/5201160/26296284/98df6752-3f00-11e7-867a-3bd2a536ac60.png)

[2017-05-22 07:09] minggo commented on #17827
Provide some codes is more clear to describe the issue.
Thanks.

[2017-05-22 07:11] Dauch commented on #17850
But some player may use those simulator, could it be loss those player?

[2017-05-22 07:22] minggo commented on #17850
Now, created the GLES context dynamically according the device configuration, so we don't invoke `setEGLContextVersion(2)`.

It seems it created OpenGL ES3 context, but we only use OpenGL ES2 functions. May be it is the problem. But it doesn't have problem on devices, but may also have problem on some devices.

What's the official site of 海马simulator?

[2017-05-22 07:26] KarenHuang2016 opened #17851 "Failed to build cocos2d-x on x64 due to error C2065: 'GWL_WNDPROC': undeclared identifier"
We tried to build cocos2d-x on Windows with VS2015 Update 3. It failed to build on x64 due to the error C2065: 'GWL_WNDPROC': undeclared identifier. 'GWL_WNDPROC' is defined in C:\Program Files (x86)\Windows Kits\10\Include\10.0.14393.0\um\WinUser.h like below. But if _WIN64 is defined. 'GWL_WNDPROC' will be undefined. So error C2065 is reported when build on x64. Could you please take a look at t

[2017-05-22 07:27] Dauch commented on #17850
[海马玩simulator](http://droid4x.haimawan.com)

[2017-05-22 07:27] Dauch commented on #17850
[海马simulator](http://droid4x.haimawan.com)

[2017-05-22 07:31] huimiao638 commented on #17821
YES @minggo

[2017-05-22 08:14] minggo commented on #17806
@KAMIKAZEUA you are right. But there is not an elegant way to override `calculateDeltaTime `.

[2017-05-22 08:27] Dauch commented on #17850
Hey @minggo ,  I revert this patch #17537, everything work fine.

[2017-05-22 08:32] Anywhere-Music-Player commented on #17806
The hard way is the only way :)

[2017-05-22 08:41] minggo commented on #17806
I sent https://github.com/cocos2d/cocos2d-x/pull/17852 to fix it. It is the only relative elegant way i can find.

[2017-05-22 08:49] minggo commented on #17850
@Dauch do your crash codes include this patch: https://github.com/dumganhar/cocos2d-x/commit/5db645b5ff1fa95cad3dd1467f05d0e9b9b0e503?

And i can not install the 海马simulator on Mac.

[2017-05-22 09:13] Dauch commented on #17850
no crash, is black all the time, and of course included

[2017-05-22 09:15] Dauch commented on #17850
may be you need a simulation in win32 :(

[2017-05-22 09:30] Dauch commented on #17850
should this line be deleted? [AndroidManifest.xml](http://github.com/cocos2d/cocos2d-x/blob/v3/templates/lua-template-default/frameworks/runtime-src/proj.android-studio/app/AndroidManifest.xml#L6)

[2017-05-22 09:31] minggo commented on #17850
can not open the link

[2017-05-22 09:32] Dauch commented on #17850
updated

[2017-05-22 09:33] minggo commented on #17850
I think it can not resolve the problem by deleting it. Have you tested it?

[2017-05-22 09:36] Dauch commented on #17850
nop, wait a minutes, I do it now.

[2017-05-22 09:39] Dauch commented on #17850
:( , as you see, no effect.

[2017-05-22 09:54] yuriilychak opened #17853 "Memory leak at spine jsb."
- cocos2d-x version: 3.15
- devices test on: Mac-Mini, IPhone 6S
- developing environments
   - NDK version: r14b
   - Xcode version: 8.1
Steps to Reproduce:

1. Run js test project included in sdk packet
2. Press Spine Test and then press Main Menu
3. press Sys Tests and find restartGame and press it
4. press Spine Test
5. memory will increase about 300kb per second until system crash.
In my work

[2017-05-22 09:57] hussain-sohaib commented on #17853
Check if you are calling removealleventlistner any where. If you using
spine calling removealleventlistner will cause memory leak. Remove all
listners by name.

Thanks
On Mon, 22 May 2017 at 14:54, Yurii <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-05-22 11:01] yuriilychak commented on #17853
@hussain-sohaib  what you mean by "removealleventlisteners". It spine listeners or other? For spine I only use their.
` this._skeleton.setStartListener(listener);`
` this._skeleton.setCompleteListener(listener);`
And null it when destroy object? Mayby removeFromParent with cleanup do this?

[2017-05-22 11:53] #16767 closed, assigned to nobody

[2017-05-22 12:25] hussain-sohaib commented on #17853
No no, the listner you mentioned are spine objects listner. I was talking
about cocos2dx listners, like touchonebyone listner or custom listners. I
faced this issue with c++ version and i resolved it by removing listners
that I used in scene by name. I dont know what could be the issue in js
version.

Please see spine runtime examples. But i am sure some thing wrong happens
when you restart the sc

[2017-05-22 12:26] hussain-sohaib commented on #17853
See spine runtime examples by esoteric software the make of spine.
On Mon, 22 May 2017 at 17:24, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-05-22 13:07] Arman92 commented on #17819
Thanks! That fixed it.

But what happens if I call `autorelease()` ? Why does it make such a problem?

[2017-05-22 13:22] yuriilychak commented on #17853
@hussain-sohaib. You mean that every event listener must have name. and when I remove every object that have some listeners I must delete they manually? And about restart of game. I use restart for update source code of game. In firs scene i have pre-preloader new build if it need and restart game when source outdated. Is it have any influince to this bug?

[2017-05-22 15:19] hussain-sohaib opened #17854 "camera movement on a layer that is added as a child of scrollview"
- cocos2d-x version: 3.15
- devices test on: 6S+

I want to create a similar movement that is available in cpp test NewRendererTest BugAutoCulling::BugAutoCulling() but in vertical direction. But I am not able to create it. See the attached file for full code and resources.

So the layer on which I am trying to move the camera is added as a child to the scrollview and I want that when the camera m

[2017-05-22 16:46] Anywhere-Music-Player commented on #17806
Tested. Fixed. THanks.

[2017-05-22 19:46] Anywhere-Music-Player opened #17855 "Incorrect spacing between characters when using .ttf font"
- cocos2d-x version: 3.15+
- devices test on: iOS, mac, android

Steps to Reproduce:

1. Use font http://www.1001fonts.com/good-times-font.html
2. For my game specially this part of the text is different: "OW":

Target:

![target](https://cloud.githubusercontent.com/assets/3391456/26325501/cfe1272e-3f3f-11e7-9cac-61a4826bd0e2.png)

Actual result(notice it's wider and more space between):

![result

[2017-05-23 00:46] #17806 closed, assigned to minggo

[2017-05-23 00:51] minggo commented on #17819
Then it will be released more times, which will cause problem. release will minus reference count, when reference count equals 0, it will be deleted, so the pointer will be wild.

[2017-05-23 00:51] #17819 closed, assigned to nobody

[2017-05-23 04:31] siarsky commented on #17096
Dear cocos2dx team,

I found a similar problem in the forum:

[http://discuss.cocos2d-x.org/t/feature-request-disable-fullscreen-keyboard-on-android/19497](http://discuss.cocos2d-x.org/t/feature-request-disable-fullscreen-keyboard-on-android/19497)

any news to this issue? Could you reproduce it?

[2017-05-23 04:34] hussain-sohaib commented on #17854
@minggo can you please have a look on this. I really want this to work.

Thanks

[2017-05-23 07:27] minggo commented on #17850
I checked that, 海马emulator created OpenGL ES 3 context, but it is not problem on devices(which creates OpenGL ES 3 context too). I tried to force to create GLES 2 context by checking if it is running on emulator or devices, but there is not a good way to check if the target is an emulator or a device. `Cocos2dxActivity.isEmulator()` can not work correctly with 海马emulator. It seems the 海马emulator d

[2017-05-23 07:41] minggo commented on #17478
It seems it has issue on some Android enumlator https://github.com/cocos2d/cocos2d-x/issues/17850. I may revert the modification on Android if can not find a good way to fix it. In China, some emulators are important Android markets channel, many players play Android games on emulators.

[2017-05-23 08:16] minggo commented on #17704
@saumyamukul  It is device related, it is a very special operation, and it will make the codes complex and slow down the performance, so i will not merge the PR.

[2017-05-23 08:20] minggo commented on #17851
Please don't use cmake, just open `build/cocos2d-win32.sln` to run tests.

[2017-05-23 09:11] minggo commented on #17854
The code should change to `_mainLayer->setCameraMask(2, true);`. The mask is `2`, not 1.

[2017-05-23 09:11] #17854 closed, assigned to nobody

[2017-05-23 09:53] minggo commented on #17821
Yep, i can reproduce it. I will try to fix it.

[2017-05-24 01:42] minggo commented on #17758
@fuyifan i run the command `cocos compile -p ios -m release -j4 --sign-identity "iPhone Developer"`, only build simulated i386 package. Are you sure you use the command like that?

[2017-05-24 01:59] minggo commented on #17758
Ok, meet the same error as i mentioned above again.
@fuyifan did you meet the error?
[code]

[2017-05-24 02:02] minggo commented on #17758
Ok, should have to select develop team using Xcode.

[2017-05-24 05:43] KarenHuang2016 commented on #17851
@minggo, the build/cocos2d-win32.sln has no x64 configuration. It only has Win32 configuration. So we use cmake to generate the x64 solution. The issue I reported only can be repro on x64. The root cause is that on WIN64 there is no definition for GWL_WNDPROC in WinUser.h file.

[2017-05-24 05:46] KarenHuang2016 commented on #17851
Also, we can build the x64 solution successfully on previous revision 4fccfb2. But it failed on latest revision.

[2017-05-24 06:11] piccolopegaso commented on #17850
Are u both Chinese? why not just say Chinese？

[2017-05-24 06:22] minggo commented on #17850
cocos2d-x is used and contributed by developers all over the world. Should use english then more developers can join to the discussion.

[2017-05-24 07:43] KarenHuang2016 commented on #17851
I found the root cause. In cocos/ui/UIEditBox/UIEditBoxImpl-win32.cpp, we should use **GWLP_WNDPROC** instead of GWL_WNDPROC. Then the error will not be reported.

**From**
s_prevCocosWndProc = (WNDPROC)SetWindowLongPtr(s_hwndCocos, **GWL_WNDPROC**, (LONG_PTR)hookGLFWWindowProc);
**changed to**
s_prevCocosWndProc = (WNDPROC)SetWindowLongPtr(s_hwndCocos, **GWLP_WNDPROC**, (LONG_PTR)hookGLFWWindowPr

[2017-05-24 07:48] minggo commented on #17851
@zilongshanren please take a look of it.
Thanks @KarenHuang2016

[2017-05-24 08:29] minggo commented on #17758
[The ticket](https://stackoverflow.com/questions/39674237/xcrun-command-to-export-ipa-file-xcode8-for-iphoneos10-0) provides a solution that uses `xcodebuild archive` to generate `.xcarchive` first, then generate `.ipa`. But `xcodebuild archive` will `do a full rebuild of all targets` every time.

[2017-05-24 13:23] yuriilychak opened #17858 "Spine web performance problem"
- cocos2d-x version: 3.15
- devices test on: Mac-Mini
- developing environments
   - NDK version: r14b
   - Xcode version: 8.1
   - VS version:
   - browser type and version: Chrome 58

Steps to Reproduce:

1. Create any spine skeleton on stage.
2. Run in browser.
3. Get 1 draw call for any attachment.
I have 35 characters. Every character have 15 regions. As result I have 525 draw calls. They are

[2017-05-24 14:04] Akronae opened #17859 "Delete all my node when calling a method in onLoad()"
When i call `setNodePosition`, cocos throws me errors and all my nodes are like deleted

- cocos2d-x version: v.3.5
- devices test on: simulator (720 x 1280)
Steps to Reproduce:

1. Creating an `UI layout node`, and linking it with this `script:`
<pre>
const {ccclass, property} = cc._decorator;

@ccclass
export default class MouseHandler extends cc.Component
{

    constructor ()
    {
        thi

[2017-05-24 14:07] AIGRIND-LLC commented on #17052
Hello,
What is the status of this issue?
It seems there is several other issues describing the same problem ([this one](https://github.com/cocos2d/cocos2d-x/issues/16687) for example).
Should we wait for some common solution in the framework?

[2017-05-25 04:58] midchow opened #17860 "[cocos2d-x 3.15] ui::ScrollView has an abnormal clipping bug and a layer order problem."
- cocos2d-x version: 3.15
- devices test on: simulator
- developing environments
   - NDK version:
   - Xcode version: 8.2.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Open cocos2d_tests.xcodeproj
2. Select cpp-tests iOS build target
3. Open UIScrollViewTests.cpp
4. Add following code at line 77 so that the test sprite can be a child of first button of scroll view.

P

[2017-05-25 05:12] midchow commented on #17860
FYI, by commenting out the line 103 of CCProtectedNode.cpp, the problems has gone:

I'm not so sure this is the right solution, and possibly this may cause another side effects.

[2017-05-25 06:10] xbpiao commented on #17710
或者看#17820

[2017-05-25 06:51] minggo commented on #17758
fix it in https://github.com/cocos2d/cocos2d-console/pull/421

Edit: update cocos2d-x's console in https://github.com/cocos2d/cocos2d-x/pull/17862

[2017-05-25 07:04] #17758 closed, assigned to minggo

[2017-05-25 09:16] jsonchi opened #17864 "Memory leaks caused by static field in Cocos2dx related class"
I have an Android App which embed Cocos Activity, like most Activities in my App is normal Android Activity except a few of Cocos Activities which inherited from Cocos2dxActivity.

When I quit from Cocos Activity and back to normal Activity,the static field(e.g. sContext) in Cocos2dxActivity can cause memory leaks.

So how I can do to fix this kind of issue?

[2017-05-25 09:21] minggo commented on #13392
now uses luajit 2.1.0-beta2, so close this issue

[2017-05-25 09:21] #13392 closed, assigned to nobody

[2017-05-25 09:26] Dauch commented on #17864
which method do you use to measure? I remember if you hold ```sContext``` as static, that will cause memory leaks.

[2017-05-25 09:55] toreinkun commented on #17799
inside method [URLSession:session task: didCompleteWithError:], you can use [error.userInfo objectForKey:NSURLSessionDownloadTaskResumeData] to save the resume data, not just [NSURLSessionTask cancelByProducingResumeData:].

[2017-05-25 09:56] #17789 closed, assigned to nobody

[2017-05-25 09:59] minggo commented on #17421
fixed in https://github.com/cocos2d/cocos2d-x/pull/17785

[2017-05-25 09:59] #17421 closed, assigned to nobody

[2017-05-25 12:24] yuriilychak commented on #17774
@Tom29 Use MipMaps, if you have texture with size 1024x1024 or smaller (Examples are in cocos test case). If you scale texture to size over then 50% of original size your sprite could have artifacts.

[2017-05-25 13:26] dzpt commented on #17774
@yuriilychak i'm using mipmaps as a temporary solution. Mipmap can't satisfy me because it makes sprite look blur. The only solution i think is using other resizing algorithm to resize sprite and save it to file before use it as sprite. Does cocos have any other built-in resizing mechanism?

[2017-05-25 15:07] summerinsects commented on #17377
Hey here!
I reproduced it! The reason why it displayed as square is the ttf your specified does not support Chinese.
Maybe you can download Arial Unicode MS (21.8 MB), and put it into the folder Resources/fonts

[2017-05-25 17:03] bolino opened #17865 "Possible bug introduced in AudioEngine or intended behavior?"
I just updated cocos2d-x to the current version in the repo and I've been getting a crash on my sound playback callback.

Because of a change in `AudioEngineImpl::update(float dt) `the finish callback is now called after `AudioEngine::remove()`.
You can see this change in this commit: https://github.com/cocos2d/cocos2d-x/commit/6217d8c

My crash occurs because I'm calling `AudioEngine::getProfile(

[2017-05-26 01:45] #17704 closed, assigned to nobody

[2017-05-26 02:57] minggo commented on #14973
@Tom29 circle is smooth or not will depend on the segments number. Or could you please share me a test case to reproduce it? Thanks.

[2017-05-26 03:52] keppelcao opened #17866 "cocos2d-x js-binding cc.orbitCamera can not working."
- cocos2d-x version: 3.15
- devices test on: iphone6 iphone6s ipad mini 2
- developing environments
   - NDK version: ?
   - Xcode version: 8.3.2
   - VS version: ?
   - browser type and version: ?

Steps to Reproduce:
orbitCamera action has not any effect, and log msg as following:
[Action update]. override me
[Action update]. override me
[Action update]. override me
[Action update]. override me

[2017-05-26 03:54] keppelcao commented on #17866
I test same code and writing in C++ code, it works fine.

[2017-05-26 05:56] #17866 closed, assigned to nobody

[2017-05-26 09:27] isairz opened #17867 "End is not working in Android Nougat."
- cocos2d-x version: 3.13.1
- devices test on: Samsung Galaxy S7, LG V20, LG G6
- developing environments
   - NDK version: r12b
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. run `cocos2d`
2. call `cocos2d::Director::getInstance()->end();`

`cocos2d::Director::getInstance()->end();` is working well in other Android, but it is not in Nougat.

[2017-05-26 10:59] isairz commented on #17867
Maybe related to #13878

[2017-05-26 13:44] piotrros commented on #17867
Strange, I'm using cocos2d-x 3.14.1, ndk r13b and on Nexus 6P (android 7.1.1) it works fine.

[2017-05-26 13:53] piotrros opened #17868 "Problems with labels loaded from csb file"
- cocos2d-x version: 3.15

Reproduce:
Load scene made in Cocos Studio.

If using custom size, all the labels are aligned on the center.
If using auto size, all the labels are aligned on the left.
Vertical alignment seems to not work at all.
Sometimes labels does not show at all.

More info here:
http://discuss.cocos2d-x.org/t/cocostudio-bug-in-cocos2d-x-3-15/36591/9

It works fine in cocos2d-x 3.1

[2017-05-26 14:47] sbrednikhin opened #17869 "CocosStudio .csb reading bug."
- cocos2d-x version: 3.15
- devices test on: win32
- developing environments
   - VS version: 2013

Steps to Reproduce:
1.  In cocos empty test add content of archive https://www.dropbox.com/s/zut1fdlsvbxid39/cocos_studio_outline_crash.zip?dl=0
 into Resources folder (there is scene with label with enabled outline).
2.  In cocos empty test add
`const flatbuffers::CSParseBinary * content_binary = n

[2017-05-27 05:47] ahlwong opened #17871 "Multiple Calls to DrawNode->clear then draw stops / flashes drawing on Android"
- cocos2d-x version: 3.15.0
- devices test on: Samsung Galaxy Tablet Android 4.4.2
- developing environments
   - NDK version: Android Studio r14B

Steps to Reproduce:

If you make multiple edits to the draw node and clear and then draw, sometimes the draw node remains empty. With the following example, the draw node will flash continually.

On iOS, the drawing will stay constant; while on Android

[2017-05-28 13:50] yuriilychak commented on #17774
@Tom29  It's not cocos mechanism, It's OpenGL mechanism. Sprite use standard defuse OpenGL shader. If you want custom scale you can write your own fragment shader that manipulate with scale, but be careful
 because it break batch and increase number of draw-calls.

[2017-05-28 16:00] dzpt commented on #17774
@yuriilychak I know, i mean the resizing mechanism, not scaling. If there's a way to resize sprite and save it as the resolution we wanted, it's the perfect solution. Like you can open 1024x1024 file on Photoshop, resize it to 32x32 or resize 64x64 to 32x32, the quality is the same. But it seems there's no built-in feature on Cocos.

Since Cocos doesn't support vector  graphic, creating numerous s

[2017-05-28 18:54] LucaComanducci opened #17873 "Run iOS produce "invalid literal for float(): 8.3.2""
- cocos2d-x version: 3.15 (commit 639737286f594f3e06c07b22b352dddb01858883)
- developing environments
   - Xcode version: 8.3.2

Steps to Reproduce:

1. Run 'cocos new MyGame -p com.your_company.mygame -l cpp -d NEW_PROJECTS_DIR'
2. Run 'cd NEW_PROJECTS_DIR/MyGame'
3. Run 'cocos run -p ios'

Then the console print:

Python 2.7.10
Building mode: debug
Building...
invalid literal for float(): 8.3.2

[2017-05-28 22:02] Rubonnek opened #17874 "Calling PhysicsWorld::setDebugDrawMask(false) right after Scene::initWithPhysics causes a crash"
- cocos2d-x version:
- devices test on:
- developing environments
   - Arch Linux GCC version: 6.3.1

Steps to Reproduce:

1. Create a new project and change the first lines of `HelloWorld::init` to the following:

[code]

2. Run the application and it will crash.

[2017-05-29 03:15] kiranb47 opened #17876 "Downloader stopped working after updating cocos to 3.15. Issue only for Android."
- cocos2d-x version: 3.15
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2017-05-29 04:30] yuriilychak commented on #17774
@Tom29 Vector graphic can't use video adapter, and all render CPU, it's bad practice. The best example old flash games, they are very slow because dont use GPU. In case of photoshop, you have good scale algorithm, but it works to long (You use in Photoshop only a few times and not every frame, it's acceptable). When you scale 1024x1024 image in photosop it takes about 1 second. In your game, frame

[2017-05-29 05:34] dzpt commented on #17774
@yuriilychak You don't understand? The resizing process only at the first time using game.
I didn't say resize texture every frame, omg.

1. User downloaded the game, open it the first time.
2. Progress bar shows up - resizing process happens here, it takes few seconds to create all suitable sprites sizes needed for this user device screen resolution -> save them to device storage.
4. Since then,

[2017-05-29 10:22] v1993 opened #17877 "Set window icon on desktop"
- cocos2d-x version: 3.15
Is it possible to set/change window icon for all desktop platforms and how? If not, it is a feature request.

[2017-05-29 11:37] summerinsects commented on #17877
maybe you can modify this file : proj.win32/res/game.ico

[2017-05-29 11:39] v1993 commented on #17877
But what about other platforms?

[2017-05-29 13:43] v1993 opened #17878 "Segmentation fault with nil arg"
- cocos2d-x version: 3.15
- devices test on: linux

Steps to Reproduce:

1. Use `nil` as arg to `:addComponent`
2. Get crash with `Segmentation fault (core dumped)`

I accidentally ran

[code]
without `phbody`.

[2017-05-29 13:45] BlackCatz94 commented on #17867
Sometimes very very rarely, app will start again after calling end(); also happened on Marshmallow devices.

[2017-05-29 13:53] BlackCatz94 opened #17879 "DrawNode sometimes not visible in Android API 16 and may crash"
- cocos2d-x version: Cocos2d-x 3.15
- devices test on: Andromax JSR U - Android API 16
- developing environments
   - NDK version: r13b
   - Xcode version:-
   - VS version:-
   - browser type and version:-

Steps to Reproduce:

1. Create DrawNode on init then make draw segment on touchBegan/Moved
2. Clear onTouchEnd
3. Retry if not crashed yet, it will have 2 options: draw is shown but crash, or

[2017-05-29 18:14] heimasi opened #17880 "Android Studio 2.3.2 External Native Build Issues"
- cocos2d-x version: 3.15.1
- devices test on: win10
- developing environments
   - NDK version: 14.1.3816874
   - Xcode version:
   - VS version: 2015
   - browser type and version:

Steps to Reproduce:

1. use android studio 2.3.2 open cpp-empty-test\proj.android-studio

External Native Build Issues
Build command failed.
Error while executing process C:\Android\android-sdk\ndk-bundle\ndk-build.c

[2017-05-29 20:31] pyrosphere commented on #17877
Each platform gets its icon from different files:
- Android: proj.android/res/drawable-*dpi/icon.png
- Android-Studio: proj.android-studio/app/res/mipmap-*dpi/ic_launcher.png
- iOS: proj.ios_mac/ios/Icon-*.png
- Mac: proj.ios_mac/mac/Icon.icns
- Windows: proj.win32/res/game.ico

[2017-05-30 07:54] BetaTiger opened #17881 "couldn't find "libcocos2djs.so""
- cocos2d-x version:cocos crator 1.4.2
- devices test on:android
- developing environments
   - NDK version: android-ndk-r14b-darwin-x86_64
   - Xcode version: xcode8.3.2
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. create a new hello_world projects
2. build->choose android->use default template ->build
3.use android studio2.3 import the proj.android-studio, after compi

[2017-05-30 08:58] keyurdoshi18 commented on #17723
@div5yesh I have same issue
have you got the solution of your SSL socket connections ?

[2017-05-30 10:27] isairz commented on #17867
I found out that is a problem in Miles not in cocos.
(I use Miles as sound library)

Cocos waits for the sound object is destroyed, but Miles is hanging because it fail to close driver in nougat.

[2017-05-30 10:27] #17867 closed, assigned to nobody

[2017-05-30 10:46] hussain-sohaib opened #17882 "EventDispatcher::pauseEventListenersForTarget(Node* target, bool recursive/* = false */) not working"
- cocos2d-x version: 3.15
- devices test on: 6S Plus

Steps to Reproduce:

[code]

touched will still be written in console, when it should not.

[2017-05-30 17:02] ishmar opened #17883 "setPosition() breaks widgets+scrollView"
- cocos2d-x version: 3.15
- devices test on: windows, android
- developing environments
   - NDK version: 12b
   - VS version: Community 2015 Update 2

Steps to Reproduce:

1.  Create new C++ project
2.  Replace HelloWorldScene.cpp with the uploaded one.
3. Compile and execute
4. Scrolling works fine
5.1. Clicking on the right side of a color button doesn't call touch/lambda function (which output

[2017-05-30 23:02] #17883 closed, assigned to nobody

[2017-05-31 01:38] Dauch opened #17884 "Action sometimes be revocation."
- cocos2d-x version: cur v3 branch
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. run those code in hello world.
[code]
2. . I didn't do anything to stop this action. But sometimes it happen this action do not print ```aaa```, it is rarely happen, but do happen in ```v3.15```, I upgrade bef

[2017-05-31 02:38] dumganhar opened #17885 "[android] Avoid FPS greater than 60 if vsync is closed"

[2017-05-31 04:04] Dauch opened #17886 "sometime crash in v3.15 (android platform)"
- cocos2d-x version: v3.15
- devices test on: android
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

after upgrade from 3.13 to 3.15, sometimes crash, this is logcat upload to my backstage, can someone give me some infomation?
[code]

[2017-05-31 07:26] JethroSovr opened #17887 "[Playback] ❗️Failed to queue any items. iOS-videoPlayer"
- cocos2d-x version:0x00030500
- devices test on: IOS
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Error:
[Playback] ❗️Failed to queue any items.
1. create a "VideoPlayer" ,ccexp.VideoPlayer:create()
2. setFileName and play it , addEventListener
3. then  add a listener  ,as follows:
self.videoPlayer:addEventListener(function(video

[2017-05-31 07:43] #17880 closed, assigned to nobody

[2017-05-31 10:51] DonMizzi commented on #12479
Some news for Cocos 2.2.6?
Someone have done the fix?
Thank you

[2017-05-31 15:21] Rubonnek opened #17888 "[Request] Support for Tiled 1.0"
- cocos2d-x version: v3.15

Steps to Reproduce:

1. Create a new project and create a new Tiled map file `.tmx` using [Tiled v1.0](http://www.mapeditor.org/2017/05/24/tiled-1-0-0-released.html) which was recently released.

2. Add one of the following to `HelloWorld::init`

[code]
OR
[code]

3. Run the project and it will crash giving you the following error:
[code]

Even after removing the [code

[2017-05-31 16:26] crazyhappygame commented on #17424
I have the same issue. Latest cocos console, android sdk tools

[2017-06-01 09:10] Den4ikAkaBrown opened #17891 "getAttachNode delay when i move my hero (3D fps game)"
- cocos2d-x version: 3.14
- devices test on: macOS Sierra 10.12.3
- developing environments
   - NDK version:
   - Xcode version: 8.3.2
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
[code]

2.1 MouseMoveEvent
[code]

2.2 camera rotation
[code]

3 update move after use keyboard
[code]

[2017-06-02 02:47] #17886 closed, assigned to nobody

[2017-06-03 02:33] qingwabote opened #17893 "The CCControlButton onTouchEnded should be cancelled after moving"
- cocos2d-x version: 3.15
If a CCControlButton moved in CCScrollView, the button onTouchEnded should be cancelled.

[2017-06-03 03:19] qingwabote commented on #17893
I fixed it like this:
[code]

[2017-06-03 08:47] mr746866 commented on #17386
I am facing similar issue for Cocos2D-X 3.14.1 on my iPhone 6s. Whenever the app goes in background and comes to foreground again, sound effects stop working. However, background musics work perfectly.

[2017-06-03 09:03] mr746866 commented on #17386
Solved the problem by excluding the following lines from `AppDelegate::applicationDidEnterBackground()` & `AppDelegate::applicationWillEnterForeground()` respectively. The comments that are present in default are misleading.

`CocosDenshion::SimpleAudioEngine::getInstance()->pauseBackgroundMusic();`

`CocosDenshion::SimpleAudioEngine::getInstance()->resumeBackgroundMusic();`

[2017-06-04 07:38] dzpt commented on #16623
@glennerichall yeah, and they didn't fix it in 3.15

[2017-06-04 07:39] dzpt opened #17895 "Doesn’t work with SocketIO 2.0.1 and failed calling back with old version?"
- cocos2d-x version: 3.15
- devices test on: Simulator, real devices

I've tried to upgrade to SocketIO 2.0.1 but got crashed while connecting.
`client.second->socketClosed();` line 993 , SocketIO.cpp (i'm using latest cocos version)

The older SocketIO version: 1.7.3, it works. But failed to implement call back like this

`socket.emit('testcallback', 'Welcome' , callThis)`

On the cocos, `_client

[2017-06-05 02:38] minggo commented on #17847
fixed in https://github.com/cocos2d/cocos2d-x/pull/17896

[2017-06-05 02:56] #17874 closed, assigned to nobody

[2017-06-05 03:35] pineoc commented on #17386
@mr746866 you solve the problem like this?
remove `//` on pause, resume?
[code]

[2017-06-05 03:36] #17847 closed, assigned to minggo

[2017-06-05 05:38] minggo commented on #17881
Please don't report creator issues here. You may report it in forum.

[2017-06-05 05:38] #17881 closed, assigned to nobody

[2017-06-05 06:29] minggo commented on #17881
Can reflect it in https://github.com/cocos-creator/cocos2d-x-lite too. Creator uses a custom cocos2d-x version.

[2017-06-05 10:27] pandamicro opened #17898 "Scheduler insecurely trigger callback after unschedule"
![wechatimg99](https://cloud.githubusercontent.com/assets/632460/26780280/92edd402-4a1b-11e7-9cb9-3b44a5497b2c.jpeg)

The logic in Timer::update will trigger multiple times the callback if time passed is longer than one interval, it's designed to make sure the scheduled task is invoked accurately with time passed.

The problem is that it's not checking whether the timer is still valid. User could

[2017-06-06 02:34] yafacex opened #17899 "Android RenderTexture lost when switch to background!"
- cocos2d-x version: 3.5
- devices test on: Xiaomi Huawei
- developing environments
   - NDK version: r13b
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
 安卓快速切前后台 RenderTexture的纹理丢失怎么解决（只要当前场景里有一个renderTexture，跑下面的命令就会复现。。我试了华为小米都这这样。。。）

2.
adb shell input keyevent 3
adb shell am start -n com.xxx.xxx.xxx/org.cocos2dx.lua.AppActivity    (xxx是包名)

[2017-06-06 02:55] shooga commented on #17386
i think just comment out the pause/resume line might cause crash on some device
----------------------
i solve this problem by:
1. AppDelegate::applicationDidFinishLaunching() add following code
    // init audio engine
    SimpleAudioEngine::getInstance();

2. in file SimpleAudioEngine.mm,  add funtion
static void static_init_engine()
{
    [SimpleAudioEngine sharedEngine];
}

and call it in Simp

[2017-06-06 03:44] InnerPeace080 opened #17900 "cocos2d js with deepstream io , android platform. false to connect deepstream io server"
- cocos2d-x version: 2.14
- devices test on: android samsung note 4
- developing environments
   - NDK version: r10e
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. i try to user deepstream io client js for cocos2d js (cocos2d-x 3.14)
2. I try to build project for android and run it but it fail when try to connect to deepstream server

this is adb log:

[2017-06-06 05:48] minggo commented on #17478
A developer reported [issue](http://discuss.cocos2d-x.org/t/bug-v3-15-opengl-transformer-tf101-cant-work/37157) on TF101 too.

[2017-06-06 05:57] minggo commented on #17850
@Dauch could you please try the the PR: https://github.com/cocos2d/cocos2d-x/pull/17901?

[2017-06-06 07:14] ihonk commented on #17395
@dumganhar
今天我也发现了同样的问题，
我测试环境是

  xcode8.0
  Coco2dx 3.15
使用的是fix bug之后的代码

比对下面两个日志

正常的日志
I/AudioEngine-inl.mm (314): OpenAL was initialized successfully!
D/AudioEngine-inl.mm (147): UIApplicationWillResignActiveNotification
D/AudioEngine-inl.mm (157): UIApplicationDidBecomeActiveNotification
D/AudioEngine-inl.mm (147): UIApplicationWillResignActiveNotification
D/AudioEngine-inl.mm (112): AVAud

[2017-06-06 08:46] minggo commented on #17898
It is fixed in https://github.com/cocos2d/cocos2d-x/pull/17431

[2017-06-06 08:46] #17898 closed, assigned to nobody

[2017-06-06 09:00] minggo commented on #17878
can not pass nil to addComponent, can refer to the [cpp code](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCComponentContainer.cpp#L57).

[2017-06-06 09:00] #17878 closed, assigned to nobody

[2017-06-06 11:53] v1993 commented on #17878
But I've got segfault, not just ignore or exit.

[2017-06-07 01:18] minggo commented on #17878
yep, it pass the value to cpp. the binding codes just pass the value directly to cpp.

[2017-06-07 01:49] Dauch commented on #17850
Great! It works.

[2017-06-07 02:40] minggo commented on #17850
thanks for the feedback.

[2017-06-07 04:42] paosidufygthrj opened #17902 "CCLabel line height is reset when call FontAtlasCache::purgeCachedData"
- cocos2d-x version: 3.15

Steps to Reproduce:

1. create label and set line height.
2. FontAtlasCache::purgeCachedData invoke setTTFConfig,  it resets line height.

[2017-06-07 04:49] #17850 closed, assigned to minggo

[2017-06-07 08:56] #17902 closed, assigned to nobody

[2017-06-07 08:57] intmainreturn00 commented on #10061
Does something changed since than?)
It really quite interesting case for android: you can collect power from both worlds) i.e. hundreds of android ui libs for simple tasks and something like spine animations from cocos2dx. I saw only one way how I succeed in accomplish that - I started cocos at android service and render to popup window above the default android layout, but it has obvious limitati

[2017-06-07 09:11] minggo commented on #17884
Yep, i think it is a problem, because the duration of instant action is zero.

[2017-06-07 09:13] sbhhbs commented on #10061
@lifeisdream check out this project https://github.com/sbhhbs/Hello-LWF-Cocos2d-x  it made it a fragment. the code is relatively old though.

[2017-06-07 09:15] intmainreturn00 commented on #10061
Yeap) I was currently watching it while you post the link =) thanks. Lets see how its production ready)

[2017-06-07 09:17] minggo commented on #17884
@Dauch could you please try the PR: https://github.com/cocos2d/cocos2d-x/pull/17906.
Thanks.

[2017-06-07 09:21] minggo commented on #17884
And i think `Spawn` also has similar issue.

[2017-06-07 09:32] Dauch commented on #17884
Sorry, I don't know how to reproduce this bug. It is rarely happen

[2017-06-07 09:37] minggo commented on #17884
Got it, but you can try the PR and see if it will happen again. If it is resolved, than it should not happen again. Thanks.

[2017-06-07 09:38] minggo commented on #17884
I will try to make a test that can do auto testing.

[2017-06-07 09:40] Dauch commented on #17884
No problem, I will try.

[2017-06-07 09:59] minggo commented on #17887
It is better to provide a test case that i can reproduce it.

[2017-06-07 10:02] minggo commented on #17891
Why not provide a test case based on `cpp-empty-test`? Then i can fetch your branch to have a try. It will make my life easier.

[2017-06-07 10:34] Dauch commented on #17884
no, It's not 0, is 2.
after I merge this PR, something bad happen, the action will never stop. :(

[2017-06-07 15:18] maksg opened #17907 "Call to unavailable function 'system': not available on iOS"
cocos2d-x 3.15.1
Xcode 9 and iOS 11

In the newest Xcode this error shows up when compiling for iOS in platform/CCFileUtils.cpp, line 1429:
Call to unavailable function 'system': not available on iOS

[2017-06-07 20:07] mars3142 commented on #17907
It's in **FileUtils::removeDirectory(const std::string& path)** and the deprecation text for **system** is -> **Use posix_spawn APIs instead.**

[2017-06-07 20:55] Anywhere-Music-Player commented on #17480
@minggo I got some problem today... don't know why I haven't get this before...
So, just creating gradient with this code in tests:

[code]
gives me this:

![photo 6-7-17 23 54 00](https://user-images.githubusercontent.com/3391456/26900989-cff8b8b8-4bdc-11e7-88d5-9d7533c9ccc8.png)

But with radius 255, output is:

![photo 6-7-17 23 52 51](https://user-images.githubusercontent.com/3391456/26900999-

[2017-06-07 21:21] mars3142 commented on #17864
@jsonchi I think cocos2d-x isn't supposed to be a multi activity app. Because of that the

    private static Cocos2dxActivity sContext = null;

was implemented to be useable with

    public static Context getContext() {
        return sContext;
    }

The only possible way, I see right now, is to clear the sContext value by yourself, if you close the activity.

PS: Just an idea, would it be poss

[2017-06-08 00:56] minggo commented on #17480
I will take a look.

[2017-06-08 02:16] minggo commented on #17480
fixed in https://github.com/cocos2d/cocos2d-x/pull/17908. It is about float precision issue.

[2017-06-08 02:38] minggo commented on #17884
Sequence may have instant action, so the duration is just interval actions, which make instant actions will be missed if it is at last.

I will have a try.

[2017-06-08 03:05] minggo commented on #17884
Yep, because InstantAction::step() is not invoked, Sequence just invoke action's update directly. And _done in Instant actions are set in InstantAction::step().

[2017-06-08 03:35] minggo commented on #17884
@Dauch i updated the PR.

[2017-06-08 04:15] Dauch commented on #17884
Great job! It works. :)

[2017-06-08 05:40] minggo commented on #17884
Thanks. Please let me know whether the action will not be invoked now.

[2017-06-08 06:41] Dauch commented on #17884
It is normal now, thanks, I think this PR will fix this bug. I close this, if happen not be invoked, I will reopen.

[2017-06-08 06:41] #17884 closed, assigned to minggo

[2017-06-08 07:14] minggo commented on #17907
Xcode 9 is in beta version.

[2017-06-08 07:18] minggo commented on #17907
@mars3142 could you please describe it in detail?

[2017-06-08 07:18] mars3142 commented on #17907
Right, but the **system** call is deprecated for iPhone since long time ago.

[2017-06-08 07:20] minggo commented on #17899
Can the RenderTextureTest in cpp-tests reproduce the issue?

[2017-06-08 07:25] mars3142 commented on #17907
@minggo I only jumped into the definition of **system** in Xcode 9 (Beta with iOS 11), which is in stdlib.h

    __swift_unavailable_on("Use posix_spawn APIs or NSTask instead.", "Process spawning is unavailable")
    __API_AVAILABLE(macos(10.0)) __IOS_PROHIBITED
    __WATCHOS_PROHIBITED __TVOS_PROHIBITED
    int	 system(const char *) __DARWIN_ALIAS_C(system);

In Xcode 8 (iOS 10.12) showed nearly

[2017-06-08 07:41] minggo commented on #17907
Ok, but i think we should use [nftw](http://pubs.opengroup.org/onlinepubs/009695399/functions/nftw.html) as mentioned in [the ticket](https://stackoverflow.com/questions/5467725/how-to-delete-a-directory-and-its-contents-in-posix-c).

[2017-06-08 07:45] minggo commented on #17879
I am not sure if i can find a device with API 16 to test.

[2017-06-08 07:45] #17877 closed, assigned to nobody

[2017-06-08 07:50] minggo commented on #17873
Ok, it is not 3.15. The version will be updated until releasing.

[2017-06-08 08:23] minggo commented on #17873
fixed in https://github.com/cocos2d/cocos2d-x/pull/17912

[2017-06-08 08:52] minggo commented on #17869
flatbuffer is asked to be updated by [this issue](https://github.com/cocos2d/cocos2d-x/issues/17269). I don't know it will break compatibility, because cpp-tests also uses .csb files and there is not problem.

[2017-06-08 08:59] minggo commented on #17869
As many developers meet the issue, i think i have to revert the PR of updating flatbuffer. Sorry about that.

[2017-06-08 09:03] minggo commented on #17269
@whitegfx after updating flatbuffer, cocos studio reader is broken. Though we close cocos studio, and don't promise to keep backward compatibility, but can not make it crash when loading .csb files. So i think i have to revert the PR. If you want to use new version of flatbuffer, may be you should do it yourself.

[2017-06-08 09:07] #17873 closed, assigned to minggo

[2017-06-08 15:11] intmainreturn00 commented on #10061
For my purpose it did't get it. I need spine. And cocos version from that project (3.3 i guess) crash sometimes with spines.

So after one and a half days rewriting cocos\platform\android\java\src\...libs so it worked with cocos 3.15.1 and at the end I made viewpager with regular android Fragments as well as one Fragment with cocos surface view inside it. It unbelievable =)) but it works! and my s

[2017-06-08 15:24] vkreal commented on #10061
@lifeisdream Awesome job! I am really interested in doing the same thing having cocos run inside a fragment. Did you use https://github.com/sbhhbs/Hello-LWF-Cocos2d-x as a guide? Do you have any recommendations?

Thanks!

[2017-06-08 16:23] intmainreturn00 commented on #10061
@vkreal I will try to write a plain guide and post all sources to github in a few weeks (and hope make more stable version with enabling audio and check that as mush staff working).
I used Hello-LWF-Cocos2d-x as a reference, but It used really old cocos so you need to rewrite some code at platform plugins. I have some experience working with cocos2dx from android Service, so I guess it helped me.

[2017-06-08 17:13] vkreal commented on #10061
@lifeisdream that be awesome to see how you did it! Very slick demo you posted above :)

[2017-06-09 10:40] toreinkun opened #17914 "the correctness of the newest CCDownloader-android on android"
I use CCDownloader to download zip of hotupdate. During downloading, i changed wifi to 4g or wifi to another wifi, the downloaded zip's md5 is not equals to the original zip. But the zip can decompress and the files is equls to original files.
![image](https://user-images.githubusercontent.com/22761531/26972119-f67acfd2-4d42-11e7-9c01-8b2d1b9ed303.png)

But these case won't happen on iOS.

[2017-06-09 12:29] toreinkun commented on #17914
and there is a strange case,  for example, the dowloading file's progress is 50%, then i change the wifi, the progress will reduce to 30%.

[2017-06-11 12:36] tbwind commented on #16829
发现这种情况下，cocos2dx的SIOClientImpl收到的握手http回复有问题。这应该是失败的请求，在安卓下isSucceed返回的是true
[code]

[2017-06-11 16:00] yhojann-cl opened #17915 "Canot asign COCOS_CONSOLE_ROOT enviroments with blank spaces in path"
- cocos2d-x version: 3
- devices test on: GNU/Linux (Ubuntu 16.04)
- developing environments
   - NDK version: -
   - Xcode version: -
   - VS version: -
   - browser type and version: -

Steps to Reproduce:

[code]

The enviroment using spaces in the path but the bash interprete as argument. Please use quotes for the paths.

Example:
`export COCOS_CONSOLE_ROOT="/home/whk/Desktop/cocos demo/cocos2

[2017-06-11 16:16] yhojann-cl opened #17916 "Canot install linux dependencies automaticaly"
- cocos2d-x version: 3
- devices test on: GNU/Linux (Ubuntu 16.04)
- developing environments
   - NDK version: -
   - Xcode version: -
   - VS version: -
   - browser type and version: -

Steps to Reproduce:

[code]
Need install the dependencies mannualy? the dependencies are not visible in the main page.

[2017-06-11 16:25] yhojann-cl commented on #17916
The solution for me:
`$ sudo apt update && sudo apt upgrade && sudo apt install -f && sudo apt install libxmu-dev libgl2ps-dev g++-4.9 libzip-dev  libcurl4-gnutls-dev`
And re run install-deps-linux.sh

[2017-06-11 19:38] yhojann-cl opened #17917 "Not satisfaced dependencies on linux run"
- cocos2d-x version: 3
- devices test on: GNU/Linux (Ubuntu 16.04)
- developing environments
   - NDK version: -
   - Xcode version: -
   - VS version: -
   - browser type and version: -

Steps to Reproduce:

[code]
Y copied /home/whk/Desktop/demo/cocos2d-x/external/linux-specific/fmod/prebuilt/64-bit/* to /usr/share/libs/ and make symbolic link from libfmod.so to libfmod.so.6 but does not work, t

[2017-06-11 19:50] yhojann-cl commented on #17916
The installer script need copy the libfmod libraries to user directory. The game need install libraries in client pc? i can copy libraries into binary folder? i can embed the libraries into binary game?

[2017-06-11 19:50] yhojann-cl commented on #17917
The installer script need copy the libfmod libraries to user directory. The game need install libraries in client pc? i can copy libraries into binary folder? i can embed the libraries into binary game?

[2017-06-12 02:47] Rubonnek commented on #17770
@minggo This issue can be closed. It's not related to the websockets client implementation in cocos2d-x, but the server. @meiry already found the issue and he said so in the last comment of [uWebSockets issue #582](https://github.com/uWebSockets/uWebSockets/issues/582).

[2017-06-12 02:53] minggo commented on #17770
K, thanks for the information.

[2017-06-12 02:53] #17770 closed, assigned to nobody

[2017-06-12 03:12] Rubonnek commented on #17917
That's true, the installer needs to, at least, create a symbolic link of the FMOD shared library.

I don't know if it's possible to embed the shared libraries due to licensing, perhaps one of the cocos2d-x developer might know, but you can always include a shell script with the release of the game and use something like:

[code]

to load the FMOD library wherever they may be.

[2017-06-12 03:14] minggo commented on #17915
fixed in https://github.com/cocos2d/cocos2d-x/pull/17919

[2017-06-12 03:21] Rubonnek commented on #17917
The following symbolic links work in Arch Linux. They could work for Ubuntu but I have not tested that:

[code]

[2017-06-12 03:59] minggo commented on #17917
I don't know why need to create a symbol link as `libfmod.so.6` as the codes just link to `libfmod`.

[2017-06-12 03:59] minggo commented on #17916
duplicated with https://github.com/cocos2d/cocos2d-x/issues/17917

[2017-06-12 03:59] #17916 closed, assigned to nobody

[2017-06-12 04:28] Rubonnek commented on #17917
According to `ldd` that's not true. This can be checked by compiling a brand new project and then:

[code]

The shared library looked for is `libfmod.so.6`, not `libfmod.so`.

[2017-06-12 04:41] Rubonnek commented on #17917
I've also been maintaining the [`cocos2d-x-src`](https://aur.archlinux.org/packages/cocos2d-x-src) package in the Arch User Repository for more than a year and a half now and there hasn't been any issues related to FMOD reported by the users during this time.

The package patches cocos2d-x, but does not touch the build process at all.

[2017-06-12 05:43] minggo commented on #17917
@Rubonnek yep, i don't know why it search for libfmod.so.6 instead of libfmod.so. I tried to find the reason and failed long ago.

And it is interesting that you maintained cocos2d-x in Arch User Repository. What does it been used for?

[2017-06-12 05:58] ViiCat opened #17920 "eclipse"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2017-06-12 05:59] #17920 closed, assigned to nobody

[2017-06-12 06:13] #17915 closed, assigned to minggo

[2017-06-12 06:41] minggo commented on #17907
fixed in https://github.com/cocos2d/cocos2d-x/pull/17921

[2017-06-12 06:53] Dauch opened #17922 "AudioEngineImpl::play2d Crash in current v3 branch"
- cocos2d-x version: cur v3 branch
- devices test on: android
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

![AudioEngine-inl.cpp 273](https://user-images.githubusercontent.com/5201160/27022000-6e121a68-4f7e-11e7-9c07-a3d2b86d1d95.png)

![debug info](https://user-images.githubusercontent.com/5201160/27022261-bcb7b9ec-4f7f-11e7-9390

[2017-06-12 07:43] minggo commented on #17882
Node::onEnter() will enable the listener as ActionManager will resume action in onEnter. So you should initialize codes in onEnter.

[2017-06-12 07:43] #17882 closed, assigned to nobody

[2017-06-12 08:32] hussain-sohaib commented on #17882
Add cpp test for pause and resume event listeners or write the code here,
it will make easier for me to get it to work.

On Mon, 12 Jun 2017 at 12:43, minggo <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-06-12 08:49] hussain-sohaib commented on #17882
See this as well
http://discuss.cocos2d-x.org/t/how-to-disable-touchable-sprite-stop-touch-events/16992

On Mon, 12 Jun 2017 at 13:32, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2017-06-12 09:11] minggo commented on #17876
How to reproduce it?

[2017-06-12 09:19] dumganhar commented on #17707
Merge this PR at https://github.com/cocos2d/cocos2d-x/pull/17923
Closed this one. Thanks @pwang08 .

[2017-06-12 09:19] #17707 closed, assigned to dumganhar

[2017-06-12 11:19] Dauch commented on #17922
Thanks, It fixed in [17923](https://github.com/cocos2d/cocos2d-x/pull/17923)

[2017-06-12 11:19] #17922 closed, assigned to dumganhar

[2017-06-12 14:38] Rubonnek commented on #17917
@minggo Apart from all my prototypes, I honestly don't know. I don't know what the Arch Linux users are using cocos2d-x for, and I don't know either how many developers are using cocos2d-x in Arch Linux.

I've mostly used used it to polish my C and C++ knowledge by poking around the engine and finding and porting a bunch of old code found online like my [AnimatedLabel](https://github.com/Rubonnek/

[2017-06-13 01:47] toreinkun opened #17924 "what's wrong with TextureAtlas::drawNumberOfQuads(int, int)"
on android, sometimes will cause these error, the crash stack is reported by bugly.
i dont't know how to reproduce it.

# GLThread 1985(1985)
SIGSEGV(SEGV_MAPERR)
1 #00 pc 00010620 /system/lib/libc.so (__memcpy_base+88) [armeabi-v7a]
2 #01 pc 000fd4e7 /system/vendor/lib/egl/libGLESv2_adreno.so (EsxVertexArrayObject::UpdateInternalVbos(EsxDrawDescriptor const*, unsigned int, EsxAttributeDesc const*

[2017-06-13 02:38] kepler-5 opened #17926 "cocos2d::ccCardinalSplineAt should take arguments by const reference"
This function is used internally by CardinalSplineTo (and other actions derived therefrom), but it is also useful outside as a friendly library function (as its placement in the header file for CCActionCatmullRom would suggest is its purpose).

The current function signature is `Vec2 ccCardinalSplineAt(Vec2 &p0, Vec2 &p1, Vec2 &p2, Vec2 &p3, float tension, float t)`.  The `Vec2` arguments are take

[2017-06-13 05:05] ghost commented on #13773
@dumganhar Still happening in 3.15.

[code]

[2017-06-13 08:35] DAJINZI01 opened #17927 "error"
Microsoft Windows [版本 10.0.14393]
(c) 2016 Microsoft Corporation。保留所有权利。

C:\Users\hp>cd /

C:\>cocos run -s d:/cocos/mygame -p win64
未知的平台：win64
C:\>cocos run -s d:/cocos/mygame -p win10
未知的平台：win10
C:\>cocos run -s d:/cocos/mygame -p win32
编译模式：debug
正在编译...
要求的 VS 版本：[2013, 2015, 2017]
正在执行：'"D:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\devenv.com" "d:\cocos\mygame\

[2017-06-13 08:37] DAJINZI01 commented on #17927
i am ready for help...

[2017-06-13 09:37] sabify opened #17928 "iOS Compile Error: "invalid literal for float(): 8.3.3""
- cocos2d-x version: 3.15.1
- Cocos Console version: 2.3
- devices test on: -
- developing environments
   - NDK version: -
   - Xcode version: 8.3.3
   - VS version: -
   - browser type and version: -

Steps to Reproduce:

1. command "cocos compile -p ios"

[2017-06-15 01:51] minggo commented on #17928
duplicated issue of https://github.com/cocos2d/cocos2d-x/issues/17873

[2017-06-15 01:51] #17928 closed, assigned to nobody

[2017-06-15 03:06] minggo commented on #17869
sent https://github.com/cocos2d/cocos2d-x/pull/17930 to revert updating flatbuffers

[2017-06-15 03:07] #17907 closed, assigned to minggo

[2017-06-15 03:11] minggo commented on #17927
what's the engine version?

[2017-06-15 03:16] minggo commented on #17926
@kepler-5 feel free to send a PR.

[2017-06-15 03:37] minggo commented on #17864
`sContext` is used as static variable is because JNI codes will use the variable, and currently, all native method are static.

Is `sContext` the only thing that will cause memory leak?

[2017-06-15 03:51] zilongshanren commented on #17893
@qingwabote   I think you shouldn't use hard coded magic number here.
The touch cancel distance should be calculated with DPI been taken into consideration.
You could refer to UIScrollview.cpp for more details.

[2017-06-15 05:42] #17869 closed, assigned to minggo

[2017-06-15 05:44] minggo commented on #17868
i think it is resolved as the issue: https://github.com/cocos2d/cocos2d-x/issues/17869

[2017-06-15 05:44] #17868 closed, assigned to nobody

[2017-06-15 07:33] minggo commented on #17273
fixed in https://github.com/cocos2d/cocos2d-x/pull/17934

[2017-06-15 07:37] minggo opened #17935 "use prebuilt bullet"
There are many warnings in bullet source codes, and it takes much time when compiling.

[2017-06-15 07:37] DAJINZI01 commented on #17927
3.15.1
编译没问题，运行没有弹出窗口，调试出现异常

[2017-06-15 07:38] DAJINZI01 commented on #17927
win10 vs2017

[2017-06-15 09:43] MAUSMAUSgames opened #17936 "Node::detachChild() shouldn't use childIndex"
- cocos2d-x version: 3.15.1

It's kind of hard to reproduce, but `Node::detachChild()` can lead to crash.

 I had a case, where removing a child with a `PhysicsBody` caused a `sortAllChildren()` of the `_parent`.

Via
`ComponentContainer::onExit()`, `PhysicsWorld::collisionSeparateCallbackFunc()`, `Node::visit()`...

A recently changed localZOrder was still dirty.
This lead to a change of position

[2017-06-15 22:49] cptnoblivious commented on #17800
We have been experiencing the same issue. Here's an MP3 that's trimmed as close to the PCMDATA_CACHEMAXSIZE as we can get: https://www.dropbox.com/s/umgyzh650wjosjy/trimed_music_fails_to_loop.mp3?dl=0

While I haven't been able to reproduce the looping error in the last hour of testing using the file alone, shaving off tiny fractions of QUEUEBUFFER_TIME_STEP does more reliably reproduce the issue

[2017-06-15 23:40] renatoaf commented on #17654
I'm experiencing the same problem. Has anyone else found a solution?

[2017-06-16 01:42] dumganhar commented on #17395
@huangke, thanks for your feedback, I will check it.
Reopened this issue.

[2017-06-16 01:45] dumganhar commented on #13773
@zilongshanren , could you have a look at this issue? Thanks.

[2017-06-16 01:58] zilongshanren commented on #13773
@crugthew
How could I reproduce this issue?
could you provide any code snippets?

thanks.

[2017-06-16 11:15] jsonchi commented on #17864
Open GL drawing state also influenced when re-enter that Activty

[2017-06-16 15:59] alonlevylll commented on #17260
Someone has any ideas about that issue? @minggo @ricardoquesada

[2017-06-16 21:09] halcyonx opened #17939 "Run android project problem"
Cannot run start project on my android phone. My OS is Windows 7.
- cocos2d-x version: cocos2d-x-3.15.1
- devices test on: LG X Power
- developing environments
   - NDK version: android-ndk-r14b
   - Xcode version: -
   - VS version: Microsoft Visual Studio Community 2015 14.0.25431.01 Update 3
   - browser type and version:

**Steps to Reproduce:**
1. Clone the repo from GitHub.
  $ git clone htt

[2017-06-17 03:43] ricardoquesada commented on #17260
@fuyifan @alonlevylll No idea (and I'm no longer working on cocos2d).

[2017-06-17 03:47] ricardoquesada commented on #16224
@Fraggle I'm no longer working on cocos2d. You should ask @minggo instead. It could be more expensive (resource-wise) to check all possible uniforms, but not that expensive... it could be added, but it would be better to understand the use case first.

[2017-06-17 08:23] halcyonx commented on #17939
I tried with STABLE version http://www.cocos2d-x.org/download 3.15.1
1. cocos new MyGame -p com.noncapisco.mygame -l cpp -d SuperWinner_cocos
2. cd SuperWinner_cocos/MyGame
3. cocos run -p android -j 4 --ap android-21

Error log here: https://pastebin.com/GkYWJsSW
I thought cocos2dx engine very stable and easy to use

[2017-06-17 16:32] guoyingtao opened #17940 "Cpp-test compiled failed in ProcessCpuTracker.cpp when using android studio 2.3.2 (cocos2d-x 3.15.1)"
- cocos2d-x version: 3.15.1
- devices test on: Android simulator
- developing environments
   - NDK version: 15.0.4075724
   - Android studio: 2.3.2

Steps to Reproduce:

1. Import cpp-test
2. Compile

<img width="777" alt="qq20170617-123006 2x" src="https://user-images.githubusercontent.com/26723384/27254563-babfcfbc-5358-11e7-9f71-8b2d7a491f0d.png">

[2017-06-17 17:18] halcyonx commented on #17939
Solved. Problem was in following I used inconsistent android dev tools, cuz I used them then I have been configuring Urho3D, I clear my environment and install older tools ndk-e10 and android sdk 24.4.1, configured system environment variables, that helped me. cpp_tests and new project has been built and run succesfully.

[2017-06-17 17:19] #17939 closed, assigned to nobody

[2017-06-18 10:31] Rubonnek commented on #17940
I got the same error after updating the Android-related tools to version r26 in Arch Linux.

[2017-06-18 10:50] Rubonnek commented on #17940
Downgrading the NDK to r14b did the trick for me. I also downgraded all the other tools to r25.

[2017-06-18 13:05] mars3142 opened #17942 "Android lint warnings"
There are many lint warnings (incl. static field leaks and handler reference leaks). This is a refactoring request.

- cocos2d-x version: 3.15.1

Steps to Reproduce:

1. create new project
2. run **./gradlew lint** in Android Studio folder

[2017-06-18 14:28] guoyingtao commented on #17940
Thanks for your answer. I downgraded NDK to r14 and it compiled successfully, but when I start the app, it said: "Unfortunately, CppTests has stopped."

[2017-06-18 14:45] guoyingtao commented on #17940
It worked when I used my phone, but it still doesn't work on my simulator. Anyway, Thanks a lot! @Rubonnek

[2017-06-18 17:10] Rubonnek commented on #17940
@guoyingtao Anytime. The simulator issue has already been fixed in the pull request at #17901 and it was previously reported in #17850.

[2017-06-18 17:55] guoyingtao commented on #17940
@Rubonnek Thanks. Does it mean I have to wait for a new release of cocos2d-x, or I just clone the source code?

[2017-06-18 18:10] Rubonnek commented on #17940
@guoyingtao The patches for both of the issues you pointed out were not in released in cocos2d-x v3.15.1. Feel free to include the patches on your own if you need them, but eventually they get added in the official release if you'd rather wait.

@minggo Will the pull request #17901 be included in 3.16? I think #17943 should also be included in 3.16 after it's reviewed of course.

[2017-06-18 19:54] n-bes opened #17944 "Websocket server"
Hello everybody. I want to make a websocket server on the device. After I saw that the server support was [disabled](https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/blob/v3/contrib/src/websockets/rules.mak) (-DLWS_WITHOUT_SERVER=1, I originally tried to connect the client). I tried to rebuild the library, but got link errors after replace **libwebsockets.a**. Please enable server support,

[2017-06-19 01:05] minggo commented on #17940
@Rubonnek yep, #17901 will be included in 3.16, and #17943 will be included too.
Thanks.

[2017-06-19 02:18] Rubonnek commented on #17940
@minggo Anytime. Thanks for the information.

[2017-06-19 02:31] thuydx55 opened #17945 "JS-Binding - Mismatch delegate function names"
- cocos2d-x version: 3.15.1 - js-binding
- devices test on: All Devices

cc.EditBox does not call callbacks because of wrong method name
- [`editBoxEditingDidBegin`](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/js-bindings/manual/ui/jsb_cocos2dx_ui_manual.cpp#L129) vs [`editBoxEditingDidBegan`](https://github.com/cocos2d/cocos2d-html5/blob/develop/extensions/editbox/CCEditBox.js#L1

[2017-06-19 02:53] knuth opened #17946 "long string could not display in the label (Texture2D: Error uploading compressed texture level: 0 . glError: 0x0501)"
- cocos2d-x version: 3.15
- devices test on:
- developing environments
   - NDK version:
   - Xcode version: 8.3.3
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. create a new lua project using cocos2d-x 3.15 (old version has the same issue)
2. in the MainScene:onCreate() function, input the following code:

[code]

Result: nothing is shown up, and the size of the label is

[2017-06-19 03:07] dumganhar commented on #17800
@kmaker @cptnoblivious
I have successfully reproduced this issue. I have got a solution for this.
Basically, we need to register a listener of `AL_BUFFERS_PROCESSED` event, if we get this event, the thread of rotating streaming buffer need to be waked up to handle the new buffers.

[2017-06-19 03:44] dumganhar commented on #17800
@kmaker @cptnoblivious ,
I sent a Pull Request to resolve this issue: https://github.com/cocos2d/cocos2d-x/pull/17947
Could you help to test it? Thanks.

[2017-06-19 09:29] dumganhar commented on #17944
Cocos2d-x just uses the client source of libwebsockets and `WebSocket` class is a wrapper for libwebsockets client. We don't have any plans to support of setting up a websocket server in engine.

[2017-06-19 10:25] n-bes commented on #17944
I don't use `Websocket` class. Now, i want server functions to be included in the libwebsockets, but not the cocos2dx engine. I'll write `WebSocketServer` myself (using `lws_create_context`, etc).

[2017-06-19 11:09] Y-way opened #17948 "Hope Cocos2d scriptbinding suport macro"
Sometimes I would cutoff some module of coco2dx,  but, the scriptbinding does not support macro.so, i have to modify the binding files one by one. If upgrading engine, I have to do this one more time.
It's disgusting

[2017-06-19 19:32] alonlevylll commented on #17260
Thanks,
I think I have the full picture of that issue and I would like to know your opinion about the next steps.
So the reason is simple a new EGL thread is created (managed by Android).

- **Cocos2d-x** seems to handle this perfectly, and loading all textures again into the new EGL instance.

- **SpiderMonkey** crashes on the first call because it is compiled as single threaded, and doesn't supp

[2017-06-19 22:48] kmaker commented on #17800
Looks like it's working. Thanks @dumganhar !

[2017-06-20 00:57] minggo commented on #17260
As i know, JS codes are invoked in GL thread too. @pandamicro any idea?

[2017-06-20 01:02] #17273 closed, assigned to minggo

[2017-06-20 01:03] #17926 closed, assigned to nobody

[2017-06-20 01:04] #17800 closed, assigned to dumganhar

[2017-06-20 01:04] #17940 closed, assigned to nobody

[2017-06-20 02:23] dumganhar commented on #17944
So you probably need to go to https://github.com/warmcat/libwebsockets for help.

[2017-06-20 02:35] pandamicro commented on #17260
It's due to performance reason, as in the design we don't want user to user spidermonkey cross thread.

You can try that, we recently upgraded spidermonkey to v52 in Creator's native engine which is planned for next month, but it will take longer to integrate it in Cocos2d-x

[2017-06-20 06:31] gurhub commented on #17887
MPMoviePlayerController is deprecated, thats why you getting this error.

[2017-06-20 06:34] JethroSovr commented on #17887
Our product need this feature,so we use this interface. thx  for review.

[2017-06-20 07:09] zilongshanren commented on #17946
@knuth  thanks, I will take a look at this issue later.

[2017-06-20 07:11] gurhub commented on #17887
you're welcome

[2017-06-20 08:32] BobyIlea opened #17949 "Problem with SpriteFrameCache class"
The SpriteFrameCache holds a list of sprite frames that have already been loaded and a list of .plist files that have already been parsed and 'transformed' to sprite frames and cached. So, when adding a .plist to the SpriteFrameCache the second time, execution time will be minimum and no fps drop will occur.

**The problem:**
Every time methods like `SpriteFrameCache::removeSpriteFrames()`, `Sprit

[2017-06-20 19:46] halcyonx opened #17953 "Run time error Hello World"
- cocos2d-x version: 3.15.1
- devices test on: Huawei Mediapad Youth 2
- developing environments
   - NDK version: android-ndk-r10e
   - Xcode version: -
   - VS version: VS Community 2015
   - browser type and version: -

Steps to Reproduce:

1.  cocos run -p android --ap android-21
2.  log

[2017-06-20 19:52] guoyingtao commented on #11210
Any plan for supporting python 3 now?

[2017-06-21 00:52] minggo commented on #17935
related PR: https://github.com/cocos2d/cocos2d-x/pull/17950

[2017-06-21 01:35] minggo commented on #11210
No.

[2017-06-21 01:46] guoyingtao opened #17954 ""Application installation failed" when run on simulator - INSTALL_FAILED_NO_MATCHING_ABIS"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version: 14.1
   - Android Studio 2.3.3

Steps to Reproduce:

1. Create a new project and run it on Simulator
2. An alert "Application installation failed" was showed. Please see the picture below.

<img width="410" alt="qq20170620-214244 2x" src="https://user-images.githubusercontent.com/26723384/27363338-dc6d44d6-5601-11e

[2017-06-21 02:29] minggo commented on #17954
I think you should build x86 target since it is run on simulator, and as i know currently there are x86 architecture simulator since it is more fast.

[2017-06-21 02:30] minggo commented on #17953
`cocos run -p android --ap android-21` seems you build for android-21. And what's your Android OS version of your device?

[2017-06-21 02:47] Dauch opened #17955 "Memory leak detect in project.win32"
- cocos2d-x version:cur v3 branch
- devices test on: win32
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: vs 2017
   - browser type and version:

Steps to Reproduce:

1. follow [this article to detect the memory leak](http://blog.csdn.net/yangjingui/article/details/9768927)
2. run on vs2117
3. close the game.
this is output [memory leak.txt](https://github.com/coc

[2017-06-21 03:05] guoyingtao commented on #17954
Thanks for your help @minggo
I set APP_ABI := x86 according to this link
http://www.cocos2d-x.org/wiki/Build_HelloWorld_on_android_x86_platform
But After I cleaned the project, rebuilt and ran it again, the same problem appeared again...

[2017-06-21 03:07] minggo commented on #17954
Sorry, i have not idea since i don't use Android simulator.

[2017-06-21 03:10] guoyingtao commented on #17954
My have an old android phone, but its android version is two low (4.2.2). I want to use some features with need at least 4.3. So I have to build on simulator for the time being.
Anyway, thanks for your help! @minggo

[2017-06-21 03:12] minggo commented on #17954
Yep, i already reopened it.

[2017-06-21 11:43] mahesh0756 commented on #17886
Hello Dauch,
I am getting same issue of crash, but on 3.13.
Have you resolved the issue, please help me if solved.

[2017-06-21 14:47] guoyingtao commented on #17954
@minggo Just solved it following the instruction of the link below
http://discuss.cocos2d-x.org/t/how-to-compile-for-x86-64-or-x86-in-android-studio/36755

Just open the gradle.properties file inside your proj.android-studio folder and add x86 to PROP_APP_ABI, separated with a colon like this:
PROP_APP_ABI=armeabi:x86

Now I can install it on my android studio simulator, but after it starts, it is

[2017-06-21 14:50] guoyingtao commented on #17954
Logcat info:

06-21 03:19:31.891 12617-12617/? I/art: Not late-enabling -Xcheck:jni (already on)
06-21 03:19:31.906 12617-12623/? I/art: Debugger is no longer active

                                        [ 06-21 03:19:31.906  1595: 1614 D/         ]
                                        HostConnection::get() New Host Connection established 0x9d43e740, tid 1614
06-21 03:19:32.027 12617-12617/?

[2017-06-21 15:01] guoyingtao opened #17962 "App was stuck in black all the time when running on android studio emulator"
- cocos2d-x version:
- devices test on:
- developing environments
   -NDK version: 14.1
   -Android Studio 2.3.3

Steps to Reproduce:

1. Create a new project and run it on Simulator

After the app started, it was stuck in black all the time. I noticed this topic [#17850](https://github.com/cocos2d/cocos2d-x/issues/17850) also met the similar thing, but my logcat gave different information like be

[2017-06-21 15:32] Rubonnek opened #17963 "cpp-tests: illegal hardware instruction"
- cocos2d-x version: latest git version up to commit 0e263096026334604810a1aef3778159b3de5481
- devices test on: Arch Linux

Steps to Reproduce:

1. Compile and run the `cpp-tests`
2. Click on the eighth test: `8:Audio - NewAudioEngine`
3. Press the back arrow ( ← ) three times.
4. The tests will crash with the following message:

[code]

[2017-06-22 00:39] suwenclub opened #17964 "【希望关注】RenderTexture 闪烁成visit前的，在闪烁成visit后的"
- cocos2d-x version:3.8 ~ 3.14.1
- devices test on: iPhone6SP
- developing environments
   - NDK version:
   - Xcode version:8.3.2
   - VS version:
   - browser type and version:

C++原生编码
Steps to Reproduce:

添加一些Label、DrawNode 通过begin() visit() end()方式到RenderTexture上时会出现闪烁的情况。表现为先出现添加之后的界面在闪烁为之前的界面，最后停在添加之后的界面，大概0.1秒左右内发生，跟踪发现begin() visit() end()没有重复调用。闪烁概率大概1/20左右。

[2017-06-22 02:24] Dauch commented on #17886
Sorry, I couldn't make out a solution. :(

[2017-06-22 04:24] huangapple opened #17965 "3.15 socketio disconnect socket will crash！ High probability,"
cocos's tests/cpp-tests will crash.
3.15 socketio disconnect socket will crash！ High probability,
---------------------------------------------

[2017-06-22 04:29] gdboy commented on #17965
Me to. When can you solve it?

[2017-06-22 06:18] KarenHuang2016 opened #17966 "cocos2d-x failed to build on Windows due to fatal error C1083: Cannot open include file: 'bullet/LinearMath/btIDebugDraw.h': No such file or directory"
**Environment:**
Windows Server 2012 R2 + VS2015 Update 3 + cocos2d-x v3 branch latest srouce code

We tried to build cocos2d-x on Windows. It failed due to fatal error C1083: Cannot open include file: 'bullet/LinearMath/btIDebugDraw.h': No such file or directory. **This issue is caused by v3 branch revision** [4ce443b ](https://github.com/cocos2d/cocos2d-x/commit/4ce443bac217a891be039ee06346d0d36

[2017-06-22 07:31] continuemycoding commented on #17965
@minggo @dumganhar 3.15版本的WebSocket关闭时有死锁问题，出现概率非常非常高。我是这样修复的，有更好的方案？
![修复WebSocket死锁问题的补丁文件截图](https://user-images.githubusercontent.com/8704149/27422131-ad7620e4-575f-11e7-8c5c-dd1793fbeb6a.png)

[2017-06-22 15:23] datacoder-io opened #17967 "arm-linux-androideabi-g++: error: CreateProcess: No such file or directory"
Hi,
first of all I'm sorry for bad type English.
I want to compile an old source with NDK and cocos2d in windows.

this is my command line:

`ndk-build NDK_DEBUG=1 -C "G:/coc/androiddev/dpsg_android/proj.android" "NDK_MODULE_PATH=G:/coc/androiddev/cocos2dx:G:/coc/androiddev/cocos2dx/platform/third_party/android/prebuilt"`

and this is my Android.mk:

[code]

first, everything is compiling good, bu

[2017-06-22 16:20] guoyingtao commented on #17962
**Debug info**

06-22 12:02:40.725 3050-3097/com.MyCompany.MyGame D/cocos2d-x debug info: {
                                                                          	gl.supports_OES_packed_depth_stencil: true
                                                                          	gl.supports_vertex_array_object: false
                                                                          	g

[2017-06-23 01:13] minggo commented on #17965
I have asked @dumganhar to take a look.

[2017-06-23 01:47] dumganhar commented on #17965
@gdboy `WebSocket::close` is a synchronous method. Therefore, it has to `wait` the `WebSocket` thread to receive `closed` event. So your patch changes the logic of `WebSocket::close`.
Currently, we provide `WebSocket::closeAsync` interface for closing websocket asynchronously.

Could you tell us how did you reproduce the `dead lock` issue ? Is there an easy way to reproduce it?

[2017-06-23 01:48] dumganhar commented on #17965
BTW, I think `dead lock` should not cause `crash` issue.
So @gdboy 's issue isn't relative to this one.

[2017-06-23 01:52] continuemycoding commented on #17965
@dumganhar 在截图中的这个测试样例，只要open close就会出现死锁，我测试来看，这个bug三次至少出现一次。死锁时界面卡死不动，跟崩溃是一样的。我那样改也是有用锁进行同步等待，我看你们原先的代码是有逻辑问题。

![image](https://user-images.githubusercontent.com/8704149/27463363-a98ea56a-57f9-11e7-97c4-bfe5367d4026.png)

[2017-06-23 01:54] continuemycoding commented on #17965
@dumganhar 英文只有阅读的能力，中文回复勿怪。

[2017-06-23 02:00] dumganhar commented on #17965
@gdboy , but your `_closeCondition.wait()` is in the `onConnectionClosed` which is invoked in sub-thread rather than `cocos`'s thread. I will make no sense. And the `WebSocket::close` will return without waiting websocket instance to be closed.

[2017-06-23 02:05] continuemycoding commented on #17965
@dumganhar onConnectionClosed 顾名思义应该是在close完成的时候回调的？onConnectionClosed 应该是等待 WebSocket::close 才对吧？而且那样改之后确实解决了死锁问题，之前死锁大概率发生，需要等个十几秒至几十秒才能满足等待锁的条件。

[2017-06-23 02:12] dumganhar commented on #17965
@gdboy websocket close event will be triggered by websocket server so it probably should wait some time for receive that event. You could use `WebSocket::closeAsync` for close the websocket asynchronously.
Yep, yep, SocketIO currently has some issues that it's hard to be fixed. We need to do some refactor on that. and SocketIO::disconnect should invoke `WebSocket::closeAsync` instead for not block

[2017-06-23 02:27] continuemycoding commented on #17965
@dumganhar 如果不那样解决，那这个死锁问题怎么解决好？没试过WebSocket::closeAsync，但是WebSocket::close确实存在大概率死锁问题。

[2017-06-23 05:43] continuemycoding commented on #17965
@dumganhar disconnect里面调用的不是WebSocket::closeAsync而是WebSocket::close，原先代码死锁几乎必现。
![image](https://user-images.githubusercontent.com/8704149/27468034-bab9b5d0-5819-11e7-829e-a0e970a79a31.png)
![image](https://user-images.githubusercontent.com/8704149/27468041-cb47e908-5819-11e7-9d94-66b74fe66e1f.png)

[2017-06-23 06:26] ghostknow opened #17969 "How to use getCamera and setEyeXYZ on cocos2d-x v.3.15.1?"
I want to use getCamera() and setEyeXYZ on version 3.15.1, is it possible in this version?
Thx.

[2017-06-23 09:10] ivosu opened #17972 "No window after install Debian"
Hey,
I have Debian 9 (Stretch). I followed the installation guide and compiled everything.
But now when I try to run cpp-empty-test or any other test - nothing happens. CPU is doing SOMETHING but no window, no error on terminal.
Does anyone know what is happening or at least how to get some info or error from the program?
PS: Tried install from this repo and it doesn't compile and says a lot of er

[2017-06-23 09:40] crazyhappygame opened #17973 "cocos gen-libs - does not work witk latest android sdk"
- cocos2d-x version: 15.1
- devices test on:
- developing environments
   - NDK version:14b
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. cocos gen-libs -p android --app-abi armeabi-v7a
Error:
Ant (Eclipse project) is not supported from Android SDK Tools 25.3.0.
Error running command, return code: 101.

[2017-06-23 16:16] bugs1111 commented on #17723
@div5yesh I have same issue
have you got the solution of your SSL socket connections ?

[2017-06-24 09:10] huimiao638 commented on #17964
是不是有节点有setRotation3D？

[2017-06-24 12:08] datacoder-io commented on #17967
anybody? :-/

[2017-06-24 14:35] pulsarvault commented on #17424
https://dl.google.com/android/repository/tools_r25.2.5-windows.zip
https://dl.google.com/android/repository/tools_r25.2.5-macosx.zip
https://dl.google.com/android/repository/tools_r25.2.5-linux.zip

rename tools folder, and extract and put tools folder from above depending on your OS.

[2017-06-24 15:10] suwenclub commented on #17964
没有，只有Label和DrawNode，显示文字和线条

[2017-06-24 17:56] v1993 commented on #17173
I had the same error with another project. Try wiping your build directory to rebuild from scratch.

[2017-06-24 18:03] v1993 opened #17975 "Error compiling on linux (mint)"
- cocos2d-x version: git

Steps to Reproduce:

1. Follow installation instructions
2. Fail on `cmake ../..` step:

    -- WebP include dirs: /home/v/compile/cocos2d-x-cocos2d-x-3.15/external/webp/include/linux
    -- Chipmunk include dirs: /home/v/compile/cocos2d-x-cocos2d-x-3.15/external/chipmunk/include
    CMake Error at cmake/Modules/CocosBuildHelpers.cmake:44 (find_package):
      By not prov

[2017-06-24 19:00] v1993 commented on #17975
I built it on old repository, so bullet didn't installed. `./download-deps.py` fixed situation.

[2017-06-24 19:00] #17975 closed, assigned to nobody

[2017-06-24 19:11] v1993 opened #17977 "Test crash on Audio - NewAudioEngine:16"
- cocos2d-x version: git
- devices test on: linux mint 18.1

Steps to Reproduce:

1. Run `cpp-tests`.
2. Run 16'th test in `Audio - NewAudioEngine` section.
3. Got crash on test opening with `Illegal instruction (core dumped)` or `Segmentation fault (core dumped)`.

[2017-06-24 19:56] Rubonnek commented on #17963
Here is the backtrace:

[code]

[2017-06-24 19:59] Rubonnek commented on #17963
Commenting [line 175 of AudioEngine-linux.cpp](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/audio/linux/AudioEngine-linux.cpp#L175) stops this issue from happening. Looks like there's a problem in the FMOD library.

[2017-06-24 20:00] Rubonnek commented on #17977
This seems like a duplicate of #17963.

[2017-06-24 20:01] Rubonnek commented on #17977
Could you post a backtrace?

[2017-06-25 10:32] jjiangweilan opened #17980 "OpenGL error 0x0500 when calling runAction"
- cocos2d-x version: 3.15
- devices test on: Mac
- developing environments
   - NDK version:
   - Xcode version: 8.3
   - VS version: OS 10.12
   - browser type and version:

Steps to Reproduce:

simply run any animation will get the error on console continuously.
The animation is successfully showed up.
I believe it's lated to the image file itself, because I tried both animationCache and creatin

[2017-06-25 13:37] defunky opened #17981 "Android fails to deploy APK on new project"
- cocos2d-x version:
Tried it on both 3.14.1 and 3.15.1
- devices test on:
Windows 7
- developing environments
   - NDK version: r15
   - VS version: VS 2015 Update 3

Steps to Reproduce:

1. Create a new project using the following command:
`cocos new GameNameHere -p com.MyCompany.GameNameHere -l cpp -d pathtoproject`
2. Opening win32 project and building works fine and will run default applicati

[2017-06-25 14:44] bingle123 opened #17982 "App turns into black screen on about 1/4 devices in batch test."
- cocos2d-x version:3.15
- devices test on: 50 devices batch test on testin platform
- developing environments
   - NDK version: r14b
   - Xcode version:Version 8.3.3 (8E3004b)
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. compile my cocos2d-x app  with  --app-abi armeabi:armeabi-v7a:arm64-v8a:x86, make a package contains all 4 chip architecture library.
2. upload apk on

[2017-06-25 20:41] v1993 opened #17983 "Two moments with prebuilt libs"
- cocos2d-x version: git
- devices test on: linux mint 18.1

First: I can't prebuild libraries for linux.

Second: I can't create project using prebuilt template:

    cocos new -t prebuilt -l cpp test
    Template named 'prebuilt' is not found.
    Multiple templates detected!
    You can select one via -t arguments.
    Or choose one now:

    1 default
    Select one (input number and press ent

[2017-06-26 01:02] jjiangweilan commented on #17980
Ok, I found the problem. I didn't call Sprite::init() on my own class which causes the error. Simply calling it on my own init function will solve the problem

[2017-06-26 01:02] #17980 closed, assigned to nobody

[2017-06-26 01:52] kyleYang opened #17985 "Execution failed for task ':xxx:processDebugResources'. > java.lang.IllegalArgumentException (no error message)"
- cocos2d-x version: 3.15.1
- devices test on: cocos compile -p android --android-studio
- developing environments
   - NDK version: android studio 2.3.3 , mananger by android studio ,maybe the latest release version
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  clone cocos2d-x from github , download and setup
2. cocos new a coco2d-x lua project
3. c

[2017-06-26 02:17] continuemycoding opened #17986 "web不能设置fnt字体"
win32平台：
![image](https://user-images.githubusercontent.com/8704149/27522342-ec1c346e-5a57-11e7-8bae-90660f093043.png)
web平台：
![image](https://user-images.githubusercontent.com/8704149/27522366-11a8ac76-5a58-11e7-8113-6a6dedcd48c9.png)
代码如下：
[code]
fnt文件内容：
[code]
字体图片：
![image](https://user-images.githubusercontent.com/8704149/27522431-91327ada-5a58-11e7-8406-e53f951b6dba.png)

[2017-06-26 02:21] continuemycoding commented on #17986
@minggo 有其他替代方案？好多地方用到这样的字体，web上的效果看着整个人都凌乱了。。

[2017-06-26 07:00] continuemycoding commented on #17986
@zilongshanren 有其他替代方案？好多地方用到这样的字体，web上的效果看着整个人都凌乱了。。

[2017-06-26 07:06] zilongshanren commented on #17986
@gdboy 应该是一个 bug。你使用的引擎版本号是多少？

[2017-06-26 07:08] continuemycoding commented on #17986
@zilongshanren 3.15版本，忘记说了

[2017-06-26 07:09] zilongshanren commented on #17986
@gdboy 你把这两个资源当作附件上传上来吧，我看看咋回事。

[2017-06-26 07:12] gdboy commented on #17986
@zilongshanren
![zhs-fz-52-yellow](https://user-images.githubusercontent.com/8704149/27528179-c5fde01e-5a81-11e7-975e-4196bf44256b.png)

[2017-06-26 07:16] huangapple commented on #17986
[zhs-fz-52-yellow.zip](https://github.com/cocos2d/cocos2d-x/files/1101273/zhs-fz-52-yellow.zip)
@zilongshanren
@gdboy

[2017-06-26 07:48] zilongshanren commented on #17986
@gdboy
目前 web 平台的 button 确实不支持 bmfont 作为 button 的 title。。。这是一个未实现的特性，我看看好不好弄。

[2017-06-26 07:53] zilongshanren commented on #17986
@gdboy
建议直接创建一个 button，不要用 setTitleName 这种 API。另外再创建一个 ui::Text，使用 bmfont，然后把这个 ui::Text 当作 button 的一个子节点，这样就可以实现你说的 win32 和 web 平台一样了。

目前要修改 button，让 win32 和 web 平台表现一样，需要做大量的修改工作。

[2017-06-26 08:06] continuemycoding commented on #17986
@zilongshanren 好的，我这边试下，谢了。

[2017-06-26 08:08] #17986 closed, assigned to nobody

[2017-06-26 09:06] dingwenjie opened #17987 "RenderTexture's parent scale issue"
- cocos2d-x version:  3.15.1
- devices test on: pc
- developing environments
   - NDK version: r9d
   - VS version: 2013

Steps to Reproduce:

1.  create a new project , change class HelloWorldScene's function HelloWorld::init() to below:

[code]

2.  the only scale operate is scale the scene to 0.5

3. issue: the tmpcolorfg looks right , scale as 0.5, but the colorfg has a wrong scale, 0.25

![im

[2017-06-26 13:33] kyleYang commented on #17985
Hello ,anyone know this problem?

[2017-06-26 16:36] chlinxxoo commented on #17985
NDK pass but failed in making APK. Plz check your resources(Java code and assets).

[2017-06-26 18:55] deguilardi opened #17988 "libc.so tgkill"
- cocos2d-x version: 3.14.1
- devices test on: varius
- developing environments
   - NDK version: 15.0.4075724 (bundle)
   - Xcode version: 8.3.3 (8E3004b)

Steps to Reproduce:
This error occurs 1 time for each 200 times you open the app. Android 6 and 7 only.
The app crashes on startup. I am getting this error 3k times a day on production.

Android 6.0 backtrace #1:

backtrace:
  native: pc 00000

[2017-06-26 19:12] deguilardi opened #17989 "touch stops responding on android devices"
- cocos2d-x version: 3.15.1
- devices test on: Galaxy S7, alcatel, galaxy J, moto G 2nd gen, emulator, armeabi, x86 or armeabi-v7a
- developing environments
   - NDK version: 15.0.4075724 (bundle)
   - Xcode version: 8.3.3 (8E3004b)

Steps to Reproduce:

1. Open the app;
2. Do any Director::getInstance()->replaceScene();
3. Touch the screen;

After android discontinued some build commands, we were

[2017-06-26 22:32] itcoding-audatex commented on #11210
What about now?

[2017-06-26 22:36] frenzyfrenzyfrenzy opened #17991 "create project with precompild libraries"
**cocos2d-x-3.15.1
Cocos Console 2.3
ndk r15b
cocos installed from source code on ubuntu 16.04.**

I run
 `cocos gen-libs -c -p android --ap android-22 --app-abi x86`
 and then I'm trying to create new game using static libraries with
`cocos new ProjectName -p projectname.com.name -l cpp -t binary`
and it says
`Template named 'binary' is not found`, while cocos `gen-templates` says
[code]
What am

[2017-06-26 23:59] kyleYang commented on #17985
@haolinchen1991 ,Thanks for your reply.
I don't write any code for my new project(Mac OS).
I just run cocos create new project, then cocos compile.
I have checked the jave code and assets, all of that is create by cocos.

[2017-06-27 02:28] chlinxxoo commented on #17985
@kyleYang The code created by cocos may be is unreliable. I suggest you can fix the java code where throw error even comment it.

[2017-06-27 02:59] kyleYang commented on #17985
@haolinchen1991 Hello
I am not family with Android。
The error print only java.lang.IllegalArgumentException , no more message.

[code]

--- the xml file -----

[code]

-------------
Is that problem cause by the libcocos2dx?

[2017-06-27 03:06] yuanyouli opened #17992 "WebSocket.cpp close method send signal sigpipe"
- cocos2d-x version:3.15.1
- devices test on:ios
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.   There will send  a  signal sigpipe when close WebSocket
2.  Xcode will stop at WebSocket.cpp line 725 _closeCondition.wait(lkClose) , but app not crash.

[2017-06-27 07:09] vollen opened #17993 "ccui.ScrollView did not send update event to script."
- cocos2d-x version: 3.15
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

ScrollView overrides update function, but did not call parent's update.
So is lose the feature that send update event to the script engine.

When we call
`node:scheduleUpdateWithPriorityLua(func, 0)`
to register a function which will be calle

[2017-06-27 07:48] fuyifan opened #17994 "FileUtils::listFiles does not work on Win32"
- cocos2d-x version: 3.15.1
- devices test on: Windows 7
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

FileUtils::listFiles does not work on Win32 coz FileUtils::getFullPathForDirectoryAndFilename  will invoke _isFileExistInternal_ which in Win32 checks the _FILE_ATTRIBUTE_DIRECTORY_ attribution as follows:
    _if(attr == INVALID_

[2017-06-27 07:58] nieyanbing opened #17995 "Textfield reader crash."
- cocos2d-x version:3.15
- devices test on: win32 android
- developing environments
   - NDK version:12b
   - Xcode version:
   - VS version:2013
   - browser type and version:

Steps to Reproduce:

1. Read TextField from the CSB file will crash
2. Read Text from the CSB file  is incomplete.  Alignment and AreaSize is invalid.
3.15版本从csb文件读取TextField会崩溃
3.15版本从csb文件读取Text不完整. 如果属性设置了自定义尺寸和对齐方式(都是中

[2017-06-27 08:00] haolinchen1991 commented on #17985
You run the APK on device and it crash and throw the error?Or it throw error during running gradle for making APK?

[2017-06-27 08:00] chlinxxoo commented on #17985
@kyleYang You run the APK on device and it crash and throw the error?Or it throw error during running gradle for making APK?

[2017-06-27 08:29] kyleYang commented on #17985
@haolinchen1991
throw error during running gradle.
I have no idea how to resolve this problem and I can not find any answer for this question

[2017-06-27 09:14] hussain-sohaib opened #17996 "Crash on android due to audio issue"
- cocos2d-x version: 3.15
- devices test on: galaxy S6, android 7, api 24

this is the log output.
 W/AudioTrack: releaseBuffer() track 0xc1153b00 disabled due to previous underrun, restarting

I am using new audio engine. Also there is a significant delay on audio files that are on repeat. Some of the files I use are in .mp3 format. Is that the correct format or I should use .wav format for all f

[2017-06-27 10:22] hussain-sohaib opened #17997 "sprite sheet takes a lot of time to load on Android"
- cocos2d-x version: 3.15
- devices test on:  Galaxy S6, iPhone 6S, ipad mini2

sprite sheets on android takes a lot of time to load, same sprite sheet load in a very short time relatively on iOS even on older devices.

[2017-06-27 12:29] dingwenjie commented on #17987
Oh, I've found the cause of the problem.
On line 472 of the RenderTexture class's visit method, _modelViewTransform is used as the second argument to the draw method.
In the draw method, the child nodes of all instances of the RenderTexture class use this parameter as the parent model matrix to compute the final model matrix with its own model matrix. But there is a problem here, and all the child

[2017-06-27 13:56] huangapple commented on #17992
@dumganhar
@gdboy
I have same issue.

[2017-06-27 13:56] huangapple commented on #17992
https://github.com/cocos2d/cocos2d-x/issues/17965

[2017-06-27 15:21] chlinxxoo commented on #17985
@kyleYang Can you show me the message in **Gradle Console**?
![832b1ac1-98bc-4144-aed1-15e279719fdf](https://user-images.githubusercontent.com/5053268/27595408-2f7ee11a-5b8f-11e7-9300-d30899db6971.png)

[2017-06-27 20:12] defunky commented on #17981
any ideas??

[2017-06-27 23:27] kyleYang commented on #17985
@haolinchen1991
Hello , I have resolved this problem .
Thanks!
Yestoday , I am thought that It's maybe the application id wrong .
Before it was com.xxxxx.510xxx  and I change it to com.xxxx.wushixxx
Now everthings seems be OK!

[2017-06-28 03:26] #17985 closed, assigned to nobody

[2017-06-28 07:06] dumganhar commented on #17992
signal pipe isn't a crash.
In libwebsockets, it just ignore signal pipe event, but xcode still got this event and break down.
You could click `resume` button to make your app continue running without any problems.
![7613ebe8-116b-46f4-8cfe-8dd3376e9583](https://user-images.githubusercontent.com/493372/27624440-582ea6a2-5c13-11e7-8c8f-01a600c50f2d.png)

[2017-06-28 07:11] continuemycoding commented on #17992
@dumganhar 没整明白怎么就不相信这是你们的死锁bug，调试的时候多线程等待可能不触发是再正常不过的事情了，手动按下resume的时候都好久了。所有native平台都有那个死锁bug。

[2017-06-28 07:22] dumganhar commented on #17992
@gdboy signal pipe & "`dead lock`" are different issues. I just explain the signal pipe issue.

[2017-06-28 07:44] dumganhar opened #18000 "[android] Dead lock in wilhelm (OpenSLES) while destroying OpenSLES object right after it was initialized"
- cocos2d-x version: v3.15.1
- devices test on: Android 7.0
- developing environments
   - NDK version: r10e
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

[code]

Result:
[code]
It's a bug of Android System.
Please also refer to
http://grokbase.com/t/gg/android-ndk/156tayqf1c/opensl-deadlock-issue
http://webmail.dev411.com/p/gg/android-ndk/154fhnm2ce/why

[2017-06-28 09:13] dumganhar commented on #17996
what's the size of your mp3 file which caused the crash? Could you please provide more log?

[2017-06-28 09:29] hussain-sohaib commented on #17996
hi,

I had several .mp3 files and they were in range from 100kB - 1.3 MB. But
Now I have changed them all to .wav files, and after that it does not crash
and also the performance of the game has been significantly improved. But
the delay in repeat is still there.

Also we are using 44K sampling rate, is that ok? or should we decrease
sampling rate?

there were not any more logs.

thanks

On Wed, J

[2017-06-28 10:52] yuanyouli commented on #17992
http://blog.csdn.net/arthurchenjs/article/details/7049175  about signal pipe

[2017-06-28 10:52] #17992 closed, assigned to nobody

[2017-06-28 10:55] yuanyouli commented on #17992
use closeAsync also have signal pipe

[2017-06-28 11:38] v1993 opened #18001 "No arm linux fmod"
- cocos2d-x version: git
- devices test on: huawei y6 under linux deploy ubuntu 16.04
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Try to build under arm ubuntu
2. get error: `could not find fmod` on cmake step

[2017-06-28 12:47] dumganhar commented on #17992
@yuanyouli , yep, closeAsync may also trigger signal pipe event.
This event is triggered by `libwebsockets` internally.

[2017-06-28 14:46] continuemycoding commented on #17992
@dumganhar 不能因为是libwebsockets内部问题就不解决了吧，不用纠结术语，现象就是socket关闭时程序就大概率出现卡死，因为没满足信号条件。

[2017-06-28 14:48] continuemycoding commented on #17992
问题还没解决就急着关闭干嘛。。

[2017-06-29 03:43] ghost commented on #15417
Try adding to the Android.mk file:

[code]

https://stackoverflow.com/a/22159264/5443510

[2017-06-29 04:54] enrevol opened #18003 "RepeatForever and DelayTime"
- cocos2d-x version: latest master branch (41ef696)
- devices test on: iphone simulator
- developing environments
   - Xcode version: 8.2

Steps to Reproduce:

[code]
Problem:
- "AAA" is logged once.

Some investigation:
[code]
- `_actions[1]->isDone()` always returns false (`_actions[1]` is `DelayTime`).

[2017-06-29 05:58] Bilalmirza commented on #18003
@enrevol there has been too many issues since v3.15 on sequences. Which also made me stick with v3.14 ... There are other issues reported as well.

[2017-06-29 06:45] Dauch opened #18004 "Crash On PcmAudioService resume"
- cocos2d-x version: cur v3 branch.
- devices test on: android LENOVO A3860
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

[code]

[2017-06-29 13:27] continuemycoding opened #18005 "EditBox web版本bug。1.没有实现setTouchEnabled。2.父节点被隐藏时仍然可以点击。"
- cocos2d-x version:3.15

[code]