[2018-03-28 13:37] drelaptop commented on #18754
`unzip cocos2d-x.zip` to release the package? can you try to use  `tools/make-package` to generate a zip file, and then unzip the zip package, build using the package content.

another special, generated the package on mac platform, and then using the package on Linux

and please run `cpp-tests` to test the build

[2018-03-28 13:55] davidstl commented on #18446
I am having the same issue. Even after installing GLFW and pointing to the proper path.
But this is not a cocos2d-x related issue. It's more to do about CMake and how to make it work on Windows with dependencies.

[2018-03-28 15:53] drelaptop commented on #18446
@davidstl did you run the script `download-deps.py`, GLFW3 is external libs, it located at `cocos2d-x\external\glfw3\prebuilt\win32`

and do you use the GitHub latest code to run the cmake on Windows? if yes, please supply the cmake print information, below is print info with `GLFW3` found:
[code]

@shanshan0309 please use the GitHub latest code, I have tested CMake build on win32.

[2018-03-29 21:49] slackmoehrle opened #18755 "LabelTTF limit is 20,152, can we get more?"
- cocos2d-x version: `v3`

`LabelTTF` has a limit of 20,152. Some users want up to 30,000.

[code]

[2018-03-30 10:44] koalli commented on #18020
@kyriakos89 Do you have any idea how to change cocos2d-x surface size now? After cocos2d-x use Storyboard as launch screen #18276 to compatible with iPhoneX, we face the same problem with you. It's a very serious problem and we will lost many users because of it.

@minggo @dumganhar Can anybody help us?

[2018-03-30 12:21] imtrobin opened #18756 "RefPtr should have a release method"
Hi, like std unique_ptr, RefPtr should have a release method so we can manage the smart ptr ourselves

[2018-03-30 13:02] xahon opened #18757 "Wrong doc description"
https://github.com/cocos2d/cocos2d-x/blob/6317e35f01383943202517d639456299e9eb1bec/cocos/2d/CCNode.h#L600

this function returns value in radians

P.S. I noticed that `setRotation` accept radians too

[2018-03-30 20:30] IdanHo opened #18758 "Compiling Spidermonkey"
I'm trying to compile your version of spidermonkey (available over at  https://github.com/cocos2d/Spidermonkey), but everytime i try to "make" it it errors out.
Here's the error: http://termbin.com/qgmk.
I may be using an older version, or i may be trying to compile it correctly, ive been following the offical mozilla spidermonkey compilation tutorial, available at their website.
I would love to g

[2018-04-02 11:14] xahon opened #18759 "Question: Run action on condition"
- cocos2d-x version: 3.16

Copied from my SO question https://stackoverflow.com/q/49598709/6119618

I want to create player moving using actions. I created function void move(float x, float y); That function creates actions RotateTo and MoveTo. I want to move player only if angle between its forward and target - forward is less that some value; I tried to add runAction(moveAction) in if condition

[2018-04-02 16:08] gestern commented on #18020
@koalli
Despite the fact that your question does not concern the performance problem in cocos2d-x that is discussed here. I'll try to suggest a workaround with your problem with iPhoneX, so you have to stop using storyboard with loading screen and start using static way with [Static Launch Screen](https://developer.apple.com/ios/human-interface-guidelines/icons-and-images/launch-screen/). This app

[2018-04-02 16:27] gestern commented on #18759
There may be several possible solutions, but there are three most applicable ones:

1. By using `schedule()` call with custom update callback
1. By using [`ActionFloat`](http://www.cocos2d-x.org/reference/native-cpp/V3.9/db/d7d/classcocos2d_1_1_action_float.html) and within body `update(delta)` you have to write two parametric functions from delta time with `setPosition()` for  your `MoveTo` and `

[2018-04-04 10:25] xahon commented on #18759
@gestern i tried third but i had a lot of problems. Can you show me minimal example of 1 and 2 cases?

[2018-04-04 10:44] xahon commented on #18759
I'm transferred this issue to http://discuss.cocos2d-x.org/t/run-action-on-condition/42201

[2018-04-04 10:44] #18759 closed, assigned to nobody

[2018-04-05 15:32] seventhrank opened #18761 "SimpleAudioEngine::setEffectsVolume(0.0f) does not work in iOS11.3"
- Use cocos2dx 3.14.1 & 3.15 & 3.16.
- iOS 11.3 only problem.(or later?)

Steps to Reproduce:
1. CocosDenshion::SimpleAudioEngine::getInstance()->setEffectsVolume(0.0f);
2. CocosDenshion::SimpleAudioEngine::getInstance()->playEffect(“se.wav”);
The SE will sound.

I think I will use "AudioEngine".

[2018-04-06 01:37] imtrobin opened #18762 "When quitting the app, director init is called again"
Reporting that when app is quitting, certain sequences causes the Director to be recreated again

E.g in win32, onGLWMouseMoveCallback,  it calls Director::getInstance ()->geteventDispatcher, after Director dtor is already called, resultin in a new instance.

Repro:
1. Have a quit button in the scene that calls Director end (e.g. Helloworld)
2. Click the button and move the mouse at same time.

ht

[2018-04-06 02:19] slackmoehrle commented on #18761
I can reproduce this with `SimpleAudioEngine`.

[2018-04-06 05:13] xahon opened #18763 "Disable GLProgram caching"
- cocos2d-x version: 3.16
- devices test on: Ubuntu 16.04.3

Steps to Reproduce:

1. Create a sprite and GLProgram for that and attach GLProgram to that sprite
2. Shader works fine
3. Change shader code to see different output without recompilation your code
4. You see result from (2)

This is how i create GLProgram:

[code]

and attach

[code]

[2018-04-06 07:40] explorer-of-web3 opened #18764 "android custom AssetsManager make cocos anr"
- cocos2d-x version:3.10
- devices test on:android

Steps to Reproduce:

I need custom AssetsManager
eg:
`public static AssetManager generateAssetManager(String resDir) {
        try {
            AssetManager assetManager = AssetManager.class.newInstance();
            Method addAssetPathMethod = AssetManager.class.getMethod("addAssetPath", new Class[]{String.class});
            addAssetPathMeth

[2018-04-06 09:29] xahon opened #18765 "Question. How to disable FileUtils::getStringFromFile caching?"
- cocos2d-x version: 3.16
- devices test on: Ubuntu 16.04.3

Steps to Reproduce:

1. Create `myfile.txt` in `Resources`
2.
[code]
3.

Change `myfile.txt` contents and run application

4. It outputs old text from (1) again

This issue is reason of #18763

[2018-04-06 10:26] peterSweter opened #18766 "Cocos2dx NDK build error on android studio"
- cocos2d-x version: cocos2d-x-3.16
- devices test on: Xiaomi redmi 4x
- developing environments
   - NDK version: 16.1
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Build on android studio.

I have following error when I try to build my game on android studio:

    Error:(81) Android NDK: Application targets deprecated ABI(s): armeabi
    Error:(82)

[2018-04-06 12:23] drelaptop commented on #18766
the `armabi` should be change to `armabi-v7a`, and then some NDK compile errors should be fixed, with the upgrade of Android Studio and NDK

[2018-04-06 16:01] peterSweter commented on #18766
How can I change armabi, grep -r "armabi" in project directory did not find anything interesting ?

[2018-04-06 21:57] tapblaze commented on #18736
Any work around for this?

[2018-04-06 23:00] tankorsmash opened #18767 "Can't clone a ui::Button with a BMFont title label due to setTitleColor assertion"
- cocos2d-x version: 3.16
- devices test on: Win32
- developing environments
   - NDK version: 11c
   - VS version: 2013
   - browser type and version:

Steps to Reproduce:

1. Create a ui::Button
2. Set its title font to a BMFont
3. Clone the button
4. Title color tried to get cloned, but since BMFonts can't be colored, cocos throws an assertion error at setting label's color [CCLabel.cpp](https:

[2018-04-07 03:25] drelaptop commented on #18766
modified the `gradle.properties`, please refer to the GitHub latest configs:

https://github.com/cocos2d/cocos2d-x/blob/712b093b2724fa1011ba0a9f8031e8e8cfaa57bd/tests/cpp-empty-test/proj.android/gradle.properties#L35
https://github.com/cocos2d/cocos2d-x/blob/712b093b2724fa1011ba0a9f8031e8e8cfaa57bd/tests/cpp-empty-test/proj.android/gradle.properties#L36

[2018-04-07 12:15] SBJoker commented on #18736
Since:

I have a lot of crashes in Fabric:

Trying to disable shareable VAO

[2018-04-08 13:03] xahon commented on #18763
Closed. Problem was in cmakelists.txt instruction and clion

http://discuss.cocos2d-x.org/t/solved-shaders-wont-update/42228

[2018-04-08 13:03] #18763 closed, assigned to nobody

[2018-04-08 13:03] xahon commented on #18765
Closed. Problem was in cmakelists.txt instruction and clion

http://discuss.cocos2d-x.org/t/solved-shaders-wont-update/42228

[2018-04-08 13:03] #18765 closed, assigned to nobody

[2018-04-09 08:28] huangwei1024 commented on #18761
I encounter this problem. you can use `SimpleAudioEngine::playEffect(const char* pszFilePath, bool bLoop, loat pitch, float pan, float gain)` with `gain=0` bypass the bug.

[2018-04-09 08:32] huangwei1024 commented on #18761
[code]

I step into `cocos2d-x\cocos\audio\ios\CocosDenshion.m`, the `newGainValue=0.0` is correct, but the `alListenerf` no any effect. so I think the openAL need be upgrade.

[2018-04-09 08:34] drelaptop commented on #18566
out-of-date issue ,fixed in https://github.com/cocos2d/cocos2d-x/pull/18582, please close @minggo

[2018-04-09 09:00] #18566 closed, assigned to nobody

[2018-04-09 09:57] xahon opened #18769 "Can't build android. Execution failed for task ':generateJsonModelDebug'."
- cocos2d-x version: 3.16
- devices test on: Ubuntu 16.04.3 / Android 7.0
- developing environments
   - NDK version: 16.1.4479499
   - Xcode version: -
   - VS version: -
   - browser type and version: Chrome 64.0.3282.167 (64-bit)

Steps to Reproduce:

1. cd ./proj.android-studio
2. ./gradlew installDebug

I also tried `cocos compile -p android --android-studio` and the output is similar:

And i

[2018-04-10 01:29] slackmoehrle commented on #18754
I need to read download-deps source, I think. It seems that perhaps it doesn't copy symlinks. Which might be a flag we can add to the code.

[2018-04-10 11:49] zw1988 opened #18770 "Failed to connect to socketio 2.0 server."
cocos2d: fullPathForFilename: No file found at script/jsb_prepare.jsc. Possible missing file.
cocos2d: fullPathForFilename: No file found at script/jsb_boot.jsc. Possible missing file.
Cocos2d-JS v3.16
2018-04-10 19:40:35.560565+0800 js-tests iOS[26606:31301633] cocos2d: surface size: 1136x640
cocos2d: QuadCommand: resizing index size from [-1] to [2560]
JSB SocketIO.connect method called
Calling

[2018-04-10 12:52] voidartworks opened #18771 "Label::getLetter lose label's color"
- cocos2d-x version: 3.12
- devices test on: iOS 11.3/iPad Air 2
- developing environments
   - Xcode version: 9.3

Steps to Reproduce:

`Label* pLabel = Label::createWithTTF("TEST", LOCALIZED_FONT, 60);
pLabel->setPosition(WIN_SIZE.width / 2, WIN_SIZE.height / 2);
addChild(pLabel);

pLabel->setColor(Color3B::RED);
pLabel->getLetter(0);`

It wil show a label with white "T" and red "EST".

[2018-04-10 13:10] xahon commented on #18769
Is this magic issue? Am I the only one who has this?

[2018-04-10 13:28] xahon commented on #17728
@hetao1024768 did you solve this issue?

[2018-04-10 13:50] drelaptop commented on #18769
Using android studio, you can find the detail errors in Gradle Console, AFAIK, when you use 3.16 version, and update the NDK to 16, you will get some compiling errors to fix.

[2018-04-11 02:57] JammeLee opened #18772 "因为Cocos2dSound.java的线程问题，准备把audioengine加入2.2.6版本"
- cocos2d-x version: 2.2.6
- devices test on:
- developing environments
   - NDK version: r9d
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

把3.x版本的audio模块加入2.2.6版本，使用r9d编译的时候，报错提示找不到SLES/OpenSLES.h，不知道这种做法对不对，如果可以的话，不知道应该怎么处理这个错误。

[code]

[2018-04-11 03:58] takesoon commented on #8305
@minggo I can reproduce it， in AndroidManifest.xml  set   Anandroid:screenOrientation="unspecified"  ，android:configChanges="locale" ， 关掉手机的方向锁定，然后就让游戏横向和纵向切换，很容易就看出白块了， 这样比较容易复现 虽然大多数游戏不会支持横向和纵向切换，但是会偶尔重新创建activity， 我并不清楚什么情况下会重建，但确实是这样

[2018-04-11 04:00] takesoon commented on #8305
我按照新版本的方式     FontFreeType* fontTTf = dynamic_cast<FontFreeType*>(_font);
    if (fontTTf)
    {
		relaseTextures();
		_currentPage = 0;
		_currentPageOrigX = 0;
		_currentPageOrigY = 0;
        auto eventDispatcher = Director::getInstance()->getEventDispatcher();
        eventDispatcher->dispatchCustomEvent(CMD_PURGE_FONTATLAS,this);
        eventDispatcher->dispatchCustomEvent(CMD_RESET_FONTATLA

[2018-04-11 09:40] xahon commented on #18769
@drelaptop what is the most stable version of cocos and NDK I can use to avoid compilation errors?

[2018-04-11 10:13] drelaptop commented on #18769
### use the tested NDK version

3.16 <-> NDK r14
GitHub latest <-> NDK r16

refer to http://www.cocos2d-x.org/docs/cocos2d-x/en/installation/prerequisites.html

[2018-04-11 11:22] peterSweter commented on #18766
Thank you, now it is working correctly.

[2018-04-11 11:22] #18766 closed, assigned to nobody

[2018-04-11 12:41] xahon commented on #18769
nooo. I have successfully compiled and NDK is not the reason. My scene class was named `MainGameScene.cpp/h` instead of `HelloWorldScene.cpp/h` and it was in subdirectory within `Classes`. Moving them to upper level and renaming solved my issue but ...

I need to add all paths to my `cpp`s into `cocos/Android.mk` and rename all includes in it to be relative instead of absolute from `Classes`. A lo

[2018-04-11 14:13] drelaptop commented on #18769
Why add `cpp`s into `cocos/Android.mk`? I guess you should add your `cpp`s into `proj.android\app\jni\Android.mk`.

`cocos/Android.mk` is the engine core module.

[2018-04-11 15:39] DominicD opened #18773 "TMXlayer getTileAt in Hexagonal Map"
- cocos2d-x version: 3.16 (clone from repository)
- devices test on: Windows 10 PC
- developing environments
   - VS version: 2017 Community

Was asking this first in forum: [http://discuss.cocos2d-x.org/t/tmxlayer-gettileat/37051](url) @slackmoehrle

When trying to use getTileAt on some tiles, these tiles are not beeing rendered anymore. I tested this in the cpp-tests:
![missing tile cpp test](ht

[2018-04-14 18:17] Anywhere-Music-Player commented on #18193
@minggo any comments? I can't change `BlendFunc` before visit. Also, I'm `visit` a `Node` but not a just some single Sprite, and on my `Node` there are a lot of other objects: `LayerGradient`, `ClippingNode`, 'Sprite' s and `LayerColor` and more. Some of them have a children added.

upd: even with just tested 1 sprite with mask, I'm getting this bug. Disable blend not helped me.

[2018-04-16 10:43] Anywhere-Music-Player commented on #18772
Непонял? Почему не на английском? Уважайте других.

[2018-04-16 13:46] slackmoehrle commented on #18772
@KAMIKAZEUA Please stop trolling. Seriously. Our teams communicate in English and Chinese. There is no disrespect here. If I have to ask you again I will ban you from our repos just as you were ban from our forums. Please e-mail me if you have concerns.

[2018-04-16 14:35] Anywhere-Music-Player commented on #18616
@drelaptop @minggo @slackmoehrle Is anyone checked this bug? It's still jumps and fix from this pull request only partially fixes this issue - time of bouncing is varying from left and right. As I pointed before in my previous posts.

[2018-04-16 15:49] slackmoehrle commented on #18616
The engineering team will get to this when they can. Right now they are focused on 3.17 release.

[2018-04-16 15:53] Anywhere-Music-Player commented on #18616
Release 3.17 with less number of bugs should be like a good idea, right?

[2018-04-16 16:04] slackmoehrle commented on #18616
@KAMIKAZEUA please refrain from the rhetorical comments. It pollutes the issue. This bug will be fixed when it makes it into the engineering schedule.

[2018-04-16 16:10] Anywhere-Music-Player commented on #18616
Engineering using milestones, is this bug added into 3.17?

[2018-04-16 16:16] slackmoehrle commented on #18616
Not to my knowledge.

[2018-04-17 17:24] pccsoares commented on #18743
Hi!
Did you try that option?
Did you find a solution?

[2018-04-18 01:30] drelaptop commented on #18616
@KAMIKAZEUA I know this is a urgent issue for you, and it should be fixed, all the bugs should be fixed, it's quite hard to fix so much in one version. I will try to solve it after recent works finished.

[2018-04-18 01:34] drelaptop commented on #18754
thanks, any progress with this issue?

`ln -sf libfmod.so libfmod.so.6`

[2018-04-18 21:37] gestern opened #18778 "Android.mk contains useless "tagged" comments?"
What is the need for the Andorid.mk to use the following comments:

- ``# _COCOS_HEADER_ANDROID_BEGIN``
- ``# _COCOS_HEADER_ANDROID_END``
- ``# _COCOS_LIB_ANDROID_BEGIN``
- ``# _COCOS_LIB_ANDROID_END``
- ``# _COCOS_LIB_IMPORT_ANDROID_BEGIN``
- ``# _COCOS_LIB_IMPORT_ANDROID_END``

Unfortunately I could not find any documentation on these "tags"? Are they still in use? If so, where? If not - let's d

[2018-04-19 01:38] minggo commented on #18614
The PR is reverted because it caused crash issue: https://github.com/cocos2d/cocos2d-x/pull/18777.

[2018-04-19 05:01] drelaptop commented on #18778
those tags was used on __cocos2d-console__

[2018-04-19 06:17] rh101 opened #18781 "CCConesole.cpp will not compile with C++17 and clang"
- cocos2d-x version: 3.15 and 3.16
- devices test on: N/A
- developing environments
   - NDK version: r16b
   - Xcode version: N/A
   - VS version: 2017
   - browser type and version: N/A

Steps to Reproduce:

1. In Application.mk for Android Studio compilation, add -std=c++1z to APP_CPPFLAGS.
2. Set "NDK_TOOLCHAIN_VERSION=clang" in build.gradle
2. Compile...

cocos2d/cocos/./base/CCConsole.cpp:21

[2018-04-19 13:03] gestern commented on #18778
For what needs? Are there any links to the code or documentation where can read about it?

[2018-04-19 17:13] gestern commented on #18736
Is there any news on this issue? The issue is confirmed under android (cocos2d-x-3.17), immediately after the construction of the scene.
![image](https://user-images.githubusercontent.com/1861589/39007154-cc1ced5c-440d-11e8-9b09-7f49247879d6.png)

Here's a line on Android Studio where the app was crushed:
![image](https://user-images.githubusercontent.com/1861589/39007402-666d59dc-440e-11e8-97bc-9

[2018-04-19 17:34] crazyhappygame commented on #18736
@gestern (or any one) Could you reproduce it?
I see it in GooglePlay for my apps ....

[2018-04-19 20:04] gestern commented on #18736
@crazyhappygame If you mean stable steps to reproduce - then no. My assumption is that this is somehow related to the 4th parameter in this function ``glDrawElements()``, it may well be that this directly depends on which version of the OpenGL ES 3 or 2. Because:
In http://docs.gl/es2/glDrawElements:

Specifies a pointer to the location where the indices are stored.

But in ES3 http://docs.gl/es3/

[2018-04-19 21:46] SBJoker commented on #18736
I found a reason of that crash.

It was caused by attempt to modify scene nodes while game in background. Because Android destroys OGL view every time game activity paused. It was possible because of callbacks of Rewarded Videos.
What happened:
* Rewarded Video appears
* Game Activity paused because video activity on top.
* OGL View destroyed
* Rewarded Video finished and call callback to inform g

[2018-04-20 01:08] vkreal commented on #18736
Seeing the same issue in GooglePlay for my apps. @SBJoker can you please provide code sample? I am unclear how you resolved this issue. Thanks!

@slackmoehrle Anyway we can get an official fix for this?

[2018-04-20 01:12] tapblaze commented on #18736
Can confirm @SBJoker fix works.

[2018-04-20 01:14] vkreal commented on #18736
@tapblaze not sure what this mean `Simply scheduled in callback onetime execution of method.` can you please share with us the code fix?

[2018-04-20 01:25] drelaptop commented on #18778
this is the link to the code

https://github.com/cocos2d/cocos2d-console/blob/03d1f8d291ed63439918fa4b180c7b9d698a2bfd/plugins/plugin_package/helper/add_framework_helper.py#L39

[2018-04-20 01:36] drelaptop commented on #18781
cocos team didn't adapt the code to c++17 yet, most of the code is compiled by c++11.

[2018-04-20 03:54] rh101 commented on #18781
@drelaptop I can see that they haven't updated the code to support  C++17 yet, otherwise I wouldn't have had any compilation issues. ;-)

std::ptr_fun was deprecated in C++11, and removed in C++17, yet it's still being used in that section of the Cocos2d-x code.  It's a simple fix too, as indicated in my original post.

[2018-04-20 06:11] drelaptop commented on #18781
thanks for mention it, I will submit a PR to fix this.

[2018-04-20 10:04] #18781 closed, assigned to nobody

[2018-04-20 20:41] jaymank commented on #18736
We are having the same issue and don't understand this fix below by @SBJoker
`Simply scheduled in callback onetime execution of method. When activity will re-created, and director will work, event dispatcher will execute scheduled code.` Can  someone please elaborate more?

[2018-04-20 22:09] SBJoker commented on #18736
[code]

[2018-04-22 16:45] lzubiaur commented on #18761
Same issue here with `SimpleAudioEngine`. Again only since iOS 11.3.
Settings the sound volume to a very low value (e.g. `FLT_MIN`) will "mute" the sound effects but `0.0f` won't work.

[2018-04-23 02:21] tdebock opened #18784 "some ProgressTimer nodes do not show on Android device"
- cocos2d-x version: v3.13
- devices test on: Samsung S7 (problematic device).. No issue on my iPhone 8Plus, iOS simulators, or android emulators.
- developing environments
   - NDK version: android-ndk-r13b
   - Xcode version: 9.2

Steps to Reproduce:

On my game's title screen (A Scene + 1 Layer), I have multiple ProgressTimer nodes. They all show correctly on iOS, Android, simulator and emulato

[2018-04-23 05:03] shaniamjad opened #18785 "drawBatchedTriangles crash on Android"
- cocos2d-x version: 3.15.1
- developing environments
   - NDK version: r13b
 -platform: IOS, Android

I am getting lots of crashes on Crashlytics in Renderer::drawBatchedTriangles()

`glBufferData(GL_ARRAY_BUFFER, sizeof(_verts[0]) * _filledVertex, nullptr, GL_STATIC_DRAW);`
`void *buf = glMapBuffer(GL_ARRAY_BUFFER, GL_WRITE_ONLY);`
`memcpy(buf, _verts, sizeof(_verts[0]) * _filledVertex);`
`glUnm

[2018-04-25 00:05] tdebock commented on #17292
I am having a very similar issue in v3.13.
#18784

This has caused a complete blocker on my Android build. The ProgressTimer nodes show as expected on any iOS device, but are not there on Android devices, Testing with Samsung S7 on Android 7.

[2018-04-25 00:09] tdebock commented on #18784
Possibly related to #17292

[2018-04-25 02:11] JoHuang commented on #11891
Hi,
any update?
I have the same issue on v3.10.

[2018-04-25 02:39] JoHuang commented on #11891
in function `TextureCache::addImageAsync`
[code]
After you start _loadingThread, there is a _sleepCondition in another thread waiting for notification.
`_sleepCondition.notify_one();` above is the one who notifies.

What if `_sleepCondition.notify_one();` happened earlier than _sleepCondition started to wait?

normally:

1. addImageAsync -- **main thread**
2. start _loadingThread -- **main thread*

[2018-04-25 06:25] shaniamjad commented on #18785
@minggo @dumganhar Guys any update on this?

[2018-04-25 06:56] yunmin97 opened #18788 "打包出来的APK安装在android模拟器上面接受不到按键事件问题"
- cocos2d-x version:  3.15
- devices test on:  MuMu模拟器等模拟器
- developing environments
   - NDK version:  r10d
   - Xcode version: 无
   - VS version:  2015

Steps to Reproduce:
1. 打包apk
2. 安装到android模拟器或者接外部键盘的android设备，测试发现onKeyPressed(EventKeyboard::KeyCode keycode, cocos2d::Event *event)只能接受到：
        KEY_DPAD_LEFT,（对应键盘上的“左”键）
        KEY_DPAD_RIGHT,（对应键盘上的“右”键）
        KEY_DPAD_UP,（对应键盘上的“上”键）

[2018-04-25 07:57] drelaptop commented on #18788
[game-controller-test](https://github.com/cocos2d/cocos2d-x/tree/v3/tests/game-controller-test) 完成的任务是监听游戏手柄的事件，可以参考。
[game-controller-test](https://github.com/cocos2d/cocos2d-x/tree/v3/tests/game-controller-test)  is to monitor the events of the gamepad. please refer to it.

建议到中文社区讨论，传送：http://forum.cocos.com/c/cocos2d-x

[2018-04-25 07:57] drelaptop commented on #18788
[game-controller-test](https://github.com/cocos2d/cocos2d-x/tree/v3/tests/game-controller-test) 完成的任务是监听游戏手柄的事件，可以参考。
[game-controller-test](https://github.com/cocos2d/cocos2d-x/tree/v3/tests/game-controller-test)  is to monitor the events of the gamepad. please refer to it.

建议到中文社区讨论，传送：http://forum.cocos.com/c/cocos2d-x

[2018-04-25 17:14] crazyhappygame opened #18790 "cocos gen-libs does not work for android"
- cocos2d-x version: latest
- developing environments
   - NDK version: 16b
   - Xcode version:
   - VS version:

Steps to Reproduce:
For latest version call:

`cocos gen-libs -p android -m release --ap android-15 --app-abi armeabi-v7a:x86`

Please see also PR with this failure
https://github.com/cocos2d/cocos2d-x/pull/18787

Error:
[code]

[2018-04-25 17:18] crazyhappygame commented on #18790
@drelaptop Could you check it?

[2018-04-25 20:17] slackmoehrle commented on #18790
@drelaptop This works for me if I don't build for __armeabi-v7a__ and __x86__ at the same time. If I build them separately it works, meaning something like this:
`cocos gen-libs -p android -m release --ap android-15 --app-abi armeabi-v7a`

[2018-04-25 20:17] crazyhappygame commented on #18790
The same error is for one architecture "--app-abi armeabi-v7a" and for two "--app-abi armeabi-v7a:x86"
`cocos gen-libs -p android -m release --ap android-15 --app-abi armeabi-v7a`

[2018-04-25 20:18] crazyhappygame commented on #18790
In PR there is only one architecture and it fails
https://github.com/cocos2d/cocos2d-x/pull/18787

https://travis-ci.org/cocos2d/cocos2d-x/jobs/370906160
https://travis-ci.org/cocos2d/cocos2d-x/jobs/370906161

[2018-04-25 20:51] slackmoehrle commented on #18790
[code]

[code]

[code]

[code]

[2018-04-25 23:38] xerosugar opened #18791 "Ability to get mouse pos. without event handler"
For platforms that uses a mouse as input, it would be nice to be able to get the cursor position without using an event handler.

[2018-04-26 01:11] yunmin97 commented on #18788
谢谢！！

[2018-04-26 01:11] #18788 closed, assigned to nobody

[2018-04-26 01:24] drelaptop commented on #18790
@crazyhappygame for the discuss https://github.com/cocos2d/cocos2d-x/pull/18780 I know you are just wondering why need `.keystore` file for the release prebuilt libs.

I will check it, modify it or make a explain. the 3.17 round 2 test is going on.

[2018-04-26 01:49] vkreal commented on #18736
We are still seeing the same issues after the fixed above in 3.16. Please any news from the cocos2d-x team?

[code]

[2018-04-26 02:34] ct1676 commented on #18761
Had the same problem,  I set the sound effects 0.001f to reduce the issue

[2018-04-26 05:33] crazyhappygame commented on #18790
@slackmoehrle you was tested with old cocos2d-x/tools/cocos2d-console. please check "git log".
git log: upstream ⚡ detached@03d1f8d
You are here: 03d1f8d

[code]

You should be here: 1b69aa81a05d727cd15d5d41c94c0e7332bb622e
[code]

[2018-04-26 05:37] crazyhappygame commented on #18790
@drelaptop Yes. Please see https://github.com/cocos2d/cocos2d-x/pull/18787 I would like to create CI build for cocos gen-libs as well. In that way we will be sure that it really works and we will not introduce regressions.

[2018-04-26 06:00] yafacex opened #18793 "Why RenderQueue push back five ocupy after clear?"
void RenderQueue::clear()
{
    _commands.clear();
    for(int index = 0; index < QUEUE_COUNT; ++index)
    {
        _commands.push_back(std::vector<RenderCommand*>());
    }
}
why push_back five RenderCommand after clear,which is too slow.

[2018-04-26 14:40] v1993 commented on #18791
It is probably currently easier to make two variables and change them in event handler.

P.S.: I also encourage this idea, it is just quick-and-dirty solution.

[2018-04-27 06:08] wbbtcool commented on #16098
I am having same problem too.  I use cocos2dx 3.15 .  Work well on iOS , but crash on Android.

[2018-04-27 07:55] wzx110113627 opened #18794 "audio crash in version 3.15"
- cocos2d-x version:3.15
- devices test on: ios ,all device
- developing environments
   - NDK version:
   - Xcode version:9.3
   - VS version:
   - browser type and version:

my app build on cocos2d-x lua  3.15 .  from bugly ,I find a lot of crash in audio system.  crash have 2 different stack:

-------------------------------------
type A:
0 libsystem_platform.dylib _platform_memmove + 176
1 Ope

[2018-04-27 08:27] shaniamjad commented on #18785
Update::
If i set VBO_SIZE to a less number then the crash can be reproduced easily. on debug mode it asserts but on release mode i get the similar crash stack as well as line number which i am getting on crashlytics.
I set VBO_SIZE  to 655 in my test scenario.
and INDEX_VBO_SIZE is set using formula VBO_SIZE * 6 / 4;
With above configuration when fillVerticesAndIndices is called then `_indices[_f

[2018-04-27 08:36] drelaptop commented on #18794
how to reproduce it, any simple code?

[2018-04-27 08:50] wzx110113627 commented on #18794
@drelaptop I wish I can reproduce,but i can not .  the crash messages is from bugly. I have no idea to fix it,so I feedback here.

[2018-04-27 09:03] drelaptop commented on #18794
thanks for feedback, hope any other developers know the reason.

[2018-04-27 11:53] slackmoehrle commented on #17292
@minggo per our conversation yesterday, I will be happy to work on this and report back to you once I have an answer. I have asked @tdebock to share their repo with me as they have a complex game and would be hard to isolate since my simple examples don't seem to reproduce the problem. @tdebock says they may require an NDA to gain access. I can sign that for Xiamen Yagi.

[2018-04-27 11:55] slackmoehrle commented on #18790
@crazyhappygame I will test this with your steps above and yes, I am using cocos2d-console from within the Cocos2d-x root. I verified with `which cocos` before I even started since I have another cocos2d-x install for my games.

[2018-04-28 10:58] v1993 commented on #18790
I tried setting `.keystore` file (note: it doesn't take my realtive path as valid, only absolute) and got anoter error:

    FAILURE: Build failed with an exception.

    * What went wrong:
    Execution failed for task ':CppEmptyTest:packageRelease'.

UPD: I got this problem with command `cocos gen-libs -p android -m release --ap android-16 --app-abi armeabi-v7a`.

[2018-04-28 11:24] v1993 opened #18796 "Outdated cmake build script on performance-tests"
- cocos2d-x version: git
- devices test on: linux mint 18.3

Steps to Reproduce:

1. try to compile performance-tests
2. get error about unsupported platform (and see win10 project)
3. copy CMakesLists.txt and proj.linux
4. try again and get another error:

       CMake Error at /home/v/compile/cocos2d-x/cmake/Modules/CocosBuildHelpers.cmake:222 (add_executable):
       Cannot find source file:

[2018-04-28 13:27] huachangmiao opened #18797 "Drawcall batching in iOS has no performance Improvement"
- cocos2d-x version: 3.16
- devices test on: iphone6s
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

https://discuss.cocos2d-x.org/t/drawcall-batching-in-ios-has-no-performance-improvement/42445

[2018-04-28 18:45] v1993 opened #18798 "SHOW_ALL without borders"
- cocos2d-x version: git

This problem is well described in https://discuss.cocos2d-x.org/t/multiresolution-how-to-show-all-without-black-borders/26508. In short words, I want same view as SHOW_ALL actually provide, but with actual image instead of black borders.

Some person wrote a patch to add this feature, but it is for old cocos2d-x (I didn't tested, but still want to use mainline version). T

[2018-04-28 19:31] v1993 commented on #18798
I'm not shure, but it is probably actually possible to do same thing by comparing screen and designed screen aspect ratios and selecting FIXED_HEIGHT or FIXED_WIDTH.

[2018-04-29 12:13] drelaptop commented on #18717
@crazyhappygame finish 2 items below at PR #18799 , could you review it when you are free?

[code]

[2018-04-29 12:48] yuriilychak commented on #18797
@huachangmiao You need to use [texture atlas](https://www.codeandweb.com/texturepacker/tutorials/animations-and-spritesheets-in-cocos2d-x). It is not iOS problem. If you use two sprites from two images they don't batch automatically, cause use different textures.

[2018-04-29 12:51] huachangmiao commented on #18797
@yuriilychak  The point is the fps is same when I make 1 dc and 5000 dc.
so, What is the purpose of reducing dc?

[2018-04-29 13:07] yuriilychak commented on #18797
@huachangmiao What your mac requirements? If you test in emulator it will be low cause you need powerful (and very expensive) mac to test in emulator, cause XCode try to run iOS for test device with full requirements (That's why you have 22 fps). If you run it on real device you get 60 fps. In your case you need draw only two textures in 10000 polygons, and they are static (you don't move every sp

[2018-04-29 13:10] huachangmiao commented on #18797
@yuriilychak
I just run this in iphone6s ( real device). And I don't change any value after created them.
![8544759c502360bcab11531e2574d46e](https://user-images.githubusercontent.com/26161671/39406972-c308ac24-4bf1-11e8-8a79-f29b741ec83c.png)
![f396a1520679d617a51a72083a5e939f](https://user-images.githubusercontent.com/26161671/39406973-c422df44-4bf1-11e8-9f31-7dede19c07bc.png)

[2018-04-29 13:20] yuriilychak commented on #18797
@huachangmiao Interesting. Can you run this in c++ project? I don't use lua binding only c++, and in my case all work fine.

[2018-04-29 16:29] alexBraidwood commented on #17803
I just worked through this problem on v3.17. I believe it's an issue of the framework building with the version it pulls down (1.6.2, in your case) from download-deps.py, then linking your project with whatever version you have set up for linking (which, inevitably, ends up getting changed by something other than your package manager). open up terminal and check the result of: `find /usr /Library

[2018-04-30 07:11] WangJiaChun930 commented on #18770
I have same problem.
Who can help me?

[2018-04-30 15:28] xerosugar opened #18800 "Add a setMaterial function to PhysicsBody"
- cocos2d-x version: 3.16

In the constructor for PhysicsBody you can set offset and material:
```auto b = PhysicsBody::createPolygon(pts.data(), pts.size(), PHYSICSBODY_MATERIAL_DEFAULT, Vec2(0,0))```
and you can later change the offset through `setPositionOffset` but there's no similar method for setting the material. I'd like to see a 'setMaterial' or similar.

[2018-04-30 16:33] xerosugar opened #18801 "Code format convention"
- cocos2d-x version: 3.16

Methods `getonExitTransitionDidStartCallback`, `setonExitTransitionDidStartCallback` do not follow camel case convention.

[2018-05-02 02:07] huachangmiao commented on #18797
http://forum.cocos.com/t/drawcall-ios/59378

[2018-05-02 07:38] chuma1 opened #18802 "Bug at spSkeletonBinary_readSkeletonData function"
- cocos2d-x version: 3.16
- devices test on: PC
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Load a Spine Binary file
`spine::SkeletonAnimation::createWithBinaryFile("x.skel", "x.txt");`
2. Error at function `spSkeletonData* spSkeletonBinary_readSkeletonData` in SkeletonBinary.c line 929
Read r,g,b,a two ti

[2018-05-02 14:16] rizwangaminations commented on #17494
@dumganhar @minggo
Please help
We are also seeing similar crashes in our app.
App is using cocos2dx 3.15.1 version.
Crashes are occuring on iOS 8 and 9.

**Crashed: AURemoteIO::IOThread
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x000000010d9b2382**
Crashed: AURemoteIO::IOThread
0  AudioToolbox                   0x18633b908 CrashIfClientProvidedBogusAudioBufferList + 56
1  AudioToolbox

[2018-05-02 21:51] slackmoehrle commented on #18790
@drelaptop after testing today, I too get asked about a `.keystore` file and I am not sure what to use. My understanding is that this is cached in `gradle.properties` but I don't see how it is needed for `cocos gen-libs`. This is a new issue. I wasn't getting this before @crazyhappygame has outlined the commits that caused this issue.

[2018-05-03 01:43] drelaptop commented on #18790
@slackmoehrle After reviewing the `cocos-console`, I found the `cocos gen-libs` call `cocos compile`, and then copy the generated libs. `cocos compile -m release` always check the `.keystore` path.

Solutions occur to me, one is to delete the logic of check `.keystore` file, for release mode we can select to add the key infos into `gradle.properties`, not add it by cmd input. another is to add a o

[2018-05-03 03:31] slackmoehrle commented on #18790
-no_key_input

Seems like a better idea

If I build debug, everything works:
[code]

[2018-05-03 17:48] kiranb47 opened #18805 "Firebase BoringSSL compatibility issue"
Hey guys,
There is a issue with firebase integration. Please check the following link. It will be great if you guys can do anything to resolve it.

https://github.com/firebase/firebase-ios-sdk/issues/1216

[2018-05-03 21:52] gsoltis commented on #18805
See https://github.com/grpc/grpc/issues/6111 for the underlying issue, it's a gRPC compatibility problem in general, not specific to Firebase or Firestore.

[2018-05-04 09:50] ShuraLiu commented on #18597
@dumganhar i got the same bug on iphone 8 today. It occurs randomly, but not hard to reproduce. my game crashes at the same line with @wanglailai . i don't know how to fix it :(

[2018-05-05 11:52] dysuby opened #18807 "Exception in CCGLViewImpl-desktop.cpp"
- cocos2d-x version: cocos2d-x-3.16
- devices test on: win10 64bit 1709
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2017 Windows SDK both 10.0.16299.0 and 10.0.15063.0
   - browser type and version:

Steps to Reproduce:
After compiling cpp-test, a exception is thrown  in line 220, CCGLViewImpl-desktop.cpp
[code]
[code]
[code]

[2018-05-05 17:07] crazyhappygame commented on #18790
@drelaptop Please let me know when I can test fixed `cocos gen-libs -p android -m release`

[2018-05-05 20:14] crazyhappygame commented on #18717
@drelaptop
`2. Remove from cocos2d-x\cmake\Modules files Find*.cmake `- looks good, Linux compilation passed
`3. Remove duplicated defines` - this looks bad, my idea was about renaming options/defines. In PR #18799 it seems like options are not used at all ..... I think that we should rollback this change and add all `add_definitions`
Currently it is impossible to enable/disable options/defines by

[2018-05-06 21:19] Obg1 commented on #17782
Any work around for this?

[2018-05-06 21:42] rh101 commented on #17782
What has worked for me is to remove the call to end() from the AppDelegate destructor, and place it in the code where I exit my application. Before calling end() on the instance of the Director, call end() on the AudioEngine.

For example, in a menu item callback function:

[code]

[2018-05-06 22:00] Obg1 commented on #17782
I did the following:
[code]

And:

[code]

[2018-05-07 03:41] drelaptop commented on #18717
Thanks for review

cmake -DUSE_CHIPMUNK=OFF

`cmake .. -DUSE_CHIPMUNK=OFF` this is NOT do nothing, it disable the `USE_CHIPMUNK` in CMake build, you can find this in __CMakeCache.txt__

[code]

So I think the issue not ` can't enable/disable options by cmake command line` , but the `USE_***` logic. I think the `USE_***` logic is awful, for example I can't enable the `Box2D Tests` in cpp-tests by s

[2018-05-07 08:15] drelaptop commented on #18790
Correspond PR: https://github.com/cocos2d/cocos2d-console/pull/440

1. avoid to input sign infos when`gen-libs` by supporting generate no-signed apk
2. fix multi abi `--app-abi armeabi-v7a:x86` error, when `gen-libs`

[2018-05-07 21:37] crazyhappygame commented on #18717
@drelaptop Did you run win32/mac/ios/android cmake build after you change? I just run cmake for cocos2d-x\tests\cpp-empty-test for win32 and it fails for me. I think that it worked before...  It seems like currently it tries to links to VS2013 libbullet.lib with VS2015 win32 app.

I have following proposition: in travis/appveyor there are android_cocos_new_test, windows32_cocos_new_test CI build c

[2018-05-08 01:45] drelaptop commented on #18717
cpp-tests project is tested on mac/iOS/Android. win32 is tested on Windows10 + VS2017.

Did you update you external libs? VS2013 libbullet.lib have been removed 6 months ago. and all vs2013 libs have been removed. @crazyhappygame

[2018-05-08 07:11] qcdong2016 commented on #18325
啥时候加啊

[2018-05-09 03:04] drelaptop opened #18809 "awful default value existed on macOS FileUtils::getWritablePath()"
default value of `getWritablePath()` on macOS is system __Document__ dir, if one write his code as
[code]
the older files in __Document__ dir will be deleted, it's awful.

[2018-05-09 05:12] #18802 closed, assigned to nobody

[2018-05-09 15:47] mars3142 opened #18810 "Add Android P cutout (aka notch) support"
I just want to add a reminder, that Android P will support natively cutouts and every game, which target is below P will have reduced screen sizes.

So the framework should be Android P ready, if the final SDK will be released and someone can upload new and updated apps to the PlayStore.

[2018-05-09 15:53] mars3142 commented on #18809
I wish we can get a pointer to the app cache folder, which is at least available on Android and iOS. But I didn't find any useful implementation for that right now.

[2018-05-09 18:16] v1993 commented on #18809
@mars3142 On linux we can use `${HOME}/.cache/APP_NAME` or `/tmp/APP_NAME` (or `/tmp/process_id`) . Second one will be cleaned on boot, first will not.

On Windows we probably can use `Temp`.

I don't know about macOS place for cache.

[2018-05-09 18:17] v1993 commented on #18809
Also, data directory on mac probably should be `Documents/APP_NAME`. It will avoid this issue.

[2018-05-09 19:08] v1993 opened #18811 "Failed to generate v1 signature (gen-libs -p android)"
- cocos2d-x version: git
- devices test on: linux mint 18.3 (build machine)
- developing environments
   - NDK version: android-ndk-r17
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Run `cocos gen-libs -p android -m release --ap android-16 --app-abi armeabi-v7a`
2. get error:

 

    FAILURE: Build failed with an exception.

    * What went wrong:

[2018-05-09 20:29] crazyhappygame commented on #18717
@drelaptop it works for me. I am sorry for false alarm. I had broken build environment.

[2018-05-10 05:04] stephenhurry opened #18812 "Node::addComponent would call excessive scheduleUpdate when adding multiple components"
- cocos2d-x version: 3.16

[code]
The `scheduleUpdate` should be called once only, subsequent calling it would lead to a warning from `Scheduler`. So the snippet should be corrected as:
[code]

[2018-05-10 05:05] stephenhurry commented on #18706
anyone?

[2018-05-10 06:39] crazyhappygame commented on #18790
@drelaptop I tested https://github.com/cocos2d/cocos2d-console/pull/440 and found two issues for:
`cocos gen-libs -p android -m release --ap android-15 --app-abi armeabi-v7a`
1. In command line there is APP_PLATFORM=android-14
Starting process 'command 'G:\cocos_latest\subrepos\3rdparty\android-ndk-r16b\ndk-build.cmd''. Working directory: G:\cocos_latest\subrepos\external\cocos2d-x\tests\cpp-empty

[2018-05-10 06:41] crazyhappygame commented on #18790
@drelaptop Could you update cococos2d-console git submodule in cocos2d-x repo so I can test it in CI https://github.com/cocos2d/cocos2d-x/pull/18787

[2018-05-10 06:48] drelaptop commented on #18790
update the submodule here: https://github.com/cocos2d/cocos2d-x/pull/18808, that PR will be merged in recent 2 days.

[2018-05-10 07:01] crazyhappygame commented on #18790
When I try to use cocos compile (with latest changes) I have following error
[code]

[2018-05-10 07:24] drelaptop commented on #18790
I think something wrong with you environments, when I test this command, outputs as:

![cocos-compile](https://user-images.githubusercontent.com/26329291/39857498-2f9ecc7a-5466-11e8-8e0c-ac49b5055031.png)

[2018-05-10 07:28] crazyhappygame commented on #18790
@drelaptop I am testing on windows (it seems like you  are on mac) and it seems like you do not have latest cocos2d-console ('there is check for .keystore'). I will check it in CI when everything will be merged.

[2018-05-10 07:32] crazyhappygame commented on #18790
I have also problem with using cocos gen-libs for android... Could you travis CI when we check that cocos gen-libs really works and we can reuse it for games? Something like: https://github.com/cocos2d/cocos2d-x/pull/18787

[2018-05-10 07:48] drelaptop commented on #18790
yep, I am testing on mac, I have latest cocos2d-console. The `cocos compile -p android -m release` check keystore file, but `cocos gen-libs -p android -m release` not. if you want compile a android release apk and without sign informations , you should add `--no-sign` parameter, it won't add key infos.

I can check #18787 after that submodule update PR merged. Let us discuss that later.

[2018-05-10 15:19] v1993 commented on #12458
This issue is still actual for me on linux build.

[2018-05-10 15:40] v1993 opened #18813 "Problem with resource copying on linux"
- cocos2d-x version:git
- devices test on: linux mint 18.3
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Build game on linux.
2. Change  some resource files.
3. Build again, and resources will NOT be updated.

What could be a problem?

[2018-05-10 15:49] v1993 commented on #18813
Related code:

    function()    function(cocos_copy_target_res cocos_target)
        set(oneValueArgs COPY_TO)
        set(multiValueArgs FILES FOLDERS)
        cmake_parse_arguments(opt "" "${oneValueArgs}" "${multiValueArgs}" ${ARGN})
        # copy files
        foreach(cc_file ${opt_FILES})
            get_filename_component(file_name ${cc_file} NAME)
            add_custom_command(TARGET ${c

[2018-05-10 16:00] drelaptop commented on #18813
thanks for report this, I don't know why CMake don't copy folder again. the PRE_BUILD custom command looks good. Anyway I will research this.

[2018-05-10 16:03] v1993 commented on #18813
I've checked it on cocos tests, also occurs. Replacing `copy_if_different` with `copy` didn't helped.

[2018-05-10 17:04] slackmoehrle commented on #12458
It works for me on Linux. Tell me more about your setup.

[2018-05-11 06:44] drelaptop commented on #18813
I think we can use `configure_file ` instead. refer to

https://stackoverflow.com/questions/34799916/cmake-copy-file-from-source-directory-to-binary-directory

[2018-05-11 09:18] drelaptop commented on #18813
@v1993 Fixed in #18816 , tested using 2 different way, it works well. Could you test it again?

One of my tests:
[code]

[2018-05-11 09:24] drelaptop commented on #18732
@citihome Now you can select to use CLion and VS compiler to use cmake on Windows. CodeBlocks  isn't be considered to support.

I think we should close this issue. @minggo

[2018-05-11 09:29] drelaptop commented on #18689
3.17 version have supported cmake build using VS++, this issue have been fixed between 3.16 and 3.17. please refer to [cmake/README.md](https://github.com/cocos2d/cocos2d-x/blob/v3/cmake/README.md)

please close this issue. @minggo

[2018-05-11 09:34] drelaptop commented on #18545
have supported cmake build on macOS, cocos2d-x version: 3.17 https://github.com/cocos2d/cocos2d-x/commit/4675ee79cd134ca63c8fd258c4e8a49f14fe9639

please close this issue @minggo

[2018-05-11 09:42] drelaptop commented on #18446
cmake build have supported MSVC compiler, https://github.com/cocos2d/cocos2d-x/commit/4675ee79cd134ca63c8fd258c4e8a49f14fe9639 and later commits.

please close this issue @minggo

[2018-05-11 09:49] drelaptop commented on #18199
out-of-date cmake issue, cmake existed many change between 3.16 and 3.17.

suggest close this issue @minggo ,reopen this if same problem occurs to you when using latest GitHub code. @anlide

[2018-05-11 09:57] drelaptop commented on #18018
now the cmake build on linux divide the `bin` dir into `bin/Debug` and `bin/Release`, So that Debug and release builds can coexist. please reopen this if you find same problem when using GitHub latest code.

please close this issue @minggo

[2018-05-11 10:00] drelaptop commented on #17966
Now the cmake have support Windows MSVC compiler, you can have a try using GitHub latest code(https://github.com/cocos2d/cocos2d-x/commit/4675ee79cd134ca63c8fd258c4e8a49f14fe9639 and later)

please close this issue @minggo

[2018-05-11 10:06] drelaptop commented on #17711
@jojojames @Rubonnek Cocos2d-x latest code(https://github.com/cocos2d/cocos2d-x/commit/4675ee79cd134ca63c8fd258c4e8a49f14fe9639 and later) have supported cmake build on all supported platforms. Welcome to use and feedback. Refer to [cmake/README.md](https://github.com/cocos2d/cocos2d-x/blob/v3/cmake/README.md)

please close this issue @minggo

[2018-05-11 10:12] drelaptop commented on #12960
Cocos2d-x is moving to a full cmake build system. and now the CMake build of Cocos2d-x have supported VS2017. Welcome to use and feedback.

[2018-05-11 11:09] lzhy87 opened #18817 "cocos2d"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.

2.

[2018-05-11 11:38] v1993 commented on #16355
Any progress?

[2018-05-11 11:39] v1993 commented on #17804
There was a lot of changes in CMake, is there any news?

[2018-05-11 11:50] mars3142 commented on #18809
But did you use a framework call? I didn't find any

    FileUtils::getInstance()->getCachePath()

yet. I would be happy to have such an implementation. We should create a pull request, but I think, that such PRs will be ignored for a long time.

The temp folder isn't the best such a directory. On macOS there is $HOME/Library/Caches/bundleIdentifier for that. Android and iOS does have similar fold

[2018-05-11 12:06] piotrros commented on #18810
Maybe we can use `Director::getSafeAreaRect()` for it?

[2018-05-11 12:33] v1993 commented on #18809
@mars3142 As I wrote, on linux `${HOME}/.cache/APP_NAME` is very common place to store some unimportant temporary data AKA cache.

[2018-05-11 13:03] anlide commented on #18199
I have stop using cocos2d-js and start using Cocos Creator.
Ability to develop games cocos2d-js in linux environment is good. But cross-platform build take a lot of time.

Cocos Creator take ~1 hour per build at all platforms (android, ios, web, win32).
I hope someday Cocos Creator will be able run in linux environment.

[2018-05-11 15:47] drelaptop commented on #17804
@v1993 Now the Cocos2d-x CMake build support Cross-compilation, Windows (MSVC compiler), Linux (GCC), macOS(clang), iOS(clang), Android Native build(clang).

support IDE: Visual Studio (Windows), XCode(macOS), CLion(Linux/macOS/Windows) only MSVC compiler on windows, not include mingw64 yet.

With CMake, we have the ability to support all CMake supported platforms, but now not every platform, just

[2018-05-11 15:53] drelaptop commented on #18809
@mars3142 I bet such PR won't be ignored for a long time, but ASAP. I stay at the same office with minggo .If I can't review that PR, I will ask @minggo, even he is busy now.

[2018-05-11 15:56] drelaptop commented on #18817
@lzhy87 I think it's a mistake to new this issue, please close.

[2018-05-11 16:00] drelaptop commented on #18199
Have fun when using Cocos Creator.

[2018-05-12 03:10] v1993 commented on #17804
@drelaptop I meant something like building .exe on linux (there are some tools for that).

[2018-05-12 11:35] drelaptop commented on #17804
@v1993 do you know any other open-source software implement this? which one

[2018-05-12 12:12] v1993 commented on #17804
Yep, I meant mingw32/64. No other tools known for me.

P.S.: I saw some tools to build for macOS (and iOS probably) on linux.

[2018-05-12 13:55] whatisor commented on #18008
This is not solution, you just HIDE issue by turning off cpp-test

[2018-05-12 14:24] drelaptop commented on #17804
I think it's impossible to build macOS/iOS on Linux, please supply some useful infos if you think it is.

[2018-05-12 17:35] v1993 commented on #17804
Something like https://github.com/tpoechtrager/osxcross.

[2018-05-12 18:16] Anywhere-Music-Player commented on #18809
Unfortunately, yes...

`getWritablePath()` should be here:

`/Users/**UserName**/Library/Application Support/**GameName**/..`

In SBX it's implemented [here](https://github.com/KAMIKAZEUA/SpriteBuilderX/blob/SpriteBuilderX/SpriteBuilder/ccBuilder/SettingsManager.m#L31), very simple.

[2018-05-12 22:04] stevetranby commented on #18809
I wouldn't change getWritablePath() in v3.x for backward compatibility.

The main issues is this is currently being used internal to the engine for everything, basically, from caches to 'document' data that is desired to be backed up, and therefore folks here can use `setWritablePath()` to change this simply, for now, to get one of the following new paths.

**Instead I would suggest adding some, a

[2018-05-12 23:28] ghost opened #18818 "getPercent() function throwing an exception."
- Cocos2d-x version: 3.16
- Feveloping environments
   - NDK version: r16b
   - VS version: 15.4.3

Steps to reproduce:

1. Create a slider, for instance: ``ui::Slider *slider = ui::Slider::create();``
2. Then use: ``slider->getPercent();``

[2018-05-12 23:37] #18818 closed, assigned to nobody

[2018-05-13 03:44] drelaptop commented on #17804
it's not necessary to support this inside cocos2d-x, some one can build cocos2d-x by simulating the macOS build environment in Linux if he like.

[2018-05-13 15:52] Dimon4eg commented on #18812
You can send PR with fix

[2018-05-14 01:02] #17966 closed, assigned to nobody

[2018-05-14 01:02] #18018 closed, assigned to nobody

[2018-05-14 01:02] #18446 closed, assigned to nobody

[2018-05-14 01:03] #18545 closed, assigned to nobody

[2018-05-14 01:03] #18689 closed, assigned to nobody

[2018-05-14 01:03] #18732 closed, assigned to nobody

[2018-05-14 01:04] #17711 closed, assigned to nobody

[2018-05-14 10:17] pccsoares commented on #11742
issue is back on 3.16
very rarely, labels disappear and console goes crazy looping this message:

OpenGL error 0x0502 in ..\renderer\CCTextureAtlas.cpp cocos2d::TextureAtlas::drawNumberOfQuads 691

And I'm not using shadow on the label that caused the issue.
But I'm also using the createWithTTF

Do we have any workaround for this?

[2018-05-14 14:43] mars3142 commented on #18810
We should use it, but the current targetSDK isn't an integer, so it can't included into the v3 branch until the Android P SDK is final.

[2018-05-14 18:48] mr746866 commented on #13678
Currently changing the value of `CC_ENABLE_SCRIPT_BINDING` has no effect on the value of `CC_CONSTRUCTOR_ACCESS`. As long as there is a value assigned to `CC_ENABLE_SCRIPT_BINDING`, `CC_CONSTRUCTOR_ACCESS` is always `public`.
[code]
The problem is the marked line shown below.
[code]
But changing `#ifdef` to `#if` and changing `CC_ENABLE_SCRIPT_BINDING` to 0 causes a few issues to appear.
1. Callin

[2018-05-15 03:43] zhangxu924 commented on #18743
Hi!
I'm using cocos creator 1.8.2, and this  TextureAtlas::drawNumberOfQuads() issue is causing thousands of crashes (top 1 in the android vitals report on google developer console). Please help fix it! Any clue will be appreciated

[2018-05-15 20:20] Dimon4eg commented on #8964
For me also helped this:
APP_CPPFLAGS += -U__SSE__

It crashed all the time on CHUWI Hi10plus (x86) device.

cocos2d-x 3.16

signal 11 (SIGSEGV), code 128 (SI_KERNEL)
cht_cr_mrd_w, Android 5.1

backtrace:
  #00  pc 0000000000792fd3  /data/app/xxx/lib/x86/libcocos2djs.so (_ZN7cocos2d8MathUtil14multiplyMatrixEPKDv4_fS3_PS1_+19)
  #01  pc 00000000006da98b  /data/app/xxx/lib/x86/libcocos2djs.so (cocos

[2018-05-16 06:15] mars3142 commented on #18809
@stevetranby It's even more complicated on Android, because you can use [Context.getCacheDir()](https://developer.android.com/reference/android/content/Context#getcachedir), [Context.getExternalCacheDir()](https://developer.android.com/reference/android/content/Context#getexternalcachedir) or [Context.getExternalCacheDirs()](https://developer.android.com/reference/android/content/Context#getextern

[2018-05-16 08:03] minggo commented on #18597
We will put it into high priority. Thanks for reporting.

[2018-05-16 12:59] cchuicchui opened #18826 "Terrain poor resolution when on large mapScale"
- cocos2d-x version: cocos2d-x-3.16
- devices test on: iphone 5s and iphone X
- developing environments
   - NDK version:
   - Xcode version: 9.3
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. In file cocos2d-x-3.16/tests/cpp-tests/Classes/Scene3DTest/Scene3DTest.cpp, modify line 391-393 from

    Terrain::TerrainData data("TerrainTest/heightmap16.jpg",

[2018-05-16 13:17] piotrros commented on #14335
I just tried latest version from github (3.17) and this issue is still here.

I play one long sound (about 30 seconds) and move character around (it makes a sound each time it moves) and after several tries (I guess 32) long sound stops.

But my fix from here:

https://stackoverflow.com/a/33609360/1264375

still works. Can you add it before release of 3.17?

[2018-05-16 15:01] drelaptop commented on #14335
@piotrros 3.17 have been tested, and almost to be released, so it couldn't to add into 3.17.

Another side about the issue, I think it been ignored for dumganhar did a response. I will try to test it after 3.17 released. please set me as the Assignees @minggo , the changes will be merged into v3 branch if you are right.

[2018-05-16 16:18] lalaphoon opened #18827 "Might be missing a reset() in ReloadDefaultGLProgram?"
- cocos2d-x version: 3.9, 3.16
- devices test on: Simulator iOS 9.2
- developing environments
   - NDK version: r10d
   - Xcode version: 9.2
   - VS version: -
   - browser type and version: -

Actually, there wasn't a bug, I just have a question in cocos2d-x/cocos/renderer/CCGLProgramCache.cpp. I am new to cocos2d, so I don't know if this is a bug or it did on purpose.

![screen shot 2018-05-16 a

[2018-05-17 01:07] #18813 closed, assigned to nobody

[2018-05-17 02:32] rh101 opened #18828 "UIRichText ignoring X and Y offsets on elements"
- cocos2d-x version: 3.15, 13.16
- devices test on: N/A
- developing environments
   - NDK version: N/A
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

If a non-zero centered sprite is to be inserted as an element in a RichText parent, then it needs to be shifted to be aligned correctly with the text.  This can only happen if position X and Y o

[2018-05-17 15:51] drelaptop commented on #18717
https://github.com/cocos2d/cocos2d-x/pull/18816 might fixed

not tested yet

[2018-05-18 20:13] v1993 commented on #17804
So, is there any plans/possibility of supporing mingw with cmake?

P.S.: is it possible to use icons (game.ico) with cmake?

[2018-05-18 20:23] v1993 commented on #18717
Some my ideas (in order of importance decreasing):

1. Add MinGW support (I'm not shure how hard is it, but would be very helpful for me).
2. Icons support for cmake (windows game.ico and add icon for linux (window icon)).
3. Not very important and probably not to be done, but still an idea: build APK for android on pure cmake build (in this case also implement 2nd idea for android).

[2018-05-19 05:14] drelaptop commented on #18717
no plan yet, I will research it if am free between 3.17 and 3.18. and very glad if  one of cocos2d-x developers to add this feature.

Icons for windows I prepare to fix it, I think it's not a hard things when cmake generated VS project.
Icons for Linux, I am not a linux native developer, no ideas yet, hope forum gives help

We have the ability to add the cmake support for  Android( NDK) build in G

[2018-05-19 05:19] drelaptop commented on #17804
it's possiable, but no plan yet.

possiable, and I plan to do it before next milestone released.

[2018-05-19 12:28] v1993 commented on #18717
Icons support for linux is impossible on compile time, only on runtime.

I've implemented runtime solution in #18833.

[2018-05-19 13:55] v1993 commented on #18717
I just met bug: if there is symlink in Resources, CMake crashes:

    CMake Error at /home/v/compile/cocos2d-x-mine/cmake/Modules/CocosBuildHelpers.cmake:38 (configure_file):
      configure_file input location

        /home/v/compile/cocos2d-x-mine/tests/cpp-empty-test/Resources/icons

      is a directory but a file was expected.
    Call Stack (most recent call first):
      CMakeLists.txt:141

[2018-05-19 14:07] v1993 opened #18834 "Crash after cocos2d: unsupported image format!"
- cocos2d-x version: git
- devices test on: linux mint 17.3
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Try to run `Image::initWithImageFile` with directory argument.
2. Crash log:

 

    File: /home/v/compile/cocos2d-x-mine/tests/cpp-empty-test/bin/debug/linux/Resources/icons/./
    cocos2d: unsupported

[2018-05-19 14:08] v1993 commented on #18834
It is probably issue of `FileUtils`.

[2018-05-20 14:17] drelaptop opened #18835 "assert error when using listFilesRecursively on win10"
- cocos2d-x version: GitHub latest
- devices test on: Windows 10

https://github.com/cocos2d/cocos2d-x/pull/18833 added a test case on cpp-empty-project, when tested on win10, assert error, code:
[code]
research the code, found `std::string fullpath = fullPathForFilename(dirPath);` return empty string when `dirPath` is a folder name

console log,
[code]
`icons` is a folder name, and located at `De

[2018-05-21 09:22] shanshan0309 opened #18838 "Cocos2dx failed with cmake when build with MSVC"
Hi All,

I tried to build cocos2d-x with Visual studio 2017 update2 on Windows Server 2016, but it failed with CMake. This issue can be reproduced from v3 revision e74e07b. Could you help have a look about this issue? Thanks in advance!

**Steps to Reproduce:**
1. git clone --recursive https://github.com/cocos2d/cocos2d-x.git D:\Cocos2dx\src
2. Open a VS 2017 command prompt and browse to D:\Cocos2

[2018-05-21 09:31] drelaptop commented on #18838
it's a issue, caused by https://github.com/cocos2d/cocos2d-x/pull/18816

you can revert it for a temp solution. I don't know why `configure_file(<input> <output> COPYONLY)` works well on macOS, but bad on windows, this should be research. @v1993

Or using the cocos2d-x 3.17 tag, it's well tested. https://github.com/cocos2d/cocos2d-x/tree/cocos2d-x-3.17

[2018-05-21 09:41] v1993 commented on #18838
@drelaptop I found this: https://cmake.org/pipermail/cmake/2006-March/008702.html

Look like cmake don't understand backward slash.

[2018-05-21 09:42] drelaptop commented on #17291
Box2d have been updated before 3.17 released, reopen this issue if same issues occurs when using 3.17.

[2018-05-21 09:42] #17291 closed, assigned to nobody

[2018-05-21 10:19] drelaptop commented on #18811
this issue have been fixed at https://github.com/cocos2d/cocos2d-console/pull/440, and have been updated into cocos2d-x, so close this issue.

further discuss at  https://github.com/cocos2d/cocos2d-x/pull/18787

[2018-05-21 10:19] #18811 closed, assigned to nobody

[2018-05-21 10:28] drelaptop commented on #18790
this issue have been fixed at cocos2d/cocos2d-console#440, and have been updated into cocos2d-x, so close this issue.

the next issue is how to find a proper way to use the generated libs. discuss here #18787

[2018-05-21 10:28] #18790 closed, assigned to nobody

[2018-05-21 10:39] drelaptop commented on #18668
this issue have been fixed at cocos2d/cocos2d-console#440, and have been updated into cocos2d-x, so close this issue.

the next issue is how to find a proper way to use the generated libs. discuss here #18787

[2018-05-21 10:39] #18668 closed, assigned to nobody

[2018-05-21 10:49] drelaptop commented on #14116
since cocos2d-x 3.17, Android build tools have been changed into __c++\_static over clang__

related PR, https://github.com/cocos2d/cocos2d-x/pull/18470

close this out-of-date issues.

[2018-05-21 10:49] #14116 closed, assigned to nobody

[2018-05-21 14:59] drelaptop commented on #18838
@shanshan0309 fixed here, I have tested using tests project, could you test it again?

after I research, I think the reason is the value of  `$<CONFIG>` isn't visible when execute `configure_file`.

[2018-05-22 03:07] drelaptop commented on #18817
not any descriptions, close

[2018-05-22 03:07] #18817 closed, assigned to nobody

[2018-05-22 03:15] drelaptop commented on #18807
openGL init error on Windows, it's environment config issue, please discuss this at Chinese forum. @vegchic

http://forum.cocos.com/c/cocos2d-x

[2018-05-22 03:15] #18807 closed, assigned to nobody

[2018-05-22 03:21] drelaptop commented on #18805
from the discuss above, I think it's not a cocos2d-x issue, just close it. Reopen if you disagree @kiranb47

[2018-05-22 03:21] #18805 closed, assigned to nobody

[2018-05-22 03:28] drelaptop commented on #18801
fixed here, not merged https://github.com/cocos2d/cocos2d-x/pull/18829

[2018-05-22 03:33] drelaptop commented on #18797
Since this issue have been discussed at Chinese forum http://forum.cocos.com/t/drawcall-ios/59378, and @minggo have made a reply.

So I think this issue should be closed, reopen it disagree @huachangmiao

[2018-05-22 03:33] #18797 closed, assigned to nobody

[2018-05-22 03:39] drelaptop commented on #18796
thanks for mention this, when I updated the cmake build script, I only update 5 test projects(cpp-empty-test, cpp-tests, js-tests, lua-empty-test, lua-tests) and 3 template projects(cpp-template, js-template, lua-template), others not.

[2018-05-22 03:46] drelaptop commented on #18793
What's your points about `QUEUE_COUNT = 5` is slow, added detail descriptions is better @yafacex

[2018-05-22 04:06] drelaptop commented on #18199
close out-of-date cmake related issues, reopen it if same issues occurs to you when using 3.17 or later version @blazekyo

[2018-05-22 04:06] #18199 closed, assigned to nobody

[2018-05-22 05:49] drelaptop commented on #12458
what @v1993 said fixed at https://github.com/cocos2d/cocos2d-x/pull/18816

[2018-05-22 06:57] drelaptop commented on #18772
@JammeLee not a bug, please discuss this at Chinese forum http://forum.cocos.com/c/cocos2d-x

[2018-05-22 06:57] #18772 closed, assigned to nobody

[2018-05-22 07:06] drelaptop opened #18840 "reduce the 3D effect when only using 2D feature"
- cocos2d-x version:3.17

for not any members in cocos2d-x team to maintain the 3D feature yet

-----------updated--------

**Thanks for feedback, what we should do is to reduce the 3D effect when only using 2D feature, NOT remove 3D**

[2018-05-22 07:11] crookedbard commented on #18840
3D features works great in cocos, why to remove them?

[2018-05-22 07:21] drelaptop commented on #18840
thanks for telling this.

some developers only using 2D feature in cocos2d-x, hold a idea that 3D have a bad effect on 2D performance.

[2018-05-22 07:33] drelaptop commented on #18756
@imtrobin please give more description, for example why need this, what will happen if not

[2018-05-22 07:53] drelaptop commented on #18757
review the `setRotation` in test case, it's degrees (0 - 360), not radian (0 - 2 PI) @xahon

[2018-05-22 07:53] #18757 closed, assigned to nobody

[2018-05-22 07:58] drelaptop commented on #18747
not any description, you can add more descriptions and reopen it @HHvarni

[2018-05-22 07:58] #18747 closed, assigned to nobody

[2018-05-22 08:45] drelaptop commented on #18742
not any description, add more details if reopen

[2018-05-22 08:45] #18742 closed, assigned to nobody

[2018-05-22 08:56] drelaptop commented on #18711
no any plan for Rust language bindings

[2018-05-22 08:56] #18711 closed, assigned to nobody

[2018-05-22 09:00] drelaptop commented on #18705
fixed before 3.17 release, at https://github.com/cocos2d/cocos2d-x/pull/18606

[2018-05-22 09:01] drelaptop commented on #18688
close it, since duplicated: #18510

[2018-05-22 09:01] #18688 closed, assigned to nobody

[2018-05-22 09:05] drelaptop commented on #18701
please feedback cocos creator issue at https://github.com/cocos-creator/cocos2d-x-lite, not cocos2d-x repo

[2018-05-22 09:05] #18701 closed, assigned to nobody

[2018-05-22 09:46] gestern commented on #18840
@drelaptop What kind of bad effect do you say now? Can you give more details?

[2018-05-22 09:50] #18778 closed, assigned to nobody

[2018-05-22 12:40] imtrobin commented on #18756
Now, it seem like assigning it to null ,but std ptr do not allow this kind of auto conversions because it is potentiall dangerous as it prevents some accidental pointer conversions.

There are some old discussions on why std ptr is designed to be explicit,
https://stackoverflow.com/questions/34882140/why-cant-a-pointer-be-automatically-converted-into-a-unique-ptr-when-returning

[2018-05-22 12:47] oct-test commented on #13773
Still exists in 3.17. Can anyone mention how long it will take to fix this ?

[2018-05-22 15:54] v1993 commented on #18835
Just to mention: test from #18833 is temporary limited only to linux due to this bug.

[2018-05-22 16:03] v1993 opened #18842 "Redesign sync listFilesRecursively to don't use output argument."
- cocos2d-x version: git
- devices test on: all

`listFiles` return `std::vector`, but `listFilesRecursively` accept it by pointer and return nothing!.

I think that it is pretty bad idea of using input argument with returning void in C++. I can done adding `return std::vector` version by myself (leave existing for backwards compatiblity). What others do think about it?

[2018-05-22 16:31] Dimon4eg commented on #18840
I think it's mostly compile time and binary size.

In ccConfig.h there are config defines for physics:
CC_USE_PHYSICS
CC_USE_3D_PHYSICS

For 2D game would be good to cut off 3D part also.

[2018-05-22 18:17] gestern commented on #18840
Good idea!

[2018-05-22 18:40] umitgoren commented on #18840
It should be improved in v4. Why should we use Unity3D?

[2018-05-22 18:43] Dimon4eg commented on #18840
@umitgoren Unity3D?

[2018-05-22 19:23] umitgoren commented on #18840
@Dimon4eg If 3D is removed some Cocos2d-x users will prefer Unity3D for its advanced 3D features.

[2018-05-22 19:27] Dimon4eg commented on #18840
No, I propose to add define to ccConfig.h for 3D part of engine.
If define is 0 then 3D part is disabled.

[2018-05-22 19:51] mars3142 opened #18843 "Logging in Android with Java"
- cocos2d-x version: 3.17

In the Android part, the logging is done with simple Log.d(), but without any check for release or logging tags. Because of that, even the release build prints debug information into the logcat.

If I use CCLOG in C++, this will be truncated from the release build. It would be nice, to have the same behavior in the Java world: **if (BuildConfig.DEBUG) Log.d();** (this is

[2018-05-22 21:32] mars3142 commented on #16865
**buildToolsVersion** can now be removed from gradle file. As far as I know it's obsolete and the gradle build tools will find the right one.

[2018-05-23 01:40] drelaptop commented on #16865
Any official docs to describe it?

and __buildToolsVersion__ isn't Hardcoded since 3.17 release, so I think it's a out-dated issue, this should be closed, what do you think @mars3142

[2018-05-23 02:05] drelaptop commented on #18840
@gestern another possible reason is about the performance, the cocos2d-x without 3D added own a better performance than cocos2d-x with 3D added, when only use 2D feature. This need to be tested and proved, I can't make sure.

thanks @Dimon4eg , we should reduce the 3D effect when only using 2D feature in deed.

[2018-05-23 03:08] drelaptop commented on #14398
@pandamicro @fuchao9625

This issues have been ignored for more than 2 years, and no one care it, so just close. Please reopen if disagree.

[2018-05-23 03:08] #14398 closed, assigned to pandamicro

[2018-05-23 03:16] shanshan0309 commented on #18838
Thank you @drelaptop. It works well when I tried your fix.

[2018-05-23 03:17] drelaptop commented on #15147
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree. @cnogo

[2018-05-23 03:17] #15147 closed, assigned to pandamicro

[2018-05-23 03:20] #18838 closed, assigned to nobody

[2018-05-23 03:25] drelaptop commented on #14960
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree. @TheSachin @minggo

[2018-05-23 03:25] #14960 closed, assigned to nobody

[2018-05-23 03:42] drelaptop commented on #15532
this feature have been improved at next milestones, you can test it using latest code. so close this out-dated issues, please reopen if disagree. @joshbodily

[2018-05-23 03:42] #15532 closed, assigned to nobody

[2018-05-23 03:44] drelaptop commented on #14464
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree. @sianzain @gaoshaoliang

[2018-05-23 03:44] #14464 closed, assigned to nobody

[2018-05-23 05:46] drelaptop commented on #14774
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@hgokturk

[2018-05-23 05:46] #14774 closed, assigned to nobody

[2018-05-23 05:47] drelaptop commented on #14705
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree. @TheSachin @yinjimmy @stevetranby

[2018-05-23 05:47] #14705 closed, assigned to nobody

[2018-05-23 05:48] drelaptop commented on #14449
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@TheCodez

[2018-05-23 05:48] #14449 closed, assigned to nobody

[2018-05-23 05:49] drelaptop commented on #14577
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree. @feijing566

[2018-05-23 05:49] #14577 closed, assigned to nobody

[2018-05-23 05:49] drelaptop commented on #14500
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@DustYang

[2018-05-23 05:49] #14500 closed, assigned to nobody

[2018-05-23 05:50] drelaptop commented on #12771
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@minggo @lisikuangxiangqu @pandamicro

[2018-05-23 05:50] #12771 closed, assigned to nobody

[2018-05-23 05:54] drelaptop commented on #14267
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@1078559858 @SongCF @pengsheng998 @ppzflpp

or you can discuss this at Chinese forum http://forum.cocos.com/c/cocos2d-x

[2018-05-23 05:54] #14267 closed, assigned to nobody

[2018-05-23 05:57] drelaptop commented on #13916
@super626 已经解答了问题，Issue 关闭，如果有异议请重新打开 @Curtis-ly

[2018-05-23 05:57] #13916 closed, assigned to nobody

[2018-05-23 05:57] drelaptop commented on #14201
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree. @TheCodez

[2018-05-23 05:57] #14201 closed, assigned to nobody

[2018-05-23 06:00] drelaptop commented on #14208
问题已经 2 年没得到开发者回应，直接关闭，后续有问题建议在中文论坛讨论

[2018-05-23 06:00] #14208 closed, assigned to nobody

[2018-05-23 06:01] drelaptop commented on #14187
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@dex36

[2018-05-23 06:01] #14187 closed, assigned to nobody

[2018-05-23 06:02] drelaptop commented on #14020
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@sbrednikhin @FrankStain

[2018-05-23 06:02] #14020 closed, assigned to nobody

[2018-05-23 06:05] drelaptop commented on #14025
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@ginobean @Leandros

[2018-05-23 06:05] #14025 closed, assigned to nobody

[2018-05-23 06:05] drelaptop commented on #14009
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@JoHuang

[2018-05-23 06:05] #14009 closed, assigned to nobody

[2018-05-23 06:05] drelaptop commented on #13998
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@patriciog

[2018-05-23 06:05] #13998 closed, assigned to nobody

[2018-05-23 06:07] drelaptop commented on #13993
@loveyanbei this issues have been replied by @pandamicro ,and not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.

[2018-05-23 06:07] #13993 closed

[2018-05-23 06:08] drelaptop commented on #14031
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@man2 @himynameschris @ZeroHackeR

[2018-05-23 06:08] #14031 closed, assigned to nobody

[2018-05-23 06:10] drelaptop commented on #13972
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@c3076802

[2018-05-23 06:10] #13972 closed, assigned to nobody

[2018-05-23 06:10] drelaptop commented on #13912
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@wangxingfred

[2018-05-23 06:10] #13912 closed, assigned to nobody

[2018-05-23 06:10] drelaptop commented on #13952
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@seivan

[2018-05-23 06:10] #13952 closed, assigned to nobody

[2018-05-23 06:10] drelaptop commented on #13889
问题已经 2 年没得到开发者回应，直接关闭，后续有问题建议在中文论坛讨论

[2018-05-23 06:10] #13889 closed, assigned to nobody

[2018-05-23 06:11] drelaptop commented on #13924
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@c3076802

[2018-05-23 06:11] #13924 closed, assigned to nobody

[2018-05-23 06:13] drelaptop commented on #13898
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@xkf815

[2018-05-23 06:13] #13898 closed, assigned to nobody

[2018-05-23 06:15] drelaptop commented on #13072
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@c3076802 @zilongshanren @dualface

[2018-05-23 06:15] #13072 closed, assigned to nobody

[2018-05-23 06:16] drelaptop commented on #13739
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@zeyangl @felixjingga @jgod

[2018-05-23 06:16] #13739 closed, assigned to nobody

[2018-05-23 06:17] drelaptop commented on #13642
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@rpazyaquian

[2018-05-23 06:17] #13642 closed, assigned to nobody

[2018-05-23 06:17] drelaptop commented on #13742
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@zeyangl

[2018-05-23 06:17] #13742 closed, assigned to nobody

[2018-05-23 06:18] drelaptop commented on #13609
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@YangFeiFly

[2018-05-23 06:18] #13609 closed, assigned to nobody

[2018-05-23 06:19] drelaptop commented on #13676
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@anjandaffo

[2018-05-23 06:19] #13676 closed, assigned to nobody

[2018-05-23 06:20] drelaptop commented on #13623
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@backviet @dakabang @pandamicro @fusijie

[2018-05-23 06:20] #13623 closed, assigned to nobody

[2018-05-23 06:21] drelaptop commented on #13712
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@foxhu17

[2018-05-23 06:21] #13712 closed, assigned to nobody

[2018-05-23 06:21] drelaptop commented on #13720
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@woc2006

[2018-05-23 06:21] #13720 closed, assigned to nobody

[2018-05-23 06:22] drelaptop commented on #13621
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@man2 @dakabang

[2018-05-23 06:22] #13621 closed, assigned to nobody

[2018-05-23 06:23] drelaptop commented on #13562
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@anjandaffo

[2018-05-23 06:23] #13562 closed, assigned to nobody

[2018-05-23 06:23] drelaptop commented on #13450
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@builden

[2018-05-23 06:23] #13450 closed, assigned to nobody

[2018-05-23 06:25] drelaptop commented on #13384
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@GurudathTS

[2018-05-23 06:25] #13384 closed, assigned to nobody

[2018-05-23 06:25] drelaptop commented on #13226
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@gstolarov

[2018-05-23 06:25] #13226 closed, assigned to nobody

[2018-05-23 06:26] drelaptop commented on #13350
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@Zinitter

[2018-05-23 06:26] #13350 closed, assigned to nobody

[2018-05-23 06:26] drelaptop commented on #13341
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@ginealgames

[2018-05-23 06:26] #13341 closed, assigned to nobody

[2018-05-23 06:27] drelaptop commented on #13322
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@kingchimp

[2018-05-23 06:27] #13322 closed, assigned to nobody

[2018-05-23 06:27] drelaptop commented on #13278
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@Dredok

[2018-05-23 06:27] #13278 closed, assigned to nobody

[2018-05-23 06:27] drelaptop commented on #13244
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@folgerhu

[2018-05-23 06:27] #13244 closed, assigned to nobody

[2018-05-23 06:28] drelaptop commented on #12913
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@pkxpp

[2018-05-23 06:28] #12913 closed, assigned to nobody

[2018-05-23 06:28] drelaptop commented on #13156
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@Dredok

[2018-05-23 06:28] #13156 closed, assigned to nobody

[2018-05-23 06:28] drelaptop commented on #12876
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@folgerhu

[2018-05-23 06:28] #12876 closed, assigned to nobody

[2018-05-23 06:30] drelaptop commented on #12803
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@minemilk

[2018-05-23 06:30] #12803 closed, assigned to nobody

[2018-05-23 06:31] drelaptop commented on #12655
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@Jumes

[2018-05-23 06:31] #12655 closed, assigned to nobody

[2018-05-23 06:31] drelaptop commented on #12605
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@tony-hoang999

[2018-05-23 06:31] #12605 closed, assigned to nobody

[2018-05-23 06:32] drelaptop commented on #12573
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@Mazyod

[2018-05-23 06:32] #12573 closed, assigned to nobody

[2018-05-23 06:33] drelaptop commented on #12486
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@xzben

[2018-05-23 06:33] #12486 closed, assigned to nobody

[2018-05-23 06:34] drelaptop commented on #12029
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@dariodepaolis

[2018-05-23 06:34] #12029 closed, assigned to nobody

[2018-05-23 06:34] drelaptop commented on #12170
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@davewang

[2018-05-23 06:34] #12170 closed, assigned to nobody

[2018-05-23 06:35] drelaptop commented on #12024
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@wangzongjun

[2018-05-23 06:35] #12024 closed, assigned to nobody

[2018-05-23 06:35] drelaptop commented on #12578
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@jie-meng

[2018-05-23 06:35] #12578 closed, assigned to nobody

[2018-05-23 06:36] drelaptop commented on #12035
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@sbrednikhin

[2018-05-23 06:36] #12035 closed, assigned to nobody

[2018-05-23 06:36] drelaptop commented on #12021
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@pandamicro

[2018-05-23 06:36] #12021 closed, assigned to nobody

[2018-05-23 06:36] drelaptop commented on #11997
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@stevetranby

[2018-05-23 06:36] #11997 closed, assigned to nobody

[2018-05-23 06:37] drelaptop commented on #11996
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@tankorsmash

[2018-05-23 06:37] #11996 closed, assigned to nobody

[2018-05-23 06:37] drelaptop commented on #11981
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@aababy

[2018-05-23 06:37] #11981 closed, assigned to nobody

[2018-05-23 06:37] drelaptop commented on #11746
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@jphw

[2018-05-23 06:37] #11746 closed, assigned to nobody

[2018-05-23 06:38] drelaptop commented on #11755
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@jyoxun @dariodepaolis

[2018-05-23 06:38] #11755 closed, assigned to nobody

[2018-05-23 06:39] drelaptop commented on #8668
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@ahlwong

[2018-05-23 06:39] #8668 closed, assigned to nobody

[2018-05-23 06:39] drelaptop commented on #8634
Not any developers concern this issue for more than 2 year, so just close it. please reopen if disagree.
@pyrosphere

[2018-05-23 06:39] #8634 closed, assigned to dabingnn

[2018-05-23 06:43] drelaptop commented on #13763
问题已经 2 年没得到开发者回应，直接关闭，后续有问题建议在中文论坛讨论 @crystal891002

[2018-05-23 06:43] #13763 closed, assigned to nobody

[2018-05-23 06:51] drelaptop commented on #11299
not a bug, suggest discuss this at Chinese forum, http://forum.cocos.com/c/cocos2d-x

[2018-05-23 06:51] #11299 closed, assigned to nobody

[2018-05-23 07:03] drelaptop commented on #9226
when 3.17 release tested, same issue doesn't occurs. so close this

please reopen if you reproduce it using latest code. @zilongshanren

[2018-05-23 07:03] #9226 closed, assigned to zilongshanren

[2018-05-23 07:17] JoHuang commented on #14009
Hi
I think in the newer version, this line fixes this issue.

https://github.com/cocos2d/cocos2d-x/blob/18a6d8241d9a1290bfd6341ea6159877906d780a/cocos/platform/android/jni/JniHelper.cpp#L291

Thanks

[2018-05-23 07:31] drelaptop commented on #16543
this issues should be closed, because it have been solved. @wulv1985 @jminht

[2018-05-23 07:31] #16543 closed, assigned to nobody

[2018-05-23 07:43] drelaptop commented on #17515
cocos2d-x docs have been updated, new docs site http://cocos2d-x.org/docs/cocos2d-x/en/

please new issues or discuss at [forum](https://discuss.cocos2d-x.org/c/cocos2d-x/cpp) if building errors occur when using 3.17 release.

[2018-05-23 07:43] #17515 closed, assigned to nobody

[2018-05-23 08:10] drelaptop commented on #18695
@crazyhappygame this have been fixed at 3.17 release, it's due to https://github.com/cocos2d/cocos2d-x/pull/18629, that PR have been revert.

[2018-05-23 08:10] #18695 closed, assigned to nobody

[2018-05-23 08:19] drelaptop commented on #18691
__armeabi__ have been Deprecated in r16. Will be removed in r17. No hard float.

[2018-05-23 08:19] #18691 closed, assigned to nobody

[2018-05-23 08:30] drelaptop commented on #18667
`gen-libs` have been tested when 3.17 release

please reopen it if you reproduce same issue with cocos2d-x 3.17 @deguilardi

[2018-05-23 08:30] #18667 closed, assigned to nobody

[2018-05-23 08:34] #18656 closed, assigned to nobody

[2018-05-23 08:37] drelaptop commented on #18666
this issue have been replied, so close it

[2018-05-23 08:37] #18666 closed, assigned to nobody

[2018-05-23 08:49] drelaptop commented on #18607
suggest to discuss the Android build at https://discuss.cocos2d-x.org/c/cocos2d-x/cpp

[2018-05-23 08:49] #18607 closed, assigned to nobody

[2018-05-23 08:52] drelaptop commented on #18546
@mozartalouis this have been fixed when cocos2d-x 3.17 release, you can test it by cocos2d-x-3.17 tag

[2018-05-23 08:52] #18546 closed, assigned to nobody

[2018-05-23 09:02] #18676 closed, assigned to nobody

[2018-05-23 09:11] drelaptop commented on #10016
@can't reproduce this issue by cocos2d-x 3.17, so close.

please reopen if you reproduce it using GitHub latest code. @samuele3hu @super626

[2018-05-23 09:11] #10016 closed, assigned to nobody

[2018-05-23 09:16] drelaptop commented on #11582
I think it's a out-dated feature request for cocos2d-x now, so close it. @walzer @pandamicro

[2018-05-23 09:16] #11582 closed, assigned to pandamicro

[2018-05-24 00:37] rh101 opened #18845 "Typo in cocos_find_prebuilt_lib_by_name"
- cocos2d-x version: 3.17
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

In CocosBuildHelpers.cmake:

Function: cocos_find_prebuilt_lib_by_name

message(STATUS "find cocos prebuilt library: ${found_lib}")

should be

message(STATUS "found cocos prebuilt library: ${found_lib}")

The text in the logs from this funct

[2018-05-24 01:11] drelaptop commented on #18845
thanks, I will correct it @rh101

[2018-05-24 01:43] rh101 opened #18846 "libcpufeatures.a is outputted to the wrong path on build"
- cocos2d-x version: 3.17
- devices test on: N/A
- developing environments
   - NDK version: r16b
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

gradle.properties:
PROP_BUILD_TYPE = cmake

gradle.build cmake section:
`arguments “-DGEN_COCOS_PREBUILT=ON”, “-DUSE_COCOS_PREBUILT=OFF”`

The output folder I set contains these prebuilt libraries after I do a build (andr

[2018-05-24 03:10] ghost commented on #18840
I'm disposed to agree with @Dimon4eg , add define to `ccConfig.h` for 3D part of cocos2d-x.

[code]

And as I know, some guys are developing 3D for [Creator](https://github.com/cocos-creator/cocos2d-x-lite). So please do not remove the 3D of cocos2d-x but add 3D to [Creator](https://github.com/cocos-creator/cocos2d-x-lite).

[2018-05-24 21:24] crazyhappygame commented on #18717
@drelaptop Please check below repository https://github.com/crazyhappygame/modern_cmake
As example I setup Box2D and recast (two cocos2d-x-3rd-party-libs) to compile and use cmake. There is also set travis linux/mac and windows CI build for that repo. (to check that it really works).

Please check how nice and simple are all CMakeLists.txt files when you use modern cmake and you compile all from s

[2018-05-25 01:55] drelaptop commented on #18717
@crazyhappygame that's wonderful, I want to improve the cmake using modern cmake in 3.18 milestone.

I find you use `file(GLOB_RECURSE SOURCES Box2D/*.cpp)` to collect the source files, but it's not a way that cmake official suggest us to use.

`cmake_minimum_required(VERSION 3.9)` is 3.9+ release necessary for using modern cmake? or only 3.1+

if we can find a better way to use generated libs by

[2018-05-25 01:56] #18846 closed, assigned to nobody

[2018-05-25 01:59] ghost opened #18851 "cocos command 3.17 breaks compatibility"
- cocos2d-x version: 3.16
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. set cocos to cocos2d-x 3.17 version
2. create test project with cocos2d-x 3.16
3. `cocos run -p android`

[code]

[2018-05-25 02:13] drelaptop commented on #18851
refer to the release notes, https://github.com/cocos2d/cocos2d-x/blob/v3/docs/RELEASE_NOTES.md#remove-outdated

So, it breaks compatibility. I don't think it's a bad behavior, just a improvement. you should use the cocos console inside cocos2d-x 3.16 when you build 3.16 test project, 3.17 same.

[2018-05-25 02:26] drelaptop opened #18852 "button touch event error when buttons overlap"
- cocos2d-x version: latest code

- detail discuss, https://discuss.cocos2d-x.org/t/overlapping-events/42599

### Description
I’m having problems with buttons events.
in my main scene, I’ve a ‘Play’ button and this is the event that I defined:
[code]
It works fine.
Below Play button, I’ve another button, and when I touch that button it opens a window (i created a layer and added a window image, wi

[2018-05-25 02:41] #18851 closed, assigned to nobody

[2018-05-25 02:42] #18845 closed, assigned to drelaptop

[2018-05-25 06:39] crazyhappygame commented on #18717
@drelaptop
I change GLOB_RECURSE to list of files.

CMake 3.9 was used because this is in Travis and appveyor. CMake 3.1 should be fine.

About prebuilds. Prebuilds are for free with this folder structure(CMakeLists.txt in root do prebuilds). "game1" "game2" reuse engine build. Please check e.g Travis build output engine is compiled only once.

[2018-05-25 08:30] crazyhappygame commented on #18717
About cmake version. Cmake official Android support was added in cmake 3.7. Cmake 3.9 was released one year ago.

[2018-05-26 05:29] rh101 opened #18854 "COCOS2D_DEBUG=1 is missing in Win32 MSVC debug build"
- cocos2d-x version: 3.17
- devices test on: N/A
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2017 Community Edition
   - browser type and version:

Steps to Reproduce:

1. As per the CMake Cocos2d-x guide, run:
cmake .. -G"Visual Studio 15 2017" -Tv141

2. Open the solution file in VS, and you will notice that for the debug build COCOS2D_DEBUG is not defined at

[2018-05-26 06:22] halx99 commented on #15537
@drelaptop @minggo
this issue should be close.
 It's a flexiable encrypt solution, the repo is changed to be: https://github.com/halx99/x-studio365/blob/master/encrypt-demo/cpp-empty-test/Classes/EncryptManager.cpp

[2018-05-26 15:00] drelaptop commented on #15537
@halx99 thanks for this feedback.

[2018-05-26 15:00] #15537 closed, assigned to minggo

[2018-05-27 15:26] drelaptop commented on #18854
@rh101 could you review and test https://github.com/cocos2d/cocos2d-x/pull/18856 ?

that PR fix this issue, and clear `set compile options` and `set macro definitions`.

[2018-05-28 00:06] rh101 commented on #18854
@drelaptop Sure, I'll test today.

One more thing, at the moment optimizations are turned on for the debug build, which means you cannot step through the source properly if debugging.  I've turned it on in the game CMakeLists.txt, so it's not an issue, but in case you want it enabled in the compiler options, then add the /Od flag to the CMAKE_CXX_FLAGS_DEBUG in the MSVC section too:

set(CMAKE_CXX

[2018-05-28 01:11] rh101 commented on #18854
@drelaptop I tested both the Android build with Android Studio, and Win32 build with Visual Studio 2017, and they both seem to work fine with the changes you've made in #18856

[2018-05-28 01:27] #18854 closed, assigned to drelaptop

[2018-05-28 08:31] Priority10 opened #18859 "Can not access http://discuss.cocos2d-x.org/"
I know that github is not the place for such questions, but since I can not access the en forum... so this is the only option for me. I will close the issue later.

When I try to access the site http://discuss.cocos2d-x.org/ I get this

Sometimes I can access, but 99% of the time I can not. It started about a month ago.
What is it? USA Sanctions? The last time I checked I was not on the sanctions

[2018-05-28 08:38] v1993 commented on #18859
@Priority10 I don't have any problems, but use TOR and can't access http://discuss.cocos2d-x.org/ without it (I'm almost sure that it is russian-specific block). Can you also try TOR, please?

[2018-05-28 08:47] Priority10 commented on #18798
I remember that topic, and to be honest I do not think that the engine needs a new resolution. Since you can get the same result using current `ResolutionPolicy`s.
If you are interested, I can look at this in more detail when I can again access the forum.

[2018-05-28 09:10] Priority10 commented on #18859
@v1993  Probably I will use Tor (never used it before) or some vpn services, if @slackmoehrle  can not do some admin magic. Other forums that using discourse.org work for me, so I thought it is something specific to this forum.
and for Russia of course. Thank Roskomnadzor. : /

[2018-05-28 22:20] PaulDiakov commented on #18785
In CCRenderer.cpp `drawBatchedTriangles` trigger condition in `processRenderCommand` looks like
`_filledVertex + cmd->getVertexCount() > VBO_SIZE || _filledIndex + cmd->getIndexCount() > INDEX_VBO_SIZE`
It looks like poorly handled edge case: if `_filledIndex + cmd->getIndexCount()` is equal to `INDEX_VBO_SIZE`, cmd will be pushed to `_queuedTriangleCommands` and in `fillVerticesAndIndices`  `_ind

[2018-05-29 07:39] eeeeegit opened #18861 "android device don't show keyboard when click editbox"
- cocos2d-x version:3.15-lua
- devices test on:oppo CPH1609 (F3)
- developing environments
   - NDK version:r8e
  -  Android Studio Version:3.1.1

Steps to Reproduce:

1. open a scene where have a cc.ui.editbox
2. lock my deviec
3. un lock my device

and then i want to click the editbox and i hope the keybroad show on my device, but it didn't happen.
the file Cocos2dxEditBoxHelper.java and then li

[2018-05-29 08:32] crazyhappygame commented on #18717
@drelaptop I added android appveyor and Travis CI configuration to: https://github.com/crazyhappygame/modern_cmake

I have problems with setting up iOS...

I really think that we need to setup cmake for cocos2d-x-3rd-party-libs and compile cocos2d-x from source code.

Once again.... Please check how nice and simple are all CMakeLists.txt files when you use modern cmake and you compile all from sou

[2018-05-29 09:19] sergey-shambir opened #18862 "CMake project still named "TemplateCpp" after using cocos tool"
- cocos2d-x version: 3.17
- devices test on: Desktop Linux - Ubuntu 18.04
- developing environments
   - NDK version: -
   - Xcode version: -
   - VS version: -
   - browser type and version: -

Steps to Reproduce:

1. Run `cocos new AnyGame -p org.AnyCompany.AnyGame -l cpp` to create project with cocos2dx command-line tool
2. Open `CMakeLists.txt`
3. Now you can see an issue: project named "Templ

[2018-05-29 11:01] drelaptop commented on #18862
thanks for this feedback, the cocos tool only copy all the CMakeLists.txt files directly now, and this feature should be done in 3.18.

[2018-05-29 11:06] Swipes13 commented on #18004
hi!
have this issue only on two devices by hockey app:

Asus ASUS_TOOP and HTC ONE DUAL SIM

Stacktrace shows the same:
--
PcmAudioService.cpp | cocos2d::experimental::PcmAudioService | pause | 182
AudioEngine-inl.cpp | cocos2d::experimental::AudioEngineImpl | onEnterBackground | 195
functional | std::__ndk1::__function::__func<(lambda at /Users/Dmitry/PocketTower/proj.android-studio/app/jni/../..

[2018-05-29 11:13] Swipes13 commented on #18004
@dumganhar plz, look

[2018-05-29 13:52] drelaptop commented on #18717
@crazyhappygame thanks for this great work. I will set it higher priority into 3.18 milestone.

according to @minggo 's suggestion, at this time I am researching a critical audio crash issue (#18597). after this I think I need to solve some network critical issues. and then do the cmake for 3rd-party-libs, cocos CLI support cmake (for example #18862 ).

[2018-05-29 14:13] georgeraraujo opened #18864 "After first call to addPhysics3DConstraint(), app crashes on exit"
- cocos2d-x version: 3.17
- devices test on: win32 desktop (Windows 8.1 64-bit)
- developing environments
   - VS version: VS2015

Steps to Reproduce:

1. Run Physics3D Test - Physics3D Constraint (it is the second test). It will call https://github.com/cocos2d/cocos2d-x/blob/18a6d8241d9a1290bfd6341ea6159877906d780a/tests/cpp-tests/Classes/Physics3DTest/Physics3DTest.cpp#L407
2. Close the applicat

[2018-05-29 16:26] lost-guadelenn commented on #17478
Hi

VAO is a built-in feature of GL ES 3.0
https://www.khronos.org/registry/OpenGL-Refpages/es3.0/html/glBindVertexArray.xhtml
You probably don't need to check for extension to use it.

Removing ES 3.0 support breaks another feature: iPhone devices stop reporting ASTC support, which is important in my project.

[2018-05-29 20:05] crazyhappygame commented on #18717
@drelaptop If you do not mind I propose the following plan:
1. Create new repo e.g. "cocos2d/cocos2d-x-external"
2. Copy https://github.com/crazyhappygame/modern_cmake to "cocos2d/cocos2d-x-external"
3. Setup CI travis, appveyor (fix iOS CI build configuration, add more configurations for android: e.g.: arm64-v8a, x86)
4. Copy all source code from cocos2d-x-3rd-party-libs (current version of cocos

[2018-05-30 01:19] minggo commented on #17478
Yep, VAO checking can be removed if using GL ES 3.0, but as i mentioned above, currently we can not move to support GL ES 3, you can do it in your project.

[2018-05-30 02:49] drelaptop commented on #18717
@crazyhappygame thanks, it's really a good plan.

I want to start this work now, but at this time I have to solve some critical issues. for I can't spend all my time into improving the cocos2d-x build. After some issues solved, I will discuss this with @minggo .

Anyway adding cmake support for all 3rd-party libs is meaningful. it will make custom 3rd libs easier, and upgrade 3rd libs quicker. wha

[2018-05-30 04:48] Sinix512 commented on #17949
It has been a year since this issue were opened. Although it is not hard to fix for experienced users, it does cause serious problem frequently for amateurs.

[2018-05-30 09:05] drelaptop commented on #18597
I have added a test case at #18865, it's easy to reproduce this issue by calling `AudioEngine::play2d` and `AudioEngine::stop` frequently.

running this case, crash often occurs in 2 minutes on  iOS device, but didn't crash on macOS for more than 30 minutes, even most logic of AudioEngine is same between iOS and macOS platform.

through enable Diagnostics  on Xcode, I got the double free stack tra

[2018-05-30 09:12] lost-guadelenn commented on #17478
Yes, we will fix this in our project.

But I want to say that cocos engine knows exactly GL context version it uses. (Because is explicitly binds a specific version).
And in a case of GL ES 3 function supportsShareableVAO() may return true without any checks.

Here is a pseudocode illustration to my idea:
[code]
This will allow you to bind GL ES 3 to gain more performance and also use VAO on devic

[2018-05-30 09:52] #15506 closed, assigned to nobody

[2018-05-30 12:55] drelaptop opened #18867 "[Windows / Android Studio] long file path cause build errors"
- cocos2d-x version: 3.17
- devices test on: empty lua project by `cocos new` generate
- developing environments
   - Android Studio
- build by Android.mk

error logs like:
[code]
move project folder `LuaDemo2` into `E:/`, errors disappear. but it's unfriendly.

[2018-05-31 07:22] shaniamjad commented on #18510
Guys, any update on fixing this crash? I am having a similar crash on crashlytics for my app as well.

<img width="986" alt="screen shot 2018-05-31 at 12 21 48 pm" src="https://user-images.githubusercontent.com/6037560/40767901-43382de0-64cd-11e8-83cc-1117bdfc2d23.png">

[2018-05-31 09:59] JoHuang commented on #17714
I met this, too.

[2018-06-01 01:45] drelaptop commented on #18867
Another developer report this, this is a bad design to own so depth path for external header files， especially for JS & Lua project.

[code]
 https://discuss.cocos2d-x.org/t/cocos2d-x-v3-17-released/42614/23

[2018-06-01 03:11] #17714 closed, assigned to nobody

[2018-06-01 07:32] drelaptop commented on #18571
since solved by #18751 , issue should be closed

[2018-06-01 07:32] #18571 closed, assigned to nobody

[2018-06-02 19:10] georgerbr commented on #18864
I found out that this assert is firing:

https://github.com/bulletphysics/bullet3/blob/19f999ac087e68ffc2551ffb73e35e60271a0d27/src/BulletDynamics/Dynamics/btRigidBody.h#L178-L185

So it looks like the advice given here is being violated:

https://github.com/bulletphysics/bullet3/blob/19f999ac087e68ffc2551ffb73e35e60271a0d27/src/BulletDynamics/Dynamics/btRigidBody.h#L182

[2018-06-02 19:17] georgeraraujo commented on #18864
I found out that [this assert](https://github.com/bulletphysics/bullet3/blob/19f999ac087e68ffc2551ffb73e35e60271a0d27/src/BulletDynamics/Dynamics/btRigidBody.h#L178-L185) is firing:

[code]

So it looks like the advice given [in the comment](https://github.com/bulletphysics/bullet3/blob/19f999ac087e68ffc2551ffb73e35e60271a0d27/src/BulletDynamics/Dynamics/btRigidBody.h#L182) is being violated:

[co

[2018-06-02 21:57] crazyhappygame commented on #18867
Is it new issue? I mean in new cocos2d-x.3.17 or new Ndk 16 ?

[2018-06-03 02:50] seventhrank opened #18873 "Sprite line thickness is strange. And then disappear (v3.17)"
https://discuss.cocos2d-x.org/t/the-thickness-of-the-line-falls-apart/42712

cocos2dx 3.17 (C++)
NDK r16b
Android 6.0 (huawei vns-l22)

I draw lines with Sprite.
After updating to v3.17, the thickness of lines become disjointed with some Android.
It is beautifully lined up in v3.14.1.

Sprite line code.
[code]

3.17
<img src="https://user-images.githubusercontent.com/32508053/40882664-2256292a-672

[2018-06-03 04:22] drelaptop commented on #18867
yep, a new issues, cocos2d-x 3.17  on Windows.

It seems like errors occur when the file path is  more than 256 . A cocos2d-x user develop a tool to solve this issue, refer to https://discuss.cocos2d-x.org/t/the-solution-of-ndk-compile-system-longpaths-issue-on-windows-platform/42705

[2018-06-03 08:57] Priority10 commented on #18859
So, it is been 6 days, and there is no response.
I am beginning to seriously think that this is like local anti-Russian sanctions.

@minggo @drelaptop Could you get any comment from @slackmoehrle , please?

[2018-06-03 09:01] Priority10 commented on #18867
I just want to hug @halx99 for it! :D

[2018-06-03 11:49] crazyhappygame commented on #18867
It seems like it can be improved by *_SHORT_COMMANDS. Please see:
https://developer.android.com/ndk/guides/android_mk
And what about "android cmake". Do we have the same issue?

[2018-06-03 11:59] drelaptop commented on #18859
@Priority10 In China I can access http://discuss.cocos2d-x.org/ in my apartment, but recently I can't access it until some VPN service is enabled in office. Probably because of different network service provider or something special. I don't know why. Do you know something about it @slackmoehrle ?

[2018-06-03 14:21] slackmoehrle commented on #18859
@Priority10 According to Discourse you haven't been on the forums since Feb 10, 2018

<img width="377" alt="screen shot 2018-06-03 at 10 18 19 am" src="https://user-images.githubusercontent.com/7491758/40887478-892a5b24-6717-11e8-95f6-fe534831f18a.png">

The ERR you are getting is weird. What country are you in? Perhaps their are local blocking issues, this why TOR was mentioned or a VPN. We host

[2018-06-03 17:56] Priority10 commented on #18859
@drelaptop Thanks for the reply! It is strange that you have this problem, too.

@slackmoehrle In fact, I check the forum several times a week, I just do not log in. :p

Nope. Nope. Nope. Nope. Nope.

I do not use Telegram, but when I googled the reasons why the forum is not available in Russia, I accidentally found the news about the blocking of Telegrams and many other sites along with it. Now w

[2018-06-03 18:09] Priority10 commented on #18680
Please explain why do you think so?

This method is often used for simple collision detection. It seems to me quite logical that this is inclusive.

[2018-06-03 18:23] Priority10 commented on #18492
@slackmoehrle  Well, it is been a while. Any chance that something of this will go into 3.18?
If you do not like logic or code, I will be happy to discuss this. If you think that the issue should be closed, I will also gladly do it.

[2018-06-03 18:33] Anywhere-Music-Player commented on #18616
@drelaptop It's actually urgent for any game or programmer who's using scroll or page view.

[2018-06-03 22:39] slackmoehrle commented on #18492
I think we need this too. I just need to get it done. I can use your ideas above to start.

[2018-06-03 22:42] slackmoehrle commented on #18859
We already use a floating IP from DO so we can't change IP's like that.  So you can access the forums unless you need to login?

[2018-06-04 02:40] rh101 opened #18874 "UIRichText should not be trimming spaces in RichElementText"
- cocos2d-x version: 3.17
- devices test on: N/A
- developing environments
   - NDK version: N/A
   - Xcode version: N/A
   - VS version: VS2017
   - browser type and version: N/A

Steps to Reproduce:

A change made in 3.17, one of which is #18447, the other being #18751, introduced right side text trimming for a RichElementText even if it's not splitting a line, which is incorrect behavior.

A UI

[2018-06-04 04:13] tjudemon commented on #18794
Also the same problem. Almost on ios 11. Everyday thousands of crashs are almost there of below. I used cocos3.3, but never occured until ios 11 came out.

Bugly crash stack1:

0 AudioToolbox | _CrashIfClientProvidedBogusAudioBufferList + 56
-- | --
1 AudioToolbox | AudioConverterConvertComplexBuffer + 920
2 AudioToolbox | AUSpatialMixer::Render(unsigned int&, AudioTimeStamp const&, unsigned int) 

[2018-06-04 07:05] rh101 commented on #18874
I've got a working fix for this issue, without breaking the functionality required by the changes in #18447 and #18751 that I will create a pull request for soon.

One question though that I need input on first, do you want trimming to be default ON or OFF?

If it is default OFF, we can create a flag called:
RichElementText::TRIM_TRAILING_WHITESPACE to turn trimming on.

If you want it to be defau

[2018-06-04 08:32] drelaptop commented on #15137
https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/304 have restored libmod.so.6 symlink

since issue have been fixed at latest code. this should be closed.

[2018-06-04 08:32] #15137 closed, assigned to minggo

[2018-06-04 09:49] summerinsects commented on #18874
~~The label with text '___and 3 spaces after image' is same as the text 'and 3 spaces after image' in its content size.
It is the reason why the string seems be trimmed~~

skip spaces in handleTextRenderer() is for the case below
text______________________________________text

it may cut in the continuous spaces, i.e.
text_____________[cut here]_________________________text
I trim it to make the r

[2018-06-04 09:56] crazyhappygame commented on #18717
@drelaptop for you info: added  android x86, x86_64, arm64-v8a ci configs, and iOS (unfortunetlt works on my mac , fails on Travis) to repo https://github.com/crazyhappygame/modern_cmake

[2018-06-04 10:02] rh101 commented on #18874
@summerinsects I'm not quite sure what you mean. Assuming trailing spaces are trimmed, and the line is too long to fit into the width of the label, then "text______________________________________text", with right alignment, should show up as this in 3.17 (which is expected, and correct, all right side space stripped):
[code]

In v3.16 and prior, it would have shown up as something like this with

[2018-06-04 10:30] rh101 commented on #18828
The fix for this isn't so simple, so I've reverted the change I made.  It failed the UIRIchTextTest:1 test case in the cpp-tests project, since the animation based on the cocostudio::Armature that was inserted as a RichElementCustomNode element started moving off the screen every time the 'alignment' button was pressed.

[2018-06-04 13:35] seventhrank commented on #18873
It's very troubled.
Is there a solution?

[2018-06-04 15:49] rh101 commented on #18828
I've found a work-around in my game which makes this a non-issue.  You can close it if you wish, unless you want this to be part of the UIRichText RichElementCustomNode code.

How I got around the issue is by creating a cocos2d::Node as the parent of the sprite that I want display, then I insert that parent node into RichElementCustomNode. I am then free to adjust the position of the sprite, while

[2018-06-05 02:05] summerinsects commented on #18874
Yes, leading spaces in a new line should not be trimmed. Your PR is perfect

For leading spaces or trailing spaces in one RichElementText, with your test code, i got the correct output
[code]

![image](https://user-images.githubusercontent.com/7703197/40950654-3ea85b88-68a6-11e8-8e8d-679e9a016018.png)

[2018-06-05 02:35] rh101 commented on #18874
@summerinsects Thank you for testing it.  I've gone through all the test cases in the cpp-tests project relating to Labels and UIRichText, and visually they all seem correct, so I'm hoping it works for everyone.

[2018-06-05 04:52] kiranb47 opened #18877 "Open GL ES is deprecated in iOS 12"
Apps built using OpenGL ES will continue to run in iOS 12, but Open GL ES is deprecated in iOS 12. Games and graphics-intensive apps that previously used OpenGL ES should now adopt Metal.

https://developer.apple.com/ios/whats-new/#deprecationofopengles

Any plans cocos to adopt metal api?

[2018-06-05 05:35] mars3142 opened #18879 "update flatbuffers to a more recent version"
- cocos2d-x version: 3.17

The current flatbuffers version in cocos2d-x is still v1.0.

If you look at the flatbuffers repo (https://github.com/google/flatbuffers/releases) you'll see v1.9.0 (as of today). I understand that requirement, because of cocos studio, but this has reached EOL and so the support should be removed (or also updated) in the next release of cocos2d-x.

PS: It should not be an

[2018-06-05 06:26] seventhrank commented on #18873
cocos2dx 3.16 is no problem.
It is probably a bug of 3.17.

3.16
<img src="https://user-images.githubusercontent.com/32508053/40959491-cc76b2da-68d7-11e8-86df-0f79b1334c47.png" width="400">

[2018-06-05 07:48] xerosugar opened #18880 "Feature req: Add some customization to transitions"
- cocos2d-x version: 3.16

Would be nice if transitions like`TransitionSplitRows` allowed users to specify how many rows to split the screen in.

[2018-06-05 08:06] Priority10 commented on #18859
@slackmoehrle What is DO?
OK, I used to read the forum several times a week in the past, but now it is just not available to me 99 percent of the time. And like I said

Since the Telegram and some of the Digital Ocean ips were blocked on April 17-18, I am 99 percent sure that now the forum is not available to ALL users from Russia. I do not know if you care about this category of users, but.. okay

[2018-06-05 08:09] Priority10 commented on #18492
Cool.) When do you plan to start working on this?

[2018-06-05 10:11] superrad commented on #18877
If Metal support is added to cocos2dx it can't remove OpenGL ES support for older iOS devices.

Things like the iPhone 5, iPhone 5c and 2012 iPad support up to iOS 10 and don't support Metal. If Apple maintains their deprecation schedule of iOS versions (we're currently on iOS 11 and they still support iOS 8) when iOS 13 (the version after 12) it's likely that 10 will still be supported after Open

[2018-06-05 11:32] drelaptop commented on #18597
I have enough reasons to judge it as a iOS internal issue, have feedback it at [forums.developer.apple](https://forums.developer.apple.com/message/314303), for now I have found a not so perfect solution to solve this issue, I tested this on iPhone8. it works well.

what I said not so perfect is that it play unfinished buffer (about 0.2-0.3 seconds) on main thread when stop a bigger audio play task

[2018-06-05 13:03] gegegi commented on #18877
minimum device that support iOS12 is 5s.
so OpenGL ES must be supported until the minimum target) is reached or exceeded 5s
Supporting metal is really a pleasure, but I do not think it is a top priority.

[2018-06-05 14:21] kiranb47 commented on #18877
I think MoltenVK will be a solution.
https://github.com/KhronosGroup/MoltenVK

[2018-06-05 15:39] sp-dani-garcia commented on #18877
Good opportunity to move to https://github.com/bkaradzic/bgfx like discussed here https://trello.com/c/B3M75FKd/133-grahpics-metal-render.

[2018-06-05 15:59] gxloveyy opened #18881 "dirty memory read while in generateMaterialID"
- cocos2d-x version: 3.16
- devices test on: onePlus 3
- developing environments

Steps to Reproduce:
In some level of my game, the Gl-call araises to almost 200. After debuging, I am sure the problem is the wrong material-ID, which breaks the batch command. details below:

In "generateMaterialID" there is a struct:
struct {
GLuint textureId;
GLenum blendSrc;
GLenum blendDst;
void* glProgramState;

[2018-06-05 17:48] slackmoehrle commented on #18859
There are users from Russia on the forums every day.

If there is an IP block someplace, I am not sure how I would solve this. I dont know anything about Telegram or how it is used or what people use it for.

[2018-06-05 17:55] slackmoehrle commented on #18877
Thanks everybody for the input. As you can imagine this is news to us and we will need to decide how we handle this. I don't have any information or a plan of attack yet to share. Stay tuned.

[2018-06-05 23:58] rh101 commented on #18874
The pull request has been tested by another user for a similar issue, and it works. Refer to:
https://discuss.cocos2d-x.org/t/label-setstring-strips-white-spaces-at-the-end-i-require-it-not-to-what-can-i-do/42733/2

[2018-06-06 01:53] minggo commented on #18877
Yep, we should start to support metal before OpenGL ES is removed. And we will keep OpenGL ES support as well since Android needs it too. And i think Android may deprecated OpenGL ES some time.

[2018-06-06 02:22] vkreal commented on #18877
Good to hear about path moving forward! @minggo what will replace OpenGL ES for Android?

[2018-06-06 03:32] minggo commented on #18877
I think OpenGL ES will be kept for a long time, we plan to support multi-backend.

[2018-06-06 03:32] minggo commented on #18877
I think we will choose vulkan.

[2018-06-06 04:05] deguilardi commented on #18105
@yingnierxiao do you use admob or google maps?

[2018-06-06 06:22] ShuraLiu commented on #18597
I will test the PR, and thank you so much for your hard work! @drelaptop

[2018-06-06 08:28] drelaptop commented on #17426
As @pablorealini said , `tested this on version 3.15 and it seems to be working.` and what your feedback occurs on 3.4. so I think it's a out-dated issue, just close this.

please reopen it if you found same issue on latest code @lee2doge

[2018-06-06 08:28] #17426 closed, assigned to dumganhar

[2018-06-06 10:09] drelaptop commented on #18597
Some improvements have been updated into that PR, `QUEUEBUFFER_TIME_STEP` have been changed to `0.05` to reduce the cost time of unquene buffers.  If you want to know how the rotateBufferThread works, you can refer to [streaming-in-openal](http://benbritten.com/2010/05/04/streaming-in-openal/) @ShuraLiu

[2018-06-06 18:18] slackmoehrle commented on #18873
I can confirm this happening on 3.17 and on iOS too.

v3.16 no problem. Works as expected.

[2018-06-07 03:27] rh101 commented on #18828
@drelaptop I'm going to close this issue, since it isn't a bug, but it can be improved.  I can make another issue related to a code improvement, as mentioned in my post above about the change to RichElementCustomNode::init(), but it isn't necessary at all, since it can be handled in the calling code.

[2018-06-07 03:27] #18828 closed, assigned to nobody

[2018-06-07 05:58] mars3142 commented on #18810
Since yesterday the Android API 28 is final, so we are able to implement it into the framework.

[2018-06-07 08:59] Priority10 commented on #18859
I think that they use VPN or something like that. In fact, now you have more opportunities to ask them than I do.
And as @v1993  said the forum is not available to him without Tor.

About Telegram

It is a messenger with special attention to privacy.
It something did not please the Russian government (I do not know and I do not care) and they decided to block it (I do not care), BUT together with

[2018-06-07 15:03] keyzj opened #18882 "Error while loading shared libraries: libfmod.so.6: file too short"
- cocos2d-x version: cloned right from git
- devices test on: Debian 9

Steps to Reproduce:
So, i've been following readme.md from github mainpage.
But when build of my project is over i got this message:
`/home/keyzj/Документы/cocos2d-x/TestGameDir/TestGame/bin/debug/linux/TemplateCpp: error while loading shared libraries: /home/keyzj/Документы/cocos2d-x/TestGameDir/TestGame/cocos2d/external/linu

[2018-06-07 16:39] orlleite opened #18883 "Pixel art animation is bouncing when using trimmed spritesheet"
Hi, I'm trying to create a animation but I have this weird problem:

    Vector<SpriteFrame *> frames = {
        cache->getSpriteFrameByName( "./hero_idle_00" ),
        cache->getSpriteFrameByName( "./hero_idle_01" )
    };
    auto animation = Animation::createWithSpriteFrames(frames, 1.0f );
    auto action = Animate::create( animation );
    idleAni = RepeatForever::create( action );
    idle

[2018-06-07 16:40] drelaptop commented on #18882
please refer to, https://github.com/cocos2d/cocos2d-x/issues/18754

[2018-06-07 17:04] slackmoehrle commented on #18882
@drelaptop link should help. If not, please tell me how you installed Cocos2d-x, meaning the steps you took exactly. Thanks. I replied to your forum post as well.

[2018-06-07 19:41] slackmoehrle commented on #18859
@Priority10 if Digital Ocean has blocked IP's, I can surely create a ticket and ask. Perhaps they can allow a hole to access our forums. I honestly don't know how this type of thing goes.

Edit: I have opened a support request.

[2018-06-07 20:58] slackmoehrle commented on #18859
Digital Ocean replied with:
[code]
So it looks like it is out of our hands for now.

[2018-06-08 07:22] qifei commented on #18486
same here, any suggestion?

[2018-06-08 07:29] #18735 closed, assigned to nobody

[2018-06-08 07:29] pjdd commented on #18735
thank you!

[2018-06-08 07:36] pjdd opened #18884 "3.16 version helloworld project crash when add SplashActivity"
- cocos2d-x version: 3.16
- devices test on: android device
- developing environments
   - NDK version:   r10e
   - Xcode version:  9.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. I create two helloword projects by cocos commond,the first project I didn’t set “PROJECT_NAME”, when i use SplashActivity to be LAUNCHER activity and then AppActivity the project is ok and no

[2018-06-08 08:58] pjdd commented on #18884
![image](https://user-images.githubusercontent.com/2290632/41148867-9b95eae8-6b3c-11e8-87eb-9450e4e68489.png)

Because of Cocos2dxActivity class   function
Comment it and it's  ok

[2018-06-08 08:58] #18884 closed, assigned to nobody

[2018-06-08 09:29] rh101 commented on #18874
Closing this issue since the patch has been merged #18876

[2018-06-08 09:29] #18874 closed, assigned to nobody

[2018-06-08 13:52] Swipes13 opened #18886 "Finding assets"
In cocos creator when i have some asset named for example "NotificationBanner" i need to find it in "Search..." box with perfect match like: "NotificationBanner".
Plz, make it with some regex like "Not*Ban". It Will be great!

[2018-06-08 14:26] drelaptop commented on #18886
cocos creator have its own repo, please feedback this there, sorry for this.

https://github.com/cocos-creator/cocos2d-x-lite
https://github.com/cocos-creator/engine

[2018-06-08 14:26] #18886 closed, assigned to nobody

[2018-06-08 14:38] georgeraraujo commented on #18864
I investigated further, and found out that by the time `Physics3DWorld::~Physics3DWorld()` is called, `Physics3DWorld::addPhysics3DObject()` was never called and `physicsScene->getPhysics3DWorld()->_objects.size()`is `0` -- that is, no `Physics3DObject` was ever added to the `Physics3DWorld`.

The consequence is that when `removeAllPhysics3DConstraints()` and `removeAllPhysics3DObjects()` [are cal

[2018-06-09 06:56] toreinkun opened #18887 "CCDirector::end on iOS can't exit app"
it is only let the app become black screen.

[2018-06-09 11:27] daition opened #18888 "Error when set ccui.WebView to invisible"
- cocos2d-x version: 3.16
- devices test on: chrome

I have a ccui.WebView in a layer. But when I hope to invoke webView.setVisible(false), there is an error found.

in UIWebView.js of Cocos2d-js 3.16,

var list = eventManager.listenersMap[cc.game.EVENT_RESIZE].getFixedPriorityListeners();

Uncaught TypeError: Cannot read property ‘getFixedPriorityListeners’ of undefined

I don’t know why, is ther

[2018-06-09 12:32] gxloveyy commented on #18881
@drelaptop Can you take a look at this? Thanks

[2018-06-09 15:22] v1993 opened #18889 "`text->setTextColor` doesn't work on linux for system fonts"
- cocos2d-x version: git
- devices test on: XUbuntu 18.04

Steps to Reproduce:

1. Try `text->setTextColor(Color4B::BLUE);` on system font label/text.
2. It is still white!

This occurs on XUbuntu 18.04, everything is fine on android. Labels test (new) in cpp-tests is colored. Configuration:

    {
        gl.supports_OES_packed_depth_stencil: false
        gl.supports_OES_depth24: false
        g

[2018-06-09 17:25] stevetranby commented on #18887
It's not meant to exit app.
It releases all resources (scene, nodes, opengl context).
You'll need to use something more forceful like posix `exit(0)`.

However, note that most, if not all apps, shouldn't actually force quit like this.
You don't really need to call or use Director::end yourself in iOS.

[2018-06-09 21:26] v1993 commented on #18889
Ok, I found it: it doesn't work even for label when I use system font.

[2018-06-10 09:58] Priority10 commented on #18859
@slackmoehrle
Ok, Thanks for trying. )
I close the issue.

[2018-06-10 10:00] #18859 closed, assigned to nobody

[2018-06-10 10:27] crazyhappygame commented on #18717
@drelaptop for you info: fixed iOS travis build and added ctest to https://github.com/crazyhappygame/modern_cmake

[2018-06-10 12:17] v1993 commented on #18889
@drelaptop @minggo Can you take a look at this, please? It is critical for my game (I develop and test on linux).

[2018-06-10 12:55] jinjianxin opened #18890 "drawBatchedTriangles crash on ios 11"
- cocos2d-x version: cocos2dx-3.10
- devices test on: iPhone SE (ios 11.3) iPhone7Plus (ios 11.4)
- developing environments: macbook pro
   - NDK version:
   - Xcode version: Xcode9.2
   - VS version:
   - browser type and version:

Steps to Reproduce:
1. Open the game and the sliding listView will crash
<img width="571" alt="2018-06-10 8 50 19" src="https://user-images.githubusercontent.com/20985

[2018-06-11 01:58] drelaptop commented on #18889
Do your game deploy on Linux too? you will have to test on Android if deploy on Android.

Cocos2d-x cover the difference from different platforms as more as possible , but in fact difference always occur. Could you try to look into this by yourself. I think we have no time to research this issue on Linux platform recently.

[2018-06-11 02:20] summerinsects commented on #18887
[HelloWorldScene.cpp] (https://github.com/cocos2d/cocos2d-x/blob/v3/tests/cpp-empty-test/Classes/HelloWorldScene.cpp)
[code]

[2018-06-11 03:31] halx99 commented on #18867
@crazyhappygame I think it isn't the same issue, In our project, already set APP_SHORT_COMMANDS := true, but still can't compile LongPath source files.

[2018-06-11 08:38] keyzj commented on #18882
Thank you very much for your's quick answers!
My problem is solved now!
The keypoint was to do `ln -sf libfmod.so libfmod.so.6` in `cocos2d/external/linux-specific/fmod/prebuilt/64-bit/ `and **don't** do symlink for **libfmodL.so** !

[2018-06-11 08:45] v1993 commented on #18889
I deploy on linux too, also, it is a way slower to deploy on android (running native binary VS uploading via ADB and running).

I don't know about fonts and render very much, but I'll try to research. However, I'll most probably fail.

[2018-06-11 08:51] #18882 closed, assigned to nobody

[2018-06-11 09:18] v1993 commented on #18889
@drelaptop I have no idea what can cause this bug.

[2018-06-11 11:05] progsource commented on #18680
So - let's say we have a `Rect(1, 1, 2, 2)` - blue in the image.

![grid](https://user-images.githubusercontent.com/1206026/41227795-5e0f2d2e-6d76-11e8-953d-0c76973a0ed0.png)

And now we have the following results from containsPoint:

| input | output |
-------  | ---------
Vec2(0, 0) | false
Vec2(1, 0) | false
Vec2(2, 0) | false
Vec2(3, 0) | false
Vec2(0, 1) | false
Vec2(1, 1) | true
Vec2/(2, 1)

[2018-06-11 14:07] liuyi opened #18891 "don't put any ad into issues"

[2018-06-11 15:12] v1993 commented on #18891
@drelaptop @minggo What this ads do here?!

[2018-06-11 16:38] slackmoehrle commented on #18889
I thought that `SystemFont` could not be changed at all? You get whatever the system provides?

I could try on 18.04 in a few days. I am tied up with web stuff right now.

Edit: I got 18.04 down. I'll burn to a USB stick and install on my spare T240.

[2018-06-11 16:40] slackmoehrle commented on #18891
@v1993 Thanks. I have contacted @drelaptop about this.

[2018-06-11 16:45] liuyi commented on #18891
This is NOT AD...  WE JUST REALLY NEED YOU GUYS!  It's very difficult to looking for some people who can write cocos2dx(js) very well...

[2018-06-11 17:12] drelaptop commented on #18891
This a awful behavior，you should  apologize for this @liuyi

[2018-06-11 17:12] #18891 closed, assigned to nobody

[2018-06-11 17:31] liuyi commented on #18891
Sorry for this post, if you guys don't like.
I just want find some people join us.
HOW TO DELETE THIS?

[2018-06-11 17:37] drelaptop commented on #18891
thanks，you are a good guy.

[2018-06-11 18:21] progsource commented on #18680
`getMaxX`and `getMaxY` return 3 in the above case. Maybe that should be instead 2.
https://github.com/cocos2d/cocos2d-x/blob/b26e1bb08648c11a9482d0736a236aebc345008a/cocos/math/CCGeometry.cpp#L146-L149
https://github.com/cocos2d/cocos2d-x/blob/b26e1bb08648c11a9482d0736a236aebc345008a/cocos/math/CCGeometry.cpp#L161-L164

[2018-06-11 19:42] slackmoehrle commented on #18891
Post on our forums in "Collaboration and Hiring"
https://discuss.cocos2d-x.org (English)
http://forum.cocos.com (Chinese)

[2018-06-12 03:49] drelaptop commented on #18881
@gxloveyy this have been fixed at https://github.com/cocos2d/cocos2d-x/pull/18543 , 3.17 milestone

[2018-06-12 03:49] #18881 closed, assigned to nobody

[2018-06-12 03:49] yuangu opened #18892 "When the program exits, it may be possible to get a crash."
- cocos2d-x version:3.16
carsh info:

`

0 FZIphone | cocos2d::Ref::~Ref() + 48
-- | --
1 FZIphone | cocos2d::Ref::~Ref() + 44
2 FZIphone | cocos2d::GLViewImpl::~GLViewImpl() + 12
3 FZIphone | cocos2d::AutoreleasePool::clear() + 48
4 FZIphone | cocos2d::AutoreleasePool::~AutoreleasePool() + 20
5 FZIphone | cocos2d::PoolManager::~PoolManager() + 44
6 FZIphone | cocos2d::PoolManager::destroyInstance

[2018-06-12 03:52] yuangu commented on #18892
英语说的不够顺溜 吧，~ApplicationProtocol中的析构的时序好像不太对。ScriptEngineManager::destroyInstance();放在PoolManager::destroyInstance();后面比较合适

[2018-06-12 03:53] drelaptop commented on #18887
As @summerinsects said, that is the solution. so close this issue.

[2018-06-12 04:49] stevetranby commented on #18680
The reason for inclusiveness is that the Rect/Vec2 are mathematical concepts. You’re thinking in rasterized pixels. If you take the mathematical rectangle {Vec2{1,1},Size{2,2}} is effectively your CYAN rectangle and doesn’t include the red area. However, when you rasterize a mathematical Rect into pixels then that is where the maxX/maxY pixel row/column is exclusive (instead of inclusive). I could

[2018-06-12 05:02] stevetranby commented on #18887
Let me just reiterate that `exit(0)` is not meant to be used in an iOS app. It will likely fail in App Review if my experience of getting rejected for it would occur for anyone else.

[2018-06-12 08:39] gxloveyy commented on #18881
thanks

[2018-06-12 13:09] div5yesh commented on #17723
@keyurdoshi18 , @bugs1111 , @mplulu
The issue has been resolved. I was able to build build libwebsocket with SSL enabled. Refer the solution here: https://github.com/cocos2d/cocos2d-x/issues/17343

Moreover, you will get certificate error which can be fixed by using valid server SSL certificates.

Finally, I went on with neovisionaries-websocket Java library and JSB calls from custom JS websocket

[2018-06-12 13:09] #17723 closed, assigned to nobody

[2018-06-12 13:30] div5yesh opened #18893 "AssetsManagerEx: No local manifest file found and setVerifyCallback is not a function"
- cocos2d-x version: 3.13.1
- devices test on: Oneplus 3T - Android O
- developing environments
   - NDK version: 13rb
   - Xcode version: NA
   - VS version: NA
   - browser type and version: NA

Steps to Reproduce:

1. cocos new TestHotUpdate -l js
2. build using **[build.gradle](https://gist.github.com/div5yesh/6f10e797db4a285d3b80b2df9e4a7f2a)**
3. The hot update component is implemented based

[2018-06-13 07:30] kaplad opened #18894 "Metal renderer"
https://developer.apple.com/ios/whats-new/
**Open GL ES is deprecated in iOS 12**

Any plans to implement Metal renderer?

[2018-06-13 10:40] #18894 closed, assigned to nobody

[2018-06-13 11:01] drelaptop commented on #18894
related https://github.com/cocos2d/cocos2d-x/issues/18877, and @minggo have started to research this.

[2018-06-14 09:37] willowTank opened #18896 "How to cast Node object to cc.ScrollView or others in Lua"
Hello.  I just meet hard problem in Lua.
There are ScrollView object in children of some node. But I cann't call "setBounceable" function of  cc.ScrollView.  It raises error.
So I need to cast cc.Node object to cc.ScrollView object.
any solution?
Please help me
[code]

[2018-06-14 10:11] voidartworks opened #18897 "Question about _firstTick in ActionInterval::step"
I saw _firstTick in ActionInterval, and i guess it means that the first tick of ActionInterval cannot be ignored. But could you tell me why do so? I cannot understand.

[2018-06-14 10:16] voidartworks commented on #18897
if i

`runAction(TargetedAction::create(somenode, CallFunc::create(func))`

then func will be called twice because _firstTick in ActionInterval::step

[2018-06-14 11:37] danlee2025 commented on #8305
I have encountered this problem too in iOS. Be sure that you should call any update UI things in main queue if you are in mobile environment.

[2018-06-15 06:23] djwshh commented on #18896
tolua.cast

[2018-06-15 16:23] Gensando commented on #18597
Have tested the PR and all works pretty well, will add these as fix in nearest update of our game and see the results! @drelaptop thx for your efforts

[2018-06-16 06:38] juliolugo96 opened #18899 "Cannot build a Project in Linux (Debian Stretch)"
- cocos2d-x version: 3.17
- devices test on: PC
- developing environments
   - NDK version: nil
   - Xcode version: nil
   - VS version: nil
   - browser type and version: nil

Hello, I've downloaded Cocos2d-x and I've not been able to run any project yet. I've been researching in some issues, but I haven't found one similar to mine. My OS is Debian Stretch x86 arch. Need your help, thank you!

St

[2018-06-16 06:40] mosesliao opened #18900 "unable to detect APK file"
- cocos2d-x version: 3.16
- devices test on:
- developing environments
   - NDK version: r13b
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Run below Dockerfile
[code]
2. I got this error
[code]

[2018-06-16 15:37] formatCvt commented on #16865
@drelaptop official doc https://developer.android.com/studio/releases/gradle-plugin
`Build Tools 27.0.3 or higher. Keep in mind, you no longer need to specify a version for the build tools using the android.buildToolsVersion property—the plugin uses the minimum required version by default.`

[2018-06-16 16:06] formatCvt commented on #18900
if your project uses apk split you should add option to build universal apk and remove `-universal` from apk name.

[2018-06-17 03:38] tienlocnguyen opened #18901 "UI Checkbox cause crash when create with less resource method"
- cocos2d-x version: 3.17
- devices test on: win32
- developing environments
   - NDK version: NA
   - Xcode version: NA
   - VS version: Visual Studio Community 2017
   - browser type and version: NA

**Steps to Reproduce:**

1. Create UI checkbox with function:
[code]
and use textType = TextureResType::PLIST
2. Run the app, it will crash because of LOC (1560, CCSprite.cpp):
`CCASSERT(!spriteFram

[2018-06-17 07:46] crazyhappygame commented on #18717
@drelaptop ping :) Did you have a chance to talk with @minggo about cocos2d-x-3rd-party-libs and cmake build from soruces?

[2018-06-17 09:33] crazyhappygame commented on #18900
@liaogz82
1. very nice docker file.
To download sdk, ndk there is https://github.com/cocos2d/cocos2d-x/blob/v3/tools/appveyor-scripts/setup_android.py . you can check usage in appveyor, Travis  ci. It works for Mac, Linux and windows
2. Consider use "gradlew assembleRelease" instead of cocos command
3. Most probably problem fixed in latest cocos2d-x.3.17

[2018-06-17 13:29] woc2006 opened #18902 "Node skew bug"
When using skew with scale as following code:
[code]
result:
![image](https://user-images.githubusercontent.com/1716430/41508311-43d9b394-7275-11e8-9c8a-8239eddf62a8.png)

expect:
![image](https://user-images.githubusercontent.com/1716430/41508304-31548262-7275-11e8-8427-d653f2c55842.png)

solution:
In CCNode.cpp getNodeToParentTransform, change the code:
https://github.com/cocos2d/cocos2d-x/blob/

[2018-06-17 16:09] formatCvt commented on #17171
1. You can fix it without changing engine by implementing `applicationScreenSizeChanged()` in your game. Example:
[code]
2. I can't reproduce this bug on Android 9

[2018-06-17 22:01] slackmoehrle commented on #18899
`ln -sf libfmod.so libfmod.so.6`?

[2018-06-18 05:03] juliolugo96 commented on #18899
Good night, thank you for your answer.

Yep, I did it, I also followed the steps in this thread: https://discuss.cocos2d-x.org/t/error-while-building-for-linux-libfmod-so-6/26553/12

But doesn't seem to work. Where exactly do you execute that command?

A few days ago I tried modifying the file FindFMOD.cmake, but it didn't work anyway.

[2018-06-18 15:03] drelaptop commented on #18899
Did you Debian is 32bit OS? we only supply a 64-bit  libfmod.so prebuilt library. CMake in cocos2d-x won't call `Find*.cmake` if it found headers and libs in `external` successful.

[2018-06-18 15:15] drelaptop commented on #18597
you are welcome, and I am very glad to hear this. hope your further feedback. @APetrovsky @ShuraLiu

[2018-06-19 02:41] godisadog commented on #18184
@bingle123 请问一下你现在什么怎么处理的UIWidget.cpp这个问题的，我也遇到了这个问题，能不能把你改后的UIWidget.cpp的代码贴一下，谢谢！

[2018-06-19 03:32] bingle123 commented on #18184
你好，

我这边的cocos2d-x的项目已经停了许久，具体情形不太记得，我只能从git库里找到记录，看能否帮到你。

如果以上的代码修改确实能帮到你，回复下，让我也高兴高兴，哈哈。:)

在 2018/6/19 上午10:42, zhenwei 写道:

[2018-06-19 03:56] rh101 commented on #18897
This is perhaps not the right place for asking questions. You should ask this question in the forums:
https://discuss.cocos2d-x.org/

[2018-06-19 07:23] progsource commented on #18680
Ok, got it. But then, would it maybe make sense to clarify the function a little bit (for example renaming it to `containsPointInclusive` and setting `containsPoint` to deprecated) , or maybe even adding a `containsPointExclusive` function?

[2018-06-19 07:45] Bilalmirza opened #18903 "Can't compile or deploy on windows"
- cocos2d-x version: v3.17
- devices test on: win32
- developing environments

   - VS version: 2017

Steps to Reproduce:

C:\Work\explottens\Explottens>cocos compile -p win32
Building mode: debug
Building...
Required VS version : [2013, 2015, 2017]
running: '"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\devenv.com" "C:\Work\explottens\Explottens\proj.win32\Explottens.

[2018-06-19 08:20] godisadog commented on #18184
@bingle123 我这里看不到你发的git记录，我刚把我的代码改了一下，在使用clone的地方都改了，还是会出现crash，而且我的这个不是在触摸屏幕的时候crash的是在运行完第一个界面在加载第二个界面的时候报错的，报的错是

#00 pc 01da8a2a /data/app/-1/lib/arm/libcocos2dlua.so [armeabi-v7a]
--
2 #01 pc 018a1cd8 /data/app/-1/lib/arm/libcocos2dlua.so (std::_Rb_tree_iterator<cocos2d::Node*> std::_Rb_tree<cocos2d::Node*, cocos2d::Node*, std::_Identity<cocos2d::Node*>, std::less<cocos2d::Node*>, std::alloca

[2018-06-19 17:46] Priority10 commented on #18680
@progsource I am sorry for the late reply.

As @stevetranby  perfectly explained, mathematically this is right.

Maybe it is a good idea to have `containsPointInclusive `and `containsPointExclusive`. But then the mathematically correct version of `containsPointExclusive` will look like

[code]
and with your image it also will not give you the desired result.

To my shame I do not know how rasteriz

[2018-06-19 21:49] juliolugo96 commented on #18899
It seems @drelaptop got a point there.  I've a 32bit OS

I finally installed Cocos with no issues in a 64bit Linux Mint. Time to code for me now! :)

Thank you for your time to you both!

[2018-06-19 21:49] #18899 closed, assigned to nobody

[2018-06-21 07:24] Bilalmirza commented on #18903
@minggo @dumganhar can I get some help please :)

[2018-06-21 10:23] ykc415 opened #18905 "Can't run on iPad2"
- devices test on: iPad2
- developing environments
   - NDK version: 14r
   - Xcode version: 9.4
[code]

[code]

It works well on other iPad devices but does not work on iPad2.
My iPad2 version is 9.3.5

[2018-06-21 16:44] perfectdeveloper53 opened #18906 "cc.NodeGrid position problem"
I placed "image object" (sceneRes.node) and move it from right to left.
And When it moves, I wanted to get "Shaky3D Effect".
At start, the image object shows properly but when I call to Shaky3D effect,  the object goes to right-up corner and move from there.

I am using Cocos2d-x 3.16  with Javascript.  Below you can see some part of my codes
*****************
      var sceneRes = ccs.load(res[thi

[2018-06-21 16:45] perfectdeveloper53 commented on #14057
Hello. Is there any solution for Javascript(cocos2d-x 3.16)  with above problem?

[2018-06-21 17:30] crazyhappygame commented on #18717
@drelaptop @slackmoehrle @minggo Could you read: https://github.com/cocos2d/cocos2d-x/issues/18717#issuecomment-392925202 ?
I propose to setup CMake for all cocos2d-x-3rd-party-libs and built always from source code cocos2d-x+deps.

In https://github.com/crazyhappygame/modern_cmake as example I set CMake for Box2D and recast with CI travis/appveyor for all currently supported platforms:  android (

[2018-06-22 01:37] drelaptop commented on #18903
please open the __sln__ file by visual studio manually, it seems like the build command can't read space. or you can select to put the project into a no space path.

[2018-06-22 06:46] Bilalmirza commented on #18903
@drelaptop  I can build my project in visual studio manually. But the problem is with the deployment...

this command also fails....

cocos deploy -p win32 -m release

[2018-06-22 06:47] Bilalmirza commented on #18903
is there a good way to publish my app with cocos command?

[2018-06-22 07:18] drelaptop commented on #18903
did you try put the project into non-space path?  cocos command finally call visual studio to compile the project.

what result do you want to publish? put all resource into one single exe package?

[2018-06-22 07:20] Bilalmirza commented on #18903
project is already in a non-space path

[2018-06-22 07:21] Bilalmirza commented on #18903
@drelaptop its that the visual studio stores its files in a ceratin path
'"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\devenv.com" "C:\Work\explottens\Explottens\proj.win32\Explottens.sln"

[2018-06-22 07:23] Bilalmirza commented on #18903
I want the same result that cocos deploy command does... I mean the package size etc.

[2018-06-25 07:20] Bilalmirza commented on #18903
@drelaptop is there a workaround or fix for this?

Thanks

[2018-06-25 12:36] tankorsmash commented on #12021
I don't necessarily want to reopen, but it would be cool if there was a generic solution for animations and spriteframes

[2018-06-25 13:26] piotrros commented on #17171
This issue is still here. When getting photo from image picker, for example, in onActivityResult I had to add:

[code]

This hack forces the app to get to landscape again. It doesn't work if I don't add the delay.

[2018-06-26 05:44] zhangxu924 commented on #17924
We have a lot of this too. It's the top 1 in our crash list. It seems that it is related with app going from background to foreground. It only happens on Devices above Android 7.  And the most reported devices are Galaxy J7 and Moto G/ Moto Z.

[2018-06-26 13:43] v1993 commented on #18889
I've swithed to bundling fonts to game, but this bug still exist (if cocos2d-x provides a way to use system font, it should make it nicely, right?).

[2018-06-26 13:51] rjdgtn opened #18907 "Report: ActionManager crash (with minimal reproduction and possible fix)"
- cocos2d-x version:  3.06 - 3.17
- devices test on: osx
- developing environments
   - Xcode version: 9.1 (enable andres sanitizer)

Description:
Crash after invalidation of iterator elt while iterating in ActionManager::update after delete salvaged target that cause removeAllActionsFromTarget for next element in _targets .

Steps to Reproduce:
Look [reproduction.txt](https://github.com/cocos2d/c

[2018-06-26 14:55] rjdgtn opened #18909 "Report: Widget::getAncestorWidget error (with minimal reproduction and possible fix)"
- cocos2d-x version: 3.06-3.17
- devices test on: OSX
- developing environments
   - Xcode version: 9.1

Description:
Detection of parent widget enabled not work correct with some kind of nodes hierarchy.

Steps to Reproduce:
[code]
Click detects but should not.
Add odd node layers count fix problem.
Add even node layers count not fix problem.

Fix:

[code]

[2018-06-26 18:52] crazyhappygame commented on #18907
Please create pull request with your patch and test case.

[2018-06-26 18:54] crazyhappygame commented on #18909
Please create pull request :)

[2018-06-27 02:10] danlee2025 opened #18910 "AVAudioSessionCategoryAmbient disable the audio input in iOS"
- cocos2d-x version: 3.16
- devices test on: iPhone6P
- developing environments
   - NDK version: No NDK
   - Xcode version: Xcode 8
   - VS version: No VS
   - browser type and version: No browser

Steps to Reproduce:

1. Use Audio Unit to real time record sound need set category to "AVAudioSessionCategoryPlayAndRecord"
2. But cocos2d_libs source file "AudioEngine-ini.mm" set category to "AVAudio

[2018-06-27 02:15] xianyinchen opened #18911 "change to flight model, the libwebsocket can't cause a error or disconnect event,only happen on IOS"
- cocos2d-x version: 3.14
- devices test on: iphone se
- developing environments
   - NDK version:
   - Xcode version: 9.4
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2018-06-27 08:24] rjdgtn commented on #18907
I am not sure my fix is best - it's just quick and safe but may occur side effect - if invalidation is happen - some targets will not updated at this frame.

[2018-06-27 09:46] v1993 opened #18914 "RenderTexture depend on Chipmunk"
- cocos2d-x version: git
- devices test on: XUbuntu 18.04, Android 7.1 (LineageOS)
- developing environments
   - NDK version: r17
   - Xcode version: ---
   - VS version: ---
   - browser type and version: ---

Steps to Reproduce:

1. Build with `USE_CHIPMUNK=0`
2. Try to use `RenderTexture::getSprite()`, it will return invalid pointer (not `nullptr`, just invalid).
3. Access that pointer and get

[2018-06-27 12:09] hg-trv commented on #18188
same crash. same log
cocos 3.17
ndk r17
ogg files

[2018-06-27 19:43] ghost commented on #18843
You could make a JNI call from c++ to java to use these log methods.

[2018-06-27 20:53] slackmoehrle commented on #18889
System font is provided by the OS and therefore not changeable.

[2018-06-28 07:56] Anywhere-Music-Player commented on #18193
@minggo @drelaptop this issue is not **fixed**.

Other developers faced this same problem, see details in this post:
https://discuss.cocos2d-x.org/t/rendertexture-savetofile-bugged-for-image-alpha-values/38810/6

@minggo with `ClippingNode` your `fix` with disabling blendfunc does not work.

[2018-06-28 08:26] minggo commented on #18193
Ok, it can be another issue.

[2018-06-28 08:30] Anywhere-Music-Player commented on #18193
@minggo Yea, that’s the same problem, this issue was closed wrongly, reopen it and assign to drela.

[2018-06-29 03:48] EricDDK opened #18915 "applyForce func is not working."
- cocos2d-x version:3.17's physics module on 3.11.1
- devices test on: win32  VS2013
Steps to Reproduce:
1. a rigidbody applyForce(vec2(100,100))
2. it maybe an immediately force ,not a continuous force.

[2018-06-30 03:25] mosesliao commented on #18900
yes i managed to get it to work

[2018-06-30 03:25] #18900 closed, assigned to nobody

[2018-06-30 14:33] halx99 commented on #18867
The patch is update to v2.1: fix windows command pipe redirect do not support LongPath
https://github.com/halx99/wsLongPaths/

[2018-07-02 12:43] v1993 opened #18916 "Can't use cmake build for android when using cocos console"
- cocos2d-x version: git
- devices test on: XUbuntu 18.04
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Run `cocos run -p android --build-type cmake`
2. Get `Value of '--build-type' should be one of ['ndk-build', 'none'].`

What is wrong?

[2018-07-02 12:55] drelaptop commented on #18916
thanks for report this. you are a so careful man.

'--build-type' should be one of ['ndk-build', 'none']. the optional `cmake` value is waiting to  be added.

[2018-07-02 12:59] v1993 commented on #18916
@drelaptop I just want to support only one build file, and using external library (outside of `Classes/`) directory broke ndk build. I know, that it is possible, but it is complicated for me.

[2018-07-02 13:09] drelaptop commented on #18916
For now, you can use the Android Studio in Linux to use cmake. or run `./gradlew build -PPROP_BUILD_TYPE=cmake` in `proj.android` directory to use cmake.

[2018-07-02 14:16] v1993 opened #18917 "Use GLVND on cmake 3.11+"
- cocos2d-x version: git

Steps to Reproduce:

1. Use  Cmake 3.11
2. Get warning:

 

      Policy CMP0072 is not set: FindOpenGL prefers GLVND by default when
      available.  Run "cmake --help-policy CMP0072" for policy details.  Use the
      cmake_policy co    CMake Warning (dev) at /home/v/.local/share/cmake-3.11/Modules/FindOpenGL.cmake:270 (message):
    mmand to set the policy and suppres

[2018-07-02 15:47] v1993 commented on #18914
@drelaptop @minggo Can you take a look on it, please? To reproduce this bug add

    set(USE_CHIPMUNK FALSE CACHE BOOL "")
to project `CMakeLists.txt`, use CMake build and run anything what use `RenderTexture::getSprite` (e.g., `RenderTextureZbuffer` test).

[2018-07-03 16:51] crazyhappygame commented on #18916
+1 use gradlew for Android and cmake for others

[2018-07-03 17:25] chainofhonor opened #18918 "ios 12 IdleShipHeroes Buying diamonds but not receiving"
Hello, I downloaded the IdleShipHeroes game in app shore, and then bought 25 hot metal coins, but the payment has been successful and the diamond has not been received.

In addition, feedback bug, I just started to see the advertising will be given gold coins and diamonds, but later on to see nothing to the advertising, is this bug did not receive diamonds?

I contacted Apple customer service, cus

[2018-07-04 09:42] v1993 commented on #18918
This is game engine bug tracker. It is useless to write here, it is like writing to Unity support about crash.

You need to contact game developer, not game engine team.

[2018-07-04 09:59] mars3142 commented on #18843
@Alakolmiomatriisi The C++ part is calling Log.X to write into the logcat. But you misunderstood the issue. It's about **blocking logging** in Java/Kotlin for release builds. The C++ code would not report any debugging logs in release build, because it's truncate from code with #define.

[2018-07-04 10:26] #18918 closed, assigned to nobody

[2018-07-04 10:36] v1993 commented on #18914
@drelaptop Can you take a look at this, please?

[2018-07-04 11:18] v1993 commented on #18916
@crazyhappygame I already do so. :smile:

[2018-07-04 11:59] crookedbard opened #18919 "macOS Mojave 10.14 Xcode 10 - Message from debugger: unable to attach"
- cocos2d-x version: 3.17
- devices test on: mac
- developing environments
   - Xcode version: Version 10.0 beta 2 (10L177m)

Steps to Reproduce:

1.  cocos new {app name} -p {app id} -l cpp -d {path}
2. Build successful. But debugger does not start. In the output window it throws : Message from debugger: unable to attach. When opening product directly it opens successfully, but I can't debug code

[2018-07-04 12:05] crookedbard opened #18920 "macOS Mojave 10.14 Xcode 10 - Traditional headermap style is no longer supported"
- cocos2d-x version: 3.17
- devices test on: macbook
- developing environments
   - Xcode version: Xcode version: Version 10.0 beta 2 (10L177m)

Steps to Reproduce:

1. cocos new {app name} -p {app id} -l cpp -d {path}
2. I get such warning when building app:
warning: Traditional headermap style is no longer supported; please migrate to using separate headermaps and set 'ALWAYS_SEARCH_USER_PATHS'

[2018-07-04 14:00] v1993 commented on #18918
@drelaptop What about adding `invalid` tag?

[2018-07-04 14:55] drelaptop commented on #18918
reasonable, I have added __invalid__ label.

[2018-07-04 21:45] erebar commented on #17907
I don't know why you say FIXED when it's NOT. I just downloaded v17 and the thing is still there.

[2018-07-05 01:03] minggo commented on #17907
Why did you say it is not fixed? How did you test?

[2018-07-05 06:12] liuyi opened #18921 "Can spine animation read images without atlas file?"
Because I want use user's profile image to  instead default face of avatar. These are more than one user in the same scene.

因为做用户头像和骨骼动画的合成。我之前是将用户的头像和SPINE的图集合成一张图，然后去调用的。
但是现在需要在同一个场景显示多人。用这样的方式比较不环保，请问是否可以只读散图，我就可以将用户的头像替换默认头像了

[2018-07-05 06:57] wzpan commented on #13807
The same to above. I will try to eval js via `queueEvent` like @sanzenwin rather than `runOnGLThread`.

[2018-07-05 07:10] wzpan commented on #13807
@sanzenwin Actually `runOnGLThread` uses `queueEvent` as the underlying method to put runnable to be executed in GLThread.

[code]

So I wonder why changing your code to use `queueEvent` can solve your problem instead of using `runOnGLThread` directly.

[2018-07-05 09:37] liuyi opened #18922 "3.17 can not play spine animation which made by spine 3.5.35"
I thought Spine runtime  can play low version animation.
Or am I wrong?

[2018-07-05 10:12] v1993 commented on #18916
If anyone is interested, there is my build script: https://gist.github.com/v1993/b48378e1a0371125ab2c481ea8e445fc

Limitations: require posix (linux) system and lua `posix` module. For colors, install `ansicolors` lua module.

[2018-07-05 10:49] v1993 commented on #18922
I think that you should adress this question to spine developers, not cocos2d-x.

[2018-07-05 11:26] liuyi commented on #18922
I am not sure.
Because i don't know who wrote this module in cocos2dx.

[2018-07-05 13:05] drelaptop commented on #18922
the spine code comes from [spine-runtimes/spine-cocos2dx](https://github.com/EsotericSoftware/spine-runtimes/tree/3.6/spine-cocos2dx), you can new a issue at spine runtime Repo https://github.com/EsotericSoftware/spine-runtimes

[2018-07-05 23:30] erebar commented on #17907
I downloaded from here: http://cocos2d-x.org/download
And got that same "'system': not available on iOS"

[2018-07-05 23:33] erebar commented on #17907
I downloaded v3.17 from here: http://cocos2d-x.org/download
And got that same "'system': not available on iOS" when I tried building a game that was using version v3.10 before.

[2018-07-06 01:29] minggo commented on #17907
Can you reproduce it with `cpp-empty-test`? What device did you test on?

[2018-07-06 06:00] #18922 closed, assigned to nobody

[2018-07-06 06:42] kamal-ik commented on #12691
Hi , Any possible fix for this issue?

[2018-07-06 18:21] v1993 opened #18924 "Add LICENSE.md"
LICENSE.md is common place to store licensing information, and can be used to auto display in github panel.

[2018-07-06 19:37] slackmoehrle commented on #18924
We have our licenses in __licenses/__

[2018-07-06 19:38] slackmoehrle commented on #18905
I'm not seeing any issue on my various ipads. Are you still seeing this?

[2018-07-06 19:40] slackmoehrle commented on #17907
@erebar can you post a picture, please.

[2018-07-08 03:59] QSKOBE24 opened #18925 "项目无法在模拟器上运行，一运行就闪崩"
- cocos2d-x version:V1.9.2
- devices test on:iPhone5
- developing environments
   - NDK version:
   - Xcode version:Version 9.4.1 (9F2000)
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. 打开项目，运行时选择模拟器，直接就闪崩了

崩溃信息如下：
Process:               Simulator [76515]
Path:                  /Applications/CocosCreator.app/Contents/Resources/cocos2d-x/simulator/mac/Simulator.app/Conten

[2018-07-08 06:56] drelaptop commented on #18925
请反馈到 https://github.com/cocos-creator/cocos2d-x-lite ，
或中文论坛 http://forum.cocos.com/c/Creator，

[2018-07-08 06:56] #18925 closed, assigned to nobody

[2018-07-08 17:22] v1993 commented on #18914
Anyone, please! It is valid bug!

[2018-07-09 02:17] minggo commented on #18914
Yep, we will take a look, and fix it in next version.

[2018-07-09 12:36] yp0403130231 opened #18927 "hot updates always have a small probability of random occurrence of a file update failure"
- cocos2d-x version:3.16，lua
- devices test on:iphone、ipad(未在安卓上测试，不排除安卓发生)
- developing environments
   - NDK version:15
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
cc.EventAssetsManagerEx.EventCode.ERROR_UPDATING下的错误信息有The request timed out.、The network connection was lost.、The Internet connection appears to be offline.、The file “CFNetworkDownload_zbv

[2018-07-09 15:29] v1993 commented on #18914
@minggo Not only linux, but also at least android (probably other systems too?).

[2018-07-09 17:19] v1993 commented on #18680
By the way, why we use `if` there at all?! Just write this function as

    bool Rect::containsPoint(const Vec2& point) const
    {
        return (point.x >= getMinX() && point.x <= getMaxX()
             && point.y >= getMinY() && point.y <= getMaxY())
    }
It is much easier!

[2018-07-10 01:25] drelaptop commented on #18927
I think it may be a network issue. for the log shows __timed out__.

[2018-07-10 01:42] #18927 closed, assigned to nobody

[2018-07-10 04:45] drelaptop commented on #18914
yep, it more likely a common issue. I found the modules enable/disable feature on CocosSelectModule.cmake didn't works as expected.

for example you want disable physics feature, so you set `USE_CHIPMUNK` to `OFF`, set `USE_BOX2D` to `OFF` and set `USE_BULLET` to `OFF`, you will get compile errors.

[2018-07-10 07:16] jacksonzhuo opened #18928 "Testing Sprite3D Reskin demo bug on some android device (3.17)"
- cocos2d-x version: 3.17
- devices test on: HUWEI,  ZTE 中兴
- developing environments
   - NDK version: 16r
   - Gradle : 3.0.0
   - ABI: armeabi-v7a

PROP_COMPILE_SDK_VERSION=27
PROP_MIN_SDK_VERSION=14
PROP_TARGET_SDK_VERSION=14
PROP_BUILD_TOOLS_VERSION=27.0.1

Steps to Reproduce:

1. build jstest pak
2. install and run jstest apk

如图所示，模型的脸上显示不正常，很多白色区域，在机子上表现为一直闪烁和变换

<img width="619" alt="1111

[2018-07-10 07:51] v1993 commented on #18914
@drelaptop I don't have any compile errors, but disableling chipmunk cause this issuee. Please, remove `platform:linux` tag.

[2018-07-10 15:03] drelaptop commented on #18909
@rjdgtn thanks for you contribution.

[2018-07-10 15:03] #18909 closed, assigned to nobody

[2018-07-10 15:18] drelaptop commented on #18597
any update for further tested result? @APetrovsky @ShuraLiu

[2018-07-10 15:28] Gensando commented on #18597
No crashes reported since we published update with fix, looks like it worked out thanks to you :) @drelaptop  The most annoying crash is now over!

[2018-07-11 01:33] drelaptop commented on #18597
thanks, I will merge PR https://github.com/cocos2d/cocos2d-x/pull/18865

[2018-07-11 01:38] #18597 closed, assigned to drelaptop

[2018-07-11 03:06] Qinja opened #18929 "How to build a test for wechat game?"
how to run "js-test" in wechat game platform?

[2018-07-11 04:52] drelaptop commented on #18929
we have no method to run `js-tests` in wechat game.

cocos creator have a full feature supported for wechat game, cocos2d-x not. so I suggest to use cocos creator to publish wechat game.

[2018-07-11 04:52] #18929 closed, assigned to nobody

[2018-07-11 08:08] ghost commented on #17255
Hey
Works for me to scale down the button width and height to desired width and height. The trick is to find the scaling factors. Here is the code:

``

    const std::string fname = "HelloWorld.png";
    auto button = Button::create(fname, fname,fname);
    // set position
    button->setPosition(Vec2(visibleSize.width/2 + origin.x, visibleSize.height/2 + origin.y));

    // compute scaling facto

[2018-07-11 11:48] willowTank opened #18932 "Korean text input problem in TextField"
- cocos2d-x version: 3.10
- devices test on: Windows
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

When I input Korean Text in Text field for Win10, it makes new small prompt of the left top in screen.
For instance,
for input  "앙",   I need to type d, k, d keys.
![untitled](https://user-images.githubusercontent.com/24641385/4256948

[2018-07-12 05:39] umair6 commented on #18188
@dumganhar
This resolved issue for me.
https://github.com/cocos2d/cocos2d-x/pull/18934

[2018-07-12 05:42] umair6 commented on #18004
I was facing similar issue in my project. This fixed my issue. @dumganhar please have a look at these changes. I still dont know exact conditions when PCMAudioService init fails.
https://github.com/cocos2d/cocos2d-x/pull/18934

[2018-07-12 08:17] dumganhar commented on #18004
@Swipes13 @umair6
Did you invoke AudioEngine::end() in your game?

[2018-07-12 08:35] umair6 commented on #18004
@dumganhar  No. Not calling it anywhere in my project.

[2018-07-13 03:05] PatriceJiang commented on #17490
bug has been fixed before jul 10, 2017
`cocos/scripting/js-bindings/manul/jsb_socketio.cpp`
[code]
it is no longer exists in newer version. this issue should be closed, @minggo

[2018-07-13 05:40] #17490 closed, assigned to PatriceJiang

[2018-07-13 08:37] drelaptop commented on #18188
PR have merged, it avoid crash issue when pcm audio service init failed. so that all will be silent when audio init filed, better than crash happened.

as I considered, the reason of init fail is the __OpenSL ES__ donesn't works well on some special android device. more discuss at https://discuss.cocos2d-x.org/t/audio-issue-in-3-17/42962

[2018-07-13 08:42] drelaptop commented on #18004
it should existed a same reason with https://github.com/cocos2d/cocos2d-x/issues/18188 , pcm audio service init failed in some special android device.

[2018-07-13 09:38] 215090240 opened #18937 "使用自定义字体文件xxx.ttf时，如果字库中不存在某个字时，会不显示，可以用系统字代替吗？"
使用自定义字体文件xxx.ttf时，如果字库中不存在某个字时，会不显示，可以用系统字代替吗？

[2018-07-13 09:43] 215090240 opened #18938 "TableView 每个cell可以监听向左右滑动的事件吗？"
比如上下滚动的TableView，每个cell可以监听左右滑动的事件，当左右滑动时，TableView就不会上下移动。

[2018-07-13 09:48] 215090240 opened #18939 "TableView缺少滑动到底部或头部的事件监听。"
比如滑动到最底部，可以监听到这个事件，然后发送新的数据请求拉取数据。

[2018-07-13 09:51] 215090240 opened #18940 "Editbox在华为mate9上显示有问题。"
当弹出键盘时，会拉伸屏幕，分辨率出错。

[2018-07-13 10:07] 190420456 opened #18941 "listFilesRecursively not correct in win32"
listFilesRecursively not correct in win32

[2018-07-13 10:13] 215090240 opened #18942 "PageView中的item可以循环利用吗？"
比如只创建三个ITEM，每次滑动时刷新ITEM中的视图

[2018-07-13 10:14] #18941 closed, assigned to nobody

[2018-07-13 11:01] drelaptop commented on #18942
Excuse me, issues was used to track bug, not to be used like you done. If you have so many questions, you should to forum ask help firstly. And the issues will be show to all over the world developers, it's better to use English, not Chinese. So I will close those issues, please ask help to forum firstly.

Issues 主要是用来报告 bug 的，不是这样用的。另外报告 bug 时，最好使用英语，因为全球各地的开发者都能看到你的问题，帮助一起解决。

我把你创建的 issues 关闭，请

[2018-07-13 11:01] #18942 closed, assigned to nobody

[2018-07-13 11:02] drelaptop commented on #18940
the reason why close this, https://github.com/cocos2d/cocos2d-x/issues/18942

[2018-07-13 11:02] #18940 closed, assigned to nobody

[2018-07-13 11:02] drelaptop commented on #18939
the reason why close this, https://github.com/cocos2d/cocos2d-x/issues/18942

[2018-07-13 11:02] #18939 closed, assigned to nobody

[2018-07-13 11:02] drelaptop commented on #18938
the reason why close this, https://github.com/cocos2d/cocos2d-x/issues/18942

[2018-07-13 11:02] #18938 closed, assigned to nobody

[2018-07-13 11:02] drelaptop commented on #18937
the reason why close this, https://github.com/cocos2d/cocos2d-x/issues/18942

[2018-07-13 11:02] #18937 closed, assigned to nobody

[2018-07-15 05:24] thienhaxgame commented on #11733
Weirdest answer I've heard, why do you think C++ have `long`? why don't they just use `int` and `double` as you suggested?

[2018-07-15 22:35] h87kg commented on #16872
Simulator: [XMLHttpRequest] GET http://www.baidu.com
Simulator: HTTP 125 4 200
Simulator: [XMLHttpRequest] GET http://www.baidu.com
Simulator: HTTP 126 4 200
Simulator: [XMLHttpRequest] GET http://www.baidu.com
Simulator: [XMLHttpRequest] GET http://www.baidu.com
Simulator: HTTP 127 4 200
Simulator: [XMLHttpRequest] GET http://www.baidu.com
Simulator: HTTP 128 timeout
Simulator: [XMLHttpRequest] G

[2018-07-16 02:55] #18928 closed, assigned to nobody

[2018-07-16 13:08] xiangyuan opened #18943 "thai system font label line height not corrent"
- cocos2d-x version: 3.16
- devices test on: mac ios android
- developing environments
   - NDK version: 10e
   - Xcode version: 9.3
   - VS version:
   - browser type and version:

Steps to Reproduce:
Thai  system font label line height not corrent
1.  create a label to show Thai text with system font
2. then the label top and bottom will clip a little pixel, which lead to the text not show fully

[2018-07-17 11:25] bpdubey87 commented on #17810
@perminovVS Hello , You mentioned that your app run on Windows Xp. I also want to run my cocos2dx app on win xp but it is not running. I made build using Visual Studio 2017 and Cocos2d-x3.15.1. It run successfully on Windows 7+. But on xp it gives error that "It is not a valid application".
I also set platfrom toolset in proj properties to "Windows xp". But same error. Please help

[2018-07-17 12:13] seivan opened #18945 "Adding Tiled JSON support through TMXMapInfo"
- cocos2d-x version: `3.17`

From the code, it seems parsing the `XML` returns a `TMXMapInfo` and that on its own is used to build the entire map.

With the assumption that the created `TMXMapInfo`  does not contain XML specific content,  wouldn't it be possible to create one using  `JSON` as well, thus supporting both?

Granted, this relies on using the JSON parser to create a `TMXMapInfo`, but I

[2018-07-17 12:42] slackmoehrle commented on #17810
@bpdubey87 Make sure you are building a 32-bit app and not a 64-bit or UWP app.

[2018-07-17 12:53] bpdubey87 commented on #17810
@perminovVS Hi can you please tell where to set those parameter? Actually this is my first app on Windows platform. So I dont know much where to set those properties.

[2018-07-17 16:05] stevetranby commented on #18945
This shouldn't be difficult, just requires someone's time. It's also tedious work. Since Tiled's latest version still supports exporting to XML there's likely no priority for this. Feel free to submit a PR using the bundled `rapidjson` library (examples exist in engine test project sources).

It's possible the Cocos Creator project has some or full support for parsing the JSON version.

[2018-07-18 02:09] minggo commented on #18717
It is good if it can replace current building system in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src. Current building system is a little complex, and does not support windows.

[2018-07-18 05:41] #17304 closed, assigned to PatriceJiang

[2018-07-18 07:07] #18890 closed, assigned to nobody

[2018-07-18 09:22] JuanCasado commented on #18920
I have the same problem, maybe if you add some labels to the issue it gets more visibility and someone help us.

[2018-07-18 10:12] rizwangaminations commented on #18509
Hi, @minggo

I was also getting this Crash.
But when I disable Admob, crash rate is drastically reduced.
I am currently using cosos2dx 3.16 and AdMob SDK version 7.31.0

Crash logs:
http://crashes.to/s/b93ffc43bb4
http://crashes.to/s/43e4e94cda0

[2018-07-18 14:00] AIGRIND-LLC commented on #14150
I'm not sure this is the right issue to report but EventMouse on Win32 contain incorrect data about previous mouse location and delta-location. In Win32 implementation (GLViewImpl) the new event instance is created and dispatched every time some mouse event is occurred. No any data from previous mouse location (previous dispatched event) is set to the new event.

[2018-07-19 06:14] perminovVS commented on #17810
@bpdubey87 hello, you need rebuild all 3rd-party and cocos and you app for platform toolset xp.

[2018-07-19 10:08] halx99 commented on #18342
@dumganhar I think you can use OpenAL + mpg123 & ogg at android platform.

[2018-07-19 14:17] guilhemvors opened #18948 "CrashIfClientProvidedBogusAudioBufferList: reference #17494"
- cocos2d-x version: 3.17
- devices test on: iphone 8
- Xcode version: 9.4.1

Steps to Reproduce:

1. Just create a cpp-empty-test with this code:

[code]

2. Launch the test and click on the start/stop button several times: the crash is kind of elusive and doesn't occurs everytime, it may take a few minutes to have it.

Log: https://textuploader.com/dz77q
Stack of the crash: https://textuploader.

[2018-07-19 15:02] guilhemvors commented on #17494
Just ot let you know, I have opened a new bug report for 3.17 with a test case (even after the fix):
https://github.com/cocos2d/cocos2d-x/issues/18948

[2018-07-19 15:31] guilhemvors commented on #18948
link to the stackoverflow question: https://stackoverflow.com/questions/51426621/is-there-a-way-to-stop-the-auremoteio-thread-from-the-autiotoolbox-from-performi

[2018-07-19 15:37] dumganhar commented on #18948
I have left Cocos team. You could ask @minggo and @leda for help.

guilhemvors <notifications@github.com> 于 2018年7月19日周四 23:32写道：

[2018-07-20 02:42] halx99 commented on #16355
@dumganhar Actual, OpenAL also can be use at android platform, recently, I have done it, and seems ok.

[2018-07-20 02:45] minggo commented on #16355
Any document about it?

[2018-07-20 03:03] halx99 commented on #16355
Just compile openal, mpg123, ogg for android arm, then copy win32 implementation to android, and do some changes for log & file stream adapt.

[2018-07-20 03:13] minggo commented on #16355
I think OpenAL uses some system functions provided by Android, and i don't know if it has issue on some devices or some Android versions. It is not provided by Android, and also not Android documentation mention it, so it has big risk.

[2018-07-20 03:36] halx99 commented on #16355
you can see it's backends has a opensl.c for android.

[2018-07-20 03:42] halx99 commented on #16355
So, at android platform, OpenAL based on OpenSL. use it, we only needs maintains one audio engine framework.

[2018-07-20 03:44] minggo commented on #16355
Sounds good.

[2018-07-20 06:27] willowTank commented on #18932
I have solved myself. If anyone wants my help, Please contact me

[2018-07-20 08:18] PatriceJiang opened #18949 "`cc.loader.load` convert url error"
`+` in URL is mapped to `%20`, which will cause the error.

[2018-07-20 08:26] PatriceJiang commented on #18949
![_20180720162501](https://user-images.githubusercontent.com/40414978/42991895-98576500-8c39-11e8-89a6-cbc037dce291.jpg)

[2018-07-20 09:58] PatriceJiang opened #18950 "[SocketIO] does not support SSL"
report
[code]
when trying to connect  `https://` Socket.IO server

[2018-07-20 12:02] Anywhere-Music-Player commented on #18616
I bet that 1 year will pass and this error will not be fixed.
Issue was created Jan 9, so it's almost 8 months already passed.

@walzer @dabingnn @fusijie @linshun @pandamicro @zilongshanren

Do you seriously think that with such a dynamics this engine will survive? It's already dead as I see and as well as many other see this and already leaved it.

So please accept that and just give an official

[2018-07-20 18:00] slackmoehrle commented on #18616
@KAMIKAZEUA you were banned on our forums because you don't contribute productively. You spread FUD and don't stop when asked.

Please refrain from doing the same to our GitHub issues. This clouds the issue and makes it harder to sort out work to be done versus noise that causes confusion.

Our engineering team prioritizes bugs and they will complete this work when it comes up, currently __v3.18__

[2018-07-22 05:59] drelaptop commented on #16865
finally, solved at https://github.com/cocos2d/cocos2d-x/pull/18952

[2018-07-22 05:59] #16865 closed, assigned to drelaptop

[2018-07-22 06:41] halx99 commented on #16355
@minggo @dumganhar Recently, I finish this, you can see the patch: https://github.com/halx99/x-studio365/tree/master/cocos2d-x-patch

[2018-07-22 18:49] tankorsmash opened #18955 "Change Action::setTag to return the action instead of void, to allow chaining"
This would allow for something replacing this:

[code]

with something less verbose

`my_node->runAction(MoveBy::create(0.5f, {10.0f, 10.0f})->setTag(123));`

The upside is shorter and clearer code, the downside is that overrides in custom code would need to change, but I can't imagine many custom actions override `setTag` anyway.

[2018-07-22 18:55] v1993 commented on #18955
Oh, I love builder pattern! However, this should be changed for **all** methods which modify object, so... just leave it for bright future of cocos2d-x 4!

[2018-07-23 00:15] minggo commented on #18949
Please don't use Chinese.

[2018-07-23 02:10] PatriceJiang commented on #18949
Translated

[2018-07-23 06:43] minggo commented on #16355
@halx99 It is great.
@drelaptop please take a look. It is good if we can use OpenAL for all platforms.

[2018-07-23 06:55] drelaptop commented on #16355
OK, this week I will try to test and confirm OpenAL works or not on android platform. If works well, I can do replace recently.

[2018-07-23 07:58] halx99 commented on #16355
@drelaptop By the way,  I have test with ndkr14b + gcc, it work fine. maybe you need test ndkr16 + clang.

[2018-07-23 09:19] guilhemvors commented on #18948
Further notes:
- the console logs between the crashing and non-crashing execution doesn't differs.
- There is a hipcut in our usage of ExtFileAudioRead in the AudioDecoder. From the standard it is said that it must only be used for reading audio file from the SAME THREAD (https://developer.apple.com/documentation/audiotoolbox/1486821-extaudiofileread?language=objc). So the implementation needs to

[2018-07-23 10:33] halx99 commented on #16355
@drelaptop I create 2 pr, you can simple to apply it to test it.
https://github.com/cocos2d/cocos2d-x/pull/18958
https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/317

I have test on ndk-r17 + clang, it also work fine.

[2018-07-23 10:50] Bilalmirza commented on #15368
@minggo these fixes has already been applied to win32 version. You can close this issue.
Also there is an issue where vsync is not applied to to some pcs (I'm not sure what differs).

add this  at the start of Application::run() in CCApplication-win32.cpp will fix the vsync issue. (glfwSwapInterval(1) doesn't work).

#ifdef _WIN32
    // Turn on vertical screen sync under Windows.
    // (I.e. it

[2018-07-23 11:55] drelaptop commented on #16355
you are so efficient, I will check it at once.

[2018-07-23 12:16] Bilalmirza opened #18959 "Activating vsync win32"
- cocos2d-x version: 3.17
- devices test on: win32
- developing environments
   - VS version: 2017

vsync is not applied in some cases. You may see jittering.

add this at the start of Application::run() in CCApplication-win32.cpp will fix the vsync issue. (glfwSwapInterval(1) doesn't work).
[code]

Issue is also mentioned here.
https://stackoverflow.com/questions/16285546/glfw-vsync-not-working

[2018-07-23 12:47] Bilalmirza opened #18960 "Mac FullScreen unable to switch application & its fix"
- cocos2d-x version: 3.17
- devices test on:
- developing environments
   - Xcode version: 9.3

Steps to Reproduce:

1. Open your mac app in fullscreen
2. Press Command tab
3. Application won't switch

Another one really annoying thing about this is. When your app crashes you can't switch to xcode to view console or stop the process you have to force quit xcode.

My simple solution to this is go t

[2018-07-23 13:33] #18949 closed, assigned to nobody

[2018-07-24 01:39] minggo commented on #15368
@Bilalmirza thanks. Could you please create a new issue and send a PR for it?

[2018-07-24 01:39] #15368 closed, assigned to nobody

[2018-07-24 06:37] PatriceJiang opened #18962 "memleak in minxmlhttprequest callback"
refer http://forum.cocos.com/t/cocos2d-x-minxmlhttprequest/63371

[2018-07-24 06:39] PatriceJiang opened #18963 "memleak in jsb.AudioEngine"
refer http://forum.cocos.com/t/xcode-ipad-mini1-jsb-audioengine-setfinishcallback/63369

[2018-07-24 10:26] gestern commented on #18955
Please don't do it

[2018-07-24 10:32] gestern commented on #18921
Short answer - yes, but you have to replace an image which would be not found (because you have not an atlas) with a red rectangle or ignore (for example) of the same size

[2018-07-24 14:06] drelaptop commented on #18717
now we answered the item 8

- [x] 8. What about cmake and cocos2d-x-3rd-party-libs?

    - ~~no plan to do it recently, might do it in future~~
    - plan do it on 3.18, now new a repo at https://github.com/cocos2d/cocos2d-x-external

 quite grateful to @crazyhappygame , lots of work to push the cmake process on cocos2d-x.

[2018-07-24 15:39] drelaptop commented on #18963
cocos2d-x version: 3.16
devices test on: ipad mini1
developing environments
Xcode version: 9.3.5

Continuously performing audio playback, but after more than 120 consecutive audio playback, there is a memory leak. This is observed by Xcode. Once a memory leak is received, the app will eventually collapse. It is mainly jsb.AudioEngine.setFinishCallback that easily causes memory leak when executing.

[2018-07-24 21:49] crazyhappygame commented on #16355
Please read my comments about Android  OpenAL and mpg123
https://github.com/cocos2d/cocos2d-x/pull/18961#issuecomment-407562295
I think that we **should not** add new **LGPL** *.so libraries to Android!

I am fine with OpenAL and mpg123 for Linux (it is better than fmod :)  )

[2018-07-25 01:13] PatriceJiang commented on #17475
Since the callback `SocketIOClient#on()` only support single `string` parameter, I think it is not necessary to alter `emit/send` and that will make interfaces more complex. @minggo

[2018-07-25 02:08] drelaptop commented on #16355
@slackmoehrle could you help us check the License issue in your free time?

[2018-07-25 03:30] plutoo commented on #17473
It seems `Downloader` works fine with `https` links on the current version. @minggo

[2018-07-25 03:40] plutoo commented on #17763
It is a duplicate issue as  https://github.com/cocos2d/cocos2d-x/issues/17473. @minggo

[2018-07-25 03:41] #17763 closed, assigned to PatriceJiang

[2018-07-25 03:41] minggo commented on #17473
@PatriceJiang please check

[2018-07-25 03:46] plutoo commented on #17070
The issue does not exist on current version @minggo

[2018-07-25 03:56] PatriceJiang commented on #17473
Downloading `https` links are OK.  Checked.

[2018-07-25 06:40] plutoo commented on #16829
Reconnection does not cause a crash on the current version, @minggo

[2018-07-25 06:40] #17473 closed, assigned to PatriceJiang

[2018-07-25 07:02] #17070 closed, assigned to PatriceJiang

[2018-07-25 07:29] PatriceJiang commented on #18026
This issue was solved after refactor.  @minggo

[2018-07-25 07:33] minggo commented on #18026
Cool, i will close this issue. Will reopen it if anyone meet it again.

[2018-07-25 07:33] #18026 closed, assigned to PatriceJiang

[2018-07-25 11:33] codebeautiful opened #18964 "memory in this area has not been released, running on Xcode"
memory in this area has not been released, running on Xcode

 我发现这个地方内存一直无法释放，运行环境为xcode

---

https://github.com/cocos2d/cocos2d-x/blob/711225b0a1c7df55383e4a2ef2ca538fe62a331a/cocos/base/CCConfiguration.cpp#L188

when Objective-C Automatic reference Counting : YES
[code]

[2018-07-26 03:28] ShuraLiu commented on #18597
our game has publihed for three weeks, and no bug reported so far after we updating codes with your fix. @drelaptop thanks a lot!

[2018-07-27 06:43] PatriceJiang commented on #17315
This issue is fixed in the current version. @minggo

[2018-07-27 08:24] #17315 closed, assigned to PatriceJiang

[2018-07-27 09:26] #16829 closed, assigned to PatriceJiang

[2018-07-27 13:36] midgithub opened #18966 "test cpp donesn't support websockets with ssl ."
- cocos2d-x version:2.2.6
- devices test on:win
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. change ws host to wss host , run test cpp project.
2. websocket connection doesn't connecte.

[2018-07-27 13:39] midgithub commented on #18966
hope to get some help late !

[2018-07-28 08:01] halx99 commented on #18325
@qcdong2016 最近重构了一下声音模块，win32支持播放wav格式声音了，看这里: https://github.com/halx99/x-studio365/tree/master/cocos2d-x-patch

[2018-07-28 08:32] qcdong2016 commented on #18325
感谢感谢。

[2018-07-28 08:37] crazyhappygame commented on #18736
@SBJoker could you provide step how to reproduce this crash and sample code how to fix it?

[2018-07-28 16:05] vkreal commented on #18736
We are seeing this issue in 3.17 even with the fix provided by @SBJoker in this thread above.

[2018-07-29 23:01] Priority10 commented on #18680
@v1993 Good point.

[2018-07-30 02:37] minggo commented on #17475
@PatriceJiang can we add a new method for it?

[2018-07-30 03:13] PatriceJiang commented on #17475
Introducing `#sendBinary()` make little difference. Binary data can easily be serialized to string. If we add `binary` output then the `binary` input will be expected. `#onBinary() & #on()` would be quite confusing to call on a specific event, and it is resolved by the server. I think it is the lack of JSON type make SIO APIs inconvenient.

[2018-07-30 03:18] minggo commented on #17475
Sounds reasonable, so close it until we have a good reason to support it.

[2018-07-30 03:18] #17475 closed, assigned to PatriceJiang

[2018-07-30 08:58] zzyAZU opened #18971 "audio engine crash on ios platform when enable/disable it frequently"
- cocos2d-x version:3.17
- devices test on:ios 11 iphone 8 plus
- developing environments
   - NDK version:
   - Xcode version:<------
   - VS version:
   - browser type and version:

Steps to Reproduce:
进游戏不断的开关声音几率性崩溃

0 AudioToolbox | _CrashIfClientProvidedBogusAudioBufferList + 56
-- | --
1 AudioToolbox | AudioConverterConvertComplexBuffer + 868
2 AudioToolbox | AUSpatialMixer::Render(unsigned

[2018-07-30 09:58] zzyAZU commented on #18971
ios 10 也有类似崩溃

[2018-07-30 10:17] drelaptop commented on #18971
could you add a test case to reproduce it, I know it's seldom occur, you can simulate that situation like https://github.com/cocos2d/cocos2d-x/issues/18597 did

[2018-07-30 11:32] Bilalmirza commented on #18959
It turns out this is an adaptive v-sync. if your game is under performing in fps it will lock it on 30 or 20. Otherwise it does the job of keeping it at 60.

Note: This issue is a bug in glfw and should be fixed later on.

[2018-07-30 11:32] #18959 closed, assigned to nobody

[2018-07-30 11:33] zzyAZU commented on #18971
抱歉很难定位... 崩溃几率很小，太难重现

[2018-07-30 11:42] zzyAZU opened #18972 "IOS web socket crash when close app"
- cocos2d-x version:3.16 3.17
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:<------
   - VS version:
   - browser type and version:

Steps to Reproduce:

--------------------------------------- bug 1
std::__1::system_error
mutex lock failed: Invalid argument

0 libc++abi.dylib | 0x00000001828f6000 + 107852
-- | --
1 libc++abi.dylib | std::terminate() + 60
2 Bada

[2018-07-30 12:10] zzyAZU commented on #18972
这个报错貌似影响不大主要是关闭游戏的时候触发的

[2018-07-30 20:56] lbenedetto commented on #14297
Also you can't preload files that are "long". In my app I'm working around it by replacing my call to preload with a call to play2d with the volume set to 0, and replacing my calls to play2d with calls to setCurrentTime(0) and resume()

[2018-07-31 02:17] PatriceJiang commented on #18966
Please attach some log info  @midGitub.

[2018-07-31 02:42] #16037 closed, assigned to dumganhar

[2018-07-31 13:35] antivir88 opened #18973 "instalation problem, Fedora 28"
[casper@localhost cocos]$ ./setup.py

Setting up cocos2d-x...
->Check environment variable COCOS_CONSOLE_ROOT
  ->Search for environment variable COCOS_CONSOLE_ROOT...
    ->COCOS_CONSOLE_ROOT is found : /home/casper/Загрузки/cocos/tools/cocos2d-console/bin

->Check environment variable COCOS_X_ROOT
  ->Search for environment variable COCOS_X_ROOT...
    ->COCOS_X_ROOT is found : /home/casper/Загр

[2018-08-01 03:44] janwork opened #18974 "ActionTimeline reverse() return null"
- cocos2d-x version: 3.10
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. virtual ActionTimeline* reverse	(	void 		)	const
      Returns a reverse of ActionTimeline.
      Not implement yet.
      Implements Action.
      就想问下什么时候实现这个方法

[2018-08-01 04:44] midgithub commented on #18966
@PatriceJiang ...sorry .i just change the code in  WebSocketTest.cpp .

change the test url. ws://echo.websocket.org to wss://echo.websocket.org

it shows

![image](https://user-images.githubusercontent.com/20261416/43501494-5fdd441c-9588-11e8-9252-94222eb5d4dc.png)

testCpp print nothing when run this test.....

i change the testCpp in cocos 3.x 。 it can run well. successfully connect the websock

[2018-08-01 04:56] midgithub commented on #18966
![image](https://user-images.githubusercontent.com/20261416/43501858-38ea42c2-958a-11e8-9355-76642d7183fa.png)
when run the testcpp in 3.17. the result is above.

[2018-08-01 05:46] progsource commented on #18680
So - in the end I would be fine with just making it clear in code (either with changing the method name or adding a comment), that the current method is inclusive by intention. And well - what v1993 said ;)

[2018-08-01 09:06] midgithub commented on #18972
@CarlZhongZ  你好 我也在使用websocket 有一些问题想交流一下 方便的话可以留个QQ不。

[2018-08-01 09:22] midgithub commented on #18966
@PatriceJiang  do you need other info..

[2018-08-01 20:55] talesms opened #18976 "Crash on IPv6 only networks"
- cocos2d-x version: 3.17
- devices test on: iPhone and iPad running iOS 11.4.1
- developing environments
   - NDK version: -
   - Xcode version: 9.4.1
   - VS version: -
   - browser type and version: -

Steps to Reproduce:
1. Set up a IPv6 only network.
2. Use cocos2d::network::HttpRequest with cocos2d::network::HttpClient to download a image.

Hi guys,
My app got rejected by the apple store bec

[2018-08-02 08:03] liuyi opened #18977 "Firefox and VSCODE can't debug COCOS2DX 3.15.1,got crash when connected."
MAC  cocos2dx 3.15.1 , tried to debug with Firefox, but always crash.
I changed VSCode to debug, got the same problem.

但是如果可以用的话 还是挺方便的 请问这个问题要怎么解决呢？
<img src="http://forum.cocos.com/uploads/default/original/3X/1/7/1724afc47f4d88e1e90a0816627144c9cc03e84d.png" width="590" height="248">
<img src="http://forum.cocos.com/uploads/default/original/3X/d/e/de6cf68745dd0c639533dbc0744c65321b03cd3f.png" w

[2018-08-02 12:02] ForestRingGames opened #18978 "Android Performance / FPS Drops on Octa Core Devices"
We currently face the issue that our game only runs in 30 FPS on any Octa Core Android Device (Galaxy S7, Galaxy S9, Huawei Mate10 Lite), while on any Quad Core device (Galaxy S6, Galaxy Tab S3), it runs fine with 60 FPS.

Does anyone know if this might be due to Cocos2d-x using the wrong / weak CPU core set?

Any ideas what can be done to fix that?

[2018-08-03 03:37] andrewr1991 opened #18979 "Cannot display .tmx file"
- cocos2d-x version: 3.17
- devices test on: Windows 7 64-bit
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: Community 2017 Version 15.5.6
   - browser type and version:

Steps to Reproduce:
I am simply trying to display a .tmx file. All I get is a blank screen. I have pasted my code below.

HelloWorldScrene.cpp:
[code]

AppDelegate.cpp:
[code]

[2018-08-03 15:08] Anywhere-Music-Player opened #18980 "[BUG] renderTexture->saveToFile() bugged for image alpha values, wrong output"
This issue was reported a long time ago: [https://github.com/cocos2d/cocos2d-x/issues/18193](https://github.com/cocos2d/cocos2d-x/issues/18193)

Still **NOT** fixed. `ClippingNode`or not whatever: just `renderTexture->saveToFile` works wrong with any graphics: layers, gradients and sprites.
I have on my scene a `LayerGradient` and after render it's colors gets changed, dramatically. It's `renderTe

[2018-08-03 17:31] #18976 closed, assigned to nobody

[2018-08-04 17:12] #18979 closed, assigned to nobody

[2018-08-05 17:26] crazyhappygame commented on #18980
@KAMIKAZEUA
For screen-shot below code works for me:
[code]

[2018-08-06 06:58] drelaptop commented on #18973
Linux existed many distributions, we tested the installation on the most popular distribution __Ubuntu__ .

refer to http://cocos2d-x.org/docs/cocos2d-x/en/installation/Linux.html

[2018-08-06 06:58] #18973 closed, assigned to nobody

[2018-08-06 07:00] #18924 closed, assigned to nobody

[2018-08-06 07:03] drelaptop commented on #18971
@CarlZhongZ duplicate with https://github.com/cocos2d/cocos2d-x/issues/18948 , so close this. please discuss this issue there.

[2018-08-06 07:03] #18971 closed, assigned to drelaptop

[2018-08-07 11:10] ondesly opened #18983 "Render position artifacts because of GLProgram changes"
- cocos2d-x version: 3.17
- devices test on: Galaxy S7 Edge (G935F), Umi Z Pro

In 3.17 in GLProgram.cpp were added these lines:
[code]
It causes position artifacts, jumps of sprites on some Android devices, maybe with Mali GPU.

Without the new lines, the small image is in the center of the large:
![device-2018-08-07-135154](https://user-images.githubusercontent.com/1185496/43772395-a5b9a568-9a4a

[2018-08-07 17:56] JuanCasado commented on #18919
It happens to me too, to "fix" it you need to make any change in your code, even adding some spaces and deleting them afterwards works, the problem occurs if you build for the first time or if you build two times consecutively without performing changes to the code, I don't know why it happens.

 @crookedbard

[2018-08-08 05:47] minggo commented on #18966
Sorry, v2.x is not maintained now.

[2018-08-08 05:47] #18966 closed, assigned to PatriceJiang

[2018-08-08 17:11] summerinsects opened #18984 "[QUESTION] should it modify setColor to setTextColor for Label in RichText when rendering?"
SetColor will overwrite emojis' origin color

[code]

result:
![default](https://user-images.githubusercontent.com/7703197/43936317-9cbe021e-9c8a-11e8-81c3-9d993089d9fb.png)
expected:
![default](https://user-images.githubusercontent.com/7703197/43936349-af7d4b26-9c8a-11e8-9dc9-3d35f4da900d.png)

[2018-08-11 02:47] Mikerr1111 commented on #18978
Are you using the same version of Android across all devices being used? Also, most better apps are better optimized on quadcore devices than the Octocore(our cores are lower-powered and four other cores are high-powered) ones.

[2018-08-14 07:56] Sinix512 opened #18987 "There is a part of 2^n speed growing memory was allocated by SkeletonBatch for the first time my game is install on iphone."
- cocos2d-x version:3.13
- devices test on:iPhone X os ver. 11.3 and 11.4
- developing environments
   - NDK version: r11c
   - Xcode version: 9.4.1 (9F2000)
   - VS version:
   - browser type and version:

Steps to Reproduce:

It is funny that I restart the app and everything is fine. Can anyone assume what is going on?

It turns out that SkeletonBatch::reset was never been called when the app is

[2018-08-16 01:51] woxinchangdanzou opened #18990 "semi-transparent image rendering error after unlock screen on android8.1"
- cocos2d-x version: cocos2d-x3.10
- devices test on: Android8.1  小米6x
- developing environments
   - NDK version: NDK R10d

游戏运行中android手机锁屏会生成一张屏幕纹理，解锁后屏幕纹理一直被重复绘制，半透明图片渲染异常

Steps to Reproduce:

1.
在Android8.1  小米6x上，游戏运行的时候，点击锁屏键，屏幕锁定，然后打开锁屏回到游戏界面
2.
此时会产生一张锁屏时候的渲染纹理，游戏onResume后重新渲染的时候，会对这张渲染纹理进行采样，游戏界面中的半透明纹理渲染的时候，可以清楚的看到叠加的这张纹理，导致画面显示错乱

[2018-08-16 06:30] zzyAZU opened #18991 "Lua: webSockets receive information received from other closed sockets"
- cocos2d-x version:316 317
- devices test on:all platforms
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

WebSocket 当有多个实例的时候出现接收到其他已经关闭的socket的接收的信息的BUG

Steps to Reproduce:
触发时机如下:
1.lua 中创建一个 websocket: self._conn = cc.WebSocket:create(ADDR) 这里c++的 WebSocket 创建了一个对象实例 指针值为 0xabcdefaa（举个例子），这个socket称之为A
2.执行游戏的重启(因为实现原因，每次重新链接一次需

[2018-08-16 06:48] PhoebeHui commented on #17851
Any updates?

[2018-08-17 03:53] drelaptop commented on #18984
thanks for this patch

[2018-08-17 03:53] #18984 closed, assigned to nobody

[2018-08-17 10:03] nauman-tintash commented on #18743
Anybody seen if this has been fixed in a later version or not?

[2018-08-17 10:03] nauman-tintash commented on #17924
Anybody seen if this has been fixed in a later version or not?

[2018-08-17 13:35] drelaptop commented on #18990
Please, don't new a issue which describe the problem only using Chinese.

[2018-08-17 13:36] drelaptop commented on #18991
Please, don't new a issue which describe the problem only using Chinese.

[2018-08-18 05:16] summerinsects commented on #18140
And the static buffer __indices causes memory leak

[2018-08-18 09:14] woxinchangdanzou commented on #18990
ok!
cocos2d-x version: cocos2d-x3.10
devices test on: Android8.1 MI 6X
developing environments
NDK version: NDK R10d

Steps to Reproduce:
on the device of Android8.1 MI 6X， when the game is running, Lock the screen by lock scrren key.
After a minute, unlock the screen.
Now we can see that there is a renderTexture of the screen. When the game resume and render again, It will take  sample from the r

[2018-08-20 01:33] joiyao opened #18994 "The EditBox (3.3) application has not been displayed for a long time without displaying the soft keyboard & nothing is displayed after the input is completed."
- cocos2d-x version: 3.3
- devices test on: Android
- developing environments
   - NDK version: r10d
   - Xcode version: 9.4.1
   - VS version:-
   - browser type and version:-

Steps to Reproduce:

1.  长时间开着应用，频繁输入，概率偶现

[2018-08-20 01:49] liuyi commented on #18994
建议你自己根据GITHUB上的代码 将这一模块更新到最新。毕竟你的版本太低了。
You can  check the change log and merge the latest code from cocos2d-x repo.

[2018-08-20 02:03] joiyao commented on #18994
版本低不是问题的根源，毕竟3.3用了近两年，是一个非常稳定的版本。即便更新了，我也得知道为什么会出现这个问题吧？

[2018-08-20 02:17] liuyi commented on #18994
你可以去看changelog 和editbox有关的地方  这个应该修改过很多地方了。

[2018-08-20 02:31] joiyao commented on #18994
谢谢，我确实在看CHANGELOG，3.3的时候还是Dialog实现的，但是到3.8的时候EditBox直接重新实现了。这着实让我头疼，我不确定此前最近的一个版本是不是没有问题了。毕竟是偶现问题，1000次出1次是问题，1000000次出1次也是问题。

[2018-08-20 07:17] zzyAZU commented on #18991
how i fix it:
WebSocket.h
![image](https://user-images.githubusercontent.com/5827910/44325552-b17d7a00-a48b-11e8-987a-1b4faa0ea1aa.png)
WebSocket.cpp
![image](https://user-images.githubusercontent.com/5827910/44325580-c2c68680-a48b-11e8-966b-03eb74b95be9.png)
![image](https://user-images.githubusercontent.com/5827910/44325605-d7a31a00-a48b-11e8-88ab-532630164d8f.png)
![image](https://user-images.g

[2018-08-20 08:05] PatriceJiang commented on #18991
I am re-implementing `WebSocket`, `WebSocket.cpp` will be rewritten, and this bug will be fixed after that.
This PR will focus on improving thread safety and reducing network data process latency.
https://github.com/cocos2d/cocos2d-x/compare/v3...PatriceJiang:new_websocket

[2018-08-20 08:07] zzyAZU commented on #18991
that sounds pretty good

[2018-08-20 08:08] zzyAZU commented on #18991
did you finish rewritten it yet?

[2018-08-20 09:05] PatriceJiang commented on #18991
Third party libraries `libwebsocket2.4.2` and `libuv` are now required. I need to compile and test them first.

[2018-08-20 10:06] PatriceJiang commented on #18770
this issue is fixed in https://github.com/cocos2d/cocos2d-x/pull/18936, @minggo

[2018-08-20 10:12] #18770 closed, assigned to PatriceJiang

[2018-08-20 13:23] #18919 closed, assigned to nobody

[2018-08-20 15:39] xerosugar opened #18995 "Toggle AudioPlayer debug output on/off"
- cocos2d-x version: 3.16
- devices test on: win7
- developing environments
   - VS version: 2013

A request: I wish I could disable the output that AudioPlayer prints out sometimes, because when you have a few of your own CCLOGs in your code, they drown in all the AudioPlayer output.
I'm thinking something like `AudioEngine::setDebugOutputEnabled(true/false);` or similar.

[2018-08-21 02:20] PatriceJiang commented on #17944
WebSocket server added to static libraries. @minggo

[2018-08-21 02:25] PatriceJiang commented on #18022
This issue does not exist on the current version.  @minggo

[2018-08-21 03:37] #18022 closed, assigned to PatriceJiang