[2016-09-15 13:25] #16577 closed, assigned to nobody

[2016-09-15 16:47] pankaj-c opened #16587 "cocos command line tools allows to create project with package containing '-' character"
- cocos2d-x version: 3.13.1

cocos allows to create project with package containing invalid character.
example: cocos new TestProj -l cpp -p com.test-site.game

Here, com.test-site.game is an invalid package identifier.
This will result in build error because of invalid character in AndroidManifest.xml

[2016-09-15 16:51] ricardoquesada commented on #16582
@wulv1985 where is this `PolygonBatch::flush` function? in which file? I can't find it. Thanks.

[2016-09-15 17:00] zengjc1412 commented on #16582
It seems like to be spine source code in cocos2d-x.
I found that in this path : cocos/editor-support/spine/PolygonBatch.cpp. In this class it has function PolygonBatch::flush @ricardoquesada. BTW I used cocos2d-x 3.5 (quick) and also meet this problem.

[2016-09-15 17:28] ricardoquesada commented on #16582
@Zenjc thanks. we replaced that code in v3.12 or (3.11), that's why I can't find it.

[2016-09-15 17:30] ricardoquesada commented on #16582
BTW, If could some could reproduce this bug in v3.13 would be great.

[2016-09-16 15:08] tienthanh1993 commented on #10318
how can i make a map with images have different size. i found in test resource have this but i don't know how to make the same.
![ortho-test1](https://cloud.githubusercontent.com/assets/15545546/18590635/d6e5eebe-7c59-11e6-9aa2-05e20674caf3.png)

[2016-09-17 01:26] liketemple opened #16589 "Compile on macOS failed."
- cocos2d-x version: 3.13.1
- devices test on: macOS 10.12, macbook pro
- developing environments
  - NDK version:
  - Xcode version: 8.0
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. Download the 3.13.1 zip from github
2. #./download-deps.sh
3. #./setup.sh
4. #./source ~/.bash_profile
5. #cmake .
6. #make -j8

Then get error like:
[100%] Linking CXX executable ../../bin/cpp

[2016-09-17 06:04] doersa commented on #16582
@wulv1985 hi,how can you found this problem was caused by spine's functions...I'm very interesting
The discovery process.

[2016-09-17 13:14] dhuang11 opened #16590 "AudioEngine on Android 7.0 locks up UI and causes severe time delay before playback starts"
- cocos2d-x version: 3.13.1
- devices test on: Nexus 5X, Nexus 9, Nexus 6P
- developing environments
  - NDK version: r10e

Steps to Reproduce:
1. Play an MP3 audio file using AudioEngine::play2d("file.mp3") on Android 6.0, 5.0, 4.4, 4.0 and notice how there is very little lag without preloading the audio file.
2. Update phone to Android 7.0 (Nexus 5X, Nexus 9, Pixel C, and Nexus 6P have supported

[2016-09-18 02:00] jminht commented on #16543
@wulv1985
Awsome!
I'll try what you mentioned above.
Thank you very much!

[2016-09-18 03:04] huangbaichao commented on #16582
THX, I met the same problem. And I solved with changing codes in spine.

[2016-09-18 04:09] jminht commented on #16543
@wulv1985 Sorry, but i still have some problem.

where to print the VertexAttribArray status?

what do you mean by "real status"?

what's the rule to choose the result?
i searched the `glEnableVertexAttribArray` and i found it was called in `DrawNode/ParticleSystemQuad/Renderer/TextureAtlas`.
and i got more results while i searched `glVertexAttribPointer`.
With so many results, how could you final

[2016-09-18 09:29] jminht commented on #16582
@ricardoquesada
i've solve the problem with the code @wulv1985 told me.
but  i still have some issues.
Could you help me with this?
#16543

[2016-09-18 11:56] #16526 closed, assigned to nobody

[2016-09-18 13:50] jminht commented on #16543
@wulv1985
the difference between the old and the new code is
when i use `GL::enableVertexAttribs`, i just get one more step `glDisableVertexAttribArray(GLProgram::VERTEX_ATTRIB_NORMAL)`

is this the step which caused the crash?

[2016-09-18 16:30] Gavinleo opened #16593 "iOS10 crash when minimize App and open it again"
- cocos2d-x version: 3.11
- devices test on: iPhone 6, iPad mini 4, iPad Air
- developing environments
  - NDK version:
  - Xcode version: 8
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. open the App
2. touch iPhone/iPad Home, minimize it
3. waiting a few seconds
4. open the App again, then it crash

The same crash occurred when buying goods in the App. When I touch a piece

[2016-09-18 16:56] wduminy commented on #16510
I reproduced crash with NDK 10c, sticking to API 19.
Not sure how important this is but I am also using an Atom  x86 emulator.

**Good news** is that there is no crash with NDK 10c and API level 22.

[2016-09-19 05:04] DavidDeSimone commented on #16541
I was able to trivially reproduce this by running the line
`CCASSERT(ScriptingCore::getInstance()->evalString("(function() { cc.log ('World Hello!'); })();"), "Testing EvalString");` in AppDelegate.cpp after ScriptingCore initialization. The reasoning seems to be that we are initializing the JS::PersistentRootedScript without an initialization value, which will mean it's operator== against nullptr

[2016-09-19 05:33] ArvinChen commented on #16543
It solved the crash problem on ios 10, but on lower ios version, the spine animation will disappare.

[2016-09-19 06:58] jminht commented on #16543
@ArvinChen what do you mean by lower ios verion?
lower than ios7?

[2016-09-19 11:30] rilbim commented on #16506
@stammen Any update? Thanks.

[2016-09-19 12:20] gelldur commented on #16483
Ok... problem was on XML parsing side...
Simply parsing TMX maps do not check is XML correct sample:

[code]

Problematic was `<?xml version="1.0" encoding="UTF-8"?>` extra line (output from TMX generator program...)

[2016-09-19 12:21] #16483 closed, assigned to nobody

[2016-09-19 12:54] slackmoehrle commented on #16589
I am working on this testing, see my running thread here: http://discuss.cocos2d-x.org/t/xcode-8-and-ios-10-testing/32164 I will be updating it more today as I continue testing.

[2016-09-19 13:28] #15634 closed, assigned to nobody

[2016-09-19 13:59] slackmoehrle commented on #16593
Does this happen on `v3.13.1`? I'll test this as well with `v3.13.1`

[2016-09-19 17:07] kmenager commented on #16373
@minggo up ?

[2016-09-20 01:31] minggo commented on #16373
@kmenager sorry, i am busy these days. @slackmoehrle could you please help to reproduce it? Thanks.

[2016-09-20 05:24] ricardoquesada commented on #16543
@jminht what cocos2d-x version are you using? could you test it with v3.13? thanks.

[2016-09-20 06:07] wulv1985 commented on #16543
@jminht
1.where to print the VertexAttribArray status?
i print status in GL:enableVertexAttribs function, after all the glxxx are done. using glGetVertexAttrib.

2.what do you mean by "real status"?
the real status is got by glGetVertexAttrib function, means which array index is enable/disable.  the var s_attributeFlags also keep this information, by they are not the same.

3.how to identify the w

[2016-09-20 06:09] wulv1985 commented on #16543
@ArvinChen
It solved the crash problem on ios 10, but on lower ios version, the spine animation will disappare.

hi, which ios version ?

[2016-09-20 06:11] wulv1985 commented on #16582
@doersa hi, maybe this will help~
#16543

[2016-09-20 06:38] doersa commented on #16582
hi,i maybe get it, thanks very much~~

2016-09-20

doersa

发件人：wulv1985 notifications@github.com
发送时间：2016-09-20 14:12
主题：Re: [cocos2d/cocos2d-x] ios10 crash LayerColor onDraw (#16582)
收件人："cocos2d/cocos2d-x"cocos2d-x@noreply.github.com
抄送："doersa"doersa@126.com,"Mention"mention@noreply.github.com

@doersa hi, maybe this will help~
#16543
—
You are receiving this because you were mentioned.
Reply

[2016-09-20 06:58] Bilalmirza commented on #16469
Any luck with this?

[2016-09-20 07:05] pandamicro commented on #16541
Yes, you are right, this was due to code merging, I used to new a PersistentRootedScript, and delete it at the end, but totally it's useless, let's use JS::RootedScript.

Sorry for the trouble.

[2016-09-20 07:26] Bilalmirza commented on #16469
@ricardoquesada  @stevetranby  @minggo I found the fix!

#16100 issue is the problem... removing the lines added here will fix this problem!
//    if (!isVisitableByVisitingCamera())
//        return parentFlags;

Basically the cameras don't seem to know if the parents were moved hence not updating its positions.

 I'll finally be able to go to v3.13 now :D

[2016-09-20 08:16] dabingnn commented on #16535
https://github.com/cocos2d/cocos2d-x/pull/16600

[2016-09-20 09:06] jminht commented on #16543
@wulv1985
i don't know how to use glGetVertexAttrib correctly.
could you make a example for me?
sorry about that.

[2016-09-20 09:25] wulv1985 commented on #16543
@jminht https://www.opengl.org/sdk/docs/man2/xhtml/glGetVertexAttrib.xml

[2016-09-20 09:40] jminht commented on #16543
@wulv1985
yeah, before i ask the question, i've googled for it.
actually, what i readed is https://www.opengl.org/sdk/docs/man4/html/glGetVertexAttrib.xhtml.
i just don't know which func to choose while there are 6 functions there.
glGetVertexAttribdv/glGetVertexAttribfv/glGetVertexAttribiv/glGetVertexAttribIiv/glGetVertexAttribIuiv/glGetVertexAttribLdv.

[code]

i tried this and i'm curiouse that

[2016-09-20 10:29] fred1024 opened #16601 "Mat4.decompose() mistake ?"
Hello I had some troubles with matrix decomposition (quaternion part) ...
I had a sprite transform i wanted to apply to another sprite using decomposition (without copying the nodeToWorldTransform directly).
Could'nt make it right so after many breakpoints and logs I ended up looking at the  Mat4.decompose() function

in this screen you can see the the wrongly oriented sprite over the sprite i wan

[2016-09-20 10:36] kmenager commented on #16373
@minggo @slackmoehrle
I try to debug this code, but I have a random crash which is really hard to debug. The main  sigsegv error is SEGV_MAPERR. Generally, it happen because the scheduler destructor is called (I guess the garbage collector is the main reason)

[code]

I use this lib [NDKHelper](https://github.com/alfonsocejudo/EasyNDK-for-cocos2dx3) with the method

[code]

I try with the last coc

[2016-09-20 11:11] jminht commented on #16543
OK. after days of work, i finally get the answer.
let's review the process which i think someone could get help.

why can we fix the issue by change the code in **PolygonBatch.cpp** when we get crash in **Layer::onDraw**?

at first, we get crash at glDrawArrays(GLTRIANGLE_STRIP, 0, 4).
xcode show that it mush be reading some address which was released.
so we google for it `glDrawArrays(gl_triangle

[2016-09-20 11:12] jminht commented on #16543
@wulv1985
Thank you very much!

[2016-09-20 11:57] doersa commented on #16543
@jminht
i read your comment that reviews the process for solve the problem,it give me so many helps.From the review,i has learned a way to solve the problem of OpenGl,Thank you for your shared very much.

[2016-09-20 12:19] fred1024 commented on #16601
I think I went to fast ... actually the one is added previously. But I think there's still a problem as the test on the trace value on the 2 implementations would behave differently. I do some more test and come back to u.

[2016-09-20 12:50] jminht commented on #16543
@ricardoquesada
I'm using low version of cocos2dx. and i upgrade part of the code.
as you may know, it's too hard to upgrade the whole engine while you changed some code.
So i think it's hard for me to reproduce the issue in v3.13 even though you may fixed the issue already.
what's more, what i want to know is something independent of specific version.
And you can check them above. (1/2/3/4/5)
All

[2016-09-20 14:31] ricardoquesada commented on #16543
@jminht
Yes, I understand that. But for us, it demands a lot of energy to test old versions. If the bug is present in the latest version, we will happily fix it. We just need a test case to reproduce it.
So, right now I can't give you an answer because I can't reproduce the bug using the latest version.

[2016-09-20 14:35] ricardoquesada commented on #16469
@Bilalmirza thanks. good to know.
I'll try to create a better patch... one that works both for you and for the issue #16100

[2016-09-20 15:14] fred1024 commented on #16601
I have found out, i mistakenly applied non uniform scale (scaleZ wasn't set properly) on the sprite (with all z verts at zero, i thought scaleZ wouldn't mater but it does in the transformation chain with rotations), so the extracted scales were wrong and the quaternion extraction neither :(

[2016-09-20 15:14] #16601 closed, assigned to nobody

[2016-09-21 01:59] wulv1985 commented on #16543
@jminht hi, your comment that reviews the process for solve the problem is good! I am poor in english, so i can't make it clear, sorry about that

[2016-09-21 02:39] dumganhar commented on #16590
Thanks for your feedback.
How about playing audio after `preload`? Did it also cause a big lag in `AudioEngine::play2d`?

[2016-09-21 02:49] dumganhar commented on #16492
@ermanhaskan , I reproduced this issue now. Do you know the reason why it crashes in release mode?

[2016-09-21 02:53] jminht commented on #16543
@ricardoquesada
Got it. I'll try to reproduce the issue i might meet in the future.
Thank you all the same.

@wulv1985
Without you, i won't go anywhere for the issue.
Thank you very mush and wish to learn more from you.

[2016-09-21 03:17] dhuang11 commented on #16590
No the lag is gone after preloading all sound files. However, audio playback on Android 7.0 also has skips and pops if the audio is preloaded but no noticeable latency in playback.

[2016-09-21 07:05] Bilalmirza commented on #16460
@ricardoquesada hey, Ive test both xbox controller and playstation controller they don't work. Previously i had tried for android controller that worked fine.

Test was done on a mac with a v3.13.1 Test project. Should i be downloading specific drivers?

Any help would be greatly appreciated :D

Thanks

[2016-09-21 07:14] ermanhaskan commented on #16492
@dumganhar it's about memory allocation but have no idea why.

[2016-09-21 07:33] ricardoquesada commented on #16460
@Bilalmirza it only supports MFi devices (same controllers as in iOS)... anyone from this list:
https://afterpad.com/mficontrollers/

[2016-09-21 08:14] dumganhar commented on #16590
I don't understand what `skips and pops` means, could you please explain more about that?

[2016-09-21 08:23] zilongshanren commented on #16564
是你不是有用什么软件处理过这个纹理啊？ scale9sprite 的渲染是不会导致竖形条纹的

[2016-09-21 09:01] dhuang11 commented on #16590
Sure - so the sound cuts out for a few milliseconds during playback and then continues playing. It is not too bad, but noticeable.

[2016-09-21 09:32] dumganhar commented on #16590
@dhuang11, how could you hear audio clips that misses a few milliseconds?
Is there a test audio file for easily reproducing this issue?

[2016-09-21 12:25] slackmoehrle commented on #16593
So far I am not seeing this. Tested on an iPhone 6+ and an iPad Pro. I started a testing thread here: http://discuss.cocos2d-x.org/t/xcode-8-and-ios-10-testing/32164

[2016-09-21 12:34] FastGitHub opened #16602 "crash --->xcode report :EXC_BAD_ACCESS in this line (function : fillVerticesAndIndices in CCRender) memcpy(&_verts[_filledVertex], cmd->getVertices(), sizeof(V3F_C4B_T2F) * cmd->getVertexCount());"
- cocos2d-x version: 3.13.1
- devices test on: iOS 9.3.5
- developing environments
  - NDK version:
  - Xcode version:7.3
  - VS version:
  - brower type and version:

Steps to Reproduce:
1.
2.

[2016-09-21 15:09] vkreal commented on #16593
@slackmoehrle seen this happened randomly on NEXUS 5X. I started to see this when updated to `v3.13.1`

[2016-09-21 17:01] gdbobu commented on #15953
I have done with it,it's xcode's bug

2016-09-12 11:18 GMT+08:00 nimabi8984 notifications@github.com:

[2016-09-22 02:38] dhuang11 commented on #16590
Not sure if it was milliseconds. There are just intermittent places in the sound where there is no playback suddenly and then it continues playing back. I've uploaded to dropbox one of the sound files we are using where we can hear this. However, we're able to reproduce with all MP3 files at 128kbps

https://www.dropbox.com/s/283u4ihvlfadf9z/winmeter11s_0.mp3?dl=0

[2016-09-22 02:42] dhuang11 commented on #16590
Note also we downgraded a Nexus 6P back to 6.0.1 - Audio playback is back to normal with no noticeable delay in playback with and without preload.

So to summarize:
1. Nexus 6P or 5X or 9 on Android 6.0.1 - Audio playback is smooth (with our without preload) and doesn't appear to lock up the UI thread
2. Nexus 6P or 5X or 9 on Android 7.0 - Audio playback without preload causes very severe delay i

[2016-09-22 02:47] dumganhar commented on #16590
@dhuang11 , thank you. I will try to test it on my Nexus 9 Android 7.0.
If I get anything, I will add a comment here.

[2016-09-22 06:20] dumganhar commented on #16590
@dhuang11 , I used `winmeter11s_0.mp3` to test and found that AudioEngine used `UrlAudioPlayer` to play this audio. `UrlAudioPlayer` is really simple which just invoke OpenSLES api to play audio. But sorry for that I still couldn't reproduce or find out the issue what you said.

Could you please modify some values in `cocos/audio/android/AudioPlayerProvider.cpp`?

[code]

Make the value of `.mp3`

[2016-09-22 08:23] FastGitHub commented on #16453
@minggo zloop1982 Can you solve the issue?  How to fix it? Thanks!

[2016-09-22 08:25] FastGitHub commented on #16453
@zloop1982  Can you solve the issue? How to fix it? Thanks!

[2016-09-22 19:56] slackmoehrle commented on #16589
I see the same thing in my testing:

[code]

[2016-09-22 19:57] slackmoehrle commented on #16593
I don't see this happening in `v3.13.1`

[2016-09-23 02:10] flybird commented on #14276
I find if I add
if (!cocos2d::Director::getInstance()->isValid())
{
   return;
}
My iphone 4 (not 4s) will see a black screen. :P
I use cocos2dx v3.13

[2016-09-23 03:09] dhuang11 commented on #16590
Ok will give this a try - let you know soon

[2016-09-23 03:59] dhuang11 commented on #16590
Ok just made those changes 1600000 \* 10 and setting the wait_for to 5.

The lag/delay is actually considerably worse than before - from 1-3 seconds to 5-10 seconds for audio that hasn't been preloaded.

However, the random skipping out of sound being played no longer happens.

[2016-09-23 04:40] dumganhar commented on #16590
Good to know `skipping audio clips` didn't happen by applying this.
About the preloading ,basically, we need to support `buffering playing strategy` .

[2016-09-23 07:48] dumganhar commented on #16492
UPDATED:

Although I still don't know the reason, I just added an unused line to printf something at the following function:

[code]

And everything works fine.

[2016-09-23 07:49] dumganhar commented on #16492
@miloyip, do you have any idea about my above comment?

[2016-09-23 07:56] huangzhentao opened #16603 "ImageView used loadtexture() with etc, the alpha is wrong!"
- cocos2d-x version:3.13.1
- devices test on:all
- developing environments
  - NDK version:
  - Xcode version:
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. ImageView used png file first
2. then loadtexture() with etc support alpha

[2016-09-23 07:57] huangzhentao commented on #16603
I think  after loadTexture() ,it must call "_imageRenderer->setState(_imageRenderer->getState());"
to update GLProgramState

[2016-09-23 08:24] huangzhentao commented on #16603
![image](https://cloud.githubusercontent.com/assets/5028674/18779058/e34c9432-81a9-11e6-8147-ae7f0c6ef17b.png)
in UIScale9Sprite.cpp
maybe use "this->setState(_brightState);"   more better.  And fix all Scale9Sprite problem about alpha.
Thinks @halx99

[2016-09-23 08:27] halx99 commented on #16603
@huangzhentao  Thanks for your feedback, I post a PR to fix this issue.

[2016-09-23 13:40] FrankStain opened #16606 "[C++][Android] Application continue working after Application::run() return error."
Running on Windows OS the application stops after the `Application::run()` return error. But on Android OS it continue working.
Investigation shows that you just ignore the result of `Application::run()` here:
https://github.com/cocos2d/cocos2d-x/blob/04fd2b16b2a3a430965b9d9151badf25cd972a15/cocos/platform/android/javaactivity-android.cpp#L95

[code]

This string must be changed like that:

[code]

[2016-09-23 14:29] Rubonnek commented on #16606
You should submit a pull request instead since you are already providing a solution. It's easier for the developers to review it that way -- they'll know exactly the changes that you would like to make by looking at the patch you are providing in the pull request.

And, as a plus, it looks good when you are auto-generating a resume using resume.github.io.

[2016-09-23 16:59] FrankStain commented on #16606
@Rubonnek , that all stops me from making pull request. :)
I may do one, but i have no time for it. And i just have a couple time to report it.
Also, i just suggest the example of solution, not the solution. So i also shouldn't do more than done.

Now it's actually your business. :)

[2016-09-23 17:12] Rubonnek commented on #16606
@FrankStain I see. Never thought about it that way. Thanks a lot for explaining.

[2016-09-24 06:35] cyutao7545 commented on #16564
使用TexturePacker 打的整图 @zilongshanren

[2016-09-24 06:39] cyutao7545 commented on #16564
我稍后用确认下具体 重现步骤然后提供下代码和图片。 @zilongshanren

[2016-09-24 09:06] hunterwilliams opened #16607 "SimpleAudioEngine fails to playback 32bit wav files"
- cocos2d-x version:3.13
- devices test on: iOS Simulator & Windows
- developing environments
  - Xcode version: 7.3.1
  - VS version: 14.0.25425.01 Update 3

Steps to Reproduce:
1. Use any 32 bit .wav file
2. `SimpleAudioEngine::getInstance()->playEffect(filePath, false, 1, 0, 1);`

The sound will not play. However converting with Audacity to a 16bit version works perfectly fine.

If I need to su

[2016-09-24 15:33] nickjmeyer opened #16608 "out of range exception in `[TestController] Run test:Bug15776Layer`"
- cocos2d-x version: 3.13 (pulled from git branch v3)
- devices test on: Ubuntu 16.04

Steps to Reproduce:
1. Run test code as in the README.md

Receiving a `out of range` exception for `std::map` in cpp-test for `[TestController]    Run test:Bug15776Layer`.  Here is the backtrace from gdb:

[code]

[2016-09-24 17:48] rikapo commented on #15820
make sure your g++ symbolic link works fine.
try this command : `file /usr/bin/g++`
and if symlink is broked, this commands will help you.

[code]

[2016-09-24 18:51] pyrosphere opened #16610 "Win32: Third-party .dlls using different platform toolsets"
On win32, currently cocos2d-x and most .dlls use the setting for Platform Toolset v120_xp.

Some 3rd-party .dlls however use different platforms toolsets, namely v100 used by sqlite3 and v110 used by libmpg123, libogg, libvorbis, libvorbisfile and libopenal.

This adds the requirement to manually include msvcr100.dll and msvcr110.dll when distributing the .exe of a game. Ideally all .dlls would us

[2016-09-26 00:24] zzzjim commented on #16589
Build with no tests no javascript no lua

cmake -G "Unix Makefiles" -DBUILD_CPP_EMPTY_TEST=OFF -DBUILD_CPP_TESTS=OFF -DBUILD_LUA_LIBS=OFF -DBUILD_JS_LIBS=OFF ..

[2016-09-26 08:54] minggo commented on #16589
@liketemple why not use Xcode to build for Mac?

[2016-09-26 08:57] minggo commented on #16582
@eddie5010 why not send a PR to spine runtime? cocos2d-x can not accept PR that is merged by spine runtime.

[2016-09-26 09:10] minggo commented on #16568
@pandamicro any plan of it?

[2016-09-26 09:14] minggo commented on #16559
@gekailin i think you are right, why not send a PR for it?

[2016-09-26 09:39] minggo commented on #16602
how to reproduce it？

[2016-09-26 09:44] FastGitHub commented on #16602
Sorry,This is question of Spine.  Fix the crash already!

[2016-09-26 09:45] FastGitHub commented on #16602
@minggo Sorry,This is question of Spine. Fix the crash already!

[2016-09-26 09:52] #16602 closed, assigned to nobody

[2016-09-26 22:00] crazyhappygame opened #16611 "Cannot find module with tag 'android/cpufeatures/prebuilt-mk' - gen-libs"
- cocos2d-x version: 3.13.1
- devices test on:
- developing environments
  - NDK version: r12b
  - Xcode version:
  - VS version:
  - brower type and version:

Steps to Reproduce:
- cocos gen-libs -p android -m release
- update proj.android/build-cfg.json,  proj.android/jni/Android.mk
  according to android instruction
  http://discuss.cocos2d-x.org/t/how-to-speed-up-cocos2d-x-build-with-prebuilt-

[2016-09-27 00:21] #15820 closed, assigned to nobody

[2016-09-27 02:20] minggo commented on #16535
@ricardoquesada as creator cpp support is starting, and these files are needed for cpp too, so i think it is ok to move the file to `cocos/editor-support/cocos-creator`. Please take a look, thanks.

[2016-09-27 02:28] dumganhar commented on #16492
@ermanhaskan， is older versions of cocos2d-x also trigger this issue? Or it's just happens in 3.13?

[2016-09-27 02:32] dumganhar commented on #16492
I found that if we add `LOCAL_ARM_MODE := arm` to `Android.mk`, rapidjson will crash.
It's probably an issue about `arm` mode optimization.

[2016-09-27 03:44] dumganhar commented on #16608
Did you compile it with `release` mode?
I guess that

[code]

[2016-09-27 03:50] dumganhar commented on #16608
It's probably not a bug since I saw this comment:
![testcode](https://cloud.githubusercontent.com/assets/493372/18859621/598fa692-84a8-11e6-943c-1a0e9a5c163e.png)

[2016-09-27 04:59] leon8zhang commented on #16589
I like idea. I like clion.

[2016-09-27 05:42] dumganhar commented on #16607
Could you upload a 32bit .wav for testing? Thanks.

[2016-09-27 05:59] #16603 closed, assigned to nobody

[2016-09-27 05:59] minggo commented on #16603
Thanks @halx99

[2016-09-27 07:06] ermanhaskan commented on #16492
@dumganhar this was not happening before 3.13 and I am using LOCAL_ARM_MODE := arm for years.

[2016-09-27 07:11] dumganhar commented on #16492
[hello-jni-rapidjson-crash.zip](https://github.com/cocos2d/cocos2d-x/files/494780/hello-jni-rapidjson-crash.zip)

@ermanhaskan , I reproduced this issue with the simplest code by modifying `hellojni`.
And I confirm that it's the issue of using `LOCAL_ARM_MODE := arm` & `rapidjson`.
It's probably that `rapidjson` uses some features those aren't supported in gcc 4.9.
Or it's probably a bug of gcc 4.

[2016-09-27 07:14] ermanhaskan commented on #16492
@dumganhar how can I switch to clang?

[2016-09-27 07:20] dumganhar commented on #16492
@ermanhaskan,

cocos2d-x/tools/cocos2d-console/plugins/plugin_compile/build_android.py

[code]

But currently, `clang` with `gnustl_static` stl library isn't stable enough. So we keep on using `gcc` + `gnustl_static`.
However some developers use `clang` for a long time and they don't find any issues with `clang` + `c++_static` in cocos2d-x.

So, you could test by modifying cocos2d-console to use `

[2016-09-27 09:02] yanggee commented on #10438
Do you have any plans to support spine's binary file?

[2016-09-27 09:03] yanggee commented on #10438
好了 不装逼了 什么时候能提供一下spine binary format 的支持啊 ，json的解析速度太慢了

[2016-09-27 09:39] zilongshanren opened #16614 "Altas Label and BMFont with ETC1 texture rendering issue"
- cocos2d-x version: 3.13.1+
- devices test on: iphone 5s

Steps to Reproduce:
1.  Create a Atlas label with etc1 texture and enable shadow
2.  The Atlas label can't be drawn and it will cause OpenGL error.

[2016-09-27 12:19] FinderWu opened #16616 "Memory-leak with Physics3DShape::initMesh"
- cocos2d-x version: 3.13.1

Steps to Reproduce:
1.
   Modify Physics3DCollisionCallbackDemo::init() in file Physics3DTest.cpp of cpp-tests as blow

for (int i = 0; i < 200; i++) //add 200 sprite3Ds
        {
            Physics3DRigidBodyDes rbDes;

[code]

}
2. Step one , create 200 sprite3D objs and remove after 2 sec . Then run it again and again , the memory increasing
3. The question may be

[2016-09-27 14:07] vkreal opened #16617 "Getting random crash in 3.13.1"
- cocos2d-x version: 3.13.1
- devices test on: Nexus 5X
- developing environments
  - NDK version: r10c

Steps to Reproduce:

This happens at random when app comes back in foreground. I have included crash logcat. Looks like it maybe coming from Label by looking at the crash log.
1. Open and close app.

`09-27 06:55:43.181 13097 13097 F DEBUG   : *** *** *** *** *** *** *** *** *** *** *** *** ***

[2016-09-28 02:09] minggo commented on #10438
@yanggee as i said, the spine runtime is maintained by Spine author. We will connect him about it. And please use english in future, your english is good.

[2016-09-28 02:15] LouisChen79 opened #16618 "The App crashes when using HttpClient"
- cocos2d-x version: cocos2d-x-3.13
- devices test on: hTC Desire 600
- developing environments
  - NDK version: android-ndk-r10d
  - Xcode version:
  - VS version:
  - brower type and version:

Steps to Reproduce:
1.  The app crashes at at line 716 of HttpClient-android.cpp, the app runs on hTC Desire600 and gets the data from a tomcat server. The root cause is that system got a nullptr of messag

[2016-09-28 02:23] LouisChen79 opened #16619 "The App crashes when uploading image files"
- cocos2d-x version: 3.13
- devices test on: hTC Desire 600
- developing environments
  - NDK version: android-ndk-r10d
  - Xcode version: V8.0
  - VS version:
  - brower type and version:

Steps to Reproduce:
1.  Uploading image files to tomcat server.
2. The solution is to add "urlConnection.setChunkedStreamingMode(0);" to avoid out of memory at the function of "createHttpURLConnection" after th

[2016-09-28 03:52] minggo commented on #16365
cocos2d console is updated in https://github.com/cocos2d/cocos2d-console/commit/81beb4a2dd41e6b132c09017abd4123b20e02486 and https://github.com/cocos2d/cocos2d-console/commit/8a2e1855721a64e078e96c4937c9c44c1a722a30
tests and template are updated in #16620

[2016-09-28 08:30] SnowflakeTQ commented on #15557
This conversation is sooooo funy 😄

[2016-09-28 08:46] #16365 closed, assigned to dumganhar

[2016-09-28 08:52] paddyesch opened #16621 "FileUtils::createDirectory() on MacOS fails to create directory (APP SANDBOX)"
- cocos2d-x version: 3.10 and supposedly to 3.13
- devices test on: Mac Mini
- developing environment:
  - Xcode version: XCode 8.0
  - OSX 10.11 El Capitan
- mac app: APP SANDBOX ACTIVATED

Steps to Reproduce:

Execute Code:
std::string folder_path = "/Users/[USER]/Library/Containers/[APP_ID]/Data/Documents/newfolder/"
FileUtils::getInstance()->createDirectory(folder_path)
--> Returns false
--> F

[2016-09-28 09:55] weiwest opened #16622 "cocos2d-x 3.13.1 Android CURL not change"
- cocos2d-x version: 3.13.1
  Android curl Library did not change after use GCC

[2016-09-28 10:27] Bilalmirza commented on #16561
@minggo  Hi, Previously my game was supposed to launch on android 6months ago. But our team realised that android had too many performance and audio issues.

So we planned to go desktop first.

Mac performance is much better than android but it is not as good as iphone version.

Here is a Vid of A empty scene in full screen mac!

https://www.dropbox.com/s/dfl5bzg5baplxh0/macLag.mov?dl=0

the fps s

[2016-09-28 11:59] jasonyuan51 commented on #16582
@wulv1985 I use your code, and it sloved my problem, it does not crash now,  but another problem comes, all spine objects are transparent, invisible, do you have any idea about this strange problem ? THX

[2016-09-28 13:15] ricardoquesada commented on #16535
@minggo thanks. I'll take a look. For the moment I don't need them, but most probably because I haven't added support for those features yet.

[2016-09-28 13:43] slackmoehrle commented on #16621
Should you use `getWritablePath()` to determine where the app can actually write to? I don't know that you can just make up a path due to the sandboxing.

[2016-09-28 15:23] paddyesch commented on #16621
The folder_path example above in my code is constructed like this: getWritablePath() + "newfolder/". So I only work within the writable path.

[2016-09-29 01:21] ricardoquesada commented on #10438
I think the best way to do it is by opening a ticket on the spine repository:
https://github.com/EsotericSoftware/spine-runtimes

[2016-09-29 03:40] dzpt opened #16623 "socket.io - onConnect even never being fired"
- cocos2d-x version: 3.13
- devices test on: every
- developing environments
  - NDK version:
  - Xcode version: 8
  - VS version:
  - brower type and version:

Steps to Reproduce:

Any code in `onConnect` delegate method will never be executed.

[2016-09-29 04:26] takesoon opened #16624 "EventDispatcher::resumeEventListenersForTarget 优化建议"
- cocos2d-x version:3.0+
- devices test on:windows
- developing environments
  - NDK version:
  - Xcode version:
  - VS version:2013
  - brower type and version:

我使用cocostudio 创建1 个UI，当我把这个UI加入到场景上时候，我发现addChild（把UI加到场景上） 耗时了十几ms，
当我延迟1帧加入到场景上，addChild这个操作只耗时几ms

最终我发现原因是 下面这段代码
    for (auto& listener : _toAddedListeners)
    {
        if (listener->getAssociatedNode() == target)
        {

[2016-09-29 04:42] dumganhar commented on #16624
你debug下，_toAddedListeners元素是有多少个啊？

[2016-09-29 05:52] takesoon commented on #16624
120多个

[2016-09-29 05:54] takesoon commented on #16624
在复杂的UI 加有PageView Listview中 会更多 有三四百的个Listeners时，差别能有30ms到40ms 之多

[2016-09-29 05:58] dumganhar commented on #16624
遍历std::vector的400个元素不至于那么慢啊，你是编译release版本么？
除了VS，试过其他平台上的表现么？还有，你是如何测试之间区别的？

[2016-09-29 06:04] takesoon commented on #16624
其他平台未测试，我是在debug版本下测试的 如果是1000个Node的UI ，有400个Listeners，遍历最差会接近1000*400次

[2016-09-29 06:08] takesoon commented on #16624
伪代码
方式1：
 local node = BaseViewManger:createCsb("Main/TeamEmbattle.csb")
cc.Director:getInstance():getRunningScene():addChild(node,100)

方式2：
 local node = BaseViewManger:createCsb("Main/TeamEmbattle.csb")

node:retain()

DelayFrame(1,function ()
    local scene =  cc.Director:getInstance():getRunningScene()
    scene:addChild(node,100)
    node:release()
end)

[2016-09-29 06:08] dumganhar commented on #16624
每个Node下挂载了400个Listeners？

[2016-09-29 06:11] takesoon commented on #16624
node 执行 onEnter的时候 调用 resume
resume 执行_eventDispatcher->resumeEventListenersForTarget(this);
1000个Node 每个Node执行一次resumeEventListenersForTarget
resumeEventListenersForTarget里 执行400次循环
不是1000*400么

[2016-09-29 06:18] dumganhar commented on #16624
👍 , 嗯，可以按照你说的优化。能把你已经改好的代码发送一个Pull Request给我们么？

[2016-09-29 06:25] takesoon commented on #16624
稍后 我发送1个 Pull Request

[2016-09-29 06:27] takesoon commented on #16624
我会给1个前后测试结果对比，不过需要一点时间

[2016-09-29 06:32] dumganhar commented on #16624
OK, thank you. :)

[2016-09-29 07:27] wulv1985 commented on #16582
@jasonyuan51 I haven't met this problem, my cocos version is 3.3, how about you? Is it invisible in all device?

[2016-09-29 08:08] VisualSJ opened #16625 "AudioEngine bug - setCurrentTime error"
Test platform: windows 10
1. Call audioEngine->play2d
2. Immediately set current time audioEngine->setCurrentTime

For the first time: Invalid time setting
The second time: Will start playing a section from 0, then jump to the specified time

anticipate result:
  Start playing from the specified time

[2016-09-29 08:19] pandemosth opened #16626 "Memory leak in JSB when using repeat, repeatForever or easing functions on actions"
- cocos2d-x version: 3.11 and 3.13.1
- devices test on: iPhone 6, iOS Simulator iOS 9.3
- developing environments
  - Xcode version: 7.3.1

Steps to Reproduce:
You can see this by running the JS-Tests project, set breakpoints on these destructors:
Sequence::~Sequence
Repeat::~Repeat

Go to the Action Tests. Run the Sequence.repeat() test. After the three repeats, the destructors will only fire onc

[2016-09-29 08:40] zxgats1986 commented on #16543
Great job! Thx for your ideas and solutions. it works for me

[2016-09-29 09:13] laitr01 commented on #15871
same issue, i used cocos2d such as a library in my project. i used swf-cocos2d-2.1rc0
how can i update for this?

[2016-09-29 09:15] minggo commented on #15871
@laitr01 i think i added detail information in the comment above.

[2016-09-29 12:20] dhuang11 commented on #16414
We're also seeing the exact same crash in CC2DX 3.11, 3.13 and 3.13.1

[2016-09-29 13:32] Joilnen opened #16627 "FMOD issues in linux"
- cocos2d-x version: 3.13.1
- devices test on:  computer (running slackware linux)
- developing environments
  - gcc 5.3.0, cmake 3.5.0

Steps to Reproduce:
1. Try to execute audio examples of cpp-tests
Error output error:
Ready for GLSL
Ready for OpenGL 2.0
Console: listening on  0.0.0.0 : 5678
FMOD: SystemI::init                  : FMOD Ex Version: 00042817
FMOD: SystemI::init                  :

[2016-09-29 15:32] minggo commented on #16414
@dhuang11 do you have a test case to reproduce it easily? And what's your environments:
- devices to test on
- NDK version
- what API version did you build with

more detail information is better.

[2016-09-29 16:12] antidotcb opened #16628 "Defining CC_USE_PHYSICS to 1 by default is wrong"
- cocos2d-x version: 3.13.1

I use cocos2dx with **only** Box2D.

So I disabled default use of `chipmunk, bullet, recast` via adding following configuration options to my project `CMakeLists.txt`:

[code]

cocos2dx library compiling is OK.
my project compiling is OK.

But, when I try to use default camera object from any scene, I got SEGFAULT.

[code]

My "small" investigation (8 hrs) lead me to `

[2016-09-29 16:22] hunterwilliams commented on #16607
I've put one in my dropbox. Not sure a great place to upload them.

https://dl.dropboxusercontent.com/u/16766619/punch.wav

[2016-09-29 17:39] dhuang11 commented on #16414
We are seeing this crash on a number of Android devices. There doesn't appear to be a clear pattern.

We build using NDKr10e and with API version 23.

In house, we are able to reproduce this fairly easily on an Amazon Kindle Fire HDX. If we launch the app and close it a few times.

[2016-09-29 22:38] ricardoquesada commented on #10438
this is the spine PR: https://github.com/EsotericSoftware/spine-runtimes/pull/716

[2016-09-30 01:36] Rubonnek commented on #16627
Have you tried using the included prebuilt library at: ${COCOS_ROOT}/external/linux-specific/fmod/prebuilt/${ARCH}/libfmod.so? ARCH is either "32-bit" or "64-bit" depending on your system.

That's the library I'm currently using in Arch Linux and it works.

[2016-09-30 02:07] minggo commented on #16622
What did you mean did `Android curl Library did not change after use GCC`?

[2016-09-30 02:18] dumganhar commented on #16607
@hunterwilliams ,  I could download the file you uploaded. Thank you.

[2016-09-30 02:35] weiwest commented on #16622
create a new project
open "$(call import-module,curl/prebuilt/android)' in cocos/Android.mk
add "LOCAL_STATIC_LIBRARIES += cocos_curl_static" in cocos/Android.mk
it will be crush

[2016-09-30 02:36] minggo commented on #14450
fixed in #16632

[2016-09-30 02:59] minggo commented on #16414
@dhuang11 did it also crash at `cocos2d::RenderState::StateBlock::setBlend()`?

[2016-09-30 03:02] dhuang11 commented on #16414
Yes exact same stack trace - cocos2d::RenderState::StateBlock::setBlend() crash with the same call stack prior to that crash

[2016-09-30 03:05] dhuang11 commented on #16414
Our game is linked to Crashlytics - here is a shared link to this crash:
http://crashes.to/s/5d886e5ff64

It is our #1 crash according to Crashlytics and it is happening a larger proportion on Amazon kindle devices

[2016-09-30 03:07] minggo commented on #16414
Will you please use stand NDK toolchain to have a try?

[2016-09-30 03:36] yanggee commented on #10438
@ricardoquesada Thank you very much, Spine binary support is what I want.

[2016-09-30 03:49] dhuang11 commented on #16414
I/DEBUG   (  259):
I/DEBUG   (  259): Build fingerprint: 'Amazon/thor/thor:4.4.3/KTU84M/13.4.5.5_user_455004220:user/release-keys'
I/DEBUG   (  259): Revision: '0'
I/DEBUG   (  259): pid: 24581, tid: 24650, name: Thread-407  >>> com.boqugames.poker <<<
I/DEBUG   (  259): signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 00000024
I/DEBUG   (  259):     r0 00000000  r1 00000001  r2 00000001  r3

[2016-09-30 03:50] dumganhar commented on #16607
@hunterwilliams , I tested, it's a bug of SimpleAudioEngine.

[code]

I also tested with `AudioEngine` which uses openal to play audio. And it works ok.
It's better to switch to `AudioEngine` which is more powerful. :)

[2016-09-30 06:58] #14450 closed, assigned to minggo

[2016-09-30 07:23] minggo commented on #16446
@zilongshanren after i updated OpenSSL to 1.1.0, i can not build it for android. Please help to fix the compiling issue.

[2016-09-30 10:50] gestern opened #16633 "[spine] `ScaleTo` action not worked property with `SkeletonAnimation` or crashed"
- cocos2d-x version: 3.13
- devices test on: iOS 10, iPad Air
- developing environments
  - Xcode version: Version 8.0 (8A218a)

Steps to Reproduce:

[code]

`monsterClip` is defined as `spine::SkeletonAnimation*`, and if you do change the code which marks like `(a)` with `monsterClip->setScale(1)` the monster would showed properly. Seems like the fragment (b) is always ignored if `setScale(0)`. I

[2016-09-30 14:19] hunterwilliams commented on #16607
Ah I didn't manage to see that pop in the logs. Maybe suggest a documentation mention unless I missed it :)

[2016-09-30 14:30] onlycxue commented on #15199
thanks !

[2016-09-30 19:46] Joilnen commented on #16627
Yes, i figured out that because I was using local lib, but even with cocos2d dependencies I can't run sounds now Im getting different error messages:
./cpp-tests
Ready for GLSL
Ready for OpenGL 2.0
Console: listening on  0.0.0.0 : 5678
shm_open() failed: Permission denied
FMOD error! (51) Error initializing output device.
FMOD error! (67) This command failed because System::init or System::setDriv

[2016-09-30 21:05] Rubonnek commented on #16627
You are missing `pulseaudio`. I had that exact error some time back when I tried to play sounds without pulseaudio installed.

[2016-09-30 21:22] laitr01 commented on #15871
i have problem when replace fixed libpng. i used cocos2d1.0.1-x-0.13.0-beta/ndkr8

[2016-10-01 00:11] cellininicholas commented on #15710
I may have fixed this by changing the method setInactiveText() in EditBoxImplCommon like so...

[code]

[2016-10-01 00:44] ricardoquesada commented on #10438
don't merge this PR until the PR in the spine repo is merged. thanks.

[2016-10-01 09:22] miloyip commented on #16492
I have tried different configurations, and found that gcc 4.9.0 arm mode release configuration (`-O2`) causes crash. Either changing it to clang, debug configuration, or thumb instruction set do not have the problem.

The current minimal reproducible code is simply:

[code]

This will cause crash due to incorrect instruction emitted in `SetNull()`. If we turn off optimization in `SetNull()`, then

[2016-10-01 11:06] Seryusjj opened #16634 "Cocos win 32 project not compiling with cmake and vs2015"
- cocos2d-x version: v3 form git master branch
- devices test on: win32
- developing environments
  - VS version: vs2015 version 14.0.25431.01 update 3
  - Visual C++ 2015 00322-900053-9539-AA717
  - CMake 3.6.1

Steps to Reproduce:
1.  Create a new project with cocos console in order to get the template ready, generate with CMake for vs 2015, try to build.
2. An error will raise when trying to co

[2016-10-01 11:33] slackmoehrle commented on #16627
We have had some issues where users have had to make a few symlinks to get everything working but that was for compiling. I think you need `pulseaudio` as @Rubonnek has stated. You are running Slackware and it is very minimal. Distros like Ubuntu have this already installed.

[2016-10-01 11:34] #16634 closed, assigned to nobody

[2016-10-01 11:38] slackmoehrle opened #16635 "System font enhancements on OSX and macOS"
this was reported on the forums: http://discuss.cocos2d-x.org/t/labels-with-system-fonts-on-macos/32394

My understanding is `SystemFont` is a label type that uses the default `system font` and `font size`. This is a font that is meant not to have its properties changed. You should think of it as **system font, system rules**.

User is asking if this behavior can be changed and provides some thoug

[2016-10-01 19:48] kmaker commented on #16635
The font name given is used as a "font family name" on OS X and not as a "font name". That for me is the bug. It should be used as a font name, which is actually the semantic given in iOS' implementation (and also is what the parameter name suggests). I do not follow why you would say that system fonts need to be used with default font name and size. What would be the default size? Why should we n

[2016-10-01 20:40] MrCapone commented on #16589
Fix for this issue #16636

[2016-10-02 06:27] BgRprt opened #16638 "Layer->setRotation3D seems to break touch event target"
- cocos2d-x version: cocos2d-x-3.13
- devices test on: Windoze PC
- developing environments
  - NDK version:
  - Xcode version:
  - VS version: VS2013
  - brower type and version:

Steps to Reproduce:
1. HelloWorld::init() ... add the following ... (leave create as it comes from the template)
   auto tileMap1 = TMXTiledMap::create("Tiled/map_1.tmx");
   auto layer1     = tileMap1->getLayer("Kachel

[2016-10-02 06:34] BgRprt commented on #16638
Note ... the text shown after submitting is different from what I entered. When I try to edit I get the correct text back, only to loose it again with submit ... guess I should send the files ... Until I do that ... make sure the two nested for loops go over width and height of the map ...

[2016-10-02 06:58] BgRprt commented on #16638
[bug.zip](https://github.com/cocos2d/cocos2d-x/files/504809/bug.zip)

OK, so here are the files ... the bug is commented in. You can easily comment out the two lines in HelloWorld(init) where I do the setRotation3D() ... then it works as expected ...

Please put the tile stuff in a subfolder named "Tiled" relative to the executable.

[2016-10-02 20:03] Rubonnek commented on #16481
I was able to reproduce the same issue as @ZeroObject. I didn't pinpoint the exact issue, but it seems to lie on how the GLFW library is being compiled since I was able to get an Xbox 360 controller working on my build by using the official prebuilt GLFW library. Here's what I did on a step by step basis:
1. I downloaded the [GLFW library](https://github.com/glfw/glfw/releases/download/3.2/glfw-3.

[2016-10-03 14:04] alkatena opened #16639 "[Label] If getLetter() is called on a shrunk text, the letter will keep the original size (before shrinking)"
- cocos2d-x version: v3.13.1
- devices test on: All

[Label] When text is shrunk (using Overflow SHRINK), if getLetter() method is called, the letter will keep its original size (without shrinking), looking like this:

![screen shot 2016-10-03 at 10 55 17](https://cloud.githubusercontent.com/assets/8377637/19040039/c4898936-8958-11e6-87ee-cc6a28e1dad8.png)

The getLetter() method was used in the f

[2016-10-04 04:47] vanferry opened #16643 "get black screen when integrate cocos2dx with UIKit, and using multiSampling"
- cocos2d-x version:3.13
- devices test on: iOS 9.3.5
- developing environments
  - NDK version: r10c
  - Xcode version: 7.3
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. https://github.com/rauluranga/Cocos2dx-UIKit
download and compile this project, its cocos version is 3.8, I also tried 3.13, make no difference.
2. use multiSampling to get better 2d graphic result.
CCEAGLV

[2016-10-04 11:31] AIGRIND-LLC commented on #15926
Confirmed that bug in cocos2dx v3.12.
To reproduce the crash a TextField must have fixed content size that is not enough to display all text content.
**Cursor must be enabled** also for this TextField.

![text_fielad_1](https://cloud.githubusercontent.com/assets/6168693/19072447/8350f52a-8a35-11e6-8ae8-8a4f04f2ed7a.png)

If you click on the TextField the app will crash on assert.

![text_field_2](

[2016-10-04 15:28] mogemimi opened #16644 "Upgrade Box2D to latest version"
- cocos2d-x version: v3.13.1
- developing environments
  - Xcode version: Xcode 8.0

Steps to Reproduce:
1. Build libcocos2d project with Xcode, then the following warnings are generated.

[code]

These warnings seem to have already been fixed in the latest Box2D that is hosted on github at https://github.com/erincatto/Box2D. I also tried to replace the old files with new ones which are downloaded

[2016-10-04 15:34] vanferry commented on #16643
I didn't use mutilsampling the right way, it should be:

CCEAGLView _ccEAGLView = [CCEAGLView viewWithFrame: [[UIScreen mainScreen] bounds]
pixelFormat: (NSString)cocos2d::GLViewImpl::_pixelFormat
depthFormat: cocos2d::GLViewImpl::_depthFormat
preserveBackbuffer: NO
sharegroup: nil
multiSampling: NO ----> YES
numberOfSamples: 0 -----> 4 ];

Both last two lines are needed, now it's fine.

[2016-10-04 15:34] #16643 closed, assigned to nobody

[2016-10-04 19:59] BgRprt commented on #16638
OK, I see the same behaviour when I create a camera and move or rotate it ... seems like all touches are interpreted as if the layer was still in the original position and displayed by the default camera ...

[2016-10-05 04:33] NobuyasuMorita opened #16646 "cc.Scale9Sprite setColor is not work"
I found a bug. Please fix it!

Cocos2d-x JS 3.13.1
Chrome 53.0.2785.143

Setting:
    1. create new project with js.
    2. app.js file's L.27 change
        `this.sprite = new cc.Scale9Sprite(res.HelloWorld_png,null,cc.rect(10,10,10,10));`
    3. Add L.28
        `this.sprite.setColor(cc.color(250,20,30));`
    4. Add modules "extensions" on project.json.
    5. Run project.

Sprite color shift a

[2016-10-05 05:27] ricardoquesada commented on #16589
f

[2016-10-05 05:27] #16589 closed, assigned to nobody

[2016-10-05 07:26] ghost opened #16647 "Cannot build in Release mode: wrong missing libatomic.a error cocos2d-x"
Hello everybody,
I am using cocos2d-x v3.13 and the NDK r11c, and I have a project that is working perfectly when building it in debug mode (using "cocos run -p android"). Since the project is going well, I wanted to try a release compilation to see if I get a significant perf boost.
So I ran "cocos run -p android -m release" and I get a weird compilation error:

[code]

So it says that there is a

[2016-10-05 08:37] 1scaR1 opened #16648 "[jsb] XHR 'timeout' property not affects HttpClient timeout"
- cocos2d-x version: 3.13.1
- not work on all native platforms

Code example:

[code]

`xhr.ontimeout` is not called after 5 seconds, `xhr.onerror` called after default `HttpClient` timeouts

[2016-10-05 08:45] patriciog commented on #16492
Hi @dumganhar, @minggo:

Our game is crashing when ccs.load(...) is loaded in release mode, because it use rapidjson too.

Will @miloyip's workaround be the final solution in cocos2d-x 3.14 or are you working on this issue?

Thanks and best,

[2016-10-05 15:09] zloop1982 opened #16650 "cocos2d-x js-test IOS"
- cocos2d-x version:3.13.1
- devices test on: ios simulator ---iphone5s/ios9.3
- developing environments
  - NDK version:
  - Xcode version:7.3.1
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. run  js-test IOS.
2. play chipmunk test and tap screen to create many Collisions.
3. play chipmunk test to Chipmunk Collision Test{using setDefaultCollisionHandler}(debug on).
4. tap ne

[2016-10-05 15:20] zloop1982 opened #16651 "cocos2d-x js-test IOS--Sprite3D"
- cocos2d-x version:3.13.1
- devices test on:ios simulator iphone5s/9.3
- developing environments
  - NDK version:
  - Xcode version:7.3.1
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. play js-test (Sprite 3D test)
2. play every case and next to cubemap and skybox test.
3. tap next.
4. game will crash in Sprite3D::getMesh-->_meshes.at(0);

trigger this assert:
CCASSERT( inde

[2016-10-05 15:41] zloop1982 commented on #16650
![gc-screenshoot](https://cloud.githubusercontent.com/assets/5636068/19120342/0e62da14-8b55-11e6-8b26-95a2799ef0a4.png)

[2016-10-05 15:44] zloop1982 commented on #16651
![outofrang](https://cloud.githubusercontent.com/assets/5636068/19120555/b165d036-8b55-11e6-8c1c-f896a4e28b48.png)

[2016-10-05 16:06] zloop1982 commented on #16651
I think the function at(index) should return  nullptr here if size is 0 .
may be use  template partitial specialization will solve this issue.
example:

[code]

[2016-10-05 17:16] pineoc commented on #8222
any update on this issue?
In my project, i use pop scene with transition like this.

[code]

this is just example of transitionFade,  but i want make this
popSceneWithTransition function to use other transitions.

[2016-10-05 21:28] patriciog commented on #16492
Thanks @miloyip!

Your workaround works fine.

[2016-10-06 01:59] dhuang11 opened #16652 "CCFontFreeType crashes in destructor"
- cocos2d-x version: 3.13.1
- devices test on: iOS
- developing environments
  - Xcode version: 7.3.1
#0. Crashed: com.apple.main-thread

0  SlotsPalace-mobile             0x1004baf6c std::**1::__hash_iterator<std::__1::__hash_node<std::__1::__hash_value_type<std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> >, cocos2d::_DataRef>, void_>_> std::__1::__hash_table<s

[2016-10-06 02:00] dhuang11 commented on #16652
The destructor should be changed to:

[code]

[2016-10-06 02:01] dhuang11 commented on #16652
In the destructor, before decrementing the referenceCount, make sure _fontName does exist in s_cacheFontData - this appears to be what's wrong

[2016-10-06 03:40] oostap commented on #15588
Hello, I found the solution for this issue:
https://github.com/rickdu/webp_wp8

Sorry, I'm not a windows developer, so I can't make a good PR, but it really works on winrt (win8 & wp8)!

Hope it helps someone to add this feature to engine!

[2016-10-06 15:18] huangapple opened #16653 "3.11.1 Cocos2dxJavascriptJavaBridge.evalString can't work?"
appActivity.runOnGLThread(new Runnable() {

[code]

});

can output  -- while(true) cc.log(1);
but can't run js code "while(true) cc.log(1);"

[2016-10-06 15:30] huangapple commented on #16653
https://github.com/cocos2d/cocos2d-x/pull/16597
It has been solved.

[2016-10-06 15:30] #16653 closed, assigned to nobody

[2016-10-06 16:56] angelvet opened #16654 "Possibly wrong content size of scale9 sprite"
I'm using cocos2d-x-3.13.1

While working with "*.9.png" images I have just noticed some inconsistency in the code that I can't understand.

`Scale9Sprite::createSlicedSprites()` function has this code:

`auto originalSize = CC_SIZE_POINTS_TO_PIXELS(_originalSize);
if (_isPatch9)
{
    originalSize = Size(originalSize.width - 2, originalSize.height-2);
}`

Here we are decreasing size for 2 pixels

[2016-10-06 17:47] 1scaR1 commented on #16621
It is fixed in https://github.com/cocos2d/cocos2d-x/pull/15452

[2016-10-07 03:36] DavidDeSimone commented on #16648
I am not seeing this behavior on Windows 10, building win32 while on 3.13.1. Running your example code quickly yields an error after two frames, due to the HTTP client not being able to resolve "some address" via DNS.

Running a modified example seems to work fine, and logs a timeout appropriately,

[code]

Here 10.255.255.1 is a non-rotatable IP, and is guaranteed to timeout. Is there anything ad

[2016-10-07 04:13] crazyhappygame commented on #16611
@perminovVS , @minggo It is seems like it is related to https://github.com/cocos2d/cocos2d-x/commit/c26b755175524a3200357bb53cd38861c3c13e70

Could you check it?

[2016-10-07 13:02] perminovVS commented on #16611
Need to know how it works gen-libs.
Apparently it add /prebuilt-mk for all import-module in cocos/Android.mk
For solutions you problem, comment //$(call import-module,android/cpufeatures) in cocos/Android.mk

[2016-10-08 01:50] minggo commented on #16492
@miloyip can the compiling option be included in `rapidjson/rapidjson.h`?

[2016-10-08 02:33] dumganhar commented on #16635
@zilongshanren ,I found that `_createSystemFont` function in `CCDevice-ios.mm` & `CCDevice-mac.mm` was modified by you in https://github.com/cocos2d/cocos2d-x/pull/15827 .
Could you tell us why should  we use `[NSFontManager sharedFontManager]` for macOS while using `[UIFont fontWithName`  for iOS? Thanks.

[2016-10-08 02:47] dumganhar commented on #16481
@Rubonnek , did you check that GLFW 3.2.1 fixed this issue?

[2016-10-08 02:49] dumganhar commented on #16639
@alkatena , could you paste some code snippet for reproducing this issue? Then I could debug and find out what the problem is. :)

[2016-10-08 02:52] dumganhar commented on #16644
Is there a release tag for Box2D? Or does it mean `master` branch of https://github.com/erincatto/Box2D is stable enough?

[2016-10-08 03:07] dumganhar commented on #16638
@BgRprt, I got an assertion by your demo code.

[code]

Should it be `this->addChild(tileMap1);`?

[2016-10-08 03:23] dumganhar commented on #16651
What I was thinking while designing `cocos2d::Vector` is that `Vector` should be super fast and the bound check should be in `assert`.
Yes, what you thinking is also correct, but I'm thinking that it would probably make it a little slower.
I guess user code should do the `bound check` instead of in `Vector` template.

Best practice might be

[code]

If we apply the patch you said. Users have to wr

[2016-10-08 05:45] dumganhar commented on #16652
@dhuang11, you're right. I'll submit a Pull Request for this issue. 👍

[2016-10-08 05:47] dumganhar commented on #16652
@dhuang11 , is there a easy way to reproduce this issue. Then we could create a test case for this issue.

[2016-10-08 06:22] dumganhar commented on #16647
How about using `android-ndk-r13` which was released recently?

[2016-10-08 06:38] zilongshanren commented on #16635
@dumganhar I just do some refactoring in that PR, but I think the implementation is wrong here.
I have made a new PR to resolve this issue.

@kmaker  please test the PR to see whether it works or not, thanks.

[2016-10-08 07:32] minggo commented on #16647
I used NDK r13 to compile `cpp-empty-test` with github latest codes for armeabi-v7a, haven't met the issue:

[code]

[2016-10-08 07:51] dumganhar opened #16661 "Replace c style uthash with std::unordered_map<K, V>"
Now we're using c++11 and have replaced some part of uthash code since v3.0,
but not all code which uses uthash was modified.
The performance of `std::unordered_map` is good enough, therefore we could safely replace all uthash code with `std::unodrdered_map<K, V>`, it will be more c++ friendly and readable.

Currently, there are serval modules are using uthash:

![uthash-modules](https://cloud.git

[2016-10-08 08:04] minggo commented on #15730
Can i reproduce it with latest codes compiling with Xcode 8.

[2016-10-08 08:24] dumganhar opened #16663 "label with suitable content size could not be shown entirely"
- cocos2d-x version: 3.13.1
- devices test on: Mac
- developing environments
  - NDK version:
  - Xcode version: 8.0
  - VS version:
  - brower type and version:

Steps to Reproduce:
1. Run cpp-tests
2. Select `30:Node: Label - New API` -> `42:Test for Issue #10089`
3. The second label could not be shown entirely.

The result now:

<img width="1072" alt="expected" src="https://cloud.githubusercont

[2016-10-08 08:46] dujiadui opened #16664 "can't unschedule when the schedule interval time is 0.005f"
- cocos2d-x version:3.13.1
- devices test on:iOS
- developing environments
  - NDK version:
  - Xcode version:
  - VS version:
  - brower type and version:

Steps to Reproduce:
1.
2.

[2016-10-08 14:34] ocrest commented on #16627
I think it would be better to simply change [this line](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/audio/linux/AudioEngine-linux.cpp#L66) in AudioEngine-linux.cpp:

[code]

instead of installing PulseAudio. In my case (Debian with ALSA) this fixed the problem.

[2016-10-08 18:17] patriciog commented on #16492
Hi:

I've added this code in all CocosStudio classes where `document.h` is included:

[code]

It's working.

[2016-10-09 01:28] minggo commented on #16492
@patriciog thanks for the information, but i think it is better to add it in `document.h` if possible. Or it is inconvenient to add the codes in all codes includes `document.h`.

[2016-10-09 02:05] minggo commented on #15891
Is there any crash in newest version? I will close this issue since i think they are fixed.

[2016-10-09 03:24] zloop1982 commented on #16651
yes, that make sense.
so, the mistake is  :
`Mesh* getMesh() const { return _meshes.at(0); }`
we should check _meshes's size before return.

or, if you guys want keep this code simple, you should write like this:
`Mesh* getMesh() const { return _meshes.s_at(0); }`
and the vector should add s_at() for safe version.

[2016-10-09 03:32] zloop1982 commented on #16651
and , maybe _meshes should not be empty here, right?
so, maybe some thing else also wrong in this test case.

[2016-10-09 03:49] dumganhar commented on #16651
@zloop1982 , I think there should be something wrong in test case.
For me , I don't like adding a new method `s_at`.

[2016-10-09 04:25] mogemimi commented on #16644
At the moment, Box2D v2.3.2 not yet officially released. So if you will attempt to update now, we can use latest HEAD on master branch in progress (not stable), or waiting for stable release.

[2016-10-09 05:54] wulv1985 commented on #16543
@zxgats1986 I am glad to  hear that

[2016-10-09 05:59] dumganhar commented on #16644
@mogemimi , thanks.
It's better to wait the stable box2d version (2.3.2) to be released, then we could update it. :)

[2016-10-09 06:31] miloyip commented on #16492
I do not want to do such workaround in the master. This seem happen in some versions of compilers on some platforms, such kind of patching may make the code unclean.

I suggest that, you may create a own wrapper header, which contains such patching and include the real header. And then replacing the existing usage of document.h with the wrapper header.

[2016-10-09 07:51] frranck commented on #15891
@minggo I don't have the phone to test at the moment, but I've never seen this fixed... Could anyone here test it ?

[2016-10-09 09:30] zloop1982 opened #16667 "TMXTilesetInfo doesn't support every tile in one tileset have separate image"
- cocos2d-x version: 3.13.1
- devices test on: all
- developing environments
  - NDK version:
  - Xcode version: 7.3.1
  - VS version:
  - brower type and version:all

Steps to Reproduce:
1. try to load some tile map like this:
   `<tileset firstgid="1" name="Walls" tilewidth="512" tileheight="512" tilecount="8" columns="0">
   <tile id="0">
   <image width="512" height="512" source="walls/wall-01

[2016-10-09 09:35] zloop1982 commented on #16651
yes, if we don't add `s_at`, we shouldn't write code like this:
`Mesh* getMesh() const { return _meshes.at(0); }`

[2016-10-09 10:14] mogemimi commented on #16644
@dumganhar Thank you for considering my request! :heart:

[2016-10-09 18:22] Rubonnek commented on #16481
@dumganhar Yes. You can follow the same steps as above with [GLFW 3.2.1](https://github.com/glfw/glfw/releases/download/3.2.1/glfw-3.2.1.bin.WIN32.zip) instead while also replacing the headers at `%PROJECT_ROOT%\cocos2d\external\glfw3\include\win32` with the headers from the official prebuilt release at `glfw-3.2.1.bin.WIN32.zip\glfw-3.2.1.bin.WIN32\include\GLFW` and you will get the same results.

[2016-10-10 01:58] dumganhar commented on #16651
Agree, could you submit a pull request for it? Thanks.

[2016-10-10 02:06] kmaker commented on #16635
works great! thanks!

[2016-10-10 02:07] zilongshanren commented on #16635
@kmaker  😄   thanks for reporting this issue.

[2016-10-10 02:07] #16635 closed, assigned to zilongshanren

[2016-10-10 04:48] cesarpachon opened #16668 "changing transform on a sprite child affect its sprite parent"
- cocos2d-x version: 3.10, javascript
- devices test on: PC
- developing environments
  - brower type and version: chrome

Steps to Reproduce:
1.   create a sprite, the parent.
2.  attach a new sprite (the child) to the parent.
3. change rotation or scale in the child (setRotation, setScale). the parent is also affected.

I was expecting that the modifications affect only the child, but they someh

[2016-10-10 08:11] yanggee commented on #10438
the spine runtime is unresolved

程序卡在这里了，不知道你的注释是什么意思

At 2016-09-28 10:10:12, "minggo" notifications@github.com wrote:

@yanggee as i said, the spine runtime is maintained by Spine author. We will connect him about it. And please use english in future, your english is good.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-10 08:16] yanggee commented on #10438
I used the spine binary library ，but The program crashed。
In the create bones when the prompt name equal to null。

I need your help[http://p1.bqimg.com/4851/1be710ab8ff3c3a0.png](url)

[2016-10-10 08:19] yanggee commented on #10438
when the release version of 3.14?
I really need spine binary support.
There is another problem, spine animation out of frame, how to optimize.

[2016-10-10 08:39] dumganhar opened #16669 "Missing cc.clone in JSB"
cocos2d-html has an implementation of `cc.clone` like:

[code]

But it's missing in JSB.

@pandamicro , could you please check this?

[2016-10-10 09:02] zloop1982 opened #16670 "[TileMap]Even each tileset only have one image,still can't show correctly.(withTestCase)"
- cocos2d-x version:3.13.1
- devices test on: chrome
- developing environments
  - NDK version:
  - Xcode version:
  - VS version:
  - browser type and version:chrome  53.0.2785.143
  - Tiled Map Editor 0.17.0

Steps to Reproduce:
1. try to load tiled map attached here:[tilemap.zip](https://github.com/cocos2d/cocos2d-x/files/519080/tilemap.zip)

   use this code :

      `var map = new cc.TMXTiled

[2016-10-10 09:08] zloop1982 commented on #16651
ok, I will do it later.

[2016-10-10 09:40] zloop1982 commented on #16670
Is there an limitation "one layer only use one image"?
Or, "one layer only use one tilesize"?

I split the metal,rock,wall in different layer, and then, seems better.

[2016-10-10 10:14] zloop1982 commented on #16670
finally  set every tielset's tilewidth and tileheight to 64 as the map set , get correct result.

[2016-10-11 05:10] toreinkun opened #16674 "there is a problem for the method addCustomHandler of ScriptHandlerMgr"
- cocos2d-x version:3.13.1

If i use method addObjectHandler first , the vecHandlers for the object is not empty. Then i use addCustomHandler, the handleType just  increment one , it will not bigger than HandlerType::EVENT_CUSTOM_BEGAN.

this is some code of addCustomHandler.

[code]

[2016-10-11 12:07] Dimon4eg commented on #15972
Here is PR [https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/pull/61](https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/pull/61)

[2016-10-11 15:08] ZeroObject commented on #16481
I used @Rubonnek method to update to GLFW 3.2.1. Everything looks fine!
Think you!!😆

[2016-10-11 18:01] ricardoquesada commented on #10438
@yanggee what's the issue again? is it crashing with the new binary support patch?
if so, could you attach the code to reproduce it? thanks.

[2016-10-11 19:38] ondesly opened #16678 "Last jpeg lib causes crash on devices with NVIDIA Tegra"
- cocos2d-x version: 3.13.1
- devices test on: Asus Eee Pad Transformer TF101

It seems that the last jpeg lib use NEON instructions for armeabi-v7a build. NVIDIA Tegra doesn't support NEON instructions, but supports armeabi-v7a.
So it causes SIGILL after first using of jpeg lib.

After replacing armeabi-v7a jpeg lib with armeabi everything works fine.

[2016-10-11 21:15] ricardoquesada commented on #15730
I couldn't reproduce it.
I downloaded latest code as of today.
did `cocos new -lcpp test`
edited `ccConfig` and disabled physics from there
run it on iPhone... worked Ok.

@minggo what did you do to reproduce it?

[2016-10-12 01:33] minggo commented on #15730
@ricardoquesada it's a mistook, i wanted to say `i can't reproduce it`.

[2016-10-12 01:34] yiquanshui opened #16680 "lua-empty-test link faild"
- cocos2d-x version: v3
- devices test on: windows
- developing environments
  - NDK version:
  - Xcode version:
  - VS version:2015
  - browser type and version:

Steps to Reproduce:
1. build lua-empty-test

Change CCLuaEngine.cpp line 39-43 to just use lua51.lib is ok

[2016-10-12 01:50] aardvarkk opened #16681 "Unable to run new project in Android on simulator (java.lang.UnsatisfiedLinkError)"
- cocos2d-x version: 3.13.1
- devices test on: Nexus 5X API 24 x86 Simulator
- developing environments
  - NDK version: r10e
  - Android Studio 2.2.1

Steps to Reproduce:
1. Create a new game with cocos command line
2. Open project in Android Studio and try to run it in the simulator

The project appears to build correctly, but when it runs I get the following:

[code]

[2016-10-12 02:10] minggo opened #16682 "Strange log at startup when running on Mac OS X"
- cocos2d-x version: v3.13.1 and latest codes
- devices test on: MacOS Sierra(10.12)
- developing environments
  - Xcode version: Xcode 8

Steps to Reproduce:
1. run cpp-empty-test on Mac
2. will see the message at startup

[code]

Haven't met any crash, but i may be a potential issue.

[2016-10-12 02:22] dumganhar commented on #16681
Did you build a  shared library for `x86` architecture?
The cocos command is

[code]

[2016-10-12 03:01] Rubonnek commented on #16561
I was reading the developer log of Banished and the developer mentioned a similar FPS drop issue in the [entry of June 23, 2016](http://www.shiningrocksoftware.com/2016-06-23-passing-values/) while working on the Mac OS X port of the game. The last line of the log summarizes the root cause of the problem:

I think this might be the cause for the FPS drop in Cocos2D-X too -- a quick search of the `

[2016-10-12 03:12] minggo commented on #16561
Why did you find `inout`?

[2016-10-12 03:48] dhuang11 commented on #16652
@dumganhar, unfortunately we don't have a good way to reproduce this. We are seeing this in live crash logs.

[2016-10-12 04:08] Rubonnek commented on #16561
That's the change the Banished developer made to the `SkinPosition` function to fix the FPS drop in the Mac OS X port. That same keyword, which strictly speaking is a parameter qualifier, also appears in the [OpenGL ES Shading Language](https://www.khronos.org/files/opengles_shading_language.pdf). And there are [online references](http://www.shaderific.com/glsl-qualifiers/) that state that using t

[2016-10-12 08:23] dumganhar commented on #16652
@dhuang11, I sent a PR (https://github.com/cocos2d/cocos2d-x/pull/16684) to fix this issue.
Please check it out.

[2016-10-12 08:57] dzpt commented on #14276
still having this trouble in 3.13

[2016-10-12 09:00] minggo commented on #14276
It is fixed in v3.14, or you should follow the PR above to fix the issue.

[2016-10-12 09:23] dzpt commented on #14276
@minggo I've followed the instruction of @ondesly , seeing those lines have been added, but still having this error.  `OpenGL error 0x0502 in /CCRenderer.cpp restoreRenderState 188`
The latest stable version is 3.13.1 , can't see 3.14

[2016-10-12 09:26] minggo commented on #14276
You should follow @ricardoquesada 's commit: https://github.com/cocos2d/cocos2d-x/commit/3ecaa7194438d4a5cbd01bd740e474fae80b19f3.

[2016-10-12 09:30] flowerfx opened #16685 "CCClippingNode causes bad performance on windows phone 8.1/ windows 10 mobile device"
- cocos2d-x version: 3.13.1
- devices test on: Lumia 640XL windows 10 mobile
- developing environments
  - NDK version:
  - Xcode version:
  - VS version: 2015 community
  - browser type and version:

Steps to Reproduce:
1.  Run the hello world sample and add CLippingNode into the Scene
2. Look the fps at bottom- left of the screen , when i have 1 clippingnode, the fps have around 20fps, 2 or more

[2016-10-12 10:12] dzpt commented on #14276
@minggo I've checked my code and it looks exactly the same as @ricardoquesada commit and still having error.  I'm using the glow effect here http://qiita.com/isaoeka/items/dee8159e2a0c2a37a662

[2016-10-12 10:21] minggo commented on #14276
What happen if you remove the glow effect?
Does it only happen on iOS 9?
Could you please provide a test case to reproduce it?
Thanks.

[2016-10-12 10:26] ondesly commented on #14276
@Tom29 How much is fps in your game? I found that if fps is lower then 60, you can get this issue even with the patch.

[2016-10-12 13:04] GabrieleGervasi opened #16687 "Activity issues after launch app first time, from play store, ... and reopening from icon on Android"
- cocos2d-x version: 3.13( with minor fixes from 3.13.1 and 3.14)
  (included, we were already in this situation: _https://github.com/cocos2d/cocos2d-x/pull/16525/commits/eeac95c40f7a81c0158f44dc275c27f009cbd915_)
- devices test on: Huawei p8, OnePlus 2
- developing environments
  - NDK version: r10e

Steps to Reproduce:
1.  Integrate something able to start new activity from your app (we are curr

[2016-10-12 17:09] waqas19921 opened #16693 "Cocos 2d gen-libs command fails every time with filename, directory name, or volume label syntax is incorrect error."
- cocos2d-x version: 3.13.1
- developing environments
  - NDK version: r-13
  - VS version: V13

[code]

[2016-10-12 18:01] slackmoehrle commented on #16682
Happens when running the whole cpp-tests, not just empty.

[code]

[2016-10-12 19:55] aardvarkk commented on #16681
I was able to get a build running from the command line as you mentioned, but it should be possible to build directly from Android Studio, right?

[2016-10-12 19:57] slackmoehrle commented on #16693
I don't do a lot with Windows but is the path slashing weird? i.e notice it has both **/** and **\**

Also does it work if you specify one **--app-abi** at a time?

[2016-10-13 01:35] dumganhar commented on #16681
@aardvarkk , currently, Android Studio just build java code, so you need to build so file in command line by using the following command:

[code]

Make sure so file is generated, then run it in Android Studio.

Yep, run in Android Studio directly with java & cpp code compilation is WIP, please refer to PR #15676 .

If my solution works for you, please close this issue. Thanks.

[2016-10-13 02:15] dumganhar commented on #16399
@halx99, I tested your demo and I could reproduced it.

@newnon has submitted a Pull Request https://github.com/cocos2d/cocos2d-x/pull/16689

After I applied @newnon's patch, this issue was fixed.

@halx99, could you try to apply that patch and test again? Thanks.

[2016-10-13 02:19] halx99 commented on #16399
@dumganhar ok, I will test it

[2016-10-13 02:57] dzpt commented on #14276
@ondesly 60fps @minggo  you can try my code here: https://github.com/Tom29/ShaderExample , run with cocos 3.13.1.

[2016-10-13 03:27] dumganhar commented on #15321
@Kotaiba
I tested it and found that the label created by `createWithTTF` will be shown as same as which in `Sublime Text Editor`.  Please refer to the following screenshot:
- `عربي` in Sublime Text:
  ![sublime](https://cloud.githubusercontent.com/assets/493372/19335731/032f2402-9138-11e6-87fb-d1eae95c81bd.png)
- `عربي` in Cocos2d-x:
  <img width="960" alt="font-test" src="https://cloud.githubuser

[2016-10-13 03:29] dumganhar commented on #15321
@Kotaiba , I don't understand `Arabic font`, could you confirm that which one in cocos2d-x is correct? If System font is correct, why it's wrong in Sublime Text?

[2016-10-13 03:55] yhhwatl commented on #16582
@wulv1985
i've solve the problem with the code.
but I can not understand why ?
Do you explain the situation ?
thank you.

[2016-10-13 06:06] waqas19921 commented on #16693
does not work if i specify --app-abi armeabi or --ap-abi x86

[2016-10-13 06:17] dumganhar commented on #15433
@linse073 , how did you enable outline? Could you paste some code snippet for reproduce this issue?

[2016-10-13 06:37] DavidDeSimone commented on #16685
I've done clipping node performance testing in the past, and I believe the performance issues you are seeing are due to the fact we are reading values from the GPU during clipping node's draw functions.

If you examine CCStencilStateManager.cpp::140, we see

[code]

glGetIntergerv has extremely negative performance implications. It is listed as a common mistake on https://www.opengl.org/wiki/Commo

[2016-10-13 07:19] Kotaiba commented on #15321
@dumganhar the system font is correct one ,Sublime need to support Arabic in order for it to work . take a look at this post i think it will give you an idea . http://stackoverflow.com/questions/25603500/arabic-language-with-sublime-text-editor

[2016-10-13 08:01] flowerfx commented on #16685
hello i think i have found the problem of this issue and all the problem slow down the wp8.1/wp10 platform (use stencil)

i notice that this function : glBufferData(GL_ELEMENT_ARRAY_BUFFER, sizeof(_indices[0]) \* _filledIndex, _indices, GL_STATIC_DRAW); in CCRenderer.cpp run slow.
I have tracked total time run of this function in one loop, it took about 0.05 to 0.1 sec with Scene have two or more

[2016-10-13 08:26] Bilalmirza commented on #16561
@minggo hey, will this be looked into for 3.14 release or later?

[2016-10-13 08:29] minggo commented on #16561
It will be in later version.

[2016-10-13 08:31] Bilalmirza commented on #16561
Okay thanks :)

[2016-10-13 09:05] dumganhar commented on #15321
@Kotaiba, I found this article (https://www.freetype.org/opentype/index.html).
Rendering Arabic font is more complex than other languages, we probably need to use `the FreeType OpenType Layout extension` for drawing `Arabic` letters.

[2016-10-13 09:15] Dauch opened #16696 "Hot update Err"
- cocos2d-x version: 3.13.1
- devices test on:
- developing environments
  - NDK version: r12b
  - Xcode version:
  - VS version:
  - browser type and version:

use patch update
Those are the log:

[code]

**The most happen is `message = "java.net.SocketTimeoutException"` , do it http server's business ?**
**And Those are the crash**:

[code]

It happen in hundreds of devices, please give some hel

[2016-10-13 09:44] yanggee commented on #10438
@ricardoquesada Can i hava you email address ?  I want to send you a  about  binary spine file (.zip).
Spine binary support loads json file  is successed,but it loads binary file is faild .

[2016-10-13 10:01] dumganhar commented on #16696
Even though there is a `SocketTimeoutException`, `AssetsManagerEx` should not make app crash. It's probably a bug in AssetsManagerEx.

[2016-10-13 10:03] dumganhar commented on #16696
How did you get this log?
What's the code in `AssetsManagerEx.cpp:642`?

[2016-10-13 10:06] Dauch commented on #16696
How did you get this log?
    _I got those log by the plugin report to my backstage._

[code]

I didn't change those files.
@dumganhar

[2016-10-13 10:07] Dauch commented on #16696
the line ```_fileUtils->renameFile(_storagePath, TEMP_MANIFEST_FILENAME, MANIFEST_FILENAME);``` is AssetsManagerEx.cpp:642, i didn't change those files

[2016-10-13 10:08] yanggee commented on #10438
[player_double_sword.zip](https://github.com/cocos2d/cocos2d-x/files/526786/player_double_sword.zip)

[2016-10-13 10:09] Dauch commented on #16696
what are the reasons of taking those

[code]

happening？

[2016-10-13 10:12] Dauch commented on #16696
I'm not sure are those message make the crash happen, but I got crash update total complete once. It sometimes happen on some devices. And When I got those message sometime, They will download the whole files in my project.manifest and not compare with the local file( **aka. it ignore files change, it download all in project.manifest**)

[2016-10-13 11:11] Dauch commented on #16696
I got one diveces more deeper crash info

[code]

[2016-10-13 16:16] babcca commented on #16543
@wulv1985 @jminht You are the best!.

[2016-10-13 19:33] ricardoquesada commented on #10438
@yanggee how do I use it? what's the skin and animation that I should use?

[2016-10-13 23:28] stevetranby commented on #16661
Did you write a performance test (or is there an existing one) that confirms relatively similar performance? I don't doubt it, but confirmation would be nice.

[2016-10-13 23:33] stevetranby commented on #16670
yeah there's definitely a one tileset per layer limitation in the cocos2d tilemap renderer

[2016-10-14 01:56] dumganhar commented on #16661
@stevetranby , we tested it some years ago. Please refer to

https://docs.google.com/spreadsheets/d/1XolpgYfoWszA2rxnVRCAVS7ILAGiV049o5mpL29cwLs/edit#gid=6

cocos2d::Map<K, V> is using `std::unordered_map` while `cocos2d::Dictionary` is using UT_HASH.

Test code could be found at `Performance Test` project.

[2016-10-14 02:09] dumganhar commented on #16696
It seems to be a connection problem happened in client side.
Could you reproduce it ? Or is this the log caught from users?

[2016-10-14 02:37] Dauch commented on #16696
This is the log caught from users. It sometimes can reproduce by my phone. what info do you need?
@dumganhar

[2016-10-14 02:39] dumganhar commented on #16696
I need a simple demo to reproduce this issue. Then it will be easier for us to debug and find out the crash reason.

[2016-10-14 02:49] Dauch commented on #16696
ok, i will try.

[2016-10-14 03:26] yanggee commented on #10438
@ricardoquesada
I written some names in source code file.
You can get it by open the image, and you can open .cpp file .
[source code.zip](https://github.com/cocos2d/cocos2d-x/files/528605/source.code.zip)

[2016-10-14 09:29] deil opened #16704 "AssetsManagerEx: incomplete error handling"
- cocos2d-x version: 3.9+

Steps to Reproduce:
1. use compressed assets with AssetsManager
2. make any error during decompression happen (malformed or zero-length zip file, out of storage space)
3. as result, you'll get a game with corrupted assets

There is no error handling logic in decompression phase. Originally I was using cocos2d-js 3.9, but already looked at 3.13 source code. If any decompr

[2016-10-14 09:49] #16652 closed, assigned to nobody

[2016-10-14 14:28] ChristianFischer opened #16705 "Setting a sprite frame containing polygon data discards the sprite's current color"
After setting a new SpriteFrame containing polygon data via sprite->setSpriteFrame, the sprite's color will be reset to white until updating the color again.

The issue can be fixed by adding updateColor() after copying the polygon data in setSpriteFrame

See patch:
[update_sprite_color.patch.txt](https://github.com/cocos2d/cocos2d-x/files/529709/update_sprite_color.patch.txt)

[2016-10-16 20:29] aseem2625 opened #16709 "ui::ScrollView scrollBarWidth and scrollBarAutoHideTime not working as expected"
- Cocos2d-x v 3.11.1
- Android 6.0

  Hi,
  I am using scrollView.

[code]

`setScrollBarWidth` is not working.
Whatever value I give, it changes from the default width to some particular width irrespective of float width I pass as parameter. Eg- the width is same for float value 60.f or 15.0f.

`setScrollBarAutoHideTime` and `setScrollBarColor` don't work until the scrollView is added in the laye

[2016-10-17 01:59] liuyi opened #16710 "mp3extractor: unable to resync. signalling end of stream crashed on android 3.2"
- cocos2d-x version:3.10
- devices test on: DELL T03G android 3.2
- developing environments
  - NDK version:r10c
  - Xcode version:
  - VS version:
  - browser type and version:

Steps to Reproduce:
1. Just run the app with background music(loop)

[2016-10-17 02:11] #16399 closed, assigned to nobody

[2016-10-17 02:11] #16663 closed, assigned to zilongshanren

[2016-10-17 02:20] dumganhar commented on #16709
@zilongshanren , please any ideas of this issue?

[2016-10-17 02:22] dumganhar commented on #16710
How did you play background music? `experimental::AudioEngine`or `SimpleAudioEngine`?

[2016-10-17 02:42] dumganhar commented on #16492
@minggo ,PR was submitted here (https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/254)

[2016-10-17 02:54] liuyi commented on #16710
Here is my code(JSB):

 _self.bgAudioId = jsb.AudioEngine.play2d(_self.res.bgSound, true, _self.bgVolume);
    _self.bgDuration = 0;
    _self.bgTimerId = _self.schedule(function () {

[code]

Because the loop option can not play audio again at once, so I have to check its current time and reset it.

[2016-10-17 02:57] dumganhar commented on #16710
Does it only happen on Android 3.2 device?
Could you please try this test case in cocos2d-x 3.13.1 since we have refactored much of Audio code in 3.13.1? I wanna know whether it also happens in v3.13.1.

[2016-10-17 03:17] liuyi commented on #16710
OK, but would test it later. I am busying on releasing new version of our app...

[2016-10-17 03:20] dumganhar commented on #16710
👌，thanks.

[2016-10-17 03:40] minggo commented on #16705
@ChristianFischer could you please provide a test case to reproduce it? Thanks.

[2016-10-17 03:53] minggo commented on #16693
The error message is not reported by `cocos command`. It may be reported by NDK. [This stackoverflaw issue](http://stackoverflow.com/questions/20168156/gradle-the-filename-directory-name-or-volume-label-syntax-is-incorrect) may give you a hand.

[2016-10-17 03:59] minggo commented on #16680
What's the accurate cocos2d-x version? `v3` is not a version.

[2016-10-17 05:44] minggo commented on #16492
@dumganhar why rename it to `document-real.h`? It will break compatibility. And i think it is better to add a header file in cocos2d-x without modify the lib, or it will hard to update rapid json in future.

[2016-10-17 05:53] minggo commented on #16678
@ricardoquesada i didn't find we did special for armeabi-v7a building, so may be the jpeg itself used neon for armeabi-v7a architecture?

[2016-10-17 06:00] minggo commented on #16674
Sorry, what's the issue?

[2016-10-17 06:10] minggo commented on #16668
@cesarpachon it should not have this issue. How to reproduce it, could you please provide a test case? Thanks.

[2016-10-17 06:10] minggo commented on #16664
Could you please provide a test case?

[2016-10-17 06:12] minggo commented on #16654
@zilongshanren any idea of the codes?

[2016-10-17 06:30] zilongshanren commented on #16709
@aseem2625 I will check   this issue later, thanks.

[2016-10-17 07:06] minggo commented on #16323
Why it will crash, the codes will return in this line

[code]

now b replace a without invoking `appendIn`, it will not crash. I think the only issue is that, the priority can't change.

[2016-10-17 07:11] minggo commented on #16323
Oh, their priority are the same, so will execute the codes

[code]

And will not crash because b replace a.

[2016-10-17 09:43] dumganhar commented on #16492
@minggo, since @miloyip suggest don't modify `rapidjson` source code to fix this issue, I simply added a new file `document.h` as a wrapper file in which invokes the real document.h.

[2016-10-17 09:53] dumganhar commented on #16323
[code]

@zhengfangxin , is `a` an autorelease object? I assume that it is since you're using `create` method.

Strictly speaking, you should not invoke `a->release` here since you didn't `retain` it, the reference count will be probably wrong.

How about change it to the correct one like the following and could you find the crash?

[code]

[2016-10-17 11:45] mohshin-shah commented on #15969
Please open the terminal and execute this
git config --global user.email "youremail@xxx.xxx"
then try git clone

[2016-10-17 12:59] jammacn opened #16713 "using arguments caused low perfomance on jsb"
- cocos2d-x version: >=3.10

Steps to Reproduce:
1. onEnter: function () {
       this._super();
       this.scheduleUpdate();
   },

   update: function (delta) {
       var fn = function(){
           arguments; //this line caused very low performance on jsb
       };
       var t = Date.now();
       for (var i=0;i<10000;i++)
       {
           fn();
       }
       cc.log("total time: " + (Da

[2016-10-17 14:58] aardvarkk commented on #14876
I just run iOS projects directly from XCode now so I can see the output.

[2016-10-17 14:58] #14876 closed, assigned to nobody

[2016-10-17 14:58] aardvarkk commented on #14874
This was just a warning specific to the simulator -- I don't think it's related to Cocos2d-x necessarily, and it didn't seem to impact the functionality of the app.

[2016-10-17 14:58] #14874 closed, assigned to nobody

[2016-10-17 15:01] aardvarkk commented on #16681
The problem seems to be related to Android Studio, not really a problem with Cocos2d-x. I was getting into situations where the native code wasn't rebuilding itself even though it needed to be. Triggering a sequence of Invalidate Caches/Restart, Clean, Sync Gradle, and then Refresh Linked C++ Projects, then rebuilding again fixed the linker errors.

I think the critical step is to Refresh Linked C

[2016-10-17 15:01] #16681 closed, assigned to nobody

[2016-10-17 15:15] aardvarkk opened #16714 "ui::Scrollview doesn't work in Android Emulator"
- cocos2d-x version: 3.13.1
- devices test on: Android Emulator (Nexus 5X API 24 x86)
- developing environments
  - NDK version: r13
  - Android Studio version: 2.2.1

Steps to Reproduce:
1. Create a ui::ScrollView with an InnerContainerSize larger than the ContentSize and add it to a scene.
2. Run the app in Android Emulator.

On iOS these ScrollViews work just fine, and they're also fine on Andr

[2016-10-17 16:48] abdel3 opened #16715 "source code lipng issues ??"
Hello i have a source code (see the attach files) i want to reskin it and im wonderring if it include libpng error please if somone have an idea about it let me know
![issuse](https://cloud.githubusercontent.com/assets/22892605/19446656/16a72664-949a-11e6-9e28-ad3e1204a0b3.PNG)

thank you :)

[2016-10-17 17:51] aardvarkk commented on #16714
I've managed to fix this by changing the following on line 398 of Cocos2dxActivity.java

from:

this.mGLSurfaceView.setEGLConfigChooser(8, 8, 8, 8, 16, 0);

to:

this.mGLSurfaceView.setEGLConfigChooser(8, 8, 8, 8, 16, 8);

The stencil was disabled on the emulator for some reason (I'm not sure why). Setting the stencil buffer to 8-bit fixed the Scrollview appearing in green.

[2016-10-17 18:17] slackmoehrle commented on #16715
Your question is inappropriate here. Please ask on our forums.

[2016-10-17 18:17] #16715 closed, assigned to nobody

[2016-10-17 18:50] abdelmorite commented on #15871
Please Give me video Explains that because I did not understand anything

[2016-10-18 01:30] minggo commented on #15871
@laitr01 v1.x is too old, the libpng may break compatibility. We have not resource to fix such an issue. Sorry about it.

[2016-10-18 01:44] minggo commented on #16492
@dumganhar doing like this will be convenient for developers, but it is hard to update rapid json in future. `document.h` will be replaced when upgrading rapid json, we can not remember to do the special operation when upgrading.

What i mean doing the wrapper in cocos2d-x is that:
- adding a `documentwrapper.h` in cocos2d-x, the contents of it is the same as your current document.h
- the source c

[2016-10-18 02:43] toreinkun commented on #16674
The handlerType in ScriptHandlerMgr::addObjectHandler will be in conflict with ScriptHandlerMgr::addCustomHandler.
In some case, they will replace each other, but it is not our hope.

[2016-10-18 02:46] dumganhar commented on #16492
Okay, so every developer should know to include `json/document-wrapper.h` rather than the standard `rapidjson` header file `json/document.h`. We have to teach every developer not to use `json/document.h`. If a developer does, he/she probably create an issue saying that her/his game crash, we have to explain that `hey guy, don't use the document.h in rapidjson, please use my wrapper`. Yes, we could

[2016-10-18 02:55] dumganhar commented on #16714
@dabingnn , do you know why we disable stencil for Android Emulator?

[code]

[2016-10-18 07:36] zloop1982 commented on #16651
Already submitted #16711
only for Mesh\* getMesh()

[2016-10-18 08:08] minggo commented on #16674
Could you please provide a test case to reproduce it? Thanks.

[2016-10-18 08:33] zilongshanren commented on #16446
[prebuilt.tar.gz](https://github.com/cocos2d/cocos2d-x/files/535621/prebuilt.tar.gz)

@heyikun

I have successfully built the openssl 1.1.0b  static library, could you help to test it ?

Thanks.

[2016-10-18 08:54] dumganhar opened #16718 "Should `Node` be located in `cocos2d-x/cocos/base` directory?"
Currently, it's in `cocos2d-x/cocos/2d` directory, but `Sprite3D` is also inherited from `Node`.
Our `Node` isn't a 2D node anymore. IMO, it should be located in `cocos2d-x/cocos/base` directory.

[2016-10-18 08:56] Dauch commented on #16696
Sorry, I can't reproduce this issue. `AssetsManagerEx.cpp:642` is renaming a file, if a *.tmp file is already exist. It certain crash. It need to do a condition that if the target name doesn't exist to do this rename. What do you think? @dumganhar

[2016-10-18 09:08] dumganhar commented on #16696
What's the engine version you're using? The issue content you said you're using `3.13.1`,
13 #12 pc 009597d4 libcocos2dlua.so renameFile (cocos2d-x/cocos//./platform/CCFileUtils.cpp:1205) [armeabi-v5te]

But 1205 line of CCFileUtils.cpp of 3.13.1 isn't the line you said. please refer to :
https://github.com/cocos2d/cocos2d-x/blob/cocos2d-x-3.13.1/cocos/platform/CCFileUtils.cpp#L1205

[2016-10-18 09:11] Dauch commented on #16696
Sorry, I change something code in CCFileUtils.cpp, it actually refer to

[code]

[2016-10-18 09:15] dumganhar commented on #16696
I notice this stack information:

[code]

Probably, There was an `out-of-memory` event happened. Otherwise, `new` operator should not throw an exception.

How many memory does your game cost?

[2016-10-18 09:19] Dauch commented on #16696
not that mach, I do it in the first enter the game, It cost the memory like it is empty game.

[2016-10-18 09:21] Dauch commented on #16696
and those is my hot update code:

[code]

[2016-10-18 09:26] dumganhar commented on #16696
Could you help check the following issues, are they the same one as you get?

https://github.com/cocos2d/cocos2d-x/issues/16704
https://github.com/cocos2d/cocos2d-x/issues/15750
http://forum.cocos.com/t/bug-assetsmanagerex-zip-bug/37635

[2016-10-18 09:30] Dauch commented on #16696
I didn't use compressed assets thing.

[2016-10-18 09:41] dumganhar commented on #16696
So it isn't the same issue, I'm not familiar with the code of `AssetsManagerEx`.
@pandamicro is the author of it, if he could help, that will be great. But he is busy for another project.

@minggo , I think those issues need to be fixed in high priority, otherwise, some users may get crash while updating.

[2016-10-18 14:04] laitr01 commented on #15871
@minggo ok thanks you, i have already built libpng 1.2.56 and repleace for 1.2.46. It worked perfectly

[2016-10-18 14:12] letrungtrung opened #16719 "(iOS) Crash after receive applicationDidReceiveMemoryWarning"
The reason caused crash is "on applicationDidReceiveMemoryWarning  function exist code calling cocos2d::Director::getInstance()->purgeCachedData();"

Steps to Reproduce:
1. add texturePack with 3 sprite frames: A,B, C
2. create sprite with sprite-frame A, B
3. cocos2d::Director::getInstance()->purgeCachedData(); (simulate like function applicationDidReceiveMemoryWarning )
4. create sprite with spr

[2016-10-19 01:27] minggo commented on #16696
Ok, i will ask @pandamicro to take a look.

[2016-10-19 01:49] toreinkun commented on #16674
There is no wrong in the engine code, but there is a hidden rule to use ScriptHandlerMgr.
I can't do this in my custom spine object, such as:

[code]

Actually, by modifying ScriptHandlerMgr::HandlerType  to avoid use ScriptHandlerMgr::addCustomHandler.

[2016-10-19 02:10] pandamicro commented on #16696
I don't really understand, I'm seeing two problems here,
1. Network connection issue, SocketTimeoutException, this should be related to client network environment.
2. Crashes, but are you saying all crashes are causing by renaming file or there are multiple reasons for the crashes ?

[2016-10-19 02:30] Dauch commented on #16696
The second point:
All the crashes related to the hot update reported to my backstage I found is this, I can't certain the whole thing that this is the only reason make this crash.  and this is happen at the end of the hot update once on my device.

[2016-10-19 02:36] Dauch commented on #16696
And one more thing. when I meet those `SocketTimeoutException` once, I popup the hint window by `local function updateErr`, and this is aready excute `am:release()`, I'm not click to exit the game, but I observe that it continue download the whole files in my project.manifest and not compare with the local file( **aka. it ignore files change, it download all in project.manifest**)

[2016-10-19 03:00] toreinkun commented on #16719
there is not a map to record A,B,C for a plist in memory, it will clear all sprite frames if it is not unused.
before using createSpriteFrame, you must to addSpriteFrames.

[2016-10-19 03:22] pandamicro commented on #16696
OK, I will check the renaming logic later, as I got other priority, I could only be able to look into it next week. Sorry for that.

For the problem that download all in project.manifest, I don't understand what's happening, it shouldn't. Only difference should be downloaded.

[2016-10-19 03:26] letrungtrung commented on #16719
@panzhihao That is a sample to show you how to reproduce crash.
According to you, if i have 100 spriteframes in pack, you need call 100 times to add spriteFramePack before use it?
Always start game, the user will create needed spriteframes to spriteframeCache, But on applicationDidReceiveMemoryWarning comes, how to control it to  re-create spriteframes?

I think this is logic problem for releasing

[2016-10-19 03:39] dumganhar commented on #16719
@letrungtrung , which version of cocos2d-x are you using?
I tested it on v3 branch, it works without crash. This is my test code:

[code]

[2016-10-19 03:44] toreinkun commented on #16719
@dumganhar @letrungtrung new version use Texture2D::_ninePatchInfo to fix this.

[2016-10-19 03:50] dumganhar commented on #16719
@panzhihao , i debugged it and found _ninePatchInfo was never used.
I set this break point in xcode to debug:
![screen shot 2016-10-19 at 11 49 29](https://cloud.githubusercontent.com/assets/493372/19505102/3f5e1118-95f2-11e6-80ad-634521757d8c.png)

[2016-10-19 03:52] Dauch commented on #16696
Yes it shouldn't, but it did happen. those files I never changed the `md5`, but the user will download it when meet those `SocketTimeoutException`

[2016-10-19 03:55] dumganhar commented on #16696
Is it a problem of `CDN Cache` which wasn't updated?

[2016-10-19 04:09] letrungtrung commented on #16719
@dumganhar I'm using version: 3.8 and 3.13
The problem caused crash is the unused SpriteFrames were removed after calling pureDataCache, and then you use spriteframe that removed.

[2016-10-19 04:17] toreinkun commented on #16719
@dumganhar  Oh, i am wrong , the problem has not fixed.
`
cc.SpriteFrameCache:getInstance():addSpriteFrames("texture.plist");
    local a = cc.Sprite:createWithSpriteFrameName("a.png");
    self:addChild(a);
    a:setPosition(100, 100)

[code]

`

[2016-10-19 05:55] minggo commented on #16674
Yep, it is designed like this. All well known event type should use addObjectHandler, if you have some  custom event, then you should all use addCustomHandler.

[2016-10-19 05:58] dumganhar commented on #16719
@letrungtrung @panzhihao , I think it's not a bug.
After you purgeCachedData, all SpriteFrames in SpriteFrameCache will be released.
It will be a new environment after purge. So you need to re-add the `plist` file to sprite frame cache before create a sprite from SpriteFrameCache.
For instance,

[code]

[2016-10-19 05:59] panzhihao commented on #16674
i can't all use addCustomHandler, because CCNode has used addObjectHandler.

[2016-10-19 06:08] toreinkun commented on #16674
I can't all use addCustomHandler, because some node like extension::ScrollView has used addObjectHandler. If i want to extend extension::ScrollView about script handler, i must add a new ScriptHandlerMgr::HandlerType for it. I don't think it is a nice designed, because i should not change the engine code, it will be harder to update engine.

[2016-10-19 06:14] toreinkun commented on #16719
@dumganhar  I think so. The texture for plist still in the memory, so re-add the plist will not use long time.

[2016-10-19 06:16] dumganhar opened #16720 "RenderState::bind(Pass* pass), the `pass` argument is never used"
[code]

@ricardoquesada , any thought about this?

[2016-10-19 07:36] letrungtrung commented on #16719
@dumganhar
- Your sample is perfect case, you active call  Director::getInstance()->purgeCachedData(); and you know you need to re-add spriteFrames. But in my case, this function was passive call (the low memory triggers anytime, anywhere), how to re-add spriteframes. Or you want to call add spriteframes before using a frame in them?
- My solution is check texture of spriteframe before deciding it

[2016-10-19 10:38] toreinkun commented on #16719
@letrungtrung  SpriteFrame will retain the texture, so the texture's referenceCount is 2.

[2016-10-19 10:41] Sakari369 opened #16721 "CMake build fails, "glfw3.h" not found"
- cocos2d-x version: 3.13.1
- devices test on: Macbook Pro 2014
- developing environments
  - NDK version: NA
  - Xcode version: 7.3.1
  - VS version: NA
  - browser type and version: NA

Steps to Reproduce:
1. Download distribution file for 3.13.1, unpack, run all the instructions required
2. Create a new project with 'cocos new HelloWorld -p com.indigineous.hello -l cpp -d /Users/sakari/dvl/lear

[2016-10-19 12:00] satanorz opened #16722 "Mesh generates access violation in Vertexbuffer on second Draw() call"
- cocos2d-x version:  3.13.1
- devices test on: Windows 10
- developing environments
  - VS version: 2013 Community

Steps to Reproduce:
1. Create a mesh inside a class derived from Node, with an override Draw()
2. Retain the mesh
3. Add the instance of the derived class into a Scene with AddChild
4. Try to access mesh->getVertexBuffer() inside the second call to overriden Draw()

This will throw

[2016-10-19 13:57] ricardoquesada commented on #16720
@dumganhar yep. Right now I don't remember why I added that parameter, but it is safe to replace the `CC_ASSERT(pass)` with a `CC_UNUSED(pass)`

[2016-10-20 02:37] thangenius commented on #16719
The problem occurs in case we create 3 SpriteFrames from one Texture and only use 2 of them at the beginning of the game, the 3rd SpriteFrame is used sometimes later during the gameplay. Unfortunately, before the 3rd SpriteFrame is used, iOS device trigger memory warning event, SpriteFrameCache::removeUnusedFrameSprite() is called and it will remove the 3rd SpriteFrame, so the game will crash when

[2016-10-20 03:02] dumganhar commented on #16719
@thangenius ,

I don't know whether the hack of @letrungtrung 's is reasonable.

Could it be more reasonable while re-adding necessary sprite frames to cache after `Director::getInstance()->purgeCachedData();` in `applicationDidReceiveMemoryWarning`

I mean:

[code]

[2016-10-20 03:12] thangenius commented on #16719
@dumganhar the hack of @letrungtrung is not a good fix, it will not remove any spriteFrame and make the method removeUnsedSpriteFrame() useless. I have no idea right now, I workaround the crash by commenting the removeUnsedSpriteFrame() call in purgeCacheData() method.

About your idea of re-adding sprite frames after purge, I'm not sure if there's a chance, in multi-threaded environment,  a sprit

[2016-10-20 05:01] toreinkun commented on #16719
@thangenius  I don't think it need to be fixed.  Before using Sprite::createWithSpriteFrameName,  we must     use SpriteFrameCache::addSpriteFramesWithFile. Because we can't sure the texture of plist if it is in memory, such as this case.
`
SpriteFrameCache::getInstance()->addSpriteFramesWithFile("fonts/ui.plist");

[code]

`

We can optimize addSpriteFramesWithFile, but we can not use Sprite::cre

[2016-10-20 06:18] dumganhar commented on #16719
Agree with @panzhihao , developers should ensure that sprite frames are added into cache before invoking `Sprite::createWithSpriteFrameName` .

`addSpriteFramesWithFile`  should be in high performance now since it checks whether sprite frames are in cache.

[2016-10-20 07:24] dzpt commented on #14973
Till now this one haven't been fixed. Still can't draw a smooth circle

[2016-10-20 08:06] woody006 commented on #16622
how to solve this problem?

[2016-10-20 08:49] dumganhar commented on #16722
For a glance, I didn't find any problem in your code.
I guess some `Ref` object is released while it should not. I will check it.

[2016-10-20 08:51] vahid-heidaripour opened #16725 "Problem with Label::createWithSystemFont() on android"
- cocos2d-x version: 3.12
- devices test on: Samsung-j7
- developing environments
  - NDK version:r10d
  - VS version:2013

Hi there, I newly upgrade my engine to 3.12 and now I have some problem with Label::createWithSystemFont().
all labels in my code using createWithSystemFont() and now all of them disappeared when I build on android!!! and I don't now why! and createWithTTF() already working!

[2016-10-20 11:28] Kotaiba opened #16726 "GlobalZOrder with same values change order ."
- cocos2d-x version:3.13.1
- devices test on: ios 9, ios 10 , iphone 6 , iphone 7 . (more frequent on ios 9)
- developing environments
  - Xcode version:8.0

Steps to Reproduce:
1. Set same globalzorder to 2 sprites .
2. The order of the sprites keep changing with movement or on heavy load .

please see the attached video it will show how the ground and other sprites changes order ..
[Untitled.zip

[2016-10-21 02:07] #16719 closed, assigned to nobody

[2016-10-21 02:50] #16674 closed, assigned to nobody

[2016-10-21 06:01] apoluektov opened #16729 "android-build.py doesn't work if Android API level 13 is not installed"
cocos2d-x/build$ ./android-build.py cpp-empty-test
cocos compile -p android -s /Users/poluektov/devel/playground/cocos2d/cocos2d-x/build/../tests/cpp-empty-test --ndk-mode debug --app-abi armeabi-v7a
Building mode: debug
Using Eclipse project : /Users/poluektov/devel/playground/cocos2d/cocos2d-x/tests/cpp-empty-test/proj.android
**The directory 'android-13' can't be found in ANDROID_SDK_ROOT/platf

[2016-10-21 13:34] fred1024 opened #16730 "bug + fix on setAdditionalTransform( nullptr )"
It looks like the _transform property of Node is not restored once you setAdditionalTransform( nullptr ) after a previously set setAdditionalTransform( any matrix ).
The problem wouldn't show up if you were updating transforms of the node (as the transform was flagged dirty and recomputed).

So I had to add this line to make cocos2d react like it should. (restoring the original _transform without

[2016-10-21 17:13] patriciog commented on #16492
Hi @dumganhar:

I've created a wrapper following your steps for my game and it works:

**frameworks\changes\cocos2d-x\external\json\document-wrapper.h**:

[code]

After I've replaced all instances of "#include "json/document-wrapper.h"" by "#include "json/document-wrapper.h"

Thanks and best!

[2016-10-21 20:55] RustyMoyher commented on #16561
I've been upgrading to 3.13.1 this week and I am currently wrestling with the same issue. However, I'm seeing the 60 --> 30 --> 60 bounce in windowed mode too.

[2016-10-22 04:52] shadel commented on #13237
this bug still appeard in js build. Please check it again

[2016-10-22 07:36] Kotaiba commented on #16561
@RustyMoyher is it only on Mac or both Mac and PC ?.

[2016-10-22 15:13] RustyMoyher commented on #16561
@Kotaiba Nope, only on Mac. Just finished testing in various Win 10 and Win 7 and in windowed and fullscreen modes: ran 60 fps without issue.

[2016-10-22 15:48] dumganhar opened #16731 "Confused Matrix Name"
Reported at http://discuss.cocos2d-x.org/t/cc-mvmatrix-help/20974

I think the developer in the forum is correct. We have used wrong names for `model(world), view, projection` matrix.

[2016-10-23 00:37] pablorealini opened #16732 "Sprites with alpha look darker when being animated"
We noticed that in our game sprites with alpha looked darker and ended up finding out that it was an issue with premultiplied alpha.

cocos2d-x will by default premultiply every RGBA8888 texture, in our case we saw that the darker sprites problem appeared only on sprites that were being animated with the Animate action.

In the issue https://github.com/cocos2d/cocos2d-x/issues/93673 was added two

[2016-10-23 20:42] ChristianFischer commented on #16705
Hi,

I built an example based on the "Hello World" sample. There's only the part creating the "HelloWorld.png" sprite modified, so you just may copy-paste the code into the project template.
I'm creating a polygon sprite via code, so no special spritesheet is required.

[code]

[2016-10-23 21:46] ChristianFischer commented on #16705
After looking into the Sprite class, I found a setPolygonInfo which has the same issue.
So I would suggest to add `updateColor()` into setPolygonInfo and call that function from setSpriteFrame, instead of adding updateColor in setSpriteFrame like in my original approach.

[2016-10-24 02:24] Dauch commented on #16696
Any update ? @dumganhar @minggo @pandamicro

[2016-10-24 02:24] dumganhar commented on #16731
@ricardoquesada , any thoughts about this issue?

[2016-10-24 02:45] dumganhar opened #16733 "(SimpleAudioEngine) Effects could not be resumed after entering foreground"
- cocos2d-x version: 3.13.1
- devices test on: iphone 6
- developing environments
  - NDK version: N/A
  - Xcode version: 8.0
  - VS version: N/A
  - browser type and version: N/A

Steps to Reproduce:
1. Play a looping background music & a looping effect in HelloWorldLayer

[code]
1. Press `home` button
2. Go back to foreground by double click `home` button and select the game.
3. The effect may n

[2016-10-24 09:45] dumganhar opened #16735 "[native] The behavior of (setRotation + setSkewX) is wrong"
- cocos2d-x version: 3.13.1
- devices test on: all platforms
- developing environments
  - NDK version: r10e
  - Xcode version: 8.0
  - VS version: 2015

Steps to Reproduce:
1. Create a sprite
2. setRotation(30) and setSkewX(30)

Please refer to the last reply in https://github.com/cocos2d/cocos2d-x/pull/4543.

[2016-10-24 10:19] dumganhar opened #16737 "NodeTest (stress test #2: no leaks) is broken"
- cocos2d-x version: v3 branch
- devices test on: all platforms
- developing environments
  - NDK version:
  - Xcode version: 8.0
  - VS version:
  - browser type and version:

Steps to Reproduce:
1. run NodeTest -> stress test #2: no leaks
2. grossini sprite couldn't move

[2016-10-24 10:19] liuyi opened #16738 "ADDED SAMPLE CODE:Added SceneA to a SceneB, would got twice touch events"
- cocos2d-x version:3.10
- devices test on:ios
- developing environments
  - NDK version:r10c
  - Xcode version:
  - VS version:
  - browser type and version:

Steps to Reproduce:
1.
2.

[2016-10-24 13:53] dumganhar opened #16740 "The effect of `SpriteTest -> 33: Testing Sprite openGL Z vertex` is wrong"
- cocos2d-x version: 3.13.1
- devices test on: macOS
- developing environments
  - Xcode version: 8.0

Steps to Reproduce:
1.  cpp-tests -> Node: SpriteTest -> 33: Testing Sprite openGL Z vertex` is wrong

[2016-10-24 14:37] dumganhar commented on #16740
I have no idea of this issue. @ricardoquesada , could you please take a look at this issue?

[2016-10-24 14:49] satanorz commented on #16722
I think I've found something. If the meshvertexdata object inside CCMesh.cpp::create is retained, the VBO containing the vertices doesn't get destroyed between draw calls.

[code]

gDEBugger shows that both vertex and index buffers are OK, and no crash is generated on overrided draw calls.

However I'm not able to obtain a working example of a manually created mesh that draws something onto the sc

[2016-10-24 15:46] dumganhar commented on #16730
Is there any test case for this issue?

[2016-10-24 16:35] fred1024 commented on #16730
i could do that .... i try to post a sample tomorrow .. thanks

[2016-10-24 21:46] cwasp commented on #14276
Fails on iOS 6, because layoutSubviews called only once, when cocos2d::Director::getInstance()->isValid() return false, so  [renderer_ resizeFromLayer:(CAEAGLLayer*)self.layer]; is never called.
- (void) layoutSubviews
  {
  -    if (!cocos2d::Director::getInstance()->isValid())
  -    {
  -        return;
  -    }
  -
    [renderer_ resizeFromLayer:(CAEAGLLayer*)self.layer];
    size_ = [renderer

[2016-10-24 23:07] rmont881 commented on #16687
This also causes some other issues as well, that are still present even with the fix you linked. When it creates the second activity, it creates a new instance of `mEditBoxHelper` in `Cocos2dxActivity`. The problem with this is when it creates a new instance of that object, it clears out the static list `mEditBoxArray` in `Cocos2dxEditBoxHelper`. If you have an EditBox on screen and do the same st

[2016-10-25 01:20] sean-mcmanus opened #16743 ""builing" typo"
cmake/Modules/CocosBuildHelpers.cmake
set(BUILDING_STRING "It appears you are builing natively for ${SYSTEM_STRING} with ${COMPILER_STRING}")

There's a typo: "builing" should be "building". It's not immediately obvious that the typo comes from Cocos itself so users of Visual Studio may believe the typo comes from Visual Studio's CMake system.

[2016-10-25 02:02] dumganhar commented on #16729
But we suggest developers to use the API level same as which `Cocos` targets (currently, api 13).
It's because our QA team will do a lot of testing on that api level. If you use other api level, it may cause some strange compatibility issues.

[2016-10-25 04:19] ricardoquesada commented on #16740
yep. assigned to self. not sure what's the problem, but I've seen this bug before. I'll take a look at it later.

[2016-10-25 04:22] ricardoquesada commented on #16731
@dumganhar any suggestion? what names should we use? thanks.

[2016-10-25 04:53] apoluektov commented on #16729
@dumganhar,

1) According to android-build.py documentation, "This script is mainy used for building tests built-in with cocos2d-x."
In my view, allowing to build and run _tests_ on another API level is the first step to finding any compatibility issues.

2) Please take a look at my PR: https://github.com/cocos2d/cocos2d-x/pull/16727
It doesn't _change_ default API level (it is still 13), it merel

[2016-10-25 04:56] apoluektov commented on #16729
Besides, if API level 13 is recommended, perhaps we should mention it somewhere in the documentation? I haven't found any mentions of on cocos2d-x.org website.

[2016-10-25 06:27] dumganhar commented on #16731
@ricardoquesada ,
Currently, we have missed use the name for a long time in cocos2d-x 3.x. There're serval places refer to `Matrix`.

In OpenGL 1.x API, there are some stack operation APIs (deprecated in OpenGLES 2.0) called:

https://www.opengl.org/sdk/docs/man2/xhtml/glMatrixMode.xml
- void glMatrixMode(GLenum mode);

  The mode supports:

  _GL_MODELVIEW_
  Applies subsequent matrix operations

[2016-10-25 07:02] dumganhar commented on #16738
Any reproduce step or demo?

[2016-10-25 07:05] ricardoquesada commented on #16731
makes sense. I like. My only concern are the shaders. If we change it, it might break user-created shaders... is there a way we can do it in a backward compatible way?
thanks!

[2016-10-25 07:10] dumganhar commented on #16731
Yes, it will definitely break user's shader. For now, if we wanna correct these things, we need a good documentation for these changes.

[2016-10-25 07:10] DavidDeSimone commented on #16731
GLSL has #define, you could always pull a `#define CC_PMatrix viewProjectionMatrix` etc.

[2016-10-25 07:12] ricardoquesada commented on #16731
@DavidDeSimone thanks. the `#define` seems like a good compromise

[2016-10-25 07:12] dumganhar commented on #16731
@DavidDeSimone , it seems an approach.
@ricardoquesada , we could probably try it like what @DavidDeSimone  said.

[2016-10-25 08:06] dumganhar commented on #16729
Yes, we need to make a documentation for this.
@minggo , where shall we put this to?

[2016-10-25 08:15] dumganhar commented on #16732
The code was updated in https://github.com/cocos2d/cocos2d-x/issues/9367
I will try to check it out.

[2016-10-25 08:56] Sluysarev opened #16744 "Fix bug It does not work properly Rect (float x, float y, float width, float height )"
Rect (float x, float y, float width, float height )

cocos2d-x version: 3.11 worked fine
cocos2d-x version: 3.13.1 is not working properly

---

[code]

[2016-10-25 09:07] dumganhar commented on #16744
What's the problem in 3.13.1?

[2016-10-25 09:55] Sluysarev commented on #16744
[code]

cocos2d-x version: 3.13.1  shows a picture more than    80, 110

[2016-10-25 09:56] dumganhar commented on #16744
Thanks. Could you upload the image.png you used?

[2016-10-25 10:00] fred1024 commented on #16730
Ok, got a test case ... it is simplified at max ... as In our code we make use of Render Textures quite a lot ... so it might look over complicated for what it does but it's a nice test case to show the problem.

`   // test case

[code]

`

*1 ) Need the Node to compute the node transform for the problem to show up (and of course we need to do that for the rendering in render texture in our imple

[2016-10-25 10:01] Sluysarev commented on #16744
![image](https://cloud.githubusercontent.com/assets/23049273/19681680/116370d0-9ab3-11e6-8c9c-a23cce505396.png)

[2016-10-25 10:12] dumganhar commented on #16732
It's a boring issue. :(
`Sprite::setTexture` and `setBlendFunc` will both modify the `_blendfunc`.
IMO, setTexture should not modify blendfunc, its default value must be non-pre-multiply-alpha.
If developers wanna use a pre-multiply-alpha texture or custom blend func, he has the responsibility to set the correct blend func.

I mean setTexture & setBlendFunc should be decoupled. Otherwise, how to u

[2016-10-25 16:53] ricardoquesada commented on #16731
@dumganhar do you want to create the PR? or do you want me to do it? thanks.

[2016-10-25 16:57] dumganhar commented on #16731
@ricardoquesada , yes, if you have time, please create a PR.
I have some other higher priority tasks to do. :)

[2016-10-25 17:36] niu2x opened #16745 "a bug in functions.lua"
function iskindof_()
        ...
        local __supers = rawget(cls, "__supers")
        ...
end

This can't work correct.
it should be :    local __supers = rawget(__index, "__supers"), because function setmetatableindex_ do  some funny thing

[2016-10-25 18:55] moonwith opened #16746 "richtext performance problem"
- cocos2d-x version:3.13
- devices test on:windows
- developing environments
  - NDK version:
  - Xcode version:
  - VS version:
  - browser type and version:

Steps to Reproduce:
since cocos2dx-3.12 release that UI: RichText is improved: add effect of outline, shadow and glow; catch the event of open url; ability to extend tags; add anchor of image tag, UIRichText become very slow.When I run the

[2016-10-25 19:00] moonwith commented on #16746
I work out that this function was poorly implemented.
int RichText::findSplitPositionForWord(cocos2d::Label\* label, const std::string& text)
{
    auto originalLeftSpaceWidth = _leftSpaceWidth + label->getContentSize().width;

[code]

}

[2016-10-25 19:02] moonwith commented on #16746
label->setString(leftStr) is called much more than expected.

[2016-10-26 02:26] dumganhar commented on #16744
@Sluysarev,

Could you upload correct and incorrect screenshots?

[2016-10-26 02:44] dumganhar commented on #16744
I guess you wanna show the first image in the atlas, you need to pass a `point coordinate` base on design resolution rather than pixel coordinate to Sprite::create.
If you only know the pixel size of picture in the atlas, you could use `CC_RECT_PIXELS_TO_POINTS` to change it to points.

So

[code]

will work for you.

[2016-10-26 05:05] ryancheung commented on #14437
+1 for line height!

[2016-10-26 06:09] toreinkun commented on #16696
the crash issue like the object of AssetsManagerEx has been deleted. why?

[2016-10-26 06:19] Dauch commented on #16696
Yes, I deleted the `AssetsManagerEx` in the code above, while I met the update error I need to stop it so I execute `am:release()` in function `local function updateErr(event, extStr)`

[2016-10-26 06:23] Dauch commented on #16696
How can you tell the crash is cause by `AssetsManagerEx`? @panzhihao

[2016-10-26 07:54] #16737 closed, assigned to nobody

[2016-10-26 08:26] DavidDeSimone commented on #16746
It seems like this could be sped up by favoring a binary search instead of a linear search.

[2016-10-26 08:44] Sluysarev commented on #16744
Thanks for the help, it worked as I wanted

[2016-10-26 08:44] #16744 closed, assigned to nobody

[2016-10-26 08:50] toreinkun commented on #16696
@Dauch You crashed when running std::string oldPath = path + oldname. I think if path or oldname is error.
From that before, AssetsManagerEx::_storagePath is error.

[2016-10-26 08:50] DavidDeSimone commented on #16746
To test the theory, I golfed up a quick binary search implementation. It's a little rough around the edges, and seemingly not 100% correct for every label in the rich text tests, but I think can give a good approximation of the performance benefits of switching to a binary search. I would be curious @moonwith if you tried this if you see performance more inline to your expectations.

[code]

If we

[2016-10-26 09:39] dhb118 opened #16748 "got OpenGL error 0x0501 after rotate 'UILayout'"
- cocos2d-x version: cocos2d-x-3.13.1
- devices test on:MacOS X
- developing environments
  - NDK version:
  - Xcode version:8.0
  - VS version:
  - browser type and version:

Steps to Reproduce:

test codes

[code]

and got errors in output
`OpenGL error 0x0501 in /Users/duanhongbo/cocos2d-x/cocos/renderer/CCTextureAtlas.cpp drawNumberOfQuads 698`

i can't figure out this.please help.

[2016-10-26 10:16] minggo commented on #16732
@dumganhar i agree with you. But if we change the `setTexture` behavior, it will break the compatibility. For example, @pablorealini relays on the feature.

@pablorealini i think you can work around it by revert #9367 currently.

[2016-10-26 10:41] moonwith commented on #16746
Thanks for relay.Bin-search really reduce the times of 'setString' is called, but I wonder if 'findSplitPositionForWord' is used nessesary.Richtext is used everywhere inside games,I think it could not a usefull Richtext implementation.Searching times difference by 5 and 21 is not enough.

[2016-10-26 17:16] pablorealini commented on #16732
Thanks for the help, we will revert that commit and maybe if we wanna use what that commit fix we can create a custom Animate action?

Right now our new game "Kingdom Rush 4" don't have any custom blend but maybe in the future it could be cool to have some fx using that so we will need to find a way to use that feature.

[2016-10-26 17:20] moonwith commented on #16746
I wrote a performance test for UIRichTextXMLBasic2 Test.
RichElementText\* elmtText = static_cast<RichElementText*>(element);
                        clock_t t_begin = clock();
                        handleTextRenderer(elmtText->_text, elmtText->_fontName, elmtText->_fontSize, elmtText->_color,
                                           elmtText->_opacity, elmtText->_flags, elmtText->_url,

[2016-10-26 17:33] moonwith commented on #16746
One line will call 'handleTextRenderer' once, and 'handleTextRenderer' will call setString a bit.@DavidDeSimone,Binary-search still not enough slove this problem.

[2016-10-27 02:15] wulv1985 commented on #16582
@yhhwatl hi, maybe this will help
#16543

[2016-10-27 03:02] minggo commented on #16732
@pablorealini the issue is because `Sprite::setTexture()` will modify blend mode based on image feature(premultiplied or not). So currently, if developer don't what to the blend mode set by `Sprite::setTexture()`, he should re-set it after invoking `Sprite::setTexture()`.

[2016-10-27 03:45] yhhwatl commented on #15557
When to support the latest NDK version?

[2016-10-27 06:26] dumganhar commented on #15557
@yhhwatl, I have already tried to build cocos2d-x with the latest ndk version (android-ndk-r13b) and it works well.

[2016-10-27 08:07] apoluektov opened #16752 "Documentation should mention recommended Android API Level"
It is suggested to game developers to use the API Level same as Cocos targets (currently, 13), because the QA team does a lot of testing on that API Level. If a game developer targets other API Level, it may cause compatibility issues.

Unfortunately this is not mentioned anywhere in the documentation (at least not that I could find).

Originated here https://github.com/cocos2d/cocos2d-x/issues/16

[2016-10-27 08:08] apoluektov commented on #16729
@dumganhar @minggo As the PR has been merged, I created a separate issue to address the documentation of the recommended Android API Level: https://github.com/cocos2d/cocos2d-x/issues/16752

[2016-10-27 08:08] #16729 closed, assigned to nobody

[2016-10-27 08:12] minggo commented on #16752
@slackmoehrle could you please add a doc about it. As you said many developers confused about it. Feel free to connect me if you need any help. Thanks.

[2016-10-27 10:13] dumganhar opened #16754 "[android] Background music which is playing could not be paused while game enters background"
- cocos2d-x version: 3.13.1
- devices test on: Android devices
- developing environments
  - NDK version: r13b
  - Xcode version: N/A
  - VS version: N/A
  - browser type and version: N/A
- Steps to Reproduce:

  (1) Changes the config in AudioPlayerProvider.cpp

[code]

[code]
- Result:
  - Background music is still playing
- Expected:
  - Background music could be paused automatically and could

[2016-10-27 10:50] #16745 closed, assigned to nobody

[2016-10-27 11:48] chgowolf opened #16756 "Use x flip in Tiledmap may cause the map not to be displayed"
Compiler:Visual Studio 2013
Cocos-version:3.13

In Tiledmap, make a new tile with horizontal filp.
In Cocos, use TMXTiledMap to create the map.
Those layers who use horizontal flip can not to be displayed.

Will only appear in the windows, not appear in the mac.

[2016-10-27 17:21] aipeople opened #16759 "Color of the Sprite(created by sprite frame) is not working under ProgressTimer"
- cocos2d-x version: cocos2d-x-3.13.1
- devices test on: Mac(macOS Sierra), iPhone6 (iOS 9.3.5)
- developing environments
  - Xcode version: 8.0 (8A218a)

Steps to Reproduce:
1. Create a ProgressTimer with following code.<br>
   ps. You can download the sprite sheet files in [Here](https://dl.dropboxusercontent.com/u/12169639/test-sheet.zip)

[code]

The "_bar" should be totally black.
However, it

[2016-10-27 22:02] Rubonnek opened #16760 "Win32 cpp-tests only show 3/4 black screen and 1/4 white screen"
- cocos2d-x version: latest code from the git repository, v3 branch
- devices test on: Windows 10
- developing environments
  - VS version: CE 2015

Steps to Reproduce:
1. Build cpp-tests with the latest code from git as of today October 27, 2016

This is what I get:

![win32-latest](https://cloud.githubusercontent.com/assets/8337880/19786897/303cbab8-9c6e-11e6-9802-9b6e1a7b6067.png)

[2016-10-27 22:15] Rubonnek opened #16761 ""The system cannot find the path specified" error when running cocos from a relative path"
- cocos2d-x version: latest git code, v3 branch
- devices test on: Windows 10
- developing environments: Python 2.7.11

Steps to Reproduce:
1. Run `cocos` using a relative path when creating a new project. For example:

[code]

You'll get the error:

[code]

[2016-10-27 22:17] Rubonnek commented on #16761
I'm not sure if running cocos from a relative path like above is supported.

[2016-10-28 02:13] #16754 closed, assigned to dumganhar

[2016-10-28 02:37] Rubonnek commented on #16760
Compiling a new project with the latest code also reproduces this issue.

[2016-10-28 04:54] liuyi commented on #16738
@dumganhar
Tested in latest cocos2dx(JSB), the bug still occured.

[app.js.txt](https://github.com/cocos2d/cocos2d-x/files/557582/app.js.txt)
1\ JUST Create a empty project: cocos new sampleTest.
2\ REPLACE "src/app.js" with my file:app.js
3\Compile and run it, click the screen in anywhere.

Here is bug  code:

Create and add a cc.Scene to current scene,
    Click the screen,onTouchBegan would fir

[2016-10-28 07:58] yhhwatl opened #16767 "lua中的data 经过 HttpClient-android.cpp中 sendRequest传递的bytearray到JAVA层中是乱码"
- cocos2d-x version:3.6
- devices test on:RedMi-note3
- developing environments
  - NDK version:r10c
  - Android studio version:2.2.2

Steps to Reproduce:
lua中的data 经过 HttpClient-android.cpp中 sendRequest传递的bytearray到JAVA层中是乱码

[2016-10-28 08:35] dumganhar commented on #16738
Don't add a scene to another scene.
Game should only have one scene in current scene-graph.
If you wish to change to another scene, please use `cc.director.runScene(anotherScene);`.

[2016-10-28 08:42] toreinkun commented on #16752
I am confused about the version of ndk and sdk. Now, if i use the newest engine code, which ndk and sdk should i use?

[2016-10-28 08:43] VisualSJ opened #16768 "AudioEngine bug - setFinishCallback invalid"
audioEngine.setFinishCallbackinvalid.

platform: windows 10

@dumganhar

[2016-10-28 15:36] toreinkun opened #16769 "why use FileUtils::getInstance() within some method of class FileUtils"
As the title says, if i use "this->" to replace "FileUtils::getInstance()->" , what problem will i cause?

[2016-10-28 23:42] Arman92 commented on #8442
What is the status of this issue? It's pretty old!

[2016-10-29 07:31] aramd commented on #16721
@inDigiNeous I've fixed this issue by adding _${COCOS2D_ROOT}/external/glfw3/include/mac_ into **include_directories**.

[code]

[2016-10-29 18:39] tienthanh1993 opened #16775 "CheckBox crash when using TextureResType::PLIST"
- cocos2d-x version: 3.13
- devices test on: Simulator

Steps to Reproduce:

1.auto checkAll = CheckBox::create("spriteframe1.png", "spriteframe2.png",TextureResType::PLIST);

Cause:
setSpriteFrame with empty string in case TextureResType::PLIST:
/cocos2d/cocos/ui/UIAbstractCheckButton.cpp
void AbstractCheckButton::loadTextureBackGroundSelected(const std::string& backGroundSelected,TextureResType

[2016-10-29 23:57] #16361 closed, assigned to nobody

[2016-10-30 00:15] Rubonnek commented on #16361
The `cocos2d::ui::ScrollView::addEventListener` function is needed in the ListView class since it gets called in the lua bindings later on and it's also used in `UIListViewTest.cpp` in `cpp-tests` to detect when the user has scrolled to the top or to the bottom of the list.

Casting the callback is the way to go in this case. No need to keep this issue open.

[2016-10-30 09:44] TwoEggDu commented on #14406
我遇到了相同的问题，请问除了升级引擎还有别的方法吗？我现在使用的是3.6

[2016-10-31 01:41] minggo commented on #8442
@zilongshanren what's your plan of this feature request?

[2016-10-31 01:51] zilongshanren commented on #8442
@minggo
I think we should focus on improving EditBox, TextField is less powerful and the input experience is not as good as EditBox.

[2016-10-31 02:29] #16735 closed, assigned to dumganhar

[2016-10-31 02:32] minggo commented on #16752
@panzhihao use latest NDK version by default. We will fix the issue if met any problem with latest NDK version.

[2016-10-31 02:45] minggo commented on #16582
As we updated Spine runtime, and there is not `PolygonBatch.cpp` in Spine runtime, so i close this issue.

[2016-10-31 02:45] #16582 closed, assigned to nobody

[2016-10-31 03:20] amuseamuse opened #16779 "EditBox doesn't show text when editing in Mac version (but no problem in iOS)"
- cocos2d-x version: 3.13 , 3.13.1
- devices test on: MacBook Pro 13 inch 2010 and iMac 27 inch 2010 (Mac OS Sierra)
    (Note: this issue doesn't appear before the Mac OS Sierra I upgraded from former os, and the issue appears after I completely reinstall Mac OS Sierra)
- developing environments
    Mac (but not ios) in Mac OS Sierra

Steps to Reproduce:
1 .  create a EditBox

    bool HelloWorld

[2016-10-31 06:04] minggo commented on #8442
@zilongshanren i agree with you.
@Arman92 you can try EditBox.

[2016-10-31 10:22] Arman92 commented on #8442
@minggo ok thank you,
By the way I have problem with RTL (Right to left) languages (e.g. Persian/Arabic) in EditBox, the glyphs are not loaded and it shows rectangles instead of characters, is it the font file I'm using? Or it's global in Cocos2d?

[2016-10-31 15:44] ghost opened #16782 "Crash when call Director::getInstance()->restart()"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. call Director::getInstance()->restart();

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/base/CCDirector.cpp#L1137

[code]

[2016-10-31 23:45] reneolivo commented on #14961
@raydelto answer worked for me. I'm using Ubuntu 16.04

[2016-11-01 02:05] zilongshanren commented on #16779
@amuseamuse
I also noticed this issue and I have no idea why it behaviors like this.
In the previous version of MacOS X, the Editbox works well.

I'm trying to fix it these days, I will post my new findings here.

Thanks for reporting.

[2016-11-01 02:09] zilongshanren opened #16784 "Missing Chinese characters when use GB2312 encoding TTF file"
When using Chinese TTF to rendering text, if the text contains some special Chinese characters which aren't inside the collection of GB2312, the entire sentence will be truncated when translated from UTF16 to GB2312.

This behavior only happen in Linux, iOS and MaxOS X. Because these platform use iconv to do the converting.

[2016-11-01 02:13] zilongshanren commented on #16779
It is a bug with glfw:  https://github.com/glfw/glfw/commit/967e837c73f0e0d7f9f27c7f6bb1aaa1d55dae54

I will consider to upgrade the GLFW extension

[2016-11-01 02:46] zilongshanren commented on #16779
@amuseamuse
Weird... I have patched the mac os 10.12 fix of glfw, I could get ride of the error message, but EditBox still can't display cursor...

[2016-11-01 03:27] minggo commented on #8442
@Arman92 does your environment installs the font you used?

[2016-11-01 05:35] DavidDeSimone opened #16786 "Difference in Spine default blend function behavior between native and webGL."
There is a difference in the logic that handles blend functions for spine skeletons between native and WebGL.

We can see in https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/editor-support/spine/SkeletonRenderer.cpp#L238 that we have 3 options, ADDITIVE, MULTIPLY, and SCREEN. If none of these are chosen, we will either get GL_ONE/GL_ONE_MINUS_SRC_ALPHA, or GL_SRC_ALPHA/GL_ONE_MINUS_SRC_ALPHA dep

[2016-11-01 06:40] zilongshanren commented on #16779
@amuseamuse
I have created a issue in GLFW:  https://github.com/glfw/glfw/issues/892

Still don't know how to find a workaround...

[2016-11-01 08:25] dumganhar opened #16787 "What's the logic of 'if( sizeof(Vec2) == sizeof(Vec2) ) '?"
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCDrawingPrimitives.cpp#L141

I can't understand this code, could some one explain this? Thanks.

[2016-11-01 14:43] zilongshanren commented on #16779
@amuseamuse

https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/pull/126

I have made a patch to resolve this issue.

could you help to test it ?

If you move the GLFW window from one monitor to another, you might also need try this PR:

https://github.com/cocos2d/cocos2d-x/pull/16785

[2016-11-01 15:24] DavidDeSimone commented on #16327
Closing this issue as it was fixed in 3.13

[2016-11-01 15:24] #16327 closed, assigned to nobody

[2016-11-01 16:55] pyrosphere commented on #16787
I checked the history for that line and it was originally a 32-bit/64-bit check that was lost over time with refactorings.

[code]

[2016-11-01 23:56] DavidDeSimone commented on #16786
@ricardoquesada do you have an opinion on this?

[2016-11-02 01:06] ricardoquesada commented on #16786
@DavidDeSimone I'm not sure about this. I think both implementations were developed by the Spine guys. I wouldn't know which one is the correct blending mode for spine, but it should be the same in both implementations.

[2016-11-02 02:51] dumganhar commented on #16760
@Rubonnek , is this issue caused by shader string? How did you find this?

[2016-11-02 02:54] dumganhar commented on #16787
Thank you, @pyrosphere . I will check that why we used `if( sizeof(Point) == sizeof(Vertex2F) )` to detect 32bit or 64bit devices.

[2016-11-02 03:13] dumganhar commented on #16787
@pyrosphere

I checked the code, found that that line was came from `cocos2d-iphone` (https://github.com/cocos2d/cocos2d-iphone-classic/blob/develop-v2/cocos2d/CCDrawingPrimitives.m#L126)

[code]

On 64bit iOS devices, `CGPoint.x/y` is `double` (8 bytes).
It's `float` on 32bit iOS devices. So we need to check the 32/64 bit in cocos2d-iphone.

But in cocos2d-x, we don't use the system type (CGPoint

[2016-11-02 03:14] Rubonnek commented on #16760
@dumganhar Yeah. The removal of the newline characters `\n` triggered this issue in Windows. I also tested the Linux and Android builds and I could not find any problem in those.

What I did to find this issue was to go back in the commit history, i.e. `git log --name-only`, and checking out the commits to see which one triggered the problem. You can test that this issue was introduced in commit `

[2016-11-02 03:22] malleyne commented on #14961
I'm running into the same error but the first solution mentioned hasn't worked for me :( I'm stuck as to how to resolve it.

I have a raspberry pi model b with debian

My scenario:

**~/fmodstudioapi10813linux/api/lowlevel/examples/make $** make --file play_stream.makefile CONFIG=Debug CPU=arm

**~/fmodstudioapi10813linux/api/lowlevel/examples/make $** ./play_stream

`./play_stream: error while lo

[2016-11-02 03:43] dumganhar commented on #16760
@Rubonnek , Thanks.
@minggo ,  I also tested @Rubonnek 's Pull Request on Windows (vs2013, vs2015), Android, iOS, macOS. And they both work fine.

And @Rubonnek  has tested it on Linux platform, I think it's safe to merge @Rubonnek 's patch.

[2016-11-02 03:55] dumganhar commented on #16787
@pyrosphere , I submitted a Pull Request here https://github.com/cocos2d/cocos2d-x/pull/16791

Please check it out.

[2016-11-02 06:36] dumganhar commented on #16492
@patriciog, thanks for testing. I will submit a Pull Request for this.

[2016-11-02 06:50] dumganhar commented on #16492
PULL REQUEST DONE( https://github.com/cocos2d/cocos2d-x/pull/16792)

[2016-11-02 08:45] gjfeixiang opened #16793 "cocos2d-x CCActionInterval cann't be extended"
- cocos2d-x version:3.7.1
- devices test on:ios 8.0
- developing environments mac osx
   - NDK version:
   - Xcode version:6.4
   - VS version:
   - browser type and version:

Steps to Reproduce:

question same to
http://discuss.cocos2d-x.org/t/cocos2d-js-beta-jsb-android-project-cc-actioninterval-extend-is-not-function/15380

see detain here
http://forum.cocos.com/t/cocos2d-x-3-7-1-js-actioninter

[2016-11-02 08:53] tungnt11 commented on #16169
Hi @dumganhar , I fixed as https://github.com/cocos2d/cocos2d-x/commit/66fac82f007514e9ec4021515e325c49d129a45b but my app still crash in Android 5.0.
Both NDK: r10e and r11c are crashes.
My device:  Sony Eperia M4 Android 5.0.
If i edit Application.mk: APP_ABI := armeabi-v7a, app doesn't crash but armeabi-v7a Incompatible with ARMv5, v6 devices.
Help me. Thanks!

[2016-11-02 08:56] dumganhar commented on #16169
@dimaria11, Could you try to use gcc4.9 to build project instead of clang.

[2016-11-02 09:24] tungnt11 commented on #16169
@dumganhar , what can i config to switch "clang" to "gcc4.9"  in my project?

[2016-11-02 09:26] dumganhar commented on #16169
Look for `get_toolchain_version` function in tools/cocos2d-console/plugins/plugin_compile/build_android.py, return '4.9' like this:

[code]

[2016-11-02 09:27] #16787 closed, assigned to nobody

[2016-11-02 09:43] minggo commented on #16760
close this issue since the PR is merged

[2016-11-02 09:43] #16760 closed, assigned to nobody

[2016-11-02 10:09] tungnt11 commented on #16169
Ok @dumganhar , thanks very much. My problem was resolved!

[2016-11-02 16:09] ryojishimura opened #16795 "cocos permission denied"
- cocos2d-x version:
cocos2d-x-3.13.1
Cocos Console 2.1
- devices test on:
None
- developing environments
   - NDK version: r13
   - Xcode version: 8
   - VS version:
   - browser type and version: Chrome

Steps to Reproduce:

1. python setup.py
2. cocos -v

fixed by changing the permissions files.

chmod +x ~/.cocos2d-x-3.13.1/tools/cocos2d-console/bin/cocos

[2016-11-03 03:13] gjfeixiang opened #16798 "cocos2d-x jsb RichText"
- cocos2d-x version:3.7.1
- devices test on:iphone5s
- developing environments mac osx
   - NDK version:
   - Xcode version:6.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. RichText has no methods setTextVerticalAlignment ,setTextHorizontalAlignment  like h5 framework! I have this needs,Please Help!

[2016-11-03 03:26] dumganhar commented on #16798
@zilongshanren , could you please check this issue? thanks.

[2016-11-03 03:36] zilongshanren commented on #16798
@dumganhar
Oh...my

cocos2d-x version 3.7 is a very old version.

I have just looked at the latest code of RichText, it also doesn't have setTextHorizontalAlignment like h5 framework...

[2016-11-03 03:38] weberwang opened #16799 "[Bug]JS_IdToValue"
- cocos2d-x version:3.13
- devices test on:ios 9.3模拟器
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. 调用jsval_to_ccdictionary及jsval_to_ccvaluemap函数时，如果key是'10'这样的纯数字时转换失败

[2016-11-03 03:57] dumganhar opened #16800 "[AssetsManagerEx] project.manifest will be downloaded twice"
- cocos2d-x version: 3.13.1
- devices test on: Android, Mac
- developing environments
   - NDK version: r10e
   - Xcode version: 8.1
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

[code]

[2016-11-03 11:43] gjfeixiang opened #16804 "UIListView jumpTop don't work at once"
- cocos2d-x version:3.7.1
- devices test on:ios
- developing environments mac osx
   - NDK version:
   - Xcode version:6.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. UIListView jumpTop don't work at once in jsb ,only work like that below!

     cc.director.getScheduler().schedule(function () {
            itemLV.jumpToTop();
        }.bind(this),this,0,0,1/60,false,th

[2016-11-04 01:36] #16492 closed, assigned to dumganhar

[2016-11-04 05:30] pandamicro commented on #16786
We shouldn't use the underlying node's blend func by default, the default one should be additive, so should be the same as additive, cpp implementation is correct

[2016-11-04 05:32] DavidDeSimone commented on #16786
@pandamicro @ricardoquesada Makes sense to me. I will close this issue as @pandamicro has merged in https://github.com/cocos2d/cocos2d-html5/pull/3402

[2016-11-04 05:32] #16786 closed, assigned to nobody

[2016-11-04 07:03] #16800 closed, assigned to dumganhar

[2016-11-04 07:06] minggo commented on #16795
but i found it has correct permission

[code]

[2016-11-04 07:08] minggo commented on #16793
@pandamicro is it fixed?

[2016-11-04 07:11] minggo commented on #16769
I think you can use this instead.

[2016-11-04 07:11] #16769 closed, assigned to nobody

[2016-11-04 08:09] minggo commented on #16804
@zilongshanren any idea?

[2016-11-04 08:12] liuyi opened #16811 "jsb.fileUtils.getStringFromFile cause crash when read big file."
- cocos2d-x version:3.10
- devices test on:android redmi note3
- developing environments
   - NDK version:r10e
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. some base code, such as hotupdate, create base folder etc.
2. jsb.fileUtils.isFileExist("path to big json file") then crash

The crash not happen every time, but  occurred about  30%-50% .

Can we

[2016-11-04 20:01] DavidDeSimone commented on #16811
How big is the big JSON file here? 1MB? 1GB?

It sounds like it may be an out of memory issue. Do you have a stack trace of the crash?

[2016-11-07 02:37] minggo commented on #16743
fixed in #16813

[2016-11-07 02:37] #16743 closed, assigned to nobody

[2016-11-07 04:26] cezheng opened #16814 "CCFileUtils' thread safety improvement"
Since FileUtils is not designed as thread safe, when multiple threads are trying to resolve some paths in the file system, the cache table inside it might cause a crash. Currently we have been getting quite a lot crash logs caused by this.

A straight forward fix for this is to add a mutex but this will require a lot of change in the code, and will cause much overhead for programs that mainly use

[2016-11-07 05:36] #16756 closed, assigned to nobody

[2016-11-07 05:55] toreinkun commented on #16814
some async method will create instance of FileUtils, such as TextureCache::addImageAsync. I think i need a clone method for FileUtils.

[2016-11-07 06:00] cezheng commented on #16814
@panzhihao So strictly saying, the TextureCache::addImageAsync is calling Image::initWithImageFileThreadSafe which calls FileUtils::fullPathForFilename which is not thread safe at the moment, making `initWithImageFileThreadSafe` not quite standing up to its name

[2016-11-07 06:05] cezheng commented on #16814
Here is a sample iOS crash log we collect from our app still in development

[code]

It happens when there is another thread calling something like FileUtils::fullPathForFilename or FileUtils::setSearchPaths, and was writing into the `_fullPathCache` at the same time.

[2016-11-07 07:22] toreinkun commented on #16814
@cezheng  if the path is fullpath, FileUtils::fullPathForFilename will return it right now, so there is no crash when we using TextureCache::addImageAsync. But I don't think it's a good implementation.

[2016-11-07 07:27] cezheng commented on #16814
Of course it only crashes when path is not fullpath, and that's the only condition when you need to look up the _fullPathCache

[2016-11-07 11:39] gjfeixiang commented on #16793
@pandamicro  cannot fixed?

[2016-11-07 11:40] gjfeixiang commented on #16793
nobody can fix ？

[2016-11-07 18:01] DavidDeSimone commented on #16814
@cezheng This seems like an elegant solution, but one concern is with custom search paths. If I were to add a custom search path to the main thread's fileUtils, I feel it would be a reasonable expectation that other thread's fileUtils would also check those search paths. Otherwise it would lead to potentially interesting/hard to track down bugs where all of a sudden, certain off thread operations

[2016-11-08 01:35] kifcaliph commented on #16393
- cocos2d-x version: v3.12

I'd like to add it

[2016-11-08 02:29] pandamicro commented on #16793
Actions like moveTo can be extended, but ActionInterval is currently not supported because it's set as AbstractClass in the jsb configuration, but I think it's ok to make it extendable. @minggo is ActionInterval an abstract class or it can be constructed ? If it's abstract, then it's not possible to make it extendable in JSB, as we can not create an instance of it in native scope

[2016-11-08 03:00] stevetranby opened #16817 "May want to use rmdir/remove/nftw instead of system() for remove directory"
Either use unlink while recursively readdir. Or I think the nftw code from the Apple-specific file utils may work for Linux as well?

While Stackoverflow is not the best to use for final code, here's topics for reference.

http://stackoverflow.com/questions/5467725/how-to-delete-a-directory-and-its-contents-in-posix-c
https://stackoverflow.com/questions/3184445/how-to-clear-directory-contents-in-c

[2016-11-08 05:47] minggo commented on #16793
ActionInterval is an abstract class.

[2016-11-08 12:29] IgorMats opened #16820 "FrameBuffer multisampling support"
Can someone please add multisampling support for **experimental::FrameBuffer** and render target to texture!? I think it's really awesome feature for post processing.
I have tried to do it by myself but always get opengl error 0x0506.

Can please someone help me?

[2016-11-09 03:37] dumganhar commented on #16820
Yes, we need this feature.
Currently, we even don't have a test case for FrameBuffer class although it's in experimental namespace.

Could you share your work about `multisampling`? I will be glad to check it out why it causes the `opengl error 0x0506`.

[2016-11-09 03:37] minggo opened #16826 "Ability to change default AudioEngine mode"
This is a requirement. https://github.com/cocos2d/cocos2d-x/pull/10735 implements it on iOS in SimpleAudioEngine. Since we now focus on new AudioEngine, so we should implement it in new AudioEngine.

[2016-11-09 04:00] minggo commented on #16817
as the link says, unlink is used for non-directories, so i think we can use nftw codes from the Apple-specific codes.

[2016-11-09 05:34] stevetranby commented on #16817
Ah yeah, remove/rmdir or if all platforms support it ntfw.

Reference to create PR:

system()
https://github.com/cocos2d/cocos2d-x/blob/4b3525f7a828bceb382f6771be333ce83b1cb601/cocos/platform/CCFileUtils.cpp#L1155

nftw
https://github.com/cocos2d/cocos2d-x/blob/c0e1e913739404ad4213d3af8c3a1ea468c06cbb/cocos/platform/apple/CCFileUtils-apple.mm#L288

[2016-11-09 05:46] minggo commented on #16817
I think only unix similar systems supports nftw

[2016-11-09 06:12] minggo commented on #16814
@cezheng the solution looks good, but how to fix @DavidDeSimone 's concerns?

[2016-11-09 06:16] minggo commented on #16782
How can you invoke this function? It is protected, and is to be used for JSB.

[2016-11-09 06:37] cezheng commented on #16814
@minggo  @DavidDeSimone
True. Search path is a problem. I can only think of 2 approaches at the moment.
1. abandon thread_local and use mutex. Not lock-free but cache is shared across threads and uses less memory.
2. Stick with thread_local, store search paths vector pointer & reference count in an atomic struct. When an instance need to use search paths, get from the atomic struct and copy them i

[2016-11-09 06:59] pandamicro commented on #16793
Can we make it a normal class or is there any important consideration ?

[2016-11-09 07:38] minggo commented on #16814
Yep, i think approach 2 is better. Could you please send a PR?

[2016-11-09 07:41] DavidDeSimone commented on #16814
Overall, I also think that 2 is a better approach.

[2016-11-09 08:59] stevetranby commented on #16817
The windows code seems to call the one that executes the system('rm -rf') code. I wasn't offering solution, just reference notes in case someone wants to try and consolidate. May be another one of those "even is system() is no longer a recommended method going forward, just use it only for all v3.x versions"

Anyway, you could always just make sure v4.x is based on a minimum build requirement of c

[2016-11-09 09:15] gjfeixiang commented on #16793
Hope hope hope!

[2016-11-09 09:18] gjfeixiang commented on #16793
I am making h5  to app, Only the question left ! I think you can! @minggo  @pandamicro  ’

[2016-11-09 13:32] IgorMats commented on #16820
@dumganhar Do you know is it true that GL_TEXTURE_2D can't be multisampled like described [here](http://stackoverflow.com/questions/6342126/opengl-render-to-texture-in-iphone-fails-when-msaa-is-enabled/6343055#6343055) so I can use multisampling only with RenderTargetRenderBuffer not RenderTarget?

[2016-11-09 20:10] IgorMats commented on #16820
It seems to be true so I have achieved this by create 2 frame buffers, one with render buffer target and another one with texture render target and then transfer render buffer to the texture of second frame buffer by calling **glResolveMultisampleFramebufferAPPLE** so I can't make pull request because this solution is not cross platform solution.

Maybe somebody can help me with Android?

Thanks.

[2016-11-10 01:00] minggo commented on #14946
close this issue since the PR is merged. And please reopen it if it is not fixed.

[2016-11-10 01:00] #14946 closed, assigned to nobody

[2016-11-10 01:01] minggo commented on #16158
close this issue since the PR is merged, please reopen it if it still has the issue

[2016-11-10 01:01] #16158 closed, assigned to nobody

[2016-11-10 02:20] dumganhar commented on #16820
Yes, I figured that `GL_TEXTURE_2D_MULTISAMPLE` isn't supported in OpenGLES, RenderTarget (which means rendering to texture target in cocos2d-x) probably will not work with multisampled feature.

Good to know it works on iOS/Mac now. Yep, glResolveMultisampleFramebufferAPPLE is an apple specific gl extension function, we can't use it for other platforms.
Could you upload test code which works on i

[2016-11-10 03:21] minggo commented on #16793
Sorry, ActionInterval is not an abstract class right now, but i think it should be. But i don't know why need to extend it? I think you can just inherit from it and add your own functions.

[2016-11-10 03:28] minggo commented on #16817
I think we can use nftw for all unix like systems and remove the Apple-specific implementation.

We haven't use c++14, when will c++17 be popular :)

[2016-11-10 03:30] IgorMats commented on #16820
@dumganhar I will try to support another platforms by myself and then will make pull request.
If anyone can or would like to help me please write some message so we will can collaborate :) Thanks!

[2016-11-10 03:30] minggo commented on #16627
The PR looks good to me, thanks.

[2016-11-10 03:30] #16627 closed, assigned to nobody

[2016-11-10 03:36] minggo commented on #16775
@zilongshanren please take a look.

[2016-11-10 03:37] minggo commented on #16767
@yhhwatl could you please provide some code to reproduce it? And please use english instead, then developers all over the world can join the discussion. Thanks.

[2016-11-10 03:39] minggo commented on #16761
You should run `setup.py` in cocos2d-x root to set up environment variables. Then you can just invoke `cocos` everywhere

[2016-11-10 03:39] #16761 closed, assigned to nobody

[2016-11-10 03:43] dumganhar commented on #16799
I noticed this line in `jsval_to_ccdictionary`

[code]

It seems that integer key isn't supported since `__Dictionary` could not use `string` or `integer` as key at the same time.
Is it better to convert integer key to string key and store it to `__Dictionary`?

[2016-11-10 03:44] gjfeixiang commented on #16793
So,But C++ implitation do not same with js ，there is no property in ActionInterval  at C++ like these:
    _elapsed:0,
    _firstTick:false,
    _easeList: null,
    _timesForRepeat:1,
    _repeatForever: false,
    _repeatMethod: false,//Compatible with repeat class, Discard after can be deleted
    _speed: 1,
    _speedMethod: false,//Compatible with speed class, Discard after can be deleted

so

[2016-11-10 03:44] pandamicro commented on #16799
This kind of map or dictionary was fixed to use string, because in C++, you can't mixup int key and string key together, we also provide `jsval_to_ccvaluemapintkey`

[2016-11-10 03:46] pandamicro commented on #16799
Seems better this way, we can also convert them in conversion functions

[2016-11-10 03:47] #16738 closed, assigned to nobody

[2016-11-10 03:53] minggo commented on #16725
What system font did you use? Android may not have the font you specified. But i think it should select a usable one if the font specified is missed. @zilongshanren am i right?

@vahid-heidaripour could you please paste some codes?

[2016-11-10 06:31] genaside commented on #16511
So what is the status? can I go ahead and use #16410?

[2016-11-10 07:08] dumganhar commented on #16768
I tested it on windows10, and finished callback was invoked. Please check your program again. Thanks.

[2016-11-10 10:09] cnogo opened #16829 "is it a bug on socket.io when client reconnect crash on android?"
- cocos2d-x version: .13.1
- devices test on:   android (小米5)  only android
- developing environments
   - NDK version: ndk-r11c
   - SDK API Level: android-19

Steps to Reproduce:
1. first let client connect server,   then server quit,  wait some times, android client crash
先让客户端连上服务器， 然后服务端退出，客户端启动重连过了一段时间就崩溃了

### the exception info as below:
11-10 18:01:18.421: E/URLConnection exception(8895):

[2016-11-11 00:23] stevetranby commented on #16817
Yeah, that's why I recommended it, haha. Make v4 forward thinking, heh.

[2016-11-11 17:55] soccerob opened #16834 "ClippingNode broken on Canvas if position changes"
- cocos2d-x version: JS 3.13
- devices test on: web
- developing environments
   - NDK version: n/a
   - Xcode version: n/a
   - VS version: n/a
   - browser type and version: Chrome, IE

Steps to Reproduce:

1. Add the following code into app.js ctor method

[code]
2.  change project.json renderMode property to 1 (canvas) and 2 (WebGL)
results are different in each render mode

[2016-11-11 19:11] purepure commented on #8246
Hi guy!
I got this issue too. I am using cocos2dx v3.0

[2016-11-11 19:50] soccerob commented on #16834
Note, I was able to "fix" this issue on Canvas by creating a variable for the node that is passed in to the ClippingNode constructor, and setting the position of that node to the preferred x and y.
It seems I'll have to set some conditional blocks based on whether it's WebGL or Canvas.... would still prefer to have this fixed behind the scenes if it's possible.

[code]

[2016-11-12 04:02] gjfeixiang opened #16835 "cocos2d-x download file failed sometimes"
- cocos2d-x version:3.7.1
- devices test on:windows
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version: chrome  52.0.2743.116

Steps to Reproduce:

see detail here,http://forum.cocos.com/t/cocos2d-x-h5/41263/1. There is no question of file server @pandamicro @malvim  @minggo Can you give me some idea!

[2016-11-12 12:57] abc20899 opened #16836 "How do I use android studio 2.2 (cmake) compile and edit cocos2dx files like xcode"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2016-11-12 13:50] ghost commented on #16782
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/base/CCDirector.h#L339

It's public api.

[2016-11-12 13:50] #16782 closed, assigned to nobody

[2016-11-13 04:31] samsonchen1989 opened #16837 "highschool math mistake in radian2angle"
math mistake in [*cocos/scripting/lua-bindings/script/cocos2d/functions.lua*](https://github.com/cocos2d/cocos2d-x/blob/92af2b2b6f8acfd51226631cb54deb5813519e5d/cocos/scripting/lua-bindings/script/cocos2d/functions.lua)

[code]

**radian2angle** should be ```radian * 180 / math.pi``` but not ```radian / (math.pi * 180)```

[2016-11-14 01:38] minggo commented on #8246
@purepure how to reproduce it? Will you please create a new issue?

[2016-11-14 01:59] purepure commented on #8246
I use that version of cocos2dx:
branch: v3
commit b5de8ba0ea83f5fb84aa04f4cc36d2b5a2d4236f
Merge: 9943c83 9c35ded
Author: minggo xiaoming.zhang@chukong-inc.com
Date:   Mon Jul 18 15:01:10 2016 +0800

Simply I created a project of c++ then build. When I put this flag APP_ABI:= armeabi armeabi-v7a x86 in Application.mk file then build -> the game seem work normally, include sound effect, but black s

[2016-11-14 02:31] minggo commented on #16836
Please refer to this PR https://github.com/cocos2d/cocos2d-x/pull/15676. We want Android Studio to support ndk-build ad before and currently Android Studio doesn't support it very well.

[2016-11-14 02:31] #16836 closed, assigned to nobody

[2016-11-14 02:37] minggo commented on #16837
Good catch, could you please send a PR?

[2016-11-14 02:45] dumganhar commented on #8246
@purepure , could you upload the logcat output? That will be easier for us to find the problem.
Or could you upload an APK file to reproduce this issue?

[2016-11-14 03:53] purepure opened #16840 "Black screen android"
- cocos2d-x version: v3
- devices test on: samsung s4
- developing environments
   - NDK version: android-ndk-r10e
   - Xcode version: 8.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

I use that version of cocos2dx:
branch: v3
commit b5de8ba
Merge: 9943c83 9c35ded
Author: minggo xiaoming.zhang@chukong-inc.com
Date: Mon Jul 18 15:01:10 2016 +0800

Simply I created a project

[2016-11-14 03:54] purepure commented on #8246
@minggo I will migrate this to new issue the upload apk include logfile. This may take a little long time because building cc is never fast.
[new issue](https://github.com/cocos2d/cocos2d-x/issues/16840)

[2016-11-14 04:42] liuyi opened #16841 "How to set lineHeight of labelTTF"
- cocos2d-x version:3.10+

Can not find any api to set lineHeight or letter spacing etc.

Is there any method? I use cocos2d-js.
I found some code like below:

    /** Sets the line height of the Label.
     * @warning Not support system font.
     * @since v3.2.0
     */
    void setLineHeight(float height);

Thanks!

[2016-11-14 04:49] liuyi commented on #16811
Sorry , I confirmed  my crash come from encode AES string in javascript side.
Maybe the file is too big, about 27KB. spent about 300MS.
So it crashed on some android devices.

But I really want a callback when read text file, because sometimes will read   json file more than 500KB-1M.

[2016-11-14 04:54] liuyi commented on #16767
maybe got an high bit or low bit problem when send byte from one language to another one?

[2016-11-14 06:07] dumganhar commented on #16841
`setLineHeight` is defined in `cocos2d::Label` class but it's not in the `cocos2d::LabelTTF` which is a deprecated class. You could simply add that function and run `tools/tojs/genbindings.py` again to generate `setLineHeight` for `cocos2d::LabelTTF`.

@zilongshanren , is there any reason we don't export this function for LabelTTF?
I guess it's probably this function doesn't exist from v2.x and se

[2016-11-14 06:11] dumganhar commented on #16811
`jsb.fileUtils.isFileExist` should not cause crash and this function will not `read` the file indeed.
Therefore, I guess it's not an issue about big file. @liuyi Could you upload your json file and the crash stack? I will be glad to check it out.

[2016-11-14 06:14] zilongshanren commented on #16841
@dumganhar
Yes, I think so.

[2016-11-14 07:30] liuyi commented on #16841
Thanks your reply @zilongshanren  @dumganhar

 If cocos2d::LabelTTF is deprecated. Which Class I should choice? I need use system fonts to display user's content.

PS: I checked source code and found this method in CCDevice-ios.mm:

Data Device::getTextureDataForText(const char \* text, const FontDefinition& textDefinition, TextAlign align, int &width, int &height, bool& hasPremultipliedAlpha)

an

[2016-11-14 07:35] zilongshanren commented on #16841
@liuyi
The method `setLineHeight` is indeed existed in cpp side, you might need to expose the cpp API to js layer, I will check this issue later and send a PR to resolve this issue.

[2016-11-14 07:39] liuyi commented on #16811
@dumganhar
YES you are right!
 This crash is come from my code which decode a text file that encrypt (AES encrypt) in javascript. It cost too much time in a frame(about 300MS).

This is another feature request:
I mean maybe jsb.fileUtils.getStringFromFile need a callback, type so fast, sorry!

[2016-11-14 07:49] dumganhar commented on #16811
@liuyi, that's another issue, please create another issue.
If this issue appears in your code, could you close this issue now? Thanks.

[2016-11-14 08:02] liuyi commented on #16841
@zilongshanren
There is a setLineHeight in labelTTF, but it can not support system font as texture.
see this source code:
void Label::setLineHeight(float height)
{
    CCASSERT(_currentLabelType != LabelType::STRING_TEXTURE, "Not supported system font!");

[code]

}

I tracked source and found that cocos2dx just send the string to IOS API:NSStringDrawingContext
 in  CCDevice-ios.mm.
you can check

[2016-11-14 08:20] zilongshanren commented on #16841
@liuyi
System font currently doesn't support lineHeight and it might be hard to implement this feature for all the supported platforms.

[2016-11-14 09:19] liuyi commented on #16841
@zilongshanren
Yes, I tried modified code for IOS device, But hope we can add this feature to engine, at least IOS and Android. It's really useful.

[2016-11-14 09:19] #16841 closed, assigned to nobody

[2016-11-14 09:22] #16811 closed, assigned to nobody

[2016-11-14 09:23] zilongshanren commented on #16841
@liuyi
Currently the label implementation is messy, we are planing to refactor the code and this feature request will be considered, thanks for your suggestions.

[2016-11-14 09:33] liuyi opened #16843 "Can these features of LabelTTF could merge to next version? I added lineHeight letterSpacing but only support IOS and Android."
I found there is only base function an be used with system font.
No lineHeight letterSpacing and so on.

I added this function base on cocos2dx 3.10, but only support IOS and Android, not whole platform,
Can I submit a pull request? If it would be allowed to merge to next version, with not all platform, I will submit this change.

Thanks!

Modified files:
![image](https://cloud.githubusercontent.c

[2016-11-14 13:26] abc20899 commented on #16836
https://github.com/chaoren/cocos2d-x/tree/cmake       does it not work？

[2016-11-14 18:04] sinhlt58 opened #16845 "--ap in cocos gen-libs didn't work."
- cocos2d-x version: 3.13.1
- developing environments
   - NDK version: r13
   - Android SDK: 19

So, I want to build a pre-built lib with android-19 SDK.

And I run:  cocos gen-libs -m debug -p android --ap android-19

But I always get the error: The directory 'android-10' can't be found in ANDROID_SDK_ROOT/platforms, please use --ap to set needed API level

Please help. Sorry for my bad english

[2016-11-14 20:59] DavidDeSimone opened #16846 "Add async file utils to cocos2d-x"
Currently in cocos2d-x and cocos2d-js, we have functions like FileUtils::getStringFromFile, and jsb.fileUtils.getStringFromFile for interacting with the file system. These functions are synchronous, and performed on the main thread. This can be detrimental to performance. It can cause hitching and frame drops while loading data from the filesystem.

I suggest that we create asynchronous versions o

[2016-11-14 22:23] gstolarov opened #16847 "ScrollView not properly clears up _animatedScrollAction"
When _animatedScrollAction completes, it's not cleared in stoppedAnimatedScroll() function and might cause unexpected behavior after successive calls in setContentOffsetInDuration() to stopAnimatedContentOffset(). In particular if another action, created after end of scrolling, happens to get the same address, then wrong action will be stopped.

Suggest to change stoppedAnimatedScroll to set _anim

[2016-11-15 01:19] minggo commented on #16836
please read the comments in the PR.

[2016-11-15 01:53] abc20899 commented on #16836
thanks

[2016-11-15 02:13] liuyi commented on #16843
Android part:
Cocos2dxBitmap.java
line 118:  StaticLayout staticLayout = new StaticLayout(string, paint, maxWidth , hAlignment,1.0f,0.0f,false);
//Only need change the params: spacingadd
![image](https://cloud.githubusercontent.com/assets/848803/20290577/d7522d18-ab1b-11e6-9806-b6556826d785.png)

[2016-11-15 02:16] liuyi commented on #16846
good job! I indeed need this feature.

[2016-11-15 07:03] purepure commented on #16840
Sorry for the delay!
I tried to rebuild my project with that version but i cannot reproduce that issue. There are too many error when i switch back to that version (after building failed, I tried to update, modified my environment) so I am so sorry for deliver nothing to you guy about that issue.
The only thing is, I was build succeed with that version, but until this project, it fail me. The log

[2016-11-15 14:31] slackmoehrle commented on #16837
I was in communication with this user via Twitter. They have said they might be able to submit a PR at a later date. Perhaps we should fix this ourselves. Thank you @samsonchen1989 for submitting this.

[2016-11-15 20:50] pyrosphere commented on #16845
It seems to be a bug - the `gen-libs` command isn't passing the `--ap` argument to the `compile` command that builds the libraries.

[2016-11-15 21:00] bolso80 opened #16849 "Crash when preload sounds with AudioEngine on Android"
- cocos2d-x version: 3.13.1
- developing environments
   - NDK version: 22
- Android version 5.1.1

Hi @dumganhar

When we preload sounds with AudioEngine on android we have a random crash. It only happens on a Samsung Galaxy S6 Edge.
We are preloading between 80 to 100 ogg, if we don't preload and play the sounds we don't have any crash but we have a lot of delay trying to play a sound, also the

[2016-11-15 22:44] ericduck40 commented on #16845
cocos2d-x version: 3.13.1
developing environments
NDK version: 22
Android version 5.1.1
Hi @dumganhar

When we preload sounds with AudioEngine on android we have a random crash. It only happens on a Samsung Galaxy S6 Edge.
We are preloading between 80 to 100 ogg, if we don't preload and play the sounds we don't have any crash but we have a lot of delay trying to play a sound, also the game freeze

[2016-11-16 01:35] #16837 closed, assigned to nobody

[2016-11-16 01:38] #16779 closed, assigned to nobody

[2016-11-16 02:26] dumganhar commented on #16849
The crash log shows that it crashed in system library while using OpenSLES to decode ogg file to pcm buffer. Could you try to check it out which file causes this crash?

[2016-11-16 02:30] dumganhar commented on #16845
@ericduck40 , did you post it in wrong place?
I found a similar issue here (https://github.com/cocos2d/cocos2d-x/issues/16849).

[2016-11-16 02:31] dumganhar commented on #16845
@natural-law , could you please check this issue? Thanks.

[2016-11-16 03:55] natural-law commented on #16845
Yep, it's the reason of the issue. I think it's a new feature: add option `--ap` for command `gen-libs`. But not a bug.

There wasn't this problem before, because `cocos compile` will auto find available Android platform before [this PR](https://github.com/cocos2d/cocos2d-console/pull/375).

So, I will add option `--ap` to solve the problem.

[2016-11-16 05:52] sinhlt58 commented on #16845
I change the sdk version in these files in the cocos2d-x engine folder and it works perfectly :)))):
cocos2d-x-3.13.1\tools\simulator\frameworks\runtime-src\proj.android\project.properties
cocos2d-x-3.13.1\cocos\platform\android\java\project.properties

[2016-11-16 11:22] clevertension commented on #15698
yes, in the [TARGETS ->  xxx-mobile], not PROJECTS

[2016-11-16 11:24] semgilo opened #16853 "UIEditBox clipping issue"
- cocos2d-x version:3.13.1
- devices test on:iphone6
- developing environments

Steps to Reproduce:

1.
local editBoxSize = img_zhanghao:getContentSize()
			editName = ccui.EditBox:create(cc.size(editBoxSize.width - 20,editBoxSize.height/1.5), "res/UI/general/image/entrybg1.png")
				:align(cc.p(0.5, 0.5), center(editBoxSize))
				:addTo(img_zhanghao)
				:onEditHandler(editBoxTextEventHandle)

[2016-11-16 13:14] pablorealini commented on #16849
This is also happening on a Samsung S6 (Not the edge version), I guess they have the same hardware.

[code]

[2016-11-16 18:04] pablorealini commented on #16849
Hi @dumganhar the crash seems to be random because the sound file is kinda always a different one.

Also we started experimenting some random crashes on other parts of the code.
This is an example of another random crash

[code]

We notice that we only have this random crashes if we **preload** our sounds so we believe that all the crashes are connected to the preload code but we are not experts s

[2016-11-16 19:10] pablorealini commented on #16849
Update: we updated one of our S6 with 5.1.1 to Android 6.0.1 and we don't have any crash there.

This is the Android version we are having random crash.

![2016-11-16-photo-00000334](https://cloud.githubusercontent.com/assets/12350808/20361670/36ac06f2-ac17-11e6-9bac-8b23711209a5.jpg)

[2016-11-16 19:50] pablorealini commented on #15891
I don't know if this is the same bug but our app crash on startup on an Android 4.2.2 (Galaxy S4)

We are using:
Cocos2d-x v 3.13.1
Platform target 22
NDK r13

This is the crash log.

[code]

[2016-11-16 20:42] pablorealini commented on #16849
I think that this is also not working on Android 4.2.2 on a Samsung Galaxy S4.... i need to do more test just to make sure that pre loading sounds is working there.

This is the crash in S4 with 4.2.2

[code]

I will keep trying to investigate if there is a problem on our side but I really don't know where to look.

[2016-11-16 23:08] Rubonnek opened #16854 "Duplicate if-else branch in CCAutoPolygon.cpp"
Running `cppcheck` against CCAutoPolygon.cpp shows the following:

[code]

Lines [423](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCAutoPolygon.cpp#L423) and [426](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCAutoPolygon.cpp#L426) are the same.

[2016-11-16 23:40] Rubonnek opened #16855 "Unneeded consecutive return statements"
For the following files, `cppcheck` is reporting duplicate consecutive return statements:

[code]

Some of the consecutive `return` statements pointed by `cppcheck` could be false positives due to them being in the body of an if-else branch, but for the most part it seems like the automatic update of the lua bindings generated many unneeded `return` statements.

See attached file for more details:

[2016-11-17 03:30] dumganhar commented on #16849
@pablorealini, could you tell me how did you write the preload audio code?
Probably some code snippets will be better.

I have a Samsung S7 here, feel free to send your game APK to me (jianhua.chen@cocos2d-x.org).
I will help to investigate what the problem is. Thanks.

[2016-11-17 09:35] minggo opened #16859 "why not use glClear(GL_STENCIL_BUFFER_BIT)"
[StencilStateManager uses drawFullScreenQuadClearStencil](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/base/CCStencilStateManager.cpp#L187) to clear stencil buffer. Why not use glClear(GL_STENCIL_BUFFER_BIT) instead?

@ricardoquesada any idea?

[2016-11-17 09:38] minggo commented on #16855
We can improve manual binding codes. About auto generated binding codes, we should improve the [binding  generator](https://github.com/cocos2d/bindings-generator), which is not so easy.

[2016-11-17 10:04] minggo commented on #16854
fixed in https://github.com/cocos2d/cocos2d-x/pull/16860

[2016-11-17 10:06] #16845 closed, assigned to nobody

[2016-11-17 10:08] minggo commented on #16843
we should avoid adding features not supported on all platforms

[2016-11-17 10:37] AIGRIND-LLC opened #16862 "Unsafe default Mat4 constructor"
There is an [unsafe default constructor defined ](
https://github.com/cocos2d/cocos2d-x/blob/bf35e0f6b57c627d871d9f3cbbe7a7dcf17505fe/cocos/math/Mat4.cpp#L32)for Mat4:
[code]
If we declare some global Mat4 variable it may be initialized before IDENTITY will be.
So we'll get Mat4 initialized with invalid data.

[2016-11-17 11:37] Limetris opened #16863 "CURL have error compile for APP_PLATFORM := android-15"
Hello!
I'm sorry for my bad english.

- cocos2d-x version: 3.13.1
- devices test on: Android 4.4.2
- developing environments
   - NDK version: r13b
   - VS version: 2015
   - Android API: 24

Steps to Reproduce:

1.  add variable in file **Application.mk** variable: `APP_PLATFORM := android-15`
2.  compile for android

I get error compile:

[code]

**My solution:**

1. I get old commit in project

[2016-11-17 11:40] flyingkisser opened #16864 "editbox doesn't show cursor and input text in android"
- cocos2d-x version:3.13.1
- devices test on: 乐视手机1
- developing environments
   - NDK version: r10e
   - Xcode version:
   - VS version:
   - browser type and version:
-android:5.0.2
Steps to Reproduce:

1. git clone https://github.com/cocos2d/cocos2d-x.git
./download-deps.py
cd tests/js-tests
cocos run -p android

2. goto Extensions Test->EditBoxTest

3. click the fourth EditBox, 7 times in 10 I

[2016-11-17 14:08] pablorealini commented on #16849
Sure.
Basically we load all the assets using a method that reads the textures, sounds and animations from a plist.

We have a load asset method inside a AssetsLoader custom class like this:

[code]

This is important because the sounds are being loaded in the middle of all our textures and animations (we cache all animations)

And this is the method loadSounds in KRGameSoundEngine

[code]

As you

[2016-11-17 15:21] pablorealini commented on #16849
On **Android 4.2.2** S4 the game crash every time if I try to preload the sounds, we created a test app and it only works if we load a single sound.

This is the device:

![img_5257](https://cloud.githubusercontent.com/assets/12350808/20395063/658482e8-acc0-11e6-8919-a00508a0de92.JPG)

[2016-11-17 15:54] DavidDeSimone commented on #16859
I have had issues in the past where certain android phones do not respect the currently bound value of the stencil operation mask when using glClear, which is non-conforming to spec. I'll try and hunt more information about what models/devices I've seen that behavior on.

[2016-11-17 16:33] FrankStain opened #16865 "Hardcoded `compileSdkVersion` and `buildToolsVersion` at 'build.gradle'."
Currently just wanted to test some code, but had stuck with incompatible versions of android build tools.
[code]
So that's how i found hardcoded values at 'build.gradle' of libcocos2dx:
https://github.com/cocos2d/cocos2d-x/blob/7e2fe05050c6fe88ea6cef5e39344d9a7546fc92/cocos/platform/android/libcocos2dx/build.gradle#L5
It happened cuz i always prefer to use most recent version of gradle and android

[2016-11-17 16:52] Paco777 opened #16866 "Regression since 3.12 : text from a BMFont is moved a few pixels to the right."
- cocos2d-x version: 3.13.1
- devices test on: iPhone6
- developing environments : Xcode version: 8.1

Steps to Reproduce:

1. create and display a label from a BMFont :
Label::createWithBMFont("font_numbers.fnt","2", TextHAlignment::CENTER);

2. In 3.13.1, the text is offset in x of a few pixels (and is partly outside the smaller bounding box)
The problem was not in my previous 3.12 version.
This

[2016-11-18 01:00] liuyi commented on #16843
My app only running on IOS and Android, I have no enough time to do extra work...
So maybe you guys can add this feature to next version?
I think this only need about 3 days work....

[2016-11-18 01:15] minggo commented on #16843
@liuyi yep, i will ask @zilongshanren to take a look. Thanks.

[2016-11-18 01:25] minggo commented on #16859
thanks for the information

[2016-11-18 01:27] #16854 closed, assigned to nobody

[2016-11-18 01:50] dumganhar commented on #16863
I tried to build `cpp-empty-test` with cocos2d-x 3.13.1 + android-15 + android-ndk-r13b, it was compiled successfully.
I used `cocos compile -p android --ap=android-15` to compile.

[2016-11-18 01:52] dumganhar commented on #16864
@zilongshanren, could you please check this issue? Thanks.

[2016-11-18 01:57] dumganhar commented on #16849
@pablorealini

What's the logic inside `loadSoundsCallback`? Would you wait before entering game scene until `loadSoundsCallback` checks all sounds are preloaded?

Yes, could you write a simple demo for reproducing this issue?

[2016-11-18 02:05] dumganhar commented on #16866
Could you upload `font_numbers.fnt`, the background picture and more code snippets?

[2016-11-18 02:19] minggo commented on #16840
Sorry, i can not catch your idea? So what's the issue, could you please help to reproduce the issue?

[2016-11-18 02:24] flyingkisser commented on #16864
It's not easy to see this issue in Xiaomi's phone, but 1 in 20 times you still can see it. Very easy to show in LeTV's phone.

[2016-11-18 02:26] purepure commented on #16840
It mean, I cannot provide apk, log about that issue. The step to reproduce is create new project with above cocos version, then make build for android with flag: APP_ABI:= armeabi armeabi-v7a x86 in Application.mk

BR

[2016-11-18 02:28] zilongshanren commented on #16864
@flyingkisser
I can't find a LeTV's phone at the moment... Do you see any error message when click the EditBox?

[2016-11-18 02:29] dumganhar commented on #16864
What's the input method installed in your phone?

[2016-11-18 02:39] pablorealini commented on #16849
This is the logic on the callback, if we remove the callback we still have this issue.

[code]

We aren't waiting for all the sounds to load the next scene.
Remember that some times we load some sounds between loading big textures and the game mostly crash on the loading scene, sometimes at the very beginning or in the middle or near to the end, is a random crash, sometime everything just load fin

[2016-11-18 02:40] pablorealini commented on #16849
Note: KRGameSoundEngine is a singleton class.

[2016-11-18 03:17] dumganhar commented on #16849
@pablorealini
If a demo for reproducing this issue is difficult for you, do you mind send the game apk to me through email (jianhua.chen@cocos2d-x.org)? I will try to find out what the problem is. Thanks.

[2016-11-18 03:35] thangenius commented on #16626
anybody has workaround for this issue?

[2016-11-18 05:43] flyingkisser commented on #16864
I tried 10 times in my xiaomi 5 , this issues appears again. By logcat nothing  occurs.
my input app in xiaomi5 is sogo, in LeTV phone1 that is xunfei.

![1](https://cloud.githubusercontent.com/assets/8563538/20419914/9e0eb6f4-ad94-11e6-91c2-410a16782c7c.png)
![2](https://cloud.githubusercontent.com/assets/8563538/20419917/a5fa9e82-ad94-11e6-8f30-60e06775c62e.png)
![3](https://cloud.githubusercont

[2016-11-18 05:46] linyouhappy opened #16870 "Material second shader texture will be lost,when removeUnusedTextures"
var mat = cc.Material.createWithFilename("demo.material");
sprite3D.setMaterial(mat);
cc.TextureCache.getInstance().removeUnusedTextures();

what is happen?
sprite3D will lost the u_sampler0 textures. why Material not save the texture(u_sampler0)?

demo.material file:
material demo
{
	technique
	{
		pass
		{
			shader
			{
				vertexShader = ccShader_3D_PositionTex.vert
				fragmentShader = ccShad

[2016-11-18 05:46] linyouhappy opened #16871 "Material second shader texture will be lost,when removeUnusedTextures"
var mat = cc.Material.createWithFilename("demo.material");
sprite3D.setMaterial(mat);
cc.TextureCache.getInstance().removeUnusedTextures();

what is happen?
sprite3D will lost the u_sampler0 textures. why Material not save the texture(u_sampler0)?

demo.material file:
material demo
{
	technique
	{
		pass
		{
			shader
			{
				vertexShader = ccShader_3D_PositionTex.vert
				fragmentShader = ccShad

[2016-11-18 06:20] minggo commented on #16840
I can not reproduce it on Nexus 5x(Android 6.0) with the commit(latest github codes)

[code]

[2016-11-18 06:20] #16840 closed, assigned to nobody

[2016-11-18 08:03] dumganhar commented on #16871
Thanks for your feedback.
Yep, I also notice that `Material::parseSampler(` creates texture and add it to texture cache.
But there isn't anywhere to retain the reference of `Texture2D`.Therefore, if you invoke removeUnusedTextures, the texture will be removed from cache.
I will try to find a solution for this.

[2016-11-18 08:07] minggo commented on #16840
Sorry, the commit is this one

[code]

[2016-11-18 08:07] Limetris commented on #16863
I'm sorry that did not specify.
I used `cocos run -p android --ap android-24 --android-studio` to compile.

[2016-11-18 08:14] cezheng commented on #16814
What I figured out when trying to add this was that, we can't have a destructor for the struct if we are to wrap it in std::atomic and I'm still thinking about a workaround for this.

[2016-11-18 09:01] sbrednikhin commented on #11147
Tried to test your fix yesterday. Looks like it doesn't work. After the first call scheduler prints log message:
"Selector already scheduled. Updating interval from: 1.0000 to 2.0000", but doesn't call callback after 2 seconds. Please, reopen this issue. @zilongshanren

[2016-11-18 09:35] dumganhar commented on #16863
@Limetris , I also used `cocos run -p android --ap android-24` to build an apk without any errors.
But i did it on macOS. What's your host OS?

[2016-11-18 09:39] dumganhar opened #16872 "XMLHttpRequest timeout after requesting an URL more than 100 times."
Reported at http://forum.cocos.com/t/xmlhttprequest/41360

- cocos2d-x version: 3.13
- devices test on: macOS
- developing environments
   - Xcode version: 8.1

Steps to Reproduce:

[code]

[2016-11-18 10:38] Limetris commented on #16863
My OS Win10.
Perhaps this is a problem with the engine upgrade in our project.
Previous engine v3.9

[2016-11-18 11:10] cuishaobin opened #16873 "cocos crashed due to opengl context conflict when multiple contexts coexisted"
- cocos2d-x version: 3.13.1
- devices test on: iPhone6, iOS:10
- developing environments
   - Xcode version:8.1

**Code causing crash:**
[code]

**Suggested code change:**
[code]

Steps to Reproduce:

1.
2.

[2016-11-18 14:18] pablorealini commented on #16849
Sadly I cannot send the Apk of the game :( the game is currently under development and we can reveal anything about it :(

Do you have a device with 4.2.2 to test the preload? because is very easy to crash the preload on that version of Android, at least the one we currently have.

We really don't know what to do or where to look for.

[2016-11-18 18:28] Paco777 commented on #16866
Here is the adapted HelloWorldScene.cpp and the 2 new font resource files than can be added in an HelloWorld sample code generated by Cocos2D-x :
[FontPb.zip](https://github.com/cocos2d/cocos2d-x/files/600639/FontPb.zip)

Here are the screenshots of the execution :
in 3.12  :
![img_0343](https://cloud.githubusercontent.com/assets/5639789/20441458/dfa7981c-adc4-11e6-8431-be0019b57dbe.PNG)

3.13.1 :

[2016-11-18 19:22] pablorealini commented on #16849
I am doing a lot of testing on Android devices with multiples Android versions so I really think that there is a problem with AudioEngine on 4.2.2 and with Samsung S6 on 5.1.1

I have 20+ Android devices here to test, I am also testing this on Kindle tablets and phone.

I will keep posting everything I found here.

[2016-11-19 02:05] pablorealini commented on #16849
I recorded a view that shows the crash using a test-app
Sadly I am not at the office at this momento and I don't have the code for that app here but is pretty simple.

The app loads around 100 sounds in the init of the scene, each time you touch the cocos image the scene is replaced with a new one and the sounds are being loaded again. Sometimes the crash happen on startup and sometime during a re

[2016-11-19 04:22] coolexp commented on #16863
I got the same error,if use libcurl in the project.And i read the sample code, the samples in the cpp-test not use  curl in android platform,only in win32 platform.

use --ap=android-21 is ok,use --ap==android-19,get the error

Version details:
Cocos2d-x 3.13.1
Win10 64Bit

Error info as below:
`C:/cocos/CocosGameLua/frameworks/runtime-src/proj.android/../../cocos2d-x/external/curl/prebuilt/androi

[2016-11-19 18:03] MrCapone opened #16876 "CCEAGLView::layoutSubviews not calling on iOS 7 and and earlier"
- cocos2d-x version: 3.13.1 (git+88f6825c4840beea4f18ac7a9c80ac403137f48c)
- devices test on: iPod 5th gen iOS 7.1, iPod 4th gen iOS 6.1.6
- developing environments
   - Xcode version: 7.3.1

Steps to Reproduce:

1. run ccp-empty-test on iOS 7 or earlier

Issue appeared after this pull request https://github.com/cocos2d/cocos2d-x/pull/16394

[2016-11-20 08:16] DavidDeSimone commented on #16814
@cezheng While working on https://github.com/cocos2d/cocos2d-x/issues/16846, I've encountered that our xcode clang setup for osx seems to not support thread_local. This seems to be a bug according to http://stackoverflow.com/questions/23791060/c-thread-local-storage-clang-503-0-40-mac-osx

I've gotten around it by creating the following macro (modified from the stack overflow link). I figured I sh

[2016-11-20 11:55] frranck commented on #15891
@minggo I just did the test with cocos2d-x-3.13.1 and it stills crashes. Could we please reopen this bug ?

[2016-11-20 16:26] MrCapone commented on #16565
https://github.com/cocos2d/cocos2d-x/pull/15792 this pull request caused the problem.

[2016-11-21 01:38] minggo commented on #15891
@frranck could you please provide a test case? And please describe your environments:
* NDK version
* Android target version built with(value of --ap)
* device test on and it Android OS versoin

[2016-11-21 02:11] dumganhar commented on #16863
@coolexp, thanks for your feedback.
So I guess it's probably an issue of target sdk version.

@Limetris , could you figure out that how many api level you have installed? Could you make sure that you have installed `android-24`?

[2016-11-21 02:30] dumganhar commented on #16863
@coolexp , I also tried with android-19, but it was compiled successfully. :(
Anyway, I will try it on Windows and update the result here.

[2016-11-21 02:50] coolapi commented on #16863
@dumganhar did you enable curl in the project? Mabye you should enable libcurl in the project and write some function code to compile

My Project android.mk file as below:
.......
LOCAL_STATIC_LIBRARIES := cocos2d_lua_static
LOCAL_STATIC_LIBRARIES += cocos_curl_static

include $(BUILD_SHARED_LIBRARY)

$(call import-module,curl/prebuilt/android)
$(call import-module,scripting/lua-bindings/proj.andr

[2016-11-21 02:52] dumganhar commented on #16863
@coolapi, I used `tests/cpp-tests` for testing. `tests/cpp-tests` definitely uses all modules in cocos2d-x.

[2016-11-21 02:56] coolapi commented on #16863
@dumganhar i just read the sample code,found tests/cpp-tests disable libcurl at android platform

[2016-11-21 03:08] dumganhar commented on #16863
@coolapi, Oops, it's my fault. I didn't notice that `CurlTest` in `cpp-tests` was disabled.
Okay, I will try to use the way you provided to test it. Thanks.

[2016-11-21 03:19] dumganhar commented on #16863
@coolexp ,

I reproduced this issue with `android-19`, but `android-21` works fine.

@minggo , I remember that it's a bug of `android-19` target platform in ndk. Right?

[2016-11-21 05:14] flyingkisser commented on #16864
any ideas about this issue?

[2016-11-21 06:59] minggo commented on #16863
I sent a PR to fix it https://github.com/cocos2d/cocos2d-x/pull/16882

[2016-11-21 08:32] Limetris commented on #16863
If it is still required

My `Application.mk`

[code]

My `project.properties`
[code]

I used `cocos run -p android --ap android-24 --android-studio` to compile.

[2016-11-21 10:20] dumganhar commented on #16870
Duplicated with https://github.com/cocos2d/cocos2d-x/issues/16871
Closed this one.

[2016-11-21 10:20] #16870 closed, assigned to nobody

[2016-11-21 10:29] dumganhar commented on #16871
fixed it at https://github.com/cocos2d/cocos2d-x/pull/16884.
Please test. thanks.

[2016-11-21 21:34] stevetranby commented on #16849
If you could extract out your audio stuff into a simple example project you could avoid the "sending out details" issue. Use a few sounds from http://freesounds.org/ or just leave the file paths blank or with dummy text and post the code or a zip of the helloworld project that crashes in the same way.

[2016-11-21 22:19] pablorealini commented on #16849
I will upload a test case tomorrow morning GTM-3

Sent from my iPhone

[2016-11-22 01:50] minggo commented on #16863
@Limetris what did you mean? Have you tried my PR?

[2016-11-22 02:12] #16863 closed, assigned to nobody

[2016-11-22 06:06] jarsj commented on #16492
My crash went away after I changed to using CRT Allocator, like this

// Old Code
rapidjson::Document d;

// New Code
typedef rapidjson::GenericDocument<rapidjson::UTF8<>,rapidjson::CrtAllocator> CRTDocument;
CRTDocument d;

[2016-11-22 08:13] Limetris opened #16886 "Memory leak in the Spine, after replace scene"
**I detected memory leak in the spine after replace scene.**

- cocos2d-x version: 3.13.1
- devices test on: Win10
- developing environments
   - VS version: 2015
   - OS: Win10

Steps to Reproduce:

1. Create two scenes with Skeleton Animations
2. Load first scene with animation
3. Replaced by the second scene with animation. Watch mtmory

**My solution:**

I changed next file: `cocos2d\cocos\edi

[2016-11-22 08:14] linyouhappy opened #16887 "为什么 一帧执行两次renderer->render();"
- cocos2d-x version:3.8
在CCScene文件 第209行
renderer->render();
在CCDirector文件 第309行
_renderer->render();
这样子，不消耗性能吗？

[2016-11-22 08:17] linyouhappy commented on #16887
注释掉 CCScene里面的renderer->render();，运行正常。未发现异常

[2016-11-22 08:17] Limetris commented on #16863
@minggo
Thank you, I will check it, when i will have time.

[2016-11-22 08:40] dumganhar commented on #16886
Could you check that which line causes the memory leak?

[2016-11-22 09:34] Limetris commented on #16886
[code]

[2016-11-22 11:10] linyouhappy opened #16888 "Sprite3D 的getMeshByName失效"
原因是 Sprite3D::createNode 方法，存在auto mesh = Mesh::create(nodedata->id, getMeshIndexData(it->subMeshId));导致所有的名字都一样

[2016-11-22 13:54] balmerdx opened #16889 "Last letter in first word not transferred to new line. Label::getFirstWordLen"
- cocos2d-x version: 3.13.1
- devices test on: Win32
Steps to Reproduce:
1.  Create multiline cocos2d::Label with text with one word. Set the content size that was not seen the last half of the letter. The last letter should be transferred to the next line. But its not transferred.

Problem is in function Label::getFirstWordLen. See for code:
for (int index = startIndex + 1; index < textLen; ++ind

[2016-11-22 14:22] pablorealini commented on #16849
Ok: This test crash almost every time on a Galaxy S4 with Android 4.2.2

[code]

Here are the sound files so you can download it: https://drive.google.com/file/d/0B5ZTA8WK-EZLZ3dkdnRvRDBPV1E/view?usp=sharing

Here you have the APK: https://drive.google.com/file/d/0B5ZTA8WK-EZLaGhpZ1VWOGVMc2M/view?usp=sharing

Thanks for the help.

[2016-11-23 01:28] rraallvv commented on #13538
I'm having this issue with cocos2d-x-3.9

Simulator.apk is the one built with
`$cocos gen-simulator`

located at `./cocos2d-x-3.9/simulator/android/Simulator.apk`

[2016-11-23 02:15] dumganhar commented on #16886
@Limetris , I found that why it was changed to use `EventListener` to update commands.
Please refer to this issue https://github.com/EsotericSoftware/spine-runtimes/pull/605 .

So if you revert the code to the last version, it may probably cause another crash issue.

And I still don't know why it cause memory leak in the line you said since `_command_triangle->verts` will be freed at the beginning

[2016-11-23 06:18] anddyluo opened #16890 "App crashed on iOS 10.1.1"
- cocos2d-x version:3.5
- devices test on:iphone6s ios10.1.1
- developing environments
   - NDK version:
   - Xcode version:8.1
   - VS version:
   - browser type and version:

Steps to Reproduce:
1. 在游戏中正常点击操作，到某一个按钮点击时出现crash
2. 游戏版本在所有10.1.1之前的系统上都没有出现问题，但是在10.1.1这个最新的ios系统上才出现了crash

Exception Type:  EXC_BAD_ACCESS (SIGSEGV)
Exception Subtype: KERN_INVALID_ADDRESS at 0x000000010bad800c
Termina

[2016-11-23 08:05] linyouhappy opened #16892 "Skeleton3D Mesh change GLProgramState ,display error"
当模型含有骨骼时，自定义设置GLProgramState后，模型显示不正常，模型乱了。
GLProgram* program = GLProgram::createWithByteArrays(cc3D_SkinPositionTex_vert, cc3D_ColorTex_frag);
sprite3D->setGLProgram(program);
或者这样设置
int count = sprite3D->getMeshCount();
 for (int i=0; i<count; i++) {
         Mesh* mesh = sprite3D->getMeshByIndex(i);
         GLProgram* program = mesh->getGLProgramState()->getGLProgram();
          sprite3D->se

[2016-11-23 08:11] beerhall opened #16893 "Button Right Click Event?"
I found that the Button can not detect a right-click event on it. It's better to add a mouse event listener on a single button instead of the listener which detect juct left click.

[2016-11-23 08:26] toreinkun commented on #16890
Are you using spine 2.1.17?

[2016-11-23 08:35] anddyluo commented on #16890
I use the Spine1.7.3. Is there any problem about this?

[2016-11-23 08:53] Limetris commented on #16886
@dumganhar, I use Diagnostic tools in VisualStudio.
This memory leak occurs because ceases to call update after a scene change.
So we does not pass to the next comand, etc.

I understand eventListener just stops working properly.

[2016-11-23 09:03] #16876 closed, assigned to nobody

[2016-11-23 12:44] linyouhappy commented on #16892
Mesh should use different GLProgramState.If GLProgramState is the same,the mesh display error.

[2016-11-23 12:51] linyouhappy commented on #16892
fbx-conv tool convert FBX file to c3b, the id of Mesh  should be  meshpartid.but 2dx engine setting it modelnode id.and make the id of Mesh is all the same. the location of  the 'target' Mesh is puzzle。

[2016-11-23 12:56] linyouhappy commented on #16892
If a Mesh has a transparency texture, it will through the main Mesh. all renderState parmaters is no work.    such as:
renderState
{
	blend = false
	blendSrc = ONE
	blendDst = ZERO
	depthWrite = false
	depthTest = false
	cullFace = false
}

[2016-11-23 17:42] RustyMoyher opened #16894 "RenderTexture does not support Sprite3D"
RenderTexture does not work with Sprite3D.

By default, RenderTextures don't create a depth buffer and so a Sprite3D is rendered without a depth test. The create method on a RenderTexture can accept a depthStencilFormat.

When supplying depthStencilFormat, `GL_DEPTH24_STENCIL8` for example, the
RenderTexture internally creates and attaches a depth buffer. However the RenderTexture results are most

[2016-11-24 02:33] #16696 closed, assigned to dumganhar

[2016-11-24 04:21] rraallvv commented on #16492
After my game runs for the first time I'm getting this:

[code]

Then I'm getting this consistently, again and again.

[code]

Are those issues related to this bug?
I'm using Cocos2d-x v3.9

I'd highly appreciate any information.

[2016-11-24 05:51] dumganhar commented on #16492
@rraallvv, it is probably the same issue. Please try the fix above.

[2016-11-24 06:19] rraallvv commented on #16492
@dumganhar thanks for the info. I'll give it a try.

[2016-11-24 06:49] waqas19921 opened #16899 "How to use glBlendFuncSeparate for render texture"
- cocos2d-x version: 3.11
- devices test on: android
- developing environments
   - NDK version: 12.1

i have used
[code]

where `BlendFunc::ALPHA_PREMULTIPLIED` is equivalent to
 `glBlendFuncSeparate(GL_ONE, GL_ONE_MINUS_SRC_ALPHA, GL_ONE, GL_ONE_MINUS_SRC_ALPHA);`

but how can i achieve this
`glBlendFuncSeparate(GL_SRC_ALPHA, GL_ONE_MINUS_SRC_ALPHA, GL_ONE, GL_ONE_MINUS_SRC_ALPHA);`

[2016-11-24 07:15] dumganhar commented on #16886
But the custom EventListener in SkeletonBatch should work since there isn't anywhere to remove it.

[2016-11-24 07:35] MrCapone opened #16900 "outdated CMakeLists.txt on templates"
`CMakeLists.txt` in `templates` not been updated for over a year only received minor fixes. But `CMakeLists.txt` from `cpp-empty-test` much better and has more features. I created gist with sample `CMakeLists.txt` based on  `cpp-empty-test/CMakeLists.txt` but modified for use in `templates`
https://gist.github.com/MrCapone/ccdc1826cb7362086107e8096bfe6f90
It's only for cpp, but it can be used with

[2016-11-24 07:42] #16565 closed, assigned to ricardoquesada

[2016-11-24 08:08] Limetris commented on #16886
I think he doesn't work because doesn't work EVENT_AFTER_DRAW_RESET_POSITION event.

[2016-11-24 10:16] dumganhar commented on #16894
Why do you `setForce2DQueue(true)` for ship?
Does it work if setting it to false?

[2016-11-24 12:49] jaydeepmalviay commented on #15871
Hi all,
Please anyone tell me the way by which i can add/update libpng latest version in my android studio project. my project has only src/main/jniLibs which has /x86 & /armeabi with *.so files.
Please help me.
Thanks

[2016-11-24 14:25] RustyMoyher commented on #16894
`setForce2DQueue(true)` is used so the ship and the RenderTextures are on the same render queue. If they are not on the same render queue, the RenderTexture can't visit the ship. The resulting render is entirely blank.

An alternative way to put them on the same render queue is to use `setGlobalZOrder(1)`

    ship3D->setGlobalZOrder(1);
    renderTexDefault->setGlobalZOrder(1);
    renderTexWithB