[2015-04-08 23:47] zilongshanren commented on #11342
@minggo
https://github.com/cocos2d/cocos2d-x/pull/11332  This PR shouldn be revert.
@stammen I think your PR shouldn't contain the commit to remove these drity files.

One more thing, the CocosRobot does have some bugs here when the files are not ignored by git and contained in Cocos-3rd-libs.

[2015-04-09 01:24] minggo commented on #11342
@andyque
I know it is caused by CocosRobot, if i don't merge it, then it will generate new one after merging a PR. The correct way is to fix CocosRobot and remove these files.

[2015-04-09 02:09] minggo commented on #11342
It is fixed in #11347.
Then we will send another PR to remove zlib libs in cocos2d-x.

[2015-04-09 02:23] natural-law commented on #11279
There are codes for checking the python major version. But the minor version is not checked. I will add it later. Thanks for your suggestion.

[2015-04-09 03:33] pandamicro opened #11349 "Can you provide pixel data access to Texture2D [read only]"
The Texture2D contains all the pixel data, there is some developer needs to access them to implement some feature.

For example:
User need to detect touch based on real outline of a sprite which contains transparent pixels. So the current solution can only be render the texture onto a render context and then retrieve the CCImage from it. At last the pixel data can be read. But it's a very consumin

[2015-04-09 03:35] FryDay commented on #9912
This would be extremely useful and in my opinion, necessary. I would love to use Cocos2d-x for Steam games, but it isn't really possible without this.

[2015-04-09 03:45] WenhaiLin commented on #11349
Texture2D not contains all the pixel data.

[2015-04-09 05:50] #11342 closed, assigned to WenhaiLin

[2015-04-09 06:33] natural-law commented on #11279
@meiry
I have solve the problem in this PR:
https://github.com/cocos2d/cocos2d-x/pull/11355

Related PRs in cocos2d-console:
https://github.com/cocos2d/cocos2d-console/pull/245
https://github.com/cocos2d/cocos2d-console/pull/246

[2015-04-09 09:16] walzer commented on #11262
@1085075003
1. Please discuss in the forum instead of this issue tracker
2. Have you used BatchNode?

[2015-04-09 09:43] 1085075003 commented on #11262
@walzer I have solved the problem,thanks to everyone.
And, I asked this issue in the forum first, but no one answer me.You have to admit the forum is not a good place to ask question. A little problems have salved in the forum in two years.

[2015-04-09 09:46] 1085075003 commented on #11262
@walzer I will not ask a question which is not a bug of cocos2d in git. thanks.

[2015-04-09 16:30] pandamicro commented on #11349
Why not ?

[2015-04-10 01:42] zilongshanren opened #11367 "Write a documentation for creating auto batch friendly GUI"

[2015-04-10 01:43] zilongshanren opened #11368 "Add cell reuse mechanism to ListView"

[2015-04-10 01:44] zilongshanren opened #11369 "Improvemnet the performance and memeory usage of GUI widgets"

[2015-04-10 01:45] lvlonggame commented on #11251
Three methods to deal this problem:
1. set 2d sprite global-z = -1, let the 2D sprite draw first.
2. use the camera's depth to control draw order, low depth will draw Priority.
3. create a empty 3D Sprite as the parent node, use the depth-test by set position3D.

[2015-04-10 02:13] super626 commented on #11251
@hussain-sohaib

[2015-04-10 02:19] zilongshanren opened #11370 "Fix ui::Text content size bug when applying outline effect"
If apply other label effect, the content size should also be updated.

[2015-04-10 02:20] zilongshanren opened #11371 "Add disableOutline and disableShadow API for ui::Text"
I only want to add one API for it.
For more information, please refer to http://wiki.qt.io/API-Design-Principles

[2015-04-10 03:02] mooncode163 opened #11372 "touch问题"
请教大家个问题  3.0 将一个layer setVisible(false)后还会收到touch事件 怎么在系统里修改让隐藏的layer不收到touch事件呢，这个好像是一个bug

[2015-04-10 05:36] zilongshanren opened #11373 "Label System font can't scale on Mac"

[2015-04-10 06:02] folgerhu commented on #10293
Call system sharing API, like this:

![screen shot 2015-04-10 at 2 03 31 pm](https://cloud.githubusercontent.com/assets/3455415/7082680/73339eb0-df8a-11e4-8f11-2f142c3939ac.png)

[2015-04-10 06:16] zilongshanren opened #11374 "[ios Bug]Label TTF Shadow effect cause OpenGL error"
OpenGL error 0x0502 in /Users/guanghui/cocos2d-x/cocos/renderer/CCTextureAtlas.cpp drawNumberOfQuads 691

[2015-04-10 06:30] pandamicro commented on #11203
There should be `initWithFilePath` and `initWithFilePathAndMaterialPath` functions

[code]

[2015-04-10 07:01] piotrros opened #11376 "ActionTimeline::step bug"
I've discribed it here:

http://discuss.cocos2d-x.org/t/actiontimeline-step-seems-to-have-a-bug/20927

[2015-04-10 07:22] #11371 closed, assigned to zilongshanren

[2015-04-10 07:42] zilongshanren commented on #11298
@minggo
So we should upgrade glfw?  In the next release?

[2015-04-10 07:43] minggo commented on #11298
Yep, i think we need to update it in v3.7.

[2015-04-10 07:44] WenhaiLin commented on #10804
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11379

[2015-04-10 07:44] WenhaiLin commented on #10749
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11379

[2015-04-10 07:51] minggo commented on #10804
@fusijie
Could you please test the PR?
Thanks.

[2015-04-10 08:26] samuele3hu commented on #11206
@ChenRenault, In the current mechanism of the Lua binding,all overload functions like setUniformVec2 of GLProgramState are integrated in a binding function.When we call the `cc.GLProgramState:setUniformVec2` in the Lua,it would find the adaptive function in the corresponding c++ binding method according to parameter type and the number of parameters. In the process of finding, it would output thes

[2015-04-10 08:34] samuele3hu opened #11380 "[Android] Click [Start AutoTest] would let touch event useless when come back from setting the system font in v3.6alpha"

[2015-04-10 08:41] #11370 closed, assigned to zilongshanren

[2015-04-10 08:57] fusijie commented on #10804
@minggo @WenhaiLin

It's fixed. Thanks!

[2015-04-10 08:57] #10804 closed, assigned to WenhaiLin

[2015-04-10 09:06] WenhaiLin commented on #10676
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11383

[2015-04-10 09:07] #10749 closed, assigned to WenhaiLin

[2015-04-10 10:15] minggo commented on #10676
@ginobean
Will you test the PR?

[2015-04-10 13:57] hamburml opened #11390 "cocos new allows projects with dots"
cocos new -l cpp Test3.5framework

created a project which name is Test3.5framework
This can't be build for android because the dot is used as a separator for java packages.

![image](https://cloud.githubusercontent.com/assets/7239350/7089165/23cdeae6-df9a-11e4-9878-c7578db1c7b0.png)
![image](https://cloud.githubusercontent.com/assets/7239350/7089175/38242262-df9a-11e4-9441-a724059e7538.png)

[2015-04-10 14:01] matsujun commented on #11291
MathUtil.cpp is compiled with NEON.
Both MathUtilNeon.inl and MathUtilC.inl are included by MathUtil.cpp (Not only prototypes. Whole code of these classes are included.). So they are compiled like parts of MathUtil.cpp is compiled.

[2015-04-10 14:04] jimrange commented on #11238
I just started noticing a small jittering or shaking of sprites controlled by PhysicsBodies.
Is this bug the jittery shaking that occurs with the position of physics bodies?
Or is it when the game freezes due to a physics simulation integration diverging?

[2015-04-10 14:24] StudioHo opened #11391 "Cocos2d-x 3.5 Resources are not updated unless project is rebuilt"
I noticed that now the Resources are copied to outdir before run with the prelinkevent

`<PreLinkEvent>
      <Command>if not exist "$(OutDir)" mkdir "$(OutDir)"
xcopy /Y /Q "$(EngineRoot)external\websockets\prebuilt\win32\*.*" "$(OutDir)"
xcopy "$(ProjectDir)..\Resources" "$(OutDir)" /D /E /I /F /Y</Command>
    </PreLinkEvent>`

But shouldn't there be a way to trigger this without rebuilding the

[2015-04-10 14:31] jeason1997 commented on #11238
@jimrange
Hi,I use this physics engine by default setting, I sure I don't change any parameter.
I just add some spirtes with physicsBodys, and then occur this bug......

你好，我使用这个封装的物理引擎的时候没有进行任何设置，所有参数都是默认的。所以排除了是我把physics step设置得太小或者太大。
我仅仅是添加了几个精灵，并赋予它们物理特征。然后就出现这个BUG。而且不少人会这样。
要是手机平台的话，有时候你把游戏切换到后台再切换回来，刚体有时候也会产生莫名的速度。

[2015-04-10 18:08] jimrange opened #11392 "Should we have iOS Default Multi-Touch Enabled?"
Is there a reason why multi-touch is not enabled by default on iOS?
Is there any benefit to having it disabled by default on iOS?
I think it would make sense to enable it by default.

It seems that there are inconsistencies in the **CCGLViewImpl-ios.mm**. Some parts contain setMultipleTouchEnabled:YES and some do not.

e.g.
In the CCGLViewImpl-ios.mm file:

Multi-touch is **enabled** if the **init

[2015-04-11 13:16] perminovVS commented on #11349
You can use VolatileTextureMgr( need enable CC_ENABLE_CACHE_TEXTURE_DATA), and add the desired data in it. Or directly use Texture2D::getName() and glGetTexImage

[2015-04-11 14:48] samuelion commented on #11020
Solved with 3.5 release.

[2015-04-11 14:48] #11020 closed, assigned to nobody

[2015-04-12 07:14] lbfamous commented on #11372
setTouchEnabled(false) 试试看

[2015-04-12 16:39] semgilo opened #11395 "Cosod2dx 3.5 load csb and the Pacticle had added is gone!!!!"
mac
Cosod2dx 3.5  -l lua
Cocostudio 2

[2015-04-13 04:04] semgilo commented on #11395
I try new  particle addTo the resourceNode , the particle doesn't show

[2015-04-13 04:46] hijikix opened #11402 "ssl certificate IOS"
frameworks/js-bindings/cocos2d-x/cocos/network/HttpAsynConnection.m

[code]

this func always return true because "trustResult = kSecTrustResultUnspecified " is always true.

By the way,I wonder, is the block for " if(trustResult == kSecTrustResultRecoverableTrustFailure)" neccesary??

[2015-04-13 08:09] kawaiSky commented on #11349
is glGetTexImage supported in OpenGL/ES?

[2015-04-13 08:29] WenhaiLin commented on #11373
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11406

[2015-04-13 09:04] perminovVS commented on #11349
@kawaiSky no. But issue not mobile only. Someone enough and this

[2015-04-13 17:03] ginobean opened #11415 "default x86 release build setting (-O2) crashes on asus memopad (ME302C)"
I notice that there are at least a few x86 related bugs that have already been reported. I think it's likely that they may have the same underlying cause. In any case, I am reporting this as a new bug as I think the instructions below should make it fairly easy to reproduce the bug consistently.  Basically, it involves creating the standard new cpp project using the cocos script, editing Applicati

[2015-04-14 02:52] #11373 closed, assigned to WenhaiLin

[2015-04-14 03:01] RaoZiJian opened #11423 "WebView is gone after unlocking the screen in some Android devices"
Cocos2d-x 3.3 with Lua

Test devices are XiaoMi 3 or HuaWei Honor 6.

There is a webview widget belong to one of my layer of the scene,
then lock the phone, and then unlock  it.
The scene is working well unless the webview is disappeared.

[2015-04-14 03:14] danutchereches commented on #9204
I have the same problem on Asus Nexus Player. (Intel Atom Z3560, Android 5.1)
Compiled with SDK 21, NDK r10d, cocos2d-x v3.5

It works with "-U__SSE__", but it doesn't sound like an Android issue to me.
I might be wrong of course, but I tried the NDK NEON sample (it uses SSE) and it works. Also, a simple Mat4 multiplication works fine in cocos with SSE enabled, it just crashes on render.

[2015-04-14 03:29] WenhaiLin opened #11424 "Label does not work fine on WP8.0."
![label-wp8](https://cloud.githubusercontent.com/assets/5234286/7129879/dfcd79a4-e298-11e4-8dc1-1f4f856e735f.png)

@stammen It look like cause by glTexSubImage2D not work fine on WP8.0

[2015-04-14 05:43] #9321 closed, assigned to nobody

[2015-04-14 09:07] yourchanges opened #11434 "quick-cocos2d v3.5 "cocos run -p android " failure on a new demo project"
create project as:

*\* cocos new MyLuaGame -p com.your.myluagame -l lua -d workspace **

run as:
*\* yourchanges@yourchanges:MyLuaGame$ cocos run -p android *\*

[code]

Some guys failed too on MacOS : http://www.cocoachina.com/bbs/read.php?tid=294677&page=e&#a

[2015-04-14 09:09] minggo commented on #11392
Please don't use issue system for discussing.
Please discuss it here: http://discuss.cocos2d-x.org/c/cocos2d-x-dev-discussion.

[2015-04-14 09:09] #11392 closed, assigned to nobody

[2015-04-14 09:11] minggo commented on #11391
@StudioHo
I am not sure if there is a way or not.

[2015-04-14 09:11] minggo commented on #11390
It is the limitation of Android, not cocos2d-x.

[2015-04-14 09:11] #11390 closed, assigned to nobody

[2015-04-14 09:13] minggo commented on #11424
@stammen
Could you please take a look?

[2015-04-14 09:14] minggo commented on #11434
@dualface
Could you please take a look?
And where is the best place to report quick-x issues?

[2015-04-14 09:15] minggo commented on #11372
@Jaykie
Have you resolved your issue?

[2015-04-14 10:26] samuele3hu commented on #11423
WebView hasn't been bound to Lua,  i think it should be done because some developers need to use it although it is in the experimental namespace.

[2015-04-14 10:29] minggo commented on #11423
Yep, we need it.

[2015-04-14 12:24] pipu commented on #11395
@semgilo
I load csb which contain particle can be correctly loaded.
Could you give us your code and csb file?

[2015-04-14 17:33] StudioHo commented on #11391
@minggo
Too bad... Sometimes I make small changes to the sprites, and then, when I hit "Run“ in visual studio, the event is not called since I didn't change the code. So it still uses the old sprites 囧rz

[2015-04-14 18:22] hamburml commented on #11390
Yes, I know. But you can avoid this if you do not allow projects with dots..... More or less it's the engines work to ensure that a project, which was created, is fully working.... It's sloppy to ignore it.

[2015-04-14 19:23] himynameschris commented on #9479
Ive merged this feature with backwards compatibility into #11441

[2015-04-15 06:50] jasonzhangxx commented on #10280
感谢分享啊！

[2015-04-15 08:20] puckery opened #11444 "not inDirectoryExistsJNI method"
not inDirectoryExistsJNI method in android

[2015-04-15 08:42] zilongshanren commented on #11369
This issue might need to be pending for a while since I haven't found any improvements about GUI auto batch yet. :(

Anyone have some ideas or suggestions would be welcome.

[2015-04-15 09:02] bryanwong opened #11447 "Cocos2D-X 3.5 utils::captureScreen gets black screenshot when using Camera."
I use 3 cameras in my game, and all children of the scene have their own camera set.

I get black screenshot when using utils::captureScreen to catch screen and share.

Please fix.

Thanks,
Bryan

[2015-04-15 09:39] zzisoo9 opened #11449 "Touch(Event dispatch/listener) Issue"
Cocos2dx 3.3, Cocos2dx  3.4

This case is Really strange case.(only android)
very randomly and sometimes, ALL Touch Event and KeyPressed Event are not received to listener.
But The scene has All Sprite Animations and Sound Effects work Very well.

Occur more frequently at Android Lollipop

so, I add log at cocos libs files for Test.

FILE : /proj.android/cocos2d/cocos/platform/android/jni/TouchesJ

[2015-04-16 05:36] InfResearch commented on #11206
@samuele3hu
I see(Don't get it but feel cool :P),thanks.

[2015-04-16 05:56] hsienwei commented on #10759
i got it too.
It occurred to Nexus 7 with android 5.1.
Some info below.
https://dl.dropboxusercontent.com/u/10581994/cocos2dx_issue/nexus.txt
https://dl.dropboxusercontent.com/u/10581994/cocos2dx_issue/Screenshot_2015-04-16-13-43-24.png
https://dl.dropboxusercontent.com/u/10581994/cocos2dx_issue/Screenshot_2015-04-16-13-41-14.png

if modify Cocos2dxActivity.java like code below, problem  will be f

[2015-04-16 06:50] zilongshanren commented on #11369
This PR should be closed now.
I have made some changed to ui::Button. I meaned to improve the batching of Button, but it doesn't work.

But in the end, I have found some memory usage could be optimized.

https://github.com/cocos2d/cocos2d-x/pull/11429

https://github.com/cocos2d/cocos2d-x/pull/11458

[2015-04-16 07:39] zilongshanren opened #11461 "Don't trigger Jenkins Pull Request builder for V2 branch."

[2015-04-16 08:50] zdccool opened #11466 "AudioEngine::play2d() cause black screen on Android, cocos2dx 3.5"
play2d  screen black and log is frameworks/wilhelm/src/android/AudioPlayer_to_android.cpp:779: pthread 0x65011548 (tid 21923)

[2015-04-16 09:46] hussain-sohaib commented on #10759
to fix this issue, in appcontroller.mm change pixelformat and depthFormat to this.

pixelFormat: kEAGLColorFormatRGBA8
depthFormat:  GL_DEPTH24_STENCIL8_OES

thanks!

[2015-04-16 10:33] #11461 closed, assigned to nobody

[2015-04-16 11:19] elnormous commented on #10390
Is there any progress on this?

[2015-04-16 12:09] zzisoo9 commented on #11449
I found this case starting with this log.
"_inDispatch should be 1 here."

What is matter?

[2015-04-16 13:51] tomhmp commented on #10759
I'm also experiencing this issue although neither of the above suggestions worked for me.

My clipping nodes seem to work fine on our Samsung S3 (4.1.2) but not on our S4 (4.2.2) or our Nexus 7 (4.4.3).

I've also tried changing the #define GL_DEPTH24_STENCIL8 in CCGL-android.h to GL_DEPTH24_STENCIL8_OES but that didn't seem to make a difference. No luck with creating the ClippingNodes in a CallFu

[2015-04-16 14:04] ivanrumo opened #11473 "SSL in Android v3.5"
Hi!

When i try to meke a Http request, I get this error log:

E/cocos2d-x debug info(15533): javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.

This is an example of the request

[code]

Thank you and sorry for my english

[2015-04-16 14:17] JOOpdenhoevel commented on #10390
I've never heard anything since Feb..

[2015-04-16 14:37] zilongshanren commented on #10390
Sorry, @Janonard
I'm really very busy these days...  I will do the porting soon, but I can't promise the exactly date.

[2015-04-16 18:10] JOOpdenhoevel commented on #10390
no problem!

[2015-04-16 22:34] kirushyk commented on #8305
Still face this issue with cocos2d-x v.3.5

[2015-04-17 02:22] zilongshanren opened #11474 "upgrade rapidjson to latest version."
The rapidjson version in v3 repository is outdated, we have upgrade it in v4.

[2015-04-17 03:33] JasonLion-CN opened #11476 "EventDispatcher have a BUG!"
When EventDispatcher is in working(flag _inDispatch == 1) and removeEventListener is called:

if (_inDispatch == 0)
{
       listeners->erase(iter);
       CC_SAFE_RELEASE(l);
}

its mean the listener was not be remove from listeners,until updateListeners to be call 。

In the dispatchTouchEvent member functionc：
sortEventListeners() to cause Gt0Index be set： listeners->setGt0Index(index)

then, up

[2015-04-17 04:07] darkdukey commented on #8305
Yes, this still happens.

[2015-04-17 08:41] WenhaiLin commented on #9150
Fixed at:https://github.com/cocos2d/cocos2d-x/pull/11451

[2015-04-17 11:07] kirushyk commented on #8305
Similar problem also present for cocos RenderTexture.

[2015-04-17 11:13] TravisGesslein opened #11484 "improve text rendering using signed distance fields"
Not a concrete suggestion for anything, but you could take a look at

https://crimild.wordpress.com/2013/09/01/improving-text-rendering-with-signed-distance-fields/

and related articles about text rendering via signed distance fields and maybe think about including it in Cocos2d-x. It enables pixel perfect sharp text scaling without all the filtering issues Cocos2d-x currently has when text is sc

[2015-04-17 16:47] Talisca commented on #8305
You guys are probably building for API level >= 13. You have to add "screenSize" to android:configChanges of your Activity in your AndroidManifest.xml.
Android itself would handle this otherwise and triggers a new Activity initialization (cocos_android_app_init in logcat) if the screen is turned on again. With the above change, your own app will handle those changes..
See also developer.android.co

[2015-04-18 05:57] flamefox opened #11487 "CCAnimate3D have bug in v3.6"
3 animation A, B,C
first play A，then play B，
the A into FadeOut,B into FadeIn.
then A fadeout finished, B still playing
then A remove SPRITE3D from s_fadeOutAnimates and every update will remove it too. [probrom 1]
then A finished and cleanup, remove SPRITE3D  from s_fadeOutAnimates, s_fadeInAnimates, s_runningAnimates [probrom 2]
then SPRITE3D play C, B and C will playing at the same time.

[2015-04-18 12:56] tangyiyang opened #11492 "The enum type spEventType has not been exported to Lua."
In file AnimationState.h
typedef enum {
    SP_ANIMATION_START, SP_ANIMATION_END, SP_ANIMATION_COMPLETE, SP_ANIMATION_EVENT
} spEventType;

[2015-04-19 09:13] hamburml commented on #8305
@kirushyk @shkatulo Could you pls test @Talisca's advice? Thanks!

[2015-04-20 06:56] ts0307 opened #11508 "There is a memory leak when call "pushScene" followed "replaceScene""
this is because the variable called "_sendCleanupToScene" is setted to true when "replaceScene" is called,but then is setted to false when "pushScene" is called.so it cause the function called "cleanup" is not called when switch scene...
BTW: i am learning english,so you kown..

[2015-04-20 07:32] jminht commented on #9333
@MinotaurosLee 请问这个问题怎么样了？

[2015-04-20 07:43] jminht commented on #9559
did you fix this ?

[2015-04-20 07:49] fusijie opened #11511 "Button->setBright(bool) makes memory go up."
`version:` 3.5Final
`issue:` Every time creates a button and setBright(false), GLProgramStateCache will cache the program state makes memory go up.
`reproduce:` add following code to HelloWorld project, then pay attention to memory.

[code]

[2015-04-20 08:18] aababy opened #11516 "Can not play video on Android 2.3 with VideoPlayer"
version: 3.5Final
issue: can not play video on Android 2.3  with VideoPlayer, it will say, "can not play this video". It works well on Android 4.x.
reproduce:
1. open cocos2d-x sample(cpp-tests)
2. Node:UI -> GUI Dynamic Create Test -> Video..
3. tap play resource video

[2015-04-20 19:11] Seryusjj opened #11521 "CC_SPRITEBATCHNODE_DEBUG_DRAW not working with SpriteBatchNode V3.5"
CC_SPRITE_DEBUG_DRAW 1 and CC_SPRITEBATCHNODE_DEBUG_DRAW 1 in ccConfig.h
are not working if used with SpriteBatchNode, it stops the program execution.

[2015-04-21 02:17] zilongshanren commented on #10747
@DarioDP
This issue should be fixed in the latest release.
Could you please check it out?

[2015-04-21 03:15] matsujun opened #11527 "Momentum scroll of ScrollView is not working if it's direction is not BOTH"
If I scroll direction HORIZONTAL or VERTICAL of ScrollView(cocos2d::extension::ScrollView),
momentum scroll is not working.
Scroll is stop immediately when I release finger from screen.

[2015-04-21 03:20] matsujun commented on #11527
This will bug of ScrollView::deaccelerateScrolling

[code]

If the scroll direction is HORIZONTAL, newY == maxInset.y == minInset.y, and deaccelerateScrolling is unscheduled.

It should be like

[code]

[2015-04-21 05:28] arrowopen opened #11530 "when I compile android, it broke with 'Cannot find module with tag 'zlib/prebuilt/android'"
@minggo
When I compile android, it broke with "../cocos2d/cocos/platform/android/Android.mk: Cannot find module with tag 'zlib/prebuilt/android' in import path"
I can't find android zlib in anypath(except "external/win32_, external/winrt_, external/wp*),what should I do?
Thanks

[2015-04-21 10:24] #9150 closed, assigned to nobody

[2015-04-21 23:57] pandamicro opened #11541 "Add push notification support for iOS/Android/Mac/WinPhone"

[2015-04-21 23:59] pandamicro commented on #11541
Reported here: http://discuss.cocos2d-x.org/t/push-notifications-for-the-web/21146/2
Related article for web implementation: http://updates.html5rocks.com/2015/03/push-notificatons-on-the-open-web

[2015-04-22 02:45] matsujun opened #11547 "Could not load json file exported from Cocos Studio v2.2.1."
I'm using Cocos Studio v2.2.1 for mac.

The exported json file does not have "nodeTree".
So CSLoader could not get subJson here.
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/editor-support/cocostudio/ActionTimeline/CSLoader.cpp#L398

If I use csb file, it could load ui structure.

[2015-04-22 02:51] matsujun opened #11548 "sizeXPercentEnable is always false when CSLoader load .csb file exported from Cocos Studio 2.2.1"
Even if I use percent sizes, sizeXPercentEnable
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/editor-support/cocostudio/CSParseBinary_generated.h#L472
is always false.

I'm using Cocos Studio 2.2.1 for mac, and export type is .csb
If I export to .json, it looks correct, but .json is not available now.(Issue #11547)

[2015-04-22 02:59] miloyip commented on #11474
Please note that, RapidJSON just released [v1.0.0](https://github.com/miloyip/rapidjson/releases/tag/v1.0.0).
If there is issue with upgrading RapidJSON, feel free to discuss with me.

[2015-04-22 06:53] zilongshanren commented on #11511
@fusijie
Please check whether this issue is resolved or not in the upstream of cocos2d-x.
Thanks.

[2015-04-22 07:06] VisualSJ opened #11551 "Particle system bug"
auto particle2 = ParticleSystemQuad::create("dstalpha-dstcolor1.plist");
auto particle1 = ParticleSystemQuad::create("One-one1.plist");
and
auto particle1 = ParticleSystemQuad::create("One-one1.plist");
auto particle2 = ParticleSystemQuad::create("dstalpha-dstcolor1.plist");
Effect of different....

Resources:
https://github.com/VisualSJ/tools/tree/master/res

issue:
http://punchbox.info:3000/issu

[2015-04-22 09:04] fusijie commented on #11511
@andyque Thanks, it's fixed.

[2015-04-22 09:04] #11511 closed, assigned to zilongshanren

[2015-04-22 09:15] babcca commented on #11516
Maybe there is unsupported file format in test scene. Try to check
http://developer.android.com/guide/appendix/media-formats.html

[2015-04-22 14:28] hussain-sohaib opened #11555 "Particle system issue"
so I am adding particles to my scene, after adding I had to call a schedule function, but if call the schedule function, particle stops moving. Here is the code snippet  that I am using, with cocos2dx 3.5.

  _smokeParticle = ParticleSystemQuad::create("logoParticles.plist");

[code]

this->scheduleOnce(schedule_selector(GameStart::loadLand), .05f);

Could anyone please help me understand whats th

[2015-04-22 20:03] smaryus opened #11556 "FileUtilsApple::writeToFile always returns true"
For mac the function FileUtilsApple::writeToFile return true always.

In file CCFileUtils-apple.mm, on line 463 the return true should be removed and return the result from
[nsDict writeToFile:file atomically:YES];

[2015-04-23 01:58] #11530 closed, assigned to nobody

[2015-04-23 07:48] #11369 closed, assigned to zilongshanren

[2015-04-23 08:02] #10593 closed, assigned to natural-law

[2015-04-23 08:14] walzer opened #11561 "Add AnySDK framework, to replace but keep compatibility with plugin-x"
We had better to unify the plugin-x API, especially AnySDK framework is becoming more popular in China. And the meantime, US colleagues are developing SDKBox.

Could we merge these products and API, and offer it officially in cocos2d-x framework?

[2015-04-23 08:15] walzer opened #11562 "Add a preload() interface to AudioEngine"
AudioEngine should support `preload` feature, on all target platforms.

[2015-04-23 08:16] walzer opened #11563 "AudioEngine should support the rest of our target platforms"
So finally, `AudioEngine` can support all our target platforms.
My idea is that, after v3.7, we can refactor `SimpleAudioEngine` as a wrapper of `AudioEngine` for backward compatibility.

From users feedback, most users are very satisfied with `AudioEngine` with its performance and useful callbacks.

[2015-04-23 08:17] walzer opened #11564 "Wrap the vibration feature on all platforms."

[2015-04-23 08:21] walzer opened #11565 "Add Android Studio support"

[2015-04-23 08:23] walzer opened #11566 "Improve the performance of 2D particle system"

[2015-04-23 08:32] walzer opened #11567 "Support the latest features of tiled map editor"

[2015-04-23 08:35] walzer opened #11568 "Improve SpritePolygon"
- Currently, SpritePolygon's vertices are inner vertices, this is good for some use cases, but will noticeably cut into sprites if the vec count is low. To Fix: figure out a new way to generate outer vertices, so sprite look the same.
- Plan to merge with normal Sprite
  This will probably performs better in most cases. The idea is that if normal sprite is created and that file and rect exists in

[2015-04-23 08:40] walzer opened #11569 "Support .9.png format from android"
- support .9.png format, get its source code from android
- offer its API from `Scale9Sprite`.

[2015-04-23 09:04] walzer commented on #11551
Close this issue because "designed as this".
To avoid this problem, please use different texture names in different plist files for 2D particle.

[2015-04-23 09:04] #11551 closed, assigned to dabingnn

[2015-04-23 09:36] walzer commented on #11474
wow, thanks! I'm super amazed that author of rapidjson is watching our repo!
I just added this upgrade into our next version :)

[2015-04-23 10:13] natural-law commented on #11106
Related PR: https://github.com/cocos2d/cocos2d-x/pull/11560

[2015-04-23 11:52] stammen commented on #11563
We have scheduled the Windows 8.1/10 Universal App AudioEngine work for v3.7.

[2015-04-23 13:18] jack887889 commented on #9437
Is it supported now?

[2015-04-23 19:26] man2 commented on #9925
is there any updates on this? Can we change the inheritance of CCLabel from SpriteBatchNode to Sprite?

[2015-04-24 01:17] minggo commented on #11563
@stammen
You are appreciated if you can help to implement audio engine on these platforms.

[2015-04-24 01:57] AknEp opened #11576 "Label(ttf) collapse with getLetter and modify some feature(e.g. setOpacity) & setString."
I found this bug in my private project.

reproduction code is in below repository.

https://github.com/AknEp/GetLetterBugRep

the code is essentially...

[code]

makes below.

![ios simulator screen shot 2015 04 24 10 37 11](https://cloud.githubusercontent.com/assets/743292/7310844/182310d4-ea6e-11e4-943b-9b3fd0216b28.png)

then,

[code]

![ios simulator screen shot 2015 04 24 10 37 14](https://cl

[2015-04-24 02:17] stammen commented on #11563
@minggo We are starting the work next week.

[2015-04-24 02:27] minggo commented on #11563
Thanks @stammen .

[2015-04-24 03:00] walzer opened #11579 "Remove vs2012 support in v3"
We've removed vs2012 support in v4, issue #10418 and #10288.
According that Microsoft Open Tech is adding Windows 10 platform support into cocos2d-x v3.7, which requires vs2015, we can't maintain so much visual studio projects in different vs versions. I think it's the time to remove vs2012 in v3.

After all, vs2013 community edition is free.

Forum discussions on this topic:
- English: http://dis

[2015-04-24 03:04] walzer commented on #11555
It doesn't look like a bug, but a usage mistake, it depends on your context.
I would close this issue. Please ask the usage question in the forum :)

[2015-04-24 03:04] #11555 closed, assigned to nobody

[2015-04-24 03:08] walzer commented on #11339
Well, good question.
- Before, we have cocos2d-x, cocos2d-js, and merge them into cocos framework, which works together with cocos and code ide. Some colleagues idea is that, editors support is something outside the scope of cocos2d-x, so they removed lua-template-runtime because it works only for code ide
- We have already fixed this mistake in v3.6. Cocos2d-x should have solid editor support, in

[2015-04-24 03:08] #11339 closed, assigned to nobody

[2015-04-24 03:11] walzer commented on #11349
I would close this issue.

@pandamicro, for the requirement you mentioned, we're adding `SpritePolygon`. Open GLES has no API to read the texture data back, while maintaining the image data in CCImage will consume double size of memory, this is unacceptable.

[2015-04-24 03:13] walzer commented on #11372
`visible` and `touch enabled`是两个不同的属性，所以还是要分开的。@lbfamous 的解答是正确的。

[2015-04-24 03:13] #11372 closed, assigned to nobody

[2015-04-24 03:15] walzer commented on #11449
Move to unconfirmed. So sorry we have no enough man resources to reproduce your bug. One we can confirm this bug, it will be in the next version roadmap.

[2015-04-24 03:16] walzer commented on #11447
Duplicated with issue #11310

[2015-04-24 03:16] #11447 closed, assigned to nobody

[2015-04-24 03:17] walzer commented on #11444
Insufficient info to understand what you mean.

[2015-04-24 03:17] #11444 closed, assigned to nobody

[2015-04-24 03:19] walzer commented on #11424
Well, since we're removing wp8 support.  Does this bug still there in wp8.1?

[2015-04-24 03:21] walzer commented on #11423
Scheduled in v3.7.

So you're talking 2 issues:
1. a bug, a @RaoZiJian described
2. add lua binding to `ui::WebView`, and add lua test case for it.

[2015-04-24 03:22] #11395 closed, assigned to chengstory

[2015-04-24 03:28] walzer commented on #11391
Trigger xcopy each time we link "run" in visual studio seems very expensive, especially for programmers who just modify few lines of code in large game projects.

I guess you can fix it by modify the configuration in your vs project. There's no a common way out to satisfy both artists and programmers :)

[2015-04-24 03:28] #11391 closed, assigned to WenhaiLin

[2015-04-24 03:30] walzer commented on #11380
Designed as this. Super low priority to our users. Actually autotest is for our inner development.

[2015-04-24 03:30] #11380 closed, assigned to WenhaiLin

[2015-04-24 03:33] walzer commented on #11338
Please don't ask questions in the issue tracker. Use forum instead.

[2015-04-24 03:33] #11338 closed, assigned to nobody

[2015-04-24 03:34] walzer commented on #11312
Scheduled in v3.7

[2015-04-24 03:40] walzer commented on #11279
Solved.

[2015-04-24 03:40] #11279 closed, assigned to natural-law

[2015-04-24 03:42] walzer commented on #11262
:+1:

[2015-04-24 03:42] #11262 closed, assigned to nobody

[2015-04-24 03:43] walzer commented on #11251
Solved by issue's owner.

[2015-04-24 03:43] #11251 closed, assigned to super626

[2015-04-24 03:47] walzer commented on #11239
Well, I close it. From my experience, debug your game on real devices, instead of simulator **as early as you can**

[2015-04-24 03:47] #11239 closed, assigned to nobody

[2015-04-24 03:51] #11206 closed, assigned to samuele3hu

[2015-04-24 03:54] walzer commented on #11204
Well, many users are complaining this. The similar issue ##11339
We have already fixed this, added template/lua-runtime back in v3.6.

[2015-04-24 03:54] #11204 closed, assigned to nobody

[2015-04-24 04:04] walzer opened #11581 "Add JSB projects to jenkins-ci"
In v3.7, we merged JSB and is using separated project files on all platforms.
We need to add these JSB projects into jenkins-ci, and track the status in readme.md

[2015-04-24 04:07] walzer opened #11582 "Add web runtime (html5) project to jenkins-ci"
I remember that we still have no continuous integration for cocos2d-html5 yet.
To guarantee the quality, we need that, e.g., `glup` or something else.

[2015-04-24 04:10] pandamicro commented on #11582
It's not a problem of tools, it's a problem of continuous integration test, there is no compilation for web platform, the quality need to be guaranteed by unit tests. I also think unit tests are very important.

Though we can only plan it for long term, it's not a day or two work, it probably need several persons a month or even more

[2015-04-24 04:13] walzer commented on #11171
Sadly, the mechanism is designed as this. You can invoke `setTouchEnabled(false)` before `replaceScene()`

[2015-04-24 04:13] #11171 closed, assigned to nobody

[2015-04-24 05:21] 0xJimmyBeh opened #11584 "Anyway to get array bytes/base64 of image from CCSprite/CCImage/CCTexture2d?"
As title,
I need the array bytes/base64 of image to upload it to server, but i can't find any solution yet.
I tried CCImage.getData() in JSB but return null.

I'm using this custom Image Picker to get the image from photo album.
It successfully created CCSprite with the return texture.
https://github.com/cocos2d/cocos2d-x/pull/11344

After get the array bytes/base64 of image, i need to use it in J

[2015-04-24 05:43] fusijie commented on #11170
@minggo, as we talked, the pr #11288 is include my modification.

[2015-04-24 05:43] #11170 closed, assigned to fusijie

[2015-04-24 05:45] walzer commented on #11153
@andyque Please rebuild 3rd party libs using PIE enabled.
Scheduled in v3.7

[2015-04-24 05:49] walzer commented on #11127
Duplicated with #8321. Let's keep on tracking that issue, and close this one.

[2015-04-24 05:49] #11127 closed, assigned to WenhaiLin

[2015-04-24 05:57] walzer commented on #11349
# #11584

[2015-04-24 06:02] zilongshanren commented on #11584
@Zinitter
You might need to maintain a key-value map of texture file name and texture.
Every time you want to get the Image of Texture, you could use this map to query the texture file name and create CCImage with this name.

[2015-04-24 06:37] fusijie opened #11585 "Colorful label fadeout issue."
`version:` v3.5Final
`issue:` Setting different colors to each letter of label, then run the fadeout action, the colors disappear.
`result:`
![untitled](https://cloud.githubusercontent.com/assets/5085300/7313745/a135e8d0-ea8f-11e4-8366-bdac69240f39.gif)
`reproduce:` Add following code to HelloWorld.

[code]

[2015-04-24 07:20] walzer commented on #11584
Duplicated with #11349
Let's track that issue and close this one.

[2015-04-24 07:20] #11584 closed, assigned to nobody

[2015-04-24 07:29] walzer commented on #11098
I would like to deny this request, because:
1. we suspend v4 plan, and will focus on v3 in at least 6 months.
2. lua-template-default is for empty project without neither IDE nor studio support, while lua-template-runtime is for IDE.

[2015-04-24 07:29] #11098 closed, assigned to nobody

[2015-04-24 07:46] walzer commented on #11062
Maintaining multiple platforms is consuming lots of our energy on development, QA, docs and support.
So to be honest, considering the low percentage of market share that BlackBerry has today, I would deny your request of supporting BlackBerry. Unless BlackBerry could sponsor cocos2d-x a big funding, like Microsoft Windows Phone.

[2015-04-24 07:46] #11062 closed, assigned to nobody

[2015-04-24 07:49] walzer commented on #11064
Designed as this.

[2015-04-24 07:49] #11064 closed, assigned to nobody

[2015-04-24 07:58] #10676 closed, assigned to WenhaiLin

[2015-04-24 08:03] walzer commented on #11012
Could you please post:
- the code of how to reproduce this bug
- version of the engine
- target platform and its version?

[2015-04-24 08:05] #11203 closed, assigned to lvlonggame

[2015-04-24 08:06] walzer commented on #10925
Solved by issue owner.

[2015-04-24 08:06] #10925 closed, assigned to nobody

[2015-04-24 08:08] walzer commented on #10914
Deny. Use `FileUtils` as standard API of cocos. Otherwise CocosPlayClient can't be notified.

[2015-04-24 08:08] #10914 closed, assigned to nobody

[2015-04-24 08:12] walzer commented on #10906
Sounds reasonable. But I still have the fear to modify file names and folder name after v3.0. Too much developers complained the huge modification from v2 to v3.

So, I prefer to deny your request because it maybe better but will break the consistency.

[2015-04-24 08:12] #10906 closed, assigned to nobody

[2015-04-24 08:13] walzer commented on #10903
Any update on this?

[2015-04-24 08:18] walzer commented on #10883
engine version? target platform and its version?

[2015-04-24 08:19] walzer commented on #11073
engine version? target platform and its version?
You should work like this!

[2015-04-24 08:22] walzer commented on #10882
Related to:
#11362
#11357
#11351
#11309
#11272
#11256

[2015-04-24 08:23] walzer commented on #10885
Close this issue because we're not using src repo to update bin repo in v3.x

[2015-04-24 08:23] #10885 closed, assigned to zilongshanren

[2015-04-24 08:23] #10877 closed, assigned to nobody

[2015-04-24 08:25] walzer commented on #10874
Sorry I would deny your request.
This is a good feature, and I would like to implement it inside Code IDE, instead of write it in cocos2d-x.

[2015-04-24 08:25] #10874 closed, assigned to nobody

[2015-04-24 08:32] walzer commented on #10869
Good question. I had an argument with Ricardo. His opinion is that the quality of studio reader is very bad and it breaks the quality of cocos2d-x, so in v4, the studio related code has been removed. My idea is that, we had to improve it but not remove it. A game engine should have an official editor support in these days.

Since we suspend v4 plan and back to work on v3, the editor-support/cocos

[2015-04-24 08:32] #10869 closed, assigned to nobody

[2015-04-24 08:37] walzer commented on #10862
I'm not sure if we can fix it. `ui::WebView` just simply invoke `webkit.webview` from android sdk. If android sdk don't support this feature, then we have nothing to do.

[2015-04-24 08:43] walzer commented on #10858
Scheduled into current version.
Thanks for your feedback!

[2015-04-24 08:47] walzer commented on #10830
Thanks for feedback. But next time please add your engine version.
I would close this issue, and leave it to QA team to test carefully on current version.

[2015-04-24 08:47] #10830 closed, assigned to nobody

[2015-04-24 09:05] walzer commented on #10779
Well, I got the same bug report from another user yesterday.
I guess we can use "particle plist name + texture name" as the key, and it's human readable.

Schedule this in the next version v3.7

[2015-04-24 09:08] minggo commented on #10835
Yep.
It is a problem.

I think it is because construction becomes protected but forgot to add corresponding create method.

[2015-04-24 09:11] #10771 closed, assigned to nobody

[2015-04-24 09:15] #10750 closed, assigned to minggo

[2015-04-24 09:15] #10747 closed, assigned to zilongshanren

[2015-04-24 09:17] walzer commented on #10729
Our current render queue can't satisfy the requirement of 3D and 2D rendering very well.
@dabingnn is redesigning the render queue in v3.7, which will probably fix this bug.

[2015-04-24 09:17] #10729 closed, assigned to nobody

[2015-04-24 09:22] walzer commented on #10724
1. What's your iOS version on iPhone4?
2. You said **sometimes**, that means it bug can not 100% reproduced from your git repository, right?

[2015-04-24 09:23] walzer commented on #10704
Sorry for late response. What's your engine version?

[2015-04-24 09:25] walzer commented on #10674
Solved by issue owner.

[2015-04-24 09:25] #10674 closed, assigned to nobody

[2015-04-24 09:26] #10662 closed, assigned to nobody

[2015-04-24 09:26] #10661 closed, assigned to nobody

[2015-04-24 09:26] #10660 closed, assigned to nobody

[2015-04-24 09:26] #10658 closed, assigned to nobody

[2015-04-24 09:26] #10657 closed, assigned to nobody

[2015-04-24 09:26] #10656 closed, assigned to nobody

[2015-04-24 09:32] walzer commented on #10554
What's your engine version?

[2015-04-24 09:36] walzer commented on #10548
New `AudioEngine` is being implemented on multiple platforms. We're not using the cross platform code like `Sprite` based on OpenGLES. As the result, adding advanced features in `AudioEngine` is very expensive on engineer resources.

So my idea is that, keep `AudioEngine` as simple as it meet the majority of game development. For advance requirements, please use `fmod` instead.

[2015-04-24 09:36] #10548 closed, assigned to nobody

[2015-04-24 09:40] walzer commented on #10538
Code IDE v1.x still has some bugs like this one you described.
We're testing IDE v2.0 based on IntelliJ, which will bring better user experience to everyone. Due to IDE v2.0 is very close to its release, I have no plan to fix bugs in IDE v1.x because they are totally different technical resolutions, one is based on Eclipse and 2.0 is based on IntelliJ.

[2015-04-24 09:40] #10538 closed, assigned to nobody

[2015-04-24 09:43] walzer commented on #10522
Please use stable version instead of edge version on github.
Linux platform has low priority in cocos2d-x, so we normally test and fix bugs only before version release.

[2015-04-24 09:43] #10522 closed, assigned to nobody

[2015-04-24 09:44] kenanb commented on #11098
that was not a feature request, it is a bug :D the solution was to remove the the extra target source code from the folder, not adding IDE support to template.

[2015-04-24 09:47] walzer commented on #10517
Close issues inactive in more than 2 months.

[2015-04-24 09:47] #10517 closed, assigned to nobody

[2015-04-24 09:55] KyoChen commented on #11012
Code:
auto node = Node::create();
node->setCascadeOpacityEnabled(true);
node->setCascadeColorEnabled(true);
addChild(node);

auto progressTimer = ProgressTimer::create(sprite);
node->addChild(progressTimer);
node->setColor(Color3B::RED);

Version: v3.4
Platform: all

Reason:
As we know, cascade functions are based on parent-child connection. However, the internal sprite is not a child of ProgressT

[2015-04-24 09:58] walzer commented on #10482
Duplicated with #10498. Let's discuss there.

[2015-04-24 10:00] #10663 closed, assigned to nobody

[2015-04-24 10:01] minggo commented on #10518
There is not `didRotateFromInterfaceOrientation` in `RootViewController.mm`.
Now we use
- `supportedInterfaceOrientations` for old iOS6 and upper versions
- `shouldAutorotateToInterfaceOrientation` for lower iOS versions

[2015-04-24 11:27] zawasp commented on #10674
This is not really a solution. Even if it works for x86 builds, a script which enables these optimizations on ARM builds is required. Please reopen this - there are more and more x86 devices on the market.

[2015-04-24 13:04] yonomitt opened #11594 "drawDot does not work as a stencil on iOS - works on Mac with setAlphaThreshold"
This is using v3.5.

This is a two part issue but I believe they are related. If I use a `DrawNode` and call `drawDot` to be used as a stencil to a `ClippingNode` it does not work properly on iOS but does work properly on Mac IF `setAlphaThreshold(0.05f)` is used.

I would expect to be able to reproduce the circular cutout in both Mac and iOS without having to call `setAlphaThreshold(0.5f)`, as it

[2015-04-24 13:09] 0xJimmyBeh commented on #10862
The button in the website is working on mobile browser, Google Chrome.
It show "choose an action" after click the button.

I do found people reported some issues on the Android openFileChooser.

So can we check how the mobile Google Chrome make it work and implement in Cocos2d-x WebView?

Here are some examples, hope it help solving the problem.
http://androidexample.com/Open_File_Chooser_With_Cam

[2015-04-24 13:22] 0xJimmyBeh commented on #11584
@andyque

Are you suggesting me to maintain a key-value map of texture so i can recreate the CCImage?
Then does the CCImage.getData() can return the image array bytes?

I have tried modified the ImagePicker to return CCImage instead of texture and tested it with the JSB in Cocos2d-JS

[code]

The sprite can be created and show properly on Mac and iOS with the return CCImage.
The Android show a bla

[2015-04-24 13:28] 0xJimmyBeh commented on #11349
Does this can help on the glGetTexImage issue on OpenGLES?
https://github.com/apitrace/apitrace/issues/70

[2015-04-24 15:12] StudioHo commented on #11391
@walzer
Well, if the programmer just changes a few lines of code and build the project, I guess the PreLinkEvent will be called anyway @@
In my case I solved by creating a project called "Resources" that automatically copies only the modified files to $(OutDir)

[2015-04-24 15:26] ginobean commented on #10874
I am curious how you would implement in the Code IDE ?

The advantage of tracking it in CCNode.cpp is that you can just maintain a static integer counter that just tracks each time a Node is constructed or destructed.  Overhead should be negligible yet provide what I have found to be a fairly useful way to quickly ascertain if something has run amuck.

Here's how I modified the code in my local ve

[2015-04-24 17:04] jdedona commented on #10729
Okay sounds good. We've actually made a lot of patches here at TinyCo. We've got 2D UI rendering perfectly in 3D space, and 3D models rendering with perspective perfectly in our 2D UI.

[2015-04-25 01:50] yantian001 commented on #10724
1.My ios version is 7.1.2
2. yes ,maybe when i played many sounds at the same time (less than maxinstance) or the same sound played many time at the same time , i'm not sure which reason lead to this error .. btw ,the sound i said above isn't the stopped backgroud music .

[2015-04-25 05:58] enhhh opened #11596 "Text input in EditBox won't auto move left when EditorBox's height less than 50"
this is using cocos2d-x 3.5,platform is iOS.

Editbox's padding is too large, if editbox's height is small than 50,input text in editbox won't auto move to left when length large than editbox's width.

I fix this by change `CC_EDIT_BOX_PADDING = 5;` to `CC_EDIT_BOX_PADDING = 1;` in `UIEditBoxImpl-ios.mm`

[2015-04-25 17:34] idrise commented on #9768
Hi Andy, where is this threshold value ? What is it called ?

[2015-04-25 17:42] idrise commented on #9768
MOVE_INCH was in the scrollview defined in extensions. There appears to be no threshold in the scrollview defined in UI

[2015-04-26 07:02] 0xJimmyBeh commented on #11349
@walzer

How about declare a global cache variable to enable/disable the image data caching in CCImage?

The cache implementation can apply to all CCImage or by specific when creating CCImage.
- For who need all CCImage to be cached and accessing the image data, they can enable the global cache variable.
- For who need certain CCImage to be cached, they just pass true to the cache variable when cr

[2015-04-26 07:20] perminovVS commented on #11349
@Zinitter can use VolatileTextureMgr( need enable CC_ENABLE_CACHE_TEXTURE_DATA), and add the desired data in it.

[2015-04-26 07:28] 0xJimmyBeh commented on #11349
@perminovVS
Thanks for your reply.

I have no idea how to use this VolatileTextureMgr, can you give some guide or example of the usage?

[2015-04-26 07:37] perminovVS commented on #11349
@Zinitter need VolatileTextureMgr::addImage for store it, and VolatileTextureMgr::findVolotileTexture for get VolatileTexture data.  VolatileTexture data have Image*. You need change permissions VolatileTextureMgr and VolatileTexture.

[2015-04-26 07:44] enhhh opened #11597 "UI::Widget::Clone() get error if widget has a sprite or scale9sprite"
`version:` cocos2d-x 3.2
`issue:` If `UI::Widget` and  derived class has a render image,`Sprite` or `Scale9Sprite`, if I clone widget will get an error after I call `SpriteFrameCache::getInstance()->removeUnusedSpriteFrames()` or `Director::getInstance()->purgeCachedData()`,TextureCache still has the textures of cloned,but `SpriteFrameCahe` had remove spriteFrames, while `clone()` called, cocos2dx

[2015-04-26 07:44] 0xJimmyBeh commented on #11349
Does the Image\* is a CCImage?
The problem is CCImage.getData() = null as CCImage is not caching image data.

Unless VolatileTextureMgr data hold the image array bytes.

[2015-04-26 07:49] perminovVS commented on #11349
@Zinitter you add CCImage by key Texture2D*. VolatileTextureMgr save you CCImage.
CCImage.getData() not null

[2015-04-26 08:31] 0xJimmyBeh commented on #11349
@perminovVS

I'm not very understand how to do that.

Can you have a look on this ImagePicker?
https://github.com/qiankanglai/ImagePicker

I'm using this to pick an image from device photo gallery.
By default, it return a texture2d which can create a CCSprite.
But the return texture don't have image array bytes.

So I have tried modify it to return CCImage, but the CCImage.getData() is null too.

[2015-04-26 08:40] perminovVS commented on #11349
@Zinitter Need correct Image, getData() not null
Change ImagePicker to return Image, and create texture from it Image, and call VolatileTextureMgr::addImage(texture, image)

[2015-04-26 11:01] Dredok commented on #8709
any news on this issue?
this is slowing my development a lot. Any hack for quickly use ui elements and camera movement together?

[2015-04-26 17:15] martianma commented on #11567
like imagelayer

[2015-04-27 02:16] #10835 closed, assigned to nobody

[2015-04-27 02:18] walzer commented on #10458
Which version of cocos2d-x are you using?
`LabelBMFont` is just a wrapper of `Label`, we will probably deprecate `LabelBMFont` in future version, e.g. v4.0.

Please, I strongly suggest you to use `Label` directly.

[2015-04-27 02:29] walzer commented on #10453
Could you please post a sample project, or a link to your github repository that, we can build->run->reproduce your bug easily? To be honest, I have no enough human resources to reproduce tons of bugs in this issue system.

Thanks for your help :+1:

[2015-04-27 02:29] insul opened #11603 "static void processResponse(HttpResponse* response, char* errorBuffer)"
when responseCode is not equal 200 (eg, 500), respones still setSucceed true.

if (retValue != 0)    ==>  if (retValue != 0 && responseCode == 200)
    {
        response->setSucceed(true);
    }
    else
    {
        response->setSucceed(false);
        response->setErrorBuffer(errorBuffer);
    }

[2015-04-27 02:36] walzer commented on #10451
Sorry for response lately.
There're insufficient infos to reproduce your bug.
- engine version?
- target platform? platform version?
- Could you post a screenshot of the "unexpected effect" here, or add a link to your github repo that we can clone->build->run->reproduce your bug?

[2015-04-27 02:51] walzer commented on #10415
Duplicated with #10530, let's discuss there.

[2015-04-27 02:51] #10415 closed, assigned to nobody

[2015-04-27 02:59] walzer commented on #10399
Sounds reasonable.  But I have no quick idea on how to implement this requirement.
Add to unplanned version roadmap.

[2015-04-27 03:02] walzer commented on #10390
I also have a Raspberry Pi. But considering the human resources, market share of Raspberry Pi and the task priorities, I had to say:
**Cocos2d-x have no plan to support Raspberry Pi in the near future.**

We can reopen and discuss this issue in 6 months later.

[2015-04-27 03:02] #10390 closed, assigned to nobody

[2015-04-27 03:03] walzer commented on #10386
Unconfirmed and un-reproduced bug.
I think it's not very hard to fix, so put in v3.8 roadmap.

[2015-04-27 03:15] walzer commented on #10384
Many developers, including us, are actually asking for this requirement.
The basic requirement is that, after add an image into the texture, I want to read its pixel data. So, we need the image file name.

@andyque is adding .9.png support in v3.7, he need this too. But @andyque worry about the memory consuming. We have a design in discussion in the last week.

[2015-04-27 03:17] walzer commented on #10382
:+1:
Schedule in v3.7

[2015-04-27 03:24] walzer commented on #10366
The mechanism of touch priority in v2.x is a big problem, and we have already refactor this in v3. You know it.

There's no plan to refactor the touch dispatching mechanism in v2.

[2015-04-27 03:24] #10366 closed, assigned to nobody

[2015-04-27 03:26] walzer commented on #10349
Please ask usage questions in the forum. Issue tracker here is only for bug report and new requests.

[2015-04-27 03:26] #10349 closed, assigned to nobody

[2015-04-27 03:39] walzer commented on #10342
Which android device and android version?
I remember that Samsung i9100 series has a bug in android v2.2 or v2.3. If more than 32 sound effects are put into its audio buffer, the game will crash immediately.

This is a bug in Samsung i9100's hardware driver layer, it suffers all game on all engines. The only way to avoid it, is to limit the sound effect numbers in your game. Please remember: no mo

[2015-04-27 03:39] #10342 closed, assigned to nobody

[2015-04-27 03:44] man2 commented on #9925
my latest update on this
![screen shot 2015-04-27 at 11 36 10 am](https://cloud.githubusercontent.com/assets/167375/7341330/bc188370-ecd2-11e4-9ae3-ca964c4443be.png)
Still  having problem on fonts offset, maybe if someone can help, I will share the code

[2015-04-27 03:44] walzer commented on #10323
Schedule in v3.7

[2015-04-27 03:45] walzer commented on #10322
Duplicate with #11349. Let's discuss on that issue.

[2015-04-27 03:45] #10322 closed, assigned to nobody

[2015-04-27 03:46] walzer commented on #10384
Duplicate with #11349

[2015-04-27 03:46] #10384 closed, assigned to nobody

[2015-04-27 03:55] walzer commented on #10316
Thanks for your feedback. Since v4.0-final is work, and we are taking lua-runtime back in v3.6, I think this issue has been resolved.

[2015-04-27 03:55] #10316 closed, assigned to dualface

[2015-04-27 03:58] walzer commented on #10314
Sounds reasonable.
1. Add warning info or return false after resource checking
2. Consider the `AudioEngine::reset` design.

@WenhaiLin

[2015-04-27 04:01] WenhaiLin opened #11605 "[v3.6-universal-win8.1-cpptests]Node: UI-->GUI Dynamic Create Test-->UISliderTest"
Program  is lagging so much when dragging the slider.

console log:
0x74A94DBD 处(位于 cpp-tests.Windows.exe 中)最可能的异常: Microsoft C++ 异常: IOException，位于内存位置 0x06F7E584 处。
0x74A94DBD 处(位于 cpp-tests.Windows.exe 中)最可能的异常: Microsoft C++ 异常: [rethrow]，位于内存位置 0x00000000 处。
...

[2015-04-27 04:03] walzer commented on #10312
+1

We do create new games with target "YourProduct iOS" and "YourProduct Mac".
Please consider to change it, @minggo

[2015-04-27 04:04] walzer commented on #10311
Fixed in v3.4.

[2015-04-27 04:04] #10311 closed, assigned to zilongshanren

[2015-04-27 05:39] walzer commented on #10240
Duplicated with #123

[2015-04-27 05:45] walzer commented on #10264
We have finished this in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src for v4.
Why is for v4 only? Because it will change the folder structure, remove some 3rd party libs source code in v3, and break the backward compatibility. I will not move this feature to v3, but left it to v4 only.

[2015-04-27 05:45] #10264 closed, assigned to nobody

[2015-04-27 05:48] walzer commented on #10217
@masterhou
1. Which version of cocos2d-x are you using?
2. Are you using `AudioEngine` or `SimpleAudioEngine`?
3. Which API you used for play audios? `SimpleAudioEngine::playEffect`?
4. Which iOS version is running on your ipad2?

[2015-04-27 06:00] walzer commented on #10217
Well, this is a bug report from 南京炉石。
1. cocos2d-x v3.5
2. use `AudioEngine::play2d`
3. iOS 8.2 & 8.3
4. iPad2

[2015-04-27 06:01] #10213 closed, assigned to zilongshanren

[2015-04-27 06:02] walzer commented on #10205
Well, it should print an error log + return false, instead of crash immediately.

[2015-04-27 06:03] walzer commented on #10201
Resolved.

[2015-04-27 06:03] #10201 closed, assigned to nobody

[2015-04-27 06:05] walzer commented on #10181
Ask question in the forum. The issue tracker is only for bug report and feature requests.
Thanks.

[2015-04-27 06:05] #10181 closed, assigned to nobody

[2015-04-27 06:05] minggo commented on #10312
Yep, i think we should modify the product name.
But we should use different names for iOS an Mac OS X to distinguish them.

How about `YourProduct-mobile` and `YourProduct-desktop`?

[2015-04-27 06:07] walzer commented on #10105
Any source code to reproduce the memory leak?

[2015-04-27 06:07] walzer commented on #10094
Please ask questions in the forum.

[2015-04-27 06:07] #10094 closed, assigned to nobody

[2015-04-27 06:13] walzer commented on #10082
Which class or parameter do you mean by "text"?

[2015-04-27 06:16] walzer commented on #10061
You can custom cocos2d-x to fit your requirement. Perhaps people in the forum could have some experiences on it.
I would deny this request in cocos2d-x main repository, because it's not a common requirement of game development.

[2015-04-27 06:16] #10061 closed, assigned to nobody

[2015-04-27 06:17] minggo commented on #11605
@stammen
Could you please fix this issue ASAP?
We planned to release v3.6 on Apr.29.

Thanks.

[2015-04-27 06:17] minggo commented on #11605
And please send pull request to v3.6 branch.

[2015-04-27 06:20] walzer commented on #10044
Disagree. It will be very expensive if CCLOG is thread safe, that means lots of lock and unlock, which is unnecessary.

[2015-04-27 06:24] walzer commented on #10041
@qiutaoleo Thanks for contribution. I already asked @minggo to merge your pull request as soon as possible.

[2015-04-27 06:49] stevetranby commented on #10082
cocos2d::ui::Text

[2015-04-27 06:58] WenhaiLin opened #11606 "[v3.6-universal-wp8.1-cpptests]Node: Clipping-->Scroll View Demo:Crash"
Device:Nokia Lumia 625
OS: Window Phone 8.1

[2015-04-27 07:00] minggo commented on #11606
@andyque
@stammen
Could you please take a look?

[2015-04-27 07:02] WenhaiLin opened #11607 "[v3.6-universal-wp8.1-cpptests]Node: Draw:Crash"
Device:Nokia Lumia 625
OS: Window Phone 8.1

[2015-04-27 07:09] walzer commented on #10031
This issue can't be reproduced, and inactive for already 3 months.

[2015-04-27 07:09] #10031 closed, assigned to zilongshanren

[2015-04-27 07:11] WenhaiLin commented on #11607
Console output:

D3D11: Removing Device.
线程 0xbd0 已退出，返回值为 0 (0x0)。
线程 0xdf8 已退出，返回值为 0 (0x0)。
reload all texture
Dirty Uniform and Attributes of GLProgramState
Dirty Uniform and Attributes of GLProgramState
Dirty Uniform and Attributes of GLProgramState
D3D11: Removing Device.
线程 0x7e8 已退出，返回值为 0 (0x0)。
线程 0x3c0 已退出，返回值为 0 (0x0)。
0x773835D7 处(位于 cpp-tests.WindowsPhone.exe 中)最可能的异常: Microsoft C++

[2015-04-27 07:12] #10025 closed, assigned to nobody

[2015-04-27 07:13] WenhaiLin commented on #11607
https://github.com/cocos2d/cocos2d-x/issues/11606 cause by the same reason.

[2015-04-27 07:42] walzer commented on #9965
This issue can't be reproduced, and is inactive for more than 3 months.

[2015-04-27 07:42] #9965 closed, assigned to nobody

[2015-04-27 07:43] walzer commented on #9964
Designed as this. We have stopped supporting CCTextFieldTTF.
Please use `ui::TextField` instead.

[2015-04-27 07:43] #9964 closed, assigned to nobody

[2015-04-27 07:44] walzer commented on #9961
Inactive issue for more than 3 months.

[2015-04-27 07:44] #9961 closed, assigned to nobody

[2015-04-27 07:53] walzer commented on #9925
I asked @andyque to implement UI batching in v3.6, but the problem is that it will break backward compatibility.

[2015-04-27 08:01] walzer commented on #10001
Using palm swipes to take a screenshot is really a cool feature for samsung phones.
But I had to regard it as low priority. Set it as unplanned unless we have enough human resources.

[2015-04-27 08:04] walzer commented on #9912
In my idea, cocos2d-x should focus on "mobile first".
Desktop platforms are majorly the development platform and debug platform.
To prevent scope spreading, I wouldn't add new features for desktop platforms only, unless we have more human resources.

[2015-04-27 08:09] walzer commented on #9911
This is a known bug on Android 5.0.x. Many users are complaining on this.
The `SimpleAudioEngine` is lagged in `SoundPool.preload` android API.

So for users, please switch to `AudioEngine` instead of `SimpleAudioEngine`. `AudioEngine` use pure c++ implementation, can avoid this problem.
For us, my idea is to wrap `AudioEngine` to `SimpleAudioEngine` interfaces. This is planned in v3.7.

[2015-04-27 08:22] walzer commented on #9910
My idea is to wrap `AudioEngine` into `SimpleAudioEngine` in v3.8. The pros are:
- Many developers like our new `AudioEngine`, which is much more powerful, especially the callback function.
- `AudioEngine` already avoid the bug of Android 5.0.x `SoundPool.preload()`, which will cause `SimpleAudioEngine::playEffect()`. Many developers in China are moving to `AudioEngine` because they want to avoid

[2015-04-27 08:22] #9910 closed, assigned to nobody

[2015-04-27 08:23] WenhaiLin commented on #10251
@samuele3hu @minggo  Designed as this.`stop` be called after the action has finished.

[2015-04-27 08:26] walzer commented on #9894
Close this issue because Microsoft OpenTech will remove wp8 support since v3.7. Only wp8.1 and win10 will be supported.

[2015-04-27 08:26] #9894 closed, assigned to nobody

[2015-04-27 08:28] walzer commented on #9925
Refer to #9905 , the similar request.

[2015-04-27 08:29] walzer commented on #9905
Duplicated with #9925 , let's discus there.

[2015-04-27 08:29] #9905 closed, assigned to nobody

[2015-04-27 08:31] walzer commented on #9907
`CCModel` is not an official class in cocos2d-x. Please use `fbx-converter` tool to convert fbx to c3b format.

[2015-04-27 08:31] #9907 closed, assigned to nobody

[2015-04-27 08:50] walzer commented on #10743
BTW, please unify CCTextField, CCEditBox and UITextField.

[2015-04-27 08:51] walzer commented on #9880
Sorry, we have no enough resource to support cocos2d-x v2, which is already 2 year old.
Please use v3 instead.

[2015-04-27 08:51] #9880 closed, assigned to nobody

[2015-04-27 08:51] WenhaiLin opened #11612 "[v3.6-win32-luatests]Sprite3DTest-->CubeMap & Shybox Test:Missing Shybox"
![qq 20150427164903](https://cloud.githubusercontent.com/assets/5234286/7344378/82fcd26e-ecfd-11e4-8b03-24226cdf7a32.png)

console output:

[code]

[2015-04-27 08:54] walzer commented on #9878
Good idea! We should add the `remove` feature in `UserDefault`.
Added in v3.8.

[2015-04-27 08:55] #9877 closed, assigned to nobody

[2015-04-27 08:56] #9869 closed, assigned to nobody

[2015-04-27 08:56] #9867 closed, assigned to dabingnn

[2015-04-27 09:02] walzer commented on #9834
I think we should unity `CCTextField`, `CCEditBox` and `UITextField` to only one.

[2015-04-27 09:07] #9691 closed, assigned to WenhaiLin

[2015-04-27 09:09] #9670 closed, assigned to nobody

[2015-04-27 09:28] walzer commented on #9653
@Ksamp , please make sure your anchor point is in the centre.
From my intuition, this is caused by wrong usage, but not a bug in engine.

[2015-04-27 09:28] #9653 closed, assigned to nobody

[2015-04-27 09:29] walzer commented on #9629
Please ask questions in the forum, not in this issue tracker.

[2015-04-27 09:29] #9629 closed, assigned to dabingnn

[2015-04-27 09:31] walzer commented on #9627
Good test case! But I think we should keep this design because gamers perhaps really want that. They are very clear that they have touched 2 button at the same time, so the response is also 2 buttons.

What the engine act, is what you input, right?

[2015-04-27 09:31] #9627 closed, assigned to nobody

[2015-04-27 09:33] walzer commented on #9621
Do it in v3.8. Marked as highlight.

[2015-04-27 09:35] walzer commented on #9598
This is not a bug from engine, but the lack of unipay sdk.
Ask unipay sdk to support landscape for games instead.

[2015-04-27 09:35] #9598 closed, assigned to nobody

[2015-04-27 09:41] walzer commented on #9581
Cocos2d-x team don't have mobile phones that supports Hindi, so even if we implement this feature, we can't test it.

Please try to implement this feature on your phone, test it, then send a pull request.

Thanks in advance!

[2015-04-27 09:43] walzer commented on #9577
Which input class were you use? CCTextField, or CCEditBox or UIEditBox? I think there're different implementations.
BTW: which engine version?

[2015-04-27 09:45] walzer commented on #9571
Close it because:
- inactive for more than 3 months
- we're removing vs2012 support in v3.7.

[2015-04-27 09:45] #9571 closed, assigned to nobody

[2015-04-27 09:46] walzer commented on #9564
Already fixed in #10179

[2015-04-27 09:46] #9564 closed, assigned to nobody

[2015-04-27 09:46] #9560 closed, assigned to nobody

[2015-04-27 09:51] walzer commented on #9559
Close this issue because:
- inactive for +3 months
- insufficient info：engine version, target platform and platform version.
  We have refactored `LabelTTF` using the new `Label` in v3.0. So I can't recognize if your bug is caused by the old `LabelTTF` or new one unless we have an engine version here.

If the bug still existing in v3.4 or later, please report another issue here. You're welcome @Ky

[2015-04-27 09:51] #9559 closed, assigned to WenhaiLin

[2015-04-27 09:52] walzer commented on #9550
Close this issue because:
- insufficient info. What do you define "not working", is it a crash, or jitter, or in the wrong position?
- inactive issue more +3 months.

[2015-04-27 09:52] #9550 closed, assigned to chengstory

[2015-04-27 09:53] walzer commented on #9542
@ruslanmaley, thank your all the same.

[2015-04-27 09:53] #9542 closed, assigned to zilongshanren

[2015-04-27 09:57] walzer commented on #9767
@maltium Thanks for your feedback. @super626 just reproduced this bug, and I put this issue into v3.7 roadmap.

[2015-04-27 10:00] #9529 closed, assigned to nobody

[2015-04-27 10:01] #9527 closed, assigned to nobody

[2015-04-27 10:02] walzer commented on #9518
Duplicated with #11563

[2015-04-27 10:02] #9518 closed, assigned to WenhaiLin

[2015-04-27 10:06] walzer commented on #9508
Sorry, insufficient resources to support Cocos Studio v1.6.
Please use cocos v2.2 instead.

[2015-04-27 10:06] #9508 closed, assigned to chengstory

[2015-04-27 10:07] #9502 closed, assigned to nobody

[2015-04-27 10:09] man2 commented on #9925
I have successfully batch LabelBMFont, currently it breaks at space and new lines. Any help will be appreciated here

I think performance is much more important than backward compatibility

[2015-04-27 10:10] #9487 closed, assigned to samuele3hu

[2015-04-27 10:12] walzer commented on #9480
Sorry, we have insufficient resources to support v2 any more.
If v3.4 or later version still have this bug, please open another issue to discuss it.
Thanks for your feedback.

[2015-04-27 10:12] #9480 closed, assigned to nobody

[2015-04-27 10:13] walzer commented on #9472
Low priority to invest resources on Linux as a target platform.

[2015-04-27 10:13] #9472 closed, assigned to nobody

[2015-04-27 10:14] #9470 closed, assigned to nobody

[2015-04-27 10:14] #9469 closed, assigned to nobody

[2015-04-27 10:14] #9466 closed, assigned to nobody

[2015-04-27 10:15] walzer commented on #9450
No more support to Studio v1.6.
Studio team please keep the compatibility between v1.x and v2.x as possible as you can @chengstory

[2015-04-27 10:15] #9450 closed, assigned to chengstory

[2015-04-27 10:23] walzer commented on #9430
Which deprecated API are still being used in the templates?

[2015-04-27 10:29] #9389 closed, assigned to chengstory

[2015-04-27 10:33] walzer commented on #9382
I think we should update the current selected index if items amount changed.

[2015-04-27 10:35] walzer commented on #9373
Sorry, insufficient resources to support studio v1.x anymore.

[2015-04-27 10:35] #9373 closed, assigned to nobody

[2015-04-27 10:39] walzer commented on #9356
Sounds reasonable: only visible on scrolling.

[2015-04-27 10:40] walzer commented on #9420
I think 孙锐 hack the engine to have this feature ready in our 3D editor.
We had better to have a solid implementation.

[2015-04-27 10:41] #9322 closed, assigned to nobody

[2015-04-27 10:41] walzer commented on #9322
Officially support in both v2 and v3.

[2015-04-27 10:53] walzer commented on #9328
Design as this because image_01 is the parent of image_02.

[2015-04-27 10:53] #9328 closed, assigned to nobody

[2015-04-27 10:55] walzer commented on #9329
Add to unplanned roadmap because we're redesigning the render queue in v3.7

[2015-04-27 10:56] walzer commented on #9331
Please return false instead of crash.

[2015-04-27 10:59] walzer commented on #9343
Work scheduled in other products, `AnySDK` in China and `SDKBox` in US.

[2015-04-27 10:59] #9343 closed, assigned to nobody

[2015-04-27 11:00] walzer commented on #9347
Close this issue because: inactive in more than 3 months.

[2015-04-27 11:00] #9347 closed, assigned to zilongshanren

[2015-04-27 11:04] walzer commented on #9319
Currently we're using Python 2.7.5.
What do you mean by `python2`?

[2015-04-27 11:05] walzer commented on #9313
We've rewritten IDE from eclipse to IntelliJ. And the code hint mechanism is totally different.

[2015-04-27 11:05] #9313 closed, assigned to nobody

[2015-04-27 11:12] #9277 closed, assigned to nobody

[2015-04-27 11:12] #9272 closed, assigned to nobody

[2015-04-27 11:14] walzer commented on #9262
I think this bug has been fixed, since our jenkins-ci show everything is ok now.

[2015-04-27 11:14] #9262 closed, assigned to nobody

[2015-04-27 12:09] slackmoehrle commented on #10312
These names are perfect.

[2015-04-27 12:09] kosl90 commented on #9319
现在很多系统会同时使用python3和python2两个大版本，以ubuntu为例，在/usr/bin/下会安装python3.4或者python2.7之类的可执行文件，但是处于兼容性和易用性等问题的考虑，还会提供一些软连接指向这些真正的可执行程序，例如python、python2、python3。

![python-linux](https://cloud.githubusercontent.com/assets/1311476/7347225/e860bfa6-ed18-11e4-95b4-e92df7160e3a.png)

当调用python这个命令的时候可能是python2也可能是python3，如果将python2作为默认版本时python则是指向python2.7这个可执行文件，反之则指向python3.4这个可执行文件。

因为python2和python3存在不兼容的问

[2015-04-27 14:43] samuele3hu commented on #9323
Both lua_cocos2dx_manual and lua_cocos2dx_auto are REAL lua-binding code. Because not all  the functions can be bound automatically, so we add the manual lua-binding code to as extension.

[2015-04-27 15:01] #9192 closed, assigned to nobody

[2015-04-27 15:53] walzer commented on #9140
Duplicate with #11153 , let's track that issue instead.

[2015-04-27 15:53] #9140 closed, assigned to nobody

[2015-04-27 19:16] Sheado commented on #10458
Thanks @walzer,
I'm using v3.2. I didn't realize that LabelBMFont is getting replaced with Label. I'll switch over to that and hopefully that will resolve the issue for me.

[2015-04-27 19:28] Sheado commented on #9912
Hi @walzer,

In the US and Europe, Steam is extremely popular.
You can see current stats here: http://store.steampowered.com/stats/
Last I checked, they are at 125m users and difference between Steam and mobile is that every person on Steam is a gamer and almost all of them are paying customers - many of whom are happy to still purchase premium games instead of playing F2P games.

If cocos2d-x doe

[2015-04-27 19:43] ElliotMebane opened #11618 "PhysicsBody does not respect Node position"
When a physicsBody is applied to a Node, the position of the Node is disregarded. All physics objects cluster at one coordinate then expand outwards as collisions are resolved. Issue appears in v.3.4 and v.3.5

Please see this discussion:
http://discuss.cocos2d-x.org/t/parent-child-physics-body-position-in-cocos-3-4/20090

[2015-04-28 02:07] WenhaiLin commented on #11612
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11619

[2015-04-28 02:07] #11612 closed, assigned to samuele3hu

[2015-04-28 02:52] stammen commented on #11606
@WenhaiLin  @minggo I am not able to reproduce this issue on my phones or in the emulator. I do not have a Lumia 625. Would you please send me more information.

[2015-04-28 02:53] stammen commented on #11607
@WenhaiLin @minggo I am not able to reproduce this issue on my phones or in the emulator. I do not have a Lumia 625. Would you please send me more information.

[2015-04-28 02:58] minggo commented on #11607
@WenhaiLin
Could you please test on emulator too?
And it is better to test on another device.

@stammen
May be it is device related.
Is Lumia 625 a low end device?

[2015-04-28 03:08] minggo commented on #11607
@stammen
Did you use v3.6 branch to test?

[2015-04-28 03:09] stammen commented on #11607
Yes. I am working on the v3.6 branch. The Lumia 625 is a low end device w/512 MB of ram.

[2015-04-28 03:11] minggo commented on #11607
Thanks for the information.

[2015-04-28 03:16] WenhaiLin commented on #11607
@stammen I can't reproduce this issue in the emulator too.

[2015-04-28 03:22] minggo commented on #11607
@stammen
Could you find a low end device to test too?

[2015-04-28 03:45] WenhaiLin commented on #11607
@stammen I can reproduce this issue on Nokia Lumia 625 and NOKIA RM-984. I will test again after finish software update for device.

[2015-04-28 03:57] minggo commented on #11605
Fixed in #11622.

@WenhaiLin
Could you please check it?

[2015-04-28 05:49] WenhaiLin commented on #11605
It's OK now.

[2015-04-28 05:49] #11605 closed, assigned to nobody

[2015-04-28 07:46] zilongshanren opened #11628 "[Bug v3.6 Renderer Test] Culling effect is wrong"
When moving the scene out of the screen, the children of scene would be culled unexpectely.

I mean the children are not out of the boundary of screen, but the culling takes effect.

[2015-04-28 08:16] walzer opened #11629 "Remove platform related code from coccos/2d"
Microsoft guys added too much platform related code into cocos/2d/ folder, including:
- cocos/2d/libcocos2d_8_1
- cocos/2d/winrt_8.1_props
- cocos/2d/winrt_props
- cocos/2d/wp_8.1_props
  I find there are only project files for visual studio. Could we move these to cocos/build folder?

[2015-04-28 08:31] zilongshanren commented on #8511
This bug is also in v3.6 final . i9100 can't play local video.

[2015-04-28 09:57] jminht commented on #9323
@samuele3hu OK.Thank u.

[2015-04-28 10:12] WenhaiLin commented on #11607
@stammen This issue still exist after finish software update for device.

IDE: VS community 2013
OS:WIN 8.1

target device:NOKIA Lumia 830
device OS:8.10.14234.375
Console output:

[code]

![20150428181210](https://cloud.githubusercontent.com/assets/5234286/7367454/2441ae36-edd2-11e4-855a-3fab1d35ae10.png)

[2015-04-28 13:34] stammen commented on #11607
I have located a phone with the same Adreno 305 GPU as the 625 and 830. I will have access to it in a few hours. I have also notified the Angle team to see if this is an issue with the gl_PointSize support they added to Angle. This drawing test uses gl_PointSize in the shader.

[2015-04-28 13:43] stammen commented on #11607
This might be the issue at line 168 of  CCDrawingPrimitives.cpp

[code]

[2015-04-28 13:47] stammen commented on #11607
There are 3 FIXME's in CCDrawingPrimitives.cpp that could be the problem. Lines 168, 279 and 313

[2015-04-28 13:48] FryDay commented on #9912
Good morning @walzer,

Why even support desktop platforms at all then? It's a bit misleading to have OSX, Linux, and Windows options and then treat them as 2nd class citizens, isn't it? Your comments make me REALLY nervous to use Cocos2d-x for a commercial desktop game...

[2015-04-28 15:43] dariodepaolis commented on #9356
Or maybe you can set it like an option scrollbars: yes/no/auto

[2015-04-28 17:30] kdudnyk commented on #10688
It`s seems that issue is due to :
const int Label::DistanceFieldFontSize = 50;
being setup in CCLabel.cpp
while creating FontAtlas for Label with efffect in :
CCFontAtlasCache.cpp :
    if (useDistanceField)
    {
        fontSize = Label::DistanceFieldFontSize / contentScaleFactor;
    }
the font size is being downscaled by 2 ( 50%) ...
I didnt find any sens in DistanceFieldFontSize  being set to

[2015-04-28 18:36] hamburml commented on #11565
Does this also mean that gradle-support could be added?

[2015-04-28 19:30] stammen commented on #11607
I found a phone that reproduces the crash. I will investigate.

[2015-04-28 21:38] milos1290 opened #11641 "MVP Projection on a Sprite"
When applying custom shader that uses MVP projection, Sprite wont be shown in correct location.

[2015-04-29 02:02] minggo commented on #11607
Thanks.

[2015-04-29 02:41] zilongshanren commented on #8137
@darkdukey
I totally agree with you. API should be clean and concise.
And it might be good for developers adding new button state. But I don't find any use case in my mind.

The worst things are that every minor change might break the back compatibility.

Thoughts?

[2015-04-29 02:55] walzer commented on #11367
Any update on this?

[2015-04-29 02:55] walzer commented on #8511
Any update?

[2015-04-29 03:26] king44 opened #11646 "9138"

[2015-04-29 03:27] #11646 closed, assigned to nobody

[2015-04-29 03:41] zilongshanren commented on #11367
@walzer  I have writen a document and send PR to programing guide but it need to be refined.
You could click the link above to jump to it.

[2015-04-29 07:14] ghost opened #11649 "Scrolling Background in Portrait Mode from up to down"
I am new in  cocos2d-x c++ and i want to scroll my background in portrait mode from up to down. Currentally I am using cocos2d-x-3.4 c++ on Eclipse .
Please provide me some idea or source code for solving this problem

[2015-04-29 10:34] WenhaiLin commented on #11516
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11651

[2015-04-29 10:34] WenhaiLin commented on #8511
Fixed can't play video on Android 2.3.x: https://github.com/cocos2d/cocos2d-x/pull/11651

[2015-04-29 10:41] minggo commented on #11367
What's the status?
When can it be finished?

[2015-04-29 10:44] minggo commented on #11516
Duplicated with #8511.

[2015-04-29 10:44] #11516 closed, assigned to nobody

[2015-04-29 10:44] #8511 closed, assigned to WenhaiLin

[2015-04-29 14:25] JOOpdenhoevel commented on #9912
And mouse and keyboard events only happen on a PC, so why do you want to stop controller support getting into cocos? (Maybe there will be controllers that you can use with your tablet in the future?)

[2015-04-29 17:40] stammen commented on #11607
Fixed in pull request https://github.com/cocos2d/cocos2d-x/pull/11652

[2015-04-29 17:40] stammen commented on #11606
Fixed in pull request https://github.com/cocos2d/cocos2d-x/pull/11652

[2015-04-29 21:54] mariusz102102 commented on #10554
cocos2d-x 3.5

[2015-04-29 22:01] mariusz102102 opened #11654 "DrawNode::drawSolidPoly draw incorrect geometry"
Hi,

Below two drawings (poly, and solid poly) should have the same shape.

[code]

Regards,
Mariusz

[2015-04-30 01:54] #11606 closed, assigned to nobody

[2015-04-30 01:55] #11607 closed, assigned to nobody

[2015-04-30 02:38] zilongshanren commented on #11367
@minggo  I have refined the document, please check it here  https://github.com/andyque/programmers-guide/blob/add-gui-auto-batch/drafts/14.md

[2015-04-30 02:43] WenhaiLin commented on #10063
We have fixed this issue. https://github.com/cocos2d/cocos2d-x/pull/10730 and https://github.com/cocos2d/cocos2d-x/pull/11413

[2015-04-30 05:52] #11367 closed, assigned to zilongshanren

[2015-04-30 07:19] WenhaiLin commented on #10773
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11659

[2015-04-30 07:32] natural-law commented on #10312
I have rename the target name of xcode project in templates.
"iOS" is renamed to "-mobile"
"Mac" is renamed to "-desktop".
The related PR : https://github.com/cocos2d/cocos2d-x/pull/11660

[2015-04-30 08:20] minggo commented on #11565
@Michael-Hamburger
Yep, if it is needed.

[2015-04-30 08:27] minggo opened #11662 "Add support to load a file that include non Enlish words in path"
It is a requirement from cocos studio.
There is already a pull request for it #11496, but only implement on windows.

[2015-04-30 08:29] #10041 closed, assigned to nobody

[2015-04-30 08:37] #11106 closed, assigned to minggo

[2015-04-30 08:56] yixiaoqingyuz opened #11663 "How to generate pre-built libraries for ios and android?"
I tryed to use the gen-prebuilt and cmake,but the results is not i want.
Is ther have any Documents about  generate pre-built libraries?
I use cocos2dx 3.5.

[2015-04-30 08:59] dariodepaolis commented on #10860
In meantime I rewrite the code of the original panzoomlayer for cocos2dx v2.x

https://github.com/DarioDP/cocos2d-x-panzoomlayer5

Maybe it will be useful for someone who is searching like me or waiting for this request

[2015-04-30 09:08] dariodepaolis opened #11664 "UI Text and setFontSize doesn't update in realtime"
I'm trying to make the Text inside a scrollview zoomable with pinching.

I've a problem on updating, let me explain:

[code]

textWidget is a UI Text, I've a problem when using setFontSize in a listener OnTouchMoved, it updates the font size only when I release the touch not in realtime.
Instead using setScale it updates in realtime, but obviously with a pixelation effect.

Is there any way to for

[2015-04-30 09:11] dariodepaolis opened #11665 "Custom Easing in Actions"
I think this is a request because I haven't found this feature reading through docs, wiki and guide.

Is there any way to implement some custom easing actions?

I mean something like this:
http://timotheegroleau.com/Flash/experiments/easing_function_generator.htm5

[2015-04-30 09:12] dariodepaolis opened #11666 "Listview / Scrollview bounciness adjusting"
I think this is a request.

Is it possible to change the way the bounce works in listview?
The scroll is fluid but the bounce it's not like other native app, it's too elastic with small retention.
It's possible to customize in some way?

[2015-04-30 09:19] enhhh opened #11667 "UI::Scrollview intercept event while direction is NONE"
`issue`: UI::ScrollView still intercept moved event while I set direction to `Direction::NONE`, the widget in scrollview will be disable (because set hilight false in intercept function) while moving,it's strange in this case.

[2015-04-30 16:02] walzer commented on #10773
@WenhaiLin , once your pull request is merged, please close this issue.

[2015-04-30 16:04] jphw opened #11671 "Label::createWithSystemFont() on Android does not use system fonts at all"
When you call Label::createWithSystemFont() on Android - it ends up calling getBitmapFromJavaShadowStroke() from CCDevice-Android.cpp, which just looks for a font file in the package assets folder with FileUtils::fullPathForFilename() and if font file isn't there (and it obviously is not, since user wants to use a system font) - it will fail and use some default system font and thats it...

At the

[2015-04-30 16:10] d3QUone opened #11672 "test setResponseCallback doesn't work"
`HttpResponse setResponseCallback` doesn't work cause the callback function was deprecated. any ideas how to bring it to work now?

[2015-04-30 22:30] #11663 closed, assigned to nobody

[2015-05-01 02:21] walzer commented on #9117
Fixed in #10909 and #10200

[2015-05-01 02:21] #9117 closed, assigned to nobody

[2015-05-01 02:22] #9103 closed, assigned to nobody

[2015-05-01 02:24] #9094 closed, assigned to nobody

[2015-05-01 02:27] walzer commented on #9081
Duplicated with #9138.
Use NDK r10c can probably fix this problem.

[2015-05-01 02:27] #9081 closed, assigned to nobody

[2015-05-01 02:27] #9067 closed, assigned to chengstory

[2015-05-01 02:30] #9058 closed, assigned to nobody

[2015-05-01 02:51] walzer commented on #9004
@andyque Any update?

[2015-05-01 02:53] #9002 closed, assigned to nobody

[2015-05-01 02:55] #8999 closed, assigned to nobody

[2015-05-01 02:58] walzer commented on #8989
Sorry, we haven't support emscripten since v3.0.

[2015-05-01 02:58] #8989 closed, assigned to nobody

[2015-05-01 02:59] #8978 closed, assigned to zilongshanren

[2015-05-01 03:00] walzer commented on #8971
I guess it should be a usage mistake. Please ask questions in the forum.

[2015-05-01 03:00] #8971 closed, assigned to nobody

[2015-05-01 03:00] walzer commented on #8952
How?

[2015-05-01 03:03] #8911 closed, assigned to nobody

[2015-05-01 03:05] #8910 closed, assigned to zilongshanren

[2015-05-01 03:06] walzer commented on #8906
I put it in the unplanned roadmap. We had to focus on the rendering system, 3D, and editors firstly. Audio has lower priority.
If you need this feature in a hurry, please consider `fmod`.

[2015-05-01 03:07] walzer commented on #8896
No screenshot, no engine version, no target platform, no platform version, no texture packer version, no reproduce steps.

[2015-05-01 03:07] #8896 closed, assigned to dabingnn

[2015-05-01 03:08] tankorsmash commented on #8906
Thanks for the update. [Here's fmod](http://www.fmod.org/)

[2015-05-01 03:10] walzer commented on #8841
1. Could you paste some source code about how to reproduce this bug?
2. You said: all previous version of cocos2d-x. But what's your current version?

[2015-05-01 03:11] #8810 closed, assigned to WenhaiLin

[2015-05-01 03:12] #8803 closed, assigned to dabingnn

[2015-05-01 03:25] #8766 closed, assigned to nobody

[2015-05-01 03:26] #8730 closed, assigned to zilongshanren

[2015-05-01 03:26] #8721 closed, assigned to zilongshanren

[2015-05-01 03:35] #8540 closed, assigned to nobody

[2015-05-01 03:41] #8516 closed, assigned to nobody

[2015-05-01 03:41] #8515 closed, assigned to chengstory

[2015-05-01 03:42] #8513 closed, assigned to chengstory

[2015-05-01 03:42] #8506 closed, assigned to nobody

[2015-05-01 03:42] #8505 closed, assigned to chengstory

[2015-05-01 03:42] #8503 closed, assigned to nobody

[2015-05-01 03:42] #8502 closed, assigned to nobody

[2015-05-01 04:12] zilongshanren commented on #9004
@walzer  ui::Text is a Node + cocos2d::Label + some extra attributes. But cocos2d::Label is just a node.
That's why ui::Text consumes more memory.

I think I can't optimize much in current architecture unless we change to Component instead of Inheritent

[2015-05-01 06:12] kdudnyk commented on #11672
From the code, you can can use

[code]

which is not deprecated, for example the usage of this function with lambda would be :

[code]

network::HttpClient::getInstance()->sendImmediate(request);
request->release();

Work pretty well for me on v3.6
What version are you actually using for your tests?

[2015-05-01 08:05] man2 commented on #11145
is this done in 3.6?

[2015-05-01 08:51] d3QUone commented on #11672
I use version 3.4. Thank you, your lambda works great! :+1:

[2015-05-01 10:01] zilongshanren commented on #11145
@man2  The performance of UI doesn't improve much in v3.6.   We planed to use manual batch to improve the performance, but it fails in the end.
Currently only QuardCommand and TriangleCommand could be batched.  UI elements with different Z order can't be batched.

But we could improve the performance of ui::ListView by reusing the cell. This could be done in v3.7.

[2015-05-01 12:26] milos1290 commented on #11665
Looking at the tests here is the example how to use any of the easing actions

<code>
 sprite->runAction(EaseSineInOut::create(MoveBy::create(2, Vec2(200,0))));
</code>

I havent tried it, but it looks like it will work.

[2015-05-01 15:57] man2 opened #11674 "ClippingNode inside ScrollView doesn't get clipped"
![screen shot 2015-05-01 at 11 49 22 pm](https://cloud.githubusercontent.com/assets/167375/7432759/84b7f83c-f05d-11e4-8c12-4044de05399a.png)

The rectangle with blue line is the ScrollView, inside the ScrollView is a LabelBMFont and a ClippingNode with circle stencil.

From the image attached , the label gets clipped, while the cliipingNode does not.

I'm using cocos2d-x 3.5

Is it a bug?

[2015-05-02 04:07] man2 commented on #11145
ok, sad to hear, because it's a really important issues i'm having right now. hope to see this feature really soon

[2015-05-02 07:56] man2 commented on #11674
if I add the clippingNode first then label to ScrollView, here is the result

![screen shot 2015-05-02 at 12 01 58 pm](https://cloud.githubusercontent.com/assets/167375/7440381/af7c0168-f0e3-11e4-9dc4-eb56ecc90f1d.png)

result : the text is clipped inside the ClippingNode, and they are both not get clipped by ScrollView

[2015-05-02 14:44] fqamic commented on #10704
@walzer
Too happy, in the latest version --3.6 official version has solved this problem.
![qq20150502-1 2x](https://cloud.githubusercontent.com/assets/7044155/7441493/c75e6f4e-f11c-11e4-87be-ae1ce708d956.png)

[2015-05-02 14:45] fqamic commented on #10704
@walzer
Thank you very much！

[2015-05-03 12:20] Andy671 opened #11675 "DrawNode on android doesn't show properly"

[2015-05-03 12:31] #11675 closed, assigned to nobody

[2015-05-03 12:39] rrrfff commented on #11662
please

[2015-05-04 06:21] YadneshCitrus commented on #11618
Still facing the same issue....moving back to 3.3

[2015-05-04 06:44] pandamicro commented on #9577
Both CCTextField / CCEditBox can reproduce the issue
At the time I report this bug, it have been tested with Cocos2d-x v3.3

[2015-05-04 06:58] AdaGuo760000 opened #11678 "A problem while installing Cocos 2d-x 3.4 install is success but... problem in create project."
My friend has a problem while installing cocos2dx 3.4  install is success but...  problem in create project.  I send to you image what cmd screen.  How to do for solving this problem?
![park](https://cloud.githubusercontent.com/assets/10951329/7449684/fd961cea-f26d-11e4-99f0-5c28d38336c2.jpg)

[2015-05-04 07:02] zilongshanren commented on #11678
@natural-law  please take a look at this issue.

[2015-05-04 08:13] WenhaiLin commented on #11662
Done : https://github.com/cocos2d/cocos2d-x/pull/11679

[2015-05-04 09:07] dariodepaolis commented on #11665
No, I mean a custom easing, not the normal EaseIn/Out, EaseExponential, EaseSine, etc
Like a cubic bezier
http://cubic-bezier.com/

[2015-05-04 09:49] dariodepaolis commented on #11672
And without lambda?

[2015-05-04 14:58] kdudnyk commented on #11672
I may be wrong, but it's seems that using lambda is how it`s going to be in next versions ...
you can always store your callback as members of ccHttpRequestCallback type in your class

[code]

its actually very simple and works pretty well, you should give it a try

[2015-05-05 01:30] #11662 closed, assigned to WenhaiLin

[2015-05-05 01:43] WenhaiLin commented on #11576
Fixed crash at:https://github.com/cocos2d/cocos2d-x/pull/11659
Fixed collapse at : https://github.com/cocos2d/cocos2d-x/pull/11683 and https://github.com/cocos2d/cocos2d-x/pull/11728

[2015-05-05 02:05] #8221 closed, assigned to nobody

[2015-05-05 02:06] #8224 closed, assigned to nobody

[2015-05-05 02:07] #8226 closed, assigned to nobody

[2015-05-05 02:22] zilongshanren commented on #11664
@DarioDP
ui::Text uses cocos2d::Label inside, many operations happen to cocos2d::Label will be delayed to next frame. It is designed for improving rendering performance.  We can't update the label when any attributes of the label is changed.

If you do want to update the label in realtime, you can do this:

[code]

[2015-05-05 02:23] zilongshanren commented on #11674
@man2 This should considered to be a bug.
I will check it later.

[2015-05-05 02:26] zilongshanren commented on #11596
Thanks, @enhhh
I will check the issue and does the following values

[code]

are better defaults?

Is it necessary to provide a API to customize them?

[2015-05-05 02:27] fusijie commented on #11674
Maybe the engine do not support nested clipping. How to fix it?

[2015-05-05 02:28] #10773 closed, assigned to WenhaiLin

[2015-05-05 02:33] zilongshanren commented on #11674
@fusijie
I should change the implementation of ui::Layout, the ClippingNode does support nested clipping, but ui::Layout use plain OpenGL to implement the Clipping feature.

[2015-05-05 04:00] natural-law commented on #11678
@AdaGuo760000
The reason is the path you are using has non-ASCII characters.
`cocos` command is not support that now. Thanks for your feedback.

[2015-05-05 04:00] minggo commented on #11581
Why move to v3.8?

[2015-05-05 04:02] AdaGuo760000 commented on #11678
@natural-law Thank you!

[2015-05-05 04:02] #11678 closed, assigned to nobody

[2015-05-05 04:37] enhhh commented on #11596
I don't think it's necessary to provide a API to customize them.it just has effect on iOS. I set it to 0, editbox still work well. it looks has no effect on padding.

[2015-05-05 05:57] #8240 closed, assigned to dabingnn

[2015-05-05 05:58] minggo commented on #8238
Please use new audio instead.

[2015-05-05 05:58] #8238 closed, assigned to nobody

[2015-05-05 06:00] #8236 closed, assigned to nobody

[2015-05-05 06:01] minggo commented on #8235
Will use new audio internal in SimpleAudioEngine.

[2015-05-05 06:01] #8235 closed, assigned to nobody

[2015-05-05 06:01] #8234 closed, assigned to nobody

[2015-05-05 06:03] #8233 closed, assigned to nobody

[2015-05-05 06:06] minggo commented on #8232
In v3.x, there is not InputStream used.

[2015-05-05 06:06] #8232 closed, assigned to nobody

[2015-05-05 06:08] minggo commented on #8231
Now the codes checks the internal vector before using it.

[2015-05-05 06:08] #8231 closed, assigned to nobody

[2015-05-05 06:09] #8230 closed, assigned to nobody

[2015-05-05 06:16] #8146 closed, assigned to dabingnn

[2015-05-05 06:18] minggo commented on #8241
In v3.x, can not invoke OpenGL ES codes directly.
This issue may only exist on v2.x.

[2015-05-05 06:18] #8241 closed, assigned to nobody

[2015-05-05 06:19] #8243 closed, assigned to nobody

[2015-05-05 06:19] #8244 closed, assigned to nobody

[2015-05-05 06:22] #8246 closed, assigned to dabingnn

[2015-05-05 06:23] minggo commented on #8247
Dictionary is deprecated.

[2015-05-05 06:23] #8247 closed, assigned to nobody

[2015-05-05 06:24] minggo commented on #8248
LabelTTF is deprecated.

[2015-05-05 06:24] #8248 closed, assigned to nobody

[2015-05-05 06:24] #8249 closed, assigned to nobody

[2015-05-05 06:26] #8250 closed, assigned to nobody

[2015-05-05 06:28] #8253 closed, assigned to nobody

[2015-05-05 06:31] #8255 closed, assigned to nobody

[2015-05-05 06:34] #8257 closed, assigned to nobody

[2015-05-05 06:36] #8259 closed, assigned to nobody

[2015-05-05 06:39] minggo commented on #8260
v2.x will only fix critical bugs.
WP8 is maintained by developers in v2.x.

[2015-05-05 06:39] #8260 closed, assigned to nobody

[2015-05-05 06:47] #8263 closed, assigned to nobody

[2015-05-05 06:47] #8268 closed, assigned to nobody

[2015-05-05 09:58] dariodepaolis commented on #11664
Tried but with no luck.
If I use setFontSize it doesn't update even if calling updateContent on virtualrenderer.
If I use setScale it works, but with bitmap scaling.

[2015-05-05 10:04] dariodepaolis commented on #11672
Ok maybe I'm not good, but I don't understand.

I have

[code]

And then declared my function onPostCompleted.

Now, do I need to declare onPostCompleted as a ccHttpRequestCallback, or simply create the typedef?

[2015-05-05 10:10] zilongshanren commented on #11664
@WenhaiLin  Please check this?

[2015-05-05 10:31] WenhaiLin commented on #11374
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11696

[2015-05-05 10:31] #11576 closed, assigned to WenhaiLin

[2015-05-05 10:33] walzer opened #11697 "new AudioEngine get lag on stopAllEffects()"
A bug report from 骏梦：
- engine version: v2.x with the AudioEngine patch by @WenhaiLin
- target platform: android v5.0, any devices
- description: if `AudioEngine::stopAllEffects()` is invoked frequently, it will significantly show down the game.

[2015-05-05 11:06] dariodepaolis opened #11698 "setDesignResolution and TTF"
TTF rescale to fit all the resolutions, but... the problem is that they SCALE... not resize like TTF do...
So I have the pixelation effect like a bitmap font.

I have tried both with ui Text create and with Label createWithTTF, they do the same.

Is there another way to achieve this?
How do you make your TTF rescale with resolutions?

I think that using setDesignResolution all TTF fontsize needs t

[2015-05-05 12:54] doomsdayer opened #11699 "Problem occurs when set outline to Chinese character"
see code, when I set outline to some Chinese characters, the outline doesn't match with the chacacters exactly:

![image](https://cloud.githubusercontent.com/assets/3272795/7472765/63713c3e-f368-11e4-9846-74c5c32a4506.png)

the code is:

[code]

and here is [the font used](http://pan.baidu.com/s/1eQpisgy)

[2015-05-05 13:27] dariodepaolis commented on #11698
An user on cocos2dx forum gave me a workaround:

[code]

Anyway I think you should improve the setDesignResolution
Thank you.

[2015-05-05 16:03] emfox commented on #9608
any work around for this?

[2015-05-05 16:04] kdudnyk commented on #11672
ccHttpRequestCallback is a

[code]

( for details about std::function you can reffer to http://www.cplusplus.com/reference/functional/function/ );
Shortly - std::function is not a class method, it`s a standalone function

As example you can use it like :

[code]

[2015-05-06 01:50] walzer commented on #11697
The same bug was reported at http://www.cocoachina.com/bbs/read.php?tid-293752-fpage-7.html one more time.

[2015-05-06 01:53] #11374 closed, assigned to WenhaiLin

[2015-05-06 02:01] #11153 closed, assigned to zilongshanren

[2015-05-06 02:02] walzer commented on #11641
Could you add some more details? Simple code and a screenshot would be very helpful, unless we don't know how to reproduce this bug.

[2015-05-06 02:03] walzer commented on #11649
Please ask questions in the forum, instead of in this issue tracker :)
http://discuss.cocos2d-x.org

[2015-05-06 02:03] #11649 closed, assigned to nobody

[2015-05-06 02:05] #8272 closed, assigned to nobody

[2015-05-06 02:07] #8274 closed, assigned to nobody

[2015-05-06 02:07] walzer commented on #11665
Currently cocos2d-x haven't supported this feature yet. I know this is an important feature for advanced users.

[2015-05-06 02:08] #8275 closed, assigned to nobody

[2015-05-06 02:09] #8276 closed, assigned to nobody

[2015-05-06 02:09] walzer commented on #11666
I suggest that you look into the source code of ListView and ScrollView, hack the code in it. This request is different from different game designers, unless we have the custom curve.
This requirement is similar to #11665, so I close this issue, and let's track on #11665

[2015-05-06 02:09] #11666 closed, assigned to nobody

[2015-05-06 02:12] minggo commented on #8278
It is fixed.

[2015-05-06 02:12] #8278 closed, assigned to nobody

[2015-05-06 02:14] #8280 closed, assigned to nobody

[2015-05-06 02:23] walzer commented on #11697
And it probably caused by http://grokbase.com/t/gg/android-ndk/127kvtkj45/opensles-deadlock

[2015-05-06 02:38] walzer commented on #10312
Well done.

[2015-05-06 02:38] #10312 closed, assigned to natural-law

[2015-05-06 06:13] #8282 closed, assigned to nobody

[2015-05-06 06:13] #8283 closed, assigned to nobody

[2015-05-06 06:15] #8285 closed, assigned to nobody

[2015-05-06 06:17] #8286 closed, assigned to nobody

[2015-05-06 06:30] #8288 closed, assigned to nobody

[2015-05-06 06:31] #8290 closed, assigned to nobody

[2015-05-06 06:37] minggo commented on #8291
box2d version only includes 3 digits.
What's 2.3.0.7?
Current version is 2.3.0.

[2015-05-06 06:37] #8291 closed, assigned to nobody

[2015-05-06 06:38] #8292 closed, assigned to nobody

[2015-05-06 06:38] #8293 closed, assigned to nobody

[2015-05-06 06:40] #8294 closed, assigned to nobody

[2015-05-06 06:41] #8296 closed, assigned to nobody

[2015-05-06 06:42] walzer commented on #11699
Hi @doomsdayer , could you please give more infos to us:
- Which version of cocos2d-x are you using? v3.6?
- Which platform you meet this bug, iOS or Android? and which platform version?

I'm checking if system fonts will have this bug, or only `zhuanyuan.ttf` has this bug.

[2015-05-06 06:43] #8298 closed, assigned to nobody

[2015-05-06 06:44] #8299 closed, assigned to dabingnn

[2015-05-06 06:46] minggo commented on #8302
Now element is removed from `_loadedFileNames`.

[2015-05-06 06:46] #8302 closed, assigned to nobody

[2015-05-06 06:55] #8309 closed, assigned to nobody

[2015-05-06 06:57] #8313 closed, assigned to nobody

[2015-05-06 06:57] #8315 closed, assigned to nobody

[2015-05-06 07:01] WenhaiLin commented on #11699
This issue is associated with the specific font file and platform independent.

[2015-05-06 07:04] honghui opened #11716 "Crash when setEffectsVolume"
cocos2dx version: cocos2d-js 3.3
Product Version: 5.7.0.1410
Hardware: SM-N9002;Android 4.3,level 18

The crash stack is:
java.util.ConcurrentModificationException: empty message
java.util.HashMap$HashIterator.nextEntry(HashMap.java:806)
java.util.HashMap$EntryIterator.next(HashMap.java:843)
java.util.HashMap$EntryIterator.next(HashMap.java:841)
org.cocos2dx.lib.Cocos2dxSound.setEffectsVolume(Unkn

[2015-05-06 07:07] d3QUone opened #11717 "Migrate project from Mac to Ubuntu"
I'm developing a game on C++ using Cocos2d-x v3.5. I use latest Xcode and have no problems with make & run. But my friend who wishes help me can't run my project on his Ubuntu. We guess something is wrong with Cocos2d make-files (we've found 2 named `CMakeLists.txt` ). Are there any ideas how to fix our makefiles and run project on Ubuntu?

Screenshot with compile errors:

![cvtyx0pmjgu](https://c

[2015-05-06 07:52] dotsquid opened #11718 "'cocos console' does not terminate the build process if 'custom build step' fails"
'cocos console' has a very useful ability to invoke a 'custom build step' script.
But the problem is that in case of the script failure the build process continues. I believe it must stop, because 'custom build step' is not some random unimportant actions, it's a part of the whole build process. E.g., in my project I use the custom step to automatically encrypt config files in release build (in de

[2015-05-06 07:55] doomsdayer commented on #11699
hi @walzer, this is only happened on v3.6, only this version have the font outline feature.
I met this bug on windows 8 x64, when I test it on cpp-empty-test.

[2015-05-06 08:11] dariodepaolis commented on #11665
Ok thank you for interesting.

[2015-05-06 08:12] dariodepaolis commented on #11666
Ok thank you.

[2015-05-06 08:15] iPruch commented on #8305
I faced this issue with Cocos2D-X 3.4 and I needed to change all my labelTTF (or ui::Text) to labelBMFont (or ui::TextBMFont) in order for it to disappear completely.

**The problem:**
It never happened to me on iOS (simulator or real device), it hardly occurred on Android (but it did, in most cases when exiting pressing Home and returning to the app) and it almost always showed up in Windows Phon

[2015-05-06 08:25] man2 opened #11719 "ClippingNode jaggies"
I try to make clippingNode with circle stencil, but the result is the edge is not smooth
Tried with DrawNode.drawDot and a Sprite as stencil, same result

I also tried with many threshold numbers, still the same, could be worse.. this image is using 0.05

Is there anyway to make the edge smoother? Or is it bug?

I'm using cocos2d-x 3.5

![screen shot 2015-05-06 at 4 24 38 pm](https://cloud.githubu

[2015-05-06 08:26] #8317 closed, assigned to nobody

[2015-05-06 08:27] #8318 closed, assigned to nobody

[2015-05-06 08:28] #8319 closed, assigned to zilongshanren

[2015-05-06 08:32] #8322 closed, assigned to nobody

[2015-05-06 08:32] #8323 closed, assigned to nobody

[2015-05-06 08:34] minggo commented on #8324
There is not PhysicsSystem now.

[2015-05-06 08:34] #8324 closed, assigned to nobody

[2015-05-06 08:40] minggo commented on #8325
It is fixed.

[2015-05-06 08:40] #8325 closed, assigned to nobody

[2015-05-06 09:06] iPruch commented on #10321
@KrissMu This is strange, because I use BMFonts with PNG and FNT files as well with Spanish (áéíóú and ñ) and it works perfectly. I checked my FNT file and the ID of 'é' is 233. The only difference I can spot is the `unicode=0` at the beginning, where in my FNT file it is `unicode=""`

**Edit:** I just remembered that, for whatever reason (probably the one you noted), the `Label::createWithBMFont(

[2015-05-06 09:19] WenhaiLin commented on #11699
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11720 and https://github.com/cocos2d/cocos2d-x/pull/11782

[2015-05-06 10:28] #8327 closed, assigned to nobody

[2015-05-06 10:31] minggo commented on #8330
It will break compatibility.

[2015-05-06 10:31] #8330 closed, assigned to nobody

[2015-05-06 11:21] KrissMu commented on #10321
Well, I updated my fnt file and my code to what you suggest but it still does not work for me.

My string is "Démarrer", and the problem comes in isLegalUTF8, the "case 3" is called because the trailingBytesForUTF8 table matches "3" with the 233 code.

If I replace this "3" value with "0", then it works. So the issue is with this "extra bytes to read" ...

So if I don't want to randomly change thi

[2015-05-06 13:36] iPruch commented on #10321
@KrissMu Then I have no clue of why it is working for me. Which version of Cocos2D-X are you using? And editor/IDE? Operating System? It may be a codification incompatibility between the file where you have the string "Démarrer" (I don't know if you have it hard-coded inside a C++ class or stored in a localization file) and cocos.

In my case, I am using Cocos2D-X 3.4, Mac OS X Yosemite and Xcode,

[2015-05-06 14:55] KrissMu commented on #10321
I'm using 3.4 on Windows 7, Visual C++, but, again, the problem is in the code:

[code]

Contains

[code]

This is used to map the character code to a misterious number. For '233' (é), the mapping is "2", then the function isLegalUTF8 uses the value 2+1 = 3, and considers the value 233 as outside of valid range:

[code]

I don't want to waste your time, as I have a kind of work-around for this, bu

[2015-05-06 15:15] mirth commented on #8936
I have custom C++ bindings.
I'm trying to Build Runtime in Cocos Code IDE and getting the following.
Is it related error?

[2015-05-06 15:26] walzer commented on #11698
The solution looks pretty brilliant!
Currently `setDesignResolution` is based on glViewPort, this will not make things complicated. Actually I'm thinking about wether I should refactor design resolution mechanism, not for the TTF labels, but for 3D mode, or even 3D + 2D mixed mode.

[2015-05-06 15:26] #11698 closed, assigned to nobody

[2015-05-06 15:28] walzer commented on #11672
Hey guys, please discuss the usage in the forum, not in issue tracker here.
After v3.0, all callbacks are designed as c++11 lambda functions, most of `CCCallback` or similar objects are deprecated.

[2015-05-06 15:28] #11672 closed, assigned to nobody

[2015-05-06 15:52] walzer commented on #11541
There're lots of push service provider on Android.
AnySDK already has this feature and wrapper.

[2015-05-06 15:52] #11541 closed, assigned to nobody

[2015-05-06 15:56] walzer commented on #11699
@doomsdayer Could you please check the code in #11720 , can this code fix your bug?

[2015-05-06 16:06] walzer commented on #11717
Please discuss in the cocos2d-x forum: http://discuss.cocos2d-x.org

The error you met is `Player.h:12:1: error: 'USING_NS_CC' does not name a type`
I think you haven't include `platform/CCPlatformMacros.h` where `USING_NS_CC` is defined. An alternative way is to write `using namespace cocos2d` directly in your Player.h

Well, my suggestion is that: never `using namespace` in c++ header files, it

[2015-05-06 16:06] #11717 closed, assigned to nobody

[2015-05-06 16:26] dariodepaolis commented on #9102
I'm trying to resolve a similar issue on windows, cmake and clion.
I've written something here: http://discuss.cocos2d-x.org/t/trying-to-make-clion-working-with-cmake-and-cocos2dx/21405

[2015-05-06 16:27] jimrange commented on #11240
Please consider adding tests for the setters and getters of the physics constraints.
This issue exists in the PhysicsJointDistance, PhysicsJointLimit, PhysicsJointSpring, PhysicsJointGroove and might exist in other joints too.
Maybe the same pattern that causes the issue exists in other joints?

[2015-05-06 16:44] jimrange commented on #11240
PhysicsTest.cpp Version 3.6

Line 697:
    PhysicsJointDistance\* joint = PhysicsJointDistance::construct(sp1->getPhysicsBody(), sp2->getPhysicsBody(), Point::ZERO, Point::ZERO);
    getPhysicsWorld()->addJoint(joint);
    **joint->setDistance(100); // This will cause a crash.**

Line 710:
    PhysicsJointLimit\* joint = PhysicsJointLimit::construct(sp1->getPhysicsBody(), sp2->getPhysicsBody(), Po

[2015-05-06 16:55] iPruch commented on #10321
@KrissMu I can't tell you now as I'm not at work, but tomorrow I'll take a look to the call stack and report back.

[2015-05-06 17:33] volzhs opened #11723 "[2dx 3.6] SpriteReader causes wrong image output with webp texture."
latest cocos studio 2.2.5 and cocos2d-x 3.6 has an option for setting `blendFunc`.

[code]

this causes wrong image rendering when using webp texture.

[2015-05-06 19:45] sulewicz commented on #10319
I have the same issue on iOS 8.3 and Cocos2DX 3.4.

[2015-05-07 00:37] thinkong commented on #11240
for this not to crash you could call initJoints manually.. but that only makes it not crash.. don't have the functionality i think

[2015-05-07 01:15] jie-meng opened #11725 "Lua api references not complete"

[2015-05-07 01:16] #11725 closed, assigned to nobody

[2015-05-07 01:47] jie-meng opened #11726 "Lua api references not complete"
I found lua api references in path: cocos2d-x-3.6\cocos\scripting\lua-bindings\auto\api.

All the Action.lua, Node.lua, ... give well documented lua api interfaces.

I use these references to build my auto-completion tips.

But while I was coding, I found some api lost.

e.g.
- I couldn't find function getTileGIDAt in TMXLayer.lua, but it actually has this function, I can use it.
- I couldn't find

[2015-05-07 02:01] walzer commented on #11726
Some lua API are redesigned in `cocos/scripting/lua-bindings/manual`, to have better user experience for script coders. The same as JavaScript API.
Close this issue because design as this.

[2015-05-07 02:01] #11726 closed, assigned to nobody

[2015-05-07 02:03] #8331 closed, assigned to nobody

[2015-05-07 02:05] #8333 closed, assigned to nobody

[2015-05-07 02:08] minggo commented on #8337
But it is better not invoke `destroyInstance` to destroy singleton object.

[2015-05-07 02:10] minggo commented on #8338
It is fixed.

[2015-05-07 02:10] #8338 closed, assigned to nobody

[2015-05-07 02:10] minggo commented on #8339
LabelTTF is deprecated.
Use Label instead.

[2015-05-07 02:10] #8339 closed, assigned to nobody

[2015-05-07 02:11] minggo commented on #8340
`cocos2d::String` is deprecated.

[2015-05-07 02:11] #8340 closed, assigned to nobody

[2015-05-07 02:15] #8342 closed, assigned to nobody

[2015-05-07 02:23] #8347 closed, assigned to nobody

[2015-05-07 02:25] #8350 closed, assigned to nobody

[2015-05-07 02:33] #8351 closed, assigned to nobody

[2015-05-07 02:33] #8352 closed, assigned to nobody

[2015-05-07 02:36] minggo commented on #8353
Now Node will stop all actions in destructor.

[2015-05-07 02:36] #8353 closed, assigned to nobody

[2015-05-07 02:38] #8356 closed, assigned to nobody

[2015-05-07 02:43] #8358 closed, assigned to nobody

[2015-05-07 02:43] #8359 closed, assigned to nobody

[2015-05-07 02:46] #8362 closed, assigned to nobody

[2015-05-07 02:53] #8365 closed, assigned to nobody

[2015-05-07 02:53] #8367 closed, assigned to nobody

[2015-05-07 03:01] #8370 closed, assigned to nobody

[2015-05-07 03:08] #8374 closed, assigned to nobody

[2015-05-07 03:18] #8377 closed, assigned to nobody

[2015-05-07 03:19] #8379 closed, assigned to nobody

[2015-05-07 03:22] minggo commented on #8380
It is fixed.

[2015-05-07 03:22] #8380 closed, assigned to nobody

[2015-05-07 03:23] #8381 closed, assigned to nobody

[2015-05-07 03:23] #8383 closed, assigned to nobody

[2015-05-07 03:27] #8385 closed, assigned to nobody

[2015-05-07 03:35] #8386 closed, assigned to nobody

[2015-05-07 03:36] minggo commented on #8387
Duplicated with #10530.

[2015-05-07 03:36] #8387 closed, assigned to nobody

[2015-05-07 03:36] #8388 closed, assigned to nobody

[2015-05-07 03:38] minggo commented on #8389
Now it returns false instead of abort.

[2015-05-07 03:38] #8389 closed, assigned to nobody

[2015-05-07 03:42] #8390 closed, assigned to nobody

[2015-05-07 03:43] #8392 closed, assigned to nobody

[2015-05-07 03:44] #8393 closed, assigned to nobody

[2015-05-07 03:48] #8398 closed, assigned to nobody

[2015-05-07 03:51] #8401 closed, assigned to nobody

[2015-05-07 03:52] #8402 closed, assigned to nobody

[2015-05-07 03:54] minggo commented on #8404
Duplicated with #8395.

[2015-05-07 03:54] #8404 closed, assigned to nobody

[2015-05-07 03:54] #8405 closed, assigned to nobody

[2015-05-07 03:57] #8406 closed, assigned to nobody

[2015-05-07 04:00] #8408 closed, assigned to nobody

[2015-05-07 04:02] #8409 closed, assigned to nobody

[2015-05-07 04:07] Flame-haze opened #11730 "Cocostudio 2.2.x frame event bug"
the frame event callback function will be called every frame after the event frame.

[2015-05-07 05:45] #8415 closed, assigned to nobody

[2015-05-07 05:45] #8416 closed, assigned to nobody

[2015-05-07 05:46] #8418 closed, assigned to nobody

[2015-05-07 05:46] #8419 closed, assigned to nobody

[2015-05-07 05:46] #8420 closed, assigned to nobody

[2015-05-07 05:48] #8421 closed, assigned to nobody

[2015-05-07 05:48] #8422 closed, assigned to nobody

[2015-05-07 05:49] #8423 closed, assigned to nobody

[2015-05-07 05:49] #8424 closed, assigned to nobody

[2015-05-07 05:49] #8425 closed, assigned to nobody

[2015-05-07 05:50] #8426 closed, assigned to nobody

[2015-05-07 05:50] #8428 closed, assigned to nobody

[2015-05-07 05:53] #8429 closed, assigned to nobody

[2015-05-07 06:12] #8434 closed, assigned to nobody

[2015-05-07 06:15] minggo commented on #8436
It is fixed.

[2015-05-07 06:15] #8436 closed, assigned to nobody

[2015-05-07 06:16] #8437 closed, assigned to nobody

[2015-05-07 06:16] #8439 closed, assigned to nobody

[2015-05-07 06:16] #8440 closed, assigned to nobody

[2015-05-07 06:19] #8443 closed, assigned to nobody

[2015-05-07 06:19] #8444 closed, assigned to nobody

[2015-05-07 06:21] #8447 closed, assigned to nobody

[2015-05-07 06:21] #8448 closed, assigned to nobody

[2015-05-07 06:22] #8449 closed, assigned to nobody

[2015-05-07 06:25] #8454 closed, assigned to nobody

[2015-05-07 06:25] #8455 closed, assigned to nobody

[2015-05-07 06:25] #8456 closed, assigned to nobody

[2015-05-07 06:26] #8457 closed, assigned to nobody

[2015-05-07 06:27] #8458 closed, assigned to nobody

[2015-05-07 06:27] WenhaiLin commented on #10321
@KrissMu `isLegalUTF8(const UTF8 *source, int length)`:The value of `*source` is 195 for `é`.I test on mac 10.10.3 and window 8.1.

[2015-05-07 06:27] #8460 closed, assigned to nobody

[2015-05-07 06:28] minggo commented on #8461
It is added.

[2015-05-07 06:28] #8461 closed, assigned to nobody

[2015-05-07 06:29] #8463 closed, assigned to nobody

[2015-05-07 06:29] #8465 closed, assigned to nobody

[2015-05-07 06:30] #8467 closed, assigned to nobody

[2015-05-07 06:30] #8469 closed, assigned to nobody

[2015-05-07 06:31] WenhaiLin commented on #10321
I can't reproduced this issue.
![ii](https://cloud.githubusercontent.com/assets/5234286/7509625/bf3f83aa-f4c5-11e4-99a2-73d3a950dd42.png)

[2015-05-07 06:31] #8471 closed, assigned to nobody

[2015-05-07 06:33] minggo commented on #8472
utf8 characters are supported in v3.7.

[2015-05-07 06:33] #8472 closed, assigned to nobody

[2015-05-07 06:35] #8486 closed, assigned to nobody

[2015-05-07 07:20] AknEp commented on #11576
great!!!
thank you for your quick response :+1:

[2015-05-07 07:33] MrCapone opened #11732 "EditBox InputFlag::PASSWORD iOS issue"
On iOS when i set editBox->setInputFlag(EditBox::InputFlag::PASSWORD); i can't cancel this. Even if i set another InputFlag, EditBox will hide all input.

[2015-05-07 07:50] hamburml opened #11733 "Save Long via UserDefault"
There is no setLongForKey or getLongForKey() method.

[2015-05-07 07:56] dariodepaolis commented on #11672
Ok sorry.
(Thank you kdudnyk)

[2015-05-07 08:10] iPruch commented on #10321
@KrissMu Well, I took a look and this is what is happening for me:

![screenshot1](https://cloud.githubusercontent.com/assets/2997598/7510490/d515438c-f49c-11e4-9b62-9fd92cdae182.png)

![screenshot2](https://cloud.githubusercontent.com/assets/2997598/7510493/da902a0c-f49c-11e4-8524-75f6f35e8a4f.png)

The switch enters `case 2:` because the length received from parameter is 1 (+1), but it does not

[2015-05-07 08:14] yhuiyang opened #11735 "Please remove space character used in tag when calling __android_log_print(...)"
In _CCConsole.cpp_, function __log()_ calls (line 244)

[code]

for android platform.
Although log tag with space characters works fine in eclipse, but in command line tool, it doesn't work.
E.g.

[code]

doesn't work.

[2015-05-07 08:21] jie-meng commented on #11726
Ok, thanks. But there aren't any document for the manual apis. That is not good, just suggestion.

[2015-05-07 09:22] birdkingz opened #11737 "[cocos2dx-2.2.6]Texture format somehow loaded as 16bit instead of 32bit in Lollipop"
Hi I'm having this issue when I try to load the texture and I noticed the texture seems to be converted to RGBA4444 instead of RGBA8888. Does anyone encountered this issue?

[2015-05-07 09:30] samuele3hu opened #11738 "Optimize the callback mechanism that C++ call the Lua"

[2015-05-07 09:40] Wu-Hao commented on #11568
- Currently, SpritePolygon's Marching Square algorithm takes the whole image into account, where it should only take the specified rect into calculation. Fix marching square so that it only takes specified rect into account not the whole image.
- SpritePolygon should also support setTextureRect at runtime, it should look for the rect in cache.
- PolygonInfo struct should be created inside the cach

[2015-05-07 09:45] pandamicro opened #11739 "Upgrade Socket IO"
Current version v3.6
The Socket IO lib in the web engine and native engine are both very old, we should upgrade it to the latest version to avoid potential issues.

The web engine can simply upgrade with the official socket io lib, but the native implementation should be upgraded manually.

[2015-05-07 09:51] zilongshanren commented on #11568
@Wu-Hao
Maybe SpritePolygon should support more texture pixel format, now only RGBA8888 is allowed. But RGBA8888 consumes a lot of memory, many game developers prefer to RGBA4444 format with dithering enabled.

[2015-05-07 12:54] KrissMu commented on #10321
@iPruch @WenhaiLin The problem seems to be related to the code of my "é", for some reason it is 233 when I debug the execution, where it is 195 (= 0xC3) in your test cases.
I don't think my input files are encoded in UTF-8, that seems to be the issue. I can't test for now, but as soon as I can, I'll report my results here !

Thanks for taking time to investigate this, it really helps !

[2015-05-07 12:56] thenewvu commented on #8936
Could you run this command alone, then post the output to here, pls ?

[code]

The purpose is to get detail log that comes from MSBuild.

[2015-05-07 13:48] dyegos opened #11741 "HttpAsyncConnection possible leak"
I think the network processReponse is leaking. see image.
![screen shot 2015-05-07 at 10 45 52](https://cloud.githubusercontent.com/assets/5103519/7516550/84d48310-f4a6-11e4-9b72-f13c498acde9.png)

[2015-05-07 15:58] dariodepaolis opened #11742 "Label createWithTTF and enableShadow return errors in cocos2dx 3.6"
Just updated to cocos2dx v3.6, my previous working code returns now errors.
I've seen that Label TTF and shadow is the cause, you can simply test with this:

[code]

This return:

**OpenGL error 0x0502 in ..\renderer\CCTextureAtlas.cpp cocos2d::TextureAtlas::drawNumberOfQuads 691**

If I remove Shadow it's ok, in 3.4 was ok.
However the TTF is displayed correctly, but the debug.log grows with this

[2015-05-07 16:08] dariodepaolis commented on #11742
Sorry I've seen now that it was fixed here: https://github.com/WenhaiLin/cocos2d-x/commit/8f6277c5403e46ccde803c3f5e7fae79dbd0050f

I think it's the same issue, so I close myself this issue

[2015-05-07 16:22] smoke91 opened #11743 "Node::updateTransformFromPhysics is not working correctly with Follow action"
As in title.

I added log to updateTransformFromPhysics method:

[code]

and move Armature with physics body along the X axis.
When the object reach half of the screen and Follow action change position of Armature parent updateTransformFromPhysics method print this output:

SETTING POSITION = (1266.674438 : 339.923553) // CORRECT
SETTING POSITION = (1273.812378 : 339.923553) // CORRECT
SETTING POS

[2015-05-07 16:25] ghost opened #11744 "ParallaxNode and scaling"
There is probably a bug with ParallaxNode when root node has a scale. Imagine that we have the following structure:

[code]

`child1` should move twice slower than `child0`. But with scale applied it's very-very fast. After editing `CCParallaxNode.cpp:169`

[code]

 It works ok.

[2015-05-07 16:33] smoke91 opened #11745 "Texture2D created with RenderTexture disappear while changing parent position along X axis"
I created tile map with tile layers and objects layer.
After parsing xml i want to get all objects, create physics object and render textures for them based on tile layer with this code:

[code]

Next I added created Sprites to Scene.
They are rendered correctly, but when I moving scene position: with Follow action, textures being dissapear the further I move scene.

[2015-05-07 16:35] jphw opened #11746 "onKeyPressed() never gets called for Android hardware buttons"
In TouchesJni.cpp in function Java_org_cocos2dx_lib_Cocos2dxRenderer_nativeKeyDown, when EventKeyboard is being created - it always gets "false" as "isPressed" argument. As a result of that - user can only detect Back button press by overriding onKeyReleased() of a Layer or by settings onKeyReleased callback in EventListenerKeyboard. But onKeyPressed will stay silent.

This is counterintuitive and

[2015-05-07 17:01] mirth commented on #8936
There is as much as i can copy http://pastebin.com/YZXvnajC. Sorry for Russian. The same project successfuly compiles on mac.
Tail:

[code]

[2015-05-07 21:25] sridenour opened #11748 "Newer GLFW version"
Even Cocos2D-X 3.6 is still using GLFW 3.0.4, which was released in 2013 and does not have good support for things like Fullscreen App mode introduced in OS X 10.7. Really wish Cocos2D-X had as good of Desktop support as Cocos2D-Swift/ObjectiveC.

Please start using the latest version of GLFW. Currently that's 3.1.1, but GLFW 3.2 will be out "soon".

[2015-05-08 01:32] samuele3hu commented on #11741
The image maybe uploaded failed,can you upload the image again.

[2015-05-08 01:34] minggo commented on #11741
@samuele3hu
I can see the image.

[2015-05-08 01:38] Wu-Hao commented on #11568
- Currently, SpritePolygon's Marching Square algorithm takes the whole image into account, where it should only take the specified rect into calculation. Fix marching square so that it only takes specified rect into account not the whole image.
- SpritePolygon should also support setTextureRect at runtime, it should look for the rect in cache.
- PolygonInfo struct should be created inside the cach

[2015-05-08 02:05] #10411 closed, assigned to samuele3hu

[2015-05-08 03:39] jyoxun opened #11755 "[cocos2dx 3.6] OpenGL error 0x0502 in CCTextureAtlas.cpp drawNumberOfQuads 691"
The project is normal in cocos2dx 3.4.
After we updated cocos folder to cocos2dx 3.6, the console always output:
OpenGL error 0x0502 in CCTextureAtlas.cpp drawNumberOfQuads 691

[2015-05-08 06:11] #11579 closed, assigned to samuele3hu

[2015-05-08 08:20] dariodepaolis commented on #10747
Ok it's ok now, thank you.

[2015-05-08 08:21] dariodepaolis commented on #11755
Already discussed here and fixed: https://github.com/cocos2d/cocos2d-x/issues/11742

[2015-05-08 08:52] huangzhentao opened #11759 "NewLabel will Crash when setString() after getLetter()"
Tor example code ：

[code]

The program will crash.  Cause in Label:alignText(), it will call

[code]

but then it will call  SpriteBatchNode::removeChild(child, true);

[2015-05-08 08:56] huangzhentao commented on #11759
I think " SpriteBatchNode::removeChild(child, true);  "  in Label::alignText  modified to

    for(const auto &child : _children) {
        int tag = child->getTag();
        if(tag >= 0)
        {
            hNode::removeChild(child, true);
        }
    }

[2015-05-08 08:57] WenhaiLin commented on #11759
Fixed crash at:https://github.com/cocos2d/cocos2d-x/pull/11659
Fixed collapse at : https://github.com/cocos2d/cocos2d-x/pull/11683 and https://github.com/cocos2d/cocos2d-x/pull/11728

[2015-05-08 08:59] huangzhentao commented on #11759
thank you for your quick response :100:

[2015-05-08 09:37] jyoxun commented on #11742
Thank you! It's worked.

[2015-05-08 12:57] dyegos commented on #11741
![screen shot 2015-05-07 at 10 45 52](https://cloud.githubusercontent.com/assets/5103519/7536736/aabd55d0-f568-11e4-8e9e-933926698699.png)

there is its again!

[2015-05-08 13:16] andersonmadeira opened #11765 "Docs Required: how to bind c/c++ to JS & lua?"
I have a multiplayer game written in Cocosd2x and I'm willing to add support for scripting language (Lua). So I've been reading the source, docs and wiki but I found no information (not enough) about the Lua Binbings, more presisely, how to call user defined lua functions (inside a script file, say user.lua) inside my game to enable scripting. Do you know any manual, link or tutorial?
Sorry if thi

[2015-05-08 13:43] dariodepaolis opened #11766 "Upgrade Physics to Chipmunk v7.0"
Is it planned or not?

Today I'm trying to build using MSYS2 with mingw and QT, and I've found errors on CCPhysicsBody.obj using the last chipmunk 7.0
Downgrading to 6.2.2 it's ok, but maybe all the physics could gain some advantage using the latest version, from the changelog they have included all the pro features inside this version.

[2015-05-08 14:11] thenewvu commented on #8936
Actually I dont have any solution for your problem. But I see a topic on StackOverlow that can solve your problem. Give it a try.

   http://stackoverflow.com/questions/16092169/why-does-msbuild-look-in-c-for-microsoft-cpp-default-props-instead-of-c-progr

[2015-05-08 14:45] mirth commented on #8936
Topic link is missed probably.

[2015-05-09 06:39] maodazheng opened #11769 "Text::copySpecialProperties forget copy color"
[code]

change to

[code]

[2015-05-09 14:20] cmillauriaux opened #11771 "Sprite are not cloned"
Hi everyone,

In my project, i use Cocos Studio to make UI. In a Scene, there is a ListView. In this list view, I clone a Node designed with Cocos Studio, and insert in the list view.

In the node I want to clone, there is some sprites, but, these sprites are not cloned ! With the debugger, if I see the original node, sprites are present, but they are not present in the cloned node. I load my node

[2015-05-10 00:59] ahmed-belal commented on #11746
Because onKeyPressed never gets called there is no way to implement a "key is held down right now..." logic, and also that only one key event is being delivered, i.e. if you were to create a game where you could move the character with arrow keys you can only go up, down, left or right at a time, not diagonal.

On mobile devices such controls are not usually required but if a developer wants to co

[2015-05-10 07:46] walzer commented on #11733
Why not use `int` or even `double` instead? I don't want to add dozens of types into `UserDefault`.

[2015-05-10 07:46] #11733 closed, assigned to nobody

[2015-05-10 07:48] walzer commented on #11738
Why and how?

[2015-05-10 08:02] walzer commented on #11298
Duplicate to #11748. So that's focus on upgrading the GLFW version.

[2015-05-10 08:02] #11298 closed, assigned to zilongshanren

[2015-05-10 08:04] #11759 closed, assigned to nobody

[2015-05-10 08:09] walzer commented on #11765
We're using bindings-generator to create lua / js bindings automatically.
The tool: https://github.com/cocos2d/bindings-generator, and please learn from its readme.
Sorry that we still have no `how to bind c++ functions and classes to lua` documentation after cocos2d-x v3.0. I change the title and put it in v3.8 roadmap.

[2015-05-10 08:12] walzer commented on #11766
Yes, it's necessary. But I'm extremely unconfident that if we have enough human resources to do this before v3.8 release.

[2015-05-10 08:14] walzer commented on #11769
OK, this is a stupid bug. Fix it in v3.7.

[2015-05-10 08:52] smoke91 commented on #11745
Workaround: i've added sprites to transparent layer and layer to scene, now it's working
workaround works also for: #11743

[2015-05-10 08:52] smoke91 commented on #11743
Workaround: i've added armature to transparent layer and layer to scene, now it's working
workaround works also for: #11745

[2015-05-10 10:14] hamburml commented on #11733
Because it looks really bad if the simple primitive types aren't supported. Someone could get the idea that cocos2d-x isn't well thought.

[2015-05-10 22:27] andersonmadeira commented on #11765
Thanks, walzer.

[2015-05-11 01:52] WenhaiLin commented on #11697
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11762

[2015-05-11 02:25] fqamic opened #11773 "I add a custom camera, then add a ListView, ListView sight."
I add a custom camera, then add a ListView, ListView sight.

The first graph, add a camera Code:
auto _uilayer = Layer::create();
addChild(_uilayer);
auto _uicamera = Camera::createOrthographic(1136, 640, -1024.f, 1024.f);
_uicamera->setCameraFlag(CameraFlag::USER1);
_uicamera->setPosition3D(Vec3(0.f,0.f,0.f));
_uicamera->setRotation3D(Vec3(0.f,0.f,0.f));
_uilayer->addChild(_uicamera);

//Add List

[2015-05-11 02:36] fqamic commented on #11773
I saw Layout code and found a place in the camera cut problems. When _clippingEnabled is true, then execute the code can not see ListView, if that code _clippingEnabled shield can see ListView, but at the same ListView cropping function invalid.

void Layout::visit(Renderer *renderer, const Mat4 &parentTransform, uint32_t parentFlags)
{
    if (!_visible)
    {
        return;
    }

[code]

}

[2015-05-11 02:38] fqamic commented on #11773
Version : cocos2d-x-3.6

[2015-05-11 03:17] huangzhentao opened #11774 "Label:the characters with outline location error"
Label:Fixed outline doesn't match with the characters exactly.
 v3 (#11720)

I find the latest version code. But it's still wrong.  Every letter Not on the same line.

I think

if(_outlineSize > 0)
{
    .....
       // it miss this code to fix origin postion
       outRect.origin.x = bbox.xMin >> 6;
       outRect.origin.y = - (bbox.yMax >> 6);
   .....
}

[2015-05-11 04:09] SuYaoHui opened #11775 "The GL calls and GL verts continue to rise"
`Version:`Cocos2d-x 3.6
`Issue:`Create a new project and comments the `auto scene = HelloWorld::createScene();`
and `director->runWithScene(scene);`Then  run the project, the GL calls  and
GL verts  value continue to rise.
`Solve:`Move `_runningScene->render(_renderer);` above to the `if (_runningScene)` in
`Director::drawScene()`

[2015-05-11 05:53] chengstory commented on #11771
Thanks @cmillauriaux, @walzer.
Causing this problem because sprite don't support to be cloned, please @minggo to take a look.

[2015-05-11 05:55] chengstory commented on #11730
Thanks @Flame-haze, @walzer.
Please @geron-cn to take a look.

[2015-05-11 08:28] WenhaiLin commented on #10882
Put back the test cases of performance: https://github.com/cocos2d/cocos2d-x/pull/11778

[2015-05-11 09:05] folgerhu opened #11780 "scrollToPage function bug in PageView"
Code above is expected to move to page 2, as a result, moved to page 3

[2015-05-11 09:06] zilongshanren commented on #11780
Thanks @folgerhu
I will fix it in the next release.

[2015-05-11 09:11] zilongshanren commented on #11780
@folgerhu please change the Title to "in PageView"... not "scrollView"

[2015-05-11 09:17] cmillauriaux commented on #11771
Thanks for your answer ! Bon courage to fix it.

[2015-05-11 10:09] kumsook commented on #11466
hi, AudioEngine::stopAll() use Screen Hangs log is
frameworks/wilhelm/src/android/AudioPlayer_to_android.cpp:779: pthread 0x7236e630 (tid 15646) sees object 0x70de6ab0 was locked by pthread 0x61f4ffc0 (tid 15049) at frameworks/wilhelm/src/itf/IObject.c:411

[2015-05-11 10:11] WenhaiLin commented on #11774
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11782

[2015-05-11 10:12] WenhaiLin commented on #11466
@kumsook Please try this solution https://github.com/cocos2d/cocos2d-x/pull/11762

[2015-05-11 14:11] idrise opened #11783 "UIScrollView scrollToPercentVertical fails to perform scroll intermittently on Release Mode compile."
This NEVER occurs on debug versions.

I have debugged the input parameters and they are identical between failed and successful scrolls indicating an internal error with scrollToPercentVertical.

[2015-05-11 14:40] lalaloha opened #11784 "Checkbox inside Scrollview bug"
If you have checkbox inside a scrollview, and the content is scrolled, and the checkbox is out of the scrollview view-port, you can still tap-through the checkbox...

[2015-05-11 15:00] geron-cn commented on #11730
@Flame-haze , could you please take a look at this [floor 6 in this post](http://www.cocoachina.com/bbs/read.php?tid=237349&page=e&#a), thanks, and contact me if you have any questions.

[2015-05-11 15:41] stammen opened #11786 "v3: Test Action Timeline AnimationList test crashes"
v3: Test Action Timeline AnimationList test crashes in Win32 and Windows 8.1 Universal App builds

Assert failed:  cannot set aniamtioname when enter frame with index. setEnterWithName true firstly!
Assertion failed!

Program: ... - Copy\build\Debug.win32\cpp-tests\libcocos2d.dll
File: ..\editor-support\cocostudio\ActionTimeline\CCFrame.cpp
Line: 622

[2015-05-12 01:37] chengstory commented on #11786
Please @xiaofeng11 to take a look.

[2015-05-12 01:38] minggo commented on #11786
It seems there is a pull request for it #11785.
@chengstory
Please check it.

And this issue seems duplicated with #11730?

[2015-05-12 01:48] chengstory commented on #11786
Please @gero-cn check it.

[2015-05-12 01:56] geron-cn commented on #11786
@minggo ,yes, this issue has been fixed in pr #11785,
but it is not duplicated with #11730.

[2015-05-12 01:58] minggo commented on #11786
@geron-cn
Thanks.

[2015-05-12 01:58] geron-cn commented on #11730
@minggo
this issue has nothing to do with  issue#11786,
and i did some tests for this issue, nothing happed, i have replied him in the forum.

[2015-05-12 03:32] WenhaiLin commented on #10363
I can't reproduced this issue.Test base on the latest code on github

[2015-05-12 03:37] #10251 closed, assigned to WenhaiLin

[2015-05-12 03:38] #11699 closed, assigned to WenhaiLin

[2015-05-12 03:39] #10321 closed, assigned to WenhaiLin

[2015-05-12 06:20] Flame-haze commented on #11730
https://github.com/cocos2d/cocos2d-x/commit/5b0e2f0304d48e3936a25d3099455755ccb25573
this commit has fixed this bug. My version is too low. sorry

[2015-05-12 06:20] #11730 closed, assigned to chengstory

[2015-05-12 08:01] xpol opened #11796 "A new created project can't build under Android."
I use the HEAD version ( cdfce7fcaeb5b081da588614bd7a8d921fa50e19 ) of code:
1. cocos new ....
2. cocos compile -p android

Got error:

[2015-05-12 08:30] folgerhu opened #11799 "Cocos2d - x2.2.6 CCLabelTTF compatibility in android5.0"
[code]

android2.3:
![image](https://cloud.githubusercontent.com/assets/3455415/7582813/b6235a56-f8c3-11e4-9e15-b24d0e6191cf.png)

android5.0:
![image](https://cloud.githubusercontent.com/assets/3455415/7582832/cdb8816e-f8c3-11e4-8320-1fe1d1f3ee63.png)

[2015-05-12 16:21] ryanwyc opened #11801 "Image::saveToFile produced corrupted image when downloading a Gray (black & white) photo"
Trying to download a black and white photo (color space: Gray),
and then save to file, the image is corrupted.
The function is working on the colour (color space: RGB) photos though!!!
Tested on iOS 8 with coco2d-x 3.5 so far.

![sleeping_cat_in_black_and_white](https://cloud.githubusercontent.com/assets/1012655/7592381/00781dda-f8a1-11e4-90c2-d1256c72e616.jpg)

![screen shot 2015-05-12 at 12 16 0

[2015-05-13 03:37] songgravel commented on #9542
@ruslanmaley , would you please tell me how you solved this problem? I've got the same situation in my project with cocos2d-x 3.0 and IOS7.1. But everything is all right in IOS8.0 . Thanks a lot

[2015-05-13 03:45] SuYaoHui opened #11808 "The Chipmunk Bug"
`Version:`Cocos2d-x3.6
`system:`Mac
`Issues:`After add an camrea in physicsWorld,If you set a sprite Affect by the camrea,then you move the camrea,the sprite and the body will  detach in debug.
`Image:`
![wechat_1431488603](https://cloud.githubusercontent.com/assets/10543899/7603415/48d4e7e2-f965-11e4-99f5-2ce87f98f438.jpeg)

[2015-05-13 05:00] kumsook commented on #11466
Thank you. :)

[2015-05-13 08:54] zilongshanren opened #11815 "ScrollView and ListView jumpToXXX and ScrollToXXX APIs don't work when called in scene's init method"
Even call the `jumpToXXX` and `ScrollToXXX` of ListView in scene's `init` method, these method call are still wrong.

The reasons are:
-  ScrollView::onSizeChanged() reset innerContainer's size unexpectly
- ListView::will only update the InnerContainer size in the next frame. (Before calling these jump method, we should force the ScrollView to do layout once.)

[2015-05-13 08:56] zilongshanren commented on #11815
[code]

And we should also hack the ScrollView::onSizeChanged  method to

[code]

The above code only used for memo purpose, use it under your own risk.

I will resolve this issue when I'm free.

[2015-05-13 09:41] pandamicro opened #11817 "CCDirector::setNotificationNode should be bound manually"
Sets `null` should disable the notification node, which is not the current case.

TODO:

Skip it from auto bindings
Bind it in manual bindings

@samuele3hu please check Lua

[2015-05-13 12:04] markovitch57 opened #11821 "Crash after purging Director then reconstructing - because RenderState does not null _defaultState"
In RenderState.cpp StateBlock::_defaultState has lazy initialisation but RenderState::finalize uses CC_SAFE_RELEASE when presumably should be using CC_SAFE_RELEASE_NULL

[2015-05-13 13:28] huangzhentao opened #11822 "[V3]A Surplus Code In LabelTextFormatter::createStringSprites"
In LabelTextFormatter.cpp  the function LabelTextFormatter::createStringSprites()

 if (theLabel->_labelHeight > 0)
 {
       ......
        auto labelHeightPixel = theLabel->_labelHeight \* contentScaleFactor;
        if (totalHeight > labelHeightPixel)
        {
            int numLines = labelHeightPixel / theLabel->_commonLineHeight;
            totalHeight = numLines \* theLabel->_commonLineH

[2015-05-13 13:44] pandamicro opened #11823 "Check 3D classes extensibility"
The current 3D classes in JSB can't be extended with JavaScript, it should be supported.

[2015-05-13 14:11] edufresne opened #11824 "Trying to reset setup.py environment variables."
Hi,
Ive been using cocos2d-x v3.4 for iOS but I can not seem to get the android project working. At first I downloaded NDK version 10 but realized I needed version 9 to run build_native.py. Is there a way where I can reset all of the environment variables and put them in again using setup.py? I tried running an android project without running build_native.py but it crashed on launch with an error:

[2015-05-14 02:20] #9767 closed, assigned to super626

[2015-05-14 03:29] shinepengwei opened #11835 "GLProgram result in memory leak"
In luaTest/OpenGLTest.lua，the sample function `createShaderRetroEffect` use GLProgram as

[code]

Use GLProgram like this can result in memory leak because Node hold the GLState and GLState hold GLProgram, while GLState will create in GLProgramStateCache and never be release automatically.

We must use removeUnusedGLProgramState by ourself.

What's more, lua do not bind  GLProgramStateCache::remov

[2015-05-14 07:08] InfResearch opened #11839 "cc.Label auto wrap"
local  str =  "Wrap Error dddddddddddddddddddddddddddddddddddddddddddddddddddd"
local s = cc.size(500, 300)
local ttfConfig = {}
ttfConfig.fontFilePath = "Arial"
ttfConfig.fontSize = 26
local label1 = cc.Label:createWithSystemFont(str,"Arial",26, s)
label1:setAnchorPoint(cc.p(0.5,1.0))
label1:center():addTo(self)

![image](https://cloud.githubusercontent.com/assets/8744395/7627160/a8a064f8-fa46-11

[2015-05-15 02:11] minggo commented on #11786
@chengstory
Any update?

[2015-05-15 06:02] folgerhu opened #11846 "utils::captureScreen requires optimization"
Use this function will pause for about 1 second, it is necessary to optimize.

[2015-05-15 08:34] calfjohn opened #11855 "cocos2d::Console crashed at the first time when it received the command 'debugmsg on' in iOS simulator/device."
Develop environment:
CocosIDE 2.0beta with Cocos2d-js-v3.3 and js-v3.6
Xcode 6.3.1 with iOS8.3

We created an new project using IDE with cocos2d-js-v3.6 and ran the application on iOS simulator, then clicked the debug button in IDE and received a crash in iOS simulator.

So we checked all the IDE codes and found that if we sent 'debugmsg on' to cocos2d::Console, we got crash, if we don't , everyth

[2015-05-15 08:40] WenhaiLin commented on #11565
Related to:
    https://github.com/cocos2d/cocos2d-x/pull/11856
    https://github.com/cocos2d/cocos2d-x/pull/11905
    https://github.com/cocos2d/cocos2d-x/pull/11924
    https://github.com/cocos2d/cocos2d-x/pull/12013

[2015-05-15 10:38] xmarklabs opened #11859 "_inDispatch should be 1 here ERROR"
Hi i'm encountering a crash in my app when i'm listening to touch events. I have initialised a listener detecting multiple touches and assigned respective callback functions. Sample code as bellow:

[code]

At random instance of time when i'm performing multi touches the app crashes at this line of code.

CCASSERT(_inDispatch == 1, "_inDispatch should be 1 here.");

present in CCEventDispatcher.cc

[2015-05-15 17:20] jimrange commented on #11240
Adding another similar issue. These crashes are all likely caused by the same pattern that occurs when using any of the setters and getters of joints immediately after the joint is created.

orientSpring = PhysicsJointRotarySpring::construct(this->rotationObject->getPhysicsBody(), this->getPhysicsBody(), 0, 1500000);
Director::getInstance()->getRunningScene()->getPhysicsWorld()->addJoint(orientSpr

[2015-05-15 22:57] stevetranby opened #11862 "OpenGL 0x0502 WP8.1 cocos2d-x 3.6 download zip"
In debug deploy on device (Lumia 930) I'm getting this error with what I believe are from Labels in my main menus. I just upgrade from 3.5 to 3.6 using the download from the main website.

[code]

[2015-05-16 13:40] XiaochenFTX opened #11865 "prebuilt 不支持 visual studio 2013 express"
win8.1 使用 gen_prebuilt_libs.py 无法执行构建
查了一下代码，
commandPath = os.path.join(vsPath, "Common7", "IDE", "devenv")
这句出的问题
因为express版本vs并没有devenv.exe

[2015-05-16 14:08] syswow commented on #11865
我也在用VS 2013 express for Desktop，这个版本IDE是`WDExpress.exe`

[2015-05-17 05:31] neonaleon commented on #9911
Is there any guide for how to use AudioEngine instead of SimpleAudioEngine in a 2.2.6 project?

[2015-05-17 14:44] Seryusjj opened #11867 "SimpleAudioEngine::getInstance()->setBackgroundMusicVolume is not implemented"
SimpleAudioEngine::getInstance()->setBackgroundMusicVolume was not working for me so whe a take a look at the source code this is what I get ....

float SimpleAudioEngine::getBackgroundMusicVolume()
{
    return 1.0;
}

void SimpleAudioEngine::setBackgroundMusicVolume(float volume)
{
}

float SimpleAudioEngine::getEffectsVolume()
{
    return 1.0;
}

void SimpleAudioEngine::setEffectsVolume(float

[2015-05-17 17:54] perminovVS commented on #11846
Check https://github.com/perminovVS/cocos2d-x/commit/d2b58dd39be862951e43244e6aa598639dafe329 (CaptureScreen save file in thread)

If all ok, it will create pull request.

[2015-05-17 18:29] perminovVS commented on #11801
saveToFile is only support for Texture2D::PixelFormat::RGB888 or Texture2D::PixelFormat::RGBA8888 uncompressed data for now
see Image::saveToFile.

You not need use:
Image \* img=new Image();
img->initWithImageData((unsigned char*)&(buffer->front()), buffer->size());

//save file to local
img->saveToFile(fullpath);

Need directly save ResponseData in file, and create Sprite from it file.
But you c

[2015-05-17 20:54] KrissMu commented on #10321
Last comment just to confirm that it works perfectly with files converted to UTF8. It's worth noting that some editors can have a different default charset.

[2015-05-17 22:27] iPruch commented on #10321
I'm glad to read that! The different encodings and default configurations of text editors is a problem I can't understand why is still present nowadays. UTF-8 should be the default encoding in all text editors (or any program which reads/writes text files) and the 99% of these problems would go away.

[2015-05-18 01:38] wasedaigo commented on #9977
In my case, AlphaThreshhold did not seem to work (Im on cocos2djs 3.5. I wanted to clip my image with "rounded corner" Scale9Sprite, but it was clipped as a simple rectangle.
Basically the same symptom as his..
http://www.cocoachina.com/bbs/read.php?tid-281608.html

[2015-05-18 02:26] #11774 closed, assigned to nobody

[2015-05-18 02:31] walzer commented on #11775
I haven't reproduce this case, but the solution is completely wrong.

[2015-05-18 02:35] walzer commented on #11796
You need to run `./download-deps.py`, that will download and unzip `external/bullet` folder.
We're adding 3D physics into this version.

[2015-05-18 02:35] #11796 closed, assigned to nobody

[2015-05-18 02:43] walzer commented on #11821
Good point. This was a mistake here.

[2015-05-18 02:48] walzer commented on #11799
WTF, I hate android 5.0.

[2015-05-18 02:51] walzer commented on #11822
I agree. It looks like a legacy code from a bug fix. We should fix it.

[2015-05-18 03:01] walzer commented on #11846
I know that `glReadPixels` is very slow.
Thanks @perminovVS 's solution.

[2015-05-18 03:09] walzer commented on #11867
Yes, we haven't implemented this feature on win32 platform. But this function works well on ios, android, winrt and the rest platforms.

Alternatively, please use `AudioEngine` instead of `SimpleAudioEngine`, which has implemented `AudioEngine::setVolume(int audioID, float volume)`.

[2015-05-18 03:09] #11867 closed, assigned to nobody

[2015-05-18 03:19] natural-law commented on #11824
@edufresne
In the version v3.4. The `build_native.py` is a deprecated way to run the project on android.

You'd better compile/run the project by `cocos2d-console`. It's in path `[cocos2d-x path]/tools/cocos2d-console/bin`. Here is a document for the usage: http://www.cocos2d-x.org/wiki/Cocos2d-console

BTW, if you have any question or suggestion when using the engine, please post to the [forum](h

[2015-05-18 05:47] #11824 closed, assigned to nobody

[2015-05-18 06:44] perminovVS commented on #11846
@walzer now very slow Image::saveToFile

[2015-05-18 06:47] #11821 closed, assigned to walzer

[2015-05-18 06:57] Kiranatus commented on #10313
Hi!
Maybe there's another way to generate textures by myself?
Thanks!

[2015-05-18 07:38] Seryusjj commented on #11867
thanks :)

[2015-05-18 07:41] kumsook commented on #10724
@walzer  ios version is 8.3 ipad mini

id = play2d("test1.mp3", true);
AudioEngine.setLoop(id, false);
AudioEngine::play2d("other.mp3", false); <- Error occurs in this part
AudioEngine.stop(id);

bool cocos2d::experimental::AudioPlayer::play2d(cocos2d::experimental::AudioCache *):alSourcePlay error code:a004

i program with cocos2dx 3.5

[2015-05-18 07:46] yantian001 commented on #10724
@kumsook So you encounter this issue too ? did u have any idea ?

[2015-05-18 08:42] WenhaiLin commented on #11466
@kumsook Tell me if this solution is feasible for your application.

[2015-05-18 09:10] kumsook commented on #11466
@WenhaiLin  It has been resolved. Good solution. Thanks. :)

[2015-05-18 09:25] kumsook commented on #10724
@yantian001 I think I can not read because the sound is not cached

[2015-05-18 10:32] sbrednikhin opened #11887 "Need to replace thread unsafe code from TextureCache::addImageAsync"
TextureCache::loadImage will be runnedin parallel thread by TextureCache::addImageAsync, but _textures.find() and _textures.end() used inside aren't thread-safe and there is no lock.

http://discuss.cocos2d-x.org/t/looks-like-texturecache-loadimage-is-not-thread-safe/21414

[2015-05-18 11:37] CodeAndWeb opened #11889 "Crash in GLViewImpl::create"
Cocos2d: 3.6
System: MacOS-X 10.10.3, Retina Imac, AMD Radeon R9 M295X

Callstack:
     0   libsystem_c.dylib              0x00007fff98344152 strlen + 18
     1   libsystem_c.dylib              0x00007fff98388f02 __vfprintf + 4887
     2   libsystem_c.dylib              0x00007fff983b19af __v2printf + 679
     3   libsystem_c.dylib              0x00007fff98396155 _vsnprintf + 596
     4   libsyste

[2015-05-18 12:11] Dimon4eg commented on #9633
I implemented the feature but PR can't be merged automatically.
Could you please merge?

[2015-05-18 12:19] enhhh opened #11890 "Sprite::getSpriteFrame() get error originalSize"
`Sprite::getSpriteFrame()` get error originalSize if the sprite is trimmed(like `UI::LoadingBar::_barRenderer` )

[2015-05-18 12:39] walzer commented on #11889
It looks like a crash or an incompatibility between GLFW and your iMac. Thanks for your feedback.
I'm not confidence if we could reproduce this crash here. The whole company have no iMac, but only macbook, mbp 13-inch, mbpr 15-inch and mbpa.

[2015-05-18 12:41] walzer commented on #11887
Yes, this is a critical bug!

[2015-05-18 20:08] PeqNP opened #11891 "addImageAsync fails to invoke function callback"
This issue happens ONLY when the app is first ran on a fresh Android device. Every time thereafter it appears to work without issue. I received several errors from `WebKit` stating that certain tables did not exist. The result was that the function callback was never called.

I lost most of the debug messages which emitted the necessary tables to be created. I did happen to save one:

`DELETE FROM

[2015-05-18 23:36] PeqNP commented on #11891
The issue is now happening again.

Reproduce steps:
- Turn the device off
- Turn the device on
- Open game

In Game:
- Load image asynchronously

Expected: The image to load asynchronously.
Actual: The image is never loaded asynchronously and the callback is not fired.

Again, this appears to only happen the first time you open the game after the phone is turned on.

I also don't see the above err

[2015-05-19 01:27] kumsook commented on #10724
@yantian001 https://github.com/cocos2d/cocos2d-x/issues/9008 Of the attempt to apply the issues

[2015-05-19 01:50] yantian001 commented on #10724
@kumsook it seems haven't apply to offical branch ,but maybe it's a solution ,thanks very much ..

[2015-05-19 02:45] WenhaiLin commented on #10363
This issue have been fixed.
https://github.com/cocos2d/cocos2d-x/pull/9711
https://github.com/cocos2d/cocos2d-x/pull/9931

[2015-05-19 02:47] #10363 closed, assigned to WenhaiLin

[2015-05-19 02:51] #11466 closed, assigned to nobody

[2015-05-19 05:17] SecondDegree opened #11894 "Cocos2d-x 3.4rc0 to v3 head - lua slow on android"
I've been running tests for the past few days to try and figure out what is slowing down a game I'm working on so much on android devices and have discovered that it sped up when I jumped back to b5f8666 and slowed down again at 865ae56.

My test goes from taking 0.017222 seconds (b5f8666) to taking 138.304155 seconds (865ae56) to run  which is about 800,000% slower. This slowness still occurs cur

[2015-05-19 07:44] super626 commented on #10768
@joshuastray @minggo @walzer
Base on the old render queue refactored by @darkdukey  and @dabingnn ,
1. global Z < 0
2. 3D opaque objects
3. 3D transparent objects
4. global Z = 0
5. global Z > 0

The layer's global Z  equals 0 by default. So it is on top of 3D object.

The solution is layer->setGlobalZ(-1) currently. We can have better solution after we refactor the render queue.

[2015-05-19 07:48] #10063 closed, assigned to super626

[2015-05-19 07:56] super626 commented on #10016
The fade in and fade out is modifying the transparent of the plane.
We should sort the transparent object from back to front in order to render it correctly. However, you can not have correct result for some objects have the intersection parts unless you sort the triangles, as you know that sort the triangles is cpu cost work.

So it can not be solved recently.

[2015-05-19 07:56] super626 commented on #10016
@samuele3hu @walzer @minggo

[2015-05-19 10:08] samuele3hu commented on #11817
I have checked this api in the Lua, it wouldn't trigger the assert, and i found the tips should be optimized, i will do it as soon as possible.

[2015-05-19 12:06] WenhaiLin commented on #11855
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11898

[2015-05-19 16:50] dariodepaolis opened #11899 "RelativeAlign not working with Text and SetDesignResolution"
I'll try to explain, it's a bit complicated.

[code]

The Text is aligned to the right of thumb.

When I set in AppDelegate the SetDesignResolution, for example:

[code]

It doesn't work, consider that lvText are in a listview, every lines has a different alignment that is function of the boundingbox of the text.

After a lot of test I've found a fix with this:

[code]

So it works now, but I thin

[2015-05-19 17:00] 0xJimmyBeh commented on #11887
@walzer
There is a long existing issue with TextureCache.addImageAsync in Cocos2d-JS too.

https://github.com/cocos2d/cocos2d-js/issues/1658

Please solve them together since all engine going to merge soon.

Thanks.

[2015-05-20 01:32] samuele3hu commented on #11894
Can you give me test case,thanks.

[2015-05-20 01:57] SecondDegree commented on #11894
Here's a link to the test lua file on dropbox: https://www.dropbox.com/s/0vdmkptxat84btm/loopTest.lua?dl=0

[2015-05-20 02:32] WaitGodot opened #11907 "label:setFontAtlas should reset '_batchNodes' cache"
When there is a new ‘fontAtlas’, you should save his own ‘fontAtlas’ to clean out

[2015-05-20 02:36] WaitGodot commented on #11907
Own 'bachNodes' should be cleaned up

[2015-05-20 03:19] #11855 closed, assigned to WenhaiLin

[2015-05-20 03:20] #10767 closed, assigned to super626

[2015-05-20 03:59] xzben opened #11911 "bool ComRender::serialize(void* r) bug"
修正代码

[code]

当加载的图片是在 plist 中时 _render = CCSprite::createWithSpriteFrameName(filePath.c_str()); 不应该使用cocos2d::FileUtils::getInstance()->fullPathForFilename(file) 获取的 filePath 因为此文件是不存在的。
而是直接使用 file 。
在 mac 下加载带有 plist 图片的 scene 的时候就会出问题

[2015-05-20 04:05] minggo opened #11912 "TileMap may crash if a layer containers nothing"
- engine version: every engine version including latest code
- how to reproduce
  uses this resource in hellocpp:  http://pan.baidu.com/s/1gdD31tx

Corresponding pull request: #11910

[2015-05-20 04:06] minggo commented on #11912
@WenhaiLin
Please help to verify it.

[2015-05-20 04:12] pandamicro opened #11913 "Refine performance for Cocos Studio JSON parser for 2.x"
User reported the parsing process is extremely long in 2.x.

Engine version : Cocos2d-JS v3.3

| Editor version | Time spent | API used |
| --- | --- | --- |
| Cocos Studio 2.2.6 | 2096ms | `ccs.load` |
| Cocos Studio 1.6 | 77ms | `ccs.uiReader.widgetFromJsonFile` |

Reported by IDIS工作室 (QQ: 147040804)

[2015-05-20 07:17] WenhaiLin commented on #10482
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11918

[2015-05-20 07:53] stevetranby opened #11919 "Mouse doesn't support Previous Location"
Can we add the ability for mouse events to store the previous point?

[2015-05-20 09:09] super626 commented on #8709
@Dredok
https://github.com/super626/cocos2d-x/pull/332/files

You can try this.
However, it is not perfect. It will failed if rotation exists.

[2015-05-20 10:03] kybird opened #11923 "Cocos2d-x 3.6 possible Crash in CCFrame.cpp"
In CCFrame.cpp

there is many if condition like below

`if (nullptr != _node && _betweenScaleX != 0 || _betweenScaleY != 0)`

should be

`if (nullptr != _node && (_betweenScaleX != 0 || _betweenScaleY != 0) )`

I have problem when i use UI Animation by Cocos Studio

thanks for reading

[2015-05-20 12:43] anjandaffo opened #11926 "allow both direction vertical and horizontal for ui::PageView"
Please allow user to setDirection in ui::PageView like ui::ScrollView and ui::ListView.So PageView either use for vertical or horizontal direction.

[2015-05-20 14:43] dakikifr opened #11927 "TTF Label, drop shadow, retina screens"
Hi,

I've only noticed now a bug in the TTF Label class when using a drop shadow on retina screens.

This is the code used to create a label:

[code]

When used on a non-retina device, the outline and the shadow are correctly drawn with 2 points (2 pixels).
But when used on a retina device, the outline is still correctly using 2 points (4 pixels), but the drop shadow is now using 4 points (8 pixel

[2015-05-20 14:43] dakikifr commented on #11927
If I force contentScaleFactor variable to 1.0f (instead of CC_CONTENT_SCALE_FACTOR()) in the Label::enableShadow method (CCLabel.cpp), then the result is the same on retina and non-retina devices.

Maybe the content scale is already taken into account inside the shadow shader, and there is no need to use the scale here, or maybe it should be used here but not in the shader??

[2015-05-20 17:42] lalaloha commented on #10759
Hi,

I got the problem described in "Screenshot_2015-04-16-13-41-14.png" too with cocos2d-x 3.5, and using UIScrollView, and it happens in nexus 7.. I tested all the code in many devices, and all is okay.. but in nexus 7 (the first model), it became like the screenshot.. Is there any quick and permanent fix for this? thanks

[2015-05-20 22:12] travnick opened #11930 "csb or json exported by CocosStudio 2.2.6 can not be loaded by cocos 3.6"
After migrating from cocos 3.0 to 3.6 it appears that all gui is messed up. So I decide to import into CososStudio 2.2.6 files from CocosStudio 1.6. It works, it exports (as json or csb) but while trying to load those files then it crashes.
`json`:

[code]

`csb`:

[code]

[2015-05-20 22:54] SecondDegree commented on #11894
After looking into it some more, I can confirm that the commit which caused the slow down is 4bdd3f0. This commit simply updated the dependencies from 30 to 31. I can also confirm that the change within the dependencies was updating the version of LuaJIT to 2.0.3, as reverting LuaJIT back to the previous version shows no slow down.

[2015-05-21 00:04] mateuszf opened #11932 "renderer not batching sprites with custom shader"
I have many sprites which are being drawn in 1 draw call. However, when I added custom shader to them renderer decided to draw every one of them in a separate draw call.

Later I've noticed that it's because I was using 1 uniform variable which I was setting in my `GLProgramState` and `QuadCommand` class does something like this:

[code]

When I commented that branch of code, all sprites were auto

[2015-05-21 00:41] ricardoquesada commented on #11932
you can of course modify cocos2d-x, and have all your sprites drawn in just one batch.

an alternative is that cocos2d-x could check if the same glprogram state is being used for all the sprites, but currently it is not doing that.

[2015-05-21 02:31] walzer commented on #11891
Very interesting bug. We would try to reproduce it.

[2015-05-21 02:43] walzer commented on #11927
So there're different requirements.
@ricardoquesada what's your suggestion? Should we apply `contextScaleFactor` to label shadows?

[2015-05-21 02:48] walzer commented on #11919
I would deny your request. For 2 reasons:
1. We can do this in our mouse event callback
2. Even the mouse events send from and Windows and OS X, they don't have the data of previous location.

[2015-05-21 02:48] #11919 closed, assigned to nobody

[2015-05-21 02:49] walzer commented on #11919
Please also refer to android's touch event: http://developer.android.com/training/graphics/opengl/touch.html

Developers need to restore previous location in their code, not from system callback.

[2015-05-21 03:45] pandamicro commented on #11817
After looking into the problem, Jianglong and I think we should modify the bindings generator to make this fixed in auto bindings.

So Jianglong will change the auto conversions for object

[2015-05-21 05:07] kobake opened #11942 "DrawNode::drawCircle does not allow to change the line width"
There's no way to change the line width of DrawNode::drawCircle.

[2015-05-21 06:05] #11769 closed, assigned to zilongshanren

[2015-05-21 06:44] ricardoquesada commented on #11927
@walzer I'm not familiar with that part of the code, but yes, it seems to be a bug in our code.

[2015-05-21 08:43] zii commented on #10293
Hoo ah! So many new features!

[2015-05-21 08:46] kerrisong commented on #11912
hi，minggo~：such as these issues，please inform me，too，I need to update the schedule，thanks~

[2015-05-21 08:53] minggo commented on #11912
@kerrisong
Ok.

[2015-05-21 09:08] dabingnn opened #11948 "Bugs for visiting scene with multiple cameras"
#11947

A pull request is created to reproduce the bug to visiting scene by multiple camera.
step to reproduce the bug
- create a sprite with camera mask `CameraFlag::Default`，which will run action continuously
- create a parent node with camera mask `CameraFlag::USER1`, and add the sprite as a child of this node.
- add the child to the scene
- create a camera, and set the camera flag to `CameraFl

[2015-05-21 09:25] stevetranby commented on #11919
So you should get rid of the previous touch then, no? Either all movement input methods should have a previous state, or not. Doesn't matter if the OS supports it. Right now the Touch provides previous, Mouse does not. I'm fine with removing previous from touches as well if you want the developer to handle it themselves. Right now it seems to be a conflicting API.

[2015-05-21 10:16] WenhaiLin commented on #11855
Update:
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11950

[2015-05-21 12:25] anjandaffo commented on #11926
I modified the PageView.h and PageView.cpp file to setDirection for PageView like Scrollview and ListView. Now I can call setDirection method and vertical pageview is working.

There are no option to attach file, so I can't post modified file. I had post the modified file on Cocos2d-x forum.

http://discuss.cocos2d-x.org/t/will-pageview-support-vertical-direction/13307/3?u=anjanjis

Thanks
Anjan K

[2015-05-21 12:32] anjandaffo commented on #10778
For Now I had modified the PageView.h and PageView.cpp file so the PageView allowing for both direction. if any one need it you can use it with replacing the cocos2d/cocos/ui/PageView.h and cocos2d/cocos/ui/PageView.cpp file with attached file in below link.

http://discuss.cocos2d-x.org/t/will-pageview-support-vertical-direction/13307/3?u=anjanjis

Thanks
Anjan

[2015-05-21 21:37] Dredok opened #11955 "PhysicsBody does not work with negative scales cocos2d-x 3.6"
Hi,
I have a character made of a hierarchy of bones and sprites. I want to use shapes from chipmunk in order to setup the physics. I use rogue bodies and everything works okey.
Until I try to flip the sprite setting scaleX to -1.0f. Then the shapes do not update properly to the new transform, they change the scale but they not change the positions according to the hierarchy.

I have seen there is

[2015-05-21 21:41] Dredok commented on #11955
You can see a picture with the image without scaling and one with scaling:

![image](https://cloud.githubusercontent.com/assets/1898021/7759563/d2dfff18-0012-11e5-8aea-94ec0f03673f.png)

![image](https://cloud.githubusercontent.com/assets/1898021/7759554/beb7dd4e-0012-11e5-806a-d0568c8e7d35.png)

[2015-05-22 02:40] WenhaiLin opened #11965 "TextureCache::unbindImageAsync fails to unbind all asynchronous callback for a specified bound image"

[2015-05-22 03:19] WenhaiLin commented on #11912
Fixed at https://github.com/cocos2d/cocos2d-x/pull/11969

[2015-05-22 03:44] yiquanshui opened #11970 "Memory leaks"
All version have the problem.
GLProgram::parseVertexAttribs nad GLProgram::parseUniforms(CCGLProgram.cpp), alloca the attribName but never free it.

[2015-05-22 06:39] jie-meng opened #11974 "Sprite can move out to black border in autoscale = "FIXED_HEIGHT""
Environment: cocos2dx 3.5, lua-project, android device

I use CC_DESIGN_RESOLUTION.autoscale = "FIXED_HEIGHT" at first,

Game tested ok on windows and linux.

But when I deploy apk to android device, there are two black borders at each side horizon.

When I try move sprite to the border, it moves out of the map to the border area!

I modified the CC_DESIGN_RESOLUTION.autoscale to SHOW_ALL, then th

[2015-05-22 06:40] jie-meng commented on #11974
The first image shows FIXED_HEIGHT, the second one shows SHOW_ALL.

[2015-05-22 06:42] jie-meng commented on #11974
I found the real position of map move left to the border of the screen, Sprite cannot move to then right area of map.

Same problem also existed in condition of FIXED_WIDTH, vertical direction has the same dislocation problem.

[2015-05-22 06:47] #10401 closed, assigned to samuele3hu

[2015-05-22 06:49] #11912 closed, assigned to WenhaiLin

[2015-05-22 07:27] aababy opened #11981 "There are some Jaggies on ClippingNode"
version:
C++ 3.6
step:
1. create a HelloWorld Project
2. modify HelloWorldScene.cpp
auto stencil = Sprite::create("ui02_picture.png");
    stencil->setScale(0.4);
    auto _underContent = Sprite::create("HelloWorld.png");
    auto _underClipper = ClippingNode::create(stencil);
    _underClipper->setAlphaThreshold(0.8f);
    _underClipper->setInverted(false);
    _underClipper->setAnchorPoint(Vec2(

[2015-05-22 07:40] kumsook commented on #10724
@yantian001

AudioPlayer.mm
bool AudioPlayer::play2d(AudioCache\* cache)
{
 alSourcePlay(_alSource);
}

AudioEngine-inl.mm
update()
{
 alGetSourcei(player._alSource, AL_SOURCE_STATE, &sourceState);
 if (player._ready && sourceState == AL_STOPPED) {
    remove();
 }
}

playsound Immediately update remove

auto scheduler = cocos2d::Director::getInstance()->getScheduler();
        scheduler->schedule

[2015-05-22 07:56] dabingnn opened #11982 "Using TrianglesCommand to rendering sprite"

[2015-05-22 09:22] dabingnn commented on #11982
added in pull request #11983

[2015-05-22 09:23] dabingnn commented on #11948
@minggo @walzer
bug is fixed.

[2015-05-22 09:27] #11948 closed, assigned to nobody

[2015-05-22 10:06] zhs007 opened #11989 "SpriteBatchNode子节点排序的bug"
在cocos2d-x3.6里，使用SpriteBatchNode时，如果子节点通过setLocalZOrder来排序时，Node会先修改自己的zorder值，然后调用父节点也就是SpriteBatchNode的reorderChild，而SpriteBatchNode::reorderChild也检查了子节点的zorder是否改变（前面一步刚改过），所以导致排序无效。

[2015-05-24 14:25] travnick commented on #11930
Any progress here? Do you need anything more? I'm really interested in quick fix/workaround for that issue.

[2015-05-24 19:32] tankorsmash opened #11996 "Setting UserDefault key with spaces breaks the entire xml"
[code]

Spits out

[code]

and then the `UserDefault.xml` has only the following in it

   <?xml version="1.0" encoding="UTF-8"?>

Right now, I'm fixing this locally by writing a simple validation function and throwing it in before each call to set data in `cocos/base/CCUserDefault.cpp`:

[code]

and something like `validate_key("this has a space");` would throw the exception. I didn't want to mak

[2015-05-24 22:11] stevetranby opened #11997 "UserDefault should (un)escape XML characters on all platforms."
UserDefault silently fails when trying to add key or data that includes an XML parse character such as the "less than" character on a platform that rely's on cocos2d's internal XML parser. On iOS/Mac it uses Apple's PLIST parser and it handles the escaping internally.

Sample Valid PLIST

[code]

Key=Values:
`Test` = `<b>One & Two</b>`
`Key<Int>` = `my value`

[2015-05-25 02:35] huangwei1024 opened #11999 "audio pauseAllEffects crash"
[code]

看崩溃log应该是多线程操作audio里的hashmap导致的，不明白为啥没加锁保护，或者本来这就不可能有多线程访问的情况？

测试中多种机型均存在该问题，结果就是导致程序直接崩溃。。。

[2015-05-25 02:35] huangwei1024 commented on #11999
这是其它线程状态

[code]

[2015-05-25 03:12] RaoZiJian opened #12000 "Motion streak does not work well when add to a child and run an action"
Cocos2d-x 3.3 with Lua:

The streak is not appeared in the follow case:

[code]

The itemIcon is run the "moveAction" while the motion streak is not on it.
But it works well when I add the streak to the layer, and run action itself, us below:

[code]

It seems that streak will disappeared when the father node did something.....

[2015-05-25 06:07] zilongshanren commented on #9400
The reason was that

[code]

[2015-05-25 06:45] samuele3hu commented on #11894
@SecondDegree ,I have check the performance by your script, the LuaJIT 2.0.1 performance better indeed, we update LuaJIT to the 2.0.3 because it fixed some bugs and it have been used on the other branch for half a year without happening the big problem.I have feedback this problem to the author of LuaJIT, and i will check the compile flags used to compile LuaJIT library.

[2015-05-25 06:52] hujian commented on #11671
i try to use DroidSansFallback.tff or /system/fonts/DroidSansFallback.tff,  all crash. can not find these system font.

[2015-05-25 07:18] #11474 closed, assigned to zilongshanren

[2015-05-25 08:31] WenhaiLin commented on #11965
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12002

[2015-05-25 08:31] #11965 closed, assigned to WenhaiLin

[2015-05-26 06:09] pandamicro opened #12020 "Add Spine Skeleton Animation Cache"
The current Spine animation are often created by `createWithFile` API: https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/editor-support/spine/SkeletonAnimation.h#L51

However, there isn't an AnimationCache / SpriteFrameCache like class to cache spine animation data. It's an important feature, because `createWithFile` need to read and parse file every time and it's very long. If we cache the spine

[2015-05-26 06:30] pandamicro opened #12021 "Provide a generic asynchronous resource loading process"
We have an asynchronous loading function for TextureCache, `addImageAsync`:

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/renderer/CCTextureCache.h#L123

But can we have a common asynchronous loading process for all type of resources ? Otherwise, while loading some resources, especially some heavy resources like animation, cocos studio big scenes, the game will suffer a period of frozen time

[2015-05-26 06:33] tangyiyang commented on #12020
I think "CCFileDataCache" is a better solution, sometimes you also need to cache other files, such as json configuration file, localization file.

[2015-05-26 06:36] pandamicro commented on #12020
But they don't have the same data type, can you propose some solution for handling the difference between different data types ?

[2015-05-26 06:57] samuele3hu opened #12023 "SpriteFrameCache::addSpriteFramesWithDictionary would trigger the assert about the NinePatchImageParser"
Reproduce:
cpp-tests->SpriteTests->SpriteOffsetAnchorRotation

[2015-05-26 08:36] wangzongjun opened #12024 "CCBatchNode添加Armature后，会在屏幕[0,0]闪烁动画"
使用CCBatchNode添加同一个Armature，在屏幕的【0，0】点会有动画闪烁一次，如果不使用CCBatchNode动画显示正常，应该是CCBatchNode的问题。

动画文件地址：
http://182.92.241.2/version/bullet.zip

相关代码如下：

[code]

[2015-05-26 09:39] birdkingz commented on #11737
Any update on this issue?

[2015-05-26 10:02] dariodepaolis opened #12029 "Label TTF problem with TextureAtlas resizing (android)"
I have a long text, created with Label:createWithTTF and then inserted in a scrollview.
With normal text, all is ok.

When the text is long I got this in android debug.

[code]

Not only I got the error that Helvetica font is missing (I have selected another TTF), but when I scroll in scrollview sometimes the font disappear, I don't know why.
When the TextureAtlas remains around 400-600 the error

[2015-05-26 10:20] zilongshanren opened #12030 "We should add move semantic to Math library"
Now many Math related API return value directly. We should provide move semantic to reduce extra copy.

[2015-05-26 12:41] sbrednikhin opened #12035 "Image::initWithImageFileThreadSafe is not thread safe"
It uses singleton FileUtils inside
So if FileUtils instance will be destroyed in main thread it will crush.
http://discuss.cocos2d-x.org/t/initwithimagefilethreadsafe-in-ccimage-is-not-thread-safe/21706/1

[2015-05-27 02:57] lbfamous commented on #8529
excuse me,Is this bug fixed or not ?

[2015-05-27 03:24] dumganhar opened #12041 "GLSurfaceView will be black if it is paused on Nexus 4, 6, 9"

[2015-05-27 03:39] rangercyh opened #12042 "tiledmap alpha图叠加变灰"
我用的版本是3.2
用tiledmap制作了一张图，图素边缘有透明，在tiled里看是正常的，导入到cocos里透明部分就出现了灰化，先请教一下如何修改代码解决这个问题。
![image](https://cloud.githubusercontent.com/assets/1217541/7828351/edfa4488-0464-11e5-92a0-15c893b56611.png)
![image](https://cloud.githubusercontent.com/assets/1217541/7828355/f7341f42-0464-11e5-8126-225d12553413.png)

[2015-05-27 03:40] youlanhai opened #12043 "It's not safe to use a global NPOD variable '__refAllocationList' in CCRef.cpp"
in CCRef.cpp:

[code]

I found it will crash on Android if `#if CC_REF_LEAK_DETECTION` is true, maybe 2 reasons:
1. the construction order of global NPOD variable is unpredictable.
2. use static STL variable will cause memory problem when library is linked with dynamic mode.

[2015-05-27 03:45] zilongshanren opened #12044 "ui::TextField doesn't support cursor"
If we provide cursor feature to ui::TextField, the users could delete at any given index.

http://discuss.cocos2d-x.org/t/is-there-any-way-to-change-the-input-character-index-for-the-textfield-widget/21714

[2015-05-27 04:02] #12042 closed, assigned to nobody

[2015-05-27 06:27] samuele3hu opened #12046 "Add Lua bindings for material systems and related test cases"

[2015-05-27 06:32] samuele3hu opened #12047 "Synchronize the Node:Scene3D test case to Lua to check the 3D renderer"

[2015-05-27 07:27] folgerhu commented on #11773
I have confirmed this problem does exist.  by zhifeng.hu

[2015-05-27 07:56] #9633 closed, assigned to zilongshanren

[2015-05-27 08:07] felixjingga commented on #12044
is there any quick fix or can you make this issue more urgent to solve?

Thanks,

[2015-05-27 08:28] #11786 closed, assigned to chengstory

[2015-05-27 15:04] AIGRIND-LLC opened #12066 "Checking for nullptr in Frame::onApply has no effect."
Hello,
Found a bug.
In the following methods the checking `nullptr != _node` has no effect due to wrong condition statement:

[code]

[code]

[code]

[code]

[2015-05-27 17:18] stammen opened #12067 "download-deps.py version 56 corrupts the tools/framework-compile folder"
download-deps.py version 56 corrupts the /framework-compile folder.. Since tools/framework-compile already exists, copying external/framework-compile to tools/framework-compile causes a change in git status since the tools/framework-compile files are changed. Why are we copying these files? Do we need to delete the files in the existing tools/framework-compile folder from the cocos2d-x repo? since

[2015-05-27 23:30] zilongshanren commented on #12067
hi @stammen  do you try it on your Windows machine?

[2015-05-28 01:48] stammen commented on #12067
@andyque  Yes. I tried it on a windows machine. Since git on Windows checks out files with CRLF, it shows all the files that are being overwritten by download-deps.py since the files in the download have only LF endings. We should not be replacing files that are checked into the cocos2d-x repo. Please decide which files are correct and delete the extra copies.

[2015-05-28 01:49] zilongshanren commented on #12067
@stammen  Yes, I have told the guy who made this mistake. He is handling this issue.
Thanks.

[2015-05-28 01:51] stammen commented on #12067
@andyque  Thanks for the update.

[2015-05-28 03:50] WenhaiLin opened #12075 "Text:The scale factor may be incorrect with multiline text."
![qq 20150528114943](https://cloud.githubusercontent.com/assets/5234286/7852406/ac08c628-052f-11e5-9c8a-a87e97a8f97a.jpg)

[2015-05-28 03:58] 0xJimmyBeh commented on #12044
+1 for this feature.

It is very problematic when we just need to modify a grammar mistake at earlier index in a long text.
We have no choice but to retype whole text.

Moreover, it is good to have a cursor to indicate clearly which TextField is being using and the position we are typing.

[2015-05-28 04:02] WenhaiLin commented on #12075
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12077

[2015-05-28 07:13] linshun opened #12078 "Regroup the modules of cocos2d-x"
Regroup the modules of cocos2d-x

[2015-05-28 10:00] folgerhu opened #12081 "action:setLastFrameCallFunc methods to crash the program"
cocos2d-x v3.6 - lua

This question has been submitted, plese see: https://github.com/cocos2d/cocos2d-x/pull/10655

[2015-05-28 11:09] jphw opened #12082 "CallFunc in Sequence after DelayTime never gets called (cpp, 3.4)"
please delete

[2015-05-28 11:37] #12082 closed, assigned to nobody

[2015-05-28 15:09] zilongshanren commented on #12067
@stammen  Fixed at https://github.com/cocos2d/cocos2d-x/pull/12069

[2015-05-28 16:07] stammen commented on #12067
@andyque How does one add or modify an app template now?

[2015-05-29 01:16] zilongshanren commented on #12067
The template is used for Cocos Framework, it will be added in the cocos2d-x-3rd-bin repository.

[2015-05-29 06:41] stari4ek opened #12097 "VideoPlayer on Android ignores search paths"
iOS works well, cause search path is resolved in  `UIVideoViewWrapperIos::setURL:videoSource` with help of `UIVideoViewWrapperIos::fullPathFromRelativePath`

[2015-05-29 06:55] WenhaiLin commented on #9911
Wrap AudioEngine to SimpleAudioEngine interfaces for Android 5.0.x: https://github.com/cocos2d/cocos2d-x/pull/12098

[2015-05-29 07:47] folgerhu opened #12101 "cc.ParticleBatchNode error"
cocos2d-js 3.6

[code]

This code running under the JSB, throw an error:

[code]

[2015-05-29 09:57] folgerhu opened #12104 "cpp-tests set macros CC_ENABLE_BOX2D_INTEGRATION=1 then compile error"
cocos 2d-x 3.6
cpp-tests set macros CC_ENABLE_BOX2D_INTEGRATION=1 then compile error

![image](https://cloud.githubusercontent.com/assets/3455415/7880456/1f89fe30-062c-11e5-8f2c-5c1e10fe1687.png)

[2015-05-29 13:43] WenhaiLin commented on #10965
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12106

[2015-05-29 19:25] hawkwood commented on #8489
This is probably related to the issue I just experienced:
http://discuss.cocos2d-x.org/t/rendertexture-renders-partially-darker-than-what-is-displayed-when-using-a-blendfunc-and-clippingnode-update/21688/5

[2015-05-30 01:54] jarsj commented on #9597
Just replicated this on Redmi, 4.4.4 / cocos2d-x v3.3. Can anyone confirm if the fix works ?

[2015-05-30 09:44] ghost opened #12110 "[Request] Guides in cocos studio"
Guides, like a these from photoshop, would be helpful in design of scenes.

[2015-06-01 03:17] pandamicro opened #12119 "Add manual bindings for cc.Image.getData"
Need described in this thread: http://discuss.cocos2d-x.org/t/how-to-get-array-bytes-base64-of-image-from-cc-sprite-cc-image-cc-texture2d/21106/2

[2015-06-01 03:21] pandamicro opened #12120 "Enable profiling functionalities in JS remote debugger"
JS remote debugger now supports only debug functionalities, break point, step into, step, step out, call stacks, etc.

But the profiling is also very important, it should be supported in JS remote debugger

[2015-06-01 03:23] folgerhu opened #12121 "Plese bind CCFastTMXTiledMap to js"
Plese bind CCFastTMXTiledMap to js，and merge https://github.com/cocos2d/cocos2d-x/pull/11910 to CCFastTMXTiledMap implementation

[2015-06-01 03:28] pandamicro commented on #12121
- [ ] Merge https://github.com/cocos2d/cocos2d-x/pull/11910 to CCFastTMXTiledMap implementation
- [ ] Bind CCFastTMXTiledMap

[2015-06-01 04:01] ucchen commented on #12120
nice, when will it support?

[2015-06-01 04:03] pandamicro commented on #12119
Original reported here: https://github.com/cocos2d/cocos2d-js/issues/1702

[2015-06-01 05:13] pandamicro commented on #12120
It's currently unplanned, we need to find the manpower for this task

[2015-06-01 07:11] WenhaiLin commented on #9331
Improve UserDefault's robustness on Android:https://github.com/cocos2d/cocos2d-x/pull/12123

[2015-06-01 08:41] #12067 closed, assigned to nobody

[2015-06-01 12:22] tangyiyang opened #12126 "Could lua_cocos2dx_auto.cpp be separated into different files?"
Something like one binding file for each of the class.
Ref.cpp  Ref_luabinding_auto.cpp , something like that.
It's easier to compare differences between generated files, and It's easier to find errors.

[2015-06-02 03:35] folgerhu opened #12134 "SkeletonAnimation unable to set the position in ClippingNode"
[code]

Running on the MAC simulator:
![screen shot 2015-06-02 at 11 28 13 am](https://cloud.githubusercontent.com/assets/3455415/7928007/5522f4c4-091b-11e5-83ad-8c545d587dc4.png)

Running on the Android's machine, aways postion to 0,0:
![screen shot 2015-06-02 at 11 24 56 am](https://cloud.githubusercontent.com/assets/3455415/7928019/699df458-091b-11e5-88cb-30bd7a4c39bd.png)

[2015-06-02 05:37] tangyiyang commented on #12020
There's no need to care about the file type(extensions), all we need is just the 'FileData' pointer and the length of the file.
All we need is only 2 interfaces. The user should care about NOT to use the same file path.

// when we load some file into the memory, we add the file to the cache, the cache saves the pointer to the file which been read with CCFileUtil::getFileData()

void FileDataCache

[2015-06-02 06:39] pandamicro commented on #12020
Oh, I see, what you are proposing is a File level resource cache, this can avoid time of loading data from file system. It's not really relevant to this issue. This issue want to discuss a cache for Spine's SkeletonAnimation.

The file data cache can be a low level cache.
On top of it, there are SpriteFrameCache, TextureCache, AnimationCache, SpineAnimationCache etc...

It's based on the fact that

[2015-06-02 08:27] WenhaiLin commented on #10448
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12137

[2015-06-02 08:59] fusijie opened #12138 "GLProgram memory do not release."
`version:` v3.5
`issue:` Create a GLProgram object and release it, the memory of it do not release.
`reproduce:` GLProgram is an autorelease object. Notice the memory.

[code]

[2015-06-02 09:18] pandamicro commented on #12024
Version : 2.2.3

[2015-06-02 10:09] wangzongjun commented on #12024
version : 2.2.3

[2015-06-02 10:40] jyoxun opened #12141 "The Button in the clipped area of scrollview still can be clicked."
We add a button to the scrollview, and set the position to outside of the visible view. But the button still can be clicked.

[2015-06-02 11:46] jphw opened #12143 "One cannot pause an action of a node before first onEnter() call"
Basically, if i want to create a number of actions for a node during its initialization (in overrided init() function), and then pause them right after it, in order to just unpause them when time comes instead of creating an actions - i cannot pause an action right after the runAction() call, and i need to call ActionManager::pauseTarget in onEnter() function, because otherwise it will have no eff

[2015-06-02 12:41] sbrednikhin opened #12145 "formarRenderers in RichText doesn’t update container size"
need to update container size in RichText

http://discuss.cocos2d-x.org/t/formarrenderers-in-richtext-doesnt-update-container-size/21710

[2015-06-02 16:01] pandamicro commented on #12143
The action manager is designed in this way, actions are not managed unless their target node is running. So please put such logic into `onEnter` `onExit` functions

[2015-06-02 16:04] #12143 closed, assigned to nobody

[2015-06-02 17:44] hawkwood opened #12146 "Some basic transitions do not animate on Android 5.x"
Built Cpp-Tests from Cocos 3.6 and installed on Nexus 7 running Android 5.0.2, and some scene transitions do not animate, they just immediately (or after a delay) switch to the next scene.  Specifically:
TransitionCrossFade
TransitionProgressRadialCCW
TransitionProgressRadialCW
TransitionProgressHorizontal
TransitionProgressVertical
TransitionProgressInOut
TransitionProgressOutIn

[2015-06-02 20:01] stammen opened #12148 "cocos2d-js: ccui.WebView breaks Win32 and Windows 8.1 Universal Apps"
The recent addition of ccui.WebView to cocos2d-js reaks Win32 and Windows 8.1 Universal Apps. This feature should only be enabled for iOS and Android. ccui.VideoPlayer will also break the Win32 and Windows 8.1 Universal Apps versions.

How to reproduce:

Build cocos2d-js-win32.sln
run js-tests

Here is the error in the output window

JS: D:/GitHub/cocos2d-x-v3 - Copy/build/Debug.win32/js-tests/scr

[2015-06-02 21:25] stammen commented on #12148
Fixed in PR https://github.com/cocos2d/cocos2d-x/pull/12149

[2015-06-03 03:42] puckery opened #12152 "How to fixed #9499?"
How to fixed #9499?

[2015-06-03 04:07] stammen commented on #12148
Fixed by PR https://github.com/cocos2d/cocos2d-x/pull/12139

[2015-06-03 04:07] #12148 closed, assigned to nobody

[2015-06-03 04:52] jyoxun commented on #12141
Below is my resolution, FYI.

bool Widget::isClippingParentContainsPoint(const Vec2 &pt)
{
_affectByClipping = false;
#if 0
    Widget\* parent = getWidgetParent();
#esle
    Node\* parent = getParent();
#endif
    Widget\* clippingParent = nullptr;
    while (parent)
    {
        Layout\* layoutParent = dynamic_cast<Layout*>(parent);
        if (layoutParent)
        {
            if (layoutPare

[2015-06-03 06:12] jasonzhangxx opened #12154 "cocos2dx 3.6版本 Label 显示问题"
如图：
![img_0072](https://cloud.githubusercontent.com/assets/2697724/7953688/69c4b31a-09fa-11e5-9634-9d0116dac941.PNG)
很明显字符的边缘被截掉了部分像素。下方和右侧较为明显。

凑合的解决方法，设置2像素透明色的outline。

附上代码：

[code]

[2015-06-03 06:28] WenhaiLin opened #12156 "Cocos2dxSound.java have thread safety problem"
`preloadEffect` will release the mSemaphore also, so if you call `preloadEffect` first, and then call `playEffect` to play some unloaded sound, the mSemaphore's acquire will return immediately, and gain a wrong streamID.

[2015-06-03 07:20] pandamicro commented on #12156
Originally reported: https://github.com/cocos2d/cocos2d-js/issues/1766

[2015-06-03 08:20] pandamicro commented on #12024
Append these code in `CCBatchNode::addChild(CCNode *child, int zOrder, int tag)` can solve this issue

[code]

[2015-06-03 09:53] zilongshanren commented on #10847
@walzer
I'm not sure the impact of changing RunLoop in cocos2d-x. I would rather keep this PR here and leave the option for developers who are using UITableView/UIWebView and UIScrollView.
So I think this issue should be removed from milestone 3.8

[2015-06-03 13:44] TheCodez opened #12166 "Text isn't drawn in version 3.6"
Labels are not drawn on 3.6 because of  jni not finding method createTextBitmapShadowStroke in Cocos2dxBitmap.java. The output is :
JniHelper: Failed to find static method id of createTextBitmapShadowStroke

It worked before this pr https://github.com/cocos2d/cocos2d-x/pull/11451
The error happened on a Samsung Galaxy S3.

[2015-06-03 17:51] #11569 closed, assigned to zilongshanren

[2015-06-03 23:50] cesarpachon commented on #11563
hello I am interested in the implementation for linux.. it is someone working on that, or there are some guidelines to have a look at it?

[2015-06-04 00:40] #12075 closed, assigned to WenhaiLin

[2015-06-04 00:42] pandamicro commented on #11894
@samuele3hu If there is no further informations for now, I will move this issue to v3.8

[2015-06-04 00:43] pandamicro commented on #11817
Fixed at https://github.com/cocos2d/bindings-generator/pull/162

[2015-06-04 00:44] #11697 closed, assigned to WenhaiLin

[2015-06-04 00:44] #11581 closed, assigned to zilongshanren

[2015-06-04 00:46] SecondDegree commented on #11894
I have no additional information at this point, thanks.

[2015-06-04 00:46] pandamicro commented on #11568
@fusijie what's the status about this issue? Can you add the related PR links in comment?

[2015-06-04 00:46] #11565 closed, assigned to WenhaiLin

[2015-06-04 00:53] davewang opened #12170 "RichTest in tableView no display"
RichTest in tableView no display
RichTest in tableView no display
RichTest in tableView no display
RichTest in tableView no display

[2015-06-04 00:54] #10448 closed, assigned to WenhaiLin

[2015-06-04 00:55] pandamicro commented on #10408
@chengstory what's the status of this issue? Can it be fixed in v3.7?

[2015-06-04 00:59] pandamicro commented on #10302
@andyque please close this issue if it's done

[2015-06-04 01:02] pandamicro commented on #10240
@walzer why is this issue reopened? The previous solution didn't work?

[2015-06-04 01:10] #9331 closed, assigned to WenhaiLin

[2015-06-04 01:37] pandamicro commented on #12170
Please give the exact way or sample code to reproduce the issue, the engine version, screen shot, otherwise we can't help to fix it

[2015-06-04 01:41] #11817 closed, assigned to jianglong0156

[2015-06-04 01:44] fusijie commented on #11568
@pandamicro  The main function is completed, now we are finding the bugs and making the test case.

we will send the pull request when the things mentioned above all completed.

[2015-06-04 01:49] pandamicro commented on #11568
Ok, thanks for the update

[2015-06-04 02:13] stammen commented on #10240
Look at https://github.com/cocos2d/cocos2d-x/blob/v3/tests/cpp-tests/Classes/MutiTouchTest/MutiTouchTest.cpp.

You are supposed to keep track of the touches yourself in a manner similar to  MutiTouchTest.cpp, I send all of the touches to the callbacks when they are received or changed.

[2015-06-04 02:36] #10302 closed, assigned to samuele3hu

[2015-06-04 02:36] #9911 closed, assigned to nobody

[2015-06-04 02:47] WenhaiLin commented on #10882
That's the first stage done:the unit testing framework done and all test cases can run on the testing framework.

 The next stage:make test cases return the unit  test result,etc.

[2015-06-04 03:02] #10882 closed, assigned to WenhaiLin

[2015-06-04 03:07] tangyiyang commented on #12020
I got your point.
Actually, It's slow to read the json file data and the atlas file created by Spine. But it's really fast to parse them.
I've tested that you can create 30 spine animations in only 1sec as long as you have preload the json and atlas file into memory.

[2015-06-04 04:55] pandamicro opened #12177 "Add file level cache to avoid repeat loading"
As mentioned in this issue: https://github.com/cocos2d/cocos2d-x/issues/12020#issuecomment-108698743

File cache can be helpful for some kind of files which need to be loaded and parsed to memory, like: JSON, XML, PLIST, TMX, etc.

If we can cache the result in memory, then while developer need to reuse them, it will be very fast.

The cache should have several features:
1. The cache should be sto

[2015-06-04 04:56] pandamicro commented on #12020
I created a new issue for your request: https://github.com/cocos2d/cocos2d-x/issues/12177

[2015-06-04 06:59] WenhaiLin commented on #10062
Fixed at https://github.com/cocos2d/cocos2d-x/pull/12179

[2015-06-04 07:41] #10323 closed, assigned to nobody

[2015-06-04 08:46] zeyangl commented on #10487
confirm issue exists in 3.6...

[2015-06-04 09:03] jianglong0156 opened #12183 "js-tests remote texture test, fail to load remote texture"
Cocos2d-JS remote texture test, fail to load remote texture
version:Cocos2d-X 3.7
relate pr:https://github.com/cocos2d/cocos2d-x/pull/12132

[2015-06-04 14:39] felixjingga opened #12200 "Enhance GameService crash in lolipop for targetSdk 21+"
one of the latest commit was an enhance gameservice.. if we're building against targetSdk 22 (lolipop), game will crash because of

"Service Intent must be explicit: Intent { act=com.enhance.gameservice.IGameTuningService }"

[2015-06-05 02:29] zilongshanren commented on #12200
@felixjingga  Could you provide more info of this issue?  For example, the crash log and so on.
Thanks.

[2015-06-05 02:31] felixjingga commented on #12200
@andyque build using gradle, set the "targetSdkVersion" to 22, and then compile assembleRelease, and install the apk to the device.. It should be crash..

there are many reference to this crash,
http://stackoverflow.com/questions/26530565/android-5-0-l-service-intent-must-be-explicit
http://stackoverflow.com/questions/27842430/service-intent-must-be-explicit-intent
https://code.google.com/p/androi

[2015-06-05 02:47] #10257 closed, assigned to nobody

[2015-06-05 06:10] pandamicro commented on #10240
Thank you Dale ! I will close this issue

[2015-06-05 06:10] #10240 closed, assigned to nobody

[2015-06-05 07:30] araker opened #12208 "cocos2d-x js jsb getValueMapFromFile fails to load plist"
Hello,

I'm trying to read a .plist file in the jsb version of cocos2d-x js, but I get a empty array back instead. I load the plist with

var test = jsb.fileUtils.getValueMapFromFile(res.ani_plist);
I've tried this on xcode with the simulator and on a device with the same result. When debugging I see that in CCFileUtilsApple.mm the dictionary in

ValueMap FileUtilsApple::getValueMapFromFile(const

[2015-06-05 07:58] nocrim commented on #8384
still not fixed yet?

[2015-06-05 08:37] pandamicro opened #12213 "[Web] Bake layer need to be polished"
Cocos2d-js v3.6
- [ ] It doesn't support EditBox under canvas render mode
- [x] It will re-bake the content even if the parent node's transform get changed (it shouldn't)

Already fixed issues about bake layer:
- [x] https://github.com/cocos2d/cocos2d-html5/pull/2880
- [x] https://github.com/cocos2d/cocos2d-html5/pull/2909
- [x] https://github.com/cocos2d/cocos2d-html5/pull/2912

[2015-06-05 11:55] ffskyfan opened #12215 "A really dangerours macro in spine runtime lib"
in extention.h ,the MALLOC macro. it will unwind to an inexpectant result.can cause really dangerours memory problem.I made a pull request.please fix it

[2015-06-05 16:21] AIGRIND-LLC opened #12216 "Wrong label shadow offset value"
Hello,
Found a bug in rendering Label shadows.
If shadow offset was set as 0 in CocosStudio (no matter X or Y) it will get non zero value in runtime.
![shadow-bug1](https://cloud.githubusercontent.com/assets/6168693/8010272/2edc68e0-0baf-11e5-8cc4-f900b41a6413.png)
![shadow-bug2](https://cloud.githubusercontent.com/assets/6168693/8010273/2edf1a86-0baf-11e5-94b7-3117e68c404b.png)

[2015-06-05 16:51] AIGRIND-LLC opened #12217 "Wrong label spacing with outline enabled"
If outline is enabled for the Label than spacing between the letters becomes expanded!
This bug noesn't actually allow to use outline feature because of big space overrun.
![outline-bug](https://cloud.githubusercontent.com/assets/6168693/8010772/6afb7d76-0bb3-11e5-9ddb-3e98403041b2.png)

[2015-06-06 12:05] eschriek opened #12226 "MotionStreak produces artifacts at high speed"
Hello,

I'm using MotionStreak to create a 'fade' effect at a rotating paddle (the motionstreak is following the rotating paddle).
Which works fine at low rotation speeds, but as soon as the paddle rotates faster the motionstreak begins to show weird lines, check the attached image to see what I mean. I'm not sure wether this is a bug or if I do something wrong (the documentation on motionstreak i

[2015-06-06 17:13] c0ffeeartc opened #12227 "cmake `option(BUILD_SHARED_LIBS ON)`"
`libcocos2d.a` builds well, but building `libcocos2d.so` brings errors.

Is it possible to add branch to jenkins with `option(BUILD_SHARED_LIBS ON)`, or some other way to ensure it's built correctly?

[2015-06-06 22:53] letzgame opened #12228 "Add music search path not work in wp8.1"
1.) put a music file name "test.wav" file to 'music' folder
2.) add  'music' folder to search path
3.) use SimpleAudioEngine to call playBackgroundMusic("test.wav"), the app crash.
3.1) call playBackgroundMusic("music/test.wav") , it works.

[2015-06-07 00:50] stammen commented on #12228
Which version of cocos2d-x are you using?

[2015-06-07 01:34] letzgame commented on #12228
cocos v3.6 c++

[2015-06-07 02:35] stammen commented on #12228
The v3 branch has the fix

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/audio/winrt/SimpleAudioEngine.cpp

[2015-06-07 03:08] #12228 closed, assigned to nobody

[2015-06-07 09:30] zhshuai1 opened #12229 "bug in CCDirector::runWithScene?"
I'm a new hand in Cocos2dx, and I'm using the Cocos2dx-v2.2.6. When I call CCDirector::popScene or CCDirector::replaceScene, I got an runtime error, which says: "Assertion failed! in popScene or replaceScene m_pRunningScene!=0". And I go to runWithScene function, and found that the m_pRunningScene is not assigned, so I trie to add the expression: "m_pRunningScene=pScene;", and it works. So I just

[2015-06-07 15:13] Pouja opened #12231 "Question regarding parsing an object in TMXXMLParser::startElement"
While I was reading how a tmx file gets parsed, I came across this: [CCTMXXLParser.cpp](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCTMXXMLParser.cpp#L457).

I have 2 questions about that specific line of code:
- ~~Why are you taking the mapsize.y in the equation for calculating the y coordinate?~~ Already figured it out: It is because the y-zero is different for tiledmap and opengl.
-