[2016-06-22 20:14] ricardoquesada opened #15932 "addComponent()/removeComponent() should not crash"
From forum: http://discuss.cocos2d-x.org/t/cocos2d-x-node-sprite-anchor-points-and-removing-physicsbody-bugs/29875/33

[code]

[2016-06-22 21:57] ricardoquesada commented on #15909
merged for v3.
v3.12 patch still open. @minggo I've not merged the v3.12 patch since you own that branch. let me know if you have any question about it. thanks.

[2016-06-22 22:29] ricardoquesada commented on #15932
fixed.

[2016-06-22 22:29] #15932 closed, assigned to ricardoquesada

[2016-06-22 23:22] ishmar commented on #15881
Really busy right now. Will try to clean some ugly code and compile it against v3.11 and create pull request, but need some time :(

[2016-06-23 01:25] dumganhar opened #15934 "FPS could not be shown on iOS"
After this Pull Request (https://github.com/cocos2d/cocos2d-x/pull/15853) was merged, FPS would not be shown on iOS while it works ok on Android.
I reverted the changes in this PR and FPS was shown correctly on iOS too.

@ricardoquesada , please help to check what's going wrong. Thanks.

[2016-06-23 01:28] minggo commented on #15909
@ricardoquesada Thanks, i will have a try.

[2016-06-23 01:40] ricardoquesada opened #15935 "FPS don't appear on iOS"
@ricardoquesada , after this Pull Request was merged, FPS will not be shown on iOS while it works ok on Android.
I reverted the changes in this PR and FPS was shown correctly on iOS too.
Could you please check this problem?

[2016-06-23 01:42] ricardoquesada commented on #15935
duplicate of #15934

[2016-06-23 01:42] #15935 closed, assigned to ricardoquesada

[2016-06-23 02:00] minggo commented on #15909
Thanks, it is fixed.

[2016-06-23 02:00] #15909 closed, assigned to ricardoquesada

[2016-06-23 02:19] #15904 closed, assigned to dumganhar

[2016-06-23 02:22] minggo commented on #15917
The log will in the VS debug output.

[2016-06-23 03:10] ricardoquesada commented on #15909
With this PR I found a few bugs in VR now :(... I'll send a new PR tomorrow.

[2016-06-23 03:13] minggo commented on #15909
Ok.

[2016-06-23 03:29] minggo commented on #15896
We can deprecated other API, but can not remove them.

[2016-06-23 03:33] minggo commented on #15890
@natural-law Will you take a look?

[2016-06-23 03:34] minggo commented on #15889
@slackmoehrle so you don't know the commands too?

[2016-06-23 04:36] meiry commented on #15917
Hey minggo
see in VC 213 , after i passing the DLOG i dont see any thing .
as i know printf dont print to VS debug output
![dbug](https://cloud.githubusercontent.com/assets/1107316/16291935/fd4fc616-3914-11e6-8cfb-7bd141d6389d.png)

[2016-06-23 05:47] minggo commented on #15917
@meiry I agree with you. The codes in `WebSockets.cpp` says CCLOG is not thread safe, but i don't find it is not thread safe. So i think we should replace it with CCLOG.

[2016-06-23 05:48] halx99 commented on #15896
OK, I argree.
By the way: I relaize that The getStringFromFile API always truncate, does this needed?
It think, for performance, do not truncate is better.

[2016-06-23 06:01] meiry commented on #15917
Thanks how do i push fix ?

[2016-06-23 06:02] minggo commented on #15742
@ricardoquesada It is not fixed right now. I asked @dumganhar to take a look since he is more familiar with WebSocket.

[2016-06-23 06:03] tiancode commented on #15557
-p android --app-abi armeabi

[2016-06-23 06:08] dumganhar commented on #15742
It's probably an issue of the third party library `libwebsockets` since between v3.10 and v3.11.1, we only update this library and without any other changes.

It's better to make a simple websocket server demo for us to reproduce the problem.
I'll be glad to debug and find what the problem is. Thanks.

[2016-06-23 06:12] natural-law commented on #15890
@minggo Argument `--list-templates` is added by Riq in [this commit](https://github.com/cocos2d/cocos2d-console/commit/e79bdbf375ff814c12938ab0fcbaffaefc89ff71#diff-619073a9bc56c28519d2307f332c494bR135)

I've just took a look at the logic code. It's finding a file `template_metadata/config.json` in each template folder. But I don't know when this file is added/removed. So, I've no idea how to solv

[2016-06-23 06:17] #15923 closed, assigned to zilongshanren

[2016-06-23 06:35] zilongshanren opened #15937 "Node:Particles Test will cause huge lag"
@ricardoquesada   This PR https://github.com/cocos2d/cocos2d-x/pull/15646 will alloc indices memory on the fly and it will cause particles play laggy... please refer to cpp-tests -> Node: Particles for example.

Here is the logging message.

[code]

[2016-06-23 06:47] zilongshanren commented on #15710
@rynkowsg
Thanks, I will try to fix this issue in the next release cycle.

[2016-06-23 06:51] zilongshanren commented on #15631
@Drakon-Cocos
I think you could emit a custom event when you call `setCurrentPageIndex`.
I'm not sure whether the PageView event will be triggered on other platforms. For example, does iOS and Android also behavior this way? If so, please show me the docs and I will consider to change the current implementation.

Thanks.

[2016-06-23 07:12] minggo commented on #15871
Ok, i update the libpng in this PR: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/233
and update cocos2d-x repo in #15938

So what you need to do are:
- download new third party lib: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/releases/tag/v2-deps-9
  - replace `cocos2dx/platform/third_party/android/prebuilt/libpng`
  - add `cocos2dx/platform/third_party/android/prebuilt

[2016-06-23 07:19] minggo commented on #15917
@meiry You are appreciated if you can send a PR to cocos2d-x.

[2016-06-23 07:24] minggo commented on #15890
@ricardoquesada would you please take a look?

[2016-06-23 07:25] minggo commented on #15891
@frranck did you have chipmunk in `external`?

[2016-06-23 07:28] minggo commented on #15926
Sorry, i don't quite understand the issue? Could you please describe it in more detail?

[2016-06-23 07:32] minggo commented on #15898
cocos is not thread safe, please don't invoke it in anther thread.

PS: please use english in future, then more developers can help you. If you are not confident with your english, you can use google translate, and paste Chinese together with english, such as:

你好
hello

[2016-06-23 07:33] minggo commented on #15896
What did you mean?

[2016-06-23 07:35] minggo commented on #15829
@dumganhar do you know?

[2016-06-23 07:35] minggo commented on #15820
@tuantuannd have you fixed the issue?

[2016-06-23 07:38] halx99 commented on #15896
See follow:

[code]

[2016-06-23 07:38] rynkowsg commented on #15710
@zilongshanren
Thanks.

[2016-06-23 07:41] halx99 commented on #15896
对于多数文本文件，s.resize(strlen(s.data()))会导致不必要的循环. 多数都是最坏的情况，遍历一边整个文件字节数据

[2016-06-23 07:44] dumganhar commented on #15829
Yep, libwebsockets is using `permessage-deflate` for gzip compression. Probably, you should update websocket protocol for your service to support this feature.

BTW, `permessage-deflate` is probably not perfectly supported in libwebsockets since there were some test case could not pass the AutoBahn Test. You could refer to http://182.254.241.97/runtime-test/websocket-report/index.html for the test

[2016-06-23 07:44] minggo commented on #15896
I have not idea why it needs to be truncated.

[2016-06-23 07:46] minggo commented on #15809
@natural-law Could you please take a look?

[2016-06-23 07:47] sbrednikhin commented on #15926
Sorry for misunderstanding.

If you will enter symbols (a lots of symbols) into text field that have some content size and enabled cursor - it will crash when cursor walks outside of content area.

[2016-06-23 07:47] minggo commented on #15806
@natural-law Could you please take a look.

[2016-06-23 07:49] halx99 commented on #15896
I create a PR to remove it.

[2016-06-23 07:49] minggo commented on #15805
Yep, and i think we only have to check on Android since iOS devices support it.
@ricardoquesada what's your opinion?

[2016-06-23 07:50] meiry commented on #15917
no problem but how ?

[2016-06-23 07:53] minggo commented on #15917
You can do it when you have time, thanks.

[2016-06-23 08:03] minggo commented on #14973
@ricardoquesada could you please take a look?

[2016-06-23 08:05] minggo commented on #15206
@dumganhar please take a look as you are fixing audio engine issue.

[2016-06-23 08:11] dumganhar commented on #15206
OK, I will investigate this issue.

[2016-06-23 08:17] iPruch commented on #15652
@dumganhar @jmclaveria thanks! I'll give it a try when I get my test devices back. I'll report here if I do any findings!

[2016-06-23 08:50] natural-law commented on #15809
@meiy
Could you please supply more information of your environment & the steps to reproduce the problem?

For example: 1. System version; 2. Python version; ...and so on.

I just tried it on win8.1. It's all right on my computer. I need more informations for reproduce & resolve the problem.

Thanks for your feedback!

[2016-06-23 08:50] alfogrillo commented on #15631
@zilongshanren
The PageView event is triggered both on iOS and Android when scroll to destination page ends.
For now in my project I inherited PageView class adding the following member function

[code]

This solution works well both on iOS and Android (I also use buttons to scroll PageView and I need PageView::EventType::TURNING to update contents).
Anyway if things does not chanced recently, `Pa

[2016-06-23 08:58] meiry commented on #15809
Using:
windows 7 64bit
VS 2013
latest Cocos 3.11
python 2.7
What else ?
but again ... the printf ( C version ) dont output to VC debug console only to stdout ( terminal windows )

[2016-06-23 09:02] natural-law commented on #15806
I don't know what's this mean. As I see on the formal website of Android Studio. There isn't NDK in Android Studio bundle package.

After all, it's a problem of setup.py. Thanks for your feedback, I will solve it later.

[2016-06-23 09:10] iNeverSleeeeep commented on #15898
Sorry, I don't understand.
I think it's not about thread safe.
For example in js:

[code]

I think the js code above **maybe** cause cococ2d crash (not same with my real code).
becase the node1 _update()_ add a custom render command to render queue, and the node2 _update()_ delete the renderTexture node.
Did i miss something or done something wrong?
Or it won't crash because cocos2d has handled th

[2016-06-23 09:48] frranck commented on #15891
@minggo thanks, I was missing the dependancies.
I'm now running into a problem with an "undefined reference to 'bsd_signal'", I guess It's because I'm using android-ndk-r11c, which version should I use ?

[2016-06-23 09:52] minggo commented on #15891
I also use r11c, and don't have a problem. Which project did you build?

[2016-06-23 09:54] frranck commented on #15891
@minggo I'm trying to build cpp-tests

[2016-06-23 10:01] minggo commented on #15898
But you said you received data in another thread and invoke cocos codes.

[2016-06-23 10:10] iNeverSleeeeep commented on #15898
Then I tried to call a node.schduleOnce() to handle the data and it still crash.
And I read the websocket code, (not prety sure) but I think the data was pushed in a message queue, and some manager take it in the main thread.
So I think it is not about thread.

[2016-06-23 10:15] minggo commented on #15898
Could you also paste the C++ codes

[2016-06-23 10:19] iNeverSleeeeep commented on #15898
Paste the C++ codes about the Example or about my game?
My game is a cocos2d-js project, and it is really complicated.

[2016-06-23 10:20] zilongshanren opened #15943 "A few issues with Editbox: (gather from Chinese forum)"
1.现在Editbox 不能支持连续输入模式，我在尝试用any多行模式通过判断换行符实现，还没开始尝试
    EditBox can't tweak return key behavior, should have a option to allow multiple times input without quit virtual keyboard.

2.Editbox现在editBoxEditingDidEnd和editBoxReturn的触发机制完全一样，根本没法判断用户到底是点击    的虚拟键盘的send按钮还是因为控件失去焦点，安卓可以利用EventListenerKeyboard 来实现键盘的监听，但是iOS 貌似不行。
    The event type editBoxEditingDidEnd and editBoxReturn are treated the sa

[2016-06-23 10:23] minggo commented on #15898
Just describe the logic with pseudocode to show how you receive data and invoke cocos codes, such as

[code]

[2016-06-23 10:26] minggo commented on #15926
Will you provide a test case? @zilongshanren could you please take a look?

[2016-06-23 10:28] minggo commented on #15889
@slackmoehrle I think we need a PR for cocos2d-x too.

[2016-06-23 10:39] iNeverSleeeeep commented on #15898
I really think the data hanler's thread is the same thread of gl thread.

[code]

[2016-06-23 10:45] iNeverSleeeeep commented on #15898
see WebSocket.cpp
WsThreadHelper::sendMessageToUIThread
I think this is for thread safe.
There is no reason to handle data in the net thread!

[2016-06-23 11:26] tiancode opened #15944 "Xcode 7.3 编译 libcocos2d(mac) error"
error: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/libtool: can't open file: /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/usr/lib/libsqlite3.dylib (No such file or directory)

solution http://discuss.cocos2d-x.org/t/how-to-compile-with-xcode-7/22677

[2016-06-23 12:47] slackmoehrle commented on #15889
@minggo I know some of them and some of them are covered in the **cocos command-line chapter** I want to cover all of them in the chapter.

[code]

 From this list:

**`luacompile`** - is this different from `compile`? If you have a `lua` project, do you use `cocos compile` or `cocos luacompile`? Meaning Lua users would _never_ use `cocos compile`?

**`gui`** - what gui? Cocos Launcher? That is in

[2016-06-23 14:55] xpol commented on #15896
The old implementation of `FileUtils::getStringFromFile()` was doing the truncated.
I just keep the behavior of it when I refactor `FileUtils`.

I think we should not change the behavior.

[2016-06-23 16:21] halx99 commented on #15896
I have no idea for the explicit reson to reserve this behavior.

[2016-06-23 16:22] ricardoquesada commented on #15937
Sent PR both to v3 and v3.12.
I'll merge it in v3. @minggo please, take a look at the PR for v3.12:  https://github.com/cocos2d/cocos2d-x/pull/15946 Thanks.

[2016-06-23 16:34] ricardoquesada commented on #15944
what cocos2d-x version are you using? I think this has been fixed long ago.

[2016-06-24 01:34] minggo commented on #15937
@ricardoquesada thanks, i have merged it into v3.12.
@zilongshanren could you please test it or ask developer to do testing, thanks.

[2016-06-24 01:36] minggo commented on #15889
@natural-law could you please take a look and describe the commands to @slackmoehrle , then @slackmoehrle can complete the the documentation.

[2016-06-24 01:43] minggo commented on #15898
So the js codes are invoked by `WsThreadHelper::sendMessageToUIThread`?

[2016-06-24 01:50] #15806 closed, assigned to nobody

[2016-06-24 02:00] iNeverSleeeeep commented on #15898
I just use the cocos2d-js APIs, and I think it's better for you to just take a look at the websocket codes.
Any way, i will post some codes down here.

[code]

I don't know how to make it more clear.
Maybe call renderTexture.beginWithClear() in update is wrong, although I don't think of it.

[2016-06-24 02:09] natural-law commented on #15889
http://www.cocos2d-x.org/wiki/Cocos2d-console
@slackmoehrle
Here is a document in English I write before. You can see most of the commands usage.

For more details of the commands:
- Commands `gen-simulator`, `gen-libs` & `gen-templates` are added for Cocos Bundle Package (I mean the bundle with Cocos Studio).
- In my mind, command `framework` is added by @dualface team. And when the `package` com

[2016-06-24 02:25] minggo commented on #15898
@iNeverSleeeeep Sorry, i thought you modify c++ codes, i am not familiar with JSB. @pandamicro could you please take a look?

[2016-06-24 02:57] #14827 closed, assigned to zilongshanren

[2016-06-24 04:00] iNeverSleeeeep commented on #15898
This is cpp codes, copy it into cpp-empty-test. It won't crash cocos but cause an OpenGL error, I think this is because the code is simple and there is not to much memory read/write.

[code]

output:

[code]

[2016-06-24 04:14] ricardoquesada commented on #15937
thanks. closing this issue. we should reopen it in case the developer finds more bugs.

[2016-06-24 04:14] #15937 closed, assigned to ricardoquesada

[2016-06-24 05:41] iNeverSleeeeep commented on #15898
![cocos bug](https://cloud.githubusercontent.com/assets/8469299/16328876/f6029f8a-3a10-11e6-9857-1bfc84d62d75.png)

see _refrenceCount, It's 0.

[2016-06-24 06:30] pandamicro commented on #15851
@pandemosth I reproduced the issue, and sorry about what I said earlier, your solution is the correct one, when `CC_ENABLE_GC_FOR_NATIVE_OBJECTS` is disabled, we need to manually root JS object to prevent them from being garbage collected, and in jsb_ref_rebind, it's missing.

[2016-06-24 06:36] cyutao7545 opened #15953 "cocos2d-x v3.10 run on iphone5(Release) CocosBuilderTest's cccontrolbutton click the button callback unresponsive"

[2016-06-24 06:38] cyutao7545 commented on #15953
@minggo

[2016-06-24 07:19] mayflaver opened #15955 "cocos2d-x with ipv6"
hi, has anyone make cocos2d-x with ipv6? I can't connect to server

[2016-06-24 09:22] #15851 closed, assigned to pandamicro

[2016-06-24 09:26] minggo commented on #15955
Have you use new version of CURL and websockets?
What's your error?

[2016-06-24 09:27] minggo commented on #15953
I will have a try.

[2016-06-24 09:48] minggo commented on #15953
Does it only happen on iPhone5? I tested with iPhone6, it worked ok.

[2016-06-24 09:49] minggo commented on #15944
Yep, i just compile cpp-tests too, there is not problem.
Could you please describe your problem step by step?

[2016-06-24 09:54] cyutao7545 commented on #15953
yes, only on IPhone5 and on XCode 7.3 , must be release, debug mode have no problem

[2016-06-24 10:12] minggo commented on #15953
Sorry, i don't have iPhone5.

[2016-06-24 10:21] cyutao7545 commented on #15953
ipad 1 have same issue

[2016-06-24 15:26] ricardoquesada commented on #15889
we can safely remove `cocos gui` since it was supposed to call "cocos-console-gui", the GUI frontend for `cocos`, but the GUI was cancelled.

In fact, I don't recall merging the `cocos gui` PR... probably someone else merge my PR about `cocos gui`. In any case, we can safely remove it.

[2016-06-24 15:28] ricardoquesada commented on #15805
sounds good. have anyone reported a crash? what does the specification say?
IIRC, `glMapBuffer` was not part of GL ES 2.0, but perhaps it is part of 3.0 now.

[2016-06-24 15:32] ricardoquesada commented on #15890
yes, `--list-templates` was supposed to be part of the big refactoring a did for the cocos console, including a GUI frontend. but unfortunately that project was cancelled.
They can be removed safely.

I'll remove them.

[2016-06-24 16:11] slackmoehrle commented on #15889
@natural-law I'm sorry, but your explanation isn't good enough for me to work with.

Example:
- Commands `gen-simulator`, `gen-libs` & `gen-templates` are added for Cocos Bundle Package (I mean the bundle with Cocos Studio).

But Cocos Studio is EOL'd, so do we still need these commands? I know we do `gen-libs`. But what does `gen-simulator` and `gen-templates` actually do? According to: http://ww

[2016-06-24 18:46] ricardoquesada commented on #15934
sent PR to v3.12. awaiting @minggo approval.
I'll merge the PR sent to v3.

[2016-06-25 01:30] ricardoquesada commented on #15890
fixed here: https://github.com/cocos2d/cocos2d-console/pull/352
and in v3.

let me know if you think it should be fixed in v3.12

[2016-06-25 01:30] #15890 closed, assigned to ricardoquesada

[2016-06-25 10:51] Seryusjj commented on #15694
@ricardoquesada you can close this issue too.

[2016-06-25 16:42] ricardoquesada commented on #15694
closed. thanks.

[2016-06-25 16:42] #15694 closed, assigned to nobody

[2016-06-25 16:43] ricardoquesada commented on #15955
and what cocos2d-x version are you using?

[2016-06-26 10:21] halx99 opened #15965 "Discuss about remove cocos2d::Node _orderOfArrival?"
It's for simplify & robustness.

[2016-06-27 01:24] #15871 closed, assigned to minggo

[2016-06-27 01:32] zilongshanren commented on #15943
EditBox should implement IDEDelegate and provide two method to open keyboard and close keyboard manually.

[2016-06-27 01:38] halx99 commented on #15896
PR:  #15939

[2016-06-27 01:38] #15896 closed, assigned to nobody

[2016-06-27 01:40] minggo commented on #15890
Thanks @ricardoquesada , keep 3.12 as it is now is ok to me since it is not a critical bug.

[2016-06-27 01:44] grayzou1983 commented on #15871
Hi, we have tried it, and it works! Thank you!

[2016-06-27 01:44] minggo commented on #15871
@grayzou1983 thanks for your feedback.

[2016-06-27 02:09] natural-law commented on #15889
@slackmoehrle Sorry for my simple reply.
- `gen-simulator` is used for generating simulator. The simulator is for preview function in Cocos Studio at first. But now Cocos Creator is using it for preview the project too.
- `gen-templates` is used for generating [**binary templates**<sup>1</sup>](#binary-template). Binary templates are required by **Cocos Bundle Package**. Also they are required by

[2016-06-27 03:28] ricardoquesada commented on #15890
ok. thanks.

[2016-06-27 05:57] jmclaveria commented on #15652
@dumganhar Is there any chance to upload the source code please?

[2016-06-27 06:00] dumganhar commented on #15652
@jmclaveria , ok, I will upload the test project soon. Please wait a moment.

[2016-06-27 06:20] dumganhar commented on #15652
@jmclaveria , here it is: https://github.com/dumganhar/android-ndk/tree/audio/hello-jni

Please checkout my `audio` branch, and import hello-jni project in the latest Android Studio(I uses 2.1.2).

[2016-06-27 06:46] jmclaveria commented on #15652
@dumganhar Thank you :)

[2016-06-27 07:01] LeeMyoungYeol opened #15968 "getTimeInMilliseconds"
Wrong time on android  -> utils::getTimeInMilliseconds()
- add  (long long)

long long getTimeInMilliseconds()
{
    struct timeval tv;
    gettimeofday (&tv, nullptr);
    return (long long)tv.tv_sec \* 1000 + tv.tv_usec / 1000;
}

[2016-06-27 07:17] dumganhar commented on #15652
@jmclaveria , you could also refer to the test case (https://github.com/cocos2d/cocos2d-x/pull/15875) @Drakon-Cocos uploaded.

[2016-06-27 09:28] hujiabei commented on #15871
Hi , my libpng version is 1.2.46 now, and I have replaced "prebuilt /libpng" and added "zlib" ,then I use the order("unzip -p proj.android.apk | strings | grep "libpng" ") to check the version of libpng ,but output wrong version. The version is still 1.2.46 instead of 1.6.16. Where is the mistake made by me?

[2016-06-27 10:06] qinhanlei opened #15969 "git clone failed on Mac OS X 10.11.5"
[code]

git version 2.7.4 (Apple Git-66)
curl 7.43.0 (x86_64-apple-darwin15.0)
OpenSSL 0.9.8zh 14 Jan 2016

[2016-06-27 10:46] Bilalmirza commented on #15652
I'll keep updating the list... any specific devices you want the test on please let me know

https://docs.google.com/spreadsheets/d/1XBGHQQGzF1JrhqzREYwgwes5M4uqJS-mgP3Dk5QpT_w/edit?usp=sharing

[2016-06-27 12:53] treert commented on #13525
this problem still exsit !

[2016-06-27 14:53] huangapple opened #15972 "websocket doesn't support SSL"

[2016-06-27 16:07] ricardoquesada commented on #15969
could you try again? perhaps it was your internet conneciton

[2016-06-27 16:08] ricardoquesada commented on #15972
what is wss? and what is its use case? thanks.

[2016-06-27 16:11] slackmoehrle commented on #15969
Hi @qinhanlei This has happened to me when my Internet connection gets interrupted. I am running **git 2.8.0** and I cloned the repo this morning without an issue.

[2016-06-27 17:37] qinhanlei commented on #15969
@ricardoquesada
That was very strange in recent days.
I tried clone this repo several times and failed on my new mac book pro which in my office.
The Internet connection is well.
Perhaps I need a proxy? I'll try again next time.
Thanks for your reply.

[2016-06-27 17:44] qinhanlei commented on #15969
Hi @slackmoehrle ,
Thanks for your reply,
I'll try proxy this day, perhaps some WALL improved cause some G19, G21 thing was going on in my city...

[2016-06-27 18:14] huangapple commented on #15972
@ricardoquesada
sorry, I didn't say that clearly.
ws  is websocket, wss is websocket safe, like  http  and https  protocol ??
like https://github.com/cocos2d/cocos2d-x/blob/v3/tests/js-tests/src/ExtensionsTest/NetworkTest/SocketIOTest.js  line162, ws link.
i can't  use wss protocol ,  even though my service support wss protocol .

[2016-06-27 18:59] binbin8300 commented on #8528
the same problem,
pls try to fix it

[2016-06-28 00:44] joewan commented on #15661
。。。。。。。。

[2016-06-28 01:43] minggo commented on #8528
@binbin8300 What's your engine version?

[2016-06-28 02:07] #15934 closed, assigned to ricardoquesada

[2016-06-28 06:08] binbin8300 commented on #8528
@minggo cocos2d-x-3.3rc2

[2016-06-28 08:00] grayzou1983 commented on #15871
Hi, we just updated it, and upload to google play, and the warning is shown for last version.
So we thought it works.
As for grep methods, we are not used it for checking. We will tried it further.

Thank you

Best Regards
Zou Chenyi

[2016-06-28 08:04] grayzou1983 commented on #15871
Hi, our apk check version is below:
unzip -p cf3_swich_test.apk | strings | grep "libpng"
png_get_libpng_ver
Application built with libpng-
libpng version 1.6.16 - December 22, 2014
 libpng version 1.6.16 - December 22, 2014
gamma value does not match libpng estimate
libpng warning: %s
libpng error: %s
libpng does not support gamma+background+rgb_to_gray

it really updated libpng into 1.6.16

[2016-06-28 08:42] minggo opened #15978 "Don't have to check APK if the path is an absolute path"
[FileUtilsAndroid::isDirectoryExistInternal()](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/android/CCFileUtils-android.cpp#L196) will search APK if the file path is an absolute path, but it is not needed.

[2016-06-28 08:45] minggo commented on #15969
@qinhanlei Are you in China? I have not problem to access github these days, and i am in China too.

[2016-06-28 08:47] minggo commented on #15968
@LeeMyoungYeol What's the error? How can i reproduce it?

[2016-06-28 08:48] minggo commented on #15965
Yep, i think we can remove it. It is not used any more.

[2016-06-28 10:16] qinhanlei commented on #15969
Hi @minggo ,
Yeah, I'm in Hangzhou now.
Recently I access github also fine but cocos2d-x repo.
I tried VPN which in California, still got failed:

[code]

But I clone other repos all well like below:

[code]

It seems the Internet connection is well.
Is that something wrong with my git configuration or else?

[2016-06-28 10:47] #9821 closed, assigned to nobody

[2016-06-28 12:21] huangapple opened #15981 "socketio fireEvent 'message' event repeat?"
at https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/network/SocketIO.cpp line 945, 946, fireEvent repeat？
Consider this situation, I invoke SIOClient::on("message").

[2016-06-28 16:24] slackmoehrle commented on #15969
I just tried myself

[code]

[2016-06-28 19:43] ricardoquesada commented on #15969
I guess it is related to the cocos2d-x repo size which might be bigger than Urtho3d.

[2016-06-28 20:52] ricardoquesada commented on #14116
thanks. could you put more details about it?  how should we use it? (a patch would be great)
thanks.

[2016-06-28 20:58] slackmoehrle commented on #15889
@natural-law this is helpful. I will use it to update the Cocos command-line chapter.

[2016-06-28 23:17] ricardoquesada commented on #14070
thanks. fixed.

[2016-06-28 23:17] #14070 closed, assigned to ricardoquesada

[2016-06-28 23:21] ricardoquesada commented on #14048
@fantasygan sorry, what's the bug? could you add more info? what's is the expected behavior and what are the steps to reproduce it? thanks.

[2016-06-29 00:09] ricardoquesada commented on #14050
closed, since PR #14090 was already merged

[2016-06-29 00:09] #14050 closed, assigned to nobody

[2016-06-29 00:20] ricardoquesada commented on #14011
@letrungtrung please, take a look at this:
http://stackoverflow.com/questions/19750275/why-does-gaps-between-tiles-in-an-orthogonal-tilemap-cocos2d-game-appear-when-ru

in particular, make sure that you are using a `highp` precision in your shaders

[2016-06-29 00:35] ricardoquesada commented on #14017
@KAMIKAZEUA we upgraded to chipmunk v7.0 we are going to use its auto-geometry code soon

@yaxinhoo the current code is buggy, and doesn't support more than one island. When there are more than one island it will jus pick the one (not sure which one, but I guess the one that is closer to the top-left corner).
And in your image, the banana, there are two islands:
- the banana (right part of the ima

[2016-06-29 00:40] ricardoquesada commented on #14010
I confirm that v3.12 compiles Ok on Linux. fixed.

[2016-06-29 00:40] #14010 closed

[2016-06-29 02:44] mayflaver commented on #15955
I make a mistake, fixed is, thanks.

[2016-06-29 02:44] #15955 closed, assigned to nobody

[2016-06-29 03:13] ricardoquesada commented on #13901
yes, we should improve that.
we can disable certain functionality from the `ccConfig.h` file.

[2016-06-29 03:17] ricardoquesada commented on #13773
@jonnyijapan thanks, interesting.
do you have the map files? could you tell us which function it is calling on `cocos2d::Label::~Label() + 120` ? thanks.

[2016-06-29 03:19] ricardoquesada commented on #13757
could you be more specific? what do you mean by that? Thanks.

[2016-06-29 03:21] ricardoquesada commented on #13751
could you post the code to reproduce it?
cocos2d uses the java activity, not the native activity... which one did you replace?

[2016-06-29 03:22] ricardoquesada commented on #13743
sure, but what is "rotation"? Is this any kind of standard attribute in tiledmap ? thanks.

[2016-06-29 03:25] ricardoquesada commented on #13675
we are not supporting cocos studio anymore. won't fix. sorry.

[2016-06-29 03:25] #13675 closed, assigned to nobody

[2016-06-29 03:26] ricardoquesada commented on #13674
closing it since, as @minggo said, it is fixed in #14890

[2016-06-29 03:26] #13674 closed, assigned to nobody

[2016-06-29 03:31] ricardoquesada commented on #13605
Note: this is a JS thing, not a C++, obviously, because in C++ you can override `reverse` and `clone`

[2016-06-29 03:34] ricardoquesada commented on #13494
I think this bug was inherited from cocos2d-iphone which it also inherited it from cocos2d-python... code from 2008.
The code `CCFadeOutTiles` probably needs to be rewritten

[2016-06-29 03:38] ricardoquesada commented on #13461
probably you are referring to the singletons. please provide more info, otherwise it will be difficult to fix them. thanks.

[2016-06-29 03:39] ricardoquesada commented on #13358
link seems to be broken. could you post the new link? or attach the model? thanks.

[2016-06-29 04:40] #13351 closed, assigned to ricardoquesada

[2016-06-29 04:40] ricardoquesada commented on #13351
thanks. fixed.

[2016-06-29 05:17] xschool2010 commented on #15631
it still doesn't work on iOS... @Drakon-Cocos

[2016-06-29 05:54] Anywhere-Music-Player commented on #14017
@ricardoquesada sounds good, but why you don't update to use code from autogeometry of chipmunk? To support all cases.

[2016-06-29 06:02] roed commented on #15972
You have to compile libwebsockets with ssl support. The precompiled libraries that come with cocos do not have ssl support yet.

[2016-06-29 06:22] ricardoquesada commented on #14017
@KAMIKAZEUA it's in the todo list :)  but if in the meantime you want to send a PR with that patch, it would be great. thanks.

[2016-06-29 06:23] ricardoquesada commented on #12152
closing it since this is just a reminder that we should fix #9499.

[2016-06-29 06:23] #12152 closed, assigned to nobody

[2016-06-29 06:26] Anywhere-Music-Player commented on #14017
@ricardoquesada to be honest I stopped development using -x recently, but I'm looking forward for new improvements, so I can start to use it later :)

[2016-06-29 06:26] ricardoquesada commented on #11766
fixed. chipmunk v7.0 was added in v3.9 or v3.10...

[2016-06-29 06:26] #11766 closed, assigned to nobody

[2016-06-29 06:30] ricardoquesada commented on #13391
fixed by @minggo a few months ago. closing issue.

[2016-06-29 06:30] #13391 closed, assigned to nobody

[2016-06-29 06:31] ricardoquesada commented on #11748
@RustyMoyher I can work on this... how difficult was to upgrade to v3.1.2? Did you have to patch the code? if so, where? could you send me the patch? thanks.

[2016-06-29 06:36] minggo commented on #15972
Yep, as the [compiling flags](https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/blob/v3/contrib/src/websockets/rules.mak#L29) shows, SSL is disabled. I think we should enable it.

[2016-06-29 06:40] minggo commented on #15969
@qinhanlei I think it is nothing about git configuration. I am cloning cocos2d-x v2 branch, and there is ok until now.

[code]

I am cloning v2 branch just for convenient, because it is not easy to switch from v3 to v2.

[2016-06-29 06:40] minggo commented on #15969
And i don't use VPN. I am in Xiamen.

[2016-06-29 06:50] minggo commented on #15981
I think they are for different purposes. `fireEvent` can send event to every listing object, it doesn't have to be a delegate of SocketIO, and `onMessage` just invoke delete's corresponding method.

[2016-06-29 06:50] #15981 closed, assigned to nobody

[2016-06-29 06:53] minggo commented on #15891
@frranck any update?

[2016-06-29 06:54] minggo commented on #15889
@slackmoehrle can i close the issue?

[2016-06-29 06:59] minggo commented on #8341
Now the codes is

[code]

And the type of `_totalQuads` is `ssize_t`. So the issue is fixed.

[2016-06-29 06:59] #8341 closed, assigned to nobody

[2016-06-29 07:03] minggo commented on #8349
The codes changed and fixed the problem.

[2016-06-29 07:03] #8349 closed, assigned to nobody

[2016-06-29 07:22] minggo commented on #8400
It seems there is no other developers need this feature, so close it.

[2016-06-29 07:22] #8400 closed, assigned to nobody

[2016-06-29 07:25] minggo commented on #8417
rich text is refactored , so close this issue.

[2016-06-29 07:25] #8417 closed, assigned to nobody

[2016-06-29 07:25] frranck commented on #15891
@minggo No, I pull the latest cocos2d-x version and still can't compile the tests;
I'm running "python android-build.py -p 23 cpp-tests" and get this error:

[code]

[2016-06-29 07:29] minggo commented on #15891
@frranck did you updated 3rd party libraries by using `./download-deps.py`?

[2016-06-29 07:34] huangapple commented on #15981
@minggo
but i will receive ‘message’  message twice.

[2016-06-29 07:34] minggo commented on #8451
The search path should be the path that the app lies in, because generated app may be put in any place.

[2016-06-29 07:34] #8451 closed, assigned to nobody

[2016-06-29 07:36] minggo commented on #15981
then i think you don't have to listen the event, just use delegate instead

[2016-06-29 07:40] minggo commented on #8459
Yep, it is a duplicated issue of Microsoft/angle#2. And we can do nothing about angle.

[2016-06-29 07:40] #8459 closed, assigned to nobody

[2016-06-29 07:45] frranck commented on #15891
@minggo Yes I did that, and just did it again: same problem. :(

[2016-06-29 07:48] minggo commented on #8452
I just tested latest codes, the issue is fixed.

[2016-06-29 07:48] #8452 closed, assigned to nobody

[2016-06-29 07:53] minggo commented on #8519
@stammen is the codes included in v3.12?

[2016-06-29 08:00] alfogrillo commented on #15631
@xschool2010
What does not work?
I use my custom `PageViewCustom` both on iOS (8.4) and Android and work properly!
Anyway as I said before this solution is not ideal because `PageView::setCurrentPageIndex` is not `virtual`!
If you do something like that, the event  PageView::EventType::TURNING will not be triggered:

[code]

[2016-06-29 08:07] minggo commented on #8525
I just test latest codes, sequence works correctly.

[2016-06-29 08:07] #8525 closed, assigned to nobody

[2016-06-29 08:08] minggo commented on #8994
it is fixed

[2016-06-29 08:08] #8994 closed, assigned to nobody

[2016-06-29 08:12] minggo commented on #15891
I just synchronized to v3, and run `./android-build.py -p 23 cpp-tests`, there is not problem. I have not idea with the issue, but i think you can do the following and try again
- remove `tests/cpp-tests/proj.android/libs` and `tests/cpp-tests/proj.android/obj`
- remove all 3rd party libraries in `external` and run `./download-deps.py` again

[2016-06-29 08:14] minggo commented on #8917
I have't met the error using eclipse for a long time, so close it.

[2016-06-29 08:14] #8917 closed, assigned to WenhaiLin

[2016-06-29 08:15] alfogrillo commented on #15631
My proposal to fix this:
https://github.com/cocos2d/cocos2d-x/pull/16002

[2016-06-29 08:16] minggo commented on #8771
I haven't met the error and no other developers met it, so close it.

[2016-06-29 08:16] #8771 closed, assigned to nobody

[2016-06-29 08:32] minggo commented on #9471
duplicated with #8764, so close this one

[2016-06-29 08:32] #9471 closed, assigned to nobody

[2016-06-29 08:33] minggo commented on #8952
it is fixed, now all header path is relative to `cocos`.

[2016-06-29 08:33] #8952 closed, assigned to nobody

[2016-06-29 08:36] minggo commented on #8711
the frame limitation codes are added again, and it works

[2016-06-29 08:36] #8711 closed, assigned to nobody

[2016-06-29 08:38] minggo commented on #8654
we just use system's WebView to implement UIWebView, we will not make sprite on top of it

[2016-06-29 08:38] #8654 closed, assigned to nobody

[2016-06-29 08:40] minggo commented on #8632
I think it is fixed in latests codes, please reopen it if it has problem.

[2016-06-29 08:40] #8632 closed, assigned to nobody

[2016-06-29 08:43] #15370 closed, assigned to slackmoehrle

[2016-06-29 08:43] #8545 closed, assigned to nobody

[2016-06-29 08:46] minggo commented on #8538
Since make Event not inherits from Ref will break compatibility and bring unknown errors, so close this issue.

[2016-06-29 08:46] #8538 closed, assigned to nobody

[2016-06-29 08:52] minggo commented on #8534
I tested it with latest codes, and could not reproduce it, so close it.

[2016-06-29 08:52] #8534 closed, assigned to nobody

[2016-06-29 08:54] minggo commented on #8528
I think @dumganhar may know it, since he is more familiar with websocket

[2016-06-29 08:57] minggo commented on #8996
I think it is reasonable to make the functions public. @dumganhar , is there reason that they are declared as protected?

[2016-06-29 08:59] dumganhar commented on #8528
@binbin8300 , it probably have been fixed in the latest release. Please try to use the latest release (currently v3.11.1) and give us your feedback.

[2016-06-29 09:03] minggo commented on #8996
The benefit i can image is that, we don't have to bind it to lua/js if they are not needed.

[2016-06-29 09:10] minggo commented on #9008
And Android cache will be added, can refer to #15875 for detail information.

[2016-06-29 09:11] minggo commented on #9008
So close this issue and please refer to the PR.

[2016-06-29 09:11] #9008 closed, assigned to nobody

[2016-06-29 09:12] minggo commented on #9006
cocos is implemented to compile cocos2d-x codes, not for other purpose

[2016-06-29 09:12] #9006 closed, assigned to nobody

[2016-06-29 09:13] minggo commented on #9051
cocos studio is canceled, so close the issue

[2016-06-29 09:13] #9051 closed, assigned to nobody

[2016-06-29 09:19] minggo commented on #9102
there is not plan to support cmake+clion, and cmake works correctly on mac, so close this issue

[2016-06-29 09:19] #9102 closed, assigned to nobody

[2016-06-29 09:20] minggo commented on #9109
already use flatbuffer for studio reader, so close this issue

[2016-06-29 09:20] #9109 closed, assigned to nobody

[2016-06-29 09:20] minggo commented on #9153
cocos studio is canceled, so close this issue

[2016-06-29 09:20] #9153 closed, assigned to nobody

[2016-06-29 09:41] minggo commented on #9319
Now cocos will detect python version and print error message if the version is wrong. And we can not assume all developers use python2 to refer to correctly version, so close this issue.

[2016-06-29 09:41] #9319 closed, assigned to nobody

[2016-06-29 09:47] minggo commented on #9639
cocos studio is canceled, so close this issue

[2016-06-29 09:47] #9639 closed, assigned to nobody

[2016-06-29 09:47] #9581 closed, assigned to nobody

[2016-06-29 09:49] minggo commented on #9532
cocos studio is canceled, so close this issue

[2016-06-29 09:49] #9532 closed, assigned to nobody

[2016-06-29 09:49] minggo commented on #9444
build_native.py is removed now

[2016-06-29 09:49] #9444 closed, assigned to nobody

[2016-06-29 09:51] #9386 closed, assigned to nobody

[2016-06-29 09:53] minggo commented on #10170
I haven't met the problem, so close it.

[2016-06-29 09:53] #10170 closed, assigned to nobody

[2016-06-29 09:56] minggo commented on #9930
duplicated with #5972

[2016-06-29 09:56] #9930 closed, assigned to nobody

[2016-06-29 11:38] frranck commented on #15891
@minggo Just did the whole process you described and I still get the exact same error.

[2016-06-29 13:34] MrCapone opened #16003 "Design Resolution broken after minimize window on win32"
After minimize window design resolution sets to window size. This can cause problems if design resolution does not equal to frame size. Sample code

`glview = GLViewImpl::createWithRect("MyGame", Rect(0, 0, 1280, 720));`
`director->setOpenGLView(glview);`
`glview->setDesignResolutionSize(640, 360, ResolutionPolicy::FIXED_WIDTH);`

Before minimize `Director::getInstance()->getVisibleSize()` will re

[2016-06-29 14:36] slackmoehrle opened #16004 "`cocos package list` wants to update SDKBOX and packages are not in alphabetical order."
When executing `cocos package list`:
- first, it wants to update SDKBOX and this doesn't need to happen when just listing out what packages a user can install.

[code]
- second, the packages are not in any order that is easy for the user to understand and see what they can install (i.e alphabetical)

[code]

[2016-06-29 14:37] slackmoehrle opened #16005 "`cocos package list` doesn't include any VR packages"
When executing `cocos package list` we don't have any VR packages listed yet. We are deploying v3.12 in one day and VR is included, yet we don't let the user install it. I can't write this piece for the docs without telling the user how to install it.

[2016-06-29 14:42] RustyMoyher commented on #11748
@ricardoquesada No, I don't make any code changes to cocos2d-x. Just compile GLFW for each desktop platform and replace the GLFW header files with the new ones.

[2016-06-29 15:53] ricardoquesada commented on #11748
@RustyMoyher thanks. it seems that v3.2 was released a few weeks ago. I'll use that one instead.

[2016-06-30 00:00] #15889 closed, assigned to nobody

[2016-06-30 00:21] ricardoquesada commented on #11748
fixed. Using GLFW v3.2

[2016-06-30 00:21] #11748 closed, assigned to ricardoquesada, zilongshanren

[2016-06-30 00:22] ricardoquesada commented on #15791
done in https://github.com/cocos2d/cocos2d-x/issues/11748

[2016-06-30 00:22] #15791 closed, assigned to ricardoquesada

[2016-06-30 00:30] ricardoquesada commented on #11889
fixed in https://github.com/cocos2d/cocos2d-x/issues/11748
upgraded to GLFW v3.2

[2016-06-30 00:30] #11889 closed, assigned to nobody

[2016-06-30 00:55] ricardoquesada commented on #13237
thanks. I'll work on this one.

[2016-06-30 01:53] minggo commented on #15891
@frranck Sorry, i have no idea, the problem may be the deps is not correct, but you use `./download-deps.py` to update it, so there should not problem.

[2016-06-30 02:23] minggo commented on #9661
Since cocos studio is canceled, so close this issue.

[2016-06-30 02:23] #9661 closed, assigned to zilongshanren

[2016-06-30 02:27] minggo commented on #9815
It is because in v3.x, render command is send to render queue to draw something. So can not use v2 codes directly in v3, should use custom command to do the same thing. Can refer to how `DrawNode` is implemented in v3.

[2016-06-30 02:27] #9815 closed, assigned to dabingnn

[2016-06-30 02:28] minggo commented on #9912
There is not plan to support controller on PC right now, so close this issue.

[2016-06-30 02:28] #9912 closed, assigned to nobody

[2016-06-30 02:30] minggo commented on #9925
It is fixed by @zilongshanren , so close it.

[2016-06-30 02:30] #9925 closed, assigned to nobody

[2016-06-30 02:33] minggo commented on #10193
since cocos studio is canceled, so close this issue

[2016-06-30 02:33] #10193 closed, assigned to nobody

[2016-06-30 02:34] #10280 closed, assigned to nobody

[2016-06-30 02:34] minggo commented on #10284
since v4.0 is freeze, so close this issue

[2016-06-30 02:34] #10284 closed, assigned to nobody

[2016-06-30 02:35] #10326 closed, assigned to nobody

[2016-06-30 02:36] minggo commented on #10341
cocos package is canceled, so close this issue

[2016-06-30 02:36] #10341 closed, assigned to nobody

[2016-06-30 02:36] #10364 closed, assigned to nobody

[2016-06-30 02:39] minggo commented on #10518
I haven't found screen rotation issue, so close this issue.

[2016-06-30 02:39] #10518 closed, assigned to nobody

[2016-06-30 02:40] minggo commented on #10562
It is already added.

[2016-06-30 02:40] #10562 closed, assigned to WenhaiLin

[2016-06-30 02:47] minggo commented on #10863
Thanks, but please don't use github issue system for this purpose. May be you can put the codes to [cocos2d-x forum](http://discuss.cocos2d-x.org/).

[2016-06-30 02:47] #10863 closed, assigned to nobody

[2016-06-30 02:49] minggo commented on #10881
I think we can consider 3d features in future, but not currently, so close this issue.

[2016-06-30 02:49] #10881 closed, assigned to nobody

[2016-06-30 02:51] minggo commented on #10933
Windows platform is just to be convenient for developing mobile games, so close this issue.

[2016-06-30 02:51] #10933 closed, assigned to nobody

[2016-06-30 02:51] #11023 closed, assigned to nobody

[2016-06-30 02:52] #11133 closed, assigned to dualface

[2016-06-30 02:53] minggo commented on #11163
RichText is refactored, so close this issue.

[2016-06-30 02:53] #11163 closed, assigned to zilongshanren

[2016-06-30 02:56] minggo commented on #11561
AnySDK is integrated with creator, so i thin we can close this issue.

[2016-06-30 02:56] #11561 closed, assigned to nobody

[2016-06-30 02:59] minggo commented on #11629
I think we should not modify it in v3, but can consider it in future, so close it.

[2016-06-30 02:59] #11629 closed, assigned to nobody

[2016-06-30 02:59] quannv108 commented on #13743
what is "rotation"=> in Tiled tool, user can place a tile, then rotate that tile.
I think it's not standard of tiledmap, but if developer can rotate a tile in Tiled tools, then we should support that.

[2016-06-30 03:01] minggo commented on #11737
v2 branch is into maintain mode, will only fix critical bugs, so close this issue.

[2016-06-30 03:01] #11737 closed, assigned to nobody

[2016-06-30 03:01] #11738 closed, assigned to nobody

[2016-06-30 03:02] #11765 closed, assigned to pandamicro

[2016-06-30 03:04] #12046 closed, assigned to nobody

[2016-06-30 03:05] #12047 closed, assigned to nobody

[2016-06-30 03:06] minggo commented on #12439
We haven't met the issue in the cpp-tests, so close this issue.

[2016-06-30 03:06] #12439 closed, assigned to nobody

[2016-06-30 10:24] jasonwan2016 commented on #15968
I found a long long value will be wrong in android, but currect in win32.
For example: store 1467282355000 in a long long variable, it will be correct in win32, but become negative in android (A samsung device (pad)).

[2016-07-01 02:06] minggo commented on #15968
@jasonwan2016 did you mean Android doesn't support `long long`? And have you met problem in cocos2d-x with this issue? Do you have any suggestion with this issue? Use `long` instead?

[2016-07-01 02:08] minggo commented on #15965
fixed in #16009

[2016-07-01 02:09] #15965 closed, assigned to nobody

[2016-07-01 02:14] minggo commented on #15652
Hi all, i will close this issue since the rendering performance issue is fixed. And i will change the issue title to `Android rendering performance`.

And i think it is better to create a new issue for Audio Engine performance issue.

[2016-07-01 02:31] minggo opened #16012 "AudioEngine performance issue on Android"
AudioEngine has performance issue on Android, and there are some discussion in #15652 . There is a corresponding PR for it #15875. It is in progress.

[2016-07-01 02:31] minggo commented on #15652
I created #16012 for audio engine issue.

[2016-07-01 02:31] #15652 closed, assigned to dumganhar

[2016-07-01 03:03] minggo commented on #16005
@slackmoehrle do you still have any problem with VR doc?

[2016-07-01 03:05] minggo commented on #16004
@slackmoehrle i think you should ask @darkdukey to take a look.

[2016-07-01 03:16] minggo commented on #15969
I can clone cocos2d-x in China. I think it is nothing about cocos2d-x. The only thing is that, cocos2d-x repo is too big but it is another issue. So close this issue.

[2016-07-01 03:16] #15969 closed, assigned to nobody

[2016-07-01 03:17] minggo commented on #15944
I don't met the issue and i am using Xcode 7.3 for a long time. So close this issue.

[2016-07-01 03:17] #15944 closed, assigned to nobody

[2016-07-01 03:19] minggo commented on #15829
close this issue since it is a limitation of websockets

[2016-07-01 03:19] #15829 closed, assigned to nobody

[2016-07-01 03:25] minggo commented on #11556
It is fixed.

[2016-07-01 03:25] #11556 closed, assigned to nobody

[2016-07-01 03:25] minggo commented on #11548
Since cocos studio is canceled, so close this issue.

[2016-07-01 03:25] #11548 closed, assigned to nobody

[2016-07-01 03:29] minggo commented on #11402
Can not find `frameworks/js-bindings/cocos2d-x/cocos/network/HttpAsynConnection.m`, i think the codes are refactored, so close this issue.

[2016-07-01 03:29] #11402 closed, assigned to nobody

[2016-07-01 03:36] zilongshanren commented on #11368
Add this feature will cause some back compatibility issue, and I also added a cell reuse tests in cpp-tests and js-tests. So just close this issue now.

[2016-07-01 03:36] #11368 closed, assigned to nobody

[2016-07-01 03:39] minggo commented on #11563
All platforms are supported, so close this issue.

[2016-07-01 03:39] #11563 closed, assigned to nobody

[2016-07-01 03:42] #11775 closed, assigned to nobody

[2016-07-01 03:44] minggo commented on #12110
Since cocos studio is canceled, so close this issue.

[2016-07-01 03:44] #12110 closed, assigned to nobody

[2016-07-01 03:45] #12078 closed, assigned to nobody

[2016-07-01 03:48] minggo commented on #12370
Since cocos studio is canceled, so close this issue.

[2016-07-01 03:48] #12370 closed, assigned to nobody

[2016-07-01 03:50] minggo commented on #12347
Tizen implementation is updated  and merged into v3 branch, it will be included in v3.12. So close this issue.

[2016-07-01 03:50] #12347 closed, assigned to nobody

[2016-07-01 03:51] minggo commented on #12335
close it since #14423 is merged.

[2016-07-01 03:51] #12335 closed, assigned to nobody

[2016-07-01 04:29] qinhanlei commented on #15969
Hi, thanks for all your help.
I will try in other day else.

[2016-07-01 05:40] LeeMyoungYeol commented on #15968
My device android samsung s4  bad result, The iPhone is a good result.

'return tv.tv_sec \* 1000 + tv.tv_usec / 1000;'
The result comes across as negative.
So I added the (long long).

[2016-07-01 05:45] minggo commented on #12405
@pandamicro told me it is fixed, so close the issue.

[2016-07-01 05:45] #12405 closed, assigned to pandamicro

[2016-07-01 05:49] minggo commented on #15968
@LeeMyoungYeol Got it, will you send a PR to fix it?

[2016-07-01 05:52] minggo commented on #12227
Yep, there is not plan to use shared library, so close this issue

[2016-07-01 05:52] #12227 closed, assigned to nobody

[2016-07-01 05:55] minggo commented on #12292
It is fixed in latest codes.

[2016-07-01 05:55] #12292 closed, assigned to nobody

[2016-07-01 05:56] #12581 closed, assigned to nobody

[2016-07-01 06:03] minggo commented on #12563
fixed in #16015

[2016-07-01 06:03] #12563 closed, assigned to nobody

[2016-07-01 06:06] #12536 closed, assigned to nobody

[2016-07-01 06:06] #12531 closed, assigned to nobody

[2016-07-01 06:07] minggo commented on #12518
It is fixed.

[2016-07-01 06:07] #12518 closed, assigned to nobody

[2016-07-01 06:07] #12515 closed, assigned to nobody

[2016-07-01 06:08] minggo commented on #12512
We are adding support this feature in #15676, so close this issue.

[2016-07-01 06:08] #12512 closed, assigned to nobody

[2016-07-01 06:09] #12506 closed, assigned to nobody

[2016-07-01 06:10] minggo commented on #12468
since cocos studio is canceled, so close this issue

[2016-07-01 06:10] #12468 closed, assigned to dualface

[2016-07-01 06:18] #12638 closed, assigned to natural-law

[2016-07-01 06:21] minggo commented on #12645
It is already fixed.

[2016-07-01 06:21] #12645 closed, assigned to nobody

[2016-07-01 06:22] #12665 closed, assigned to nobody

[2016-07-01 06:24] minggo commented on #12688
It is already added in Xcode project Android.mk for cocos2d-xlua lib.

[2016-07-01 06:24] #12688 closed, assigned to nobody

[2016-07-01 06:25] #12694 closed, assigned to nobody

[2016-07-01 06:26] minggo commented on #12699
there is not plan to add these features, thanks

[2016-07-01 06:26] #12699 closed, assigned to nobody

[2016-07-01 06:28] minggo commented on #12704
Could you tell me why? And what's your suggestion?

[2016-07-01 06:29] #12705 closed, assigned to nobody

[2016-07-01 06:34] minggo commented on #13016
Since cocos studio is canceled, so close this issue.

[2016-07-01 06:34] #13016 closed, assigned to nobody

[2016-07-01 06:35] #12970 closed, assigned to natural-law

[2016-07-01 06:37] minggo commented on #12966
Since cocos studio is canceled, so close this issue.

[2016-07-01 06:37] #12966 closed, assigned to dabingnn

[2016-07-01 06:38] minggo commented on #12948
since cocos studio is canceled, so close the issue

[2016-07-01 06:38] #12948 closed, assigned to nobody

[2016-07-01 06:40] minggo commented on #12920
There is not plan to add this feature currently, may be in future.

[2016-07-01 06:40] #12920 closed, assigned to nobody

[2016-07-01 06:42] #13304 closed, assigned to nobody

[2016-07-01 06:49] minggo commented on #13205
I think it is fixed in latest codes, please refer to #15652 for detail information.

[2016-07-01 06:49] #13205 closed, assigned to nobody

[2016-07-01 07:29] xpol commented on #12704
Just removed the 2 lines and it works fine.
(Its too long, can't remember the detals.)

[2016-07-01 07:32] minggo commented on #12704
Ok, i will do more research.

[2016-07-01 07:43] minggo commented on #15978
fixed in #16017

[2016-07-01 07:43] #15978 closed, assigned to nobody

[2016-07-01 07:57] minggo commented on #12360
It is fixed

[2016-07-01 07:57] #12360 closed, assigned to nobody

[2016-07-01 08:42] yixiaoqingyuz commented on #13757
3D dynamic shadow

[2016-07-01 10:00] minggo commented on #15968
#16016

[2016-07-01 13:57] crazyhappygame commented on #15901
@stammen could you help me?

[2016-07-01 18:26] ricardoquesada commented on #13237
@JustVic your PR seems to work ok with the hex example that comes with Tiled.

But you mentioned that it fails with other cases? could you describe where it fails? thanks.

[2016-07-02 05:34] huangapple opened #16020 "在安卓下 ， 按电源键， 就再入游戏， 很经常崩掉。"
在安卓下 ， 按电源键， 就再入游戏， 崩掉。
点击按钮切到其它应用，再回来， 也崩掉。
按home键， 在桌面上一小段时间（30秒）出来， 也很经常崩掉。
是因为  某些缓存的精灵帧被释放了， 导致加载不到？？
或者 部分 着色器被释放了， 没有重新加载？？

这是bug吗？ cocos引擎能帮处理吗？或有没有什么解决思路？

[2016-07-02 07:41] gdbobu commented on #15953
@minggo I have this issues too,How to fix it? I don't know ,help

[2016-07-02 10:01] frranck commented on #15891
@minggo that's weird, the 'undefined reference to 'bsd_signal' is mentioned [here](https://github.com/rust-lang/libc/issues/236)

If you run:

Do you see that bsd_signal is used ?

[2016-07-02 19:31] uxdxdev commented on #15691
I'm getting this issue with 3.11 (.zip) on 16.04 for both cpp-tests and cocos new. Any tips?

EDIT:

Manually applied fixes from #15754, still fails.
Did not apply fixes from #15753 so now Im just going to pull the repo and use that.

[2016-07-02 22:31] slackmoehrle commented on #15691
if you apply both of those fixes you should be all set.

[2016-07-03 01:31] Aresky opened #16023 "JSB did not bind eventcontroller，why?"
JSB did not bind eventcontroller, why?
and cc.log is invaild at android platform. who knows why? thanks!

[2016-07-03 05:07] ricardoquesada commented on #13237
thanks. fixed in #16019

[2016-07-03 05:07] #13237 closed, assigned to ricardoquesada

[2016-07-03 15:35] alfogrillo opened #16026 "[Cocos2d-x 3.11, iOS] : AudioEngine does not play correctly some .wav files"
On iOS `experimental::AudioEngine` does not play correctly some .wav files.
When this happens the sound play is interrupted by multiple small intervals of silence.
The issue could be sound frequency related.
The same sound converted in .mp3 play correctly.

Here a sound that does not play correctly on iOS 8.4 (iPhone 6).
[sound.wav.zip](https://github.com/cocos2d/cocos2d-x/files/345141/sound.wav.z

[2016-07-04 01:25] minggo commented on #15891
But i also use NDK r11c and don't have any problem.

[2016-07-04 01:28] minggo commented on #15953
I will try to find a device to test.

[2016-07-04 01:29] minggo commented on #15968
@LeeMyoungYeol How did you print the result?

[2016-07-04 02:32] minggo commented on #16020
What's your engine version?
Did you use your own shader or create textures by yourself?

PS: please use english in later then developers all over the world can help you. You can paste english with Chinese like:

[code]

[2016-07-04 02:33] minggo commented on #16023
@pandamicro Could you please take a look?

[2016-07-04 02:35] minggo commented on #16026
It is better use platform specific audios. iOS supports .caf best, Android supports .ogg best.

[2016-07-04 02:37] huangapple commented on #16020
@minggo
engine version 3.11.1
no use own shader, and no create textures by myself.

[2016-07-04 02:41] minggo commented on #16020
Could you paste the error stack or provide a test case to reproduce it?

[2016-07-04 02:52] huangapple commented on #16020
@minggo
![image](https://cloud.githubusercontent.com/assets/10572028/16549752/12cb09ce-41d5-11e6-98b0-3a8111974f3a.png)

07-04 10:51:55.414: A/libc(14462): Fatal signal 11 (SIGSEGV), code 1, fault addr 0x30 in tid 14969 (GLThread 2144)

[2016-07-04 02:59] #15968 closed, assigned to nobody

[2016-07-04 03:10] minggo commented on #16020
@huangapple I think you should use `ndk-trace` to print human readable stack trace.

[2016-07-04 03:49] tankorsmash opened #16028 "removeFromParent doesn't work with ListView and PageView: ListView::_items doesn't get cleaned up"
Say you've got the following setup: a `ui::Widget` is added to a `ui::ListView`, then sometime later, instead of using `removeChild` on the `ui::ListView`, you  call [`my_widget->removeFromParent()`](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCNode.cpp#L994), the `ListView::innerContainer::removeChild` gets called, instead of [`ListView::removeChild`](https://github.com/cocos2d/cocos2d

[2016-07-04 04:19] mixi57 opened #16029 "function pageTurningEvent doesn't use in the new PageView"

[2016-07-04 05:44] #13320 closed, assigned to nobody

[2016-07-04 05:44] minggo commented on #13319
it is fixed

[2016-07-04 05:44] #13319 closed, assigned to nobody

[2016-07-04 05:48] minggo commented on #13254
close it since it is fixed in #13518

[2016-07-04 05:48] #13254 closed, assigned to nobody

[2016-07-04 05:48] 0xJimmyBeh opened #16030 "[Request] Add ability to adjust sprite Hue Brightness Contrast"
Hi,

https://github.com/fusijie/SpriteWithHue

I have follow this SpriteWithHue guide and success implemented into Cocos2d-JS v3.8.1.
Its working great.

I wonder why this great feature is not included into cocos engine.
It can save a lot image space if we want to use same image but different color.

Current tint color can't change sprite color like this.

However, to better adjust the sprite, it

[2016-07-04 05:49] minggo commented on #13252
it is fxed

[2016-07-04 05:49] #13252 closed, assigned to nobody

[2016-07-04 05:53] minggo commented on #13207
It is better to ask these question in forum:
- Chinese forum: http://forum.cocos.com/
- English forum: http://discuss.cocos2d-x.org/

[2016-07-04 05:53] #13207 closed, assigned to nobody

[2016-07-04 06:01] minggo commented on #13203
I think we need it. @ricardoquesada what's your opinion?

[2016-07-04 06:05] #13200 closed, assigned to nobody

[2016-07-04 06:07] minggo commented on #13195
it is fixed

[2016-07-04 06:07] #13195 closed, assigned to nobody

[2016-07-04 06:08] pandamicro commented on #12543
This issue will be closed because we have a solution in [Cocos Creator engine](https://github.com/cocos-creator/engine/)

Currently in Creator engine, we use node.js module API to reorganize, then pack them with browserify.

For Cocos2d-html5 engine, we don't have enough time to clean up everything recently.

[2016-07-04 06:09] #13165 closed, assigned to nobody

[2016-07-04 06:09] #12543 closed, assigned to VisualSJ

[2016-07-04 06:12] minggo commented on #13109
enable/disable culling in runtime is time consuming, so close it

[2016-07-04 06:12] #13109 closed, assigned to nobody

[2016-07-04 06:13] minggo commented on #13103
Since cocos studio is canceled, so close this issue

[2016-07-04 06:13] #13103 closed, assigned to nobody

[2016-07-04 06:16] #13362 closed, assigned to nobody

[2016-07-04 06:20] #13389 closed, assigned to nobody

[2016-07-04 06:23] minggo commented on #13390
i think bitcode is asked by apple, and cocos2d-x supports iOS 6.0+, so close it.

[2016-07-04 06:23] #13390 closed, assigned to nobody

[2016-07-04 06:24] #13394 closed, assigned to nobody

[2016-07-04 06:25] #13395 closed, assigned to nobody

[2016-07-04 06:28] #13435 closed, assigned to nobody

[2016-07-04 06:30] minggo commented on #13453
Any update of this issue?

[2016-07-04 06:31] minggo commented on #13458
there is not plan to add more 3d features right now

[2016-07-04 06:31] #13458 closed, assigned to nobody

[2016-07-04 06:34] #13468 closed, assigned to nobody

[2016-07-04 06:35] minggo commented on #13476
in v3.x we use our own binding generator

[2016-07-04 06:35] #13476 closed, assigned to nobody

[2016-07-04 06:36] #13008 closed, assigned to fusijie

[2016-07-04 06:42] #13515 closed, assigned to nobody

[2016-07-04 06:43] #13534 closed, assigned to nobody

[2016-07-04 06:45] minggo commented on #13538
What's Simulator.apk?

[2016-07-04 06:45] minggo commented on #13543
close it since it is fixed

[2016-07-04 06:45] #13543 closed, assigned to nobody

[2016-07-04 06:51] #13597 closed, assigned to nobody

[2016-07-04 06:52] #13604 closed, assigned to nobody

[2016-07-04 06:53] Aresky commented on #16023
Thanks for your reply!  The problem cc.log is reason for android device setting.
and now, there is just one problem left, why js binding of EventController did not do.
I see lua binding of EventController is vaild at android and ios platform.

[2016-07-04 06:54] minggo commented on #13613
currently there is not plan to add more 3d features

[2016-07-04 06:54] #13613 closed, assigned to nobody

[2016-07-04 06:58] #13633 closed, assigned to nobody

[2016-07-04 07:05] minggo commented on #13644
Since the issue is something about SDKBOX, so close it. You can create a new issue about changing to c++_static if needed.

[2016-07-04 07:05] #13644 closed, assigned to nobody

[2016-07-04 07:06] minggo commented on #13648
close this issue since cocos studio is canceled

[2016-07-04 07:06] #13648 closed, assigned to nobody

[2016-07-04 07:07] minggo commented on #13657
close it since cocos studio is canceled

[2016-07-04 07:07] #13657 closed, assigned to nobody

[2016-07-04 07:08] minggo commented on #13667
it is fixed in v3.12 which will be released in a few days

[2016-07-04 07:08] #13667 closed, assigned to nobody

[2016-07-04 07:09] alfogrillo commented on #16026
@minggo
Is the .mp3 format safe for both Android and iOS?
On a Cocos2d-x book I found this table:
![table](https://cloud.githubusercontent.com/assets/19324622/16553152/c90075bc-41c6-11e6-8c8e-3ca3e83bf3db.png)

[2016-07-04 07:12] minggo commented on #16026
Yep, i think .mp3 is safer. What i mean is the best supported.

[2016-07-04 07:13] #13699 closed, assigned to nobody

[2016-07-04 07:15] #13681 closed, assigned to nobody

[2016-07-04 07:15] #13695 closed, assigned to nobody

[2016-07-04 07:17] minggo commented on #13696
@jheroy do you still have the issue?

[2016-07-04 07:18] minggo commented on #13677
@VictorJL Do you still have the problem?

[2016-07-04 07:29] minggo commented on #13758
It is a 3rd party library, we don't want to modify it or it will be hard to update to new version.

[2016-07-04 07:29] #13758 closed, assigned to nobody

[2016-07-04 07:58] #13752 closed, assigned to VisualSJ

[2016-07-04 08:42] alfogrillo commented on #16026
Thanks for the info! :-)

[2016-07-04 13:06] MrCapone commented on #16003
https://github.com/cocos2d/cocos2d-x/pull/16031

[2016-07-04 13:24] scp-r opened #16032 "small issue in cocos2d-x/cocos/scripting/js-bindings/proj.android/Android.mk"
in line 53 of cocos2d-x/cocos/scripting/js-bindings/proj.android/Android.mk:

[code]

[2016-07-04 13:45] scp-r opened #16033 "cocos2d-x 3.11.1 prebuild failed using clang & NDK r12b"
engine ver: 3.11.1
ndk : r12b
OS : Windows 10 x64
android api level :15

in order to use clang, i edited build_android.py according to this:
https://github.com/cocos2d/cocos2d-console/pull/350

and edited tools\simulator\libsimulator\proj.android\Android.mk according to http://blog.csdn.net/final5788/article/details/51433590

[code]

and run:

[code]

error msg:

[code]

how to fix it?Thank you fo

[2016-07-04 14:22] scp-r commented on #16033
plus, if use gcc,  everything works.

[2016-07-04 19:36] slackmoehrle commented on #13453
I will make a test case this week.

[2016-07-05 01:45] minggo commented on #16033
I will download NDK r12b to take a look. I suggest you using older NDK, such as r10c.

[2016-07-05 01:48] minggo commented on #16032
Thanks, i will remove the extra `\`.

[2016-07-05 01:50] minggo commented on #16032
fixed in #16035

[2016-07-05 01:50] #16032 closed, assigned to nobody

[2016-07-05 01:52] minggo commented on #16030
It will make Sprite too complex to use, i think it is better developers add it themselves because now it is easy to change the shader.

[2016-07-05 01:53] minggo commented on #16026
It's my pleasure. Can i close the issue?

[2016-07-05 01:56] minggo commented on #16033
I mean i suggest you using older NDK version to work around it currently.

[2016-07-05 02:03] minggo commented on #13768
Dynamic library is needed by cocos studio, since it is canceled, so i think we can change to static link. But it require to build all 3rd parties, so we will put it in low priority.

[2016-07-05 02:06] #13803 closed, assigned to nobody

[2016-07-05 02:08] minggo commented on #13807
@pandamicro Runnable is not a thread, the codes run in GL thread, so it runs in the same thread as cocos2d-x.

[2016-07-05 02:09] minggo commented on #13821
Sorry, what's the issue?

[2016-07-05 02:10] minggo commented on #13829
I haven't met the issue, i use Xcode7.3 for a long time.

[2016-07-05 02:10] #13829 closed, assigned to nobody

[2016-07-05 02:11] minggo commented on #13831
since cocos studio is canceled, so close the issue

[2016-07-05 02:11] #13831 closed, assigned to nobody

[2016-07-05 02:11] minggo commented on #13834
since cocos studio is canceled, so close the issue

[2016-07-05 02:11] #13834 closed, assigned to nobody

[2016-07-05 02:14] minggo commented on #13846
close it since it is fixed

[2016-07-05 02:14] #13846 closed, assigned to nobody

[2016-07-05 04:35] 0xJimmyBeh commented on #16030
@minggo

Why would it make sprite too complex to use?

We can disable Hue Brightness Contrast by default.
Only who want to use those features or set hue on sprite will enable it.
Then it should has no different to use the sprite, isn't it?

As your suggestion to use shader, how can i achieve that with shader?
I'm not familiar with shader and i think there are other developers too.

May be you can

[2016-07-05 04:38] 0xJimmyBeh commented on #13807
@minggo

How can we call javascript from java in Android with Cocos2d-JS v3.8.1?

I can call javascript in iOS Obj-C with these :

[code]

Thank you.

[2016-07-05 05:48] minggo commented on #13807
@Zinitter i think @dimaria11 's operation is correct, should invoke it in `activity.runOnGLThread()`. But i don't know why it will crash, is there any crash log?

[2016-07-05 05:53] minggo commented on #16030
@Zinitter as the link you pasted above is already give you the example, it uses its own shader, and it added many other functions into Sprite. We can add more builtin effects into Sprite in v4, but we will not add it in v3.

[2016-07-05 06:30] minggo commented on #13894
since cocos studio is canceled, so close this issue

[2016-07-05 06:30] #13894 closed, assigned to nobody

[2016-07-05 06:40] minggo commented on #13932
Please refer to #15676. Cocos2d-x doesn't declared to support Android Studio debugging.

[2016-07-05 06:40] #13932 closed, assigned to nobody

[2016-07-05 06:41] minggo commented on #13933
How to reproduce it?

[2016-07-05 06:48] 0xJimmyBeh commented on #13807
@minggo

I have no crash log and i forgot what i do in the callback that caused crash since its around half year ago issue.

However, i have retest the code in a simple code and it works.

I create a button in JS
when press JS button, it call Java function `testBridge`
Java function `testBridge` will call JS functon `javaCallback` to create a button

[code]

I found that this code also working

[c

[2016-07-05 07:08] minggo commented on #13807
Both are ok.

[2016-07-05 07:10] 0xJimmyBeh commented on #16030
@minggo

Is v3 will transit to v4 after the release of v3.12?

I'm using Cocos2d-JS which is in Javascript so i'm not very familiar with C++ code.

I have to dig into Cocos2d engine if i want add more features like this.
That would take a lot of time for me to understand and modify, it may caused a lot issues when coming to cross platform. Some may work in iOS but not Android and vice versa.

This

[2016-07-05 07:18] 0xJimmyBeh commented on #13807
@minggo

Ok, thank you.

I didn't use `Cocos2dxJavascriptJavaBridge.evalString` after found out it caused crash.

Now i will try to use and if have any issue, i will report here.

[2016-07-05 07:24] alfogrillo commented on #16026
Yes, you can!
I just suggest to extend the `AudioEngine` documentation such that the cocos2d-x user can be aware of the well supported audio formats for each platform.
Otherwise the `AudioEngine` is perceived as buggy!

[2016-07-05 07:24] #13933 closed, assigned to nobody

[2016-07-05 07:27] minggo commented on #16030
@Zinitter there will be some more version in v3, will not transit to v4 quickly. Engine can not include all features or it will make engine too complex, it is better if we can implement plugin system that make it to easy add 3rd party codes.

[2016-07-05 07:28] minggo commented on #16026
@slackmoehrle will you add it into docs?

[2016-07-05 07:28] #16026 closed, assigned to nobody

[2016-07-05 07:43] 0xJimmyBeh commented on #16030
@minggo

I understand cocos team consideration, just giving some opinions.

Does the cocos package manager stated in this pull request still developing?
https://github.com/cocos2d/cocos2d-x/pull/11344

Plugin system like SDKBOX is great and working fine.
If can provide similar feature can make developer life easier.

[2016-07-05 08:19] minggo commented on #16030
package manager is stopped currently, and we are doing plan for v4, so it may be included in v4. Plugin System like SDKBOX is more easier to integrate since it is not related with engine codes.

[2016-07-05 08:21] BiteLu opened #16037 "cocos2d-js iOS平台下socketIO重连会闪蹦"
cocos2d-js 3.11.1版本，iOS平台下，按了电源键锁屏，再解锁回游戏，socketIO会自动关闭，再次调用connect连接时，游戏就闪蹦。报错行：
![image](https://cloud.githubusercontent.com/assets/9947182/16578300/51aafaee-42cc-11e6-924f-cd527f1a3e7d.png)

报错如下：
`malloc: *** error for object 0x17017f13f: Invalid pointer dequeued from free list
*** set a breakpoint in malloc_error_break to debug`。

[2016-07-05 09:50] qiankanglai commented on #16030
Hi @Zinitter , this year I've switched to Unity3D so maybe I won't be able to maintain the v4 port, if the API changes a lot.

Would you mind helping if possible?

[2016-07-05 10:05] minggo commented on #16033
Yep, i met the issue with NDK r12b. I will try to fix it.

[2016-07-05 11:03] 0xJimmyBeh commented on #16030
@qiankanglai

I'm still new to C++ so not sure i able to maintain the v4 port and multi platform issue.

However, the v4 won't come so fast as @minggo said.
And there might have plugin system which would be a handy tool to maintain the Image Picker.

So just wait and see the plan of Cocos2d-x v4.

[2016-07-05 13:32] frranck commented on #15891
@minggo OK so I gave up with the tests, and tried [a new project ](http://www.cocos2d-x.org/wiki/How_to_Start_A_New_Cocos2D-X_Game)
I can compile it but I've got a crash when running the app on a Samsung GT-S5360. running Android 2.3.6:

[2016-07-05 14:34] lfmn83 opened #16038 "cocos2d-x v 3.11.1 Android SimpleAudioEngine preloadBackgroundMusic"
cocos2d-x v 3.11.1
NDK-r10c

I'm getting FileNotFoundException when I'm preloading background music for Android.

[code]

I'm using: `CocosDenshion::SimpleAudioEngine::getInstance()->preloadBackgroundMusic(FileUtils::getInstance()->fullPathForFilename("menu.ogg").c_str());`

Effects are OK and all files are in the same folder:  `CocosDenshion::SimpleAudioEngine::getInstance()->preloadEffect(FileUt

[2016-07-05 20:03] Rubonnek commented on #15883
I'm probably missing some files that should not be ignored, but here's the .gitignore I use for all my new cocos2d-x projects:

[code]

[2016-07-06 00:13] ricardoquesada commented on #13203
yes, sounds good.

[2016-07-06 01:27] minggo commented on #13203
@stevetranby will you please send a PR?

[2016-07-06 01:35] minggo commented on #15891
@frranck does it crash on other devices? I will try to find a device with Android 2.3.6.

[2016-07-06 05:51] liuyi opened #16043 "Cc.textureCache.removeAllTexture() 无法真的从内存中移除材质！(已解决)"
cocos2dx 3.10 IOS真机(其实从3.x过来一直有这个问题，并且在曾经的技术支持里报过这个问题，但是一直没有反馈解决过）

每次加载一个场景 ，我都会去调用：cc.textureCache.removeAllTexture()

发现貌似没什么作用，过阵子会报许多类似如下警告：
cocos2d: TextureCache: removing unused texture: /var/containers/Bundle/Application/95F4D51D-F4EA-4AAE-B9C5-8FFF0861AD2B/storyhouse-mobile.app/levels/ebooks/pic/1x/c75efcd000e142ce088cdcef091b4d8e.png
并且跟xcode的memory显示一致。 不断加载场景（包含大量图片），每次加载都执行removeAllTe

[2016-07-06 06:33] dumganhar opened #16045 "WebSocket couldn't receive large data"
Reported at http://forum.cocos.com/t/pc-websocket/37859

[2016-07-06 06:56] dumganhar opened #16046 "Using chrono::steady_clock() instead of gettimeofday for FPS calculation"
Hackers could modify system time to speed up game.
Game running should not depend on system time, it should depend on CPU clock time which could not be modified.

BTW, some articles said that the invocation of `clock_gettime` is faster and more precise than `gettimeofday`.

@minggo , any ideas?

[2016-07-06 07:00] minggo commented on #16046
Yep, sounds good.

Do you have any link of the doc?

[2016-07-06 07:04] dumganhar commented on #16046
I found a Chinese article here: http://www.cnblogs.com/leaven/archive/2011/03/21/1989946.html

You could google the function information to see whether we should use it. :)

[2016-07-06 07:13] minggo commented on #16046
`clock_gettime()` is not cross platform, may be we can use [std::clock()](http://en.cppreference.com/w/cpp/chrono/c/clock).

[2016-07-06 07:25] minggo commented on #14120
Sorry, i can not catch your idea. Could you paste some codes to describe it?

[2016-07-06 07:26] minggo commented on #14117
Could you provide a test case to reproduce it?

[2016-07-06 07:29] minggo commented on #14116
@ricardoquesada Just only modify `Application.mk`. I mentioned it to you and google guys about using `c++_static` instead, but you said google guys told you that it is not stable. Did you remember?

[2016-07-06 07:30] minggo commented on #14116
I think we should reconsider it in next version, so put it into `next`.

[2016-07-06 07:34] minggo commented on #14112
lua has its own `io` module to do the thing, so close it

[2016-07-06 07:34] #14112 closed, assigned to nobody

[2016-07-06 07:44] minggo commented on #14071
Where is `Cocos2d.lua`, i can not find it.

[2016-07-06 07:45] minggo commented on #14071
Oh, found it.

[2016-07-06 08:00] minggo commented on #14071
fixed in #16047

[2016-07-06 08:00] #14071 closed, assigned to nobody

[2016-07-06 08:02] minggo commented on #15318
@dualface Could you please take a look?

[2016-07-06 08:09] minggo commented on #14069
@mariuskurgonas what's the DIRECTORY_PATH you used?

[2016-07-06 08:17] minggo commented on #14065
Why not send a pull request? It is hard to review the codes here.

[2016-07-06 08:18] #14059 closed, assigned to nobody

[2016-07-06 08:34] liuyi opened #16049 "API Document is out of date"
API Document is out of date, please update it.
A example:
cc.TextureCache()
**dumpCachedTextureInfo()**
Output to cc.log the current contents of this TextureCache
This will attempt to calculate the size of each texture, and the total texture memory in use.

in this link: http://www.cocos2d-x.org/docs/api-ref/js/v3x/

check code, we can find some infomation:
TextureCache: dumpCachedTextureInfo() ->

[2016-07-06 08:58] mariuskurgonas commented on #14069
I am not sure let me check and get back to you

2016-07-06 9:10 GMT+01:00 minggo notifications@github.com:

[2016-07-06 11:05] joewan commented on #16043
I want to know how you solve this problem. @liuyi And How you know you have really remove textures from the cache. can you give me you email.

[2016-07-06 14:42] frranck commented on #15891
@minggo Yes It's working fine on a Moto G.

[2016-07-06 15:26] huangapple commented on #16045
@dumganhar
try comments  https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/network/WebSocket.cpp line598
// info.extensions = exts;

[2016-07-06 15:29] huangapple commented on #16037
@dumganhar can you help fix it ?

[2016-07-06 19:32] DazzledApps commented on #15417
Hi I am getting same error Can anyone let me know , how I can fix this ,my code is runing on IOS but not on android
[armeabi] SharedLibrary  : libcocos2dcpp.so
jni/../../Classes/HelloWorldScene.cpp:40: error: undefined reference to 'cocos2d::SpriteBatchNode::create(std::string const&, long)'
jni/../../Classes/HelloWorldScene.cpp:118: error: undefined reference to 'cocos2d::**Array::createWithCapac

[2016-07-06 20:33] ricardoquesada commented on #14116
@minggo yes, thanks. I remember.

[2016-07-06 20:50] ricardoquesada commented on #12527
you should try to use the native formats... they use, when available, the hardware decoder. faster to decode it, and consumes less battery.

ideally you should have all your music files in a certain format, and then have a script that convert those files to native formats.

Adding .ogg support for iOS is possible. you should only compile libvorbis and you have it, but it won't be a native format a

[2016-07-06 20:50] #12527 closed, assigned to nobody

[2016-07-06 20:52] ricardoquesada commented on #12459
strange... you are already using `Texture2D::PixelFormat::RGBA8888`... weird.

[2016-07-06 20:53] ricardoquesada commented on #12457
could you add the code to reproduce it? thanks.

[2016-07-06 20:54] ricardoquesada commented on #12435
yep. BTW, what font are you using?

[2016-07-06 21:27] lfmn83 commented on #16038
It was fixed in https://github.com/cocos2d/cocos2d-x/pull/15512

[2016-07-06 21:27] #16038 closed, assigned to nobody

[2016-07-06 22:56] eray-z opened #16056 "The Camera and The Fixed Sprite Size Feature Request!"
Hi cocos2d-x team.

I'm using cocos2d-x for my 2D platformer project. And the camera system very usefull instead of the parallax system. (believe me) I always use the camera for the player following, backgrounds...etc I'm setting background positions negative values for depth feeling just like that;

https://www.youtube.com/watch?v=YlM6goPZmpU&feature=youtu.be&t=9s

But If I set background z posit

[2016-07-06 23:38] ricardoquesada commented on #12226
I added a test case ( https://github.com/cocos2d/cocos2d-x/pull/16057 ) but I couldn't reproduce the issue.
Please, attach the full source code the reproduce it . thanks

[2016-07-06 23:50] ricardoquesada commented on #11989
Google Translate:
In cocos2d-x3.6, the use SpriteBatchNode when, if a child node to sort through setLocalZOrder, Node will first modify their zorder values, and then call the parent node is SpriteBatchNode of reorderChild, while SpriteBatchNode :: reorderChild also examined child node the zorder whether to change (front step just turn over), resulting in sorting invalid.

[2016-07-06 23:51] ricardoquesada commented on #11989
please, provide the code to reproduce the bug. thanks.

[2016-07-07 00:03] ricardoquesada commented on #11955
@Dredok were you able to solve this? what did you do?

I couldn't find a good solution for this one. Probably the solution is to remove existing shapes and replace them with new ones that are flipped.
But I don't think we should add that complexity in cocos.... or perhaps we should, but at the moment I can't find that it will add a lot of complexity for a use case that is not that common.

[2016-07-07 00:21] ricardoquesada commented on #11942
it is  possible to change the line of all circles with:

`draw->setLineWidth(width)`... but this will change the width or all circles and everything that uses a "line" as a primitive.

[2016-07-07 00:25] ricardoquesada commented on #11927
closing it since it is fixed.

[2016-07-07 00:25] #11927 closed, assigned to nobody

[2016-07-07 00:27] ricardoquesada commented on #11835
yes, the fix is to expose `removeUnusedGLProgramState` to Lua.

[2016-07-07 00:28] ricardoquesada commented on #11808
thanks. could you post the code to reproduce it ? thanks.

[2016-07-07 03:31] minggo commented on #15891
So it is device dependent, then it is more hard to fix.

[2016-07-07 03:35] minggo commented on #15891
@frranck about the `bsd_signal` error, i met it when i change the contents of `tests/cpp-tests/proj.android/project.properties` to `target=19`. I think it is because some symbols are removed in new Android OS version.

[2016-07-07 03:45] minggo commented on #15318
@xzben will you send a pull request?

[2016-07-07 03:50] minggo commented on #14037
The logic is changed, so close this issue. Please create a new one if it also has issue. Thanks.

[2016-07-07 03:50] #14037 closed, assigned to nobody

[2016-07-07 03:52] minggo commented on #14036
since there is not plan to support it, so close this issue

[2016-07-07 03:52] #14036 closed, assigned to nobody

[2016-07-07 03:58] minggo commented on #14034
I don't met this issue. I used NDK r10c for a long time, now changed to use NDK r11c.

[2016-07-07 07:18] #15426 closed, assigned to minggo

[2016-07-07 08:08] frranck commented on #15891
@minggo cocos2d-x v2 used to work on that device... Can you try on any Android 2.3.x device ?

[2016-07-07 08:14] Guy-kun commented on #14034
@minggo What APP_PLATFORM and min_sdk do you target when doing so

[2016-07-07 10:11] minggo commented on #14034
I don't modify it, just the same as the engine shift.

[2016-07-07 10:40] minggo opened #16063 "upgrade CURL to 7.50.0"
CURL has a bug about connect to ipv4 numerical IP address in NAT64 environment, which caused cocos2d-x rejected by Apple: https://github.com/curl/curl/issues/863

[2016-07-07 15:04] dakikifr commented on #11927
Sorry I totally forgot to close it :)
Thanks!

[2016-07-07 16:25] Dredok commented on #11955
I can not remember the workaround but I did not make any fix to the code, so I guess I just used different shapes.

[2016-07-07 17:14] stevetranby commented on #13203
Sure, been out on vacation. Will submit by Monday.

[2016-07-07 17:15] dsp1589 commented on #15713
any update on this guys, am getting the same issue in ubuntu 14.04 - cocos2dx latest version

[2016-07-07 20:45] crazyhappygame opened #16068 ""cocos gen-libs -p android" - fails v3.12"
"cocos gen-libs -p android" - fails
My configuration: sdk: android-19, ndk: android-ndk-r10c

Also there are very suspicious two things in this log:
1. "Building mode: debug" - it should be release
2. "NDK_TOOLCHAIN_VERSION=clang" and "gnu-libstdc++/4.8/include\bits/unordered_map.h" - gnu-libstdc++ with clang my not work well ...
Below full log:

[code]



[2016-07-07 21:03] ricardoquesada commented on #11955
thanks. I'll mark this issues as won't fix due to its complexity to fix and that in only affects a very small percentage of the use cases.

have two shapes defined by the user should be the correct way to fix it.

why is it complex to fix it:
- there is not such "flip" shapes in chipmunk so we have to implement it ourselves
- the new shapes should be created in the correct order (counter clockwise

[2016-07-07 21:03] #11955 closed, assigned to nobody

[2016-07-08 01:21] lfmn83 commented on #15891
I'm facing same issue reported on first comment. I'm testing on a Samsung GT-S5830C v2.3.6-GINGERBREAD with NDK-r10c. With v3.7 and NDK-r9d everything was ok for android 2.3 devices.

[2016-07-08 01:42] minggo commented on #13203
thanks @stevetranby

[2016-07-08 01:45] minggo commented on #15713
I asked help from google guys, and they replied

[code]

So it is a bug of NDK. I will create an issue in NDK github issue system and put a link here. Of course, i will try to delay the error happen.

[2016-07-08 01:52] minggo commented on #15713
Sorry, i answered in wrong issue.

[2016-07-08 01:52] minggo commented on #16033
I asked help from google guys, and they replied

[code]

So it is a bug of NDK. I will create an issue in NDK github issue system and put a link here. Of course, i will try to delay the error happen.

[2016-07-08 02:10] minggo commented on #16033
I created an issue in NDK repo [here](https://github.com/android-ndk/ndk/issues/152).

[2016-07-08 05:45] minggo commented on #16068
by default, it is debug mode

I haven't noticed the log.

[2016-07-08 05:48] minggo commented on #16056
If you don't want to z value affect you, you can use orthogonal projection.

[2016-07-08 05:49] minggo commented on #16049
@slackmoehrle could you please take a look?

[2016-07-08 05:50] #16043 closed, assigned to nobody

[2016-07-08 05:53] minggo commented on #16043
@liuyi yep, TextureCache::removeAllTexture() just reduce the reference count and delete the texture when no other object reference it.

And please use english in future, then developers all over the world will help you. You can paste translated english with Chinese together if you are not confident with english, such as

[code]

[2016-07-08 06:49] minggo commented on #15566
@ricardoquesada  i think we need to provide arm64 for Android, can you modify the compile script to build out arm64 libs?

[2016-07-08 07:42] minggo commented on #16068
fix in #16069

[2016-07-08 07:43] minggo commented on #16033
fixed in #16069, as google guys said it just delay the issue, will update if NDK engineers fix the issue

[2016-07-08 07:46] minggo commented on #14116
@ricardoquesada do you know the status of c++_static now? I would like to change to use c++_static too.

[2016-07-08 09:44] minggo commented on #16068
I think you can remove files in `ide-support` and modify main.cpp to fix compiling error. I will send pull request to remove ide-support related files too.

[2016-07-08 10:19] minggo commented on #16068
I removed files in `tools/simulator/frameworks/runtime-src/Classes/ide-support` in [this commit](https://github.com/cocos2d/cocos2d-x/pull/16070/commits/826b142096435b7d328044ea34d00935c7dc55bd).

[2016-07-08 10:19] #16068 closed, assigned to nobody

[2016-07-08 13:38] anjandaffo opened #16072 "UIWebView should have setBackgroundColor method."
In my app I am using UIWebView. I need to make UIWebView transparent, but I did't get any method to set background Color.

Please help me to get it done. Any other solution to make UIWebView transparent.

Thanks
Anjan

[2016-07-08 15:45] slackmoehrle commented on #16049
Sure. it is generated by a script that @pandamicro game me. I'll see what the fix is.

[2016-07-08 16:36] eray-z commented on #16056
@minggo thank you. But the orthagonal projection isn't doing depth feeling when camera is moving. Perspective camera is very easy way for that issue after the parallax system. The problem is perspective re-scale factor on sprites. And new "disable re-size" sprite property would be nice. Is it possible?

[2016-07-08 18:32] ricardoquesada commented on #14116
@minggo I'll take a look at it. as far as I know, the issue was the the Clang STL library... as far as I know c++_static is Ok to use it...
I got confused I guess in my previous answer... but I'll do more research.

**UPDATE**:
Here is all the info: https://developer.android.com/ndk/guides/cpp-support.html
And yes, `c++_static` includes STL support... and it is not stable.

So, yes, c++_static is

[2016-07-08 18:33] ricardoquesada commented on #15566
@minggo sure. I'll do that.

[2016-07-08 20:05] ricardoquesada commented on #11744
@minggo @linshun

should we fix it ? or not?

I mean... if we fix it, it might break existing code that uses the parallax as it is now.
clearly it is a bug.

We should create a test case first just to be sure that this bug is present.

[2016-07-08 20:13] vkreal opened #16073 "cocos2d-x v3.12 Text::create crash in iOS."
The code below crashes in iOS. This doesn't happen in v3.11. It's caused from the "\360" text string. Anyone know a workaround?

`Text* text_top = Text::create("mwhahaha\360", "Verdana", 40);`

Thanks!

[2016-07-08 20:31] ricardoquesada commented on #15566
@minggo the scripts already support that... I think I added that a few months ago while compiling cocos2d-x v2.1.5 for arm64 (or perhaps someone else added it).

You should know that the API level should be changed from 9 to 21.
How to compile it:

[code]

but API level should be changed to 21. I'll make sure that cocos2d-x compiles with arm64 as well

[2016-07-08 20:40] ricardoquesada commented on #16073
what exactly is `\360`? are you trying to print "\360"... or is that an escape char? thanks.

[2016-07-08 20:47] vkreal commented on #16073
@ricardoquesada I am not sure what it is. The data is coming in from users entering text in TextField widget. The code above crashes consistently. I google around looking for ways to remove the slash but haven't found a good solution for c++ string. You have any ideas?

[2016-07-08 20:51] ricardoquesada commented on #16073
@vkreal I'll create a test case and see what happens. thanks for reporting it.

[2016-07-08 21:06] ricardoquesada commented on #15566
@minggo should we add `arm64-v8a` in `APP_ABI` in all our `Application.mk` files?
it will take longer to compile, but it will be a good tests.
Also, what is your idea? to bundle all the 64bit libraries in the 3rd party libs ?

[2016-07-08 21:19] mogemimi commented on #16073
Hi. `\360` is arbitrary octal digit number according to section 2.14.3 of [n3690](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2013/n3690.pdf).
- http://en.cppreference.com/w/cpp/language/escape
- https://msdn.microsoft.com/en-us/library/h21280bw.aspx

Also, `"mwhahaha\360"` contains invalid UTF-8 sequence such as `\xf0`, and so the code below always returns `nil`:

[code]

It works well whe

[2016-07-08 21:29] vkreal commented on #16073
@mogemimi very nice! Will this nil check be in next release? Just noticed we should have same thing in CCDevice-ios.mm

[2016-07-08 21:31] JesseTG commented on #15820
I have this problem as well.  Ubuntu 16.04, with clang 3.8.0.  I do NOT get this issue with gcc 5.3.1.

[2016-07-08 23:00] mogemimi commented on #16073
@vkreal I don't know the release plan for cocos2d-x 3.13, but hopefully it can be fixed in the next release.

[2016-07-08 23:13] damorton commented on #15137
Whats the status on this issue? I'm getting

[code]

[2016-07-08 23:30] uxdxdev commented on #15691
@slackmoehrle Got it working now, kind of, Im struggling with the libfmod.so.6 linker error :/ tried cp'ing the files and create sym links but still no go.

[2016-07-08 23:44] uxdxdev commented on #14961
@teosbpl Thank you.

[2016-07-08 23:49] uxdxdev opened #16074 "limited max instance of AudioEngine"
Getting this error on Ubuntu 16.04

[code]

[2016-07-09 00:07] ricardoquesada commented on #16056
follow up: http://discuss.cocos2d-x.org/t/how-to-set-an-orthogonal-camera/30553

[2016-07-09 00:47] Sheado commented on #10482
Hi All,

I just tested with a 5mb OGG file on Windows 10 and this issue still happens regularly. I tested in v3.12 as well as latest from git (v3) as of today (7/8/2016). I need this fixed before I can ship my game, and would love to help, but so far I'm not what the cause of the bug is other than it's related to streaming audio. I'm wondering if it's related in any way to: https://github.com/coco

[2016-07-09 01:13] ricardoquesada commented on #16073
fixed. thanks.

[2016-07-09 01:13] #16073 closed, assigned to ricardoquesada

[2016-07-09 06:11] shinigami1992 commented on #14034
Facing same issue.

SDK  -> 22
NDK -> 12.1

Building my app using:
cocos compile -pandroid --android-studio --no-apk --target android-22 --ap android-22 --ndk-mode debug  --app-abi armeabi

Adding "APP_PLATFORM=android-19" to "Application.mk" fixed my issue.

[2016-07-09 17:02] slackmoehrle commented on #15691
hmm, it worked for me once I cp'd the files. If you post your commands and any output, we can have a look.

[2016-07-09 19:05] uxdxdev commented on #15691
It wouldnt work for me just cp'ing the file and creating symlink but creating the /etc/ld.conf.d/cocos.conf file and adding in the */prebuilt/64-bit/ directory worked fine.

[2016-07-10 09:51] mdhomer commented on #16072
I am not entirely familiar with this framework as I only just started using it myself.

However, looking at the class declaration of UIWebView it seems to be a subclass of cocos2d::ui::Widget.
This Widget class inherits a **"setOpacity"** method from Node.
`void Node::setOpacity(GLubyte opacity)`
This may work for what you are trying to do.

If you want to entirely make the object hidden there is

[2016-07-10 12:49] rand-fly opened #16078 "No properties of EditBox in jsb"
There seems to be no properties of EditBox in jsb, but the implementation on h5 has properties.

[2016-07-11 02:06] minggo commented on #14034
@mmobini In android-19, `srand` is defined in `usr/include/stdlib/h` as

[code]

`srand` is defined as static inline function, as what i know, it will invoke `srand48`, so i don't know why you changed to Android 19 can resolve the issue.

[2016-07-11 02:27] minggo commented on #14034
I think i got the idea, it is caused because compiling Android version and running Android version is different and Android break compatibility. For example:
- if i use Android 19 to compile the codes that invoke `srand()`, because `srand()` is a static inline function, so it will invoke `srand48` instead, which means cocos2d-x depends on `srand48` instead of `srand`. `srand48` is defined in all A

[2016-07-11 02:43] minggo commented on #16074
How many effects did you play?

[2016-07-11 02:50] minggo commented on #15566
@ricardoquesada I think we don't have to add `arm64-v8a` in `APP_ABI`, i think it is better to let developers determine it. But we should provide 64bit libraries in 3rd party libs, then developers can build for `arm64-v8a` if they want. Indeed, the default `APP_ABI` is `arm64-v8a` in NDK r12b, and i added `ABI: armeabi` to fix it using NDK 12b.

[2016-07-11 02:53] minggo commented on #11744
I think we should not fix it if it breaks compatibility since it is not a common usage.

[2016-07-11 03:18] minggo commented on #14034
I sent #16079 to fix it. I did't modify bullet since it is 3rd party libs, and it is a 3d physics engine.

[2016-07-11 03:46] minggo commented on #15891
@frranck I think i know the issue. Because `abs` defined in Android API 19 and lower is

[code]

and defined in Android API 21 is

[code]

So if you build with Android API 20+, and run under Android 5.0(API 21), then it will have problem. If you want to fix your problem, then you can work around it by compiling with API 19 or lower. Of course, i will use `std::abs` instead of `abs` in cocos2d-x co

[2016-07-11 03:49] minggo commented on #14034
@all please let me know if it fixes your issue, thanks.

[2016-07-11 04:01] #14034 closed, assigned to nobody

[2016-07-11 04:03] minggo commented on #15891
I send #16080 to fix it.

[2016-07-11 04:48] Guy-kun commented on #16046
To switch away from system time and time synchronization shifts in my game I changed ccUtils::getTimeInMilliseconds() to

`long long getTimeInMilliseconds()
{
    return std::chrono::time_point_cast<std::chrono::milliseconds>(std::chrono::steady_clock::now()).time_since_epoch().count();
}`

This works on android, osx/ios and windows without any issues to me.
clock_gettime is not available on OSX

[2016-07-11 04:55] Guy-kun commented on #15841
This could be related to the fact that launching a game while the screen is locked on Android (from adb) causes it to render in a similar way once the screen is unlocked.

[2016-07-11 05:00] SoBE-R-GL opened #16083 "gen-simulator&gen-templates need "ide-support""
gen-simulator & gen-templates need "ide-support", but it has be removed?

[2016-07-11 05:04] SoBE-R-GL commented on #16083
and, when i add it from the old version, gen is also failed

[2016-07-11 07:37] anjandaffo commented on #16072
@mdhomer  My requirement is not to make WebView hidden or low opacity. **setOpacity** method make webView contents dull. I only need to make WebView background transparent so the background Image of scene behind WebView should partially visible.

Thanks for your support.

[2016-07-11 08:00] minggo commented on #16083
@ricardoquesada do you know `gen-templates`? As i remember, it is used for cocos studio? And should we remove this command?

About `gen-simulator`, @slackmoehrle @natural-law do you know it? And even this command is needed, i don't think it need `ide-support` since code ide is not supported for a long time.

[2016-07-11 08:07] dumganhar opened #16085 "AudioEngine::preload should support to pass a url vector as parameter"
Now we only support:

[code]

If there're lots of effect files need to be preloaded, developer has to invoke `preload` function many times, and must pay more attention to `callback` function.

Probably, a new interface like:

[code]

Any thoughts?

@minggo

[2016-07-11 08:10] minggo commented on #16083
As discussed with @natural-law , we should fix it in cocos command.

[2016-07-11 09:02] JaryGuo opened #16086 "A bug in CCLuaJavaBridge.cpp"
Recently I found that when I called a method in java whose return type was String and got `null` as a result through luajavabridge, the app crushed. Though I can return an empty string instead of `null`, but it's legal in java to return `null` when return type is String.

I firstly thought that might be a bug in JNI, but finally I fixed it in CCLuaJavaBridge.cpp:
the original code

[code]

the cod

[2016-07-11 09:07] Bilalmirza commented on #15652
hey! @dumganhar
Was this issue fixed?

I downloaded v3.12 and had absolutely no effect on the performance. The v3.12 and v3.9 have the same results on different devices.

[2016-07-11 09:11] dumganhar commented on #15652
@Bilalmirza, we only fixed the rendering problem. If your game has audio lags and please refer to https://github.com/cocos2d/cocos2d-x/pull/15875

[2016-07-11 09:15] Bilalmirza commented on #15652
My game has no audio yet

[2016-07-11 09:16] Bilalmirza commented on #15652
@dumganhar  I removed all sounds and calls for sounds from my code a while back.

[2016-07-11 09:20] dumganhar commented on #15652
@Bilalmirza , could you send me a demo you're using for reproducing the issue?
And does the performance issue happen on all android devices?

[2016-07-11 09:21] minggo commented on #15652
@Bilalmirza it only fixed on some Android devices. Could you please create a new issue and describe it in detail? Thanks.

[2016-07-11 09:23] anjandaffo opened #16087 "UIWebView evaluateJS not working."
In UIWebView I am loading html. html is loading properly.

I need to add class on element run time by finding element by class name.

we are trying below code but it not working.

std::string jsCode = "document.getElementsByClassName('test').forEach(function(element){element.classList.add('helloClass')});"

webView->evaluateJS(jsCode);

 but it not find any element.
even if I debug for only docume

[2016-07-11 09:26] piotrros commented on #15713
So, the workaround is to add  --app-abi armeabi

[2016-07-11 09:33] Bilalmirza commented on #15652
@minggo I'm really sorry for posting it here.
@dumganhar is it possible to talk on skype?

[2016-07-11 09:41] minggo commented on #16085
Sounds good.

[2016-07-11 09:48] hemanthunity opened #16088 "ccui.PageView issue in 3.10 for android (JSB)"
Hi I would like to use pageView of ccui for android build. it was working fine for HTML5, but when I am trying to build for native android devices using eclipse.
pageView.scrollToPage(index);
and
pageView.getCurPageIndex();

Giving me errors. these 2 methods not supported by JSB.

when I downgrade the framework to 3.9 then its working fine. I also tried with 3.11.1 If I use it then the pageView is

[2016-07-11 09:56] dumganhar commented on #15652
@Bilalmirza
Yep, added you.

[2016-07-11 13:40] lfmn83 commented on #15891
I'm still getting same error for samsung/GT-S5830C/GT-S5830C:2.3.6/GINGERBREAD.

It could be a `setSystemUiVisibility` call? This method was added in API 11, and seems there is call when game starts. There is a `setSystemUiVisibility` in `Cocos2dxActivity` that was not executed and  error happens before `Cocos2dxActivity` code.

Empty test for v3.12 with ndkr11c:

[code]

Log: [log.txt](https://gi

[2016-07-11 16:56] mquaker commented on #15557
i have same problem on released ndk-r12.
maby ndk-r12 not supported on cocos2d-x.
so, i tried ndk-r11e..
works perfect!

[2016-07-11 21:10] ricardoquesada commented on #15566
@minggo

sure. done... sort of:
- luajit in 64bit, does it work?
- what version of SpiderMonkey are we using? ( https://github.com/cocos2d/Spidermonkey/ )

Default branch is 33, but there is a 34 branch.
I'll merge my changes now, and once lua and js are fixed, I'll merge those two changes as well.

[2016-07-11 21:11] ricardoquesada commented on #16083
@minggo no idea.. sorry. I've never used it.

[2016-07-11 21:12] ricardoquesada commented on #11744
ok. thanks. perhaps it could be a bug fix for v4.0 then?

[2016-07-11 21:24] ricardoquesada commented on #16087
please, add more context like:
- what cocos2d-x version you are using
- and whether or not you are using our cocos2d html5 implementation or our JS bindigns

[2016-07-11 21:26] ricardoquesada commented on #16088
thanks. can you post the the code to reproduce it? thanks.

[2016-07-11 21:27] ricardoquesada commented on #16086
thanks!

@minggo who can take a look at this patch?

[2016-07-12 01:11] minggo commented on #16086
@dualface Could you please take a look?

[2016-07-12 01:14] minggo commented on #16083
@ricardoquesada @natural-law said he will fix it.

[2016-07-12 01:17] minggo commented on #15566
@ricardo

As i know, luajit doesn't support arm64, and we use lua for arm64. About SpiderMonkey, @panda told me that, we can not update it to new version, or the binding codes may break compatibility.

[2016-07-12 01:18] minggo commented on #15566
@pandamicro

[2016-07-12 01:18] minggo commented on #11744
Yep, i think we can fix it in v4.0.

[2016-07-12 01:20] minggo commented on #15557
@mquaker you should use latest codes as i fixed an issue with r12 a few days ago.

[2016-07-12 01:26] minggo commented on #15891
setSystemVisibility is invoked like this

[code]

As you can see, it is only executed when `Build.VERSION.SDK_INT >= Build.VERSION_CODES.KITKAT`. So i don't know why the codes are executed because your system is 2.3.6.

[2016-07-12 01:35] minggo commented on #15713
I fixed some compiling issues, could you please use latest codes to have a try?

[2016-07-12 01:49] ricardoquesada commented on #15566
@pandamicro which branch are we using in cocos2d-x v3.12?   v34 or v33?
And any idea how to compile it from Android arm64?

@minggo I think LuaJIT does support arm64 now... but I could be wrong.
Anyway, how did we solve it for iOS and Mac 64-bits? Are we using Lua instead of LuaJIT?
If so, what scripts should I change so that Android ARM64 uses Lua?
Thanks!

[2016-07-12 01:52] minggo commented on #15566
@ricardoquesada yep, we use lua source code for iOS arm64. It is supported for a long time. I think what we should do just for Android 64 bit.

[2016-07-12 01:53] ricardoquesada commented on #15566
@minggo thanks. Any idea what should I do? what scripts should I modify? thanks.

[2016-07-12 01:57] minggo commented on #15566
@ricardoquesada now when i run `build.sh -p=android --libs=websocket`, it doesn't generate lib for `armeabi-v8a`, can we modify it to generate `armeabi-v8a` automatically without doing any other operation?

[2016-07-12 02:00] pandamicro commented on #15566
It's v33, before we made a total abstract API layer from Spidermonkey, I don't think we should upgrade it, because the API changes will affect user binding code, AnySDK support, SDKBox support, etc...

[2016-07-12 02:07] ricardoquesada commented on #15566
@minggo you might be using an slightly older version... trying "git pulling" again.
I've just tried it and I got:

[code]

@pandamicro Ok. So I'll use branch v33.

[2016-07-12 02:20] minggo commented on #15566
@ricardoquesada yep, now it builds out `arm64-va8`. Sorry about that, i didn't know you modify it.

[2016-07-12 02:27] dualface commented on #16086
thanks, JaryGuo.

[2016-07-12 02:29] minggo commented on #16086
@JaryGuo could you please send a pull request?

[2016-07-12 05:30] anjandaffo commented on #16087
@ricardoquesada  I am using cocos2d-x V3.11. I am not using cocos2d html5. I using cocos2d-x cpp and UIWebView class.

[2016-07-12 07:14] mquaker commented on #15557
@minggo yep.. i downloaded cocos2d-x v3.12 and ndk-r12 when yesterday.
compile visual studio 2015 community... ok!
compile xcode... ok!
but, only cocos console compile appear ndk error.
so i replace only ndk revision r11 or revision r10.. worked fine.

[2016-07-12 07:55] minggo commented on #15557
@mquaker what i mean latest codes is the codes in github, not v3.12.

[2016-07-12 12:30] lfmn83 commented on #15891
Yes, this code in Cocos2dActivity is not executed. I don't know why there is an error before Cocos2dActivity code being executed.

[2016-07-12 13:07] aman-daffodil opened #16098 "UIWebView setScalesPageToFit() is not working for android."
webView->setScalesPageToFit(true);
this works fine for ios but not for android.
Please help
Thanks.

[2016-07-12 13:09] frranck commented on #15891
@minggo  just to confirm: #16080 fixed the compilation issue, but I still get the crash...

[2016-07-12 14:03] KnightYe commented on #8289
现在2016年7月12日，功能仍然没实现。

[2016-07-12 14:17] lfmn83 commented on #15891
I tested with NDK-r9d and NDK-r10c. There are a lot of warnings and my game is very buggy with both, but I can generate apk file and run it. There is also `VFY: unable to resolve virtual method 9077: Landroid/view/View;.setSystemUiVisibility (I)V` message, so this message is not the problem.

[2016-07-12 14:51] JaryGuo commented on #16086
Ok

[2016-07-12 16:34] wildrabbit opened #16100 ""Dirty" variables incorrectly reset with a multiple camera setup causing drawing issues on Sprites"
On our project we have a scene with two cameras: the default one, with 2D nodes (mostly sprites), and a new one we create ourselves to render a 3D scene. Some of the nodes rendered using the default camera begin initially offscreen, and at a later point we scroll them to enter the visible area. However, they're not showing.

After debugging for quite a while to rule out possible problems on our cl

[2016-07-12 22:22] owen200008 opened #16102 "RenderTexture绘制不全的问题"
场景切换动画基本都是利用RenderTexture来处理inscene和outscene
目前是一进入切换这两个scene的缓存RenderTexture都不全，不知道有没解决方案
我试了setGlobalZOrder好像也没用

[2016-07-12 22:32] androidLaLa opened #16103 "[3.12] cocos gen-libs (android) failed to generate ndk r10, r11, r12"
**Windows 10. and using NDK r12b.**

C:\MyFolder>set NDK_ROOT=D:\Tools\android\android-ndk-r12b

C:\MyFolder>cocos gen-libs -p android -m release
running: 'C:\MyFolder\Downloads\cocos2d-x-3.12\tools/cocos2d-console/bin\cocos.bat compile -s C:\MyFolder\Downloads\cocos2d-x-3.12\tools/simulator -p android --ndk-mode release --app-abi armeabi'

Building mode: debug
Using Eclipse project : C:\MyFolder\

[2016-07-12 22:38] ricardoquesada commented on #15566
JavaScript ARM64:
sources: Spidermonkey android arm64: https://github.com/cocos2d/Spidermonkey/pull/3
binary: Spidermonkey android arm64: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/238

Lua ARM64:
https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/239

@minggo Everything seems to be working fine:
- cpp tests
- js tests
- lua tests... except that the Lua encrypted byteco

[2016-07-13 01:10] minggo commented on #15891
@frranck what's the error message? Do you have the crash log?

@lfmn83 yep, it is not a problem.

[2016-07-13 02:41] minggo commented on #14176
since cocos studio is canceled, so close this issue

[2016-07-13 02:41] #14176 closed, assigned to nobody

[2016-07-13 02:43] minggo commented on #14179
since cocos studio is canceled, so close this issue

[2016-07-13 02:43] #14179 closed, assigned to nobody

[2016-07-13 02:45] #16083 closed, assigned to natural-law

[2016-07-13 02:48] minggo commented on #16103
duplicated with #16068, and it is fixed

[2016-07-13 02:48] #16103 closed, assigned to nobody

[2016-07-13 02:50] minggo commented on #16100
@ricardoquesada could you please take a look? thanks.

[2016-07-13 02:52] minggo commented on #16102
@owen200008 please use english, then developers all over the world can help you. You can paste Chinese together with translated english like this

[code]

About this issue, could you please give move detail information:
- what's the engine version
- how to reproduce it
- what devices did you test on

[2016-07-13 02:59] minggo commented on #14178
Please refer to #15652, i think it will help you out of the issue. To be short, i think you can modify the codes below:

[code]

[2016-07-13 03:03] owen200008 commented on #16102
cocos2dx version 3.10
I use the TransitionCrossFade to change sceneo
outscene and inscene contain the fastTMXTiledMap(it also contain many 3dsprite) and it will crash, because TMXTiledLayer get the visitcamera is nullptr, and i change the code to set _visitingCamera, and it will not crash. but  outscene rendertexture  3dsprite is not contain,and the operator ui also not contain,inscene rendertextu

[2016-07-13 03:22] minggo commented on #14150
@lcellentani Does it mean i can not use mouse on windows? but i don't have problem using mouse on windows to run `cpp-tests` and click the label items.

[2016-07-13 03:24] minggo commented on #14148
@dumganhar please take a look since you are fixing Audio issues.

[2016-07-13 03:27] minggo commented on #14147
@darkdukey do you know where is the best place to report SDKBOX issues?

[2016-07-13 03:29] minggo commented on #14133
there is not problem in latest codes, so close this issue

[2016-07-13 03:29] #14133 closed, assigned to nobody

[2016-07-13 03:30] minggo commented on #14131
there is not problem in latest codes, i think it is fixed, so close this issue

[2016-07-13 03:30] #14131 closed, assigned to nobody

[2016-07-13 03:32] minggo commented on #14125
close it since it is duplicated with #14206

[2016-07-13 03:32] #14125 closed, assigned to nobody

[2016-07-13 03:34] minggo commented on #14114
@VisualSJ what's the status of this issue?

[2016-07-13 03:35] minggo commented on #14101
close it since it is not a common requirement

[2016-07-13 03:50] #14101 closed, assigned to nobody

[2016-07-13 03:52] minggo commented on #14092
Could somebody provide a test case for it to reproduce it?

[2016-07-13 03:53] minggo commented on #14092
oh, i got it, i will test it

[2016-07-13 04:00] #14961 closed, assigned to nobody

[2016-07-13 04:37] ricardoquesada commented on #15566
PR merged ( https://github.com/cocos2d/cocos2d-x/pull/16090 )
So, android arm64 is like 90% complete... what's missing is this Lua encrypted bytecode thing.

[2016-07-13 05:44] minggo commented on #15566
thanks @ricardoquesada , are you sure luajit supports arm64, if so, then we don't have to use lua source code for iOS arm64.

[2016-07-13 05:50] minggo commented on #16102
can you provide a test case to reproduce it?

[2016-07-13 05:53] minggo commented on #15137
@RequiemSouls i did as you said, and fix the link issue in Ubuntu 16.04. Do you still have problem?

[2016-07-13 06:07] stevetranby commented on #13203
https://github.com/cocos2d/cocos2d-x/pull/16094

[2016-07-13 06:09] minggo commented on #14092
How did you do it like this? Did you invoke c++ codes from javascript? Could you please provide a test case?

[2016-07-13 06:26] minggo commented on #14276
@xiongdi9456 how can i reproduce it?

[2016-07-13 06:32] minggo commented on #14259
since cocos studio is canceled, so close the issue

[2016-07-13 06:32] #14259 closed, assigned to nobody

[2016-07-13 06:33] #14258 closed, assigned to nobody

[2016-07-13 06:34] minggo commented on #14249
i don't met the issue with latest codes, may be the issue is fixed. Please reopen it if you it still exits.

[2016-07-13 06:34] #14249 closed, assigned to nobody

[2016-07-13 06:38] minggo commented on #14245
Sorry, i don't quite understand the issue, could you please describe it in more detail?

[2016-07-13 06:41] minggo commented on #14242
@pekayatt why not send a pull request?

[2016-07-13 06:43] #14268 closed, assigned to nobody

[2016-07-13 06:46] minggo commented on #14234
Sorry, what's the issue? How did you use the functions? cocos2d-x also uses std::string too, and doesn't meet any problem.

PS: please use english in future, then developers all over the world will help you. You can use Chinese together with english like this:

[code]

[2016-07-13 06:46] minggo commented on #14233
TVOS is not well supported now, even in c++.

[2016-07-13 06:51] minggo commented on #14223
@githubsaturn did you use new audio or SimpleAudioEngine?

[2016-07-13 08:15] frranck commented on #15891
@minggo Sorry I got confused, there was no compilation issue, and I still get the "cannot locate
 abs" error with the "MyCompany/MyGame" test example.
But it is using android-23, should I try android-19 ? What is the proper way to change this ?

[2016-07-13 08:32] alfogrillo opened #16109 "[Cocos2d-x 3.12] Scene Transitions don't work correctly with a ListView child"
Some (most) Transitions aren't rendered correctly in the 'from' `Scene` there is a `ListView`.

How to test the provided code:
1) Replace the two files in the 'HelloWorld' project (Classes folder).
2) Bulid and run
3) Click on the power button to generate a scene transition

The transition seems to work fine only if the clipping is disabled on the`ListView`.

[Test.zip](https://github.com/cocos2d/

[2016-07-13 09:29] minggo commented on #15891
@frranck did you apply my commit?

[2016-07-13 09:36] minggo commented on #14220
@krishan711 how did you build for arm64-va8 since cocos2d-x doesn't provide corresponding 3rd party libs.

[2016-07-13 09:38] haosen opened #16110 "[Web] cocos2d-html ccui.ListView nest in ccui.PageView can't display"
In cocos2d-html, a ListView nest in a PageView, and the elements of ListView can't display.
It works properly in iOS.

engine: v3.10, v3.11, v3.12

[2016-07-13 09:39] minggo commented on #14221
yep, i think we should fix it since we will support `armeabi-v8a` in 3.13.

[2016-07-13 09:39] minggo commented on #14217
Sorry, what's FileSever?

[2016-07-13 09:47] minggo commented on #14199
Close this issue since it is cocos studio related, and cocos studio is canceled. And i haven't met any problem with `cpp-tests`, please create a new issue if it also has problem. Thanks.

[2016-07-13 10:14] r7755 commented on #13525
cocos2dx ver3.11
#13424 has been committed, but I've encountered this problem.
![_2016_07_13_19_11](https://cloud.githubusercontent.com/assets/12929455/16799861/a8c1cc60-492d-11e6-85c5-796a2bd5acd6.jpg)

[2016-07-13 10:23] frranck commented on #15891
@minggo I did a git pull in cocos2d-x, isn't it in master already ?

[2016-07-13 11:28] minggo commented on #15891
@frranck yep, it is merged into v3 branch. It is strange, there is not codes using `abs` except bullet, did you use bullet?

And are you sure your game used correct engine since new project will copy engine.

[2016-07-13 12:49] reasonMix opened #16113 "rendertexture's savetoFile problem"
when draw a label to the render texture and call the savetoFile to create the png file.the png file have white border on ios platform. because the label use ALPHA_NON_PREMULTIPLIED blend mode. and on ios platform the image-ios.mm savetoFile only use the kCGImageAlphaPremultipliedLast flag

[2016-07-13 13:55] ryanxia2016 commented on #15891
We update cocos2dx to today's latest git clone version( with #16080 fixed). + NDK R10E
Found Crash on 2.3.6  SAMSUNG GT-S5830i
After rollback to old version, the crash disappear.

[2016-07-13 14:08] pekayatt commented on #14242
Hi @minggo, sorry about that! I
 got a problem with my computer before I could send the pull request some time ago and never got back to it.
I have been away from cocos for sometime now :(. Changed from 2D games to only VR now.
I need to check in my backups if I still have the files to fix it.
PS: I believe I have first sent the issue and then edit it with the solution.

[2016-07-13 14:40] dumganhar commented on #16046
@Guy-kun, thanks for reminding that we can use `std::chrono::steady_clock`. I will try that.

[2016-07-13 14:52] ryanxia2016 commented on #15891
try and try...
before I gave up
I switched the NDK from R10E to R9D
it works.... no crash any more...

@minggo  any comments?

[2016-07-13 14:56] ricardoquesada commented on #15566
@minggo no, I'm not a 100% sure about it.
Apparently in LuaJIT 2.1 (still in beta) supports it. More info here:
https://collaborate.linaro.org/display/TCWGPUB/The+State+of+LuaJit+for+ARM+64+-+July+2016

[2016-07-13 15:08] frranck commented on #15891
@minggo Just created a new app, still get the "abs" crash.

[2016-07-13 18:00] darkdukey commented on #14147
The best place for cocos2d-x related sdkbox issue is on the forum
http://discuss.cocos2d-x.org/c/sdkbox

We're aware this issue, it only happens with certain disk format, will let you know once we have a fix for it.

[2016-07-13 19:51] mtak- commented on #14116
In the older NDK's (<r11?) `gnustl` does not support basic things like `std::to_string` and is completely lacking in C++14 library features.

My two cents:
- `c++_static` does not have the exception issue, only `c++_shared` does (and it seems mostly fixed in r12)
- we've been using `c++_static` with cocos2d-x 3.9 and NDK (r10e) for a while now with only one issue
- the `steady_clock` in `libc++` w

[2016-07-14 02:00] ricardoquesada opened #16115 "Upgrade to Spine 3.4"
http://esotericsoftware.com/blog/Spine-3-4-released

[2016-07-14 03:20] minggo opened #16116 "do research about how to make jenkins work together with Travis or other CI"
Travis is good, but it doesn't support windows, that's why we use jenkins currently. But our genkins is not stable, the slaves are easy to be disconnected. We need to find a way to switch to use free CI step by step.

[2016-07-14 03:23] minggo commented on #16116
@stammen do you have any suggestion?

[2016-07-14 03:25] zilongshanren commented on #16116
I have one possible solution:

Setup a web service which does the following things:
1.  When a Github PR opened, call one hook of the web service,  it will trigger multiple CI
2. Wait for the results of multiple CI and send the _merged_ results back to Github PR commit.
3. When click the status button of the PR, it will direct to the web page we maintained and show the merged build results here.

[2016-07-14 03:27] zilongshanren commented on #16116
I think we can't use travis CI or other CI as jenkins Slaves.(Am I wrong here?)

 If Jenkins slaves are not state, the cloud host could save us. But is need dollars..

[2016-07-14 03:33] minggo commented on #16116
Make jenkins work together with other CI doesn't mean make other CI as jenkins slave. And it is better if we can remove jenkins, just use one CI or multiple CI work together.

Yep, money can resolve it. It is better if we can find free CI as cocos2d-x is open source.

[2016-07-14 03:35] minggo commented on #16116
It sounds good.

[2016-07-14 03:46] minggo commented on #14116
@mtak- thanks for your information. The only issue you met is `steady_clock`?

@ricardoquesada  i think it is better if we can re-check the status of c++_static with google guys.

[2016-07-14 03:49] minggo commented on #14147
thanks @darkdukey

[2016-07-14 05:31] alfogrillo commented on #16085
@dumganhar
I think would be very useful also to preload all files from a folder (recursively or not).

Something like that:
`void AudioEngine::preload(const std::string& folderPath, std::function<void(bool isSuccess)> callback, bool recursive = false);`

[2016-07-14 06:05] mtak- commented on #14116
@minggo So far yes.

The full story: We have yet to ship a game with cocos2d-x, but we've had a game in the works for around 6 months using cocos (so far its been great 👍 ). In our other games we have 20+ million active android users on games that all use `c++_static`. The `steady_clock` issue hit us hard with our leaderboards (lots of people cheating by setting their time back, or just finishing

[2016-07-14 06:13] minggo commented on #14242
thanks @pekayatt

[2016-07-14 06:28] minggo commented on #14116
@mtak- congratulations for your game, and thanks for the information, it is valuable.

[2016-07-14 06:33] minggo commented on #14188
@pekayatt what's the error behavior? how can i reproduce it?

[2016-07-14 06:38] dumganhar commented on #15805
@ricardoquesada , yep, I tested it and found the crash.
The reproduce way is modifying base/ccConfig.h

[code]

Adds `|| CC_TARGET_PLATFORM == CC_PLATFORM_ANDROID`, then CC_TEXTURE_ATLAS_USE_VAO will be `1`.

[code]

may return `true` on some android device. But it doesn't mean that the device supports `glMapBuffer`

[2016-07-14 06:39] dumganhar commented on #16012
DONE at https://github.com/cocos2d/cocos2d-x/pull/15875

[2016-07-14 06:48] dumganhar commented on #15661
Don't worry, guys, I'm checking this issue. :)

[2016-07-14 07:39] minggo commented on #14286
@milos1290 i tested with the codes with latest codes, button is not visible, so i think the bug is fixed.

And Button::setEnabled() doesn't control the visibility of button, so i think the title is not correctly.

[2016-07-14 07:39] #14286 closed, assigned to nobody

[2016-07-14 08:10] minggo commented on #15652
Hi guys, @dumganhar fixed audio engine issue in this #15875. Would you please take a try and give some feedback? Thanks.

[2016-07-14 10:02] alfogrillo commented on #16109
Here a screenshot of the artifacts
![transition](https://cloud.githubusercontent.com/assets/19324622/16835832/d28b448a-49ba-11e6-87c4-e25cc8378c0c.png)

[2016-07-14 10:57] milos1290 commented on #14286
If i remember well, the issue was when you call Button::SetEnabled() it will use different shader for disabled state which will not be influenced with opacity, and resulting in button visible

[2016-07-14 12:02] cezheng commented on #16116
As far as I know, you can trigger multiple ci builds for one PR and show all of these build status in github: https://github.com/blog/1935-see-results-from-all-pull-request-status-checks

![](https://cloud.githubusercontent.com/assets/483/5332863/0f58f9b6-7e1a-11e4-9884-e362ec566f2b.png)

So you can setup travis ci for iOS, macOS & Linux, while using another ci like [AppVeyor](https://www.appveyor

[2016-07-14 21:22] ricardoquesada commented on #16100
@wildrabbit good finding!

Yes, I guess commenting out those two lines in `Node::processParentFlags()` should fix the problem...
I'll create a test case to prove it. thanks.

[2016-07-14 21:59] ricardoquesada commented on #16100
@wildrabbit I created a test case, but I couldn't reproduce the bug... in theory, I understand the bug, but for some reason I cannot reproduce it.
Could post the code the reproduce it? or take a look at my test case and see what's wrong ? Thanks.
Here is my test case:
https://github.com/cocos2d/cocos2d-x/pull/16122

[2016-07-14 23:38] wildrabbit commented on #16100
I've tried the test at home with a 3.10 installation and I can't reproduce it either. The sprite on the default camera never gets to change the value of "insideBounds" on the draw() method, which was our problem.

I'll take a look at work tomorrow to see exactly at which point our sprites got that variable set to false (perhaps because of the cameras viewProjectionUpdated member, but I'm not sure

[2016-07-14 23:49] ricardoquesada commented on #15805
@dumganhar could you please confirm that my patch works? if so, could you merge it? Thanks

https://github.com/cocos2d/cocos2d-x/pull/16123

[2016-07-14 23:51] ricardoquesada commented on #16087
@anjandaffo thanks.
I could be wrong, but as far as I know our JavaScript bindings don't support DOM functionality. Only JavaScript is supported.

@minggo am I right?

[2016-07-14 23:54] ricardoquesada commented on #16113
thanks. could you post the code to reproduce it? thanks.

[2016-07-14 23:56] ricardoquesada commented on #16109
thanks. you mentioned that are you using v3.12... is this something that only fails in v3.12 and works in previous versions?

[2016-07-15 00:22] ricardoquesada commented on #14116
@minggo basically what @mtak- said.
we should not use `c++_shared`. And there are other bugs there, but it is still unstable.
What the Google guys said was: "it is unstable, but most of the core functionality is implemented and works Ok, but other parts don't".

So, if we are going to use it, we should do a lot of testing. But the good thing is that we are not using lots of STL features so we shou

[2016-07-15 00:57] liuyi commented on #16085
I think the best way is that creating a audioManager according to your needs.
For example, here is a API in  my custom  audioManager (JSB)

 /**
     \* @desc 在游戏中不要直接使用此接口播放声音 而是根据功能选择使用playVoiceByTag,playEffectSound,playBgSound .停止某一个声音,则根据播放返回的INDEX 操作
     \* @param path
     \* @param loopOrTimes {boolean| number}
     \* @param volume 0-1;
     \* @param opts  {object<sole.<boolean>,restart.

[2016-07-15 01:26] minggo commented on #16116
@cezheng looks good, thanks

[2016-07-15 03:56] m-yukio opened #16124 "A contentSize of UIRIchText is not updated"
When creating the RichText, be acquired a contentSize in getContentSize(), it is not set.

In RichText::formarRenderers(), if _ignoreSize is false, although to calculate the newContentSizeHeight variable, is not set.

1797 line, and add the following code after "delete [] maxHeights;", contentSize was to be updated.

[code]

Or there is no problem in this fix?

However, the RichText::formarRendere

[2016-07-15 05:03] alfogrillo commented on #16109
Hi @ricardoquesada
The issue is present also in v3.11.
If you are in charge of rendering stuff I suggest to take a look to another, I think serious, rendering issue: #15783

[2016-07-15 05:55] anjandaffo commented on #16087
@ricardoquesada  Can you suggest any alternate solution. I need to add class on div runtime.

[2016-07-15 06:01] ricardoquesada commented on #16087
@anjandaffo  yeah... I don't think we support `<div>` and other HTML / DOM / CSS components. As far as I know we support JavaScript and certain features like WebSockets that we manually added.

But I'm not 100% sure about what we manually added, and what not.

@minggo who is our JavaScript guy? Who knows exactly what "HTML" features we implemented in JSB?

[2016-07-15 06:07] loohoo opened #16125 "UILayout clipping not working with BG_COLOR_GRADIENT on broswer but native is ok [cocos2d-jsb]"
` this.layout = new ccui.Layout();
        this.layout.setContentSize(cc.size(180, 150));

[code]

broswer :
![h5](https://cloud.githubusercontent.com/assets/7367421/16865167/4e2801de-4a95-11e6-8b5e-4c4eaa7770e8.png)

native :
![cpp](https://cloud.githubusercontent.com/assets/7367421/16865192/81ad7138-4a95-11e6-9964-9a557b3b0148.png)

[2016-07-15 07:04] Jayatubi commented on #12479
@WenhaiLin This issue still exists in Cocos2dx 2.2.6. Could you please provide a fix?

[2016-07-15 07:41] minggo commented on #16087
@ricardoquesada UI provide UIWebView widget. @zilongshanren takes charge of UI system. @zilongshanren please take a look. Thanks.

[2016-07-15 07:55] minggo commented on #16085
@liuyi if i understand correctly, you disagreed @Drakon-Cocos 's requirement, not this issue. Right? If so, i agree with you.

[2016-07-15 08:09] liuyi commented on #16085
@minggo  Yes, I have different  opinion。 Just keep it simple!

[2016-07-15 08:24] minggo commented on #14116
After thinking more about it, i think we should not change to c++_static currently. We don't use too much STL features, but we can't make sure we will notuse more in future. In fact we are using more and more. And if one of the feature has bug, it may take much effect to find out it, and we have to switch to gnustl_static again.

[2016-07-15 08:48] minggo commented on #14286
@milos1290 i am not sure, i think the codes changed. What i can make sure is that it is fixed now.

[2016-07-15 09:01] alfogrillo commented on #16085
@liuyi
I think that folder preloading is simple as concept.
Today I didn't found a multi platform way to list files inside a folder.
Therefore each time I add a sound or an image to the project I have to code the associated URL for preloading.
This is time consuming and errore prone.
Anyway it is just my opinion.

[2016-07-15 09:30] liuyi commented on #16085
@Drakon-Cocos
Preload lots of sounds maybe need a lot of memory, especially in some low devices(such as smart TV)

1、Put whole sounds to a folder in res folder.
2、Create “resource.js”  automatically，add all the sounds to the resource.js. You can write a tool by node.js  or python etc.
3、 Write a wrapper function  to  preload these sounds in "resource.js".

resource.js  example:

"voice": {

[2016-07-15 11:19] treert commented on #13525
https://github.com/cocos2d/cocos2d-x/pull/15003

this PR solve this problem.

[2016-07-15 11:27] wildrabbit commented on #16100
I've seen what is happening in the test case :D
Funny enough, we're actually reproducing the bug in the test in a way that prevents us from noticing it.

Debugging our project right now, I've noticed that at the moment the "_insideBounds" variable was set to false there was only the default camera on the scene instead of two cameras. Because of this, the node variables controlling the flags don't

[2016-07-15 11:38] Shulepov opened #16129 "Refactor UIWidget to always use UILayoutComponent"
I'm am trying to look into new UI system again. And find it quit hard to follow.

UIWidget and UILayoutComponent have duplicate functionality. UIWidget can use UILayoutComponent and also can not use. In case it not uses UILayoutComponent - it duplicates almost the same code. Also the same things called differently for those two classes. May be in all cases should be used UILayoutComponent to remov

[2016-07-15 11:47] Shulepov opened #16130 "UIWdiget: new size type - RelativeToParent"
Currently UIWidget has two size types - _absolute_ and _percent_. And these two types suitable for almost all situations. But i want to request another type: _relative to parent._ In that case size calculated as: "parent_size - value". It can be used when we want to make **fixed spacings** from left/right or top/bottom.

[2016-07-15 13:14] Shulepov opened #16131 "UILayoutComponent refactor"
Currently UILayoutComponent contains booleans and separate values to represent type and value for position/size. Also it have separate values for margins for some reason.

It would be much simpler to leave only next values and calculate layout based on them:

[code]

Where:

[code]

And that will cover all possible situations much simpler, including fixed margins that currently is not possible.

T

[2016-07-15 13:19] ricardoquesada commented on #16100
Thanks! I'll update everything on Tuesday.

[2016-07-15 13:48] reasonMix commented on #16113
@ricardoquesada
  local text = cc.Label:createWithTTF('hello world','font/yours.ttf',40)

  local target = cc.RenderTexture:create(winSize.width, winSize.height, 2)
  target:beginWithClear(0,0,0,0)
  text:setPosition(winSize.width / 2,winSize.height/2)
  text:visit()
  target:endToLua()
  target:saveToFile('aaa.png',1)

[2016-07-15 14:59] DineshKachhot commented on #16045
Working now, Thanks.....

[2016-07-15 18:59] slackmoehrle opened #16132 "corrupt member variable in Node"
As scene here: http://discuss.cocos2d-x.org/t/member-variable-is-corrupted-in-ios-but-works-fine-on-android/30835

[2016-07-16 02:27] iniwf opened #16134 "libwebsocket不支持ndk-r12编译"
libwebsocket不支持ndk-r12编译

[2016-07-16 03:25] #16134 closed, assigned to nobody

[2016-07-16 04:54] vyder opened #16135 "Hosted v3.x API Reference missing some Doxygen generated files"
I've noticed that some classes didn't exist on the [latest v3.12 documentation](http://cocos2d-x.org/docs/api-ref/cplusplus/v3x/) but didn't really investigate till [this forum thread](http://discuss.cocos2d-x.org/t/is-label-being-deprecated/30839) from yesterday.

I generated the v3.12 docs offline from the latest build of this repository, and found that docs for classes like `Label` and `Action`

[2016-07-16 05:00] vyder commented on #16132
*technically not in `Node`, but in a class that's derived from `Node`

[2016-07-16 08:13] yuangu commented on #14762
soga, no support for x64

[2016-07-16 08:35] vyder commented on #16132
Figured out the issue myself. The problem was in the way I was trying to subclass `Node`. If anyone can shed more light on the "why?" of the matter by comparing [my solution](http://discuss.cocos2d-x.org/t/member-variable-is-corrupted-in-ios-but-works-fine-on-android/30835/3) to my question, that would be awesome!

Thanks for your help @slackmoehrle!

[2016-07-16 19:51] mogemimi commented on #16135
Hello.

According to this: http://discuss.cocos2d-x.org/t/how-to-generate-js-and-lua-documentation-using-doxygen-for-cocos-3-8/24115/19

The docs hosted on cocos2d-x.org seem to be generated by a special version of [Doxygen](https://github.com/zilongshanren/doxygen), not Homebrew-provided version. Incidentally, the Homebrew-provided version is recently 1.8.11, the special version one is 1.8.8 (for

[2016-07-16 21:56] ad1862 commented on #15697
Same problem Cocos2d-JS 3.12 link error on Linux. C++ and Lua versions compiled without problems.
Gentoo, GCC 6.1, 5.3

`
[100%] Linking CXX executable bin/MyGame
/abc/XPEHb/prj/igro/aaa/js/frameworks/cocos2d-x/cocos/physics3d/CCPhysics3DConstraint.cpp:113: error: undefined reference to 'btPoint2PointConstraint::btPoint2PointConstraint(btRigidBody&, btVector3 const&)'
/abc/XPEHb/prj/igro/aaa/js/fr

[2016-07-17 05:31] vyder commented on #16135
So, you're saying that whichever Doxygen we use (either the homebrew one or the "special" one), the docs generate correctly offline?

Guess the fix is to regenerate the docs that are up on cocos2d-x.org.

[2016-07-17 08:15] mogemimi commented on #16135
@vyder Yes, I think probably so.

[2016-07-17 12:11] gestern commented on #16131
In this case (without values aggregates) it would take more CPU time to calculate interim values and have to break backward compatibility, am i right?

[2016-07-17 12:21] gestern commented on #16115
Great! I can not wait when cocos2d-x would be able to handle a mash in Spine. 💯

[2016-07-17 12:24] Shulepov commented on #16131
Currently there are also no values cache and position/size recalculated each time in `refreshLayout`. But it recalculated based on margins, which also calculated frequently. I think calculating margins isn't really necessary. So with my approach it may be even more performant.

But it really will break backward compatibility, that is a big issue.

I have read current sources and really can't under

[2016-07-17 12:35] gestern commented on #16131
Will need research, while these values are used also by 3rd party components like Cocos Studio, JS etc.

[2016-07-17 13:28] Kotaiba commented on #15321
@larsven the problem is not solved

[2016-07-17 13:34] Kotaiba commented on #15321
<img width="245" alt="screen shot 2016-07-17 at 4 28 25 pm" src="https://cloud.githubusercontent.com/assets/3635272/16900904/88948188-4c3b-11e6-8f5e-9d74b54ae40f.png">

[2016-07-17 15:42] meiry opened #16138 "Cocos console on MAC getting error (again) :ValueError: unknown locale: UTF-8"
downloaded the latest version 3.12
this used to be in some of the previous  versions   ,
i executed :  cocos new help
Got this error :

[code]

i was able  to fix this problem executing those commands in the shell :

[code]

can it be combined in the setup.py or something ?
Thanks

[2016-07-18 01:29] minggo opened #16139 "FPS disappeared"
steps to reproduce it:
- run `cpp-empty-test` for Mac target
- then you will find the FPS is disappeared

I think all platforms has the issue.  @ricardoquesada could you please take a look. Thanks.

[2016-07-18 01:30] minggo commented on #16138
@natural-law could you please take a look?

[2016-07-18 01:32] minggo commented on #16135
@slackmoehrle could you please take a look?

[2016-07-18 01:46] minggo commented on #16132
@vyder you can not cast a Node to Hero of its real type is not Hero. That's the reason.

[2016-07-18 01:47] #16132 closed, assigned to nobody

[2016-07-18 01:49] minggo commented on #16131
@Shulepov break compatibility is not acceptable in v3, it may be considered in v4.

[2016-07-18 01:52] minggo commented on #16129
@Shulepov will it break compatibility?

[2016-07-18 01:55] minggo commented on #16124
@ricardoquesada i remembered you refactored UIRichText? Could you please take a look?

[2016-07-18 03:02] natural-law commented on #16138
@meiry @minggo I don't think it should be added in `setup.py`. Because maybe it will be conflict with existing environment settings on user's machine.

But I think we can add the solution into FAQ or Documents. Then once user encountered the problem, they can find the solution.

@meiry After all, thanks for your feedback!

[2016-07-18 03:30] yunmin97 opened #16144 "AudioEngine 在android上播放循环音效不能完美循环播放，连接处有断裂"
cocos2dx版本：v3.12版本
运行平台：android（sdk 4.x和N都试过）
问题：audioEngine在android上播放循环音效无法完美循环，音效播放结束重新回到到音头时，中间出现卡顿（空白），之前ios上播放mp3时也无法循环，后来我们发现是音频本身的问题，修改过后能够循环了（最后使用.m4a格式的音频），但是andriod上我们使用过.ogg、.flac、.m4a、.mp3的都无法循环播放（音频确定已经去掉压缩的头，用audition能循环起来），最后我们找来很多类型android机，发现部分机型能循环，有的又不能循环（三星G6 Edge就无法循环，但G Note Edge又能循环）！有木有人遇到这个问题？

[2016-07-18 06:15] meiry commented on #16138
@minggo @natural-law
The realty ( my also ) is that i don't always go to search in FAQ or documents .
And i saw more then 4-5 users complain in the forums .
for new user it can be pain . it is basic .
What is the cause of this problem ? in previous versions it worked out of the box .
Also you can check with simple if/then  if the LANG or LC_ALL are already set .

[2016-07-18 06:36] natural-law commented on #16138
On my machine, the value of LANG & LC_ALL like this:

[code]

It works well with the latest code of v3 branch.

And I found this in python issue system : https://bugs.python.org/issue18378
Maybe the problem only occurred on machines with special language or terminal settings. I'm sorry that I've no idea what's the right way to solve it.

[2016-07-18 07:22] meiry commented on #16138
looks like python + MAC problem .
try to catch the exception in python and print to STD out the suggested solution

[2016-07-18 07:23] Shulepov commented on #16129
@minggo not sure, at first glance it shouldn't

[2016-07-18 08:20] Shulepov commented on #16085
Agree with @liuyi, i think it better to keep AudioManager simple. Adding multiple files can be done inside for-loop.

Preloading sounds from directories have one big disadvantage - obtaining files list may be very slow on some platforms (e.g. on Android).

[2016-07-18 10:08] liuyi commented on #16144
循环有特殊的处理方法：
不要设置循环，而是自己处理循环。当声音快要播放完成的时候，将声音的播放进度重置到开始 就可以完美循环了。

[2016-07-18 10:12] dumganhar commented on #16144
@duuyia, @iuyi
谢谢反馈，请问循环播放音效有100ms的延时，具体是怎么测试出来的（使用什么工具？）？

Android上的声音播放以及重构了一次，支持preload，提高了效率和稳定性。

https://github.com/cocos2d/cocos2d-x/pull/15875

是否可以同步下这个PR中的修改并且再次测试？

或者提供给我一个重现问题的demo，我分析一下原因。非常感谢。

[2016-07-18 10:17] dumganhar commented on #15661
Fixed at https://github.com/cocos2d/cocos2d-x/pull/16147.
Could you test it and give me the feedback? Thanks.

[2016-07-18 10:19] liuyi commented on #16020
在我的项目前期也遇到过这样的问题，花了大概两个星期去做各种测试优化才解决掉这一系列的问题。
这些问题主要是由于几个方面造成的。
1，js调用的c++对象被释放掉了，自己在js这边要判断好。
2，js在一帧里连续执行了比较重，消耗cpu时间的代码，导致程序假死或者被Android manager 自动杀死。
3，声音。 频繁的杀死所有声音或uncache声音。或杀死所有声音的一帧里，去播放了声音。
4、比较小的图片，在场景里的缩放比例比较大。会导致降帧非常多。但是不会挂，但是如果这个时候干了别的事情也耗cpu，也会死。

可能还有些没有提到，漏掉了。总之，要想优化好一个jsb的项目是要非常小心，非常有经验才行。

ps:这些问题在js里（除了4），在ios上表现得不明显。ios的代码优化得比较好，用起来比较舒服。。。安卓代码还有很大优化空间。

[2016-07-18 10:22] dumganhar commented on #15661
@Kotaiba @joewan

[2016-07-18 10:22] hemanthunity commented on #16088
/////  Thanks for your reply and  Sorry for late reply..  here is my code Tried in 3.10  it throws error,
// In 3.11.1, 3.12 it works bur it won't come back to initial index of pageView.

//In 3.9 works fine

 this.player1 = new cc.Sprite(res.player1Btn);
        this.player2 = new cc.Sprite(res.player2Btn);
 this.navBtnLeft = new cc.MenuItemImage(res.nevBtnPng, res.nevBtnSelPng, function () {

[2016-07-18 10:22] liuyi commented on #16144
@dumganhar  我遇到这个问题的时候 是听出来的。。。

[2016-07-18 10:37] huangapple commented on #16020
@liuyi think you!!!!!!

@minggo can your team help me to fix it? i think it should be fixed in engine。

[2016-07-18 10:50] hemanthunity commented on #16088
Hi,
Thanks for reply, I have posted the code on
https://github.com/cocos2d/cocos2d-x/issues/16088 .. Please look into it
and help me to solve this issue.

Thanks
Hemanth

On Tue, Jul 12, 2016 at 2:56 AM, Ricardo Quesada notifications@github.com
wrote:

[2016-07-18 12:08] sbrednikhin opened #16149 "Rich text elements positioning is incorrect"
Positioning in rich text is incorrect:
![wrong](https://cloud.githubusercontent.com/assets/4668006/16914207/915443fc-4cf0-11e6-953e-02586031fafc.png)

Look like it must be something like:
![wright](https://cloud.githubusercontent.com/assets/4668006/16914203/88b535b2-4cf0-11e6-981d-0373ec2ea378.png)

Also same problem can be visualized if you will use labels with different font sizes in one rich te

[2016-07-18 12:26] dumganhar commented on #16144
@liuyi , 耳力真是好。 👍

[2016-07-18 12:32] sbrednikhin opened #16150 "Rich text "fixed width" mode is needed"
When RichText widget is in ignoreContentAdaptWithSize mode it's impossible to use it in fixed width elements, but it updates it's size correctly. If ignoreContentAdaptWithSize is false RichText text keeps it's with and height same, and no matters what content is inside, and there is no way to get it's real height.

It would be very useful to create mode in witch Rich text widget keeps width fixed

[2016-07-18 14:54] stammen commented on #14762
@dannyjiajia @yuangu  x64 support for WIndows 10 UWP starts with v3.11.

[2016-07-19 00:57] liuyi commented on #16020
@huangapple   引擎层面修复那是不太现实，至少现在。我尝试过了。这是jsb的特点，可以从js端优化从而屏蔽这些问题。。。

[2016-07-19 01:45] reasonMix opened #16152 "Renderer addCommand problem"
Renderer hold the command with a c pointer,if a node add the command to the render,and the render havnt do the render,and the node is releaseed,so the command pointer is wildpointer

[2016-07-19 02:00] reasonMix commented on #16152
this will crashed on ios and android platform

[2016-07-19 02:05] yixiaoqingyuz commented on #14131
close

[2016-07-19 03:42] yunmin97 commented on #16144
@dumganhar
我上传了一个Demo，ios完美循环但android无法完美循环的工程
地址： http://git.oschina.net/duuyia/AudioLoopTest_Cocos2dx

[2016-07-19 03:51] yunmin97 commented on #16144
@liuyi
请问怎么知道音频即将播放完毕？？AudioEngine里面有个getCurrentTime的函数，但那也得另外再每帧监听所有循环的音频当前播放的进度和音频总时间做对比（这样开销有点大，感觉不怎么合理），程序要把所有循环的音频的时间播放长度都记录下来（因为貌似AudioEngine还无法获取到音频的长度）..我是这么理解的，不知道阁下有什么高招<___>，请指教？？

[2016-07-19 03:55] xueyu opened #16153 "cc.ProgressTimer not moving with parent node"
when content of cc.ProgressTimer is spriteFrame,
change position of cc.ProgressTimer's parent node, the cc.ProgressTimer is still keep it's position in screen.

since version: v3.12 only in web platform. #

[2016-07-19 06:37] JoHuang commented on #15783
I think #2994 might be also related.

[2016-07-19 07:10] dumganhar commented on #16144
@duuyia , 谢谢，我稍后测试一下你的demo。
目前没有音频即将播放完毕的接口，即将如何定位呢？
有已经播放结束的接口：AudioEngine::setFinishCallback

[2016-07-19 07:43] dumganhar commented on #16144
@duuyia ,请问你的demo如何测试？
Android上有bug的表现情况是怎么样的？期望是如何的？

[2016-07-19 07:54] yunmin97 commented on #16144
@dumganhar
编译项目安装到android或者ios上面
ios完美循环，但是android不行！win32就不用测了
打开后是cocos2dx的hello原封不动的界面，界面上我加了有四个按钮
左边两个分别是播放两个音频的开关，右边是分别关闭左边对应音频的开关

[2016-07-19 07:59] yunmin97 commented on #16144
@dumganhar
bug的表现在android上就能感觉到，对比ios的或者直接用audition等音频播放器播放的效果完全不一样！
android播放快结束跳转到音频开始处时能明显听到断隙！

[2016-07-19 08:09] dumganhar commented on #16144
@duuyia , 谢谢。我马上验证一下。

[2016-07-19 08:29] yunmin97 commented on #16144
@dumganhar
好的，谢谢

[2016-07-19 09:03] dumganhar commented on #16144
@duuyia , 貌似Android的直接播放filePath的OpenSLES实现有问题。
最新v3分支已经支持在android上的preload逻辑了，经过测试，无此问题。
但是请注意AudioPlayerProvider.cpp中的

[code]

字段需要改大点，否则还会使用旧的方式（UrlAudioPlayer, 不支持preload）播放音频。

Android的音频实现实在是问题太多了。。。

[2016-07-19 09:31] dumganhar commented on #15661
Duang~~

[2016-07-19 09:40] dumganhar commented on #16152
Yep, it seems to be a problem. Did you invoke `node->visit()` manually?

[2016-07-19 09:43] reasonMix commented on #16152
use the list view and call pushbackdefaultItem, i want to get the innert container size in current frame ,so i call the visit fucntion

[2016-07-19 10:04] dumganhar commented on #16152
@zilongshanren , could you check the UI problem in this issue?
Is there a better approach for getting inner container size?

[2016-07-19 10:09] yunmin97 commented on #16144
好的，谢谢，明天我按照你说的方式再测测，有没问题我都给你个回复。
Cocos2dx我要重新下载最新的吗？我直接是从官网下载的，没有从github这里下载！

[2016-07-19 10:13] dumganhar commented on #16144
最新的改动还没有正式发布，需要用git同步一份代码来测试。
对应的改动在这个Pull Request中：#15875

[2016-07-19 10:14] dumganhar commented on #16153
@pandamicro , could you please check this issue? Thanks.

[2016-07-19 10:22] dumganhar commented on #14148
Did you play audio by `SimpleAudioEngine` or `cocos2d::experimental::AudioEngine`?

[2016-07-19 10:36] dumganhar commented on #14148
It seems that the output error log is from `alcOpenDevice`. I will continue to investigate.

[2016-07-19 10:38] dumganhar commented on #14148
UPDATED: New AudioEngine will not trigger this error.

[2016-07-19 16:26] sdspageprotein opened #16155 "Sprite3D can't release its texture"
Create a sprite3d object, and then add it to one layer. After a while remove it from parent, then the texture it refred can't be released after calling the function removeUnusedTextures!
This is a very serious issue, because it can consume much memory when there are many 3d sprites on one scene.
The version of engine we are using is 3.8.1

[2016-07-19 16:49] ad1862 opened #16156 "link error on Linux, Cocos2d-JS ver. 3.12, git"
All tests (cpp, lua, js) in cocos folder compiled and run. C++ and Lua versions run without problem, also. But JS on linux had error:
1. cocos new -l js ...
2. cocos run -p linux ...
3. [100%] Linking CXX executable bin/MyGame
     error: undefined reference to..
     error: undefined reference to..

`/frameworks/cocos2d-x/cocos/physics3d/CCPhysics3DConstraint.cpp:113: error: undefined reference t

[2016-07-19 16:51] sdspageprotein opened #16157 "PUParticleSystem3D object would miss its texture"
While the PUParticleSystem3D objects are running on the scene, we call the function removeUnusedTextures, then the PUParticleSystem3D objects miss all their textures. So the refcount of texture of PUParticleSystem3D objects is not right.
The version of engine we are using is 3.8.1

[2016-07-19 21:13] alfogrillo opened #16158 "[Cocos2d-x 3.12] extensions::ControlSwitch::create() bug"
The function
`ControlSwitch* create(Sprite *maskSprite, Sprite * onSprite, Sprite * offSprite, Sprite * thumbSprite)` makes the game to crash because calls `addChild` on `nullptr` object.
The function tries to add a null `Label` that user can specify using this other function:
`ControlSwitch* create(Sprite *maskSprite, Sprite * onSprite, Sprite * offSprite, Sprite * thumbSprite, Label* onLabel, La

[2016-07-20 00:58] yunmin97 commented on #16144
@dumganhar
好的，我git下来测测，稍后反馈

[2016-07-20 01:40] minggo opened #16161 "remove CURL link on Android"
since cocos2d-x doesn't depend on CURL, so we should remove the link in Android.mk and Xcode project setting for iOS.

[2016-07-20 01:43] dumganhar commented on #16158
Does this issue appear from v3.12?

[2016-07-20 01:48] ricardoquesada commented on #16100
@wildrabbit thanks for the info. However I couldn't reproduce it with the delay. This is what I noticed:

If I use a delay between 0 and 1 seconds, then I don't notice the bug.
If I use a delay bigger than 1s, then the second sprite is not visible when it enters the screen, which makes sense since its camera was not created yet. Once it is created, the sprite is visible again.

Am I doing somethin

[2016-07-20 01:50] ricardoquesada commented on #16124
@minggo sure. I'll take look. Actually I haven't refactored it. I just only added needed functionality. But all the UI code needs a big refactoring.

[2016-07-20 02:07] minggo commented on #15661
@Kotaiba will you please take a try and give the feedback, thanks.

[2016-07-20 02:19] ricardoquesada commented on #16139
fixed.

[2016-07-20 02:24] dumganhar commented on #16045
So it seems a `permessage-deflate` related issue?
Does your websocket server support `permessage-deflate` and did you enable it?

[2016-07-20 02:35] dumganhar commented on #16046
Documentation updated:
- 1

http://en.cppreference.com/w/cpp/chrono/steady_clock

- 2

http://stackoverflow.com/questions/16177295/get-time-since-epoch-in-milliseconds-preferably-using-c11-chrono

[2016-07-20 03:14] m-yukio commented on #16124
I've created the matter of the pull request, please confirm.

https://github.com/cocos2d/cocos2d-x/pull/16162

[2016-07-20 03:26] dumganhar commented on #16046
I reviewed the source code of std::chrono of Mac platform.
It seems that `streay_clock` will not be defined if the macro `_LIBCPP_HAS_NO_MONOTONIC_CLOCK` is defined.
And `high_resolution_clock` is a typedef stuff to `steady_clock`.
Currently, we're using `std::chrono::high_resolution_clock` for calcurating the duration in performance test. So my question is `Is it better to use std::chrono::high_r

[2016-07-20 03:44] rahb3rt opened #16163 "[Cocos2d-x 3.12] ui::Button::create() bug"
Having a problem getting UIButton to show up when creating a new button.

[2016-07-20 03:50] dumganhar commented on #16046
It seems that we should not use `high_resolution_clock`. Different stl library has different implementations.
In the `gnu-libstdc++` on android, it's typedef as `system_clock` directly.
So let's keep using `std::chrono::steady_clock`.

@Guy-kun , is there any reason you use `time_since_epoch`?
Is it need in our engine? I think it's enough to just calculate the duration between tow timepoint.
Somet

[2016-07-20 03:52] rahb3rt commented on #16163
[code]

[2016-07-20 03:52] #16163 closed, assigned to nobody

[2016-07-20 03:54] yunmin97 commented on #16144
@dumganhar
给力，下了几个循环音乐已经完美循环了，谢谢

[2016-07-20 03:57] minggo commented on #14148
@dumganhar could you paste the link of the PR that fixed this issue, then developers can take a try. Thanks.

[2016-07-20 04:01] minggo commented on #16020
@huangapple if you can provide a test case then it will help to fix the issue. @pandamicro do you have any suggestion?

[2016-07-20 04:09] Guy-kun commented on #16046
You're right, I don't think `time_since_epoch()` is needed, just a comparison of now() should be okay

[2016-07-20 05:40] dumganhar commented on #14148
@minggo, my fix isn't for this issue.
The issue here is related to `SimpleAudioEngine`.

[2016-07-20 06:09] dumganhar commented on #16144
@duuyia, 太好了。但是目前这个特性只有在4.1及以上的设备上才支持。
如果是2.3的机器，还是会继续使用原来的方式播放而导致循环的时候卡顿。这属于系统的问题了。
而且2.3的设备已经非常少了，基本能够忽略不计. :)

[2016-07-20 06:10] #15805 closed, assigned to ricardoquesada, dumganhar

[2016-07-20 06:33] minggo commented on #16158
@Drakon-Cocos how can i reproduce it?

[2016-07-20 06:39] minggo commented on #16155
`removeUnusedTextures` just remove textures that the reference count is 1. Please make sure it is not used other places.

[2016-07-20 06:40] minggo commented on #16153
@dumganhar i think @pandamicro takes charge of web engine. @pandamicro could you please take a look?

[2016-07-20 07:47] alfogrillo commented on #16158
@dumganhar : I don't know, it is the first time I use `extensions::ControlSwitch` class.
@minggo : here there is a simple test project (iOS tested).

[ControlSwitchTest.zip](https://github.com/cocos2d/cocos2d-x/files/373067/ControlSwitchTest.zip)

Anyway I think that `ControlSwitch::create` is not consistent with cocos2d-x style.
It should be something like that:
ControlSwitch\* create(const strin

[2016-07-20 08:00] Kotaiba commented on #15661
@dumganhar @minggo I've test it ,so far so good ,No bugs ,will keep testing to make sure . did the bug with random crashes at the start fixed too ?

[2016-07-20 08:04] alfogrillo opened #16168 "[v3 branch, Android]: 'cocos new' command doesn't generate the project correctly"
If you do this

[code]

When you create a new project with
`cocos new -l cpp TEST`
The folder `cocos/audio/android` (I guess also `cocos/platform/android`) does not contain files of (merged) PR #15875
This makes the compiler to fail on Android.
It is need the manual copy of the mentioned folders for now! :-(

[2016-07-20 08:07] dumganhar commented on #14148
Developers also report this issue at http://www.cocoachina.com/bbs/read.php?tid-281971.html
It seems that this issue exists for a long time. :(

[2016-07-20 08:13] sdspageprotein commented on #16155
This is definitely a bug, I test many times by only adding one Sprite3D object on one scene.

[2016-07-20 08:13] boyjunqiang opened #16169 "new android project crash in android 5.0.2 device (Nexus 7) when use 3.12"
This is the process to see this bug:

[code]

When run this test app in android 5.0.2 device (Nexus 7) , it will crash!  but in android 4.4 and android 6.0, it was no problem.

The ndk version is r11c

[2016-07-20 08:21] minggo commented on #16158
@Drakon-Cocos these features are added by cocosbuilder author to support cocosbuilder, and we port it in C++ to support cocosbuilder. It is not part of cocos2d-x core, it is a long time unmaintained.

[2016-07-20 08:22] minggo commented on #16155
@sdspageprotein could you paste some code snipper to show how you use it?

[2016-07-20 08:23] dumganhar commented on #15661
@Kotaiba , good to know that it works now.

Where did this issue reported?

[2016-07-20 08:31] minggo commented on #16156
Yep, i can reproduce it.

[2016-07-20 08:35] Kotaiba commented on #15661
i reported the bug as comment look above u can fine it .

[code]

[2016-07-20 08:43] sdspageprotein commented on #16155
This is one simple example:

[code]

And we may find the reason of this issue.
We change RenderState's finalization from:
RenderState::~RenderState()
{
    CC_SAFE_RELEASE(_state);
}
to
RenderState::~RenderState()
{
    CC_SAFE_RELEASE(_texture);
    CC_SAFE_RELEASE(_state);
}

And then Sprite3D works fine. I do not know will this change cause some other issues.

[2016-07-20 08:54] dumganhar opened #16170 "[ios] Random crash in alGenBuffers(AudioCache::readDataTask) at startup"
Reported at https://github.com/cocos2d/cocos2d-x/issues/15661

[2016-07-20 08:56] dumganhar commented on #15661
@Kotaiba
I didn't reproduce the startup crash problem.
Anyway, I create a new issue at https://github.com/cocos2d/cocos2d-x/issues/16170 .
Is there an easier way for being reproduced?

[2016-07-20 09:03] Kotaiba commented on #15661
I think there is no easier way .since its on the start of the game only.
please see our new game its ready for ios but i was waiting for the bugs to be fixed, we will lunch it first on steam let me know if you like it . http://steamcommunity.com/sharedfiles/filedetails/?id=714856182

[2016-07-20 10:40] dumganhar commented on #15661
@Kotaiba , it's cool. I'll play it.

Do you mean that if `10 minutes` issue was fixed, you will publish your game to App Store?
Or do you mean you wanna wait until `glGenBuffers` is fixed?

[2016-07-20 10:50] Kotaiba commented on #15661
i will wait for the glGenBuffers ,so let me know when its fixed .

[2016-07-20 13:07] cezheng opened #16176 "[UIButton]contentSize is still ZERO after Button::loadTextureNormal"
When _scale9Enabled is set to true, _ignoreSize is forced to be false.

[code]

When called by Button::setupNormalTexture, the _normalTextureSize is just ignored, while _customSize remains ZERO.

[code]

This makes calling `setContentSize(_buttonNormalRenderer->getContentSize());` necessary each time we set the normalSprite of the Button. We just upgraded from 3.9 to 3.12, and we didn't have this

[2016-07-21 01:14] yunmin97 commented on #16144
@dumganhar
16年没人会用4.1一下系统玩游戏了：)

[2016-07-21 01:22] yunmin97 commented on #16144
@dumganhar
目前遇到的问题就是，项目之前用v3.8.1开发的，现在移植新版本后各种错误，特别是关于shader和tmx部分，新版本改动有点大，像tmx有的接口直接被删除了！
最后我想干脆就直接把最新版本的audio模块移植到v3.8.1里头，新版的audio模块有移植到v3.8.1版本的可能性吗？

[2016-07-21 01:44] dumganhar commented on #16144
可以的，新的audio实现是非常独立的一个模块，移植到3.8.1的步骤为：
- 拷贝新版本的cocos/audio/android替换到3.8.1对应的目录
- 参考新版本中cocos/platform/android/jni/Java_org_cocos2dx_lib_Cocos2dxHelper.h/.cpp, 新版本添加了两个新函数( getDeviceSampleRate, getDeviceAudioBufferSizeInFrames )
- 参考新版本中cocos/platform/android/java/src/org/cocos2dx/lib/Cocos2dxHelper.java的修改，主要在init函数中
- 注释掉cocos/audio/android/AudioEngine-inl.cpp中fdGetter函数中关于getObbFile的分支

[2016-07-21 01:53] ricardoquesada commented on #16113
Thanks. But I couldn't reproduce it. The image that I got on an iPhone is the following, and it seems to be Ok. is that right? I'm using C++ code instead of Lua though.

**UPDATE:** Image had the letters in white... generating a new one in red (see below)

[2016-07-21 02:02] reasonMix commented on #16113
@ricardoquesada where is the png file,i can't seen it

[2016-07-21 02:34] ChillLight opened #16179 "Uikt using cocos2dx 3.11, how to do?"
Recently needed to implement a 3D model display in IOS originally project, using the OpenGL and scenekit found some 3D model format does not support to show, so cocos2dx to achieve and now want to do them a binding but did not check the integrity of data and hope someone can give me the help, help!

[2016-07-21 02:38] ricardoquesada commented on #16113
@reasonMix Uploading it again... In case it doesn't work, this is the test case that I created:
https://github.com/cocos2d/cocos2d-x/pull/16180

![issue16113](https://cloud.githubusercontent.com/assets/232330/17009687/1b2ad9d4-4eb2-11e6-9c83-fabdaf14ee19.png)

I couldn't find any white border in this image.

[2016-07-21 02:43] #16033 closed, assigned to nobody

[2016-07-21 04:08] reasonMix commented on #16113
@ricardoquesada please paste your code,do you create the label with ttf?

[2016-07-21 05:00] #14685 closed, assigned to nobody

[2016-07-21 05:37] ricardoquesada commented on #16113
@reasonMix:  the code is here, in this Pull Request: https://github.com/cocos2d/cocos2d-x/pull/16180

[2016-07-21 05:49] zAncel opened #16181 "error in file jsb_opengl.js"
bellow three funcion, the parameter name is **bufer** ,but in function ,actually use is **buffer**

[code]

[2016-07-21 05:56] minggo commented on #16169
Is there any crash log?

[2016-07-21 06:16] pbs0512 commented on #14178
@minggo I tried to cocos2d-x 3.12 but same problem.
At first FPS is 60. But when continue (4-5 minutes) to rendering the same texture drops to 30fps. It seems to be caused fever phones. Unity does not have that problem even fever. Other Android phones do not have this problem.

[2016-07-21 06:27] dumganhar commented on #15661
@Kotaiba, I fixed 'glGenBuffers' issue here:
https://github.com/cocos2d/cocos2d-x/pull/16182
Could you please check again?

[2016-07-21 06:31] dumganhar commented on #16170
Fixed at https://github.com/cocos2d/cocos2d-x/pull/16182

[2016-07-21 06:33] minggo commented on #14178
@finebe how can i reproduce it?

[2016-07-21 06:35] dumganhar commented on #16144
@duuyia, 那请关闭这个issue吧，谢谢。

[2016-07-21 06:38] yunmin97 commented on #16144
@dumganhar OK

[2016-07-21 06:38] #16144 closed, assigned to dumganhar

[2016-07-21 06:40] minggo commented on #16161
fixed in #16184

[2016-07-21 06:40] #16161 closed, assigned to minggo

[2016-07-21 06:48] phutc commented on #16169
Me too, i'm using android 5.0

[2016-07-21 06:57] dumganhar opened #16185 "FPS isn't stable on OSX"
### How to Reproduce?

Just pull the latest code of v3 branch, run `cpp-empty-test Mac` in Xcode.
You will see the fps label at left-bottom of window displayed between 54fps to 58fps.

@minggo has checked that it also exists in v3.12.

[2016-07-21 06:58] #15661 closed, assigned to minggo, dumganhar

[2016-07-21 07:35] reasonMix commented on #16113
@ricardoquesada i am wrong,in mac platform,the png file will have a black border

[2016-07-21 08:01] minggo commented on #16139
@ricardoquesada android still has the issue, and iOS is ok. So i reopen this issue.

[2016-07-21 08:02] #16046 closed, assigned to dumganhar

[2016-07-21 08:03] xingshh opened #16186 "Scene TransitionFlipX cause pick model error"
when two scene use transitionFlip, some time it will cause can not pick model correctly.
in TransitionScene::finish(){

}
need to add     _inScene->setRotationQuat(Quaternion::identity());

[2016-07-21 08:10] pbs0512 commented on #14178
@minggo
1.  device: samsum note4(Exynos 5433), project lua-tests. performanceSpriteTest run
2. 750 nodes render. at First 60fps
3. After a few minutes, 25~40fps

[2016-07-21 08:14] Bilalmirza commented on #16169
i have the same crash on multiple devices

[2016-07-21 08:18] minggo commented on #16169
@phutc @Bilalmirza what's the devices you tested on?

[2016-07-21 08:22] alfogrillo commented on #16168
I pulled the `v3` branch today and now the `cocos new` seems to work correctly! :-)

[2016-07-21 08:51] #16170 closed, assigned to dumganhar

[2016-07-21 09:00] phutc commented on #16169
@minggo I tested on Sony Eperia M4 Android 5.0, Please help me. Thanks you !

[2016-07-21 09:12] dumganhar opened #16187 "Try to use 'MediaCodec' to decode audio to PCM buffer"
Currently, we're using `OpenSLES` API for decoding audio to PCM buffer on Android.
The decode speed isn't very fast.
Maybe we should try another way to do the decode stuff.

Please refer to the section `Decode audio to PCM` at https://developer.android.com/ndk/guides/audio/opensl-for-android.html

![screen shot 2016-07-21 at 17 10 44](https://cloud.githubusercontent.com/assets/493372/17017519/359d

[2016-07-21 10:18] minggo commented on #16169
@dumganhar please take a look

[2016-07-21 11:43] Bilalmirza commented on #16169
Crash on Samsung S5 android v5.0

Works fine on HTC One M9 android v5.0.2
LG G3 android v 4.4.2
Nexus 4 androidv 4.4

I'll test on more devices and report.
Thanks

[2016-07-21 11:51] Bilalmirza commented on #16169
Crashes on    S4 android v 5.0.1

Does NOT crash on s3 android v4.3
S6 edge plus v6.0.1

[2016-07-21 12:08] cmzx3444 commented on #16169
It's better to test on platform like http://testin.cn/

[2016-07-21 12:38] alfogrillo commented on #16169
Crash on Samsung Galaxy S4 with Android 5.0.1
See here for details (and crash dump):
http://discuss.cocos2d-x.org/t/cocos2d-x-3-12-crash-on-android-when-game-starts/30889

The HelloWorld project crashes on the line
`auto sprite = Sprite::create("HelloWorld.png");`
If the `sprite`code is commented, the project works for me.

[2016-07-21 14:15] ricardoquesada commented on #16139
f@ck! :-( thanks.

[2016-07-21 16:12] jie-meng opened #16188 "cocos2dx-v3.12-lua Sprite:playAnimationOnce(animation, args) blinks"
cocos2dx-v3.12
lua project
cocos/framework/extends/SpriteEx.lua
function Sprite:playAnimationOnce(animation, args)

[code]

showDelay is always not-nil, it'll make sprite setVisible(false) always, then the sprite would blink once.

If I want Role to do an Attack animation, the sequence would be like:
Blink -> Attack
That was so ugly.

change `local showDelay = args.showDelay or 0` to `local showDe

[2016-07-21 16:54] dapetcu21 commented on #8764
Any news of this? I kinda need it for my game

[2016-07-21 18:26] ricardoquesada commented on #16113
@reasonMix this is the image from the Mac:
![issue16113](https://cloud.githubusercontent.com/assets/232330/17034093/fb52e60e-4f35-11e6-8e55-f1906f65940e.png)

[2016-07-21 22:16] ricardoquesada commented on #16139
well, I guess I fixed this for real.

Besides this bug, the thing is that our GLView setup code is super fragile.
Desktops are using GLFW, iOS its own code, Android its own code, Windows its own code...
We need to unify them.
Our code is error-prone, difficult to make changes without breaking other stuff.

Tested on Mac, iOS and Android.

[2016-07-21 22:26] ricardoquesada commented on #14116
@minggo yeah... what we need is automated tests so that they can detect crashes and weird behaviors.

[2016-07-22 00:02] reasonMix commented on #16113
@ricardoquesada use the white color，will see the black border
![issue16113](https://cloud.githubusercontent.com/assets/5474177/17042712/a5e3b5c4-4fe2-11e6-9b12-80bb2f465353.png)

[2016-07-22 01:20] minggo commented on #16139
yep, it is better if GLFW can support all these platforms.

[2016-07-22 02:19] minggo commented on #16139
And i add `use GLFW on all platforms` in v4 plan.

[2016-07-22 03:23] dumganhar commented on #16169
@cmzx3444, yep, I will submit a test task at `testin` today.

@Drakon-Cocos , the crash stack looks really strange, it crashed at AAssetManager_open.
Currently, no idea about that.

Could you guys also test `cpp-empty-test` on the previous version (v3.11.1)?

[2016-07-22 03:29] #16139 closed, assigned to ricardoquesada

[2016-07-22 03:57] minggo commented on #12430
fixed in #16191

[2016-07-22 03:57] #12430 closed, assigned to minggo

[2016-07-22 05:02] dumganhar opened #16192 "Crash while decoding small MP3 file on Android"
Reported by @ryanxia2016

[2016-07-22 06:47] alfogrillo commented on #16169
@dumganhar
I tested `cpp-empty-test` with Android 5.0.1 and v3.11.1.
It works correctly, no crash.

[2016-07-22 06:55] rh101 commented on #16169
My game worked fine on Android 5.0.2 when built with 3.11.1, yet as soon as I moved it to 3.12, it crashes on open, and the call stack doesn't make sense at all within the context of what is going on within my game.

cpp-empty-test on 3.11.1 works fine on Android 5.0.2.
cpp-empty-test on 3.12 crashes on Android 5.0.2.
cpp-empty-test on 3.12 with all references to cocos2d::Label commented out in He

[2016-07-22 07:05] dumganhar commented on #16169
@Drakon-Cocos ,@rh101
Could you please apply this patch (https://github.com/cocos2d/cocos2d-x/pull/16101) and test it again on your device which crashed in cpp-empty-test?

[2016-07-22 07:13] dumganhar commented on #16169
@rh101 , good finding. So it maybe some issues related to Label.

[2016-07-22 07:36] ryanxia2016 commented on #16192
If need more error Info or Device Test, let me know. :-)

[2016-07-22 07:56] rh101 commented on #16169
The specific line in bool GLProgram::updateUniformLocation in v3.12 is the same as the patch you linked, so I'm not sure what it is you want me to test (the rest of the code in that method is different though, since you've linked v2 of the Cocos2d codebase).

[2016-07-22 08:39] dumganhar commented on #16169
@rh101 , but the patch is merged recently. It's not in v3.12.
Please see the change:
<img width="702" alt="screen shot 2016-07-22 at 16 35 27" src="https://cloud.githubusercontent.com/assets/493372/17051277/6cb922a0-502a-11e6-9089-5c2bd3b43480.png">

[2016-07-22 08:42] minggo commented on #16063
iOS, Mac and Android upgraded in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/241

[2016-07-22 08:59] minggo commented on #15566
@ricardoquesada what's the status of this issue?

[2016-07-22 09:00] minggo commented on #14116
@ricardoquesada yep, i add automated tests in v4 plan.

[2016-07-22 09:01] #16012 closed, assigned to dumganhar

[2016-07-22 09:01] #16003 closed, assigned to nobody

[2016-07-22 09:08] wildrabbit commented on #16100
Thanks, Ricardo!

I'll take a look tonight again or tomorrow, will let you know if I can find something.

[2016-07-22 09:15] rh101 commented on #16169
@dumganhar , I patched the code, but no luck, it still crashes if it contains any cocos2d::Label.

[2016-07-22 09:37] dumganhar commented on #16169
Could you try to use `android-ndk-r12b` to test?
Please add `--app-abi=armeabi` to `cocos` command otherwise it will trigger errors while compiling.

[2016-07-22 09:43] minggo commented on #12704
fixed in #16195

[2016-07-22 09:43] #12704 closed, assigned to nobody

[2016-07-22 09:52] dumganhar commented on #16169
Also, please try with `--app-abi=armeabi-v7a` to test.

[2016-07-22 09:56] dumganhar commented on #16169
Could you also help to test by modifying the stl configuration in Application.mk?

[code]

to

[code]

Please give us feedback after you test. thanks.

[2016-07-22 10:01] Bilalmirza commented on #16169
it doesnt crash with --app-abi=armeabi-v7a

[2016-07-22 10:07] rh101 commented on #16169
@dumganhar , using android-ndk-r12b and --app-abi=armeabi did not work, since it still gave compilation errors (the same error for many files):

error: relocation overflow in R_ARM_THM_CALL

Using --app-abi=armeabi-v7a with android-ndk-r12b compiles fine, the application does not crash, and the label is displayed fine on the screen.

I tested it with with crystax-ndk-10.3.1 as well, which is what

[2016-07-22 10:16] minggo commented on #15891
I tried HTC Sense 2.3.7, no crash.

[2016-07-22 10:29] zilongshanren commented on #16169
@Bilalmirza  @rh101  Change `APP_STL := gnustl_static` to `APP_STL := c++_staic` in  `Application.mk` could solve the problem.

[2016-07-22 10:43] AlexanderBykin opened #16197 "sdkbox imports should be implemented at Cocos2dxActivity"
I'm tired to modify Activity sdkbox to use it, so i want to do ease usage of it by adding simple flag of enable.

i will provide PR.

[2016-07-22 11:06] rh101 commented on #16169
@zilongshanren , the only thing that prevents the crash from happening is using --app-abi=armeabi-v7a in the compile command.  APP_STL := c++_static had no real effect on it, and still has a compilation issue with --app-abi=armeabi, being "error: relocation overflow in R_ARM_THM_CALL".

The problem now is that the compiled application will be incompatible with ARMv5 & v6 devices.

[2016-07-22 13:51] ryanxia2016 commented on #16192
Another problem found.
At android 2.3.6, Game Running OK, but after several minutes, all sound effects disappear(background music is playing and game is still working).

BTW:

I had modified cddandroidAndroidJavaEngine to use AudioEngine on all Android Versions(Comment out the if (sdk_ver == 21) statement)

and add new preload and unload Method as:

void AndroidJavaEngine::preloadEffect(const char

[2016-07-22 15:38] rahb3rt opened #16198 "cocs2d-x v. [3.12] -"
cocos2d/external/json/document.h

When using an unsigned long variable for buffer size and using the NetworkWrapper function sendData() and recieveData() the crash occurs on recieving and interpreting the buffer.

Assertion failed: (IsNumber()), function GetDouble, file ~/cocos2d/external/json/document.h, line 1402.

Possible problem that interpreter does not handle unsigned long

[2016-07-22 16:58] ricardoquesada commented on #14116
@minggo nice!!

[2016-07-22 16:59] ricardoquesada commented on #16100
@wildrabbit thanks. I just want to have a test case that triggers the bug before patching it. Thanks again!

[2016-07-22 17:02] ricardoquesada commented on #15566
@minggo everything has been merged... but I couldn't make it work on Android 64 + Lua + Lua encrypted bytecodes.
The Lua-empty-tests works Ok since it doesn't use encrypted bytecodes. But Lua-tests doesn't work because of that.
It would be great if someone who understands how our Lua bindings work could take a look at it. Otherwise I'll try to fix it myself, but it might take me more time.

[2016-07-22 19:13] ricardoquesada commented on #16113
@reasonMix thanks. I was able to reproduce it.
I think this is happening because the `RenderTexture`'s texture is using premultiplied alpha internally, but when we save the PNG, we save it the data (premultiplied) as if it were unpremultiplied. So, you open the PNG... the editor thinks it is pure RGBA, but it is RGBA-premultiplied.

This does not happen on iOS because iOS is using its own function

[2016-07-22 19:49] alfogrillo commented on #16169
Also for me cpp-empty-test does not crash with:
`--app-abi=armeabi-v7a`

[2016-07-23 00:58] wildrabbit commented on #16100
I think I've spotted the reason why we stop reproducing the bug on later versions. However, now I'm unsure about what would be the right way to proceed after this.

As I mentioned, I had been testing versions equal to, or closer to 3.9 , which is what we use at work (as there are multiple projects relying on the library and our own layer on top of cocos we can't just upgrade to the latest version

[2016-07-23 01:38] zilongshanren commented on #16169
@rh101  For NDK r12b, you must use `--app-abi=armeabi-v7a`, but with the NDK version below r12, you could compile with `armeabi`. And now the `APP_STL := c++_staic` option indeed solve the problem.

[2016-07-23 01:54] reasonMix commented on #16113
@ricardoquesada yes,but if use a sprite to render to target,the PNG file is fine no border,so maybe this is not easy solve this problem

[2016-07-23 02:33] rh101 commented on #16169
@zilongshanren , you're right about NDK12b and --app-abi=armeabi-v7a, but for anything below r12 (including crystax-ndk-10.3.1) I'm still getting compilation errors when using APP_STL := c++_static and --app-abi=armeabi.  I'll test it out a bit more.

What works:
cocos2d 3.12, crystax-ndk-10.3.1, --app-abi=armeabi-v7a and APP_STL := c++_static
cocos2d 3.12, ndk-11c, --app-abi=armeabi-v7a and APP_S

[2016-07-23 03:15] ricardoquesada commented on #16113
@reasonMix makes sense what you are saying... I've been trying to fix this bug doing different stuff and I couldn't fix it. I tried to unpremultiplied alpha and other stuff and didn't work.
perhaps I should take a look at how the ttfs are being created.

I'll take a look at this again this monday with fresh eyes.

[2016-07-23 07:19] purnaprakashverma commented on #15417
i have used ndkr10c but still i got error
e:\COCOS\cocos2d-x-3.12\build>python .\android-build.py cpp-empty-test -p 10
cocos compile -p android -s e:\COCOS\cocos2d-x-3.12\build..\tests/cpp-empty-tes
t --ndk-mode debug
Building mode: debug
Using Eclipse project : e:\COCOS\cocos2d-x-3.12\tests\cpp-empty-test\proj.androi
d
Android platform not specified, searching a default one...
running: '"E:\COCOS

[2016-07-23 07:20] CoderNeko commented on #16124
@m-yukio I've got the same problem. so I write a setDemonsions func for RichText just like Label does,and the content size will refresh on next frame.

[2016-07-23 07:45] alfogrillo commented on #16169
@zilongshanren
For me the `cpp_empty_test` works with `APP_STL := c++_static` and Android NDK 11c without `--app-abi=armeabi-v7a`.
Anyway I get this Android NDK warning:
`LOCAL_LDLIBS is always ignored for static libraries`

[2016-07-23 10:22] DazzledApps commented on #15417
HI Dear,
Mates I found this issues occurs when we made the project using the cocos studio and try to build the project.
I made the project with command prompt and shift all the folder into it and it's working perfect.
if anyone have issue let me know and want to discuss in more details contact me on ashish.verma@dazzledapps.com

Thanks & Regards
Ashish Verma
+919911672843
Skype: dazzledapps
Websit

[2016-07-23 12:07] purnaprakashverma commented on #15417
Hello Sir,
 I made the project with command prompt and download the cocos2dx-store-example-master project when I compiled the project,following error occurred-

e:\COCOS\cocos2d-x-3.11.1>cocos compile -s cocos2dx-store-example-master -m rele
ase
Building mode: release
Using Eclipse project : e:\COCOS\cocos2d-x-3.11.1\cocos2dx-store-example-master\
proj.android
Android platform not specified, searc

[2016-07-23 17:40] Gargo opened #16199 "Can't install on OSX"
according to readme:
MacBook-Pro-Apple:cocos2d-x-3.12 apple$ cocos new -l cpp -p com.gamefromscratch.gamename -d ~/Documents/Projects/cocos2d gamename
Traceback (most recent call last):
  File "/Users/apple/Downloads/cocos2d-x-3.12/tools/cocos2d-console/bin/cocos.py", line 22, in <module>
    import cocos_project
  File "/Users/apple/Downloads/cocos2d-x-3.12/tools/cocos2d-console/bin/cocos_project

[2016-07-24 16:23] Rubonnek commented on #16198
Have you tried updating the rapidjson library directly from the master tree to see if that fixes the issue?

You can just copy the contents form: https://github.com/miloyip/rapidjson/tree/master/include/rapidjson
and drop them into that json folder.

[2016-07-24 20:48] Shulepov commented on #16179
Currently cocos2d-x is embedded in RootViewController (though also lifecycle events is propagated from AppController). So you can just add this RootViewController as child view controller whenever you want. But don't forget to adjust CCEAGLView size if necessary, currently it configured to fill the whole screen.

Anyway, look at RootViewController - it contains all you need to use cocos2d-x from a

[2016-07-25 00:47] m-yukio commented on #16124
@CoderNeko I order to fit in the view that there is a RichText Widget, you want to get contentSize during construct.
Will you able to agree on the contents of the pull request # 16162?

[2016-07-25 01:45] minggo commented on #15566
@ricardoquesada as i remember the byte code of luajit64 is not compatible with luajit32. Which means we should provide two versions of lua byte codes and load correct byte codes in different architecture.

We should discuss how to fix it and not bring two much  inconvenience.

[2016-07-25 01:48] minggo commented on #14116
@ricardoquesada please refer to #16169, it seems using clang+gnustl_static has some problem. After testing, we found gnustl_static+gcc and clang+stl_static doesn't have crash issue. We haven't found the real reason.

[2016-07-25 01:57] minggo commented on #15417
cocos2d-x doesn't support cocostudio since v3.11 as cocosstudio is canceled.

[2016-07-25 02:45] minggo commented on #16199
@natural-law could you please take a look?

[2016-07-25 02:48] minggo commented on #16197
@AlexanderShniperson i don't quite understand what's your need, could you please paste some codes to explain it?

[2016-07-25 02:52] minggo commented on #16186
@xingshh what did you mean `can not pick model correctly`? Could you please provide a test case? Thanks.

[2016-07-25 02:53] minggo commented on #16181
Yep, i think it is a bug. Can it work correct after changing from `bufer` to `buffer`?

[2016-07-25 02:56] #16168 closed, assigned to nobody

[2016-07-25 03:00] minggo commented on #16138
@meiry can i close the issue since it is not a cocos2-x issue?

[2016-07-25 03:00] zilongshanren commented on #16176
[code]

If `_ignoreSize` is false and `_customeSize` equals `Size:ZERO`, then the `_customSize` will be set to `__buttonNormalRenderer->getContentSize();`

Could you give me an example when `_customSize` is alwyas zero?
thanks.

[2016-07-25 03:00] minggo commented on #16135
ping @slackmoehrle

[2016-07-25 03:07] minggo commented on #13838
I can not reproduce it with latest codes. May be it is fixed, so close this issue.

[2016-07-25 03:07] #13838 closed, assigned to nobody

[2016-07-25 03:09] natural-law commented on #16199
I think it's a same problem with issue #16138 .

[2016-07-25 03:16] natural-law commented on #16138
@minggo I've just checked the logic, I think it's necessary that catch the exception to solve the crash problem. I will do it later.
@meiry Thanks for your suggestion!

[2016-07-25 03:20] meiry commented on #16138
Sure , happy to help

[2016-07-25 03:26] minggo commented on #14206
fixed in #16201

[2016-07-25 03:47] DazzledApps commented on #15417
Hi Dear,
Let me check the issue on my end and I will let you know

_Thanks & Regards_

_Ashish Verma_
_CEO & Founder | DazzledApps Technologies Pvt. Ltd. |
*_http://www.dazzledapps.com
http://www.dazzledapps.com*
_@Skype:_ dazzledapps Or ashish.verma404 _| Email:_
_ashish.verma@dazzledapps.com
mailto:ashish.verma@dazzledapps.com?Subject=Hello%20+DazzledApps_
_Mobile | WhatsApp :_ +919911672843 | L

[2016-07-25 04:39] AlexanderBykin commented on #16197
@minggo sure i will provide Java class that initialize SDKBOX from Cocos2dxActivity

[2016-07-25 04:50] Gargo commented on #16199
@natural-law I saw that issue: echo $LANG on my macbook returns empty string. How to set it correctly?

[2016-07-25 05:16] dumganhar commented on #14199
Probably, it's related to https://github.com/cocos2d/cocos2d-x/issues/16169

[2016-07-25 05:37] natural-law commented on #16199
@Gargo You can try this: https://github.com/cocos2d/cocos2d-console/pull/363

[2016-07-25 06:06] #14199 closed, assigned to nobody

[2016-07-25 06:25] #14206 closed, assigned to minggo

[2016-07-25 06:43] cezheng commented on #16176
@zilongshanren There're 2 loadTextureNormal methods and we're calling the method from here: https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/ui/UIButton.cpp#L289

Also, I don't think this code is appropriate:

[code]

If you would like to change the normal texture, this just leaves the size unchanged. What we've been overriding is

[code]

which makes Button's behaviour consistent with 3.9

[2016-07-25 06:51] AlexanderShniperson commented on #16197
#16203

[2016-07-25 09:26] minggo commented on #14221
fixed in #16205

[2016-07-25 09:33] #16138 closed, assigned to natural-law

[2016-07-25 10:30] #14221 closed, assigned to minggo

[2016-07-25 17:50] stammen commented on #16063
@minggo https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src has not been updated to curl version 7.50.0.

[2016-07-26 00:59] ricardoquesada commented on #15566
@minggo  a ha! that explains it! what's your proposal for this?
I guess users will have to build two different bytecodes for their games then. is that correct?
what are we doing in iOS regarding LuaJIT in 32-bit and 64-bit?

[2016-07-26 01:04] ricardoquesada commented on #14116
@minggo Ok. I'll add some info in that link.

[2016-07-26 01:05] ricardoquesada commented on #16169
@minggo @zilongshanren @dumganhar
could we try to identify the commit that broke it? Perhaps by doing `git bisect` ?
it is important to try to identify the commit that broke it so that we learn from it, and we can fix it.

[2016-07-26 01:30] rahb3rt commented on #16198
I will give that a go and post back.

[2016-07-26 01:35] minggo commented on #15566
Currently we use luajit for 32-bit and lua for 64-bit because luajit doesn't support 64-bit before. If we want to use luajit both for 32-bit and 64-bit, then i think there are two solutions:
1. use source code instead of byte code. We currently uses this solution, because byte code of lua an luajit is not compatible. So we just need to replace lua to luajit for 64-bit.
2. use different byte code f

[2016-07-26 01:43] dumganhar commented on #16169
@ricardoquesada , I use `git bisect` to find out which commit broke it yesterday.
The result is:

[code]

It means that this Pull Request (https://github.com/cocos2d/cocos2d-x/pull/13076) broke it.
But I still can't get the reason. :(

Anyway, I'll try to catch it today.

[2016-07-26 01:49] minggo commented on #16063
Sorry, i forgot to update the source repo. Could you please try again, i just updated it.

[2016-07-26 02:02] #16197 closed, assigned to nobody

[2016-07-26 02:50] dumganhar commented on #16169
FIXED: https://github.com/cocos2d/cocos2d-x/pull/16214

@boyjunqiang, @Bilalmirza, @rh101, @Drakon-Cocos, @phutc
Please test.

@ricardoquesada , @minggo , @zilongshanren ,

Any thoughts,  why is the assignment operator of `std::u16string` broken? This Pull Request did fix the problem. But I still don't know the reason.

[2016-07-26 03:16] dumganhar opened #16215 "Different behavior of AudioEngine on different platfroms"
Currently, audio pause/resume logic on iOS will be controlled automatically.
Both `SimpleAudioEngine` & `New AudioEngine` on iOS achieve in that way, but other platforms are not implemented. So developers have to invoke `AudioEngine::pauseAll/resumeAll` in the Applegate.cpp, some code like:

[code]

Developers are confused, they complain that why should we invoke these method for Android while the

[2016-07-26 03:52] dumganhar commented on #16169
All my tests are based on debug mode. And after applying my patch, every thing works perfectly.

But there seems to be some different in release mode... I mean it seems to continue crash in release mode. :( And the crash place is different, I commented all nodes in HelloWorldLayer. Still crash got.

[2016-07-26 05:19] ryanxia2016 commented on #16192
@dumganhar
Is there anything found?

[2016-07-26 05:40] mtak- commented on #16169
It definitely sounds like an ABI issue.

I wonder if it is related to this bug: https://github.com/android-ndk/ndk/issues/151

[2016-07-26 05:40] dumganhar commented on #16192
No yet,  i'm busy handling https://github.com/cocos2d/cocos2d-x/issues/16169, I'll check this problem right after issue #16169 is resolved.

[2016-07-26 06:05] liuyi opened #16217 "Got wrong result when render sprite which in transformed node to cc.RenderTexture"
I wrote a pixel hit test function , it works well utils today. !_!
1. Sprite A { scaleX:2.5,scaleY:2.5}  in scene;
2. Sprite B {scaleX:0.5,scaleY:0.5}  is included in Sprite A,(B is A's child node).
3. Render Sprite B to cc.RenderTexure R.
4. Add R to scene, R 's size is the same as  the origin size of Sprite B.

I don't know if it's right logic. I thought  R's size should be the same as the displ

[2016-07-26 06:12] minggo commented on #16169
@mtak- i don't think it is related with https://github.com/android-ndk/ndk/issues/151 because it is not crash if building with armeabi-v7a.

@dumganhar i have not idea why it can fix the issue. I wonder if we should move back to use gcc until c++_static is stable.

[2016-07-26 06:20] minggo commented on #16063
@stammen is https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src useful for you? It can not build Windows Phone architectutre.

[2016-07-26 07:27] fuyifan commented on #15566
actually, it should not be the source code but the compiled one without byte code. In cocos console, it would be something like "cocos luacompile -s ./lua -d ./src -e -k XXX -b XXX **--disable-compile**". Source code is not safe for publish coz your app will be easy hacked and the related data can be read and revised. The only problem is that the compiled code will be much larger than the bytecode

[2016-07-26 07:35] minggo commented on #15566
Compile it without byte code, what did you mean?

[2016-07-26 07:57] alfogrillo commented on #16169
@dumganhar
Fix #16214 worked.
I created a new project, applied the patch, compiled with:
`cocos run -p android --android-studio`
And it worked! :-)

[2016-07-26 08:09] fuyifan commented on #15566
According to forum : http://www.cocoachina.com/bbs/read.php?tid=335178, I use this method for publish in iOS.

[2016-07-26 08:09] Arman11 commented on #15557
I get latest version cocos2d-x v3 from github. Download latest NDK r12b. Create new project and try to compile for android.

cocos compile -p android

Android NDK: WARNING: APP_PLATFORM android-22 is larger than android:minSdkVersion 9 in ./AndroidManifest.xml
Android NDK: ERROR:/Users/.../proj.android/../cocos2d/external/freetype2/prebuilt/android/Android.mk:cocos_freetype2_static: LOCAL_SRC_FILE

[2016-07-26 08:15] dumganhar commented on #16169
@Drakon-Cocos, thanks for testing.
Yep, it did work in **debug** mode, but it's broken in **release** mode. :(

[2016-07-26 09:13] minggo commented on #15557
@Arman11 have you run `./downloade_deps.sh` to get corresponding 3rd party libraries?

[2016-07-26 09:15] dumganhar commented on #16169
This is the result in `git bisect` release mode:

[code]

It seems that it's the same commit made the broken.

[2016-07-26 09:17] minggo commented on #15566
@fuyifan as thread you pasted said, it just encrypt the source codes, not compile to byte code.

[2016-07-26 09:21] dumganhar commented on #16169
@Drakon-Cocos,  did that patch work for you while building game in  release mode?

[2016-07-26 10:56] rh101 commented on #16169
@dumganhar, after fix #16214, debug and release version do not crash when building for armeabi with gnustl_static.

Edit: NDK = crystax-ndk-10.3.1

[2016-07-26 11:13] liuyi commented on #16217
Resolved this issue with custom JSB function.
After read source code of Node, found
void Node::visit(Renderer\* renderer, const Mat4 &parentTransform, uint32_t parentFlags)
can resolve this issue, but JS can not get Renderer.

So I have to write a custom JSB function to extern node. such as:

[code]

Is there any one know how to resolve this problem in  pure JS API? Because I can't upgrade app exc

[2016-07-26 11:15] alfogrillo commented on #16169
@dumganhar
As @rh101  for me the patch works both in debug and release mode (armeabi, gnustl_static)

[2016-07-26 12:51] Arman11 commented on #15557
Yes of course
 $ cd cocos2d-x
 cocos2d-x $ python download-deps.py
and
cocos2d-x $ git submodule update --init

[2016-07-26 15:50] dumganhar commented on #16169
@rh101 @Drakon-Cocos , thanks for testing.
It seems that my patch did resolve the problem.
But the latest code on v3 branch broke it again in release mode.
This is the `git bisect` result:

[code]

@minggo , this commit was submitted by you. Any ideas about why it broke again?

[2016-07-26 16:49] alfogrillo opened #16220 "cpp-empty-test does not compile on OS X"
The empty project does not compile on OS X (10.11.4).
I see these errors in `CCDevice-apple.mm`:

![xcode-error](https://cloud.githubusercontent.com/assets/19324622/17147041/293d36ee-5361-11e6-94ec-8399a63530fb.png)
- cocos2d-x version: 3.12
- devices test on: Mac book air 2013
- developing environments
  - Xcode version: 6.4

Steps to Reproduce:
1.  cocos new -l cpp TEST
2. Open the Xcode project

[2016-07-27 00:08] ricardoquesada commented on #16220
might be an Xcode 6.4 thing?
I tried on "v3" branch which is similar to v3.12 + some fixes and with Xcode 7.3 and worked ok.

[2016-07-27 00:18] partlyhuman commented on #10390
It would also be very useful for developing games on custom hardware for installation art/advertising. I'm doing just this with custom sensors and display for a game you play throwing physical balls at a screen. Raspi is the perfect form-factor for our low-resolution LED array display, and serial interface to the ball sensors. I have experience with Cocos2d on iOS and was hoping to write the game

[2016-07-27 00:41] ricardoquesada commented on #16220
well... I confirm that the issue is with Xcode 6.4 Any reason why you are still using it?
I have bad news for you :(, besides the bug that you reported,  we are using code in `CCDevice-mac.cpp` that only works on OS X 10.11 and requires Xcode 7.

@minggo @linshun what's the policy here? should we support Xcode 6.4? or only Xcode 7+ ?

[2016-07-27 01:32] minggo commented on #16220
@ricardoquesada i don't think we should support Xcode 6.x unless it is very easy to fix.

[2016-07-27 01:38] minggo commented on #16063
windows 10 and 8.1 is updated in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/242

[2016-07-27 01:47] minggo commented on #16169
@dumganhar it is to fix the link error `error: relocation overflow in R_ARM_THM_CALL`. Can refer to #16033 for detail information.

[2016-07-27 02:05] minggo commented on #15557
Oh, yep, i found the issue. cocos2d-x doesn't support x86_64. You can use `cocos compile -p android --app-abi armeabi` to compile it. I will fix it in template.

[2016-07-27 02:06] ricardoquesada commented on #16100
@wildrabbit thanks for all the findings.
I was able to reproduce the bug by removing the the `setAdditionalTransform` in `CCScene.cpp`.
Once the PR is green, I'll merge it. Thanks again!

[2016-07-27 02:12] minggo commented on #15557
fixed in #16223

[2016-07-27 02:23] dumganhar commented on #16169
The result report:

| compiler | stl library | build mode | apply PR #16069 (James) | apply PR #16214 (Minggo) | result |
| --- | --- | --- | --- | --- | --- |
| clang | gnustl_static | release | no | yes | crash while launch |
| clang | gnustl_static | release | yes | yes | crash while launch |
| clang | gnustl_static | release | yes | no | ok |
| clang | gnustl_static | release | no | no | crash

[2016-07-27 02:35] minggo commented on #16169
@dumganhar yep, i agree with you that we should switch to gcc + gnul_static. @ricardoquesada what's your opinion?

[2016-07-27 03:08] stammen commented on #16063
@minggo I will make a pull request to https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src with the updated build scripts for windows 10 and 8.1.

[2016-07-27 03:16] zAncel commented on #16181
yes, it is work

2016-07-25 10:54 GMT+08:00 minggo notifications@github.com:

[2016-07-27 03:24] ricardoquesada commented on #16169
@minggo @dumganhar agreed.
Yes, let's keep using it. it would be great if we can create a small tests that reproduces this crash (without cocos, just one .cpp) and submit it to google.

[2016-07-27 03:32] ricardoquesada commented on #16220
@minggo I tried to fix it and I couldn't. Although I didn't spend more than 15 minutes on it.
It is not trivial since I have to reimplement a function that apparently was added in v3.12.
But we should know that we are using a function that is only available in OS X 10.11, which might be a problem for some users.
In particular we are using: `boundingRectWithSize`

[code]

and as you can see it says

[2016-07-27 03:37] ShuraLiu opened #16224 "TrianglesCommands can't do batching when the glprogram using custom shader with custom uniforms"
In file CCRenderer.cpp, line 876, 2dx checks the MaterialID of the command, and if "newMaterialID == MATERIAL_ID_DO_NOT_BATCH" the command will not do batching.
In file CCTrianglesCommand.cpp, line 81, if the glprogram use custom uniforms, the meterialID will be set to MATERIAL_ID_DO_NOT_BATCH, which means the command will never do batching.
In the latest version of Spine ,it uses CCTrianglesComma

[2016-07-27 04:01] minggo commented on #16224
Thanks @ShuraLiu . @ricardoquesada could you please take a look? As i remember you said material id is not implemented as expected, but i may bring performance issue.

[2016-07-27 04:02] minggo commented on #16063
tahnks

[2016-07-27 04:06] jasonchin opened #16225 "iconv uses the LGPL License (conflicts with the MIT License)"
Specifically CCFontAtlas uses the iconv library, which is under the LGPL License:
https://www.gnu.org/software/libiconv/

This conflicts with the MIT License, as well as meaning it shouldn't be publishable on an Appstore etc.

Seems like iconv needs to be replaced?

[2016-07-27 04:13] nsnsns commented on #16225
No - it is not in conflict.
With lgpl a compiled component can be linked as a library and you don't
need to give source code of all software unless you have significantly
changed compiled component
On 27 Jul 2016 09:37, "jasonchin" notifications@github.com wrote:

[2016-07-27 04:29] ztech commented on #16156
#15697 bug since 3.11

[2016-07-27 05:12] jasonchin commented on #16225
From the cocos2dx coding style page:
http://www.cocos2d-x.org/wiki/Cocos2d-x_Coding_Style_C++

Another similar problem which was resolved:
http://www.cocos2d-x.org/issues/4782

The LGPL license is a grey area with iOS in particular, but it seems like the general consensus seems that  it shouldn't be used? It also requires to make object files of your app to be accessible to the public.

[2016-07-27 05:49] minggo commented on #16156
@ztech i think it is a duplicated issue.

[2016-07-27 05:52] dumganhar commented on #16187
The performance of using Java class Mediacodec for decoding is even lower performance.
So give up this idea.

[2016-07-27 05:52] #16187 closed, assigned to dumganhar

[2016-07-27 06:08] dumganhar commented on #16192
@ryanxia2016, it was fixed at https://github.com/cocos2d/cocos2d-x/pull/16226.

[2016-07-27 06:15] dumganhar opened #16227 "[android] Optimize preload of AudioEngine"
Goal:
- Support to play audio without audio is totally decoded, it means that decode some frames, buffering them and send them to OpenSLES to play. Decoding & playing will be simultaneous.
- One strategy for preloading & playing audio, it will only uses `PcmAudioPlayer` to play audio, `UrlAudioPlayer` will be deprecated and only be used in devices which don't support decoding by OpenSLES API.

[2016-07-27 06:21] ricardoquesada commented on #16100
fixed. thanks.

[2016-07-27 06:21] #16100 closed, assigned to ricardoquesada

[2016-07-27 06:48] Bilalmirza commented on #16115
@ricardoquesada when you upgrade to v3.4. You might get a few crashes. Let me know if you do. I also have tests prepared for this since i upgraded to v3.4 myself.

[2016-07-27 07:13] minggo commented on #16220
Yep, we should aware of it. And is it anything with the compiling issue?

[2016-07-27 07:15] minggo commented on #16220
And i think we should update the README of the requirements.

[2016-07-27 07:17] alfogrillo commented on #16220
@ricardoquesada
Until cocos 3.11 I remember the project worked well.
I still use Xcode 6.4 because I'm working with iOS 8.4 with Jailbreak because I have not an Apple developer account yet.
I could try to update Xcode and see if all continue to work for me.
Anyway I agree with you: not a good thing the project is going to work only on OS 10.11+

[2016-07-27 07:27] minggo commented on #16220
@ricardoquesada  he codes are

[code]

It doesn't only work on Mac OS 10.11.

[2016-07-27 07:27] minggo commented on #16181
@zAncel why not send a pull request?

[2016-07-27 07:36] dumganhar commented on #14148
fixed at https://github.com/cocos2d/cocos2d-x/pull/16228

[2016-07-27 07:40] #16192 closed, assigned to dumganhar

[2016-07-27 07:57] alfogrillo opened #16229 "Crashed with Android 4.4.2"
I'm testing the v3 branch because it include @dumganhar's #15875 audio patch for Android.

However with a simple test project I noticed that app crashes when uses `AudioEngine`.
I had the problem only with **Android 4.4.2** for now (Android 5, 6 seems ok).

This is my sample project:
[AudioCrashTest_mirror.zip](https://github.com/cocos2d/cocos2d-x/files/385706/AudioCrashTest_mirror.zip)
It is a sl