[2019-03-07 01:12] stephenwithav commented on #19246
That would be fantastic, @minggo!  I just started learning Cocos and this was a pain point.

[2019-03-07 06:58] #19463 closed, assigned to PatriceJiang

[2019-03-07 12:38] semgilo commented on #19116
how about the issue now?@drelaptop @PatriceJiang

[2019-03-08 01:27] minggo commented on #19116
i think lua crash issue is fixed in 3.17.1

[2019-03-08 01:32] semgilo commented on #19116
@minggo thx,  i will take a test.

[2019-03-08 04:51] #19420 closed, assigned to nobody

[2019-03-08 07:27] minggo commented on #19468
https://github.com/cocos2d/cocos2d-x/pull/19478: make travis work, should compile JSB projects when JSB project work.

[2019-03-08 09:16] Kabariya commented on #18492
Hi, guys we are fetching the same issues any solution for that? or any other way so we can solve multi-resolution problem and game can work on every device

[2019-03-08 15:45] slackmoehrle commented on #19455
I believe we can do this using CMake.

can you show me where `gen-libs` is still being used in the docs?

[2019-03-08 21:11] Sleicreider opened #19480 "iOS AudioEngine stops looping audio"
- cocos2d-x version: 3.17.1
- devices test on: iPad Mini 2, iPhone 6
- developing environments
   - Xcode version: Version 10.1 (10B61)

Steps to Reproduce:

Audio suddenly stops, or doesn't resume when entering the running app from the homescreen or after hitting a breakpoint. (happens more often on the ipad mini 2 and in real project where much more is going on)

Tried to create looping backgrou

[2019-03-09 03:17] deguilardi commented on #19455
@slackmoehrle Docs use it [here](https://docs.cocos2d-x.org/cocos2d-x/en/editors_and_tools/prebuilt_libraries.html). Any google search you do will lead you the same way

I could make it work by changing the compiler back to gradle as the gen-libs script needs the gradle's build directory to function.

I suggest to override cmake build with the gradle for gen-libs script only. It will make it work

[2019-03-09 10:36] semgilo commented on #19116
@minggo i upgraded to 3.17.1 and got other issues.
win32: crash on close window and some performance issues
There may be some parts that have not been upgraded sucessfully. I don't have much time to debug . Is there any way to upgrade only part of it?

[2019-03-11 01:17] minggo commented on #19116
Yep, you can just replace the luajit lib.

[2019-03-11 02:25] semgilo commented on #19116
I replace the luajit and crash again,release mode debug is ok

[2019-03-11 02:30] minggo commented on #19116
Does it crash in luajit. And did you clean and rebuild the application?

[2019-03-11 07:51] minggo commented on #19468
cocosrobot works too

[2019-03-11 09:47] slackmoehrle opened #19486 "cannot compile `cocos new` JS project"
- cocos2d-x version: 3.17.1 Javascript

Discussion is here: https://discuss.cocos2d-x.org/t/cocos-2dx-3-17-1-cant-compile-release/45841/

[2019-03-11 10:27] UnSkyToo opened #19487 "在iOS上用VideoPlayer播放视频时开始屏幕录制会导致视频消失"
- cocos2d-x version:3.17.1
- devices test on:iPad Mini2, iPhone6S
- developing environments
   - Xcode version:10.1
   - iOS version:12.1.4

Steps to Reproduce:
1. 下载cocos2d-x最新版(3.17.1)然后使用自带的templates工程，在HelloWorldScene里使用VideoPlayer播放任何一段视频
2. 使用iOS自带的屏幕录制工具开始录制，在开始录制的瞬间视频就会消失不见（但背景音乐还在，视频也不会停止，只是不会渲染）
3.关闭录屏，视频会重新出现

[2019-03-11 10:32] slackmoehrle commented on #19455
@deguilardi It's weird that you found this doc, because we removed it from the TOC and also a search for `gen-libs` doesn't produce any results for me:

![image](https://user-images.githubusercontent.com/7491758/54117237-b7ef2700-43c6-11e9-8b8b-8beb95dda482.png)

![image](https://user-images.githubusercontent.com/7491758/54117337-e53bd500-43c6-11e9-8291-b716339dbdac.png)

We have basically dropped

[2019-03-12 03:37] kienvn opened #19491 "Spine not show when add to Billboard"
- cocos2d-x version: 3.17.1
- devices test on: Mac

`
bool HelloWorld::init()
{
    //////////////////////////////
    // 1. super init first
    if ( !Layer::init() )
    {
        return false;
    }

    auto visibleSize = Director::getInstance()->getVisibleSize();
    auto origin = Director::getInstance()->getVisibleOrigin();

	auto camera = Camera::createPerspective(13, visibleSize.width / vi

[2019-03-12 06:00] minggo commented on #19313
https://github.com/cocos2d/cocos2d-x/pull/19493: cpp/lua new project work

[2019-03-12 07:33] PatriceJiang commented on #19410
related PR;
https://github.com/cocos2d/cocos2d-x/pull/19454, https://github.com/cocos2d/cocos2d-x/pull/19496

[2019-03-12 07:33] #19410 closed, assigned to PatriceJiang

[2019-03-12 09:56] semgilo commented on #19116
It works, but you need to pay attention to the changes in luajit
math.mod -> math.fmod
string.gfind -> string.gmatch
https://github.com/LuaJIT/LuaJIT/pull/302

[2019-03-12 10:21] minggo commented on #19468
https://github.com/cocos2d/cocos2d-x/pull/19497: windows ci works

[2019-03-12 10:22] minggo commented on #19468
Now, only JSB projects left.

[2019-03-12 10:25] minggo commented on #19116
Thanks for the information. How did you find it?

[2019-03-12 10:29] minggo commented on #19314
@slackmoehrle any update? I enabled travis CI, and it seems it works on linux.

[2019-03-12 10:30] minggo commented on #19314
I mean the compilation works, but i don't know if the effect corrects or not.

[2019-03-12 12:52] semgilo commented on #19116
i replace luajit lib, it crashes for math.mod is nil. i fixed it by google and test on many devices. everything is ok.

[2019-03-12 12:56] semgilo commented on #15669
This issue has been around for a long time, has it been fixed?

[2019-03-12 13:08] Mee-gu commented on #19453
fixed at https://github.com/cocos2d/cocos2d-x/pull/19499

[2019-03-13 02:09] #19453 closed, assigned to Mee-gu

[2019-03-13 02:32] minggo opened #19502 "Fix TODO"
There are many `TODO` when adapting to metal, should fix them.

[2019-03-13 02:56] minggo opened #19503 "[test case issue]Effects - Advanced"
The sprites are scaled.

[2019-03-13 03:02] minggo opened #19504 "[Test case issue]Node: TileMap"
The first time run the first case, the stats information will be hidden.

[2019-03-13 03:05] minggo commented on #19468
JSB projects building is nothing about CI, so close the issue.

[2019-03-13 03:05] #19468 closed, assigned to minggo

[2019-03-13 06:13] minggo commented on #19502
https://github.com/cocos2d/cocos2d-x/pull/19505 fixes some todo.

[2019-03-13 06:47] rh101 opened #19507 "Audio crash on app exit while many sounds are playing"
- cocos2d-x version: 3.17.1
- devices test on: Win32 build on Windows 10
- developing environments
   - NDK version: N/A
   - Xcode version: N/A
   - VS version: VS2017 v15.9.9
   - browser type and version: N/A

Steps to Reproduce:

1. Play a lot of short audio sounds (mp3 in my case) very quickly
2. While the sounds are playing, close the application

[code]
It happens often, but intermittently,

[2019-03-13 07:17] rh101 commented on #19507
So, after looking into this a bit more, I can see that the audio player is being removed in this section of code:

[code]

[2019-03-13 07:42] rh101 commented on #19507
Working fix (I don't think it addresses the real issue though. I still don't know why _audioPlayers[audioID] is null):

Add null checks to the `stop()` and `stopAll()` methods:
[code]

Add a null check in the `update()` method:
[code]

[2019-03-13 10:03] #19306 closed, assigned to Mee-gu, PatriceJiang

[2019-03-13 10:03] minggo opened #19511 "3d physics is not supported"

[2019-03-14 05:17] UnSkyToo commented on #19487
建立一个新的iOS工程，只用MediaPlayer播放视频，录屏也会黑屏，看来是这个组件已经彻底不兼容了。
什么时候能更新到AVPlayer

[2019-03-14 13:24] kameal opened #19515 "Support DragonBone CPP as a extension"
Hello Cocos Team,

Currently,  [cocos2d-x-lite](https://github.com/cocos-creator/cocos2d-x-lite) supported dragonbone in editor-support.(with full feature: mesh, bone IK,..)

And from root project, DragonboneCPP [DragonBones](https://github.com/DragonBones/DragonBonesCPP) supported for cocos2d-x without mesh and sometime can't parse json format.

So, please support Dragonbones as a extension like

[2019-03-14 15:19] AIGRIND-LLC commented on #19285
Hi @formatCvt ,
Tried to use new `getSafeAreaRect` implementation that supports cutouts.
It seems that cutout insets are cached and won't be recalculated after device becomes rotated.
![insets](https://user-images.githubusercontent.com/6168693/54368652-34129480-467d-11e9-81f8-4b3da7cac9de.png)
Did you test that case?

[2019-03-15 02:57] minggo commented on #19312
lua binding issues
- [ ] cocos2d::backend::SamplerDescriptor data convert between cpp and lua :  https://github.com/cocos2d/cocos2d-x/pull/19516/files

[2019-03-15 06:21] kienvn commented on #19491
I've fixed this bug by init trianglesCommand with flags = 0, spine node will be 2D

[2019-03-18 08:13] hjcapple opened #19521 "metal-support 分支使用到 glsl_optimizer 的一些问题"
metal-support 分支中的 ShaderModuleMTL.mm 使用了 glsl_optimizer 这个库。glsl_optimizer 在将 GLSL 转换成 MSL 时，有些问题。

1. glsl-optimizer 将 mod 直接转换成 MSL 的 fmod。但两者实际是不等价的。
2. glsl-optimizer 在转换 varying vec3 thing[4]; 这种语法时，没有将数组展开，导致转换后的 MSL 编译不过。
3. glsl-optimizer 分别独立转换 vertex shader 和 fragment shader, 假如 varying 定义变量顺序不一致，转换后的 MSL 就会出问题。

详细情况见 [GL 移植到 Metal 的小细节](https://zhuanlan.zhihu.com/p/54935886) 一文最后的备注。

[2019-03-18 09:45] Mee-gu opened #19523 "RenderPassDescriptor may need depthWriteEnable flag to keep in line with DepthStencilDescriptor"

[2019-03-18 10:20] formatCvt commented on #19285
Hey @AIGRIND-LLC, unfortunately i don't test this case

[2019-03-19 01:21] minggo commented on #19521
Thanks for the information, but please use english in future. You can paste the result of google translate along with Chinese.

[2019-03-19 07:01] umair6 commented on #18510
Any update on this crash? Facing this crash in my games too.

[2019-03-20 03:12] Priority10 commented on #18492
This is not exactly an issue of the engine. The engine gives you the tools to support multiple screen resolutions. But you must choose one of the many combinations that suits your game.

In this issue, I only say that the code in the template is bad because
a) it does not perform its task
b) and bad illustrates what you can do with the engine.
But in most cases, you still have to change this code

[2019-03-20 03:47] Kabariya commented on #18492
@Priority10 thanks for the explanation. we have found something on the internet and they claim that they are able to solve these issues, can you please look into it, we have tried but we are not getting exactly how they are doing it. link of that PPT  (slide number 19-24)
https://www.slideshare.net/ogdc/program-farmery-by-cocos2d-x-kien-vnfinal

[2019-03-20 06:36] minggo opened #19534 "Renderer::render() may cause crash"
Change `Director::drawScene()` to
[code]

will cause crash.

[2019-03-20 10:24] Mee-gu opened #19537 "No need reverse texcoord and viewport for metal"

[2019-03-20 12:04] Priority10 commented on #18492
Sorry, I can not open the link. **This site can’t be reached** ERR_CONNECTION_RESET
In any case, it is quite possible that they have a solution, but are you sure that this solution is suitable for your game? Because different games -> different needs -> different solutions.

My point is that you can find a ready-made solution on the Internet, but without understanding how it works, it is quite pos

[2019-03-20 12:51] Priority10 commented on #18492
Quick advice on how to figure this out faster

1. Now forget about `setContentScaleFactor()` and `setSearchPaths()`. Comment (or better delete) all related code and think that you have only one graphic set.

2. So, it is the time to decide for what resolution this set will be drawn. Learn how `setDesignResolutionSize()` works. Pay special attention to `ResolutionPolicy`.
Try different `designResol

[2019-03-22 11:23] Stinkfist0 commented on #17851
Hi. How was this supposedly fixed? I am encountering this with the 3.17.1 download and also with the latest code from GitHub on my own project (generated using "Visual Studio 15 Win64" CMake generator). As a quick workaround, I added the following to UIEditBoxImpl-win32.cpp:
[code]
After this, I am getting lots of linker errors, but that's different issue.

[2019-03-22 22:10] MuratAl opened #19542 "RenderTexture resets Camera zoom"
- cocos2d-x version: 3.17.1
- devices test on: Xiaomi Redmi Note 4X (Android 7.0), Samsung S3 (Android 4.3), LG One
- developing environments
   - NDK version: r16

Steps to Reproduce:
In some cases I need a large game enviroment. I've implemented Camera zoom. Before a game stage begins I set Camera zoom so that it can show more game elements. (While the game stage is running, i dont touch the Cam

[2019-03-24 14:54] crookedbard opened #19543 "Can't build lib for apple TV"
- cocos2d-x version: 3.17
- devices test on: Macbook 12
- developing environments
   - Xcode version: Version 10.1 (10B61)

Steps to Reproduce:

1. libcocos2d TVOS  with target  Apple TV
2. Product > Build

rror: Build input files cannot be found: '/Users/dkr/Projects/cocos2d-x/external/curl/prebuilt/ios/libssl.a', '/Users/dkr/Projects/cocos2d-x/external/curl/prebuilt/ios/libcrypto.a'

[2019-03-24 17:08] gestern commented on #19542
I also want to confirm that this is a rather old bug that has long existed.

[2019-03-26 01:42] #19436 closed, assigned to PatriceJiang

[2019-03-26 02:50] Mee-gu opened #19548 "FramebufferOnly set to NO because of need a copy from the drawable texture in metal"
set framebufferOnly to NO may make a poor performance

[2019-03-26 03:03] #19511 closed, assigned to PatriceJiang

[2019-03-26 06:14] PatriceJiang opened #19551 "[bug] incorrect Label effects"
cpp-tests/27: Node: Label - New API
- test cases 25/26/27/35/39/68/72/73/75 effects incorrect.
- 42/50 crashes

[2019-03-26 17:42] MuratAl opened #19553 "FileUtils::getInstance() JNI Runtime Error"
- cocos2d-x version: 3.17.1
- devices test on: Samsung Galaxy S3 (Android Jelly Bean 4.3)
- developing environments
   - NDK version: r16

Steps to Reproduce:
I've started a Game with Cocos2dx v3.15 and switched to new Version 3.17.1.
Now I've realized that the _C++ <-> Java "Communication"_ has been rewritten.
_FileUtils* fileUtils = FileUtils::getInstance();_ produces a Runtime Error on my old s

[2019-03-26 20:55] crazyhappygame commented on #19553
Hi. Could you reproduce this issue on latest cpp-tests from CI. https://ci.appveyor.com/api/buildjobs/69nq0r1w78srhw5m/artifacts/release%2FCppTests-release-unsigned.apk

[2019-03-27 07:04] rh101 opened #19555 "ui::Slider sends ON_PERCENTAGE_CHANGED event even if no change in percentage"
- cocos2d-x version: 3.17.1
- devices test on: N/A
- developing environments
   - NDK version: N/A
   - Xcode version:  N/A
   - VS version: N/A
   - browser type and version:  N/A

Steps to Reproduce:

1. Add a ui::Slider node to the scene, and register for the percentage change event:

[code]

[code]

2.  Run the test, and change the slider position, and you will notice in the console output tha

[2019-03-27 08:54] zhang-ray opened #19557 "Missing assets.srcDir in CppTests"
- cocos2d-x version: 3.17.1
- devices test on: Android 8.1.0
- developing environments
   - NDK version: 19.2.5345600
   - development OS: Ubuntu 16.04 (64-bit)
   - Android Studio version: 3.3.1

1. By [this document](https://docs.cocos2d-x.org/cocos2d-x/en/installation/Android-Studio.html): after built and run CppTests project on my phone, the program was flashback;

However, I can resolve this

[2019-03-27 09:33] zhang-ray commented on #19557
Maybe its direct cause is `WARNING: API 'variant.getMergeAssets()' is obsolete and has been replaced with 'variant.getMergeAssetsProvider()'.`

[2019-03-27 20:20] MuratAl commented on #19553
Thank you @crazyhappygame.
I used the cpp-tests (I built it for myself) and it worked.
So I looked at Google for a solution and found other (non cocos2dx-specific threads) with almost the same issue. Seems to be a problem with JNI and unreleased resources... I dont know. I do not have time to go deeper into this topic.
I'm also using JNI for some tasks (like ads, notifications, etc.)... this seems

[2019-03-27 20:24] crazyhappygame commented on #19553
Could you create simple test case?

[2019-03-27 20:43] MuratAl commented on #19553
yes. but that would take some time.
The JNI Part of my Code/Game is no magic. it's based on [SonarSystems Cocos-Helper](https://github.com/SonarSystems/Cocos-Helper). I'm using (of course) newer Versions of the used Services... but the JNI Part (functionality) is the same.

[2019-03-28 02:09] minggo opened #19559 "how to handle the problem that egl context lost on android"
We can restart application when it happened as discussed [here](https://discuss.cocos2d-x.org/t/restart-application-instead-of-reload-all-resources-when-opengl-es-context-lost-on-android/45074). But i am not sure if it is suitable.

[2019-03-29 02:51] minggo commented on #19423
cocos2d-x uses its own main loop to render a scene, and the FPS is calculated based on it. So it is strange that the FPS is something about VSync. The only thing that related with VSync i can image is that, cocos2d-x invokes OpenGL API `swapBuffer` at the end of the frame, which will wait all OpenGL commands been executed. But i don't know the relationship between them, it is something about the i

[2019-03-29 17:00] RustyMoyher commented on #19423
Hi minggo,

Thank you for taking a look at this! swapBuffers blocks _all_ execution when VSync is on. Normally this isn’t problematic, but when under heavy load the VSync Lock Issue occurs.

I timed the duration of the swapBuffers block. The duration should be less than 1 frame (16666 microseconds). Normally I see something like this for each frame:

[code]

But when the issue occurs, here is what

[2019-03-31 14:33] Xrysnow opened #19561 "ui::Widget::hitTest needs manual Lua binding"
- cocos2d-x version: 3.17.1
- devices test on: Windows PC
- developing environments
   - VS version: Community 2017

The auto binding for `ui::Widget::hitTest` is invalid due to the binding of `Vec3*`:

https://github.com/cocos2d/cocos2d-x/blob/a3a536e5af08e87d742ec2f01732d77c0589aa11/cocos/scripting/lua-bindings/auto/lua_cocos2dx_ui_auto.cpp#L3140

Steps to Reproduce:

Lua code:
[code]
It will ca

[2019-03-31 14:54] Xrysnow opened #19562 "Lua binding for Controller should be valid in desktop platforms"
- cocos2d-x version: 3.17.1
- devices test on: Windows PC
- developing environments
   - VS version: Community 2017

Currently lua binding for `Controller` is only valid in android and ios, but it should also be valid in desktop platforms.

https://github.com/cocos2d/cocos2d-x/blob/a3a536e5af08e87d742ec2f01732d77c0589aa11/cocos/scripting/lua-bindings/auto/lua_cocos2dx_controller_auto.hpp#L2

https

[2019-04-01 02:20] minggo commented on #19423
Though it is not the same issue as this one, i found [vsync issue](https://github.com/glfw/glfw/issues/1337) in glfw issue system. So this one may be an issue of glfw too. Can update glfw to latest version to hav a try.

[2019-04-01 02:42] #19555 closed, assigned to nobody

[2019-04-01 06:30] Bilalmirza commented on #19423
@minggo vsync issue started with mojave update. And this was fixed by apple last Thursday with the release of 10.14.4.

For win32 I believe you have adaptive sync on. This is a windows feature that locks on different fps depending on performance.

[2019-04-01 09:21] minggo commented on #19423
@Bilalmirza Thanks for the information of macOS.

Sorry, i don't quite understand it. Did you mean cocos2d-x does something wrongly?

[2019-04-01 10:19] Bilalmirza commented on #19423
@minggo i was talking about the [vsync issue](https://github.com/glfw/glfw/issues/1337) you mentioned earlier this has been fixed.

But @RustyMoyher might be talking about another issue not related to this.

@RustyMoyher will you be able to do some tests on the latest os?

[2019-04-01 11:21] Mee-gu commented on #19523
fix in https://github.com/cocos2d/cocos2d-x/pull/19566

[2019-04-01 14:53] RustyMoyher commented on #19423
@minggo @Bilalmirza I saw that issue on GLFW too, but it's Mac specific (and sounds like it's Mojave specific too?). What I'm experiencing is Mac _and_ Windows. I can also reproduce the issue on a wide variety of OS versions.

But is seems like something worth testing anyways! I just pulled the latest code from the GLFW repo and build the almost-released GLFW 3.3. Unfortunately the VSync Lock Issu

[2019-04-01 16:02] stevetranby commented on #19080
**Looks like it's fixed as of MacOS 10.14.4+ with XCode 10.2+.**
_(not sure if it was fixed in the OS or XCode/SDKs)_

This can now be closed and @drelaptop or @minggo should revert the "hack" that was committed:
- https://github.com/cocos2d/cocos2d-x/pull/19090/files#diff-aada3be4a997e6c3853489783bbc2305
- PR https://github.com/cocos2d/cocos2d-x/pull/19090

refs:
- https://github.com/glfw/glfw/is

[2019-04-02 02:06] #19523 closed, assigned to Mee-gu

[2019-04-02 03:40] intmainreturn00 commented on #10061
made it even cooler - checkout the [sources](https://github.com/intmainreturn00/CocoSlice)
and without the need to change cocos.
![results](https://user-images.githubusercontent.com/1473995/55374699-16b14780-5512-11e9-9aaa-d796b33abb4c.gif)

[2019-04-02 13:46] juan-medina opened #19571 "Problem with PhysicsWorld::RayCast when moving the scene"
- cocos2d-x version: cocos2d-x-3.17.1
- devices test on: PC, Mac
- developing environments
   - Xcode version: 10.2
   - VS version: Community 2017

Steps to Reproduce:

If we move a Scene that have Physics Bodies raycast will not return the righ coordinates.

When moving the scene the bodys attached to the Nodes on the scene move correctly, however the raycast give really wierd coordinates.

To t

[2019-04-02 22:29] NinjaGah commented on #19470
I've been doing some more testing and I'm no longer sure if this is intended or not. You must call setDesignResolution after setWindowed is called inorder get the visibleSize to match. So it's either:

visible size should always be equal to design resolution
OR
visible size is independent of design resolution

Prior to setWindowed() was added the first case seems to hold true from the comments, bu

[2019-04-03 08:11] Bilalmirza commented on #19423
macbook pro 2018, 10.14.4
https://www.youtube.com/watch?v=04fb3Cr3Dws

[2019-04-04 05:45] wbbtcool commented on #18785
I also encountered this problem.  Who can solve it?

[2019-04-04 06:09] minggo commented on #18785
May be the device doesn't support map buffer/VAO though it returns true when checking the feature.

[2019-04-05 08:07] rh101 opened #19576 "Introduce version number defines"
Is it at all possible to introduce version number preprocessor defines so that game code can check and selectively activate certain code that works in one version of Cocos2d-x but not in another?

For instance, the new v4 release will force significant changes in the code base of games and extensions (like Spine for Cocos2d-x), but in updating code to support v4, it means the code can no longer co

[2019-04-05 17:38] JohnCoconut opened #19577 "Wrong delete overload used in CCGLViewImpl-desktop.cpp"
In file `cocos/platform/desktop/CCGLViewImpl-desktop.cpp`,

[code]

Should use `CC_SAFE_DELETE_ARRAY` instead of `CC_SAFE_DELETE`.

[2019-04-08 01:16] minggo commented on #19576
It seems good, but in v3, we not just use CMake, so it is not suitable in v3.

[2019-04-08 02:33] minggo commented on #19577
Thanks, fixed in https://github.com/cocos2d/cocos2d-x/pull/19580.

[2019-04-08 02:33] #19577 closed, assigned to minggo

[2019-04-08 02:52] rh101 commented on #19576
@minggo Sorry, I should have mentioned that this is related to the upcoming version 4 release, and not specifically to do with version 3.  We just need a way to check if it's v4 at compile time.

[2019-04-08 02:57] minggo commented on #19576
Sorry about it. But we haven't decided the version name. Many developers, especially Chinese developers think it is not suitable to name it v4. And @linshun also think so.

[2019-04-08 02:59] rh101 commented on #19576
Well, a possible solution is to introduce a new header file with the version info that should be manually updated on each release, so it's no longer the responsibility of CMake to generate the file with the version number.  We really do need a way to differentiate between versions, especially given the significant and breaking changes related to the new rendering code etc.

[2019-04-08 04:15] rolltower opened #19581 "CCQuadCommand reIndex memory leak when switching to metal renderer?"
- cocos2d-x version: metal-support (3.11)
- devices tested on: iphone X and ipad Pro 9.7"
- developing environments
   - Xcode version: 10.1 and 10.2

Steps to Reproduce:
Draw several LabelBMFonts with a fair amount of text which causes QuadCommand resizes multiple times in single frame. I think this causes a memory leak in reIndex() and trouble with the Metal Renderer.

Classes/Resource directory

[2019-04-08 06:54] minggo commented on #19581
3.11 doesn't support metal, so what's the engine version you used? Where did you get the engine?

[2019-04-08 07:11] minggo commented on #19576
We will use CMake here, just need to determine the version.

[2019-04-08 09:26] minggo opened #19583 "Detect metal supporting"
Should determine if the the device support metal on mac devices. If not metal is not supported, then print a log and exit.

[2019-04-09 02:15] Mee-gu opened #19584 "support alpha test in ClippingNode"

[2019-04-09 15:36] rolltower commented on #19581
Sorry, when I downloaded zip it looks like I got a really old revision. It seems like an old bug that has been fixed.

[2019-04-09 15:36] #19581 closed, assigned to nobody

[2019-04-09 16:47] #18980 closed, assigned to nobody

[2019-04-09 16:48] #18704 closed, assigned to nobody

[2019-04-10 04:27] qoozta commented on #18510
This crash is getting a serious trend in our app, especially after iOS 12, any idea?

[2019-04-10 04:28] EricDDK commented on #18510
update the engine to 3.17.1

[2019-04-10 13:04] Arka161 commented on #15321
The issue still exists. Is there any workaround other than manually writing a parser, and then using the Arabic text?

[2019-04-10 13:06] Arka161 commented on #15321
As mentioned, createWithTTF does make Arabic display in the reverse way, but createWithSystemFont does work. However, I do not need the system font and I would require a custom font.

[2019-04-11 03:25] pgw00k commented on #18390
Hi,MrCapone,i also try to build cocos2dx on win64,would you upload some prebuilt *.lib files? @MrCapone

[2019-04-11 03:35] Mee-gu opened #19601 "EGL context lost"

[2019-04-11 03:44] minggo commented on #19559
use the same method as before

[2019-04-11 03:45] #19559 closed, assigned to nobody

[2019-04-11 11:28] Arka161 commented on #15321
@Kotaiba The Arabic Writer does not work for all cases. For example, let's say we have an Arabic Text - "اللعب بدون اتصال بالانترنت". After processing it in the Arabic Writer URL that you have provided above, we get "ﺖﻧﺮﺘﻧﻻﺎﺑ ﻝﺎﺼﺗﺍ ﻥﻭﺪﺑ ﺐﻌﻠﻟﺍ". If we use that in Cocos2DX, we get a broken Arabic line of text.
I have tried reversing the line of text, however, it does not display the real thing on th

[2019-04-12 09:37] Arka161 opened #19602 "Add support for Shaping Engine(Like Harfbuzz)"
Currently, when we use the createWithTTF API call for Arabic texts, we get texts in the opposite direction than what we expect(Left to Right). It is not just that, but we do not get the exact opposite of the passed string. If there are characters that combine to form new characters, we do not get that operation working.

This could be happening due the lack of a shaping engine like Harfbuzz. We ca

[2019-04-12 11:10] riwells commented on #19480
Hi,

I was wondering if there has been an update on this issue? Is there an eta for when this will be looked into?

[2019-04-12 12:48] rh101 commented on #19576
@minggo I didn't realise that there already is a version define present in cocos2d.h:

[code]

That is good enough to use, and there is no longer a need to generate a header using CMake.  The only thing is that it can't be accessed from CMake to include certain files and not others, but I'm not sure that's a big issue.  You can close this specific issue if you wish.

[2019-04-12 15:35] Sleicreider commented on #19480
Maybe I'll find time and give it another shot and look into it again in the next few weeks, since my iOS release is somewhat dependent on it

[2019-04-13 08:12] MrCapone commented on #18390
Check
https://github.com/MrCapone/cocos2d-x/tree/win64
https://github.com/MrCapone/cocos2d-x-3rd-party-libs-bin/tree/win64

[2019-04-13 13:17] MrCapone commented on #18390
But my repo was outdated so i dont have all libs. I need build and add
[code]

[2019-04-14 08:53] Xrysnow opened #19604 "Add Webview for win32 back?"
Webview for win32 was added in #8093 and removed because #8561. Now all community version of VS have full support for ATL, is it possible to add it back?

[2019-04-16 07:06] Bilalmirza opened #19610 "Update Glfw to 3.3"
Glfw 3.3 released today and it adds a lot of features and fixes.
@minggo  Will it be possible to include this in the next version of cocos2d-x?

[2019-04-16 20:53] CezarMocan commented on #18977
Bump—has anyone found a fix for this issue?

[2019-04-17 18:02] JohnCoconut opened #19615 "nullptr cannot be assigned to std::string"
cocos2d-x version: master branch

In `cocos/editor-support/cocostudio/CCBone.cpp`

[code]
The first overload calls the second overload with `std::string` set to `nullptr`. It's undefined behaviour.

The following program will crash at runtime (https://wandbox.org/permlink/3LOds99d8umEIGHm)
[code]

[2019-04-18 05:59] minggo opened #19616 "Spine runtime initialization takes much longer than v3"
A developer found that Spine runtime has much more function call in [this PR](https://github.com/EsotericSoftware/spine-runtimes/pull/1244). The corresponding forum topic is [here](https://discuss.cocos2d-x.org/t/metal-support-alpha1-released/46282/9).

[2019-04-18 08:23] minggo opened #19617 "Remove JSB/h5"

[2019-04-18 08:31] PatriceJiang commented on #19616
fixed in https://github.com/EsotericSoftware/spine-runtimes/pull/1244/commits/a8241185191857cf4650f10af23e933e26039e62

[2019-04-18 10:28] #19616 closed, assigned to PatriceJiang

[2019-04-19 01:28] minggo commented on #19610
Sure.

[2019-04-19 06:08] minggo commented on #19617
Fixed in https://github.com/cocos2d/cocos2d-x/pull/19621.
 Then should modify cocos console to remove the corresponding codes too.

[2019-04-19 07:55] Mee-gu opened #19628 "remove PollEvent will make cpp-test no response in macOS"

[2019-04-19 07:56] Mee-gu commented on #19628
After minimizing the cpp-test windows on the mac, reopen the cpp-test and it will be stuck.

[2019-04-22 02:23] PatriceJiang opened #19630 "Lua test cases adoption"
Unfinished test cases
- [x] Camera3D
- [x] Draw Primitives
- [x] Fast Tiled Map
- [x] Font Test
- [x] Label Test
- [x]  Material System
- [x] Particle 3D
- [x]  Rotate World
- [x] Scene3D
- [x] ~~Spine~~
- [x] Sprite3D
- [x] Terrain

[2019-04-22 09:52] #19491 closed, assigned to nobody

[2019-04-22 10:43] cocos56 opened #19632 "Cannot build to Android using the lateset Cocos version"
- cocos2d-x version:3.17.1
- devices test on:Win10
- developing environments
   - NDK version:android-ndk-r18b and android-ndk-r19c
   - Xcode version:None
   - VS version:VS 2019Microsoft Visual Studio Enterprise 2019 16.0.2
VisualStudio.16.Release/16.0.2+28803.202
![image](https://user-images.githubusercontent.com/36597804/56496449-1530d900-652c-11e9-9f82-80277d22dea0.png)
Steps to Reproduce:
1.

[2019-04-24 10:38] Mee-gu opened #19635 "optimization for Buffer memory"
reduce unnecessarily memory

[2019-04-24 15:19] Xrysnow commented on #9854
I got more precise time by using AL_SEC_OFFSET. If anyone is interested, just look at [here](https://github.com/Xrysnow/lstgx_Audio/blob/b5f6f6cf72cc86668282188e2dc40a409adda2c8/AudioPlayer.cpp). It gives a multiple of 20ms on my computer (seems like internal buffer length in OpenAL). There is also a function that can set audio time more precise.

[2019-04-25 08:43] umair6 commented on #17494
@drelaptop I released one game cocos2d-x 3.17.1 with above fix merged manually. I started getting following crash in my game. Occurrence rate is massive.
https://github.com/cocos2d/cocos2d-x/issues/18597
@minggo

[2019-04-25 08:50] minggo commented on #17494
How to reproduce it?

[2019-04-26 06:19] kaushikpaperboat opened #19639 "Crash in Renderer queue trying to call callback of RenderTexture which has been released"
- cocos2d-x version: 3.17.1
- devices test on: both iOS and Android
- developing environments
   - NDK version: 16
   - Xcode version: 10.1
   - VS version: NA
   - browser type and version: NA

Steps to Reproduce:

1. Open Testbed on any device
2. Goto RenderTexture test
3. On first test of RenderTexture test put your one finger down on next test button but don't lift it.
4. Now start drawing wit

[2019-04-26 10:08] gitcalculus commented on #18769
I get the same issue.
And [this answer](https://stackoverflow.com/questions/54500937/cocos2d-x-android-build-failed) save my day.
`generateJsonModelDebug` is not real error. Error is CMake error: not find [`Ninja`](https://github.com/ninja-build/ninja).
And build & run on device succeed with cocos2d-x-3.17.1 & NDK r17b.

[2019-04-28 02:20] minggo commented on #18877
metal is supported in `metal-support` branch

[2019-04-28 02:20] #18877 closed, assigned to nobody

[2019-04-28 07:31] HTC77 commented on #19632
https://docs.cocos2d-x.org/cocos2d-x/en/installation/prerequisites.html

[2019-04-28 09:51] minggo commented on #19610
I tried to update to 3.3, but met the error on mac, then could not show the application content
[code]

I have not idea with it. My commit is [here](https://github.com/minggo/cocos2d-x-3rd-party-libs-src/commit/963607d21845b2eaacbecdb9656e5303a2a37082).

[2019-04-29 08:17] imtrobin commented on #19553
I have Samsung S3, my JNI seems working, also from older 3.X series.

[2019-04-29 08:23] wijesijp opened #19647 "can't access cocos forum http://discuss.cocos2d-x.org/"
I know this is not the place to ask this question but I have no option.

I can't access cocos forum at http://discuss.cocos2d-x.org/
Also can't access the documentation.

It is giving me following error

This site can’t be reached discuss.cocos2d-x.org
refused to connect.

Can someone provide some help?
Is there any information you need to sort this?

[2019-04-29 08:35] wbbtcool commented on #19357
I also encountered this problem. Can someone solve this problem?

[2019-04-30 02:14] minggo commented on #16733
Please use AudioEngine instead.

[2019-04-30 02:14] #16733 closed, assigned to nobody

[2019-04-30 02:32] #17336 closed, assigned to nobody

[2019-04-30 02:42] #19080 closed, assigned to drelaptop

[2019-04-30 03:44] man2 commented on #18903
whoa, this simple space issue can't be resolved yet, I still have problem with it now

[2019-04-30 05:33] Bilalmirza commented on #18903
this was fixed.try
$cocos deploy -p win32 -m release

this creates a bin folder with all the required files.

[2019-04-30 05:33] #18903 closed, assigned to nobody

[2019-04-30 05:45] minggo commented on #19647
@slackmoehrle could you please take a look?

[2019-04-30 05:58] minggo opened #19652 "Miss precision in shaders"
Some GPU such as Mali needs precision. Can refer to https://github.com/cocos2d/cocos2d-x/issues/17099 about how to use precision.

[2019-04-30 06:01] minggo opened #19653 "Light related macros is not set by device compatibility"
Refer to the [forum thread](https://discuss.cocos2d-x.org/t/metal-support-alpha1-released/46282/26) for detail information.

[2019-04-30 09:13] wbbtcool commented on #19357
The problem is that can't directly open the zip package in android apk (assets/) by `fopen()` method.  I used another method to circumvent this problem.  The following is the solution：
[code]
Use remember to release `free(buffer)`
I hope to solve your problem.

[2019-04-30 11:31] slackmoehrle commented on #19647
This should be fixed. There was an nginx issue Sunday night. @minggo please close.

[2019-04-30 11:55] xdeop commented on #19357
I'll give it a try! Thanks!

[2019-04-30 14:52] #19647 closed, assigned to nobody

[2019-05-01 05:30] JianingHe opened #19658 "Android App crash when calling Cocos2dxJavascriptJavaBridge.evalString()"
- cocos2d-x version:  the version build in Cocos Creator 2.0.9
- devices test on: HUAWEI mate9 pro/Android 9
- developing environments
   - NDK version: 18.1.5063045
   - Xcode version:  N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

The code in Cocos2dxActivity:
        Cocos2dxGLSurfaceView.getInstance().queueEvent(() -> {
            Cocos2dxJavascriptJavaBrid

[2019-05-01 09:01] thienphuoc commented on #8668
Hi @drelaptop  please reopen this case ! I have a problem with setVirtualViewport on android device !

[2019-05-01 11:25] man2 commented on #18903
I still get this error when running cocos run or compile
'C:\Program' is not recognized as an internal or external command,operable program or batch file.

[2019-05-02 01:21] cocos56 commented on #19632
@HTC77 Thank you, I have solved this and write a Chinese article. https://blog.csdn.net/COCO56/article/details/89392349

[2019-05-02 10:21] slackmoehrle commented on #19543
Did you clone from this repo or use the .zip from the website?

[2019-05-02 10:22] slackmoehrle opened #19659 "Rich test auto wrap bug when displaying vietnamese text"
- cocos2d-x version: 3.17.1

As seen of the English forums: https://discuss.cocos2d-x.org/t/richtext-auto-wrap-bug/46425

[2019-05-03 05:42] rh101 opened #19660 "Director::reset() clears the scene stack incorrectly"
- cocos2d-x version: 3.17.1 (all versions up to this)
- devices test on: N/A
- developing environments
   - NDK version: N/A
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

If the Director::reset() method is called in such instances as app exit, it eventually clears the scene stack, which is stored in the variable _sceneStack, of type cocos2d::

[2019-05-03 06:54] Bilalmirza commented on #18903
which version of cocos are you using?

[2019-05-03 08:52] Xrysnow commented on #18342
I'm using OpenAL on android and it seems work fine. And I use streaming method in playback to get gapless loop. My repo is [here](https://github.com/Xrysnow/lstgx_Audio), hope can help someone.

[2019-05-03 10:46] halx99 commented on #18342
Well, OpenAL is a good backend, we also use it for all platforns.

[2019-05-04 14:36] MuratAl commented on #19553
Ok, after removing all my JNI Stuff and reimplementing it with all new APIs... My Project works now on older Devices too. My JNI implementation is the same... I just changed the APIs like UnityAds, AdMob, Google Play Services etc. I have also updated the Google Play App.

[2019-05-04 14:36] #19553 closed, assigned to nobody

[2019-05-05 04:00] minggo opened #19662 "RenderState logic is not correct"
https://discuss.cocos2d-x.org/t/metal-support-alpha1-released/46282/28

[2019-05-05 04:00] minggo opened #19663 "Pass misses getRenderState()"
https://discuss.cocos2d-x.org/t/metal-support-alpha1-released/46282/28

[2019-05-05 05:41] minggo commented on #18342
@Xrysnow
@halx99
How it affect application size?

[2019-05-05 05:58] Xrysnow commented on #18342
@minggo
The libopenal.so file I compiled is about 450KB, much smaller than cocos (about 18MB). So I think it won't affect much.

[2019-05-05 06:39] #19632 closed, assigned to nobody

[2019-05-05 06:46] minggo commented on #18342
@Xrysnow thanks for the information. And how about the compatibility in different Android devices?

[2019-05-05 07:16] minggo commented on #19446
Since JSB is removed, so close this issue.

[2019-05-05 07:16] #19446 closed, assigned to minggo

[2019-05-05 07:26] #19630 closed, assigned to PatriceJiang

[2019-05-05 08:26] HTC77 opened #19666 "Physics engine has not setFixedRotation() and it's different from setEnableRotation()"
- cocos2d-x version: 3.17.1
- devices test on:
- developing environments
   - NDK version: R16
   - Xcode version:
   - VS version: 2015
   - browser type and version:

Steps to Reproduce:

1. Physics engine has not fixedRotation attribute for phisics body it's different from enableRotation.
It was on Box2d library :

[code]

[2019-05-05 10:17] xubing commented on #17924
we met this crash also.

[2019-05-05 10:39] halx99 commented on #18342
Hi, our game is published at tencent platform: https://hongjing.qq.com
and so far, it seems it is very stable. may be, my repo is easy to merge to the official engine, if you have any plan, you can see:
https://github.com/halx99/x-studio365/tree/master/cocos2d-x-patch

[2019-05-06 03:22] minggo commented on #19652
fixed in https://github.com/cocos2d/cocos2d-x/pull/19668

[2019-05-06 03:22] #19652 closed, assigned to minggo

[2019-05-06 06:34] #19312 closed, assigned to nobody

[2019-05-06 07:38] #19660 closed, assigned to nobody

[2019-05-07 02:08] #19663 closed, assigned to PatriceJiang

[2019-05-07 02:09] #19662 closed, assigned to PatriceJiang

[2019-05-07 17:01] #17585 closed, assigned to nobody

[2019-05-07 17:01] #17581 closed, assigned to nobody

[2019-05-08 04:37] ghost commented on #19301
[code]

[2019-05-08 05:53] minggo commented on #19301
I don't quite understand this issue, could some one send a PR? Thanks.

[2019-05-08 05:57] imtrobin opened #19678 "Andriod Editbox don't show up with bluetooth keyboard connected cocos2dx 3.17.1"
Reproduced in a new project. When I connect bluetooth controller to Android phone, when I tap of editbox, the android keyboard does not show up. If there is no bluetooth controller, it works fine.

- cocos2d-x version: 3.17.1
- devices test on: A few
- developing environments
   - NDK version: ndk 19

Steps to Reproduce:

1. Connect bluetooth controller
2. Enter cocos2dx app, tap EditBox. No Andro

[2019-05-08 06:09] minggo commented on #19678
You use wireless keyboard with Android Phone?

[2019-05-08 11:17] imtrobin commented on #19678
I tried multiple devices, wirless controller, OTG cable wth keyboard etc

[2019-05-08 11:59] HTC77 opened #19683 "Android Studio Gradle Warning for API 'variant.getMergeAssets()'"
- cocos2d-x version: 3.17.1
- devices test on:
- developing environments
   - NDK version: r16b
   - Xcode version:
   - VS version: 2015
   - browser type and version:
   - Android Studio version: 3.3.2
Steps to Reproduce:

1. Open proj.android in Android Studio
2. Build and run project
3. Gradle Warning will be appear:
API 'variant.getMergeAssets()' is obsolete and has been replaced with 'varian

[2019-05-08 12:03] stephenhurry commented on #19077
@haingo-nama Hi may you give more hints on the implementation of atomic variable? I am encountering the same issue, thanks!

[2019-05-09 01:46] haingo-nama commented on #19077
Just don't modify the scene in any other thread rather than one managed by cocos. Whenever you call new Node, new Label, ... or any statement that modifies the scene, you should call it in Init, OnEnter, Update, ... or any cocos function that you know it's managed by cocos.

In our case, we have to show reward to the user after they watch a video. The callback of rewarded video is in another threa

[2019-05-09 02:35] stephenhurry commented on #19077
@haingo-nama Thanks! It definitely would help.

[2019-05-09 05:19] iwifigame commented on #19120
anyone tested it

[2019-05-09 09:58] ghost opened #19686 "Crash in Android platform at HttpClient::networkThreadAlone"
- cocos2d-x version: 3.17.1
- devices test on: Plume L3, Android 8.1.0
- developing environments
   - NDK version: 19.2.5345600
   - browser type and version:

This crash event happened frequently, and here is the function stack:

![image](https://user-images.githubusercontent.com/49863811/57444348-8ab5dc80-7282-11e9-9d18-df996bf03ea3.png)

Below is the reporting error message:

![image](https://u

[2019-05-10 02:08] minggo commented on #19683
@HTC77 could you please send a pull request to fix it?

[2019-05-13 02:22] yangyp-yes commented on #17417
When I tested the download, my documents folder was cleared!

[2019-05-13 03:14] yangyp-yes opened #19700 "[3.17.1][ js-test] AssetsManagerEx : can not open downloaded zip file"
- cocos2d-x version: [3.17.1]
- devices test on: macOS 10.14.4
- developing environments
   - Xcode version:10.2.1
Steps to Reproduce:

1.  open  cocos2d-x-3.17.1/build/cocos2d_tests.xcodeproj
2.  run  js-test Mac
3.  click 18. Extension Test   ---- AssertManagerTest
4. see console view
AssetsManagerEx : can not open downloaded zip file /Users/**/Documents/JSBTests/AssetsManagerTest/scene1_temp/re

[2019-05-13 08:32] #19551 closed, assigned to PatriceJiang

[2019-05-13 13:55] Glidos commented on #8906
Any plans yet to add support for pan? Use of FMOD seems a bit of a sledgehammer to crack a nut, given support for pan is all that is needed for a game developer to implement reasonable 3D sound.

[2019-05-14 01:42] minggo opened #19707 "CMake should just copy .plist file from template"
.plist file is a application related resource, CMake should just copy it from template.

[2019-05-14 01:44] #19313 closed, assigned to nobody

[2019-05-14 02:31] #19301 closed, assigned to nobody

[2019-05-14 02:35] minggo commented on #19683
duplicated with https://github.com/cocos2d/cocos2d-x/issues/19363

[2019-05-14 02:35] #19683 closed, assigned to nobody

[2019-05-14 03:07] #19601 closed, assigned to Mee-gu

[2019-05-14 04:47] fndppx opened #19709 "使用自定义字体文件xxx.ttf时，如果字库中不存在某个字时，会不显示，可以用系统字代替吗？"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2019-05-14 05:57] minggo commented on #19583
fixed in https://github.com/cocos2d/cocos2d-x/pull/19710

[2019-05-14 05:57] #19583 closed, assigned to minggo

[2019-05-14 06:05] #19617 closed, assigned to minggo

[2019-05-14 17:22] Pinchuka opened #19713 "3.17.1 Lua Spine event with empty eventData params"
- cocos2d-x version: 3.17.1
- devices test on: macOS 10.14.4
- developing environments
   - Xcode version: 10.1

Steps to Reproduce:

1. Send event from Spine animation
2. when we recieve spine animation event in lua, evenData members have incorrect values

The issue in lines
https://github.com/cocos2d/cocos2d-x/blob/c36dbb4c698f1b69e40b9b550346319510dea8d0/cocos/scripting/lua-bindings/manual/spin

[2019-05-15 02:57] minggo commented on #19709
You should do it yourself, engine will not do it automatically. And please use english in future, thanks.

[2019-05-15 02:57] #19709 closed, assigned to nobody

[2019-05-15 03:12] #19713 closed, assigned to nobody

[2019-05-16 01:26] minggo commented on #19653
fixed in https://github.com/cocos2d/cocos2d-x/pull/19712

[2019-05-16 01:26] #19653 closed, assigned to Mee-gu

[2019-05-16 02:44] #19353 closed, assigned to Mee-gu

[2019-05-16 02:45] #19334 closed, assigned to PatriceJiang

[2019-05-16 02:46] minggo commented on #19333
it is fixed.

[2019-05-16 02:46] #19333 closed, assigned to nobody

[2019-05-16 04:35] anjaligoyal2417 opened #19720 "error on scheduler cocos2dx"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

#0	 in cocos2d::ActionManager::update(float) ()
#1	 in std::__1::function<void (float)>::operator()(float) const ()
#2	 in cocos2d::Scheduler::update(float) ()
#3	 in cocos2d::Director::drawScene() ()
#4	 in cocos2d::DisplayLi

[2019-05-17 02:38] miku1958 opened #19726 "can't safely delete appdelegate"
- cocos2d-x version:
cocos creater 2.1.1
- devices test on:
iphone simulator
- developing environments
   - NDK version:
   - Xcode version:
xocde 10.2
   - VS version:
   - browser type and version:

Steps to Reproduce:

I am trying to access cocos2dx to the native app. And I want to release all cocos2dx objects when the game part ends. When I try to run this code to release app(app is a APPdeleg

[2019-05-17 08:49] fresair opened #19733 "uilayout clipping issue in latest code"
- cocos2d-x version:newest code on git  (version commit 023b172  6 hours ago is not good.  version 3.17.1 is going well)
- devices test on: iphone 6sp and some simulators
- developing environments
   - NDK version:
   - Xcode version:10.2.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

add following code in hello world project
1.
[code]

2. if the last line x value not 0 (i

[2019-05-17 09:19] minggo opened #19734 "remove PROP_BUIL_TYPE in gradle.properties"
Since now only support cmake on Android, so doesn't need this property.

[2019-05-20 11:17] Sleicreider commented on #19480
I'm currently taking a look at this again, if anyone as any updates on this please let me know:
Not sure if this is somehow related to this issues:
https://github.com/cocos2d/cocos2d-x/issues/10724

Currently this seems to be only an issue on iOS, on win32 and osx it never gets to the `else if (player->_ready && sourceState == AL_STOPPED)` conditional. Not 100% sure how its implemented on Android

[2019-05-20 14:41] Sleicreider commented on #19480
Update:
After some digging I could find some relation to the rotateBufferThread(..) which gets called and probably causes somehow the AL_STOPPED state.

https://github.com/cocos2d/cocos2d-x/issues/17800
https://github.com/cocos2d/cocos2d-x/issues/18597

Especially the last one seems to be important here.
Those are similar crashes, maybe even the exact same.

I'm not sure what the final best soluti

[2019-05-21 08:29] drelaptop commented on #16113
so the defect is we treat the data (premultiplied) as if it were unpremultiplied.

as I confirmed one way to fix it is force set the internal texture of RenderTexture premultiplied value to `true` in this situation.

[2019-05-21 10:00] windzxa opened #19744 "3.17.1 httprequest请求,ios下正常,安卓下面直接报错 connect failed"
- cocos2d-x version:2.17.1
- devices test on:android
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

[2019-05-21 10:03] #19744 closed, assigned to nobody

[2019-05-21 11:16] windzxa opened #19745 "安卓下使用HttpRequest访问https地址报错 connect failed"
- cocos2d-x version:3.17.1
- devices test on:android
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

如题,需要访问https://47.89.225.196    这种https+ip形式的地址,在ios下正常,安卓下报错提示connect failed.经试验发现,在安卓下访问无法通过证书验证的https地址会报错.但是项目需要访问这种地址.没有找到关闭安卓平台的ssl验证的地方.

[2019-05-21 12:02] semgilo opened #19746 "How build native code (cocos2dx3.9) by android studio 3.3.2"
cocos2d-x 3.9
android studio 3.3.2
ndk 19c
anyone can give me some advice or notes?
`                 ^
E:/SanGuo/Code/trunk/Client/frameworks/runtime-src/proj.android-studio-native/app/jni/../../../../cocos2d-x/cocos/3d/..\platform/CCFileUtils.h:416:18: note: overridden virtual function is here
    virtual bool isAbsolutePath(const std::string& path) const;
                 ^
In file included fro

[2019-05-21 12:02] semgilo opened #19747 "How build native code (cocos2dx3.9) by android studio 3.3.2"
cocos2d-x 3.9
android studio 3.3.2
ndk 19c
anyone can give me some advice or notes?
`                 ^
E:/SanGuo/Code/trunk/Client/frameworks/runtime-src/proj.android-studio-native/app/jni/../../../../cocos2d-x/cocos/3d/..\platform/CCFileUtils.h:416:18: note: overridden virtual function is here
    virtual bool isAbsolutePath(const std::string& path) const;
                 ^
In file included fro

[2019-05-21 12:17] #19747 closed, assigned to nobody

[2019-05-22 07:55] Mee-gu opened #19752 "mipmap only level 0 was used"

[2019-05-23 02:02] semgilo commented on #19746
@anybody

[2019-05-23 02:41] EricDDK commented on #19746
If you want to use AS v3+ to compile cc 3.9 you will find out many mistakes.
Also you can use eclipse with ndk to compile or use AS with suitable version.

[2019-05-23 09:19] yangyp-yes commented on #19700
3.17.2 分支没问题了

[2019-05-23 09:19] #19700 closed, assigned to nobody

[2019-05-23 11:46] Bilalmirza commented on #19610
Sorry I didn't get a chance to use your commit.
I built glfw using cmake and replaced with the current and everything worked fine for me.

[2019-05-23 12:05] semgilo commented on #19746
Thanks for responing, i fixxed these mistakes by myself.
the reason is code mistakes which i coded.

[2019-05-23 12:05] #19746 closed, assigned to nobody

[2019-05-23 16:12] MrCapone commented on #19363
https://github.com/cocos2d/cocos2d-x/pull/19732

[2019-05-23 16:12] #19363 closed, assigned to nobody

[2019-05-23 16:15] JohnCoconut opened #19754 "Suspicious virtual destructor in CCBundle3DData.h"
`cocos/3d/CCBundle3DData.h` has a few structure storing 3D data. But some comes with virtual destructor, some doesn't.

[code]

And no class seems to inherit from `struct ModelData`. Is it a mistake to include `virtual` keyword?

@minggo If you think `virtual` is unnecessary, I will remove it.

[2019-05-24 01:15] minggo commented on #19754
Yep, please keep them as game codes may inherit from it.

[2019-05-24 01:27] minggo commented on #19610
It is wired. What's your environment?

[2019-05-24 01:49] rh101 commented on #19686
Have you put a breakpoint inside the callback method? The reason I'm asking is because in the screenshot you posted, there is this line:

"pzlib_filefunc64_32_def = error: use of undeclared identifier"

That may mean that the callback is actually correct, but the code inside the callback method is the problem.

[2019-05-24 06:24] Bilalmirza commented on #19610
tested this on macOS only

[2019-05-24 07:39] #19754 closed, assigned to nobody

[2019-05-24 08:13] TedaLIEz opened #19757 "Cocos for WebAssembly"
As WebAssembly becomes supported by major browsers, I wonder whether cocos has an official release of wasm version. I found some [discussions](https://discuss.cocos2d-x.org/t/c-to-web-webassembly-polling-for-feature-request/33721) about this feature but it doesn't have a conclusion yet. Do cocos have such plan for wasm?

[2019-05-24 09:08] minggo commented on #19757
please discuss in forum, thanks

[2019-05-24 09:08] #19757 closed, assigned to nobody

[2019-05-27 08:29] Mee-gu opened #19763 "Set point size in metal"
issue ref from [here](https://discuss.cocos2d-x.org/t/metal-support-alpha1-released/46282/34)

[2019-05-27 09:36] dhb118 opened #19765 "Crash in backend::Utils::createDepthStencilAttachmentTexture() line 125"
- cocos2d-x version: On branch metal-support(254c57a3471b2d4fe54f2b91351baf40c5407be8)
- devices test on: MacBook Air
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. build and run project cpp-test

here is callstack:

![Screen Shot 2019-05-27 at 5 28 15 PM](https://user-images.githubusercontent.com/3306204/584

[2019-05-28 02:05] Issacy opened #19768 "Dispatch Spine Event with wrong eventData values to Lua"
- cocos2d-x version: 3.17.1
- devices test on:
- developing environments
   - VS version: 2017

sorry for my bad english -_-||
with #19713 fixes, it lua event dict will miss the values defined in event timeline from a certain spine's animation. For example, when creating a spine from a bin, first will create all event definitions and 'default values'(i dont know the certain usage by the way) in `s

[2019-05-28 02:14] ghost opened #19769 "Android app whole process killing by cc.director.end(). Proper way to end the game and back to native screen?"
- cocos2d-x version: 3.17.1
- devices test on: Samsung Galaxy OS 8.0
- developing environments
   - NDK version: ndk-r16
   - Xcode version:
   - VS version: Android 3.3.2
   - browser type and version:

Steps to Reproduce:

1. I implemented two activities in my native Android app, One is MainActivity.java which has a button "Go to Game", and another activity is GameActivity which extends Cocos2dx

[2019-05-28 02:29] Mee-gu opened #19770 "Remove StringUtils in metal"

[2019-05-28 02:38] spacelg opened #19771 "Cocos2dx failed to git.exe submodule update --init from 767134c commit"
Environment:
Windows Server 2016 + VS2017 Update 5 + cocos2d-x v3 branch latest srouce code

We tried to build cocos2d-x on Windows. It failed to git.exe submodule update --init from 767134c commit. Could you please help take a look at this? Thanks in advance!

Steps to Reproduce:
1. git clone --recursive  https://github.com/cocos2d/cocos2d-x.git D:\Cocos2dx\src
2. Open a VS 2017 x86 command promp

[2019-05-28 03:38] Mee-gu opened #19772 "set line width in metal"
There is no way to control line width in the same way as a [point size](https://github.com/cocos2d/cocos2d-x/issues/19763) in Metal.
An option would be to draw the line as a quad (a box). Or you can program a  line thickness shader as described [here](https://stackoverflow.com/questions/15276454/is-it-possible-to-draw-line-thickness-in-a-fragment-shader)

[2019-05-28 03:39] Mee-gu commented on #19763
You can draw a point by calling `void DrawNode::drawPoint(const Vec2& position, const float pointSize, const Color4F &color)` where the second parameter indicates the size of the point.

[2019-05-28 03:39] #19763 closed, assigned to Mee-gu

[2019-05-28 03:49] minggo commented on #19771
To clone cocos2d-x, all you need to just
* git clone  https://github.com/cocos2d/cocos2d-x.git D:\Cocos2dx\src
* git submodule update --init
* python download-deps.py

[2019-05-28 06:28] Mee-gu commented on #19765
fixed at [PR 19774](https://github.com/cocos2d/cocos2d-x/pull/19774)

[2019-05-28 08:09] stephenhurry commented on #17924
@minggo In my case this crash happens when one is trying to purchase IAP and the native purchase dialog shows up

[2019-05-28 08:50] minggo commented on #17924
@ichinfungi does it reproduce every time? Which IAP you used? Could you please provide a test case based on cpp-empty-test to reproduce it? Thanks.

[2019-05-28 09:32] Mee-gu commented on #19752
fixed in [19753](https://github.com/cocos2d/cocos2d-x/pull/19753)

[2019-05-28 09:59] Mee-gu commented on #19770
fixed in [19753](https://github.com/cocos2d/cocos2d-x/pull/19753)

[2019-05-28 11:07] fresair commented on #19733
in CCDrawNode.cpp
I roll back cursor = Triangulate::processTriangles(verts,cursor,count,fillColor);  to old function blew, then the uilayout behave ok again.

for (int i = 0; i < count-2; i++)
        {
            V2F_C4B_T2F_Triangle tmp = {
                {verts[0], Color4B(fillColor), __t(v2fzero)},
                {verts[i+1], Color4B(fillColor), __t(v2fzero)},
                {verts[i+2], C

[2019-05-28 12:05] twolight opened #19775 "TTF label set shader error"
- cocos2d-x version:3.17.1
- devices test on:mac os

OpenGL error 0x0502 in /Users/twolight/Documents/droidhang/idleheroes/hd/hd/hookheroes/frameworks/cocos2d-x/cocos/renderer/CCTextureAtlas.cpp drawNumberOfQuads 699

shader code:

[2019-05-28 12:05] twolight opened #19776 "TTF label set shader error"
- cocos2d-x version:3.17.1
- devices test on:mac os

OpenGL error 0x0502 in /Users/twolight/Documents/droidhang/idleheroes/hd/hd/hookheroes/frameworks/cocos2d-x/cocos/renderer/CCTextureAtlas.cpp drawNumberOfQuads 699

shader code:

#ifdef GL_ES
precision mediump float;
#endif

varying vec4 v_fragmentColor;
varying vec2 v_texCoord;

void main(void)
{
	vec4 c = texture2D(CC_Texture0, v_texCoord);
	g

[2019-05-29 01:12] minggo commented on #19775
Could you please provide a test case?

[2019-05-29 01:13] #19775 closed, assigned to nobody

[2019-05-29 01:15] minggo commented on #19776
It is better to provide a test case to reproduce it.

[2019-05-29 02:42] dhb118 commented on #19765
test passed , thanks @Mee-gu

[2019-05-29 02:42] #19765 closed, assigned to Mee-gu

[2019-05-29 03:25] xzben opened #19777 "3.13.1 AudioEngine deadlock"
版本为：3.13.1 使用声音引擎 AudioEngine 有概率的出现游戏卡死，我看日志以前版本也出现过。这个问题该如何改呀？有什么版本规避或降低出现概率么？
05-29 11:00:25.276 26182 28457 E libOpenSLES: frameworks/wilhelm/src/android/AudioPlayer_to_android.cpp:886: pthread_mutex_lock_timeout_np returned 110
05-29 11:00:25.376 26182 28457 E libOpenSLES: frameworks/wilhelm/src/android/AudioPlayer_to_android.cpp:886: pthread_mutex_lock_timeout_np returned 110
05-29 11:00:25.

[2019-05-29 03:33] Mee-gu opened #19778 "translate gl_FragCoord for metal shader"

[2019-05-29 03:44] stephenhurry commented on #17924
@minggo sorry I have no time to reproduce it on cap-empty-test now, but I could elaborate the factors:
1. The crash happened **every time** when my tester tried to buy an IAP on **Android**
2. His testing device is Mi6
3. I didn't get crash on my own Galaxy S4 and ASUS Zenfone
2. He was using VPN to execute the aforementioned action in China
3. The IAP system was developed with SDKBox v2.4.3.3
4.

[2019-05-29 07:25] twolight commented on #19776
use default cocos2d-x demo

[code]

[2019-05-29 09:54] imtrobin commented on #19452
I have same problem, an old app build with cocos 3.14( or earlier) is not working Android 9

[2019-05-29 10:08] imtrobin commented on #19452
Yes, I confirm it is built with 3.14.1

[2019-05-29 10:28] minggo commented on #19776
You can not replace gl program like this, it may have problem. As label with TTF has its own shader, and the draw codes heavily depends on the shader(can refer [here](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCLabel.cpp#L1565)). If you want to replace the shader, you should make sure it matches the codes or you should write your own drawing codes.

[2019-05-29 10:29] #19776 closed, assigned to nobody

[2019-05-29 11:40] insama commented on #17924
#19256 我撤销了这个PR之后就没有再出这种闪退了

[2019-05-29 15:10] gerchicov-bp opened #19780 "CCPhysicsNode alternative in cocos2d-x?"
- cocos2d-x version: 3.17.x
- devices test on: Xcode iOS simulator
- developing environments
   - Xcode version: 10.2.1

Steps to Reproduce: none

Here is example of code for Cocos2d-objc ("soft body"):
http://2sa-studio.blogspot.com/2014/05/soft-bodies-with-cocos2d-v3.html

I want to port it to cocos2d-x but I have a problem - `CCPhysicsNode` doesn't even exist. How to replace that part of code w

[2019-05-30 01:35] minggo commented on #17924
@stephenhurry @insama
I think the crash is because `super.onPause()` will release GL context, and there are some queued message in GLSurface's queue. So i think we should invoke `super.onPause()` like this
[code]

[2019-05-30 08:01] Mee-gu commented on #19778
already done by glsl-optimizer.

[2019-05-30 08:01] #19778 closed, assigned to Mee-gu

[2019-05-30 08:52] rh101 opened #19781 "Allow RenderTexture to save out non-premultiplied alpha images"
- cocos2d-x version: 3.17.1
- devices test on: Win32
- developing environments
   - NDK version: N/A
   - Xcode version: N/A
   - VS version: VS2019

Steps to Reproduce:

The current implementation of RenderTexture has several issues.

Firstly, it does not set the premultiplied alpha flag on the image created by this method:

[code]

The correct code would be to change the initWithRawData calls to

[2019-05-30 15:17] vkreal commented on #18709
@minggo you closed the https://github.com/cocos2d/cocos2d-x/milestone/40 is this done? I can't seem to find the PR?

Thanks!

[2019-05-31 02:26] JohnCoconut opened #19784 "libpng warning: iCCP: known incorrect sRGB profile"
- cocos2d-x version: v3 branch HEAD https://github.com/cocos2d/cocos2d-x/commit/2727af8e2f13a96dbe761e005edbf1a308e46ade
- devices test on: Linux
- developing environments
   - NDK version: None
   - Xcode version: None
   - VS version: None

Steps to Reproduce:

1.  create a demo program generated by script
2.  `cocos run -p linux`
3.  run the binary, and warning shows up.

This is supposed to be

[2019-05-31 02:30] PatriceJiang commented on #19777
Similiar issue https://github.com/cocos2d/cocos2d-x/issues/18000,
More discuss here https://github.com/cocos2d/cocos2d-x/issues/16355

[2019-05-31 03:08] spacelg commented on #19771
Hi minggo,

Thanks for your reply!

I known what your mean, we re-clone and ececute your cmonnands is pass. But the problem is that we are updating the latest cocos2d-x commit every day to test the VS compiler. In our script is the update commit instead of re-clone cocos2d every time.

So when we execute the following commands one after the other
1.git.exe reset --hard
2.git.exe clean -xdf
3.git.e

[2019-05-31 03:14] minggo commented on #19771
Update to latest codes can just use

- git pull origin v3
- git submodule update
- python download-deps.py -r None // 3rd libs may changed

[2019-05-31 03:39] #19784 closed, assigned to nobody

[2019-06-03 03:22] #19770 closed, assigned to Mee-gu

[2019-06-03 03:22] #19752 closed, assigned to Mee-gu

[2019-06-03 04:36] stephenhurry commented on #17924
@minggo your code can't be compiled

[2019-06-04 01:45] ijm700 opened #19787 "COCOS2D_DEBUG is still set to 1 in release on android"
I had a if(COCOS2D_DEBUG == 1) { do something } and on iOS it's not defined in release but on Android it is and even if you build in release mode it still runs the if statement pretty much saying that COCOS2D_DEBUG is equal to 1

more info:
https://discuss.cocos2d-x.org/t/how-to-build-an-apk-in-in-release-mode-from-android-studio/25906
https://discuss.cocos2d-x.org/t/cocos2d-debug-in-release-build

[2019-06-04 01:51] minggo commented on #19787
What's your engine version? And how did you build with release mode on Android?

[2019-06-04 01:59] ijm700 commented on #19787
engine version is 3.17.1, and I just changed the build variant to release, on iOS it works it doesn't define it for release but Android keeps it defined to '1' you could test it out to see just try a if statement with COCOS2D_DEBUG == 1 and you will see on both release and debug it runs the statement

[2019-06-04 02:15] minggo commented on #19787
I think it is fixed in https://github.com/cocos2d/cocos2d-x/pull/19291 which is merged in 3.17.2.

[2019-06-04 02:15] #19787 closed, assigned to nobody

[2019-06-04 02:34] ijm700 commented on #19787
@minggo is it possible to edit CocosConfigDefine.cmake ? I want to include this change in my project but I do not want to update to 3.17.2 just yet

[2019-06-04 02:38] PatriceJiang opened #19789 "[android] ninja cannot be located by Android studio"
`ninja` cannot be located by Android studio

[2019-06-04 02:44] minggo commented on #19787
Sure.

[2019-06-04 02:45] ijm700 commented on #19787
I figured out how to do it :)

[2019-06-04 02:48] ijm700 commented on #19787
whats the code doing differently ?

![Screen Shot 2019-06-03 at 9 47 10 PM](https://user-images.githubusercontent.com/24462583/58847637-58ad5580-8649-11e9-9a68-b89909f2c436.png)

[2019-06-04 02:56] minggo commented on #19787
I am not familiar with cmake too, it is just to set the COCOS2D_DEBUG to 1 in debug mode.

[2019-06-04 05:49] minggo commented on #17924
@stephenhurry sorry, the method should be
[code]

[2019-06-04 06:16] Mee-gu commented on #19504
fixed in [19792](https://github.com/cocos2d/cocos2d-x/pull/19792)

[2019-06-04 06:18] #19503 closed, assigned to Mee-gu

[2019-06-04 06:21] Mee-gu commented on #19503
fixed in [19568](https://github.com/cocos2d/cocos2d-x/pull/19568)

[2019-06-04 06:22] #19368 closed, assigned to Mee-gu

[2019-06-04 06:29] #19437 closed, assigned to Mee-gu

[2019-06-04 06:31] Mee-gu commented on #19437
fixed in [19560](https://github.com/cocos2d/cocos2d-x/pull/19560)

[2019-06-04 06:33] Mee-gu commented on #19460
fixed in [19792](https://github.com/cocos2d/cocos2d-x/pull/19792)

[2019-06-04 06:33] #19460 closed, assigned to Mee-gu

[2019-06-04 07:03] Mee-gu commented on #19502
[19793](https://github.com/cocos2d/cocos2d-x/pull/19793) fixes some todo

[2019-06-04 10:13] #19733 closed, assigned to PatriceJiang

[2019-06-04 14:36] #19781 closed, assigned to nobody

[2019-06-05 01:42] minggo commented on #18709
@vkreal i move the issue to next version.

[2019-06-05 02:47] minggo commented on #19734
fixed in https://github.com/cocos2d/cocos2d-x/pull/19795

[2019-06-05 02:47] #19734 closed, assigned to minggo

[2019-06-05 02:53] #19504 closed, assigned to nobody

[2019-06-05 07:25] Mee-gu commented on #19311
fixed in [19797](https://github.com/cocos2d/cocos2d-x/pull/19797)

[2019-06-06 02:18] minggo opened #19801 "remove simple audio engine"
New audio engine is designed to replace simple audio engine, and it is used for a long time, so it is time to remove simple audio engine. As new audio engine has different features compared to simple audio engine, can not use new audio engine to implement simple audio engine to keep compatibility.

[2019-06-06 02:50] minggo commented on #19801
fixed in https://github.com/cocos2d/cocos2d-x/pull/19802

[2019-06-06 04:01] LFD008 opened #19804 "Same code but different memory usage on iPhone6/6+"
- cocos2d-x version :cocos2dx-3.17.1
- devices test on: iPhone6 and iPhone6P
- developing environments
   - Xcode version:10.1（10B61）

Steps to Reproduce:

1. Create new empty lua project;
2. Run the project on iphone6 and iphone6p
3. It shows that iphone6 uses 91M memory but iphone6+ uses 136M  memory
<img width="804" alt="TIM图片20190606111611" src="https://user-images.githubusercontent.com/205947

[2019-06-07 07:57] theunwisewolf opened #19813 "Access denied finding property "vendor.debug.egl.swapinterval""
- Cocos2d-x version:  3.17
- Devices tested on: OnePlus 6T

Steps to Reproduce:

1. Launch the app & see your logcat.

The entire logcat is spammed with this message: Access denied finding property "vendor.debug.egl.swapinterval"

This error comes every second (But the app does not crash).

[2019-06-07 17:49] ijm700 commented on #19789
I think this issue is only for Windows Android Studio and you have to set the variable for it

[2019-06-07 17:50] ijm700 commented on #19801
does this mean we will have to make any changes in our code if we use simple audio engine ?

[2019-06-10 10:26] minggo commented on #19801
Yep, use audio engine instead. It is only removed in v4, not in v3.x.

[2019-06-10 10:26] minggo commented on #19801
Yep, use audio engine instead. It is only removed in v4, not in v3.x.

[2019-06-11 01:12] minggo commented on #19813
Engine doesn't use `vendor.debug.egl.swapinterval`.

[2019-06-11 02:23] minggo opened #19819 "remove experiment namespace"
Audio, webview and other modules are developer for a long time, should remove the experimental namespace.

[2019-06-11 08:50] JohnCoconut commented on #19021
**Please ignore this post at the moment, working on it**

I have been struggling with this issue for quite sometime on my Linux machine. It failed randomly every now and then.

I am running `Fedora Linux 30`, `gcc 9.1.1` on cocos2d-x master branch.

I think the crash is caused by double free in `AudioEngineImpl::uncacheAll()`.

https://github.com/cocos2d/cocos2d-x/blob/9b45665ae532db1acc13c71887a1

[2019-06-12 01:23] #19801 closed, assigned to minggo

[2019-06-12 01:44] minggo commented on #19021
The map is cleared, why `sound->release()` will be invoked twice?

[2019-06-12 03:13] JohnCoconut commented on #19021
@minggo I was wrong. Please ignore my post above. I will make changes to it after I find the cause.

I run a debugger on it and found `audioRef.channel->stop();` was called on a null `channel` pointer. Perhaps that's the reason for crashing?

What I found interesting was that, sometimes it didn't  crash even though `channel == nullptr`. I thought it would segfault immediately when dereferencing nu

[2019-06-12 08:00] JohnCoconut commented on #19021
Found a null pointer dereferencing here.

https://github.com/cocos2d/cocos2d-x/blob/9b45665ae532db1acc13c71887a1a2ec0feb3d3f/cocos/audio/linux/AudioEngine-linux.cpp#L107-L118

`preload` function sets `channel` to `nullptr` in line 109, and dereferencing it in line 112.

https://github.com/cocos2d/cocos2d-x/blob/9b45665ae532db1acc13c71887a1a2ec0feb3d3f/cocos/audio/linux/AudioEngine-linux.cpp#L331

[2019-06-12 08:54] Mee-gu commented on #19584
fixed in [19824](https://github.com/cocos2d/cocos2d-x/pull/19824)

[2019-06-12 10:32] Mee-gu commented on #19413
fixed in [19824](https://github.com/cocos2d/cocos2d-x/pull/19824)

[2019-06-13 02:09] minggo commented on #19021
Yep, it seems has a problem, but it may crash easily here, right?

[2019-06-13 09:20] fresair opened #19829 "android ssl problem: Certificate doesn't match any of the subject alternative names"
- cocos2d-x version:3.17.2
- devices test on:samsung gt-n7100
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
same problem as
https://stackoverflow.com/questions/39762760/javax-net-ssl-sslexception-certificate-doesnt-match-any-of-the-subject-alterna

seems httpclient version4.4.1.1  is too old

[2019-06-13 10:16] minggo commented on #19829
@PatriceJiang please take a look.

[2019-06-13 11:58] fresair commented on #19829
06-13 19:48:46.218 29126-30949/com.aaagame.vegaswildslots W/System.err: javax.net.ssl.SSLException: Certificate for <down.abcd.com> doesn't match any of the subject alternative names: [blo.abcd.com]
06-13 19:48:46.223 29126-30949/com.aaagame.vegaswildslots W/System.err:     at cz.msebera.android.httpclient.conn.ssl.AbstractVerifier.verify(AbstractVerifier.java:164)
06-13 19:48:46.223 29126-30949/c

[2019-06-14 01:27] rh101 commented on #18614
Any update on a fix for this issue? I noticed the milestone is 3.17.2, but it's not fixed in that release.

[2019-06-14 01:46] xubing commented on #18510
I don't think it's a good idea.. Maybe there is the same crash in the latest version.
I met this crash, I move some third sdk initial after the game start, the crash disappear.

[2019-06-14 02:04] PatriceJiang commented on #19829
I think the exception message is quite clear.  You can re-generate your certificate appended with the new domain. I am not familiar with letsencrypt, and hope this link can help you https://certbot.eff.org/docs/using.html#re-creating-and-updating-existing-certificates @fresair

[2019-06-14 02:45] fresair commented on #19829
@PatriceJiang  thanks for reply. we will check the link you provide.
Currently we use root Certificate (*.abcd.com) which I think it should be met with <down.abcd.com> and [blo.abcd.com]
The code work fine with phones using android 9
but in phone running android 4.4. the above error message showes

and i have provided the link https://stackoverflow.com/questions/39762760/javax-net-ssl-sslexception

[2019-06-14 03:08] PatriceJiang commented on #19829
I thought about using okhttp and it is rejected for the lack of support for TLS 1.2. https://github.com/cocos2d/cocos2d-x/pull/19766.

We may find a better lib to replacement HttpClient or simply upgrade it, and it will be decided soon.

[2019-06-14 05:35] rh101 commented on #18614
@minggo The code you originally changed did fix the global Z issue, but as was discovered, it caused a problem in the RenderTextureSave test in RenderTextureTest.cpp.  I just did some testing, and it seems that the reason is because RenderTexture::begin() and RenderTexture::end() are called too many times and too quickly, like what is happening in RenderTextureSave::onTouchesMoved().

It can easil

[2019-06-14 07:20] umair6 commented on #18510
@xubing Can you please elaborate your solution a bit?
Which SDK you moved from start?

[2019-06-14 16:42] 987690183 opened #19833 "CCLabel 的一个问题"
- cocos2d-x version: all
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. CCLabel.cpp 中的 setBMFontFilePath 函数
_bmFontPath = bmfontFilePath;
会有一个字符串拷贝过程，bmfontFilePath字符串本身比较大，如果大量创建bmfont对象，将会造成内存暴涨。建议改成指针的形式~

[2019-06-15 03:54] rh101 commented on #18614
@minggo I got it working with your original fix by using a list of group commands, and looping through the list in a circular manner.  The issue is that the RenderTexture::begin() is being called too quickly, re-using the same group.

This is the test code:
[code]
This code was just for testing out a theory, and while it did fix the issues in #18777 it may not exactly be the optimal fix for the is

[2019-06-15 04:00] zzyAZU opened #19834 "external libs do not have win64 libs"
external libs do not have win64 libs

[2019-06-15 18:36] JohnCoconut commented on #19021
Yes. It crashes easily if we add an `assert(mapChannelInfo[id].channel)` statement.

But I think the bigger culprit is data race. When I turned on `thread sanitizer` on gcc, it reported 258 cases of data races.

Below is the log from thread sanitizer if you're interested.

[thread-sanitizer.log](https://github.com/cocos2d/cocos2d-x/files/3293423/thread-sanitizer.log)

[2019-06-16 00:04] QiuleiWang opened #19835 "win64 release 编译失败，debug可以"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2019-06-16 00:55] rh101 opened #19836 "VS2019 release mode compile issue"
- cocos2d-x version: 3.17.2
- devices test on: Windows 10 PC
- developing environments
   - VS version: VS2019

Steps to Reproduce:

1. Compile a release mode build for Win32
2. You will notice the compiler will be stuck on LocalStorage.cpp or CCController-linux-win32.cpp since optimizations are turned on.  The actual problem is in CCController-linux-win32.cpp, and not LocalStorage.cpp.

More info

[2019-06-17 01:45] minggo commented on #19835
May be it is similar to https://github.com/cocos2d/cocos2d-x/issues/19836. And please use english in future.

[2019-06-17 01:52] minggo commented on #19834
There is no plan to provide win64 libs as windows is not a release platform. And may be we will just support 64bit some day as on macos.

[2019-06-17 01:52] #19834 closed, assigned to nobody

[2019-06-17 05:41] #19311 closed, assigned to nobody

[2019-06-18 03:40] Mee-gu commented on #19548
fixed in [19843](https://github.com/cocos2d/cocos2d-x/pull/19843)

[2019-06-19 01:05] #19548 closed, assigned to nobody

[2019-06-19 01:08] #19833 closed, assigned to nobody

[2019-06-19 05:47] #19584 closed, assigned to nobody

[2019-06-19 05:48] #19413 closed, assigned to nobody

[2019-06-19 19:32] xerosugar opened #19844 "DrawNode reports wrong size"
- cocos2d-x version: 3.17
- devices test on: win 7
- developing environments
   - VS version: vs community 2017

Steps to Reproduce:
[code]
size width/height is 0.

[2019-06-20 02:13] Mee-gu commented on #19635
fixed in [19845](https://github.com/cocos2d/cocos2d-x/pull/19845)

[2019-06-20 02:14] Mee-gu commented on #19316
fixed in [19845](https://github.com/cocos2d/cocos2d-x/pull/19845)

[2019-06-20 03:37] semgilo opened #19846 "Crashing when addImageAsync some textures which packed in obb at a same time."
- cocos2d-x version:3.17
- devices test on:many android devices
- developing environments
   - NDK version:r16
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
step 1.addImageAsnyc some textures which are apine resources at a same time.
step 2.create spine animation.

bugly collecting errors:
1.`#00 pc 00e1c550 libcocos2dlua.so inflate_fast [armeabi-v7a]`
2.

[2019-06-20 11:26] sbrednikhin commented on #17924
It won't solve problem if some GL calls will be performed while app is paused.
IAP is good sample, because it generates some signals that may be handled by app's code when app is paused.
In process of handling some label changes i'ts content, and calls FontAtlas::prepareLetterDefinitions, which will call glTexSubImage2D and maybe glGenTextures.
After resume app is trying to render label an crushes

[2019-06-21 01:40] Cybertwip opened #19850 "Wrong Sprite Display"
- cocos2d-x version: 3.17.2
- devices test on: Intel HD Graphics
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2017
   - browser type and version:

Steps to Reproduce:

1. Manually load sprites with
	auto sprites = load_anigroup("content/title", "anigroup.anigroup.xml");

    The content folder must be located inside Resources/res

2. Verify that the sprites are

[2019-06-21 01:50] Cybertwip commented on #19850
[Classes.zip](https://github.com/cocos2d/cocos2d-x/files/3312704/Classes.zip)

The previous Classes folder points to an non-existing texture (rootNode), it is commented up in this file.

[2019-06-21 11:41] AIGRIND-LLC commented on #17924
Hi all.
The most common case when the crash occures is when app is in background (Main activity is paused) and any rendering code is called by some system callbacks.
For example IAP (Google In-App Billing) or sign-in providers (Google Game Play sign-in) may make such callbacks because all of them show their own activities and pause Main one.

@minggo, we've made a sample based on _cpp-empty-test_

[2019-06-21 11:58] kopos commented on #18608
Can confirm that this issue does not happen if the `frameworks/cocos2d-x/cocos/scripting/js-bindings/script/` folder is also `jscompile`-d

[2019-06-21 19:21] JohnCoconut opened #19852 "memory leak with Data::fastSet"
cocos2d-x version: current v3 branch

https://github.com/cocos2d/cocos2d-x/blob/4afda3a9abec62fa111396c19ea30cc31c11ea85/cocos/base/CCData.cpp#L127-L133

`fastSet` makes the `Data` object managing a new memory area in `[bytes, bytes + size)`, but it doesn't releasing the old data it manages. Failing to release the old data causes memory leak, as happens below,

https://github.com/cocos2d/cocos2d-x

[2019-06-22 07:25] rh101 commented on #19850
What exactly is the bug? Do you have screenshots of expected and actual output?

[2019-06-22 08:43] rh101 opened #19854 "Cocos2d-x 3.17.2 has the incorrect COCOS2D_X_VERSION set in CMakeLists.txt"
- cocos2d-x version: 3.17.2

The cocos2d/cocos/CMakeLists.txt has not been updated to reflect the correct version number, so it is still as follows:

`set(COCOS2D_X_VERSION 3.17.1)`

There's nothing that can really be done about this given 3.17.2 has already been released, but please make a note to update it in the future, since developers may rely on this value to do conditional checks in the CMa

[2019-06-22 09:55] #17470 closed, assigned to nobody

[2019-06-23 03:53] rh101 commented on #19557
Looks like it may have been fixed in PR #19732

[2019-06-24 04:41] rh101 commented on #19835
I don't think it's quite the same as #19836 since compiling for Windows x64 produces errors about missing libraries.  The external 3rd party pre-built libraries don't include x64 versions yet.

[2019-06-24 11:28] ghost commented on #16291
@ibaranskyi  I run your test case, the memory is growing up! This issue can be confirmed! Anybody can fix it?!

2019.06.24  @这个问题在cocos2d-x-3.17.2中仍然存在。大佬们，怎么修复？@pandamicro

1.Create simple js project with cocos2d-x-3.17.2
2.Add code in app.js
var HelloWorld = cc.Layer.extend({ ctor: function () { this._super(); this.scheduleUpdate(); }, update: function () { cc.log("update called"); } });
3.Run a

[2019-06-25 02:10] ghost opened #19861 "JSScheduleWrapper导致内存持续增长"
2019.06.25 这个问题在cocos2d-x-3.17.2中仍然存在。大佬们，如何修复？

- cocos2d-x version: cocos2d-x-3.17.2
- devices test on: iPhone 6s
- developing environments
   - NDK version: N/A
   - Xcode version: 10.2.1
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1.Create simple js project with cocos2d-x-3.17.2
2.Add code in app.js
var HelloWorld = cc.Layer.extend({ ctor: function () { this._

[2019-06-26 08:43] tankorsmash opened #19866 "On Windows, clicking on an image element in RichText without a URL causes File Explorer to open"
https://github.com/cocos2d/cocos2d-x/blob/2ac747ccf587d5839d8aa3e1df4d49241f98b5a3/cocos/ui/UIRichText.cpp#L1762

[code]

then click on the image, and the OS will try to open the URL, but since it's blank, it defaults to the root filesystem path I think.

On my fork I've just added an 'if URL length' check in this one spot, but I haven't tried much more. Seems like there's a few spots the Listener

[2019-06-26 09:56] kkafaseb opened #19868 "Clipping node result is not anti-aliased."
- cocos2d-x version: latest v3

Steps to Reproduce:

1. Use Clipping node to mask some round/circle object.
2. The masking sprite usually has anti-aliasing already applied either embedded in the image or through cocos.
3. The resulting image after mask, does not take into account, if the mask has some pixels with opacity. If the pixels pass the alpha-threshold, they are displayed with full opacity

[2019-06-26 13:41] rh101 commented on #19610
@minggo I'll try to do a test on my Mac Mini to see what happens within the next few days, and I'll post back here.  On Windows (Win32) the GLFW 3.3 worked fine with Cocos2d-x.

[2019-06-26 18:56] slackmoehrle commented on #19854
it is worth fixing: https://github.com/cocos2d/cocos2d-x/pull/19869

[2019-06-27 04:12] rh101 opened #19874 "Post build step is slow when copying resources"
- cocos2d-x version: 3.17.2
- devices test on: Win32 build on Windows 10
- developing environments
   - NDK version: 20
   - Xcode version:
   - VS version: VS2017 and VS2019
   - browser type and version:

Steps to Reproduce:

1. Build test project, and you will notice all the filenames being printed out in the console as each and every file is checked for modification before copying.  The step o

[2019-06-27 09:47] #19874 closed, assigned to nobody

[2019-06-27 10:23] minggo commented on #17924
@sbrednikhin engine i think engine will not invoke native codes when it is paused, of course we should invoke super.onPause() after previous queued messages are handled. But engine can not prevent application invoking native codes.

@AIGRIND-LLC i think the safe case may not always safe because `CallAppPausingEvent()` is invoked
asynchronously. It may be invoked after the activity is paused.

[2019-06-27 11:53] minggo commented on #17924
@AIGRIND-LLC no matter safe or fail case, it works correctly on my tested device(vivo Y66. I think it is because the opengl es context is not lost. So there is not problem. What device did you test on?

[2019-06-27 11:57] iceman5555 opened #19876 "AudioPlayer destroy make game main thread stuck on ios"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

When using the iPhone to play our game, the system is interrupted by the alarm clock,  and then actively release all Audio Cache by using "uncacheAll".When destroy the AudioPlayer,the main thread goes into a dead loop ,when wa

[2019-06-27 12:58] ghost opened #19877 "这个报错到底是什么意思？！换成陈述句不是更好吗？！"
- cocos2d-x version: 3.17.2

出现下面这个报错的时候绝大部分人不知道到底要不要在继承类的onExit中调用父类的onExit()
换成陈述句不是更好吗？

CCASSERT(!_running, "Node still marked as running on node destruction! Was base class onExit() called in derived class onExit() implementations?");

[2019-06-28 01:36] #19877 closed, assigned to nobody

[2019-06-28 05:52] PatriceJiang opened #19878 "[docs] Documents need to be updated for v4"
- [x] New renderer backend, Metal/GL https://github.com/cocos2d/cocos2d-x/issues/19879
- [x] `C++` & `Lua` API changes https://github.com/cocos2d/cocos2d-x/issues/19880
- [x]  `CMake` relevant build procedure, no more VS/XCode project template https://github.com/cocos2d/cocos2d-x/issues/19881

[2019-06-28 06:01] PatriceJiang commented on #19878
Changes in v4 (not a full list here).

## New Renderer backend https://github.com/cocos2d/cocos2d-x/issues/19879

support both `Apple Metal` & `OpenGL`
- Device
- Renderer
- ProgramState
- Program
- TriangleCommand
- MeshCommand
- CustomCommand
- Texture2D

-   dynamic/static for Buffer usage
-   shader module and what shader features are not supported

## API changes https://github.com/cocos2d/co

[2019-06-28 06:01] Bilalmirza commented on #19878
Please make sure you include spine support. Esoteric still haven't merged the pull request.

[2019-06-28 06:06] Bilalmirza commented on #19878
Sorry your full list wasn't visible to me when i replied.

[2019-06-28 06:07] minggo commented on #19878
But we don't know how to make Esoteric merge the PR.

[2019-06-28 06:12] minggo commented on #19878
I think it is not needed because v3 also has this feature.

Some contents added:

- dynamic/static for Buffer usage
- what shader features are not supported

[2019-06-28 06:23] PatriceJiang commented on #19878
okay  @minggo

[2019-06-28 06:26] PatriceJiang opened #19879 "[docs] The new renderer backend"

[2019-06-28 06:26] PatriceJiang opened #19880 "[docs] C++ API changes in v4"

[2019-06-28 06:27] PatriceJiang opened #19881 "[docs] Documents about cmake workflow in v4"

[2019-06-28 06:46] Bilalmirza commented on #19878
@minggo I'll ask esoteric in forums to merge the PR

[2019-06-28 08:58] ghost commented on #17598
anybody fix it out?  it also occurs in cocos2d-x 3.17.2!
大佬们，怎么解决这个报错啊？

[2019-06-28 09:43] Mee-gu opened #19884 "TileMapTest may have z-fighting issues on mac"
If two sprites with the same depth value overlapped when depth test is enabled, then may cause z-fighting issues.

[2019-06-28 12:05] rh101 commented on #19610
@minggo I just built the template game code on Mac OS X with GLFW 3.3 successfully without issues (except some Spine SkeletonRenderer ambiguous type, just changing Rect => cocos2d::Rect fixed it).  I had to build the GLFW3.3 library, libglfw3.a, first, since one wasn't available to download.  This is using macOS Mojave 10.14.4, and Xcode 10.2.1.

The only other step is to make sure the updated GLF

[2019-07-01 01:18] minggo commented on #19610
@rh101 how did you compile GLFW 3.3?

[2019-07-01 01:50] drelaptop opened #19886 "editbox crash when input and change scene occur at same time"
- cocos2d-x version: 3.17.1
- devices test on: macOS 10.14
- developing environments
   - Xcode version: 10.2.1

Steps to Reproduce:

1. enter the edit-box test case of cpp-tests
2. find a edit-box, and input Chinese by sougou pinyin
3. switch test case page when you are inputing
4. then a mac native Exception occurs, and crash may occur

[2019-07-01 01:51] Mee-gu commented on #19879
1. Director::setDepth() is removed.
2. ShaderModule and feature not supported.
3. replace program

[2019-07-01 02:05] rh101 commented on #19610
@minggo I did the following:

1) Downloaded the source package (or you can clone from Github tag 3.3): https://github.com/glfw/glfw/releases/download/3.3/glfw-3.3.zip

2) Generated out-of-build CMake project for Xcode as described [here ](https://www.glfw.org/docs/latest/compile_guide.html#compile_generate)

[code]

Then I opened up the generated project in Xcode 10.2.1, and compiled. Once that wa

[2019-07-02 01:11] JoHuang commented on #11368
@Shulepov

Hi, I’m interested in your work. Do you have examples to let us figure out how to use your
collectionview.

Thanks

[2019-07-02 07:49] wbbtcool commented on #19769
It need to Jni , Here is my method：
[code]
call  `NativeCpp.quit();` in exit method.
But memory has leaked , your MainActivity can not clean up. This problem is currently bothering me.
hope this help you.

[2019-07-02 08:23] Rofl113 opened #19890 "UiLayout is not a necessary getClippingRect correction"
1. Sequencing:
1.1 Create UiListView
1.2 Set Anchor Point (0.0, 1.0)
1.3 UiLayout::setClippingType(ClippingType::SCISSOR);
1.4 Total: Anchor Point counted twice

2. Possible location of the problem:
2.1 Layout::getClippingRect
UiLayout (ClippingType::SCISSOR) call func Layout::getClippingRect()
If _clippingParent == nullptr:
`_clippingRect.origin.x = worldPos.x - (scissorWidth * _anchorPoint.x);
_

[2019-07-02 12:50] iceman5555 commented on #19467
Hi, we have the same problem. Have you solved this problem, please?

[2019-07-03 01:50] minggo commented on #19610
I used scripts in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src to test. We will try later after releasing v4.0.

[2019-07-03 04:00] #19854 closed, assigned to nobody

[2019-07-03 06:09] fly614 commented on #18581
The problem remains, not solved

[2019-07-03 07:00] fly614 commented on #18581
public void setEditBoxViewRect(int left, int top, int maxWidth, int maxHeight) {
        FrameLayout.LayoutParams layoutParams = new FrameLayout.LayoutParams(FrameLayout.LayoutParams.WRAP_CONTENT,
                                                                            FrameLayout.LayoutParams.WRAP_CONTENT);
        layoutParams.leftMargin = left;
        layoutParams.topMargin = top;
        l

[2019-07-03 07:01] fly614 commented on #18581
public void setEditBoxViewRect(int left, int top, int maxWidth, int maxHeight) {
        FrameLayout.LayoutParams layoutParams = new FrameLayout.LayoutParams(FrameLayout.LayoutParams.WRAP_CONTENT,
                                                                            FrameLayout.LayoutParams.WRAP_CONTENT);
        layoutParams.leftMargin = left;
        layoutParams.topMargin = top;
        l

[2019-07-03 07:26] fly614 commented on #18581
我把代码做了些修改

`    public void setTextHorizontalAlignment(int alignment) {
        int gravity = this.getGravity();
        switch (alignment) {
            case kTextHorizontalAlignmentLeft:
                gravity = (gravity & ~Gravity.RIGHT) | Gravity.LEFT ;
                break;
            case kTextHorizontalAlignmentCenter:
                gravity = Gravity.CENTER_HORIZONTAL;

[2019-07-03 07:27] fly614 commented on #18581
我对代码做了些修改

达到了我想要的效果。   文字可以居中了

[2019-07-03 08:39] Shulepov commented on #11368
@JoHuang hello, I haven't developed anything for cocos2d-x for a while, so I'm not sure if it is still compatible with current cocos2d-x version (though it shouldn't be too hard to fix possible issues). It should work like UICollectionView on iOS, but with less functionality.

[2019-07-03 16:34] phicore opened #19901 "UIButton scale9Enabled does not work with SpriteFrameCache"
- cocos2d-x version: 3.17.2
- devices test on: Win32
- developing environments
    VS version: 2017

Creating a UIButtons with individual sprites and activating Scale9 works as expected,
But as soon I replace the individual sprites (png images) with images from the
SpriteFrameCache (by setting the ResourceType to PLIST) the buttons size is no more
stretched according to the given size. The sprites

[2019-07-04 10:10] Kevinlwg commented on #17478
2.0.10版本参考此方法修改后，iOS上运行后图片未显示出来，报错：无法调用JSB_glTexImage2D：build / jsb-default / frameworks / cocos2d -x / cocos / scripting / js-bindings / manual / jsb_opengl_manual。 CPP：2177，请问是哪里配置不对吗如何解决？

[2019-07-05 02:16] PatriceJiang opened #19907 "Sprite initialization need optimization"
Sprite initialization is slower than v3

[2019-07-06 17:11] chipse commented on #18705
I'm getting the same error repeating itself in the log when trying to use an emulator. I've only been able to create a new cocos project that works by default once.

[2019-07-08 07:30] yongjun123 commented on #10061
Really, this error occurs？   ERROR: Could not get unknown property 'PROP_BUILD_TOOLS_VERSION' for object of type com.android.build.gradle.LibraryExtension.   COOCS 3.17.1

[2019-07-08 08:52] yongjun123 commented on #10061
How can it not run?

[2019-07-08 10:42] Mee-gu commented on #19879
[here is a doc show how to use backend](https://github.com/cocos2d/cocos2d-x-docs/pull/238)

[2019-07-08 10:44] Mee-gu commented on #19879
[add some api document](https://github.com/cocos2d/cocos2d-x/pull/19909)

[2019-07-08 13:35] intmainreturn00 commented on #10061
@yongjun123 you are talking about my library or something else?
If your reply relates to my library please make an issue in corresponding repo.
If this relates to your own attempts to run cocos from fragment, if you share your code I could try to see what the problem is.

[2019-07-08 21:18] TyelorD commented on #18046
I think that this bug still exists in Cocos2d-x 3.17+. My coworker and I use a lot of Sequences in our project, and sometimes we create many Sequences at once and/or create Sequences within Sequences. Very rarely the last Action in a sequence will not run, which often causes animations to look wrong and not complete correctly.

[2019-07-09 02:11] PatriceJiang commented on #19907
The hash procedure is heavy for static string in ccShaders.

https://github.com/cocos2d/cocos2d-x/blob/77b1535a9d56860ad15a266c23b8135cb4e479ac/cocos/renderer/backend/ProgramCache.cpp#L84-L90

[2019-07-09 05:30] yongjun123 commented on #10061
Can't run   CocosSilce ？   Cocos ：3.17.1     Android  NDK 16   Gradle build 3.1.1

[2019-07-09 05:34] yongjun123 commented on #10061
Anything to pay attention to CocosSilce?  Can't run？

[2019-07-09 10:57] yongjun123 commented on #10061
CMake Error at CMakeLists.txt:132 (setup_cocos_app_config):
  Unknown CMake command "setup_cocos_app_config".

[2019-07-10 01:15] qoozta commented on #19480
Used this quick fix so far it worked properly.
I think rotateBufferThread somehow interrupted by UI thread, an easy way to reproduce this problem is run the app on iPhone 5S then slide out the Control Center, older device is more easily to reproduce.

[2019-07-11 03:18] seventhrank commented on #18873
#19633
Solved.

[2019-07-11 03:18] #18873 closed, assigned to nobody

[2019-07-11 03:30] #18761 closed, assigned to nobody

[2019-07-11 07:36] jiny90 opened #19911 "A Crash occurs using Donwloader on some Android devices"
- cocos2d-x version: 3.17

Fatal Exception: java.lang.RuntimeException
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.io.File.isDirectory()' on a null object reference
com.loopj.android.http.AsyncHttpResponseHandler.onUserException (AsyncHttpResponseHandler.java:304)
com.loopj.android.http.AsyncHttpResponseHandler.handleMessage (AsyncHttpResponseHandler.java:395)
co

[2019-07-11 08:43] minggo commented on #19911
It seems it crashed in

https://github.com/cocos2d/cocos2d-x/blob/e7dd2c50c9cffae2931d954b5edf3902767f533d/cocos/platform/android/java/src/org/cocos2dx/lib/Cocos2dxDownloader.java#L363-L364

What's the path of `_tempFile`?

[2019-07-11 09:12] jiny90 commented on #19911
I get path using this java function

 public static String getDocPath(String fileName) {
        Context context = getContext();
        return context.getFilesDir().getPath() + "/" + fileName;
    }

and Cocos2d-x function is

    std::unique_ptr<network::Downloader> downloader;
    downloader.reset(new network::Downloader());
    downloader->createDownloadFileTask(strDownloadUrl, Cocos2dExt::Nat

[2019-07-11 09:59] phicore commented on #19901
I suppose I can live with loading images instead of using an atlas. But what bothers me more is
the number of draw call that is easily above 50 while I create a lot of buttons (in a listview)

[2019-07-12 06:59] PatriceJiang commented on #19880
ref https://github.com/cocos2d/cocos2d-x-docs/pull/240

[2019-07-12 07:00] #19880 closed, assigned to PatriceJiang

[2019-07-12 08:53] anggaaryas commented on #18705
same  here using 3.17. dont know what the cause . try to undo, but still not fixed

[2019-07-12 09:47] ghost commented on #19877
这个问题老外都提到过，老外也没看明白

[2019-07-12 09:57] minggo commented on #19877
@slackmoehrle could you please help to fix it? Thanks.

[2019-07-12 15:30] jiny90 commented on #19911
I changed this part

`downloader->createDownloadFileTask(strDownloadUrl, Cocos2dExt::NativeInterface::getDocPath(strFileName));`

to

`    downloader->createDownloadFileTask(strDownUrl, FileUtils::getInstance()->getWritablePath() + strFileName);`

And now above error doesn't occur.

[2019-07-13 16:37] goodleon commented on #17478
2.1.1版本参考此方法修改后，iOS上运行后图片未显示出来，报错：无法调用JSB_glTexImage2D：build / jsb-default / frameworks / cocos2d -x / cocos / scripting / js-bindings / manual / jsb_opengl_manual。 CPP：2177，请问是哪里配置不对吗如何解决？

[2019-07-13 16:39] goodleon opened #19918 "support ETC2"
- cocos2d-x version:
cocos creater 2.1.1
- devices test on:
ios
- developing environments
   - NDK version:
   - Xcode version: 10.2.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

2.1.1版本参考此方法修改后，iOS上运行后图片未显示出来，报错：无法调用JSB_glTexImage2D：build / jsb-default / frameworks / cocos2d -x / cocos / scripting / js-bindings / manual / jsb_opengl_manual。 CPP：2177，请问是哪里配置不对吗如何解决？

[2019-07-13 16:41] goodleon commented on #19918
https://oedx.github.io/2019/06/20/CocosCreator-TextureCompression-Plugin/

[2019-07-14 14:28] #19911 closed, assigned to nobody

[2019-07-15 01:50] minggo commented on #19911
So, when it crashes, what's the value of it? Is it a meaningful path?

[2019-07-17 11:31] OlehKulykov opened #19925 "Rearranging the order of class and structure members to remove a lot of paddings and save a memory"
- cocos2d-x version: all
- devices test on: all
- developing environments: all

Are you planing to rearrange the order of class and structure members to remove a lot of paddings and save a memory?

Example from class cocos2d::Node:
Rearrange next members:
[code]

Into next:
[code]
Or are you interested in such pull-request at least for a base classes in 2D part?

[2019-07-18 09:29] crazyhappygame commented on #19925
Good idea!
Could you provide cocos2d::Node size of before and after for different platforms?

[2019-07-18 11:57] OlehKulykov commented on #19925
Hi, currently I have only possibility to provide results for Apple platform, i.e. for desktop(mac OS) and mobile(iPhone).
So, the result of simple rearranging:

[code]

P.S. So, the fundamental issue exists, I hope, you can see it even without any tests, just take a look on headers. And now you have practical results/numbers.
"To Do | !To do That is your 'choice'".

[2019-07-18 12:15] crazyhappygame commented on #19925
Thank you.
+1 for PR

[2019-07-19 01:57] minggo commented on #19925
@kyokomi you are appreciated to send a PR for it.

[2019-07-19 06:56] PatriceJiang opened #19943 "Merge #19732 to v4"
upgrade gradle &
copy change  https://github.com/cocos2d/cocos2d-x/pull/19732 into v4

[2019-07-19 13:45] JohnCoconut commented on #19907
[code]
Is this string concatenation necessary? Could we create a new hash bash based on two sub string hashes? Like this one in cppreference,  https://en.cppreference.com/w/cpp/utility/hash

[code]

[2019-07-19 13:47] #19852 closed, assigned to nobody

[2019-07-20 02:55] cx-github opened #19956 "RenderTexture has a problem with png which has alpha < 255"
- cocos2d-x version:3.17.1  or all versions
- devices test on: mac
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

- desc
    - My English is not very good
    - when i use rendertexture object with png ,i find png with alpha that less than 255 , result  not right
   - For better testing ，Use layerColor instead，but It doesn't affect

[2019-07-20 02:55] cx-github commented on #19956
@minggo

[2019-07-20 06:13] rh101 commented on #19956
Are you saving the RenderTexture output image to a file with `RenderTexture::saveToFile()`?  If that is the case, and the PNG file is the problem, then there is a possible fix that has already been merged in: #19782

With that merge you can use `RenderTexture::saveToFileAsNonPMA()`

[2019-07-20 06:20] cx-github commented on #19956
it is not same question

[2019-07-22 02:57] codewithmichael commented on #19246
Just to share another [easier] solution for 3.17.1 (Ubuntu 18.04 LTS / LinuxMint 19.1):
I just created a symlink to avoid editing my shared CMake build's link.txt.

[code]

_(Edit) Note: The package libfreetype6-dev must be installed._

[2019-07-22 03:45] #19314 closed, assigned to slackmoehrle

[2019-07-22 07:50] #19956 closed, assigned to nobody

[2019-07-22 14:13] rh101 commented on #15243
@minggo This issue should be closed because it's not related to Cocos2d-x, but a matter of installing the Microsoft Visual C++ Redistributable. For the sake of anyone else who needs it, it can be found [here](https://support.microsoft.com/en-au/help/2977003/the-latest-supported-visual-c-downloads)

[2019-07-22 14:21] rh101 commented on #16113
@minggo This issue can probably be closed given that #19782 was merged in to allow saving non-premultiplied images.

[2019-07-23 01:20] #15243 closed, assigned to nobody

[2019-07-23 04:43] chongchaoyu commented on #17245
hi, is this issue has NOT been fixed yet? I've got the same issue, do you have some advices? Thank you

[2019-07-23 07:43] #19610 closed, assigned to nobody

[2019-07-23 09:41] JohnCoconut opened #19967 "dubious pointer casting in CCDrawNode"
- cocos2d-x version: current master branch

in `CCDrawNode.cpp`,

[code]

Here, _buffer is declared as `V2F_C4B_T2F *_buffer = nullptr;`, and `V2F_C4B_T2F_Triangle` is a struct of three `V2F_C4B_T2F` members.

Is this casting allowed? It seems to me that it violates this rule, https://wiki.sei.cmu.edu/confluence/display/c/EXP36-C.+Do+not+cast+pointers+into+more+strictly+aligned+pointer+types

We m

[2019-07-23 10:06] minggo commented on #19967
I this case, i think there is not problem. `V2F_C4B_T2F` makes sure it is 4/8 bytes aligned, and `V2F_C4B_T2F_Triangle ` will not add padding between 3 `V2F_C4B_T2F `.

But it is easy to make error if the struct changes. And how will you use `alignas` to fix it?

[2019-07-23 12:32] chongchaoyu commented on #17245
I find that the reason of memory i increase is that when cc.game.restart, director will be reset and remove all custom listeners, but director won't destroy SkeletonBatch and SkeletonTwoColorBatch, so the nextFreeCommand of SkeletonBatch and SkeletonTwoColorBatch can't be reset after draw, it keeps increasing and makes commands pool larger and larger. You can destroy SkeletonBatch and SkeletonTwoC

[2019-07-23 17:05] JohnCoconut commented on #19967
@minggo Thanks for your clarification. I got confused somehow.

There is an example in cppreference, showing how to use `alignas`.

[code]

[2019-07-23 17:05] #19967 closed, assigned to nobody

[2019-07-23 23:04] NotAPenguin0 commented on #19300
This issue can be closed I suppose?

[2019-07-24 01:15] minggo commented on #19300
Just use Director::getInstance()->getTextureCache(). We want to directory to manage all memories if possible.

[2019-07-24 01:15] #19300 closed, assigned to nobody

[2019-07-24 03:50] JohnCoconut commented on #19844
`getContentSize` is a virtual function defined in `Node`, but we didn't override it in `DrawNode`. Hence the ouput is 0.

The problem is `DrawNode` can draw different objects, such as points, lines, rectangles, polygons, circles. contentSize() method is meaning for rectangles, but not for lines. Is there anything we can do for it.

If we are not implementing it, a possible way to prevent misusing

[2019-07-24 08:26] acvrp-lab opened #19973 "new bug from pr #19960"
there's definitely some bug about this modification somewhere, although i havent done much research. maybe because *= returns a reference to itself and assign to itself

buttons cant be clicked on if it or one of it's parent nodes is scaled up. there must be some miscalculation on it's bounding box.

https://github.com/cocos2d/cocos2d-x/pull/19960

[2019-07-24 08:50] minggo commented on #19973
The codes are reverted, thanks.

[2019-07-24 08:50] #19973 closed, assigned to nobody

[2019-07-24 16:06] rh101 commented on #19576
The defines exist, even though there are several locations that need to be updated each time a new release is being prepared, so care should be taken in updating all of them.  This issue is not relevant given that there are ways to check for the version number.

[2019-07-24 16:06] #19576 closed, assigned to nobody

[2019-07-24 16:16] lbllm opened #19978 "Using Donwloader to download large file downloads half crashes"
- cocos2d-x version:3.17.2
- devices test on:android
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
crash:
![image](https://user-images.githubusercontent.com/46704556/61810351-aab46f80-ae71-11e9-90fa-6ec660604af6.png)

[2019-07-24 22:25] NotAPenguin0 commented on #18921
This issue can be closed

[2019-07-25 01:39] #18921 closed, assigned to nobody

[2019-07-25 01:49] PatriceJiang commented on #19978
The "data task" will save all data in memory, it will fail if memory is not enough. You can try to create a file task and delete the file after use.

[2019-07-25 01:54] #19943 closed, assigned to PatriceJiang

[2019-07-25 06:09] iwifigame opened #19983 "FontAtlas crash on some device"
- cocos2d-x version: 3.17.2
- devices test on:
![image](https://user-images.githubusercontent.com/22087773/61849961-8a25fd00-aee5-11e9-9b96-d10b4f14fda4.png)

- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
online game. bugly reported it.

crash call stack:

# GLThread 2203(18292)

SIGSEGV(SEGV_MAPERR)

解析原始
1 #00

[2019-07-25 06:19] iwifigame opened #19985 "SkeletonTwoColorBatch crash on some device."
- cocos2d-x version: 3.17.2
- devices test on:
![image](https://user-images.githubusercontent.com/22087773/61850462-fce3a800-aee6-11e9-86e9-d07fb4fb16b0.png)

- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
online game. bugly report crash info.
call stack:

GLThread 6820(18655)

SIGSEGV(SEGV_MAPERR)

解析原始
1 #00 pc

[2019-07-25 06:21] iwifigame opened #19986 "ArmatureData::getBoneData crash on some devices"
- cocos2d-x version: 3.17.2
- devices test on:
![image](https://user-images.githubusercontent.com/22087773/61850630-5e0b7b80-aee7-11e9-9a84-062286ee2521.png)

- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
call stack:

GLThread 199414(199414)

SIGSEGV(SEGV_MAPERR)

解析原始
1 #00 pc 005b6378 /data/app/com.aaa.bbb.ccc

[2019-07-25 06:40] #19978 closed, assigned to nobody

[2019-07-26 06:02] fndppx opened #19989 "bugly crash"
- cocos2d-x version:3.17.2
- devices test on:  (iPhone)iOS
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
<img width="1001" alt="WX20190726-135744@2x" src="https://user-images.githubusercontent.com/7971897/61929420-b86f0f80-afad-11e9-8a3e-57f5d52be29d.png">
![90176BFC-40CC-4F39-BE90-9981D34B327B](https://user

[2019-07-26 06:11] minggo commented on #19989
Sorry, can not get enough information about how crash happen.

[2019-07-26 14:40] seventhrank opened #19992 "ui::Text is not displayed (v3.17.2)"
- cocos2d-x version: 3.17.2 (C++)
- devices test on: Android Nexus5
- developing environments
   - NDK version:  r19c
   - sdkbox IAP 2.4.3.3

ui::Text is not displayed at the "onSuccess" event after purchase (sdkbox IAP).

[code]

It is displayed in 3.17.1

can work this issue below

[code]

[2019-07-27 12:47] Glidos commented on #19115
All is well again in v3.17.2. No idea who or what fixed it.

[2019-07-27 12:47] #19115 closed, assigned to nobody

[2019-07-29 01:56] minggo commented on #19992
I think i may caused by https://github.com/cocos2d/cocos2d-x/pull/19256. You can un comment `super.onPause();`.

[2019-07-29 03:05] seventhrank commented on #19992
It worked when commenting out `super.onPause();` of Cocos2dxGLSurfaceView.java

[2019-07-30 07:14] minggo commented on #19992
i sent https://github.com/cocos2d/cocos2d-x/pull/19996 to fix it

[2019-07-30 07:15] #19992 closed, assigned to nobody

[2019-07-30 10:17] fndppx commented on #19989
I can not how crash happen,but bugly has a lot of this crash

[2019-07-30 11:16] OlehKulykov opened #19997 "Metal renderer backend: memory leaks on every render loop."
- cocos2d-x version: cocos2d-x-4.0beta
- devices test on: macOS
- developing environments
   - NDK version:
   - Xcode version: Version 10.3 (10G8) (latest for now)
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Pull latest changes from 'v4' branch.
2. Confirgure as on Readme for mac with the next command:
`cmake .. -GXcode -DBUILD_EDITOR_COCOSTUDIO:BOOL=OFF -DBUILD_EDITO

[2019-07-31 18:50] sgosztyla opened #20000 "BAD_ACCESS Error caused by BatchCommand and CustomCommand"
Location of the the bug:

File: CCLabel.h
Line: 1794
_batchCommands.resize(_batchNodes.size());

When a batch command vector of size > 0 is being resized to a larger vector it will copy the data to a new object and then destroy the old one. This causes BatchCommand to release object pointers in its destructor after those pointer have been copied over to a new object. Same issue applies to the cust

[2019-08-01 07:46] smilerfu opened #20003 "overlap problem on MI8"
- cocos2d-x version:3.17
- devices test on: MI 8
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. when you in the game，click the power button to lock the screen，and then after you unlock the screen and reenter the game， it will cause the overlap problem。
2. but After switching back and forth, it can return to n

[2019-08-01 08:02] Mee-gu commented on #19997
@OlehKulykov It's strange, it seems there is still a memory leak issue when I embed the render loop within an autorelease pool block:
![image](https://user-images.githubusercontent.com/29719737/62276044-c45b4580-b475-11e9-9fca-6bf7c54d6da2.png)
And it is seems still related to drawable?

[2019-08-01 09:34] dzj0821 opened #20004 "Why sprite always return a new spriteframe when _spriteframe is nullptr?"
- cocos2d-x version: 3.17
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCSprite.cpp#L1646
[code]
If i want to modify the SpriteFrame, it dosn't work on sprite.
Maybe it should be like this?
[code]
If i'm wrong, i hope i can know the reason. thanks.

[2019-08-01 10:46] imtrobin commented on #19456
Fixed

[2019-08-01 10:46] #19456 closed, assigned to nobody

[2019-08-01 10:57] imtrobin opened #20005 "onEnterTransitionDidFinish not always called"
- cocos2d-x version: 3.17.2
- devices test on: Few phones
- developing environments
   - NDK version: 20

Steps to Reproduce:

1.  I override onExitTransitionDidStart, onEnterTransitionDidFinish, OnEnter, OnExit in the class, and call a transition like so

Director::getInstance ()->replaceScene (TransitionFade::create (0.5f, DestScene, Color3B (0, 255, 255)));

2.  It works fine, but on some andro

[2019-08-01 12:14] OlehKulykov commented on #19997
Hi @Mee-gu , Not cool man, not cool!
Please use at least metal documentation or apple's sample code or google.
Let me help you: https://www.raywenderlich.com/7475-metal-tutorial-getting-started
Check step #1 "Creating a Display Link" then step #2 "Creating a Render Pass Descriptor" of the "Rendering the Triangle" tutorial part and do the same.

[2019-08-01 12:59] qinghua19870710 opened #20006 "ActionTimeline pushScene and popScene lost some Frames"
- cocos2d-x version:3.13.1
- devices test on:iphone
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:2015
   - browser type and version:

Steps to Reproduce:

1. ActionTimeline node call goToFrameAndPlay loop true,when use pushScene and popScene and find lost some frames.Frame in timeline is TextureFrame
2.

[2019-08-02 08:20] imtrobin commented on #20005
Sorry, it's my own bug.

[2019-08-02 08:20] #20005 closed, assigned to nobody

[2019-08-02 09:36] ghost opened #20008 "cocos2d-js VideoPlayer 无法播放url为https的网络视频（相同条件http正常播放）"
- cocos2d-x version: 3.17.2
- devices test on: 小米8/iPhone 6s
- developing environments
   - NDK version: r16b
   - Xcode version: 最新版
   - VS version: Na
   - browser type and version:Na

Steps to Reproduce:

1. 在hello world场景中添加以下代码：
        var videoNode = new ccui.VideoPlayer();
        videoNode.setURL("https://benchmark.cocos2d-x.org/cocosvideo.mp4");
        videoNode.attr({
            x: s

[2019-08-05 01:49] alexander-koval commented on #18859
Hello. I can't access to the forum http://discuss.cocos2d-x.org/. Whats wrong?

[2019-08-05 09:48] QiuleiWang opened #20013 "3.17.2 unzip don't use"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

cocos2d-x 3.17.2  win32 Vs vesion: vs2015

appdelegate add code

#ifdef MINIZIP_FROM_SYSTEM
#include <minizip/unzip.h>
#else // from our embedded sources
#include "external/unzip/unzip.h"
#endif

#define BUFFER_SIZE    8192
#d

[2019-08-07 07:24] imtrobin opened #20015 "OnCreate is fired multiple times when physical gamepad disconnects, Webview not restored"
Hi, I test on a fresh hello world project, with a webview on Android

When I plug in physical gamepad via bluetooth, when the gamepad is turned off, onCreate is called again, and webview is not restored properly

- cocos2d-x version: 3.17.2
- devices test on: Many phones
- developing environments
   - NDK version: 20c

Steps to Reproduce:

1. Connect bluetooth gamepad
2. Run app with webview on An

[2019-08-07 08:20] imtrobin opened #20016 "CCLabel systemfont Helvetica not found on Android"
I noticed on Android logcat, it will spew a lot of warning about

cocos2d: fullPathForFilename: No file found at Helvetica. Possible missing file.

I had to change the system font to point a local font in Resource folder in this format

"fonts/arial.ttf"

- cocos2d-x version: 3.17.2
- devices test on: Xiaomi RedMi

[2019-08-08 02:35] minggo opened #20017 "Update luajit to latest version"
- cocos2d-x version: 3.17.1, 3.17.2

v3.17.1 updated luajit to 2.1.0-beta3, but developers reported that it may cause random crash on arm64 devices. And latest luajit lib can fix the crash. And don't forget to update the bins in cocos console(`tools/cocos2d-console/plugins/plugin_luacompile/bin`.

[2019-08-08 02:35] minggo commented on #20017
Should update v4 too.

[2019-08-08 04:43] imtrobin commented on #19678
I added a forum post with video/apk to demonstrate bug

https://discuss.cocos2d-x.org/t/bug-when-bluetooth-controller-connects-editbox-disappear/47356

[2019-08-08 09:25] ChinaJoy88 opened #20018 "GB2312编码格式TTF显示异常"
- cocos2d-x version:3.17.2
- devices test on:iphone7plus
- developing environments
   - NDK version:
   - Xcode version:10.2.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. 可以下载个微软简中圆字体调用就会出现

[2019-08-10 06:56] cx-github opened #20024 "when Sprite setRoation3D ,the checkVisibility is not right"
- cocos2d-x version:3.17.1
- devices test on: mac
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:
   - DESC : the top sprite , checkVisibility return the wrong value
Steps to Reproduce:
[code]
![image](https://user-images.githubusercontent.com/6309189/62818551-484eb500-bb7b-11e9-8343-6151d2b3fc7c.png)

# test sprite
![pic_war_map_a_00

[2019-08-10 06:56] cx-github commented on #20024
@minggo   @JohnCoconut

[2019-08-13 03:51] Gslullaby opened #20026 "Android Platform Cocos2dxRenderer 初始化时序问题"
- cocos2d-x version:3.17.2
- devices test on:Android Platform
- developing environments
   - NDK version:20.0.5594570
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

在启动Cocos2dxActivity时由于GLSurfaceView异步初始化，会导致activity的onResume先于GLSurfaceView的onSurfaceCreated执行，进而导致Cocos2dxRenderer的nativeInit函数会在nativeResume之后执行，就会导致Java_org_cocos2dx_lib_Cocos2dxRenderer_n

[2019-08-13 09:25] phicore commented on #19901
Not interesting the core developpers it seems...

[2019-08-13 12:47] baiyangzuoshu opened #20030 "cocos2d-x 3.15 使用websocket在IOS真机崩溃"
- cocos2d-x version:3.15
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:10.2.1
   - VS version:
   - browser type and version:

![image](https://user-images.githubusercontent.com/18391188/62942753-8c57e900-be0b-11e9-99f0-3469948d3a04.png)

[2019-08-14 08:35] JohnCoconut commented on #20024
On the first look, I guess it has something to do with `depth`,

[code]

If we change the `x` value gradually from -20 to -25, we can see the dark area grows.

I will investigate more in the following days.

[2019-08-14 12:41] DVDos commented on #13773
For my projects I can confirm this crash in 3.17.2. The STR is to simply kill game in iOS, i.e.
- while in game press home to go to main screen
- press home twice to show previous apps
- swipe your game up to shut it down

Game crashes during shutdown. From what I see the problem is that there is no terminate handler in cocos. What is happening:
- main loop exits
- static variables are being destr

[2019-08-14 15:24] banrenma opened #20033 "cocos3.17.2 android crash"
- cocos2d-x version:3.17.2
- devices test on:
- developing environments
   - NDK version:android-ndk-r16b
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

08-14 23:19:11.073 4144-4173/org.cocos2dx.ManaAfkClient D/cocos2d-x debug info: error: 0x500  uniformName: u_alpha

    --------- beginning of crash
08-14 23:19:11.073 4144-4173/org.cocos2dx.ManaAfkClient

[2019-08-15 02:05] Mee-gu commented on #19907
fixed in [19998](https://github.com/cocos2d/cocos2d-x/pull/19998)

[2019-08-15 02:06] #19907 closed, assigned to nobody

[2019-08-15 02:08] raz0r007 opened #20034 "TMXTiledMap not supports Tiled 1.2"
- cocos2d-x version: 3.17
- devices test on: iPhone

The last version of cocos2d-x C++ not supports maps created in the last version of the tool Tiled (1.2). I mean, the cocos not supports .tsx files. ("tsx" files are a collection of tiles/images in only 1 file).

Currently is very tedious design a map.
Because of the framework not supports .tsx files, we need to add  each png in the map separatel

[2019-08-15 02:13] Mee-gu commented on #19879
[V4 tutorials](https://github.com/cocos2d/cocos2d-x-docs/pull/243)
[V4 basic usage](https://github.com/cocos2d/cocos2d-x-docs/pull/238)

[2019-08-15 02:13] #19879 closed, assigned to Mee-gu

[2019-08-15 02:17] Mee-gu commented on #19635
fixed in [19998](https://github.com/cocos2d/cocos2d-x/pull/19998)

[2019-08-15 02:17] #19635 closed, assigned to Mee-gu

[2019-08-15 02:23] Mee-gu commented on #19316
fixed in [19998](https://github.com/cocos2d/cocos2d-x/pull/19998)

[2019-08-15 02:23] #19316 closed, assigned to Mee-gu

[2019-08-15 02:29] Mee-gu commented on #19628
fixed at [19818](https://github.com/cocos2d/cocos2d-x/pull/19818)

[2019-08-15 02:29] #19628 closed, assigned to Mee-gu

[2019-08-15 02:39] Mee-gu opened #20035 "Supporting Simulator in a Metal App"
It required Mac is running macOS 10.15 or later, and running Xcode 11 or later.

[2019-08-15 02:43] PatriceJiang commented on #20030
Can you please describe how to reproduce it?

[2019-08-15 02:51] #20030 closed, assigned to nobody

[2019-08-15 08:48] banrenma commented on #20033
![image](https://user-images.githubusercontent.com/7576010/63083767-25a60d00-bf7c-11e9-9fc6-175993769db3.png)
我在link这里 一行， 可以正常运行
但是还是会有很多gl错误
08-15 16:47:44.275 5662-5693/org.cocos2dx.ManaAfkClient D/cocos2d-x debug info: OpenGL error 0x0500 in /Users/nie/work/ManaAfkClient/ManaAfkClient/frameworks/runtime-src/proj.android/../../cocos2d-x/cocos/renderer/CCGLProgram.cpp link 611
08-15 16:47:44.280

[2019-08-15 08:50] #20033 closed, assigned to nobody

[2019-08-15 09:46] slackmoehrle commented on #20034
This forum thread provides more details: https://discuss.cocos2d-x.org/t/tiled-map-rendering-problem/47383/

It also seems that more users are expecting __.tsx__ support. @minggo can you ask a team member to evaluate this?

[2019-08-15 10:49] cx-github commented on #20024
we make 3D big map, when move map and setPosition(x,y) , checkVisibility is also not right

[2019-08-15 14:56] yangyp-yes opened #20037 "Android XMLHTTPRequest Crash when The server return 200(no have OK)"
- cocos2d-x version: 3.17.2 js
- devices test on: Android

Steps to Reproduce:

1.  use the server tomcat 8.5 and above and run a simple http service
2. New a Cocos2d-js project and write  a simple xml method,Get or Post
3. Run on android and it will crash
## why?
tomcat , only Retrun HTTP/1.1 200  ，when C++ code to parse 200 and OK but it don't have  and  so exception

It's in `frameworks/cocos2d

[2019-08-15 15:34] JohnCoconut opened #20038 "C++ forbids converting a string constant to ‘char*’"
- cocos2d-x version: v4

Here is the warnings when compiling v4 branch.

[code]

Change the function parameter from `char*` to `const char*` fix the problem.

[2019-08-16 07:30] #20038 closed, assigned to nobody

[2019-08-16 08:32] minggo commented on #20034
we make take a look after releasing v4.

[2019-08-16 17:48] crazyhappygame opened #20044 "V4 - remove tiff file format"
- cocos2d-x version: v4
Why:
1. No one use tiff for game resources
2. Tiff source code is not supported
3. It is very hard to build tiff
4. It increases cocos2d-x binary size

[2019-08-16 17:51] crazyhappygame commented on #20044
@minggo could you remove tiff for v4?

[2019-08-18 01:47] gestern commented on #20016
@imbahom You can use Comic Sans for this.

[2019-08-18 08:42] imtrobin commented on #20016
This is the _systemfont defined in cocos2dx  CCLabel.cpp line 486 and CCControlButton.cpp line 68, not my code.

[2019-08-19 10:00] minggo commented on #20044
I think it is reasonable.

[2019-08-20 02:15] minggo commented on #20044
I am not sure of it.

[2019-08-20 02:31] minggo commented on #20044
The [topic](https://discuss.cocos2d-x.org/t/why-does-cocos2d-x-support-tiff-files/13569) shows that tiff supporting is needed by .plist file, but i don't find any .plist uses tiff in cpp-tests.

[2019-08-20 05:10] crazyhappygame commented on #20044
I see date 2012-05-16. Maybe 7 years ago that was true...
But I think that now no one use tiff format.
Maybe we can ask about that on forum?

[2019-08-20 06:03] minggo commented on #20044
I don't remember any developer report issues related with tiff, it seems nobody uses it, so i think it is ok to remove it.

[2019-08-20 07:16] minggo commented on #20044
fixed in https://github.com/cocos2d/cocos2d-x/pull/20047

[2019-08-20 07:40] crazyhappygame commented on #20044
Thank you!

[2019-08-20 08:48] wulv1985 opened #20050 "ccui.TextField can't input multistage text (like chinese) in ios 13 beta7"
- cocos2d-x version: 3.17.2 (lua)
- devices test on: iphone 6sp
- developing environments
   - NDK version:
   - Xcode version:  11.0（beta）/ 10.1  (both has this problem)
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.compile 3.17.2 lua test project
2.in the 69th test WebViewTest, there is a textfield which can input the url address. if the target devices is under ios13, w

[2019-08-20 10:56] ChinaJoy88 commented on #20013
编译时宏定义重复了，将ioapi.h和unzip.h里面修改为即可解决：
#include "platform/CCPlatformConfig.h"
// #define CC_DLL

[2019-08-20 11:14] QiuleiWang commented on #20013
谢谢，我试试

[2019-08-20 11:14] #20013 closed, assigned to nobody

[2019-08-21 11:04] wulv1985 commented on #20050
@minggo

[2019-08-22 06:15] zzyAZU opened #20057 "luajit beta version have gc crash bugs on Android"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

luajit should use LuaJIT 2.0.5 stable version beta version have gc crash bugs

![image](https://user-images.githubusercontent.com/5827910/63490329-0280dd80-c4e7-11e9-9710-0a4d8fe78188.png)

![image](https://user-images.githubusercontent.com/582791

[2019-08-22 06:24] PatriceJiang commented on #20057
Can you please tell which version of cocos2d-x you are using?

[2019-08-22 06:25] #20017 closed, assigned to PatriceJiang

[2019-08-22 07:29] zzyAZU commented on #20057
3.17

[2019-08-22 07:30] zzyAZU commented on #20057
LUAJIT_VERSION		"LuaJIT 2.1.0-beta2"

[2019-08-22 07:31] zzyAZU commented on #20057
3.17.2 luajit have more bugs on android arm64-v8a platforms

[2019-08-22 08:24] PatriceJiang commented on #20057
We have recently updated luajit to fix https://forum.cocos.com/t/luajit-android-arm64/81417 and we have not received other luajit bugs for now.  Could you please describe the issue you met?

[2019-08-22 08:25] PatriceJiang commented on #20057
And have you try LuaJIT 2.0.5 on arm64,  it is stable?

[2019-08-22 08:33] zzyAZU commented on #20057
i don't know how to compile luajit

so i haven't tried it yet

![image](https://user-images.githubusercontent.com/5827910/63499386-5a750f80-c4fa-11e9-9f08-84985f9f74c3.png)

due to googleplay request, any app on GooglePlay should support arm64-v8a

[2019-08-22 08:50] PatriceJiang commented on #20057
According to https://github.com/LuaJIT/LuaJIT/blob/v2.1/doc/changes.html, arm64 support was introduced in LuaJIT 2.1. I am not sure if 2.0.5 works with arm64.
You can try to check out https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/365 https://github.com/cocos2d/cocos2d-console/pull/461 to update luajit. And test if the issue still exists.

[2019-08-22 08:50] zzyAZU commented on #20057
用中文解释下，目前用的luajit 版本是LuaJIT 2.1.0-beta2， 这个也很稳定，自己测是测不出崩溃的，截图的崩溃traceback 是线上的数据(人多)， 主要是64位的报错，当然也不是很多崩溃率大概是 0.4%，用同样引擎的另外一个项目(没有64位)要高出 0.2% 个点左右，然后官网说 2.0.5 是稳定版本， 你们都commit 到主分支使用的 external 库 就不要用别人的 beta版本吧， 毕竟很多关心你们的细节实现的开发人员都是跟商业项目挂钩的

[2019-08-22 08:52] zzyAZU commented on #20057
ok i'll try thanks

[2019-08-23 06:31] Mee-gu commented on #20044
@crazyhappygame I think TIFF can't be removed because it will be used in Particles since its texture image data was specified in the corresponding plist file.

[2019-08-23 09:14] minggo commented on #20044
So it seems we can not remove TIFF, as particles may use the png data in .plist files?

[2019-08-23 09:16] minggo commented on #20044
We can change to external png file without using the raw data in .plist file, but it will break compatibility?

[2019-08-23 09:22] Mee-gu commented on #20044
Yes.

May need some test?

[2019-08-23 09:39] crazyhappygame commented on #20044
@Mee-gu I am sorry could you explain it?
TIFF image file format can be used for game resources and probably also in particles.
But my point is that one use TIFF as image format now. Mostly png, jpeg is used

[2019-08-23 09:51] Mee-gu commented on #20044
@crazyhappygame you are right, from the search result of TIFF on the [forum](https://discuss.cocos2d-x.org/search?q=Tiff) seems TIFF rarely been used. Maybe we can change to such as png instead.

[2019-08-24 16:35] blockspacer opened #20059 "cling based C++ as scripting language / hot code reload"
cling based C++ as scripting language / hot code reload
Why? Able to run C++ script in runtime or compile it for max speed ( as in example https://github.com/derofim/cling-cmake )
Also: May be used to improve modules compile time

[2019-08-26 08:44] wubuduan opened #20062 "cocos2dx ios audioplayer::rotatebufferthread crash"
- cocos2d-x version: 3.13
- audio模块：升级到3.17.2
- devices test on: iphone6/iphoneSE/iphone7/iphone8/iphoneX/iphoneXR
- developing environments
 - Xcode version: 10.2.1(10E1001)
Steps to Reproduce:
1. 本地很难重现此问题
2. bugly后台统计到了10%的用户发生此崩溃。[crashLog.txt](https://github.com/cocos2d/cocos2d-x/files/3540243/crashLog.txt)
3. 根据其他帖子提供的信息，我们尝试修改过PCMDATA_CACHEMAXSIZE的值到3M，拿给线上玩家测试，问题还是存在的。参考的帖子地址 https://githu

[2019-08-26 08:46] wubuduan commented on #20062
补充：我们是一款乙女avg游戏，游戏内会播放大量的音频，音频的大小也比较大，bgm会在1M-3M之间。会频繁的触发播放和停止音频的操作。

[2019-08-26 09:11] PatriceJiang commented on #20062
I ran the test code added in https://github.com/cocos2d/cocos2d-x/pull/18865, it does not crash.
It is not sure that if this is the real reason for the crash.

[2019-08-26 09:19] PatriceJiang commented on #20062
Can you run the [test code](https://github.com/drelaptop/cocos2d-x/blob/bb06edbce92b1df298b3901b1a803c97400ab800/tests/cpp-tests/Classes/NewAudioEngineTest/NewAudioEngineTest.cpp#L656) in your codebase? Since your code is customized, I need to confirm if play/stop would cause a crash in your project.  @wubuduan

[2019-08-26 09:23] wubuduan commented on #20062
Ok,we will try the test code, to confirm if play/stop would cause a crash

[2019-08-26 10:17] wubuduan commented on #20062
@PatriceJiang We test  in our codebase ,frequently play/stop music,  running about 30 minutes on iphone7Plus, it does not crash.

[2019-08-27 07:32] PatriceJiang commented on #20062
I tried to reproduce the crash and made no progress for now. If you find anything new please let me know. @wubuduan

[2019-08-27 08:39] wubuduan commented on #20062
@PatriceJiang Many thanks, we are trying to reproduce the crash too. When we have new progress, I will tell you.

[2019-08-29 09:14] MrCapone commented on #19835
Check #18390

[2019-08-30 01:23] minggo commented on #20044
@crazyhappygame we can not make sure that TIFF is not used by developers. It will break compatibility as some of cpp-tests use TIFF, and developers may use it too.

[2019-08-30 01:29] minggo commented on #20044
I created [a ticket](https://discuss.cocos2d-x.org/t/can-we-remove-tiff-in-v4/47538) in forum.

[2019-08-30 06:29] crazyhappygame commented on #20044
@miggo ticket in forum - I see - it always better to double check.

"as some of cpp-tests use TIFF" - BTW I checked cpp-tests and I do not see tiff usage, tiff files. Could you send me link where tiff is used in cpp-tests?

[2019-08-30 06:47] Mee-gu commented on #20044
@crazyhappygame As i know, both camera3D test and particle test will fetch TIFF image data from **textureImageData** section in plist file.  An easier way to know which test will use TIFF format is to put a breakpoint in the function **isTiff** in **CCImage.cpp**

[2019-08-30 06:53] crazyhappygame commented on #20044
I understand that - but to fetch tiff by camera3D test and particle test you have to have tiff images in resources of cpp-tests. Is it correct?

Currently I do not see tiff files in cpp-tests resources.

[2019-08-30 06:57] BoyLei opened #20072 "As build的时候，PROP_BUILD_TOOLS_VERSION 没有设置"
- cocos2d-x version:3.1.7
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. 拉最新的cocos2dx代码，cocos new -l cpp helloworld
2. 用 Android Studio 打开proj.android ，as build后 报错，PROP_BUILD_TOOLS_VERSION 没有设置
![image](https://user-images.githubusercontent.com/23691195/63999587-65512500-cb36-11e9-80a0-fad

[2019-08-30 07:08] Mee-gu commented on #20044
yep, there is not any *.tif resources in cpp-tests. But the TIFF image data exist in a form of string in plist. As you can see `SmallSun.plist` in `Resources/Particles/`:
[code]
the value the `textureImageData` is right the TIFF data.

[2019-08-30 07:14] Mee-gu commented on #20044
I‘ll try to find an alternative to substitute TIFF data used in plist.

[2019-08-30 07:50] crazyhappygame commented on #20044
Thank you! Now it is clear for me.

There is 33 plist files with textureImageData some of them have gz tiff.

I think that we have to change tiff to png everywhere in plist.

[2019-08-30 07:59] Mee-gu commented on #20044
sure, i'll work around it when i have time.

[2019-08-30 08:01] crazyhappygame commented on #20044
Thank you!

[2019-08-30 15:26] phicore commented on #19901
Could it be possible to have an answer to this issue or at least a comment

[2019-09-02 05:39] Bilalmirza opened #20076 "system fonts are not working on catalina"
- cocos2d-x version: 3.17.1
- devices test on: macbook 2018
- developing environments
   - Xcode version: 10.3

Steps to Reproduce:

1.  make a new project (cocos new test -l cpp)
2. Run mac build
3. Use label::createWithSystemFont
4. https://www.dropbox.com/s/92e6a9glfw7wcom/Screenshot%202019-09-02%2010.26.31.png?dl=0
5. font is distorted

[2019-09-02 07:56] fndppx opened #20078 "ios 13 MPMoviePlayerController issues"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

MPMoviePlayerController is no longer available. Use AVPlayerViewController in AVKit. when do fixed?

Steps to Reproduce:

1.
2.

[2019-09-02 12:34] fndppx commented on #20078
![image](https://user-images.githubusercontent.com/7971897/64114946-f6d3c780-cdc0-11e9-8d69-ba0fd8765292.png)
'MPMoviePlayerController is no longer available. Use AVPlayerViewController in AVKit.' ， if not fixed , app will crash

[2019-09-03 07:31] minggo commented on #20078
fixed in https://github.com/cocos2d/cocos2d-x/pull/20085

[2019-09-03 07:57] minggo commented on #20076
I tried `cpp-empty-test` on catalina(10.15 beta), it works correctly.
My environment:
- macOS Catalina(10.15 beta 19A646d)
- MBP Retina 15-inch Early 2013
- Xcode 10.3

[2019-09-03 07:58] minggo commented on #20076
I use latest engine codes.

[2019-09-03 08:00] fndppx commented on #20078
haha, thank you

[2019-09-03 08:14] Bilalmirza commented on #20076
I am redownloading everything to test

[2019-09-03 09:00] Bilalmirza commented on #20076
Are you trying ccp-empty-test Mac?

[2019-09-03 09:16] Bilalmirza commented on #20076
System fonts works fine on iOS. It fails on MacOS

[2019-09-03 09:18] Bilalmirza commented on #20076
https://www.dropbox.com/s/gotx8mj0by1kcu6/screen%20recording%202019-09-03%20at%202.14.54%20pm.mov?dl=0

[2019-09-03 09:28] minggo commented on #20076
Yep, i tried cpp-empty-test Mac.

[2019-09-03 09:30] minggo commented on #20076
The video showed that you used `cpp-tests`? It seems ttf font can not work. I will try it too.

[2019-09-03 09:35] minggo commented on #20076
I tried the same test case as you, and all are correct.

[2019-09-03 09:39] Bilalmirza commented on #20076
https://www.dropbox.com/s/but9b77xzc2xiim/Screen%20Recording%202019-09-03%20at%202.34.53%20PM.mov?dl=0

Its not working for me. Can you suggest what I should try.
MacOs Catalina : 10.15 Beta (19A546d)
Xcode : 10.3

[2019-09-03 09:40] Bilalmirza commented on #20076
Also i didn't pull from git... I downloaded from Website(https://cocos2d-x.org/download) 3.17.2

[2019-09-03 09:46] minggo commented on #20076
May be you can try to clone the codes to have a try.

[2019-09-03 09:47] minggo commented on #20076
If it works, then try to find what modification make it work.

[2019-09-03 11:30] pandaGames commented on #19491
why close this issue?it is still not work on 3.17.2

[2019-09-04 02:20] Mee-gu opened #20093 "fix warning"
fix warning in v4, such as size_t conversion.

[2019-09-04 08:41] #20078 closed, assigned to nobody

[2019-09-04 11:38] crazyhappygame commented on #20044
Tiff files were converted

[2019-09-04 11:38] #20044 closed, assigned to nobody

[2019-09-05 01:35] minggo commented on #20076
@Bilalmirza any progress?

[2019-09-05 05:53] Bilalmirza commented on #20076
@minggo  Not really but something really weird is happening.

In macbook pro 2018 & 2017 this bug occurs.
I also managed to test it on 2014 macbook pro and everything works. I'm guessing the problem is at apples end, But I still need to fix this so build doesn't get rejected

[2019-09-05 06:03] Bilalmirza commented on #20076
For all languages I'm using ttf which works completely fine. I need to use system font for arabic because only system fonts support joining letters in arabic. My ios build was approved since in iOS the system font works fine as well.

[2019-09-05 09:11] Mee-gu opened #20104 "Precision of uniform should be identical in android 10"
since vs and fs may both use the same uniforms, so should keep identical precision qualifier or it will be link fail on android 10.

[2019-09-05 12:39] Bilalmirza commented on #20076
v4 branch has the same result.
Is it possible for you to test it on a newer mac?

[2019-09-05 15:37] bolino opened #20108 "Android: WebView in software mode when setting transparent background"
- cocos2d-x version: 3.17
- devices test on: Samsung Galaxy S9, Samsung Galaxy S6

Hi, I noticed that when calling `webView->setBackgroundTransparent()` the performance of the webview is trashed on android, easily noticeable when scrolling.
Upon further investigation I found the following code:
[code]

Setting the layer to software mode is the culprit, obviously, since the webview has to be render

[2019-09-06 11:38] Volodar opened #20111 "iOS: Use cocoapods with generated xcode project by cmake"
- cocos2d-x version: 3.17.2
- devices test on: iPhone
- developing environments
   - Xcode version: Version 10.3 (10G8)

How to use cocoapods with cmake project on iOS?

[2019-09-07 11:23] crazyhappygame commented on #20111
My answer is do not use cocoapods use libs or frameworks :)
Usually cocoapods contains framework or build some framework. When you have framework you can link framework with:
[code]

[2019-09-09 06:09] vince-styling opened #20112 "doesn't support cygwin in windows 10"
- cocos2d-x version : cocos2d-x-3.17.2
- devices test on : windows 10

`setup.py` should support cygwin as :
[code]

i tested on my environments describe on first.

[2019-09-09 06:39] Bilalmirza commented on #20076
@minggo I'm really sorry for spamming. But I'm stuck and my build got rejected

So far this is reproducible on:
Macbook 2017+  (haven't tested 2016)

cocos2d-x versions:
3.17.1
3.17.2
4.0 rc

If you have a monitor attached and if you go in displays->arrangement and set the monitor as the primary screen everything also starts working... It has to do something with the new macbooks retina display. B

[2019-09-10 14:35] Anywhere-Music-Player opened #20113 "Qt editor for v4?"
Reading [this](https://retro.moe/2017/04/16/cocos2d-in-a-glimpse/) article from one of the Cocos2D creators - Ricardo Quesada, I think about his words:

Cocos2d-x already tried to make it. Please give a like if you think this is a cool idea to have such editor and work on C++ only side :)

[2019-09-11 01:40] #19881 closed, assigned to PatriceJiang

[2019-09-11 01:40] #19878 closed, assigned to nobody

[2019-09-11 02:17] slackmoehrle commented on #20076
I can probably upgrade one of my laptops to Catalina over this coming weekend since it is a holiday.

[2019-09-11 03:04] minggo commented on #20112
Indeed, we don't test cygwin, and we can not make sure it works.

[2019-09-11 05:39] minggo commented on #20076
Ok, i will use MBP 2018 to have a test.

[2019-09-11 07:05] minggo commented on #20076
My MBP 2018 can not install Catalina. I don't know why, i tried many times.
<img width="798" alt="Screen Shot 2019-09-11 at 3 03 30 PM" src="https://user-images.githubusercontent.com/488203/64675336-848c7280-d4a5-11e9-8ef4-c3bcf2bc853c.png">

[2019-09-11 07:24] minggo commented on #20076
After restart, it is installing now.

[2019-09-11 12:28] wonyee commented on #17924
@AIGRIND-LLC Is there a solution or work around to this issue now?

[2019-09-11 13:27] minggo commented on #20076
@Bilalmirza i fixed it with this commit https://github.com/minggo/cocos2d-x/commit/a0b46a9754345669b418b3f6f173b678fecacb2e. You can have a try. I will send PR after do more testing. I have to test if it work on before macOS Catalina.

After installing macOS Catalina, i can not use Astrill(it is a 32 bit system), so i can not use VPN now. Then i can not use google services now :(

[2019-09-11 13:40] pwang08 commented on #18597
Hi, after update the PR, the crashes have gone, but sometimes our game freezes.

The main thread go into a dead loop when calling AudioPlayer::destroy()

`
while (bufferProcessed < QUEUEBUFFER_NUM)
{
    std::this_thread::sleep_for(std::chrono::milliseconds(2));
    alGetSourcei(_alSource, AL_BUFFERS_PROCESSED, &bufferProcessed);
}
`

alGetSourcei always return 0, so it's a dead loop, then the gam

[2019-09-12 03:51] minggo commented on #20076
@Bilalmirza have you tried it?

[2019-09-12 05:29] Bilalmirza commented on #20076
@minggo hello, I just came into office. I'm gonna try it now.
And thank you so much you are a life saver :D

[2019-09-12 05:35] Bilalmirza commented on #20076
@minggo its working fine for me ... I'll get the QA team to perform tests on different device and ill report back.
Thanks again for all the trouble

[2019-09-12 07:53] Bilalmirza commented on #20076
Tested on:
macbook pro 2018  15" os : 10.15
macbook pro 2015  15" os: 10.14.4
macbook pro 2013 13" os: 10.15
Macbook Pro 2016 15" os: 10.14.6
Macbook Pro 2015 13" os: 10.14.3
iMac 2013 late os: 10.14.6

Everything working fine.

[2019-09-12 10:11] minggo commented on #20076
Thanks for the feedback, i will send a PR later.

[2019-09-12 10:29] AIGRIND-LLC commented on #17924
@minggo for example the issue can be reproduced on Lenovo TB-8704X.
@wonyee there is no common solution yet. Try to comment `super.onPause();` in `Cocos2dxGLSurfaceView::onPause()` in `cocos\platform\android\java\src\org\cocos2dx\lib\Cocos2dxGLSurfaceView.java`.

[2019-09-12 11:31] ThatUdeshUK commented on #18488
I can't build too since `libpng12-dev` is not available on Debian Buster. Installing `libpng-dev` doesn't work either.

[2019-09-13 01:38] ghost commented on #20113
I would recommend using [imgui](https://github.com/ocornut/imgui) to develop the editor.

[2019-09-13 03:39] PudyJapan opened #20116 "libluacocos2d iOS.a(lj_load.o) does not contain bitcode"
- cocos2d-x 3.17.2:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:10.2.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Try compiling with bitcode enabled
2. You get this linking error

It seems that luajit.a is not compiled with bitcode.

[2019-09-13 03:44] PudyJapan opened #20117 "I can't post to the forums"
I'm really sorry to post that here, but I tried several times to reply to the new users thread on the forums to be able to create new posts but the reply button doesn't appear on the link below for my account.

https://discuss.cocos2d-x.org/t/new-users-read-this-new-user-guidance/25673

My username is the same as github.

[2019-09-13 06:51] Anywhere-Music-Player commented on #20113
Qt is not just for cross-platform GUI, but for real WYSIWYG.
Idea is the same as was in SpriteBuilder: cocos engine renders everything inside the editor, another words it’s integrated as subproject of the editor project.

[2019-09-13 13:28] ghost commented on #19438
This pr cannot be compiled with https://github.com/cocos2d/cocos2d-x/commit/860b537b3e8b92e44b4010ba52a45f1d7213ef89.

[2019-09-13 13:38] Bilalmirza opened #20118 "App in dock doesn't work on ios13"
- cocos2d-x version: 3.17.2
- devices test on: ipad

 it doesn't work from dock anywhere.
Steps to Reproduce:
1) Launch app.
2) double tap home.
3) use dock to return to app.
4) does not respond

Video is attached.
https://www.dropbox.com/s/y1ep4m5sylo4yd0/IMG_1206.MOV?dl=0

[2019-09-13 16:09] Joilnen opened #20119 "I can't compile with cocos console command"
- cocos2d-x 3.9 and 4.0:
- devices test on: PC
please see it
https://pastebin.com/UjdY1FNR

[2019-09-14 03:14] imtrobin commented on #20108
I think for older devices, it might be a bug

https://stackoverflow.com/questions/12806094/android-webview-flicker-bug-while-animating-view-on-device

[2019-09-14 23:52] stevetranby commented on #20118
Have you looked to see if there's any noticeably relevant Console messages.
(prob. not, but good first step since harder to debug while app not 'running')

[2019-09-15 13:21] Xrysnow commented on #19835
@minggo I really need win64 version cocos, will it be formally supported in 4.0?

[2019-09-16 01:33] minggo commented on #20119
From the link it seems it is nothing about cocos.

[2019-09-16 01:38] minggo commented on #20117
@slackmoehrle could you please take a look?

[2019-09-16 01:38] #20117 closed, assigned to nobody

[2019-09-16 02:30] wubuduan commented on #20062
We modified the value of PCMDATA_CACHEMAXSIZE to 100M and gave it to online players for testing. The current problem did not appear again. @PatriceJiang

[2019-09-16 02:57] Joilnen commented on #20119
I make a project with this command "cocos new -p com.dmood.risk -d ~ -l cpp Risk" and next "cocos compile -p linux" and got that output in ~/Risk/linux-build/CMakeFiles/CMakeError.log
Seems it is generating -lpthread and not -pthread in cocos new linux project

[2019-09-16 03:16] QuiQiJingFeng opened #20121 "cocos2dx lua class方法bug"
cocos所有版本
![1](https://user-images.githubusercontent.com/12683327/64932660-24197e80-d873-11e9-806e-a69ada243b42.png)

线上有个报错，某个类里面的数据不存在，原因就是由于上面的self.super:ctor的写法造成的，
因为cocos的class只是模拟的类，当A和B继承C的时候,也就是他们公用一个C表，而不是各有一份C,这就造成了
当公用父类的时候会造成数据的相互覆盖问题

改成self.super.(self,...)又会出现死循环的问题

[2019-09-16 03:17] QuiQiJingFeng commented on #20121
![2](https://user-images.githubusercontent.com/12683327/64932739-8ffbe700-d873-11e9-8f91-15cfa94540fd.png)

[2019-09-16 03:18] QuiQiJingFeng commented on #20121
最后解决办法是改成了parent.ctor(self,...)

[2019-09-16 03:19] QuiQiJingFeng commented on #20121
还有一种是改class，但是有一些依赖class结构的地方不确定，所以没有改，比如iskindof就依赖于class现有的结构
![4](https://user-images.githubusercontent.com/12683327/64932768-d94c3680-d873-11e9-9081-8efe079cf396.png)

[2019-09-16 06:35] Bilalmirza commented on #20118
good idea, This is what I'm getting

default	11:31:23.069709+0500	SpringBoard	Icon tapped: <private>
default	11:31:23.070605+0500	SpringBoard	Invalid property values passed in for event: iconTapped, values: <private>, registeredProperties: <private>
default	11:31:23.070719+0500	SpringBoard	Invalid property values passed in for event: iconTappedv2, values: <private>, registeredProperties: <private>

[2019-09-16 08:52] zzyAZU commented on #20057
@PatriceJiang
![image](https://user-images.githubusercontent.com/5827910/64945039-52628280-d8a2-11e9-8901-ccd6b1beaca8.png)
崩溃相对以前 android上能降低不少，不过还是存在，期待出稳定版

[2019-09-16 09:28] #19835 closed, assigned to nobody

[2019-09-16 18:11] PudyJapan commented on #20117
![image](https://user-images.githubusercontent.com/13039210/64982283-1b9a6580-d8be-11e9-9747-3be314d98ac3.png)
@minggo
@slackmoehrle
still, no reply button :(

[2019-09-16 21:32] stevetranby commented on #20118
?? looks like either Apple bug or you need to adopt something for iOS 13. I know Screen instead of Application is a new thing (though more for document apps). Unfortunately, I've stayed away from iOS 13 and Catalina this round, so I'm waiting for stable release before bothering to upgrade (and to continue supporting iOS 8).

[2019-09-17 02:12] minggo commented on #20076
fixed in https://github.com/cocos2d/cocos2d-x/pull/20124

[2019-09-17 02:12] #20076 closed, assigned to nobody

[2019-09-17 03:24] minggo commented on #20108
@bolino i don't know why need to set layer, and @imtrobin 's comment seems reasonable. Is it because it uses reflection here that affect the performance? If so, i think can remove reflection here since supporting Android 10+ is enough.

[2019-09-17 10:11] mars3142 opened #20129 "argument value 10880 is outside the valid range [0, 255]"
- cocos2d-x version: 3.17.2
- developing environments
   - Xcode version: 11.0 (11A420a)

Steps to Reproduce:

1. compile macOS version gets **argument value 10880 is outside the valid range [0, 255]** in btVector3.h in line 330.

[2019-09-17 10:20] AIGRIND-LLC commented on #20003
I can only confirm the same issue.

[2019-09-17 18:00] bolino commented on #20108
From @imtrobin's link it seems they are actually animating/moving the WebView itself, this is not exactly my case. What is animated is the web page being displayed (just scrolling when using swipe) and this is when the performance really drops.

@minggo great! I reported it since I couldn't understand why software mode was being forced. As I said in my original post the performance drop is most li

[2019-09-18 02:42] stevetranby commented on #20118
To rule out Apple bug you could create a new iOS app and a fresh new Cocos2d game and confirm the bug is Apple's or Cocos2d's, or that it's your specific game.

[2019-09-18 02:53] minggo commented on #20108
@bolino got it, may be we should delete it. Have you found any issue after deleting it?

[2019-09-18 05:48] Bilalmirza commented on #20118
yep... thats the video of a fresh app attached in the first comment.
@stevetranby Apple actually approved my game with this bug. Its now available on apple arcade :D

[2019-09-19 01:25] stevetranby commented on #20118
Wait a sec, Apple Arcade :D
That's awesome, congrats!

[2019-09-19 13:47] bolino commented on #20108
@minggo tried it on both Samsung Galaxy S9 and Samsung Galaxy S6 and couldn't notice anything wrong.
We just released an update for our game using this code and haven't got any reports regarding it, so far it seems to be working okay.

[2019-09-19 15:23] #20119 closed, assigned to nobody

[2019-09-20 01:45] Joilnen opened #20136 "cocos compile -p linux works but show this at the end"
- cocos2d-x version: 3.9
- developing environments
  -linux archlinux
it is linking but not moving to /bin

Steps to Reproduce:
cocos compile -p linux
[100%] Linking CXX executable bin/MyGame
[100%] Built target MyGame
Traceback (most recent call last):
File "/home/joilnen/cocos2d-x_devel/cocos2d-x-3.9/tools/cocos2d-console/bin/cocos.py", line 1081, in
run_plugin(command, argv, plugins)
File "/hom

[2019-09-20 03:26] #20136 closed, assigned to nobody

[2019-09-20 04:15] Joilnen opened #20140 "freetype.a doesn't links"
- cocos2d-x version: 3.17.2
- developing environments
   linux
* it links with freetype compiled at the machine
Steps to Reproduce:
cocos compile -p linux
...

[100%] Linking CXX executable bin/Risk/Risk
/usr/bin/ld: ../cocos2d/external/freetype2/prebuilt/linux/64-bit/libfreetype.a(ftbase.linux64.o): relocation R_X86_64_32 against `.rodata' can not be used when making a PIE object; recompile with

[2019-09-20 04:40] PatriceJiang commented on #20140
We have recompiled the lib, please update external libraries to  https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/releases/tag/v3-deps-163

[2019-09-20 04:47] Joilnen commented on #20140
but download-deps.py is getting v3-deps-158.zip changed address ?

[2019-09-20 05:44] PatriceJiang commented on #20140
You can edit external/config.json and rerun download-deps.py. Or simply download https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/blob/v3/freetype2/prebuilt/linux/64-bit/libfreetype.a and replace it.

[2019-09-20 07:07] rh101 opened #20142 "RenderTexture internal Texture2D has incorrect premultiplied alpha flag"
- cocos2d-x version: 3.17.2

There is a problem with premultiplied alpha when using a RenderTexture, since it creates a Texture2D internally.  The problem with this is that the instance of Texture2D is created with `_hasPremultipliedAlpha` set to false, so any call to `RenderTexture->getSprite()->getTexture()->hasPremultipliedAlpha()` will always return false.

The sprite inside the RenderTexture

[2019-09-20 07:49] #16113 closed, assigned to ricardoquesada

[2019-09-20 08:56] vperilla commented on #11210
At this time Python 2.7 will retire in 3 months, I think you should consider migrate to python 3

[2019-09-20 09:06] minggo commented on #11210
Python 2.7 is enough to cocos2d-x since it doesn't use a lot of python code.

[2019-09-20 09:06] minggo commented on #11210
The default python shift with macOS is also python 2.7.

[2019-09-20 10:44] #20142 closed, assigned to nobody

[2019-09-20 13:13] loohoo opened #20149 "warning: don't update it again"
- cocos2d-x version: 3.17.2
- project type : cocos2d-js + win32

Steps to Reproduce:
1. edit xxx.csd on  cocos studio 3.10 normally, and export xxx.json.
2. load xxx.json with  `this.addChild(ccs.load('xxx.json').node);`
3. build and run.
4. `warning: don't update it again` comes out in the  console.

[2019-09-21 10:35] mrzhangjing commented on #20129
#define BT_SHUFFLE(x, y, z, w) (((w) << 6 | (z) << 4 | (y) << 2 | (x)) & 0xff)

[2019-09-22 13:46] dearbar commented on #20129
@mrzhangjing  Hey, Thank you for your answer. What is the meaning of add `& 0xff` ?

[2019-09-23 02:18] linyouhappy opened #20150 "android 64位 problem"
此版本不符合 Google Play 关于提供 64 位版本应用的规定
以下 APK 或 App Bundle 面向 64 位设备，但只有 32 位原生代码：1。
请向应用中添加 64 位和 32 位原生代码。您可以使用 Android App Bundle 发布格式来自动确保每种设备架构仅接收所需要的原生代码。这样可避免增加应用的总大小。

直接用新版本编译城aab，发布到谷歌play。被拒绝。说无64位。

[2019-09-23 02:29] #20150 closed, assigned to nobody

[2019-09-23 07:31] minggo opened #20151 "Use OpenAL for all platforms"
There is a topic in forum: https://discuss.cocos2d-x.org/t/about-audio-engine-of-cocos-v4/47747.

[2019-09-23 07:39] minggo commented on #20149
I think you can ignore it, and don't have resource on cocos studio related issues.

[2019-09-23 07:39] #20149 closed, assigned to nobody

[2019-09-23 07:41] minggo commented on #20118
@Bilalmirza it seems it is a bug of iOS? If so, then i will close this issue.

[2019-09-23 07:41] #20112 closed, assigned to nobody

[2019-09-23 07:42] Bilalmirza commented on #20118
@minggo rest of the apps and games work fine in ios 13. Only cocos apps have this trouble

[2019-09-23 07:46] minggo commented on #20118
K, got it. We will take a look.

[2019-09-23 07:48] minggo commented on #20108
@bolino thanks, i will send a PR to fix it.

[2019-09-23 08:08] Bilalmirza commented on #20118
This is only occurring in some ipads... il'l make a list of ipads for you.

[2019-09-23 08:11] minggo commented on #20108
fixed in https://github.com/cocos2d/cocos2d-x/pull/20152

[2019-09-23 08:11] #20108 closed, assigned to nobody

[2019-09-23 09:09] minggo commented on #20108
v4 fixed in https://github.com/cocos2d/cocos2d-x/pull/20155

[2019-09-23 14:35] halx99 commented on #20151
Great

[2019-09-23 17:16] crazyhappygame commented on #20151
Few notes about OpenAL.

1. OpenAL  is licensed as LGPL (opens sourced only for MAC/iOS)
https://github.com/cocos2d/cocos2d-x/blob/v3/docs/CODING_STYLE.md#legal-notice-and-author-line

2. OpenAL==native support for iOS/Mac only
For Android https://developer.android.com/ndk/guides/audio
below is recommended
https://github.com/google/oboe

3. LGPL == problems
We will have 3 *.so files (openal.so, mp

[2019-09-24 02:09] minggo commented on #20129
To make sure it will not exceed 255.

[2019-09-24 06:16] minggo commented on #20129
fixed in https://github.com/cocos2d/cocos2d-x/pull/20163

[2019-09-24 06:16] #20129 closed, assigned to nobody

[2019-09-24 08:30] minggo commented on #19997
fixed in https://github.com/cocos2d/cocos2d-x/pull/20131

[2019-09-24 08:30] #19997 closed, assigned to Mee-gu

[2019-09-24 08:36] #19707 closed, assigned to PatriceJiang

[2019-09-24 14:15] Anywhere-Music-Player commented on #20151
https://github.com/jarikomppa/soloud

[2019-09-24 17:25] Xrysnow commented on #20151
Some information I got:

1. [OpenAL-soft](https://github.com/kcat/openal-soft) is the most widely used OpenAL implementation. It‘s LGPL-licensed and can support all platforms we need. But on mac/ios we usually use the implementation provided by system.

2. To use OpenAL-soft on win/android/linux we just need one more dll/so file. It's easy and does not need too much work. Link to the library is pe

[2019-09-24 18:09] crazyhappygame commented on #20151
@Xrysnow

1. Mac/ios - agree OpenAL is perfect option with implementation provided by system. Best performance, compatibilty, no lgpl, no so
2. Linux - everything is better than property library fmod
3. Windows - ok
4. Android - I see couple problems
4.1. OpenAL is not officially supported.
4.2. OpenAL-soft does not support AAudio back-end - added in Android 8.0 better performance on 8.0+ devices

[2019-09-24 19:30] Gary-Ash commented on #20151
OpenAL may not be the way to go on Apple platforms:

The OpenAL framework is deprecated and remains present for compatibility purposes. Transition to AVAudioEngine for spatial audio functionality.

[2019-09-25 06:33] #19726 closed, assigned to nobody

[2019-09-25 12:32] lxhhuangjin opened #20174 "CCEAGLView:setMarkedText problem in iOS13"
- cocos2d-x version: 3.12
- devices test on: iPhone
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
input Chinese in TextField just recieve one charactor in setMarketedText , input number or English both ok.

[2019-09-25 12:39] lxhhuangjin commented on #20174
be the same question with https://github.com/cocos2d/cocos2d-x/issues/20050

[2019-09-26 03:25] mkideal opened #20175 "Why don't test https in VideoPlayer.setURL"
- cocos2d-x version: 3.17.1
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

https://github.com/cocos2d/cocos2d-x/blob/a500e7f0ea10c0d485269162022c15ab9cde9a4f/cocos/scripting/js-bindings/script/ccui/jsb_cocos2d_ui.js#L614-L623

[2019-09-26 09:46] wandeli commented on #20174
- (NSString *)textInRange:(UITextRange *)range
{
    CCLOG("textInRange");
    if (nil != markedText_) {
        return markedText_;
    }
    return @"";
}

- (UITextRange *)markedTextRange
{
    CCLOG("markedTextRange");
    if (nil != markedText_) {
        return [[[UITextRange alloc] init] autorelease];
    }
    return nil; // Nil if no marked text.
}

[2019-09-27 03:00] dream4java opened #20177 "'system' is unavailable: not available on iOS"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2019-09-27 03:30] lxhhuangjin commented on #20174
I have tried this code. The input of Chinese is ok. But when i click the screen to close IME. The IME open again. I debug this performance and find i recieved UIKeyboardWillShowNotification.

[2019-09-27 19:30] deflinhec commented on #18705
Using 3.17.2 also encounter this issue, after investigated it was caused by

Within CCParticleSystemQuad.cpp line 550 is trying to delete vertex array object which does not exist.

` if (_VAOname)`
`{`
`     glDeleteVertexArrays(1, &_VAOname);`
`     GL::bindVAO(0);`
` }`

[2019-09-27 19:51] deguilardi commented on #18705
This is awesome you found the root of this. Could you work it around?

On Fri., Sep. 27, 2019, 12:32 p.m. deflinhec, <notifications@github.com>
wrote:

[2019-09-27 20:33] deflinhec commented on #18705
iOS
- cocos2d-x: 3.17.2
- developing environments
  - Xcode11(11A420a)
- Device tested
  - iPhone7(12.4.1)
  - iPhoneXs(13.0)
  - Simulator iPhone11(13.0)

OSX
- cocos2d-x: 3.17.2
- developing environments
  - Xcode11(11A420a)
- Device tested
  - Mojave(10.14.4)

Android
- cocos2d-x: 3.17.2
- developing environments
  - Gradle 3.5.0
  - NDK r18b
- Device tested
  - Emulator Nexus 5X (API26)
  - Em

[2019-09-29 02:00] minggo commented on #18705
@deflinhec thanks.

[2019-09-29 02:00] #18705 closed, assigned to nobody

[2019-09-29 03:52] minggo commented on #20050
With latest codes, i can input Chinese on iPhone11 with iOS 13. I don't know what's the problem.

[2019-09-29 03:53] minggo commented on #20174
I don't know what's the problem, i can input Chinese characters with iPhone11(iOS 13).

[2019-09-29 04:03] lxhhuangjin commented on #20174
My iPhone X(iOS13) input Chinese in
 TextField has problem. The function named setMarkedText just received one charactor I input recently.

[2019-09-29 05:52] minggo commented on #20174
What test case did you test?

[2019-09-29 05:58] lxhhuangjin commented on #20174
Any input is ok.
eg. First i input 'w', setMarkedText  recieved 'w', then input 'd', setMarkedText  recieved 'd'. But setMarkedText  need recieve 'wd'.

[2019-09-29 06:03] minggo commented on #20174
Did you use TextFieldTTF? Please show your test case and the steps to reproduce it. Thanks.

[2019-09-29 06:14] lxhhuangjin commented on #20174
Yes. I use TextFieldTTF for input.
I want to input Chinese like "我的" on iPhone.
So i input 'wd' for the words. But the input result is not correct. The result did not change compared with the input when i open IME.
I debuged for this problem. I fond the problem is the function or setMarkedText.
I think you can reproduce this problem by any iPhone when update to iOS 13. I tried iPhoneXR and iPhoneX

[2019-09-29 06:25] minggo commented on #20174
As i said above, i tested `TextInput` and change to use `Arial`, then can input Chinese. You should check your ttf file support Chinese characters.

[2019-09-29 06:30] lxhhuangjin commented on #20174
I can input Chinese properly before i update my iPhone to iOS 13.

[2019-09-29 06:34] minggo commented on #20174
I tested on iPhone11 with iOS13.

[2019-09-29 06:39] minggo commented on #20174
I tried iPhone8 with iOS 13, can reproduce it.

[2019-09-29 06:42] lxhhuangjin commented on #20174
I tried the code of @wandeli and the problem has been resolved. But  when i close the IME and touch screen where do not have textfield, the IME opened. This is another problem. But i think his code is a correct direction for this problem.

[2019-09-29 09:29] minggo commented on #20174
It is because engine can not receive `touches end` event, but i don't know why. If don't modify `markedTextRange `, then can just input a character a time.

[2019-09-29 09:35] lxhhuangjin commented on #20174
Maybe i should modify _setMarkedText_ and concat string by myself in iOS13.

[2019-09-30 08:33] anhbng opened #20179 "Class AVAudioSession is implemented in both cocos2d and AVFoundation.framework. One of the two will be used. Which one is undefined."
- cocos2d-x version: 3.17.1
- devices test on: macosx10.15
- developing environments
   - NDK version:
   - Xcode version: 11.0
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. build mac project with cmake and run with xcode
2. Log Class AVAudioSession is implemented in both...

[2019-10-01 01:42] #20179 closed, assigned to nobody

[2019-10-01 03:47] Volodar commented on #20062
Also has this crash in production.
[issue_crash.txt](https://github.com/cocos2d/cocos2d-x/files/3674303/issue_crash.txt)
cocos2d-x-3.17.2 (1528ea01d2749b4ef65e97f79cffa6135fe13c4d)

[2019-10-02 09:45] anszom commented on #20118
This may not be very relevant to you, but I've received a report of the same bug in a Qt-based iOS app. I've found your issue by googing the error messages:

Unfortunately I don't have access to the problematic device.

[2019-10-02 20:25] wumingbo commented on #18977
me too

[2019-10-02 20:28] wumingbo commented on #19232
<img width="607" alt="C8A9C068-0957-4C8F-B214-90341BFDBF28" src="https://user-images.githubusercontent.com/5779168/66079215-39421d00-e596-11e9-90a8-76a8655d774f.png">

[2019-10-03 15:29] anhbng commented on #18713
hey, do you know why? I stuck on it too. Using Cmake to generate project and xcode shows the error

[2019-10-04 06:21] wumingbo opened #20180 "Firefox can't debug v3.17+, crashed when connected."
- cocos2d-x version: 3.17.x
- devices test on: mac/ios
- developing environments
   - NDK version:
   - Xcode version:10/11
   - VS version:
   - browser type and version:firefox 60.x

Steps to Reproduce:

1. example

v3.16 is fine, crashed on v3.17.x

[2019-10-04 08:57] qoozta commented on #20062
This is just a null pointer issue, simply add null checking in AudioPlayer.mm
line 284 while (bufferProcessed > 0 && _audioCache)
The cause of this crash is OpenAL somehow detected buffer not filling (device lag or audio interruption) then switch state to stop and cocos update will clear the streaming cache, but the above loop is still going and trying to get the buffer which is null.

Edited:
A s

[2019-10-05 08:44] MrGaoGang opened #20181 "coco2d-js can't use https"
- cocos2d-x version: cocos2d-x-3.17.2
- devices test on: android 8.0
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  i can use https request in web,but  when i use android i can't use https request.

[code]

[2019-10-05 13:58] waochi opened #20182 "cocos2d :: ZipFile :: createWithBuffer does not work properly"
- cocos2d-x version:3.17.2 ( [3f26b757b5])
- devices test on: iPhone and Android
- developing environments
   - NDK version: r16b
   - Xcode version: 11.0 and 10.3

[code]
The zipfile is in an incorrect state.

[2019-10-06 09:04] Xrysnow commented on #20151
@crazyhappygame

1. Using OpenAL-soft on Android is not a problem, it has already been used by many apps.
2. Add a new backend for OpenAL-soft is not a hard work, I think it will be done in the future.
3. LGPL will not disturb you when you use the dynamic library.
4. `libopenal.so` only takes 260KB in the apk file, which is acceptable considering its benefits.

@Gary-Ash

Yes, this is a problem, b

[2019-10-07 03:20] lydjy-035 commented on #20050
系统原声输入法不可以。你可以试试。搜狗输入法可以

[2019-10-07 14:56] nnn1590 commented on #18973
Same as Ubuntu 18.04 LTS...
[code]

[2019-10-08 06:37] wbbtcool commented on #18000
This bug will still on 3.17.1. I use schedule function delay play sound. Temporarily circumvented this problem.

[code]

[2019-10-09 01:38] minggo opened #20184 "Add docs about how to run tests, how to create and run a new project"

[2019-10-09 03:53] wandeli commented on #20174
- (void)touchesBegan:(NSSet *)touches withEvent:(UIEvent *)event
{
    for (UIGestureRecognizer* ges in [self gestureRecognizers])
    {
        [self removeGestureRecognizer:ges];
    }

add this can receive touches end even

[2019-10-09 06:57] Mee-gu opened #20186 "glfwGetMonitors get wrong counts of monitor?"
[issue descript here](https://stackoverflow.com/questions/58282344/glfwgetmonitors-get-wrong-monitor-count)

[2019-10-09 07:00] Mee-gu opened #20187 "triangle batch issue"
how to make user manager the triangle batching themselves.

[issue discuss here](https://github.com/cocos2d/cocos2d-x/pull/20185)

[2019-10-09 08:34] Kafka2 commented on #20174
Still have problems

[2019-10-09 08:40] Kafka2 commented on #20174
and also add this in touches cancel event.

But I don't know why UIKit adds a sort of GestureRecognizers in iOS 13+

[2019-10-09 11:23] halx99 commented on #20151
And recently, I wrote build guide for openal-soft & ogg & mpg123 with armv7,arm64: https://simdsoft.com/notes

[2019-10-10 01:47] minggo commented on #20174
@wandeli it may slow down the performance of touch events. And it is strange that iPhone11 with iOS 13 doesn't have problem.

[2019-10-10 01:56] Kafka2 commented on #20174
I reproduced the problem in iPhone11 with iOS 13.1.2 using system input method.

[2019-10-10 03:00] minggo commented on #20174
My iPhone 11 is updated to iOS 13.1.2, and there is not problem. I don't use system input method, use `搜狗`.

[2019-10-10 03:04] miaotaoii commented on #19293
helpful!!  install ninja   it seems like the newer cmake need ninja to be installed.

times before the android build in travis also failed, after ninja installed, build works.

[2019-10-10 03:12] minggo commented on #20174
I uses `搜狗` instead of system input method, it works on iPhone 8(13.0) too. So the problem exists in system input method.

[2019-10-10 03:16] Mee-gu opened #20188 "ProgramState and Program performance issues"
You can find discussion of related issues [here](https://discuss.cocos2d-x.org/t/metal-support-rc0-released/47797/11).
After discussion with @minggo , we want to simplify the work of `ProgramState` and `Program` in following ways:
1. for `Program` usage, it was create in following two ways:
    - for engine built-in `Program`, we can use static way `static Program* Program::getBuiltinProgram(Progr

[2019-10-10 03:22] minggo commented on #20188
@Mee-gu add some codes is better to describe it.

[2019-10-10 03:25] Mee-gu commented on #20188
Got it, complete it soon.

[2019-10-10 04:01] rh101 commented on #20188
Personally, I don't mind adding my own caching layer to handle the caching of `Program` instances (user-defined or built-in, it won't matter).

I can imagine that a significant number of developers would end up having to create their own caching layer, and this fact alone is usually an indicator that it would have been better served to make it part of the Cocos2d-x framework.

Regardless, if you f

[2019-10-10 04:38] loohoo commented on #20180
me too!
I am using cocos2d-x 3.17.2.
@minggo

[2019-10-10 04:39] loohoo commented on #19232
me too.

[2019-10-10 05:46] minggo commented on #20180
The debug server is copied and modified from firefox, so it may not work with high version of firefox. We will not put more energy on it since it is not easy. So please use old version of firefox.

[2019-10-10 05:46] #20180 closed, assigned to nobody

[2019-10-10 06:39] lxhhuangjin commented on #20174
Maybe related to QuickPath in iOS 13+. This is the new function in iOS 13+ and seems like related to GestureRecognizers.

[2019-10-10 11:51] loohoo commented on #20180
try from firefox 30 to firefox 60.x, neither of them works.
cocos2d-x 3.16 works well.

[2019-10-10 11:51] loohoo commented on #18977
me too

[2019-10-11 01:25] minggo commented on #20180
What's the firefox version?

[2019-10-11 02:28] brantxiong commented on #17944
Hi, @minggo Thanks for adding WebSocket Server. But I cannot find any document about how to use the WebSocket Server in js.

Could you give an example on how to setup a WebSocket Server in js script in Cocos Creator V2.1.2? Thanks so much!

[2019-10-11 03:05] minggo commented on #17944
Cocos Creator doesn't use cocos2d-x, you should ask it in the forum or Cocos Creator repo.

[2019-10-11 05:55] halx99 commented on #20182
I will check later.

[2019-10-11 06:45] minggo commented on #20182
Yep, it may be caused by updating unzip lib.

[2019-10-11 06:48] halx99 commented on #20182
I submit a fix PR of minizip: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/379

[2019-10-11 06:50] halx99 commented on #20182
@minggo please review & merge it.

[2019-10-11 06:55] minggo commented on #20182
It is merged, please update to v3-deps-167.

[2019-10-11 07:13] halx99 commented on #20182
But, I think maybe modify cocos sources is better than modify minizip sources. and I realize that, the original minizip no ```unzOpenBuffer``` API.
see: https://github.com/nmoinvaz/minizip/blob/1.2/unzip.h

[2019-10-11 07:24] halx99 commented on #20182
@minggo The follow code maybe better, and the minizip sources can revert to same with: https://github.com/nmoinvaz/minizip/tree/1.2
[code]

[2019-10-11 07:42] halx99 commented on #20182
@minggo I submit a new PR: https://github.com/cocos2d/cocos2d-x/pull/20192, now engine can works well with out any API or implementation changes of minizip-1.2.0

[2019-10-11 07:58] minggo commented on #20182
Yep, it is better to modify in engine.

[2019-10-11 08:02] halx99 commented on #20182
see: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/381

[2019-10-11 08:55] huachangmiao commented on #20174
@minggo
Is there any progress?

[2019-10-11 08:55] pandaGames commented on #20174
same issue.use system input method can reproduce the problem.but **editbox** works fine in iOS13.

[2019-10-12 02:19] minggo commented on #20174
@huachangmiao sorry, there is not progress. I will continue to fix it.
@pandaGames `EditBox` uses UIKit component.

[2019-10-12 06:17] loohoo commented on #20180
HI!, firefox v33.+

[2019-10-12 18:18] AlvaStudio opened #20197 "iOS need use WKWebView"
- cocos2d-x version:3.17.2
- devices test on:iPhone
- developing environments
   - NDK version:-
   - Xcode version:11.1
   - VS version:-
   - browser type and version:-

Steps to Reproduce:

1. cocos2d::experimental::ui::WebViewImpl *webView;
2. Build has error Unknown type name 'UIWebViewWrapper' in UIWebViewImpl-ios.h

[2019-10-14 05:02] wordes commented on #20174
@minggo
Is there any progress?

[2019-10-14 05:36] rh101 opened #20200 "UIWidget API better naming of interface functions"
There are UIWidget class functions that could be better named to indicate their true purpose and functionality.

For instance:
[code]

All these functions do not actually add a callback, but rather they set a callback (they override any existing callback handler).  Adding would imply a list of handlers that would be added to, which clearly is not the case here.

It would make more sense to change

[2019-10-14 08:16] halx99 commented on #20182
@waochi Please pull the latest sources to check whether this issue has been fixed.

[2019-10-14 16:34] slackmoehrle commented on #19393
@minggo we seem to be having more users affected by this. Is this a bug, do you think?

[2019-10-15 02:32] minggo commented on #19393
Yep, i think it is an issue. But could somebody provide a demo? I am not familiar with ads.

[2019-10-15 06:06] huangwei1024 commented on #20174
we also encounter the same problem, in cocos2dx 3.X and ios 13.1

[2019-10-15 06:53] EricDDK commented on #20174
I change 2 functions and everything is OK.
[code]
[code]

[2019-10-15 07:03] Kafka2 commented on #20174
@EricDDK it triggers the same issue related to GestureRecognizors.

[2019-10-15 07:05] EricDDK commented on #20174
What's the problem?

[2019-10-15 07:09] EricDDK commented on #20174
I dont know what happens. I test it on my app within cocos2d-x 3.7.1 and Xcode11.1. iphone is iOS 13.2
Everything is Okay, the memory is normal, and the performance is well.

[2019-10-15 07:12] Kafka2 commented on #20174
@EricDDK

[2019-10-15 07:44] EricDDK commented on #20174
But my app is Okay.  click the screen to close IME. The IME open again? I can close the IME.

[2019-10-15 07:46] wordes commented on #20174
@EricDDK There was a problem after input of Chinese.

[2019-10-16 03:26] minggo commented on #20174
I sent https://github.com/cocos2d/cocos2d-x/pull/20209 to fix it.

The application should handle touch cancel event to close keyboard.

[2019-10-16 06:47] minggo commented on #20174
Any feedback is appreciated.

[2019-10-16 11:15] zhaxun opened #20220 "eaglView does not work when it not set to rootView"
- cocos2d-x version:3.13  creator:v2.1.3
- devices test on:iPhone6s plus
- developing environments
   - Xcode version:11.1

Steps to Reproduce:

[code]
loginfo：
2019-10-16 15:56:27.767849+0800 hello_world-mobile[42116:11637430] Metal GPU Frame Capture Enabled
2019-10-16 15:56:27.768633+0800 hello_world-mobile[42116:11637430] Metal API Validation Enabled
2019-10-16 15:56:27.911204+0800 hello_world-

[2019-10-16 11:19] zhaxun commented on #20220
我就是想将videoplayer放到eaglview下面，所以重新创建了一个ViewContorller，eaglView插入这个ViewContorller就无法渲染了，请问这个是什么问题导致的？

[2019-10-16 19:16] ebouchard88 commented on #19393
Hi,

I have the same issue that the onTouchEnded, or onTouchCancelled are not sent when the key is pressed and the interstitial (admob in my case) loads. The behavior is slightly different on Android vs IOS. Android , the event is not sent, but it can recover the g_indexBitsUsed and so there is a way to modify my code to force the onTouchEnd to be called. However, on IOS, not only the event is not

[2019-10-17 03:28] minggo commented on #20174
Does anybody test it?

[2019-10-17 03:31] Kafka2 commented on #20174
@minggo still have the same problem related to GestureRecognizors.

[2019-10-17 03:39] #20188 closed, assigned to nobody

[2019-10-17 06:10] minggo commented on #19393
What's the key? Could you please describe it in more detail? And could you please provide a demo?

[2019-10-17 06:26] 1xiaoming1314 commented on #20174
@minggo I test in ios 13 by your way, that will crash.

[2019-10-17 06:30] minggo commented on #20174
What test case did you test? I tested `TextInput` of cpp-tests on iOS 13, it works.

[2019-10-17 06:35] 1xiaoming1314 commented on #20174
i test in my games by cocos2d-2.0-x-2.04
crash log：[EAGLView selectionRectsForRange:]: unrecognized selector sent to instance 0x7f8c4e70c440

[2019-10-17 06:37] minggo commented on #20174
v2 is very different from v3, i think you should modify it according the PR yourself.

[2019-10-17 07:09] re-esper commented on #20174
I tested it on cocos2d-x lua 3.14 yesterday, it works very well.
But it means no more touchcancel events? So finally, I used removeGestureRecognizer method above instead.

[2019-10-17 07:12] minggo commented on #20174
What did you mean?

[2019-10-17 07:17] re-esper commented on #20174
the commit code shows that touchcancel events redirect to touchend. For lua, I made it in objective-c touchesCancelled callback, so no touchcancel events anymore for lua.

[2019-10-17 11:39] ebouchard88 commented on #19393
Sorry, I meant as the touch is pressed. In my case, the interstitial loads as you change "zone" in the game. But to change zone, you are basically touching the screen to move the character. So when the interstitial appears, you have your finger touched on the screen and usually the id 0 touchEvent is "active". As the interstitial finish, you come back and this ID 0 is still "active" so the charact

[2019-10-17 12:22] semgilo opened #20222 "android lua random crashes"
- cocos2d-x version:3.17   (external/lua had upgraded to 3.17.2)
- devices test on:samsung SM-G9650
- developing environments
   - NDK version:19.2.5345600

There are random crashes in 3.17 luajit, so I upgraded to 3.17.2's lua , armeabi7v is ok, but arm64-v8a is not.

[2019-10-17 12:49] ICMI opened #20223 "clippingNode causes screen filled with white color when transition with effect TransitionFadeTR"
- cocos2d-x version: 3.17.2
- devices test on: PC windows
- developing environments
   - VS version: Microsoft Visual C++ 2019

Steps to Reproduce:

1. create sceneA and sceneB
2. create nodeC that has a child with ```clippingNode ```
3. sceneA  add  nodeC
4. transition sceneA  to sceneB width effect ```TransitionFadeTR```
5. the effect is wrong(filled with white color when transitioning)
6. can r

[2019-10-17 14:54] halx99 commented on #20151
The unified impmentation with few changes based on openal for all platforms is here:
https://github.com/simdsoft/x-studio/tree/master/cocos2d-x-patch/cocos/audio

[2019-10-17 18:12] ebouchard88 commented on #19393
So, I investigated a lot this issue today. I still do not know the root cause of why the onTouchEnded or Cancelled is never called, but I was able to get a fix. I created a new function in CCGLView to cancel all pending touch events. I don't know if this the proper way of doing it, but it has been tested on both Android and IOS and it works like a charm. I just call it as soon as I show an ad. Tha

[2019-10-18 01:30] minggo commented on #20222
You can try latest codes. It updated luajit.

[2019-10-18 01:32] minggo commented on #20174
@re-esper i did it in the test case just for convenient. In your codes, you can handle touch cancel event in its own function.

[2019-10-18 01:53] wudb commented on #18807
你好，你这个问题最终是怎么解决的？

[2019-10-18 02:04] minggo commented on #19393
Yep, i don't know why touch end/cancel message missed, i can not find any documentation mentions it.

You can add a function to cancel all events. But how do you know when to cancel all events?

[2019-10-18 02:53] ebouchard88 commented on #19393
I just call it whenever I show an advertisement. So when user comes back from it, everything is reset and ready to go like new.

[2019-10-18 03:12] semgilo commented on #20222
Do I need to update luacompiler ?I used luajit from cocos2d-x 3.17.2

[2019-10-18 03:14] re-esper commented on #20174
@minggo but even so, after user input some chinese words and close IME, any touch ends with touchcancel instead of  touchend, so we dont know which is real touchcancel after that?

[2019-10-18 03:19] minggo commented on #20222
I think you should update luajit.a in `external/lua/luajit`, and luajit bin in `tools/cocos2d-console/plugins/plugin_luacompile/bin`.

[2019-10-18 03:26] minggo commented on #20174
Sorry, i don't quite understand. Could you please describe it in more detail?

[2019-10-18 03:28] minggo commented on #20174
You can use Chinese and paste its translation if you have trouble in describing it in English.

[2019-10-18 03:33] minggo commented on #19393
Yep, i think it is a method to get around the issue.

[2019-10-18 03:36] re-esper commented on #20174
@minggo 我通过log发现, 输入汉字然后点空白区域关闭输入法后, 游戏中所有触摸操作已经不再能收到touchend而是收到touchcancel结束, 这样是否意味着已经不能直接区分哪些touchcancel是真正的touchcancel了?

I found through the log that after inputting the Chinese characters and then clicking the blank area to close the input method, all the touch operations in the game can no longer receive the touchend but receive the touchcancel end. Does this mean that it is no longer poss

[2019-10-18 03:41] minggo commented on #20174
I have tested `TextInput`, after closing keyboard, application can receive touch end events. I don't know why you can't. It is better if you can provide a demo to reproduce it.

[2019-10-18 04:09] semgilo commented on #20222
ok thx, There is some trouble with the resources that were compiled with the old luacompile and the new luacompile, if they are not compatible.

[2019-10-18 05:47] minggo commented on #20222
Yep, you are right.

[2019-10-18 06:28] dysuby commented on #18807
@wudb 用3.13的版本，nuget下一个包，忘了什么名字了，网上博客应该有提过...

[2019-10-18 06:56] yanggee commented on #20174
I have tested `TextInput`, after closing keyboard by keyboard's `send`, application can't recevie touch end events. but, when I click  screnn without keyboard to close it,, it's ok. application can receive touch end events.
the device is iphone x, iOS 13.1.2.
@Miigon 在iphonx上面，我点击空白区域关闭输入法，游戏中触摸操作是正常的，但是点击键盘上面的换行，关闭键盘后，游戏就不能相应touchend方法了

[2019-10-18 07:03] semgilo commented on #20222
I don't use new luacompile, and it seems be ok. I'll test more devices.

[2019-10-18 07:18] minggo commented on #20174
@re-esper sorry, you are right. I didn't use system input method in my test. If using system input method, then can not receive touch end method.

[2019-10-18 07:29] yanggee commented on #20174
so, what should i do for fix it ?

[2019-10-18 07:29] yanggee commented on #20174
so,  What should i do to fix it ?

[2019-10-18 07:32] minggo commented on #20174
I have not idea right now.

[2019-10-18 10:38] minggo commented on #20174
I updated the pull request, i think it works now.

[2019-10-18 11:11] drelaptop commented on #19077
Same crash occurs to me at this situation:

1. back to the game after the SDK wroks finish
2. put works like `new Label` into the SDK callback directly

and the workaround I got is __put the `new Label` works to next frame__

seems like some issue in Label about the gl context restore

[2019-10-21 01:43] songxiaopeng opened #20224 "建议：2D光影系统"
有计划支持2d光影效果么？
查询了roadmap，目前没有看到，因roadmap不完整，特询问。

[2019-10-21 01:45] #20187 closed, assigned to nobody

[2019-10-21 02:59] #20222 closed, assigned to nobody

[2019-10-21 06:37] yanggee commented on #20174
thank you! it's ok.

[2019-10-22 01:43] minggo commented on #20224
There is no plan. And please use English in future.

[2019-10-22 01:43] #20224 closed, assigned to nobody

[2019-10-22 02:46] minggo commented on #20174
@yanggee thanks for your feedback.
@re-esper @Kafka2 @wordes @lxhhuangjin any feedback?

[2019-10-22 12:10] Guy-kun commented on #20174
Just a comment to confirm that this issue exists for the flick keyboard input in Japanese on iOS13, I currently don't have time but will try testing the PR soon.

[2019-10-22 15:11] Guy-kun commented on #20174
I had some time to test this as it's happening for Japanese input on iOS13 too and am seeing the following:

fixed in MR:
- typing in and pressing enter to close japanese qwerty keyboard

not fixed in MR:
- tapping outside keyboard to close either keyboard (app stops receiving touches)
- typing with japanese kana keyboard (flick 10key)  in ABC english mode (input does not get passed to app)

[2019-10-23 01:24] minggo commented on #20174
@Guy-kun what did you mean `MR`? Does it mean the `PR`(short for pull request)? I don't know Japanese input, but i think it is the same as Chinese input.

[2019-10-23 06:06] minggo commented on #19819
fixed in https://github.com/cocos2d/cocos2d-x/pull/20229

[2019-10-23 06:58] #19819 closed, assigned to minggo

[2019-10-23 10:02] Guy-kun commented on #20174
Yes, I mean the PR sorry about that.
I tested Japanese input with the PR and it is not working, as stated above.

[2019-10-24 02:21] minggo commented on #20174
@Guy-kun sorry, i have not idea. I think you should modify it according the PR.

[2019-10-24 06:08] minggo commented on #20174
@Guy-kun yep, it can not work, i think i made some mistake in refactoring codes. I sent https://github.com/cocos2d/cocos2d-x/pull/20232 to fix it based on #20209.

[2019-10-24 09:16] zjinpeng opened #20238 "CCRichLabelTTF will miss some labels if the height exceed 2048 on iOS"
- cocos2d-x version: cocos2d-x-3.7.1
- devices test on: iphone 8
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.CCRichLabelTTF will miss some labels if the height exceed 2048 on iOS

[2019-10-24 09:28] minggo commented on #20238
Please provide a test case and please use English in future.

[2019-10-24 09:31] #20174 closed, assigned to nobody

[2019-10-24 12:39] Guy-kun commented on #20174
Appears to be working from some quick tests!
We'll QA properly and report if there's any further issues

[2019-10-25 02:29] zjinpeng commented on #20238
Use CCScrollView and CCRichLabelTTF, And CCRichLabelTTF set a long long string.
eg.
CCRichLabelTTF *richLabel= CCRichLabelTTF::create("", "Helvetica", 30,CCSize(600,0),kCCTextAlignmentLeft,kCCVerticalTextAlignmentTop);
 auto  _scroll = CCScrollView::create(CCSize(600,1000));

[2019-10-25 02:35] boyjunqiang commented on #19480
Same issue can reproduce on:

-  iphone SE with iOS 13.1.3
-  cocos2d-x 3.17.2

But increase PCMDATA_CACHEMAXSIZE value to 10485760, this problem is gone.

[2019-10-25 02:39] boyjunqiang commented on #19480
Hi @qoozta can you give some detail about this fix? Thx!

[2019-10-25 03:24] boyjunqiang commented on #20062
Do null checking in AudioPlayer.mm does not fix the bug, but increase PCMDATA_CACHEMAXSIZE value to 10485760, this problem is gone.

- cocos2d-x 3.17.2
- iphone se with ios 13.1.3

[2019-10-25 08:28] zjinpeng commented on #20238
Use CCScrollView and CCRichLabelTTF, And CCRichLabelTTF set a long long string.
eg.
CCRichLabelTTF *richLabel= CCRichLabelTTF::create("", "Helvetica", 30,CCSize(600,0),kCCTextAlignmentLeft,kCCVerticalTextAlignmentTop);
auto _scroll = CCScrollView::create(CCSize(600,1000));
_scroll->addChild(richLabel);
richLabel->setString("a long long string");
Then top of richLabel missing.

[2019-10-25 08:44] minggo commented on #20238
I think it is because max texture height on iOS is 2048.

[2019-10-25 15:01] Anywhere-Music-Player opened #20254 "UI Editor? How do people create their UI?"
Hi All,

@minggo

I want to build the UI of my game in a a drag and drop editor. Is there such a thing in cocos2dx.?

I am using c++. I would like to create buttons, tables, labels etc and move and positon them in an easy way.

How do other people create their screen UI?

At this moment is seems that there is no good solution for UI/scene editing in cocos2d-x. Unfortunately, Cocos Studio won’t ope

[2019-10-25 19:17] jstock78 commented on #18046
I'm working on the same project as @TyelorD  and we believe a symptom of the issue is using Spawn actions inside of Sequence actions.  Example:

[code]

In the above code block we occasionally don't see FadeOut complete and in those cases also don't see the callback execute.   We worked around this issue by calling runAction 3 times (each Spawn action, plus a sequence with a delay for the callback

[2019-10-26 09:00] halx99 commented on #20254
@KAMIKAZEUA

You can try: ```x-studio```: https://x-studio365.com/ it's compatible with CocosStudio but no TimeLine supported.
And there is anthoer powerful UI solution: http://www.fairygui.com/, it's have full feature of UI, but you need lean it, and you should use it's own SDK to load ui at game.

[2019-10-26 22:43] Anywhere-Music-Player commented on #20254
C++ only and open-source.

[2019-10-27 12:39] crazyhappygame commented on #20254
@KAMIKAZEUA for me it looks like forum question.
I am also curious what people are using...

[2019-10-28 02:30] zjinpeng commented on #20238
Right, so how to fix it ?

[2019-10-28 02:44] #20140 closed, assigned to nobody

[2019-10-28 02:49] minggo commented on #20238
I don't know what you want to do, but i think you can use more CCRichLabelTTF or modify the content of CCRichLabelTTF dynamically based on some mechanism.

[2019-10-28 02:54] minggo commented on #20184
I updated it in https://github.com/cocos2d/cocos2d-x-docs/pull/284.

[2019-10-28 02:54] #20184 closed, assigned to minggo

[2019-10-28 06:32] kangzixiang commented on #20121
i think this isn't a issue! just design thinking problem

[2019-10-28 11:16] Anywhere-Music-Player commented on #20254
I banned there by only 1 moderator for years, with a crown on his head.
So I'm asking here.

[2019-10-28 11:45] Guy-kun commented on #20174
This appears to still have an issue with:
`tapping outside keyboard to close either keyboard (app stops receiving touches)`
as previously.

It seems to be fairly inconsistent and repeatedly tapping outside of the keyboard to close it (2 or 3 times) will make touches stop responding correctly in-app. The view may possibly be getting offset/moved incorrectly as this seems inconsistent?

This happens

[2019-10-28 11:48] deflinhec commented on #20254
Cocos creator with serval tweaks to adapt my game.

[2019-10-28 12:41] zjinpeng commented on #20238
It's a bug or not ?

[2019-10-28 20:42] tigerss commented on #18321
Hi, I am working on a drawing app and drawing sprites to a RenderTexture has very poor performance on Android. I see there has been a [fix](https://github.com/cocos2d/cocos2d-x/pull/18322) but the code is not in the official cocos2dx release.

Drawing sprites on RendereTexture causes GL VERTS to jump to millions and draw calls up to thousands. Then the app freezes and recovers after a while if lef

[2019-10-29 02:44] minggo commented on #20238
I don't think it is a bug.

[2019-10-29 06:39] siarsky commented on #18321
The Pull Request was simply ignored (closed without a merge) without any communication - you can imagine my motivation to let fix many other Android problems I was facing. Yes, it is 0.

I am using my fix in the productive application and have no such performance issues anymore. Just apply the patch and solve possible merge conflicts (the code is 2 years old).

Cheers!

[2019-10-29 07:50] phicore commented on #18321
See #19901

no answer at all. I wanted to propose this framework for a pro project at work but will not because of the lack of communication from the dev team.

[2019-10-29 08:37] abrajam92 commented on #18667
Hello, I am experiencing the same issue with cocos 2d-x 3.17.2

[2019-10-29 10:06] minggo commented on #18321
@siarsky sorry, i may close it by mistake. I will open it again.

[2019-10-29 10:08] minggo commented on #18321
@siarsky  it seems i can not open it again. If you don't mind, would you please send it again? I apologize for it.

[2019-10-29 19:48] slackmoehrle opened #20267 "Apple installation issues"
- cocos2d-x version: latest from v3 branch
- devices test on: Mac OS 10.14
- developing environments
   - Xcode version: 11.1

Steps to Reproduce:

1. clone of v3 branch, `git submodule update --init`, `git submodule update`, `./download-deps.py`

2. `cocos new MyTest -l cpp -d .`

3. `cd MyTest`

4. ` cocos compile -p ios` -->  ERROR
[code]

__Reason:__

__proj.ios_mac/ios/Info.plist__ contains _

[2019-10-30 02:46] Mee-gu commented on #20267
Got it. I'll fix it.

[2019-10-30 03:12] Mee-gu commented on #20267
Got it.

@slackmoehrle  After going through from step 1 to step 4, there is no error, it compiles success.

[2019-10-30 03:37] Mee-gu commented on #20267
fixed in [20268](https://github.com/cocos2d/cocos2d-x/pull/20268)

[2019-10-30 06:30] #20267 closed, assigned to Mee-gu

[2019-10-30 06:41] semgilo opened #20270 "glReadPixels crash after VideoPlayer:stop ios 13"
- cocos2d-x version:3.17
- devices test on:iphone xr ios13.1

I upgraded VideoPlayer-ios from v3 for fixxing the issue crashed in ios13.

Steps to Reproduce:

1. Play a mp4 by VideoPlayer and stop it.
2. Call glReadPixels
log:
`_validateGetBytes:29: failed assertion 'CPU access for textures with MTLResourceStorageModePrivate storage mode is disallowed.'`

[2019-10-30 07:15] gocpplua commented on #20057
我们也遇到这个问题，请问现在解决了吗

[2019-10-30 07:26] minggo commented on #20057
请说中文的时候附上英文翻译。

Please attach translated English.

[2019-10-30 07:34] gocpplua commented on #19428
@minggo does this pr solve?

[2019-10-30 07:46] gocpplua commented on #20057
We have also encountered this problem. Is it solved now?

[2019-10-30 07:50] minggo commented on #20057
We have used latest luajit, and some developers said it works good. You can have a try. If it also has problem on arm64bit, then we don't have any good method. luajit is not updated for 10 months.

[2019-10-30 07:58] gocpplua commented on #20057
ok,thans very much

minggo <notifications@github.com> 于2019年10月30日周三 下午3:51写道：

[2019-10-30 08:26] minggo commented on #20270
Why has `MTLResourceStorageModePrivate`, v3 doesn't use metal.

[2019-10-30 08:37] minggo commented on #20270
@semgilo could you please provide some codes to reproduce it?

[2019-10-30 09:01] minggo commented on #20270
May be i know the reason. VideoPlayer adds a `AVPlayerController.view` as its subview. So when you use VideoPlayer, it has two views now:
- one is UIView, engine renders contents into it
- another one is `AVPlayerController.view`, which is used to play video

And i think `AVPlayerController.view` uses metal to renderer the video. That's why the error log includes `MTLResourceStorageModePrivate`. `

[2019-10-30 09:06] minggo commented on #20270
It is not a good idea, because:
- read pixels after pausing the video will crash
- read pixels when playing the video will crash

And we can not remove subview in these situations.

[2019-10-30 09:12] minggo commented on #19428
I don't know, cocos studio is not maintained for a long time.

[2019-10-30 09:12] #19428 closed, assigned to nobody

[2019-10-30 14:06] semgilo commented on #20270
Thanks for reply, I used glReadpixels after VideoPlayer:stop, it had disappeared yet.
I will make sure VideoPlayer  removed tomorrow and use it again.

[2019-10-30 14:34] theSlyest commented on #19246
I just had a similar issue with **libfmod**:

`/usr/bin/ld: ../../cocos2d/external/linux-specific/fmod/prebuilt/64-bit/libfmod.so: .dynsym local symbol at index 2 (>= sh_info of 2)`

How can I solve it?

[2019-10-30 17:21] sonyps5201314 opened #20273 "cocos lua app will crash if lua include paths order is incorrect！！！"
- cocos2d-x version: 3.17.2 git latest
- devices test on:windows 8.1
- developing environments
   - VS version:vs 2017 latest

Steps to Reproduce:

1. create vs client game project,include path is $(EngineRoot)external\lua\lua;$(EngineRoot)external\lua\luajit\include
2. call lua_getstack(L, depth, &entry); next the program will crash with memory error.
fix solution:fix #define LUA_IDSIZE	512 in fr

[2019-10-31 01:36] minggo commented on #20273
@sonyps5201314 which patch cause the problem?

[2019-10-31 01:41] minggo commented on #20273
Ok, i see the difference between the two `luaconf.h`, i will track the log to see why they are different.

[2019-10-31 01:44] minggo commented on #20273
I track the log, it seems it is modified by luajit itself, no by us. And i think developers should not include lua and luajit at the same time. It is dangerous, and i think there will be many warnings.

[2019-10-31 05:36] sonyps5201314 commented on #20273
this path is this file: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/blob/v3/contrib/src/luajit/luajit-v2.1.0-beta3.patch ,and other two patch files in the same folds.
but [the template project file](https://github.com/cocos2d/cocos2d-x/blob/v3/templates/lua-template-default/frameworks/runtime-src/proj.win32/HelloLua.vcxproj) was use the standand lua include files not the luajit include

[2019-10-31 05:55] minggo commented on #20273
Yep, i din't notice it before. And i don't know why the patch is needed. I think you are right, we should not use it. And should not include both header files in the template.

[2019-10-31 06:01] sonyps5201314 commented on #20273
yep，cocos use the standand lua include files，but use luajit import library and dll as default.