[2018-08-21 06:49] Ganka opened #18996 "3.13.1 crashes in iOS devices"
- cocos2d-x version: 3.13.1
- devices test on: iPhone10
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Crashes in Production version.
2. I share the stack trace

EXC_CRASH (SIGABRT) - In this case AppDelegate destructor has been called in the stack trace. It has high change of getting crashed while killing th

[2018-08-21 10:08] thinkingingame opened #18997 "Downloader class has JS binding, no Lua binding, will it be added later?"
- cocos2d-x version:3.17
Downloader类有js binding，没有lua binding，后面会加上吗？

[2018-08-22 01:05] joiyao commented on #18994
Well, my colleague just found this issue #12887.
This is exactly what I wanna say : The EditBox does not display soft keyboard or does not display input after typing finished. It happens occasionally after app running for a long time or coming foreground from other apps.  I'm using Cocos2d-x 3.3. :)

[2018-08-22 02:34] zzyAZU commented on #18991
hello! i find another bug! websockets have very little chances to receive 2 messages in a single message callback, the code using libwebsockets may have mistakes @PatriceJiang

[2018-08-22 02:52] PatriceJiang commented on #18991
Have you tried to confirm it?

[2018-08-22 02:57] zzyAZU commented on #18991
yes, i use wireshark to follow websocket meta messages compared to cocos websocket received messages, cocos received 2 packet in a single message callback

[2018-08-22 03:09] PatriceJiang commented on #18991
According to the websocket protocol, message data can be split into multiple `package` during transferring. could you pls provide more information about the error.

[2018-08-22 07:48] rshimoda commented on #18919
I had the same issue until I added a development team to my target. Hope that helps, good luck!

[2018-08-22 10:50] drelaptop opened #18998 "Label sometimes become white/black rectangle, this is one of reasons"
- for win32, recently fix a defect may cause to white block on cocos2d-x-lite, https://github.com/cocos-creator/cocos2d-x-lite/pull/1471 this should be sync to cocos2d-x , on file __CCDevice-win32.cpp__

- maybe other platforms existed same defect when generated Label texture, that is:

  - When drawing text, all the pixels in the returned texture rectangle are uniformly set with the text color re

[2018-08-25 14:35] mer23 opened #18999 "ENGINE_PATH when using -e switch with 'cocos new' command"
cocos2d-x version: 3.16
devices test on: ubuntu 16.04
developing environments
CLion 2017.3.4

I'm trying to make a new project using `cocos new` comand with the `-e` switch so it points to a remote cocos2d directory instead of copying a new one.
I tried passing the content of the zip I downloaded from cocos2d website (`-e /path/to/cocos2d-x-3.16`) as the ENGINE_PATH, but it still made a whole new

[2018-08-26 21:15] crookedbard opened #19001 "Target tvos - Undefined symbols for architecture arm64"
- cocos2d-x version: 2.17
- devices test on: apple tv
- developing environments
   - Xcode version: 12

Steps to Reproduce:

1.  Build cocos2d libs for target tvos

Undefined symbols for architecture arm64:
  "btCollisionDispatcher::btCollisionDispatcher(btCollisionConfiguration*)", referenced from:
      cocos2d::Physics3DWorld::init(cocos2d::Physics3DWorldDes*) in libcocos2d tvOS.a(CCPhysics3DWo

[2018-08-27 07:01] Bilalmirza opened #19002 "Culling only works for default camera."
I know this is attentional as mention in CCRenderer.cpp line 905

    // only cull the default camera. The culling algorithm is valid for default camera.

Is there a particular reason for it? This really puts a dent in the performance since everything in my game is rendered in another camera.
@minggo

[2018-08-27 21:26] slackmoehrle commented on #18736
@drelaptop there are more reports of this bug cropping up. Do you have any thoughts about it?

[2018-08-28 01:37] drelaptop commented on #18736
I know renderer little, could you help with this issue when you are free @minggo

[2018-08-28 01:42] vkreal commented on #18736
This seem to be a cocos2d-x core issue. Can we please escalate this issue?

[2018-08-28 02:03] minggo commented on #18736
Ok, i will take a look.

[2018-08-28 03:37] minggo commented on #18736
I think i found the reason:

* [CameraBackgroundDepthBrush::init() uses glEnableVertexAttribArray](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCCameraBackgroundBrush.cpp#L164) directly
* [CameraBackgroundDepthBrush::drawBackground uses GL::enableVertexAttribs](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCCameraBackgroundBrush.cpp#L213) to enable attributes

Then the gl states

[2018-08-28 03:45] vkreal commented on #18736
GREAT! Good to hear you potentially found the issue. Looking forward to the fix.

[2018-08-28 03:55] minggo commented on #18736
I created [a ticket](https://discuss.cocos2d-x.org/t/remove-ccglstatecache/43517) to discuss removing `ccGLStateCache`. Welcome to join it.

[2018-08-28 10:57] drelaptop opened #19004 "placeholder vertical alignment error when set it with a delay time"
- cocos2d-x version: 3.17
- devices test on: windows, maybe all platforms
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

[code]

[2018-08-29 01:33] minggo commented on #19001
There is not plan to support them, especially for v2.

[2018-08-29 01:33] #19001 closed, assigned to nobody

[2018-08-29 06:32] minggo commented on #18736
@vkreal could you please test https://github.com/cocos2d/cocos2d-x/pull/19006 to check if it fixes the issue. Thanks.

[2018-08-29 06:56] vkreal commented on #18736
@minggo I can't reproduce this so no way for me to verify your fix. We only see this in google play console. Maybe someone else here can reproduce and verify the fix?

[2018-08-30 07:04] smitpatel88 commented on #17326
@jarsj Hey can you share your solution to SocketRocket?
I am having exact same issue.
@dumganhar Any update from your side?

[2018-08-30 07:23] PatriceJiang commented on #17326
@smitpatel88 HI,  [libwebsocket has recently been upgraded to v2.4.2. ](https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/releases) please try to update it in your project.

[2018-08-30 08:13] smitpatel88 commented on #17326
@PatriceJiang
I tried updatiing libwebsocket but getting error LLVM 9.0 (Use of undeclared identifier)
I changed whole websocket folder and added libuv folder, in xcode added path for libuv
is anything else need to be done?

[2018-08-30 08:50] rizwangaminations opened #19007 "Crashed: AURemoteIO::IOThread iOS 11"
- cocos2d-x version: 3.17
- devices test on: iOS 11 iPhone and iPads (information from crashlaytics)
- developing environments
   - NDK version:
   - Xcode version: 9.1
   - VS version:
   - browser type and version:

Steps to Reproduce: Not reproducible

---
Our **customs logs** on crashlytics indicated that crash is occuring when app comes to foreground

**Stack trace:**

Crashed: AURemoteIO::IO

[2018-08-30 09:27] PatriceJiang commented on #17326
Did you tried to add  `libuv_a.a` to `libcocos2d XXX > Build Phases > Link Binary with libraries ..`?

[2018-08-30 09:55] smitpatel88 commented on #17326
Yes, it has multiple `libuv_a.a`
Tried with single also but same errors coming.

[2018-08-30 09:58] PatriceJiang commented on #17326
could you pls upload some screenshots?

[2018-08-30 10:08] smitpatel88 commented on #17326
Getting error because of Thread & system_error class.

[2018-08-31 01:50] PatriceJiang commented on #17326
you can try it on a new project of a recent v3 branch. it seems a setting issue.

[2018-08-31 02:07] #18950 closed, assigned to PatriceJiang

[2018-08-31 02:09] PatriceJiang commented on #18950
how to fix:
1. download `cacert.pem` from https://curl.haxx.se/docs/caextract.html
2. set the last parameter

[2018-08-31 03:55] smitpatel88 commented on #17326
Did you test with 3.17? I am trying on 3.16
It will be very difficult for me to test on latest v3 branch.

[2018-08-31 06:28] smitpatel88 commented on #17326
so i created fresh project with latest branch and replaced webscoket with latest and added libUv but sadly same error is coming on 3g network on iOS. Please help me

[code]

[2018-08-31 06:43] PatriceJiang commented on #17326
Checkout this demo https://github.com/PatriceJiang/libwebsocket_libuv_demo, and modify it with
- define USE_LIBUV 0
- replace ws://invalid.url.com with your own URL

This is a raw websockets project, i need to know whether it is a libwebsockets issue.

[2018-08-31 06:49] smitpatel88 commented on #17326
How to use this in Xcode? There is no xcode project.
We are facing issue with iOS only. On Android project is working fine with 3g/4g connection.

[2018-09-01 06:22] wanghehacker commented on #18362
#19000 this pr will help you

[2018-09-03 07:56] minggo commented on #18736
since we are removing ccGLStateCache, so the above PR is not needed, but you can use it for quick fix

[2018-09-03 10:49] jupiternext opened #19009 "layer添加camera（createPerspective）之后 EditBox控件在android设备上光标位置异常"
- cocos2d-x version:3.17
- devices test on:
- developing environments
   - NDK version: 14b
   - Xcode version: null
   - VS version: vs2015
   - browser type and version: null

Steps to Reproduce:

1. layer添加camera之后 EditBox控件在android设备上光标位置异常
2. 具体场景代码和BillBoardTest.cpp中的BillBoardTest测试用例相似。在其场景添加EditBox输入控件。编译到安卓后。点击输入框，光标位置异常，不在输入框中。(竖屏)

[2018-09-04 06:15] minggo opened #19012 "remove ccGLStateCache"
Forum discussion thread: https://discuss.cocos2d-x.org/t/remove-ccglstatecache/43517

[2018-09-04 06:17] minggo commented on #19012
Fixed in https://github.com/cocos2d/cocos2d-x/issues/19013.
Should add release note about how to modify the codes to adapt it.

[2018-09-04 06:18] minggo commented on #18736
Fixed in https://github.com/cocos2d/cocos2d-x/issues/19012.

[2018-09-04 06:18] #18736 closed, assigned to minggo

[2018-09-06 08:09] ermanhaskan opened #19016 "cocos2d::experimental::AudioDecoder::read - iOS Crash"
- cocos2d-x version: All versions

Hi everyone,

This has been number one crash in our game for a long time. "10k CRASHES 9658 USERS" last 7 days. Occurs on all iOS versions. Do you guys have any ideas?

Crashed: Thread
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000143414141

**0  AudioToolbox                   0x185567e28** CompressedPacketTable::operator[](long long) const + 348
**1  AudioToolbox

[2018-09-06 10:50] rekcah1986 opened #19019 "EditBox & UIButton problem"
- cocos2d-x version: 3.16

Steps to Reproduce:
![image](https://user-images.githubusercontent.com/3055444/45152851-c6d10300-b204-11e8-8600-c3d95a75c588.png)

1. create a UIEditBox on the left.
2. create a UIButton on the right to "send".
3. On ios platform, the button couldn't be touched when soft keyboard shown.

英文不好重新描述下，做一个聊天界面，在Editbox右侧加一个“发送”按钮。
在IOS平台上，当EditBox处于编辑状态时，即软键盘显示的时候，点按钮会触发软键盘收回

[2018-09-06 12:15] guilhemvors commented on #18948
After a deeper investigation, I know exactly what is happening:

When looking in the convertFile project from the Audio Core apple example (https://developer.apple.com/library/archive/samplecode/ConvertFile/Introduction/Intro.html then download sample code), in the useAC-AF.cpp file, we have the actual implementation of the method used internally to convert non linear pcm data to linear pcm data.

[2018-09-06 14:23] lyle-luan commented on #16872
这个还是没人来解决么？

[2018-09-07 01:02] #18994 closed, assigned to nobody

[2018-09-07 01:28] alphaonex86 opened #19021 "SEGFAULT Linux/cpp-tests"
- cocos2d-x version: 3.17
- devices test on: Linux, x86_64
- developing environments
   - gcc 7.3

Steps to Reproduce:

1. compile all under gentoo
2. start build/linux-build/bin/Debug/cpp-tests/cpp-tests under gdb/valgrind
3. segfault under gdb
4. valgrind detect well memory access problem

[2018-09-07 01:29] drelaptop commented on #16872
we can ask @PatriceJiang for help about the __Network__ issue, he is a new member of cocos2d-x team.

[2018-09-07 01:35] PatriceJiang commented on #16872
@lyle-luan  can you please provide a test demo?

[2018-09-07 01:41] drelaptop commented on #16872
I found related thread existed this demo, you could refer to that.

[2018-09-07 02:40] pbs0512 opened #19022 "UI clipping problem when reload Android openGL context"
- cocos2d-x version: 3.15
- devices test on: Android 8.0
- developing environments
   - NDK version: r13b (64-bit)

Steps to Reproduce:

1. The test has clippingListView in the previous scene when multiple scenes are nested.
2. Continuing to click on the Android power button will recreate the opengl context.
3. Then move to the previous scene (there is a clipping Listview).
4. There is a bug where

[2018-09-07 02:45] PatriceJiang commented on #16872
I have tested the code, it works well on cocos-creator2.0 and cocos-creator1.10.1.
@lyle-luan what is your creator version ? can you upload your test code to help?

[2018-09-07 02:58] ggggamer commented on #19022
What's your device?   I want to fix a crash that need monitor opengl context recreate situation, but it's too difficult to reproduce.

[2018-09-07 03:03] pbs0512 commented on #19022
@ggggamer thank you for reply. my device is samsung galaxy 9. but it also happens on other devices.

---Cause of error
1. Create a scene and add clipping ui.
2. Push another scene.
3. At this time, an onExit occurs on the drawnode.
4. This will cause the EVENT_RENDERER_RECREATED event (https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCDrawNode.cpp#L286) to pause.
5. android reload gl context

[2018-09-07 03:24] ggggamer commented on #19022
I can't reproduce "opengl context reload", how did you monitor this?

For your crash, Did you use `TransitionScene`?

[2018-09-07 03:28] pbs0512 commented on #19022
Turn the screen off, then on, and repeat with the device power button.

[2018-09-07 03:37] ggggamer commented on #19022
`TransitionScene::onEnter` will disable EventDispatcher so EVENT_RENDERER_RECREATED event can't emit.
You can change cocos\platform\android\javaactivity-android.cpp
https://github.com/cocos2d/cocos2d-x/blob/c99611589c11c09edce4b1266bf211e42af6ffe4/cocos/platform/android/javaactivity-android.cpp#L106-L107
to
[code]

[2018-09-07 05:01] pbs0512 commented on #19022
I don't use TransitionScene.
use CCScene.cpp and UIListView.cpp.
I solved the problem.

https://github.com/cocos2d/cocos2d-x/blob/c99611589c11c09edce4b1266bf211e42af6ffe4/cocos/2d/CCDrawNode.cpp#L286-L294

to

[code]
This way, it works regardless of the node's pause (onExit) and resume (onEnter).

[2018-09-07 05:17] ggggamer commented on #19022
Congratulations！

[2018-09-07 08:32] guilhemvors commented on #19016
Are you are using a non native audio format (basically anything beside linear pcm, which I guess because there is a call to AudioConverterFillComplexBuffer) with the new openAL software player (3.16 and above)?

If you are, this crash may be due to audio buffer data being freed before the conversion has finished.

You can check this bug for a more detailed answer: https://github.com/cocos2d/cocos2

[2018-09-07 08:34] guilhemvors commented on #18794
this is the same bug as this one (I gave a more detailed explanation there):

https://github.com/cocos2d/cocos2d-x/issues/18948

[2018-09-07 08:55] ermanhaskan commented on #19016
@guilhemvors I am not uncaching any audio files, only preloading them. Only wav and mp3 files are used. Can this be an issue about preload?

[2018-09-07 14:43] gestern opened #19026 "What is the main repository for Spine?"
@minggo, If I did a couple of important things in the Spine Framework (`setBlendFunc()`  etc). Where will I have to contribute them:

- Into https://github.com/EsotericSoftware/spine-runtimes/tree/3.6/spine-cocos2dx ?
- or within cocos-2dx repo?

[2018-09-08 01:33] crazyhappygame commented on #19021
What test did you run?

[2018-09-08 18:50] alphaonex86 commented on #19021
The test: bin/Debug/cpp-tests/cpp-tests

Ans: Start AutoTest

[2018-09-08 20:59] crazyhappygame commented on #19021
I think that only Ubuntu and gcc 4.9 is supported. The main reason for this are precompiled libraries.
Could you reproduce error on Ubuntu and gcc 4.9?

[2018-09-08 21:02] v1993 commented on #19021
@crazyhappygame Precompiled libraries doesn't limit compilers. I use zapcc and clang without problems.

@alphaonex86 Yes, I can confirm problem. Which test executes just before crash?

[2018-09-08 21:30] crazyhappygame commented on #19021
@v1993 @alphaonex86 please reproduce problem on Ubuntu and gcc 4.9 because otherwise this problem will have low priority.
(I know that in theory gcc 4.9 and 7.3 libs should work together but I also know from practice that it is not always true. )

I have many random crashes in my apps which I can not reproduce it - see it in Google Play only. I have a feeling that it could be related to memory cor

[2018-09-08 21:34] v1993 commented on #19021
@crazyhappygame gcc 4.9 is **very deperaced**. I use ubuntu (well, XUbuntu).

BTW, installer script can't find them even in extra repo in ubuntu 18.04.

What about trying valgrind? It can trace memory corruption pretty good.

[2018-09-08 22:31] alphaonex86 commented on #19021
Start AutoTest

Can be reproduced on any platform and memory checked by valgrind.

[2018-09-09 07:28] crazyhappygame commented on #19026
I think that order should be following
1. PR to https://github.com/EsotericSoftware/spine-runtimes/tree/3.6/spine-cocos2dx
2. Get latest spine release from https://github.com/EsotericSoftware/spine-runtimes/tree/3.6/spine-cocos2dx and use it cococ2d-x source

[2018-09-09 07:41] crazyhappygame commented on #19021
@v1993 @alphaonex86 Do you run build/install-deps-linux.sh to setup all dependencies?
Could you write bash a script which can be used reproduce this problem?
But full bash script which can be run on clean ubuntu instance. (I would like to run in on clean Virtual Machine). There should be everything including download cocos2d-x sources, installing dependencies (cocos2d-x deps, valgrind, compilers e

[2018-09-09 07:48] crazyhappygame commented on #19021
Do you know how to run valgrind on Android?
Below some docs:
https://source.android.com/devices/tech/debug/valgrind
Below latest debug cpp android build:
https://ci.appveyor.com/project/minggo/cocos2d-x/build/1.0.1222/job/wwk9c4i5mjlc68nq/artifacts

Running Android cpp-test under valgrind may show another set of interesting issues ...
I tried to run Android cpp-test under valgrind but so far no su

[2018-09-09 13:19] FrankvdStam opened #19027 "C++ VS2017 intellisense errors, code compiles and runs"
- cocos2d-x version: 3.17
- devices test on: Win10
- developing environments
   - NDK version: None
   - Xcode version: None
   - VS version: 2017, 15.8.3 (updated to latest)
   - browser type and version: None

Steps to Reproduce:
1. Create a new C++ project with cocos command line tool

In your contribution guideline you say:
You can ask general questions by using:
    Forum (preferred way): htt

[2018-09-09 13:29] v1993 commented on #19021
`build/install-deps-linux.sh` is very bad on ubuntu 18.04 systems: it fails to install packages and builds and install software that present in repos.

We have to update it (pretty major, it is LTS. Nobody will use old ubuntu just because someonee didn't updated deps scripts).

[2018-09-09 13:38] crazyhappygame commented on #19021
I run drmemory (https://github.com/DynamoRIO/drmemory ) for win32 debug build and found only (+ lots false positives which I removed):
[code]

[2018-09-09 13:57] crazyhappygame commented on #19021
@v1993 travis https://docs.travis-ci.com/user/reference/overview/ support ubuntu trusty. But there is travis support for docker https://docs.travis-ci.com/user/docker.
Could switch current build system in travis (based on trusty and gcc 4.9) to docker and latest ubuntu18.04?
https://github.com/cocos2d/cocos2d-x/blob/v3/.travis.yml
https://github.com/cocos2d/cocos2d-x/tree/v3/tools/travis-scripts

[2018-09-09 14:15] FrankvdStam commented on #19027
Transferred the code to another win10 machine. Does not have this issue. This machine doesn't support openGL though..

It appears that this might not be related to Cocos2d-x at all and is only caused by Visual Studio.

[2018-09-09 15:27] FrankvdStam commented on #19027
Multiple headaches further, I've managed to resolve the problem. Other sources on the internet strongly suggested this having to do with precompiled headers.

See bellow screenshot:
![precheaders](https://user-images.githubusercontent.com/37239092/45266006-bdd67080-b454-11e8-817b-776ec9f81fe1.png)

Notice how it says "not using precompiled headers" very explicitly. It did not at first, it was just

[2018-09-09 16:36] vkreal commented on #18736
@minggo how confident are you if we use this as a quick fix it won't cause any other issues?

https://github.com/cocos2d/cocos2d-x/pull/19006

[2018-09-09 20:18] crazyhappygame opened #19030 "Android cpp-tests/UnitTests crash - stack corruption detected"
- cocos2d-x version: 3.17, latest from appveyor
- devices test on: Android HTC U11
- developing environments
   - NDK version: NDK16
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Run **cpp-tests debug** version on Android
e.g. from appveyor
https://ci.appveyor.com/project/minggo/cocos2d-x/build/1.0.1222/job/wwk9c4i5mjlc68nq/artifacts
2. Chose UnitTest

[2018-09-09 20:31] crazyhappygame commented on #19030
After uninstall and install cpp-tests can not reproduce ....

[2018-09-09 20:31] #19030 closed, assigned to nobody

[2018-09-10 01:23] minggo commented on #19026
Yep, you have to send PR to `spine-runtimes` then use it in cocos2d-x. But i am not sure which branch of `spine-runtimes` should contribute to.

[2018-09-10 02:16] minggo commented on #18736
@vkreal i am more confident with https://github.com/cocos2d/cocos2d-x/pull/19013.

[2018-09-10 02:28] vkreal commented on #18736
@minggo I am very glad you are confident with https://github.com/cocos2d/cocos2d-x/pull/19013 and thank you for the work!

Looking at the the https://github.com/cocos2d/cocos2d-x/pull/19013 PR. Looks like it's a pretty sizable change. If you don't mind can you please educate us why you are more confident with this change vs the other smaller one?

[2018-09-10 02:46] minggo commented on #18736
Sure. The smaller one PR is good for `CCCameraBackgroundBrush.cpp`, all the codes uses gl commands directly. But some other engine codes uses `GL`, which will use the cached the result. Use gl commands directly will break the cached the result. For example,

[code]

[2018-09-10 02:53] minggo commented on #18736
Sorry, i made a mistake.

The smaller one PR is good for CCCameraBackgroundBrush.cpp, all the codes uses `GL.xxx`. But other engine codes uses gl commands directly.

[2018-09-10 03:01] vkreal commented on #18736
@minggo right now we see issues in CCCameraBackgroundBrush.cpp so the question is will the smaller fix work just for it? We can pick https://github.com/cocos2d/cocos2d-x/pull/19013 when cocos2d-x next release to mitigate the risks.

[2018-09-10 03:25] minggo commented on #18736
Yep, the small PR is just for `CCCameraBackgroundBrush.cpp` though it may conflict with the codes using gl commands directly, but the codes exist for a long time. 1903 is to make cocos2d-x more robust.

[2018-09-10 03:45] gestern commented on #12869
**Cocos2d-X 3.17** after 3 years the issue is still present. Any news with the issue? It's just affected too many people not to get involved in disclose the issue.

[2018-09-10 05:46] wucanyuan commented on #16872
我也有同样的问题，Cocos Creator  1.9.0  访问同一个url，间隔1s 100次左右就发出请求没有回复了

[2018-09-10 06:03] PatriceJiang commented on #16872
ok, I will test it on my machine.

[2018-09-10 07:23] PatriceJiang commented on #16872
@wucanyuan can you pls upgrade to 1.10 and try again, it seems that the issue comes with mac simulator only.

[2018-09-10 10:11] gestern commented on #19026
Ok, thanks, got it.

[2018-09-10 10:11] #19026 closed, assigned to nobody

[2018-09-11 06:50] conanbo commented on #18736
上面的都是英语交流啊，我就直接说中文了。
我们3.17版本运行在小米的设备上非常容易出现这个bug。
我们尝试着在CCCameraBackgroundBrush.cpp 162行 添加GL::enableVertexAttribs(GL::VERTEX_ATTRIB_FLAG_POS_COLOR_TEX);还是没能解决。 @minggo

[2018-09-11 06:54] conanbo commented on #18736
![1e086b93-bbc5-44e9-929b-96edef4304e2](https://user-images.githubusercontent.com/12843146/45343117-88579180-b5d2-11e8-8cee-029bc31edff1.png)

[2018-09-12 22:43] sonyps5201314 commented on #19012
Still crash,after build with the latest cocos git version:
android after share information to weixin, after back to my game, cocos crash...
![image](https://user-images.githubusercontent.com/20564099/45457178-60764400-b720-11e8-9b52-7ba4fbbfeb51.png)

[2018-09-12 22:58] sonyps5201314 commented on #19012
if modify like this ,it will not crash,but the callback text will not show.
[code]

[2018-09-12 23:02] sonyps5201314 commented on #19012
Can you provide me with a stable cocos version, which doesn't require any new features, as long as each function is working normally. Cocos has too many problems when switching between front and back processes.
Thanks for your works.

[2018-09-13 01:12] minggo commented on #19012
I think it is another issue. As you see, now cocos2d-x just fixes bugs, not adding new features. The PR of this issue doesn't fix all bugs, just fix some potential bugs. Could you please create a new issue and provide a test case to reproduce it?

[2018-09-13 02:08] #18754 closed, assigned to PatriceJiang

[2018-09-13 06:32] ggggamer commented on #18736
@minggo  Maybe some crash happen because of Android opengl reload.

Happy if you have a check of my PR https://github.com/cocos2d/cocos2d-x/pull/19037 .

[2018-09-13 07:28] sonyps5201314 opened #19039 "cocos app will crash on back to foreground, if create a label with a font file after back to foreground."
- cocos2d-x version:3.15 or the latest git v3 branch
- devices test on:android 8.1 phone or other android arm phone,x86 devices is run ok, only happen on arm.
- developing environments
   - NDK version:17.2.4988734 in latest android studio 3.1.4
   - Xcode version:N/A
   - VS version:N/A
   - browser type and version:N/A

Steps to Reproduce:

1. git clone https://github.com/umeng/cocos2dx_Componen

[2018-09-13 07:34] drelaptop commented on #19039
did you use latest v3 branch included https://github.com/cocos2d/cocos2d-x/pull/19010 ? that PR fix a similar issue. @sonyps5201314

[2018-09-13 07:42] sonyps5201314 commented on #19039
I use it, I try to build with the latest cocos git v3 branch version,but the problen is still on.
![image](https://user-images.githubusercontent.com/20564099/45474158-8a088d00-b76b-11e8-86a9-b0c18c190cf2.png)
@drelaptop

[2018-09-13 07:46] sonyps5201314 commented on #19012
I create a new issue on this problem [#19039](https://github.com/cocos2d/cocos2d-x/issues/19039). Thanks.
@minggo

[2018-09-13 08:42] Kingwl commented on #17352
any update?

[2018-09-13 09:59] drelaptop commented on #18769
today same issue occurs to me, it trouble me for hours. Finally I found the reason is __dirty__ build folder.

Some older build files existed at my template folder, (maybe I build `lua-template` directly in template folder), so that I run `cocos new -l lua`, and then run `cocos compile -p android --build-type cmake`.  At this step, `generateJsonModelDebug FAILED` occurred. after I deleted `proj.an

[2018-09-13 10:03] #18862 closed, assigned to nobody

[2018-09-13 20:34] gestern commented on #18810
Guys, I've implemented this functionality for Android (Including deep support of Android P), the details will be later, now I'm testing on devices

[2018-09-14 03:09] #18916 closed, assigned to nobody

[2018-09-14 03:45] #18769 closed, assigned to nobody

[2018-09-14 04:35] drelaptop commented on #19039
reproduce this issue, I think the key logs is:

[code]
in
[code]

[2018-09-14 06:18] drelaptop commented on #18867
I found set `buildDir` is another solution, refer to the __answer 2nd__ of below link:

https://stackoverflow.com/questions/33905687/error-file-path-too-long-on-windows-keep-below-240-characters

[2018-09-14 06:48] sonyps5201314 commented on #19039
so can be solved？

[2018-09-14 07:37] drelaptop commented on #19039
Sure, don't worry about it. @minggo will help next, he is very experienced on renderer.

[2018-09-14 07:48] minggo commented on #19039
I will take a look now.

[2018-09-14 08:12] minggo commented on #19039
@sonyps5201314 did you create a new thread to do something? Could you please show me the codes that share the message, and the codes that come back?

[2018-09-14 08:21] minggo commented on #19039
Did you invoke engine codes in not GL thread?

[2018-09-14 08:24] halx99 commented on #18867
ndk-r17 clang-6.0.x:
[ndk-wsls-2.2.1.zip](https://github.com/cocos2d/cocos2d-x/files/2382536/ndk-wsls-2.2.1.zip)

ndk-r16 clang-5.0.x:
[ndk-wsls-3.0.zip](https://github.com/cocos2d/cocos2d-x/files/2382537/ndk-wsls-3.0.zip)

[2018-09-14 08:24] minggo commented on #19039
Your test case is too difficult to analyze, could you please provide a simple one? Thanks.

[2018-09-14 08:41] halx99 commented on #18867
I have download llvm and clang source code to do a little debug.
And find thus, the clang, both 5.0.x and 6.0.x will process windows long path, and add prefix ```R"(\\?\)"```, but the 5.0.x has a little bug for it.
such as 5.0.x will simply add prefix with out path qualified  ```R"(\\?\D:/xxx...)"```, but windows api need ```R"(\\?\D:\xxx...)"``` for a long path, so the ndk-r16b clang compile syst

[2018-09-14 08:52] sonyps5201314 commented on #19039
This  test case is already simple enough for me, more difficult case is our corporation project, I am sure the java code is run in the main thread, the cocos code run in the OPENGL thread. so I think it is not a multi-thread problem. you can search "runOnOpenGLThread" and "runOnMainThread" to verify it in path "cocos2dx_Component_lua\frameworks\runtime-src\proj.android-studio\app\src\com\umeng\soc

[2018-09-14 09:09] minggo commented on #19039
Because you are familiar with the codes, so it is not difficult to you. Why not simplify `CCUMSocialController.java`, remove codes that are not needed, and just keep needed codes. Then it is more helpful.

[2018-09-14 09:26] drelaptop commented on #18867
another side, I think the Gradle build config changes from 3.16

https://github.com/cocos2d/cocos2d-x/blob/f467d42e02d2b664731a45f9df39f13a01cfd1b5/templates/lua-template-default/frameworks/runtime-src/proj.android-studio/app/build.gradle#L24

into 3.17

https://github.com/cocos2d/cocos2d-x/blob/5c381d8ee60078b1ff8380b794836ea61d4ed2ee/templates/lua-template-default/frameworks/runtime-src/proj.and

[2018-09-14 09:45] halx99 commented on #18867
Yes, it's good, but it's a workaround, I think. the real reason is Android NDK compile system not process windows long path well. it's a ndk compile system issue/bug. not cocos.

[2018-09-14 09:59] drelaptop commented on #18867
agree with you. that's a defect in Android NDK compile system. it's awful we have to adapt.

[2018-09-14 11:49] sonyps5201314 commented on #19039
OK，
[CCUMSocialController.zip](https://github.com/cocos2d/cocos2d-x/files/2383159/CCUMSocialController.zip) this is a simplier CCUMSocialController.java, you can overwrite it. and I can tell you，what is the key code，start share is “directShare“ function，
share complete is the code start with:
[code]

[2018-09-15 08:38] drelaptop commented on #18884
I think PR https://github.com/cocos2d/cocos2d-x/pull/19010 is a better solution. @pjdd

[2018-09-15 13:47] pyrosphere opened #19049 "Android template project doesn't build on `PROP_BUILD_TYPE=ndk-build`"
The Android template project, created from `cocos new` fails to build if `PROP_BUILD_TYPE` is changed to `ndk-build`.

The error it throws is `Android NDK: Module MyGame_shared depends on undefined modules: uv_static` probably from pull request #19015

[2018-09-15 14:44] v1993 commented on #19049
Question: do we still need ndk-build support on new projects? CMake seem much better at all (almost no separate build configuration, at least for files and flags) and works just fine.

[2018-09-15 20:50] pyrosphere commented on #19049
New projects should probably use CMake, but this breaks old projects that already use `ndk-build`.

[2018-09-15 20:54] v1993 commented on #19049
I didn't get this.

P.S.: we should do one of things: fix it or remove `ndk-build` support at all (as not working).

[2018-09-15 20:57] pyrosphere commented on #19049
Every project using `ndk-build` is broken - the option is broken, but to open an issue I wasn't going to submit "my project is broken", I tested it using the template and confirmed it wasn't from any of my own custom configurations.

But yes, either `ndk-build` should be fixed or support removed.

[2018-09-15 20:59] v1993 commented on #19049
Ok, get it now. Now just wait cocos team response.

[2018-09-16 04:47] drelaptop commented on #19049
It's a error on Android.mk, to fix this issue all you need to do is add this line

https://github.com/cocos2d/cocos2d-x/blob/46ba24f585a16a2a01eb6399f85e345d58c96e0a/cocos/Android.mk#L340

also rembmer to update external libs.

---
I think the reason is all the CI change the build type to cmake, so this `ndk-build` error didn't been found. we should add a `ndk-build` task at least. I will do it.

[2018-09-16 13:46] crazyhappygame commented on #19049
@drelaptop I do not insist but I think that we should not support ndk-build
https://developer.android.com/ndk/guides/
`Android Studio's default build tool to compile native libraries is CMake. Android Studio also supports ndk-build due to the large number of existing projects that use the build toolkit. However, if you are creating a new native library, you should use CMake.`
I think that for new

[2018-09-16 15:08] drelaptop commented on #19049
thanks for this advice, I hope so, but we can't do this on v3 branch. it will trouble developers when he upgrade engine release from 3.15 to 3.18.

as google explained, `large number of existing projects that use the build toolkit`, cocos2d-x projects are same with that. We have changed the default build-type to cmake, that means we hope developers to use cmake for new project.

[2018-09-17 02:27] drelaptop commented on #18999
when `cocos new` to create a project, we only supported copy the engine source. because no link template supplied longer.

and it didn't do a whole copy, it copy engine files depend on `templates/cocos2dx_files.json`

[2018-09-17 02:33] #18999 closed, assigned to nobody

[2018-09-17 02:38] drelaptop commented on #18997
could you check this in your free time? @PatriceJiang

[2018-09-17 02:47] #16814 closed, assigned to PatriceJiang

[2018-09-17 02:51] minggo commented on #18736
@ggggamer thanks, the PR looks good to me.

[2018-09-17 02:53] minggo commented on #19039
May be you can have a try of https://github.com/cocos2d/cocos2d-x/pull/19037.

[2018-09-17 03:38] zhangman523 opened #19051 "cocos2dx 3.17 lua compile error"
- cocos2d-x version:3.17
- devices test on:mac
- developing environments
   - NDK version: android-ndk-r16b
  - lua version: lua-5.3.5

Steps to Reproduce:

1. cocos new TestGame  -p com.cocos.test -l lua
2. cocos run -p android --android sutido --ap android-27 --app-abi armeabi

aborting error:  Android NDK: Module cocos2dlua_shared depends on undefined modules: cocos_curl_static

then I add 'APP

[2018-09-17 03:38] zhangman523 commented on #19051
anyone help

[2018-09-17 03:52] drelaptop commented on #19051
3.17 release have moved `proj.android-studio` to `proj.android`, so I think you have a dirty cocos environment.

- run `cocos -h` to found where the `cocos` cmd located at
- run `setup.py` to see the Env variable, confirm it again

[2018-09-17 03:56] drelaptop commented on #19049
#19045 merged, remember to execute `download-deps.py` to update external.

[2018-09-17 03:56] #19049 closed, assigned to nobody

[2018-09-17 05:27] zhangman523 commented on #19051
@drelaptop  sorry,I started installing 3.17 and then I installed cocos-studio 2 to cover my cocos. I am modifying and trying again

[2018-09-17 05:51] zhangman523 commented on #19051
It work's! I fix cocos version to 3.17

[2018-09-17 05:51] #19051 closed, assigned to nobody

[2018-09-17 06:28] PatriceJiang commented on #18997
okay

[2018-09-18 10:02] KarenHuang2016 commented on #17851
This issue is already fixed. Close this issue.

[2018-09-18 10:02] #17851 closed, assigned to nobody

[2018-09-18 11:30] oct-test opened #19053 "Frozen Frames warning by Google Play Pre Lauch Report"
I have released an Android game on Google Play and the [pre-launch report ](https://support.google.com/googleplay/android-developer/answer/7002270) from Google Play Console shows following warning for LG G6 and Huawei Mate 9 devices:
**Frozen frames 66.67% of the frames took longer than 700ms to render**

This warning is generated when the game is showing a static splash screen (no background data

[2018-09-18 18:15] sonyps5201314 opened #19055 "cocos2d::Data: prevent use after free. (#19034) is a bad commit"
- cocos2d-x version:git latest
- devices test on:win32
- developing environments
   - VS version:vs2017 15.8.4

Steps to Reproduce:
If a project contain a Timeline csb,cocos will crash. Because Data::copy was broken by modified.
![qq 20180919020035](https://user-images.githubusercontent.com/20564099/45706829-d6aaf880-bbaf-11e8-902d-78964c37b0fe.png)
As you see,after clear() was called,_size is 0,b

[2018-09-18 18:33] sonyps5201314 commented on #19055
Follow is a temp patch. you can think it over for stability(仔细斟酌下以力求稳定).I am not sure it is a perfect solution.
[code]

[2018-09-18 21:23] sonyps5201314 commented on #19039
都是中国人，我直接说中文吧，说英文费劲。出问题的代码是在CCTextureAtlas.cpp，你上面说那个意思是说没有在EVENT_RENDERER_RECREATED事件时重建OPENGL对象，但是我看CCTextureAtlas.cpp中已经做了相关处理的，会捕获EVENT_RENDERER_RECREATED事件，并创建OPENGL对象，但是这个EVENT_RENDERER_RECREATED事件，从未触发过，沿着这条思路，我通过下断点，及对已有知识的基础上进行猜测。修改了AndroidManifest.xml文件，先是去掉了新近添加的android:launchMode="singleTask" android:taskAffinity=""，结果无效，还是不被触发；接着我去掉了android:configChanges中的screenSize，好了问题解决了EVENT_RENDE

[2018-09-18 21:33] sonyps5201314 commented on #19039
但是沿着@drelaptop的这条日志：E/libEGL: call to OpenGL ES API with no current context (logged once per thread)，我觉得可能是OPENGL上下文丢失了，或者无效了。导致的问题。因为我看接下来TextureAtlas::setupVBOandVAO()中调用的OPENGL API都是失败的。可能只需要重建OPENGL 上下文就好了。而不是需要重新OPENGL表面。我估计android:configChanges中加了screenSize时，OPENGL表面不会丢失，但是OPENGL上下文依然会丢失，需要重建。不过我其实不懂OPENGL，可能猜测得也有问题。我也不知道这个上下文丢失，能不能捕获到。你们仔细斟酌后，决定看怎么改吧，改了记得多拿几个手机测试下，不光是安卓。也不光是这个问题，也要看改了这里，其他地

[2018-09-18 22:48] sonyps5201314 commented on #19039
不过真的也很奇怪，改了之后，每次分享之后，创建的Text的位置都会往上移动几个像素。代码都是一样的，写死了的坐标也会移动。
Translated by google:
But it's really weird. After changing it, after each share, the position of the created Text will move up a few pixels. The code is the same, and the coordinates that are written dead will also move.
[code]
下面是效果图，请解压后查看，文字是“热 卖”，每次分享后都往上面移动了。
[微信图片_20180919063931.zip](https://github.com/cocos2d/cocos2d-x/files/239

[2018-09-19 00:59] minggo commented on #19039
Please paste translated english too. cocos2d-x is a world cross project, it is not only used in China. I will close this issue if you continue speaking only Chinese here.

[2018-09-19 09:29] gestern commented on #19053
All the same and I confirm that the problem exists, it is especially strange that the problem exists on the supposedly fastest C++ 2d-engine.
![image](https://user-images.githubusercontent.com/1861589/45744464-4a2c2480-bc07-11e8-8268-ebc2125a8959.png)
I think should not talk about how Google reacts to lazy games on Play Store?

[2018-09-19 10:05] #18725 closed, assigned to PatriceJiang

[2018-09-19 10:19] #19019 closed, assigned to nobody

[2018-09-19 13:39] sonyps5201314 commented on #19039
I already translate them above.

[2018-09-19 15:07] woc2006 opened #19057 "Cocos2dx build failed with XCode 10"
- cocos2d-x version: Latest
- devices test on: macOS 10.13.6
- developing environments
   - Xcode version: 10

![image](https://user-images.githubusercontent.com/1716430/45762213-72943d00-bc60-11e8-87a0-25c4f547cac7.png)

![image](https://user-images.githubusercontent.com/1716430/45762297-a5d6cc00-bc60-11e8-87ab-803acd42f415.png)

Looks like xcode 10 can't find headers in cocos/platform/mac

[2018-09-19 19:39] tankorsmash opened #19058 "CCFileUtils-win32::isFileExistInternal fails on a directory, while CCFileUtils-linux's doesn't"
Windows: https://github.com/cocos2d/cocos2d-x/blob/b26e1bb08648c11a9482d0736a236aebc345008a/cocos/platform/win32/CCFileUtils-win32.cpp#L151

Linux: https://github.com/cocos2d/cocos2d-x/blob/b26e1bb08648c11a9482d0736a236aebc345008a/cocos/platform/linux/CCFileUtils-linux.cpp#L122

The C++ file to test the result of `stat` on linux, `result` is 0 on a dir that exists:

[code]

whereas `attr = GetFile

[2018-09-19 19:40] gestern opened #19059 "A couple things about new "thread-safary" code of CCFileUtils.cpp, etc"
First of all I can't figure out the purpose for which these changes were made? What is the purpose of capturing a recursive mutex for further reading the values of class member variables and capturing for writing? For example: https://github.com/cocos2d/cocos2d-x/blob/f8ed20e4b3bf74f0812e019d58d823d72ef8d4a9/cocos/platform/CCFileUtils.cpp#L922-L926

Why is it now impossible to access I/O operation

[2018-09-19 19:53] crazyhappygame commented on #19059
1. Could you share your regressions tests?
2. Please grep for performOperationOffthread - basically each file operation can be done in async way. Before there was race condition if some one call async (new thread) and sync (main thread) operation
3. I agree that recursive_mutex should not be used at all. Probably better would be to just use std::mutex when needed. But that will require to re-desig

[2018-09-19 20:00] crazyhappygame commented on #19055
@minggo @PatriceJiang could you revert or fix https://github.com/cocos2d/cocos2d-x/pull/19034 ?

[2018-09-19 20:45] crazyhappygame commented on #19059
4. Most probably instead of mutex it should be possible to reorganize code in that way that only I/O (read/write file) operations are run in separate thread and other operation e.g. read/write  _searchResolutionsOrderArray are done in main thread

[2018-09-19 20:59] crazyhappygame commented on #19055
I think that Data class (with memcopy, malloc) should be rewritten or even replaced carefully by e.g. std::string

[2018-09-20 01:27] DeRealMorgan commented on #17949
Finaly I came to this issue file.

Thanks for stating this one year ago!

Good to see that it is not fixed by now, it just took me 2h to figure out that it isnt actually my fault.

[2018-09-20 01:31] minggo commented on #19055
@sonyps5201314 thanks for the information. github latest codes can not ensure stable, you'd better use released versions. But yep, we should do more test before sending a PR, and it is better to do auto test as most as possible.

[2018-09-20 02:30] PatriceJiang commented on #19058
This bug was fixed in a recent PR.
https://github.com/cocos2d/cocos2d-x/pull/19044/files#diff-cb65223cd3edf30671fefad4a1883edf

I think the Linux version of `isFileExistInternal` should not accept a folder, cause `isDirecotryExistInternal` exists at the same level.

[2018-09-20 02:35] tankorsmash commented on #19058
That does seem to be the case, thanks! So this is fixed in https://github.com/cocos2d/cocos2d-x/pull/19044

[2018-09-20 02:36] #19058 closed, assigned to PatriceJiang

[2018-09-20 04:00] PatriceJiang commented on #19058
similar issue https://github.com/cocos2d/cocos2d-x/issues/18835

[2018-09-20 07:18] #10511 closed, assigned to PatriceJiang

[2018-09-20 07:19] #19055 closed, assigned to PatriceJiang

[2018-09-20 19:44] gestern commented on #19059
First of all I want to describe a typical scenario for the game. The introductory data are such that I proceed from the fact that the **average duration of a gaming session is approximately 15 minutes**. During this time, the typical behavior is that if the game has any analytics uploaded to the server mediation data as well as data on the game events (the state of sound and music, etc.), then for

[2018-09-20 20:22] crazyhappygame commented on #19059
@minggo @PatriceJiang FileUtils std::recursive_mutex impact significantly performance of I/O operations 15% -26%. Could you fix it?
I think that we should remove FileUtils mutex at all and reorganize FileUtils in that way that update of all FileUtils members is done in main thread and performOperationOffthread are only I/O operation (e.g. file read/write).

[2018-09-21 01:49] minggo commented on #19059
@gestern the purpose of the codes is to make FileUtils thread safe as it may be used in other thread. As the performance is critical for cocos, so i think 15% performance dropped is not acceptable. So there are two choices:

* use mutex as needed
* revert the PR, developers should do thread safe related file operation themselves

[2018-09-21 07:43] gestern commented on #19059
There are a lot of solutions here by adding "more security" (I say in quotes because I take it as a rule not to use significant IO operations during render cycles. Thus, due to proper design, I avoid the problem with a possible race in these operations) without dropping the performance via applying architectural solutions:

1.  To be able to apply a strategy design pattern to `FileUtils` class and

[2018-09-21 17:40] v1993 opened #19069 "What is C++ version for cocos?"
I want to do some contribution to cocos2d-x, but not sure about using `std::make_unique`.

Is it ok to use c++14 or not?

[2018-09-21 18:27] crazyhappygame commented on #19059
@minggo @PatriceJiang I checked few async call from FileUtils and for me it seems like some of them does not need lock at all (like example below). Other async call can be refactored in that way that all FileUtils members updates are done in main thread and only I/O operation is in separate thread
[code]

[2018-09-22 00:24] #19057 closed, assigned to nobody

[2018-09-22 15:11] fleon opened #19071 "cc.audioEngine does not consider cc.loader.resPath on Android"
- cocos2d-x version: 3.17
- devices test on: iOS, Android

Steps to Reproduce:

If I am using `cc.loader.resPath`, all files loaded by `cc.loader` are relative to that path, except for all audio (sfx and music) files on Android, in which case they are absolute. Because of that I have to use the below logic in my code:

[code]

The above code is in JS, but the core issue lies in the C++ version of

[2018-09-24 04:23] deguilardi commented on #18342
I have used the "two players" workaround for years now. After so much time, I think this could be an acceptable solution. The solution described on the forum topic above generates some issues. I solved them with this following final implementation on my Cocos2dxMusic.java:

[code]

[2018-09-24 15:44] Anywhere-Music-Player commented on #18920
@minggo @drelaptop this actually requires a lot of fixes, so better to start now, otherwise when `ALWAYS_SEARCH_USER_PATHS` will be removed from Xcode, means it set to `NO` - cocos2d-x will FAIL to build with 100+ errors.

[2018-09-25 03:06] drelaptop commented on #19069
All the build with c++11 standard for now. No c++14 feature was used.

is the c++ 14 feature supported well by compilers, included android NDK & GCC ?

[2018-09-25 11:54] v1993 commented on #19069
I even use C++17 which is 100% supported by android and linux. Most probably by windows and apple OSes too. We will have to replace some things in build files.

@drelaptop Can you check it or I'll have to do pull request by myself? I'm quite busy now, so one or two month later.

[2018-09-26 01:35] PatriceJiang commented on #19059
I have executed the use case several times in a row, and I found that even when the same code is executed multiple times, the output can be very different.

Below is a plot of the `avg2` data generated on the IOS. Whether it's locked or unlocked, you'll find that the results are overlapping. (I also got similar results on the MAC.)

![ios_all](https://user-images.githubusercontent.com/40414978/460

[2018-09-26 02:16] drelaptop commented on #19069
refer to https://en.cppreference.com/w/cpp/compiler_support , we can found 99% of the C++14 features was supported by GCC & Clang & MSVC .

if we decide to update from C++ 11 to C++ 14，developer will need update GCC 4.9 to 5.0+, VS2015 to VS2017. So do we need it? I invite @minggo @PatriceJiang to share options.

[2018-09-26 02:40] minggo commented on #19069
If C++ 14 is well supported, i think it is ok to update to it. But it is not urgent, we can support it in next version(the version after 3.18).

[2018-09-26 06:11] xingshh opened #19076 "cursor is overlap with letter"
- cocos2d-x version:3.15
- devices test on:win2010
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:2013
   - browser type and version:

Steps to Reproduce:

1. in textfield edit box, input 0123
2. the cursor overlap with letter a little  0 or  3

in lable.cpp the function, the cursor position px =  letterInfo.positionX + uvRect.size.width / 2 + _linesOffsetX[letterI

[2018-09-26 11:30] gestern commented on #19059
Ready to suggest that this happens because you are making dependent measurements, influenced by multiple factors, for example [Page replacement algorithm](https://en.wikipedia.org/wiki/Page_replacement_algorithm) or/and [Branch predictor](https://en.wikipedia.org/wiki/Branch_predictor). I am now talking about the volatility of the chart relative to the x-coord. But without seeing the final code (l

[2018-09-26 19:25] solodon4 commented on #8222
Here is a non-intrusive transition adapter class I’ve created that allows one to pop scene with transition without having to change any of the cocos2d sources: http://bit.ly/cocos-pop-transition-hpp.

The idea is to get previous scene from the Director's scene stack, push it again onto the stack with desired transition and then once the transition is over pop 2 scenes off the stack (the previous o

[2018-09-27 01:26] PatriceJiang commented on #19071
`cc.loader.resPath` is not used for audios.
https://github.com/plter/Cocos2d-x-js-3-docs/blob/master/Cocos2d-JS/Features/cc-loader/en.md#respath

[2018-09-27 04:15] haingo-nama opened #19077 "Crash in TextureAtlas::drawNumberOfQuads on Android Nougat"
We see crashes from our new game caused by TextureAtlas::drawNumberOfQuads on Android Nougat (7.x) devices. I can find similar issue here https://github.com/cocos2d/cocos2d-x/issues/18743 but it doesn't seem to have adequate information for the cocos developer to fix it.

When the game was under development, we could reproduce the crash on Samsung Galaxy S6 Android 7.0 with CC_TEXTURE_ATLAS_USE_VA

[2018-09-27 12:04] crazyhappygame commented on #19077
Try change ndk to ndk16. All Android prebuilds wers built with ndk16

[2018-09-28 03:15] haingo-nama commented on #19077
Thank you, we will try with NDK 16.

Please note that it will take some time get the results as we need to release the game then check if the crash is still there on users' devices or not.

[2018-09-28 07:20] haingo-nama commented on #19077
So we built the game with NDK16 and the crash still happens. With CC_TEXTURE_ATLAS_USE_VAO = 1, the crash happens more often. With CC_TEXTURE_ATLAS_USE_VAO = 0, the crash doesn't happen any more on Galaxy S6 Android 7.0, but it still on our Xiao Mi Redmi 5 Android 7.1.2.

I'm guessing this is not caused by NDK. We'll try with any other suggestion you give.

[2018-09-28 07:26] crazyhappygame commented on #19077
latest github version especially this pull request https://github.com/cocos2d/cocos2d-x/pull/19013 + ndk16?

[2018-09-28 08:13] haingo-nama commented on #19077
Yeah we will try that. But we might have to give you update next Monday as pulling the latest github and build the game with it is not a trivial task while it's now Friday afternoon our time.

[2018-09-29 01:32] drelaptop opened #19080 "Stuttering movement and black screen on macOS 10.14 & Xcode 10"
- cocos2d-x version: 3.17

https://discuss.cocos2d-x.org/t/stuttering-movement-and-black-screen-on-macos-10-14-mojave-and-cocos2d-x-3-17/43860

https://discuss.cocos2d-x.org/t/xcode-10-and-clion-black-screen/43780

I think newer issues on Xcode 10 or macOS 10.14 should be solved before next release.

[2018-09-29 02:03] PatriceJiang commented on #18835
This issue is fixed in https://github.com/cocos2d/cocos2d-x/pull/19044/files#diff-cb65223cd3edf30671fefad4a1883edf  and can be closed. @drelaptop

[2018-09-29 02:31] drelaptop commented on #18910
Cocos2d-x didn't support __Audio Record__ , no plan to do it recently.

you can custom this feature as your need on iOS, but I don't think it's proper to add it internally.

[2018-09-29 02:32] #18910 closed, assigned to nobody

[2018-09-29 14:37] Anywhere-Music-Player commented on #19080
Interesting, same issue happened for me for cocos2d-iphone, because I'm using SpriteBuilderX.
When launching it - no OpenGL view seen, nothing drawn.

I have no idea why it's happening. Tried to change OpenGL view settings, but nothing helps..

[2018-09-29 14:38] Anywhere-Music-Player opened #19084 "Site down: http://forum.cocos2d-objc.org"
http://forum.cocos2d-objc.org will be hosted or abandoned now fully?

[2018-09-29 14:58] Anywhere-Music-Player commented on #19080
@drelaptop @minggo I think I found whats the problem https://github.com/glfw/glfw/issues/1334
also https://github.com/hajimehoshi/ebiten/issues/691 looking this cause it. However, I'm not sure.

[2018-10-01 04:21] stevetranby commented on #18920
Mainly need to move the platform-specific paths for the prebuilt third-party libraries from USER_HEADER_SEARCH_PATHS to  HEADER_SEARCH_PATHS and fix up any related issues, likely change any unwanted "" to <> for include paths.

I was able to get up and running with not too much work beyond those changes to build settings. I did find `tinyxml` and `xxhash` as examples of non-platform-specific inclu

[2018-10-02 09:46] haingo-nama commented on #19077
So we tried with latest github and NDK 16. The same crash still happens.

[2018-10-02 11:36] stevetranby commented on #19080
I think I was able to hack around this issue following other's advice that the context needs to be updated. If you haven't already got it working, let me know if this works for you and if you have any thoughts.
_[MacMini, Mojave 10.14.0, XCode 10]_

CCApplication-mac.mm
[code]

CCGLViewImpl-Desktop.h
[code]

CCGLView.h
[code]

[2018-10-02 11:40] Anywhere-Music-Player commented on #19080
I just used Xcode 9. Everything works perfect in it, nothing needs to be changed.
Also, I reported bug to Apple, will see what's happened next. However, I reported only about cocos2d-iphone and SpriteBuilderX app.

Here is info about combinations I tested also:
- Xcode 10 + 10.14 = BUG
- Xcode 10 + 10.13.6 = all ok
- Xcode 9( 9.4.1 tested only ) + 10.14 = all ok
- Xcode 9( all versions ) + 10.13.6

[2018-10-02 11:51] stevetranby commented on #19080
@KAMIKAZEUA yeah XCode10+Mojave specific issue. Works fine without hack on XCode10+HighSierra. Probably a bug by Apple. Strange for sure.
(I edited my prev. response to say "hack" instead of "fix", heh)

[2018-10-02 11:52] Anywhere-Music-Player commented on #19080
Thanks. Well, for now I can use Xcode 9 :) I hope Apple will take a look at my bug report and fix this in new Xcode. Also, I tested on 10.1 beta - same.

[2018-10-03 04:51] haingo-nama commented on #19077
Seems like we found a solution for this issue. The problem might be the callback function is triggered after the video is closed (after fully watched). That callback **alters the scene** (add/remove some nodes) and is triggered in the thread managed by 3rd party ads sdk and different from the update thread. We suspect this is the root of the problem. So we decided to have an (atomic) variable indi

[2018-10-03 16:24] banrenma opened #19086 "setDefaultAlphaPixelFormat rgb888 instruments show memory large than setDefaultAlphaPixelFormat rgba8888, why?"
- cocos2d-x version: 3.17
- devices test on:iphone7
- developing environments
- xcode:10.0
- system: macos mojave
Steps to Reproduce:

1. I create some sprite,  debug on my iphone7,   instruments show memory: 100m
2. setDefaultAlphaPixelFormat rgb888, instruments show memory: 130m
I can not understand?

<img width="713" alt="image" src="https://user-images.githubusercontent.com/7576010/46424447-b9

[2018-10-03 18:14] Kingurus commented on #17315
Still happening in version 3.17. It is not the same as the SIGPIPE issue. This is happening only on ios when you have a websocket open (mine is ssl) and your iphone screen goes off/idle, or you click the button for sleep/idle, about 5-7 seconds after the phone screen goes black, the websocket is disconnected and no events are fired. When you bring back the app, the websocket still thinks it is "OP

[2018-10-03 20:19] gestern opened #19087 "ListView create a huge number of draw calls for overlapped objects"
- cocos2d-x version: **ALL**
- devices test on: **ALL**

**Steps to Reproduce:**

1. It is enough to create a more or less expensive content (it is what will later be inserted as a function parameter of `ui::ListView::pushBackCustomItem()` or `ui::ListView::pushBackDefaultItem()`) in the `ui::ListView`.
2. `Render` spends GPU time on `ListView` content objects (its childs) that are outside the ren

[2018-10-04 07:11] Kingurus commented on #17315
Hi again, I think it is a bug so here are the full details. I'm using cocos2d-x 3.17 which includes lws 2.1.0. My app connects with wss to the server. it is working well on android/ios/win32/web. but only on ios (I'm using Xcode 9.2/iphone6 on wifi), when the app becomes inactive (when iphone goes idle or sleep/idle button pressed), wss disconnects silently immediately when screen goes black (5-7

[2018-10-06 15:41] CocosDeveloper541 commented on #18705
On the latest commit (29 september 2018) and NDK 18 the issue is still exists.
(Particles, emulator, BLACK SCREEN)

OpenGL error 0x0502 in ...\cocos\renderer\CCRenderer.cpp restoreRenderState 188
OpenGL error 0x0502 in ...\cocos\renderer\CCRenderer.cpp restoreRenderState 188
OpenGL error 0x0502 in ...\cocos\renderer\CCRenderer.cpp saveRenderState 158
OpenGL error 0x0502 in ...\cocos\2d\CCDrawNode.

[2018-10-08 02:40] #17623 closed, assigned to PatriceJiang

[2018-10-08 02:42] #18997 closed, assigned to PatriceJiang

[2018-10-08 03:50] #18620 closed, assigned to PatriceJiang

[2018-10-08 06:41] Volodar commented on #19080
Thanks!

[2018-10-08 07:54] EricDDK commented on #19086
![pixel_image](https://user-images.githubusercontent.com/33505774/46597428-9c7ba980-cb12-11e8-8e88-3e8eec6f4246.png)

[2018-10-08 09:41] aqaq1990123 commented on #19077
did you fix it?

[2018-10-09 06:58] lyzz0612 opened #19096 "multi-ClippingNode will use the same alphaThreshold"
- cocos2d-x version: 3.15, lua
- devices test on: ios/android

see the following code:
[code]
the top ClippingNode setAlphaThreshold(0.6), 0.6 should be larger than the opacity of stencil_file_translucent. you will see the clipBottom looks not as expected. change clipTop's alphaThreshold, it seems clipBottom follow the change.

I checked the code of ClippingNode:
https://github.com/cocos2d/cocos2d

[2018-10-09 09:21] MrCapone commented on #11742
I've got this error when trying create Label from another thread. Check your code and try found why you get this error. I use cocos2d-x version 3.17.

[2018-10-09 14:03] zzyAZU opened #19099 "memory leak in ScrollView"
- cocos2d-x version:3.17 newst on git hub
- devices test on:all platforms
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
1. scroll the scrollview
2. when the scrollview is scrolling remove the node from running scene

its member _animatedScrollAction leak

how i fix it:
ScrollView::~ScrollView()
{
    if (_animat

[2018-10-09 17:21] #19087 closed, assigned to nobody

[2018-10-09 17:22] #19059 closed, assigned to nobody

[2018-10-10 03:54] G0561 opened #19100 "iphone xs 等发布了，是不是又要出新版本适配呢"
iphone xs 等发布了，是不是又要出新版本适配呢

[2018-10-10 05:43] drelaptop commented on #19100
AFAIK ,no difference with iPhone X

[2018-10-10 05:43] #19100 closed, assigned to nobody

[2018-10-11 02:06] haingo-nama commented on #19077
Hi everyone, the crash is gone with the solution we mentioned above. We don't see this crash coming from users in Google Play Console any more. I think we can close this issue now :)

Thank you for your support.

[2018-10-11 02:43] 190420456 opened #19102 "Can items in PageView be recycled?"
For example, just create three ITEMs and refresh the view in ITEM each time you slide.

[2018-10-11 02:43] 190420456 opened #19103 "The Editbox shows a problem on Huawei mate9."
When the keyboard pops up, the screen is stretched and the resolution is wrong.

[2018-10-11 02:44] 190420456 opened #19104 "TableView lacks event listeners that slide to the bottom or head."
For example, sliding to the bottom, you can listen to this event, and then send a new data request to pull data.

[2018-10-11 02:44] 190420456 opened #19105 "TableView Can each cell listen for events that slide to the left or right?"
For example, TableView scrolling up and down, each cell can listen to events that slide left and right. When sliding left and right, TableView will not move up and down.

[2018-10-11 02:45] 190420456 opened #19106 "When using the custom font file xxx.ttf, if a word does not exist in the font, it will not be displayed. Can you use the system word instead?"
When using the custom font file xxx.ttf, if a word does not exist in the font, it will not be displayed. Can you use the system word instead?

[2018-10-11 06:15] gestern commented on #19106
@190420456 What do you mean when you say "the word does not exist in the font"? The font file contains letters ([glyphs](https://en.wikipedia.org/wiki/Glyph_(typography))), not words, if any letter is missing in the font file, it is replaced with a special character `.notdef` [glyph](https://docs.microsoft.com/en-us/typography/opentype/spec/recom#glyph-0-the-notdef-glyph). Sometimes `.notdef` glyp

[2018-10-11 06:38] gestern commented on #19103
@190420456 You are right and you should yourself determine the behavior of your game in this case, since there are two more cases:

1. The physical size of the keyboard is determined by the choice of the type of input field (for example, for the types "email" or "only numbers" - the dimensions will be different (and unknown to you in advance and determined by the operating system for end-user devi

[2018-10-11 06:42] 190420456 commented on #19106
For example, there is a font file xxx.ttf which only contains "abc" three letters. When the text of a label is "abcdef", "abc" uses the xxx.ttf font, "def" uses the system font.

[2018-10-11 07:10] gestern commented on #19106
@190420456 Firstly there is no system font. For each operating system, there is a set of licensed fonts that the creators of these fonts bought from the font manufacturer and installed. I want to note that the number of pre-installed fonts strongly depends on the version to version. For Windows systems, these are typically [Monotype](https://www.monotype.com/fonts/) fonts, and [Linotype](https://w

[2018-10-11 07:37] gestern commented on #19102
@190420456 If you meant the word "item" for "page", then you can delete (recycled?) a page by calling the function `PageView::removePage(Widget* page)` or `PageView::removePageAtIndex(size_t index)` at any time.

[2018-10-11 08:56] KAMIKAZEUA commented on #19084
Best admin ever? @slackmoehrle

[2018-10-11 15:30] laneyZ opened #19110 "The glfw or glew functions was disabled when uesd outside the cocos2dx source code such as in a custom-Scene which inherited cocos2d::Scene"
- cocos2d-x version:3.17
- devices test on:win32
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:2017
   - browser type and version:

Steps to Reproduce:
1. Forgive me for my poor English and I am not sure whether it was a bug or I was wrong somewhere.
2. Create a custom.cpp file,#include "cocos2d.h“
3. Call glfwInit() in this file before "GLViewImpl::createWithRect

[2018-10-12 00:33] deguilardi commented on #18705
What is your cocos version?

[2018-10-12 19:00] Anywhere-Music-Player commented on #19080
My bug(mentioned before) closed as duplicate, I was not first :) who reported that.
So waiting for some new version of Xcode. Looks like problem in it, but I'm thinking that this could be also Mojave. Anyway, best what I can do is keep updated both.

[2018-10-13 05:26] chongchaoyu opened #19114 "RichText can't load image from plist when ignoreContentAdaptWithSize is false"
- cocos2d-x version: cocos2d-x-js 3.17
- devices test on: mac simulator
- developing environments
   - NDK version: r16b
   - Xcode version: 10.0 (10A255)
   - VS version: -
   - browser type and version: -

Steps to Reproduce:

1. create star.plist and load it
2. Type the followings code, then run it.
![1](https://user-images.githubusercontent.com/12747983/46901746-8479a080-ceeb-11e8-8ccd-afe5900

[2018-10-13 12:08] Glidos opened #19115 "Depth buffer problems on Android - regression in 3.17 compared with 3.15.1"
- cocos2d-x version: 3.17
- devices test on: Galaxy S6 (Android 7.0)
- developing environments
   - NDK version: 16b
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/a

Steps to Reproduce:

1. Freshly installed Android Studio as of 13/10/2018 v3.2.1
2. Freshly downloaded cocos2d-x v3.17 unarchived to the root of the C drive
3. Open ccptests project and allow Android St

[2018-10-13 12:14] Glidos commented on #19115
I left out step 2.5. run setup.py within the cocos2d-x directory (not bothering to specify sdk, ndk and ant paths because I believe they are no longer needed when using Android Studio.)

[2018-10-13 15:54] JasonBaby87 commented on #9854
Hi there,

I just thought I'd bump this up since I'm writing a music game, and the precision is pretty important for it.

[2018-10-15 01:08] slackmoehrle commented on #19084
I am not the admin of those forums. Thanks for reaching out. I talked to the admin and they decided to take them offline.

[2018-10-15 01:10] #19084 closed, assigned to nobody

[2018-10-15 02:21] drelaptop opened #19116 "3.17 external update request, include solve Lua issues"
- cocos2d-x version:3.17
- devices test on: request by forum

1. NDK 18 stable have been published, consider to update android external built tool to NDK 18
2. Lua crash when use 3.17, but not older versions, possible external issues

### thread

Lua issues,

- may be caused by https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/pull/160
- developer report this at Chinese forum, http://forum.c

[2018-10-15 02:31] drelaptop commented on #19116
I have doubt on this commit https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/pull/160/commits/c7ce4f6ae9de5fddc7b76ff73c81ef628a655b96

when compile `luajit`, why use `gcc` directly, is it a cross-compiler ? change it to compiler same with others will trigger what errors.

could you research this when you free. @PatriceJiang

[2018-10-15 02:36] PatriceJiang commented on #19116
👌， pls assign this issue to me

[2018-10-15 08:36] KAMIKAZEUA commented on #19084
@slackmoehrle sorry, who is that admin and who is they?

[2018-10-15 14:05] slackmoehrle commented on #19084
If you have questions, please direct them to me.

[2018-10-15 14:11] KAMIKAZEUA commented on #19084
Thats what I did, you don't want to answer?

[2018-10-15 14:16] slackmoehrle commented on #19084
Ha, no. You will just e-mail them in the charming way that you do and not leave them alone if you don't get what you want. If you have questions about those forums, please ask me.

[2018-10-15 14:18] KAMIKAZEUA commented on #19084
I'm asking just - who exactly you talked to, who decided to take site offline?

[2018-10-15 14:37] slackmoehrle commented on #19084
I talked to the former admin and there was a conversation with team member that was such that those forums cost a lot to run, mostly spam and answers generally available on SO. They were taken down. We added an Obj-c category to our other forums for the one-off-questions.

[2018-10-15 17:43] KAMIKAZEUA commented on #19084
Again and again you can't simply answer: who exactly that was?

[2018-10-16 02:31] PatriceJiang commented on #18800
Since `_material` is a field of `PhysicsShape` and multiple shapes may co-exist in one `PhysicsBody`,
it should be updated through methods like
[code]
We don't need a new `setMaterial` method on `PhysicsBody`.

[2018-10-16 03:14] PatriceJiang commented on #19114
I read the code of `createWithXML` and did some test on my machine. I found that the parameter `type` is misused.

https://github.com/cocos2d/cocos2d-x/blob/f3ef6b80dece594d58523e893e56fb1a8c3c5bcf/cocos/ui/UIRichText.cpp#L438-L444

so, if you are going to load `star.png` from disk, you should set `type="0"`

[2018-10-16 03:54] chongchaoyu commented on #19114
I don't want to load star.png from disk, I want to load it from plist. But If I set ignoreContentAdaptWithSize=true, RichTextUI JUST try to load star.png from disk, the type is ignored, as the followings code, you can find RichTextUI doestn't try to load sprite from plist, `Sprite* imageRenderer = Sprite::create(filePath);`
![e8f9352b9c4f490232d197f41d824bec](https://user-images.githubusercontent.

[2018-10-16 04:55] iwifigame opened #19120 "EventDispatcher doesn't remove unused listener data in event hander"
- cocos2d-x version: 3.17
- devices test on: win32 lua
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
when call  cc.Director:getInstance():getEventDispatcher():removeAllEventListeners() in event hander function, it doesn't remove
listener data from EventDispatcher._listenerMap。Because _inDispatch is 1 as bellow.

[2018-10-16 05:01] PatriceJiang commented on #19114
I did met this issue when I invoke `richText->ignoreContentAdaptWithSize(false)` rather than `true`. Can you confirm it?

[2018-10-16 05:12] chongchaoyu commented on #19114
Oh, yes, you are right. I confirm that when `richText->ignoreContentAdaptWithSize(false)`, this issue occurs.

[2018-10-16 05:21] PatriceJiang commented on #19114
Can you please fix the titles of this issue and related pr.

[2018-10-16 05:33] chongchaoyu commented on #19114
Done, thanks:)

[2018-10-16 06:27] parrieta83 opened #19121 "Leak on cocos2d::Terrain::setLightMap ?"
- cocos2d-x version: 3.17

Shouldn't the temp Image instance created inside cocos2d::Terrain::setLightMap be deleted before exiting the function?

![missing_delete](https://user-images.githubusercontent.com/40578632/46996088-c411d980-d0f1-11e8-824f-a15d1022ce49.png)

[2018-10-16 08:31] minggo commented on #18800
There already has the method: https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/physics/CCPhysicsShape.cpp#L107

[2018-10-16 08:31] #18800 closed, assigned to nobody

[2018-10-16 08:38] #11154 closed, assigned to PatriceJiang

[2018-10-16 08:52] xshagg commented on #18469
Did you figured out why this crash appears? I have several crashes only on Galaxy SX/JX devices, but can't even repeat it.

[2018-10-16 09:00] #18697 closed, assigned to nobody

[2018-10-16 09:06] #17949 closed, assigned to minggo

[2018-10-16 13:16] slackmoehrle commented on #19084
I don't want to give out their contact information without their permission. You come off to strong and the last thing I want to do is put you in contact with them and have you harass them like you do other members of our team.

Whatever you need to ask them, you can ask me.

[2018-10-16 13:19] KAMIKAZEUA commented on #19084
You don't listening me. Read carefully.
1. I'm asking any personal info
2. I already know who admins are and already contacted them before in a past
3. This your answers make no sense.
4. I just know cocos don't have a money to support ObjC site.
5. Silly.

[2018-10-16 13:23] slackmoehrle commented on #19084
If you are unhappy with my answers then why continue this conversation. I told you the reasons why and the gist of conversation that was had by members of our team and the admin.

1. Site was a lot of SPAM
2. It costs money to run that we didn't feel was a good use.
3. SO seems like a suitable replacement for most questions now
4. We added an Obj-c category to the other forums to help with any rar

[2018-10-16 13:25] slackmoehrle commented on #19084
Cocos2d-objc hasn't been supported in years really. Everyone should move to -x or Creator.

[2018-10-16 13:51] KAMIKAZEUA commented on #19084
I'm not about only ObjC version...

[2018-10-16 13:58] slackmoehrle commented on #19084
You are entitled to your opinions. This issue is now closed.

[2018-10-16 14:07] gestern opened #19124 "Is it worth remaking the existing architecture of EditBox?"
Every time I get shocked by the current implementation of `ui::EditBox`.

- This architecture conflicts not only with the understanding of the [Impl pattern](https://octoperf.com/blog/2016/10/27/impl-classes-are-evil/) (_by the way I would still be able to accept this approach if the component were implemented as a low coupling service, but it is not as such because it has a high coupling with bun

[2018-10-16 18:28] andres-blanco commented on #18020
I've just tested with 3.17 and the problem still persists. This is very serious

@drelaptop was there any progress in finding/fixing this issue?

[2018-10-16 21:54] KAMIKAZEUA commented on #19084
Yea sure, thats why you ban me on forums when I posting my opinion and any other developers.
You close/hide/remove any topics from any other developers who telling their opinion about real state of cocos2d-x and ask typical question like: "Is Cocos2dx going to shut down".
You think this will change anything? It's just a pity to look at. Do something useful, like a new C ++ tutorial for example.

[2018-10-16 22:12] slackmoehrle commented on #19084
Again, you are entitled to your opinion. If you disagree with the scope and vision of our products you can choose another game engine.

[2018-10-16 22:20] slackmoehrle commented on #19084
Again, as I have stated, you are entitled to your opinion. It doesn't mean that everyone has to accept your opinion as fact. If you disagree with the scope and vision of our products you can choose another game engine.

[2018-10-16 22:26] slackmoehrle commented on #19084
Again, as I have stated, you are entitled to your opinion. It doesn't mean that everyone has to accept your opinion as fact. If you disagree with the scope and vision of our products you can choose another game engine.

[2018-10-16 22:37] KAMIKAZEUA commented on #19084
![200](https://user-images.githubusercontent.com/3391456/47051499-224fc280-d1ad-11e8-8ec0-4bd1b860ca0b.gif)

[2018-10-17 01:30] summerinsects commented on #19124
There is no classes requiring size when creating, but a truly exceptional class EditBox has special argument.

- refer the history of EditBox, it is from version 2.x, and it is called CCEditBox at that time and inherited for CCControl , so it has a strange size argument. cocos2dx team keeps it probably for code compatibility

[2018-10-17 22:34] bolso80 opened #19125 "UnsatisfiedLinkError: dlopen failed: cannot locate symbol “__aeabi_memclr” on devices with android 6.0"
When I run my app on some devices (ZenPad 8.0, Moto G (3rd Gen), Galaxy J2 Prim), all with android 6.0, on runtime has this error:

java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol “__aeabi_memclr” referenced by “/data/app/com.company.android.myapp-1/lib/arm/libcocos2dcpp.so”…
at java.lang.Runtime.loadLibrary(Runtime.java:372)
at java.lang.System.loadLibrary(System.java:1076)
at

[2018-10-18 01:00] #18698 closed, assigned to PatriceJiang

[2018-10-18 09:54] ayarami commented on #19125
Cocos2dx version?
Can you provide a demo project that we can reproduce those errors?
All devices with android 6.0 are affected?
developing environments? AS or Eclipse?
NDK version?

pls describe your issue in detail.

[2018-10-18 10:22] cx-github commented on #19099
i think ,you are right

[2018-10-18 14:23] gantana commented on #19125
Hi! thanks for the help, we are trying to fix this bug for days now.

Cocos2dx version?
3.17

Can you provide a demo project that we can reproduce those errors?
At the moment we can't reproduce the problem in a demo project, actually we don't have the problem in an empty project.

All devices with android 6.0 are affected?
Not all devices are affected, for example xiaomi redmi 3s with Android 6.0.

[2018-10-18 19:50] appakabar commented on #18705
I've also this kind of black screen with cocos2d-x 3.17 / ndk 16b / compile & target sdk 22 / tools version 27.0.3 / Android Studio 3.2.1 - on x86 emulators and due to a ParticleSystemQuad.

[2018-10-19 02:54] minggo commented on #19125
API 26 is android 8.0? You compiled with Android SDK 8.0, but run on Android 6.0, then it may have problem. So i think you have to change the PROP_COMPILE_SDK_VERSION to 23.

[2018-10-19 02:55] waitingchange commented on #17924
Hi,
We also has many crashes on this . We can only find in OPPO devices ,most of them are OPPO R11 series , including  R11 R11S R11T R11ST and R11 PLUS. The version number of android is 7.1.1 ,is there any solution to fix it ?

[2018-10-19 10:12] #11240 closed, assigned to nobody

[2018-10-24 06:20] minggo commented on #18020
Yep, the energy is high, it clears frame buffer many times which is not needed. I sent a PR to fix it https://github.com/cocos2d/cocos2d-x/pull/19131.

You can see that the energy of `cpp-empty-test` is still high. It is because:

* the FPS is 60
* it draws a full screen sprite
* it draws fps info in bottom left
* it draws a safe range area
* it draw a button in upper right

If you change to 30 FP

[2018-10-24 08:02] minggo commented on #18020
In theory, if the content of a scene is static(not changed), then should not redraw. As cocos2d-x doesn't consider it at first, so can not implement it easily.

[2018-10-24 08:34] kyriakos89 commented on #18020
"In theory, if the content of a scene is static(not changed), then should not redraw. "-> This is true. Our solution is not drawing the scene unless there is a change. However, our game has long static screens while user is not interacting. If you have continuous drawing, this solution is useless. Only dropping FPS might help.

In case you are interested about this solution i can provide some guid

[2018-10-24 13:15] Akhrorjon opened #19133 "Android. Crashes caused in CCActionInterval in Sequence::stop()"
- cocos2d-x version: 3.16
- devices test on: Galaxy S7, S8, S9, Tab A, ...
- developing environments
   - NDK version: r18

Steps to Reproduce:

1. We have developed several game applications for kids and every time has been facing crash reports from Android which indicates to CCActionInterval pointing to Sequence::stop() method:
********** Crash dump: **********
pid: 0, tid: 0 >>> com.bimiboo.pho

[2018-10-24 20:11] stevetranby commented on #19080
Besides wrapping this in a `#if XC10+10.14` you can also move the update call hack into its own loop that is only called a finite 2+ times (it seems 2 is enough).
[code]

[2018-10-25 08:33] G0561 opened #19134 "How can I modify the splash screen as myself picture - cocos2dx 3.17"
- cocos2d-x version: 3.17
- devices test on: iphone ipad
- developing environments
   - NDK version:
   - Xcode version: xcode 10
   - VS version:
   - browser type and version:

Steps to Reproduce:
How can I modify the splash screen as  myself picture，I change \proj.ios_mac\ios\LaunchScreenBackground.png but Does not work ， How can I  do？

[2018-10-25 08:33] Anywhere-Music-Player commented on #19080
With this current fix, I’m still seeing shuttering, but no black screen.

[2018-10-27 07:41] denghe opened #19136 "after Director::restart(), convertToGL's result become error"
- cocos2d-x version: 3.17
- devices test on: win10, gtx1060
- developing environments
   - VS version: 2017
Steps to Reproduce:

1.  create a new cpp project by wizard
2.  edit AppDelegate.cpp -- applicationDidFinishLaunching()

bool AppDelegate::applicationDidFinishLaunching()
{
      // ...... init gl

	auto v = cocos2d::Director::getInstance()->convertToGL({ 500,500 });
	std::cout << v.x << std

[2018-10-28 05:55] stevetranby commented on #19099
Feel free to submit a PR. Also, I would be surprised if there weren't a few more leaks of this nature. They're probably small enough that most games won't ever notice during even a long runtime, but always nice to fix even minor/infrequent leaks.
(also, there's a macro used for this)
[code]

[2018-10-28 13:03] denghe opened #19137 "when Director::restart(), EventListener release fail. numRefs == 2. memory leak"
- cocos2d-x version: 3.17
- devices test on: win10
- developing environments
   - VS version: 2017

Steps to Reproduce:
1. creeate a cpp proj by cocos wizard
2. put the following code at the AppDelegate -- applicationDidFinishLaunching()

	auto gScene = cocos2d::Scene::create();
	cocos2d::Director::getInstance()->runWithScene(gScene);

	auto s = new cocos2d::Sprite();
	s->initWithFile("hi.png");

[2018-10-28 13:35] #19137 closed, assigned to nobody

[2018-10-28 21:28] stevetranby commented on #19136
Try a breakpoint inside `convertToGL` and check what the `transform` and `glSize` are during both calls to that function. It works fine on my Mac ("500" "500").

[2018-10-29 06:58] Ander456 commented on #17924
so the problem is not resolved ?? @dumganhar

[2018-10-29 11:33] stevetranby commented on #19080
Yeah, looks like Apple broke VSYNC as well in the 10.14 + XCode10's OpenGL framework.
https://github.com/glfw/glfw/issues/1337

SDL maintainer has been posting on Mojave issues as well.
https://twitter.com/icculus/status/1047935131292450816

[2018-10-29 11:37] Anywhere-Music-Player commented on #19080
Ahh, I see now, Apple will kill OpenGL, thats for sure Metal is a new future 🤘

[2018-10-30 00:17] rh101 commented on #19134
You should be asking questions like this on the forums, not here.

https://discuss.cocos2d-x.org/

[2018-10-30 00:21] rh101 commented on #18995
An alternative suggestion, can the debug output be disabled by default and only enabled via a pre-processor define (one that can even be passed as a compilation switch via -D XYZ etc).

[2018-10-30 04:26] bouchard-industries commented on #8305
This issue seems to happen if you quickly create Labels after a unity ads shows up. This does not seem to have been fixed yet. Like @Kotaiba said, I can confirm that delaying the creation of Labels worked. Not the final solution but one solution in the meantime.

Temp fix example

In init: scheduleOnce(schedule_selector(Menu::SetupUi), 0.1f); //Delay the font creation.

void Menu::SetupUi(float un

[2018-10-30 21:32] Anywhere-Music-Player commented on #19080
Just tested:
Xcode 10 + 10.14.1 = BUG
Xcode 10.1 + 10.14.1 = BUG

~~No fixes from Apple and my bug report is not closed, so this issue hasn't been fixed~~

Got final update from Apple: this should be fixed in 10.14.2

[2018-10-30 21:35] Anywhere-Music-Player commented on #18980
@crazyhappygame sorry for late response, I just stop using cocos2d-x. It's dead for me.
No support, no fixes for years. Sadly.

[2018-10-31 08:03] drelaptop commented on #16939
https://github.com/cocos2d/cocos2d-x/pull/18753 fixed this times ago

[2018-10-31 08:03] #16939 closed, assigned to nobody

[2018-10-31 09:20] #19114 closed, assigned to nobody

[2018-11-01 06:44] denghe commented on #19136
i fixed it by myself.  add setGLDefaultValues(); to  void Director::restartDirector() is ok.

[2018-11-02 09:05] mars3142 commented on #19080
**This is fixed in 10.14.2**. I just installed the Developer Beta (10.14.2 Beta (18C31g)) and because of that, the issue can be closed.

[2018-11-02 10:39] drelaptop commented on #18914
I reproduce this issue on mac, and solved it in related PR.  @v1993

the reason is macro defines `CC_USE_PHYSICS` is different between app target and library target, I think it's cmake defect when set macro in older cmake style.

when I set macro define in modern style, for example:
[code]
the macro was set rightly on target `cocos2d` and targets which depend on `cocos2d`

[2018-11-03 09:01] ixiao opened #19140 "No file found at config.json. Possible missing file"
- cocos2d-x version: 2.3
- devices test on: iOS12.1 .  iPhone 7
- developing environments
   - NDK version:
   - Xcode version: 10.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  First run this App
2. log "cocos2d: fullPathForFilename: No file found at config.json. Possible missing file."

i have not idea

[2018-11-06 01:38] stevetranby commented on #19080
Blank screen is fixed, but it appears stuttering (and I believe vsync not enabled) is still present with a simple MoveBy animation. Maybe a new PR should be opened?

[2018-11-06 01:39] stevetranby commented on #19080
Also, it is still in beta so while I'm sure it will continue working, probably should confirm after official release.

[2018-11-06 01:40] drelaptop commented on #19080
Both are related, I can reopen this issue, and modify the title.

[2018-11-06 06:27] #18914 closed, assigned to drelaptop

[2018-11-06 06:47] #12960 closed, assigned to nobody

[2018-11-06 06:55] drelaptop commented on #17804
cocos2d-x cmake existed cross-compilation with some limitation, supported iOS & Android on Mac, Android on Windows.

[2018-11-06 06:55] #17804 closed, assigned to nobody

[2018-11-06 07:15] drelaptop commented on #16628
define `USE_* ` in cmake will case conflict with ccConfig.h, https://github.com/cocos2d/cocos2d-x/pull/19139 have improved this

[2018-11-06 07:15] #16628 closed, assigned to nobody

[2018-11-06 07:17] drelaptop commented on #16628
the issue is same with https://github.com/cocos2d/cocos2d-x/issues/18914

[code]

[2018-11-06 07:22] drelaptop commented on #16721
out-of-data cmake issues

latest v3 code have used modern cmake style to include directories, and cmake CI passed times ago.

[2018-11-06 07:22] #16721 closed, assigned to nobody

[2018-11-06 10:35] drelaptop commented on #19012
issue related PR merged, so close this.

[2018-11-06 10:35] #19012 closed, assigned to minggo

[2018-11-06 10:38] #18840 closed, assigned to nobody

[2018-11-06 10:40] drelaptop commented on #18798
link PR https://github.com/cocos2d/cocos2d-x/pull/19063

[2018-11-06 10:43] drelaptop commented on #18796
developers can implement this refer to other 5 tests project.

[2018-11-06 10:43] #18796 closed, assigned to nobody

[2018-11-06 10:48] drelaptop commented on #18717
10. ~~using prebuilt libs on Android Gradle Build, we must set COCOS_PREBUILT_ROOT to finger the prebuilt libs root library.~~

Item 10 became invalid, for https://github.com/cocos2d/cocos2d-x/pull/19109

[2018-11-06 10:54] drelaptop commented on #9918
As above said ___win32 is not our focused platform__ long times ago

[2018-11-06 10:54] #9918 closed, assigned to nobody

[2018-11-06 12:57] Anywhere-Music-Player commented on #19080
@stevetranby so it's implemented in cocos2d-x or due to some bug it's not working?

[2018-11-06 23:42] stevetranby commented on #19080
@KAMIKAZEUA I'll try to download Xcode 9 and see if I can confirm with real numbers that it runs at 60 fps  normally, but 59-65fps on Mojave w/usleep in main loop (see jerky MoveBy, and I'm sure any other per-frame changes), and finally 200-600fps (smooth, but high CPU) on Mojave w/out usleep.

[2018-11-07 02:25] drelaptop commented on #18717
About the item 6

the cmake build isn't so good as the older way for iOS platform, need to find a solution
might have to wait 4.0 version to do this

I think we can __delete the VS project files__, keep cmake build only on win32 now.

- VS project files existed compatibility issues with only tested on VS2015 but run on VS2017. `Intellisense` error, fixed toolset.
- cmake will auto find valid compi

[2018-11-07 02:44] minggo commented on #18717
I think we should keep VS project, but use cmake to generate new VS project files. We should discuss in the forum before we do this change.

[2018-11-07 02:59] crazyhappygame commented on #18717
I think we should keep VS projects. Most users still use VS projects.
Also cmake still needs some improvements:
1. No support for multiple configs (debug, release)
2. Complicated *.dll copy logic

[2018-11-07 04:52] drelaptop commented on #18717
I will try to use generator-expressions in multiple configs related soon

sorry, I don't hold same idea with you. the *.dll copy logic is complicated, but it's properly works. the logic copy dlls depend on target property, meanwhile consider libraries dependence.

[2018-11-07 19:50] mtak- opened #19150 "[ios] ProMotion displays do not get 120fps"
ProMotion Displays (aka ipad pros) should be able to display at 120fps.

The calls to `-[CADisplayLink setFrameInterval:]` in [CCDirectorCaller](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/ios/CCDirectorCaller-ios.mm#L113) prevents this from happening as best I can tell. It is a deprecated function anyhow and [`preferredFramesPerSecond`](https://developer.apple.com/documentation/qu

[2018-11-08 02:06] #18677 closed, assigned to nobody

[2018-11-09 01:15] minggo commented on #17471
It seems it is not a problem, so close this issue.

[2018-11-09 01:15] #17471 closed, assigned to minggo

[2018-11-09 01:58] zcgit opened #19154 "sth about spine anim."
As I read the latest version code, I found the cocos always read and decode the skeletonJsonFile & atlasFile when load the spine animation. so if an animation is very complex , it will take a lot of IO and decoding time.
 In fact, it always do 3 things when using a spine anim: 1.read skeletonJsonFile; 2.read atlasFile; 3.read the imageFile.
 I wonder if we can separate the 3 things?  just loading

[2018-11-09 02:19] koalli commented on #18020
As @gestern [said](https://github.com/cocos2d/cocos2d-x/issues/18020#issuecomment-377965377) , I use a lower resolution LaunchImage instead of LaunchStoryboard, it can reduce the energy consumption in iPhone 6/7/8 plus obviously, this is a iOS screen compatibility mode since iPhone5 or iPhone6 I guess, it will create a smaller surface size. But we still cannot solve it in iPhone X because it will

[2018-11-09 03:05] minggo commented on #18680
I created https://github.com/cocos2d/cocos2d-x/pull/19155 to make the codes more clean and make the comment more clear.

[2018-11-09 03:05] #18680 closed, assigned to nobody

[2018-11-09 03:27] #17944 closed, assigned to PatriceJiang

[2018-11-09 03:35] PatriceJiang commented on #19140
version 2.3 is quite outdated

[2018-11-09 04:13] bin-zhao opened #19156 "[roadmap] Where can i found your new roadmap?"
I follow the link in README, It is a Trello page. but the last update time is 2017, where's your new roadmap?

[2018-11-09 05:08] ildar commented on #16355
@halx99 , can I ask if it's any progress with Linux migration?
BTW, @crazyhappygame , as windows part already uses OpenAL isn't it straightforward?

[2018-11-09 06:16] crazyhappygame commented on #16355
I am fine with OpenAL and mpg123 for Linux (it is better than fmod :) )

(nothing changed for Android I think that we should not add new LGPL *.so libraries to Android!)

[2018-11-09 06:25] halx99 commented on #16355
I have test on ubuntu 18.04, the OpenAL works fine.

[2018-11-09 06:30] ildar commented on #16355
Could you please clarify how to build with OpenAL for Linux target?

[2018-11-09 06:36] halx99 commented on #16355
Actually, LGPL.*.so allow free to use, and the apple os platform intrgrate OpenAL ad system framework, so, I think all platform, OpenAL is a good choice for audio framework backend.

[2018-11-09 06:40] halx99 commented on #16355
And, in our project practice, OpenAL works well at android platform, and solve a deadlock bug on some android device when quickly stop/play music, see: https://github.com/cocos2d/cocos2d-x/issues/18000

[2018-11-09 07:00] ildar commented on #16355
@HALX99 , do you build Cocos2d unpatched or with your patch?
if the latter then where's the latest patch located?

[2018-11-09 07:03] halx99 commented on #16355
I have build with cocos2d-x-3.17

[2018-11-09 07:47] zcgit commented on #19156
no roadmap any more maybe.

[2018-11-09 07:53] zcgit commented on #19105
Of cause you can , you can determine whether it's going to slide or scroll by calculating the x diff or y diff in touch event method of touchMoved. if the x diff if more greater than the y diff, it means you should do the sliding work.

[2018-11-09 08:06] crazyhappygame commented on #16355
@halx99 could you create PR for Linux only?

[2018-11-09 11:27] umair6 commented on #19087
@gestern any reason why above changes were done in ListView and not in ScrollView classes? In scroll view class, we can check for all child nodes which are outside the visible rect and hide them.

[2018-11-09 14:07] halx99 commented on #16355
I will create when I have time

[2018-11-10 04:03] bin-zhao commented on #19156
😞 so, cocos2d became an old man? only creator?

[2018-11-10 11:13] Glidos opened #19161 "Building for Android, under Windows, of lua-based projects severely broken"
- cocos2d-x version: 3.17
- devices test on: Galaxy S6 (Android 7.0)
- developing environments
   - NDK version: 16b
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Freshly installed Android Studio as of 13/10/2018 v3.2.1
2. Freshly downloaded cocos2d-x v3.17
3. Run setup.py within the cocos2d-x directory (not bothering to specify sdk, ndk a

[2018-11-10 13:30] zcgit commented on #19156
As you said :).

[2018-11-10 17:28] Dimon4eg commented on #18728
Probably we don't need uthash at all as we plan to switch to std::unordered_map https://github.com/cocos2d/cocos2d-x/issues/16661

[2018-11-10 23:40] ijm700 commented on #18020
will cocos2d-x provide a fix to this my energyconsumption also just keeps going up , is at very high rightnow

[2018-11-11 03:13] stevetranby commented on #18755
I question whether this is available for all devices. I think the solution may need to be restrict text length to 2^16/4bytes (e.g. 16384). Not sure where the limit 20152 comes from, but maybe spaces don't affect the vert count and thus allow larger length limit?

[2018-11-11 03:47] stevetranby commented on #18755
Cross-discussion:
https://github.com/cocos2d/cocos2d-x/pull/19160#issuecomment-437641290

I think that to support/fix this Issue cocos2d should handle creating additional vertex buffers in order to render beyond 10k letters. As a practical matter the only situation I see a need for this is in scrolling?

[2018-11-11 09:10] mkideal opened #19162 "Android crashes when the game goes into the background"
- cocos2d-x version: 3.17
- devices test on: HuaWei Honor 6x (Android 7.0)
- developing environments
   - NDK version: r16b
   - Xcode version:
   - VS version:
   - browser type and version:
   - Android Studio version: 3.1.4
   - PROP_APP_ABI=arm64-v8a:armeabi-v7a

Steps to Reproduce:

1. Lauch game successfully, but crashed while received a notification
[code]

[2018-11-11 20:23] ijm700 commented on #18020
would anyone recommend releasing my game or wait until this issue is fixed ?

[2018-11-12 01:25] #18728 closed, assigned to PatriceJiang

[2018-11-12 01:35] #18744 closed, assigned to PatriceJiang

[2018-11-12 02:06] #19156 closed, assigned to nobody

[2018-11-12 02:38] drelaptop commented on #19161
it's a good workaround to put the lua project into a short root path, for example `E:/`, `E:/cocos`. More discuss please refer to:

https://github.com/cocos2d/cocos2d-x/pull/19045

https://github.com/cocos2d/cocos2d-x/issues/18867

[2018-11-12 02:40] #19161 closed, assigned to nobody

[2018-11-12 02:44] drelaptop commented on #18867
close this issue since we agree that it's a ndk compile system issue/bug. not cocos.

[2018-11-12 02:45] #18867 closed, assigned to nobody

[2018-11-12 03:16] drelaptop commented on #18692
it's a NDK issues, we tested 3.16 on NDK r14, suggest use that release. another side you can refer https://github.com/android-ndk/ndk/issues/714 to get more info about this error.

[2018-11-12 03:16] #18692 closed, assigned to nobody

[2018-11-12 03:30] drelaptop commented on #18678
About question like this, suggest to discuss it in forum

English https://discuss.cocos2d-x.org/c/cocos2d-x/cpp

Chinese https://forum.cocos.com/c/cocos2d-x

[2018-11-12 03:30] #18678 closed, assigned to nobody

[2018-11-12 03:42] drelaptop commented on #18655
"workaround" code block should not been triggered when normally start cocos2d-x activity, refer to https://github.com/cocos2d/cocos2d-x/pull/19010 to get more in detail.

[2018-11-12 03:42] #18655 closed, assigned to nobody

[2018-11-12 04:00] drelaptop commented on #12121
out-of-data JS bind issues, reopen it if someone care it now and later.

[2018-11-12 04:01] #12121 closed, assigned to nobody

[2018-11-12 04:46] drelaptop commented on #12416
out-of-date windows phone issues, we didn't support this platform on newer release.

[2018-11-12 04:46] #12416 closed, assigned to nobody

[2018-11-12 04:48] drelaptop commented on #9535
Run cpp-empty-test on android.

tested with v3 latest code, issues have gone, so close it.

[2018-11-12 04:48] #9535 closed, assigned to nobody

[2018-11-12 05:46] stevetranby commented on #18020
I would say yeah try releasing it.

Are you running the release build when testing? If not, do so.
What energy impact are you seeing on your own game? Make sure release build.
Are you able to play your game at 30fps? If so try changing the interval to 1/30 instead of 1/60. Half Energy :D (not actually, might be more or less).

You could also render at 60fps, but more manually manage your scheduled

[2018-11-12 05:56] zcgit commented on #19154
anyone check it out ?  https://github.com/cocos2d/cocos2d-x/pull/19163

[2018-11-12 05:59] drelaptop commented on #12295
JS bind issues years ago, close it.

[2018-11-12 05:59] #12295 closed, assigned to nobody

[2018-11-12 06:18] #17718 closed, assigned to dumganhar

[2018-11-12 06:48] drelaptop commented on #9259
close this issue since no developer care it for 4 years long.

[2018-11-12 06:48] #9259 closed, assigned to nobody

[2018-11-12 06:52] drelaptop commented on #9587
close 3D module issues, no concern it for 3 years long.

[2018-11-12 06:52] #9587 closed, assigned to nobody

[2018-11-12 06:56] drelaptop commented on #10615
JS feature request for 3 years ago with no one concern.

[2018-11-12 06:56] #10615 closed, assigned to nobody

[2018-11-12 06:56] drelaptop commented on #10615
JS feature request for 3 years ago with no one concern.

[2018-11-12 06:57] drelaptop commented on #10616
no response for 3 years.

[2018-11-12 06:57] #10616 closed, assigned to nobody

[2018-11-12 07:00] drelaptop commented on #10834
https://github.com/cocos2d/cocos2d-x/issues/17819#issuecomment-302991126 answer this issues

[2018-11-12 07:00] #10834 closed, assigned to nobody

[2018-11-12 07:09] drelaptop commented on #12183
related fix have been merged

[2018-11-12 07:09] #12183 closed, assigned to pandamicro

[2018-11-12 07:48] drelaptop commented on #16355
that will be better, if we do https://github.com/cocos2d/cocos2d-x/issues/16307 after this issue solved.

[2018-11-12 08:00] drelaptop commented on #17171
add a link https://github.com/cocos2d/cocos2d-x/issues/15367 , both are similar

[2018-11-12 08:50] drelaptop commented on #17260
added some useful info, I think the difference between
[code]
and
[code]
was caused by a android issue, refer to https://github.com/cocos2d/cocos2d-x/pull/19010#issuecomment-418249866

---
similar with @dmrdev said, we have a workaround was merged at https://github.com/cocos2d/cocos2d-x/pull/19010

[code]

[2018-11-12 09:17] #18835 closed, assigned to nobody

[2018-11-12 09:47] drelaptop commented on #18755
similar same issue  https://github.com/cocos2d/cocos2d-x/issues/17946

[2018-11-12 10:19] halx99 commented on #16307
I think the original design: ```AudioDecoderManager + AudioDecoder```  is good for multi-platforms diff implement to decode mp3,ogg,etc..

[2018-11-12 10:23] halx99 commented on #16307
@dumganhar By the way, the previously implement of Audio Engine doesn't support .ogg at Apple platforms, If you Refactor the audio engine, you can think to simply import vorbis libs to Apple xcode project.

[2018-11-12 16:58] nickenchev commented on #17576
There are hardware keyboards for iphones and ipads, the simulator emulates a hardware keyboard. I'm also not getting any keyboard events when running in iOS simulator.

[2018-11-12 18:14] gestern commented on #19087
This commit was rejected, so nothing to talk about

[2018-11-12 18:21] gestern commented on #19154
If you keep all animations in a **single atlas**, then this is not a problem at all.

[2018-11-12 22:22] pablorealini commented on #16733
Hi @dumganhar any comments on how to fix this issue? We are experimenting this. Also if there is an incoming message or call the background music don’t resume.

[2018-11-13 06:20] #18679 closed, assigned to PatriceJiang

[2018-11-13 14:40] pablorealini commented on #16733
I realize our problem is with AudioEngine and not with SimpleAudioEngine.

[2018-11-13 18:07] Guy-kun commented on #18920
Why was this closed, is it fixed yet?
If this was fixed it'd help a lot to have the commit where it was done so that those of us with branched source can apply a patch

[2018-11-14 02:48] drelaptop opened #19168 "record cpp-tests crash issues on latest v3"
__should be solved before 3.17.1 released__ , tested use latest commit https://github.com/cocos2d/cocos2d-x/commit/ae61f8fbc6e0ca6eed57a795f6a3890dce8e3760

- crash 7th cases of __3:Action-Basic__ on macOS
1. run Node:Scene3D
2. run Action-Basic cases one by one, crash will occur on 7th cases

revert v3 to https://github.com/cocos2d/cocos2d-x/pull/19013 crash still occurs, but the commit before th

[2018-11-14 03:39] drelaptop commented on #19116
more Lua release crash feedback in Chinese forum

https://forum.cocos.com/t/cocos2d-x-3-1-7-release/68421

[2018-11-14 04:40] drelaptop commented on #19168
that PR is about remove __Remove ccglstatecache__ , please check it if you are available @minggo

![image](https://user-images.githubusercontent.com/26329291/48462741-610c8300-e814-11e8-90d9-3f457a06426e.png)

[2018-11-14 04:54] drelaptop commented on #19116
so I think lua external libs issues should been solved before 3.17.1 released. but all 3.17 external update we can put it into next release. @PatriceJiang @crazyhappygame

[2018-11-14 09:42] huachangmiao commented on #18020
In fact, I have done this in my project.
It really can reduce energy consumption. But if you look closely, you will find that the pictures are not clear enough, especially the labels.
So I added a quality option for the players. The default selection is non-HD.
I think cocos2d-x' s developers should provide an API in the engine that can dynamically change the resolution.

[2018-11-14 10:46] stevetranby commented on #18020
Curious what the resolution you're rendering at is and what the native resolution is of the device that's slow. Also, you could consider rendering labels at full resolution, especially if they're all in the UI layer allowing you to render them separately.

This has been common practice throughout video game history where games offer both resolution and quality settings. Players can start at max or

[2018-11-14 10:52] tanwenzhao opened #19169 "Race condition happens in HttpRequest if you modify reference count in two threads"
- cocos2d-x version: 3.* and 2.*
This is a serious issue and exists in both 2.* and 3.*,
Code below is a typical code of HttpRequest in version 2.*, there is race condition btweeen "request->release()" and reference count changes to request in networkThread funciton at HttpClient.cpp. This will cause request has wrong reference count and sometimes be freed and used later, causing crash and random

[2018-11-14 16:45] pwang08 commented on #17595
Hi, I encountered the same issue, have you fixed it?

[2018-11-15 01:40] #18834 closed, assigned to PatriceJiang

[2018-11-15 06:14] #17595 closed, assigned to nobody

[2018-11-15 07:47] liuyi opened #19171 "XMLHttpRequest can not got binary data. it return empty string."
- cocos2d-x version:
  cocos2dx -js   3.15.1

var url="https://forum.cocos.com/uploads/default/original/3X/c/3/c3624bc9a1dafa3e421d13373dc46ef2cae00026.png"
var xhr = new XMLHttpRequest();
            xhr.responseType="arraybuffer";
            xhr.conentType="image/jpeg";
            xhr.onreadystatechange = function () {
                cc.log("xhr.readyState  " +xhr.readyState);

[2018-11-15 09:30] TankTheFrank commented on #19055
@minggo @PatriceJiang This is a MAJOR issue and should be prioritise as immediate not 3.18.

Every single async operation (especially fs) uses Data. Why not just allow a zero size/null bytes Data instance to be passed as parameter (especially between threads)?

For this commit that breaks a copy constructor with pointless asserts and in the end crashes the application I would have failed a first y

[2018-11-15 09:47] drelaptop commented on #19168
2nd crash situation is related with wrong behavior on adding same name plist files, caused by https://github.com/cocos2d/cocos2d-x/pull/19083 , should be solved before 3.17.1 release @PatriceJiang

[2018-11-15 09:48] drelaptop commented on #19168
3rd crash is caused by wrong png format convert, caused by https://github.com/cocos2d/cocos2d-x/pull/18908, fixed on https://github.com/cocos2d/cocos2d-x/pull/19170

[2018-11-15 09:58] PatriceJiang commented on #19055
`Data` is designed mostly for efficiency and internal usage, these assertions can ensure that we don't do this kind of copy in our codebase.
And you do make the point, we should not prevent developer to do that.

[2018-11-15 15:18] #18295 closed, assigned to nobody

[2018-11-15 22:41] Dimon4eg commented on #18887
If user declines privacy policy then `exit(0)` is ok for iOS?

[2018-11-15 23:07] Dimon4eg commented on #14092
Why the issue is closed?
It still reproduces on cocos2d-x 3.17 with js binding.

js code to reproduce:

`close();`

[2018-11-16 01:04] stevetranby commented on #18887
@Dimon4eg not sure whether you meant ok or "not" ok? nor why privacy policy would matter.

I did appeal an app review and was able to get the app into the store while having an exit(0) to fully purge it from the system since it runs in the background.

[2018-11-16 03:49] #18004 closed, assigned to nobody

[2018-11-16 03:49] #18188 closed, assigned to dumganhar

[2018-11-16 07:24] PatriceJiang commented on #19168
`FileUtils::getFileSize` not implemented on win32 cause crash on windows. fixed https://github.com/cocos2d/cocos2d-x/pull/19176

[2018-11-16 08:15] Dimon4eg commented on #18887
@stevetranby I mean the next flow: user installs game, launches it, at start game displays "Privacy Policy" dialog to accept it by user (for GDPR). Dialog has two buttons: "Accept" and "Quit". If user presses "Quit" I do `exit(0)`.

@drelaptop I think you can close this issue as solution is found here by @summerinsects :+1:

[2018-11-16 08:35] drelaptop commented on #19116
can't reproduce lua issue by run lua-tests release, move it into next  milestone

[2018-11-16 08:37] drelaptop commented on #17946
fix by strip the extra text, refer to https://github.com/cocos2d/cocos2d-x/pull/19174

[2018-11-16 08:37] #17946 closed, assigned to nobody

[2018-11-16 08:37] drelaptop commented on #18755
fix by strip the extra text, refer to https://github.com/cocos2d/cocos2d-x/pull/19174

[2018-11-16 08:37] #18755 closed, assigned to PatriceJiang

[2018-11-16 08:44] drelaptop commented on #18810
thanks for @gestern contribution, refer to https://github.com/cocos2d/cocos2d-x/pull/19043 discuss if you have doubt.

[2018-11-16 08:44] #18810 closed, assigned to nobody

[2018-11-17 11:45] Dimon4eg commented on #14092
I did following fix (commented destroys):

[code]

Now app exits fine, no leaks in any case because app is closed and all resources and memory will be freed.
But I think that destroys are needed to catch app memory leaks.

[2018-11-18 10:53] rh101 opened #19178 "Move threadsafe logging functions and macros to more suitable locations"
- cocos2d-x version: 3.17

AudioEngine-win32.cpp and AudioMacros.h have references to the following logging macros and methods that are threadsafe:

ALOGV, ALOGD, ALOGI, ALOGW, ALOGE
static void _winLog(const char *format, va_list args)
void audioLog(const char * format, ...)

* First issue, there are no comments to indicate what the differences are between each of the ALOGV, ALOGD, ALOGI, ALOGW,

[2018-11-18 14:11] zcgit commented on #19169
yes, you should use HttpClient::getInstance()->sendImmediate(req), hope this is useful for you :)

[2018-11-18 15:20] tanwenzhao commented on #19169
you are right. I briefly took a look of sendImmediate, it does not change request's reference count in worker thread.

[2018-11-19 01:03] rh101 opened #19179 "Redundant code in CCUserDefault-android.cpp and CCUserDefault-apple.mm"
- cocos2d-x version: 3.17

There is redundant code that should be removed to allow for cleaner and easier modifications to the UserDefaults.

Currently, in files CCUserDefault-android.cpp and CCUserDefault-apple.mm there is the following define:

`#define KEEP_COMPATABILITY`

The whole point of the code related to that define is to transparently move all settings from the UserDefault.xml to the na

[2018-11-19 01:28] #19168 closed, assigned to nobody

[2018-11-19 06:42] liuyi commented on #19134
You can change splash screen  on Xcode IDE

[2018-11-19 18:06] crazyhappygame opened #19187 "Android crash on "Start AutoTest" latest 3.17.1"
- cocos2d-x version: latest
https://ci.appveyor.com/project/minggo/cocos2d-x/builds/20399029/job/88b3dvcf49r83qh2/artifacts  (signed apk version here: https://dropfile.nl/f/jT8j)
- devices test on: HTC U11
- developing environments
   - NDK version: ndk16
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Run Start "Start AutoTest"
Bug: crash:

[code]

[2018-11-19 18:06] crazyhappygame commented on #19187
@drelaptop could you check it?

[2018-11-19 18:42] cigumo opened #19188 "Touch object reuse produces missing onTouchEnded event"
- cocos2d-x version: 3.17
- devices test on: iPhone and Android smartphones
- developing environments
   - NDK version: 17.2
   - Xcode version: 9.2

**Problem description**
CCEventDispatcher, when processing oneByOneListeners, uses listener->_claimedTouches vector to track which touches it has to swallow and not propagate in following events (moved, ended, cancelled).

For some unknown reason, a

[2018-11-20 06:35] OneSecure opened #19192 "no sound in iPhone of silent mode."
- cocos2d-x version: recent
- devices test on: iPhone 6 / iOS 12.1

When the iphone is in silent mode, the music playback of cocos2d-x is no sound. But other professional audio playback software does not have this problem. How to solve it.

Steps to Reproduce:

1. switch the iphone to silent mode.
2. play any cocos2d-x game on it.

[2018-11-20 11:25] halx99 commented on #16355
https://github.com/cocos2d/cocos2d-x/issues/18000, this is another reason why I recommand we also should use openal at android platform.

[2018-11-21 03:16] liuyi commented on #19192
You should change sound mode,at  AudioEngine-inl.mm:

BOOL success = [[AVAudioSession sharedInstance]
//                        setCategory: AVAudioSessionCategoryAmbient
                        setCategory:AVAudioSessionCategoryPlayback
                        error: nil];

[2018-11-21 03:16] liuyi commented on #19192
My app received lots of negative comment about this issue...

[2018-11-21 07:54] ssrlive commented on #19192
@liuyi I have test it just now. i changed at 2 points. but it dose not work.

[2018-11-21 08:04] daiki1003 opened #19196 "using Deprecated "Always Search User Paths" settings."
- cocos2d-x version:
3.16

- devices test on:
iPhoneX

- developing environments
   - Xcode version: 10.1

Steps to Reproduce:

1. Build 'cocos2d-libs' xcodeproj only.

Xcode produces error below.
"Traditional headermap style is no longer supported; please migrate to using separate headermaps and set 'ALWAYS_SEARCH_USER_PATHS' to NO. (in target 'libcocos2d iOS')

[2018-11-23 02:55] pablorealini commented on #18948
We are experience this same issue, we still didn´t find a way to reproduce it.

[2018-11-23 03:31] meiguizhinian commented on #18104
why not setTouchEnable(false) in cleanup?

[2018-11-23 06:40] Dimon4eg commented on #16669
I use this version of cc.clone without check for `HTMLElement`:

[code]

It works fine on web and native.

[2018-11-23 10:36] mirchd commented on #8533
Is there a fix for this issue?

[2018-11-23 10:55] mirchd opened #19206 "tile map stretched when draw neighboring image"
- cocos2d-x version: 3.9
- devices test on: windows
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2012
   - browser type and version:

Steps to Reproduce:

1. tile map has many layers
2. some neighboring image tile will be stretched.
like:
https://dl.dropboxusercontent.com/s/8tb1wnh3t56st6v/IMG_0095.jpg?dl=0
please help

[2018-11-23 19:32] stevetranby commented on #19192
@liuyi you got negative comments for a game that respects the user's mute switch?

I do not believe this is a bug. Most games I've played respect the mute switch. Though if you have headphones connected then you will still hear sound when the mute switch is set to "silent".

[2018-11-23 19:35] stevetranby commented on #19192
However, cocos2d should allow for initializing with a different category and/or changing the category during gameplay.

[2018-11-23 19:36] stevetranby commented on #19196
Duplicate Issue: https://github.com/cocos2d/cocos2d-x/issues/18920

[2018-11-24 19:24] cigumo commented on #18948
I've changed AudioCache.mm to use alBufferData instead of alBuffer and I got rid of the CrashIfClientProvidedBogusAudioBufferList crash, but another crash appeared, this time involving OpenAL's CleanUpDeadBufferList() calls.

As the _pcmData buffer is copied by OpenAL after alBufferData() is called, I removed the scary setTimeout() in ~AudioCache and changed _pcmData to be used just inside the rea

[2018-11-26 03:28] Luoweihong commented on #10257
Did it fixed?

[2018-11-27 07:59] Akhrorjon opened #19209 "[AVAudioSession setActive:withOptions:error:]: Deactivating an audio session that has running I/O. All I/O should be stopped or paused prior to deactivating the audio session."
- cocos2d-x version: 3.17
- devices test on: Iphone 6, 8, IPad pro 12.9
- developing environments
   - NDK version:
   - Xcode version: 10.1 (10B61)
   - VS version:
   - browser type and version:

Bug:

- Not often happens but it happens. Background music is stopped when you switch between two apps(games written in cocos2d-x) but it easily played when switched to another scene, when this happens

[2018-11-27 17:39] bolso80 opened #19211 "Android Chromebook crash on Cocos2dxActivity.onLoadNativeLibraries"
cocos2d-x version: 3.17
devices: Android chromebooks
NDK version: 17.2
Xcode version: 9.2

**Problem description:**

We have an app on production and we are getting some crashes on Chromebooks android devices:

[code]

[2018-11-29 01:36] #19196 closed, assigned to nobody

[2018-11-29 02:22] drelaptop commented on #18717
maybe we can find a proper way to realize prebuilt libs feature, and still keep cmake scripts simple, easy understand. @crazyhappygame

refer to thread

https://discuss.cocos2d-x.org/t/not-elegant-cmake-prebuilt-feature-was-removed-in-3-17-1-release/44688

[2018-11-29 02:36] liuyi commented on #19192
The problem is the app is mute, but other apps still can play sound and music.
User think my app is broken, and don't know how to resolve it.They will call our support phone.
Some of them will write some bad words on APPSTORE.

[2018-11-29 03:50] stevetranby commented on #19192
Alright, so if the core devs (or you) create a PR I'd request it to be allow setting/changing the category and keeping the current default.

[2018-11-29 09:44] Pythians commented on #14837
On mobile `LayerColor` set as stencil,
should  `setAlphaThreshold(1);`
it is work

some source code

[code]

[2018-11-29 19:52] crazyhappygame commented on #19187
I still have crash on latest version for Run Start "Start AutoTest"
https://ci.appveyor.com/api/buildjobs/2s86dm7fyta9p15q/artifacts/release%2FCppTests-release-unsigned.apk
Signed apk here https://dropfile.nl/get/Upk

I checked and crash is in:
66:Unit Test/ Test 9

[2018-11-30 02:04] #19096 closed, assigned to nobody

[2018-12-01 19:49] crazyhappygame commented on #18717
@drelaptop I think that root CMakeLists.txt with multiple games is good option. Please see:
https://discuss.cocos2d-x.org/t/not-elegant-cmake-prebuilt-feature-was-removed-in-3-17-1-release/44688/4?u=crazyhappygame

[2018-12-03 09:25] drelaptop commented on #17494
you can test bug fix with this PR https://github.com/cocos2d/cocos2d-x/pull/19227 @semgilo @shaniamjad @rizwangaminations

[2018-12-03 09:30] drelaptop commented on #18948
thanks to @guilhemvors @cigumo , https://github.com/cocos2d/cocos2d-x/pull/19227 comes, so developers can fix it.

[2018-12-07 04:22] liuyi opened #19232 "Remote debug always cause crash after connected."
- cocos2d-x version:3.15.1
- devices test on:mac os with Iphone simulator
- developing environments
   - NDK version: android-ndk-r15b
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Run any cocos2dx(js) project  in  Iphone simulator.
2.  Firefox(63) remote connect (localhost:5086)   -> app crashed.
3.  Firefox(49.0) remote connect (localhost:5086)   ->

[2018-12-07 06:32] 0xJimmyBeh opened #19233 "Request RenderTexture saveToFile with WebP format"
As title,

We cant save file as WebP but we can loading WebP image.
There are already WebP encode.h and decode.h in the external library.

Save file in png and jpg format will consume a lot space but can be reduced if we using WebP with lower quality.

I managed to modify the RenderTexture on iOS to save as WebP with extra quality variable for control.

[code]

Thanks.

[2018-12-10 03:55] drelaptop commented on #14092
double free crash, please check https://github.com/cocos2d/cocos2d-x/pull/19236 @Dimon4eg

[2018-12-10 05:40] drelaptop commented on #18948
more than one tested, that patch is good, so merge it and close this.

[2018-12-10 05:40] #18948 closed, assigned to drelaptop

[2018-12-10 06:53] drelaptop commented on #18118
As I confirmed, `endToLua ` works on iOS platform after https://github.com/cocos2d/cocos2d-x/pull/19236 patch.

[2018-12-10 06:53] #18118 closed, assigned to nobody

[2018-12-10 08:29] drelaptop commented on #18892
after this commit https://github.com/cocos2d/cocos2d-x/pull/19236/commits/65ed005b80857a2297505c543da08e1b2d09cbfb , this issues should be solved, also you can check the whole PR https://github.com/cocos2d/cocos2d-x/pull/19236

[2018-12-10 08:29] #18892 closed, assigned to nobody

[2018-12-10 08:41] #14092 closed, assigned to nobody

[2018-12-11 02:46] miibow opened #19238 "Where can I acquire .REMOVED.git-id files in previous version?"
- cocos2d-x version: 2.1.3
- devices test on: windows
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2010
   - browser type and version: chrome

Steps to Reproduce:

1.
2.

[2018-12-11 08:35] #18699 closed, assigned to nobody

[2018-12-11 11:03] ccmfeng opened #19241 "set fps 40 does not take effect， it's allway 60fps"
- cocos2d-x version: 3.17
- devices test on: iphone6s 12.1
- developing environments
   - NDK version:
   - Xcode version: 10.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  set fps 40 does not take effect， it's allway 60fps

[2018-12-11 11:04] Dimon4eg commented on #19241
How do you set 40 fps?

[2018-12-11 11:08] ccmfeng commented on #19241
CC_GAME_FPS = 40
local director = cc.Director:getInstance()
local view = director:getOpenGLView()

if CC_GAME_FPS > 0 then
    director:setAnimationInterval(1.0/CC_GAME_FPS)
end

[2018-12-11 11:30] ccmfeng commented on #18978
Have you solved this problem?

[2018-12-11 12:59] liuyi opened #19242 "Is Android Studio 3.1.1 support cocos2dx 3.17? I got gradle error when sync gradle."
- cocos2d-x version:3.17
- devices test on:android
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. cocos new project_name   -p com.domain.project_name  -d ~/test
2. open android project with Android Studio 3.1.1
3. Can not Sync.(NDK\ANDROID SDK\JAVA SDK are all correctly)

[2018-12-11 13:00] liuyi commented on #19242
This is screenshot.
![image](https://user-images.githubusercontent.com/848803/49802415-cefe8880-fd87-11e8-9b40-4708462eb69b.png)

[2018-12-11 13:01] liuyi commented on #19242
org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':ddschool_edge'.
	at org.gradle.configuration.project.LifecycleProjectEvaluator.addConfigurationFailure(LifecycleProjectEvaluator.java:87)
	at org.gradle.configuration.project.LifecycleProjectEvaluator.notifyAfterEvaluate(LifecycleProjectEvaluator.java:82)
	at org.gradle.configuration.project.LifecycleProjectEval

[2018-12-12 05:55] mkideal commented on #19162
In fact, as long as you switch to the background, it will crash. But this only happens in release mode. Modifying the configuration of the release part of build.gradle can solve this problem.

[code]

`minifyEnabled` switch to `false`
`shrinkResources` switch to `false`

[2018-12-12 05:56] #19162 closed, assigned to nobody

[2018-12-12 08:30] piotrros opened #19245 "RenderTexture not rendering small sprites on the left side"
- cocos2d-x version: 3.17
- devices test on: iPad Pro 10.5''
- developing environments
   - NDK version: N/A
   - Xcode version: 10.1
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. When creating a RenderTexture, when I'm trying to render small enough sprite on the left of the texture (when x is near 0), sprite just doesn't render.

Here's an example code:

[code]

[2018-12-12 13:49] #19242 closed, assigned to nobody

[2018-12-13 09:14] guilhemvors commented on #17494
I have merged the pull. Will keep you up updated if it comes back.

[2018-12-13 11:12] tanwenzhao commented on #16976
these getaddrinfo related crashes or ANRs, the reason might be related to curl. add curl_easy_setopt(handle, CURLOPT_NOSIGNAL, 1L);

[2018-12-14 01:29] drelaptop opened #19246 "cocos2d-x compile broken on Ubuntu 17、18"
- cocos2d-x version: 3.17, 3.17.1
- devices test on: ubuntu 17, 18

compile errors like:
[code]

[2018-12-15 05:45] #19187 closed, assigned to PatriceJiang

[2018-12-17 23:06] rh101 opened #19251 "Cocos2d-x forum website SSL error"
I'm not sure if this is the correct location to enter this issue, but for the past 2 days I've been getting the following error when trying to access the discuss.cocos2d-x.org forum:

[code]

This happens with any internet browser.

[2018-12-18 04:14] neonguyen opened #19252 "Missing Libuv_a.a"
- cocos2d-x version: 3.17.1
- devices test on: iOS Simulator
- developing environments
   - Xcode version: 10.1

Steps to Reproduce:

1. I used cocos command to create project "cocos new {Name} -p {BundleId} -l cpp"
2. After that, I used Xcode to build the project and I got the error

![screen shot 2018-12-18 at 11 14 01 am](https://user-images.githubusercontent.com/8515901/50131715-0a341680-02b6-

[2018-12-18 06:16] drelaptop commented on #19252
please update external deps, by :
[code]

existed at https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/tree/v3/uv/prebuilt/ios

[2018-12-18 06:30] neonguyen commented on #19252
Thanks, It's worked perfectly

[2018-12-18 06:34] #19252 closed, assigned to nobody

[2018-12-18 19:17] sonyps5201314 opened #19253 "[lua] downloader binding breaks other custom class registering"
lua_cocos2dx_network_manual.cpp中
调用register_downloader后将导致之后无法再注册成功用户的自定义类了，注释掉就恢复了，坑爹啊。
以后能不能测试后再合并用户提交的代码到主分支啊。自己重现吧，难得提交重现代码了，没时间。应该是register_downloader内部写法不规范导致的。不会用就别强撸嘛，老老实实tolua_beginmodule，tolua_endmodule不好吗？

English:
A call to register_downloader will result in a custom class that cannot be registered with a successful user.
Can the code that user submits be merged again after testing la

[2018-12-19 02:40] hyhmaffia opened #19254 "initWithMipmaps crash"
- cocos2d-x version:3.1

we find some crash on ios version above ios 11

Thread 0 Crashed:
0   libsystem_kernel.dylib              0x000000020a047104 __pthread_kill + 8
1   libsystem_c.dylib                   0x0000000209f9ed78 abort + 140
2   libGFXShared.dylib                  0x000000020d758d6c gfxFreeTextureLevel + 0
3   GLEngine                            0x000000022cb50af0 glTexImage2D_Exec

[2018-12-19 05:06] PatriceJiang commented on #19253
我们在正式发布版本之前会进行若干轮的测试，尽量提高可靠性。 这个过程也需要广大开发者的帮助，积极反馈存在各种的问题，毕竟测试能覆盖场景有限。  非常感谢您在迁移版本过程中能够发现并且反馈问题。
这个问题暂时没有通过现有的测试用例暴露，如您能在百忙之中抽出时间 提供更多的重现方法，这样可以帮助更多其他的开发者， 我感激不尽！

It is more standardized to use `tolua` to bind `Downloader`, I will do it in the current release.
Before that, could you please provide more info on how to reproduce the issue? @sonyps5201314

[2018-12-19 05:13] drelaptop commented on #11742
refer the discuss at  https://github.com/cocos2d/cocos2d-x/issues/19077#issuecomment-426510974 , it may a thread issues

[2018-12-19 05:27] drelaptop commented on #11287
https://github.com/cocos2d/cocos2d-x/commit/bee52e378daab250ae0ad7aa8d56e53832935cc4

[2018-12-19 07:21] PatriceJiang commented on #19253
@sonyps5201314 Can you please test if this PR fix the issue https://github.com/cocos2d/cocos2d-x/pull/19255?

[2018-12-19 09:16] sonyps5201314 commented on #19253
嗯，这个问题的确是修复了，感谢。
不过使用新版本编译公司项目后，还发现一个问题，估计不是同一个问题，可能需要另外开一个问题。
这个是3.17的9月多某个git版本编译的。
![image](https://user-images.githubusercontent.com/20564099/50210498-45ffd680-03b1-11e9-9ede-a4fdf1e40669.png)
下面这个是最新git版本编译的.
![image](https://user-images.githubusercontent.com/20564099/50210670-b9a1e380-03b1-11e9-9297-6c39b0bfcd5c.png)
为什么会缩小了呢？

[2018-12-19 09:22] PatriceJiang commented on #19253
perhaps there may exist multiple images of the same filename in a different resolution?

[2018-12-20 01:41] #19253 closed, assigned to PatriceJiang

[2018-12-20 07:37] flykule commented on #19246
Hi, you can add "  set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -no-pie -fno-exceptions -std=c++11 -Wno-deprecated-declarations -Wno-reorder") " to CMakeList below line 70.It worked for me!

[2018-12-20 13:42] sonyps5201314 opened #19258 "PR: Fix several bugs with button's title (#19073)，breaks Buttons custom fonts style in cocos studio"
- cocos2d-x version:git v3 latest
- devices test on:win32
- developing environments
   - VS version:vs2017 15.9.4
Steps to Reproduce:
cocos studio中的样子：
![image](https://user-images.githubusercontent.com/20564099/50287881-319a0780-049f-11e9-94d3-14e78efe0495.png)
[test_bug.zip](https://github.com/cocos2d/cocos2d-x/files/2699089/test_bug.zip)

1. 下载附件2
[cpp-empty-test.zip](https://github.com/cocos2d

[2018-12-21 02:16] slackmoehrle commented on #19246
@flykule Thank you for commenting! I am going to try this out.

[2018-12-21 03:31] slackmoehrle commented on #19246
@flykule Thank you so much!

I have to modify a bit to:

[code]

[2018-12-21 07:26] PatriceJiang commented on #19258
@sonyps5201314 please check if this issue fixed with https://github.com/cocos2d/cocos2d-x/pull/19260

[2018-12-21 13:59] playmyskay commented on #19246
Compiling with -no-pie option just for one library (freetype2) sounds a little bit strange. In my opinion the prebuilt of libfreetype.a should be compiled with -fPIC option, or i am wrong?

Sorry, i am not a compiler/linker expert.

If you remove the dependency to libfreetype.a (i.e. in link.txt)  you are able to successfully link everything with a clean/new project.

I compiled and linked the lib

[2018-12-21 15:17] slackmoehrle commented on #19246
@playmyskay Yeah, true perhaps.

I have tried a few things, so far and nothing works.
[code]

[2018-12-21 15:46] playmyskay commented on #19246
@slackmoehrle

step1:
Compile the freetype library by yourself from: https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src

`./build.sh -p=linux --libs=freetype --arch=x86_64 --mode=release`

output file: `cocos2d-x-3rd-party-libs-src/build/linux/freetype/prebuilt/x86_64/libfreetype.a`

step2:
Create or use an existing project and replace the file libfreetype.a with the output file of step1. Now

[2018-12-22 01:36] prespondek commented on #18705
I'm getting this on a regular android test device in cpptest cocos2d-x 3.17.
Goto UVAnimation test and then do something that will cause the activity to be rebuilt (I found this while changing my devices language to test localisation). Now reopen cpptest and most objects that use a custom material will be black. OpenGL error 0x0502 is getting spammed in the log.

[2018-12-22 13:34] sonyps5201314 commented on #19258
测试了，的确是修复了，感谢！

[2018-12-22 15:42] #19258 closed, assigned to PatriceJiang

[2018-12-26 09:01] EricDDK opened #19268 "3.17.1 loading CocosBuilder .csb file becomes extremely slow"
![test_ccloader_img](https://user-images.githubusercontent.com/33505774/50440075-7b676f80-092f-11e9-8ff5-9791a9cb5cf5.png)
when the textureSize is 546,using time is 18400 ms.
In 3.17,it's correct.
I'm blowsing the changing from 3.17 to 3.17.1.
Of course I can submit the res of .csb file.

[CardPosLayer.zip](https://github.com/cocos2d/cocos2d-x/files/2709877/CardPosLayer.zip)

[2018-12-26 09:17] EricDDK commented on #19268
ValueMap dict = FileUtils::getInstance()->getValueMapFromFile(fullPath);
this function in void SpriteFrameCache::addSpriteFramesWithFile(const std::string& plist) will use more than 70ms every time in for loop.

[2018-12-26 09:22] EricDDK commented on #19268
I forgot something that the sprite frames are in memory.

[2018-12-26 09:30] PatriceJiang commented on #19268
How long does it take to load 546 textures in 3.17? @EricDDK

[2018-12-26 09:32] EricDDK commented on #19268
@PatriceJiang 18000+ms in vs 2015 debug module
You can see the indicator in my picture.

[2018-12-26 09:33] EricDDK commented on #19268
@PatriceJiang it use 120 ms in 3.17.

[2018-12-26 10:01] PatriceJiang commented on #19268
Can you upload a `plist` with images files which take 70 ms to load?  Most test cases I have tried only takes around 3ms.

[2018-12-26 10:11] EricDDK commented on #19268
@PatriceJiang I change back the CCSpriteFrameCache.h and CCSpriteFrameCache.cpp to 3.17.
The bug is fixed.

I gave you the lua project which I test.
New a 3.17.1 lua project and replace the src and res.

[2018-12-26 10:48] PatriceJiang commented on #19268
I make a PR at https://github.com/cocos2d/cocos2d-x/pull/19269, please check if your problem is fixed.
@EricDDK

[2018-12-26 10:53] EricDDK commented on #19268
@PatriceJiang OK,thanks.
I will test it and reply u.

[2018-12-26 10:57] EricDDK commented on #19268
@PatriceJiang I test it and it's fixed.
Thanks.

[2018-12-28 05:03] ArcticGame opened #19270 "Android MoveBy stutters after upgrading to 3.17.1"
MoveBy stutters after upgrading to 3.17.1. There was no stuttering with cocos2d-x 3.16.

- cocos2d-x version: 3.17.1
- devices test on: Samsung Galaxy S6
- developing environments
   - NDK version: 18.1.5063045
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Reproduce Steps:
1. Create a new cocos2d project
2. Design resolution is 750x1334 and portrait
3. Modify Hel

[2018-12-28 05:04] ArcticGame commented on #19270
Stuttering only occurred in Android, iOS was okay.

[2018-12-29 01:45] #19268 closed, assigned to nobody

[2018-12-29 06:06] EricDDK opened #19271 "3.17.1 Xcode project add cjson.Show error with Undefined symbols for architecture x86_64: ."
update cocos2d-x 3.17.1 .
I'm not good at develope on iOS environment.

![5a52c7fa-6224-299a-2e46-f6a64a4b56d6](https://user-images.githubusercontent.com/33505774/50534111-d50bac00-0b72-11e9-9c55-f39d9a445076.png)

[2018-12-29 06:13] EricDDK commented on #19271
I create a new iOS project with Xcode.
And add cjson module into the project.
Then Compiling and  show the error in Linking.

[2018-12-29 06:20] thienphuoc opened #19272 "Cannot click on the url of RichText , when It is ScrollView’s child"
- cocos2d-x version: 3.17
- devices test on: windows PCs , all android devices , all ios devices

Steps to Reproduce:

1. Create a RichText with the URL ( ex : google.com ) .

`auto richText01 = RichText::createWithXML("This link will redirect you to google: <a href='http://www.google.com'> CLICK ME</a>");`

2. add it to the ui::ScrollView ,noticed that the URL on the RichText cannot be clicked.

[2018-12-29 07:05] EricDDK commented on #19271
Hhhhh. I'm sorry.
It's my fault.

[2018-12-29 07:05] #19271 closed, assigned to nobody

[2018-12-29 13:20] thienphuoc commented on #19272
Here is solution:

`scrollView01->setSwallowTouches(false);
`
ref : https://discuss.cocos2d-x.org/t/cannot-click-on-the-url-of-richtext-when-it-is-scrollviews-child/45081/3

[2018-12-29 13:20] #19272 closed, assigned to nobody

[2018-12-31 16:59] ncimino commented on #18705
I am also seeing this in 3.17. Switching the Emulated Performance -> Graphics from "Automatic" ("Hardware - GLES 2.0") to "Software - GLES 2.0" works around this problem for me. Albeit, the performance is degraded significantly.

[2019-01-01 18:23] tink3r-t commented on #17782
One way to bypass this bug is to Retain Director in ApplicationDidFinishLaunchingFunction and release it after AudioEngine::end() call.

[2019-01-04 04:26] #18039 closed, assigned to nobody

[2019-01-05 20:00] ghost commented on #12869
Cocos2d-X 3.17.1 I have the same problem. :/

[2019-01-06 12:45] formatCvt commented on #18810
hmm, looks like only rounded corners support added not cutout

[2019-01-07 02:53] leJTA commented on #19246
Thank you very much i had the same problem and it solved it

[2019-01-07 18:13] crazyhappygame opened #19280 "“proj.ios and proj.mac” for cpp-tests and “proj.ios_mac” for default template."
Steps to Reproduce:
Check source code of cpp-tests and default cpp-default-template
There is different folder structure and file content for:
“proj.ios and proj.mac” for cpp-tests and “proj.ios_mac” for default cop template.

[2019-01-07 18:15] crazyhappygame commented on #19280
@drelaptop which folder structure, implementation is recommended for mac/ios ?
“proj.ios and proj.mac” or “proj.ios_mac”

[2019-01-08 01:51] drelaptop commented on #19280
thanks for mention it, I agree that we should consider to unify the folder structure before next release @minggo @PatriceJiang

[2019-01-08 02:22] minggo commented on #19280
@crazyhappygame `proj.ios_mac` is used for both iOS and macOS. `proj.mac` only used for macos.

[2019-01-08 03:50] seventhrank commented on #18873
Do you have any progress?
I am looking forward to this fix.

[2019-01-08 07:56] crazyhappygame commented on #19280
@minggo thank you. This is clear for me.
My question is which folder structure should I use for games:
1. proj.ios_mac
Or
2. proj.ios and proj.mac

[2019-01-08 08:07] minggo commented on #19280
If you use cocos command to create a new project, then i think you don't have to be care about it. If you create folder structure then i suggest you using `proj.iOS/proj.mac`.

Template folder structure is different from cpp-tests is because cpp-tests exists before template, so it is not created by template.

[2019-01-08 13:51] seventhrank commented on #18873
Probably resolved.

This issue has been helpful.
https://github.com/cocos2d/cocos2d-x/issues/18983

When I undo this fix, it worked normally.　(v3.17.1)
https://github.com/cocos2d/cocos2d-x/pull/18606
https://github.com/cocos2d/cocos2d-x/commit/457de1cce1395717fd66f5c3c4ffa3a3ebc99ae7#diff-e6062325f2f0caa142c1bd4ab1cb5d33

Please confirm.

[2019-01-09 01:44] PatriceJiang opened #19281 "[unzip] 3.17.1 failed to uncompress file"
- cocos2d-x version: 3.17.1
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

AssetsManager can not work properly.

ref https://forum.cocos.com/t/cocos2dx-3-17-1-can-not-open-downloaded-zip-file/71980

[2019-01-09 02:16] #19281 closed, assigned to PatriceJiang

[2019-01-09 10:25] formatCvt opened #19285 "Add Android P cutout area support"
Despite this https://github.com/cocos2d/cocos2d-x/issues/18810 issue, however cutout still is not supported by cocos (incl 3.17.1)

If we are rendering into the cutout area, we should use `WindowInsets.getDisplayCutout()` to retrieve a `DisplayCutout` object that contains the safe insets and bounding box for each cutout https://developer.android.com/reference/android/view/DisplayCutout

PR is comi

[2019-01-09 11:48] Anywhere-Music-Player commented on #18616
https://github.com/cocos2d/cocos2d-x/issues/18616#issuecomment-406580281

🎁 Happy birthday `Bug`, **1 year old**. Sadly.

[2019-01-09 14:00] maksg opened #19287 "AudioEngine::stop makes game stutter"
- cocos2d-x version: 3.17.1
- devices test on: iPhone XS Max
- Xcode version: 10.1

Steps to Reproduce:

1. int audioID = AudioEngine::play2d("audio/audio.caf", -1);
2. AudioEngine::stop(audioID);

You should now see that the game freezed for a moment. It worked correctly in 3.17

[2019-01-09 14:33] stackJolin opened #19288 "iOS project, invoke OC code about UI, the UI is bigger and sawtooth，Why?"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:10.0
   - VS version:
   - browser type and version:

Steps to Reproduce:

iOS project, invoke OC code about UI, the UI is bigger and sawtooth，Why?

[2019-01-09 15:17] formatCvt opened #19289 "COCOS2D_DEBUG is always 1 on Android"
- cocos2d-x version: 3.17.1
- devices test on: any android device
- developing environments
   - NDK version: ndk18
   - Xcode version: -
   - VS version: -
   - browser type and version: -

Steps to Reproduce:

1. Create empty project
2.  add this code in any place to AppDelegate.cpp:
[code]
3.  switch to release mode and build project

![screen shot 2019-01-09 at 18 10 20](https://user-images.gi

[2019-01-09 15:56] jcarbo opened #19290 "Android Sample project crashes at start up"
- cocos2d-x version: 3.17.1
- devices test on: Samsung Galaxy S6, Samsung Galaxy S8+
- developing environments
   - NDK version: 18.1.5063045
   - Android Studios version: 3.2.1
   - Gradle version: 4.6
   - Gradle plugin version: 3.1.0
   - OS: masOS High Sierra Version 10.13.6

Steps to Reproduce:

1. Change PROP_BUILD_TYPE to ndk-build
2. Gradle Sync, Clean, Rebuild and Run CppTests

For the re

[2019-01-09 15:59] Dimon4eg commented on #19290
3.17.1 maybe?

[2019-01-09 16:01] jcarbo commented on #19290
@Dimon4eg Yes, version 3.17.1. I updated the ticket. Sorry for my mistake.

[2019-01-10 02:10] drelaptop commented on #19287
about `0.1s` stutter caused by code block

https://github.com/drelaptop/cocos2d-x/blob/bb06edbce92b1df298b3901b1a803c97400ab800/cocos/audio/apple/AudioPlayer.mm#L128

to fix this issue https://github.com/cocos2d/cocos2d-x/issues/18597 , so you can review it

[2019-01-10 07:48] Bilalmirza commented on #19080
@stevetranby is the stuttering fixed? or do I need to apply some changes.

[2019-01-10 08:07] Bilalmirza commented on #19080
So I updated to 10.14.2 the black screen issue is fixed. But the performance has dropped quite a bit.
besides the unstable fps. Even when the fps is stable there is a lot of stuttering. What do you guys suggest I do?

[2019-01-10 10:19] quangvt commented on #18492
Hi guys. Could you give us any status about this issue?

[2019-01-10 22:28] stevetranby commented on #19080
This is a GLFW issue. Either replace with a custom source version, or wait until it's fixed in GLFW's master and then also added into a future release that Cocos2d will upgrade to.

For now you can try to use XCode 9.x or revert back to High Sierra.

It's been "solved" by the SDL team, and shouldn't be much work, but currently still hasn't been applied to GLFW's code base.
https://github.com/glfw/

[2019-01-11 06:05] Bilalmirza commented on #19080
Yeah i think it will be available with glfw 3.3

[2019-01-11 10:35] Forrest-Wangind opened #19292 "fopen64"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2019-01-11 10:35] #19292 closed, assigned to nobody

[2019-01-11 11:28] Forrest-Wangind opened #19293 "Android Sample project building problem: Error configuring"
Cannot build android sample project **cpp-tests** successfully on Android Studio.
- Mac OS version: 10.14.2 (18C54)
- cocos2d-x version: 3.17.1
- devices test on: Xiaomi Mi 8 SE
- developing environments
   - NDK version:android-ndk-r18b
   - VS version:3.2

Steps to Reproduce:
Run setup.py
Run the cocos script
1. Clone this repo (instructions above)
2. $ cd cocos2d-x
3. $ ./setup.py
4. $ source F

[2019-01-13 03:45] kienvn commented on #19293
Me too

[2019-01-13 04:16] kienvn commented on #19293
@Forrest-Wangind I fixed it by edit gradle.properties:
PROP_BUILD_TYPE=ndk-build

[2019-01-14 06:48] Zedidle opened #19295 "testtest"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2019-01-14 06:48] #19295 closed, assigned to nobody

[2019-01-14 07:56] lookfuyao commented on #19293
Meet same issue.

[2019-01-15 02:21] ogaga opened #19299 "UIScrollView::processAutoScrolling判断逻辑有问题"
- cocos2d-x version:3.17
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

UIScrollView.cpp
ScrollView::processAutoScrolling line 623 当_direction == Direction::BOTH是判断有问题，是否应该按如下方式修改

		if (_direction == Direction::BOTH) {
			bool reachedEndX = false;
			bool reachedEndY = false;
			Vec2 h = Vec2

[2019-01-15 06:56] thekie opened #19300 "Why was TextureCache::getInstance deprecated?"
I just migrate an old project to cocos-x v3 and saw that `sharedTextureCache()` was deprecated in CCTextureCache.h, which I encountered for a lot of other singletons already. But why was `getInstance()` also deprecated on CCTextureCache.h?

If that was intentional, could you please tell me the right way to access the TextureCache singleton? Is it better to go via the Director?

[2019-01-15 07:48] zerominh opened #19301 "Apk not have asssets folder Or When running, have error: "TypeError: cc.Class is undefined" (cocos2dx v3.17 js project, run with gradle version 4.6 and android plugin version 3.2.1)"
Reason: in gradle 4.6, merge assets is changed to folder merged_assets, not in assets folder
I fixed it with modify build.gradle file:
 copy {
            println("copy " + Paths.get("${buildDir}", "/../../../../../res") + "  ===>  " + Paths.get("${buildDir}",
                    "/intermediates/merged_assets/${variant.dirName}/merge${variant.dirName}Assets/out/res"))
//           from "${buildDir

[2019-01-16 05:34] EricDDK commented on #19300
In 3.17.1
the function is
![78id npdkoa5 e0zknqey](https://user-images.githubusercontent.com/33505774/51228393-58ab0280-1993-11e9-8301-6af184d1ea4f.png)

[2019-01-16 18:23] devefx opened #19303 "generateJsonModelRelease"
cocos2dx-3.17.1

travis log: https://travis-ci.org/devefx/myth-lua/jobs/480508920

[code]

[2019-01-17 01:52] drelaptop commented on #19303
in the above travis log
[code]
refer to https://github.com/cocos2d/cocos2d-x/pull/19298 to fix it

[2019-01-17 01:53] #19289 closed, assigned to nobody

[2019-01-17 01:58] drelaptop commented on #19293
could you try to install ninja? it seems like the newer cmake need ninja to be installed.

times before the android build in travis also failed, after ninja installed, build works.

[2019-01-17 10:03] fangzhzh commented on #19293
@drelaptop it works after ninja.

Thanks

[2019-01-17 18:14] devefx opened #19304 "‘environment.sh’ file not found"
- cocos2d-x version:3.17.1

I see it

[code]

but I can't find this file in the project

https://github.com/cocos2d/cocos2d-x/blob/v3/tools/travis-scripts/run-script.sh#L124

Please tell me where this file is, thank you

[2019-01-18 01:49] drelaptop commented on #19304
generated file at setup_android.py, refer to

https://github.com/cocos2d/cocos2d-x/blob/8978825fd255d13b68b2c81b7628d2f598b1acdf/tools/appveyor-scripts/setup_android.py#L100

[2019-01-18 05:40] #19293 closed, assigned to drelaptop, PatriceJiang

[2019-01-18 06:34] minggo opened #19306 "3d features are not supported"

[2019-01-18 06:35] minggo opened #19307 "tilemap crashed on iphoneX"

[2019-01-18 06:36] minggo opened #19308 "wrong effect of clipping node"

[2019-01-18 06:37] minggo commented on #19307
Error message is
[code]

May be we should use different textures in metal.

[2019-01-18 06:39] minggo opened #19309 "RenderTexture can not save image."

[2019-01-18 06:39] #19304 closed, assigned to nobody

[2019-01-18 06:40] #19303 closed, assigned to nobody

[2019-01-18 06:42] minggo opened #19310 "ProgressTimer with rial mode wrong effect in OpenGL/ES"

[2019-01-18 06:43] minggo opened #19311 "Some test cases uses OpenGL codes directly"

[2019-01-18 06:43] minggo opened #19312 "Lua/JS binding can not work"

[2019-01-18 06:49] minggo opened #19313 "New project may not work"

[2019-01-18 06:50] minggo opened #19314 "Linux is not tested, may not work."

[2019-01-18 07:00] drelaptop commented on #19313
`cocos new -l cpp HiCpp` should works on macOS, I tested it yesterday.

[2019-01-18 07:14] drelaptop commented on #17173
out-of-data cmake issues

[2019-01-18 07:14] #17173 closed, assigned to nobody

[2019-01-18 08:10] minggo opened #19316 "Should optimize uniform setting in metal."

[2019-01-18 08:11] minggo opened #19317 "Remove 3rd party libraries used for iOS simulator"
Since metal doesn't support iOS simulator, so should remove these libraries.

[2019-01-18 08:12] drelaptop commented on #18717
do it at https://github.com/cocos2d/cocos2d-x/tree/metal-support , now win32 project build files have been removed, android left cmake build type only

win32 have realized at https://github.com/cocos2d/cocos2d-x/pull/19273, need check for other platforms.

[2019-01-18 08:13] minggo opened #19318 "Remove simulator targets for iOS"
As metal doesn't support iOS simulator, so should remove simulator targets.
![2741547633156_ pic_hd](https://user-images.githubusercontent.com/488203/51373766-e6295680-1b3b-11e9-9444-30513d8974c1.jpg)

[2019-01-18 08:14] minggo opened #19319 "Remove Xcode projects"
Should just use cmake to construct projects as other platforms.

[2019-01-18 08:15] drelaptop commented on #19317
Do we consider to add a macro to allow developer to switch metal & opengl on iOS?

[2019-01-18 08:22] minggo commented on #19317
Currently, it is not easy to do it. And i don't think it is needed since if want to use opengl, then just use older versions.

[2019-01-18 08:51] crazyhappygame commented on #18717
I think that we should remove both visual studio and Xcode build files together.
In that way we will improve much faster our cmake files and avoid problems like "works in Xcode fails in cmake"

[2019-01-18 09:09] drelaptop commented on #19319
with https://github.com/cocos2d/cocos2d-x/issues/18717#issuecomment-455471357 discuss, we hold same idea to remove Xcode build files. and have made cmake works on iOS/macOS too.

the reason to keep it in alpha release is that iOS generated Xcode project don't so convenient like origin build files.

1. info.plist issues
1. iOS sign config

that is said if developer add a file, and re-execute `cmake

[2019-01-18 09:18] minggo commented on #19319
If using cmake, then developers should do custom configuration in cmake. Is there any configuration that can not do in cmake?

[2019-01-18 10:00] drelaptop commented on #19318
as I confirmed, it's a Xcode itself config, not a project config. so we can't config it at `xcodeproj` or cmake.

but we can disable any specific simulator by this way

https://stackoverflow.com/questions/33577934/can-i-set-the-default-simulator-for-new-projects-in-xcode-7-1-or-latest

after disable all simulators, we will get device only. even change to another project, device only too.

[2019-01-18 10:26] drelaptop commented on #19319
I think no necessary feature cmake can't support, only some are complex, not friendly.

__options:__
1. custom all __build__ configurations, for example headers include, link libs ... , cmake works well, and convenient for users. for we known cmake is great cross-platform build tools.

2. custom all __pack__ configurations isn't so convenient, compare with operation at Xcode UI. especially feature

[2019-01-18 16:41] crazyhappygame commented on #19319
Signing is very easy
I successfully signed iOS by adding following two lines:
[code]

[2019-01-19 12:08] DeRealMorgan opened #19322 "Uneccessary if-Check in Director::drawScene()"
- cocos2d-x version:
3.17

It is not an issue, rather an improvement:
`CCDirector.cpp`
In `void Director::drawScene()`
[code]

If `!CC_STRIP_FPS` evaluates to `false` then the body of the statement is empty. Each draw-call will check  `if (_displayStats)` without any relevance. (EDIT: If not optimised by the compiler anyway)

Should be:
[code]

[2019-01-19 12:18] v1993 commented on #19322
I'm pretty sure that all compilers optimise it out in reality, but correct.

[2019-01-19 12:20] DeRealMorgan commented on #19322
Most certainly yes! Is easier to read tho I guess.

[2019-01-20 09:10] roripika opened #19324 "runAction stop bug"
- cocos2d-x version: 3.15.1
- devices test on: iPad Pro 12.9 inch
- developing environments
   - NDK version: r14b
   - Xcode version: 10.1
   - VS version: none
   - browser type and version: none

C++

Steps to Reproduce:

[code]
When this program is executed, "_endAnimation" occasionally does not become true.

Currently working on updating from version 3.13.1 to 3.15.1, it was running properly

[2019-01-20 09:26] Dimon4eg commented on #19324
It's not cocos2d issue.
Try this :

[code]

[2019-01-20 09:39] #19324 closed, assigned to nobody

[2019-01-20 09:41] roripika commented on #19324
Sorry, the test code was not good, I will post again when the situation changes

[2019-01-20 15:34] halx99 opened #19325 "Suggestion use more faster xml parsers such as rapidxml/pugixml to instead tinyxml"

[2019-01-20 15:40] halx99 opened #19326 "Suggestion use the same implement getValueMapFromFile, getValueVectorFromFile as same for all platforms."
Since we use pure SAX parser for win32&android platform to getValueMapFromFile, I think when can unify the implementations, If I have time, I will post a PR for this issue.

[2019-01-21 02:40] drelaptop commented on #19319
above comment is the way to sign iOS, but it's not obvious to find `DEVELOPMENT_TEAM` value.

- the right way to find it by the __Organizational Unit__

[code]

[2019-01-21 02:50] yukio-oohara commented on #19324
_endAnimation

menber value

this->_endAnimation

[2019-01-21 03:32] minggo commented on #19319
I think sign information can be set in Xcode by developers after Xcode is generated by Cmake.  Currently, all tests doesn't set sign information, you should set it manually.

[2019-01-21 09:49] xiaokis commented on #8305
@minggo did you fixed this bug？the problem is so common in lg and sansamg phones

[2019-01-21 10:25] PatriceJiang opened #19331 "empty issue"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2019-01-21 10:25] #19331 closed, assigned to nobody

[2019-01-21 12:12] AmazingKevin opened #19332 "androidstudio无法打开项目"
- cocos2d-x version:3.17.1
- devices test on: PC(windows)
- developing environments
   - NDK version:android-ndk-r16b
   - Xcode version:NO
   - VS version:NO
   - browser type and version:

Steps to Reproduce:

1. 下载安装3.17.1
2. 创建新的项目 cocos new test -p test.jinlong.www -l cpp -d
3.使用 android studio 打开项目出错

file or directory 'D:\cocos2d\test\cocos2d\cocos\platform\android\libcocos2dx\src\main\java

[2019-01-21 12:24] AmazingKevin commented on #19332
[== "CMake Server" ==[

{"cookie":"","errorMessage":"Configuration failed.","inReplyTo":"configure","type":"error"}

]== "CMake Server" ==]

Configuration failed.
External native generate JSON debug: JSON generation completed with problems

:test:generateJsonModelDebug (Thread[Task worker for ':' Thread 3,5,main]) completed. Took 0.331 secs.

Task ':libcocos2dx:transformClassesAndResourcesWithSync

[2019-01-22 01:44] minggo opened #19333 "CC_USE_PHYSICS is 0"
Should set to 1 and test physics module when releasing.

[2019-01-22 01:47] drelaptop commented on #19332
please install ninja firstly, refer to https://github.com/cocos2d/cocos2d-x/pull/19298

[2019-01-22 01:47] #19332 closed, assigned to nobody

[2019-01-22 03:09] flyingkisser commented on #16045
这个问题看样子在移动端一直无解啊

[2019-01-22 05:04] AmazingKevin commented on #19332
怎么安装,怎么使用的呢

[2019-01-22 06:06] minggo opened #19334 "Texture2D::setSamplerDescriptor() -> Texture2D::setTexParams"
It is better not to change the function  name.

[2019-01-22 10:02] drelaptop commented on #19319
- `sign issues` solved by above PR

- `info.plist issues` don't need to solve.

- another cmake have supported switch Debug/Release in IDE, it's more convenient.

The only thing to prevent removing Xcode projects,  AFAIK is precompiled headers, cmake don't existed native support on it, so as to build time is more longer than supplied Xcode project.

If we think it's optional feature, I think we ca

[2019-01-22 10:04] drelaptop commented on #19318
We can't custom it at project config, so tell users `metal doesn't support iOS simulator` is OK

[2019-01-22 10:04] #19318 closed, assigned to nobody

[2019-01-23 01:47] Mee-gu commented on #19310
ref: https://github.com/cocos2d/cocos2d-x/pull/19330

[2019-01-23 01:56] #19310 closed, assigned to Mee-gu

[2019-01-23 03:43] carbon1985 opened #19341 "the multi-thread operation on __websocketInstances"
after review the websocket sources, I find some operations on __websocketInstances in WebSocket.cpp ensure mutex lock, but some did not, eg. WebSocketCallbackWrapper::onSocketCallback(), WebSocket::WebSocket() ...

I think the std vector is not thread-safe, and all the operations on __websocketInstances should ensure mutex lock

but if i add a mutex lock in WebSocketCallbackWrapper::onSocketCallba

[2019-01-23 09:46] minggo opened #19345 "remove duplicated builtin shaders"

[2019-01-23 10:27] minggo opened #19346 "DrawNode::visit() is not available in metal"
Forum thread: https://discuss.cocos2d-x.org/t/drawnode-visit-not-available-in-cocos2d-x-metal/45387.

[2019-01-24 04:23] Kabariya opened #19349 "placeholder position gets change in textfield and editbox when we clicked on it"
- cocos2d-x version: 3.17.1
- devices test on: windows 10
- developing environments
   - NDK version:19.0.5232133
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
I have posted this question over the discussion form

textfield 👍

First: cursor shows up in the middle even though we set anchor point somewhere else

Second: position change when we set to enable

[2019-01-24 06:27] minggo opened #19350 "ProgressTimer may cause blink"

[2019-01-24 07:56] minggo commented on #19350
fixed in https://github.com/cocos2d/cocos2d-x/pull/19351

[2019-01-24 07:56] #19350 closed, assigned to minggo

[2019-01-24 08:26] EricDDK opened #19352 "3.17.1 android studio compiling error."
- cocos2d-x version: 3.17.1
- devices test on: Android Studio 3.0
- developing environments
   - NDK version: r16
   - Xcode version:
   - VS version:
   - browser type and version:

Everything is OK and click Make Project in AS.
the error occurs that :

`Build command failed.
Error while executing process E:\android\adt-bundle-windows-x86_64-20140702\sdk\cmake\3.10.2.4988404\bin\cmake.exe with ar

[2019-01-24 08:57] kkafaseb opened #19353 "Very Low performance of metal version"
Is very often the case that games and especially puzzle games such as match-3 have a lot of opengl calls. Engine should have very good performance with 200-300 open gl calls.

- cocos2d-x version: metal-support
- devices test on:iphones xs max
- Xcode version: 10.1

Steps to Reproduce:

1. Create empty scene.
2. Add a lot of LayerColor

    for (int i=0; i<200; i++){
           this->addChild(Laye

[2019-01-24 09:02] #19251 closed, assigned to nobody

[2019-01-24 10:02] drelaptop commented on #19352
long path error, please move your project into root directory.

[2019-01-24 10:02] #19352 closed, assigned to nobody

[2019-01-24 10:04] kkafaseb opened #19354 "Memory leaks on ClippingNode - cocos metal version"
- cocos2d-x version: metal version
- devices test on: iphone xs max
- Xcode version: 10.1
- ios: 12

Steps to Reproduce:
1. Create an empty scene.
2. Add the following code:
    ClippingNode *_clipper = ClippingNode::create(Node::create());
    this->addChild(_clipper);

    LayerColor *red = LayerColor::create(Color4B::RED, 100, 100);
    _clipper->addChild(red);
3. Check on instruments.

With an

[2019-01-24 12:34] kkafaseb commented on #19354
@minggo pls add in metal-support milestone

[2019-01-24 14:39] EricDDK commented on #19352
@drelaptop  No other resolution?
I fix the ndk build about this error by google. But the Cmake is which I want to use.
The only solution to use CMake is move to root directory?

[2019-01-24 15:15] #19154 closed, assigned to nobody

[2019-01-24 15:36] xdeop opened #19357 "Resources in obb (zip) file not loading when previously where in Android"
- cocos2d-x version: 3.17.1
- devices test on: Pixel 3
- developing environments
   - NDK version: 19.0.5232133 / also r13b (previous one)
   - Android Studio version: 3.3

Resources from an obb file are unable to load anymore. It worked in version 3.13 but after updating to version 3.17.1 it isn’t working.

FileUtils::getInstance()->fullPathForFilename(strPlist) returns empty.

In isFileExistInte

[2019-01-25 00:49] minggo commented on #19354
The leak is caused by two things:
* first engine caches builtin shader module(MTLLibrary in metal), it will be released at the end of game or memory warning happen, so it is not a memory leak, i don't know why the tool treat it as memory leak
* second is that `Device::getInstance()` is a singleton pattern, it is not a memory leak too

[2019-01-25 01:19] minggo commented on #19354
I fixed a memory leak in https://github.com/cocos2d/cocos2d-x/pull/19358

[2019-01-25 08:34] kkafaseb commented on #19354
Is it MTLStencilDescriptorInternal the leak you fixed? This one must be real as i could observer teh memory usage going up. And also this one seems to leak every frame. Leaks in my test could reach 30mb and growing bt the minute.

[2019-01-25 08:49] minggo commented on #19354
No, i haven't fixed MTLStencilDescriptorInternal memory leak, what i fixed is Buffer. I will check it.

[2019-01-25 09:04] kkafaseb commented on #19354
![screen shot 2019-01-25 at 11 03 12 am](https://user-images.githubusercontent.com/42576559/51735739-d73d2980-2090-11e9-9956-6a2fc98d3f03.png)

Here is image i put in cocos forum. As you can see here , the leak is more. 45k leaked objects vs 2k in the image above for every frame captured in instruments. I believe the more childs the clipper has, the more the leaks are. Here leak reached 17mb and g

[2019-01-25 09:05] minggo commented on #19354
@kkafaseb i can not reproduce it now. Could you please use the latest codes to have try? May be it is fixed.

[2019-01-25 09:08] kkafaseb commented on #19354
ok i will check )

[2019-01-25 09:51] #19346 closed, assigned to nobody

[2019-01-25 09:57] minggo opened #19360 "some GLSL usage is not supported"
There are some usage are not supported:

* global variable
[code]
* use uniform in not main function
[code]

[2019-01-25 10:29] EricDDK opened #19361 "3.17.1 lua project, use AS compile APK does not contain assets folder."
- cocos2d-x version:3.17.1
- devices test on:android studio 3.2.1
- developing environments
   - NDK version:r17
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

I use ndk-build to compile an apk in android studio.

Under build/intermediates/assets.The luac and res were existed. But the APK does not contain assets folder.
.so files, libs and everything are

[2019-01-28 04:04] EricDDK commented on #19361
I fix it, the gradle version must be 3.1.0 (gradle-4.4)
!!!!  classpath 'com.android.tools.build:gradle:3.1.0'
The new version of android studio will auto update the gradle.

[2019-01-28 06:15] minggo commented on #19319
Then it will effect all new projects, it is not a friendly.

Is it possible now?

[2019-01-28 06:19] minggo commented on #19317
May be we need to support OpenGLES as @drelaptop said, but i don't know if it is possible to switch to OpenGLES or metal at runtime.

[2019-01-28 06:19] #19317 closed, assigned to nobody

[2019-01-28 07:07] drelaptop commented on #19319
when execute `cocos new`, `iOSBundleInfo.plist.in` template file will be copied too. At this time user modify it will only have  effect on single project.

yes, it is. The big difference is copy resource occurs at build process, instead of config process.

[2019-01-28 07:20] minggo commented on #19319
Sounds good, let's remove it.

[2019-01-28 08:02] MrCapone opened #19363 "Android Studio Gradle warning"
- cocos2d-x version: 3.17.1

- developing environments
   - Android Studio version: 3.3
   - Gradle plugin version: 3.2.1

[code]

Problem in module that is defined in .../proj.android/build.gradle

[2019-01-28 11:05] DenisSmirnov1986 opened #19364 "Not stable delta time in default update() method on macOS Mojave"
- cocos2d-x version: Cocos-2dx 3.17.1
- devices test on: MacBook Pro (Retina, 13-inch, Early 2015)
- developing environments
   - Xcode version: 10.1
   - macOS Mojave 10.14.2

Issue is almost the same as [this](https://github.com/cocos2d/cocos2d-x/issues/17806),
except that the problem is on macOS Mojave.
Delta time that passed to default `update()` method is not stable.
I created a simple HelloW

[2019-01-28 14:55] sbrednikhin opened #19365 "Crush on multiple url opening with using callback of EventListenerTouchOneByOne."
- cocos2d-x version: All starting from 3.14
- devices test on: PC Windows
- developing environments
   - NDK version: All
   - Xcode version: -
   - VS version: All
   - browser type and version: Chrome, maybe others.

Steps to Reproduce:

1. Change event listener to `EventListenerTouchOneByOne` in `OpenURLTest.cpp` in standard `cpp_test` project
2. Compile and run test and open browser in window

[2019-01-30 01:35] minggo commented on #19306
first PR: https://github.com/cocos2d/cocos2d-x/pull/19366, it is not complete

[2019-01-30 04:01] minggo commented on #19353
Fixed in https://github.com/cocos2d/cocos2d-x/pull/19367. It is strange that creating MTLRenderEncoder is time consuming.

@kkafaseb could you please check it too? Thanks.

[2019-01-30 04:01] minggo commented on #19354
@kkafaseb any update?

[2019-01-30 07:23] Mee-gu opened #19368 "crashed when running Node:Clipping test"
after running Node: Clipping test for a while in iPhone6s, it will crash due to depthStencil issues

[2019-01-30 09:22] kkafaseb commented on #19354
@minggo i was out of office, I will check this today!

[2019-01-30 09:22] kkafaseb commented on #19353
@minggo  sure will do it today.

[2019-01-30 09:34] minggo commented on #19354
Got it, thanks.

[2019-01-30 11:33] kkafaseb commented on #19354
Seems that it's fixed! Great work guys!

Does cocos2d-x internal qa team have test cases regarding memory leaks? Ideally we need isolated test cases because if we test on real game, since there is a lot of code being executed and many 3rd party frameworks etc involved, its hard to spot leaks if they are small. This one was easy to spot as it was leaking a lot.

[2019-01-30 12:17] kkafaseb commented on #19353
@minggo As i understand from the code you changed, the issue with performance was general in Renderer and not related to LayerColor correct? But i assume its convienient to measure using LayerColor since it's easy to increase number of GL calls with each new object placed on scene.

I run a second test, this time on a different device, iphone-x. I compared OpenGL v3.17.1 vs latest metal version vs

[2019-01-31 02:34] minggo commented on #19354
We just use cpp-tests for testing. The QA team will test it before releasing. Because it is in alpha version, so the QA team didn't join in.

[2019-01-31 02:34] #19354 closed, assigned to minggo, Mee-gu

[2019-01-31 02:41] minggo commented on #19353
Yep, the performance is not LayerColor but the engine. Sure, we will continue to polish the performance before releasing. And i will keep this issue until we fix all things.

[2019-01-31 03:01] #19361 closed, assigned to nobody

[2019-01-31 05:48] minggo commented on #19353
disable metal validation and capture GPU in release mode to reduce CPU usage: https://github.com/cocos2d/cocos2d-x/pull/19374

[2019-01-31 08:32] minggo commented on #19353
Cache renderpipeline sate to reduce CPU usage: https://github.com/cocos2d/cocos2d-x/pull/19375

[2019-01-31 08:37] minggo commented on #19353
@kkafaseb the CPU usage is reduced a lot.

[2019-01-31 08:42] minggo commented on #19353
And we will continue reduce the CPU time after https://github.com/cocos2d/cocos2d-x/issues/19316 is done.

[2019-01-31 08:55] kkafaseb commented on #19353
Ok ping me when you are ready and i will run again the tests on my side )

[2019-01-31 09:23] minggo commented on #19353
I think you can test it now. #19316 will not be fixed quickly.

[2019-01-31 09:47] minggo opened #19377 "FBO is not deleted in GL backend"
https://github.com/cocos2d/cocos2d-x/blob/metal-support/cocos/renderer/backend/opengl/CommandBufferGL.cpp#L100 will cause memory leak and slow down performance.

[2019-01-31 09:58] minggo opened #19378 "Cache GL state in GL backend"

[2019-02-01 09:00] balmerdx commented on #19365
Yes, the bug is repeated.

[2019-02-02 05:47] princegoyal1987 commented on #15417
I don't recommend doing LOCAL_ALLOW_UNDEFINED_SYMBOLS := true

This will probably make the build process successful but your application will crash.

[2019-02-04 10:56] Anywhere-Music-Player opened #19382 "Missing Chinese characters when using custom .ttf font"
- cocos2d-x version: 3.17
- devices test on: iPhone
- developing environments
   - Xcode version: 10.1
Steps to Reproduce:

1. Use `font.ttf` which does not include `zh-Hans` or `zh-Hant` language. Basically it's any font, example: https://www.1001freefonts.com/flottflott.font (I picked a random from free fonts)
2. Create `Label` using this `.ttf` Set Chinese text to it, example:` 纪录：`
3. Run and

[2019-02-05 01:38] seventhrank commented on #18873
@slackmoehrle @drelaptop
Are you busy?
Can you confirm it?

[2019-02-06 07:23] DeRealMorgan commented on #19364
I am not totaly sure about this: I think this is no issue. The delta time is supposed to give you the time difference between the last and the current frame. If it takes longer sometimes (you compute different things or your computer is busy) that will change the delta time.

[2019-02-07 13:56] kkafaseb commented on #19382
We have created a wrapper for this case. I think you will find it useful. Change according to your needs:
[code]

[2019-02-07 14:17] Anywhere-Music-Player commented on #19382
@kkafaseb
I have it actually for all types: buttons, label and text.
However, after I asking this question I later tried to use system font, and it looks ugly and eats memory. There are some like cutted shadow around all text.
Do you have the same issues?

[2019-02-08 16:13] daniaDlbani commented on #17962
I have the same issue with cocos 2.2.6. Is there any update for CCGLProgram.cpp code?

[2019-02-10 13:45] Anywhere-Music-Player commented on #19364
Yes, for Mojave I have the same issue now. My game is shuttering.
But I'm building for iOS only, so I'm happy at least it was fixed for it.

[2019-02-11 01:33] xianyinchen opened #19386 "ScrollView render with an incorrect position in Rendertexture sub draw queue."
It was will has a correct draw position by use setClippingToBounds(false) to  turn off the node scissor test. So, I think scissor test has an incorrect draw region when it was called in a render texture sub draw queue.

[HelloWorldScene.cpp.zip](https://github.com/cocos2d/cocos2d-x/files/2859073/HelloWorldScene.cpp.zip)

[2019-02-12 06:46] a493547253 commented on #15193
I use quick cocos2dx ,cannot find this file ,how can I fix this problem

[2019-02-12 11:28] kkafaseb opened #19388 "Feature Request - Extended director stats"
For displayed stats, is it possible that together with FPS, gl calls and verts we also get a “Saved by batching” similar to what is in Unity3D? Such stats would be extremely useful to have so we can check precisely how many we save, and easily understand if something broke, especially now that we have a new renderer.

[2019-02-12 11:30] kkafaseb opened #19389 "Feature Request - Static Batching"
Static Batching: This is a feature that is supported in Unity. If i understand correctly, you can mark certain objects as static and although not sharing same properties they are grouped together as one texture internally therefore minimizing gl calls. Any way to support this feature?

[2019-02-12 13:12] gamehelphere commented on #17962
Hi @daniaDlbani,

I recommend updating your setup from 2.2.6 to 3.17.1. The CCGLProgram.cpp sources are also updated in the latest version.

Cheers.

[2019-02-12 13:22] daniaDlbani commented on #17962
Upgrading of cocos is not doable. the project is old and framework contains many changes.

[2019-02-13 01:54] minggo commented on #18873
So it seems the `precision` affect the result. May be we should change to use
[code]

[2019-02-13 02:08] minggo commented on #15193
This issue system is for cocos2d-x, not for quick. You should ask quick cocos2dx's owner.

[2019-02-13 02:13] minggo commented on #19377
fixed in https://github.com/cocos2d/cocos2d-x/pull/19387

[2019-02-13 02:13] #19377 closed, assigned to Mee-gu

[2019-02-13 02:17] minggo commented on #19389
I think you can use SpriteBatchNode for it.

[2019-02-13 03:39] minggo commented on #19382
No, engine doesn't change to use system font if the ttf failed. There is why Label has different functions for different fonts. Developer should do it manually, engine can not estimate needed behavior.

[2019-02-13 03:39] #19382 closed, assigned to nobody

[2019-02-13 04:07] peerobo opened #19391 "Running on linux Debian failed"
- cocos2d-x version: 3.17.1
- devices test on: Debian 4.15.0 (docker) / Ubuntu (host)
- VGA: GTX 950 (nvdia-driver-415)

Steps to Reproduce:

1. I have a debian docker for programing.
2. Compile a simple project (gcc 6.3.0 20170516)
3. Run via ssh X forwarding
4. Have this error:

5. glxinfo:

libGL error: No matching fbConfigs or visuals found
libGL error: failed to load driver: swrast
display: 8

[2019-02-13 08:26] Anywhere-Music-Player commented on #19382
@minggo
in cocos2d-objc, if font doesn't contains Chinese, it will use system font automatically. Why this not the same for cocos2d-x?

[2019-02-13 08:34] minggo commented on #19382
I don't know the behavior of cocos2d-objc, cocos2d-x doesn't have to the same behavior as it is.

[2019-02-13 08:38] Anywhere-Music-Player commented on #19382
So, how to support multilanguage in cocos2d-x ? For English, Chinese and say Russian?

[2019-02-13 08:56] minggo commented on #19382
Use different ttf files for different languages. Cocos2d-x doesn't support localization now, and there is not plan for it, you should do it yourself.

[2019-02-13 09:27] kkafaseb commented on #19389
@minggo  oh really? I thought SpriteBatchNode needed same textures to work and was also deprecated. So even with different textures, it will still batch?

[2019-02-13 09:37] minggo commented on #19389
Different textures can not be batched.

[2019-02-13 10:22] kkafaseb commented on #19389
exactly. so i think unity static batch can combine internally different textures into 1 bigger. got it?

[2019-02-13 12:45] Anywhere-Music-Player commented on #19382
But can cocos2d-x works same as cocos2d-ojbc, so in it's can't find a symbol in .ttf file it uses some other automatically. That was typical behaviour for a good engine.
Because now, I just got empty Labels, that so AWKWARD.

[2019-02-13 12:51] Dimon4eg commented on #19382
@KAMIKAZEUA you can try do it by self and create PR.
I guess cocos2d team is busy with metal support.

[2019-02-13 12:53] Anywhere-Music-Player commented on #19382
I have no skills to do such task.

[2019-02-13 12:57] ilqvya commented on #19382
You never get such skills without even try to do it

[2019-02-13 12:58] kkafaseb opened #19393 "onTouchCancelled doenst null camera? Also touches freezes."
- cocos2d-x version:latest v3

I noticed that touchEnded has 1 extra functions not in touchCancelled:
_selectedWithCamera = nullptr;

In case of touchCancelled why _selectedWithCamera is not set to nullptr?

<img width="720" alt="screenshot 2019-02-13 at 2 53 31 pm" src="https://user-images.githubusercontent.com/42576559/52713164-424a9380-2f9f-11e9-8651-eb3d66565dac.png">

I am asking because I ha

[2019-02-13 12:58] Anywhere-Music-Player commented on #19382
Who said I didn't tried :D ?

[2019-02-13 13:00] ilqvya commented on #19382
So, DO NOT GIVE UP! ;)

[2019-02-13 15:35] slackmoehrle commented on #19391
We don't test in docker. I run Debian 9.7 on my laptop and I am running just fine. I'll see if I can find time to test this in the next day.

[2019-02-13 15:38] slackmoehrle commented on #19314
I'd be happy to try out metal on linux. I'll update this issue.

[2019-02-13 20:55] Anywhere-Music-Player commented on #18920
@minggo how this updated with new Xcode?

[2019-02-14 02:36] minggo commented on #19393
I think they should have the same logic.

[2019-02-14 02:59] minggo commented on #18920
I will take a look.

[2019-02-14 03:55] minggo commented on #18920
When i was fixing this issue, i found many 3rd party libraries uses `<>`, such as `spine`, `openssl`. I have to think more about it.

[2019-02-14 07:32] kkafaseb commented on #19393
Yeap, i agree cancelledTouched needs _selectedWithCamera = nullptr;  the only thing it doenst need is activate item, the rest should be the same.

I also think that setting MAX_TOUCHES to 15 and then freezing the whole game is unacceptable solution. It's not hard to reproduce as all user has to do is have touch down on some button before video appears and thats +1 invalid touch. There should be a

[2019-02-14 07:56] minggo commented on #18920
fixed in https://github.com/cocos2d/cocos2d-x/pull/19395

[2019-02-14 09:34] #18920 closed, assigned to minggo

[2019-02-15 01:39] minggo commented on #19360
fixed in https://github.com/cocos2d/glsl-optimizer/pull/9

[2019-02-15 01:39] #19360 closed, assigned to Mee-gu

[2019-02-15 06:44] minggo commented on #19306
second PR: https://github.com/cocos2d/cocos2d-x/pull/19392, more Sprite3D test cases work.

[2019-02-15 07:33] Mee-gu commented on #19308
fix at https://github.com/cocos2d/cocos2d-x/pull/19356

[2019-02-15 08:01] Mee-gu commented on #19308
update referenced PR

[2019-02-15 08:03] #19308 closed, assigned to Mee-gu

[2019-02-15 08:54] sebas86 commented on #19389
No, Unity was never merge textures for static batches. It just merge meshes as many as it can to create one vertex buffer, any single material has own batch. If you wan't bigger batches in unity you should merge textures by hand. BTW texture automerging is inefficient and error prone... this approach can exceed optimum texture size also there are other problems.

[2019-02-15 09:44] kkafaseb commented on #19389
Thanks for calirification sebas86

[2019-02-15 11:50] sajsaleem commented on #17851
Hi,
I am trying to build cocos2d-x project for 64 bit which will be then be ported to ps4 .. I followed your steps but when I run project on visual studio 2017 I am getting multiple glfw errors . Please refer to attachment and any help in this regard will be great. Thanks
![screenshot 3](https://user-images.githubusercontent.com/8329349/52854889-ceaaa280-30d4-11e9-87d2-944b8181c256.png)

[2019-02-15 13:48] ilqvya commented on #17851
Try to use CMake generated solution

[2019-02-16 00:32] srodrigo opened #19399 "Android build failure"
When trying to build a fresh created lua project. The only change I made was switch from `armeabi-v7a` to `x86` for performance.

I get this error:

[code]

Ninja is installed (was failing previously).

- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version: 19.1.5304403

Steps to Reproduce:

1. Try to run the game on Android Studio

[2019-02-16 00:44] srodrigo commented on #19399
To discard a problem with `x86`, I tried with `armeabi-v7a` too. Same problem, similar output:

[code]

I just made sure that `C:\Users\sergi\AppData\Local\Android\Sdk\ndk-bundle` exists.

[2019-02-16 08:55] crazyhappygame commented on #19399
I guess that your problem is with too long path. C:\Users\sergi\projects\test-lua-project-2\
Create new project in c:\p and check once again.

[2019-02-16 09:14] srodrigo commented on #19399
Thanks, that worked :)

Closing then.

[2019-02-16 09:14] #19399 closed, assigned to nobody

[2019-02-17 04:14] seventhrank commented on #18873
Solved it, It worked perfectly.

[2019-02-18 00:42] imtrobin commented on #19389
Actually, Unity does auto pack, it's just not enabled by default in Editor

https://docs.unity3d.com/Manual/SpritePacker.html

[2019-02-18 02:37] PatriceJiang commented on #19306
OpenGL 3D feature list
- [x] Mesh
- [x] Sprite3D
- [x] Skybox #19401
- [x] Terrain #19442
- [x] MotionStreak3D #19414
- [x] BillBoard #19407
- [x] Plane
- [x] 3D particles  #19464
- [x] CameraBackgroundBrush #19454

Metal 3D features
- [x] Mesh
- [x] Sprite3D
- [x] Skybox
- [x] Terrain #19510
- [x] MotionStreak3D
- [x] BillBoard
- [x] Plane
- [x] 3D particles #19508
- [x] CameraBackgroundBrush

[2019-02-18 07:22] semgilo opened #19404 "Spine rendering issues when the animation is created"
- cocos2d-x version:3.17
- devices test on:windows

After creating the animation, I paused the screen, the screen is as follows
![image](https://user-images.githubusercontent.com/7121873/52933975-127d0080-3390-11e9-88fe-206f55fff2d4.png)
After one frame, the picture is normal, as follows
![image](https://user-images.githubusercontent.com/7121873/52934009-34768300-3390-11e9-8ff5-4484d3e7eea0.png)
I

[2019-02-18 12:37] kkafaseb commented on #19389
Also Unity static batching here: https://docs.unity3d.com/Manual/DrawCallBatching.html

Basically takes dynamic batching which is already supported in cocos, a step further:

![screenshot 2019-02-18 at 2 35 39 pm](https://user-images.githubusercontent.com/42576559/52951481-9207d100-338a-11e9-9caa-c0f0ba290e67.png)

[2019-02-19 02:34] minggo commented on #18873
Will it affect the performance?

[2019-02-19 03:24] seventhrank commented on #18873
It seems that there is no problem.
but, I did not test for a long time.

[2019-02-19 03:58] minggo commented on #19345
fixed in https://github.com/cocos2d/cocos2d-x/pull/19406

[2019-02-19 03:58] #19345 closed, assigned to minggo

[2019-02-19 08:12] minggo opened #19409 "cocostudio adpation"
Much codes in cocostudio editor support codes uses GL related codes.

[2019-02-19 08:13] minggo opened #19410 "CameraBackgroundBrush adaption"
CameraBackgroundBrush uses GL related codes.

[2019-02-19 10:09] #18717 closed, assigned to nobody

[2019-02-19 14:08] aksh1203 opened #19412 "ProgressTimer or ProgressFromTo compilation error"
- cocos2d-x version: 3.17 / 3.17.1
- devices test on: Mi Max 2
- developing environments
   - NDK version: For 3.17.1 - 16b, For 3.17 - 19.0.5232133 [From Cocos2dX Forum]
   - Xcode version: NA
   - VS version: NA
   - browser type and version: NA

Steps to Reproduce:

Add ProgressTimer or ProgressFromTo related codes and compile.

Even though I compiled successfully this code on v3.17 but the sam

[2019-02-20 03:28] minggo opened #19413 "Can not update Sprite's shader"
There is no way to update Sprite's shader, especially fragment shader.

[2019-02-20 07:05] thinkreed commented on #17924
the problem is not resolved。。。we also have some crashes on this

[2019-02-20 09:13] minggo opened #19416 "VertexFormat element name is not good"
The name looks like

[code]

It is not good, can change to

[code]

[2019-02-20 09:31] PatriceJiang commented on #19416
I think the `_` can be omitted, just like `MTLDataType`.  https://developer.apple.com/documentation/metal/mtldatatype

use `FLOAT4` to replace `FLOAT_4`, etc.

[2019-02-20 09:33] minggo commented on #19416
Yep, sounds reasonable.

[2019-02-20 11:45] piotrros opened #19418 "img->saveToFile doesn't work with transparency on Android"
- cocos2d-x version: 3.17
- devices test on: Google Pixel 3XL
- developing environments
   - NDK version: r13b
   - Xcode version: 10.1
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. Load a PNG file with some transparency into Image
2. Re-save it as a transparent PNG (saveToFile(filename, false))
3. Now load the re-saved image. It has broken alpha on Android. Work

[2019-02-20 11:47] piotrros commented on #19418
Of course this is very simplified example. In my real project I use img->getData(), which is a colour array. I modify it by drawing with different kinds of brushes, then I save it for later use.

[2019-02-20 13:04] EricDDK opened #19420 "A question about versionGreater functions in AssetsManagerEx.cpp in 3.17.1 cocos2d-x"
I found that in Manifest::versionGreater function, it will compare cache version with remote version.
if cache version >= remote version. The cache directory will all remove.
I made a hypothesis:
local:1.0.0  remote:1.0.1 => through update: cache: 1.0.1
Then I posted an app update by appstore. local:1.0.2
In an ideal situation, the use will update app timely. The process will be well done. everyth

[2019-02-20 13:06] Anywhere-Music-Player commented on #19418
For me this call works:
https://github.com/cocos2d/cocos2d-x/issues/18980#issuecomment-410534926

[2019-02-20 14:14] piotrros commented on #19418
Doesn't work for me. I'm getting black background and no alpha at all.

[2019-02-20 14:16] Anywhere-Music-Player commented on #19418
For iOS and macOS it works.

[2019-02-20 14:20] piotrros commented on #19418
For iOS/macOS my code works anyway. The problem is Android.

[2019-02-21 09:04] Bilalmirza commented on #18720
@drelaptop  what would be the steps to take If i want to build win64 project.

[2019-02-21 22:19] RustyMoyher opened #19423 "VSync locking FPS at half under high load"
### VSync Lock Bug

When under a high workload on Mac or Windows, the FPS will clamp to a dramatically lower number (40, 30, 20, etc). This happens when running in fullscreen and VSync is enabled. If VSync is then disabled, the FPS will increase to a much higher number. (How high depends on the workload.)

**Expected result:** FPS might be slightly lower with VSync enabled, but not drop by 19 or 2

[2019-02-22 02:43] minggo opened #19425 "MTLRenderCommandEncoder state issue"
Because of performance issue, now all render commands in a frame share the same MTLRenderCommandEncoder, so should reset the state for every command, the following codes have wrong logic:

[code]

The scissor rect will keep enabled after it is set.

[2019-02-22 02:46] minggo commented on #19425
Should check other render state, such as `depth test`, `stencil test` and so on.

[2019-02-22 04:23] kienvn opened #19426 "Please update spine runtimes to latest version"
"We have closed 200+ runtime issues since the 3.6 release, including bug fixes and requests for enhancements"
http://esotericsoftware.com/blog/Spine-3-7-released

Can you update to latest version plz?

[2019-02-22 06:06] minggo commented on #19416
fixed in https://github.com/cocos2d/cocos2d-x/pull/19427

[2019-02-22 06:06] #19416 closed, assigned to minggo

[2019-02-22 06:13] minggo commented on #19426
Sure, we will update it in next release. But you can do it yourself if you need it quickly. It is not so hard.

[2019-02-22 07:47] EricDDK opened #19428 "#19276 will due to crash when button->loadTexture("xxx") on android platform"
- cocos2d-x version:3.17.1
- devices test on:
- developing environments
   - NDK version:r17
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

button->loadTexture("xxx"). the button is cocostudio button.

![26aj vc7i6hdr p7rttv47q](https://user-images.githubusercontent.com/33505774/53225827-386a1400-36b4-11e9-8e5b-440efa4e211e.png)

[2019-02-22 07:51] EricDDK commented on #19428
#19276

[2019-02-22 15:22] daniaDlbani commented on #8305
I'm having the same issue in **cocos2dx 2.2.6**. Is there any suggestion for that?

[2019-02-24 10:27] crazyhappygame commented on #18207
@drelaptop @minggo
Could you build Android x86_64 prebuilds for next cocos2d-x release?

As you already know 64 bit version is required for Android starting from August:
https://android-developers.googleblog.com/2019/01/get-your-apps-ready-for-64-bit.html

I have released few apps with PROP_APP_ABI=armeabi-v7a:x86.

It looks like starting from August I will have to have both arm/intel 64 bit ABI a

[2019-02-24 15:58] Glidos commented on #19115
Still apparent in v3.17.1

[2019-02-25 05:53] minggo commented on #18207
You can use 3rd party library source to build 64-bit library. We are busy for metal supporting, and we don't have x64 android devices to test.

[2019-02-25 05:56] minggo commented on #19428
The PR just make some functions as virtual. Will it cause crash?

[2019-02-25 05:58] EricDDK commented on #19428
I rolled back the part of this PR only, the crash disappeared.
cocos2d-x 3.17.1 lua project

[2019-02-25 05:59] AbaoFromCUG commented on #19246
It solve by rollback  gcc version and g++ version ,reference the file `cocos2d-x-3.17.1/build/install-deps-linux.sh`  , in the end:

[code]

the "-fPIC" error occur because gcc\g++ version too new (ubuntu17 or 18) , may be cocos2d-x should update gcc version

[2019-02-25 06:01] minggo commented on #8305
May be we should fix it like: https://discuss.cocos2d-x.org/t/restart-application-instead-of-reload-all-resources-when-opengl-es-context-lost-on-android/45074

[2019-02-25 06:52] minggo commented on #19428
Does the button need to be created by cocos studio? Cocos Studio is not maintained for a long time.

[2019-02-25 06:54] EricDDK commented on #19428
yep... it's cocostudio.

[2019-02-25 07:53] minggo commented on #19246
i think we can use ubuntu 18 for next the testing version

[2019-02-26 02:08] spacelg opened #19432 "Cocos2dx failed to build on x86 due to the error C2039: 'SetIntervalReason': is not a member of 'cocos2d'"
Environment:
 Windows Server 2016 + VS2017 Update 5 + cocos2d-x v3 branch latest srouce code

We tried to build cocos2d-x on Windows. It failed to build on x86 due to error C2039 C2065 and C2146. Could you please help take a look at this? Thanks in advance!

Steps to Reproduce:
1. git clone --recursive  https://github.com/cocos2d/cocos2d-x.git D:\Cocos2dx\src
2. Open a VS 2017 x86 command prompt a

[2019-02-26 02:44] wjdeh515 opened #19433 "Hello world debuging error GLViewImpl"
- cocos2d-x version:3.16
- devices test on: windows10
- developing environments
   - NDK version: r14b
   - Xcode version:
   - VS version: 2017
   - browser type and version:

3.17.1 version didn't occur this error.
 but 3.16, 3.15.1 version always occured this error..
what can i do?
please help me

![feasfaes](https://user-images.githubusercontent.com/32156726/53383602-956b1000-39bb-11e9-8762-ef

[2019-02-26 03:13] minggo commented on #19432
I think it is fixed after merging https://github.com/cocos2d/cocos2d-x/pull/19431.

[2019-02-26 08:54] piotrros commented on #19418
I pretty much tested every possible way and never succeeded on Android:

- saving via image->saveToFile (also tried setting setPNGPremultipliedAlphaEnabled to true and false)
- saving via RenderTexture with or without setting blending to DISABLE, ALPHA_PREMULTIPLIED and ALPHA_NON_PREMULTIPLIED
- doing the same as above, but with modified class RenderTexture class: https://pastebin.com/cbM3MJCW nam

[2019-02-27 01:47] PatriceJiang opened #19436 "[3d] Sprite3DTests known bug list"
#19306

known bugs
- [x]  8: light map tests : shader light effect incorrect
- [x] 18:Use Case For 2D+3D: transparent not enabled
- [x] [MeshComand not implemented](https://github.com/cocos2d/cocos2d-x/issues/19463)
- [x] 23:Sprite3DClippingTest
- [x] 25: BackgroundClearCamera

[2019-02-27 02:01] Mee-gu opened #19437 "CaptureScreen & CaptureNode crached in metal-support"

[2019-02-27 02:15] minggo opened #19438 "Spine is not adapted"
There is a first PR: https://github.com/EsotericSoftware/spine-runtimes/pull/1244, need to update the PR before releasing.

[2019-02-27 02:49] #19432 closed, assigned to nobody

[2019-02-27 02:50] Mee-gu commented on #19309
fix at https://github.com/cocos2d/cocos2d-x/pull/19435

[2019-02-27 03:09] imtrobin commented on #17473
I'm facing this problem on some Android devices. Most of them work but my Xiaomi (Redmi) https will fail.

[2019-02-27 03:26] stephenhurry commented on #18709
Hello? The latest version of webp is 1.0.2 already

[2019-02-27 03:30] #19309 closed, assigned to Mee-gu

[2019-02-27 03:55] minggo commented on #19409
https://github.com/cocos2d/cocos2d-x/pull/19434
https://github.com/cocos2d/cocos2d-x/pull/19415

[2019-02-27 03:55] #19409 closed, assigned to minggo

[2019-02-27 05:34] EricDDK opened #19440 "3.17.1 lua occur unscheduled crashes, the stack is incomplete."
The crash will unscheduled happens in every time on some devices.
The step is =>
 I create multiple apps in the background. The device performance will be very low.
Then repeated clicks on game content. The crash will happen. Every click maybe due to the crash.
I test the game memory and the OS memory. There are many remaining
Bugly only show the logs about 3 lines. I have uploaded the symbol tabl

[2019-02-27 07:04] minggo commented on #19425
fixed in https://github.com/cocos2d/cocos2d-x/pull/19441

[2019-02-27 07:04] #19425 closed, assigned to Mee-gu

[2019-02-27 09:09] imtrobin opened #19443 "Https fails"
- cocos2d-x version: 3.17.1
- devices test on: Xiaomi, Oppo, others
- developing environments
   - NDK version: r19
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. A new hello world project. Add this to the end of init

	HttpRequest* request = new HttpRequest();
	request->setRequestType(HttpRequest::Type::GET);
	request->setUrl("https://www.mocky.io/v2/

[2019-02-27 10:03] imtrobin commented on #19443
I have tessted another https url, the oppo r11 works, but xiaomi still fails.

[2019-02-28 03:19] minggo commented on #19312
https://github.com/cocos2d/cocos2d-x/pull/19445 makes hellolua work. Things left:
- remove deprecated functions
- remove unsupported test cases in luatests
- make luatests work

[2019-02-28 03:53] minggo opened #19446 "cocos console should work with cmake"

[2019-02-28 07:02] minggo commented on #19319
done in https://github.com/cocos2d/cocos2d-x/pull/19448

[2019-02-28 07:02] #19319 closed, assigned to minggo

[2019-02-28 07:23] semgilo commented on #19404
https://github.com/EsotericSoftware/spine-runtimes/issues/1281#issuecomment-468130479
fixed

[2019-02-28 07:24] #19404 closed, assigned to nobody

[2019-02-28 07:52] piotrros commented on #19418
Okay, I've solved it:

After deep analysis, I couldn't find a solution. I've come up with the idea that it might be a problem with libpng, but it wasn't. In the end, I've extracted from device saved file and to my shock it was fine (non premultiplied). Conclusion: saving works fine. Three damn days!

So, maybe there's something wrong with loading a file. It turned out to be true.

I load file like

[2019-02-28 07:52] #19418 closed, assigned to nobody

[2019-02-28 12:59] hk520570 opened #19452 "the android 9.0 issue"
- cocos2d-x version:3.10
- devices test on: android 9.0
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

In the case of Android 9.0, this app is built specifically for the old Android version, so it may not work properly. Please check for updates or contact the developer.（此应用专为旧版android 打造，因此可能无法正常运行，请检查更新或与开发者联系）

[2019-02-28 21:30] crazyhappygame commented on #19446
@minggo for what cocos console is needed with cmake?
To compile:
mkdir build
cd build
cmake..
cmake --build .

To create new project:
cp -R tests/cpp-empty-test my_new_project

Should work for all platforms.

[2019-03-01 01:09] minggo commented on #19446
I mean cocos console commands, such as `cocos compile -p mac`.

[2019-03-01 01:17] minggo commented on #19452
Can the app run correctly, is it just a warning?

[2019-03-01 01:26] minggo commented on #19446
As i know`cmake --build ` can not work on Android. Right?

[2019-03-01 01:26] minggo commented on #19446
Sorry, i mean can not use cmake to run Android application.

[2019-03-01 02:04] hk520570 commented on #19452
just warning~~like this:https://www.jianshu.com/p/9dc825ac1c58

[2019-03-01 02:19] minggo commented on #19452
So it seems can not solve it in by engine. The Application should set target SDK version to 17+?

[2019-03-01 02:24] hk520570 commented on #19452
how to modify it,I use ->call cocos compile -p android --ap android-28 -m release --compile-script 0
however it has warring!

set targetsdkversion into AndroidManifest.xml
like this:uses-sdk android:minSdkVersion="9" android:targetSdkVersion="17"/    ?
but it cann't work,the failed is: dlopen failed: cocos2djs.so

[2019-03-01 03:42] minggo commented on #19452
I think you should modify `target=android-13` in `project.properties`.

[2019-03-01 03:44] hk520570 commented on #19452
thank you！ I try it

[2019-03-01 04:27] imtrobin commented on #18725
Is this fixed? I'm still seeing the same problem on 3.17.1

[2019-03-01 05:40] Mee-gu opened #19453 "No need to set index in setAtrribute"

[2019-03-01 08:19] AlvaStudio commented on #16999
Hello! This problem is still a life. The problem with the positioning of widgets on the scene. When the device rotates, all coordinates are distorted.
Try add WebView.
webView->setContentSize()
webView->setPosition()

[2019-03-01 15:03] hk520570 commented on #19452
my project.properties  set:target=android-28,but it has warring

[2019-03-01 17:53] deguilardi opened #19455 "cocos gen-libs"
it seems like the gen-libs command was removed. how am I supposed to generate the libs?
Every documentation still points to the gen-libs command

[2019-03-01 20:12] crazyhappygame commented on #19446
For Android:
build:
[code]
install:
`$ adb install proj.android/app/build/outputs/apk/release/my.apk`

[2019-03-03 07:26] imtrobin opened #19456 "Android FileUtils::listfiles 3.17.1 not working"
- cocos2d-x version: 3.17.1
- devices test on: Multiple
- developing environments
   - NDK version:  19

This fails to get any files

`vector <string> files = fileutil->listFiles (fileutil->getDefaultResourceRootPath ());`

[2019-03-04 00:40] imtrobin commented on #19443
This might be possible solution?
https://stackoverflow.com/questions/28943660/how-to-enable-tls-1-2-support-in-an-android-application-running-on-android-4-1

[2019-03-04 01:24] minggo commented on #19452
it is strange, i will find a device to test

[2019-03-04 02:00] minggo commented on #19446
Thanks. I will use these commands in cocos console. I have to make cocos console work to keep compatibility, and it is easy to use the same commands on different platforms.

[2019-03-04 02:25] hk520570 commented on #19452
thank you~

[2019-03-04 06:09] Mee-gu commented on #19307
fixed at https://github.com/cocos2d/cocos2d-x/pull/19458

[2019-03-04 07:09] #19307 closed, assigned to Mee-gu

[2019-03-04 07:11] Mee-gu opened #19459 "Wrong effect when dragging the screen in TileMap test"
only occur on mac

[2019-03-04 07:12] #19459 closed, assigned to nobody

[2019-03-04 07:13] Mee-gu opened #19460 "Wrong effect when dragging the screen in TileMap test"
only occur on mac

[2019-03-04 08:55] imtrobin commented on #19443
I implemented the above, and it works!

I modified createHttpURLConnection to set the SSLFactory because it throws before reaching setVerifySSL.

[code]

Also, I could only get it to work on trusted certs, https://www.mocky.io/ is untrusted cert according to https://www.digicert.com/help/

So not sure if this is the best correct fix, but the current implementation does not work on older devices wh

[2019-03-04 11:34] imtrobin commented on #19443
It seems like setVerifySSL is only used for socket.io, so my above "fix" is needed for Android 4 devices, correct?

[2019-03-04 13:23] Mee-gu opened #19461 "add debug information"

[2019-03-05 03:19] PatriceJiang opened #19463 "[3d] impl MeshCommand"
#### implement `MeshCommand`
replace `CustomComand` with `MeshCommand` in
- [x] CCPass
- [x] Terrain
- [x] ParticleSystem3D

[2019-03-05 03:23] PatriceJiang commented on #19463
The render order of `CustomComand` is different from `MeshCommand`

[2019-03-05 05:29] a493547253 commented on #15193
I think I kind find the problem ,it caused by android code. thank you

[2019-03-05 21:27] angelvet commented on #17924
Hi,
95% of all crashes on my app is this cocos2d::Label::onDraw one! (Cocos2d-x 3.17.1)
Are there any clues how this can be fixed? Thanks

[2019-03-06 01:58] minggo commented on #17924
Is there any test case to reproduce it? Many things can cause crash in OpenGL ES.

[2019-03-06 03:10] rh101 commented on #19443
If it's not trusted on Android devices, it may mean the Let's Encrypt root certificate doesn't exist on those older devices.

You can always just pass in the certificate in your code to avoid having the users install the root certificate:

    auto certPath = FileUtils::getInstance()->fullPathForFilename("certificate.pem");
    network::HttpClient::getInstance()->setSSLVerification(certPath);

[2019-03-06 03:14] minggo commented on #19452
We found 3.10 can not work on Android 9, crashed when start up. But 3.17.1 works.

[2019-03-06 07:39] hk520570 commented on #19452
my new workspace use 3.16,but 3.10 work well on Android 9,but it has warring

[2019-03-06 08:59] azxcffdgadf opened #19467 "An anr bug appears on android"
Samsung Galaxy Tab A (2016) (gtaxlwifi), Android 8.1:
"main" tid=1 Waiting
"main" prio=5 tid=1 Waiting
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x72b63718 self=0xf04fb000
  | sysTid=13165 nice=-10 cgrp=default sched=0/0 handle=0xf47b04b8
  | state=S schedstat=( 0 0 0 ) utm=27 stm=8 core=3 HZ=100
  | stack=0xff588000-0xff58a000 stackSize=8MB
  | held mutexes=
  at java.lang.Object.wait (Nati

[2019-03-06 09:01] minggo commented on #19446
https://github.com/cocos2d/cocos2d-x/pull/19466: cpp tests lua empty test work, `lua tests` itself can not build correctly.

Things left:

- [x] lua tests: https://github.com/cocos2d/cocos2d-x/pull/19471
- [ ] js tests
- [x] new project

[2019-03-06 09:02] minggo opened #19468 "CI can not work"

[2019-03-06 20:42] angelvet commented on #17924
Nope, sorry. I only have stack-traces from Google Play.

[2019-03-06 23:14] NinjaGah opened #19470 "getVisibleSize() returns window size rather than design resolution after setWindowed() is called"
- cocos2d-x version: 3.17.1
- devices test on: Windows, Linux
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: VS2015
   - browser type and version:

Steps to Reproduce:

1. In the AppDelegate::applicationDidFinishLaunching(), call setWindowed() after design resolution has been set. For example:

[code]
2. Calling Director::getInstance()->getVisibleSize() will retur