[2017-10-25 16:49] princegoyal1987 commented on #15713
@graph @minggo Thanks for the help.
Just to inform others, I have launched the app with APP_ABI = armeabi, and seems like it supports all the devices except x86. armv7 and later versions seem to be compatible with armeabi.

[2017-10-26 02:01] minggo commented on #18286
I can not find the information in `https://developer.android.com/ndk/guides/cpp-support.html#libc`. And the doc says libc++ is not stable.

[2017-10-26 02:22] deguilardi commented on #18286
@minggo The text I wrote is the very first phrase of the link I sent. How could you didn't find it?
About not being stable, there must be a language barrier here, the doc says "Prior to NDK r16, the NDK's libc++ is not stable" - PRIOR TO r16 - in other words: in older versions

Not paying attention to this is going to cause the same thing that happened when google removed the "android" command and

[2017-10-26 02:25] minggo commented on #18392
yep, but it may meet issue in travis building. In travis building, Android projects shares `built .obj files` files to speed up building speed, or it may timeout issue. Can refer to [the codes](https://github.com/cocos2d/cocos2d-x/blob/v3/tools/travis-scripts/run-script.sh#L61) for detail info.

After using `$(call import-add-path, <cocos-root>)`, cpp project can not share `built .obj files` becau

[2017-10-26 02:29] deguilardi commented on #18286
check this link: https://android.googlesource.com/platform/ndk/+/master/docs/Roadmap.md#ndk-r18
it clearly says the libc++ will be the only STL available after the first quarter of 2018. We've got 5 months.

[2017-10-26 02:33] minggo commented on #18286
Thanks for the link. The page is automatically translated to Chinese when i open the link, it is cookie related, i will fix it the check the English version.

cocos2d-x doesn't use libc++ is because we changed it in v3.11 or other version, i don't remembered, and meet some strange crash issues. That's why i don't want to change to use libc++ until it is stable.

[2017-10-26 02:35] deguilardi commented on #18286
![a](https://user-images.githubusercontent.com/16661903/32032356-b846ff02-b9d4-11e7-9525-025b1841e8f9.png)

[2017-10-26 02:38] deguilardi commented on #18286
Well, in April 2018 the libc++ will be the only option... Let me know if you need me to help on this.

[2017-10-26 02:55] minggo commented on #18286
Thanks, i think you can help to report issues or sent PR to fix issues that are libc++ related.

[2017-10-26 03:40] #18409 closed, assigned to nobody

[2017-10-26 04:29] tqwewe commented on #18411
I managed to find the issue to this problem and solve it.

In my scene class' `cpp` file, I have two methods: `createScene()` and `init()`.
`init()` contains the code to create each sprite and add it as a child to the scene.
`createScene()` contained the following code:
[code]

The problem with the code above, is `init()` is never executed.
I needed to change the code to instead this:

[code]

Thi

[2017-10-26 04:30] #18411 closed, assigned to nobody

[2017-10-26 09:12] 1scaR1 opened #18412 "Detach from TextFieldTTF broken on iOS"
- cocos2d-x version: current HEAD
- devices test on: iOS devices
- developing environments
   - Xcode version: 8, 9

Steps to Reproduce:

1. Create TextFieldTTF
2. Click on it, keyboard will show
3. Can not click outside the textfield to hide keyboard: I need to close keyboard by pressing "hide key" on it (which is not presented on iPhone) and then outside text field for detach event been sent.

I

[2017-10-26 14:57] AwaisQmar commented on #17423
Hi @dumganhar !
Any update on this crash ?

[2017-10-26 23:38] dumganhar commented on #17423
did you try 3.16？how did you use AudioEngine API，did you use it in different thread which isn't cocos thread？do you know how to reproduce it？

[2017-10-27 02:31] Ander456 commented on #18380
Dear @dumganhar , have you seen this problem? sorry to ask again..

[2017-10-27 06:23] meiry commented on #17991
Is there any tutorial or example on how to build new template ?
Also is there any alternative way to create project using prebuild libs ?

[2017-10-27 08:46] rynkowsg commented on #18392
I think I don't understand the problem here. I don't see any reason why command `import-add-path` would affect the location of obj/ directories.
Can you send me a link to the problematic build log?

[2017-10-27 09:03] minggo commented on #18392
No problem, i fixed it.

[2017-10-27 10:57] thuglifezxm opened #18413 "The EVENT_SHOW event was call twice"
- cocos2d-x version: cocos2dx js 3.12
- devices test on:   any android device
- developing environments
   - NDK version:   r9d
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.   Wechat share pull up in cocos2dx
2.   Dont share, click  back ,  auto back to cocos2dx app
3.   The EVENT_SHOW event was call twice

[2017-10-27 19:38] hgokturk opened #18414 "FileUtils getStringFromFile loads interrupted json."
- cocos2d-x version: 3.15
- devices test on: emulator.
`rapidjson::Document d;
std::string file = "res/data.json";
std::string content = FileUtils::getInstance()->getStringFromFile(file.c_str());
log("file content: %s", content.c_str());`
The json is a 548 kb valid file. When it's loaded with FileUtils, content is logged as an interrupted file so it can not be parsed.

[2017-10-27 20:46] ahcox opened #18415 "Many warnings from unused function parameters"
- cocos2d-x version: 3.16 (also current github HEAD)
- devices test on: N/A

Steps to Reproduce:

1. Open default generated project in Clion on Mac.
2. Build Cocos

The code has many functions with unused parameters such as these in https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/ui/UIEditBox/UIEditBoxImpl-common.h:

    virtual void setAnchorPoint(const Vec2& anchorPoint) override {}
    virtu

[2017-10-28 00:32] dumganhar commented on #18414
Does your json file contain binary Bytes like \0？

发自我的 iPhone

[2017-10-28 00:35] hgokturk commented on #18414
No.

[2017-10-28 01:16] dumganhar commented on #18414
OK, do you mind upload a json file for reproduce this issue?

发自我的 iPhone

[2017-10-28 05:11] hgokturk commented on #18414
Sure not. [data.json](https://www.dropbox.com/s/13fya6jlwruudlw/dataj.json?dl=0)

[2017-10-28 08:11] AgoraBeck commented on #13772
I encounter this  problem in xcode, too.

Fix it by , clean 、clean build floder && restart the xcode.

[2017-10-30 07:38] tangyiyang commented on #18408
It breaks with this issue, you may consider add this line in you local repo.
https://github.com/cocos2d/cocos2d-x/pull/17938

[2017-10-30 07:41] tangyiyang commented on #18384
AFAIK, Sequence and RepeatForever Action couldn't work together.
I believe cocos should add this notice to the `documentation`. :)

[2017-10-30 08:05] #18408 closed, assigned to nobody

[2017-10-30 09:35] b1joker commented on #18363
thanks you, i fixed it

[2017-10-30 09:59] Ander456 commented on #18380
@minggo sorry to interrupting you again . could you take a look at this pro?

[2017-10-30 10:07] dumganhar commented on #18380
@Ander456 , could you reproduce the issue? If you could , please send a demo to me.
I will take some time to have a look.

[2017-10-30 10:08] dumganhar commented on #18380
@rizwangaminations， from your attached stack information, sorry for that I could not guess what the problem is.

[2017-10-30 12:27] Kotaiba commented on #8305
@mingoo is there will be a fix  for this bug  ?

[2017-10-30 18:03] krasnorutsky opened #18420 "Plugin-X for JS callFuncWithParam pass argument with errors"
When I call Plugin-X method from Javascript like this -

        var AdCel = plugin.PluginManager.getInstance().loadPlugin("AdCelSDKPlugin");
        AdCel.callFuncWithParam("start", new plugin.PluginParam(plugin.PluginParam.ParamType.TypeString, "appId"), new plugin.PluginParam(plugin.PluginParam.ParamType.TypeString, "adContentType"));

- I expect to get "appId" for the first parameter and "adCo

[2017-10-31 01:32] minggo commented on #8305
The issue is that we can not reproduce it.

[2017-10-31 01:58] Mog90 opened #18421 "PolygonBatch crashes in glDrawElements of PolygonBatch::flush sometimes"
- cocos2d-x version:cocos2d-x v3.9
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

PolygonBatch crashes in glDrawElements of PolygonBatch::flush sometimes

[2017-10-31 06:30] minggo commented on #16644
it is updated to latest version: 2.3.1, and use prebuilt version: https://github.com/cocos2d/cocos2d-x/pull/18422

[2017-10-31 06:30] #16644 closed, assigned to nobody

[2017-10-31 06:57] mogemimi commented on #16644
Thank you for updating! :+1:

[2017-10-31 06:58] minggo commented on #18377
Please use english, and i don't know the answer. If you use english, then other developers can help you.

[2017-10-31 06:58] #18377 closed, assigned to nobody

[2017-10-31 07:08] minggo commented on #15678
Why have to remove it? You can ignore it if you don't use it, it will not hurt you.

[2017-10-31 07:08] #15678 closed, assigned to nobody

[2017-10-31 08:11] Kotaiba commented on #8305
@minggo I've fix it ,i delay any label creation or update after any other popup showing like ads ,google online matching and the bug gone , So we should not create label right after ads finish .

[2017-10-31 14:58] Liaoer opened #18423 "tableview里cell按钮点击事件的bug"
- cocos2d-x version: 3.16
- devices test on: all device
- developing environments
   - NDK version: 13b
   - Xcode version: 9
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. 创建tableview
2. 添加自定义cell，cell是个button
3.按钮事件丢失
CCNode.cpp 中的cleanup方法中添加了 _eventDispatcher->removeEventListenersForTarget(this)；导致事件被删除。。

[2017-10-31 15:05] G0561 opened #18424 "scrollview 里面有按钮item 还是有bug"
- cocos2d-x version: 3.13
- devices test on:  ios ,window, android
- developing environments
   - NDK version: 11
   - Xcode version:  8
   - VS version: 2013
   - browser type and version:

Steps to Reproduce:
scrollview  里面有按钮item 还是有bug

[2017-10-31 16:08] RuningBun commented on #18423
是不是tableview没有开启触摸监听。

2017年10月31日 22:59，"Mr.Liao" <notifications@github.com>写道：

[2017-10-31 16:10] nieyanbing commented on #18423
第1次没问题 第2次就会丢失了

[2017-10-31 17:39] Liaoer commented on #18424
CCNode.cpp 里 cleanup 注释掉 _eventDispatcher->removeEventListenersForTarget(this)；

[2017-10-31 17:40] Liaoer commented on #18423
不是。去掉源码CCNode.cpp 方法cleanup 中的 _eventDispatcher->removeEventListenersForTarget(this)； 这行就ok了，这个是后来加的，没测试好

[2017-10-31 18:13] nieyanbing commented on #18423
确实是，我没做具体测试，原来用C++写的代码升级到3.16后，如果是一个DialogLayer 创建后第1次点击事件是正常，关闭后再打开这个对话框的所有点击事件都会失效。
但是后来用LUA写的代码好像没出现这个问题

[2017-11-01 01:29] dumganhar commented on #18423
@Liaoer  Could you provide a test case for this issue?

[2017-11-01 01:33] summerinsects commented on #18423
将tableView源码里所有的`removeChild(cell, true)`改为`removeChild(cell, false)`，使之不再cleanup即可。
去掉Node::cleanup中的`_eventDispatcher->removeEventListenersForTarget(this)`是不妥的。当一个Node不在渲染树上时，不应该响应事件。

Modify `removeChild (cell, true)` to `removeChild (cell, false)` in whole tableView's source code, so that do not cleanup the cell when recycle it.
It is incorrect to removed `_eventDispatcher-> removeEventListene

[2017-11-01 01:36] dumganhar commented on #18423
@summerinsects , yep, tableview re-uses cells, so its children should not be cleaned up.
I will submit a Pull Request for this bug.

[2017-11-01 02:45] dumganhar commented on #18423
@Liaoer , could you test what @summerinsects said?

[2017-11-01 03:22] Liaoer commented on #18423
@dumganhar @summerinsects  it works,thanks!

[2017-11-01 06:49] acrazing opened #18428 "The byte code of javascript contains the local path information."
The source code like this:

[code]

And compile it by run:

[code]

And then use apktools to decode the apk file, then run:

[code]

The result as follow:

[code]

You can see the string `******/hello.world/frameworks/runtime-src/proj.android-studio/app/build/intermediates/assets/release/src/resources.js`, the `******` is the root path of the project, which is modified by myself.

[2017-11-01 06:54] minggo commented on #18328
fixed in https://github.com/cocos2d/cocos2d-x/pull/18427

[2017-11-01 06:59] #17728 closed, assigned to nobody

[2017-11-01 07:02] minggo commented on #18201
i think you can send a PR to spine runtime, according spine's license, cocos2d-x can not modify the codes.

[2017-11-01 07:02] #18201 closed, assigned to nobody

[2017-11-01 07:03] minggo commented on #18420
plugin-x is not maintained for years. You can use SDKBox or AnySDK.

[2017-11-01 07:03] #18420 closed, assigned to nobody

[2017-11-01 07:11] minggo commented on #18415
we are continue fixing it

[2017-11-02 06:39] minggo commented on #18398
fixed in https://github.com/cocos2d/cocos2d-x/pull/18434

[2017-11-02 06:39] #18398 closed, assigned to minggo

[2017-11-02 06:39] minggo commented on #17700
fixed in https://github.com/cocos2d/cocos2d-x/pull/18434

[2017-11-02 06:39] #17700 closed, assigned to minggo

[2017-11-02 06:40] #16481 closed, assigned to nobody

[2017-11-02 07:49] piotrros commented on #18328
Great, thanks a lot!

[2017-11-02 07:49] #18328 closed, assigned to minggo

[2017-11-02 07:58] simpers commented on #18399
Any progress on this yet? Right now I'm using v3.13.1 for building on Linux and v3.16 for iOS, due to all previous versions apparently being deprecated due to a system-call which does not exist in iOS 11 anymore.

[2017-11-02 08:01] cirosantilli commented on #18399
@simpers nope. Cocos really needs some packaging love :-)

[2017-11-02 08:29] minggo commented on #18328
Please read the commend in the PR, there is a bug of `TankExample` on macOS.

[2017-11-02 10:53] Ander456 commented on #18380
@dumganhar oh, thanks for the response. But, I couldn't reproduce this problem , just say this bug report on the "bugly" .Specially, most is on the IOS. My cocos version is 3.10 -lua

[2017-11-02 13:16] liuyi opened #18437 "3.15.1 node.scheduleUpdate with override update method cause memory increase and can't release"
- cocos2d-x version:3.15.1
- devices test on:ipad
- developing environments
   - NDK version:
   - Xcode version: xcode 9
   - VS version:
   - browser type and version: native app

Steps to Reproduce:

 3.15.1 JSB环境 IOS IPAD3 真机测试

测试代码:

var MySprite= cc.Sprite.extend({
ctor:function(){

var _self=this;
_self.scheduleUpdate();
},

//如果不覆盖这个方法，内存不会增长，我记得我使用3.10的时候就发现这个问题
//memory increase always

[2017-11-03 01:33] minggo commented on #18328
spine's author fixed the crash issue, and i applied it in https://github.com/cocos2d/cocos2d-x/pull/18438/commits/5a8803dab9570043c4e3ceee47c19d17387aa368

[2017-11-03 02:03] #18412 closed, assigned to nobody

[2017-11-03 04:41] ShuraLiu commented on #12459
I got the same problem with my project and I find this issue. Fortunately I found this page http://discuss.cocos2d-x.org/t/problem-with-ccrendertexture-and-image-quality/3916/3,  it gives the solution.
The I looked into the file CCRenderTexture.cpp, I think you can change _texture->setAliasTexParameters() to _texture->setAntiAliasTexParameters() in default. @minggo @ricardoquesada

[2017-11-03 05:54] minggo commented on #12459
@ShuraLiu sounds reasonable. Have you fixed it by changing it?

[2017-11-03 06:02] AgoraBeck commented on #15557
In Application.mk, do some modification, as following:

 APP_ABI := armeabi-v7a  \
              x86        \
              #arm64-v8a

That will be helpful.

[2017-11-03 06:38] ShuraLiu commented on #12459
@minggo Yes, it works right now.

[2017-11-03 06:43] minggo commented on #12459
Why not send a PR?

[2017-11-03 07:16] ShuraLiu commented on #12459
here it is. It's my first pr, I'm not sure is it right, please help me checking it, thanks!

[2017-11-03 07:27] minggo commented on #12459
it looks good, thanks

[2017-11-03 15:53] slackmoehrle opened #18443 "`cocos gen-libs` specify specific libraries to build"
From forum users:

I’m using prebuilt libs with Xcode. Work really fast and easy to use.
But when I’m updating cocos2d-x from git, each time I need to rebuild them using command:

[code]

And I get on output, counting all files:
[code]
Instead I need just only 2 libs which I’m using for my game:
[code]
And I want to save a lot of wasted time for building unused libs.

Can some flag be added to ach

[2017-11-05 00:02] hgokturk commented on #18414
Also tried:
[code]
but the result is the same.

[2017-11-05 07:55] Dimon4eg commented on #17962
I have the same problem on emulators except one.

This configuration works for me:
![image](https://user-images.githubusercontent.com/1271541/32412977-4f4879a2-c20f-11e7-95fd-e3bf3eb71c3a.png)

![image](https://user-images.githubusercontent.com/1271541/32412984-68bf8b5a-c20f-11e7-91bf-ce711ac44340.png)

[2017-11-05 15:39] Anywhere-Music-Player commented on #18443
It's not about cocos2d-x, but about console.
Anyway notice time when I created this bug: https://github.com/cocos2d/cocos2d-console/issues/413 and now, so nobody cares.

[2017-11-05 19:55] crazyhappygame commented on #18384
@tangyiyang Could you explain why "Sequence and RepeatForever Action couldn't work together"?
It seems like "runAction(RepeatForever::create(Sequence::create" is very popular in cpp-tests
[code]

[2017-11-06 02:28] #12459 closed, assigned to minggo

[2017-11-06 07:53] shanshan0309 opened #18446 "Failed to build cocos2d-x on x86 due to cmake error: Could not find GLFW3 (missing: GLFW3_LIBRARIES GLFW3_INCLUDE_DIR)"
I build cocos2d-x with Visual studio 2017 compiler on Windows Server 2016, but it failed with cmake error: Could not find GLFW3 (missing: GLFW3_LIBRARIES GLFW3_INCLUDE_DIR). This issue can be reproduced from v3 revision [1d356a1](https://github.com/cocos2d/cocos2d-x/commit/1d356a160a42e438083bdba81fe603d10343699b). Could you help have a look about this issue? Thanks in advance!

**Steps to Reprodu

[2017-11-06 16:25] wsyfire opened #18449 "setmetatableindex"
- cocos2d-x version:3.16

local setmetatableindex_
setmetatableindex_ = function(t, index)
    if type(t) == "userdata" then
        local peer = tolua.getpeer(t)
        if not peer then
            peer = {}
            tolua.setpeer(t, peer)
        end
        setmetatableindex_(peer, index)
    else
        local mt = getmetatable(t)
        if not mt then mt = {} end
        if not mt.__inde

[2017-11-06 20:44] slackmoehrle commented on #18443
Good point, there is already an issue.

[2017-11-06 20:44] #18443 closed, assigned to nobody

[2017-11-07 04:06] glennerichall opened #18450 "Missing #include <list> in apple/AudioEngine-inl.h"
- cocos2d-x version: cocos2d-x-3.16
- devices test on: MacOS Sierra 10.12.6
- developing environments
   - Xcode version: Xcode 9.1
   - CMAKE_VERSION: 3.9.0-rc3

Missing #include <list>

cocos2d/cocos/audio/apple/AudioEngine-inl.h:76:10: error: no type named 'list' in namespace 'std'

https://github.com/cocos2d/cocos2d-x/blob/540980ab2496362bba632b3a8ef3fc5313d5eab5/cocos/audio/apple/AudioEngine-

[2017-11-07 05:43] protito commented on #18450
yes, I got this same error in cLion, why does this happen in cLion but not in xCode?

[2017-11-07 06:10] summerinsects commented on #18450
Maybe you can submit a PR to fix it

[2017-11-07 07:09] AwaisQmar commented on #17423
@dumganhar
We are using cocos2dx 3.15 but we have updated Audio module from
latest cocs2d-x v3 branch.
No , we are not using different threads and at the moment we are not sure about the reproduction steps but as per crashlytics dashboards a lot of users are still facing this crash on android side.

[2017-11-08 05:56] #18423 closed, assigned to nobody

[2017-11-08 06:02] dumganhar commented on #17423
It must have some reproduce steps, perhaps, you could record some steps in your game and trace user behavior while game crashes.

[2017-11-08 13:26] hgokturk commented on #18414
Seems like the problem is that `FileUtils::getInstance()->getStringFromFile(file.c_str());` is unable to handle the whole json. I updated the file removing all data but section 'three', and confirm that is loads the content of json intact.

[2017-11-08 15:01] richardgroves opened #18453 "xcpretty is a required tool to build on Mac"
- cocos2d-x version:3.16
- devices test on:N/A
- developing environments
   - NDK version:
   - Xcode version:9.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Follow instructions in README.md to start a new project
2. At line 'cocos run -p ios' the build will fail if xcpretty gem is not installed

Solution:

Add 'gem install xcpretty' to the setup process

[2017-11-08 15:04] richardgroves opened #18454 "Demo project wont build on Mac if the path has a space in it"
- cocos2d-x version: 3.16
- devices test on: N/A
- developing environments
   - NDK version:
   - Xcode version: 9.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Follow steps to download and setup a new project from README.md
2. Use a folder with a space in the path as NEW_PROJECTS_DIR
3. 'cocos run -p ios' will fail with 'xcodebuild: error: Unknown build action '<the p

[2017-11-08 19:51] slackmoehrle commented on #18453
Are you sure? I am not seeing this. I just tested, latest from GitHub

[code]

[2017-11-09 01:21] #18449 closed, assigned to nobody

[2017-11-09 01:22] #15762 closed, assigned to nobody

[2017-11-09 02:20] dumganhar commented on #17713
It's the same issue as https://github.com/cocos2d/cocos2d-x/issues/17052
Fixed at https://github.com/cocos2d/cocos2d-x/pull/18271
Close this one.

[2017-11-09 02:20] #17713 closed, assigned to dumganhar

[2017-11-09 02:26] dumganhar commented on #17395
@formatCvt , did you test #18146 patch?

[2017-11-09 03:39] wnddpd01 opened #18455 "build status does not working"
- cocos2d-x version:
- devices test on: Windows 10
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version: Chrome, latest

Steps to Reproduce:

Build status in README.md not working, cant connect to http://45.56.80.45:8080/job/daily-build-v3

[2017-11-09 04:53] formatCvt commented on #17395
@dumganhar Yes, i will give feedback this week

[2017-11-09 07:30] sofaking41 opened #18456 "I don't know why I should put .py all the times"
when I need to run cocos I should put '.py' at the CMD all the times... and I don't know the reason why...

FE) cocos.py -new

It doesn't have any problems to use cocos2d but it's a little pain in my neck

help me how can I fix this problem please

[2017-11-09 08:35] zhishu520 commented on #18456
cd cocos2d-x-3.15.1
./setup.py

[2017-11-09 09:56] richardgroves commented on #18453
On a different machine today and I can't get it to repeat the problem either. Not sure if it was a symptom of a first build failing, or the path with a space issue (although repeating that doesn't trigger it).

xcpretty is used in the build tools though, just not sure how I triggered an action that used it, as it appears to be in travis/jenkins CI routes:

Richards-MacBook-Pro:cocos2d-x-3.16 richa

[2017-11-09 10:13] summerinsects opened #18458 "RichText issue, cause by Label when its string is very very long"
- cocos2d-x version:git/v3
- devices test on:iOS
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:
create a `RichText` which contains `RichElementText` with a very very long text.

see the codes in `RichText::handleTextRenderer`
[code]
When the string is very very long, `Label:: getContentSize` returns Zero Size, an

[2017-11-09 14:55] ahcox opened #18459 "Preserve Timestamps of touch events"
Hi,

[Enhancement request]

Where the platform allows, it would be great to have the timestamps of touch events to be able to track velocity of movements.

Where the platform does not supply timestamps, the main loop start time could be substituted.

Thanks!

[2017-11-09 16:21] sofaking41 commented on #18456
um.... I already installed 3.16 duhhhh should I install 3.15.1??

[2017-11-09 17:48] Anywhere-Music-Player commented on #18454
Just run with Xcode. No one already using console cocos run commands.. even for android. There use android studio.

[2017-11-10 00:14] slackmoehrle commented on #18456
Sorry? Why is this an issue? It is a python script.

[2017-11-10 03:57] zhishu520 commented on #18456
@sofaking41  no, it's my
cd cocos2d-x-3.16/tools/cocos2d-console/bin
![image](https://user-images.githubusercontent.com/8665898/32642268-a8c94e7a-c598-11e7-898b-a126ca999f78.png)
Is it still there?
i mean you maybe delete it

PS. sorry for my poor english....

[2017-11-10 07:05] #18458 closed, assigned to nobody

[2017-11-10 07:31] Samlv9 commented on #18428
+1

[2017-11-10 10:01] mylastgg commented on #17887
is there an alternative to VideoPlayer:create()? I have the same issue and it's causing crashes on some iOS devices

[2017-11-10 10:52] jeffasd opened #18461 "RenderTexture addChild NodeGrid bug"
- cocos2d-x version: 16.1
- devices test on: mac
- developing environments
   - NDK version: null
   - Xcode version: 8.1
   - VS version:null
   - browser type and version:null

Steps to Reproduce:

the code is here

        //when set if 0 no bug but when set if 1 the code have bug, the node position is wrong
        //when i use RenderTexture add child node NodeGrid, the FadeOutTRTiles action i

[2017-11-10 11:08] richardgroves commented on #18454
Then the README needs changing - first time user is getting a *really* bad impression of how to get going with this.

[2017-11-10 11:20] richardgroves commented on #18453
Back on the machine I had the problem with an after 'gem uninstall xcpretty' it fails to build again - then re-install it and all ok.

Output file attached with some spacing added so you can more easily see the commands I ran. Some noise about an Apple TV I have attached to the machine, but it doesn't seem to bother it the second time.

[cocos2d-x build issue.txt](https://github.com/cocos2d/cocos2

[2017-11-11 19:04] ahcox opened #18462 "Application and ApplicationProtocol are not documented in API Reference"
- cocos2d-x version: 3.16
- devices test on: http://cocos2d-x.org/docs/api-ref/cplusplus/v3x/

Steps to Reproduce:

1. Go to docs: http://cocos2d-x.org/docs/api-ref/cplusplus/v3x/
2. Type Application or ApplicationProtocol into search box.

[2017-11-12 05:02] slackmoehrle opened #18463 "getDpi() failure on Android"
From US forums:

I am trying to get the device ppi but it looks like on android it’s wrong.

I tried a nexus 4 which has 318 ppi but when I do getDpi it returns 320.
I tried Samsung galaxy s7 and it returned 640 but it’s suppose to be 577.

It seems to work fine on ios…

Also I think it’s miss leading that it’s called getDpi for actually getting the ppi?

[2017-11-12 06:08] bouc0277 commented on #18463
It looks like someone else had a similar issue: https://stackoverflow.com/questions/17703661/how-to-find-the-ppi-of-an-android-screen

My guess is that it's something in here https://github.com/cocos2d/cocos2d-x/blob/f2db054edbd674b03dc84569919f5493744af52a/cocos/platform/android/java/src/org/cocos2dx/lib/Cocos2dxHelper.java#L503

Maybe this is an issue with android DisplayMetrics ?

[2017-11-12 16:13] G0561 commented on #18423
这个修复准备在那个版本上?

[2017-11-13 02:49] dumganhar commented on #18463
It seems it's because we use `getMetrics` method in getDPI.
But since there are some devices which have virtual buttons in the bottom of screen, `getMetrics` will not include the size in the area of virtual buttons.
I searched some articles on the internet, found that there is a new API called `getRealMetrics` that will include the size of virtual buttons.
Yep, we need to modify the implementation

[2017-11-13 06:27] dumganhar commented on #18463
@slackmoehrle , could you please add the link of this thread in the Engine forum?

[2017-11-13 06:30] slackmoehrle commented on #18463
Here is the link: http://discuss.cocos2d-x.org/t/cocos2dx-device-getdpi-confusion-on-android/39956

[2017-11-13 09:06] jeffasd commented on #18461
这种情况下 会出现精灵位置错乱的严重bug 修正方案为：
在CCGrid.cpp文件中修改
void GridBase::afterDraw(cocos2d::Node * /*target*/)函数
将函数修改为：
void GridBase::afterDraw(cocos2d::Node * /*target*/)
{
    _grabber->afterRender(_texture);

    // restore projection
    Director *director = Director::getInstance();
    director->setProjection(_directorProjection);

    GL::bindTexture2D(_texture->getName());

    // restore projection

[2017-11-13 14:22] v1993 commented on #18332
@minggo Any progress?

[2017-11-13 21:08] crazyhappygame opened #18465 "Game stops music at opening - Android regression compare to cocos2d-x.3.14.1"
- cocos2d-x version: 3.16
- devices test on: Android/all
- developing environments
   - NDK version:  android-ndk-r14b
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Play music on Android  device
2. Run any cocos2d-x app

Bug:
cocos2d-x app stops music at opening:
This regression compare to cocos2d-x.3.14.1

[2017-11-13 21:10] crazyhappygame commented on #18465
@dumganhar Is there any chance for some quick workaround?

[2017-11-14 01:32] minggo commented on #18332
@dumganhar takes charge of this part. I will ping him again.

[2017-11-14 01:42] dumganhar commented on #18332
@v1993 how did you switch your scenes?
Director::replaceScene or Director::push/popScene?

[2017-11-14 01:54] dumganhar commented on #18332
Perhaps, you could make a simple demo to demonstrate the problem.

[2017-11-14 02:35] minggo commented on #17887
The apple doc of [MPMoviePlayerController](https://developer.apple.com/documentation/mediaplayer/mpmovieplayercontroller?language=objc) suggests to use  `AVPictureInPictureController` or `AVPlayerViewController` instead.  `AVPlayerViewController` is added since iOS 8.0, and `AVPictureInPictureController` is available since iOS 9, so i will choose `AVPlayerViewController`.

[2017-11-14 02:40] minggo commented on #17887
@gurhub but i found `MPMoviePlayerController` is not removed in iOS 11. Will a deprecated class cause crash?

[2017-11-14 02:56] minggo commented on #17887
K, i misunderstood, it is an error message. And i can reproduced it.

[2017-11-14 03:31] dumganhar commented on #18465
Perhaps you should modify code in Cocos2dxActivity.java
[code]

[2017-11-14 05:27] shuan999 opened #18466 "自定义的tableViewCell中添加了ccui.Button 点击cell时button不响应事件？why？"
- cocos2d-x version:3.1.6
- devices test on:iPhone X simulator
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2017-11-14 07:42] minggo commented on #17887
I am using `AVPlayerViewController `, but i met some issues:

- i don't know how to make it full screen
- there is not call back for `pause` and `resume`
- keep ratio enabled or not

As i read the Apple doc, it seems these features are missed.

[2017-11-14 07:56] v1993 commented on #18332
I want to provide component for user which should continue listening events everywhere, so I don't know about scene changing - it is user's buisness.

Will lua demo be ok?

[2017-11-14 09:24] minggo commented on #17887
i sent https://github.com/cocos2d/cocos2d-x/pull/18467 to fix it, but i can not resolved the issues mentioned above.

[2017-11-14 09:26] mylastgg commented on #17887
From Apple docs:

The MPMoviePlayerController class is formally deprecated in iOS 9. (The MPMoviePlayerViewController class is also formally deprecated.) To play video content in iOS 9 and later, instead use the AVPictureInPictureController or AVPlayerViewController class from the AVKit framework, or the WKWebView class from WebKit.

Maybe we should try to use AVPlayerViewController instead of AVP

[2017-11-14 09:29] AhmetAbak commented on #18465
@dumganhar this solves the problem.

[2017-11-14 09:29] minggo commented on #17887
Sorry, it is my fault, i used AVPlayerViewController.

[2017-11-14 11:28] mylastgg commented on #17887
After I little research, I think we can use a combination of

https://developer.apple.com/documentation/avfoundation/avplayerlayer

and

https://developer.apple.com/documentation/avfoundation/avplayer

which seem to be more customizable instead of AVPlayerViewController?

[2017-11-14 12:27] Mihir7 commented on #16098
How did you solve this issue?

I am having same problem?

[2017-11-14 14:51] crazyhappygame commented on #18465
@dumganhar, AhmetAbak this change should be done in cocos2dx code or game code?

[2017-11-14 15:13] crazyhappygame commented on #18465
@dumganhar could you also explain issue and how this change fix it? It is "proper fix" or some workaround?

[2017-11-14 20:07] AhmetAbak commented on #18465
@crazyhappygame i modified the Cocos2dxActivity class in cocos2dx library.

[2017-11-15 01:35] minggo commented on #17887
I don't see any more features with avplayelayer. The callback event is sent to avplayer if it has, not sent to avplayerlayer or AVPlayerViewController.

[2017-11-15 05:59] summerinsects commented on #18466
参见#18423 #18451

[2017-11-15 08:02] dumganhar commented on #18465
@AhmetAbak , good to know it works for you.

I think most games will take the ownership of audio, so it's a specific requirement.
Probably, we need to add a new interface for setting this.

[2017-11-15 08:05] dumganhar commented on #18465
It need to be tested. I think it's a fix not just a workaround.
But first of all, we need to define a new method for setting this.
Could you guys test this patch and give me the feedback? Thanks.

[2017-11-15 14:16] shuan999 commented on #18466
@summerinsects
将tableView源码里所有的removeChild(cell, true)改为removeChild(cell, false)，使之不再cleanup即可。
去掉Node::cleanup中的_eventDispatcher->removeEventListenersForTarget(this)是不妥的。当一个Node不在渲染树上时，不应该响应事件。

Modify removeChild (cell, true) to removeChild (cell, false) in whole tableView's source code, so that do not cleanup the cell when recycle it.
It is incorrect to removed _eventDispatcher-> removeEventLis

[2017-11-15 14:59] ionagamed opened #18468 "Cocos2D-x build of sample project fails in CLion (macOS)"
- cocos2d-x version: 3.16
- devices test on: macbook pro
- developing environments
   - NDK version: none
   - Xcode version: 9.0
   - VS version: none
   - browser type and version: not relevant

Steps to Reproduce:

1. Clone cocos2d-x-3.16.zip
2. Run `./setup.py` with all defaults and source file with environment variables
3. Run `cocos new MyGame -p com.your_company.mygame -l cpp -d NEW_PROJECT

[2017-11-15 20:43] Dimon4eg opened #18469 "Crash on android - Ref::retain"
- cocos2d-x version: 3.16
- devices test on: Galaxy S6 Edge, Android 7.0
- developing environments
   - NDK version: r14b
   - Xcode version: -
   - VS version: -
   - browser type and version: -

backtrace:
  #00  pc 0000000000c78c74  /data/app/xxx/lib/arm/libcocos2djs.so (cocos2d::Ref::retain())
  #01  pc 0000000000ca2204  /data/app/xxx/lib/arm/libcocos2djs.so (cocos2d::GLProgramState::init(coco

[2017-11-16 06:07] AhmetAbak commented on #18465
@dumganhar
[crash log](https://github.com/cocos2d/cocos2d-x/files/1477474/com.sngict.sngsolitaire_issue_135_crash_5A0D2270019500016317E2E7A9E3E25D_4b3a8580ca8f11e79ca756847afe9799_0_v2.txt)
I have a crash log related to Audio manager that surfaced with this version.
This may be one of the problems that should be solved with new AudioFocusManager.

[2017-11-17 01:08] jiangtaoye opened #18472 "XiaoMi 4C low FPS bug modify VBO_SIZE to 8096,it work fine."
- cocos2d-x version:3.15.1
- devices test on:Android XiaoMi4C
- developing environments
   - NDK version:R14
   - Xcode version:
   - VS version:VS2013
   - browser type and version:

Steps to Reproduce:

1.My Game work in XiaoMi 4C low FPS but when I modify  VBO_SIZE to 8096(CCRenderer,h line 144), it work fine,60FPS

2. What will happen with this modification?

[2017-11-17 06:38] dumganhar opened #18473 "[Android] Build all third-party libraries with clang in ndk-r16."
For more detail information, plz refer to https://github.com/cocos2d/cocos2d-x/pull/18470

[2017-11-17 06:41] dumganhar commented on #18473
I doubt building SpiderMonkey by using clang will be the most difficult thing. :(

[2017-11-17 06:43] dumganhar opened #18474 "[iOS] Provides an interface for getting SafeArea on iPhone X"
That will be easier for developer to align UI elements by code.

[2017-11-17 22:05] mxndev commented on #13453
I join to this thread, because I've encountered similar problem. I've noticed, that when I render some shapes using DrawNode layer FPS rate dramatically runs down on android phones and windows devices. I note, that i use only drawNode Layer per frame and I don't have this problems on iOS devices. Link to thread in forum: http://discuss.cocos2d-x.org/t/android-really-low-performance-on-drawnode-ren

[2017-11-18 07:43] ionagamed commented on #18468
Sorry, missed that one. It's a duplicate of #18450

[2017-11-18 07:43] #18468 closed, assigned to nobody

[2017-11-18 17:44] deguilardi commented on #18286
Just got my first major error related to the libc++_static.
I updated the gradle to the version 4.1 and from now on I am getting the following error:
Error:(506, 63) error: incomplete type 'std::__ndk1::is_move_assignable<cocos2d::Console::Command>' used in nested name specifier

The error is triggered when the compiler is compiling the file "cocos/./base/CCConsole.cpp:318:28". If I totally remove

[2017-11-18 17:47] Anywhere-Music-Player commented on #18286
Check this also https://github.com/cocos2d/cocos2d-x/pull/18470

[2017-11-18 17:57] deguilardi commented on #18286
@KAMIKAZEUA That is great! anyways, this won't resolve this specific issue.

[2017-11-19 05:24] Priority10 commented on #18474
In the iPhone X screen coordinate system or in the Design Resolution coordinate system?

I think that the second option is more useful.
Something like getIPhoneXSafeAreaOrigin() and getIPhoneXSafeAreaSize().

But if the screen size is not equal to 2436x1125 or 1125x2436 (ie it is not the iPhone X or a copy), then the calculations will not be correct.
What should the functions return in this case?

[2017-11-19 12:44] formatCvt commented on #17395
@dumganhar Sorry for my late reply. I've test this path with cocos 3.16. Generally its help - because game is not paused anymore. But it still not respect ios audio guideline.

[2017-11-20 02:48] houyeHu commented on #17871
I met this bug as well
Is there a way to solve the problem now?

[2017-11-20 03:37] wyklion commented on #13507
I use cocos-x 3.16 and Xcode 9.1 ios 11.
same problem.
#import "scripting/js-bindings/manual/ScriptingCore.h"

[2017-11-20 03:39] wyklion commented on #13507
pre-define in SceneKit

[2017-11-20 03:44] hailonglchr opened #18478 "cc.audioEngine.playMusic为什么要限定平台？"
- cocos2d-x version:3.15.1
- devices test on: iOS
为什么会有平台限制呢？
if (cc.sys.os === cc.sys.OS_ANDROID && cc.audioEngine) {
    cc.audioEngine._playMusic = cc.audioEngine.playMusic;
    cc.audioEngine.playMusic = function () {...

[2017-11-20 05:35] dumganhar commented on #17395
@formatCvt
Where could I find ios Audio guideline?

[2017-11-20 09:20] mertkurum opened #18479 "Touch Event doesn't fire on the bottom of iphone in version 11.2"
- cocos2d-x version: 3.15 and 3.16
- devices test on: iphone
- developing environments
   - Xcode version: latest
- Iphone version 11.2 -> latest

Steps to Reproduce:

1. Add touch events to scene
2. Touch to bottom of the iphone screen.
3. TouchBegin listener fires after 2-3 seconds. Doesnt fire when you touch to the screen.

It is very strange issue, we couldnt find anyway to fix it.

[2017-11-20 09:32] 0megaD commented on #18474
Whatever the function names are called, I think safeArea should always return the actual area you can draw in 'safely'.

So on phones like the iPhone X it will be the iPhone X safe area. On other phones that do not have UI / hardware overlapping the screen the full screen is the safe area.

I think it makes the most sense and also prevents us from having to do checks all the time.

`if iphoneX { t

[2017-11-20 10:17] dumganhar commented on #18474
@Priority10 ,
I agree with @0megaD , one interface, probably called `GLView::getSafeAreaRect` is enough.
And it should return the safe area rectangle in Design Resolution Coordinate.
If it's not a iPhone X, this interface just returns the rectangle with the same value return by `GLView::getVisibleOrigin/Size`.

[2017-11-20 10:39] jugnu-ali commented on #9437
Is this feature implemented in v 3.14 or later

[2017-11-20 11:55] mertkurum commented on #18479
We have found the solution.

[code]
add those lines to your AppController.mm class after

`[window makeKeyAndVisible];`
line.

Cheers,
Mert

[2017-11-20 11:56] #18479 closed, assigned to nobody

[2017-11-20 18:13] princegoyal1987 commented on #17353
Is crashing when cloning a node which is imported from cocosbuilder and has non-zero rotation..
![screen shot 2017-11-20 at 11 43 11 pm](https://user-images.githubusercontent.com/1181369/33034044-97c61240-ce4c-11e7-885e-c0691f6c3cd4.png)

[2017-11-20 23:04] formatCvt commented on #17395
@dumganhar here https://developer.apple.com/library/content/documentation/Audio/Conceptual/AudioSessionProgrammingGuide/AudioGuidelinesByAppType/AudioGuidelinesByAppType.html#//apple_ref/doc/uid/TP40007875-CH11-SW1

[2017-11-20 23:59] Priority10 commented on #18474
@0megaD @dumganhar
Yep, guys, I meant the same, except
1. The name that @dumganhar  suggested is much better.
2. I doubt a little about one interface. Yes it is better, and yes it is enough. But for Visible Area of Design Resolution, the engine has two interfaces (`getVisibleOrigin()` and `getVisibleSize()`). Is not it better to add two interfaces to keep the same style?

[2017-11-21 00:57] minggo commented on #9437
You can see the milestone in the right, it is marked as `3.12`.

[2017-11-21 01:32] minggo commented on #17353
K, i got it. I think we should delete the assert since `Node::setRotationSkewX` will only modify `_rotationz_x` and `Node::setRotationSkewY` will only modify `_rotationz_y`.

But then what value should be returned for `Node::getRotation` when `_rotationz_x != _rotationz_y`? It seems it is a design error.

[2017-11-21 02:16] hailonglchr opened #18482 "cc.audioEngine.playMusic(file, true) 在iOS移动设备上，safari浏览器无法循环播放"
- cocos2d-x version:v3.15.1
代码中调用cc.audioEngine.playMusic(file, true) ，在android设备上功能正常，在iOS移动设备上，safari浏览器无法循环播放背景音乐，只能播放一次，如何解决？

[2017-11-21 06:09] G0561 opened #18484 "if (system(command.c_str()) >= 0) xcode 9.1 编译不过"
- cocos2d-x version: cocos316
- devices test on: iphone6s
- developing environments
   - NDK version:
   - Xcode version: 9.1
   - VS version:
   - browser type and version:

Steps to Reproduce:
cocos2dx316\cocos\platform\CCFileUtils.cpp
xcode 9.1 编译,发现  if (system(command.c_str()) >= 0) 提示system 在ios系统不存在

[2017-11-21 07:00] knuth opened #18486 "[Android] opened keyboard overlaps part of the EditBox when the EditBox is more than one lines."
- cocos2d-x version: 3.16
- devices test on: Android devices
- developing environments
   - NDK version: r10e
   - Xcode version: 9.1
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. create a lua project via console.
2. use the following scripts:
------
    local sprite = ccui.Scale9Sprite:create("input_bg.png")
    sprite:setCapInsets(cc.rect(10, 10, 660, 40))

    local e

[2017-11-21 07:11] dumganhar commented on #18484
There will not be any problem from v3.15.
If you upgrade your project from old version, please refer to the patch.
https://github.com/cocos2d/cocos2d-x/pull/17921

[2017-11-21 07:11] #18484 closed, assigned to nobody

[2017-11-21 07:56] jugnu-ali commented on #9437
Hi,
ok so can u guide me which api to use for this purpose. :)

[2017-11-21 08:14] dumganhar commented on #18465
@AhmetAbak  Thanks for your feedback. I'm checking this issue now.

[2017-11-21 08:47] drelaptop commented on #18456
@sofaking41 please check your PATH, cat ~/.bash_profile you will see something like:
[code]
then `cd $COCOS_CONSOLE_ROOT` to see the contents

[2017-11-21 09:15] minggo commented on #9437
I think you don't have to care about it, it will read the file automatically when needed. There is not an API to read from obb files, engine will read it when needed.

[2017-11-21 10:01] drelaptop commented on #17462
perhaps you can divides those characters, so as to set outline independent.

[2017-11-21 11:37] jugnu-ali commented on #9437
I am using csb file & i think i have to use something like this FileUtils::getInstance()->getAssetPath() or getResourcePath()

[2017-11-21 14:39] lugosix opened #18487 "Clicking EditBox caused CCEAGLView a wrong position after rotating the screen"
- cocos2d-x version: 3.15
- devices test on: iPhone SE(iOS11.1.1)
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Rotate the screen
2. Click EditBox

I found that 'originalRect_' in 'CCEAGLView-ios.mm' did not change as the screen rotated. Is this the point?

[2017-11-22 05:23] qusghcks123 opened #18488 "I suggest an additional explanation in the "Build and run a new project for Linux" section."
- cocos2d-x version:3.15.1
- Linux version : 16.04.1

Currently described manual:

If you never run cocos2d-x on Linux, you need to install all the dependencies by the script in cocos2d / build / install-deps-linux.sh

$ cd cocos2d-x / build
$ ./install-deps-linux.sh

Then

$ cd NEW_PROJECTS_DIR / MyGame
$ cocos run -p linux

Run

$ bin / MyGame

I followed this, but I had difficulty building and

[2017-11-22 07:46] dumganhar commented on #18474
fixed at https://github.com/cocos2d/cocos2d-x/pull/18489

I prefer just one interface called `getSafeAreaRect`. getSafeAreaOrigin and getSafeAreaSize seem redundant.

[2017-11-22 09:50] G0561 opened #18490 "3.16 version box2d BUG 100%Reproduce"
- cocos2d-x version: 3.16
- devices test on: windos7 ，iphone6s
- developing environments
   - Xcode version: xcode 9.1
   - VS version: vs 2013

Steps to Reproduce:
cocos2dx 3.13 下用box2d 做了游戏， 因为现在ios11的缘故，更新到最新 ， 但是发现把代码迁移到cocos2dx316版本会一直报错， 报错地方： b2Island.cpp  文件 317 行， 刚开始以为是我写的代码问题， 我跑cocos2dx316版本工程里面 cpp-Tests 第十个例子：Box2d-TestBed ，发现里面第13个 Thumber ，百分百重现和我一样的错误， 请问这个是什么原因导致的！

[2017-11-22 09:54] Ginoooo opened #18491 "AudioEngine::play2d in HI-FI mode have bug"
- cocos2d-x version:3.16
- devices test on:MI note pro
- developing environments
   - NDK version:r10d
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Go to settings interface > more Settings >open HIFI.  use headphones to play music, it will noise。

Translate
翻译：使用小米手机，进入设置界面>更多设置>耳机和音效,打开HIFI. 使用耳机(外放没有问题)播放音乐就会噪音。

@dumganhar can u check it?

[2017-11-22 22:02] Priority10 commented on #18474
@dumganhar
Oops, I did not notice that the engine has `GLView::getVisibleRect()`. Nice then. :)

[2017-11-22 23:40] Priority10 opened #18492 "Multi-resolution code in the default template is confusing and needs to be changed"
Since I did not receive any feedback on the forum, I publish it here. You can do whatever you want with it, use one of the options, or close this issue and forget about it. I do not care.

Short version.

* Option 1

Firstly, I do not think this is the best solution ever, but I think that this is a good option to illustrate how it works.

The aspect ratio of the `Design Resolution` is `16/9` to be

[2017-11-23 01:27] dumganhar commented on #18491
I doesn't get a  HIFI mobile phone and headphone.
So I can not check this issue now.

[2017-11-23 01:30] sujhao commented on #17433
Unhandled websocket event: 32  cocos3.16  connect error..................................

[2017-11-23 01:34] #18474 closed, assigned to nobody

[2017-11-23 01:37] minggo commented on #17887
Hi guys, what do you think about the PR? Is it acceptable to fix it like this? I can not find better method.

[2017-11-23 03:18] Ginoooo commented on #18491
@dumganhar   just need Mi Node pro  mobile phone  and
use any cheap headphone.
if u want , i cant test and get some log to u

[2017-11-23 06:09] slackmoehrle commented on #18488
I can test these out next week to see how it compares to our current instructions.

[2017-11-23 06:11] slackmoehrle commented on #18488
[code]
My initial thought is that this should not have to be done unless you have some weird permissions on your system, but I will try a clean Ubuntu install and see if this needs to be done.

[2017-11-23 08:08] dumganhar commented on #18491
Is this one: http://www.mi.com/minote ?

[2017-11-23 08:15] dumganhar commented on #18491
Sorry for that we don't get a minote test device.

[2017-11-23 13:44] sofaking41 opened #18497 "How can I use CREATE_FUNC(Box2DTest)?"
- cocos2d-x version: 3.16
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2015
   - browser type and version:

Steps to Reproduce:
in the Box2dTest.h there is a function which name is CREATE_FUNC(Box2DTest).

But I don't know how to use this function cuz there is no this function's define...

I'm not that clever so I can't deal with it if there's

[2017-11-24 00:57] Priority10 commented on #18497
Firstly, this is not a function, it is a macro. See
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/CCPlatformMacros.h

Secondly, this is not an issue. Stop using github for such questions.
This issue must be closed.

@minggo  @dumganhar  Why do you have 1100+ issues? Many of the issues are either out of date (like crash on android 2.3.6), or like this one. Do you like it, seriously?

[2017-11-24 01:14] minggo commented on #18497
No, i don't like it, i am just busy with other things.

[2017-11-24 01:14] #18497 closed, assigned to nobody

[2017-11-24 01:33] Priority10 commented on #18497
OK. How can the situation be improved and/or when?

Can I tag you if I think that an issue is not correct or outdated?

How about a large number of PRs?

If you answer like
Our company does not care about it, then ok, then I have no more questions. :)

[2017-11-24 02:01] minggo commented on #18497
You are appreciated if you can help to do it.

[2017-11-24 02:54] Priority10 commented on #18497
OK, I'll do it when I have a minute.

[2017-11-24 02:59] Priority10 commented on #18492
Since the engine has enough open issues, too much in my opinion, I give 2 weeks to this issue, if no one will be interested, then I will close it.

[2017-11-24 04:42] thuydx55 opened #18501 "UIWidget::interceptTouchEvent is not called in JS-binding"
- cocos2d-x version: 3.15 - js-binding
- devices test on: All devices

Steps to Reproduce:

1. Create a class extend UIWidget.js
2. Implement `interceptTouchEvent` function that override parent function
3. Create some `UIWidget` child in new class (`UIButton` for example)

Touch to new child, `interceptTouchEvent` is called in web version but not in native version

[2017-11-24 08:38] mylastgg commented on #17887
one of the two CI tool reported this error

** BUILD FAILED **
The following build commands failed:
	Ld /Users/travis/Library/Developer/Xcode/DerivedData/cocos2d_tests-fyshfmromhjeaqfapjwmvtirdnlv/Build/Products/Debug-iphonesimulator/lua-empty-test\ iOS.app/lua-empty-test\ iOS normal i386
(1 failure)

This might be safe to ignore?

[2017-11-24 08:41] minggo commented on #17887
i will fix it, i think it is because new libs should be dependent. You can ignore it if you are using CPP project.

[2017-11-24 09:02] mylastgg commented on #17887
Thanks!
I'm testing your PR right now and I have a couple of findings:

1. for some reason it broke the touch listener.

[code]

[code]

but when I tap on the video, the video disappears and the videoEventCallback is not invoked. It is invoked when the video ends.

2. I always need to hide the playback buttons, so I added

`self.moviePlayer.showsPlaybackControls = false;`

to initializeMoviePlayer

[2017-11-24 09:07] mylastgg commented on #17887
About the constraints, I've found this thread:

https://stackoverflow.com/questions/32860362/unable-to-simultaneously-satisfy-constraints-warnings-with-avplayerviewcontrolle

I can confirm that having two videos at the same time logs the constraint issue.
To solve this I had to create one video instance at a time and had to add
`self.moviePlayer.showsPlaybackControls = false; `
as well

----------

[2017-11-24 09:53] mylastgg commented on #17887
Found the touch issue!
I think in the pause callback we'd need to add the PAUSED EventType as follows?

[code]

After all these modifications it looks like everything works as intended on my devices

[2017-11-24 10:20] minggo commented on #17887
I can not find a way to stop AvPlayer, it doesn't have a stop function.

[2017-11-24 10:37] mylastgg commented on #17887
Yes, I've noticed that.
My workaround was to treat the pause event as a stop event (player taps on the screen > pauses the video, but in my game this works as a skip option, so I can basically use the PAUSE event as a STOP event)

[2017-11-26 08:54] giangm9 opened #18506 "Change debug apk path"
- cocos2d-x version:
cocos2d-x-3.16
Cocos Console 2.3

- devices test on: Android
- developing environments
   - NDK version: android-ndk-r16
   - Xcode version: none
   - VS version: none
   - browser type and version: none
i build cocos to android, use android-studio project, android-platforms-tool 25
ubuntu 17.10
Steps to Reproduce:

1. create a new cocos project
2. `cocos run -p android --andr

[2017-11-26 08:58] giangm9 opened #18507 "add google mirror in build.gradle file"
-- cocos2d-x version:
cocos2d-x-3.16
Cocos Console 2.3

- devices test on: Android
- developing environments
   - NDK version: android-ndk-r16
   - Xcode version: none
   - VS version: none
   - browser type and version: none
i build cocos to android, use android-studio project, android-platforms-tool 25
ubuntu 17.10
Steps to Reproduce:

1.  `cocos compile -p android --android-studio`
2. Resource

[2017-11-27 00:19] Priority10 commented on #18462
@slackmoehrle It is your responsibility, right?
Could you comment on this?

[2017-11-27 00:40] Priority10 commented on #18401
You can do this by setting `ResolutionPolicy` to `NO_BORDER` and
`square->setPosition(visibleOrigin.x + visibleSize.width - square->getContentSize().width/2, visibleOrigin.x + square->getContentSize().height/2);`
Or you can use constant values instead of `square->getContentSize().width/`2 and `square->getContentSize().height/2`.

I do not see a problem here.

In my opinion

- You can easily achiev

[2017-11-27 02:08] minggo commented on #18401
thanks @Priority10

[2017-11-27 02:08] #18401 closed, assigned to nobody

[2017-11-27 02:31] acrazing commented on #18401
@Priority10 The `NO_BORDER` policy will resize the node with changing the ratio of its `width` and `height`, if the screen size ratio (width/height) is different to the design screen. For example:

If the design screen is `100 * 100`, and a node's size is `50 * 50`, and then, if the display screen's size is `200 * 100`, the rendered node's size will be `100 * 50`, it is not a square.

[2017-11-27 04:58] drelaptop commented on #18487
I will reproduce this issue, and try to solve

[2017-11-27 05:37] deguilardi opened #18509 "drawBatchedTriangles crash on ios 10 and 11"
- cocos2d-x version: 3.14.1
- devices test on: none / live errors only
- developing environments
   - NDK version: N/A
   - Xcode version: 0.1
   - VS version: N/A
   - browser type and version: N/A

How to reproduce:
It's super random, but sometimes the app just freezes in the fist scene.
ItunesConnect / xCode aren't getting this.

The error details are in the following crashalytics link:
http://

[2017-11-27 05:43] deguilardi opened #18510 "swapBuffers on ios 11"
- cocos2d-x version: 3.14.1
- developing environments
   - Xcode version: 9.1

Steps to Reproduce:
Happens on ios 11 only
This error is being caught by crashlytics, I don't know what exactly is causing it.
It is happening on ALL my apps.

Link to the crashlytics full report:
http://crashes.to/s/c049fb56d08

[2017-11-27 05:46] Priority10 commented on #18401
@acrazing No, no, no, please test again.
In case of NO_BORDER, scaleX = scaleY. What you describe is EXACT_FIT.

http://discuss.cocos2d-x.org/t/multi-resolution-code-in-the-default-template/39445/15?u=priority10

Read after the words

[2017-11-27 05:48] Priority10 commented on #18401
@minggo No problems. :)

[2017-11-27 06:29] slackmoehrle commented on #18492
I will get this on my list of items to review. Ultimately, I would still need engine team members to sign off on anything before a merge.

[2017-11-27 06:54] slackmoehrle commented on #18492
@minggo do you have thoughts about replacing this code. Would it be helpful for me to test and post results from  a `cocos new ...` project?

[2017-11-27 07:20] drelaptop commented on #18403
__Thonburi__ is a font name, you can find `Thonburi.ttf` in the engine. but I think it's not a good method to init `TextField ` with a determinate font, I will try to find a method to solve it.

[2017-11-27 07:39] minggo commented on #18492
@slackmoehrle yep, go forward please.

[2017-11-27 07:54] slackmoehrle commented on #9162
There are still some issues, possibly related this, that our users are experiencing. From the U.S forums:

I have a TMXTiledMap and I’m trying to change its opacity but it won’t work.
Here is my code:
[code]

[2017-11-27 15:43] KAMIKAZEUA commented on #18193
@minggo any news?

[2017-11-28 02:03] minggo commented on #10457
fixed in https://github.com/cocos2d/cocos2d-x/pull/18508#issuecomment-347388581

[2017-11-28 02:03] #10457 closed, assigned to nobody

[2017-11-28 03:32] tangyiyang opened #18519 "JSB 2.0 is released on cocos-creator 1.7 version, will it be merged to this branch soon?"
It looks like we would have a big performance boost with V8 and JavascriptCore.

[2017-11-28 04:44] dumganhar commented on #18519
No plan yet.

[2017-11-28 05:40] Dimon4eg commented on #17702
Rare crash. Happened only 2 times in my case.
cocos 3.16

[2017-11-28 07:51] drelaptop commented on #18487
@kff54007 sorry using the cpp-tests on iOS 11.1, I failed to reproduce the issue, can you support resource code and describe this in detail?

[2017-11-28 08:44] drelaptop commented on #18403
this Issue has been fixed, pleased see PR #18518

[2017-11-28 08:44] #18403 closed, assigned to nobody

[2017-11-28 16:18] dujiadui opened #18523 "sound play repeat many many time in ccb file use cocosbuilder"
- cocos2d-x version:3.16  c++
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

If you use the sound in ccbfile by cocosbuilder.
it will play the sound effect repeat, this function will be called repeat forever.

---
void CCBSoundEffect::update(float time)
{
    CocosDenshion::SimpleAudioEngine::

[2017-11-29 00:22] Priority10 commented on #9419
@minggo  I think that there is some misunderstanding here.
iPhone 6 Plus has a 401 PPI. https://support.apple.com/kb/SP706?viewlocale=en_US

It seems that getDPI() returns the correct result. https://www.paintcodeapp.com/news/iphone-6-screens-demystified

I believe that @dumganhar  can say more, because he recently worked on the similar problem. https://github.com/cocos2d/cocos2d-x/issues/18463

C

[2017-11-29 01:19] slackmoehrle commented on #18488
I have an Ubuntu VM now. Firing it up to test this issue. Perhaps I can also test on Ubuntu 17.10.

[2017-11-29 01:45] minggo commented on #9419
May be it is fixed somewhere, can i use simulator to test it? I don't have iPhone 6 Plus.

[2017-11-29 02:49] dujiadui commented on #18523
@minggo @zilongshanren

[2017-11-29 02:55] slackmoehrle commented on #18488
I don't have this problem. Our provided instructions work for me. I am downloading an .iso of Ubuntu 16.04 and 17.10 and I will try completely from scratch. It will take me several hours to pull these images down.

[2017-11-29 04:48] dujiadui commented on #18523
fixed it
add ActionInstant::update(time) to these two function.
void CCBSetSpriteFrame::update(float time)
{
    ActionInstant::update(time);
    static_cast<Sprite*>(_target)->setSpriteFrame(_spriteFrame);
}

void CCBSoundEffect::update(float time)
{
    ActionInstant::update(time);
    CocosDenshion::SimpleAudioEngine::getInstance()->playEffect(_soundFile.c_str());

}

[2017-11-29 05:48] Priority10 commented on #9419
@minggo  Honestly, I do not know about Apple emulators. :(

But I meant that if `getDPI()` returns `489`, then it is the correct value, because `PPI` is not equal to `DPI` on some devices.
Explanation here https://www.paintcodeapp.com/news/iphone-6-screens-demystified .

And since @dumganhar  promised (in English forum) to add the `getPPI()` interface. Then it seems like both (this issue and https

[2017-11-29 09:28] perminovVS commented on #17497
@dumganhar you solution, on some device, create each time to work less 2 ms, 100% load processor core.
`else
    Sleep(1);
`
Solves it, but likely return problem issue.

You solves up precision fps, but degraded performance.

[2017-11-30 00:07] madebymozart commented on #18507
This is addressed in this PR slated for 3.17 (https://github.com/cocos2d/cocos2d-x/pull/18470)

[2017-11-30 00:09] madebymozart commented on #18506
I am working on a PR right now to mane cocos handle prebuilts with Android much better for the future and hopefully 3.17

[2017-11-30 01:54] slackmoehrle commented on #18488
OK, I cannot seem to get 16.04 installed in a virtual machine. It freaks out and consumes my whole macbook pro when booting.

I moved to 17.10 and that is working. I will update step by step as completed what works for me

1. Installed 17.10 into a virtual machine. Ran software update until there were no more updates available.
2. `$ sudo apt-get install git`
3. `$ git clone https://github.com/coc

[2017-11-30 03:54] playscforever commented on #14910
@semgilo 问题解决了？

[2017-11-30 03:55] #18519 closed, assigned to nobody

[2017-11-30 11:21] semgilo commented on #14910
@playscforever 后面使用cocos里面的截图 保存成Sprite

[2017-12-03 15:28] KAMIKAZEUA commented on #18193
@hotcoco11 can you re-attach bugged image? It's lost on the forum..

[2017-12-03 16:10] Anywhere-Music-Player commented on #18193
@minggo

Just want to assume this bug and add something.

For image:
![1](https://user-images.githubusercontent.com/3391456/33527146-2a727410-d854-11e7-8409-8a4ac64c797f.png)

Use code:

Create a simple HelloWorld project add transparent image bellow and add this code.
[code]

I have this scene:

![sceme](https://user-images.githubusercontent.com/3391456/33527152-5c03e52c-d854-11e7-84e3-7c717500a0

[2017-12-03 16:55] retrobrain commented on #16652
We've added some additional logs and in 100% of cases, the crash happens after UIApplicationDidEnterBackgroundNotification is called. This is the top crash in all our apps.

[2017-12-04 01:11] minggo commented on #18193
it is in my task list, i will take a look after fixing some other issues

[2017-12-04 03:06] yaakov-h opened #18530 "SSL certificate expired on cocos2d-x.org"
The SSL certificate on cocos2d-x.org has expired.

This is breaking the Microsoft Visual Studio installer.

Visual Studio Installer attempts too download the following file: `https://go.microsoft.com/fwlink/?linkid=854219`

This is a redirect to `https://cocos2d-x.org/filedown/CocosCreator_v1.5.2_win`.

This URL fails to load in the Installer and all web browsers, as SSL certificate on cocos2d-x.o

[2017-12-04 03:35] Priority10 commented on #18463
Ok, I just hope that these issues (this and https://github.com/cocos2d/cocos2d-x/issues/9419) will be closed together.

[2017-12-04 03:45] Priority10 commented on #18530
This issue has already been reported.
http://discuss.cocos2d-x.org/t/cocos2d-x-website-certificate/40318

Thanks!
Could you close this issue now because it is not a cocos2d-x issue?

[2017-12-04 03:48] Priority10 commented on #18473
@minggo Can this be closed now? :)

[2017-12-04 03:50] minggo commented on #18473
Will close it when submodule is updated to cocos2d-x.

[2017-12-04 03:57] Priority10 commented on #18473
I'm sorry, probably I'm not yet too good at the structure of the engine.
I thought it was the same https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/310

[2017-12-04 06:27] #18530 closed, assigned to nobody

[2017-12-04 06:30] minggo commented on #18473
No problem @Priority10 .
cocos2d-x depends on 3rd party bin, after updating 3rd party bin, cocos2d-x should be changed to depends on new version of 3rd party bin.

[2017-12-04 12:32] Anywhere-Music-Player commented on #18193
Thats just currently deal breaker for me. Before that, I've found way to not use RenderTexture in my game. But currently I have situation where I can't not to use it, but it's broken.

[2017-12-04 13:02] gzbbxu opened #18533 "android 应用退出后，再快速启动，界面卡死，报如下崩溃。请问我该怎么解决？求帮助。"
12-04 20:38:13.860 9312-9289/? A/google-breakpad: -----starting crashing thread-----
12-04 20:38:13.889 8792-9289/com.ifreetalk.ftalk A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x8 in tid 9289 (GLThread 2736)

                                                         [ 12-04 20:38:13.890   456:  456 W/         ]
                                                         debuggerd: handling

[2017-12-04 15:41] suwenclub opened #18534 "【重要、着急】iOS Label cocos2d::Node::visit()崩溃"
- cocos2d-x version: 14.1、16
- devices test on: iPhone6、 iPhone6sp、 iPhone7、 iPhoneX
- developing environments
   - NDK version:
   - Xcode version: xcode9.1
   - VS version:
   - browser type and version:
C++原始编码
Steps to Reproduce:

1. 创建一个Label，设置文字， 调用cocos2d::Node::visit()渲染到RenderTexture
2. 有可能发生崩溃，概率较低，堆栈信息如下
![wx20171204-234048](https://user-images.githubusercontent.com/18456892/33561079-9

[2017-12-05 01:54] EricDDK commented on #18510
I have the same crash in my apps . IOS 11+ occupy 90 percents

[2017-12-05 01:56] EricDDK commented on #18510
My measures is add Director::getInstance()->stopAnimation() and Director::getInstance()->startAnimation(); in applicationDidEnterBackground and applicationWillEnterForeground func , but I haven't update . so I do not know how effective it is。

[2017-12-05 02:27] Priority10 commented on #18473
I see. Thank you! )

[2017-12-05 02:31] Priority10 commented on #18507
@mozartalouis Do you think this issue should be closed?

[2017-12-05 03:29] minggo commented on #18193
The default blend function of Sprite is BlendFunc::ALPHA_NON_PREMULTIPLIED, which will blend with background. So you should change the blend function before visit, such as
[code]

And you may change to default blend function after rendering into render texture. Because `saveToFile` is finished in next frame, so you'd better change to use original blend function in the call back of `saveToFile`.

[2017-12-05 03:29] #18193 closed, assigned to nobody

[2017-12-05 05:35] #18473 closed, assigned to nobody

[2017-12-05 08:19] sgwood commented on #17424
@minggo cocos run -p android --android-studio also failed. why?

[2017-12-05 09:23] crazyhappygame commented on #18465
@dumganhar did you have a chance to work on this issue? Is there chance to have fix in next release?

[2017-12-05 17:43] wingyplus commented on #18450
It fixed in PR https://github.com/cocos2d/cocos2d-x/pull/18452

[2017-12-05 17:45] TankTheFrank commented on #17424
@minggo Ant was deprecated a long time ago, unless you're time traveling from 2009 I would say is definitely not an Android SDK issue.

[2017-12-06 00:54] minggo commented on #17424
@sgwood `cocos run -p android --android-studio` works.
@TankTheFrank android command is also removed too. What this issue is saying that, Eclipse projects are not supported.

[2017-12-06 19:53] hgokturk commented on #18414
Any updates on this @dumganhar ?

[2017-12-06 22:19] Jakz opened #18538 "TrianglesCommand hashing technique doesn't take padding into account"
Material hashing in `TrianglesCommand` was modified some commits ago to use directly the pointer of the `GLProgramState` instead that the identifier of its program, now it's the following:

[code]
This, on x64 platforms may lead to 4 byes of padding because `alignof(hashMe) == 8`. This also implies that

    _materialID = XXH32((const void*)&hashMe, sizeof(hashMe), 0);

will hash uninitialized gar

[2017-12-07 01:54] wulei opened #18539 "compile android this web download some jar return 404:http://jcenter.bintray.com/com/android/support/"
Resource missing. [HTTP GET: https://jcenter.bintray.com/com/android/support/support-annotations/27.0.1/support-annotations-27.0.1.pom]
Resource missing. [HTTP HEAD: https://jcenter.bintray.com/com/android/support/support-annotations/27.0.1/support-annotations-27.0.1.jar]
Resource missing. [HTTP GET: https://jcenter.bintray.com/com/android/support/support-core-utils/27.0.1/support-core-utils-27.0.

[2017-12-07 01:55] wulei commented on #18539
i see http://jcenter.bintray.com/com/android/support/support-core-utils/  can't find 27.xxx

[2017-12-07 02:05] #18539 closed, assigned to nobody

[2017-12-07 21:31] ijm700 commented on #17885
More info here, https://github.com/cocos2d/cocos2d-x/issues/16912

[2017-12-08 01:49] drelaptop commented on #18534
能整理出一个复现的示例吗？可以在 `cocos2d-x/tests/cpp-empty-test` 的基础上增加出错代码。

[2017-12-08 02:03] dumganhar commented on #18538
Good finding.
I prefer:

But that would not resolve the problem too, because

[code]

will also make a padding 4 at the end of struct. It's caused by the struct size have to be multiplied by 8, it means it's also 24 bytes with 4 padding bytes.

I provide another approach:

### Uses Constructor to Reset Struct

[code]

[2017-12-08 02:07] dumganhar commented on #18538
I found that hashMe is a private struct.
So probably, call memset after its definition is also ok.
[code]

[2017-12-08 02:16] dumganhar commented on #18538
Pull Request is here:
https://github.com/cocos2d/cocos2d-x/pull/18543

[2017-12-08 02:34] dumganhar commented on #18510
<img width="884" alt="screen shot 2017-12-08 at 10 32 24" src="https://user-images.githubusercontent.com/493372/33748368-1a84625e-dc03-11e7-90f9-bc73415f9dbc.png">

I notice that there is a line
MyDelegate.swift line 18
which is a swift source code. It doesn't belong to cocos2d-x source code.
So you modified some thing right?
Could you reproduce this bug on your iOS 11 devices?

[2017-12-08 08:06] #18538 closed, assigned to nobody

[2017-12-08 18:06] Jakz commented on #18538
Yes, using `std::memset` is definitely fine but you waste computing hash on 4 more bytes, which could be negligible but it's nice to point it out.

[2017-12-08 22:18] HellFighter opened #18545 "Undefined symbols for architecture x86_64: "typeinfo for cocos2d::Controller""
- cocos2d-x version: 3.16 (7916beb314)
- devices test on: Mac
- developing environments
   - Xcode version: 9.1 (9B55)

Steps to Reproduce:

1. Clone cocos2d-x repo
2. Download deps and update submodules
3. Create new JS project ( cocos new MyGame -p com.MyCompany.MyGame -l js -d MyGameJS )
4. Generate Xcode project from CMake ( cmake -GXcode )
5. Try to build MyGame application via Xcode

After s

[2017-12-09 07:34] AnMokoto commented on #18533
@gzbbxu  #14374

[2017-12-09 08:34] CodeMasterYi commented on #18533
com.ifreetalk.ftalk

[2017-12-09 08:35] CodeMasterYi commented on #18533
com.ifreetalk.ftalk
派派？？？

[2017-12-10 08:06] madebymozart commented on #18507
It should

[2017-12-10 08:11] madebymozart opened #18546 "New cocos project android binding messed up"
Probably by mistake, but in removing the old android code using ant, the auto renaming and things in android are messed up and doesn't change the package names in `build.gradle` and other files.

- cocos2d-x version: latest github commit
- devices test on: N/A
- developing environments
   - NDK version: N/A
   - Xcode version: N/A
   - VS version: N/A
   - browser type and version: N/A

Steps to R

[2017-12-11 02:45] dumganhar commented on #18545
Yep, cmake build is only tested on Linux. I don't confirm that it could work on other platforms.
You could use `build/cocos2d_tests.xcodeproj` for building test-case.
Or use `proj.ios_mac/your_project_name.xcodeproj` to build your game.

[2017-12-11 06:20] #18507 closed, assigned to nobody

[2017-12-11 06:45] TarifHatoum opened #18548 "signal 4 (SIGILL), code 2 (ILL_ILLOPN) libcutils.so"
- devices test on: Asus ZenFone 6 (A600CG) (ASUS_T00G), 1024MB RAM, Android 4.3
- developing environments
  android studio version 2.3.3
backtrace:
  #00  pc 000000000001322d  /system/lib/libcutils.so
  #01  pc 000000000008ad8e  /system/lib/libstagefright.so
  #02  pc 000000000008e27f  /system/lib/libstagefright.so
  #03  pc 00000000000945ad  /system/lib/libstagefright.so
  #04  pc 0000000000094d7

[2017-12-11 07:06] hussain-sohaib commented on #18548
Did you compiled for x86 arch?

On Mon, 11 Dec 2017 at 11:45, Anonymous123456789123 <
notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-12-11 07:34] TarifHatoum commented on #18548
What do you mean by "Did you compiled for x86 arch?". Just running it on a real device not on emulator.

[2017-12-11 08:54] mars3142 opened #18549 "Feature request: get cache folder with FileUtils"
Instead of **FileUtils::getInstance()->getWritablePath()** which returns the **documents** folder, it would be nice to have a call like **FileUtils::getInstance()->getCachePath()** where the returned path will be the app cache folder. This folder can be cleaned up any time the app isn't running (e.g because of storage problems on the device) and this wouldn't be bad for the app, because it's just

[2017-12-11 09:24] hussain-sohaib commented on #18548
I think your device has x86 arch.

On Mon, 11 Dec 2017 at 12:34, Anonymous123456789123 <
notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-12-11 10:00] TarifHatoum commented on #18548
so what is the solution ? please help

[2017-12-11 10:38] sbrednikhin opened #18550 "Request for plans about color emoji suport."
Are there any plans to support color emoiji's? Is it in some roadmap?

[2017-12-11 16:22] AIGRIND-LLC opened #18551 "cocos2d::ui::ScrollView stop scrolling onExit()"
Hello,
Is some cases `ScrollView` may leave the scene while scrolling. For example the user has moved `ScrollView` making it to auto-scroll and closed the whole window that contains this `ScrollView`. Next time the window appears the scene this `ScrollView` will be stuck in scrolling state because it has not stopped to scroll before leaving the scene. Even scroll bars are visible in that state.

A

[2017-12-11 16:36] AIGRIND-LLC commented on #18551
I've also emulated the situation when `ScrollView` is stuck in scrolling mode,
So you may easily reproduce it.
You need to modify `bool UIScrollViewTest_Both::init()` in **cpp-test** project in this way (only code after comment _"Adding keyboard listener to reproduce scroll stopping issue!"_ is added):
[code]

Than run the application, find the required test scene, start moving `ScrollView` and pr

[2017-12-11 17:31] deguilardi commented on #18510
Actually a lot of random crashes will also trigger this error.
The MyDelegate is nothing more than the delegate of the app (where the app starts from).
To you guys have an idea, I could reduce this error rate by 50% when I applied the following patch: https://github.com/cocos2d/cocos2d-x/commit/25c240391c4fe2e28eb88ce6ea1dde99f013d7ad#diff-4e41f257e5233b8a616f60b0d86b5af8

Because of that missing

[2017-12-11 18:47] HellFighter commented on #18545
Could you please fix this issue on mac build? I really wanna have one cmake build system instead of one new for each platform

[2017-12-12 05:52] drelaptop commented on #18550
Please run cpp-tests project, and see `51:Node: UI` -> `1:GUI Dynamic Create Test` -> `1:UIEditBox Test`.

Color emoji have been supported in EditBox.

[2017-12-12 06:26] ewersp commented on #10314
I know this is an old thread, but I just wanted to share my joy in that converting a bunch of mono wavs to stereo resolved this issue for me on an ancient, SimpleAudioEngine (CocosDenshion) cocos2d-objc project. It seemed to only happen on the iPhone X (randomly some sounds would stop playing after 2-3 minutes of app usage), but this hail mary saved my bacon! Thanks!! :D

[2017-12-12 07:29] seventhrank commented on #16652
The same crash report is occurring.
Using 3.14.1.
Is this problem solved with the latest cocos2dx?

[2017-12-12 07:52] drelaptop commented on #18551
PR: https://github.com/cocos2d/cocos2d-x/pull/18552 is a good patch, and it works well.
Can you enrich the test case? you can add your test code to `bool UIScrollViewTest_Both :: init ()` as explained above. At the same time it is better to add more details of the test case.

Thanks for your contribution.

[2017-12-12 08:53] sbrednikhin opened #18554 "TextField with system font cursor support"
Current implementation of ui:TextField doesn't support cursor if initialized with system font.
It can be easily enabled without cursor "blinking" and cursor with zero width. Anyway it's be better than nothing.

[2017-12-12 09:43] minggo commented on #16652
@dumganhar please double confirm it.

[2017-12-12 11:06] sbrednikhin commented on #18550
It's "ok" if UIEditBox (of TextField) initialized with system font, but I need to render it with custom font.

UIEditBox and TextField both uses cocos2d::Label for rendering. And Label uses FontAtlas to form texture.
It forms A8 or AI88 texture. I can make it RGBA8888 texture and get color smiles from custom font, but freetype library was build without color support.
To make color support for cust

[2017-12-12 11:27] AIGRIND-LLC commented on #18551
Tanks for your feedback @drelaptop 😊

Don't you think the test modification provided above is to confusing for most users?
Especially these two lines that actually are workaround of the internal node implementation:
[code]
Also it is necessary to design another test UI to reproduce required behaviour because ESC button is not available on mobile devices.

At this moment some tests in **cpp-project

[2017-12-12 20:39] bolino opened #18558 "Bad performance on HTC Nexus 9"
I'm currently using the lastest cocos2d-x version from the repo and our game is getting terrible performance on the HTC Nexus 9 (with Android 6).

The game runs at 60fps on iOS and other android devices like Xiaomi Redmi 3S or Samsung S6 but on the HTC Nexus 9 the frame rate drops immediately below 30fps. The low frame rates are constant while ingame (even with the game paused) or inside a menu wi

[2017-12-13 01:35] drelaptop commented on #18550
sorry for no plans of making it in near future, but yeah! you can do it by yourself. Please make a PR when you finish it, all developers will be very grateful to you.

[2017-12-13 02:01] drelaptop commented on #18551
I agree with you, creating another test is better than using the old. You can create a new test it as the old tests do, "Fix for issue #BLAH-BLAH-BLAH", and add it into tests list  of cpp-test project.

[2017-12-13 02:57] drelaptop commented on #18548
you can use using `--app-abi APP_ABI` to compile x86 arch, help infomation
[code]

[2017-12-13 07:50] sbrednikhin commented on #18550
No problem. I'll make it.
How can I deal with library rebuilding? If I will do it only on my side it will brake tests. Should I create an issue to https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src ? It looks like correct variant because https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src is managed by cocos team.

[2017-12-13 09:12] drelaptop commented on #18550
oh! beyond of my knowledge, this is the main member @minggo of cocos team, I think he could answer your question, just wait a moment.

[2017-12-13 09:34] minggo commented on #18550
@sbrednikhin yep, you can use `https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src` to build needed 3rd party libs. But it can work on iOS, Android, macos and linux. Please let me know what issue you meet.

[2017-12-13 09:45] ogaga opened #18560 "3.16 模拟器菜单切换缩放比例有问题"
1.在100%和75%之间来回切换几次窗口直接变成正方形（原来是16:9的长方形）
2.模拟器切换缩放比例对 setNotificationNode设置的节点没有影响，也就是所notificationNode中的内容不会跟着缩放比例缩放

[2017-12-13 10:14] ogaga commented on #18560
cocos2d-x 3.11 测试如上操作一切正常

[2017-12-13 12:01] sbrednikhin commented on #18550
@minggo I just need freetype library to be rebuildув with png support to enable color emoji support in custom fonts.
You mentioned that it's possible in future:
https://github.com/cocos2d/cocos2d-x/pull/17179

Looks like only thing needed is to build freetype with
`#define FT_CONFIG_OPTION_USE_PNG`
Is it possible? Should I create issue in https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src ?

[2017-12-13 12:01] #18550 closed, assigned to nobody

[2017-12-13 14:46] AIGRIND-LLC commented on #18551
I have created new test and committed it. And it helped me to find one minor bug in my pull request so I have made additional fix. Please check.

![untitled](https://user-images.githubusercontent.com/6168693/33944257-49d11424-e024-11e7-9414-b09b89583a4c.gif)
Also you can find some debug messages in Output log when running the test.

[2017-12-13 15:14] homolumo commented on #18533
看看主Activity的onCreate和onDestroy是不是走了多次，如果是，尝试阻止Activity重新开始生命周期

[2017-12-13 19:26] frozax commented on #18104
Issue took me a few hours to understand when upgrading to 3.16, too. My use case is that I have a complex node that I only want to create once (with touch listeners and many sprites), but if I need it again, I retained it and add it again to the scene.

[2017-12-13 19:50] Anywhere-Music-Player commented on #18104
Just use fix as I'm https://github.com/newnon/cocos2d-x/commit/bc560c36b189907f82739ae973cc803651b3316d after that I got no problems so far. Current logic in cocos2d-x is wrong...

[2017-12-14 01:35] dumganhar commented on #18104
Indeed, current logic of removeEventListener in Node::cleanup is correct. It was wrong before v3.16.

i think we need to ad some code in widget that will be add listener again after adding it to scene again

@newnon , you see that Node::pause, Node::resume

[code]
Scheduler, ActionManager, EventDispather are all associated with Node, and in Node::cleanup, we remove Schedule, Action. Why shouldn't

[2017-12-14 01:39] dumganhar commented on #18104
Reverting code is easy, but before that, we need to think which is more important between keeping compatibility and correcting wrong code logic.

[2017-12-14 01:44] dumganhar commented on #18104
@KAMIKAZEUA ,
[code]

The create method of RemoveSelf takes an argument of `isNeedCleanup`. So you need to set it to false if you don't want to cleanup node and just wanna remove it from parent.

[2017-12-14 03:01] drelaptop commented on #18551
@AIGRIND-LLC  You are awesome, for the `.gif` images which show the issue and test are perfect, and your PR works well.

this issue has been solved at #18552, and should be closed @minggo

[2017-12-14 03:20] minggo commented on #18551
We should close an issue after corresponding PR is merged.

[2017-12-14 05:05] er-bpradip commented on #17946
I am also facing same problem. @knuth Is this problem solved? Please let me know the solution if the issue is solved.

[2017-12-14 05:38] #18551 closed, assigned to nobody

[2017-12-14 07:53] qianwen36 opened #18562 "Mesh.getTexture is nil cause lua crash"
- cocos2d-x version:3.15.1
- devices test on:windows simulator
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:2013
   - browser type and version:

i'm puzzled in the file _cocos2dx_3d.ini_, why to skip the four function?

`skip = Mesh::[create getAABB getVertexBuffer hasVertexAttrib getSkin getMeshIndexData getGLProgramState getPrimitiveType getIndexCount getIndexF

[2017-12-14 10:22] Anywhere-Music-Player commented on #18104
That should be like official warning, because old code will break, like for other ppl. So they will feel, that after upgrading something will be broken next again. And now I should check this in all code places in my games..

[2017-12-14 10:45] newnon commented on #18104
@dumganhar it ok to remove EventListeners on cleanup but i think you must implement some code for standard classes like button to add it again if developer add it to scene again. At this moment there is no possibility to reuse button after removeFromParent(true);

[2017-12-14 10:53] dumganhar commented on #18104
But you could use pass false to removeFromParent. I'm thinking reverting
the change, I mean keep old wrong logic. Yes, it's wrong, but its also a
feature on the other hand. What do you think？

newnon <notifications@github.com>于2017年12月14日 周四18:45写道：

[2017-12-14 12:59] qianwen36 opened #18563 "ccvaluemapintkey_to_luaval why using string as key"
- cocos2d-x version:3.6
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

why using string as key in LuaBasicConversions.cpp. And the inValue is cocos2d::ValueMapIntKey
`void ccvaluemapintkey_to_luaval(lua_State* L, const cocos2d::ValueMapIntKey& inValue)
{
    lua_newtable(L);

    if (nullptr == L)
        return;

[2017-12-14 13:59] frozax commented on #18104
I agree with the last comment of @newnon. It's especially complicated if you removeFromParent a main Node where one of its child is a button. Maybe you want a cleanup on the "main" node but not on the child button node. In fact, I do retain my child button node to reuse it, but listeners were removed indirectly by a parent or grand-parent.

[2017-12-15 00:59] stevetranby commented on #18549
I have no doubt everyone else knows these already, but to move this along:
iOS/Mac - `NSCachesDirectory`
Android - `context.getCacheDir()` / `getExternalCacheDir()`

[2017-12-15 01:15] minggo commented on #18550
https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/blob/v3/contrib/src/freetype/rules.mak#L20 you can modify the configure parameter to build with png support.

[2017-12-15 01:15] minggo commented on #18550
And yep, you can create an new issue of it.

[2017-12-15 02:05] dumganhar commented on #18104
@frozax ,
I guess you want some customized functionality of removeFromParent/removeChild(cleanup = true) for `Button`.
Yes, it's possible to achieve that since `Button` could override the virtual `cleanup`.

But this will make thing more complex and worse.

[2017-12-15 02:38] dumganhar commented on #18104
I have sent a PR for reverting this change:

https://github.com/cocos2d/cocos2d-x/pull/18565

Reverting this will not affect the users who use `removeFromParent(false)` in v3.16.
Yes, I didn't consider enough of that user code may have wrong usage of removeFromParent API.
As Riq has said something like that "Yes, it's wrong, but perhaps it's also a feature.".
I will keep in mind of this.
Thanks fo

[2017-12-15 03:13] dumganhar commented on #18104
I have also posted a thread in our forum:

http://discuss.cocos2d-x.org/t/note-compatibility-issue-of-node-cleanup-in-cocos2d-x-v3-16/40560

[2017-12-15 04:09] LSilent opened #18566 "The libSpine is crashed."
- cocos2d-x version: 3.16
- devices test on: Windows 7
- developing environments
   - VS version: vs2017
Steps to Reproduce:
1. run cpp-tests
2. click the "44:Node:Spine" test.
The thrid example,"GoblinsExample", is crashed in SkeletonAnimation::createWithJsonFile

[2017-12-16 18:47] CodeMasterYi opened #18569 "build error only on arm64-v8a"
- cocos2d-x version: 3.16
- devices test on: mac air (OSX 10.13.2)
- developing environments
   - NDK version: latest(ndk bundle in android sdk)

Steps to Reproduce:

1. add abi arm64-v8a
2. build with Android Studio
3. then we will see this:
![4f3941c7-6240-42e4-b58e-889bda4911bd](https://user-images.githubusercontent.com/10430162/34073362-1e01bfea-e2d3-11e7-8394-6095563f395f.png)

but we won't s

[2017-12-16 23:16] Dimon4eg opened #18571 "Issue with label right alignment and max width"
Label with max width (for word wraping) and right alignment works with issue: some words have additional space from right side.

![image](https://user-images.githubusercontent.com/1271541/34075133-cf5ea46e-e2c5-11e7-948d-a1b073a0de6b.png)

- cocos2d-x version: 3.16
- devices test on: windows
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2017
   - browser type and

[2017-12-17 22:46] formatCvt commented on #18546
confirm bug

[2017-12-18 08:15] CodeMasterYi opened #18574 "about android Proguard"
- cocos2d-x version: 3.16

NOW we can not see any Proguard file for cocos2d-x project,
but we may need this for the future when we are going to import multiple SDKs and multiple java or android function library which causes method's reference count large than 65535.
Although, google provides multidex support library trying to resolve the issue, but it is ugly.
The best solution may be use proguard

[2017-12-18 09:26] drelaptop commented on #18569
Similar problem occurred to me, and it was solved after I keep Android Studio and all tools on `SDK Tools` latest. Update your tools and try again.

[2017-12-18 09:38] CodeMasterYi commented on #18569
Maybe you encounted another problem.
I'm keeping them up-to-date~
latest Android Studio
latest ndk-bundle
latest build tool
APP_PLATFORM=15
TARGET_SDK_VERSION=26

[2017-12-18 09:39] CodeMasterYi commented on #18569
Although, it is not a fatal issue, it is not perfect~

[2017-12-18 09:48] drelaptop commented on #18569
@dumganhar will help you, he known this clear. please wait some time, for he is a little busy today.

[2017-12-18 13:30] hussain-sohaib opened #18575 "No APK out put to bin"
- cocos2d-x version: 3.16 (latest git version)

- developing environments
   - NDK version: r13b
   - Xcode version: 9.1
   - Android Studio: 3.0.1

With recent changes no APK is moved out to bin when we compile for android from terminal on mac.

this is the command I always used and it had worked previously

cocos compile -p android -m release --ndk-mode release  --android-studio --target android

[2017-12-19 00:56] #18554 closed, assigned to nobody

[2017-12-19 01:35] drelaptop commented on #18575
AFAIK, no more project for Android Eclipse in latest version, the folder `proj.android` removed, and then `proj.android-studio` is renamed to `proj.android`.

[2017-12-19 02:09] coder-free commented on #18569
Edit mp3reader.cpp. Change #include \<string\> to  #include \<cstring\>.
Edit CCAllocatorStrategyGlobalSmallBlock.h. Add #include \<cstring\>.
See [here](https://stackoverflow.com/questions/2505365/compiler-error-memset-was-not-declared-in-this-scope)

[2017-12-19 02:26] hussain-sohaib commented on #18575
android-studio should not be renamed to android because it cause confusion.

On Tue, 19 Dec 2017 at 06:35, leeda <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-12-19 02:27] CodeMasterYi commented on #18569
Absolutely, you r right, and i also mentioned this in my issue description.
I just think it should be more official.
is it ugly "every time, a new engine user or others find this question"？

[2017-12-19 02:45] drelaptop commented on #18569
thanks for your both mention it, I will submit a PR

[2017-12-19 02:47] drelaptop commented on #18575
I think it's a reasonable suggestion,  how about you @minggo

[2017-12-19 03:12] drelaptop commented on #18569
when I try to modify files in the GitHub latest version, I found #18476 it seems like solved this issue. it added `<string.h>` and have much discuss. please have a look.

[2017-12-19 03:36] CodeMasterYi commented on #18569
oh, i see! v3.17 will fix this~

[2017-12-19 03:36] #18569 closed, assigned to nobody

[2017-12-19 05:43] minggo commented on #18575
@hussain-sohaib i don't think it will be confusion since not Eclipse project is supported now, and you will find it is an Android Studio project easy.

[2017-12-19 05:44] minggo commented on #18575
@hussain-sohaib have you updated submodule of cocos console?

[2017-12-19 07:15] hussain-sohaib commented on #18575
yes, but recent changes in console tools are not compatible with previous versions of engine. I am back to using old console tool.

[2017-12-19 09:06] CodeMasterYi opened #18578 "fix warning UIEditBoxImpl-android.h#66"
[https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/ui/UIEditBox/UIEditBoxImpl-android.h](https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/ui/UIEditBox/UIEditBoxImpl-android.h)
warning: 'setNativeTextHorizontalAlignment' overrides a member function but is not marked 'override' [-Winconsistent-missing-override]

[2017-12-19 17:27] kaplad commented on #18578
Have created a [PR](https://github.com/cocos2d/cocos2d-x/pull/18580) for this

[2017-12-19 17:38] #18578 closed, assigned to nobody

[2017-12-21 07:45] ml0326660 commented on #15321
@minggo  @larsven  阿拉伯语文字添加ttf字体后显示与系统字体翻转的问题 现在有解决方案了没有？

[2017-12-21 08:02] drelaptop opened #18581 "EditBox CENTER Horizontal Alignment Error on Android"
- cocos2d-x version: the latest
- devices test on: Android 7.0
- developing environments
   - Android Studio 3.0.1

Steps to Reproduce:

1. new a EditBox
2. `setTextHorizontalAlignment(TextHAlignment::CENTER)` for it
3. compile and run on Android
4. the text on EditBox align left when edit, align center after edit finish, but on iOS it's both align center

it only occurs on center alignment, meanw

[2017-12-21 08:19] drelaptop commented on #18581
the code in Cocos2dxEditBox.java below:
[code]
it seems quite reasonable, so I have no idea to solve it.

[2017-12-21 08:45] summerinsects commented on #18581
Horizontal Text Alignment for UIEditBox is first added in #16772
these codes above are modified in #17796

I found another BUG that on iOS the placeholders in EditBox is still Wrong Alignment

[2017-12-21 09:06] Kotaiba commented on #15321
If anyone wanna quick fix , you can use http://omar84.com/docs/taw/arabic_writer.html . just get the Output and use it . only one issue you will face is the braking lines will be upside down in arabic . you can fix it by adding this inside
`bool Label::multilineTextWrap(const std::function<int(const std::u16string&, int, int)>& nextTokenLen)`

[code]

and you need to set UserDefault::getInstance()

[2017-12-21 22:19] stevetranby commented on #17387
Ideally one would mix the internal data buffer(s) if necessary (or always?) into a single or few channel(s) of actual playback. It's possible this is only practical on desktop and high-end mobile devices.

[2017-12-22 06:49] umair6 commented on #18058
I am still getting this crash in my game. I am using cocos2d-x version 3.15.1

`Fatal Exception: java.lang.IllegalArgumentException
       at com.google.android.gles_jni.EGLImpl._eglCreateContext(EGLImpl.java)
       at com.google.android.gles_jni.EGLImpl.eglCreateContext(EGLImpl.java:54)
       at android.opengl.GLSurfaceView$DefaultContextFactory.createContext(GLSurfaceView.java:771)
       at a

[2017-12-22 07:03] drelaptop commented on #18058
@umair6 Do you merged the code in #18062 to your 3.15.1 engine? this issue was fixed in 3.16 version, we can get this from ` minggo added this to the 3.16 milestone on Jul 13` above.

[2017-12-22 09:24] ogaga commented on #18560
void GLViewImpl::onGLFWWindowSizeFunCallback(GLFWwindow* /*window*/, int width, int height)
{
    if (width && height && _resolutionPolicy != ResolutionPolicy::UNKNOWN)
    {

        //Size baseDesignSize = _designResolutionSize;
        //ResolutionPolicy baseResolutionPolicy = _resolutionPolicy;

        //int frameWidth = width / _frameZoomFactor;
        //int frameHeight = height / _frameZoo

[2017-12-23 06:51] xingfude123 opened #18583 "ArmatureNodeReader.cpp中addArmatureFileInfo不应该添加完整路径！"
- cocos2d-x version:3.16
- devices test on:windows
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
![tim 20171223144723](https://user-images.githubusercontent.com/27794684/34317758-776bfe34-e7f0-11e7-9c22-7f3ec1d94ec5.png)

2. 我认为应该是这样：
![tim 20171223144930](https://user-images.githubusercontent.com/27794684/3

[2017-12-23 12:32] ricardperez commented on #8384
This is pretty annoying. My setup is a particle emitter attached to a sprite, and the moment the sprite rotates the already spawned particles are rotating with it as well! 😡
Please prioritise this.

EDIT: I could temporary solve this by subclassing the particle system and overriding the method setRotation:
[code]

[2017-12-23 16:52] hussain-sohaib opened #18584 "New Android Project is not built properly"
- cocos2d-x version: 3.17 (latest git version)
- devices test on:
- developing environments
   - NDK version: r16b
  -Android-Studio 3.0.1

![screen shot 2017-12-23 at 9 46 08 pm](https://user-images.githubusercontent.com/2145411/34321213-5d166700-e82b-11e7-91e6-716e95b8e036.png)
imacSohaib:cocos2d-x sohaibhussain$ cocos new newSample  -p com.newSample.newSample -l cpp -d newSample
Python 2.7.10

[2017-12-23 17:07] CodeMasterYi commented on #18584
I find that you use Android Studio, but why don't you open the folder named "proj.android-studio" as the android project???

[2017-12-23 17:10] hussain-sohaib commented on #18584
Because in new setup there is no project for eclipse and android-studio
folder is renamed to android.

On Sat, 23 Dec 2017 at 22:07, MasterYi <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-12-25 02:19] drelaptop commented on #18584
Thanks for reporting this issue, and I tested again. it is a config defect on  __cocos command line tools__ @minggo

old check rules, should been modified too. for the errors like:
[code]

[2017-12-25 02:22] drelaptop commented on #18583
原来的做法有什么缺陷，或是引起了什么 BUG ？如何重现 @xingfude123

[2017-12-25 03:29] owen200008 opened #18585 "AssetsManagerEx some issue"
- cocos2d-x version:
new one

when update downloading unit it closed by user.  the tmp file no save ready. it must be error.
change code:
AssetsManagerEx.cpp:1196 it should be "if (_percentByFile / 100 >= _nextSavePoint)" add =

it no support resume from break point, so it must be w+ open, otherwise it file must be error.
CCDownloader-curl.cpp:136 "_fp = fopen(util->getSuitableFOpen(_tempFileName)

[2017-12-25 17:40] m-peko opened #18588 "Read access violation - AudioEngine crash"
- cocos2d-x version: 3.16
- devices test on: Windows 10
- developing environments
   - VS version: 2015

Steps to Reproduce:

1. Create new cpp project
2. Play background music using AudioEngine play2d method
3. Close application while running it in debugging mode

Exception thrown in CCScheduler.cpp:1047
[code]

Call stack
[code]

Code for reproducing the error
[code]

Seems like the call to ```S

[2017-12-26 03:09] xueyuetianxi opened #18590 "Get a PR, some of Effects was cut off when multiple Effect play at same time. How to solve it on IOS"
- cocos2d-x version: cocos2d-lua 3.10
- devices test on: android and ios (just expand the audio stream on android (cocos2dSound.java MAX_SIMULTANEOUS_STREAMS_DEFAULT) )
- developing environments
   - NDK version: r10e
   - Xcode version: --
   - VS version: 2013
   - browser type and version:

Steps to Reproduce:

1. Not is bound to happen
2.

[2017-12-26 03:44] drelaptop commented on #18590
cocos 中文社区: http://forum.cocos.com/
cocos English forum: http://discuss.cocos2d-x.org/

I think [中文社区](http://forum.cocos.com/) is a better choice for you to solve this question. many Lua developers discuss on that site. Issues usually are used to report bugs with a `Steps to Reproduce`

[2017-12-26 05:17] hussain-sohaib commented on #18584
@minggo can you please resolve this issue soon. We need to update our
projects to lastest version.

Thanks

On Mon, 25 Dec 2017 at 07:19, leeda <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-12-26 05:35] minggo commented on #18584
Latest codes are not sure to stable, i suggest you use a release version.

[2017-12-26 06:32] #18590 closed, assigned to nobody

[2017-12-26 06:40] hussain-sohaib commented on #18584
When do you plan to release 3.17?

On Tue, 26 Dec 2017 at 10:35, minggo <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2017-12-27 13:11] bin-zhao opened #18593 "iPhone screenshot blurred than Android"
- cocos2d-x version: 3.14.1
- devices test on: iPhone6s
- developing environments
   - NDK version: r11c
   - Xcode version: 8.1
   - VS version:
   - browser type and version:

Steps to Reproduce:
  I take some screenshots in game use iPhone6s. when I open them on my Mac, the image is very blurred. but the image take on Samsung Note4 is very clear.
  I don't know why. what happened on iPhone6s? I

[2017-12-28 03:03] MerlinYu commented on #18184
@bingle123 我想请教的是另一个问题在我们的项目中同样遇到Crash reason: SIGSEGV，
Crash address是0x1，这种问题该 怎么定位？

[2017-12-28 09:53] Monisha123Ramesh commented on #16779
hello @zilongshanren , @dumganhar , @minggo
I am doing a game for Mac store using cocos2d-js. I am in need of help with edit box issue.
Edit box works weird in Mac. When the window size is changed (i.e.,maximised or minimised) the edit box position changes and it comes back to its original position until its been clicked. I am sharing the screenshots. Can you please have a check on it and provide

[2017-12-28 10:02] Monisha123Ramesh opened #18595 "[cocos2d-js]Editbox Works weird in Mac"
hello @zilongshanren , @dumganhar , @minggo
I am doing a game for Mac store using cocos2d-js. I am in need of help with edit box issue.
Edit box works weird in Mac. When the window size is changed (i.e.,maximised or minimised) the edit box position changes and it comes back to its original position until its been clicked. I am sharing the screenshots. Can you please have a check on it and provide

[2017-12-28 14:11] Gensando opened #18597 "AudioEngine rotateBufferThread crash"
- cocos2d-x version: 3.16
- devices test on: Iphone 6
- developing environments
   - Xcode version: 9.2

Steps to Reproduce:

1.  Create new project
2. Write simple code

[code]

3. Touch button  several times till it will crash at AudioPlayer.mm - 295 line in separate thread

Logs - [logs.txt](https://github.com/cocos2d/cocos2d-x/files/1591348/logs.txt)

[2017-12-28 14:56] communislim commented on #17887
When will this issue be apply?

[2017-12-29 03:19] drelaptop commented on #18595
I found the window on project `cpp-tests` and `js-tests` can't maximising, could you have a try to reproduce this issue by new a simple project, and then provide the code. It will be better for us to look into this issue and find bug.

[2017-12-29 04:50] drelaptop commented on #18423
@G0561 `added this to the 3.17 milestone on Nov 8` 意思是 3.17 版本上

[2017-12-29 06:03] Monisha123Ramesh commented on #18595
Thank you for your response.

Yes, as u said in js-tests we can't maximise the window. I have added a code in app delegate in order to maximise the window.

[2017-12-29 06:29] Monisha123Ramesh commented on #18595
Thank you for the response.

I tired to reproduce the issue in a new simple project. I am getting the same issue. Edit box keeps moving when we drag the  window to maximise or minimise.

screen shots:
 initial
<img width="1199" alt="screen shot 2017-12-29 at 11 46 27 am" src="https://user-images.githubusercontent.com/28771417/34430729-10889342-ec8e-11e7-81f5-650f3dd3be68.png">

Input is given to e

[2017-12-29 06:41] Monisha123Ramesh commented on #18595
I am sharing a video in the below link to make it more clear. Please have a check on it

http://icsoft.in/editboxbug/editboxbug.mov

[2017-12-29 08:23] drelaptop commented on #18595
thanks for detail description. I have view your code and video, and reproduce it on the `cpp-tests` project by adding `glview = GLViewImpl::create("Cpp Tests",true);`.

The issue is cased by the different implement of EditBox. the EditBox you saw is a macOS native widget when input, and is a label when losing focus. I have a idea to avoid that for now. you could try to listen `Windows Resize Event

[2017-12-29 09:27] Monisha123Ramesh commented on #18595
Thank you for your time.
Can you please tell me how to do this in cocos2d-js?
I couldn't find `Windows Resize Event` for js.

[2017-12-29 12:26] acvrp-lab commented on #16652
similar crashes here.

0,1 is too long to paste, does line 8-9 indicates the app is terminated before the crash happens?
our app has alot of short(0~3 seconds) sessions, i cant find the reason

2 myGame-mobile | cocos2d::FontFreeType::~FontFreeType() + 88
-- | --
3 myGame-mobile | cocos2d::FontFreeType::~FontFreeType() + 12
4 myGame-mobile | cocos2d::AutoreleasePool::clear() + 48
5 myGame-mobile |

[2017-12-30 01:40] Zaraka commented on #12030
Hello, new to cocos2dx. Great engine.
This has been bothering me for a while now. I'm willing to implement this for all math containers (vec, rect, mat)

Moreover I noticed, Vec2 is missing operation with scalar values. Would be nice to have.

I also suggest implementing overloaded operators. Just basic operators like +,-,*,/,+=,-=,*=./=. But I would understand if you will be against it.

Let me n

[2017-12-31 03:46] gamehelphere commented on #17962
Hi Dimon4eg,

It is great that your setup works with the Desktop native OpenGL. I tried the same in my computer but it did not work. It worked when I went back to SwiftShader, and I think the OpenGL drivers on your computer works well with that emulator.

All was well when I was using SwiftShader, but things went back to this problem after some emulator updates on my Android Studio. I tried to run

[2017-12-31 11:45] Priority10 commented on #18584
@minggo Any chance that this will be fixed in 3-5 days? I would really appreciate it.

I am brave enough to use the github master in the release. :D (after some tests, of course)
In addition, you wanted to test 3.17.

[2017-12-31 14:05] #18593 closed, assigned to nobody

[2017-12-31 18:01] Dimon4eg commented on #17962
hi @gamehelphere!
Cool, your fix works on my windows PC!
And it works on my phone with Android 4.4.2
Your fix affects android platform.
Do you think this fix related to simulation only or to the whole android platform?

[2017-12-31 18:48] Anywhere-Music-Player commented on #17962
@minggo it’s really should get attention.
Because not using SwiftShader - emulator works very slow, impossible to play. With this fix it should work with SwiftShader which is needed.

[2018-01-01 04:23] gamehelphere commented on #17962
Hi Dimon4eg and KAMIKAZEUA,

Thank you both for checking and trying my code fix in your setups.

Thank you also Dimon4eg for testing my code and confirming it works in your Windows PC and Android phone.

I think this code fix can affect both Android emulators and actual Android devices because of your tests, Dimon4eg and KAMIKAZEUA. The code fix will enable SwiftShader rendering instead of showing

[2018-01-01 07:57] Dimon4eg commented on #17962
Many thanks to you @gamehelphere
You spent a lot of time to fix this issue.
I also spend some time but without success.

More details how it works in my case.
Android Studio 3.0.1
Cocos2d-X 3.16
NDK-R14b
![image](https://user-images.githubusercontent.com/1271541/34466366-3b80e836-eed9-11e7-8c76-9690c21299b8.png)

[2018-01-01 22:05] ForestRingGames opened #18599 "[cocos2d-x C++] UIEditBox - Android - set it to SENSTIVE mode, it still show autocompletion hints"
- cocos2d-x version: 3.16 (also tried latest EditBox code from Github)
- devices test on: Galaxy Tab S3, Galaxy S5, iPad Air, iPad Pro, iPhone 6S
- developing environments
   - NDK version: 16
   - Xcode version: 9.2
   - VS version: -
   - browser type and version: -

The UIEditBox on Android is giving us quite a headache at the moment. Some of them are

- It often skips letters that the users en

[2018-01-01 22:39] hussain-sohaib opened #18600 "orthographic camera and scroll view issue"
- cocos2d-x version: git version
- devices test on: iphone6s plus

if we set orthographic camera than scroll view is not shown on full screen. I don't understand but some issue with camera parameters. @drelaptop can you please have a look.

Code is attached, please add cocos2d folder to it and compile.

[cameraandscrollviewissue.zip](https://github.com/cocos2d/cocos2d-x/files/1596444/cameraandscro

[2018-01-02 02:22] minggo commented on #18584
@Priority10 thanks for testing, what i mean is to use release version for projects, but you are appreciated to test latest codes without using it in real products.

I think this issue is fixe by https://github.com/cocos2d/cocos2d-x/pull/18592

[2018-01-02 02:47] drelaptop commented on #18595
It seem like cocos2d-x didn't consider `Windows Resize Event` ever before, because `Windows Resize` would never occur on mobile platforms, we always consider mobile first. if you decide to do windows resize event, I am afraid you need to custom it by yourself.

[2018-01-02 10:04] drelaptop commented on #18600
sorry for I didn't have a good knowledge on camera, this is a simple explain about camera [3d/camera](http://cocos2d-x.org/docs/cocos2d-x/en/3d/camera.html?h=camera), you can have a look. and I suggest you to discuss this on http://discuss.cocos2d-x.org/ to get more info.

[2018-01-02 10:20] drelaptop commented on #18599
this is some views
1. didn't occur skips letter on `UIEditBoxTest` of `cpp-tests` project, when I tested on Galaxy S7 Edge, how often did it occur, 1% ,10% or others?
2. I didn't understand the 2nd item, could you explain it more detail.
3. tested 3rd issue on `UIEditBoxTest`, it will delete characters one by one when you hold backspace button.

[2018-01-02 15:13] gamehelphere commented on #17962
Hi @Dimon4eg ,

Thank you for sharing the details of your emulator configuration. With your setup, the bugfix also works on Cocos2d-X apps running with Android emulators and devices using OpenGL 3.

You are welcome! ;D This is my way of helping the Cocos2d-X community. We help each other to advance what we can for the library.

It would be great if this bugfix could be applied to the current and u

[2018-01-02 15:19] Dimon4eg commented on #17962
@gamehelphere maybe create pull request so @minggo will just merge it

[2018-01-02 15:29] gamehelphere commented on #17962
Hi @Dimon4eg ,

Ok, I will try. This is my first time doing a pull request on the current Cocos2d-X 3 sources.

XD

[2018-01-02 15:32] Dimon4eg commented on #17962
Go forward, you can do it ;)

[2018-01-02 16:05] JiekeZhu opened #18602 "When will cc.sys.WECHAT_GAME supporting be added to Cocos2d-JS ?"
As title.

Currently cocos2d-x 3.16 does not have this feature.
Hope you can understand the importance of this feature.
I know this has been supported with CocosCreator v1.8.
But I guess there are a lot of developers just like me using the old version.

BR.

[2018-01-02 16:16] alagiyanirav opened #18603 "liblto_plugin-0.dll: could not load plugin library: The parameter is incorrect."
C:/Users/ob_server/AppData/Local/Android/android-ndk-r16b/build//../toolchains/x86-4.9/prebuilt/wind
ows-x86_64/bin/../lib/gcc/i686-linux-android/4.9.x/../../../../i686-linux-android/bin/ld.exe: error:
 C:/Users/ob_server/AppData/Local/Android/android-ndk-r16b/build//../toolchains/x86-4.9/prebuilt/win
dows-x86_64/bin/../libexec/gcc/i686-linux-android/4.9.x/liblto_plugin-0.dll: could not load plugi

[2018-01-02 17:46] gamehelphere commented on #17962
Hi @Dimon4eg ,

I followed the directions in the **Contributing to cocos2d-x** document under the section **Submitting patches.** I did most of the steps and got stuck with this item.

**Send a “pull request” to user “cocos2d”**

I already have the **my_fix_branch** in my public repository and tried to make a pull request to the cocos2d repository, but that repository is not listed in my dropdown

[2018-01-02 18:53] stevetranby commented on #18546
I think you can just remove all yellows from template, but someone should confirm.
`tools/cocos2d-console/plugins/plugin_generate/bin-templates/cpp-template-default/cocos-project-template.json`

When I do a grep within a `cocos new` root folder I find 8 occurrences of 'HelloCpp' in 6 files.
One of those files is the CMakeList.txt, which should probably also get replacement, but the rest are the 5

[2018-01-02 19:06] stevetranby opened #18604 "Issue N/A (DELETE)"
Nevermind.

[2018-01-02 19:09] stevetranby commented on #18604
Looks like `cocostudio_static` needs this as well. Not sure if/when header files were removed or moved.

[2018-01-02 19:21] #18604 closed, assigned to nobody

[2018-01-02 19:58] gamehelphere commented on #17962
Hi @Dimon4eg ,

I figured out how to make the contribution procedures work. There was a **fork** button on top of the main cocos2d-x project page and I clicked it. The button made a clone of the project in my account and I was able to continue the steps in the command line. New readers of the **Submitting patches** section can think of the fork button as step 0. :)

Thanks for the encouragement, @

[2018-01-02 20:26] renatoaf commented on #17423
@shaniamjad have you ever find a way to reproduce this issue?

We are getting a similar stacktrace on Crashlytics dashboard (iOS mostly) but I couldn't reproduce it yet.

[2018-01-03 01:43] drelaptop commented on #18602
As far as I know it's on schedule, you can get more informations on [Chinese forum](http://forum.cocos.com/) by @ the member
 of `引擎开发团队`, such as __panda__.

[2018-01-03 01:48] drelaptop commented on #18597
@dumganhar will answer questions about AudioEngine days after, for he is quite busy recently.

[2018-01-03 01:49] drelaptop commented on #18588
@dumganhar will answer questions about AudioEngine days after, for he is quite busy recently.

[2018-01-03 08:51] shaniamjad commented on #17423
No @renatoaf, I wasn't able to reproduce this on my side either. But  https://github.com/cocos2d/cocos2d-x/pull/18124 This fixed the issue as after this update crash no longer appeared on crashlytics for live users. So may be you try this patch as well.

[2018-01-03 09:25] Origin-zhao opened #18607 "HelloWord:externalNativeBuildDebug-Unexpected native build target cocos2djs. Valid values are"
- cocos2d-x version:3.16
- devices test on:avd
- developing environments
   - NDK version:android-ndk-r14b
   - Xcode version:
   - VS version:AS3.1
   - browser type and version:

Steps to Reproduce:

1. clicke run button
`org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':HelloWord:externalNativeBuildDebug'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExec

[2018-01-03 12:45] Dimon4eg commented on #17962
Well done!
Sorry for not responding in time

[2018-01-03 16:54] renatoaf commented on #17423
@shaniamjad #18124 seems to change Android audio engine only (specific android related-files), does this fixed your iOS issues as well, or did you update the whole audio code to 3.16 as @dumganhar suggested?

Thanks!

[2018-01-04 02:44] kosmosR2 opened #18608 "[cocos2d-js] Scene from compiled jsc file can't be entered"
- cocos2d-x version:
[code]
- devices test on:
[code]
[code]

Steps to Reproduce:

1. `cocos jscompile -s path/to/src -d path/to/src`
2. `cocos run -p linux/android`
3. Even if you work on the project create by `cocos`  command line tool just now(and sure it works fine before we compile its js code),`main.js` can't take us to `HelloWorldScene`.And no error will be thrown.I can get a instance of `H

[2018-01-04 03:26] gamehelphere commented on #17962
Hi @Dimon4eg ,

No worries. Thank you!

:D

[2018-01-04 05:07] kosmosR2 commented on #18608
I think i catch the error.
When `scene.onEnter()` called,`this._super()` will be called.`TypeError: this._super is not a function` will be thrown in compiled scene file.

[2018-01-04 05:22] kosmosR2 commented on #18608
It works fine if i use `cc.Scene.prototype.onEnter.call(this)` to replace `this._super()`.

[2018-01-04 07:20] kosmosR2 commented on #18608
From line 248 of `cocos2d-x/cocos/scripting/js-bindings/script/jsb_prepare.js`:
[code]
You guys may want use `fnTest.test` to check if the method going to call `this._super`.Maybe this issue will not happen if we compile all jsb code...
But my suggestion is to remove `fnTest.test(prop[name])`.I don't think it is necessary.

[2018-01-04 09:22] Dimon4eg commented on #17962
@minggo please close this issue

[2018-01-04 09:34] Dimon4eg commented on #18558
Similar issue I observe on Meizu MX3 phone

[2018-01-04 11:35] peerobo opened #18609 "Render error when call CCSprite::initWithSpriteFrameName 2nd time"
- cocos2d-x version: 3.17
- devices test on: HTC One (m7)
- developing environments
   - NDK version: r15c
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

The following code call to CCSprite::initWithSpriteFrameName two times, cause an error in rendering.

`ui::Button *bt = ui::Button::create();`
`bt->loadTextureNormal("SpriteFrameA", ui::Widget::TextureRe

[2018-01-04 11:51] Anywhere-Music-Player commented on #18193
@minggo  If I have a design in my game so I can't change `sprite->setBlendFunc`?

Just simple fact: I’m using RenderTexture for some sprites and got artifacts on final image.
I’m not sure, but in some old previous versions I haven’t faced with this problem for same situation with my same game. Other users reported, that cocos v2 has no this problem.
Also, I can’t change blending of sprite to visit

[2018-01-04 14:41] JoHuang opened #18610 "Why not using SocketRocket for iOS while cocos creator is using ?"
As title,

I see so many issues of libwebsocket in iOS platform.
Why not using SocketRocket for iOS while cocos creator is using ?

Thanks,
Jo

[2018-01-05 01:04] minggo commented on #17962
thanks

[2018-01-05 01:04] #17962 closed, assigned to nobody

[2018-01-05 01:37] drelaptop commented on #18609
Could you submit a PR for it? to add a test case like your image shows into `cpp-tests` project -> `45:Node: Sprite` would be better.

[2018-01-05 09:55] peerobo commented on #18609
@drelaptop please check out the PR. Thanks!

[2018-01-05 15:16] ForestRingGames opened #18612 "[cocos2d-x C++] iOS HTTP Client crashing randomly at ~1% of all requests"
cocos2d-x version: 3.16
devices test on: iPad Air, iPad Pro, iPhone 6S
developing environments
NDK version: 16
Xcode version: 9.2
VS version: -
browser type and version: -

Crash type: com.apple.NSURLConnectionLoader  EXC_BAD_ACCESS

Our game is doing some HTTP Requests with our backend at game startup and unfortunately, this does crash sometimes. It's not directly crashing on the HTTP Client's co

[2018-01-06 02:20] glennerichall commented on #17966
I changed the CocosUsePrebuiltLibs.cmake file this way at
https://github.com/cocos2d/cocos2d-x/blob/42c2ff27e097e25879f38174cfd0b431ae85f9ec/cmake/Modules/CocosUsePrebuiltLibs.cmake#L20

    if(WINDOWS)
      if (${MSVC_VERSION} EQUAL 1900 OR ${MSVC_VERSION} GREATER 1900)
        set(_bullet_libs bullet libbullet-2015)
     else()
       set(_bullet_libs bullet libbullet)
     endif(${MSVC_VERSION

[2018-01-06 13:41] ForestRingGames commented on #18599
Thank you, 1) and 3) was indeed partly our fault and the cpp-tests work perfectly. Sorry about this. We've been calling setText on the EditBox and on Android this does reset the cursor to the end. On iOS the cursor is not being reset to the end when doing this. So maybe it's also something that you might want to fix or copy the behaviour from iOS to Android.

About 2)

We're doing this:

```getEdi

[2018-01-06 18:28] EladZucker opened #18614 "TextureRendering doesn't work while using GlobalZOrder"
- cocos2d-x version: 3.16
- devices test on: windows , IOS, OSX
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: VS2017
   - browser type and version:

Steps to Reproduce:
1.  Write  a simple cocos2dx code in a scene that do the following
`	Size winSize = Director::getInstance()->getWinSize();

	CCRenderTexture *rt = CCRenderTexture::create(winSize.width, winSize.he

[2018-01-07 15:21] drelaptop commented on #18599
I review the EditBox code for the question 2, Cocos2dxEditBox.java:
[code]
search Android Docs, the meaning of `TYPE_TEXT_FLAG_NO_SUGGESTIONS` is the same as `EditBox::InputFlag::SENSITIVE`, It's strange to occur that issue

[2018-01-07 15:24] ForestRingGames commented on #18599
@drelaptop Thanks for reviewing, that's very interesting. Do you also see the issue on your Samsung phone with Samsung keyboard even though ```TYPE_TEXT_FLAG_NO_SUGGESTIONS``` should be set?

[2018-01-07 15:29] drelaptop commented on #18599
I should do that, it's better to build a simple Android App only a EditBox on a Activity, and set the `InputType.TYPE_TEXT_FLAG_NO_SUGGESTIONS` to see the difference

[2018-01-07 15:32] ForestRingGames commented on #18599
@drelaptop Okay cool, let me know the results. I'm super curious what happens on your end :)

[2018-01-08 01:29] #18450 closed, assigned to nobody

[2018-01-08 02:36] drelaptop commented on #18602
refer to: http://forum.cocos.com/t/cocos2d-html5-3-16/55119

please close this issue @minggo

[2018-01-08 02:42] drelaptop commented on #18595
please close this issue @minggo

[2018-01-08 03:34] #18595 closed, assigned to nobody

[2018-01-09 01:11] #18602 closed, assigned to nobody

[2018-01-09 14:13] Anywhere-Music-Player opened #18616 "[BUG] PageView - scroll jumps glitch from the end"
- cocos2d-x version: latest commit from github
- devices test on: Mac, iOS
- developing environments
   - Xcode version: 9.2
Steps to Reproduce:

1. Use this code for UIPageViewTest:
[code]
2. Scroll till the end of the list and it jumps! Somewhere in the middle of the list of items:

![giphy](https://user-images.githubusercontent.com/3391456/34724754-b4e92042-f557-11e7-8a88-38be203f491e.gif)

[2018-01-09 14:17] Anywhere-Music-Player commented on #18616
@drelaptop maybe you can help and push it to fix :) ?
First time I've reported about this here http://discuss.cocos2d-x.org/t/pageview-how-to-use/40474/28?u=kamikaze but no attention to this.

[2018-01-10 01:45] drelaptop commented on #18616
got this bug, I will test it using the code you give. and look into it, make a feedback for you in days

[2018-01-11 09:18] drelaptop commented on #18616
You forget to say, to reproduce this bug we need to modify UIPageView.cpp, refer to the discuss page, modify like:
[code]
I can't find the main logic wrong anywhere, not any difference when debug. see your discuss in detail, this bug is related to the size of `PageView `. so I tested different sizes, change the `pageViewSize` from `(209.1, 70.0)` to `(209, 70.0)`, `(209.3, 70.0)`, `(220, 70.0)`, e

[2018-01-11 09:54] Anywhere-Music-Player commented on #18616
Actually I'm using `(210,70)` for one PageView and got not problems(however, not sure if it will work and all resolutions screen sizes, will it be not depends on this?).

And yes, it depends on a size in this case, but something else too, like `ItemsMargin` I think.
But I have another PageView with with (`210, 120`) and it has this bug..

Isn't it feels like somewhere there `ListView` or `ScrollVi

[2018-01-11 10:16] drelaptop commented on #18616
yep, this dependence is really bad. I think the original design didn't consider this way that you prevent the resize and make more than one page item into one page.so it's works well at that time, but not works well after your custom.

You can find this bug and fix it for this feature you want. as for rewriting these components, AFAIK cocos2d-x team have no plan in recent months, might do it in th

[2018-01-11 10:17] Anywhere-Music-Player commented on #18616
@minggo any comments?

[2018-01-12 02:47] gestern opened #18620 "[BUG] Console::loop() consumes 100% of CPU usage"
- cocos2d-x version: **any**
- devices test on: **any**

Steps to Reproduce:
1. Run socket client based of any (for example: `nc`, `telnet` )
[code]
2. Close connection with server via closing a socket `^C` or simulate network disconnection (without `exit` console command).
3. Console::loop starts consuming 100% of CPU, it happening because of one or more of the sockets in`Console` told `select()`

[2018-01-12 03:08] minggo commented on #18616
@drelaptop takes charge of UI now, after he is more familiar with UI system, he can do refactor.

[2018-01-12 04:39] qinning commented on #18188
We have same crash, hope for help.

`_ZN7cocos2d12experimental15PcmAudioService5pauseEv+3
_ZN7cocos2d12experimental19AudioPlayerProvider5pauseEv+20
ZN7cocos2d12experimental15AudioEngineImpl17onEnterBackgroundEPNS11EventCustomE+22
ZNSt17Function_handlerIFvPN7cocos2d11EventCustomEESt5_BindIFSt7_Mem_fnIMNS0_12experimental15AudioEngineImplEFvS2_EEPS7_St12_PlaceholderILi1EEEEE9_M_invokeERKSt9_Any_dataS

[2018-01-12 08:23] xubing opened #18622 "SSL"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2018-01-12 08:23] #18622 closed, assigned to nobody

[2018-01-12 10:37] Anywhere-Music-Player commented on #18616
And why if @drelaptop takes charge of UI now, he seemed to be offering me to fix this bug by myself? That UI system design is very bad by the way.. when using it I'm always struggle with something.. but no other options for now..  Anyway,  I reported this bug, now it's not possible to use PageView in games with this engine, this bug is a nightmare and I can’t use page view at all, because if that.

[2018-01-12 14:42] Gensando commented on #18597
@drelaptop so is there any chance for @dumganhar  to look through this bug?

[2018-01-12 16:26] angelvet opened #18623 "EditBox crash"
- cocos2d-x v3.16:
- NDK version: r12b

Got an crash on one of user devices, unfortunately this is only info I  have:

Android device: Samsung Galaxy Grand Prime (fortunave3g), 1024MB RAM, Android 4.4

`java.lang.IndexOutOfBoundsException`
`android.text.SpannableStringBuilder.checkRange`

StackTrace:

`
at android.text.SpannableStringBuilder.checkRange (SpannableStringBuilder.java:1016)
at android

[2018-01-15 01:29] dumganhar commented on #18597
@APetrovsky , Could you upload `MUS_BGM_Battle_Round1_v1.caf` file?

[2018-01-15 08:08] APetrovsky commented on #18597
Sure

[2018-01-15 08:09] APetrovsky commented on #18597
@dumganhar Sure

[2018-01-15 08:09] Gensando commented on #18597
@dumganhar Sure,
https://goo.gl/eYk5FV

[2018-01-16 06:13] minggo commented on #18620
As you said, it is `This argument is a maximum interval to wait for the selection to complete (according to the POSIX man) not for "wake up"`, so is it any difference to change to 30 seconds?

[2018-01-16 06:17] minggo commented on #18614
Could you please give more codes to reproduce it?

[2018-01-16 07:12] minggo commented on #18614
Oh, i got it. Because render texture uses group command, and it doesn't sorts the commands are added into the group command.

[2018-01-16 07:22] minggo commented on #18614
Oh, it is not, all commands in render group command also been sorted too, so please add a test case to reproduce it. Thanks.

[2018-01-16 09:16] dumganhar commented on #18597
@APetrovsky , thanks. I'm checking the issue.

[2018-01-16 09:39] dumganhar commented on #18597
@APetrovsky , I tested it, but it's hard to reproduce. I didn't find any crashes by using your test code.

[2018-01-16 09:44] Gensando commented on #18597
@dumganhar It crashes randomly, sometimes i caught this after several taps or after about 10 min of tapping.

[2018-01-16 10:16] thanhthien2010 commented on #17985
thanks :D

[2018-01-16 11:28] EladZucker commented on #18614
What exactly do you need as a test case?

I can easily reproduce it with the self-generate HelloWorld cocos2dx project on 3.16.

Just adding this part of the code to the end of the Init function (or any button callback if you wish) and you will see the issue:
[code]

Epected results is that the RenderTexture image will be the same as the one on the screen. added in offest of 50,50 (just to keep th

[2018-01-16 11:39] gestern commented on #18620
No no, maybe you misunderstood me, I meant that there are two things:

1. The code contains an error (I described it at the beginning of the text);
2. There is an obvious improvement in the code (this will not solve the existing problem, but at least it will improve the code). Because using hardcoded constants is always a bad way. My dummy code with 30 seconds - just example.

[2018-01-16 13:00] wlssing opened #18628 "how to recreate Cocos2dxActivity"
1. .in native  i have one Cocos2dxActivity
2.then i jump to another Activity(is not Cocos2dxActivity) may be not one Activity
3.  then  i want to jump the first Cocos2dxActivity,

i know that ios can use method that removed glview and add glview   to do this
 but in android  when i remove glview i find glview thread recreated  then opps bang !!
 there is any method i can sloved this problem

[2018-01-16 13:13] wlssing commented on #18628
i think put glview in windowManger   find crash:
/libcocos2djs.so (_ZNKSt8functionIFbPN7cocos2d13EventListenerEEEclES2_+88)
/libcocos2djs.so (_ZN7cocos2d15EventDispatcher24dispatchEventToListenersEPNS0_19EventListenerVectorERKSt8functionIFbPNS_13EventListenerEEE+1032)
libcocos2djs.so (_ZN7cocos2d15EventDispatcher13dispatchEventEPNS_5EventE+356)
libcocos2djs.so (_ZN7cocos2d15EventDispatcher19dispat

[2018-01-17 01:10] minggo commented on #18614
Thanks, the codes above is what i need. I will try it and give some feedback.

[2018-01-17 02:33] minggo commented on #18614
fixed in https://github.com/cocos2d/cocos2d-x/pull/18629

[2018-01-17 02:41] minggo commented on #18620
Got it, so any suggestion to resolve it? It seems that we should have a good way to detect if the client is closed unexpected.

[2018-01-17 03:09] #18104 closed, assigned to nobody

[2018-01-17 05:45] minggo commented on #18628
Doesn't support to recreate Cocos2dxActivity, i don't know why you need to recreate it. And please discuss it in forum: http://discuss.cocos2d-x.org/.

[2018-01-17 05:45] #18628 closed, assigned to nobody

[2018-01-17 05:48] minggo commented on #18610
SocketRocket only support iOS, we need a cross platform lib. And now iOS and Android both not use libwebsocket by default. You can use it if needed. And you can use SocketRocket if needed too in your game.

[2018-01-17 05:48] #18610 closed, assigned to nobody

[2018-01-17 05:52] minggo commented on #18603
When releasing v3.16, r16+ is not released, so cocos2d-x v3.16 may not work with r16b. You can refer to `cocos2dx_root/docs/RELEASE_NOTES.md` for the ndk version tested with v3.16.

[2018-01-17 05:52] #18603 closed, assigned to nobody

[2018-01-17 05:54] #18584 closed, assigned to nobody

[2018-01-17 05:54] #18575 closed, assigned to nobody

[2018-01-17 05:55] minggo commented on #18574
it is fixed in latest code

[2018-01-17 05:55] #18574 closed, assigned to nobody

[2018-01-17 05:59] minggo commented on #18509
I will close this issue since don't know how to reproduce it and i haven't met it.

[2018-01-17 05:59] #18509 closed, assigned to nobody

[2018-01-17 06:01] minggo commented on #18456
Close it since it is not an issue. Just a misusage.

[2018-01-17 06:01] #18456 closed, assigned to nobody

[2018-01-17 06:02] JoHuang commented on #18610
https://github.com/cocos2d/cocos2d-x/issues/17326
in the thread, it seems SocketRocket is a good solution.
And cocos creator is using it.

What is the default websocket lib used on iOS and Android?

[2018-01-17 06:07] minggo commented on #18610
Oh, my fault, libwebsocket is used, libcurl is not used. If using SocketRocket on iOS, then is there any solution for Android?

[2018-01-17 06:14] JoHuang commented on #18610
We may follow the cocos creator solution.
What is the lib for Android in cocos creator?

I wanna use socket io in my game, but am afraid to use because of so many issues there and not solved for a long time.

[2018-01-17 06:35] minggo commented on #18455
I fixed it in https://github.com/cocos2d/cocos2d-x/pull/18630. Now use travis for iOS, android, linux, and mac, and use appvepor for windows.

[2018-01-17 06:35] #18455 closed, assigned to nobody

[2018-01-17 06:41] dumganhar commented on #18610
Yep, plz use `WebSocket` directly. SocketIO is not improved for a long time and there are lots of issues with it.

[2018-01-17 06:44] dumganhar commented on #18610
@JoHuang

Yep, Cocos creator solution is using https://github.com/facebook/SocketRocket .
The decision needs to be made and the task needs to be scheduled.

[2018-01-17 06:50] JoHuang commented on #18610
@dumganhar
I'm not sure what you mean use Websocket directly.
I thought SocketIO module is protocol based-on Websocket lib.
And libwebsocket or SocketRocket are "Websocket" lib.
The issues mentioned in this repo seems to be "Websocket" lib issue?

My servers are node Socket.io servers (only use websocket protocol) , how can I only use websocket to communicate with my server?
I may need to use the

[2018-01-17 07:35] dumganhar commented on #18610
The client side of socket.io implementation is based on websocket.
Currently, the native SocketIO still has some issues. For example, can't support binary format, can't also re-connect automatically like which on web.

It's possible to implement a simple `room` strategy base on WebSocket protocol.
But your service probably has to use `WebSocket` rather than SocketIO since they are different.
Socke

[2018-01-17 07:55] JoHuang commented on #18610
Is fixing websocket / SocketIO a high priority job here?

[2018-01-17 08:16] frozax commented on #18465
I personally just commented the call `Cocos2dxAudioFocusManager.registerAudioFocusListener(this)` and both calls to `Cocos2dxAudioFocusManager.unregisterAudioFocusListener(this)` in `Cocos2dxActivity.java`.
I'll see if I have crash reports, the update is live.

[2018-01-17 08:29] minggo commented on #18600
I run the test with latest github codes, it seems there is not different using camera or not. But can not scroll it when using camera.

[2018-01-17 08:40] minggo commented on #18453
[The codes](https://github.com/cocos2d/cocos2d-console/blob/v3/plugins/plugin_compile/project_compile.py#L573) will find `xcpretty` but should not cause issue if it is not exist.

[2018-01-17 09:07] hussain-sohaib commented on #18600
There is some serious issue to use orthographic camera and scroll view.
Please run my code and see the issue. If you want i can send screenshots as
well.

On Wed, 17 Jan 2018 at 13:29, minggo <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2018-01-17 09:19] minggo commented on #18600
Yep, i run the codes you provided.

[2018-01-17 09:22] RockJoey commented on #17944
@013ez can you solve your problem by using 3.16? I use the latest one, but can't work.

[2018-01-17 09:23] hussain-sohaib commented on #18600
I have also noticed that scrollview scrolling is very poor if we use camera
on it as in the code. It lags alot. Especially if scrollview contain heavy
animations e.g like spine instances.

On Wed, 17 Jan 2018 at 14:19, minggo <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2018-01-17 14:11] #18453 closed, assigned to nobody

[2018-01-18 01:20] minggo commented on #18614
@EladZucker could you please give some feedback of the PR? Thanks.

[2018-01-18 08:10] dumganhar commented on #18610
@JoHuang , that needs to be decided by BOSS. I'm busying with Creator stuff and technical support.
@minggo , What's the priority of refactoring SocketIO module?
And also when will we take the implementation of WebSocket in Cocos Creator to Cocos2d-x?
Perhaps, @linshun should make a decision for this request which will also benefit for Cocos Creator since lots of developers complain about this modu

[2018-01-18 08:31] dumganhar commented on #18545
@drelaptop is working on CMAKE for all platforms. He may help you. :)

[2018-01-18 08:54] minggo commented on #18610
@dumganhar  I think you can put it in high priority when handle cocos2d-x issues.

[2018-01-18 15:45] kaplad commented on #17260
Hello! :) Any updates @minggo?

[2018-01-18 18:42] Anywhere-Music-Player commented on #18616
@drelaptop Actually I've tested this on cocos2d-x without making changes to it sources. I only changed UIPageViewTest code.

[2018-01-19 01:05] minggo commented on #17260
No, i have not idea with this issue, i think it is something about JSB. @dumganhar any idea?

[2018-01-19 09:57] cristian1980 commented on #17187
In my application I build for: x86:armeabi-v7a:arm64-v8a
However in Firebase I see the following crash on Intel CPU devices like: Hudl 2, Lenovo YB1-X90F, K016, Lenovo YT3-X90F, Lenovo YT3-X90L, Lenovo YB-Q501F, K01N, GT-810, K00E

I seems even if I have a x86 32bit version of the library, it is not used.

[code]
The prebuilt binaries for x86_64 are not available, this can be seen in this folder:

[2018-01-19 13:20] wanglailai commented on #18000
Will this bug fixed at 3.17 version?

[2018-01-19 18:51] tiagomartines11 commented on #18616
@KAMIKAZEUA Can you please check this pull request #18650

[2018-01-19 19:26] Anywhere-Music-Player commented on #18616
@tiagomartines11 Thanks for sharing. It worked as well for one scroll in my game, but for other  pageView with different options - not ideally.
I've same scroll as firstly provided code, but with added new size and time:

[code]

Problem - from left side it's bounces fast like it should -  0.1ms, but from right side - it's very slow, like 0.5ms. Here is result:

![giphy](https://user-images.github

[2018-01-20 10:54] char95 commented on #16652
Same problem for me...
same logs,
and no chance to reproduce it,
only visible on crash logs.

version : cocos2d-x-3.14.1

[2018-01-22 03:00] samge1988 opened #18653 "希望新版加入对android studio 3.x的支持"
升级了as和gradle的版本，libcocosdx不会自动导入到as，也不能Run起来，请问需要怎么配置，谢谢

[2018-01-22 09:24] cristian1980 commented on #18207
In my application I build for: x86:armeabi-v7a:arm64-v8a
However in Firebase I see the following crash on Intel CPU devices like: Hudl 2, Lenovo YB1-X90F, K016, Lenovo YT3-X90F, Lenovo YT3-X90L, Lenovo YB-Q501F, K01N, GT-810, K00E

I seems even if I have a x86 32bit version of the library, it is not used.

[code]
The prebuilt binaries for x86_64 are not available, this can be seen in this folder:

[2018-01-22 14:12] drelaptop commented on #18653
新的 as 工程在 `proj.android` 下，没在 `proj.android-studio` 下，最新版的 as 是可以用的。因为新版本 Android 的 Eclipse 工程被去除了，原 as 的工程就迁到了 `proj.android` 下，正式发布后 `proj.android-studio`  文件夹会消失。

尝试更新 GitHub 最新代码，重新尝试，如果出错，请说明一下操作步骤，截图报错信息

[2018-01-22 21:00] NinjaGah opened #18654 "ClippingNode not working in 3D"
- cocos2d-x version:3.13.1 - 3.16
- devices test on: Windows 10
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Create a BillBoard with VIEW_PLANE_ORIENTED
2. Create a ClippingNode with a stencil
3. Add a sprite to the the ClippingNode
4. Set ClippingNode as a child of BillBoard. The ClippingNode stops working

[2018-01-23 01:49] samge1988 commented on #18653
ok, 3q

[2018-01-24 14:53] deguilardi opened #18655 "Crash on onCreate main activity"
- cocos2d-x version: 3.16
- devices test on: samsung GT-S5310B
- developing environments
   - NDK version: 416b

Steps to Reproduce:

1. compile and run on an old slow device.

Explanation:
The main activity is being destroyed at its very fist run by a "workaround" at Cocos2dxActivity.onCreate line 118.
The matter is that the onDestroy method (line 206) is calling the Cocos2dxAudioFocusManager.unr

[2018-01-24 14:57] tredyfa opened #18656 "安卓播放音效时有明显卡顿"
安卓手机上调用simpleAudioEngine来播放MP3格式音频会导致卡顿，如果调用频繁，卡顿会非常严重。不知道有没有好的解决办法，抑或已经解决？我的cocos2dx版本是3.11.1
~感谢

[2018-01-25 02:23] tankorsmash opened #18657 "[3.17] libtiff.lib Il mismatch between 'P1' version '20130802' and 'P2' version '20100826'"
- cocos2d-x version:
3.17 (pulled v3 as of yesterday)
- devices test on:
win32 on Windows 10
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: v12 VS2013
   - browser type and version:

Steps to Reproduce:

1.  `cocos new CCX_317_Test_2 -p com.TestReplace.CCX_317_Test_2 -l cpp`
2. `cocos compile -s .\CCX_317_Test_2 -p win32 -m release -o .\CCX_317_Test_2\bin`
3. Outp

[2018-01-25 02:26] tankorsmash commented on #18657
Closing for now, as I realized 3.17 isn't out yet.

[2018-01-25 02:26] #18657 closed, assigned to nobody

[2018-01-25 04:32] tankorsmash commented on #18657
Once this happened on 3.16 too, I went and really made sure what I was doing. It turns out I was skipping a step where I didn't run `download-deps.py` properly and ended up copying over the lib from 3.10 instead (which was a mistake).

Once I ran download-deps, the external folder contained the missing libbox2d.sln file which then built the libbox2d.lib I was missing, which works with the current

[2018-01-25 10:53] shaniamjad commented on #17494
I am still getting this crash even after this change. I am using Cocos2dx3.15.1 and i have confirmed that i have the changes of setTimeOut function.
Any ideas why this still be occurring and how it can be fixed? Thanks
@dumganhar @minggo

[2018-01-26 04:54] hazbolaKor commented on #17494
I am using cocos2d-x 3.15.1 and still have the same crash log. Do you have any other solution?

[2018-01-26 04:57] hazbolaKor opened #18660 "audio engine Crashed: AURemoteIO::IOThread"
- cocos2d-x version: 3.15.1
- devices test on: all device ( ios, android )
- developing environments
   - NDK version: android-ndk-r13b
   - Xcode version: 9.2
   - VS version:
   - browser type and version:

Steps to Reproduce:
Fabric crash logs remain

[2018-01-26 13:08] alagiyanirav commented on #18603
Hi Minggo,

Thanks for your reply.

Is there any workaround of this issue?

[2018-01-29 06:21] shaniamjad commented on #17494
@dumganhar  @minggo Daily i am getting lots of crashes. Take a look at the Crashlogs.
http://crashes.to/s/2b2b10177a7
Please help to solve these. Thanks

[2018-01-29 07:05] shaniamjad commented on #18188
Hello guys, I am also getting this crash on my released game. I am not able to reproduce it on my end though but i am sharing crashlytics crashlogs with you guys so it can help you guys to investigate.
Please help as the crash is effecting our LIVE users.
<img width="1333" alt="screen shot 2018-01-29 at 12 04 02 pm" src="https://user-images.githubusercontent.com/6037560/35497598-9a385444-04ec-11e8

[2018-01-29 07:37] drelaptop commented on #18653
@minggo please close

[2018-01-29 08:37] #18653 closed, assigned to nobody

[2018-01-29 08:46] summerinsects commented on #17444
#17586
I met the issue and fixed it via removing `$(LOCAL_PATH)/` in `Android.mk`

[2018-01-29 13:07] #17602 closed, assigned to nobody

[2018-01-30 07:28] xerosugar opened #18666 "Can't play .ogg sound on iOS"
- cocos2d-x version: 3.16
- devices test on: iPhone 6s
- Xcode version: 9.2 (9C40b)

Steps to Reproduce:
I just tried playing it like this:
`AudioEngine::play2d("sounds/sfx.ogg", false, volume);`

Works fine when I try to play the same sound as a .wav file, though.

[2018-01-30 17:19] slackmoehrle commented on #18666
We don't support `.ogg` on iOS, AFAIK. `.mp3` and `.caf` on IOS.

[2018-01-31 11:02] wanglailai commented on #18597
@dumganhar Have you found any solution?  I have met the same issue,  app crashes randomly.

 The crash happened at AudioPlayer.mm  line 295
 <code>alBufferData(bid, _audioCache->_format, tmpBuffer, framesRead * decoder.getBytesPerFrame(), decoder.getSampleRate());</code>

The thread backtrace:
<code>APP(857,0x16df4f000) malloc: *** error for object 0x106813e00: double free
*** set a breakpoint in

[2018-02-01 02:24] deguilardi opened #18667 "cocos gen-libs -pios error"
- cocos2d-x version: 3.17
- devices test on: N/A
- developing environments
   - NDK version: 13b
   - Xcode version: 9.2
   - VS version:  N/A
   - browser type and version: N/A

Steps to Reproduce:

1. run command cocos gen-libs -p ios

ERROR LOG:

** BUILD FAILED **

The following build commands failed:
	CompileC build/cocos2d_lua_bindings.build/Release-iphonesimulator/libluacocos2d\ iOS.build/O

[2018-02-01 02:27] deguilardi opened #18668 "cocos gen-libs -p android error"
- cocos2d-x version: 3.17
- devices test on: N/A
- developing environments
   - NDK version: 13b
   - Xcode version: 9.2
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1. run command cocos gen-libs -p android --app-abi armeabi-v7a

LOG:

Android NDK: WARNING: APP_PLATFORM android-16 is larger than android:minSdkVersion 9 in ./AndroidManifest.xml
[armeabi-v7a] Compile

[2018-02-01 07:47] xerosugar commented on #18666
that's a shame. thanks for the reply.
.wav and .aif can also be used I think.

[2018-02-01 07:56] xerosugar opened #18669 "Wanted: setUniformBool"
- cocos2d-x version: 3.16

(This is more of a feature request than a problem)

I'm just learning how to use shaders with cocos2dx and how to set the uniforms and just thought it'd be nice if GLProgramState had a "setUniformBool" method (e.g. 'setUniformBool(const std::string& uniformName, bool value)') for when you want to set some program condition from outside the shader.
Also, FYI, I just teste

[2018-02-01 10:02] monkey256 opened #18670 "Image can't move smoothly on win32 platform, it always slightly jitters when moving."
- cocos2d-x version:3.15.1
- devices test on:win32
- developing environments
   - VS version:VS2015

Steps to Reproduce:

1. Use the project cpp-empty-test. Then add the following image to the resource.

[k3.zip](https://github.com/cocos2d/cocos2d-x/files/1685020/k3.zip)

2. We can use one of the following two situations to reproduce:
    ①add code to HelloWorld::init()
[code]

    ②add code to He

[2018-02-01 15:43] alagiyanirav opened #18671 "App crash on app startup: Force finishing activity 1 com.demo.app/org.cocos2dx.cpp.AppActivity"
- cocos2d-x version: 3.16
- devices test on: Nexus 4
- developing environments
   - NDK version:  android-ndk-r14b
   - Xcode version: Android Studio in windows 7 64 bit
   - VS version: BA
   - browser type and version: NA

Steps to Reproduce:

1. Compile the project
2.  Open the compiled project in android studio
3. Run the project
4. App crash once installed on the device.

Logcat:

W/linker: l

[2018-02-01 17:04] slackmoehrle commented on #18667
`v3.17`? Are you sure?

I used the `v3` branch just now and things compiled fine. `cocos gen-libs -p ios -m release`

[2018-02-01 17:05] slackmoehrle commented on #18668
v3.17? Are you sure?

I used the v3 branch and compiled the other day. Let me test this out again.

[2018-02-01 17:11] deguilardi commented on #18668
yes, I am sure

$ cocos -v
Python 2.7.10
cocos2d-x-3.17
Cocos Console 2.3

[2018-02-01 17:11] deguilardi commented on #18667
yes, I am sure

$ cocos -v
Python 2.7.10
cocos2d-x-3.17
Cocos Console 2.3

[2018-02-01 19:03] deguilardi commented on #18666
@xerosugar Shame on Apple as it doesn't like open formats. This is not a cocos matter.

[2018-02-01 21:45] slackmoehrle commented on #18668
but 3.17 hasn't been released yet. Must be preparing to release.

I ran this: `$ cocos gen-libs -p android --app-abi armeabi-v7a`

and it was fine:

[code]

[code]

[2018-02-01 21:46] slackmoehrle commented on #18667
[code]

[2018-02-01 23:26] slackmoehrle opened #18673 "latest v3 -> cocos new compiler errors"
- cocos2d-x version: v3.17
- devices test on: ios

Steps to Reproduce:

1. pull latest from github v3 branch
2. `cocos new ...` open the Xcode project.
3. try and run and you will get compiler errors like

<img width="845" alt="screen shot 2018-02-01 at 6 22 06 pm" src="https://user-images.githubusercontent.com/7491758/35708654-1d9dcc8c-077d-11e8-9ea9-da142f172225.png">

[code]

[code]

[2018-02-02 03:28] wanglailai commented on #18597
@APetrovsky Have you get the crash fixed?

[2018-02-02 07:14] piotrros commented on #15367
As far as I know it's not.

[2018-02-02 08:01] Gensando commented on #18597
@wanglailai No, i haven't , but i reduced the possibility of occurring the bug by wrapping OpenAL code that working with buffers (alBufferData, alDeleteBuffers, alGenBuffers, alSourceQueueBuffers) with mutexes. OpenAL guaranty thread safeness but seems not (

[2018-02-02 10:01] crazyhappygame commented on #18673
I propose to extend Travis ci and add "cocos new  " build config for iOS/Mac together with fixing this issue.
I added ci test for "cocos new" for android and win32(there was compilation error as well :) ). Please check appveyor ci for win32 and android "cocos new"

[2018-02-02 10:01] crazyhappygame commented on #18673
I propose to extend Travis ci and add "cocos new  " build config for iOS/Mac together with fixing this issue.
I added ci test for "cocos new" for android and win32(there was compilation error as well :) ). Please check appveyor ci for win32 and android "cocos new"

[2018-02-02 12:49] slackmoehrle commented on #18673
Here is a PR for this: https://github.com/cocos2d/cocos2d-x/pull/18674

[2018-02-03 00:34] unix2dos opened #18675 "No member named '_multisamling' in 'cocos2d::GLViewImpl'"
- cocos2d-x version: 3.17
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[code]

[2018-02-03 01:20] samge1988 opened #18676 "未能找到项目 cocos2d-x\external\Box2D\proj.win32\libbox2d.vcxproj"
- cocos2d-x version: 3.17 仓库最新的代码
- devices test on: win32
Steps to Reproduce:

1. git clone https://github.com/cocos2d/cocos2d-x.git
2. python download-deps.py
3.git submodule update --init
4.new一个新项目后，用vs2017打开报这个错误

[2018-02-03 02:04] drelaptop commented on #18676
I guess you forget to run `setup.py`, and a old version `cocos` existed in your system, please run `cocos -v` to see detail
[code]

[2018-02-03 02:06] drelaptop commented on #18675
see this PR to fix it #18674 , another same issue is #18673

[2018-02-03 23:37] XTC-3 opened #18677 "[cocos2d-x C++] UIButton::setTitleLabel Memory Leak"
- cocos2d-x version: 3.17
- devices test on: simulator
- developing environments
   - NDK version:
   - Xcode version: 9.2
   - VS version:
   - browser type and version:

Steps to Reproduce:

UIButton appears to be leaking memory for me. More specifically _titleRenderer’s retain in Button::setTitleLabel() doesn’t have a matching release.

Removing the retain from Button::setTitleLabel() fixes the

[2018-02-04 04:02] unix2dos opened #18678 "How to add UIViewController in 3.X Project"
- cocos2d-x version: 3.17

I need add a UIViewController in games, how to add UIViewController or replace Scene to UIViewController

[2018-02-04 04:02] #18675 closed, assigned to nobody

[2018-02-04 04:05] unix2dos commented on #18678
@minggo thanks

[2018-02-04 05:26] samge1988 commented on #18676
有setup.py，setup.py之后再new的，是必现的，我又试了一次还是一样(截止2.4仓库最新的代码)，好像是new win32这块改动了吧？

[2018-02-05 08:23] xzben commented on #18656
用AudioEngine 引擎

[2018-02-06 05:55] drelaptop commented on #18676
仓库最新代码，在win7上用vs2015测试了，不存在这个问题。libbox2d.vcxproj 在最新代码中已经没有了，中文讨论建议移步到 中文论坛 http://forum.cocos.com/c/cocos2d-x

[2018-02-06 22:28] deguilardi commented on #18667
more details:

CompileC build/cocos2d_lua_bindings.build/Release-iphonesimulator/libluacocos2d\ iOS.build/Objects-normal/x86_64/select.o /Users/deguilardi/cocosWorkspace/lib-cocos2d/external/lua/luasocket/select.c normal x86_64 c com.apple.compilers.llvm.clang.1_0.compiler
    cd /Users/deguilardi/cocosWorkspace/lib-cocos2d/cocos/scripting/lua-bindings/proj.ios_mac
    export LANG=en_US.US-ASCII

[2018-02-06 22:46] deguilardi commented on #18668
I re-downloaded everything, restarted the computer and re-setted all the environment.

Now it is stuck in this error:
Android NDK: ERROR:/Users/deguilardi/cocosWorkspace/lib-cocos2d/external/lua/luajit/prebuilt/android/Android.mk:luajit_static: LOCAL_SRC_FILES points to a missing file
Android NDK: Check that /Users/deguilardi/cocosWorkspace/lib-cocos2d/external/lua/luajit/prebuilt/android/armeabi/

[2018-02-06 22:53] deguilardi commented on #18668
Check this out!

I ran the command about 20 times, everytime I run it, it goes a little further. It's still crashing the same error, but I guess if I run it 1000x it will compile the intere thing eventually.

[2018-02-07 01:41] deguilardi commented on #18668
I am running this:
cocos gen-libs -p android --app-abi armeabi-v7a --ap android-16

@slackmoehrle I made a fresh install of the v3.16 and now I'm getting the following error:

[armeabi-v7a] Install        : libcocos2dlua.so => libs/armeabi-v7a/libcocos2dlua.so
Building apk...
only build 32bit
running: '/usr/local/Cellar/ant/1.10.1/libexec/ant clean debug -f /Users/deguilardi/cocosWorkspace/lib-coc

[2018-02-07 04:50] deguilardi commented on #18668
@slackmoehrle after rolling back to v3.16 the libraries are created with no errors.
The issue now is on Android Studio, the compiler is giving "undefined reference" to every single cocos symbol

Do you have any clue?

[2018-02-07 05:12] deguilardi commented on #18667
After downgrading to v3.16 everything worked flawlessly.
Android project still not working as reported on #18668

[2018-02-07 13:34] FarotKu opened #18679 "[Bug] Image source for tiled map not found."
- cocos2d-x version: 3-16
- devices test on: PC
- developing environments
   - VS version: Community 2015 Update3
   - Tiled version: 1.1.2

For reproduce put .tsx and .tmx in diffrent directory.

File **CCTMXXMLParser.cpp**; ~430 line:
[code]

When buiding path, need add offset between .tmx and .tsx, for example:
[code]

[2018-02-07 15:51] progsource opened #18680 "[Question] CCRect::containsPoint"
- cocos2d-x version: v3

https://github.com/cocos2d/cocos2d-x/blob/18a6d8241d9a1290bfd6341ea6159877906d780a/cocos/math/CCGeometry.cpp#L176-L187

As issue #2423 was closed as far as I can see with somehow unrelated commits, I simply wanted to ask, if it is really wanted behavior to have an inclusive containsPoint method. My expectation would have been, that it should be exclusive.

[2018-02-07 17:22] slackmoehrle commented on #18668
can you show me a screenshot?

[2018-02-09 07:53] monkey256 commented on #18670
Could you please pay attention to this issue? @minggo  Thanks!

[2018-02-09 14:24] deguilardi commented on #18668
@slackmoehrle to help you, the screenshots are showing that all .a libs where generated, but the libcocos2d.a is empty.

all files generated:
![screen shot 2018-02-09 at 9 20 07 am](https://user-images.githubusercontent.com/16661903/36032113-ee27906a-0d7a-11e8-8a43-8fce83cbb7c7.png)

folder size:
![screen shot 2018-02-09 at 9 22 40 am](https://user-images.githubusercontent.com/16661903/36032134-02

[2018-02-09 15:06] yuriilychak opened #18685 "Removing from stage drop all listeners for GUI elements"
- cocos2d-x version: 3.16
- devices test on: IPhone5s, Samsung Galaxy S6

Steps to Reproduce:

1.  Add button or layout to stage, add click event listener.
2.  Retain button and remove from stage.
3. Add button secondly.
4. Button don't respond to any click events.

I switch from 3.14 version(In this version all work fine).  I have 34 window in game and need to remove them from window layer for st

[2018-02-09 15:10] drelaptop commented on #18668
what I understand is that all the libs is needed for your project. libcocos2d.a is so small, it's not a error, for the main content is in libcocos2dxinternal.a, every other libs have it's meaning.

indeed, it's strange, package all the libs into one single lib is more friendly. the same problem occurs to me, the libs that cmake generated is divided too.

[2018-02-09 15:44] deguilardi commented on #18668
@drelaptop do you know a tutorial to do this s***. Because the official documentation sucks and I am so tired of this.

I am in the point where the libs are generated. All I need to do is import them to my projects.

[2018-02-09 18:24] slackmoehrle commented on #18668
One thing is you can always run `cocos new ...` and use the result as a skeleton for what you want to do. The Android Studio project it creates will have everything done. Just rename it and start adding your source and resources.

[2018-02-09 18:31] deguilardi commented on #18668
@slackmoehrle I have more than 30 projects running on cocos. When I have to compile them, it takes me a day and 180 GB on the disk. As my computer is one of those with 256GB SSD, I have to erase all that repeated stuff every time I finish compiling, so I can still use the computer.

All the methods I tried to use don't work, every single tutorial on the web. Tried also downgrading, cloning github,

[2018-02-09 19:21] slackmoehrle commented on #18668
Yup, we don't have a lot of documentation about using the pre-built libraries for Android/Android Studio. Tutorials from 3rd party sources are likely to fail now-a-days. Google removing the `android` command-line tool is just one example that breaks. There are several discussions on the forums about using pre-builts for Android. Have you looked at those? I'm sorry that pre-builts on Android are no

[2018-02-09 19:22] slackmoehrle commented on #18668
to be sure, you want to run `cocos gen-libs ...` and then use those pre-builts in your Android Studio projects?

[2018-02-09 19:32] deguilardi commented on #18668
@slackmoehrle yes! This is exactly what I need.

Just by downloading and setting up everything is not enough to generate the libs. I had to open the cpp-empty-test and compile the project by calling the gradle task manually before calling the gen-libs script

Now I can generate the libs, but they are not being split by each arch; The "prebuilt-mk/Android.mk" file is also not being generate by the

[2018-02-09 19:35] slackmoehrle commented on #18668
I pulled the latest from `v3` and I ran:
[code]

and it fails with:
[code]

[2018-02-09 19:38] deguilardi commented on #18668
exactly, this is a pain in the ass!! Open the tests/cpp-empty-test project and run the gradle build tasks, so you will have this directory and all files that are missing

[2018-02-09 19:38] slackmoehrle commented on #18668
Can you share with me anything Cocos related in your `.bash_profile`?

[2018-02-09 19:39] deguilardi commented on #18668
[code]

[2018-02-09 20:07] slackmoehrle commented on #18668
You opened up this: `cocos2d-x/tests/cpp-empty-test/proj.android-studio` in Android Studio and executed the build.gradle manually?
<img width="527" alt="screen shot 2018-02-09 at 3 07 19 pm" src="https://user-images.githubusercontent.com/7491758/36047762-fed719a0-0daa-11e8-8104-be7f7bb83031.png">

[2018-02-09 20:18] deguilardi commented on #18668
yes!

[2018-02-09 20:21] slackmoehrle commented on #18668
Hmm, ok, thanks. I tried that work and my build still failed. Did you just use the "build" button?

[2018-02-09 20:28] deguilardi commented on #18668
I double clicked this
![screen shot 2018-02-09 at 3 27 39 pm](https://user-images.githubusercontent.com/16661903/36048604-c7e95cca-0dad-11e8-861b-8e8e81b7f9af.png)

and this:
![screen shot 2018-02-09 at 3 28 07 pm](https://user-images.githubusercontent.com/16661903/36048626-d70c9f0a-0dad-11e8-94eb-74e7d1827e70.png)

[2018-02-09 20:29] deguilardi commented on #18668
But hitting the build button also works, it installed the app on my phone with no problems

[2018-02-09 20:32] slackmoehrle commented on #18668
I've got that building now. Shall see the result soon.

Edit: Yup that works for me.

[2018-02-11 01:42] ForestRingGames opened #18688 "iOS 11 - Random Crash in SwapBuffer at startup"
- cocos2d-x version: 3.17.1
- devices test on: iPhone 6, iPhone 6S, iPhone 6 Plus
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

Our users are facing a crash issue that happens close after starting up the App. It happens only on iOS 11 (not on Android, not prior to iOS 11).

We can not reproduce it on our device

[2018-02-11 02:33] deguilardi commented on #18668
@slackmoehrle what do you mean? Did you make your game run using the generated libs? Or did you just run the cpp-empty-test app on your phone?

[2018-02-11 10:52] shanshan0309 opened #18689 "Failed to build cocos2d-x on x86 due to cmake error: The following variables are used in this project, but they are set to NOTFOUND."
I build cocos2d-x with Visual studio 2017 update2 on Windows Server 2016, but it failed with CMake Error: The following variables are used in this project, but they are set to NOTFOUND. This issue can be reproduced from v3 revision edee972. Could you help have a look about this issue? Thanks in advance!

**Steps to Reproduce:**
1. git clone --recursive https://github.com/cocos2d/cocos2d-x.git D:\C

[2018-02-11 11:34] josemariabooymts commented on #18689
Shan?

On Feb 11, 2018 4:52 AM, "shanshan0309" <notifications@github.com> wrote:

[2018-02-12 01:34] drelaptop commented on #18689
@shanshan0309 thanks for testing the cmake in developing, as the https://github.com/cocos2d/cocos2d-x/commit/edee97278f602512c02ec6f5ffa30d29243930d8 said `V3 android cmake support, add mac/ios support`, not include win32. __cmake support win32 is here__ #18683 , it not been merged yet.

In PR: #18683 ,this error you reported have been fixed, you can merge this PR manually. I have test those chang

[2018-02-12 01:37] drelaptop commented on #18673
@slackmoehrle I think this issue should been closed, for the corresponding PR have been merged

[2018-02-12 06:18] shanshan0309 commented on #18689
@drelaptop, thank you very much for looking into this issue. Meanwhile, thanks for letting me know the progress of this fix.

[2018-02-12 11:48] #18685 closed, assigned to nobody

[2018-02-12 18:17] slackmoehrle commented on #18673
@drelaptop agreed.Closing.

[2018-02-12 18:17] #18673 closed, assigned to nobody

[2018-02-12 18:32] huangwei1024 opened #18690 "listFilesRecursively not correct in win32"
- cocos2d-x version: 3.15.1
- devices test on: win32
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: VS2015
   - browser type and version:

Steps to Reproduce:

`listFilesRecursively(dirPath)` -> `fullPathForFilename(dirPath)` -> `getFullPathForDirectoryAndFilename(dirPath)` -> `isFileExistInternal(dirPath)`

[code]
so `listFilesRecursively` can not get files in di

[2018-02-13 09:05] zhangjiequan opened #18691 "Why remove *.a files for armeabi?"
- cocos2d-x version:3.16

Why remove *.a files for armeabi?
I find that the newest version of cocos2dx has removed *.a files for armeabi under "external" Folder.
Is it means the machine with armeabi cpu can't run this version of cocos2dx game?

[2018-02-13 13:45] slackmoehrle commented on #18668
@deguilardi I will continue making the game run using generated libs and see how I make out.

[2018-02-13 14:45] guilhemvors commented on #17187
I am also looking for x86_64 prebuilt libraries, as android has anounced that future apps will need to have 64bit support for all architecture they targets:

https://android-developers.googleblog.com/2017/12/improving-app-security-and-performance.html

[2018-02-13 14:48] guilhemvors commented on #18207
I am also interested in cocos supporting x86_64 bit architecture (and not just having the x86_32bits fallback), as android devs have said that apps will need to have 64bit support to be submitted to the store:

https://android-developers.googleblog.com/2017/12/improving-app-security-and-performance.html

[2018-02-13 17:11] guilhemvors commented on #18207
here is a workaround to build external prebuilt libraries:
http://discuss.cocos2d-x.org/t/android-support-for-x86-64-architecture/41434

[2018-02-14 10:06] #17858 closed, assigned to nobody

[2018-02-15 09:26] drelaptop commented on #18691
ABI | Supported Instruction Set(s) | Notes
-- | -- | --
armeabi | ARMV5TE and laterThumb-1 | Deprecated in r16. Will be removed in r17. No hard float.
armeabi-v7a | armeabi Thumb-2 VFPv3-D16 Other, optional | Incompatible with ARMv5, v6 devices.

use armabi-v7a might be the better choice, see this https://developer.android.com/ndk/guides/abis.html

[2018-02-17 16:04] guysherman opened #18692 "Linker issue with tinyxml2 - undefined reference to '__stdoutp'"
- cocos2d-x version: 3.16
- devices test on:
- developing environments
   - NDK version: Android Studio 2.3.3, NDK r11c
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. Build the entire project with Android studio (so that it builds all the C++ with NDK)

When linking libcocos2djs.so:

[code]

For now I've just changed tinyxml to not refer to stdout, but

[2018-02-18 13:16] Lafko opened #18694 "Can not complete compilation for Android"
- cocos2d-x version: 1.8.1
- devices test on:
- developing environments
   - NDK version:  26.0.2
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

I can not compile standart Hellow World! to Android

[native.log](https://github.com/cocos2d/cocos2d-x/files/1734742/native.log)

[2018-02-18 17:09] #18694 closed, assigned to nobody

[2018-02-20 20:40] crazyhappygame opened #18695 "[regression] RenderTexture - does not work on android and win32"
- cocos2d-x version: 3,16 and latest from github
- devices test on: Sony Xperia T (Android 4.3), HTC Desire C (Android 4.0), Samsung Galaxy S6,
- developing environments
   - NDK version: 14b cocos2d-x 3.16, ndk16b latest from github
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  Download (or build) latest Android/win32 cpp-test
Android:
https://ci.ap

[2018-02-20 20:47] crazyhappygame commented on #18695
@minggo It is critical regression. Could you fix it in 3.17?

[2018-02-21 11:35] remolive opened #18696 "Missing Cmake references"
Hi! I'm trying to build a cocos2d-x3.17 project on Ubuntu 16.04.
What I did:

Then I got:

    Building mode: debug
    running: 'cmake -DCMAKE_BUILD_TYPE=Debug -DDEBUG_MODE=ON ..'

    -- The C compiler identification is GNU 4.9.4
    -- The CXX compiler identification is GNU 4.9.4
    -- Check for working C compiler: /usr/bin/cc
    -- Check for working C compiler: /usr/bin/cc -- works
    -- De

[2018-02-24 01:33] drelaptop commented on #18696
just copy this file `cocos2d-x-root/cmake/Modules/CocosBuildSet.cmake` into the correspond cmake dir on new project. the reason is `CocosBuildSet.cmake` is a new file, cocos-console din't copy it when `cocos new`, it's a mistake.

@minggo I remember that you said cocos-console will auto update after the new added file is merged

[2018-02-24 02:36] minggo commented on #18696
I just merged https://github.com/cocos2d/cocos2d-x/pull/18687, i think it is ok now.

[2018-02-24 02:36] #18696 closed, assigned to nobody

[2018-02-24 16:26] crazyhappygame opened #18697 "cocos2d::JniHelper::* long type convert error"
- cocos2d-x version: cocos2d-x.3.16, latest
- devices test on: All android devices
- developing environments
   - NDK version: any
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.  Call function cocos2d::JniHelper::* with type long i.e.
[code]
Bug:
Result of this function call is undefined ... (incorrect value passed to java on my device)

In Java type j

[2018-02-26 01:54] xerosugar opened #18698 "calling label->getFontDefinition()._fontName does not return correct font name"
- cocos2d-x version: 3.16
- devices test on: windows
- developing environments
MS Visual Studio Community 2013

Steps to Reproduce:
Label* txt = Label::createWithTTF("some text", "fonts/KomikaSlick.ttf", 12, Size::ZERO, TextHAlignment::LEFT);
auto name = txt->getFontDefinition()._fontName;

// name will always be 'Helvetica'

[2018-02-26 16:55] Anywhere-Music-Player commented on #17754
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCLabel.cpp#L1106

Same here, this feature hasn't been implemented. In cocos2d-iphone I've used it a lot.
Now in my game I can't.

@minggo @dumganhar @zilongshanren @CocosRobot @walzer @pandamicro @yinjimmy @drelaptop @slackmoehrle

[2018-02-27 03:20] haomingge opened #18699 "crash about AudioEngine uncacheAll"
- cocos2d-x version: 3.8.1
- devices test on:windows
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:2013
   - browser type and version:

Steps to Reproduce:

1.
![default](https://user-images.githubusercontent.com/5342730/36708836-02459126-1bb0-11e8-9185-36d93d78a94a.png)

2.
![default](https://user-images.githubusercontent.com/5342730/36708860-16901cdc-1bb0-11e8-9

[2018-02-27 09:42] rameshkumarit1990 opened #18701 "After Phone call events EVENT_HIDE & EVENT_SHOW not triggering"
- cocoscreator version: 1.6.2
- devices test on: IOS
- developing environments
   - NDK version: 16

Steps to Reproduce:

1. While user is playing game (if user receives a call) after ending  call/facetime game gets stuck , unable to trigger EVENT_HIDE & EVENT_SHOW.
cc.game.on(cc.game.EVENT_HIDE, function () {
        if (G.Game.state == G.GameManager.State.Run && (G.Game.pauseMenu.active == false

[2018-02-27 17:19] crazyhappygame commented on #18695
@slackmoehrle Could you ask developers to fix this regression?

[2018-02-27 19:22] xerosugar opened #18702 "Suggestions/Requests for PhysicsBody"
- cocos2d-x version: 3.16
- devices test on: PC
- developing environments
   - VS version: VS Community 2013

1. It would be nice if PhysicsBody had functions for getting minX/maxX + minY/maxY.
2. Functions for checking how much force is being applied to the body (for when you want to make something break when something heavy is resting on top of it, for example).
3. Functions for checking width/h

[2018-02-27 23:38] Anywhere-Music-Player opened #18704 "Support of Bitcode"
Why it's isn't supported?

[2018-02-28 00:01] Anywhere-Music-Player commented on #18616
@drelaptop @tiagomartines11 any news :) as you see from right part scroll has wrong duration - it's very slow, but should be 0.1sec, like from left side. Specially in my game, for special size list it's even more.. looks very weird..

[2018-02-28 03:08] deguilardi commented on #18688
duplicated: #18510

[2018-02-28 15:30] deguilardi opened #18705 "OpenGL error 0x0502 on Android Emulator"
- cocos2d-x version: 3.16
- devices test on: emulator pixel 2xl
- developing environments
   - NDK version: r16b

Steps to Reproduce:

1. Call ParticleSystemQuad::create( "ANY_PALIST_FILE" );

You will see a black screen and a bunch of the error below every second
`02-28 15:25:19.608 18887-18932/com.guilardi.conectaletra D/cocos2d-x debug info: OpenGL error 0x0502 in /Users/deguilardi/cocosWorkspa

[2018-02-28 16:08] #17386 closed, assigned to nobody

[2018-03-01 10:05] stephenhurry opened #18706 "tweenfunc::easeOut is incorrect"
Please study this: http://www.cnblogs.com/cocos2d-x/archive/2012/03/15/2398516.html

As a mirror of easeIn, _**s(t) = t<sup>r</sup>**_, easeOut should not be **_s(t) = t<sup>1/r</sup>_**.
Instead it should be **_s(t) = 1 - (1 - t)<sup>r</sup>_**. This resultant behaviour is more realistic to the desired one.

That say, the function `tweenfunc::easeOut` should be corrected as:
[code]

[2018-03-01 15:16] mikehay opened #18708 "memset Undefined When Android MinSdkVersion is 21"
Description

We have been using cocos2d-x successfully in our Android build, with minSdkVersion set to 19 in our Gradle build files. cocos2d-x builds and runs well. When we change the minSdkVersion to 21 (we need to do this) cocos2d-x no longer builds.

Environment
- cocos2d-x version: cocos2d-x-3.15.1
- devices test on: Google Pixel
- developing environments
   - NDK version: 16.1.4479499
   - An

[2018-03-01 20:35] gbrsh commented on #17946
Same problem here when trying to set a long string in ui::Text.

[2018-03-02 01:38] drelaptop commented on #18708
This is a header file include issue, it caused by NDK version update. the latest code in Github have supported NDK r16, so I suggest you make changes refer to the Github corresponding resource code

[2018-03-02 09:54] stephenhurry opened #18709 "Suggestion: update third party webp library to v0.6.1"
- cocos2d-x version: v3.16

The webp library that cocos2d-x has been using is v0.5.0 and is outdated, please consider to support the latest version for sake of performance. Thank you.

[2018-03-02 15:36] mikehay commented on #18708
Thanks for the suggestion. I will look at latest.

[2018-03-02 16:36] guilhemvors commented on #18225
I have the same problem using mp3 (I am using the latest 3.16 branch):

#00 pc 000000000001d714  /system/lib64/libc.so (abort+120)
#01 pc 000000000008ce88  /data/app/com.XXX.YYY-LTSl0qb0PS1Xonhwu7L1Uw==/lib/arm64/libclang_rt.asan-aarch64-android.so (__sanitizer::Abort()+60)
#02 pc 0000000000092d40  /data/app/com.XXX.YYY-LTSl0qb0PS1Xonhwu7L1Uw==/lib/arm64/libclang_rt.asan-aarch64-android.so (__sani

[2018-03-03 02:29] ShuraLiu commented on #14297
play2d is async, we can not get duration immediately after it. In my project I changed some code and if the audio file is preloaded before calling play2d, I can get duration immediately. But I can not find a way to fix the problem for non-preloaded files.

[2018-03-03 02:34] rh101 commented on #14297
Perhaps a callback should be added to for the game to hook into that gets called when the audio file has been loaded, and is ready for a call to getDuration.  At least then the game won't end up in some strange state because of an incorrect getDuration value.

[2018-03-04 05:37] 3442853561 opened #18711 "Suggestion: Rust language bindings"
I think if cocos2d-x have Rust language bindings it will more easy to use, as well as I can help with this job

[2018-03-05 01:02] Nyrio opened #18712 "RenderTexture::setVirtualViewport() misses a lot of pixels and has wrong offset"
- cocos2d-x version: 3.16
- devices test on: Windows 10
- VS version: Visual Studio Enterprise 2017

I wanted to capture a part of my scene with a code similar to the following (the design resolution is 1920*1080):

    unsigned int SIZE_X = 960;
    unsigned int SIZE_Y = 540;
    unsigned int POS_X = 100;
    unsigned int POS_Y = 100;

    RenderTexture* texture = RenderTexture::create(SIZE_X, SI

[2018-03-05 07:38] Fredmomo opened #18713 "CC_SYNTHESIZE syntax error"
- cocos2d-x version: 3.16
- devices test on: ios
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. using CC_SYNTHESIZE macro giving syntax error in xcode
 the error is "unknown type name" "C++ requires a type specifier for all declarations"
2. here's code:
`CC_SYTHESIZE(float, _energy, Energy);
    CC_SYTHESIZE(

[2018-03-05 08:06] #18713 closed, assigned to nobody

[2018-03-05 14:32] guilhemvors commented on #17494
@dumganhar @minggo

We are also seeing this error on our side (we are on 3.16):

[code]

even with the fix

[2018-03-05 16:37] guilhemvors commented on #17494
@dumganhar @minggo

We are playing lots of sounds at the same time, and what we see is that we get some :

`Fail to play XXX.caf cause by limited max instance of AudioEngine.`

usually everything wokrs fine, but sometimes we get the aforementionned crash.

When it happens, there are a lot of thread waiting:

[code]

I don't know if it has an incidence, or if it is a factor for the bug to happen. W

[2018-03-05 16:47] guilhemvors commented on #17494
looks like other people are reporting this crash on ios:

https://stackoverflow.com/questions/32946766/ios-audiotoolbox-crashes

[2018-03-05 18:18] v1993 commented on #16355
Is there any progress in this direction?

[2018-03-05 18:35] v1993 opened #18714 "Dead roadmap"
It looks like trello roadmap (https://trello.com/b/Np6obnuE/cocos2d-x-roadmap) isn't updated long time. What is current plans? Where can I find it?
You probably should remove that link from README.md

[2018-03-05 22:42] mikehay commented on #18708
Issue is not resolved with latest cocos2d-x source, but ... Issue is resolved by updating Gradle settings to use
[code]
instead of
[code]

This issue may be closed.

[2018-03-06 01:15] drelaptop commented on #18708
thanks please close this issue @mikehay

[2018-03-06 14:57] #18708 closed, assigned to nobody

[2018-03-06 16:09] trimax-items commented on #18714
I think they will focus on javascript.

[2018-03-07 18:24] slackmoehrle commented on #18714
We now use GitHub for what Trello used to do for us.

[2018-03-07 18:26] slackmoehrle commented on #18695
@crazyhappygame The engineering team will look at this as time permits. They are very busy at the moment.

[2018-03-07 20:48] trimax-items commented on #18714
@slackmoehrle Can you please post the exact github link where we can see roadmap?

[2018-03-08 02:45] #18714 closed, assigned to nobody

[2018-03-08 02:58] drelaptop opened #18717 "CMake need to improve, record ideas"
- cocos2d-x version: latest in github

- [x] 1. `info.plist` is always created when `-GXcode`, it's bad friendly for custom `info.plist`

    - can't find a method to solve this for now, most cmake use template info.plist

- [x] 2. iOS target and macOS can't be in one project, some complex for switch

    - cmake didn't support, see: https://gitlab.kitware.com/cmake/cmake/issues/17805

- [x] 3. wr

[2018-03-08 07:33] TurnOffNOD commented on #18530
@Priority10 Hi, the SSL certificate on cocos2d-x.org expires again.
And excuse me for disturbing here, I don't have an account on discuss.cocos2d-x.org.

[2018-03-08 08:16] minggo commented on #18530
@TurnOffNOD thanks, you can create an account to report it in future.

[2018-03-08 08:53] v1993 commented on #18714
There is still trello link in README.md, please reopen.

[2018-03-08 13:30] Anywhere-Music-Player commented on #18709
@minggo I'm using webp for all my res, this update is really good.

[2018-03-08 14:28] Anywhere-Music-Player commented on #18709
Also, TP already updated to it:

![screen shot](https://user-images.githubusercontent.com/3391456/37156045-9d39195c-22ed-11e8-942e-e137b81b0e1a.png)

[2018-03-09 00:55] slackmoehrle commented on #18714
We use GitHub milestones now

[2018-03-09 07:15] shanshan0309 opened #18720 "Cocos2dx failed to build on x64 due to the error C2338: JS_STATIC_ASSERT"
**Environment:**
Windows Server 2016 + VS2017 Update 5 + cocos2d-x v3 branch latest srouce code

We tried to build cocos2d-x on Windows. It failed to build on x64 due to error C2338: JS_STATIC_ASSERT. **Could you please help take a look at this? Thanks in advance!**

**Steps to Reproduce:**
1. git clone --recursive https://github.com/cocos2d/cocos2d-x.git D:\Cocos2dx\src
2. Open a VS 2017 command

[2018-03-09 08:30] retrobrain opened #18721 "TransitionCrossFade not working on iPhoneX"
- cocos2d-x version: 3.16
- devices test on: iPhone X, iPhone X Sumulator
- developing environments
   - Xcode version: 9.2

Steps to Reproduce:
1. Set the design resolution to 2048x3072 with FIXED_WIDTH as resolution policy
2. Replace running scene with crossfade transition.
3. The app gets to an assert in RenderTexture and closes:
`CCASSERT(glCheckFramebufferStatus(GL_FRAMEBUFFER) == GL_FRAMEBUF

[2018-03-09 09:19] drelaptop commented on #18720
cocos2d-x didn't supply proper external x64 libraries for windows, I suggest you to build 32bit application on windows.

[2018-03-09 19:49] crazyhappygame commented on #18717
What about cmake and cocos2d-x-3rd-party-libs?

[2018-03-09 20:30] crazyhappygame opened #18723 ""cmake.exe -E copy_if_different is called 11x times" for the same files"
- cocos2d-x version: latest
- devices test on: win10
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2017 Comunity
   - browser type and version:

Steps to Reproduce:

1. cd cocos2d-x
2. mkdir b
3. cd b
4. cmake ..
5. cmake --build .

Bug:
At the end of TemplateCpp 11x times is called cmake.exe" -E copy_if_different for the same file
"C:\Program Files\CMake\bin\cma

[2018-03-09 20:32] crazyhappygame commented on #18723
@drelaptop Could you check it?
Could you switch Travis Mac/iOS and Appveyor build to use cmake?

[2018-03-10 15:57] drelaptop commented on #18723
thanks for feedback, I will check and fix it

fixed in this commit  https://github.com/cocos2d/cocos2d-x/pull/18722/commits/a31ef36f42c0ae3371d10a13bf4edea908a834ae of #18722

[2018-03-10 16:08] drelaptop commented on #18717
It's a good idea to let cmake support 3rd-party-libs finally. We can finish it in the future, but I have no plan to do it recently.

[2018-03-10 22:48] hussain-sohaib opened #18724 "Issue with StringUtils::format ... output string is truncated"
- cocos2d-x version: 3.17 (latest git version)
- devices test on: iPhone6s+

 std::string transactionId = "1000000372857082" ;
    std::string productId = "com.qwech.appleeeee.qqleoeerrb";
    std::string receiptData = "MIIUBAYJKoZIhvcNAQcCoIIT9TCCE/ECAQExCzAJBgUrDgMCGgUAMIIDpQYJKoZIhvcNAQcBoIIDlgSCA5IxggOOMAoCAQgCAQEEAhYAMAoCARQCAQEEAgwAMAsCAQECAQEEAwIBADALAgELAgEBBAMCAQAwCwIBDwIBAQQDAgEAMAsCARAC

[2018-03-10 22:58] hussain-sohaib commented on #18724
out put from debugger

paramString: {"transaction_id":"1000000372857082","product_id":"com.qwech.appleeeee.qqleoeerrb","receipt":"MIIUBAYJKoZIhvcNAQcCoIIT9TCCE/ECAQExCzAJBgUrDgMCGgUAMIIDpQYJKoZIhvcNAQcBoIIDlgSCA5IxggOOMAoCAQgCAQEEAhYAMAoCARQCAQEEAgwAMAsCAQECAQEEAwIBADALAgELAgEBBAMCAQAwCwIBDwIBAQQDAgEAMAsCARACAQEEAwIBADALAgEZAgEBBAMCAQMwDAIBCgIBAQQEFgI0KzAMAgEOAgEBBAQCAgCOMA0CAQ0CAQEEBQIDAa59MA0CAR

[2018-03-11 11:40] crazyhappygame commented on #18723
Thank you

[2018-03-11 11:41] crazyhappygame commented on #18695
@slackmoehrle Thank you!

[2018-03-11 13:34] hussain-sohaib commented on #18724
@drelaptop @minggo @dumganhar  please have a look at this issue. It is critical!

[2018-03-12 12:10] sbelloz opened #18725 "FileUtils::listFiles does not work on Android"
- cocos2d-x version: 3.16
- devices test on: Nexus 5, OnePlus 5
- developing environments
   - NDK version: any

Steps to Reproduce:

1. Calling `FileUtils::getInstance()->listFiles("path/folder)` returns always an empty vector

Files exist. I've tried with relative and absolute paths but with no success.

Similar issue described here: [http://discuss.cocos2d-x.org/t/full-path-to-directory-not-to-

[2018-03-12 14:43] MyZeD commented on #18395
Maybe it help you to copy "external/linux-specific/fmod/prebuilt/64-bit/libfmod.so" to "/usr/lib/libfmod.so" and set a Symlink to "/usr/lib/libfmod.so.6"

[2018-03-12 22:42] lalaphoon commented on #17424
@minggo if my old cocos project (created from 3.4) doesn't have proj.android-studio, is it okay to copy and paste from where it has one (like a project created in 3.16)?

[2018-03-13 01:27] shanshan0309 commented on #18720
Thanks for looking into this issue, @drelaptop. But cocos2dx supported x64 on Windows before. So is  it because of code changes  recently that cannot support x64?

[2018-03-13 01:29] drelaptop commented on #18395
please check your `external/` path, did you run this script `download-deps.py`?

if cmake found fmod success in `external/` path, it won't execute `FindFMOD.cmake` script.

[2018-03-13 01:39] drelaptop commented on #18720
I think cocos team didn't have enough time to keep the support the x64 on windows, and keep support x86 is enough to develop mobile platform game. I haven't heard some one develop a popular x64 Windows game using cocos2d-x.

[2018-03-13 01:45] hussain-sohaib commented on #18724
@drelaptop @minggo @dumganhar please have a look at this issue. It is critical!

[2018-03-13 01:58] drelaptop commented on #18724
@hussain-sohaib  Cocos2d-x code is all sources, as you said the logic on 3.14.1 version is right, error occurs on latest version on github. So I suggest you write a simple test case, then debug it using 3.14.1 version and github latest version to find the bug. I think comparing the difference between both version is a good idea, you will success

[2018-03-13 06:25] cirosantilli commented on #18395
Sorry, I can't work on this at the moment, I'll close for now and reopen if I get back to it.

[2018-03-13 06:25] #18395 closed, assigned to nobody

[2018-03-13 07:15] jiaojianhua commented on #18395
Hi Ciro,

Please change your mail name, it will hurt this maillist.

[2018-03-13 07:25] cirosantilli commented on #18395
@jiaojianhua does it show somewhere public or just on your private mailbox?

If admins explicitly tell me to change it, I will start contributing with a separate account.

I'm not actively working on this anymore in any case.

[2018-03-13 08:57] shanshan0309 commented on #18720
Thanks for your confirm

[2018-03-13 09:37] drelaptop commented on #18720
you are welcome, please close this issue @shanshan0309

[2018-03-13 11:35] xrubio opened #18726 "setGLProgramState resets ProgressTimer position"
I have found an issue where using a Shader is messing with the position of the ProgressTimer class (only).
I have a sprite with a bunch of children (one ProgressTimer and a list of other Sprites). The base sprite is added to a Layer:
[code]

I apply a Shader to the entire set of nodes by iterating through the children. If I reset later the GLProgram then the ProgressTimer's position is reset to th

[2018-03-13 12:06] rh101 opened #18727 "Warning message appearing in logs caused by ui::ScrollViewBar::onEnter"
- cocos2d-x version: 3.16
- devices test on: Win32
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: 2017
   - browser type and version:

Steps to Reproduce:

1. Add a ui::ScrollView to a scene, push the scene into the stack, then pop it back.
2. This warning comes up in the logs every time the scene is popped back:

            "warning: don't update it again"

It i

[2018-03-13 13:41] slackmoehrle opened #18728 "Outdated version of uthash"
- cocos2d-x version: master +

Cocos2d-x is using an out-dated version of [uthash](https://github.com/troydhanson/uthash). Some users are wondering if this is causing issues with `Scheduler` in 3.16+

http://discuss.cocos2d-x.org/t/potential-problem-in-cocos2d-scheduler/41839

[2018-03-14 01:32] #18720 closed, assigned to nobody

[2018-03-15 01:54] drelaptop commented on #18723
corresponding PR have been merged, please close this issue @crazyhappygame

[2018-03-15 07:33] #17371 closed, assigned to nobody

[2018-03-15 07:33] #17584 closed, assigned to nobody

[2018-03-15 10:18] umair6 commented on #16414
I am also facing this issue in my game.

[2018-03-15 15:50] hutaocheng opened #18732 "cocos compile could not work on win7+codeblocks environment"
- cocos2d-x version:3.15.1
- devices test on:win7
- developing environments
   - NDK version:
   - Xcode version:
   - VS version: but codeblocks 16.1
   - browser type and version:

Steps to Reproduce:

1.  cocos new HelloWorld -p game.cocos2dx
2.  cd HelloWorld
3.  cocos compile -p win32
it warn me Visual Studio not installed while I had MinGW(in codeblocks setup directory)
4 cocos compile -p an

[2018-03-15 17:25] crazyhappygame commented on #18723
Thank you work fine!

[2018-03-15 17:25] #18723 closed, assigned to nobody

[2018-03-15 22:12] crazyhappygame commented on #18717
@drelaptop Once again great job!
I reviewed current implementation below my comments:
1. Add CI travis/appveyor build for cmake mac/win32
Without that sooner or later something will stop working for cmake

2. Remove from cocos2d-x\cmake\Modules files Find*.cmake which are delivered with cmake by default (e.g. FindCURL.cmake)
CMake installation will have more upto-date version.

3. Remove duplicate

[2018-03-16 01:24] chenyu0532 commented on #18732
you can try to download VS，then try it again

[2018-03-16 01:35] drelaptop commented on #18732
I have replied in the Chinese Forum [here](http://forum.cocos.com/t/gcc-helloworld/57457/4?u=2627993092), Cocos2d-x didn't support CodeBlock, please use Visual Studio 2015 for Cocos2d-x 3.15.1. The IDE of C++ is too much, we can't supply every IDE's project files.

In the latest Github Code, we are trying to support CMake in every platform, so our developers can use the IDE that CMake supported.

[2018-03-16 02:43] drelaptop commented on #18717
@crazyhappygame thank you for so detail suggestion, I like you.

1. Add CI travis/appveyor build for cmake mac/win32

    Not need do it now. we should do that after the cmake can replace the older build system. I hope in 3.17 the cmake and older build system both works well.
2. Remove from cocos2d-x\cmake\Modules files Find*.cmake

    Good idea, I will do that in the next days
3. Remove duplicat

[2018-03-16 03:10] pjdd opened #18735 "cocos2dx 3.16 ETC1 + ALPHA"
- cocos2d-x version:cocos2dx 3.16
- devices test on: Android
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1. I create ImageView  by  using  texture etc1 + alpha ,the  imageview can't display the alpha texture, but   in cocos2dx 3.15    is  ok  , the  engin  changed ?
2.

[2018-03-16 03:20] stephenhurry commented on #18724
That shouldn't be the problem of `StringUtils`. Is the JSON string output from `rapidjson`? Make sure you use the flag `rapidjson::kParseStopWhenDoneFlag` when you are parsing large JSON files.

[2018-03-16 03:26] hussain-sohaib commented on #18724
If you check i am making json string not parsing it. Previously StringUtils
has been modified in version 3.16 and those changes has created the issue.

On Fri, 16 Mar 2018 at 08:20, ichinfungi <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2018-03-16 12:40] SBJoker opened #18736 "Time to time app crashes in CameraBackgroundDepthBrush::drawBackground"
- cocos2d-x version: 3.16
- devices test on: iPhone 6s
- developing environments
   - NDK version: 14b
   - Xcode version: 9.2

Steps to Reproduce:

1. Game uses BMFont or Spritesheets is needed
2. Enable Malloc Scribble and Malloc Guar Edges and Malloc Stack
 in target's scheme
![bug-2](https://user-images.githubusercontent.com/1650848/37521032-4872c29e-2930-11e8-994b-26ef0de8b305.png)
3. Run and

[2018-03-16 13:59] mer23 opened #18737 "Achieving 'desktop-like' scroll functionality with ListView"
- cocos2d-x version: 3.16
- devices test on:  ubuntu 16.04
- developing environments
   CLion 2017.3.4

I'm unable to achieve desktop look and behavior for a ListView when it comes to scrolling. Touch functionality does work out of the box, but as soon as I disable touch (I only want scroll to happen by dragging scrollbar or using the mouse's scroll wheel) there's no way to scroll.

Thanks in adva

[2018-03-16 19:13] crazyhappygame commented on #18717
ad1. I was thinking about adding new cmake CI configuration (old CI configs should stay unchanged)

[2018-03-16 19:56] SBJoker commented on #18736
I saw VAO support was added last time, looks like something wrong with buffers.

[2018-03-16 20:15] crazyhappygame commented on #18736
Similar crash is for android:
Asus ZenPad 3S 10 (Z500M) (P027)
Acer Iconia Tab 10 (acer_asgard)
[code]

[2018-03-16 23:31] saumyamukul opened #18739 "Edit box text overlaps caps icon"
- cocos2d-x version: 3.16
- devices test on: Simulator iPhone 8
- developing environments
   - NDK version: N/A
   - Xcode version: 9.1
   - VS version: N/A
   - browser type and version: N/A

Steps to Reproduce:

1.  Go to EditBoxTests in cocos cpp tests
2. Increase the size of the password edit box (it is set to 6 initially) and type till the string occupies the entire box.
3. Turn on caps lock

[2018-03-18 05:24] Bilalmirza commented on #18737
You can implement it on your own... use onMouseScroll method

[2018-03-18 09:13] mer23 commented on #18737
@Bilalmirza I know I can do that. The question is why no out-of-the-box behavior exists for mouse/wheel like there's for touch devices.

[2018-03-18 21:34] crazyhappygame commented on #18717
Could you at least add Travis CI test build for android with prebuilds?
i.e. 3 new projects
[code]

[2018-03-19 06:13] Bilalmirza commented on #18737
@mer23 I know what you mean ... There should be a out of the box solution for this... I had to implement this for my game as well.. But cocos2d-x is more focused to mobile development so don't expect this coming inbuilt soon.

[2018-03-19 06:54] drelaptop commented on #18724
@hussain-sohaib https://github.com/cocos2d/cocos2d-x/pull/18425 this PR in 3.17 Milestone modified the `StringUtils::format`, review or revert that changes might do some help for you.

[2018-03-19 09:47] halx99 commented on #18724
@hussain-sohaib
I have test it on VS2017, The result is correct.
[code]

[2018-03-19 09:56] hussain-sohaib commented on #18724
Please copy the console output here and please test it on iPhone using
xcode.

On Mon, 19 Mar 2018 at 14:47, halx99 <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2018-03-19 09:58] hussain-sohaib commented on #18724
Please use the exact code that I wrote initially and then test.

On Mon, 19 Mar 2018 at 14:56, Sohaib Hussain <sohaib.hussain7@gmail.com>
wrote:

--
Best Regards
Sohaib Hussain

[2018-03-19 10:08] halx99 commented on #18724
OK, let me check continue.

[2018-03-19 10:18] halx99 commented on #18724
I think i know what happen.

[2018-03-19 10:43] halx99 commented on #18724
@hussain-sohaib please see the PR: https://github.com/cocos2d/cocos2d-x/pull/18741, it will fix this issue.

[2018-03-19 10:52] hussain-sohaib commented on #18724
Ok let me test and i will update you soon.
Thanks

On Mon, 19 Mar 2018 at 15:43, halx99 <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2018-03-19 10:55] halx99 commented on #18724
@hussain-sohaib Thanks for your report.

[2018-03-19 11:12] hussain-sohaib commented on #18724
Yes this has fixed the issue.
Thanks

On Mon, 19 Mar 2018 at 15:55, halx99 <notifications@github.com> wrote:

--
Best Regards
Sohaib Hussain

[2018-03-19 11:26] halx99 commented on #18724
You are welcome, sorry for my late to notice this issue.

[2018-03-20 02:36] #18724 closed, assigned to nobody

[2018-03-20 03:09] pengyansheng opened #18742 "LuaMinxXmlHttpRequest::——sendRequest Memory Leak"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

if(!response->isSucceed() )
{
//xxxxx

//add
release();
return;
}

[2018-03-20 06:14] halx99 commented on #18735
please see ralative PR: https://github.com/cocos2d/cocos2d-x/pull/18260

[2018-03-21 01:52] hutaocheng commented on #18732
@drelaptop
I see that the last cocos2dx version is 3.16, is makefile supported in this version?

[2018-03-21 03:11] drelaptop commented on #18732
3.16 not, the coming cocos2d-x 3.17 support cmake on Windows/Mac/Linux, you can refer to https://github.com/cocos2d/cocos2d-x/blob/v3/cmake/README.md

but we didn't consider MinGw on Windows, so it's possible to use CodeBlock on Ubuntu by CMake generated, Visual Studio is the only IDE on Windows we supported.

[2018-03-21 08:59] netunlimited commented on #13773
Still exists in 3.16 as well.

[2018-03-21 09:11] Kingurus commented on #17996
Hi @dumganhar, I am having the same problem on S8+ with cocos2d-x 3.15. I did not try the patch suggested by @nicolechen819 because my original AudioEngine-inl.cpp is different than the one in the patch. Should I?  Here's the last part of the log, it is happenning very often (about once every 10mins). My game plays 1x 10s sound and about 8x <1s sounds (mp3):
03-21 10:41:41.744 17764-17800/com.terr

[2018-03-21 09:31] kyriakos89 opened #18743 "TextureAtlas::drawNumberOfQuads crashes"
Hi guys! We are using cocos2d-x v3.15 and we have a very big issue with the following crash (top 2nd crash). We can't reproduce it but based on our Crashlytics report, it is happening to thousands of users every month, on different model phones and ios versions.

![screen shot 2018-03-21 at 11 25 45 am](https://user-images.githubusercontent.com/8600099/37702328-d5ebc832-2cfa-11e8-9e5c-25e0b1e3967a

[2018-03-22 03:01] drelaptop opened #18744 "Repeat CallFunc for some times, but never stop"
- cocos2d-x version: latest in GitHub

[code]
isn’t this supposed to write out “hey” 10 times? it never stops…

Forum thread: http://discuss.cocos2d-x.org/t/repeat-action-what-am-i-doing-wrong/41990

[2018-03-22 03:30] drelaptop commented on #18744
Adding `_total++;` after the `if` block will solve this question, it's a bug for `Repeat` `ActionInstant `

https://github.com/cocos2d/cocos2d-x/blob/6317e35f01383943202517d639456299e9eb1bec/cocos/2d/CCActionInterval.cpp#L541

final code block
[code]
 what's the meaning to repeat a Instant Action with no interval?

[2018-03-22 07:42] fresair commented on #17171
After using @SBJoker's solution, problem still exit.

[2018-03-23 05:23] HHvarni commented on #16863
generate apk file in android studio show error------>Error:error: ld returned 1 exit status

[2018-03-23 05:24] HHvarni opened #18747 "generate apk file in android studio show error------>Error:error: ld returned 1 exit status"
- cocos2d-x version:
- devices test on:
- developing environments
   - NDK version:
   - Xcode version:
   - VS version:
   - browser type and version:

Steps to Reproduce:

1.
2.

[2018-03-24 02:23] xxy8075 commented on #18020
@minggo  This problem is very serious,our game have 1500w downloads，Many users report that power consumption is serious,We will never use cocos2d-x again

[2018-03-24 07:20] kkafas commented on #18020
We managed to solve partially the issue by modyfing internally cocos2d-x. A static boolean variable controls cocos main draw function and is set as false by default. It is set to true only if some label, sprite, node etc must be drawn. e.g. to achieve this for a sprite we set variable to true if its position, opacity, color etc change in the respective setter functions. It’s a big change as many f

[2018-03-24 13:14] trimax-items commented on #18020
This is serious. It may even lead to a ban of cocos2d-x games by apple.

[2018-03-24 18:08] deguilardi commented on #18342
Having the very same problem here

[2018-03-24 18:28] deguilardi commented on #18342
after reading this:
https://issuetracker.google.com/issues/36931073

I concluded there is nothing that can be done but a workaround
Then I applied this:
http://discuss.cocos2d-x.org/t/background-music-loop-on-android/22519/4

And now everything works fine!

[2018-03-25 14:13] formatCvt commented on #18000
confirm bug on cocos2d-x version 3.16 too

[2018-03-25 21:44] slackmoehrle commented on #18020
@kkafas can you share what you modified so I can take a look?  And did you test with 3.16 or the latest from `master` and is utilization less now from your screenshots above?

[2018-03-26 15:11] huachangmiao opened #18749 "support of specular map"
- cocos2d-x version: 3.16
how to make materials support specular map?

[2018-03-27 10:41] Bilalmirza commented on #16561
@minggo will this get fixed?

[2018-03-27 10:44] Bilalmirza commented on #16561
@Kotaiba were you able to fix this?

[2018-03-27 10:51] Kotaiba commented on #16561
@Bilalmirza  no , this is not cocos2d bug .
For me i made 3 sizes for mac and the user can change between them and full screen is not one of them .  view->setWindowed(1136 ,640);

[2018-03-28 03:33] playscforever commented on #18073
@minggo why？

[2018-03-28 06:06] drelaptop opened #18754 "libfmod.so.6 symlinks lost when package a version"
when I clone the __cocos2d-x-3rd-party-libs-bin__ repo, the link keep:
[code]
but when I download the depend external libs by download-deps.py, link lost:
[code]
the `lrwxr-xr-x` was changed to `-rwxrwxrwx`, and then using tools/make-package/git-archive-all to generate a cocos2d-x package.

so it will cause symlinks error when  using the cocos2d-x package on Linux:

related PR: https://github.com/

[2018-03-28 07:08] Bilalmirza commented on #16561
@Kotaiba thanks!

[2018-03-28 13:20] slackmoehrle commented on #18754
What version of Linux are you using?

[2018-03-28 13:25] drelaptop commented on #18754
Ubuntu 16.04，soft link information is lost on Mac too. but it only have a bad effect on Linux build, for fmod libs is only used on Linux platform.

so that our developers have to make a soft link manually on linux, when build and run using cocos2d-x __zip__ package

[2018-03-28 13:30] slackmoehrle commented on #18754
Interesting. I am running 16, 17, 18 and I don't have this issue. My build works correctly. Are you doing anything special during your build?