[2015-11-12 15:34] pixmaster opened #14375 "[js_bindings] Not received userData in JS from cpp CustomEvent (v3.6-3.8)"
Dispatch event from cpp:

[code]

Listen event in JS:

[code]

_event.getUserData() returns undefined.
And in jsb_cocos2dx_auto.cpp not declared js_cocos2dx_EventCustom_getUserData, maybe need to add?

[2015-11-13 01:12] ljoaquin opened #14376 "Is there any guide about continuous collision detection??"
I saw 2 APIs are used in DEmo. setCcdMotionThreshold() and setCcdSweptSphereRadius(), the description in header is not good enough to explain what they do.
I can not find anything about these APIs on the Forum. I really want to know the appropriate value of the params.

[2015-11-13 02:22] jasonz1987 commented on #14370
最重发现是某个sdk不适配导致的，但是上面那几句代码还是需要的～

[2015-11-13 03:43] semgilo opened #14378 "Scale9Sprite opacity cant change when I setState gray"
cocos2dx 3.6
for example:
local img = ccui.ImageView:create()
img:loadTexture("test.png")
img:setState(1)
img:setOpacity(50)

the img opacity is 255
50 expected

[2015-11-13 05:32] ideath4 commented on #14059
Hello, i have a same problem, do u find any solution?

[2015-11-13 07:13] saeedakhter commented on #14059
Not much progress to report.  There is a blog post here about how to get cocos2d-x working on Win10 (but it does not mention cocos2d-JS)

https://blogs.windows.com/buildingapps/2015/06/15/running-cocos2d-x-on-windows-10/

I did manage to get the example C++ cocos2d-x project to build and run following the instructions in that blog post.  However, I have not investigated what it would take to get a

[2015-11-13 07:16] pandamicro opened #14380 "[Web] UITextField not working in iOS9 QZone browser"
In iOS 9 QZone browser, UITextField can't prompt input keyboard

[2015-11-13 07:46] zeamais commented on #14380
EditBox 我在使用过程中遇到一个问题， 在UC浏览器上，如果添加了事件监听，则在上面无法输入数字。如果没添加事件监听，则可以输入数字。

[2015-11-13 07:53] zeamais opened #14381 "EditBox 在UC浏览器上无法输入数字的一个问题"
EditBox 我在使用过程中遇到一个问题， 在UC浏览器上，如果添加了事件监听，则在上面无法输入数字。如果没添加事件监听，则可以输入数字。

[2015-11-13 08:23] wayne5ning commented on #8305
The problem still exists on version 3.8.1 jsb.
When it's returned from another activity, e.g. from share, in app purchase, ads, instantly created (on the first frame) label is rendered as a black box. Label created on the next frames is rendered correctly.

### the following is rendered as a black box:

[code]

### the following is rendered correclty.

[code]

[2015-11-13 09:17] davewang opened #14382 "cocos command no clean android ndk build"
cocos command  no clean android ndk build.

[2015-11-13 18:16] livelite opened #14383 "Mac simulator doesn't run in 3.9 beta:"
[code]

[2015-11-14 02:07] livelite opened #14384 "showFPS:false but FPS still displayed in 3.9 beta"
In project.json:

[code]

FPS still displayed when game runs

[2015-11-14 14:23] pengbn opened #14386 "AssetsManagerEx has memory leak."
We should release _downloader object int AssetsManagerEx::~AssetsManagerEx().

[2015-11-14 14:24] pengbn commented on #14386
We should release _downloader object int AssetsManagerEx::~AssetsManagerEx().

[2015-11-14 15:28] pandamicro commented on #14386
_downloader是一个shared_ptr，会随着AssetsManagerEx的销毁而被销毁，自动释放_downloader的内存

[2015-11-14 15:28] #14386 closed, assigned to nobody

[2015-11-14 15:40] pandamicro commented on #13678
It's done

[2015-11-14 15:40] #13678 closed, assigned to nobody

[2015-11-14 16:11] stammen commented on #14059
We have not added support for JavaScript for Windows 10 UWP. The work is currently not scheduled at Microsoft.

The following libs need to be ported to Windows 10 UWP
1) SpiderMonkey (Windows 8.1 source is at https://github.com/MSOpenTech/Spidermonkey)
2) libjscocos2d
3) JavaScript app templates for Windows 10 UWP

[2015-11-14 22:03] michaelcontento opened #14387 "Version 3.8.1 is a branch and not a tag"
I'm a bit confused as `3.8.1` is only a branch in git an not a tag -- is this on purpose or by accident?

[2015-11-14 22:11] michaelcontento commented on #14387
Oh, and it seems that `3.9beta0` is released[1] but the tag is missing aswell. It would be nice if this could be sorted out, as it would allow to diff around and see what happend in details :)

[1] http://discuss.cocos2d-x.org/t/cocos2d-x-3-9-beta0-released/24507

[2015-11-15 07:38] 120910383 opened #14389 "UI::PageView::scrollPages中除了判断_touchMoveDirection外还需要处理_autoScrollDirection"
重现方法，设置PageView滚动方向为垂直滚动，创建后不要触发touch事件，那么_touchMoveDirection将一直为初始值，此时调用scrollToPage，最终会进入scrollPages函数，而其内部仅仅对_touchMoveDirection进行判断，而没有处理_autoScrollDirection，导致滚动方向bug
版本为官网3.8.1正式版

[2015-11-16 00:34] WhiteLionGame opened #14390 "FontAtlas ReferenceCount problem ??"
I do not know why the increase ReferenceCount.

code :

[code]

why ReferenceCount ++2 ?
I think ReferenceCount ++1..

[2015-11-16 04:52] yue19870813 commented on #12121
What's the status of the issues?

[2015-11-16 05:54] saiy2k opened #14392 "MenuItemFont not working in Android: v3.8.1"
I am working with Cocos2dx-js version 3.8.1

The MenuItemFont and MenuItemImage click functions are not invoked, but MenuItemToggle is working.

This issue happens only in Android. In web, it all works perfectly fine.

[code]

Forum Link: http://discuss.cocos2d-x.org/t/menuitemfont-not-working-in-android-v3-8-1/24923

[2015-11-16 08:10] dehlen commented on #13237
Any news on this one ? I also ran into this problem and would love to see a fix here.

[2015-11-16 09:32] jonnyijapan commented on #11671
I think it's confusing that there is a font parameter to this function in the first place. A system font should be just that, the default system font. We should not specify a font in such a case. Unless there is something like "Label::createWithDefaultSystemFont()" but I don't think there is.

[2015-11-16 09:36] pandamicro opened #14397 "[WEB] iOS UIWebView (WeChat) back from background will crash app"
1. In Wechat, open a page with Cocos2d-JS webgl render mode
2. share during game process
3. crash can be reproduced frequently while returning back to game from sharing view

Tencent provided a crash log

![wechat_1447661792](https://cloud.githubusercontent.com/assets/632460/11178526/5bfe4f78-8c88-11e5-880b-bfe7e1764022.png)

Basically, it can be reproduced in any app with UIWebView and a webgl pa

[2015-11-16 09:38] pandamicro opened #14398 "[WEB] Cross origin image was ok in v3.6, but not working in v3.8 +"
Should compare `cc.loader.loadImg` implementation between these two version and test.

[2015-11-16 12:14] fangshuai0119 opened #14400 "android 退出activity后，下次如何进行cocos2dx AppDelegate的重新初始化"
我现在进入Cocos2dxActivity后进行了一次初始化，然后就结束了当前的activity，当我再次进入activity的时候，还是上次我进行的操作，我现在应该如何进行初始化呢

[2015-11-16 13:20] netunlimited commented on #10527
A similar gap on Android occurs when using the setFinishCallback to play a next sound. On iOS this works fine, on Android there is a noticeable bigger gap in between the sounds.

[2015-11-16 13:59] xpol opened #14401 "UIEditBox not aligned when the text been selected."
As the follow picture shows, before select (left), it works fine.
Then I select the text, the  "select cut copy paste" toolbar shows, and it pushed the UIEditBox down (right).

![uieditbox](https://cloud.githubusercontent.com/assets/20248/11183525/2b5f7b7e-8cad-11e5-81fa-4200185dad3e.png)

I have tested under Android 5.1.1 (Mi note with original Android 5.1.1 ROM.)

[2015-11-16 14:04] netunlimited commented on #14297
Interesting info @piotrros, I wonder if that is intended behaviour (probably not since this issue is now filed as "bug").

[2015-11-16 14:11] zilongshanren commented on #14401
@xpol
This is a bug related to ROM. I have no idea how to resolve it.

[2015-11-16 14:41] xpol commented on #14401
@zilongshanren But why other apps works well? And this bug also show on my friend's Android phone.

I think it should not be the ROM's bug.
![screenshot_2015-11-16-22-37-49](https://cloud.githubusercontent.com/assets/20248/11184526/3036c002-8cb3-11e5-9a03-ea12a8abe2b4.png)

[2015-11-16 19:34] slackmoehrle commented on #14387
Thanks. We shall check into this. @pandamicro can you create these tags? What is Eddy's GitHub ID?

[2015-11-16 23:48] zilongshanren commented on #14401
@xpol  Try to position your EditBox lower near the bottom of your screen and see what happens.

[2015-11-17 03:22] zilongshanren commented on #14070
@firefly2442
How could I test your code?

What kind of Linux distribution should I have?
I have Ubuntu, but it doesn't complain about the sqlite3 dependency.

[2015-11-17 03:41] zxzAndyMAC opened #14406 "android上游戏从后台切换回到前台或者从第三方应用切回来,ttf字体有时候出现纹理丢失"
引擎版本：3.7
使用ui组件：UIText
ccs：1.6

android上游戏从后台切换回到前台或者从第三方应用切回来,ttf字体有时候出现纹理丢失导致部分字体无法显示，非必现，但出现概率还是挺高，求解决方案，魅族4，三星s6都出现这样问题，概率高, 原生系统也会出现

[2015-11-17 03:52] sianzain opened #14407 "cc.RotateTo arg 2"
![image](https://cloud.githubusercontent.com/assets/11533618/11202307/ada6c2ee-8d21-11e5-84bc-ba97e9cc3a44.png)

[2015-11-17 03:53] sianzain commented on #14407
jsb_create_apis.js

[2015-11-17 08:00] fangshuai0119 opened #14411 "android jni 中，如何释放AppDelegate"
android jni 中，如何释放AppDelegate

[2015-11-17 08:30] #14355 closed, assigned to nobody

[2015-11-17 08:49] zxzAndyMAC commented on #14406
fixed in v3.8

[2015-11-17 08:49] #14406 closed, assigned to nobody

[2015-11-17 09:04] michaelcontento commented on #14387
Tags are now present - thanks a lot!

[2015-11-17 09:04] #14387 closed, assigned to nobody

[2015-11-17 11:30] arthurwoo opened #14413 "CCActionNode的疑问"
[code]

在cocos2d-x/cocos/editor-support/cocostudio/CCActionNode.cpp的256-260行 循环里面的j是不是应该改为k？

[2015-11-17 13:11] JustVic commented on #13237
I sent commit with partial fix to this #13288

[2015-11-17 13:39] frranck commented on #13494
@ZhangMenghe Still not fixed... :(

[2015-11-17 15:48] WenhaiLin commented on #14339
Fixed at https://github.com/cocos2d/cocos2d-x/pull/14414

[2015-11-17 19:48] firefly2442 commented on #14070
@zilongshanren try this:

On Ubuntu, uninstall the `libsqlite3-dev` package.  This package contains the header file for sqlite.  Delete the CMake cache to clear out any old settings (or just delete your build folder contents).  By not having this sqlite dependency, CMake should fail and give an error but it doesn't.  CMake completes successfully and generates a solution.  Then, when you try to bui

[2015-11-18 02:19] sianzain opened #14416 "ccs.AnchorPointFrame 沒有實作補間"
Html 5
ccs.AnchorPointFrame
沒有實作補間

[2015-11-18 03:30] #14374 closed, assigned to nobody

[2015-11-18 03:35] SongCF commented on #14374
resolved:
my bad, java call native method not in the GL thread.

[2015-11-18 03:53] SongCF opened #14418 "about spidermonkey's source code"
For some reason, we need spidermonkey's source code which version in cocos2d-x.
When we search at repo 'cocos2d-x-3rd-party-libs-src', but not found. And download at  [Ricardo Quesada's Spidermonkey fork](https://github.com/ricardoquesada/Spidermonkey), found so much different from cocos2d-x release.
![qq 20151118114924](https://cloud.githubusercontent.com/assets/3910887/11232133/9d40d59c-8dea-11e

[2015-11-18 04:14] xpol commented on #12044
I was planing to implement a multiline text editing control with cursor support on top OpenGL (based on TextField).

Then I saw [this discuss](http://discuss.cocos2d-x.org/t/what-do-you-hate-most-in-terms-of-editbox-and-textfield/22436).

So I tested the latest 3.9 code find no cursor at all.

The solution is to roll my own.

PS: @zilongshanren Would please add update to that discuss maybe ~~strik

[2015-11-18 04:44] 0xJimmyBeh commented on #12044
@xpol

Check this if you interesting on textfield cursor support
https://github.com/cocos2d/cocos2d-x/pull/13903

[2015-11-18 04:56] livelite commented on #14383
Fixed in 3.9 release

[2015-11-18 04:56] #14383 closed, assigned to nobody

[2015-11-18 04:57] livelite commented on #14384
Fixed in 3.9 release

[2015-11-18 04:57] #14384 closed, assigned to nobody

[2015-11-18 05:36] xpol commented on #12044
@Zinitter Thank you for you information.

[2015-11-18 05:36] zilongshanren commented on #12044
@xpol

The TextField cursor support is not finished. And the PR is still pending due to merge conflicts.
If someone could continue the work with #13903, I will merge the code.

[2015-11-18 05:42] xpol commented on #12044
@zilongshanren Thank you.

[2015-11-18 05:47] zilongshanren commented on #14401
@xpol
Any updates? I suggest you to try other Android devices and to see whether it is still a issue or not.

Since the Android ecosystem has a  high degree of market fragmentation, so it's very hard to keep the behaviors the same on all the platforms, especially on some OS makers in China.

[2015-11-18 06:04] xpol commented on #14401
I have also tested under Huawei G601, same issue, so I can say (as in original Google Android ROM 5.1.1 and custom Huawei ROM 4.2.1 all have this issue) it is not a bug related to ROM.

I currently my workaround is disable action bar for UIEditBox.

in `frameworks/cocos2d-x/cocos/platform/android/java/src/org/cocos2dx/lib/Cocos2dxEditBox.java`:

[code]

I'm not android developer, but I think we sh

[2015-11-18 06:09] zilongshanren commented on #14401
Thanks, @xpol
Does this patch works well for others Android devices and different OS verions?
If so, I will merge your code.

[2015-11-18 06:12] xpol commented on #14401
@zilongshanren This is just a workaround, I want to fixes the problem.
I'm sure someone must wan't the action bar to be shown.

[2015-11-18 06:19] zilongshanren commented on #14401
@xpol
Um.. I will do some research.

[2015-11-18 06:34] zilongshanren commented on #14389
Could you try the latest code in the v3 branch.
The new PageView implementation is totally changed. Now it inherit from ListView and it also adds PageView indicator which I think is very useful.

[2015-11-18 06:35] zilongshanren commented on #14389
@120910383
please next time use English here.
If the issue is still exists on the v3 branch, feel free to reopen this issue.
Thanks.

[2015-11-18 06:35] #14389 closed, assigned to nobody

[2015-11-18 06:37] zilongshanren commented on #14411
What do you mean by releasing AppDelegate?

What's your use case here and what do you want to achieve?

I suggest you to discuss it in the official forum.

[2015-11-18 06:37] #14411 closed, assigned to nobody

[2015-11-18 06:37] zilongshanren commented on #14381
@zeamais
Do you mean the H5 version of EditBox?

[2015-11-18 06:40] zilongshanren commented on #14365
@tioalexis-indigo
The current implementation of UIRichText is badly designed and not even complete.
We are considering to rewrite the whole in the Label level, like adding BBCode feature to `cocos2d::Label`.

[2015-11-18 06:43] zilongshanren commented on #14378
@semgilo
Does this issue still exists in the latest v3.9 version?

[2015-11-18 06:44] zilongshanren commented on #14370
@jasonz1987
I think it's not needed.  But anyway, if you still have issue with EditBox keyboard animation, feel free to reopen.

[2015-11-18 06:44] #14370 closed, assigned to nobody

[2015-11-18 06:45] zilongshanren commented on #14357
@yuyangame
Which engine version do you use?

[2015-11-18 06:46] zilongshanren commented on #14332
@SongCF
I see, I will correct this, Thanks. :+1:

[2015-11-18 06:47] pandamicro commented on #14418
The source code is in Riq's repo. The header files was generated from it.

The current version we are using for Cocos2d-x is SpiderMonkey v33:

https://github.com/pandamicro/Spidermonkey/tree/v33

[2015-11-18 06:47] zilongshanren commented on #14323
So what's the problem does this line cause?
Could you provide a more concise example?
It seems the code is wired, but I still don't know what happens.

[2015-11-18 06:49] zilongshanren commented on #14289
@sianzain
Could you give the latest v3 code a try?
I have rewrite the whole scale9sprite, now it doesn't use 9 separate sprite any more.

[2015-11-18 06:50] zilongshanren commented on #14288
@1078559858
This issue exists mainly because Label doesn't support deep copy.

[2015-11-18 06:54] shkertt commented on #14323
嵌套的layout，开启剪切时子layout剪切区域的原点y在父layout剪切区域下面时间要调整到和父layout的y一样 。这里写成x了。

[2015-11-18 06:54] #14323 closed, assigned to nobody

[2015-11-18 06:54] zilongshanren commented on #14251
@1078559858
the current implementation of RichText is badly designed and we don't have any plan to continue improving it. We are planning to rewrite the RichText.

[2015-11-18 06:54] #14251 closed, assigned to chengstory

[2015-11-18 06:56] #14418 closed, assigned to nobody

[2015-11-18 06:59] zilongshanren commented on #14323
@serhtt  why close the issue...

[2015-11-18 07:02] zilongshanren commented on #14286
@milos1290
Could you provide an example to reproduce this issue?

[2015-11-18 07:06] #14332 closed, assigned to nobody

[2015-11-18 07:21] xpol commented on #12335
@pandamicro

This is very boring, just move these function body to cpp would fixes this.
Do it please!

Orz

[2015-11-18 07:26] zilongshanren commented on #12335
@xpol
I think it's the best time for you to contribute :smile:

[2015-11-18 07:43] sdelaysam opened #14422 "Crash on Android when reopen Cocos2dxActivity"
I'm using cocos2dx for single game activity inside Android app.
When activity is created, it starts director with single scene.
When activity is about to close, it ends director.
When terminateProcessJNI() is called by android GLView implementation, I finish activity instead of shutting down the whole android process.
But when I start that game activity again, it crashes.
I'm using logcat + ndk-st

[2015-11-18 09:49] xpol commented on #12335
Here we go #14423

[2015-11-18 10:17] zeamais commented on #14381
是的，cocos2d-js3.61

[2015-11-18 14:38] Johncdy commented on #9577
I have reproduce this issue recently, I'm using old version cocos2dx(v3.1), can you help me to slove this problem? I want to know why it cause random crash.

[2015-11-18 18:16] gestern opened #14424 "SIGABRT signal on iOS 6 when using the `AssetsManagerEx` class"
I was tasted this on several devices (iPhone4, iPhone5s, iPhone6, iPad Air) but only iPhone4 with iOS 6.1 is catches the error, all other devices had > iOS v7 and didn't have `SIGABRT` signal. So, the problem is in `CCDownloader-apple.mm:257`:

[code]

The output:

[code]

If you would like to get an error, let's try standard using of `AssetsManagerEx` class:

[code]

[2015-11-18 19:31] eldaranne opened #14425 "AudioThreadPool race condition on Windows."
_Version_
- v3.8

_Description_
- On Win32, the threads from the AudioThreadPool are created detached, this causes a possible race condition where the AudioEngineThreadPool can be destroyed and threadFunc() tries to lock _queueMutex. Since the object has been destroyed, threadFunc then crashes because it tries to access a non-existent object.

_Question_
Is there a reason to create them detached o

[2015-11-18 21:29] sdelaysam commented on #14422
Looks like a leak in CCFrameBuffer.
This pointer never get released.

[code]

Also, it cached here

[code]

I changed DTOR like

[code]

and it finally works.

And i made changes in Director DTOR.

[code]

Could you guys review that?

[2015-11-19 06:18] zeamais commented on #14381
@zilongshanren
是的，cocos2d-js3.61

[2015-11-19 06:40] kcisoul opened #14428 "CCRenderTexture does not work properly on some devices which do not support "GL_OES_packed_depth_stencil"."
Some android devices which do not support "GL_OES_packed_depth_stencil" will draw white box for CCClippingNode. To make it work CCRenderTexture should make two render buffers for stencil and depth.

[2015-11-19 08:54] xpol opened #14431 "llvm::convertUTF16ToUTF8String() should not assert(Out.empty())"
As in here:

https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/blob/v3/ConvertUTF/ConvertUTFWrapper.cpp#L102

The first line of llvm::convertUTF16ToUTF8String() body:

[code]

Should removed and modify to:

[code]

The function does not require the Out string to be empty as it resize the Out string later.

[2015-11-19 08:59] xpol commented on #14431
@minggo

[2015-11-19 10:06] sbrednikhin opened #14434 "Need to create CocosStudio widget and adapt it's size by binary data or node tree."
CSLoader ::createNodeWithVisibleSize now gets only file name as argument.
I need to create node and adapt it's size by binary data or node tree.
I think that this functionality would be helpful for other developers too.

[2015-11-19 12:47] 1scaR1 opened #14436 "Scale9Sprite opacity broken"
If set opacity of scale9sprite just after it's creation, it would't be set.
This bug reproduces after #14263.
Test code is simple:

[code]

P.S.
It seems to me that after moving logic of creating slices to visit function, opacity of scale9sprite is not updated.

[2015-11-19 14:14] sbrednikhin opened #14437 "New label features (spacing, leading, kernings, line height) are strongly needed in Cocos Studio editor."
In cocos2d-x version 3.9 there are lots of features that not supported by CocosStudio editor.
Label line spacnig/leading, kernings, and line height are strongly needed by GUI designers.
Also, it would be great to see enabling/disabling of cascade coloring and opacity.

[2015-11-19 14:41] xpol commented on #14401
@zilongshanren
Tested and worked the answer is `windowActionModeOverlay` see #14438.

[2015-11-19 15:37] xpol opened #14439 "iOS contextual prediction not work with TextField."
iOS [contextual prediction](http://www.imore.com/quicktype-keyboards-ios-8-explained) not work with TextField:

![image](https://cloud.githubusercontent.com/assets/20248/11274704/071199ea-8f15-11e5-833a-faf23893bada.png)
## Steps
1. in iOS 8 or above, focus on a TextField to make keyboard shown
2. switch to English (US) keyboard, by tap the globe icon
3. tap globe icon (again) and hold and make su

[2015-11-19 17:12] milos1290 commented on #14286
[code]

[2015-11-20 02:07] zilongshanren commented on #14436
@1scaR1
Thanks, I will check this issue.

[2015-11-20 02:09] zilongshanren commented on #10435
@Dimon4eg Since it is duplicated, I will close this one and let's try to fix the #13943

[2015-11-20 02:09] #10435 closed, assigned to zilongshanren

[2015-11-20 02:37] minggo commented on #14431
@zilongshanren
Will you please take a look?

[2015-11-20 02:50] zilongshanren commented on #14431
@xpol
This library is grabbed from llvm. I think it's better to discuss this problem with llvm team...

[2015-11-20 06:25] semgilo commented on #14378
@zilongshanren i dont try,i  had used shader instead

[2015-11-20 06:46] xiaofeng11 opened #14440 "A serious bug in new UIPageView"
In new UIPageView, getPages function has been deprecated, and add a ASSERT in entrance of the function, when it been called, the program will crash. But in LayoutComponent::refreshLayout() function, getPages() is still been using, this make program can never run.

@neokim @zilongshanren Please check & fix this issue

[2015-11-20 08:49] zilongshanren commented on #14440
@xiaofeng11
please check the latest code to verify it, thanks.

[2015-11-20 08:49] #14440 closed, assigned to nobody

[2015-11-20 08:55] xiaofeng11 commented on #14440
@neokim @zilongshanren Great works!

[2015-11-20 09:04] lovekankan opened #14442 "cocos2d-js 3.6.1 can not play two effects at the same time on android device."

[2015-11-20 09:37] zilongshanren commented on #14436
@1scaR1
The fix is here:  https://github.com/cocos2d/cocos2d-x/pull/14443
please check whether it resolve your problem or not.
Thanks.

[2015-11-20 09:47] zilongshanren commented on #11006
it should be resolved in the latest develop branch.

[2015-11-20 09:47] #11006 closed, assigned to nobody

[2015-11-20 09:51] xpol opened #14444 "Font system not follow Unicode Standard 2.0 or later."
As listed [here](http://unicode.org/faq/utf_bom.html) and referenced [here](https://en.wikipedia.org/wiki/Unicode).

The follow code is not corrent:

[code]

so is the function `unsigned char* FontFreeType::getGlyphBitmap(unsigned short theChar, long &outWidth, long &outHeight, Rect &outRect,int &xAdvance)`.

The problem is:
1. number of code points is not length of std::u16string.
2. can't just g

[2015-11-20 09:55] xpol commented on #14444
I suggest that we should switch to [UTF-8 CPP](http://utfcpp.sourceforge.net/) and we don't needs UTF16 just UTF8 will do the work.

[2015-11-20 10:13] xpol commented on #14444
[code]

[2015-11-20 10:19] 1scaR1 commented on #14436
Yes, it resolves my problem.
Thanks!

[2015-11-20 13:23] cpascal commented on #14309
@letzgame Can you test with the https://github.com/cocos2d/cocos2d-x/pull/14446 code? Some of your cases are caused by that.

[2015-11-20 15:41] TheCodez opened #14449 "3.9 Problem with setTexture and PhysicsBody"
I have a player, im applying a force to him and change his texture to a flying one(which is wider). Then after 1 second im resetting the forces on that player and change his texture back to an idle one.

Before 3.9 this worked as expected, but now in 3.9 the player is pushed forward after 1 second because the flying texture is wider.

Apparently, this has something to do with the new way component

[2015-11-20 20:52] teestudio opened #14450 "Any reason of using SharedPreferences.commit() in Android?"
There's an `apply()` method which lets save data with `SharedPreferences` asynchronously, so I can't understand why `commit()` is still being used in `Cocos2dxHelper` class, a game may be freezed when using it.
[SharedPreferences.apply() docs](http://developer.android.com/intl/ru/reference/android/content/SharedPreferences.Editor.html#apply%28%29)

[2015-11-20 21:29] letzgame commented on #14309
@cpascal
Yes I tested it just now.
It still can not work on iOS.

[2015-11-21 01:02] ghost commented on #14437
Option to set texture of scroll in scrollview is needed too.

[2015-11-21 14:53] pandamicro opened #14452 "Different behavior between pvr.ccz and png for BlendFunc dest GL_ONE"
When set BlendFunc dest with GL_ONE in Cocos Studio, the behavior of pvr.ccz and png texture varies. It may be related to premultiple alpha settings.

Originally reported in the comment of http://weibo.com/1702027805/CzrhTdu3a?type=comment

Please contact the author to know how to reproduce and more details.

He mentioned other problems too in the comment

[2015-11-22 01:33] xpol commented on #14431
I'd rather clean my out string before calling.
子龙山人 notifications@github.com于2015年11月20日 周五10:51写道：

[2015-11-22 01:34] #14431 closed, assigned to nobody

[2015-11-22 07:51] yixiaoqingyuz opened #14455 "The Camera class has two same methods with diffrent name 'unproject' and 'unprojectGL'"
Why write two same methods with diffrent name to confused users？
void Camera::unproject(const Size& viewport, const Vec3\* src, Vec3\* dst) const
{
    CCASSERT(src && dst, "vec3 can not be null");

[code]

}

void Camera::unprojectGL(const Size& viewport, const Vec3\* src, Vec3\* dst) const
{
    CCASSERT(src && dst, "vec3 can not be null");

[code]

}
Camera 类有两个名字不一样但实现完全一样的方法 'unproject' 和 'un

[2015-11-22 12:33] kaddkaka commented on #14455
The functions are not identical, they work on reversed y-axes.

[2015-11-22 13:56] lisikuangxiangqu commented on #12771
11

[2015-11-22 14:02] lisikuangxiangqu opened #14456 "12"
12

[2015-11-22 14:02] #14456 closed, assigned to nobody

[2015-11-22 15:03] ricardoquesada commented on #12405
Yes, we need to update the manual bindings.
The manual bindings are manually rooting many objects, from callbacks, to events... to everything.
So, if we want to get rid of the "retain/release" model, we have to review all the manual bindings as well.

[2015-11-22 15:34] KawabataLemon commented on #11766
Did you checked PR #10838?
I copied this PR to 3.9.
Almost looks good.
But sometimes ,when two bodies contact,  cpBodyGetRotation/cpBodyPosition value becomes NaN.
then, Node disapears from the screen.

[2015-11-23 01:50] #14436 closed, assigned to zilongshanren

[2015-11-23 03:43] #14455 closed, assigned to nobody

[2015-11-23 04:02] zilongshanren commented on #9715
long time dead issue, I close it here.
But if anyone has this issue, please report it again.
Thanks.

[2015-11-23 04:02] #9715 closed, assigned to zilongshanren

[2015-11-23 04:03] zilongshanren commented on #10822
this issue should be resolve by https://github.com/cocos2d/cocos2d-x/pull/14457

[2015-11-23 04:03] #10822 closed, assigned to zilongshanren

[2015-11-23 04:05] zilongshanren commented on #12650
@xpol  Any updates?

[2015-11-23 04:05] zilongshanren commented on #13139
@folgerhu
Any updates?

[2015-11-23 04:07] zilongshanren commented on #14000
@raduev
It's not easy to support placeholder color across all the platform.
So, this request has no plan yet.

[2015-11-23 04:07] #14000 closed, assigned to nobody

[2015-11-23 04:07] zilongshanren commented on #14381
@VisualSJ please take a look.

[2015-11-23 04:29] xpol commented on #12650
@zilongshanren  Sorry I'm not woking on that project any more.
And it is iOS 9.1 here now.

[2015-11-23 06:40] anjandaffo commented on #14165
@zilongshanren

#14459 for text alignment and Inner padding.

[2015-11-23 06:48] minhtoantm commented on #14316
I'm run project on iOS, I detected cocos set wrong height dimen for label using system font. When I set dimen by double, It's true.

[2015-11-23 07:11] zilongshanren commented on #14165
@anjandaffo
Thanks, I will review the PR.

[2015-11-23 07:25] linguofeng commented on #14424
`NSURLSession`

In iOS 7 and later or OS X v10.9 and later, NSURLSession is the preferred API for new code that performs URL requests.

[2015-11-23 08:03] zilongshanren commented on #12650
So, I just close it here.
If you meet this issue again, feel free to reopen it.

[2015-11-23 08:03] #12650 closed, assigned to zilongshanren

[2015-11-23 10:10] sianzain commented on #14289
![image](https://cloud.githubusercontent.com/assets/11533618/11334024/330b2fe8-920d-11e5-94c3-d5499765cbd0.png)
![image](https://cloud.githubusercontent.com/assets/11533618/11334045/5be07c52-920d-11e5-8ee6-a3a904583f9f.png)
![image](https://cloud.githubusercontent.com/assets/11533618/11334052/6812fbd0-920d-11e5-8e96-f3d755bf28b7.png)

[2015-11-23 11:20] gestern commented on #14424
Does it mean what `cocos2d-x 3.9` is not support **iOS 6** and **iOS 6.1** anymore? Right? `cocos2d-x 2.x` didn't have any problems when it was based on CURL library - and everything worked well with CURL.

[2015-11-23 12:03] robslove opened #14460 "V3.8_3.9 test-cpp iOS 51:Node: Text Input(TextFieldTTF)"
->click here for input
->click the Microphone icon on the input panel
->say something
->done
->crash

[2015-11-23 15:37] sbrednikhin opened #14461 "A lot of hardcoded constants in ScrollView"
There a lot of hardcoded constants inside of ScrollView source code.

[code]

[code]

If you don't want to give a chance to change it, at least you could give a way to use them from the outside, by moving it's declarations to header.

[2015-11-23 16:29] AIGRIND-LLC commented on #14437
+1 for this request!

[2015-11-23 16:44] vitalyrovny commented on #14437
Line spacing, scroll customization +1

[2015-11-24 00:45] Cybertwip opened #14462 "Can't import custom class/widget ctype into cocos2d-x reader."
See https://github.com/darkdukey/Cocos-Studio/issues/75

This is about the node parsing segment that loads flat buffers. As it seems, when loading custom widgets this is always equal to NULL:

![nulled](https://cloud.githubusercontent.com/assets/8097385/11354597/e94752ea-9209-11e5-9edf-6c5c658fe5b0.PNG)

It doesn't happen with Custom Class nodes, only with custom widgets loaded via the C#/lua meth

[2015-11-24 01:24] Cybertwip opened #14463 "No audio playback from csb files"
Audio playback is not working when loading csb files.
See https://github.com/darkdukey/Cocos-Studio/issues/77

[2015-11-24 02:06] sianzain opened #14464 "cc.ActionInterval.extend is not a Function"
How can one extends the action interval class for Cocos2d-x Android/JS project?
Because in android Debug error gives:

DEBUG/cocos2d-x debug info(24129): JS: assets/progressBar.js:127:TypeError: cc.ActionInterval.extend is not a function

[2015-11-24 05:30] yue19870813 opened #14465 "There is a bug in UIRichText when the text include '\n'."
There is a bug in UIRichText when the text include '\n'.The version is 3.9.

[2015-11-24 06:04] robslove opened #14466 "#14457 is closed, but still not repaired on iOS"
https://github.com/cocos2d/cocos2d-x/pull/14457

i replace the 4 changed files

still not repaired on iOS
![lb _zcjzzuek41zjy2 j06r](https://cloud.githubusercontent.com/assets/2572446/11359119/fbe4b674-9270-11e5-8da9-850f9ca975bf.jpg)
![vmf6kw 6 le0yy8u 690 b](https://cloud.githubusercontent.com/assets/2572446/11359130/23702d7c-9271-11e5-9164-7a81c39c6878.jpg)

[2015-11-24 06:07] fuyifan commented on #14425
@WenhaiLin Please give us a hand, we really need your help.

[2015-11-24 10:07] zilongshanren commented on #14357
@yuyangame
It should be fixed at https://github.com/cocos2d/cocos2d-x/pull/14470

[2015-11-24 10:08] zilongshanren commented on #13759
@StrikerScoleriWilliams  @webcrawler
It should be fixed at https://github.com/cocos2d/cocos2d-x/pull/14470

[2015-11-24 10:09] zilongshanren commented on #12794
@zeas2
What's the engine version?
The target platform? iOS or Android or Desktop?
What's the code snippet to reproduce this issue?
Thanks.

[2015-11-24 10:10] zilongshanren commented on #12753
I think this issue wrongly reported.
I just close it here. Feel free to reopen.

[2015-11-24 10:11] zilongshanren commented on #13470
@pandamicro
Any updates?

[2015-11-24 10:12] zilongshanren commented on #13645
@stevetranby
So I could simply close this issue?

[2015-11-24 10:16] zilongshanren commented on #13148
this issue should be resolve in the latest v3

[2015-11-24 10:16] #13148 closed, assigned to nobody

[2015-11-24 10:18] zilongshanren commented on #11667
@enhhh
Could you send a PR to resolve this issue?
I think it's not difficult to fix it.

[2015-11-24 10:19] zilongshanren commented on #14466
@robslove
What's your changed code? Could you paste it here?
Thanks.

[2015-11-24 10:20] zilongshanren commented on #14461
@neokim
What do you think about these hardcoded values?

[2015-11-24 11:03] robslove commented on #14466
https://github.com/cocos2d/cocos2d-x/pull/14457/files

 replace the 4 changed files to V3.9 release pack

and test in test-cpp , ipad mini2

[2015-11-24 12:18] zilongshanren commented on #14466
@robslove
I think the pictures you pasted here is the expected result, what exactly the problem is?
The hint is larger than expected or sth else?

[2015-11-24 12:19] sbrednikhin commented on #14461
Possibility of changing this values through class interface would be ideal. As an example: In PageView scrolling parameters can be changed from outside of class.
If you don't want to allow parameter changing - it would be useful to declare them as static constants in public area of the class, so user could use this values to configure his code.

My widgets have custom touch behavior and this behav

[2015-11-24 12:26] robslove commented on #14466
@zilongshanren

_editEmailParent->setScale(0.5);
when the UIEditBox.get focus (the second picture), the text is larger than the control.lost focus(the first picture)
the background picture is the same, and the text size changed

_editEmailParent->setScale(5);
when the UIEditBox.get focus , the text is smaller than the control.lost focus

[2015-11-24 12:53] sbrednikhin opened #14473 "Radial progress widget in UI and CocosStudio editor is needed."
Actually, i'ts no a big deal to implement it by myself, using cocos2d::ProgressTimer and make a pull request, but cocos2d::ui::LoadingBar doesn't uses cocos2d::ProgressTimer as renderer, and I think there is a reason - why, although I don't understand it.

Besides that, I need to use this widget in CocosStudio editor, but I don't see a way of doing it. There was some mechanism of making plugins fo

[2015-11-24 13:35] #14339 closed, assigned to nobody

[2015-11-24 13:39] zilongshanren commented on #14466
@robslove
Um... The PR in #14457 only resolve the parent-child scaling, for scaling the EditBox itself, I think it's a problem here.
I will try to fix it.

[2015-11-24 14:30] FrankStain commented on #14437
Pretty useful features!
+1 for all!

[2015-11-24 21:33] digitalhoax commented on #8321
"very hard" for me means powering off the mac and rebooting, potentially loosing all of the data open in the background.

[2015-11-24 21:34] digitalhoax commented on #11127
Only partially duplicated, win32 isn't explicitly mentioned in #8321

[2015-11-24 22:56] jonnyijapan commented on #8321
As far as I remember I used another computer on the network to ssh into the frozen computer and shut the cocos process down.

[2015-11-25 01:55] super626 commented on #13951
@winneryong
这种修改应该也可以，能不能帮忙确认一下。
https://github.com/cocos2d/cocos2d-x/pull/14471

[2015-11-25 02:05] cesarpachon commented on #11563
hello, I am doing a new PR to both cocos2d-x (https://github.com/cocos2d/cocos2d-x/pull/14476) and third-party-libs-bin (https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin/pull/190) projects. both PR's implement the AudioEngine for Linux, refactor SimpleAudioEngine to be a wrapper of the former and upgrades the binaries of FMOD to latest version.

[2015-11-25 03:16] pandamicro commented on #13470
cocos2d/cocos2d-html5#3115 was a proper update for this, future improvements rely on refactorization of renderer, so I will close this issue. Then we will come up with new issues for renderer

[2015-11-25 03:16] #13470 closed, assigned to VisualSJ

[2015-11-25 05:48] pandamicro commented on #12405
One discussion to make JS::Rooted, JS::PersistentRooted and JS::Heap much more clear (especially what Boris Zbarsky said):

https://groups.google.com/d/msg/mozilla.dev.tech.js-engine/2fmV2Y-eBuk/8wAKYs-gAm8J

I will complete the work in this issue.

Another useful demonstration here: http://trac.wildfiregames.com/wiki/JSRootingGuide

[2015-11-25 06:06] wayne5ning opened #14477 "Keyboard fails to hide when the outside area of keyboard is touched while using EditBox on ios 7.1"
### Context

cocos2d-js version: v3.9
ios verion: 7.1
xcode Version 7.1.1 (7B1005)
### Problem

The keyboard fails to hide when the outside area of keyboard was touched while using EditBox on ios 7.1. It worked in cocos2d-js version v3.8.1.
In terms of code, the `UIEditBoxImplIOS_objc::textFieldShouldEndEditing:` is not called, causing `editBoxReturn` which hides the keyboard not being called.
###

[2015-11-25 08:29] wayne5ning commented on #14477
Suggestion:
in file cocos/platform/ios/CCEAGLView-ios.mm, change selector `handleTouchesAfterKeyboardShow` to the following:

[code]

[2015-11-25 08:38] fuchao9625 commented on #14398
Hi guys, when will you have time to fix this bug?

[2015-11-25 09:30] super626 opened #14482 "Ignore collision between 3D rigid bodies"
ref to http://discuss.cocos2d-x.org/t/3d-physics-used-in-cocos2dx-3-7rc/23200

[2015-11-25 10:33] zilongshanren commented on #14477
@wayne5ning
:+1:  good point. Could you send a PR?

[2015-11-25 16:21] eldaranne opened #14486 "Need a way to access the font of cocos2d::ui::TextBMFont."
_Version_
- 3.8

_Problem_
- We are using cocos studio 2.3.3, ui::Label and ui::LabelBMFont from the cocos studio project are converted into ui::Text and ui::TextBMFont. It's a different project I know but the issue is still in cocos2d-x, since we would need to access the font file of TextBMFont. The getters are there for ui::Text but only the setter is present for ui::TextBMFont, it's probably an

[2015-11-26 02:20] sianzain opened #14490 "js slow loading cocostudio json file"
Loading json mechanism is desirable to provide a C ++

[2015-11-26 02:41] fuyifan commented on #14425
@pandamicro 哥哥求这个版本把这个修了吧

[2015-11-26 02:45] ricardoquesada commented on #12405
good info. thanks.

[2015-11-26 02:45] zilongshanren commented on #13759
@StrikerScoleriWilliams

It should be fixed at #14470

This issue I should verify.

ClippingNode does support alpha, please check.

Thanks.

[2015-11-26 02:56] zilongshanren commented on #13759
@StrikerScoleriWilliams
For

I have tested it, it's OK for clippingNode work with label. But you should pay attention to the system font label, it's rendered as a whole texture, so if you use a system font as stencil, it may not work the same as other label types.

[2015-11-26 03:06] yue19870813 opened #14492 "Js ccs.load low efficiency."
ccs.load = function(file, path){
    var object = {
        node: null,
        action: null
    };
    object.node = ccs._load(file, null, path);    //load and prase once.
    object.action = ccs._load(file, "action", path);    //load and prase twice.
    if(object.action && object.action.tag === -1 && object.node)
        object.action.tag = object.node.tag;
    return object;
};

[2015-11-26 03:15] yue19870813 commented on #14492
var json = ccs.load("res/Jason/jiecendonghua.json");
var node = json.node;

And the above method is not able to do caching. I must to load many times when I want to create many nodes. It's a problem or how can I do?

[2015-11-26 04:55] ghost commented on #13759
Yup this issue is fixed. Tested and OK.

[2015-11-26 04:55] #13759 closed, assigned to nobody

[2015-11-26 06:04] #14357 closed, assigned to nobody

[2015-11-26 07:28] winneryong commented on #13951
试过了，可以使用，没有问题。辛苦！

[2015-11-26 23:04] stevetranby commented on #13645
Well it's a bug from my perspective since with clipping off the button image should be rendered in full, but if you want to close it that's fine as I have moved on to not use Layout for this purpose.

[2015-11-27 03:32] super626 commented on #13951
@winneryong
多谢哈

[2015-11-27 04:32] DustYang opened #14500 "3d model,fbx convert to c3b"
i have two problems
first: fbx convert to c3b,in 3dmax,the z axis is up, in cocos2dx, the y axis is up,but,it is cocos2dx 3.5 before, convert to c3b is normal, it is cocos2dx 3.5 after, i have to rotate 90 around the x axis. cocos2dx 3.5 after,3dmax convert to fbx, We should pay attention to what?
second: If I use skin skeleton, the model I had to scale, it is appropriate

[2015-11-27 04:59] fangshuai0119 opened #14501 "如何将库文件编译为arm64-x86"
如题，开发平台：android，CPU_ABI=arm64-x86
我应该如何将库文件编译为arm64-x86，
出错详细信息：
Android NDK: ERROR:C:\Cocos\frameworks/cocos2d-x-3.7.1/external/freetype2/prebuilt/android/Android.mk:cocos_freetype2_static: LOCAL_SRC_FILES points to a missing file
Android NDK: Check that C:/Cocos/frameworks/cocos2d-x-3.7.1/external/freetype2/prebuilt/android/arm64-v8a/libfreetype.a exists  or that its path is correct

[2015-11-27 07:48] zilongshanren opened #14504 "PageView doesn't support custom threshold"
@neokim
What's your plan for adding this missing feature back? The next release cycle is December 2, so time is very limited.

[2015-11-27 09:06] pmaloman opened #14506 "[3.9] Wrong assert in ComponentContainer"
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCComponentContainer.cpp#L65

[2015-11-27 09:19] xiaofeng11 commented on #14506
@pmaloman Yes, this is a bug, Could you submit a PR to fix it? Thanks a lot.

[2015-11-27 10:42] justbilt commented on #13390
It helped me, thanks! @meiry

[2015-11-27 11:06] meiry commented on #13390
@justbilt
You are welcome

[2015-11-27 11:32] shauket commented on #8442
Did you solved this issue guys ?? i need to show text in middle of the textfield.

[2015-11-27 14:58] sbrednikhin opened #14510 "jumpToItem in ListView doesn't work properly if called just after creation."
In ListView::doLayout size was wrong at the moment of layout changing. I caused wrong item position and wrong shift in jumpToItem.

Possible fix:
Was:

[code]

Must be:

[code]

[2015-11-28 05:34] xiaofeng11 commented on #14506
@pmaloman Thanks for help us improve cocos2dx.

[2015-11-28 05:34] #14506 closed, assigned to nobody

[2015-11-28 06:30] zilongshanren commented on #14510
@neokim  @liamcindy
please take a look at this issue.

[2015-11-28 07:25] zilongshanren commented on #14501
@fangshuai0119
You should first compile all the 3rd party libs to arm64 or x86-64 with https://github.com/zilongshanren/cocos2d-x-3rd-party-libs-src/tree/add-android-x86-64-support

Then you could change the APP_ABI to arm64-x86 and compile the engine to arm64 or x86-64.

[2015-11-28 07:25] zilongshanren commented on #14501
@fangshuai0119
It's not a easy job, good luck.

[2015-11-28 07:25] #14501 closed, assigned to nobody

[2015-11-28 08:42] #14477 closed, assigned to zilongshanren

[2015-11-29 06:57] loveyanbei opened #14516 "glfw and glew not found on cmake with Mingw"
:\Users\lyt\Documents\GitHub\helloworld>cmake -G "MinGW Makefiles" .
-- The C compiler identification is GNU 5.2.0
-- The CXX compiler identification is GNU 5.2.0
-- Check for working C compiler: C:/Program Files/mingw-w64/x86_64-5.2.0-posix-seh-rt_v4-rev0/mingw64/bin/gcc.exe
-- Check for working C compiler: C:/Program Files/mingw-w64/x86_64-5.2.0-posix-seh-rt_v4-rev0/mingw64/bin/gcc.exe -- works

[2015-11-29 07:17] vladpazych opened #14517 ""libwebsockets not configured for ssl" when using Firebase"
Hello. I am trying to make cocos2d-js to work with Firebase.

In browser it all works fine. But when I compile it on iOS device I get this error:

[code]

The whole message:

[code]

Is there a way to make Firebase and Cocos2d-x work together?

Thank's for help.

[2015-11-29 08:44] fangshuai0119 commented on #14501
Thank you for your answer.

[2015-11-29 11:20] AlexanderBykin commented on #14290
@youlanhai
TCP/IP implementation you can find here: https://github.com/AlexanderShniperson/cocos2dx_socket_example

[2015-11-30 05:34] yue19870813 opened #14519 "Please add clone function on cc.Node"
Please add clone function on cc.Node and other subclass.

[2015-11-30 05:44] Cybertwip opened #14520 "cocos2d::ui Nodes ignore anchor point positions when adding children"
When getting a cocos2d::ui element like so:

[code]

And later on if we add a sprite via

[code]

We are forced to change the children position like so:

[code]

Both anchor points are (0.5, 0.5).

[2015-11-30 07:02] jie-meng commented on #14325
I update cocos2dx to v3.9, the black lines appear even worse.

[2015-11-30 08:21] willmoon opened #14522 "ClippingNode inside a ScrollView does not work properly..."
I have some ClippingNodes in TableView which inherit from Scrollview...But the ClippingNode does not work properly...When first created,it show the ClippingNode,after that it is at a random state

[2015-11-30 08:56] pkxpp commented on #12370
ex, ArmatureDataManager bug is also fixed?

[2015-11-30 09:05] liamcindy commented on #14522
@willmoon Could you show us some code with that problem?

[2015-11-30 11:15] codecustard commented on #14465
What happens when you include '\n'?

[2015-11-30 14:10] StreakyGames opened #14523 "Touch bug on Mac"
I'm using v3.6 but think this one is unlikely to have been fixed in later versions of Cocos2d-x.

The wrong position is passed to onTouchBegan( cocos2d::Touch *touch, cocos2d::Event *event ).
This only seems to happen on the Mac (not tried win32 though).

Steps to reproduce:
- Start your application
- DO NOT move your mouse cursor
- Click using the mouse

The call to your onTouchBegan( cocos2d::To

[2015-11-30 21:12] AlexKamaev commented on #13834
same issue

[2015-12-01 02:33] RustyMoyher commented on #13768
this is a smart idea!

[2015-12-01 02:41] xpol commented on #8406
@minggo
Closed? Why? The templates has not changed any.
`viewDidLoad` still not get called.

[2015-12-01 02:51] yue19870813 commented on #14465
Like this:
http://www.ituuz.com/archives/227

[2015-12-01 03:02] jie-meng commented on #14325
Change ccexp.TMXTiledMap to cc.TMXTiledMap, try setAntiAliasTexParameters, cc.Director:getInstance():setProjection( cc.DIRECTOR_PROJECTION2_D ) and CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL=1, it goes well.

[2015-12-01 03:02] #14325 closed, assigned to nobody

[2015-12-01 04:44] Cybertwip commented on #14520
It seems that widgets have the same coordinate system as the CocosStudio Editor disregarding the anchor points they're using as the only solution we were able to create in a quick fashion way was to set up by percent, like so:

[code]

Also, for sprites, there is no need for anchor points if we're dealing with normalized positions, like so:

[code]

[2015-12-01 04:44] #14520 closed, assigned to nobody

[2015-12-01 05:07] Cybertwip commented on #10334
See https://github.com/cocos2d/cocos2d-x/issues/14520, we started using normalized positions and percent positions to solve this situation.

[2015-12-01 05:10] Cybertwip commented on #8713
This may be of help: https://github.com/cocos2d/cocos2d-x/issues/14520, we solved the situation with normal and percent positions.

[2015-12-01 05:17] willmoon commented on #14522
Ok,I have an ImageView which will be clipped,and the ImageView is in a json file made by the CocoStutio.I put the ImageView into a tableviewcell  and get it cliiped.Here is some code:

if ( !pImageView )
	{
		return;
	}
	m_StencilPosition = stencilPosition;
	if ( !_imageRenderer )
	{
		ClippingNode* clipNode = ClippingNode::create();
		m_pStencil = Sprite::create(path);
		m_pStencil->setPosition(s

[2015-12-01 06:12] liam commented on #8713
Please don't use @Liam as it sends a mail to me.

Thanks
@Liam
On 1 Dec 2015 05:11, "Victor Lopez" notifications@github.com wrote:

[2015-12-01 06:21] feijing566 opened #14529 "CCFastTMXLayer setOpacity doesn't work"
CCFastTMXLayer setOpacity doesn't work

in CCTMXLayer it work well

i just test it with test resource

[2015-12-01 06:46] feijing566 commented on #14529
because TMXLayer::setupTiles() will do sprite->setOpacity()
but in CCFastTMXLayer  it doesn't

[code]

[code]

‘’‘
void TMXLayer::setupTileSprite(Sprite\* sprite, Vec2 pos, int gid){
...
sprite->setOpacity(_opacity);
...
}
’‘’

[2015-12-01 09:18] AIGRIND-LLC commented on #14473
Agree. It's pretty common case when we need to create some widgets like this:
![01](https://cloud.githubusercontent.com/assets/6168693/11496725/ad8e3962-981c-11e5-8c79-241f842b6b67.png) ![02](https://cloud.githubusercontent.com/assets/6168693/11496724/ad8c8fd6-981c-11e5-8dff-64493224d2b6.gif)
Every time we need the widget of such type we have to manually combine ProgressTimer and ClippingNode to a

[2015-12-01 09:23] fangshuai0119 opened #14531 "arm64-v8a还是不能进行编译成功"
我按https://github.com/zilongshanren/cocos2d-x-3rd-party-libs-src/tree/add-android-x86-64-support这个上边说的，将除了rapidjson的第三方库全部进行了编译，之后分别将lib*.a加入到对应包下的prebuild/arm64-v8a下，初步怀疑libwebp.a编译有问题，编译过程中出现的错误如下：
./obj/local/arm64-v8a/libcocos2dandroid.a(CCEnhanceAPI-android.o): In function `__ctype_get_mb_cur_max':
C:/Cocos/frameworks/cocos2d-x-3.9/cocos/platform/android/CCEnhanceAPI-android.cpp:34: multiple d

[2015-12-01 09:32] AIGRIND-LLC commented on #12548
@pandamicro @chengstory
So guys what about this feature?
It looks like quite simple for implementation.

[2015-12-01 10:18] RMariowski commented on #14437
+1 for all

[2015-12-01 13:06] pandemosth opened #14533 "cc.textureCache.addImageAsync does not call callback (JSB on iOS)"
In 3.9 cc.textureCache.addImageAsync is not working to load an image from a URL.

See TextureCache -> Remote Texture Test in JS Tests. This is failing for me - no image loaded and no error.

[2015-12-01 16:17] thorx2 opened #14538 "Android Gradle and Ant build commands do not give same result."
The following code behaves differently when I try to build via -android and --android-studio flags, first builds correctly the seconds throws the error

[code]

_Undefined reference to MainScreen::createScene()_

Is this an issue with the Gradle build command? Since ANT/Maven builds are clean.

[2015-12-01 23:25] stevetranby commented on #14529
I would continue using the regular TMX map for now if you need that feature.

FastTMX could add support for this, but the question is how best to do so while keeping its improved performance characteristics.

One might allow changing the individual tile opacity and then updating the quads to support this "color" information by setting the alpha for each quad. One could create sprite objects for an

[2015-12-02 00:04] pandemosth opened #14539 "CCDownloader on iOS is broken in v3.9"
The `onDataTaskSuccess` callback is never called for a data download task. You can reproduce this in the Downloader Test, Top Left test in cocos2d-x v3.9 cpp-tests project.

Inside CCDownloader-apple.mm it just looks like `onTaskFinish` callback is never called for a data task.

Related issue #14533

[2015-12-02 01:28] stevetranby commented on #10562
I did submit a PR for this issue. I didn't add tests or anything else because I wasn't sure it was necessary. If you are testing CCValue I will look to add tests.
https://github.com/cocos2d/cocos2d-x/pull/13785

Note that not having unsigned causes a bug with TMX parsing and flipped tiles.

[2015-12-02 01:53] cezheng commented on #14539
DataTask is only used when no storage path is specified, but why use it? If you do want to get the callback, try doing it in this delegate method: https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/network/CCDownloader-apple.mm#L388

[2015-12-02 01:56] stevetranby commented on #12231
Part 2 has been fixed in latest. Didn't check when it was fixed. Can probably close this ...
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/2d/CCTMXXMLParser.cpp#L462

[2015-12-02 02:40] pandemosth commented on #14539
I'm not using it directly, its being called here - https://github.com/cocos2d/cocos2d-x/blob/V3.9/cocos/scripting/js-bindings/manual/extension/jsb_cocos2dx_extension_manual.cpp#L933

I assume the intention is to avoid the overhead of writing an image to file and then reading from that file to add to the texture cache.

[2015-12-02 02:42] pandemosth commented on #14539
Also, its being used this way in the Downloader Test as stated in the issue description above, so clearly its an intended use case.

[2015-12-02 02:42] stevetranby commented on #12994
I believe this issue is related overflow on the OpenGL vertex buffer or index buffer, but I haven't nailed it down quite yet. I do know that the maximum # of tiles with the current TMX system is 128*128=16384 and the # of visible tiles in your .tmx map is something around 16390 or so and is thus cutting off the last 6 visible tiles (approx).

I'll respond with more as I look at it. I'm looking to

[2015-12-02 02:45] stevetranby commented on #13386
This is still a bug even if two cameras is a workaround. It may require user setting a "render as 3D" flag on the tilemap, or possibly only need to set the tilemap's global Z to negative to force it into the background.

If the 3D objects need to have a z-depth or sorting order in between tiles or tile layers that is a different beast altogether and probably requires a derived or new implementatio

[2015-12-02 02:47] pandamicro commented on #14539
I see the problem here, sorry for the bug, we will investigate into it in this version

[2015-12-02 02:54] pandemosth commented on #14517
The binary libwebsocket dependency lib that ships with cocos2d-x is not compiled with SSL enabled.
You can compile your own from here - https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src

Take a look at the websocket build rules - https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/tree/v3/contrib/src/websockets

I've still had trouble with this in getting libwebsocket to accept the serve

[2015-12-02 03:32] stevetranby commented on #12994
The real solution is likely to enable support for splitting up a map into layer chunks. Could create multiple vertex/index buffers as well, but might as well support a better abstraction with splitting up a map into max sized regions by chunking as needed. This lends itself as well toward streaming in map and loading only adjacent chunks as player moves around map. If you need to see the full map

[2015-12-02 03:47] dabingnn commented on #12994
Yes, Map streaming sounds to be a good solution for the limitation of vertex and index buffer。

[2015-12-02 04:07] cezheng commented on #14539
@pandamicro I have fixed another bug related to the new Downloader implementations in 3.9. https://github.com/cocos2d/cocos2d-x/pull/14530

[2015-12-02 04:09] cezheng commented on #14539
@pandemosth  from the source code of CCDownloader-apple.mm it is definitely not called, so I guess that NSURLDataDelegate method should be implemented for your case

[2015-12-02 04:21] pandamicro commented on #14539
@cezheng Thanks !

[2015-12-02 04:34] pandemosth commented on #14539
@cezheng Thanks but fyi that delegate method is not called when the request completes.
From the Apple docs: "Tells the delegate that the data task received the initial reply (headers) from the server."

[2015-12-02 04:37] neokim commented on #14461
Those constants are internal properties for elastic scroll pattern. Any changes on them will be spoiling scrolling pattern. They are not supposed to be exposed to outside and to be modified without careful concern about user experiences for scroll UI.

If your changes on touch behavior breaks scrolling and so you need to refer to these values, it looks to me that there may be some design flaw in y

[2015-12-02 04:45] neokim commented on #14504
@zilongshanren

I'm sorry for late answer. I don't think it can be done in the next release cycle.

And I still don't get why you are thinking this feature is so essential. The custom threshold for page view was needed because there was no elastic scroll and magnetic scroll previously. Isn't it enough with these features for now?

Anyway, I will add a way to customize magnetic strength of list vie

[2015-12-02 04:51] neokim commented on #14510
@sbrednikhin
The issue is resolved in 603d788fbffe0add7dd8c7bdf59f46315dccb785 and already merged in the latest branch. The fix is exactly same as your recommendation. Thanks.

[2015-12-02 05:02] zilongshanren commented on #14504
@neokim
Because some developers asked me for adding the custom threshold for page view.
And now it break the back compatibility, I'm afraid some of our developers will rant for this.
Anyway, thanks for letting me know the status and your plan.

[2015-12-02 05:11] neokim commented on #14504
@zilongshanren
Okay, I got what you concern. I'll try to implement it soon.
Maybe we can show to ranting people that page view works more elegantly than before without custom threshold. I believe they will love it. :smiley:

[2015-12-02 07:39] vladpazych commented on #14517
@pandemosth Thank you. Will try.

[2015-12-02 07:39] #14517 closed, assigned to nobody

[2015-12-02 08:20] Pouja commented on #12231
Yup closing it

[2015-12-02 08:20] #12231 closed, assigned to dabingnn

[2015-12-02 08:25] sbrednikhin commented on #14461
You are absolutely right, about independence of scrolling and touching, until you would need to implement dragging started from scrolling panel (it is common feature). I believe that if you would implement "native" dragging mechanics in cocos, you would have similar problems.

I need custom touch processing because of dragging mechanics, but I really don't want to code my own scrolling. Simpy chan

[2015-12-02 08:36] cory-buckley opened #14545 "RichText being affected by syntax errors on unrelated lines"
Using the following Sonar Systems tutorial source:
https://github.com/SonarSystems/Cocos2d-JS-v3-Tutorial-78---UIRichText

After compiling and and running on an Android device (Fire HD 7) running the latest firmware I am unable to see any RichText elements. I'm using the latest version of Cocos2D (3.9), latest JDK, latest Android SDK, ANT 1.9.4, and NDK r10c.

**Edit:**
It appears the syntax used

[2015-12-02 09:17] siddhanth opened #14546 "Crash in js_cocos2dx_TextFieldTTF_textFieldWithPlaceHolder"
my android crashes sometimes for some of the users which i am able to see google developer console.

Below is the crash log for the entire crash which i extracted out of google break pad. The crash clearly says that in the following function

but i am not able to uderstand as to why this is happening. I am currently using cocos2dx-js v 3.5.

Any help or idea as to why this crash happens or how can

[2015-12-02 09:33] #14522 closed, assigned to nobody

[2015-12-02 09:33] willmoon commented on #14522
ok,if it is reused ,just not clip it again

[2015-12-02 13:22] ghost commented on #11038
This helps me a lot. I tried to solve this issue for whole day with nothing improved until I get this post.

[2015-12-02 16:00] newnon opened #14549 "Scale9Sprite does not work correct with cropped sprite frames"
after last changes cocos 3.10 Scale9Sprite draws cropped sprite not correct you can see it in tests images must be cropped but not scaled

[2015-12-02 16:06] xpol opened #14550 "How to convert android UI sizes and coordinates to GL (the game world) in Java code?"
@zilongshanren

Any suggestions?

[2015-12-02 16:55] thorx2 commented on #14538
Changed gradle scripts, fixed the issue, apparently the gradle versions where not the same and I had remove some un-supported scripts.

[2015-12-02 16:55] #14538 closed, assigned to nobody

[2015-12-02 23:02] alprog opened #14554 "Animate3D blending is incorrect"
Animate3D blending use LERP at quaternion. It's incorrect and sometimes produce terrible glitching on real models.

I fix it by edit Bone3D::updateLocalMat() in CCSkeleton3D.cpp.
'Else'-branch of this function before fix:

[code]

And after fix:

[code]

[2015-12-03 03:24] lovekankan commented on #14442
no one can solve this issue??

[2015-12-03 04:08] kiranb47 opened #14561 "Secure Web socket feature request."
libwebsocket can be configured to use OpenSSL.

Please add this feature, it's very useful.

[2015-12-03 06:51] cheweiChang commented on #10445
I think this problem may still exist. I just follow the steps by this: http://www.cocos2d-x.org/wiki/Render_To_Texture , I'm using Lua in cocos2dx V3.9 , and use ASUS zenfone2 to test

here is parts of my code:

[code]

[2015-12-03 08:36] zilongshanren commented on #14549
@newnon
Do you have any ideas to resolve this issue? The new Scale9Sprite in 3.10 is made by me.
Currently I can't fully understand how to draw cropped images with scale9 feature.
I hope you could explain it to me.
thanks.

[2015-12-03 08:38] zilongshanren opened #14564 "Scale9Sprite will be culled unexpectly"

[2015-12-03 08:45] newnon commented on #14549
I will look into code in next few days and try to send pool request

[2015-12-03 10:47] #14539 closed, assigned to nobody

[2015-12-03 10:48] pandamicro commented on #14539
@pandemosth  Thanks for solving this problem !

[2015-12-03 11:17] #14564 closed, assigned to zilongshanren

[2015-12-04 01:30] #14533 closed, assigned to nobody

[2015-12-04 01:58] zilongshanren commented on #14550
@xpol
In the UI coordinate, the origin is left top.  In GL coordinate, the origin is left bottom.
when converting the unit between each other, pay attention to the glViewScale and device density, please take a look at the `EditBox` implementation for more details.

[2015-12-04 01:58] #14550 closed, assigned to nobody

[2015-12-04 01:59] zilongshanren commented on #14549
@newnon
Thanks.

[2015-12-04 03:31] CoderNeko opened #14575 "lua-binding support for windows phone 8/8.1 and for windows 10 universal application"
tolua cannot compile under /ZW mode

[2015-12-04 03:34] neokim commented on #14461
The `totalTime` is used here to depress auto scrolling after touch released when user had held touch more than specific time. I agree that this value can be configurable.

BTW, can you explain more about dragging started from scrolling panel?
If a user starts dragging action in scroll panel, it means user's intention of to move the internal canvas of scroll panel. It is appropriate that scroll pan

[2015-12-04 04:28] xpol commented on #14439
@zilongshanren

Any ideas?
Sorry I'm here again to ask you for suggestions.

[2015-12-04 06:08] pandemosth commented on #14539
@pandamicro No problem!

Can I get your opinion on this related bit of code though:

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/js-bindings/manual/extension/jsb_cocos2dx_extension_manual.cpp#L875

Shouldn't this Image object be allocated on heap with 'new'..?

[2015-12-04 06:29] feijing566 opened #14577 "TMXTiledMap's bug"
TMXTiledMap unable to correct display when the tile setFlippedX and setFlippedY both true

The first one is correct but the others is wrong

Verstion : 3.9

By the way it's Ok in v3.6
# In Editer:

![In Editer](https://cloud.githubusercontent.com/assets/7393582/11583170/e302e454-9a91-11e5-9312-bbfc1489b5ee.png)
# In Project:

![In Project](https://cloud.githubusercontent.com/assets/7393582/1158316

[2015-12-04 07:24] neokim opened #14580 "RadioButton cannot be created without background selected image"
Following guard block for checking blank file name is removed from `AbstractCheckButton::loadTextureBackGroundSelected()` at 27f6d6a6ba6f39cbffc0c12999f9e510077266dd.

[code]

This causes that any check button cannot be created without background selected image.

The commit 27f6d6a6ba6f39cbffc0c12999f9e510077266dd removed several checking logics. It needs to be reviewed again.

[2015-12-04 07:48] dala00 commented on #13507
Same problem happened on cocos2d-js3.2.
No problems happen on newer ver?

[2015-12-04 08:01] xpol commented on #14439
current workaround (or solution) is:

Add follow property to `CCEAGLView`.

[code]

and set its value to `UITextAutocorrectionTypeNo` in `- (id) initWithFrame: pixelFormat: depthFormat: preserveBackbuffer: sharegroup: multiSampling: numberOfSamples:`.

@zilongshanren shall we accept this as a solution?

[2015-12-04 08:54] sbrednikhin commented on #14461
About dragging:
Dragging started from scroll panel is common for different mobile GUI's. There are some ways to separate dragging action from scrolling. Most common is to use long tap as indicator of dragging start (android interface) so we need to count time of tap without movement. Thus we need some minimal movement distance ( like your `#define MOVE_INCH            7.0f/160.0f` interval ) to av

[2015-12-04 09:10] young40 commented on #14452
Thank you, pandamicro

Sorry for this inconvenient.

truly is, I made a mistake while export png to pvr.ccz. I missed the premultiply alpha.

you can close this issue now.

Thanks a lot, again.

[2015-12-04 11:46] #14510 closed, assigned to nobody

[2015-12-04 15:55] sepperousseau commented on #14422
Got same issue, I have a game that I start in a native application. When I start the game it runs correctly. When I call director->end() it never comes in appdelegate destructor.
When I start the activity again, the app restarts =/

OpenGL error 0x0501 in purgeDirector 992

[2015-12-04 21:53] alesdotio opened #14588 "LabelTTF.enableShadow arguments are inconsistent with JS API"
According to the [JsDocs](http://www.cocos2d-x.org/reference/html5-js/V3.8/index.html) LabelTTF.enableShadow should accept the following parameters:

[code]

However, the [equivalent method in 2d-x](https://github.com/cocos2d/cocos2d-x/blob/d0c3275281d03ae319d076a30972ac5fd7512531/cocos/2d/CCLabelTTF.cpp#L189) accepts:

[code]

For example, this code in JS would raise an exception on native builds

[2015-12-04 23:02] #12524 closed, assigned to nobody

[2015-12-04 23:07] pandemosth opened #14589 "Crash when removing a remotely downloaded image from texture cache (v3.9 JSB)"
I'm experiencing a strange crash with remote images added to the texture cache via `cc.textureCache.addImageAsync`

The image is downloaded and added to the cache ok.

Later, when I call `cc.textureCache.removeTextureForKey` with the remote image's url it crashes. The same behaviour works just fine if the image is local rather than downloaded via http.

I think its due to the stack allocation of t

[2015-12-05 09:09] weibobo opened #14593 "serious performance issue in removeFromParent"
environment: windows, lua
repro steps:
1  create a normal layer, for example, a layer with 200 imageview with the same png

[code]

2 create a button simple to do the create, remove and add action of this layer

[code]

3 you will find the removeFromParent need about <b>0.2s</b>. The time raises according the node count in layer. Notice that the new layer has not been added to ui yet.
4 Interestin

[2015-12-05 09:10] weibobo commented on #14593
by the way, the version is cocos2dx 3.8.1

[2015-12-05 09:32] weibobo commented on #14492
you can try to use the new nodes, like uiimageview, uilayout, and cache the node, next time you can use node.clone

[2015-12-05 11:26] marswj opened #14594 "ios Info.plist配置文件问题"
1、3.9版本ios工程默认图标Icon-87.png  Icon-180.png  未加入。
2、<key>CFBundleIconFiles</key>   <key>CFBundleIconFiles~ipad</key>  小节，都缺少.png后缀。

[2015-12-05 13:35] vasyaPP opened #14596 "Button widget with 9-slice enabled cloning problem"
I have just upgraded my project from cocos2d-x v3.7 up to v3.9 release and discovered problem with Button widget. I have button with 9-slice enabled created with cocostudio. And after cloning button it displayed with wrong size - width and height of button are equal to texture size, not the original button size.

Without these lines of code everything working perfect:

[code]

It can be reproduced

[2015-12-06 07:35] ANUBIS-V commented on #14092
+1
ios9 cocos2d-x 3.9

[2015-12-06 12:39] kaplad opened #14599 "Android compilation error"
Command: _cocos run -p android -j 4_

[code]

I have _cocos2d-x-3.9 beta0 October.20 2015_

[2015-12-06 22:13] TheCodez commented on #14449
@WenhaiLin any news on this? This is holding our development back.

[2015-12-07 01:59] zilongshanren commented on #14596
@yangws  please take a look at this issue.

[2015-12-07 02:00] zilongshanren commented on #14580
@xiaofeng11  please take a look at this issue.

[2015-12-07 05:40] xiaofeng11 commented on #14580
@neokim I have do a test for this with following code:
    CheckBox \* cb = CheckBox::create("CheckBox_Normal.png", "", "CheckBoxNode_Normal.png", "", "");
    if (nullptr != cb)
    {
        this->addChild(cb, 10);
    }
And the check box can be created OK, how to reappear the problem you mentioned? Please give me a sample for test, Thanks.

[2015-12-07 06:29] zilongshanren commented on #14439
@xpol
Do we really need auto correction? I think it's better to discuss with other developers.
Your solution looks good to me, but I'm not sure whether it is acceptable now.

[2015-12-07 06:48] xpol commented on #14439
@zilongshanren
Yes, this is just a workaround, and its good enough for me.
Solution is to implements all requires UIKeyInput/UITextInput interface in  `CCEAGLView`.
But Its beyond my experience, I'm not an iOS developer.

[2015-12-07 06:56] weibobo commented on #14593
Can someone take a look? or give me some advise about that? It's a common scene that we create a layer, add to ui, then remove the old layer. If the layer is complicated, it might cause up to 0.6s on windows.

[2015-12-07 07:12] drsmall opened #14605 "\CocoStudioTest\ArmatureTest.s needs to be updated to work with current CCS version"
Methods used in ArmatureTest.js don't work with json files exported from the Cocos Studio 2.x

[2015-12-07 07:26] apocarteres opened #14606 "Build failed on OS X using GCC 4.9.3"
I'm trying to build v3.9 in OS X using <code>cmake</code> and GCC 4.9.3 (installed using <code>brew</code> with <code>--with-all-languages</code> flag) but seems that there are some problems with Cocos code here.

At first attemtion to get project built i got this:
1. cd cocos3.9
2. mkdir <code>macbuild</code> && <code>cd macbuild</code>
3. Exec <code>cmake</code> like that:

<pre>
cmake -G Unix M

[2015-12-07 08:18] zilongshanren commented on #12249
The PR which solves this issue has some problems, so we decide to revert that PR and reopen this issue.

[2015-12-07 12:38] zawasp opened #14610 "UI::Widget - add separate "focused" sprite and state"
Right now UI Widgets don't differentiate between their "focused" state and their "pressed" state. This causes confusion with controller based UI navigation. They need a separate state and a separate sprite for focused state. The sprite should also be settable from Cocos Studio.
This is present in Unity as well.

[2015-12-07 15:41] PeqNP commented on #14606
I'm not sure `nullable` and `instancetype` are supported `GCC` attributes. I can't seem to find any indication that they are. This is the list of common function attributes for `GCC` https://gcc.gnu.org/onlinedocs/gcc/Common-Function-Attributes.html#Common-Function-Attributes. I hope this helps in your search.

[2015-12-07 15:49] apocarteres commented on #14606
Unfortunately, you are right. I already noticed that there are complains on that https://gcc.gnu.org/bugzilla/show_bug.cgi?id=63651
And i assume it's connected to that issue that gcc doesn't support "blocks extension" (http://opensource.apple.com/source/libclosure/libclosure-65/BlockImplementation.txt)

[2015-12-07 15:49] apocarteres commented on #14606
but i'm still wondering is there any chance to use gcc with osx to get Cocos built well...

[2015-12-07 16:43] PeqNP commented on #14606
I am very sorry. I don't know enough about Mac OS X to say one way or the other. I also don't know anyone in Mac OS X land who may be able to help.

FYI: I'm not part of the Cocos team. Hopefully someone who has more experience in this area can help answer your question.

[2015-12-08 04:08] liamcindy opened #14612 "When pageview's size changed, the children don't refresh size"
[code]

child's size should be equal page's size;

[2015-12-08 04:10] liamcindy commented on #14612
@zilongshanren @neokim Please check this issuse, thanks.

[2015-12-08 08:40] deathemperor commented on #11742
This issue still exists on Android

[2015-12-08 10:01] zilongshanren commented on #14612
@neokim
I think the new implementation ignore this behavior and we should improve it :frowning:

[2015-12-08 10:02] zilongshanren commented on #14610
@zawasp yes, we need a hover state for widget.
@xiaofeng11  @liamcindy

[2015-12-08 10:03] zilongshanren commented on #14596
@vasyaPP
please check the latest v3 branch.

[2015-12-08 10:04] youlanhai commented on #8399
I have meet this issue too.
the document says that in CCPhysicsBody.h，either comparison results is non-zero, the event will be dispatched：

[code]

But the implement code in CCPhysicsWorld.cp, either the comparison results is zero, the event will be disabled:

[code]

I guess this is the bug，the code should be write like this:

[code]

change `||` to `&&`

[2015-12-08 20:55] kaplad commented on #14599
Android SDK ver 16 fixed it

[2015-12-09 02:29] 1078559858 commented on #14593
@xiaofeng11

[2015-12-09 03:02] xiaofeng11 commented on #14593
@weibobo I'm not familiar with Lua, could you make a simple test for us to test this issue?

For the reason why remove layer with a lot sprite before and after a new layer create has big performance difference, I think this maybe cause by auto release pool, If create layer first, the sprite need to be removed is at middle of auto release pool, remove these item may cause vector use more time to re

[2015-12-09 03:10] xiaofeng11 commented on #14610
@chengstory We need a product define of this feature, and decide when will it been add to engine

[2015-12-09 03:13] weibobo commented on #14593
@xiaofeng11, I don't think it's the auto release pool issue. The layer is removed in the next frame. I'll try to make a c++ test case, but i'm afraid the issue might be connected with lua binding.

[2015-12-09 03:18] xiaofeng11 commented on #14593
@weibobo Lua is binding from C++ code, you can make a lua test, we'll try to debug it in C++ level to check what's wrong. Thanks.

[2015-12-09 05:49] weibobo commented on #14593
@xiaofeng11 , hi, i create a simple repo.
1. create a lua project use version after 3.8.1, cocos new -l lua -d xx
2. becase we need socket.getime to do performance test, please replace one line in src/config.lua

[code]
1. replace src/app/views/MainScene.lua with the following code:

[code]

[2015-12-09 05:51] weibobo commented on #14593
@xiaofeng11 , After running this test case, you will see two buttons on the sceen, click it you will see the time delta on screen.
1. remove before use about 0.04s
2. remove after use about 0.12s

[2015-12-09 07:17] xiaofeng11 commented on #14593
@weibobo I've test it with version 3.9, the issue is exist, I'll try to solved it, please give me some time

[2015-12-09 07:19] michaelcontento opened #14618 "SocketIO: Automatically reconnect"
As [described here](http://socket.io/docs/client-api/#manager%28url:string,-opts:object%29), the official JS client of SocketIO comes with a quite simple solution to reconnect on connection lost.

It would be awesome if the cocos2dx native implementation of SocketIO would do the same and we could get a comparable behaviour between native and JS.

[2015-12-09 07:25] weibobo commented on #14593
@xiaofeng11, thanks, seems ccui.imageview is easy to create this problem. if i use the cc.sprite, the time also increase, but much less.

[2015-12-09 07:26] michaelcontento opened #14619 "SocketIO: Custom acknowledgements"
As [described here](http://socket.io/docs/#sending-and-getting-data-%28acknowledgements%29) SocketIO supports custom acknowledgements. It would be awesome if the cocos2dx native implementation of SocketIO would do the same and we could get a comparable behaviour between native and JS.

A possible API could look something like this:

[code]

For a server that does something like:

[code]

**NOTE**:

[2015-12-09 07:32] michaelcontento opened #14620 "SocketIO: Custom path"
As [described here](http://socket.io/docs/server-api/#server%28opts:object%29), the official SocketIO JS client is able to connect to a custom path on the server. It would be awesome if the cocos2dx native implementation of SocketIO would do the same and we could get a comparable behaviour between native and JS.

A possible API could look something like:

[code]

For a server like:

[code]

**NOTE

[2015-12-09 08:25] alankevin2 opened #14622 "CCEAGLView is not transparent"
Hi, I'm currently developer a Cocos2d-x Javascript project.
I was trying to use `VideoPlayer` and put it behind the cocos2d `GLView`, so I created a another `UIView` which index lower than cocos2d's.
The code in AppController.mm is:
![2015-12-09 4 19 50](https://cloud.githubusercontent.com/assets/8981679/11680063/b49714c0-9e90-11e5-955d-c91a49ec39d1.png)

(aaa is the `UIView` I will put `VideoPlay

[2015-12-09 09:21] #12249 closed, assigned to yangws

[2015-12-09 10:26] michaelcontento opened #14623 "SocketIO: Emit JSON"
Currently it's not possible to emit JSON with the native implementation of SocketIO.

With the official JS client I can emit JSON like:

[code]

And this is what the server will receive.

[code]

The cocos2dx implementation only supports `std::string` as argument and this:

[code]

Will lead to:

[code]

This is a bit annoying, as, on the server, I need to call `JSON.parse` manually **AND** the se

[2015-12-09 10:35] #14596 closed, assigned to nobody

[2015-12-09 10:35] zilongshanren commented on #14596
@vasyaPP
It is already fixed in upstream v3.

[2015-12-09 10:37] vasyaPP commented on #14596
@zilongshanren yes, I checked latest v3 branch (2251b529290be72c05938c25b363cb0986ed2257). I can confirm that there are no problems with cloning Button widget with 9-scale enabled option on current development branch.

[2015-12-09 11:20] michaelcontento opened #14625 "SocketIO: Receive JSON"
This issue is very similar to #14623, but can be solved independently.

Currently it's impossible for the `SIODelegate` to distinguish if the client has sent a plain string or a serialized (JSON) object.

As a example I'm sending this with the official JS client:

[code]

And with a delegate like:

[code]

The log will contain:

[code]

A possible solution for this could be to add another paramete

[2015-12-09 16:27] thuydx55 opened #14627 "Cannot find file path with capitalize letters in file name and folders"
## Android

Uncomment this line and found some logs but file is existed
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/android/CCFileUtils-android.cpp#L175

[2015-12-10 02:04] #14589 closed, assigned to nobody

[2015-12-10 09:02] xiaofeng11 commented on #14593
@weibobo I've do many profile test for this issue. The most cost operation beside drawing is in vector operation. And in the sample you provide, "oldlayer" hasn't init when program start, we notice first time whatever "add before" or "add after" operation will use slight more time, after analysis, we think the performance issue has follow reason:
1. The first time add new layer use slight more tim

[2015-12-10 10:12] weibobo commented on #14593
@xiaofeng11, thanks, I still think there is a bug. we can skip the first time, and focus on the regular add and remove.
I have few questions:
1.   In "remove after", actually <strong> the new layer has not beened added yet. It's only been created.</strong>You can see the repo.
2.  In "remove after", the old layer has been removed before draw,  so it will not affect "draw" . And the performance log

[2015-12-10 10:26] weibobo commented on #14593
In our project, remove a layer need about 0.4-0.5s. It's too long for a mobile game.

[2015-12-10 10:29] weibobo commented on #14593
Is there a vector include all the nodes in all layer? could u tell me which one?

[2015-12-10 10:36] xiaofeng11 commented on #14593
@weibobo removeFromParent is not only remove layer, but also will remove it's 300 hundred imageView child from autorelease pool, enum so many item from vector to release and then delete them from vector consume many cpu time.

All binding object created by create function is marked as auto-release object and will be add to auto release pool. You may refer CCAutoreleasePool.h & CCAutoreleasePool.cp

[2015-12-10 10:57] weibobo commented on #14593
@xiaofeng11,  Looks like it's the auto release pool issue, in void Ref::release(). After remove this line, the time drops, thanks.
if (!poolManager->getCurrentPool()->isClearing() && poolManager->isObjectInPools(this))

[2015-12-10 11:08] #14593 closed, assigned to nobody

[2015-12-10 12:55] Odinysus commented on #13816
thanks for your report! it help me much!

[2015-12-11 02:20] alankevin2 commented on #14622
Found out the answer...
find `cocos2d::Director::getInstance()->setOpenGLView(glview);` in AppController.mm
and add this line:
`cocos2d::Director::getInstance()->setClearColor(cocos2d::Color4F(0, 0, 0 , 0));`

[2015-12-11 06:32] #14622 closed, assigned to nobody

[2015-12-11 07:13] iWoz opened #14646 "Is there any way that Box2d will bind to Lua?"
Currently, I used LiquidFun which based on Box2d to simulate liquid effect in my game.

It seems Box2d isn't bind to Lua yet.

And I tried to make a new gen binding ini configure file for LiquidFun, which gives me an error: `The namespace (b2Shape::Type) conversion wasn't set in 'ns_map' section of the conversions.yaml`

How do I solve this error? And is there any quick and easy way that could I b

[2015-12-11 09:15] InfResearch opened #14647 "CCSprite setSpriteFrame crash when spriteFrame==nullptr"
void Sprite::setSpriteFrame(SpriteFrame *spriteFrame)
{
    // retain the sprite frame
    // do not removed by SpriteFrameCache::removeUnusedSpriteFrames
    if (_spriteFrame != spriteFrame)
    {
        CC_SAFE_RELEASE(_spriteFrame);
        _spriteFrame = spriteFrame;
        spriteFrame->retain();
    }
    _unflippedOffsetPositionFromCenter = spriteFrame->getOffset();

[code]

}

If the user

[2015-12-11 13:24] youlanhai opened #14649 "Bug for PhysicsBody rotation"
After rotated a node by any degree(!=0), and then add a PhysicsBody component to it, the rotation angle of the PhysicsBody was not equal to the node. I found that the following code was incorrect, the function call `setRotationOffset`should be changed to `setRotation`.

[code]

The following is Chinese translation:
将一个结点旋转任意角度，然后给他添加上矩形刚体组件，结果刚体的旋转角度与结点不一致。经过调试，我发现添加刚体组件的时候有段代码写错了，可能是作者的笔误，把`setRo

[2015-12-12 12:32] skyblue197 commented on #11108
nim na nu sa rang hae

[2015-12-13 11:30] Shulepov opened #14658 "Crashes on iOS 7 and iOS 9"
http://discuss.cocos2d-x.org/t/app-crashes-on-ios9-cocos2dx-2-2-6/25527/5

It crashes a lot on iOS 7 and less often on iOS 9 due to gpus_ReturnNotPermittedKillClient.
I'm receiving thousands оf crash reports from crashlytics for several games (cocos2dx v3.7 & v3.8).
Unfortunately i don't have iOS 7 device so can't reliably reproduce this issue, on my iOS 9 devices i have seen it only once.

[code]

[2015-12-13 21:58] stevetranby commented on #14647
These type of checks are always a little tricky since you don't want to slow down performance-critical code paths. Curious of other's opinions. It's annoying to have to check outside the method, but often you only need to check during development or if there are resources not included as part of the app package.

[2015-12-14 02:38] fuyifan opened #14664 "NewAudioEngine bug after incoming call still exist (ios)"
After the incoming call, if you refuse the call, the audio can resume normally. However, if you ANSWER the call and after several seconds finish the call, the audio will not resume any longer.

[2015-12-14 02:39] fuyifan commented on #14664
@pandamicro @WenhaiLin Please make your test.

[2015-12-14 08:55] super626 commented on #14306
thanks @1078559858

[2015-12-14 11:45] fuyifan commented on #14425
I found the clue to re-produce  this problem. Just try to play a big enough sound file and invoke cocos2d::experimental::AudioEngine::end(). However, if I invoke stopAll() first followed by end(), everything seems to be OK. @pandamicro @WenhaiLin

[2015-12-14 12:30] vladpazych opened #14675 "[Question] Totally confused with GlobalZOrder"
Hello.

I have nested tree:

[code]

I get this:
![Screenshot](http://s7.postimg.org/75r1xmb3r/Screenshot_2015_12_14_14_21_19.png)

How can I put blue square behind others, without changing my tree to make it look like this:
![Screenshot](http://s12.postimg.org/6kz2bqnjt/Screenshot_2015_12_14_14_25_06.png)

I can't understand how to use `setGlobalZOrder()`, because this does nothing:

[code]

[2015-12-14 13:43] cezheng opened #14677 "Downloader on iOS 9 treats 403 Forbidden response as success"
This bug is due to a change of behaviour of NSURLSession on iOS 9 runtime.
### How to reproduce

Create a file task with a URL pointing a non-existing resource on an existing server, and the server should return a 403 status code.
Our server also returns a response xml string like this:

[code]
### Result

On iOS 8, this response will pass a `You do not have permission to access the requested reso

[2015-12-14 14:42] sbrednikhin opened #14678 "What is the difference between ProgressTimer::setReverseProgress and ProgressTimer::setReverseDirection"
Methods looks to do same thing by bit little different ways. Shouldn't one of than be deprecated or something?

[2015-12-14 16:25] CodeAndWeb opened #14679 "Immediate crash during init with 2 monitors connected to iMac"
I have a crash directly while launching the "hello world" app on my iMac.

Cocos2d: 3.9
XCode: 7.2
MacOS: 10.11.2
Hardware: Retina iMac 27", 2nd Monitor

The app runs without any problems as soon as the second monitor is disconnected.

The code that's executed until the crash:

Main:

[code]

AppDelegate: initGLContextAttrs

[code]

AppDelegate: applicationDidFinishLaunching

[code]

The rest is i

[2015-12-14 16:35] CodeAndWeb commented on #14679
Update: The crash only happens when the displays are in mirror mode.
I also assume that it's a MacOS problem and not cocos2d-x.

[2015-12-14 21:38] stevetranby commented on #14439
I would think as long as the default is to have autocorrect turned off then it would be fine to support it and allow the developer to enable it.

[2015-12-15 01:54] zilongshanren commented on #14675
@vladpazych  image broken?

[2015-12-15 04:19] iNeverSleeeeep opened #14682 "ScrollView点击会透过当前层传到下一层"
cocos2d-x/extensions/GUI/CCScrollView/CCScrollView.cpp

[code]

在scrollView上滑动的时候触摸事件会传到下一层，这个是设计就如此吗？是为什么呢？

[2015-12-15 06:33] zilongshanren commented on #14682
@iNeverSleeeeep
This is a very old GUI control. I'm not sure whether it is designed by this.
We could discuss it.

[2015-12-15 06:57] kiranb47 opened #14685 "Issues with new Label on Nexus 6P - Huge FPS drop & Lag"
The problem is with new label system. No issue with old LabelTTF. Getting 60fps

We tested new Label with TTF & BMFont. Both have FPS issue.

ui::TextBMFont, ui::Text & LabelBMFont also have the same fps issue.

http://discuss.cocos2d-x.org/t/serious-lag-fps-issue-on-nexus-6p-marshmallow/25622

[2015-12-15 08:35] vladpazych commented on #14675
@zilongshanren weird, I saw it. Anyway - image is updated.

[2015-12-15 09:05] stefan80 commented on #14057
Any update? Please have a look into this issue...

[2015-12-15 09:23] #14306 closed, assigned to nobody

[2015-12-15 11:32] iNeverSleeeeep commented on #14682
不好意思，我不知道你说we指的是和我讨论还是其他人，所以先发表一下自己的拙见。
我觉得增加取得_touchListener的方法就可以解决这个问题。
因为我创建了scrollView之后可以透过scrollView滑动下一层，有些反直觉，而我又不能修改这种表现，所以觉得很奇怪。

[2015-12-15 14:28] emmychen opened #14693 "v3.9 javascript EditBox shows the capital letter keyboard on iOS"
The editbox in extension displays the capital letter keyboard on IOS as the default.   Please fix it asap.  Thanks

[2015-12-16 02:37] LVWC commented on #14381
同问，我的表现是字母及数字均不可输入。安卓版uc浏览器 UCBrowser/10.9.0.703，ios的uc测试正常

[2015-12-16 02:38] zilongshanren commented on #14685
@WenhaiLin please take a look at this issue.

[2015-12-16 06:31] 1078559858 opened #14700 "BUG:AssetsManagerEx download list file too much"
i cann't download more than 512 files in windows through AssetsManagerEx ,but ios platform and android platform is ok, how can i solve it ? thanks

[2015-12-16 06:32] 1078559858 commented on #14700
@chengstory

[2015-12-16 07:00] WenhaiLin commented on #13846
Fixed at https://github.com/cocos2d/cocos2d-x/pull/14701

[2015-12-16 08:29] 1078559858 commented on #14700
it is a bug in 3.8,but repaired in 3.9,

[2015-12-16 08:29] #14700 closed, assigned to nobody

[2015-12-16 10:08] qinning opened #14703 "call removeTexture, memory can not be released."
when I call Director::getInstance()->getTextureCache()->removeTexture(key), if texture format is png, memory will not be released. if format is jpg, memory can be released.

[2015-12-16 10:19] qinning commented on #14703
I only call Director::getInstance()->getTextureCache()->addImage(key), and didn't call any other functions. so I think this may be the engine's problem.

[2015-12-16 10:51] InfResearch commented on #14647
Eh，it hard to debug when i use Lua

[2015-12-16 16:22] TheSachin opened #14705 "AutoPolygen should support reading sprites from spriteFrameCache"
So far `AutoPolygon` supports creating from sprites,but since in most production games sprites are loaded from plist,It is only logical that we also have option of creating Polygon Sprites using `SpriteFrameCache`

[2015-12-16 17:09] Leandros opened #14706 "Presenting Android Java activity results in messed up render state"
I'm presenting a native fullscreen Java activity on top of the cocos2dxactivity. That works fine, however, when I dismiss the activity the renderer seems to mess up the game (mainly missing fonts, but on some devices it also shows random assets fullscreen).

Works fine on iOS, seems to be an Android renderer issue. I tried pausing the mainloop it before displaying the activity, and unpausing after

[2015-12-16 17:11] AIGRIND-LLC commented on #12406
@pandamicro @zilongshanren what about this bug guys?
In v3.9 ui::Text can't still be completelly cloned.

[2015-12-16 22:43] Avanteobaidi commented on #8546
I have Added Impl but still got problem with my GLVie, this is my appDelegate to have a look :
#include "AppDelegate.h"
#include "SplashScene.h"

// is the game landscape or portrait (true for landscape and false for portrait)
#define IS_LANDSCAPE false

USING_NS_CC;

AppDelegate::AppDelegate() {

}

AppDelegate::~AppDelegate()
{
}

bool AppDelegate::applicationDidFinishLaunching() {
    // initia

[2015-12-16 23:08] letzgame commented on #14309
@cpascal
Any updates about issue?

EDIT:
I think this PR #14542  has already fixed this issue

[2015-12-17 01:26] zilongshanren commented on #12406
@AIGRIND-LLC
It's fixed at v3.10

[2015-12-17 01:53] #12406 closed, assigned to zilongshanren

[2015-12-17 01:55] zilongshanren commented on #12406
https://github.com/cocos2d/cocos2d-x/pull/14639

[2015-12-17 03:08] 1078559858 opened #14711 "ios上3d模型加光照与listview冲突，死机"
场景包含3d模型和一个pannel，pannel里面有两个listview，listview都有clip属性，有studio生成。还有光照和相机，应用一打开没有3d模型，这时应用正常。当添加一个3d模型时，系统死机。出错位置在：UIlayout.cpp

原因：在ios上对opengl检查比较严，其他平台没有这么严格的，glBindbuffer必须配对。

CCVertexAttribBinding.cpp里面

[code]

[2015-12-17 03:09] 1078559858 commented on #14711
@xiaofeng11

[2015-12-17 03:17] xiaofeng11 commented on #14711
@liamcindy @super626 Please take a look on this issue

[2015-12-17 08:19] JourneyHans opened #14714 "ui::Checkbox inside ui::Scrollview bug"
如果在ui::ScrollView中放ui::CheckBox，点中ui::CheckBox滑动后，会滑动ScrollView，而松手后依然会出发ui::CheckBox事件。
3.2上没有这个问题，3.2和3.8的ui::Button不会出现这种问题。查看了下3.8的源码，发现CheckBox做了较大修改，现在继承自AbstractCheckButton而不是直接继承自Widget，并且重写了onTouchEnded这个函数，这样点击事件似乎就绕过了Widget，直接由CheckBox自身做处理，没有像以前那样做是否“打断”的判断。

[2015-12-17 11:17] AIGRIND-LLC commented on #12406
Great!

[2015-12-17 17:58] kiranb47 commented on #14685
Just tested on Motorolla Nexus 6 & Samsung S6 edge.

Motorolla Nexus 6 has same issue exist.

No issue on S6 edge.

[2015-12-17 21:35] newnon commented on #14549
done in https://github.com/cocos2d/cocos2d-x/pull/14729

[2015-12-17 22:41] newnon opened #14730 "SpriteBatchNode crash if CC_SPRITE_DEBUG_DRAW enabled"
enable CC_SPRITE_DEBUG_DRAW will crash test with SpriteBatchNode nodes

[2015-12-18 02:02] semgilo opened #14731 "When i used Scale9Sprite by spriteframe will got a gap"
cocos2dx 3.6
when i didnt use spriteframe it was right
The gap will vary with movement
like this :
![image](https://cloud.githubusercontent.com/assets/7121873/11887339/30dc717c-a56e-11e5-9eb2-607ed46aad63.png)
![image](https://cloud.githubusercontent.com/assets/7121873/11887346/471cf722-a56e-11e5-94bf-e876ae264692.png)

And I 've seen a pixel BUG, this is not the same

[2015-12-18 04:49] nbtthief opened #14732 "GLViewImpl::createWithRect for Window Desktop, the height is limited at 883.000f with v3.9"
Hi,

When i use GLViewImpl::createWithRect(name, Rect(0,0,width,height)) to create a game window (for testing many resolution look purpose. While the width is changed as i wants, the height is limited at 883.

For example: with width = 640, height = 480 => getFrameSize() will get the result:  width = 640, height = 480.
But  width = 640, height = 960  => getFrameSize() will get the result:  width =

[2015-12-18 05:40] ghost commented on #14705
Maybe https://github.com/cocos2d/cocos2d-x/pull/14049

[2015-12-18 08:38] WenhaiLin commented on #14685
I can't recreate the problem on Nexus 6 with Android 5.1. @kiranb47  Which os version you meet this bug?

[2015-12-18 09:06] madlexus commented on #14675
The global z order is affecting only for Sprite objects.

[2015-12-18 10:10] kiranb47 commented on #14685
Android 6.0.1 Marshmallow

[2015-12-18 11:37] vladpazych commented on #14675
Ok, thank's. Make sense.

[2015-12-18 11:37] #14675 closed, assigned to nobody

[2015-12-18 18:03] StreakyGames opened #14737 "Assert attempting to play background music for 2nd time (win8.1-universal project)"
Using Cocos2d-x v3.9

Run my game...music plays smile
(quit game)
Run my game again...assert!!!!!!!!!!!!

The game will NOT play music until I rename the audio file or rename the folder it's in (eg. Resources/Audio/music.wav to Resources/WTF/music.wav), obviously I rename the filename/path within the code to reflect this change.

After renaming, it'll run once, then everytime after....assert!!!!

[2015-12-19 04:08] youlanhai opened #14738 "Bug for convert std::string between C++ and Lua, the binaray string will be cut off."
**BUG**
`tolua_pushcppstring` just convert the `str.c_str()` to function `lua_pushstring`,  and the `lua_pushstring` use function `strlen` to get the length of the string. Consider that the `str` is a binary string and contains '\0', the whole string will be cut off during the conversion. The behaviour of `tolua_tocppstring` is same as `tolua_pushcpptring`.

**SOLUTION**
Modify `tools/bindings-gen

[2015-12-19 05:20] tangyiyang opened #14741 "BUG of UIEditBoxImpl-mac, should consider glview scale."
if we change the glview size at the runtime.
such as using the cocos player. please fix this :)

https://github.com/cocos2d/cocos2d-x/blob/c77ea57fb13bf7d889582244e865fa38bf854fbc/cocos/ui/UIEditBox/UIEditBoxImpl-mac.mm#L563

the right way

[code]

[2015-12-19 06:19] tangyiyang commented on #14741
some update,
we may also need to set the fontsize if we change the openglviewsize.

[2015-12-19 14:34] kienvn commented on #14490
Yes, really too slow

[2015-12-19 20:40] Shulepov opened #14749 "cocostudio on mac: issue with percentage positions and sizes (c++)"
When positions or sizes set to percentages them are rounded down.

E.g. if it set to 250% it will be rounded to 200%, if it set to 75% - it will be rounded to 0%.

http://discuss.cocos2d-x.org/t/cocostudio-percentage-positions-and-sizes-issue/25739

cocostudio 2.3.3
cocos2d-x 3.9
mac os x

[2015-12-19 20:59] stevetranby commented on #14705
That PR is a different workflow from the OP I think. However, does calling setSpriteFrame on a sprite  allow the AutoPolygon to run after it has been updated? If so then that would solve it albeit with a slightly less easy API.

[2015-12-20 08:42] newnon opened #14754 "Migrating to chipmunk 7.x"
what about to migrate to chipmunk 7.x it is a bit faster & give some additional features, i have already use it with cocos in https://github.com/cocos2d/cocos2d-x/pull/10838 i can make new request to only v3 with chipmunk 7.0 support

[2015-12-20 11:49] newnon opened #14756 "Update WebP to 0.5.0"
New versions is much faster than old ones.

[2015-12-20 12:24] Shulepov commented on #14658
I have discovered that those crashes appear on the launch: after applicationDidFinishLaunching but before appDidBecomeActive.

[2015-12-20 13:18] zilongshanren commented on #14754
I'm fine with upgrading to chipmunk 7.x.
What's your opinion? @ricardoquesada

[2015-12-20 13:19] zilongshanren commented on #14756
@newnon
Thanks, We will consider to upgrade in the next release.

[2015-12-20 13:20] zilongshanren commented on #14714
@JourneyHans
Thanks, I will check the issue.

[2015-12-20 13:21] zilongshanren commented on #14741
@tangyiyang
um.. It's time to update EditBox on Mac now.

[2015-12-20 14:15] TheSachin opened #14757 "On buil should cocos2d-x merge all sprites into single spritesheet?"
I don't know if Cocos2d-x does it or not, but since Spritekit does it maybe we as well should do it?

[2015-12-21 03:35] kiranb47 commented on #14685
@WenhaiLin Any update on this?

[2015-12-21 03:38] dannyjiajia opened #14762 "[3.9]win10 uwp x64 compile error"
C2664   “void cocos2d::GLView::handleTouchesBegin(int,intptr_t [],float [],float [])”
convert "int *" to “intptr_t []” in "CCGLViewImpl-winrt.cpp"

[2015-12-21 03:40] stammen commented on #14762
There currently is no support for x64 on WIndows 10 UWP builds. Only arm and win32.

[2015-12-21 07:27] dannyjiajia commented on #14762
@stammen thanks :)

[2015-12-21 07:28] #14762 closed, assigned to nobody

[2015-12-21 14:54] sbrednikhin opened #14771 "Support of press action is strongly needed in cocosstudio."
_pressedActionEnabled field in ui::Button doesn't supported in cocosstudio editor and runtime.
This feature can be very helpful when you need to do resources as small as possible. Each button needs at least 2 images without using of press action. Using pressed action can reduce it to one.

[2015-12-21 18:23] david899 opened #14772 "Problem with build cocos2d on windows 10"
I followed this tutorial:
https://blogs.windows.com/buildingapps/2015/06/15/running-cocos2d-x-on-windows-10/
but as you can expecte did not successfully ends... Here is screenshot(http://prntscr.com/9gw5c7) after about 2 - 3 minute build (I think it might download some file). And here is full report:
http://pastebin.com/n9gdhtef
Anyone could help?

[2015-12-21 19:15] stammen commented on #14772
x64 builds are currently not supported. Please try win32 or arm.

[2015-12-21 21:34] david899 commented on #14772
I cannot beleve it was so easy! Thank  you very much!

[2015-12-21 21:34] #14772 closed, assigned to nobody

[2015-12-21 22:12] ricardoquesada commented on #14754
+1 for that. thanks.

[2015-12-21 23:41] hgokturk opened #14774 "File Dialog"
For some games, we may want to let players choose avatar from their gallery and then upload it. And as far as i know, no such functionality exists in Cocos2d-x yet. I guess it would be handy.

[2015-12-22 01:54] zilongshanren commented on #14771
@xiaofeng11
please check.

[2015-12-22 02:21] xiaofeng11 commented on #14771
@chengstory @liamcindy Please take a look on this requirement.

[2015-12-22 04:10] idevnote commented on #13139
The size is 100, 30 and the maxlength is 300, if the width of text beyond the 100, the cursor should update the the text end, but the cursor does not move to end.

local editbox_chat = ccui.EditBox:create(cc.size(100, 30), "Images/arrowsBar.png", 0)
editbox_chat:setReturnType(cc.KEYBOARD_RETURNTYPE_DONE)
editbox_chat:setPlaceHolder("请输入聊天内容")
editbox_chat:setFontColor(cc.c3b(122, 117, 107))
editbo

[2015-12-22 04:13] idevnote opened #14775 "EditBox cursor location not update"
The size is 100, 30 and the maxlength is 300, if the width of text beyond the 100, the cursor should update the the text end, but the cursor does not move to end.

local editbox_chat = ccui.EditBox:create(cc.size(100, 30), "Images/arrowsBar.png", 0)
editbox_chat:setReturnType(cc.KEYBOARD_RETURNTYPE_DONE)
editbox_chat:setPlaceHolder("请输入聊天内容")
editbox_chat:setFontColor(cc.c3b(122, 117, 107))
editbo

[2015-12-22 08:00] #14549 closed, assigned to zilongshanren

[2015-12-22 08:52] vitalyrovny commented on #14771
+1 to press action support

[2015-12-22 10:19] Shulepov commented on #14749
I have create sample item (just a layer with panel inside):
thats an original [item.csd](https://drive.google.com/file/d/0B57I5HkCCoJ3Z0xDbFJTc05hNUk/view?usp=sharing)
and that a published one - [item.csb](https://drive.google.com/file/d/0B57I5HkCCoJ3SEFybUJiZ3ZtR28/view?usp=sharing)

Layer has size 120x120.
Panel has percentage size (50%, 100%).

if you just add **item.csb** onto the screen - it

[2015-12-22 10:33] Shulepov commented on #14749
Also noticed weird behavior for MainScene that created when starting new project in cocostudio:
- if run this project without any modifications - "HelloWorld" sprite will appear as intended;
- but if publish this project - and run again - sprite will have anchor point **(0, 0)** at runtime instead of **(0.5, 0.5)** that is specified in cocostudio.

So there is possibly some issue with Cocostudio f

[2015-12-22 17:44] StreakyGames commented on #8519
It's nearly 2016 and this bug still exists in Cocos2d-x v3.9.

I have a Nokia Lumia 520 running W8.1, it has a screen resolution of 480x800.
Yet cocos2d::Director::getInstance()->getOpenGLView()->getFrameSize() returns 400x667 :(

[2015-12-23 04:51] 0xJimmyBeh commented on #14774
@hgokturk

Here is the Image Picker you need which working with Cocos2d-X.
I'm using it with Cocos2d-JS v3.6 and v3.8.1.

https://github.com/qiankanglai/ImagePicker

Unfortunately, Cocos team don't want to add this functionality into their engine long time ago as not much people request this function.

[2015-12-23 17:16] Shulepov commented on #14749
Actually issue was in system language and in used delimiter for numbers. It works incorrectly when used 'comma' as delimiter. After changing system language to english it started to work correctly.

[2015-12-23 17:16] #14749 closed, assigned to nobody

[2015-12-24 07:01] LingJiJian opened #14796 "label can not view normal"
转：http://www.cocoachina.com/bbs/read.php?tid-316931-keyword-label.html

不知道新版本改没有改，3.5以下肯定都有这个问题，看到论坛好多人在问，都没有人解答，我遇到这个问题的时候也找了两天。
1：这个可能是字符编码问题，如果字符编码已经正确了。
2：还有个问题就是使用TTF字体导致的，即CCLabel的实现有bug，在缓存纹理超过512*512大小的时候，新开辟字符缓存的时候会出问题，这时需要修改CCLabel.cpp源码
在Label::alignText函数的auto textures = _fontAtlas->getTextures();这行代码下面添加以下代码：
for (auto index = 0; index < _batchNodes.size() && index < textures.size();

[2015-12-25 07:23] #13994 closed, assigned to chengstory

[2015-12-27 21:02] AIGRIND-LLC commented on #14473
@zilongshanren, @pandamicro, Is CocosStudio development closed?
Actually at this moment CocosStudio is the only UI editor for cocos2d-x and it supports only 50% of UI API from the engine itself. Moreover there are a lot of opened issues related to CocosStudio which were opened long time ago and had no any result.
It would be more effective if it was opensource so we could make a lot of improvement

[2015-12-28 01:35] zilongshanren commented on #14473
@AIGRIND-LLC  No, CocoStudio is still under development.
I will forward your request to the CocoStudio team.
Thanks.

[2015-12-28 08:50] jgcoded commented on #8399
@youlanhai, I just faced the exact same problem and your solution worked. I can't believe this bug has been there for the past two years. It makes you wonder what else is wrong with cocos2d-x. I'm going to switch over to Box2D to avoid any more of these headaches.

[2015-12-28 09:19] ciniao commented on #14424
cocos2d-x 3.9 is not support iOS 6 and iOS 6.1 anymore?

[2015-12-28 09:21] fatfatson commented on #14711
看标题好搞笑。。。

[2015-12-28 09:55] 1078559858 commented on #14424
@chengstory

[2015-12-28 09:55] 1078559858 commented on #14424
@chengstory

[2015-12-29 08:32] gaoshaoliang commented on #14464
I also get this issue; I added this code "cc.ActionInterval.extend = cc.Class.extend;" before extending the action interval class,but I got an error "cc.ActionInterval.prototype.ctor is undefined".And how did you solve this issue?

error:
JS: F:/workspaces/cocos2d-js/GameDemo/GenZhePao/Demo_4_2_IDEA/runtime/win32/../../src/Utils/ShapeCollision.js:440:TypeError: cc.ActionInterval.prototype.ctor is

[2015-12-29 10:21] shinexia opened #14812 "cocos studio 导出的lua文件无法使用"
cocos stutio: 2.3.3
framework: 3.9

官方论坛给的方法只针对老版本，3.9无论怎么试都运行不了

Decoda 调试信息信息如下
src/main.lua
![DEBUG](http://www.technote.io/images/debug.jpg)

res/ 下有如下文件
HelloWorld.png
LuaExtend.lua
MainScene.lua

[2015-12-29 10:50] dongtaohan commented on #14812
上面的代码段是不正确的，ret['root'] 是个 cc.Node 不是 cc.Scene. 可以新建一个 Scene 去承载它。
可以试试把 display.*\* 这一行替换为：
local scene = cc.Scene:create()
scene:addChild(ret['root'])
cc.Director:getInstance():runWithScene(scene)
不推荐直接这么加载。
推荐 http://www.cocos.com/doc/article/index?type=Cocos%20Studio&url=/doc/cocos-docs-master//manual/studio/v4/chapter3/HowToCode/LoadExportData/zh.md 中的 加载lua 段 中的加载方式。

[2015-12-29 12:11] shinexia commented on #14812
原来如此，导出的代码用是用Scene命名的，就没注意，非常感谢！

[2015-12-29 12:11] #14812 closed, assigned to nobody

[2015-12-30 14:25] Obg1 commented on #8533
Is there a fix for this issue?

[2015-12-31 03:00] 1078559858 opened #14819 "BUG: clippingnode with switch scene"
when i swithc scene using clipnode ,then the clipping layer will appear,
i using Cocos2d-x 3.8 c++ in ios.
thanks!

[2015-12-31 09:25] umair6 commented on #10965
I am still able to reproduce this issue. If you do not pick the call and calling person drops it, then when you get back to your game all current sounds get stopped.

[2015-12-31 09:55] chenhaobright commented on #13581
samsung s6 edge , android5.1 , can reproduce this issue.

[2016-01-01 13:30] lannes opened #14821 "ClippingNode version 3.9 error on windows phone 8.1"
crash app when use ClippingNode vesion 3.9 on windows phone 8.1

[2016-01-02 02:39] jgcoded commented on #14149
I don't know the answer to your problem, but I am using MotionStreak in my game. I'm using cocos2d-x v3.9 and so far I haven't experienced any crashes. Maybe v3.9 fixed it? Try it and let me know

[2016-01-04 06:07] 1078559858 opened #14824 "rapidJson crash in iphone4s when CCDictionary change string"
cocos2d-x v3.9 c++

rapidjson::StringBuffer buffer;
    rapidjson::Writerrapidjson::StringBuffer writer(buffer);
    value->Accept(writer);

when CCDictionary  change string  it will be crash in real-phone ,For example,iPhone4s，ipad min2.
it crash in "value->Accept(writer);"
but the crash don't happen in simulator.

从CCDictonary转string，在模拟器中能够正常的运行；但是在真机中会Crash在    value->Accept(writer);
@xiaofeng

[2016-01-04 06:20] xiaofeng11 commented on #14824
请提供一个测试例进行调试，谢谢。

[2016-01-04 06:26] #14821 closed, assigned to nobody

[2016-01-04 06:30] lannes opened #14825 "ClippingNode version 3.9 cocos2d-js error on windows phone 8.1"
crash app on windows phone 8.1 when use ClippingNode of version cocos2d-js 3.9

[2016-01-04 06:59] UKDeveloper99 opened #14826 "TriangleCommand can't have custom VBO/VAO"
TriangleCommand can't have custom VBO/VAO, Renderer class creates the VBO/VAO and unable to supply a different one.

Can't use custom vertex attributes because of this.

CCASSERT(glProgramState->getVertexAttribsFlags() == 0, "No custom attributes are supported in QuadCommand");

See http://discuss.cocos2d-x.org/t/mesh-with-verts-and-colors/25503/4

@ricardoquesada

[2016-01-04 07:46] LongJDoing commented on #14824
https://github.com/LongJDoing/Question_Demo 里面创建字典；我的数据类似它提供的；通过KSCCJsonRapid类，实现转化的过程，模拟器中可以实现；真机中不可以

[2016-01-04 08:34] next2016 commented on #14477
@wayne5ning 的方法，好像不行，我试过后，还是不能隐藏

cocos2d-js version: v3.9
ios verion: 9.2

[2016-01-04 08:50] xpol opened #14827 "[Android] It is silly when set EditBox::setVisible() will also toggles keyboard."
in function `public static void setVisible(final int index, final boolean visible)`

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/android/java/src/org/cocos2dx/lib/Cocos2dxEditBoxHelper.java#L311-L317

[code]

Set visibility of EditBox will also toggles keyboard. We should not do this, see the follow scenario:
- I have a EditSettingsDialog with 2 EditBox: `a` (single line edit) and

[2016-01-04 10:16] xiaofeng11 commented on #14824
@LongJDoing 这个是你的转换代码里面的问题，和2dx引擎无关。下面这个函数
CCString\* KSCCJsonRapid::jsonStringFromDictionary(CCDictionary *dic)
{
    rapidjson::Value *value = KSCCJsonRapid::jsonValueFromDictionary(dic);
    rapidjson::StringBuffer buffer;
    rapidjson::Writerrapidjson::StringBuffer writer(buffer);
    value->Accept(writer);
    std::string jsonString = buffer.GetString();
    delete value;
    return CCString

[2016-01-04 10:56] Leandros commented on #14706
Push :up:

[2016-01-04 12:10] ricardoquesada commented on #14149
@iPruch Thanks for the detailed bug report, but I will need a test case... a project that reproduces the bug. Otherwise it will be very difficult to fix it.

[2016-01-04 12:48] Leandros commented on #14706
An Imgur album to show what the bug produced: http://imgur.com/a/gNRUz

[2016-01-04 13:11] iPruch commented on #14149
@jgcoded I updated the project to v3.9 some weeks ago, but sadly crashes are still present.

@ricardoquesada I'd create a test case or sample project if I knew what on the world is happening there...  But I'll try and come back here if I manage to reproduce it.

Thank you both for your suggestions!

[2016-01-04 14:02] FernandoB opened #14829 "Shader setUniform not working with JSBinding"
I made this simple app to test shaders setUniform.
I'm working with cocos2d-js 3.9, the problem happens when compiling the native version of iOS.

The javascript code is the following:

[code]

The problem is with the uniform `color_m` in the fragment shader, the code is:

[code]

which in browser shows:

![screen shot 2015-12-28 at 11 05 00 am](https://cloud.githubusercontent.com/assets/1079323/1

[2016-01-04 14:05] edmundmk opened #14830 "cocos run -p mac does compile work even when no file has changed."
Downloaded 3.9, following the instructions:

[code]

Now invoke:

[code]

again, and the xcodebuild process will re-run libtool on the cocos libraries, process the plist, link the app, copy resources, touch the app bundle, and 'register with launch services'.  This takes much longer than it should, considering the app is already built and no source file has changed.

This happens every time.

Runn

[2016-01-04 14:46] seivan opened #14831 "Sample for better controller input handling"
I wrote this https://gist.github.com/seivan/2d8ee225e0310ccec277 for unifying methods for managing input.
It could be better than the current touch systems implemented and avoid the bug with two events on left-clicking if the code implemented both mouse and touch.
This makes it more agnostic.

[2016-01-04 15:39] iPruch commented on #14149
Well... I don't know what has changed between the last time I tested it and now, but I'm unable to reproduce these crashes again. Unfortunately, now I'm getting crashes related to the particle system, which I didn't experienced before. I replaced the ParticleSystem classes of the project with Cocos2d-x 3.8.1 versions and now it all seem to work.
I'd really like to know what was causing those crash

[2016-01-04 15:39] #14149 closed, assigned to nobody

[2016-01-04 19:08] edmundmk commented on #14830
At project_compile.py:826 there's code to remove the previously built .app on every build:

[code]

And after the build itself there's code to remove the .a files, forcing Xcode to rearchive them at the start of the next build:

[code]

Is this intended?  Should I be using something other than `cocos compile` and `cocos run`?  Rebuilding the .app package every time I want to run my app is a _big_

[2016-01-05 02:08] LongJDoing commented on #14824
@xiaofeng11 谢谢你，是我自己大意了；经过修改OK

[2016-01-05 02:12] xiaofeng11 commented on #14824
@LongJDoing 不客气，问题解决这个讨论我就先关闭了

[2016-01-05 02:12] xiaofeng11 commented on #14824
Not cocos2dx issue.

[2016-01-05 02:12] #14824 closed, assigned to nobody

[2016-01-05 02:36] liuyi opened #14835 "[BUG] ClippingNode or ScrollView show green rectangle, when transition scene [in cocos2dx 3.8-3.9]"
COCOS2DX 3.8  tested on IOS\ANDROID

An green rectangle would be shown, and the layers which under the ClippingNode or ScrollView  all are disappeared.

Here is a simple code:
In SceneA(current scene):

var loadingProgress = new cc.Sprite(cc.spriteFrameCache.getSpriteFrame("loading_process.png"));
var mask = new cc.Sprite(cc.spriteFrameCache.getSpriteFrame("loading_process.png"));

var clipNode =

[2016-01-05 02:38] liuyi commented on #14819
I got the same issue, have you resolved it?

[2016-01-05 02:41] liuyi commented on #14442
Please upgrade your code to 3.8+

[2016-01-05 02:42] liuyi commented on #14442
a new audio api is there: jsb.AudioEngine

[2016-01-05 06:35] xiaofeng11 commented on #14288
@1078559858 https://github.com/cocos2d/cocos2d-x/pull/14639 this pr have fix the issue, please check. It will come with cocos2dx v3.10

[2016-01-05 08:40] 1078559858 opened #14837 "【BUG】clipnode isnot work in Android"
@xiaofeng11
i hava tested cocos2dx v3.8, v3.10 using Language c++ , it works in pc but not work in android
After create a new project and copying the code , you can Repetition of this problem.
Thanks

code:

[code]

[2016-01-05 08:52] xiaofeng11 commented on #14837
@liamcindy Please take a look on this issue, Thanks.

[2016-01-05 13:45] semgilo commented on #14378
@zilongshanren i try3.9 the issue exist

[2016-01-06 02:36] sianzain opened #14840 "android 6.0 EventDispatcher::dispatchTouchEventToListeners BUG"
A/libc(11561): Fatal signal 11 (SIGSEGV), code 1, fault addr 0x38 in tid 11589 (GLThread 393)
A/DEBUG(196): **\* **\* **\* **\* **\* **\* **\* **\* **\* **\* **\* **\* **\* **\* **\* ***
A/DEBUG(196): Build fingerprint: 'google/hammerhead/hammerhead:6.0.1/MMB29K/2419427:user/release-keys'
A/DEBUG(196): Revision: '0'
A/DEBUG(196): ABI: 'arm'
A/DEBUG(196): pid: 11561, tid: 11589, name: GLThread 393

[2016-01-06 03:28] 1078559858 opened #14841 "cc.EventListener.MOUSE cann't swallow mouse event"
@chengstory
cc.EventListener.MOUSE is not hava the function "swallowTouches", so it cann't swallow mouse event,
please fix it ! thanks

[2016-01-06 05:23] hgia1234 commented on #8305
cocos2d-x 3.8 still have this issue

[2016-01-06 05:27] liuyi commented on #14835
This bug always exist in cocos2dx 3.9. PLEASE RESOLVE THIS BUG, THANKS!

[2016-01-06 05:32] liuyi commented on #14835
HOW TO REPRODUCE THIS BUG:
1 Create an EMPTY JS PROJECT.

2 replace app.js  with the simple code at below:

=====================JS CODE==============================

var currentSceneIndex=0;
function nextScene(){

[code]

};
var HelloWorldLayer = cc.Layer.extend({
    sprite:null,
    ctor:function (text) {
        //////////////////////////////
        // 1. super init first
        this._super

[2016-01-06 05:56] cezheng opened #14842 "[BUG]iOS downloader crashes when storagePath contains spaces"
since downloader is using [NSURL urlWithString:] to convert absolute path NSString to NSURL, and when the NSString path contains characters like ' ' which needs to be escaped, the method will return nil thus crashing the downloader.

An example path containing space is iOS's "Application Support" directory.

[2016-01-06 06:03] cezheng commented on #14842
The fix PR for this issue is at https://github.com/cocos2d/cocos2d-x/pull/14843

[2016-01-06 07:38] xiaofeng11 commented on #14199
@Leandros sorry for the late, I have just test this bug again, here's my running log

[code]

in the log, you can see the file hasn't been find and when try to load scene assert at CSLoader.cpp line 947, 954 is triggered(I test the program with cocos2dx v3.10 branch), so the program has crashed.

The following picture is file structure in apk file, the resource file we need is under asset/res fold

[2016-01-06 07:42] xiaofeng11 commented on #13825
This bug has been fixed in cocos2dx v3.10, please refer https://github.com/cocos2d/cocos2d-x/blob/v3.10/cocos/ui/UIButton.cpp#L497

[2016-01-06 07:42] #13825 closed, assigned to xiaofeng11

[2016-01-06 08:10] zilongshanren commented on #14827
@xpol
So what's your solution here?

[2016-01-06 08:12] zilongshanren commented on #14731
@semgilo
you could try

[code]

[2016-01-06 08:27] stevetranby commented on #14378
SHADER_NAME_POSITION_GRAYSCALE
Update `ccPositionTexture_GrayScale_frag` to multiply v_fragmentColor.a possibly not multiplying by 0.5 and setting CCScale9Sprite's opacity by default to 128 (0.5) instead.

[code]

[2016-01-06 09:22] js305492881 commented on #14284
醉了、

[2016-01-06 09:45] Leandros commented on #14199
Still, the issue is not related to finding the font file (possibly for the CSB, but not for the text created via code), it's related to something else entirely.
The "fix" for the problem was using ndk-r9b, instead of ndk-r10e.

[2016-01-06 16:54] stammen commented on #14737
Fixed in pull request https://github.com/cocos2d/cocos2d-x/pull/14848

[2016-01-06 22:26] KenRogoway commented on #12479
Same issue exists in Cocos2d-x 2.2.6.  Do you have a potential fix for that too?

[2016-01-07 02:49] letrungtrung opened #14851 "[BUG UI] crash app after running animated action"
Code for reproducing
        var widget = new ccui.ImageView();
        widget.loadTexture("image1.png", ccui.Widget.PLIST_TEXTURE);
        widget = widget.clone();
        var animation= new cc.Animate([spriteFrame1,spriteFrame12],0.2));
        widget.getVirtualRenderer().runAction(cc.animate(animation).repeatForever());
        // TODO: add widget to scene

I'm using cocos-x 3.8.1 and testing

[2016-01-07 07:29] zilongshanren commented on #14378
@stevetranby  @semgilo

Fixed at #14854

[2016-01-07 10:16] zilongshanren opened #14855 "videoplayer crash on iOS 9.2"
![image](https://cloud.githubusercontent.com/assets/785541/12168031/b3bd0fb4-b56a-11e5-8289-a773f7a6e051.png)

This solution is in the above code snippet.

[2016-01-07 12:41] Anywhere-Music-Player commented on #14017
When this issue will be fixed? @ricardoquesada @dumganhar @minggo

[2016-01-07 14:17] xpol commented on #14827
My solution would break compatibility.

Move focus/keyboard code into 2 new method named `EditBox::setFocus()` `EditBox::resignFocus()`

[2016-01-07 16:34] martianma opened #14856 "CCTMXXMLParser.cpp issues"
else if (elementName == "image")
    {
        TMXTilesetInfo\* tileset = tmxMapInfo->getTilesets().back();

[code]

热更新如果只更新tmx文件，调用TMXTiledMap::getLayer，地图的layer因为找不到图片无法生成，就会bug，因为资源在包里，这个代码默认使用tmx文件所在的路径

[2016-01-07 23:34] ricardoquesada commented on #14017
could you create a test case? the easier the way to reproduce the bug, the easier it will be for us to fix it. Thanks!

[2016-01-08 01:33] semgilo commented on #14378
@zilongshanren 3q

[2016-01-08 01:34] semgilo commented on #14378
@stevetranby 3q

[2016-01-08 05:00] liuyi commented on #14855
Marked!

[2016-01-08 05:39] gamemother opened #14858 "[BUG] Screen flash under android's default brower."
Cocos v3.9 release.   Web h5 version.
Android version: 4.4

Screen flash, one frame is normal, the next is black.

Here's a simple demo can reproduce this situation.
http://pan.baidu.com/s/1i4cRkbV
password: eakh

[2016-01-08 05:43] pandamicro commented on #14858
@chengstory This is a important issue for the web engine, can you take a look ?

[2016-01-08 06:53] gamemother commented on #14858
PS. It works fine in cocos2d-x v3.8

[2016-01-08 07:08] purepure commented on #8764
I am looking for this issue too.

[2016-01-08 09:41] yaxinhoo commented on #14017
ok , my cop cann't connect the internect , i will create it this weekend.

[2016-01-08 10:27] Anywhere-Music-Player commented on #14017
I just downloaded latest cocos2d-x and in project "cocos2d_tests" I add this png file and named it "1.png", next I opened project "cocos2d_tests" find class SpritePolygonTest.cpp and replaced
line 147 like that:
    auto filename = "Images/1.png";

As result:

![screen shot 2016-01-08 at 12 26 54](https://cloud.githubusercontent.com/assets/3391456/12195857/24b3e038-b603-11e5-867c-31ce5151b5d4.png)

[2016-01-08 12:23] tufantalan opened #14859 "ScrollView does not work with renderTexture"

[2016-01-08 12:35] yaxinhoo commented on #14017
thx for KAMIKAZEUA , i wil try it

[2016-01-08 15:09] Anywhere-Music-Player opened #14861 "RenderTexture newImage() is empty"
I'm using cocos2d v3.9, Mac OS 10.10.5 Xcode 7.2

[code]

However, when I call:

[code]

I don't need to save image to disk, I just need it data.

[2016-01-08 15:36] ricardoquesada commented on #14861
thank. I'll take a look at it.

[2016-01-08 18:33] placroix74 commented on #11671
It is confusing indeed : from what I can see, its meaning is "create with this font, using the system's native text rendering scheme".

[2016-01-08 18:58] placroix74 opened #14862 "Label with system font on Windows always displays arabic text in a left-to-right context"
_Version_
- 3.9

_Problem_

When using ui::Label::createWithSystemFont on Windows, and assigning arabic text ending with a period, the period is always displayed at the right end of the text (when it should be on the left end).

_Hints_

I tracked the problem down to the DrawTextW win32 API, which needs an additional flag (DT_RTLREADING) to display text in a right-to-left context. Unfortunately, n

[2016-01-08 19:15] placroix74 opened #14863 "TextHAlignment::LEFT/RIGHT behave differently on Windows vs. Android with arabic text"
_Version_
- 3.9

_Problem_

When using ui::Label::createWithSystemFont and assigning arabic text, TextHAlignment::LEFT (or RIGHT) will behave differently on Windows vs. Android.

_Hints_

Seems like the Android implementation resolves the default alignment from the text (left-aligned for latin, right-aligned for arabic), and that TextHAlignment::LEFT/RIGHT therefore mean default and inverse-defaul

[2016-01-08 22:32] Shulepov opened #14864 "ActionTimeline: set tag issue"
In ActionTimeline there is code:

[code]

Because of it sets tag when action is run, i can't set my own tag for the action (at least before it started).
What is the purpose of it? Seems like it never used.

[2016-01-09 01:59] littleboss commented on #14531
我项目中没有用到webp，吧这个webp的第三方没有编译进去就ok

[2016-01-11 08:03] qlt445 opened #14871 "ClippingNode has wrong performance when adding to UIPageView"
To reproduce this issue, create a sprite added to a pageview, then create a clippingnode use a stencil which has same image file as the sprite, and then add a layercolor to the clippingnode.Finally, add the clippingnode to the sprite. When I add multiple sprites with clippingnode to the pageview, other sprite will disappear except one. Is this wrong way to use clippingnode? I was use cocos2dx-3.6.

[2016-01-11 10:10] #14871 closed, assigned to nobody

[2016-01-11 15:13] aardvarkk opened #14874 "Requested but did not find extension point with identifier Xcode.DVTFoundation.DevicePlatformMapping"
When running the default new C++ project for iOS in Cocos version 3.9 I get the following warning on startup:

[code]

The warning causes me to have to issue Control-C from the terminal to return to a prompt. It may also be blocking the debugging console output as I'm unable to see anything being output.

[2016-01-11 15:44] aardvarkk opened #14876 "No iOS Simulator log output in Cocos v3.9 when running from `cocos run -p ios`"
I'm unable to see any log output created either from `log()` calls or `CCLOG()` calls in my code. When I run the project from XCode the output appears in the XCode output console as expected, but nothing shows up when running the project from the console.

[2016-01-11 16:07] aardvarkk commented on #14874
I'm using OS X 10.11.2 (El Capitan). Perhaps this is related to the issue.

[2016-01-11 16:38] mertkasar commented on #13615
Any news on that improvement? Because I think that this one is essential. Any dirty flag like system that I worked with in past operates in this way.

But with cocos2d-x, there are tons of overrided pause and resume methods all over my code base.

[2016-01-11 16:49] stkach commented on #12527
@pandamicro , @WenhaiLin
Hi guys. Are there any updates regarding OGG support for AudioEngine for iOS.
It currently is using OpenAL behind the back that doesn't support OGG, so I can't see OGG iOS support in the latest cocos2dx revision.
Is there any free/non-commercial file format that is supported for all the platforms with experimental::AudioEngine, besides wav (it's too big for acceptable qual

[2016-01-11 18:35] 3DanD commented on #13682
Guys, what I need to do after this patch? I changed cpp and h files, but there is no effect. I compiled CocosFramework.sln, but no effect again. I moved compiled .lib and .dll files to my project, but no effect.
What must I do? (

[2016-01-11 22:48] NuLL3rr0r opened #14877 "Feature request or a possible Bug? Sprite3D and Billboard RenderTexture"
I use RenderTexture to render a layer with all its nodes to a texture then apply an OpenGL shader on that texture to create post-process effects. It works all fine except with Sprite3D and Billboard nodes.
1. 3D nodes won't render to texture
2. You'll get a NULL camera inside BillBoard::calculateBillbaordTransform() function on a call to visit()

For an example code see here please:
http://stackov

[2016-01-12 03:07] #10920 closed, assigned to nobody

[2016-01-12 03:35] #14428 closed, assigned to nobody

[2016-01-12 03:55] zilongshanren opened #14879 "Refactor CocosPlay JNI code with EasyJNI"
Ref: https://github.com/cocos2d/cocos2d-x/pull/14340

[2016-01-12 03:56] zilongshanren commented on #14879
@WenhaiLin  please take a look.

[2016-01-12 04:01] zilongshanren commented on #14531
please move to the forum or stackoverflow, thanks.

[2016-01-12 04:01] #14531 closed, assigned to nobody

[2016-01-12 04:02] WenhaiLin commented on #14879
The CocosPlay-related code should be remove from cocos engine now.

[2016-01-12 05:58] zilongshanren commented on #14879
ok @WenhaiLin  show me the PR :smile:

[2016-01-12 18:19] ricardoquesada commented on #14017
@KAMIKAZEUA  thanks. and good point. Although I think we are still  using chipmunk 6.2 which doesn't have auto-geometry... (I could be wrong)... but once we update to v7.0, we should use its auto-geometry feature.

[2016-01-13 03:18] weiwest opened #14884 "EditBox crashs when input Chinese in iOS 7.1.2"
Error Details:

Terminating app due to uncaught exception 'NSRangeException', reason: 'NSMutableRLEArray replaceObjectsInRange:withObject:length:: Out of bounds'

Test Environment：
iPhone5c
ios7.1.2
xcode7.2

[2016-01-13 09:03] sunyuping commented on #13951
你好我也是 iOS Xcode UIKit和cocos2d-x集成，第一次进入游戏没有问题，但是第二次进入后改了你说的这个崩溃的问题解决了，但是页面显示有问题，音乐有，点击效果也有，但是就是图片绘制有问题不知道你是否有此问题？或者能告诉我一下你在退出游戏的时候要执行那些释放动作？

[2016-01-13 22:29] stirem commented on #10390
This would be a nice feature for using Cocos2d-x and Pi in homemade arcade machines ;) Especially with the Pi2's amazing gpu power!

[2016-01-14 14:04] winneryong commented on #13951
我这个图片绘制没有问题，退出执行：
cocos2d::Director::getInstance()->end();
_eaglView = nil;

其中_eaglView为CCEAGLView实例

[2016-01-14 18:07] JOOpdenhoevel commented on #10390
That's what thought when I opened this issue. The Raspberry Pi is already a common platform for emulating old games, so if cocos2d-x would support emulationstation, there would be hundreds or even thousands of devices waiting for new games. I should have wrote that when I opened this issue.

[2016-01-15 01:31] felipesaruhashi commented on #2298
Seems that this issue persist, on version 3.9 still have this problem.

[2016-01-15 03:51] minggo commented on #13674
It is fixed in #14890

[2016-01-15 05:41] sunyuping commented on #13951
@winneryong 多谢我再试试。。

[2016-01-15 07:46] 1078559858 opened #14892 "ipad上拆分、合并键盘出现的bug"
CCEditBox点击后，打开了键盘，正常输入没有问题，在ipad上做键盘拆分，合并操作，不能顺利进行，有时候能拆开，有时候键盘会卡住。键盘如果能正常拆分开后，之前上移的游戏画面偶尔不能恢复，即使是输入结束，游戏画面还是保持之前上移的位置。

产品版本：cocos2dx3.9
开发语言：lua
操作系统：Mac OS X, 10.10
运行平台：iOS

@xiaofeng11

[2016-01-15 07:53] xiaofeng11 commented on #14892
@zilongshanren Please take a look on this issue

[2016-01-15 07:59] 1078559858 opened #14893 "渲染不对"
这里面的两个用tiled渲染的地图，手机是渲染都不对，有些格子tile会多渲染一些像素或渲染到别的tile内容，1是图的tile带间隔的，2是不带的，都不对，你可以把地图里一些格子去掉，看看一些格子的边

资源网盘链接：
http://pan.baidu.com/s/1nutG5VN

截图如下：那两个蓝色和红色的左边，和别的地方的同色的多出一边
![2103e11057424d079d16246307dfb90b](https://cloud.githubusercontent.com/assets/7157980/12348294/ca1b6b8e-bba0-11e5-8b3d-32e0647ece67.jpg)

产品版本：3.6
开发语言：lua
运行平台：iOS

[2016-01-15 08:27] xiaofeng11 commented on #14893
@super626 Please take a look on this issue.

[2016-01-15 10:00] KniveX opened #14894 "Typo on shader's attribute name"
The shader file: `cocos/renderer/ccShader_PositionColorLengthTexture.vert`
The attribute `a_texcoord` should be `a_texCoord`

[2016-01-15 10:13] robslove opened #14896 "genbindings.py luaval_to_object template error"
this is a demo for this error:

struct test
{
 int i;
};

class A
{
public:
 func(const test& s)
};
#

test arg0;
ok &= luaval_to_object<test>(tolua_S, 2, "test",&arg0, "A:func");

template <class T>
bool luaval_to_object(lua_State\* L, int lo, const char\* type, T*\* ret, const char\* funcName = "")

cannot convert argument 4 from  ' test \*  ' to ' test *\*  '
#

when the function is
func(const

[2016-01-15 10:18] xiaofeng11 commented on #14894
@super626 Please take a look on this issue

[2016-01-15 10:36] xiaofeng11 opened #14897 "Compile 3rd pre-build libs get missing librapidjson.a error"
Use command  ./build.sh -p=ios under MacOSX to start build all pre-build library, the building process will broken after websocket compiled with follow info :

......
create fat library libssl for ios/ssl/prebuilt/arm64/libssl.a
ios/ssl/prebuilt/armv7/libssl.a
ios/ssl/prebuilt/i386/libssl.a
ios/ssl/prebuilt/x86_64/libssl.a
Architectures in the fat file: ios/ssl/prebuilt/libssl.a are: armv7 i386 x8

[2016-01-15 10:36] xiaofeng11 commented on #14897
@zilongshanren Please take a look on it

[2016-01-15 14:46] TheSachin opened #14898 "Rename touch->getLocation() to getPosition() and other methods"
Right now `Touch` has methods like `getLocation()` which are pretty much return position just like `Node->getPosition()` , it would make sense that it should be refactored as such.

[2016-01-18 04:31] cd0304 opened #14903 "webview 和 play没法在同一个场景上共存"
webview 和 play没法在同一个场景上共存，会导致web不断被刷新
        var videoLayer = new UIVideoPlayerTest();
        this.addChild(videoLayer);

[code]

上面两个类的代码都是cocos提供的测试代码，如果把这两个layer加载一个scene上的话
webview里面会不断刷新

[2016-01-18 10:00] WenhaiLin commented on #14879
@zilongshanren Remove CocosPlayClient ：https://github.com/cocos2d/cocos2d-x/pull/14905

[2016-01-18 10:03] neokim commented on #14461
Sorry for late response.

First, I was under the impression that your dragging means just user's touch movement, but it seems that you mean dragging a widget placed in a scroll panel. In the previous comment, I was talking about just touch movement as drag.
Now I got the reason why you need it. I will add a setter for `totalTime` threshold.

So, you are adding a functionality for dragging items in

[2016-01-18 10:21] pangtui opened #14906 "xcode下webview相关编译错误,v3.3"
1,lua_cocos2dx_experimental_webview_auto.cpp
lua_cocos2dx_experimental_webview_WebView_loadHTMLString方法中loadHTMLString参数个数不对
if (argc == 1)
    {
        std::string arg0;
        ok &= luaval_to_std_string(tolua_S, 2,&arg0, "ccexp.WebView:loadHTMLString");
        if(!ok)
        {
            tolua_error(tolua_S,"invalid arguments in function 'lua_cocos2dx_experimental_webview_WebView_loadHTMLSt

[2016-01-19 06:38] otake--masayoshi opened #14909 "PageView::addEventListener() is invalid in v3.10"
m_PageView->addEventListener(TestScene::callbackFunc, this);
TestScene::callbackFunc don't called when m_PageView turning.
sorry my English is poor.

[2016-01-19 09:21] #14378 closed, assigned to nobody

[2016-01-19 10:18] neokim commented on #14580
Hi @xiaofeng11,
The problem occurs when user uses `create()` with `TextureResType::PLIST` as its last parameter.
When `AbstractCheckButton` loads textures with plist, it uses `Sprite::setSpriteFrame(const std::string &spriteFrameName)` method and the method asserts the name's emptyness at the beginning.

[2016-01-19 10:29] zilongshanren commented on #14906
@pangtui  v3.3 is a very old release, please check whether v3.10 still has this issue?

[2016-01-19 10:29] zilongshanren commented on #14897
@xiaofeng11  this is not a problem, I will fix it.

[2016-01-19 10:31] zilongshanren commented on #14897
@xiaofeng11
you should switch to v4 for compiling rapidjson

[2016-01-19 10:31] #14897 closed, assigned to nobody

[2016-01-19 10:37] xiaofeng11 commented on #14580
@neokim Thanks I'll check it.

[2016-01-19 10:51] neokim commented on #14612
Sorry, I didn't know the requirement. No problem for modifying it as requested.

But I wonder, is it mandatory that child's size must be equal to the page's size? I can come up with many cases that child widget wants to have different size than page's size. One implementation of page scroll UI component I wrote before allows various size for children, which allows more options for SDK users using

[2016-01-19 11:32] xiaofeng11 commented on #14580
@neokim I have just check this issue, we have already remove these statement from code. Could you help us confirm does there still any issue in current code? Thanks a lot.

[2016-01-19 11:48] horace-velmont commented on #13641
Please eraze these logs....

[2016-01-19 11:55] neokim commented on #14580
@xiaofeng11 Yes, it still has the same issue.

[2016-01-19 12:08] semgilo opened #14910 "RenderTexture 截屏后质量会有所下降"
cococs2dx 3.9 lua

测试代码片段
local pRenderTexture = cc.RenderTexture:create(display.width, display.height,cc.TEXTURE2_D_PIXEL_FORMAT_RGB_A8888)
pRenderTexture:beginWithClear(0, 0, 0, 0)
self:visit()
pRenderTexture:endToLua()
pRenderTexture:addTo(self, 999)
pRenderTexture:getSprite():getTexture():setAntiAliasTexParameters()
pRenderTexture:align(cc.p(0.5, 0.5), cc.pAdd(center(display.size),cc.p(0, 250)

[2016-01-19 12:13] Folyd opened #14911 "Cocos2dxActivity sContext variable could cause memory leaked!!!"
Cocos2dxActivity `sContext` variable could cause memory leaked in Android App!
here is the leaked code:

[code]

**Please do not use static strong reference Cocos2dxActivity object,instead your should use WeakReference<Cocos2dxActivity>.**
Please fix this memory leak issue as soon as possible!
Thanks a lot. :smiley:
<img width="1037" alt="screen shot 2016-01-19 at 8 06 47 pm" src="https://cloud.gi

[2016-01-19 15:41] felixjingga commented on #14911
You can help the developer by submitting a PR for fixing this.. How about help them for this issue?

[2016-01-19 18:17] ricardoquesada opened #14913 "integrate new renderer"
From here:
http://discuss.cocos2d-x.org/t/flaws-with-renderer-glprogram-and-gl-state-management/26239

[2016-01-20 02:57] pangtui commented on #14906
@zilongshanren   thank you, i saw the code in v3.10 and  the old release is the problem.

[2016-01-20 02:57] #14906 closed, assigned to nobody

[2016-01-20 03:04] 1078559858 opened #14916 "Memory leak of"
cocos3.10 in TextBMFontReader.cpp  in Line 210，
FontAtlas\* newAtlas = FontAtlasCache::getFontAtlasFNT(path)， The function of getFontAlasFNT Hava a retain, but not hava a release in Line 232 fileExist is True
@xiaofeng11

[2016-01-20 03:26] #14916 closed, assigned to nobody

[2016-01-20 08:51] #13951 closed, assigned to super626

[2016-01-20 09:10] sbrednikhin commented on #14461
Yes. In our project we need dragging (and from scrolls too). This feature must be useful in mobile applications. There are samples of user interfaces that uses dragging widget from scrolling panels (first in mind is main screen in android). As I said before, they use long tap as indicator of dragging start.

Thanks for adding functionality. It will make life easier.

[2016-01-20 09:10] #14461 closed, assigned to nobody

[2016-01-21 02:58] #11667 closed, assigned to zilongshanren

[2016-01-21 03:55] #14879 closed, assigned to WenhaiLin

[2016-01-21 07:38] xpol commented on #14341
I find this problem today.
I can't believe that cocos don't have binary file reading interface for Lua.

We have 2 options:
1. let `cc.FileUtils:getInstance():getStringFromFile()` return all data from string, as we in Lua string are binary. This is more Lua way.
2. add `cc.FileUtils:getInstance():getStringFromFile()`, you may follow steps [here (Chinese)](http://xpol.logdown.com/posts/316157-how-t

[2016-01-21 13:09] naghekyan opened #14936 "CallFunc with Spawn bug"
Here is the code I use:

[code]

The log is as follows:

CALL 0
CALL 1
CALL 2
CALL 3
CALL 4

If I change the code to read `Sequence` as `Spawn` i.e.

[code]

the log is the following:

CALL 0
CALL 1
CALL 2
CALL 3
CALL 4
CALL 5
CALL 6

I have debugged and the fact is that first two actions in `Vector<FiniteTimeAction*> vec;` are being called twice at the end, i.e. CALL 0 and 1 are the same actions

[2016-01-21 13:32] ghost opened #14938 "Cocos compile script ignores missing hellocpp/main.cpp in Android.mk and this results in seg fault when running app"
Error display needs to happen when hellocpp/main.cpp is not added to Android.mk LOCAL_SRC_FILES. (located in proj.android/jni or proj.android-studio/app/jni) See below:

LOCAL_SRC_FILES := hellocpp/main.cpp \
../../../Classes/AppDelegate.cpp \
../../../Classes/HelloWorldScene.cpp \

This results in correct behavior with the default cpp template. However if the first file is omitted, like so:
LOCAL

[2016-01-21 17:10] TheSachin commented on #8399
@minggo - I was just baffling around this. Any idea when this bug will be smashed?

[2016-01-22 03:41] ingtellect opened #14946 "ControlSwitch::create(Sprite *maskSprite, Sprite * onSprite, Sprite * offSprite, Sprite * thumbSprite) crashes"
ControlSwitch::create(Sprite _maskSprite, Sprite \* onSprite, Sprite \* offSprite, Sprite \* thumbSprite) crashe. It calls initWithMaskSprite(maskSprite, onSprite, offSprite, thumbSprite, nullptr, nullptr) and eventually crashes when calling clipper->addChild(onLabel) and clipper->addChild(offLabel) in ControlSwitchSprite::initWithMaskSprite(
    Sprite *maskSprite,
    Sprite *onSprite,
    Sprit

[2016-01-22 04:43] pbes0707 commented on #14077
Hi, I'm having the same issues. I tried to reconnect via my current code, but Heap Memory leak occurred . I think Memory leak is caused by "c->disconnect". That might be "socket->disconnect". please check this code~ ㅜ^ㅜ

[2016-01-22 05:47] TanJian opened #14948 "CocosJS Sprite setTexture 加载服务器图片，在Android设备上不显示"
在JS代码中，cc.loader.load下载CDN图片，成功后自动加入textureCache，key为图片地址，使用cc.Sprite的setTexture方法传入图片地址后获取缓存并显示，发布WEB运行正常。
发布Android包时，调用Sprite::setTexture，首先执行
 Director::getInstance()->getTextureCache()->addImage(url);
在TextureCache::addImage方法中执行
std::string fullpath = FileUtils::getInstance()->fullPathForFilename(url);
这时传入的url未能判断为AbsolutePath，之后返回为空，导致在Android设备上不显示。
其他平台未测试。
引擎版本：cocos2d-x-3.9 beta0 Octob

[2016-01-22 06:43] newnon commented on #14754
first version preview quality https://github.com/cocos2d/cocos2d-x/pull/14949

[2016-01-22 07:06] stevetranby commented on #14936
Associated discussions: http://discuss.cocos2d-x.org/t/is-this-a-callfunc-with-spawn-bug/26497/5

[2016-01-23 13:57] kawaiSky commented on #11891
i have the same issue ,both on iOS and android.
cocos2dx version : v3.10

### the _responseQueue.size is empty:

![11111](https://cloud.githubusercontent.com/assets/2173000/12530491/c92a22ac-c21b-11e5-8d20-26cecc4eed52.png)

### the _requestQueue size is always the total we add by 'addImageAsync'

![2222](https://cloud.githubusercontent.com/assets/2173000/12530493/d39d9f0c-c21b-11e5-95b8-217941ffc

[2016-01-24 09:50] madnut-ua opened #14954 "Incorrect 'if' condition in js_cocos2dx_ccmat4TransformVector()"
In cocos2d-x-3.10\cocos\scripting\js-bindings\manual\cocos2d_specifics.cpp, 3709
in function js_cocos2dx_ccmat4TransformVector()
we have the following block:

[code]

It looks like there is a mistake, cause second condition won't be met at all.

[2016-01-24 09:56] madnut-ua opened #14955 "Wrong conditional expression in spAtlas_create()"
In cocos2d-x-3.10\cocos\editor-support\spine\Atlas.c, 226
in function spAtlas_create() there is a code:

[code]

Second ?: clause will always return SP_ATLAS_REPEAT, so it could be a bug or redudant verification

[2016-01-24 10:19] madnut-ua opened #14956 "Same statements in 'if' block in fillConstraintRowMultiBodyMultiBody() function"
In cocos2d-x-3.10\external\bullet\BulletDynamics\Featherstone\btMultiBodyConstraint.cpp, 189
in function fillConstraintRowMultiBodyMultiBody():

[code]

both statements are the same, so looks like a bug or redudant verification.

[2016-01-24 10:26] madnut-ua opened #14957 "Same 'else if' conditions in translateChildProperty() function"
In cocos2d-x-3.10\extensions\Particle3D\PU\CCPUMeshSurfaceEmitterTranslator.cpp, 92
in function translateChildProperty():

[code]

It could be either copy-paste issue or other condition is missed.

[2016-01-24 15:33] Obg1 opened #14959 "RenderTexture + Stencil fails on Tegra devices (Nexus 7)"
The problem is in glRenderbufferStorage when using GL_DEPTH24_STENCIL8 as second parameter. With this parameter (0x88F0), glGetError return 0x500 (INVALID_ENUM).

Discussion is here:
http://discuss.cocos2d-x.org/t/testcpp-failed-on-android-tegra/10335

Suggested path to RenderTexture is:

[code]

[2016-01-24 16:17] TheSachin opened #14960 "Generated Prelibs for all platforms, rather than selective ones?"
Hi,
I fail to understand why we are not shipping prebuilt version of Windows platform, is absence mere cause of less Windows platform devices, or is there something else as well?
Edit : Windows 10 Store

[2016-01-24 19:30] madebymozart opened #14961 "3.10 Install fmod for new AudioEngine on Linux with install-deps-linux."
**Link** - http://discuss.cocos2d-x.org/t/error-while-building-for-linux-libfmod-so-6/26553/4

**Description** - When you have a fresh download of cocos2d-x 3.10 and you do all the normal step (ex. `./download-deps.sh` and `./install-deps-linux.sh`) the build will still crash with this error:

`/bin/debug/linux/MyGame: error while loading shared libraries: libfmod.so.6: cannot open shared object f

[2016-01-25 02:34] TanJian commented on #14948
对了，之前我在英文论坛上搜索相关解决办法，都是修改C++代码；我们项目需要运行在CocosPlay，不能修改引擎代码

[2016-01-25 03:04] zilongshanren commented on #14954
@madnut-ua
um.. it's most likely a mistake..

[2016-01-25 03:05] zilongshanren commented on #14954
@pandamicro

[2016-01-25 03:13] zilongshanren opened #14962 "pageTurningEvent is not called in PageView"
@neokim

[2016-01-25 03:55] #14962 closed, assigned to nobody

[2016-01-25 13:15] mumreg opened #14968 "anchorPoint position delimiters parsing in CocosStudio works wrong (MacOS X)"
Reproduce steps: (on MacOS X)
1. Set system language to Russian (or any other with delimiters - "," of fractional part of digit )
2. Open CocosStudio and create node with sprite and publish project.
Your sprite properties should look like that:
![2016-01-25 16 08 34](https://cloud.githubusercontent.com/assets/1148009/12551812/45e7b9cc-c37e-11e5-9452-38f4e351b772.png)
3. Look at size of csb-file/cs

[2016-01-25 17:12] aardvarkk opened #14969 "Crash when touch is ended after a button has been removed"
Cocos2d-x crashes in the following scenario:
- A button is added to the scene
- The user starts touching it (and holds)
- The button is removed from the scene
- The user releases the button

I've only actually tested this with menu items (not buttons). I'm using v3.9 and I get a BAD_ACCESS exception when the touch release happens. Shouldn't the event listener be cancelled when the button is remove

[2016-01-25 17:18] aardvarkk commented on #14969
My mistake seems to be that I was calling Node::removeChild() instead of MenuItem::removeChild(). Switching to the correct call fixed the issue.

[2016-01-25 17:18] #14969 closed, assigned to nobody

[2016-01-25 20:42] hawkwood opened #14972 "Android keyboard appears when returning from background after scene with web view is removed"
See forum post at http://discuss.cocos2d-x.org/t/keyboard-occasionally-appearing-after-using-web-view-on-android/26476/1

[2016-01-25 21:16] Likon84 opened #14973 "draw Node has no anti aliasing."
Like in the topic. Could you please fix that? I'm using cocos2d-js but I think the same problem is for C++ code...

[2016-01-26 02:01] zilongshanren commented on #14968
@chengstory  @xiaofeng11

[2016-01-27 02:22] xiaoxiangzi opened #14976 "[BUG] ccui.EditBox - Black Label When Editing Finished"
![7](https://cloud.githubusercontent.com/assets/5449223/12601879/be99f576-c4df-11e5-8255-6b8f2a61e229.png)
Version: cocos2d-x-3.7
Platform: android
Devices: Nexus 5, Huawei Nexus 6P
Issue: When editing finish (after enter clicked), label turns to black block. Sometimes, crashed directly.

After checking logcat, found that editBoxCallbackFunc (in file UIEditBoxImpl-android.cpp) used to refresh the

[2016-01-27 08:11] 0xJimmyBeh commented on #13807
@pandamicro

How can we call javascript from java in Android with Cocos2d-JS v3.8.1?

I'm facing the same issue which crashed when calling `Cocos2dxJavascriptJavaBridge.evalString`

Thank you.

[2016-01-27 10:52] 1078559858 opened #14981 "BUG:setInputMode(ui::EditBox::InputMode::SINGLE_LINE)"
edit box 在android上设置了setInputMode(ui::EditBox::InputMode::SINGLE_LINE)
输入文字过长是会多行显示

android
测试是会出现文字多行显示的，输入内容后点击键盘外面关闭按钮会出现多行显示，如果是点击键盘上的关闭按钮关闭键盘是正常的，但在点击屏幕则会出现多行显示
![11](https://cloud.githubusercontent.com/assets/7157980/12611355/214d9992-c527-11e5-9308-614cf3087d50.png)
@xiaofeng11

[2016-01-27 11:15] xiaofeng11 commented on #14981
@zilongshanren Please take a look on this issue

[2016-01-27 12:12] zilongshanren commented on #14981
@1078559858
那不是多行显示，而是换行了。如果不换行，难道要截断么？单行最好限定最大长度。

[2016-01-27 12:15] zilongshanren commented on #14976
[code]

It's called in GL thread.

[2016-01-27 15:14] hgokturk opened #14982 "ui::EditBox Android background/foreground issue."
I realized that after going to background in Android and coming back to foreground, EditBox doesn't show any characters previously entered but keeps them somehow. And it is not touchable.

[2016-01-28 03:03] cesarpachon commented on #14961
hello @mozartalouis, I just checked the issue and I think there is no need to copy to /usr/local/lib, what I did was just to create a symbolic link in the same folder of the libfmod.so:
ln -s libfmod.so libfmod.so.6
I am not used to the install-deps-linux.sh internals, but I will try this approach there to see if it solves the issue.

[2016-01-28 03:21] xiaoxiangzi commented on #14976
@zilongshanren
Yes. In this code, it should be called at GL thread. But, actually, sometimes it was not called at GL thread, tid not the same, the label turns black:

Log below:

![image](https://cloud.githubusercontent.com/assets/5449223/12634097/a30a3758-c5b1-11e5-846f-9a1d06010b45.png)

GL thread, tid 1282
editBoxCallbackFunc called tid 1278

[2016-01-28 03:26] zilongshanren commented on #14976
@xiaoxiangzi
I will investigate this issue later.  Try to use the latest v3.10 and test it in your device, thanks.

[2016-01-28 03:27] zilongshanren commented on #14982
@hgokturk
What's the version of your cocos2d-x?

Could I reproduce this issue 100%?

[2016-01-28 03:31] #14981 closed, assigned to nobody

[2016-01-28 03:32] zilongshanren commented on #14972
Thanks, I will take time to reproduce this issue and fix it soon.

[2016-01-28 03:32] zilongshanren commented on #14948
@pandamicro

[2016-01-28 03:33] zilongshanren commented on #14884
@westsuper2
What's the engine version?

[2016-01-28 03:34] zilongshanren commented on #14892
@1078559858
Thanks for reporting

[2016-01-28 03:36] zilongshanren commented on #14976
@xiaoxiangzi
Wired,  thanks.

[2016-01-28 03:39] zilongshanren commented on #14827
@xpol
Thanks, I will try to fix it.

[2016-01-28 03:39] xiaoxiangzi commented on #14976
@zilongshanren
You're welcome.

[2016-01-28 03:41] zilongshanren commented on #8500
should be fixed now.

[2016-01-28 03:41] #8500 closed, assigned to nobody

[2016-01-28 05:18] 1078559858 opened #14984 "键盘弹起后，触摸区域并没有随着键盘的弹起而变化"
cocos3.10 + ios
当输入的时候，打开软键盘，游戏画面会上移。此时点击上移的游戏画面，会触发之前游戏画面没有上移时候的区域，进而会触发对应的逻辑。

[2016-01-28 06:08] weiwest commented on #14884
cocos2d-x3.9 @zilongshanren

[2016-01-28 08:24] zilongshanren commented on #14984
@1078559858
What's your code look like?

If you use node.convertTouchToNodeSpace, it shouldn't have problems.

[2016-01-28 11:13] hgokturk commented on #14982
It happens both for 3.8 & 3.10. I'm sure it is reproducable. I can share editbox initialization codes and my appdelegate or anything else if needed.

[2016-01-28 13:42] mumreg commented on #14437
+1 for all

[2016-01-28 14:27] fred1024 commented on #8277
Sadly I think I must report to you that this bug is not fixed.. in cocos 3

just trying to copy one render texture to another one each frame.
frame 0: render a simple sprite to RTa (then dispose it, not used any more)
frame 1: RTa to RTb
frame 2: RTb to RTa
frame 3: RTa to RTb
frame 4: ...
till the end of times

Of course the interest (in case you wonder why i would do that) is to apply a specific

[2016-01-28 14:34] fred1024 opened #14985 "RenderTexture To RenderTexture (ping pong effect) artefacts"
Having troubles with render textures....
A previous issue of this kind was closed without being fixed... even in cocos 3
(actually i wonder if it could be hardware/drivers related)

just trying to copy one render texture to another one each frame.
frame 0: render a simple sprite to RTa (then dispose it, not used any more)
frame 1: RTa to RTb
frame 2: RTb to RTa
frame 3: RTa to RTb
frame 4: ...
til

[2016-01-28 14:59] fred1024 commented on #14985
Hoooo I forgot ...
-the central region is behaving just like it should
-the initial sprite must be quite big for the artefact to be seen (almost the RT size)
-the Render Textures big as well. (screen size is good to check the artefact)

the ping pong effect will work fine on small RTs

[2016-01-28 21:25] Shulepov commented on #14985
Also have similar issue with RenderTextures, but with ping-pong rendering during _one frame_.
Render data to **RTa** -> render first pass to **RTb** -> render second path back to **RTa**. And also got a weird result.

Finally i decided to use third RenderTexture - RTa -> RTb -> RTc (them were quite small so it was applicable to me).

[2016-01-29 01:41] zilongshanren commented on #14982
@hgokturk
please show me the code...

[2016-01-29 07:19] kibernet commented on #14864
same problem with me!

[2016-01-29 07:25] kibernet opened #14987 "CSLoader 执行 ActionTimeline后，多个动画节点被移除时卡顿时间非常长"
当有10个ActionTimeline时 ，界面被移除时，游戏卡顿3到5秒之久
延迟一帧移除执行ActionTimeline的节点是可以解决卡顿的问题，延迟一帧移除完全没有卡顿了

[2016-01-29 07:31] xiaofeng11 commented on #14987
@geron-cn Please take a look on this issue.

[2016-01-29 08:44] geron-cn commented on #14987
@kibernet Js Version?

[2016-01-29 08:46] zilongshanren commented on #14884
@westsuper2
I can reproduce this issue, thanks. I will fix it soon.

[2016-01-29 08:57] zhaijialong commented on #14959
@zilongshanren I think it's fixed by #14709

[2016-01-29 09:18] zilongshanren commented on #14884
@webcrawler

[code]

[code]

Pay attention to the following statement I added:

[code]

I think it's a bug in iOS 7.12...
Anyway, I will send the patch later.

[2016-01-29 09:19] zilongshanren commented on #14884
@westsuper2
You could update `ui/widgets/UIEditBox/iOS/CCUIEditBoxIOS.mm` file by yourself.
If it solves your problem, please let me know.

[2016-01-29 09:29] #14984 closed, assigned to nobody

[2016-01-29 09:54] weiwest commented on #14884
Yes,this method solves my problem,thank you. @zilongshanren

[2016-01-29 10:03] fred1024 commented on #14985
Yes actually it's not that catastrophic as in my release version I apply a shader to fade down the colours in each RT copies, so the artefact is fading away and don't have much time to accumulate. And I don't use a full screen RT. So it's almost OK. It's just I wanted to know what could possibly be this artefact (it's not really serious to go away without knowing). Furthermore,  I might need anoth

[2016-01-29 12:30] hgokturk commented on #14982
AppDelegate.h

[code]

LoginRegisterScene.h

[code]

Sample init in LoginRegisterScene.cpp

[code]

And the listeners in LoginRegisterScene.cpp

[code]

[2016-01-29 13:39] sbrednikhin opened #14989 "Widget::isClippingParentContainsPoint does'n works if widget is not touched or rendered"
Problem is in this check:

`
 auto camera = Camera::getVisitingCamera();
 // Camera isn't null means in touch begin process, otherwise use _hittedByCamera instead.
 if (clippingParent->hitTest(pt, (camera ? camera : _hittedByCamera), nullptr))
`

`camera` is `null` outside of scene rendering `_hittedByCamera` is `null` outside of touching sequence. So `hitTest` will always return false.

[2016-01-29 14:28] hgokturk commented on #14982
I wonder if it's about using #parma once instead #ifndef

[2016-01-30 02:29] tooolkit opened #14991 "游戏切换到后台，再切换回来动画累积的问题"
cocos2d-js 写的h5 游戏切换到后台的时候服务器发了很多消息  等切换回来了 所有响应消息的动画都累积到一起显示了  这样应该怎么处理啊

[2016-01-30 16:56] seagullua commented on #14588
+1

[2016-01-31 06:48] Zzzen commented on #14991
按照逻辑要求，要显示哪个就显示哪个，要停哪个就停哪个

[2016-01-31 08:12] Zzzen commented on #14938
Someone need to improve the template of Android.mk.
I'm using this one.

[code]

[2016-02-01 01:44] zilongshanren commented on #14991
@tooolkit
I suggest you guys move this topic into Chinese forum. thanks.

[2016-02-01 01:44] #14991 closed, assigned to nobody

[2016-02-01 02:56] semgilo commented on #13140
@zilongshanren 3.9 problem has exist

[2016-02-01 03:02] zilongshanren commented on #13140
@semgilo
Do you mean this issue is still exists on v3.9?

[2016-02-01 03:04] zilongshanren commented on #13140
@semgilo
I have tested it with HuaWei P8 and it doesn't have this issue.
What Android device do you use and what's your Android version?

[2016-02-01 03:22] semgilo commented on #13140
@zilongshanren i used iphone5 ios 9.1

[2016-02-01 03:23] semgilo commented on #13140
when i setInputFlag as "password", i can't input and text is null

[2016-02-01 03:55] semgilo commented on #13140
@zilongshanren sorry it my problem

[2016-02-01 04:01] zilongshanren commented on #13140
@semgilo
It's all right.

[2016-02-01 08:46] sbrednikhin opened #14998 "RichText crashes when adding new line in ignore size mode"
`Node* elementRenderer = nullptr;`
`switch (element->_type)`
...
`case RichElement::Type::NEWLINE:`
`{`
`addNewLine();`
`break;`
 `}`
 ...
`elementRenderer->setColor(element->_color);`  <- Crash is here
`elementRenderer->setOpacity(element->_opacity);`
`pushToContainer(elementRenderer);`

[2016-02-01 10:00] JimmyYouyy opened #14999 "cc.PhysicsShapePolygon:create always return nil in lua"
I found the following functions always return nil in lua
cc.PhysicsShapePolygon:create
cc.PhysicsShapeCircle:create
but the following function is ok with the same args
cc.PhysicsBody:createPolygon
cc.PhysicsBody:createCircle

I donot know why these happen.

[2016-02-01 20:04] jperdigueiro opened #15000 "cocos2d-x 3.10 fails linking js-tests when building Release on Visual Studio 2014"
I'm getting this link error for js-tests when building cocos2d-x 3.10 on Visual Studio 2014, but only for the Release configuration (Debug works fine), and I have no idea how to fix it:

[code]

For now I have removed js-tests from my Release build as I don't need it, but I'm sure this should be fixed!

Thanks,
Julia

[2016-02-02 03:34] xiaofeng11 commented on #15000
@zilongshanren This issue is because missing "_USRJSSTATIC" in project properties->C/C++->Preprocessor->Preprocessor Definitions.  After add it release version is compile OK.  But I find the debug version can not build successfully. I've got error that can not solve libwebsockets functions(I've rollback the libs and header file to deps79, this is not because new version libwebsockets), and can not

[2016-02-02 08:31] yutaka-takeda-drecom opened #15005 "node curve animation bug in Animate3D::update"
in cocos2d-x 3.9.0

There is a bug in the case of nodeCurve animation of Aimate3D.

There is a transform of the node in the c3b. (This name is A)
and transform of animation are there in the c3b. (This name is B)
A and B are the same transform.

The animation data at zero frame contains the transform of the node.
In the original source code , transform of the node will be multiplied twice.
(node tr

[2016-02-02 15:58] EugenyN commented on #8519
I have the same bug in Cocos2d-x v3.9.

my workaround:

1) in OpenGLESPage.xaml.cpp, pass mCustomResolutionScale in CreateRenderSurface() method

[code]

2) in CCGLViewImpl-winrt.cpp in TransformToOrientation method:

multiply returnValue.x and  returnValue.y by mCustomResolutionScale

[2016-02-02 21:54] NimbusMantel opened #15006 "Label setBlendFunc not working"
When changing the BlendFunc of a Label, nothing is happening at all. I am working on an iMac and testing on iOS 7.1 and have also tried switching the Label's type, which also doesn't work. To reproduce the issue, just create a new Label and set its BlendFunc (in this case it's one used for masking that can be used perfectly fine with normal sprites):
`auto label = Label::createWithTTF("Text", "fon

[2016-02-03 01:54] alankevin2 opened #15007 "[Cocos2d-x JS] Change texture of specific mesh in Sprite3D"
Hi cocos2d developer

Recently, I encountered a problem which was about changing texture of a Sprite3D.
`setTexture` method of Sprite3D you have provided, changes texture of every mesh in Sprite3D, and this is not what we expected.

I mean, there should be a way to change the texture of specific mesh.
While I trace deep into native code, I found out that CCMesh declared `setTexture` method which w

[2016-02-03 03:13] sianzain opened #15008 "Scale9Sprite a problem"
in VS2012 can't build.

//--------------------------------------------------------------------------------------------------
uvCoordinates = {Vec2(u0,v3), Vec2(u3,v0)};

Should be modified as

Vec2 uvCoordinatesArr[] = {Vec2(u0,v3), Vec2(u3,v0)};
uvCoordinates = std::vector<Vec2>(uvCoordinatesArr, uvCoordinatesArr + sizeof(uvCoordinatesArr) / sizeof(Vec2) );
//-------------------------------------

[2016-02-03 03:53] stevetranby commented on #14985
Do you have (can you share) the create and visit code for your sample single image?
Do you use beginWithClear?
It's an interesting problem in that it seems if you clear and visit there shouldn't be any issue, as you mention.

[2016-02-03 08:57] laniolove opened #15010 "[cocos2d-x v3.10] MenuItemFont has a problem?"
MenuItemFont instance run a action, the action is FlipX::create(true), the program crash.  How to solve the problem?

MenuItemFont has not _textureAtlas member variable, but it use the variable(force MenuItemFont  to convert to Sprite), When flip update it.

so the  _textureAtlas is wild pointer, isn't it?

[2016-02-03 16:43] fred1024 commented on #14985
Yes the Texture is cleared before the copy. (which is a pity, I shouldn't have to do that as I fully overwrite those texels with the other RT with no blend). I tried with my own draw method ... but fell back to use the autodraw mechanism which in the end gave me a nicer code but exactly the same result.
Here's some code, maybe you can spot something ... thanks for your advice

`
void TestRTSprite:

[2016-02-03 21:07] eldaranne commented on #14486
This has been resolved in 3.10 with theTextBMFont::getRenderFile() API. I will close this issue.

[2016-02-03 21:07] #14486 closed, assigned to nobody

[2016-02-04 06:27] zilongshanren commented on #15008
@sianzain
we don't support vs2012 now. Please use vs2013 +  instead.

[2016-02-04 06:27] #15008 closed, assigned to nobody

[2016-02-04 06:28] #9214 closed, assigned to zilongshanren

[2016-02-04 06:31] zilongshanren commented on #12227
It could be possible to add `option(BUILD_SHARED_LIBS ON)` in Jenkins build, but we don't have the plan to support building shared cocos2d-x libs. If you could provide a PR, it will be welcome.

[2016-02-04 06:48] Andyscream opened #15017 "cocos2d-x-v3.10 fails linking lua project when building debug on linux(deepin and ubuntu)"
[ 21%] Built target bullet
[ 21%] Built target HelloLua_PRE_BUILD
[ 87%] Built target cocos2d
[100%] Built target luacocos2d
[100%] Linking CXX executable bin/HelloLua
lib/libluacocos2d.a(loslib.c.o)：in function‘os_tmpname’：
/home/x/workspace/testlua/frameworks/cocos2d-x/external/lua/lua/loslib.c:60: warnings：the use of `tmpnam' is dangerous, better use`mkstemp'
CMakeFiles/HelloLua.dir/runtime-src

[2016-02-04 07:01] zilongshanren commented on #14976
@xiaoxiangzi
I have tested the latest v3.10 on Nexus 5 but it works great, no crash...
please recheck your code logic or you could send your code to me.

thanks.

[2016-02-04 07:09] zilongshanren commented on #14982
@hgokturk
Could you make a minimal demo project and send it to me?
Thanks.

[2016-02-04 08:29] #14884 closed, assigned to zilongshanren

[2016-02-04 09:51] Andyscream commented on #15017
我试过了，用v3.9创建lua工程，编译是通过的，但是v3.10创建lua工程，就是最后一步linking executable时出错，linux系统，我用deepin和ubuntu都试过了，出错，没人遇到和我一样的问题吗？

[2016-02-04 10:04] zilongshanren commented on #15017
@Andyscream
我回头修一下，貌似是有问题。

[2016-02-04 19:20] slackmoehrle commented on #14057
@super626 is there an update on this?

[2016-02-05 14:32] stefan80 commented on #14057
@slackmoehrle @super626 @zilongshanren
I have checked v3.10 and the issue still exists. Can you please check this? We really need a solution for that issue.

[2016-02-05 15:29] ppawlak opened #15019 "Error in UITextField on mobile devices"
Using Cocos2d-JS v3.10, I had errors on some mobile devices with the UITextField component.

First error:

[code]

this happens with this User-Agent
`Mozilla/5.0 (Linux; Android 4.2.2; GT-S7275R Build/JDQ39) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.95 Mobile Safari/537.36`

Second error:

[code]

this happens with this User-Agent
`Mozilla/5.0 (Android 4.1.1; Mobile; rv:44.0) Gecko/4

[2016-02-05 15:55] adesentenac opened #15020 "Cannot edit decimal value in CocosStudio 3.10 on Windows with decimal separator other than dot."
If the decimal separator is not the dot (.), like in French where it's the comma (,), edition of decimal values in Cocos Studio (like anchor point, position, size...) is not possible.
The only thing possible is to clear the current value and set an integer value.

The only way to work around it is to go in Windows regional options and change the decimal separator.

In previous versions of Cocos St

[2016-02-06 04:35] RameshRavone opened #15021 "Delay in stepSimulate (Buttle Physics)"
There seems to be a delay in stepSimulate(float );

[2016-02-06 10:52] Dimon4eg commented on #14961
Hi, I also had this issue on Linux Mint.

My total solution:
1. copy
   sudo cp <COCOS FOLDER LOCATION>/external/linux-specific/fmod/prebuilt/64-bit/libfmod.so /usr/local/lib/
   sudo cp <COCOS FOLDER LOCATION>/external/linux-specific/fmod/prebuilt/64-bit/libfmodL.so /usr/local/lib/
2. create symbolic link in /usr/local/lib/
   ln -s libfmod.so libfmod.so.6
3. run ./install-deps-linux again (in co

[2016-02-06 20:24] sachingarg05 commented on #14861
I think this might be because all actual rendering happens when the frame ends (the commands are only queued). Sprite code works because that also gets executed only during next frame's rendering. If you want the newImage, try executing it after the next frame using a scheduler.

@ricardoquesada It will be good if RenderTexture provided a API like renderNow().

[2016-02-07 20:43] Likon84 commented on #14973
Really? no one even bother? it was working in older versions! Please fix it back.

[2016-02-08 08:06] sbrednikhin opened #15024 "Scroll view setInnerContainerSize customization needed."
Calling setInnerContainerSize method of scroll view causes "jumping" of scroll to top left position if container size is more than scroll view size. It would be great to have way to customize that behavior.
Now, if you have scroll view with dynamically changing content, you need to avoid of using setInnerContainerSize, or make position correction after it's call.

[2016-02-08 09:46] sbrednikhin opened #15026 "Widget::setSwallowTouches will be dropped after disabling/enabling of widget's touch."
If I'll set swallowing touches to `false` through public interface and than disable and re enable widget's touch - it will swallow touches again. Also I can't change widget's touch swallowing if it's touch is disabled now. It looks slightly confusing.

[2016-02-08 20:47] digitalhoax opened #15028 "Command line compile not working in 3.10"
With 3.10, Visual Studio 2015 and the command line tools, a newly created cocos project does not compile on the command line. Steps to reproduce are:

3.9 projects are working as expected. Discussion in the cocos2d-x forums is [here](http://discuss.cocos2d-x.org/t/cocos2d-x-3-10-required-vs-version-2012-2013/26413/8)

[2016-02-08 22:15] diamond-msc commented on #13216
I've done a `git bisect` to find the commit that caused the FPS drop from 60 to 30 under Windows 8.1 (see my earlier measurements, e. g. `Nodes: 1000, Test: A, SubTest: 10`):

Could be an issue with certain hardware or the angle lib.

[2016-02-09 08:39] xiongdi9456 opened #15031 "could you get PageView EventListener CallBack in v3.10 c++ ?"
I tested  PageView in v3.10 by c++, can not get EventListener when the page was turning.
I run the same code in v3.9 , it works.

[2016-02-09 13:35] zilongshanren commented on #15031
https://github.com/cocos2d/cocos2d-x/pull/14964

[2016-02-09 13:35] #15031 closed, assigned to nobody

[2016-02-09 15:28] ppawlak commented on #15019
I have been told by people experiencing those errors that the virtual keyboard on their device is not popping up, and are therefore unable to input text.

[2016-02-09 16:40] xdeop commented on #8305
Same problem with cocos2dx v3.9!!

Its weird because it only happens when the installation of the release apk is not from adb, but from the device (apk sent by email, added to Downloads folder,...).

How can I fix this critical issue??

![efaded48-5d89-463f-98da-3c602c9403ca](https://cloud.githubusercontent.com/assets/5227950/13045142/03baa1cc-d3d2-11e5-9b88-110af2a80d45.jpeg)

[2016-02-09 17:44] ricardoquesada commented on #13453
@slackmoehrle could you submit a PR with your test case?... just add it in the cpp-tests / DrawPrimitivesTest.cpp

[2016-02-10 00:27] greekman99 commented on #15026
Can you post some sample code?

[2016-02-10 00:35] justinl1996 commented on #15026
setSwallowTouches() will only have effect if touch is enabled. I don't see why this is confusing.

[2016-02-10 07:27] sbrednikhin commented on #15026
1:
`Layout* layout = Layout::create();`
`layout->setSwallowTouches( false );`
...
`layout->setTouchEnabled( false );`
...
`layout->setTouchEnabled( true );`
`std::cout << layout->isSwallowTouches();`

output: true

2:
`Layout* layout = Layout::create();`
`layout->setTouchEnabled( false );`
...
`layout->setSwallowTouches( false );`
...
`layout->setTouchEnabled( true );`
`std::cout << layout->isSwal

[2016-02-10 10:03] 1scaR1 opened #15034 "[JS] Changing scene leads to crash in release win32"
I have two scenes: loading and main scene.
In main.js I have:
`cc.loader.load(loadRes, function () {
        cc.director.runScene(new LoadScene());
    });`

Then LoadScene starts some animation and load data action with **cc.async**. In callback by **cc.async** called
`cc.director.runScene(new MainScene());
`
At this place application crashes only in release mode of win32 project somewhere in moz

[2016-02-10 16:00] Shulepov commented on #12753
Actually this issue appeared again after rewriting Scale9Sprite with 1 inner sprite.
The reason of this issue is when we set scale9sprite->setGLProgram - it actually do nothing. Inner renderer not added as child as well, so recursive setting of glprogram also do nothing (approach of CCClippingNode).

Should be done:

[code]

[2016-02-11 00:03] CoronationTuna opened #15035 "ScrollView children flickering on move (win32 fullscreen)"
I'm having a bit of a deal breaker problem with cocos2dx regarding visual performances.

I'm developing in C++ for win32 using fullscreen mode.
I have a ScrollView with a consistent amount of images inside it (20 or so), and when I scroll the images have a really annoying flikering problem.

I have made a simple code that I have tested and it reproduces the bug consistently, mine is much more arti

[2016-02-11 00:25] zilongshanren commented on #12753
@Shulepov
Thanks, I will fix it later.

[2016-02-11 01:57] obushnell opened #15036 "Sample project requires assets of non-compatible licenses"
For example the SpiderMonkey code uses the MPL/GPL/LGPL license instead of the MIT license that cocos2d-x is distributed under. Also the Spine code is under a custom personal only license that makes it unusable for distribution. See also the Kazmath, libjpeg, llvm, ogg-vorbis, Poly2Tri, and zlib licenses.
It is one thing for a developer to explicitly include the libraries they need. But the sample

[2016-02-11 09:44] stefan80 commented on #14057
add

auto origin = Director::getInstance()->getVisibleOrigin();
Size visibleSize = Director::getInstance()->getVisibleSize();
_gridNodeTarget = NodeGrid::create({origin, visibleSize });

at Line 345 of EffectsTest.cpp (cocos2d-x v310 tests application) and the flipping will be correct for y and x axes.

[2016-02-11 09:44] #14057 closed, assigned to nobody

[2016-02-11 11:31] p-m-j commented on #8545
Am I missing something, running cocos2dx 3.10 brand new project and I get incorrect frame size and rendering off screen on iphone 6s hardware.

Expecting frame size 1334x750 but getting 1136x640

[2016-02-11 11:54] Cupidazul commented on #8471
Hi Minggo,

Is this fixed ? Can we use glfwSetDropCallback and create a DropZone ?
Is this availlable crossplatforms ? Or is it limited to some ?
I saw that this was added into IOS_MAC https://searchcode.com/codesearch/view/95986730/ I don't see it on windows / linux / android ;

Is this feasible ? Can you give me an example ?

[2016-02-11 13:17] p-m-j opened #15038 "Incorrect value returned from glview->getFrameSize() for iphone 6s"
Using the 3.10 release with a brand new project from the template.

As far as I'm aware glview->getFrameSize() should be returning 1334x750 on iPhone 6s, instead I get 1136x640.

If I try to render a sprite with anchor set as 0,0 (bottom left) at position 0,0 it renders off screen on iPhone 6s.

Works fine on simulator for older devices (pre 6).

The launch image appears to be there fine, I had to

[2016-02-11 16:06] WarlockD opened #15042 "CCFontFNT missing _fontSize on binary fonts."
Was trying to use some binary fonts when, for some reason, the fonts came out with no fontSize.  I noticed in BMFontConfiguration::parseConfigFile that it would read the fontSize from the text version but it would never set it from the binary version.

I just added these lines to BMFontConfiguration::parseBinaryConfigFile.

[code]

I don't have access right now to Git any time soon, so thought I p

[2016-02-11 16:27] p-m-j commented on #15038
OK I finally worked out how to get it to render correctly (almost 2 days).

The first thing is the Launch Image had to be renamed

[code]

But to add to the fun, the Display Zoom must be set to **Standard** in Settings -> Display And Brightness -> Display Zoom.. If set to **Zoomed** then you will get 1136x640.

Presumably the naming is also wrong for the 6+ launch image

[code]

I will gladly subm

[2016-02-11 18:20] slackmoehrle commented on #13453
Sure

[2016-02-11 18:21] slackmoehrle commented on #8545
Is there a @3x launch image and the correct items in info.plist?

[2016-02-12 01:34] crzymik69 opened #15043 "cc.loader.loadImg() caches an empty image"
With no option specified, the function assumes a cross origin image. If that request fails, then it retries the request assuming that the image is not cross origin. The problem is it already returned the empty image to the calling routine (cc._imgLoader.load()) which caches it using the url. When the loadImg() succeeds the second time around,  loadImg() caches the newly loaded image as well but us

[2016-02-12 01:39] crzymik69 opened #15044 "cc.textureCache.addImage() uses the wrong loader for images"
In the function cc.textureCache.addImage() there is the code
`var loadFunc = cc.loader._checkIsImageURL(url) ? cc.loader.load : cc.loader.loadImg;`
It checks if the url refers to an image and if it does it calls cc.loader.load. Seems like cc.loader.load and cc.loader.loadImg should be reversed.

[2016-02-12 06:33] yutaka-takeda-drecom commented on #15005
update
I made a pull request (Pull #15045).

Node curve animation bugfix in cocos 3.10.

There is a bug in the case of nodeCurve animation of Aimate3D.

There is a transform of the node in the c3b. (This name is A)
and transform of animation are there in the c3b. (This name is B)
A and B are the same transform.

The animation data at zero frame contains the transform of the node.
In the original s

[2016-02-12 10:36] xiongdi9456 opened #15046 "cpp v3.9 EventListenerAssetsManagerEx can not get callback in android 4.4.2"
If I click a button to update resources like the demo,it works for iOS and Android.
But if I call a function A in  update(float dt)  to start the downloading,the EventListenerAssetsManagerEx in A function could not be called in Android,it works for iOS only.
I tested in Android Device

[2016-02-12 11:07] #15046 closed, assigned to nobody

[2016-02-12 11:23] p-m-j commented on #8545
I opened up issue #15038 to discuss it, have now closed to focus here.

The issue seems to be incorrectly named launch images, there is no mention of the launch images in the 3.10 info.plist, only app icons.

All of the app icons are mentioned but the 180 is not part of the target, but this doesn't seem to matter much.

renaming

[code]

Got my framesize to correct resolution.

[2016-02-12 11:24] p-m-j commented on #15038
Closing, duplicate of #8545

[2016-02-12 11:24] #15038 closed, assigned to nobody

[2016-02-12 13:16] Zzzen commented on #14682
[code]

I cannot find any reasons why `ScrollView` should not swallow touch events by default.

[2016-02-12 19:18] aardvarkk commented on #15042
Ugh!

I can confirm the following:
1. I have been trying to figure out why none of my previously-working bitmap fonts were showing up at all. No errors, just a black screen.
2. I spent the last day and a half wandering through the Cocos internal code trying to figure out why the text wasn't showing up.
3. Your fix solves the issue! Thank you so much for finding this!

I have altered your code slig

[2016-02-12 19:21] slackmoehrle commented on #8545
Yes, but I don't think you should need to do this.

Try adding this:

[code]

and here is what I have for Launch Image naming convention. (although I am missing ipad Pro, but the key is in info.plist)

![screen shot 2016-02-12 at 2 20 13 pm](https://cloud.githubusercontent.com/assets/7491758/13017702/cc56cd22-d193-11e5-9440-cb3814a6a263.png)

[2016-02-12 19:25] p-m-j commented on #8545
Shouldn't that be in **templates/cpp-template-default/proj.ios_mac/ios/Info.plist** then, to save newcomers from going mad?

[2016-02-12 19:31] slackmoehrle commented on #8545
probably, I will submit a PR

[2016-02-12 19:32] aardvarkk opened #15049 "iOS Simulator Build Linking Issues"
It appears that the libcocos2d iOS build has only the following valid architectures for Debug and Release:

`VALID_ARCHS = "arm64 armv7";`

This caused me linking headaches in XCode 7.2 as it refused to link against the Cocos libraries when doing a simulator build. This makes sense, because the simulator build is for an x86_64 architecture, not an ARM architecture like the actual device build. By

[2016-02-13 12:25] 559210 opened #15052 "Sprite3DMaterial加入了lua的导出skip？"
为什么呢？我之前lua代码用到了这个类，替代方案是什么？

[2016-02-13 15:43] stevetranby commented on #8545
You can also look at supplying a Storyboard as the default launch display going forward. It's easier to maintain and doesn't take up as much space if provide a smaller image centered on the screen.

[2016-02-14 00:01] WarlockD commented on #15042
Honestly I think the entire code should be refactored.  You take a look at the AngelCode Font program source, you see that it just writes the raw c structure to file.  But in cocos2d it reads the individual numbers in multiple memory statements.  If your not going to care about endianness in this format, why not just read the entire 20 byte structure at once instead of having 9 separate temp varia

[2016-02-14 03:35] chenpangzi opened #15054 "关于RichText的使用问题"
我的版本是3.7.1   ，我用了官方的RichText来做富文本内容。   RichText没有发现换行的接口，即没有单独设置宽度的接口。
为了让他自动换行， 我用了ignoreContentAdaptWithSize(false) 和 setContentSize
但是你们在格式化内容的时候， if(!_ignoreSize) {  _elementRenderersContainer->setContentSize(_contentSize); }  (UIRichText.cpp 403行)。 这样一来我就没有办法得到真正的高度了。

而我只知道美术允许的宽度，但是不知道策划会给我什么内容，没办法确定高度。
在我现在的版本，我能通过不改源代码既能实现换行，又能知道实际的高度呢？

[2016-02-14 03:57] chenpangzi commented on #15054
if (_ignoreSize)
    {
        Size s = getVirtualRendererSize();
        this->setContentSize(s);
    }
    else
    {
        this->setContentSize(_customSize);
    }

416-424这几行代码好像是没必要的。Size s = getVirtualRendererSize();
        this->setContentSize(s);

[2016-02-14 06:16] chenpangzi commented on #15054
在这个什么issues里面搜了richtext发现你们3.8改了，  我直接改源代码好了。
if (_customSize.height == 0) { //如果传入的高度参数是0，那就是自动设置高度
			_elementRenderersContainer->setContentSize(Size(_customSize.width, newContentSizeHeight));
		}
加了这个。

把原来的
if (_ignoreSize)
{
Size s = getVirtualRendererSize();
this->setContentSize(s);
}
else
{
this->setContentSize(_customSize);
}
改成
Size s = getVirtualRendererSize();
    this->setContentSize(s

[2016-02-14 18:04] cesarpachon opened #15056 "master version cpp-tests runtime crash on ubuntu debug mode"
hi, just after building the latest commit: 3177f3431ecbedd5756317b72afc12a6ade45585 in ubuntu, I tested both my project and the cpp-tests in linux-debug mode, in both cases there is a segmentation fault:

Program received signal SIGSEGV, Segmentation fault.
0x000000000185f1c2 in cocos2d::Node::insertChild (this=0x2f70540, child=0x2f708c0, z=0)
    at /home/cesar/Projects/cocos2d-x/cocos/2d/CCNode.

[2016-02-14 21:52] Shulepov commented on #14289
I think it will be fixed by PR #15039

[2016-02-14 23:35] stevetranby commented on #8452
Bump. Is there a best practice method for getting an event for the game window not being active - window focus/blur.

[2016-02-15 01:39] xiaofeng11 commented on #15020
Hi adesentenac,
Please refer discus in http://discuss.cocos2d-x.org/t/cocos-studio-2-2-6-very-buggy-on-mac-os/21598/20, there's a temporary solution. This issue will be fix in next version.

[2016-02-15 02:04] ThirteenZhou commented on #14981
最好能做成跟ios一样的效果吧，ios上是截断处理的

[2016-02-15 08:30] MarkusTieche opened #15059 "DepthTest breaks on windowResize"
Tested on cocos 3.8 & 3.10, code in JS. Set `cc.director.setDepthTest(true)` works fine until the browser window gets resized or mobile orientation changes.
Workaround -> get window resize event and  set `cc.director.setDepthTest(true)` again, I don't think this is how it should work.

[2016-02-15 10:10] digitalhoax commented on #15028
Was fixed in https://github.com/cocos2d/cocos2d-console/pull/332 and is already merged. Thanks!

[2016-02-15 10:10] #15028 closed, assigned to nobody

[2016-02-15 10:10] JimmyYouyy opened #15062 "a bug in LuaBasicConversions.cpp"
cocos2dx3.9
in function luaval_to_mesh_vertex_attrib
the operation of "vertexAttrib" has a bug
should be
ret->vertexAttrib = (GLint)lua_tonumber(L,-1)
but the init code is
ret->type = (GLenum)lua_tonumber(L,-1)

[2016-02-15 11:31] markovitch57 commented on #13761
Really waiting for this. Any progress? Can help if required.

[2016-02-15 13:24] #12753 closed, assigned to zilongshanren

[2016-02-16 11:09] DamienBivaud commented on #14985
bump.
Having the same issue here... hoping for some guidelines with rendertextures

[2016-02-16 11:17] xdeop opened #15072 "LabelTTF texts transform to white solid rectangles in Android (v3.9)"
In Android, when I exit my game while text is being displayed with a LabelTTF (home button) and then I re-enter the game (click on App icon), the text is replaced with white solid rectangles.

I'm using cocos2dx v3.9.

How can I fix this critical issue??

It seems as if text's texture is erased due to memory issues and never recreated...

![efaded48-5d89-463f-98da-3c602c9403ca](https://cloud.githu

[2016-02-16 15:14] stevetranby commented on #14985
@fred1024 You're code is missing some initialization or at least the header declaring your variables. It would help if you uploaded the source sprite sheet as well, if possible.

I'll try to look at it today regardless and see if I can create some dummy data.

[2016-02-16 15:35] fred1024 commented on #14985
@stevetranby ... yes this code is part of our engine so I tried to give you the most i could before it got to big. Basically TestRTSprite is a Node just call initialize() in the constructor. The sprite comes from a TexturePaker sprite sheet. The sprite in itself was 119 x 94, so quite small (why i had to scale it by 15 to fill almost the RT).

[2016-02-16 15:39] stevetranby commented on #14985
@fred1024 got it working and behaving like your error image sample, I'm using the cocos2d-x logo so it only stretches vertically, but should be enough to try a few things. It does seem like there's a fundamental problem somewhere, so no promises I'll find any fix. Prob some filtering+precision issue like you though? Glad it's not too important for you. I prob won't spend too much time on it, but I

[2016-02-16 16:06] pankaj-pp commented on #8305
Hi guys,
Any update on this issue?. Its still coming on v3.8.
Although it does not comes when i use setTimeout callback to add a label.

[2016-02-16 16:12] stevetranby commented on #14985
For reference here's one discussion with some same and also related issues.
http://discuss.cocos2d-x.org/t/3-0-beta-2-rendertexture-stretching/11618/16

[2016-02-16 16:27] slackmoehrle commented on #8545
@stevetranby Thanks. I will look into this.

[2016-02-16 19:57] jingtaow commented on #15017
I also met exactly the same problem. My environment is Ubuntu Desktop 14.04 64 bit + Cocos2dx-3.10. Is there a fix now?

[2016-02-16 20:51] stevetranby commented on #14985
@fred1024 While I did change your test code to simplify it for testing I think the following worked for me. I know many people don't like changing the engine code, so hope it works for you. This very well may be a hack and probably doesn't work well if the sprite to render is a child of parent node(s) or if the scene position has changes, or you want to render out from a camera ... I'll post this

[2016-02-17 01:19] xiaofeng11 commented on #15072
@super626 Please take a look on this issue.

[2016-02-17 02:32] zilongshanren commented on #15056
@cesarpachon
I think this is a critical bug, @pandamicro  please take a look at this.

[2016-02-17 03:44] zilongshanren commented on #15056
@cesarpachon
Wired, I have just tested the cpp-tests project on my ubuntu 14.04 machine and it works well.

[2016-02-17 03:55] zilongshanren commented on #15056
@cesarpachon
I can reproduce this issue on my mac.

[2016-02-17 05:30] 1scaR1 opened #15073 "FileUtils::createDirectory fails on OS X app with sandbox"
If you want to release application to Mac App Store, you must turn on Sanbox entitlement.
But **createDirectory** function fails to work with it, because function **mkdir** returns _-1_, not directory exists flag, for folders, that are not in Sandbox.( if pass full path to directory in function createDirectory).

[code]

[2016-02-17 05:34] liangma87 commented on #8764
is the fix released?

[2016-02-17 06:34] Guy-kun commented on #12869
I have to revive this due to this being still a huge hassle in 3.10

Two issues are occurring in my case:
1. As above, non-default cameras are not rendered during the transition, CCTransition only calls visit() and not render() on the old scene, meaning it's cameras are not visited
2. During the transition, CCTransition's call to visit() inside draw() result in the DEFAULT camera being drawn over

[2016-02-17 08:01] tungnt11 opened #15075 "[CocosStudio v3.10] Crashes when open file csd on CocosStudio 3.10, Win10 !"
I am using Win10 after updated from Win 8.1.
For CocosStudio 2.3.3 , i use normal. But when i update to v3.10, i cann't open file csd by CocosStudio. It's crashes.

[2016-02-17 08:16] xiaofeng11 commented on #15075
Hi dimaria11, CocosStudio need hardware acceleration, please confirm your video card driver have been update to the latest version and works fine. And we found some user running CocosStudio in VM, please get to know that VMWare won't support hardware acceleration to Win10 running in VM now.

[2016-02-17 08:27] sianzain opened #15076 "Use ClippingNode cut Scale9Sprite will crash"
in Scale9Sprite "CC_SAFE_DELETE_ARRAY(_sliceIndices);" crash

[2016-02-17 08:29] tungnt11 commented on #15075
I'm not running in VM, but my laptop have problem about ATI Card. Now, I only use Intel HD Graphics.
Is it reason???

[2016-02-17 08:34] tungnt11 commented on #15075
For CocosStudio 2.3.3, i use normal. What's the new in CocosStudio 3.10 ?

[2016-02-17 08:47] xiaofeng11 commented on #15075
Please update your ATI Card driver and try again, I've just talk with studio group members they find most user reported crash issue is this reason. And there hasn't any change about openGL init between 2.3.3 & 3.10, they can not sure why CocosStudio 2.3.3 run well but CocosStudio 3.10 crash. When cocos2dx init, it will call some function of libglfw, maybe this lib runs different between Win8.1 and

[2016-02-17 09:02] tungnt11 commented on #15075
But my ATI Card was broken. I only use Intel HD Graphics and don't use driver for ATI Card. Maybe, I'll use CocosStudio 2.3.3. :(. Thanks a lot xiaofeng11!

[2016-02-17 09:31] xiaofeng11 commented on #15075
You are welcome dimaria11, Does you have any crash log? it can help us find what's wrong on your PC.

[2016-02-17 09:47] tungnt11 commented on #15075
[https://drive.google.com/open?id=0B3PtFU6P-CnkWDJxOFNqTlJYb28](url)
I debug with visual Studio. I'm not sure it can help you. :)

[2016-02-17 09:56] xiaofeng11 commented on #15075
I won't have right to access the page, could you send it to me by email? My email is xiaofeng@chukong-inc.com

[2016-02-17 10:03] Andyscream commented on #15017
No，it didn't fix yet !

[2016-02-17 10:09] zilongshanren commented on #15017
@Andyscream
Be patient, man...

[2016-02-17 10:25] tungnt11 commented on #15075
i just send you. Please check your mail.

[2016-02-17 10:50] Leandros opened #15077 "TextAlignment in conjunction with kerning"
Setting a TextAlignment via cocostudio, and after that changing the kerning of that label via code, results in wrong alignment.
It looks like the alignment is applied before the kerning, and the actual (freetype bitmap) font is centered in the center of the label.

See the attached image:

![err](https://cloud.githubusercontent.com/assets/396475/13107140/7e93de5e-d56c-11e5-9046-89657385f745.png)

[2016-02-17 11:57] 1scaR1 commented on #15034
Can be closed, it's resolved by one of commits)

[2016-02-17 14:43] silverweed commented on #9319
Thumbs up. Modern Linux distros (e.g. Arch) alias  `python` to Python 3, therefore all the scripts which require Python 2 fail. Even worse, the shebangs contain the hardcoded  `/usr/bin/python` rather than  `/usr/bin/env python`, so there is no clean way to tell the scripts to use Python 2.

This problem would be trivially fixed by using  `#!/usr/bin/python2` in the shebang.

[2016-02-17 16:11] Leandros opened #15078 "Random Crashes in "background""
When the app's main controller / activity is occluded by another viewcontroller / activity, cocos2dx randomly crashes with different (quite obvious) OpenGL crashes, due to not correctly suspended. The renderer of cocos2dx should be suspended and resumed afterwards.

Apple has a quite good doc on that topic: https://developer.apple.com/library/ios/documentation/3DDrawing/Conceptual/OpenGLES_Program

[2016-02-17 16:14] Leandros opened #15079 "In case of OpenGL error (context loss, etc) restart, instead of crash"
Yes, assertive programming is good, but not in the case of an OpenGL error, which is in most cases, recoverable. The cocos2dx renderer should discard the current context, in case of an error, acquire a new, and rerender the whole scene.

This is, somewhat, related to ticket #15078, since it happened quite often after showing a fullscreen controller / activity and doing anything while it's shown /

[2016-02-17 16:35] fred1024 commented on #14985
Thanks for your feedback ...I am a bit in a rush but it looks like you've found something has i got some improvements ... :) ... I couldn't go further today but I will try to find out the reason of this behaviour. I wouldn't have bet on a transformation problem as the artefact was noticeable inside triangles not specially at the edges and the distortion was not homogenous or I miss something...

[2016-02-17 17:04] zilongshanren commented on #15079
@ricardoquesada
Thoughts?

[2016-02-17 19:26] slackmoehrle commented on #8764
Not yet. I am working on a test case to demonstrate some DrawNode issues and I will throw this in too.

[2016-02-17 20:53] stevetranby commented on #14985
No worries. I'll make sure to say again that this may be coincidental and entirely a hack and a change the will break other uses of RenderTexture. Maybe the solution will be to provide a way to define the projection, similar to how you can define the viewport. I'll test a few more images, try a sprite sheet frame, and vary the various sizes of the RT, viewport, and such. If I find anything that re

[2016-02-18 01:30] Guy-kun commented on #12869
Just to add, I've realised this very likely happens due to depth test being enabled in the director

[2016-02-18 01:39] Guy-kun commented on #15059
I can second this happening with Windows 10 builds too.

[2016-02-18 02:52] halx99 opened #15082 "A class template 'CreateHelper'. Just A feature."
usage:
 CreateHelper::create(&MySprite::initWithFile, "test.png");
[CCCreateHelper.zip](https://github.com/cocos2d/cocos2d-x/files/135570/CCCreateHelper.zip)
implement source code:
# ifndef _CCCREATE_HELPER_H_
# define _CCCREATE_HELPER_H_

/*
*\* CreateHelper for cocos2d's autorelease objects
*/
namespace cocos2d {

template<typename _Ty>
class CreateHelper
{
    typedef CreateHelper<_Ty> _Myt;
pu

[2016-02-18 02:54] halx99 commented on #15082
implement source code:

#ifndef _CCCREATE_HELPER_H_
#define _CCCREATE_HELPER_H_

/*
** CreateHelper for cocos2d's autorelease objects
*/
namespace cocos2d {

template<typename _Ty>
class CreateHelper
{
    typedef CreateHelper<_Ty> _Myt;
public:
    template<typename ..._Args>
    static _Ty* create(const _Args&...args)
    {
        auto ccobj = new(std::nothrow) _Ty();

        if (ccobj != null

[2016-02-18 03:03] #14959 closed, assigned to nobody

[2016-02-18 09:14] lolaloli commented on #15082
The optimization introduces a bug where the priority and Touch Mode will not get changed if the list is locked.
The most straight forward fix is to merge the pHandlersToAdd and pHandlersToRemove into a queue and process through all of them in the order they are received

[Agen Bola Euro 2016](http://idcash78.com/idcash78-com-agen-bola-resmi-terpercaya-euro-2016/) | [Agen Judi Online](http://idcash

[2016-02-18 09:17] lolaloli commented on #15077
The optimization introduces a bug where the priority and Touch Mode will not get changed if the list is locked.
The most straight forward fix is to merge the pHandlersToAdd and pHandlersToRemove into a queue and process through all of them in the order they are received

[Agen Bola Euro 2016](http://idcash78.com/idcash78-com-agen-bola-resmi-terpercaya-euro-2016/)

[2016-02-18 09:57] 1078559858 opened #15084 "BUG:帧动画仅0帧有帧事件，则只会触发一次帧事件。"
cocos 3.10 c++
原因：
在cctimeline.cpp文件中，
void Timeline::binarySearchKeyFrame(unsigned int frameIndex)
函数中进入do语句中的ifelse语句break后，
if(needEnterFrame || _currentKeyFrame != from）判断句没有进入，
导致eventframe的enter没有调用。

解决办法：
void Timeline::binarySearchKeyFrame(unsigned int frameIndex)
{
Frame *from = nullptr;
…………
 bool needEnterFrame = false;

//添加bool变量
bool needEnterFrameEvent = false;

…………
…………
…………
  fr

[2016-02-18 10:20] Leandros commented on #15077
lol

[2016-02-18 10:27] xiaofeng11 commented on #15084
@geron-cn Please take a look on this issue

[2016-02-18 11:11] 1078559858 commented on #15084
my solution only work on this bug, Please pay more attention to it.
thx

[2016-02-18 13:15] zhbd-bobi opened #15086 "Preload not support on Anroid"
experimental::AudioEngine::preload(path, [musicID](bool isSuccess)
    {
        CCLOG("IS IN PRELOAD");
        if(isSuccess)
        {
            XXXX; //can't arrive
        }
    });

When I run this code on android,'XXXX' can't be arrived!!

The log is shown as below in Logcat;
02-11 18:57:33.978: D/cocos2d-x debug info(29899): Preload not support on Anroid

[2016-02-19 02:15] zilongshanren commented on #15056
@cesarpachon  I think it has been fixed now. please check the latest upstream.

[2016-02-19 04:21] PhucDuy opened #15090 "Cannot load sound resources in android"
I use SimpleAudioEngine to play sound for my game. It's work in iOs. But in Android, It get errors such as " cocos2d: fullPathForFilename: No file found at winner_sound.mp3. Possible missing file."
I use cocos2dx version 3.10 and  sound file is already existed in file apk.
Anyone can help me?

[2016-02-19 11:05] gestern commented on #11742
This issue still exist on iOS in cocos2d-x 3.10

[2016-02-19 13:54] fred1024 commented on #14985
Yes @stevetranby , you are right .. crazy... I just added 3 lines in visit of RenderTexture and it works real fine :)

`    code... in RenderTexture2D::visit()

[code]

In my scene configuration (no rotations, source rt at the right Z) the rendering in RT should work with both Projection::_2D and Projection::_3D but I get no artefact in _2D and the famous artefact in _3D.

I compared the 2 project

[2016-02-19 17:00] lkknguyen opened #15093 "js_cocos2dx_Node_removeFromParentAndCleanup : wrong number of arguments"
Please help on this jsb bug.
This code

[code]

return an error message
js_cocos2dx_Node_removeFromParentAndCleanup : wrong number of arguments

[2016-02-19 17:17] AIGRIND-LLC commented on #15020
@xiaofeng11 It seems the link you provided has no solution for this issue.
Waiting for the fix.

[2016-02-19 17:25] AIGRIND-LLC commented on #15020
In Windows 8.1 Pro it could be fixed in that way:

![untitled](https://cloud.githubusercontent.com/assets/6168693/13183199/5a175faa-d73e-11e5-9275-17b1fd4b5eb5.png)

[2016-02-20 08:54] vitalyrovny commented on #15020
+1

[2016-02-21 21:56] AllanDaemon commented on #15017
I gotta the same error here. I'm using a Debian Sid (Unstable) AMD64.

[2016-02-21 23:46] cesarpachon commented on #15056
@zilongshanren It is working now, thanks!

[2016-02-21 23:46] #15056 closed, assigned to nobody

[2016-02-22 07:48] iSuneast commented on #14861
I found a bug in my code. In fact, newImage() works for me. Sorry for that. :>

[2016-02-22 08:02] stevetranby commented on #14861
I suppose renderNow() might be useful, but wouldn't that require stalling until it can force OpenGL to write to the frame buffer backing storage and then calling readPixels or some other shared memory functionality.

Maybe the API could just offer a similar callback like the Screen Shot functionality.

[code]

[2016-02-22 11:42] musikov commented on #15093
callFunc passes additional `sender` argument to removeFromParent function.
Use cc.removeSelf() instead

[2016-02-22 17:08] rraallvv opened #15098 "Animation not working in Lua running on iOS devices"
I’m using the following snippet to create an animation in a blank project created with Cocos using the precompiled version of Cocos2d-x v3.10, both for C++ and Lua.

**C++**

[code]

**Lua**

[code]

The problem is that the animation won’t work on iOS devices when cerated with Lua. The sprite looks the same as if the method runAction was not executed.

I tested OS X for both C++ and Lua, and it wo

[2016-02-23 01:24] xiaofeng11 commented on #15098
@geron-cn Please take a look on this issue

[2016-02-23 06:37] Skywalker-gamefu opened #15100 "lots of methods not exists in api reference"
hi

im using visual studio and i see lots of (sprite / node) method if i serch for it in the online api reference dosent exists like

setOpacity and setColor

and more i hope to fix it

[2016-02-23 12:24] xdeop commented on #15072
Any solution to this issue?? Or is there anything to do to avoid it?

[2016-02-24 01:52] zilongshanren commented on #15100
@Skywalker-gamefu
Thanks, I will fix it later... but I can't update the online api ref right now...
I will ask someone else to do the job...

[2016-02-24 01:53] zilongshanren commented on #15076
@sianzain
Could you show me your test code? thanks.

[2016-02-24 11:08] Leandros opened #15104 "iOS deployment target wrong"
You're stating iOS 6 runtime support, but some third-party libraries are compiled with 8.3 as deployment target.

[2016-02-24 14:35] pixmaster opened #15106 "[libwebsockets] not compiled"
related to https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src/issues/89
What is that?

[2016-02-25 01:28] crobertsbmw opened #15107 "Dead link in README"
The link in the readme for the "Temporary Cocos2d-JS documents" to http://cocos2d-x.org/docs/manual/framework/html5/en is dead. It throws an nginx error.

[2016-02-25 01:56] robslove opened #15110 "EditBox crash on iOS7 V3.10"
test-cpp=》extensionsTest=>EditBoxTest

=>name

=>input chinese, when exceed the length limit

=>crash

only on ios7, ios9 is is OK

该问题只会在ios7出现,搜了可能的类似问题
http://www.cocoachina.com/bbs/read.php?tid-460148.html
http://www.bubuko.com/infodetail-1414853.html
http://www.jianshu.com/p/2d1c06f2dfa4

[2016-02-25 02:07] zilongshanren commented on #15110
@robslove
duplicated with https://github.com/cocos2d/cocos2d-x/issues/14884