[2015-07-28 01:42] zhaijialong commented on #13046
是的，win32有问题，他们的宏玩脱了(逃

[2015-07-28 01:52] #10763 closed, assigned to fusijie

[2015-07-28 01:55] yangws commented on #13046
这个问题和 https://github.com/cocos2d/cocos2d-x/issues/12962 是同一个问题，已被修复

[2015-07-28 02:01] #13046 closed, assigned to yangws

[2015-07-28 02:23] qiululu commented on #9507
two things:
first you should setMaxLengthEnabled before you use setText function ,  second  setText is a deprecated function,  but you and still use it at present.
I've added test code for it, and it works with no crash , and I suggest you use setString function instead of setText , if it still has problem, contact us and you can give further infomation for it, such as in which  case it will cause

[2015-07-28 02:55] chainzhang opened #13050 "[3.7] Scene that inherits from cocos2d::Scene could not be run in iPhone6"
[code]

This would cause the **BAD ACCESS ERROR** in iPhone6.

[2015-07-28 03:08] pandamicro commented on #13050
It have been fixed in #12962, and will be published in v3.7.1 at about 8.11

[2015-07-28 03:08] #13050 closed, assigned to nobody

[2015-07-28 03:10] pandamicro commented on #13047
Yes, you are right. The event dispatcher doesn't occupy the detection of responding regions for performance and complicated user needs reasons. You need to detect whether your listener should respond yourself

[2015-07-28 03:11] #13047 closed, assigned to nobody

[2015-07-28 03:13] andersonmadeira commented on #13047
Ok, now I get it. Thanks.
Em 28/07/2015 00:11, "pandamicro" notifications@github.com escreveu:

[2015-07-28 03:17] pandamicro commented on #13035
For Cocos2d-x with CPP, using create functions are suggested, and it's also a suggested way for implementing your own sub classes of `Ref`.

But well, it's also an open choice, you can of course do the following:

[code]

Once you call autorelease, it will be put into the autorelease pool.

[2015-07-28 03:18] #13035 closed, assigned to nobody

[2015-07-28 03:20] pandamicro commented on #13035
About usages, you'd better open a topic on our forum: http://discuss.cocos2d-x.org/c/cocos2d-x

[2015-07-28 03:21] pandamicro commented on #13023
Socket 1.x will be supported since v3.8, until then, you can only use Socket.io < 0.9
Please refer to this PR: https://github.com/cocos2d/cocos2d-x/pull/11583

[2015-07-28 03:32] #13023 closed, assigned to nobody

[2015-07-28 03:34] pandamicro commented on #13016
I believe it's because Cocos Studio parser in v3.4 doesn't parse the value of blend functions, can you upgrade your Cocos2d-x engine ? Otherwise you may need to manually migrate the latest parser

[2015-07-28 03:37] #12996 closed, assigned to WenhaiLin

[2015-07-28 03:39] pandamicro commented on #12986
@wulei I will close this PR,
If you have further informations, you can comment and reopen it

[2015-07-28 03:39] #12986 closed, assigned to nobody

[2015-07-28 03:40] pandamicro commented on #12966
@dabingnn Can you give some feed back about this issue?

[2015-07-28 03:45] pandamicro commented on #12969
If you want to reference to the node you stored, you'd better use `setUserObject` instead of `setUserData`. The memory of data in user data should be managed and tracked by yourself, in contrary, user object will be referenced by the owner and won't be released.

If you have further informations please reopen it

[2015-07-28 03:46] #12969 closed, assigned to nobody

[2015-07-28 03:54] pandamicro commented on #12902
@zilongshanren Can this issue be fixed with your new implmentation?

[2015-07-28 03:56] pandamicro commented on #12895
Swallow touch is supported for TOUCH_ONE_BY_ONE

[2015-07-28 03:56] #10973 closed, assigned to fusijie

[2015-07-28 03:56] #12895 closed, assigned to nobody

[2015-07-28 04:01] natural-law opened #13053 "Compile android project with release mode will report error on Windows."
If the path of keystore file inputed contains `\`, `ant` will report error.

[2015-07-28 04:16] #13053 closed, assigned to natural-law

[2015-07-28 04:19] 0xJimmyBeh opened #13054 "cc.textureCache.addImageAsync and cc.RenderTexture cause crashed when changing scene or low memory on iOS"
I'm using `cc.textureCache.addImageAsync` to download multiple online image at the same time.

In `this.imageDownloaded` callback, i use the texture to create a sprite and `cc.RenderTexture` to save the image to file.

The crashed happen when changing scene or received low memory warning while the image is still downloading or being saved by renderer.saveToFile. This can be known as some sprite is

[2015-07-28 04:58] pandamicro commented on #12857
Hi, in the current implementation, initWithImageData is already in the download thread and asynchronous.

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/scripting/js-bindings/manual/extension/jsb_cocos2dx_extension_manual.cpp#L971

[2015-07-28 04:58] #12857 closed, assigned to nobody

[2015-07-28 05:14] 0xJimmyBeh commented on #12857
@pandamicro
If it is asynchronous, why it still freeze the app when the image downloaded on iOS and Android?
I created a sprite on the `cc.textureCache.addImageAsync` callback.

The app will freeze awhile before the sprite shown.

I remember you told me that CCImage is in the platform folder. So different platform might have different performance.

But if it run asynchronous which is on another th

[2015-07-28 06:23] fusijie commented on #12907
yep...
But it's ok, can't find normal attribute is ok... and normal is not used if the scene has no light source..
If you wanna to use normal attribute for other purpose, you should define your own shaders.
Or dose it cause any bugs?

[2015-07-28 06:35] jonnyijapan commented on #13035
Thanks, got it! For some reason the create functions didn't work with RapidGame - I never found the reason for that and as I have to move on I stopped using RapidGame and will now go back to plain cocos2d-x.

[2015-07-28 06:46] saganhim commented on #13016
I tried with Cocos2d-x higher version (3.6 - 3.7) , but what I saw did not change

[2015-07-28 07:07] pandamicro commented on #13016
Do you have a sample project to reproduce the issue ?

[2015-07-28 07:20] yangws commented on #12965
此问题已在 pr https://github.com/cocos2d/cocos2d-x/pull/12735 中修复。
在新的实现中：
－在CCRef里面通过CC_REF_LEAK_DETECTION跟踪Ref对象生命周期，由于现在Image是继承自Ref，在TextureCache里面通过线程加载时就有可能导致__refAllocationList数据污染。
-\* Image在这线程中被创建。
- FileUtils的fullPathForFilename也是一样在TextureCache的loadImage线程里面操作_fullPathCache这个容器。
  -\* fullPathForFilename 全部在主线程中执行。
- TextureCache的loadImage里面_textures.find(asyncStruct->filename);操作也是不安全的
  -

[2015-07-28 07:22] natural-law commented on #12970
@dreamlover
I just test the `cocos new` command. I haven't found the error.
The command I tested & the output:

[code]

Then take a look at the package name in AndroidManifest.xml:
![image](https://cloud.githubusercontent.com/assets/488169/8925680/4cd75150-353c-11e5-96e3-76f53fdeb076.png)

The package name has been replaced with `com.xx.xxx`.

[2015-07-28 07:58] xiaofengxyz commented on #9344
Thanks a lot! It did work.

[2015-07-28 08:33] geron-cn opened #13060 "BoneNode 's debugdraw can not be controlled by ancestor's visible"
BoneNode 's debugdraw can not be controlled by ancestor's visible

[2015-07-28 09:13] #12145 closed, assigned to yangws

[2015-07-28 14:35] Ultraspider commented on #9597
Testing on Samsung Galaxy S4 here, crash after unlock occurring every time using cocos2d-x v3.4
Tried blindly the fix from the first message and it solved the issue. No more crash.

[2015-07-28 15:07] Ultraspider commented on #9597
Though it solved the crash issue, I had still issue with the weird activity flow when locking the phone (music still playing because onResume called while locked, ...) so I searched further and found this :
http://discuss.cocos2d-x.org/t/cocos2d-x-v3-3-lock-screen-issue/19619/8

I added that attribute in the manifest, reverted CCEventDispatcher.cpp back to its original state and everything is solv

[2015-07-28 17:00] purepure opened #13068 "Build for android error"
I finish my game on ios and run it very well, but when I try to build for android, it got so many error
I think it come from compiler. Please take a look and help
Thank

Here is the log:

<code>
Please use cocos console instead.

Running command: compile
Building mode: debug
Android platform not specified, searching a default one...
running: '/Volumes/Data/Dev/Android/android-sdk-macosx/tools/andr

[2015-07-28 17:15] ricardoquesada commented on #10382
I'll start working on this. I'll implement the "cocos net" abstraction

[2015-07-28 17:42] purepure commented on #13068
I resolve myself.
Some class does not include #include "cocos2d.h". So I try to include that class to make it work
The most wired is about I can compile for ios normally but Android,

[2015-07-28 17:42] #13068 closed, assigned to nobody

[2015-07-28 19:20] ricardoquesada commented on #10382
Native replacements for **iOS**:
- AFNetworking: https://github.com/AFNetworking/AFNetworking
- NSURLConnection / NSURLSession: https://developer.apple.com/library/ios/documentation/Cocoa/Conceptual/URLLoadingSystem/URLLoadingSystem.html

Native replacements for **Android**:
- Volley: https://www.youtube.com/watch/?v=yhv8l9F44qo
- OkHTTP: http://square.github.io/okhttp/

Any other ?
@minggo @panda

[2015-07-28 21:36] simondel opened #13070 "C++ template project style differs from JS template project"
When creating a new JS project, a sample HelloWorldScene is created and that scene creates a HelloWorldLayer. From a hierarchical standpoint this makes a lot of sense: the layer is a child of the scene so the scene creates the layer.

In the C++ project this is not the case. The layer creates the scene which puts an odd dependency on the layer which should not be there in my opinion.

Could the C+

[2015-07-28 22:53] ricardoquesada commented on #10382
@linshun @pandamicro Hey, I need some help. I noticed that we already have some networking code in cocos/network: https://github.com/cocos2d/cocos2d-x/tree/v3/cocos/network

Should AssetManager / DownloadManager use the cocos/network code ( `HttpClient`) ? And I think that was the suggestion made by @Yehsam23.

If so, I wouldn't need to create the "network" layer... perhaps I only need to create t

[2015-07-28 23:10] ricardoquesada commented on #10382
And what is the difference between `AssetsManager` and `AssetsManagerEx` ?
And any particular reason why `AssetsManager` is a subclass of `Node` ?
Thanks.

[2015-07-29 01:41] pandamicro commented on #10382
## Third party libraries

For native replacement on Android, Cocos Play & Runtime are using :

android-async-http: https://github.com/loopj/android-async-http

## About HttpClient

Yes, that's what @Yehsam23 suggested.

There are couple of problems about HttpClient:
- It only support single file downloading
- It only store results in the buffer
- We need to maintain the iOS/Android implementation

[2015-07-29 01:52] #10386 closed, assigned to yangws

[2015-07-29 01:59] ricardoquesada commented on #10382
@pandamicro thanks for the detailed info.

So, apparently `HttpClient` is using [libwebsockets](https://github.com/warmcat/libwebsockets) and I guess libwebsockets has all the functionality that we need... (just a guess since libwebsockets is being used by chrome as well)

So, perhaps what I should do is to wrap the missing functionality of libwebsockets into the namespace `cocos::network`.

What

[2015-07-29 02:07] #12968 closed, assigned to chengstory

[2015-07-29 02:14] c3076802 opened #13072 "3.x 通过tolua自动导出到lua的C++函数异常检查的问题（原谅我无法reopen，很重要所以再次提出）"
[code]

比如以上代码，如果COCOS2D_DEBUG 不是>=1的话，if (!cobj) 这句就不会执行，在运行中是会有cobj == null的情况的，比如说
1. 脚本使用了一个Node，将其放在一个callback里面执行（并没有retain）
2. callback还没执行之前，其他脚本代码删除了Node
3. 在lua的注册表就删除了该Node的关联
4. callback调用，cobj = (cocos2d::Ref*)tolua_tousertype(tolua_S,1,0); cobj返回null
5. 崩溃
这个脚本程序员很常见的错误，如果一个不小心，release版本就不明不白的就挂了。
我宁愿要一个slow and safe的运行环境，所以我才请求，在lua自动导出的文件(auto)里面，关于lua异常检查的开关宏不要用COCOS2D_DEBUG来处理，
因

[2015-07-29 02:15] pandamicro commented on #10382
Websocket is long connection network library while Http is short connection, so I don't think we can use libwebsockets to implement Http, correct me if I'm wrong, maybe libwebsockets have http capacity.

HttpClient on iOS is using `network/HttpAsynConnection.h`

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/network/HttpClient-apple.mm

It's using `java.net.HttpURLConnection` on Android

https

[2015-07-29 02:21] zilongshanren commented on #13072
@c3076802  Why not catch the bug in DEBUG mode?

[2015-07-29 02:21] c3076802 commented on #13072
这是在开发中很常见的问题，说白了很多脚本程序员基础本来就不太好，我知道如果retain和release都弄好，其实是不会有以上的问题，但是现实就是根本上无法控制，记得retain又忘了release，造成内存泄露。

之前我们做过端游，就直接导出智能指针，这样就没有这种问题了，比如BigWorld, 用得是python
但是lua 5.1 table的没有gc事件（5.2有），这样就没办法精确控制C++对象的生命周期，而且就会导致内存消耗变大，这个在手游是不允许的。

在开发大型游戏时多人合作，在有限的开发时间里，对象生命周期及其难以维护，之前我们用cocos做的几个项目都是手改的，真心不想再弄一次了，蛋疼。

[2015-07-29 02:28] c3076802 commented on #13072
@zilongshanren It is nearly impossible to catch the bug in DEBUG mode when you developing a large project.
1. some script programmer just don‘t have the capacity to handle the obj life-cycle well when developing module with others ( specially involving timer, callback and events push from the server)；
   and as you know we just not be able to hire good script programmer always; due to the budget a

[2015-07-29 02:33] ricardoquesada commented on #10382
@pandamicro
you are right!

So, we have:
- `HTTPClient`: that uses native implementations: Does it work on Windows or Linux ? What does it use for those ?
- `WebSocket`: which is a wrapper of libwebsockets. I guess it is available for all our platforms
- `SocketIO`:  which I don't know what it does.

At this point I'm rather confused :(

What is your suggestion? I don't want to create yet another.

[2015-07-29 02:38] zilongshanren commented on #13072
@c3076802  有什么办法可以减少这种错误 么？ 现在 Lua 是没办法控件C++对象的生命周期的。@dualface 这个问题你怎么看？

[2015-07-29 02:40] stammen commented on #10382
How about Casablanca, a C++ REST API from Microsoft? It works on iOS, Android, Windows, Windows Phone and Linux.

https://casablanca.codeplex.com/documentation

[2015-07-29 02:45] c3076802 commented on #13072
我的意思就是，让所有这些自动导出的C++文件里面的lua API调用检查都通过其他宏来控制，根据项目需要来开关，比如我做一个大型项目，测试时间也不够，那么我就打开这个宏，进入safe and slow 模式，如果是个小游戏或者效率要求很高，那么大可关闭这个宏，现在的问题是，使用了COCOS2D_DEBUG 这个宏，弄起来麻烦而已。 @zilongshanren 我上面的评论也编辑了一下，BigWorld是用了智能指针（python），GameByro是handle + 智能指针（python or lua），其实都不太适合手游，原因上面也有说了，lua 5.1的局限和内存堆积。cocos本来就处理得不错，其实就是个宏的问题。

[2015-07-29 03:00] pandamicro commented on #10382
All three works for all platforms, they serve for different purposes
1. HTTPClient

   It's for HTTP connections (short connection), on Windows/Linux it uses libcurl
   It's used by Lua/JS Http connections, it may be used by C++ users
   Short connection is often used for simple message transitions, downloading files, etc
2. WebSocket

   It's for WebSocket connections (long connection), it's orig

[2015-07-29 03:09] #11487 closed, assigned to masterhou

[2015-07-29 03:11] dabingnn commented on #11771
@cmillauriaux This is not a bug, in cocos2d-x, Node does not support clone yet, we are planning to add this feature in future version.
Thanks!
@pandamicro My proposal is to change the label and target milestones of this issue, It can not be finished in 3.8 due to the time limit.

[2015-07-29 03:18] c3076802 commented on #12966
OK，here is my fix， tested with VLD。

// PlayerMenuServiceWin.cpp

[code]

// PlayerMenuServiceWin.cpp

[code]

//PlayerWin.cpp

[code]

[2015-07-29 03:29] #12965 closed, assigned to yangws

[2015-07-29 03:29] pandamicro commented on #12965
Thanks

[2015-07-29 03:29] c3076802 commented on #12966
还有一个问题，如果开了CC_REF_LEAK_DETECTION 使用 void Ref::printLeaks() ，其实有Ref是静态创建的，所以一直都会报错

CCTransformHelp.cpp line 38
    [memory] LEAK: Ref object 'class cocostudio::BaseData' still active with reference count 1.

[2015-07-29 03:53] ricardoquesada commented on #10382
@stammen thanks for the suggestion. I'll take a look at it.

@pandamicro
Thanks!

Although now I understand the purpose of the 3 libraries  (I'm still trying to figure out the purpose of SocketIO) I think that our network stack is confusing. In theory no explanation should be needed.

Something like the following would be much better:

[code]

But I don't want to refactor anything at this moment..

[2015-07-29 04:05] c3076802 opened #13074 "Request ParallaxNode children node position calculation timing to be flexible"
[code]

现在ParallaxNode计算子节点的位置是在visit函数的，但是这个函数对于逻辑代码来说有可能太晚了，如果逻辑函数需要使用最终子节点位移来计算的话，因为visit就到了渲染那一步了，也就是说逻辑代码需要下一帧才能获取到正确的node位置。
以下是一个使用场景，地图系统
1. 我们有多个图层（Node），每个图层NxN块地表，我们通过检查摄像机中心和视野来决定哪些地表需要被加载。
2. 而且图层们都加ParallaxNode节点上，有不同的视差ratio
3. 根据逻辑代码，ParallxNode  setPosition 切换到地图不同的点，标记dirty
4. 通过convertToNodeSpace计算每个地表层次真正的摄像机中心点
5. 如果dirty,根据各自层次的摄像机位置，计算那些tile会被加载和显示
6. ParallxNode:visit (此时才执

[2015-07-29 04:07] pandamicro commented on #10382
Thanks ! Riq

[2015-07-29 04:08] darkoverlordofdata opened #13075 "Can't find 3.7 min.js"
Hi, I just downloaded 3.7, and I can't find a prebuilt min.js anywhere.
cocos2d-js v3.6.1 had a cocos2d-js-v3.6-min.js located in frameworks/cocos2d-html5/lib

Will you be adding this back in for future releases?

Bruce

[2015-07-29 05:59] pandamicro commented on #13075
Oh, sorry, that was my mistake, I will build it in v3.7.1.
You can build it yourself by running `ant` command under `web/tools`

[2015-07-29 05:59] #13075 closed, assigned to nobody

[2015-07-29 06:47] zilongshanren commented on #13072
@c3076802  恩，这样改要去论坛投票一下，毕竟是个破坏兼容性的修改。

[2015-07-29 07:03] c3076802 commented on #13072
@zilongshanren
恩，好的。
其实cocos 2.x的时候这个lua-binding的异常检查是通过独立的宏 TOLUA_RELEASE 来控制的，这样其实就足够灵活了。

[code]

使用时只要将TOLUA_RELEASE 定义一下，就是safe and slow的模式了。

[2015-07-29 07:24] fatfatson opened #13080 "ccui.AbstractCheckButton没有注册到脚本，导致ccui.CheckBox继承链也断了无法使用Widget相关函数"
同时像setSelected这些本属于CheckBox的函数因为移到AbstractCheckButton上去了，现在也没法从脚本调用。非常大的问题啊！！！

[2015-07-29 07:30] zilongshanren commented on #13080
@fatfatson  Thanks for reporting, we need to resolve it before v3.8 release.

[2015-07-29 07:35] c3076802 commented on #13072
BTW
我们现在的改法是在tolua_fix.h加上

[code]

[2015-07-29 07:36] #13003 closed, assigned to pandamicro

[2015-07-29 07:59] fusijie commented on #10487
**Here is auto-culling's performance test.**
<img width="1019" alt="peformancetest1" src="https://cloud.githubusercontent.com/assets/5085300/8975376/19a4f682-36b0-11e5-89a8-19510c9b5b6a.png">

**Result:**
- All inside of screen
  - Enable or disable auto-culling have almost the same performance.
  - But if `not check dirty`, will cause perfermance loss in Android (-20%).
- All outside of screen

[2015-07-29 08:33] WenhaiLin commented on #10688
Fixed at https://github.com/cocos2d/cocos2d-x/pull/13084

[2015-07-29 11:09] eliodecolli opened #13090 "Sprite doesn't show after setting its Physics Body"
Here's my piece of code:
http://pastebin.com/tD1PnzNM

The "enemy" sprite doesn't appear if I set its PhysicsBody, the strange thing is that it happens only with that specific sprite.

[2015-07-29 13:59] ItsElioBaby commented on #13090
Really? No answers? So it's like the engine simply doesn't want me to have that sprite inside the game.

[2015-07-29 14:49] fusijie commented on #12859
@zilongshanren  please reopen it.

[2015-07-29 14:56] #13090 closed, assigned to nobody

[2015-07-29 15:15] PeqNP commented on #11891
I'm now seeing the same issue on iOS. Essentially, the callback never happens. So I'll get the: `"SpritePlist.loadFrames() - Loading texture asynchronously (%s)"` log message, but not the `"SpritePlist.textureLoaded() - Texture load complete (%s)"` at certain times. It doesn't always happen... but it does appear to happen more often on Android. I think what I'll do right now is simply stop using t

[2015-07-29 16:57] eliodecolli opened #13094 "Issues with new scenes."
So here's the deal:
1. I create a new scene and fetch inside it a layer with additional sprites and events.
2. One of these sprites has a physics body.
3. That precise sprite (with a physics body) doesn't appear in the scene when running the game, when I try to change its position (with a mouse event) it then appears.
4. Contact between that sprite and additional bullets sprites doesn't trigger an

[2015-07-29 17:59] eliodecolli commented on #13094
The bug seems to be fixed, however I did manage to fix it by simply fetching everything in a layer, removing the initial layer (created by HelloWorld) and replacing it with the new layer containing the "scene".
This is not really a fix as I am not wishing to keep everything in the same scene and only changing layers of that scene it is not what I am trying to achieve and is a great loss.

[2015-07-29 23:59] ricardoquesada commented on #10382
So, this is what I'm doing:

**step 1)**
- add a `URLDownload` class to the `cocos2d::network` network. Basically it will be a super simple wrap of libcurl.
- `Downloader` and `AssetManager` will use this new API instead of calling libcurl directly.

**step 2)**
- Add native support for iOS and Android for `URLDownload`

I'm adding my code:  https://github.com/ricardoquesada/cocos2d-x/tree/cocos_n

[2015-07-30 01:01] jie-meng opened #13096 "Tiledmap display usually not correct"
This is tiledmap:
![tiled](https://cloud.githubusercontent.com/assets/7405315/8973613/5432b8c8-3699-11e5-8483-07d87320409a.PNG)

This is how cocos2d-x-3.6 displayed:
![cocos](https://cloud.githubusercontent.com/assets/7405315/8973617/68b184be-3699-11e5-994a-ffd51013c7eb.PNG)

cocos2dx 3.5, 3.6 both have this bug.

[2015-07-30 01:02] jie-meng commented on #13096
I tried on windows, linux and Android, all of the 3 platforms display not correct.

[2015-07-30 01:48] pandamicro commented on #12666
Duplicated with https://github.com/cocos2d/cocos2d-x/issues/9333

[2015-07-30 01:48] #12666 closed, assigned to qiululu

[2015-07-30 01:48] pandamicro commented on #12154
Duplicated with https://github.com/cocos2d/cocos2d-x/issues/9333

[2015-07-30 01:48] #12154 closed, assigned to nobody

[2015-07-30 02:09] xiaoqiangkx opened #13099 "cocos 3.1无法使用NDK r10c，有解决方案吗？"
使用NDK r10c编译cocos 3.1时会报错，看上去是NDK r10c去除了一部分方法。
cocos2d-x/external/lua/lua/prebuilt/android/liblua.a(lauxlib.o):lauxlib.c:function luaL_loadfile: error: undefined reference to '__srget'

大家有同时使用cocos 3.1 + NDK 10c的解决方案吗？

[2015-07-30 03:33] pandamicro commented on #13096
Please check whether this PR fix your problem: https://github.com/cocos2d/cocos2d-x/pull/12971

[2015-07-30 03:46] folgerhu opened #13103 "HTML5 -- Armature render bug in CANVAS mode"
`Engine version: Cocos 2d-x v3.7`
`Language: JS`
`Test env:  Chrome for mac Version 41.0.2272.101 (64-bit)`

`Reproduce steps:`
1. create JS project and set "renderMode" : 2
2. create a Armature object
3. add some display object into this Armature object
4. run moveTo action with this Armature object
5. run in web browser with canvas mode, then some display object position is incorrect:
<img width

[2015-07-30 04:04] fusijie commented on #10487
According to the performance test, fixed in #13105.
New2 Code -> #13105.
<img width="1105" alt="peformancetest2" src="https://cloud.githubusercontent.com/assets/5085300/8975557/0aa55b4c-36b3-11e5-8fec-532650c70f47.png">

[2015-07-30 04:57] #10242 closed, assigned to masterhou

[2015-07-30 06:04] jie-meng commented on #13096
It does not work with PR #12971  commit 3c3a5a6.

[2015-07-30 06:08] jie-meng commented on #13096
This bug is really easy to appear when you create a tiledmap with 3 or more tiled layers, some map graphics in different pngs.

[2015-07-30 06:51] dualface commented on #13072
是的。在 2.x 里是通过独立宏来开关的。

我个人认为应该一直打开这些参数检查，对性能的影响极小，却能明显帮助脚本开发者。

[2015-07-30 08:24] fusijie opened #13109 "Auto-Culling issue"
relate issue: #10487
relate pr: #13105

**Temporary solution:**
#13105 is a temporary remedy. we wanna to get a balance between bug and performance. so we choose  to check model view matrix dirty for default camera preferentially and ignore user's cameras.

**Now the result is:**
- For default camera, bug is fixed, performance almost the same with before.
- For user's cameras, bug is fixed, but ge

[2015-07-30 08:26] WenhaiLin commented on #9333
Fixed at https://github.com/cocos2d/cocos2d-x/pull/13110

[2015-07-30 08:29] WenhaiLin commented on #9333
@MinotaurosLee @jminht @firegames Please try this solution:https://github.com/cocos2d/cocos2d-x/pull/13110

[2015-07-30 09:12] #10487 closed, assigned to fusijie

[2015-07-30 10:26] WenhaiLin commented on #10217
Fixed possible crash on mac/ios at : https://github.com/cocos2d/cocos2d-x/pull/13311

[2015-07-30 10:50] lstarboy opened #13123 "renderer: UI component can't click correctly by moving UI and camera far away of origin"

[2015-07-30 10:50] #13123 closed, assigned to nobody

[2015-07-30 12:21] pandamicro commented on #9958
v3.8 Tasks are finished here.
Future improvements will be scheduled in next versions

[2015-07-30 12:31] #13060 closed, assigned to nobody

[2015-07-30 12:36] #12997 closed, assigned to pandamicro

[2015-07-30 13:59] Leandros opened #13124 "`TransitionFade` isn't correctly constructed anymore."
I've updated from 3.6 to 3.7 and noticed that TransitionFade isn't correctly constructed anymore. It seems to work just fine, but accessing `_duration` or `_inScene` through doesn't return correct values anymore.

`_duration` seems to be uninitialized, and `_inScene` is always `NULL`.

It's especially weird, since there are no changes to `CCTransition.h` or `CCTransition.cpp` from 3.6 to 3.7.

[2015-07-30 14:29] pandamicro commented on #12757
Related tasks:

Add automatic extend to JSB for classes "need to extend": https://github.com/cocos2d/cocos2d-x/pull/12974
Ensure C++ classes onEnter, onExit can be safely override in JS: https://github.com/cocos2d/cocos2d-x/pull/13065

[2015-07-30 14:29] #12757 closed, assigned to pandamicro

[2015-07-31 01:49] #10082 closed, assigned to yangws

[2015-07-31 01:50] #9400 closed, assigned to zilongshanren

[2015-07-31 02:02] ricardoquesada commented on #10382
@pandamicro
I have a question regarding `Downloader::batchDownloadSync()`.

It only checks to see if the 1st URL of the group supports resume. What if the second URL doesn't support it ?

Or does `batchDownloadSync()` only work with URL that belong to the same server ?
thanks.

[2015-07-31 02:11] ricardoquesada commented on #10382
@pandamicro @minggo
One more question... any objection in moving `Downloader` from the `cocos2d::extensions` namespace to the `cocos2d::network` namespace ?

[2015-07-31 03:18] dabingnn commented on #8524
@yangws Could you please give a conclusion of this issue?

[2015-07-31 03:19] dreamlover commented on #12970
Which version do you use? I use cocos2d-x 3.6 downloaded from your official website. It's OK if this error has been fixed, however. :)

[2015-07-31 03:20] sianzain opened #13134 "win32無法編譯，experimental::Viewport建構式錯誤"
cocos\platform\CCGLView.cpp
line:230
應該改為
    experimental::Viewport vp((float)(x \* _scaleX + _viewPortRect.origin.x),
        (float)(y \* _scaleY + _viewPortRect.origin.y),
        (float)(w \* _scaleX),
        (float)(h \* _scaleY));
//--------------------------------------------------------------------------------------------
cocos\platform\desktop\CCGLViewImpl-desktop.cpp
line:554
應該改為
expe

[2015-07-31 03:20] zilongshanren commented on #12516
@zeyangl  Sorry for the late reply.
@WenhaiLin  Could you add BMFont batch support? Is it difficult?

[2015-07-31 03:22] #9004 closed, assigned to zilongshanren

[2015-07-31 03:25] folgerhu opened #13135 "Possibility to remove entirely 3d module"
Plese add compilation define ENABLE_3D.

[2015-07-31 03:27] dreamlover opened #13136 "TypeError: ccui.CheckBox.getSelectedState = UICheckBoxDeprecated.setSelectedState"
cocos/ui/DeprecatedUIFunc.lua:121:
--- source ---
function UICheckBoxDeprecated.getSelectedState(self)
   deprecatedTip("ccui.CheckBox:getSelectedState", "ccui.CheckBox:getSelected")
   return self:getSelected()
end
ccui.CheckBox.getSelectedState = UICheckBoxDeprecated.setSelectedState
--- end ---

Maybe that is derived from here: cocos/ui/UICheckBox.h:191:
--- source ---
/**
     \* Change Checkb

[2015-07-31 03:37] yangws commented on #8524
The cocos2d::TMXTiledMap implement by BatchNode,
and experimental::TMXTiledMap implement by Renderer auto batch.
All representation mentioned above are match there design, the incorrect image of TMXIsoVertexZ test case is due to BatchNode limitation.
So, this issue nothing need to fix.

fI run the tilemap test and fast tilemap test in cpp-tests on ipad2, all test run at 60fps.
I think we can arran

[2015-07-31 03:41] pandamicro commented on #10382
Oh, that's an issue, when I designed Downloader, it's only used by AssetsManagerEx. In AssetsManagerEx, batch download can only download files from the same server. So it never cause any issue. But you are right, it can be used to download files from different servers, and we should check download resuming support for the resuming file, not the first file.

Downloader isn't used anywhere else exce

[2015-07-31 03:42] ricardoquesada commented on #10382
ok. thanks for the info. I'll move the `Downloader` then. Thanks.

[2015-07-31 03:46] pandamicro commented on #13135
Currently, if you haven't use any 3d header files, 3d module will be stripped dynamically at compilation. It may not be very clean in JSB / LuaB.

For total clean removal, I think the right way to do this is the following:
1. Provide plugin system, or C++ module system
2. Make 3D a plugin or a module so that user can remove or add it freely.

[2015-07-31 04:02] #12692 closed, assigned to yangws

[2015-07-31 05:43] liuzhi1989gbc commented on #10382
## 需求

游戏对网络的需求有以下几种：

-   和服务端交互
    -   通过 HTTP
    -   通过 Raw Socket
    -   通过 WebSocket
-   从服务器获取资源

特别说明：

-   Raw Socket 是指客户端和服务端创建 Socket 连接后，双方自行处理数据包的拆包、合并等操作。
-   WebSocket 在握手阶段通过 HTTP 协议进行；握手成功后，和客户端创建 Socket 连接。在通讯时，WebSocket 协议已经处理了拆包、合并等工作。
-   SocketIO 仅仅只是 WebSocket 的一个逻辑层面封装，提供更容易使用 API。所以 SocketIO 仍然属于 WebSocket，而不是 Raw Socket。
-   开发商选择 Raw Socket 还是 WebSocket，很大程度上是由服务端架构决定

[2015-07-31 05:47] dualface commented on #10382
## 需求

游戏对网络的需求有以下几种：
-   和服务端交互
  -   通过 HTTP
  -   通过 Raw Socket
  -   通过 WebSocket
-   从服务器获取资源

特别说明：
-   Raw Socket 是指客户端和服务端创建 Socket 连接后，双方自行处理数据包的拆包、合并等操作。
-   WebSocket 在握手阶段通过 HTTP 协议进行；握手成功后，和客户端创建 Socket 连接。在通讯时，WebSocket 协议已经处理了拆包、合并等工作。
-   SocketIO 仅仅只是 WebSocket 的一个逻辑层面封装，提供更容易使用 API。所以 SocketIO 仍然属于 WebSocket，而不是 Raw Socket。
-   开发商选择 Raw Socket 还是 WebSocket，很大程度上是由服务端架构决定的。

所以 c

[2015-07-31 06:32] pandamicro commented on #10382
@ricardoquesada I translated @dualface 's proposition. Please take a look

[2015-07-31 06:44] dabingnn commented on #8524
Thanks, it seems that there is some limitation on TileMap based on `BatchNode`. My proposal is:
- Close this issue.
- Add a new ticket to refine TileMap.

[2015-07-31 07:25] tigerwng commented on #8306
我在3.6版本，当使用RenderTexture渲染了ClippingNode中的数据时也遇到了这个问题。看了描述中提到的解决方法，不过没大看懂。有什么解决方案吗？

[2015-07-31 07:43] #9507 closed, assigned to yangws

[2015-07-31 08:12] folgerhu opened #13139 "EditBox cursor location not update on iphone 5"
`Engine version: Cocos 2d-x v3.7`
`Test environment:  iphone5`

When character is beyond its effective area,
the cursor will not update location to the back,
need to press the backspace key will be updated.

[2015-07-31 08:23] folgerhu opened #13140 "Editbox setInputFlag as "password", enter key can't complete input."
`Engine version: Cocos 2d-x v3.7`
`Test environment:  XiaoMi2 / Samsung GT-I8552`

Editbox setInputFlag as "password", click the "enter" on the soft keyboard, the input have not completed, but the "enter" as a character.

[2015-07-31 09:37] mikementos opened #13142 "Can't use proj.android-studio for compiling"
I can't make it run the android project for android studio. because of this error

java.lang.UnsatisfiedLinkError: Couldn't load cocos2dcpp: findLibrary returned null

http://stackoverflow.com/questions/31737384/android-studio-1-3-java-lang-unsatisfiedlinkerror-couldnt-load-cocos2dcpp-fin

[2015-07-31 10:17] zilongshanren opened #13143 "EditBox iOS 8.4 keyboard animation is wrong"

[2015-07-31 10:19] lyubomirv commented on #8524
@dabingnn @pandamicro So will this be fixed? And will it still be planned for 3.8? Could you please link to the new ticket about "refining" the `TileMap`? The ticket, that @yangws has made related does not seem related to this one at all (I saw the commit). Or am I missing something?

[2015-07-31 10:41] pandamicro commented on #8524
I think what @yangws means is that you can safely use `experimental::TMXTiledMap`, and in the future we will replace `cocos2d::TMXTiledMap` with `experimental::TMXTiledMap`

[2015-07-31 10:45] lyubomirv commented on #8524
@pandamicro Got it!

[2015-07-31 12:34] WenhaiLin commented on #13142
Cocos console now supports compilation and package with Android Studio 1.2+, use it with a --android-studio flag

[code]

[2015-07-31 12:51] ricardoquesada commented on #10382
@pandamicro @dualface

Thanks. I like it.

My comments are:
Currently we already have an `HTTPClient` that has an `HTTPRequest` class.
And we also have a complete implementation of `WebSocket`, which is not a subclass `HTTPRequest....`.

I think your proposal is very good, but it is outside the scope of this feature since it will require changes that might break compatibility.

For v3.8, I would j

[2015-08-01 01:59] #12859 closed, assigned to nobody

[2015-08-01 03:01] #9572 closed, assigned to zilongshanren

[2015-08-01 03:46] zilongshanren opened #13147 "Reimplement EditBox on Android platform"
Discussion move to here: http://discuss.cocos2d-x.org/t/editbox-on-android-has-been-improved-dramatically/22977

[2015-08-01 07:35] zilongshanren opened #13148 "ui::PageView child focus cancel offset is hard coded"
We should unify the child focus cancel offset in ScrollView and PageView.

[2015-08-01 07:39] #9333 closed, assigned to WenhaiLin

[2015-08-01 08:50] shkertt opened #13150 "[Spine] SkeletonRenderer::initialize cause memory leak"
SkeletonRenderer::_atlas 初始化后 被SkeletonRenderer::initialize 置空

导致内存在析构是无法释放

[2015-08-01 10:09] #11618 closed, assigned to pandamicro

[2015-08-01 10:24] #9310 closed, assigned to super626

[2015-08-01 10:24] #10151 closed, assigned to super626

[2015-08-01 13:16] #12404 closed, assigned to jianglong0156

[2015-08-02 05:37] wade0317 opened #13155 "bug for hello world project"
I create a hello world project by runing  "cocos new MyLuaGame -p com.jellykitgames.MyLuaGame -l lua --portrait -d /Users/Wade/Documents/workspace/ ",  It seems to be a bug there.  It's upside down
![ios simulator screen shot 2015 8 2 1 28 29](https://cloud.githubusercontent.com/assets/3960813/9024878/59a8d600-391b-11e5-9bb8-ab3f7c33d889.png)

[2015-08-02 06:28] qiululu commented on #12943
add codes  like this:
void PhysicsDemo::toggleDebug()
{
    #if CC_USE_PHYSICS
    _debugDraw = !_debugDraw;
    getPhysicsWorld()->setDebugDrawMask(_debugDraw ? PhysicsWorld::DEBUGDRAW_ALL :   PhysicsWorld::DEBUGDRAW_NONE);
**runAction( ScaleTo::create(2020, 0.5, 0.5));**
#endif
}
to your physicsTest demo,  run the action after you set the drawMask,
and then, at **CCScene.cpp** ,
at **void Scene:

[2015-08-02 11:35] Dredok commented on #12691
I think it is important to fix this. A workaround I use is to use scheduleOnce to set autoUpdate = false and manually guarantee this scheduleOnce is the first one to be executed.

[2015-08-02 11:40] Dredok opened #13156 "Fix the physics timestamp with smooth interpolation"
Hi,
In order to avoid stuttering and other graphical artifacts, I have to set the autoUpdate(false) and manually fix the timestep for physics.

After using a fixed timestep for physics, I have to manually interpolate all graphical nodes which depend on  physic bodies.

See this:
http://gafferongames.com/game-physics/fix-your-timestep/

Ideally this should be performed by the engine out of the box:

[2015-08-02 12:38] jie-meng commented on #13096
1-layer-tiled
![background](https://cloud.githubusercontent.com/assets/7405315/9026119/60b89d42-3955-11e5-8c6f-858c9c1c9c55.png)
 2-layers-tiled
![objects](https://cloud.githubusercontent.com/assets/7405315/9026129/dd021d7e-3955-11e5-8a6c-72ebb9b4ad3e.png)

@pandamicro It seems if I draw all tiles in one background layer, it is ok. but when I put objects to another layer above background, it would

[2015-08-02 13:48] jie-meng commented on #13096
I got the point, one TMXLayer can only use one tiledset.

[2015-08-02 13:48] #13096 closed, assigned to nobody

[2015-08-02 19:34] NatWeiss opened #13158 "NavMesh::update crash if Scene does not have Layer"
Since cocos2d-x 3.7, if a `Scene` is created without a `Layer` as a child, the application will immediately crash with EXC_BAD_ACCESS in `NavMesh::update()`. The call stack is as follows:

[code]

If `CC_USE_NAVMESH` is set to `0` then another crash will occur in `Physics3DWorld::stepSimulate()`.

[2015-08-03 01:57] qiululu commented on #12943
or override the scene node's setScaleX, scaleY, scaleZ  etc. works properly ,  but still have some problem, i'll ask if it is take into consideration since it will have some other effection. @pandamicro

[2015-08-03 03:17] xpol opened #13165 "[Lua] support for addCustomEventListener()"
Currently there is no way to get called when end of frame.

In C++ addCustomEventListener to listen Director::EVENT_AFTER_DRAW would do.

but that is not available in Lua currently.

[2015-08-03 03:19] fusijie opened #13166 "Sprite with SpriteBatchNode enable debug draw cause crash."
`issue:` Sprite with SpriteBatchNode enable debug draw cause crash.
`version:` v3.7
`reproduce:`

[code]

[2015-08-03 03:21] fusijie commented on #13166
Fixed in https://github.com/cocos2d/cocos2d-x/pull/13163.

[2015-08-03 04:48] #13166 closed, assigned to nobody

[2015-08-03 05:50] xpol commented on #13165
#13167 fixes this.

[2015-08-03 07:19] imdiot opened #13170 "[lua] setmetatableindex __index"
[code]

setmetatableindex_(mt, index) 是否该为setmetatableindex_(mt.__index, index)

[2015-08-03 09:58] zilongshanren opened #13174 "Upgrade OpenSSL to 1.0.1p"

[2015-08-03 10:01] #10229 closed, assigned to fusijie

[2015-08-03 10:18] VisualSJ opened #13177 "BoneNode switch skin failure"
Because the parser order of JS and c++ is different
Lead to flag error

Switch skin functions can not be used

[2015-08-03 10:20] VisualSJ commented on #13177
Has been repaired

@pandamicro

[2015-08-03 10:21] #13177 closed, assigned to VisualSJ

[2015-08-03 20:14] gstolarov opened #13182 "cocos new HelloCpp fails with "[Error 2] The system cannot find the file specified""
Cocos2dx 3.7, windows 7 -
"cocos new -l cpp HelloCpp"
fails with "[Error 2] The system cannot find the file specified"
Works fine with other project names...

[2015-08-04 02:40] fusijie commented on #13008
请提供一个测试例（代码片段），以及测试的环境需求（平台？设备？）感谢~

Could you please provide some pieces of code and the environment requirement? Thanks.

[2015-08-04 03:32] fusijie commented on #8656
@shutup I found that the effect of project is correct and I don't know what you do with `open-gl statements` as you said above.
Could you please contact with me? My QQ is 754505629.

[2015-08-04 03:48] jianglong0156 opened #13188 "getStringUTFChars can not passing emotion from java to c++"
getStringUTFChars can not translate emotion from java to c++
error the emotion : 💝

[2015-08-04 06:12] fusijie commented on #8656
@shutup As what we talked, 3.x rendering pipeline is different with 2.x's. If you call glDrawXXX which will draw sth immediately. so the best pratice is to use custom command.

You can refer to [Cocos2d-x v3.x New Render](http://www.cocos2d-x.org/docs/manual/framework/native/v3/new-renderer/en).

[2015-08-04 06:22] #8656 closed, assigned to fusijie

[2015-08-04 07:08] VisualSJ opened #13193 "JSON parsing exception"
After setting the Timeline contains the Rotation, all the elements are missing.

[2015-08-04 07:21] ywxzm opened #13195 "may be no unref"
in file lua_cocos2dx_manual.cpp Line 1817    , function tolua_cocos2d_CallFunc_create
            lua_pushvalue(tolua_S, 3);
            ref = luaL_ref(tolua_S, LUA_REGISTRYINDEX);

[code]

[2015-08-04 08:22] #13142 closed, assigned to WenhaiLin

[2015-08-04 08:22] #8524 closed, assigned to yangws

[2015-08-04 09:42] fusijie commented on #12134
The reason is that we use **mvp shader for Spine** and use **no_mv shader for Sprite**, but for mobile glAlphaTest do not exists, so we add a **new alpha test shader** to simulate it. The alpha test shader is **without mv matrix** so that spine lost model matrix, and ClippingNode stencil is designed for normal Sprite.
If you wanna to solve this issue, I would provide a temporary solution but not m

[2015-08-04 10:08] ZhangMenghe opened #13199 "[Web][Bug] Conditions that canvas fail to bake layer"
Former modifications to bake layer in canvas rendering see #12213(cocos2d/cocos2d-x#12213)
There are still some abnormal phenomena exist (testcase in js-test/src folder):

drawCalls proliferating
Cocos studio (e.g paser cocos studio 2.1)
UI Button (e.g ignoreContentSize) drawCalls proliferate when layer is rotating in bake-condition.(normal in un-bake)
2.nodes with animation stop actions in baked

[2015-08-04 10:12] ZhangMenghe opened #13200 "[Web][Bug] Conditions that canvas fail to bake layer"
Former modifications to bake layer in canvas rendering see #12213(cocos2d/cocos2d-x#12213)
There are still some abnormal phenomena exist (testcase in js-test/src folder):
## 1.drawCalls proliferating
- Cocos studio (e.g paser cocos studio 2.1)
- UI Button (e.g ignoreContentSize)

drawCalls proliferate when layer is rotating in bake-condition.(normal in un-bake)
## 2.nodes with animation stop actio

[2015-08-04 10:13] #13199 closed, assigned to nobody

[2015-08-04 13:04] #12743 closed, assigned to nobody

[2015-08-04 13:09] emfox commented on #12743
I found that there is callback but not mentioned it in the api documentation.
I dig into the code, and see the function call should be
RenderTexture.saveToFile(fileName, cc.IMAGE_FORMAT_PNG, isRGBA, callback);
note that the callback is the forth param not the third (different from its c++ api).

[2015-08-04 13:37] weibobo opened #13202 "FontAtlasCache::purgeCachedData might cause crash"
I got a crash stack on android, it pointed to method FontAtlasCache::purgeCachedData, but i can not create a test case to always create this bug. I checked the code , find the bug might cause by that:
In FontAtlasCache::purgeCachedData,
    for (auto & atlas:_atlasMap)
    {
        atlas.second->purgeTexturesAtlas();
    }
It invoke FontAtlas::purgeTexturesAtlas, which invoke cclabel's purgeTextu

[2015-08-04 15:14] pandamicro commented on #12857
Indeed it shouldn't, are you sure it's freezing ? or just nothing is changing ?

Besides, we refactored the native implementation of `cc.textureCache.addImageAsync` to improve the multithread logic, can you try out the latest version on github ?

[2015-08-04 15:34] pandamicro commented on #12489
@VisualSJ Please tell @zj8487 where the test case is and link related PR to this issue

[2015-08-04 17:03] jonyrock opened #13203 "Set camera mask for new elements"
Hi

It is not obvious that I should write every time such thing

[code]

I think this behaviour should be by default

[2015-08-04 17:10] 0xJimmyBeh commented on #12857
Do you mean this fix? I already applied this fixed into v3.7.
https://github.com/cocos2d/cocos2d-x/pull/12735

The freeze is in the callback of `cc.textureCache.addImageAsync`

I'm creating a cc.Sprite with the return texture2D in the callback.
Suppose the function should create the cc.Sprite async but it do have minor freeze in iOS and Android.

The freeze become noticeable when calling `cc.textu

[2015-08-04 19:29] udirub opened #13204 "Menu must receive touch ended event"
I have a simple menu with a menu item and I've placed a node that recognizes gestures in front of it. If my gesture recognizer detects a gesture it stops the touch ended event propagation so it won't trigger a button click on the button behind it. The problem is that once the touch ended event doesn't reach the menu the menu is no longer usable and it doesn't respond to any more touches.
From a qu

[2015-08-04 20:47] ermanhaskan opened #13205 "Very Low Frame Rate on Samsung Galaxy Tab 4"
Hello

We tested our cocos2d-x v3.7 game on 20-25 different Android devices. It hardly passes 30 fps on Tab 4 while every other device (including Tab2 & Tab3) ran the game near 60fps. We tried everything from lowering resolutions of textures to changing pixel format but at the end we have found out that it's not really about our code because the game performs great even on slowest Android devices.

[2015-08-05 01:31] zilongshanren commented on #12516
@man2  @zeyangl

Now TextBMFont and TextAtlas batch has been implemented.
Here is the PR:https://github.com/cocos2d/cocos2d-x/pull/13201

[2015-08-05 01:36] zilongshanren commented on #13205
@ermanhaskan  Could you try the Samsung EnhancedAPI?
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/android/CCEnhanceAPI-android.h

[2015-08-05 01:38] fusijie commented on #13009
请提供一个测试例（代码片段），以及测试的环境需求（平台？设备？）感谢~

Could you please provide some pieces of code and the environment requirement? Thanks.

[2015-08-05 01:39] zilongshanren commented on #13204
@udirub
Thanks.  Could you send a PR to resolve this issue?
Since Menu is very ooooooold widget and we have no plan to continue the improvement over it.
You could try ui::Layout and ui::Buttons instead. Thanks.

[2015-08-05 01:40] zilongshanren commented on #13203
@super626
Could you take a look at this issue?

[2015-08-05 01:41] zilongshanren commented on #13202
@WenhaiLin
Could you please take a look at this issue?

[2015-08-05 01:42] zilongshanren commented on #13195
@dualface
please take a look at this issue, thanks.

[2015-08-05 01:42] zilongshanren commented on #13193
@VisualSJ  could this issue be closed?

[2015-08-05 01:45] zilongshanren commented on #13188
@jianglong0156  Any updates? My PR is wait for it...

[2015-08-05 01:46] zilongshanren commented on #13182
@natural-law  please take a look at this issue, thanks.

[2015-08-05 01:46] zilongshanren commented on #13170
@dualface
please take a look at this issue?

[2015-08-05 01:49] zilongshanren commented on #13140
@folgerhu
The EditBox has been reimplemented. So please test it after v3.8 released.
Thanks.

[2015-08-05 01:50] zilongshanren commented on #13139
@folgerhu
What do you mean by "effective area"? Any screenshot?

[2015-08-05 01:51] zilongshanren commented on #13136
@dreamlover
Hi, What's the problem here?

[2015-08-05 01:56] zilongshanren commented on #13134
@sianzain
What's the problem with the original `GLView` settings?
@dabingnn  Could you please take a look at this issue?

[2015-08-05 01:57] hai4925 opened #13207 "ProtectedNode中通过addProtectedChild()添加的子节点，触摸事件，不受节点树控制。"
在EventDispatcher中，对事件排序时，是根据事件所在节点，在节点树上的深度进行排序，但是ProtectedNode的派生类中，_protectedChildren中的直接点没有参与排序运算。

[2015-08-05 01:57] jianglong0156 commented on #13188
waiting for a moment. i am discusing with dumganhar.

[2015-08-05 02:02] #10778 closed, assigned to zilongshanren

[2015-08-05 02:04] zilongshanren commented on #13207
@hai4925
please use English here Thanks.

The `addProtectedNode` API is designed like this. If you want the child node receive touch event, you should use `addChild` instead.

[2015-08-05 02:04] zilongshanren commented on #13158
@super626
please take a look at this issue, thanks.

[2015-08-05 02:05] zilongshanren commented on #13124
@yangws please take a look at this issue, thanks.

[2015-08-05 02:06] zilongshanren commented on #13099
可以自己重新用 NDK r10c 去编译 liblua.a

[2015-08-05 02:06] #13099 closed, assigned to nobody

[2015-08-05 02:07] zilongshanren commented on #13109
@ricardoquesada
Thoughts?

[2015-08-05 02:07] #13094 closed, assigned to nobody

[2015-08-05 02:08] zilongshanren commented on #13094
@ItsElioBaby
So your problem was fixed, right?

[2015-08-05 02:08] zilongshanren commented on #13072
@c3076802 Could you send a PR?
Thanks.

[2015-08-05 02:10] zilongshanren commented on #13070
@simondel
For keeping consistency, it's better to unify all the template projects.
:+1:  Good catch.
Could you send us a PR?
Thanks.

[2015-08-05 02:11] zilongshanren commented on #12913
@dualface
Could you take a look at this issue?

[2015-08-05 02:12] zilongshanren commented on #12948
@wulei
We should fix it.

[2015-08-05 02:12] dualface commented on #13170
这个写法没问题的。

[2015-08-05 02:13] hai4925 commented on #13207
但是UIRichText中的渲染根节点，是通过addProtectedChild添加到UIRichText上的，如果UIRichText有元素有触摸事件，行为就不一定正常了。我这边把一个Button添加到UIRichText中，结果触摸事件在最后面，如果事件队列中任意事件吞没事件，Button就响应不到事件。@zilongshanren

[2015-08-05 02:15] dabingnn commented on #13134
@sianzain Which version of visual studio are you using? It seems that old version of visual studio does not support this. Anyway, I like your proposal, it is more compiler friendly.
Thanks.

[2015-08-05 02:19] #13188 closed, assigned to jianglong0156

[2015-08-05 02:21] dualface commented on #10371
please close thie issue, thanks.

[2015-08-05 02:22] fusijie commented on #12146
In my Nexus9, Android 5.0.1, All of the transitions you mentioned are correct. I'll find a 5.0.2 device to test it.

[2015-08-05 02:23] dualface commented on #11434
please upgrade to quick 3.6, repo https://github.com/dualface/quick-ng

[2015-08-05 02:23] #12134 closed, assigned to fusijie

[2015-08-05 02:24] dualface commented on #11434
@pandamicro please close thie issue, thanks.

[2015-08-05 02:24] zilongshanren commented on #12903
@pepeek
Since EditBox is multi platform control, it's a bit tricky to add this API.
It's not a universal API valid for all platforms.
So sorry for the request.

[2015-08-05 02:24] #12903 closed, assigned to zilongshanren

[2015-08-05 02:24] dualface commented on #11894
@pandamicro please close thie issue, thanks.

[2015-08-05 02:25] #11434 closed, assigned to dualface

[2015-08-05 02:25] zilongshanren commented on #12902
@pepeek @pandamicro
The new EditBox implementation doesn't have this issue.
https://github.com/cocos2d/cocos2d-x/pull/13146

[2015-08-05 02:26] dualface commented on #10371
@pandamicro please close thie issue, thanks.

[2015-08-05 02:26] zilongshanren commented on #12902
Since the EditBox on Android platform is reimplemented. So I just close the issue here.

[2015-08-05 02:26] #12902 closed, assigned to zilongshanren

[2015-08-05 02:27] #11894 closed, assigned to dualface

[2015-08-05 02:27] #13140 closed, assigned to zilongshanren

[2015-08-05 02:31] #8090 closed, assigned to zilongshanren

[2015-08-05 02:31] zilongshanren commented on #8090
it's fixed

[2015-08-05 02:32] zilongshanren commented on #8073
@dannyjiajia
文字不是消失了，而是被裁掉了，因为输入文本超过了 EditBox 的边界，设计如此。要么你把 EditBox 的宽度变大，要么把字体设置小一点。要么设置 maxLength.

[2015-08-05 02:32] #8073 closed, assigned to zilongshanren

[2015-08-05 02:34] #10371 closed, assigned to dualface

[2015-08-05 03:27] sianzain commented on #13134
vs 2012

[2015-08-05 04:45] simondel commented on #13070
@zilongshanren I think the best way way would be to change the C++ template so the Scene's overriden init method is used to create and add all layers. This way, the template will look like the JS template.
However, when using `createWithPhysics ()` the init method is not called because initwithphysics is called. You cannot override this method. How do you suggest fixing this little problem?

[2015-08-05 05:22] weibobo commented on #13202
Found a test case to recreate the crash. Solution is:
void FontAtlasCache::purgeCachedData()
{
    std::vector<FontAtlas*> v;
    for(auto &atlas: _atlasMap)
    {
        v.push_back(atlas.second);
    }
    for (auto & atlas:v)
    {
        atlas->purgeTexturesAtlas();
    }
}

[2015-08-05 05:55] pandamicro commented on #10382
I agree, we can minify the impacts in v3.8 and refactor it well in v4.0

[2015-08-05 06:01] pandamicro commented on #12857
If the freeze is happening in your callback, you need to investigate into its implementation.］

About this, we will probably refine Downloader API to support your need: https://github.com/cocos2d/cocos2d-x/issues/10382, user can do the following:
1. User can download a file (sync or async) with Downloader
2. Use `cc.textureCache.addImageAsync` to add a texture

What do you think ?

[2015-08-05 06:13] WenhaiLin commented on #13202
Fixed at https://github.com/cocos2d/cocos2d-x/pull/13210

[2015-08-05 06:13] ricardoquesada commented on #10382
Ok. I'm still working on this feature. I got somewhat delayed because I was trying to understand the whole code... I think more or less I know how it works.
Isolating the libcurl code will take me one or two days, and then replacing libcurl with native libraries will take about 5 days (although next week I'll be in a conference).

(my code is here: https://github.com/ricardoquesada/cocos2d-x/tree/

[2015-08-05 06:16] ricardoquesada commented on #10382
I also added a few optimizations in the code.
What's next:

libcurl isolation:
- detect if the code is already running in the cocos thread (for sync operations). If so no need to call `performInCocosThread()`
- make it work... Need to fix a few bugs int he callbacks

replace libcurl with native:
- research: how to use the native networking libraries
- replace libcurl on Android and iOS

[2015-08-05 06:24] ermanhaskan commented on #13205
It says: "Note: The minimum required Android version is 5.0."

Tab 4 is 4.x

[2015-08-05 06:37] pandamicro commented on #10382
Great, as the release date of v3.8 is synced with Cocos v2.3.2 at about 08.26

I have scheduled Cocos2d-x v3.8 releases as the following:
- 8.10 v3.8 Beta
- 8.19 v3.8 RC0
- 8.26 v3.8 Final

We already submit a version to be tested by QA team.
Beta and RC version will be released in the community.

[2015-08-05 07:04] ricardoquesada commented on #10382
ok. thanks for the info.

[2015-08-05 07:16] 0xJimmyBeh commented on #12857
1. Do nothing in the callback, very slightly freeze < 1s
2. Create a `cc.Sprite` with the texture, slightly freeze when the image shown in the layer.
   Freeze become longer like 1-2s when downloading multiple image together, for example, 10 images.
3. Create a `cc.Sprite` and cache the image with `cc.RenderTexture`, freeze > 2s. I think write to disk take long time and block the main thread.

Whe

[2015-08-05 07:22] pandamicro commented on #13150
Fix PR proposed to SpineRuntime: https://github.com/EsotericSoftware/spine-runtimes/pull/461

[2015-08-05 07:37] pandamicro commented on #12857
RenderTexture will freeze a little for writing file to disk, but I assume once Downloader can occupy the download process, you don't need to do so anymore.

I will take a look later, we can discuss it in another issue, it's not relevant with this one.

Not exactly, when Downloader API is ready, what you should do is like the following:

[code]

[2015-08-05 07:56] 0xJimmyBeh commented on #12857
When you expect the Downloader will be refined?
I read the post from your link, v3.8 will only have minimal changes, does this count as minimal changes?

Do i need to create another issue or wait you verify the issue first?
Friendly remind, you should test it with iOS device.

`cc.textureCache.addImageAsync(url, function(succeed, texture)` would load the image from local file as current implementa

[2015-08-05 08:05] wulei commented on #12948
@zilongshanren  3q, I fix in my workspace,too.^_^

[2015-08-05 08:58] #13202 closed, assigned to nobody

[2015-08-05 08:59] zilongshanren commented on #12948
@wulei  Could you send a PR?
Thanks.

[2015-08-05 09:00] roed opened #13216 "performance issues v3.7 on ipad1 and iphone4"
I don't know if you are aware of this, but there is a discussion on the forum about performance issues on ipad1 and iphone4:

http://discuss.cocos2d-x.org/t/v3-7-speed-compared-with-3-6/22599/32

Is this something that can be resolved?

[2015-08-05 09:29] VisualSJ opened #13219 "LabelAtlas rendering error in JS"
http://punchbox.info:3000/issues/21009

Invalid characters to be ignored.
Need to determine whether the drawing is beyond the texture boundaries.
Need to update setContetnSize

[2015-08-05 09:30] VisualSJ commented on #13219
@pandamicro
please review it

[2015-08-05 09:36] jianglong0156 opened #13221 "TextField and Editbox can't display emoticon correctly"
TextField  andEditbox can't display emoticon correctly
step:
1、set a special emoticon 💝 like this. in TextField or Editbox.
2、click the TextField or Editbox.
3、the text in input dialog not correctly

[2015-08-05 09:41] #13221 closed, assigned to jianglong0156

[2015-08-05 09:46] natural-law opened #13222 "Move the framework-compile tools into cocos2d-console."

[2015-08-05 09:56] pandamicro commented on #12857
It's possible to bind these APIs in JS in v3.8.

It's not the same as #13054 ? If not, you can create a new one

Yes, addImageAsync remains the same as current

[2015-08-05 10:03] VisualSJ opened #13224 "Fixed a bug that nested animation may be affected by outer animation"
nested animation may be affected by outer animation in Web
Cocosstudio

[2015-08-05 10:26] dualface commented on #13170
@pandamicro please close this issue, thanks.

[2015-08-05 10:36] 0xJimmyBeh commented on #12857
This issue https://github.com/cocos2d/cocos2d-x/issues/13054 is about `cc.RenderTexture`
It use the texture2d return by `cc.textureCache.addImageAsync` to create the image.

Both should have related problem on the texture.

So i add "cc.textureCache.addImageAsync" to the issue because both having crash when changing scene or received low memory warning on iOS device.

[2015-08-05 10:39] #13170 closed, assigned to dualface

[2015-08-05 10:50] udirub commented on #13204
@zilongshanren , What do you mean by PR?

[2015-08-05 13:13] zilongshanren commented on #13204
@udirub  I mean "Pull Request".

[2015-08-05 13:43] AIGRIND-LLC commented on #12406
Confirmed on v3.7
![clone](https://cloud.githubusercontent.com/assets/6168693/9087055/a2cf921e-3b88-11e5-9d80-8fa1764b9362.png)

[2015-08-05 14:21] #10688 closed, assigned to WenhaiLin

[2015-08-05 15:06] gstolarov opened #13226 "Physics issues when scene is moved/scaled (v3.7)"
When scene is moved/scaled physics node positioning is broken. To replicate in
cocos2d-x-3.7\tests\cpp-tests\classes\physicstest\physicstest.cpp function PhysicsDemo::init() add
this->setPosition(Vec2(-24.0f, -24.0f)) before return. Navigate to Node: Physics and then to Physics Test - multitouch to add grossini. Click Toggle debug to turn debug draw on. Observe how the debug draw is full width of

[2015-08-05 15:13] fusijie opened #13228 "SpriteBatchNode doesn't support setFlipped."
`version:` v3.8
`issue:` The sprite under the SpriteBatchNode doesn't support setFlipped.Because `updateTransform method` reset the vertices conflict with https://github.com/cocos2d/cocos2d-x/pull/13138.
`reproduce:`

[code]

[2015-08-05 15:34] WenhaiLin commented on #9500
Fixed spaces will be lost if label created with Fingerpop.ttf: https://github.com/cocos2d/cocos2d-x/pull/13230

[2015-08-05 16:36] meiry opened #13231 "Xcode 7 beta 3 to many member function but is not marked 'override' erros"
i clone the latest code , compiled in xcode 7 beta 3 and got those errors

[code]

[2015-08-05 16:43] hawkwood commented on #12146
Which NDK are you using? I used r10d.

[2015-08-05 16:44] #12066 closed, assigned to nobody

[2015-08-05 16:44] AIGRIND-LLC commented on #12066
Was fixed in v.3.7

[2015-08-05 16:44] fusijie commented on #12146
r10c.

[2015-08-05 16:56] AIGRIND-LLC commented on #12216
Fixed.

[2015-08-05 16:56] #12216 closed, assigned to nobody

[2015-08-05 17:14] gstolarov commented on #13158
might be related to https://github.com/cocos2d/cocos2d-x/issues/12906

[2015-08-05 18:56] meiry commented on #13231
The fix is in the file SkeletonRenderer.h
tested it and it complies fine now
can i upload the patch or you will fix it ( i will appreciate the credit .. )

[code]

[2015-08-05 20:23] man2 opened #13235 "UIScrollView doesn't like AnchorPoint other than 0,0"
It breaks the scrolling behavior especially on top / bottom of scroll position

[2015-08-05 20:33] dakikifr opened #13236 "TextField hitbox invalid"
Hi,

I just found that the hitbox of TextField is completely wrong.

Take this sample code, use cocos 3.6 (or 3.7):

[code]

I expect the textfield to become active when I touch inside the red box (since I used `setTouchAreaEnabled` and `setTouchSize` to cover the whole Layer size). And I expect it to become inactive when I touch outside the box.

But running this sample, it **becomes active** whe

[2015-08-05 20:42] dakikifr commented on #13236
I think the issue is because the hitTest method is converting the touch to the textfield's nodeSpace which starts at (0,0) of the textfield (and in the worldSpace, this depends on the current length of the text inside the textfield), then creating a box around this point.
It should create the box around the **center** of the textfield instead (and of course you have to take into account the anchor

[2015-08-05 21:06] dakikifr commented on #13236
This seems to fix the issue for me.
I tested using a scale of 0.5f and it worked fine too (it scaled down the `touchSize` too), and different anchor values for the textfield.

[code]

[2015-08-05 21:50] JustVic opened #13237 "Support hexagonal tile maps"
I'm trying to make game with hexagonal tile map, but I found hex maps in cocos2d-x not working so good.

1)First time i create map in TiledMapEditor(0.12.3):
in Tiled: https://i.imgur.com/bBuGnPq.png3
But cocos2d-x drawing it not exactly.

How it looks in cocos2d-x:
In Cocos2d-x: https://i.imgur.com/GlYe3II.jpg3

2)Another map with Stagger Axis Y and Drawing Offset Y
in Tiled: https://i.imgur.com/

[2015-08-06 00:21] zilongshanren commented on #13235
@man2  How  to reproduce this issue?

[2015-08-06 01:11] ricardoquesada commented on #10382
@pandamicro @minggo

So, I think I finished the first part. And it seems that it is working... but I need to test more.
Where are the tests cases for `Downloader` and `AssetManagerEx` ?

I could only find one, in: cpp-tests->extensions->AssetManagerExTest

But that test only tests `Downloader::downloadAsync()` and I need to also test:
- `downloadToBufferAsync()`
- `downloadToBufferSync()`
- `downl

[2015-08-06 01:18] natural-law commented on #13222
The related PR in cocos2d-console : https://github.com/cocos2d/cocos2d-console/pull/284

[2015-08-06 01:34] pandamicro commented on #10382
- `downloadToBufferAsync` and `downloadToBuffer` can be tested with JSB's `jsb.loadRemoteImg(url, function (succeed, tex) {})`. The test case is in js-tests/src/TextureCacheTest/TextureCacheTest.js
- `batchDownloadAsync` and `batchDownload` can be tested with AssetsManagerExTest, because it will download simultaneously all the files to be updated.

As for `downloadSync`, `batchDownloadSync`, `down

[2015-08-06 01:36] #13222 closed, assigned to natural-law

[2015-08-06 01:45] minggo commented on #10382
@ricardoquesada
Sorry, i am not familiar with this part of code. It is designed and implemented by @pandamicro .

[2015-08-06 01:56] pandamicro commented on #13231
Can you send a patch to spine runtime's repo ? We are not allowed to modify directly `SkeletonRenderer.h`

https://github.com/EsotericSoftware/spine-runtimes/blob/master/spine-cocos2dx/3/src/spine/SkeletonRenderer.h

[2015-08-06 02:01] #9500 closed, assigned to WenhaiLin

[2015-08-06 02:19] man2 commented on #13235
I made a ScrollView then do setAnchorPoint to innercontainer
scroll->GetInnerContainer()->setAnchorPoint(Vec2(0,1));
then it will break the scroll movement
while it's working fine if I don't do setAnchorPoint ( use default anchor point)

Is it a bug or I'm doing it wrong?

[2015-08-06 02:33] ricardoquesada commented on #10382
@pandamicro ok. thanks for the info.

[2015-08-06 03:10] jimrange commented on #13216
I too noticed this issue. The performance hit is much more pronounced on iPad 1 over iPhone 4. I have added some stats to the link @roed roed posted.

[2015-08-06 03:26] meiry commented on #13231
i opened issue there

[2015-08-06 04:47] man2 commented on #13235
This is my testing code to repdocuce:

[code]

[2015-08-06 05:37] VisualSJ opened #13241 "[JS] VideoPlayer listenersMap is undefined"
When the video reset rendering state, should to get a list of listener.
But this list may not exist, resulting in the collapse of the program

[2015-08-06 05:37] VisualSJ commented on #13241
@pandamicro please review it

[2015-08-06 05:43] #13219 closed, assigned to VisualSJ

[2015-08-06 06:43] folgerhu opened #13244 "VideoPlayer runAction with scaleto, run on android appear black"
`Engine version: Cocos 2d-js v3.7`

`Reproduce steps:`
1. run this code on android;
2. click button play video for more

Here is test code: http://vdisk.weibo.com/s/u2pFxSLcI5yv

[2015-08-06 06:43] folgerhu commented on #13244
@WenhaiLin

[2015-08-06 06:44] man2 commented on #13235
@zilongshanren
I fixed it, there are some wrong codes related with anchor point in UIScrollView.cpp. Here is my fixed codes, I'll make PR later if still not merged into main repo later
I just check the code with vertical direction, still need checking on horizontal and both direction

[code]

[2015-08-06 09:01] fusijie commented on #12146
@hawkwood NDK version should not the reason of this issue, but could you please help to test ndkr10c for 5.0.2. My nexus9 encounter problem(GFW...%>_<%) when upgrade to 5.0.2

[2015-08-06 09:02] #13241 closed, assigned to VisualSJ

[2015-08-06 09:10] pandamicro opened #13248 "[JSB] SocketIO events don’t get fired when the compile mode set to release"
Originally reported: http://discuss.cocos2d-x.org/t/socketio-on-event-doesnt-fired-when-the-compile-mode-set-to-release/22884/3

[2015-08-06 09:45] #13134 closed, assigned to dabingnn

[2015-08-06 11:01] man2 commented on #12516
nice!! thanks!! is there some usage difference with the previous one?

[2015-08-06 12:30] sbrednikhin opened #13252 "FontAtlasCache cleaned incorrectly"
[code]

looks like it must be

[code]

[2015-08-06 14:39] #12706 closed, assigned to nobody

[2015-08-06 14:41] zilongshanren commented on #9768
@idrise  This issue has been resolved . please check the latest code.

[2015-08-06 14:41] #9768 closed, assigned to zilongshanren

[2015-08-06 14:41] zilongshanren commented on #9356
implemented in v3.8

[2015-08-06 14:41] #9356 closed, assigned to nobody

[2015-08-06 14:42] zilongshanren commented on #9161
you should enable stencil buffer

[2015-08-06 14:42] #9161 closed, assigned to nobody

[2015-08-06 14:43] zilongshanren commented on #11664
@DarioDP
Hi, sorry for the late reply. Is the issue still exists in v3.8?

[2015-08-06 17:56] hawkwood commented on #12146
I only have the a 2012 Nexus 7 which is upgraded to Android 5, specifically 5.1.1 now. I rebuilt and tested with NDK r10c and am still seeing the issue.

[2015-08-06 21:14] udirub commented on #13204
@zilongshanren , currently I did a dirty fix in my own code, if I'll have a chance to make a real fix I'll let you know.

[2015-08-06 21:24] jimrange commented on #12691
@dredok, can you provide more information about how you manually guarantee that the scheduleOnce is the first one to be executed. I am having some inconsistent results with the workaround that I proposed and want to try your fix.

[2015-08-06 22:10] jimrange commented on #12691
I figured out another hack that helps to stabilize the physics world initialization.
The delay in changing from autostep to manual step that I described as my workaround had an issue.
To fix the issue, I do the following immediately after creating the scene that has physics enabled.

[code]

Then after a short delay I call getPhysicsWorld()->setAutoStep(true) and start stepping the physics simulat

[2015-08-06 22:11] jimrange commented on #12691
@WenhaiLin, did you have any issues reproducing this issue?
Just curious why it is marked as unconfirmed.

[2015-08-06 23:04] lfmn83 opened #13254 "SimpleAudioEngine pauseBackgroundMusic() different behavior on windows"
Steps:
- Pause music: CocosDenshion::SimpleAudioEngine::getInstance()->pauseBackgroundMusic();
- Check if music is playing: if(CocosDenshion::SimpleAudioEngine::getInstance()->isBackgroundMusicPlaying())

Result: On Windows Phone isBackgroundMusicPlaying return true. Android and iOS return false.

Tested on windows phone project (proj.win8.1-universal) with cocos2d-x v3.7.

[2015-08-07 01:40] zilongshanren commented on #12516
@man2  No, the batch happens automatically.

[2015-08-07 02:30] zilongshanren commented on #11259
possible workaround:

comment out     `_labelRenderer->setDimensions(0,0);`

[code]

And call `setTextAreaSize` to Size(450,0) to allow fixed width and variable height.
Now the content size of text widget is only used for layouting and positioning.

[2015-08-07 02:37] #8316 closed, assigned to zilongshanren

[2015-08-07 02:41] zeyangl commented on #12516
It doesn't seem directly merge-able with 3.7 or 3.6. Is it coming out on 3.8?

[2015-08-07 02:43] zilongshanren commented on #11784
@lalaloha
I can't reproduce in v3.8. If you could give a step by step instructions to reproduce this issue, feel free to reopen this issue.
Thanks.

[2015-08-07 02:43] #11784 closed, assigned to zilongshanren

[2015-08-07 02:44] zilongshanren commented on #12516
@zeyangl  Yes, it is only available in v3.8.

[2015-08-07 03:51] zeyangl commented on #12516
what's the release schedule for v3.8?

[2015-08-07 03:53] zilongshanren commented on #12516
@zeyangl  next week, there will be a v3.8 beta version release.

[2015-08-07 08:38] super626 commented on #13158
@NatWeiss
On my MAC, I checkout cocos2d-x 3.7 and create a new project with it.
And modify HellowWorld::createScene() like this,
Scene\* HelloWorld::createScene()
{
    // 'scene' is an autorelease object
    auto scene = Scene::create();

[code]

//    auto layer = HelloWorld::create();

[code]

//    scene->addChild(layer);

[code]

}
It does not crash.

Can you show me how can I reproduce this

[2015-08-07 09:36] Dredok commented on #12691
@jimrange
By manually I mean that I know the flow of my instances and so I schedule this on a node which will be updated before any other node (for instance, the layer where physics world resides, which  I know has more priority than any of its children). That's dirty and that's what I mean by "manually guarantee".

[2015-08-07 11:47] eliodecolli commented on #13094
No, I simply managed to bypass it by replacing the layer, I still cannot replace scenes which contains physics bodies as they do not appear inside the scene.
I've also posted this http://discuss.cocos2d-x.org/t/issues-with-scenes-physicsjointfixed/22957 in the forums concerning about a new issue. I'm having a really bad time with this framework tbh

[2015-08-07 19:14] NatWeiss commented on #13158
Hey, not at a computer right now, but can you try it without autorelease? I remember doing it like this:

[code]

[2015-08-07 19:19] Dredok opened #13278 "Collision filtering (physics2d) should be cleaned and improved"
From what I see on the code, right now there are no collision filtering performed by chipmunk. If you look here:
https://chipmunk-physics.net/release/ChipmunkLatest-Docs/#cpShape-Filtering

You will see the recommended way to perform filtering is to tell chipmunk the CategoryMask via cpShapeFilter.
Right now the collision filtering is performed after chipmunk has done the physics calculations, and

[2015-08-08 00:05] ricardoquesada commented on #10382
@pandamicro
First part finished: https://github.com/cocos2d/cocos2d-x/pull/13281

I'll update the linux, android and windows projects on Monday.
Please, let me know if you like the changes that I did. Thanks!

[2015-08-08 02:39] pkxpp opened #13282 "cocostudio memory leak"
cocos2cx version: 3.2
cocostudio version: 1.6
desc:
(1) make a empty ui(just a panel with green color) with studio
(2) add this layout to a scene, and set touchevent.when touch this panel , add the same ui to this layout
(3) when touch the second layout, removeself
(4) result is: when add the second layout, the memory is increasing, but when i move it. the memory doesn't decrease

[2015-08-08 02:52] pkxpp commented on #13282
I use vld check, the result is: \cocos2d-x\cocos\base\objectfactory.cpp (104): demo.exe!cocos2d::ObjectFactory::registerType + 0x37 bytes

[2015-08-08 22:35] Shulepov opened #13285 "iOS AppController: synthesize window"
I found that AppController doesn't syntesize window property, or provide getter/setter for it, it just declare local variable:

[code]

But UIApplicationDelegate has required property:

[code]

**Why it is important:**
Standard way to get root view controller is to use:

[code]

But in our case app will crash - window selector doesn't exist for our implementation of app delegate.

You can say that

[2015-08-09 23:40] gstolarov commented on #13158
If it's related to https://github.com/cocos2d/cocos2d-x/issues/12906 then it's a Visual Studio Solution files and will not be relevant to XCode.

[2015-08-10 00:00] #13193 closed, assigned to VisualSJ

[2015-08-10 01:42] pandamicro commented on #13282
Hi, the 1.6 version is no longer in active maintenance, can you upgrade your project to v2.x ?

[2015-08-10 01:43] #8137 closed, assigned to pandamicro

[2015-08-10 02:33] super626 commented on #13158
Thanks @NatWeiss @gstolarov
@gstolarov  is right. It relates to #12906.
It should be fixed on current v3 branch. You can add CC_ENABLE_BULLET_INTEGRATION=1 macros in your created project, or remove that macros from cocos2d project.

[2015-08-10 03:53] #13228 closed, assigned to fusijie

[2015-08-10 05:32] #13248 closed, assigned to pandamicro

[2015-08-10 05:45] super626 commented on #13158
@zilongshanren @pandamicro
It is fixed by #12906
It can be closed.

[2015-08-10 05:51] #13158 closed, assigned to super626

[2015-08-10 09:38] shkertt opened #13299 "PhysicsWorld 分发物理事件"
close

[2015-08-10 09:39] super626 commented on #12873
thanks @yixiaoqingyuz @IgorMats
We will try to improve light. It is costly indeed. Because it computes the light per pixel. Cube does not mean simple.

[2015-08-10 18:29] metalim commented on #8764
Any update on this one? It's obvious DrawNode isn't complete without opacity. From developer's point of view there's not much difference between image and DrawNode.

[2015-08-10 19:29] hawkwood commented on #12146
As an additional test, I installed TestCpp from Cocos 2.2.6 and the transitions are working correctly there.  in fact, the page curl transitions look better on 2.2.6 than on 3.7.

[2015-08-10 23:21] gavelino opened #13304 "cocos2d-x Truck Factor"
As part of my PhD research on code authorship, we calculated the Truck Factor (TF) of some popular GitHub repositories.

As you probably know, the [Truck (or Bus) Factor](https://en.wikipedia.org/wiki/Bus_factor) designates the minimal number of developers that have to be hit by a truck (or quit) before a project is incapacitated. In our work, we consider that a system is in trouble if more than 5

[2015-08-11 03:37] zilongshanren commented on #13224
please don't use internal links.  BTW, please update the issue description.

[2015-08-11 05:45] sappho192 commented on #9008
@WenhaiLin Has this feature been implemented?

[2015-08-11 05:58] WenhaiLin commented on #9008
@sappho192 Now that preload(cache) feature  is implemented except Android.

[2015-08-11 07:34] WenhaiLin commented on #10012
I can't reproduced this issue...

[2015-08-11 08:04] dhb118 opened #13319 "[UIText] lost outline effect when clone UIText"
outline effect and shadow effect

[2015-08-11 08:25] WenhaiLin commented on #11799
Found out that is not cocos2dx problem is Android 5.0 problem
https://code.google.com/p/android-developer-preview/issues/detail?id=608

[2015-08-11 08:26] WenhaiLin commented on #11799
@zilongshanren Please close this issue.

[2015-08-11 08:30] #11799 closed, assigned to WenhaiLin

[2015-08-11 09:29] fusijie opened #13320 "VertexAttribValue::setPointer for Lua"
`version:` v3.8
`issue:`
For C++, `VertexAttribValue::setPointer` just to make a shallow copy, but we can manage the memory manual. But for Lua, `glNode:getGLProgramState():setVertexAttribPointer` call `lua_cocos2dx_GLProgramState_setVertexAttribPointer` and new memory and delete memory inside. which cause the pointer becomes a null pointer while `glNode:getGLProgramState():apply(transform)`.
`rep

[2015-08-11 09:31] fusijie commented on #13320
relate issue in Redmine: http://punchbox.info:3000/issues/21875

[2015-08-11 09:56] sappho192 commented on #9008
@WenhaiLin  OK. Thanks.

[2015-08-11 10:31] kingchimp opened #13322 "v3.7 win32 Node::visit() causes crash if called before Scene is rendered for the first time"
Hi,

I've found that calling visit() on a Sprite (or node I guess) before the associated scene is rendered for the first time causes a crash. This appears to be because visit() attempts to use _visitingCamera which is not initialised before render() is called on the scene for the first time. This is a problem because you now cannot draw to a rendertexture using visit() when initializing a layer fo

[2015-08-11 13:34] pkxpp commented on #13282
= =

[2015-08-12 00:39] hawkwood commented on #12943
@qiululu changing the camera seems to break the touch location.  Using these changes, if I scale the scene to 0.5, the "toggle debug" button is now closer to the middle of the screen (as expected), but the touch location for it is still in the upper righthand corner.

Also, rotating the scene is better (debug matches sprites), but gets a weird skew to it.  Move is still broken.

[2015-08-12 02:12] jonnyijapan commented on #8321
Is this implemented? How does it work?

[2015-08-12 09:55] folgerhu opened #13334 "socket.emit can't callback client function on android with release mode"
cocos2d-js v3.7

client:

[code]

server (NodeJS):

[code]

if “cocos run -p android” then server can callback client function "callClientEvent",
but i publish with a private keystore and run on android, server can't callback client function "callClientEvent".

<img width="996" alt="screen shot 2015-08-12 at 4 33 57 pm" src="https://cloud.githubusercontent.com/assets/3455415/9221175/d16a735e-411a-

[2015-08-12 11:53] qiululu commented on #12943
thanks, the first way is simple as the problem shooting. I think the second way maybe better, I havn't finish it yet, moving and skewing is not yet complete.

[2015-08-12 11:59] qiululu commented on #12943
as you can see from the reference..  you can try to wirt implementation for it, I don't know if they will take into consideration for it.

[2015-08-12 12:12] qiululu commented on #12943
transform the normal scene is as same as transform the viewport's shape, do you think so? whether it is action or simple transform,so...

[2015-08-13 02:07] #13136 closed, assigned to nobody

[2015-08-13 02:09] #9227 closed, assigned to zilongshanren

[2015-08-13 02:30] zilongshanren commented on #8994
@miguel12345  We should include "ui/CocosGUI.h" instead of including "ui/UILayout.h".
I

[2015-08-13 02:34] algenepulido opened #13341 "cocos2d-x getNumberOfRunningActions does not decrement when pause() is used ?"
I think there is a problem here. If getNumberOfRunningActions does not decrement when we use pause(), the method name should be getNumberOfActions(). I'm a bit afraid if it will change later, that it will decrement the number of running actions when pause() is used..

It's misleading I think...

[2015-08-13 05:43] #13147 closed, assigned to zilongshanren

[2015-08-13 05:44] #13143 closed, assigned to zilongshanren

[2015-08-13 05:44] zilongshanren commented on #13143
Can't reproduce this issue.

[2015-08-13 05:45] zilongshanren commented on #9172
can't reproduce this issue now.

[2015-08-13 05:45] #9172 closed, assigned to zilongshanren

[2015-08-13 05:53] 0xJimmyBeh opened #13350 "Cannot use --advanced to publish web with certain library such as socketio and underscore"
Hi,

There is problem when using command below to publish web version.
`cocos compile -p web -m release --advanced`

The website is working without using `--advanced`

When include socketio module, website will return error `Uncaught TypeError: Cannot read property 'push' of undefined`

The error point to this code `push("websocket")` in game.min.js

There is errors when using underscore.js librar

[2015-08-13 05:59] minggo commented on #13150
The codes is merged in #13335.

[2015-08-13 05:59] #13150 closed, assigned to nobody

[2015-08-13 06:05] minggo commented on #13231
I think it is resolved.

[2015-08-13 06:52] meiry commented on #13231
Mazal Tov

[2015-08-13 07:02] laoyur opened #13351 "autorelease() missing in MenuItemToggle"
[code]

And you should double check the code, maybe you also missed it in other places.

[2015-08-13 07:45] super626 opened #13358 "Failed to load 3D model"
Convert the following fbx to c3b or c3t. Find it that the hair is not placed at the right position.

http://pan.baidu.com/s/1pJONHe7

[2015-08-13 07:46] WenhaiLin commented on #13045
@c3076802  I can't reproduce this issue. How to reproduce this issue easier?

[2015-08-13 08:05] WenhaiLin commented on #10155
I can't reproduce this issue with the latest version of cocos2d-x,so i will close this issue for now.

[2015-08-13 08:05] #10155 closed, assigned to WenhaiLin

[2015-08-13 08:59] #13231 closed, assigned to nobody

[2015-08-13 09:05] #12519 closed, assigned to zilongshanren

[2015-08-13 09:44] WenhaiLin commented on #10554
@zilongshanren The `TextureCache::addImageAsync` has been reimplemented by @yangws . So I think this issue should be closed.
https://github.com/cocos2d/cocos2d-x/pull/12735

[2015-08-13 09:46] #10554 closed, assigned to WenhaiLin

[2015-08-13 09:55] #13182 closed, assigned to natural-law

[2015-08-13 09:57] WenhaiLin commented on #12370
@jokerlee The TextureCache::addImageAsync has been reimplemented by @yangws https://github.com/cocos2d/cocos2d-x/pull/12735

[2015-08-13 10:09] WenhaiLin commented on #11862
@zilongshanren I think this issue is duplicated with https://github.com/cocos2d/cocos2d-x/issues/12343 and has been fixed.

[2015-08-13 10:14] WenhaiLin commented on #11907
@zilongshanren Please close this issue.

[2015-08-13 13:56] Shulepov commented on #11368
Hi, i have written simple CollectionView last year with support of cells reusing (it also can be used as ListView). May be somebody find it useful - https://bitbucket.org/Shulepov/cccollectionview/overview.
If somebody will be interested i can provide more comments or rewrite it with compatibility of new UI system.

[2015-08-13 14:39] zj8487 commented on #12489
ping

[2015-08-13 16:39] wishes2018 opened #13362 "热更新中断，继续更新挂掉"
断线续传的时候
AssetsManagerEx::startUpdate
->
_tempManifest->genResumeAssetsList(&_downloadUnits);
由于未标记下载完成状态，导致整个列表全部下载。
并且由于目录未创建，导致出错.

好奇的是，既然有把其他未更新资源设置下载完成：
_tempManifest->setAssetDownloadState(key, Manifest::DownloadState::SUCCESSED);
为什么不把它写回文件？

[2015-08-14 02:56] VisualSJ commented on #12489
@zj8487

![image](https://cloud.githubusercontent.com/assets/7113508/9266376/cfe6c286-4272-11e5-9b99-86b691081974.png)

![image](https://cloud.githubusercontent.com/assets/7113508/9266380/e7e47806-4272-11e5-902d-5c35fe5704af.png)

http://www.cocoachina.com/bbs/read.php?tid-318856.html

I'm so sorry for the long time to reply this.

[2015-08-14 05:49] eonghk commented on #11368
@Shulepov
Thank you for the information. I'm interested in it.
What's the difference between your collectionview and tableview?

[2015-08-14 08:06] folgerhu opened #13374 "CCRenderTexture gets black screenshot when using multiple Camera"
Cocos 2d-x v3.6

[code]

The saved image is black.

[2015-08-14 08:46] folgerhu commented on #13334
Note: This problem has more user feedback.
A user feedback publish to the IOS also have this problem.

[2015-08-14 09:23] #13155 closed, assigned to natural-law

[2015-08-14 09:25] natural-law commented on #13155
@wade0317
I have reproduced the problem with Xcode 6.4.
I'm using Xcode 6.1 before, it was worked well on Xcode 6.1.

The related PR : https://github.com/cocos2d/cocos2d-x/pull/13377
You can test the latest code again. Thanks for your feedback.

[2015-08-14 11:03] GurudathTS opened #13384 "Cc.sys.localStorage App crash Cocos2d-js 3.6 in iOS 7.1.1 version"
When we use Cc.sys.localStorage method in a game, App getting crash when game is running on device iOS 7.1.1 version. We have used Cocos2d-js 3.6.

Error:
TypeError: 'undefined' is not a function (evaluating 'cc.sys.localStorage.setItem(JSON.stringify("isAppLauchFirstTime"), JSON.stringify(value1))')

[2015-08-14 12:23] zilongshanren opened #13385 "ui::Text clone miss outline effect"

[2015-08-14 12:32] WenhaiLin commented on #13385
Duplicated with https://github.com/cocos2d/cocos2d-x/issues/12292

[2015-08-14 13:09] Ninganagouda opened #13386 "Can't add 3D Sprite on tmx file background using Cocos-2dx"
We have been working on sample game, wherein we want to show 3D sprite on .tmx file(background). But 3D sprite is never shown up, though we tried setting `tileMap->setGlobalZOrder(-1).`

Following is the sample code:

[code]

But 3D Sprite is never shown up. Kindly help.

Your help is highly appreciated!

Thanks.

[2015-08-15 02:54] jigelang opened #13389 "ProgressTimer setPercentage时描绘错误"
在创建一个ProgressTimer之后 类型为 RADIAL   setPercentage(100.f) 再setReverseDirection(true); 然后每隔一秒更新一次ProgressTimer的percentage，总共更新30次，在前4秒中描绘会出问题，但是如果将setReverseDirection(true); 放到setPercentage(100.f)之前  描绘时不会出错

[2015-08-15 09:33] meiry opened #13390 "Xcode 7 beta 3 when compiling new project for iOS 7.3 on iphone 4 error: -fembed-bitcode is not supported on versions of iOS prior to 6.0"
when creating new project with cocos console , loading it to xcode 7 beat 3 for iOS 7.3 on iphone 4  and trying to compile it im getting the link error:

[code]

**Solution is :**
in xcode go to Build Options -> Enable Bitcode = No

[2015-08-15 10:05] c0ffeeartc opened #13391 "Macro hides Scene::addChild"
Currently in `CCScene.h` and `CCScene.cpp` macro hides addChild functions.

I have these options in CMakeLists.txt

[code]

Linking `libcocos2d.a` gives following error:

[code]

This can be fixed by moving Macro:
`CCScene.cpp`:

[code]

Has to be:

[code]

`CCScene.h`:

[code]

Has to be:

[code]

[2015-08-15 10:51] Shulepov commented on #11368
@eonghk
If i understood correctly, TableView - much more like ListView (one dimensional array), while CollectionView - two dimensional. Also, i added slightly more configuration properties - like edge insets, inter items spacing, ability to have items with different width, selection and highlight animations managed by subclasses of the cell class, multiple reusable cell types (though it not very u

[2015-08-15 11:21] zilongshanren commented on #13389
What's the error message?

[2015-08-15 11:25] wulei opened #13392 "LuaJIT 2.0.4 lua iOS 64 load error"
android iphone4s is ok

iphone 5s,iphone 6 use lua code:
[LUA ERROR] load "/private/var/mobile/Containers/Bundle/Application/C2FD6099-14B6-4DF4-84BC-4F80139CE6E8/thunderGirl-mobile.app/src/main.lua", error: syntax error during pre-compilation.

[2015-08-15 19:06] Dezorat commented on #13386
It appears that issue is quite severe and orthogonal and isometric tiles bug out differently:
1) orthogonal tiles get always drawn in front of 3D sprites, hiding them
2) isometric tiles get corrupted (only half of each tile remains) when Sprite3D gets added into scene (tried boss and ogre from tests)

[2015-08-15 23:53] Heroless commented on #9355
Hi
are you there?

[2015-08-16 04:08] fatfatson opened #13394 "iconv depend not resovled"
iconv is used in CCFontFreeType, but the lib couldn't found in external reposity.

[2015-08-16 04:33] seraphpl opened #13395 "Xcode 7 beta 5: override function not marked override"
While building, many functions have this problem:

`override function not marked override`

[2015-08-16 05:11] zilongshanren commented on #13395
@seraphpl  What's your engine version?

[2015-08-16 05:32] man2 commented on #11674
@zilongshanren
Will this be fixed in 3.8?

[2015-08-16 05:46] zilongshanren commented on #11674
@man2  no... my priority will put on the cell reuse of ListView and PageView.
If you could help to fix the issue, I will appreciate it.
thanks.

[2015-08-16 06:09] seraphpl commented on #13395
@zilongshanren: It is `cocos2d-x-3.7.1`.

[2015-08-16 06:42] seraphpl opened #13396 "Android Studio: couldn't find "libcocos2dcpp.so""
I tried:
1. Open existing project in Android Studio project > Choose `proj.android-studio` directory (In another attempt, I also tried to choose the base directory MyGame)
2. Run
3. Error: `couldn't find "libcocos2dcpp.so"`.

System:
- Mac OSX Yosemite 10.10.4
- Android Studio 1.3.1
- cocos2d-x-3.7.1

[2015-08-16 07:30] yagjak commented on #11674
@zilongshanren , the cell reuse of PageView can reduce  the memory usage ?

[2015-08-16 07:40] zilongshanren commented on #11674
@yagjak  yes, it will not only reduce memory usage , but also improve runtime performance.

[2015-08-16 07:49] yagjak commented on #11674
Thanks @zilongshanren, this is interesting for me, beacause i'm using it in my application,
 so i'm waiting ...

[2015-08-16 08:04] yagjak commented on #11674
@zilongshanren, please is there any date about the release of  cocos2d-x V3.8?

[2015-08-16 08:30] zilongshanren commented on #11674
@yagjak sorry, I can't promise the exactly date. It was scheduled at the end of this month.

[2015-08-16 08:41] seraphpl commented on #13396
Solved by `cocos compile -p android`.

[2015-08-16 08:41] #13396 closed, assigned to nobody

[2015-08-16 16:54] RustyMoyher commented on #8321
I'm very excited for this feature too! Any thought when it might happen?

[2015-08-17 00:05] man2 commented on #11674
Ok, i will try to fix it, later after i got the time.

[2015-08-17 01:34] zilongshanren commented on #11022
@sbrednikhin Which Engine version do you use?
Could your try the latest v3.8beta version and see if this issue is still exists?
Thanks.

[2015-08-17 01:36] zilongshanren commented on #10616
@si-design  TextView is the native Android control, right?
How do you add it to your scene?

[2015-08-17 01:37] zilongshanren commented on #9715
@yishin  You can't change the anchor point here. Could you please try to remove the anchor point change and try it again?
Thanks.

[2015-08-17 01:40] #12516 closed, assigned to zilongshanren

[2015-08-17 01:45] zilongshanren commented on #13395
@seraphpl  3.7.1 doesn't support XCode 7 well, we don't even put any effort to it.
You could try v3.8 with XCode 7.
If there are any issues, please ping me, thanks.

[2015-08-17 01:46] zilongshanren commented on #13394
@WenhaiLin  please take a look at this issue, thanks.

[2015-08-17 01:47] zilongshanren commented on #13392
@dualface  please take a look at this issue.

[2015-08-17 01:48] zilongshanren commented on #13391
@c0ffeeartc  Physics code will be refactor in v3.9.
@minggo  Could you take a loot at this issue?

[2015-08-17 01:49] zilongshanren commented on #13390
thanks. but I don't have a iPhone 4 at hand..

[2015-08-17 01:50] zilongshanren commented on #13386
@super626  please take a look at it.

[2015-08-17 01:50] #13385 closed, assigned to nobody

[2015-08-17 01:52] zilongshanren commented on #13384
@pandamicro  please take a look at this.

[2015-08-17 02:11] minggo commented on #13391
These functions will be removed when using physics component.

[2015-08-17 02:19] zilongshanren opened #13400 "EditBox iOS support multiline input"

[2015-08-17 02:59] folgerhu opened #13402 "TableVie->setVerticalFillOrder() is imperfect"
`Cocos 2d-x v3.7`

[code]

VERTICAL & VerticalFillOrder::BOTTOM_UP
![1](http://support.cocos.com//uploads/feedback/574096/40f65fd4e5f6fd59cb94ffa442f7b29a.jpg)

VERTICAL & VerticalFillOrder::TOP_DOWN
![2](http://support.cocos.com//uploads/feedback/574096/edcb6bb884c1b928be4c5896a7681525.jpg)

HORIZONTAL & VerticalFillOrder::BOTTOM_UP
![3](http://support.cocos.com//uploads/feedback/574096/400c1d74b

[2015-08-17 03:54] minggo opened #13404 "Add physics component"
Now physics integration added too much code in `Node` and other engine codes. We should move physics related codes into a component.

[2015-08-17 04:33] lucbloom opened #13405 "AutoPolygon's copy contructor"
In PolygonInfo::PolygonInfo(const PolygonInfo& other),
isVertsOwner = other.isVertsOwner;

Shouldn't that be
isVertsOwner = true;

Because it allocates new memory, which should be released in
PolygonInfo::releaseVertsAndIndices

[2015-08-17 04:42] meiry commented on #13390
I have , also allot around me , it's still something that needs to be supported

[2015-08-17 07:08] ZhaoTianze commented on #13392
same error.
Version: cocos2d-x 3.6
When read a pre-compilation zip file on android, Mac is OK,
but " error: syntax error during pre-compilation" on iOS
Please fix it

[2015-08-17 09:55] jie-meng opened #13417 "Cocos2dx 3.6 compile failed on Ubuntu 14.04LTS 64-bit"
I set up android-sdk, ndk, ant and cocos2dx 3.6 on Ubuntu 14.04LTS 64-bit, run ./setup.py and build/install-deps-linux.sh, then create a new lua project and run, Then I got:

/frameworks/cocos2d-x/cocos/platform/desktop/CCGLViewImpl-desktop.h:62:80: error: ‘GLFWvidmode’ does not name a type
.../frameworks/cocos2d-x/cocos/platform/desktop/CCGLViewImpl-desktop.h:128:30: error: ‘GLFWwindow’ has not b

[2015-08-17 09:57] jie-meng commented on #13417
cocos2dx-3.7.1 still compile failed same as 3.6.

[2015-08-17 10:56] AIGRIND-LLC commented on #12376
It seems that bug was fixed in this commit:
https://github.com/EsotericSoftware/spine-runtimes/commit/7073e262cd70ecd19aab242982ab5e6e9d9646d4

[2015-08-17 11:34] seraphpl commented on #13395
@zilongshanren Thanks for suggesting. I will try it.

[2015-08-17 11:47] anjandaffo opened #13420 "New device Api to change device orientation programmatically."
Add a new API in Device or Application level, so developer can change device orientation from anywhere in the application.

[2015-08-17 12:33] c0ffeeartc commented on #13391
Good to hear, I'll use above fix till then.

[2015-08-17 19:05] #11862 closed, assigned to nobody

[2015-08-18 01:49] wulei commented on #13392
@zilongshanren tech support is basic error, tsk
@ZhaoTianze i'm search a solution use luajit 2.1,but i'm not try it.

[2015-08-18 02:01] jie-meng commented on #13417
Problem solved by following step 1 of [How to build & install GLFW 3 and use it in a Linux project](http://stackoverflow.com/questions/17768008/how-to-build-install-glfw-3-and-use-it-in-a-linux-project)
1. get [glfw](http://www.glfw.org/download.html)
2. cmake -G "Unix Makefiles"
3. sudo apt-get build-dep glfw or sudo apt-get build-dep glfw3
4. make and then sudo make install

[2015-08-18 02:01] #13417 closed, assigned to nobody

[2015-08-18 02:47] #13204 closed, assigned to nobody

[2015-08-18 02:49] zilongshanren commented on #13420
@anjandaffo  Any particular reasons you want to change the device orientation at runtime?
If we want to support this feature, how about the UI layout? We don't support auto layout at the moment.
How to handle this issue?
Thoughts?

[2015-08-18 02:56] zilongshanren commented on #12141
This issue can't be reproduced.

[2015-08-18 02:56] #12141 closed, assigned to zilongshanren

[2015-08-18 02:59] zilongshanren commented on #9834
@walzer  I will keep EditBox.

[2015-08-18 02:59] #9834 closed, assigned to zilongshanren

[2015-08-18 03:01] zilongshanren commented on #8618
@joewan @lpcdma
Could you try cocos2d-x v3.8? I think this problem has resolved.

[2015-08-18 03:02] zilongshanren commented on #7977
@rplees  It should be fixed now.
If it still exists, feel free to reopen.

[2015-08-18 03:02] #7977 closed, assigned to zilongshanren

[2015-08-18 03:03] zilongshanren commented on #13405
@fusijie please take a look at this issue.

[2015-08-18 03:04] zilongshanren commented on #13402
@folgerhu
I will add cell reuse to ListView, So tableView improve doesn't have such a high priority now.

[2015-08-18 03:05] zilongshanren commented on #13362
@pandamicro  please take a look at it.

[2015-08-18 03:05] zilongshanren commented on #13374
@yangws  please take a look at it.

[2015-08-18 03:07] #13282 closed, assigned to nobody

[2015-08-18 03:09] zilongshanren commented on #12468
@dualface please take a look at this issue.

[2015-08-18 03:10] zilongshanren commented on #12044
@felixjingga  @Zinitter  Support cursor and other fancy editbox feature on top of OpenGL is tricky.
So we decide to drop TextField and put all of our effort into improving the EditBox control.

[2015-08-18 03:11] zilongshanren commented on #11773
@yangws  please take a look at this issue, thanks.

[2015-08-18 03:13] #11664 closed, assigned to nobody

[2015-08-18 03:14] zilongshanren commented on #11547
@chengstory  please take a look at this issue.

[2015-08-18 03:14] zilongshanren commented on #11306
@WenhaiLin  please take a look at this issue.

[2015-08-18 03:16] zilongshanren commented on #11287
@tttreal  it seems some errors related to your OpenGL code. Does it still exists in the latest code base?

[2015-08-18 03:16] zilongshanren commented on #11147
@sbrednikhin
This issue should be solve in v3.8.

[2015-08-18 03:16] #11147 closed, assigned to nobody

[2015-08-18 03:17] zilongshanren commented on #10862
@Zinitter  If we want to add upload feature to WebView, then the iOS platform should also support it.
We don't have any plan for this.

[2015-08-18 03:17] #10862 closed, assigned to nobody

[2015-08-18 03:17] #10309 closed, assigned to nobody

[2015-08-18 03:18] zilongshanren commented on #10216
@liamcindy  this issue was resolve in v3.8

[2015-08-18 03:18] #10216 closed, assigned to nobody

[2015-08-18 03:18] dabingnn commented on #13386
@Ninganagouda Could you please describe the requirement?

[2015-08-18 03:19] zilongshanren commented on #9065
The problem is not related to CocoStudio, it is the libmaliinstr.so which can't be loaded.

[2015-08-18 03:19] #9065 closed, assigned to chengstory

[2015-08-18 03:19] zilongshanren commented on #8709
already resolve in v3.8.

[2015-08-18 03:19] #8709 closed, assigned to super626

[2015-08-18 03:19] stevetranby opened #13429 "Using Label::getLetter and calling setVisible() draws duplicate letters"
Add to empty project at the end of the HelloScene's init method before `return true`.
(only seen/tested on Mac build)

[code]

[2015-08-18 03:20] zilongshanren commented on #8633
@WenhaiLin  could you add it some day? Thanks.

[2015-08-18 03:20] zilongshanren commented on #8186
@chengstory  Any updates?

[2015-08-18 03:22] zilongshanren commented on #8361
not a required feature..

[2015-08-18 03:22] #8361 closed, assigned to nobody

[2015-08-18 03:41] Ninganagouda commented on #13386
Hi,

Thanks for looking into the issue.

We are building an experimental game preferably in 2.5D approach. As 2.5D can be described in two ways:
1) 2D background(May be tmx) with 3D sprite
2) 3D background with 2D sprite

While we were exploring with first approach, we couldn't show 3D sprite on tmx file.

[2015-08-18 03:46] zilongshanren opened #13431 "Optimize EditBox on Win32 platform"

[2015-08-18 03:47] zilongshanren opened #13432 "Add EditBox to Linux platform"

[2015-08-18 03:49] zilongshanren opened #13434 "Enable tapping Slider bar to scroll"

[2015-08-18 03:50] zilongshanren opened #13435 "Add cell reuse to PageView"

[2015-08-18 03:50] zilongshanren opened #13436 "EditBox on iOS platform support multiline input"

[2015-08-18 03:52] zilongshanren opened #13438 "Improve Pageview childFocusCancelOffset"
The childFocusCancelOffset should respect the device DPI

[2015-08-18 03:53] zilongshanren opened #13439 "Jenkins Windows slave migrate to US office"

[2015-08-18 03:55] #13400 closed, assigned to nobody

[2015-08-18 03:57] zilongshanren commented on #13400
duplicated with https://github.com/cocos2d/cocos2d-x/issues/13436

[2015-08-18 03:57] zilongshanren commented on #13080
already fixed.

[2015-08-18 03:57] #13080 closed, assigned to dualface

[2015-08-18 03:59] zilongshanren commented on #13235
thanks @man2
I'm waiting for your PR.

[2015-08-18 04:00] #10012 closed, assigned to WenhaiLin

[2015-08-18 04:01] #9254 closed, assigned to WenhaiLin

[2015-08-18 04:03] #8990 closed, assigned to WenhaiLin

[2015-08-18 04:04] zilongshanren commented on #8990
can't reproduce, so I just close it here. If anyone have this issue again, feel free to reopen it .

[2015-08-18 04:04] zilongshanren commented on #9852
can't reproduce, so I just close it here. If anyone have this issue again, feel free to reopen it .

[2015-08-18 04:04] #9852 closed, assigned to WenhaiLin

[2015-08-18 04:05] zilongshanren commented on #13045
can't reproduce, so I just close it here. If anyone have this issue again, feel free to reopen it .

[2015-08-18 04:05] #13045 closed, assigned to WenhaiLin

[2015-08-18 04:06] #12229 closed, assigned to nobody

[2015-08-18 04:07] #12317 closed, assigned to nobody

[2015-08-18 04:59] stevetranby commented on #13429
Note that I clarified the issue occurs only after calling setVisible on the letter sprites. Calling setOpacity or setColor and probably others without calling setVisible will not cause the issue.

[2015-08-18 05:49] WenhaiLin commented on #13429
Fixed at https://github.com/cocos2d/cocos2d-x/pull/13440

[2015-08-18 06:38] ZhaoTianze commented on #13392
When I use the cocos luacompile, I get this information.
"By using luacompile, you could precompile the Lua script files to the bytecode files and encrypt the Lua script files or the bytecode files by XXTEA.The mechanism of generating the bytecode files is based on the LuaJIT v2.0.3, so the generated bytecode files cann't be used on the 64-bit iOS devices."
The cocos2d-x 3.6 is not support 64-bit

[2015-08-18 06:46] ZhaoTianze commented on #13392
On the quick-x 2.2.6, I use lua-5.1.5 to compile my lua file. The compiled file could be used on the 64-bit iOS devices.
Is there a method to switch to lua-5.1.5 compile on Cocos2d-x 3.6?
@zilongshanren
@dualface

[2015-08-18 06:47] anjandaffo commented on #13420
@zilongshanren  Thanks for your response.

One of my project having few screen design in portrait mode and few screen in landscape mode. It's client requirement. Before pushScene or replaceScreen I need to change orientation. for UI layout I design the scenes as respective of screen width and height. So UI not getting issue. I achieve the goal by following ways: If you have any better solution sug

[2015-08-18 06:52] fusijie commented on #13405
@lucbloom Thanks, I have fixed it.

[2015-08-18 08:08] super626 commented on #13386
@dabingnn I think this requirement is reasonable.

@dabingnn @Ninganagouda
I thought another method to achieve this. Have two cameras, one for tiledmap, and another for the 3D objects. You can keep the two cameras together. You can have a look at the cpptests, Node:Scene3D.

[2015-08-18 08:47] Ninganagouda commented on #13386
Hi,
Thanks for the suggestion. We will definitely explore the another possibility as suggested.

It would be highly appreciated, if we will be informed about this issue fix(Possibly in upcoming releases).

Thanks again!

[2015-08-18 09:30] #13429 closed, assigned to WenhaiLin

[2015-08-18 09:51] HoseaJiang commented on #13008
发现这个问题的代码片段是JS写的，大概如下：
        var root=new jsb.Sprite3D();
        this.addChild(root);
        var bill0 = new jsb.BillBoard();
        root.addChild(bill0);

[code]

大概意思是建立一个Sprite3D的root，并且把一个Armature的骨骼对象（bill0）和粒子火焰对象（bill1）挂在root下，bill1围绕bill0旋转（挂在Sprite3D是为了两个对象之间的透视感）。在windows上是没问题的，发布到android包上就可以看到骨骼排序全部反转了（火球没问题）。实际上不需要bill1，只要把一个Armature的骨骼对象加入到sprite3D结点下面，骨骼各个部件之间有重叠覆盖部分，就可以看到骨骼的各个

[2015-08-18 12:48] builden opened #13450 "setContentScaleFactor后bake，图片尺寸没有正常缩放"
web + canvas
cc.director.setContentScaleFactor(0.5)
使用layer.bake()
bake后的图片尺寸没有正常缩放

[2015-08-18 20:30] slackmoehrle opened #13453 "DrawNode -> needs optimization, frame rate drops dramatically."
1. create a scene, run it, 60fps
2. add a few calls to cocos2d::DrawNode::create(); any, really, drawTriangle, drawDot, etc
3. add then to your scene

watch the frame rate tank considerably.

I have a Scene with 5 `DrawNode` objects and the frame rate is 18fps

OS X 10.10.5, Cocos2d-x v3.6 and v3.7, ios simulator and hardware.

[2015-08-18 22:43] grimtastic opened #13454 "CC_SPRITE_DEBUG_DRAW does nothing in Cocos2d-x 3.7"
I set CC_SPRITE_DEBUG_DRAW to 1 and to 2 and it does nothing. Not sure if there is something else I have to do but this looks like a bug.

From what I can tell, in 3.6 the DrawNode used to draw the outline of sprites is refreshed during each draw call, so it always uses the latest vertex data when drawing the outline. In 3.7, the DrawNode is created and set once. Unfortunately this is done in the

[2015-08-19 02:14] fusijie commented on #13454
Yes, It has already broke the compatibility. I'll fix it in next version(v3.9). Thanks for your feedback.

[2015-08-19 02:26] WenhaiLin commented on #9608
LabelTTF is DEPRECATED. Fixed at https://github.com/cocos2d/cocos2d-x/pull/13456

[2015-08-19 03:30] folgerhu opened #13458 "About 3D drawing function"
Can you provide a DrawNode3D class like DrawNode, contains some of the basic 3D drawing function?

[2015-08-19 05:17] iSynth opened #13461 "Cocos2d engine has a lot memory leaks on OS X & iOS"
I already wrote about it [here](http://discuss.cocos2d-x.org/t/cocos2d-engine-has-a-memory-leaks-on-os-x-ios/23286), but the Cocos2d-x developers does not seem to read the message on the official discussion forum.

[2015-08-19 05:46] #9608 closed, assigned to WenhaiLin

[2015-08-19 05:54] fusijie commented on #13008
@jiang35 也就是说Sprite3D->BillBoard->Armature这样的结果会出现反序渲染，需要转动吗？一定要BillBoard吗？Armature是studio的还是spine？

[2015-08-19 06:24] #12952 closed, assigned to natural-law

[2015-08-19 06:25] pandamicro commented on #12213
EditBox support will be delayed in #13200

[2015-08-19 06:25] #12213 closed, assigned to VisualSJ

[2015-08-19 06:31] #12628 closed, assigned to ZhangMenghe

[2015-08-19 06:36] #12517 closed, assigned to pandamicro

[2015-08-19 06:53] pandamicro commented on #11923
Checked, this have been fixed in https://github.com/cocos2d/cocos2d-x/pull/11680

[2015-08-19 06:53] #11923 closed, assigned to nobody

[2015-08-19 06:54] #11913 closed, assigned to VisualSJ

[2015-08-19 06:54] pandamicro commented on #11913
Further research about this issue will be scheduled to future versions

[2015-08-19 06:58] #13405 closed, assigned to fusijie

[2015-08-19 06:58] HoseaJiang commented on #13008
@fusijie 一个2D骨骼对象挂到3D结点下面就是要用billboard了吧，还有没有别的挂法我不太清楚，这个歌demo也是我同事写的。Armature是studio的，那个例子下面的场合使用spine的话会有别的问题，不过不是这个的重点我这里先不说了。怎么挂不是问题主要是挂到3D场景下面的半透明对象都是要排序的，这个骨骼有没有动作是否转动都不重要，问题发生在排序上。就是RenderQueue::sort里面对QUEUE_GROUP::TRANSPARENT_3D也就是3D场景下半透明类型的对象进行排序，当Z相同的时候会发生反转，这对于一般的广告板无所谓，谁先谁后都是对的，但是如果是一个上层逻辑进行排过序的比如2D avata对象，各个部件的Z肯定是相等的，渲染的顺序要严格按照原来顺序。

上面贴的代码有写，std::sort严格按照c++标准来说是不稳定排序，改成std::stabl

[2015-08-19 07:17] natural-law commented on #11865
@XiaochenFTX
Does `gen_prebuilt_libs.py` means the file `tools/gen-prebuilt/gen_prebuilt_libs.py`?

I'm sorry that it has been removed in version v3.8.
Please use command `cocos gen-libs` instead.
Here is the manual of the command: http://www.cocos2d-x.org/wiki/Cocos_gen-libs

The implementation of `cocos gen-libs` is using `msbuild` instead of `devenv`. Hope it's helpful.

[2015-08-19 07:17] #11865 closed, assigned to natural-law

[2015-08-19 07:19] pandamicro commented on #10382
@yangws will continue the second part work in v3.9

[2015-08-19 07:20] #10217 closed, assigned to WenhaiLin

[2015-08-19 07:21] #10185 closed, assigned to pandamicro

[2015-08-19 07:22] #9430 closed, assigned to zilongshanren

[2015-08-19 07:29] fusijie commented on #13008
@jiang35 2D骨骼对象可以直接挂在3D节点下，至于挂在billboard下应该是有其他需求（面向camera之类的）。

我的主要疑问点是`但是如果是一个上层逻辑进行排过序的比如2D avata对象，各个部件的Z（这个是什么Z？）肯定是相等的`。这个Z不应该相等，Armature的各个bone(skin)，会有一个_orderOfArrival，这个值是各个部件是不一样的，而且参与排序，所以使用std::sort不会有问题。
能否直接给我一个测试例工程（代码+资源）。我刚用TestCase中的cowBoy骨骼按照你的方式测试没试出bug。我需要一个可以重现问题的测试例。
另外请告知您的Cocos2d-x版本。
感谢！

[2015-08-19 07:39] #9621 closed, assigned to jianglong0156

[2015-08-19 07:41] pandamicro commented on #9061
Future improvement will be rescheduled.

[2015-08-19 07:49] HoseaJiang commented on #13008
@fusijie cocos2d的版本是3.6，你是发布了安卓包测试的么？完整的资源我找一下。

[2015-08-19 07:51] fusijie commented on #13008
@jiang35 是的，安卓Nexus 7 v5.0.1. Cocos2d-x v3.8

[2015-08-19 08:01] pandamicro opened #13468 "Optimize the bindings-generator tool"
- [ ] Should support lambda in Lua bindings (@dualface can you take a look)
- [ ] The return value is Object value, it would trigger the compile error.
- [ ] If the functions of class are limited by the macro, the binding function have get the macro limit.
- [ ] Make tools search the dependent library path automatically
- [ ] Make the enum class be generated automatically (Configurable)
- [ ] Add

[2015-08-19 08:01] #9958 closed, assigned to pandamicro

[2015-08-19 08:23] #12570 closed, assigned to pandamicro

[2015-08-19 08:34] pandamicro opened #13470 "[WEB-Canvas] Sprite setColor generates cache canvas and create chaos in updating logic"

[2015-08-19 08:53] HoseaJiang commented on #13008
@fusijie 我这边试了用官方的资源确实没问题，我们自己制作的资源在windows上没问题，在安卓上是全反了，然后std::sort改成std::stable_sort之后解决了问题，我把资源的源文件发给你吧。

[2015-08-19 09:04] fusijie commented on #13008
@jiang35 感谢~ fusijie@vip.qq.com

[2015-08-19 14:30] TheCodez opened #13472 "[3.8] ListView has wrong behaviour by default"
In cpp-tests the listview shows the last items by default , so the user has to scroll up everytime to see the top items. The behaviour should be the other way around and should show the top items first.

This is shown when opening the UIListViewTest:
![wrong](https://cloud.githubusercontent.com/assets/4009589/9358991/29876848-468f-11e5-8ac2-77263531746f.PNG)

This should be shown instead:
![right]

[2015-08-19 15:43] Shulepov opened #13474 "iOS possible issue: proper place to Director::stop/startAnimation"
As i know on iOS app should not perform any work with OpenGL after call of _applicationWillResignActive_.

If i understood correctly, work with opengl in cocos stopped and resumed by:

[code]

But these method called respectively by:

[code]

But _applicationDidEnterBackground_ called after a small delay after _applicationWillResignActive_. So it may be too late to stop use OpenGL.

Also, when use

[2015-08-19 17:16] ricardoquesada commented on #10382
Thanks.

@yangws Things that I would do:
- Rename `CCDownloaderImpl.*` to `CCDownloaderImplCurl.*`
- Create a `CCDownloaderImplAndroid.*` with the android code
- Create a `CCDownloaderImplIOS.*` with the iOS code

and I guess that's it.

[2015-08-19 23:29] stevetranby opened #13475 "Scene Graph Listener should only receive Events for the node's camera"
I'm not sure if this is an issue or a design "feature" that needs change of documentation.

Because we'd have to check for visibility in many many places in our own code everywhere we have an "on" event based on scene graph priority I believe this is an issue and not a valid API or Engine change.

Our solution

[code]

[2015-08-20 00:53] baidang201 opened #13476 "why the bindings-generator tool select tolua, not swig?"
tolua no update anymore since Feb 2012.
swig keep update.
what is the bigest reason select to lua?

[2015-08-20 02:07] #8194 closed, assigned to yangws

[2015-08-20 02:12] xiaofeng11 commented on #10372
@panxh
Hi, Does your project in a folder name contain Chinese or other Unicode characters? From the screen shot your provider, it is obviously windows version missing some resource file. Because cocos2dx won't support unicode folder name, If put the project under a folder that name contain Chinese characters, will cause this problem. Under MacOS, the system default code page is unicode, so the Chi

[2015-08-20 02:21] pandamicro opened #13477 "NotificationNode is not entered and exited."
When setting notification node using Director::setNotificationNode, the target node's onEnter haven't been called. When old notification node replaced by new one, it's onExit haven't been called neither.

The consequence is that the notification node can't be scheduled. And action won't take effect neither

[2015-08-20 02:22] pandamicro commented on #13477
@ZhangMenghe , web engine need this modification too

[2015-08-20 02:24] #8305 closed, assigned to nobody

[2015-08-20 02:30] darkdukey commented on #8305
Sometimes this happens when updating Label from another thread.

[2015-08-20 02:32] WenhaiLin commented on #8305
Another thread?

[2015-08-20 02:41] WenhaiLin commented on #8305
@darkdukey You should update Label in GL thread.

[2015-08-20 03:21] xiaofeng11 commented on #9488
Maybe line 260 & line 266 is used for Cocostudio force bone to been draw on screen, In user project these two line can be comment to avoid problem

[2015-08-20 03:29] ghost commented on #13453
Hi, I don't think there is actually any issue with DrawNode. I tested this and it's true that the frame rate drops, but I think it only happens on the iOS simulator on Mac.

On Xcode's iOS simulator the frame rate drops to 30 fps for me just by adding a couple of DrawNode objects.
On my actual Android phone the frame rate doesn't drop to 30 fps until I add 160 DrawNode objects, and my phone is onl

[2015-08-20 04:15] pandamicro commented on #9856
Please use @doomsdayer 's solution, this is designed this way, not a bug

[2015-08-20 04:15] #9856 closed, assigned to chengstory

[2015-08-20 04:41] xiaofeng11 commented on #11723
Hi, volzhs
Cocostudio only support PNG & JPG format image file, It won't support webp format

[2015-08-20 04:44] xiaofeng11 commented on #10397
Hi, ruhen
Cocos2dx v3.8 & CocoStudio 2.3.2 have rewrite some armature animation code, and Cocostudio support import & editing 1.6 armature animation, please test in new version. If there still have bug, please provide us a sample project to test it, because we won't have a project to reappear this problem.

[2015-08-20 04:46] xiaofeng11 commented on #9829
By the screen shoot, I think the beta version you used have assign FNT file to a wrong parser, so the file check failed. CocoStudio 2.3.2 will rewrite the fnt parser, please try new version.

[2015-08-20 04:50] volzhs commented on #11723
I replaced png with webp manually, with finally published files.

[2015-08-20 04:58] xiaofeng11 commented on #11723
Yes I know, some others has report same problem before, but these format not officially supported by cocostudio now.

[2015-08-20 05:04] yangws commented on #13475
Let us consider this situation:
- create a node named 3DSceneNode, then add a 3D sprite and a camera, which look at the sprite, into it, 3DSceneNode->setPosition(10000, 10000, 0)
- create a node named 2DSceneNode, then add a 2D sprite and a camera, which look at the sprite, into it, 2DSceneNode->setPosition(-10000, -10000, 0)
  Finally, we get a picture on screen, which contains a 3D sprite and a

[2015-08-20 05:16] xiaofeng11 commented on #11911
这里加载的是plist对应的大图，里面的图块是在SpriteFrameCache::addSpriteFramesWithDictionary里进行的处理，并没有使用全路径。mac下加载出现问题我怀疑是保存的文件名大小写不一致，导致macos这种路径中大小写字符进行区分的系统下找不到文件。

[2015-08-20 05:51] pandamicro opened #13481 "Separate Performance test and automatically generate result report"

[2015-08-20 06:01] stevetranby commented on #13475
Correct, and I understand that part.

Our issue was that we were getting two calls to our listener->onTouchesBegan callback method.

[code]

I've updated the title to better describe the issue we're seeing.

[2015-08-20 06:43] #10205 closed, assigned to chengstory

[2015-08-20 06:43] #9488 closed, assigned to chengstory

[2015-08-20 07:00] fusijie opened #13482 "void RenderQueue::sort() uses an unstable_sort algorithm"
relative pr: #13008.

`version:`3.8
`issue:` RenderQueue::sort use an unstable_sort algorithm will cause render re-order for Android.
`reproduce:`SpriteTest->Testing Sprite

[code]

[2015-08-20 07:05] fusijie commented on #13482
To fixed it just modify **std::sort** to **std::stable_sort**, but we need a performance test additionally.

[2015-08-20 08:18] HoseaJiang commented on #13008
@fusijie 那个Z就是QuadCommand里面的_depth，好像跟_orderOfArrival没关系吧？_orderOfArrival是属于node的，是上层逻辑用的把本渲染对象构造成一种RenderCommand送进渲染器时候的顺序，然后对于其中的几种RenderCommand队列，渲染器会对它重新排序的。

[2015-08-20 09:28] fusijie commented on #13008
@jiang35 没有关系。因为有2次排序，一次是Node内部，一次是渲染队列。两次都使用的不稳定排序，而Node内部理论上不会有相等的Z（localZ + _orderOfArrival），所以没什么问题。而渲染队列无法保证Z一定都不相等，所以可能会出现不稳定排序。这个bug在v3.9会处理，主要是考虑到还得做一次性能测试确认下影响。请见#13482.

[2015-08-20 16:06] AIGRIND-LLC opened #13492 "Request: Bitmap Fonts support for the Button in CocosStudio"
Cocos runtime allows to assign a bitmap fonts for the button caption.
But there is no corresponding option in Cocos Studio and we are only able to assign TTF fonts to the button. It would be great to add this feature.

[2015-08-20 19:11] slackmoehrle commented on #13453
Well a frame rate drop from 60 to 30 is a problem. We need to improve this. `DrawNode` is super useful and it is basically unusable on iOS.

[2015-08-20 19:55] frranck opened #13494 "CCFadeOutUpTiles is not removing a tile at the very bottom left part of the screen"
CCFadeOutUpTiles is not removing a tile at the very bottom left part of the screen.

[2015-08-21 02:00] zilongshanren commented on #13472
@TheCodez
Thanks for reporting, I will fix it.

[2015-08-21 03:58] zilongshanren commented on #13472
fixed at  https://github.com/cocos2d/cocos2d-x/pull/13499

[2015-08-21 04:05] yi commented on #13470
details about this problem as following:

100% reproducible, only happen in canvas rendering.

Steps to reproduce:
1. create a new cc.Sprite instance (var node)
2. `node.setSpritFrame(frame)` setting sprite frame from a sprite sheet to the node
3. `node.setColor(colorA)` setting color to that node
4.  `node.setColor(colorB)` change the color of that node
5. then the whole sprite sheet texture will

[2015-08-21 04:56] Cybertwip opened #13503 "TMX, vertical camera cull not working properly"
Only horizontal parallax seems to be working properly, and it seems that it takes in consideration only design size from the origin.

The first map works fine but after scrolling down the camera culls everything but sprites, the second map starts a bit down from the origin and it simply does not render at all. If we move forward only sprites are rendered.

First map:
![parallax1](https://cloud.git

[2015-08-21 05:51] #13472 closed, assigned to zilongshanren

[2015-08-21 06:14] pandamicro commented on #12404
New classes supported in https://github.com/cocos2d/cocos2d-x/pull/13501
- CameraBackgroundBrush
- CameraBackgroundDepthBrush
- CameraBackgroundColorBrush
- CameraBackgroundSkyBoxBrush

[2015-08-21 07:01] llhbadboy opened #13507 "ScriptCore compile error in IOS9"
I included "ScriptingCore.h" in my own class, and it occurred compile error.
![cb7d9727-5375-4294-b552-e9343fc77791](https://cloud.githubusercontent.com/assets/1784401/9402970/310aca38-4815-11e5-9c04-99b99e49160b.png)
It seems JSType is in conflict with JSType defined in IOS9 Runtime.

[2015-08-21 07:03] llhbadboy commented on #13507
JSContext has the same issue

[2015-08-21 07:13] fusijie commented on #13503
What's your Cocos2d-x version?
Could you please test this pr: https://github.com/cocos2d/cocos2d-x/pull/13105?

[2015-08-21 07:16] fusijie commented on #13494
Duplicate with https://github.com/cocos2d/cocos2d-html5/pull/3067.
@ZhangMenghe Any thought?

[2015-08-21 07:35] Cybertwip commented on #13503
I cloned directly from the v3 branch, yesterday. I believe the pr is already merged.  I'm setting the anchor point for the TMXTiledMap to be 0, 1 and initial position display.left_top, no further movement done to the map, only to the camera.

[2015-08-21 08:00] ZhangMenghe commented on #13494
@frranck @fusijie
This  will be fixed in v3.9

[2015-08-21 08:38] fusijie commented on #13503
Could you change following code to NewRendererTest -> BugAutoCulling::BugAutoCulling()

[code]

Is the effect you wanted? Or could you reproduce the bug through this test case?

[2015-08-21 09:02] fusijie opened #13509 "RenderTexture crash."
`version:` v3.8
`issue:` use Sprite::visit() in init() function will cause crash because Camera::_visitingCamera is not ready.
`reproduce:`

[code]

[2015-08-21 09:41] fusijie commented on #13509
Duplicate with #13504.

[2015-08-21 09:41] #13509 closed, assigned to nobody

[2015-08-21 10:02] pandamicro opened #13512 "Improve loading performance when Cocos Studio generates too much json files"
Here is an example of user's project

![c 3_yf6 t n_6 p7whioxv](https://cloud.githubusercontent.com/assets/632460/9405938/ae678886-482e-11e5-81ec-96fa467f0c51.jpg)

[2015-08-21 10:07] lyzardiar opened #13513 "AssetsManagerEx worked low performance on windows, ipod, ipad-1 and so on"
eg:
      auto assets = _remoteManifest->getAssets();
this code will cause copy behavior,  and it called on every file download success

change to:  auto& assets = _remoteManifest->getAssets();

[2015-08-21 10:08] pnt265 opened #13514 "cocos2d-x 3.7.1: touch area wrong in portrait screen"
Touch area wrong in portrait mode with ui button,  but working normal in landscape mode.
Please check it

[2015-08-21 10:16] pandamicro opened #13515 "Support pixelate effect"
Some game may need not blurring canvas image while resizing it, for example some retro games.

Solution:
- http://stackoverflow.com/questions/18547042/resizing-a-canvas-image-without-blurring-it
- http://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas

[2015-08-21 10:21] TheCodez opened #13516 "[3.8] ListView has rendering bug when calling setScrollBarAutoHideEnabled(false)"
When calling `setScrollBarAutoHideEnabled(false)`, ListView doesnt shows the scrollbar right away, instead its showing the scrollbars circle in the bottom left corner. This goes away when scrolling because then the real scrollbar becomes visible on the right side.

![artifact](https://cloud.githubusercontent.com/assets/4009589/9406244/f44a7104-47fe-11e5-9386-db4b1096306b.PNG)
![res](https://cloud.

[2015-08-21 14:21] rekrutik opened #13517 "Strange behaviour of Scene in Cocos2d-x 3.6"
I see a strange thing when working with Scenes in Cocos2d-x. Any transformation of this container (e.g. moving, scaling, etc) shows that it's rendered twice: without transformations and with them as well.
Here's a simple graph of my example application:
globalScene (Scene) -> levelScene (a subclass of Scene) -> rootScene (a Scene to which my nodes are added)
And here's the code:

[code]

And here'

[2015-08-21 15:39] TheCodez commented on #13517
@rekrutik You can also use layers with physics.

[2015-08-21 16:01] rekrutik commented on #13517
@TheCodez But I have to update the position of all layer's child nodes by myself then, don't I?

[2015-08-21 16:05] TheCodez commented on #13517
No not really. You just create a scene with physics `Scene::createWithPhysics()` and attach your layer to that, which has for example sprites with physicsbodies as children.

[2015-08-21 16:06] rekrutik commented on #13517
@TheCodez Wow, thanks a lot! Now I finally got it working.

[2015-08-21 16:06] #13517 closed, assigned to nobody

[2015-08-21 16:07] TheCodez commented on #13517
No problem ;)

[2015-08-21 23:27] Cybertwip commented on #13503
I did, but what it seems is that the map is not rendering at all. Scrolling works and also perfectly with the built-in test map used by BugAutoCulling, but when loading a larger tileset this is what happens.

I've done an horizontal MoveBy to see how many tiles got rendered and when moving there is only a thin line of them.

![bugauto](https://cloud.githubusercontent.com/assets/8097385/9420999/44b

[2015-08-22 02:56] fatfatson commented on #13394
ok, i'm mistake. now it's using the system dylib.

[2015-08-22 04:49] Cybertwip commented on #13503
The tiled map used does not have any

[code]

instead it has a reference to a tile in the texture

[code]

Which has an alpha value of 0.

I believe that with this code:

[code]

We shall verify alpha values of 0 used by empty tiles before rendering or setting up tiles from the TMX map. Does the TMX loader have any size limitation on the number of tiles to be drawn? After changing the transparent

[2015-08-22 04:49] #13503 closed, assigned to nobody

[2015-08-22 05:12] seraphpl commented on #13395
@zilongshanren I have downloaded v3.8beta0, execute `setup.py`, `download-deps.py`.
The directory `tools/cocos2d-console` is empty. Cannot use `cocos` command.

[2015-08-22 10:28] angelvet commented on #10319
Are there any working workaround to enable stencil buffer on the android emulator?

[2015-08-22 17:26] man2 opened #13521 "RenderTexture problem with Clang 3.6.1 on Linux Ubuntu"
I tried to use RenderTexture with Clang 3.6.1 on Ubuntu 14.04, got error when calling

renderTexture->end()

Works fine on GCC 4.9

[2015-08-22 22:11] ginobean opened #13522 "need to rename AVAudioPlayer to avoid conflicting with system framework: AVFoundation.framework"
cocos2d-x team,

Please rename your version of AVAudioPlayer to CCAVAudioPlayer, to avoid conflicting with the version of AVAudioPlayer in the system framework : AVFoundation.framework . This is easily reproducible by doing a Mac build.

After a successful Mac build, when you run the newly built Mac app, the following warning message appears:
Class AVAudioPlayer is implemented in both /System/Libr

[2015-08-23 01:08] Gajoo opened #13523 "Ending AudioEngine in Win32 causes a "std::system_exception""
I'm using cocos2d 3.7.1. It's recommended in documentation to "end" AudioEngine before the app exits, so Here is what I did:

[code]

But that line results in an exception being thrown on line 95 of "AudioEngine-win32.cpp". On that line AudioEngineThreadPool is trying to join all threads running, to safely exit the application. It's "std::system_exception" error, caused by threads not being joinab

[2015-08-23 01:11] Gajoo commented on #13523
Looking a little bit more into the code, it seems on line 82 also, there is a possibility that a new thread is created, and detached. So if you are going with suggestion one, you should also remove detach from that line too.

[2015-08-23 04:00] fatfatson opened #13524 "CheckButton size problem"
the frontCross part will scale itself to the "_contentSize" when show
( see in:
void AbstractCheckButton::frontCrossTextureScaleChangedWithSize()
)
and change to "_backgroundTextureScaleX/Y" when hide
( see in:
void AbstractCheckButton::onPressStateChangedToNormal()
)

it will cause problem if we use a texutre smaller than the background part:
1. the frontCross texture is scaled without real need.

[2015-08-23 07:24] MariusAvram commented on #8533
Hello Team,

Please let us know the status of this issue. I'm depending on it for launching an iOS game, so I really need your help on this.

Thank You!
Marius Avram

[2015-08-23 10:50] fatfatson opened #13525 "freetype font label has some noise pixel"
after update today, the freetype font label seems made a little broken: there are some noise pixels at the top or bottom randomly.

![a](https://cloud.githubusercontent.com/assets/5842874/9427921/cad6c988-49c7-11e5-9a5b-6d3c0c980143.png)

[2015-08-23 14:28] pandamicro commented on #13470
Hi, @yi Thanks for your suggestion, here is my thought about this problem

You are right, the core problem is that we are mixing cache logic with render command, it was originally due to performance concern. But finally it has caused us too much bugs, and I agree with you that we need to refactor this part of engine.

I think we can abstract the render command to more basic level to solve this pro

[2015-08-23 21:46] Gajoo commented on #13523
After testing both methods, it seems adding a check if thread are joinable on line 95, will fix this problem but will cause another exception. So the only working solution is removing detach from line 65 and 82

[2015-08-24 01:16] DanielBelow opened #13526 "[3.0] Clang (3.8) Build fails on Ubuntu 15.04"
Using clang3.8 on Ubuntu 15.04 a clean build fails with the following error:

In file included from [...]/cocos2d-x/cocos/base/allocator/CCAllocatorGlobal.h:31:
[...]/cocos2d-x/cocos/base/allocator/CCAllocatorStrategyDefault.h:45:16: error: use of undeclared identifier 'malloc'
        return malloc(size);
               ^
[...]/cocos2d-x/cocos/base/allocator/CCAllocatorStrategyDefault.h:51:13: er

[2015-08-24 02:03] zilongshanren commented on #13526
@Tehlyria
The minimal GCC version is 4.9, please give it a try.

[2015-08-24 02:07] DanielBelow commented on #13526
@zilongshanren

gcc -v
-- gcc version 4.9.2 (Ubuntu 4.9.2-10ubuntu13)

I'm building with clang though.
clang -v
-- clang version 3.8.0 (trunk 242676)

[2015-08-24 02:10] zilongshanren commented on #13526
@Tehlyria
Clang is not tested on the Linux platform. So you should switch to GCC.

[2015-08-24 03:59] WenhaiLin commented on #13523
Fixed in v3.8

[2015-08-24 07:59] natural-law opened #13534 "Add command in console for sdkbox."

[2015-08-24 09:20] WenhaiLin commented on #13525
@fatfatson Update from v3 branch or v3.8 branch?Any source code to reproduce this issue?

[2015-08-24 09:41] folgerhu opened #13536 "Cocos created android project can provide Gradle support?"
Gradle is an open source build automation tools,  http://gradle.org/

[2015-08-24 09:49] WenhaiLin commented on #13536
Cocos2d-x now supports Android Studio.  Android Studio offers:Flexible Gradle-based build system

[2015-08-24 09:49] WenhaiLin commented on #13536
@folgerhu Please close this issue.

[2015-08-24 09:53] neokim commented on #13516
Fixed at #13537.

@zilongshanren Please don't hesitate to mention me on any ScrollView related issues. I'll try to handle them.

[2015-08-24 09:54] zilongshanren commented on #13516
@neokim  :+1:
Great

[2015-08-24 09:56] neokim commented on #13472
This was on the top of my action item list. Thanks!

[2015-08-24 09:56] TheCodez commented on #13516
@neokim
I also noticed that the scrollbars circle gets really blurry the larger the width is

[2015-08-24 10:04] VivekFitkariwala opened #13538 "cocos2dx 3.7.1 Javascript Project android - Simulator.apk crashes on android phone"
Simulator.apk crashes with this error message

2:52:08 PM Starting simulator...
2:52:18 PM Start LaunchActivity com.cocos.apps.simulator/org.cocos2dx.lua.AppActivity
2:52:24 PM Throwable: Starting simulator failed. Please check if the device's screen is locked.

I have unlocked the device screen even than same error is coming

[2015-08-24 10:25] zilongshanren commented on #13516
Hi, @TheCodez
Does the fixes work for you?

[2015-08-24 10:46] TheCodez commented on #13516
@zilongshanren Yes, it works without a problem :+1:

[2015-08-24 11:04] lannes opened #13543 "cocos2d-js 3.7.1 & 3.8beta0: Method fullScreen() of cc.screen not return boolean value"
on web platform cc.screen.fullScreen() return a html content is not a boolean value.

[2015-08-24 11:08] lannes opened #13544 "cocos2d-js 3.8beta0:version of Socket.IO.js still is 0.9.16 not is 1.x"

[2015-08-24 11:17] lannes opened #13545 "cocos2d-x 3.8beta0: websocket still not support for cookie"
On web platform browser support cookie automatic, but on device developer must manager cookie for websocket by modify onSocketCallback method of WebSocket class as below:

[code]

Please support cookie for WebSocket, thank you very much!

[2015-08-24 11:39] yi commented on #13470
@pandamicro  +1, absolutely agree!

By the way, after we have a stateless _Texture render command_, there will be no need to [maintain an instance of _renderCmd in every node instance](https://github.com/cocos2d/cocos2d-html5/blob/develop/cocos2d/core/base-nodes/CCNode.js#L2435). Oh yeah! will be less code and simplier structure.

Even the texture render helper just need to init once when booting

[2015-08-24 12:21] fatfatson commented on #13525
@WenhaiLin from v3, i just use a custom font in cocostudio and load it. before update, it's ok.

[2015-08-24 13:04] neokim commented on #13516
@TheCodez The circle is not intended for big scroll bar. The diameter is only 12 pixel. How big do you use it?

[2015-08-24 13:52] pandamicro opened #13547 "Wrong bake effect after setting content scale factor"
Once set content scale factor with:

[code]

The bake effect will be wrong.

[2015-08-24 15:15] TheCodez commented on #13516
Ok good to know, I set it to 16, but also at 12 pixel width it's still a bit pixelated.

[2015-08-24 22:27] akukharev opened #13548 "Velocity issue"
The same problem appeared https://github.com/cocos2d/cocos2d-x/issues/8407
version 3.7.1

[2015-08-25 03:16] WenhaiLin commented on #13525
@fatfatson Does the pr:https://github.com/cocos2d/cocos2d-x/pull/13424 work for you?

[2015-08-25 03:55] jimrange opened #13551 "MenuItemImage Camera Issue (Cocos2d-x 3.8 beta0)"
Youtube Video of Issue: https://youtu.be/t7EJp3Al_mc
Github repo to reproduce issue: https://github.com/jimrange/cocos2d-x-bugs/tree/cameraTouch

The Issue:
Touching the screen on a location nowhere near a UIMenuItemImage can trigger the MenuItemImage, causing strange UI behavior that is difficult to debug. But I know know what is causing it...

There does not seem to be a way to make UI HUD eleme

[2015-08-25 04:00] rangercyh opened #13552 "websocket lua sendString"
the function in Lua_web_socket.cpp  tolua_Cocos2d_WebSocket_sendString00:

[code]

it's strange, you have already know the size of the string, you should just  self->send the string and the size. Why are you judging the size and auto judge to send as binary or text?
this add the receiver's work!
I think If you want to supply two mode of send, you may add a parameter to let the sender to decide whe

[2015-08-25 08:23] pandamicro commented on #13547
Closed via https://github.com/cocos2d/cocos2d-html5/pull/3080

[2015-08-25 08:23] #13547 closed, assigned to VisualSJ

[2015-08-25 08:30] man2 commented on #13526
I too have problem with clang on linux. I think it should be supported, because the compile time is so much faster with clang compared to gcc

[2015-08-25 10:05] fusijie commented on #13454
My opinion is **remove debugDraw method**, and restore to the status of v3.6.
v3.7 introduced debugDraw method, debugDraw just draw the sprite frame once no matter how the sprite     transform after that, and break the compatibility, it is not a good idea,
@zilongshanren @pandamicro Any thoughts?

[2015-08-25 11:02] ryule opened #13560 "cocos2d-x 3.7.1 scale-9 sprite works different from the previous one"
In new cocos2d-x, 9-patch functionality has been added to `ui::Scale9Sprite`.
But the changed code affects the way of working of the original Scale9Sprite.
(Reference commit: 0352a7a3ea0d3c034ab2129bc261f04de9956b1b)
#### 1. The Scale9Sprite works weird

because the following code:
- UIScale9Sprite.cpp:526
  - `if(_capInsets.equals(Rect::ZERO))`
- UIScale9Sprite.cpp:549
  - `if(!capInsets.equals(R

[2015-08-25 12:39] anjandaffo opened #13562 "TransitionPageTurn effect issue with contentScaleFactor."
I am using cocos2d-x version 3.7

I am setting the content scale factor from AppDelegate.cpp to support for all screen size. I used all resources of 2048*1536 size.

director->setContentScaleFactor(1536 / director->getWinSize().height);

design is perfect for all screen sizes.Issue with TransitionPageTurn,  if contentScaleFactor < 1.0 then out scene is cut from the top. For contentScaleFactor >=1.

[2015-08-25 12:51] #13516 closed, assigned to nobody

[2015-08-25 14:11] zilongshanren commented on #13560
@ryule
Thanks, I will  resolve the issue 1, my bad.

For the issue 2:
At the first beginning, I designed all the APIs to be public. But @minggo  suggest that there are no mandatory reasons for public these APIs.

Could you give an example? Or could we just make them as protected such that the subclass could use it.

Thanks.

[2015-08-25 15:37] zilongshanren opened #13564 "Scale9Sprite draw extra 1 pixel when creating from spritesheet"
This issue was reported by developers from Chinese forum.
He found that when creating Scale9Sprite from spritesheet and the resulting Scale9Sprite will draw extra 1 pixel from other spriteframe.

He also proposed a solution:

[code]

should be changed to

[code]

Chinese forum:

http://www.cocoachina.com/bbs/read.php?tid=320932&page=1&toread=1#1376926

and

his blog:

http://www.cnblogs.com/songcf

[2015-08-25 15:39] zilongshanren commented on #13564
@newnon
I remember that the `ceil` function was added by you.
Thoughts?  How about changing ceil to floor?

Thanks.

[2015-08-25 16:06] zilongshanren commented on #13560
Hi, @ryule
Does the PR fix the 1st issue?
Thanks.

[2015-08-25 21:14] ryule commented on #13560
@zilongshanren, your commit 6cea66f fixed the first issue, thanks!

For the second issue, a stand alone texture cache manager that independent to the given `CCSpriteFrameCache` would be an example. The manager should have an access right to the methods related to 9-patch to make its functionalities intact.
Even with the protected methods, I think that the code cannot have a completely separated st

[2015-08-25 23:21] zilongshanren commented on #13560
@minggo  What do you think about public these APIs?
I don't like the friend class either as @ryule

[2015-08-26 03:37] zilongshanren commented on #13560
@ryule
For the second issue, we decide to not public these APIs. If these APIs are public, we should maintain them and it's hard to evolve when the design is not good enough. And these APIs introduce implicit dependency between SpriteFrame and Texture2D object, we still think these APIs are not suitable for public.

If most developers want these APIs, then we would consider public them.

Thanks.

[2015-08-26 04:11] ryule commented on #13560
Sure, it's fine. I really appreciate your effort for this issue.
Thanks, @zilongshanren.

[2015-08-26 04:14] #13560 closed, assigned to zilongshanren

[2015-08-26 04:51] zilongshanren commented on #13560
@ryule  You're welcome.

[2015-08-26 06:07] kiranb47 opened #13568 "Please add function addTexture(Texture2D *texture2D, const std::string &key) to TextureCache"
Which will be usefull to cache custom texture made using Render Texture.

[2015-08-26 07:40] folgerhu opened #13570 "Particles and Text overlap, text will appear black border"
···Cocos 2d-x v3.7```

[code]

![891629f1-be51-4f0f-a344-4d5a9f53a509](https://cloud.githubusercontent.com/assets/3455415/9487695/a85a1d10-4c06-11e5-85eb-59144809028d.png)

[2015-08-26 08:31] WenhaiLin commented on #13570
A temporary fix:

[code]

This issue cause by each image is loaded with premultiplied alpha.

[2015-08-26 08:41] Birkemose opened #13575 "cocos2d::ui::Slider does not tak TextureResType into consideration"
In UISlider.cpp, line 99

widget->loadBarTexture(barTextureName);
widget->loadSlidBallTextureNormal(normalBallTextureName);

should be changed to

widget->loadBarTexture(barTextureName, resType);
widget->loadSlidBallTextureNormal(normalBallTextureName, resType);

[2015-08-26 10:15] newnon commented on #13564
I'm not sure it was long time ago. may be it is correct fix may be it will give some other artifacts

[2015-08-26 13:35] #13564 closed, assigned to zilongshanren

[2015-08-26 13:40] zilongshanren commented on #13564
@newnon
I agree with you. The offset and originalSize read from plist files will be divided by ContentScaleFactor which will cause some precision lose.

I still can't make sure the fix is correct but at least it resolve the developer's issue and all the tests are good now.

I will keep a an eye with it.

Thanks for reply.

[2015-08-26 14:43] felixjingga opened #13581 "v3.8 ui::EditBox in Android is incorrectly rendered"
after testing v3.8 branch which contains updates to EditBox Android by @zilongshanren When the editBox is not tap the string is display correctly.. but when we want to edit the text, the text shown is somewhat hidden.

[2015-08-26 14:51] felixjingga opened #13582 "v3.8 Bug in scheduleOnce with delay parameter being 0.0"
When we use scheduleOnce with delay parameter being 0.0, the code inside the function is executed multiple times. this not happens in previous version.

[2015-08-26 14:53] zilongshanren commented on #13581
@felixjingga
You should adjust the Editbox's content size.  You should create a EditBox with height large than 50 points.

The widget's behavior is controlled by Android system.

[2015-08-26 14:56] zilongshanren commented on #13581
@felixjingga  And you'd better adjust the font size with a proper value.

Hope it helps you to resolve the issue.

[2015-08-26 14:57] zilongshanren commented on #13582
@yangws  @WenhaiLin
Please take a look at this issue.

[2015-08-26 15:08] felixjingga commented on #13581
@zilongshanren I'll try it tomorrow, and see if it's working or not.

Thanks,

[2015-08-26 15:11] felixjingga opened #13583 "Make csb can use sprite from plist"
When we are using CSLoader and load a csb file. If the all the sprite inside the *.csb is added as a texture with cocos2d::SpriteFrameCache::getInstance()->addSpriteFramesWithFile(), the csb will fail to load and render the sprite.

[2015-08-26 15:44] WenhaiLin commented on #13582
Fixed at https://github.com/cocos2d/cocos2d-x/pull/13585

[2015-08-27 01:58] zilongshanren commented on #13551
@jimrange  Does the PR solve your problem?

[2015-08-27 02:01] man2 opened #13588 "Missing set/getOpacity in GUI that wraps renderer"
Like UIButton, UIImageView, UITextBMFont, ...

[code]

[2015-08-27 02:10] man2 commented on #13582
nice!! :)

[2015-08-27 02:32] wulei commented on #13468
@pandamicro @dualface
please see lua iOS 64-bit load error #13392
tks

[2015-08-27 02:55] #13582 closed, assigned to yangws

[2015-08-27 08:05] neokim opened #13591 "Android app freezes sometimes because Cocos2dxRenderer.nativeOnResume() is not called when the activity is resumed."
`Cocos2dxRenderer.nativeOnResume()` is supposed to be called when the activity is resumed. It is called through by `Cocos2dxActivity.onWindowFocusChanged()`.

I found a case that `onWindowFocusChanged()` is not being called after `onResume()`. It causes the app to freeze.

Normally `onWindowFocusChanged(false)` is called right after `onPause()` and `onWindowFocusChanged(true)` right after `onResum

[2015-08-27 14:19] seivan opened #13597 "Adding a namespace for actions and maybe UI nodes"
Maybe I'm doing it wrong, but it would it would be great to have either a namespace or some sort of a prefix for actions.
On Sprite-Kit, Apple solved it by adding all the actions on a single class as a static method.

Obviously, that's to work around the fact that Obj-C is missing Namespaces, but I feel like C++ could solve that better.
At least making it easier to explore available node types, UI

[2015-08-27 14:19] seivan commented on #11019
@pandamicro This doesn't seem to be fixed.
I just encountered it myself actually. It's quite a jump in memory.

Related
http://discuss.cocos2d-x.org/t/possible-bug-label-memory-leak-in-mac-but-not-in-ios/20555
http://cocos2d-x.org/issues/4918

[2015-08-27 15:10] zilongshanren commented on #13575
@Birkemose  Good catch, thanks.

[2015-08-28 01:21] SongCF opened #13604 "v3.7 LayerLoader not support touch one by one"
when we use cocosbuilder layout, a layer register touch one by one, but LayerLoader not supported.

cocosbuilder:
![](http://images0.cnblogs.com/blog2015/432451/201508/271643111409600.png)

LayerLoader:

[code]

**why not supported touchOneByOne and TouchSwallow?**
The following code works correctly:

[code]

[2015-08-28 01:39] jianglong0156 opened #13605 "custom action can not use reverse and clone"
custom action can not use reverse and clone

reverse and clone will return the custom action's parent.

right design:
reverse and clone need return the custom action.

[2015-08-28 01:47] #10397 closed, assigned to chengstory

[2015-08-28 01:58] xifengxi opened #13606 "why not run the simulation of physics3D by a new thread"
Cocos2d-x put too many tasks in the mainloop, like update, render and callback....

[2015-08-28 02:06] pandamicro commented on #13453
In the current state, all shapes in one DrawNode is batched, but two DrawNodes are not batched together.

I think there are two direction to improve it:
1. Auto batch DrawNodes
2. Improve the performance of drawing shapes (reduce triangle count maybe)

[2015-08-28 02:16] pandamicro commented on #13606
For now we don't have a multi thread design for Cocos, but it is a very important direction to improve our engine. And physics is the most suitable case to be put in another thread than the GL thread, I personally agree with you. We are now completing our 3D functionalities, so this kind of improvement is delayed to future plans.

@ricardoquesada @minggo @super626 @dabingnn thoughts?

[2015-08-28 02:24] pandamicro commented on #13604
Hi, the loader of cocos builder is still a design from v2, so the LayerLoader still take charge of registering events. But in v3, the whole event dispatcher have been redesigned, sadly we have no one to maintain cocos builder's loader.

If you want to improve the cocos builder's loader, in fact, it's better to register the touch event directly with EventDispatcher, Layer's deprecated event related

[2015-08-28 02:25] pandamicro commented on #13597
I don't really understand what's the benefit

[2015-08-28 02:25] #13591 closed, assigned to nobody

[2015-08-28 02:39] pandamicro commented on #13583
You can actually create merged texture in Cocos Studio and generate the plist and png file, then it support loading it from CSLoader.

[2015-08-28 02:40] #13575 closed, assigned to zilongshanren

[2015-08-28 02:43] pandamicro commented on #13568
I agree, it will be useful, @minggo what do you think?

[2015-08-28 02:44] pandamicro commented on #13562
@fusijie  have improved page turn in v3.8, maybe your problem is fixed

[2015-08-28 02:49] xifengxi commented on #13606
yeah, Almost all of our phone haves a lot of core ,such as four-core, eight-core or even ten-core. And the performance of a core is getting lower and lower. thanks for your answer.~~~

[2015-08-28 02:55] seivan commented on #13597
The benefit would make the API cleaner and easier to find available actions.
Right now there is no naming conventions of all the different types of actions, making it hard to find them.

With SpriteKit, every action falls under SKAction.
With Cocos2d (Obj-C) every action falls under CCAction
Obviously Obj-C doesn't have namespaces, so that's how they solve it.

In order to find and use all the act

[2015-08-28 03:13] pandamicro commented on #13522
@WenhaiLin Please fix it

[2015-08-28 03:17] pandamicro commented on #13524
@neokim @zilongshanren thoughts ?

[2015-08-28 03:19] #13536 closed, assigned to nobody

[2015-08-28 03:23] pandamicro commented on #13597
I see your point, @ricardoquesada what's your opinion ?

[2015-08-28 03:24] pandamicro commented on #13514
Please provide more informations
Which platform ?
How to reproduce the issue exactly ?
etc.

[2015-08-28 03:29] pnt265 commented on #13514
This issue occurs in cocos2d-x 3.7, 3.7.1.
I'm testing on windows7 and android devices.
On windows, when i set frame size 640x960. And add a new ui::Button in center screen, the touch area is wrong.

Please check this.

[2015-08-28 03:48] #13544 closed, assigned to VisualSJ

[2015-08-28 03:53] YangFeiFly opened #13609 "When the program exits, it may be possible to get a crash."
Our games are developed using Lua. cocos version is 3.2.
Engine source code
virtual ~ApplicationProtocol(){
# if CC_ENABLE_SCRIPT_BINDING

[code]
# endif

[code]

Modified code
virtual ~ApplicationProtocol(){
        // clean auto release pool
        PoolManager::destroyInstance();
# if CC_ENABLE_SCRIPT_BINDING

[code]
# endif

[code]

[2015-08-28 05:44] lovekankan opened #13610 "why"

[2015-08-28 05:49] lovekankan opened #13611 "why not AssetsManagerEx class breakpoint continuingly function doesn't work"
When I use AssetsManagerEx class to update the resource, the breakpoint continuingly functions didn't effect。 The following code has been enforced。（unit.resumeDownload ----> this variable value is true）
           .....
           // Resuming download support
            if (_supportResuming && unit.resumeDownload)
            {
                // Check already downloaded size for current download

[2015-08-28 05:51] #13610 closed, assigned to nobody

[2015-08-28 06:23] pandamicro commented on #13514
How did you create the project, and how did you set the frame size ?

[2015-08-28 06:52] pnt265 commented on #13514
I used command line to create project:
`cocos new -l cpp -p game.cocos3D cocos3D`

and i set frame size in applicationDidFinishLaunching:

[code]

[2015-08-28 06:56] felixjingga commented on #13583
@pandamicro But currently cocos studio can't support passworded pvr.ccz. so I can't add the plist + pvr.ccz to the cocos studio, and freely use the sprite defined there. Is there in any way this will be implemented soon?

Thanks,

[2015-08-28 07:04] felixjingga commented on #13581
Hi, Is there no way to turn off the scaling feature? When the editbox is empty I think it use the placeholder font size. after I tap the field, the font size enlarge (this is what I don't want), after "done" entering a string the font size become the size that we set using setFontSize (presumably). BUT, if we set the fontsize and placeholder font size to be the same value, after inserted the strin

[2015-08-28 07:21] zilongshanren commented on #13581
@felixjingga
The EditBox is designed with a OpenGL label and a native Android widget. When user doesn't input, only the OpenGL label is displayed.(What you mean placeholder here is actually a cocos2d::Label).

 The System control is hided. When you click on the EditBox and began to input, the OpenGL label will be hided and the system control will become visible.

It's hard for me to sync the size

[2015-08-28 07:46] lovekankan commented on #13362
我这AssetsManagerEx一直都不支持断点续传，if (_supportResuming && unit.resumeDownload) {...}  _supportResuming值都是false。

[2015-08-28 08:04] folgerhu opened #13613 "Suggest increase display mode of 3D Model, such as mesh model, entity model, etc."
Suggest increase display mode of 3D Model in debug mode, such as  mesh model, entity model, etc.  for when I was in debugging to view the mesh.

[2015-08-28 08:41] zj8487 commented on #12360
is this available in v3.8?

[2015-08-28 09:03] pandamicro commented on #13583
@chengstory Please take a look at this request

[2015-08-28 10:28] pandamicro opened #13615 "Add Node::pauseSelfAndChildren, Node::resumeSelfAndChildren"
Currently, Node::pause and Node::resume only affect the node itself. But there are some users request to add those APIs, because it will be easier to control the whole sub node tree.

Here is the code proposed by user

[code]

@minggo @zilongshanren Thoughts ?

[2015-08-28 10:32] anjandaffo opened #13616 "Android EditText multiline issue."
When edittext is focussed then text is showing correct with scrolling. After focus loses If the no of line crossed the height of edittext then label of edittext going outside of edittext region. Attached screenshot describe you better.

![device-2015-08-28-155822](https://cloud.githubusercontent.com/assets/12529102/9544367/cb4fd0b0-4d9d-11e5-8334-968ab32b95db.png)

[2015-08-28 11:11] anjandaffo commented on #13616
I fixed issue by modify few line in setInactiveText(const char\* pText) method of UIEditBoxImpl-android.cpp and UIEditBoxImpl-ios.mm file.

old code:

float fMaxWidth = _editBox->getContentSize().width - CC_EDIT_BOX_PADDING \* 2;
Size labelSize = _label->getContentSize();
 if(labelSize.width > fMaxWidth) {
                        _label->setDimensions(fMaxWidth,labelSize.height);
}

changed it to:

[2015-08-28 12:21] xifengxi opened #13618 "How to create a terrain"
I think the terrain is very useful. But I don't know how to design a terrain. I can't get the alphaMap. Maybe this problem is very simple. When I ask this question in CocoaChina. None of people give me a answer.-.-

[2015-08-28 12:29] ginobean commented on #12907
Would it make sense to change this warning from CCLOG to CCLOGINFO level or even take it out altogether ? I have a case where I'm literally creating dozens of these objects, so I'm getting dozens of these warning messages flooding my console output.

What would happen if you disabled/removed this warning message altogether ?

[2015-08-28 14:13] felixjingga commented on #13581
@zilongshanren Is there in any way we can control all the 3 state font-size? currently there are only 2 available setter for the font size, placeholder font-size and font-size it self. I think what I will do after see so many implementation in other non-games app are like these:
1. I will set the placeholder text with a string i.e "enter your answer"
2. When I tap the field, "enter your answer" wi

[2015-08-28 14:48] milos1290 commented on #12907
Yep exactly the same problem, my console is getting spammed with this log message. It would be great if we can somehow disable this.

[2015-08-28 15:01] milos1290 commented on #13615
This should be implemented. But this can have some negative effects. For example if you expect child node to receive events from EventDispatcher, that wont work anymore since that child node will be paused too. I had a problem with this issue i was pausing the whole game scene like this (without HUD), and if user went to background on Android and returned back to game, my custom mesh couldn't be r

[2015-08-28 15:31] jimrange opened #13620 "v3.8beta0 EventListenerTouchAllAtOnce events triggered for each camera (performance issue)"
There does not seem to be a practical reason to cycle through all cameras to dispatch EventDispatcher::dispatchTouchEventToListeners events.

Calling it once per camera seems to be unnecessary and inefficient.

Is there a reason for sending the event once per camera that I am missing?

EventDispatcher::dispatchTouchEventToListeners is cycling through all cameras on line 834 of CCEventDispatcher.cp

[2015-08-28 15:39] jimrange commented on #13551
@zilongshanren Yes, that fixes the MenuItemIssue. But that fix might just be a bandaid for a larger issue defined here: https://github.com/cocos2d/cocos2d-x/issues/13620.

[2015-08-28 17:34] diamond-msc commented on #13216
Results of the sprite performance test on Win8.1 (Universal).
Machine is an Asus EP121 with Intel HD Graphics. Compiler: VS 2013.
Tested versions 3.5 and 3.8rc0.

Notable performance losses:
- ABCF 10/11/12
- E 5/9/13
- G 1/2/3/4/5/13

### 3.5

[code]

### 3.8rc0

[code]

[2015-08-29 01:21] man2 opened #13621 "Canceling HttpRequest transfer"
Is there a way to cancel/stop HttpRequest Transfer? Not just releasing the variable, but stopping the ongoing transfer. Like the stop button in the browser.

[2015-08-29 02:14] #13606 closed, assigned to nobody

[2015-08-29 02:26] dumganhar commented on #13615
Is it better to add an argument `pauseChildren` for that purpose? Something like:

[code]

And it's default value is false for compatibility.

[2015-08-29 09:15] dakabang commented on #13621
Base on the source file HttpClient.cpp, there is no function to cancel a http request, but you can add a function to remove the quest from task queue

[2015-08-29 13:48] pandamicro commented on #13615
@dumganhar I personally like more intuitive APIs with clear names to identify their usage, although it's true that we have many APIs similar to the one you suggested.

@milos1290 I see the problem, it's not really relative to this issue, but it indeed could be improved. I think the problem is that, paused state should still receive some events, I don't know how, but it means we should introduce a

[2015-08-29 14:01] backviet opened #13623 "Display error when use PageView or ScrollView with TransitionPageTurn"
Now, I am using Cocos2d-x3.7.1 and I have see one problem.
When I use "TransitionPageTurn" with a Scene that use PageView or ScrollView, it has error when transition (scene only . This problem has appeared from Cocos2d-x 3.2 when the first time I have worked with Cocos.
Below is captured screen the problem.

https://drive.google.com/file/d/0BzM18H-ZenbOSUJoRE1acDJvU00/view?usp=sharing

Sorry, my E

[2015-08-29 14:44] milos1290 commented on #13615
Yeah of course, but still pausing the node won't receive that callback. Maybe we should leave EventDispatcher active always, and user can check if node is paused before reacting on received event. This way engine implementation of nodes specific events will be active always, and user can choose to react to their own events based on node state.

[2015-08-29 14:49] milos1290 commented on #13597
I vote for this. It would be much easier to see what actions are available.

[2015-08-29 15:19] milos1290 commented on #13620
https://github.com/cocos2d/cocos2d-x/commit/f8a5b
This commit introduce this bug and now touches are called like crazy. I have to revert now to 3.7.1 because of this.

Edit:
Temporary solution in my case is to add event->stopPropagation();

[2015-08-29 15:40] mazestoxic commented on #13581
Hi, i'm also facing this issue.. I'll try fix this issue,

[2015-08-29 16:37] mazestoxic commented on #13581
I think we can modify Cocos2dxEditBox.java, I solved this issue temporary by adding 'setTextSize' method in setEditBoxViewRect method

[2015-08-30 01:08] man2 commented on #13621
do you have any more clues on how to do that? I also found this stackoverflow links
http://stackoverflow.com/questions/8415976/example-how-to-cancel-a-libcurl-request
http://stackoverflow.com/questions/4456180/how-can-i-immediately-cancel-a-curl-operation

From this documentation
http://curl.haxx.se/libcurl/c/CURLOPT_XFERINFOFUNCTION.html
we need to add CURLOPT_XFERINFOFUNCTION and return non zero

[2015-08-30 11:58] dakabang commented on #13621
you can stop the non-immediate request by removing the request from queue(already put  on the pull request), but your question is about the immediate send, it is a new thread which is start immediately, kill the thread can cause certain issues. I'll work on that

[2015-08-30 14:39] pandamicro commented on #13620
The reason of this change is for fixing this issue: http://discuss.cocos2d-x.org/t/found-bugs-when-composite-3d-2d-mixed-scene-by-moving-ui-and-the-camera-which-look-at-far-away/21907

The related github issue: https://github.com/cocos2d/cocos2d-x/issues/12626

I think the correct way is to stop propagation once you catch the event, because the system can tell the content in which camera should re

[2015-08-30 17:01] diamond-msc commented on #13216
Comparison on an Android Device (Nook Tablet) is less dramatic.
Maybe these are different issues (@stammen should I open a separate issue for Win?), or device dependent.

Lower performance:
- F 9, 10
- G 1, 2, 5, 6, 9, 10, 13

SHA f7e11a2467e4508738ad9cf4b3992da05f9d1e7c (3.5)

[code]

SHA b6de58c21cb3b41c11147a04769642ce0dc9f97f (3.8rc0)

[code]

[2015-08-31 00:54] mazestoxic commented on #13581
I think this issue is very critical. Test application is designed 480x320, after I modified it to 1920x1080, EditBox on Android doesn't work.

[2015-08-31 00:59] zilongshanren commented on #13581
@mazestoxic  Do you mean the cpp-tests not working when resolution changed to 1920*1080?
And what do you mean not working? The keyboard can't be pop up or the rendering is wrong?
Thanks.

[2015-08-31 01:22] pandamicro commented on #10055
It has been fixed in v3.8

https://github.com/cocos2d/cocos2d-x/pull/13189
https://github.com/cocos2d/cocos2d-x/pull/13489

[2015-08-31 01:22] #10055 closed, assigned to pandamicro

[2015-08-31 01:26] pandamicro commented on #8809
Linux have a low priority, it won't be fixed recently. I will close it, when linux have a higher priority or when we plan to seriously support it, we will re-run all the test cases and make sure all works well.

Currently, the plan is to guarantee the compilation on Linux

[2015-08-31 01:26] #8809 closed, assigned to dumganhar

[2015-08-31 01:28] pandamicro commented on #9577
@zilongshanren when you refine Editbox for iOS, can you give third party IME a try to make sure this issue is gone ?

[2015-08-31 01:36] zilongshanren commented on #13581
@felixjingga
I will add three new APIs to solve this problem.

[code]

We could call `setGLLabelEnabled(false)` to disable GL label and only the native control is added on top of OpenGL view.

And the size sync problem is gone.

[2015-08-31 01:40] zilongshanren commented on #13581
@felixjingga
Could you give me some screenshot about your problem? thanks.

[2015-08-31 01:50] pandamicro commented on #11999
@huangwei1024 Do you have any further informations ? As walzer mentioned, SimpleAudioEngine doesn't support multi thread usage, and we don't know how to reproduce the issue.

I will close it for now, if you have any more informations and the steps to reproduce this issue, please comment, and I will reopen it.

Besides, we suggest new AudioEngine than SimpleAudioEngine (it doesn't support multi thr

[2015-08-31 01:50] #11999 closed, assigned to nobody

[2015-08-31 02:05] WenhaiLin commented on #13616
@zilongshanren

[2015-08-31 02:07] pandamicro commented on #11859
This maybe related to your touch callback implementation, have you called `dispatchEvent` manually in the callback

[2015-08-31 02:07] zilongshanren commented on #13616
@anjandaffo @WenhaiLin
Thanks, I will fix the issue.

[2015-08-31 02:10] pandamicro commented on #8273
Already done

[2015-08-31 02:10] #8273 closed, assigned to nobody

[2015-08-31 02:14] pandamicro commented on #8104
Hi, @kary24 we can't reproduce the issue with such limited informations, please test our latest engine and provide detailed informations to help us reproduce the issue.

[2015-08-31 02:14] #8104 closed, assigned to chengstory

[2015-08-31 02:17] mazestoxic commented on #13581
@zilongshanren First, given text and placeholder text is shown well, but after I touched the EditBox, Text and cursor are dissappear or size is too big. I tested 2 android phones. One is galaxy s6, one is nexus 7. On galaxy s6, text size is too big. and on nexus 7, cursor and fonts are now shown. If you want maybe I can attach screenshots. On iOS, no problem happen.

[2015-08-31 02:21] zilongshanren commented on #13581
@mazestoxic   screenshot please...

[2015-08-31 02:28] pandamicro commented on #10372
@panxh please check wether your issue is caused by what @xiaofeng11 said. If there is no further informations, I will close this issue for now. You can comment to add more informations, and I will reopen it

[2015-08-31 02:28] #10372 closed, assigned to chengstory

[2015-08-31 02:34] pandamicro commented on #8306
It will be checked in v3.9 test phase

[2015-08-31 02:35] pandamicro commented on #8304
Not reported for latest version, close

[2015-08-31 02:35] #8304 closed, assigned to nobody

[2015-08-31 02:36] pandamicro commented on #8301
Not reported for latest versions, close

[2015-08-31 02:36] #8301 closed, assigned to nobody

[2015-08-31 02:37] pandamicro commented on #8287
Refactored in latest versions, close

[2015-08-31 02:37] #8287 closed, assigned to nobody

[2015-08-31 02:42] pandamicro commented on #8284
I personally do not think it's a bug, our implementation don't support to pop multiple scenes at one time and user shouldn't do this. If we want to support it, it's a new feature requested.

[2015-08-31 02:42] #8284 closed, assigned to nobody

[2015-08-31 02:47] pandamicro commented on #8281
We will move out performance test cases, in the meantime, @natural-law Please replace this image with another sprite sheet which won't cause any license issues. This is a good place to dig something out: http://opengameart.org/

[2015-08-31 03:28] mazestoxic commented on #13581
I attached screenshots.
1. ss_first_giventext.png : Given text is shown well. No problem now.
2. ss_second_texttoobig.png : After I touched EditBox, Cursor is too big, so I can see only a part of the cursor.
3. ss_third_scrollup.png : I touched and scrolled up the editbox, as you can see, a part of text is shown because of too big font size.

On iOS, no problem happen.
And when designed resolution

[2015-08-31 03:35] zilongshanren commented on #13581
@mannewalis
I will send a PR to resolve this issue later. And I hope you could help me to test it.

Thanks.

[2015-08-31 03:55] dakabang commented on #13623
if you can post the code, that'll helps a lot.

[2015-08-31 04:00] pandamicro commented on #8277
Not reported for v3, close

[2015-08-31 04:00] #8277 closed, assigned to nobody

[2015-08-31 04:08] man2 commented on #13621
I think it's enough to stop non-immediate request for me. I'll check your PR later today, thanks :)

[2015-08-31 04:12] pandamicro commented on #8237
No report for latest versions, close

[2015-08-31 04:12] #8237 closed, assigned to nobody

[2015-08-31 04:13] pandamicro commented on #8229
v2 bugs will be closed, we won't have time for testing or any fix.

[2015-08-31 04:14] #8229 closed, assigned to nobody

[2015-08-31 04:14] pandamicro commented on #8227
v2 bugs will be closed, we won't have time for testing or any fix.

[2015-08-31 04:14] #8227 closed, assigned to nobody

[2015-08-31 04:54] pandamicro commented on #8326
IAP is not an in engine feature, besides, no related bug reports for latest versions, so close

[2015-08-31 04:54] #8326 closed, assigned to nobody

[2015-08-31 04:55] pandamicro commented on #8328
It's not a bug

[2015-08-31 04:55] #8328 closed, assigned to nobody

[2015-08-31 04:58] pandamicro commented on #8332
Solution:

TextureCache::getInstance()->getTextureFilePath(texture);

[2015-08-31 04:58] #8332 closed, assigned to nobody

[2015-08-31 05:01] pandamicro commented on #8335
The maintenance for v2 have been stopped, so this kind of bug will only be reopen if some one reproduce it in v3 versions

[2015-08-31 05:01] #8335 closed, assigned to nobody

[2015-08-31 05:03] pandamicro commented on #8337
The maintenance for v2 have been stopped.
And network will be redesigned

[2015-08-31 05:03] #8337 closed, assigned to nobody

[2015-08-31 05:08] pandamicro commented on #8343
Not a bug, no crash experience

[2015-08-31 05:08] #8343 closed, assigned to nobody

[2015-08-31 05:09] pandamicro commented on #8345
The maintenance for v2 have been stopped, so this kind of bug will only be reopen if some one reproduce it in v3 versions

[2015-08-31 05:09] #8345 closed, assigned to nobody

[2015-08-31 05:11] pandamicro commented on #8346
This should have been fixed : http://discuss.cocos2d-x.org/t/drawing-via-cctextureatlas-fails-on-certain-android-devices/9126/6?u=pandamicro

[2015-08-31 05:11] #8346 closed, assigned to nobody

[2015-08-31 05:13] #8355 closed, assigned to nobody

[2015-08-31 06:14] felixjingga commented on #13581
@zilongshanren That screenshots @mazestoxic gave was the issue I faced. :) hope you can send immediate PR for this.

[2015-08-31 06:17] felixjingga commented on #13583
Hi, how about this one? temporary solution I use right now involves in editing some of the cocos2d-x source which is not pretty, because I use passworded pvr.ccz

[2015-08-31 06:30] pandamicro commented on #8357
The maintenance for v2 have been stopped, so this kind of bug will only be reopen if some one reproduce it in v3 versions

[2015-08-31 06:30] #8357 closed, assigned to nobody

[2015-08-31 06:33] pandamicro commented on #8360
No `ParticleSystemQuad::setSpriteFrame` API anymore

No problem with `ParticleSystemQuad::setTextureWithRect`

[2015-08-31 06:33] #8360 closed, assigned to nobody

[2015-08-31 06:59] zilongshanren commented on #13581
@felixjingga
Sure, I will fix it before v3.8 final is released.

[2015-08-31 07:23] zilongshanren commented on #13581
@mazestoxic   could you give me some code snippets to reproduce this issue?
Thanks.

[2015-08-31 07:30] mazestoxic commented on #13581
@zilongshanren It's so simple. You can just modify the designed resolution. Location is 76 line at AppDelegate.cpp of cpp-tests project. from 480x320 to 1920x1080. And then run program on Android Device(in my case, fhd device).
![screen shot 2015-08-31 at 4 28 06 pm](https://cloud.githubusercontent.com/assets/12165820/9574008/59560abc-4ffd-11e5-8482-55760fb9e43e.png)

[2015-08-31 07:32] zilongshanren commented on #13581
@mazestoxic
Thanks, I will test it.

[2015-08-31 07:39] pandamicro commented on #8363
Fixed in v3

[2015-08-31 07:39] #8363 closed, assigned to nobody

[2015-08-31 07:40] pandamicro commented on #8364
No more report for latest versions, close

[2015-08-31 07:40] #8364 closed, assigned to nobody

[2015-08-31 07:47] pandamicro commented on #8368
This have been fixed in v3

[2015-08-31 07:47] #8368 closed, assigned to nobody

[2015-08-31 07:54] pandamicro commented on #8372
Fixed in https://github.com/cocos2d/cocos2d-x/issues/8524

[2015-08-31 07:54] #8372 closed, assigned to nobody

[2015-08-31 08:05] pandamicro commented on #8256
Already upgraded to v2 in latest v3.8

[2015-08-31 08:05] #8256 closed, assigned to nobody

[2015-08-31 08:16] pandamicro commented on #8375
webp lib have been upgraded to v2 in latest version, close

[2015-08-31 08:16] #8375 closed, assigned to nobody

[2015-08-31 08:16] pandamicro commented on #8256
The maintenance for v2 have been stopped, so this kind of bug will only be reopen if some one reproduce it in v3 versions

[2015-08-31 08:25] pandamicro commented on #8376
Indeed, MenuItemToggle uses `kCurrentItem(0xc0c05001)`  as the tag of the toggled item. So tag have been used, it should be refined.

[2015-08-31 08:26] pandamicro commented on #8391
Not reported in latest versions, close

[2015-08-31 08:26] #8391 closed, assigned to nobody

[2015-08-31 08:30] pandamicro commented on #8395
In v3.7.1 and Cocos Studio v2.3.2 beta, we provided new skeleton animation system, user can import armature project of Cocos Studio v1.x into v2.3.2, and re-export.

[2015-08-31 08:30] #8395 closed, assigned to nobody

[2015-08-31 08:38] zilongshanren commented on #13581
@felixjingga @mazestoxic
How about modifying the content size of the EditBox?
I found that the Android system would always push the content of EditBox up.

[2015-08-31 08:43] pandamicro commented on #8407
@Hempleg confirmed the same issue in v3.7.1 : https://github.com/cocos2d/cocos2d-x/issues/13548

[2015-08-31 08:43] pandamicro commented on #13548
Duplicated

[2015-08-31 08:43] #13548 closed, assigned to nobody

[2015-08-31 08:44] kybird opened #13633 "Suggest 3D model swaping"
is the cocos2d 3d functionality support the real reskin or remapping?
swap some part of model with another part

setVisible(true),(false) is not enough

[2015-08-31 08:44] #8411 closed, assigned to nobody

[2015-08-31 08:48] pandamicro commented on #8412
No more issue in v3

[2015-08-31 08:48] #8412 closed, assigned to nobody

[2015-08-31 08:59] pandamicro commented on #8433
Fixed in latest versions

[2015-08-31 08:59] #8433 closed, assigned to nobody

[2015-08-31 09:03] pandamicro commented on #8441
No assertion found in `ParticleSystem::addParticle`, close

[2015-08-31 09:03] #8441 closed, assigned to nobody

[2015-08-31 09:08] #8445 closed, assigned to nobody

[2015-08-31 09:08] pandamicro commented on #8446
Done in v3.8

[2015-08-31 09:08] #8446 closed, assigned to nobody

[2015-08-31 09:11] #8450 closed, assigned to nobody

[2015-08-31 09:21] pandamicro commented on #8431
Fixed in latest versions

[2015-08-31 09:21] #8431 closed, assigned to nobody

[2015-08-31 09:28] #8462 closed, assigned to nobody

[2015-08-31 09:30] pandamicro commented on #8470
Removing a node during its event callback is not allowed, you should schedule a task to remove the widget.

[2015-08-31 09:30] #8470 closed, assigned to nobody

[2015-08-31 09:31] #8478 closed, assigned to nobody

[2015-08-31 09:31] #8480 closed, assigned to WenhaiLin

[2015-08-31 09:37] #8499 closed, assigned to nobody

[2015-08-31 09:38] WenhaiLin commented on #8480
Label has supported auto batch with bitmap font or char map: https://github.com/cocos2d/cocos2d-x/pull/13201

[2015-08-31 09:41] pandamicro commented on #8529
ActionNode is no longer being maintained, please use Cocos Studio v2.x

[2015-08-31 09:41] #8529 closed, assigned to chengstory

[2015-08-31 09:52] #8597 closed, assigned to nobody

[2015-08-31 09:52] pandamicro commented on #8597
If there is further informations, I will reopen it

[2015-08-31 09:56] pandamicro commented on #8618
Closing this issue, if reproduced in latest version and more informations provided, I will reopen it

[2015-08-31 09:56] #8618 closed, assigned to zilongshanren

[2015-08-31 09:59] pandamicro commented on #8600
It should already been fixed

[2015-08-31 09:59] #8600 closed, assigned to chengstory

[2015-08-31 10:42] zilongshanren commented on #13581
@felixjingga @mazestoxic
After a whole day to struggle with this issue, I will can't find the work around solutions.

possible solutions could be:

When you find the text is pulled up when EditBox get focused, you should call `EditBox->setFontSize` with a smaller value.

And the content size of the EditBox should be greater than 50.

I will still investigate in this issue..

Any suggestions would

[2015-08-31 11:10] nicolechen819 commented on #11466
Still freeze on Android

[2015-08-31 12:12] jminht opened #13637 "PNG cropped"
i'm using the cocos2dx v3.1.1.
i found my png was cropped, when the source file was exported  close to its edge(which means there's no more blank space to the edge).

![gi](https://cloud.githubusercontent.com/assets/4132186/9578406/53894d82-501c-11e5-849e-3d7adbe60af0.PNG)

did you see the edge?
i can't update the project to v3.6 immediately, so could you tell me where should i check in my code ?

[2015-08-31 12:13] jminht commented on #13637
![frame](https://cloud.githubusercontent.com/assets/4132186/9578441/aa5fb3ee-501c-11e5-988c-d5c8b16b760e.png)

here is the source file.

[2015-08-31 12:24] jminht opened #13638 "why my png represent different from the source file ?"
![diff](https://cloud.githubusercontent.com/assets/4132186/9578604/14fe4994-501e-11e5-93f1-e63e361cf0b7.PNG)

i open my file on the windows and add it in my game.
as you may see, they represent the different result.
is this normal ?

[2015-08-31 16:27] RMariowski commented on #13638
Yes, it is. You need to turn off anti-aliasing, if you want the same result. Check this: [setAliasTexParameters()](http://www.cocos2d-x.org/reference/native-cpp/V3.6/d0/d6a/classcocos2d_1_1_texture2_d.html#ada0eedff71e551f089727923a8c23513)

[2015-08-31 17:04] ginobean opened #13641 "In CSLoader.cpp, change log level of a couple log messages or remove them altogether"
Change log level of the messages below to CCLOGINFO or take them out altogether. These log messages clutter up the console output with information that is generally irrelevant to the end developer.

[code]

[2015-08-31 17:48] rebeccapaz opened #13642 "Adding COCOS_CONSOLE_ROOT environment variable fails with zsh on OSX 10.10.4"
On OSX 10.10.4, using zsh with Zach Holman's [dotfiles](https://github.com/holman/dotfiles), running `./setup.py` returns this error:

[code]

I tried running `touch ~/.zshrc.backup`, but it just gives me `touch: /Users/Rpaz/.zshrc.backup: No such file or directory`. `touch ~/.zshrc.backupa` works fine, though, which is kind of bizarre.

[2015-08-31 22:24] dzarowny opened #13644 "Cocos can't compile Android with APP_STL := c++_static"
Using the Cocos app and prebuilt libraries,  it fails to compile for Android if using `APP_STL := c++_static` in /proj.android/jni/Application.mk

But if we don't use prebuilt libraries it compiles fine.

[2015-08-31 22:24] ricardoquesada commented on #13606
@pandamicro
Yes, what I think is that we should move to an Entity Component System, and have more Systems in cocos2d-x.
And physics should be one of those systems, and that system should run on its own thread.

[2015-08-31 22:29] ricardoquesada commented on #13597
having a action factory-pattern could work (like in SK) ... but the old API must work.
I'm not neither against or for this option... I know that we can improve many parts of our API... but of these fixes either means:
- break backwards compatibility (we don't want this)
- or duplicates functionality (and there should only be one way of doing things in cocos2d).

[2015-08-31 22:44] seivan commented on #13597
I'm not a C++ expert, but I would guess there is a way to wrap the actions inside a namespace and still expose them outside?

So you could keep backwards compatibility

[code]

while still allowing a namespace for actions to make it easier to find actions.

[code]

Is that a possibility?

[2015-08-31 23:38] ricardoquesada commented on #13597
yes, it is possible to either put all actions in a namespace, or in a factory class. Both options have more or less the same pros and cons.

[2015-08-31 23:43] seivan commented on #13597
I don't see the cons here? That way backward compatibility still works, while you can get a list of all actions by checking under Actions namespace.

That is, if it's possible at all to do what I suggested with c++ :)

[2015-08-31 23:49] ricardoquesada commented on #13597
the cons is that there should be only way way to do things, not three, not two, just one.
Imagine an API where there are multiple ways to do things... it would be confusing (which API should I use, A or B), more difficult to maintain (more documentation, more code to write)...
As the Zen of Python says:
`There should be one-- and preferably only one --obvious way to do it.`

[2015-09-01 00:29] jarsj commented on #8528
Still exists. 3.3.

[2015-09-01 01:36] zilongshanren commented on #13644
@dzarowny
Currently the `c++_static` is not supported.

[2015-09-01 01:59] jarsj commented on #8528
I managed to fix it. libwebsocket_write returns -1 which is misinterpreted in the code as buffer run. A re-attempt is made and it crashes.  The recommended behavior according to the libwebsocket API is to close the connection.
In function onSocketCallback around lines 570 Change

[code]

to

[code]

[2015-09-01 02:07] neokim commented on #13524
I agree with @fatfatson that the frontCross part increases the complexity.
Actually it is not a check **button**. It looks that it is designed only for a check **box** even though its logic could be used for any check button. In current implementation it cannot be used for following case of check button.
![check_button](https://cloud.githubusercontent.com/assets/3601028/9594401/67c5c252-5095-11e5-

[2015-09-01 02:09] stevetranby opened #13645 "Culling causes partial clipping of ui::Button if part is outside screen"
With Culling enabled there is an issue with some Buttons after a change in margin. It appears that if margin is set to -10 just after button create we get partial Button "clipping" if we later update the margin to >= 0.

While we could change how we position the buttons and which widgets we use the issue arises when we have a VBox with Button as children and we change the margins from -20 to 0 in

[2015-09-01 02:13] jminht commented on #13638
@Xandev
Got it.
Does this only appear on windows?

[2015-09-01 03:10] stevetranby commented on #13645
This does not occur if I set the margins to be positive (>= 0) so it's likely how the VBox (Layout/Widget) is handling its updateSizeAndPosition method with respect to its children.

[2015-09-01 03:15] tungnt11 opened #13648 "v3.8:JS: ListView cannot insertCustomItem when item is layOut created cocostudio 2.3!"
I have some code:
var jsonPath1 = '....';
var layOut1 = ccs.load(jsonPath);
var listView = ccui.helper.seekWidgetByName(this.layOut1 .node, 'listView');

var jsonPath2 = '....';
var layOut2 = ccs.load(jsonPath2);
<b>And error in line code:
listView.insertCustomItem(layOut2.node ,0);</b>
In cocos2dx C++ , it run well.

[2015-09-01 05:24] jonnyijapan commented on #8321
I'll just add that if running a Mac app in fullscreen as it is implemented now, if the app crashes then, it's very hard to get out of the fullscreen mode because the app "swallows" any keyboard input...

[2015-09-01 06:40] woc2006 opened #13651 "drawcall more than expected with sprite"
I draw 100 sprites in a scene with the code:

[code]

the drawcall shows **6**.

another scene with code:

[code]

the drawcall shows **206**, which equals 100 \* 2 + 6, what's difference between the two scenes? is the second one designed to work like the result?

[2015-09-01 06:45] RMariowski commented on #13638
It appears on every platform.

[2015-09-01 07:06] pandamicro commented on #13651
This is due to the Auto Batching mechanism, please take a look at this : http://www.cocos2d-x.org/wiki/Cocos2d_v30_renderer_pipeline_roadmap#Auto-Batching

[2015-09-01 07:17] #13651 closed, assigned to nobody

[2015-09-01 07:20] mazestoxic commented on #13581
@zilongshanren I think to render editbox correctly on Android, all values related to size is necessary.
1. Designed Resolution of cocos2d-x
2. Current Viewport size of cocos2d-x
3. EditBox Contentsize of cocos2d-x
4. FontSize of cocos2d-x
5. Screen size of current Android device.
Where can I find the API's to get such values on Java Layer? Is there any JNI functions related to it?

[2015-09-01 07:39] zilongshanren commented on #13581
@mazestoxic
Yeah, you are right.

The Design Resolution size and viewport size could be got from C++ layer.
The content size and font size of EditBox are passed from C++ layer too.

What we need now is calculating the proper font size according to the content size of EditBox.

[2015-09-01 10:07] loveyanbei opened #13654 "Cocostudio support problem."
When I use cmake to compile a linux cocos2d app using cocostudio, make says : cocostudio/cocostudio.h : No such file or directory.
how can I add editor support to cmakelist?

[2015-09-01 10:44] c3076802 opened #13656 "cocos2d::Map may cause Dangling Pointers when inserting Ref Object which already exist in the Map"
cocos2d::Map may cause Dangling Pointers when inserting Ref Object which already exist
CCMap  line 274

[code]

For example
Object A already exist in Map B, and Map B has the very last reference of Object A. The code above will release Object A and Object A will be deleted, then Map B holds a Dangling Pointer.

How about retain the input object first, or check if the input object exist?

[2015-09-01 11:19] seivan commented on #13597
I agree with that sentiment, I guess you're right.
Out of curiosity, what is the easiest/fastest/less typing way off adding my own namespace on top of all the available cocos2d-x actions?

[2015-09-01 11:26] seivan commented on #13656
But from what I gather, the actual deletion happens in an autoreleasepool and might not trigger during the execution of insert().

You are actually accurate that the retain happens _after_ a release and that's bad.
Always retain what you work with, and release once you're done. So it should def be fixed :)

[2015-09-01 15:07] zilongshanren commented on #13581
@mazestoxic  @felixjingga
finally... I have got a solution. I will do more test on it and send a PR tomorrow.

I hope you guys could help me to test it.

Thanks.

[2015-09-01 15:13] dzarowny commented on #13644
Are there plans to support it?  It works fine if using cocos2d-x source,   it is only broken when using Cocos and prebuilt libcocos2d.

[2015-09-01 15:29] fztcjjl opened #13657 "simulator.exe corrupted"
I use the following command to build simulator
"cocos gen-simulator -p win32 --vs 2013 -m debug"
and use the simulator to run a simple lua program containing the following code:
local addr = io.open("res/addressbook.pb","rb")
local buffer = addr:read "_a"
simulator.exe corrupted at line: local buffer = addr:read "_a"

[2015-09-01 16:14] lannes opened #13658 "v3.7 android: jsjavabridge linkedResources in .project (proj.android) file is not correct"
path: cocos2d-x/cocos/scripting/js-bindings/manual/platform/android/java/src is not exists

[2015-09-01 17:27] felixjingga commented on #13581
@zilongshanren thanks! I'll test it.. :+1:

[2015-09-02 00:18] fztcjjl commented on #13657
but if i use "release" mode to build,there is no such problem

[2015-09-02 03:54] c3076802 commented on #13656
@seivan
I think you mis-understand the problem. For a newly created object surely the code above won't crash, because autorelease pool holds the +1 ref count that increased by the constructor. That Is not the case I mentioned ,  "Object A already exist in Map B, and Map B has the very last reference of Object A".
Of course I could retain the object  then insert then release or check if the object

[2015-09-02 03:59] c3076802 opened #13664 "TextureFrame doesn't hold the reference of SpriteFrame, then It impossible to call SpriteFrameCache::removeUnusedSpriteFrames to release menory"
[code]

We are developing a MMORPG which involving large number of players with difference outfit (texture) in the same screen. We are using csb animations, Since TextureFrame doesn't hold the reference of SpriteFrame, then SpriteFrameCache::removeUnusedSpriteFrames will simply cleanup all caches, and the running TextureFrame lost its texture ( failed to load form SpriteFrameCache) .

[2015-09-02 04:52] jminht commented on #13637
could anyone here help me ?

[2015-09-02 05:03] c3076802 commented on #13656
void insert(const K& key, V object)
	{
		CCASSERT(object != nullptr, "Object is nullptr!");
		object->retain();		// retain first might fix the problem
		erase(key);
		_data.insert(std::make_pair(key, object));
		//object->retain();
	}

[2015-09-02 05:34] zilongshanren commented on #13637
@jminht
Do you use Scale9Sprite?

[2015-09-02 05:50] WenhaiLin commented on #13658
Fixed at https://github.com/cocos2d/cocos2d-x/pull/13665

[2015-09-02 06:53] c3076802 opened #13666 "SpriteFrameCache::addSpriteFramesWithDictionary unnecessary Image load for non-NinePatchImage"
CCSpriteFrameCache.cpp line 109
function addSpriteFramesWithDictionary
a image is loaded for NinePatchImageParser which is unnecessary for non-NinePatchImage.

[code]

[2015-09-02 06:56] felixjingga opened #13667 "cocos2d-x APK Expansion Files Support"
This is useful for developers which has APK more than 50MB because of the assets. The documentation for this is here:
http://developer.android.com/google/play/expansion-files.html

a lot of people is needing this support from posts on the forum.. stevetranby is providing his codes for this support here:
https://gist.github.com/stevetranby/3151c541a7ce17cbd9bc

I think this should be a great featur

[2015-09-02 07:04] minggo commented on #13568
The key of TextureCache is the full file path of the file that generating the texture, and it is used to prevent re-generating a texture again. So i don't think it is a good idea to have this function, because developers may pass wrong key.

And could you describe in what situation does addTexture used?

[2015-09-02 07:05] zilongshanren commented on #13581
@felixjingga  @mazestoxic
please help me to test the PR.
Thanks.

[2015-09-02 07:05] stevetranby commented on #13667
Please note that my code is probably convoluted, verbose, and most importantly for 2.x. We're likely going to be pushing a 3.x update in the next month so I'll post an update with our code or references to others if we use other people's information or code.

[2015-09-02 07:07] zilongshanren commented on #13581
@felixjingga  @mazestoxic
There are some tips when using EditBox on Android platform.
The content size of the EditBox should be `Director::getInstance()->getVisibleSize() * factor`.

Otherwise it won't keep the same size across different Android devices.

[2015-09-02 07:18] folgerhu opened #13668 "Call jumpToTop immediately after create a ScrollView, there is no effect"
`Cocos 2d-x v3.8rc0`

Call jumpToTop immediately after create a ScrollView, there is no effect.
I test in cpp-tests UIListVIewTest.cpp

[code]

[2015-09-02 07:51] felixjingga commented on #13667
@stevetranby, It'd be a delight if you can contribute the 3.x codes update directly to cocos2d-x via PR.. It will save the cocos2d-x developers times..

[2015-09-02 09:08] stevetranby commented on #13597
I would think as set of `#define`s or possibly `typedef` or `using` would be the quickest way to do this for only yourself. I may be wrong, but I think the following would work for you in your precompiled header or a header you include wherever you need it.

[code]

[2015-09-02 10:05] folgerhu opened #13669 "I touched once, but Camera3DTestDemo::onTouchesBegan be triggered two times"
`Cocos 2d-x v3.8rc0`

[code]

I touched once, but Camera3DTestDemo::onTouchesBegan be triggered two times,
Cocos2d-x v3.6 and 3.7 have no this problem.

[2015-09-02 11:49] seivan commented on #13656
No dude, I understood you correctly.
You erase it before you retain it, it might trigger a delete.

[2015-09-02 15:21] AngelAsuka opened #13670 "bugs in HttpCookie"
The HttpClient can not solve multi cookie in one domain.
Please fix this issue in:

HttpClient.cpp  Line 111:
  if(cookie->domain == iter->domain)
to
  if(cookie->domain == iter->domain && cookie->name == iter->name)

[2015-09-02 18:00] seivan opened #13671 "TouchEvent is being dispatched for left-click on Mac OS target"
Right now I am getting a touch event for left-click on a mouse when running the game on Mac OS.

This creates a problem as I am getting both a mouseEvent as well as a touchEvent.
I could add a platform-macro to ignore touch on Desktop targets, but that would break for Windows that uses both Mouse and Touch as it only has _one_ target for Phone/Tablet and Desktop.

This is the code responsible for

[2015-09-02 18:01] TheCodez commented on #13669
This is because this issue https://github.com/cocos2d/cocos2d-x/issues/13620 , the event is triggered for every camera in the scene

[2015-09-03 07:40] felixjingga opened #13672 "Unstable AssetsManagerEx on Android v3.8"
I updated to 3.8 and felt that current implementation of assetsmanagerex on v3.8 was much slower due to this

[code]

The above message kept printing on the console log, and the UI "froze"  on "Checking Version" state because of the no-update.. My manifests declares hundreds of files. It wasn't like this before.

Aside from that, occasionally or always on a certain device, when there is no interne

[2015-09-03 11:45] meiry opened #13674 "Remote debug using Firefox 40.0.3 doesn't work on windows using JSB project."
Remote debug using Firefox 40.0.3 doesn't work. on windows using JSB project ( js + native runtime )
following your old documentation : http://www.cocos2d-x.org/docs/manual/framework/native/v3/js-remote-debugger/en

today in the new Firefox there is no WebDeveloper -> debug , there is tool cold WebIDE
The WebIDE manage to connect to the cocos2d-x server as you can see in the picture (2) but doesn'

[2015-09-03 11:46] meiry opened #13675 "CocosStudio failed when running c++ project"
Im not sure where to open this bug but it related to Cocos Studio
1. if i download the cocos3.7.1 framework from Cocos Store and install it , the CocosStudio doesn't detect it
you must change the name of the directory from cocos2d-x-3.7.1 to cocos2d-x-3.7

when creating c++ project via CocosStudio and try to run it im getting error

![cpp_error](https://cloud.githubusercontent.com/assets/1107316/9

[2015-09-03 12:48] backviet commented on #13623
Here is my code

[code]

//    pageView->removePageAtIndex(0);
    pageView->scrollToPage(numberOpen / stagePerPage);
    pageView->addEventListener(CC_CALLBACK_2(SelectionStageScene::updatePage, this));
    this->addChild(pageView, 1);

//TransitionPageTurn
    auto scene = FirstScene::createScene();
    auto trans = TransitionPageTurn::create(0.5, scene, true);
    Director::getInstance()->repla

[2015-09-03 13:29] anjandaffo opened #13676 "ControlColorPicker issue with setContentScaleFactor."
If I set Director::getInstance()->setContentScalefactor() to support multiple screen size then color picker is wrongly placed.

PFA.
![ios simulator screen shot sep 3 2015 6 27 40 pm](https://cloud.githubusercontent.com/assets/12529102/9659382/d9a3d1d2-526d-11e5-909b-3497581333d7.png)

[2015-09-03 14:22] felixjingga commented on #13581
@zilongshanren I tested it, and it was okay.. Still think about the content size of the editbox though because I doesn't use the editbox directly, but enclose it with a sprite.. But it's a small matter.. :+1: I think it's safe to merge :)

[2015-09-03 15:24] Almax27 commented on #13568
I don't think this is necessary either as TextureCache already supports adding images via:
`Texture2D* TextureCache::addImage(Image* image, const std::string& key)`

And images can be obtained from a RenderTexture using:
`Image* RenderTexture::newImage(bool flipImage = true);`

Also RenderTexture performs caching of it's texture using VolatileTextureMgr on EVENT_COME_TO_BACKGROUND and EVENT_COME_T

[2015-09-03 15:33] kiranb47 commented on #13568
OK, it's not necessary if RenderTexture support exporting Image*

[2015-09-03 15:42] Cybertwip opened #13677 "No Lua Label aliasing"
I have a wrapper for TTF labels but setAliasTexParameters seems to be working differently now.

[code]

[2015-09-03 16:15] Almax27 opened #13678 "ccConfig.h CC_CONSTRUCTOR_ACCESS is public"
CC_CONSTRUCTOR_ACCESS comment says default is 'protected', as it should be given the create() paradigm. However the default value is 'public', and was changed to aid binding Sprite3D. Perhaps if Sprite3D is an edge case it should not use the macro?

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/base/ccConfig.h

Last related change: f4b57511b080591ea39bd04d620f157b970676d6

[2015-09-03 16:30] mirth commented on #8583
It have occurred for me on 3.6. It also happens in Cocos Studio (2.3.2 Beta).
![outline](https://cloud.githubusercontent.com/assets/1296970/9664401/37c552e6-5272-11e5-9533-f7d7fd62dcfd.png)
What is more it only occures when outline size is >1.

[2015-09-03 19:05] Cybertwip opened #13679 "TMX artifacts."
When loading a TMX map file this is what happens:

![artifact_a](https://cloud.githubusercontent.com/assets/8097385/9667922/ecac798c-523b-11e5-9dd2-529e67eb68dd.PNG)
![artifacts_b](https://cloud.githubusercontent.com/assets/8097385/9667923/ecaf9928-523b-11e5-91ca-68b069505da6.PNG)
![artifacts_c](https://cloud.githubusercontent.com/assets/8097385/9667924/eceee042-523b-11e5-9287-fd0bde205cda.PNG)

T

[2015-09-03 21:34] mrsaleh opened #13680 "Issue with CCTMXXMLParser.cpp , Wrong object y calculation , and diffrent coordinate system at object position and tile position"
![untitled](https://cloud.githubusercontent.com/assets/3070126/9671285/1cce6d6c-52a7-11e5-8f38-077e9aff79aa.png)

-attributeDict["height"].asInt() is not neccessory. I created a tilemap and add someobjects , the x property is  OK but Y is invalid as long as -attributeDict["height"].asInt() is there.
The anchor point for all map objecs are (0,0) .The position returned from bottom,left. But somethin

[2015-09-04 01:52] WenhaiLin commented on #8583
@mirth Please try fix it by apply this pr:https://github.com/cocos2d/cocos2d-x/pull/11720

[2015-09-04 10:28] mirth commented on #8583
Unfortunately it didn't help.

[2015-09-04 13:18] ermanhaskan opened #13681 "android:sharedUserId on Manifest Causes Crash on Galaxy Edge+ and Note 5"
Hello

After very long hours of struggle I found out that Cocos2d-x Applications crash on Galaxy Edge+ and Note 5 if they have a android:sharedUserId value on the manifest and the value is same with the package name. I tried everything and I am desperate to find a solution. This issue doesn't occur with regular Android applications.

Recreating the issue is very simple. Create a new game with the

[2015-09-04 13:20] ermanhaskan commented on #13681
Disabling the error causing lines on Cocos2dxActivity.java doesn't fix the problem, further errors occur.

[2015-09-04 14:17] adilson63 opened #13682 "setGlobalZOrder on ui::Widgets has no effect."
Hi guys,
 I'm fighting an issue on v3.6 and confirmed if on v3.7 too.
 I've many scenes where I've on top of sprites some labels/text. All scenes were built using cocos studio.
 The issue is that I've enemies coming from off screen on the top of the screen, they are moving across the top HUD bar where the player number of lives, resources, score, etc are. When there are too many enemies they cover

[2015-09-04 15:58] dakabang commented on #13680
version 3.7.1 don't have this problem, it's y where you marked.
![image](https://cloud.githubusercontent.com/assets/12713535/9688282/c9da49ea-5360-11e5-92da-4321b7f7910a.png)

[2015-09-04 16:02] dakabang commented on #13680
and the v3 branch show the same code as v3.7.1

[2015-09-04 18:27] milos1290 commented on #10965
This issue still happens on v3.8rc0

How to reproduce:
Open the game on iOS and receive call, make sure it lasts at least 30seconds. Also make sure you have some effects playing not only background music

bool cocos2d::experimental::AudioEngineImpl::resume(int): audio id = 6, error = a003
bool cocos2d::experimental::AudioPlayer::play2d(cocos2d::experimental::AudioCache *):alSourcePlay error code:a

[2015-09-04 19:12] #13474 closed, assigned to nobody

[2015-09-04 19:22] Shulepov commented on #13474
Actually, this wasn't a reason. Unfortunately, i can't figure out a real cause of the crashes, as them continue to appear after suggested changes.

All issues belongs to iOS 7 and app crashes due to:
gpus_ReturnNotPermittedKillClient

May be, somebody else find out what's happen.

[2015-09-04 20:11] Shulepov commented on #12518
How would be better to implement this feature?
- add new project folder, something like proj.ios_mac_arc
- use preprocessor definitions to check if ARC enabled:
  #if __has_feature(objc_arc)
  ...
  #else
  ...
  #endif

But with second approach it belongs to user to enable/disable ARC in project settings.

[2015-09-05 04:15] adilson63 commented on #13682
I've fixed it myself. I had to make changes to ui/widgets:: UILoadingBar,UIText,UIButton ui/base::UIScale9Sprite.
I've added the methods setGlobalZOrder and getGlobalZOrder to them and on setGlobalZOrder I'm setting the global Z order on their respective renderer.
I've also added setBlendFunc to the ui:;Button to be able to set blending functions on the buttons..

[2015-09-05 04:15] adilson63 commented on #13682
I can provide the diff if you are interested.

[2015-09-05 04:15] #13682 closed, assigned to nobody

[2015-09-05 06:25] aliaschoondy opened #13688 "ScheduleOnce isn't working as intended in certain condition."
Scheduled function is being executed repeatedly when delay is 0.

[2015-09-05 13:04] mazestoxic commented on #13581
@felixjingga @zilongshanren I think a bug is remained. When I touch edit box at first, cursor and text don't appear. It means, EditBox shows nothing. Placeholder text also disappeared. But when touch edit box again after touch other area, cursor and text are OK. After that, always OK. It happens only at first. Does it happen only for me? This is my test code

[code]

[2015-09-05 15:54] felixjingga commented on #13688
it was reported as #13582 and was fixed at #13585

[2015-09-05 17:23] #13688 closed, assigned to nobody

[2015-09-06 00:23] zilongshanren commented on #13581
@mazestoxic
What's your testing environment?  Android?
I will double check this issue.

[2015-09-06 01:53] zilongshanren commented on #13581
@mazestoxic
I can't reproduce your issue ...  I used your code but failed to reproduce it.
Can it be reproduced every time or does it happen randomly?
Thanks.

[2015-09-06 01:56] jminht commented on #13637
@zilongshanren
no, the code i create the sprite is

[code]

And i don't know what the problem is.

[2015-09-06 02:05] zilongshanren commented on #13637
@fusijie  please take a look at this issue.